[2021-08-12 18:35] dheiman opened #7408 "Funcotator not populating Match_Norm_Seq_Allele1 and Match_Norm_Seq_Allele2 when generating MAF"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [x] Latest public release version [4.2.1.0]
- [ ] Latest master branch as of [date of test?]

### Description
When processing a VCF with tumor and matched normal into a MAF, the `Match_Norm_Seq_Allele1` and `Match_Norm_Seq_Allele2` fields are not populated.

#### Steps to reproduce

`gatk --java-options -Xmx2048

[2021-08-13 07:00] ruqianl opened #7410 "GermlineCNVCaller exception raised from `createTempFileInDirectory`"
## Bug Report

### GermlineCNVCaller

### Affected version(s)
- [ ] (GATK) v4.2.1.0

### Description
Java exception raised when aggregating counts for samples with a name shorter than 3 characters. For example, in the pasted logs, it errors out when processing sample with interval read counts in `94.mkdup.sort.rg.tsv`.

And I found removing the sample from the list of files would avoid the error.

[2021-08-13 10:27] mdayii commented on #7397
@cmnbroad
Sorry It is not possible to sign up to the forum that you mentioned. The sign up bottom is not active.

[2021-08-13 12:53] samuelklee commented on #7410
Thanks for bringing this to our attention, @ruqianl! Kind of a strange and unexpected requirement on the part of java.io.File.createTempFile---who knew? Just opened a PR with a fix.

[2021-08-13 16:26] ldgauthier commented on #6689
This is probably complicated by a bug in the htsjdk warning from previous versions, which should be fixed in the latest master now.  There's probably still a bug, but the error will be more informative now.

There may be a ploidy-related bug since the somatic genotypes are a little funky that way.  I don't like the fact that this is calling a biallelic method.

@fleharty if you still care about th

[2021-08-16 12:34] samuelklee commented on #4007
Just noting here that I saw a lot of intermittent 60-minute Travis timeouts for the gCNV case mode WDL tests in #7411. I'm pretty sure that at some point we were running cohort + case together, so not sure why case alone is now hitting the limit. So might be worth investigating and tightening up the tests/data. Also note @ldgauthier's concerns about using a fake dictionary in the simulated data in

[2021-08-16 18:38] droazen commented on #7397
@gbrandt6 Could you please comment on the issues @mdayii is having with signing up for the GATK forum? Thanks

[2021-08-16 18:39] jamesemery commented on #7403
To add some commentary to why this is happening: It looks like multiple threads are hitting this line simultaneously and based on the overload of `ArrayList.add()` this error could be triggered by multiple calls to `ensureCapacityInternal()` inside the add method:
[code]
The fix should be simple you just have to make sure ti synchronize the initialization or swap out the readSources object to one

[2021-08-16 18:50] gbrandt6 commented on #7397
@mdayii @droazen It looks like there is something wrong with our site, I am looking into it now. Thanks for the heads up!

[2021-08-16 19:02] #7410 closed

[2021-08-16 20:32] gbrandt6 commented on #7397
@mdayii could you please share a description and screenshot of the issue you are seeing? Our site is working fine. One thing you should check is that cookies are enabled with your browser.

[2021-08-16 21:31] jonn-smith commented on #7408
@dheiman Good catch.  It is indeed not being populated.  The fix is pretty quick - I've implemented it already, I just need to add in some test cases.

[2021-08-16 21:47] vruano commented on #7403
Chaning the holding collection to a Vector which is synchronized. There is no performance impact as this add and single collection iteractiion should happen just a finite number of times.

[2021-08-16 22:06] vruano commented on #7403
PR with the fix is in place.

[2021-08-16 23:36] #7403 closed

[2021-08-17 07:57] dwuab commented on #7012
What is the status of this issue? I have encountered exactly the same error with GATK 4.2.1.0.

[2021-08-17 11:07] mdayii commented on #7397
<img width="905" alt="Screen Shot 2021-08-17 at 14 05 57" src="https://user-images.githubusercontent.com/75674296/129715691-2e21ec32-6d0b-48f9-93b5-df98b9b8d3d2.png">

gbrandt6; I added screenshot. Thank you.

[2021-08-17 15:34] tblewett commented on #7162
I am running into the same issue with v4.2.0.0. Has this been fixed yet?

[2021-08-17 16:41] mlathara commented on #7012
@dwuab which issue/error are you specifically referring to? As indicated in the last message before you posted, the previous user was able to use GenomicsDBImport and GenotypeGVCFs after following our suggestions to break up large chromosomes into smaller intervals.

[2021-08-17 18:17] gbrandt6 commented on #7397
@mdayii I see, yes. You will need to allow cookies to be able to sign up.

[2021-08-17 20:31] samuelklee commented on #5625
Lots of refactoring was done for the Segmenter classes in #2924. At least for segmentation, all use cases (CR-only, AF-only, CR+AF, single-sample, multi-sample) now go through `MultisampleMultidimensionalKernelSegmenter`. `AlleleFractionKernelSegmenter` and `CopyRatioKernelSegmenter` classes still exist, but both simply call the `MultisampleMultidimensionalKernelSegmenter` class; this was done so

[2021-08-17 20:31] #5625 closed

[2021-08-17 20:37] samuelklee commented on #4553
Eh, let's just make them required for the sake of reproducibility. I don't think file sizes are too onerous, especially compared to the previous TSV-concatenation approach; see e.g. https://github.com/broadinstitute/gatk/issues/2858#issuecomment-317614503 for some numbers.

[2021-08-17 20:37] #4553 closed

[2021-08-17 20:38] samuelklee commented on #4198
I am not sure if any performance gained by having Spark versions of these tools is worth the support cost. Can reopen if we feel otherwise.

[2021-08-17 20:38] #4198 closed

[2021-08-17 20:40] samuelklee commented on #4199
CollectAllelicCountsSpark was merged in #5222. Not sure how widely or how it's being used---might be good to get a sense of this, at some point.

[2021-08-17 20:40] #4199 closed

[2021-08-17 20:46] samuelklee commented on #4375
I think the real challenge will be doing something worthwhile within the constraints of our Travis environment. Perhaps this sort of thing is best left to CARROT, even though it might not rise to the "pipeline" level.

[2021-08-17 20:57] samuelklee commented on #4397
I think issues with gCNV postprocessing initially stemmed from things like 1) taking large transposes (which Cromwell may have had trouble with at some point), 2) localizing more files than necessary for each sample, 3) introduction of lexicographical globbing bugs, etc. I think various people have tried to address this via things like bundling, which we ended up reverting. Unfortunately, I'm afra

[2021-08-17 21:17] mdayii commented on #7397
Thank you. It is now okay.

[2021-08-17 21:25] gbrandt6 commented on #7397
Great!

[2021-08-18 15:48] jonn-smith commented on #7408
@dheiman I've implemented a fix in PR #7422, but I wanted to check to see if you're aware that TCGA MAF spec v2.4.1 has an _**interesting**_  definition of these fields in the case of insertions:

![image](https://user-images.githubusercontent.com/11667487/129929526-4a9bd6a2-5985-4317-9d74-80e939cc038b.png)

So these fields will actually contain alt/tumor bases in the case of an insertion.

[2021-08-18 16:17] jonn-smith opened #7424 "Funcotator doc updates: produces `TCGA MAF` files, not `GDC MAF` files"
Funcotator produces MAF files in accordance with `TCGA MAF Spec v2.4.1` ([TCGA_MAF_SPEC_2_4_1.tar.gz](https://github.com/broadinstitute/gatk/files/7008573/TCGA_MAF_SPEC_2_4_1.tar.gz)).  The current public MAF format is [`GDC MAF v1.0.0`](https://docs.gdc.cancer.gov/Data/File_Formats/MAF_Format/).

All our documentation must be updated to reflect this.

Worse, the TCGA MAF 2.4.1 Spec is now locked

[2021-08-18 16:26] dheiman commented on #7424
Try https://docs.gdc.cancer.gov/Encyclopedia/pages/Mutation_Annotation_Format_TCGAv2/ - it's not behind a login screen.

[2021-08-18 16:28] droazen opened #7425 "Add Azure Blob support using azure-storage-blob-nio"
Let's see if we can get Azure Blob support working in GATK using the existing azure-storage-blob-nio NIO plugin:

https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/storage/azure-storage-blob-nio

https://search.maven.org/artifact/com.azure/azure-storage-blob-nio/12.0.0-beta.8/jar

Currently auth info needs to be manually passed in, unlike with the Google NIO plugin, but I've opened a featu

[2021-08-18 21:51] jonn-smith commented on #7424
Excellent!  I'm very glad to be wrong on this one.

[2021-08-18 23:23] #7408 closed

[2021-08-19 07:47] johjoon commented on #6857
Hello，
Have you fixed the issue? @asntech I am also using ` bcftools merge` to  merge Mutect2 vcf file and getting the error `wrong number of fields in AS_FilterStatus?` when came across the multiple donors.
Hope for your reply. Thanks!

[2021-08-20 09:34] 2624178329 commented on #6875
I meet a same error, but the result is still exist.

[2021-08-20 20:42] jamesemery commented on #7398
Hello @freeseek. It should be noted that you might be somewhat confused about what the -SO arguments do in the tools:
`-SORT_ORDER "unsorted"` which has the help description `"The order in which the merged reads should be output.  Default value: coordinate. Possible values: {unsorted, queryname, coordinate, duplicate, unknown}."` For MergeBamAlignment that argument doesn't change how the input sor

[2021-08-20 20:42] #7398 closed

[2021-08-20 21:35] freeseek commented on #7398
@jamesemery thank you! My bad, since I was running `MergeBamAlignment` through the GATK release from this github repository, I mistakenly assumed this would be the correct place where to report an issue. You are right though that this is the intended behavior of `MergeBamAlignment`. I did not see this as a bug, but rather as an issue with the `MergeBamAlignment` design which inflexibly requires to

[2021-08-20 23:34] YanisChrys opened #7433 "IllegalArgumentException: Illegal base [ ] seen in the allele when running FastaAlternateReferenceMaker"
I use these steps to produce variant calls for haploid data:
HaplotypeCaller in GVCF mode -> CombineGVCFs -> GenotypeGVCFs
and I then create a snpmask file by adding to it any sites I don't want and keep all called SNPs and INDELs inside per sample vcf files. I then try to create a consensus sequence by running in GATK v 4.2.1.0:

[code]

But I get this error:

`
java.lang.IllegalArgumentException

[2021-08-22 17:59] YanisChrys commented on #7433
This is happening again in a different sample in a much less obvious position (20140) after much more stringent filtering where the position no longer has called neighbors:

[code]

This time the Exception looks like this:

[code]

 I suspect that something goes very wrong when I do the (joint) variant calling because this is happening on published samples too that I'm also trying to call again. I

[2021-08-23 17:09] GATKSupportTeam commented on #7433
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/178907'>Zendesk ticket #178907</a>)</i>

[2021-08-23 23:28] YanisChrys commented on #7433
An update/unwanted solve:
Caveat: I'm sorry I didn't provide more information about this issue beforehand, in fact, I create the vcf file by calling:

[code]

(some of the select checks might be redundant but I wanted to be on the safe side)
**The error doesn't happen when I remove "--remove-unused-alternates"**
This is very unfortunate as I need that to force the sites to be biallelic and to filt

[2021-08-24 15:03] lbergelson commented on #7433
@YanisChrys Hey, I haven't gotten a chance to look into this properly yet.  The bit about `--remove-unused-alleles` sounds important. It seems likely we're breaking some (bad) assumptions the tool makes when we remove alleles midway through and it's falling over because of that.

[2021-08-24 15:42] YanisChrys commented on #7433
Hi, after a lot of trial and error that's what I figured as well. It would be interesting to know what assumptions are broken and if there is a way to avoid it or even to make the --remove-unused-alternates option compatible with FastaAlternateReferenceMaker.
What I still don't know is if the tool grabs the correct alternate when it sees more than 1 at a site. If yes, the above option is almost un

[2021-08-24 21:23] bbimber opened #7436 "Java Version?"
Hello,

Your docs (which I think are the latest), say GATK needs java 1.8 exactly:

https://gatk.broadinstitute.org/hc/en-us/articles/360035889531-What-are-the-requirements-for-running-GATK-

but your travis code seems to be using openjdk11:

https://github.com/broadinstitute/gatk/blob/master/.travis.yml

What's the current state of affairs?

[2021-08-25 02:39] jjfarrell commented on #7380
In preparing the VCF that generated the error, I had applied a hard filter on the excessHets variants before running the VQSR.  If  the excessHets are not filtered out, the VQSR runs fine.  I traced the error to having AS_MQ in the model without the excessHet variants in the vcf.

It would be nice to have a better error message.

[2021-08-25 04:35] jjfarrell opened #7437 "GenotypeGVCFs null exception"
## Bug Report

### Affected tool(s) or class(es)
GATK GenotypeGVCFs

### Affected version(s)
GATK 4.2.2.0

### Description

When running GenotypeGVCFs,
1. multiple warnings of **No valid combination operation found for INFO field**
2. AS_VarDP warnings:
[code]

3. java.lang.NullPointerException occurs.
4. No variants output into VCF

This is the log:
 java -Dsamjdk.use_async_io_read_samtools=false

[2021-08-25 04:59] jjfarrell commented on #7334
WIth the  4.2.2.0 ReblockGVCF it is running fine. This was without rerunning the HaplotypeCaller to create the gvcf just the reblock.

[code]

[2021-08-25 11:53] jjfarrell commented on #7437
I also tried the following approach which did not generate an error:

1. imported the 10 not-reblocked gvcfs from chr16 into genomicsdb
2. GenotypeGVCFs with the same command line as number 3 above.

So the error appears to be related to the reblocking of the gvcfs.

[code]

[2021-08-27 14:35] samuelklee opened #7441 "Consider restoring CigarUtils optimization for short-circuiting to M-only CIGARs."
An optimization introduced in https://github.com/broadinstitute/gatk/pull/5466 was removed in https://github.com/broadinstitute/gatk/pull/6885. The latter exposed Smith-Waterman parameters, allowing them to be changed from their default values and thus to possibly violate conditions assumed by the former. We could restore the optimization if we added explicit checks of these conditions.

[2021-08-27 16:21] GATKSupportTeam opened #7442 "Request created from: GATK4.0.3.0 GenotypeGVCFs - Could not open array genomicsdbarray"
This user is receiving an error in their workflow when using GATK4.0.3.0. The error in the particular step can be resolved using a newer GATK version but the user has used the older version for the rest of the workflow and would like a solution that allows them to continue with the older version.
This request was created from a contribution made by HT on August 23, 2021 05:44 UTC.

Link: [https://

[2021-08-29 02:07] dwuab commented on #7012
@mlathara The workaround of using multiple intervals does work (it took me more than one week to confirm, implying how annoying this bug could be), but several versions later, GATK still has this issue and could not even produce an informative error message. I could not find any mention of this issue in GATK's documentation. Is this bug going to be fixed?

[2021-08-30 17:34] GATKSupportTeam opened #7444 "Request created from: run into PythonScriptExecutorException when executing PostprocessGermlineCNVCalls about positional arguments"
This request was created from a contribution made by Yangyxt on August 30, 2021 08:18 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4405983290395-run-into-PythonScriptExecutorException-when-executing-PostprocessGermlineCNVCalls-about-positional-arguments](https://gatk.broadinstitute.org/hc/en-us/community/posts/4405983290395-run-into-PythonScriptExecutorException-when-execu

[2021-08-30 17:39] GATKSupportTeam opened #7445 "Request created from: SelectVariants --discordance not working as I expected"
This user is trying to subset all of the variants in their mutant samples that are not in the wild-type sample. The --discordance argument with the wild-type file specified is giving them 0 variants back despite discordant alleles being present.

This request was created from a contribution made by Carlos P Arques on August 26, 2021 21:08 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/commu

[2021-08-30 17:43] yangyxt commented on #7444
Hi, I think this can be closed now.

I just found that this issue might due to the inconsistency between gCNV version and PostProcessGermlineCNVCalls version.
I updated my python configuration from 4.1.8.0 to 4.2.2.0 and the issue is gone.

Sorry for the troubles here.

[2021-08-30 18:08] droazen commented on #7444
Thanks for following up @yangyxt ! Closing as resolved

[2021-08-30 18:08] #7444 closed

[2021-08-30 18:10] droazen commented on #7442
@GATKSupportTeam Has the user tried running GATK 4.2+ in every step of their pipeline, instead of just swapping out the `GenotypeGVCFs` version?

[2021-08-30 18:14] droazen commented on #7441
@samuelklee Is this at all related to this PR? https://github.com/broadinstitute/gatk/pull/6015

[2021-08-30 18:14] PamelaBretscher commented on #7442
@droazen I believe the issue is that they have already run the workflow on a set of samples in GATK 4.0.3.0 and want to be able to combine samples afterward so they would like to be able to stick to this version. Here is the comment from the user:
"Previously, we already applied a workflow with GATK 4.0.3.0 to ~1000 WES samples. But the joint calling step was using CombineGVCFs. I want to continue

[2021-08-30 18:14] #7436 closed

[2021-08-30 18:18] #7397 closed

[2021-08-30 18:24] ldgauthier commented on #7437
No -- I think I can get the branch merged this week.

[2021-08-30 18:31] droazen commented on #7442
@PamelaBretscher Our strong recommendation would be to upgrade the pipeline to a modern version of GATK, if at all possible. `4.0.3.0` is many years out of date at this point, and I'm not sure we'll be able to diagnose issues with the GenomicsDB version in use at that time. The user should also consider the many improvements and bug fixes to the HaplotypeCaller that have gone in since that version

[2021-08-30 19:15] samuelklee commented on #7441
@droazen thanks for noticing that PR. Looks like there’s quite a bit more going on there than is covered by this issue, although I didn’t take a close look. We should certainly make sure that any assumptions on SW parameters, etc. there are checked as well, if it does end up going in—seems quite stale, no?

Also, hope you don’t mind if I unassign myself from this—what’s the point of punting on som

[2021-08-30 19:31] fleharty opened #7447 "Can't run apt-get inside docker image"
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_

### Affected version(s)
- [x] Latest public release version 4.2.2.0

### Description

Running apt-get inside docker image fails.

#### Steps to reproduce

(base) fleharty@wm3b9-dfa docker % docker run -it broadinstitute/gatk:4.2.2.0
Unable to find image 'broadinstitute/gatk:4.2.2.0' locally
4.2.2.0: Pulling

[2021-08-30 19:33] fleharty commented on #7447
@droazen @lbergelson
I spoke with @jamesemery about this, and he suggested I make a ticket and ping you two.

I'm trying to use the GATK docker as a starting point, but I run into this problem with GPG signatures.

W: GPG error: http://packages.cloud.google.com/apt cloud-sdk-bionic InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY FEEA91693

[2021-08-30 19:37] GATKSupportTeam opened #7448 "Feature Request to improve JEXL expression for filtering on AD (SelectVariants / FastaAlternateReferenceMaker)"
This request was created from a contribution made by Yanis Chrys on August 19, 2021 11:35 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4405429551515-JEXL-expression-for-filtering-on-AD-SelectVariants-FastaAlternateReferenceMaker-](https://gatk.broadinstitute.org/hc/en-us/community/posts/4405429551515-JEXL-expression-for-filtering-on-AD-SelectVariants-FastaAlternateReferenc

[2021-08-30 19:51] fleharty commented on #7447
This problem also exists for the base image,
broadinstitute/gatk:gatkbase-2.3.0

[2021-08-30 20:33] PamelaBretscher commented on #7445
The user provided this information, and I believe they got the results they were looking for:
"I tried a couple of things that worked for me. I extracted all the individual files from the gvcf using the arguments --exclude-non-variants and --remove-unused-alternates, to ensure that the resulting VCF files had only real variants for that sample (GT = 1). Then, I used the --discordance argument as I

[2021-08-30 20:58] droazen commented on #7447
@fleharty This was believed to be fixed in https://github.com/broadinstitute/gatk/pull/7180

What happens if you manually run `curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -`, and then run the `apt-get` command ?

[2021-08-30 20:58] jamesemery commented on #6339
@lbergelson I just tested with one of our variants in the test suite for HaplotyeCaller (specifically `20	10098219	.	TATATATA	T,<NON_REF>`) and its definately the case that HaplotypeCaller will still output that variant even if you place the -L interval boundary inside the variant (like say at `10098221`).

Rhe HaplotypeCaller has its own filtering at Haplotype->Allele->Genotyper layer that restri

[2021-08-31 10:54] YanisChrys commented on #7448
Some additional information I can add about this is that a potential solution to this problem is to remove altenate alleles and force the sites into being biallelic but this causes problems in other tools, like FastaAlternateReferenceMaker, so it's not a viable solution.

Since AD is 0-indexed and GT starts at 0, GT really seems like the best way to access the elements of the AD array. Perhaps a n

[2021-08-31 19:55] fleharty commented on #7447
@droazen
Your suggestion works, thanks!

Should we close the ticket?

[2021-08-31 20:04] droazen commented on #7447
@fleharty Not yet -- I need to figure out why this happened again. I'm guessing that Google invalidated their package signing key after our most recent release. We may need to run that command every time the docker image is run, rather than just at build time. Or at least we should document the workaround somewhere in our README.

[2021-09-01 12:07] samuelklee commented on #5754
Default changed from 250 -> 20 in #5699 and exposed in #7450. Unfortunately, I don't recall if we did any benchmarking to spot check runtime/output changes, but I would expect 20 samples to be sufficient for estimating posterior means and standard deviations to the level needed for most downstream use cases.

[2021-09-01 12:15] fleharty commented on #5754
@samuelklee ahem... aren't you on vacation?

[2021-09-01 12:30] samuelklee commented on #5754
A bit of work on vacation here and there usually means I can take more vacations later!

[2021-09-02 15:09] AlirezaTafazzoli opened #7453 "GATK_DepthOfCoverage"
I am using GATK DepthOfCoverage tool for some of my samples.
I need to use genome reference GRCh37.
Everything is working fine but an error will occur whenever I run it (attached photos).
I have used all different type of references, including Ensembl, UCSC, NCBI, and GATK source itself but the same error is still there.
Also I know that I need to use a unique database and use that to create all f

[2021-09-03 02:29] Chenwei-cri opened #7454 "Two times HaplotypeCaller give different results"
I run HaplotypeCaller twice , the former one was stopped because of  unexpected power outages. I check the LOG and found the chromosome where HaplotypeCaller  stopped. So i star another HaplotypeCaller(later one) with the "-L  *.intervals", it begin from  the chromosome where former HaplotypeCaller  stopped.The ref genome and the parameters were all the same. However,  HaplotypeCaller give differe

[2021-09-03 02:45] Chenwei-cri commented on #7454
For chromosome D01 , Current Locus was different between two runs,is it normal condition?

[2021-09-04 18:01] jnktsj commented on #6289
While searching the error, I found this github issue!  I'm having the same error with gatk 4.2.0.0…  GP is trying to incorporate Funcotator into the clinical pipeline, it would be great if this fix can be made as soon as possible.  Thanks!
cc: @NiallJLennon @CarrieCibulskis

[2021-09-04 22:16] jonn-smith commented on #6289
@lydiarck - Not yet our priorities shifted and I haven't had time to address this.

@jnktsj That's great to hear.  I'm surprised because this is the first I've heard of it.  If you have some time, I'd love to discuss it with you (and / or Niall and / or Carrie).  I'm particularly interested in how you will incorporate new versions of the software as updates are made.

Things are starting to slow d

[2021-09-07 13:17] #6863 closed

[2021-09-07 19:34] elcortegano opened #7459 "Getting QUAL and MQ values for invariant sites"
I am running `gatk GenotypeGVCFs` and want to get output for all genomic sites. I was expecting the output to include parameters like QUAL and mapping quality (MQ) for invariant sites. This is based on a previous study that used an earlier release of GATK, v2.8-1 ([reference](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4617969/)) that used QUAL and MQ values from that sites (although I am aware t

[2021-09-08 11:45] Sasakawamiwa opened #7460 "GATK LiftoverVcf not recognized vcf4.2 file created by plink1.9"
Hello, I was using GATK4 LiftoverVcf  to adjust the coordinates of variants in my vcf4.2 file (created by plink1.9) to hg38 reference build. However,  I got this error:
The provided VCF file is malformed at approximately line number 218: Insertions/Deletions are not supported when reading 3.x VCF's. Please convert your file to VCF4 using VCFTools, available at http://vcftools.sourceforge.net/index

[2021-09-09 02:54] kuangtianhui opened #7461 "HaplotypeCaller step interruption"
Dear Author，

My gatk is gatk4-4.2.1.0-0. When my scripts run at HaplotypeCaller step, the process was interrupt for ram  dificient. If I run HaplotypeCaller only,  whether the gvcf file product last run will be overwritten? Or I should delete the last gvcf file, than starting HaplotypeCaller step again?

Best wishes,
Tian-hui Kuang

[2021-09-09 16:43] ldgauthier commented on #7459
Hi @elcortegano,

A lot of things changed in GATK3 with the advent of GVCFs.  We don't store annotation data for reference sites in GVCFs, partly because in most cases sites will be combined into large blocks where the values may not be very accurate anymore and partly because we'd just rather save space.  For basepair resolution we could output MQ values, we just don't have that capability at the

[2021-09-10 18:26] GATKSupportTeam opened #7465 "GATK 4.2.2.0 bug GenotypeGVCFs error IndexOutOfBoundsException"
This issue came up on the forum and Ted Brookings took a look at the stack trace to verify that it is most likely not an issue with the input data. The user also specified that they did not get this issue with GATK 4.2.0.0.

This request was created from a contribution made by Quentin Chartreux on September 10, 2021 12:27 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/440657

[2021-09-12 14:50] fo40225 commented on #5869
This issue only happens in genomes with a large number of chromosomes, such as hg38.

b37 and hg19 are fine.

workaround: `--conf spark.driver.extraJavaOptions=-Xss2m --conf spark.executor.extraJavaOptions=-Xss2m`

debug log:
[code]

related https://github.com/broadinstitute/gatk/issues/6750

[2021-09-13 14:10] gokalpcelik commented on #7454
HaplotypeCaller does not resume from where it stopped. If you need to perform the same task again restart the whole task using the very same commandline.

[2021-09-14 01:51] Chenwei-cri commented on #7454
Now I see. Thanks!

[2021-09-14 01:51] #7454 closed

[2021-09-17 04:49] shenweima commented on #6110
doi: 10.1093/gigascience/giab007
![image](https://user-images.githubusercontent.com/8536868/133726259-63c6f8a0-5a3f-4d49-887c-b1b9e9426e6a.png)

[2021-09-17 16:05] mwalker174 commented on #5754
@samuelklee Can you briefly explain how the sampling is used in CNR approximations and how they are used downstream? I would expect only 20 samples to give noisy estimates of mean and variance…

[2021-09-17 17:14] samuelklee commented on #5754
The only place I’ve used them is in the malaria genotyping method, where we calculate very simple annotations for each set of breakpoints—mostly summary statistics of the posterior means, like the minimum in a segment or the segment-level mean. We also calculate a single changepoint statistic using the posterior means. Didn’t see any indicators that posterior sampling noise was causing any issues—

[2021-09-17 19:06] mwalker174 commented on #5754
Thanks for that explanation. I'd rather set it to a safer value like 100 as a default - @asmirnov239 do you have any sense of how much this affects run time?

[2021-09-19 11:38] CromitDolores0808 opened #7474 "GATK Funcotator [SQLITE_IOERR_LOCK] I/O error in the advisory file locking logic (disk I/O error)"
## Bug Report
18:47:11.757 INFO  Funcotator - Shutting down engine
[September 19, 2021 6:47:11 PM CST] org.broadinstitute.hellbender.tools
.funcotator.Funcotator done. Elapsed time: 0.13 minutes.
Runtime.totalMemory()=1885339648
**org.broadinstitute.hellbender.exceptions.GATKException: Unable to query
 the database for geneName: WASH7P**
      ....
        at org.broadinstitute.hellbender.cmdline.

[2021-09-20 15:31] samuelklee commented on #5754
Looking at this again, plots in https://github.com/broadinstitute/gatk/issues/5764 might be useful. Probably OK to bump things up since the rest of inference will take up the bulk of runtime. Although I think one other consideration might be the WDL tests, since they run slow on Travis and already push the time limit. Perhaps set a lower value for those, if necessary? In any case, please double ch

[2021-09-20 15:51] mwalker174 commented on #5754
Interesting. We fixed the memory spike due to sampling correct? However, I wouldn't want to use more samples if it increases peak memory.

[2021-09-20 15:53] samuelklee commented on #5754
Yup! The sampling and calculation of means/stdevs is done online (I think @asmirnov239 added this) so it shouldn’t take additional memory to use more samples.

[2021-09-20 18:15] jonn-smith commented on #7474
I believe this is an issue with the `lustre` filesystem (it doesn't seem to support locking).  Others have reported this kind of issue with sqlite as well (https://github.com/CGATOxford/CGATPipelines/issues/39).

Unfortunately, I'm not aware of any way to fix the issue itself while using `lustre`.

However, you can move the funcotator data sources to a local disk and it should work fine.

[2021-09-20 18:15] #7474 closed

[2021-09-20 18:25] jamesemery commented on #7461
Hello @kuangtianhui. Sorry to hear that you had a failure. Generally you should not have to worry, if you rerun the same inputs with more RAM available GATK should happily overwrite the incomplete output files leftover from the last run. It doesn't hurt to delete them yourself to be sure. For future reference if you have questions of this nature that aren't related to bugs or feature requests you

[2021-09-20 18:25] #7461 closed

[2021-09-20 18:31] droazen commented on #7460
@Sasakawamiwa Can you check whether any of the alleles at line 218 contain IUPAC bases? In particular, is there a `D` present? If you could share this entire line with us (without the genotypes) that would be helpful.

[2021-09-21 16:42] GATKSupportTeam opened #7479 "GetPileupSummaries 'java.lang.IllegalArgumentException: Dictionary cannot have size zero' from wrong file type"
This user was getting a 'java.lang.IllegalArgumentException: Dictionary cannot have size zero' error message when they submitted a VCF as the -I input instead of a BAM. It would save other users a lot of troubleshooting if we added a check and a better error message.

This request was created from a contribution made by Ruiqiao Bai on September 12, 2021 01:06 UTC.

Link: [https://gatk.broadinstitu

[2021-09-22 20:37] ldgauthier opened #7481 "Improve treatment of GQ0s"
InbreedingCoeff uses likelihoods for its calculation _and_ uses GQ0s (regardless of call or no-call), which add equal likelihoods (to homRef and het or all three) because of the flat prior, which is out of HWE.  So the more GQ0s there are, the more likely a variant "looks" like it's out of Hardy-Weinberg equilibrium.  I would rather assign uninformative genotypes to be no-calls and ignore no-call

[2021-09-23 20:00] #3152 closed

[2021-09-23 20:01] mwalker174 commented on #5632
Oops

[2021-09-23 20:18] mwalker174 commented on #4806
NIO streaming is currently used to avoid BAM localization in `CollectCounts` and `CollectAllelicCounts`, which is particularly beneficial when running on a limited set of intervals. It is also used in `JointSegmentation` to stream VCFs, which saves on disk space.

Additional tasks that could benefit from streaming are those that use counts files inputs: `FilterIntervals`, `GermlineCNVCallerCaseMod

[2021-09-23 20:20] #4551 closed

[2021-09-23 20:20] #6131 closed

[2021-09-23 20:21] #4007 closed

[2021-09-23 20:25] samuelklee commented on #6131
OK to keep closed for now, but I know @takutosato will be looking at OTTER and SavvyCNV for liquid biopsy, so perhaps he can reopen and record any insights here if appropriate.

[2021-09-23 20:45] #4287 closed

[2021-09-23 20:49] mwalker174 commented on #5766
Closing as a part of my issue clearing rampage, but let it be known Pyro is on the roadmap for future CNV models, and we are currently looking into updating PyMC3 to resolve some dependency issues with gCNV.

[2021-09-23 20:49] #5766 closed

[2021-09-23 20:55] mwalker174 commented on #5891
Closing for now, could re-open if there is a request for this feature.

[2021-09-23 20:55] #5891 closed

[2021-09-23 21:04] mwalker174 commented on #5716
The bulk of this issue was addressed in #6266. I believe @samuelklee also did some detailed profiling and determined that the memory bottlenecks were inference-related.

[2021-09-23 21:04] #5716 closed

[2021-09-23 21:07] mwalker174 commented on #6128
Not a necessary change, though probably would have been preferred in hindsight.

[2021-09-23 21:07] #6128 closed

[2021-09-24 12:52] Dream-sugar opened #7482 "CombineGVCFS"
Teacher, may I ask you a question? Hello, I have a lot of samples. When merging multiple gvcf into one file, there is not enough memory. Can I merge them into several VCFS first, and then merge these VCF files?

[2021-09-24 16:39] #3976 closed

[2021-09-24 16:40] #4117 closed

[2021-09-24 16:44] mwalker174 commented on #2846
@droazen We can probably close this? An interesting idea but a bit vague and I don't see us addressing this.

[2021-09-24 16:47] mwalker174 commented on #2847
@droazen Close this one as well? Unlikely to see FFPE-specific tools but I will note that this is of interest for future CNV modeling efforts.

[2021-09-24 16:53] mwalker174 commented on #2835
Closing this issue, as there doesn't seem to be an impetus for this feature.

[2021-09-24 16:53] #2835 closed

[2021-09-24 16:56] mwalker174 commented on #3001
This is certainly of interest for capturing multi-allelic sites that can have very high copy states. We won't add this to the current gCNV tool, but I am noting this as a desired property for future models.

[2021-09-24 16:56] #3001 closed

[2021-09-24 17:02] samuelklee commented on #2847
Note that David R. is only on these issues because he's the one that ported them over from gatk-protected. I think it's safe to close this---I'd hope future denoising models would be more generalizable and able to handle FFPE (even if this might require e.g. FFPE-specific resource tracks).

[2021-09-24 17:02] #2847 closed

[2021-09-24 19:05] ldgauthier commented on #5632
The Talkowski lab version of this is in R and requires some packages that don't seem to be available anymore.  It also localizes all the files with a separate Java program they developed.  Their implementation is here (most critically gCNV_Pipeline.Rmd and gCNV_helper.jar): https://github.com/theisaacwong/talkowski/tree/master/gCNV  It appears to be under active development.

My simplified impleme

[2021-09-24 19:18] ldgauthier commented on #5632
PCA results from the R pipeline for the full CMG cohort are in the bucket associated with my workspace: gs://fc-d3bc13de-ef61-4854-a05c-d311219008b3/pca.rda  The rownames in pca$x should be the sample names

Also in the bucket are two bed files.  the aux_capture_uniques was used for clustering in the R pipeline and the gencode file was used for calling.

Other notes:
gCNV_helper.jar is Java 14 and

[2021-09-26 03:23] vladsaveliev opened #7483 "GnarlyGenotyper parse AS_RAW_MQ spanning deletions"
### Instructions

## Bug Report

### Affected tool(s) or class(es)
GnarlyGenotyper

### Affected version(s)
4.2.2.0, 4.2.1.0

### Description

I've got 2 GVCFs, one with a SNP on chr7:2377548:

[code]

Another one with an upstream indel event spanning chr7:2377548:

[code]

When merged into a GenomicsDB, they give an empty string in the `AS_RAW_MQ` array:

[code]

Which leads to a GnarlyGenotyper

[2021-09-27 13:16] xhxlilium opened #7484 "GATK error ：OSError: [Errno 8] Exec format error: 'java'"
I have run :
gatk  MarkDuplicates -MAX_FILE_HANDLES 1000 -I ERR036185_sort.bam -O ERR036185_mark.bam -M ERR036185_mark_metrics.txt

but raise an error:OSError: [Errno 8] Exec format error: 'java'
i don‘t know why this error raise, as I can successfully run the command "gatk" without error,but if "gatk  MarkDuplicates", the error raised again

[2021-09-27 16:36] #4058 closed

[2021-09-27 16:53] mwalker174 commented on #4055
Closing this issue for now, but I think this is an important point.

For CNV and SV tools in general, we need to improve QC functionality. Capabilities for visualizing model output, particularly contig ploidy calling where sample quality and mosaicisms could negatively affect CNV calling, are critical. Warnings would be a bare minimum, but in practice I don't think this go far enough, as most of t

[2021-09-27 16:53] #4055 closed

[2021-09-27 18:19] #4059 closed

[2021-09-27 18:30] droazen commented on #7484
@xhxlilium This error indicates that the version of Java you've installed on your system does not match the CPU architecture -- for example, the Intel version of the JDK on an ARM system. Can you confirm that you've installed the correct JDK for your system?

[2021-09-27 18:31] mwalker174 commented on #5633
I think the 3-step breakdown is the way to go. We would like to have something like this for gatk-sv as well. We typically batch based on 1) median depth quantile, and 2) dosage bias scoring (https://github.com/RCollins13/WGD). I think PCA might be a generalization of the latter, but we should try to converge on a batching scheme to use across projects (MalariaGEN, gatk-sv, and various WES project

[2021-09-27 18:31] #7484 closed

[2021-09-27 18:34] droazen commented on #7483
@ldgauthier Thoughts on this one?

[2021-09-27 18:36] droazen commented on #7482
@Dream-sugar That approach should work, yes -- you should post this on our user forum (https://gatk.broadinstitute.org/hc/en-us/community/topics) for further assistance in setting up such a pipeline.

[2021-09-27 18:36] #7482 closed

[2021-09-27 18:38] mwalker174 commented on #4397
Most of the scaling issues in Cromwell/Terra have been resolved. Terra still has limitations on workflow metadata size, and passing long file arrays to ever task in large scatters (i.e. the full list of counts files is passed into every gCNV shard) can limit our batch sizes for workflows that embed gCNV (e.g. GatherBatchEvidence in gatk-sv). gCNV workflows also don't call cache reliably (presumabl

[2021-09-27 18:53] #4738 closed

[2021-09-27 18:58] #2846 closed

[2021-09-28 17:42] jkobject opened #7485 "mutect2.wdl basename(basename("
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_

### Affected version(s)
- any version with basename(basename()) function call. (e.g. latest version on master)

### Description
[code]
#### Steps to reproduce
Just run the mutect2.wdl on terra it seems create the issue (maybe using a bam filepath with a name in "gs://[path]/[NAME].hg38.bam"

#### Expected b

[2021-09-28 18:02] jkobject commented on #7485
issue seems related to https://support.terra.bio/hc/en-us/community/posts/4407522454811-Workflow-errors-caused-by-basename-call

[2021-09-29 09:45] xhxlilium opened #7486 "why markDuplication function return blank output without any information"
I can run markDuplication command，but it return blank output without any information

[2021-09-29 10:23] #7486 closed

[2021-09-29 16:36] nalinigans commented on #7012
@dwuab, we are making some performance improvements with GenomicsDB and still are in the testing stage. Just wondering if you could try gatk from this branch `https://github.com/broadinstitute/gatk/tree/genomicsdb_142` to import large intervals(the ones that were problematic before) and let us know.

[2021-09-29 16:56] seunghun23 opened #7487 "GATK gCNV doesn't recognize BAM index input which isn't located in the same origin folder as BAM file"
Hi,

I'm trying to run "cnv_germline_cohort_workflow" from this workspace (https://app.terra.bio/#workspaces/help-gatk/Germline-CNVs-GATK4), and the workflow is keep failing at the "CollectCounts" step with the following error
in multiple shards

--------------------------------------------------------------------------------------------------------------------
A USER ERROR has occurred: Traversal

[2021-09-30 23:57] gileshall commented on #7157
I submitted a PR to implement the first two suggestions, but I think the third feature already exists (try the `--extension` flag).

[2021-10-02 19:14] giancarlolamedica opened #7489 "CrosscheckFingerprints Requester Pays Bucket support"
CrosscheckFingerprints cannot access to "Requester Pays" buckets, can it be changed to support the "--gcs-project-for-requester-pays" option as in the GenomicsDBImport tool?

[code]

[2021-10-04 15:48] fleharty opened #7490 "Add flag to M2 to modify behavior of AD tag to reflect fragment counts"
## Feature request

### Tool(s) or class(es) involved

Mutect2

### Description

Currently the AD tag reports read depth, but most downstream tools expect this flag to report fragment dept.
Add flag to M2 to modify behavior of AD and AF tags to reflect fragment counts.

[2021-10-04 20:10] fleharty commented on #7490
After discussion with @davidbenjamin the decision is not to create a new option, but instead to make AD use fragment depth, and create a new annotation RAD (read alternative allele depth) that will use the current logic for AD.

[2021-10-04 21:05] #7485 closed

[2021-10-04 21:10] jkobject opened #7492 "Mutect2.wdl: "pet-@.gserviceaccount.com does not have storage.buckets.get access to the Google Cloud Storage bucket"
Hi,

Using GATK mutect2's wdl file on Terra (version 21 on agora) I keep getting the same error:
"pet-102022583875839491351@broad-firecloud-ccle.iam.gserviceaccount.com does not have storage.buckets.get access to the Google Cloud Storage bucket"

Here is part of the stacktrace :
[code]

This happens while it runs the command:

[code]

But I gave read (both regular and legacy) access to gs://ccleba

[2021-10-05 16:31] lbergelson commented on #7492
We've definitely seen this exact issue before (https://github.com/broadinstitute/gatk/issues/6349, https://github.com/broadinstitute/gatk/pull/6594) and it was caused by the lack of correct permissions.  The existing roles are very confusing.  Make sure you actually have the `storage.buckets.get` role set.  It's a feature of `Storage Legacy Bucket Reader` and not part of `Storage Legacy Object Rea

[2021-10-05 20:07] jkobject commented on #7492
Yes I know but still, I gave it Storage Legacy Bucket Reader access to both buckets....
Is it possible it can come from the gs://gcp-public-data--gnomad or gs://genomics-public-data buckets?
<img width="1352" alt="Screenshot 2021-10-05 at 16 05 09" src="https://user-images.githubusercontent.com/17239533/136094811-db2fc1ff-56f0-4ad7-a3b7-dac0e4663ad3.png">
<img width="1430" alt="Screenshot 2021-10-

[2021-10-05 22:12] jkobject commented on #7492
I can confirm it was due to "gs://gcp-public-data--gnomad" not giving the correct authorization.. I had to copy the file in my own workspace.

It seems pretty problematic as it is the recommended file to run the workflow with...

[2021-10-05 22:12] jkobject commented on #7492
there is more to the stack trace but no information about which file/bucket is the problematic one..

[2021-10-05 22:46] jkobject opened #7494 "[mutect2] "no normal.pileup" error in mutect2.wdl tumor only mode"
Hello, more information on the parameters and runtime can be found here: #7492

the stacktrace is now:
[code]

I run mutect2 in tumor only mode.
Interestingly, this error always only happen at the last shard only (every other shard runs to completion)

Thanks!

[2021-10-05 22:47] jkobject commented on #7492
it worked, now I am back on another error I had already seen before: #7494

[2021-10-05 22:47] #7492 closed

[2021-10-06 17:42] jkobject commented on #7494
Actually, for some other samples, I get this error:
(not necesarrily the last shard, but every other shards seem to work till completion)
[code]

[2021-10-06 20:19] fleharty commented on #7494
@davidbenjamin Could you take a look at this?

[2021-10-07 16:25] grafitos opened #7496 "[MUTECT2] Java can throw Null Pointer exception when bed is not based on the same reference as bam file"
## Bug Report

### Affected tool(s) or class(es)

Mutect2
`
java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx130g -jar /gatk/gatk-package-4.1.8.1-local.jar Mutect2 -R /ucsc.hg19.fasta -I my.bam -L /test.bed --f1r2-tar-gz DD.f1r2.tar.gz --force-active --genotype-germline-sites --kmer-s

[2021-10-07 19:34] droazen opened #7497 "SelectVariants should perform site-level filtering before genotype-level filtering"
When there are many samples in a VCF and decoding the genotypes is an expensive operation, it makes sense to do all the site-level filtering first before fully decoding the record and examining the genotypes.

Unfortunately, `SelectVariants` currently does some of the genotype-level filtering before the site-level filtering, which can cause performance issues with large callsets.

[2021-10-08 03:12] ShuwenXia commented on #7147
Hi lubocoix, did you fix the error? I got the same issue. Please let me know how did you fix the problem. Many Thanks!!

[2021-10-08 18:46] #7494 closed, assigned to davidbenjamin

[2021-10-08 19:23] jkobject commented on #7494
yes I think this is the reason of that error. but the reason the tool crash seems to be related to memory. I have run with 16 vs 32 and only the later runs to completion on a set of 30 WES (no specificly deep sequencing but they are cell line genomes)

[2021-10-08 19:31] lbergelson commented on #7494
It's weird, usually java should output an error message if it runs out of memory.  The exception would be when java is assigned so much memory that the SYSTEM kills it instead of java killing itself.
You could try adding `dmesg | tail -100` to your wdl after m2 runs to see if there are any messages from the OOMkiller.

What's your total available memory on the machine and your -Xmx setting? You ty

[2021-10-08 19:34] jkobject commented on #7494
yes I left the rest to the pipeline, I had initially increased hard drive and boot disk size but it worked without that.
Let me share the workspace with you so you can have a look.

[2021-10-09 07:25] milkcookie opened #7499 "gatk haplotypecaller return error"
Dear all:
 I have a error flow:
INFO  14:49:42,880 HelpFormatter - ------------------------------------------------------------------------------------
INFO  14:49:42,883 HelpFormatter - The Genome Analysis Toolkit (GATK) v3.8-1-0-gf15c1c3ef, Compiled 2018/02/19 05:43:50
INFO  14:49:42,884 HelpFormatter - Copyright (c) 2010-2016 The Broad Institute
INFO  14:49:42,884 HelpFormatter - For support an

[2021-10-09 07:35] milkcookie commented on #7499
my gatk version is v3.8-1-0

[2021-10-10 05:08] LRFreeborn commented on #7250
@droazen I'm getting a similar error (see below), but the 'import tensorflow as tf' didn't work for me. Any suggestions? I installed gatk 4.2.2 from the zip file and built the python environment with miniconda

Error log:
org.broadinstitute.hellbender.utils.python.PythonScriptExecutorException: A nack was received from the Python process (most likely caused by a raised exception caused by): nkm re

[2021-10-11 07:48] BaylieRW opened #7500 "Input file is not in valid block compressed format"
Hiya,

I downloaded some VCF files for SNP detection in GATK. However when I tried to use them at the recalibration step it said I needed an index, when I try an run the index feature function it gives me the error: Input file is not in valid block compressed format. The files are .VCF.gz. Is there a way of reformatting please?

Best wishes,
B

[2021-10-12 17:14] samuelklee commented on #4806
@asmirnov239 note https://github.com/broadinstitute/gatk/pull/6266.

[2021-10-12 18:14] #7499 closed, assigned to nobody

[2021-10-14 16:52] lbergelson commented on #7496
@grafitos I just want to say thank you for this really excellent bug report.  I wish all of them had a detailed stack trace and included the problematic line of code :)

[2021-10-14 18:36] GATKSupportTeam opened #7504 "FilterFuncotations Duplicate key error"
An issue has come up on the GATK forum with a user running FilterFuncotations. They have two transcripts for the same gene and are getting a duplicate key error. Ted Brookings identified how to solve this issue:
-The exact problem is in AlleleFrequencyUtils.java, line 30.
-The solution is to skip collecting as a map, have getMaxMinorAlleleFreq take a stream and return an optional float, then retur

[2021-10-14 19:37] jkobject commented on #6289
Hi, getting the same error trying to run this new mutect2 pipeline on CCLE. We will not annotate mutect2 with funcotator in the meantime but would also be very useful to us if this problem is solved! (it impacts ~15% of our samples)

Thank you @jonn-smith !

[2021-10-15 04:53] asmirnov239 commented on #5754
I have benchmarked several runs with various parameters for number of samples for emitting denoised copy ratio. In particular, with num_samples = 20, 200, 500.
 The average shard run time for num_samples=20 was 2h34m, for num_samples=200 also 2h34m and for num_samples=500 it  was 2h35m, so there is really no significant difference in the runtime.

Here are the concordance plots for different param

[2021-10-15 12:23] vmaximov-bg opened #7507 "Contamination without match sample is always zero"
## Bug Report

### Affected tool(s)
CalculateContamination

### Affected version(s)
- [ ] 4.2.2.0
- [ ] Latest master branch as of 1 Oct 2021

### Description
CalculateContamination reported significant contamination when implemented with the matched-normal sample. Contamination was 0 without matched-normal. The VAF distribution represent high contamination:
![image](https://user-images.githubuser

[2021-10-18 13:44] cmnbroad commented on #7444
@urano95 Are you certain that you're running with the correct GATK conda environment? The previous report for this issue indicates that it was caused by using an out-of-date GATK python environment. I would remove and then re-create the GATK conda environment and see if the problem persists.

[2021-10-18 18:26] ldgauthier commented on #7483
Thanks for the test data @vladsaveliev !  I already had a fix for this in a branch.  We can probably get it merged in time for the up coming release.

[2021-10-19 00:41] asmirnov239 commented on #6994
Closed by #7464

[2021-10-19 00:41] #6994 closed

[2021-10-19 19:29] ldgauthier opened #7512 "AS_RAW_RankSum output is inconsistent for alleles with no data"
A shortcut in the code returns empty values if there are no reads supporting the reference, but if an alt has no reads then the rank sum test from Apache Math returns NaN.

Output for invalid rank sum test Z-scores should return null/empty rather than NaN.  (Pipe-delimited raw annotations don't have to follow the VCF spec using `.` for missing.)  This will involve updating a lot of exact match int

[2021-10-19 22:45] LRFreeborn commented on #7250
@cmnbroad small update: i tried creating the conda environment from a fresh miniconda install and got the same error I included in my above post.

[2021-10-20 18:00] jamesemery opened #7514 "Port HaplotypeCallerGenotypingDebugger to Mutect2"
As part of #6634 we added a debugger option to HaplotypeCaller `--debug-genotyper-output` that includes a huge amount of information about everything that goes in the HaplotypeCaller from assembly -> genotyping. This has proved invaluable for debugging and evaluating variants that are failing due to the HMM or any of the filtering steps that drop reads in those tools. It recently came up in a User

[2021-10-21 05:21] wenluo711 opened #7515 "HaplotypeCaller core dump on selected jobs"
Hi GATK developers:

Have 4 pacbio WGS bam files do to Haplotype calling. Each bam file was divided by chromosomes, but 3 parallele jobs failed due to java core dump:
- Syntax I ran was pretty basic, I also tried latest gatk version4.2.2.0, same result. Java version is ``` OpenJDK Runtime Environment (build 1.8.0_252-b09) ```
[code]
- Error message is also different
- First one is :
[code]

-Secon

[2021-10-21 15:22] jonn-smith opened #7516 "LeftAlignAndTrimVariants doesn't work on MNPs"
The documentation for `LeftAlignAndTrimVariants` indicates that it only works for indels.  It should be updated to work for MNPs as well.

This operation would simply remove any common leading bases from all alleles of a `VariantContext` and update the start position by however many bases were removed.  It would be implemented in `LeftAlignAndTrimVariants.java:289` replacing the noop for non-indel

[2021-10-22 02:10] wenluo711 commented on #7515
resolved with version 4.2.2

[2021-10-25 19:44] jonn-smith opened #7523 "Add integration tests in Funcotator for out of bounds variants"
Add more test cases for the errors seen in issue #6289

Specifically we should add both more unit tests and integration tests.

One variant that should be added in integration tests is the following:
[code]

The issue with adding more tests is that we don't have the full Funcotator datasources in our `git-lfs` repo because of size concerns.  To add tests we'll need to add more intervals to our dat

[2021-10-27 15:15] bbimber opened #7526 "Questions on managing a large but growing variant dataset"
If you'd prefer i post this kind of question elsewhere, please let me know.

My lab creates a large dataset of macaque variant data. We regularly add new samples to a dataset that currently has ~2300 WGS/WXS datasets. We largely follow the GATK short variant calling pipeline. Our gVCF data are aggregated into a GenomicsDb workspace, followed by GenotypeGVCFs. As is, whenever we get new samples, we

[2021-10-28 21:05] jason-cerrato opened #7532 "Mutect2 WDL: Funcotate task has useless variables - no way to increase memory for Funcotate task only"
## Bug/Usability Report

### Affected tool(s) or class(es)
Mutect2 WDL

### Affected version(s)
- [x] Latest public release version [4.1.81]
- [x] Latest master branch as of October 28, 2021

### Description
The Mutect2 WDL's Funcotate task has an unintuitive setup with regard to setting memory for the Funcotate task. Funcotate task memory is defined [here](https://github.com/broadinstitute/gatk/b

[2021-10-29 18:20] #6972 closed

[2021-10-29 18:25] fleharty commented on #7532
@davidbenjamin Can you take this?  I'm not going to have any time to work on this.

[2021-10-29 19:03] droazen opened #7536 "Branch builds are no longer getting skipped in travis"
It appears that both the "branch" and "PR" builds are always running the complete test suite in travis. We had added a check in previously to skip the "branch" builds to save on costs.

Here's an example:
https://github.com/broadinstitute/gatk/pull/7533

[2021-10-29 19:03] droazen commented on #7536
@lbergelson ^^

[2021-10-29 19:13] lbergelson commented on #7536
I suspect this instance is cause by the branch being pushed and then a pr being created after a small delay.  It gives the travis vms enough time to start and pass the check for "no pr exists".  Then the PR is created and it starts a pr build while the original branch build is still runnning.  I suspect a second push on this branch won't run the branch build again.

There's a small window of time

[2021-10-29 19:20] droazen commented on #7536
@lbergelson Here's another example of a PR that's been up a while and been through several rounds of review, and yet in the latest travis builds the branch builds are still not getting skipped:

https://github.com/broadinstitute/gatk/pull/7511

[2021-10-29 19:21] lbergelson commented on #7536
Yeah, that one is suspicious...

[2021-10-29 19:35] lbergelson commented on #7536
Hmn.  I'm not sure what's going on.  The script seems to work locally.  I've reset the api token to a new one, maybe it was messed up?

[2021-10-29 19:45] lbergelson commented on #7536
@droazen I put a new github api token in and tested it here https://github.com/broadinstitute/gatk/pull/7537.  It successfully skipped.  I'm not sure what went wrong but I must have messed up the token when I rotated keys.

Going to close this.  Reopen if you see this again going forward.  The token is set directly in travis so it propagates without a rebase.

[2021-10-29 19:45] #7536 closed

[2021-10-29 20:59] adaykin opened #7538 "VCF files with different syntax for chromosomes than the reference file are not detected"
## Bug Report

### Affected tool(s) or class(es)
LeftAlignAndTrimVariants

### Affected version(s)
I've only tested with v4.2.2.0

### Description
When running LeftAlignAndTrimVariants the program exited with a message that said:
"A USER ERROR has occurred: Input files reference and features have incompatible contigs: No overlapping contigs found.
  reference contigs = [chr1, chr2, chr3, chr4, chr

[2021-10-31 05:39] #7318 closed

[2021-11-01 18:29] bbimber opened #7542 "GenotypeGVCFs memory/Xmx when reading GenomicsDB workspace as input?"
Hello,

When using GATK GenomicsDbImport, I understand that both the java layer and C layer use memory and therefore we need to allow a buffer for the genomics DB code. We're getting odd behavior from GenotypeGVCFs memory. We run a command similar to:

[code]

We find the job is using ~466GB, not the 384 I'd expect it to be constrained by. Does using a genomics DB as input result in some other non

[2021-11-02 12:52] DuyDN commented on #6242
I still have the same issues, what can we do to get the  Number of read groups must be >= 1.
Thanks

[2021-11-03 18:28] jamesemery opened #7543 "Revisit "Jumbo"Annotations and find a more descriptive name"
Recently for Mutect a new class of `JumboInfoFieldAnnotations` and `JumboGenotypeAnntations` were introduced into GATK and their names are somewhat misleading and confusing on first pass. I would suggest renaming them to `FragmentAnnotations` or something that more accurately describes what they are using.

Furthermore given the state of the annotation engine and the type system nightmare that lur

[2021-11-08 12:47] AlirezaTafazzoli opened #7547 "Script for chromosome Y features"
Hi,
I'm looking for any shell script which may provide the Y chromosome structure information, gene names, number of repeated/duplicated genes, STRs list, etc. via Terminal.
Can anybody help me with that?

[2021-11-08 13:27] fgvieira opened #7548 "SplitIntervals: further tweaks"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-11-08 13:39] DuyDN opened #7549 "The covariates table is missing ReadGroup"
Hi
I tried to run the recalibration using the gatk-generated vcf file as a known vcf file. I got an error which has been previously described "The covariates table is missing ReadGroup V300019285_L2_  in RecalTable0" but without the solution.
I am wondering if the solution has been found. Anyone has the experience to fix this issue.
Thank
**This is the batch file**
java -Xmx16g -jar /scratch/ddo/g

[2021-11-08 19:20] droazen commented on #7549
@DuyDN This is a known issue in BQSR -- see https://github.com/broadinstitute/gatk/issues/6242. Sorry for the inconvenience! We hope to be able to develop a fix within the next several months.

The fact that you ran into this error indicates that there may not actually be any usable reads in that particular read group -- they were likely all filtered out by one of the BQSR filters, which filter ou

[2021-11-08 19:20] droazen commented on #7549
Closing as duplicate of https://github.com/broadinstitute/gatk/issues/6242

[2021-11-08 19:20] #7549 closed

[2021-11-08 19:23] droazen commented on #7548
@gbrandt6 Here's another one that would make a good "learn GATK development" ticket

[2021-11-08 19:23] droazen commented on #7547
@AlirezaTafazzoli Sorry, this issue tracker is for GATK bug reports. You might try posting on a genomics forum.

[2021-11-08 19:23] #7547 closed

[2021-11-08 19:34] droazen commented on #7542
@bbimber The -Xmx option controls only the maximum size of the *Java* heap. It does not limit the size of the C heap used by the GenomicsDB library. This is why we always advise leaving extra memory available for C when using GenomicsDB by selecting an -Xmx value that is comfortably under the amount of physical memory available. Even though your GenotypeGVCFs command is not importing into a Genomi

[2021-11-08 19:39] droazen commented on #7538
@adaykin The difference in conventions between the chr1, chr2, etc. convention and the 1, 2, etc. convention is more than just a difference in naming. Different versions of the human reference use different naming schemes. For example the b37 reference uses 1, 2, etc., while the hg38 reference uses chr1, chr2, etc. For this reason, it is not safe to simply translate the contig names on-the-fly. Yo

[2021-11-08 19:39] #7538 closed

[2021-11-08 19:41] bbimber commented on #7542
@droazen Yes, i get there's a difference in java vs. C. We have thinking about reserving memory for C specifically for GenomicsDbImport (which is obviously very C heavy), and we have been ignoring this for GenotypeGVCFs with a workspace as input. You're confirming that we need to give this thought whenever using code that involves a GenomicsDb workspace.

Yes, we probably do have a lot of highly m

[2021-11-08 20:29] droazen commented on #7515
@wenluo711 Glad to hear this was resolved in 4.2.2! The newer releases of GATK contain an updated GKL library that fixes many of these segmentation fault / core dump related crashes.

[2021-11-08 20:29] #7515 closed

[2021-11-09 16:33] lbergelson commented on #7542
@bbimber Something about the way this is running seems strange to me.  We typically run GenotypeGvcfs with ~26GB of memory a so I'm surprised you're seeing it need an order of magnitude more.  The memory requirements should roughly scale with the number of samples rather than the number of variants since it processes it basically line by line.  Sites with high numbers or alleles can really explode

[2021-11-09 16:56] bbimber commented on #7542
@lbergelson I completely agree. GenomicsDB has been a big step up from CombineGVCFs, but it's been a struggle. Here are some notable characteristics of our data, in case anything seems relevant:

- The core data is ~2K WGS (not WXS) rhesus macaque datasets. WXS tends to perform better.
- We imported them into a workspace using GenomicsDB.
- We regularly append new batches. As the data has grown, w

[2021-11-09 18:35] mlathara commented on #7542
I don't really have any further insight here, but I do think the max-alternate-allele and max-genotype is the issue (as already stated). Fwiw, the default value for max-alternate-allele is `6`, so you're setting it higher than that. Of course, ploidy also plays a role in number of genotypes.

The combination of high ploidy and higher max alternate allele setting can result in a ~10x increase in nu

[2021-11-09 18:45] mlathara commented on #7542
Btw - it is interesting (as in, unexpected, at least to me) that appending new data is slowing down as the workspace grows. Adding new data is sorta fire-and-forget in that it shouldn't care much about what already exists...offhand, I'm not sure why you're seeing a slowdown. You mentioned needing to use smaller batch sizes...were you otherwise seeing larger memory overheads than before? Or just ge

[2021-11-09 18:57] bbimber commented on #7542
OK. As a reference, how does GATK deal with max-alternate-alleles for normal human variant calling? Presumably really high alternate alleles would primarily happen in repetitive/index prone-regions? FWIW, When we execute GenotypeGVCFs, we run as ~1000 jobs where each takes an even chunk of the genome, by base pairs.

Yes, I did see the bypass-feature-reader option, but we have jobs in-flight and I

[2021-11-09 20:48] gbrandt6 commented on #6651
@xmzhuo @twood1 we have released a fix for a very similar bug in Funcotator (#6289 ). Could you test the newest GATK version 4.2.3.0 and let us know if it also solves this bug?

[2021-11-09 22:27] GATKSupportTeam opened #7556 "Feature Request - extract Funcotator VCF INFO 'sub-fields'"
A user on the GATK Forum submitted a request to make the INFO field easier to manipulate through creating a table. At the GATK Office Hours meeting 11/8, we discussed the two ideas and favored the first idea to make a new tool, similar to VariantsToTable, that would unpack the INFO field.

This request was created from a contribution made by Shahryar Alavi on October 30, 2020 19:54 UTC.

Link: [ht

[2021-11-09 23:00] DarioS opened #7557 "FastaAlternateReferenceMaker and Multi-sample VCF File Input"
The [documentation](https://gatk.broadinstitute.org/hc/en-us/articles/360037594571-FastaAlternateReferenceMaker) makes no mention of multi-sample VCFs. Please explain whether it works and what the output is (would it be one FASTA file per sample or otherwise how would the FASTA identify the same of each derived sequence?).

[2021-11-10 16:28] gbrandt6 commented on #7465
User reported the issue has been solved.

[2021-11-10 16:28] #7465 closed

[2021-11-10 17:13] droazen opened #7560 "IntegrationTestSpec should not ignore leading/trailing whitespace by default"
`IntegrationTestSpec` currently ignores leading/trailing whitespace by default when doing its comparison against expected outputs. This is problematic given that whitespace can include things like field delimiters, leading to bugs like the one fixed in https://github.com/broadinstitute/gatk/pull/7559

We should change the default to *not* ignore leading/trailing whitespace. Tests that have a legit

[2021-11-12 21:18] GATKSupportTeam opened #7562 "GATK concordance java.lang.NullPointerException"
A GATK user is getting a java.lang.NullPointerException when running Concordance. It seems that their eval VCF has contigs that do not match the truth dataset. It would be helpful to add a better error message for this case.

This request was created from a contribution made by Priyadarshini Thirunavukkarasu on November 11, 2021 10:19 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community

[2021-11-15 16:33] samuelklee opened #7564 "ExcessHet should perhaps implement ReducibleAnnotation."
Seems like there are some commented overrides and method stubs, but there are also some remaining unimplemented methods. See https://github.com/broadinstitute/gatk/pull/7394#discussion_r701351063.

[2021-11-15 19:03] droazen commented on #7564
@ldgauthier Thoughts on this?

[2021-11-15 19:10] droazen commented on #7562
@GATKSupportTeam @gbrandt6 We suspect that this issue might be caused by either one VCF having a contig not in the other VCF, or one of the VCFs having a contig not in the reference sequence dictionary. Could you please ask the user to check their VCFs for such a contig?

[2021-11-15 19:19] lbergelson commented on #7557
Hi DarioS.  FastaAlternateReferenceMaker is a really simple tool.  It actually just looks at the alternate alleles at each site and uses the first non-symbolic one to make the fasta.  It doesn't even look at the genotypes.  So it should work fine with a multisample vcf but it will give you a mush of samples together as a single fasta.  I could be extended to be smarter but it's not a high priority

[2021-11-15 19:20] droazen commented on #7516
@gbrandt6 Here's another GATK ticket that might be suitable for learning GATK development.

[2021-11-15 19:23] droazen commented on #7507
@davidbenjamin Your thoughts on this one?

[2021-11-15 19:23] #7500 closed

[2021-11-15 19:24] droazen commented on #7453
@jamesemery Could you look at this one when you get a chance?

[2021-11-15 20:01] samuelklee commented on #7564
@droazen just for context, I punted on this in the linked PR (I'm not too familiar with the annotation interfaces, and it wasn't immediately obvious to me how to implement the required methods for ExcessHet). So @ldgauthier asked me to file this on the off chance that someone else wants to look at it in the future, but I think it's probably low priority. Seems like someone might have taken a previ

[2021-11-15 20:22] droazen opened #7567 "HaplotypeCaller / Mutect2 should detect amplicon data, and warn about downsampling settings"
Our default downsampling settings in HaplotypeCaller / Mutect2 (cap the maximum number of reads that can start at the same position) is uniquely unsuited to amplicon data. We should detect amplicon data on startup, and warn the user to adjust the downsampling settings (as discussed with @davidbenjamin).

@ldgauthier Thoughts on this idea?

[2021-11-15 21:00] DarioS commented on #7557
Are you sure about that? `--use-iupac-sample` has an explanation "If specified, heterozygous SNP sites will be output using IUPAC ambiguity codes given the genotypes for this sample." So, I have been using `--use-iupac-sample $ID` in a loop, thinking that it would extract the alternate allele for `$ID` sample.

[2021-11-15 21:05] gbrandt6 commented on #7562
Yes, the user has confirmed there are contigs in their eval VCF that are not in the truth VCF. This bug report is to improve the error message for this case.

[2021-11-15 21:21] lbergelson commented on #7557
Huh... Maybe I'm wrong. I'll have to look more closely.

On Mon, Nov 15, 2021, 4:00 PM Dario Strbenac ***@***.***>
wrote:

[2021-11-16 15:28] jamesemery commented on #7453
Hello @AlirezaTafazzoli looking at your error and the the stderr output it looks like what happened is that the bed file you used of your genes was generated on a different reference. If you have a standard GRC37 reference the chr1 name should be valid. Could you check the .ditct files for the reference you have to make sure the names align with the ones in the genes.bed file you are using? I woul

[2021-11-16 20:28] TaurVil commented on #7096
Hello, I am wondering if there has been any progress on this ticket item. I am currently running the following sequence of commands and unsure if this is still GATK's best practices for BQSR and appropriate QC. In particular, I am wondering if there is supposed to be a `bqsr` option in the second iteration of BaseCalibratory which would specify $NAME.BQSR.recal.table1. Thanks!

    $path_gatk Base

[2021-11-17 09:38] AlirezaTafazzoli commented on #7453
Hi @jamesemery Thanks for your email.
Actually, I was successful with calculation of "DepthOfCoverage" with following procedure:
1. I found the exact reference fasta file which is used for mapping procedures in my pipeline + .dict and .fa.fai
2. I made a bed file out of the reference fasta file, using the following command:
    faidx -i bed genome.fa > out.bed
3. Finally I did this for performing

[2021-11-18 14:45] #4237 closed

[2021-11-19 04:01] #7392 closed

[2021-11-19 21:34] nalinigans commented on #7542
@bbimber, there was an issue with `max-alternate-alleles` getting passed to the GenomicsDB layer from `GenotypeGVCFs`. That has been fixed in this [branch](https://github.com/broadinstitute/gatk/tree/ng_genomicsdb_args) if you would like to try.  See this [GenomicsDB Issue](https://github.com/GenomicsDB/GenomicsDB/commit/3c7d1ead0110fec26d56ff85a5871d8df673504d). This will hopefully help with your

[2021-11-23 16:51] biork opened #7577 "Statistical definition in "Calculation of PL and GQ by HaplotypeCaller and GenotypeGVCFs" is backwards"
## Documentation request

### Tool(s) or class(es) involved
Serious documentation error in the article "Calculation of PL and GQ by HaplotypeCaller and GenotypeGVCFs" (https://gatk.broadinstitute.org/hc/en-us/articles/360035890451) the definition of PL is exactly backwards.

### Description

The article contains the following (between the lines)
----
The basic formula for calculating PL is:

$$ PL

[2021-11-23 17:22] jonn-smith opened #7578 "FuncotatorDataSourceBundlerUtilsUnitTest - Add tests for invalid kingdoms / species"
Need to write unit tests for testing with an invalid kingdom name and for testing with an invalid species name

[2021-11-24 10:48] overerd opened #7579 "CollectReadCounts fails with "Size exceeds Integer.MAX_VALUE" when using symlink to BAM-file as Input"
## Bug Report

### Affected tool
 - CollectReadCounts

### Affected version
 - The Genome Analysis Toolkit (GATK) v4.2.3.0
 - HTSJDK Version: 2.24.1

Downloaded from https://github.com/broadinstitute/gatk/releases/download/4.2.3.0/gatk-4.2.3.0.zip

### Description
When calling `CollectReadCounts` tool with symlink as input BAM-file, `java.lang.IllegalArgumentException: Size exceeds Integer.MAX_VAL

[2021-11-24 14:00] biork opened #7581 "Misuse of statistical terms in "Assigning per-sample genotypes (HaplotypeCaller)""
## Documentation request

There are multiple statistical terminology errors, especially misuses of the term "likelihood," in [Assigning per-sample genotypes (HaplotypeCaller)](https://gatk.broadinstitute.org/hc/en-us/articles/360035890511).

The statistics are difficult enough without pervasive misuse of statistical terminology in the documentation of software considered a _de facto_ standard, whi

[2021-11-24 14:47] GATKSupportTeam opened #7582 "Request created from: "Did not inflate expected amount" Error"
This user is noticing that when running BQSR with the default inflater, some blocks have compression errors that result in issues while running HaplotypeCaller.

This request was created from a contribution made by Jacob Wang on November 02, 2021 08:27 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4409429876123--Did-not-inflate-expected-amount-Error](https://gatk.broadinsti

[2021-11-25 14:54] OlenaMaiakovska commented on #6271
Dear @fleharty

I have 4.2.2. version of GATK, however the problem is exactly like that, I get vcf and its index file without stats:

***********************************************************************

A USER ERROR has occurred: Mutect stats table somatic_449_WT_vs_6KO_Pd.vcf.gz.stats not found.  When Mutect2 outputs a file calls.vcf it also creates a calls.vcf.stats file.  Perhaps this file

[2021-11-27 00:43] tyamaguchi-ucla commented on #6379
Hi @lbergelson, just wondering if there were any updates on this issue as we encountered the same issue.

[2021-11-30 05:00] DarioS commented on #7557
We carefully checked the results and it works differently for SNPs and indels! For SNPs, they are applied only to the relevant sample. For indels, they are applied to all samples, even if genotype is 0/0 for a sample. So, you're half-right about multisample input.

SNP Example (a.k.a. rs17523802) matches correctly VCF genotypes (i.e. only present in samples 7_21_11555 and 7_21_14555)

![image](htt

[2021-11-30 19:09] cmnbroad opened #7586 "AS_RMSMappingQuality parseRawData and ReducibleAnnotationData.getAlleles"
The latest code in htsjdk, which includes https://github.com/samtools/htsjdk/pull/1454 (changes the Allele class into an interface, and uses SimpleAllele as the concrete implementation) causes the `VariantAnnotatorEngineUnitTest.testCombineAnnotations` test fail because the order of the list returned by `AS_RMSMappingQuality.getAlleles` is different with that change than it is without it (presumab

[2021-11-30 19:11] cmnbroad commented on #7586
@jamesemery @ldgauthier Any thoughts on this ?

[2021-12-01 11:56] Just08 opened #7587 "mutect2_pon and mutect2 dockstore workflow without gnomad file ( mm10 analysis )"
Hi,

I want to launch dockstore mutect2_pon and mutect_2 workflow without gnomad option because I don't have germline reference with AF information for mouse but I have this message :
[code]
Is there a way to launch this two workflow without gnomad and gnomad_idx option ?
Thanks in advance for help.

[2021-12-02 18:20] LiviaMoura opened #7589 "[BUG] ReblockGVCF + JointGenotype - wrong parse"
## Bug Report

### Affected tool(s) or class(es)
Reblock | JointGenotype

### Affected version(s)
- [x] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description
We found a bug while running the latest JointGenotype pipeline (2.0.2). We are working with Dragen data (version 3.6.3)
The error:

<details><summary>OPEN ERROR HERE</summary>
<p>

+ gatk -

[2021-12-02 19:47] jamesemery commented on #7453
Hi @AlirezaTafazzoli. I'm glad you were able to fix your problem and I'm sorry the size was unworkable. I might consider adding the command `--omit-depth-output-at-each-base` which will remove from the output the file (which is probably the largest output file) that details the per-base, per-nucleotide summaries of the depth across the intervals. That will make the size more manageable.

[2021-12-02 19:48] #7453 closed

[2021-12-06 18:03] GATKSupportTeam opened #7591 "Request created from: GermlineCNVCaller prefix string too short"
The first issue in this post has been solved by updating GATK versions but there appears to be a bug causing an "unrecognized argument" error when running GermlineCNVCaller.

This request was created from a contribution made by Ahmed S. Chakroun on December 05, 2021 13:52 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4412031649691-GermlineCNVCaller-prefix-string-too-short](

[2021-12-06 18:15] samuelklee commented on #7591
Can the user check if they updated their conda/Docker environment when switching versions? The second issue is most likely being caused by changes introduced in https://github.com/broadinstitute/gatk/pull/7450.

[2021-12-07 11:24] PamelaBretscher commented on #7591
Updating the Conda environment solved the issue!

[2021-12-07 11:29] #7591 closed

[2021-12-08 22:15] aofarrel opened #7596 "Mutect2 WDL's README references non-existent JSONs"
## Documentation request

### Tool(s) or class(es) involved
[Mutect2 WDL's README](https://github.com/broadinstitute/gatk/tree/2e6045a259ed2ded3e9036a5b44a1f8ba330860d/scripts/mutect2_wdl) references several template JSONs that do not seem to exist in this repository, specifically:
* mutect2_multi_sample_template.json
* mutect2_template.json
* mutect2-replicate-validation_template.json

### Descri

[2021-12-11 00:55] gubrins opened #7597 "No quality in non-variant sites"
Heys,

I am doing the SNP calling with Haplotypecaller BP_Resolution, CombineGVCFs with convert-to-base-pair-resolution and GenotypeGVCFs with include-non-variant-sites with GATK v.4.1.7.0 and when I get my vcf file, the non-variant sites does not have any quality at all:

[code]

Except for the variant ones:
[code]

Do you know what is this happening?

[2021-12-11 01:14] gubrins commented on #7597
So I tried with gatk v.4.1.3.0 and the quality parameters appear. Is this a version problem? I also tried with the newest one and it did not work

[2021-12-11 07:32] greekkey commented on #7582
First, my current solution: adding the --use-jdk-deflater & --use-jdk-inflater options in both of the steps of BQSR and gvcf calling, forcing the software use jdk-deflater/inflater instead of the Intel's deflater/inflater (default in GATK4).

[2021-12-11 07:32] greekkey commented on #7582
The error is probably caused by the incompatibility of the intel and jdk deflaters/inflaters.

[2021-12-11 07:32] greekkey commented on #7582
I encountered the error mentioned above when I was calling variants from whole genome sequencing data of three individuals in a pedigree, using GATK4 following the best practice. It happeded in the step of generating gvcf from the bam files after BQSR. Very interesting, it happened in two of three samples, at different position; for the other sample, gvcf was generated successfully.

[2021-12-11 07:34] greekkey commented on #7582
The same error was reported in other modules of GATK4. For eacmple, in GenomicsDBimport [Ref.1]. And I encountered it again when I check the bams with ValidateSamFile.

[1] https://gatk.broadinstitute.org/hc/en-us/community/posts/360076477211-GenomicsDBimport-not-importing-all-the-batches?page=1#community_comment_4411519756827

[2021-12-11 07:37] greekkey commented on #7582
One thing to address is that just use the --use-jdk-deflater/inflater options in the step where the error information was given, in my case, HaplotypeCaller, was not help. (In [Ref1], the author tried using --use-jdk-deflater/inflater options in GenomicsDBimport. Although the author said "the error was solved", actually it was not solved, because he/she mentioned that it was still "end of the erro

[2021-12-11 07:39] greekkey commented on #7582
I would suggest adding the --use-jdk-deflater & --use-jdk-inflater options in all the steps to avoid this kind of error, which seems to be random.

[2021-12-12 11:42] vruano opened #7598 "GenomeDBImport output errors resulting in incomplete DB do not result in error return (exit code == 0)."
## Bug Report

### Affected tool(s) or class(es)
GenomeDBImport

### Affected version(s)
[code]

### Description

It seems that is possible for some IO error affecting the production of the output tile-db file/folder that is ignored by the reslt of the tool run resulting in a falsely succesful completion. One won't realize of it unil tries to use that db with genotype-gvcfs.

STDERR:

[code]

####

[2021-12-14 15:55] yujun2017 opened #7603 "Log4j Vulnerability issue"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-12-14 16:11] lbergelson commented on #5690
@gevro @yaottianran. I know this is old, but if you want to test with a recent GATK release that includes the upgraded intel gkl it has hopefully fixed this issue.

[2021-12-14 16:14] gevro commented on #5690
Thamks. It may be some time before I can try.

[2021-12-14 16:17] lbergelson commented on #5690
There is also a new argument in FilterAlignmentArtifacts `--smith-waterman` that lets you choose to use the java version or the faster but previously buggy accelerated version so there is no need to downgrade to an old gatk to work around now.

[2021-12-14 22:14] lbergelson commented on #7603
@yujun2017 We merged an upgrade to a newer log4j but they're now saying that that version is still vulnerable.  Our plan is to update to 2.16 and do a release tomorrow.

[2021-12-15 03:00] DarioS opened #7606 "GetPileupSummaries Extraordinary Resource Usage and Lack of ProgressMeter Messages"
I am trying version 4.2.3.0. I set `--java-options "-Xmx128g"` and it gradually increased to consume all of the RAM.

[code]

The input is a modest whole genome sequencing BAM file.

[code]

After about one hour without any progress messages, the process shuts down due to running out of heap space.

[code]

The two other key parameters were `-L af-only-gnomad.hg38.vcf.gz -V af-only-gnomad.hg38.vcf

[2021-12-15 21:03] vruano opened #7608 "Non intuitive behaveour of VariantFiltration ```--invalidate-previous-filters```"
### Affected tool(s) or class(es)

VariantFiltration

### Affected version(s)

Master 2021-01 onwards.

### Description

VariantFiltration's --invalidate-previous-filters prevent any output variant to be marked as PASS even if it passes the filters that are passed to that run of the filtration tool.  What I would expect is that variants that pass the current set of filters will be marked as PASS r

[2021-12-16 00:49] aofarrel commented on #7596
This also seems to affect the .dockstore.yml and breaks its page on Dockstore: https://dockstore.org/workflows/github.com/broadinstitute/gatk/MitochondriaPipeline:master?tab=files

[2021-12-16 09:27] vruano commented on #7608
Looking at the code changes the way this argument work has changed from simply clearing previous filters while apply new ones to being used standalone just to revert filtering (i.e. adding the . again) with the expectation that it would not be used in conjuction with new filters.

I think we should create to different arguments for each of those operations. say --overwrite-existing-filters that th

[2021-12-16 23:41] sjclare commented on #6357
I am having the same issue with exome capture sequencing on 7 samples. The CombineGVCFs always aborts for some reason so GenotypeGVCFs fails.

I've tried the workaround someone posted but my chromosomes are large are so requires csi indexing. Hopefully it works but specifying intervals is a pain since I'm interested in the whole genome

[2021-12-20 13:39] Twojarshub opened #7614 "GenotypeGVCFs with the Error "Did not inflate expected amount" and "java.util.zip.DataFormatException: invalid code lengths set""
Hello,

I use GATK(4.2.0.0)  HaplotypeCaller call SNPs and CombineGVCFs combining the .g.vcf files.  everything goes well.
However, when I use GenotypeGVCFs, I encounter an error [htsjdk.samtools.SAMFormatException: Did not inflate expected amount]. And I see the same Error in [#7582](https://github.com/broadinstitute/gatk/issues/7582), I try to add two parameters --use-jdk-deflater & --use-jdk-in

[2021-12-20 16:54] qiyubio commented on #7603
Hi, since there is DOS (Denial of Service) threat for log4j 2.16.0(https://logging.apache.org/log4j/2.x/security.html),
is that possible to update GATK with log4j_2.17.0? Thanks.

[2021-12-21 05:12] #7598 closed

[2021-12-29 14:49] yujun2017 commented on #7603
Could you please let me know if there is a new release for log4j 2.17? We
have removed GATK from our website and want to add back as soon as
possible.

Thanks!

John

On Tue, 14 Dec 2021 at 17:14, Louis Bergelson ***@***.***>
wrote:

--

John Yu

[2021-12-30 05:48] iamh2o opened #7621 "I vote for 'main'"
Ahoy GATK (and all broad s/w projects)!

I'm a once-upon-a-time Broad(Whitehead even)contributor (@zyme can verify this claim- hi Andrew).  It's ben a delight to watch the eruption of insight and tools you have collectively unleashed over the past decades. I'm proud and lucky to have been able to play a small part.

And as an ex-colleague I'm going to claim some standing to make a P2 ask of you an

[2022-01-01 04:45] philipc commented on #6576
I think the problem is that the implemented algorithm is Needleman-Wunsch, not Smith-Waterman. The core difference between these algorithms is that Smith-Waterman allows an alignment to start at any point in the matrix by setting the score to 0 if the best score to that point is negative, and I don't see anywhere in the code that implements this difference.

[2022-01-03 18:11] kcibul opened #7622 "Add new INTERVAL_SUBDIVISION_BY_WEIGHT IntervalListScatterMode for SplitIntervals"
It would be valuable for SplitIntervals to be able to split intervals based not on number of genomic bases, but by using a set of weights.

Ideally this new mode would read in a BED file containing the weights in the score field and attempt to produce a series of intervals that have equal total weights.

Note: ` --dont-mix-contigs` should still continue to work

** Why? **
In the Genomic Variant S

[2022-01-03 18:57] kcibul commented on #7622
The weights can be generated from a BQ data set like:

[code]

and then converted to bed with this python:

[code]

I've generated 3 BED files for 100kb, 10kb and 1kb and placed them into

[code]

[2022-01-03 18:59] kcibul commented on #7622
FWIW -- the intervals we're trying to divide are `gs://gcp-public-data--broad-references/hg38/v0/wgs_calling_regions.hg38.noCentromeres.noTelomeres.interval_list`

[2022-01-03 19:19] GATKSupportTeam opened #7623 "Feature Request: parse shell quotes in an arguments file"
A user is having an issue when their file paths have spaces in an arguments file. This issue does not exist when there is no arguments file. It would be helpful for GATK to be able to parse shell quotes correctly in the arguments file.

From the user:
--------------------------------

I'm using gatk CombineGVCFs, and am supplying the paths of the GVCFs to combine using an arguments file, but I'm g

[2022-01-03 19:24] lbergelson commented on #7614
Hello, sorry you're having this problem.  I'm not sure exactly what's going on here.  It sounds like it's a corrupted .gz file.  You said these were created by HaplotypeCaller and then CombineGvcfs? I have a few questions and suggestions.

1.  Were there any other steps in the pipeline that touch the vcfs?
1a.  Are you sure the combine stage completed without error?  This could potentially be caus

[2022-01-03 19:26] lbergelson commented on #7608
@vruano Do you have bandwidth to fix this?

[2022-01-03 19:32] lbergelson commented on #7606
@DarioS Thanks for reporting this.  It seems like there is an object in the tool which accumulates a record for every variant in the -V input.  Since you're using gnomad it's very large.  This is a design issue and seems like it should be fixed to stream the output instead of accumulating it all in memory and then dumping it at the end.

@davidbenjamin I aimed this at you since it seems like it's

[2022-01-03 19:34] lbergelson commented on #7603
@yujun2017 We've all been on New Years vacation but you should expect a new release with the latest log4j (2.17.1) very soon.

[2022-01-03 19:40] lbergelson commented on #7603
@yujun2017 I'm curious what website you're talking about also!

[2022-01-04 21:46] lbergelson opened #7625 "Fix new gradle warnings since update."
We somehow missed some new deprecation warnings that gradle gives when we updated to 7.3.2.

When running `bundle`
ex:
[code]

[code]
The warnings show up in at least these tasks: gatkTabComplete, installDist, gatkDoc, shadowJar, sparkJar

Seems like it should be easy to fix, I'm not sure how we didn't see them when doing the upgrade.

[2022-01-05 04:37] greekkey commented on #7614
@Twojarshub  Hi! Have you solved the problem? As I mentioned in my post, just adding "--use-jdk-inflater true --use-jdk-deflater true" in the step of GenotypeGVCFs could not solve the problem. In my case, I restarted from one step ahead (BQSR) with those options and could finish the pipelines without an error. Please try!

[2022-01-05 05:48] gokalpcelik opened #7626 "Request for a log4j2 free version of gatk."
Hi everyone.

It may sound ridiculous but is it possible to strip all log4j2 dependencies from gatk and get a lean and free from potential vulnerabilities version.

Regards.

[2022-01-05 15:03] lbergelson commented on #7614
@greekkey I would be really interested if the problem had resolved if you ran without that option using 4.2.4.1.  We updated the compression library and I'm hoping that it's fixed whatever was causing the problem but I'm not able to reproduce it so it's hard to know.

What OS/hardware are you running on @greekkey? I'm wondering if this is a problem on a specific OSX version or something which we'r

[2022-01-05 15:29] lbergelson commented on #7626
@gokalpcelik This isn't an insane request, but it's probably not going to happen very quickly.

 I don't think it's a trivial change to just exclude log4j, we'd need a compatible replacement or you'd end up with crashes in weird places when a transitive dependency tries to log with it.  We can (and might) do it, but it's not super high priority at the moment.  I think there's internal interest in

[2022-01-06 00:08] greekkey commented on #7614
@lbergelson OK. I will try the new version with my previous data as well as some new data later.

My OS is Ubuntu 20.04.3 LTS 64-bit, GNOME version is 3.36.8. The major hardware info are Intel® Core™ i7-4770 CPU @ 3.40GHz × 8 , Intel® HD Graphics 4600 (HSW GT2), (memory) 31.3 GiB, (local HDD) 1.1 TB.

[2022-01-06 00:23] lbergelson commented on #7614
Thank you for the information information. That hardware seems pretty
standard. I wouldn't expect it to be causing this issue.

On Wed, Jan 5, 2022, 7:08 PM greekkey ***@***.***> wrote:

[2022-01-06 15:42] jonn-smith opened #7628 "CreateSequenceDictionary needs to expose a utility method to create a sequence dictionary programmatically."
Currently the only way to create a sequence dictionary from within a GATK tool is to call into the CreateSequenceDictionary tool as if it was being executed from the command-line. This is a hack.

We need to expose a method that other tools can call into that will create a sequence dictionary for files.

[2022-01-07 04:23] samuelklee opened #7630 "Using serialized model with VQSR can yield incorrect labels for negative training data."
If you train a VQSR model on a subset of the variants under consideration and serialize it, then provide it via `--input-model` to subsequent VQSR runs on sets of variants including those other than in the original training subset (the only use case for which you'd bother serializing a model in the first place, probably), this will result in variants in those subsequent sets being incorrectly labe

[2022-01-10 19:00] droazen opened #7631 "Funcotator feature request: custom prioritization order for mutation types"
Request from a user in the Getz lab: allow the prioritization order for mutation types to be customized. Eg., instead of the default:

[code]

the user wants to be able to set the order to something like:

[code]

[2022-01-10 20:56] jamesemery opened #7632 "Add better integration tests to HaplotypeCaller for less-common arguments"
Currently the `HaplotypeCallerIntegrationTests` cover most of the common use cases for our best practices HaplotypeCaller pipeline but are deficient in covering a few important less-used arguments. A non-exhaustive list of un-tested modes for the HaplotypeCaller that are significant enough to warrant better long term integration tests to ensure they aren't broken in the future are as follows:
- Mu

[2022-01-11 02:47] PPWEST522 opened #7633 ""main" java.lang.OutOfMemoryError: Requested array size exceeds VM limit"
Hi, GATK team! I'm working on GATK WGS somatic CNV calling pipeline.

When I tried gatk --java-options "-Xmx2800g" ModelSegments --denoised-copy-ratios ${tumor}.denoisedCR.tsv --allelic-counts ${tumor}.allelicCounts.tsv --normal-allelic-counts ${normal}.allelicCounts.tsv --output-prefix ${tumor} -O ${outdir}, I got this type of error:

10:00:18.408 INFO  NativeLibraryLoader - Loading libgkl_compre

[2022-01-11 03:19] samuelklee commented on #7633
@PPWEST522 I suspect that you may not be limiting allelic-count collection to a set of common variant sites (provided as input to `-L` when running CollectAllelicCounts). See discussion in the tutorial at https://gatk.broadinstitute.org/hc/en-us/articles/360035890011--How-to-part-II-Sensitively-detect-copy-ratio-alterations-and-allelic-segments. Feel free to reopen and provide more details if this

[2022-01-11 03:19] #7633 closed

[2022-01-11 06:19] PPWEST522 commented on #7633
@samuelklee
Hi, my interval_list is generated by  the command as follow:
gatk PreprocessIntervals \
    -R Homo_sapiens_assembly38.fasta \
    --bin-length 1000 \
    --padding 0 \
    -O preprocessed_intervals.interval_list

am I using correctly?
thanks

[2022-01-11 13:19] samuelklee commented on #7633
The preprocessed intervals are used as bins for collecting read counts and hence passed as input to CollectReadCounts. In contrast, a list of common sites is passed to CollectAllelicCounts.

Take a second look at the provided link and feel free to ask further questions at the GATK Forums, which might be a better venue. Github issues are more suitable for bug fixes and feature requests.

[2022-01-12 22:30] mpage21 opened #7636 "Could not find biz.k11i:xgboost-predictor:0.3.0 **bug report**"
## Bug Report

### Affected version(s)
- Latest master branch as of 1/12/2022

### Description
When I tried to build from the github repo, I received the following error:

FAILURE: Build failed with an exception.

* Where:
Build file '/gatk/build.gradle' line: 688

* What went wrong:
A problem occurred evaluating root project 'gatk'.

     Searched in the following locations:
       - https://repo

[2022-01-13 17:22] lbergelson commented on #7636
Huh... That's not good.  I wonder if it's because we removed the jcenter repository resolver from the build.  Maybe local caches are hiding the problem for us.

Could you try checkout out the branch `lb_add_back_jcenter` and seeing if that fixes the problem?

[2022-01-13 19:08] mpage21 commented on #7636
Yup! I'll try that right now

[2022-01-13 20:36] mpage21 commented on #7636
I was able to build it this time. Thank you!

[2022-01-14 22:55] GATKSupportTeam opened #7639 "GenotypeGVCFs error in 4.2.4.1 java.lang.IllegalStateException"
A user running GenotypeGVCFs with a GenomicsDB ran into a new issue with 4.2.4.1. They were previously running 4.1.9.0.

Their complete program log is below:

This request was created from a contribution made by Andrius Jonas Dagilis on January 06, 2022 16:24 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360073212811-GenotypeGVCFs-stalls-while-using-all-sites#community\_com

[2022-01-17 06:22] eriqande commented on #7639
I have the same problem.   The error seems to occur when the number of alleles is exactly one greater than the value of ` --max-alternate-alleles`.  Note that is the case in Andrius's output above: it throws a warning, but no error, when there are more than 7 alleles, but when there are exactly 7 alleles (one more than the default max of 6) it errors out.

I have tried this on a number of differen

[2022-01-17 06:42] eriqande commented on #7639
Given the above behavior, and looking at the error message produced, I wonder if it might not be an issue with the GenomicsDB, but rather just a bug in the code that doesn't properly no-call individuals at sites with too many alleles.

I wonder that because the error message is emitted at the botom of this block:

[https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute

[2022-01-17 06:58] eriqande commented on #7639
If you would like the GenomicsDB for chromosome `CM031199.1`  (which, by the way, was create with GATK 4.2.4.1) that I used in the above two examples, you can download it as a .tar archive from:

[https://drive.google.com/file/d/1LzZCkWfmNb8IcZpdreaNIxtJ8GQQ-b7g/view?usp=sharing](https://drive.google.com/file/d/1LzZCkWfmNb8IcZpdreaNIxtJ8GQQ-b7g/view?usp=sharing)

It is 385 Mb.

[2022-01-18 21:08] seboyden commented on #7639
I'm having the same problem, running GenotypeGVCFs 4.2.4.1 following GenomicsDBImport 4.2.4.1 on 3 human WGS samples, NOT using -all-sites (as in [original post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360073212811-GenotypeGVCFs-stalls-while-using-all-sites)), and using default ```--max-alternate-alleles 6```, I get:

[code]

If I add ```-G StandardAnnotation -G AS_StandardAnnotat

[2022-01-18 23:25] gbrandt6 commented on #7639
@nalinigans @mlathara do you have any insights to if this would result from any of the GenomicsDB changes in 4.2.4.1?

[2022-01-19 00:35] mlathara commented on #7639
I think changes in 4.2.4.1 are exposing an issue, but I think @eriqande is right that the issue isn't with GenomicsDB. The change was that previously GATK wasn't correctly passing the `--max-alternate-allele` argument to GenomicsDB, but now that it is doing so it makes it more likely that some sites don't contain fields like PL (dependent on number of possible genotypes).

It looks like the AF cal

[2022-01-19 01:58] seboyden commented on #7639
To elaborate & clarify, in my use case:

GenomicsDBImport 4.2.4.0 plus GenotypeGVCFs 4.2.4.0: works
GenomicsDBImport 4.2.4.0 plus GenotypeGVCFs 4.2.4.1: fails
GenomicsDBImport 4.2.4.1 plus GenotypeGVCFs 4.2.4.0: works
GenomicsDBImport 4.2.4.1 plus GenotypeGVCFs 4.2.4.1: fails

So I agree the issue appears to be the change to AF calculation in GenotypeGVCFs 4.2.4.1, not the ```--max-alternate-allel

[2022-01-21 18:03] eriqande commented on #7639
Thanks Seboyden.  That is super helpful.  I am just finishing up a long series of GenotypeGVCFs 4.2.4.0 using genomicsDBs from GenomicsDBImport 4.2.4.1, without having passed any `--max-alternate-alleles` option to GenomicsDBImport.  These have all run without any problems.

[2022-01-24 21:23] bbimber commented on #7639
We're also hitting this, and will try to downgrade. However, can anyone from GATK comment on whether it's possible to add a fix to GATK itself?

[2022-01-25 18:00] spatel-gfb opened #7646 "SV Pipeline Jobs LongRunning : BAFFromGVCFs_ImportGVCFs and GenotypeVCFs"
As part of our pipeline, we are running the below mentioned command.
What this step does is, reads the vcf files in batch of 50 so in total 4 batches will run for 156 samples, and then for each batch it writes the tables/data to the “genomicsdb” folder.

Parent Command : python /gatk/gatk --java-options -Xmx4g -Xms4g GenomicsDBImport --genomicsdb-workspace-path genomicsdb --batch-size 50 -L chrX:5

[2022-01-25 19:57] jamesemery opened #7647 "Add option to dump PairHMM debugging outputs to a file in a standard format"
There has been a request to do some more work on the HMM again and its become clear that there is not an efficient way to rapidly generate large amounts of test data based on the old HMM results. It would be helpful to add an option to dump the hmm scores out to the command line in an easily machine parseable format. Here is an example of how it has been done in the past (and probably how we shoul

[2022-01-25 21:33] jamesemery commented on #7124
@nh13 I spent a little time looking at this case. It seems like what happened is an assembly failure (that seems to occur since the stars align on the mq 20 limiting assembly graph vs the mq 60 or the mq 1 assembly graph. All of the variation in the graph is in a dangling head which often causes problem and in this case causes the variant to sometimes not be correctly assembled. This is where the

[2022-01-26 08:00] DarioS opened #7648 "MuTect2 Visibly False Negative Variants"
I have a set of whole genome sequencing data which has sequencing of adjacent normals, primary tumours and cell cultures (CC) derived from the tumours. I looked at the intersection and difference between the variants identified in the tumour and in the CC of each person. About 80% of variants are identified in both tissue and CC but about 20% are identified only in one sample. An example:

![image

[2022-01-26 18:06] #6851 closed

[2022-01-26 18:32] s-hoyt commented on #7487
Hello, I am currently having the same problem with the Somatic CNV Panel workflow (https://app.terra.bio/#workspaces/help-gatk/Somatic-CNVs-GATK4), is it possible to have that updated as well? Thanks.

[2022-01-27 05:16] samuelklee opened #7649 "Be aware of numerical stability issues introduced by changes to MathUtils methods, e.g. log10factorial."
Not really an issue, just wanted to document some surprising behavior.

@tmelman has been reviving/reimplementing some ancient CNV/ModelSegments evaluations (dating as far back to 4.0.2.1!) and trying to understand whether possible differences she's been seeing are due to method changes I might have made, intentional or otherwise.

I ran some checks on the stability of ModelSegments using an old s

[2022-01-27 05:16] #7649 closed

[2022-01-27 15:28] ldgauthier commented on #7639
@eriqande thanks for sharing your data, but I'll need your reference fasta as well to be able to reproduce your error.

[2022-01-27 15:46] samuelklee commented on #7649
Actually, I'm going to go ahead and add some exact match tests to guard against this sort of thing. Behavior for key somatic CNV tool modules (i.e., kernel segmentation and MCMC) is unit tested to within statistical noise (so, not exact match) on simulated data, but most integration tests just check for plumbing and not correctness.

The idea was always that this sort of thing would be covered by

[2022-01-27 15:51] ldgauthier commented on #7639
Never mind -- refseq to the rescue.  I'm working on a patch now.

[2022-01-27 16:54] jkobject opened #7650 "mutect2 homozygous alt GT annotation"
## Feature request

Running mutect2 (GATK v4.2.2) in tumor only mode on WES samples and asking it to use/keep germline and PON mutations.
I have noticed that mutect never sets the GT field to be 1/1 (homozygous alt). even with 0 ref and 300 alt reads it will say 0/1, is there a way to set a threshold to define a point on which not to call heterozygosity?

Thanks!

[2022-01-27 17:34] bbimber commented on #7639
I havent looked into this in detail, but if the description above is right, would running this with a GenomicsDB data source and "--max-alternate-alleles=1" likely trigger this? The reasoning is that there are probably sites in your existing test data with more than one ALT?

[2022-01-27 18:29] ldgauthier commented on #7639
Yep, right now that's what would happen.  The previous behavior was that GenomicsDB would return likelihoods for up to 50 alts and then no likelihoods for more than 50 and GenotypeGVCFs I think would subset 7-49 ALTs down to 6 and drop sites with more than 50 ALTs, which is sort of the computational efficiency compromise.  I personally don't trust a diploid site with 50 ALTs.  I believe the old Co

[2022-01-27 18:30] droazen commented on #7639
@mlathara The underlying issue here is that in previous versions of GATK, users would run GenotypeGVCFs with --max-alternate-alleles set to some low value such as 6, while GenomicsDB would at the same time run with a limit of 50 alleles. Now that GenomicsDB is respecting the --max-alternate-alleles argument, we're running with the same value (eg., 6) in both GenotypeGVCFs and GenomicsDB and gettin

[2022-01-27 19:00] seboyden commented on #7639
To reiterate, for me, GenotypeGVCFs 4.2.4.1 gives an ```IllegalStateException``` at the exact same place regardless of whether I run GenomicsDBImport 4.2.4.0 (with the 50 max allele bug) or GenomicsDBImport 4.2.4.1 (with the fix to respect 6 max alleles).  As far as I can tell, the ```IllegalStateException``` has nothing to do with GenomicsDBImport, it's simply a new bug in GenotypeGVCFs 4.2.4.1 t

[2022-01-27 19:02] ldgauthier commented on #7639
Yep, this should fix your issue as well.

[2022-01-27 19:12] droazen commented on #7639
We will do a GATK point release within the next few days to patch the GenotypeGVCFs bug, and also add a `--max-genomicsdb-alternate-alleles` argument that is separate from (and greater than) `--max-alternate-alleles`

[2022-01-27 19:15] mlathara commented on #7639
Let me paraphrase to make sure I understand: GenotypeGVCFs somehow uses the "extra" PL fields returned by GenomicsDB when they each have different max-alternate-alleles arguments. We want to preserve this because this offers a good balance of compute time vs accuracy. Is that right?

So, outlining a few cases:

- GenotypeGVCFs and GenomicsDB have the same max-alternate-alleles set: some sort of fi

[2022-01-27 19:59] ldgauthier commented on #7639
@mlathara do you mean because of the <NON_REF> allele?  As in GenomicsDB max should be at least GGVCFs max plus one for the non-ref that GGVCFs won't output since the GGVCFs arg describes the genotyped output?

[2022-01-27 23:41] mlathara commented on #7639
@ldgauthier you mean this part?

I just wasn't sure whether that particular permutation makes sense (either from a user perspective, or one that GenotypeGVCFs should support). I suppose as long as the argument description defines the potential interaction between the arguments, all permutations can be supported.

[2022-01-28 02:14] vladsaveliev opened #7653 "GenomicsDBImport: [TileDB::FileSystem] Error: (write_to_file) GCS: Only the last of the uploadable parts can be less than 5MB"
GenomicsDBImport: [TileDB::FileSystem] Error: (write_to_file) GCS: Only the last of the uploadable parts can be less than 5MB, try increasing TILEDB_UPLOAD_BUFFER_SIZE to at least 5MB

## Bug Report

### Affected tool(s) or class(es)
`GenomicsDBImport` to a GCS bucket.

### Affected version(s)
- Latest public release version: `4.2.3.0`

### Description

Running `GenomicsDBImport` on ~300 whole gen

[2022-01-28 07:01] your-highness commented on #7650
In a recent tumor-only analysis I also observed this. I could not find any documentation why no hom_alt will be reported. There is some dicussion in [Chapter II E in "Notes on MUTECT2"](https://raw.githubusercontent.com/broadinstitute/gatk/master/docs/mutect/mutect.pdf) but it is still puzzling to me. I assume it is related to the fact that homozygous calls _- as opposed to heterozygous calls -_ d

[2022-01-28 13:15] jkobject commented on #7650
Yes I read this document but it still doesn't make sense to me either..

[2022-01-28 15:41] davidbenjamin commented on #7606
@lbergelson That looks easily fixable.

@DarioS You're right that this is needlessly inefficient.  However, our best practices recommend using gs://gatk-best-practices/somatic-b37/small_exac_common_3.vcf, a much smaller resource file containing only common variants.

[2022-01-28 16:27] ldgauthier commented on #7639
@eriqande your data looks good with the update in https://github.com/broadinstitute/gatk/pull/7655  Hopefully we can get a point release out next week, but if you're in a rush you can roll your own jar from that branch.

There are two args now (both to be used in the GenotypeGVCFs command).  I would suggest setting the `--max-alternate-alleles-for-gdb` to a value 3-4 more than the `--max-alternate

[2022-01-28 20:54] nalinigans commented on #7639
@ldgauthier, would it be possible to rename `--max-alternate-alleles-for-gdb` to `--genomicsdb-max-alternate-alleles`? That way all genomicsdb related args are together and in my mind `gdb` refers to the debugger gdb.

Based on @mlathara's comment, do we need to worry about `--max-genotype-count` as it is tethered to the GenotypeGVCFs argument?

[2022-01-28 23:00] DarioS commented on #7606
Ah, so `small_exac_common_3.vcf` is recommended even for whole genome sequencing data? Neither the core facility which implemented the pipeline nor I picked up on that previously.

[2022-01-31 15:17] jkobject commented on #6857
I am running `v4.2.4.0` and still have the issue

[2022-02-04 23:04] droazen commented on #7639
Fixed in GATK 4.2.5.0

[2022-02-04 23:04] #7639 closed

[2022-02-05 01:00] DarioS commented on #7648
Another view of same variant location but sorted. Location is hg38 chr7:142044831-142044925. Variant at 142044845.
![image](https://user-images.githubusercontent.com/631218/152621538-997221fe-5b6a-4546-9a2e-e7032da4ace3.png)

[2022-02-07 17:31] #1495 closed

[2022-02-07 19:14] droazen commented on #7653
@nalinigans @mlathara Any insight into this one?

[2022-02-07 19:16] droazen commented on #7648
@davidbenjamin Tagging you on this one

[2022-02-07 19:25] droazen commented on #7630
@ldgauthier Thoughts on this one?

[2022-02-07 19:46] droazen commented on #7623
@cmnbroad We discussed this one, and it seems like it should be a barclay issue rather than a GATK issue. Mind moving it over and closing this one when you get a chance?

[2022-02-07 22:34] nalinigans commented on #7646
@droazen, yes for luster, we should have pass the `--genomicsdb-shared-posixfs-optimizations` especially with GenomicsDBImport.

[2022-02-07 22:36] spatel-gfb commented on #7646
Thanks @droazen  and @nalinigans , I will try it out and get back with results.

[2022-02-07 22:49] nalinigans commented on #7653
@vladsaveliev, this looks like a bug uploading to Google Cloud. How large is the book-keeping file - eqr_loader/v0/genomicsdbs/interval_0_outof_50/chr1$1$61698845/__64761969-0f52-4be1-a7c5-264d6dd36465140686419941120_1643299495929/__book_keeping.tdb.gz?

[2022-02-07 23:20] #7636 closed

[2022-02-08 05:00] DarioS commented on #7631
In a similar vein, would it be feasible to allow sample-matched RNA-seq data to be specified as input, so that the annotation is based on the actual isoform(s) that is (are) transcribed in a particular sample? The same SNV may be annotated in two different ways in two different samples, if the isoform(s) inferred by RNA-seq data differ (e.g. exonic for Patient A, intronic for Patient B). It avoids

[2022-02-08 22:32] nalinigans commented on #7653
@vladsaveliev We are trying to reproduce this issue from our end, but did the import succeed without consolidation?

[2022-02-09 13:06] vladsaveliev commented on #7653
Hey @nalinigans - disabling consolidation made GenotypeGVCFs run for too long, so I didn't wait for the completion and cancelled it.

My solution was to go the way it's done in the WARP pipeline: bundle the db workspace into a tarball, then extract it locally on the instance that runs GenotypeGVCFs. This approach might also be cheer as it could save on cloud logging spent on small regional request

[2022-02-09 18:56] bbimber opened #7667 "Subset samples from GenomicsDB workspace?"
Hello,

Are there tools to manipulate a GenomicsDB workspace, such as removing samples? For example, can one run SelectVariants on a workspace and write the result to a new workspace?

If SelectVariants does work, does that read/write have the effect of doing a --consolidate on the result?

Thanks

[2022-02-09 23:23] asmirnov239 opened #7668 "Evaluate memory-less HMM transition matrix implementation for gCNV"
Using 1kG and/or other cohorts, evaluate performance of current implementation of gCNV model against the alternative described in #4988.

[2022-02-10 00:15] vladsaveliev commented on #7589
Was wondering about the dropped alleles as well - thanks for a detailed response @ldgauthier!

[2022-02-10 17:28] amithasandur opened #7669 "Concordance tool for somatic variant calling"
This ticket is for tracking the progress of the concordance project described here which is in collaboration with @davidbenjamin from DSP. The output of GATK Mutect2 is in VCF format, and there is an existing GATK tool to compare the output VCF to a truth VCF containing real mutations. David is working on improving Mutect3, as part of that there is a need for a tool specific to somatic variant cal

[2022-02-11 15:46] ClayBirkett commented on #6110
This is still a problem. Is anyone working on it?

[2022-02-12 07:16] kvn95ss opened #7671 "Possible speed up when using SelectVariants?"
Hello,

We are working with ~1700 exome samples. The vcf file generated after joint genotyping is around 80 GB (uncompressed). When we are extracting samples from this master file, each extraction (regardless of singleton or trio exome) takes around 40-60 minutes.

We are using gatk 4.1.8.0 for production, and we tried the latest gatk (4.2.5.0) but we saw roughly 10 min decrease in extraction time

[2022-02-14 14:20] cmnbroad commented on #5895
I recently rebased and re-ran this test. The results look similar to last time. The travis results can be found [here](https://app.travis-ci.com/github/broadinstitute/gatk/builds/246119278), while they last. The branch with the code is https://github.com/broadinstitute/gatk/tree/cn_cache_thrash_master.

[2022-02-14 20:44] amithasandur commented on #7669
Installed cyvcf2, read output vcf and truth vcf, parsed output vcf variants into a list of filters using set(variant.FILTER.split(";")).

@davidbenjamin I noticed that while parsing the truth vcf and extracting variant.FILTER it returns `None` in each line, on looking into the [cyvcf2 documentation](https://brentp.github.io/cyvcf2/docstrings.html) it mentions that `a value of PASS or ‘.’ in the VC

[2022-02-14 23:01] spatel-gfb commented on #7646
Hello @droazen and @nalinigans , we tried out the parameter you suggested and did improve the performance but not as great as compared to writing the data locally and then moving to FSx for luster.

Using the parameter, the job completed in ~2 hrs 52 mins, whereas when we run to write on EBS volumes it completes within 1 hr.

[2022-02-14 23:19] nalinigans commented on #7646
Thanks @spatel-gfb. The consolidate argument is what will give you the performance as the consolidation happens in memory when running `GenotypeGVCFs` or `SelectVariants` otherwise. Working on the fix for the consolidation issue, hopefully will have it in a branch in a day or so.

Yes, running queries from a local disk will be the fastest, but running from NFS/Lustre/Cloud Storage should be compar

[2022-02-14 23:21] spatel-gfb commented on #7646
Thanks @nalinigans , will it also help in Importing VCFs to the genomics db ?

[2022-02-14 23:48] nalinigans commented on #7646
It will help with importing in that consolidation will run successfully. Also, running consolidation during import means it is performed only once. Otherwise, every query run an in-memory consolidation that can be resource-intensive before actually running the query.

[2022-02-15 01:15] nalinigans commented on #7646
Modifying what I wrote earlier, got confused with another issue.

I am not familiar with Lustre and Lustre configuration. Did the excessive file locking from Lustre(FUTEX_WAIT_PRIVATE?) go away with `--genomicsdb-shared-posixfs-optimizations`?

Is there anyway to configure Lustre buffer sizes for writing? If not, can you try setting environment variable TILEDB_UPLOAD_BUFFER_SIZE to something like

[2022-02-15 03:54] davidbenjamin commented on #7669
@amithasandur The Mutect2 pipeline output and the truth VCFs are both filtered, so whenever `variant.FILTER` is `None` it means in both VCFs that the variant is `PASS`.

In intermediate stages of the pipeline -- after Mutect2 but before FilterMutectCalls -- there are VCFs with `.` in the FILTER column, but you may assume that your tool never needs to deal with that case.

[2022-02-15 17:05] GATKSupportTeam opened #7672 "Mutect2 mitoochondria mode force-calling misses some alleles"
This request was created from a contribution made by Rahul Gupta on February 03, 2022 19:42 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4417613488411-In-Mutect2-force-calling-allele-via-alleles-does-not-force-call-the-allele](https://gatk.broadinstitute.org/hc/en-us/community/posts/4417613488411-In-Mutect2-force-calling-allele-via-alleles-does-not-force-call-the-allele)

[2022-02-15 21:00] bbimber opened #7674 "GenotypeGVCFs/GenomicsDB and Cannot allocate memory error"
Hello,

We're trying to run GenotypeGVCFs on a large genomicsDB workspace. The command is below, with the output. We run these jobs scatter/gather, with each job getting a define, small interval set. Despite being given a huge amount of RAM (testing >250GB), virtually all of the jobs die without any messages right after the "Starting traversal' message. A few gave error messages like the one below

[2022-02-15 21:51] amithasandur commented on #7669
@fleharty

[2022-02-15 22:24] bbimber opened #7675 "GenotypeGVCFs / NoClassDefFoundError: org/broadinstitute/hellbender/relocated/com/google/common/base/Function"
Hello,

I am running GATK GenotypeGVCFs v4.2.5.0 using a command similar to the one below. I downloaded the gatk ZIP from github, unzipped, and we run the local JAR (renamed to GenomeAnalysisTK4.jar). I am consistently getting a strange NoClassDefFoundError error (below). I noticed com/google/common/base is relocated in the shadowJar step, and that is the class it's complaining about here. Have yo

[2022-02-15 22:29] droazen commented on #7675
@bbimber The underlying error (`ZipException: invalid LOC header (bad signature)`) suggests that there might be an issue with the JAR file being corrupt. Can you try re-downloading the GATK from github and seeing if the problem persists? It would also be helpful if you could post the MD5 of the JAR file you're running (generated via the command `md5sum <jar_file>`)

[2022-02-15 22:31] bbimber commented on #7675
I thought that at first too. I re-downloaded and for the same error.  The md5sum is (I dont know if filename matters for this):

ca9b358340abbe146ecdd1e83c39cad4  ../bin/GenomeAnalysisTK4.jar

[2022-02-15 22:35] bbimber commented on #7675
After yet one more re-download, the "pristine" JAR from github (https://github.com/broadinstitute/gatk/releases/download/4.2.5.0/gatk-4.2.5.0.zip), comes out the same:

ca9b358340abbe146ecdd1e83c39cad4  ./gatk-4.2.5.0/gatk-package-4.2.5.0-local.jar

[2022-02-15 22:39] droazen commented on #7675
@bbimber Can you try building the GATK 4.2.5.0 zip from source using the command `./gradlew bundle`, and report whether the issue persists?

[2022-02-15 23:51] bbimber commented on #7675
OK, so that involved jumping through a bunch of hurdles. i ended up using your docker image to check out and build the project (based on the 4.2.5.0 tag). copied that JAR out, and re-tried on our cluster.  I grabbed the JAR in the build -> "bundled resources" folder, named: gatk-package-4.2.5.0-SNAPSHOT-local.jar. I think this is the shadow JAR, but nothing was explicitly named that.

From here, I

[2022-02-16 00:14] GATKSupportTeam opened #7676 "FuncotateSegments java.lang.IllegalArgumentException: Invalid interval in FuncotateSegments"
This request was created from a contribution made by tc on February 09, 2022 17:49 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4418364848795-java-lang-IllegalArgumentException-Invalid-interval-in-FuncotateSegments](https://gatk.broadinstitute.org/hc/en-us/community/posts/4418364848795-java-lang-IllegalArgumentException-Invalid-interval-in-FuncotateSegments)

\--

Hi,

I t

[2022-02-16 00:46] spatel-gfb commented on #7646
Hello @nalinigans,

As part of gatk-sv pipeline we are using GATK : v4.1.8.1 which doesn't have bypass-feature-reader option. Also, we didn’t capture strace for the run with just "--genomicsdb-shared-posixfs-optimizations" so wont be able to share the FUTEX process counts.

So after using v4.2.4.1 we get below results.

	- Using "--genomicsdb-shared-posixfs-optimizations" & "--bypass-feature-reade

[2022-02-16 07:00] abalter opened #7677 "Simple way to have VariantsToTable output all fields. Just want the entire VCF as a table."
I'm trying, for example,

`gatk VariantsToTable -V clinvar.vcf -O clinvar.tsv`

It goes through the motions and displays progress. The output file is created, and it has the right number of lines. But the lines are all empty!

Maybe add a default value to the `-F` switch?

[2022-02-16 18:41] lbergelson commented on #7675
I can't reproduce this yet.  I tried downloading the jar, unzipping it, and running the example command you gave, but I can't reproduce what you're seeing.

I modified it for my local files:
[code]
It runs to completion on my machine.
My md5sum matches yours so that's not the problem.

It's not clear to me what's going on here.  Are the previous releases working on your cluster still?

[2022-02-16 18:44] lbergelson commented on #7675
Unrelatedly, I'm a bit curious about what hoops you had to jump through to get the build from source to work.

[2022-02-16 18:45] droazen commented on #7675
@bbimber Could you please try running the following command on your GATK jar:

[code]

Then see whether the `jar` command reports any error, and whether the `echo` command shows an exit status of 0 for the command.

Also try running this:

[code]

You should get output like:

[code]

Lastly, can you paste your complete Java classpath here?

We just checked the official release jar on github oursel

[2022-02-16 18:48] lbergelson commented on #7675
To follow that up, I see the same md5 for the unpacked local jar as you had, so I don't think there's something wrong with your download.

`gatk-package-4.2.5.0-local.jar` is indeed the shadow jar you're looking for.  We make 2 different ones so they have more specific names than "shadow".  `gatk-package-4.2.5.0-spark.jar` is the other one.

[2022-02-16 18:48] bbimber commented on #7675
@lbergelson thanks for following up. To the first part:

[code]
returns 0. and this is:
[code]
so seems ok. I will talk to the group that manages the cluster. one out there possibility is that this is based on a lustre filesystem, and there could be some cryptic cluster-specific access issue. i have no specific reason to believe this, but weird things have happened.

[2022-02-16 18:51] bbimber commented on #7675
To the question on building it: I guess it isnt really a problem with your build per-se, but rather it seems to make a variety of assumptions or requirements on the environment that were difficult to replicate on our cluster (where i lack admin privs). Using your docker image was the faster way i could find to replicate the needed environment. Issues I hit included: 1) needed git lfs installed (on

[2022-02-16 18:52] nalinigans commented on #7674
@bbimber, did you use `GenomicsDBImport` from v4.2.5.0 as well? How large is your /home/exacloud/gscratch/prime-seq/cachedData/16b9ede7-6db8-103a-9262-f8f3fc86a851/WGS_Feb22_1852.gdb/1$1$223616942/__9b9a9e96-139c-4105-81ec-ab1455d1f01d140490873108224_1597099702436/__book_keeping.tdb.gz  file? Anyway, you can share it with us?

[2022-02-16 18:57] bbimber commented on #7674
@nalinigans We almost certainly used the prior version for GenomicsDBImport (4.2.3.0 or 4.2.4.0). Is that a problem?

That file is ~66mb. I did a quick 'zcat <file> | wc -l' and there was no error (like a gzip corruption or something). If you want the file I can arrange to share it

[2022-02-16 19:12] lbergelson commented on #7675
Huh, I wonder why gradle doesn't like a lustre system.  I didn't now that was an issue.  Git-lfs is an annoyance to install if you don't have access to a package manager.  I *think* it can be installed without sudo but I get why that's a pain.  I've spent a non-zero amount of time fighting with git-lfs installation before. Thank you for elaborating!

[2022-02-16 19:13] bbimber commented on #7675
@lbergelson yes, those things might have been possible, but once i hit more than one snag, docker seemed much more appealing.

[2022-02-16 19:13] nalinigans commented on #7674
There was an issue with the compressed write of book-keeping files. The import would seem to have succeeded, but the issue would show up during queries sometimes. This was fixed in `4.2.3.0` - see https://github.com/broadinstitute/gatk/pull/7520. If you did use `4.2.3.0`, it should not have been a problem.

Yes please, can you arrange to share the `_book_keeping.tdb.gz` file? Can you also share th

[2022-02-16 19:21] jkobject commented on #6830
Hi,

It seems this was removed in a new version of the workflow.

[2022-02-16 19:25] nalinigans commented on #7674
Another question, did `GenotypesGVCFs` succeed before with the same workspace?

[2022-02-16 19:25] jkobject commented on #6830
It is on Master it seems but not in a tagged commit, so hard to use reproducibly.

[2022-02-16 19:28] droazen commented on #6830
@jkobject The requester pays option appears to be present in the most recent `4.2.5.0` release of the `Mutect2` workflow:

[code]

[2022-02-16 19:30] lbergelson commented on #7675
Yes, using docker makes sense!

[2022-02-16 19:49] bbimber commented on #7674
@nalinigans We have a very large WGS dataset (<2K subjects). We incrementally add to it over time. After each new batch of data is added, we typically run GenotypesGVCFs. We have run GenotypesGVCFs  on prior iterations of this GenomicsDB workspace; however, we have never run it on this particular workspace, after the addition of new samples.

You can get those files here:

https://prime-seq.ohsu.e

[2022-02-16 20:10] calvertj commented on #6671
@droazen , any updates here?

[2022-02-16 20:35] lbergelson commented on #6671
What's holding us up is me being very and busy with other things.  I don't think there are any technical problems that we know about.  The newest disq releases support 3+.  We just need to upgrade and test to find out what we broke.

[2022-02-16 20:57] jkobject commented on #6830
Oh thanks!
I am sorry it wasn't on dockstore, I should have checked here.
Best,

[2022-02-16 21:47] rickymagner opened #7681 "CombineGVCFs auto-generated workflow is missing vcf indices as inputs"
## Bug Report

### Affected tool(s) or class(es)
CombineGVCFs

### Affected version(s)
- [X] Latest public release version [4.2.5.0]
- [ ] Latest master branch as of [date of test?]

### Description
The auto-generated wdl for CombineGVCFs on dockstore won't work because it doesn't have any inputs for the indices of the input vcfs. This means GATK cannot access the vcf indices because they never ge

[2022-02-16 23:27] nalinigans commented on #7674
Thanks @bbimber. Just tested with the files you shared and the book keeping file uncompresses and loads fine. So, no problem on that count.

As you have noticed, consolidation is very resource-intensive in GenomicsDBImport. When fragments are not consolidated on-disk during import, they get consolidated in-memory during queries. In this case, it is possible that with 79 fragments and with 10MB(har

[2022-02-16 23:32] bbimber commented on #7674
@nalinigans We actually already leave a 60G buffer between what we request for the cluster job and what is given to GATK's -Xmx.

[2022-02-16 23:41] nalinigans commented on #7674
Yes, 60G should be sufficient. I will run a native consolidation with some data for profiling and see what I come with. Also, what OS and version are you running on?

[2022-02-17 22:40] norangio opened #7684 "PathSeq --disable-read-filter option"
----

## Documentation request

### PathSeqPipelinSpark
_--disable-read-filter_

### Description

The --disable-read-filter input takes a list of read filters to be disabled before analysis, however does not provide a list of the names of the possible read filters to disable. What are the names of these filters? Including these in the documentation would be helpful.

----

[2022-02-18 16:44] mlathara commented on #7646
It's hard to say what is going on here exactly...but a couple of clarifying questions here. You stated that importing to EBS was roughly 2x faster than Lustre (~1hr vs ~2hrs). Is that right? Are the vcfs on Lustre in both cases?

We're not sure exactly what is going on here...generally we do see some slowdown on shared filesystems compared to just private mounted disks. Do you have access to any C

[2022-02-18 20:54] bbimber opened #7687 "NPE When using GenomicsDB and GenotypeGVCFs with --max-alternates"
Hello,

I'm running GATK 4.2.5.0 with a command line this. Note --max-alternate-alleles and --genomicsdb-max-alternate-alleles.

[code]

I'm getting this NPE after it runs for about 40 minutes, meaning many sites were processed fine:

[code]
which maps to: https://github.com/broadinstitute/gatk/blob/da7cd8337e0a2b5b557f2dde9c86d163f727045d/src/main/java/org/broadinstitute/hellbender/utils/Genotype

[2022-02-19 12:03] LiviaMoura commented on #7589
Hello again everyone.

First of all, thank you @ldgauthier to send us that snapshot docker. It kind of solved reblock problem. As feedback here, I tried with the newest GATK version (4.2.5) as it modified ReblockGVCF, but it didn`t work.

Anyway, I have another issue here...
While I was using only one or few chromosomes, the pipeline with reblock + gnarly was working fine. Once I added all chromos

[2022-02-19 13:12] mtariqsajid commented on #7281
how you able to use spark with mutect2 ?

[2022-02-19 13:19] mtariqsajid opened #7688 "how to multithread mutect2 process ?"
can any one please help me how to speedup mutect2
I have 40 core processor and 96gb ram

but mutect2 use 4 threads only and around 1gb ram
`./gatk Mutect2 -R cs_ref.fa -I cs_cr_mapped_AORRG_sorted_dedup.bam -O cs_cr_mapped_AORRG_sorted_dedup2.vcf`

[2022-02-21 01:00] DarioS commented on #7688
It is not designed to enable you to do that. It uses a scatter-gather approach for parallelism. You'll want to submit multiple tasks that each process a disjoint interval of the genome. Personally, I have wondered how Mutect2 performs for variants at the borders of interval boundaries.

[2022-02-21 09:16] your-highness commented on #7688
On scatter-gather see here: https://gatk.broadinstitute.org/hc/en-us/articles/360035532012-Parallelism-Multithreading-Scatter-Gather

Best to scatter by chromosome - so no interval boundaries per definition exist.

[2022-02-21 15:25] rahulg603 commented on #6179
Hi all -- I have recently started observing this exact issue with PrintReads. I have been using this via cromwell jobs in Terra and on Saturday this issue cropped up. I was able to recreate it locally by launching the latest GATK Docker image (4.2.5.0) and running `gcloud auth login` and `gcloud auth application-default login`. Similar to @ldgauthier adding `export GOOGLE_CLOUD_PROJECT=` does noth

[2022-02-22 09:25] gvarmaslu commented on #6110
I do have the same problem with samtools indexing, in order to use this for GATK I need it in .bai index, .csi index is not supported in GATK!
Error:
samtools index ${filenm_root}.cutad.sort.bam
[E::hts_idx_push] Region 537233901..537233984 cannot be stored in a bai index. Try using a csi index with min_shift = 14, n_lvls >= 6

[2022-02-22 13:46] cmnbroad commented on #7681
For variant inputs, there is no actual arg corresponding to the index inputs (like there is for read inputs), so for variants the index needs to be added to the input annotation as a companion file.

[2022-02-22 16:50] droazen commented on #7687
@ldgauthier Thoughts on this error? Is it related to the patch in https://github.com/broadinstitute/gatk/pull/7670?

[2022-02-22 16:56] #7681 closed

[2022-02-22 17:18] rahulg603 commented on #6179
Thanks for your response @droazen -- it still does not work for me. I am able to access the bucket fine via gsutil -u {project} as expected.

I wonder if this is some GCP issue because I am also unable to get Cromwell to pull down files from requester pays (via Terra, so this should be handled in theory), an issue that a colleague also has once I asked her to run this command on a different r/p bu

[2022-02-22 19:58] droazen commented on #7687
@bbimber We believe that this should be fixed by https://github.com/broadinstitute/gatk/pull/7670, which will go out in the next GATK release. If you're able to test with that patch and give feedback on whether it resolves the error for you, that would be helpful!

[2022-02-22 20:00] bbimber commented on #7687
@droazen Is there a nightly or similar build I could take advantage of to get a JAR with this fix? I can built that branch locally if needed, but something automatic would save a little effort.

Any thoughts on how soon you'd consider making a minor release?

[2022-02-22 20:02] droazen commented on #7687
@bbimber Once that PR is merged, it will automatically go out as part of the next GATK nightly docker snapshot (https://hub.docker.com/r/broadinstitute/gatk-nightly). We are going to do a point release shortly after that PR goes in.

[2022-02-22 20:04] bbimber commented on #7687
ok, fantastic

[2022-02-22 21:00] DarioS commented on #7557
@lbergelson Were you able to reproduce the issue or is there something else I could provide to help?

[2022-02-23 00:55] shenweima commented on #6110
It is time to solve ...?

[2022-02-23 05:00] DarioS commented on #7669
Out of curiosity, how did you define the truth set of somatic SNVs in this project?

[2022-02-23 14:52] LiviaMoura opened #7690 "[BUG] Bad input: This tool assumes diplod genotype"
## Bug Report

### Affected tool(s) or class(es)
GnarlyGenotyper

### Affected version(s)
- [ ] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]
- [x] 4.2.3 - snapshot -> https://console.cloud.google.com/gcr/images/broad-dsde-methods/US/gatk_subset_dragen_allele_frac@sha256:f5e93bda2278f1c999bd9def027c6851eeb098736b47a93469c524863b46c21f/details

### Descri

[2022-02-23 17:35] lessdata opened #7691 "Block compressed gVCF file is rejected by GenomicsDBImport --bypass-feature-reader due to non-standard file extension"
## Bug Report

### Affected tool(s) or class(es)
GenomicsDBImport

### Affected version(s)
- [ ] Latest public release version [4.2.5.0]

### Description
My gVCF files are block compressed and indexed, but the files have the file extension ".gvcf.gz" rather than ".vcf.gz". When I run `GenomicsDBImport` with `--bypass-feature-reader`, the ".gvcf.gz" file cannot be recognized as a block compressed v

[2022-02-23 19:02] xylebori commented on #7639
Hello all.  Thank you for this incredibly useful software tome of tools and documentation.  I can't imagine progressing far in any meaningful way without your hard work.

 I am re-opening this thread because I have encountered a problem and this thread seems to be closest to the issue I am experiencing.  I am running GATK 4.2.5.0 on a GenomicsDB consisting of ~500 wolf exomes, created using GATK 4

[2022-02-23 19:16] droazen commented on #7639
@xylebori There were a couple of issues with the GenomicsDB / GenotypeGVCFs pipeline in the 4.2.5.0 release that will be fixed with the patch in https://github.com/broadinstitute/gatk/pull/7670. I'm not certain they are related to the issue you're encountering, but you could try running with that patch (or waiting for 4.2.6.0, which should be out shortly) and see if it helps.

[2022-02-23 19:22] droazen commented on #7691
@lessdata In many cases we need to rely on the file extensions to check the file format, because actually opening the files and reading the first few bytes to determine the format gets expensive when the files are hosted in the cloud and there are many VCFs. I do agree that this error message could be improved, however -- it should mention the file extensions that are allowed.

[2022-02-23 19:43] jamesemery opened #7693 "Investigate potential memory leak in HaplotypeCaller when running long intervals"
I recently noticed a series of what were evidently memory failures when running HaplotypeCaller on some standard test WGS data when using the exact task used in the warp pipeline here:  https://github.com/broadinstitute/warp/blob/develop/pipelines/broad/dna_seq/germline/variant_calling/VariantCalling.wdl. I found that running that wdl with otherwise default inputs except for `haplotype_scatter_cou

[2022-02-23 20:53] ldgauthier commented on #7690
Hi @LiviaMoura

We don't have any haploid calling in the Broad production pipeline, so we never included that feature in Gnarly.  (For chrY people typically filter out hets and then treat 0/0 as 0 and 1/1 as 1. chrX on males admittedly requires a little more finesse.)  I can probably take a look next week. I'm not sure how much effort a fix would entail, but hopefully the haploid case is just a si

[2022-02-23 20:59] #7691 closed

[2022-02-23 21:44] RWilton opened #7696 "Bug in HaplotypeCaller: parameter mate-too-distant-length is readonly"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
- Latest public release version [4.2.5.0]

### Description

#### Steps to reproduce
Specify `--mate-too-distant-length` parameter.

#### Expected behavior
Use specified value to filter paired-end reads.

#### Actual behavior
Java exception:

[code]

[2022-02-23 22:18] LiviaMoura commented on #7690
I see...
I came up with this problem because we have many patients resulting from Dragen pipeline that we want to analyze. Right now we can use Hail to analyze all 22 Chr from Gnarly pipe, but the sexual Chr is missing, and they are important for many syndromes. We can try doing manual filtering as you mentioned, but I'm just pointing out this bug we came across. If you have any other tip/faq/"for

[2022-02-24 05:53] ning-y opened #7697 "Option to not run VariantRecalibrator's Rscript"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2022-02-24 16:00] jamesemery commented on #7693
To add another Wrinkle to this. I found that running the exact same set of 10-way GATK jobs succeeded when i doubled the off-java memory from 1GB to 2GB. This makes me very strongly suspect the issue is related to the GKL.

[2022-02-24 17:13] droazen commented on #6179
Reopening this ticket, as others have encountered this error recently as well

[2022-02-24 20:25] droazen commented on #6179
@rahulg603 We've confirmed this issue on our end, and have a proposed fix in a branch that we're currently testing. Should be resolved in the next GATK release, which will come out within the next ~week.

[2022-02-25 01:45] bbimber commented on #7674
@nalinigans We are getting another type of error now. I should add that most of these jobs (we run them per-chromosome) import 4/5 batches, and then die with no errors. Once in a while it prints an error, and this is one example:

[code]

Does that give anything to suggest troubleshooting steps?

The full command is:
[code]

this is GATK v4.2.5.0. Thanks i advance for any ideas.

[2022-02-25 03:39] nalinigans commented on #7674
@bbimber, this is another manifestation of running out of memory - `Error: (gzip_handle_error) Cannot decompress with GZIP: inflateInit error: Z_MEM_ERROR`. We have been looking into these types of issues with heap profilers. Will share a libgenomicsdb.so to try out with gatk when we have something.

[2022-02-25 16:42] Z-Zen opened #7699 "DepthOfCoverage: increase decimal digits"
## Feature request

### Tool involved
DepthOfCoverage

### Description
Addition:
Actually, when producing the depth of coverage, it outputs only 1 digit after the decimal point.
Would it be possible to have X digits after the decimal point when producing a summary coverage threshold?

Thank you in advance.

[2022-02-25 18:38] droazen commented on #7699
@jamesemery What do you think of this request?

[2022-02-25 19:45] nalinigans commented on #7674
@bbimber, thanks to @mlathara and @kgururaj, here is a suggestion.

With ~36 attributes+offsets and ~80 fragments in GenomicsDB parlance getting stored, with `--genomicsdb-segment-size=1048576(1M default)`, we are looking at memory requirements in the range of 10G of memory for reading during consolidation. Just wondering, if you could try GenomicsDBImport with the following options to see if it h

[2022-02-25 20:42] bbimber commented on #7674
Thanks, we'll try this.

[2022-02-27 14:45] bbimber commented on #7674
An update on this, I restarted with genomicsdb-segment-size as you suggested. here's the timing thus far:

[code]

So it progressed through the first 4 batches, which is what it did originally. Previously, it would always die after logging this line.  It's been at this point for ~24H, but at least it appears to still be running. Do you expect it to log 'done importing batch 5/5'? Any idea what Gen

[2022-02-28 16:52] jamesemery commented on #7699
@Z-Zen It wouldn't be to hard to make the precision of the numbers configurable. How would you propose to be able to specify it that would be best for you?

[2022-02-28 19:23] droazen commented on #7697
@ning-y This is a very reasonable suggestion -- but are you not able to run the official GATK docker image or conda environment when running this tool?

[2022-02-28 19:29] droazen commented on #7696
@RWilton Good catch! Thanks for reporting this -- we'll fix the broken read filter argument in the next GATK release

[2022-02-28 19:29] nalinigans commented on #7674
Yes, we do expect a `done importing batch 5/5`. The reason it is taking long is because it is doing the consolidation in this phase too. Should probably disassociate the import with the consolidate phases, so we can print out `consolidating batches` or something like that.

Is the import finished at this point? If not, would it be possible to run a utility like `top` to print out cpu and memory us

[2022-02-28 19:33] droazen commented on #7688
Closing as answered

[2022-02-28 19:33] #7688 closed

[2022-02-28 19:40] bbimber commented on #7674
@nalinigans No, not finished but also not dead. This is all running on a slurm cluster. I will see about connecting to the node. I've never done this, but I know it's possible.

[2022-02-28 19:40] #7684 closed

[2022-02-28 19:45] droazen commented on #7675
Closing this one since we can't replicate it on our end

[2022-02-28 19:45] #7675 closed

[2022-02-28 19:48] droazen commented on #7603
Closing, since GATK is now on log4j 2.17.1

[2022-02-28 19:48] #7603 closed

[2022-03-01 00:46] bbimber commented on #7674
@nalinigans I'm afraid we're back to failing. You can see from the timestamp the time between Batch 4 and failure:
[code]

[2022-03-01 02:26] ning-y commented on #7697
I use the conda package [bioconda/gatk4 (version 4.2.5.0)](https://bioconda.github.io/recipes/gatk4/README.html), but from memory that conda package does not include the necessary R dependencies --- I could be wrong, though!

[2022-03-01 12:15] Z-Zen commented on #7699
@jamesemery thanks for the reply. I believe the easiest would be to give a command line parameter like `--digits / -D` or `--precision / -P` and take an integer parameter which would be the number of digits after the decimal point.

[2022-03-01 15:36] #7696 closed

[2022-03-01 19:56] GATKSupportTeam opened #7702 "Add DiagnoseTarget to DepthofCoverage GATK4"
Here is an issue ticket for adding the diagnosetarget feature to DepthofCoverage

This request was created from a contribution made by Benoit Dewitte on February 09, 2022 13:15 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4418326549531-Whats-the-equivalent-of-gatk3-depthofcoverage-and-diagnosetarget-](https://gatk.broadinstitute.org/hc/en-us/community/posts/4418326549531-W

[2022-03-02 08:00] abalter commented on #7677
@droazen -- is there a way to simply list all the possible fields in the header? Then I could use that list to create an input for the `-F` flag.

[2022-03-02 17:42] droazen commented on #6179
Update on this: we've submitted a patch to the `java-storage-nio` library that fixes this issue (https://github.com/googleapis/java-storage-nio/pull/832), and are waiting for Google to merge / release it. Once Google has released a new version of their library we'll upgrade GATK to it and this should be resolved. We still anticipate that this will happen in time for the next GATK release.

[2022-03-03 05:27] nalinigans commented on #7674
@bbimber, sorry that the import with consolidate and our suggestions did not complete. If you are amenable to using a native tool, please download https://github.com/GenomicsDB/GenomicsDB/releases/download/v1.4.3/consolidate_genomicsdb_array for consolidation. This executable will consolidate a given array in a GenomicsDB workspace, it has been instrumented to output memory stats to help tune the

[2022-03-03 17:01] bbimber commented on #7674
@nalinigans We really appreciate you help and suggestions on this. I'll try consolidate_genomicsdb_array. One question: does this modify the workspace in-place? If so, I assume we should clone the workspace, similar to the recommendation for GenomicsDBImport/Append?

[2022-03-03 17:45] nalinigans commented on #7674
Yes, the consolidation will be in-place and you can clone the workspace before trying the consolidate.

[2022-03-04 14:53] rhinorus opened #7706 "cnv_germline_case_workflow.wdl > The number of input call shards must match the number of input model shards"
## Bug Report

### Affected tool(s) or class(es)
- gatk/scripts/cnv_wdl/germline/cnv_germline_case_workflow.wdl
- gatk/scripts/cnv_wdl/germline/cnv_getmline_cohort_workflow.wdl

### Affected version(s)
- **WDL** file from GATK latest release (4.2.5.0)
- **Docker** - latest (4.2.5.0)

### Description
Accoridng to [GATK Germline CNV WDL instructions](https://github.com/broadinstitute/gatk/blob/maste

[2022-03-05 00:08] bbimber commented on #7674
@nalinigans OK, so most of these jobs are still going (we run per contig); however, one just died as follows:
[code]

Is there any information from this, or information i could gather, that's helpful here?

[2022-03-06 11:15] gaze-abyss opened #7707 "The CalculateContamination Bug Report"
##The CalculateContamination  Bug Report

Hello, I have a problem to ask you:

I running this command in the gatk4-4.2.3.0-0:
`gatk CalculateContamination -I gewb.tumor.pileups.table -matched gewb.normal.pileups.table -O gewb.contamination.table`

the following information is displayed:

Using GATK jar /cluster/home/jialu/miniconda3/envs/wes2/share/gatk4-4.2.3.0-0/gatk-package-4.2.3.0-local.jar
Ru

[2022-03-06 11:19] gaze-abyss commented on #7707
Here is a demonstration of the two input files:
chr1 69091 A AAAAAAAAAAAAAAAAAAAAAAAA <AAA<AAABBABAB=AAABBAAAB
chr1 69092 T TTTTTTTTTTTTTTTTTTTTTTTT BBBBBCBBCCBC@DBBBBDCBBCC
chr1 69093 G GGGGGGGGGGGGGGGGGGGGGGG IJ-JKKJKKJ;JEJJJJEEJJKE
chr1 69094 G GGGGGGGGGGGGGGGGGGGGGG HIHHIIIIHFHGHHHHGFHHIF
chr1 69095 T TTTTTTTTTTTTTTTTTTTTTT AAABAAABACACAAAADCAAAC

[2022-03-06 13:55] qymeng1996 opened #7708 "Key END found in VariantContext field INFO at Gbar_A01:24359 but this key isn't defined in the VCFHeader"
Hello,
I want to merge multi HaplotypeCaller GVCF files into a single GVCF with **CombineGVCFs**, but I got a error warnings,  **Key END found in VariantContext field INFO at Gbar_A01:24359 but this key isn't defined in the VCFHeader. We require all VCFs to have complete VCF headers by default.**
I ran the gatk with 4.1.6 version, here is my command.
`java -Xmx200g -jar /public/home/qymeng/biosoft

[2022-03-07 07:25] #7708 closed

[2022-03-07 14:37] fgvieira commented on #7548
And yet another issue! :smile:
Would it be possible to allow disabling leading zeros? Right now, even if I specify `--interval-file-num-digits 1`, the output comes as `00-of-24`.

thanks!

[2022-03-07 19:15] droazen commented on #7707
@gaze-abyss Can you check your `.table` input files to see whether they have a header that looks like this:

[code]

The error message indicates that the tool is not finding the "contig" column for some reason, and a malformed header line is one possiblity.

[2022-03-07 19:16] droazen commented on #7706
@mwalker174 ^^^

[2022-03-07 19:37] droazen commented on #7677
@abalter The complete list of fields should be present in the VCF header, but unfortunately I don't know of a convenient way to extract them apart from the manual method. It would be pretty simple to write a script or GATK tool to parse the VCF header and list all the fields, but the best solution would be to patch the `VariantToTable` to default `-F` to all the fields, as discussed above.

[2022-03-07 19:50] mwalker174 commented on #7706
Hi @rhinorus,

This is surprising since we routinely run gCNV case on single samples without issue, albeit on Google Cloud. It looks like you are running on local. Can you please double-check that the `filtered_intervals` file is correct? This should be the output of the same name from when you ran Cohort mode.

[2022-03-07 22:30] GATKSupportTeam opened #7710 "FindBreakpointEvidenceSpark sudden shutdown"
The stack trace:
java.lang.ArithmeticException: / by zero
	at org.broadinstitute.hellbender.tools.spark.sv.evidence.FindBreakpointEvidenceSpark.removeUbiquitousKmers(FindBreakpointEvidenceSpark.java:640)
	at org.broadinstitute.hellbender.tools.spark.sv.evidence.FindBreakpointEvidenceSpark.addAssemblyQNames(FindBreakpointEvidenceSpark.java:507)
	at org.broadinstitute.hellbender.tools.spark.sv.evide

[2022-03-08 21:16] s-hoyt commented on #7487
Hi @asmirnov239 is it also possible to add this change to gatk/mutect2-gatk4? I am having the same problem there. Thanks!

[2022-03-09 16:23] Erich-Hartm opened #7712 "ASECountReader "sites" argument of GATK-3.8"
I calculated ASECount of genome resequence data by GATK-3.8 , but I want do the same test by GATK-4.0 ,  It's so strange when I use GATK-4.0 argument "--variants" to substitute "sites" of GATK-3.8 , the ERROR remaind me that the "SNP site is not hetero" , so l want to ask
What is the mean of ASECountReader "sites" argument of GATK-3.8 ? and what is the corresponding argument in GATK-4.0 ? the answ

[2022-03-09 19:48] #6179 closed

[2022-03-09 21:07] ldgauthier commented on #7687
@bbimber that PR just went in and I still think it should solve your issue.

I introduced a bug in 4.2.5.0 in a conditional statement that let highly multi-allelic variants with no PLs get further than they should.  I think that site had more than the GDB max alt count, so it didn’t get PLs, but with the bug I said that was okay if it was called.  So it should get dropped with no PLs, but instead

[2022-03-09 21:09] bbimber commented on #7687
@ldgauthier Much appreciated. We're currently trying to figure out GenomicsDB memory issues (#7674), but this was going to be a blocking issue too. Any idea when you'll make a point release?

[2022-03-09 21:17] droazen commented on #7687
@bbimber Release is currently slated for tomorrow morning

[2022-03-09 21:41] #7687 closed

[2022-03-10 15:54] #7672 closed

[2022-03-10 17:27] #7647 closed

[2022-03-10 21:53] tedsharpe commented on #7710
I think the most likely explanation for this behavior would be trying to use an unmapped source of reads.  Has your input BAM been aligned to reference?
I apologize that this code isn't more robust to edge conditions.

[2022-03-10 22:02] gbrandt6 commented on #7710
I'll check with the user, thanks @tedsharpe!

[2022-03-11 06:47] DomManou commented on #7710
Hi @tedsharpe !

I also commented about it on the helpdesk but should probably reply directly here.

The .bam file was aligned to a reference , the same reference I used to run the tool. I was wondering If the bam still contained unmapped reads and so used
`samtools view -b -F 4` on the file to retain only mapped reads and re-run the GATK tool. However this did not improve the situation.

Best,
Do

[2022-03-11 15:47] droazen opened #7716 "google-cloud-nio 0.123.23: certain non-requester-pays accesses fail when --gcs-project-for-requester-pays is specified"
As reported by @jkobject testing our latest gatk-nightly image, certain non-requester-pays accesses fail with the latest google-cloud-nio version (0.123.23) when `--gcs-project-for-requester-pays` is specified.

The specific issue appears to be checks for the existence of non-existent files in non-requester-pays buckets when `--gcs-project-for-requester-pays` is set, resulting in a "User project s

[2022-03-11 15:50] droazen commented on #7716
@jkobject After further testing we think the issue might be more specific: the error seems to occur only when checking for the existence of non-existent files in non-requester-pays buckets when a requester-pays project is specified. In your case, it is checking for the existence of an index for your interval_list file and failing, since interval_list files don't have indices.

As another experimen

[2022-03-11 16:36] tedsharpe commented on #7710
The BAM file is partitioned into chunks (called partitions) by Spark. The section of code that is failing is attempting to calculate the median number of bases covered in each partition. It calculates the number of bases covered for each partition, sorts the list, and grabs the middle entry. The code is not very defensive, and sadly, this number is 0 for your BAM. This could be because there are n

[2022-03-11 18:50] jkobject commented on #7716
Yes it works with this input

[2022-03-11 19:03] droazen commented on #7716
@jkobject Aha, thanks for the confirmation!

[2022-03-11 21:15] droazen commented on #7716
PR to fix this is up at https://github.com/googleapis/java-storage-nio/pull/858

[2022-03-14 12:33] marcelcaraciolo commented on #7589
Hello @ldgauthier  how are you ? Any news about the updates about the fix with the DRAGEN data ? thanks!

[2022-03-14 16:38] mwalker174 opened #7721 "Reduce WDL metadata for germline CNV workflows"
Cromwell still struggles with call caching and metadata bloat in our gCNV workflows. Specific improvements to reduce overhead will modify scattered tasks:

1. `GermlineCNVCallerCohort(Case)Mode` - Replace input `Array[File] read_count_files` with a list of files, i.e. `File read_count_file_paths`. This should be generated using `WritePathList`, rather than using `write_lines()` which does not func

[2022-03-14 16:46] mwalker174 opened #7722 "Explicitly set home and tmp directories in gCNV WDLs"
Following up on a [forum thread](https://gatk.broadinstitute.org/hc/en-us/community/posts/4493905884699/comments/4682115320731) reporting a runtime compile error for gCNV:
[code]
which could be fixed by explicitly setting the home and tmp directories. This is a pervasive issue in WDLs, as these directories are set by the OS. It is known that when running in Cromwell on GCP, tmp is by default on th

[2022-03-15 12:46] samuelklee opened #7724 "New tools for annotation-based filtering."
This is a meta issue to track remaining and future work for the new tools for annotation-based filtering, which will hopefully replace VQSR. Internal developers may want to see further discussion at https://github.com/broadinstitute/dsp-methods-model-prototyping/discussions/9.

[2022-03-15 12:46] samuelklee commented on #7724
Bayesian GMM:

[2022-03-15 12:46] samuelklee commented on #7724
ExtractVariantAnnotations:

[2022-03-15 12:46] samuelklee commented on #7724
TrainVariantAnnotationsModel:

[2022-03-15 12:46] samuelklee commented on #7724
ScoreVariantAnnotations:

[2022-03-15 12:47] samuelklee commented on #7724
Other future work:

[2022-03-16 22:02] droazen commented on #7716
Our PR has been merged, and a release with the fix is in progress: https://github.com/googleapis/java-storage-nio/pull/864

[2022-03-17 01:23] sunjh22 opened #7728 "CombineGVCFs: KEY END found in VariantContext field INFO but this key isn't defined in the VCFHeader."
----

## Bug Report

### Affected tool(s) or class(es)
gatk CombineGVCFs

### Affected version(s)
- [v4.1.8.1]

### Description
When I am using CombineGVCFs to join the two raw_variants.vcf files derived from HaplotypeCaller, it throws an error: KEY END found in VariantContext field INFO at chr1:20094 but this key isn't defined in the VCFHeader. However, when I checked original files, there is no

[2022-03-17 10:51] Riad900 commented on #6689
Hi everyone. I try to run gatk 4.2.5.0 VariantAnnotator using gnomAD data. However I get this error message java.lang.IllegalStateException: Allele in genotype C not in the variant context [C*, CT]  can you maybe advise whats going on?

java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xm

[2022-03-17 13:10] samuelklee commented on #7724
Future work:

[2022-03-18 09:14] Riad900 opened #7729 "Still having the same issues with version 4.2.5.0"
This is probably complicated by a bug in the htsjdk warning from previous versions, which should be fixed in the latest master now.  There's probably still a bug, but the error will be more informative now.

There may be a ploidy-related bug since the somatic genotypes are a little funky that way.  I don't like the fact that this is calling a biallelic method.

@fleharty if you still care about th

[2022-03-18 13:51] fleharty commented on #7729
@Riad900
Sorry I don't remember what triggered this to happen, and I've since deleted the tmp directory that contained the example that demonstrated this bug. :(

[2022-03-19 14:56] gudeqing opened #7731 "An argument of GetPileupSummaries maybe redundant in Mutect2.wdl ?"
Hi,

 In the Mutect2.wdl file,  the section of task definition for M2, I found the following argument maybe redundant, but I am not quite sure.

 -L ~{variants_for_contamination}

Best regards!

[2022-03-19 16:28] bbimber commented on #7674
@nalinigans With the GenomicsDB workspace we have, in its current state, pretty much all attempts to run consolidate ultimately die. Since we have computational capacity, we're trying to iteratively remake it. I am wondering if you can comment or confirm this theory:
- Let's assume we initialize a workspace by importing X samples. We run consolidate.
- We append X new samples. We run consolidate.

[2022-03-19 16:36] nalinigans commented on #7674
@bbimber, your approach should mostly work, this is exactly what I am going to allow with the standalone tool, `batch-wise consolidation`. The tool is also optimized for memory allocations and you can specify the batch size to the tool for batch-wise consolidation which should clamp down the memory use. Still testing out the tool, hopefully I can get some version to you over the weekend or on Mond

[2022-03-21 18:14] droazen commented on #7729
@ldgauthier Do you have any insight into this one? Do any of your recent changes to the `AlleleSubsettingUtils` have a bearing on this issue?

[2022-03-21 18:14] droazen commented on #7731
@davidbenjamin Can you comment on this? Is this argument actually redundant?

[2022-03-21 18:19] droazen commented on #7728
@sunjh22 Are your input VCFs GVCFs (which do have an END attribute), or normal VCFs (which don't have the END attribute)? If they are normal VCFs, you can't use `CombineGVCFs` to combine them, as that tool only takes GVCFs as input.

[2022-03-21 18:20] droazen commented on #7724
@samuelklee Some of our collaborators are currently working on updating `CNNScoreVariants` to use PyTorch -- is that project relevant to this ticket?

[2022-03-21 18:24] droazen commented on #7712
@meganshand Since you ported `ASEReadCounter` to GATK4, would you mind commenting on this one? Thanks!

[2022-03-21 18:27] samuelklee commented on #7724
Thanks for the question @droazen. No, these tools are more meant to be an update to VQSR, i.e., they do not assume that the BAM will be available and only use the annotations.

I think such tools will remain useful going forward, especially for joint genotyping. We can probably eventually push CNN/etc.-based generation of additional features/annotations upstream of filtering, so that they’re gener

[2022-03-21 18:33] droazen commented on #7671
@kvn95ss Can you clarify whether the performance was **faster** in the newer version (4.2.5) compared to the older version? We did do some performance work in `SelectVariants` between 4.1.8 and 4.2.5.

Also, there are reports that `SelectVariants` is **much** slower if the sample names in the header are not sorted, because the tool has to reorder the genotypes on output if they're not sorted. Can

[2022-03-21 18:35] droazen opened #7732 "Add warning to SelectVariants about poor performance if the samples are not sorted in the VCF header"
Apparently `SelectVariants` is ~10x slower when the samples in the VCF header are not sorted, due to the need to reorder the genotypes on output. We should at least warn the user when unsorted sample names are detected in the input.

(discovered by @epiercehoffman)

[2022-03-21 18:41] droazen commented on #6357
@ldgauthier Is this related to any of the `GenotypeGVCFs` bugs you've fixed recently? @sjclare and @MDPostel, could you try again with the latest GATK release and report whether the issue persists?

[2022-03-21 18:46] jamesemery commented on #7699
Hi @Z-Zen. That sounds like a reasonable request. I would comment that a tool like DepthOfCoverage is very idyosyncratic and will very likely be producing different depth numbers and statistics from other depth tools by virtue of how it handles filtering the input reads and various edge cases around soft-clipped/deletion bases so I would caution from putting too much stock into the 1:1000 precisio

[2022-03-21 19:04] epiercehoffman commented on #7732
Thanks for opening this issue. I hope that this performance issue can be fixed in HTSJDK soon, but I agree a warning would be useful in the intervening time.

To clarify, I believe this applies to any tool that loads a VCF but does not need to parse genotypes - not just SelectVariants. For instance, I saw a 5-10x slowdown in SVAnnotate with unsorted sample IDs.

[2022-03-21 19:21] mwalker174 commented on #7732
A warning message would be helpful, although I doubt most Terra users read their logs unless there's an error. What are the chances this can get addressed in htsjdk?

[2022-03-22 04:53] kvn95ss commented on #7671
Thank you for writing back! To answer your questions -
1. We did not see any noticable difference in extraction time (takes ~50 minutes per vcf)
2. The sample names in the header are sorted

I raised this issue on GATK forum as well - https://gatk.broadinstitute.org/hc/en-us/community/posts/4430247943451-Is-it-possible-to-speed-up-SelectVariants- and as mentioned in the thread, we have currently r

[2022-03-22 12:46] cmnbroad commented on #7671
@kvn95ss It looks like you're using `--exclude-non-variants` with SelectVariants, which can negatively impact performance. It would be interesting to know how much leaving that out changes things ,if thats an option for you.

[2022-03-22 14:07] sunjh22 commented on #7728
@droazen Thank you so much for the reminder! I forgot to add the `-ERC GVCF` (GVCF mode) in `HaplotypeCaller`. I tried again and it worked well this time! Thanks again. I will close this session now.

[2022-03-22 14:07] #7728 closed

[2022-03-22 15:07] bbimber commented on #7674
@nalinigans This would be much appreciated. We're perfectly happy to try out draft versions as well.

[2022-03-23 05:25] kvn95ss commented on #7671
```--exclude-non-variants``` is actually important for us, so we hadn't considered turning it off.

[2022-03-23 19:42] slagelwa commented on #7677
Key word here is "should be", which isn't always the case.

[2022-03-24 13:21] jkobject commented on #7716
Hello!

Any update on this?

Best,

[2022-03-24 16:31] droazen commented on #7716
@jkobject We are currently testing the new `google-cloud-nio` release in https://github.com/broadinstitute/gatk/pull/7730. In that branch, we added tests for all possible combinations of requester-pays and non-requester-pays inputs, but not all of the tests are passing yet. We're still looking into the reasons for the failures -- it could be a flaw in the way the tests are set up, or it could be t

[2022-03-25 20:45] droazen commented on #7716
@jkobject Here's an update for you on this issue, as promised: we've tested the patch in https://github.com/broadinstitute/gatk/pull/7730 extensively on both our local machines and on a clean Google Cloud VM, and found it to work perfectly with all kinds of requester pays inputs to GATK (fastas, bams, vcfs, interval_lists, etc.). We now believe that the test failures in the PR are artifacts of som

[2022-03-28 00:56] EEPuckett opened #7737 "CombineGVCFs: ERROR input alleles must contain <NON_REF>"
## Bug Report
### Affected tool(s) or class(es)
CombineGVCFs

### Affected version(s)
- version 4.1.0.8

### Description
I know this issue has been brought up before but I still cannot find a solution.  When I run CombineGVCFs, the error indicates the first locus where there is a NON_REF allele.  For example:

HiC_scaffold_2  12497   .       T       TC,*

My full process is as follows:
I run Haplo

[2022-03-28 18:39] droazen commented on #7737
@EEPuckett You are running a release that's several years old -- could you try with the latest GATK release and see if you encounter the same problem? Another thing you could try is running `GenomicsDBImport` instead of `CombineGVCFs`, since `GenomicsDBImport` does the same thing just more efficiently.

Are you running any other tools in your pipeline besides `HaplotypeCaller`, `CombineGVCFs`, and

[2022-03-28 19:05] nalinigans commented on #7674
@bbimber, I have placed another version of consolidate_genomicsdb_array [here](https://github.com/GenomicsDB/GenomicsDB/releases/download/v1.4.3/consolidate_genomicsdb_array). This allows for batch-wise consolidation with the `--batch-size` or `-b` option. The tool also does better reuse of the consolidation buffers between reads, so might work a little better. Be aware that the total time to cons

[2022-03-28 19:39] ldgauthier commented on #7737
If I'm reading the process correctly, I don't actually think this should work.  CombineGVCFs is specifically for combining GVCFs and it expects GVCFs to have <NON_REF> alleles.  If you've already run the data through GenotypeGVCFs then you can't use CombineGVCFs again because the <NON_REF> likelihoods have been applied and those alleles are gone.  The vcfcombine tool from bcftools is quite fast if

[2022-03-28 19:55] nalinigans commented on #7674
You can start with consolidating all of them at once  (with no batch size) as your fragments are more or less the same size and it should perform OK with the new tool. You can even use the default buffer size as it should not be a factor with the new tool. If that does not work you can probably use `number-of-fragments/2` or `number-of-fragments/4` for a batch size.

[2022-03-29 13:18] ldgauthier commented on #7586
Since Valentin's PR recently got merged, I'll try to take a look at this soon-ish.  I agree with what Louis said in the PR review: LinkedHashMap all the things.  Beyond that, what do you recommend @cmnbroad ?  Javadoc?  I feel like there used to be a Google library we used to annotate methods with contracts.  It's not immediately obvious to me how to enforce this, but I'm pretty rusty on the detai

[2022-03-29 17:29] EEPuckett commented on #7737
Thank you so much, I will do that.

Sincerely,
Emily

From: ldgauthier ***@***.***>
Sent: Monday, March 28, 2022 2:39 PM
To: broadinstitute/gatk ***@***.***>
Cc: Emily Elizabeth Puckett (puckett3) ***@***.***>; Mention ***@***.***>
Subject: Re: [broadinstitute/gatk] CombineGVCFs: ERROR input alleles must contain <NON_REF> (Issue #7737)

CAUTION: This email originated from outside of the organizati

[2022-03-29 18:43] ldgauthier commented on #7729
I don't think so, but I'm still not sure what the issue is.  @Riad900 the warning should be more informative in the latest version -- is that the case?  Can you post the new warning?  I hope it outputs an allele that actually isn't in the set it reports.  And maybe I added a locus, but I'm not sure.  It's really hard to debug without a locus.

[2022-03-29 19:34] GATKSupportTeam opened #7741 "Haplotypecaller 4.5.2.0 --alleles unexpected output"
James has a branch already that seems to solve this edge case.

This request was created from a contribution made by Geert Vandeweyer on March 13, 2022 08:49 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4664460343195-Haplotypecaller-4-5-2-0-alleles-unexpected-output](https://gatk.broadinstitute.org/hc/en-us/community/posts/4664460343195-Haplotypecaller-4-5-2-0-alleles-unex

[2022-03-30 20:30] #7741 closed

[2022-03-31 13:05] meganshand commented on #7712
I believe sites and variants should be equivalent. I see that there is a warning emitted by GATK4 at sites that are not het, but it shouldn't be an error. If you're getting an error can you please post the full message in this thread?

ASEReadCounter will only process het sites in both GATK3 and GATK4, but it's possible that GATK3 silently skipped non-het sites rather than emitting a warning.

[2022-03-31 14:47] Erich-Hartm opened #7747 "I believe `sites` and `variants` should be equivalent. I see that there is a warning emitted by GATK4 at sites that are not het, but it shouldn't be an error. If you're getting an error can you please post the full message in this thread?"
I believe `sites` and `variants` should be equivalent. I see that there is a warning emitted by GATK4 at sites that are not het, but it shouldn't be an error. If you're getting an error can you please post the full message in this thread?

ASEReadCounter will only process het sites in both GATK3 and GATK4, but it's possible that GATK3 silently skipped non-het sites rather than emitting a warning.

[2022-03-31 15:21] jamesemery commented on #6491
#7699 #7702

[2022-03-31 15:47] Erich-Hartm commented on #7747
Thank you, sir. In fact , firstly I called SNP from both parents respectively, and then combined both parents vcf files to a integrate vcf file, I want to get maternal different homozygous SNP compare to reference genome and paternal different homozygous SNP compare to reference genome,  and combined both parents SNPs to a integrate biSNP.vcf file ,and then filtered heterozygote sites.  Finally I

[2022-03-31 17:55] meganshand commented on #7747
Can you please provide a small snipit of the biSNP.vcf file? A few sites that work in GATK3 should be enough.

[2022-04-01 14:11] Erich-Hartm commented on #7747
This is part of my biSNP.vcf file, include the annotation and reference genome name. thanks!
[example.vcf.gz](https://github.com/broadinstitute/gatk/files/8398391/example.vcf.gz)

[2022-04-04 10:06] Aqoolare opened #7748 "Unrecognized runtime attribute keys: discs, cpu"
## Bug Report
While running ReadsPipelineSparkMulticore.wdl encountered the following problem. I would like to know what could be the reason?

![qoKs8pEt_-0](https://user-images.githubusercontent.com/55628707/161521914-49b7b10f-3264-43d5-8f5c-739d924656a1.jpg)

[2022-04-04 16:13] bbimber commented on #7674
@nalinigans Mixed results so far. I'm running the new consolidate tool, per chromosome as before. I ran it with defaults (no custom arguments). It is running longer than previously, but chr 1, the largest, died after consolidating 2 attributes. This job had 248G of RAM allocated. Are there optimizations you'd suggest?

[code]

[2022-04-04 19:37] ldgauthier opened #7751 "GenomicsDB excessive logging "[E::faidx_adjust_position] The sequence "chrX" was not found""
## Bug Report

### Affected tool(s) or class(es)
GenomicsDBImport

### Affected version(s)
- [ ] Latest public release version [version?]
- [x] Latest master branch as of Apr 4, 2022

### Description
[E::faidx_adjust_position] The sequence "chrX" was not found
[E::faidx_adjust_position] The sequence "chrX" was not found
[E::faidx_adjust_position] The sequence "chrX" was not found
[E::faidx_adjust_

[2022-04-04 19:48] ldgauthier commented on #7690
Hi @LiviaMoura,
I'm working on this now and the results look good, but I've found I don't have a lot of haploid test data.  Can you provide some haploid and diploid chrX data?  Or you could try GnarlyGenotyper with the new docker: us.gcr.io/broad-dsde-methods/gatk_gnarly_for_haploids@sha256:64cb8745dfe617c70d99354a3d68d89aed15c973a694f1d1c656e04fdcfdc997

Also what are you doing for chrY?  Are the

[2022-04-05 03:54] carbocation opened #7755 "Mutect2: Attempt to create a bai entry for an unmapped slice with unexpected alignment start (0) or span (-2147483647) values"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
GATK version 4.2.5.0, run from the `us.gcr.io/broad-gatk/gatk:4.2.5.0` docker image.

### Description
Rarely (~0.1%) within exomes that were sequenced at Broad (by GP), we encounter the error message whose stack trace is shown below. This occurs during batch processing, but it is specific to the .CRAM files: running

[2022-04-05 13:27] ldgauthier commented on #7646
@spatel-gfb another option that should improve performance is to run the GATK GVCF postprocessing tool ReblockGVCF on all of your input GVCFs.  That tool merges reference blocks (which BAF calculation doesn't need) and throws out uncalled alleles (which BAF calculation doesn't need), both of which should speed up your import.  For the purposes of GATK-SV you can use the default GQ bands ([0,20], a

[2022-04-05 13:44] amithasandur commented on #7669
Met with David today and we reviewed the code I had written for parsing truth and query vcf and counting true positives, true negatives, false positives and false negatives. Next, I will work on stratifying these counts by properties such as the filters applied by Mutect2 and allele fraction.

Note to self- here are my action items:
- [ ] Defining functions for each of those calculations listed ab

[2022-04-05 14:35] carbocation commented on #7755
Interesting. The CRAI file itself (when you gunzip it) appears normal although I don't have an md5 from GP for the CRAI (just for the CRAM). I suppose I can't rule out a bitflip somewhere. I don't know which software GP uses to produce CRAI files and since they lack a header, I'm not sure I'll be able to find out.

Having reindexed it with `samtools index` (v1.7, htslib 1.7-2), and then diffing my

[2022-04-05 14:38] cmnbroad commented on #7755
Yes, thats almost certainly created by an older CRAM implementation (possibly htsjdk/gatk/picard) rather than a random bitflip.

[2022-04-05 15:49] meganshand commented on #7747
@Erich-Hartm Thanks for that example, that's helpful. I think what's happening is that in GATK3 the documentation says that the tool should only work on heterozygous sites, but this isn't actually enforced in the code. It is enforced in GATK4.

I could add a mode to ASEReadCounter in GATK4 that would allow for the same behavior as GATK3, but I also want to ask do you have a VCF of the child in you

[2022-04-05 16:01] meganshand commented on #7712
Duplicate of #7747

[2022-04-05 16:01] #7712 closed

[2022-04-05 16:15] carbocation commented on #7755
I'm going to close this since it's not a GATK issue. Thanks for the tips.

[2022-04-05 16:15] #7755 closed

[2022-04-06 04:45] Erich-Hartm commented on #7747
@meganshand  Thank you very much, sir, you mean that if l want to use ASEReadCounter of GATK4, I should use F1 hybrid's whole genome sequence to produce VCF file. Usually, we always resequence genome sequence of parents and F2 group when we make F2 group QTL mapping, rather than resequencing F1 hybrid genome. So I don't have F1 genome sequence, when I make F1 hybrid's ASE count, I have to make a b

[2022-04-06 14:09] jonn-smith opened #7757 "Funcotator reference compatibility logging"
Funcotator checks the VCF input sequence dictionary to see if it corresponds to the `b37` reference so that it can automatically convert `b37` variants to `hg19`.

In the case where a partial `b37` sequence dictionary is provided, funcotator should emit a warning message stating that the sequence dictionary _could_ be `b37` but because it's incomplete, it cannot do the automatic conversion.

The c

[2022-04-06 19:19] jonn-smith opened #7761 "Yet another hg19 / b37 conversion bug!"
The automatic conversion from `b37` to `hg19` yet again has resulted in a bug:

On output of a compressed vcf (`.vcf.gz`), HTSJDK is unable to index the resulting file because the reference dictionary is valid for `b37`, but we have converted the variants to use `hg19` contigs.  These contigs are not in `b37` and a null pointer exception is thrown.  Three exceptions are actually being thrown, but

[2022-04-06 19:52] droazen opened #7763 "Re-enable disabled tests in RequesterPaysIntegrationTest"
The tests in `RequesterPaysIntegrationTest` were temporarily disabled due to not passing in Travis, despite passing when we run them externally. They should be re-enabled after the Github Actions migration

[2022-04-07 04:48] bw2 commented on #7249
I was getting the same error with GATK version 4.2.0.0 for VCFs generated by GenotypeGVCFs, or by other tools.

```A USER ERROR has occurred: More then one variant context at position: chr1:969780```

It turns out it's caused either by the input VCF having 2 SNPs on separate rows but with the same position - for example:
[code]
or by an INDEL that overlaps a SNP - for example:
[code]
The solution

[2022-04-07 16:45] nalinigans commented on #7751
This is from `htslib::faidx_fetch_seq_into_buffer` because the reference for the test does not contain the contig `chrX`.  We could just log this once and continue. Is this what you want? Or do you want an exception at this point?

[2022-04-07 19:18] ldgauthier commented on #7751
The VCF sequence dictionary does contain a chrX -- is that enough?  A lot of our tools only need a dictionary and can get one from the header of various file types.

Otherwise I think an exception would be appropriate.  If that was the only reference a user had, would they be able to query the GenomicsDB successfully?

[2022-04-07 19:41] #7716 closed

[2022-04-07 21:45] pettyalex commented on #6749
@cmnbroad I figured I'd bump an old issue rather than create a new one, but my group would also appreciate if more gatk tools supported stdin / stdout. I've noticed that several of the Picard versions of tools support reading from stdin, but the Spark gatk replacements do not. MarkDuplicates is a big one, MarkDuplicates accepts /dev/stdin as input, but MarkDuplicateSpark does not.

For the spark t

[2022-04-08 14:55] caixu0518 opened #7767 "Genotyping only for a given genomic locus"
Hi GATK team,

I wonder if there are some parameters to only genotype a given genomic locus (many locos in bed format), i think this will accelerate the genotyping process instead of genotyping the whole genomic locus. Becuase sometimes, we only concerned about the genotypes of some known genomic locus.

my current command is '/src/gatk-4.1.3.0/gatk GenotypeGVCFs -R ChiifuIndex/Chiifu.fasta -V  ge

[2022-04-08 15:39] #7757 closed

[2022-04-09 09:48] rapaJiahe commented on #7767
Did you solve it? I also have the same problem.

[2022-04-11 15:47] bbimber commented on #7674
@nalinigans This iteration is on a smaller input (~600 WGS samples). Based on the info below, do you suggest changing --buffer-size or --batch-size?

To your questions:

In chromosome 1's folder (1$1$223616942), there are 26 fragments (the GUID-named folders). The sizes of book_keeping files are:

168M
131M
155M
149M
136M
142M
216M
147M
150M
134M
127M
75M
172M
122M
207M
122M
581M
149M
150M
141M
14

[2022-04-11 19:57] kachulis commented on #7755
@cmnbroad for the sake of my own edification, is there a reason that for unmapped slices the htsjdk cram implementation allows alignment span values of 0 or 1, but no other values (and similarly alignment starts of only 0 or -1)?  Based on a cursory reading of the spec, it seems like these values are ignored for unmapped slices, and could in theory be set to anything while still being technically

[2022-04-11 21:10] cmnbroad commented on #7755
@kachulis In the past, htsjdk had bugs that resulted in bad index files. Those checks are an attempt to try to detect and reject such files, since they can result in subtle downstream problems. The 1 and -1 allowances are a compromise for common cases that are out-of-spec, but legitimate. So it's a compromise between being too defensive and too aggressive. A value like -2147483647 winds up getting

[2022-04-12 14:40] cmnbroad commented on #6749
@pettyalex I don't think the Spark tools such as `MarkDuplicateSpark` are a likely candidate for stdin/stdout support. As you point out, they achieve parallelism by partitioning and then randomly accessing serialized input files. Even if it they could read from stdin, the benefits would be minimal, since they can't begin processing until they've seen the entire input stream, and they can't begin a

[2022-04-12 15:19] kachulis commented on #7755
got it, thanks!

[2022-04-12 21:09] cmnbroad commented on #7586
@ldgauthier I don't see any other way to enforce this - I think javadoc stating that `getAlleles` and `getRawData` will/must always be kept in sync is probably fine. I probably should have just added that myself in https://github.com/broadinstitute/gatk/pull/7585.  I wasn't sure what was going on at the time but looking back at it now it seems obvious that that was the intention.

[2022-04-14 09:55] valleema opened #7782 "Mutect2 (GATK 4.2.6.1) emitting MNPs despite max-mnp-distance 0"
## Bug Report

### Affected tool(s) or class(es)
Mutect2 `--max-mnp-distance 0`

### Affected version(s)
- [X] Latest public release version [4.2.6.1]

### Description
Same issue than described here: https://github.com/broadinstitute/gatk/issues/6473
[code]

And a MNP remains:
[code]

#### Expected behavior
[code]

BAM, BAI, and VCF here: [files.zip](https://github.com/broadinstitute/gatk/files/84

[2022-04-14 20:46] carbocation commented on #7755
Just got an update by email from the GP team indicating that their perspective is that these are valid index files. It seems that this issue lives in a liminal space where Mutect2 is crashing due to reasons that are not a GATK bug, but also not due to any formal problem in the GP pipeline either. Still, I'm running Broad-built software on recently sequenced Broad-provided genetic data, so it seems

[2022-04-14 20:51] droazen commented on #7755
@carbocation Could you clarify which version of which specific tool produced the index files that are triggering the error? Thanks!

[2022-04-14 21:00] carbocation commented on #7755
@droazen I have forward that question to GP and will get back to you once I get their answer. (At least, to my knowledge, I can't determine this without their help since I only have access to the output but not the pipeline.)

[2022-04-14 21:56] kachulis commented on #7755
@carbocation @droazen just to speed along the question and answer process, the index files that triggered this error were produced using samtools v1.3.1, and was run back in 2019.  So the issue here is with compatibility between the current htsjdk cram implementation and older versions of htslib.  The current GP pipeline uses a much newer version of samtools, which appears to be more compatible wi

[2022-04-19 13:07] mgrzy opened #7792 "GenotypeGVCFs outputs samples with no reads as reference genotypes"
## Bug Report

### Affected tool(s) or class(es)
GenotypeGVCFs

### Affected version(s)
- [X] Latest public release version

### Description
GenotypeGVCFs outputs samples (individuals) with no reads (depth) as reference genotypes:
0/0:0,0:0:0:.:.:0,0,0

or with very small number of reads, like 1:
0/0:1,0:1:3:.:.:0,3,31

I believe that this issue was also reported here:
https://gatk.broadinstitute.

[2022-04-19 19:32] Aqoolare commented on #7748
Hello again, I've written to the GATK forum but still haven't received a response.
I use this command:
`java -jar ../cromwell-77.jar run ReadsPipelineSparkMulticore.wdl -i exome/ReadsPiplineSpark_exome.json`
This is my json file:
![qo2S-PSVs_xNXb5ZysWT8g](https://user-images.githubusercontent.com/55628707/164080985-ae983a19-104a-4742-9401-82ea938ef69e.jpeg)
Here is my configuration (CPU and RAM):

[2022-04-20 11:21] Aqoolare opened #7796 "Unrecognized runtime attribute keys: discs, cpu (ReadsPipelineSparkMulticore.wdl)"
Hello again, I have not been able to solve the problem with the launch ReadsPipelineSparkMulticore.wdl. :(
![qoKs8pEt_-0](https://user-images.githubusercontent.com/55628707/161521914-49b7b10f-3264-43d5-8f5c-739d924656a1.jpg)
I use this command:
`java -jar ../cromwell-77.jar run ReadsPipelineSparkMulticore.wdl -i exome/ReadsPiplineSpark_exome.json`
This is my json file:
![qo2S-PSVs_xNXb5ZysWT8g](ht

[2022-04-20 12:55] LiviaMoura opened #7797 "ReblockGVCF - Homozygous reference genotypes must contain GQ or PL"
## Bug Report

### Affected tool(s) or class(es)
ReblockGVCF

### Affected version(s)
- [x ] Latest public release version [version?] _**GATK 4.2.6.1**_
- [ ] Latest master branch as of [date of test?]

### Description
We ran ReblockGVCF in 549 samples with the newest GATK (4.2.6.1). 8 of them returned the error similar to the message below

`org.broadinstitute.hellbender.exceptions.GATKException:

[2022-04-20 18:59] jamesemery opened #7798 "Refactor the test suite on Github Actions to run faster"
In light of #7754 the tests run in about an 1:15 minutes for the slowest variant calling docker tests. This can be improved by farther sub-dividing the tests and eliminating some of the redundancy between docker and non-docker tests so the test suite runs faster.

[2022-04-20 19:03] jamesemery opened #7799 "Improve the commenting/warning for Forked-PR tests in Github Actions tests."
With the changes in #7754 the experience for forked-PR tests has improved somewhat given that now the jacoco test reports are uploaded as artifacts that can be downloaded. Unfortunately this is confusing and the reports don't appear in the UI until the entire test suite has finished executing AND there is no comment besides the actions API comments on the merge widiget about the tests failing and

[2022-04-20 19:24] lbergelson opened #7800 "CI failures because of conda environment problems"
Both Travis and Github actions are failing all of the conda tests at the moment.

[Example Log](https://api.travis-ci.com/v3/job/567253185/log.txt)

There seems to be a problem with the conda environment.
[code]
[code]

[2022-04-20 20:35] lbergelson commented on #7800
This seems to be caused by an incompatible minor update of a transitive dependency called typing_extensions that is installed as part of pymc3.

The maintainers say that their release shouldn't be picked up by package managers because it contains an instruction to only be used in 3.7+.  Our version of conda is picking it up anyway though and apparently doesn't understand their package files.

It's

[2022-04-20 21:57] samuelklee commented on #7800
BTW thanks @lbergelson for the diagnosis above! Not sure of the best way to prevent this sort of thing in the future without making the environment overly restrictive (this is not really my area of expertise), but perhaps a more thorough pinning of dependencies is worthwhile.

[2022-04-21 09:45] YingChen-bio commented on #7800
Thanks @lbergelson for the solution above. I just went into this conda env problem when trying to use CNNScoreVariants. By downgrading typing_extensions to 4.1.1, it works fine now.

[2022-04-21 13:55] #7800 closed

[2022-04-21 16:10] lbergelson commented on #7800
A bit of further information.  The conda forge maintainers actually noticed that this was problematic and pushed a patched version of the recipe with corrected version bounds.  I'm not sure why we're still resolving the old incorrect version.

I'm in favor of pinning the exact dependencies to prevent this problem.  We can always unpin and test periodically.

[2022-04-22 18:59] LiviaMoura commented on #7690
Hi @ldgauthier,
I'm sorry for my delay with this topic. I was preparing myself to defend my Ph.D. (successfully done) and I wasn't looking GitHub these days...
Anyway... we were using public human samples as input... There are 22 of them available on the web, we have the gvcfs on our servers generated by Dragen, but if you need them, I'll have to ask permission for sharing (let me know if it'd be

[2022-04-25 18:23] droazen commented on #7797
@ldgauthier Is this expected behavior in the new 4.2.6.1 release?

[2022-04-25 18:34] droazen commented on #7792
@mgrzy Can you please confirm that you're running the latest released version of GATK (4.2.6.1)?

@ldgauthier Was this one of the issues from 4.2.5.0 that we fixed in 4.2.6.0 / 4.2.6.1?

[2022-04-25 18:40] droazen commented on #7767
@caixu0518 @rapaJiahe The `-L` argument in GATK lets you restrict the tool to a provided set of intervals. The intervals may be listed explicitly on the command line (eg., `-L 1:1-100`), or supplied in a file in one of the supported formats (`.interval_list`, `.bed`, etc.) -- eg., `-L myintervals.bed`)

[2022-04-25 18:42] lbergelson commented on #7796
@Aqoolare Hello.   There are a a few things going on here.

The `unrecognized runtime attribute keys` warning is coming from cromwell.  It's telling you that the cromwell **local** backend doesn't understand those keys, which is true.  That means it's just ignoring them.

I think the actual problem is different though.  You're running the spark tool in spark local mode, which in this case isn't co

[2022-04-25 18:56] ldgauthier commented on #7792
@mgrzy are you running ReblockGVCF first?

This may be a break from previous behavior, but it gives all the information you need.  The genotype quality is zero in both cases, meaning we can't determine between two (or more) genotypes.  You can use the FORMAT DP value instead of looking for a no-call genotype.

[2022-04-25 18:57] LiviaMoura commented on #7797
@ldgauthier
hey Laura...
A new update regarding this "topic"...
As I said before (https://github.com/broadinstitute/gatk/issues/7797), when we were working with the ReblockGVCF from the snapshot you sent to us (https://console.cloud.google.com/gcr/images/broad-dsde-methods/US/gatk_subset_dragen_allele_frac@sha256:f5e93bda2278f1c999bd9def027c6851eeb098736b47a93469c524863b46c21f/details) and the Joi

[2022-04-25 20:29] GATKSupportTeam opened #7809 "Fix bug in FilterMutectCalls 'haplotype' filter by checking PGT and make --linked-de-bruijn-graph default"
This request was created from a contribution made by Francesco Mazzarotto on March 23, 2022 14:16 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4892502642075-FilterMutectCalls-haplotype-filter-value-assigned-to-variants-with-different-PGT-tag](https://gatk.broadinstitute.org/hc/en-us/community/posts/4892502642075-FilterMutectCalls-haplotype-filter-value-assigned-to-variants

[2022-04-25 21:36] GATKSupportTeam opened #7811 "CNNScoreVariants crashes with java.lang.NullPointerException"
Looks like this java.lang.NullPointerException is from an environment set up issue.

This request was created from a contribution made by Jordi Maggi on April 25, 2022 09:25 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/5574426055963-CNNScoreVariants-crashes-with-java-lang-NullPointerException](https://gatk.broadinstitute.org/hc/en-us/community/posts/5574426055963-CNNScoreV

[2022-04-26 20:09] LiviaMoura commented on #7797
Update

We tried Snapshop Reblock + GATK 4.2.6.1 JointGenotype pipeline, and It broke again.
Same error as above at "GenomicsDBImport - The Genome Analysis Toolkit (GATK) v4.2.6.1" step....

=/

[2022-04-26 20:55] ldgauthier commented on #7797
I believe you need https://github.com/broadinstitute/gatk/pull/7725, and you're not the only one.  I'll find someone to review.

There are data from a lot of different DRAGEN versions running around, each with their own... idiosyncrasies.  Which version are you using?

[2022-04-27 10:05] Aqoolare commented on #7796
@lbergelson Thank you very much for your response.
Using the Java argument -Xmx really helped to solve "java.lang.OutOfMemoryError" problem.
Also, I would like to ask why it happens that when I increase the number of threads and RAM from 45/90 to 180/360, I do not get a gain in time?

[2022-04-27 20:54] lbergelson commented on #7796
@Aqoolare You might, but there are scaling issues when running within a single java process which is what you're doing.  There are issues with lock contention and garbage collection which cause more cores to not be utilized very well.  (Lots of cores waiting while garbage collection stops the world, that sort of thing.).

You could definitely test it.  We found that 8-16 cores was optimal for our

[2022-04-27 20:54] #7796 closed

[2022-04-28 18:44] ldgauthier commented on #7797
Hi @LiviaMoura

I don't think I've ever seen mitochondrial calls from DRAGEN before.  What version generated this data?  Also how does the FORMAT header define SQ? I've never seen that before either.

[2022-04-28 20:12] LiviaMoura commented on #7797
Hi @ldgauthier

We have data that were generated from 3.6.3 and 3.8.4 (some tests on the latest 3.10)...
This one is from 3.8.4 and the FORMAT from this gvcfs gives

[code]

About chrM, yeah... all of them have this info... like below

[code]

As I replied to you, in another section, I can share some gvcfs from NA samples (Dragen v3.6.3) with you. Just let me know and I'll e-mail the links

[2022-04-29 18:21] ldgauthier commented on #7797
"Somatic quality" is 98.13, huh?  I wonder what that means.  Is it Phred-scaled?  Is that a percent accuracy?  It's not in the header.

GATK can't joint call the DRAGEN mitochondrial data.  I will reach out to our contacts at Illumina to see what they recommend.

[2022-04-29 20:48] LiviaMoura commented on #7797
It's a type of quality metrics they designed - quotes below -(https://support.illumina.com/content/dam/illumina-support/documents/documentation/software_documentation/dragen-bio-it/Illumina-DRAGEN-Bio-IT-Platform-User-Guide-1000000141465-00.pdf).

About the chrM, thank you.

Anyway, I don't think the "VCFAdapterException" error is related with the chrM, because the JoinGenotype pipeline worked fin

[2022-04-29 22:48] phylyc commented on #6022
Hi @davidbenjamin ,

this ticket is already open for a while, but I haven't found a sensible multi-sample wdl yet, so I've spent some time putting a multi-sample calling workflow together and tested it extensively: https://github.com/phylyc/gatk4-somatic-snvs-indels

It's somewhat optimized for resource needs, at least much more so than the published gatk mutect2 wdl.
One option that I added is to

[2022-05-02 18:18] droazen commented on #7792
@ldgauthier Should this one be closed as "works as intended" then?

[2022-05-02 18:23] jamesemery commented on #7782
Hey @valleema. We don't think this is a bug given that the argument `--max-mnp-distance` is intended to remove Multi-Nucliotide polymorphism which generally are adjacent SNPs(i.e. sites with the pattern ref: AA alt: GT for example). Your example site here doesn't have an MNP but rather is a multi-allelic site. Consequently the flag `--max-mnp-distance` is not doing anything wrong in this case. I w

[2022-05-02 18:23] #7782 closed

[2022-05-02 18:31] droazen commented on #7729
@ldgauthier Should this one be closed now that GATK 4.2.6 is out?

[2022-05-02 18:44] droazen commented on #7447
Closing as resolved

[2022-05-02 18:44] #7447 closed

[2022-05-03 05:16] haochenz96 opened #7825 "Mutect2 extremely slow in force-calling mode"
## Bug Report

### Affected tool(s) or class(es): Mutect2

### Affected version(s)
gatk 4.2.5

### Description
Like most use cases, I acquired a high-confidence, "consensus" VCF from a large batch of samples, and I run force-calling on each individual sample again to:
(1) rescue rare variants.
(2) for variants that are not called in a sample, get the REF/ALT counts for them for downstream analysis