[2017-12-12 17:45] #3283 closed

[2017-12-12 17:57] magicDGS commented on #3947
The barclay's `DocWorkUnitHandler.getTemplateName(DocWorkUnit)` method can select a  template (Freemarker template) for a concrete documented feature. My suggestion was the following:

* Annotate fields in metrics files with `@Argument`
* Create a template for Freemarker specific for metrics: arguments will be included in a table with field and description
* In the GATK's implementation of DocWork

[2017-12-12 18:05] #3883 closed

[2017-12-12 18:56] jamesemery opened #3949 "SampleDBBuilder validationStrictness argument doesn't do anything"
In working with the SampleDBBuilder code I have noticed that there is an argument for validationStrictness which purports to assert that there is a >1:1 mach between the discovered samples in the pedigree file and those in the underlying variantDataSources according to the code on line 83. Unfortunately, as it stands there is no way to input `samplesFromDataSources` into the builder, so these asse

[2017-12-12 21:00] samuelklee opened #3951 "Refactor control flow in ModelSegments and gCNV CLIs."
It's a little gross now.

[2017-12-12 22:32] #2542 closed

[2017-12-12 22:32] #3939 closed

[2017-12-13 06:45] magicDGS commented on #3947
You're right, @cmnbroad - the `@Argument` annotation is unsafe if it is included in an argument collection. Maybe a `@DocumentedField`  annotation in barclay will help, by populating its information and include it in the json. This will allow to document also constant fields specific to a tool (e.g., a default value for a BAM tag, explaining why it is the default). That will be nice for several us

[2017-12-13 15:31] lbergelson opened #3954 "investigate using travis default google-cloud-sdk"

[2017-12-13 15:48] eitanbanks opened #3955 "GetPileupSummaries silently fails if AF isn't present in the VCF?"
After banging my head on GetPileupSummaries for a bit, I think I've figured out a problem with the tool: it assumes that the AF INFO annotation is always present in an input VCF.  There are several ways that it could proceed with a record/VCF that doesn't have AF, but the way it currently does (silently skip all of those records) is not a good one.  I had zero indication as to why the output was e

[2017-12-13 16:32] jonn-smith opened #3956 "Funcotator should accept more than one GTF file."
Funcotator should accept more than one gtf (e.g. gencode has lncRNA gtf files that are good to append).

[2017-12-13 16:38] jonn-smith opened #3957 "Funcotator - XSV File columns of interest should be specified by header name, not column number."
Currently all XSV files with which `Funcotator` interacts specify columns of interest (i.e. gene name column, contig/start/end columns, etc.) using column index (0-based).

It may be better to specify them by column name.

[2017-12-13 17:15] jonn-smith opened #3958 "Funcotator - Add in an abstraction above GencodeFuncotation"
In order to support ENSEMBL, we need to create an abstraction above `GencodeFuncotation` that can hold both `EnsemblFuncotations` and `GencodeFuncotations`

This will become important when want to support other organisms (these use regular ENSEMBL, not GENCODE).

Possible name: `TranscriptFuncotation`.

[2017-12-13 17:55] sooheelee commented on #3853
Hidden tools are coming out of the woodworks and needing classification.

[2017-12-13 18:24] samuelklee commented on #3940
Also fill in some cost optimizations for some tasks.

[2017-12-13 19:14] jonn-smith opened #3959 "Funcotator - FuncotatorUtils methods should take base data types, not SequenceComparisons"
Most methods in `FuncotatorUtils` take a `SequenceComparison` object as input.  This should be changed to either:

1. Take the base fields as arguments (i.e. whatever is accessed in the `SequenceComparison` object).

or

2. For each method taking a `SequenceComparison`, create a `canCall` method that takes a `SequenceComparison` and returns a boolean - whether, based on the assigned fields in the

[2017-12-13 20:21] sooheelee commented on #3853
If at least one example command for a Spark tool does not utilize Spark, then I think we need this statement in each tool doc (to which it applies):

### copy-pastable format:
`This tool can be run without explicitly specifying Spark options. That is to say, the given example command without Spark options will run locally. See <a href ="https://software.broadinstitute.org/gatk/documentation/articl

[2017-12-13 20:33] davidbenjamin commented on #3955
I can also check the vcf header for the AF field before traversal.  I realize that the header could have AF without it being present in any record, but it seems like a useful check.

[2017-12-13 20:39] davidbenjamin commented on #3955
Are you using this tool for something other than `CalculateContamination`?  If not, there's no use for a record without an AF.

[2017-12-13 21:01] eitanbanks commented on #3955
Yes, I needed it for CalculateContamination.  And there are definitely cases in which you have a record without an AF, since I hit one just this morning...  :)

[2017-12-13 21:06] davidbenjamin commented on #3955
I meant that `CalculateContamination` needs the allele frequency, so if we don't have AF for a site I wouldn't want `GetPileupSummaries` to emit it with a made-up value.

[2017-12-13 21:07] davidbenjamin commented on #3955
For example, if you say that a missing AF is 0.2 when it's actually 0.01, your contamination will be off by about 20%.

[2017-12-13 21:07] samuelklee opened #3960 "Update WDL tests to Cromwell 30."
When the time is right...

[2017-12-13 21:08] eitanbanks commented on #3955
Then definitely have this tool fail with a clear explanation if there's no AF.

[2017-12-13 21:08] droazen commented on #1832
Closing -- we've decided it would be too disruptive to do this package rename.

[2017-12-13 21:08] #1832 closed

[2017-12-13 21:09] davidbenjamin commented on #3955
I can do that.

[2017-12-13 21:09] samuelklee commented on #3940
Also add output block.

[2017-12-13 21:11] samuelklee commented on #3460
This will be done after Cromwell 30 and Firecloud testing is complete.  We'll incorporate whatever changes were necessary to get those to pass as well as make the changes listed in #3940.

[2017-12-13 22:57] jamesemery opened #3963 "VariantRecalibrator should use argument collections"
VariantRecalibrator currently uses annotations but is not related with the annotations framework despite having annotations relatated arguments, namely the "-an" arguments. These should probably be changed to "-A" for consistency sake.  Furthermore, an argument collection for arguments related to "tranches-file" should probably be extracted as well as they are used in several places.

[2017-12-14 09:31] magicDGS commented on #1832
That's a pity, but understandable. Long live for "hellbender" package with lots of `GATK*` named classes!

[2017-12-14 14:45] droazen opened #3967 "Mutect2 WDLs don't use gatk launcher script"
The M2 WDLs don't use the standard gatk launcher script, which results in important system properties not being set.  Assigning to @davidbenjamin and @LeeTL1220 to fix in time for the 4.0 release.

Note that `gatk-launch` is being renamed to `gatk` in https://github.com/broadinstitute/gatk/pull/3961, so you'll want to wait until that PR is merged (should be merged today).

[2017-12-14 14:46] droazen opened #3968 "CNV WDLs don't use the gatk launcher script"
The CNV WDLs don't use the standard gatk launcher script, which results in important system properties not being set.  Assigning to @samuelklee  and @LeeTL1220 to fix in time for the 4.0 release.

Note that `gatk-launch` is being renamed to `gatk` in https://github.com/broadinstitute/gatk/pull/3961, so you'll want to wait until that PR is merged (should be merged today).

[2017-12-14 14:49] LeeTL1220 commented on #3960
More specifically, when we get the go-ahead from the engineers that Cromwell 30 supports our WDL.

[2017-12-14 14:55] droazen commented on #3968
The change that needs to happen is trivial:

* Ensure that the `gatk` script is in the same directory as the GATK jar
* Ensure that the GATK jar has its original name as created during the gradle build (ending in `local.jar` or `spark.jar`)
* Change all instances of `java -Xmx4g -jar ${gatk_jar} ToolName` to `./gatk --javaOptions "-Xmx4g" ToolName` (or `/path/to/gatk` instead of `./gatk`)

[2017-12-14 14:55] droazen commented on #3967
The change that needs to happen is trivial:

* Ensure that the `gatk` script is in the same directory as the GATK jar
* Ensure that the GATK jar has its original name as created during the gradle build (ending in `local.jar` or `spark.jar`)
* Change all instances of `java -Xmx4g -jar ${gatk_jar} ToolName` to `./gatk --javaOptions "-Xmx4g" ToolName` (or `/path/to/gatk` instead of `./gatk`)

[2017-12-14 14:56] samuelklee commented on #3968
@LeeTL1220 @davidbenjamin Can we coordinate one person to do this across CNV and M2 WDLs?

@droazen I think it might be slightly more complicated than that, given that we have a `gatk4_jar_override` parameter.  Can we do the same thing by setting `GATK_LOCAL_JAR_ENV_VARIABLE`?

[2017-12-14 14:59] droazen commented on #3968
@samuelklee Yes, setting the `GATK_LOCAL_JAR` and/or `GATK_SPARK_JAR` environment variables will cause the gatk script to use that jar, instead of looking in its directory for a jar. The naming of the jar itself also doesn't matter if you use the environment variable method.

[2017-12-14 15:00] samuelklee commented on #3968
OK, great.  @LeeTL1220 @davidbenjamin Let's coordinate.  Might make sense to hold off until Cromwell 30 changes are in, but I'll let you guys decide.

[2017-12-14 15:08] jonn-smith opened #3969 "Funcotator - Must decouple GC Content and Reference Context from Gencode Funcotations"
Currently `Funcotator` produces the `gccontent` and `referenceContext` annotations as part of the `GencodeFuncotationFactory`.

This works, but is incorrect - they are separate annotations and should be controlled separately via their own mechanisms.

Decouple GC Content and Reference Context from Gencode Funcotations.

[2017-12-14 15:10] ldgauthier commented on #3963
VariantRecalibrator applies an annotation (VQSLOD and possibly also AS_VQSLOD), but the `-an` are annotations it reads.  Note sure that I agree that those should go to `-A`, since that's what we currently use for writing annotations.

[2017-12-14 15:11] davidbenjamin commented on #3967
@droazen Does this mean that the `gatk` script needs to be a wdl `File` input in order to localize it?

[2017-12-14 15:13] droazen commented on #3967
@davidbenjamin No, it should be in the docker image (and it is in the standard docker images we publish).

[2017-12-14 15:14] droazen commented on #3967
See https://github.com/broadinstitute/dsde-pipelines/blob/develop/genomes_in_the_cloud/joint_genotyping_workflow/JointGenotypingWf.wdl for an example, and also the comments to https://github.com/broadinstitute/gatk/issues/3968

[2017-12-14 15:44] #2858 closed

[2017-12-14 15:44] #3661 closed

[2017-12-14 15:44] #3825 closed

[2017-12-14 18:35] jonn-smith opened #3971 "Funcotator - Fix versioning in the LocatableXsvFuncotationFactory"
Because of how `LocatableXsvFuncotationFactory` works, the `getVersion` method is ambiguous.  This needs to be fixed.

This will likely involve pinning one `LocatableXsvFuncotationFactory` to each locatable xsv datasource.

[2017-12-14 18:45] jonn-smith opened #3972 "Funcotator - need to consolidate data source massaging scripts"
All scripts involved in massaging input data sources need to be put in the scripts directory.

[2017-12-14 19:52] #3898 closed

[2017-12-14 19:52] #3753 closed

[2017-12-14 19:53] #3784 closed

[2017-12-14 19:53] #3781 closed

[2017-12-14 19:53] #3780 closed

[2017-12-14 19:53] #3859 closed

[2017-12-14 19:53] #3783 closed

[2017-12-14 19:53] #3757 closed

[2017-12-14 19:53] #3906 closed

[2017-12-14 21:16] jamesemery opened #3974 "RecalibrationArgumentColleciton arguments need to be refactored to new standard"
Most of the arguments in RecalibrationArgumentCollection are in the form "mismatches_context_size". This probably needs to be updated but it will have the consequence of invalidating existing BaseRecalibrator report tables and require the arguments get changed in all of the report tables checked in as test files.

[2017-12-15 18:14] samuelklee opened #3976 "Refactor CNV collection classes."
Parallel class hierarchy for metadata and collections could be more elegant.  Perhaps use Tribble.

[2017-12-15 18:42] samuelklee commented on #3916
Also some tests for collection classes.  Refactoring may avoid code duplication here.

[2017-12-15 21:05] LeeTL1220 opened #3978 "Somatic CNV WDL needs output parameters"
The modeled segments and called copy ratio segments should be output, at least.

[2017-12-15 21:43] samuelklee commented on #3978
I'm fine with dumping all outputs to the output block.

[2017-12-15 21:51] dianekaplan opened #3979 "GenomicsDBImport: add support for samples with spaces in the name"
We are unable to run joint genotyping on the cloud when it includes a sample with a space in the name; it fails when calling GATK's GenomicsDBImport functionality (see error log below).

This practice (samples with spaces in the name) is unfortunately not uncommon, so we've had to modify our various workflows one by one to add support for this case. Please update GenomicsDBImport to handle samples

[2017-12-15 21:53] samuelklee opened #3980 "Expose or hide all task-level parameters in CNV WDLs consistently."
Somatic WDLs have them hidden, gCNV WDLs (in sl_gcnv_ploidy_cli) have them exposed.  (EDIT: Actually, gCNV WDLs only have them exposed for gCNV-specific tasks.  Common tasks such as PreprocessIntervals are also not exposed.)

The former makes for cleaner `wdltool inputs` JSONs that contain only the bare minimum inputs, but it is unclear whether FC will allow for task-level parameters to be set.  H

[2017-12-15 22:32] samuelklee opened #3981 "Restore PadTargets padding/merging behavior to PreprocessIntervals."
Currently in master, intervals from the IAC that have been modified by the engine are further padded, overlapping intervals are merged, and bins are created.  WES should be run by specifying bin_length = 0, and the total number of intervals (targets, in this case) should remain fixed.  However, current behavior does not prevent intervals that overlap after padding from being merged.

Note also tha

[2017-12-15 22:33] samuelklee commented on #3981
@LeeTL1220 Not sure if you will absolutely need this for HCC1143 WES validation, but just be aware that this change is coming soon.

[2017-12-16 00:34] LeeTL1220 commented on #3978
Okay, good.  I'll add some more.

[2017-12-16 00:47] LeeTL1220 opened #3983 "Somatic CNV WDL needs to support tumor-only mode where no matched normal is available."

[2017-12-16 00:52] LeeTL1220 commented on #3983
Maybe rename the WDL to case workflow instead of pair?

Does this now require a separate WDL file?  Or can we use optional parameters as we had previously?

[2017-12-16 00:58] LeeTL1220 opened #3984 "Somatic CNV WDL needs Oncotator call as per previous version of the WDL"
We can reuse the task from the previous WDL:

[code]

[2017-12-16 00:58] LeeTL1220 commented on #3984
[code]

[2017-12-16 01:47] LeeTL1220 commented on #3981
Sure.  Sounds good that it will be fixed.  I doubt that it will affect results too much.

[2017-12-16 12:42] samuelklee commented on #3983
What does FC need?  And what naming convention makes most sense in the FC context, i.e., is a tumor-only sample represented as a `case` or as a `pair` with no normal?

[2017-12-16 13:29] chapmanb commented on #3466
@droazen @vdauwera -- sorry to bump this but I'm hitting this problem with additional unrelated samples and could provide additional test cases if this isn't enough to debug. Thanks much.

[2017-12-18 02:53] sooheelee commented on #3853
@yfarjoun @vdauwera I've refined the tool categorization based on feedback on the tentative categorization. Thank you @yfarjoun for the review and feedback. The refinement is reflected in the new tabbed sheet in the shared Google Spreadsheet:`1217Changes_categorization-and-assignments`. I've separated out GATK vs Picard tools for each of the categories.

Here is a summary of the changes.

1. New 1

[2017-12-18 03:09] sooheelee commented on #3853
Hey developers working on GATK4 doc updates @cwhelan @samuelklee @ldgauthier @vruano @yfarjoun @LeeTL1220. Just a reminder (from @vdauwera and @droazen) that we want to get rid of many of the short form arguments and only keep the long form for the more obscure arguments. Meaning we keep both forms for commonly used and understood arguments.

[2017-12-18 03:34] #3920 closed

[2017-12-18 14:53] lbergelson commented on #3466
I think this issue is likely the same as https://github.com/broadinstitute/gatk/issues/3813

[2017-12-18 16:37] lbergelson opened #3993 "investigate use of spark-bam to improve spark bam reading"
There's a new [small library for bam reading](https://github.com/hammerlab/spark-bam) from hammer lab that is designed to fix problems in the bam splitting.  It sounds promising from they've posted.  We've been patching these problems in a very ad-hoc way as we discover them, but they've done a systematic survey to identify them.  They also claim it's substantially faster.  It's currently missing

[2017-12-18 17:05] #3278 closed

[2017-12-18 17:43] #3659 closed

[2017-12-19 01:57] #3978 closed

[2017-12-19 01:57] #3984 closed

[2017-12-19 02:08] LeeTL1220 opened #3995 "Make SimpleAnnotatedGenomicRegion able to produce and consume the SequenceDictionary"
Should probably implement the LocatableMetadata or SampleLocatableMetadata

[2017-12-19 02:50] LeeTL1220 commented on #3983
FC was fine with previous model of having normal input bams/bais be optional parameters.

I don't think FC would let you do a pair missing a sample.  Typically, in FC, you would create two method configurations, one for tumor-only and one for pair.  Then the former would be run on samples and the latter run on pairs.

[2017-12-19 02:51] LeeTL1220 commented on #3983
Isn't this a dupe of #3940 ?

[2017-12-19 09:17] stefandiederich opened #3996 "NDArray error from GermlineCNVCaller"
Hi,

I am testing the GATK beta 4.6 at the moment. It's a great improvement in time used to analyse data. Similarly I am interested in calling germline CNV events. I tried out the workflow with only two samples, just to find the right tools and see how it behaves.
First I used `gatk-launch CalculateTargetCoverage` and `gatk-launch TargetCoverageSexGenotyper` and used the resulting files as input f

[2017-12-19 14:01] samuelklee commented on #3996
Hi Stefan,

If there is no obvious error (e.g., is `/media/Berechnungen/GATKTest/CN_transition_matrix_autosomal.tsvx` the correct filename, rather `than /media/Berechnungen/GATKTest/CN_transition_matrix_autosomal.tsv`?  Does the file exist and is it correctly formatted?), then I would guess that this is likely an error with your nd4j configuration.

Just to let you know, we have significantly reva

[2017-12-19 14:06] samuelklee commented on #3940
Dupe of #3983.

[2017-12-19 14:06] #3940 closed

[2017-12-19 14:06] samuelklee commented on #3983
Yup.  Adding the note here to fill in some cost optimizations for some of the common tasks.

[2017-12-19 14:09] samuelklee commented on #3995
Use SampleLocatableMetadata if you want CombineSegmentBreakpoints to only operate on segment files form a single sample.  It's conceivable that you want it to be more flexible, in which case I would use LocatableMetadata.

Also, go ahead and move the collection class into the collection package, rather than expose the abstract classes.

[2017-12-19 14:49] stefandiederich commented on #3996
Thanks a lot for your detailed information.
I just had a look into the branch you told me, but it looks quite complicated to me at this time. I think I will wait until the official release in January and hope for some kind of best practise guidelines to come up.

[2017-12-19 15:07] LeeTL1220 commented on #3995
I also need it to work with seg files that have no header.

[2017-12-19 15:11] LeeTL1220 commented on #3995
I figure:
- Create a `SimpleAnnotatedGenomicRegionCollection`
- It will allow the sequence dictionary to be null.  I need to be able to support random tsv files (that have locatable data).

[2017-12-19 18:47] samuelklee commented on #3996
That sounds prudent.  The new version of the GermlineCNVCaller workflow will be available at release; I think you'll find the workflow itself to be quite streamlined and hopefully easy to use.  However, because the model is relatively sophisticated, there are some parameters and model priors that may need to be set appropriately to generate optimal results.  We plan on spending some time shortly a

[2017-12-19 18:47] #3996 closed

[2017-12-19 19:23] samuelklee commented on #3995
Let's discuss further before you get too far along.  The design of the Collections code was intended to ensure that very strict file formats are adhered to within the CNV pipeline.  Making it more flexible to accommodate TSVs with arbitrary column headers, relax requirements for sequence dictionaries, etc. undermines that goal.

There are also two other issues to consider:

1) It looks like @jonn-

[2017-12-19 19:40] jonn-smith commented on #3786
Created data sources file that includes this one.

[2017-12-19 19:40] #3786 closed

[2017-12-20 14:14] samuelklee commented on #3995
Another though: germline tagging should be handled by `VariantFiltration`.

[2017-12-20 16:26] jonn-smith opened #3999 "Funcotator - need to change command-line arguments to use datasources directory"
Currently the command-line options for `Funcotator` need to be refactored to take the datasources directory as input.

This directory will then be parsed to get sub directories and pull in any datasources that are there.

[2017-12-20 18:44] samuelklee commented on #3826
@asmirnov239 @MartonKN @mbabadi  Note the remaining TODOs.  Let's be in a position where we can get all gCNV-related branches merged shortly after @mbabadi returns on 1/4 but with a margin before release on 1/9.  I will spend some time over break to get my review in.

I will also finish up docs for ModelSegments + update PreprocessIntervals this week.  Review should be quick.

I think we can consi

[2017-12-20 18:52] LeeTL1220 commented on #3826
VCF output can be a reach for the release.

On Wed, Dec 20, 2017 at 1:44 PM, samuelklee <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2017-12-20 19:09] davidbenjamin commented on #2975
Closed by #3988.

[2017-12-20 19:09] #2975 closed

[2017-12-20 19:10] davidbenjamin commented on #3082
We did it.

[2017-12-20 19:10] #3082 closed

[2017-12-20 19:12] davidbenjamin opened #4002 "Improve CalculateContamination"

[2017-12-20 19:43] samuelklee commented on #3915
Making a note of #4001 here.

[2017-12-20 20:34] samuelklee opened #4004 "Add tool for subsetting CNV count collections via -L."
These intervals could be the union of multiple collections of locatables specified via the command line.  Examples: various UCSC tracks of regions to blacklist, VCFs of common CNVs (for ModelSegments only), etc. Intervals in the input count collections that overlap with the union should be dropped.

@LeeTL1220 We can decide after discussing with @jonn-smith how to proceed.

[2017-12-20 20:36] samuelklee commented on #4004
@mbabadi I think it would be easiest to have the gCNV CLI take care of this filtering.  This means your python package would not include this functionality in a self-contained way.

[2017-12-20 21:35] carsonhh opened #4005 "java.lang.ArrayIndexOutOfBoundsException in BaseRecalibrator on Grc38"
I get a consistent failure with BaseRecalibrator on a handful of samples. It occurs in both GATK 4 and GATK 3 (I checked the most current git repository of both).

I also submitted this bug to the gatk forum before seeing that it affects GATK 4 and submitted this bug report.
[Forum link](https://gatkforums.broadinstitute.org/gatk/discussion/comment/44650)

I've trimmed the command line down to the

[2017-12-20 21:57] lbergelson commented on #4005
@carsonhh Thank you for the very detailed bug report and reproduction, that's really helpful.  We'll have to look into this.

[2017-12-21 13:56] sooheelee commented on #3487
I am informed that Picard LiftoverVcf now left aligns.

[2017-12-21 14:33] jonn-smith opened #4006 "Funcotator - SimpleXsv parser needs improved error handling for different encodings"
Currently the `SimpleKeyXsvFuncotationFactory` needs to be improved to throw better error messages when the encoding of a file is inconsistent.

This is really an issue involving how `Files.lines()` deals with the encodings.  When using the `PathLineIterator` the encoding issue is not found until calling `it.next()` and getting a line with inconsistent encodings.  This issue is then manifested as

[2017-12-21 15:21] #3972 closed

[2017-12-21 15:42] samuelklee opened #4007 "Generate new resources for CNV WDL tests."
It's a little confusing that we use downsampled tumor BAMs for the gCNV WDL tests, for example.  Can wait until after release.

[2017-12-21 16:49] lbergelson opened #4008 "publish our own version of google nio to central"
We haven't resolved the issue with our project configuration yet, so we need to publish this ourselves.

[2017-12-22 13:41] davidbenjamin commented on #4002
Closed by #4001.

[2017-12-22 13:41] #4002 closed

[2017-12-22 14:41] davidbenjamin commented on #3968
@droazen I think this leaves one more question: what about running locally?  Since cromwell doesn't take in the docker image in that case (right?) wouldn't we need to pass in a pass to the gatk script?

[2017-12-22 14:48] davidbenjamin commented on #3334
Requested guidance (in a different ticket) on how this works when running locally.

[2017-12-22 16:28] davidbenjamin commented on #3510
@sooheelee I fixed the javadoc and added a logger warning letting users know that they must input a .args file for their vcfs list.  When I copy your .list file to a .args file everything works.  I'm going to address the other stuff for the release as well.

[2017-12-22 16:37] davidbenjamin commented on #3510
@sooheelee I just fixed the missing variant with a one-line change in my branch.  The tool was forgetting to check the last locus after all the variants had been read in.

[2017-12-22 16:43] davidbenjamin commented on #3960
Still waiting for go-ahead?

[2017-12-22 17:23] davidbenjamin commented on #3510
@sooheelee I added a command line argument for duplicate options: `THROW_ERROR`, `CHOOSE_FIRST`, and `ALLOW_ALL`.  I will now issue the PR but won't assign a reviewer from the M2 team until after the break.  If you want to review go ahead but there's some Java code.

[2017-12-22 18:19] davidbenjamin commented on #2961
Done.

[2017-12-22 18:19] #2961 closed

[2017-12-22 21:53] MartonKN commented on #3826
Hi Sam,

updating ReCapSegCaller with the new version and updating the tutorial data
is assigned to me as a task. But as far as I understand those tasks will
not need to be ready by the release. Could you confirm it?

Happy holidays,
Marton

On Wed, Nov 29, 2017 at 4:08 PM, samuelklee <notifications@github.com>
wrote:

--
Marton Kanasz-Nagy
Physics Department, Harvard University
17 Oxford Street,

[2017-12-23 15:10] samuelklee commented on #3826
@MartonKN I've labeled the update of the caller as a "reach", so I'm not expecting that it gets done before release.

However, I expect that the tutorial data should be updated well before release.  The tutorial data runs quickly (~1 hr for coverage collection, which is mostly limited by the slowest samples or cloud preemptions, and then ~minutes once collection has been call cached), so we should

[2017-12-26 18:43] vdauwera commented on #3061
That's how I remember it as well. If anyone comes with a specific case we can reexamine, but pending that I think it's best to close this. Reopen if you disagree.

[2017-12-26 18:43] #3061 closed

[2017-12-28 16:07] eitanbanks opened #4011 "Mapping quality threshold in GetPileupSummaries needs to be modifiable"
The MAPPING_QUALITY_THRESHOLD for GetPileupSummaries is hard coded at 50, but that's not documented anywhere -- and really is only good for BWA aligned reads.  There are other mappers that are more spread in their mapping qualities and we lose so many reads.

Instead, please change this tool so that MAPPING_QUALITY_THRESHOLD is a command-line argument (and it's fine to have it set to 50 by default

[2017-12-28 16:08] eitanbanks commented on #4011
@davidbenjamin are you the right person for this?

[2017-12-28 16:23] yu68 commented on #3066
This error also happens in AWS EMR. Is there a plan to fix this bug. @vdauwera
Thanks!

[2017-12-28 18:40] samuelklee commented on #4011
@davidbenjamin Note that this is not exposed in CollectAllelicCounts either and is set to 30 by default.  Our default set of read filters is also less stringent.  However, we do expose a threshold on minimum base quality.  Just a few more things to consider when we unify the two tools!

[2017-12-28 19:34] samuelklee opened #4012 "WDL tests are not currently running on Travis."
Looks like this was broken in #3985.

[2017-12-28 22:37] psendil commented on #3708
Hi,
Glad to know that you have tested GATK4 with Amazon S3 suing NIO file system plugin.
I have been stuck on this process for long...I would really appreciate if you could share the work around procedure detail for this.
Thanks in advance !
Senthil

[2017-12-29 02:59] huangl07 opened #4013 "GenomicsDBImport support for bed files"
dear GATK4 helper:

   does GATK4 could use the same method to GenotypingGvcfs like GATK3.7?

I have try the GATK4 GenomicsDBImport but it turns out  More than one interval specified. The tool takes only one?

I have aboult 10k or more scaffolds cause the poor assembly result ?

how could it be ?

[2017-12-29 05:56] samuelklee opened #4014 "StreamingProcessControllerUnitTest.testSerialCommands (intermittent?) test failure on Travis."
[code]

[2017-12-29 14:39] #4014 closed

[2017-12-29 16:28] dannykwells opened #4017 "Mutect2.wdl workflow question"
We are in the process of trying to get [The Mutect2 WDL worfkow](https://github.com/broadinstitute/gatk/tree/master/scripts/mutect2_wdl) working. When we run it on an input tsv file, we get the following error on transitioning from Mutect2 to MergeVCFs:

`Unable to evaluate parameters: parameter \"m2_multi.m2.MergeVCFs.input_vcfs-9\" has invalid value:`

This error I think is due to a confusion be

[2017-12-30 01:09] dannykwells commented on #4017
I should clarify, if it matters, that I am running this work flow with a GCP backend.

[2018-01-02 14:42] #4012 closed

[2018-01-02 14:48] jonn-smith commented on #3785
Issue was fixed by #3943 and #3897

[2018-01-02 14:48] #3785 closed

[2018-01-02 14:51] jonn-smith opened #4021 "Funcotator - Documentation needs cleanup"
Need to cleanup the documentation in Funcotator prior to the GATK 4.0 release.

[2018-01-02 14:58] jonn-smith commented on #3497
This immediate task is effectively closed by PR #4020 .

In the long-run this is really a continuous improvement task.

[2018-01-02 14:58] #3497 closed

[2018-01-02 15:00] jonn-smith commented on #3787
This datasource is now part of the data sources package for Funcotator.

[2018-01-02 15:00] #3787 closed

[2018-01-02 15:34] jonn-smith opened #4022 "Funcotator - Reference version input should be string, not enum"
The reference version should be specified as a string, not an enum.

This will allow a user to add data sources for arbitrary references.

[2018-01-02 16:08] samuelklee opened #4024 "Intermittent failure of AsynchronousStreamWriterServiceUnitTest.testAsyncWriteInBatches on Travis."
@cmnbroad Could you look into it, if necessary?

[code]

[2018-01-02 16:24] cmnbroad commented on #4024
@samuelklee Can you point me to the travis build where this happened ? Thx.

[2018-01-02 16:26] samuelklee commented on #4024
It was build #15709.3 here, but I restarted it: https://travis-ci.org/broadinstitute/gatk/builds/324162169

[2018-01-02 17:02] samuelklee opened #4025 "Change TSV input to BAM/BAI array input in gCNV WDLs."
This can wait until after release, but will need to be done to get gCNV into FireCloud.
Also, output blocks for Germline CNV calling WDL scripts.

[2018-01-02 20:06] #3999 closed

[2018-01-02 22:09] lbergelson opened #4030 "bump our small libraries to version 1.0.0"
We should update our small dependencies if they need it.

- [x] gatk-native-bindings -> release it as version 1.0.0
- [x] gatk-fermilite-jni -> release the current version as 1.1.0
- [x] gatk-bwamem-jni -> release a version 1.0.4 which includes a new method
- [ ] update gatk with new libraries

[2018-01-02 22:33] lbergelson commented on #4030
unpleasantly we already have a version 1.0.0 of fermilite-jni released to central, but it's older than the 1.0.0-rc releases, so we'll have to bump to 1.1.0, and our versioning will be a bit weird...

[2018-01-02 23:35] samuelklee opened #4032 "Decide on similar-segment merging behavior and preliminary values for relevant parameters for ModelSegments release."
Particularly the smoothing thresholds for both CR and AF and the kernel variance for AF.

[2018-01-02 23:42] #4024 closed

[2018-01-02 23:48] cmnbroad opened #4033 "Update doc templates to reflect "Experimental" tag."
The GATK Freemarker templates need to change reflect the new `@Experimental` tag when the [Barclay PR](https://github.com/broadinstitute/barclay/pull/116) is merged and assimilated into GATK.

[2018-01-02 23:55] cmnbroad opened #4034 "Upgrade Picard and remove/resolve placeholder program groups."
Several temporary placeholder program groups were added in https://github.com/broadinstitute/gatk/pull/3924 so they could be used until we get the real ones from Picard. However, since then, the approved list of program groups have changed (i.e., BAMPreprocessing no longer exists). Once the [final groups](https://github.com/broadinstitute/picard/pull/1043) are merged into Picard, we'll need to upg

[2018-01-03 03:28] sooheelee commented on #3677
Hi @lbergelson @kgururaj. I have a user with a headerline error from GenomicsDB that may or may not be related. Would it be possible for one of you to take a glance and let me know if I should post a new bug report or if this PR will fix the issue? Thanks so much.

[code]

User error is described at  https://gatkforums.broadinstitute.org/gatk/discussion/11107/gatk4beta6-annotation-incompatibility-

[2018-01-03 03:35] KrzysztofMKozak commented on #3466
Are there any news on this, please? Unfortunately seems to crop up with a lot of my data...

[2018-01-03 11:20] cuericlee commented on #3936
@lbergelson Louis, I run into the similar trouble when I enable GATK to access oss fs of Aliyun,  our oss of  hadoop-fs impl (org.apache.hadoop.fs.{FileSystem, Path}) work well with spark perfectly but oss provider (java.nio.file.spi.FileSystemProvider) is not available today. (Not included in gatk package gatk-4.beta.6.

After I researched on [SparkContext](
https://github.com/apache/spark/blob/1

[2018-01-03 13:43] cmnbroad opened #4036 "Plugin descriptors (filters and annotations) should use configurable package lists"
The list of packages used by GATKReadFilterPluginDescriptor and GATKAnnotationPluginDescriptor to find plugin instances should be a configurable setting.

[2018-01-03 16:10] #3411 closed

[2018-01-03 16:10] #3670 closed

[2018-01-03 16:10] #3677 closed

[2018-01-03 16:10] #3839 closed

[2018-01-03 16:17] sooheelee commented on #3510
Thanks, @davidbenjamin. I started learning Java over the break as planned. I'm a quarter in to my intro to Java class. So at this point, I think it best to leave the review to those who are more versed in the language.

[2018-01-03 16:24] #3510 closed

[2018-01-03 16:35] sooheelee commented on #3707
We have a user keen on seeing this done, either in the official release or in a nightly, whichever is sooner. Please can whoever is working on this either post to tell the user at https://gatkforums.broadinstitute.org/gatk/discussion/11107/gatk4beta6-annotation-incompatibility-between-haplotypecaller-and-genomicsdbimport#latest or ping me please? Thanks.

[2018-01-03 17:13] jonn-smith commented on #3857
Ran some comparisons between funcotator and oncotator using the following data sources against a set of 46 variants (see attached):
- achilles
- cancer_gene_census
- clinvar
- cosmic
- cosmic_fusion
- cosmic_tissue
- dna_repair_genes
- familial
- gencode
- gencode_xhgnc (Only Funcotator had this data source)
- gencode_xrefseq
- hgnc
- oreganno
- simple_uniprot

While the details of the results wer

[2018-01-03 17:22] LeeTL1220 commented on #3857
@jonn-smith Excellent!  Thanks so much for doing this.  This is great.

[2018-01-03 17:25] LeeTL1220 commented on #3857
@droazen @jonn-smith I'm leaving it to one/both of you to close this issue.

[2018-01-03 17:32] jonn-smith commented on #3857
Closing issue.  This is primarily here to keep a record of how things stack up.

[2018-01-03 17:32] #3857 closed

[2018-01-03 18:35] lbergelson opened #4039 "ReadUtils.createCommonSAMWriterFromFactory should accept a reference Path"
ReadUtils.createCommonSAMWriterFromFactory currently requires a File instead of a path.  Requires a change in htsjdk to have SAMFileWriterFactory.makeWriter() accept the reference as a path.

[2018-01-03 19:26] samuelklee commented on #3968
@LeeTL1220 @davidbenjamin When should we make these changes?  I think the gCNV branch (#3925), which also contains WDL, needs to get merged first.  We're aiming to get this done by Friday, will that leave enough time?

[2018-01-03 19:26] #3888 closed

[2018-01-03 19:28] samuelklee commented on #3968
@droazen I think there is still the open question of running the WDL locally.  In my opinion, it's OK to assume that gatk is in the PATH.

[2018-01-03 19:34] droazen commented on #3968
@samuelklee I think assuming that `gatk` in the PATH is the right thing to do for local runs.

[2018-01-03 19:35] droazen commented on #3968
And obviously you guys are going to want to wait for the merge of https://github.com/broadinstitute/gatk/pull/3961 later today.

[2018-01-03 19:37] samuelklee commented on #3968
OK, great.  And yup, that's what reminded me!

[2018-01-03 20:16] jonn-smith opened #4040 "@value javadoc tag doesn't work with gatkDoc, seems broken with javadoc"
Using the `@value` tag to insert the text of a `public static final String` does not work for either javadoc or gatkDoc.

With gatkDoc, the rendered text is the raw value you specify in the `@value` tag (e.g. for `{@value #mystring}` you get `#mystring`).

With javadoc you seem to get an empty string instead of any value at all.

[2018-01-04 03:40] sooheelee commented on #3853
Alright, everyone. If you can have your tooldoc updates merged by this Friday, that would be great. That gives me time to take stock of what is missing and update the documentation accordingly over the weekend.

[2018-01-04 16:05] samuelklee opened #4042 "Determine recommendations for gCNV parameters and memory requirements."
For WGS/WES data generated at the Broad.

[2018-01-04 18:08] samuelklee opened #4043 "Split off inference and theano HMM in gcnvkernel into separate packages."
I think this makes sense, but is low priority and can definitely wait until after release.
Add tests for theano HMM + example use case for Hybrid ADVI.

[2018-01-04 18:33] samuelklee commented on #4043
Let's also add some tests for the HMM.

[2018-01-04 20:40] samuelklee commented on #2858
Just noticed an updated version of the kernel segmentation paper: https://hal.inria.fr/hal-01413230v2/document  The original version referenced in this issue can be found at: https://hal.inria.fr/hal-01413230v1/document

A couple of noteworthy changes include the form of the penalty function and the fact that they use an estimate of the variance to normalize the data and set the kernel variance to

[2018-01-04 20:53] sooheelee commented on #3845
@vladsaveliev, we have a forum for usage questions. The github repo is meant for development work. The GATK forum is at https://gatkforums.broadinstitute.org/gatk/discussions.

[2018-01-04 20:59] sooheelee commented on #3368
I have a user on the forum asking whether being unable to phase MNPs is intended.
https://gatkforums.broadinstitute.org/gatk/discussion/11122/pgt-and-pid-is-a-dot#latest

The PGT:PID shows up as `.:.` for these trailing SNPs on the same reads as upstream same-phased SNPs.

[2018-01-04 21:07] ohofmann commented on #3845
This does sound familiar. I am seeing a variation of this which Brad documented at https://github.com/broadinstitute/gatk/issues/3466

[2018-01-05 00:37] vladsaveliev commented on #3845
@sooheelee, I can't be 100% sure, but this looks like a bug.

[2018-01-05 07:30] davidbenjamin commented on #4011
@eitanbanks Yes, I will fix this.

[2018-01-05 08:50] mbabadi commented on #3552
deprecated by the new gCNV implementation. Closing.

[2018-01-05 08:50] #3552 closed

[2018-01-05 08:50] mbabadi commented on #3442
Deprecated by the new tool `DetermineGermlineContigPloidy`. Closing.

[2018-01-05 08:50] #3442 closed

[2018-01-05 08:51] mbabadi commented on #2995
Deprecated by the new gCNV. Closing.

[2018-01-05 08:51] #2995 closed

[2018-01-05 08:51] mbabadi commented on #2928
Deprecated by the new gCNV. Closing.

[2018-01-05 08:51] #2928 closed

[2018-01-05 08:52] mbabadi commented on #3015
The new tool `DetermineGermlineContigPloidy` uses a negative binomial model to overcome this issue. Closing.

[2018-01-05 08:52] #3015 closed

[2018-01-05 08:52] mbabadi commented on #2932
Solved in the new gCNV. Closing.

[2018-01-05 08:52] #2932 closed

[2018-01-05 08:53] mbabadi commented on #2931
Deprecated by the new gCNV. Closing.

[2018-01-05 08:53] #2931 closed

[2018-01-05 15:40] samuelklee opened #4049 "Specifying shortName but not fullName for argument leads to unexpected documentation/behavior?"
@cmnbroad @droazen Didn't realize that I accidentally omitted the `fullName` when specifying the sequence-dictionary argument for PlotModeledSegments:

    @Argument(
            doc = PlottingUtils.SEQUENCE_DICTIONARY_DOC_STRING,
            shortName = StandardArgumentDefinitions.SEQUENCE_DICTIONARY_NAME
    )
    private File inputSequenceDictionaryFile;

This works when called in WDL tests usi

[2018-01-05 15:52] ldgauthier commented on #3368
It's hard to say without seeing all of the data.  I answered on the forum.

[2018-01-05 16:01] sooheelee commented on #3853
The Picard Program Group assignments https://github.com/broadinstitute/picard/pull/1043 PR has been merged.

[2018-01-05 16:28] cmnbroad commented on #4049
Yeah, its expected, but admittedly a little weird. The fallback to using field name for longname if one isn't explicitly specified is somewhat rational (Picard heritage), but the parser allows the use of `-` and `--` interchangeably, which results in it accepting `--sequence-dictionary ${ref_fasta_dict}` but complaining about `inputSequenceDictionaryFile`.

[2018-01-05 16:33] samuelklee commented on #4049
Ah, OK, that makes sense.  Good to know!

[2018-01-05 16:33] #4049 closed

[2018-01-05 18:26] mbabadi opened #4054 "Repackage `gcnvkernel` and move the CLI python scripts to Java resources"
Also, update the last paragraph of `gcnvkernel/README.txt` to mention that python CLI scripts are located at `gatk/src/main/resources/org/broadinstitute/hellbender/tools/copynumber/`.

[2018-01-05 18:35] mbabadi opened #4055 "Warn about low genotyping quality during contig ploidy determination"
As mentioned in the tool documentation, `DetermineGermlineContigPloidy` assumes integer contig ploidy states. The presence of mosaic aneuploidy and/or germline partial chromosome loss will result in unreliable results.

- [ ] In the COHORT mode, it is desirable to emit warning messages for (sample, contig) with outlyingly low genotyping quality (GQ) in the population. As it stands, GQs are only wr

[2018-01-05 18:39] mbabadi opened #4057 "Viterbi segmentation in theano HMM + breakpoint qualities"

[2018-01-05 18:40] lbergelson commented on #3945
closing this since it's no longer relevant

[2018-01-05 18:40] #3945 closed

[2018-01-05 18:42] mbabadi opened #4058 "Low-hanging gcnvkernel refactoring and code improvement"
- [ ] A consistent type hinting strategy
- [ ] Rename `Metadata` to something else in order to avoid confusion with the usage of `Metadata` on the Java side
- [ ] Use `pandas.csv_read` and `pandas.csv_write` for reading/writing`.tsv` files everywhere

[2018-01-05 18:49] mbabadi opened #4059 "Smart switching between exact Negative Binomial and its Gaussian approximation in gcnvkernel.DenoisingCallingModel"
For large `x`, `NB(x | mu, alpha)` can be replaced with a Gaussian approximation which is much faster to compute. In practice, we get ~3x speedup if we naively replace all `NB` with `Normal`. However, we will lose accuracy on deletions and low-coverage loci.

It is desirable to be able to adaptively switch between the two based on a criterion (i.e. if the relative difference of exact/approximate l

[2018-01-05 18:53] mbabadi opened #4060 "GermlineCNVCaller must output comprehensive metrics for coverage modeling quality"
- [ ] Sample-specific unexplained variance for all samples + quantile in the cohort
- [ ] HMM log likelihood + quantile in the cohort
- [ ] Bias factor loading quantiles in the cohort

This issues requires calculating and saving a number of summary statistics in the COHORT mode in conjunction with the coverage model parameters bundle.

[2018-01-05 19:22] #954 closed

[2018-01-05 19:22] #963 closed

[2018-01-05 19:22] #1786 closed

[2018-01-05 19:22] #2402 closed

[2018-01-05 19:30] ldgauthier commented on #4060
Presumably this is how you will implement #2895?

[2018-01-05 19:52] lbergelson commented on #3097
#3767 added `DataprocIntegrationTest.printReadSparkOnDataproc` on an actual dataproc cluster and writes to a bucket.

[2018-01-05 19:52] #3097 closed

[2018-01-05 19:53] lbergelson commented on #3466
We hope to have this fixed by the 4.0 release on tuesday.

[2018-01-05 19:56] lbergelson commented on #3845
@vladsaveliev Thanks for this bug report.  The example will be helpful in solving this issue.  I'm closing this ticket because I believe it's a duplicate of #3466.  Please track that issue for updates.

[2018-01-05 19:56] lbergelson commented on #3813
I'm closing this because I believe it's a duplicate of #3466.  Track that issue for updates.

[2018-01-05 19:56] #3813 closed

[2018-01-05 20:26] lbergelson opened #4062 "GenomicsDBImport fails on Mac due to library loading issues"
[code]

if you dig into it more you get down to the following error:
[code]

It seems like there is a dylib included correctly in the jar, but it's looking for libuuid.16.dylib at runtime.  libuuid.16.dylib needs to be statically linked into the GenomicsDB lib.

[2018-01-05 20:31] lbergelson commented on #4062
@kgururaj This seems to be a new issue in 0.8.1-proto-3.0.0-beta-1.  We'll have to revert to the previous version for the release if we can't figure it out.

[2018-01-05 20:58] lbergelson commented on #4062
installing libuuid manually by `brew install ossp-uuid` solves the problem, but we really want this statically linked into it so users aren't expected to do it themselves

[2018-01-05 21:01] #3981 closed

[2018-01-05 21:05] lbergelson opened #4064 "new Germline CNV wdl test are too slow, causing travis failures"
The newly enabled GermlineCNV wdl tests seem to take ~1 hour 8 minutes.  The maximum timeout for our travis jobs is 1 hour 10 minutes.  This is causing random failures.  It's also the slowest of our matrix entry by a large margin which makes our tests even slower than they are.  Can these be speed up?

Alternatively we may need to talk to the travis people and get a special dispensation to increas

[2018-01-05 21:05] #4032 closed

[2018-01-05 21:13] samuelklee commented on #4064
Yeah I trimmed then down even further in #4061.  Looks like they run about ~40 minutes now.  This is just running a single iteration of gCNV in each of cohort (3 samples) and case mode, which is already kind of the bare minimum (2 tests---in comparison we run 8 such tests on the somatic side).  We might be able to trim down the test data even further (to decrease the number of intervals), but I'm

[2018-01-05 21:13] samuelklee commented on #4064
Note that we can't merge #4061 until we make a decision about how to handle a missing osx64 python dependency.

[2018-01-05 21:23] samuelklee commented on #4064
Also, I wouldn't worry about talking to the Travis people---this will give us more incentive to keep our tests short, which I think is a good thing...

[2018-01-05 21:29] cmnbroad commented on #4064
@samuelklee I'm not sure we need to hold up #4061 for the osx issue - those dependencies were introduced in #3925 and are already in master. I don't think #4061 makes them any worse.

[2018-01-05 22:04] droazen commented on #3466
Yes, it's on my TODO list. Should have a PR by Monday.

[2018-01-05 22:04] jonn-smith opened #4065 "Funcotator - add wdl / workflow"
Add in a wdl / workflow for Funcotator.

[2018-01-05 22:53] #4054 closed

[2018-01-05 22:53] #4064 closed

[2018-01-06 03:45] #4062 closed

[2018-01-06 19:38] #4030 closed

[2018-01-07 05:15] davidbenjamin commented on #3387
Closed by #4048.

[2018-01-07 05:15] #3387 closed

[2018-01-07 07:11] davidbenjamin commented on #3436
Will be closed by #4069.

[2018-01-07 15:32] samuelklee commented on #3980
@LeeTL1220 @katevoss @ruchim I started exposing all optional task-level parameters in the somatic workflows so that they could be specified via json when the workflows are used as subworkflows.  E.g., `CNVSomaticPanelWorkflow.PreprocessIntervals.bin_length` is an optional task-level parameter that can be specified properly via json when `CNVSomaticPanelWorkflow` is the top-level workflow, but not

[2018-01-07 16:50] samuelklee opened #4072 "GATK4 default jar conventions differ in M2 and CNV WDLs."
The default jar is taken to be the one bundled with the Docker in the CNV WDLs but is an exposed argument in the M2 WDLs.

[2018-01-07 17:17] sooheelee opened #4073 "Odd assembly behavior observed in GATK4.beta.6+ HC/M2 but not GATK3.7 HC"
For @droazen on his request. Thank you for looking into this.

[shlee_ref200.zip](https://github.com/broadinstitute/gatk/files/1609980/shlee_ref200.zip)

Observations and commands are in file **shlee_ref200_commands.txt** and should be copy-pastable if you run them in the **shlee_ref200** folder. Folder contains everything you need (reference set, BAMs for normal, tumorA, tumorB, and ref (this las

[2018-01-07 19:30] cmnbroad opened #4074 "gCNV python env fails on mac"
#3925 introduced a conda dependency on libgcc-ng=7.2.0, which works in Travis since its available or Ubuntu, but fails to resolve for osx.

Its not clear to me what the options are, but we need to resolve this one way or another.

[2018-01-07 19:46] cmnbroad opened #4075 "Consider adding osx to the travis matrix"
This would catch things like https://github.com/broadinstitute/gatk/issues/4074, but multiplies the test matrix. https://docs.travis-ci.com/user/multi-os/

[2018-01-08 00:36] sooheelee commented on #3853
Here are three PRs I will review:
- https://github.com/broadinstitute/gatk/pull/4035
- https://github.com/broadinstitute/gatk/pull/4068
- https://github.com/broadinstitute/gatk/pull/4019

Here are some unmerged open doc PRs (not necessarily comprehensive):
- https://github.com/broadinstitute/gatk/pull/4029
- https://github.com/broadinstitute/gatk/pull/4026
- https://github.com/broadinstitute/gatk/

[2018-01-08 00:47] lbergelson commented on #4075
It would have caught #4062 as well...

This is a duplicate of https://github.com/broadinstitute/gatk/issues/1816

[2018-01-08 00:49] lbergelson opened #4076 "fix parameters in jenkins performance tests"
These need to be updated to use `gatk` instead of `gatk-launch` and kebob case arguments.

[2018-01-08 00:58] lbergelson commented on #4076
I've done a first round of this but we'll need a second round of it once the rest of the kebab casing is done.

[2018-01-08 01:34] LeeTL1220 commented on #4072
@samuelklee See upcoming WDL convention guide for GATK repo.

[2018-01-08 01:34] LeeTL1220 commented on #4072
GATK CNV is correct.

[2018-01-08 01:36] LeeTL1220 commented on #4017
@dannykwells Fix is in `master`.

The error only occurs in GCP backend.

[2018-01-08 06:17] sooheelee commented on #3853
I've gone in and worked directly on the branches in #4025, #4068 and #4019, in the doc portions of the code. These are undergoing Travis testing and one of these is awaiting additional review.

[2018-01-08 10:23] magicDGS commented on #4039
There is a PR in that solves the HTSJDK part: https://github.com/samtools/htsjdk/pull/1005 - we just need to reach a consensus about the overloads...

[2018-01-08 11:29] Sun-shan opened #4081 "Arebwa function in GATK4"
Can GATK4 starts from the fastq file in Spark，not from the bam file ?

[2018-01-08 15:27] LeeTL1220 commented on #3980
@samuelklee Can we just expose `bin_length` since it determines what is WGS vs. Exome?  Punt the rest?

[2018-01-08 15:40] samuelklee commented on #3980
I thought we agreed to leave it unless Intel needed to wrap the current workflows as subworkflows?  Remember that things like `CNVSomaticPanelWorkflow.PreprocessIntervals.bin_length` can still be set.  Not sure how this is looks on FireCloud at the moment, but unless it doesn't show up there even when the workflow is top level (in which case, I really don't understand the point of optional paramet

[2018-01-08 15:55] LeeTL1220 commented on #3980
@samuelklee My apologies, yes we did.  Ignore previous comment.

[2018-01-08 16:23] mbabadi commented on #4074
@samuelklee @cmnbroad I wonder whether we could get rid of libgcc-ng altogether? it automatically appeared after I installed the main dependencies. For what it's worth, I have a fully working mkl-enabled gcnv python env on my mac!

[2018-01-08 16:23] jonn-smith opened #4083 "Funcotator - add in Structural Variant functionality"
Funcotator currently doesn't handle Structural Variants.

Funcotator should handle Structural Variants.

[2018-01-08 16:28] samuelklee commented on #4074
@mbabadi Can you try removing libgcc-ng, installing the resulting environment (`./gradlew createPythonPackageArchive; conda env create -n gatk -f scripts/gatkcondaenv.yml`), and then verifying that gcnv runs as intended?  If so, mind creating the PR?

[2018-01-08 16:54] danking commented on #3411
@lbergelson I see that 7298392 closed this issue. Does this mean that the `genomicsdb` artifact version `0.8.1-proto-3.0.0-beta-1` in maven central supports reading of genomics db instances stored at paths arbitrarily different form their creation location?

Thanks for the update!

[2018-01-08 16:59] droazen commented on #3466
Fix for this issue is here: https://github.com/broadinstitute/gatk/pull/4080

[2018-01-08 16:59] droazen commented on #3813
Fix for this issue is here: https://github.com/broadinstitute/gatk/pull/4080

[2018-01-08 17:00] droazen commented on #3845
A fix for this issue is here: https://github.com/broadinstitute/gatk/pull/4080

[2018-01-08 17:12] sooheelee opened #4085 "neither CollectBaseDistributionByCycleSpark nor CollectInsertSizeMetricsSpark output the PDF file"
Tested using gatk-4.beta.6-151-g1ec409c-SNAPSHOT locally and with dataproc. Observed bug while testing commands for documentation updates in https://github.com/broadinstitute/gatk/pull/4068.

CollectInsertSizeMetricsSpark requires the `--histogramPlotFile` (`-H`, file to write insert size Histogram chart to) and current example commands add the `.pdf` extension to these files. The tool errors with

[2018-01-08 17:13] sooheelee commented on #1534
This happens for me also.

[2018-01-08 17:20] #4021 closed

[2018-01-08 17:23] lbergelson commented on #3411
@danking That's the idea.  I may have closed this prematurely because I didn't wait for the pr with tests (#4000). You're supposed to be able to pick up the workspace directory and move it around no problem now.

[2018-01-08 17:24] sooheelee commented on #4085
I will assign to @droazen to delegate.

[2018-01-08 17:29] lbergelson commented on #4081
@Sun-shan Currently it has to start with a bam file.  You can use an unmapped bam file and then align it with bwa as part of the spark pipeline, but we can't currently read FASTQ directly.  That's a feature we'd like to consider in the future.

[2018-01-08 17:29] #4081 closed

[2018-01-08 17:31] lbergelson opened #4086 "read FASTQ files directly in spark pipelines"
It would be nice if we could directly read fastq files instead of requiring unmapped bam when using BWA-mem spark.  This probably requires an extension to hadoop-bam.

[2018-01-08 17:31] lbergelson commented on #4081
I opened a new ticket to keep this on our radar #4086

[2018-01-08 19:13] #3466 closed

[2018-01-08 20:20] jonn-smith opened #4088 "Funcotator - integrate WDL into M2 WDL & automate testing"
The Funcotator WDL needs to be integrated into the WDL for M2 and plugged into the automated testing.

[2018-01-08 20:35] sooheelee commented on #4073
I've updated the commands that now use kebab:

[4] tumorA: GATK4 HC NOT seeing the G allele at 121 (but sees the C).
[code]

[5] normal: GATK4 HC completely blind to the GG at 121
[code]

[6] tumorB: GATK4 HC has no problem seeing the C allele at 121
[code]

[2018-01-08 20:38] jonn-smith opened #4090 "Funcotator - Transcript Selection List should be a file with a list of transcripts"
Transcript selection list should be specified by a file with a list of transcripts, not a raw input argument.

[2018-01-08 20:48] samuelklee opened #4092 "Standardize memory units and use of machine_mem and command_mem in CNV WDLs."

[2018-01-08 20:52] #4025 closed

[2018-01-08 20:52] #3967 closed

[2018-01-08 20:52] #3968 closed

[2018-01-08 20:52] davidbenjamin commented on #3334
This is about to be closed by #4071.

[2018-01-08 20:52] #3334 closed

[2018-01-09 06:48] sooheelee commented on #3197
I'm really curious about this and will bring in a 6-pack of choice for the person that explains. @droazen @lbergelson.

[2018-01-09 07:23] magicDGS commented on #4086
One small library (that might be added to Hadoop-BAM at some point, at least that's what they told me on an email the authors) is [FASTdoop](http://www.di-srv.unisa.it/FASTdoop/), which includes input formats for Hadoop for FASTQ/FASTA files. May be worthy to look at...

[2018-01-09 07:26] magicDGS commented on #4081
@Sun-shan - I recently published a simple toolkit, ReadTools, for standardizing formats into an unmapped BAM that follow the specifications, starting from different FASTQ inputs (and others): single-end, pair-end, Illumina-legacy names, Casava read names, etc. Check it out in the [ReadTools documentation page](http://magicdgs.github.io/ReadTools/).

[2018-01-09 13:25] droazen opened #4101 "Provide an easy mechanism for downstream toolkits to customize CommandLineProgram output"
The output printed at startup (`CommandLineProgram.printStartupMessage()`) should be easy for toolkits that build on top of GATK to customize. Currently it can be customized via overriding methods, but this is awkward if you want to extend built-in walker classes rather than your own subclass of `CommandLineProgram`.

[2018-01-09 13:58] #4065 closed

[2018-01-09 15:55] droazen opened #4105 "Implement a mechanism to automatically label GCS/NIO enabled arguments as such"
We need a way to label GCS-enabled arguments as such (ideally an automated/foolproof way).

[2018-01-09 15:58] #3709 closed

[2018-01-09 15:59] jamesemery commented on #3609
Closed by https://github.com/broadinstitute/gatk/pull/4000

[2018-01-09 15:59] #3609 closed

[2018-01-09 16:01] #2493 closed

[2018-01-09 16:02] jamesemery commented on #2493
This has been handled by other annotation pull requests like https://github.com/broadinstitute/gatk/pull/3851

[2018-01-09 16:11] ldgauthier opened #4106 "Multiple GenomicsDBImport commands can't be run concurrently in the same directory?"
There was an unverified bug report from a user on the forum:
"I did also run in to a problem with running all of these imports from the same directory.  It creates a .tmp_loader.json file in the directory you kick the imports off from, which is problematic when you kick off 24 imports, one for each chromosome.  This json file seems to specify the location of the GenomicsDB which that job is to wri

[2018-01-09 16:12] lbergelson commented on #4106
This is very believable. I've certainly never tried running multiple in the same directory...

[2018-01-09 18:08] lbergelson commented on #4086
That sounds like a good thing to look at.  If someone has already written it, it would be great to not have to rewrite it..

[2018-01-09 18:15] #4008 closed

[2018-01-09 21:54] SHuang-Broad opened #4111 "Switch to the updated type & location inference tool in SV pipeline"
As we have finished implementing the updated logic for how variants are interpreted and location inferred by studying local assembly contig alignment signatures, it is time to clean up the corresponding package in the pipeline and make the switch to the updated implementation, which now outputs not only insertion, deletion, small tandem duplication, and inversions, but also novel adjacencies (BND

[2018-01-10 03:19] Sun-shan opened #4112 "Error in executing the BwaAndMarkDuplicatesPipelineSpark"
Hi, when I executed the BwaAndMarkDuplicatesPipelineSpark command, there are some issues, I am not sure the issue related to the Spark environment or to the files I used.

The "ucsc.hg19.fasta.img" is generated by the "gatk-launch BwaMemIndexImageCreator ucsc.hg19.fasta" command

The "1982.unmapped.bam" is generated by the picard command FastqToSam.jar :1234:

[code]

Are there some examples I can

[2018-01-10 03:21] vladsaveliev commented on #3845
Thank so much @droazen for the fix!

[2018-01-10 14:10] cmnbroad commented on #4105
@droazen Is this the same thing as https://github.com/broadinstitute/gatk/issues/3773 ?

[2018-01-10 14:49] cmnbroad commented on #1816
We've had a few more issues this would have caught, such as #4074 and #4062 as well.

[2018-01-10 14:49] cmnbroad commented on #4075
Dup of https://github.com/broadinstitute/gatk/issues/1816.

[2018-01-10 14:49] #4075 closed

[2018-01-10 15:10] cmnbroad commented on #1438
#4093 detects ambiguities, but throws when it finds them. Reopening this to keep the history, since we should still probably invent some kind of quoting mechanism to allow the user to resolve ambiguities.

[2018-01-10 16:07] sooheelee commented on #3769
GATK4.0 released Jan 9. We can close this ticket.

[2018-01-10 16:07] #3769 closed

[2018-01-10 16:32] sooheelee commented on #3853
Thanks everyone for your contributions to updating the tool docs for yesterday's GATK4.0 release.

In my brief surveys of the status of tooldoc updates, I noticed a number of tools without example commands. I will fill in these missing ones going forward. Thanks again for your efforts.

[2018-01-10 16:32] #3853 closed

[2018-01-10 18:01] samuelklee commented on #2972
Deleted in #3935.

[2018-01-10 18:01] #2972 closed

[2018-01-10 18:01] samuelklee commented on #2976
Deleted in #3935.

[2018-01-10 18:01] #2976 closed

[2018-01-10 18:02] samuelklee commented on #2841
I think we can close this, we have simulated data used for gCNV tests in 4.0.

[2018-01-10 18:02] #2841 closed

[2018-01-10 18:02] samuelklee commented on #2833
I think relevant Spark CNV tools were deleted in #3935.

[2018-01-10 18:02] #2833 closed

[2018-01-10 18:04] samuelklee commented on #2852
We completely rewrote evaluation scripts for 4.0, so this is no longer relevant.

[2018-01-10 18:04] #2852 closed

[2018-01-10 18:22] samuelklee commented on #3301
Deleted in #3935, but I tried to replicate with the new versions of the CNV plotting tools.  I get a sensible warning if a package is missing, e.g.:

`Stderr: Error in library(data.table) : there is no package called ‘data.table’`

[2018-01-10 18:22] #3301 closed

[2018-01-10 18:24] samuelklee commented on #2910
Closed in #3914.

[2018-01-10 18:24] #2910 closed

[2018-01-10 18:25] samuelklee commented on #3460
Closed in #3985.

[2018-01-10 18:25] #3460 closed

[2018-01-10 18:27] samuelklee commented on #3098
Deleted in #3935.

[2018-01-10 18:27] #3098 closed

[2018-01-10 18:38] samuelklee commented on #2929
@mbabadi Can you update this when you get a chance?  We should reevaluate how much of the ICG, FourierLinearOperator, etc. stuff we want to leave in.  For example, is it worth requiring the dependency on nd4j?

[2018-01-10 18:38] samuelklee commented on #2940
Obviated by ModelSegments pipeline.

[2018-01-10 18:38] #2940 closed

[2018-01-10 18:39] samuelklee commented on #2933
Deleted in #3903.

[2018-01-10 18:39] #2933 closed

[2018-01-10 18:40] samuelklee commented on #2920
Deleted in #3935.

[2018-01-10 18:40] #2920 closed

[2018-01-10 18:40] samuelklee commented on #2883
Not sure if this was reproduced.  Deleted in #3935.

[2018-01-10 18:40] #2883 closed

[2018-01-10 18:41] samuelklee commented on #2878
Deleted in #3935.

[2018-01-10 18:41] #2878 closed

[2018-01-10 18:42] samuelklee commented on #2882
We drop regions containing all Ns in the pipelines before they get to GC-bias correction.

[2018-01-10 18:42] #2882 closed

[2018-01-10 18:44] samuelklee commented on #3181
Obviated by ModelSegments rewrite.

[2018-01-10 18:44] #3181 closed

[2018-01-10 18:44] samuelklee commented on #3010
Deleted in #3935.

[2018-01-10 18:44] #3010 closed

[2018-01-10 18:45] samuelklee commented on #3002
Closed in #3925.

[2018-01-10 18:45] #3002 closed

[2018-01-10 18:46] samuelklee commented on #2998
I think we can say this is addressed by #3925.

[2018-01-10 18:46] #2998 closed

[2018-01-10 18:46] samuelklee commented on #2969
Not sure if we still need this.  Closing.

[2018-01-10 18:46] #2969 closed

[2018-01-10 18:51] samuelklee commented on #2979
Replaced by #4058.

[2018-01-10 18:51] #2979 closed

[2018-01-10 18:53] samuelklee commented on #2985
I think this is obviated by kernel segmentation.  We may use some sort of HMM for the tumor heterogeneity tool, but we can open new, more relevant issues then.

[2018-01-10 18:53] #2985 closed

[2018-01-10 18:54] samuelklee opened #4113 "Add VCF output to gCNV pipeline."

[2018-01-10 18:54] samuelklee opened #4114 "Add VCF output to ModelSegments pipeline."
In conjunction with #4115.

[2018-01-10 19:01] samuelklee commented on #3826
Going to close this out and spin off new issues.

[2018-01-10 19:01] #3826 closed

[2018-01-10 19:05] samuelklee opened #4115 "Improve ModelSegments caller."
This should use allele fraction to identify the neutral state. @MartonKN already has a python prototype.  We need to wrap this in Java and evaluate.

[2018-01-10 19:06] samuelklee opened #4116 "Prototype pymc3-based tumor-heterogeneity tool."

[2018-01-10 19:08] samuelklee opened #4117 "Add PG comments to headers in CNV output."
Low priority.

[2018-01-10 19:10] samuelklee commented on #3009
Replaced by evaluation of new gCNV pipeline.

[2018-01-10 19:10] #3009 closed

[2018-01-10 19:11] samuelklee commented on #3003
@mbabadi Gonna go ahead and close this.  Again, let's reevaulate the need for nd4j.

[2018-01-10 19:11] #3003 closed

[2018-01-10 19:12] samuelklee commented on #2996
Obviated by new gCNV.

[2018-01-10 19:12] samuelklee commented on #2986
New gCNV is built.

[2018-01-10 19:12] #2986 closed

[2018-01-10 19:14] samuelklee commented on #2971
Going to go ahead and close this.  Note that I didn't delete RobustBrentSolver in #3935, as it might come in handy, but it's currently only used in unit tests.

[2018-01-10 19:14] #2971 closed

[2018-01-10 19:15] samuelklee commented on #2909
#4116 can build on the previous work done here.

[2018-01-10 19:15] #2909 closed

[2018-01-10 19:17] samuelklee commented on #3367
Duped in #2881, no pun intended.

[2018-01-10 19:17] #3367 closed

[2018-01-10 19:29] samuelklee commented on #4007
@LeeTL1220 We'll keep you updated here.  Should be quick, but I want @asmirnov239 to finish up #4113 first.

I think if we can point @asmirnov239 to a few public germline BAMs to use for building both gCNV and ModelSegments PoNs, and we can continue using HCC1143 for the tumor.

[2018-01-10 19:33] LeeTL1220 commented on #4007
FYI.... @ruchim is going to use full size bams for the examples in FC.  If she changes her mind and wants to go back to the downsampled chr20 versions, she can comment here.

[2018-01-10 19:39] samuelklee commented on #4007
OK.  I think that probably makes more sense.  I don't think we should use Travis test data as FC example data in general, as I'd want the latter to be able to showcase the workflows more realistically.

[2018-01-10 19:45] fac2003 opened #4120 "Exception: Invalid interval when processing chr5 of platinum genome NA12878"
Note that I want to disable filters intentionally to keep poor alignments.

[code]

[2018-01-10 19:56] fac2003 commented on #4120
I see the exception on most chromosomes, here's the one for chr1:

java.lang.IllegalArgumentException: Invalid interval. Contig:chr1 start:79293873 end:79293872
        at org.broadinstitute.hellbender.utils.Utils.validateArg(Utils.java:687)
        at org.broadinstitute.hellbender.utils.SimpleInterval.validatePositions(SimpleInterval.java:61)
        at org.broadinstitute.hellbender.utils.SimpleI

[2018-01-10 20:36] samuelklee commented on #2907
Opening a new issue for evaluating the new version of gCNV.  @kuanlinhuang We will release Best Practices recommendations for this workflow, including suggested parameter values for various data types typically generated at the Broad, when this new round of evaluations is complete.

[2018-01-10 20:36] #2907 closed

[2018-01-10 20:37] samuelklee commented on #2905
We handle this relatively reasonably in the new gCNV.  The WDL outputs an array of compressed model directories; each directory corresponds to a scattered interval block and contains model posterior summaries in a human readable format.

[2018-01-10 20:37] #2905 closed

[2018-01-10 20:45] samuelklee commented on #2896
@mbabadi Is this still relevant?

[2018-01-10 20:50] samuelklee opened #4121 "Use gCNV PoN to denoise tumor samples."
We can start by allowing DenoiseReadCounts to take a gCNV PoN as input.

[2018-01-10 20:52] samuelklee commented on #2842
Replaced by #4121.

[2018-01-10 20:52] #2842 closed

[2018-01-10 20:52] samuelklee commented on #2843
Replaced by #4121 for now.

[2018-01-10 20:52] #2843 closed

[2018-01-10 20:53] samuelklee commented on #2824
Now that python is in the mix we should just use MCMC packages that are already out there.

[2018-01-10 20:53] #2824 closed

[2018-01-10 20:54] samuelklee opened #4122 "Built automatic evaluation of ModelSegments pipeline and establish best practices."
@LeeTL1220 has already made substantial progress on this front, but I think we can improve ground truth sets and expand the number and type of evaluation metrics calculated.  To start, this will include:

- [ ] TCGA WGS
- [ ] HCC1143 WES purity series
- [ ] HCC1143 reproducibility

We should look for other gold-standard somatic callsets and build the evaluation infrastructure so that these can be

[2018-01-10 21:00] samuelklee opened #4123 "Build automatic evaluation of gCNV pipeline and establish best practices."
@mbabadi has some python scripts that we can expand upon.  To start, this should include:

- [ ] WES evaluations using matched WGS as GT
- [ ] WGS evaluations using consensus calls from SV callers as GT
- [ ] Trio evaluations
- [ ] Comparisons against ModelSegments, XHMM, CODEX2, CLAMMS, GenomeSTRiP, perhaps others (CANVAS?)

See also #2881.

[2018-01-10 21:02] samuelklee commented on #3005
We should update the docs to describe the new pipelines.

[2018-01-10 21:04] samuelklee commented on #3151
I did this and learned some things.  However, it will be easier to evaluate the impact of GC correction with a standard evaluation.

[2018-01-10 21:04] #3151 closed

[2018-01-10 21:05] samuelklee commented on #3583
@LeeTL1220 I think we can open a new issue if we want to change when these files are output or output more metrics.

[2018-01-10 21:05] #3583 closed

[2018-01-10 21:05] samuelklee commented on #3007
Obviated by new gCNV.

[2018-01-10 21:05] #3007 closed

[2018-01-10 21:08] LeeTL1220 commented on #3583
We just needed a way for FC (or other infrastructure) to be able to get
these numbers into the data model/metadata

On Wed, Jan 10, 2018 at 4:05 PM, samuelklee <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2018-01-10 21:09] samuelklee commented on #2835
We may still want to allow this for both gCNV and ModelSegments PoNs.

[2018-01-10 21:10] LeeTL1220 commented on #4122
@samuelklee You have a "see #4122" above, but that is this issue.  Does the citation above need to be fixed?

[2018-01-10 21:17] samuelklee commented on #2857
Dupe of #3005.

[2018-01-10 21:17] #2857 closed

[2018-01-10 21:17] samuelklee commented on #4122
Oops, thanks, fixed.

[2018-01-10 21:19] samuelklee commented on #4042
In conjunction with #4123.

[2018-01-10 21:27] samuelklee commented on #2876
@lbergelson We should do some cleanup of the HDF5 code at some point.  See also #3763.

[2018-01-10 21:27] samuelklee commented on #2880
I'm going to lump this in with #2881.

[2018-01-10 21:27] #2880 closed

[2018-01-10 21:30] samuelklee commented on #2884
Closing this, see comments in #2858.

[2018-01-10 21:30] #2884 closed

[2018-01-10 21:36] samuelklee commented on #3599
Deleted AllelicCNV in #3935.  I don't think `org.apache.spark.mllib.stat.KernelDensity` is used any longer, but we may still run into similar dependency issues in the future.  Going to close this for now.

[2018-01-10 21:36] #3599 closed

[2018-01-10 21:38] samuelklee commented on #3501
I think we can close this. :100:

[2018-01-10 21:38] #3501 closed

[2018-01-10 21:40] samuelklee commented on #3657
Closing this for now.  We can reopen if it turns out to be an issue.

[2018-01-10 21:40] #3657 closed

[2018-01-11 03:54] owensgl opened #4124 "Could not load genomicsdb native library"
With GATKv4.0.0.0, when I try to run GenomicsDBimport, it crashes and gives this error message:

19:29:01.391 INFO  GenomicsDBImport - ------------------------------------------------------------
19:29:01.391 INFO  GenomicsDBImport - The Genome Analysis Toolkit (GATK) v4.0.0.0
19:29:01.391 INFO  GenomicsDBImport - For support and documentation go to https://software.broadinstitute.org/gatk/
19:29:

[2018-01-11 15:49] jamesemery commented on #4124
Hello @owensgl. Could you provide me with an example command line argument that causes this error? I would like to know more about where you are putting your genomcisDB.

[2018-01-11 15:55] stefandiederich opened #4125 "Error in line 84 cohort_determine_ploidy_and_depth.py"
Hi,

I tried to use your new released GATK4 package to do CNV analysis. I know it's a beta tool... I followed the tools documentation and did "CollectFragmentCounts" first to get hdf5 files. After that I tried to run "DetermineGermlineContigPloidy" in cohort mode with these files. I created a ploidy_priors.tsv file like described in the documentation and used 8 hdf5-files. A few seconds after star

[2018-01-11 16:09] droazen commented on #4124
@kgururaj Could you also have a look at this one, please?

[2018-01-11 16:33] kgururaj commented on #4124
Same question as Louis, which OS (or Docker image) are you running on?

Just FYI,  we now have a repo and Travis setup to test out the jars for issues. The tests for this jar passed the last time - I have restarted the build (Ubuntu and MacOSX)

https://travis-ci.org/kgururaj/TestGenomicsDBJar/builds/325659272

[2018-01-11 16:36] lbergelson commented on #4124
I suspect it's a different issue than #4062, but probably some similar library incompatibility issue.  Unfortunately the stack trace doesn't have enough information in it.  We should consider rewriting the error message for this so that we are sure to have the first cause reported, not just the `Could not load genomicsdb native library` message.

[2018-01-11 16:37] lbergelson commented on #4120
@fac2003 I believe that you have intervals that are of 0 length in your interval file.  GATK doesn't like those.  Did you intend to have 0 length intervals or is that unintentional?

[2018-01-11 16:41] lbergelson commented on #4120
Actually, I'm sorry, I think I jumped to conclusions too quickly without reading through everything...  It looks like some of the reads are of 0 length, which is probably what's causing the problems.  Those would normally be filtered out, but they're getting through since you disabled filters.

Could you try running without `--disable-read-filter NonZeroReferenceLengthAlignmentReadFilter`?

[2018-01-11 16:42] kgururaj commented on #4106
That sounds like a bad implementation from our side - apologies.

We are working on fully fixing the Protobuf implementation. As part of that task, the temp loader/query JSON files will no longer be created (the vid and callset JSONs will still be needed).

[2018-01-11 16:43] fac2003 commented on #4120
I removed this filter and it fixed the issue. Thanks.

[2018-01-11 16:49] kgururaj commented on #4124
A check:
Can you clone https://github.com/kgururaj/TestGenomicsDBJar ?
[code]

[2018-01-11 16:54] lbergelson commented on #4120
👍 In general the tools will likely run into trouble if you remove their default filters.

[2018-01-11 16:54] #4120 closed

[2018-01-11 17:05] droazen commented on #4106
Assigning to @kgururaj for a fix.

[2018-01-11 17:31] owensgl commented on #4124
Hi,
This is the command I used ($tmp is a string of 150 gvcfs):
`gatk GenomicsDBImport \
        $tmp \
        --genomicsdb-workspace-path /scratch/gowens/wild_gwas/$genomicsdb/${chr}_$pos \
        --intervals $contig \
        --batch-size 100`

The OS version is:

 Version:    n/a
Distributor ID: CentOS
Description:    CentOS Linux release 7.4.1708 (Core)
Release:        7.4.1708
Codename:

[2018-01-11 17:38] davidbenjamin opened #4126 "min-base-quality-score argument doesn't do anything"
`HaplotypeCaller` and `Mutect2` share an argument `min-base-quality-score` that restricts low-quality bases from assembly.  This argument gets passed to `ReadThreadingAssembler`, but take a look at the following code in that class:

[code]
The latter variable is set from the command line argument, but only the `static` constant is ever used, in particular in line 447:

[code]

The fix is extremely

[2018-01-11 17:43] owensgl commented on #4124
@kgururaj I ran the commands you suggested.

I'm using a compute canada server, so I don't have root access. The version of gatk4 I'm using was installed by their support team, and I load it using 'module load gatk'. I had that module loaded when I ran this test.

[2018-01-11 17:53] lbergelson commented on #4125
@stefandiederich What version of python are you running?  That looks like it's erroring out when it hit's a type annotation, which is a python 3+ feature.  I believe the CNV tools require python 3.6.2+.

[2018-01-11 17:55] lbergelson commented on #2876
@samuelklee I agree, it just hasn't been a priority ever so I've never gotten to it.

[2018-01-11 17:59] droazen commented on #4125
@mbabadi @samuelklee @cmnbroad It would be good if the Python executor could accept a per-tool required Python version, and throw a nice user exception if the Python version requirements aren't met.

[2018-01-11 18:09] cmnbroad commented on #4125
@stefandiederich There is a conda environment .yml file called gatkcondaenv.yml that is included with the distribution. It will establish the correct version of Python and other dependencies that are required for the CNV tools. You can find more detail about how to set this up [here](https://github.com/broadinstitute/gatk#requirements).

[2018-01-11 18:24] cmnbroad opened #4127 "CNV tools need doc and validation that the conda environment is activated"
See https://github.com/broadinstitute/gatk/issues/4125 (which I suspect is due to the conda env not being established).

@mbabadi @samuelklee @vdauwera Unfortunately we didn't add anything to the doc for these tools saying that they require the conda env. Some suggestions:

- Ideally, we could do something along the lines of what @droazen suggested in #4125, where the script executor validates tha

[2018-01-11 19:26] samuelklee commented on #4125
@droazen @cmnbroad @mbabadi I generally agree with the sentiments expressed in #4127, except that I think it's OK to require a conda environment (or even use of the Docker) for these particular tools.  How we should validate this requirement is another question.  We can discuss more with @vdauwera.

@stefandiederich Hopefully once you get the conda environment set up you will be able to run the to

[2018-01-11 19:36] samuelklee commented on #4127
As long as we are rolling with a single common environment across all tools, perhaps we could have a documentation annotation for tools that require it?

As I said in #4125, I vote against allowing users to configure their own environment.  I really see no benefit to anyone---it's much easier on the users to just use the yml, and it's definitely much easier on us.

[2018-01-11 19:41] lbergelson opened #4129 "reduce non-deterministic WDL test failures"
We've been noticing a number of sporadic wdl test failures recently.  They typically resolve after rerunning.  Some of them seem to be the travis timeout after 10 minutes of inactivity.  It would be good if we could make that happen less often.

Here's an example of a mutect2 wdl failure [travis log.txt](https://github.com/broadinstitute/gatk/files/1623864/travis.log.txt)

[2018-01-11 19:50] samuelklee opened #4130 "Increase verbosity of Travis logging for WDL tests."
This will make debugging easier.  Currently the only way to debug failing tests is to rerun them locally, which typically requires editing the JSONs and WDLs.  Logging the stdout/stderr for all tasks would probably suffice.

[2018-01-11 19:58] lbergelson commented on #4112
@Sun-shan Hi, could you try running with the `--disable-sequence-dictionary-validation` command?

[2018-01-11 20:00] lbergelson opened #4131 "tools that expect unaligned reads shouldn't validate the sequence dictionary"
Tools that take an unaligned bam shouldn't expect that the bam has contigs that match the reference.

These include `BwaAndMarkDuplicatesSpark`, `BwaSpark`, and `ReadsPipelineSpark` (when running in alignment mode.)

[2018-01-11 20:00] lbergelson commented on #4112
Opening a new issue here #4131 to track this bug.

[2018-01-11 20:05] sooheelee opened #4133 "picard 2.10.7 fails pipelining SortSam and SetNmAndUqTags"
Bug on 4.0.0.0 reported on forum -- please advise how to proceed @droazen @lbergelson.

---

Ok now things are getting more interesting. Disabling intelflaters seems to solve the problem. But why?

Same flaters work with standalone picard as well and they don't have any issues. Compression level does not change anything. Is this a memory allocation error? I don't think so because it does not segfa

[2018-01-11 20:10] sooheelee commented on #4133
For @droazen to delegate.

[2018-01-11 20:18] davidbenjamin opened #4134 "Move args used in HC but not M2 out of shared ArgumentCollection"
AssemblyBasedCallerArgumentCollection contains arguments that Mutect2 doesn't use, which is misleading.

[2018-01-11 20:34] lbergelson commented on #4133
I commented on the message itself.  The problem seems to be that we output some log messages to STDOUT that break piping.  Picard puts them on STDERR.

[2018-01-11 20:37] lbergelson opened #4135 "Piping picard tools in GATK fails because of logging to STDOUT"
As reported in https://github.com/broadinstitute/gatk/issues/4133 piped commands that work in Picard, don't work when running with GATK.  The immediate culprit is the line:
[code]
Which is emitted to stdout in GATK, a similar warning is instead output to STDERR in picard.

There are likely other problematic logging lines.

[2018-01-11 20:44] droazen opened #4136 "Add HC/Mutect2 integration tests for --min-base-quality-score"

[2018-01-11 20:55] ldgauthier commented on #4123
The Talkowski lab also runs cn.mops and CNVnator for read depth calling.  No idea how easy those are to run or if they run on exomes.

[2018-01-11 21:00] cmnbroad commented on #4130
One thing to try is to configure cromwell to retain the log directory via a workflow option when we run the tests. Then at the end of the build we can copy them somewhere, either always, or via the travis after_failure entry in the build matrix. Then we'd be able to see exactly what failed in the travis environment.

[2018-01-11 21:06] kgururaj commented on #4124
Minor change in my comment - could you re-run with the modified commands?

[2018-01-11 21:11] davidbenjamin opened #4138 "Make M2 wdls consistent with methods wdl template / guidelines"

[2018-01-11 21:18] owensgl commented on #4124
With updated command:

[2018-01-11 21:22] davidbenjamin commented on #2942
Update: the cfDNA validation is all set up.

[2018-01-11 21:29] kgururaj commented on #4124
Interesting, this is the first time that I have seen a CentOS-7 install without zlib and uuid - even the minimal installations include it.

Your options are:
- Install zlib  and uuid (yum -y install zlib libuuid)
- Ask your admins whether these packages are installed in some other location. For example, if the zlib library is at /opt/my_install/lib64/libz.so, then you can set your environment vari

[2018-01-12 09:32] stefandiederich commented on #4125
@cmnbroad Thanks for pointing to the conda environment file. I tried to install load it but the first error it gave me was
´´´
NoPackagesFoundError: Package missing in current linux-64 channels:
  - intel-openmp 2018.0.0*
´´´´
so I installed this package by hand with ´conda install -c anaconda intel-openmp´ and afterwards tried to install the gatkcondaenv.yml again with ´conda env create -n gatk -

[2018-01-12 11:53] samuelklee commented on #4125
@stefandiederich I think we forgot to mention that you need to create the GATK python package using “./gradlew createPythonPackageArchive” before creating the conda environment.  I don’t think you should run into any further issues.

The error with the intel-openmp package was most likely due to your Anaconda/Miniconda installation not being as up to date as the one our Docker image uses.  (Note t

[2018-01-12 13:11] stefandiederich commented on #4125
@samuelklee Thanks for yor help. I created the ython package and could set up the conda environment. I activated it and run the command for DetermineGermlineContigPloidy again. Now it`s running :-)

Thanks again for you very quick respons and high quality help! I am realy looking forward to the BestPractice guide for GermlineCNV calling. Thanks to all.
I will close this issue now.
Stefan

[2018-01-12 13:11] #4125 closed

[2018-01-12 17:12] samuelklee opened #4140 "CNV plotting tools may fail within GATK Docker for large inputs because of limited tmpfs space."
These tools use fread + grep preprocessing (`fread("grep ...")`) to quickly read in large TSVs in the backend R scripts.  Unfortunately, because of https://github.com/Rdatatable/data.table/issues/1139 and the fact that /dev/shm is limited to 64MB in a standard GATK Docker container, this can yield the following error when running within Docker:

[code]

Starting a Docker container with a sufficien

[2018-01-12 18:05] davidbenjamin commented on #3436
Closed by #4069.

[2018-01-12 18:05] #3436 closed

[2018-01-12 18:12] jsotobroad commented on #4140
You would not have access to docker container options when using the Google backend because the running of your image is all controlled by Pipelines API.  You would be able to set that value when running on a local backend but thats probably not portable enough for your workflow.

[2018-01-12 19:32] LeeTL1220 commented on #4140
I hate to say it:  "45 seconds but works with WGS"  is better than "4
seconds but doesn't work with WGS"

I'm open to suggestions, though.

On Fri, Jan 12, 2018 at 2:29 PM, samuelklee <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2018-01-12 19:53] samuelklee commented on #4140
To be clear, this will work perfectly fine as long as you have enough space in /dev/shm---which is typically true everywhere outside of our default Docker container.

I'm loath to cripple a tool just because of limitations that are fundamentally elsewhere...let's just address those in the appropriate places.  (Furthermore, I'm especially loath to write a plotting tool that takes ~5 minutes to gene

[2018-01-12 20:44] cwhelan opened #4141 "SV pipeline failure on CHM WGS1 with "two input alignments' overlap on read consumes completely one of them.""
I just ran the pipeline from master on the WGS1 BAM file with the following parameters:

[code]

It failed near the end of the pipeline. Here is the tail of the log:

[code]

[2018-01-12 20:44] cwhelan commented on #4141
@SHuang-Broad this looks like something in your code

[2018-01-12 20:45] LeeTL1220 commented on #4140
We've had to do that in other places...

On Fri, Jan 12, 2018 at 3:20 PM, samuelklee <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2018-01-12 20:53] LeeTL1220 opened #4142 "`mutect2_opt.wdl` should be merged with `mutect2.wdl` without NIO"
We should probably have one round of merging of mutect2_opt.wdl into mutect2.wdl, without merging in the changes to enable NIO.

The changes in mutect2_opt.wdl should supersede what is in mutect2.wdl.  And make sure that NIO is not brought in (yet)

@jsotobroad

[2018-01-12 21:06] SHuang-Broad commented on #4141
Yes, I saw that too and have a fix planned.

Result:
The "ins_del_inv.vcf" is still produced but the experimental features are not available due to the exception

Cause:
gapped-alignment is split and after the split one of the child alignment is contained by another gap-free alignment in their read span.
The particular contig's alignment ([ribbon](http://genomeribbon.com/?perma=dUYn5Xecbc))

[code

[2018-01-12 21:13] cwhelan commented on #4141
Let's remove the option from the script, then, if it's causing a failure on our primary benchmarking sample.

[2018-01-12 21:58] samuelklee commented on #4140
Opened a PR.  However, I think it's reasonable to ask why we don't have the equivalent of `submit-docker` for cloud backends.

[2018-01-12 22:15] SHuang-Broad commented on #4141
temp fix posted in #4146

[2018-01-12 22:29] lbergelson commented on #4140
@samuelklee What do you mean by "submit-docker"?  Do you want something baked into gatk-launch?

[2018-01-12 22:47] samuelklee commented on #4140
@lbergelson Sorry to be unclear---this isn't a GATK issue.  For Cromwell, you can configure various options for each backend.  For example, if you are running on a local backend with Docker, you can set a `submit-docker` attribute to specify the string that runs the Docker container; so to solve the above problem, you'd set this to include `--shm-size` and set it accordingly.  However, according t

[2018-01-12 23:44] samuelklee opened #4148 "Extra whitespace for NaN values in ModelSegments segment files."
Those who cannot remember the past are condemned to repeat it.  See https://github.com/broadinstitute/gatk-protected/issues/315 and one possible fix in https://github.com/broadinstitute/gatk-protected/pull/330.

[2018-01-13 00:23] #4140 closed

[2018-01-13 17:29] bbimber commented on #616
hi gatk team - i realize you have a lot of other issues and porting VariantEval isnt high on that, but I'm really hoping we can close this out.  We are thankful for the original offer of support by @droazen , but there's been no replies to this thread by GATK staff since then.  we have VariantEval essentially working on GATK4; however, I would really like to get the GATK3 test data used by Variant

[2018-01-13 20:57] samuelklee opened #4150 "Investigate normalization in denoising method in the ModelSegments pipeline."
Only performance optimizations were made to the copy-ratio denoising method in the ModelSegments pipeline, which is otherwise identical to that used in GATK CNV.  No special care is taken to preserve the normalization of the overall copy-ratio profile during the process.  This may become important in downstream tumor-heterogeneity inference; estimates of the ploidy may be otherwise biased.  We can

[2018-01-14 01:49] #4072 closed

[2018-01-14 01:50] davidbenjamin commented on #4138
Closed by #4132.

[2018-01-14 01:50] #4138 closed

[2018-01-14 01:51] davidbenjamin commented on #1754
Moot because @samuelklee replaced uses of `HashedListTargetCollection` with `OverlapDetector`.

[2018-01-14 01:51] #1754 closed

[2018-01-14 02:15] davidbenjamin opened #4151 "Wasteful MathUtils::sum methods"
`MathUtils.sum(double[] array, int start, int stop)` copies a subarray and then sums the copy.  There is no need to make a copy.

[2018-01-14 02:38] davidbenjamin commented on #2469
This has already been done at some point by the engine team.

[2018-01-14 02:38] #2469 closed

[2018-01-14 02:49] davidbenjamin commented on #2471
@droazen Can we close this?  AFAIK M2 and CNV were the only protected tools, since SVs were always in public.  Everything in the M2 pipeline is a walker, and @samuelklee has cleaned house with CNVs

[2018-01-14 03:37] davidbenjamin opened #4153 "Optimize overlap detection in ReadsSparkSource"
In `ReadsSparkSource` there are two places, lines 118 and 169, where for every read in an `RDD` we check for overlap with some `TraversalParameters`.  The `samRecordOverlaps` method that does this is done from scratch for every read.  It would be much more efficient to create an `OverlapDetector` from the `TraversalParameters` *once* and then repeatedly query it.

[2018-01-14 04:04] vdauwera commented on #2480
Would love to see this tackled in the near future if possible. We had a script that did this for the 3.x series, let me or @knoblett know if you're interested in seeing what we had set up for that.

[2018-01-14 19:12] samuelklee commented on #2471
Almost all of the CNV tools extend `CommandLineProgram` unless they are walkers or otherwise need to use `-L`.

[2018-01-15 02:01] davidbenjamin commented on #4126
Closed by #4128.

[2018-01-15 02:01] #4126 closed

[2018-01-15 02:06] davidbenjamin commented on #4017
Closed by #4048, after which all output file names are known before their task starts.

[2018-01-15 02:06] #4017 closed

[2018-01-15 09:16] avapirev opened #4155 "BUILD FAILED: Javadoc generation failed"
System specs - (RedHat, Java 1.8.0_144)
Clean git clone.

****************************************************************

gradlew --stacktrace
Creating GATK Python package archive...
:createPythonPackageArchive UP-TO-DATE
:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:gatkTabComplete
error: error reading /vsc-hard-mounts/leuven-user/304/vsc30484/.gradle/caches/modules-

[2018-01-15 11:08] Sun-shan opened #4156 "How can I debug the gatk4.0 code in intellij IDEA？"
How can I debug the gatk4.0 code in intellij IDEA？
Can I build the source code in intellij IDEA？

[2018-01-15 12:38] stefandiederich opened #4157 "How to interpret results from GermlineCNVCaller"
Hi,
I now managed to process my data with the following steps:
1. CollectFragmentCounts
2. DetermineGermlineContigPloidy
3. GermlineCNVCaller

From the GermlineCNVCaller tool I get a lot of files per sample. Unfortunately I can't find any description what the content of these files tells me and how I can interpret the data to see at which genomic coordinates my CNVs are. Do I need an other tool to

[2018-01-15 12:52] apeltzer opened #4158 "Loading Native Libraries causes segfault"
Hi!

I've created a container using Singularity and Alpine Linux 3.7, including all the mentioned dependencies for GATK 4.0.0.0 (JDK8, GCC, R, R-Dev, Python, libgomp) and tried running HaplotypeCaller on a sample of mine to test everything.

Unfortunately, it always breaks when running the steps with the JNI libraries. If I start running things on native Java (without the C++ libraries), things wo

[2018-01-15 19:29] chapmanb opened #4160 "GenomicsDBImport segfault on `std::string::compare` with paths longer than 105 characters"
Hi all;
When validation runs on the GATK 4.0.0 release (congrats!) we're running into segfault issues on some `GenomicsDBImport` runs which look to be due to the length of the database path:
[code]
Here is a self-contained test case that reproduces the issue:

https://s3.amazonaws.com/chapmanb/testcases/gatk/gatk4_genomicsdb_length.tar.gz

A standard small name and longer name of 105 characters wo

[2018-01-15 22:07] owensgl opened #4161 "GenotypeGVCF struggling at high sample size"
I'm trying to genotype 2388 whole genome samples of a wild species. This species has a large genome and lots of diversity. I've created my genomicsDB for my combined set and genotypeGVCF gets stuck when trying to make the VCF.
I've been giving it 120G of ram, 32 cores and 30 minutes and it only prints out the first variable 12 sites (corresponding to about 800bp of the genome) to the VCF . I under

[2018-01-16 02:43] nyl2002 commented on #4131
Are the errors below part of this, when starting BwaSpark with spark-submit?
I activated "--disable-sequence-dictionary-validation true", but that doesn't help.

It is very unclear, why a BAM is not recognized as a BAM file. I have tried all kinds of ways to make sure that it is a BAM and not a SAM file.
The documentation for BwaSpark also says "BAM/SAM/CRAM file containing reads", so if SAM files

[2018-01-16 04:52] davidbenjamin commented on #3764
+1

[2018-01-16 11:13] landesfeind opened #4162 "Malformed VCF for "AS_RAW_*" with "Number=1" after HaplotypeCaller"
Hi,
I ran into the following error when combining gVCF files generated by the HaplotypeCaller:

Similar number info was found for several allele-specific annotations:
[code]
I assume, the correct annotation should be "Number=A".

The gVCF files were generated with HaplotypeCaller using
[code]

GATK version 4.0.0.0 (downloaded from GATK website)

[2018-01-16 13:30] LeeTL1220 commented on #4142
Actually, the merge should be bidirectional.  Just do not let `mutect2.wdl` have the NIO changes.

[2018-01-16 14:05] cmnbroad commented on #4156
@Sun-shan You can clone this repo, and then follow [these](https://github.com/broadinstitute/gatk#creating-a-gatk-project-in-the-intellij-ide-last-tested-with-version-201624) instructions in the README.md to set up an IntelliJ project.

[2018-01-16 14:06] #4156 closed

[2018-01-16 14:16] samuelklee commented on #4157
Hi @stefandiederich,

Great that you were able to successfully run GermlineCNVCaller!  @asmirnov239 is currently working on a postprocessing tool that will convert the raw generated results into VCFs.  @mbabadi is also working on writing some more in-depth documentation on the tool and its probabilistic model.

For now, you may be able to parse the raw results on your own.  You are probably most i

[2018-01-16 15:15] ldgauthier commented on #4162
I take it you're using GenomicsDBImport to combine the GVCFs?  GenomicsDB doesn't support the allele-specific annotations just yet, but look for an update very soon: #3707  In the meantime, you can use CombineGVCFs in place of GenomicsDBImport if you need those allele-specific annotations.

[2018-01-16 15:39] samuelklee opened #4163 "Cloud tests are failing due to "Error while looking up reference set EOSsjdnTicvzwAE"."
Seems to be non-intermittent.

[2018-01-16 15:54] landesfeind commented on #4162
Thank you for the quick response! Yes, I used GenomicsDBImport and I have seen the issue you mentioned but did not relate to mine.

First, the description stated "allele-specific" so I expected "Number=A". Second (and regardless of the support by GenomicsDB) does the generated VCF still follow specification if "Number=1" and the data gives multiple values?
If you are aware of this and this is by d

[2018-01-16 16:20] droazen commented on #4160
@kgururaj Can you please have a look at this one?

[2018-01-16 16:22] droazen commented on #4158
@gspowley Could you and your team please have a look a this one?

[2018-01-16 16:24] dannykwells commented on #4017
Great, thanks!

[2018-01-16 16:45] droazen commented on #2471
I'd like to get to the point where most/all GATK tools extend `GATKTool` rather than `CommandLineProgram` directly, so I think we have to keep this one open.

[2018-01-16 16:49] lbergelson opened #4164 "create a homebrew formula for GATK"
It would be great if mac users could install GATK easily with homebrew.  We should put together a brew formula for it.

[2018-01-16 16:55] droazen commented on #4105
You're right @cmnbroad -- closing as dupe of https://github.com/broadinstitute/gatk/issues/3773

[2018-01-16 16:55] #4105 closed

[2018-01-16 16:58] droazen commented on #616
Apologies @bbimber -- your efforts to port this tool to GATK4 are much appreciated. Our team has been extremely busy with the lead up to the 4.0 release, which is why we haven't been as responsive lately. I'll have someone take a look at the test data in question to see if it can be publicly shared.

[2018-01-16 17:02] bbimber commented on #616
I fully understand, and realize this isnt a priority for the group.  Nonetheless, just getting the test data seems like it should be a simple thing if at all possible.  i dont know the full reasoning behind why the GATK3 test data are not public, but I have no need to share it beyond myself if that makes this easier.

[2018-01-16 17:03] droazen commented on #4136
@davidbenjamin Will you have time to do this one? The fix for this arg was merged without a test.

[2018-01-16 17:08] droazen commented on #616
@bbimber Unfortunately it's not so simple -- some of the GATK3 test data cannot be shared externally at all due to, eg., IRB restrictions. Someone will have to look at the test data in question to make sure that it can be shared. We'll update you once we've done this.

[2018-01-16 17:08] davidbenjamin commented on #4136
Yes, I will.

[2018-01-16 17:09] davidbenjamin commented on #2471
Okay, fair enough!

[2018-01-16 17:14] bbimber commented on #616
Ok, glad this is not the case in GATK4. I tried to list the files I think I ideally need above. VCFs are unfortunately probably the most likely category of file to run into IRB concerns.

[2018-01-16 17:16] droazen commented on #616
Yes, with GATK4 we made the decision early on that all test data must be publicly-shareable and checked into the repo. This has often meant that when we port a tool from GATK3 to GATK4, we need to rewrite the tests to use different test data.

[2018-01-16 17:21] bbimber commented on #616
Yeah, I expect to need to rewrite tests for the final port. Thanks for any help on the validation data.

[2018-01-16 17:26] samuelklee commented on #2471
What the rules for when a tool is allowed to be a `CommandLineProgram`?  Most of the CNV tools extend `CommandLineProgram` rather than `GATKTool` for various reasons, including: 1) they use sequence-dictionary input in a way that requires custom argument documentation, 2) they use `-I` to specify non-BAM/SAM/CRAM input, and 3) they don't really make use of the argument collections available in `GA

[2018-01-16 17:33] droazen commented on #2471
@samuelklee If there are CNV tools that can't comfortably extend `GATKTool` as things stand now, then I think that we should adjust `GATKTool` to be more flexible until they can do so. This would help with certain long-term goals that the engine team has (such as all tools supporting NIO for all inputs, consistent sequence dictionary validation, etc.)

[2018-01-16 17:37] lbergelson commented on #4163
As far as I can tell, they've just turned off the entire genomics api.  I'm going to disable these tests immediately and then wait until I hear back from google to decide what to do in the future.

There's a support ticket [here](https://enterprise.google.com/supportcenter/managecases#Case/0016000000MNGDy/U-14725661).

[2018-01-16 17:43] samuelklee commented on #2471
Those are reasonable goals.  Let's discuss more---perhaps if any other teams have "feature requests" for `GATKTool`, they can also chime in on this issue.

[2018-01-16 17:45] owensgl commented on #4161
I think I've fixed my own problem by turning on the new qual calculator (--use-new-qual-calculator). It now outputs variants at a reasonable, if slow, speed.

[2018-01-16 17:45] #4161 closed

[2018-01-16 17:45] droazen commented on #2471
Great -- and as part of this effort, we can fix any pain points you guys have like the `--interval-merging-rule` issue you mentioned above.

[2018-01-16 18:02] droazen opened #4165 "Allow barclay list auto-expansion to be disabled using an @Argument attribute, disable it for -L in GATK , and add back .list as an acceptable extension for list files"
* Allow barclay list auto-expansion to be disabled using an @Argument attribute
* Disable it for -L in GATK
* Add back `.list` as an acceptable extension for list files (but keep the current extension `.args` as well)

[2018-01-16 18:04] lbergelson commented on #4165
I'm not a fan of the additional `@Argument` parameter.  If we have to have one can it modify the accepted extensions instead of being a boolean?

[2018-01-16 18:06] ldgauthier commented on #616
@droazen Those data are fine to share.  The resources/VariantsEval/*.vcf are all either anonymized or (public) 1000G samples.  @bbimber since we now include all the test data in the repo, we restrict ourselves to chromosomes 19 and 20 (there should already be a chromosome 19 and 20 reference fasta in the repo and probably the dbsnp too).  Most of the files use just variants from 20, but MendelianV

[2018-01-16 18:08] ldgauthier commented on #4162
I am aware and it is by design.  The raw data for the allele-specific annotations can be lists of lists (e.g. AS_SB_table), but the VCF spec doesn't support that.  As such, I chose to declare all the raw data to be strings and let the GATK code have the responsibility of parsing.

[2018-01-16 18:09] droazen commented on #616
@ldgauthier Great, thanks for checking.

It's actually chromosomes 20 and 21 that we typically restrict ourselves too, by the way. The complete reference sequences for them for both b37 and hg38 are in `src/test/resources/large`

[2018-01-16 18:11] droazen commented on #616
Any test data larger than about 1-2 MB we typically put into `src/test/resources/large` and check into git lfs, by the way (see https://github.com/broadinstitute/gatk#lfs for setup/usage instructions)

[2018-01-16 18:14] lbergelson commented on #4161
@owensgl Sorry you're running into problems.  We typically speed up the process by running multiple GenotypeGVCF processes in parallel, subsetting by genomic intervals.  GenotypeGVCFs isn't really multicore, you'll probably be best off giving each process 1 or 2 cores. (You'll see better performance with 2 since java has parallel garbage collection, but it might be more cost effective to run twice

[2018-01-16 18:14] droazen commented on #4165
@lbergelson As discussed earlier today, that would be more awkward than the simple boolean toggle  in the case of `-L`, since you really don't want to specify an alternate extension in that case, you just want to turn the expansion off completely.

[2018-01-16 18:15] lbergelson commented on #4165
You could specify no extension.  Or `.args`, in the case you wanted to provide a file of files or something like that.

[2018-01-16 18:16] droazen commented on #4165
@lbergelson Allowing the actual extension to vary per-argument seems WAY more confusing than just allowing certain arguments to not support list expansion.

[2018-01-16 18:18] lbergelson commented on #4165
If you're going to have a crazy hack you should go all in on the crazy!

[2018-01-16 18:20] lbergelson commented on #4130
I think uploading the logs to a bucket like we do with the test outputs is a good idea.  There's an example of how to do it in the after_script block of the .travis.yml.

[2018-01-16 18:21] davidbenjamin commented on #4153
BTW, this is low-priority because the logic is only invoked for *SAM* files, not *BAM*s.

[2018-01-16 18:25] lbergelson opened #4166 "remove code supporting google Read and Reference API"
Google is deprecating and removing their implementation of the old style GA4GH read and reference API's.

Accordingly, we should remove our code that uses them.  Unfortunately, this means we'll only have a single implementation of `GATKRead` which is unfortunate.

[2018-01-16 18:25] cmnbroad commented on #4165
I think I'm inclined towards just the simple toggle.

[2018-01-16 18:26] lbergelson commented on #4163
opening #4166 to track the resolution of this

[2018-01-16 18:27] droazen commented on #4165
Simple toggle wins the day, by a vote of 2-1  :)

[2018-01-16 18:33] owensgl commented on #4161
Thanks for the advice. With this dataset, we see variants at about every second basepair on average and around 10-20% of the sites are multi-allelic. There aren't very many sites with >3 alleles, although there are a few. I'll look into seeing if I can upload a subset of the data. Is it possible to send a tarballed genomicsDB directory?

[2018-01-16 18:38] droazen commented on #4033
@cmnbroad This one is done, right?

[2018-01-16 18:47] droazen commented on #3815
This was done

[2018-01-16 18:47] #3815 closed

[2018-01-16 18:48] droazen commented on #3814
We fixed this

[2018-01-16 18:48] #3814 closed

[2018-01-16 18:49] droazen commented on #3788
This was fixed

[2018-01-16 18:49] #3788 closed

[2018-01-16 18:51] droazen commented on #3736
@chapmanb Is this still a problem for you in the 4.0 release?

[2018-01-16 18:52] lbergelson commented on #4161
It should be possible if it was created with the version of GenomicsDB that's packaged with the 4.0 version of gatk. If it was created with an earlier version, you'll need to include the exact full path that the genomicsDB was stored in and I'll need to recreate that exactly on my system, which is obviously a gross.

[2018-01-16 18:53] droazen commented on #3698
This was done -- we implemented `StreamingPythonScriptExecutor`

[2018-01-16 18:53] #3698 closed

[2018-01-16 18:56] droazen commented on #3692
@cmnbroad Can this one be closed?

[2018-01-16 18:57] droazen commented on #3626
This is done.

[2018-01-16 18:57] #3626 closed

[2018-01-16 18:58] droazen commented on #3625
@davidbenjamin Would you be able to do this one, since it mainly affects the M2 WDL?

[2018-01-16 18:59] sooheelee commented on #3137
We've taken a stab at this with the tooldoc updates. There may be things to change going forward, but we can deal with them as they come.

[2018-01-16 18:59] #3137 closed

[2018-01-16 18:59] droazen commented on #3555
We fixed this.

[2018-01-16 18:59] #3555 closed

[2018-01-16 19:00] cmnbroad commented on #3692
Closed via https://github.com/broadinstitute/gatk/pull/3912.

[2018-01-16 19:00] #3692 closed

[2018-01-16 19:01] droazen commented on #3040
We added `ExperimentalFeature`, which is sufficient for now -- closing.

[2018-01-16 19:01] #3040 closed

[2018-01-16 19:03] cmnbroad commented on #4033
Closed via https://github.com/broadinstitute/gatk/pull/4070.

[2018-01-16 19:03] #4033 closed

[2018-01-16 19:03] droazen commented on #3081
@jonn-smith did this!

[2018-01-16 19:03] #3081 closed

[2018-01-16 19:05] droazen commented on #2598
We did this, as best we could.

[2018-01-16 19:05] #2598 closed

[2018-01-16 19:06] droazen commented on #2597
Done

[2018-01-16 19:06] #2597 closed

[2018-01-16 19:09] droazen commented on #2596
We did this -- closing

[2018-01-16 19:09] #2596 closed

[2018-01-16 19:10] droazen commented on #2536
I think we addressed this by throwing if the GenomicsDB target directory already exists -- closing.

[2018-01-16 19:10] #2536 closed

[2018-01-16 19:12] droazen commented on #2368
This epic is complete -- we just need to move additional settings into Owner, which is a separate ticket.

[2018-01-16 19:12] #2368 closed

[2018-01-16 19:14] droazen commented on #2139
This is now configurable via Owner -- closing.

[2018-01-16 19:14] #2139 closed

[2018-01-16 19:15] droazen commented on #2037
I believe this was fixed by https://github.com/broadinstitute/gatk/pull/4044 -- @cwhelan or @tedsharpe can you please confirm?

[2018-01-16 19:17] droazen commented on #1438
This is done well enough for hg38 purposes -- we can open a separate ticket if we want to go further with a quoting mechanism.

[2018-01-16 19:17] #1438 closed

[2018-01-16 19:18] droazen commented on #1669
This is done -- closing.

[2018-01-16 19:18] #1669 closed

[2018-01-16 19:18] jonn-smith commented on #3919
On second thought, just having a map-style interface to a `Funcotation` is probably sufficient.

[2018-01-16 19:19] chapmanb commented on #3736
Thanks for checking in on this. 4.0 still has the same segfault issue with the real samples and this test case. The test case just needs a little light editing to swap over to your new command line parameters but otherwise should reproduce the issue. Let me know if I can provide anything else that would be helpful and thanks again for looking at it.

[2018-01-16 19:19] droazen commented on #2298
This is done -- closing.

[2018-01-16 19:19] #2298 closed

[2018-01-16 19:20] droazen opened #4168 "Implement additional dataproc-based tests on travis"
For inputs other than reads

[2018-01-16 19:23] chandrans opened #4169 "One user reports HaplotypeCaller 4.0 performance is slower than beta 2"
User says beta 2 is much faster than release.

----
User Report
----
Hi @Geraldine_VdAuwera , thanks for the quick response!

We used CCLE WES FASTQs for the purpose of testing (6GB per paired end). We scattered the tool using a custom BED file with 86 intervals.

4.0.0.0 failed due to memory with 2GB per job. It completed with 4GB per job. Each job lasted approximately 1h 10 min. 4.beta.2 complet

[2018-01-16 19:24] davidbenjamin commented on #3625
@droazen Yes, with pleasure.

[2018-01-16 19:25] droazen commented on #1904
This is done -- closing.

[2018-01-16 19:25] #1904 closed

[2018-01-16 19:31] droazen commented on #2794
Done

[2018-01-16 19:31] #2794 closed

[2018-01-16 19:33] droazen commented on #964
From @sooheelee:

[code]

[2018-01-16 19:33] droazen commented on #964
Closing as done

[2018-01-16 19:33] #964 closed

[2018-01-16 19:38] droazen commented on #4169
This user is going to have to give us a runnable test case to reproduce this, as our own profiling shows that the 4.0 version of `HaplotypeCaller` is much faster than the betas. You should also ask the user to try running with GATK3 and report the timing.

[2018-01-16 19:39] gspowley commented on #4158
The segfault happens in `libgomp`:
[code]
Here's similar issue, which also used Alpine Linux: https://github.com/bytedeco/javacv/issues/716. The resolution was to move to a different Linux distro.

@apeltzer, assuming you want to use Alpine, please try running without `libgomp` installed. This will provide single-threaded AVX PairHMM, which will be faster than the Java PairHMM.

[2018-01-16 19:42] droazen commented on #4169
@chandrans I'd also mention to the user that the `4.beta.2` version of `HaplotypeCaller` does NOT give correct output at all, while the `4.0` version gives output that is almost identical to GATK3. So the right question to ask is whether `4.0` is faster than `3.x`, not whether it's faster than the early beta `4.beta.2`, which was not even a complete version of the tool.

[2018-01-16 19:45] apeltzer commented on #4158
I'll test and let you know asap. Thanks for the hint!

[2018-01-16 19:58] samuelklee commented on #2881
We can also investigate the impact of using the common-sites list generated in #4069 vs. the one we are running now.

[2018-01-16 20:12] davidbenjamin commented on #4153
@tomwhite I'm confused by the following code in `samRecordOverlaps`:

[code]
If a record is unmapped (which necessarily implies that `getContig()` returns `null`), it checks whether its assigned start lies between the start and end of any interval in `traversalParameters` *regardless of that interval's contig*.

[2018-01-16 20:13] #4157 closed

[2018-01-16 20:17] lbergelson commented on #4163
Google claims this should be re-enabled for our broad-dsde-dev project specifically now.  I'm unable to confirm because travis seems to be having trouble.

[2018-01-16 20:22] nyl2002 commented on #2881
For germline CNV:
It would be interesting to know which details (e.g. read group tags such as platform, model or also average insert size) are important for choosing additional Fastq/BAM files for creating a Panel of Normals (PON), when one does not have access to a batch.

Which results from the GATK quality metrics would be most useful for choosing such datasets?

I'm thinking especially about e

[2018-01-16 20:26] tedsharpe commented on #2037
@droazen @cwhelan Yes, it appears to be fixed.  (Don't have a failing test that I can run on the old behavior, but a quick test of the latest code in master appears to have repaired the flaw.)

[2018-01-16 20:26] #2037 closed

[2018-01-16 20:29] samuelklee commented on #2881
Thanks for your input, @nyl2002!  We do have some plans to investigate clustering on metrics to determine cohorts for PoN building.  @ldgauthier @yfarjoun I'll open a new issue.

[2018-01-16 20:29] samuelklee opened #4170 "Investigate clustering on metrics for determining cohorts for CNV PoN building."

[2018-01-16 20:31] #2994 closed

[2018-01-16 20:39] mbabadi commented on #2929
@samuelklee I am inclined toward dropping all nd4j-related things. Given that we have access to tf, theano and numpy, I personally do not intend to do any heavy lifting in Java in the foreseeable future. Feel free to clean up and issue PR.

[2018-01-16 20:46] samuelklee opened #4172 "Clean up old gCNV utilities and nd4j-related code."

[2018-01-16 20:52] mbabadi opened #4173 "Automatic determination of initial temperature for DA-ADVI based on coverage depth"
The initial annealing temperature must be set according to the typical scale of log emission probabilities for each sample. Otherwise, over-/under- heating issues will occur and worse results could be obtained.

[2018-01-16 21:00] droazen commented on #3736
@kgururaj Can you have a look at this one as well?

[2018-01-16 21:13] samuelklee opened #4174 "Restore ability to make single-sample ModelSegments PoN."
Added some exception throwing that removed this ability at some point in development.  Just need to make the following change:

    if ((singularValues.length == 0 || Arrays.stream(singularValues).noneMatch(s -> s > EPSILON)) && numPanelSamples > 1) {
        throw new UserException(String.format("No non-zero singular values were found.  It may be necessary to use stricter parameters for filtering

[2018-01-16 21:43] lbergelson commented on #4163
The tests are still failing on my machine.

[2018-01-16 21:54] droazen commented on #4163
Let's just disable them for now.

[2018-01-16 22:01] chandrans commented on #4169
Okay, will do. Thanks David.

[2018-01-16 22:07] #3933 closed

[2018-01-16 22:14] lbergelson opened #4177 "add AxVE to AUTHORS list"
@AxVE Since you've just had your first pull request merged, we'd like to add you to the [AUTHORS](https://github.com/broadinstitute/gatk/blob/master/AUTHORS) file.  How would you like to be listed?

We typically list individuals as

Your Name <Your.email>

[2018-01-17 09:58] magicDGS commented on #2471
@droazen - a proposal for that, which will be great for my toolkit too, is to make `GATKTool` params an argument collection which defaults to the ones in the tool now, but can be change in a tool-basis.

For example, if I have a `VariantWalker` which does not use any read-source, disabling all params for reads will be nice for re-use the `VariantWalker` interface without allowing the user to pass

[2018-01-17 10:06] lelqz opened #4179 "BwaAndMarkDuplicatesPipelineSpark crash"
my pipeline(from fastq ) is 👍

1.  FastqToSam

2. ConvertHeaderlessHadoopBamShardToBam

3. BwaAndMarkDuplicatesPipelineSpark

......

but in the step 3 （BwaAndMarkDuplicatesPipelineSpark），the pipeline crash
[code]

[2018-01-17 10:37] magicDGS commented on #4166
@lbergelson - regarding the single implementation of `GATKRead`, I would like to maintain the interface because I have some custom implementations. Although if it is true that HTSJDK will move to a version 3 based on interfaces, I can change my code to use the HTSJDK interfaces instead.

[2018-01-17 10:45] magicDGS commented on #4165
I am sorry to change to a draw (2-2), but I'm in favor of even more flexibility in Barclay to allow users to change the extension(s) in a per-argument basis.

[2018-01-17 11:20] magicDGS opened #4180 "Request: fine-grained configuration for codec packages for downstream projects"
The packages for codecs is a key feature for downstream tools implementing new codecs for other formats or to include overrides of codecs already included. Nevertheless, the current implementation (at version 4.0.0.0) the only way of configuring this is at the package level using the `codec_packages` configuration.

I request support for the following fine-grained configuration:

* Add/Remove conc

[2018-01-17 13:49] #4134 closed

[2018-01-17 14:13] davidbenjamin opened #4182 "Duplicate composeGivenHaplotypes methods"
`composeGivenHaplotypes` in `GenotypingGivenAllelesUtils` is an *exact* duplicate of the same method in `ReadThreadingAssembler` and is never invoked in the GATK.  It can be deleted.

[2018-01-17 14:33] droazen commented on #2471
@magicDGS Yes, I agree that there is a need for clients of `GATKTool` to be able to selectively disable arguments/inputs -- that is definitely an ability we'll add as part of this ticket.

[2018-01-17 14:45] droazen commented on #4166
@magicDGS We will definitely be keeping the `GATKRead` interface around for the foreseeable future. When the HTSJDK 3.0 interfaces materialize we'll re-evaluate, but it's possible that we would continue to code against `GATKRead` even then, as our `SAMRecord` -> `GATKRead` adapter layer does some useful caching, and having our own interface has certain advantages (as well as disadvantages).

[2018-01-17 14:49] droazen commented on #4179
@lelqz Why are you running `ConvertHeaderlessHadoopBamShardToBam`? This is a diagnostic tool meant for debugging Spark pipelines, and should not be part of your pipeline proper! It is likely corrupting your BAM file.

[2018-01-17 14:50] samuelklee commented on #2471
Another issue that I remember running into is that some of the fields are package-private.  I think this is by design, but it does add some additional restrictions.

[2018-01-17 15:07] droazen commented on #2471
If the encapsulation of the datasources is causing issues for tools that extend `GATKTool` directly, we can relax it -- it was intended to prevent walker authors from directly manipulating the datasources used for the traversal, but it may be doing more harm than good at this point.

[2018-01-17 15:09] #3310 closed

[2018-01-17 15:09] #3311 closed

[2018-01-17 15:09] #4151 closed

[2018-01-17 15:26] #4148 closed

[2018-01-17 15:26] ldgauthier opened #4184 "IndexFeatureFile can't index .vcf.gz using ProgressReportingDelegatingCodec"
When trying to index a gzipped VCF at `/humgen/gsa-hpprojects/dev/gauthier/reblockGVCF/hybrid.m38.vcf.gz`I get the error `A USER ERROR has occurred: This tool does not supports indexing of block-compressed files for ProgressReportingDelegatingCodec`

Indexing this file with tabix is speedy and successful.

[2018-01-17 15:31] #4163 closed

[2018-01-17 15:35] #3919 closed

[2018-01-17 15:53] svedziok opened #4185 "SparkGenomeReadCounts"
Hello,
I am missing the SparkGenomeReadCounts tool in the new release which was included in the beta. Will it be included again soon? What was the reason for removing it? Is there an alternative tool in the new release?

Best
ST

[2018-01-17 15:58] droazen commented on #4184
Running `gatk IndexFeatureFile` with `--java-options '-DGATK_STACKTRACE_ON_USER_EXCEPTION=true'` reveals that the underlying error is:

[code]

Can you check whether the VCF is malformed at this location, as the error claims?

[2018-01-17 16:03] droazen commented on #4184
More specifically, the locus in question is chr1:248752514 with ref == M and alt == C

[2018-01-17 16:08] droazen commented on #4184
Since the VCF in question is malformed, the task here becomes "make IndexFeatureFile throw a more informative error message when the file being indexed is malformed"

[2018-01-17 16:26] lbergelson opened #4186 "get rid of ADAMSparkRegistrator spam"
[code]

Appears hundreds of times in the log output since we upgraded ADAM.  This is despite the fact that we're not using spark 1.  Maybe there's a way to silence a specific logger?

[2018-01-17 16:31] lbergelson commented on #4186
I've been told that this is solvable by bumping the dataproc version from 1.1 -> 1.2.  We need to update this on jenkins assuming it works fine with spark 2.2.

[2018-01-17 16:35] #4133 closed

[2018-01-17 16:35] #4135 closed

[2018-01-17 16:39] lbergelson commented on #4076
this is done, jenkins tests are back up and running

[2018-01-17 16:39] #4076 closed

[2018-01-17 16:41] lbergelson commented on #3686
I'm closing this because I think it's resolved.  @Sun-shan Feel free to reopen if it's not.

[2018-01-17 16:41] #3686 closed

[2018-01-17 16:43] droazen commented on #4185
This tool was part of the legacy CNV pipeline that was deleted in https://github.com/broadinstitute/gatk/pull/3935. @samuelklee can point you to the appropriate replacement tool.

[2018-01-17 16:44] lbergelson commented on #4131
@nyl2002 What's your command line that's hitting problems?  Are you trying to run BWA-MEM spark on a SAM file or on a BAM file?

I agree that we should change documentation and produce a better error message if it's failing on SAM files.

[2018-01-17 16:47] samuelklee commented on #4185
@svedziok The new CNV pipelines use the tool CollectFragmentCounts to collect coverage for both WES and WGS analysis.  You should first use the tool PreprocessIntervals to specify padding (for WES) or bin size (for WGS) to create bins over which coverage will be collected.

More generally, you can see how the tools are used in the CNV pipelines by studying the WDLs in scripts/cnv_wdl.

[2018-01-17 16:47] #4185 closed

[2018-01-17 17:04] lbergelson commented on #4186
It might still be worth silencing this for people who are running spark 2.0.0 which is what we are doing on jenkins.  (and what we officially support in our build.gradle).  Ultimately we need to upgrade to spark 2.2.x  #2555

[2018-01-17 17:27] droazen commented on #4179
Running `ConvertHeaderlessHadoopBamShardToBam` on anything other than an intermediate Hadoop-BAM shard will absolutely corrupt the file.

[2018-01-17 18:47] sooheelee opened #4188 "M2 WDL script wishlist"
For @davidbenjamin. I've been asked to take the user-perspective and report things I'd want to make our WDL scripts more extensible. So here goes.

<img width="824" alt="screenshot 2018-01-17 13 22 27" src="https://user-images.githubusercontent.com/11543866/35060379-501cb8c8-fb8c-11e7-845e-a146fc2ced94.png">

## Major wants
- The is_bamout Boolian appears to be hardcoded to `false` in the script.

[2018-01-17 19:06] samuelklee commented on #4188
Would appreciate similar insights on the CNV WDLs when you get a chance, @sooheelee!  Just one minor comment for @davidbenjamin: I think we agreed to remove the CNV JSON templates from the repo at some point, any reason why we can't do the same for the M2 template?  These templates don't buy you anything over just using `wdltools inputs`, but have the drawback of having to be kept up to date.

[2018-01-17 19:25] SHuang-Broad opened #4189 "moving towards comprehensive view on SV evidence for inference"
now that we have the logic updated for per-assembly-contig view when it comes to SV type and breakpoint location inference, the next step is to take the comprehensive view, that is

* inter-contig view, i.e. mappings of other contigs nearby a potential breakpoint when inferring types
* depth/coverage information
* evidence target links, i.e pair and split read information

To illustrate: consider

[2018-01-17 19:26] #4184 closed

[2018-01-17 20:13] sooheelee commented on #4188
Sure thing @samuelklee.

As for the JSON template, it helps me understand what the script requires, without going through the script itself.

One more thing to add to the general list of wants in any WDL script. This comes from @knoblett. Every GATK/Picard tool run should allow for optional string type args.

[2018-01-17 20:23] bbimber commented on #616
OK, got lfs working.  I understand the reasoning for limiting to 20-21 and will do this when i rewrite the GATK3 tests in the port.  However, for the purpose of verifying consistent behavior of this ported tool would be great to use the same resources as GATK3.  Since it seems like this is shareable, would it still be possible to get the full genome versions of:

/humgen/1kg/reference/human_g1k_v3

[2018-01-17 20:41] samuelklee commented on #4188
Right @sooheelee, the template is certainly useful for that, but can just as easily be generated using `wdltool inputs`.  Whatever you and @davidbenjamin decide, let me know if I should add the CNV templates back to be consistent.  (But again, my vote is for removing the M2 template!)

@LeeTL1220 can add whatever we decide about optional string type args to the style guide, but I'd prefer for this

[2018-01-17 20:46] droazen commented on #617
@vdauwera has requested that this be re-prioritized in the medium-term future.

[2018-01-17 20:49] LeeTL1220 commented on #2480
Please use the template in the WDL GATK repo doc that was shared.  Or we can modify that template.  I'd like the document to match what is generated automatically.  The template in that document includes optimizations and is quite portable.

[2018-01-17 20:55] davidbenjamin commented on #3506
Closed by #3509.

[2018-01-17 20:55] #3506 closed

[2018-01-17 20:57] davidbenjamin commented on #3955
Closed by #3966.

[2018-01-17 20:57] #3955 closed

[2018-01-17 21:01] jjfarrell commented on #3845
I am getting this error with HaplotypeCaller 4.0.0.0. Was this bug fix released in that version? Otherwise there is more work to do.

I recently reported the error in the GATK Forum....
https://gatkforums.broadinstitute.org/gatk/discussion/11207/gatk-4-0-0-0-haplotypecaller-error-with-l-chrm#latest

[2018-01-17 21:09] lbergelson commented on #3845
@jjfarrell Yes, the fix was included in 4.0.0.0, if you're still encountering the problem then the fix must be incomplete.  Would it be possible to provide a test case that triggers the bug in 4.0.0.0?

[2018-01-17 22:38] sooheelee commented on #4188
I just noticed the script doesn't run CollectSequencingArtifactMetrics nor GetPileupSummaries on the matched normal. Just curious if you have plans to incorporate these additions given a matched normal.

[2018-01-17 22:46] cmnbroad commented on #4165
I suggest we start with just the toggle, since we have an immediate need for that, and leave finer-grained control to the more general customization/delegation mechanism we've started in other PRs, and so clearly need.

[2018-01-17 23:13] davidbenjamin commented on #4188
I'm about to fix this in a PR.

The same PR is also going to call Picard from the gatk.

I agree with @samuelklee about the template.

I should definitely use the normal for contamination.  @sooheelee What's the case for CollectSequencingArtifactMetrics on the normal?

[2018-01-17 23:35] samuelklee opened #4194 "Intermittent "Connection reset by peer" during pip install on Travis."
Seems to occur relatively frequently.  Possibly related to https://github.com/travis-ci/travis-ci/issues/2389?

See e.g. https://travis-ci.org/broadinstitute/gatk/jobs/329575870 and https://travis-ci.org/broadinstitute/gatk/jobs/330074826

[2018-01-17 23:46] vdauwera commented on #4188
My $0.02:

1. In general it's ok with me to not provide a template for WDLs in the GATK repo as long as you guys help us (ie @bshifaw) produce appropriate templates to include in the gatk-workflows repo and in FireCloud.

2. Re: Picard tools, going forward they should be invoked from the GATK jar by default. Among other benefits, that will reduce support entropy wrt possible combination of version

[2018-01-18 00:32] SHuang-Broad commented on #4141
closed by #4159

[2018-01-18 00:32] #4141 closed

[2018-01-18 00:40] samuelklee commented on #4194
I'm also seeing this more often during the Docker build, not sure if it is related:

[code]

[2018-01-18 02:23] jjfarrell commented on #3845
I uploaded a slice of a cram file with a script that triggers the error.
The name of the file is issue.3845.tar.gz

On Wed, Jan 17, 2018 at 4:09 PM, Louis Bergelson <notifications@github.com>
wrote:

--
John Farrell, Ph.D.
Biomedical Genetics-Evans 218
Boston University Medical School
72 East Concord Street
Boston, MA

ph: 617-638-5491

[2018-01-18 06:13] svedziok commented on #4185
Hi, thanks for answers. Do you plan to provide a spark version too? SparkGenomeReadCounts ran much faster for large BAM files. And is it possible to deactivate the filtering steps in CollectFragmentCounts somehow? If I ran without filter, it ignores lots of reads... which seems to be odd

[2018-01-18 09:44] AxVE commented on #4177
@lbergelson Thank you.

`Axel Verdier axel.verdier@inra.fr`  should be fine ^^

[2018-01-18 09:53] ThomasHickman opened #4196 "Correct type for GenomicsDBImport intervals parameter in the documentation"
The current documentation states that the type of the intervals parameter in the GenomicsDBImport
 tool is `List[String]` whereas this tool can only take one interval (as explained in the Caveats section) at https://software.broadinstitute.org/gatk/documentation/tooldocs/4.0.0.0/org_broadinstitute_hellbender_tools_genomicsdb_GenomicsDBImport.php#--intervals. The type should be updated to be just a

[2018-01-18 10:37] lelqz commented on #4179
I use gatk 4.0.0.0.
I don't think the crashing caused by running ConvertHeaderlessHadoopBamShardToBam .Beause I try the test with unalign Header-Bam file by picard tools , the BwaAndMarkDuplicatesPipelineSpark crashing  is still

[2018-01-18 10:41] chapmanb opened #4197 "HaplotypeCallerSpark outputs plain text instead of bgzipped VCFs when no variants present"
@tomwhite and @lbergelson
I've been testing the 4.0.0.0 release with the bgzip output fix for HaplotypeCallerSpark (#3725). Thanks again for the work on that bug. I'm now hitting a similar issue with empty output VCFs. It will correctly output bgzipped VCFs when there are variants in the region, but if we call in a region with no variants we end up with plain text output.

Here is a self contained

[2018-01-18 13:08] cmnbroad commented on #4194
We should probably keep an eye on this, but it seemed like there were lots of intermittent connectivity issues with travis yesterday. It looks a little better this morning, but probably too soon to draw any conclusions.

[2018-01-18 14:21] samuelklee commented on #4185
We decided to replace SparkGenomeReadCounts with a relatively simple ReadWalker to avoid various bugs we were running into (some of which were due to Hadoop-BAM).  We found that these bugs gave rise to a relatively high failure rate---roughly 1 in 50 TCGA BAMs.

Like any ReadWalker, you can specify custom read filters using GATK engine arguments such as `--disable-default-read-filters` and `--read

[2018-01-18 14:36] samuelklee opened #4198 "Spark version of CollectReadCounts."
See #4185.

[2018-01-18 14:37] samuelklee opened #4199 "Spark version of CollectAllelicCounts."
I think @LeeTL1220 already has a branch.

[2018-01-18 14:50] LeeTL1220 commented on #4199
I do, but see #3823  , which is holding up the merge

[2018-01-18 14:50] sooheelee commented on #4188
@davidbenjamin, the case for CollectSequencingArtifactMetrics on the normal is not strong and I agree it doesn't have to be a part of the M2 workflow.

I just like to have a control and I can do this separately for the tutorial. Presumably, the normal and tumor samples were prepped together. Given this, my expectation is that the tumor and normal show similar sequencing artifacts. Any deviations f

[2018-01-18 15:17] davidbenjamin commented on #2948
This is now an unsupported wdl and it's in good enough shape for our purposes.

[2018-01-18 15:17] #2948 closed

[2018-01-18 15:22] PedroBarbosa opened #4200 "GATK4 - CollectHsMetrics doubts regarding the PCT_EXC_OFF_TARGET metrics"
Hello,

I'm using the GATK4 docker image to evaluate the efficiency of my targeted experiment. After googling around, I realize that CollectHsMetrics is the tool to use from now on (correct me if i'm wrong). The old DepthOfCoverage, CalculateTargetCoverage, CalculateHsMetrics are not available anymore, so I'm trying to implement this utility in our pipeline.

Given the fact I'm providing the same

[2018-01-18 15:43] droazen commented on #4196
This is something we can't easily fix, unfortunately. The interval argument is a shared argument across the entire toolkit, and most tools accept multiple intervals. It's just this one particular tool that only accepts one interval (for now).

The ultimate solution to this issue will be https://github.com/broadinstitute/gatk/issues/3269

[2018-01-18 15:43] #4196 closed

[2018-01-18 16:17] TimothyStiles commented on #4164
It looks like at one point GATK 3.8 was available via the homebrew science tap. I've tried adding their formula to my homebrew formula folder and installing via ``` brew install gatk.rb``` but there's a ton of errors.

[code]

[2018-01-18 16:18] TimothyStiles commented on #4164
Is there a tar ball for the latest version of gatk?

[2018-01-18 16:54] davidbenjamin commented on #3296
Looks like we've fixed this.

[2018-01-18 16:54] #3296 closed

[2018-01-18 17:10] droazen commented on #3845
Thanks @jjfarrell -- I've replicated the issue, and am working on a patch now.

[2018-01-18 18:25] jonn-smith opened #4202 "Create a tool to extract a sub-sequence from a given fasta file."
We should have a tool that takes in a FASTA file and an interval and creates another FASTA file that contains only the bases in that interval.

This new FASTA file should be automatically indexed and a dictionary should be created for it.

[2018-01-18 18:37] davidbenjamin commented on #3184
@yfarjoun I'm not understanding...  If we're on the reverse strand, then we reach the adaptor at the 5' end of the forward strand i.e. at one `getMateStart() + 1`, which is what the code does now.  If we're on the forward strand the equivalent logic would be `getMateEnd() + 1`, but no such method exists, so we use `read.getStart() + abs(read.getFragmentLength())`.  Why is this not equivalent?

[2018-01-18 18:39] davidbenjamin commented on #3148
@takutosato did this.

[2018-01-18 18:39] #3148 closed

[2018-01-18 18:40] #4172 closed

[2018-01-18 19:18] droazen opened #4204 "Audit ReadClipper code (and clients) to make sure that it can handle empty reads"
There are two differences in GATK4 relative to GATK3 that are causing bugs in the read clipping code (see #3466 and #3845):

* `GATKRead` does not allow you to set mapped reads to a negative start position or a null contig, whereas the GATK3 clipping code allowed reads to enter such states.

* We return a `ReadUtils.emptyRead()` when we completely clip away a read, as opposed to (eg.,) a read with

[2018-01-18 19:19] droazen commented on #3845
Patch is up at https://github.com/broadinstitute/gatk/pull/4203

[2018-01-18 19:58] yfarjoun commented on #3184
getFragmentLength is not well defined (unfortinately) there are two definition that are being used...one in the sam-spec, and one in Heng's code....

if the reads include a MC tag, I'd use that and call htsjdk htsjdk.samtools.SAMUtils#getMateAlignmentEnd

if not, I guess we can use fragment length, but I'd put out a warning that it woudl work better if MC was present.

[2018-01-18 20:15] #3845 closed

[2018-01-18 20:16] davidbenjamin commented on #3184
@yfarjoun Just to be clear, are you saying that `getMateAlignmentEnd() + 1` is ideal for forward strand reads but `read.getStart() + abs(read.getFragmentLength())` will have to do if the `MC` tag is missing, and that we can leave it as `getMateStart() + 1` for reverse strand reads?

@droazen A priori I would expect the additional cost of parsing each read's mate CIGAR to be negligible compared to

[2018-01-18 20:49] droazen commented on #3184
@davidbenjamin I feel like we need to put good, continuous *performance* regression tests in place for the `HaplotypeCaller` so that we can make changes of this nature without fear. Testing for a performance regression in the `HaplotypeCaller` is currently very non-trivial -- you have to run with and without intervals, with and without -ERC GVCF, on both exome and genome to be confident that you h

[2018-01-18 21:06] chandrans commented on #3528
The user is really eager for this fix to go in, so I told him it will be in the next release (4.1). I hope this is alright.

[2018-01-18 21:09] #2949 closed

[2018-01-18 21:09] #2962 closed

[2018-01-18 21:09] #2970 closed

[2018-01-18 21:09] #3270 closed

[2018-01-18 21:09] #3341 closed

[2018-01-18 21:09] #3625 closed

[2018-01-18 21:09] #4142 closed

[2018-01-18 21:53] lbergelson commented on #4202
The problem with this is that every fasta starts at position 1, so it would change the coordinates.  It would be great if we had a fasta specification that let you start at a position other than 1.

[2018-01-18 21:53] lbergelson commented on #3184
If this is blocking us from making otherwise useful changes then we should prioritize adding these tests...

[2018-01-18 22:36] yfarjoun commented on #3184
sorry, as with markduplicates, I'd use

[code]
for the record itself,
and
[code]
for the mate.

[2018-01-19 06:20] byoo commented on #4188
If docker is needed to run M2 wdl, I wish it can run without docker.
I need to run M2 wdl using grid engine backend and an old version needed some modifications to run without docker installed.

[2018-01-19 07:26] kgururaj commented on #4160
Thanks for exercising this corner case - looks like TileDB internally used 256 chars for paths. Have increased that to 4096 (max for most filesystems). The next release will fix this.

[2018-01-19 07:28] kgururaj commented on #3736
The NA24385.vcf.gz is missing the DB field in the header - this INFO field is of type Flag.  This hit an unhandled corner case in GenomicsDB. Fixed in the code now. Thanks.

For now, you can fix your use case by adding the DB field in the header.

[2018-01-19 09:40] magicDGS opened #4206 "New files in the repository after running the whole test suite with gradle"
After running `./gradlew clean jacocoTestReport` (or just `./gradlew clearn test`), there are some test files appearing as "untracked" in the git repository:

* `likelihoods.txt`
* `src/test/resources/snpSampledModel.report`
* `src/test/resources/vqsr_model.report`

I think that this should be test files in a temp directory and should be clean after the test suite finishes (or after the single tes

[2018-01-19 13:04] davidbenjamin commented on #4188
@byoo We run the M2 wdl without modification on a Broad SGE cluster for our internal evaluations all the time.  A cromwell config file for SGE is required, but that's the case for every backend.  You *do* need to supply a gatk docker image string as an input, but it is ignored.

Please feel free to share your input json and config file if it doesn't work for you.  I can't say I'm skilled enough to

[2018-01-19 14:51] davidbenjamin commented on #4188
@jonn-smith Is Funcotator ready to go in the wdl?  Should it even *replace* Oncotator?  Does it need its own docker or does one just invoke it like the rest of the GTK tools?  Do we need to do anything special to toggle between references?

[2018-01-19 14:54] davidbenjamin commented on #3147
@takutosato did this.

[2018-01-19 14:54] #3147 closed

[2018-01-19 15:05] sooheelee commented on #4188
Another option @davidbenjamin and @jonn-smith is to put in a comment line that Oncotator is not compatible with GRCh38 and to point users to a separate Funcotator WDL script.

[2018-01-19 15:08] sooheelee commented on #4188
@byoo You may find https://software.broadinstitute.org/gatk/documentation/article?id=11090 helpful in setting up docker.

[2018-01-19 16:06] droazen opened #4208 "Publish release and nightly GATK jars to the Broad filesystem for internal users"
As we did with GATK3.

[2018-01-19 16:06] droazen commented on #4208
Requested by @ldgauthier

[2018-01-19 16:10] droazen commented on #4206
Looks like some VQSR tests that are not properly cleaning up after themselves.

[2018-01-19 16:36] jonn-smith commented on #4188
@davidbenjamin Funcotator is not quite ready to outright replace Oncotator, but there is a test WDL for it in the M2/unsupported folder.

It can run off the same docker image, but you need to download the data sources (or provide your own - the provided tar.gz is about 300MB and extracts to about 3GB).  There is a short set of instructions in the tool doc for how to run it (I'm still working on th

[2018-01-19 16:44] byoo opened #4209 "Conda environment creation fails when executed from the release distribution"
First of all, thank you so much for your hard work! I am excited to explore GATK 4.0.0.0.
I would like to report minor issues in setting up optional dependencies for GATK4.

First, `gatkcondaenv.yml` defines `gatkPythonPackageArchive.zip` location as
`build/gatkPythonPackageArchive.zip`
The path doesn't seem to work seamlessly with the release archive, though the path makes sense in the root direc

[2018-01-19 16:55] droazen commented on #4209
Thanks for raising these issues @byoo -- @cmnbroad would you be able to address them?

[2018-01-19 18:49] jonn-smith commented on #4202
True, but it only matters when the start position is not 1.  In that case I will append the range of the selected interval to the contig name so that it can't be confused with the whole contig.

[2018-01-19 19:24] cmnbroad commented on #4209
@byoo Thanks for reporting these issues. I'm going to move the R issue into a separate ticket, since its a bigger change than the python fix.

I'm not sure I understand this part, though:

There should be no need to manually unzip the package archive (maybe you did this as part of the workaround for bad path in the .yml ?). And you should be able to direct conda to create the env wherever you want

[2018-01-19 19:58] byoo commented on #4209
@cmnbroad Sorry I should have been clearer. I meant unzipping the gatk release file. Unzipping the gatk release file places both files in the sample directory as below. I tried to create the gatk conda environment in the directory, which was failed due to the path issue.
[code]

It appears simpler to have conda manage both Python and R dependencies. I am not sure if it's easily possible to move aw

[2018-01-19 20:03] lbergelson commented on #4209
I think we could probably change away from 3.25, I have 3.4.3 installed on my machine and tests run fine.  We just chose one arbitrarily that worked and set it at that so that it wouldn't change out from under us.

[2018-01-19 20:03] mbabadi opened #4211 "gcnvkernel should save HMM data (prior, transition matrix, log emission) per sample in the output bundle for Java-side Viterbi segmentation"

[2018-01-19 21:39] cmnbroad commented on #4209
@lbergelson Do we actually have any tests that depend on R besides the RScriptExecutor tests (which don't do much). Also wondering if there would be inconsistencies with Picard R requirements.

[2018-01-19 21:40] cmnbroad commented on #4209
@byoo Thanks for the clarification - makes sense.

[2018-01-19 21:51] lbergelson commented on #4209
@cmnbroad There used to be, but I don't actually know for sure.  I'm not sure how to figure it out either without just deleting R from the installation and running the test suite...  I didn't know picard required R?

[2018-01-19 22:04] samuelklee commented on #4209
There are tests for the CNV plotting tools, which use RScriptExecutor and uniquely require some of the R dependencies.  There's also a test for the HMM code, which uses an HMM R package to generate expected results.

I'd assume that tests for the other tools that use RScriptExecutor would also fail, but I don't know if they rely on any special dependencies or any particular version of R.

[2018-01-21 00:07] #4136 closed

[2018-01-21 02:16] davidbenjamin commented on #4188
@sooheelee I just tested this and the `BALANCING_WITHOUT_INTERVAL_SUBDIVISION` already works the way you want it to.

[2018-01-22 01:58] githublet opened #4216 "Does file MergeTails.java really need?"
if (!getGraph().isSink(t) || getGraph().inDegreeOf(t) > 1)
isSink(t)???
After this process
        **if ( removePathsNotConnectedToRef ) {
            rtgraph.removePathsNotConnectedToRef();
        }**
has t isSink(t) ?

[2018-01-22 05:32] #3259 closed

[2018-01-22 05:33] #3260 closed

[2018-01-22 13:45] micknudsen opened #4219 "ApplyBQSRSpark creates splitting-bai file"
Hi,

When I run `ApplyBQSR`, the output is an indexed BAM file (`foo.bam` and `foo.bam.bai`). However, when I run the `ApplyBQSRSpark` tool, I get something called `foo.bam.splitting-bai` instead.

I have not been able to find any info about splitting-bai in the documentation. Is this the intended behavior?

[2018-01-22 15:52] cmnbroad opened #4221 "Expose timeout arg in StreamingPythonScriptExecutor"
Tools can set the timeout used by the AsynchronousStreamWriterService, but the timeout used by the StreamingPythonScriptExecutor itself is currently fixed. In order to enable use of a command line argument that allows experimentation with the performance tradeoffs of various batch transfer sizes, we need to be able to scale the timeout with the batch transfer size.

[2018-01-22 16:10] #4092 closed

[2018-01-22 16:11] samuelklee opened #4222 "Standardize differences in memory overhead in WDLs."
Not sure why `machine_mem` - `command_mem` differs across different tasks.  If there is not a good reason, we should standardize.  @jsotobroad might know the answer.

[2018-01-22 17:17] ldgauthier opened #4224 "Tribble segfault reading .vcf.gz without index"
My struggles with indexes in GATK4 continue.  I forgot to pull down the corresponding *.tbi index for my .vcf.gz, but SelectVariants just toodled along until chr14:
[code]

I ran `java -jar gatk-4.0.0.0/gatk-package-4.0.0.0-local.jar SelectVariants -V gnomADaccuracyTest.noMQinSNPVQSR.SynDip.vcf.gz -O testNoIndex.vcf.gz`. Data is at `/humgen/gsa-hpprojects/dev/gauthier/reblockGVCF` If I remember to

[2018-01-22 19:31] cmnbroad commented on #3947
Depends on https://github.com/broadinstitute/barclay/issues/128.

[2018-01-22 19:37] ldgauthier opened #4225 "CNN checklist for pre-AGBT release"
Before Sam's awesome AGBT talk extolling the virtues of the new GATK-CNN filtering tool we want to be able to make a GATK release with the following:
[ ] A cool name!
[ ] Model training script (in Python, eventually in Java)
[ ] Pretrained model for WGS
[ ] Pretrained model for WEx
[ ] Model inference and VCF annotation (in Java)
[ ] Solution for applying filters based on CNN score cutoff
[ ] Alte

[2018-01-22 19:49] lbergelson opened #4226 "spark tools should output a bai when they create a bam"
Our spark tools should output a bam index.  Currently they create a splitting index but not a bai.  We'll need to figure out how to merge indexes for individual shards to create a consistent bai.

[2018-01-22 19:53] droazen commented on #4224
@ldgauthier Is line 3889836 of your vcf corrupt (which is what is implied by the "wrong number of tokens" error)?

[2018-01-22 19:53] lbergelson commented on #4219
@micknudsen The splitting-bai is a different index from the bai.  It's used to determine where spark should split the bam into shards when it's distributing work across the cluster.  It doesn't provide random access support to the file, so it's a supplement to the bai instead of a replacement.  Ideally we'd also output a normal bai as well, but due to the way the work is sharded it's not trivial t

[2018-01-22 19:56] lbergelson commented on #4219
I spoke too soon, there's already a ticket for this #1480.

[2018-01-22 19:57] lbergelson commented on #4226
dupe of #1480

[2018-01-22 19:57] #4226 closed

[2018-01-22 19:59] lbergelson commented on #4224
Why does this work if you have an index?

[2018-01-22 20:01] droazen commented on #4224
Also, this is orthogonal to the issue at hand, but you should really be running `./gatk` rather than `java -jar` when you run GATK4, as the `gatk` frontend script sets a number of important system/htsjdk properties.

[2018-01-22 20:30] cwhelan commented on #4186
This is still an issue when running with `--spark-runner LOCAL`, ie not in dataproc.

[2018-01-22 20:31] lbergelson commented on #4186
That makes sense because it uses the bundled spark 2.0.2

[2018-01-22 21:37] ldgauthier commented on #4224
It looks perfectly reasonable from that log output and when I select that line in particular (granted, after I've added the index back in) it looks fine.  I count 10 columns.  I dug into this before I figured out the index fix. I don't know why it's expecting 8 (apparently it thinks `header == null`) or getting 9 (possibly because that's what `condenseTrailingTokens` does?)  If I pad that site to

[2018-01-22 21:54] droazen commented on #4224
@ldgauthier @yfarjoun came to me just now with a similar issue involving a truncated line from a `.vcf.gz`, only his issue happened even with a tabix index present. We think it's possible that people are somehow creating block-compressed files that are not compatible with htsjdk. Can you give me the complete provenance of your vcf file above (in particular, which tool block-compressed it)?

[2018-01-22 22:13] SHuang-Broad opened #4228 "annotate SV called with experimental tool with read support"
currently we only do this for the variants discovered by the tool that is about to be replaced.

[2018-01-22 22:22] SHuang-Broad opened #4229 "figure out how to make of incomplete or ambiguous assembly contigs"
`incomplete` means the assembly contig's alignment signature is indicating a variant but doesn't seem to have assembled the whole event

`ambiguous` means the assembly contig's alignment signature could be explained equally well by two stories (two difference variants, or one variant and one ref)

Code has been developed partially for these cases (e.g. range of inverted duplicated regions), and we

[2018-01-22 22:27] yfarjoun commented on #4224
Correction: the tbi was NOT present in my (actually @tlangs 's ) case. I've aske dhim to run it again with the index present and see what happens.

[2018-01-22 23:39] cmnbroad commented on #4224
@tlangs 's issue sounds similar to https://github.com/broadinstitute/gatk/issues/3837.

[2018-01-23 04:54] micknudsen commented on #4219
Thanks. Is the splitting-bai only of use for the tools that generates it (in this case ApplyBQSR), or should it be kept around for other tools (e.g. Mutect2) in a downstream analysis?

[2018-01-23 09:04] ruoshuiwyl opened #4230 "BUG: a bug the https://github.com/broadinstitute/gatk/blob/master/gatk"
[code]
cammand

  `  spark-submit --master local[20] --conf spark.driver.userClassPathFirst=true --conf spark.io.compression.codec=lzf --conf spark.driver.maxResultSize=0 --conf spark.executor.extraJavaOptions=-DGATK_STACKTRACE_ON_USER_EXCEPTION=true -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=false -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_l

[2018-01-23 10:45] wangdy12 opened #4231 "A GATK4.0 Spark bug about HaplotypeCallerSpark and How to fix"
I hava try to run HaplotypeCallerSpark several times on a cluster. But the results were different with same inputs.  I found the results lost some varients in blocks. After debug, I have known the reason.

1. I found the results of `JavaRDD<Shard<GATKRead>> readShards`  at **HaplotypeCallerSpark.callVariantsWithHaplotypeCaller** were different.
2. `org.broadinstitute.hellbender.engine.spark.SparkS

[2018-01-23 15:03] #4177 closed

[2018-01-23 15:20] lbergelson commented on #4230
Somehow the bottom of this submission was cut off, the email from github included the following additional useful information.

[2018-01-23 15:22] lbergelson commented on #4230
@ruoshuiwyl Typically the way we've been running if you want to run with the local master is to use
`--spark-master LOCAL`  Does that work for you?

[2018-01-23 15:27] chapmanb opened #4234 "HaplotypeCallerSpark empty collection error on regions with no reads"
When splitting up samples over regions to pass to HaplotypeCallerSpark, we ran into an edge case where it will die on regions not containing any reads, with a empty collection error. It would be great if we could catch this cleanly and generate a VCF without any calls. Here is a small self contained test case which demonstrates the issue:

https://s3.amazonaws.com/chapmanb/testcases/gatk/gatk4_hcs

[2018-01-23 15:30] lbergelson opened #4235 "document what a splitting-bai file is"

[2018-01-23 15:30] lbergelson commented on #4219
explain what the splitting index  is a bit better and then it will make more sense I think.  Spark works by splitting files up into similar sized chunks and passing those chunks to different worker machines.
Bam files are hard to split nicely into chunks.  The way they're structured makes it hard to identify where safe boundaries are to split on.  If you don't have a splitting index, we have an al

[2018-01-23 15:33] micknudsen commented on #4219
Thanks for the explanation!

[2018-01-23 15:44] lbergelson commented on #4219
No problem, I hadn't thought about how confusing it must be until you opened this ticket.

[2018-01-23 15:44] #4219 closed

[2018-01-23 16:14] ldgauthier commented on #4224
My file came from a workflow that's pretty similar to the production joint calling workflow: blah, blah, GenomicsDBImport, my own GATK4 walker, VariantAnnotator, VariantFiltration, MakeSitesOnlyVcf, ApplyVQSR, SelectVariants.  The SelectVariants is from my own jar which was branched off of probably 4beta6.

[2018-01-23 16:15] tlangs commented on #4224
Running it with the index works.

[2018-01-23 16:16] lbergelson commented on #4224
If you uncompress the file does it work without the index?

[2018-01-23 16:21] tlangs commented on #4224
@lbergelson Yep!

[2018-01-23 16:23] jamesemery commented on #4224
@lbergelson Yes it does

[2018-01-23 16:33] jamesemery commented on #4224
An interesting note, when I run this on my own machine over the same input file I'm getting the error triggering at a different site. Namely at the site indicated in this stack trace:
[code]

[2018-01-23 16:51] droazen commented on #4224
It's pretty clear at this point that there is a bug in tribble with iteration over block-compressed inputs that lack an index. This is a completely different codepath (and even a different `FeatureReader`) then you get if an index is present.

To buy us some time to nail this down, we are going to patch GATK to always require an index for block-compressed tribble files, even if `-L` is not specifi

[2018-01-23 17:10] droazen commented on #4231
@lbergelson Could you review this proposed fix?

[2018-01-23 18:01] droazen opened #4236 "Require an index for all block-compressed tribble inputs"
Until https://github.com/broadinstitute/gatk/issues/4224 is fixed, for now we should require an index for all block-compressed tribble inputs, even when intervals are not specified. The check should be at the `FeatureDataSource` level, in the constructor.

[2018-01-23 19:53] jonn-smith opened #4237 "Setters should return `this` to allow chaining."
The setters for `SAMSequenceRecord` do not return `this`, making chaining impossible.

All setters for objects should return `this` so that creation with setters can be chained.

[2018-01-23 21:55] chandrans commented on #4169
Good news. User says this is no longer an issue:

`We found the reason why HaplotypeCaller 4.0.0.0 performed worse than 4.beta.2. We are scattering tools using intervals from a custom BED file. Before, each instance of HaplotypeCaller received a BAM file from ApplyBQSR that was produced using a specific interval, but not the interval itself. This worked for 4.beta.2, but was causing poor performan

[2018-01-23 21:55] #4169 closed

[2018-01-23 22:22] droazen commented on #4169
Great, glad this mystery is solved!

It makes sense that running HC 4.0.0.0 without any intervals on a bam snippet would be slower than running without intervals in HC 4.beta.2, since HC 4.beta.2 lacked some logic that was present in GATK3 to handle uncovered loci.

[2018-01-23 22:22] acesnik opened #4241 "Why is FixMisencodedBaseQualityReads filtering reads?"
Hi there,

I'm wondering what would cause FixMisencodedBaseQualityReads to filter reads out. Filtering reads doesn't fit the description of the tool, as far as I can tell: "Fixes Illumina base quality scores in a SAM/BAM/CRAM file."

This is what I'm seeing before and after using the tool:

[code]

The tool runs smoothly with the following output:

[code]

[2018-01-23 22:29] acesnik opened #4242 "Detecting misencoded base quality reads"
I'm wondering if you have a recommended way of detecting misencoded base quality reads. If I run FixMisencodedBaseQualityReads, I do get a USER ERROR message that I could possibly detect by checking the logs, but I would rather use another tool to check for the error in a script, or store an emitted value from the tool to check for the error. As far as I can tell, I don't see such a tool or value.

[2018-01-23 22:30] droazen commented on #4241
The `WellformedReadFilter` filters out reads that are malformed in some way and that the GATK can't typically handle, so it is on by default for most tools that process reads.

You can try disabling it by running with `--disable-read-filter WellformedReadFilter`, but there's a chance the tool will choke on the malformed reads that you'll be letting through.

[2018-01-23 22:31] #4241 closed

[2018-01-23 22:36] acesnik commented on #4241
Okay, thank you for the information!

[2018-01-23 22:37] droazen commented on #4242
You can detect whether a tool has failed in bash by checking whether the exit status code is non-zero. In bash, the exit status code of the last command run is stored in the variable `$?`

In general, you should ask questions like these on the GATK forum (https://gatkforums.broadinstitute.org/gatk) instead of here, however -- this is for bug reports rather than support requests.

[2018-01-23 22:37] #4242 closed

[2018-01-23 22:39] acesnik commented on #4242
Got it. Thanks for the help!

I'll use the forum in the future.

[2018-01-23 23:32] samuelklee opened #4243 "Port CNV R plotting scripts to python."

[2018-01-23 23:34] samuelklee opened #4244 "Plot called segments at end of ModelSegments pipeline."
Rather than plotting the result of ModeledSegments, we can output the result of CallSegments.  Should be done in python.

[2018-01-24 00:50] samuelklee commented on #4209
OK, I think I accidentally removed the `getopt` dependency in #3935.  Not sure why tests didn't fail as expected.

[2018-01-24 00:57] samuelklee commented on #4209
Hmm, I also realize that I did not update the base Docker image at that time---although I commented in the PR that we should...and I don't think we updated it before release.  So I *think* the latest base and the current release Docker contain the getopt dependency, although it was removed from the installation script.

[2018-01-24 01:05] samuelklee commented on #4209
Going to build and push a new 1.2.2 base image off of https://github.com/broadinstitute/gatk/tree/sl_getopt, which restores the dependency as it was previously.

[2018-01-24 02:23] samuelklee commented on #4209
Regarding the non-Docker integration tests failing earlier today, I think this was because the R packages were added to the Travis cache in #3101.  @cmnbroad cleared the cache to see if we could reproduce a compiler error introduced in #3934 on Travis (for the record, we could reproduce it on my local Ubuntu machine and gsa5, but not on Travis).  This removed the cached getopt dependency, which th

[2018-01-24 03:59] wangdy12 commented on #4231
First let's talk about the algorithm  in function `SparkSharder.shard`
Main inputs  : `JavaSparkContext ctx,  JavaRDD<L>  reads, List<ShardBoundary> intervals`
Output: `ShardBoundaryShard`
The reads have original partitions, but we want to make each interval and  its corresponding reads in the same partition

1.  Find out the first read for each partition, then compute out each partition extents w

[2018-01-24 04:20] ruoshuiwyl commented on #4230
It does not work
gatk HaplotypeCallerSpark -R /data/all_data/reference/ucsc.hg19/ucsc.hg19.2bit -I /data/all_data/large_test/NA12178/wgs_30x1/bam/mem_pe_T20_trios_NA12878_dedup.0810.bam        -O mem_pe_T20_trios_NA12878_raw_variants_gatk4_40_2.vcf        --max-alternate-alleles 2        --native-pair-hmm-threads 20        -- --spark-runner LOCAL --spark-master local[20] --spark
Using GATK jar /da

[2018-01-24 04:30] ruoshuiwyl commented on #4230
OK, Thank.

[2018-01-24 09:58] AxVE opened #4248 "compile Java fail"
Hi,
On a new git clone of the master branch (23/01/2018), I'm not able to compile gatk with gradlew.
Here the logs:
[code]
Any idea ? Am I missing something ?

[2018-01-24 12:36] samuelklee commented on #4248
Thanks for filing this issue, @AxVE.  We also encountered this yesterday and @SHuang-Broad has a fix for it in a pending PR.

[2018-01-24 13:41] samuelklee commented on #4248
Quick question, @AxVE, what version of java are you running (`java -version`)?

[2018-01-24 13:48] AxVE commented on #4248
1.8

[code]

[2018-01-24 14:46] gspowley opened #4249 "Provide assortment of BAM files for compression profiling"
Related to #3413. We have improvements for BAM compression in GKL and need an assortment of various types of BAM files to test the performance and compression ratio.

[2018-01-24 15:06] samuelklee opened #4250 "Revisit R dependency management."
A few interrelated issues:

-The install_R_packages.R script is copied and installed in the base Docker image.  However, it is currently also copied (but not installed) in the non-base Docker image for some reason.  @jamesemery may be able to comment.
-Different R packages are installed in that script in different ways.  Some are pegged to older versions sourced from http://cran.r-project.org/src/

[2018-01-24 15:09] samuelklee commented on #4209
Closed in #4233 and #4246, but see #4250.

[2018-01-24 15:09] #4209 closed

[2018-01-24 15:16] cmnbroad opened #4251 "install_R_packages.R is out of sync on the Docker image"
It looks like we copy and execute install_R_packages.R from the repo when building the base Docker image, but on travis, and then we use the current repo version for the travis image. We do also copy the current version to the final Docker image, but we don't execute it there (at least as far as I can tell). This means the travis tests that use the Docker image run with a different R environment (

[2018-01-24 15:54] nyl2002 commented on #3413
1. How to convince people:
I agree. I think it is most effective to make people "feel" the difference, i.e. output like "you have been waiting 1324s or 60% of additional processing time on this step due to compression".
Or "Processing still hasn't started due to compression/decompression.

GATK4, especially on Spark hides that pretty well.
For example, turning off Spark lz4 and relying on ZFS lz4

[2018-01-24 16:45] lbergelson commented on #4230
Did that fix the problem?  Depending on your shell you may have to escape the local bit.

[code]

[2018-01-24 17:20] jamesemery opened #4252 "SelectVariants appears to produce some incongruities in header lines"
I have noticed that when we run a vcf through select variants and compare it with the original, that there can be a number of differences in the header, namely the following problems:
-It appears to be throwing away all but one of the `##GATKCommandLine fields=...`
-It drops the `##reference=...` field.
-For the sequence dictionary it is dropping the assembly attribute for contigs.

[2018-01-24 17:25] davidbenjamin commented on #4188
Status as of PR #4238:

## Remaining wants
- Outputs should allow either .vcf or .vcf.gz compression by user-specification. Alternatively, if we want to keep it simple and hardcode, then the preference is for compressed files. Some of us prefer to save on storage.
- The version of Oncotator is not compatible with GRCh38. Please, can we have an option to switch this out with Funcotator?

[2018-01-24 17:33] lbergelson commented on #4248
This seems like a compiler bug to me.  It only produces a warning on some machines, and we're not sure which ones.  It runs fine on travis which is running ubuntu 16.04 I think, and it runs fine on OSX.  I'm not sure if producing the warning is the bug, or not producing the warning, but there's definitely a bug somewhere in one instance of the compiler.

You'll notice that the code it's referring

[2018-01-24 17:34] sooheelee commented on #4188
Just seeing this. Sorry, I asked again elsewhere a question you already answered here!

[2018-01-24 17:36] davidbenjamin commented on #4188
That's okay! It actually seemed to me like you saw it already and wanted more explicit clarification.

[2018-01-24 18:33] AxVE commented on #4248
I agree.
The weirdest thing is that I could compile before but not anymore.
Unfortunately, I can not say since when I can not compile and therefore know what change is the cause.

[2018-01-24 18:42] lbergelson commented on #4248
You could compile the same commit before?  Very strange.  I wonder if there is some caching of something in the compilation stage somewhere.  Maybe it's not a java compilation issue but a gradle one?

[2018-01-24 19:20] AxVE commented on #4248
Ah sorry, I misspoke myself.
I was speaking about an old version (beginning of january I guess) and so, I can't know since which commit or date I got this problem.
By the way, I don't know if something has been up-to-date on the server I work. I can ask if you want.

[2018-01-24 19:24] samuelklee commented on #4248
We identified the piece of code that was causing the compilation error; it was removed in #4215, which was just merged.  Can you update master and try again?

[2018-01-24 19:50] cmnbroad commented on #4252
There is an [existing](https://github.com/broadinstitute/gatk/issues/2112) ticket thats a more general version of this same issue. We really should have a canonical solution for what is retained from the input header - I'm fairly confident every VCF-writing tool in GATK does something slightly different.  The specific behaviors listed above were all deliberate, though they should probably be revis

[2018-01-24 20:43] ldgauthier commented on #4252
I need GATKCommandLine headers from multiple runs of the same tool. The production joint calling workflow calls ApplyVQSR twice (once for SNPs, once for INDELs) and I need those lines for complete provenance of the data.

[2018-01-24 21:22] AxVE commented on #4248
Looks fine. Both jars (local and spark) are done.

[2018-01-24 21:39] droazen commented on #4224
@ldgauthier @yfarjoun We have an update on this! We've identified the bug:

* When `AbstractFeatureReader.getFeatureReader()` tries to open a `.vcf.gz` that doesn't have an index, it returns a `TribbleIndexedFeatureReader` instead of a `TabixFeatureReader`, because `methods.isTabix()` returns false when an index is not present.
*  `TribbleIndexedFeatureReader`, in turn, opens a Java vanilla `GZIPI

[2018-01-24 21:51] sooheelee commented on #4073
This is the bug I told you about @davidbenjamin. Speak to @droazen as he's looked into it.

[2018-01-24 21:53] droazen commented on #4073
I am still in the process of looking at it, but basically what I've found so far is that with certain assembly region boundaries the HC ends up preferring an indel haplotype over the haplotype with the SNPs that GATK3 calls.

[2018-01-24 23:06] yfarjoun commented on #4224
Wow. How on Earth did we avoid this for so long?

On Wed, Jan 24, 2018 at 4:39 PM droazen <notifications@github.com> wrote:

[2018-01-24 23:21] tlangs commented on #4224
😱 Oh my goodness that's some digging!

[2018-01-25 01:22] LeeTL1220 opened #4253 "CNV ReadCount PoN WDL will not work on cram files..."
A reference is required, but the task WDL does not ingest the reference given to the workflow.

Proposed solution is to simply add:

[code]
to the input block of `task CollectFragmentCounts`

and add
[code]

to the `call CollectFragmentCounts`

and lastly, add `-R ${ref_fasta}` to the end of the `gatk` command in  `task CollectFragmentCounts`

[2018-01-25 02:02] LeeTL1220 commented on #4253
Ditto with `CollectFragmentCounts`

[2018-01-25 04:48] samuelklee commented on #4253
Oops, did not realize that CRAM support required special treatment of the reference.  This only needs to be added as an input to the CollectFragmentCounts task, then, correct?  Why are the changes to the CreateReadCountPanelOfNormals task needed?

More generally, if we are aiming to support all CRAMs passed via -I in all relevant GATK walkers, then this is probably something that should be added t

[2018-01-25 04:58] samuelklee commented on #4248
We still aren't sure why we didn't see failures on Travis, but since the offending code was removed, I'll go ahead and close.

[2018-01-25 04:58] #4248 closed

[2018-01-25 05:02] samuelklee commented on #2471
@davidbenjamin Just noticed---what about CalculateContamination?

[2018-01-25 05:08] samuelklee commented on #4253
Also, perhaps we could add CRAMs to the mix of BAMs used in the WDL tests.  Should be addressed at the same time as #4007.  However, I wouldn't want to just expand the test matrix, since those tests already run long enough.

[2018-01-25 05:11] samuelklee commented on #4253
@davidbenjamin Do you need to worry about this for M2, e.g. GetPileupSummaries?

[2018-01-25 05:19] davidbenjamin commented on #2471
@samuelklee Yeah, that should probably be a GATKTool, too.

[2018-01-25 05:21] davidbenjamin commented on #4253
I guess so.  There are a few other places where that wdl looks specifically for a .bam extension that would have to be generalized.

[2018-01-25 05:26] samuelklee commented on #4253
Also, I'm guessing any additional overhead from always requiring the reference (even for BAMs) is probably acceptable in the current pipelines, but it won't hurt to double check.

[2018-01-25 10:07] marchoeppner opened #4255 "Issue with gzipped VCF files after HC scatter/gather"
Hi,
I am not sure if this is a gatk bug or some other issue on our system.
Setup: Centos 6.9, Zlib 1.2.3, gatk 4.0.0

The issue:
I am running scatter/gather haplotyping for 30X WGS data, per sample using the BROAD interval list to launch parallel processing branches (1 per sample per interval). Each individual "branch" outputs a gzip compressed file for a given target interval. I am then trying to

[2018-01-25 11:09] magicDGS commented on #4255
This looks like https://github.com/broadinstitute/gatk/issues/4224, which might be fixed by using an index (there is a PR to indicate that it is required in this case, see ).

It is coming from a combination of the java's `GZIPInputStream` bug and a HTSJDK's `SeekableStream` problem (https://github.com/samtools/htsjdk/issues/898). I just did a PR fixing the `SeekableStream` (https://github.com/sam

[2018-01-25 11:10] magicDGS commented on #4224
I did a PR in HTSJDK (https://github.com/samtools/htsjdk/pull/1077) for the `SeekableStream` part, for tracking also here the progress on this.

[2018-01-25 14:34] magicDGS opened #4256 "Suggestion of command prints stacktrace"
In the latest master, running for example `java -jar build/libs/gatk.jar FixVcfHead` returns:

[code]

I expect something without the stack trace and the scary "Exception" message. For example:

[code]

The same happens with unknown commands. The code that should be changed for that is the following, where the `setupConfigAndExtractProgram` call should be also inside the try block:

https://github

[2018-01-25 14:55] LeeTL1220 commented on #4253
I modified my initial comments.  The CreatePanel task is fine as is.

[2018-01-25 15:39] ldgauthier opened #4258 "Enable SelectVariants to handle the * allele properly"
I'm sick and tired of dancing around the stupid * allele after I subset a big callset to my truth sample.

If I run SelectVariants with `--sample-name sample1 --exclude-non-variants` and sample1 is heterozygous ref/* or homozygous for the * then I would like the line in the VCF to get dropped.
My rationale is that the output of that command for less complicated variants is the same as the output i

[2018-01-25 16:12] sooheelee commented on #4073
I've been thinking about this literal edge case. We now have metagenomic pipelines that are meant to align data to presumably extremely small references (bacteria, infectious agents, e.g. viri). These organisms have a different expectation for mutation/variant rates that my synthetic data could represent. I am unfamiliar with the details of the metagenomics pipelines except that it aligns reads to

[2018-01-25 17:09] #4253 closed

[2018-01-25 17:46] byoo commented on #4188
@davidbenjamin mutect2_pon.wdl and mutect2.wdl worked great without docker installed. Thanks!

@samuelklee @sooheelee As a user, I found a json template useful for two reasons, though it may be up to how a wdl is written.
1) womtool generates inputs from all the dependent wdls including unnecessary ones for the workflow. (e.g. mutect2_pon.wdl)
2) womtool didn't provide default values. Looking at m

[2018-01-25 17:51] cwhelan opened #4260 "SV pipeline fails in experimental variation interpretation with " Unexpected CIGAR format with deletion neighboring clipping""
When running on snapshot data for sample HG00514_1 I get the following exception in the experimental variant interpretation code:

[code]

We should fix this before turning on the new variant interpretation code.

[2018-01-25 19:08] SHuang-Broad commented on #4260
On it. Not intending to make the kill switch until test coverage is up.

[2018-01-25 19:40] davidbenjamin commented on #4188
@byoo Wonderful, we really appreciate your feedback!

[2018-01-25 19:46] bbimber commented on #616
Hi guys,

In case it helps, here's an upload site that could be used for these GATK3 test data, either uploading through the browser:

https://prime-seq.ohsu.edu/project/Internal/Bimber/GATK/begin.view?

or command line (-T for file name(s)), note the user/password:

curl --basic -T foo.txt -u "gatk_upload@gatk.com:genomes" https://prime-seq.ohsu.edu/_webdav/Internal/Bimber/GATK/@files/

I'll dele

[2018-01-25 19:46] SHuang-Broad commented on #4260
found the problem: alignment clipping operation bug (edge case). fix coming shortly.

[2018-01-25 19:51] droazen commented on #616
@bbimber Thanks -- I think we'll upload the files to a public Google storage bucket instead, to avoid the need for sharing passwords out in the open like this. We should be able to get to this after the GATK point release goes out tomorrow. I'll make a post here once they're uploaded.

[2018-01-25 19:58] bbimber commented on #616
yes, not the best way to sharing passwords, but this particular account isnt much more than a guest for this one transaction.  google is fine - thanks for your help here.

[2018-01-25 22:09] frank-y-liu opened #4264 "BaseRecalibratorSpark: creating KnownSiteCache takes a long time on HDFS"
At the beginning of BaseRecalibratorSpark, each JVM reads the given KnownSite in vcf format and create the `KnownSiteCache`.  Below is the `stdout` of this process:

[code]
Based on the time stamps, the observation is that it took 10 min to read the KnowSites.vcf file (about 10GB), for the code which is a filtering and copy operation:

[code]
Seems to me this is awfully slow.  The vcf file resides

[2018-01-25 22:18] frank-y-liu opened #4265 "ReadsPipelineSpark: null point exception during MannWhitney permutation test"
When running a large genome data set (`WGS-G94982-NA12878-no-NC_007605.bam`), the haplotypeCallerSpark raised an Null pointer exception in MannWhitney permutation test. Trace:

[code]
No vcf file was created.

So far it seems walker mode doesn't have this issue.

[2018-01-25 22:42] frank-y-liu commented on #4265
The issue is related to the input data. When `CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam` was used as the input file, the run was successful.

[2018-01-25 23:02] asmirnov239 opened #4267 "Add default tool header information to the output of PostprocessGermlineCNVCalls and update the integration test accordingly"
In particular add output GATKTool.getDefaultToolVCFHeaderLines to the VCF header, and rewrite the integration test for GenerateVCFFromPosteriors so that it validates the equivalence of variant context records, instead of file equivalency

[2018-01-25 23:39] lbergelson commented on #4265
@frank-y-liu Thanks for reporting these.

[2018-01-25 23:41] lbergelson commented on #4264
Yeah, this doesn't really make sense.  I think the right thing for us to do is change it to do a just in time lookup for each shard rather than try to suck the whole thing into memory.

[2018-01-26 01:00] acesnik opened #4269 "Crash with IndexFeatureFile on VCF with header but no variants"
I ran IndexFeatureFile on a VCF with a valid header but no variant features. IndexFeatureFile crashes due to something regarding the progress meter. This might be a good place to output one of your helpful `USER ERROR` messages.

Thanks!

[code]

[2018-01-26 02:34] snovod commented on #3979
Hi,
I was just wondering if there was any update on this.
Thanks,
Sam

[2018-01-26 13:14] kgururaj commented on #2505
Closing since we generate JSON files during import that are used during queries

[2018-01-26 13:14] #2505 closed

[2018-01-26 14:45] frank-y-liu commented on #4265
One more data point: running `NA12878.ga2.exome.maq.raw.bam` caused the exception. Input files used:
`-I NA12878.ga2.exome.maq.raw.bam`, `-R Homo_sapiens_assembly18.2bit`, `--knownSites dbsnp_138.hg18.vcf`

[2018-01-26 16:19] lbergelson commented on #4265
Thanks, that's helpful.

[2018-01-26 19:04] droazen opened #4272 "Test HaplotypeCaller memory usage on pathological samples"
Try to determine peak `HaplotypeCaller` memory requirements by running on some unusually deep  samples / samples that have caused memory issues in the past. Ask palantir or green team if they have any known "problem samples" that could be used for this purpose.

Target is to stay under 6 GB peak memory usage.

[2018-01-26 19:44] mwalker174 opened #4273 "Problem with spark.yarn.executor.memoryOverhead on DataProc"
Recently ran into an issue where spark.yarn.executor.memoryOverhead is not being set.

Running Cromwell v29 on DataProc (image version 1.1) with the following launch command in my WDL:
[code]
I get the following error:
[code]
In my Cromwell log I see the parameter is there:
[code]
I can confirm in the Spark UI that spark.yarn.executor.memoryOverhead is actually set to 600 (default value).

@lberge

[2018-01-26 19:54] lbergelson opened #4274 "HaplotypeCallerSpark doesn't write g.vcf.gz files"
If you ask HaplotypeCallerSpark for a gvcf.gz it outputs a base pair resolution GVCF with no blocking.  This is due to confusion in hadoop-bam / VariantSparkSink.

It works fine if you write an uncompressed g.vcf.

This is due to a conditional statement in `KeyIgnoringVCFOutputFormat.getRecordWriter(askAttemptContext ctx)`

[code]

The two branches call two different overloads of `getRecordWriter`

[2018-01-26 19:55] droazen commented on #3979
Closing -- resolved by https://github.com/broadinstitute/gatk/pull/3982

[2018-01-26 19:55] #3979 closed

[2018-01-26 19:55] lbergelson opened #4275 "prevent running HaplotypeCallerSpark with broken output formats"
Currently trying to create a `g.vcf.gz` with HaplotypeCallerSpark silently produces a vcf without blocking.  See #4274  for more details.

We should temporarily prevent this from happening until we can fix the underlying issue, as well as identifying any other bad cases.

[2018-01-26 19:55] lbergelson commented on #4274
see #4275 for the temporary workaround

[2018-01-26 19:56] lbergelson commented on #4274
This will likely require a fix in hadoop-bam unless we either copy most of the the hadoop-bam code into gatk or someone comes up with a more clever solution than I.

[2018-01-26 20:05] #3916 closed

[2018-01-26 20:05] #3951 closed

[2018-01-26 20:53] droazen commented on #4236
Done in https://github.com/broadinstitute/gatk/pull/4240

[2018-01-26 20:53] #4236 closed

[2018-01-26 21:42] lbergelson commented on #4256
@magicDGS Good catch.  We should fix this.

[2018-01-26 22:39] lbergelson opened #4279 "investigate removing ReferenceHadoopSource"

[2018-01-28 04:52] eitanbanks opened #4281 "WDL for somatic CNV PoN creation looks broken"
The workflow in cnv_somatic_panel_workflow.wdl defines:
" Int? mem_gb_for_create_read_count_pon"

But when it's used in the call to CreateReadCountPanelOfNormals, the variable is referred to as "mem_for_create_read_count_pon" (i.e. no "_gb").

This causes the workflow to fail...

[2018-01-28 14:58] samuelklee commented on #4281
Yup, sorry about this---caught and fixed in #4280.  I'd maybe count this as a `womtool validate` bug...?

[2018-01-28 15:52] SHuang-Broad commented on #3193
closing as the information can be put in a VCF (and this can be done)

[2018-01-28 15:52] #3193 closed

[2018-01-28 15:52] SHuang-Broad commented on #2347
finished by CpxSV tool

[2018-01-28 15:52] #2347 closed

[2018-01-28 15:55] SHuang-Broad commented on #2386
not necessary anymore for GATK-SV assembly-detected variants because the alt haplotype sequence is always output

still necessary for variants that are re-interpreted in #4189 , and other tools (but may never come true).

[2018-01-28 15:56] SHuang-Broad commented on #2703
closed by the last PR-8. Flowchart to be updated for documentation purposes.

[2018-01-28 15:56] #2703 closed

[2018-01-29 11:12] magicDGS commented on #4256
Pull request here: #4283

[2018-01-29 13:49] ThomasHickman opened #4284 "PathSeqBuildReferenceTaxonomy usage example shows usage of the tool PathSeqBuildKmers"
In the docs of [PathSeqBuildReferenceTaxonomy](https://software.broadinstitute.org/gatk/documentation/tooldocs/4.0.0.0/org_broadinstitute_hellbender_tools_spark_pathseq_PathSeqBuildReferenceTaxonomy), the usage example uses the command `PathSeqBuildKmers` instead of `PathSeqBuildReferenceTaxonomy`

[2018-01-29 14:44] LeeTL1220 opened #4285 "M2 task will not work on cram files"
Similar to #4253

The M2 task calls out to `GetSampleName`, twice, but does not supply the input reference.  Therefore, it will not work with cram.

Proposed solution:  Simply add `-R ${ref_fasta}` to each invocation of `GetSampleName` in the M2 wdl

[2018-01-29 15:29] SHuang-Broad commented on #4260
closed by #4262

[2018-01-29 15:29] #4260 closed

[2018-01-29 15:49] ldgauthier commented on #4272
I suspect the bacterial contamination samples (WGS from one of the MacArthur lab projects) had some pretty bad run times because they had some enormous pileups and lots of extra haplotypes.  Maybe @fleharty still has some pre-filtered bams around?

[2018-01-29 15:59] fleharty commented on #4272
This one should be sufficiently nasty.  About 7% of reads appear to be bacterial contamination.

/seq/picard_aggregation/G77546/1650NIH/v6/1650NIH.bam

[2018-01-29 16:02] samuelklee opened #4287 "Revert exposure of optional parameters in CNV WDLs when Cromwell support is available."
See #3980.

[2018-01-29 17:23] lbergelson opened #4290 "MannWhitneyU shouldn't do a get(double)"

[2018-01-29 17:23] lbergelson commented on #4265
added another ticket to track this #4290

[2018-01-29 17:35] samuelklee opened #4291 "Check sorting of intervals in PreprocessIntervals and PostprocessGermlineCNVCalls."

[2018-01-29 18:05] droazen commented on #4290
@jamesemery Can you fix this when you get a chance?

[2018-01-29 18:07] droazen commented on #4160
Resolved by https://github.com/broadinstitute/gatk/pull/4261

[2018-01-29 18:07] #4160 closed

[2018-01-29 18:09] droazen commented on #4106
Resolved by https://github.com/broadinstitute/gatk/pull/4261

[2018-01-29 18:09] #4106 closed

[2018-01-29 18:10] droazen commented on #3736
Resolved by https://github.com/broadinstitute/gatk/pull/4261

[2018-01-29 18:10] #3736 closed

[2018-01-29 18:11] droazen commented on #3745
Resolved by https://github.com/broadinstitute/gatk/pull/4261

[2018-01-29 18:11] #3745 closed

[2018-01-29 18:14] droazen commented on #3707
Done in https://github.com/broadinstitute/gatk/pull/4261! We have tests, but it would be good for someone like @ldgauthier to try out the new support.

[2018-01-29 18:14] #3707 closed

[2018-01-29 18:30] #4281 closed

[2018-01-29 18:46] #3980 closed

[2018-01-29 18:48] lbergelson opened #4294 "HaplotypeCaller should create optimized indexes for GVCFs"
Currently we create the same style of index for vcf and gvcf, but with gvcf we typically want to create a sparser smaller index.

[2018-01-29 18:55] samuelklee commented on #4291
Actually, I think we are good.  The `iac` input to PreprocessIntervals is sorted.  See also discussion in #4280.

[2018-01-29 18:55] #4291 closed

[2018-01-29 19:14] droazen commented on #4294
Note that `IndexFeatureFile` does this, but not `GATKTool.createVCFWriter()`

[2018-01-29 19:40] droazen commented on #4272
Thanks @ldgauthier @fleharty, I'll try that one out!

[2018-01-29 20:40] lbergelson opened #4295 "spark tools write bams even when .sam is specified"
We should either fix this or have it reject you up front when you try.

[2018-01-29 21:31] lbergelson opened #4296 "HaplotypeCallerSpark shouldn't resort reads if they're already coordinate sorted"
currently HaplotypeCallerSpark is sorting the reads even if the header says they're coordinate sorted.  This is very expensive and should be avoided.

[2018-01-29 21:33] lbergelson opened #4298 "profile different values of DEFAULT_READSHARD_SIZE for HaplotypeCallerSpark"

[2018-01-29 21:36] lbergelson opened #4299 "use MultiIntervalShards in HaplotypeCallerSpark more intelligently"

[2018-01-29 21:36] chandrans opened #4300 "GATK - 4.0.0.0 [BaseRecalibratorSpark low performance]"
@chandrans commented on [Mon Jan 29 2018](https://github.com/broadinstitute/dsde-docs/issues/2881)

User reports BaseRecalibratorSpark in gatk-4.beta.6-17 took 3.79 minutes vs 40 minutes in official release.

----
User Report
----

Dear GATK_team, I'd like to run Spark-enabled GATK tools on a Spark cluster. Precisely I am launching a Spark cluster in the standalone mode submitting the `BaseRecalib

[2018-01-29 21:37] chandrans commented on #4300
Done here @droazen Thanks

[2018-01-29 21:46] lbergelson opened #4301 "avoid materializing a partitions worth of assembly regions in HaplotypeCallerSpark"

[2018-01-29 21:49] droazen commented on #4165
Done in https://github.com/broadinstitute/gatk/pull/4270

[2018-01-29 21:49] #4165 closed

[2018-01-29 21:50] droazen commented on #3797
Done in https://github.com/broadinstitute/gatk/pull/4270

[2018-01-29 21:50] #3797 closed

[2018-01-29 21:50] lbergelson opened #4302 "Add more sensitive tests to HaplotypeCallerSpark"

[2018-01-29 22:24] lbergelson opened #4303 "Allow spark to write g.bcf files"

[2018-01-29 22:27] lbergelson commented on #4274
similarly, see #4303

[2018-01-29 23:40] #4285 closed

[2018-01-29 23:41] #4188 closed

[2018-01-30 03:19] #3523 closed

[2018-01-30 14:42] samuelklee commented on #4174
Closed in #4191.

[2018-01-30 14:42] #4174 closed

[2018-01-30 14:43] samuelklee commented on #4113
Closed in #4254.

[2018-01-30 14:43] #4113 closed

[2018-01-30 14:45] samuelklee commented on #4281
@eitanbanks Is the PoN WDL working for you now?

[2018-01-30 14:48] eitanbanks commented on #4281
Yes!  Thanks

[2018-01-30 14:57] droazen opened #4304 "PrimaryLineReadFilter: name is inconsistent with the rest of the read filters"
The name of this read filter (`PrimaryLineReadFilter`) is inconsistent with the rest of the GATK read filters that filter based on primary/secondary/supplementary status (eg., `NotSecondaryAlignmentReadFilter`, `NotSupplementaryAlignmentReadFilter`, etc.). Since these names are user-facing, and since "primary line" is a much less common and more confusing term than "primary alignment", I think tha

[2018-01-30 15:10] #4275 closed

[2018-01-30 17:07] jonn-smith opened #4307 "Funcotator - Problems with variant alleles that span exon start/end boundaries"
The way start positions are calculated causes issues when alleles span the boundaries of exons.

The error stems from `FuncotatorUtils::getStartPositionInTranscript` and how the results of that method call are used in the `GencodeFuncotationFactory`.

[2018-01-30 18:31] lbergelson commented on #4304
Round round round we go.  This is why I didn't want to touch that pr for so long.  See #2165, https://github.com/broadinstitute/gsa-unstable/issues/1472, https://github.com/broadinstitute/gatk/pull/3195, and #2494

[2018-01-30 18:37] droazen commented on #4304
Whatever names we choose, we must be internally consistent, at least! Shall we just vote? I vote for `PrimaryAlignmentReadFilter`, and keep `NotSecondaryAlignmentReadFilter` and  `NotSupplementaryAlignmentReadFilter` as-is.

[2018-01-30 19:03] tedsharpe commented on #4304
I'm fine either way:  PrimaryAlignmentReadFilter or PrimaryLineReadFilter.  There is one and only one record pertaining to a read which is marked neither secondary nor supplementary, and the SAM spec refers to this as the primary line of the read.  Sometimes people think of a read's (primary) alignment as consisting of the primary line _together_ with its supplementary lines.  So there is perhaps

[2018-01-30 19:22] jonn-smith commented on #4307
A temporary fix is in that will only annotate variants as in a CDS if they are contained within that CDS.

[2018-01-30 21:58] stevendavis commented on #3104
Any update on this issue?  What is the recommended way to use the RealignerTargetCreator and IndelRealigner in other non-GATK pipelines?

[2018-01-31 05:06] kgururaj commented on #3412
Should this issue be closed?

[2018-01-31 05:08] kgururaj commented on #2743
Does this happen anymore? I couldn't reproduce it.

[2018-01-31 09:24] magicDGS commented on #4304
I am fine either way too: I changed in #3195 due to reviewer comments, but the first implementation there was keeping the name.

[2018-01-31 10:37] magicDGS commented on #3104
No update, sorry. The PRs are pending of review, and the data is still not available for proper testing...

[2018-01-31 15:12] chandrans commented on #3631
The user has gotten back in the thread with answers to your original questions Louis. @lbergelson It looks like she has tested with beta 5.

[2018-01-31 15:23] tedsharpe commented on #4304
The other argument for retaining the name PrimaryLineReadFilter is that there used to be a PrimaryAlignmentReadFilter that was equivalent to the NotSecondaryAlignmentReadFilter.  So perhaps it's better to choose a new name rather than redefining the functionality of an old name.

[2018-01-31 16:20] lbergelson commented on #3412
@kgururaj I think so.  We've been unable to reproduce it and haven't seen it again since we fixed the memory requirements in our pipeline.  If it reoccurs we'll reopen.

[2018-01-31 16:20] #3412 closed

[2018-01-31 16:30] droazen commented on #3631
@chandrans Can you please ask the user to test with the `4.0.0.0` (or `4.0.1.0`) release, as there were major performance improvements to the `HaplotypeCaller` just before the release.

[2018-01-31 16:32] droazen commented on #3631
Closing this issue, since the performance issues that the `HaplotypeCaller` had in the early betas are believed to be resolved in the 4.0 release. @chandrans please open a new ticket if the user can replicate the performance issue in the 4.0 release.

[2018-01-31 16:32] #3631 closed

[2018-01-31 16:34] lbergelson commented on #2743
I can't reproduce this anymore.  Seems fixed.

[2018-01-31 16:34] #2743 closed

[2018-01-31 16:37] eitanbanks opened #4312 "HaplotypeCaller failing when -contamination argument is supplied"
I believe that the problem is that HaplotypeCallerGenotypingEngine doesn't use the version of StandardCallerArgumentCollection.getSampleContamination() with the sampleID, so the sampleContamination variable is never initialized and we get a NPE.  The -contamination argument is standard in our production GATK pipeline... and we're about to start telling everyone to use it!  This is an important one

[2018-01-31 16:42] droazen commented on #4312
Thanks @eitanbanks, we'll try to get a patch out this week for this one.

[2018-01-31 16:42] droazen commented on #2120
Closing -- this is fixed.

[2018-01-31 16:42] #2120 closed

[2018-01-31 16:43] droazen commented on #2503
Is this still an issue, given that the filter fix has gone in?

[2018-01-31 17:07] eitanbanks commented on #4312
Awesome - thanks!

[2018-01-31 19:17] chandrans commented on #3631
Done. Thanks David

[2018-01-31 19:27] #4256 closed

[2018-01-31 19:44] cmnbroad opened #4316 "Support Java/Python bidirectional data streaming"
The StreamingPythonExecutor streams data from Java to Python though a FIFO, but there is no support for streaming the results back to Java. Tools like NeuralNetInference need a way to propagate per-variant values that are calculated in Python, back to the original input variants. There are several possibilities:

- Manually implement a post-traversal traversal that allows joining the values that h

[2018-01-31 19:50] #4267 closed

[2018-01-31 20:00] jonn-smith opened #4317 "Funcotator needs more / better HG38 tests"
Need to add tests that specifically test the HG38 flows.

[2018-01-31 20:02] lbergelson opened #4318 "simplify tests that use ReadsProcessingPipelineTestData"

[2018-01-31 20:50] ruchim opened #4319 "CNV Somatic Pair Workflow (v4.0.1.0) not compatible with latest Cromwell"
The CNV Somatic Pair workflow is missing workflow level inputs for "additional_args" and "mem_gb_for_oncotator" (both of which are fed into the Oncotator sub-workflow) and won't run on the latest Cromwell (v30.2).

[2018-01-31 21:09] samuelklee commented on #4319
Grr, looks like this slipped by us in #4288.  See my comments there---why does this validate in womtool?  We got bit by a similar issue in #4281.

[2018-01-31 21:12] ruchim commented on #4319
Agreed this is certainly a bug with womtool. Has this issue already been filed?

[2018-01-31 21:15] samuelklee commented on #4319
Also, the sooner Cromwell handles exposure of subworkflow task-level parameters, the better.  I had to make these changes to bubble up and expose all optional parameters for all subworkflows, a process which adds an enormous amount of boilerplate and is (obviously) prone to errors.  I plan to revert the changes when Cromwell is ready (#4287), so let me know!

I did not file an issue yet.  @LeeTL12