[2017-03-22 18:30] droazen commented on #1540
Closing in favor of https://github.com/broadinstitute/gatk/issues/2483

[2017-03-22 18:30] #1540 closed

[2017-03-22 18:32] droazen commented on #1330
Not happening -- closing

[2017-03-22 18:33] droazen commented on #1299
@cmnbroad Is this one still a TODO?

[2017-03-22 18:37] droazen commented on #1388
These all look obsolete to me -- closing in favor of https://github.com/broadinstitute/gatk/issues/1016

[2017-03-22 18:37] #1388 closed

[2017-03-22 18:38] droazen commented on #1392
Closing as obsolete

[2017-03-22 18:38] #1392 closed

[2017-03-22 18:40] droazen commented on #1401
Closing in favor of https://github.com/broadinstitute/gatk/issues/2288

[2017-03-22 18:40] #1401 closed

[2017-03-22 18:43] droazen commented on #1440
@tomwhite How's the test coverage in Hadoop-BAM these days?

[2017-03-22 18:45] droazen commented on #1459
This one is done!

[2017-03-22 18:45] #1459 closed

[2017-03-22 18:48] droazen commented on #1447
@LeeTL1220 Do you still want this?

[2017-03-22 18:51] droazen commented on #1482
@vdauwera Is this one satisfied by the recent removal of the emit threshold?

[2017-03-22 18:56] droazen commented on #1508
With the move to the cloud we are much less interested in Isilon these days -- closing.

[2017-03-22 18:56] #1508 closed

[2017-03-22 18:56] droazen commented on #1509
This was resolved in https://github.com/broadinstitute/gatk/issues/2014

[2017-03-22 18:56] #1509 closed

[2017-03-22 19:00] droazen commented on #1495
This is a documentation issue -- tagging as such.

[2017-03-22 19:00] droazen commented on #1531
@tomwhite Would we still benefit from doing this?

[2017-03-22 19:01] LeeTL1220 commented on #1447
Close it if you'd like.

On Wed, Mar 22, 2017 at 2:48 PM, droazen <notifications@github.com> wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 7003EB
Cambridge, MA 02142
617 714 8632

[2017-03-22 19:03] droazen commented on #1550
@SHuang-Broad Do you still want this feature?

[2017-03-22 19:04] droazen commented on #1613
@gspowley Can you comment on this one? Is this worth our time? If not, feel free to close this.

[2017-03-22 19:06] droazen commented on #182
From @lbergelson :

[code]

[2017-03-22 19:06] droazen commented on #1632
Closing -- duplicate of https://github.com/broadinstitute/gatk/issues/182

[2017-03-22 19:06] #1632 closed

[2017-03-22 19:12] droazen commented on #1749
Solved by switching to codecov -- closing.

[2017-03-22 19:12] #1749 closed

[2017-03-22 19:14] droazen commented on #1751
@cmnbroad Is this still an issue with barclay? Assigning to you to find out.

[2017-03-22 19:17] droazen commented on #1669
For @cmnbroad and the 4.0 release milestone.

[2017-03-22 19:18] lbergelson opened #2514 "Error getting access token for service account"
Seeing a test failure due to errors with the service account access token.  Possibly related to updating the NIO dependency.  We've seen this multiple times today.
[code]

[2017-03-22 19:18] lbergelson commented on #2514
@jean-philippe-martin Could you take a look at this one too?

[2017-03-22 19:18] droazen commented on #1666
Should be addressed as part of https://github.com/broadinstitute/gatk/issues/1666

[2017-03-22 19:23] droazen commented on #1769
We've resolved this by increasing our travis quota and adding additional matrix entries. We can parallelize the test suite further using this technique if we wish. Closing!

[2017-03-22 19:23] #1769 closed

[2017-03-22 19:24] droazen commented on #1769
Related to https://github.com/broadinstitute/gatk/issues/969

[2017-03-22 19:26] droazen commented on #1659
Closing, as we're going to be using GenomicsDB as our variant store going forward

[2017-03-22 19:26] #1659 closed

[2017-03-22 19:26] lbergelson commented on #1769
As a note to future viewers.  As it currently stands enabling process-parallel tests on travis VM's doesn't work well because we don't have enough memory to run 2 simultaneous gatk instances.

[2017-03-22 19:27] droazen commented on #1652
This was done by @tomwhite

[2017-03-22 19:27] #1652 closed

[2017-03-22 19:30] droazen commented on #1880
For @cmnbroad and the 4.0 release milestone

[2017-03-22 19:32] droazen commented on #1857
Closing, since we have new BWA bindings now courtesy of @tedsharpe

[2017-03-22 19:32] #1857 closed

[2017-03-22 19:39] droazen commented on #1644
Re-assigning to @tomwhite as a possible future project, since he has a clear idea of how this could be implemented.

[2017-03-22 19:41] droazen commented on #1782
Closing in favor of https://github.com/broadinstitute/gatk/issues/1545

[2017-03-22 19:41] #1782 closed

[2017-03-22 19:42] droazen commented on #1808
Not doing this -- delegating to IBM.

[2017-03-22 19:42] #1808 closed

[2017-03-22 19:44] droazen commented on #1783
Closing as obsolete

[2017-03-22 19:44] #1783 closed

[2017-03-22 19:46] droazen commented on #1881
Closing as duplicate of https://github.com/broadinstitute/gatk/issues/1893

[2017-03-22 19:46] #1881 closed

[2017-03-22 19:52] droazen commented on #1916
Closing, since we no longer use jbwa

[2017-03-22 19:52] #1916 closed

[2017-03-22 19:57] droazen commented on #1934
This is done due to the new universal `.list` file support in barclay!

[2017-03-22 19:57] #1934 closed

[2017-03-22 19:58] vdauwera commented on #1934
Hurrah!

[2017-03-22 20:00] droazen commented on #1969
For @gspowley

[2017-03-22 20:01] lbergelson commented on #1531
I think we decided that  `OverlapDetector` from htsjdk was a better solution than IntervalSkipList.

[2017-03-22 20:01] droazen commented on #1950
@vruano @davidbenjamin Could one of you check whether this change was ever ported?

[2017-03-22 20:04] droazen commented on #1946
@gspowley This is still a TODO, correct?

[2017-03-22 20:04] lbergelson commented on #1203
Shouldn't we delete it anyway?  I'm not sure it's useful other than to say.  "Doing this badly is slow".

[2017-03-22 20:05] droazen commented on #1203
It useful to have a baseline during performance benchmarking to answer the question "are we better than a naive shuffle".

[2017-03-22 20:06] droazen commented on #1945
Assigning to @davidbenjamin to either update the docs or close this issue if the existing docs are fine.

[2017-03-22 20:08] droazen commented on #1920
We should test to see whether the changes in https://github.com/broadinstitute/gatk/pull/2154 fixed this issue.

[2017-03-22 20:10] droazen commented on #1980
Closing -- we no longer use jbwa.

[2017-03-22 20:10] #1980 closed

[2017-03-22 20:11] droazen commented on #2001
Closing -- we no longer use jbwa.

[2017-03-22 20:11] #2001 closed

[2017-03-22 20:11] droazen commented on #2018
@tedsharpe This one can be closed, can't it?

[2017-03-22 20:14] droazen commented on #2000
Closing -- this will be solved by hooking up the new barclay argument tagging feature: https://github.com/broadinstitute/gatk/issues/2473

[2017-03-22 20:14] #2000 closed

[2017-03-22 20:17] droazen commented on #2009
@jean-philippe-martin A (hopefully) quick one for you when you have some spare time.

[2017-03-22 20:19] droazen commented on #2036
Assigning to @gspowley to determine whether this is still an issue.

[2017-03-22 20:22] tedsharpe commented on #2018
Yup.  Closing now.

[2017-03-22 20:22] #2018 closed

[2017-03-22 20:22] droazen commented on #2054
Closing as obsolete, since we're no longer using jbwa.

[2017-03-22 20:22] #2054 closed

[2017-03-22 20:24] jean-philippe-martin opened #2516 "NIO error: "position should be non-negative""
It looks like when reading from cloud we sometimes hit a bug that crashes GATK with the following message:

[code]

This doesn't happen every time, but clearly it should never happen at all.

[2017-03-22 20:24] droazen commented on #2056
Closing -- this is a duplicate of https://github.com/broadinstitute/gatk/issues/2092

[2017-03-22 20:24] #2056 closed

[2017-03-22 20:25] droazen commented on #2072
@tedsharpe This can be closed too, right?

[2017-03-22 20:25] lbergelson commented on #2048
We've worked around this issue by explicitly specifying a `FieldSerializer` for Collections.nCopies lists.

[2017-03-22 20:25] #2048 closed

[2017-03-22 20:27] tedsharpe commented on #2072
Yes.  Done.  Closing.

[2017-03-22 20:27] #2072 closed

[2017-03-22 20:28] droazen commented on #2082
This will be addressed by https://github.com/broadinstitute/gatk/issues/2160

[2017-03-22 20:30] droazen commented on #2082
Closing in favor of https://github.com/broadinstitute/gatk/issues/2160

[2017-03-22 20:31] droazen commented on #2109
Closing as duplicate of https://github.com/broadinstitute/gatk/issues/1913

[2017-03-22 20:31] #2109 closed

[2017-03-22 20:33] droazen commented on #2144
Closing -- will be addressed by https://github.com/broadinstitute/gatk/issues/2473 instead.

[2017-03-22 20:33] #2144 closed

[2017-03-22 20:38] droazen commented on #2113
@tomwhite Was the fix for this ever merged and tested? Assigning to you to resolve.

[2017-03-22 20:41] droazen commented on #2127
At the 4.0 milestone, we'll time GATK startup and make sure it's still acceptable.

[2017-03-22 20:43] droazen commented on #2129
Assigning to @lbergelson as part of his GenotypeGVCFs work. This is a check that could be added after we tie-out that tool.

[2017-03-22 20:45] droazen commented on #1165
Closing in favor of https://github.com/broadinstitute/gatk/issues/2150

[2017-03-22 20:45] #1165 closed

[2017-03-22 20:46] droazen commented on #2151
@SHuang-Broad Is this done?

[2017-03-22 20:47] droazen commented on #2151
Assigning @vdauwera to make sure this happens before 4.0

[2017-03-22 20:49] droazen commented on #2231
As discussed in https://github.com/broadinstitute/gatk/issues/1203, we are keeping SHUFFLE so that we have a baseline during performance testing.

[2017-03-22 20:52] droazen commented on #2158
This one is done! Closing.

[2017-03-22 20:52] #2158 closed

[2017-03-22 20:54] droazen commented on #2152
This is done thanks to @cmnbroad ! Closing.

[2017-03-22 20:54] #2152 closed

[2017-03-22 20:56] droazen commented on #2200
Closing this one -- this will be fixed by https://github.com/broadinstitute/gatk/issues/2473

[2017-03-22 20:56] #2200 closed

[2017-03-22 20:59] droazen commented on #2171
@tedsharpe Think this one is fixed with your new BWA bindings?

[2017-03-22 21:00] droazen commented on #2176
Closing -- we're not changing our logger.

[2017-03-22 21:00] #2176 closed

[2017-03-22 21:02] davidbenjamin commented on #1945
It's alt alleles.  I'll submit a PR to change the javadoc.

[2017-03-22 21:03] droazen commented on #1945
Ok thanks -- please make sure this issue gets closed once your PR is merged.

[2017-03-22 21:05] droazen commented on #2159
`ReadWalkerIntegrationTest` now exists (I created it a while ago), but it doesn't yet have comprehensive tests for all basic `ReadWalker` functionality.

[2017-03-22 21:07] droazen commented on #2177
Closing as obsolete

[2017-03-22 21:07] #2177 closed

[2017-03-22 21:08] lbergelson opened #2517 "spark error due to missing cloud storage enum DURABLE_REDUCED_AVAILABILITY"
We've made progress and the [Jenkins Tests](	at java.nio.file.Files.readAttributes(Files.java:1737) are failing with a new error now.

[code]

[2017-03-22 21:08] lbergelson commented on #2517
@jean-philippe-martin Could you investigate this one?

[2017-03-22 21:08] droazen commented on #2178
@davidbenjamin Would you be able to add the requested test when you have time, since you created this class?

[2017-03-22 21:10] gspowley commented on #2036
It would help performance if we used constants instead of arrays in PairHMM. I'll investigate.

[2017-03-22 21:11] gspowley commented on #1946
Yes, @lbergelson and I worked on this a while ago. We need to revive the code.

[2017-03-22 21:14] davidbenjamin commented on #1950
@droazen @vruano It was not ported to gATK4.

[2017-03-22 21:15] droazen commented on #1950
Tagging @vdauwera to ensure this change gets ported from GATK3.

[2017-03-22 21:17] droazen commented on #2219
Assigning to @tomwhite to determine if this is still an issue.

[2017-03-22 21:17] jean-philippe-martin commented on #2517
Sounds like a version mismatch. I'm on #2516 now but I can put this bug into my list. I'm going to need more background, though. Crucially I need to know how to reproduce this bug.

[2017-03-22 21:22] droazen commented on #2240
@cmnbroad Since https://github.com/broadinstitute/gatk/issues/2065 is now closed, we should be able to do this one.

[2017-03-22 21:24] droazen commented on #2281
Assigning to @gspowley

[2017-03-22 21:25] droazen commented on #2317
Relates to https://github.com/broadinstitute/gatk/issues/2368

[2017-03-22 21:25] gspowley commented on #1613
Let's close this one. We can revisit DAAL for DL/ML related applications later.

[2017-03-22 21:25] #1613 closed

[2017-03-22 21:29] tedsharpe commented on #2171
Yes, but...

It looks to me as if the index files, which appear to be in the master node's Linux file system in this failing example, are probably not available to the worker nodes.  You'd have to copy each of the 5 index files to each of the workers, putting them in the same location on each.

The same problem would occur with the new version:  The single-image index file will still need to be av

[2017-03-22 21:29] droazen commented on #2503
I think this is a duplicate of https://github.com/broadinstitute/gatk/issues/2219. I think this error occurs when trying to write an empty file, which is why I was hoping that https://github.com/broadinstitute/gatk/pull/2494 would fix this by adjusting the read filtering.

@tushu1232 Can you test with https://github.com/broadinstitute/gatk/pull/2494 and tell us whether you still see the error?

[2017-03-22 21:31] droazen commented on #2503
Adding @tomwhite to comment on this.

[2017-03-22 21:32] lbergelson commented on #2517
Hmn, I haven't reproduced it manually myself.  It's happening on the nightly jenkins tests that run on a google cluster.  I'm assuming it reproduces if you run the same command that their running on any dataproc cluster:

something along the lines of :
[code]

[2017-03-22 21:33] tedsharpe commented on #2503
I did get this to run on my local machine.  It may be more fixed than I had believed.

[2017-03-22 21:34] droazen commented on #2278
I'll take this one, since it's needed for @lbergelson 's current work, and since the HC tests will likely be affected.

[2017-03-22 21:34] droazen commented on #2308
Assigning to @vdauwera to ensure that this gets ported before 4.0

[2017-03-22 21:38] droazen commented on #2345
Changing this into a documentation ticket.

[2017-03-22 21:39] gspowley commented on #2490
For more data, I ran some experiments on gcloud today. These instances are only running GATK tests, so they should have more free memory available compared to a laptop or desktop.

| VM memory | maxHeapSize | Out Of Memory? |
|:---------:|:---------------:|:------------------:|
| 13 GB | 4 GB | No |
| 7.5 GB | 4 GB | No |
| 3.75 GB | 4 GB | Yes |

Setup and test script:
[code]

[2017-03-22 21:40] droazen commented on #2394
Assigning to @jean-philippe-martin to migrate from `AuthHolder` to NIO on Spark in order to resolve this issue.

[2017-03-22 21:41] droazen commented on #2402
For @jean-philippe-martin

[2017-03-22 21:44] jean-philippe-martin commented on #2402
Unless, that is, we want to use the API key to allow non-logged-in access to public data?

[2017-03-22 21:45] droazen commented on #2402
I don't think so -- using the API key introduces all sorts of security issues with sanitizing command lines. I think we just want to rely on the default Google credentials.

[2017-03-22 21:46] lbergelson commented on #2503
I'm assuming it's because of the filters, which should be fixed by your branch.

[2017-03-22 21:47] #1945 closed

[2017-03-22 21:48] droazen commented on #2429
@lbergelson Are we still doing this one?

[2017-03-22 21:50] lbergelson commented on #2402
👍 to removing the api key.  We're leaking them all over the place...  We could optionally go back to accepting a key file as a form of authentication which is much less dangerous.

[2017-03-22 21:52] lbergelson commented on #2429
We're doing the tie-out first.  If people care about having a native java combine gvcfs then we'll have to do it.

[2017-03-22 21:55] #2462 closed

[2017-03-22 22:22] droazen commented on #2278
@lbergelson will do the public PR, and I'll take the protected half after it's merged.

[2017-03-22 22:27] #1447 closed

[2017-03-22 22:48] magicDGS commented on #1128
I added this feature to Barclay in https://github.com/broadinstitute/barclay/pull/19, so this can be closed (I think that the current SNAPSHOT has that PR included)

[2017-03-22 22:50] magicDGS commented on #817
I would also like to have this, but adding the doc from the collection... I think that anyway there's a discussion about it in https://github.com/broadinstitute/barclay/issues/7

[2017-03-22 23:45] #1128 closed

[2017-03-23 02:08] vdauwera opened #2519 "Improve indel calls on repeats (review the current PCR error model)."
@vruano commented on [Tue Jun 28 2016](https://github.com/broadinstitute/gsa-unstable/issues/1425)

## Feature request
### Tool(s) involved

_HaplotypeCaller_
### Description

Review the current approach to handle indel in short repeats. Fix and change to improve accuracy.

---

@vruano commented on [Tue Jul 12 2016](https://github.com/broadinstitute/gsa-unstable/issues/1425#issuecomment-232150240

[2017-03-23 02:09] vdauwera opened #2520 "Remove -1 length once a corrected version of the exome interval list is released."
@ronlevine commented on [Fri Jul 15 2016](https://github.com/broadinstitute/gsa-unstable/issues/1438)

### Instructions

Follow up to #1432.
Remove the following code from `IntervalUtils. intervalFileToList()` when a new exome, correctly converted interval list (with no -1 length intervals) is released :

[code]

---
## Feature request
### Tool(s) involved

Any tool using `IntervalUtils. intervalF

[2017-03-23 02:30] vruano commented on #2504
Actually I'm doing some work on this regards. I have unassigned you, at lease for now.

[2017-03-23 02:56] davidbenjamin commented on #2178
Sure, but "when I have the time" might be two weeks from now because M2 is intense right now.

[2017-03-23 06:45] magicDGS commented on #143
The max/min/recommended values implementation for integer/float args is already in the barclay version in use for GATK, @droazen. The usage of them I don't know...

[2017-03-23 06:55] magicDGS commented on #1550
I think that this is a good starting point for moving the read interface to htsjdk, to make possible different implementations of reads which work with the library...

[2017-03-23 10:03] magicDGS commented on #2036
But what if indel qualities are set somehow but an user? Will the `PairHMM` code still consider them if they are not constant, either in the native or pure-java implementation?

[2017-03-23 10:07] magicDGS commented on #2082
This is not exactly fixed by that, because it will not check for misencoded qualities but use a `ReadTransformer`. What I mean is something like the GATK3 behaviour when a "likely misencoded" file was input to the tools, and it suggested to use the fixing of misencoded qualities.

In GATK4 it could suggest using the read transformer for misencoded qualities, but I wonder if there is a posibility t

[2017-03-23 10:15] magicDGS commented on #2177
It is not really obsolete, but I will port the issue to Picard/HTSJDK. Create all indexes needed for GATK with a single tool will be nice, including the `.fai` index and the imageIndexFile for bwa (with the same approach as in #2452, or even better if https://github.com/broadinstitute/gatk-bwamem-jni/issues/4 is implemented).

[2017-03-23 10:20] magicDGS commented on #2177
Issue opened in HTSJD: https://github.com/samtools/htsjdk/issues/830

[2017-03-23 12:49] cmnbroad commented on #1299
@droazen Its still a TODO, but due to the reasons listed above, I think we're a long way off from doing it. Your call whether you want to leave it open or just close it until such as time as its realistic.

[2017-03-23 13:15] cmnbroad commented on #1116
@droazon Yes, I think we should keep this open. The VCF header refactoring will be step one on the road to fixing this.

[2017-03-23 13:28] cmnbroad commented on #1751
Yes, I think @lbergelson is right about the cause he mentioned above - the jopt parser allows short name clusters, so it chooses the parsimonious interpretation in the error case. Its might be worth a look to see if we can do something smarter without too much effort.

[2017-03-23 14:00] ronlevine commented on #2520
@vdauwera The hack is in GATK4, `IntervalUtils.intervalFileToList`:
[code]

[2017-03-23 14:45] droazen commented on #2520
@vdauwera This is a duplicate of https://github.com/broadinstitute/gatk/issues/2089. I'll close that one, since this has more detail, but in future would it be possible to do a quick textual search of GATK4 issues before opening a new one? We just got through a duplicate-removal pass on our backlog, and it's something I'd prefer not to repeat any time soon :)  It would also be good to tag these "p

[2017-03-23 14:52] vdauwera commented on #2520
Sorry about that @droazen, was a little hasty.  On the bright side there are only three issues left in the old repo so this shouldn't happen again anyway! Going forward I plan to take a closer interest in the GATK4 repos and will be more helpful with tagging and cleaning up.

[2017-03-23 14:53] droazen commented on #2089
Closing in favor of https://github.com/broadinstitute/gatk/issues/2520

[2017-03-23 14:53] #2089 closed

[2017-03-23 15:01] droazen commented on #143
I'll wait for @cmnbroad 's response as to how much of the original request from @vdauwera is implemented.

[2017-03-23 15:09] droazen commented on #2082
Ah I see -- I misunderstood the purpose of this ticket. I've re-worded the title, and am re-opening.

[2017-03-23 15:13] droazen opened #2522 "GenotypingEngine needs more/better direct unit tests"
Currently `GenotypingEngine` is mostly tested indirectly via the `HaplotypeCaller` tests in protected. It would be good to expand `GenotypingEngineUnitTest` to include more comprehensive direct tests for this crucial class.

[2017-03-23 15:14] droazen commented on #2522
@davidbenjamin Would you have time to work on this before the 4.0 milestone at end of the summer?

[2017-03-23 15:18] droazen commented on #2177
We've removed all issues related to Picard tools from our issue tracker -- this is what is meant by "obsolete". Of course, you're free to port any of these issues to the Picard/htsjdk issue tracker.

[2017-03-23 15:22] droazen commented on #1299
I'll leave it open, but with no milestone assigned.

[2017-03-23 15:31] droazen opened #2523 "Add good integration tests for BwaSpark"
BwaSpark needs good integration tests.

[2017-03-23 15:31] droazen commented on #2523
@tedsharpe Can you suggest a good set of test cases for this tool that would properly exercise your BWA bindings? Thanks!

[2017-03-23 15:41] magicDGS commented on #2082
Thanks @droazen. Because you assigned it to me, I would like to know a couple of details on how this should be implemented in GATK4:

* GATK3 use to have a the `MisencodedBaseQualityReadTransformer` always on, with a switch for checking/fixing the qualities. If we follow this approach in GATK, the only change for this is to include the checking step every n reads and then #2160 will do the rest. N

[2017-03-23 15:42] magicDGS commented on #2177
Thanks for the feedback, @droazen!

[2017-03-23 15:49] tedsharpe commented on #2523
I made them as TODOs in the existing test:
1) Align a small queryname-sorted BAM in single-ended mode.
2) Realign a small, coordinate-sorted BAM.

[2017-03-23 16:03] magicDGS commented on #1880
I can contribute to this one too if I have time, because I will need it too. My suggestion is to create a plugin for the annotation engine. There are also some issues that will be nice to address/discuss too before I start contributing:

* __Allow custom packages for Annotations in VariantAnnotatorEngine__ (https://github.com/broadinstitute/gatk/issues/2155): I think that `VariantAnnotatorEngine`

[2017-03-23 16:12] droazen commented on #1880
Agree that we should do the equivalent of what we did for read filters for annotations using the new plugin framework. Thanks for offering to help out on this one @magicDGS -- any contributions you're able to make here are very much appreciated!

[2017-03-23 16:17] #2414 closed

[2017-03-23 16:41] cmnbroad commented on #2490
@gspowley Thanks for looking into this. I suppose its possible that we've just gone over some threshold in the normal course of things, but I'm still a bit skeptical. I'm going to do a bit more analysis/testing and see if I can get any more insight.

[2017-03-23 16:50] cmnbroad commented on #143
@droazen We should keep this open - we have the range implementation, but not the generalized "disabling" feature.

[2017-03-23 18:13] davidbenjamin commented on #2522
@droazen I can do it.  It will be gratifying to complete a ticket made much simpler by the removal of the old `AFCalculator`.

[2017-03-23 18:45] droazen opened #2525 "Move BwaMemIndexImageCreator to tools package"
It's currently in the `utils` package, but all GATK tools should live in `tools` (or a subpackage of `tools`)

[2017-03-23 18:46] droazen commented on #2525
For @SHuang-Broad

[2017-03-23 19:47] #2525 closed

[2017-03-23 20:37] jean-philippe-martin commented on #2514
I set TEST_TYPE to "all" and was able to run this test without failure. The command I used is:
[code]
I ran it 7 times and got the same result every time:
`BUILD SUCCESSFUL`

It looks like this was a transient problem: either the internet connection was stalled or the authentication server was down temporarily.

As this happens at the very beginning of the execution, it's probably not a very big d

[2017-03-23 21:03] cmnbroad commented on #2409
I think https://github.com/broadinstitute/gatk/issues/2382 and https://github.com/broadinstitute/gatk/issues/2463 both represent overlapping or duplicate work.

[2017-03-23 21:44] jean-philippe-martin commented on #2514
I ran it another 40, bringing the total to 50. They all passed.

[2017-03-23 21:45] lbergelson commented on #1880
I definitely agree that we need some sort of argument collection that can be used for the sorts of things that have default values + user defined values.  It's complicated and we don't want different behaviors for read filters, read transformers, annotations, etc.

[2017-03-23 21:45] jean-philippe-martin commented on #2516
Trying to reproduce, but still haven't been able to. This crash looks like a rare occurence.

[2017-03-23 21:48] lbergelson commented on #2514
I think something must have been going on with the auth service at the time because it happened twice in quick succession.  If we can't reproduce I'm not sure what we can do about it.

[2017-03-23 21:49] lbergelson commented on #2516
Another transient internet thing then.

[2017-03-23 23:56] jean-philippe-martin commented on #2514
You're probably right. For now perhaps it's best to do nothing: the auth service is normally up and if it's temporarily down, perhaps it's best not to hammer it with repeated requests.

[2017-03-24 18:10] #2466 closed

[2017-03-24 19:58] lbergelson opened #2530 "IndexOutOfBounds due to change in #2528"
The change in #2528 introduced an IndexOutOfBounds exception because we don't check for empty list.

I'm not sure why this isn't a problem in the analogous code in gatk3.

[code]

[2017-03-24 20:23] lbergelson commented on #2530
In gatk3 it gets the first element of an array which is null in this case.  This is different than querying a 0 length list.

[2017-03-27 05:58] magicDGS opened #2532 "ReadFilter plugin tests does not live in the same package than the plugin itself"
This comes from pre-Barclay code, but it is an issue when looking for tests for the plugin:

* `ReadFilterPluginUnitTest` lives in org.broadinstitute.hellbender.engine.filters while the plugin lives in `org.broadinstitute.hellbender.cmdline.GATKPlugin`
* In addition, the test is called in a different way that the plugin, which is `GATKReadFilterPluginDescriptor`.

[2017-03-27 06:00] magicDGS commented on #2532
Also, in #2355 the argument collection may be changed to a visible-for-testing package-protected field instead of being public.

[2017-03-27 08:43] magicDGS opened #2533 "Request: package the testing framework into a module"
It will be nice to have the GATK testing framework in a different module and maven artifact to add it as a dependency only for testing, and do not include it in the uber-jar the TestNG dependecy (or the Mini-Cluster from Hadoop).

[2017-03-27 08:44] magicDGS commented on #2284
This is Picard related and should be closed.

[2017-03-27 08:44] #2284 closed

[2017-03-27 08:47] magicDGS commented on #2245
This is already fixed in #2249, although it is sorting every time. Closing in favor of #2309 for efficiency related with ReadPileup.

[2017-03-27 08:47] #2245 closed

[2017-03-27 17:05] gspowley commented on #2490
@cmnbroad Can you please try your tests with this snapshot of GKL:

https://oss.sonatype.org/content/repositories/snapshots/com/intel/gkl/gkl/0.4.1-SNAPSHOT/

This fixes the GC issues in `IntelInflater` and `IntelDeflater` we discussed today.

[2017-03-27 17:08] lbergelson commented on #2517
@jean-philippe-martin I think it's a mismatch between the server api and the google-cloud-java.

There are two different things that are both called storage class:  See this one: https://www.dartdocs.org/documentation/google_cloud_storage/0.4.1-pre2/file_storage/StorageClass-class.html

vs the java one: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/m

[2017-03-27 17:14] cmnbroad opened #2535 "SIGABRT/error running IntelInflaterDeflaterIntegrationTest"
I've seen this a few times on two different Mac laptops (both with 16G), primarily while running the IntelInflaterDeflaterIntegrationTest from within IntelliJ, but a couple of times I've seen it while running the full test suite from gradle. I saw these while trying to narrow down https://github.com/broadinstitute/gatk/issues/2490 - its probably related.

This one happened while several times when

[2017-03-27 17:14] cmnbroad commented on #2490
Sure - will give it a try.

[2017-03-27 17:14] jean-philippe-martin commented on #2517
Actually the page at https://cloud.google.com/storage/docs/storage-classes
(linked from the Java code) mentions all of the values in the code, plus `Durable Reduced Availability`; it says not to use the latter.

It looks like all these terms apply to the same concept, though perhaps some values are deprecated and that's why they are not in the enum.

[2017-03-27 17:17] lbergelson commented on #2517
Oh, you're right, it's not in the big table so I didn't notice it.

[2017-03-27 19:00] droazen opened #2536 "Protect against TileDB writes that would corrupt an existing instance"
Should throw an error if the client tries to write to TileDB in such a way as would corrupt an instance.

[2017-03-27 19:01] droazen commented on #2536
For @kgururaj and @kdatta

[2017-03-27 19:06] cmnbroad commented on #2490
@gspowley The first test run seems to still produce the original problem (the tests hang in the same spot). The change may have fixed #2535 , but I'll do a couple more some more test runs and see what other results I get.

[2017-03-27 19:17] droazen opened #2537 "GenotypingEngine.isVcCoveredByDeletion() is stateful (modifies upstreamDeletionsLoc) and should not be"
It's bad practice to have predicate/boolean-valued methods modify state, and the fact that this method modifies `upstreamDeletionsLoc` is not even documented anywhere. We should try to make this a method with no side effects.

[2017-03-27 19:19] droazen commented on #2537
@davidbenjamin Would you be able to look at this for 4.0?

[2017-03-27 19:20] droazen opened #2538 "GenotypingEngineUnitTest should not use a shared GenotypingEngine instance (should use DataProviders and not use @BeforeTest)"

[2017-03-27 20:18] jean-philippe-martin commented on #2516
It happened again, on Friday. This was running updated code that [checks the position before calling](https://github.com/broadinstitute/gatk/blob/jp_retry_more_2/src/main/java/org/broadinstitute/hellbender/utils/nio/SeekableByteChannelPrefetcher.java#L119) - so we know that we set the position to a non-negative value before doing the read.

The error says that the position was -218103808 -- this i

[2017-03-27 20:20] droazen commented on #2533
Closing as duplicate of https://github.com/broadinstitute/gatk/issues/1481 -- please do a textual search of our issues for possible duplicates before opening a new one.

[2017-03-27 20:20] #2533 closed

[2017-03-27 20:28] lbergelson commented on #1481
@magicDGS I have long wanted to do this, it's very sill to have TestNG in our uberJar...

[2017-03-27 21:59] #2530 closed

[2017-03-28 14:07] magicDGS commented on #2533
Sorry, I use to search but this time I forgot. My fault...

[2017-03-28 14:09] magicDGS commented on #1481
There is any plan to do this soon? I'd love to contribute, but I'm not sure how to change the gradle.build to upload the artifacts properly....

[2017-03-28 14:20] droazen commented on #1481
The tickets we're planning to do soon are all tagged with the "beta" milestone -- this one is low priority with only very minor benefits, and so didn't make the cut. Unfortunately it's a task we'd have to take on ourselves, since it affects our maven artifacts. We can consider it for a future milestone after beta. Is this something that's causing an actual problem for you, or is it just a matter o

[2017-03-28 14:26] magicDGS commented on #1481
Thanks for the quick response, and I'm sorry that I cannot help this time.

I think that it may cause a problem in the future (that's why I opened the other issue), but currently it is fine.

[2017-03-28 14:30] cmnbroad commented on #2490
I've run on two separate machines with the snapshot - still seeing the hanging while running gradle tests. Haven't seen #2535 though.

[2017-03-28 14:51] lbergelson commented on #2533
I blame github's lack of autosearch when creating a new ticket.  Every other issue tracker has it...

[2017-03-28 14:53] gspowley commented on #2490
Glad to hear the GC fix helps with #2535.

If I could reproduce the hang, I would try to narrow in on @cmnbroad's observation above "_disabling all of the tests in IntelInflaterDeflaterIntegrationTest seems to reliably fix it_."

- Is the problem caused by `IntelInflaterDeflaterIntegrationTest.testIntelInflaterDeflaterWithPrintReads` only?
- If so, what happens if we removed the `setDefault*Factor

[2017-03-28 17:32] lbergelson commented on #2278
Closed by #2521

[2017-03-28 17:32] #2278 closed

[2017-03-28 19:52] gspowley commented on #1946
@erniebrau please look at #2259 for the code changes required.

[2017-03-28 20:00] SHuang-Broad commented on #2502
closed by #2512

[2017-03-28 20:00] #2502 closed

[2017-03-28 20:29] davidbenjamin commented on #2537
yes

[2017-03-29 08:52] magicDGS opened #2539 "Request: convert ActivityProfileState.Type to an abstract class"
I'm exploring the usage of the `AssemblyRegionWalker` engine for custom tools and I realized that there is very little support for customization. One of the things that will be nice is to use a custom `ActivityProfileState.Type` for assigning custom reasons to be an active region (or non active at all).

My proposal is the following:

* Abstract `ActivityProfileState.Type` with one method to get t

[2017-03-29 16:49] vruano opened #2541 "Passing an inexistent bam file name to a Spark walker results in NPE."
First it does not complain that the file does not exists but when you request the getReadsHeader() it results in a deep down NPE exception. The fact that the walker requires reads does not help either.

[2017-03-29 17:22] lbergelson opened #2542 "InbreedingCoefficient isn't hooked up to pedigree files"
Currently there's no way to pass in pedigree files to `InbreedingCoefficient`  We should ask if this is an important feature for genotype gvcfs in production.

[2017-03-29 17:40] droazen commented on #2541
@tomwhite Can you have a look at this one? Likely an issue in Hadoop-BAM.

[2017-03-29 18:05] magicDGS commented on #2542
I think that this is related with https://github.com/broadinstitute/gatk/issues/1880, and I've already develop a rough system in a small project to have a plugin for variant annotation. I would love to contribute to this, and I kind of started with https://github.com/broadinstitute/gatk/pull/2534

[2017-03-29 21:00] vruano opened #2545 "VariantWalkerSpark produces mysterious serialization exception with some VCFs:"
This error does not occur with every VCF but at least with the one enclosed below. It passes vcf-validator with default arguments.

To reproduce:

[code]

[code]

[2017-03-29 21:38] vruano commented on #2545
As per @droazen recommendation I tried adding the following line to GATKRegistrator.java:

[code]

Same result, no improvement.

[2017-03-29 21:40] vruano commented on #2545
Since the problem disappear depending on the content of the VCF I suspect that the error message is actually misleading.

[2017-03-29 21:46] droazen commented on #2545
@vruano What happens if you make your tool extend `GATKSparkTool` directly, rather than `VariantWalkerSpark` then do the following in your `runTool()` method?

[code]

And then do a `variants.mapPartitions()` call on the resulting `variants` RDD to process each variant?

Also, at-mentioning @tomwhite here to comment on the `VariantWalkerSpark` issue, since he wrote that class.

[2017-03-29 23:55] jean-philippe-martin commented on #2517
I can confirm I was able to reproduce with:
[code]

[2017-03-30 07:11] ShawnWilliams opened #2549 "How Can I Recalibrate Indel Quality?"
Hi,
It seems that gatk4.0 has removed indel quality recalibration function.
I need indel quality to use Mutect2. Is there any tool I can use to recalibrate indel quality?

[2017-03-30 15:41] lbergelson commented on #2549
Hi @ShawnWilliams, our analysis showed us that indel quality recalibration wasn't giving us very much of a benefit and it was quite expensive computationally, so we disabled it by default.

There's a hidden argument `-indelBQSR` which will re-enable that functionality, but we don't think it's necessary for most recent sequencing data.  I think it was a mistake that that argument was made hidden, I

[2017-03-30 16:02] lbergelson opened #2551 "Incorrect error message when trying to read corrupt bam file"
The error `Cannot use index file with textual SAM file` was reported by `AssemblyRegionUnitTest.testCreateFromReadShard`when trying to read what was likely a corrupted large file bam on travis.

This error does not accurately reflect the problem and is likely caused by a chain of fallbacks in htsjdk.  It's possible that the switch from file -> path has changed the sequence of fallbacks causing thi

[2017-03-30 16:28] jean-philippe-martin commented on #2517
Interestingly, just adding the constant to gcloud allows gatk to proceed.

Well it crashed for me a bit later:

[Stage 0:==========================================>            (431 + 2) / 553]17/03/30 00:30:53 WARN org.apache.spark.scheduler.TaskSetManager: Lost task 431.0 in stage 0.0 (TID 431, jp-test-cluster-w-0.c.genomics-pipelines.internal): com.google.cloud.storage.StorageException: 503 Serv

[2017-03-30 16:30] jean-philippe-martin commented on #2517
To be fair I must point out that this test was running without retry settings (because the API for retries changed and I was just trying to test the attributes).

[2017-03-30 16:51] lbergelson commented on #2551
java.lang.RuntimeException: Cannot use index file with textual SAM file
        at htsjdk.samtools.SamReaderFactory$SamReaderFactoryImpl.open(SamReaderFactory.java:402)
        at htsjdk.samtools.SamReaderFactory.open(SamReaderFactory.java:105)
        at org.broadinstitute.hellbender.engine.ReadsDataSource.<init>(ReadsDataSource.java:226)
        at org.broadinstitute.hellbender.engine.ReadsDataS

[2017-03-30 17:45] jean-philippe-martin commented on #2517
Fixed in upstream, so we should see this problem go away as soon as gcloud releases a new version and we switch to it.

[2017-03-30 18:01] lbergelson commented on #2517
👍

[2017-03-30 18:54] #2178 closed

[2017-03-30 20:52] jean-philippe-martin commented on #2517
I reran this with retry enabled. It says it finished successfully. There was an error in the middle but it continued anyways (this isn't shown in the final output, but there was a second bar).
I'm not sure about the output, though. Where is this command supposed to leave `output.bam`? It's not on my desktop.

[code]

[2017-03-30 21:54] vruano commented on #2545
It seems that the error goes away when I installed 2.0.2 ..... I had the 2.1.0 that is the only 2.x.x available thru homebrew on Mac. So it might all be due to a version difference.

[2017-03-31 06:50] ShawnWilliams commented on #2549
Hi @lbergelson
Thanks so much for your help!
And thanks @droazen for add "question" label to my question!

I find that I can run BaseRecalibrator with -indelBQSR to generate a .grp file contains insertion type and deletion type, and with -enableBAQ to turn on BAQ function.
But I can't run ApplyBQSR with -indelBQSR, and the error information is:
*****************************************************

[2017-03-31 14:22] droazen commented on #2545
@vruano Aha, I didn't notice that you were running with a local Spark master (`--sparkRunner SPARK --sparkMaster local`)! If you omit those arguments from your command line, you'll fall back to using the in-memory Spark runner instead, which uses threads rather than processes.  The in-memory runner will always be the correct version for GATK4, since it's linked into our jar.

[2017-03-31 14:23] droazen commented on #2545
(In other words, it's not necessary to spin up a Spark cluster locally, if all you want to do is run your tool across multiple threads)

[2017-03-31 15:25] vruano commented on #2545
mmm... that said, I think this must fail using the right error message, don't you think? @droazen.

[2017-03-31 15:48] vruano opened #2554 "SparkSharder intolerance for long Locatables struggles with valid VCFs."
It seems that the code in SparkSharder responsible of grouping Locatables into sharded reference intervals cannot handle large locatables that would overlap more than a couple of shards...

[code]

[2017-03-31 16:23] droazen commented on #2554
@tomwhite Can you look at this one?

[2017-03-31 16:27] droazen commented on #2545
Yes, of course :) It can be a challenge to get good error messages out of Spark, but perhaps we could have some kind of up-front check in GATK4 for a Spark version mismatch.

[2017-03-31 16:29] #2370 closed

[2017-03-31 16:42] lbergelson opened #2555 "upgrade to spark 2.2"
We should try to keep on top of the latest spark version while we're still not released yet.

When we upgrade we should verify that #2545 is resolved.

[2017-03-31 16:42] lbergelson commented on #2545
Oh, that's interesting...  I wonder if there is a sane way to detect the version mismatch.  It's weird that it breaks with a NEWER version of spark.  I would expect 2.1.0 to be compatible with 2.0.2.

Incidentally, it would be a good idea to upgrade to the newest spark version.  #2555

[2017-03-31 17:08] lbergelson commented on #2555
there's a dataproc preview image with 2.1.0 and hadoop 2.8-SNAPSHOT which sounds a bit scary.

[2017-03-31 18:03] lbergelson opened #2557 "Implement equivalent of forceJVMLocaleToUSEnglish() from GATK3"
I noticed this in the gatk3.  It seems like maybe we should port it to 4?
[code]

[2017-03-31 19:05] SHuang-Broad commented on #1550
@droazen It could potentially speed up the SV pipeline as `wrong` pair orientation is a important type of evidence for SV.

[2017-03-31 19:34] jean-philippe-martin commented on #2517
Re-running this with a gs:// output seems to have worked perfectly! I now have a bunch of files there.

[2017-03-31 20:09] jean-philippe-martin commented on #2422
It looks like we may had to add `Path` support to htsjdk's `SAMFileWriterFactory` class. It's using `File` right now, which prevents it from using NIO.

[2017-03-31 21:23] jean-philippe-martin commented on #2402
OK. So my understanding of the plan here is that
today we read BAM files 3 different ways:
1. Using hadoop when on hdfs and using Spark
2. google-genomic's `BAMIO` with Spark for BQSR and related code
3. `NIO` -> gatk `ReadsDataSource` -> htsjdk BAM reader, for non-Spark tools

The code in 2. uses `AuthHolder` which in turn takes in an API key. In order to get rid of the API key we're changing the

[2017-03-31 21:26] jean-philippe-martin commented on #2402
In particular that means we're leaving in the code that talks to the Google Genomics Reference API (the `ReferenceAPISource` class), which also uses the API key. So at least in this stage we're not going to literally remove all instances of the API key (as the issue description suggests).

[2017-03-31 22:23] lbergelson commented on #2549
@ShawnWilliams I'm sorry, I think I steered you wrong.  It looks like the ability to *apply* the indel recalibration was removed at some point.  Which is probably why the argument was hidden in the first place...

We did analysis and found that it didn't made a significant difference in the final variant calls if you don't do it, so we dropped support for it.  I thought we'd just turned it off by

[2017-04-01 02:19] ShawnWilliams commented on #2549
@lbergelson Thanks for your explanation, it really eliminates my confusion!
I used to think that Mutect2 can't run with a bam file which doesn't contain indel quality, it's my fault. The fact is that I can run Mutect2 with default Indel Quality(45). Now I'll put my data(without indel quality) into Mutect2 and see whether it make a significant difference or not.

[2017-04-01 02:34] vdauwera commented on #2549
MuTect2 shouldn't require indel qualities to be present -- if you find that it does let us know, because it's not intentional.

[2017-04-02 01:08] gspowley commented on #2490
I was able to reproduce a hang in `VariantsSparkSinkUnitTest` by running a test group with only `IntelInflaterDeflaterIntegrationTest` and `VariantsSparkSinkUnitTest`.

Removing this line in `testIntelInflaterDeflaterWithPrintReads` resolved the hang on my system:
[code]

After setting the verbosity to DEBUG here, all subsequent tests use the same level of verbosity. This generated >1G of log info

[2017-04-02 14:38] cmnbroad commented on #2490
@gspowley That seems to do it (I also needed to use the GKL snapshot library, otherwise I see the malloc bug more frequently), but I was able to run the whole test suite on both of my laptops with this.

[2017-04-03 00:10] ronlevine commented on #2308
@vdauwera Should I implement this?

[2017-04-03 01:05] gspowley commented on #2490
Great! We'll make a PR to bump the GKL version and remove the DEBUG log level setting.

[2017-04-03 02:01] vdauwera commented on #2308
Ah no we should just give them direct access to our dev repo. Will do now. Thanks though @ronlevine

[2017-04-03 02:02] vdauwera commented on #2308
Aaaaand just ignore what I said, wrong thread. Yes please do.

[2017-04-03 14:44] tomwhite commented on #1440
@droazen it's at 60% (see badge on https://github.com/HadoopGenomics/Hadoop-BAM), which is pretty good, given that it started out <30%.

Also, @cmnbroad has contributed several patches to the project, and is now a committer.

For these reasons I'm going to close this issue.

[2017-04-03 14:44] #1440 closed

[2017-04-03 14:52] cmnbroad commented on #2557
Hmm - seems like we definitely should.

[2017-04-03 14:54] tomwhite commented on #1652
For the record, this was https://github.com/broadinstitute/gatk/pull/2256.

[2017-04-03 15:02] vdauwera commented on #2557
Ack, sorry, fat fingers.

+1 to doing this.

[2017-04-03 15:05] tomwhite commented on #2113
@droazen No, it was not tested or merged. I don't want to merge until we can confirm that the fix works. Is there any way for me to get a copy of the failing BAM file? /cc @achevali @lbergelson

[2017-04-03 15:13] lbergelson commented on #2113
@LeeTL1220 Can we publicly share /seq/picard_aggregation/D4491/HCC1143/v1/HCC1143.bam on google cloud?

[2017-04-03 15:23] LeeTL1220 commented on #2113
@lbergelson  That is a public cell line, so it should be okay.

On Mon, Apr 3, 2017 at 11:13 AM, Louis Bergelson <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 7003EB
Cambridge, MA 02142
617 714 8632

[2017-04-03 15:31] droazen commented on #2490
Whew -- glad this was something simple!

[2017-04-03 15:56] droazen opened #2560 "Create an annotation or marker interface to mark tools as in-development/not stable"

[2017-04-03 15:59] droazen commented on #2052
This is done!

[2017-04-03 15:59] #2052 closed

[2017-04-03 15:59] droazen opened #2561 "Hook up TileDB write API to HaplotypeCaller"

[2017-04-03 15:59] droazen commented on #2561
Will need a requirements-gathering pass first

[2017-04-03 19:10] droazen opened #2562 "Explore whether the native PairHMM could be custom-tuned or modified to benefit Mutect2"
@davidbenjamin has requested that we look into whether there are `PairHMM` optimizations we could do that would benefit Mutect2 specifically -- the performance profile may be different than for the `HaplotypeCaller`.

Intel has agreed to have a look, but they'll need a Mutect2 test case that they can run. @davidbenjamin would you be able to provide one?

[2017-04-03 19:10] droazen commented on #2562
For @gspowley and the 4.0 milestone.

[2017-04-03 19:46] davidbenjamin commented on #2562
@droazen Sure.  Does that mean paths on the Broad server to all inputs, presumably ones we have permission to share, and a Mutect command line?

[2017-04-03 19:48] droazen opened #2563 "Update the BQSR integration tests to test without BAQ and indel qualities"
Currently most of the integration tests for BQSR run with BAQ and indel qualities on, which is no longer the default. We should make most of the tests run with the default settings of no BAQ and no indel qualities.

[2017-04-03 19:50] droazen commented on #2562
It just means working with @gspowley / Intel to give them whatever "tech support" they need to get up and running with Mutect2 on a profile-able use case.

[2017-04-03 19:53] davidbenjamin commented on #2562
Of course, whatever @gspowley wants!

[2017-04-03 20:12] lbergelson opened #2564 "Decide if we should delete indel recalibration and BAQ code"

[2017-04-03 20:21] lbergelson commented on #1524
We're not using the kryo version with the fix.  We can open a ticket against spark to see if someone will update it, but I suspect it will be a long slog to get it in.

[2017-04-03 20:23] lbergelson commented on #2113
@tomwhite I've uploaded that bam to gs://hellbender/test/resources/issue2113/HCC1143.bam.  Can you test your fix against it in the cloud?

[2017-04-03 22:10] gspowley commented on #2562
Thanks @davidbenjamin! To start with, I'll need a Mutect2 command line and some shareable data that will give meaningful profiling results. We plan to run the experiments at Intel, so we'll have to figure out how to get the data there (download or copy to a disk).

[2017-04-04 13:03] cmnbroad commented on #2460
There is currently no way to request a VCF-encoded stream from GenomicsDB, though Intel has said they're implementing it.

[2017-04-05 15:18] droazen opened #2571 "ReadsSparkSource should support "-L unmapped", like walkers do"
We have a request from @vruano to implement support in `ReadsSparkSource` for "-L unmapped" -- that is, the ability to specify a special "unmapped" interval in one's interval list to request the unmapped reads that have no mapped mates that are stored at the end of a bam file.

`ReadWalker` and `LocusWalker` already have support for this feature -- it's implemented by calling `getTraversalParamete

[2017-04-05 15:19] droazen commented on #2571
@tomwhite Could you take this one? Shouldn't be too difficult, I hope.

[2017-04-05 15:42] vruano opened #2572 "How to get a RDD<GATKRead> of the unmapped pairs of bam efficiently."
There seems to be no obvious way to read thru the unmapped read pairs in a bam file in Spark.

Looking at the code in ```ReadSparkSource#getParallelReads(String, String, List, long)``` it seems that
perhaps it is possible by setting the appropriate property in Configuration returned by ```ctx.hadoopConfiguration()``` however there is no documentation as to what property that could be.

@droazen I

[2017-04-05 15:43] droazen commented on #2572
@vruano Can you tell me whether https://github.com/broadinstitute/gatk/issues/2571 covers this request, or is that only one piece of what you want here?

[2017-04-05 16:26] #2490 closed

[2017-04-05 16:26] #2535 closed

[2017-04-05 19:32] erniebrau commented on #1946
I have made the changes to connect the PairHMM parameters [here](https://github.com/erniebrau/gatk-protected); it is based on [this branch](https://github.com/broadinstitute/gatk/tree/lb_connect_pairhmmargs), which @gspowley pointed me to. I am submitting a PR now...

[2017-04-05 20:49] droazen opened #2575 "Write up a Google doc with known/expected differences in GATK3 vs. GATK4 GenotypeGVCFs for palantir, along with suggested command-line test cases"

[2017-04-05 20:50] droazen commented on #2575
Should also mention the version of GATK3 that the palantir evaluation should be done with, and provide a link to both a gatk-protected jar and docker image to be used for testing.

[2017-04-05 20:50] droazen commented on #2575
For @lbergelson before he leaves on vacation. @yfarjoun take note.

[2017-04-05 21:30] #2308 closed

[2017-04-06 00:48] vruano commented on #2572
I guess it would cover it as long as 'unmapped' support means efficient processing of the unmapped pairs (i.e. it would just go thru the whole bam file and ignore the mapped pairs).

[2017-04-06 13:19] tomwhite commented on #2458
I ran `FindBreakpointEvidenceSpark` and did some high-level checks to see if there are any opportunities for performance improvements. (cc @tedsharpe @cwhelan)

This is the command line I ran. (Earlier I had run more executors with smaller memory settings, but the job didn't complete then.)

[code]

What does FindBreakpointEvidenceSpark do, from the perspective of Spark?

* [runTool] filter out se

[2017-04-06 16:30] tedsharpe commented on #2458
Thanks very much for your analysis.

Job 4 does create a lot of garbage, but that appears to be inevitable whenever you are dealing with a PairRDD:  You have to use a Tuple2 to represent key and value rather than using a more memory-conservative custom data object.  You end up with a gazillion tiny objects that survive only during the shuffle.  Too bad they didn't base PairRDD on an interface like

[2017-04-06 20:16] droazen commented on #2460
To clarify, this is not a feature we need/want to be implemented. This ticket is just saying "let's add test coverage for this option that we believe exists". If it doesn't exist, then we can close this!

[2017-04-07 14:40] yfarjoun opened #2577 "Enable fast log10/exp of an array of doubles"
Many tools in our world require going from log-space to linear-space and back using log10 and exp.

These are slow functions and are usually used on an array (typically of length 3) of doubles.

It would be great to have a
[code]
and
[code]
functions to enable fast computation of logs.

[2017-04-07 14:40] droazen opened #2578 "Exclude htsjdk from GenomicsDB dependency in build.gradle?"
@cmnbroad and I were looking yesterday at the process for building GATK4 protected with a custom htsjdk snapshot, and we found that we couldn't get the htsjdk snapshot to propagate all the way through to protected unless we excluded htsjdk from our GenomicsDB dependency:

[code]

Without this, htsjdk gets pulled in transitively via GenomicsDB. @lbergelson @kgururaj @kdatta Can you think of any rea

[2017-04-07 14:47] droazen commented on #2577
@gspowley Can you comment on whether this would be appropriate for a possible vectorized implementation in the GKL?

@davidbenjamin @vruano Can you comment on some of the existing approaches GATK takes to try to avoid expensive calls to `Math.log10()`, etc.? I think we rely (or used to rely) extensively on caching, correct?

[2017-04-07 16:08] lbergelson commented on #2578
Weird, I would have that that forcing the htsjdk version like we already do would have done it...    I don't see anything wrong with adding that exclusion, but I'm confused why we need it.

`    force 'com.github.samtools:htsjdk:' + htsjdkVersion`

[2017-04-07 16:15] jean-philippe-martin opened #2579 "Could not find org.broadinstitute:barclay:1.0.0-24-g87c3fa2-SNAPSHOT"
I just pulled to the latest version and was surprised to see `gradlew clean` not work!
[code]

Reverting to 1.0.0-17-g30db73c-SNAPSHOT didn't work (same error).
Reverting to 1.0.0 made it fail somewhere else, with:
Could not resolve org.broadinstitute:gatk-bwamem-jni:1.0.0-rc1-SNAPSHOT

What's going on? Is there something wrong with my configuration?

[2017-04-07 16:22] kdatta commented on #2578
htsjdk is included in the GenomcisDB fat jar, maybe that's why getting pulled in from there. GenomicsDB class paths should be okay as long as htsjdk is in the path.

@droazen , is it okay to make this change in the latest GenomicsDB import PR? The version dependency has changed anyway.

[2017-04-07 16:28] davidbenjamin commented on #2577
@droazen Off the top of my head, we

* cache `log10(n)` and `log10(n!)` up to some large value.
* have a fast version of `log10SumLog10(double a, double a)` that works as follows: we want to compute `log10(10^a + 10^b)`.  WLOG `a < b`, so this comes out to `a + log10(1 + 10^(a - b))`.  I believe we cache the values of `log10(1 + 10^(x)` over a finely-spaced grid and round `a-b` to the nearest cach

[2017-04-07 16:29] lbergelson commented on #2578
Are we pulling in the fat jar?  Very minor issue, but it seems it would be better to pull in a slim jar that only has GenomicsDB + native code, and get its java dependencies separately.

[2017-04-07 16:40] lbergelson commented on #2579
I tried clearing my caches and rebuilding, but I resolve everything.  I noticed that our artifactory website looks much different today than it did yesterday.  I wonder if it was down temporarily for an update.  Maybe try again now? Unless they put it behind the firewall which would be a disaster... can you access https://artifactory.broadinstitute.org/?

[2017-04-07 17:12] jean-philippe-martin commented on #2579
I can access the artefactory web site.

I tried again, and the build worked! Must have been a transient issue. Thanks for checking!

[2017-04-07 17:12] #2579 closed

[2017-04-07 17:37] mbabadi commented on #2577
@yfarjoun for small arrays, `FastMath.log` is pretty much as fast as it gets. It is highly optimized. If you are dealing with giant arrays, however, an alternative is to cast the Java arrays into [NDArray](www.nd4j.org) and execute Nd4j native ops. Here's how the timings look:
[code]
The nd4j times include the overhead of creating NDArrays and pulling back the results to JVM heap. The break even p

[2017-04-07 17:47] mbabadi commented on #2577
(I just updated my previous reply)

[2017-04-07 17:55] cmnbroad commented on #2578
I think we need to exclude the htsjdk module from ADAM/bdgenomics as well. Without that I still get htsjdk 2.5 pulled in.

[2017-04-07 18:43] droazen commented on #2578
That's very strange @cmnbroad -- in the test I did in front of you yesterday, I added only the exclusion above and it worked fine for me. Are you building with `gradle` or `gradlew`?

Recommend we add whatever exclusions are necessary in a separate, simple PR, independent from the GenomicsDB PR.

[2017-04-07 18:50] gspowley commented on #2577
[MKL](https://software.intel.com/en-us/intel-mkl) has highly optimized versions of `log10()` and `pow()`, which are much faster than standard native implementations.

@mbabadi would you mind sharing your profiling code? I'd like to make an apples-to-apples comparison of MKL to Apache and Nd4j.

[2017-04-07 19:23] yfarjoun commented on #2577
I don't think that we could merge those triples into bigger vectors easily....

[2017-04-07 19:39] jean-philippe-martin commented on #2517
This should be fixed once #2581 is in; this is my reminder to try it then.

[2017-04-07 19:47] vruano opened #2582 "@ArgumentCollection should accept a disambiguation prefix."
Currently I found myself in a scenario in where it would be great to have the ability of declaring a second set of interval-arguments for compose a separated interval list like so:

[code]

Ideally I would like to be able to reuse the interval parsing engine in ```IntervalArgumentCollection``` for both sets but that is not possible due to argument name collisions.

What I would be able to do is th

[2017-04-07 20:51] gspowley commented on #2577
If the vector size is usually 3, then native code probably won't help due to the JNI transfer overhead. If there are uses cases with bigger vectors, we can investigate more.

[2017-04-07 21:16] lbergelson opened #2583 "add constant for b38 large reference in BaseTest"
We should add a b38 reference constant in BaseTest to make it easier to use the large B38 reference section.

[2017-04-07 21:24] lbergelson opened #2584 "allow GenotypeGVCFs to perform combination of multiple gvcf files"

[2017-04-07 21:24] lbergelson commented on #2429
Once this is done it will be easy to do #2584

[2017-04-07 21:28] lbergelson opened #2585 "standard_min_confidence_threshold_for_calling doesn't work as described"
standard_min_confidence_threshold_for_calling sounds like it should remove variants that have qual lower than the provided value.

It does this, but it can also remove variants with higher quals.  This is because it's used as the value to compare qual against, but also used to compare to genotype specific values.   The outcome is that lowering the calling threshold can remove variants with much hi

[2017-04-07 21:38] vdauwera commented on #2585
whaaaat that shouldn't happen

[2017-04-07 21:54] lbergelson opened #2586 "fix FS annotation difference with GATK3"
The FS annotation is still different than GATK3 in some cases.
The task is to:
1. identify which version of the annotation is correct, if either
2. fix it in either gatk4 or gatk3.

[2017-04-07 21:54] lbergelson opened #2587 "fix negative RankSumTest annotation emission"
RankSumTest annotations with small negative values are sometimes emitted during GenotypeGVCFs where no annotation is emitted by gatk3.

[2017-04-07 21:56] lbergelson commented on #2583
once this is done it should be used in GenotypeGVCFs

[2017-04-07 22:34] mbabadi commented on #2577
I second @gspowley -- JNI transfer overhead is certainly more than ~ 10 ns it takes to calculate 3 logs (see below).

Here's the benchmarking code just in case:
[code]

Nd4j is on maven (add `compile 'org.nd4j:nd4j-native-platform:0.5.0'` to the gradle build script). Here's another run [nd4j:0.5.0, 2.8 GHz Core i7]:
[code]

For Nd4j and N = 10_000_000, the _actual_  log computation time is only ~

[2017-04-08 00:12] kdatta commented on #2578
[PR-2588](https://github.com/broadinstitute/gatk/pull/2588) created

[2017-04-08 22:53] lbergelson opened #2589 "treat deprecated spanning deletion allele uniformly in all places"
Currently some checks for spanning deletions check against `Alleles.SPAN_DEL`, others also check for `GATKVCFConstants.SPANNING_DELETION_SYMBOLIC_ALLELE_DEPRECATED`.

If we want to be able to accept older style vcfs with spanning deletions we should check for both in all cases.  If we don't we should remove checks for the deprecated allele everywhere.

There's a method `isSpanningDeletion` in Geno

[2017-04-09 01:40] lbergelson commented on #2582
That seems like a very reasonable thing.  It would also provide a reasonable way to build complex command lines from a chain of spark tools.  It's like the picard "nested command line parsers" but gives explicit control to the tool author.  One wrinkle is that it would have to work recursively with nested argument collections, but I don't see any problem there.

@cmnbroad What do you think?

[2017-04-09 01:41] lbergelson commented on #2517
@jean-philippe-martin You should have the abiilty to manually trigger builds on jenkins if you sign in as well.  That would be an easy way to test if you don't want to wait for the nightly to run.

[2017-04-10 13:54] cmnbroad commented on #2582
Yeah, sounds very similar to NestedOptions. I added a ticket to Barclay.

[2017-04-10 14:44] cmnbroad commented on #2578
The reason I was getting different behavior was because my local htsjdk was built from a fork, and it had stale tags. That doesn't matter for GATK, since the GATK build.gradle uses a resolution strategy of "force" for htsjdk, forcing it to use the version I specified (even though it looks old due to the old tags). But the gatk-protected build.gradle doesn't have an explicit resolution strategy dec

[2017-04-10 15:58] droazen opened #2590 "Create an importer tool for GenomicsDB"

[2017-04-10 16:19] jean-philippe-martin commented on #2517
Are you saying it's OK to wait until #2581 is checked in and then change this PR to point to a nightly build and merge?

[2017-04-10 16:45] jean-philippe-martin commented on #2436
PR merged, closing.

[2017-04-10 16:45] #2436 closed

[2017-04-10 17:10] droazen opened #2591 "Try to get HaplotypeCaller to run in <= 3 GB memory (or, failing that, <= 6 GB)"
"Yossi and I are just looking at our production processing costs and the HaplotypeCaller is the biggest culprit right now.  That's because it currently requires these high memory machines.  If we could somehow get it to use a max of 3 GB RAM then we'd cut 10% off of the entire pipeline.  Even 6GB would be okay, but 3 would be huge.
What do you think -- will it be possible?"

[2017-04-10 18:07] droazen commented on #2496
This one is done

[2017-04-10 18:07] #2496 closed

[2017-04-10 18:07] cmnbroad opened #2592 "Use failOnVersionConflict resolution strategy in build.gradle"
We should probably consider using a resolution policy of "failOnVersionConflict" in both gatk and gatk-protected. This will force us to manually resolve any dependent module version conflicts as they arise, rather than depending on Gradle (which will choose the newest one by default) to do the resolution for us.

[2017-04-10 18:12] cmnbroad commented on #2592
For one example, gatk-protected is currently pulling in a newer version of protobuf than GATK uses, since GATK uses an older one but gatk-protected pulls in a newer version via other dependencies. Using failOnVersionConflict would at least alert us when this is happening and allow us to choose how it gets resolved.

[2017-04-11 00:20] jean-philippe-martin commented on #2517
That's ok, it can wait until tomorrow. I'm also rerunning manually on my cluster to check - it looks like it's working perfectly so far!

[2017-04-11 14:47] tomwhite commented on #2554
@vruano thanks for the report. I had a look at your branch, but I couldn't run the test as the test file _input_long_variants.vcf_ seems to be missing. Could you add it, and submit a PR please?

[2017-04-11 15:05] tomwhite commented on #2541
@vruano I tried to reproduce this by specifying a non-existent BAM file to `CountReadsSpark`. I get a `UserException` (stacktrace below), not an NPE. Can you post your stacktrace please?

[code]

[2017-04-11 16:18] tomwhite commented on #2571
This will need implementing in Hadoop-BAM, as you point out. It's a little tricky as it will need new input splits for the unmapped reads, but I think it's doable.

[2017-04-11 16:22] tomwhite commented on #2253
This is being addressed by #2554.

[2017-04-11 16:51] jean-philippe-martin commented on #2517
This now worked fine when I ran it manually. Looks like the fix worked.

[2017-04-11 17:36] droazen commented on #2571
Re-targeting for the 4.0 milestone due to difficulty

[2017-04-13 15:31] gspowley commented on #2420
@droazen Actually, `IntelInflater` is already being used with block-gzipped VCFs.

On this [line in htsjdk](https://github.com/samtools/htsjdk/blob/912c28bec415c430b43515652ccaf13222b07e7b/src/main/java/htsjdk/variant/vcf/AbstractVCFCodec.java#L629), the `AbstractVCFCodec` creates a `BlockCompressedInputStream` using the default `BlockGunzipper`, which is `IntelInflater` by default in GATK.

I ver

[2017-04-13 19:40] droazen opened #2596 "Standardize long argument names to follow the "lowercase-with-dashes-as-separators" convention, with enforcement check in barclay"
As discussed in https://github.com/broadinstitute/picard/issues/786#issuecomment-293999711 and approved by @vdauwera , for the 4.0 release of GATK4 we are going to standardize all of our long argument names to follow the `--lowercase-with-dashes-as-separators` style, as opposed to the current inconsistent mix of camel case, underscores, and dashes.

As part of this, we should have an opt-in enforc

[2017-04-13 19:42] droazen commented on #2596
Assigning to @vdauwera for the 4.0 milestone

[2017-04-13 19:44] droazen opened #2597 "Fix grossly inconsistent short vs. long argument names"
Some of our argument names have grossly inconsistent short vs. long names, like `-writeFullFormat,--never_trim_vcf_format_field`. For the 4.0 release we should do a pass to ensure that all short and long names are consistent with each other.

[2017-04-13 19:44] droazen commented on #2597
For @vdauwera and the 4.0 milestone.

[2017-04-13 19:48] droazen opened #2598 "Eliminate cryptic/unhelpful short argument names"
Some of our short argument names, like `-RF` for `--readFilter`, are useful, easily-recognizable abbreviations. Others, like `-CIPB` for `cloudIndexPrefetchBuffer`, are obscure and unhelpful. We should eliminate cryptic short names for little-used/advanced arguments, and have only a long name for such arguments.

[2017-04-13 19:48] droazen commented on #2598
For @vdauwera and the 4.0 milestone.

[2017-04-13 19:55] droazen opened #2599 "Modify assertVariantContextsAreEqual() to allow comparison to be done without regard to allele ordering"
This is needed for (and is a blocker for) the merge of https://github.com/broadinstitute/gatk/pull/2389

[2017-04-13 19:55] droazen commented on #2599
For @cmnbroad

[2017-04-14 13:36] cmnbroad commented on #1230
@droazen Curious why this was closed as obsolete ? We still have the tool, there are no tests, and I don't see an obvious Picard equivalent, at least with a similar name.

[2017-04-14 14:20] SHuang-Broad opened #2600 "Investigate varying number of k-mers and templates discovered in `FindBreakpointEvidenceSpark`"
Repeated runs of the mentioned tool results in different number of kmers and templates discovered, shown as below, which sometimes result in the number of variants discovered downstream to be slightly varying as well (so fart only the number of `DEL`s are observed to be affected).

[code]

@tedsharpe assigning to you as you are most likely to know where this randomness comes from. Thanks!

[2017-04-14 14:39] cmnbroad opened #2601 "Refactor HTSJDK vcf package to support codec/header versioning"
The VCFHeader and header line hierarchy classes in htsjdk need refactoring to fix a number of bugs, and to support clean handling of new versions of VCF and BCF. This work is mostly done, PR is [here](https://github.com/samtools/htsjdk/pull/835).

[2017-04-14 14:39] cmnbroad opened #2602 "VCF"

[2017-04-14 14:44] cmnbroad opened #2603 "Implement support for BCF 2.2"
Enables integration with GenomicsDB.

[2017-04-14 16:00] droazen commented on #1230
@cmnbroad Yes, you're correct -- this was closed in error, as I thought it was a Picard tool. Re-openning.

[2017-04-14 18:29] droazen opened #2604 "Replace MannWhitneyU with updated version from GATK3"
MannWhitneyU was re-written from scratch in 2016 in GATK3, but these changes never got ported to GATK4. This new version produces significantly different results from the version currently in GATK4, resulting in VERY different values for the `RankSumTest` annotations in `HaplotypeCaller` output.

[2017-04-17 19:34] jean-philippe-martin commented on #2517
@lbergelson can you confirm that the nightly run passed, or alternatively tell me where to look?

[2017-04-17 19:44] jean-philippe-martin commented on #2486
This corresponds to this gcloud issue:
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/684
"Provide an in-memory or local-disk emulator of the storage APIs for testing"

[2017-04-18 12:34] cmnbroad commented on #1230
When the tests are added, we should consider changing this tool to use the transform support built into the framework instead of manually applying it.

[2017-04-18 15:24] lbergelson commented on #2517
@jean-philippe-martin Sorry for the slow response, I was away last week.  Nightlies are fixed.  Looks good!  fixed by #2581

[2017-04-18 15:24] #2517 closed

[2017-04-18 15:37] lbergelson opened #2606 "Create a tool that summarizes differences between vcf files"

[2017-04-18 15:56] lbergelson commented on #2606
oops, this is basically a duplicate of #190

[2017-04-18 15:56] #2606 closed

[2017-04-18 16:00] droazen commented on #2087
Closing in favor of https://github.com/broadinstitute/gatk/issues/2590

[2017-04-18 16:00] #2087 closed

[2017-04-18 16:56] jean-philippe-martin commented on #2517
great, thank you @lbergelson !

[2017-04-18 18:55] gspowley commented on #2420
Added https://github.com/samtools/htsjdk/issues/859 to request HTSJDK feature to support non-default `InflaterFactory` for block compressed VCF files.

Closing this issue.

[2017-04-18 18:55] #2420 closed

[2017-04-19 13:20] geoHeil commented on #1524
I happened to see the same problem and created an issue with spark here https://issues.apache.org/jira/browse/SPARK-20389

[2017-04-19 14:02] droazen commented on #2599
Re-assigning to @lbergelson, as discussed at group meeting yesterday. @lbergelson can you make this your top priority for this week, since it is a blocker for merge of https://github.com/broadinstitute/gatk/pull/2389?

[2017-04-19 14:05] droazen opened #2608 "Add NIO support to https://github.com/broadinstitute/gatk/pull/2389"
Once https://github.com/broadinstitute/gatk/pull/2389 is merged, we need to make a simple PR against the tool to allow it to work with NIO, and add a GCS-based test case. This should be an easy change and < 1 day of work.

[2017-04-19 22:11] samuelklee opened #2609 "ReferenceUtils.loadFastaDictionary should throw a UserException if given an invalid .dict file."

[2017-04-21 22:15] droazen commented on #2590
This is done!

[2017-04-21 22:15] #2590 closed

[2017-04-21 22:15] droazen commented on #2608
This is done!

[2017-04-21 22:15] #2608 closed

[2017-04-21 22:58] droazen opened #2613 "Add --batchSize argument to GenomicsDBImport"
For @kgururaj / @kdatta and the beta milestone.

[2017-04-21 23:01] kdatta commented on #2613
thanks

[2017-04-24 14:21] droazen commented on #2613
@kdatta Note that a requirement of this feature is that the batch size should limit the number of simultaneous `FeatureReaders` open at any given time. Each `FeatureReader` has an NIO buffer around its byte stream to make queries over GCS performant, and maintaining too many of such buffers at once would likely exceed any reasonable memory limits.

[2017-04-25 19:30] lbergelson opened #2622 "prevent log4j error messages in spark"
We recently introduced some new log4j error messages on spark.

[code]

These are likely the result of an additional transitive log4j dependency from GenomicsDB introduced in #2389.

We should can probably stop them with additional exclusions in our spark build.

[2017-04-25 23:20] jean-philippe-martin commented on #2486
This dream may not be as Quixotic as the labels suggest, after all.

[2017-04-26 16:41] droazen opened #2623 "Implement marker annotation for experimental tools, and hook up to barclay"
We should be able to annotate a tool as, eg., `@Experimental`, at the class level, and have that information show up in barclay-generated docs.

For beta, as discussed with @vdauwera

[2017-04-26 16:44] droazen opened #2624 "Remove reference requirement from GenomicsDBFeatureReader constructor, if possible"
Currently we have to pass a reference file into the `GenomicsDBFeatureReader` constructor that takes a vidmap and callset JSON, like this:

[code]

We should try to remove the requirement to pass in a reference here, if possible, as it creates a lot of awkwardness for the engine.

@kgururaj @kdatta Can you comment on what the reference is currently being used for in `GenomicsDBFeatureReader`, and

[2017-04-26 16:45] droazen commented on #2613
@kgururaj @kdatta Is a PR for this coming soon? We're going to need this argument to be able to run the tool with more than just a handful of samples.

[2017-04-26 16:54] kdatta commented on #2613
@droazen, I thought you guys are going to give it a shot first. I'm on it. I'll create the PR.

[2017-04-26 16:56] droazen commented on #2613
Unfortunately we have not had the free time this week to do it ourselves, so we'd be grateful if you could take it on -- thanks!

[2017-04-26 17:17] kgururaj commented on #2624
The reference is used to obtain the reference base when a REF block gets split in the middle.
For example, if there are 2 samples:
S0: REF block interval chr1: [1, 100]
S1: REF block interval chr1: [1, 50]
The feature reader will create 2 reference block intervals chr1:[1-50], chr1:[51-100]. The reference base at chr1:51 can be obtained only from the reference genome.
This functionality is identic

[2017-04-26 17:25] droazen opened #2625 "Remove wasteful List -> array conversion in MannWhitneyU client code"
Currently we have to convert from `List` to array in `RankSumTest` when calling into `MannWhitneyU`:

[code]

Ideally we should avoid this wasteful conversion.

[2017-04-26 17:31] #2604 closed

[2017-04-26 17:49] cmnbroad commented on #2623
Dup of https://github.com/broadinstitute/gatk/issues/2560

[2017-04-26 17:49] #2623 closed

[2017-04-26 19:56] droazen commented on #2623
Whoops, thanks @cmnbroad !

[2017-04-26 20:02] sooheelee commented on #2591
Does every ROI require this much memory or does the memory requirement fluctuate? If we are parallelizing runs, then at any given moment do all the sites being processed require this much memory? Can the memory across the threads be shared?

[2017-04-26 20:50] droazen commented on #2591
@sooheelee We're talking about **peak** memory usage here. If we can get the peak memory usage below certain thresholds, we can provision cheaper machines on the cloud for this part of the pipeline.

Memory across threads can be shared, yes, but not across separate processes.

[2017-04-26 20:55] sooheelee commented on #2591
I'd be interested in knowing the composition/characteristics of sites that peak memory use.

[2017-04-26 21:00] droazen commented on #2591
I think typically they are bad/repetitive regions of the genome (eg., near the centromeres, for example) to which large numbers of reads get erroneously mapped. For `HaplotypeCaller` specifically, sites with large numbers of alleles / a complicated haplotype graph might also cause memory use and/or runtime to explode.

[2017-04-26 21:14] sooheelee commented on #2591
My understanding is that production excludes calling on the majority of such sites via their intervals list. So I'd be interested in knowing what is the fraction of these high memory sites of all the sites that go through graph assembly. Also, what fraction of these may be due to alternate haplotypes as represented by the ALT contigs in GRCh38.

[2017-04-26 21:20] droazen commented on #2591
@sooheelee Might be a question for @yfarjoun

[2017-04-27 01:46] eitanbanks commented on #2591
I'm pretty sure that we don't exclude any regions in the hg38 pipeline right now.

[2017-04-27 01:47] vdauwera commented on #2591
Yes we do, we run on a list of calling intervals that avoids empty/blackhole/timesuck regions.

[2017-04-27 01:48] eitanbanks commented on #2591
Are you talking about b37 or hg38?  I thought the only things missing in hg38 are where the reference is all Ns.

[2017-04-27 01:52] vdauwera commented on #2591
Hg38. Maybe you're right that it's only N regions -- I haven't actually looked.

[2017-04-27 02:17] yfarjoun commented on #2591
That is correct. N's only (on the main contigs, not including Y and MT)

We looked into the slow regions and didn't find anything worth doing.

On Wed, Apr 26, 2017 at 9:46 PM, Eric Banks <notifications@github.com>
wrote:

[2017-04-27 15:29] meganshand commented on #2586
It seems that there are some small numerical differences in apache commons Math3 Hypergeometric distribution.

In GATK3 we call the Hypergeometric distribution to get the probability directly, in GATK4 we call the Hypergeometric distribution to get the log of the probability. In these cases there are sometimes some very small rounding errors in the 15th or so least significant digit. The problem i

[2017-04-27 15:50] lbergelson opened #2628 "address pr review comments from #2626"
due to the urgent nature of it, we #2626 before addressing minor review comments

[2017-04-27 15:57] meganshand commented on #2586
On second thought there is an incredibly simple solution that R uses by including everything past 10e-7 as equal or more extreme.

[2017-04-27 16:47] droazen commented on #2613
@kdatta How's this ticket going? Run into any problems we can help with?

[2017-04-27 16:48] kdatta commented on #2613
@droazen, things are going good. I will push code today.

[2017-04-27 16:49] droazen commented on #2613
@kdatta Ok, thanks!

[2017-04-27 17:13] sooheelee commented on #2591
Thanks @eitanbanks for the clarification on our calling intervals using all regions in GRCh38 excepting Ns. So the peak memory use regions may or may not correspond to regions we previously excluded for b37 using intervals. But according to @yfarjoun, the slow regions were not slow enough to exclude for GRCh38. This reminds me--I believe GRCh38 was specifically designed in part to even out high co

[2017-04-27 19:07] lbergelson opened #2632 "class cast exception in GenotypeGVCFs"
tracking https://github.com/broadinstitute/gatk-protected/issues/1014

[2017-04-27 19:18] droazen commented on #2632
@kgururaj @kdatta Could you guys give us your thoughts on this error?

[2017-04-27 19:23] droazen opened #2633 "Demonstrate that GenomicsDBImport can physically run on 11k samples"
All that needs to be done here is prove that GenomicsDBImport can run on an 11k sample callset over a single interval without exploding or running out of memory. We don't need to hyper-optimize memory usage, or optimize the instance types for cost, etc.

We should also probably pair it with GenotypeGVCFs in a single WDL script, to make sure that tool doesn't blow up either.

Once done, we should s

[2017-04-27 19:24] droazen commented on #2633
@lbergelson Would you be able to make this your primary project for next week? (This is assuming that Intel's --batchSize argument hits master this week, since that is a pre-requisite for this ticket)

[2017-04-27 19:39] lbergelson commented on #2632
@droazen It's another bug of the type "the variant reader gives you back whatever the hell type of object it wants and you need to explicitely handle every case.  GenomicsDB is doing the right thing and handing over `int`, but we were expecting `String` because usually it does the wrong thing.

I opened a ticket in htsjdk to talk about getters that are agnostic to the underlying type, https://gith

[2017-04-27 19:41] droazen commented on #2633
Depends on https://github.com/broadinstitute/gatk/issues/2613

[2017-04-27 19:42] droazen commented on #2624
Alright, I guess this is not doable then -- closing!

[2017-04-27 19:42] #2624 closed

[2017-04-27 19:44] lbergelson commented on #2624
I'm not sure this isn't doable..  It might make sense to bake the reference file into the gendb so that they're kept together.

[2017-04-27 19:45] kgururaj commented on #2624
The other option is to insert "N" for the REF in the VC objects when a reference genome isn't passed. Some other downstream tool must figure out the right base.

[2017-04-27 20:01] lbergelson commented on #2624
I think it's probably better to require it be passed in than give N's.  I think N's will potentially cause a lot of chaos in downstream tools

[2017-04-27 20:01] kgururaj commented on #2632
I'm guessing if you pass the VCFCodec to the GenomicsDBFeatureReader the error will go away. The BCF2Codec gives the correct types if I remember.

[2017-04-27 20:03] #2586 closed

[2017-04-27 20:05] #2628 closed

[2017-04-28 12:27] droazen commented on #2632
@kgururaj Right, but we want the extra performance provided by using the BCF2Codec, if at all possible..

[2017-04-28 12:27] droazen commented on #2632
This is now fixed in protected/master -- closing

[2017-04-28 12:27] #2632 closed

[2017-04-28 15:34] droazen opened #2635 "GenotypeGVCFs doesn't index outputs on the fly"
It needs to call `GATKTool.createVCFWriter()` instead of `GATKVariantContextUtils.createVCFWriter()` in order to obey the engine argument `--createOutputVariantIndex`, which defaults to true.

[2017-04-28 15:34] droazen commented on #2635
@lbergelson Would you be able to do a quick PR today to fix this? If you don't have time, I can take it.

[2017-04-28 15:49] lbergelson commented on #2635
@droazen Pr is open here https://github.com/broadinstitute/gatk-protected/pull/1017

[2017-04-28 17:37] #2635 closed

[2017-04-28 18:18] lbergelson opened #2636 "GenomicsDBImport seems to be dropping rsIDs"
@kdatta @kgururaj It seems like we're losing rsID's in the input gvcf when we load them into genomics db.  Is this deliberate to save space?  Is it a bug? Is it a configuration option that isn't exposed by `GenomicsDBImport`?

I don't think it's important for production because they pass in a dbSNP at genotyping time so that can be recomputed, but it's causing issues in some of my tests.

[2017-04-28 21:03] droazen opened #2638 "Remove exclusions from GenomicsDBImportIntegrationTest assertions"
Currently in `GenomicsDBImportIntegrationTest` we have the following:

[code]

We should remove these exclusions once we're able to compare without regard to allele ordering.

[2017-04-28 21:03] droazen commented on #2638
Depends on https://github.com/broadinstitute/gatk/issues/2599

[2017-04-28 21:08] droazen opened #2639 "Avoid loading all headers up-front in GenomicsDBImport, if possible"
Loading all the headers up-front to get the sample names and create a merged header in `GenomicsDBImport` is going to be very expensive over GCS with large numbers of samples. Let's try to find a way to avoid this (eg., could we pass in a list of samples explicitly, plus a vcf whose header to treat as canonical?)

[2017-04-28 21:09] droazen commented on #2639
For @lbergelson as part of https://github.com/broadinstitute/gatk/issues/2633

[2017-05-01 12:46] #2390 closed

[2017-05-01 14:03] droazen commented on #2633
Here's a suggested set of things to look at as part of this ticket:

-See if we can avoid fetching all headers on startup by passing in the needed info via alternate args (https://github.com/broadinstitute/gatk/issues/2639)

-Hook up --batchSize when it's ready, and do profiling to find an appropriate value (https://github.com/broadinstitute/gatk/issues/2613)

-Shrink NIO buffers (--cloudPrefetchB

[2017-05-01 14:07] droazen opened #2640 "Shrink NIO buffers sizes for GenomicsDBImport down to the smallest values that still give good performance"
`--cloudPrefetchBuffer` and `--cloudIndexPrefetchBuffer` default to 40 MB, which is far too large for the `GenomicsDBImport` tool, as we are allocating 80 MB of buffer per reader. This will limit the number of samples we can batch together, and degrade GenomicsDB performance as a result.

Let's find the smallest values for these arguments that still give acceptable performance. We can do this by r

[2017-05-01 14:07] droazen commented on #2640
@Horneth of red team has volunteered to take this on this week

[2017-05-01 14:10] droazen commented on #2640
Note that it's possible that we will need more buffer space for the index than for the main file -- we should experiment with both runs that pass in the same value for `--cloudPrefetchBuffer` and `--cloudIndexPrefetchBuffer`, and runs that pass in different values for these arguments.

[2017-05-01 14:14] droazen commented on #2640
Example command line for running GenomicsDBImport:

[code]

Where ${WORKSPACE_DIR} is the directory to which to write the output, and the `-L` option is given a genomic interval of appropriate size. Note that you'll want to consult @eitanbanks or @kcibul to find out what a realistic/plausible interval size for this tool will be in the final pipeline.

[2017-05-01 14:18] droazen opened #2641 "Find a good default value for --batchSize in the GenomicsDBImport tool"
This argument controls the number of simultaneous readers open in the tool, and is therefore a way of controlling memory use. We want to find a value for this argument that controls memory use effectively while still not harming GenomicsDB performance too much by fragmenting the database.

As part of this, we should determine whether we need to run consolidation/defragmentation on GenomicsDB after

[2017-05-01 14:19] droazen commented on #2641
For @lbergelson as part of https://github.com/broadinstitute/gatk/issues/2633

[2017-05-01 14:20] droazen commented on #2641
Depends on https://github.com/broadinstitute/gatk/issues/2613

[2017-05-01 14:21] droazen commented on #2633
Depends on https://github.com/broadinstitute/gatk/issues/2639, https://github.com/broadinstitute/gatk/issues/2641, and https://github.com/broadinstitute/gatk/issues/2640

[2017-05-01 15:45] lbergelson commented on #2575
closing this since it's done https://docs.google.com/document/d/1i2ldNfYp7ZX1lqpti7vjO9W0joqt1jTSqHTUxRl_TYM/edit

[2017-05-01 15:45] #2575 closed

[2017-05-01 22:58] kdatta commented on #2536
@droazen, we have a failIfUpdating flag in GenomicsDB which throws an IOException if one tries to update an existing instance. Once issue #2613 gets merged, I can add this functionality

[2017-05-02 13:28] samuelklee opened #2644 "BQSR.R resource script not found."
See http://gatkforums.broadinstitute.org/gatk/discussion/9487/no-plots-produced-by-analyzecovariates-gatk4-alpha

[2017-05-02 17:15] Horneth commented on #2640
I shared a Gdoc with some info about the runs I've done so far. As you'll see the 2 flags don't seem to make much difference in terms of runtime and even memory usage on the VM which is surprising.
Am I missing something ?

[2017-05-02 17:40] lbergelson commented on #2640
@Horneth Thank you.

It's very strange.  I would expect to see a difference.   I wonder if something is wrong with the wiring of those arguments.  What version of gatk are you running? (you can find out by using --version`)

I'm not sure what to make of the memory usage.  I'm not sure that `free` will tell you anything useful about java memory, since java usually expands to fill all available memo

[2017-05-02 17:41] lbergelson commented on #2640
Hmn, on further inspection, I'm not sure there is any version that didn't have those arguments wired up.  Maybe there's a bug somewhere in there...

[2017-05-02 18:40] Horneth commented on #2640
I found something interesting maybe. For this run http://jg-11k.dsde-cromwell-dev.broadinstitute.org:8000/api/workflows/v2/ff0fd97b-e5f2-4cab-84de-672d706013c7/timing

The first 2 shards (40MB and 20MB) failed with OutOdMemory but the other ones didn't (10, 5, 2, 1, 0)
The timing doesn't show that because as soon as the first one failed Cromwell stopped tracking the other ones but I looked at all

[2017-05-02 21:28] meganshand opened #2647 "Option to generate index on inputs if one doesn't exist"
It would be helpful to have an option that allows GATK to generate a new index for a VCF or BAM instead of blowing up when running any tool. (The same could be true for out of date indices, it would be nice to have an option that doesn't crash in these cases.)

[2017-05-02 21:34] droazen commented on #2647
We generate indices on output files, but we decided not to auto-generate indices on input files in GATK4. We included tools `IndexFeatureFile` and `BuildBamIndex` that can generate these indices on-demand. Indexing inputs automatically is inherently racy/dangerous in the face of multiple processes sharing inputs unless you do things like file locking, which comes with all sorts of portability issu

[2017-05-02 21:54] lbergelson commented on #2647
We could generate a temporary index in a unique location.

[2017-05-02 22:01] meganshand commented on #2647
I would want it to be an option that I'd have to opt into. It makes sense for the use case in the cloud where you end up copying files into an individual VM.

I'd also be happy with a temp file in a unique location. I'm not actually interested in using the index file again, I just want the tool to run without blowing up.

[2017-05-03 00:42] #2644 closed

[2017-05-03 12:59] Horneth commented on #2640
I updated the doc with some more info.
TLDR: with 100 samples there is a visible difference between different buffer size in terms of memory usage. However the tool seems to not exit properly when it runs out of memory, leaving the VM hanging.

[2017-05-03 13:36] kcibul commented on #2640
How much memory are you giving java (-Xmx parameter) and how much total
memory does the VM have?  I've seen odd behavior when the VM doesn't have
enough headroom (~1-1.5gb) and processes start to die once Java consumes
everything it can right before it OOMs.  Might be why you're seeing hanging
on OOM errors?

-------------------------------
Kristian Cibulskis
Engineering Director, Data Sciences &

[2017-05-03 13:38] Horneth commented on #2640
I asked for 32GB, got ~50 and gave the JVM 28GB.

[2017-05-03 14:29] droazen commented on #2640
@Horneth:

- With 100 samples, is the tool always running out of memory, or is it only running out of memory with certain buffer sizes?

- If I'm interpreting your document correctly, you found that with a buffer size of 0 or 1, performance degrades by 10%, is that right?

- Can you post the file sizes involved here? Both the size of the original GVCF inputs, *and* the size of the data from those

[2017-05-03 17:01] jean-philippe-martin commented on #2640
I can confirm that in my own extensive runs of the tools I've seen it sometimes get hung when out of memory instead of exiting (resulting in bad data for that run). My own benchmarking was with PrintReads on a large file, using various cache buffer sizes. I remember seeing an increase in performance up to about 50MB buffer size and then it flattened out. I would expect a more CPU-intensive (or a m

[2017-05-03 17:04] jean-philippe-martin commented on #2640
@Horneth: what @lbergelson said. Java will use all of the memory you give it, regardless of how much the program asks for. The only difference is how long it takes until the memory's used up and the garbage collector needs to kick in. Thus lowering the memory requirements of a Java program tends to increase its performance, up to the point where we cut memory that it needed.

I would suggest eithe

[2017-05-03 17:24] kcibul commented on #2640
btw -- here is a representative shard/interval (chr1:820849-1000848)

[2017-05-03 17:34] droazen commented on #2640
@Horneth Are you using single-core machines? You should be running this tool on at least 2 cores.

[2017-05-03 17:37] lbergelson commented on #2640
I assume this is on a many core machine since it has upwards of 30g memory...

As an addendum to what @jean-philippe-martin was saying about garbage collection, we're interested in the maximum size of the memory AFTER a full garbage collection, which should roughly correspond to the minimum required memory to run the program.  You can have java output information about this by providing the `-XX:-

[2017-05-03 17:42] davidbenjamin commented on #2267
Closed by @takutosato in broadinstitute:gatk-protected#922

[2017-05-03 17:43] #2267 closed

[2017-05-03 18:09] Horneth commented on #2640
Here is what I have so far: https://gist.github.com/Horneth/4e52b94ae1f5a5ea654c2fa0f3a4139e

[2017-05-03 18:14] davidbenjamin commented on #2509
Closed by #2649

[2017-05-03 18:14] #2509 closed

[2017-05-03 19:45] davidbenjamin commented on #1038
@samuelklee is this issue still relevant?

[2017-05-03 19:47] davidbenjamin commented on #1105
@cwhelan are issues #1102 - #1106 resolved in gatk-protected?

[2017-05-03 19:50] cwhelan commented on #1105
We don't do any work in gatk-protected. Are you wanting to close these issues?

[2017-05-03 19:51] cwhelan commented on #1105
They are pretty out of date, I'll close the no-longer relevant ones.

[2017-05-03 19:51] #1105 closed

[2017-05-03 19:51] #1101 closed

[2017-05-03 19:51] #1103 closed

[2017-05-03 19:52] #1104 closed

[2017-05-03 19:52] davidbenjamin commented on #1105
Yeah, I was just going through issues to fix in my 20% time and came across these.

[2017-05-03 19:52] cwhelan commented on #1106
Outdated

[2017-05-03 19:52] #1106 closed

[2017-05-03 19:52] #1102 closed

[2017-05-03 20:01] lbergelson opened #2652 "give prefetching threads useful names"
Currently the prefetcher threads all show up as something like "thread-pool-1-thread-1".  It would be nice if we could give them a name so it's immediately clear in the profiler what they are.  It looks like this can be done with a custom thread factory.  Guava has one that should make this easy,
`new ThreadFactoryBuilder().setNameFormat("nio-prefetcher-thread-%d").build()`

[2017-05-03 20:05] lbergelson commented on #2652
@jean-philippe-martin A really trivial one here if you get the chance.

[2017-05-03 20:08] samuelklee commented on #1038
@asmirnov239 will start working on unifying WES/WGS coverage collection in a Spark tool in the next couple of weeks.

[2017-05-03 22:17] samuelklee commented on #2166
Closed in #2650.

[2017-05-03 22:17] #2166 closed

[2017-05-04 04:14] #2145 closed

[2017-05-04 13:23] droazen opened #2658 "RMSMappingQuality explodes when there are 0 reads"
@kcibul reports getting the following error while running `GenotypeGVCFs`:

[code]

I think this might be a bug, or at least a case of over-aggressive error checking. We have an extra check in our version of `RMSMappingQuality` that is not present in the GATK3 version:

[code]

We should match the GATK3 behavior in this case, unless we can **prove** (and not merely infer) that GATK3 also explodes.

[2017-05-04 13:26] droazen commented on #2658
Would also be good if annotation expert @ldgauthier could chime in with her thoughts on this as well.

[2017-05-04 14:31] ldgauthier commented on #2658
Two weird things about the GTs -- sample 09C99383 is homVar but has no reported DP and sample 10C102545 is a DP 1 no-call (probably not the issue)

@kcibul are the gVCFs and TileDB used as input still around?  Something odd happened in at least one place upstream of this error.

Also, should be "0 or fewer reads" :-P

[2017-05-04 15:29] lbergelson commented on #2658
@droazen @kcibul Would it be possible to dump the combinedGvcf from the merged tiledb here so we could try running that line through gatk3?

I'm very certain that if that method exits with 0 in gatk3 or gatk4 it will immediately result in a divide by 0 exception.  I can't be 100% sure that this case would exit with 0 in gatk3 without actually testing it though.

If we were to assume that the resul

[2017-05-04 15:37] ldgauthier commented on #2658
I'd like a gVCF snippet for sample 09C99383 if that's possible.  If we assume that genomicDB is faithfully merging gVCFs, then there was something wrong going in.

[2017-05-04 15:56] kcibul commented on #2658
On it --

[2017-05-04 17:51] #2583 closed

[2017-05-04 18:22] kcibul commented on #2658
@ldgauthier the GVCF for that sample is at gs://broad-jg-dev-storage/temp/09C99383.91c5a812-70c5-4526-a3a2-3e99b9cf08fb.g.vcf.gz

[2017-05-04 18:24] kcibul commented on #2658
... and the list of the 10 GVCFs that were used are at:
 gs://broad-jg-dev-storage/jg_scale_testing/hg38_scale_test_10.gvcf_list

[2017-05-04 19:05] lbergelson opened #2660 "update scripts and help with new gcloud auth application-defaults login"
I saw this message recently when running gcloud:

[code]

It looks like we may have to update our travis script / our instructions for running on cloud files at some point in the near future.

[2017-05-04 19:47] droazen commented on #2660
@lbergelson The instructions in our README are up-to-date, I believe:

[code]

[2017-05-04 19:58] lbergelson commented on #2660
Oh, so they are.  I'm the one that is out of date I guess.

[2017-05-04 19:58] #2660 closed

[2017-05-05 02:48] davidbenjamin commented on #1902
There are probably more elegant approaches than this.

[2017-05-05 02:48] #1902 closed

[2017-05-05 06:34] david-wb opened #2666 "Shutdown hook called before final status was reported."
Hi,
I am experimenting with submitting a PrintReadsSpark job to a yarn spark cluster in AWS. I run the job with the following command.

[code]

I can see from the output files that the job finished successfully, however the cluster tells me that it failed. It shows the following error message:

[code]

I believe this may be due to the `System.exit(0)` statement at line 144 in hellbender.Main, thou

[2017-05-05 14:30] ldgauthier commented on #2658
I'm not sure I have access to that bucket -- which project is it associated with?

[2017-05-05 15:18] lbergelson commented on #2666
Hi @david-wb

I reformatted your comment slightly to make the stack trace more legible, I hope you don't mind.

I suspect your intuition about the System.exit(0) is entirely correct.  I suspect we haven't noticed it because we typically run in yarn client mode and you're running in cluster mode.

Two questions:
1.  How often does it happen?  Can you regularly reproduce it?
2.  Have you examined th

[2017-05-05 15:19] lbergelson commented on #2658
I also can't access those files.  Who can grant access to them?

[2017-05-05 15:20] lbergelson commented on #2658
@ldgauthier A copy of the generated genomics db and the combined gvcf extracted from it with SelectVariants is here: gs://broad-dsde-methods/kcibul/bug_for_louis

[2017-05-05 15:53] ldgauthier commented on #2658
It doesn't explode in GATK3 -- I had to drop -stand_call_conf to 10 to get it to output, then I got MQ=NaN.

The NaN/explosion is my fault -- pulling the DP from the format field seemed like such a good idea at the time, but it's just causing problems.  I had a ticket open for it, but the particular test case got fixed in another way.  I'll open another ticket.

[2017-05-05 16:04] ldgauthier opened #2668 "Add new numReads annotation for better stability of new MQ calculation"
Using DP from the format field was a terrible idea because uninformative reads cause problems.  We get MQ=NaN from VCs like this:

 [VC UG_call @ chr1:143249103 Q38.86 of type=SNP alleles=[C*, T] attr={DP=14, ExcessHet=3.0102999210357666, MLEAC=[2], MLEAF=[0.25], RAW_MQ=0.0} GT=[[09C81377 C*/C* GQ 6 DP 5 PL 0,6,90 {MIN_DP=4}],[09C83237 C*/C* GQ 3 DP 6 PL 0,3,45 {MIN_DP=6}],[09C97255 ./. DP 0 PL 0,

[2017-05-05 16:04] ldgauthier commented on #2658
@kcibul I'd still like the gVCFs for debugging and as test data for https://github.com/broadinstitute/gatk/issues/2668

[2017-05-05 16:16] droazen commented on #2658
@ldgauthier We've decided to replicate the GATK3 behavior in GATK4 for now and just generate NaNs. This is preferable to an explosion, and would unblock @kcibul while we await the definitive fix you've proposed in https://github.com/broadinstitute/gatk/issues/2668. We should also still keep this ticket open to try to get to the bottom of the weirdness in the GTs you mentioned above, of course (eg.

[2017-05-05 16:40] #2613 closed

[2017-05-05 16:42] droazen commented on #2633
Update: https://github.com/broadinstitute/gatk/issues/2641 is now done

[2017-05-05 17:23] david-wb commented on #2666
1. Yes it it reproducible. It happens every time.

2. No, I have not examined the output files, but I have run the same app on my local machine with
`
spark-submit --master local[2] gatk-package-4.alpha.2-252-gf627ed4-SNAPSHOT-spark.jar PrintReadsSpark -I chr1.bam -O output.bam
`
And the output.bam has nearly the same size in bytes as the output from the yarn cluster. The output .bai files have id

[2017-05-05 17:28] ldgauthier commented on #2658
Yep, that's what I expected.  VQSR will smooth over the NaNs.

[2017-05-05 18:21] droazen commented on #2658
Re-opening this issue -- we shouldn't close it until we've examined the GVCFs in question, as there might be deeper problems here.

[2017-05-05 18:40] droazen opened #2670 "Make it possible for tools to override the default NIO buffer sizes"

[2017-05-05 18:45] droazen commented on #2640
We've shrunk the defaults for the tool down to 2 MB in https://github.com/broadinstitute/gatk/pull/2671 based on our initial results. This may be adjusted further in response to additional profiling.

[2017-05-05 18:48] #1305 closed

[2017-05-05 19:28] droazen commented on #2071
@meganshand is handling this

[2017-05-05 20:05] meganshand commented on #2071
Some notes:

- Allele subsetting utils might account for some of these changes (I'll open a ticket for this)
- ExcessHet calculation might be the same but it's getting changed after the fact
- Some RankSums are being calculated in GATK4 where it's not in GATK3
- We should turn off jitter for QD to make sure they are the same

[2017-05-05 20:12] meganshand opened #2674 "Does AlleleSubsettingUtils change the output behavior of GenotypeGVCFs from GATK3?"
@davidbenjamin We're seeing some differences in the number of ALT alleles that are output by GenotypeGVCFs in GATK3 vs GATK4. We're also wondering if this might be effecting differences in the annotations. Here's an example site generated from a 2k callset:

GATK3 output:
[code]

GATK4 output:
[code]

I'm happy to provide more test data if needed and I have the input that generated this site.

[2017-05-05 20:34] #2670 closed

[2017-05-05 20:36] fleharty commented on #2587
@lbergelson Do you have any input that reproduces these negative annotations?

[2017-05-05 20:37] meganshand commented on #2587
I have some input. If I give you a gvcf and a site location would that be enough?

[2017-05-05 20:55] meganshand commented on #2587
I put the input gVCF here: `/humgen/gsa-hpprojects/dev/mshand/palantir/Analysis/535_GenotypeGVCFs/inputVCF/shard-314.vcf.gz` (NOTE: this gVCF is hg38)

It seems that this happens for a bunch of different rank sums, but they happen at different sites. Here are some examples:

CHROM | POS | Type of RankSum
---|---|---
5 | 43293574 | BaseQRankSum
5 | 43299622 | ClippingRankSum
5 | 43515428 | MQRankSu

[2017-05-05 21:07] lbergelson commented on #2587
Also important to note that that gvcf is not shareable publicly, so variants from it can't be directly added as test examples.

[2017-05-05 21:08] droazen commented on #2674
Assigning to @davidbenjamin to comment

[2017-05-05 21:11] meganshand commented on #2071
Two follow ups from our meeting:

- Word count on the two output VCFs matches, so I'm hopeful that the sites are identical (this is mostly confirmed by GenotypeConcordance as well)

- I double checked the number of things in the ALT field (as a separate thing from my VariantsToTable version of AC) with cut and awk. After putting the results back into R I get an identical table to the one we saw be

[2017-05-06 00:47] mgujral opened #2676 "Error with java -jar gatk-protected-package-version-unknown-SNAPSHOT-spark.jar"
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.SecurityException: Invalid signature file digest for Manifest main attributes
	at sun.security.util.SignatureFileVerifier.processImpl(SignatureFileVerifier.java:314)
	at sun.security.util.SignatureFileVerifier.process(SignatureFileVerifier.java:268)
	at java.util.jar.JarVerifier.proce

[2017-05-07 05:16] SHuang-Broad commented on #1805
not important any more as we are phasing out SGA.

[2017-05-07 05:16] #1805 closed

[2017-05-08 14:42] fleharty commented on #80
@droazen My understanding is that tagged inputs were removed from GATK4, is there a plan to reintroduce them?

[2017-05-08 16:53] LeeTL1220 opened #2678 "Refactor backend LocusWalker iterator (currently LocusIteratorByState) to support emitting uncovered/"empty" loci"
See https://github.com/broadinstitute/gatk/pull/2661 for more information from @magicDGS .

 Encapsulating the uncovered loci traversal functionality outside of the LocusWalker would be helpful for several reasons that will not be detailed here.

[2017-05-08 16:55] LeeTL1220 opened #2679 "Add emitting of uncovered/"empty" to LocusWalkerSpark."
For more details, see...
https://github.com/broadinstitute/gatk/pull/2661

Also, see #2678 for an easier solution.

[2017-05-08 16:57] cmnbroad commented on #80
@fleharty There is a plan to reintroduce them - see #2473.

[2017-05-08 18:35] lbergelson opened #2680 "remove mutex argument checking code in GenomicsDBImport"
Due to https://github.com/broadinstitute/barclay/issues/52 we have code to check for mutually exclusive required arguments in GenomicsDBImport.

Once that issue is corrected we should remove that code.

[2017-05-08 20:09] lbergelson commented on #2652
closed by #2654

[2017-05-08 20:09] #2652 closed

[2017-05-08 20:10] #2639 closed

[2017-05-08 22:24] meganshand commented on #2071
Rerunning with the OldQual vs OldQual (instead of NewQual vs NewQual) helped immensely (although there are still differences). Now none of the genotype calls change between GATK3 vs GATK4.

InbreedingCoefficient still has a large number of differences. The RankSums still have some NAs. Other than those two cases, most of the annotations still have differences just in smaller numbers than before.

[2017-05-09 13:34] ldgauthier commented on #2658
I think the gvcfs are okay - I got confused by the genotype toString even
though Louis warned me that it's terrible.

---------------------------------------
Laura Doyle Gauthier, PhD
Computational Biologist
Data Sciences and Data Engineering
Broad Institute of MIT and Harvard
gauthier@broadinstitute.org

On May 5, 2017 2:21 PM, "droazen" <notifications@github.com> wrote:

[2017-05-09 14:59] droazen commented on #2674
@davidbenjamin Have you had a chance to look at this yet? Any preliminary findings to share? :)

[2017-05-09 15:14] davidbenjamin commented on #2674
@droazen I have a clear picture of what's happening in GATK 4 `GenotypeGVCFs`.  Now I need to trace the code in GATK 3.

[2017-05-09 16:06] droazen opened #2683 "GenomicsDBImport is not hooked up to its progress meter"
This tool always emits "Processed 0 total records" at traversal end. We just need to hook it up to the standard progress meter.

[2017-05-09 16:46] lbergelson commented on #2683
I think we'll need to generalize the progress meter slightly to allow for different wording in the output message.  (and the position column will make no sense for this tool).

[2017-05-09 16:50] droazen commented on #2683
Yeah, I'm making that change in a branch right now.

[2017-05-09 18:25] Horneth opened #2685 "NIO SSL Exception in GenomicsDBImport"
I was running a WDL task with GenomicsDBImport followed by GenotypeGVCFs.
It failed with the following stderr:

[code]
The error seems to appear after `org.broadinstitute.hellbender.tools.genomicsdb.GenomicsDBImport done. Elapsed time: 19.15 minutes.` is logged which is surprising.

[2017-05-09 18:29] lbergelson commented on #2685
So that message gets printed at the time of the stack trace.  It doesn't actually mean that the program completed successfully.  We may want to change that...

[2017-05-09 18:32] lbergelson commented on #2685
Also, this seems to be a transient error that happens at random.  @jean-philippe-martin Have you seen this one before? Is it occurring outside of the retry code that you put in?

[2017-05-09 18:37] droazen commented on #2685
Assigning to @jean-philippe-martin for an answer -- seems like our retries are not covering every kind of GCS error?

[2017-05-09 18:37] lbergelson opened #2686 "htsjdk.samtools.FileTruncatedException in GenomicsDBImport"
@kcibul encountered the following transient error when running GenomicsDBImport with vcfs in GCS.

[code]

This was run with prefetching on and buffers of size 2.  It's worry some that we seem to be seeing corrupted data, and not an IOException.

[2017-05-09 18:38] droazen opened #2687 "GenomicsDB: max # of alleles should be configurable"
We're seeing messages like the following when running `GenomicsDBImport`:

[code]

Is this limit of 50 configurable, if we wanted to raise it, and if not, could it be made configurable?

[2017-05-09 18:39] droazen commented on #2687
Assigning to @kgururaj and @kdatta for an answer.

[2017-05-09 18:47] jean-philippe-martin commented on #2685
@lbergelson to answer your question I haven't seen this error before. I don't think we auto-retry for this one.

[2017-05-09 18:48] lbergelson commented on #2686
@jean-philippe-martin Any thoughts on how this one is possible?  I'm assuming it was some sort of network error because it's transient.

[2017-05-09 19:02] droazen commented on #2685
@jean-philippe-martin Do you know of any easy way to add a retry for this case? If yes, would you have time to submit a patch?

[2017-05-09 19:04] Horneth commented on #2685
Just as feedback we use gcs nio too in Cromwell and have had to add retries around this error as it has popped up every now and then.

[2017-05-09 19:06] Horneth opened #2688 "Too many alleles warning in GenotypeGVCFs"
running GenotypeGVCFs on test data produced warnings such as

`Column 948660 has too many alleles in the combined VCF record : 61 : current limit : 50. Fields, such as  PL, with length equal to the number of genotypes will NOT be added for this location.`

It seems like the limit might need to be raised / raisable ?

[2017-05-09 19:08] droazen commented on #2688
Closing -- duplicate of https://github.com/broadinstitute/gatk/issues/2687

[2017-05-09 19:08] #2688 closed

[2017-05-09 19:09] Horneth commented on #2688
oops sorry -_-

[2017-05-09 19:10] droazen commented on #2687
@lbergelson and @ldgauthier have confirmed that GATK CombineGVCFs (the predecessor to GenomicsDB) also had this same limit, so GenomicsDB is not doing anything radically new here. This ticket is just to ensure that the limit is configurable if it already isn't

[2017-05-09 19:12] droazen commented on #2685
@Horneth Do you happen to have a pointer to the location in your codebase where you implemented this particular retry?

[2017-05-09 19:30] lbergelson opened #2689 "Many warnings about missing combiners"
We get a lot of warnings like this when we run GenomicsDBImport:

Not emitting these is the correct behavior, but it would be nice if we didn't get warnings about it.

@kgururaj @kdatta Could we add a `DO_NOT_EMIT` combiner?  Or really, it would be best to not store these fields at all.

[code]

[2017-05-09 19:31] lbergelson commented on #2685
It seems like the best thing would be if we could push the retry behavior into the NIO library.  Other than that I think we may just have to rely on job level retry.

[2017-05-09 19:31] Horneth commented on #2685
This is the method we use to determine whether or not we should retry an error.

https://github.com/broadinstitute/cromwell/blob/develop/engine/src/main/scala/cromwell/engine/io/IoActor.scala#L158

The "how is it retried" is a bit spaghetti but basically it's asynchronous exponential backoff up to a certain number of retries.

[2017-05-09 19:46] cmnbroad commented on #2592
After experimenting with this a bit, I think using failOnVersionConflict is too inflexible. Currently, we're silently picking up newer versions of dependencies because we're relying on Gradle's default resolution strategy. But if we switch to using failOnVersionConflict, we'll have to resolve each conflict manually, and then we'll have the opposite problem: we'll silently remain pinned to older ve

[2017-05-09 20:21] droazen opened #2691 "GATK shouldn't dump all htsjdk properties to the logger"
Currently we dump all htsjdk properties in `Defaults` to the logger, even though only a few are applicable to GATK:

[code]

We should subset these down to only the relevant ones.

[2017-05-09 20:54] Horneth commented on #2685
Here is another one
[code]

[2017-05-09 20:54] kgururaj commented on #2689
I think we will add a logger for GenomicsDB with configurable verbosity - but this is low priority for us.

[2017-05-09 20:56] kgururaj commented on #2687
Will add a variable to our Protobuf configuration object - the JSON already an option to set this.

[2017-05-09 21:01] lbergelson opened #2693 "gradle clean doesn't clean gatkDoc"
`./gradlew clean` doesn't remove the generated gatkDoc, but it should.

Also, gatkDoc should be added to `.gitignore`

It might make sense to output the gatk docs into the build/docs/gatkdoc folder instead of into the root directory, which would void the previous two issues.

[2017-05-09 21:03] lbergelson commented on #2693
http://stackoverflow.com/questions/26830284/clean-task-does-not-clean-up-specified-outputs-file has a few options

[2017-05-09 21:19] lbergelson commented on #2689
A logger with configurable verbosity would be great, but low priority is fine.  This is a very low priority issue.

[2017-05-09 21:25] lbergelson commented on #2666
@david-wb Thanks for the detailed information.  That's really helpful.   I don't think we're going to be able to get to this for the next few weeks since we're pretty swamped with work for our beta release.        Hopefully it's not blocking you since it seems like the output of the tools is correct.  We'll get back to you when we have a proposed PR for a fix that you can test.

[2017-05-09 21:58] droazen commented on #2685
One variable that we need to control for is OpenJDK vs. Oracle JDK. Apparently these errors happened with OpenJDK, which is known to be flakier in the networking department than Oracle JDK. We should test with Oracle's JDK and see if the errors persist.

[2017-05-09 22:29] jean-philippe-martin commented on #2685
Just to double-check, does GenomicsDBImport use getPathOnGcs or manually set maxChannelReopens on the files it opens?

[2017-05-09 22:30] jean-philippe-martin commented on #2685
On another note, if we really have hundreds of readers in parallel it's possible they're being throttled by GCS and that may be why we're seeing opens fail. GCS is counting on us backing off to reduce its load.

[2017-05-09 23:08] david-wb commented on #2666
Sounds good. I can also run in client mode for the time being.

[2017-05-10 00:19] droazen opened #2694 "Mechanism for passing JVM args into gatk-launch when using a packaged jar"
Currently we're only able to pass in JVM args to `gatk-launch` when running off of a non-packaged build. We just need to add a `--jvmArgs` or similar arg to the script.

[2017-05-10 16:27] mschroering opened #2696 "Added support for inputs from AWS S3 using EMRFS"
[EMRFS](http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-fs.html) is an implementation of HDFS.   For AWS users, being able to use S3 as a HDFS filesystem would be desirable.

[2017-05-10 18:00] LeeTL1220 opened #2697 "Automated testing of docker image in travis"
GATK4 should alert developers if a change in a pull request has broken the docker image.  Functionality should be similar to TEST_DOCKER in the travis yml of gatk-protected.  In other words, one of the entries in the test matrix should build the gatk4 docker image (does not have to rebuild the gatk4 base image) and then run the unit tests in the image.  ``build_docker.sh`` will include the steps t

[2017-05-10 18:21] SHuang-Broad opened #2698 "Re-packaging SV pipeline classes"
We have 50 classes now. Time to split up.

[2017-05-10 18:26] LeeTL1220 opened #2699 "The custom R library installation can be moved into the docker base image (gatkbase), if desired"
Once #2457 is merged, the gatkbase docker image will be the basis for GATK4 docker images.  However, gatkbase depends on no files in the GATK4 repo.  However, we *might* want to move the installation of R libraries into gatkbase.  Currently the custom R installation script takes a substantial portion of time in the GATK4 docker image build.  The question is whether we expect the R libraries to cha

[2017-05-10 18:36] LeeTL1220 opened #2700 "Can we stop relying on the working directory when we create the docker image?"
(assumes that #2457 is already complete)
Currently, the docker image creation will grab all the local files, which is prone to error.  The github hash/tag parameters are simply to determine how to tag the image in docker hub.  In gatk-protected, we used to actually grab the source code from github in the Dockerfile.  I'm not suggesting we go back to this model.

What we might want to consider:
The

[2017-05-10 18:44] lbergelson commented on #2699
I would support pre-installing the R libraries into the base image.  Installing R libraries is slow and tend to fail at random because CRAN isn't as reliable as our other dependencies.  We just need keep the docker file for the base image around so we can rebuild it with new libraries if we need to.

[2017-05-10 19:07] LeeTL1220 commented on #2700
Also, the current process risks people dropping a bunch of extraneous files into the image (such as irrelevant build artifacts) that slow down the build process and make the image itself larger.

[2017-05-10 21:26] SHuang-Broad opened #2702 "Filter Inversion breakpoint calls"
1st step in
 * connecting inversion breakpoints and
 * making discoveries of one type of complex event:
 simple inversions with small-medium sized ins/del around breakpoints.

[2017-05-10 21:27] SHuang-Broad opened #2703 "Make discoveries in complex events"
As there are many possibilities, will tackle different types differently first.
First deal with #2702

[2017-05-11 02:11] cattlepotato opened #2705 "how does the BwaSpark in GATK4 control the number of threads?"
I tried to ERR000589 process data with BwaSpark. The bam file size is 1.3G. The average time spent is about 25 min (5 nodes).
However it would only cost 5 min in processing same data if I tried to use original C bwa with 32 threads.
Base on this observation, I have several questions list as follow:
1. If there is anything wrong with my params?
2. For each Partition, is BwaSpark running in multi-th

[2017-05-11 13:48] lbergelson opened #2706 "non-cloud tests on travis should be run without gcloud logged in"
We recently discovered that some of the tests we didn't think required google cloud authentication require that gcloud be initialized.

Travis didn't catch this because we always initialize gcloud in order to do log uploading.  We should change this so it's only initialized during the tests for the cloud tests.

The actual error we discovered didn't require that credentials be correct, only that a

[2017-05-11 13:50] droazen commented on #2706
Closing -- I looked at these tests, and it's my belief that all of them should be marked as "bucket", except for one test in `PSUtils` that was poorly written and fails when run as root.

[2017-05-11 13:51] droazen commented on #2706
Re-opening, as I misunderstood the purpose of this ticket :)

[2017-05-11 13:56] lbergelson opened #2707 "BucketUtils.isCloudStorageUrl throws exception if default project isn't set"
[code]
throws
[code]

This should be a safe method to call.  We should either refactor this method or we change NIO to not throw in this case.

[2017-05-11 14:28] lbergelson commented on #2706
@droazen I actually don't think most of those tests should be `cloud` tests.
 BucketUtilsTest.testIsCloudStorageURL for instance. It seems dangerous if that method requires being logged into gcloud.  Separate issue for that here: https://github.com/broadinstitute/gatk/issues/2707

[2017-05-11 14:30] lbergelson commented on #2706
calling `isCloudStorageUrl` should be decidable without logging in.

[2017-05-11 14:31] droazen commented on #2706
Yes, we can fix that separately (probably will be fixed as a side effect of introducing a URL class into GATK). But the tests that Lee is talking about should be marked as bucket, since they are doing more than that.

[2017-05-11 14:32] droazen commented on #2707
Best way to fix this is via https://github.com/broadinstitute/gatk/issues/958

[2017-05-11 14:43] lbergelson opened #2708 "PSUtilsTest should be rewritten so it succeeds when it runs as root"
PSUtilsTest should be rewritten so it succeeds when it runs as root.  It could possibly make use of  `BaseTest.getSafeNonExistentFile()`.

[2017-05-11 14:45] droazen commented on #2708
Lee has already done this :)

[2017-05-11 14:52] lbergelson commented on #2708
Oh good!

[2017-05-11 14:53] lbergelson commented on #2706
| Test failure | Fix |
 | ------| ------ |
 |  FeatureInputUnitTest. testGcsPathAndName[0](gs://bucket/user/my.vcf, gs://bucket/user/my.vcf, gs://bucket/user/my.vcf) |  seems like this should be doable unauthenticated   |
 | PSUtilsTest. testWriteTwoKryo | #2708 |
 | BucketUtilsTest.testGetPathOnGcsDirectory | it seems like this should be doable unauthenticated #2707 |
 | BucketUtilsTest. testIsCl

[2017-05-11 14:55] droazen commented on #2706
We're marking all of these as bucket for now @lbergelson to unblock our work (with the exception of the `PSUtilsUnitTest`). They require authentication now, so need to be properly marked. The underlying issue should ultimately be fixed by https://github.com/broadinstitute/gatk/issues/958

[2017-05-11 15:02] droazen commented on #2685
@jean-philippe-martin @Horneth informs me that if he runs with cloud buffering turned off completely, all of these errors go away. However, the it takes twice as long to complete, as might be expected :)

[2017-05-11 15:26] Horneth commented on #2685
@droazen I can't speak to that. I have only tried one time with cloud buffering turned off and it didn't fail, but that's not enough to be sure that it never happens. I'll run more tests to see whether that can be confirmed or not. I'm sorry I didn't understand your question properly. I was just trying to see if cloud buffering turned off could give us enough memory back to enable batchSize 200, a

[2017-05-11 15:32] lbergelson commented on #2706
@droazen 👍 Sounds good.

[2017-05-11 15:40] LeeTL1220 commented on #2708
@lbergelson @droazen This fix will appear in the PR that addresses issue #2457

[2017-05-11 15:49] LeeTL1220 commented on #2708
@mwalker174 This is just FYI... you do not need to do anything.  You cannot assume that the user running the test doesn't have root access.  Also, I cleaned up the test a bit to use standard TestNG conventions (note the ``@ Test``):
[code]

Please note that this is not in ``master`` at the time of this writing.

[2017-05-11 15:58] mwalker174 commented on #2708
@LeeTL1220 Thanks! Are the first and last lines the only thing you changed? The rest of it looks identical to the original.

Will use the TestNG annotations in the future.

[2017-05-11 16:32] #2691 closed

[2017-05-11 16:35] droazen commented on #2685
@Horneth I see -- sorry for misunderstanding you. Let's do more runs to see if it consistently runs without failing with the buffering off.

Either way, it seems like we need some additional retries on our end.

[2017-05-11 16:42] droazen commented on #2708
Should "Two" be "To"? :)

[2017-05-11 16:47] #1943 closed

[2017-05-11 16:47] #2683 closed

[2017-05-11 18:21] droazen commented on #1950
Re-assigning to @asmirnov239

[2017-05-11 18:24] droazen commented on #1950
@davidbenjamin Can you comment here with the new location for the `ReadLikelihoods. updateNonRefAlleleLikelihoods()` method touched in the PR linked above? Our goal is to match current GATK3 behavior for both the old and new models.

[2017-05-11 19:12] jean-philippe-martin commented on #2707
Note that the bug title is a bit misleading: is says "`BucketUtils.isCloudStorageUrl` throws" but the exception is actually thrown upstream, at `Paths.get`. So nothing we do in `BucketUtils` can fix that.

[2017-05-11 19:14] jean-philippe-martin commented on #2707
It turns out we can edit issue titles! I changed it to remove the potential confusion.

[2017-05-11 19:16] jean-philippe-martin commented on #2707
Note that we have a workaround: instead of

[code]

You can use:

[code]

[2017-05-11 19:48] droazen commented on #2592
@cmnbroad I think this proposal is good provided that the error message people get clearly explains what they need to do to resolve things when this happens (eg., explains which dependencies have changed and how to mark the changes as "ok")

[2017-05-11 20:03] davidbenjamin commented on #1950
@droazen I am more confident that this method was not ported (or deleted, I suppose).  It is used only once in gsa-unstable.  The GATK 3 method `HaplotypeCallerGenotypingEngine::prepareReadAlleleLikelihoodsForAnnotation` is identical to the GATK 4 method `AssemblyBasedCallerGenotypingEngine::prepareReadAlleleLikelihoodsForAnnotation` except for the following lines that are missing in GATK 4:

[cod

[2017-05-11 20:03] droazen commented on #1950
Sounds like a good plan to me @davidbenjamin !

[2017-05-11 20:06] davidbenjamin commented on #1950
@droazen would you like me to take care of that by making a branch for @meganshand to test?

[2017-05-11 20:24] droazen commented on #1950
@davidbenjamin If you have the time to spare, by all means! Would save @asmirnov239 some work. Feel free to submit a PR against GATK public with this change, plus any unit test, etc., you feel is appropriate. Thanks!

[2017-05-12 13:42] #2693 closed

[2017-05-12 15:24] #2589 closed

[2017-05-12 15:49] lbergelson opened #2711 "add a way to find the bundled BWAversion from the command line"
@sooheelee Had the very reasonable question of "what version of bwa is being used in gatk".  There currently doesn't seem to be a way to query this from the command line.  Since you need the matching bwa to build the index files this is important information for the users.  Ideally it could be handled by running --version on a tool that uses BWA, but that probably needs changes in the command line

[2017-05-12 16:28] sooheelee commented on #2711
Thank you for this.

[2017-05-12 16:35] lbergelson opened #2712 "Investigate 0,0,1 PLs that result in GQ 0"
We've identified a site that has a genotype with pls of 0,0,1 and reports GQ0.

GVCF is `/humgen/gsa-hpprojects/dev/mshand/palantir/Analysis/535_GenotypeGVCFs/shard-314.vcf.gz` which cannot be made available publicly.

site is 43291092

Gatk3 outputs a GQ0 hom-ref call while gatk4 outputs a no call.  From discussion with @ldgauthier it seems like the no-call is a reasonable output, but it's strang

[2017-05-12 18:36] Horneth commented on #2685
Update:

1000 samples on one interval, 11GB Xmx to the JVM:
20 runs for each parameter set.

- batchSize at **200** and buffering **disabled** yields: 25% success and 75% OOM
Runtime (when it succeed) is ~ 1.75x longer than batchSize 100 (with or without buffer)

- batchSize at 100:
Tried on both OpenJDK8 and Oracle JDK, with buffer disabled and default.
Overall similar performances. Got 2 failure

[2017-05-12 20:58] sooheelee commented on #2711
I should mention the version of BWA I document is v0.7.15 (https://software.broadinstitute.org/gatk/documentation/article.php?id=8017). The Genomics Platform has also moved on to v0.7.15:
[code]

If the spark version we offer currently in GATK4 is roughly equivalent to v0.7.13, and this is the latest release in the Apache branch of the BWA repo that is usable by us, then should we ask HL for anoth

[2017-05-12 21:07] lbergelson commented on #2711
It would be good if we kept updated on the newest BWA mem.  We'd need Heng to update the Apache2 branch with his newest changes.

[2017-05-12 21:25] sooheelee commented on #2711
Is he the in-person type of receiver or shall we ask in his repo?

[2017-05-14 18:08] kcibul opened #2713 "NPE in GenomicsDBImport"
Running this command:
`
[May 14, 2017 12:54:35 AM UTC] org.broadinstitute.hellbender.tools.genomicsdb.GenomicsDBImport  --genomicsDBWorkspace genomicsdb --batchSize 100 --sampleNameMap inputs.list --intervals chr1:391755-820848 --interval_padding 500  --genomicsDBSegmentSize 1048576 --genomicsDBVCFBufferSize 16384 --overwriteExistingGenomicsDBWorkspace false --consolidate false --interval_set_rule

[2017-05-14 18:09] kcibul commented on #2713
@droazen @lbergelson -- this is blocking the JG run.  I can get you access to the underlying data if necessary but hoping the stack trace will point to something obvious

[2017-05-15 11:34] droazen opened #2714 "GenomicsDBImporter constructor calls generateSortedCallSetMap() to download headers to get sample names it already has"
I noticed, while looking at https://github.com/broadinstitute/gatk/issues/2713, that the main `GenomicsDBImporter` constructor calls `GenomicsDBImporter.generateSortedCallSetMap()` to download all VCF headers to get the sample names, but it already has the sample names passed in to it (as `variants.keySet()`). This sort of defeats the purpose of the `--sampleNameMap` argument in the `GenomicsDBImp

[2017-05-15 11:35] droazen commented on #2714
@kgururaj @kdatta could we get a fix for this?

[2017-05-15 11:47] droazen commented on #2713
@kcibul That NPE suggests that GenomicsDBImporter is failing to find a reader for a particular sample name. One possible cause of this is disagreement between the samples in your `--sampleNameMap` file and the sample names in the VCF headers.

Due to a bug that I noticed just now (https://github.com/broadinstitute/gatk/issues/2714), the `GenomicsDBImporter` class in GenomicsDB unnecessarily uses t

[2017-05-15 11:55] droazen opened #2715 "GenomicsDBImporter constructor allows NPE to occur when sample name not found in sampleToVCMap"
It should instead notice that `sampleToVCMap.get()` has returned null, and throw a descriptive error message (including, crucially, the sample name in question) instead of allowing a `NullPointerException` to occur.

[2017-05-15 11:55] droazen commented on #2715
For @kgururaj / @kdatta . Relates to https://github.com/broadinstitute/gatk/issues/2713 and https://github.com/broadinstitute/gatk/issues/2714

[2017-05-15 15:51] lbergelson opened #2717 "Make pairHmm default to 4 cores"
Currently it defaults to 1 core.  It seems like it scales well to 4 cores and correctly throttles back if there are fewer cores, so we should make it use the available resources if possible.

[2017-05-15 16:26] david-wb opened #2718 "spark-submit --master argument overridden in SparkContextFactory.java"
While testing BwaSpark on a yarn cluster, I noticed that only a single executor (the driver) was being created and running only on the master node. The worker nodes were idle. This happened when running the following command

[code]

I checked the spark environment settings in the spark web UI and found that `spark.master` was set to `local` despite the `--master yarn` cmd-line argument. Next I ch

[2017-05-15 16:31] jean-philippe-martin commented on #2686
@lbergelson my guess would be a transient network error due perhaps to storage being temporarily overloaded. This should cause the read to fail, though, no pretend to pass. So I'm surprised that the next step starts (and then reports the error we see since the input isn't complete).

[2017-05-15 16:42] kcibul commented on #2713
Just confirmed -- bypassing the sample map and supplying the GVCFs directly runs successfully

[2017-05-15 16:43] kcibul commented on #2713
if there is a mismatch between  VCF header name and sample map name... an helpful error message would be nice.  Checking 1000s of VCFs to find an error would be a pain

[2017-05-15 17:12] droazen commented on #2713
Yep, I created https://github.com/broadinstitute/gatk/issues/2715 this morning to ask Intel to add a helpful error message in this case.

Glad to hear that you can work around the issue for now by using `-V`!

[2017-05-15 17:22] droazen commented on #2714
Re-worded the title and description to make it clear that the call in question is happening in the constructor for `GenomicsDBImporter` (`GenomicsDBImporter` line 464)

[2017-05-15 19:49] LeeTL1220 opened #2719 "After running unit tests during docker build, delete the large test files."
The docker image is getting very large.  This would drop it by a gig or two.

[2017-05-15 19:55] LeeTL1220 opened #2720 "Some improvements for docker image building"
- [ ] Mount the large files rather than copying into the docker image when running the tests.
- [ ] Cleanup the build directory before publishing.  We only need the jar.
- [ ] Remove native dependencies that are not required for the docker image.
- [ ] Uninstall gcc and clean the ubuntu image a bit.

[2017-05-15 20:22] gspowley commented on #1946
Closed with https://github.com/broadinstitute/gatk/pull/2574 and https://github.com/broadinstitute/gatk-protected/pull/998.

[2017-05-15 20:22] #1946 closed

[2017-05-15 21:17] meganshand commented on #2587
This appears to be a bug in GATK3. The only cases where this happens is when the RankSum happens to be a negative round number (no decimal point) such as -2.

The code in GATK3 is in ReferenceConfidenceVariantContextMerger::parseRemainingAnnotations:

[code]

Here it adds the value if it contains a decimal point or if the first character of the string is a digit. Since "-" isn't a digit it returns

[2017-05-15 21:17] #2587 closed

[2017-05-15 21:31] kcibul commented on #2685
I have more examples of this now (90 and counting, ~1% of jobs) which seems to match with the above numbers:

`htsjdk.tribble.TribbleException$MalformedFeatureFile: Unable to parse header with error: java.util.concurrent.ExecutionException: com.google.cloud.storage.StorageException: Connection has been shutdown: javax.net.ssl.SSLException: java.net.SocketException: Connection reset, for input sour

[2017-05-16 14:38] lbergelson commented on #2714
@kdatta @kgururaj Do you have any update or ETA on this?  Can we help with this somehow?

[2017-05-16 14:44] lbergelson opened #2722 "Invalid GZIP header when using -L -jdk_inflater=true"
Bug report recieved via email:

I am testing GATK4 walker version. I tried the following command

./gatk-launch BaseRecalibrator -R human_g1k_v37_decoy.fasta -I NA12878.md.bam -O NA12878.br.table --knownSites 1000G_phase1.indels.b37.vcf **-L Broad.human.exome.b37.interval_list -jdk_inflater=true**

It will fail with the following error message `htsjdk.samtools.SAMFormatException: Invalid GZIP head

[2017-05-16 15:34] ldgauthier opened #2723 "ROC Curve Walker for validation"
Create a tool to replace the ROCCurveNA12878 walker.  Here's a wishlist of requirements:

[ ] Generalizable to other samples (e.g. SynDip)
[ ] Takes an input truth VCF and confidence regions?
[ ] Can rank variants according to any INFO annotation (not just VQSLOD)
[ ] Outputs report with TPs and FPs per tranche
[ ] Outputs figures?  PDF?  PNG?

[2017-05-16 15:35] ldgauthier commented on #2723
@lucidtronix @fleharty If you have any thoughts on the one tool to rule them all, please add them here.  (Well, one ROC curve tool.  There are still multiple assessment tools.)

[2017-05-16 17:28] fleharty commented on #2723
I think an option to run as a ROC curve (TPR vs FPR) and as a Precision/Recall curve would be nice.
It might also be a good idea to go with Bertrand's suggestion that we call it by another name when we aren't plotting ROC curves.

[2017-05-16 17:32] meganshand commented on #2723
Do you think it's possible to get FPR (which needs True Negatives) from inputs such as two VCFs? Would you only use the TPR vs FPR in special cases, maybe where you have a small interval list?

[2017-05-16 19:13] ldgauthier commented on #2723
We could require a confidence region for FPR.

[2017-05-16 19:18] LeeTL1220 opened #2724 "gradle.build task shadowJar should depend on localJar and not vice versa"
From @vruano 's comment in #2709 ...

The dependency of localJar on shadowJar seems semantically "off".

[2017-05-16 21:46] lbergelson commented on #2718
@david-wb Interesting... what version of spark / spark submit are you using?  I was pretty sure that at the point where setMaster() was called by gatk the spark context was already created by yarn and setup with the appropriate master.  I wonder if it changed from a previous version of spark...

Alternatively, I may be misremembering and relying on the fact that our wrapper  script  supplies `--sp

[2017-05-16 23:46] david-wb commented on #2718
I can confirm it works with the command
[code]
so I guess it's really a minor issue. I can see it confusing other spark users though, who might expect spark configuration arguments to go through `spark-submit` rather than the application args, especially since the --sparkMaster app arg is optional. Just my two cents.

[2017-05-17 00:51] kdatta commented on #2714
@lbergelson, was in back to back meetings today. I will release the code by tomorrow.

[2017-05-17 01:04] #2457 closed

[2017-05-17 01:04] #2700 closed

[2017-05-17 01:04] #2708 closed

[2017-05-17 15:37] erniebrau commented on #2717
This actually has to be set in gatk-protected, which is where PairHMM gets instantiated. Specifically, in the argument collection corresponding to PairHMMNativeArguments.

[2017-05-17 17:29] lbergelson commented on #2714
@kdatta Thank you, I see a PR for it in GenomicsDB :)

[2017-05-17 18:12] lbergelson commented on #2718
Yeah, it's definitely confusing, we should look into changing it for the future.  We definitely do recommend using our launcher script though, which handles it for you.

It was tricky to enable both spark-submit and standalone running spark through the jar without having a way to inject the spark master as a command line argument, but there's probably a better way of handling it then the way we do

[2017-05-17 20:36] ronlevine opened #2728 "Add the ability log to file"
Replicate the behavior in [GATK3 ](https://software.broadinstitute.org/gatk/documentation/tooldocs/current/org_broadinstitute_gatk_engine_CommandLineGATK.php#--log_to_file).
May also require a script that runs a cron job that clean up "old" logs.

[2017-05-17 23:15] kdatta commented on #2715
@droazen @lbergelson, in the new changes, I throw an illegal arugment exception if FeatureReader is null in the sampleToReaderMap. Also, if the sample name in the sampleToReaderMap does not match with the one in the header, I print a warning message. Let me know if these two changes fixes this issue.

[2017-05-18 15:35] erniebrau commented on #2717
I created a branch in gatk-protected to address this issue. @lbergelson, @droazen -- could I get push access to the gatk-protected repo so I can push and submit a PR? Thanks!

[2017-05-18 16:01] mwalker174 commented on #2705
BwaSpark uses 1 thread per task and there is no way to change that currently. I believe the default partition size is 64MB, so you have 1.3GB / 64MB = 21 partitions, which would give you enough parallelism if Spark decided to use 16 total tasks.

Have you looked at the Spark UI? How many executors it is using? You may want to try using --num-executors 5 and --executor-cores 16 and then explicitly

[2017-05-18 16:25] lbergelson commented on #2714
@kdatta It seems like the PR in genomicsDb addresses 2713 but not 2714.  Is there a fix coming for the much more important 2714?

[2017-05-18 22:54] sooheelee commented on #2711
I saw today that HL is back from vacation and have sent him an email.

[2017-05-18 23:47] TianJin297 opened #2732 "ArrayIndexOutOfBoundsException error in BaseRecalibratorSpark"
When running the following command

gatk4 BaseRecalibratorSpark -I xx_markduplicatespark.bam -knownSites dbsnp_138.b37.vcf -knownSites Mills_and_1000G_gold_standard.indels.b37.vcf -O xx_baserecalibratespark.table -R humann_g1k_v37.2bit --TMP_DIR tmp

I got error message,

Using GATK wrapper script /curr/tianj/software/gatk/build/install/gatk/bin/gatk
Running:
/curr/tianj/software/gatk/build/instal

[2017-05-19 18:46] TianJin297 commented on #2732
It's on amazon instance. You might want to consider this factor.
Thanks

[2017-05-19 19:50] frank-y-liu opened #2734 "log4j error"
The follow error messages popped up after d25894b3bc80e450210cf8a9124c4171e65f3717. The program seems to function properly.

[code]

By backtracking, the problem goes away at commit d827adc81266c788482c9cb4f119f2e3c1e152b8.  Since spark-submmit was broken after 8af8bcc920ee5f393562e3e632d9ccd4acd9a638, the bug could be anywhere between commit 8af8bcc920ee5f393562e3e632d9ccd4acd9a638 and d25894b3bc

[2017-05-19 20:04] jean-philippe-martin commented on #2685
@Horneth I put together a new version for you to try, but it requires upgrading gcloud. Here's how to do it:

* clone the gcloud repo, switch to the [jp_aggressive_reopen](https://github.com/jean-philippe-martin/gcloud-java/tree/jp_aggressive_reopen) branch
[code]

* install the modified version locally
(should report having installed version google-cloud-nio-0.17.3-alpha-SNAPSHOT-shaded.jar)
[cod

[2017-05-19 21:09] droazen opened #2735 "GenotypeGVCFs needs a "shard-aware" output mode that prevents duplicate calls across shards"
When `GenotypeGVCFs` is sharded by `-L` interval, as it typically is in production, it needs a way to avoid emitting the same call across shards in the case of indels that span interval boundaries. The simplest way to do this is to only emit records that start in the current interval.

It might make sense to do this at the VCF writer level, and hook it up to an engine-wide argument to toggle this

[2017-05-20 13:39] SHuang-Broad commented on #2734
Thanks @frank-y-liu , but it has been noted #2622.

[2017-05-21 17:41] vdauwera commented on #2489
A user notes rightly that it would be more convenient to have the sets annotated using a comma-separated list instead of a single string with dashes, so they can be parsed more readily.

[2017-05-22 13:53] tomwhite opened #2738 "Add GVCF support to VariantsSparkSink"
Need to get Hadoop-BAM's VCFOutputFormat to use GATK's GVCFWriter. This is needed for HaplotypeCallerSpark.

[2017-05-22 14:12] magicDGS opened #2739 "GATKReadFilterPluginDescriptor does not work with Barclay (for other projects)"
Trying to generate the documentation with gatk-protected to explore how a dependent-project could include ReadFilters and other utilities, running in my local computer it throws the following error:

[code]

I can reproduce this error with a custom project with the gradle.build from gatk-protected and only the following class:

[code]

[2017-05-22 14:14] magicDGS commented on #2739
@cmnbroad, can you help me with this? I asked you because you are maintaining Barclay and you have implemented the gatk-protected doc task.

I would like to use the doc processing in my own toolkit, because it is very nice to automatize the help generation. Thank you in advance!

[2017-05-22 14:56] cmnbroad commented on #2739
@magicDGS We recently hit this ourselves (https://github.com/broadinstitute/gatk-protected/issues/1048). The fix is easy, but I'd like to find a way to repro it as a standalone test in Barclay, with no dependencies, i.e., no gatk dependencies.

Also, to use docgen for your toolkit, you'll need to provide the source for common classes like read filters, argument collections, etc. You may have notic

[2017-05-22 15:10] lbergelson commented on #2734
Thanks for the detailed report.  Closing this one as a duplicate.

[2017-05-22 15:10] #2734 closed

[2017-05-22 16:40] cmnbroad opened #2742 "Sync up Hadoop-BAM and htsjdk dependencies"
We should make sure for beta that we use a version of Hadoop-BAM that depends on the same version of htsjdk as GATK uses.

[2017-05-22 18:21] meganshand commented on #2712
This only seems to happen if the PL is 0,0,1. Other GQ0 genotypes remain HomRef in both GATK3 and GATK4 (for example the PL 0,0,14). I also haven't seen it happen at multi-allelic sites.

[2017-05-22 18:25] sooheelee commented on #2712
Remember that the PL of the genotype that is called is zero.
So the two PLs in question that determine the genotype call are the lowest
PLs (so 0 and 0 from 0,0,1).

Soo Hee Lee, Ph.D.
Science Technical Writer

On Mon, May 22, 2017 at 2:21 PM, meganshand <notifications@github.com>
wrote:

[2017-05-22 19:09] lbergelson opened #2743 "Error: Cannot rename fragment directory; Directory not empty."
Confusing error from GenomicsDBImport:

[code]

/tmp/gendb is empty before my call to GenomicsDBImport.

[2017-05-22 20:29] jean-philippe-martin commented on #2685
I was able to reproduce this problem by running 1000 concurrent read streams for a while. This allowed me to verify that my fix indeed resolves the problem (at least for my repro). I have sent a [PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2083) to gcloud for review.

[2017-05-22 23:35] droazen commented on #2735
This is done (https://github.com/broadinstitute/gatk-protected/issues/1084)

[2017-05-22 23:35] #2735 closed

[2017-05-23 05:39] vdauwera commented on #1557
@droazen Do I recall correctly that you guys removed BAQ altogether? Can I just use the no-BAQ number or would that be misleading?

[2017-05-23 08:17] magicDGS commented on #2739
I know that, and I kind of have an idea of how to do it with gradle without having a local copy (if you are interested, see https://stackoverflow.com/questions/28149123/is-there-a-way-to-tell-gradle-to-include-dependencies-javadocs-in-generated-java).

I subscribed to broadinstitute/gatk-protected#1048, and I'm closing this as a duplicate of that one. Thanks for your help.

[2017-05-23 08:17] #2739 closed

[2017-05-23 14:26] cmnbroad opened #2744 "Upgrade Barclay and integrate ExperimentalFeature annotation"
Barclay defines the ExperimentalFeature annotation; displays it in command line program usage output, and also propagates an "experimental" property to the freemarker template used for doc. To fully manifest these in GATK we need to:

- update the custom doc templates used by GATK to recognize the "experimental" property
- update the command line output from --list/--help, which is generated direc

[2017-05-23 14:32] droazen commented on #1557
@vdauwera We did end up turning off BAQ by default (after a painstaking evaluation to prove that doing so didn't harm quality of results).

[2017-05-23 16:23] jean-philippe-martin commented on #2685
I've also changed the exception message to say "Retry failed" if it runs out of retries. If you see that you may have to increase the max reopen count - especially so if the program runs for a long time.

[2017-05-23 16:59] lbergelson opened #2745 "make GatherVCFs with NIO into a GATK tool"
We've patched GatherVCFs to allow it to read from NIO, but since it's a picard tool it's going to be reverted when we switch to depending on the real picard. We need to either port the changes to picard or make a gatk-tool version

[2017-05-23 17:16] davidbenjamin commented on #2537
Copying in some discussion about my initial, incorrect, effort in PR #2547:

David Roazen:
As discussed in person, we fully support the mission of making this class less stateful (and particularly making it so that `isVcCoveredByDeletion()` does not modify state, which was the original ticket), but we're concerned that this method `calculateOutputAlleleSubset()` was intended to be stateful, and to

[2017-05-23 17:22] davidbenjamin commented on #2674
@lbergelson Checking in: so far I have the open PR #2710 (porting something Valentin did in GATK 3) and the closed PR #2727 (fixing the likelihood sum to match GATK 3).  Please let me know if there's anything I should be doing for the tie-out.

[2017-05-23 17:45] lbergelson commented on #2674
@davidbenjamin I don't think we need anything else from you for now for the tie out.  It looks like #2710 should affect haplotype caller but shouldn't make a difference to genotype gvcfs?

[2017-05-23 17:46] droazen commented on #2674
@davidbenjamin @lbergelson I will evaluate https://github.com/broadinstitute/gatk/pull/2710 later this week.

[2017-05-23 17:46] droazen commented on #2674
This is done, by the way -- closing!

[2017-05-23 17:46] #2674 closed

[2017-05-23 17:53] davidbenjamin commented on #2674
@lbergelson that's right, #2710 shouldn't affect `GenotypeGVCFs`.

[2017-05-23 18:09] droazen commented on #2636
@kdatta @kgururaj Can you comment on this?

[2017-05-23 18:47] droazen opened #2746 "Implement prototype JNI layer for STAN"
Implement a prototype JNI layer for STAN (http://mc-stan.org/) using its C++ API (doesn't need to be exhaustive at this point, just a minimal proof of concept), write some client code against it, and assess both the complexity of writing/maintaining the JNI layer and the ease/difficulty of writing the client code in Java.

[2017-05-23 18:47] droazen commented on #2746
Requested by @LeeTL1220

[2017-05-23 18:54] LeeTL1220 commented on #2746
FYI... https://github.com/broadinstitute/gatk-protected/issues/1038

[2017-05-23 20:28] lbergelson commented on #2712
@sooheelee Thanks for pointing that out, temporary brain failure I think.   There's still something weird about these sites though I think.
@meganshand That's also strange...

[2017-05-23 20:29] lbergelson commented on #2712
Another thing to point out, is that this is also happening for sites with more than 3 pls like 0,0,0,1,0,0.

[2017-05-24 00:38] cmnbroad opened #2747 "MultiVariantWalker needs a sequential mode to run at scale"
This would assume that inputs are already sorted, and iterate through them one at a time instead of opening them all at once and creating a merging iterator.

[2017-05-24 01:51] LeeTL1220 opened #2748 "Docker images do not need to be tested w/ OpenJDK vs. OracleJDK"
The docker image only uses OpenJDK.  However, the way travis is configured, the docker tests will be run once for OpenJDK and once for OracleJDK, but that distinction has no meaning, since the native JVM on the travis VM is irrelevant to what is happening in the docker image.

[2017-05-24 13:42] kcibul opened #2749 "GCS 503s should be retried"
503 (Service Unavailable) errors are transient and should be retried.  Saw this today running GenomicsDBImport

`htsjdk.tribble.TribbleException$MalformedFeatureFile: Unable to parse header with error: 503 Service Unavailable
Service Unavailable, for input source: gs://fc-4c1c7765-2de2-4214-ac41-dc10bbcbb55b/1e300bb3-6990-4342-8959-118826efb3dd/PairedEndSingleSampleWorkflow/d0aac891-4d32-43b9-8adb

[2017-05-24 16:52] jean-philippe-martin commented on #2685
The retry parameters are in BucketUtils.java:setGenerousTimeouts. For the case where we're opening thousands and thousands of connections, it may be helpful to increase those timeouts a little.

[2017-05-24 23:26] jean-philippe-martin commented on #2685
PR #2750 may also help (and it's a lot easier to try)

[2017-05-24 23:31] jean-philippe-martin commented on #2516
A good news is that my [intense reading tests](https://github.com/broadinstitute/gatk/blob/jp_gcloud_17_snapshot/src/test/java/org/broadinstitute/hellbender/utils/nio/ExtremeReadsTest.java#L64) related to fixing #2685 did not trigger this bug. Possibly we were lucky, and possibly upgrading the gcloud version as that PR does brought in a fix for this issue.

[2017-05-25 14:06] sooheelee commented on #2712
I looked at the gene locus and it is the 3'UTR of 3-Hydroxy-3-Methylglutaryl-CoA Synthase 1, an enzyme I used to work on!

[2017-05-25 14:13] droazen opened #2753 "Contig ordering in VCF header is scrambled by either GenomicsDB, GenomicsDBImport, or GenotypeGVCFs"
Broad production is finding that after running HG38 GVCFs through `GenomicsDBImport`, `GenomicsDB`, and then `GenotypeGVCFs`, the sort order of the contigs in the header is scrambled. Specifically, the contig names appear to be sorted by ASCII value, so, eg., "chr10" comes before "chr9".

This is a problem, since there are tools that use the contig ordering in the header to generate contig indices

[2017-05-25 14:15] droazen commented on #2753
@kgururaj @kdatta Can you guys comment on this? Do you think it's possible that `GenomicsDB` is failing to preserve the ordering of the contig header lines? We need a fix for this soon, as it's causing a bit of havoc in our pipeline.

[2017-05-25 14:18] droazen commented on #2753
@lbergelson please also comment on whether it's possible that `GenotypeGVCFs` itself could be responsible.

[2017-05-25 14:22] vruano opened #2754 "SVFastqUtils.FastqRead getName() returns the whole read descriptor."
For a read with the following id line in the fastq:
    `@HJYFJCCXX160204:4:1124:22424:1133/1 mapping=20:61724009;151M`
This method would return pretty much the whole descriptor except for the starting '@':
  ` HJYFJCCXX160204:4:1124:22424:1133/1 mapping=20:61724009;151M`
Intuitively it should be only the first part, what an equivalent SAMRecord object getName() would return:
  `HJYFJCCXX160204:4:

[2017-05-25 14:42] sooheelee commented on #2712
For this calling, was `--standard_min_confidence_threshold_for_calling` changed from the default?

[2017-05-25 15:07] meganshand commented on #2071
Things look mostly tied out at this point. There are two annotations that don't match which I'll open separate issues for: QUAL and InbreedingCoeff. QUAL also effects some QD values. Neither of these seem like significant differences:

![image](https://cloud.githubusercontent.com/assets/13020550/26456169/493ed796-413a-11e7-8fd3-66b61a61ca3b.png)

![image](https://cloud.githubusercontent.com/assets

[2017-05-25 15:12] droazen commented on #2071
Woohoo, thanks @meganshand !

[2017-05-25 15:16] meganshand opened #2756 "Differences in QUAL in GenotypeGVCFs between GATK3 and GATK4"
There are some insignificant differences between the QUAL score in GATK3 and GATK4 that we haven't been able to explain. This also means that QD is also different at those sites. Here are some examples (note that this data is private and cannot be used in public tests):

Input Combined gvcf: `/humgen/gsa-hpprojects/dev/mshand/palantir/Analysis/535_GenotypeGVCFs/inputVCF/shard-314.vcf.gz`

Chr | Si

[2017-05-25 15:19] sooheelee commented on #2756
Looks like a rounding difference?

[2017-05-25 15:25] meganshand opened #2757 "Differences in InbreedingCoeff in GenotypeGVCFs between GATK3 and GATK4"
There are insignificant differences between InbreedingCoeff when calculated in GATK3 and GATK4. I've tried to recreate these differences and haven't been able to find them when I run with -L over a single site. There is nothing random in the Inbreeding Coefficient calculation as far as I can tell, so I'm not sure why I haven't been able to recreate the difference. When I run on a single site I get

[2017-05-25 15:25] meganshand commented on #2756
Yup, most likely, but I haven't found the code that does the rounding.

[2017-05-25 15:29] ronlevine commented on #2756
It might be significant digits since it's showing for the larger values. One version might be using a double while the other is using a float.

[2017-05-25 15:33] droazen commented on #2753
Another possible culprit here is the `VCFUtils.smartMergeHeaders()` call in `GenomicsDBImport` when running without a sample name map file (which is how production was running, in this case) -- @cmnbroad can you comment on this possibility?

[2017-05-25 15:36] ronlevine commented on #2753
@droazen I fixed a similar issue in https://github.com/samtools/htsjdk/pull/848. The header from the input VCF or dictionary is put into a `TreeMap`, which stores the data in natural order. Since the key is a String, it's lexicographical. It should be stored in a `LinkedHashMap`, which maintains the order.

[2017-05-25 15:39] ronlevine commented on #2753
@droazen `VCFUtils.smartMergeHeaders()` was fixed in https://github.com/samtools/htsjdk/pull/848.

[2017-05-25 15:40] sooheelee commented on #2756
Does GATK prefer the double or float? I see a lot of gatk-protected tools are expecting doubles. This has to do with the number of significant digits in the number, yes?

[2017-05-25 15:49] ronlevine commented on #2756
@sooheelee It's a mix of float and double, depending on the algorithm. This will determine the number of significant digits. A good explanation of single and double precision is [here](https://en.wikipedia.org/wiki/Floating-point_arithmetic#IEEE_754:_floating_point_in_modern_computers).

[2017-05-25 15:52] sooheelee commented on #2756
Are the HaplotypeCaller inputs identical? Are there default parameters that may have changed for GenotypeGVCFs between GATK3 and GATK4?

[2017-05-25 15:55] cmnbroad commented on #2753
@droazen Yeah, what @ronlevine mentioned could possibly do it, depending on where the data flows to next, i.e., if the header lines are then put back into a header, the contig line list in the new header should be correct (the big metadata list would still be off) though.

[2017-05-25 16:02] cmnbroad commented on #2753
Hm. It looks like GDB importer merges, then creates a header from the resulting lines, then retrieves a sequence dictionary, which doesn't correct the order. So that may be it.

[2017-05-25 16:10] cmnbroad commented on #2753
Candidate quick-fix [here](https://github.com/broadinstitute/gatk/tree/cn_gdb_import), if we determine that the problem.

[2017-05-25 19:29] lbergelson commented on #2749
@kcibul Was this run with JP's retry update or without?

[2017-05-25 19:40] lbergelson commented on #2753
I can confirm that it's not GenotypeGVCFs on it's own.  Going to test @cmnbroad's branch now.

[2017-05-25 19:48] ronlevine commented on #2753
@lbergelson Wouldn't a new release of HTSJDK fix the problem?

[2017-05-25 19:53] lbergelson commented on #2753
@ronlevine Oohh, is that not yet in an htsjdk release?  It's one of the ones you've been waiting forever to have a proper release of?

[2017-05-25 20:03] ronlevine commented on #2753
Not that I know of: https://github.com/samtools/htsjdk/releases. https://github.com/samtools/htsjdk/pull/848 was merged on April 8, 2017 and the last release was on February 21, 2017.

[2017-05-25 20:31] kcibul commented on #2749
without -- once that's merged and part of GATK4 we can try again

-------------------------------
Kristian Cibulskis
Engineering Director, Data Sciences & Data Engineering
Broad Institute of MIT and Harvard
kcibul@broadinstitute.org

On Thu, May 25, 2017 at 3:30 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-05-25 21:03] jean-philippe-martin commented on #2749
They are retried. You're seeing this message because it failed more than `maxChannelReopens` times.

The new version which you really want to use for any test at this point is described there:
https://github.com/broadinstitute/gatk/issues/2685#issuecomment-302798685

Among other things, this new version puts in a message about 'retry failed' when it runs out of retries to eliminate the very confus

[2017-05-25 21:07] droazen commented on #2685
@jean-philippe-martin Will there be a gcloud release with this change within the next ~week? We're rather urgently in need of a short-term fix, unfortunately. If a gcloud release isn't imminent, would it be an option to move GATK to depend on a gcloud snapshot?

[2017-05-25 21:17] jean-philippe-martin commented on #2685
I would say not, given that [the PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2083/files) hasn't yet been reviewed.

I wasn't able to find gcloud snapshots last time but I'll try again.

[2017-05-25 21:23] droazen commented on #2749
Thanks for the clarification @jean-philippe-martin.

Based on JP's analysis @kcibul, it might help decrease the frequency of these errors to run `GenomicsDBImport` with a smaller `--batchSize` value, since that controls the number of simultaneous open GCS connections. This would come at a cost of greater fragmentation within `GenomicsDB` itself, however, which might force us to run with `--consoli

[2017-05-25 21:24] droazen commented on #2685
@jean-philippe-martin Would it help if I reviewed the PR? Not sure the gcloud people would consider my review to be legitimate, but I can try.. :)

[2017-05-25 21:33] jean-philippe-martin commented on #2685
Kind of you to offer, @droazen, but I suspect the gcloud people will still want to review the code themselves.

[2017-05-25 21:44] droazen commented on #2685
Added my review anyway :)

[2017-05-25 21:56] jean-philippe-martin commented on #2685
And acted on. Thank you, that was useful!

[2017-05-25 22:06] droazen commented on #2685
You're welcome -- added two additional comments just now.

[2017-05-26 16:24] SHuang-Broad commented on #2754
Given that there will be a code freeze, I'll probably do this after the public-protected merge.

[2017-05-26 16:46] jean-philippe-martin commented on #2685
@droazen it would still be useful if someone could go through the instructions above and confirm that this fixes the issues you're seeing with GenomicsDBImport.

[2017-05-26 16:47] lbergelson opened #2765 "revisit need for GatherVCFs --disableContigOrderingCheck"

[2017-05-26 21:09] droazen commented on #2753
Thanks @ronlevine ! Switching to an updated HTSJDK snapshot appears to fix this issue.

[2017-05-26 21:21] lbergelson opened #2768 "Gatk-Gatk-protected merger"
Merge the two repos into a single code base.

There are a number of goals, some somewhat contradictory:
 * maintain history of both repos
 * minimize repo size by removing large files that were accidentally committed to gatk-protected
 * merge git-lfs files
 * migrate issues from gatk-protected to gatk
 * merge travis builds
 * maintain reasonable test runtimes

[2017-05-26 21:27] lbergelson opened #2769 "add documentation stylesheet to gatk repo"
Currently the html doc we build looks pretty ugly in the browser.  We don't have the appropriate style sheets available locally.  We should check those into the repo so that it can build a nice looking copy of the documentation.

[2017-05-26 21:35] droazen commented on #2769
@vdauwera Could you make this happen?

[2017-05-26 21:49] #2753 closed

[2017-05-26 22:20] cmnbroad commented on #2768
Maybe as a separate ticket/PR, but at some point we should consolidate files that mirror things in public, like GATKProtectedMathUtils and GATKProtectedVariantContextUtils.

[2017-05-27 17:45] lbergelson commented on #2768
I'll make this an epic and make tickets for each thing...

[2017-05-27 17:45] lbergelson opened #2771 "copy gatk-protected specific git-lfs files into gatk"
identify  git-lfs files that are only in protected and copy them into public

resolve any conflicts between the two sets of files

[2017-05-27 17:46] lbergelson opened #2772 "merge gatk-protected code into gatk"
do a git merge of the two codebases preserving history of each

[2017-05-27 17:46] lbergelson opened #2773 "merge travis ymls from gatk and gatk-protected"
combine the two existing travis.ymls so we run all the test from both protected and public while producing the appropriate docker files

[2017-05-27 17:46] lbergelson opened #2774 "migrate issues from gatk-protected to gatk"
Migrate the issues and boards from gatk-protected to gatk.  We should try to do this in the least intrusive way possible that maintains the comment history as well as possible.

[2017-05-27 17:47] lbergelson opened #2775 "merge readme.md from gatk/gatk-protected"
update the readme of gatk so that it contains all necessary information from protected

[2017-05-27 17:48] lbergelson opened #2776 "consolidate classes from gatk-protected that mirror things from public"
There are a number of classes in protected that mirror classes in gatk.

ex: `GATKProtectedMathUtils`, `GATKProtectedVariantContextUtils`

We should combine these with the class in public so we don't have arbitrary differences between them.

[2017-05-27 17:54] lbergelson commented on #2774
@vdauwera I'm assigning you here since you have experience with this.  Maybe we can talk about it on tuesday/wednesday and figure out what tool you used before.

[2017-05-27 17:59] lbergelson opened #2777 "modify gatk-protected history to remove checked in large data files"
this is our chance to rewrite gatk-protected history and un-commit the large files that were added by mistake

[2017-05-30 16:26] lbergelson opened #2779 "think about bam partition size for small input files"
We may want to set this to a small value automatically if the input if very small so you get some parallelism on small files.

[2017-05-30 21:01] droazen commented on #2694
Reassigning to @jonn-smith

[2017-05-30 21:04] droazen commented on #2694
To clarify what needs to be done here:

-Add a new `--javaOptions` argument to `gatk-launch`

-When running with a packaged local jar, the value of `--javaOptions` should be injected into the command line built by `formatLocalJarCommand()`

-When running with the "wrapper script" (as a result of building with `./gradlew installDist` instead of `./gradlew localJar`), propagate the value of `--javaO

[2017-05-30 21:33] droazen commented on #2744
Let's be sure to do this one this week :)

[2017-05-30 21:34] droazen commented on #2748
This is done -- closing!

[2017-05-30 21:34] #2748 closed

[2017-05-30 21:35] droazen commented on #2640
This is done! Closing.

[2017-05-30 21:35] #2640 closed

[2017-05-30 21:36] droazen commented on #2679
@LeeTL1220 Can this one be closed?

[2017-05-30 21:38] droazen commented on #2658
Closing -- this is done!

[2017-05-30 21:38] #2658 closed

[2017-05-30 21:38] lbergelson opened #2782 "merge docker builds from gatk/gatk-protected"
merge the two docker builds to produce a combined docker image

[2017-05-30 21:38] droazen commented on #2641
We settled on `--batchSize 100` -- closing!

[2017-05-30 21:38] #2641 closed

[2017-05-30 21:39] droazen commented on #2609
Re-assigning to @jonn-smith

[2017-05-30 21:44] droazen commented on #2609
For this ticket, we need to modify `ReferenceUtils.loadFastaDictionary()` to throw a `UserException` if the header returned from its `SAMTextHeaderCodec` contains no sequence dictionary

[2017-05-30 21:46] droazen commented on #2713
Closing -- this issue is supplanted by https://github.com/broadinstitute/gatk/issues/2715 and https://github.com/broadinstitute/gatk/issues/2714

[2017-05-30 21:46] #2713 closed

[2017-05-30 21:46] LeeTL1220 commented on #2679
No.  PR not merged.

On May 30, 2017 17:36, "droazen" <notifications@github.com> wrote:

[2017-05-30 21:49] droazen commented on #2560
Closing -- this is done. We just need to do https://github.com/broadinstitute/gatk/issues/2744

[2017-05-30 21:49] #2560 closed

[2017-05-30 21:52] droazen commented on #2541
@vruano Can you provide a command line to reproduce?

[2017-05-30 21:55] droazen commented on #2514
Closing -- this was likely a temporary issue, as we haven't seen it again.

[2017-05-30 21:55] #2514 closed

[2017-05-30 22:02] droazen commented on #2458
Closing -- this is done.

[2017-05-30 22:02] #2458 closed

[2017-05-30 22:03] droazen commented on #2428
This is done.

[2017-05-30 22:03] #2428 closed

[2017-05-30 22:04] droazen commented on #2410
Re-assigning to @jonn-smith

[2017-05-30 22:05] droazen commented on #2402
@jean-philippe-martin Is this one done (modulo the `ReferenceAPISource class)?

[2017-05-30 22:08] droazen commented on #2368
Should include the Java system properties used by both `gradle` and `gatk-launch`

[2017-05-30 22:08] droazen commented on #2317
Closing -- dupe of https://github.com/broadinstitute/gatk/issues/2368

[2017-05-30 22:08] #2317 closed

[2017-05-30 22:10] droazen commented on #2297
Dupe of https://github.com/broadinstitute/gatk/issues/2368

[2017-05-30 22:10] #2297 closed

[2017-05-30 22:11] kgururaj commented on #2743
Do you see this consistently or intermittently? This occurs right at the very end of an import when the fragment is renamed (the 'atomic'  [definitely not atomic] operation by the filesystem we were talking about today morning). If the rename fails due to lack of disk space etc, then this error is seen.

[2017-05-30 22:12] droazen commented on #2287
@tomwhite @jean-philippe-martin Is this one done? Can we close this?

[2017-05-30 22:12] droazen commented on #2269
@cmnbroad Is this done? Can we close this?

[2017-05-30 22:13] droazen commented on #2252
@tomwhite This one is done, right?

[2017-05-30 22:14] droazen commented on #2240
@cmnbroad Could you remove this argument for beta?

[2017-05-30 22:15] droazen commented on #2212
@cmnbroad Can this be closed?

[2017-05-30 22:16] droazen commented on #2477
Closing -- this is a dupe of https://github.com/broadinstitute/gatk/issues/2213

[2017-05-30 22:16] #2477 closed

[2017-05-30 22:18] droazen commented on #2071
@meganshand How close are we to being able to close this ticket?

[2017-05-30 22:20] droazen commented on #2051
Closing -- this epic is complete!

[2017-05-30 22:20] #2051 closed

[2017-05-30 22:21] droazen commented on #1758
Closing -- this is obsolete, since we are merging the two repos.

[2017-05-30 22:21] #1758 closed

[2017-05-30 22:23] droazen commented on #963
@jean-philippe-martin Can we close this one?

[2017-05-30 22:29] cmnbroad commented on #2212
@droazen The PR isn't merged yet. We might want to remove the beta label though.

[2017-05-30 23:19] droazen commented on #2212
@cmnbroad But the Picard arg parser has been copied as-is to barclay, and there is a mechanism to select it, so isn't this ticket done?

[2017-05-31 00:58] cmnbroad commented on #2212
@droazen Maybe a technicality, but the "mechanism to select it" part is in the Picard PR, and that isn't merged yet.

[2017-05-31 01:45] droazen commented on #2212
@cmnbroad The part of this ticket that's not merged is already covered by https://github.com/broadinstitute/gatk/issues/2213, so I think we can close this one.

[2017-05-31 01:45] #2212 closed

[2017-05-31 10:36] tomwhite commented on #2287
Yes

[2017-05-31 10:37] tomwhite commented on #2252
Yes, it was fixed in #2350

[2017-05-31 10:37] #2252 closed

[2017-05-31 13:53] #2287 closed

[2017-05-31 16:48] jean-philippe-martin commented on #2402
[I see dead code](http://www.imdb.com/title/tt0167404/quotes?item=qt0249072), still. There's more work to do. For example `MetricsUtils.saveMetrics` takes in an authHolder but then doesn't use it - I need to remove that and transitively remove it from all the functions that only take one in to pass it there.

[2017-05-31 18:10] jean-philippe-martin commented on #963
I think the question is about `com.google.cloud.dataflow.sdk.options.PipelineOptions`. In that case we're not done, there is still some of that about.

[2017-05-31 18:25] jean-philippe-martin commented on #963
I've removed some in #2786. The rest are all related to the `ReferenceAPISource`.

[2017-05-31 19:44] ronlevine opened #2787 "HaplotypeBAMDestination does not forward @PG BAM header lines"
Follow on to https://github.com/broadinstitute/dsde-docs/issues/2106.

----

## Bug Report

### Affected tool(s)
HaplotypeCaller using -bamout

### Description
The output BAM files lack any `@PG` lines in the output BAM header, but preserve the `PG:Z:` tags on the reads.

#### Expected behavior
The output BAM file header should include the `@PG` lines from the input BAM.

#### Actual behavior
The

[2017-06-01 16:13] lbergelson commented on #2777
done

[2017-06-01 16:13] #2777 closed

[2017-06-01 16:57] kgururaj commented on #2636
In general, a field should be imported in TileDB/GenomicsDB iff the value is specific to the sample and the genomic position. The ID field value(s) is/are independent of the sample. Hence, we tended to ignore importing it.

Having said that, there is an option for importing the ID field in the PR. The Java VCF based importer will add an ID field by default.

[2017-06-01 18:03] lbergelson commented on #2071
Tied out for old qual!  Woo!  New qual still needs work.

[2017-06-01 18:03] #2071 closed

[2017-06-01 18:43] jonn-smith opened #2793 "Google cloud output issue with --shardedOutput false"
When running PrintReads on GCS with shardedOutput false, I'm experiencing a file write failure for my output.  I have verified that I can write to the bucket I specify and that when shardedOutput is true this error does not occur.  @tomwhite - any thoughts?

Here's my invocation:

./gatk-launch PrintReadsSpark -I gs://hellbender/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam -O gs://

[2017-06-01 18:44] lbergelson opened #2794 "Update wiki pages that talk about gatk-protected"
Our wiki has a bunch of outdated things which should be updated: ex: https://github.com/broadinstitute/gatk/wiki/Why-are-there-multiple-GATK-repositories%3F

[2017-06-01 18:47] droazen commented on #2793
@jean-philippe-martin Can you comment on this one as well? Is this related to that globbing issue we fixed a while back?

[2017-06-01 18:53] kcibul opened #2795 "ApplyRecalibration -> ApplyRecalibration produces no variants when using .vcf.gz output"
If I run ApplyRecalibration twice in a chain (the first for indel recalibration, the second for snp recalibration) the final resulting vcf only has a header.

IF the output of the first ApplyRecalibration is a .vcf.gz, this occurs.  IF I change that to be a .vcf instead (non-compressed) this does not happen.

It seems like something either in the compression out of ApplyRecalibration or the decomp

[2017-06-01 19:12] sooheelee opened #2796 "Mutect2 and HaplotypeCaller lack the option to output active regions"
This is a feature in GATK3 HaplotypeCaller that is yet to be ported to GATK4 HaplotypeCaller (which is in beta currently).

Given Mutect2 is ~~no longer~~ `still` in beta ~~(in production)~~, might consider adding this option.

The exact parameter name is `-ARO` or `--activeRegionOut`.

[2017-06-01 19:49] meganshand commented on #2712
A comment from @ldgauthier:

The threshold for PLs to be considered uninformative is the same between GATK3 and 4, but the stack when it gets called is a little bit different. It might be changes in subsetting again because the methods that evaluate the "informativeness" in GATK3 are called updateGenotypeAfterSubsetting and createGenotypesWithSubsettedLikelihoods, which appear to have been refacto

[2017-06-01 21:45] lbergelson opened #2797 "StrandArtifact annotation throws NPE if tumor lod is not present"
The annotation `StrandArtifact` explodes with an NPE if tumor lod isn't found.  It should probably just not annotate if it's prerequisites aren't found.  Alternatively, it could throw a helpful UserException.

This was discovered by `VariantAnnotatorEngineUnitTest.testAllAnnotations`
[code]

[2017-06-01 21:47] droazen commented on #2797
@takutosato This one is for you, since you wrote the annotation in question.

[2017-06-01 21:47] lbergelson opened #2798 "VariantAnnotatorEngineUnitTest.testAllAnnotations doesn't"
It has asserts for a number of annotations, but it doesn't detect when new un-asserted annotations are added.
We should consider:
A: adding asserts for new annotations since the test was written
B: adding a clause to fail when new annotations are added without an assert
C: renaming the method

[2017-06-01 22:01] lbergelson opened #2799 "ReferenceBases annotation fails with NPE if reference is null"
The `ReferenceBases` annotation fails with an NPE if there is no reference available.  It should fail with a helpful UserException instead.

[code]

[2017-06-01 22:05] droazen commented on #2799
For @davidbenjamin

[2017-06-02 00:05] droazen commented on #2070
This epic is complete!

[2017-06-02 00:05] #2070 closed

[2017-06-02 01:48] davidbenjamin commented on #2796
@sooheelee What does this output look like?  Could you paste a sample vcf line?

[2017-06-02 02:52] vdauwera commented on #2796
IIRC it's just an intervals file. It's a debugging option so not a priority for the beta release.

[2017-06-02 13:20] droazen commented on #2795
@kcibul Have you determined that the issue here was actually in the index creation step, and that the bug is that `IndexFeatureFile` was generating a bad tabix index?

[2017-06-02 13:31] droazen commented on #2793
@tomwhite @jean-philippe-martin Thoughts on this? I'm concerned that we might not have completely fixed that NIO BAM merging issue on Spark after all...

[2017-06-02 13:46] droazen opened #2801 "IndexFeatureFile produces an incorrect tabix index on .vcf.gz files with a large header"
@kcibul and @cmnbroad report that the `IndexFeatureFile` tool produces an incorrect tabix index on `.vcf.gz` files with a large header, such as hg38 vcfs. The symptoms of this appear to be that queries on the file return no records. Running tabix directly produces a correct index.

[2017-06-02 13:47] droazen commented on #2795
Opened https://github.com/broadinstitute/gatk/issues/2801

[2017-06-02 13:53] magicDGS commented on #2801
Something similar happens with BED files, and it is a known issue in HTSJDK: https://github.com/samtools/htsjdk/issues/393

I also implemented a failing test with BED file in a [PR](https://github.com/samtools/htsjdk/pull/820), but I don't dare to touch the tabix indexing code because I'm not familiar with the specifications.

[2017-06-02 13:59] droazen commented on #2801
@magicDGS Do you know if the index corruption is triggered only by files with large headers?

[2017-06-02 14:05] tomwhite commented on #2793
Is the output bucket otherwise empty? Does it work if you specify `--shardedOutput true`? (I'm not able to test this at the moment)

[2017-06-02 14:08] droazen commented on #2793
@tomwhite Yes, it works with `--shardedOutput true` and the exact same bucket.

[2017-06-02 14:12] magicDGS commented on #2801
The BED problem is not about a large header, but about some problem with the first bins. I think that this will be similar here, because the header may affect the first bin... But it's just a guess...

[2017-06-02 14:19] droazen commented on #2795
Closing -- this is actually caused by https://github.com/broadinstitute/gatk/issues/2801

[2017-06-02 14:19] #2795 closed

[2017-06-02 15:18] tomwhite commented on #2793
It looks like the trailing slash on _foo.bam.parts_ is missing, so GCS interprets it as a file not a directory.

[2017-06-02 16:11] jonn-smith opened #2802 "Tests fail with BWA SIGABRT when git lfs files are missing"
When running tests with `./gradlew clean test` without the lfs files, an error code is thrown from within BWA causing the test suite to fail.

Error and Stack Trace:

...
11:54:40.426 [ERROR] [system.err] [bwt_restore_sa] SA-BWT inconsistency: seq_len is not the same. Abort!
...

11:54:40.433 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] org.gradle.api.tasks.TaskExecutionExcepti

[2017-06-02 17:05] sooheelee commented on #2796
Had an internal user come around asking HaplotypeCaller questions the answer to which is to output an ARO. I was working on M2 documentation at the time and noticed then that this is not a current option. Since we have new parameters that allow users to tweak active region determination (min_variants_in_pileup, minNormalVariantFraction, and tumorStandardDeviationsThreshold), it would then follow t

[2017-06-02 17:33] vdauwera commented on #2796
I agree that it's useful, just not urgent

[2017-06-02 17:47] sooheelee commented on #2796
Yes, I leave prioritization to you all.

[2017-06-02 17:58] droazen commented on #2796
It's been added to the 4.0 milestone.

[2017-06-02 19:46] droazen commented on #2793
Interesting theory -- @jonn-smith is testing it out.

[2017-06-02 19:53] jean-philippe-martin commented on #2793
Great! I was testing it out as well.

[2017-06-02 21:32] jonn-smith commented on #2793
Here's some additional info.

After testing with the trailing slash, the process seems to run longer but there is some strangeness.  Looking at the Spark jobs info, it claims to have completed `saveAsNewAPIHadoopFile at ReadsSparkSink.java:202` but is still running.

[2017-06-02 21:36] droazen commented on #2771
Done!

[2017-06-02 21:36] #2771 closed

[2017-06-02 21:36] droazen commented on #2772
Done!

[2017-06-02 21:36] #2772 closed

[2017-06-02 21:36] droazen commented on #2773
Done!

[2017-06-02 21:36] #2773 closed

[2017-06-02 21:37] droazen commented on #2782
Done!

[2017-06-02 21:37] #2782 closed

[2017-06-02 21:53] lbergelson commented on #2472
this is no longer relevant since we merged the repos

[2017-06-02 21:53] #2472 closed

[2017-06-02 22:42] droazen opened #2806 "Migrate rebased tags from protected repository"

[2017-06-02 23:28] droazen opened #2808 "Docker integration tests intermittently hit hard travis limit of 50 minutes"
After the merger with gatk-protected, the docker integration tests are intermittently (but frequently) hitting the hard travis time limit of 50 minutes. We need to fix this ASAP!

[2017-06-02 23:28] droazen commented on #2808
For @LeeTL1220

[2017-06-02 23:41] LeeTL1220 commented on #2808
Not entirely sure on best approach to solve this.  We'll discuss Monday?

On Jun 2, 2017 19:28, "droazen" <notifications@github.com> wrote:

[2017-06-04 01:49] lbergelson opened #2814 "Identify issues that were accidentally closed during import of protected"
We've accidentally closed a lot of issues by merging gatk protected.  All of the commits from protected that included a "closed #X" now closed gatk public tickets by accident.  This is an unfortunate unforseen side effect.

[2017-06-04 01:50] lbergelson commented on #2814
@droazen :man_facepalming:   I wish we had thought of this ahead of time so we could have done the appropriate commit message rewrites...

[2017-06-04 03:46] droazen commented on #2814
It can't be very many issues -- we have 435 open issues in public, which is about what we had before...

[2017-06-04 03:48] droazen commented on #2814
Also the issue numbers would have to be <= 1116 (max issue number in protected). We are on issue 2814 here, which means only very ancient issues could have been closed.

[2017-06-04 03:51] droazen commented on #964
Re-opening -- this was closed by accident.

[2017-06-04 03:51] droazen commented on #873
Re-opening -- this was closed by accident.

[2017-06-04 03:52] droazen commented on #302
Re-opening -- this was closed by accident.

[2017-06-04 03:53] droazen commented on #2814
I found them and re-opened them. There were three such accidentally closed issues: https://github.com/broadinstitute/gatk/issues/964, https://github.com/broadinstitute/gatk/issues/873, and https://github.com/broadinstitute/gatk/issues/302

[2017-06-04 03:55] droazen commented on #2814
Closing as resolved

[2017-06-04 03:55] #2814 closed

[2017-06-04 16:20] sooheelee opened #2815 "The Mutect2 option `--af_of_alleles_not_in_resurce` needs spelling correction and other minor doc fixes"
1. `--af_of_alleles_not_in_resurce` should be `--af_of_alleles_not_in_resource`.
2. `--germline_resource` and `--af_of_alleles_not_in_resurce` descriptions should not use _allele fraction_. Rather they should refer to _allele frequencies_.
3. `--tumorStandardDeviationsThreshold`'s description: pielup --> pileup
4. Two seemingly related parameters `--group` and `--annotation` are confusing to have

[2017-06-04 16:21] sooheelee commented on #2815
@davidbenjamin Can you help with (1) and share insight on (5)? Thank you.

[2017-06-05 14:40] droazen opened #2817 "Docker tests should upload TestNG report to bucket"
The standard integration/unit tests upload their test report -- the docker tests should as well.

[2017-06-05 14:46] droazen opened #2818 "Split integration tests into two roughly equal targets"
The current test report suggests that if we split off the tests in the `exome` package into a separate target, we would be close to a balanced 2-way split.

Possibly the right way to do this is to have two new values for `TEST_TYPE` in `build.gradle`: `cnvIntegration` and `nonCNVIntegration`. Specifying just `integration` would run all the integration tests, as before. Specifying `cnvIntegration`

[2017-06-05 14:47] droazen opened #2819 "Split unit tests into two roughly equal targets"
Do the equivalent of https://github.com/broadinstitute/gatk/issues/2818 for the unit tests.

[2017-06-05 14:54] droazen opened #2820 "Add GCS NIO support to GatherVCFs in "block copy" mode"

[2017-06-05 15:13] droazen opened #2821 "Confirm that ApplyRecalibration indexes its output, and generates a correct tabix index for hg38 vcfs"
Let's double-check that `ApplyRecalibration` now indexes its outputs, and find out whether it generates correct tabix indices, or is affected by the possible htsjdk bug in https://github.com/broadinstitute/gatk/issues/2801

[2017-06-05 15:15] droazen commented on #2793
@jean-philippe-martin Are you able to replicate this problem?

[2017-06-05 15:22] droazen opened #2822 "Update to new gcloud release when it's out"
I'm told there will be a new gcloud release any day now (https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2110) with @jean-philippe-martin 's NIO retry fixes. We should update as soon as it's out, and confirm that it resolves https://github.com/broadinstitute/gatk/issues/2749, https://github.com/broadinstitute/gatk/issues/2685, and (possibly) https://github.com/broadinstitute/gatk/i

[2017-06-05 15:37] droazen opened #2823 "Correct Tsv Reader/Writer reference javadoc documentation."
@vruano commented on [Wed Jun 17 2015](https://github.com/broadinstitute/gatk-protected/issues/39)

There some issues in the documentation text in package-info.java that was not updated properly after a last minute refactoring.

This task is neither nor not urgent.

[2017-06-05 15:39] droazen opened #2824 "Possible enhancements to MCMC."
@samuelklee commented on [Mon Oct 05 2015](https://github.com/broadinstitute/gatk-protected/issues/126)

Some possible enhancements/improvements, in no particular order and of varying scope:

-Change SliceSampler to be able to handle multimodal univariate distributions. Should just be a matter of implementing the pseudocode in Neal 2003 http://projecteuclid.org/download/pdf_1/euclid.aos/1056562461

[2017-06-05 15:39] droazen opened #2825 "Phasing in ACNV"
@davidbenjamin commented on [Wed Oct 07 2015](https://github.com/broadinstitute/gatk-protected/issues/135)

Cancer people want this.  The Sanger has it already.  How would we add this functionality?

---

@akiezun commented on [Wed Jan 13 2016](https://github.com/broadinstitute/gatk-protected/issues/135#issuecomment-171501904)

I assume you want to not 'do' phasing but 'use' phasing info for bette

[2017-06-05 15:40] droazen opened #2826 "R scripts to visualize Germline CNV data."
@vruano commented on [Wed Oct 14 2015](https://github.com/broadinstitute/gatk-protected/issues/149)

Plots required to choose some of the parameters use along the pipeline:
To have an idea how they look like and how they would be used you can refer to XHMM tutorial:
https://atgu.mgh.harvard.edu/xhmm/tutorial.shtml

These can be totally in R and you may choose to reuse XHMM original code make refer

[2017-06-05 15:40] droazen opened #2827 "move selected infrastructure pieces to public gatk repo"
@akiezun commented on [Wed Oct 28 2015](https://github.com/broadinstitute/gatk-protected/issues/169)

all parts that are a) mature enough b) shared between germline and somatic CNVs should be moved to the public gatk repo.

OK to do past alpha.

---

@akiezun commented on [Wed Nov 04 2015](https://github.com/broadinstitute/gatk-protected/issues/169#issuecomment-153783985)

@LeeTL1220 @vruano can y

[2017-06-05 15:40] droazen opened #2828 "Add support R needs X11/Cairo to be built for plotting"
@achevali commented on [Thu Nov 12 2015](https://github.com/broadinstitute/gatk-protected/issues/185)

---

@LeeTL1220 commented on [Wed Dec 02 2015](https://github.com/broadinstitute/gatk-protected/issues/185#issuecomment-161477822)

@achevali Is this just a simple doc change to make sure cairo and png are supported in a `capabilities()` call?

---

@samuelklee commented on [Wed Aug 17 2016](http

[2017-06-05 15:40] droazen opened #2829 "Review Valentin's notes on HC efficiency TODOs"
@vdauwera commented on [Fri Dec 18 2015](https://github.com/broadinstitute/gatk-protected/issues/259)

Back in July 2015, @vruano made a laundry list of issues suggesting possible improvements to HaplotypeCaller and related internals. They won't be done in GATK3 so  I tagged them as "HC-refactor" when I closed them. Whoever ports HC should review those suggestions so that @vruano's wisdom is not w

[2017-06-05 15:41] droazen opened #2830 "Investigate nonlinear alternatives to tangent normalization"
@davidbenjamin commented on [Sat Dec 19 2015](https://github.com/broadinstitute/gatk-protected/issues/260)

We use (linear) PCA to map the PoN, each datum of which is a high-dimensional vector over targets, to a low-dimensional manifold.  Do we really believe that this manifold is simply a hyperplane?

Concretely, suppose the data really lives on a 4-dimensional curved manifold.  Due to the curvat

[2017-06-05 15:41] droazen opened #2831 "Find a better way for determining the number of partitions/slices to use for Spark"
@LeeTL1220 commented on [Mon Jan 04 2016](https://github.com/broadinstitute/gatk-protected/issues/276)

Particularly in the SVD spark calculations.  This is hardcoded to 50, which could cause issues later.

What is the best general strategy?

[2017-06-05 15:41] droazen opened #2832 "Support blacklisting regions for WGS"
@achevali commented on [Mon Jan 11 2016](https://github.com/broadinstitute/gatk-protected/issues/287)

Such as common germline cnv

---

@LeeTL1220 commented on [Tue Jan 26 2016](https://github.com/broadinstitute/gatk-protected/issues/287#issuecomment-175140271)

Given that we have a flag for pruning X, Y, and M/MT, I am putting the arbitrary blacklist for WGS to a later milestone.

[2017-06-05 15:42] droazen opened #2833 "Spark cluster nodes not released, even though spark calculations are complete"
@LeeTL1220 commented on [Fri Jan 15 2016](https://github.com/broadinstitute/gatk-protected/issues/308)

This may be as simple as adding a `ctx.close()` statement after the spark calculations are complete.
- [ ] Confirmed on our spark cluster that this is fixed...

---

@LeeTL1220 commented on [Tue Jan 26 2016](https://github.com/broadinstitute/gatk-protected/issues/308#issuecomment-175139853)

Can

[2017-06-05 15:42] droazen opened #2834 "Make sure that ``CreatePanelOfNormals`` can be run on spark cluster"
@LeeTL1220 commented on [Thu Jan 21 2016](https://github.com/broadinstitute/gatk-protected/issues/316)

How does the performance look?
This may also include having to troubleshoot adding a `sparkJar` artifact to `build.gradle`.

---

@LeeTL1220 commented on [Fri Jan 22 2016](https://github.com/broadinstitute/gatk-protected/issues/316#issuecomment-173938780)

Dependent on issue https://github.com/b

[2017-06-05 15:42] droazen opened #2835 "Anonymize CNV PoNs"
@LeeTL1220 commented on [Mon Feb 01 2016](https://github.com/broadinstitute/gatk-protected/issues/343)

In `CreatePanelOfNormals` make anonymize a flag that defaults to `false`.  (i.e. `--anonymize`)  In other words, by default, we do _not_ produce an anonymized PoN.

We could also use a separate tool that takes a pre-existing PoN and anonymizes it.

To anonymize a PoN:
- [ ] Determine which field

[2017-06-05 15:43] droazen opened #2836 "Refactor segment classes."
@samuelklee commented on [Mon Feb 01 2016](https://github.com/broadinstitute/gatk-protected/issues/344)

Segment class that was reintroduced in the germline code requires reference to collection of Targets in constructor and also stores a call, segment mean, and number of targets.  ModeledSegment (used in CNV) now extends this and adds methods to transform CR/log2CR, and in turn ACNVModeledSegment

[2017-06-05 16:23] droazen opened #2837 "Add FPGA support to GKL PairHMM"

[2017-06-05 16:24] lbergelson commented on #2808
I talked to travis support and I believe this is now fixed:

From travis support:

[2017-06-05 16:24] #2808 closed

[2017-06-05 16:29] droazen commented on #2578
This is done as a side effect of the repo merger -- closing

[2017-06-05 16:29] #2578 closed

[2017-06-05 16:35] erniebrau commented on #2837
See PR #2725 :-)

[2017-06-05 16:38] jean-philippe-martin commented on #2793
I saw it run for a surprisingly long time. Then it failed with a `SSLHandshakeException`. I need to run this with the [gcloud fix snapshot](https://github.com/broadinstitute/gatk/tree/jp_gcloud_17_snapshot).

[2017-06-05 16:54] jean-philippe-martin commented on #2822
Note to self: the gcloud API changes a bit with the new release, apply the changes in [jp_gcloud_17_snapshot](https://github.com/broadinstitute/gatk/tree/jp_gcloud_17_snapshot) to adapt.

[2017-06-05 17:10] LeeTL1220 opened #2839 "Modify Mutect2 WDL to run oncotator producing a MAF instead of a VCF."

[2017-06-05 17:42] droazen opened #2840 "ACNV on WGS workflow evaluation"
@LeeTL1220 commented on [Wed Mar 02 2016](https://github.com/broadinstitute/gatk-protected/issues/396)

We would like performance for WGS.
Metrics could be:
- sensitivity and precision
- concordance between multiple WGS replicates
- RMSE against HAPSEG results

Feel free to finalize this list...

[2017-06-05 17:43] lbergelson commented on #2636
closed by #2733

[2017-06-05 17:43] #2636 closed

[2017-06-05 17:43] droazen opened #2841 "Write test w/ artificial data for germline model"
@davidbenjamin commented on [Tue Mar 22 2016](https://github.com/broadinstitute/gatk-protected/issues/413)

We used to have a concordance test with XHMM, but we can't use that anymore.

[2017-06-05 17:43] lbergelson commented on #2714
close by #2733

[2017-06-05 17:43] #2714 closed

[2017-06-05 17:43] droazen opened #2842 "Put generative coverage model into somatic code (part 1)"
@davidbenjamin commented on [Thu Mar 31 2016](https://github.com/broadinstitute/gatk-protected/issues/432)

Before integrating this with probabilistic segmentation, which is more complicated for somatic than for germline, we can simply replace the current tangent normalization step with the mode of the likelihood (as a function of copy ratio) resulting from the generative coverage model.  This req

[2017-06-05 17:43] droazen opened #2843 "Put generative coverage model into somatic code (part 2)"
@davidbenjamin commented on [Thu Mar 31 2016](https://github.com/broadinstitute/gatk-protected/issues/433)

Once (if?) we have probabilistic somatic segmentation, hook it up to the likelihoods output by the generative coverage model.

[2017-06-05 17:43] lbergelson commented on #2715
close by #2733

[2017-06-05 17:43] #2715 closed

[2017-06-05 17:44] droazen opened #2844 "Add smoke tests for sparkJar / shadowJar"
@lbergelson commented on [Mon Apr 11 2016](https://github.com/broadinstitute/gatk-protected/issues/443)

I recently broke the ability to create a spark/shadow jar and only discovered it when I went to create one later.  We should add simple tests for the generated jar to be sure it can be created / executed.

[2017-06-05 17:44] droazen opened #2845 "Add forum post: why use alleles to call CNVs, and what is allelic bias?"
@davidbenjamin commented on [Thu Apr 14 2016](https://github.com/broadinstitute/gatk-protected/issues/445)

[2017-06-05 17:45] droazen opened #2846 "Replication timing correlation"
@achevali commented on [Wed Apr 27 2016](https://github.com/broadinstitute/gatk-protected/issues/460)

Try to model explicitly the effect on copy-number of different parts of the genome being replicated earlier in the cycle.