[2015-06-22 20:03] akiezun opened #589 "add read filtering to command line options"
originally from #429
The request is to be able to specify read filters on the commandline. Each read filter may have additional options. The read filters are to be applied in the order specified on commandline and applied before the tool.

@vdauwera can clarify additional requirements

[2015-06-22 20:03] akiezun commented on #429
added https://github.com/broadinstitute/hellbender/issues/589
closing this issue as discussed

[2015-06-22 20:03] #429 closed

[2015-06-22 20:11] jean-philippe-martin commented on #568
@akiezun if you like, sure. In that case just copy the text here and place it in a comment in the other one, perhaps, so we remember to check that particular read?

[2015-06-22 20:17] jean-philippe-martin commented on #557
We can close this ticket, both issues is describes are fixed.

The first half is fixed because I have created a new input that the parser can read without tripping over so BQSR now passes (modulo issue #580).

The second half is now unnecessary. I was suggesting we update GATK so it rejects those inputs outright. @lbergelson convincingly argues that this would be expensive. So instead we can keep

[2015-06-22 20:17] #557 closed

[2015-06-22 20:38] lbergelson commented on #569
@nenewell If I understand what is going on correctly I think this may be a bug in the validator.  Sam spec says

• If 0x1 is unset, no assumptions can be made about 0x2, 0x8, 0x20, 0x40 and 0x80.

Bit | Description
------ | ----------------
1 0x1 | template having multiple segments in sequencing
2 0x2 | each segment properly aligned according to the aligner
4 0x4 | segment unmapped
8 0x8 | next se

[2015-06-22 20:39] akiezun commented on #568
closing as dup of #569

[2015-06-22 20:39] #568 closed

[2015-06-22 20:43] akiezun commented on #366
Low prio because likelihood store replaces this code

[2015-06-22 20:44] lbergelson commented on #525
Yes, that should be mine.  Not sure why it's on david.

[2015-06-22 20:52] akiezun commented on #335
@LeeTL1220 @samuelklee Can you clarify if we still needs this given the current work in ACS?

[2015-06-22 20:55] akiezun commented on #269
@vdauwera is this a bug or enhancement?

[2015-06-22 20:58] akiezun commented on #265
marking as low prio unless i hear otherwise

[2015-06-22 21:03] akiezun commented on #246
@ldgauthier is this going to come from GATK3 together with M2?

[2015-06-22 21:06] akiezun commented on #181
@droazen can you weight in on this?

[2015-06-22 21:07] akiezun commented on #148
let's forget about it for now

[2015-06-22 21:07] #148 closed

[2015-06-22 21:09] akiezun commented on #103
needs to be done whether we're dataflowing or not

[2015-06-22 21:29] lbergelson commented on #581
fixed before it actually went in.

[2015-06-22 21:29] #581 closed

[2015-06-22 21:30] akiezun opened #590 "test Hellbender on CRAM"
GATK4 needs to work on cram files. We need to add tests to check that we can process CRAM files and get results equivalent to BAM

At the minimum, this needs to cover adding tests for:
- [x] MarkDuplicates
- [x] BQSR
- [x] PrintReads
- [x] CountReads
- [x] CountBases
- [x] MeanQualityByCycle
- [x] QualityScoreDistribution
- [ ] CalculateHsMetrics
- [ ] CollectGCBiasMetrics
- [x] CollectBaseDistrib

[2015-06-22 21:39] akiezun commented on #15
closing in favor of https://github.com/broadinstitute/hellbender-protected/issues/42

[2015-06-22 21:40] akiezun commented on #44
closed in favor of https://github.com/broadinstitute/hellbender-protected/issues/43

[2015-06-22 21:40] #44 closed

[2015-06-22 22:28] jean-philippe-martin commented on #580
PWD has nothing to do with the length of the classpath, it uses absolute paths.

[2015-06-22 22:44] jean-philippe-martin commented on #580
One way to mitigate this problem is to set the GRADLE_USER_HOME environment variable to move the gradle cache onto a shorter path. This solved the problem for me for BaseRecalibratorDataflow.
In my case I saw about over 100 jars listed.

[2015-06-23 00:36] samuelklee commented on #335
Based on the code above, I implemented a public static method getPileupBaseCounts to get base counts from pileups in the class HetPulldownCalculator in hellbender-protected.  However, if this method will be needed by anything else, it could probably be moved out of this class.

[2015-06-23 01:23] akiezun opened #591 "add unit tests for MarkDuplicatesSpark"
we need tests like those in `AbstractMarkDuplicatesCommandLineProgramTest` to run on Spark (this is required because the duplicate-detection logic is reimplemented on Spark and based on uniqueness of generated keys).

Also `MarkDuplicatesTest` and probably `OpticalDuplicateFinderTest`

[2015-06-23 01:32] akiezun commented on #419
assigning to me to avoid confusion but @cmnbroad is working on it.

[2015-06-23 01:33] akiezun commented on #181
assigning to me but @cmnbroad is on it

[2015-06-23 01:34] akiezun commented on #325
assigning to me but @cmnbroad is working on it.

[2015-06-23 01:35] akiezun commented on #262
assigning to me but @cmnbroad is on it

[2015-06-23 01:35] akiezun commented on #146
@cmnbroad is on it

[2015-06-23 01:45] akiezun commented on #121
we need this independently of dataflow (needs to work one file walkers as well as dataflow)

[2015-06-23 01:49] akiezun commented on #428
i'm closing this. I dont see any action to be done. Reopen if something changes.

[2015-06-23 01:49] #428 closed

[2015-06-23 01:52] akiezun commented on #559
assigning to me but @cmnbroad will work on it

[2015-06-23 07:27] ldgauthier commented on #246
Eventually.  I have the code building and running nicely in a branch, but @kcibul needs to find where the server test data was moved to.

[2015-06-23 13:44] nenewell commented on #569
Your interpretation sounds right, although I wish the language in the SAM spec were clearer - something like "if 0x1 is unset, fields 0x2, 0x8, 0x20, 0x40, and 0x80 have no meaning and are ignored by the tools". SAMRecord.IsValid() returns errors not only for 0x8(mate unmapped)/unpaired read, but also for the other four fields, so all of these errors would need to be removed. IsValid() also trigge

[2015-06-23 14:23] lbergelson opened #592 "Fix SamFileValidator so that it doesn't incorrectly flag valid reads"
`SamFileValidator`'s `isValid()` flags certain reads as being errors when they should not be.  This happens when a read that has flag 0x1 ( read has a mate) set to false has flags 0x2, 0x8, 0x20, 0x40 or 0x80 set to true.

According to sam spec, if flag 0x1 is unset than those fields are uninterpretable and should be ignored.

This was identified in #569

[2015-06-23 14:24] lbergelson commented on #569
Thanks for looking into this.  It's fiddly stuff.  You're definitely right about it causing unnecessary complications.  It's certain that we'll see comparison between bams processed locally and in the cloud, at the least just in testing our own code.  Minor differences like this already have been causing pain for testing.  I think altering the google code would be a good thing.

The best thing to

[2015-06-23 14:30] tomwhite commented on #551
@akiezun yes, I can take a look.

[2015-06-23 15:31] nenewell commented on #569
Yes - I'd be happy to do both of those.Thank you.

[2015-06-23 15:38] nenewell commented on #592
I will do this.

[2015-06-23 17:39] nenewell commented on #592
To do this, I need to modify SamRecord.IsValid() in htsjdk.samtools. Should I submit this issue to htsjdk? Thank you.

[2015-06-23 17:44] lbergelson commented on #592
Ah, sorry, I didn't look into where the actual code came from.  If it needs to be updated in htsjdk then it should be updated there.

[2015-06-23 20:23] lbergelson commented on #537
closed by #594

Thanks @pgrosu for the suggested text.

[2015-06-23 20:23] #537 closed

[2015-06-23 20:41] jean-philippe-martin commented on #426
Works with local files, and a PR for cloud functionality (complete with passing test) is under review (it's PR #595). The one thing left to do is to adapt to the skeleton once that's merged in.

[2015-06-23 21:44] jean-philippe-martin commented on #425
The corresponding pull request is #529. It's merged, so closing this issue.

[2015-06-23 21:44] #425 closed

[2015-06-24 17:40] lbergelson opened #597 "Extract facility for cloud dataflow runs to create local output."
#595 introduces the ability for a dataflow tool run in the cloud to write files to gcloud and then copy them back to the local disk at the end of the run.  This is only set up for ApplyBQSR, but it would be a useful facility for any tool.

[2015-06-24 20:58] lbergelson commented on #580
Should we bring this up with the dataflow team.  This seems like a major problem if you have a lot of dependencies like we do now.

[2015-06-24 21:54] jean-philippe-martin commented on #580
@lbergelson done.

[2015-06-24 22:32] jean-philippe-martin commented on #580
Do we know if it's possible to set up IntelliJ to build a far jar and run off of that, instead of many jars? That would slow us down but at least go around this problem.

[2015-06-24 22:59] pgrosu commented on #580
@jean-philippe-martin When I build a fatJar manually, and then run just using that, it seem to throw an exception :(

[code]
~p
[code]

[2015-06-24 23:18] lbergelson commented on #580
That's not good. We'll have to fix that.
On Jun 24, 2015 6:59 PM, "Paul Grosu" <notifications@github.com> wrote:

[2015-06-25 01:30] jbloom22 commented on #536
@akiezun The description above seems to be a mix of NVAR and NMIN...  can you clarify?

[2015-06-25 01:50] jbloom22 commented on #539
@akiezun you say a sample with a no call (./.) or a sample with very low GQ is a sample whose data is missing, but did not define the threshold for the latter.  Am I to assume that "missing data" equivalent to one of NO_CALL, UNAVAILABLE, or MIXED below?

    /** The sample is no-called (all alleles are NO_CALL */
    NO_CALL,
    /** There is no allele data availble for this sample (alleles.isEmp

[2015-06-25 14:38] jbloom22 commented on #540
@akiezun so my approach here is to stream through to build a histogram on bins 0, ..., 250.  I can spin my own median function on a histogram, but it seems that Tim has already written a histogram class below in htsjdk.samtools.util that computes percentiles, mean, etc... I think it'd make sense to use something like this in general rather than locally replicating methods for common statistics on

[2015-06-25 14:44] #551 closed

[2015-06-25 15:19] davidadamsphd opened #598 "Extract CoordinateOrder from MarkDuplicatesDataflow.java and unify with other comparators"
such as ReadCoordinateComparator.

[2015-06-25 19:47] akiezun commented on #539
provide an option `minGQ`: everything with GQ below that (and everything `./.`) is "missing"

[2015-06-26 13:51] tomwhite opened #599 "Fix ApplyWholeBQSRDataflowIntegrationTest on Spark"
This test exposed a bug in Spark Dataflow which is being fixed by https://github.com/cloudera/spark-dataflow/pull/57

[2015-06-26 14:32] #359 closed

[2015-06-26 14:32] #377 closed

[2015-06-26 15:06] lbergelson commented on #368
closed by #576

[2015-06-26 15:06] #368 closed

[2015-06-26 17:50] cmnbroad commented on #243
I have a few lines of code that dynamically sets the log4j level for command line tools to match the existing VERBOSITY arg, It seems to work in simple testing so I don't think we need to downgrade to do it. Let me know if you want the code, or if you haven't started you can reassign this to me.

[2015-06-26 18:13] edwardkw commented on #243
I've started some work on downgrading, but this definitely sounds like a better solution. I'll reassign to you and if things don't work out you can send it back.

[2015-06-29 15:43] cmnbroad commented on #147
The code to automatically inject "--VERBOSITY ERROR" was included in [#171](https://github.com/broadinstitute/hellbender/pull/171/files), but without [#603](https://github.com/broadinstitute/hellbender/pull/603) or equivalent it doesn't affect log4j output. dding in #603 reduces the log output by about another 7000 lines. In addition, we could squeeze out another 5000 lines by automatically inject

[2015-06-29 15:56] #340 closed

[2015-06-29 15:56] cmnbroad commented on #340
Closed by #583

[2015-06-29 17:59] cmnbroad commented on #146
One service in htsjdk logger that we use a lot in the picard tools is the ProgressLogger, which allows the caller to set a threshold "n" so that progress is only logged every "n" SAMRecords. I don't see anything built in to log4j for this so we'll have to reproduce it in the hellbender codebase for log4j. Its not much code but it will duplicate what is htsjdk.

[2015-06-29 21:08] samuelklee commented on #335
After getting feedback from @vruano on Issue 45 in hellbender-protected and speaking with @droazen and @lbergelson, it seems that LocusWalker should be implemented instead.

For the time being we will move forward with SamLocusIterator, but I'll file a separate issue in hellbender-protected to remind us to switch over to LocusWalker once it is implemented.

[2015-06-30 14:04] #273 closed

[2015-06-30 14:04] edwardkw commented on #273
Fixed.

[2015-06-30 14:19] cmnbroad commented on #325
Closed with #584

[2015-06-30 14:19] #325 closed

[2015-06-30 16:55] lbergelson opened #605 "Allow Feature files like .bed and .vcf be used as inputs to -L"
Gatk3 allowed inputs like `-L some_intervals.vcf`.  This functionality should be integrated into the `IntervalArgumentCollection` so that it is available to all tools.

[2015-06-30 17:00] lbergelson commented on #605
This is needed for a tool that @samuelklee is working on.

[2015-06-30 17:01] droazen commented on #605
I can take this one

[2015-07-01 15:03] droazen commented on #559
Reassigning to @edwardkw

[2015-07-01 15:04] droazen opened #606 "Determine whether hellbender + latest htsjdk will transparently support CRAM files, or whether code changes are needed"

[2015-07-01 15:06] droazen commented on #606
It's possible that hellbender (with the latest htsjdk) will transparently work with CRAM (as opposed to BAM/SAM) files via the `SAMReader` interface, with no code changes required. Let's find out whether that is the case, and if it's not, identify (but do not implement yet) the kinds of changes that will be required to support CRAM files.

[2015-07-01 15:07] droazen commented on #606
This is a prerequisite for https://github.com/broadinstitute/hellbender/issues/590

[2015-07-01 16:49] lbergelson opened #607 "Refactor AlleleListUtilsUnitTest to have no skips and be robustly deterministic"
There are a number of skipped tests on a successful run of `AlleleListUtilsUnitTest`  These are deliberately skipped because the tests share a single data provider, but each test can only use a subset of the data.  These should be refactored to avoid skipping tests.

These tests also make use of random number generators.  It looks like these may not be properly isolated and may introduce coupling

[2015-07-01 18:47] lbergelson opened #609 "Fix the warning about Vfs.dir when registering genomics coders"
Some (but not all) users get a warning whenever they run a dataflow pipeline that calls `DataflowWorkarounds.registerGenomicsCoders`

Here is an example:

[code]

The fact that it doesn't show up for some users means its likely to be an environmental difference, possibly an underspecified dependency.

@davidaadams I understand that you never see this warning, could you confirm/deny that.

[2015-07-01 20:19] lbergelson opened #610 "Stop Cloudera cookie rejected notifications from appearing on gradle build"
Something about the cloudera artifactory server is causing our gradle build to print out "cookie rejected" notifications when it checks it for dependencies.

[code]

We should figure out if this is a meaningful warning at all, and how to prevent it from happening.

@tomwhite Any idea what's causing these messages?  Not a high priority but they're mildly annoying.

[2015-07-03 14:07] tomwhite commented on #610
Thanks for reporting this @lbergelson. I've raised it internally at Cloudera, so we'll see if it can be fixed.

I also had a hunt around to see if it would be possible to suppress this on the Gradle side, but I couldn't see anything. It's possible for Maven, but I don't think this applies to Gradle:

http://maven.apache.org/guides/mini/guide-http-settings.html#Ignoring_Cookies

[2015-07-06 13:29] cmnbroad opened #611 "ReadsDataSource: expose setting validation stringency at command line"
Enable work done in #181 .

[2015-07-06 21:21] tomwhite commented on #599
This was fixed a while back.

[2015-07-06 21:21] #599 closed

[2015-07-06 22:27] akiezun commented on #488
closed by #541

[2015-07-06 22:27] #488 closed

[2015-07-06 22:28] akiezun commented on #465
i have a branch for it ak_diff_engine. Need to finish that and connect to real tests

[2015-07-06 22:31] akiezun commented on #21
not for 4.0

[2015-07-06 22:33] akiezun commented on #32
not for 4.0

[2015-07-06 22:33] #32 closed

[2015-07-06 22:33] akiezun commented on #34
not for 4.0

[2015-07-06 22:33] #34 closed

[2015-07-06 22:34] akiezun commented on #35
not for 4.0

[2015-07-06 22:34] #35 closed

[2015-07-06 22:34] akiezun commented on #36
not for 4.0

[2015-07-06 22:34] #36 closed

[2015-07-06 22:34] akiezun commented on #39
not for 4.0

[2015-07-06 22:34] #39 closed

[2015-07-06 22:35] akiezun commented on #42
not for 4.0

[2015-07-06 22:35] #42 closed

[2015-07-06 22:35] akiezun commented on #43
not for 4.0

[2015-07-06 22:35] #43 closed

[2015-07-06 22:35] akiezun commented on #45
not for 4.0

[2015-07-06 22:35] #45 closed

[2015-07-06 22:35] akiezun commented on #49
not for 4.0

[2015-07-06 22:35] #49 closed

[2015-07-06 22:36] akiezun commented on #50
not for 4.0

[2015-07-06 22:36] #50 closed

[2015-07-06 22:37] akiezun commented on #53
not for 4.0

[2015-07-06 22:37] #53 closed

[2015-07-06 22:37] akiezun commented on #57
not for 4.0

[2015-07-06 22:37] #57 closed

[2015-07-06 22:39] akiezun commented on #68
not for 4.0

[2015-07-06 22:39] #68 closed

[2015-07-06 22:40] akiezun commented on #225
not for 4.0

[2015-07-06 22:40] #225 closed

[2015-07-06 22:42] akiezun commented on #31
closing until we know if we definitely need this

[2015-07-06 22:42] #31 closed

[2015-07-06 22:43] akiezun commented on #56
resolving this discrepancy is not a 4.0 requirement. Closing this.

[2015-07-06 22:43] #56 closed

[2015-07-06 22:56] akiezun commented on #166
unmapped reads are a 4.0 requirement. upping the priority

[2015-07-06 23:00] akiezun commented on #610
it's yours @tomwhite

[2015-07-07 01:20] #181 closed

[2015-07-07 01:20] cmnbroad commented on #181
PR #585.

[2015-07-07 01:40] akiezun commented on #410
not for 4.0

[2015-07-07 01:40] #410 closed

[2015-07-07 14:12] akiezun commented on #105
closing, will reopen if there's a usecase

[2015-07-07 14:12] #105 closed

[2015-07-07 14:15] akiezun commented on #489
closing. `invalid source release: 1.8` is pretty clear

[2015-07-07 14:15] #489 closed

[2015-07-07 14:52] jmthibault79 commented on #489
Disagree.  For sophisticated Java developers like us, it's clear enough.  But will the average GATK user know that `source release 1.8` refers to **Java 8**, and that they may need to set their Java default version **manually** even after installing Java 8?  Would like to hear from @vdauwera on this.

[2015-07-08 03:02] akiezun commented on #40
@cmnbroad just got clarification from @vdauwera. This tool is optional. OK to close this if you've not started working on it yet.

[2015-07-08 12:24] #40 closed

[2015-07-08 14:25] akiezun commented on #123
not for 4.0

[2015-07-08 14:25] #123 closed

[2015-07-08 14:30] akiezun opened #616 "port VariantEval"
the requirement is to port the VariantEval walker and all tests. For now, the combinatorial nature of the eval is to be ported. (later on we may split it into multiple tools and a pipeline)

[2015-07-08 14:40] akiezun opened #617 "port DepthOfCoverage (WGS coverage)"
the requirement is to port DepthOfCoverage or write a new tool that collects coverage information per base (primarily for WGS) and stats as DoC does. Integration tests also need to be ported or created. Current test data is broad-internal but we should move to using public data.

[2015-07-08 15:03] akiezun commented on #56
post-mortem: the GATK version dies, the picard one lives

[2015-07-08 16:50] droazen opened #618 "Write a utility method to convert a GATKRead to a well-formed SAM string"
Currently we convert from `GATKRead` to `SAMRecord` whenever we want to write out a SAM/BAM file (see, eg., `PrintReadsDataflowTransform` and `SAMFileGATKReadWriter`). This is wasteful and lossy. Let's write a utility method `toSAMString() `(or add a new `GATKRead` interface method) that can produce a well-formed SAM string from a `GATKRead`

Note that such a method already exists for raw `SAMReco

[2015-07-08 16:55] droazen opened #620 "Unify read comparators in hellbender"
Currently we have several separate but very similar comparators for reads in the codebase. Examples: `ReadCoordinateComparator`, `CoordinateOrder` in `MarkDuplicatesDataflow`, `SAMRecordCoordinateComparator` in htsjdk. We should unify these (ideally switch to using the `ReadCoordinateComparator` everywhere).

[2015-07-08 17:00] droazen opened #621 "Support writing large BAM files in dataflow"
Currently tools like `MarkDuplicatesDataflow` use the `SmallBamWriter` to write their output, which makes them unable to handle large BAM outputs. We should switch to using a sharded/large BAM writer, when one materializes.

[2015-07-08 17:01] droazen opened #622 "Rename the Variant interface to GATKVariant"
For consistency with `GATKRead`

[2015-07-08 17:06] droazen opened #623 "GATKRead.copy() should guarantee a deep copy"
Currently `GATKRead.copy()` is unable to guarantee a deep copy, since we only have a deep copy method for Google `Read`s (`GenericData.clone()`, which it inherits), not `SAMRecord`s. We should write a deep copy method for `SAMRecord`, hook it up to the `GATKRead.copy()` implementation in `SAMRecordToGATKReadAdapter`, and change the method contract to guarantee that a deep copy will be performed.

[2015-07-08 17:09] droazen opened #624 "GATKRead implementations should have consistent toString() output"
All implementations of `GATKRead` should ideally agree on String representation -- the adapter classes should all implement `toString()`, and do so consistently.

[2015-07-08 17:15] droazen opened #625 "Re-enable BaseRecalibratorDataflowIntegrationTest.testBQSRFailWithIncompatibleReference once sequence dictionary validation is in"
Re-enable this test once the sequence dictionary work in https://github.com/broadinstitute/hellbender/tree/ek_seqdict_101 is merged. Requires trivial changes to dataflow BQSR.

[2015-07-09 14:29] tomwhite commented on #567
I did some more work on the broadcast approach to see how feasible it would be, and found that Spark Dataflow made two unnecessary copies of the data (now fixed: https://github.com/cloudera/spark-dataflow/pull/60), which caused OOM errors when trying to broadcast the 3GB reference data.

With this fixed, I ran a [pipeline called JoinReferencesDataflow](https://github.com/tomwhite/hellbender/blob/h

[2015-07-09 15:37] davidadamsphd commented on #567
da_read_pipeline is the right spot. If it's OK, I suggest holding off for a little bit. That branch is next in queue to get merged. I plan to have it merged by next Friday. Until then, I'll be doing (hopefully small) cleanup. I don't expect any serious refactors, but it hasn't gone for review, so I can't promise anything. (Read: it probably won't change much, but I can't guarantee it, so using it

[2015-07-09 15:42] tomwhite commented on #567
Thanks for the update @davidadamsphd - sounds good to me.

[2015-07-09 18:26] droazen opened #630 "PairHMM tests are excessive / consume too much test suite runtime"
PairHMM tests consume about 30% of the test suite runtime. This is probably because they are combinatorial in nature. We should see if we can reduce this intelligently without compromising safety.

[2015-07-10 00:14] davidadamsphd opened #632 "Create GCS support for VariantsDataSource"
Right now (in da_genomics_pipeline) VariantsDataSource only supports loading from local files.

[2015-07-10 14:33] davidadamsphd opened #633 "Optimize RemoveDuplicateReadVariantPairs"
Right now we have 9 transforms to remove duplicates :(
We do
(1) pTransform to get PCollection<KV<UUID, UUID>>
(2) remove dupes of (1)
(3) GroupByKey of (2) (produces PCollection<UUID,Iterable<UUID>>)
(4) create PCollection<UUID, KV<UUID, Beta>>
(5) create KeyedPCollectionTuple of (3) and (4)
(6) use (5) to create PCollection<UUID, Iterable<Beta>>
(7) use  pKvAB to create PCollection<KV<UUID, Alph

[2015-07-10 18:07] vruano opened #634 "Rename ExonCollection to TargetCollection"
Is a more neutral name that better represents the use that we made and will make of this class in the future.

[2015-07-10 23:37] jean-philippe-martin opened #637 "jar from gradle fatJar doesn't work"
We get errors like these:

Error:   (3760208c5e4fb47a): java.lang.NoSuchMethodError: com.google.common.base.Stopwatch.createStarted()Lcom/google/common/base/Stopwatch;
        at com.google.cloud.genomics.dataflow.readers.bam.Reader.process(Reader.java:66)
        at com.google.cloud.genomics.dataflow.readers.bam.ReadBAMTransform$ReadFn.processElement(ReadBAMTransform.java:96)

[2015-07-13 14:23] edwardkw opened #640 "Assess need for "Different Indices" compatibility check for sequence dictionaries."
We should investigate whether the DIFFERENT_INDICES case is still problematic in the new hellbender engine. If it's not, we could disable this check -- or if it is, we might need to check it all the time, and not just between the reads and reference.

[2015-07-13 15:12] droazen opened #641 "Refactor ArtificialReadUtils to make it easier to select backing implementation (SAMRecord vs. Google Read)"

[2015-07-13 18:37] davidadamsphd opened #643 "Clean up use of the Google Genomics API for getting reference bases"
Right now, we do an API call to get all mappings, this probably isn't necessary. There many be other cleanup possible.

[2015-07-13 19:09] droazen opened #644 "Extract testing pattern in GATKReadCoderUnitTest.testGATKReadCoding() into a canonical utility"

[2015-07-13 23:52] #637 closed

[2015-07-14 13:17] davidadamsphd opened #646 "Create mapping from Human readable names to Ids for Google Genomics Reference API"
Right now, the "names" in the table mapping (in RefAPISource) are things like EOSt9JOVhp3jkwE. What we want is "GRCh37".

[2015-07-14 13:32] droazen commented on #283
This one is done

[2015-07-14 13:32] #283 closed

[2015-07-14 13:44] vruano opened #647 "FeatureManager provide access to a feature iterator."
FeatureManager provide access to a feature iterator without querying for a particular interval.

This must work without the need for an index file present.

[2015-07-14 14:08] davidadamsphd opened #649 "Refactor Dataflow transforms by "top leveltransform"
There should be a package for each top

[2015-07-14 14:09] droazen opened #650 "GenericJson.clone() method blows up when trying to clone Google reads"
When we copy a Google read (ie., a `com.google.api.services.genomics.model.Read`), we currently call into the `GenericJson.clone()` method, which uses reflection to deep copy the fields. However, this method seems to incorrectly try to instantiate a `java.util.Arrays$ArrayList` instead of a `java.util.ArrayList`, causing it to blow up during BQSR runs (as reported by @jean-philippe-martin):

[2015-07-14 14:10] droazen commented on #650
File new issue against repository that owns `GenericJson`

[2015-07-14 14:10] davidadamsphd opened #651 "Refactor Dataflow transforms by "top level" transform"
There should be a package for each top level transform. Right now, transforms are organized haphazardly roughly by simple vs composite.

[2015-07-14 14:22] davidadamsphd opened #652 "Sharded Variant Reader"
To replace VariantDataflowSource.getAllVariants()

[2015-07-14 19:50] vdauwera commented on #588
Ticket in gsa-unstable: https://github.com/broadinstitute/gsa-unstable/issues/832

If it gets implemented there we'll be sure to fwd-port to Hellbender as well.

[2015-07-14 20:18] droazen commented on #560
This ticket is unblocked by the work done in https://github.com/googlegenomics/dataflow-java/pull/107

[2015-07-14 20:29] droazen commented on #458
Done long ago

[2015-07-14 20:29] #458 closed

[2015-07-14 20:30] droazen commented on #281
Done by the work in https://github.com/broadinstitute/hellbender/tree/da_read_pipeline

[2015-07-14 20:30] #281 closed

[2015-07-14 20:31] droazen commented on #275
Done long ago

[2015-07-14 20:31] #275 closed

[2015-07-14 20:32] droazen commented on #649
Closing -- dupe of https://github.com/broadinstitute/hellbender/issues/651

[2015-07-14 20:32] #649 closed

[2015-07-15 14:57] davidadamsphd commented on #650
This is now also tracked at:
https://github.com/google/google-http-java-client/issues/293

[2015-07-15 17:00] jean-philippe-martin opened #656 "Automatically run cloud tests"
We don't run the cloud tests on every check-in because they take too long, but we should be running them automatically on some schedule so we catch bugs early rather than late.

[2015-07-15 18:04] lbergelson commented on #656
I started setting this up but never turned it on because they kept failing for me.  I will resurrect the branch.

[2015-07-15 20:27] akiezun commented on #652
i think @cseed should be the person to pick this up

[2015-07-15 20:28] akiezun commented on #622
I nominate @cseed to take over the Variant part of the dataflow effort (the Broad part)

[2015-07-15 20:44] lbergelson commented on #622
I'm assuming that's Cotton?

[2015-07-15 20:52] akiezun commented on #622
yes

[2015-07-16 17:48] jean-philippe-martin opened #658 "Write a helper to quickly go from function -> PTransform."
We have a lot of code in Hellbender that's at its core a simple function, but it needs many lines of Dataflow boilerplate to wrap it into a transform.

It would be a great timesaver to create a helper function that goes from function to PTransform.

We might for example use it like this:

`PTransform<A,B> myTransform = Map.<A,B>of( a -> new B(a.start+1, a.end));`

references:
lambda syntax: https:

[2015-07-16 17:49] lbergelson commented on #658
This++

[2015-07-16 17:50] lbergelson commented on #658
I'll be happy to take a crack at this.

[2015-07-16 17:50] jean-philippe-martin commented on #658
sure, go for it!

[2015-07-16 18:29] edwardkw opened #659 "Fix tests in ValidateVariantsIntegrationTest"
The addition of sequence dictionary validation functionality breaks two tests in ValidateVariantsIntegrationTest. These tests are testBadID and testBadID2_OKif_notInDBSNP.

[2015-07-16 18:48] edwardkw opened #660 "VCF file names in validateSequenceDictionaries"
This method (validateSequenceDictionaries) in GATKTool needs to be modified so that the vcf file names associated with each sequence dictionary are passed into validateDictionaries() to make error messages more useful.

[2015-07-16 23:37] akiezun commented on #446
the default Apache implementation uses deterministic tie handling (average ranks) but has a randomized option if we want. https://commons.apache.org/proper/commons-math/apidocs/org/apache/commons/math3/stat/ranking/TiesStrategy.html

[2015-07-16 23:37] akiezun commented on #446
i'll take it - i want this ugly code out of hellbender

[2015-07-16 23:45] akiezun opened #662 "Port the genotyping machinery (not the walkers)"

[2015-07-17 10:00] davidadamsphd opened #663 "Make a generic version of overalapping intervals"
Right now, we pair reads with overlapping variants. We can generalize this for any two PCollections of classes that extend Locatable.

[2015-07-17 11:25] ldgauthier commented on #446
Sounds good -- +1

[2015-07-17 13:54] droazen opened #664 "Variant interface should include an equalsIgnoreUUID() method like GATKRead"
What we really want in implementations of `Variant`, I think, is what we already have for `GATKRead`: both a strict `equals()` that checks everything including UUID, as well as an `equalsIgnoreUUID()` that checks for value equality and ignores the UUIDs (and allows different implementations of `Variant` to evaluate as equal).

While we're at it, we could make both `Variant.equals()` and `Variant.e

[2015-07-17 15:34] lbergelson commented on #658
Blech, I can't figure out how to get it to work properly so you don't have to manually specify the output coder.

My implementation:
[code]

example usage:
[code]

note the `setCoder` call, if you don't include that you get

[code]

[2015-07-17 16:43] lbergelson opened #665 "Rename usageShort"
`CommandLineProgramProperties.usageShort` is actually used as a brief description of the tool, not a short description of the command line to run.  It should be renamed to `briefDescription` or something like that.

[2015-07-17 17:58] davidadamsphd opened #666 "Add a GCS and Hadoop tests to ReadsDataflowSourceTest"
Right now, we're only testing local files.

[2015-07-17 22:27] jean-philippe-martin commented on #658
It looks like generic's type erasure is getting in the way of Dataflow's auto-determination of the coder. Let me ask around.

[2015-07-17 23:07] jean-philippe-martin commented on #658
It's not perfect, but one thing we can do is this:

[code]

You use it like this:

[code]

[2015-07-18 17:40] nenewell commented on #569
Cleaning the bam (and the sam) test files is almost done - it's taken some time because some have been like mini debugging exercises in themselves, followed by the capturing and substitution of the new expected output files for the tests. There are a few issues that still remain, however, and unfortunately I am out of time - I'm headed to an overseas meeting on Monday and will be out for two weeks

[2015-07-20 15:47] akiezun opened #667 "replace File.createTempFile with BaseTest.createTempFile"
we need to replace File.createTempFile with BaseTest.createTempFile (the latter does deleteOnExit on the output file).

[2015-07-20 16:28] #101 closed

[2015-07-20 16:53] droazen opened #669 "Automatic sequence dictionary validation for spark tools"
All walkers now have comprehensive sequence dictionary validation performed on their inputs (via the `GATKTool` base class, which is aware of all primary tool inputs and so is able to perform this check automatically -- see `GATKTool.validateSequenceDictionaries()`). At present, we need to do this validation manually in dataflow tools, but it would be nice if we could get it to happen automaticall

[2015-07-20 17:24] akiezun opened #670 "Make the caching in FeatureDataSource more "window friendly""
Make the caching in FeatureDataSource more "window friendly" (ie., prefetch and cache around the current interval instead of just after it).

Came up in the review of https://github.com/broadinstitute/hellbender/pull/614

[2015-07-20 17:47] akiezun opened #671 "VariantFiltration is hardwired to output vcf"
VariantFiltration is hardwired to output vcf - it should be changed to created writers depending on the extension

[2015-07-20 17:51] akiezun opened #672 "VariantFiltration update for new htsjdk"
update `VariantFiltration` code when a version with https://github.com/samtools/htsjdk/pull/273 is released.

Argument types can then be changed from `ArrayList` to `List`

[2015-07-20 19:02] droazen opened #673 "Make reference mandatory when there is at least one CRAM file in the inputs"

[2015-07-20 19:03] droazen opened #675 "Write basic integration tests for CRAM support using PrintReads"

[2015-07-20 19:04] droazen commented on #675
These should mirror existing `PrintReads` integration tests

[2015-07-20 19:05] droazen opened #676 "For each hellbender ReadWalker, write at least 1 integration test that uses CRAM input"

[2015-07-20 19:06] droazen commented on #676
These can be exact copies of existing tests, but with CRAM instead of BAM

[2015-07-20 19:06] droazen commented on #676
Will need to figure out how to convert BAM -> CRAM in order to do this.

[2015-07-20 19:07] droazen commented on #676
Closing -- dupe of https://github.com/broadinstitute/hellbender/issues/590

[2015-07-20 19:07] #676 closed

[2015-07-20 19:08] droazen commented on #590
These can be exact copies of existing tests, but with CRAM instead of BAM

[2015-07-20 19:08] droazen commented on #590
Will need to figure out how to convert BAM -> CRAM in order to do this.

[2015-07-20 19:09] droazen commented on #675
There should be at least one test that uses intervals to restrict the traversal (ie., a `-L` argument) -- this will require that the CRAM file be indexed.

[2015-07-20 19:12] jean-philippe-martin commented on #580
@lbergelson I fixed pgrosu's problem, that was #637.

[2015-07-20 19:13] droazen opened #677 "Stop htsjdk CRAM reader from trying to download the reference when the expected reference is not available."
Find out if there's a way to disable this awful behavior via `SamReaderFactory` -- if not, let's patch htsjdk itself to turn off reference auto-downloading by default.

[2015-07-20 19:14] jean-philippe-martin commented on #580
Good news! The Dataflow team report that they have fixed this issue by raising the limit 20 fold.

[2015-07-20 19:14] #580 closed

[2015-07-20 19:16] #606 closed

[2015-07-20 19:22] droazen commented on #677
We should also make sure that hellbender handles the case of "wrong reference for CRAM" gracefully and does not do anything stupid -- what we want is a `UserException` to be thrown with a descriptive error message. We should add an integration test to verify that we handle this properly.

[2015-07-20 19:26] jean-philippe-martin commented on #658
Here's another way. It's not perfect either; it doesn't get rid of the DoFn. Type erasure really limits our options here.

[code]

Used like this:

[code]

[2015-07-20 19:27] akiezun commented on #590
maybe use https://github.com/enasequence/cramtools/tree/cram3

[2015-07-20 19:32] droazen commented on #673
Should be done at the level of `GATKTool`

[2015-07-20 19:32] jean-philippe-martin opened #679 "Investigate groupbykey OOM."
When running BQSR with incompatible references we get an "out of memory" error (see #668). This isn't what we were expecting so this issue is a reminder to investigate in case the underlying cause is a bug.

[2015-07-20 19:36] droazen commented on #625
This one is done.

[2015-07-20 19:36] #625 closed

[2015-07-20 20:36] droazen opened #680 "Improvements to walker engine should (ideally) auto-propagate to the Spark part of the code"
When we make enhancements to the walker engine (eg., modify the `GATKTool` base class to support CRAM, or to validate the sequence dictionaries of the inputs), it would be good if Spark tools could also reap the benefits of these changes automatically. We may need to unify (or better integrate) the `GATKTool` and `SparkCommandLineProgram` base classes somehow to make this possible, as well as clas

[2015-07-20 21:49] lbergelson commented on #673
you're poking awkward holes in the argument parser here.  Should we try to be able to express this sort of constraint in the argument parser itself?

[2015-07-21 00:14] akiezun commented on #673
my vote is no. just check this condition in the gatktool initialization and blow up

[2015-07-21 14:55] droazen commented on #673
Yeah, the argument parser should not (and probably cannot) be involved with this kind of check, since the argument for CRAM input is the same as the argument for BAM/SAM input. We'll just add another on startup check in `GATKTool`

[2015-07-21 18:11] droazen opened #683 "Sequence dictionary check in BQSR dataflow needs to work with references in buckets"
The recently-added sequence dictionary validation in `BaseRecalibratorDataflow` does not work when the reference is stored in a bucket -- we should patch it so that it does.

[2015-07-21 19:03] droazen commented on #656
Someone should take this on -- this is becoming urgent

[2015-07-21 19:31] #405 closed

[2015-07-21 19:48] jean-philippe-martin opened #684 "Name Dataflow pipelines"
Currently, every single pipeline shows up as "dataflowcommandlineprogram-jpmartin-(number)" in the cloud console. It would be helpful if workers could somehow get a name into options.setAppName so it's easier to determine which run is which.

[2015-07-22 00:02] davidadamsphd opened #686 "Add a GCS and Hadoop test to ReadsDataflowSourceTest"
Right now, we only have a local test.

[2015-07-22 00:03] davidadamsphd commented on #686
Opps. dupe of #666

[2015-07-22 00:03] #686 closed

[2015-07-22 00:17] davidadamsphd opened #687 "Make ReadsPreprocessingPipelineTestData more general (as a function of shard size)"
Right now, the effects of REFERENCE_SHARD_SIZE and VARIANT_SHARDSIZE are hard coded, this should change to be more general.

[2015-07-22 00:39] davidadamsphd opened #688 "Expand ArtificialReadUtils to create SAMRecords with two contigs"
We need to write tests that have several contigs, unfortunately we can't currently do this with the existing ArtificialReadUtils functions (we can do it for Google Read). This would require making a new artificial header and a few other settings.

[2015-07-22 00:43] davidadamsphd opened #689 "Expand ReadsPreprocessingPipelineTestData with multi-contig tests"
All of our tests use contig "1". This is fragile, we should add tests that include two contigs. This is not currently possible with ArtificialReadUtils (issue #688).

[2015-07-22 13:41] #48 closed

[2015-07-22 13:42] #54 closed

[2015-07-22 13:45] akiezun commented on #140
increasing prio because this functionality is now missing. i'm fine with just porting SplitSamByLibrary for now.

[2015-07-22 13:50] akiezun commented on #190
i've almost ported the diff engine so i'll grab it

[2015-07-22 14:01] akiezun commented on #419
@cmnbroad is this done now? if yes, please close

[2015-07-22 14:02] #419 closed

[2015-07-22 14:05] cmnbroad commented on #262
Closed with #613.

[2015-07-22 14:05] #262 closed

[2015-07-22 14:06] #662 closed

[2015-07-22 14:59] akiezun opened #690 "How can we avoid lying about contig lengths when dealing with an artificially short reference?"
came up in review of #614.
Because of sequence dict validation we needed to hardwire bogus contig lengths in the tests. This issue is about how to resolve this - keep validation and not having to lie about the lengths (and ideally not having to commit the whole reference into the repository).

[2015-07-22 15:57] akiezun opened #692 "create a multi-variant walker"
The requirement here is to write a new type of walker that takes multiple (FeatureInputs) as the driving data type. The engine will then traverse all those at the same time (using a priority queue, @droazen) and present variants to the tool (all variants starting at the given position).

The is a prerequisite for GenotypeGVCFs.

[2015-07-22 16:03] #282 closed

[2015-07-22 16:08] droazen commented on #279
This ticket is partly done, and is superseded by https://github.com/broadinstitute/hellbender/issues/621

[2015-07-22 16:09] #279 closed

[2015-07-22 16:14] droazen commented on #647
This one is done.

[2015-07-22 16:14] #647 closed

[2015-07-22 16:17] droazen commented on #552
Closing as dupe of https://github.com/broadinstitute/hellbender/issues/656

[2015-07-22 16:17] #552 closed

[2015-07-22 16:18] droazen commented on #464
This is done.

[2015-07-22 16:18] #464 closed

[2015-07-22 16:19] droazen commented on #462
Done

[2015-07-22 16:19] #462 closed

[2015-07-22 16:20] droazen commented on #459
Done

[2015-07-22 16:20] #459 closed

[2015-07-22 16:20] droazen commented on #444
@lbergelson This one is done, right?

[2015-07-22 16:23] droazen commented on #285
This one is done.

[2015-07-22 16:23] #285 closed

[2015-07-22 16:25] droazen opened #693 "Hook up BaseRecalibratorDataflow to the ReadsPreprocessingPipeline"

[2015-07-22 16:26] droazen opened #694 "Hook up MarkDuplicatesDataflow to the ReadsPreprocessingPipeline"

[2015-07-22 16:27] droazen opened #695 "Spark large scale validation: allow tests to be run in push-button fashion using a script or similar"

[2015-07-22 16:28] droazen opened #696 "Profile and optimize the ReadsPreprocessingPipeline"
Should probably be started only after the tests in https://github.com/broadinstitute/hellbender/issues/695 are in place.

[2015-07-22 16:47] #38 closed

[2015-07-22 17:34] droazen opened #698 "Add a RefAPISource test for a query on an interval that starts on the contig and runs off of it"

[2015-07-22 17:39] droazen commented on #688
This is done

[2015-07-22 17:39] #688 closed

[2015-07-22 17:42] droazen opened #699 "Forward-port BQSR work in https://github.com/broadinstitute/gsa-unstable/pull/1063 to hellbender"

[2015-07-22 18:01] #665 closed

[2015-07-22 18:17] #409 closed

[2015-07-22 18:28] lbergelson opened #701 "Provide a mechanism for dataflow authentication information to be set once and stay set"
The client secret file or the api should be able to be set as an environment variable or in a properties file somewhere so they don't have to be entered every single time someone runs a program.

[2015-07-22 18:28] droazen opened #702 "Determine how to deal with immutability requirement / sibling fusion in dataflow"
Options include:

-Do nothing, and enforce via coding conventions (and hope the dataflow team comes to its senses).

-Making a copy of the input before every `apply()` / `processElement()` / etc. (only affects dataflow code, but is inefficient (since it copies even when there's no mutation) and brittle since it only affects tools that go through our interface).

-Make our types immutable, and add

[2015-07-22 18:58] droazen opened #703 "Consider replacing ReferenceShard and VariantShard with SimpleInterval"

[2015-07-22 19:01] droazen commented on #696
Includes https://github.com/broadinstitute/hellbender/issues/633

[2015-07-22 20:41] jean-philippe-martin commented on #346
I disagree that it's scary, but agree that we want it to be parallel. I take it this ticket means that we decided to go with a custom source implementation? In the email where I shared the workaround, we hadn't yet decided whether to keep the workaround or bite the bullet.

[2015-07-22 21:13] #667 closed

[2015-07-22 21:44] #656 closed

[2015-07-22 21:45] #444 closed

[2015-07-22 22:47] akiezun opened #705 "sync picard before alpha"
all picard tools should be synched before we go to alpha release. We are now at some version and need to sync to the latest available by the alpha release.

[2015-07-22 22:54] akiezun commented on #621
@iliat are you on this? (as we're assuming you are)

[2015-07-22 23:08] akiezun opened #706 "Look for more untested picard classes"

[2015-07-22 23:10] akiezun commented on #190
closing this. diff engine #465 is it. unless @droazen disagrees and reopens

[2015-07-22 23:16] iliat commented on #621
Yep, design thoughts here:
https://docs.google.com/document/d/1OHFnWD9yrWhrei-bwUHE2kLXahlcHiYryy4Qoii8PCc/edit#heading=h.6ftiho1vflb
Current state: have PoC code using HTSJDK, have DF skeleton with sharding,
etc
<https://github.com/iliat/dataflow-java/blob/sharded-bam-writer/src/main/java/com/google/cloud/genomics/dataflow/pipelines/ShardedBAMWriting.java>,
next step: combine the two.
Will likely

[2015-07-23 02:39] akiezun opened #707 "delete BamToBfq"
it has no tests and it's a step required only for an obsolete aligner MAQ.

[2015-07-23 02:43] akiezun opened #708 "add tests for CollectWgsMetrics"

[2015-07-23 02:45] akiezun opened #709 "add tests for CollectJumpingLibraryMetrics"
not adding a milestone because i'm not sure we have data that can be made public

[2015-07-23 02:46] akiezun opened #710 "add tests for TargetMetricsCollector"

[2015-07-23 02:49] akiezun opened #711 "add tests for HsMetricCollector"

[2015-07-23 02:51] akiezun opened #712 "add tests for CollectTargetedPcrMetrics"
lower prio than Hs or WGS

[2015-07-23 02:56] akiezun opened #713 "add tests for TargetedPcrMetrics"

[2015-07-23 02:57] akiezun commented on #713
mistake - this class has no code

[2015-07-23 02:57] #713 closed

[2015-07-23 02:58] akiezun opened #714 "add tests for CollectOxoGMetrics"
add CRAM tests too

[2015-07-23 02:59] akiezun opened #715 "add tests for CollectMultipleMetrics"
include CRAM tests

[2015-07-23 03:00] akiezun opened #716 "add tests for CompareMetrics"

[2015-07-23 03:02] akiezun opened #717 "add tests for GatherVcfs"

[2015-07-23 03:02] akiezun opened #718 "add tests for LiftoverVcf"

[2015-07-23 03:04] akiezun opened #719 "add tests for MergeVcfs"

[2015-07-23 03:05] akiezun opened #720 "add tests for MakeSitesOnlyVcf"

[2015-07-23 03:06] akiezun opened #721 "add tests for RenameSampleInVcf"

[2015-07-23 03:06] akiezun opened #722 "add tests for VcfToIntervalList"

[2015-07-23 03:07] akiezun opened #723 "add tests for IntervalListTools"

[2015-07-23 03:08] akiezun opened #724 "add tests for LiftOverIntervalList"

[2015-07-23 03:11] akiezun opened #725 "add tests for GenotypeConcordanceStates"

[2015-07-23 03:13] akiezun opened #726 "add tests for SequencingArtifactMetrics"

[2015-07-23 03:14] akiezun opened #727 "delete MemoryBasedReadEndsForMarkDuplicatesMap"
it's unused

[2015-07-23 03:15] akiezun opened #728 "add tests for NormalizeFasta"

[2015-07-23 14:19] akiezun opened #729 "delete MarkDuplicatesWithMateCigar and related classes"
@nh13 @yfarjoun I understand this code is not ready / used in production. Is that right?

[2015-07-23 14:21] nh13 commented on #729
It is ready, but not wired in and used in production.  The reason being that it cannot be used on experiments that have large skips in the alignments (Ns in the Cigars).  Examples include RNA-seq and assembly.

[2015-07-23 14:22] akiezun commented on #706
done. I entered a few dozens issues.

[2015-07-23 14:23] #706 closed

[2015-07-23 14:33] droazen commented on #190
Want to keep this open until we're all satisfied with the way expected output is being checked in the integration test suite -- reopening.

[2015-07-23 14:41] akiezun opened #731 "port ReadLikelihoodCalculationEngine"
part of haplotypecaller

[2015-07-23 14:45] akiezun opened #732 "port GenotypingEngine"
part of HaplotypeCaller

[2015-07-23 14:46] akiezun opened #733 "port ReferenceConfidenceModel"
part of HaplotypeCaller

[2015-07-23 14:51] akiezun opened #734 "port VariantAnnotatorEngine"
needed for HaplotypeCaller

[2015-07-23 14:53] akiezun commented on #732
includes MergeVariantsAcrossHaplotypes

[2015-07-23 14:55] akiezun opened #735 "port HaplotypeBAMWriter"
needed for HaplotypeCaller

[2015-07-23 14:56] akiezun opened #736 "port GVCFWriter"
needed for HaplotypeCaller

[2015-07-23 16:05] #707 closed

[2015-07-23 17:37] jean-philippe-martin opened #738 "Make RECAL_TABLE_FILE optional in BQSR dataflow"
If we may be running the BaseRecalibrator phase immediately followed by the ApplyBQSR phase then we may choose not to save the recalibration tables report to a file (and instead just use it directly).

This note is a reminder to make the corresponding RECAL_TABLE_FILE optional: not setting it would be a way to indicate we don't want the textual report.

[2015-07-23 18:12] droazen opened #739 "Determine how to manage test data in the gs://hellbender bucket"
Right now, when we create a bucket-based test, we upload files into `gs://hellbender/test/resources/`, which Travis uses for `HELLBENDER_TEST_INPUTS` (the environment variable used by dataflow tests).

These files are currently unversioned, which is bad -- we need to come up with a better way of managing our dataflow test inputs.

[2015-07-23 18:23] lbergelson commented on #739
One option is to have a script that uploads all the test data to a new bucket before running the tests and then cleans up after itself.  That way if external users want to test they can make their own buckets and add/edit files by changing the upload script.  Everything will be version controlled since the files will be stored by git in the repo and then uploaded at test time.

[2015-07-23 18:45] lbergelson opened #740 "Turn off CircleCI and Codeship"
I think we need someone with admin access to do this.

[2015-07-23 19:22] droazen commented on #683
Done

[2015-07-23 19:22] #683 closed

[2015-07-23 20:51] jean-philippe-martin commented on #658
To summarize our discussion: we prefer the style with `apply(Map.of(x -> x + 1, 1)`, except that instead of a sample we'll use the class. So: `apply(Map.of(x -> x + 1, Integer.class)`

[2015-07-23 21:30] #408 closed

[2015-07-24 16:49] lbergelson commented on #740
They're no longer necessary now that we're running the container infrastructure on travis and we're uploading logs so we can see what the test failures are.

[2015-07-24 17:07] akiezun commented on #740
it's done, tested in #744

[2015-07-24 17:07] #740 closed

[2015-07-24 17:44] lbergelson opened #745 "Validation stringency is ignored in LoadReadsFromFileFn"
`LoadReadsFromFileFn` has a `ValidationStringency` argument that is currently ignored.

This line needs to be changed to pass in a customized SamReaderFactory that respects validation
[code]

[2015-07-24 17:47] #607 closed

[2015-07-24 20:26] lbergelson opened #750 "Fix cloud tests timing out on travis"
The cloud tests are timing out after 10 minutes without emitting any output.  It seems like `ApplyBQSRDataflowIntegrationTest.testPR_Cloud` is responsible.  It looks like something is crashing in dataflow but the runner is never stopped so it keeps waiting indefinitely (or at least 10 minutes..)  See the dataflow log [here](https://console.developers.google.com/project/broad-dsde-dev/dataflow/job/

[2015-07-24 20:32] lbergelson opened #751 "Fix all dataflow tests and make them mandatory."
A number of the cloud and bucket tests are failing on google dataflow.  These need to be fixed.

#750 is a pre-requisite.

Once the tests are fixed we should make these tests mandatory.

[2015-07-24 21:23] lbergelson commented on #750
Update:  It does finish sometime.  It's just VERY SLOW.

[2015-07-24 23:48] tomwhite commented on #567
Now that the read processing pipeline code is in, I've rebased https://github.com/broadinstitute/hellbender/compare/master...tomwhite:hadoop-references which demonstrates some different approaches on the Hadoop side. The question is, how should we combine the approaches so that references work for Cloud and Hadoop?

[2015-07-25 06:51] jean-philippe-martin opened #754 "upgrade to google-cloud-dataflow-java-sdk-all:0.4.150710"
This isn't just a matter of changing the number. [RegisterCoder was made more stringent] (https://cloud.google.com/dataflow/release-notes/java) and this will force some code changes. Hopefully only little ones, but I got only as far as getting an internal Java error and I think that's a sign I should go to bed.

[2015-07-27 01:14] davidadamsphd commented on #567
Nice! I've started to look at your branch (thought I haven't made all the way through). I think we should have a virtual face-to-face to talk over the options. (Moving off-thread for now).

[2015-07-27 16:14] droazen commented on #677
htsjdk has been patched (https://github.com/samtools/htsjdk/pull/286) -- before this ticket can be closed, however, we need to wait for the next htsjdk release, rev the htsjdk dependency in hellbender, and ensure that hellbender can now handle the "wrong/missing reference for CRAM" case gracefully with a sensible error message.

[2015-07-27 16:31] droazen commented on #673
To clarify this ticket: in `GATKTool.initializeReads()`, just check `readArguments.getReadFiles()` for files ending with a cram extension (should see if there's a canonical method in htsjdk for checking whether a file is cram) -- if you find any and we don't have a reference according to `hasReference()`, throw a `UserException` with a clear error message.

[2015-07-27 16:35] droazen commented on #673
Checking whether the **correct** reference has been provided for the cram inputs is a separate task -- once the htsjdk patch in https://github.com/broadinstitute/hellbender/issues/677 propagates to hellbender, we should see whether htsjdk handles that check for us transparently.

[2015-07-27 16:48] droazen commented on #590
For information on when CRAM is lossless vs. lossy, see http://samtools.github.io/hts-specs/CRAMv3.pdf

[2015-07-27 16:59] droazen opened #755 "Read CRAM spec to answer important questions"
We should read the CRAM spec (http://samtools.github.io/hts-specs/CRAMv3.pdf) to find out:

1. Whether CRAM files **always** require a reference, or only sometimes based on the compression used (needed for https://github.com/broadinstitute/hellbender/issues/673)

2. When CRAM compression is lossy vs. lossless (we need to understand this so that when we write the tests for https://github.com/broadi

[2015-07-27 17:02] droazen commented on #755
Should report your findings in the thread for this ticket :)

[2015-07-27 17:04] droazen commented on #755
Latest CRAM spec is http://samtools.github.io/hts-specs/CRAMv3.pdf. Might also be worth checking out the older 2.1 spec (http://samtools.github.io/hts-specs/CRAMv2.1.pdf) to see if there are any major differences we should care about.

[2015-07-27 17:39] droazen opened #756 "Choose approach to fix scaling of ReadBAMTransform, and implement fix"
From an analysis by @jean-philippe-martin:

**The Problem**

Doing a preliminary performance analysis of Hellbender, I found that ReadBAM did not scale with the number of workers.

![image](https://cloud.githubusercontent.com/assets/798637/8913030/757d9552-3464-11e5-8244-46931fed8383.png)

Logs indicated it was running on a single worker, regardless of how many were specified for the job.

**The C

[2015-07-27 17:39] droazen commented on #756
Part of https://github.com/broadinstitute/hellbender/issues/696

[2015-07-27 17:41] droazen commented on #756
Not sure what the status of this is -- created this ticket to discuss (it may already be done, in which case feel free to close as resolved!)

[2015-07-27 19:35] jean-philippe-martin commented on #756
I think the consensus is: we'll need a liquid sharding BAM reader. But perhaps we'll need a liquid sharding VCF source first, and I'll build that one.

[2015-07-27 22:46] lbergelson opened #758 "Update htsjdk to 1.137"
This is a bit of a pain because the sam files produce by htsjdk now all say they're version 1.5.  We need to rewrite our sam/bam files to be compliant with the new version (or at the very least update the version strings. )  Alternatively we could change the comparator to ignore versions when comparing.

[2015-07-27 22:47] lbergelson commented on #758
My current plan is to rewrite all the bam/sam files to update them to 1.5.

[2015-07-28 16:58] edwardkw commented on #755
1. There aren't differences between the two specs, with regards to references. Generally, it seems that reference sequences are often used but not always required. As best I can tell, reference isn't needed for unsorted or unmapped reads. I can't tell about different kinds of compression.

2. There are both kinds of CRAM compression; a wide range of lossy and lossless compression methods exist for

[2015-07-28 18:24] droazen commented on #702
We're leaning towards the wrapper option at this point, so as not to penalize non-dataflow code for dataflow's shortcomings.

[2015-07-28 18:24] davidadamsphd commented on #652
JP is going to work on a custom source.

[2015-07-28 18:25] droazen commented on #689
Done!

[2015-07-28 18:25] #689 closed

[2015-07-28 18:25] droazen commented on #687
Done!

[2015-07-28 18:25] #687 closed

[2015-07-28 18:28] droazen commented on #460
We decided to go with the Genomics API here -- closing

[2015-07-28 18:28] #460 closed

[2015-07-28 18:29] droazen commented on #304
Can't use this -- BAMs can't fit into a single node's memory. Closing.

[2015-07-28 18:29] #304 closed

[2015-07-28 18:39] droazen opened #761 "Write a stub end-to-end integration test for the ReadsPreprocessingPipeline"
Doesn't have to check output, just run the full pipeline.

[2015-07-28 18:40] lbergelson opened #762 "stop tests from writing dot files to the root directory"
Tests are writing `.dot` files to the hellbender root directory and not cleaning them up.  I'm guessing it's the haplotype assembly tests.  ex `fred.dot`

[2015-07-28 18:54] droazen opened #764 "Identify QC steps necessary to prove that output of ReadsPreprocessingPipeline is consistent with existing production output"

[2015-07-28 19:22] droazen commented on #764
Initial list:

* Need a test that runs the pipeline end-to-end, and verifies that no reads are lost (modulo read filters), and that only the duplicate flag and the quality scores are changed in the output reads.

* Need metrics showing that duplicate marking is consistent with existing Picard tool.

* Need to examine before/after recalibration plots for BQSR dataflow (produced by `AnalyzeCovariate

[2015-07-28 19:52] droazen opened #765 "Get runtime statistics from Broad production on the MarkDupes + BQSR portion of the pipeline"
To use as a baseline of comparison against the dataflow implementation.

[2015-07-28 23:22] tomwhite commented on #754
I just released Spark Dataflow 0.3.0 which supports Dataflow 0.4.150710, so you should bump the version of that at the same time.

Hopefully that should be sufficient from the Spark side. If not, I'm going on vacation for a week, so I won't be able to help out until I get back I'm afraid :)

[2015-07-29 14:23] lbergelson commented on #758
Closed by #763

[2015-07-29 14:23] #758 closed

[2015-07-29 14:26] lbergelson commented on #754
@tomwhite Thanks for the info.  I'll make sure to update spark along with dataflow.  Have a good vacation.

[2015-07-29 16:14] droazen commented on #677
Re-opening, since we don't yet have a test proving that we handle the "wrong/missing reference for CRAM" cases gracefully (eg., no `NullPointerException` or anything like that! :)

[2015-07-29 16:51] lbergelson commented on #754
@jean-philippe-martin David and I solved the compile errors, now we just have several dozen runtime errors...

Most of them are due to a new requirement that almost every usage of every transform be explicitly given a unique name.  I opened an issue with dataflow to find out more information about what it means to be "stable and unique"  https://github.com/GoogleCloudPlatform/DataflowJavaSDK/issue

[2015-07-29 17:20] jean-philippe-martin commented on #754
I thought the naming messages were just warnings, not errors?

As for encoding using all the RAM - are you passing it SAMRecords wrapped into GATKReads?

[2015-07-29 17:34] lbergelson commented on #754
They've upgraded them from warnings to errors.

[2015-07-29 17:36] lbergelson commented on #754
[code]

Is a failing one with the out of memory errors.  It's invalid in some way SAMRecords being encoded.

[2015-07-29 17:40] droazen commented on #677
Completing https://github.com/broadinstitute/hellbender/issues/673 will take care of the case of "missing reference for CRAM", but we also need to make sure we're handling the case of "wrong reference" elegantly (where elegantly means "throw a `UserException` with a descriptive error message). We want a test case with a reference that is the wrong reference for a CRAM, but has a compatible sequenc

[2015-07-29 17:44] droazen opened #766 "CRAM writing in hellbender has issues with unmapped reads"
It appears that when we try to write out a CRAM file in hellbender from input that contains an unmapped read, we produce a malformed CRAM. We need to fix this before we can write the tests in https://github.com/broadinstitute/hellbender/issues/675 and https://github.com/broadinstitute/hellbender/issues/590

To replicate, take a BAM file containing an unmapped read (eg., `src/test/resources/org/bro

[2015-07-29 17:45] droazen commented on #766
Prerequisite for https://github.com/broadinstitute/hellbender/issues/675 and https://github.com/broadinstitute/hellbender/issues/590

[2015-07-29 17:59] lbergelson commented on #754
Update:  They added a flag to the TestPipeline that turns the warnings into errors.  We can disable it at some potential future bug cost.

[2015-07-29 18:19] jean-philippe-martin commented on #754
If you're encoding SAMRecords, then you may run into the following problem:

`SAMRecord` contain a reference to the header. That reference currently is *not* transient.

The coder for `SAMRecordToGATKReadAdapter` delegates to Java serialization. This will put a copy of the header with each record. Thus we very quickly fill up all the memory.

[2015-07-29 18:20] droazen commented on #754
1677 `SAMFileHeader` objects should not fill up all available memory...

[2015-07-29 18:23] jean-philippe-martin commented on #754
Perhaps in this case there's some other problem as well.

[2015-07-29 18:29] droazen commented on #754
Are self-references a problem for `SerializableCoder`?

[2015-07-29 19:36] jean-philippe-martin commented on #754
I wouldn't expect them to be a problem, no.

[2015-07-29 19:38] jean-philippe-martin commented on #284
See this document for logging:
https://docs.google.com/document/d/1KlHklzpmnGfvWDyBfgVEjlDsAtlH81TvMEWjRuGQkWw/edit#heading=h.24wjirjf21g8

[2015-07-29 19:52] jean-philippe-martin commented on #679
focusing on performance right now. If someone else wants to investigate they're welcome to.

[2015-07-29 20:06] lbergelson commented on #750
@davidaadams I think the stalling is a dataflow bug.  We should make sure it's not fixed by #754, but I think we'll have to talk to the dataflow team about it if it's now.

[2015-07-30 16:05] #605 closed

[2015-07-30 16:56] jean-philippe-martin commented on #477
And let's also have something like gg://reference/FOOBAR as a shortcut for using the reference id FOOBAR with the Google Genomics API (what the API calls a "reference set"). And gg://readset/BUZ to use readset BUZ.

[2015-07-30 17:22] lbergelson commented on #745
Doing this as part of #754

[2015-07-30 18:36] droazen commented on #702
`SafeDoFn` seems to be the winner -- let's implement it

[2015-07-30 18:37] droazen commented on #702
Want a `Copyable` interface, plus a `DoFn` wrapper that copies each element and wraps in a new `ProcessContext`

[2015-07-30 19:40] droazen opened #771 "Implement temporary way to write large BAM output in dataflow"
Until https://github.com/broadinstitute/hellbender/issues/621 is implemented, we need a quick hack for this in order to effectively test the `ReadsPreprocessingPipeline`:

-Need a way of converting GATKRead -> SAM record line (https://github.com/broadinstitute/hellbender/issues/618)

-Add option to ReadsPreprocessingPipeline to bypass `SmallBamWriter` and instead apply a `PCollection<GATKRead>` ->

[2015-07-31 18:44] lbergelson opened #774 "Fix and reenable testGetInvalidPCollectionLocal()"
`ReadsDataflowSourceTest.testGetInvalidPCollectionLocal()` is failing with an exception.

[code]
This was disabled as part of #754

[2015-07-31 19:11] #745 closed

[2015-07-31 19:11] #754 closed

[2015-08-03 13:41] #694 closed

[2015-08-03 15:01] droazen commented on #771
More details:

Can use hellbender's `SortSAM` to sort the sam output after concatenation, and hellbender's `PrintReads` to convert from sam -> bam

[2015-08-03 16:14] tovanadler opened #776 "Explain when there will be more than two reads with the same name in MarkDuplicates"
MarkDuplicatesDataflow has a function called labelPairedEndsWithAlignmentInfo that sorts the reads and then pairs them up. I am not sure why there would ever be more than two here, so if someone could add an explanation, that would be great.

[2015-08-03 19:25] droazen commented on #650
Is this resolved?

[2015-08-03 19:37] akiezun commented on #190
i'm removing my assignment then. the requirements are not clear to me. 'until we're all satisfied' is pretty vague, too vague for alpha i think

[2015-08-03 19:42] droazen commented on #190
Was not intended to be vague -- I meant something very specific: namely, once https://github.com/broadinstitute/hellbender/pull/619 we should assess whether we are satisfied with the existing diff engine comparison facilities, or whether more is needed.

[2015-08-03 19:59] jean-philippe-martin commented on #650
Yes, in the latest version of the Dataflow SDK. Once we update to it, we're good.

[2015-08-03 20:10] droazen commented on #650
Was this included in https://github.com/broadinstitute/hellbender/pull/775?

[2015-08-03 20:12] droazen commented on #650
@jean-philippe-martin confirms that the fix was included in https://github.com/broadinstitute/hellbender/pull/775 -- closing this!

[2015-08-03 20:49] droazen opened #777 "Determine sorting requirements for CRAM input/output, and add runtime checks"
It seems that hellbender can't handle input that isn't coordinate-sorted when outputting to CRAM. Let's at the very least document any limitations on input sort order -- and ideally, add some checks on startup to check sort order of read inputs at runtime.

[2015-08-03 20:49] droazen commented on #777
For @edwardkw

[2015-08-03 20:51] droazen commented on #777
It would also be good to figure out exactly why CRAM output fails on non-coordinate-sorted input. Does it always fail? Is it only when there's one or more unmapped reads in the input? etc.

[2015-08-03 20:53] droazen commented on #702
As determined by @davidadamsphd , the `Copyable` interface idea won't work:

The recommendation from the Dataflow team was to make a narrow API and do the copying part of the API. I started down this route, and I think it might be doable for things like the walker interface. The idea is to make a Copyable interface and have our interfaces extend that.

However, we have unsafe code already in the e

[2015-08-03 20:55] droazen commented on #702
Next step is to evaluate using Kryo for the deep copying in the SafeDoFn approach (uses reflection to deep copy all fields via direct assignment (no byte array intermediary)).

[2015-08-04 02:27] davidbenjamin opened #778 "Use natural logarithm in MathUtils"
Base 10 logarithms are ugly.

[2015-08-04 16:44] lbergelson commented on #778
@davidbenjamin This seems like a good task for the reporter to complete :)

[2015-08-04 16:50] lbergelson opened #779 "Fix our maven artifact so that projects importing hellbender can find spark dependencies"
@davidbenjamin Discovered that importing hellbender as a dependency fails now that we have add spark dependencies.  This is easily fixed by including the following (or it's non-gradle equivalent) in your build file, but it shouldn't be necessary.

[code]

We should update our artifact so that it includes the necessary information to download the spark dependencies.

[2015-08-04 16:53] lbergelson commented on #779
I'm a maven neophyte so if we have any maven mavens around here I'd be happy to accept help on this one.

[2015-08-04 18:24] vdauwera opened #781 "Ability to follow symlinks to bam files AND find the corresponding index files"
User writes:

Sounds legit to me. Not something I think is worth spending time on in GATK3, but sounds like a reasonable feature request for 4.

This Issue was generated from your [forums]
[forums]: http://gatkforums.broadinstitute.org/discussion/5944/symlinks-to-bam-files/p1

[2015-08-04 18:38] droazen commented on #702
After an evaluation by @davidadamsphd, we've eliminated Kryo as an option due to its requirement that types either have a default constructor or implement Serializable (a problem for types we don't control).

[2015-08-04 21:19] lbergelson commented on #781
This sounds like something that should be done at the htsjdk level I think.

[2015-08-05 13:52] #755 closed

[2015-08-05 14:31] davidbenjamin commented on #778
With pleasure!

[2015-08-05 15:27] edwardkw commented on #677
Once this is fixed, I will need to un-disable the test for PrintReads that involves CRAM and intervals. #675

[2015-08-05 16:24] lbergelson commented on #776
@akiezun I think you wrote this initially?

[2015-08-05 17:48] droazen commented on #675
Reopening -- this one won't be complete until we have working tests involving PrintReads with intervals.

[2015-08-06 15:00] akiezun commented on #732
depends on #731

[2015-08-06 15:36] akiezun commented on #727
@lbergelson closed it in #780

[2015-08-06 15:36] #727 closed

[2015-08-06 15:50] droazen opened #788 "Patch htsjdk to propagate indices to CRAM readers correctly"
This is htsjdk issue https://github.com/samtools/htsjdk/issues/296

[2015-08-06 15:53] droazen commented on #788
@edwardkw, this one is for you. Since it's blocking several other tickets, recommend prioritizing it over other tasks.

[2015-08-06 22:27] jean-philippe-martin commented on #751
As @droazen was saying in #656 16 days ago, this is becoming urgent.

It appears this problem has prevented us from noticing a big regression in the Hellbender code that broke  BaseRecalibratorDataflow (possibly because it broke the BAM reader)

[2015-08-07 02:15] jean-philippe-martin commented on #754
Further experimentation shows that 1677 serialized SAMRecords occupy:
- 76 MB for 1677 headers
- 2 MB for the rest of the records.

That indeed shouldn't fill up RAM, though it's certainly a lot more memory than one may expect. They key issue, aside from the header not being shared, seems to be that the header points to many strings - and they are all de-interned when serialized.

[2015-08-07 03:29] jean-philippe-martin commented on #776
I don't know the answer, but in the interest of moving forward, the function you mean is now called
[keyPairedEndsWithAlignmentInfo](https://github.com/broadinstitute/hellbender/blob/master/src/main/java/org/broadinstitute/hellbender/tools/dataflow/transforms/markduplicates/MarkDuplicatesUtils.java#L110).

[2015-08-07 03:52] akiezun commented on #776
sorry, i missed it. will look tomorrow

[2015-08-07 17:44] jean-philippe-martin opened #791 "Fix java.lang.VerifyError: Bad type on operand stack"
When [ReadsDataflowSource.getReadPCollection](https://github.com/broadinstitute/hellbender/blob/master/src/main/java/org/broadinstitute/hellbender/engine/dataflow/datasources/ReadsDataflowSource.java#L129) calls Google Dataflow's [ReadBAMTransform.getReadsFromBAMFilesSharded](https://github.com/googlegenomics/dataflow-java/blob/master/src/main/java/com/google/cloud/genomics/dataflow/readers/bam/Re

[2015-08-07 18:59] droazen commented on #791
Thanks for looking into this, JP -- would you be able to continue investigating this error?

[2015-08-07 19:34] jean-philippe-martin commented on #791
Sure, I can look into it.

[2015-08-07 19:36] droazen commented on #791
Part of https://github.com/broadinstitute/hellbender/issues/751

[2015-08-07 20:03] lbergelson commented on #624
I assume this can't be implemented by the interface itself because of the default methods are always overridden issue?

[2015-08-07 20:09] lbergelson commented on #750
This seems to have been fixed by #754.  The tests no longer time out, but they still fail (see #791.)

[2015-08-07 20:09] #750 closed

[2015-08-07 20:32] edwardkw opened #793 "Fix wrong reference breaking for CRAMs"

[2015-08-07 21:18] droazen commented on #793
(and re-enable test in `CRAMReferenceIntegrationTest` once this is done)

[2015-08-07 21:20] droazen commented on #673
This one is done.

[2015-08-07 21:20] #673 closed

[2015-08-07 21:22] droazen commented on #677
Closing this, as the core task is done -- fixing the "wrong reference" case is covered by https://github.com/broadinstitute/hellbender/issues/793, and adding a `PrintReads` test involving cram and intervals is covered by https://github.com/broadinstitute/hellbender/issues/675

[2015-08-07 21:22] #677 closed

[2015-08-07 21:24] droazen commented on #793
Currently we get a `NullPointerException` if the wrong reference is provided for a cram (but the sequence dictionaries are compatible). Ideally we want to query in advance whether a reference matches the one each cram input expects -- if there's no facility to do this, we may need to add a new method to htsjdk.

[2015-08-07 21:57] jean-philippe-martin commented on #791
It appears that increasing the version of dataflow-sdk that genomics-dataflow uses fixes the problem. I'm going to cut a new version of genomics-dataflow soon.

[2015-08-10 19:18] droazen commented on #791
So is it fair to say that this is a dataflow bug rather than a regression in hellbender itself?

[2015-08-10 19:24] davidadamsphd opened #795 "KeyVariantsByRead.key removes reads that don't have variants"
This is a bug in the our Dataflow code. It would be an easy fix if we could just emit a KV where the key was the read without any variants and the value was null. However, Dataflow doesn't allow emitting nulls...

Unfortunately, the real fix will require UUIDs and joining two PCollections :(

[2015-08-10 19:28] droazen commented on #795
Doesn't dataflow have left outer join? :)  This is a serious issue, though, as many reads will not have any overlapping known sites from the variants source.

[2015-08-10 20:45] davidadamsphd commented on #795
I think the way we create the ReadContextData masks this bug. It only matters for the direct use of the joined reads and variants.

[2015-08-10 21:36] jean-philippe-martin commented on #791
It appears this is a Java bug. Or perhaps this is working as intended and were we more informed we'd have known that using two different versions of dataflow-sdk together wouldn't work.

Arguably, we should not have updated Hellbender without noticing that this broke the BAM reader. Doing so transitioned us from a working BAM reader to a broken one - a regression. This is why I think we're all eag

[2015-08-10 21:43] jean-philippe-martin opened #799 "Remove save&reload requirement for BQSR"
This was mentioned already as a comment in #562 but it should be an issue instead.

BQSR on Dataflow can *theoretically* avoid the step of saving the textual report, instead piping the recalibration analysis results directly to the ApplyBQSR phase. In practice it cannot, because it turns out that **saving a report and immediately loading it back is not a no-op**. it actually changes in some necess

[2015-08-11 00:57] yfarjoun commented on #263
I think we can close this issue.

[2015-08-11 01:07] #263 closed

[2015-08-11 04:20] vdauwera commented on #263
For the record I don't think we should be enabling users to do quality based trimming anyway. It's just awkward to have a tool that's not doing what it promises to do (purportedly). @akiezun Can I assume that this tool will never be ported to GATK4?

[2015-08-11 11:21] eitanbanks commented on #263
Why not?  I found it very useful recently...

[2015-08-11 21:10] eitanbanks commented on #263
Just wanted to clarify:
The basic functionality of the ClipReads tool is very useful.  I used it for the bam reduction project and now I'm about to use it again for the rapid QC project.  This definitely should get ported to GATK4.
However, it's only the basic stuff (clipping by cycle, writing out as N's, etc.) that we need to keep.  The "gnarly" running sum thing is something we can trash.

[2015-08-11 21:13] vdauwera commented on #263
Sounds like the kind of functionality you'd want in read transformers, rather than as a dedicated walker, no?

[2015-08-11 21:16] eitanbanks commented on #263
Depends on how it works in GATK4.  Removing bases didn't work for LocusWalkers in GATK3 (it broke LIBS).

[2015-08-11 21:19] vdauwera commented on #263
@akiezun @lbergelson @droazen How does one find out more about read transformer functionality in Hellbender (ie the general design + what specific functionalities are already implemented)?

[2015-08-11 22:27] jean-philippe-martin commented on #650
I thought it was, but it turns out I was wrong! Thanks to David Tester for pointing it out. We have to wait for them to release their new version, or use their jar for a bit.

[2015-08-12 02:09] akiezun commented on #263
ClipReads is already ported. Can we resolve whether this ticket is a bug report or an enhancement request or neither?

@vdauwera nope, but there's the code!

[2015-08-12 02:13] eitanbanks commented on #263
@akiezun if the code is truly doing a running sum and setting the clipping point to where the running sum exceeds the threshold, then we should change it.  Just clip the tails that are below the Q threshold.

[2015-08-12 02:59] akiezun commented on #263
i cannot reopen without a test case.

[2015-08-12 14:51] droazen commented on #788
Done in https://github.com/samtools/htsjdk/pull/299

[2015-08-12 14:51] #788 closed

[2015-08-12 15:29] droazen opened #802 "Ensure that reference sequence dictionary always contains all contigs from reads/variants sequence dictionaries"
Currently we check only that sequence dictionaries have a common subset of equal contigs. When comparing against the reference sequence dictionary, however, we need to check that the ref dictionary contains all contigs from the reads/variants dictionaries. If this is not the case, we can see null pointer exceptions with cram files and other nasty errors.

[2015-08-12 15:33] droazen commented on #793
Looks like the problem occurs when the cram dictionary is "compatible" with the reference dictionary according to our validation routines, but the reference dictionary does not contain all contigs from the cram dictionary.

We are going to make our dictionary validation stricter to prevent this (https://github.com/broadinstitute/hellbender/issues/802). We should also patch htsjdk to throw a nicer

[2015-08-12 17:33] lbergelson opened #805 "Standardize command line parameters for tools that use SamFileTester"
This is a subtask of #133.

Extra code is needed to switch between `"INPUT"` and `"input"` which is unfortunate.  Replace "INPUT"/"OUTPUT" for `CleanSam` and `MarkDuplicates` (along with any others that I missed.) with `StandardArgumentDefinitions.INPUT_LONG_NAME`  Then update `SamFileTester` to only use the standard names.

[2015-08-12 21:12] lbergelson opened #807 "Make Java's default logs respect our verbosity setting"
Some of our dependencies make logging calls to the Java default logger that don't respect our current log level.  We should hook up `LoggingUtils.setLoggingLevel` to the java default logging system so that we can control it.

[2015-08-13 14:48] lbergelson opened #810 "Test aren't running for fork pull requests"
I broke external forks pull requests when the dataflow tests were turned on.  They need to be updated so that tests that don't require keys will run without them.

[2015-08-13 23:37] jean-philippe-martin commented on #751
I just tried `gradle testAll` on the master branch and I see `RefAPISourceUnitTest` failing.

These regressions make progress a lot harder, and unfairly shift effort from those not writing cloud code to those who are.

What I suggest we do is that instead of having just "bucket" and "cloud" groups, we split into "bucket", "cloud", "bucket_todo" and "cloud_todo".

We make "bucket" and "cloud" manda

[2015-08-13 23:54] jean-philippe-martin opened #816 "RefAPISourceUnitTest fails"
The following tests failed for me today, on the master branch:

RefAPISourceUnitTest. testDummy
RefAPISourceUnitTest. testReferenceSourceQuery
RefAPISourceUnitTest. testReferenceSourceQueryWithInvalidContig
RefAPISourceUnitTest. testReferenceSourceQueryWithInvalidPosition

(I mentioned this in #751 but it should be its own issue so we can track progress)

[2015-08-14 15:54] LeeTL1220 opened #817 "Implement parameter groups for CommandLinePrograms"
I would like a mechanism to group our `@Argument` in our `CommandLinePrograms`.  These should be arbitrary group names set by the developer.

Python has a pretty good model, which can be used for reference.

https://docs.python.org/3/library/argparse.html#argument-groups

[2015-08-14 20:44] jean-philippe-martin commented on #650
Mystery now completely solved! It was `com.google.appengine.tools:appengine-gcs-client:0.4.4` that was asking for the latest available version of com.google.http-client:google-http-client-jackson2. This is what caused the problem to appear solved to me when in fact the fix wasn't in maven yet.

[2015-08-15 14:05] akiezun opened #826 "Port AnnotationEngine"
needed for GenotypingEngine

[2015-08-15 14:05] akiezun commented on #826
(this does not include VariantAnnotator, just the engine)

[2015-08-15 14:06] akiezun commented on #729
this is done

[2015-08-15 14:06] #729 closed

[2015-08-15 19:48] yfarjoun commented on #729
FYI, there are going to be at least 2 tools that are based on this
infrastructure...in Picard-private. Thus, before picard-private can be
build against hellbender, this iterator will be needed.

On Sat, Aug 15, 2015 at 10:06 AM, Adam Kiezun <notifications@github.com>
wrote:

[2015-08-15 19:50] akiezun commented on #729
we'll bring it back it needed. if you could  annotate the requirements docs with this info, it would be great.

[2015-08-17 11:03] tomwhite commented on #575
From Spark 1.5.0 (which has not yet been released), it will be possible to retrieve the user exception (see  [SPARK-8625](https://issues.apache.org/jira/browse/SPARK-8625)), so we'll be able to fix this. The change needed is in `DataflowCommandLineProgramUnitTest`.

Note that we'll need to upgrade Spark Dataflow too, to include https://github.com/cloudera/spark-dataflow/issues/69.

[2015-08-17 17:29] jean-philippe-martin commented on #816
Fixed by #825.

[2015-08-17 17:29] #816 closed

[2015-08-17 17:31] jean-philippe-martin commented on #751
#823 is making good progress in this direction.

[2015-08-17 17:33] jean-philippe-martin commented on #751
With #825 we're now at 12 passing cloud tests (mandatory), and 7 todos.

[2015-08-17 18:52] #778 closed

[2015-08-17 21:08] jean-philippe-martin opened #828 "PrintReads crashes on some inputs"
I didn't expect Hellbender to crash for this command:

`$ ./hb PrintReads -I CEUTrio.HiSeq.WGS.b37.NA12878.bam -O 4m.bam -L 20:1000000-4000000`
(...)
[August 17, 2015 2:04:43 PM PDT] org.broadinstitute.hellbender.tools.PrintReads done. Elapsed time: 0.48 minutes.
Runtime.totalMemory()=412090368
java.lang.IllegalArgumentException: end must be >= start. start:2801961 end:2801960
	at org.broadinstitu

[2015-08-17 21:45] lbergelson commented on #828
So the failing read is: `20FUKAAXX100202:7:2:11376:131531 2/2`

It's failing because it's cigar is `35S35I31S`.  The easiest thing to do would be to add NON_ZERO_REFERENCE_LENGTH_ALIGNMENT to the set of filters used by print reads in order to filter out this read.

[2015-08-17 21:46] lbergelson commented on #828
Reproducible with the following small sam file [bad.sam](https://files.zenhub.io/55d255ffa33f044705b9db42)

[code]

[2015-08-17 21:52] lbergelson commented on #828
Or actually, with the more minimal:

[code]

[2015-08-17 22:20] jean-philippe-martin commented on #643
fixed by PR #825.

[2015-08-17 22:20] #643 closed

[2015-08-17 23:06] jean-philippe-martin opened #829 "Fix ReadsPreprocessingPipelineIntegrationTest"
See pull #812

@droazen

[2015-08-18 14:17] akiezun commented on #826
duplicate of #734

[2015-08-18 14:17] #826 closed

[2015-08-18 14:23] lbergelson opened #830 "Delete CompareMetrics"
It was originally designed to compare if two instances of different metric classes had the same data in them.  It no longer functions for it's original purpose because of changes to htsjdk which changed metric equality slightly.

 As best as I can find out it's not actually used anywhere and was only really ever used as a helper to develop `CollectSequencingArtifactMetrics`.

[2015-08-18 14:23] lbergelson commented on #716
Closing in favor of #830

[2015-08-18 14:23] #716 closed

[2015-08-18 15:11] davidadamsphd opened #831 "Get Hadoop reference loading code into htsjdk"
@tomwhite wrote code to read in the reference from hdfs. We need to move that logic into htsjdk (to avoid the two getting out of sync). Assigning to @droazen for now.

[2015-08-18 17:51] iliat commented on #621
Update: we have a PoC impl. working with sharded writing and simple indexing implementation in https://github.com/googlegenomics/dataflow-java/tree/sharded-bam-writer , need to do some more benchmarking and merge to main branch.

[2015-08-18 18:44] edwardkw commented on #659
Fixed.

[2015-08-18 18:44] #659 closed

[2015-08-18 19:53] lbergelson opened #833 "testBQSRCloud is non-deterministic"
It fails sometimes with the following output:
[bqsrCloudFailure.txt | uploaded via ZenHub](https://files.zenhub.io/55d38d25a33f044705b9e5a8)

[2015-08-18 19:55] jean-philippe-martin commented on #833
You mean [BaseRecalibratorDataflowIntegrationTest.testBQSRCloud](https://github.com/broadinstitute/hellbender/blob/jp_bqsr_skel_rerebased/src/test/java/org/broadinstitute/hellbender/tools/walkers/bqsr/BaseRecalibratorDataflowIntegrationTest.java#L175)? The one I haven't yet checked in?

[2015-08-18 19:59] lbergelson commented on #833
It's in the mandatory cloud group right now.  Is it not expected to work?

[2015-08-18 20:00] jean-philippe-martin commented on #833
No, it's not expected to work.

[2015-08-18 20:08] lbergelson commented on #833
Ok.  I was confused because we'd put it in the cloud group instead of the cloud_todo so I thought it was supposed to be stablish.  It failed and caused a bunch of confusion since it was a failure of the master branch with all the beer penalties that entails.

[2015-08-18 20:10] jean-philippe-martin commented on #833
Ah, I see you didn't mean the one I linked to, but a different one, in master. Yes, it's supposed to work. No, I wouldn't spend effort trying to debug it, since it's about to be replaced by the one I linked to.

[2015-08-18 20:18] lbergelson commented on #833
Heh, yes, I'm not usually in the habit of preemptively filing bugs against other people's in progress code.

[2015-08-18 20:20] jean-philippe-martin commented on #833
I know, I shouldn't have assumed that your non-denial answer meant "yes", especially since that scenario was unlikely. It's just that I'm fighting with that right now.

[2015-08-18 20:21] lbergelson commented on #833
I was just confused by what you were saying.  Confusion all around!  Mass panic!

[2015-08-19 09:17] tomwhite opened #836 "Make Hadoop a 'provided' dependency"
It's common for Hadoop JARs to be provided at runtime (e.g. when running the `hadoop` or `spark-submit` commands). This is because the client-server RPC is fragile, so it's important to use the same version of each.

To solve this we should make the Hadoop JARs a ['provided' dependency](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html) (in the Maven sense). Gr

[2015-08-19 13:10] #147 closed

[2015-08-19 13:11] cmnbroad commented on #243
Closed #787.

[2015-08-19 13:11] #243 closed

[2015-08-19 13:13] cmnbroad commented on #146
Closed by #612.

[2015-08-19 13:13] #146 closed

[2015-08-19 15:11] droazen commented on #650
Reopening -- this is still a problem according to @jean-philippe-martin

[2015-08-19 15:14] droazen commented on #650
According to @jean-philippe-martin, the following workaround is still necessary in `GoogleGenomicsReadToGATKReadAdapter`:

        @Override
        public GATKRead copy() {
            // workaround until https://github.com/google/google-http-java-client/issues/293 is released
            genomicsRead.setAlignedQuality(new ArrayList<>(genomicsRead.getAlignedQuality()));
            Map<String, Li

[2015-08-19 16:59] jean-philippe-martin commented on #650
The class that's giving us trouble this time is `com.google.common.collect.Lists$TransformingRandomAccessList`. Here's the stack trace:

[code]

[2015-08-19 17:09] tomwhite commented on #831
Rather than adding a Hadoop dependency into htsjdk, it would be sufficient (and more general) to add overloaded methods for InputStream/java.nio.file.Path etc, so that it's possible to use other filesystems with htsjdk.

For example, this is the change needed for the fasta code: https://github.com/samtools/htsjdk/compare/master...tomwhite:hadoop.

It's fairly straightforward to hook this up with H

[2015-08-19 17:11] tomwhite commented on #831
Forgot to say - the java.nio.file API is only available from Java 7 onwards, and htsjdk is currently based on Java 6. However, I noticed that it will support Java 8 from October, so maybe it's OK.

[2015-08-19 17:43] droazen commented on #693
Done

[2015-08-19 17:43] #693 closed

[2015-08-19 17:46] droazen commented on #388
Done in https://github.com/broadinstitute/hellbender/pull/839

[2015-08-19 17:46] #388 closed

[2015-08-19 17:53] droazen commented on #650
I've added a comment in the upstream issue (https://github.com/google/google-http-java-client/issues/297) suggesting a general fix for this issue using reflection.

[2015-08-19 18:11] droazen opened #840 "Configure travis to install/init git lfs"
Now that we're using git lfs to manage our large test resources, we need to configure travis to install/init git lfs before running the test suite.

[2015-08-19 18:27] droazen commented on #840
@lbergelson As the resident travis expert, feel like taking this one?

[2015-08-19 18:30] lbergelson commented on #840
Yeah, I can do this.

[2015-08-19 19:04] akiezun commented on #446
reluctantly closing this. The apache version does not implement it properly for low counts.

[2015-08-19 19:04] #446 closed

[2015-08-19 21:35] akiezun commented on #406
closing, picard now has (as of 1.134) tests for this class and those will be used once we rev up

[2015-08-19 21:35] #406 closed

[2015-08-20 10:45] tomwhite commented on #831
I've created a pull request for this here: https://github.com/samtools/htsjdk/pull/308. Please take a look when you have time, @droazen.

[2015-08-20 15:20] droazen commented on #831
I've added a comment there -- basically I need more information on the advantages of this approach over the one in https://github.com/samtools/htsjdk/pull/211 (which could in theory be merged now rather than in October). Is the main advantage avoiding adding the hadoop dependency in htsjdk, or are there other benefits as well? Do you think it would be cleaner/less invasive, and generalize well to

[2015-08-21 12:30] davidadamsphd opened #849 "Create a CustomCoder for RefAPISource"
Right now, we have custom Java Serializable code. We should move this to a CustomCoder for two reasons:
(1) Uniformity with other custom Serialization
(2) In Spark, we may want to do something different, which this would preclude.

[2015-08-21 13:25] #828 closed

[2015-08-21 13:30] #404 closed

[2015-08-21 16:56] tomwhite commented on #567
Fixed in https://github.com/broadinstitute/hellbender/pull/827

[2015-08-21 16:56] #567 closed

[2015-08-21 23:40] #198 closed

[2015-08-21 23:42] #724 closed

[2015-08-24 14:22] davidadamsphd opened #854 "Expand ReadsSparkSink to write to a sharded-bam"
Currently, it only writes to a single-file BAM.

[2015-08-24 14:41] davidadamsphd opened #855 "Looking into broadcasting reference to all workers for native Spark Reads pipeline"
Look into broadcasting the reference to all of the workers. This would make AddContextDataToReadSpark and the BQSR code simpler and may have better performance than our current code.

[2015-08-25 14:50] #833 closed

[2015-08-25 16:38] #830 closed

[2015-08-25 21:11] droazen commented on #675
I'll take on the task of adding the last remaining test for this ticket, as @edwardkw needs time this week to focus on the other remaining open cram tickets.

[2015-08-26 00:55] LeeTL1220 opened #861 "Migrate ParamUtils methods from hellbender-protected into the Utils class"
Simply take the methods in org.broadinstitute.hellbender.utils.param.ParamUtils and add to org.broadinstitute.hellbender.utils.Utils, since these are all static.

Then delete ParamUtils and have all usages use Utils.

[2015-08-26 12:50] dekling commented on #721
Completed with help from @akiezun.

[2015-08-26 12:56] dekling commented on #728
See #857

[2015-08-26 23:46] jean-philippe-martin opened #864 "BQSR_Dataflow doesn't work with client-secrets.json"
it only works with API_KEY. Ultimately the problem is that RefAPISource calls GenomicsOptions.Methods.getGenomicsAuth at the worker. That's too late: that function creates an Offline auth by reading the client-secrets file. The solution is to create an OfflineAuth object at the client and then pass that to RefAPISource somehow.

[2015-08-27 17:00] #802 closed

[2015-08-27 17:49] jean-philippe-martin opened #866 "BaseRecalibrator regression"
Somewhere between #835 and now, BaseRecalibrator stopped working. When I try to run testBQSRBucket, I get the error below. This test is currently enabled so regression tests should have caught this.

[code]

[2015-08-27 17:53] jean-philippe-martin commented on #866
This contrasts with my local branch (#863, awaiting review) where testBQSRBucket passes (but testBQSRCloud fails).

[2015-08-27 18:20] #793 closed

[2015-08-27 18:32] jean-philippe-martin commented on #866
David reports that the integration tests are still passing, so this issue appears to impact only me.

[2015-08-27 19:04] lbergelson commented on #866
@jean-philippe-martin Are you seeing this issue in Intellij or on the command line?  I'm seeing a similar issue in intellij and it has to do with dependency ordering.  Intellij sometimes gets the ordering different than gradle and ends up with an old version of guava.

[2015-08-27 19:06] jean-philippe-martin commented on #866
This was on intelliJ. Of course it's also important for tests to work there, since that's what I usually check. Adding the global ban on guava-jdk5 as I do in #867 appears to fix this problem for good.

[2015-08-27 19:27] #675 closed

[2015-08-27 19:44] lbergelson commented on #866
I think the global ban is the right thing.  If you see problems like this in the future, only in intellij, you can edit the project structure manually to specify the dependency you meant.  It's a dumb hack, but it can save pain.

[2015-08-27 19:49] jean-philippe-martin commented on #866
Thanks!

[2015-08-27 20:01] droazen commented on #618
Can use `SAMTextWriter.writeAlignment()` as starting point.

There's already a method to create the SAM flags for a GATKRead (`ReadUtils.getSAMFlagsForRead()`).

Only non-trivial part is creating SAM representations of each attribute. Need to convert to TAG:TYPE:VALUE format. Probably need a table based on the standard attributes in the SAM spec -- there's already an implementation of this in `Gen

[2015-08-27 20:05] jean-philippe-martin commented on #866
... so, is it safe to assume that you agree that #867 is good to merge?

[2015-08-27 20:10] lbergelson commented on #866
I don't actually understand the all* syntax... If it works and tests pass I'm willing to merge though.  I'm confused why forcing it to 18 isn't enough.  I'm :+1: on this thought if it works empirically and we can understand what's going on later if we have to.

[2015-08-27 20:17] droazen commented on #705
We should do this ONCE and never again (when the final switchover to the hellbender implementations happens), rather than doing this for alpha.

[2015-08-27 20:29] jean-philippe-martin commented on #866
Thanks! Forcing guava to 18 isn't enough because guava-jdk5 isn't the same module, so the forcing rule doesn't apply to it.

[2015-08-27 20:36] jean-philippe-martin commented on #866
Fixed by #867.

[2015-08-27 20:36] #866 closed

[2015-08-28 14:47] lbergelson commented on #618
We should also find any custom sam tags we're using and add them to the table.

[2015-08-28 21:45] #140 closed

[2015-08-28 21:45] cmnbroad commented on #140
Closed via #838.

[2015-09-02 17:08] davidadamsphd opened #873 "Verify reference bases and variants are correctly paired with reads (Spark)"
This should go in AddContextDataToReadSpark.assertSameReads

[2015-09-02 17:10] davidadamsphd opened #874 "Tracker for unmodifiableMap Kryo workaround"
htsjdk.variant.variantcontext.CommonInfo has a Map<String, Object> that defaults to a Collections.unmodifiableMap. This can't be handled by the version of kryo used in Spark, it's fixed in newer versions (3.0.x), but we can't use those because of incompatibility with Spark. We just include the fix.

[2015-09-02 18:47] davidadamsphd opened #875 "Try using SAMRecord instead of model read in Spark pipeline"
ReadsSparkSource.getParallelReads

[2015-09-03 18:00] #864 closed

[2015-09-03 19:07] cmnbroad commented on #16
Feel free to bounce this back if you want to an we can talk about how to proceed.

[2015-09-03 20:53] droazen commented on #590
Probably best to wait until .crai support trickles in to hellbender during the next rev of htsjdk.

[2015-09-03 20:58] akiezun commented on #721
done in #846

[2015-09-03 20:58] #721 closed

[2015-09-03 21:04] akiezun commented on #766
@droazen please feel free to close if this is done

[2015-09-03 21:05] akiezun commented on #777
@droazen feel free to close or reassign

[2015-09-05 19:23] akiezun commented on #731
fixed by #786

[2015-09-05 19:23] #731 closed

[2015-09-08 17:05] akiezun commented on #16
this was mismarked as beta. It's an alpha goal

[2015-09-08 19:21] cmnbroad commented on #623
PR for the first part (underlying SAMRecord) change is submitted. When that is approved I'll update the Hellbender code.

[2015-09-09 16:11] lbergelson opened #883 "Dataflow BQSR Direct Runner fails with --knownSites"
From @tomwhite:

I noticed that the test with "-knownSites" from BaseRecalibratorIntegrationTest (i.e. the non-dataflow version) fails with both the Direct and Spark runners. I had a look at the file output and there are a few discrepancies (see diff below).

[code]

The relevant test is this one from `BaseRecalibratorDataflowIntegrationTest`

[code]

[2015-09-09 17:47] #205 closed

[2015-09-09 17:47] cmnbroad commented on #205
Closed via #876.

[2015-09-09 17:52] laserson opened #885 "Consider running Travis Spark tests against EMR Spark"
Cloud tests on Travis run against Google dataflow.  This could, in principle, be accomplished for Spark using Amazon EMR.  There may be version compatibility issues.

[2015-09-10 02:24] akiezun commented on #705
agreed. it'll be a version after htsjdk moves over to java8.

[2015-09-10 10:59] tomwhite opened #886 "Use a shared Spark Context in tests"
This will eliminate the transient Spark errors that look like this:

[code]

(Reported by @akiezun.)

[2015-09-11 10:51] #886 closed

[2015-09-11 18:41] jean-philippe-martin commented on #559
I got one. Microbenchmark shows it's 70x faster than a linear search.

[2015-09-14 13:55] cmnbroad commented on #559
For the record, I only needed the IntervalVariantFilterin #792 because of a bug in VariantWalker, which I've now fixed so its no longer a use-case for this.

[2015-09-14 14:22] lbergelson commented on #559
@jean-philippe-martin Want to add your solution to SimpleInterval or IntervalUtils?  This need shows up pretty often.

[2015-09-14 17:19] jean-philippe-martin commented on #559
@lbergelson sure, I can split it off and make a separate pull request. Remind me in a bit if you don't see it in your inbox.

[2015-09-14 20:17] cmnbroad opened #891 "SAM flags difference between Google-backed and SAMRecord-backed GATK reads"
The GenomicsConverter makeSAMRecord method (converts a GoogleRead to a SAM Record) sets the first-of-pair and second-of-pair-flags in the SAM record based only on the presence and value of the readNumber field:

[code]

The flag value is determined independent of the value of the numberOfReads field, which conflicts with how the GATK ReadUtils class responds to flag state queries on Google read-ba

[2015-09-14 21:55] jean-philippe-martin commented on #559
There you go, it's PR #892.

[2015-09-15 03:53] akiezun commented on #201
done by #881

[2015-09-15 03:53] #201 closed

[2015-09-16 01:35] laserson opened #895 "Check in an example sharded BAM for testing purposes"
cf. comment in #888

[2015-09-16 01:36] laserson opened #896 "Check in an ADAM Parquet file for testing purposes"
cf. comment in #888

[2015-09-16 01:38] akiezun opened #897 "improve test for CreateSequenceDictionaryIntegrationTest"
the integration test (testBasic) must check the contents of the created file

[2015-09-17 00:04] davidadamsphd opened #900 "Find a way to avoid shipping the Sam header around in Spark"
This is meant as a group discussion that could happen several places, and here is as good as any.

We know that shipping around the header is has a *huge* cost. So, we need to find a way to effectively strip it from the `SAMRecord` without breaking it. I propose the following.
* Modify `SAMRecord` to use getter methods for the header
* Create a `HeaderSAMRecord` that extends `SAMRecord` and that h

[2015-09-17 00:09] jean-philippe-martin commented on #900
The problem with a static member is that then we can only have one header for every read, ever. This will probably break computations that handle more than one bam at a time.

Another potential solution is to audit every Dataflow (and spark) code that can receive SAMRecords as input, and make sure they call some utility "putHeadersBack" function. There aren't so many of those so it would be possib

[2015-09-17 00:11] jean-philippe-martin commented on #900
And to put it on the table, another option is to give the header to the deserializer (aka "coder"), so it can put it back as it reads in the objects. This can be a little delicate, though, when there's more than one header in play as we have to manually specify the "right" decoder every time. This is definitely less pleasant than just registering one coder and being done with it.

[2015-09-17 00:20] jean-philippe-martin commented on #900
Oh, and to add: I'm not too worried about having to put the header back in because that's what I'm doing right now anyways.

[2015-09-17 02:31] akiezun commented on #900
what's [ADAM's](https://github.com/bigdatagenomics/adam) approach to this?

[2015-09-17 07:22] laserson commented on #900
ADAM has no header.  I realize I'm only coming into the game rather late, but would it be possible to ditch `SAMRecord`?  Since you're already using Google `Read`-backed data as well, instead of writing against an interface (`GATKRead`), you could simply come up with your own, more-awesome concrete data structure.  (Perhaps even an Avro `SpecificRecord` a la `AlignmentRecord`).  In cases where ADA

[2015-09-17 08:30] tomwhite commented on #900
I agree. I think this is the most practical solution. (Having the coder/serializer do it is difficult, as it's hard to get the header to the serializer, unless it is passed statically, which I think we'd rather avoid.)

This would look something like `reads.map(read -> ReadUtils.addHeader(header, read))`, and would be added after every shuffle. Since we should be very aware where every shuffle is

[2015-09-17 13:30] davidadamsphd commented on #900
@laserson the `SAMRecord` vs. Google `Read` is a loooooong story.
The super-short version:
We had a bunch of utilities written for `SAMRecord` that @droazen refactored over months to take the GATKRead interface. As it happens, the SAM spec and the GA4GH spec are not 100% compatible. So, it's not possible to losslessly convert from A -> B -> A (where A is `SAMRecord` or Google `Read`). The cases wh

[2015-09-17 14:41] lbergelson commented on #900
I think all of our dataflow / spark code is at least almost entirely using `GATKRead`.  GATKRead is designed to not provide access to the header because it's not available from a google `Read` backed `GATKRead`.  It sounds like there is some information that `Read` includes that is missing from a headerless `SAMRecord`.  I think we could audit the `SAMRecordToGATKReadAdaptor` to find any places it

[2015-09-17 15:30] davidadamsphd commented on #900
Audit results, there are two (very related issues).
Issue (1)
`setPosition` from `SAMRecordToGATKReadAdapter` calls `setReferenceName` from `SAMRecord`

[code]
Issue (2)
`setMatePosition`  from `SAMRecordToGATKReadAdapter` calls `setMateReferenceName` from `SAMRecord`

[code]

@lbergelson, what's the fix?

[2015-09-17 16:42] tomwhite commented on #900
Something like LazyBAMRecord in https://github.com/broadinstitute/hellbender/pull/899/files?

[2015-09-17 16:58] droazen commented on #900
@jean-philippe-martin I don't think we have to worry about the case of multiple headers for the reads. The GATK has always taken the approach of requiring compatibility between the various reads headers, and then merging them into a single header.

Given this, is it at all feasible to handle this at the coder level (stripping the header on encode and restoring on decode)? If it is, I think that is

[2015-09-17 17:04] jean-philippe-martin commented on #900
on **data representation**:

@laserson: yes, I think it makes total sense to eventually move to a better format. The requirements seem to be: (a) efficient serialization/deserialization, and (b) can easily convert to a SAMRecord for compatibility with existing code. We can make things extra efficient by only deserializing things if they are needed (if a phase doesn't need the CIGAR-related structu

[2015-09-17 17:15] laserson commented on #900
+1 to @lbergelson's point.  It seems the header is really only involved when reading or writing a bam file.  Would be great to eliminate it entirely except on the "external interface" when writing files.

[2015-09-17 17:15] jean-philippe-martin commented on #900
@droazen, if it's true we can merge the headers then I suppose that may be a possibility. I'm a little bit dubious, though, because one of the pieces of information is the reference index to reference name mapping, and I didn't think we required those to match. Or do we?

Keep in mind however that static variables aren't serialized, so we'd still have to include some fancy code to make sure that e

[2015-09-17 18:26] davidadamsphd commented on #900
@jean-philippe-martin, we want to expose a walker-like interface, but we also care about the general ease of writing programs using the tools we and the user wrote (in native Dataflow/Spark). This is a point that @droazen, has emphasized to me several times. I'll let him add more detail on this if needed.

I agree that the static approach won't work for Dataflow when workers are added, but I think

[2015-09-17 20:06] droazen opened #903 "Add explicit support for headerless SAMRecords to htsjdk"
The SAMRecord class currently allows the header to be set to null (either at construction time or via `setHeader()`), but may blow up or allow itself to enter an inconsistent state when it lacks a header (eg., the reference name and reference index can get out of sync).

We should patch this class (and subclasses such as `BAMRecord`) in https://github.com/samtools/htsjdk/ to behave sensibly in all

[2015-09-17 20:07] droazen commented on #903
This one is for @cmnbroad

[2015-09-17 20:28] droazen commented on #900
@davidadamsphd, @lbergelson, and myself met for an hour or two just now to discuss this issue, and after reviewing all the options I think we were convinced by the following argument:

The `SAMRecord` class currently allows its header to be set to null, so if there are cases where the class won't function properly or can enter into an inconsistent state when a header is not present these should be

[2015-09-17 21:40] jean-philippe-martin commented on #900
@droazen a headerless SAMRecord would be convenient, for sure. They would be less efficient  because we need to copy the contig and mate contig names onto every read but perhaps that cost is worth it to you.

There is a risk we may re-introduce something like the header when we move to more efficient versions of SAMRecord.

[2015-09-17 21:51] droazen commented on #900
@jean-philippe-martin The idea is that you **wouldn't** have to copy the contig and mate contig indices into every read. The SAMRecord class would be modified as needed to function correctly when no contig index information is available in the absence of a header (ie., only names are known).

[2015-09-17 22:14] jean-philippe-martin commented on #900
@droazen, the SAMRecord interface exposes getReferenceIndex and getMateReferenceIndex, so there is no question that the index has to be there.

What I was talking about what the optimization where when serializing, the [BAMRecordCodec only saves the index](https://github.com/samtools/htsjdk/blob/master/src/java/htsjdk/samtools/BAMRecordCodec.java#L131), and not the name. That is because if we have

[2015-09-17 23:04] droazen commented on #900
@jean-philippe-martin I disagree that just because there are getters for the index, the index has to be there. It is already allowed to be absent for various reasons (via the special value `NO_ALIGNMENT_REFERENCE_INDEX`). Since use of the index instead of the name is mostly a performance optimization, I think we can get away with allowing records that have the name filled in but not the index.

Re

[2015-09-17 23:04] droazen commented on #900
@jean-philippe-martin I disagree that just because there are getters for the index, the index has to be there. It is already allowed to be absent for various reasons (via the special value `NO_ALIGNMENT_REFERENCE_INDEX`). Since use of the index instead of the name is mostly a performance optimization, I think we can get away with allowing records that have the name filled in but not the index.

Re

[2015-09-18 00:03] jean-philippe-martin commented on #900
@droazen ok, good point, if you know the code will keep on working without the index then we can indeed remove it. Just for the record I wasn't saying this was a reason not to do it, I was just pointing it out since there was no mention of the cost.

[2015-09-18 00:21] davidadamsphd commented on #900
I'll wait for @laserson and @tomwhite to get a chance to chime in, but it looks like we have plan.

Supposing that it takes @cmnbroad two weeks (which seems like a reasonable estimate to me). We should we do in the mean time? Is there something simple we can do (that's hacky but correct) to hold us over until the real fix is in?
@tomwhite's suggestion of stripping the header before shuffles, then

[2015-09-18 00:30] jean-philippe-martin commented on #900
@davidadamsphd stripping the header helps, but also encoding to BAM helps more. I expect to be using the LazeBAMRecordFactory that @tomwhite wrote.

[2015-09-18 02:23] laserson commented on #900
Sounds like a reasonable strategy to me.  WRT to the performance costs, it sounds like @tomwhite's serialization changes would be a much bigger benefit than the cost of having to serialize the reference names.

[2015-09-18 11:37] tomwhite commented on #900
Sounds good to me.

[2015-09-18 13:28] bhandsaker commented on #900
Since you asked, I have a couple of thoughts:

First, I don't know if allowing the SAMRecord header to be set to null
something that was intended to be widely used, or whether it was an
oversight in the API or done to solve some particular corner case.  If
many SAMRecord methods appear to be broken if the header is null, then
perhaps this isn't something that was intended for wide use.

Second, it

[2015-09-18 16:53] tomwhite commented on #875
This is being addressed by https://github.com/broadinstitute/hellbender/pull/899 and https://github.com/broadinstitute/hellbender/pull/900.

[2015-09-18 16:56] tomwhite opened #906 "Write sharded output from MarkDuplicatesSpark"
The `writeReads` call explicitly writes a single BAM file - there should be an option to write a sharded file.

[2015-09-19 00:53] laserson commented on #855
I'm gonna start with supporting .2bit files, since we're gonna be broadcasting full references.

[2015-09-21 15:42] droazen commented on #900
@bhandsaker Thanks for chiming in with your thoughts/concerns.

Under this proposal, the various classes in htsjdk that read and return `SAMRecords` (eg., `SAMReader` & co.) would continue to put the header inside of the records, so we would not be imposing an additional burden on direct clients of htsjdk to check for null headers any more than they do currently. The only difference is that if dow

[2015-09-22 10:31] #906 closed

[2015-09-22 20:02] bhandsaker commented on #900
Thanks for the explanation.

It isn't clear to me that the SAMRecord API was ever intended to support
headerless records (except maybe in very rare corner cases).

I don't really know the scope of hellbender.  If it is just for internal
DSDE tools development, then I guess it doesn't matter.
If you ever want to leverage code/libraries from elsewhere, then those
would have to be "headerless-aware",

[2015-09-22 20:14] akiezun opened #914 "remove mutable static state from the whole codebase"
mutable static state is a source of memory leaks and concurrency bugs on dataflow/spark. we need to get rid of all of it. In particular mutable static collections but mutated static arrays are also bad (can't make java arrays unmodifiable unfortunately)

[2015-09-22 20:20] lbergelson commented on #914
static caches in MathUtils and ReadCovariates

[2015-09-22 20:28] droazen commented on #900
@bhandsaker In hellbender we do already ship the header around "out-of-band" much as you described (via the spark broadcast mechanism and the dataflow "side input" mechanism), and use that header singleton for operations such as looking up the sample, library, platform, etc. We wrote utility methods in hellbender that take both a read and a separate header for all operations that previously requir

[2015-09-23 20:29] #208 closed

[2015-09-24 03:50] akiezun opened #918 "CollectWgsMetrics ArrayIndexOutOfBoundsException"
[code]

[code]

note: same bug is present in picard 1.138

[2015-09-24 20:01] droazen opened #921 "Test crams that have a .crai index (as opposed to a .bai index)"
Now that .crai is supported in htsjdk

[2015-09-24 20:02] droazen commented on #921
Should probably go in `CRAMSupportIntegrationTest`

[2015-09-25 01:00] akiezun opened #923 "clarify javadoc in BucketUtils regarding PipelineOptions"
methods like BucketUtils.createFile take a PipelineOptions argument. That argument can be null if the path is not on a cloud but the doc does not mention that fact.

[2015-09-25 14:24] droazen commented on #799
This applies to the new spark implementation as well.

[2015-09-25 14:34] akiezun opened #926 "`getParallelReads(string)` strips out unmapped reads, while `getParallelReads(string, null)` keeps them""

[2015-09-26 00:00] wbrockman commented on #284
https://spark.apache.org/docs/1.2.0/monitoring.html is the basic overview of monitoring Spark applications.

[2015-09-28 17:07] akiezun opened #929 "add sorting order to ReadsSparkSink.writeReads"
right now, ReadsSparkSink.writeReads  only writes in coordinate order. We need to support other orders too.

[2015-09-28 18:37] akiezun opened #933 "port flagstats to spark"
FlagStatDataflow and tests should be easy to port and a useful tool that requires a non-trivial reduce

[2015-09-29 02:16] laserson commented on #284
Are you using Spark 1.2?  Just make sure you're using the right version of the docs, as this is a common pitfall.

[2015-09-29 02:17] laserson commented on #284
Also check out some of the work by Jeff Hammerbacher's lab, like:
http://www.hammerlab.org/2015/02/27/monitoring-spark-with-graphite-and-grafana/
and
http://www.hammerlab.org/2015/07/25/spree-58-a-live-updating-web-ui-for-spark/

[2015-09-29 02:19] akiezun commented on #284
we have spark 1.3 on prem (cdh 5.4.5 )

[2015-09-29 02:31] akiezun commented on #933
closed by #934

[2015-09-29 02:31] #933 closed

[2015-09-29 02:58] akiezun commented on #708
closed by #844

[2015-09-29 02:58] #708 closed

[2015-09-29 12:19] tomwhite opened #935 "Test reading sharded BAM files"
Test that sharded files written with `ReadsSparkSink` can be read back with `ReadsSparkSource`.

[2015-10-01 01:34] akiezun commented on #854
is this done?

[2015-10-01 01:39] akiezun opened #940 "ReadsSparkSink.writeReadsSingle is too slow"
I tested on a 30Gb file, trying to write to HDFS. It wrote more than 1.4 TB to disk and took hours to complete.

[2015-10-01 15:27] davidadamsphd commented on #854
ReadsSparkSink.writeReadsSharded does it right now. The only thing missing
is renaming all of the part files as .bam. I don't know how much we care to
do that.

On Wed, Sep 30, 2015 at 9:34 PM, Adam Kiezun <notifications@github.com>
wrote:

[2015-10-02 19:22] cmnbroad opened #944 "Simplify HaplotypeBAMWriter code."
The HaplotypeBAMWriter implementation as ported from GATK is currently spread out over 5 classes, with a base class and two subclasses for the writers and a base class and one subclass to represent the writer destination. All of the functionality can be reduced to one simple HaplotypeBAMWriter class (or possibly two if we want to keep the destination separate).

[2015-10-02 19:24] cmnbroad commented on #735
Closed via #902.

[2015-10-02 19:24] #735 closed

[2015-10-05 13:31] cmnbroad commented on #921
This needs the fixes in https://github.com/samtools/htsjdk/pull/343.

[2015-10-05 17:02] akiezun opened #945 "rename respository to gatk"
we need to rename to gatk. Hellebender will remain the codename and the mascot.
(at a later point, we'll rename packages too but that's more work. This ticket is only about the repo).

[2015-10-05 17:06] lbergelson commented on #945
so sad

[2015-10-05 17:16] akiezun commented on #945
sad but necessary
@vdauwera will buy us a plush hellbender

BTW, @vdauwera will people be confused when they find the broadinstitute/gatk repository and think this is the 3.x branch that they can use for production? I bet they will - what should we do about this then?

[2015-10-05 18:02] vdauwera commented on #945
For the most part I expect people use the precompiled jar for production
work, so I'm not too worried about that. Just make sure to have a TL;DR
line at the top of the readme that makes it clear what this is.

On Mon, Oct 5, 2015 at 1:16 PM, Adam Kiezun <notifications@github.com>
wrote:

--
Geraldine A. Van der Auwera, Ph.D.
Group leader, Comms & Support
Data Science & Data Engineering
Broad Insti

[2015-10-05 18:18] akiezun commented on #765
this is done right? we have it internally

[2015-10-05 18:18] #765 closed

[2015-10-05 18:19] akiezun commented on #738
this applies to spark too right?

[2015-10-05 18:21] akiezun commented on #738
maybe this still should be alpha, wdyt?

[2015-10-05 18:30] akiezun commented on #426
is this done?

[2015-10-05 18:32] akiezun commented on #632
does this affect Spark too?

[2015-10-05 18:32] akiezun commented on #646
does this affect spark?

[2015-10-05 18:33] akiezun commented on #666
is spark affected?

[2015-10-05 18:33] akiezun commented on #669
is spark affected by this?

[2015-10-05 18:35] akiezun commented on #698
is spark affected?

[2015-10-05 18:40] akiezun opened #946 "implement MeanQualityByCycle on Spark"
it will be a good one for the start

[2015-10-05 18:42] akiezun opened #947 "implement QualityScoreDistribution on Spark"

[2015-10-05 19:57] wbrockman commented on #284
Thanks, good catch on the incorrect version of docs!  Still getting up to speed in the Spark world.

[2015-10-05 20:39] achevali opened #948 "Add option to use duplicate reads for ExomeReadCounts"

[2015-10-05 22:01] laserson opened #951 "AddContextDataToReadSpark should handle unmapped reads without filtering them out"
Currently adding context data to an RDD of `GATKRead` will filter out reads that are unmapped.  This could be surprising for the user, as they may not expect that joining data to the reads will filter things out.  This class's functionality feels like it should be more of an "outer join".

[2015-10-05 23:31] davidadamsphd commented on #632
HadoopBAM supports reading variants from HDFS in parallel. (I haven't tried reading serially). I think this is fine to close.

[2015-10-05 23:32] davidadamsphd commented on #646
Yes.

[2015-10-05 23:35] davidadamsphd commented on #666
We have tests that I believe are sufficient for ReadsSparkSource.

[2015-10-05 23:35] davidadamsphd commented on #698
Yes.

[2015-10-06 00:19] akiezun commented on #666
ok to close this then? if yes, please close

[2015-10-06 00:19] #632 closed

[2015-10-06 00:25] akiezun commented on #284
@jean-philippe-martin should we turn this ticket into a section in the readme or wiki? What;s the plan here?

[2015-10-06 00:28] #666 closed

[2015-10-06 02:34] akiezun commented on #280
@lbergelson can you clarify what specifically needs to be done to consider this done.

[2015-10-06 05:27] lbergelson commented on #280
This was about dataflow. I'd say it's done for both dataflow and spark. We've run with 20 executors and lots of cores.

[2015-10-06 05:27] #280 closed

[2015-10-06 16:13] lbergelson opened #952 "Figure out git lfs with http checkout"
@vdauwera reported this here #950 :

[code]

[2015-10-06 19:41] akiezun opened #954 "remove Dataflow dependency"
This entails moving all dataflow code to hellbender-dataflow and mininimizing other dependencies. Ideally, up to the point of dropping from the buildscript.

[2015-10-06 19:55] akiezun commented on #948
for alpha because it's required to match old python code

[2015-10-06 19:59] akiezun commented on #854
we don't care as long as the reading code can recognize them and read them. Does it?

[2015-10-06 20:01] akiezun commented on #810
maybe i removed alpha prematurely? Is this a goal for alpha?

[2015-10-06 20:04] #728 closed

[2015-10-06 20:05] lbergelson commented on #810
This should be done before alpha.  We don't want to scare away potential contributors.

[2015-10-06 20:25] akiezun commented on #418
@vdauwera ping

[2015-10-06 20:27] davidadamsphd commented on #854
I haven't chained these together, but I can use samtools view with no problem. So I assume our tools would work too. (I think we can close this).

[2015-10-06 20:28] #854 closed

[2015-10-06 20:28] akiezun commented on #351
alpha candidate?

[2015-10-06 20:29] akiezun commented on #121
alpha candidate?

[2015-10-06 20:29] akiezun commented on #358
alpha candidate?

[2015-10-06 20:30] akiezun commented on #323
i can grab this one

[2015-10-06 20:31] akiezun commented on #300
alpha candidate? or too much work?

[2015-10-06 20:34] droazen commented on #121
yes!

[2015-10-06 21:46] lbergelson commented on #300
Push this off I think

[2015-10-06 21:54] lbergelson commented on #418
It would be nice if it told you ALL of the missing required arguments instead of just the first one too.

[2015-10-07 00:32] akiezun commented on #276
This issue was moved to broadinstitute/hellbender-dataflow#1

[2015-10-07 00:32] #276 closed

[2015-10-07 00:33] akiezun commented on #303
This issue was moved to broadinstitute/hellbender-dataflow#2

[2015-10-07 00:33] #303 closed

[2015-10-07 00:34] akiezun commented on #346
This issue was moved to broadinstitute/hellbender-dataflow#3

[2015-10-07 00:34] #346 closed

[2015-10-07 00:36] akiezun commented on #392
no action

[2015-10-07 00:36] #392 closed

[2015-10-07 00:37] akiezun commented on #393
no action

[2015-10-07 00:37] #393 closed

[2015-10-07 00:39] akiezun commented on #398
no action

[2015-10-07 00:39] #398 closed

[2015-10-07 00:39] akiezun commented on #426
This issue was moved to broadinstitute/hellbender-dataflow#4

[2015-10-07 00:39] #426 closed

[2015-10-07 00:40] akiezun commented on #427
This issue was moved to broadinstitute/hellbender-dataflow#5

[2015-10-07 00:40] #427 closed

[2015-10-07 00:40] akiezun commented on #461
This issue was moved to broadinstitute/hellbender-dataflow#6

[2015-10-07 00:40] #461 closed

[2015-10-07 00:41] akiezun commented on #597
This issue was moved to broadinstitute/hellbender-dataflow#7

[2015-10-07 00:41] #597 closed

[2015-10-07 00:42] akiezun commented on #561
This issue was moved to broadinstitute/hellbender-dataflow#8

[2015-10-07 00:42] #561 closed

[2015-10-07 00:42] akiezun commented on #558
This issue was moved to broadinstitute/hellbender-dataflow#9

[2015-10-07 00:42] #558 closed

[2015-10-07 00:42] akiezun commented on #532
This issue was moved to broadinstitute/hellbender-dataflow#10

[2015-10-07 00:42] #532 closed

[2015-10-07 00:42] akiezun commented on #514
This issue was moved to broadinstitute/hellbender-dataflow#11

[2015-10-07 00:42] #514 closed

[2015-10-07 00:43] akiezun commented on #509
This issue was moved to broadinstitute/hellbender-dataflow#12

[2015-10-07 00:43] #509 closed

[2015-10-07 00:43] akiezun commented on #508
This issue was moved to broadinstitute/hellbender-dataflow#13

[2015-10-07 00:43] #508 closed

[2015-10-07 00:44] akiezun commented on #490
This issue was moved to broadinstitute/hellbender-dataflow#14

[2015-10-07 00:44] #490 closed

[2015-10-07 00:44] akiezun commented on #883
This issue was moved to broadinstitute/hellbender-dataflow#15

[2015-10-07 00:44] #883 closed

[2015-10-07 00:45] akiezun commented on #795
This issue was moved to broadinstitute/hellbender-dataflow#16

[2015-10-07 00:45] #795 closed

[2015-10-07 00:45] akiezun commented on #774
This issue was moved to broadinstitute/hellbender-dataflow#17

[2015-10-07 00:45] #774 closed

[2015-10-07 00:46] akiezun commented on #756
This issue was moved to broadinstitute/hellbender-dataflow#18

[2015-10-07 00:46] #756 closed

[2015-10-07 00:46] akiezun commented on #751
This issue was moved to broadinstitute/hellbender-dataflow#19

[2015-10-07 00:46] #751 closed

[2015-10-07 00:47] akiezun commented on #702
This issue was moved to broadinstitute/hellbender-dataflow#20

[2015-10-07 00:47] #702 closed

[2015-10-07 00:48] akiezun commented on #771
This issue was moved to broadinstitute/hellbender-dataflow#21

[2015-10-07 00:48] #771 closed

[2015-10-07 00:49] akiezun commented on #703
This issue was moved to broadinstitute/hellbender-dataflow#22

[2015-10-07 00:49] #703 closed

[2015-10-07 00:50] akiezun commented on #701
This issue was moved to broadinstitute/hellbender-dataflow#23

[2015-10-07 00:50] #701 closed

[2015-10-07 00:50] akiezun commented on #696
This issue was moved to broadinstitute/hellbender-dataflow#24

[2015-10-07 00:50] #696 closed

[2015-10-07 00:50] akiezun commented on #684
This issue was moved to broadinstitute/hellbender-dataflow#25

[2015-10-07 00:50] #684 closed

[2015-10-07 00:51] akiezun commented on #651
This issue was moved to broadinstitute/hellbender-dataflow#26

[2015-10-07 00:51] #651 closed

[2015-10-07 00:51] akiezun commented on #633
This issue was moved to broadinstitute/hellbender-dataflow#27

[2015-10-07 00:51] #633 closed

[2015-10-07 00:52] akiezun commented on #621
This issue was moved to broadinstitute/hellbender-dataflow#28

[2015-10-07 00:52] #621 closed

[2015-10-07 00:52] akiezun commented on #609
This issue was moved to broadinstitute/hellbender-dataflow#29

[2015-10-07 00:52] #609 closed

[2015-10-07 00:54] akiezun commented on #598
This issue was moved to broadinstitute/hellbender-dataflow#30

[2015-10-07 00:54] #598 closed

[2015-10-07 00:55] akiezun commented on #658
This issue was moved to broadinstitute/hellbender-dataflow#31

[2015-10-07 00:55] #658 closed

[2015-10-07 00:56] akiezun commented on #463
This issue was moved to broadinstitute/hellbender-dataflow#32

[2015-10-07 00:56] #463 closed

[2015-10-07 00:57] akiezun commented on #469
FYI RealignerTargetCreator is not getting ported to hellbender

[2015-10-07 00:58] akiezun commented on #469
This issue was moved to broadinstitute/hellbender-dataflow#33

[2015-10-07 00:58] #469 closed

[2015-10-07 00:59] akiezun commented on #652
This issue was moved to broadinstitute/hellbender-dataflow#34

[2015-10-07 00:59] #652 closed

[2015-10-07 00:59] akiezun commented on #663
This issue was moved to broadinstitute/hellbender-dataflow#35

[2015-10-07 00:59] #663 closed

[2015-10-07 01:01] akiezun commented on #739
does this affect spark on cloud? if yes, please mark accordingly. If not, move to hellbender-dataflow using https://github-issue-mover.appspot.com/

[2015-10-07 01:02] akiezun commented on #680
this applies to spark too.

[2015-10-07 06:16] laserson opened #956 "Support reference broadcasting for fasta files"
Similarly to 2bit files.

[2015-10-07 06:40] laserson opened #957 "Reenable ReferenceTwoBitSourceUnitTest after ADAM 0.18 is released"
Disabled temporarily in #928

[2015-10-07 14:39] vdauwera commented on #418
pong.

Are you planning to get rid of the USER ERROR classification? (not a problem, just curious re: what is the plan for error types names if any)

Error output should include the website URL; if it's possible (not too painful) to include the specific tool doc URL, that would be even better (currently the url for tool doc pages is based on the classpath in a completely predictable way).

Agree w

[2015-10-07 14:55] lbergelson commented on #739
This is still relevant to spark.

[2015-10-07 15:13] akiezun commented on #954
what do do about things like `SparkCommandLineProgram` that has a dependency on `com.google.cloud.dataflow.sdk.options.PipelineOptionsFactory`?

Or `ReadFilter` that implements `SerializableFunction` from `com.google.cloud.dataflow.sdk.transforms.SerializableFunction`

[2015-10-07 15:16] akiezun commented on #956
candidate for alpha?

[2015-10-07 15:22] akiezun commented on #791
This issue was moved to broadinstitute/hellbender-dataflow#36

[2015-10-07 15:22] #791 closed

[2015-10-07 15:23] droazen commented on #956
This is done! Just about to be merged

[2015-10-07 15:25] akiezun commented on #670
does this need to be in alpha? seems to be an optimization that can be postponed?

[2015-10-07 15:26] akiezun commented on #641
does need to be in alpha?

[2015-10-07 15:27] droazen commented on #641
Yeah, refactoring this class is pretty essential to our ability to write good tests.

[2015-10-07 15:28] droazen commented on #956
Done in https://github.com/broadinstitute/hellbender/pull/928

[2015-10-07 15:28] #956 closed

[2015-10-07 15:31] akiezun commented on #590
@droazen is crai support in htsjdk yet? If yes, let's revup and keep moving on this

[2015-10-07 15:42] cmnbroad commented on #590
The PR with the fixes we need for .crai indexes to work was just merged in to htsjdk yesterday.

[2015-10-07 15:43] droazen commented on #670
We've recently seen what a huge different the `FeatureDataSource` caching makes in the walker version of BQSR -- it is literally the difference between being able to run the tool to completion on large inputs and not being able to do so. This change would allow us to expand the caching to non-ReadWalker tools, which should improve people's initial experience running the hellbender tools by quite a

[2015-10-07 15:45] droazen commented on #590
We need to either wait for the next htsjdk release or switch to a SNAPSHOT version of htsjdk temporarily to get the fixes.

[2015-10-07 15:46] akiezun commented on #590
its ok to wait. can we nudge the release a bit?

[2015-10-07 15:47] lbergelson commented on #418
@vdauwera I think we're planning on keeping a distinction between a bug and a user error.  What the actual messages say is up for debate though.

Are you going to be offering support of alpha hellbender, what website do you want to link to?  There aren't any doc urls at the moment so there's no where to direct people to right now.

Doing complete validation is a bit tricky, since an invalid option

[2015-10-07 15:51] droazen commented on #669
Done in https://github.com/broadinstitute/hellbender/pull/955

[2015-10-07 15:51] #669 closed

[2015-10-07 15:56] droazen commented on #664
Not doing this one

[2015-10-07 15:56] #664 closed

[2015-10-07 16:35] droazen opened #958 "Create URI class for tool inputs/outputs (or use java.nio.file.Path)"
We desperately need a URI abstraction for tool inputs/outputs to enforce that all tools can read/write to/from all supported sources (files, hdfs, and GCS).

[2015-10-07 16:36] droazen commented on #958
This should be used in both spark tools AND walkers, ideally.

[2015-10-07 16:38] droazen opened #959 "Unify data source classes"
Our data source classes are an inconsistent mess -- let's refactor so that we have ONE centralized reads source used by all tools (walkers and spark), one reference source, etc. This will have the side benefit of making it easier for new features like CRAM support to propagate transparently to all tools.

[2015-10-07 16:41] droazen opened #960 "Enforce composability of spark tools"
We need a mechanism to guarantee that all spark tools are written in a way that allows them to be composed into larger pipelines. Currently, we rely on the tool author to extract the core of their tool into a separate method or class that can be called externally, but there is nothing forcing tool authors to do this.

[2015-10-07 16:48] droazen opened #961 "Make it easier to run spark tools"
Spark tools should be just as easy to run as walkers. Users shouldn't have to write a shell script to invoke spark-submit or gcloud, build a special jar and upload it somewhere, log in to a particular machine, etc. Ideally we want something as simple as: `./hellbender ToolName [toolOptions] [sparkOptions]`, and the engine should figure out whether to invoke spark-submit or gcloud and invoke it on

[2015-10-07 16:51] droazen opened #962 "Improve console output when running spark tools"
Currently when running a spark tool we spam the console with lots of useless garbage. Let's suppress this at the default logging level, and instead output a link to the spark monitoring console and/or a progress meter.

[2015-10-07 16:54] droazen commented on #121
This applies to spark too.

[2015-10-07 16:56] droazen opened #963 "Make GCS authentication work without using dataflow options classes"

[2015-10-07 16:56] droazen commented on #963
If possible! This would potentially allow us to remove the entire `com.google.cloud.genomics.dataflow` dependency.

[2015-10-07 16:57] droazen commented on #963
Affects https://github.com/broadinstitute/hellbender/issues/954

[2015-10-07 16:58] droazen opened #964 "Write a wiki / tutorial documenting how to run hellbender on spark"
Using dataproc clusters on GCE, the Broad cluster, local clusters, etc.

[2015-10-07 17:02] droazen opened #965 "Handle reference broadcasting on spark centrally in GATKSparkTool"

[2015-10-07 17:10] droazen commented on #961
Also need to think about an eventual binary distribution

[2015-10-07 17:19] droazen commented on #964
Depends on https://github.com/broadinstitute/hellbender/issues/961

[2015-10-07 17:23] droazen commented on #323
And make sure we have examples for all kinds of walkers.

[2015-10-07 17:28] droazen opened #966 "Test spark tools with cram"
Determine whether spark tools currently work with cram (locally or hdfs).

[2015-10-07 17:30] droazen opened #967 "Check hellbender tool listing / usage page for accuracy"

[2015-10-07 17:31] droazen commented on #618
Almost done in https://github.com/broadinstitute/hellbender/pull/871

[2015-10-07 17:36] droazen commented on #646
Ideally via a query, otherwise via a hardwired list of references.

[2015-10-07 17:39] droazen opened #968 "Actually run all hellbender tools to make sure none are ridiculously slow or broken"

[2015-10-07 17:39] droazen commented on #968
@vdauwera to delegate to somebody

[2015-10-07 17:41] droazen commented on #695
Ask around about how to do QC on BQSR and MarkDupes as part of this

[2015-10-07 17:43] droazen commented on #761
Obsolete

[2015-10-07 17:43] #761 closed

[2015-10-07 17:44] droazen commented on #764
Related to https://github.com/broadinstitute/hellbender/issues/695

[2015-10-07 17:46] droazen opened #969 "Reduce test suite runtime"

[2015-10-07 17:48] droazen commented on #969
Depends on dataflow removal https://github.com/broadinstitute/hellbender/issues/954

[2015-10-07 17:49] droazen commented on #840
Done!

[2015-10-07 17:49] #840 closed

[2015-10-07 17:51] droazen commented on #935
For @laserson or @tomwhite

[2015-10-07 17:56] droazen opened #970 "Port dataflow optimizations to spark"

[2015-10-07 17:56] vdauwera commented on #968
I think there's been a misunderstanding: my team is responsible for Q&As, not QA...

(snark aside, it's fine, we'll do it)

[2015-10-07 17:58] droazen opened #971 "Optimize SOLID lookup in BQSR"

[2015-10-07 18:00] droazen opened #972 "Document how to debug/profile spark hellbender tools"

[2015-10-07 18:01] droazen commented on #972
@laserson or @tomwhite if you could give us some pointers to best-practice docs here, it would be much appreciated!

[2015-10-07 18:06] akiezun commented on #960
Fallback option is to add documentation

[2015-10-07 18:08] akiezun commented on #954
This involved disentangling Spark code from Dataflow code

[2015-10-07 18:08] vdauwera commented on #964
One of you guys is going to have to write a first draft of this. It can be a bullet point list of commands to run or things to check. Then we can massage it into a user-facing doc. But we have to have something to start from.

[2015-10-07 18:11] akiezun commented on #921
involves revup of htsjdk

[2015-10-07 18:12] akiezun commented on #895
dup of #935

[2015-10-07 18:12] #895 closed

[2015-10-07 18:23] vdauwera commented on #418
:+1:

I'm planning to create a separate forum category for people to ask questions in. Eventually there will be docs but we'll have to take it a step at a time.

[2015-10-07 18:40] lbergelson opened #974 "add a progress bar for local walkers"
We should have a progress bar for local walkers.  This can be based on GATK's progress bar

[2015-10-07 19:06] droazen opened #975 "Document how to access spark master page when running hellbender on GCE/dataproc"

[2015-10-07 19:25] droazen commented on #968
This isn't really QA in the rigorous sense -- it's more "make sure nothing is egregiously busted so that we don't embarrass ourselves in alpha"

[2015-10-07 19:28] droazen commented on #968
Also, this should ideally be done after https://github.com/broadinstitute/hellbender/issues/961, https://github.com/broadinstitute/hellbender/issues/959, and https://github.com/broadinstitute/hellbender/issues/958 as a final pre-alpha sanity check, as those tickets (and others) will have a huge effect on consistency across tools.

[2015-10-07 20:16] cmnbroad commented on #766
The output cram is malformed because because the cram writer code in htsjdk assumes it has a reference source for the output, but in this case it doesn't. It throws an NPE when it tries to access the reference bases. We need fixes and to tighten up code in several places in both htsjdk and HB. I'll add/update tickets accordingly.

[2015-10-07 23:03] lbergelson opened #977 "ReadsSparkSinkUnitTest.readsSinkADAMTest fails when rerun"
`ReadsSparkSinkUnitTest.readsSinkADAMTest()` leaves files that it doesn't clean up.

If you run it twice, it fails the second time, because it won't overwrite an existing file.

This should be fixed by automatically deleting the output files.  (It also shouldn't write them to the main hellbender directory in the first place...)

[code]

[2015-10-08 02:31] akiezun commented on #945
adding issue comment to test hipchat integration after rename

[2015-10-08 13:20] tomwhite commented on #961
Spark has a relatively new helper class for programmatic launching that may be handy here: https://spark.apache.org/docs/1.5.0/api/java/org/apache/spark/launcher/package-summary.html

[2015-10-08 13:25] tomwhite commented on #966
[Hadoop-BAM](https://github.com/HadoopGenomics/Hadoop-BAM) doesn't support CRAM, so reading CRAM files from HDFS won't work.

[2015-10-08 13:54] davidadamsphd commented on #961
I've got a demo working with that I'll hand over to Louis today. I was focused on dev work without needing to call `gradle sparkJar`, but it should be easy to modify it to submit the spark jar to somewhere else.

[2015-10-08 14:19] droazen commented on #966
@tomwhite Doesn't Hadoop-BAM rely on htsjdk internally? If so, it should be possible to patch it to work with cram, as htsjdk now has transparent support for cram via the SAMReader interface. But perhaps I am naive...would you be able to look into this?

[2015-10-08 14:21] lbergelson commented on #966
Hadoop-bam is running a very old htsjdk, that doesn't support cram.  There's an old open pull request there htsjdk 1.133, but maybe we could open a 1.40 request.

[2015-10-08 14:25] droazen commented on #966
Yes, let's do that (if it's easy)

[2015-10-08 14:26] lbergelson commented on #966
We should make some contact with the people who run it.  If we're going to rely on their code we need to have some relationship with them.

[2015-10-08 14:38] #945 closed

[2015-10-08 15:07] #946 closed

[2015-10-08 15:50] droazen commented on #954
I have done the disentangling work in https://github.com/broadinstitute/gatk/pull/982

[2015-10-08 16:16] #948 closed

[2015-10-08 17:38] lbergelson opened #983 "Add a createTempDir method that deletes itself on shutdown"
We should have an IOUtils method that creates a temporary directory that gets deleted automatically.  We can probably change the existing createTempDir to do this using deleteRecursivelyOnExit.

[2015-10-08 20:49] droazen opened #986 "Profile/optimize spark tools"
@jean-philippe-martin will be porting his dataflow optimizations to spark as part of https://github.com/broadinstitute/gatk/issues/970, and then going on leave for several weeks. It would be good if @tomwhite and @laserson could advise him over the next week or so as he does this, and then take over the process of optimization after he leaves.

I've created this ticket as a place for @jean-philipp

[2015-10-08 20:50] droazen commented on #986
Assigned to @tomwhite and @laserson (github will only let me put one assignee in, unfortunately).

[2015-10-09 01:03] #452 closed

[2015-10-09 02:39] jean-philippe-martin commented on #738
The arguments reshuflfling may have solved this already. Will have to check post-merge.

[2015-10-09 12:08] tomwhite commented on #986
Sure, happy to help with this.

[2015-10-09 14:48] jean-philippe-martin commented on #986
OK, I pushed my code to #987. It's not merged yet (and it'll have to be to pass all tests), but the BaseRecal tests pass. You can have a look and we can talk about merging (it doesn't have to be via github messages, though. We can meet, or email?)

[2015-10-09 16:13] akiezun commented on #799
@jean-philippe-martin can you provide me with an example input that reproduces the problem? I tried it on a small bam file and it was fine.

[2015-10-09 16:46] jean-philippe-martin commented on #799
@akiezun I think I saw it with the ch20.1m-2m input. I have never tried the Spark path, though, and the Dataflow one is now gone.

In order to reproduce this problem you have to use BaseRecal and ApplyBQSR together without intermediate files, as the ReadsPreprocessingPipeline did with Dataflow (well, did until we figured it didn't work). The equivalent in Spark is called ReadsPipelineSpark, and th

[2015-10-09 16:47] akiezun commented on #799
did you see the same problem on non-dataflow, non-spark BQSR?

[2015-10-09 16:52] jean-philippe-martin commented on #799
As far as I know all the non-Dataflow non-Spark code communicates via files so yes, it has the problem that it is slower than it would be if we removed the file round-trip.

[2015-10-12 02:20] #323 closed

[2015-10-12 20:36] jean-philippe-martin commented on #970
PR #987 is part of this.

[2015-10-12 20:39] jean-philippe-martin commented on #284
@akiezun understanding how to optimize a Spark job can apply to multiple projects, so it doesn't seem right to put this in the readme or wiki of this project. Ideally we'd write an article for a blog or a technical presentation.

[2015-10-13 16:33] #971 closed

[2015-10-13 21:47] jean-philippe-martin commented on #738
The idea behind removing RECAL_TABLE_FILE (now just called -O) was that we may want to call multiple tools from the command line, and have the right thing happen.

The current design, instead, is that we can either call the tools one at a time via the command line, or call the special pipeline command that'll run a curated set of tools together. Because of the way the code's now organized, this sp

[2015-10-13 21:47] #738 closed

[2015-10-14 07:00] WinterLi1993 opened #993 "how to use GATK to call Somatic Indels"
Dear Teacher,
        I saw some website said we can use "IndelsGenotyperV2" to call Somtic Indels ,but I have not find any information about this tool on GATK office site. It has been cancled ??
        I wanna find a better tool to call somatic Indels  to do some cancer research,Expecting your answer !

Java -jar GenomeAnalysisTK.jar -T IndelsGenotyperV2 -l INFO -R hg18.fasta -I:normal Normal.cl

[2015-10-14 07:01] WinterLi1993 commented on #993
@tomwhite

[2015-10-14 07:09] vdauwera commented on #993
Hi @WinterLi1993

The tool you refer to has indeed been canceled. A new tool is being developed; it is called MuTect 2 and will be released soon as part of the next version of GATK. When it is ready, there will be an announcement here: http://gatkforums.broadinstitute.org/

That is also a good place to ask any questions about how to use the tools. This place here is only for questions about the so

[2015-10-14 07:09] #993 closed

[2015-10-14 16:03] droazen opened #994 "Allow variants to be broadcast in AddContextDataToReadSpark"
We currently have support for broadcasting the reference in `AddContextDataToReadSpark` -- the `joinStrategy` parameter controls whether we use `ShuffleJoinReadsWithRefBases` or `BroadcastJoinReadsWithRefBases`. We need the same thing for variants so that we can profile a "broadcast everything except the reads approach" against the manual sharding approach taken in https://github.com/broadinstitut

[2015-10-14 16:04] droazen commented on #994
@tomwhite or @laserson, would one of you be able to take this?

[2015-10-14 16:16] droazen opened #995 "Profile the sharded BQSR against the broadcast BQSR on spark"
As mentioned in the discussion for https://github.com/broadinstitute/gatk/pull/987, we want to compare the manual sharding approach taken to optimizing BQSR in that branch against an alternative approach of broadcasting the reference and variants. The latter approach would be simpler and more flexible/idiomatic (allow spark to handle sharding and data localization rather than doing it manually), b

[2015-10-14 16:17] droazen commented on #995
Depends on both https://github.com/broadinstitute/gatk/issues/994 and the merge of https://github.com/broadinstitute/gatk/pull/987

[2015-10-14 16:19] droazen commented on #995
Assigning to @akiezun as discussed in person

[2015-10-14 16:40] akiezun commented on #799
i was not able to reproduce on stand-alone BQSR. I wonder if it's caused by the combine. What input can I use to reproduce the problem?

[2015-10-14 16:48] akiezun commented on #967
depends on  #418 (the review should be of all arguments printed by the tool, not just the tool's description)

[2015-10-14 17:48] cmnbroad commented on #921
Closed via #988.

[2015-10-14 17:48] #921 closed

[2015-10-14 20:17] jean-philippe-martin commented on #799
(answered via chat; please ping me again if still unclear)

[2015-10-15 01:03] WinterLi1993 commented on #993
OK，thank you !

[2015-10-15 03:11] akiezun commented on #623
@cmnbroad can you include the pr number here?

[2015-10-15 12:11] cmnbroad commented on #623
The htsjdk PR is [#317](https://github.com/samtools/htsjdk/pull/317). We'll also need a small change in gatk once we have the new htsjdk version.

[2015-10-15 12:20] cmnbroad commented on #903
The changes in htsjdk are in [PR 327](https://github.com/samtools/htsjdk/pull/327). We'll most likely need some changes in gatk as well depending on the resolution to #900.

[2015-10-15 14:53] akiezun commented on #799
Commandline that JP uses:
[code]

[2015-10-15 14:53] akiezun commented on #799
@droazen is it the case that `ReadsPipelineSpark` has this issue? It does not save the report before applying it.

[2015-10-15 16:42] cmnbroad commented on #966
I don't think just upgrading htsjdk will be enough - cram files don't work with Hellbender spark tools, even with Hadoop-BAM using the current htsjdk. It looks like there is at least some code in Hadoop-BAM that explicitly recognizes SAM/BAM (like [this](https://github.com/cmnbroad/Hadoop-BAM/blob/master/src/main/java/org/seqdoop/hadoop_bam/AnySAMInputFormat.java#L184) for one example).

[2015-10-15 17:01] davidadamsphd commented on #975
I've gotten this to work with an internal GCE project (I haven't successfully tested with broad-dsde-dev because of firewall rules). However, it should look like this using bdutil.

[code]
which is just a wrapper around
[code]
and a few other commands.

After the proxy has started, you need to open up Chrome with the proxy:
[code]
That'll open up the master page.

If you have any funky IP address/

[2015-10-15 17:08] droazen commented on #975
Completely and utterly gross, but I guess it's the best we've got for now. How about adding a page to the github wiki, and linking to it from the README?

[2015-10-15 17:12] droazen commented on #975
Would also be good to identify what changes we'd need to make to the `broad-dsde-dev` firewall config to make this work there so that we can file a request with IT.

[2015-10-15 17:26] davidadamsphd commented on #975
Will do (for all points).

As an FYI: here is the main doc page for this feature (it's not what I used though)
https://cloud.google.com/dataproc/cluster-web-interfaces

[2015-10-15 18:34] akiezun opened #999 "CollectQualityYieldMetrics in Spark"
the requirement is to implement CollectQualityYieldMetrics in gatk using spark and have the output match the picard output.

[2015-10-15 18:39] akiezun opened #1000 "CollectBaseDistributionByCycle in Spark"
implement CollectBaseDistributionByCycle in spark and match the results from Picard.

should be straightforward - mimic the structure from MeanQualityByCycleSpark

[2015-10-15 18:56] akiezun opened #1001 "CollectAlignmentSummaryMetrics in Spark"
requirement is to implement this metric in Spark and match the picard output.

No trivial because it uses a multilevel collector

[2015-10-15 19:20] jean-philippe-martin commented on #799
For reference, here is how I reproduced the bug with the Dataflow version.

Add the following lines in BaseRecalibratorOptimizedTransform.addQuantizationInfo (just above the comment linking to this issue):
[code]
Then run it like this (you may have to provide your own paths):
[code]

I could get it to trigger with the 2Mbp input, but not with the 1Mbp.

[2015-10-15 23:08] jean-philippe-martin opened #1002 "Migrate from GATKGCSOptions to AuthHolder"
We use the GATKGCSOptions class to hold GCP authentication. It inherits from the Dataflow hierarchy and works well there, but since it doesn't implement Serializable it's cumbersome to work with in Spark.

We've created AuthHolder as a replacement. It can do all the things GATKGCSOptions can do, and more  (well, except for holding Dataflow debug options but we don't need that anymore).

Once #978

[2015-10-16 03:11] WinterLi1993 opened #1003 "how to use GATK to call Somatic Indels"
HI，Author，@jean-philippe-martin
    I find gatk older verison 1.6 have SomaticIndelDetector tool to call Somatic Indel . Am i right ?
And can you give me some usage information to tell me how to use it ?
I have tumor-normal paired bam files, I wanna use your GATK to call somatic Indel.

thank you very much !

[2015-10-16 03:42] akiezun commented on #1003
The tool you refer to has indeed been canceled. A new tool is being developed; it is called MuTect 2 and will be released soon as part of the next version of GATK. When it is ready, there will be an announcement here: http://gatkforums.broadinstitute.org/

That is also a good place to ask any questions about how to use the tools. This place here is only for questions about the software code of the

[2015-10-16 03:42] #1003 closed

[2015-10-16 11:43] tomwhite commented on #994
I've opened PR #1004 for this. Would you like to take a look @droazen? I haven't tried this on a cluster, but I guess you can run it side-by-side with JP's optimization.

[2015-10-16 14:12] droazen commented on #994
Thanks, that was fast! I'll have a look at the PR in a bit.

[2015-10-16 14:54] davidadamsphd opened #1005 "MarkDuplicatesSpark produces unreadable BAM"
MarkDuplicatesSpark runs successfully, but the (sharded) BAM cannot be loaded using ReadsSparkSource (with your fix to getHeader).

I don't think this is a problem with HadoopBam because I'm able to run the same input through SortBamSpark and the output can be read.

The input is from JP's bucket
`gs://jpmartin/hellbender-test-inputs/CEUTrio.HiSeq.WGS.b37.ch1.1m-65m.NA12878.bam`
but copied to hdfs

[2015-10-16 14:57] davidadamsphd commented on #1005
Stack trace, not so useful...
[code]

[2015-10-16 15:52] akiezun commented on #970
is there more to do here or is this ok to close?

[2015-10-16 15:54] tomwhite commented on #1005
I'm not able to access a cluster to test this on right now, however I wonder if it's something to do with the sort order declared in the BAM header. MarkDuplicatesSpark uses the same header for the output as the input, and doesn't change the sort order attribute, unlike SortBamSpark. Does setting it to unsorted help?

Have you been able to reproduce this on smaller inputs? I noticed that we don't

[2015-10-16 16:07] droazen opened #1006 "Fix performance regression in BaseRecalibratorSparkOptimized"
@jean-philippe-martin noticed that the performance of his optimized version of spark BQSR took a nosedive during one of the rebases of his branch. Since he's on leave, one of us will have to profile it in order to find out what the bottleneck is and submit a patch. This is a prerequisite to being able to do the broadcast vs. manual sharding comparison called for in https://github.com/broadinstitut

[2015-10-16 16:08] droazen commented on #1006
Giving this one to @akiezun (since he has https://github.com/broadinstitute/gatk/issues/995), but feel free to re-assign if you are swamped.

[2015-10-16 16:08] jean-philippe-martin commented on #970
ApplyBQSR's next, and then we can close.

[2015-10-16 16:08] droazen commented on #970
There is more to do here, actually -- but I've spun it out into a separate ticket (https://github.com/broadinstitute/gatk/issues/1006).

[2015-10-16 16:17] droazen commented on #970
@jean-philippe-martin I think we should do the comparison in https://github.com/broadinstitute/gatk/issues/995 before porting the ApplyBQSR optimizations, actually. If it turns out that we decide to go with the simpler broadcast approach we'd then need to figure out how the dataflow ApplyBQSR changes fit in. So it probably makes sense to spin out a separate ticket for the ApplyBQSR changes and clo

[2015-10-16 16:32] droazen opened #1007 "Determine whether AddContextDataToReadSparkSharded could use a spark custom partitioner"
Currently `AddContextDataToReadSparkOptimized` avoids shuffles by doing its own sharding. This introduces a lot of additional complexity, and doesn't leverage the built-in support for sharding in spark. During a discussion today it came up that this code could potentially be made more idiomatic/spark-friendly by using a custom partitioner. Let's investigate whether this is possible and how easy a

[2015-10-16 16:32] jean-philippe-martin commented on #970
OK, sure, I can wait.

[2015-10-16 16:35] droazen commented on #1007
@tomwhite or @laserson, would one of you have time to look into this?

[2015-10-16 16:44] droazen opened #1008 "Potentially port ApplyBQSR optimizations from dataflow to spark"
There are some un-ported optimizations to ApplyBQSR from the dataflow codebase that could be ported to spark. First, however, we need to settle the "broadcast vs. custom sharding" question raised in https://github.com/broadinstitute/gatk/issues/995 before we can evaluate how these ApplyBQSR optimizations apply to the final spark version of BQSR (and if they are still applicable at all).

[2015-10-16 16:45] droazen commented on #1008
To be done after the issue in https://github.com/broadinstitute/gatk/issues/995 is settled.

[2015-10-16 16:46] droazen commented on #970
Ok, all remaining pieces of this ticket have been spun out into sub-tickets. Closing!

[2015-10-16 16:46] #970 closed

[2015-10-16 17:03] davidadamsphd commented on #1005
I'm not sure it's sort-order related because I've run the exact same thing on a smaller BAM: CEUTrio.HiSeq.WGS.b37.ch20.4m-16m.NA12878.bam (subset of a larger original BAM) and it runs fine. If I had to guess there is a section of the larger BAM that's causing `MarkDuplicatesSpark` to make a malformed `SAMRecord`.

[2015-10-16 18:56] akiezun commented on #1002
@lbergelson is the auth authority here

[2015-10-16 20:29] akiezun commented on #1006
so the request here is to trace back a slowdown in code that that used to be fast before merge and got slow after the merge? Ie the master version was never fast?

[2015-10-16 21:11] droazen commented on #977
Looks like the test in question does call `deleteOnExit()`, but fails because the output is a directory. Would calling `Utils.deleteRecursivelyOnExit()` instead fix this?

[2015-10-16 21:24] droazen commented on #1006
It got slow after the big rebase before the branch was code reviewed, I believe. Some dependent class may have been changed in a way that adversely affected the optimized BQSR.

[2015-10-16 22:18] jean-philippe-martin commented on #799
OK, here is how to see the problem. BaseRecalibratorSpark has the workaround in place (write report, read it back in). I changed it to print the difference between the original RecalibrationTable and the post-workaround RecalibrationTable in the report.

The results for the 1m-1m1k input show (edited to fit):
[code]

This means that about 2% of the entries in RecalibrationTables had the wrong valu

[2015-10-16 22:32] jean-philippe-martin commented on #799
Just for fun I tried rounding the number, but that didn't seem to have any impact.

[2015-10-17 03:07] akiezun commented on #1001
dup of #389

[2015-10-17 03:07] #1001 closed

[2015-10-17 03:07] akiezun commented on #397
dup of #1000

[2015-10-17 03:07] #397 closed

[2015-10-17 03:08] akiezun commented on #399
dup of #999

[2015-10-17 03:08] #399 closed

[2015-10-17 03:12] akiezun opened #1012 "CollectInsertSizeMetrics in Spark"
the goal is to reproduce the results from Picard.

[2015-10-19 15:57] droazen opened #1015 "Make writing a single bam file in spark faster"
`ReadsSparkSink.writeReadsSingle()` is unusably slow (even for small ouputs like a 200MB bam). We suspect this is due to its approach of calling `coalesce(1)`:

        final JavaPairRDD<GATKRead, SAMRecordWritable> out =
                rddSamRecordWriteable.sortByKey(new ReadCoordinateComparator(header)).coalesce(1);

We need to make it much faster in order to be able to use it in practice.

[2015-10-19 15:58] droazen commented on #1015
@tomwhite or @laserson, could one of you take this?

[2015-10-19 16:02] droazen opened #1016 "Write a programming guide for hellbender once the tool API stabilizes"

[2015-10-19 16:03] tomwhite commented on #1005
I have managed to reproduce this and have narrowed it down to single file with the problem. Now I need to see what's wrong with the file.

[2015-10-19 16:46] akiezun opened #1017 "BQSR Spark integration tests use incorrect list of variants"
BQSR tests in spark use a bam file and dbSNP file that are non-corresponding (coming from different chromosomes).

"CEUTrio.HiSeq.WGS.b37.ch20.1m-1m1k.NA12878.bam";
"dbsnp_132.b37.excluding_sites_after_129.chr17_69k_70k.vcf";

the same tests in non-spark use properly matched bam and vcf file

[2015-10-19 17:04] tomwhite commented on #1015
Sure. I think this is a dup of https://github.com/broadinstitute/gatk/issues/940

[2015-10-19 17:04] davidadamsphd commented on #1005
Woo! Thanks for the update.

[2015-10-19 18:43] akiezun commented on #799
reproduced.
Summary of big diffs I get (count expectedVal actualVal)
[code]

Top 10 of all diffs (count expectedVal actualVal):
[code]

So it seems to be a rounding issue when rounding to 2 decimal places I think.

[2015-10-19 19:25] droazen commented on #940
Dupe of https://github.com/broadinstitute/gatk/issues/1015 -- closing

[2015-10-19 19:25] #940 closed

[2015-10-19 19:26] droazen commented on #1015
From @akiezun: "I tested on a 30Gb file, trying to write to HDFS. It wrote more than 1.4 TB to disk and took hours to complete."

[2015-10-19 19:59] droazen commented on #1006
Our initial tests show the optimized version to be ~2x faster than the unoptimized version, which is much less of a gain than JP was initially seeing.

One issue we've identified so far is that the custom sharding code is not written in a way that is aware of the way spark is actually partitioning the RDDs, so it's very easy to end up with all the work in a small number of partitions and/or a disp

[2015-10-20 00:40] davidadamsphd commented on #963
This has partially been handled by JP already :) with his `AuthHolder` class. The only missing piece is removing our dependance on `GCSOptions.Methods.createGCSAuth(options)` by instead calling the create auth stuff directly.

[2015-10-20 01:53] akiezun commented on #799
confirmed that this is the rounding to 2 decimal places issue. All numbers are exactly the same after rounding to 2 decimal places. Adding the following code to `BaseRecalibratorSparkFn`:

[code]

gives:
[code]

[2015-10-20 03:08] #947 closed

[2015-10-20 08:53] tomwhite commented on #1005
Another update. It looks like the problem lies in Hadoop-BAM, in the part of the code that looks for the start of records in the BGZF block compressed file. If BAM files have an index (produced by SplittingBAMIndexer) then it will use them, but if not, then it uses BAMSplitGuesser for heuristically finding the start of a record. In this case it is trying to find the first record, but it gets the w

[2015-10-20 09:04] tomwhite commented on #1005
Looks like it might be due to the change in htsjdk from 1.131 to 1.140.

[2015-10-20 13:23] davidadamsphd commented on #1005
Great detective work!

Hadoop-BAM appears to still be an active-ish project, it's worth telling them we found a bug and have a BAM that can reproduce the problem. Hopefully, they can pick it up and fix it quickly (if not we can fix it).

However, in even in the best case they still need to go another cut for us to get the fix.
Two things:
+ (long shot) is it fixed in `org.seqdoop:hadoop-bam:7.2.0`

[2015-10-20 13:38] tomwhite commented on #1005
I'll report this to the Hadoop-BAM and try to get a fix implemented. I haven't got time today but will take another look tomorrow.

I agree that writing an index for each shard would be good to do anyway. Note that the index is a special Hadoop-BAM index. I wonder if there's any way to write out the index as a side file while writing out the shards (so that the BAM doesn't need to be re-read). At

[2015-10-20 13:45] cmnbroad commented on #1005
FWIW, it looks like BAMSplitGuesser can be run manually from the command line (at least, it has a static main which takes command line args), which might speed up the debugging. Also, in HB, we're currently excluding htsjdk from the Hadoop-BAM dependency, so I think in HB, Hadoop-BAM is running with the htsjdk we're providing (1.140) which is a bit ahead of what it's expecting. It might be worth t

[2015-10-20 16:37] #977 closed

[2015-10-20 19:04] #994 closed

[2015-10-20 20:16] droazen opened #1024 "Lexicographic ordering check should not be performed on variant sequence dictionaries"
As reported by @eitanbanks

[2015-10-20 20:23] akiezun commented on #799
the approach we're taking will be to implement in-memory rounding

[2015-10-20 20:25] droazen commented on #974
Stretch goal for alpha :)

[2015-10-20 20:26] akiezun commented on #974
AFAIK the GATK3 one used multithreading etc. Can we do a simple one just for readwalkers that does not use multithreading?

[2015-10-20 20:42] droazen commented on #974
I think we could -- printing the number of records processed would be trivial.

[2015-10-21 00:11] akiezun commented on #974
yup, number of records plus position of the last read. Just print every 10000th read or something.

So the same for variant walker, and interval walker and we're good.

[2015-10-21 00:24] davidadamsphd opened #1025 "Can't write Metrics files to gcs"
It looks like it only works with NFS.
It's easy to reproduce using MarkDuplicatesSpark.

[2015-10-21 00:25] davidadamsphd opened #1026 "Can't write Metrics files to HDFS"
Writing metrics only works with NFS.
This is easy to reproduce with MakeDuplicatesSpark.

[2015-10-21 00:30] davidadamsphd commented on #1025
I think this snippet (from Adam) is what we want (after checking that the URI starts with gs://
[code]
This same pattern should also work for HDFS (#1026)

[2015-10-21 02:18] akiezun opened #1027 "extract common code for spark metrics"
a few metrics that are spark equivalents of SinglePassSamProgram should perhaps have a common superclass with common functionality to avoid code duplication (or the duplication should be achieved in another way). For example the read filter that gets applied is very similar from tool to tool.

[2015-10-21 02:50] #1000 closed

[2015-10-21 03:27] #712 closed

[2015-10-21 14:05] akiezun opened #1029 "BaseRecalibrator should complain if knownSites and the reference have incompatible contigs"
If I run BaseRecalibrator on a reference with contigs [20,21] and knownSites only has  only sites from 17, then GATK3 blows up:
[code]

but gatk4 does not (and it should). This is the cause of the bogus tests in #1017 (they should have never been allowed to exist).

The commandline for GATK3 is
(the VCF has no sequence dictionary)
[code]

[2015-10-21 15:42] akiezun opened #1030 "BareRecalibrator results different from GATK3.4"
this commandline
[code]

makes a different table than
[code]

[2015-10-21 15:46] akiezun commented on #1030
phew, it's just sorting

[2015-10-21 15:52] akiezun commented on #1030
solved by adding --sort_by_all_columns
Added a test to make sure it stays correct

[2015-10-21 15:52] #1030 closed

[2015-10-21 17:13] tomwhite commented on #1005
I've submitted a PR to Hadoop-BAM. Note that the problem is not due to a change in htsjdk as I incorrectly stated above. It is because the heuristics that BAMSplitGuesser uses are too weak to reject an incorrect candidate BAM record start position.

[2015-10-21 18:07] davidadamsphd commented on #1005
Sweet!
And now to wait for the review.

[2015-10-21 19:39] akiezun opened #1032 "profile and optimize BaseRecalibrator"
the goal is to be at least same as gatk3.4 on single thread. This is for the walker version of the tool.
The ticket can be split into a) profile and b) optimize if needed

[2015-10-21 19:41] akiezun opened #1033 "profile and optimize ApplyBQSR"
the goal is to be at least same as gatk3.4 on single thread. This is for the walker version of the tool.
The ticket can be split into a) profile and b) optimize if needed

[2015-10-21 19:41] droazen commented on #1032
@lbergelson and I will take the BQSR profiling

[2015-10-21 19:43] akiezun opened #1034 "Profile and optimize simple read walkers: PrintReads, CountReads"
the goal is to be at least same as gatk3.4 on single thread. This is for the walker version of the tools.
The ticket can be split into a) profile and b) optimize if needed

The reason to do this is to see if the engine itself adds any overhead.

Need to tests on NFS as well as on local drive

[2015-10-21 19:44] akiezun opened #1035 "Profile and optimize VariantFiltration"
the goal is to be at least same as gatk3.4 on single thread. This is for the walker version of the tools.
The ticket can be split into a) profile and b) optimize if needed

[2015-10-21 19:49] akiezun opened #1036 "profile and optimize simple variant walkers: CountVariants"
the goal is to be at least same as gatk3.4 on single thread. This is for the walker version of the tool.
The ticket can be split into a) profile and b) optimize if needed

Note: the GATK3.4 version is called CountRODs

The reason to do this is to see if the engine itself adds any overhead.

[2015-10-21 19:51] akiezun commented on #1032
do you want to grab #1033 too?

[2015-10-21 20:25] akiezun commented on #1034
Case 1: CountReads vs CountRODs
file `/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf` (size 1.9Gb)

running on Mac laptop
52 seconds on Version:4.pre-alpha-41-ge1cafbb-SNAPSHOT (consistent over 3 runs)
56-59 seconds on Version 3.4-46-gbc02625

[2015-10-21 23:38] laserson commented on #972
cc @sryza for any pointers.  I'll start with Sandy's excellent two blog posts on tuning Spark jobs if you haven't seen them already:
http://blog.cloudera.com/blog/2015/03/how-to-tune-your-apache-spark-jobs-part-1/
http://blog.cloudera.com/blog/2015/03/how-to-tune-your-apache-spark-jobs-part-2/

[2015-10-22 01:37] akiezun commented on #855
is this done?

[2015-10-22 01:37] akiezun commented on #896
I;d like this for alpha

[2015-10-22 01:52] laserson commented on #855
.2bit broadcast should be working at least in BQSR.  I'm not sure the intended scope of this issue.  Looks like fasta broadcasting was also implemented.

[2015-10-22 02:22] #999 closed

[2015-10-22 02:50] akiezun commented on #1035
Case 1: VariantFiltration (`-filter 'DP > 100'`)
file `/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf` (1.9 Gb)

running on Mac laptop with SSD. Mac OS X 10.9.5 x86_64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_25-b17.
103-128 (3 runs) seconds on GATK 3.4-46-gbc02625
92-115 (3 runs) seconds on GATK 4.pre-alpha-41-ge1cafbb-SNAPSHOT

[2015-10-22 02:55] akiezun commented on #1036
Case 1: CountVariants vs CountRODs
file /humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf (size 1.9Gb)

running on Mac laptop
52 seconds on Version:4.pre-alpha-41-ge1cafbb-SNAPSHOT (consistent over 3 runs)
56-59 seconds on Version 3.4-46-gbc02625

[2015-10-22 02:56] akiezun commented on #1036
Case 2: PrintVariants vs PrintRODs
file `/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf` (size 1.9Gb)

[2015-10-22 13:50] davidadamsphd commented on #855
I think we also want to have broadcast working for fasta files (not sure if it works).

[2015-10-22 14:26] akiezun commented on #1036
on profiling, it's clear that the engine add almost no overhead on top of htsjdk iterators - see screenshot from jprofiler
![image](https://cloud.githubusercontent.com/assets/1993519/10667806/52a4f7e6-78a7-11e5-9ad2-b11d97d4647f.png)

[2015-10-22 14:30] akiezun commented on #1036
closing this as resolved. We win and there's no obvious badness in the profile.

[2015-10-22 14:46] akiezun commented on #1035
Here's a profile. It's clear that all time goes into reading and writing and almost no overhead comes from the engine. Closing this - we win and no obvious problems in the profile.
![image](https://cloud.githubusercontent.com/assets/1993519/10668338/da596c10-78a9-11e5-8aa0-b6c0ceddad08.png)

[2015-10-22 16:04] akiezun commented on #679
This issue was moved to broadinstitute/gatk-dataflow#37

[2015-10-22 16:04] #679 closed

[2015-10-22 16:07] akiezun commented on #650
This issue was moved to broadinstitute/gatk-dataflow#38

[2015-10-22 16:07] #650 closed

[2015-10-22 16:15] akiezun opened #1038 "implement per-target coverage collection in spark"
It should be able to optionally split by read group or library or sample

[2015-10-22 16:17] akiezun opened #1039 "CollectWGSMetrics in Spark"
goal is to reproduce results from Picard

[2015-10-22 16:25] akiezun opened #1040 "Port native pairHMM on AVX from GATK3"
The requirements are:
- we need full source code in the repository and buildable from gradle and with unit tests
- all versions of the code, native or not, must produce exactly the same results every time and we much have tests that check that.

[2015-10-22 18:45] droazen commented on #975
This one is done!

[2015-10-22 18:45] #975 closed

[2015-10-22 18:46] droazen commented on #646
Re-assigning to @akiezun, since he's out of work

[2015-10-22 19:29] davidadamsphd opened #1042 "Fix three remaining broken optical duplicate tests"
The tests are:
- [x] `testOpticalDuplicateClusterSamePositionNoOpticalDuplicates`
- [x] `testOpticalDuplicateClusterSamePositionNoOpticalDuplicatesWithinPixelDistance`
- [x] `testStackOverFlowPairSetSwap`
in `MarkDuplicatesSparkIntegrationTest`

[2015-10-22 19:45] #610 closed

[2015-10-22 19:54] lbergelson commented on #1042
I suspect that many of the recently reactivated tests aren't so much fixed as they are temporarily avoided.  I think the ones that were disabled due to problems with unmapped reads will still have problems if we read from gcs since that still removes unmapped reads I think.

[2015-10-22 20:17] #974 closed

[2015-10-22 22:18] lbergelson opened #1045 "MarkDuplicates metrics do not exactly match Picard"
Currently they leave out values that have all 0's.  The formatting is different, and the sorting is different.

[code]
produces
[code]

The equivalent hellbender command

[code]
produces

[code]

[2015-10-22 22:19] lbergelson commented on #1045
The spark version doesn't include the headers at all.

[2015-10-22 22:42] lbergelson commented on #952
I haven't been able to reproduce @vdauwera error, but there are issues with the https checkout at the moment.
There's one annoying issue witwhere it will prompt for a password before every individual file download.  This will be fixed in https://github.com/github/git-lfs/issues/755.  It can be worked around by using `git config credential.helper cache` but the easiest thing to do at the moment is

[2015-10-23 02:22] akiezun commented on #1034
Case 1: CountReads

file CEUTrio.HiSeq.WEx.b37.NA12892.chr20.bam (chr20 from the gatk bundle) - size 645M

Mac OS X 10.9.5 x86_64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_25-b17
file on local SSD
30 seconds (3 runs) GATK v3.4-46-gbc02625
15-17 seconds (3 runs) GATK-4.pre-alpha-51-ge098c21

Note: GATK3 uses at least 3 threads and consumes more resources than wall-clock time indicates, eg:
[code]

G

[2015-10-23 02:37] akiezun commented on #1034
Profile of CountReads (gatk4) on the small bam file (645Mb)

Time goes to htsjdk iterators and read filters.

![image](https://cloud.githubusercontent.com/assets/1993519/10683195/559262d4-790d-11e5-8cfc-00e1ebc7a657.png)

[2015-10-23 02:41] akiezun commented on #1034
Very similar profile for a 3.1Gb file
![image](https://cloud.githubusercontent.com/assets/1993519/10683265/11cff9de-790e-11e5-8d6b-8ec78334789f.png)

[2015-10-23 02:56] akiezun commented on #1034
Case 2: PrintReads
file CEUTrio.HiSeq.WEx.b37.NA12892.chr20.bam (chr20 from the gatk bundle) - size 645M

Mac OS X 10.9.5 x86_64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_25-b17
file on local SSD
100-108 seconds (3 runs) GATK v3.4-46-gbc02625
78 seconds (3 runs) GATK-4.pre-alpha-51-ge098c21

GATK3 times from unix time command:
[code]

GATK4 time command:
[code]

[2015-10-23 03:03] akiezun commented on #1034
PrintReads profile on the 646Mb file
time goes to reading (13%), writing (76%) and readfilter (7%).

![image](https://cloud.githubusercontent.com/assets/1993519/10683535/f568cf7a-7910-11e5-9500-a0ac894e57b6.png)

[2015-10-23 14:10] droazen opened #1046 "Profile GATK4 walkers using inputs over NFS"
Profiling walkers using inputs from NFS filesystems could alter the profile of GATK4 vs. GATK3, as differences in the number of times we go to disk could be magnified by the slowness of NFS.

Task is to choose a representative set of walkers (one that takes reads, one that takes variants, and one that takes reads + a side input like -knownSites in BQSR that will trigger queries) and see if the pro

[2015-10-23 14:11] droazen commented on #1046
For @akiezun

[2015-10-23 14:16] droazen opened #1047 "Profile the Spark local runner"
What kind of performance do we get when we run Spark tools locally compared to both the walker versions and the GATK3 versions? We should test apples-to-apples first (1 core for Spark), then test multithreaded Spark vs. single-threaded walkers. Should also use fairly large inputs.

@lbergelson 's initial tests on the Spark BQSR show that with 1 or 2 threads the Spark version is unusably slow local

[2015-10-23 14:17] droazen commented on #1047
For @davidadamsphd when you get tired of validation tickets (if you don't have the bandwidth for this one, feel free to re-assign).

[2015-10-23 14:18] droazen commented on #1047
@tomwhite and @laserson could you also help out with this one?

[2015-10-23 15:10] #672 closed

[2015-10-23 15:39] droazen commented on #1046
I will take the BQSR part of this ticket

[2015-10-23 18:03] droazen commented on #1032
Some initial results:

Using the following inputs:

    Reference: `/seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta`
    Bam: `/humgen/gsa-hpprojects/NA12878Collection/bams/CEUTrio.HiSeq.WGS.b37.NA12878.bam` (~350GB)
    Known Sites: `/humgen/gsa-hpprojects/dev/droazen/dbsnp_135.b37.excluding_sites_after_129.vcf` (~2 GB)

Running BQSR on the interval `1:10000000-20000000`,

[2015-10-23 18:03] droazen commented on #1046
BQSR results over NFS are in a comment to https://github.com/broadinstitute/gatk/issues/1032

[2015-10-23 18:10] akiezun commented on #1033
Case1:
chr10 of CEUTrio.HiSeq.WEx.b37.NA12892.bam from the gatk bundle, size 1.2Gb

running on Mac OS X 10.9.5 x86_64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_25-b17, local SSD

11.30 min GATK v3.4-46-gbc02625
9 min GATK4 .pre-alpha-51-ge098c21

time for GATK3
[code]

gatk4
[code]

[2015-10-23 18:12] droazen commented on #1032
The Feature caching does not appear to be the culprit, as with the Feature cache size increased from 1000 bases to 10000 bases, hellbender still took `12m29.527s` on the  `1:1-20000000` interval.

[2015-10-23 18:16] droazen commented on #1033
Can you repeat this same test over an NFS filesystem from a Broad server?

[2015-10-23 18:44] droazen commented on #1032
Next I set out to determine whether hellbender is slowing down on the larger interval simply because there is more data / a longer traversal, or because it's slower at processing the `1:1-10000000` interval than the `1:10000000-20000000` interval. And surprisingly, it appears that the latter is the case:

Time to process the `1:1-10000000` interval across two runs:

    GATK3: 5m25.983s  5m31.913s

[2015-10-23 20:31] akiezun commented on #1046
I'm going to close this because it's a dup of the others. everyone should test on NFS i guess

[2015-10-23 20:31] #1046 closed

[2015-10-23 20:32] akiezun commented on #1035
reopen - will look at NFS too

[2015-10-23 20:32] akiezun commented on #1036
reopen - will include NFS too

[2015-10-23 23:10] laserson commented on #1007
I'll take a look at this next week.

[2015-10-24 04:56] akiezun commented on #1036
Case2: running on NFS.
vcfFile `/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf ` (size 1.9Gb)
reference `/seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta`

Running on the dataflow01 host: Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132.

67-69 seconds (3 runs) GATK v3.4-46-gbc02625
40-41 seconds

[2015-10-24 05:24] akiezun commented on #1036
case 3: bigger file on NFS
file `/humgen/gsa-hpprojects/GATK/bundle/current/b37/dbsnp_138.b37.vcf` (10Gb)
ref `/seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta`

Running on the dataflow01 host: Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132.
6 minutes (2 runs) GATK v3.4-46-gbc02625
4.1 (2 runs) minutes GATK 4.pre-alpha-45-g168cd60

examp

[2015-10-24 05:26] akiezun commented on #1036
resolved

[2015-10-24 05:26] #1036 closed

[2015-10-24 05:57] akiezun commented on #1035
case 2 file on NFS
`/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf` 1.9Gb
ref `/seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta`

Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132.
**2.9 - 3** minutes (2 runs) v3.4-46-gbc02625
**2.2** minutes (2 runs) GATK 4.pre-alpha-45-g168cd60

time GATK3
[code

[2015-10-24 06:00] akiezun commented on #1035
resolving

[2015-10-24 06:00] #1035 closed

[2015-10-24 06:26] akiezun commented on #1034
case 3: CountReads on NFS

Reference: `/seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta`
Bam: `/humgen/gsa-hpprojects/NA12878Collection/bams/CEUTrio.HiSeq.WGS.b37.NA12878.bam`(~350GB)
interval 1:1-20000000

Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

**82-85** seconds GATK v3.4-46-gbc02625
**67-68** seconds GATK 4.pre-alpha-45-g168cd

[2015-10-24 07:02] akiezun commented on #1034
case 4 CountReads on NFS (bigger region)

Reference: /seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta
Bam: /humgen/gsa-hpprojects/NA12878Collection/bams/CEUTrio.HiSeq.WGS.b37.NA12878.bam(~350GB)
interval 1:1-100000000

Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

**7.5-7.6** (2 runs) minutes GATK 3.4-46-gbc02625
**5-6.1** (2 runs) min

[2015-10-24 07:30] akiezun commented on #1034
case 4 CountReads on NFS (bigger region)
bam `/humgen/gsa-hpprojects/NA12878Collection/bams/CEUTrio.HiSeq.WGS.b37.NA12878.bam`
ref `/seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta`
interval `1:1-20000000`

Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

**5.8** (2 runs) minutes GATK 3.4-46-gbc02625
**5.6-5.7** (2 runs) minutes GATK4.pre

[2015-10-24 07:32] akiezun commented on #1034
resolving

[2015-10-24 07:32] #1034 closed

[2015-10-26 03:14] akiezun opened #1049 "restructure the Readme to make more useful for users"
the dev-oriented material such as coding conventions etc should be moved to a separate wiki page.
The main readme should have examples of how to install it, how to validate the installation and how run it locally, on spark cluster and on the cloud.

Candidate for alpha

[2015-10-26 03:21] akiezun commented on #1033
case 2, on NFS
ref `/humgen/1kg/reference/human_g1k_v37.fasta`
bam `/xchip/cga_home/akiezun/data/CEUTrio.HiSeq.WEx.b37.NA12892.chr10.bam --BQSR` (1.9Gb)

Running on host dataflow01
Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132.

12.47 minutes GATK v3.4-46-gbc02625
11.8 minutes GATK 4.pre-alpha-45-g168cd60

gatk3 time
[code]

gatk4 time
[code]

[2015-10-26 03:21] #1033 closed

[2015-10-26 18:20] lbergelson opened #1051 "Add documentation about gsutil and gcloudto README"
Currently we have a dependency on having gcloud and gsutil installed and configured in a certain way, but we don't have any documentation about it.

We're getting authentication partially from gcloud auth login, which is being propagated in a way I don't fully understand through the dataflow pipeline options.

We need to understand exactly what's happening and then write an explanation of what a u

[2015-10-27 13:46] akiezun opened #1055 "write a 'how to contribute' doc"
could be based on/inspired by this https://parquet.apache.org/contribute/

alpha candidate

[2015-10-27 14:12] davidadamsphd commented on #1005
This was fixed by #1054. Thanks for tracking that down Tom!

[2015-10-27 14:12] #1005 closed

[2015-10-27 14:27] akiezun commented on #698
what should the result be? blow up or truncated answer?

[2015-10-27 14:32] akiezun commented on #698
IndexedFastaSequenceFile will blow up with SAMException.
CachingIndexedFastaSequenceFile will also blow up the same way
HadoopReferenceSequenceFileFactory : same

InMemoryReferenceSequenceFile will blow up with ArrayIndexOutOfBoundsException

so i guess the answer it: it should blow up (but the exception is somewhat arbitrary)

[2015-10-27 14:49] #810 closed

[2015-10-27 19:15] droazen commented on #1015
@tomwhite Have you had any time to look into this one? This is a pretty high priority to fix for alpha

[2015-10-27 19:22] droazen opened #1056 "Rip out the indel recalibration code from BaseRecalibrationEngine"
After doing this, do another comparison run against GATK3 BQSR to see how much eliminating this code bought us in terms of performance.

[2015-10-27 21:47] laserson commented on #896
@akiezun How big a file are we talking about?  (i.e., which of the current testing files should I convert to ADAM/Parquet?)

[2015-10-27 22:06] yegeniy commented on #1049
Providing a reference to that wiki from the README would be helpful

[2015-10-27 22:17] vdauwera commented on #1049
FYI I'm planning a "GATK 4 Alpha" category for the forum + documentation guide to host the user-facing documentation, so feel free to keep the developer docs in the readme -- or we'll add a note in the readme pointing to the forum/guide pages.

[2015-10-27 22:21] laserson commented on #1015
I'll try to take a look later this week as well.  Do you have an example "failing" command you could share for me to start with?

[2015-10-27 22:49] droazen commented on #1015
@akiezun Can you provide @laserson with a command that reproduces the issue?

[2015-10-28 02:22] akiezun opened #1060 "using -L pulls in unmapped reads on Spark"
It seems that using -L pulls in unmapped reads which is not what we want I think. The reason I think unmapped reads are pulled in is this progress log from a Spark job. Note the 'Current locus' on the last line

[code]

[2015-10-28 02:24] #957 closed

[2015-10-28 02:33] akiezun commented on #896
how about this one
src/test/resources/org/broadinstitute/hellbender/tools/picard/analysis/MeanQualityByCycle/first5000a.bam

and try it with MeanQualityByCycleSpark

[2015-10-28 02:42] akiezun commented on #995
I think @droazen is doing this already.

[2015-10-28 02:43] akiezun commented on #1045
@davidadamsphd can you have a look and see what's going on here?

[2015-10-28 02:49] akiezun commented on #1012
@wbrockman feel free to grab this one if you're working on it

[2015-10-28 02:51] akiezun commented on #1049
@vdauwera wouldn't it be simpler to have those docs on the github page?

[2015-10-28 03:04] vdauwera commented on #1049
I prefer to host the docs in the forum for the following reasons:

- We want people to use the GATK website and forum as a one-stop shop for all GATK needs, not have to go to Github for some things, both for convenience and as a matter of branding;
- Many end-users don't know/understand Github;
- In the forum we can easily host multiple documents in a way that's intuitive to navigate;
- We can eas

[2015-10-28 04:48] laserson commented on #1007
I think the `Optimized` version deals with avoiding replicating reads in a more nuanced manner, but if I understand correctly, it doesn't seem to me to avoid the shuffle.  It looks like it essentially ignores the concept of data locality entirely, and potentially transfers a lot of data over the network.  (Equivalent to performing a shuffle on a sorted file in HDFS.)

IMO, the current "shuffle" im

[2015-10-28 05:04] laserson commented on #1007
Also note discussion in #987

[2015-10-28 05:05] laserson commented on #995
Also note #1007.

[2015-10-28 05:53] laserson opened #1062 "ReadsSparkSource and ReadsSparkSink have different APIs"
The `Source` version has a `JavaSparkContext` field, while the `Sink` version takes the `JavaSparkContext` as input into a static method.  Also, the `Sink` version has a `writeReads` that takes a `ReadsWriteFormat`, while the `Source` version doesn't have an overarching `get` method.  Also, what should the corresponding `enum` be called?  `ReadsReadFormat`?  `ReadsGetFormat`?

[2015-10-28 05:54] laserson commented on #1062
This is motivated by the fact that the `GATKSparkTool` doesn't have a good way to read ADAM data.

[2015-10-28 10:55] tomwhite commented on #1015
Thanks for picking this up Uri. (BTW I'm out for the rest of this week and all of next.)

[2015-10-28 14:07] akiezun commented on #1056
To clarify, this means that the `disable_indel_quals` parameter will always be `true`, right @eitanbanks ?

[2015-10-28 15:06] lbergelson commented on #1049
For what its worth, I know I always find it difficult to find things on the GATK forums.  A wiki is a much clearer way for me to navigate static information.  It's also easy for everyone to edit and has a clear history.

[2015-10-28 15:21] droazen commented on #1062
Hopefully this will be addressed as part of https://github.com/broadinstitute/gatk/issues/959

[2015-10-28 15:27] droazen commented on #1007
Thanks for the analysis @laserson! Not sure I fully understand it yet, but will re-read it until I do :) By tomorrow I should have plots for https://github.com/broadinstitute/gatk/issues/995 comparing JP's existing code against the broadcast approach, and will link them here -- let's decide whether or not to devote more effort to refactoring JP's code after seeing those numbers.

In the meantime,

[2015-10-28 15:35] lbergelson opened #1063 "Exclude duplicate SLF4J to prevent warnings"
Currently we get this warning every time we run a spark program.  We should exclude the older version of slf4j so we don't get this warning.
[code]

[2015-10-28 15:38] lbergelson opened #1064 "Expose mapred.max.split.size as a parameter to GATKSparkTool"
`mapred.max.split.size` is currently hardcoded to 10485760 in ReadsSparkSource.  It should be exposed as a parameter that can be set at the command line since different values are better for different tools.

It's a deprecated property, so it should probably be replaced with the new `mapreduce.input.fileinputformat.split.maxsize` instead.

[2015-10-28 16:05] droazen commented on #1064
So should we expose it, or should we replace it and expose the replacement? :)

[2015-10-28 16:23] lbergelson commented on #1064
I'm doing both!

[2015-10-28 18:39] #1064 closed

[2015-10-28 19:02] vdauwera commented on #1049
We have discussed this and I have shown @lbergelson the error of his ways ;)

Admittedly I'm still working on improving the presentation of content on the website -- but user feedback suggests they find the current site far superior to the old wiki. Also, I hate wikis.

Also also, Louis was mostly complaining about the dev zone and queue docs, which do suck.

[2015-10-28 19:03] vdauwera commented on #1049
But FYI, after discussion with Adam, I will add ability to respond to forum threads by email since it seems this is a must-have feature.

[2015-10-28 19:29] laserson commented on #1062
k, closing in favor of #959.

[2015-10-28 19:29] #1062 closed

[2015-10-28 19:31] laserson commented on #1007
@droazen Could you also compare JP's code against the shuffle approach?

[2015-10-28 20:15] #1055 closed

[2015-10-29 00:06] laserson commented on #1015
Wow.

[code]

What a difference...

[2015-10-29 00:08] laserson commented on #1015
Just to set some expectations, the *real* answer here is that for production pipelines, you will probably never want to write just a single output file.  Hadoop/Spark work well because of their distributed nature, and working on sharded data is a pretty crucial part of that.  In my mind, writing out single files is merely good manners.

With that in mind, I'm looking into how to make this less hor

[2015-10-29 01:29] eitanbanks commented on #1056
That's correct, @akiezun.
However, it's not just stripping out that code.  There are a ton of optimizations that can then be made to the code to simplify it afterwards.  These classes were made very bulky to accommodate the indel calibration, and we should really remove that bulk.  I can help with that.

[2015-10-29 02:37] akiezun commented on #1056
agreed, just wanted to know the top level starting point.

[2015-10-29 19:53] droazen opened #1069 "Make all tools call into a common utility method to create SAMFileWriters"

[2015-10-29 19:53] droazen commented on #1069
Prerequisite for #121

[2015-10-29 20:19] akiezun commented on #968
we've run all the relevant tools recently. What else is needed here? Can we close this? If not, please make an explicit list of things to check (tools, configuration, etc).

[2015-10-29 20:37] droazen commented on #995
![bqsr_spark](https://cloud.githubusercontent.com/assets/798637/10831310/43e41214-7e5b-11e5-9591-fe3b7d0b3ba6.png)

[2015-10-29 20:49] droazen commented on #995
The plot above shows the results of running our four implementations of BQSR (the walker version, the shuffle version, the broadcast version, and the "manual sharding" version) on a ~7 GB bam with ~250 MB vcf and full size (~3 GB) reference (though I used the compressed `.2bit` version of the reference for the broadcast tests, which came in at ~750 MB).

-The single-threaded walker version running

[2015-10-29 20:54] droazen commented on #995
Based on these results, I think we want to try out the broadcast version on larger inputs and see if it scales as well as or better than the "manual sharding" implementation in `BaseRecalibratorSparkOptimized` (on the assumption that the cost of the broadcast will dominate on small bam inputs but stay roughly the same as we increase the bam size but keep the reference/variants the same).

[2015-10-29 23:25] laserson commented on #1015
Here are some initial thoughts, after working on my local machine.  It appears that writing a single BAM file is slowed significantly on the sort when the tasks have to spill to disk.  So:
* Lots of memory is good.  Decreases the chance of spilling.
* The sort itself should use multiple partitions.  This should decrease the amount of data going to each reducer/sort task.
* When we end up writing t

[2015-10-29 23:25] laserson commented on #1015
Out of curiosity, what's the use case for writing to a single BAM file?

[2015-10-29 23:30] laserson opened #1070 "`SparkContextFactory` should not take a `master` parameter"
And `SparkCommandLineProgram` should not set a default master.  This should be left to `spark-submit`.  Otherwise, the settings actually mask my requested spark master that I set with `spark-submit --master ...`.

[2015-10-30 06:57] akiezun opened #1071 "revisit the need for MathUtils.fastRound"
the standard Math.round may be faster now. Need to measure and act. This is important for applyBQSR that uses this in a tight loop.

[2015-10-30 14:19] droazen commented on #1070
One of our goals for alpha (https://github.com/broadinstitute/gatk/issues/961) is actually to wrap `spark-submit` and its many options to make it easier to run hellbender tools on spark. We want users to be able to type a simple command like `./hellbender ToolName [toolArgs] --sparkMaster X`, and have hellbender figure out whether to invoke `spark-submit` or `gcloud dataproc` on their behalf, and

[2015-10-30 17:31] akiezun commented on #1056
initial run on 1.2Gb file after ripping out some of the indel code:
CEUTrio.HiSeq.WEx.b37.NA12892.chr10.bam

Mac OS X 10.9.5 x86_64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_25-b17;
4.pre-alpha-71-g50b094b

[code]

this is 2x speedup compared to regular gatk4 and gatk3 (data from see #1033)

time gatk3 with indels
[code]

time for GATK3
[code]

[2015-10-30 17:42] eitanbanks commented on #1056
@akiezun it's really important to make sure that the results match between the original and newly optimized versions (and if they don't, to make sure we understand why).  Some of the "indel stuff" should probably stay, e.g. the masking of sites using known indels.  Since we aren't running Indel Realigner anymore, there may be some "errors" that we do want to mask because they are alignment artifac

[2015-10-30 17:43] akiezun commented on #1056
for now this is just the apply step.

[2015-10-30 17:49] vdauwera commented on #1056
Hey folks, based on this effort, at what point do we start telling users to disable indel quals (or do it for them by default) in the output of BQSR in GATK3? People complain about the file sizes and this would alleviate some of that pain. I know that that's how it's done in production.