[2019-02-01 19:31] samuelklee commented on #4903
Also note that this is prototyped in the sl_ms_vcf branch.

[2019-02-01 19:35] samuelklee commented on #5631
Sure, kicked off a run with 4.1.0.0.  Thanks for looking into this!

[2019-02-01 19:36] jean-philippe-martin commented on #5631
If only some of the accesses failed, then it's likely what we're seeing here is GCS refusing to serve requests because it feels it's getting too many. How many machines are trying to access the file? How many threads per machine? What storage class is the bucket?

The lower storage classes support fewer parallel accesses, and NIO's prefetching (if enabled) results in two threads per reader.

[2019-02-01 19:48] samuelklee commented on #5631
The possibility that this problem could be specific to the TCGA FC BAMs did arise in our previous discussions---not sure what storage class those are on?

However, in this workflow, at most one ReadWalker (CollectReadCounts) and one LocusWalker (CollectAllelicCounts) would try to access the same (tumor) BAM.  There were several instances of (normal) BAMs which only had one LocusWalker (CollectAlle

[2019-02-01 20:00] samuelklee opened #5634 "Investigate utility of ModelSegments mega workflow."
Somatic/pair equivalent of #5633.  Should be relatively trivial, but should only implement if demand is there.

[2019-02-01 21:33] sooheelee commented on #2865
Opened to connect to the relevant PR at https://github.com/broadinstitute/gatk/pull/5219.

[2019-02-01 21:33] #2865 closed

[2019-02-02 02:32] samuelklee commented on #5631
Rate of failure still seems high in 4.1.

[2019-02-04 19:44] droazen commented on #5271
This is done -- closing.

[2019-02-04 19:44] #5271 closed

[2019-02-04 20:09] droazen commented on #2473
@cmnbroad is this done?

[2019-02-04 20:11] droazen commented on #1732
Closing -- replaced by https://github.com/broadinstitute/gatk/issues/5532

[2019-02-04 20:11] #1732 closed

[2019-02-04 20:13] droazen commented on #958
Closing -- this was done.

[2019-02-04 20:13] #958 closed

[2019-02-04 20:23] droazen commented on #5265
Closing -- we now have a `--strict` mode that matches the regular `HaplotypeCaller` at the expense of speed. Next step is to work on performance (https://github.com/broadinstitute/gatk/issues/5263)

[2019-02-04 20:23] #5265 closed

[2019-02-04 20:24] droazen commented on #5263
In particular, can we improve the performance of `--strict` mode to the point where it could become the default?

[2019-02-04 20:38] droazen commented on #4294
Talked to @ldgauthier about this, and I'm not sure that this matter anymore for our current joint-calling pipeline. @ldgauthier would you be comfortable closing?

[2019-02-04 20:40] droazen commented on #5449
@nalinigans Is this one fixed? Can we close?

[2019-02-04 20:43] droazen commented on #4518
@nalinigans Was this one fixed in 4.1?

[2019-02-04 20:44] droazen commented on #5282
@lbergelson Is this one done?

[2019-02-04 20:46] droazen commented on #3840
@tomwhite Is this still an issue? If not, can we re-enable the disabled test in `DataprocIntegrationTest` and close this?

[2019-02-04 20:50] droazen commented on #2591
@jamesemery While you're in the `HaplotypeCallerEngine` doing optimizations, you should profile peak memory usage as well and see if we can get it down to < 3 GB. This would reduce costs by allowing us to use cheaper instances on the cloud.

[2019-02-04 20:56] droazen commented on #4781
In review here: https://github.com/broadinstitute/gatk/pull/4902

[2019-02-04 21:00] droazen commented on #5383
@sooheelee @bhanugandham Perhaps this ticket ought to live in the comms team issue tracker rather than here?

[2019-02-04 21:00] droazen commented on #5250
@ldgauthier Is this one done?

[2019-02-04 21:07] droazen commented on #5547
@tomwhite This was fixed in 4.1, wasn't it? Can this be closed?

[2019-02-04 21:10] droazen opened #5636 "Release GATK 4.1"

[2019-02-04 21:10] droazen commented on #5636
This is done!

[2019-02-04 21:10] #5636 closed

[2019-02-04 21:15] jamesemery commented on #2591
@droazen Its worth noting that the numbers/goals for this runtime are different now that PaPI V2 is being used more frequently. Since the maximum memory per CPU is 6.5 GB on GCS for a custom machine, that is the absolute maximum memory a task can take without having to eat the cost of adding a second core. Any memory savings we can afford beyond 6.5 GB (not just <3 GB) will still result in savings

[2019-02-04 21:16] droazen opened #5637 "Implement comprehensive tests for Spark inputs/outputs (all supported combinations)"

[2019-02-04 21:17] droazen opened #5638 "Get simple Spark tools like PrintReadsSpark out of beta"
Blocked by https://github.com/broadinstitute/gatk/issues/5637

[2019-02-04 21:20] droazen opened #5639 "fasta.gz write support"

[2019-02-04 21:22] droazen opened #5640 "Implement graphical VCF diff tool"

[2019-02-04 21:24] droazen opened #5641 "Make the native SmithWaterman the default"

[2019-02-04 21:25] nalinigans commented on #4518
4.1 has the improved reporting on system errors. Not sure if it fixes this issue. Would it be possible to include new logs by running 4.1 if you encounter the issue again?

[2019-02-04 21:25] droazen opened #5642 "Spark version of ValidateSamFile"

[2019-02-04 21:30] nalinigans commented on #5449
@ldgauthier was working with @kgururaj on this one. @kgururaj, any insights on this one? Do you want me to start looking at this?

[2019-02-04 21:38] droazen commented on #5282
@lbergelson informs me that we do read/write SAM 1.6, but that there are a few known issues that still need to be resolved (eg., with non-ascii characters).

[2019-02-04 21:49] droazen commented on #2591
@jamesemery As part of this, you should check whether cromwell has implemented auto-retry with auto-memory-doubling yet. It would be much easier to prove that we need ~3GB or less in the typical case (and rely on automatic retry for pathological cases), vs. proving that that amount is sufficient even in the worst-case scenario.

[2019-02-05 13:19] tomwhite opened #5644 "ReadsPipelineSpark fails with "Interval not within the bounds of a contig""
## Bug Report

### Affected tool(s) or class(es)
ReadsPipelineSpark

### Affected version(s)
- [x] Latest public release version 4.1.0.0
- [ ] Latest master branch as of [date of test?]

### Description

[code]

#### Steps to reproduce
In the scripts/spark_eval directory, run
[code]

#### Expected behavior
The tool should run without error.

#### Actual behavior
The tool exits with the above error

[2019-02-05 13:42] tomwhite commented on #5644
@frank-y-liu was this the problem that you and Carlos were seeing? If so, I've got a fix in #5645 that fixes the issue for me that you might be interested in trying. /cc @droazen

[2019-02-05 15:05] jamesemery opened #5646 "ReferenceConfidenceModel using the wrong break condition in calcNIndelInformativeReads()"
While working on validating #5607 I noticed that at the top of the method `isReadInformativeOfIndelOfSize()` that there is the following breakout condition:
[code]
This says that if the readStart is too close to the read.getLenght() then it will break out and not calculate the informativeness of a read. Unfortunately readStart isn't the readbase indexed readStart, its actually the "IGV view" offse

[2019-02-05 19:05] #5644 closed

[2019-02-05 19:25] droazen commented on #3754
@lbergelson Since we were just talking about this issue, I'm resurrecting this old ticket for you

[2019-02-05 19:33] dsilencio opened #5647 "StructuralVariationDiscoveryPipeline IllegalArgumentException"
Have been having the following issue running StructuralVariationDiscoveryPipeline on previous and the newest release of GATK(4.1.0.0). Currently attempting to use on a computing cluster without spark enabled.

Command line used:
gatk/gatk-4.1.0.0/gatk StructuralVariationDiscoveryPipelineSpark \
     -I $CRAM \
     -R $Hg38 \
     --aligner-index-image reference.fasta.Hg38.img \
     --kmers-to-ig

[2019-02-05 20:13] lbergelson opened #5648 "AlignmentUtils.getSequenceAlignedOneToOne needs javadoc"
These methods `getBasesAlignedOneToOne`  `getBaseQualsAlignedOneToOne` and `getSequenceAlignedOneToOne` should have javadoc and ideally unit-tests.

[2019-02-05 20:15] jamesemery commented on #5648
This is already being dealt with in #5469

[2019-02-05 20:20] ldgauthier commented on #2591
Ruchi has a branch for memory retries that I haven't tried yet, but it's definitely not standard I'm Cromwell.

[2019-02-05 20:22] ldgauthier commented on #5160
Not this quarter.

[2019-02-05 20:23] ldgauthier commented on #5250
No, but it's not something I need.

On Mon, Feb 4, 2019, 4:01 PM droazen <notifications@github.com wrote:

[2019-02-06 04:16] jjfarrell commented on #5547
Yes, the count of the 30x cram took a very fast  1.67 minutes.

.```
/gatk-4.1.0.0/gatk  CountReadsSpark --input /project/casa/gcad/adsp.cc/cram/A-ADC-AD010072-BL-NCR-11AD44210.hg38.realign.bqsr.cram  --reference ref/GRCh38_full_analysis_set_plus_decoy_hla.fa  -- --spark-runner SPARK --spark-master yarn --num-executors 20 --executor-cores 6 --driver-memory 6g
Using GATK jar /restricted/projectnb/c

[2019-02-06 04:16] #5547 closed

[2019-02-06 04:18] jjfarrell commented on #4506
4.1.0.0 version with disq is reading crams much faster!

[2019-02-06 04:18] #4506 closed

[2019-02-06 15:30] andrewrech opened #5649 "Allow CreateSomaticPanelOfNormals to pass --sites-only-vcf-output=false for mapping bias calculations"
## Feature request

### Tool(s) or class(es) involved

CreateSomaticPanelOfNormals

### Description

Currently, CreateSomaticPanelOfNormals emits sites-only VCFs. Some downstream tools require full VCFs, as could be created previously in the PON CombineVariants workflow.

Perhaps this feature will be covered when CombineVariants becomes available, but I believe it may still be desirable if CreateS

[2019-02-06 20:05] roryk opened #5650 "HaplotypeCaller outputting variants with an ALT of ."
## Bug Report

### Affected tool(s) or class(es)
GATK Haplotype caller

### Affected version(s)
- [x] Latest public release version [4.1.0.0]
- [ ] Latest master branch as of [date of test?]

The Genome Analysis Toolkit (GATK) v4.1.0.0
HTSJDK Version: 2.18.2
Picard Version: 2.18.25

### Description
HaplotypeCaller is outputting variants which have a no-call as the ALT, which breaks a bunch of down

[2019-02-07 12:45] holtgrewe commented on #2092
Any news on this?

[2019-02-07 13:21] ldgauthier commented on #5650
Hi @roryk,
This is probably an oversight since so much of our development is focused on gvcfs. I agree that the expected behavior should be no output for AC=0. I can probably put together a fix tomorrow. Unfortunately our nightly docker builds have been unreliable - would you be able to build your own jar off the master branch once the fix is in?

[2019-02-07 14:23] roryk commented on #5650
Hi @ldgauthier,

Awesome! Yup, can do.

[2019-02-07 16:12] tfenne opened #5651 "Variants with spanning deletions lack phase set information"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller 4.1 with -ERC GVCF

### Affected version(s)
- [x] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description
It would appear that variants covered by a spanning deletion are not output with phasing information even when surrounded by phased variants on either side.  Since one of the all

[2019-02-07 19:59] jamesemery opened #5653 "Add setTransientAttribute() to GATKRead"
`SAMRecord` has functionality for transient attribute fields. Specifically they are attributes on a read that can be used to cache expensive/useful information for later stages of a tool that we want to avoid writing into the output. Currently `MarkDuplicatesSpark` uses this functionality by casting its `GATKRead` objects to `SAMRecord` objects to get at the field, which is less than ideal for a n

[2019-02-07 21:08] chcost commented on #5644
@tomwhite yes, this is the same problem we were seeing. Thanks much for the fix. We will try to run the pipeline again with the fix. Thanks!

[2019-02-07 21:45] samuelklee commented on #4122
Note that no segmentation or resolution parameters have been tuned yet for either performance or runtime.  Some of these are very easy wins.  For example, `kernel-approximation-dimension` is set to a default of 100, and the time for segmentation scales roughly linearly with this (documentation erroneously states that the scaling is quadratic, this should be fixed---my bad).  In practice, setting t

[2019-02-08 14:19] ldgauthier commented on #5650
Now that I'm looking at this more carefully, I see a `-ploidy 1` in your command, but you're getting diploid genotypes.  I'm going to operate on the assumption that that's part of the bug unless you tell me otherwise.

[2019-02-08 15:35] ldgauthier commented on #5650
I suspect this is because we switched to the new QUAL as default in 4.1 . For the time being, you can probably use the `--use-old-qual-calculator` to get around the issue.  Can you share some of the reads to reproduce the issue?  I'm concerned this is a numerical precision issue in the new model and I hesitate to put a bandaid on it by just dropping these sites.

[2019-02-08 15:37] roryk commented on #5650
Great-- can do, it will take a little bit for me to put together a small test case. While I'm doing that I'll see if passing that flag will fix it. Thanks so much.

[2019-02-08 17:12] sooheelee commented on #5650
I think this might be a related bug. I see two values for AD when genotyping with GenotypeGVCFs in `--include-non-variant-sites` mode for a homozygous-reference site. The command I use and an example output VCF record are at https://gatkforums.broadinstitute.org/gatk/discussion/23371/calling-variants-at-known-sites-with-haplotypecaller.

[2019-02-08 20:20] takutosato opened #5654 "Output the posterior mean of the F1R2 fraction in the read orientation model"
Requested by @LeeTL1220

[2019-02-08 20:52] LeeTL1220 commented on #5654
And a confidence interval....

On Fri, Feb 8, 2019 at 3:20 PM Takuto Sato <notifications@github.com> wrote:

--
Lee Lichtenstein
Broad Institute
105 Broadway, Room 332
Cambridge, MA 02142
617 714 8632

[2019-02-08 23:06] #3541 closed

[2019-02-08 23:06] #3608 closed

[2019-02-09 16:37] lima1 commented on #5649
To provide some more background, the idea is to generate output as generated by [CollectAllelicCounts](https://software.broadinstitute.org/gatk/documentation/tooldocs/current/org_broadinstitute_hellbender_tools_copynumber_CollectAllelicCounts.php) for a pool of normals so that we can correct allelic biases in tumor-only. Would it be possible that CreateSomaticPanelofNormals is extended to cover th

[2019-02-10 03:45] davidbenjamin commented on #5649
@andrewrech @lima1 Is it absolutely necessary to retain the full per-sample information, or would it be sufficient to add an INFO field (or several) with some sort of summary statistics?  For example, I'm working on an improved Mutect2 panel of normals that emits the fraction of samples in which the artifact was called and the estimated beta distribution of the artifact allele frequency among samp

[2019-02-10 04:08] lima1 commented on #5649
Great, yes, summary would be sufficient. I currently extract the total number of alt and ref reads and the number of samples out of the old Mutect --normal_panel. The beta distribution would be great too.

[2019-02-10 16:21] roryk commented on #5650
Hi everyone,

I put together as small a test case as I could here: https://www.dropbox.com/s/p7x3jt6lgxesc23/gatk-missingalt-testdata.tar.gz?dl=1

Some observations that might help track down the source of the bug:

1. Subsetting the BAM file to within 100 bases of the call with the missing alt results in files that cannot reproduce this behavior, it needs to be a larger window.
2. If you call ind

[2019-02-10 18:29] droazen commented on #5650
@roryk Did this bug occur in the previous GATK release (4.0.12.0) as well, or is 4.1.0.0 literally the very first release with this issue?

[2019-02-10 18:55] roryk commented on #5650
Hi @droazen,

Sorry, I'm not sure-- I'm about 90% certain that it is specific to 4.1.0.0 because we probably would have run into the bug if it existed prior to that, but I'm not 100% sure.

[2019-02-11 14:14] cmnbroad commented on #2473
Closed via https://github.com/broadinstitute/gatk/pull/5526.

[2019-02-11 14:14] #2473 closed

[2019-02-11 14:58] #5087 closed

[2019-02-11 15:15] sooheelee opened #5657 "Javadoc update: minor error in the documentation regarding --genotyping-mode"
Requested on the forum from a researcher.
___
Hi GATK team,

I just wanted to let you know, that there is a minor mistake in the documentation here:
https://software.broadinstitute.org/gatk/documentation/tooldocs/4.1.0.0/org_broadinstitute_hellbender_tools_walkers_haplotypecaller_HaplotypeCaller.php#--pcr-indel-model

The file in which you want to replace --genotyping_mode with --genotyping-mode i

[2019-02-11 15:45] sooheelee commented on #5657
This PR is now merged and changes will be in the release after v4.1.0.0.

[2019-02-11 15:45] #5657 closed

[2019-02-11 16:13] lbergelson opened #5659 "deleteRecursively is reportedly failing intermittently on GCS"

[2019-02-11 17:22] #5648 closed

[2019-02-11 18:11] sooheelee commented on #4987
@jamesemery requests test files that show what a possible de novo looks like and I have agreed to prep some data towards this.

Here is the data bundle that includes a GATK3.7 result.
[VariantAnnotator_PossibleDeNovo_sooheelee.zip](https://github.com/broadinstitute/gatk/files/2852379/VariantAnnotator_PossibleDeNovo_sooheelee.zip)

The command I used with GATK3.7:
[code]

Here are the three records

[2019-02-11 19:35] ldgauthier commented on #5650
Thanks for the beautifully svelte test data @roryk !  I'll take a look this week.  Did the workaround I suggested fix your issue?

[2019-02-11 19:44] droazen commented on #5650
@roryk What version were you running just before 4.1.0.0?

[2019-02-11 20:05] roryk commented on #5650
Sorry @ldgauthier, I forgot to test that, I'll do it now. Props for using the word svelte. @droazen-- we have gatk4 installed and updated via bioconda, so I'm not super sure exactly which versions had this problem, just that the current version. If it would help I could roll back `gatk4` to `4.0.12.0` and see if the issue was there as well.

[2019-02-11 20:41] jonn-smith opened #5660 "Funcotator should validate datasource version at startup."
If the version of the data sources is not up to date, Funcotator should give an error to that effect and halt.

[2019-02-11 21:28] ldgauthier commented on #5650
The workaround looked good on the sample you gave me, but I'm pretty sure I found the issue so a fix is not far off.  The * allele is causing problems again.  It happens at a multi-allelic with a low quality alt, so it's not a *-only site, but the real alt gets dropped by the QUAL filter.  I just need to put in a regression test before I submit the PR.

Also, I'm taking out the repeated instances

[2019-02-11 21:30] roryk commented on #5650
Awesome, thanks so much. Your workaround does work on that test set. That's a bonus: that warning spam was annoying the heck out of me too.

[2019-02-12 07:20] albertRichael commented on #4987
@sooheelee  Thanks for your reply, I thought all sites would have hiConfDenovo/loConfDenovo annotation, if I used grep command, there would be no question(what a fool mistake -_-).

[2019-02-12 14:34] #4859 closed

[2019-02-12 16:18] davidbenjamin opened #5662 "Mutect2 should filter orientation bias on MNVs"
An apparent MNV may actually be two consecutive orientation bias artifacts.  Currently Mutect2 only filters SNVs.

[2019-02-12 17:32] sooheelee commented on #4987
No problem @albertRichael. Glad you sorted that out.

[2019-02-12 17:59] jamesemery commented on #4987
#5663 Hooks up the `PossibleDeNovo` to the annotation engine and should hopefully resolve this issue when it gets in by the next release.

[2019-02-12 20:27] ldgauthier opened #5666 "CalculateGenotypePosteriors shouldn't modify GTs with no data"
A user reported that CalculateGenotypePosteriors generated a bunch of "new" variants (https://gatkforums.broadinstitute.org/gatk/discussion/comment/56226).  What happened was that no-calls that look like `GT:AD:DP:GQ:PL ./.:0,0:0:.:0,0,0` became `GT:AD:DP:GQ:PL:PP 0/1:0,0:0:,:30,0,30` or similar when a high AF prior was applied.  The expected behavior is for PPs to not be applied and the GT to rem

[2019-02-13 01:45] jonn-smith commented on #5660
This seems to be a regression with GATK 4.1.0.0.  The code does check for compatible versions before beginning traversal.

However, the following log was reported using the M2 WDL:
[code]

[2019-02-13 15:26] #4860 closed

[2019-02-13 15:52] sooheelee opened #5670 "MarkDuplicateSpark is slower than normal MarkDuplicates"
For @jamesemery, per their request, the researcher has submitted test data that I will slack you the location of. They have also provided additional information that will interest you in the forum thread that is not represented below.

---
@shlee
I uploaded the file to a fileshare folder of the University Mainz and send you a PM with the link and login data.
One other small thing I found out is, t

[2019-02-13 19:45] jonn-smith opened #5671 "Funcotator isn't properly cleaning outputs for delimiters before writing fields in VCFs."
~~The `ALL_TRANSCRIPTS` output from Funcotator is not properly parsed by the built-in parsing methods for the funcotations.~~

~~This should be fixed so that these parsing methods will work without producing an error.~~

-----------

It turns out that at least for `ClinVar_VCF_CLNVI`, hashes aren't being properly cleaned (i.e. URL encoded) before writing to the VCF fields.

This is bad, because ha

[2019-02-13 22:52] roryk commented on #5650
Thanks so much for the fix @ldgauthier, you rock.

[2019-02-14 02:02] kloot opened #5674 "VariantEval Error if output file does not pre-exist"
## Bug Report

### Affected tool(s) or class(es)
_VariantEval, -O, --output_

### Affected version(s)
- [X] Latest public release version [4.1.0.0]
- [ ] Latest master branch as of [date of test?]

### Description
Program starts then terminates with error:
`***********************************************************************`
`A USER ERROR has occurred: Couldn't read file file:///[.....]/X034.e

[2019-02-14 06:39] davidbenjamin commented on #5649
This is now in PR: #5675.  FilterMutectCalls is not yet hooked up to exploit any of this new information, but we will be testing ideas for that soon.

[2019-02-14 06:43] davidbenjamin commented on #2522
Just noting that this is still blocked by the old qual code.  Until we delete it this ticket is needlessly complicated.

[2019-02-14 10:50] andrewrech commented on #5649
Amazing @davidbenjamin, thanks for this fast work!

[2019-02-14 12:20] cmnbroad commented on #5674
Yup, unfortunately out test framework always creates an output file first, so it dosn't catch this. Easy fix.

[2019-02-14 14:18] ldgauthier opened #5676 "Remove historic HC difference between VCF and GVCF mode"
The HaplotypeCaller has slightly different behavior between VCF and GVCF output in some cases, which means that the variants at the edges of the active region may not be called in both.  This is due to the following line:
https://github.com/broadinstitute/gatk/blob/89ea9e01225db5c9bbe262c888a0abb74509f94c/src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyRegionTrimm

[2019-02-14 14:19] ldgauthier commented on #5676
It might be prudent to hold off on this until after #5532 so the test update is less painful.

[2019-02-14 14:33] ldgauthier opened #5677 "Make sure NON_REF doesn't get called and doesn't get AD"
In GATK3 sometimes in gross indels the genotype would be called for the NON_REF allele.  This may be improved in GATK4.1 with the new QUAL model, but it's worth putting some checks, i.e. after https://github.com/broadinstitute/gatk/blob/89ea9e01225db5c9bbe262c888a0abb74509f94c/src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/AlleleSubsettingUtils.java#L93
which I believe gets ca

[2019-02-14 14:36] ldgauthier commented on #5677
I propose the expected behavior be to no-call the genotype that would have had NON_REF with all-zero PLs.  Likely someone will be grumpy about that, but how confident can you really be about a genotype that was mostly likely to contain an allele you haven't actually seen?

[2019-02-14 15:02] ldgauthier opened #5678 "Is the Downsampled annotation still a real thing?"
This `DS` annotation has been kicking around in the header for a long time, but I've never seen it in the wild.  It doesn't show up in any of our integration tests.  We only have the ability to add this annotation if the GenotypingEngine gets a non-null `Map<String, AlignmentContext> stratifiedContexts`, but that doesn't seem to be the case in *_any_* of our tests.  Maybe it's a holdover from Unif

[2019-02-14 15:21] jonn-smith opened #5679 "Funcotator should error and stop when annotating a VCF that already contains funcotations."
Funcotator should not allow an already-funcotated file to be funcotated again.  This check should at least be made on the `VCFHeader`.

For extra thoroughness we should consider checking the `INFO` field of some `VariantContext` objects (the first 10?) to ensure there is no `FUNCOTATION` section.

[2019-02-14 16:24] lbergelson opened #5680 "ConcurrentModificationException in ReadsPipelineSparkIntegrationTest"
We've seen at least 1 deterministically occurring instance of ConcurrentModificationException while running the `ReadsPipelineSparkIntegrationTest.testReadsPipelineSpark[5]`

It seems like there is a race condition somewhere.

[code]

@jamesemery @tomwhite I've seen this once, so it may be a super rare one that we're just hitting now, or something newly introduced.  Not sure there's anything to do

[2019-02-14 17:00] davidbenjamin commented on #5678
@ldgauthier I wasn't aware of the `DS` annotation.  `stratifiedContexts` is almost certainly a holdover from UG, but before you delete too much let's run it by @LeeTL1220.  I have a feeling that his `AnnotatePairOrientation` tool might do UG-style annotation.

[2019-02-14 17:18] davidbenjamin commented on #4632
Closing for now but I will be very happy to re-open if @Yyx2626 isn't too busy at HMS.

[2019-02-14 17:18] #4632 closed

[2019-02-14 17:19] droazen commented on #2522
@davidbenjamin My recommendation would be to give it a few months before deleting the old qual code, just so that people have the option of running with old qual for now in case more issues like https://github.com/broadinstitute/gatk/issues/5650 are discovered.

[2019-02-14 18:26] davidbenjamin commented on #2522
I don't disagree, just keeping this ticket from getting too stale.

[2019-02-14 19:20] droazen commented on #5670
It seems like the problem was that the researcher was starting with a coordinate-sorted bam, whereas `MarkDuplicatesSpark` requires a name-sorted bam for good performance.

@jamesemery feel free to close once you're satisfied that this is resolved, and once we've made whatever additional documentation clarifications are warranted.

[2019-02-14 19:23] ldgauthier commented on #5678
It's specifically annotation that's happening inside the GenotypingEngine (not the AnnotationEngine), so it's unlikely, but worth getting another +1 for deleting code.

[2019-02-14 19:43] sooheelee commented on #5670
We are in the process of updating tool documentation at https://github.com/broadinstitute/gatk/pull/5672 to clarify this issue. Researchers in forum thread appear satisfied, so I will close this.

[2019-02-14 19:43] #5670 closed

[2019-02-14 20:23] davidbenjamin commented on #5678
Probably safe then.

[2019-02-14 20:51] #5666 closed

[2019-02-15 06:42] af8 commented on #5543
Hi, are there any available updates on this bug ?
Thank you!

[2019-02-15 13:50] samuelklee commented on #5382
CALLS_* and MODEL_* directories are actually cleaned up in #5414, but there are a few places where contig-ploidy calls are not cleaned up.

[2019-02-15 14:05] samuelklee commented on #4446
This was fixed in #5307.

[2019-02-15 14:05] #4446 closed

[2019-02-15 15:45] samuelklee commented on #4486
Might be more trouble than it's worth to add a detailed exception.  The original exception might be vague, but it is correct.  Closing for now.

[2019-02-15 15:45] #4486 closed

[2019-02-15 19:20] samuelklee commented on #4825
@sooheelee did you encounter this when running at the command line in a python environment, or when using the Docker image?  And did the /home/shlee/gcc/hc24_soohee1k_chr1-model/ directory exist prior to running?

[2019-02-15 20:02] sooheelee commented on #4825
@samuelklee, in the command line with `source activate gatk` on and within a tmux session. From my notes for this error, I see
[code]

So definitely not a Docker run.

[2019-02-15 20:37] fpbarthel opened #5683 "Funcotator returns a nullpointer exception when trying to output compressed VCF"
## Bug Report

### Affected tool(s) or class(es)
`Funcotator`

### Affected version(s)
GATK 4.1.0.0 release

### Description
Funcotator returns a `NullPointerException` when trying to output compressed VCF:

[code]

#### Steps to reproduce

Does not work
[code]

Works
[code]

(note that the `--output` parameter is different)

#### Expected behavior
It should either give an error/warning saying out

[2019-02-15 21:02] lbergelson commented on #5680
We've seen this at least twice now.  Seems like something we should investigate.

[2019-02-15 21:06] davidbenjamin commented on #5649
Closed, I think, by #5675, but please let me know if any other outputs would be useful.

[2019-02-15 21:06] #5649 closed

[2019-02-15 23:41] andrewrech commented on #5649
Will do

[2019-02-17 02:40] bartgrantham commented on #3104
Is there any update on this?  From what I understand, most non-GATK variant callers (such as bcftools or platypus) could still benefit from this.

Additionally, the [documentation](http://www.htslib.org/workflow/#mapping_to_variant) for htslib still references GATK's IndelRealigner.  If there's no replacement forthcoming, I will open an issue of htslib to have this updated.

[2019-02-17 16:31] af8 opened #5684 "MPOS=. INFO field makes FilterMutectCalls fail"
## Bug Report

### Affected tool(s) or class(es)
_FilterMutectCalls_

### Affected version(s)
- gatk-4.1.0.0 (_latest_)

### Description

Hi,

I am using _Mutect2_ (v4.1.0.0) and similar to a previous bug reported on `AF=.`, _FilterMutectCalls_ seems to complain about MPOS fields having a value of `.`. No intermediate processing was done between _Mutect2_ and _FilterMutectCalls_. Below the error s

[2019-02-17 21:57] jjfarrell opened #5685 "StructuralVariationDiscoveryPipelineSpark Exception: provided start is negative"
## Bug Report

### Affected tool(s) or class(es)
StructuralVariationDiscoveryPipelineSpark

### Affected version(s)
GATK 4.1.0.0

### Description

Running SV program generates a Java exception...
java.lang.IllegalArgumentException: provided start is negative: -1

#### Steps to reproduce
[code]

[code]

#### Expected behavior

Run to completion with SV vcf output

#### Actual behavior

[code]

[2019-02-17 22:10] af8 commented on #5684
I have been too quick on this bug diagnosis, sorry.

Actually, the VCF given to FilterMutectCalls was the results of a `bcftools concat` operation. And I found out that `bcftools` is actually the culprit for setting this dot value. The value in the original Mutect2 VCF was `MPOS=-2147483648`. All such values were converted by `bcftools` into a `.`

I have replaced `bcftools` with `picard` to merge

[2019-02-18 04:38] galaxy001 opened #5686 "CreateReadCountPanelOfNormals cannot run on single machine"
## Bug Report

### Affected tool(s) or class(es)
CreateReadCountPanelOfNormals

### Affected version(s)
- [ ] Latest public release version [4.1.0.0]

### Description
When you run it on a single machine, it trys to use _hadoop_ and failed.

[code]

#### Steps to reproduce
On a Linux machine without _Hadoop_, run `java -jar ../gatk-package-4.1.0.0-local.jar CreateReadCountPanelOfNormals --input in.

[2019-02-18 10:25] af8 commented on #5684
OK, so finally there are no issues when using Picard's `MergeVcfs`.

The issue can be closed unless you think compatibility with `bcftools` is required or having `MPOS=-2147483648` is not appropriate.

Anthony

[2019-02-18 14:37] tomwhite commented on #4231
This was fixed in #5475 and released in 4.1.0.0. HaplotypeCallerSpark can be run in "strict" mode (with the `--strict` flag) to closely match the walker version. Even when not run using strict mode the result is much better than it used to be (closer to the walker version, and shouldn't jitter).

[2019-02-18 14:37] #4231 closed

[2019-02-18 14:38] tomwhite commented on #4488
See https://github.com/broadinstitute/gatk/issues/4231#issuecomment-464754012

[2019-02-18 14:38] #4488 closed

[2019-02-18 14:48] tomwhite commented on #5272
Fixed in https://github.com/broadinstitute/gatk/pull/5485 and https://github.com/broadinstitute/gatk/pull/5574

[2019-02-18 14:48] #5272 closed

[2019-02-18 14:49] tomwhite commented on #5273
Fixed in https://github.com/broadinstitute/gatk/pull/5485

[2019-02-18 14:49] #5273 closed

[2019-02-18 14:51] tomwhite commented on #5275
See https://github.com/tomwhite/disq-benchmarks

[2019-02-18 17:47] tomwhite commented on #3840
[code]

[2019-02-18 19:12] fpbarthel opened #5687 "Functotator MAF output does not properly show genotypes from somatic multi-tumor VCF"
## Bug Report

### Affected tool(s) or class(es)
`Funcotator`

### Affected version(s)
GATK 4.1.0.0 release

### Description

Functotator MAF output does not properly show genotypes from somatic multi-tumor VCF files produced using M2. It looks like only genotypes from the first tumor sample are shown, but there are no errors or messages to point the user to this fact.

Only a single `tumor_sample

[2019-02-19 13:47] #5674 closed

[2019-02-19 14:52] #3393 closed

[2019-02-19 15:07] tomwhite commented on #3840
I reproduced this on a cluster. I tried the following change, but then hit https://github.com/EsotericSoftware/kryo/issues/489

[code]

The workaround suggested in the issue referenced above of creating a local copy of `JavaSerializer` works.

It also looks like https://github.com/EsotericSoftware/kryo/commit/19a6b5edee7125fbaf54c64084a8d0e13509920b may fix the problem, but I haven't tried it, and

[2019-02-19 16:02] lbergelson commented on #5543
@davidbenjamin Could you take a look at this?  @TedBrookings thinks it might be as simple as changing the check to allow 0 length reads when initializing the pairHmm.  Neither of us are sure that that's a great solution though.

It seems like if you have no read bases you can't do any useful calculation.  Should there be an earlier check in mutect that avoids assembling a region if there aren't an

[2019-02-19 16:02] byoo opened #5690 "Error in smith waterman native library"
Mutect2 (GATK 4.1.0.0) fails occasionally in smith waterman native library as below. stderr is attached. I can also provide core dump if necessary.

[stderr.tar.gz](https://github.com/broadinstitute/gatk/files/2880800/stderr.tar.gz)

[code]

[2019-02-19 16:20] lbergelson commented on #5690
@byoo A core dump would be useful I believe.

[2019-02-19 16:55] byoo commented on #5690
@lbergelson The file is about 1GB in size. Do you have a preferred way to share the file?

[2019-02-19 17:48] lbergelson commented on #5690
@byoo The easiest thing would be if you can upload it to google cloud and make it publicly visible. Then we can copy it over and you can delete it.  Or if you can share your google account name I can grant you upload permission on a bucket we own.  (If you want to not publish it to the world you can email it to me louisb@broadinstitute.org )

Alternatively, if you can't use google cloud, you could

[2019-02-19 17:49] lbergelson commented on #5690
@gspowley Could you route this bug report to whoever is able to deal with this nowadays?

[2019-02-19 17:51] byoo commented on #5690
@lbergelson Would you grant a upload permission on a bucket of yours? My google account is byunggil.yoo@gmail.com Thank you.

[2019-02-19 17:56] lbergelson commented on #5690
@byoo I believe I've granted you read/write permission of `gs://hellbender-drop-box`. I'm always confused by google storage permissions though, so let me know if it didn't work.

[2019-02-19 18:02] gspowley commented on #5690
@mepowers Can you please take a look at this issue?

[2019-02-19 19:00] byoo commented on #5690
@lbergelson It worked well - I have uploaded a core dump. Let me know if you need something more.

[2019-02-19 19:10] mepowers commented on #5690
@gspowley - got it.  All - I'm the new Intel contact for GKL issues.  It sounds like this is resolved, but please feel free to tag me if you need help.

[2019-02-19 19:19] lbergelson commented on #5690
@mepowers Nice to meet you.

This issue isn't resolved.  What was resolved was uploading a core dump that exhibits the problem.  Is it possible for you to take a look into what's the causing the invalid pointer?  Let us know what additional information we can provide.

The core dump is located at `gs://hellbender/bugs/5690/core.tar.gz`  and should be publicly accessible.

[2019-02-19 22:56] jhl667 commented on #4269
I experienced this in 4.0.11.0.  I have some variant callers in my workflow that serve a very niche purpose, and therefore may pass 0 variant VCFs from time to time.

[2019-02-20 00:14] timmykuo opened #5692 "Logger always issues warning"
## Bug Report

### Affected tool(s) or class(es)
SAMSequenceDictionary function in IndexUtils.java: https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/utils/IndexUtils.java

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
The SAMSequenceDictionary function always log

[2019-02-20 02:23] galaxy001 commented on #5686
Well, after install hadoop 3.1.1 with Linuxbrew, I managed to run `CreateReadCountPanelOfNormals`.

Still, I think it is better not to copy input files to hadoop when running on single machine.

[2019-02-20 13:02] cmnbroad commented on #5692
@timmykuo I assume you're referring to the `createSequenceDictionaryFromFeatureIndex` function, which only gets called when a feature file that contains no embedded sequence dictionary is used. It unconditionally issues a warning indicating that the dictionary is missing, and that the code will try to fall back and extract one from the file's associated index. So it looks correct to me.

If I've m

[2019-02-20 13:15] JJBio commented on #5543
Hi, thanks for looking into this! Could you also fix this for the GATK 3.8 version if possible?
I've run into this many times.

[2019-02-20 13:41] cmnbroad commented on #2092
@holtgrewe This is still a goal for GATK, but its not actively being worked on, so I expect it will be some time before its resolved.

[2019-02-20 16:55] fpbarthel opened #5695 "M2 force-calling multi-allelic sites using GGA mode results in erroneous mappinq_quality filter if one allele does not have any reads mapped"
## Bug Report

### Affected tool(s) or class(es)
`Mutect2` and `FilterMutectCalls`

### Affected version(s)
GATK 4.1.0.0 release (though I suspect this was also in 4.0.x)

### Description
M2 force-calling multi-allelic sites using GGA mode results in automatic `mappinq_quality` filter if one allele does not have any reads mapped, even if the other variant allele has good mapping quality.

In my te

[2019-02-20 20:37] nh13 opened #5696 "HaplotypeCaller emitting wrong calls when using --max-mnp-distance"
## Bug Report

### Affected tool(s) or class(es)
- `HaplotypeCaller` with the arguments `--max-mnp-distance 5`.

### Affected version(s)
- gatk version 4.0.12.0

### Description

For a  genomes in a bottle reference sample, I have observed a genotype discordance as follows:

ref: `CA`
alleles: `CG` and `TG`

| Callset  | Genotype |
| --- | --- |
| GIAB | `1/2` |
| Test | `0/2` |

As you can see, t

[2019-02-20 20:54] droazen commented on #5696
@davidbenjamin

[2019-02-21 00:55] tfenne opened #5698 "Misleading StrandOddsRatio value when using --max-mnp-distance"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller with `--max-mnp-distance` filter.

### Affected version(s)
- [x] Latest public release version [4.1.0.0]
- [ ] Latest master branch as of [date of test?]

### Description
I think there's a problem with the StrandOddsRatio (SOR) annotation and the `--map-mnp-distance` flag.  I'm looking at a small region of NA24143 (one of the GIAB sa

[2019-02-21 04:16] nh13 opened #5700 "Understanding the implementation of the StrandOddsRatio"
I am trying to understand the calculation of the [`StrandOddsRatio`](https://software.broadinstitute.org/gatk/documentation/tooldocs/4.1.0.0/org_broadinstitute_hellbender_tools_walkers_annotator_StrandOddsRatio.php).  The online documentation and javadoc for the [`StrandOddsRatio` class](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/an

[2019-02-21 04:18] nh13 commented on #5700
Related to https://github.com/broadinstitute/gatk/issues/5698

[2019-02-21 16:18] vruano opened #5702 "Concise way to express repetitive intervals"
Some tools work with a large list of intervals. In some case these are quite repetitive and they could specify in a single line but due to the need to enumerate each interval explicitly in the interval lists it might result in a uncessary large file, potentially GB in size.

## Repetitive intervals.

For example the SV detection pipeline collects read counts at 100bp intervals. In a 3.2Gbp genome

[2019-02-21 16:20] davidbenjamin commented on #5543
@lbergelson I can look at this.

[2019-02-21 16:21] vruano commented on #5702
Request for comments @samuelklee @asmirnov239  @mwalker174 @droazen @lbergelson

[2019-02-21 17:05] ldgauthier commented on #5700
That might have been me.  I'm a little dyslexic.

[2019-02-21 17:14] ldgauthier commented on #5698
@tfenne the bam would definitely be useful for the MNP issue (although likely not necessary), but if you can give me just the 2x2 contingency table (the FORMAT SB) then I can take a look at that pseudo count issue.

[2019-02-21 17:20] davidbenjamin commented on #5696
@nh13 Could you provide a bam and the locus to reproduce the error?

[2019-02-21 17:21] ldgauthier commented on #5698
Actually the contingency tables for both variants in the split case and for the MNP would be super useful. You have to run in GVCF mode to generate them.

[2019-02-21 18:11] nh13 opened #5704 "F1R2 and F2R2 annotations not updated by GenotypeGvcfs"
The gVCF output of `HaplotypeCaller`:
[code]

The VCF output of `GenotypeGvcfs`:
[code]

In both cases, `F1R2` is `5,2,5,8,17,17,0`.   There are seven alleles in the gVCF but only three in the VCF, so the `F1R2` is wrong for the latter.

[2019-02-21 19:24] ldgauthier commented on #5704
Traditionally we've only used the OxoGReadCounts annotation for somatic data, which was single-sample until very recently.  I'll put a note in the docs and check the GGVCFs FORMAT combine operations.

Implementing an actual combine shouldn't be _too_ hard.  Is this a blocking issue for you @nh13 nh13?

[2019-02-21 20:49] tfenne commented on #5698
Thanks @ldgauthier! I think this is what you're asking for:

[code]

I should also be able to share the BAM later today - I just need to sanitize it a little before sharing.

[2019-02-21 22:02] nh13 commented on #5700
No worries.

[2019-02-21 22:04] nh13 commented on #5696
Will do, it'll be a day or two to scrub it.

[2019-02-21 22:13] nh13 commented on #5704
@ldgauthier not a blocking issue at all, I just wanted to report it, in case others stumble upon it, and if you had free time to take a look.

[2019-02-21 23:00] samuelklee commented on #5702
Just noting, as we discussed, this could allow us to condense coverage files, etc.  We'd want to make sure that bins are always validated and that we don't introduce use cases that corrupt the bins (e.g., filtering bins).  Also not really sure how hard indexing would be.  Should be in conjunction with #4717.

We are probably OK shuffling around relatively large interval and count files for the tim

[2019-02-22 05:22] davidbenjamin commented on #5543
@TedBrookings is correct that we can simply waive the check.  We could check for an empty region upstream in Mutect2, but we would also have to do it for HaplotypeCaller, which would be annoying.  There's basically no cost to running PairHMM on an empty set of reads once we have already assembled, so I don't see a good reason to treat this as a special case.

[2019-02-22 14:41] ldgauthier opened #5709 "Integration tests have a million different VC/Genotype setup methods"
Let's consolidate them all into src/testUtils/java/org/broadinstitute/hellbender/testutils/VariantContextTestUtils.java

[2019-02-22 15:11] jamesemery commented on #5709
👍 Furthermore perhaps we should come up with some scheme for documenting what exists in our test util packages, as I'm always finding myself having to reinvent the wheel because I didn't think to check in some htsjdk util class for the method I need.

[2019-02-22 16:38] #5543 closed

[2019-02-22 16:52] sooheelee commented on #5447
Can we close this then @lbergelson?

[2019-02-22 18:04] TedBrookings commented on #5543
@JJBio Unfortunately GATK 3 is end-of-life and will not have any more releases/bug-fixes.

[2019-02-22 18:08] davidbenjamin commented on #5543
Also @JJBio Mutect2 is not like HaplotypeCaller, which is not too changed from the 3.8 version.  It's a completely different tool -- new genotyping model, new assembly algorithms, new filters etc.

[2019-02-22 19:25] droazen commented on #5651
@cwhelan @ldgauthier Care to comment on this one?

[2019-02-22 19:25] droazen commented on #5631
@samuelklee Is this still happening?

[2019-02-22 19:32] jonn-smith commented on #5253
The WDL needs to be updated in general to be correct and include all the hooks for the latest Funcotator info.

[2019-02-22 19:36] samuelklee commented on #5631
Last I checked (perhaps a week or so after my last comment) it was still happening.  I've been running a lot of NIO with 4.0.4.0 in the past few days with no issue, though.

[2019-02-22 19:38] droazen commented on #5631
@samuelklee When you get a chance, could you repeat your test with latest gatk/master? We recently (ie., within the past 2 weeks) upgraded to a newer gcloud release, and I'm curious to test whether that had an effect.

[2019-02-22 19:39] sooheelee commented on #964
Adding myself as a contributer, given I developed and wrote #11060, and #11093 is derivative of the former.

[2019-02-22 20:29] ldgauthier commented on #5698
Perfect, thanks!

I'm pretty sure I've got it, in which case I don't need the bam.  The contingency table is ref vs. not ref.  For the 0|1 GT, those 57 reads are considered reference, but in the 1/2 case those 57 reads are considered alts.  On one level, that seems fair to me because none of those reads match the reference at both positions.  It does make for a less than informative comparison, th

[2019-02-22 20:34] ldgauthier opened #5711 "SOR way too high for hom-vars/het-non-refs at the ends of exons"
We acknowledge that in targeted capture the reads will predominantly from one strand at the ends of the targets, but we still try to calculate the strand bias for alt vs. ref.  The so-called StrandOddsRatio I wrote when I was young and naive (just don't blame me for the name) adds pseudo counts to the calculations to avoid dividing by zero, but this becomes disastrous at hom-var sites where all th

[2019-02-22 20:37] tfenne commented on #5698
Thanks @ldgauthier, that's definitely thought provoking.  Perhaps you are right that for het-non-ref (i.e. 1/2 and similar) genotypes we should consider skipping the strand bias test.  I had been assuming, incorrectly, that in a single sample case with a `1/2` genotype that the test would be based on the called alleles, not ref vs. alt.

Just thinking out loud about this, I wonder if computing SOR

[2019-02-22 22:04] tfenne commented on #5698
One more question related to this.  In playing around I've noticed that if I run HC in GVCF mode with `-A AS_StrandOddsRatio` it will output a table like this into the gVCF: `AS_SB_TABLE=0,0|34,24|21,33|0,0`.  But when I run GenotypeGVCFs this gets reduced to `AS_SOR=1.085`, and the original `AS_SB_TABLE` annotation is removed.  Is there any way to get `GenotypeGVCFs` to carry the table forward in

[2019-02-22 23:55] mepowers commented on #5690
Thanks @lbergelson - nice to meet you too.

Sorry for the delay here.  I had to set up gsutils on my system and am having gdb issues.

Submitting `sudo gdb /nfsdata-tmp/tools/gatk /home/bduser/mepowers/core.114856` I get back

[code]
I did try the yum --enablerepo, but it am getting the same error.

Any quick workarounds?  Thanks in advance for the help.  Will try again on Monday.

[2019-02-23 15:40] af8 commented on #5543
Just for information, when do you think a new release with this corrected bug will be available (possibly also in bioconda) ?

[2019-02-24 14:33] tfenne opened #5712 "InbreedingCoeff javadoc claims value is "phred-scaled p-value" but actual value is neither phred-scaled nor a p-value"
## Documentation request

### Tool(s) or class(es) involved
`InbreedingCoeff` variant annotation

### Description
The javadoc, and from there the generated website documentation, describes the value as being a phred-scaled p-value.  However, looking at the values produced and also the code it would appear to be the non-transformed value `1 - observed_hets / expected_hets`.

----

[2019-02-25 02:46] samuelklee commented on #5631
I collected coverage over 200 WGS BAMs on FC and didn't get a single failure, so hopefully this has indeed been fixed!  Thanks @droazen, will close for now.

[2019-02-25 02:46] #5631 closed

[2019-02-25 05:30] bbimber opened #5713 "GATKHelpDoclet-based Doc Generation and Embedded Images?"
Hello - I have a separate project that uses GATK4, and recently implemented something based on GATKHelpDoclet to auto-generate HTML docs from our walkers.  As you probably know, in addition to annotated arguments, the comment block at the top of the walker is incorporated into the final HTML.  Does this code have any ability to embed images into the final HTML, and if so do you have an example bei

[2019-02-25 05:30] davidbenjamin commented on #5684
@af8 We make no promises when external tools come between `Mutect2` and `FilterMutectCalls`.  That being said, I believe PR #5688 will fix this.

[2019-02-25 05:33] davidbenjamin commented on #4959
Assigning myself as a reminder for the upcoming PR in which overlapping mates are not discarded.

[2019-02-25 05:41] davidbenjamin commented on #2987
@sooheelee After our good experience using Mutect2 for mitochondria I bet that it works decently off the shelf for microbiomes.  So how about we tell the next person who asks that it's untested but there's a good chance it works, and if it doesn't the M2 team promises to work really hard to satisfy early adopters?

[2019-02-25 05:45] davidbenjamin commented on #5695
@fpbarthel Good catch!  This is definitely the wrong behavior.

[2019-02-25 05:48] davidbenjamin commented on #5629
Closed by #5675, which made the tool a `VariantWalker`.

[2019-02-25 05:48] #5629 closed

[2019-02-25 13:49] cmnbroad commented on #5713
@bbimber There isn't anything built in specifically for images, but ultimately the process is built on top of javadoc, and there are various stackoverflow threads on how to embed html image tags in javadoc.

[2019-02-25 15:01] drifty914 opened #5714 "gCNV Open file limits exceeded at GermlineCNVCallerCohortMode step"
@samuelklee I'm running into an error for the `cnv_germline_case_scattered_workflow` WDL pipeline to create a Panel of Normals. It seems during the _GermlineCNVCallerCohortMode_ step, the pipeline opens up tens-of-thousands of files that it doesn't close, causing the system to crash. This seems to happen for me both with the Docker image and Standalone GATK4.1.0.0 jar.

 It reminds me [of this iss

[2019-02-25 15:17] samuelklee commented on #5714
Hi @drifty914, thanks for bringing this to our attention.  Can you clarify a few things?  It looks like you are trying to run the cnv_germline_cohort_workflow.wdl (not the case-scattered WDL) to generate a panel using 5 samples, correct?  How many bins are in your interval list, and how many bins are you running per sharded GermlineCNVCaller task?  I'm surprised that you are running into these sor

[2019-02-25 16:24] samuelklee opened #5716 "Improve capabilities of CNV collections classes."
In order of priority:

1) The ability to query and/or stream intervals for locatable collections might reduce the overhead of file localization in the germline workflows---even though we only run GermlineCNVCaller on a subset of intervals in any particular shard, we localize the entire read-count file.  This could be enabled in the parent class to benefit all locatable files, but since it will pro

[2019-02-25 16:30] drifty914 commented on #5714
Yes the `cnv_germline_cohort_workflow.wdl` sorry for the typo! I first encountered this using 39 samples and `num_intervals_per_scatter` set to 5000 (using the standalone jar). The output above using just using 5 samples was trying the docker image and had `num_interval_per_scatter` set to 20 ([as that's what I saw here](https://github.com/broadinstitute/gatk/blob/master/scripts/cnv_cromwell_tests

[2019-02-25 16:37] bbimber commented on #5713
OK, thanks.  Given my build step already copies stylesheet.css into the output directory (analogous to what GATK does), it seems like it would be easy enough to have other resources copied too, and linking to them should be pretty easy.

[2019-02-25 16:37] #5713 closed

[2019-02-25 16:48] samuelklee commented on #5714
OK, thanks @drifty914.  Note that the file with num_interval_per_scatter = 20 is a minimal test case that is run with our continuous integration tests.  In real-world use, you want enough intervals in each shard to fit a denoising model---probably 5000 or more is safe.

I am wondering if your issue is related to https://github.com/broadinstitute/gatk/issues/4782 and https://askubuntu.com/questions

[2019-02-25 17:52] sooheelee commented on #5383
I've opened a Monday.com pulse for @rcmajovski and so will close this in the meantime.

[2019-02-25 17:52] #5383 closed

[2019-02-25 18:01] samuelklee commented on #4782
@cmnbroad @droazen will there be any action on this?  I'm not sure if #5714 might be related (although I'm not sure why we get a ulimit message there instead of a permission denied)?

[2019-02-25 18:22] bhanugandham opened #5717 "HaplotypeCallerSpark crashes:8 parallel GATk jobs (8 samples) using 5 Spark cpus on each in a node with 40 cpus"
User Question: I'm trying to speed up the process of calling variants using SPARK. I have access to a slurm HPC cluster, so I guess it's not that straightforward to run GATK in a proper distributed master-slave architecture (if there is any tutorial on how to setup slurm jobs to use GATK Spark tools on multiple nodes I would appreciate it a lot).
Therefore, I run GATK in local mode with some SPARK

[2019-02-25 18:24] bhanugandham commented on #5717
[gatk4_errorLines.log](https://github.com/broadinstitute/gatk/files/2901904/gatk4_errorLines.log)
[parallel.log](https://github.com/broadinstitute/gatk/files/2901906/parallel.log)
[hs_err_pid82632.log](https://github.com/broadinstitute/gatk/files/2901907/hs_err_pid82632.log)

Please find attached error logs presented by the user.

[2019-02-25 18:25] bhanugandham commented on #5717
@jamesemery @tomwhite @cmnbroad
Based on our conversation during GATK4 office hrs looping you all in in this issue.

[2019-02-25 18:50] droazen commented on #5717
@tomwhite Can you please have a look?

[2019-02-25 18:54] droazen commented on #5631
@samuelklee That's really good news! Do you think it was the gcloud upgrade that did the trick, then?

[2019-02-25 19:11] jjfarrell commented on #5685
This looks like is was also reported earlier for version 4.1.0.0  #5647.

[2019-02-25 19:39] samuelklee commented on #5631
Not sure if I can say that for certain, but sounds reasonable.  In any case, I'll keep an eye out to make sure it doesn't crop back up!

[2019-02-25 23:27] dislek opened #5719 "DetermineGermlineContigPloidy --contig-ploidy-priors: HOW DO YOU GENERATE THE PRIOR PROBABILITIES?"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2019-02-25 23:29] dislek commented on #5719
Hello, I am trying to use the DetermineGermlineContigPloidy function in the GATK/4.1.0.0 and am running into some issues. I am having trouble figuring out how to generate the file for the --contig-ploidy-priors parameter. There seems to be absolutely no documentation regarding this issue. Am i missing something?

[2019-02-26 01:18] samuelklee commented on #5719
Hi @dislek, this type of question might be more appropriate for the GATK forum (and has actually been previously asked there, see https://gatkforums.broadinstitute.org/gatk/discussion/12543/determinegermlinecontigploidy and the thread linked in the answer).

The priors file is a TSV that is described in the tool documentation for DetermineGermlineContigPloidy.  You should manually construct this T

[2019-02-26 01:18] #5719 closed

[2019-02-26 04:43] davidbenjamin commented on #5623
@yodeng This is the intended behavior.  I think it's confusing because although there is a reverse complement symmetry in orientation bias artifacts in that a G->T mutation on the template strand will show up as G->T in some reads and C->A in other reads.  However, it is not fully symmetric because the G->T is always on read 1 and C->A is always on read 2.

When you tell `FilterByOrientationBias`

[2019-02-26 04:43] #5623 closed

[2019-02-26 04:50] davidbenjamin opened #5720 "Handle unmarked duplicates where mates have MQ = 0"
PCR duplicates may not be marked if their mates all have mapping quality zero and are assigned to different places.  This causes false positives in Mutect2.

[2019-02-26 04:53] davidbenjamin commented on #2950
I doubt we will ever do this.

[2019-02-26 04:53] #2950 closed

[2019-02-26 10:27] tomwhite commented on #5717
A few comments:
* Spark job failures are usually memory related. What was the command run in this case?
* Running HaplotypeCallerSpark is memory and compute intensive and should really be done on a cluster such as a Google Cloud Dataproc cluster. There are some scripts to help with this process here: https://github.com/broadinstitute/gatk/tree/master/scripts/spark_eval. Even if you don't use the s

[2019-02-26 11:41] Yu-jinKim commented on #4825
Hello, i've had a similar issue:

`[February 25, 2019 3:59:35 PM GMT] org.broadinstitute.hellbender.tools.copynumber.GermlineCNVCaller done. Elapsed time: 106.19 minutes.
Runtime.totalMemory()=745537536
org.broadinstitute.hellbender.utils.python.PythonScriptExecutorException:
python exited with 137
Command Line: python /tmp/cohort_denoising_calling.5199478827672377510.py --ploidy_calls_path=/mnt/s

[2019-02-26 13:57] samuelklee commented on #4825
The first issue looks like an out of memory error.  You may need to scatter your intervals into separate shards, as is done in the WDLs: https://github.com/broadinstitute/gatk/tree/master/scripts/cnv_wdl/germline

The second issue regarding the output directory creation is by design---CNV tools require the output directory to exist beforehand.

[2019-02-26 14:06] samuelklee commented on #4825
See discussion at https://gatkforums.broadinstitute.org/gatk/discussion/11711/germlinecnvcaller-interval-merging-rule-error#latest regarding output directory creation.

[2019-02-26 14:12] samuelklee commented on #4825
@sooheelee do you remember what version you were using when you encountered this?  As far as I can tell, we should fail early in the most recent version (as you can see from @Yu-jinKim's post).

[2019-02-26 14:18] samuelklee commented on #4825
Changed the name of the issue.  As discussed in the above forum thread, behavior is already consistent across CNV tools---except for DetermineGermlineContigPloidy, where the check is missing, so this issue is really just a reminder to add that.  We don't really have conventions for this sort of thing GATK-wide, though.

[2019-02-26 14:38] cmnbroad commented on #5680
Saw it again [here](https://travis-ci.com/broadinstitute/gatk/jobs/180435353).

[2019-02-26 15:43] ldgauthier opened #5722 "Overlapping deletion corner case for ReblockGVCF"
When each haplotype has a deletion and they overlap, but the first is low quality, the resulting reference block gets the wrong END.

Input:
[code]

Current behavior:
[code]

Expected behavior:
[code]
such that the END of the ref block from the first deletion doesn't exceed the start of the next deletion

This may be as simple as checking the start of the next variant when a deletion is converted

[2019-02-26 16:31] samuelklee commented on #5686
Glad you were able to resolve your issue.  Not sure if this is specific to the CNV tool or if the exception caused by the Spark configuration is more general.  Tagging engine team @droazen, but closing for now.

[2019-02-26 16:31] #5686 closed

[2019-02-26 20:25] #2128 closed

[2019-02-26 20:31] cmnbroad opened #5726 "Enable tools that write VCFs to write output to cloud storage"
https://github.com/broadinstitute/gatk/pull/5378 selectively enabled some tools such as SelectVariants and HaplotypeCaller to write VCFs to a `Path`, but there are numerous other tools that still use `createVCFWriter(final File outFile)`. These should be switched over to use the `Path` overload `createVCFWriter(final Path outPath)` and `createVCFWriter(final File outFile)` should be removed.

[2019-02-26 22:30] nh13 opened #5727 "GenotypeGvcfs mangles the input phase"
From my review of the code, we have:
1. `GenotypeGvcfs` first [merges overlapping variant contexts](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/GenotypeGVCFs.java#L271), resulting in genotypes with no-calls.
2. Next, the [samples are re-genotyped](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hel

[2019-02-26 23:28] bhanugandham opened #5729 "MarkDuplicateSpark does not find file if there is a space in the file path"
Hi GATK Team.

I got the following error when using MarkDupliactesSpark tool:

`A USER ERROR has occurred: Couldn't write file /media/Berechnungen/190218_NB501654_0110_AHT7VFBGX9/0046-19_Exom (Intelligenzminderung)/0046-19.dedup.bam because writing failed with exception File file:/media/Berechnungen/190218_NB501654_0110_AHT7VFBGX9/0046-19_Exom%20(Intelligenzminderung)/0046-19.dedup.bam.parts/heade

[2019-02-26 23:29] bhanugandham commented on #5729
@cmnbroad
As discussed in the meeting I created a github ticket for this issue. Who does this need to be assigned to?

[2019-02-27 00:14] sooheelee commented on #4825
@samuelklee Is this type of thing something you'd like for us to start documenting, e.g. in the repo wiki? There is some need for this type of document if we expect more external contributions going forward. We can ask @droazen to weigh in.

[2019-02-27 03:37] samuelklee commented on #5233
We decided in #5715 to disable this at the WDL level.

[2019-02-27 15:44] samuelklee commented on #4825
We had some discussion about conventions in the hellbender Slack.  Different tools have different requirements or expectations, but it would be good to converge on and document a couple of patterns.

[2019-02-27 16:19] samuelklee opened #5730 "Check reproducibility in GermlineCNVCaller step."
Looking back at some Slack chatter with @mbabadi from September 2018, I was seeing some runs of GermlineCNVCaller that yielded slightly different results (mostly slight shifts in breakpoints).  Not sure if this is still a problem (or if @vruano or @mwalker174 encountered this), but if so, we should check RNG seeds and initializations in the inference code.  @mbabadi also raised the possibility of

[2019-02-27 17:39] droazen opened #5731 "Evaluate Circle CI as a travis replacement"

[2019-02-27 19:44] ldgauthier commented on #5727
I would have guessed that GenotypeGVCFs is reproducing the phasing from the PGT FORMAT tag, but then they don't agree in the output.  I trust HaplotypeCaller more.  I'll take a look at GenotypeGVCFs.

[2019-02-27 19:52] cmnbroad commented on #5714
@jamesemery Any chance you could make this change while you're in there making the other changes to the docker ?

[2019-02-27 19:57] droazen commented on #4782
@samuelklee I can have someone take another look at this, though it seems unlikely to me that it's the same problem reported in https://github.com/broadinstitute/gatk/issues/5714

[2019-02-27 20:01] cmnbroad commented on #5714
Oh, I tagged the wrong ticket. I meant to tag James in https://github.com/broadinstitute/gatk/issues/4782, which we should probably do whether or not its related to this.

[2019-02-27 20:23] samuelklee commented on #4782
Thanks for looking into it!  I guess Cromwell also essentially sets `HOME`, which is probably why we don't typically run into this.  Do we have any non-Cromwell Docker tests that could catch a regression?

[2019-02-27 20:53] drifty914 commented on #4782
@samuelklee I forgot to note in #5714 that I had to manually set the path for `HOME` (to a mounted folder) when using the Docker image as it defaulted to `ROOT` and would complain otherwise.

[2019-02-27 20:55] samuelklee commented on #4782
OK, thanks @drifty914, that's very useful to know.  Was that when using the Docker image with or without Cromwell---hopefully just the latter?

[2019-02-27 21:00] davidbenjamin commented on #3697
We just merged PR #5562, which addresses one of @munrosa's missed calls.

I am investigating the harder fix of threading in both directions from the first unique kmer.  It seems that there is nothing fundamentally wrong with this change, but it exposes mapping artifacts that we have never had to handle before.  I think I know how to address these but it will take a while.  Maybe two months, though

[2019-02-27 21:12] drifty914 commented on #4782
@samuelklee that was when using the Docker image with Cromwell (v34).

[2019-02-27 21:21] nh13 commented on #5727
@ldgauthier definitely `HaplotypeCaller` is doing the right thing.  I did walk through the GenotypeGvcfs code, and it doesn't look at the PGT FORMAT tag at all, it just leads that tag unmodified from the input.

[2019-02-28 03:47] davidbenjamin commented on #4153
I don't see this problem in the code any more.

[2019-02-28 03:47] #4153 closed

[2019-02-28 15:10] samuelklee commented on #5714
@drifty914 Do you encounter the ulimit message when you run a *single* shard (covering say 5000 intervals) of GermlineCNVCaller?

[2019-02-28 16:31] jamesemery commented on #5720
@davidbenjamin If you aren't aware there is a proposal to handle this case better in MarkDuplicates floating around in Picard. If you haven't already expressed your opinions it may be worth leaving a comment on the discussion https://github.com/broadinstitute/picard/issues/1285#issuecomment-466123736.

[2019-02-28 17:22] samuelklee commented on #5716
@vruano @mwalker174 Any estimates on cost that could help determine the priority of issue 1?  Specifically, is the disk cost required to localize the entire count file for all samples a determining factor?  If we can drastically reduce this cost, then we can dedicate more to increasing resolution, etc.

Here is a minimal set of fixes that could enable the querying of intervals for GermlineCNVCalle

[2019-02-28 18:55] davidbenjamin commented on #5720
Thanks @jamesemery!

[2019-02-28 18:59] #5253 closed

[2019-02-28 22:43] bbimber opened #5737 "Newer Java Versions?"
Hello - is GATK4 considering supporting newer java versions?  I'm sure you know JDK8 is nearing end of life?

[2019-02-28 23:09] lbergelson commented on #5737
We'd really like to be able to move forward to newer java versions.  Unfortunately we have a pretty long list of dependencies which don't support any version newer than 8 yet. In particular, our dependency on Spark is problematic.

Spark is stuck on java 8 because of issues with scala on java 9+ as well as issues with their dependencies.  As I understand it, Java 9+ made changes to various methods

[2019-02-28 23:24] drifty914 commented on #5714
@samuelklee I was able to get it to complete a single shard after setting it to 5000 using the local jar (wasn't able to try out Docker on my current system).

[2019-02-28 23:42] lesleygray opened #5738 "DetermineContigPloidy BETA AssertionError CNV WDL"
## Bug Report

### Affected tool(s) or class(es)
org.broadinstitute.hellbender.tools.copynumber.DetermineGermlineContigPloidy

### Affected version(s)
gatk-4.0.12.0

### Description
Bug in DetermineGermlineContigPloidy

`org.broadinstitute.hellbender.utils.python.PythonScriptExecutorException:
python exited with 1
Command Line: python /tmp/cohort_determine_ploidy_and_depth.8087328354193956874.py -

[2019-03-01 00:09] bartgrantham opened #5739 "ApplyBSQR produces invalid csv when readgroups contain commas, resulting in a crash"
## Bug Report

### Affected tool(s) or class(es)
GATK 4.1.0.0 ApplyBSQR

### Affected version(s)
- [x] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description
The csv produced by ApplyBSQR is invalid.  It doesn't escape commas in fields, resulting in an error in the R script.

#### Steps to reproduce
If you have a comma in the readgroup in a BAM,

[2019-03-01 00:55] samuelklee commented on #5738
@lesleygray Perhaps I'm not understanding the issue---from the title, it sounds like you are trying to use the BETA version of the GATK jar/Docker with the 4.0.12.0 germline CNV WDL?  The jar/Docker and WDLs all need to be from the same version of GATK, as these are updated in lockstep.

It looks like the name of the argument that the warning is complaining about (`num_thermal_advi_iters`) was int

[2019-03-01 01:09] samuelklee commented on #5714
Thanks @drifty914, it sounds like you may need to limit the number of concurrent jobs that Cromwell is allowed to scatter.  We typically run gCNV in the cloud and scatter across multiple VMs, so we haven't encountered this issue before.

You could also try to reduce the total number of shards (by increasing num_intervals_per_scatter), which should be fine if each shard has enough memory.  We typic

[2019-03-01 02:15] FrankFeng commented on #5679
Is it possible to add an option, which can force to re-annotate or overwrite previous annotations? Sometimes we need to re-annotate a VCF with a newer version of Funcotator. Thanks!

[2019-03-01 07:34] azzaea commented on #4733
To add to this, with GATK4.1.0.0 no Picard version shows up regardless of whether it is a GATK or Picard tool I'm invoking now. Below is a snippet:
For a Picard tool:
[code]
And for a GATK tool:
[code]

[2019-03-01 11:53] olavurmortensen opened #5740 "GenomicsDBImport error (VariantStorageManagerException exception : Error while syncing array to disk)"
As discussed in #5608 with @nalinigans.

## Software version

GATK v4.1.0.0-32-g213f99c-SNAPSHOT

## OS/Platform

[code]

## Command

[code]

## CIFS configuration

/etc/fstab:
[code]

## Log

Using GATK wrapper script /mnt/fargen/experiments/joint_call/gatk_27-02-2019_213f99c/gatk/build/install/gatk/bin/gatk
Running:
    /mnt/fargen/experiments/joint_call/gatk_27-02-2019_213f99c/gatk/build/instal

[2019-03-01 13:55] drifty914 commented on #5714
Thanks @samuelklee, I was able to get the pipeline to finish last night using the 5000 interval setting as long as I used a single thread to handle the larger memory footprint. I might be able to increase this slightly after some tuning tests. Likely the threads/memory issue is why my earlier attempts to use 5000 intervals with many more samples failed.

[2019-03-01 14:08] samuelklee commented on #5714
OK, great to hear!  I'll close this issue for now, but thanks for bringing it to our attention.  We might try to release some documentation on how memory requirements, runtime, etc. scale with the size of the coverage matrix in each shard.

[2019-03-01 14:08] #5714 closed

[2019-03-01 16:54] cmnbroad commented on #5740
This looks the same as https://github.com/broadinstitute/gatk/issues/5342.

[2019-03-01 18:09] davidbenjamin commented on #5720
Closed by #5734.

[2019-03-01 18:09] #5720 closed

[2019-03-01 18:20] davidbenjamin commented on #5695
@fpbarthel This will be fixed once PR #5743 goes in.  Thanks for spotting it!

[2019-03-01 18:33] #5609 closed

[2019-03-01 19:40] fpbarthel commented on #5695
Thanks!

[2019-03-01 20:01] samuelklee opened #5744 "Harden ScatterIntervals task in CNV WDL."
@LeeTL1220 mentioned having difficulty running gCNV on REBC WGS normals.  As far as I can tell, other than runs failing due to quota or FC issues, there were some runs that failed because the WDL version and the Docker version were not in sync.

Specifically, these runs failed because the WDL was more recent than the Docker, causing the ScatterIntervals task (which was running an out-of-date Inter

[2019-03-01 20:02] samuelklee commented on #5744
@LeeTL1220 were there any other issues you ran into?

[2019-03-01 21:29] sooheelee commented on #4825
If you don't mind the list being public, the github wiki, in particular this existing article https://github.com/broadinstitute/gatk/wiki/GATK4-Documentation-Guidelines seems like a good place to start.

[2019-03-01 21:33] sooheelee commented on #4825
I made you a page to start collecting such reminders at https://github.com/broadinstitute/gatk/wiki/Checks-and-tests-guidelines.

[2019-03-01 21:46] LeeTL1220 commented on #5744
I think @asmirnov239 addressed other issues as those came up.  If I ran
gCNV again, I would get latest.

On Fri, Mar 1, 2019 at 3:02 PM samuelklee <notifications@github.com> wrote:

--
Lee Lichtenstein
Broad Institute
105 Broadway, Room 332
Cambridge, MA 02142
617 714 8632

[2019-03-02 00:04] tfenne commented on #5314
Just FYI to @ldgauthier that I think this issue can be closed now that #5318 is merged and released.

[2019-03-02 00:29] tfenne commented on #5696
@davidbenjamin I've been looking at this with @nh13 and I think what's going on here is a little different that @nh13 described.  Specifically when I try to reproduce this I get results very similar to those shown above, but with the MNP calling turned on I also get a second variant at `chr2:241815307`.  I don't have access to the original calls @nh13 was looking at, but I suspect they may contain

[2019-03-02 00:35] samuelklee commented on #4825
Excellent, thanks!

[2019-03-02 08:11] nalinigans commented on #5740
Did you `export TILEDB_DISABLE_FILE_LOCKING=1` before invoking ./gatk?

[code]

[2019-03-02 12:27] samuelklee commented on #5680
Seems like I'm getting this in almost 50% of my builds.  Master is failing because of it---will restart.

[2019-03-03 05:09] nalinigans commented on #5740
@olavurmortensen, looks like TILEDB_DISABLE_FILE_LOCKING=1  did not get passed to the program. Did you use `export TILEDB_DISABLE_FILE_LOCKING=1` as the command to set the environment variable?
If yes, then please use the attached zip that contains a shared library with some tracing messages.
[libgenomicsdb.zip](https://github.com/broadinstitute/gatk/files/2922767/libgenomicsdb.zip)
To use the zip

[2019-03-03 21:45] samuelklee commented on #4825
Just finished switching over all of the CNV tools to fail early if directories are not writeable---or do not exist and cannot be created---only to realize that this behavior is inconsistent with that of Picard IntervalListTools (which is used in the gCNV pipeline).

That tool fails early if the output directory is not writeable or does not exist, and although there is a code path later that sugges

[2019-03-03 22:36] #5695 closed

[2019-03-04 03:05] EvanTheB opened #5746 "Maintain reference md5s from bam to gvcf"
GATK at some point started printing the reference contig md5s in the bam header. This is great.

    @SQ     SN:chr1 LN:248956422    AS:38   M5:6aef897c3d6ff0c78aff06ac189178dd     UR:/seq/references/Homo_sapiens_assembly38/v0/Homo_sapiens_assembly38.fasta     SP:Homo sapiens

However when I use HaplotypeCaller to create my gvcf, only the reference length and name is shown, the md5 is dropped. I d

[2019-03-04 11:48] tomwhite commented on #5680
I haven't been able to reproduce this locally by running `ReadsPipelineSparkIntegrationTest` repeatedly. In fact, it looks like another test is interacting with this one, since the stack trace references HDFS paths, but this test doesn't use HDFS at all.

Another oddity: `TribbleIndexedFeatureReader` implies it's reading a vcf.idx file, but `HaplotypeCallerSpark`, where the exception occurs, is no

[2019-03-04 13:44] cmnbroad commented on #5746
Needs verification, but very likely this is due to https://github.com/samtools/htsjdk/issues/730. This was fixed in https://github.com/samtools/htsjdk/pull/835, which was never merged, but could be fixed independently.

[2019-03-04 14:11] olavurmortensen commented on #5740
@nalinigans Yeah, I forgot "export". It works now, you can close the issue. Thank you.

[2019-03-04 14:27] ldgauthier commented on #5314
Closed by #5318

[2019-03-04 14:27] #5314 closed

[2019-03-04 15:45] cmnbroad opened #5747 "Update utils.text package to work on java.nio.Path"
`TableReader` and `TableWriter` only work on `java.io.File`, and need to be updated to accept `java.nio.Path` so we can Path-enable the tools that have code paths that depend on this package, like FilterByOrientationBias.

[2019-03-04 16:54] samuelklee opened #5748 "Expose point size in somatic CNV plotting tools."
Some users are using rather sparse lists of common sites for WES, which sometimes yields very faint allelic points.

[2019-03-04 17:09] samuelklee opened #5749 "Add unit tests for CopyNumberArgumentValidationUtils."
Contains mostly very simple utility methods, but could stand some testing.

[2019-03-04 17:22] #5740 closed

[2019-03-04 17:22] nalinigans commented on #5740
Not an issue.

[2019-03-04 17:22] droazen opened #5751 "CNNScoreVariants hangs when conda environment is not set up"

[2019-03-04 17:32] cmnbroad commented on #5751
Related to https://github.com/broadinstitute/gatk/issues/4127.

[2019-03-04 19:43] samuelklee commented on #5738
Going to go ahead and close this.  @lesleygray feel free to reopen if I did not accurately diagnose the issue above.

[2019-03-04 19:43] #5738 closed

[2019-03-04 22:07] #5447 closed

[2019-03-04 23:12] samuelklee commented on #4629
@droazen any reason not to fix this?

[2019-03-05 01:52] kgururaj commented on #5570
I'm assuming you will have the subset of samples before creating a GenomicsDBFeatureReader object (and before creating the corresponding Protobuf export configuration object).

More precisely, you are NOT requesting a line by line filter similar to:
At pos 100, compute INFO fields etc including only the samples whose QUAL > 5
At pos 102, compute INFO fields etc including only the samples whose QUA

[2019-03-05 11:52] samuelklee opened #5754 "Expose number of samples for emitting denoised copy ratios in gCNV or optimize sampling method."

[2019-03-05 13:34] ldgauthier commented on #5570
Right. I want to subset by sample name, effectively taking a slice of the
position by sample genotype matrix and computing Info annotations based
only in the kept samples.

On Mon, Mar 4, 2019, 8:52 PM Karthik Gururaj <notifications@github.com>
wrote:

[2019-03-05 13:51] samuelklee commented on #5730
Hmm, not able to reproduce this locally with master after many experiments.  Here are the two original FC runs that gave different results, for reference:

https://portal.firecloud.org/#workspaces/broad-firecloud-dsde/GATK_Germline_CNV_Validation_SFARI_WES_v1/monitor/697a23c3-744e-4cd1-af2e-4773783106d2
https://portal.firecloud.org/#workspaces/broad-firecloud-dsde/GATK_Germline_CNV_Validation_SFAR

[2019-03-05 14:15] samuelklee commented on #5716
Hacked together a proof-of-principle in sl_indexed_counts.  This enables streaming of indexed counts (when they are specified by a bucket, although we should change this to trigger on the presence of an index) only for the requested intervals in the gCNV step, which would cut disk costs to practically zero.  We could enable this in the contig-ploidy step as well, although the cost benefit is not a

[2019-03-05 16:27] droazen commented on #4629
I defer to @cmnbroad on this one -- Chris, could you comment?

[2019-03-05 16:34] cmnbroad commented on #4629
Yes, sorry for not having gotten around to these, but yes this definitely this should be fixed.

[2019-03-05 17:26] droazen commented on #5282
Closing, as GATK does now read/write SAM 1.6.

[2019-03-05 17:26] #5282 closed

[2019-03-05 18:03] kgururaj commented on #5570
If the sample name does not exist in the vid map (JSON file), should we throw an error or print warning and continue?

[2019-03-05 18:27] droazen opened #5756 "Support HGVS representation in Funcotator"
As described here: http://varnomen.hgvs.org/

[2019-03-05 18:36] droazen commented on #4733
@azzaea If you run just `gatk --version`, it will print both the GATK and the Picard versions:

[code]

We should make the output of `gatk ToolName --version` consistent with the output of `gatk --version`.

[2019-03-05 19:00] droazen commented on #4733
Fixed in https://github.com/broadinstitute/gatk/pull/5757

[2019-03-05 20:12] #4733 closed

[2019-03-06 02:26] davidbenjamin opened #5763 "Unit test Mutect2 filters"
This should be done after #5688 does in.

Some Mutect2 integration tests should be deleted once this is done.

[2019-03-06 06:20] samuelklee opened #5764 "Investigate and address memory leak in gCNV."
There appears to be a memory leak in gCNV coming from Theano 0.9.0, possibly fixed in https://github.com/Theano/Theano/pull/5832.  A few possible fixes:

1) Update Theano to the latest 1.0.4 version.  I've tried this and it looks like the leak goes away.  Need to confirm reproducibility of results between versions, see also #5730.
2) Configure Theano 0.9.0 to use MKL, rather than OpenBLAS.  It app

[2019-03-06 10:19] azzaea commented on #4733
Thanks @droazen . That works

[2019-03-06 11:34] samuelklee commented on #5764
With Theano 1.0.4, a shard of 50 samples x 25000 intervals never exceeds more than ~4GB python memory utilization and is pretty constant over the course of the run.  I think the VMs we have typically been using for 200x5000 shards are rather oversized, or we could squeeze many more intervals in each.

[2019-03-06 13:48] yfarjoun commented on #4825
Picard tries to adhere to the following (but it's up to each tool to figure
out):

1. Check input and output files for readability/writability as soon as
possible.
2. Delete incomplete outputs in case of caught exception.
3. Return non-zero value in case of error.

On Sun, Mar 3, 2019 at 4:45 PM samuelklee <notifications@github.com> wrote:

[2019-03-06 15:29] pcostanza opened #5765 "Wrong center locations in BandPassActivityProfile"
## Bug Report

### Affected tool(s) or class(es)
org.broadinstitute.hellbender.utils.activityprofile.BandPassActivityProfile

### Affected version(s)
Latest master branch as of March 6, 2019

### Description
Line 147 should read:
[code]
instead of
[code]

Likewise, line 154 should read:
[code]
instead of
[code]

Otherwise, the location changes in org.broadinstitute.hellbender.utils.activityprofile

[2019-03-06 15:43] clsgithubusr opened #5766 "Transition from pymc3/theano to new ML framework."
----

## Bug Report

### Affected tool(s) or class(es)
- GATK
- gcnvkernel
- theano

### Affected version(s)
- GATK 4.1.0.0
- gcnvkernel 0.0.7
- theano 0.9.0
- GCC 7.3.0

### Description
I have installed the python package theano(which is a requirement of gcnvkernel)  with python 3.6.6 which is compiled with gcc 7.3.0. I am not using the conda environment to install these packages.
Then i tried to

[2019-03-06 15:47] samuelklee commented on #5764
I was able to run a 50x100000 shard on my desktop with 32GB.  Note that we typically run 200x5000 with 30GB n1-standard-8s, so this represents roughly a *factor of 5* improvement.

Memory usage during the run (which I arbitrarily limited to a small number of iterations, which shouldn't affect memory) was as follows:

![gcnv-100k-mem](https://user-images.githubusercontent.com/11076296/53893288-ec94

[2019-03-06 15:54] samuelklee commented on #5764
Forgot to mention that this is all in cohort mode, so it's conceivable case mode could be even cheaper and that we could run more samples in each shard.  Not sure if the denoising-model parameters are fixed in a way that reduces memory usage, but this should be easy enough to check.

[2019-03-06 16:21] samuelklee commented on #4825
Thanks, @yfarjoun, I think those are reasonable.  Just to be clear, the code for the tool mentioned above is a little confusing, in that an early fail for writability when the directory does not exist prevents us from reaching code that appears to be intended to create the directory.  Not a big deal in the end (and I checked that this was also the case before the PR).

But minor things like this c

[2019-03-06 17:56] davidbenjamin commented on #5765
@pcostanza You're correct; the current code does not respect the propagation of the case `ActivityProfileState.Type.HIGH_QUALITY_SOFT_CLIPS`.

[2019-03-06 18:00] samuelklee commented on #5766
Thanks @clsgithubusr, we are well aware that Theano is no longer in development.  There are plans to move future model implementations to pyro (https://github.com/pyro-ppl/pyro) and some prototype models have already been developed in that framework.  As is stated in the post you linked, things move relatively quickly in the ML world!

Fortunately, Theano is a relatively mature and stable framewor

[2019-03-06 18:03] davidbenjamin commented on #5712
@tfenne You're quite right.

[2019-03-06 18:03] samuelklee commented on #5766
See also: https://medium.com/@pymc_devs/theano-tensorflow-and-the-future-of-pymc-6c9987bb19d5

[2019-03-06 18:07] samuelklee commented on #5764
gCNV runs with (Theano 0.9.0 + OpenBLAS) vs. (Theano 1.0.4 + MKL + MKL numpy) are typcially consistent up to 12+ decimal places, oftentimes more.  So I'm OK with making this change.

@lucidtronix any concerns about switching to MKL numpy?

[2019-03-06 18:20] davidbenjamin commented on #5564
@ldgauthier what do you think?

[2019-03-06 19:01] samuelklee commented on #5730
Still not seeing any issues with OpenMP + MKL + Theano 1.0.4 from the runs done in #5764.  Could this be FC/GCE specific?

[2019-03-06 19:11] samuelklee commented on #5764
For reference, plots of memory usage for a 50x10000 shard:

![gcnv-10k-mem](https://user-images.githubusercontent.com/11076296/53906618-6be46100-4019-11e9-8d70-5971fd5d2e35.png)

It appears that the 0.9.0 leak only occurs during denoising + sampling.

Not sure if differences in runtime are indicative of OpenBLAS vs. MKL performance or within the noise.  I suppose I can test 1.0.4 + OpenBLAS if we

[2019-03-06 20:18] ldgauthier commented on #5564
I've always thought these were weird.  I'm told they were an empirical fit to NA12878 data, but I'm not sure I believe that 100%.  They're also an order of magnitude larger than other implementations I've seen, though that probably doesn't matter.

[2019-03-06 20:30] davidbenjamin commented on #5564
The thing about empirical fits is that 99.99% of the time it won't matter because trying to align a SNP read to an indel haplotype will give you a long run of mismatches and a vanishingly small likelihood, so there's hardly any signal pushing the parameters in the right direction.

[2019-03-06 20:37] samuelklee opened #5771 "Improve logging and exception handling of CreateReadCountPanelOfNormals."
See some issues---mostly stemming from the HDF5 library and the BLAS library optionally used by MLLib SVD at e.g.

https://gatkforums.broadinstitute.org/gatk/discussion/23591/createreadcountpanelofnormals-in-gatk4-1-doesnt-output-valid-hdf5-files#latest
https://gatkforums.broadinstitute.org/gatk/discussion/12537/get-error-when-using-createreadcountpanelofnormals-in-calling-somatic-copy-number-vari

[2019-03-06 20:42] samuelklee commented on #5771
Currently we catch any RuntimeExceptions, try to delete the partially created PoN, and emit a GATKException, but perhaps we need to cast a wider net.

[2019-03-07 01:04] #5478 closed

[2019-03-07 01:04] #5479 closed

[2019-03-07 15:50] rong923 commented on #5543
mutect2 stopped at chromosome 1

$ java -jar -Xmx12g gatk-4.1.0.0/gatk-package-4.1.0.0-local.jar Mutect2 -R Homo_sapiens_assembly19.fasta  -I Specimen_SNCR.10_1.bam -tumor Specimen_10_1 -O mutect2/10_1.vcf&
[1] 40657
$ 09:49:03.454 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/home/Tools/gatk-4.1.0.0/gatk-package-4.1.0.0-local.jar!/com/intel/gkl/native/libgkl_compression

[2019-03-07 16:58] #5712 closed

[2019-03-07 17:07] davidbenjamin commented on #5543
@af8 We are tentatively planning to release 4.1.1.0 with this bug fix next week.

[2019-03-07 17:07] tfenne commented on #5727
Adding a little more fuel to the fire on this one.  Our workaround for this for the time being was going to be to run HC twice - once to output a gVCF and again to output a called VCF directly.  While being a little wasteful of compute we figured this would give us correctly phased calls in a genotyped VCF while also giving us the reference confidence information in a gVCF.

However, we just tried

[2019-03-07 17:08] davidbenjamin commented on #5543
@rong923 it looks like you are encountering the same issue.  You can build the the gatk master branch to get a fix now, or wait for the 4.1.1.0 release.

[2019-03-07 17:27] tfenne commented on #5727
On a whim I took the latest code from master and commented out the two lines in HaplotypeCallerEngine:257-258 that disable phsyical phasing if `emitReferenceConfidence()` is false, and tried running HC to generate a genotyped VCF with phase.  At least on a simple test of a ~200bp locus with a pair of phased variants it appears to do the right thing and not cause any errors.

I know testing calling

[2019-03-07 18:46] rong923 commented on #5543
may I ask why my other samples didn't run into the issue but only one sample did?

[2019-03-07 19:23] davidbenjamin commented on #5543
It's an edge case that occurs only (I think) when all the reads supporting a variant end very near the boundary of the assembly region.

[2019-03-07 19:31] af8 commented on #5543
Thanks a lot @davidbenjamin
In the meantime I have compiled the master branch when I saw this issue was resolved and it worked quite well.

I tried also to create a pon with this fresh compiled version but I got some errors (don't remember exactly what right now). Looks like you are in the middle of changing the pipeline of pon creation by integrating GenomicsDB as an intermediate, right ? Do you

[2019-03-07 19:43] davidbenjamin commented on #5543
@af8 The next release will also have a WDL workflow for creating the pon in the new way.

[2019-03-07 20:21] droazen commented on #5727
@tfenne If it's the commit I think it was, it was just me porting the GATK3 HaplotypeCaller to GATK4. Checking in GATK3, those lines were actually added by @eitanbanks in 2014:

[code]

[2019-03-07 20:24] tfenne commented on #5727
Thanks @droazen, I suspected that was the case from looking at the history.  Though it's not clear to me from @eitanbanks' commit why he would disable it for non-ERC modes.

FWIW my PR looks to have only failed where the HC tests are comparing against existing files, and the existing files don't have phasing (whereas newly generated test files do).  I'm going through and double-checking that that

[2019-03-07 20:24] jonn-smith opened #5773 "Funcotator is only annotating with locatable funcotation factories"
Currently Funcotator has an issue where it will only annotate with Locatable Funcotation Factories.

This is because of some logic in `DataSourceFuncotationFactory` around whether the `featureList` is compatible.

[2019-03-07 20:32] #4965 closed

[2019-03-07 22:06] jrobinso commented on #2602
Any updates on this?

[2019-03-07 22:52] oneillkza commented on #2602
+1 on updates -- there are now tools which are producing VCF 4.3, which is currently unreadable in IGV.

[2019-03-08 02:10] davidbenjamin opened #5775 "Unify M2 likelihoods"
The quick somatic likelihoods model in `Mutect2Engine.isActive` is really just a version of the full somatic likelihoods model that stops after a single iteration.  The code and mathematical notes should be amended to reflect this.

[2019-03-08 13:55] #5476 closed

[2019-03-08 14:41] eitanbanks commented on #5727
I'm confused.  Nowhere in the commit above did I disable physical phasing for non-ERC modes.  The only line I touched was to change the error message to use the proper argument (GENOTYPE_GIVEN_ALLELES vs. Genotyping Giving Alleles).

I have zero recollection of why physical phasing wouldn't be okay for standard HaplotypeCaller.

[2019-03-08 14:43] eitanbanks commented on #5727
Oh, I see now.  It was probably a bug back then?
Or maybe it was all we tested with ATGU so didn't want to support it for other cases without more testing (and then I got distracted).  Way too long ago...

[2019-03-08 15:51] samuelklee opened #5776 "Use conda env create --force rather than conda env update in localDevCondaEnv task."
@cmnbroad correct me if I'm wrong, but we currently just update the conda env if it is already present.  This will add new packages that were added to the yml but will not remove old packages that were removed from the yml.

Note that the update --prune option seems like it should take care of this, but see https://github.com/conda/conda/issues/7279.

[2019-03-08 15:58] fpbarthel opened #5777 "Funcotator fails to perform annotation when supplied with minimal VCF of canonical cancer variants"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
GATK 4.1.0.0

### Description
Funcotator does not perform any annotation on a minimal VCF with canonical cancer variants and returns the following error:

[code]

#### Steps to reproduce
Run Funcotator with the following command:

[code]

on the following minimal VCF with canonical cancer variants:

[code]

#### E

[2019-03-08 16:16] cmnbroad commented on #5776
Yeah, `--force` is the right thing to do, and I added it to build.gradle a few months ago as part of https://github.com/broadinstitute/gatk/pull/5081, but that PR has languished because my original package validation was lame, and I never went back and resolved it.

[2019-03-08 16:56] samuelklee commented on #5776
OK, great that you already were aware of it!  We can probably resolve it during the upcoming round of python dependency updates.

[2019-03-08 17:39] danking commented on #1524
FYI, Spark 2.4.0 upgraded to Kryo 4.0.0 in [3e033035](https://github.com/apache/spark/commit/3e033035a3c0b7d46c2ae18d0d322d4af3808711). There does not appear to be a back port to older spark versions.

Did y'all happen to also try [this](https://github.com/EsotericSoftware/kryo/pull/527/files):

[code]

I'd like to avoid asking Hail users to set JVM options, so this approach is appealing to me. Cu

[2019-03-08 18:11] lbergelson commented on #1524
Oh, that's great that it's fixed in 2.4.0  I think we'd sort of given up on this since we had a work around.   I think` setReferences(false)` should work, but it could potentially badly inflate the sizes of your serialized objects if you're using kyro's field serializer to serialize repetitive data I think.

We should see about upgrading to 2.4.0...  It looks like there's a dataproc preview with i

[2019-03-08 18:47] #5352 closed

[2019-03-08 18:59] nh13 commented on #5727
@droazen @ldgauthier @eitanbanks @tfenne the issue with `GenotypeGvcfs` outputting the wrong phase will still exist, even if @tfenne makes the change to `HaplotypeCaller` (@tfenne: could you move further discussion of that fix to https://github.com/broadinstitute/gatk/pull/5772).  While the above example is fairly simple to understand, since `GenotypeGvcfs` run on a single sample will simply re-ca

[2019-03-08 19:51] samuelklee opened #5778 "Remove use of sets in gCNV python code."
Doesn't affect results but it prevents call caching.

[2019-03-08 19:54] cmnbroad opened #5779 "Better support streaming inputs/outputs from/to stdin/stdout."
Currently you can specify `/dev/stdout` on the command line as an alignment file output, and GATK /PrintReads will stream compressed (.bam) output to stdout. But it will throw when trying to create an output index unless output index creation is suppressed. GATKTool.createSAMWriter should recognize that case and verify/suppress creation of output index and md5, as well as force text (.sam) output.

[2019-03-08 20:21] samuelklee commented on #5730
Pretty sure this is an issue with getting different CPU platforms on GCE, for which I think BLAS implementations are not guaranteed to give identical results.  For two identical runs, there are shards where the gCNV results are the same, and others where they differ past a few decimal places.  Probably the same is true for the ploidy step.

If this is something we are worried about, we'll have to

[2019-03-08 20:21] #5730 closed

[2019-03-08 20:38] #5773 closed

[2019-03-10 15:46] mwalker174 opened #5780 "Improve PathSeq performance on samples with large numbers of non-host reads"
Users (@yfarjoun @jnoms) have been reporting high run times in PathSeq when the samples have a large proportion (on the order of 10%+) of microbial reads. PathSeq was designed to run on samples with low numbers (<1%) microbial reads, but there are two ways users can currently improve performance when that's not the case:

1) Run the 3 PathSeq tools individually (Filter, Align, and Score) instead o

[2019-03-11 15:50] droazen opened #5782 "Upgrade to Spark 2.4"

[2019-03-11 16:40] jean-philippe-martin commented on #5306
NIO can now do this, as of [pull request #3869](https://github.com/googleapis/google-cloud-java/pull/3869) (Nov 27, 2018). This is included in gcloud-java versions [v0.73.0](https://github.com/googleapis/google-cloud-java/releases/tag/v0.73.0) onward.

[2019-03-11 16:44] bhanugandham opened #5783 "Funcotator reproducibly crashes on specific WES VCF record produced by GATK4.1.0 (java 1.8.0_45)"
Please find below the user report of this issue:

Here is the error I got:
    [February 25, 2019 8:18:10 PM PST] org.broadinstitute.hellbender.tools.funcotator.Funcotator done. Elapsed time: 11.08 minutes.
    Runtime.totalMemory()=5379719168
    java.lang.StringIndexOutOfBoundsException: String index out of range: 545
       at java.lang.String.substring(String.java:1951)
       at org.broadinst

[2019-03-11 16:48] lbergelson commented on #3481
Closing this since we haven't been able to reproduce it and it's hopefully outdated.

[2019-03-11 16:48] #3481 closed

[2019-03-11 17:09] samuelklee commented on #5754
Sampling method optimized in #5781.

[2019-03-11 18:13] samuelklee opened #5784 "Determine early-fail behavior for duplicate sample names in CNV panel tools."
See https://gatkforums.broadinstitute.org/gatk/discussion/23646/determinegermlinecontigploidy-issue-when-using-more-samples#latest

This includes DetermineGermlineContigPloidy, GermlineCNVCaller, and CreateReadCountPanelOfNormals.

We currently perform a check that no duplicate count files are input, and I believe the python tools perform a check for duplicate sample names (although I'm not sure a

[2019-03-11 20:38] droazen commented on #2602
Several backwards-incompatible changes in VCF 4.3 (eg., escape sequences) have made it difficult to update without first doing a major refactoring in HTSJDK to better version our parsers. @cmnbroad can provide further details.

[2019-03-11 21:31] #4500 closed

[2019-03-11 21:31] #4893 closed

[2019-03-11 21:31] #5086 closed

[2019-03-11 21:31] #5684 closed

[2019-03-12 10:40] tomwhite commented on #1524
We'd need to test GATK on a 2.4 cluster, but I don't see why we wouldn't upgrade. I would like to wait until 2.4.1 (should be out soon) as it enables testing for Java 11 too. See #5782

[2019-03-12 10:41] tomwhite commented on #5782
We'll need to test on a cluster as a part of this work.

One benefit will be that Spark 2.4.1 will allow us to run tests using Java 11. See https://github.com/disq-bio/disq/pull/88. (Even though it looks like Spark won't support Java 11 until Spark 3, according to https://issues.apache.org/jira/browse/SPARK-24417, Spark 2.4.1 will allow us to at least run tests using Java 11.)

There are also fixe

[2019-03-12 14:31] droazen opened #5788 "Write a tribble codec for parsing Picard interval_list format"
As requested by @yfarjoun

[2019-03-12 15:01] cmnbroad commented on #2602
The problem is that htsjdk supports reading multiple versions of vcf, but only knows how to write the current version. Traditionally this has worked because older vcf versions could be trivially written out as a newer version. But v4.3 restricts some values to a narrower range than previous versions, so its not always possible to write out a pre-v4.3 version as a v4.3 compliant file in a non-destr

[2019-03-12 16:18] nh13 commented on #5704
@ldgauthier this does block downstream tools, like `bcftools` from using VCFs with this annotation, for example when subsetting and trimming the alleles.

[2019-03-12 18:06] pontikos opened #5789 "allow for no decimal point in float INFO fields"
bcftools removes decimal point when there are trailing zeroes:
https://github.com/samtools/bcftools/issues/980

GATK should be able to handle floating points without a decimal point.

[2019-03-12 18:11] lbergelson commented on #5789
Is this specifically a problem filtering VCF's with filter expressions written in jexl?  Or are you hitting it somewhere else as well?

[2019-03-12 18:23] pontikos commented on #5789
The gVCF has been generated using "bcftools view" to extract samples.  Type
floats in the INFO field which have trailing zeroes after the decimal point
are rounded by bcftools to integers e.g: `70.0` becomes `70`
This breaks the GATK combineGVCFs code.  I know this is the bug because
when I add back `.0`, GATK works again.

I'm using GATK 3.5

On Tue, 12 Mar 2019 at 18:11, Louis Bergelson <notific

[2019-03-12 18:58] lbergelson commented on #5789
Any chance you could test with GATK 4.1.0.0 to make sure it's still happening?  GATK 3.5 is no longer maintained.

[2019-03-12 19:09] jjfarrell commented on #5445
This is still an issue with GATK 4.1.0.0.

[2019-03-12 20:24] pontikos commented on #5789
Sorry but I am stuck with using GATK 3.5 at the moment as they are too many difference between GATK 4 and GATK 3.

[2019-03-12 20:31] #3566 closed

[2019-03-12 20:31] #5382 closed

[2019-03-12 20:31] #5591 closed

[2019-03-12 20:31] #4734 closed

[2019-03-12 20:31] #4825 closed

[2019-03-12 20:31] #5744 closed

[2019-03-12 21:17] yfarjoun opened #5790 "Output PICARD tool's output to /dev/stderr, not stdout"
The return value of picard tools goes to standard output which makes it hard to pipeline these tools nicely.

[2019-03-12 22:08] lbergelson commented on #5789
Ok.  I'm sorry, but we're unable to help you then.  GATK 3 is no longer maintained or updated.  We recommend everyone upgrades to 4.  The differences between 3 and 4 are only going to increase over time.

Is there a specific missing feature preventing you from upgrading?  Or some issue that manifests in 4 but not 3?

[2019-03-12 22:33] tfenne opened #5791 "Middle ground between `--dont-trim-active-regions true` and `--dont-trim-active-regions false`"
## Feature request

### Tool(s) or class(es) involved
HaplotypeCaller (latest version from master as of 3/12/2019)

### Description
I'm running into situations where the HaplotypeCaller does the wrong thing when genotyping, when it is allowed to trim active regions.  A good example is a fairly high frequency variant at `HG19:chr11 -6411935` aka `HG38:chr11:6390705`.  I'm looking at this data in th

[2019-03-13 15:27] tfenne opened #5793 "GenotypeGVCFs not outputting some variants it should with -stand-call-conf"
## Bug Report

### Affected tool(s) or class(es)
GenotypeGVCFs 4.0.0.12

### Affected version(s)
- [ ] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description
I've run into a weird case where GenotypeGVCFs is doing something unexpected.  I have a gVCF with the following entry in it:

[code]

It's a messy site for sure, an indel in a long homopolym

[2019-03-13 15:32] droazen commented on #5790
@cmnbroad

[2019-03-13 15:35] droazen commented on #5793
@lbergelson and/or @ldgauthier, your thoughts? Louis thought there was something fishy in the handling of `-stand-call-conf` when he ported GenotypeGVCFs to GATK4 a few years ago...

[2019-03-13 15:39] lbergelson commented on #5793
This sounds really familiar... I feel like this was something I noticed a long time ago and it was explained away by someone.

 `-stand-call-conf` is used to filter variants at several points in the code, and not always compared against the final GQ.

In particular I think there's this site here https://github.com/broadinstitute/gatk/blob/d8d06cd769959b595132cb0aab18ccd7fe913ffd/src/main/java/org/

[2019-03-13 15:47] droazen commented on #5791
@davidbenjamin Your thoughts on this idea?

[2019-03-13 16:10] davidbenjamin commented on #5791
I like Tim's suggestion #1.  It would probably be best to generalize it to finding some principled relationship between the kmer size, the trimming, and perhaps the padding.

[2019-03-13 17:03] droazen commented on #5788
@yfarjoun I heard you might be working on this?

[2019-03-13 17:49] #4269 closed

[2019-03-13 18:51] droazen commented on #5731
@lbergelson and @jamesemery are planning to kick off this evaluation next week with the help of the Circle CI team. Tagging as this quarter rather than Q2.

[2019-03-13 19:11] yfarjoun commented on #5788
yeah...in htsjdk thou

On Wed, Mar 13, 2019 at 1:03 PM droazen <notifications@github.com> wrote:

[2019-03-13 19:16] droazen commented on #5788
@yfarjoun Right, the intention of this ticket was to implement the codec in htsjdk, then add a GATK integration test proving that we can now access interval_list files as tribble features.

[2019-03-13 20:57] #4933 closed

[2019-03-13 20:57] #4958 closed

[2019-03-13 20:57] #4959 closed

[2019-03-14 13:49] samuelklee commented on #4397
@asmirnov239 I think that some of the optimizations that @vruano made to the postprocessing step concern the config JSONs, gCNV version, and interval list output added in #5176.  These take a lot of time to localize when the number of shards is large but, aside from the interval list, aren't really used for anything, correct?

Were these just added for debugging purposes, or for reproducibility/pr

[2019-03-14 15:22] ldgauthier commented on #5793
That threshold gets used for the final decision of whether to output a
site, but also for evaluating each allele. I'm going to point the finger at
the old AFCalculator because multi-allelics are its Achilles heel.  Since
that version was before the made "new qual" the default, can you try with
`--use-new-qual-calculator`?

On Wed, Mar 13, 2019 at 11:39 AM Louis Bergelson <notifications@github.com>

[2019-03-14 15:24] ldgauthier commented on #5789
@pontikos if you use the issue template we might be able to help.

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_

### Affected version(s)
- [ ] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

#### Steps to reproduce
_Tell us how to reproduce this issue. If possible, include command lines that reproduce the problem. (The suppo

[2019-03-14 15:32] sooheelee commented on #5409
Please see #5703 for a LaTeX rendering solution.

[2019-03-14 15:42] ldgauthier commented on #5445
Can you include another IGV screen shot with the soft clips on?  Based on the PLs I would expect that at least 10% of the reads in the pileups at many positions are softclipped.

When we estimate the reference confidence in GVCF mode we count soft clips as evidence against the reference (as well as mismatches and bases adjacent to indels).  It's hard to say without knowing exactly where the soft c

[2019-03-14 16:46] droazen commented on #5447
@vortexing This is fixed in master, and will be part of the next GATK release.

[2019-03-14 18:38] vortexing commented on #5447
Excellent, thank you!!!! (and my log files thank you too!!)

[2019-03-14 22:28] #5700 closed

[2019-03-14 22:33] sooheelee commented on #5700
@nh13, the next release should reflect SOR documentation updates from #5703.

[2019-03-14 22:35] sooheelee commented on #5698
Hi @tfenne, it may be that https://hail.is/ will allow you to do what you wish to do. Might be worth checking out.

[2019-03-15 03:23] yfarjoun commented on #5788
part 1 is here: https://github.com/samtools/htsjdk/pull/1327

[2019-03-15 13:13] #4987 closed

[2019-03-15 15:11] droazen opened #5798 "Intel deflater + long reads data = intermittent corrupt bams"
@kvg reports that running the Intel deflater via GATK on long reads data intermittently produces corrupt bam outputs. His specific use case is sharding a single unaligned bam file into multiple smaller bams. Running with the JDK deflater (`--use-jdk-deflater`) appears to resolve the issue.

Example error when trying to read a corrupt shard (reading with htsjdk produces the same error):

[code]

Th

[2019-03-15 15:37] droazen commented on #5731
Postponed to Q2 due to unforeseen events.

[2019-03-15 17:32] droazen opened #5800 "PrintBGZFBlockInformation should accept bam files"
We just need to disable the unnecessary file extension check in this tool.

[2019-03-15 18:15] ldgauthier commented on #5698
@tfenne there's no commandline option now, but it would be easy to add one.  The line that's removing AS_SB_TABLE is here: https://github.com/broadinstitute/gatk/blob/69f400622782ea5e751c6fa3dbf12ccbcf099bb6/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/VariantAnnotatorEngine.java#L224
You'll probably need to add a new field to VariantAnnotatorEngine to be set via GenotypeGVC

[2019-03-15 18:30] bhanugandham opened #5802 "Java related error encountered while running gatk PathSeqPipelineSpark"
Hi,

I am trying to test the pathseq tutorial following the tutorial on [this]( https://gatkforums.broadinstitute.org/gatk/discussion/10913/how-to-run-the-pathseq-pipeline "this") link

I ran the following commands

    bioinfo@bioinfo$ conda activate gatk
    (gatk) bioinfo@bioinfo$ gatk PathSeqPipelineSpark \

And encountered below error:

    Using GATK jar /home/bioinfo/Installers/gatk4/gatk-4

[2019-03-15 18:33] bhanugandham commented on #5802
Hi @jamesemery

I checked with chris about this issue and he mentioned I should ask you, as you are the sparks expert. Chris mentioned "there is an issue with Spark resolving the spark master back to the local host". Is this a possible bug or whats the solution for this?

[2019-03-15 18:37] droazen commented on #5802
I'd actually tag @mwalker174 on this one @bhanugandham

[2019-03-15 19:48] mwalker174 commented on #5802
Hi @bhanugandham

I wasn't able to reproduce your problem on my laptop. Based on the error message, it looks like a network config Spark issue. What environment are you running this in? If it's MacOS, can you post the contents of `/etc/hosts`? Also the error message looks like it's truncated. You might be able to get the full stack trace by adding `--verbosity DEBUG`, which would be helpful as wel

[2019-03-15 20:21] bhanugandham commented on #5802
Hi @mwalker174

Thank you for looking into this so quickly. This is a question from the GATK forum. I have asked the user for the information you requested. I will get back to you with more details.

[2019-03-16 02:35] samuelklee opened #5804 "Fix statistical typo in unsupported ACS conversion."
As pointed out by Julian, I incorrectly propagated errors in one part of the model translation.  Not sure if this has any effect on ABSOLUTE results, but we can fix it up.  Probably should re-examine some of the other expressions as well---would be great to finally get feedback on whether these are at all sensible.

[2019-03-16 20:29] teepean opened #5805 "GATK does not work on Windows any longer"
GATK doesn't seem to be working on Windows any longer, at least HaploTypeCaller crashes with the following. Tested with GATK 4.0.9.0, 4.0.11.0 and 4.1.0.0.

[code]

The last version I have tested where this still works  is 4.0.8.1. It is caused most likely because of the forward slash before C:.

There are several examples of the error that can be googled. Here's one:

https://bugs.eclipse.org/bug

[2019-03-16 22:59] jjfarrell commented on #5445
Here is the IGV view near SNPs rs429358+rs7412

![image](https://user-images.githubusercontent.com/1960717/54482671-91454c00-481d-11e9-866f-59d1644f9fe5.png)

[2019-03-17 13:30] teepean commented on #5805
According to git bisect this is the commit that is the culprit.

[code]

[2019-03-18 14:23] jamesemery opened #5806 "Kebab-ify AssemblyRegionArgumentCollection arguments"
It appears when we made changes to HaplotypeCallerSpark that we forgot to reformat the arguments in `AssemblyRegionArgumentCollection` to kebab-case. We should make sure to do this sometime before we declare HaplotypeCallerSpark to be out of Beta.

[2019-03-18 15:42] cmnbroad commented on #5805
@teepean We generally don't test on Windows, though we do try to keep things working there if possible. Is there any chance you could try running [this branch] in the same environment that previously failed, and see if it solves the problem ? Thx ?

[2019-03-18 16:37] teepean commented on #5805
This fixed the problem and everything else seems to be working correctly. Thank you!

[2019-03-18 16:48] #5764 closed

[2019-03-18 17:14] beginner984 commented on #1394
Sorry this command for me returns empty .bam file but why ?

java -jar $GATKjar -T SplitNCigarReads -R ./hs37d5.fa -I ./dupmarked.bam -o ./dupmarked_output.bam -U ALLOW_N_CIGAR_READS

Any suggestion please?

Thanks a lot

[2019-03-18 17:29] cmnbroad commented on #5805
@teepean Ok, great - thx for testing that out.

[2019-03-18 17:44] jamesemery commented on #1394
@beginner984 Could you explain what is happening in greater detail. I assume you mean that the .bam file was totally empty without even a header? Are you sure the task ran to completion? Do you have to command line output from the tool anywhere? What version of gatk are you running off of?

I would suggest that you direct this and other questions of this nature to the [gatk forums](https://gatkfor

[2019-03-18 19:02] bhanugandham opened #5807 "Problem with BaseRecalibrator in v2.2-8-gec077cd"
Hi everyone,

I'm facing a similar issue with GATK v4.1.0.0 (HTSJDK v2.18.2 and Picard v2.18.25). I'm using GATK Docker image broadinstitute/gatk:4.1.0.0.

Following what I read here, I checked the bam file and everything seems fine:
`gatk ValidateSamFile --INPUT sorted.bam --MODE SUMMARY`
[code]

But when run BaseRecalibrator got the _fromIndex toIndex_ error:
`gatk BaseRecalibrator --input sorte

[2019-03-18 19:07] bhanugandham commented on #5807
This was previously an error with GATK2.1-11 and was fixed then. More info on that [here](https://gatkforums.broadinstitute.org/gatk/discussion/comment/2102/#Comment_2102).
Now the same error is showing up with GATK4.1.0.0. Could this be a bug? As discussed during gatk4 office hours I am creating this issue ticket for it.

[2019-03-18 19:33] samuelklee opened #5809 "Change Number entry of CNLP field in gCNV intervals VCF."
From `Number=A` to `Number=.`, see https://gatkforums.broadinstitute.org/gatk/discussion/23687/how-to-merge-the-sample-x-genotyped-intervals-vcf-files-created-by-postprocessgermlinecnvcalls#latest

[2019-03-18 22:42] bhanugandham commented on #5807
Another user facing the same error. https://gatkforums.broadinstitute.org/gatk/discussion/23689/baserecalibrator-java-illegalargumentexception-fromindex-toindex/p1

[2019-03-19 09:17] miguelpmachado commented on #5807
@bhanugandham, thank you for opening this issue for me.

[2019-03-19 12:13] tomwhite commented on #468
Fixed by having abstract superclass for tests, e.g. #5689

[2019-03-19 12:13] #468 closed

[2019-03-19 12:19] tomwhite commented on #965
No longer as issue as we now use Spark `--files`.

[2019-03-19 12:19] #965 closed

[2019-03-19 12:20] tomwhite commented on #1407
We support `vcf.gz` now.

[2019-03-19 12:20] #1407 closed

[2019-03-19 12:35] tomwhite commented on #4492
Fixed in https://github.com/GoogleCloudPlatform/bigdata-interop/pull/147

[2019-03-19 12:35] #4492 closed

[2019-03-19 12:55] #5747 closed

[2019-03-19 16:52] yifangt opened #5816 "SyntaxError: invalid syntax"

[2019-03-19 17:32] yifangt commented on #5816
Found out the problem is with the bam file, in which **RG** part is missing.
Sorry for this naive question.
Please close this one.

[2019-03-19 17:32] jrvanalstine commented on #2944
Sorry, I know this is old, but i'm currently dealing with this exact issue using `gatk-4.beta.5`. It sounds like this has been solved, but the solution isn't clear to me.

[2019-03-19 17:58] #5816 closed

[2019-03-19 18:26] samuelklee commented on #2944
@jrvanalstine I'd strongly suggest that you upgrade.  As discussed in the linked issue above, the underlying segmentation algorithm is completely different from that used in the beta workflows.  Major changes were made to file formats and the overall structure of the pipeline as well.

That said, it may still be the case that heavily downsampled input still gives strange results---if you are just

[2019-03-19 21:32] #5671 closed

[2019-03-20 14:54] ldgauthier commented on #5704
@nh13 I did get started on this.  It works, but needs formal tests.   I might be able to finish it up this week, but if your need is urgent and you trust me without tests, then there's a branch.

[2019-03-20 15:17] cmnbroad opened #5820 "Detect and handle Python OOM errors"
Its possible to specify CNN inference size argument values that cause the Python process run out of memory, and the failure mode appears to be the java process hangs. Its not clear whether its always possible to recover from this using the global  exception handler we currently install on the Python side - we need to explore a bit to see if the handler is being invoked on OOM; whether catching the

[2019-03-20 15:29] igordot opened #5821 "FilterMutectCalls: errorRate must be good probability but got NaN"
I ran GATK 4.1.0.0 Mutect2 on a small (~1Mb) targeted panel. I am using a normal control that is not the same individual (basically to exclude technical artifacts), so I do expect to see more variants than with a proper matched normal. I was getting around 100-300 variants per sample with GATK 4.0.6.0. I am still roughly in the same range for some samples GATK 4.1.0.0, but I am getting 0 for some.

[2019-03-20 15:35] cmnbroad commented on #4928
Closed via https://github.com/broadinstitute/gatk/pull/5042.

[2019-03-20 15:35] #4928 closed

[2019-03-20 17:05] jonn-smith opened #5822 "Funcotator can produce "best" transcripts that are different for different alleles."
While Funcotator does not support GVCF files, using it with one illustrated the following issue:

In a multiallelic variant, it is possible to have a "best" transcript that matches one allele, and a different "best" transcript that matches another allele.

The following variant is such a case:

[code]

For this case, the Gencode funcotations come out as:
`A` -> `PCSK9_MISSENSE_p.R670H`
`<NON_REF>`

[2019-03-20 17:06] jonn-smith commented on #5822
The proper fix is to have best transcript determined for ALL alleles at the same time, then the allele funcotations should be filtered.

[2019-03-21 14:47] takutosato commented on #5534
Addressed by #5599

[2019-03-21 14:47] #5534 closed

[2019-03-21 21:15] nh13 commented on #5704
@ldgauthier will you also be able to fold in the changes in https://github.com/broadinstitute/gatk/issues/5698#issuecomment-473391778

[2019-03-21 21:17] nh13 commented on #5523
@cwhelan @ldgauthier what do you think of @tfenne's suggestion of propagating the `*`/spanning allele into the genotyped VCF?  Are the VCF lines above enough for you to reproduce?

[2019-03-21 21:18] nh13 commented on #5651
@cwhelan @ldgauthier @droazen any thoughts on this one?

[2019-03-21 21:27] nh13 commented on #5696
@davidbenjamin would you be able to take a look at reproducing this issue?  I think @tfenne's test case is what you want to look at.

[2019-03-21 22:42] nh13 opened #5824 "Adjacent heterozygous and homozygous variants are not phased"
## Bug Report

Two consecutive SNPs, one heterozygous (`0/1`) and one homozygous (`1/1`) are not phased when I believe they should be.  This is for NA12878.

GATK4 (4.0.12.0) gVCF with adjacent variants **_not phased_**.
[code]

Genomes in a Bottle VCF (NISTv3.3.2/GRCh37) with adjacent variants **_phased_**.
[code]

I also confirmed that the haplotype assembly BAM had real reads spanning the two p

[2019-03-21 22:52] nh13 commented on #5793
@ldgauthier  it looks like using `--use-new-qual-calculator` did the trick:
[code]
It looks like this is fixed in https://github.com/broadinstitute/gatk/pull/5484 (and so 4.1.0.0).

@tfenne are you ok closing this?

[2019-03-21 22:58] tfenne commented on #5793
Closing as resolved with the new QUAL calculator.

[2019-03-22 15:23] cwhelan commented on #5651
After some preliminary poking around, I think these sites are not being phased because the phasing code strictly limits itself to biallelic sites (see `AssemblyBasedCallerUtils.constructHaplotypeMapping()`), and at the example site here considers there to be three possible alleles: `T`, `G`, and `*`. I'm not sure how much work it would be to special-case an exception through the phasing code for t

[2019-03-22 17:46] ldgauthier commented on #5704
Can do!

On Thu, Mar 21, 2019 at 5:15 PM Nils Homer <notifications@github.com> wrote:

--
Laura Doyle Gauthier, Ph.D.
Associate Director, Germline Methods
Data Sciences Platform
gauthier@broadinstitute.org
Broad Institute of MIT & Harvard
320 Charles St.
Cambridge MA 0214

[2019-03-22 17:47] #5778 closed

[2019-03-22 17:47] #5809 closed

[2019-03-22 17:56] ldgauthier commented on #5824
This is a known issue (#3368) based on the current phasing heuristic.  There's a project just starting up to modify that graph assembly that should address this.

[2019-03-22 17:56] #5824 closed

[2019-03-22 18:07] ldgauthier commented on #5651
I don't want to make any changes to phasing until the new assembly modifications are done, because I expect that will clear up a lot of lost sensitivity.

[2019-03-22 19:17] droazen commented on #19
Requirements gathering for this is complete. @jamesemery will handle the implementation.

[2019-03-22 19:23] droazen opened #5828 "Linked de Bruijn graph for HaplotypeCaller and Mutect2"
Based on the paper by @kvg here: https://academic.oup.com/bioinformatics/article/34/15/2556/4938484

[2019-03-22 19:26] #3005 closed

[2019-03-22 19:27] droazen commented on #5828
Notes from @kvg :

[code]

[2019-03-22 19:28] ldgauthier commented on #5651
See #5828 for more details about the above "new assembly modifications"

[2019-03-23 13:54] mfawzysami opened #5830 "Genomics DB Import From CSV"
I have a CSV file that i have formulated myself as CSV file containing the following columns per line

1,10583,10583,0|0,0|0,,
2,10611,10611,0|0,0|0,,
3,13302,13302,0|0,0|0,,
4,13327,13327,0|0,0|0,,
5,13957,13957,0|0,0|0,,
6,13980,13980,0|0,0|0,,
7,30923,30923,0|0,0|0,,
8,46402,46402,0|0,0|0,,
9,47190,47190,0|0,0|0,,
10,51476,51476,0|1,0|1,,

What could be the possible callsets and vid_mapping fil

[2019-03-24 18:34] cmnbroad commented on #5805
@teepean Thanks for following up, but lets leave this issue open until the fix gets merged into master.

[2019-03-25 09:28] #5152 closed

[2019-03-25 14:40] ldgauthier commented on #5830
Github issues are for bugs, feature requests, and documentation requests.  For tool support please see https://gatkforums.broadinstitute.org/gatk/

[2019-03-25 14:40] #5830 closed

[2019-03-25 14:48] ldgauthier commented on #5445
Oooh, that read that's soft-clipped at both ends is super suspicious.  How
many bases are "match" in the CIGAR?  We've seen cases where contaminating
reads from bacteria (and the occasional food-derived species) have a chance
19bp (or maybe 21bp?) match to the human reference, which is the default
minimum BWA seed size.  Can you try rerunning HC with the
OverclippedReadFilter?  (see
https://softwa

[2019-03-25 19:08] jjfarrell commented on #5445
Yes, those are bacterial reads. I had recently used blat to  align those soft-clipped reads and found they were a 100% match to a bacteria. The cigar string has **21bp** of the 150bp read aligning to the APOE gene near the two variants which is consistent with your observation on bacteria.

I ran HaplotypeCaller with the -RF OverclippedReadFilter argument.

That filtered out the reads and as a res

[2019-03-25 20:17] ldgauthier commented on #5445
We use the overclippedReadFilter as an argument to HaplotypeCaller in our
standard WGS production pipeline.  Maybe it would be worthwhile making it
the default for HC.

I expect some GQ0 sites, but 62K still seems high.  How does that compare
to running HC while ignoring soft clips?

On Mon, Mar 25, 2019 at 3:08 PM jjfarrell <notifications@github.com> wrote:

--
Laura Doyle Gauthier, Ph.D.
Associa

[2019-03-25 23:55] #5775 closed

[2019-03-26 00:48] jjfarrell commented on #5445
When the --dontUseSoftCliiped flag is used, the GQ=0  is much lower- N=1355 for '0/0' calls.

 zcat A-ADC-AD004288-BL-NCR-15AD82285.hg38.realign.bqsr.dontUseSoftclipped.g.vcf.gz |tr '\t' '\n'|grep '0/0'|tr ':' '\t'|cut -f2,3|awk '$2 == "0" {print $0}'|cut -f1|sort -n|uniq -c
   1355 0
      6 0,0,0
      7 0,0,0,0
    602 1
    537 2
    520 3
    595 4
    441 5
    511 6
    583 7
    701 8

[2019-03-26 10:15] sjin09 opened #5836 "Do we need to implement baseRecalibration before creating Panel of Normal?"
Dear @sooheelee

I am wondering if I need to perform base recalibration on the normal bam files before I proceed with creating the panel of normals, which will then be used for somatic mutation calling with MuTect2.

The tutorial (https://software.broadinstitute.org/gatk/documentation/article?id=11136) and the documentation (https://software.broadinstitute.org/gatk/documentation/article?id=11127)

[2019-03-26 11:56] #5751 closed

[2019-03-26 14:00] ldgauthier commented on #5445
It seems that there are a lot of soft clips that aren't bacterial reads.
What's your mean insert size?  I've seen lots of aberrant soft clips when
the insert size is small and Picard doesn't catch adapter sequences with
multiple mismatches.  Does the Picard percent adapter in alignment summary
metrics seem high?  I've also seen lots of soft clips when the chimera rate
is high, sometimes because of

[2019-03-26 15:23] #5822 closed

[2019-03-26 15:38] ldgauthier commented on #5836
Github issues are for bug reports, feature requests, and documentation requests.  For tool support please use the GATK forum: https://gatkforums.broadinstitute.org/gatk/

[2019-03-26 15:38] #5836 closed

[2019-03-26 16:40] jjfarrell commented on #5445
There are some bacterial reads still resulting in GQ0 in the APOE gene.  This occurs when the bacterial read is only soft-clipped on one end and other end aligns with the 21bp.  So it did not completely clean it up as I thought originally.

The median insert size is 391.  The histogram shows  a small peak at between 19 - 22 bp insert size. The reads from the bacteria aligning with APOE have an ins

[2019-03-26 17:03] ldgauthier commented on #5445
You can try running the OverclippedReadFilter in a more lenient mode by
specifying `--dont-require-soft-clips-both-ends --filter-too-short 25` where
25 is the minimum aligned length for a read to be kept.

On Tue, Mar 26, 2019 at 12:40 PM jjfarrell <notifications@github.com> wrote:

--
Laura Doyle Gauthier, Ph.D.
Associate Director, Germline Methods
Data Sciences Platform
gauthier@broadinstitute.o

[2019-03-26 18:03] jamesnemesh commented on #2602
Consider this me updating the ticket because my key software depends on parsing VCFs with this API.

[2019-03-26 18:32] cmnbroad commented on #2602
@jamesnemesh Thanks for the update. Is the "key" software you're using to read VCFs something like Picard or GATK or IGV, or is it your own app ? I'm asking since one thing we're trying to determine is whether there would be value in enabling support for just reading 4.3, but not writing it.

[2019-03-26 18:36] jamesnemesh commented on #2602
It’s my own implementation on top of HTSJDK.  https://github.com/broadinstitute/Drop-seq.  We're in the process of polishing the manuscript, and then the work in our private repo will be pushed public.  As far as I'm concerned, reading V4.3 is enough for me, as long as the API can call back to 4.2 to write out records once you've parsed headers / VariantContext objects.

[2019-03-26 20:30] asmirnov239 commented on #4007
To generate PostprocessGermlineCNVCallsIntegrationTest test data - run gCNV on coverage files located in `gatk/src/test/resources/org/broadinstitute/hellbender/tools/copynumber/gcnv-sim-data/`
and ploidy calls in `
gatk/src/test/resources/org/broadinstitute/hellbender/tools/copynumber/gcnv-sim-data/contig-ploidy-calls/`

[2019-03-26 21:53] cmnbroad opened #5838 "Reenable IndexFeatureFileTest testUncompressedBCF2_2Index"
htsjdk has had a bug for a while where it permissively would read any BCF 2.x version if x was greater than or equal to 1 (it only supports BCF 2.1, not version 2.2). In practical terms this didn't matter because BCF 2.2 uses "IDX" fields in some header lines, and those were rejected by htsjdk anyway. However, a recently change in htsjdk causes it to accept additional fields in header lines, so BC

[2019-03-26 22:08] cmnbroad opened #5839 "Subclass BCFCodec for use when reading from GenomicsDB"
The BCFCodec in the next release of htsjdk (after 2.19) will reject any BCF input that is greater than BCF 2.1 (see https://github.com/broadinstitute/gatk/issues/5838 and https://github.com/samtools/htsjdk/issues/1323). However, GenomicsDB uses htslib, which generates version 2.2 output, to create BCF streams for GATK (with the BCF IDX fields removed). This will no longer work with post-2.19 htsjd

[2019-03-27 05:17] jrobinso commented on #2602
@cmnbroad I think there would be great value in a read-only library.

[2019-03-27 21:10] #5800 closed

[2019-03-27 22:48] cmnbroad commented on #5839
The htsjdk branch for this is [here](https://github.com/cmnbroad/htsjdk/tree/cn_bcf_codec_version) and the GATK branch is [here](https://github.com/broadinstitute/gatk/tree/cn_bcf_version_override). We'll need this for the next ht(post 2.19) htsjdk update. Will require the htsjdk branch to be merged and released before we can use the GATK branch.

[2019-03-27 23:44] LeeTL1220 opened #5841 "Please specify a default transcript selection list for both funcotator and oncotator in the M2 WDL"
## Feature request

### Tool(s) or class(es) involved
M2 WDL

### Description
We should specify the same file listed in the GATK forum (https://gatkforums.broadinstitute.org/gatk/discussion/4154/howto-install-and-run-oncotator-for-the-first-time), which can be downloaded from:  https://personal.broadinstitute.org/lichtens/oncobeta/tx_exact_uniprot_matches.AKT1_CRLF2_FGFR1.txt
This should be used a

[2019-03-27 23:47] LeeTL1220 commented on #5841
Never mind about oncotator, the file is in the docker image.

[2019-03-28 03:24] davidbenjamin commented on #5821
@igordot I believe this is fixed in master and will be in the 4.1.1.0 release this Thursday.

[2019-03-28 12:59] #5704 closed

[2019-03-28 13:34] #5488 closed

[2019-03-28 15:21] jjfarrell commented on #5445
Thanks. That removed another 2000  GQ=0 and cleaned up the APOE calls.  Sill a lot of GQ=0 records (60K).  I will check a few other crams to see how prevalent this issue is.

Why does HaplotypeCaller creating a vcf ignore these bacterial reads while when creating a gvcf, the bacterial reads result in a GQ=0 record without the flag?

[2019-03-28 15:34] #5449 closed

[2019-03-28 15:47] #5421 closed

[2019-03-28 18:55] droazen commented on #5650
Reopening -- the PR that went in that purported to fix this (https://github.com/broadinstitute/gatk/pull/5661) did not actually contain the fix in the final version. Re-assigning back to @ldgauthier

[2019-03-28 18:56] ldgauthier commented on #5445
There may be unavoidable GQ0 0/0 calls in long repetitive regions because there aren't any reads that span the whole repeat.  Probably not 60K of them, but I've never counted.

In the VCF mode, you're saying that the only alleles you care about are the alleles in this cohort, so since there isn't any evidence in that sample of any other allele in the cohort, it must be reference.  In GVCF mode, yo

[2019-03-28 21:07] #5650 closed

[2019-03-29 03:09] igordot opened #5845 "Mutect2 standard-min-confidence-threshold-for-calling"
I just tried Mutect2 from GATK 4.1.1.0 and got an error:
[code]

From the [online documentation](https://software.broadinstitute.org/gatk/documentation/tooldocs/4.1.0.0/org_broadinstitute_hellbender_tools_walkers_mutect_Mutect2.php):

Thus, it was still maintained in 4.1.0.0. Based on that, I am surprised that it was removed.

There are actually a few other parameters that got dropped. For example

[2019-03-29 12:50] ldgauthier commented on #5845
That argument is only relevant to HaplotypeCaller and GenotypeGVCFs. It
should never have been available for Mutect2.

On Thu, Mar 28, 2019, 11:09 PM igor <notifications@github.com> wrote:

[2019-03-29 14:03] davidbenjamin commented on #5845
@igordot It used to exist because `AssemblyBasedCallerArgumentCollection` used to extend `StandardCallerArgumentCollection`, causing `Mutect2` to have a bunch of `HaplotypeCaller` arguments that it didn't use.  This was fixed in PR #5758.

`FilterMutectCalls` also lost a few arguments as part of a huge change to the entire filtering model in PR #5688.  I'm working on a blog post about this but for

[2019-03-29 14:09] davidbenjamin commented on #5845
If you get any more of these errors, it's either an argument that never had any effect or something that you 4.1.1 got rid of.  In the latter case, you don't need to replace it with anything.  In 4.1.1 `FilterMutectCalls` automatically learns a lot of parameters.

[2019-03-29 14:09] #5845 closed

[2019-03-29 14:37] cmnbroad opened #5846 "CNNScoreVariants --inter-op-threads and --intra-op-threads don't impact thread counts"
These are both @Advanced tool arguments, but they don't seem to impact the number of threads used by Python, based both on my own results and those reported in [this forum post](https://gatkforums.broadinstitute.org/gatk/discussion/comment/57482#Comment_57482). Setting OMP_NUM_THREADS to 1 does seem to reduce the number of threads used by python though.

[2019-03-29 14:39] cmnbroad commented on #5846
@lucidtronix any idea why this is ?

[2019-03-29 14:52] igordot commented on #5821
I tried 4.1.1.0. Although that error is fixed, now I am getting a new one:

[code]

[2019-03-29 17:06] davidbenjamin commented on #5821
@igordot Could you provide your command line?  Also, could you check whether the error persists when you use a panel of normals, or nothing at all, instead of the unmatched normal?

[2019-03-29 22:01] davidbenjamin commented on #5821
Also, is this hg38?

[2019-03-29 23:19] igordot commented on #5821
This is the command:
[code]

And yes, this is hg38. Do you think it's related to that?

[2019-03-31 02:06] davidbenjamin commented on #5821
A few recent bugs, which are all entirely my fault, came about because the liftover of gnomAD to hg38 (there is no official hg38 gnomAD yet) exposed some new edge cases, such as `AF=.` and `AF=0`, that caused errors.  I suspect that you are seeing one that we hadn't found yet.  Unfortunately, we do not have nearly validation on hg38.

Here's what I will do: 1) correct our hg38 gnomAD to fix liftov

[2019-03-31 03:28] davidbenjamin commented on #5564
Update: there's another example on that thread now.  If no one objects I'm going to do this.

[2019-03-31 03:34] igordot commented on #5821
Thank you for looking into it. I am curious if that is really the problem. If the reference files were causing problems, shouldn't that impact all samples? I am seeing this error with some, but not most of the samples. Even using a different matched control sample with the same tumor sample will cause or fix the error.

[2019-03-31 04:03] davidbenjamin commented on #5821
What we saw recently wasn't the reference itself, but rather our AF-only gnomAD resource lifted-over to the hg38 reference.  The error only came up for sites that reached genotyping, which depends on the specific tumor sample as well as the lack of evidence in the normal.  That's why it only appeared in some tumor-normal combinations.

That being said, it might be something else.  If you are able

[2019-03-31 14:55] tfenne opened #5848 "OxoGReadCounts renamed to OrientationBiasReadCounts in 4.1.1.0"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller 4.1.1.0

### Affected version(s)
- [x] Latest public release version
- [x] Latest master branch as of 3/31/2019

### Description
It looks like PR #5840 did a lot of refactoring to the way F1R2/F2R1 annotations are computed.  Along the way it looks like `OxoGReadCounts` was renamed to `OrientationBiasReadCounts`.  This is, unfortunate

[2019-04-01 00:52] sooheelee opened #5850 "More friendly descriptions and indicators of directionality for gCNV parameters"
## Documentation request
Filing issue at the request of @samuelklee stemming from the discussion in https://github.com/broadinstitute/gatk/pull/5829.

### Tool(s) or class(es) involved
GermlineCNVCaller and related tools.

### Description
In particular, I am currently needing information for the gCNV tutorial writeup for the following parameters. What direction increases sensitivity?

- `--depth-c

[2019-04-01 05:52] davidbenjamin commented on #5821
@igordot I have not yet succeeded in reproducing the error with the few hg38 samples I have tested (2) and nothing obvious showed up in various `grep` regexes of our hg38 gnomAD (1).  I am starting to think that we actually have solved all the hg38 issues and this is unrelated to my initial guess.

If you can share your unfiltered vcf input it would be very helpful, but if that's not possible coul

[2019-04-01 12:32] cmnbroad opened #5851 "Upgrade miniconda version installed on docker"
We currently install v4.3.3, which is quite a few releases behind the current version v4.6.8. The preferred method for activating/deactivating has changed, and the method we currently suggest/use (`source activate`) is [deprecated](https://github.com/conda/conda/releases/tag/4.4.0) and has been replaced with conda commands. The readme/online doc should be modified to reflect these changes as well.

[2019-04-01 13:49] ldgauthier commented on #5564
Let's do it.  There are a lot of weirdly represented complex events in the
gnomAD browser that have come up and I expect this should fix 99% of them.

On Sat, Mar 30, 2019 at 11:28 PM David Benjamin <notifications@github.com>
wrote:

--
Laura Doyle Gauthier, Ph.D.
Associate Director, Germline Methods
Data Sciences Platform
gauthier@broadinstitute.org
Broad Institute of MIT & Harvard
320 Charles St

[2019-04-01 14:03] samuelklee opened #5852 "Throw exception when contig consists of only a single interval in gCNV tools."
See https://gatkforums.broadinstitute.org/gatk/discussion/23793/python-error-using-postprocessgermlinecnvcalls

[2019-04-01 14:29] davidbenjamin commented on #5821
By the way, I believe the same issue has come up recently on the GATK forum: https://gatkforums.broadinstitute.org/gatk/discussion/23685/issues-on-filtermutectcalls-log10-probability-must-be-0-or-less#latest.

@igordot If your contamination table shows a contamination of 1 or greater don't bother sending the vcf -- contamination would definitely be the issue in that case.

[2019-04-01 21:49] akkellogg opened #5854 "BaseRecalibratorSpark fails with "java.lang.IllegalArgumentException: Table1 1,3 not equal to 88,3""
## Bug Report

### Affected tool(s) or class(es)
BaseRecalibratorSpark
BQSRPipelineSpark

### Affected version(s)
4.1.0.0

### Description
We are running into a problem using BaseRecalibratorSpark. The tool fails soon after starting. The same error appears with the same bam file on different machines. Additionally, vanilla BaseRecalibrator works just fine on these bams (so I don't think the issue

[2019-04-02 13:29] meganshand opened #5855 "Local WDL tests don't work with NIO (tasks with files declared as String)"
## Feature request

### Tool(s) or class(es) involved
All WDL tests (Mutect2, CNV, Mitochondria pipeline, etc)

### Description
I'd like to be able to include tasks in GATK WDLs that use NIO (tasks with `String input_file` rather than `File input_file`). When I tried this with local git lfs files I got an error saying that the file could not be found (even though the file was being downloaded corr

[2019-04-02 17:17] droazen commented on #5854
@tomwhite Can you comment on this one? As noted above, regular BQSR runs fine while Spark BQSR fails during table combination.

[2019-04-02 21:54] igordot commented on #5821
You are right. The error seems to be happening when contamination is 1 or NaN. That is probably due to a non-matched normal. The same panel with a true matched normal gives much more reasonable results (<0.01), so I don't know if the panel size is entirely at fault here.

Should `FilterMutectCalls` just ignore contamination if the error is sufficiently high?

[2019-04-02 23:56] tfenne commented on #5793
I'm reopening this as I'm still having this same problem when using the latest release (4.1.1.0).  The variant shown above is not emitted by `GenotypeGVCFs` when using `-stand-call-conf 100` but is when using a lower threshold, e.g. `-stand-call-conf 50`.  It would be really nice to be able to use `-stand-call-conf` and have that _just_ filter out records that would result in records in the output

[2019-04-03 05:30] davidbenjamin commented on #5821
@igordot Thanks very much for following up on this.  Just to clarify, are you saying that the 1/NaN contamination occurs when you run `GetPileupSummaries` on both the tumor and a non-matched normal and then run `CalculateContamination` using both of these outputs?  If so, that will definitely cause problems.  Running `CalculateContamination` on just the tumor output from `GetPileupSummaries` shoul

[2019-04-03 08:43] tomwhite commented on #5854
The error message indicates that the recalibration tables have different dimensions, but unfortunately it doesn't say which table it was. Looking at the source for `RecalibrationTables` it looks like it's probably `readGroupTable`, since it is the only 2D table I can see in `allTables`. So the question becomes, why is the number of read groups different for different tables created by `BaseRecalib

[2019-04-03 15:33] davidbenjamin opened #5856 "Update orientation bias model command in mutect2.pdf"
It's out of date as of 4.1.1

[2019-04-03 22:40] igordot commented on #5821
Thank you for the suggestions.

I realize using a non-matched normal is not ideal. I was using it to at least filter out any technical artifacts. It seems to work well for that.

Where do I find the panel of normals that you mentioned?

[2019-04-04 01:56] davidbenjamin opened #5857 "Improve force-calling / GGA mode"
In Mutect2 and HaplotypeCaller, we force-call alleles by injecting them into the ref haplotype, then threading these constructed haplotypes into the assembly graph with a large edge weight.  There are several drawbacks to this approach:

* The strange edge weights interfere with the `AdaptiveChainPruner`.
* The large edge weights may not be large enough to avoid pruning when depth is extremely hig

[2019-04-04 14:19] ldgauthier commented on #5857
Your solution doesn't address your third listed drawback to the current
approach, though I'm not sure there's any way to do that that wouldn't
require a pretty dramatic change.

It's not obvious to me why we wanted the given alleles in the graph
originally.  Maybe the use case was variants from UG that we didn't
necessarily believe were aligned properly?

I don't have any objections, but I'd feel

[2019-04-04 14:55] davidbenjamin commented on #5857
approach

Ah, but I believe it does if you're careful.  We have this code:
[code]
If assembly fails eg due to cycles at every kmer then there's nothing to iterate over in the `for` loop but it still reaches `findBestPaths` (this puts assembled haplotypes into `resultSet` as a side effect, and it forces the reference haplotype in by fiat if there are no graphs).  As long as the new GGA haplotypes a

[2019-04-04 18:19] davidbenjamin commented on #5857
Update: I wrote an integration test in my branch that runs M2 with
`--kmer-size 1 --dont-increase-kmer-sizes-for-cycles`.  It still calls the given alleles, whereas in master it does not.

[2019-04-04 19:24] davidbenjamin commented on #5848
PR #5840 created a few pipeline-breaking changes.  Since the orientation bias annotation and filter are only standard in Mutect2 we weren't expecting it to cause problems for HaplotypeCaller users.  And as far as Mutect2 is concerned the WDL is always in a working state and we hope users are running the pipeline that way.

While changing the annotation name was not absolutely necessary we felt it

[2019-04-04 19:46] davidbenjamin commented on #5793
It's kind of tricky because suppose eg that we have three alt alleles each with an allele qual of 19, so that the overall variant qual is roughly 3x19 = 57.  If we filter alleles with a confidence of 20, we get no alleles and the variant qual changes to 0.

Now, if instead of filtering by allele we only filter by overall variant qual we then have to keep an arbitrary number of sketchy alleles.  I

[2019-04-04 19:54] davidbenjamin commented on #5075
This one is for the engine team to decide on.

[2019-04-04 19:58] davidbenjamin commented on #5436
@gmagoon Between PRs #5794 (merged) PR #5831 (open) this will be handled fairly well in Mutect2 and will be added to a growing list of changes that are probably worth bringing into HaplotypeCaller.

[2019-04-04 20:03] davidbenjamin commented on #5696
I can look into it.

[2019-04-04 21:32] tfenne commented on #5793
@davidbenjamin I'm not sure I follow your logic.  But if you believe the current implementing is doing the expected thing I'd like to understand.

In the example above, the site is multi-allelic in the gVCF.  However, when run through GenotypeGVCFs it's reduced to being bi-allelic, and the QUAL of the bi-allelic site in the genotyped GVCF doesn't change - it's still `595.64`.

To rephrase the issu

[2019-04-04 21:34] tfenne commented on #5848
Thanks @davidbenjamin  - my thought here was that since it's an available annotation in HaplotypeCaller it would be nice to just add a line to the release notes in case anyone else had started emitting it.

To answer your question, we have been emitting it in a clinical pipeline, but haven't actually been using it for downstream filtering yet.

[2019-04-05 14:14] davidbenjamin commented on #4717
Here's an M2 wishlist:

* htsjdk / Tribble support
* generic method to merge tables from scattered workflows
* metadata to keep track of samples etc

[2019-04-05 14:16] ldgauthier commented on #5857
You're totally right about the assembly failures.

As we talked about in person yesterday, I worry about biasing the
likelihoods when genotyping positions near homVar variants.   For the
record, the conclusion of that conversation was to inject the GGA allele
into the five best assembled haplotypes, though I'm open to something less
heuristic than "best five" if anyone has a good idea.  (I don't w

[2019-04-05 15:07] akkellogg commented on #5854
I think I've figured out the cause of the problem. I noticed that you had mentioned the `readGroupTable`, and decided to take a quick peek at the bam files. We expect only one read group, but, to my surprise, there was an excessive number of read groups. I've included a small snippet from the bam header below:

You'll notice these additional read groups are identical to the first (which is the one

[2019-04-05 15:46] tedsharpe commented on #4717
It seems to me that bedgraph is the best fit for this data type.
Whatever we decide, it's critically important to be able to distinguish data from metadata.  No unmarked column header, please.

[2019-04-05 18:19] MikeWLloyd commented on #5685
I just gotten the same issue with gatk-package-4.1.1.0-local.jar

[code]

[2019-04-05 18:48] cmnbroad opened #5862 "ValidateVariants silently does no validation in use common cases"
There are several cases where ValidateVariants does no actual validation, and issues no warning message. This includes the default case, where the minimal set of required args is provided (these are examples from the doc, which should be updated when this is fixed):

`gatk ValidateVariants -V some.vcf`
`gatk ValidateVariants -V some.vcf -R some.fasta`

Either of these silently results in no valida

[2019-04-05 18:53] cwhelan commented on #5685
The only way I can think of this happening is if a read is aligned to the start of a contig (ie position 1), and has a left soft clip. Then the unclipped read start will be negative. It looks like reporters are running on hg38, so I suspect that this is occurring on alt contigs that have alignable bases at the very begging of the contig (as opposed to the primary contigs). For some reason we have

[2019-04-06 14:18] #5685 closed

[2019-04-06 23:38] bhanugandham opened #5865 "Using --all-sites in GATK4.1.1.0 GenotypeGVCFs throws the IllegalStateException "There are no sources based on those query parameters""
User Reported this issue as shown below:

I used GenomicsDBImport and GenotypeGVCFs to call SNPs in GATK4. Due to large reference genome (1G) and sample size (100). I want to separate the work for each chromosome. It seems that GenomicsDBImport works for all chromosomes, but GenotypeGVCFs only works for chromosome1. Could you please give me some suggestions. Below are commands and log information

[2019-04-06 23:41] bhanugandham commented on #5865
@cmnbroad

I checked with @asmirnov239 and he said that this can be fixed by providing GenotypeGVCFs with the same interval list as GenomicsDBImport(so just add -L Qrob_Chr02 to GenotypeGVCFs CLI).

The error msg however is a little confusing. Can we make the error msg more descriptive?

[2019-04-07 23:17] SHuang-Broad commented on #4717
Let me play devil's advocate here (not saying VCF or anyone is evil):

if the final standard doesn't __restrict__ what type of annotations are allowed/intended to be supported, I strongly feel the direction of this standard will go into another VCF-like monster.

BED? Look at how many people are calling their files BED while the 4-beyond columns are free-style hip-hops (sure there's no internation

[2019-04-08 13:21] cwhelan commented on #5647
Hoping this is also closed via https://github.com/broadinstitute/gatk/pull/5864

[2019-04-08 13:21] #5647 closed

[2019-04-08 16:19] jonn-smith commented on #5862
When we test this, we should make sure it flags `AD` when there is only 1 field in there.

[2019-04-08 16:28] jonn-smith opened #5867 "VariantWalker / VariantContext doesn't validate variants at parse-time"
`VariantWalker` and `VariantContext` do not do variant validation at parse-time.

This causes awkward errors on invalid files like the one found here:
https://gatkforums.broadinstitute.org/gatk/discussion/23809/oncotator-for-build-hg38

It would be best if there was a way to properly validate the variants before parsing them.  `ValidateVariants` currently doesn't properly work when given default o

[2019-04-08 16:34] samuelklee commented on #5862
Not sure if this is related to https://github.com/broadinstitute/gatk/issues/4642, but might be good to look into that as well!

[2019-04-08 16:58] jonn-smith commented on #5862
I'm guessing that they are related (given the description @cmnbroad gave of #4642)

[2019-04-08 17:05] samuelklee commented on #4717
Thanks for chiming in!

@davidbenjamin can you give a little more detail on the kind of merging operations you'd need?

@tedsharpe I believe bedGraph only allows a single annotation/track.  I'm not sure if the track definition line is intended to hold any metadata other than display parameters, either?  https://genome.ucsc.edu/goldenPath/help/bedgraph.html

As for the unmarked column header line,

[2019-04-08 17:41] cmnbroad commented on #5862
Yup, its another variation of the same issue.

[2019-04-08 18:24] #5805 closed

[2019-04-08 18:45] tedsharpe commented on #4717
Thanks for helping me to understand why you didn't mark the metadata.

This may seem like quibbling, but I'd suggest that we mark the metadata with a comment character, and let the pandas/R users strip it.  They'll notice if they forget to do that, because the columns won't be named as expected, and they'll have to fix it up.

Whereas the risk for automated programs is that they'll simply delete t

[2019-04-08 19:04] davidbenjamin commented on #4717
Just trivial stuff that amounts to concatenation eg scattering `GetPileupSummaries` over chromosomes and then merging them into a single table.  Inputs would be internally sorted and non-overlapping.

[2019-04-08 19:05] davidbenjamin commented on #5848
@droazen Can you add "OxoGReadCounts annotation renamed to OrientationBiasReadCounts" to the 4.1.1.0 release notes?

[2019-04-08 19:16] samuelklee commented on #4717
@davidbenjamin OK, we have a utility method in `AbstractLocatableCollection` that essentially enables this for our particular use case (sorting and concatenating sharded tables, which are themselves non-overlapping and sorted, and returning the sort order; no reason why we couldn't just return the resulting concatenated table, either).  These sorts of methods can be easily made generic if we have

[2019-04-08 19:21] droazen commented on #5848
@davidbenjamin Sure, I've added that to the release notes

[2019-04-08 19:29] #2987 closed

[2019-04-08 19:32] heuermh commented on #4717
Including the schema in a header in text format is broken, and makes sharding error-prone and inefficient.  I'd suggest defining schema using [Apache Avro](https://avro.apache.org/), and storing the data in [Apache Parquet](https://parquet.apache.org/) format on disk.

[2019-04-08 19:34] davidbenjamin commented on #5856
Closed by PR #5859.

[2019-04-08 19:34] #5856 closed

[2019-04-08 19:36] davidbenjamin commented on #2926
The new orientation bias model is sample-specific.

[2019-04-08 19:36] #2926 closed

[2019-04-08 19:38] #5848 closed

[2019-04-08 19:42] bhanugandham commented on #5865
The user mentioned and I agree:
Since the interval list isn't a required argument listed in the GenotypeGVCFs documentation, perhaps a note could be added to the --all-sites parameter to indicate that it should be used in conjunction with a specified -L parameter. Clarifying the error message will also be a big help.

[2019-04-08 20:13] ldgauthier commented on #5793
@tfenne would it make more sense to separate out the confidences into per-allele and per-site thresholds (where a multi-allelic site's QUAL accumulates evidence from all alleles)?

The bi-allelic QUAL seems wrong if it's the same as when all the alleles are present.  The genotype you give above is for the only sample in the VCF?

[2019-04-08 20:17] nrao-nmdp opened #5869 "GATK on EMR, java.lang.StackOverflowError"
EMR - 5.13.0
Spark - 2.3.0

Running on m5.2xlarge 1 Master and 2 Worker nodes.
While running Haplotype Caller Spark on EMR, running into the stack overflow error.
[hadoop@ip-xx.xx.xx.xx gatk]$ ./gatk HaplotypeCallerSpark -I hdfs:///user/hadoop/testdata/TestData.cram -R hdfs:///user/hadoop/reference/hg38.fasta -O hdfs:///user/hadoop/output/testgatkvcf.vcf \

Using GATK jar /home/hadoop/gatk/build/l

[2019-04-09 12:35] cmnbroad commented on #3632
https://github.com/broadinstitute/picard/pull/913 is finally merged, so we can make this swap the next time we upgrade picard.

[2019-04-09 14:19] LeeTL1220 opened #5871 "Rename ValidateBasicSomaticShortMutations to something more in-line with MutationValidator"
## Feature request

### Tool(s) or class(es) involved
ValidateBasicSomaticShortMutations

### Description
It turns out that this tool is doing a subset of the CGA tool, MutationValidator.  Originally, the understanding (by both DSP and CGA) was the the GATK tool was doing a different algorithm, but this turned out to be incorrect.  We should rename the GATK tool perhaps to SomaticShortMutationVali

[2019-04-09 14:21] tfenne commented on #5793
@ldgauthier I think it's probably best to try and get to the bottom of why this variant's qual isn't being adjusted as it's reduced from 7 alleles in the gVCF to 2 alleles in the called VCF.  This is, as you guessed, all single-sample.  I've attached a reduced gVCF that just includes the variant in question, and the resulting genotyped VCF from running the command line below (and their indices)
[h

[2019-04-09 16:06] davidbenjamin commented on #5841
This is Jonn's domain.

[2019-04-09 16:23] SHuang-Broad commented on #4717
@samuelklee I agree with your comments, but if **any** type of annotations are allowed, especially when multiple values (lists) are allowed, then it is going to look very like VCF. I was simply pre-warning.

[2019-04-09 18:21] jonn-smith commented on #5841
The format is the same (1 transcript per line, version numbers ignored).

I'll add this in now, but I'll need some help testing it.

[2019-04-09 18:24] davidbenjamin commented on #5841
@jonn-smith If you make the changes in a branch I can run it through the M2 testing Terra workspace.

[2019-04-09 18:46] jonn-smith commented on #5841
I put the file in the funcotator data sources location:

https://console.cloud.google.com/storage/browser/broad-public-datasets/funcotator

[2019-04-09 18:48] jonn-smith commented on #5841
@davidbenjamin sounds good.  I already created the PR, so you can grab the WDL from there.

Once it looks good, we can merge and ask @bshifaw to update the featured workspace.

[2019-04-09 19:48] samuelklee commented on #4717
@heuermh Thanks for your input, we'll look into those options.  I think the use case most of us are imagining is for narrow tables with ~1M-1B records.  For the CNV pipeline, Tribble support is a much higher priority than Hadoop integration, efficient compression, etc., and it's very unlikely we'll need to do out-of-core computations that won't be enabled by Tribble.  However, that might not be tr

[2019-04-10 13:20] cmnbroad commented on #4901
Just noticed that there is an old open ticket for this in htsjdk https://github.com/samtools/htsjdk/issues/278.

[2019-04-10 15:31] gmagoon commented on #5436
Sounds great, thanks for your work on this and for the update, @davidbenjamin !

[2019-04-10 16:02] SHuang-Broad commented on #4717
@samuelklee
My understanding: the code that **can** (and I think should) be borrowed from VCF is `CHROM`, `POS`, `ID`, `INFO`, with `END` from `INFO` extracted to be its own column.
Then
* `FILTER` can be optional.
* `QUAL` can be optional but it is a nice-to-have feature as a quick-glance confidence measure, if that applies.
* `FORMAT` is going to be hard, because I understand the complaint that

[2019-04-10 18:11] #5821 closed

[2019-04-10 18:14] davidbenjamin commented on #5821
@igordot A few panel can be found in the GATK best practices bucket, for example: gs://gatk-best-practices/somatic-b37/Mutect2-exome-panel.vcf

[2019-04-10 18:22] davidbenjamin commented on #5244
@ldgauthier This ticket seems to be asking for genotype priors i.e. population allele frequencies to be learned within joint calling.  If I interpret the request correctly, that's what new qual does.  Can we close this?

[2019-04-10 23:18] igordot commented on #5821
How do I access that? I thought that the GATK resources were located here: https://console.cloud.google.com/storage/browser/genomics-public-data/resources/broad/hg38/v0/

[2019-04-11 00:22] davidbenjamin commented on #5821
They're public, so just install Google Cloud gsutil and copy with `gsutil cp gs://gatk-best-practices/somatic-b37/Mutect2-exome-panel.vcf <local path to copy to>`.  Or, if you're running on the cloud, you don't even need to download anything, just run Mutect2 with the cloud paths eg
[code]
If you install gsutil this works when running locally as well, but for speed I would recommend downloading th

[2019-04-11 00:28] igordot commented on #5821
Is there also a hg38 version?

[2019-04-11 00:31] davidbenjamin commented on #5821
There's gs://gatk-best-practices/somatic-hg38/1000g_pon.hg38.vcf.gz for hg38.

[2019-04-11 14:36] jonn-smith opened #5875 "Some Funcotator deletion end positions are wrong in MAF mode"
For some deletion variants, the end position that is generated for MAF output is not correct.

This is due to the transformation on the alleles and positions for MAF output (specifically in `MafOutputRenderer::adjustIndelAlleleInformationForMafOutput`).

When the end positions are wrong, they are at least 1 base greater than the actual correct position (depending on the reference allele length).

[2019-04-11 18:02] #5875 closed

[2019-04-11 20:23] cmnbroad opened #5877 "Prerequisites for upgrading to htsjdk 2.19.0+"
Based on a GATK test run using a locally built htsjdk, the following are prerequisites to upgrading to the next htsjdk release (post-2.19.0):

-https://github.com/broadinstitute/gatk/issues/5839
-Fix CountReads and CountReadsSpark tests. These are failing because they specify `src/test/resources/org/broadinstitute/hellbender/tools/chr7_1_20.interval_list` as an interval argument. Since there is no

[2019-04-11 20:29] fpbarthel commented on #5777
Bump on this topic, also canonical IDH2 mutations are classified as intronic by Functotator

[2019-04-11 20:46] nh13 commented on #3368
@ldgauthier any updates on a solution?  We have an example for clinically reportable variant that matches #5824.

[2019-04-12 12:30] cmnbroad commented on #5877
Update: it appears that SortSamSparkIntegration.testSortBAMsSharded fails locally for me even on master (when run from intellij or from gradle), so that issue appears to be unrelated to the htsjdk upgrade.

[2019-04-12 15:34] asmoe4 opened #5880 "GATK upgrade from 4.0.11.0 to 4.1.0.0 seems to be breaking CalculateContamination"
In our Mutect2 workflow, we run a pair of Normal/Tumor through `CalculateContamination` step, the output of which is used in `FilterMutectCalls`.   Since upgrading to `4.1.0.0`, `CalculateContamination` is breaking in cases where there're mismatched of N/T samples.

For e.g., `4.0.11.0` generates the following output:
[code]
And `4.1.0.0` gives the following:
[code]

As a result of the above outpu

[2019-04-12 15:49] droazen commented on #5880
@davidbenjamin or @LeeTL1220 could you comment?

[2019-04-12 16:48] jamesemery opened #5881 "SortSam ShardedInput tests failing."
@cmnbroad and I have both observed that the `SortSamSparkIntegrationTest.testSortBAMsSharded` tests fail locally on our machines despite the tests apparently working on travis. The tests fail because the comparator detects the files are out of their reported sort order. When I went digging into the failing tests it appears that the files are getting correctly sorted and written out correctly into

[2019-04-12 17:07] droazen opened #5882 "Get example code for using the built-in prefetching in the google-cloud-nio library"
GATK still uses its own prefetching code for NIO, but the `google-cloud-nio` library now has this capability built in. @jean-philippe-martin could you please provide us with some example code of how one can turn on the built-in prefetcher? This is requested by @yfarjoun for Picard, but will also be helpful for GATK when we migrate to the built-in prefetcher.

[2019-04-12 17:30] jean-philippe-martin commented on #5882
Old code:
[code]

New code:
[code]

Also, the new one throws `IOException` whereas the GATK one throws `GATKException`. Other than that, they should be the same and you just need to change the import line.

[2019-04-12 17:32] droazen commented on #5882
@jean-philippe-martin Thanks -- is there some way to enable prefetching globally, so that it doesn't have to be manually added to each channel by client code?

[2019-04-12 17:38] jean-philippe-martin commented on #5882
Not in general, because prefetching isn't always desirable. By its nature it's designed for long sequential reads rather than random accesses.

In GATK though there is prefetcher code in a FeatureDataSource constructor, so anyone who uses that one will get the prefetching.

[2019-04-12 18:32] droazen commented on #5882
@yfarjoun We should sit down at some point to discuss the best way to activate the prefetching in Picard. It may be a little less trivial than I had thought based on the above, but should still be fairly simple.

[2019-04-12 18:33] yfarjoun commented on #5882
but for fingerprinting it seems that since it is effectively random-access,
perhaps prefetching will not be worth it?

On Fri, Apr 12, 2019 at 2:32 PM droazen <notifications@github.com> wrote:

[2019-04-12 18:42] droazen commented on #5882
@yfarjoun Well, as I said in person I believe that there are benefits to running with asynchronous prefetching turned on even in the random-access case. @jean-philippe-martin can confirm.

[2019-04-12 19:08] jean-philippe-martin commented on #5882
It's true that our measurements have shown some improvement even in a random access case. Surely we should be able to fabricate a more extreme case where prefetching doesn't help, so it still makes sense to offer a choice.

[2019-04-12 20:53] jnktsj opened #5884 "Option to restrict fragment length for calling CNVs"
Hi GATK team!
I would like a minimum fragment length filter during calling CNVs (the CountReads step) if possible.  @LeeTL1220 helped me to find an option to set a maximum fragment length with `--read_filter  FragmentLength --maxFragmentLength <value>` ([link to the GATK forum page](https://gatkforums.broadinstitute.org/gatk/discussion/2338/how-can-i-invoke-read-filters-and-their-arguments)). Howe

[2019-04-15 02:01] davidbenjamin commented on #5880
@droazen We have a couple of merged PRs, #5873 and #5853, between which the error should not be thrown in the next minor release.  However, this does not change the fact that **users should never, ever, run the Mutect2 pipeline with an unmatched tumor-normal pair.**  When there is no matched normal, one should run it in tumor-only mode with a panel of normals.

[2019-04-15 02:03] davidbenjamin commented on #5880
I'm kind of glad that 4.1 exposed this because previously unmatched pairs were silently giving wildly-inflated contamination estimates.

[2019-04-15 02:03] #5880 closed

[2019-04-15 14:31] andrew-uzilov-s4 commented on #5880
This can occur in cases where there was a mixup with the samples, meaning the user intended to run a properly matched normal/tumor pair, but there is a provenance error.  This is how @asmoe4 and myself hit this issue.  So this is not the same use case as #5821, where they know there's a deliberate mismatch.  While we're not expecting the contamination check to provide something sensible in this ca

[2019-04-15 22:23] davidbenjamin commented on #5880
@andrew-uzilov-s4 Your comment is very helpful.  Thank you!

[2019-04-16 13:16] ldgauthier commented on #3368
Our long term solution is a rather large modification to the graph assembly
code: https://github.com/broadinstitute/gatk/issues/5828

That will likely take a couple months, but we fully expect a dramatic
improvement in phasing. Since we're working on that, spending time in a
quick fix is just going to make the long term fix take longer.

On Thu, Apr 11, 2019, 4:46 PM Nils Homer <notifications@gith

[2019-04-16 13:43] ldgauthier commented on #5244
Did you ever hook up the new qual to the genotyping? I read this ticket as
asking for genotype posteriors to be output by HC/GGVCFs.

On Wed, Apr 10, 2019, 2:22 PM David Benjamin <notifications@github.com>
wrote:

[2019-04-16 18:07] nh13 commented on #3368
Thanks! I’ll keep watching and let me know if you have a version I can try later this year.

[2019-04-16 18:14] ldgauthier commented on #5793
So we definitely don't update the QUAL if we drop alternate alleles:https://github.com/broadinstitute/gatk/blob/9fce0b22faf2e8db7a8662884266a1893b6b10c5/src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypingEngine.java#L259
Note that the QUAL is based off of the AFResult that had alleles removed if they exceeded the output limit, but not if they had less evidence than the c

[2019-04-16 19:32] DonFreed opened #5885 "AFCalculationResult uses snpPseudocount for insertions and indelPseudocount for SNPs and deletions"
## Bug Report

### Affected tool(s) or class(es)
org.broadinstitute.hellbender.tools.walkers.genotyper.afcalc.AlleleFrequencyCalculator

### Affected version(s)
Latest master branch as of April 16, 2019

### Description
At, https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AlleleFrequencyCalculator.java#L66

For insertions

[2019-04-16 20:25] droazen commented on #4341
One piece of this ticket is done: https://github.com/broadinstitute/gatk/pull/4964 added accessors that allow direct descendants of `GATKTool` to directly access engine datasources, while still forbidding direct access for tools that extend a Walker base class.

[2019-04-17 14:04] #5884 closed

[2019-04-17 14:14] samuelklee commented on #5884
@jnktsj can you let us know what you find?  Also, just checking---are you using separate PoNs for the PCR-Free and PCR-Plus samples?  And are both samples FFPE, or just the tumor?

[2019-04-17 17:58] imneuro commented on #2199
I had similar problem using GATK4.1.0.0.  I try to specify --resource with absolute path, yet it still give me error on path like following:

The command I used is with absolute path as following:
[code]

Somehow the  current path **/dsgmnt/seq4_llfs/work/xhong/refinement/VQSR/script/** was added in front of **hapmap**, which should not be there.
It would be very helpful if anyone can instruct me

[2019-04-17 18:30] jnktsj commented on #5884
@samuelklee We used the same PoN composed of 15 PCR-free normals (30x).  The tumor-normal pairs analyzed for the CNVs are FFPE tumors and blood normals.

I am still investing what is causing the larger noise in PCR-free CNV calls, but I suspect it might be due to the shorter fragments in the PCR-free tumor samples.  I will let you know the details after checking the genomic bins that have higher n

[2019-04-17 18:45] droazen commented on #2199
@imneuro The syntax for tagged arguments has changed in GATK 4.1. Instead of this:

[code]

You need to write this:

[code]

[2019-04-17 19:40] imneuro commented on #2199
Wonderful! It run through as you instructed. And then I run into R script error as following:

Besides ggplot2, grid, and tools, any other R package I need? And also any instruction about R version and installation specified for GATK 4100 that I can follow?

[2019-04-17 20:32] cmnbroad commented on #2199
@imneuro The easiest thing to do is to use the GATK docker image, however, if you like you can install R and then run the R script found [here](https://github.com/broadinstitute/gatk/blob/master/scripts/docker/gatkbase/install_R_packages.R) to get the required R dependencies.

Also, these kinds of questions can be best handled by posting on the GATK forum - github issues are for bugs/feature reque

[2019-04-17 20:36] cmnbroad opened #5888 "install_R_packages.R should be included in the distribution zip"
so non-Docker users have a way to get the required dependencies.

[2019-04-17 22:17] imneuro commented on #2199
will do. Thank you

[2019-04-18 04:06] vdauwera opened #5889 "Update the M2 WDL readme with Funcotator instead of Oncotator"
## Documentation request

### Tool(s) or class(es) involved
Readme for M2 in https://github.com/broadinstitute/gatk/tree/master/scripts/mutect2_wdl

### Description
This is the text currently in the readme, it needs to be updated to feature Funcotator instead of Oncotator:

[2019-04-18 04:08] vdauwera commented on #5889
Or maybe I'm confused and the user can get either/or, based on the wdl? It wasn't very clear either way.

[2019-04-18 04:54] davidbenjamin commented on #5889
@vdauwera I didn't even know that README existed.  It's horribly out of date in a lot of ways.  @LeeTL1220 Before I spend time fixing it, is there any way I could drastically shrink this file, like to 3 lines or so, or delete it entirely?  I mean, most of it is redundant if you just read the WDL, and I really don't want to add maintenance of this README on top of Terra and the two official M2 wdls

[2019-04-18 04:57] vdauwera commented on #5889
I agree a lot of the detailed content is redundant and not worth maintaining in separate places. Reducing to 2 or 3 lines seems a bit too drastic though -- I would love to see something like a half-page high-level overview to serve as cliff notes for the WDL.

[2019-04-18 11:45] #5857 closed

[2019-04-18 12:04] samuelklee opened #5891 "Update CNV tools and documentation to use IntervalMergingRule.NONE."
After #5887 goes in.  PreprocessIntervals should still allow the use of IntervalMergingRule.OVERLAPPING_ONLY, and we should validate early that intervals are non-overlapping elsewhere.

[2019-04-18 13:59] jonn-smith commented on #5889
I have a blurb I can add that should be mostly sufficient.

[2019-04-18 14:15] blueskypie commented on #5244
@davidbenjamin Thanks for the comment! yes, your interpretation is exactly what I was looking for.

[2019-04-18 15:20] ldgauthier commented on #5449
This is still throwing errors.  Importing

[2019-04-18 18:31] #5889 closed

[2019-04-18 19:01] droazen commented on #2602
@jrobinso Just wanted to let you know that this is being worked on this quarter by @cmnbroad, so hopefully you won't have much longer to wait.

[2019-04-18 20:55] cmnbroad opened #5893 "Exception deleting RScriptExecutor temp directories"
Since https://github.com/broadinstitute/gatk/pull/4711, we use a deletion hook to delete the temp directories created by the R executor, but the R executor also deletes these itself. https://github.com/samtools/htsjdk/pull/1315 seems to have exposed this by propagating the exception from the second attempt. See https://gatkforums.broadinstitute.org/gatk/discussion/comment/46733#Comment_46733.

[2019-04-18 23:13] blueskypie commented on #5244
@davidbenjamin  If the `GenotypeGVCFs --newQual` does what you are saying, does it mean the [refinement](https://gatkforums.broadinstitute.org/gatk/discussion/11074/genotype-refinement-workflow-for-germline-short-variants) step is not needed if my use case is `CalculateGenotypePosteriors -V multi-sample.vcf`?

[2019-04-19 02:42] jrobinso commented on #2602
Great, thanks for letting me know.

On Thu, Apr 18, 2019 at 12:01 PM droazen <notifications@github.com> wrote:

[2019-04-19 16:38] mlathara commented on #5449
@ldgauthier so I think this is a different issue with overlapping deletions. The original bug was with queries, this is manifesting on loading. This seems to be an issue specific to dealing with the * allele and the fact that the deletion spans the interval specified.

We're working on a fix.

[2019-04-19 20:19] cmnbroad opened #5895 "Audit tools with tests with suspicious FeatureCache misses"
Results from a Travis run using a branch that throws whenever a FeatureCache miss occurs, and the query interval is on the same contig as was current cached interval, but with a start before the current cached interval start. This indicates that features that have already been ejected from the cache are being re-queried, and the corresponding tool might benefit from a smarter ejection strategy. So

[2019-04-19 20:20] cmnbroad commented on #5148
Closing in favor of https://github.com/broadinstitute/gatk/issues/5895.

[2019-04-19 20:20] #5148 closed

[2019-04-21 05:06] sahilseth commented on #5553
Has this been fixed with 4.1.1.0?

gatk-4.1.1.0

I think, its the same bug?

[code]

[code]

[2019-04-21 06:06] flexray commented on #5690
The same for HaplotypeCaller (GATK 4.1.1.0)
If this persists, and it seems like it, I will try to switch to pure-java, as retry takes couple of hours and ruins the workflow.

[code]

[code]

and
[code]

[2019-04-22 02:34] davidbenjamin commented on #5553
@sahilseth It should be fixed now, but what stack trace are you getting?

[2019-04-22 13:37] LeeTL1220 opened #5896 "Remove the CRAM conversion from M2 WDL"
## Feature request

### Tool(s) or class(es) involved
M2 WDL

### Description
The M2 WDL has a step to convert a cram file to a bam file automatically.  The GATK framework should be able to handle cram vs. bam under the hood.  As soon as the framework supports cram seamlessly, we should remove the conversion from the M2 WDL.  That step drives up storage costs big time.

@davidbenjamin

[2019-04-22 13:55] LeeTL1220 commented on #5896
(drives up storage costs big time for those using cram)

[2019-04-22 14:35] rong923 commented on #5543
wondering if this issue is resolved yet in the current version?

[2019-04-22 14:53] jamesemery opened #5897 "Re-evaluate the behavior in the `BandPassActivityProfile` regarding high quality soft clips"
#5765 and the subsequent discussion around the PR #5767 have highlighted some strange behavior in the `BandPassActivityProfile`. Namely, it appears that in cases where where the Haplotype caller engine in the method `isActive()` decides that a given base has ` averageHQSoftClips.mean() > AVERAGE_HQ_SOFTCLIPS_HQ_BASES_THRESHOLD` that it will mark the `ActivityProfileState` object it constructs as `

[2019-04-22 15:22] ldgauthier commented on #5449
@mlathara that's a fair point about query vs. import, I just thought the logic might be similar.  And I didn't mention it, but maybe it's helpful to know that I was running the import with the consolidate option.  Thanks for taking a look!

[2019-04-22 16:47] mepowers commented on #5690
@byoo @flexray - we discussed this internally as a team, and the recommendation is to use the standard smithwaterman, as @flexray suggests, and see if that resolves the issue.  You should see comparable runtimes between Intel smith waterman and the default version.

[2019-04-22 17:00] sahilseth commented on #5553
[code]

These calls are from IonTorrent platform (not Illumina), maybe that could be an issue?

[2019-04-22 19:10] #5653 closed

[2019-04-22 22:58] bhanugandham opened #5900 "Java heap space error (java.lang.OutOfMemoryError) in mutect2"
I used newly GATK4.1 version, and my scripts are:

java -Xmx300g -jar $GATK Mutect2 \
 --dont-use-soft-clipped-bases true \
 --tmp-dir $cw/$i/tmp \
 --input $DNAbam/ADAR16-DNA-2_NKD180600323/ADAR16-DNA-2_NKD180600323.best.uniq.pair.sort.markdup.bam \
 --input $RNAbam/$i/$i.merge.markdup.reheader.bam \
 --reference $genome\
 --output $cw/$i/$i.dna.rna.vcf \
 --normal-sample ADAR16-DNA-2_NKD18060032

[2019-04-22 22:59] bhanugandham commented on #5900
@cmnbroad as discussed during gatk office hrs I created a github issue ticket for this error. Let me know if there is any other information you need from the user.

[2019-04-22 22:59] sahilseth commented on #5553
I think this could because this is single end sequencing. I had run the previous step of collecting metrics with defaults. It seems all of them are rightfully geared towards PE, and all reads are thrown out in my case.

I am not re-running previous step, as follows - welcome suggestions - thanks

[code]

[2019-04-23 09:00] jonn-smith commented on #5862
I recommend we error out when provided with `--validation-type-to-exclude ALL`.  It doesn't make sense - why call the validator if you're not going to validate?

[2019-04-23 09:37] Ismaelfermir commented on #4665
Hi! I have the same issue as @chandrans.
When I run Mutect2 this is the error:
`(gatk) root@d387db9e4351:/Desktop# gatk Mutect2 -R /Desktop/UCSC_hg19_genome.fasta -I /Desktop/HP0049.bam -O /Desktop/HP0049.vcf.g
Using GATK jar /gatk/gatk-package-4.1.1.0-local.ja
Running:

    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble

[2019-04-23 16:17] droazen commented on #5900
@bhanugandham As a side note, you shouldn't be running GATK4 using `java -jar` directly. You should use the included `gatk` launcher script, which sets a lot of important configuration settings, some of which have a major effect on tool performance.

[2019-04-23 18:05] bhanugandham commented on #5900
@droazen Thank you, I will let the user know too.

[2019-04-23 18:33] davidbenjamin commented on #5553
@sahilseth This is actually a different issue.  The solution is to not run `CollectSequencingArtifactMetrics` and any other tools involved in orientation bias filtering.  Single-end reads do not have orientation bias artifacts and the whole model assumes paired reads.

For the record, we recently deprecated `CollectSequencingArtifactMetrics` and `FilterByOrientationBias` in favor of our new orient

[2019-04-24 02:33] JavisPeng opened #5903 "The first running Funcotator is stucked"
ENV:  Centos7  JAVA1.8  GTAK4.1.0.0
Preparation:
1. download datasource funcotator_dataSources.v1.6.20190124g
2. untar the gnomAD

[code]
after running the script above, it stucked and show nothing anymore, is there something I ignored ?

[code]

[2019-04-24 07:41] flexray commented on #5690
@mepowers going with --smith-waterman JAVA worked and HC finished for WGS sample

[2019-04-24 19:02] droazen commented on #4665
@Ismaelfermir The message about "Flush-to-zero" is normal, and not an error. The problem is likely that your BAM doesn't have read groups in its header, or if it does, those read groups may lack sample names.

[2019-04-24 19:16] droazen commented on #5903
@JavisPeng Does the tool still hang if you don't untar gnomAD?

[2019-04-24 19:22] jonn-smith commented on #5903
@JavisPeng I think it is having trouble connecting to google cloud to get the gnomAD data.

As an alternative you can download the gnomAD data directly to your machine and run against a local copy.

[2019-04-24 20:16] #5692 closed

[2019-04-25 01:30] EvanTheB opened #5905 "Intended GenotypeGVCFs sharding behaviour"
I found that if an indel + snp combination straddles a shard boundary GenotypeGVCFs will produce different calls. More info:

https://gatkforums.broadinstitute.org/gatk/discussion/comment/58230

This is in GATK 3.7. I do not know how this issue is related, would it have been merged in 3.7? https://github.com/broadinstitute/gatk/issues/2735

What is the expected behaviour of sharding in this circum

[2019-04-25 13:05] ldgauthier commented on #5905
It's likely that this persists in GATK4, but this isn't high priority because in practice we've found that most of our users ignore the spanning deletion alleles or actively dislike them.  There are a variety of known issues surrounding spanning deletions, including filtering of * genotypes when the upstream deletion is filtered.

I've attached our b37/GRCh37 WGS interval list (no decoy contig), w

[2019-04-26 02:48] EvanTheB commented on #5905
@ldgauthier thank you so much for your detailed answer!

I have also prepared a ~20k shard file here:

https://github.com/EvanTheB/joint_call_shards

I just avoided known gene regions. Maybe this is pointless but feels a bit safer than splitting any-old-ware.

Do you have any information about how the hg38 20k shards file was created?

[2019-04-26 02:48] #5905 closed

[2019-04-26 12:39] ambarishK opened #5906 "WDL workflow development using docker images"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2019-04-29 20:07] af8 commented on #5543
Yes @rong923, go with >= 4.1.1.0 and you are safe. I ve been running hundreds of pipelines without a problem now.

[2019-04-29 20:23] #5893 closed

[2019-04-30 20:12] mehrzads opened #5907 "Best haplotype finder functionality is changed"
## Bug Report

### Affected tool(s) or class(es)
Haplotypecaller

### Affected version(s)
4.1.1 and later

### Description
I was looking at the recent commits and I realized that the functionality of the finding method for best haplotypecaller is changed. I was wondering if it is intentional?

if you look at
hellbender/tools/walkers/haplotypecaller/graphs/KBestHaplotypeFinder.java:89

there is a l

[2019-04-30 22:13] mehrzads opened #5908 "value of USE_CACHED_READ_INDEL_INFORMATIVENESS_VALUES changes the result"
## Bug Report

### Affected tool(s) or class(es)
Haplotypecaller

### Affected version(s)
4.1.1 or later

### Description
if you look at haplotypecaller.java::callRegion(), you will see these lines:
[code]
We trim the region left and right and calculate the Reference confidence. The problem is when we call calculateRefConfidence , we might trim reads for the left region and calculate TransientAttr

[2019-05-01 15:37] jamesemery commented on #5908
@mehrzads Thank you for posting about this issue. Have you been able to demonstrate different ref-confidence calls in active regions as a result of changing USE_CACHED_READ_INDEL_INFORMATIVENESS_VALUES? It would be simple enough to add a defensive check to ensure the reads have their transient fields purged between calls to the ReferenceConfidenceModel to be absolutely sure there is no issue.

[2019-05-01 16:17] jamesemery commented on #5908
I just ran a preliminary test and it appears that the transient attribute field is getting purged between `if (trimmingResult.hasLeftFlankingRegion())` and `if (trimmingResult.hasRightFlankingRegion())` `ReferenceConfidenceModel` calls. That means this should be a safe operation but would rather be sure and necessarily clean the attribute fields for an added layer of protection.

[2019-05-01 16:36] wrighth-omics opened #5910 "Extract GenotypeGVCFs engine into publicly accessible class/function"
## Feature request

Make joint genotyping functionality available as a publicly accessible function to another class/program without passing through the GATK command line interface

### Tool(s) or class(es) involved
VariantContext
GenotypeGVCFs
Underlying engine classes

### Description
For various use cases where our pipelines produce in-memory VariantContext objects it would be faster and easier

[2019-05-01 17:17] aushev opened #5912 "Annotation warnings should include info about their source"
## Feature request
### HaplotypeCaller
When running HaplotypeCaller, I get tens of thousands of lines like the following:
[code]
The problem is they are not informative: you can't tell what position/region caused them. Resulting repetitive messages are redundant.

[2019-05-01 19:09] mehrzads commented on #5908
Thank you James for your great work. Yes I have a sample that it seems to generate different results based on USE_CACHED_READ_INDEL_INFORMATIVENESS_VALUES. I think explicitly cleaning it will definitely solve the problem.

[2019-05-02 08:54] #4822 closed

[2019-05-02 18:14] LeeTL1220 opened #5914 "Generate a preferred transcript list for hg38 GENCODE"
## Feature request

### Tool(s) or class(es) involved
Funcotator (auxiliary file)

### Description
We have a preferred transcript list for hg19 (i.e. GENCODE v19), but we do not have one for hg38 (latest version supported by Funcotator -- currently v29).

There is a script in the oncotator repository for creating this list, but it does not have the manual curation.  Please see @LeeTL1220 for detai

[2019-05-02 18:27] LeeTL1220 commented on #5914
Oncotator script: `create_uniprot_datasource_preprocess.sh.example`

Since this initializes an oncotator gencode datasrouce, it will not work for generating hg38 data.  However, it can be used as a template for writing an updated sciprt for Funcotator.

Does a superset of what is needed here, but a side-effect is to generate the initial preferred transcript list.

[2019-05-03 17:46] SHuang-Broad opened #5915 "Allow generating Telomertic event when writing (sv) VCF"
## Feature request

### Tool(s) or class(es) involved

(sv) VCF producing tool(s).

### Description

The VCF spec allows `POS` column to take value 0, when the suspected event is at a telomere.
The given example is in section 5.4.5 (see example event illustrated in Figure 6 and VCF records below the figure).
However, currently GATK writes VCF via `VariantContext`'s, which is a tribble hence define

[2019-05-03 20:04] sahilseth opened #5916 "VariantFiltration is incorrectly filtering variants"
To me, it seems VariantFiltration is incorrectly adding a filter when it clearly should not - unless I am missing something.

I am adding a filter when `VAF in normal is > 2%` or `VAF in tumor is < 5%`. For this i am using the following expression:

[code]
However, for this critical variant, the tool is incorrectly adding a filter, when TAF is 0.55.

[code]

VAF calc:

[code]

I have another unrel

[2019-05-03 20:27] sahilseth commented on #5916
Just to follow up, I see the same issue with gatk versions 4.1.2.0 and 3.7. It seems the division operation has an issue:

[code]

It is picking up the right values, but the division is giving ZERO instead of `0.55`.

[2019-05-03 20:45] cmnbroad commented on #5916
@sahilseth This is because you're doing integer division, and then comparing the resulting int to a float. Try multiplying the (AD/DP) value by 1.0 and then doing the division.

[2019-05-04 17:19] sahilseth commented on #5916
Thanks that helped, and also going through forums again I saw this [post on jexl](https://gatkforums.broadinstitute.org/gatk/discussion/comment/51257/#Comment_51257), and the suggested approach also worked as expected:

[code]

Re: the second question, what would be a way to retrieve non-cannonical values?

[code]

[code]

This to me suggests:
1. setting defaults using (`getAttributeAsInt("DP", 0.

[2019-05-04 17:53] sahilseth commented on #5916
Are these functions exposed to jexl?

https://github.com/samtools/htsjdk/blob/335f2c1d70fe922c1bedfcb2d7d7751d5adb723c/src/main/java/htsjdk/variant/variantcontext/VariantContext.java#L737

[2019-05-06 13:27] cmnbroad commented on #5916
@sahilseth Yes, you should be able to call those.

[2019-05-06 15:01] #3318 closed

[2019-05-06 15:05] davidbenjamin commented on #5564
So, I tried this out and it's harder than it seems.  Some calls get better, some get worse.  There probably exists a simple set of heuristics to make reasonable alignments, but I don't think that it can be represented as a single set of SW parameters.  We might need to have some kind post-processing to judge whether a better alignment than the Smith-Waterman one exists.

[2019-05-06 16:11] yifangt opened #5917 "GATK4.1.0 IndexFeatureFile only indexed the last chromosome"
Hello,
I was trying to create a candidates SNP list for  **GATK4 BaseRecalibrator** to recalibrate the alignment for SNP calling. And I met a problem with the indexing of the my vcf file of candidates SNPs.
The indexing step and recalibrating step ran without any error, but only very small amount of SNPs (~2900) were detected from a genome **~15Gbp** size, which is definitely not correct as compar

[2019-05-06 17:47] bhanugandham opened #5918 "GetPileupSummaries runs out of memory even with >200 available RAM"
A user reported that when running GetPileupSummaries on gnomad vcf, the tool runs out of java heap memory. Xmx value was set to `-Xmx30G` and the machine has >200G RAM.

**User Report**:  I'm trying to run the cross sample contamination check on my samples, but GetPileupSummaries (4.1.1.0) keeps running out of memory, even when running a single sample on a VM that has >200GB of RAM available.

<pr

[2019-05-06 19:44] droazen commented on #3697
Re-assigning to @jamesemery, as he is working on this problem this quarter.

[2019-05-06 20:41] bhanugandham opened #5919 "Stream closed error with gatk 4.1.1.0"
**Summary**:
A user reported `java.io.IOException: Stream closed` error with ApplyBQSRSpark. GATK 4.0.9.0 runs fine but when the user upgraded to gatk 4.1.1.0 version, they see his error.

**User Report**:
I am getting the below error when running gatk-variant pipeline of bcbio. Bcbio using gatk 4.1.1.0 version.
When I run ApplyBQSRSpark using GATK 4.0.9.0, it runs fine without any issues.

Here i

[2019-05-06 20:43] droazen commented on #5919
@tomwhite Could this be related to the Disq migration in 4.1?

[2019-05-07 06:56] sahilseth commented on #5916
thanks @cmnbroad, however `vc.getGenotype("3105-T").getAttributeAsInt("DP", 0)` is always returning 0 irrespective of the actual vaue of DP - am I missing something in the code?

[2019-05-07 14:11] cmnbroad commented on #5917
@yifangt I don't think the progress meter output is a reliable basis for concluding that only one chromosome was indexed, as its time-based not content based. I would suggest manually running a query against candidate snp file after its been indexed (maybe using SelectVariants, on a specific locus on some contig other than the one that IndexFeatureFile reported as being indexed) and see if the res

[2019-05-07 15:46] LeeTL1220 opened #5921 "Add WDL support for FuncotateSegments"
## Feature request

### Tool(s) or class(es) involved
FuncotateSegments

### Description
- [ ]  Create a standalone WDL for FuncotateSegments.
- [ ]  Give the choice to use oncotator or Funcotator (`FuncotateSegments`) in the WDL (or both or neither) in Somatic CNV WDL.  Call (as a subworkflow) the WDL created in the previous step above.

[2019-05-07 17:19] yifangt commented on #5917
Thanks Chris!
Yes, you are right!
I tested the index with **SelectVariants** on different intervals, and they are all retrievable with ease and no errors!
Now the indexing step can be confirmed right and the problem must be something else.
Thank you so much for this advice.

[2019-05-07 18:47] davidbenjamin opened #5922 "Option to make real de Bruijn graph in HC and M2"
As part of the effort to use linked de Bruijn graphs in assembly, we should eliminate the hacks that we use to mitigate the problems with cycles.  Eventually this should become the only thing we ever do, but for now let's create a command line option in which we assemble a true de Bruijn graph where each kmer corresponds to exactly one vertex.

This ought not to break anything although until we fi

[2019-05-07 18:53] davidbenjamin opened #5923 "Build SeqGraph junction trees for linked de Bruijn graphs"
Implement a `SeqGraph` version of the junction trees described in Kiran's paper.  For now we can do something naive about reads with errors corresponding to pruned edges, such as skipping the remainder of the read.

In addition to involving a minimal change to the current code, using `SeqGraph`s will make handling read errors a bit simpler and is a much more natural way to handle dangling ends.

[2019-05-07 18:57] davidbenjamin opened #5924 "Handle read errors in junction trees"
Once we have implement junction trees on `SeqGraph`s we will need a reasonable heuristic for handling bases in reads that have been pruned from the graph.  For example, upon finding a mismatch between a read and a `SeqVertex` we might scan for the next kmer in the read that matches some `SeqVertex` and simply proceed from there.  Or we might only do so if the matching vertex is either the current

[2019-05-07 19:14] davidbenjamin opened #5925 "Use junction trees to find best haplotypes"
Once we have built junction trees for linked de Bruijn graphs we can use them to find phased haplotypes that handle repeats / cycles.  This essentially amounts to running the current Dijkstra's algorithm on junction trees (which are, after all, DAGs) instead of `SeqGraph`s.  That is, the edge weights can remain log branching ratios.

The complication is that while using the the "oldest" junction t

[2019-05-07 21:27] LeeTL1220 opened #5927 "Other transcript field is not sorted, so it can cause issues with automatic testing"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
`master`

### Description
For example, the following two snippets are equivalent, but due to random ordering, the last two are switched and automated tests are failing, even though the code is untouched.
[code]

[2019-05-08 01:38] LeeTL1220 commented on #5927
`FuncotatorIntegrationTest.nonTrivialLargeDataValidationTest(...)`

[2019-05-09 03:35] xunxun66 opened #5929 "GATK4 SelectVariants: java.lang.NumberFormatException: For input string: "1,0""
Hi,

First I filter snp.raw.vcf with `VariantFiltration` command below:
`gatk-4.1.2.0/gatk --java-options "-Djava.io.tmpdir=/tmp/" VariantFiltration -R genome.fa -V snp_rmnan.raw.vcf --filter-expression "QUAL < 30.0 || QD < 2.0 || FS > 60.0 || MQ < 40.0 || SOR > 4.0 || ReadPosRankSum < -8.0" --filter-name "my_snp_filter" --missing-values-evaluate-as-failing true -O snp_rmnan.raw.vcf.tmp.vcf `

Thi

[2019-05-09 15:18] SHuang-Broad commented on #5929
@xunxun66
The [forum](https://gatkforums.broadinstitute.org/gatk/categories/ask-the-team) is a better place for this type of questions.

[2019-05-09 18:15] LeeTL1220 commented on #5927
This was a misdiagnosis of the actual issue.  Closing.

[2019-05-09 18:15] #5927 closed

[2019-05-09 21:49] jeremiahsavage opened #5931 "CollectMultipleMetrics perform Percent-encoding of paths, breaks with Cromwell packed CWL workflows"
## Bug Report

### Affected tool(s) or class(es)
CollectMultipleMetrics

### Affected version(s)
4.1.2.0

### Description
CollectMultipleMetrics performs Percent-encoding of input paths. When running this tool as a step of a packed CWL workflow with Cromwell, this causes a No such file or directory error.

The input file
[code]

[2019-05-10 00:18] LeeTL1220 opened #5932 "GencodeFuncotationFactory refactoring for better separation of concerns between CNV vs small mutationannotation"
# Feature request
### Tool(s) or class(es) involved
Funcotator

### Description
Currently, the GencodeFuncotationFactory is doing a lot.  A suggested refactoring would be to have an AbstractGencodeFuncotationFactory that encapsulates the shared functionality b/w segment and small mutation annotation.  Then two concrete classes for annotating segments and small mutations.