[2015-10-30 17:57] akiezun commented on #1056
btw, i can probably shave off another 10-15% of time off this thing. stay tuned

[2015-10-30 20:28] akiezun commented on #1056
a little bit shaved off. working on more
real	4m40.226s
user	4m42.279s

[2015-10-30 21:01] eitanbanks commented on #1056
@vdauwera we stopped using indel quals a while back...

[2015-10-31 04:44] akiezun commented on #1056
removed boxing:
[code]
gotta look for bigger wins by more drastic cuts

[2015-10-31 05:32] akiezun commented on #1056
don't even compute indel covariates on applyBQSR
[code]

[2015-11-02 05:08] akiezun commented on #1056
reduce memory allocation at calls using varargs on applyBQSR:
[code]

[2015-11-02 15:30] droazen commented on #1060
I think this is by design (the reader intentionally keeps unmapped reads that have mapped mates). We might want to reconsider this behavior and just filter out all unmapped reads, but then we won't be able to match the old test outputs.

The progress meter, of course, just prints out the locus for whatever read happens to be around when its polling interval is up, and this may occasionally happen

[2015-11-02 16:42] akiezun commented on #1056
pre-compute the platform from the header rather than recompute it for every single read

[code]

[2015-11-02 16:53] droazen commented on #1015
@laserson One use case would be that after running your Spark pipeline you wanted to run a file-based tool on the resulting reads. The vast majority of our tools are still file-based, and for tasks like performing QC on the output of a spark pipeline it's easiest to materialize a single file and run existing tools on it.

[2015-11-02 19:12] droazen opened #1072 "Verify that SAMHeaders are being stripped in all Spark tools once https://github.com/samtools/htsjdk/pull/327 is in"
Once https://github.com/samtools/htsjdk/pull/327 is merged into htsjdk and propagates to hellbender, let's audit our Spark tools to ensure that we are always serializing headerless SAMRecords

[2015-11-02 20:27] laserson commented on #1015
Yeah, this is definitely one of the biggest gotchas for people switching to Hadoop-style tools.  Though hopefully GATK4 will really help people move off of single files at least for large parts of their pipelines :)

[2015-11-03 03:37] akiezun commented on #1071
meh, it never comes up on the profiler. closing

[2015-11-03 03:37] #1071 closed

[2015-11-03 03:49] akiezun opened #1073 "CompareSAMs does not compare properly - not suitable for use in tests"
CompareSam ignores actual content of the reads (bases, qualities, attributes etc). We need this functionality to use CompareSam in tests.

This issue may be fixed by creating a new facility to compare bam/sam files that takes those into account.

[2015-11-03 19:22] #1025 closed

[2015-11-03 19:22] #1026 closed

[2015-11-03 19:59] vruano opened #1076 "Read filters on non-ReadWalkers."
The ReadWalker can define read filters overwriting makeReadFilter().

Other walkers that require reads need to do the filtering explicitly when they go thru the ReadContext object in the apply.

Even when this is rather trivial to do, it seems to make sense to concentrate read filtration in a single place in the GATKTool class.

[2015-11-03 21:59] #1063 closed

[2015-11-04 03:50] akiezun opened #1078 "port BQSR binning from GATK3"
https://github.com/broadinstitute/gsa-unstable/pull/1063

[2015-11-04 16:18] #1027 closed

[2015-11-04 17:10] lbergelson opened #1081 "ReadThreadingAssemblerUnitTest contains identical tests with different names"
Intellij pointed out to me that these two tests were identical, but they sound like they're testing different things.  Are we missing an important test case?

We should either fix whichever one isn't testing the thing it says it is, or delete one of them.

[code]

[2015-11-04 17:56] akiezun opened #1082 "replace refIDs with assemblyIDs throughout the codebase"
once #1057 is merged, we should replace usages of the gibberish IDs (eg EOSsjdnTicvzwAE) with assemblyIDs (eg GRCH37)

[2015-11-04 20:28] akiezun opened #1085 "BaseRecalibratorSpark can't handle more than 1 knownSites file."
BaseRecalibrator can take multiple feature files as known sites (the --knownSites argument). But BaseRecalibratorSpark can't and so BQSRPipelineSpark can't and ReadsPipelineSpark can't.

Once this is fixed, relevant tests should be reenabled

[2015-11-05 05:15] akiezun opened #1087 "Make CRAM file comparison non-lenient in PrintReadsIntegrationTest"
due to a CRAM bug https://github.com/samtools/htsjdk/issues/364 we have to make a few tests lenient.

make them stringent when the cram bug is resolved

[2015-11-05 16:03] akiezun opened #1088 "Add doc about how to set up jProfiler with GATK4"

[2015-11-05 20:11] droazen opened #1090 "Forward-port recent SelectVariants changes to GATK4"
https://github.com/broadinstitute/gsa-unstable/issues/1194
https://github.com/broadinstitute/gsa-unstable/issues/1060

(after https://github.com/broadinstitute/gatk/pull/792 is merged)

[2015-11-05 21:12] droazen opened #1091 "Understand why Hadoop-BAM uses a guessing approach to find BGZF block boundaries instead of using the block lengths in the BGZF headers"

[2015-11-06 16:50] droazen commented on #1091
May want to start by reading the original Hadoop-BAM paper (http://bioinformatics.oxfordjournals.org/content/28/6/876.full.pdf+html) before diving into the code itself.

[2015-11-06 18:25] droazen opened #1092 "Profile SelectVariants against the GATK3 version"
After https://github.com/broadinstitute/gatk/pull/792 is merged, ensure that our version of `SelectVariants` is as fast or faster than the GATK3 version on typical inputs.

[2015-11-06 18:25] droazen commented on #1092
For @akiezun

[2015-11-06 18:57] droazen commented on #1015
We've just discovered that Hadoop BAM comes with a single BAM writer that is supposed to be fast. Let's try that one out, and put our efforts to develop our own on hold until we've evaluated the existing Hadoop BAM implementation.

[2015-11-06 18:58] #698 closed

[2015-11-06 18:58] droazen opened #1094 "Evaluate the Hadoop BAM single bam writer"
Apparently Hadoop BAM comes with a single BAM writer that is supposed to be fast. Let's evaluate it to determine whether it could solve https://github.com/broadinstitute/gatk/issues/1015

[2015-11-06 18:59] droazen commented on #1094
If it turns out that we can use this, we can mark https://github.com/broadinstitute/gatk/issues/1015 as resolved.

[2015-11-06 18:59] droazen commented on #1094
Who wants this ticket?

[2015-11-06 19:03] droazen commented on #1094
@akiezun Since you always have extra bandwidth due to being so fast with everything, I am giving this hot potato to you :)

[2015-11-06 19:16] akiezun commented on #1094
nice!

On Fri, Nov 6, 2015 at 2:03 PM, droazen <notifications@github.com> wrote:

[2015-11-06 19:17] droazen commented on #1094
Do you think this should be an alpha ticket, or are we ok with this being targeted for beta?

[2015-11-06 19:19] droazen commented on #1094
Never mind -- since https://github.com/broadinstitute/gatk/issues/1015 is marked for alpha, this one should be too.

[2015-11-06 19:51] droazen commented on #41
This is done!

[2015-11-06 19:51] #41 closed

[2015-11-06 19:55] droazen opened #1095 "SelectVariants SUPPRESS_REFERENCE_NAME argument does not behave as advertised"
Claims to suppress the reference file name in the output (if there is one), but actually suppresses the path and extension.

[2015-11-06 19:55] droazen commented on #1095
Quick fix for @cmnbroad

[2015-11-06 19:58] droazen commented on #1092
Be sure to profile with a concordance/discordance track to make sure that querying auxiliary sources of variants in VariantWalkers is not more expensive in GATK4 than GATK3.

[2015-11-06 19:58] droazen commented on #1092
https://github.com/broadinstitute/gatk/pull/792 is merged, so this ticket is ready

[2015-11-06 20:38] #646 closed

[2015-11-06 20:52] #1073 closed

[2015-11-06 21:27] laserson commented on #1015
sgtm.  Is someone else already implementing that or should I do it in this issue?

[2015-11-06 21:38] lbergelson opened #1096 "Spark options aren't being passed to master"
Spark parameters set in SparkCommandLineProgram aren't actually being propagated to the spark master.  @LeeTL1220 discovered that this was the case.   The solution is to move them into the SparkContextFactory and apply them to the `SparkConf` instead of the `SparkConfig`

[2015-11-06 21:44] laserson commented on #1094
happy to review when you push a PR

[2015-11-06 21:47] laserson commented on #1096
Related to #1070?

[2015-11-06 22:14] lbergelson commented on #1096
@laserson Related to antagonistic too #1070.  This is setting this explicitly instead of using spark submit.  The solution to 1070 will probably revise the changes I'm making here.

[2015-11-06 22:42] #896 closed

[2015-11-07 01:12] davidadamsphd opened #1098 "Another (likely) Hadoop-BAM bug"
The symptom is that I'm getting an invalid record when using the Hadoop-BAM probabilistic splitter. I wrote a small program to verify the bug and the record it's happening on.

To run this, check out da_key_bug and run something similar to my command
[code]
The important bits are the BAM (`gsutil cp gs://jpmartin/hellbender-test-inputs/CEUTrio.HiSeq.WGS.b37.NA12878.bam . ` should work to grab it)

[2015-11-08 20:41] akiezun commented on #1032
@droazen I'll grab this one. I'm doing the indel ripping out anyway and staring at the profiler for BaseRecalibrator. Grab back if you want it.

[2015-11-09 15:03] droazen commented on #1032
@akiezun It's all yours

[2015-11-09 15:26] droazen commented on #968
Closing -- the remaining pieces of this have individual tickets

[2015-11-09 15:26] #968 closed

[2015-11-09 17:27] droazen commented on #1047
Reassigned to @tomwhite, as discussed in person.

[2015-11-09 17:52] droazen opened #1100 "Improve performance of MarkDuplicatesSpark"
In the process of designing correctness tests for `MarkDuplicatesSpark`, @davidadamsphd has come up with a potential set of optimizations to `MarkDuplicatesSpark` that have the potential to improve performance by an order of magnitude. The task here is to meet with @davidadamsphd, get access to and understand his optimizations, and port them to the main `MarkDuplicatesSpark` tool (along with any o

[2015-11-09 17:52] droazen commented on #1100
This one is for @laserson, as discussed in person (since he's conveniently slated to meet with @davidadamsphd in person this week).

[2015-11-09 19:00] akiezun commented on #1092
case1: local file CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf 1.9G
commandline
[code]

**1m56.863s** on GATK 3.4-46-gbc02625
**1m24.934s** on GATK4.pre-alpha-100-g9200274

running on Mac OS X 10.9.5 x86_64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_25-b17.

time gatk3
[code]

time gatk4
[code]

[2015-11-09 19:23] cwhelan opened #1101 "Gather test data sets for SV caller testing"
NA12878 PCR+
NA12878 PCR-
Rare inversion examples
Well characterized cancer cell lines

[2015-11-09 19:26] cwhelan opened #1102 "Install, run, and evaluate other SV methods"
LUMPY
DELLY
MANTA
CREST

[2015-11-09 19:30] cwhelan opened #1103 "Create a tool to gather clustered split reads"
Goal is to isolate reads with soft clipping that supports potential structural variation

Limit size by requiring that at least two reads support any given clipping position

Don't count clipping that's due to bad base quality

[2015-11-09 19:31] cwhelan opened #1104 "Write a tool to gather discordant read pairs"
First simply gather reads and their mates for evaluation, then we can evaluate whether to put them into a more compact data structure.

[2015-11-09 19:32] cwhelan opened #1105 "Write a tool to gather one-end-anchored read pairs"
For now, just gather read pairs into a separate BAM file for evaluation.

[2015-11-09 19:33] cwhelan opened #1106 "GATK4 tool to compute or refine insert size distribution"
Borrow/share with Genome STRiP's approach if possible

[2015-11-09 19:34] cwhelan commented on #1103
As part of writing this tool we can evaluate the suitability of Walker tools, Spark in local mode, and Spark in cluster mode

[2015-11-09 22:00] lbergelson opened #1107 "Expose spark attributes so they can be set by users"
Expose the attributes we set automatically in `SparkContextFactory` so they can be overridden by the user if necessary.

[2015-11-09 22:00] droazen commented on #995
Re-assigning to @jean-philippe-martin -- remaining task is to run both the `BROADCAST` and `BaseRecalibratorSparkOptimized` implementations at larger scale than the 7 GB inputs used to produce the plots above, and then make a decision about whether `BROADCAST` is viable, or we should devote time into improving `BaseRecalibratorSparkOptimized`

[2015-11-10 02:55] akiezun commented on #1092
case 2: file on NFS (same file as in case1)
CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf 1.9G
(this is a 'long and skinny vcf - 3 samples, 6375842 variants)

Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

[code]

**2m58.899s** on GATK 3.4-46-gbc02625
**2m12.066s** GATK 4.pre-alpha-92-g9200274

time gat3
[code]

time gat4
[code]

[2015-11-10 03:06] akiezun commented on #1092
case3: different NFS file, 1.9 GB, different select expression (not using genotypes)

[code]

dataflow01.broadinstitute.org on Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132.

**2m23.051s** GATK 3.4-46-gbc02625
**1m52.230s** GATK4 pre-alpha-92-g9200274
time gatk3
[code]

time gatk4
[code]

[2015-11-10 03:41] akiezun commented on #1092
closing this, we win

[2015-11-10 03:45] droazen commented on #1092
Nope -- you didn't test with a concordance/discordance track as requested above, which has major performance implications. Re-opening

[2015-11-10 03:47] akiezun commented on #1092
fine

[2015-11-10 15:06] #1096 closed

[2015-11-10 15:08] akiezun commented on #1092
case 4: NFS drive, concordance track.
input 1.9Gb, concordance track is the same file with permuted samples.

[code]

dataflow01.broadinstitute.org on Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

**3m57.850s** on GATK 3.4-46-gbc02625
**5m14.169s** on GATK 4.pre-alpha-92-g9200274 :boom:

[2015-11-10 15:21] #952 closed

[2015-11-10 15:22] akiezun commented on #1092
case5: NFS drive, discordance track.
input 1.9Gb, discordance track is the same file with permuted samples.

[code]
dataflow01.broadinstitute.org on Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

**3m45.728s** on 3.4-46-gbc02625
**5m1.409s** on GATK 4.pre-alpha-92-g9200274 :boom:

[2015-11-10 15:24] akiezun commented on #1092
we lose on the concordance/discordance comparison - this issue now tracks profiling and optimizing that case. Bumped the time estimate to 3.

[2015-11-10 17:26] akiezun commented on #1092
case6: same as case5 but on increased cache size to 100000
**3m45.728s** on 3.4-46-gbc02625
**3m15.550s** on GATK4 :+1:

[2015-11-10 17:32] droazen commented on #1092
Woohoo, knew it would be a simple fix! :)

[2015-11-10 17:40] droazen commented on #1092
Can you try a few more cache sizes like 200000 and 500000? Also, when you do the PR, could you create `VariantWalker.FEATURE_CACHE_SIZE = 100000` (or whatever the final value is) and pass it into the `FeatureManager` in `initializeFeatures()`?

[2015-11-10 17:51] droazen commented on #670
It seems like the existing caching that only looks ahead is actually good enough for most `VariantWalkers` -- `VariantFiltration` is an unusual case.

[2015-11-10 17:52] droazen commented on #1092
Also, have we profiled `VariantFiltration` yet against GATK3? It's unclear whether the existing caching will be sufficient for that tool (see https://github.com/broadinstitute/gatk/issues/670).

[2015-11-10 20:21] akiezun commented on #1092
re: `VariantFiltration`,  we did not profile the case of using an auxiliary data. The 100k cache will work for that one too, i'm sure.

[2015-11-10 20:56] droazen commented on #1092
@akiezun Can you double-check that assumption? I am concerned because caching is disabled on the second `FeatureDataSource` for the driving variants source (the one we add to the `FeatureManager` -- see `VariantWalker.initializeDrivingVariants()`), and I know that `VariantFiltration` does queries on that cacheless data source.

[2015-11-10 21:05] jean-philippe-martin opened #1112 "Write performance regression tests"
We need to keep track of our performance so we can notice if a PR breaks performance.

This issue is to remember to do this.

[2015-11-10 22:53] droazen opened #1113 "Fix intermittent gradle out-of-memory errors in travis"
Our travis builds are getting killed intermittently with out-of-memory errors -- it's unclear whether it's the test suite JVM or the JVM with gradle that is getting killed. This is happening more and more often...

[2015-11-11 01:02] jean-philippe-martin commented on #995
![throughput vs core count](https://cloud.githubusercontent.com/assets/10458949/11080726/940ccfd2-87cb-11e5-99b8-a1ebc4bb6949.png)

Thanks to @droazen for doing those measurements. I've taken the input and plotted the per-core throughput numbers above. What we expect to see is a drop after the non-distributed version, and then a steady decline as we add cores. This matches what we're seeing here:

[2015-11-11 12:53] #1092 closed

[2015-11-11 18:04] jean-philippe-martin commented on #1006
@droazen's [measurements in #995](https://github.com/broadinstitute/gatk/issues/995#issuecomment-152310985) show that for the 7GB input the optimized version ("sharding") is **9x faster** than the unoptimized version ("shuffle"). The code is fast as intended, I'm closing this bug.

[2015-11-11 18:04] #1006 closed

[2015-11-12 16:08] tomwhite commented on #1098
I've started looking at this. I managed to reproduce on a cluster and narrow it down to a particular split:

[code]

This start offset is 2176858951 (142662628213169L>>>16) - i.e. around 2GB in. I've managed to reproduce with a local program now. This reveals the following problem:

[code]

If I shift this offset manually by 1 then the error goes away - which confirms that the split guess is wrong

[2015-11-12 16:19] droazen commented on #1113
Whatever fix we come up with for this should also be propagated to hellbender-protected, as requested by @LeeTL1220

[2015-11-12 16:27] droazen commented on #1098
@tomwhite Do we need to rely on a guessing approach here? (https://github.com/broadinstitute/gatk/issues/1091)

[2015-11-12 16:55] davidadamsphd commented on #1098
@droazen, after talking with some of the Google engineers here I think the answer is yes (unless we require having the bam index). However, the checks can be made strict enough to make it improbable for this to happen.

[2015-11-12 16:57] droazen commented on #1098
@davidadamsphd We should just require a bam index if there's any (ie., non-zero) possibility of this sort of thing happening.

[2015-11-12 16:57] droazen commented on #1098
Or patch it to create an index in memory of the BGZF block boundaries

[2015-11-12 17:01] davidadamsphd commented on #1098
@droazen :+1: for requiring a BAM index (once we verify that it indeed solves all of our problems). @jean-philippe-martin said exactly the same thing yesterday to me. So, I think for GATK 4 that's probably the right solution.

It's not a problem of block boundaries. It's a problem of finding the first record within a BGZF block. A record from the previous block _can_ trail onto the next block with

[2015-11-12 17:04] droazen commented on #1098
@davidadamsphd To clarify, by "BAM index" do we mean a standard `.bai` index, or some custom index format? Can we create the index we need in-memory as a fallback option if it's not present on disk?

Could you comment on https://github.com/broadinstitute/gatk/issues/1091 with your findings, and close that issue if you think it's resolved?

[2015-11-12 19:17] davidadamsphd commented on #1091
OK. Section 4 of the SAM spec (https://samtools.github.io/hts-specs/SAMv1.pdf) talks about the BAM spec.
There is a header for each zipped block, however, it doesn't mention the location of the start of any of the BAM records within the block. This is an issue because a BAM record can span two zipped blocks. On the second block, there is no indication how much of the record is left to be read. Tha

[2015-11-12 19:17] #1091 closed

[2015-11-12 19:31] cmnbroad commented on #1087
Once #1084 is merged, AddOrReplaceReadGroupsIntegrationTest has two CRAM tests that are commented out due to this same problem.

[2015-11-12 21:43] cmnbroad opened #1116 "Fix version/attribute inconsistencies in output VCFs."
Its possible to produce a version 4.2 VCF with a GQ FORMAT field that specifies INTEGER but with floating point GQ values if the variants are read from an older version file and are not fully decoded.(GATK3 ticket is (https://github.com/broadinstitute/gsa-unstable/issues/1060). Rather than forward porting the GATK fix in https://github.com/broadinstitute/gsa-unstable/pull/1204 we should find a mor

[2015-11-12 21:45] cmnbroad commented on #1090
The  VCF versioning part of this ticket (for broadinstitute/gsa-unstable#1060) will be dealt with in https://github.com/broadinstitute/gatk/issues/1116.

[2015-11-13 03:04] akiezun commented on #1090
@droazen @cmnbroad can you provide the pull request numbers (not issue numbers) here from gsa-unstable?

[2015-11-13 13:14] tomwhite commented on #1091
BAMSplitGuesser works by first finding the next BGZF block boundary (each block is no more than 64KB in size). Then it looks for the start of a BAM record within the BGZF block boundary. The latter is the part that uses heuristics to find the record start and for which we’ve fixed some bugs (https://github.com/HadoopGenomics/Hadoop-BAM/pull/25, https://github.com/HadoopGenomics/Hadoop-BAM/pull/29)

[2015-11-13 17:11] droazen commented on #1072
This is done -- I've added tests for `ReadsSparkSource` to verify that the headers are being stripped.

[2015-11-13 17:11] #1072 closed

[2015-11-13 17:39] droazen commented on #1029
This is because GATK3 creates sequence dictionaries from VCF indices, and when an index is not present it creates one on-the-fly (see `RMDTrackBuilder.getFeatureSource()`). We could do the same in GATK4 (though we may not want to index vcfs on-the-fly if they're unindexed, as that is a source of race conditions -- safer to throw and make the user index the files).

[2015-11-13 17:55] #1095 closed

[2015-11-13 18:00] akiezun opened #1117 "Remove fastutil dependency"
we use fastutil in 2 places - once in BQSR and once in ReadLikelihoods.

could they be replaced with code from guava?

[2015-11-13 18:06] droazen commented on #1117
`fastutil` is a huge library with 10,000+ classes -- we can't keep adding dependencies like this and then use them in only one or two classes - our jar size is becoming ridiculous. We should replace usages of `fastutil` with either guava or primitive arrays.

[2015-11-13 18:25] akiezun commented on #1117
haha, bogus eh?

[2015-11-13 18:44] lbergelson commented on #1117
We should add all the alternative collections frameworks just to be sure.

[2015-11-13 18:58] cmnbroad commented on #1090
Closing this ticket since the part referring to broadinstitute/gsa-unstable#1194 is fixed via #1115; the part referring to broadinstitute/gsa-unstable#1060 has been moved to a separate ticket #1116.

[2015-11-13 18:58] #1090 closed

[2015-11-13 20:57] akiezun opened #1118 "fix and reenable cloud tests in BaseRecalibratorSparkIntegrationTest"
the testPlottingWorkflow in BaseRecalibratorSparkIntegrationTest is disabled because it uses a bogus expected file. Needs to be fixed and reenabled

[2015-11-13 21:03] akiezun opened #1119 "fix and reenable BaseRecalibratorSparkOptimizedIntegrationTest"
BaseRecalibratorSparkOptimizedIntegrationTest.testBQSRLocal fails once we started doing stringent checks of results. It needs to be fixed. It may have something to do with masking of variants

[2015-11-13 21:12] droazen commented on #1119
For @jean-philippe-martin to look at

[2015-11-14 05:56] vruano opened #1121 "Move FeatureWalker from hellbender-protected to GATK4."
Currently there is a FeatureWalker in hellbender-protected that could be moved to GATK4. In fact it would be a great parent (generalization) of the current VariantWalker as VariantContext are simply a feature.

[2015-11-14 07:08] #799 closed

[2015-11-14 07:08] #1017 closed

[2015-11-16 14:38] akiezun commented on #1056
@droazen looking into the ripping out a bit more, I think it's too disruptive for alpha. The recalibration table will change and it will require a more thorough validation. As this is a potentially results-changing change, I vote to move this past alpha. I have removed the indel calculations from the ApplyBQSR because that does not change any semantics.
(i propose instead to nominate https://githu

[2015-11-16 16:53] tomwhite commented on #1047
I started with Mark Duplicates and found that on the 76MB BAM file in resources, the walker took ~20 seconds, while local Spark took ~120s (with all cores). However, when I changed GATKRegistrator to use SAMRecordToGATKReadAdapterSerializer, local Spark took ~36s (all cores) or ~55s (1 core). Also, this is not writing a single file, since https://github.com/broadinstitute/gatk/issues/1015 has not

[2015-11-16 19:10] lbergelson commented on #618
closed by #871

[2015-11-16 19:10] #618 closed

[2015-11-16 20:31] lbergelson opened #1123 "Stop tests from producing adam.log"
`ReadSparkSinkUnitTest.readsSinkADAMTest()` always writes an `adam.log` file to the hellbender root.  We should figure out how to prevent this, or at least clean it up after tests run.

[2015-11-16 21:10] akiezun opened #1125 "ApplyBQSR ignores useOriginalQualities"
in GATK3 useOriginalQualities is an engine level argument. In hellendender, it's only used in BaseRecalibrator and so you can't applyBQSR on originalBase qualities.

@eitanbanks is this an alpha requirement?

[2015-11-16 21:17] akiezun commented on #699
dup of #1078

[2015-11-16 21:17] #699 closed

[2015-11-16 21:36] eitanbanks commented on #1125
It's used in the Genomes on the Cloud pipeline.  So if we really do want to push this to GotC - and you suggested we do this right after alpha - then it might need to be in...

[2015-11-16 21:57] droazen commented on #1119
Removing alpha milestone -- this one does not need to be in for alpha.

[2015-11-17 15:23] akiezun opened #1128 "display @Advanced arguments differently"
arguments marked as `@Advanced` should be displayed differently than others

[2015-11-17 15:38] tomwhite commented on #1094
It looks like Hadoop-BAM uses Hadoop's TotalOrderPartitioner to do the sort in parallel (i.e. using more than one reducer) in such a way as to have a total ordering, so that reads in partition _i_ are all less than those in _i+1_. Then the output files are concatenated. This will need some alterations to get it working in Spark, since TotalOrderPartitioner relies on the distributed cache (which Sp

[2015-11-17 15:39] akiezun commented on #1094
that would be great, thanks Tom

[2015-11-17 17:40] droazen opened #1129 "Profile VariantFiltration with --clusterSize and --clusterWindowSize"
`VariantFiltration` in GATK4 with clustered SNP filtering on is likely to underperform GATK3, as this results in queries against the driving source of variants both before and after the current variant, and we have caching turned off for the copy of the driving datasource added to the `FeatureManager` for querying (as our caching strategy for features is currently only able to look ahead).

Task i

[2015-11-17 17:40] droazen commented on #1129
A quick one for @akiezun

[2015-11-17 17:43] droazen commented on #1007
This is something to explore for beta

[2015-11-17 17:44] droazen commented on #986
This ticket is just a meta-ticket that was used to spawn additional performance-related tickets for spark -- closing.

[2015-11-17 17:44] #986 closed

[2015-11-17 17:44] droazen commented on #963
This one is definitely for beta

[2015-11-17 17:46] droazen commented on #960
Will probably be addressed in https://github.com/broadinstitute/gatk/issues/1016 by establishing coding conventions for spark rather than enforced programmatically.

[2015-11-17 17:46] droazen commented on #954
The remaining part of this ticket is for beta.

[2015-11-17 17:48] droazen commented on #776
A question for beta

[2015-11-17 17:49] droazen commented on #764
This requirements-gathering ticket is done, and is now well into the implementation phase (https://github.com/broadinstitute/gatk/issues/695). Closing!

[2015-11-17 17:49] #764 closed

[2015-11-17 17:53] droazen commented on #624
Re-assigning to @akiezun -- could you make `toString()` consistent between `SAMRecordToGATKReadAdapter` and `GoogleGenomicsToGATKReadAdapter`? For display purposes only -- something like "read_name contig:start-end" would be fine.

[2015-11-17 17:56] droazen commented on #623
@cmnbroad This one is unblocked now, and should be a very quick change. Since changing `copy()` into a deep copy method might hurt the performance of things like the read clipper, recommend adding a separate method `deepCopy()` to `GATKRead`.

[2015-11-17 17:57] droazen commented on #298
This one is not terribly urgent (although annoying) -- let's address in beta.

[2015-11-17 17:58] droazen opened #1130 "Require a 2bit reference when using the BROADCAST strategy in BaseRecalibratorSpark"
Only 2bit references load the reference data into memory and can be effectively broadcast -- need to add a check that we have a 2bit reference when using BROADCAST in `BaseRecalibratorSpark`, and throw an error with instructions on how to create one when we don't.

[2015-11-17 17:59] droazen commented on #1130
Another quick one for @akiezun, who needs more tickets.

[2015-11-17 18:05] droazen commented on #1130
To create a 2bit reference, download `faToTwoBit` from the link on https://genome.ucsc.edu/goldenPath/help/twoBit.html, then run `faToTwoBit in.fasta out.2bit`

[2015-11-17 18:44] droazen opened #1131 "Make BROADCAST the default join strategy in BaseRecalibratorSpark"
Since SHUFFLE is unusable.

[2015-11-17 19:26] akiezun commented on #1131
something is not right though. With this change, BaseRecalibratorSparkIntegrationTest are >20x slower. See this (look at times on the right hand side)

![image](https://cloud.githubusercontent.com/assets/1993519/11222166/e63a09bc-8d36-11e5-87f5-6fc69f368676.png)

Compare to shuffle times:
![image](https://cloud.githubusercontent.com/assets/1993519/11222123/a09101fe-8d36-11e5-97d2-709cddd875c4.png)

[2015-11-17 19:28] cmnbroad commented on #207
Should include a CRAM test.

[2015-11-17 19:29] droazen commented on #1131
I think the problem is that you need to do https://github.com/broadinstitute/gatk/issues/1130 first, then refactor the tests to use a .2bit reference for the BROADCAST-based tests as part of this ticket (SHUFFLE should still have test coverage, though).

[2015-11-17 19:29] cmnbroad commented on #203
Should include a CRAM test.

[2015-11-17 19:30] droazen commented on #1131
Note that we already have src/test/resources/large/human_g1k_v37.20.21.2bit

[2015-11-17 19:31] cmnbroad commented on #206
Should include a CRAM file test.

[2015-11-17 19:32] akiezun commented on #1032
on the latest code on this region 1:1-20Mb we win but not by much, surprisingly:

[code]

closing this ticket though. mission accomplished.

[2015-11-17 19:32] #1032 closed

[2015-11-17 19:33] cmnbroad commented on #407
Should include a CRAM file test.

[2015-11-17 19:35] cmnbroad opened #1133 "Add tests for CollectGcBiasMetrics"
Should include a CRAM file test.

[2015-11-17 19:35] droazen commented on #1098
What should we do about this issue for alpha?

[2015-11-17 19:37] droazen commented on #1042
@davidadamsphd Is this still an issue? Will it be resolved as part of your validation efforts, or do we have to address it separately?

[2015-11-17 19:38] droazen commented on #967
@vdauwera is too busy to get to this before alpha -- reassigning to @akiezun

[2015-11-17 19:51] cmnbroad opened #1135 "BuildBamIndex doesn't support CRAM file indexing"
It needs to be integrated with CRAMIndexer, and tests should be added for both BAM and CRAM.

[2015-11-17 19:56] droazen commented on #1131
Answered, back to @akiezun

[2015-11-17 20:03] droazen commented on #1131
Note that an alternate (and faster) way of addressing this issue is to make the integration test cases that currently don't specify `--joinStrategy` run with `--joinStrategy SHUFFLE`. This way we can make BROADCAST the default without having to change any existing tests. It would be good, however, to have more of the BQSR spark tests run in BROADCAST mode if there's time to make the necessary chan

[2015-11-17 20:05] droazen opened #1136 "Add argument to disable sequence dictionary validation, off by default"

[2015-11-17 20:14] cmnbroad opened #1138 "Update ValidateSamFileIntegrationTest once htsjdk #369 CRAM bug fix is available"
there is one bug commented out in ValidateSamFileIntegrationTest. The issue is https://github.com/samtools/htsjdk/issues/369, the fix is in https://github.com/samtools/htsjdk/pull/368. SamFileValidator throws NPE on a CRAM file with an invalid sort order. Once that fix is available we can uncomment the test.

[2015-11-17 20:15] cmnbroad commented on #1138
The test in question is not yet merged into main; it currently lives in #1084.

[2015-11-17 20:18] akiezun commented on #1131
good idea. this is done in #1139

[2015-11-17 20:18] droazen opened #1140 "Add additional integration tests for BaseRecalibratorSpark that use --joinStrategy BROADCAST, now that it's going to be the default"

[2015-11-17 20:19] droazen commented on #1140
Since you are so fast @akiezun, here's another one for you.

[2015-11-17 20:19] cmnbroad opened #1141 "Reenable CRAM tests in GatherBamFilesIntegrationTest and SortSamIntegrationTests when htsjdk issue #365 fix is available"
The CRAM tests in GatherBamFilesIntegrationTest  are commented out because they fail without a fix to https://github.com/samtools/htsjdk/issues/365 (the presorted false flag is being ignored so htsjdk expects the reads to already be sorted). The fix is in https://github.com/samtools/htsjdk/pull/368.

The GatherBamFilesIntegrationTest  tests are not yet merged into master; they currently live in PR

[2015-11-17 20:19] droazen commented on #1131
Fine, but I created https://github.com/broadinstitute/gatk/issues/1140 as well :)

[2015-11-17 20:20] droazen commented on #1140
Can probably copy existing tests, replacing the reference with a .2bit reference.

[2015-11-17 20:23] akiezun commented on #967
still blocked by #418

[2015-11-17 20:24] akiezun commented on #1131
the rabbit hole never ends does it?

[2015-11-17 20:24] akiezun commented on #1140
what about tests that use Google cloud API for reference? Those will not use a 2bit one

[2015-11-17 20:25] droazen commented on #1140
Broadcast only works with a .2bit reference -- it cannot get the reference from the Google API.

[2015-11-17 20:27] akiezun commented on #1140
so should we blow us if you request broadcast and google API? https://github.com/broadinstitute/gatk/pull/1137 will make it blow up

[2015-11-17 20:27] droazen commented on #1140
I'll add: the tests that use a reference from the API are using a b37 reference -- so you can use src/test/resources/large/human_g1k_v37.20.21.2bit if they use chromosome 20/21.

[2015-11-17 20:29] droazen commented on #1140
Yes, blow up for now @akiezun. Unless you want to attempt a ticket to remove this restriction from the BROADCAST implementation, since you are so fast today (should not be hard to do...)

[2015-11-17 20:31] droazen commented on #1140
@akiezun Actually, looking at the code now I'm not entirely convinced BROADCAST won't work with the reference coming from the API (though we've never tried this combination before). New ticket incoming.

[2015-11-17 20:32] droazen opened #1142 "Determine whether BaseRecalibratorSpark with --joinStrategy BROADCAST works with a reference from the Google API"

[2015-11-17 20:32] droazen commented on #1142
If it doesn't, should be pretty easy to allow it to support this.

[2015-11-17 20:33] droazen commented on #1142
Note: may require changes to https://github.com/broadinstitute/gatk/pull/1137

[2015-11-17 20:33] cmnbroad opened #1143 "GATKariantContextUtils.createVCFWriter should call clearOptions"
createVCFWriter currently has a workaround for a bug in htsjdk that is now fixed. The call to vcWriterBuilder.unsetOption(Options.INDEX_ON_THE_FLY) should be removed and replaced with a call to clearOptions (which used to break but was fixed in https://github.com/samtools/htsjdk/pull/354).

[2015-11-17 20:38] akiezun commented on #1142
we know it works but it's super slow (> 20x slower) so we'll disallow it for now. For numbers see the pictures in https://github.com/broadinstitute/gatk/issues/1131

Changes in https://github.com/broadinstitute/gatk/pull/1137 will make API+Broadcast a non-allowed combination so i'm closing this.

[2015-11-17 20:38] #1142 closed

[2015-11-17 20:38] droazen commented on #1131
The rabbit hole ends when you tell me you have enough alpha tickets :)

[2015-11-17 21:16] cmnbroad commented on #1069
When this is integrated we should make sure that we require a reference for output CRAMs.

[2015-11-17 21:21] droazen commented on #1069
Please prioritize this ticket for this week, if possible, as it's related to some work I'm trying to get in before I leave for vacation.

[2015-11-17 21:25] cmnbroad commented on #1069
I've already started on it. Hopefully the CRAM PR will get merged in
quickly since these changes will conflict with the changes I made to all
the SamFileWriter creation code there.

On Tue, Nov 17, 2015 at 4:21 PM, droazen <notifications@github.com> wrote:

[2015-11-17 21:29] cmnbroad commented on #766
I don't think we have any remaining issues or constraints with unmapped reads at this point. The issue above was caused by not having a reference for the CRAM output .The other place you can get into trouble in some cases is with sort order (see https://github.com/samtools/htsjdk/issues/365) but there is a fix in PR https://github.com/samtools/htsjdk/pull/368 for that.

Between PR https://github.c

[2015-11-17 21:31] #1131 closed

[2015-11-17 22:01] droazen commented on #1042
Since this is unassigned, assigning to @akiezun (who still needs more tickets) to evaluate whether this needs to be fixed for alpha.

[2015-11-17 22:10] droazen commented on #591
Since @davidadamsphd has his hands full with getting the end-to-end large-scale validation tests for spark tools into a runnable state, I'm re-assigning this to @akiezun. @akiezun feel free to move this to beta if you don't think it's necessary for alpha -- if you have time, though, and run out of tickets, it might be a good use of time.

[2015-11-18 01:49] davidadamsphd commented on #591
If @akiezun is going to pick this up, he should start from where I left off. If it gets bumped to Beta, I'd be happy to keep it in my queue.

[2015-11-18 01:53] davidadamsphd commented on #1042
It's unclear if this is still a practical issue. I compared our sample BAM using Picard and GATK4 with no difference in optical duplicates (up to ~1GB chunk of the BAM). I hadn't run into any issues yet, nor attempted to dig into this in more detail.

[2015-11-18 01:59] davidadamsphd commented on #1098
I'd like to get it fixed before alpha. I think all we need is a cut of Hadoop-BAM (see https://github.com/HadoopGenomics/Hadoop-BAM/issues/30). It limits our ability to use Hadoop-BAM until we codify a path to generate and use the two headers.

[2015-11-18 03:45] #1125 closed

[2015-11-18 04:07] akiezun opened #1148 "CLI help mixes up lower/upper case for arguments"
run `ExomeReadCounts --help`

observe
[code]

notice that the default value is lowercase but the possible values are all uppercase.

[2015-11-18 04:12] akiezun opened #1149 "arguments for picard tools don't specify short form and get printed strangely"
run `gatk BedToIntervalList`

(this is with https://github.com/broadinstitute/gatk/pull/1144)

[code]

that is different than non-picard tools, eg `gatk ExomeReadCounts`

[code]

[2015-11-18 04:37] #1130 closed

[2015-11-18 04:39] akiezun commented on #1128
@vdauwera what does GATK3 do?

[2015-11-18 04:48] #1078 closed

[2015-11-18 15:01] droazen commented on #591
Sounds good -- @akiezun if you run out of other tickets and decide to do this one for alpha, make sure to sync with @davidadamsphd on what has already been done here. If you decide to bump this one to beta instead, assign it back to @davidadamsphd

[2015-11-18 15:07] droazen commented on #1098
Ok @davidadamsphd I've reassigned this one to you -- can you take care of revving our Hadoop-BAM dependency?

[2015-11-18 16:06] droazen commented on #590
@cmnbroad Can this be closed as resolved? Are all the remaining issues with CRAM tests (like disabled tests) captured in separate tickets?

[2015-11-18 16:08] cmnbroad commented on #590
Yes, closing via #1084

[2015-11-18 16:08] #590 closed

[2015-11-18 16:31] #624 closed

[2015-11-18 16:36] #935 closed

[2015-11-18 17:12] akiezun opened #1150 "CLI usage page bogosities"
- [x] `Exome Analysis: Tools to analyze exome data. ` should be renamed to something about CNVs or removed altogether. Most of our tools can be used to analyze exome data and so this group designation is bogus
- [x] `ExampleIntervalWalker                        Print intervals with optional contextual data` I'd add something about 'it's a example'
- [x] top of the page says `USAGE: Main <program n

[2015-11-18 17:13] akiezun commented on #967
done https://github.com/broadinstitute/gatk/issues/1150
lot's of little badness

[2015-11-18 17:13] #967 closed

[2015-11-18 17:21] akiezun commented on #1140
@droazen is anything left to do here? We currently blow up on broadcast if reference is not a 2bit file. see  #1137

[2015-11-18 17:57] droazen commented on #1140
@akiezun Yes, the task is to add more integration tests that use `--joinStrategy BROADCAST`. Currently almost all of the tests use `SHUFFLE`, even though that's no longer the default.

[2015-11-18 17:58] akiezun commented on #1129
It's bad, as expected.

Case is file on NFS
/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.bestPractices.b37.vcf 1.9Gb

ref /seq/references/Homo_sapiens_assembly19/v1/Homo_sapiens_assembly19.fasta

this is on dataflow01.broadinstitute.org on Linux 2.6.32-573.3.1.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0-b132

Using parameters
--clusterSize 3 --clusterWindowSiz

[2015-11-18 17:58] akiezun commented on #1035
but see #1129

[2015-11-18 17:59] droazen commented on #1129
Ok, then let's create a **beta** (not alpha) ticket to address this.

[2015-11-18 18:00] akiezun opened #1151 "look into optimizing VariantFiltration with cluster options"
see #1129 - we're slower on VariantFiltration with cluster options because the driving variants are not cached

[2015-11-18 18:01] akiezun commented on #1129
done #1151

[2015-11-18 18:01] #1129 closed

[2015-11-18 18:50] lbergelson commented on #1148
This is actually a bit insidious.  It's happening in this case because this is an enum constant that defines a different result for `toString()` than it does for `name()`.  Valentine added explicit support printing the possible values for enum constants using  `name()`.  It's easy to fix this for `enum` with a special case, but in the general case we don't have a solution.

Since any type that has

[2015-11-18 19:08] droazen commented on #995
I did some additional runs on the Broad cluster on a 14 GB bam, twice as large as the bam used in the plot above. This was with 60 cores, 4 cores per executor, and 16 GB of memory per executor. Results:

Broadcast (3 runs): 10m52.020s, 11m46.975s, 10m17.274s
Sharded (3 runs): 19m33.310s, 13m36.466s, (died from out-of-memory error)

Not sure what's going on here, but something about this configurat

[2015-11-18 19:43] jean-philippe-martin commented on #995
Thanks. This shows that bcast can go faster when given more RAM: going from
the earlier experimental envelope of 192GB of RAM to 256GB instead, the
bcast version can go from 19 min to 10min (sharded takes 7min with the
small amount of memory). This is consistent with my earlier experiments
that also showed that increasing the RAM-per-core sped up the bcast
computation.

I wouldn't worry about havi

[2015-11-18 20:15] cmnbroad commented on #1138
There is another issue that should be fixed at the same time when these tests are reenabled: the outputExtension that should be used by the tests is being passed from the provider to the test code, but instead of using its value, the test code uses the literal "outputExtension". This ultimately results in all of the outputs being BAM files since thats the default for the factory. But when this is

[2015-11-18 20:17] cmnbroad commented on #1141
There is another issue in the SortSamIntgration tests that should be fixed at the same time when the other tests are reenabled: the outputExtension that should be used by the tests is being passed from the provider to the test code, but instead of using its value, the test code uses the literal "outputExtension". This ultimately results in all of the outputs being BAM files since thats the default

[2015-11-18 22:36] lbergelson opened #1154 "stop relying on an htsjdk snapshot"
once a new htsjdk release comes out we should switch off relying on since #1153

[2015-11-19 01:28] davidadamsphd opened #1155 "Several Picard command-line args are being ignored"
In `PicardCommandLineProgram` there is an `instanceMain` that gets called when a subclass program is called. This "main" sets a number of static variables to values parsed from the arguments, then calls `super.instanceMain`.

The problem is that the values haven't been parsed before they are referenced in this function, so the default values are _always_ used. The ignored flags are:
- `VALIDATION_

[2015-11-19 02:41] akiezun commented on #1042
I have a fix for `testStackOverFlowPairSetSwap` - see pull req #1156

[2015-11-19 15:23] lbergelson opened #1157 "add option to create hadoopbam index to BuildBamIndex"
Add the ability for BuildBamIndex to simultaneously build a hadoop-bam index as it builds a bam index.

[2015-11-19 16:13] droazen commented on #1150
Anyone have bandwidth for this one?

[2015-11-19 18:27] droazen opened #1158 "Ensure that all spark tools apply the same read filters as their walker equivalents"

[2015-11-19 19:18] davidadamsphd opened #1160 "Verify CRAM support works on Hadoop-BAM"
@tomwhite just added support. We should try `SortBamSpark` on a large CRAM file to see if we have any reading or writing problem.

[2015-11-19 19:48] akiezun commented on #1042
I have a fix for the other 2 in https://github.com/broadinstitute/gatk/pull/1161

[2015-11-19 19:55] tedsharpe commented on #1015
Our current implementation of writeReadsSingle does a sortByKey, and then a coalesce(1).  From some hacking I've been doing, I think that it's actually sortByKey that's causing the big memory-spilling shuffle.  I'm guessing that this might be caused by the fact that our coordinate-sorted BAMs are not in Locatable order, so there's lots and lots of shuffling that has to happen.

[2015-11-19 20:06] akiezun commented on #591
@davidadamsphd what remains to be done here? I have fixes for all three cases in https://github.com/broadinstitute/gatk/issues/1042 (see issues referred from there). Assigning to @davidadamsphd for clarification

[2015-11-19 20:09] akiezun commented on #1160
do we need to upgrade to the latest hadoop-bam to have this @tomwhite ?

[2015-11-19 20:10] lbergelson commented on #1149
this relates to #805 and #133

[2015-11-19 20:17] akiezun commented on #1155
yes. This works nicely. Go ahead @davidadamsphd

[2015-11-19 20:22] akiezun commented on #1045
how about I grab this one? @davidadamsphd ?

[2015-11-19 20:27] droazen opened #1162 "ReadsPipelineSpark needs an integration test"

[2015-11-19 20:43] cmnbroad opened #1163 "Need CRAM equivalent of BAM block copying operation"
GatherBAMFiles and some other tools use BamFileIoUtils.gatherWithBlockCopying to do block transfer of BAM file blocks, but degenerate to decoding individual records for CRAM. A similar optimization should be able to be done for CRAM containers and then integrated with those tools.

[2015-11-19 20:50] cmnbroad commented on #903
Closing via https://github.com/samtools/htsjdk/pull/327.

[2015-11-19 20:50] #903 closed

[2015-11-19 21:30] droazen opened #1164 "Same integration test fails with IntegrationTestSpec but passes with manual runCommandLine()/assertSamsEqual() calls"
I discovered some strange behavior in our test suite. This test in `PrintReadsSparkIntegrationTest` passes:

    @Test
    public void testReadFiltering() throws IOException {
        final File samWithOneMalformedRead = new File(getTestDataDir(), "print_reads_one_malformed_read.sam");
        final File outBam = createTempFile("print_reads_testReadFiltering", ".bam");

        ArgumentsBuilder ar

[2015-11-19 21:45] droazen opened #1165 "Spark read filters should be applied at the transform level, not the GATKSparkTool level."
Currently spark read filters are applied to the initial reads returned from `GATKSparkTool.getReads()` via an overridable `GATKSparkTool.makeReadFilter()`. This is fine for standalone tools, but for multi-tool pipelines it creates a problem, since they must call the underlying transform for each tool instead of invoking the actual `GATKSparkTool`, and so have to handle read filtering manually for

[2015-11-19 21:47] droazen commented on #960
This is a beta ticket -- for alpha we will just recommend conventions that promote composability when we write the guide in https://github.com/broadinstitute/gatk/issues/1016.

For beta, we should probably create a Transform abstraction a la dataflow.

[2015-11-19 21:47] droazen commented on #960
Related to https://github.com/broadinstitute/gatk/issues/1165

[2015-11-19 21:48] cmnbroad commented on #1164
It might be because IntegrationTestSpec calls SortSam, which is currently suffering from [this](https://github.com/broadinstitute/gatk/issues/1155) ?

[2015-11-19 22:08] droazen commented on #965
Not urgent enough for alpha -- moving to beta.

[2015-11-19 22:10] droazen commented on #680
This was a meta-ticket that has spawned other tickets such as https://github.com/broadinstitute/gatk/issues/959 representing the actual work of better unifying the walker and spark portions of the codebase -- it can now be closed in favor of those other tickets.

[2015-11-19 22:10] #680 closed

[2015-11-19 22:17] laserson commented on #1070
For example, I must specify the Spark master twice:

[code]

[2015-11-19 22:24] laserson opened #1166 "Consider removing default mapred.max.split.size"
Let HDFS/InputFormat deal with this as intended.  If a user wants to make it smaller, they should be able to pass it on the command line using a `--conf` setting.

Related to #1070, where Spark options should be given to Spark rather than GATK.

[2015-11-19 22:39] #1158 closed

[2015-11-19 22:45] lbergelson commented on #1166
@laserson
1.  How do you handle situations where you need different split sizes for different file types?
2.  How do you handle setting reasonable defaults so it works right out of the box without people having to set their spark configs explicitly?

[2015-11-19 22:49] #1113 closed

[2015-11-19 22:50] lbergelson commented on #1113
I think the changes I've made in #1124 should probably resolve the situation for us.  Reopen if you see this again.

[2015-11-20 00:06] davidadamsphd commented on #1045
Go for it!

[2015-11-20 10:56] tomwhite commented on #1160
@akiezun yes, version 7.3.0.

The other thing I didn't mention is that AnySAMInputFormat will need to be changed to CRAMInputFormat for the test. (I opened https://github.com/HadoopGenomics/Hadoop-BAM/issues/35 to fix this properly.)

[2015-11-20 11:03] tomwhite commented on #1160
This is a duplicate of https://github.com/broadinstitute/gatk/issues/966, so one or other should be closed.

[2015-11-20 13:15] droazen commented on #966
@tomwhite just added support. We should try `SortBamSpark` on a large CRAM file to see if we have any reading or writing problem, and add cram tests for other spark tools if it looks good.

[2015-11-20 13:15] droazen commented on #1160
Closing in favor of https://github.com/broadinstitute/gatk/issues/966

[2015-11-20 13:15] #1160 closed

[2015-11-20 13:19] droazen commented on #695
I am going to break this 40 point ticket up, as it's 35/40 of the way done and is distorting our burndown chart :)  Think I saw @eitanbanks looking at our burndown page with raised eyebrows yesterday...

[2015-11-20 13:20] droazen opened #1167 "Spark large scale validation: requirements gathering and design"

[2015-11-20 13:21] droazen commented on #1167
Done by @davidadamsphd!

[2015-11-20 13:21] #1167 closed

[2015-11-20 13:23] droazen opened #1168 "Spark large scale validation: tools to intelligently compare MarkDuplicates results"

[2015-11-20 13:24] droazen commented on #1168
Done by @davidadamsphd !

[2015-11-20 13:24] #1168 closed

[2015-11-20 13:24] droazen opened #1169 "Spark large scale validation: tools to ingest GATK3 outputs, and prepare them as GATK4 inputs"

[2015-11-20 13:25] droazen commented on #1169
Done by @davidadamsphd !

[2015-11-20 13:25] #1169 closed

[2015-11-20 13:27] droazen commented on #695
This ticket now represents the remaining work for the Spark large scale validation task: hooking up the existing pieces, and allowing them to be run using a script or similar. Most of its former story points have been redistributed to other tickets, making this now a 5 point ticket.

[2015-11-20 13:38] davidadamsphd opened #1170 "Move Picard command-line argument testings to a PicardCommandLineProgramTest"
`PicardCommandLineProgramTest` doesn't yet exist. The relevant test are currently in `MarkDuplicatesIntegrationTest`.

[2015-11-20 13:43] cmnbroad commented on #966
@tomwhite would know better than I, but AFAICT the current work addresses the CRAM reading side, but not writing. I think we'd need additional changes to support writing CRAM, both in Hadoop-BAM and ReadSparkSink.

[2015-11-20 14:04] droazen opened #1172 "Rename BaseRecalibratorSparkOptimized to BaseRecalibratorSparkSharded"

[2015-11-20 14:04] droazen commented on #1172
To avoid user confusion. Discussed in person with @jean-philippe-martin who gave his :+1:

[2015-11-20 14:17] tomwhite commented on #1015
@tedsharpe I agree with your analysis. I've created a PR to do the sorting in parallel, see https://github.com/broadinstitute/gatk/pull/1174.

[2015-11-20 14:50] #1172 closed

[2015-11-20 16:01] droazen commented on #900
This is solved -- @cmnbroad patched htsjdk to make using headerless reads directly safer, we modified `ReadsSparkSource` to null out headers, and @tomwhite implemented a custom serializer based on the BAM codec that is both fast and safe for headerless reads.

[2015-11-20 16:01] #900 closed

[2015-11-20 16:07] cmnbroad commented on #1069
PR is https://github.com/broadinstitute/gatk/pull/1146

[2015-11-20 16:08] droazen commented on #1069
Thanks -- will review today

[2015-11-20 16:32] droazen commented on #995
What remains to be done for this ticket are tests on both the broadcast and sharded implementations at the ~100GB scale -- once these are done, we can call this ticket done for alpha.

@jean-philippe-martin These tests should be sure to use a current version of master, so that they can take advantage of the speedup provided by the new `SAMRecord` Kryo serializer merged in https://github.com/broadi

[2015-11-20 17:46] cmnbroad opened #1175 "SAM/BAM writers should always call setHeader on added records"
This will ensure that the reference indices are properly resolved against the current SD before writing.

[2015-11-20 17:56] droazen opened #1176 "Don't check contig ordering in sequence dictionary validation"
GATK4 uses reference names, not reference indices, so we are not sensitive to contig ordering in sequence dictionaries like GATK3 was. Also, non-htsjdk formats like `.2bit` references or queries on the Google API gives us contigs in unpredictable orders -- we don't want to blow up on these inputs, because by relying on contig names we are actually compatible with them.

Relates to https://github.c

[2015-11-20 20:06] #1024 closed

[2015-11-20 20:06] #1176 closed

[2015-11-20 20:27] droazen commented on #966
From @tomwhite :+1:

[2015-11-20 20:28] laserson commented on #1166
From a high level, users really shouldn't be worrying about this.  The Hadoop defaults are often adequate.  This is not a perfect analogy, but you generally don't think about block sizes for your usual Linux file system.

Also, the default 4 MB size that it's currently set to is very small.  The individual Spark tasks finish in just a few seconds, which means you're probably paying more overhead t

[2015-11-20 20:29] droazen commented on #966
Also, Hadoop-BAM version 7.3.0 is required

[2015-11-20 20:31] droazen opened #1179 "GATKSparkTool should use stricter validation for CRAMs"
`GATKTool` uses stricter sequence dictionary validation settings for CRAM vs. reference than for non-CRAM vs. reference:

            if ( hasCramInput() ) {
                // Use stricter validation for CRAM vs. the reference
                SequenceDictionaryUtils.validateCRAMDictionaryAgainstReference(refDict, readDict);
            }
            else {
                // Use standard validati

[2015-11-20 20:31] droazen commented on #1179
Quickie for @akiezun, but must wait on https://github.com/broadinstitute/gatk/issues/966

[2015-11-20 21:04] droazen opened #1180 "ReadsSparkSource/GATKSparkTool should propagate the reference to Hadoop-BAM cram reader"
For walkers we had to modify `GATKTool` to propagate the reference to our sam readers. It's likely we need to do something similar for Hadoop-BAM cram support. This probably involves changes to `GATKSparkTool`, `ReadsSparkSource`, or both.

[2015-11-20 21:07] droazen opened #1181 "Require a reference in GATKSparkTool when there's a cram input"
Similar to how `GATKTool` requires a reference when there's at least one cram input, we need to do the same thing in spark.

Right place to do this is probably in `GATKSparkTool.initializeReads()` or `GATKSparkTool.validateToolInputs()`

[2015-11-20 21:11] droazen commented on #1180
With walkers it's done like this (in `GATKTool`):

        if (hasReference()){
            // pass in reference if available, because CRAM files need it
            factory = SamReaderFactory.makeDefault().validationStringency(ValidationStringency.SILENT).referenceSequence(referenceArguments.getReferenceFile());
        } else if (hasCramInput()) {
            throw new UserException.MissingRefer

[2015-11-20 21:25] lbergelson commented on #1166
I know we've had to tune this parameter to get things working, and different sizes are better for different tools.  If we increase it by much we start thrashing memory and spilling to disk, but the partition size range depends on the tool.  MD works more slowly if you increase this by several times, others you can increase it an order of magnitude and it's ok.

[2015-11-20 21:39] droazen opened #1182 "Get Chris's CRAM bug fix branch merged into htsjdk and propagated to GATK4 before alpha"

[2015-11-20 21:39] droazen commented on #1182
We need to get the important fixes in https://github.com/samtools/htsjdk/pull/368 merged into htsjdk and propagated to us before alpha.

[2015-11-20 21:42] droazen commented on #1182
Assigning to @akiezun to make sure this gets done (since I know he'll be around next week), though the htsjdk PR is officially assigned to @lbergelson (who I'm not sure is around next week).

[2015-11-20 21:46] droazen commented on #121
In https://github.com/broadinstitute/gatk/pull/1146 we've at least centralized SAM/BAM writer creation methods in the superclasses -- this is good enough for alpha. In beta we can add the fancy auto-management of outputs we are dreaming about.

[2015-11-20 22:02] droazen commented on #961
Out of all the remaining alpha tickets this one might be the most important for making a good first impression on people -- hope we can get something working in time! :)

[2015-11-20 22:09] droazen commented on #1100
@laserson When you get a chance, would you mind adding an update here with the status of this, and whether you think it's be possible to get any additional optimizations for `MarkDuplicatesSpark` in by alpha (Dec 4)? Thanks!

[2015-11-20 22:10] droazen commented on #1098
@davidadamsphd This one will be fixed as soon as we rev Hadoop-BAM, right? Could you make a PR for this, and close this ticket once it's in? Thanks!

[2015-11-20 22:12] droazen commented on #1015
@akiezun Can you evaluate whether https://github.com/broadinstitute/gatk/pull/1174 resolves this ticket, once it's merged? (assigning to you for that purpose)

[2015-11-20 22:15] droazen commented on #964
Since this depends on https://github.com/broadinstitute/gatk/issues/961, reassigning to @lbergelson

[2015-11-20 22:32] droazen commented on #1182
Re-assigning to @lbergelson, who will be around part of next week it turns out.

[2015-11-20 22:57] cmnbroad opened #1183 "Change GATKTool createIndex arg to default to true"
Its currently set to false since defaulting to true breaks a couple of PrintReads tests which will need to be fixed. Also add fullName doc attribute.

[2015-11-20 23:25] vruano opened #1184 "Explicit codec for FeatureInputs"
I would be useful to be able to explicitly indicate the Codec class for a FeatureInputs perhaps using an annotation.

Currently the feature manager tries every possible codec hoping to find one and only one that answers yes to the canDecode(FileName) method call. If none does execution fails saying that there is no code available to deal with the input file; if more than one codec returns true the

[2015-11-21 00:22] droazen commented on #1069
Done in https://github.com/broadinstitute/gatk/pull/1146 -- closing!

[2015-11-21 00:22] #1069 closed

[2015-11-22 04:50] #1045 closed

[2015-11-23 14:13] tomwhite commented on #1094
Fixed in #1174

[2015-11-23 14:13] #1094 closed

[2015-11-23 14:19] tomwhite commented on #1015
My rough benchmarks while working on https://github.com/broadinstitute/gatk/pull/1174 indicated a substantial improvement:

So I think we can close this.

[2015-11-23 14:40] akiezun commented on #1015
@tomwhite before we close, how does this improved performance compare to non-spark writing of the same file (just use PrintReads vs PrintReadsSpark or something)?

[2015-11-23 15:21] akiezun opened #1187 "Cannot read indices on BGZF files created by IndexFeatureFile when they are written using the default .tbi extension"
Cannot read indices on BGZF files created by IndexFeatureFile when they are written using the default .tbi extension

see discussion  in https://github.com/broadinstitute/gatk/pull/985
See the disabled test `IndexFeatureFileIntegrationTest.testVCFGZIndex_inferredName`

[2015-11-23 16:22] #235 closed

[2015-11-23 16:23] akiezun commented on #1155
@davidadamsphd is this done? if yes, refer the pull req here

[2015-11-23 18:18] lbergelson opened #1188 "release alpha build to maven central"
During alpha we should work out the process of releasing builds to maven central.

This may require coordinating with ops in order to handle signing keys and passwords.

[2015-11-23 18:40] davidadamsphd commented on #1098
Hadoop-BAM has been reved.

[2015-11-23 18:40] #1098 closed

[2015-11-24 03:47] akiezun commented on #1100
@laserson so if I understand correctly, the investigation into using @davidadamsphd 's code for MD gave negative result? If that;s the case, let's close this ticket and open one that repsresents your current work benchmarking. what do you think?

[2015-11-24 03:59] laserson commented on #1100
Sorry, if I understand, David's tool is to check for correctness of of MarkDuplicates.  I'm just looking at the performance.

[2015-11-24 04:05] akiezun commented on #1100
the initial description here says there is some performance improvement for MD itself lurking in some of DA's branches.
@davidadamsphd can you clarify what that is and what you think should be done in this ticket? I'm a bit confused here - the ticket mentions some mysterious code that is going to improve our lives etc but does not include a reference to it. Does the code exist, does it work, can w

[2015-11-24 04:59] laserson opened #1189 "(Re)write the GATKRead impl for ADAM"
The current `BDGAlignmentRecordToGATKReadAdapter.java` really uses a `SAMRecord` inside, while it could be implemented as a bonafide implementation (and use the Avro serializer).

[2015-11-24 17:53] tomwhite commented on #1015
@akiezun, I'm glad you asked me that, as I just found another significant improvement for Spark when writing a single BAM. See https://github.com/broadinstitute/gatk/pull/1190

I just ran on a ~75MB file and PrintReads takes ~12s, while PrintReadsSpark takes ~19s with this change.

[2015-11-24 18:31] akiezun commented on #1015
ha! this is awesome. does #1190 need to go in first?

[2015-11-24 19:17] lbergelson opened #1191 "Move SimpleInterval functions to htsdjk locatable"
now that htsjdk is java 8 we can push a bunch of functions into the interface itself.

[2015-11-25 03:20] akiezun opened #1192 "enable BaseRecalibratorSparkIntegrationTest.testPlottingWorkflow and BaseRecalibratorSparkOptimizedIntegrationTest.testPlottingWorkflow"
both of those tests are disabled because the cloud does not have a hg18 reference and so the non-spark tests (which do use hg18) can't be just ported

the task here is to create a new set of expected data and re-enable the test

[2015-11-25 10:44] tomwhite commented on #1015
Closing now #1190 is in.

[2015-11-25 10:44] #1015 closed

[2015-11-25 11:26] tomwhite commented on #1047
For Mark Duplicates, the timings after the latest Spark improvements (like https://github.com/broadinstitute/gatk/pull/1190) are
* Walker: 18s
* Spark: 36s (sharded BAM, all cores), 55s (sharded BAM, 1 core), 93s (single BAM, all cores), 105s (single BAM, 1 core)

I'm going to close this now since the runner itself is OK (and as I said before is not going to match hand tuned implementations typica

[2015-11-25 11:26] #1047 closed

[2015-11-25 12:14] tomwhite commented on #972
In addition to the tuning links that @laserson referenced I would add that the Spark UI has a lot of information about the running job (DAG showing number of stages, amount of data that is sent through each shuffle, etc). I've opened https://github.com/broadinstitute/gatk/pull/1193 to make it easier to debug Spark tests using the UI.

I've also had some success with using visualvm to profile a Spa

[2015-11-25 16:05] #1140 closed

[2015-11-25 16:07] akiezun commented on #766
@cmnbroad can this be closed?

[2015-11-25 16:07] akiezun commented on #591
@davidadamsphd ping

[2015-11-25 16:10] cmnbroad commented on #766
I'd like to leave it open until we get the fixes to #365 and add a test then that verifies that. However, I don't think this needs to be for alpha.

[2015-11-25 16:13] akiezun commented on #766
ok then

[2015-11-25 16:22] cmnbroad commented on #623
PR is https://github.com/broadinstitute/gatk/pull/1194

[2015-11-25 16:45] akiezun commented on #1189
when done BDGAlignmentRecordToGATKReadAdapter should not be a subclass of SAMRecordToGATKReadAdapter, please.

also, remember to add tests for deepCopy (see #1194)

[2015-11-25 17:07] cmnbroad commented on #1189
This really should be integrated with all the tests in GATKReadAdaptersUnitTest (currently its only integrated with the toString test), once it has equals, copy, deepCopy, getSAMString implementations, and can update its backing record,etc. Also, the sparkReadAdapter(final AlignmentRecord record) overload fails since the AlignmentRecordConverter always tries to dereference the (null) header that i

[2015-11-25 17:52] akiezun commented on #966
blocked by htsjdk bug https://github.com/samtools/htsjdk/issues/394

[2015-11-25 17:53] akiezun commented on #1180
will be done as part of #966. closing this ticket

[2015-11-25 17:53] #1180 closed

[2015-11-25 17:55] akiezun commented on #1181
this will be done in GATKSparkTool .getUnfilteredReads
ticcket #966 subsumes all this so i'm closing this one

[2015-11-25 17:55] #1181 closed

[2015-11-25 20:21] lbergelson commented on #1100
Closing this since it's sounds like Tom's changes have made major improvements.  @davidadamsphd Feel free to reopen if you have something else that can help.

[2015-11-25 20:21] #1100 closed

[2015-11-25 20:59] akiezun opened #1196 "Measure the performance of the whole ReadsPipelineSpark vs string of Picard+GATK tools"
the main advantage of spark for processing is that we can do stuff in memory and so throughout **of the whole pipeline** should be higher than that of the string of Picard+GATK tools.

The thing to do here compare is:
1) take a bam file, run ReadsPipelineSpark on it, measure time (as function of # nodes, start with 1)
2) take same bam file, run MarkDuplicates, BaseRecalibrator, PrintReads in order

[2015-11-25 21:19] cmnbroad commented on #1175
I made this change in htsjdk, but I don't think the consequences are quite what we want in all cases. Given the htsjdk policy that allows bad reference names but not reference indices to persist, this change will be silently destructive on persisted BAM records in the case where the writer's header doesn't contain the record's referenceName. The setHeader call doesn't throw, but leaves the current

[2015-11-25 21:23] cmnbroad commented on #1175
We might want to use a less forgiving version of setHeader for this. Back to @droazen for input.

[2015-11-28 04:11] #972 closed

[2015-11-29 20:50] magicDGS opened #1198 "Request: SlidingWindow walker"
Hello, I would like to ask for the implementation of a SlidingWindowWalker (both for reads and variants), that could be very interesting for other tools. I was thinking that it could be similar to IntervalWalker, but generating the intervals internally using a window size and step size as parameters (provided by the user and without merging overlapping intervals, like suggested on #302). I think t

[2015-11-30 16:08] lbergelson commented on #1198
Hi @magicDGS.  This is something we would like to implement, but isn't yet on our timeline.  Do you have use cases for both reads and variants?  We have some ideas for sliding window walkers along reads, but we don't have any examples of when this would be useful for variants.

[2015-11-30 16:15] cmnbroad opened #1200 "GATKTool createSAMWriter should clone the reads header"
Before we had common SAM writer creation, the tools were inconsistent about whether or not they cloned the SAMFileHeader from the input reads before using it as the output header. Now they consistently do not clone it, but I think defensive cloning should be the default behavior.

[2015-11-30 16:17] cmnbroad commented on #1200
Marking as alpha for now.

[2015-11-30 16:19] cmnbroad commented on #623
Closed via #1194.

[2015-11-30 16:19] #623 closed

[2015-11-30 16:35] lbergelson opened #1201 "implement bed file writer"
Gatk-protected needs to be able to write bed files.  They've implemented a simple writer, but it only writes the required fields and doesn't include optional ones.

[2015-11-30 16:38] lbergelson commented on #1201
@LeeTL1220 Does this adequately describe what you need?  Can you provide an example bed file that doesn't work with your current implementation.

[2015-11-30 16:44] akiezun commented on #1191
+1
how about moving the SimpleInterval too?

[2015-11-30 16:55] magicDGS commented on #1198
Hi @lbergelson, for sliding window along reads some use cases are computing CNVs or mapping statistics over windows; for variants, compute statistics over windows like _Fst_ or heterozygosity is helpful for genomic scans. Probably is not a main goal for the GATK tools, but it will be important for the framework for being used by other software (actually I asked for it because I'm planning to use t

[2015-11-30 17:12] lbergelson commented on #1191
We can do that as well.  It's pretty stable now.

[2015-11-30 18:21] droazen commented on #995
JP was able to complete additional benchmarking with 14 GB and 28 GB bam inputs before going back on leave, and he has shared these results with us. We still need to test at the 100 GB scale, so I'm re-assigning to @akiezun to complete that remaining task.

[2015-11-30 18:37] lbergelson commented on #1198
So the long term timeline is fairly up in the air.  You can check out the alpha and beta milestones for some idea of what's been prioritized.  Alpha milestone is due for completion ~this week.  Beta is much more up in the air and will depend at least in part on feedback from user.

Incidentally, if you're interested in CNV calling take a look at https://github.com/broadinstitute/gatk-protected/ wh

[2015-11-30 18:47] lbergelson opened #1202 "NPE in FlagStatsSpark if --OUTPUT is not specified"
--OUTPUT should be required for FlagStatsSpark or it should check if it's specified before trying to write to it

[2015-11-30 18:48] lbergelson commented on #1202
[code]

[2015-11-30 18:50] droazen commented on #995
@akiezun Description of the steps to be performed:

1. Create a ~100 GB slice of `/humgen/gsa-hpprojects/GATK/bundle/current/b37/CEUTrio.HiSeq.WGS.b37.NA12878.bam` using `PrintReads` (will need to experiment with intervals a bit to get the right size -- for reference, the first 130 megabases of chromosome 1 produces a ~14 GB bam).

2. Create an index on the bam slice above using `samtools index`

[2015-11-30 19:20] magicDGS commented on #1198
Thank you, @lbergelson. Regarding the CNV, I'm not looking for CNV calling _sensu stricto_, I've just give an example. I'm more interested in the SlidingWindow for variants for my software.

I will be interested in collaborate implementing the sliding window walker, but I think that I will need to go too mucho into the details for the framework and it will be more difficult for me.

[2015-11-30 19:36] akiezun opened #1203 "delete SHUFFLE from BQSR spark"
SHUFFLE is a loser, let's dump it after the broadcast/sharded decision

[2015-11-30 20:29] lbergelson commented on #1198
Well, we're definitely happy to accept contributions to the code base should you be interested in trying to implement it yourself.  :)

I estimate that implementing the sliding window walker will be relatively easy to do, but making it perform well may be more difficult since the necessary caching for efficient traversal may not be implemented in the engine yet.

We definitely won't have time to s

[2015-11-30 20:36] akiezun opened #1204 "SamFormatConverter should be able to read/write CRAM files"
it will need a reference thought

[2015-11-30 21:02] cmnbroad opened #1205 "ReplaceSamHeader needs CRAM tests."

[2015-12-01 01:50] akiezun opened #1206 "reading from a GA4GH Reads store"
We need to have the ability to read from a ga4gh compliant readstore. The task to is implement this and add tests for it (using reference reads store or google genomics - ideally both)

[2015-12-01 03:17] akiezun commented on #709
simple tests added in #884

[2015-12-01 03:17] #709 closed

[2015-12-01 14:29] akiezun opened #1208 "clarify the two-repo structure in the README"
this should probably be clarified in both READMEs (for gatk and gatk-protected)

[2015-12-01 14:42] cmnbroad commented on #1183
PR is #1199.

[2015-12-01 14:42] akiezun opened #1209 "SplitNCigarReadsIntegrationTest and SplitNCigarReadsUnitTest are bizzarely similar"
SplitNCigarReadsIntegrationTest and SplitNCigarReadsUnitTest are bizzarely similar

something weird is going on. the 'integration test' is not really an intergration test

[2015-12-01 15:13] droazen opened #1210 "Determine fate of Picard tools"
Picard is still under (very) active development, while the ported versions of the picard tools in gatk4 are becoming more and more outdated. We need to either make gatk4 the official home of the picard tools and move all current picard development here, or give up on merging gatk and picard. Since having the picard tools and utilities as part of the codebase has been useful in many instances, and

[2015-12-01 16:00] vdauwera commented on #1210
Agreed! Users want this, we want this -- let's please do whatever we need to make it happen!

One barrier to getting this to work, as I understand it, is the need for a build system that allows production/Kathleen to generate new internal releases of the Picard portion independently of the rest of GATK. This is because they often need to update Picard tools but usually don't want to pull in change

[2015-12-01 16:30] droazen commented on #1210
@vdauwera Does that really require a solution at the build system level? Couldn't we just have one hellbender jar that is used exclusively for running the Picard tools in production, and a second, separate hellbender jar that is used exclusively for running the GATK tools? Does it really matter if the "Picard" jar actually contains GATK tools, and vice versa, as long as we never run GATK tools fro

[2015-12-01 18:00] vdauwera commented on #1210
@droazen That actually sounds perfectly fine to me, I think it would satisfy @ktibbet's needs. Forest/trees <-- me not seeing past them.

[2015-12-01 18:02] lbergelson commented on #1210
It's also totally plausible to be able to build a separate picard jar from
the same project if that's a requirement.

[2015-12-01 18:14] droazen commented on #1210
@lbergelson Not if there are GATK tools/utilities calling into Picard tools/utilities and vice versa (which there certainly is at this point!).

[2015-12-01 19:51] cmnbroad commented on #1183
Closed via #1199.

[2015-12-01 19:51] #1183 closed

[2015-12-02 13:59] eitanbanks commented on #1210
FYI @ktibbett is going to organize a meeting to discuss in person with interested parties

[2015-12-02 14:16] lbergelson commented on #1210
Should we try to get Tim and Nils involved in the meeting as well? They're
the most prolific committers at the moment.
On Dec 2, 2015 8:59 AM, "Eric Banks" <notifications@github.com> wrote:

[2015-12-02 14:38] vdauwera commented on #1210
Yes the plan is to involve them.
On Wed, Dec 2, 2015 at 9:16 AM Louis Bergelson <notifications@github.com>
wrote:

[2015-12-02 15:43] lbergelson commented on #1210
Good.  We need them on board if we want to avoid forking.

[2015-12-02 17:04] droazen commented on #1196
These profiling tickets do not absolutely need to be in for alpha -- moving to beta.

[2015-12-02 17:05] droazen commented on #995
These profiling tickets do not absolutely need to be in for alpha -- moving to beta.

[2015-12-02 17:07] droazen commented on #1155
Reassigning to @akiezun to confirm that this is done.

[2015-12-02 17:12] droazen commented on #777
Likely fixed in the latest htsjdk -- we should confirm this.

[2015-12-02 17:13] droazen commented on #591
@akiezun Can you assess whether we have enough unit tests for MarkDuplicatesSpark at this point?

[2015-12-02 18:24] akiezun commented on #1155
confirmed

[2015-12-02 18:24] #1155 closed

[2015-12-02 18:36] akiezun commented on #591
yes, i think we do. All tests from MarkDuplicates are now run on spark (once https://github.com/broadinstitute/gatk/issues/1042 is fixed)

[2015-12-02 18:36] #591 closed

[2015-12-02 18:42] cmnbroad commented on #777
We cant quite verify this yet; the fixes we need just got [merged](https://github.com/samtools/htsjdk/commit/08e10f0f12af794cd17a1315e750d19c1b49d7a0) in to htsjdk yesterday, so we need to move up which I assume we'll do before alpha since I think there are other fixes we want.

[2015-12-02 18:43] akiezun commented on #777
can you make a local jar from htsjdk master and confirm that this will work?

[2015-12-02 18:44] cmnbroad commented on #777
Yes - I did that at the time I made the original changes.

[2015-12-02 18:50] akiezun opened #1214 "assertion fail with TwoBit reference (query past end of contig)"
command
[code]

fails with
[code]

[2015-12-02 18:57] akiezun opened #1215 "retire FilterVcf in favor of VariantFiltration?"
FilterVcf seems to be a subset of VariantFiltration. Should we retire it?

[2015-12-02 18:57] akiezun commented on #1215
WDYT @yfarjoun @ldgauthier ?

[2015-12-02 18:59] ldgauthier commented on #1215
I've never used the Picard one.  I'm under the impression that the Picard version actually removes variants from the output, which I am against.

[2015-12-02 19:05] akiezun commented on #1150
re: FilterVcf see https://github.com/broadinstitute/gatk/issues/1215

holding off on metrics

[2015-12-02 19:29] akiezun opened #1216 "CollectJumpingLibraryMetrics needs CRAM tests"

[2015-12-02 19:29] akiezun opened #1217 "CollectRnaSeqMetricsTest needs CRAM tests"

[2015-12-02 19:30] akiezun opened #1218 "CollectRrbsMetricsTest needs CRAM tests"

[2015-12-02 19:30] akiezun opened #1219 "CollectSequencingArtifactMetrics needs CRAM tests"

[2015-12-02 19:30] akiezun opened #1220 "CollectTargetedPcrMetrics needs CRAM tests"

[2015-12-02 19:31] akiezun opened #1221 "CollectWgsMetrics needs CRAM tests"

[2015-12-02 19:31] akiezun opened #1222 "FastqToSam needs CRAM tests"

[2015-12-02 19:32] akiezun opened #1223 "RevertSam needs CRAM tests"

[2015-12-02 19:32] akiezun opened #1224 "SamToFastq needs CRAM tests"

[2015-12-02 19:32] akiezun opened #1225 "AddCommentsToBam needs CRAM tests"

[2015-12-02 19:36] akiezun commented on #1150
for SAM or BAM issue - i went through all tools and checked that they do have a cram test (and added CRAM to usage), or have a ticket for cram tests

[2015-12-02 19:45] akiezun opened #1226 "ApplyBQSRIntegrationTest needs CRAM tests"

[2015-12-02 19:46] akiezun opened #1227 "we have two classes named CleanSamIntegrationTest"
org.broadinstitute.hellbender.utils.test.testers.CleanSamIntegrationTest
org.broadinstitute.hellbender.tools.picard.sam.CleanSamIntegrationTest

[2015-12-02 19:47] akiezun opened #1228 "ClipReads needs CRAM test"

[2015-12-02 19:48] akiezun opened #1229 "CompareSAMs needs CRAM tests"

[2015-12-02 19:49] akiezun opened #1230 "FixMisencodedBaseQualityReads needs tests"
include CRAM tests too

[2015-12-02 19:52] akiezun opened #1231 "MergeSamFilesIntegrationTest needs CRAM tests"

[2015-12-02 19:53] akiezun opened #1232 "RevertBaseQualityScoresIntegrationTest needs CRAM tests"

[2015-12-02 19:57] akiezun opened #1233 "UnmarkDuplicates needs a CRAM test"

[2015-12-02 20:03] akiezun opened #1234 "ReadsPipelineSpark fails with IllegalArgumentException"
[code]
exec=24
cores=5
execMem=25

fails with

[code]

[2015-12-02 20:21] yfarjoun commented on #1215
OK. I looked at the code. They do the same thing. not removing variants,
but rather apply HARD filters to variants.

The Picard version was written since GATK was too slow....

On Wed, Dec 2, 2015 at 1:59 PM, ldgauthier <notifications@github.com> wrote:

[2015-12-02 20:22] ldgauthier commented on #1215
:+1: for fast.

[2015-12-02 20:23] akiezun commented on #1215
thanks for clarifying. I'll compare perf of GATK4 and report it here.

[2015-12-02 20:59] #1042 closed

[2015-12-02 21:08] #805 closed

[2015-12-03 03:39] akiezun commented on #1206
@davidadamsphd can you comment on what infrastructure exits and what is still missing?

[2015-12-03 04:13] akiezun opened #1237 "enhance ReadsPipelineSpark with metrics"
add some metrics to the pipeline to see how well that scales. Metrics should come cheaply because the data RDD is loaded at that point.

[2015-12-03 14:36] davidadamsphd commented on #1206
There is some example code (https://github.com/googlegenomics/spark-examples/tree/master/src/main/scala/com/google/cloud/genomics/spark/examples/rdd) in Scala here that does it. We'll want to use it as a template for our own purposes (at the very least, we'll want to put the result into a BAMRecord instead of a model read.

FYI, they recently upgraded the variant code to use gRPC (which is much fa

[2015-12-03 14:59] akiezun opened #1238 "two classes called ReferenceFileSource"
`org.broadinstitute.hellbender.engine.ReferenceFileSource`
`org.broadinstitute.hellbender.engine.datasources.ReferenceFileSource`

for @droazen to resolve

[2015-12-03 16:51] droazen commented on #1238
This is a dupe of https://github.com/broadinstitute/gatk/issues/959 -- closing.

[2015-12-03 16:51] #1238 closed

[2015-12-03 16:55] droazen commented on #1234
I can take this one

[2015-12-03 17:19] #1214 closed

[2015-12-03 17:41] akiezun opened #1239 "port BAQUnit tests"

[2015-12-03 18:11] droazen commented on #1175
I don't think "the writer's header doesn't contain all the reference names in the records" is a use case we want/need to support. Arguably we should throw an error in that case.

[2015-12-03 19:37] cmnbroad commented on #1175
Per discussion with @droazen we'll do this after alpha.

[2015-12-03 20:55] akiezun opened #1244 "MarkDuplicatesSpark.mark should not return reads with additional OD attribute"
MarkDuplicatesSpark.mark modifies the reads - it adds an OD attribute (optical dups) that needs to be cleaned up later. This attribute should not be used or cleaned up automatically

[2015-12-03 21:26] akiezun opened #1245 "Add tests for different dup scoring strategies to AbstractMarkDuplicatesCommandLineProgramTest"
right now both Picard and Spark test only the TOTAL_MAPPED_REFERENCE_LENGTH gets tested. GIven that SUM_OF_BASE_QUALITIES is the default, we need tests that use it

[2015-12-03 21:28] vruano opened #1246 "Performance issues when accessing Reads in Interval/Feature based walkers."
I currently have a feature driven walker in gatk-protected that is slower than a read-walker equivalent due to the repetitive Read iterator re-instantiation when accessing overlapping reads using the ReadContext.

Ideally the engine (FeatureManager?) would try to reuse open read iterators instead of creating them for each feature/interval.

[2015-12-03 21:29] droazen commented on #1246
We will definitely do this for beta!

[2015-12-04 02:25] akiezun commented on #1154
this is fixed in #1243

[2015-12-04 02:25] #1154 closed

[2015-12-04 03:16] #1234 closed

[2015-12-04 03:20] akiezun opened #1247 "Hadoop-bam 7.3.0 incompatible with htsjdk 2.0.0 (?) Breaks on CRAM"
I get this on my branch `ak_spark_cram` when trying to read a cram file on spark - see `ReadsSparkSourceUnitTest`

It seems that the constructor that Hadoop-bam was using is now gone and so it fails with `NoSuchMethodError`

[code]

@cmnbroad can you help?

[2015-12-04 03:20] akiezun commented on #1247
or @tomwhite please

[2015-12-04 04:11] akiezun commented on #1247
I created this as a attempt to fix it https://github.com/HadoopGenomics/Hadoop-BAM/pull/40

[2015-12-04 11:18] droazen commented on #1182
This one is done -- closing.

[2015-12-04 11:18] #1182 closed

[2015-12-04 11:31] tomwhite commented on #1247
Another option would be to add back the constructor that doesn't have ValidationStringency in CRAMIterator. (It looks like https://github.com/samtools/htsjdk/commit/efb11267ceea800d221a36d4cb9756dde4c7a984 introduced the incompatible change.) ValidationStringency can still be set using the setValidationStringency method. This would mean that no Hadoop-BAM JDK change or release is needed.

[2015-12-04 12:37] droazen opened #1248 "Try using a larger split size for loading reads in spark"
Using a larger split size for loading reads via Hadoop-BAM would improve performance -- @tomwhite has shown that the process of reading the input splits is expensive with a small split size like our current default of 10 MB (`ReadsSparkSource.DEFAULT_SPLIT_SIZE`). Let's see if we can use a larger split size for loading the reads, then re-partition back to a smaller split size that is a factor of t

[2015-12-04 12:54] tomwhite commented on #1248
Spark's repartition method will always trigger a shuffle, whereas coalesce doesn't - but only if it's reducing the number of partitions. So I don't think we can re-partition back to a smaller split size in the way you describe.

What we can do though is take another look at why we need such a small split size and see if we can increase it (by better tuning etc). Even if we can't we know that some

[2015-12-04 12:57] droazen commented on #1248
Re-partitioning to a smaller size would increase the number of partitions, not reduce the number -- given this, are you sure that re-partitioning would definitely trigger a shuffle if the new size is a factor of the larger one? Wouldn't all the data already be exactly where it needs to be?

[2015-12-04 13:04] droazen commented on #1248
Or perhaps it triggers a shuffle, but the shuffle is in practice a "no-op" that costs nothing?

[2015-12-04 13:06] tomwhite commented on #1248
Re-partitioning to a smaller split size will increase the number of partitions, which requires a shuffle: http://spark.apache.org/docs/latest/api/java/org/apache/spark/api/java/JavaRDD.html#repartition(int)

If you have lots of small splits (large number of partitions) then it's easy to coalesce them without doing any shuffling. If you have a small number of large splits (small number of partition

[2015-12-04 13:08] droazen commented on #1248
Do you agree that in theory the data is already where it needs to be in this scenario, and the problem is just that spark can't detect that this is the case?

[2015-12-04 15:04] tomwhite commented on #1248
Thinking about this a bit more, we're actually quite close to a solution. In the existing Spark Mark Duplicates implementation, for example, you can set the parallelism (with -P). By default it is the same as the number of input partitions, but if the partitions are too large then each reducer has too much data to deal with and the job fails. This is why we made the number of partitions large by r

[2015-12-04 15:06] davidadamsphd opened #1249 "ReadSparkSink produced non-coor sorted BAM"
${GATK4_JAR} MarkDuplicatesSpark -I  src/test/resources/org/broadinstitute/hellbender/tools/BQSR/CEUTrio.HiSeq.WGS.b37.ch20.1m-1m1k.NA12878.bam -O tmp.junk.bam --METRICS_FILE=tmp.metrics -parallelism 1

samtools view tmp.junk.bam | less
and you'll see 1001995 ahead of 1001645
Offending records are at [20:1001995] and [20:1001645]

[2015-12-04 15:14] droazen commented on #1249
For @tomwhite to look at when he has a chance.

[2015-12-04 15:22] tomwhite commented on #1249
@davidadamsphd @droazen ReadsSparkSink doesn't sort when writing sharded output: https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/engine/spark/datasources/ReadsSparkSink.java#L125-L148.

Should this always sort by position? If so, should it do a total sort (like the single file case), or a partial sort (where the reads are sorted within each partition)

[2015-12-04 15:27] droazen commented on #1249
We're not writing sharded output, though -- notice that we're running with `-parallelism 1`, which causes us to call `ReadsSparkSink.writeReads()` with `ReadsWriteFormat.SINGLE`

[2015-12-04 16:11] akiezun opened #1250 "GATKOrder vs ReadCoordinateComparator"
what's the relation of GATKOrder to ReadCoordinateComparator? We should not have 2 comparators like this or at least rename GATKOrder to something more MarkDuplicate-specific

[2015-12-04 16:21] tomwhite commented on #1249
You're right. I had a look and I think it's to do with an inconsistency between org.broadinstitute.hellbender.utils.read.ReadCoordinateComparator (used by Spark for sorting), and htsjdk.samtools.SAMRecordCoordinateComparator (used by samtools).

The offending record seems to be the first unmapped one, and has been placed after [20:1001995] by MarkDuplicatesSpark:

[code]

Any thoughts about how to

[2015-12-04 16:27] akiezun commented on #1249
ugh, unmapped reads biting us again. I bet it's an unmapped read (as in isUnmapped()) that still does has a start position - can you check? We consider those reads invalid and may sort them badly.

[2015-12-04 16:30] tomwhite commented on #1249
Yes, I think that's what's happening. Not sure how to fix though.

[2015-12-04 16:32] yfarjoun commented on #1249
these reads should not be considered invalid as we place unmappable mates
in the same position as their mate (I think).

On Fri, Dec 4, 2015 at 11:27 AM, Adam Kiezun <notifications@github.com>
wrote:

[2015-12-04 16:34] droazen commented on #1249
We don't consider them as invalid -- we consider them to be unmapped, even though they have a position (including reference index).

[2015-12-04 16:37] droazen commented on #1249
@akiezun I think you may have been thinking of the opposite situation, a read with the unmapped flag NOT set but an unmapped value in either the reference name or position fields -- we consider these reads as unmapped in hellbender, which is different from htsjdk.

[2015-12-04 16:38] akiezun commented on #1249
aha! true

[2015-12-04 17:03] tomwhite commented on #1248
We should also decouple the parallelism and whether the output is a single file. For ReadsPipelineSpark we have `-shardedOutput`, but not for MarkDuplicatesSpark (where it's signalled by `-P 1`), so we should make this consistent.

[2015-12-04 17:06] droazen commented on #1249
Discussed in person just now -- we are going to change `ReadsSparkSink` so that it internally operates on a `JavaPairRDD<SAMRecord, SAMRecordWritable>` and uses `SAMRecordCoordinateComparator` to order the output instead of operating on a `JavaPairRDD<GATKRead, SAMRecordWritable>` and using `ReadCoordinateComparator`. This should be fine since the writer being used in Hadoop-BAM is the `KeyIgnorin

[2015-12-04 17:14] tomwhite commented on #1249
I don't think that will work as the key needs to be `GATKRead` to take advantage of the `SAMRecordToGATKReadAdapterSerializer`.

How about writing a new `Comparator<GATKRead>` that wraps a `SAMRecordCoordinateComparator`? That should be pretty simple and won't require a new serializer.

BTW minor correction: `ReadSparkSink` operates on `JavaPairRDD<GATKRead, Void>` (not `JavaPairRDD<GATKRead, SAMR

[2015-12-04 17:20] droazen commented on #1249
@tomwhite The problem is that `GATKRead` does not expose the "positions" of reads that are marked as unmapped (this was a conscious design choice so that client code doesn't have to check 5 different fields to determine whether a read is unmapped or not). So we could write a new comparator, but it would have to convert to `SAMRecord` internally and would only be used when writing -- this is why we

[2015-12-04 17:24] tomwhite commented on #1249
OK, then writing a `SAMRecordSerializer` might be another option. If you look at `SAMRecordToGATKReadAdapterSerializer` you'll see that it basically extracts a `SAMRecord` from a `GATKRead` then encodes it to the stream.

[2015-12-04 18:40] #1162 closed

[2015-12-04 19:12] cmnbroad commented on #777
The write side for non-coordinate sorted CRAMs works now, but there is still a problem with reading queryname sorted input crams with unmapped reads. There is an existing [test in GATK](https://github.com/broadinstitute/gatk/blob/1ecb871ce375799f9245bf932ed5da40f045d7ec/src/test/java/org/broadinstitute/hellbender/tools/picard/sam/SortSamIntegrationTest.java#L23) for this case that is already enabl

[2015-12-04 19:30] cmnbroad commented on #777
htsjdk issue https://github.com/samtools/htsjdk/issues/404

[2015-12-04 20:31] vruano opened #1252 "Changes ExomeReadCounts tool name."
Exome is too specific as we might use the same tools with other kind of data like arbitrary panels (not full exomes) or do target based analysis on WGS data.

Also ReadCounts is not the only way we can measure coverage; we should be able to implement alternative coverage units in the same tool, so it is best to remove RC also from the name.

ExomeReadCounts should be call instead CalculateTargetCo

[2015-12-04 20:46] vruano commented on #1252
@LeeTL1220 I think you want to keep an eye on this one.

[2015-12-04 20:53] #1150 closed

[2015-12-04 20:54] droazen opened #1254 "ADAM test fails on CEUTrio.HiSeq.WGS.b37.ch20.1m-1m1k.NA12878.bam and NA12878.chr17_69k_70k.dictFix.bam"
`ReadsSparkSinkUnitTest.readsSinkADAMTest()` fails on the bams `CEUTrio.HiSeq.WGS.b37.ch20.1m-1m1k.NA12878.bam` and `NA12878.chr17_69k_70k.dictFix.bam` (currently commented-out in its `DataProvider`), and it's not clear what the issue is.

[2015-12-04 22:48] lbergelson opened #1257 "Confusing error message when hdfs file isn't found"
Running a spark tool with a read input that doesn't exist on hdfs results in a confusing error message

ex: `hdfs://user/local/print_reads.sorted.bam` doesn't exist on the file system
produces
[code]

Full command line to reproduce:
[code]
[code]

This `IllegalArgumentException` should be converted to a `UserException` instead.

[2015-12-05 00:22] #1138 closed

[2015-12-05 00:23] droazen commented on #1200
This one is done

[2015-12-05 00:23] #1200 closed

[2015-12-05 00:28] #1249 closed

[2015-12-05 00:35] droazen opened #1258 "MarkDuplicatesSparkIntegrationTest.testMDOrder() passes locally, but fails intermittently in travis"
`MarkDuplicatesSparkIntegrationTest.testMDOrder()` *always* passes when run locally, but fails about 50% of the time when run in travis. As a result, it's currently disabled.

Some things I've tried to fix the test on travis, without success:
-Run MD with `--parallelism 1` instead of `--parallelism 0` (which doesn't guarantee ordering at all!) -- the original version of the test was running with `

[2015-12-05 00:36] droazen commented on #1258
@akiezun Can you have a look at this one when you have time?

[2015-12-05 00:43] droazen commented on #777
This one probably cannot be done for alpha, given that it requires yet more fixes in htsjdk -- pushing to beta.

[2015-12-05 00:45] droazen commented on #777
Actually, I take it back -- reading the issue description, all that was required here was to "determine" the limitations of cram support with respect to ordering, and that task is done. I'll close this ticket and open a new one for the issue you identified above.

[2015-12-05 00:45] #777 closed

[2015-12-05 00:47] droazen opened #1259 "Fix reading queryname-sorted input crams with unmapped reads"
From @cmnbroad:

The write side for non-coordinate sorted CRAMs works now, but there is still a problem with reading queryname sorted input crams with unmapped reads. There is an existing test in GATK for this case that is already enabled and has been passing, but only because there is another bug in the test code that is masking the failure because it uses the value "outputExtension", which resul

[2015-12-05 04:44] akiezun commented on #1087
#1084 is merged but 2 tests in PrintReadsIntegrationTest are still using lenient comparison because NM tag gets lost (curiously spark version of printreads works fine)

[2015-12-05 04:48] akiezun opened #1260 "SortBamSpark is missing SORT_ORDER parameter"
SortBamSpark does not have a  SORT_ORDER parameter

once this is fixed - renable tests in SortBamSparkIntegrationTest

[2015-12-05 04:58] akiezun opened #1261 "reading CRAM on Spark needs a way to relax validation stringency"
see disabled test in ReadsSparkSourceUnitTest.readsSparkSourceTest

[2015-12-05 05:07] akiezun opened #1262 "Spark on CRAM complains about seq dictionary when non-spark does not"
spark complains but non-spark does not

[code]

Once fixed, reenable 2 tests in CollectQualityYieldMetricsSparkIntegrationTest

[2015-12-05 12:12] droazen commented on #1262
This ticket is invalid -- "non-spark" tools like `PrintReads` definitely complain about this combination of files:

    $ ./build/install/hellbender/bin/hellbender PrintReads -I src/test/resources/org/broadinstitute/hellbender/tools/picard/analysis/CollectQualityYieldMetrics/collect_quality_yield_metrics.cram -R src/test/resources/Homo_sapiens_assembly19_chr1_1M.fasta -O foo.bam
    [December 5, 2

[2015-12-05 12:12] #1262 closed

[2015-12-07 00:31] davidadamsphd opened #1263 "CompareDuplicates should optionally produce examples of mismatched reads"

[2015-12-07 13:06] cmnbroad commented on #766
The tests for writing unmapped reads are reenabled now, closing via #1255.

[2015-12-07 13:06] #766 closed

[2015-12-07 13:11] cmnbroad commented on #1141
This is done except for the remaining SortSamIntegration test issue exposed by the outputExtension fix, which is now covered by #1259.

[2015-12-07 13:11] #1141 closed

[2015-12-07 14:20] cmnbroad commented on #1175
We'll use a strict version of setHeader that throws if the record's reference names can't be resolved against the writer's header.

[2015-12-07 14:24] akiezun commented on #1258
@droazen do you have any logs of the failed runs?

[2015-12-07 16:19] droazen commented on #1258
@akiezun Sure! Here you go:

https://storage.googleapis.com/hellbender/test/build_reports/3776.2/tests/index.html
https://s3.amazonaws.com/archive.travis-ci.org/jobs/94993317/log.txt
https://travis-ci.org/broadinstitute/gatk/jobs/94993317

[2015-12-07 19:14] davidadamsphd opened #1265 "ReadSparkSink doesn't remove temp directory when creating a single bam"

[2015-12-07 19:18] davidadamsphd opened #1266 "ReadSparkSink adds a crc checksum file even for local files"
The result of this bug is that if you produce a BAM with Spark, then produce a different BAM with the same name with the walker-framework, then try to read _that_ bam with Spark, it produces checksum (and other more misleading) errors.

[2015-12-07 20:07] akiezun opened #1267 "ADAM ReadsSparkSinkUnitTest.loadReadsADAM test fails on NA12878.chr17_69k_70k.dictFix.bam"
see test in ReadsSparkSinkUnitTest.loadReadsADAM

[2015-12-07 20:08] droazen commented on #1267
Dupe of https://github.com/broadinstitute/gatk/issues/1254 -- closing

[2015-12-07 20:08] #1267 closed

[2015-12-07 20:09] akiezun commented on #1267
not sure if they are related.
but fine

[2015-12-07 20:10] droazen commented on #1267
@akiezun Could you add a comment to the existing ticket (https://github.com/broadinstitute/gatk/issues/1254)
with the additional failure?

[2015-12-07 21:25] droazen commented on #695
Done in https://github.com/broadinstitute/gatk/pull/1240 -- closing!

[2015-12-07 21:25] #695 closed

[2015-12-08 01:50] akiezun opened #1269 "tests that write bam/cram files need to validate that the right format is written"
came up in review of https://github.com/broadinstitute/gatk/pull/1268
(on spark, we were writing files named '.cram' that were in fact just bam files). We need to add code to tests that write cram files that checks that the right format is written).

[2015-12-08 02:02] akiezun opened #1270 "implement writing cram files on spark"
writing cram files on spark is not implemented yet and it'll throw when user attempts is (as per review of https://github.com/broadinstitute/gatk/pull/1268).

The task for this ticket is to implement/enable writing cram files on spark and add tests for it (do check that the results are in fact cram files - see https://github.com/broadinstitute/gatk/issues/1269)

[2015-12-08 03:12] akiezun opened #1271 "comparing queryname-ordered cram blows up"
printreads test using `print_reads.sorted.queryname.sam` and printing to `print_reads.sorted.queryname.cram`

it may be a htsjdk bug

[code]

[2015-12-08 03:44] akiezun opened #1272 "Multi-input Picard tools and metrics should perform sequence dictionary validation on their inputs"
Picard tools don't perform validation of the sequence dictionary which will occasionally lead to errors. They should implement the same checking as the rest of our tools

[2015-12-08 03:44] akiezun commented on #1262
created this: https://github.com/broadinstitute/gatk/issues/1272

[2015-12-08 03:58] akiezun opened #1273 "make and use a clear convention for the naming of all test files"
eg. first5000a is not a great name.

[2015-12-08 13:40] cmnbroad commented on #1259
Also seen by @akiezun:  printreads test using print_reads.sorted.queryname.sam and printing to print_reads.sorted.queryname.cram

[2015-12-08 13:41] cmnbroad commented on #1271
The print_reads.sorted.queryname.sam file has an unmapped read following a mapped read, so the resulting cram file has the same thing. Closing as a dup of #1259 and its htsjdk mate https://github.com/samtools/htsjdk/issues/404.

[2015-12-08 13:41] #1271 closed

[2015-12-08 14:26] akiezun commented on #1258
Another error, probably related, is in ReadsSparkSinkUnitTest when run on NA12878_20_21_WGS_bam
[code]

[2015-12-08 15:50] akiezun commented on #961
done by https://github.com/broadinstitute/gatk/pull/1211

[2015-12-08 15:50] #961 closed

[2015-12-08 16:01] cmnbroad commented on #1175
htsjdk PR is https://github.com/samtools/htsjdk/pull/406

[2015-12-08 16:12] #1143 closed

[2015-12-08 17:19] akiezun commented on #966
fixed by #1268

[2015-12-08 17:19] #966 closed

[2015-12-08 17:49] #1179 closed

[2015-12-08 18:00] akiezun commented on #1258
@droazen is on it

[2015-12-08 20:46] cmnbroad opened #1280 "ReadSparkSource.getHeader silently manufactures a bogus SAMFileHeader for ADAM files"
And probably other kinds of files too. The stack below results from handing it a .ADAM file in the MeanQualityByCycleSparkIntegrationTest.test_ADAM test. The ReadSparkSource code is currently delegating to Hadoop-BAM, which is in turn delegating to promiscuous htsjdk code that says anything that doesn't look like known file type [must be a SAM file](https://github.com/samtools/htsjdk/blob/bd92747f

[2015-12-08 21:01] droazen opened #1281 "Bam fragment prefix in ReadsSparkSink.getBamFragments() should be based on the value of mapreduce.output.basename instead of hardcoded"
Instead of hardcoding a "part-r-" prefix in `ReadsSparkSink.getBamFragments()`, we should be based on the value of `mapreduce.output.basename` in case someone sets it on us.

[2015-12-08 21:18] vruano commented on #1184
Today I bumped into this issue where two codecs of mine collide.

[2015-12-08 21:20] #1258 closed

[2015-12-08 21:43] droazen commented on #1184
Can you give us more details on how the codecs are colliding? Do their `canDecode()` methods claim the same extension(s)?

[2015-12-09 07:57] vruano commented on #1184
Yup, same extension... ".tab" or ".tsv" (or whatever the user pleases) as they are tab separate value files.

My canDecode look into the content of the file and don't care about extensions. Same as the VCF or BCF codecs.

[2015-12-09 13:19] tomwhite opened #1282 "FlagStatSpark causes NPE when output file is not set"
The output file (`-O`/`--output`) is optional, but if not set you get a NPE:

[code]

This is the command I ran:

[code]

[2015-12-09 13:32] tomwhite commented on #1282
Note that the stats are still printed to the console; the NPE happens after that.

[2015-12-09 13:47] lbergelson commented on #1282
Closing this as a duplicate of #1202

[2015-12-09 13:47] #1282 closed

[2015-12-09 14:40] akiezun opened #1283 "gatk-launch is not mentioned in the README"
this is our primary way or running hellbender yet it's not mentioned in the readme

[2015-12-09 14:42] akiezun opened #1284 "gatk-launch when run with no args should mention how to get a tool listing"
without a list of tools how do i know what i can run?

[2015-12-09 14:45] akiezun opened #1285 "gatk-launch does not mention -h for tool args"
[code]

gives me this
[code]

it needs to add something about -h to see all arguments

[2015-12-09 14:48] cmnbroad opened #1286 "gatk-launch usage output with no args is not clear"
Its not clear what  the distinction is between "Tool" and "GATKTool", or "toolsArgs" vs "GATK arg 1".

[2015-12-09 14:52] cmnbroad commented on #1286
Note: this is based on the output from just running gatk-launch with no args. The output with --help is better.

[2015-12-09 14:57] cmnbroad opened #1287 "gatk-launch should display a version #"
which will be useful for field bug reporting.

[2015-12-09 15:05] akiezun opened #1288 "cram : message should say what argument to use for reference"
[code]

prints

[code]

two problems:
1 `USER ERROR` is super unfriendly
2 it should say what argument to use to pass in a reference

[2015-12-09 15:11] akiezun opened #1289 "cram dictionary validation should print the missing contigs"
rather than this:

[code]

it would be more friendly to say `contig NC_007605 is missing from the reference`

[2015-12-09 15:13] cmnbroad opened #1290 "Bad input filename/path (nonexistent file) leads to FileNotFoundException"
We should handle this common case better. "gatk-launch CompareSAMs foo bar" ->

htsjdk.samtools.util.RuntimeIOException: java.io.FileNotFoundException: foo (No such file or directory)
	at htsjdk.samtools.FileInputResource$1.make(SamInputResource.java:178)
	at htsjdk.samtools.FileInputResource$1.make(SamInputResource.java:172)
	at htsjdk.samtools.util.Lazy.get(Lazy.java:24)
	at htsjdk.samtools.File

[2015-12-09 15:22] cmnbroad opened #1291 "The Spark/NonSpark tool distinction needs to be more obvious"
Even if you know that only some tools are enabled for Spark, its not obvious how to find them. And the tool list has more than one Spark program group, which I didn't notice at first:

Spark Validation tools:                          Tools written in Spark to compare aspects of two different files
Spark pipelines:                                 Pipelines that combine tools and use Apache Spark fo

[2015-12-09 15:30] akiezun opened #1292 "bad argument value shows up as IllegalArgumentException"
passing `--secondsBetweenProgressUpdates 0` results in

[code]

this should be handled by the CLI somehow and show up as a UserException with clean indication that the argument has a bad value (and doc stating what a good value is)

[2015-12-09 15:34] akiezun opened #1293 "using --version results in a bizarre error message"
i get this when adding `--version` to the commandline

[code]

what does that mean? seems bogus

[2015-12-09 15:38] akiezun opened #1294 "spark tools on local give no progress for a long time"
[code]

looks like it's hanging for a long time after it prints
[code]

i think it's loading the file. It would be good to see progress

[2015-12-09 15:42] vruano commented on #1184
Also it seems that one can access the type arguments of fields thru reflection, thus the default behavior could constrain to try the codecs whose declared feature type is compatible with the FeatureInput parameter type.

[2015-12-09 15:43] droazen commented on #1184
We can implement this, but first can you explain why your `canDecode()` methods can't unambiguously detect your file formats? The VCF/BCF codecs use a magic value at the start of the file to detect the format -- are your codecs guessing as to the intended format? Is there no way to be sure what the format is?

If we have multiple codecs able to decode a file, and only one produces `Features` that

[2015-12-09 15:44] akiezun commented on #1060
hmm this is not a spark issue i think. got mislabeled somehow

[2015-12-09 15:45] droazen commented on #1060
This is by design -- can we close this as invalid?

[2015-12-09 15:45] akiezun opened #1295 "spark tools should give a big warning that interval traversal is super slow"
using -L makes a huge different in speed for non-spark tools but much smaller for spark tools (due to https://github.com/HadoopGenomics/Hadoop-BAM/issues/34)

we should warn the users that this is the case

[2015-12-09 15:47] akiezun opened #1296 "support for old-school picard option style"
these two should be equivalent `I=a.bam` and `-I a.bam`

[2015-12-09 15:49] droazen commented on #1290
This just needs to be wrapped in a `UserException`

[2015-12-09 15:50] akiezun opened #1297 "ugly message on missing input file"
`./gatk-launch FlagStat --input fred`

[code]

"Couldn't read file because cannot read non-existent file" ? Should be improved

[2015-12-09 15:51] lbergelson commented on #1293
@akiezun Can you add a full commandline here?  Seems to work for me.

[code]

[2015-12-09 15:53] vruano commented on #1184
My files don't have magic numbers, I don't see the need for it; the user is telling me what the file are supposed to contain by choosing the argument name that comes in front.

The only think the codecs check is that the single line header that contains the column names contain the mandatory columns for whatever type of feature they decode. For these two codecs the intersection of valid column nam

[2015-12-09 15:54] akiezun commented on #1293
`/gatk-launch FlagStat --input ../HCC1143_BL.bam  --secondsBetweenProgressUpdates --version`

[2015-12-09 15:55] akiezun commented on #1293
i guess that's what i get for not passing a value to secondsBetweenProgressUpdates

[2015-12-09 15:55] droazen commented on #1184
Would selecting the codec that produces `Features` of type `X` for a `FeatureInput<X>` when there are multiple matches solve the problem?

[2015-12-09 15:55] akiezun commented on #1293
i think it's fine

[2015-12-09 15:55] #1293 closed

[2015-12-09 15:55] vruano commented on #1184
That would work, yet I don't see why we simply can focus only in coders that return the right type.

[2015-12-09 15:55] lbergelson commented on #1292
relevant issue here #143 to add min/max parameters to numeric arguments.

[2015-12-09 16:03] droazen commented on #1184
A new annotation with features like `failureMessage` and `force=true` is a lot more complex and more work than just prioritizing type `X` for a `FeatureInput<X>`, if that will work just as well. See the chat room slogan "hellbender instinct shall be to simplify and rip stuff out" :)

[2015-12-09 16:07] droazen commented on #1286
I think the general format `gatk-launch Tool toolArgs -- sparkArgs` is pretty clear. Would this be solved by just making the terminology consistent (eg., change `Tool` to `GATKTool` etc.)?

[2015-12-09 16:08] akiezun opened #1299 "can we create crai indices for cram files"
we create bai indices when `--createOutputBamIndex true` but crai is the preferred index. Can we create those?

[2015-12-09 16:10] lbergelson commented on #1291
@cmnbroad What's the suggestion here?  Move the spark tools so they're in the same groups as their non-spark counterparts?

[2015-12-09 16:12] droazen commented on #1291
The spark tools all end in `*Spark` and are in clearly marked groups that begin with `Spark*`, which seems pretty clear to me :)

[2015-12-09 16:14] cmnbroad commented on #1291
I think the program groups are a secondary issue; the primary one to me is that I don't think its obvious in general that some tools are Spark and some are not, unless you already know that. You have to read the whole tool list to see that some groups are spark and some are not.

[2015-12-09 16:15] cmnbroad commented on #1291
As for a suggestion, I'm not sure how to draw this out other than maybe in the gat-launch usage message.

[2015-12-09 16:15] droazen commented on #1291
This is the sort of thing that would be better described at the `README` / `Intro to the GATK` level rather than in the help output, I think.

[2015-12-09 16:20] akiezun opened #1300 "blow up on ./gatk-launch ApplyBQSR --help"
` ./gatk-launch ApplyBQSR --help`

[code]

[2015-12-09 16:21] cmnbroad commented on #1286
Changing "Tool" to "SparkTool" and using "toolArgs" for tool args and "sparkArgs" for spark args would help a lot.

[2015-12-09 16:23] akiezun opened #1301 "./gatk-launch --help prints "A USER ERROR has occurred: '--help' is not a valid command.""
`./gatk-launch --help`

prints the available tools and ends with
[code]

[2015-12-09 16:26] #1202 closed

[2015-12-09 16:29] droazen opened #1302 "README should mention new build targets "gradle installSpark" and "gradle installAll", remove mention of "gradle sparkJar""

[2015-12-09 16:32] vruano commented on #1184
I meant to forget about the annotations for now. Just try those codecs that return the right Feature type no even call canDecode on the other codecs.

I dont think this should be more lines of code.

[2015-12-09 16:35] droazen commented on #1184
So you're proposing that we just limit the set of codecs we consider as candidates to those that return the right `Feature` type? This seems like a good idea -- it shall be done!

[2015-12-09 16:36] akiezun opened #1303 "blow up on gatk-launch DownSampleSam --help"
`gatk-launch DownsampleSam --help`

[code]

[2015-12-09 16:38] akiezun commented on #1300
same error on BQSRPipelineSpark, ReadsPipelineSpark, ApplyBQSRSpark

[2015-12-09 16:40] cmnbroad opened #1304 "SortVcf can't read v3.3 vcf file but CountVariants and SelectVariants can"
CountVariants and SelectVariants both read the same file successfully.

gatk-launch SortVcf --input /humgen/test.filtered.maf_annotated.vcf --output sortvcf.vcf

htsjdk.tribble.TribbleException$MalformedFeatureFile: Unable to parse header with error: Your input file has a malformed header: This codec is strictly for VCFv4; please use the VCF3 codec for VCFv3.3, for input source: /humgen/test.filte

[2015-12-09 16:48] akiezun opened #1305 "improve message or missing seq dict on variants"
`./gatk-launch CountVariants --variant  some.vcf -L 21`

i get

`A USER ERROR has occurred: We currently require a sequence dictionary (from a reference or source of reads) to process intervals. This restriction may be removed in the future.`

the message should tell me what to do. References to the future are less useful than help in what argument to pass

[2015-12-09 16:48] cmnbroad commented on #1304
Looks like the VariantWalkers benefit from the Feature codec discovery, but SortVcf is a Picard tool.

[2015-12-09 16:49] droazen commented on #1304
This is because walkers like `SelectVariants` use file format auto-detection via the `FeatureManager`, whereas picard tools like `SortVcf` hardcode the codec they want to use.

[2015-12-09 16:52] akiezun opened #1306 "argument -V means different things in different tools"
in CountVariants -V means 'variant'

in IndexFeatureFile it seems to mean 'verbosity', see message below:

[code]

[code]

[2015-12-09 16:55] akiezun opened #1307 "IndexFeatureFile prints no progress"
IndexFeatureFile prints no progress and so it seems like it's hanging for a long time

[2015-12-09 16:55] vruano commented on #1184
yup i meant that, initially i thought the par types wernt available at runtime and so i thought the annotation was necesary

[2015-12-09 16:55] droazen opened #1308 "Increase travis timeout time"
We are timing our intermittently on travis -- let's increase the timeout.

[2015-12-09 16:57] akiezun opened #1309 "weird message for CountVariants -L unmapped"
`A USER ERROR has occurred: Invalid command line: Argument -L/-XL has a bad value: unmapped. Currently the only way to view unmapped intervals is to perform a traversal of the entire file without specifying any intervals`

"unmapped intervals"?

[2015-12-09 16:59] akiezun opened #1310 "CountVariants does not pick up a sequence dictionary from the input file"
`/gatk-launch CountVariants -V src/test/resources/large/dbsnp_138.b37.20.21.vcf -L 20`

the input file does have a sequence dictionary yet i get this

[code]

[2015-12-09 17:02] akiezun opened #1311 "SelectVariants uses outFile and not output"
SelectVariants should use --output as the parameter to specify the output, like everyone else

[2015-12-09 17:03] droazen commented on #1310
"from a reference or source of reads"

[2015-12-09 17:06] akiezun opened #1312 "SelectVariants ignores --justRead"
SelectVariants seems to write the output no matter if I pass --justRead or not

[2015-12-09 17:11] akiezun opened #1313 "SelectVariants should point to JEXL doc"
run `SelectVariants -select 'dbSNPBuildID=119'`

this blows up
[code]

which is a suboptimal message - it should point to a doc to JEXL

(btw the fix seems to be to use `==` not `=`)

[2015-12-09 17:12] droazen opened #1314 "gatk-launch complains when running a spark tool if installSpark has been run but installDist hasn't"
gradle clean installSpark
    ./gatk-launch FlagStatSpark -I src/test/resources/org/broadinstitute/hellbender/tools/count_bases.bam
    Missing GATK wrapper script:     /Users/droazen/src/hellbender/build/install/gatk/bin/gatk
    To generate the wrapper run:

    /Users/droazen/src/hellbender/gradlew installDist

[2015-12-09 17:18] droazen opened #1315 "gatk-launch blows up when run with the combination --sparkRunner SPARK --sparkMaster local[1]"
We blow up with the following scary error:

org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost): java.io.IOException: unexpected exception type
	at java.io.ObjectStreamClass.throwMiscException(ObjectStreamClass.java:1538)
	at java.io.ObjectStreamClass.invokeReadResolve(ObjectStream

[2015-12-09 17:20] droazen commented on #1314
After discussing with Louis, this is expected -- closing.

[2015-12-09 17:20] #1314 closed

[2015-12-09 17:22] droazen opened #1316 "gatk-launch refuses to run a spark tool when it finds multiple spark jars -- should perhaps select and use the newest one instead"

[2015-12-09 17:24] droazen opened #1317 "Mention in README that "clean" should be run before "installSpark"/"sparkJar", since gatk-launch cannot currently handle multiple spark jars in build/libs"

[2015-12-09 17:38] droazen opened #1318 "gatk-all-4.pre-alpha-7-*-SNAPSHOT-spark.jar pattern in README is outdated"
Let's replace this with a pattern that will not go out of date so easily.

[2015-12-09 17:40] akiezun opened #1319 "should we have a generate_md5 option?"
picard tools have CREATE_MD5_FILE (even those in gatk)
gatk3 tools have generate_md5

but gatk4 walkers or spark tools don't offer this

[2015-12-09 17:57] vruano opened #1320 "Travis fails even when local testing works for class AlleleFranctionInitializerUnitTest"
Locally testing does ok but when run in Travis you get an error consistently.

The stack trace reads:

<pre>
org.broadinstitute.hellbender.tools.exome.allelefraction.AlleleFractionInitializerUnitTest.testInitialize FAILED
    java.lang.AssertionError: expected [0.0] but found [-0.023368743794425884]
        at org.testng.Assert.fail(Assert.java:94)
        at org.testng.Assert.failNotEquals(Assert

[2015-12-09 17:58] vruano commented on #1320
@davidbenjamin
Perhaps some random seed number is hostname architecture sensitive? are native libraries involved? If this is using spark perhaps the test becomes non-deterministic?

[2015-12-09 18:01] vruano commented on #1320
Oups wrong repo! this belongs to gatk-protected. Sorry.

[2015-12-09 18:01] #1320 closed

[2015-12-09 18:17] akiezun opened #1321 "CompareBaseQualitiesSpark complains about reference for cram files even though i gave it one"
`./gatk-launch CompareBaseQualities -I HCC1143.bqsr.bam -I2 HCC1143.bqsr.cram -R ../human_g1k_v37.fasta --disableSequenceDictionaryValidation`

results in
`A USER ERROR has occurred: A reference file is required when using CRAM files.`

which is bogus because i passed in a reference

[2015-12-09 19:39] akiezun opened #1323 "need current doc on how to run on dataproc"
readme just says 'look at the wiki' and wiki says nothing about gatk-launch

[2015-12-09 19:57] akiezun commented on #1323
needs to write explicit steps on how to make things like `./gatk-launch CountReadsSpark --sparkRunner GCS` work

[2015-12-09 20:11] akiezun commented on #1323
running this `./gatk-launch CountReadsSpark --sparkRunner GCS --cluster cluster-2`

results in `ERROR: (gcloud.beta.dataproc.jobs.submit.spark) argument --cluster is required` which is useless. I did specify --cluster

[2015-12-09 20:14] akiezun commented on #1323
running this ` ./gatk-launch CountReadsSpark -- --sparkRunner GCS --cluster cluster-2`

gives me this `ERROR: (gcloud.beta.dataproc.jobs.submit.spark) unknown field [projectId] in [419e9ee1-52cb-47e3-b99d-22f5fe32dffa]` which is also useless because it does not tell me what to do

[2015-12-09 20:22] akiezun opened #1324 "blowup on direct runner with hdfs"
` ./gatk-launch  CountReadsSpark --input hdfs:///user/akiezun/data/HCC1143_BL.bam -- --sparkRunner DIRECT`

gives me
[code]

[2015-12-09 20:27] akiezun opened #1325 "CountReadsSpark does not print the result to stdout"
`./gatk-launch  CountReadsSpark --input hdfs:///user/akiezun/data/HCC1143_BL.bam -- --sparkRunner SUBMIT --sparkMaster yarn-client`

it runs for a while and prints no results

[2015-12-09 20:30] lbergelson commented on #1324
This is the issue I was talking about the other day in our collaboration meeting.  The file system is determined by the spark environment.  In the direct runner it ends up being a `LocalFileSystem`.  If you run using the SUBMIT runner on your own computer you'll likely also get a `LocalFileSystem`, if you run with SUBMIT on dataflow01 you'll be able to read hdfs, but unable to access `file://` and

[2015-12-09 20:31] droazen commented on #1324
There must be a way to disable this auto-translation of the scheme part of the URI...

[2015-12-09 20:52] akiezun opened #1326 "cram+spark+hdfs = hangs and blows up"
`/gatk-launch  CountReadsSpark --disableSequenceDictionaryValidation -R hdfs:///user/akiezun/data/human_g1k_v37.fasta --input hdfs:///user/akiezun/data/HCC1143_BL.cram -bps 1000000000 -- --sparkRunner SUBMIT --sparkMaster yarn-client --num-executors 36 --executor-cores 4 --executor-memory 16g`

hangs for a long time and then blows up (probably memory). The same exact command using bam file runs in

[2015-12-09 20:56] lbergelson commented on #1324
related to #1257 by way of filesystem confusion

[2015-12-09 21:04] akiezun commented on #1326
deep down in the guts of the logs i find this

`Caused by: java.nio.file.NoSuchFileException: /local/dev/akiezun/bin/gatk/hdfs:/user/akiezun/data/human_g1k_v37.fasta`

this is super bizarre - it seems to want to treat the ref as a local file. (the same syntax works for ReadsPipelineSpark btw)

[2015-12-09 23:10] droazen commented on #1296
Definitely for beta, if we do this.

[2015-12-09 23:11] droazen commented on #1289
beta

[2015-12-09 23:11] droazen commented on #1288
beta

[2015-12-09 23:12] droazen commented on #1287
alpha

[2015-12-09 23:12] droazen commented on #1286
alpha

[2015-12-09 23:12] droazen commented on #1285
alpha

[2015-12-09 23:14] droazen commented on #1284
It does print the list of tools if run with `--help` -- renaming the ticket to make this discoverable when running with no args. For alpha.

[2015-12-09 23:14] droazen commented on #1319
Discussion for beta

[2015-12-09 23:14] droazen commented on #1295
beta

[2015-12-09 23:15] droazen commented on #1294
beta

[2015-12-09 23:15] droazen commented on #1300
alpha

[2015-12-09 23:15] droazen commented on #1301
alpha

[2015-12-09 23:16] droazen commented on #1303
alpha

[2015-12-09 23:16] droazen commented on #1305
beta

[2015-12-09 23:16] droazen commented on #1304
beta

[2015-12-09 23:16] droazen commented on #1307
beta

[2015-12-09 23:17] droazen commented on #1311
alpha

[2015-12-09 23:17] droazen commented on #1299
beta

[2015-12-09 23:18] droazen commented on #1309
beta

[2015-12-09 23:18] droazen commented on #1310
beta

[2015-12-09 23:19] droazen commented on #1321
alpha

[2015-12-09 23:19] droazen commented on #1316
alpha

[2015-12-09 23:19] droazen commented on #1325
alpha

[2015-12-09 23:20] droazen commented on #1313
beta

[2015-12-09 23:20] droazen commented on #1292
beta

[2015-12-09 23:21] droazen commented on #1290
alpha

[2015-12-09 23:21] droazen commented on #1297
alpha

[2015-12-09 23:24] droazen commented on #1306
This might be due to an unfortunate feature of our arg-parsing system that allows you to abbreviate argument names. Attempt a quick fix for alpha by adding an explicit `shortName` and `fullName` to the relevant arg.

[2015-12-09 23:24] droazen commented on #1312
alpha

[2015-12-09 23:24] droazen commented on #1315
alpha

[2015-12-09 23:25] droazen commented on #1324
beta, too hard to fix for now probably

[2015-12-09 23:25] droazen commented on #1326
attempt to fix for alpha

[2015-12-09 23:30] droazen opened #1328 "Update the wikis to use gatk-launch syntax"

[2015-12-10 01:17] laserson opened #1329 "Tweak the --sparkRunner arg in gatk-launch"
I find the `--sparkRunner` arg to be a bit confusing:

* `DIRECT` uses the local walker impl, and doesn't run Spark at all, so it probably shouldn't be a "sparkRunner".  I also initially thought this would use the Spark local runner.
* `SUBMIT` only makes sense to me because I use Spark, but also not as clear as could be.  Also it seems a bit non-obvious that this is the option to pick if you want

[2015-12-10 02:12] laserson opened #1330 "Refactor gatk-launch to use argparse"
And do a bit more cleanup

[2015-12-10 03:00] laserson commented on #1316
Can you show the output from the error?  This may actually be consistent with the way that spark-submit works.

[2015-12-10 03:01] laserson commented on #1315
Wait, how do you run `local[1]` if not with this combination of options?

[2015-12-10 03:03] laserson opened #1331 "gatk-launch -h doesn't always show the right info"
If you haven't "built" the wrapper script, it complains.  Strictly speaking, if you're only ever going to use Spark, you don't need the wrapper.  The check should only happen if you choose the local walker impl.

[code]

[2015-12-10 03:09] laserson commented on #1331
Also, once you build the wrapper script, you get the main `gatk-launch -h` gives you the message with the big list of tools, rather than the launch script help, which requires `gatk-launch`

[2015-12-10 14:34] akiezun commented on #1290
other Picard tools fail with `htsjdk.samtools.SAMException: Cannot read non-existent file:`. For now I'll make it consistent with the other picard tools in gatk.

[2015-12-10 15:27] akiezun commented on #1312
I think i'm going to just remove this option. No other tool has an option like this - it seems to be a hack from the past

[2015-12-10 15:27] droazen opened #1335 "Add --shardedOutput true/false arg to MarkDuplicatesSpark"
For consistency with the `BQSRPipelineSpark` and `ReadsPipelineSpark`

[2015-12-10 15:32] lbergelson commented on #1331
@laserson If you're running spark with the local[*] runner you need the wrapper script, since the spark jar doesn't include a copy of spark.

[2015-12-10 15:37] akiezun commented on #1321
I think the problem is that it uses a non-standard way to specify the second read input (using a new field rather than the standard input collection).

I think this can wait past alpha - not a critical tool and not a standard way of using it. @droazen wdyt?

[2015-12-10 15:41] lbergelson commented on #1331
So we've had some debate over what the commands should be.  Definitely still subject to change.

What's the right way to access the
1.  help for gatk-launch itself
2.  tools list for gatk

currently `gatk-launch` displays it's own help, while `gatk-launch -help` passes through the help request to gatk which shows the tools list.

I don't think `gatk-launch --help` should ONLY display the help for

[2015-12-10 15:42] akiezun commented on #1325
i think this is just a limitation of running on the cluster - stdout gets lost somewhere. I'll close it

[2015-12-10 15:42] #1325 closed

[2015-12-10 15:43] droazen commented on #1331
How about having `gatk-launch` and `gatk-launch --help` both output the same `gatk-launch` help, PLUS a message stating `For a tool listing, run gatk-launch --list`?

[2015-12-10 15:45] droazen commented on #1330
For beta

[2015-12-10 15:49] droazen commented on #1329
I agree that `--runner SPARK` is much better than `--sparkRunner SUBMIT` to someone unfamiliar with the existence of `spark-submit`.

`DIRECT` uses the in-memory Spark runner for Spark tools, though (as there is no way to run a Spark tool using the "walker" engine), so it does seem like a "Spark" runner to me?

[2015-12-10 16:04] lbergelson commented on #1329
So naming has been a debate with several revisions so far.  Definitely not happy with what we have at the moment.

Right now you can run the spark local runner without specifying `DIRECT` at all, but it seemed more symmetric to have runner option.

`DIRECT` is basically a no op for running with `--sparkMaster local[*]`  I added it as a separate option because I thought it seemed likely that we wou

[2015-12-10 16:09] droazen commented on #1329
I would prefer to not require an extra `--sparkMaster` argument to run a Spark tool locally -- ie, `/gatk-launch CountReadsSpark -I flag_stat.bam` should run locally by default.

I think we should keep the name `sparkRunner` for symmetry with `sparkMaster`, and to make it clear it's a Spark argument and not a tool argument, but we should rename `SUBMIT` to `SPARK`.

[2015-12-10 16:28] lbergelson opened #1338 "gatk-launch should append a / as needed to GATK_GCS_STAGING"
Currently GATK_GCS_STAGING requires a full bucket path with a trailing /.

i.e. `GATK_GCS_STAGING=gs://hellbender/staging/`

it should be modified to detect the absence of the `gcs://` prefix and the trailing `/` and correctly function with options of the following form

`gs://hellbender/staging`
`hellbender/staging/`
`hellbender/staging`

[2015-12-10 16:37] lbergelson commented on #1331
That sounds fine.  What about run `gatk-launch --tools` instead?

[2015-12-10 17:21] laserson commented on #1329
Can we eliminate the extra `--sparkMaster` option entirely?

[2015-12-10 17:22] laserson commented on #1331
Could we have all help messages display all the information?

[2015-12-10 17:23] laserson commented on #1331
But if not, I support having a separate option specifically for a tool listing.

[2015-12-10 17:26] lbergelson commented on #1329
@laserson If we eliminate it, how will people specify how many cores they want to run?

[2015-12-10 17:32] droazen commented on #1331
I think if all the help options displayed everything the tool listing would dwarf the other info, so my preference would be for an explicit `gatk-launch --list` (or `--tools`), with prominent mention of that option in the output of both `gatk-launch` and `gatk-launch --help`

[2015-12-10 17:44] #1335 closed

[2015-12-10 18:21] cmnbroad commented on #1259
vadim found the problem and is working on an htsjdk pr with a fix for this.

[2015-12-10 19:23] lbergelson commented on #1312
closed by #1336

[2015-12-10 19:23] #1312 closed

[2015-12-10 19:24] lbergelson commented on #1311
closed by #1334

[2015-12-10 19:24] #1311 closed

[2015-12-10 19:35] droazen opened #1339 "gatk-launch should pass spark options in when running locally, too"
Currently `gatk-launch` only passes spark options through if running via `spark-submit` or `gcloud`, and not when running locally. We should fix this.

Also, we've had a separate request to allow arbitrary Spark options to be passed in to `SparkCommandLineProgram` when running the GATK jar directly (not through `gatk-launch`) -- we could add a new `List<String>` argument there that allows arbitrar

[2015-12-10 20:01] #1303 closed

[2015-12-10 20:11] lbergelson opened #1340 "Have picard tools throw UserExceptions for file not found instead of SAMExceptions"
Picard tools throw a `SAMException` in cases where the input files are not found.  We should catch these and convert them to `UserExceptions`

Relates to #1290

[2015-12-10 20:12] lbergelson commented on #1290
closed by #1332

[2015-12-10 20:12] #1290 closed

[2015-12-10 20:44] akiezun commented on #1287
@cmnbroad can you clarify when you'd like to see the version number. When gatk runs it does print the version:
[code]

prints
[code]

[2015-12-10 20:50] cmnbroad commented on #1287
I was expecting to see it with --version, or just running gatk-launch with no args. But as long as there is some way to get it - I missed it in the output.

[2015-12-10 20:55] cmnbroad commented on #1287
I see now that if you do "./gatk-launch PrintReads --version" you get the version, just not with just "./gatk-launch" with no tool.

[2015-12-10 20:57] akiezun commented on #1287
version without a tool is not very useful for debugging.
i'll close. reopen if I missed a useful usecase

[2015-12-10 20:57] #1287 closed

[2015-12-10 21:21] lbergelson commented on #1315
@laserson using --sparkMaster 'local[1]' and --sparkRunner DIRECT or nothing at all

[2015-12-10 21:22] lbergelson commented on #1315
strangely
[code]
fails with this explosion, but

[code]

seems to run just fine.  Both run fine when not using spark-submit.  A bit mysterious.

[2015-12-10 22:23] lbergelson opened #1342 "ReadsSparkSinkUnitTest.readsSinkTest[3] is to slow"
One unit test (`ReadsSparkSinkUnitTest.readsSinkTest[3]`) takes ~1/4 of our test time at around 4-5 minutes when running on travis.

It only takes ~20s on my local machine, so I suspect it may be running out of memory on travis and spending all of it's time thrashing, garbage collecting, and spilling to disk.

We should either remove this tests or figure out how to fix it.

[2015-12-10 22:26] droazen commented on #1342
It's using one of the large files (`NA12878_20_21_WGS_bam`), so not surprising that it's slow. We might be able to just remove it, as the test case just before it (for `CEUTrio.HiSeq.WGS.b37.ch20.1m-1m1k.NA12878.bam`) proved sufficient on its own to detect the recent ordering bugs in `ReadsSparkSink`

[2015-12-10 22:39] #1283 closed

[2015-12-10 22:39] #1291 closed

[2015-12-10 22:39] #1302 closed

[2015-12-10 22:39] #1317 closed

[2015-12-10 22:39] #1318 closed

[2015-12-10 22:39] #1323 closed

[2015-12-10 23:05] lbergelson commented on #1342
@droazen It's just a bit strange that it goes from 20s on local machines to 5 minutes on travis.  Must be memory.  Or some critical spark performance bug we haven't seen before "_"

[2015-12-11 08:57] tomwhite commented on #1326
@akiezun we still have the limitation that refs in CRAM are treated as a local file. We need a release of https://github.com/damiencarol/jsr203-hadoop so that HDFS works as a java.nio.file.Path implementation. Then we can include that JAR on the hellbender classpath and hdfs URIs will be loaded correctly.

[2015-12-11 14:53] #1342 closed

[2015-12-11 15:25] cmnbroad opened #1346 "ReadSparkSource.getHeader is fragile and needs to be updated"
The current implementation delegates to Hadoop-BAM SAMHeaderReader.readSAMHeaderFrom, which in turn delegates to htsjdk SAMFileReader (which is deprecated). This is fragile and in a couple of cases is succeeding now only because of some existing htsjdk quirks/bugs:

-It succeeds on ADAM files only because the htsjdk code [falls through](https://github.com/broadinstitute/gatk/issues/1280)  to using

[2015-12-11 16:12] #1285 closed

[2015-12-11 16:18] droazen opened #1347 "Disable argument abbreviation in joptsimple"
Argument abbreviation is causing confusing issues like https://github.com/broadinstitute/gatk/issues/1306, where `-V` means different things in different tools. Let's disable it in `joptsimple` (or, if there's no mechanism to disable it, ask the author to add one).

[2015-12-11 16:19] droazen commented on #1306
Opened https://github.com/broadinstitute/gatk/issues/1347 for a definitive fix. As a quick fix I'll rename the `VERBOSITY` argument slightly.

[2015-12-11 16:29] akiezun opened #1349 "all Spark option for --sparkRunner DIRECT are ignored"
when running gatk-launch with --sparkRunner DIRECT, all sparkArgs are ignores

[2015-12-11 16:39] lbergelson commented on #1349
duplicate of #1339

[2015-12-11 16:39] #1349 closed

[2015-12-11 20:08] #1306 closed

[2015-12-11 20:57] droazen commented on #1016
Moving to beta, as the tool API has not stabilized yet.

[2015-12-11 20:58] droazen commented on #964
I think we've satisfied this one for alpha purposes with our recent README changes. We can write a more in-depth guide for beta.

[2015-12-11 20:59] droazen commented on #1051
beta

[2015-12-11 21:00] droazen commented on #1321
Agreed @akiezun -- moving to beta

[2015-12-11 21:05] droazen commented on #1326
Since this might require a patch to an external project to fix, moving to beta.

[2015-12-11 21:07] droazen commented on #1326
But adding `PRIORITY_HIGH` :)

[2015-12-11 21:23] droazen commented on #1328
This one is done

[2015-12-11 21:23] #1328 closed

[2015-12-11 21:27] #1301 closed

[2015-12-11 21:33] #1297 closed

[2015-12-11 21:37] #1284 closed

[2015-12-11 21:39] #1286 closed

[2015-12-11 21:39] akiezun commented on #1286
closed by #1345

[2015-12-11 22:20] laserson commented on #1315
Ah, I think I was confused.  IMO, I find `DIRECT` => Spark with `local[*]` to be a bit confusing, especially since most docs out there specify that running Spark locally still uses `spark-submit` with `local[*]`.  I would recommend that `DIRECT` be used only for walkers, and anyone that wants to run locally use the `spark-submit` path.  I wish we could also eliminate the extra `--sparkMaster` arg

[2015-12-11 22:21] laserson commented on #1331
+1

[2015-12-11 22:25] laserson commented on #1329
I think that `DIRECT` should only give access to walker impls.  Anything Spark should use spark-submit or gcs.  So if you're running a local Spark tool, you would use `--runner SPARK --master local[3]`.

[2015-12-11 22:26] #1329 closed

[2015-12-11 22:27] #1331 closed

[2015-12-11 22:31] laserson opened #1357 "Consider renaming --sparkRunner to --runner"
Following up on #1329 and #1355.  This would make the most sense if `DIRECT` were limited to running only non-Spark walker impls.

[2015-12-11 22:33] lbergelson commented on #1329
@laserson that doesn't work if you don't have a spark installation installed, and seems to crash for certain inputs with scary errors see #1315

[2015-12-11 22:44] droazen commented on #1357
Non-Spark walker implementations don't need a --runner argument at all (and shouldn't as we want them to be as easy to run as their GATK3 counterparts).

I vote no on the `--sparkRunner` -> `--runner` rename, as I think our users are mostly unfamiliar with Spark, and it's good to be clear about what is a Spark argument and what is a tool argument.

[2015-12-11 22:46] droazen commented on #1329
Walkers should not need an explicit runner argument at all -- the syntax for running walkers needs to be consistent with GATK3 conventions.

Is there no benefit to exposing the ability to run Spark tools using the in-memory runner via `--sparkRunner LOCAL`? I think it's good to allow this, as long as there's also a way to run `spark-submit` locally.

[2015-12-11 22:48] droazen commented on #1316
Moved to beta

[2015-12-11 22:49] droazen commented on #1315
Will have to figure this one out in beta

[2015-12-11 22:55] #1300 closed

[2015-12-11 23:28] #1339 closed

[2015-12-11 23:29] #1316 closed

[2015-12-11 23:32] laserson opened #1361 "Consider making the LOCAL runner (previously DIRECT) only run walker impls"
Opening this to continue discussion from #1315 for beta.

[2015-12-11 23:34] droazen commented on #1361
I think we want to be able to run Spark tools using the in-memory runner by default (the current behavior of `--sparkRunner LOCAL`), as it's faster than using `spark-submit` with `local[]`. Can you explain why you think we shouldn't be using the in-memory runner?

[2015-12-11 23:35] laserson commented on #1329
@lbergelson Yes, but don't you have to have Spark available somewhere locally in order to run Spark locally?

@droazen I personally don't see a benefit, if it will do the same thing as `spark-submit --master local`.  As an alternative, we could have it so that `--runner` defaults to `DIRECT` and the walker impl is always the default unless someone explicitly asks to use a Spark runner.  This would

[2015-12-11 23:39] laserson commented on #1361
Maybe I am seriously confused.  I would think that the "runner" argument should really correspond to an actual runner, that being walker, spark-submit, or gcs.   Couldn't you make `--sparkRunner SPARK --sparkMaster local[*]` the default if that's what you want?

I guess I don't understand what the purpose of having `LOCAL` run via Spark in a non-standard way, when you should be able to accomplish

[2015-12-11 23:41] droazen commented on #1361
@laserson The walker and Spark implementations of a given tool are completely separate things. Eg., we have both `PrintReads` and `PrintReadsSpark`. This is why we don't need a "runner" argument to select the walker implementation -- it's selected via the tool name. The concept of "runner" is (currently) only meaningful for Spark tools.

The in-memory runner has a few advantages over `spark-submit

[2015-12-11 23:41] laserson commented on #1357
I'm +1 on @droazen if the default doesn't actually let you run Spark.  I would think that could lead to some confusion otherwise.

[2015-12-12 00:06] droazen commented on #1315
This is a serious issue. Here's another error I've seen when running with `--sparkRunner SPARK` and `--sparkMaster local[*]`:

    ./gatk-launch PrintReadsSpark -I src/test/resources/org/broadinstitute/hellbender/tools/flag_stat.bam -O foo.bam -- --sparkRunner SPARK --sparkMaster local[*]

    org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 1.0 failed 1 times, mo

[2015-12-12 01:36] droazen opened #1362 "Publish alpha to sonatype or maven central"
Now that alpha is tagged, let's be sure to publish it to sonatype or maven central. We might need to use sonatype since we didn't have time to rename our packages from hellbender to gatk -- thoughts?

[2015-12-14 18:10] ldgauthier opened #1364 "gradlew install script failed ungracefully with "disk quota exceeded""
I cloned GATK4 into /humgen/gsa-scr1/gauthier/workspaces/gatk/ (from gsa5), then tried `./gatk-launch --list`, which didn't work because I hadn't built yet.  gatk-launch told me to run `/humgen/gsa-scr1/gauthier/workspaces/gatk/gradlew installDist`, which I did and it threw the following error (sorry for the huge stacktrace, but I didn't want to leave out anything important):

[...]
Download https

[2015-12-14 18:11] ldgauthier commented on #1364
@droazen

[2015-12-14 18:12] droazen commented on #1364
@lbergelson Could you have a look at this? @ldgauthier is it possible that your disk quota was actually exceeded? :)

[2015-12-14 18:15] ldgauthier commented on #1364
Definitely possible, but you asked me to report it.  :P

[2015-12-14 18:54] droazen commented on #1364
@lbergelson says that this error indicates that your home directory (~) is full

[2015-12-14 19:11] lbergelson commented on #1364
@ldgauthier gradle caches things in ~/.gradle by default.  This is tiny on our systems so it's likely you're exceeding your quota.

set GRADLE_USER_HOME in your bashrc to somewhere with sufficient space
[code]

[2015-12-14 19:38] #1184 closed

[2015-12-14 19:56] droazen commented on #1364
Resolved by https://github.com/broadinstitute/gatk/pull/1367, which adds mention of `GRADLE_USER_HOME` to the README for those with tiny home directory quotas -- closing.

[2015-12-14 19:56] #1364 closed

[2015-12-16 04:58] droazen commented on #995
@akiezun Could you do the 100GB-scale test described above before the holiday break (or delegate to someone else if you don't have time)?

[2015-12-16 19:55] lbergelson opened #1370 "Spark logging doesn't respect verbosity argument"
Spark logging should be controlled by our verbosity argument.  Currently it doesn't seem to be.

[2015-12-16 19:56] lbergelson commented on #1315
@laserson Do you have any idea what's going on with spark submit and local[*] causing these crashes?

[2015-12-16 19:58] lbergelson commented on #1266
Fixed by #1344

[2015-12-16 20:36] lbergelson opened #1372 "port GatherBQSRReports"
port `GatherBQSRReports` from GATK3.

[2015-12-16 21:11] cmnbroad commented on #1326
Another option is to invert the dependency by changing htsjdk.samtools.cram.ref.ReferenceSource to be an interface (which I've been lobbying the htsjdk CRAM developer to do independent of this issue) and change Hadoop-BAM to instantiate an implementation of that interface. I made the changes to all three layers locally to do this for non-HDFS references and the changes are pretty small. The interf

[2015-12-16 22:30] cmnbroad commented on #1326
Its also worth pointing out that even though the ReferenceSource interface would probably be fairly narrow, the HDFS implementation would have to know how to find and process the corresponding index and dictionary, etc.

[2015-12-17 15:58] lbergelson commented on #1308
closed by #1322

[2015-12-17 15:58] #1308 closed

[2015-12-17 21:28] akiezun opened #1374 "Add --maxNOCALL* arguments to SelectVariants to select sites based on how many no-calls we have"
[Original forum post](http://gatkforums.broadinstitute.org/discussion/comment/26256)

Setting aside the details of what this user wants to do, it would be useful to be able to rapidly select sites based on what number or proportion of samples were assigned a no-call genotype. I envision having one --maxNOCALLnumber argument and one --maxNOCALLfraction argument.

[2015-12-17 21:29] akiezun commented on #1374
as per agreement with @vdauwera, vetted user requests get high prio. Marking accordingly

[2015-12-17 21:31] akiezun commented on #1372
high-prio because it's really an oversight for alpha

[2015-12-17 21:42] vdauwera commented on #1372
You mean this?

https://github.com/broadinstitute/gsa-unstable/blob/master/protected/gatk-tools-protected/src/main/java/org/broadinstitute/gatk/tools/GatherBqsrReports.java

[2015-12-17 21:46] vdauwera commented on #1372
(funny thing, I thought I was in gsa-unstable and you wanted to port this from GATK4 to GATK3 ... clearly I need some caffeine because in what universe does that make sense?)

[2015-12-18 04:30] akiezun commented on #1117
I'm not planning to actively do anything here.  removing this direct dependency does make the jar file smaller, but only by 71301771-70815509 = 486262 bytes (0.68% smaller)

[2015-12-18 04:30] #1117 closed

[2015-12-18 04:33] akiezun commented on #1087
@cmnbroad for you - since you're collecting all things cram

[2015-12-18 04:41] akiezun commented on #1265
@lbergelson i think you're on it, right?

[2015-12-18 10:25] tomwhite commented on #1326
@cmnbroad +1 that sounds like a good solution to me.

BTW the maintainer of hadoop-jsr203 said he's trying to do a release soon: https://github.com/damiencarol/jsr203-hadoop/pull/13

[2015-12-18 14:18] akiezun commented on #21
reopen, it's a renewed request

[2015-12-18 14:26] akiezun commented on #210
this is fixed in #1084 by @cmnbroad

[2015-12-18 14:26] #210 closed

[2015-12-18 14:28] akiezun commented on #241
@droazen given htsjdk gatekeeping changes, should we now move this to that repo? assigning to you to decide

[2015-12-18 14:30] akiezun commented on #247
now that @droazen is a htsjdk gatekeeper, chances are greater for making this happen. Assigning to @droazen to decide what to do

[2015-12-18 14:31] akiezun commented on #268
closing. @vdauwera please reopen if you have a test case

[2015-12-18 14:31] #268 closed

[2015-12-18 14:36] akiezun opened #1376 "Experiment with Spree for Spark profiling"
http://www.hammerlab.org/2015/07/25/spree-58-a-live-updating-web-ui-for-spark/

the task is to set this up and, if it's useful, update the readme on how to set it up and use

@laserson do you have experience with Spree?

[2015-12-18 14:38] akiezun opened #1377 "Experiment with Graphite and Grafana for profiling Spark tools"
http://www.hammerlab.org/2015/02/27/monitoring-spark-with-graphite-and-grafana/

the task here to set this up and, if it's useful, update the readme on how to set it up and use

@laserson do you have experience with Graphite and Grafana

[2015-12-18 14:38] akiezun commented on #284
closing this in favor of #https://github.com/broadinstitute/gatk/issues/1377 and https://github.com/broadinstitute/gatk/issues/1376

[2015-12-18 14:38] #284 closed

[2015-12-18 14:47] akiezun commented on #348
something got merged in https://github.com/broadinstitute/gsa-unstable/pull/930/

@akiezun to investigate what, if anything, needs to be ported

[2015-12-18 14:48] akiezun commented on #366
i'm closoing this. the code is not ported. we'll profile it then

[2015-12-18 14:48] #366 closed

[2015-12-18 15:31] lbergelson commented on #1376
I set this up a few months ago on my own computer.  It wasn't very hard to do, the only problems I had were some bizarre ruby dependency issues that luckily had been solved by someone on the internet already.

The live updating UI was nice, it saves a lot of clicking.  It isn't a complete recreation of the spark dashboard though, some things are missing/slightly different.

The dashboard is hooked

[2015-12-18 15:39] akiezun commented on #491
closing this dataflow ticket. spark ticket is #1012

[2015-12-18 15:39] #491 closed

[2015-12-18 15:41] akiezun commented on #592
@lbergelson can you open a ticket in htsjdk (in addition or as a replacement of ) this one?

[2015-12-18 15:42] akiezun commented on #634
@vruano is this done by #1264?

[2015-12-18 15:47] akiezun commented on #705
closing this in favor of #1210

[2015-12-18 15:47] #705 closed

[2015-12-18 15:49] akiezun commented on #1326
@tomwhite is this ticket related [Get Hadoop reference loading code into htsjdk](https://github.com/broadinstitute/gatk/issues/831) ?

[2015-12-18 15:55] akiezun commented on #1208
this is done

[2015-12-18 15:55] #1208 closed

[2015-12-18 16:03] akiezun commented on #1209
the SplitNCigarReadsIntegrationTest are just bogus. The fix is to port the actual integration tests for SplitNCigarReads

[2015-12-18 16:55] vruano commented on #634
Yes it does, will close it once the other is merged.

[2015-12-18 16:58] akiezun commented on #1081
@vruano can you advise here? is an important testcase missing? The code looks exactly the same in gatk3

[2015-12-18 17:24] lbergelson commented on #781
This is done in htsjdk and will function in hellbender for walkers once we update to a new htsjdk release.

[2015-12-18 18:11] #1265 closed

[2015-12-18 18:55] #918 closed

[2015-12-18 18:59] lbergelson commented on #1330
Shouldn't this be convert to argparse?  I think optparse is deprecated.

[2015-12-18 20:36] akiezun opened #1381 "ApplyBQSRSparkFn creates a new transformer for every read"
BQSRReadTransformers are heavy objects that are intended to be reused for many reads. ApplyBQSRSparkFn creates a new transformer for every read - probably with bad consequences for speed.  And it's going to be worse when we remove static caching as part of #914

[2015-12-18 20:49] vdauwera opened #1382 "SelectVariants should work correctly with non-diploids"
_From @ronlevine on August 6, 2015 16:34_

SelectVariants only supports diploid genomes due to the method in ```GATKVariantContextUtils.getDiploidLikelihoodIndexes()``` :
```GenotypeLikelihoods.GenotypeLikelihoodsAllelePair GenotypeLikelihoods.getAllelePair(nt PLindex)```

Creating a method such as ```ArrayList<Integer> getAlleles(int PLindex)``` and processing the return values should work for ge

[2015-12-18 21:16] akiezun commented on #1123
@laserson do you know how to not create that adam.log file?

[2015-12-18 21:21] akiezun commented on #1382
@vdauwera  or @ronlevine can you provide an example input and desired output?

[2015-12-18 21:30] vdauwera opened #1384 "PrintReads will silently fail to run BQSR if it is compiled as a public only GATK instance"
_From @lbergelson on July 20, 2015 18:22_

`PrintReads` allows `--BQSR` to be specified even if it is compiled with out BQSR available.  This means that a public only compilation of gatk will look like it can perform BQSR, but silently fails to do so.  A check should be added so that `PrintReads` will throw a `UserException` if BQSR is requested but not available.

- [ ] When implemented (if not a

[2015-12-18 21:55] vdauwera opened #1385 "Create new tool to merge MNPs"
_From @vdauwera on March 30, 2015 13:40_

Create a new walker that reads in phasing information from HC and produces merged MNPs where appropriate.

_Copied from original issue: broadinstitute/gsa-unstable#908_

[2015-12-18 21:55] vdauwera commented on #1385
Note that ReadBaskedPhasing doesn't handle indels, only SNPs. If possible it would be good for the new tool to handle indels -- but this is a nice-to-have, not a must-have.

[2015-12-18 21:56] vdauwera commented on #1385
This would allow us to deprecate ReadBackedPhasing entirely.

[2015-12-18 21:56] ronlevine commented on #1382
SelectVariants is diploid because of `GenotypeLikelihoods.GenotypeLikelihoodsAllelePair GenotypeLikelihoods.getAllelePair()`. It uses a diploid array of length 3 for the following genotypes (0/0, 0/1,1/1)
For the anyploid case, this method will not work properly. It should be replaced by:
`ArrayList<int> alleles = getAlleles(int PLindex)`
For the triploid case,
`alllele.size() == 3`

[2015-12-18 22:45] lbergelson commented on #1384
@vdauwera This isn't relevant to gatk4.

[2015-12-18 22:47] vdauwera commented on #1384
Ah ok, thanks.

[2015-12-18 22:47] #1384 closed

[2015-12-18 22:52] #1381 closed

[2015-12-19 18:48] vruano commented on #1081
git-blame says that this is quite old code by MdP 2013... and is difficult to recover the history since is before the maven refactoring. Here I would just apply amnesty and remove one of the tests; let's the lack of coverage do the talking.

Of the two test method names ```testStartInMiddleWithBubble``` seems the most plausible one given the code but I'm not 100% sure about that.

[2015-12-20 14:40] cmnbroad commented on #1326
I tried using jsr-203 with Hadoop-BAM to create a cram reference source from HDFS, and it seems to work well (with the 2.0.1 version of htsjdk), so that does seem like the way to go. Its dependent on getting a release of jsr-203, and Hadoop-BAM needs to move to htsjdk 2.0.1+ and Java8. Then we can add the code to Hadoop-BAM to create the reference from a Path object from the hdfs URI.

[2015-12-20 21:30] dnaase opened #1386 "bug in BaseRecalibratorSpark"
Here is my command:
spark-submit --driver-memory 8G --master local[1] --conf spark.kryoserializer.buffer.max=512m --conf spark.driver.maxResultSize=0 --conf spark.driver.userClassPathFirst=true --conf spark.executor.userClassPathFirst=true --conf spark.io.compression.codec=lzf --conf spark.yarn.executor.memoryOverhead=600 gatk-4.alpha/build/libs/gatk-all-version-unknown-SNAPSHOT-spark.jar BaseReca

[2015-12-20 21:37] lbergelson commented on #1386
Hello,  we've seen similar problems using spark submit with the local master. Could you try running using gatk-launch with --sparkRunner DIRECT

Or alternatively running the jar directly without using spark submit.

[2015-12-20 21:39] lbergelson commented on #1386
I believe this is the same issue as #1315. We need to either fix this or have gatk-launch detect and disallow local.

[2015-12-20 21:49] dnaase commented on #1386
Value: DIRECT is not a valid value for --sparkRunner.  Choose one of LOCAL, SPARK, GCS

in the released gatk-launch, there is no DIRECT option for --sparkRunner

[2015-12-20 21:52] dnaase commented on #1386
Ah, i see. DIRECT is the old version of LOCAL. But when i run in LOCAL, it is just run local walker, not the spark mode at all... I just want to test some sparkWalker...

[2015-12-20 21:56] lbergelson commented on #1386
Ah, I forgot we renamed it. If the tool is a spark tool running with LOCAL should run it using spark. It uses the included spark instead of the system spark.

[2015-12-20 22:43] dnaase commented on #1386
I found this online., this might be the reason why use include spark is different from system spark in this case.

In spark, when i try to cast the  variable to the same 'class' (with exact the same class name, in this case, you could try to cast any "Variant" to "Variant" in BroadcastJoinReadsWithVariants ), it always throw out the class exception error. It is because that "The equality of two cl

[2015-12-21 14:09] LeeTL1220 opened #1387 "Promote ``ParamUtils.writeStringListToFile(...)`` to ``gatk`` repo from ``gatk-protected``"
This method simply writes a list of strings (one per line) to a text file.  Does such a thing already exist in gatk?  If not, we can move ``ParamUtils.writeStringListToFile(...)`` to ``Utils.writeStringListToFile(...)`` (or similar).

[2015-12-21 14:36] akiezun opened #1388 "migrate dev wiki from gsa-unstable"
selected articles from https://github.com/broadinstitute/gsa-unstable/wiki are relevant to gatk4 and should be migrated

the task here is to review the wikis and select the relevant ones and migrate them here. I'm not sure if wiki is the right format though because it's not version controlled as files

[2015-12-21 15:45] vdauwera commented on #1388
Actually the github wikis are git repos themselves and the pages are stored as md files; you can clone them and do all the things you'd normally do with git, if that's how you choose to interact with them.

[2015-12-21 16:39] akiezun opened #1389 "regression: can't run spark examples"
(this may be related to recent upgrade of our cluster?)

running the simples example blows up:
[code]

blows up with
[code]

[2015-12-21 16:39] vruano commented on #1081
@akiezun agreed?

[2015-12-21 16:40] akiezun commented on #1389
@tomwhite @laserson can you weigh in on this? Can you reproduce?

[2015-12-21 16:40] akiezun commented on #1081
yes, will do

[2015-12-21 16:54] akiezun commented on #1389
is it related to this code in SparkContextFactory?
[code]

[2015-12-21 18:17] akiezun opened #1391 "protect against regressions involving hdfs"
we need tests that will protect us from regressions like #1390 - we must test on hdfs, on travis or elsewhere

[2015-12-21 18:21] akiezun opened #1392 "create a "smoke test" for cluster upgrades"
we need a canonical set of tests that we run when we upgrade the cluster. We've been running terasort but it's not enough: 1) it does not run our code and 2) it does not even run java8 (recent config error when 2 nodes were running java7 was undetected).

The task here is to write, in readme or in scripts directory, a script or set of scripts that must be run after every change to the cluster.

[2015-12-22 15:28] lbergelson commented on #1387
This sounds like a very specific function, and I don't see it in ParamUtils...

`org.apache.commons.io.FileUtils.write(strings.join('\n'))` accomplish the same thing?

If you want to move it into hellbender, `IOUtils` is probably the right place for it.

[2015-12-22 15:41] lbergelson commented on #1266
Reopened because we reverted #1344 in #1390

[2015-12-22 16:20] vdauwera opened #1394 "Ensure SplitNCigarReads produces valid bam files"
Spin out of #1378

The GATK3 implementation of this tool generates invalid bam files (because the mate pair info gets all screwed up). If possible to fix that within the tool itself that would be fabulous. Otherwise @yfarjoun has a Palantir ticket to look into a post-hoc fix with FixMateInformation. But it would be nicer to generate valid bams in the first place.

[2015-12-22 17:15] damiencarol commented on #1326
I released a snapshot. A signed artifact will follow (1.0.0). Feel free to send me feedbacks BEFORE.
https://oss.sonatype.org/content/repositories/snapshots/com/github/jsr203hadoop/jsr203hadoop/0.0.1-SNAPSHOT/

[2015-12-22 17:21] lbergelson commented on #1326
@damiencarol Thanks for the release!

I don't know if we'll be able to give you feedback about this until after the holidays.  I believe @tomwhite is on vacation and he's the one most involved with hadoop-bam.

[2015-12-23 08:26] damiencarol commented on #1326
no pb. But for me vacation means more time to finish the maven artifact release :D

[2015-12-23 15:58] #1374 closed

[2015-12-23 17:10] akiezun commented on #1391
@tomwhite can you recommend an approach to this?

[2015-12-23 17:10] akiezun commented on #1389
this is fixed by #1390

[2015-12-23 17:10] #1389 closed

[2015-12-23 17:16] akiezun opened #1396 "test that extensions of Main work"
the Main class is nominally extensible and our doc claims " If you want your own single command line program, extend this class and give instanceMain a new list of java packages in which to search for classes that extend CommandLineProgram."

we need a test + example of this (test can serve as and example tool)

[2015-12-23 17:20] akiezun opened #1397 "document how to add tools in extensions of GATK4"
scenario: someone wants to use gatk4 as a framework and add new tools. They need show on the list of tools etc. They package names are the user's, ie not org.broadinstitute.hellbender*. The way to do this is to extend Main but we have no example and not documentation of this (other that in the Main class, which is not the right place - I think it should be in README or some such).

[2015-12-23 17:40] lbergelson commented on #1394
@vdauwera Is the fix to remove the mate information?  Or is there a way we can maintain it after the split?  I.e. should split reads be made into supplemental alignments?

[2015-12-23 18:04] lbergelson commented on #1396
We might want to add a separate mechanism for this as well that doesn't involve extending `Main`, since using a different main class makes packaging slightly awkward.  We could add an editable config file that `Main`reads from to find the list of packages to search.

[2015-12-23 18:11] vdauwera commented on #1394
I'm not sure -- this should be reviewed by methods to decide what is the
right thing to do.
On Wed, Dec 23, 2015 at 12:40 PM Louis Bergelson <notifications@github.com>
wrote:

[2015-12-23 18:12] vdauwera commented on #1397
I recommend putting that in the GitHub wiki.
On Wed, Dec 23, 2015 at 12:20 PM Adam Kiezun <notifications@github.com>
wrote:

[2015-12-23 19:32] #21 closed

[2015-12-23 21:02] akiezun commented on #1085
this is a must fix - production uses multiple files

[2015-12-24 12:30] damiencarol commented on #1326
Maven artifact for version 1.0.0 is deployed in a public repo:
https://github.com/damiencarol/jsr203-hadoop/issues/15

[2015-12-29 18:04] ronlevine commented on #1382
In a nutshell, `GenotypeLikelihoodsAllelePair GenotypeLikelihoods..getAllelePair(final int PLindex)` returns the cached alleles corresponding to the PLindex. This cache is diploid because the method that initializes it,  `GenotypeLikelihoodsAllelePair[] GenotypeLikelihoods.calculatePLcache(final int altAlleles)`,  uses a diploid number of likelihoods ( `numLikelihoods(1 + altAlleles, 2)`) and adds

[2016-01-04 15:55] akiezun opened #1398 "write CompareBaseQualities without a shuffle"
CompareBaseQualities requires a shuffle because it does not assume identical read sorting. It will be unusably slow for large files - and unnecessarily so because we aim to have the read order exactly the same.

It may be simplest to implement as a walker like CompareSamFiles

[2016-01-04 16:34] tomwhite commented on #1391
@akiezun you can use a `MiniDFSCluster` to run an HDFS cluster in the local JVM. See MetricsUtilsTest and BucketUtilsTest for how to do this.

[2016-01-04 18:22] akiezun commented on #630
no action planned at this point. will reopen if needed

[2016-01-04 18:22] #630 closed

[2016-01-05 17:22] droazen commented on #959
Reassigning this one to alpha-1

[2016-01-05 17:25] droazen commented on #959
@tomwhite suggested looking into the possibility of using `java.nio.file.Path` + plugins for Hadoop and Google buckets to satisfy this ticket.

[2016-01-05 17:26] droazen commented on #18
alpha-1

[2016-01-05 17:27] droazen commented on #103
alpha-1

[2016-01-05 17:27] droazen commented on #18
This ticket does not include the design and implementation of the active region traversal replacement, which is https://github.com/broadinstitute/gatk/issues/103

[2016-01-05 17:30] droazen commented on #103
Nominally assigned to me, but I'd like to work collaboratively with @lbergelson on this one, in consultation with HaplotypeCaller experts like @ldgauthier, as the design issues here definitely call for multiple points of view and careful requirements gathering.

[2016-01-05 17:37] droazen opened #1399 "Hadoop-BAM: add support for efficiently loading a subset of a BAM"
Relevant Hadoop-BAM ticket is https://github.com/HadoopGenomics/Hadoop-BAM/issues/34

We want to be able to provide Hadoop-BAM with a set of genomic intervals in `ReadsSparkSource`, and get back an `RDD` of just the reads overlapping those intervals. There should also be a way to request unmapped reads.

[2016-01-05 17:38] droazen commented on #1399
For alpha-1

[2016-01-05 17:39] droazen commented on #1295
Replaced by https://github.com/broadinstitute/gatk/issues/1399 -- closing

[2016-01-05 17:39] #1295 closed

[2016-01-05 17:41] droazen commented on #1157
For alpha-1

[2016-01-05 17:46] droazen opened #1400 "Spin up a public jenkins server for long-running validation tests (and other tests that can't or shouldn't run in travis), or switch from travis to a more flexible CI provider"
We want something like a hosted jenkins server to run parts of the test suite that can't or shouldn't be run in travis. This includes:

-Long-running validation tests, like those designed by @davidadamsphd for the `ReadsPipelineSpark`
-Tests involving reading data from HDFS.

[2016-01-05 17:46] droazen commented on #1400
For alpha-1.

[2016-01-05 17:48] droazen opened #1401 "Run validation tests continuously in jenkins: ReadsPipelineSpark, BQSR etc"
The new validation tests for `ReadsPipelineSpark` should be easily runnable in either a push-button fashion or on a set automatic schedule (nightly or weekly) via a jenkins server.

Depends on https://github.com/broadinstitute/gatk/issues/1400

[2016-01-05 18:00] droazen commented on #958
@tomwhite suggested looking into the possibility of using java.nio.file.Path + plugins for Hadoop and Google buckets to satisfy this ticket.

[2016-01-05 18:07] droazen opened #1402 "Run spark tests on HDFS via jenkins"
We've recently had some bugs that would have been caught if we had tests that ran on HDFS. Since these probably can't run in travis, let's run them via the public jenkins server we're going to set up for non-travis testing (https://github.com/broadinstitute/gatk/issues/1400).

[2016-01-05 18:09] droazen commented on #1400
Alternatively, we could switch from travis to another CI provider that allows us to do the things we can't currently do in travis.

[2016-01-05 18:17] droazen commented on #1266
For alpha-1. Assigning to @tomwhite

[2016-01-05 18:21] droazen commented on #1326
For alpha-1

[2016-01-05 18:23] droazen commented on #1324
For alpha-1.

[2016-01-05 18:23] droazen commented on #1257
alpha-1

[2016-01-05 18:25] droazen commented on #1210
Let's try to make progress on this one for alpha-1, though we may not be able to resolve it completely within that time frame.

[2016-01-05 18:28] droazen commented on #1315
For alpha-1

[2016-01-05 18:34] droazen commented on #1246
Since this was specifically requested by @vruano, we should attempt it for alpha-1.

[2016-01-05 18:35] droazen commented on #1188
Let's do this one soon!

[2016-01-05 18:39] droazen commented on #1056
@akiezun For alpha-1 we should either do this or decide that it's not worth doing and close the ticket.

[2016-01-05 18:39] droazen commented on #1085
For alpha-1

[2016-01-05 18:44] droazen opened #1403 "Tune the split size and number of reducers for spark tools (sensible defaults + ability to override)"
From @tomwhite:

What we can do though is take another look at why we need such a small split size and see if we can increase it (by better tuning etc). Even if we can't we know that some for some classes of jobs (e.g. metrics) we can use the default split size without an issue, so we could add logic to choose an appropriate split size based on the type of job.

Thinking about this a bit more, we'

[2016-01-05 18:47] droazen commented on #1403
For alpha-1 and @tomwhite

[2016-01-05 18:47] droazen commented on #1248
Closing in favor of https://github.com/broadinstitute/gatk/issues/1403

[2016-01-05 18:47] #1248 closed

[2016-01-05 18:48] droazen commented on #1403
Ideally this should be implemented in a shared way across tools for consistency (eg., in a base class if possible).

[2016-01-05 18:52] droazen commented on #1166
Closing in favor of https://github.com/broadinstitute/gatk/issues/1403

[2016-01-05 18:52] #1166 closed

[2016-01-05 18:57] droazen commented on #1362
Closing -- dupe of https://github.com/broadinstitute/gatk/issues/1188

[2016-01-05 18:58] #1362 closed

[2016-01-05 19:00] droazen commented on #102
We are probably not going to do this one -- closing

[2016-01-05 19:00] #102 closed

[2016-01-05 19:02] droazen commented on #100
Closing -- this was addressed via `SimpleInterval`

[2016-01-05 19:02] #100 closed

[2016-01-05 19:04] droazen commented on #55
Are we actually going to create a `hellbender-private`? (please say no....) What is the future of this ticket?

[2016-01-05 19:04] lbergelson opened #1404 "remove git-lfs workaround when once git lfs pull bug is fixed"
We encountered an error with git-lfs in #1378.  This was worked around by simply pulling twice in `scripts/install_git_lfs.sh`, but it shouldn't have to do that.

Remove this extra pull once a better solution is found in https://github.com/github/git-lfs/issues/904

[2016-01-05 19:14] droazen commented on #236
Mostly fixed -- replaced by the narrower issue https://github.com/broadinstitute/gatk/issues/1187. Closing!

[2016-01-05 19:14] #236 closed

[2016-01-05 19:21] droazen commented on #286
Closing in favor of https://github.com/broadinstitute/gatk/issues/166

[2016-01-05 19:21] #286 closed

[2016-01-05 19:23] lbergelson commented on #55
Is there any reason these couldn't be generalized so they aren't hardcoded with our server address or whatever it is that keeps them private?  I don't see why we couldn't put them in public.

[2016-01-05 19:28] droazen commented on #190
This will probably be satisfied by the merge of https://github.com/broadinstitute/gatk/pull/619, so re-assigning to alpha-1 as a low-cost ticket.

[2016-01-05 19:33] droazen commented on #241
Moved to htsjdk as https://github.com/samtools/htsjdk/issues/423 -- closing

[2016-01-05 19:33] #241 closed

[2016-01-05 19:36] droazen commented on #247
Moved to htsjdk as https://github.com/samtools/htsjdk/issues/424. Closing

[2016-01-05 19:36] #247 closed

[2016-01-05 19:43] #1209 closed

[2016-01-05 19:44] droazen commented on #103
Need to take into account issues like this: https://github.com/broadinstitute/gatk/issues/267

[2016-01-05 19:57] droazen commented on #300
Not sure we actually want to do this one -- unassigning, but will keep open for debate.

[2016-01-05 19:59] droazen commented on #317
I vote against supporting zero-length intervals and closing this issue, unless there is a very compelling use case. Objections?

[2016-01-05 20:01] droazen commented on #320
There are no plans to implement Queue-style scatter-gather annotations in hellbender currently -- closing.

[2016-01-05 20:01] #320 closed

[2016-01-05 20:02] vdauwera commented on #317
Can we clarify what it means to not support zero-length intervals? I.e. if we encounter them, what happens? Do we throw an error, or silently ignore them, or something else?

[2016-01-05 20:22] vruano opened #1405 "SimpleInterval#getSpanningOverlap NPE"
This public method will fail with an NPE if the input list is null or if contains any null.
It should throw a IAE instead.

[2016-01-05 20:24] #914 closed

[2016-01-05 20:27] droazen commented on #317
@vdauwera We currently throw an exception if we encounter a zero-length interval.

[2016-01-05 20:28] droazen commented on #335
Closing, since there are no plans to implement `LocusWalker`

[2016-01-05 20:28] #335 closed

[2016-01-05 20:29] droazen commented on #365
Let's do this one for alpha-1

[2016-01-05 20:36] droazen commented on #348
@akiezun This read filter (`ReadFilterLibrary.CIGAR_AGREES_WITH_ALIGNEMENT`) no longer exists in `ReadFilterLibrary`. What should be done for this ticket?

[2016-01-05 20:41] droazen commented on #375
This one is done! Closing

[2016-01-05 20:41] #375 closed

[2016-01-05 20:44] droazen commented on #430
We should at least document this behavior better.

[2016-01-05 20:47] droazen commented on #465
Closing in favor of https://github.com/broadinstitute/gatk/issues/465

[2016-01-05 20:47] #465 closed

[2016-01-05 20:49] droazen commented on #640
This one is done! Closing

[2016-01-05 20:49] #640 closed

[2016-01-05 20:50] droazen commented on #634
This one is done too! Closing

[2016-01-05 20:50] #634 closed

[2016-01-05 20:53] droazen commented on #477
Closing -- dupe of https://github.com/broadinstitute/gatk/issues/958

[2016-01-05 20:53] #477 closed

[2016-01-05 20:54] droazen commented on #525
@lbergelson This one is done, isn't it?

[2016-01-05 20:56] lbergelson commented on #525
We never baked the test files into the jar, but it doesn't seem very important or necessarily a good idea.  I'd call it closed.

[2016-01-05 20:57] droazen commented on #559
This is done -- `IntervalsSkipList` satisfies this ticket. Closing

[2016-01-05 20:57] #559 closed

[2016-01-05 21:00] droazen commented on #525
Closing!

[2016-01-05 21:00] #525 closed

[2016-01-05 21:03] droazen commented on #575
This is important -- nothing is more infuriating than generic/cryptic error messages. Let's do it for alpha-1.

[2016-01-05 21:05] droazen opened #1406 "Upgrade spark dependency to 1.5"

[2016-01-05 21:06] droazen commented on #1406
Enables https://github.com/broadinstitute/gatk/issues/575

[2016-01-05 21:06] droazen commented on #575
Depends on https://github.com/broadinstitute/gatk/issues/1406

[2016-01-05 21:07] droazen commented on #589
This is a pretty important engine feature we're missing -- let's attempt for alpha-1.

[2016-01-05 21:15] droazen commented on #670
Closing this in favor of https://github.com/broadinstitute/gatk/issues/1151, since that is the only case that actually needs this feature.

[2016-01-05 21:15] #670 closed

[2016-01-05 21:16] droazen commented on #1151
Solution is to add the ability to `FeatureDataSource` to cache Features around the current locus, not merely past the current locus.

[2016-01-05 21:18] droazen commented on #690
This is solved, since we now have the ability to disable sequence dictionary validation at the engine level!

[2016-01-05 21:18] #690 closed

[2016-01-05 21:20] droazen commented on #762
This one is done! Closing

[2016-01-05 21:20] #762 closed

[2016-01-05 21:21] droazen commented on #781
Closing, since this was addressed at the htsjdk level.

[2016-01-05 21:21] #781 closed

[2016-01-05 21:22] droazen commented on #807
@lbergelson This one is done, right?

[2016-01-05 21:25] droazen commented on #829
Ticket is no longer valid, since `ReadsPreprocessingPipelineIntegrationTest` no longer exists.

[2016-01-05 21:25] #829 closed

[2016-01-05 21:25] akiezun commented on #733
required for #18

[2016-01-05 21:25] akiezun commented on #732
required for #18

[2016-01-05 21:26] droazen commented on #831
This is done! Closing

[2016-01-05 21:26] #831 closed

[2016-01-05 21:29] droazen commented on #836
This was resolved in a different way in https://github.com/broadinstitute/gatk/pull/882. Closing!

[2016-01-05 21:29] #836 closed

[2016-01-05 21:29] droazen commented on #855
This is done! Closing.

[2016-01-05 21:29] #855 closed

[2016-01-05 21:31] droazen commented on #849
This is a dataflow ticket -- closing.

[2016-01-05 21:31] #849 closed

[2016-01-05 21:34] droazen commented on #875
This is done! Closing

[2016-01-05 21:34] #875 closed

[2016-01-05 21:36] lbergelson commented on #807
closed by #922

[2016-01-05 21:36] #807 closed

[2016-01-05 21:39] droazen commented on #560
This is a dataflow ticket -- closing.

[2016-01-05 21:39] #560 closed

[2016-01-05 21:41] vdauwera commented on #317
Maybe it would be good to have a flag that allows silent skipping so users
can proceed without having to modify their intervals file.
On Tue, Jan 5, 2016 at 3:27 PM droazen <notifications@github.com> wrote:

[2016-01-05 21:42] akiezun opened #1407 "use a compressed version of dbsnp files for BQSR"
using full (even sites-only) VCFs for BQSR is heavy, especially in spark, when we broadcast them. They can go > 10GB in size. Really, it's just a few million positions, so we could compress it hugely: say we have 4 million variants to consider (common sites) - that's just 4M*32bits = 16 MB.

This would require creating a special format for this (or finding an existing one that works for this case)

[2016-01-05 21:56] droazen opened #1408 "ReadsSparkSource: provide a way to request unmapped reads, and document when unmapped reads are and are not returned"
The situation in `ReadsSparkSource` with unmapped reads is very confused. It's not clear which (if any) methods return unmapped reads. It appears that queries by interval will return some unmapped reads (those that have the position of their mapped mates), but not others (those that are unmapped and not mated to a mapped read). We need to clarify this situation by providing a clear API for retriev

[2016-01-05 21:56] droazen commented on #926
These overloads no longer exist -- this ticket is replaced by https://github.com/broadinstitute/gatk/issues/1408

[2016-01-05 21:56] #926 closed

[2016-01-05 21:57] droazen commented on #1060
Replaced by https://github.com/broadinstitute/gatk/issues/1408. Closing

[2016-01-05 21:57] #1060 closed

[2016-01-05 22:06] droazen commented on #951
The javadoc for `AddContextDataToReadSpark` clearly mentions that unmapped reads are filtered out, so it hopefully shouldn't be too much of a surprise. But I agree that ideally this transform should function as an "outer join" and not filter unmapped reads.

[2016-01-05 22:15] lbergelson commented on #983
this was closed by #1083

[2016-01-05 22:15] #983 closed

[2016-01-05 22:28] droazen commented on #1107
This is done! Closing.

[2016-01-05 22:28] #1107 closed

[2016-01-05 22:30] droazen commented on #1116
@cmnbroad Is this one done?

[2016-01-05 22:43] droazen commented on #1118
Closing -- dupe of https://github.com/broadinstitute/gatk/issues/1192

[2016-01-05 22:43] #1118 closed

[2016-01-05 22:49] droazen commented on #1250
Closing as dupe of https://github.com/broadinstitute/gatk/issues/620

[2016-01-05 22:49] #1250 closed

[2016-01-05 22:51] droazen commented on #1252
This is done! Closing

[2016-01-05 22:51] #1252 closed

[2016-01-05 23:02] droazen commented on #1357
Closing, since the consensus seems to be against making this change.

[2016-01-05 23:02] #1357 closed

[2016-01-05 23:03] droazen commented on #1361
Closing, since walkers do not actually have a spark runner.

[2016-01-05 23:03] #1361 closed

[2016-01-05 23:06] droazen commented on #1382
@ronlevine, are you available to implement this in GATK4's SelectVariants?

[2016-01-05 23:09] droazen commented on #1391
Closing as dupe of https://github.com/broadinstitute/gatk/issues/1402

[2016-01-05 23:09] #1391 closed

[2016-01-05 23:09] droazen commented on #1402
From @tomwhite: "you can use a MiniDFSCluster to run an HDFS cluster in the local JVM. See MetricsUtilsTest and BucketUtilsTest for how to do this."

[2016-01-05 23:12] ronlevine commented on #1382
@akiezun This is mostly an HTSJDK issue, the GATK part is trivial. I can do it after I complete https://github.com/broadinstitute/gsa-unstable/issues/1128.

[2016-01-05 23:12] droazen commented on #1382
Great, thank you!

[2016-01-05 23:19] droazen opened #1409 "Use sharded BAM output by default on Spark, and write utilities and design APIs to make it as easy to work with as single BAMs"

[2016-01-06 00:34] vdauwera commented on #1382
@droazen What do we need to do to make issues here assignable directly to @ronlevine? Is this a github team / bits help kind of thing?

[2016-01-06 00:36] droazen commented on #1382
@vdauwera Yes, he needs to be added to the appropriate github team (one that gives him write access to the repo).

[2016-01-06 00:49] droazen commented on #1398
Required for production acceptance testing

[2016-01-06 00:58] vdauwera commented on #1382
OK, thought so but I'm sick and my brain isn't working. Request sent to help.

[2016-01-06 14:39] cmnbroad commented on #1270
There are several parts to this that all exist, but need to be committed in this order:

-Minor refactoring of CRAM container writing code in htsjdk to allow separation of the writing of CRAM containers from the writing of the CRAM file header, SAM file header, and EOF container for part-merging.
-Hadoop-BAM needs to go to Java8 and upgrade to newer htsjdk.
-Add CRAMOutputFormat, CRAMRecordWriter,

[2016-01-06 15:08] akiezun commented on #1082
@droazen what;s the future of using cloud apis for reference given that we're removing SHUFFLE and that was the only

[2016-01-06 15:08] akiezun commented on #1082
hmm, after we remove SHUFFLE there are no cloud tests for BQSR i think

[2016-01-06 15:35] droazen commented on #1082
@akiezun Then that is a bug in the PR that removes shuffle :)

[2016-01-06 16:21] droazen opened #1411 "Add ability to get queryname-sorted reads from Hadoop-BAM (for MarkDuplicates), and eliminate one shuffle from MarkDuplicatesSpark"
We want the ability to get queryname-sorted reads from Hadoop-BAM, so that we can eliminate one of the shuffles in `MarkDuplicatesSpark`. This will probably involve implementing a custom partitioner that ensures that reads always end up in the same partition as their mates.

[2016-01-06 16:21] droazen commented on #1411
For @tomwhite

[2016-01-06 16:27] droazen opened #1413 "Validate the walkers BaseRecalibrator/ApplyBQSR for production"

[2016-01-06 16:52] lbergelson commented on #1157
Need to figure out where this stands because I think @tomwhite was doing work to enable this.

[2016-01-06 17:13] droazen commented on #1198
We will implement this as a first step towards https://github.com/broadinstitute/gatk/issues/103

[2016-01-06 17:17] tomwhite commented on #1157
@lbergelson you should be able to use https://github.com/HadoopGenomics/Hadoop-BAM/commit/2c3aabbc1b995cf4335a6176c9f19b7a8e1132ce which has been merged in Hadoop-BAM. It hasn't been released yet, but Hadoop-BAM is publishing snapshots that you can use.

[2016-01-06 17:30] droazen opened #1414 "BaseRecalibrator reports different Counts and Observations compared to GATK3 results"
We'd had reports that BaseRecalibrator is sometimes off by exactly 1.0 compared to GATK3 results (never 0.9999 or 1.00001, so not sure this is a precision issue).

[2016-01-06 17:30] droazen commented on #1414
Relates to https://github.com/broadinstitute/gatk/issues/1413

[2016-01-06 17:31] droazen commented on #1413
Depends on https://github.com/broadinstitute/gatk/issues/1414

[2016-01-06 17:45] akiezun commented on #1414
i'm happy to look at this. do you have a testcase?

[2016-01-06 17:46] droazen commented on #1414
I believe @davidadamsphd has one. Reassigning to you!

[2016-01-06 17:56] akiezun commented on #1414
@davidadamsphd please send me a testcase

[2016-01-06 18:05] droazen commented on #1414
@lbergelson says he also has a way to reproduce this issue

[2016-01-06 18:07] akiezun commented on #995
I've done 1-7 of this ticket (ie make resources, run cluster version). I have copied the data to GSC too but not run the google version yet. Here's what I run

[code]

on 50 executors, 4 cores each, 10GB per executor - it took 23min:41seconds

[2016-01-06 18:35] lbergelson commented on #1414
On further investigation it looks like it's not always off by 1.  A lot of lines are exactly 1 off, but many are off by more.

The differences are in the `Count` column of `GATKTable:Quantized:Quality quantization map` and in the `Observations` columns of the other tables.  The rest of the columns appear unaffected.

[code]

[code]

gatk3 and gatk4 sort order is different so sorting before compari

[2016-01-06 18:41] lbergelson opened #1416 "make BaseRecalibrator table sorting the same as Gatk3"
Gatk4 bqsr recalibration tables sort the `EventType` in the order `MID` instead of `MDI` as gatk3 does.  This could likely be changed by reordering the enum.

gatk4 bqsr also sorts the ReadGroup column differently.  Gatk3 appears to be lexicographically sorted while gatk4 does not appear to be sorted in any meaningful way.

These two differences make diffing tables produced by gatk3 and gatk4 more

[2016-01-06 18:43] lbergelson commented on #1157
Thanks!

[2016-01-06 19:27] akiezun commented on #1416
do you have an example input? for me it sorted the same way.

[2016-01-06 20:26] akiezun opened #1417 "regression: can't run Spark tools on local files when using yarn"
I'm almost certain this used to work.

[code]

It's fine when running a LOCAL runner, or when the file is on HDFS.

When resolving the ticket, make sure to devise a way (or at least enter a ticket) to prevent this from happening again - ie some way to discover this kind of problem.

[2016-01-06 20:37] lbergelson commented on #1416
@akiezun using the same command lines from #1414

I get different sorting with / without --sort_by_all_columns
[code]
[code]

[2016-01-06 20:43] akiezun opened #1418 "remove sort_by_all_columns option from BaseRecalibrator etc"
sort_by_all_columns should always be true

[2016-01-06 20:43] akiezun commented on #1416
is that not expected to get different sorting depending on `sort_by_all_columns`?
BTW, running without sort_by_all_columns seems silly - let's fix it to `true` and remove the option: see https://github.com/broadinstitute/gatk/issues/1418

[2016-01-06 20:45] lbergelson commented on #1417
@akiezun Are you running this on your laptop or on one of the dataflow nodes?  I suspect it will work on your laptop but not on the dataflow nodes.

I believe this is the inverse problem of #1324

[2016-01-06 20:46] akiezun commented on #1417
this is on yarn on dataflow01

[2016-01-06 20:53] lbergelson commented on #1416
I meant that if I neither gatk3 with `sort_by_all_columns` nor gatk3 without `sort_by_all_columns` matches the sorting i see from gatk4.

[2016-01-06 20:56] lbergelson commented on #1416
Ack.  I didn't realize that gatk4 needed sort_by_all_columns as well...  I thought that was some bogus thing from gatk3 only.  Sorting matches once I enable it on both gatk3 and gatk4.

[2016-01-06 20:56] #1416 closed

[2016-01-06 21:02] lbergelson commented on #1417
This same issue is coming up in a number of different ways.  What's happening is that we ask for the `FileSystem` and then try to open a path using whatever it gives back.  The `FileSystem` it returns only knows how to open 1 type of file, either file:/// or hdfs:///.  We could specify a specific file system, but I'm afraid that there will be nasty consequences from that that I don't understand...

[2016-01-06 21:06] lbergelson commented on #1417
If you `git bisect` can you find a commit where this does work?

[2016-01-06 21:44] akiezun commented on #1414
here's a samfile with 1 read that produces an empty bqsr table on gatk4 but works fine on gatk3 (after converting to bam because gatk3 needs a bam, unlike gatk4 which does not care):
[code]

[2016-01-06 22:18] droazen commented on #1414
Is the read getting filtered out in GATK4?

[2016-01-06 22:29] akiezun commented on #1414
No

On Wednesday, January 6, 2016, droazen <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-01-07 02:19] akiezun commented on #1414
Investigation so far:
1) In the problem is not that the read is filtered out - both gatk3 and gatk4 examine the read
2) the read is unusual in that the insert size is shorter than the read and thus it gets hardclipped before BQSR (in gatk4 at least)

[2016-01-07 16:35] #1418 closed

[2016-01-07 18:27] droazen commented on #1324
Re-assigning this one to @tomwhite, who may have additional insight in this issue.

[2016-01-08 04:17] akiezun commented on #1401
It should include other tests too, eg BQSR

[2016-01-08 04:19] akiezun commented on #1414
closed by #1419

[2016-01-08 04:19] #1414 closed

[2016-01-08 04:35] #1398 closed

[2016-01-08 05:09] akiezun commented on #1196
putting this on hold until we add 1-shuffle MD

[2016-01-08 11:48] tomwhite commented on #1411
I've implemented the required change in Hadoop-BAM (https://github.com/HadoopGenomics/Hadoop-BAM/pull/49), but I'm not exactly sure what needs doing on the GATK side. @droazen, can you suggest a test I could write (and some suitable test data) to complete this? Thanks.

[2016-01-08 14:19] akiezun commented on #1187
more info: we can create a tabix index but when we read it back, if it has an extension ".tbi" the reader uses a BlockCompressedInputStream. That later blows up with "Unexpected compressed block length: 3"

if the extension is different, regular FileInputStream is used and works fine.

[2016-01-08 15:41] akiezun commented on #995
@droazen can you run it on GSC or maybe ask @jean-philippe-martin ? I put the bam file in the hellbender-validation/test-input/NA12878 bucket

[2016-01-08 15:45] akiezun commented on #733
blocked by #732

[2016-01-08 16:11] droazen commented on #1411
@tomwhite On the GATK side, I think the steps are:

1. Rev our Hadoop-BAM dependency once https://github.com/HadoopGenomics/Hadoop-BAM/pull/49 is in.

2. Take one of our existing test inputs and create a copy of it sorted by query name using the hellbender tool `SortSam`. I think a good file to use would be `src/test/resources/org/broadinstitute/hellbender/tools/BQSR/CEUTrio.HiSeq.WGS.b37.ch20.1m-

[2016-01-08 16:14] droazen commented on #995
Alright, I'll take this one.

[2016-01-08 16:31] akiezun commented on #1164
no, the problem is that the test spec does not include placeholders. This works:
[code]

[2016-01-08 20:47] akiezun commented on #736
reopen - this needs a test that writes a GVCF file

[2016-01-11 16:30] ronlevine commented on #1382
GenotypeLikelihoods.calculatePLindex will have to be generalized for anyploid. The equation for the index of the value corresponding to the genotype in VCF 4.3 spec, section, 1.6.2 (Genotype Fields) should be implemented, instead of the diploid implementation (F(j/k) = (k*(k+1)/2)+j).

[2016-01-11 18:19] sooheelee commented on #317
Here is a [Biostars post](https://www.biostars.org/p/84686/) of users discussing their preferences.

Ensembl uses 1-based coordinate system
UCSC uses 0-based coordinate system

[2016-01-11 18:24] vdauwera commented on #317
@sooheelee We do support both 1-based and 0-based systems; the question here is what do we do with intervals that have a length of zero, which can arise in 0-based systems.

[2016-01-11 18:58] sooheelee commented on #317
@vdauwera My newbie question is--What are the operations we can do on intervals? For example, a reference interval of given length, do we have an operation that returns all variant sequences (or sequence lengths) within that interval? In this case, we'd want to be able to return a variant that is an insertion in that interval (ignores all other variants including deletions spanning the coordinates

[2016-01-11 19:02] vdauwera commented on #317
@sooheelee Let's take this discussion offline to avoid introducing noise into this dev issue.

[2016-01-11 19:05] droazen commented on #1411
@laserson Adam mentioned that you might have insight into this ticket. Do you want to have a look at Tom's PR to Hadoop-BAM (https://github.com/HadoopGenomics/Hadoop-BAM/pull/49) and see if it looks sane? Do you have any thoughts on how `MarkDuplicatesSpark` could be modified once this change is in to take advantage of the queryname sorting and eliminate that first shuffle?

[2016-01-11 21:01] droazen opened #1426 "Add support for java.nio.file.Path to SamReaderFactory in htsjdk"
We want to add an overload of `SamReaderFactory.open()` in htsjdk that accepts a `java.nio.file.Path`, and uses `Files.newInputStream(path)` or similar to get an `InputStream` from it and return a SAM/BAM/CRAM reader. This should enable us to transparently load reads from any input source for which there is a Java NIO file system provider available. Such a provider is already implemented for HDFS

[2016-01-11 21:02] droazen commented on #1426
@davidadamsphd Have a look at this one and let me know whether you think it's doable as a 20% project. @tomwhite should be able to offer guidance on how to implement this, since he contributed the reference version of this in https://github.com/samtools/htsjdk/pull/308

[2016-01-11 21:08] #1187 closed

[2016-01-11 21:08] droazen opened #1427 "Move classes of general utility (new walker types, utilities for working with particular formats, etc.) from protected to public"
We want the public GATK framework to contain all the generic capabilities for loading and traversing data in various formats -- all new walker types, general-purpose utilities for working with different formats, etc. should ideally live in the framework rather than in protected. Moving these classes to public should also improve code quality by preventing general-purpose code from getting embedded

[2016-01-11 21:14] droazen commented on #1427
For @akiezun (in consultation with @LeeTL1220)

[2016-01-12 15:23] akiezun opened #1428 "port "Allow VariantsToTable to determine each allele's type when -SMA is used ""
https://github.com/broadinstitute/gsa-unstable/pull/1261

[2016-01-12 15:25] akiezun commented on #1056
let's push past alpha-1. I'd like to focus on non-disruptive speedups and on eval. @droazen ok?

[2016-01-12 17:04] tomwhite commented on #1411
Thank you for the detailed steps @droazen! I have implemented this following your suggestions. See #1429.

Interestingly, it passes even without my changes from https://github.com/HadoopGenomics/Hadoop-BAM/pull/49, but that's because the BAM isn't split in such a way so as to have a pair in different splits. Achieving this is actually rather tricky for real BAMs, but it's tested in Hadoop-BAM by c

[2016-01-12 17:19] droazen commented on #1056
@akiezun Yes, agreed -- moving the milestone for this one.

[2016-01-12 21:45] #1406 closed

[2016-01-13 11:05] #1266 closed

[2016-01-13 17:02] #736 closed

[2016-01-13 18:30] #1164 closed

[2016-01-13 20:16] cmnbroad commented on #1259
The htsjdk fix for this is in https://github.com/samtools/htsjdk/pull/432.

[2016-01-13 20:23] cmnbroad commented on #1270
The htsjdk and Hadoop-BAM parts of this are done (some refactoring will be needed for ReadSparkSink). The gating factor is getting Hadoop-BAM to move to Java 8 (this will be a topic for the call with Hadoop-BAM scheduled for 1/21) and upgrading to a newer htsjdk with ref-factored CRAM support. It would possible to implement this without that upgrade, but the it would require each partition to writ

[2016-01-13 20:29] cmnbroad commented on #1299
The ticket for the htsjdk work to support this is https://github.com/samtools/htsjdk/issues/433.

[2016-01-13 20:31] cmnbroad commented on #1326
@tomwhite's PR to fix this in Hadoop-BAM is https://github.com/HadoopGenomics/Hadoop-BAM/pull/47. But it requires moving Hadoop-BAM up a Java version (I think it requires 7).

[2016-01-13 20:32] cmnbroad commented on #1326
Tom's PR bumps Java to 8, but IIRC I think this particular functionality only requires Java 7.

[2016-01-13 21:03] cmnbroad commented on #365
Walkers:
-ReadWalkers These is already done through the GATKTool createSAMWriter for any BAM outputs that are coordinate sorted.
-VariantWalkers We need something in GATKTool similar to createSAMWriter for creating VCFs that honors the index arg.
-IntervalWalkers Not sure what these will need.
-PicardCommandLineTool These already use a common method for creating BAM writers that honors CREATE_INDE