[2018-01-31 21:17] ruchim opened #4320 "Mutect2 (v4.0.1.0) memory allocation needs adjusting"
In the Mutect2 workflow, the comments mention that memory is to be allocated in "MB" but the task is set to "GB".
The tasks listed require corrections:
- oncotate_m2
- Filter
- CollectSequencingArtifactMetrics
- MergeBamOuts
- MergeVCFs
- M2

[2018-01-31 21:20] samuelklee commented on #4319
Also, @LeeTL1220 @davidbenjamin @jonn-smith  I think we need to have some plan for running Oncotator WDL tests on Travis and/or moving everything over to a single Funcotator WDL in the near future.

[2018-01-31 21:23] asmirnov239 commented on #4123
Here is a recap of what we discussed today during the CNV meeting:

For the first round of evaluations we decided to run Germline CNV pipeline on TCGA exomes using a range of key hyperparameters (namely psi-t-scale and p-alt) and establish the base level performance metrics using output of GenomeSTRiP on matched WGS samples as ground truth.

 @mbabadi could you come up with a good range of hyperpa

[2018-01-31 22:03] LeeTL1220 commented on #4319
@ruchim would you be able to run the centaur tests on an arbitrary hash?   That way we don't release bad WDL.

[2018-01-31 23:12] SHuang-Broad opened #4323 "Tool to parse CPX variants into basic types"
Currently we emit `cpx.vcf` for complex SV's, and one record for each variant.
But this may hurt us in terms of performance evaluation when smaller, simple variants are incorporated into a complex one.
We should have a tool to extract these smaller variants and link them with `EVENTID`.
This shouldn't be difficult.

[2018-02-01 00:33] LeeTL1220 commented on #4319
@ruchim @samuelklee I can file an issue once I know who womtool PO is.

[2018-02-01 00:34] LeeTL1220 commented on #4319
Fixing womtool is a bit more complicated, since it affects FireCloud method configuration parameters as well.

[2018-02-01 00:52] LeeTL1220 commented on #4319
@katevoss Here is the issue that was filed when we discovered https://github.com/broadinstitute/cromwell/issues/3230

[2018-02-01 03:33] cxfustc opened #4325 "Support Spark in Mutect2"
Mutect2 in GATK4 is much faster than that in GATK3, but the parameters '-nt/-nct' are discarded. The similar variant caller HaplotypeCaller can be parallelized using Spark. When will Mutect2 support Spark too?

[2018-02-01 03:36] ruchim commented on #4320
resolved by https://github.com/broadinstitute/gatk/pull/4321.

[2018-02-01 03:36] #4320 closed

[2018-02-01 16:43] sooheelee opened #4327 "Feature request: joint/time-series calling for Mutect2?"
This request comes from the forum:

Mutect2 accepts multiple _different_ tumor samples (from the same individual) and calls on each sample at the same time, much like in a time-course experiment.

Relatedly, if it's not too much to ask, I'd like to be able to provide multiple `--germline-resource` VCFs.

---
@Sheila and @shlee,
Thank you so much for referring me to the informative article and disc

[2018-02-01 16:44] sooheelee commented on #4327
@davidbenjamin and @takutosato straight from the forum to you.

[2018-02-01 20:36] #4319 closed

[2018-02-01 20:54] jonn-smith opened #4329 "GATK should preserve Picard tool exit codes"
When running a Picard tool within GATK, the exit code of that Picard tool is not preserved when GATK exits.

For example, running `ExtractSequences` with no arguments produces an error and the Picard return code of `1`, but GATK returns a 0.

This seems to be around `Main.java:196` (`mainEntry`).

[2018-02-01 21:50] sooheelee commented on #4327
I should mention this is likely to be challenging. As far as I'm aware, CuffDiff _attempts_ to analyze time-course experiments for RNA transcript isoforms, and has been met with criticism.

[2018-02-02 09:20] magicDGS commented on #4329
Maybe the way is to check the returned value inside `PicardCommandLineProgramExecutor` and throw a `PicardCommandNonZeroExit` exception containing a field with the exit code, that can be handled in `Main` with a special function (as user exception, etc.).

Tests for checking the exit code returned by `mainEntry` can be found in https://github.com/broadinstitute/gatk/pull/4283.

[2018-02-02 13:42] #3624 closed

[2018-02-02 15:14] droazen commented on #4329
That sounds like a good way to do it @magicDGS

[2018-02-02 15:19] samuelklee commented on #4123
Don't forget cn.mops (which will also be included in the somatic evaluations) and ModelSegments.  We can also throw CNVnator in the mix.  We'll run each tool on WES, WGS, or both as appropriate.

[2018-02-02 15:24] droazen opened #4331 "Evaluate GCS-enabled fork of GenomicsDB"
With @ldgauthier

[2018-02-02 15:26] droazen commented on #4331
Need to recruit a member of the engine team to assist.

[2018-02-02 15:57] lbergelson commented on #4230
@ruoshuiwyl I'm closing this one because I haven't heard anything back.  Hopefully it fixed the problem.  If not, feel free to reopen.

[2018-02-02 15:57] #4230 closed

[2018-02-02 17:35] SHuang-Broad opened #4332 "Optionally copy FASTQ's in `scripts/sv/copy_sv_results.sh`"
And in `scripts/sv/manage_sv_pipeline.sh`.

As suggested by @cwhelan when reviewing PR #4328

@TedBrookings assigning to you for now, but it may not be a priority.

[2018-02-02 17:48] TedBrookings commented on #4332
I used to have it in there, but once I got copy performance up I assumed it was just clutter. I need to make a minor update to the scripts anyway (option to run the debug program instead of the full pipeline) so I can put back the option to not copy fastq files as well.

[2018-02-02 18:56] samuelklee commented on #3983
@LeeTL1220 Can we clarify what is needed for FC?  If this is as simple as making the normal optional in the pair WDL, let's just do that.  @sooheelee take note.

[2018-02-02 20:12] samuelklee commented on #3983
A reminder: we can also make the PoN optional.

One thought: if users want to run ModelSegments for germline, what should they do?  Presumably they could run the pair WDL in "tumor-only" mode and just use the normal as input.  So maybe we should change all instances of "tumor" to "case" and "normal" to "matched_normal"?  Or is this still too confusing?  I'd like to avoid having separate case and p

[2018-02-02 20:21] samuelklee commented on #3983
By the way, I thought @vdauwera was opposed to using optional inputs in this way at some point (see #3657).  Was that question ever decided?  (I'm still of the opinion that they *should* be used in this way, but this is one of the reasons I didn't for this iteration of the WDL.)

To be clear, the pair WDL right now does not allow all of the workflow paths (tumor-only, no PoN, etc.) that the new to

[2018-02-02 20:59] takutosato opened #4334 "BQSR runs out of memory when given a large interval file (> 10 million intervals)"
Discussed this with @lbergelson. This probably applies to any read walker. The interval file in question contains about 43 million single base intervals - they are the bases around homopolymers of length 5 or greater.

The interval file:

`/humgen/gsa-hpprojects/dev/tsato/palantir/Analysis/642_BQSRImprovementPrelim/hg19-homopolymers-save.interval_list`

Stacktrace:
Exception in thread "main" java.

[2018-02-02 21:01] droazen commented on #4334
@takutosato Well, how much memory did you give the tool itself? (ie., what was your `-Xmx` value)

[2018-02-02 21:08] SHuang-Broad commented on #3894
closed by #4282

[2018-02-02 21:08] #3894 closed

[2018-02-02 22:26] jamesemery commented on #616
@bbimber I just uploaded the the test files from GATK3 and a copy of the reference and DBSNP to the following bucket gs://variant-eval-test-data/.

[2018-02-03 14:15] LeeTL1220 commented on #3983
Originally,  we just had the normal be optional.   You also had automated tests in the WDL Travis.

In FC, for tumor only,  you would probably want a separate method configuration that ran on sample entity type.   I'm open to other suggestions,  but I can't think of another way.   This could in theory be used for germline calling, too.

[2018-02-03 14:16] LeeTL1220 commented on #3983
Note separate method configuration, but uses the same WDL.

[2018-02-03 21:23] mbabadi opened #4336 "Add copy-number segments VCF output to PostprocessGermlineCNVCalls"
- [ ] make a call to `segment_gcnv_calls.py`
- [ ] generate VCF file from .tsv files generated by `segment_gcnv_calls.py`

The python CLI scripts takes 3 arguments:
- ploidy calls
- model shards
- calls shards

Note:
- gcnvkernel 0.6.0 (PR #4335) now writes the baseline copy number to `baseline_copy_number_t.tsv` in the calls output path (for each sample). `PostprocessGermlineCNVCalls` can simply

[2018-02-05 13:18] stefandiederich opened #4337 "Spark tools have problems with umlauts"
Hi
I used some spark tools and found a problem with umlauts like (ä,ö,ü) in the filepath. The corresponding "non-spark" tools do not have any problem with umlauts. Is it possible to make the spark tools working with umlauts in the filepath too?
Thanks!
Stefan

[2018-02-05 15:41] lbergelson commented on #4337
@stefandiederich Thanks for reporting this.  We'll have to take a look if it's something simple that can be changed in our code or something fundamental in the way spark process filenames.

[2018-02-05 15:58] droazen commented on #3697
@chandrans Can you try again with the latest 4.x release and report whether this is still an issue (I suspect it is, as it was a problem in GATK3 as well)

[2018-02-05 15:58] droazen opened #4338 "HaplotypeCaller: add test coverage for arguments not covered by tests"
`HaplotypeCaller` has hundreds of arguments, many of which are not covered by tests. We should add test coverage for these arguments.

[2018-02-05 19:51] droazen commented on #4298
@tomwhite I think the current value for `DEFAULT_READSHARD_SIZE` might be inappropriate, especially given that `HaplotypeCallerSpark` (unlike the walker version, which is lazy) currently materializes all assembly regions within a shard at once (see https://github.com/broadinstitute/gatk/issues/4301). We should profile with both smaller and larger values for `DEFAULT_READSHARD_SIZE` and see what ef

[2018-02-05 19:53] droazen commented on #4296
@tomwhite This seems like an easy way to get a big performance boost in `HaplotypeCallerSpark` -- what do you think?

[2018-02-05 19:54] droazen commented on #4274
@tomwhite Should be a fairly easy fix in Hadoop-BAM, we think.

[2018-02-05 20:04] droazen opened #4340 "Create a roadmap document for HTSJDK 3.0"
Work with project maintainers and stakeholders to create a roadmap document for the next generation of the HTSJDK file-parsing library, and obtain buy-in from all stakeholders.

From our point of view, should address major pain points for GATK:

* NIO support everywhere
* Interfaces for all data types
* Easily extensible/pluggable, easy to add parsers for new versions of our formats (such as the s

[2018-02-05 20:14] droazen opened #4341 "Refactor GATKTool so that more tools can comfortably extend it directly"
As discussed in https://github.com/broadinstitute/gatk/issues/2471#issuecomment-358040921, we need to refactor `GATKTool` so that all non-Spark tools can comfortably extend it rather than extending `CommandLineProgram` directly, as some tools currently do. In particular, we need to:

* Provide a mechanism for subclasses to selectively disable engine-wide arguments such as `-I` completely (and also

[2018-02-05 20:15] droazen commented on #4341
@samuelklee Anything else you'd add to this list?

[2018-02-05 20:23] samuelklee commented on #4341
This looks like a good start!  I'm not quite sure how you are planning to handle dictionary validation, specifically, but you can take a look at the CNV plotting tools (PlotDenoisedCopyRatios and PlotModeledSegments) to see what level of validation we currently do.

(Also, note that those tools take a sequence dictionary as an input to specify which contigs should be plotted; typically, this will

[2018-02-05 20:40] droazen opened #4342 "Refine and finalize StreamingPythonScriptExecutor design"
Let's have another look at the `StreamingPythonScriptExecutor` and evaluate whether we are using the best synchronization and inter-process communication primitives, devise ways to reduce the amount of boilerplate code on the Python side, and generally ask whether any improvements could be made to the current design.

[2018-02-05 20:40] droazen commented on #4342
For @cmnbroad and @jonn-smith

[2018-02-05 20:44] chandrans opened #4343 "# in file names converted to %23 resulting in file not found"
A user reports FileNotFoundException in CombineGVCFs. David says "GATK4 uses URIs for many inputs, in order to support both local files and non-local data such as files in GCS buckets. The character "#" has special meaning in a URI, and so gets escaped."

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/comment/45617#Comment_45617

[2018-02-05 20:47] droazen commented on #4341
@samuelklee For `-imr`, you just need a way to override the default setting, correct? Or is it more than that? I've added a bullet point to the list above that captures what I think you need, but feel free to supplement it with additional requirements.

[2018-02-05 20:50] droazen commented on #4343
@cmnbroad Could you please look into this issue when you get a chance? Thanks!

[2018-02-05 20:51] lbergelson commented on #4343
I guarantee we have similar problems with spaces and other special characters.  https://github.com/samtools/htsjdk/issues/1034

[2018-02-05 20:53] jonn-smith opened #4344 "Funcotator - Add regression test against known output (truth set)"
Funcotator needs more complete integration tests.  These tests should better verify that the produced results are correct.

[2018-02-05 20:53] lbergelson commented on #4343
similar flavor to https://github.com/broadinstitute/gatk/issues/4337

[2018-02-05 20:55] lbergelson commented on #4164
@TimothyStiles I never got back to you about this.. sorry!   I think I pointed it out when we spoke in person, but there's a zip of every release attached to the release notes https://github.com/broadinstitute/gatk/releases

[2018-02-05 21:00] jonn-smith commented on #3957
The user should be able to specify the column by _either_ index _or_ column name.

[2018-02-05 21:01] samuelklee commented on #4341
Overriding the defaults would get us most of the way there.  Right now, we perform the following check on the IAC and fail if the defaults aren't changed to values that the CNV tools require, which is awkward:

[code]

If we override defaults, we'd still perform the check to make sure the user didn't muck with them, but it'd still be nicer than forcing the user to change the original defaults on t

[2018-02-05 21:03] bbimber commented on #616
@jamesemery: thank you.  however, I am probably missing something obvious here.  i tried to access this using 'gsutil cp'; however, i get an AccessDeniedException: bbimber@gmail.com does not have storage.objects.list access to variant-eval-test-data.  Should I, and/or is there another way to access this?

[2018-02-05 21:09] jamesemery commented on #616
Can you try it again now? We might have fixed it.

[2018-02-05 21:29] droazen opened #4345 "Add GATKdocs to GATK bundle zip"

[2018-02-05 21:30] droazen commented on #4345
For @cmnbroad

[2018-02-05 21:48] chandrans opened #4346 "Duplicate records in VCF produced by CalculateGenotypePosteriors"
## Bug Report

### Affected tool(s)
CalculateGenotypePosteriors

### Affected version(s)
4.0.1.1

### Description
The input VCF only contains 1 record for the position, but after running CalculateGenotypePosteriors, the output VCF contains 2 records for the position.

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/11278/duplicate-records

[2018-02-05 21:49] droazen opened #4347 "Implement registry of deprecated tools"
Like in GATK3.

[2018-02-05 21:51] droazen opened #4348 "Allow @BetaFeature and @ExperimentalFeature to be applied to individual arguments"
(If this is not already possible -- we should test this)

[2018-02-05 21:53] droazen opened #4349 "Generalize IndexFeatureFile to IndexFile by adding support for indexing bams and fastas"

[2018-02-05 21:59] droazen opened #4351 "Add registry of unported GATK3 tools, output nice error message when user tries to run one"

[2018-02-06 05:09] samuelklee opened #4353 "mem_gb_for_model_segments not passed through in CNV WDL."
Another parameter slipped by in #4288...

@ruchim Can we get an ETA for when exposing subworkflow task-level parameters will be handled by Cromwell?

[2018-02-06 07:11] stefandiederich commented on #4337
@lbergelson Thanks for your quick reply! Hopefully it is just something simple. But I think it's nothing to with spark, because SortReadFileSpark can process filepath with umlauts. For example a path like `/media/Ergebnisse/1399-17_Exom (Neuromuskulär)_NB501654_0052/1399-17.recal.bam`

[2018-02-06 11:12] magicDGS commented on #4340
Nice that HTSJDK is moving forward to version 3. The points that I would like to address are similar to yours, with some inclussions

* Regarding NIO support, I would go to remove completely `File` support. If API users need to use the `File` abstraction, they should convert to a `java.nio.Path` using the `toPath` method.
* In addition, I would like that HTTP/S and FTP is handled also with NIO. Fo

[2018-02-06 14:20] lucidtronix commented on #4225
Update:
- [ ] A cool name! (Marduk, Clarendon, NeuroVar) ? maybe I'll do a slack poll of dsde methods?
- [x] Model training script (in Python, eventually in Java)
- [x] Pretrained model for WGS
- [x] Pretrained model for WEx (still being validated and was only trained on NA12878)
- [x] Model inference and VCF annotation (in Java)
- [x] Solution for applying filters based on CNN score cutoff (tranc

[2018-02-06 14:55] LeeTL1220 opened #4355 "Spaces in a sample name (inside the bam file) will cause a failure in the M2 WDL task."
When you're looking for it, it's easily found:

[code]
If `normal_name.txt` has a space in it, the M2 command is later rendered as:
`.... -normal HCC1143 BL ...`

This will cause a failure, since "BL" is not a parameter.

We should render as: `.... -normal "HCC1143 BL" ...`

or `.... -normal HCC1143_BL ...`

Please note that this affects the tumor sample lines as well.

[2018-02-06 15:22] chandrans commented on #4346
@lbergelson Thanks a lot for being so fast with this :)

[2018-02-06 18:27] samuelklee commented on #4123
Also, let's use WDLs and Dockers from other groups, where available.  In particular, I would hope that these are available for XHMM, GenomeSTRiP, and the tools that the Talkowski lab runs.  We can discuss with @cwhelan today, but @asmirnov239 and @ldgauthier could you do some digging to see what the MacArthur lab has?

[2018-02-06 18:35] jonn-smith commented on #4088
@davidbenjamin Fixed this in PR #4271.

Thanks @takutosato and @davidbenjamin !

[2018-02-06 18:35] #4088 closed

[2018-02-06 18:38] jonn-smith commented on #3279
Added in data sources prior to release 4.0.

[2018-02-06 18:38] #3279 closed

[2018-02-06 18:44] jonn-smith opened #4357 "Funcotator - Add dbSnp data source"
Must add in a VCF input for data sources.

Once this is done, must add in the dbSnp source.

[2018-02-06 19:15] jonn-smith opened #4358 "Funcotator - Make variant filtering for MAF output an option"
Currently filtered variants are not output in MAF files.  This is not configurable.

This should be changed to be an option.

[2018-02-06 19:23] jonn-smith opened #4359 "Funcotator - Need to have a funcotation output list"
Must allow support for an output funcotation list that, if specified, will cause Funcotator only output funcotations from the given list and suppress all other funcotations.

[2018-02-06 20:51] ldgauthier commented on #4225
My calculations give a runtime estimate of $0.18 for the 1D and... more for the 2D.  We'll optimize later.  It'll be fine.

[2018-02-06 21:50] chandrans opened #4361 "GATK 3.7 and GATK 4 HaplotypeCaller runtime"
User has tested GATK3.7 HaplotypeCaller and GATK4 HaplotypeCaller. GATK4 takes ~35 hours while GATK3.7 takes about 18 hours. Original report is here: https://github.com/broadinstitute/gatk/issues/3631 David, I assigned you just so you could take a look. User seems satisfied that GATK4 is faster, but I am just making sure this is expected. I asked for more details on what type of data they are usin

[2018-02-06 22:16] droazen commented on #4361
@chandrans Please ask the user to repeat the test, with the following adjustments:

* Run both GATK 3.7 and GATK 4.0.1.1 (latest release) on the same machine, one right after another, on chromosome 20 only (using `-L` in both cases), and ensure that there are no other expensive processes running on this machine during the tests. Run each version 3 times, and take the average of the results.
* Add

[2018-02-07 02:52] samuelklee opened #4362 "Remove comments about JSON templates from CNV WDLs."

[2018-02-07 10:46] dariober opened #4363 "FilterMutectCalls trips on non-int value in MFRL tag"
Hi- I'm using `FilterMutectCalls` on a vcf produced by mutect2 (same gatk version). I get the following exception from `FilterMutectCalls`:

[code]

This is odd since the MFRL is a FORMAT tag, not INFO and anyway is of type float:

[code]

The faulty record:

[code]

**EDIT**: It appears that the int 7972545 is converted to 7.97254e+06 after I passed the vcf file through a custom filter, so not re

[2018-02-07 15:01] samuelklee opened #4365 "Expose or decrease CHUNK_DIVISOR in HDF5SVDReadCountPanelOfNormals."
The current hardcoded limit restricts us to 16777215 bins, which we can hit as we go below 200bp bins.  For a given matrix that needs to be broken into chunks, increasing the chunk size by decreasing CHUNK_DIVISOR will require more heap space.

In practice, it's not too hard to build a PoN per contig to get around this limit at the moment.  We might start having issues with doing SVD on the entire

[2018-02-07 15:03] samuelklee commented on #4365
Also noted a typo in the Javadoc of writeChunkedDoubleMatrix, should fix that as well.

[2018-02-07 16:42] sooheelee opened #4366 "Mutect 2 B38 germline resource"
Quick forum question for @davidbenjamin @takutosato. How to set `--af-of-alleles-not-in-resource` for WGS data when coverage in gnomAD resource is combination of WES and WGS?

---
Thanks a lot @shlee for the information. Can you point me towards where the README is? I suspected the liftover might be more involved than it appears (it explains why one isn't already floating around) and it would be g

[2018-02-07 17:38] droazen opened #4367 "Tools marked as @BetaFeature/@ExperimentalFeature should output a warning when run"
The warning should state that the tool is in a beta/experimental state, and should not be used for production work.

[2018-02-07 17:47] davidbenjamin commented on #4366
@sooheelee That's a pitfall we haven't solved yet.  I think we'll eventually infer the value locally from the AC of nearby variants in the germline resource.  Until then, I would use the smaller value i.e. the one for coding regions.  The only possible harm would be a very few rare germline events that aren't in gnomAD, whereas if you set it too high you risk filtering true somatic events.

[2018-02-07 18:12] ldgauthier commented on #3707
I have a giant pile of exomes (1230, on prem) with AS annotations at /humgen/gsa-hpprojects/dev/gauthier/AS_GDBtest/lotsOfExomes.list.  If someone could run Import and Genotype against those I'd be happy to QC.

[2018-02-07 18:44] ldgauthier opened #4368 "SpanDel bug in ReferenceConfidenceVariantContextMerger"
Merging A:
`chr20   1274365 .       TAA     T,TA,<NON_REF>  562.77  .       DP=26;MQRankSum=-1.011;MQ_DP=26;QUALapprox=591;RAW_MQ=93600.00;ReadPosRankSum=0.578;VarDP=24    GT:AD:DP:GQ:PL:SB       1/2:1,7,16,0:24:99:591,353,368,166,0,123,542,379,171,547:1,0,12,11`
with B:
`chr20   1274366 .       A       G,<NON_REF>     562.77  .       DP=26;MQRankSum=-1.011;MQ_DP=26;QUALapprox=591;RAW_MQ=93600.00;

[2018-02-07 19:43] jamesemery opened #4369 "Spark Local Runner throws with unhelpful error message over gcs input"
I have noticed that when running spark tools (e.g. CountReadsSpark or MarkDuplicatesSpark) that running with an input in the form "CountReadsSpark -I gs://my-bucket-dir/my-file.bam." The tool crashes with the following unhelpful stacktraces:

[code]
Followed by repetitions of the following stacktrace:
[code]

Notable is the fact that I do not have a service key setup when executing these tests but

[2018-02-07 20:11] ldgauthier commented on #4368
Sorry, this is on me for running my own jar.  In case anyone is curious, we play fast and loose with genotype alleles since the genotypes get no-called in the combine.  Also, this revealed a GDB bug that I'll file.

[2018-02-07 20:11] #4368 closed

[2018-02-07 20:53] jhl667 opened #4370 "CollectMultipleMetrics PROGRAM default not overridden"
Hi there,

When I run a very basic command such as:

`gatk CollectMultipleMetrics -I test.bam -O ALIGNSUMM  --PROGRAM CollectAlignmentSummaryMetrics`

I expect the --PROGRAM argument will override the default value assigned, which is currently five of the metrics tools.  Instead, the PROGRAM option includes the specified metrics tool on top of the default selection.  So, the above command line wil

[2018-02-07 20:57] ldgauthier commented on #4123
I'm pretty sure the MacArthur lab doesn't have any WDLs or Dockers.  Somewhere I saw some shell scripts Menachem used when he ran xHMM on ExAC, but they're probably so old they're for LSF.

[2018-02-07 21:32] ldgauthier opened #4371 "Test DetermineGermlineContigPloidy on known aneuploidy samples"
After extensive QC, Ryan Collins with the Talkowski lab has a set of ~20 samples that he believes to have sex chromosome genotypes that are not XX or XY.  It would be great to run our tool on them and see what it predicts.

Normals could probably come from any of the same projects: G100345, G68758, G81032, G94818, etc.
Case data has already been copied to gs: //broad-dsde-methods/testdata/aneuploi

[2018-02-07 21:41] samuelklee commented on #4371
@ldgauthier Excellent, these will definitely be a good test set.

[2018-02-07 21:50] jhl667 commented on #4370
I didn't read the description of this tool well enough, apparently you can simply add a `--PROGRAM null` to remove the default list.  Closing the issue.

[2018-02-07 21:50] #4370 closed

[2018-02-08 03:22] cwhelan opened #4372 "Add coverage-based filtering for large deletions"
We need to use coverage to filter large deletion calls. This is particularly important for very large imprecise deletions, of which there are many (see https://github.com/broadinstitute/gatk/pull/4333). We could use something similar to rdTest, or reuse whatever code @mwalker174 and others use for tandem duplications and other variant types.

[2018-02-08 03:55] samuelklee opened #4373 "Add BETA tag to PostprocessGermlineCNVCalls."

[2018-02-08 13:22] samuelklee opened #4374 "Remove lexicographical sorting of contigs in gcnvkernel."
In `IntervalListMetadata`, the contig list is sorted lexicographically:

```self.contig_list = sorted(list(self.contig_set))```

This causes, e.g., the output of DetermineGermlineContigPloidy to be sorted lexicographically.  Let's remove this and assume that incoming data from temporary files is always sorted according to the sequence dictionary.  We should double check that this didn't affect any

[2018-02-08 13:27] samuelklee opened #4375 "Add integration tests for correctness for DetermineGermlineContigPloidy and GermlineCNVCaller."
Right now we check that the simulated data runs, but we don't perform any further checks on the results.

[2018-02-08 13:47] tomwhite opened #4376 "Spark performance regression in BQSR and HC"
Running the reads pipeline on latest master on GCP on an exome shows a major performance regression. At the end of last year this took 40 minutes for the whole job, now using master BQSR is taking 1.4 hours, and HC is taking well over an hour (it hasn't finished yet).

#4278 is the likely culprit for the HC slowdown. Not sure about BQSR.

cc @lbergelson @droazen

[2018-02-08 15:42] ldgauthier commented on #4371
The "truth data" is here: /humgen/gsa-hpprojects/dev/gauthier/gCNV_ploidyTests/sexChrAneuploidyCalls.txt  Pretty sure the ID is <project>_<sample> and then there are extras I couldn't find.

[2018-02-08 15:52] frank-y-liu commented on #4376
@tomwhite How many physical cores are you using? Is it a whole genome task? I was able  to finish BQSR in about an hour. From monitored activities, the CPU utilization rates are very high across all physical cores (so it's not bad). There is the long runtime of creating KnownSitesCache, as in #4264

[2018-02-08 16:04] ldgauthier commented on #3745
Just saw one of these in the log that I'm going to go investigate.  The new error message is very helpful, thanks @kgururaj !

[2018-02-08 16:31] droazen commented on #3745
You mean you saw an **informative** error message rather than an **uninformative** one, I assume? :)

[2018-02-08 17:03] droazen commented on #4376
@tomwhite That's interesting -- @lbergelson 's profiling on `HaplotypeCallerSpark` in isolation did not show any noticeable slowdown as a result of the switch to the new code path (in addition to the output being much more correct than before), and the walker version which uses the same codepath is as fast or faster than GATK3 at this point in all modes. We should try to see whether we can replica

[2018-02-08 17:29] jonn-smith opened #4378 "Funcotator - Fix INDEL start/stop position and alleles for ALL output types"
The indel start/stop positions and the ref/tumor seq alleles are currently only correct for MAF output.

The changes in the MAF output should be ported to the `GencodeFuncotationFactory` so that ALL output types have correct data for these fields.

[2018-02-08 17:32] lbergelson commented on #4376
@tomwhite My tests were running HaplotypeCallerSpark on an exome on gcs.  It took ~40 minutes with and without the changes.

[2018-02-08 17:34] lbergelson commented on #4376
Also, interestingly, if you look at the pipeline we run nightly in jenkins, there hasn't been any performance regression there.  https://gatk-jenkins.broadinstitute.org/view/Performance/job/gatk-perf-test-spark-readpipeline/buildTimeTrend

[2018-02-08 18:00] droazen commented on #4376
Is it possible that the slowdown Tom is seeing is specific to the HDFS codepath, I wonder?

[2018-02-08 19:51] takutosato commented on #4334
@droazen I didn't specify `-Xmx`, just gave it more memory to the server (up to 32GB). The most memory BQSR consumed before it failed was about 28GB: ``Runtime.totalMemory()=28631367680``

I'm testing to see if scattering BaseRecalibrator and then calling GatherBQSRReports would help

[2018-02-08 20:13] samuelklee commented on #4371
OK, the first test run I tried was with 1kb bins and *no additional normals*.  Coverage takes about an hour to collect per BAM and ploidy inference takes about 10 minutes.  A few things:

1) Looks like we are concordant with the truth CN on X for all but 3/40 of the samples.  The GQs for these discordant calls are low (~3, 23, and 25 compared with ~400 for most of the others).

2) However, we are

[2018-02-08 20:20] droazen commented on #4252
We definitely need to ensure that we're retaining all `GATKCommandLine` lines, even if there are multiple runs of the same tool.

[2018-02-08 20:26] droazen commented on #4252
Note that GATK3 uniquified the `GATKCommandLine` lines using a scheme like this:

[code]

[2018-02-08 20:30] droazen commented on #4334
@takutosato Can you try specifying `-Xmx` explicitly (`./gatk --java-options "-Xmx Xg"`), set it to a value substantially lower than the amount of physical memory, and see if that helps?

[2018-02-08 20:44] ldgauthier commented on #4371
I could probably make up something hand wavey about X and Y but I have no clue about 1.

[2018-02-08 20:45] ldgauthier commented on #3745
Oops, yes, I saw the new one!  Very informative.

[2018-02-08 21:09] jonn-smith opened #4380 "Funcotator - Need a validation tool for data sources"
There needs to be a validation tool for data sources to ensure that they conform to their formats properly.

This tool is envisioned to be run just prior to data source release to fix any silent errors.

[2018-02-09 03:43] SHuang-Broad opened #4382 "annotation "INSLEN" missing from SV VCF (and header)"
VCF spec has them. Trivial to add but useful.

[2018-02-09 09:31] tomwhite commented on #4376
This is what I ran (note it's not using the HDFS codepath). Can you try reproducing please? I used to be able to run this in 40 minutes (the whole pipeline, not just HC, and even BQSR is taking a lot longer now).

[code]

[2018-02-09 15:41] ldgauthier opened #4383 "CalculateGenotypePosteriors allows input VCFs from different references"
#2410 added the --sequenceDictionary argument, but how do we make this argument required for certain tools?  The GTEx project uses CalculateGenotypePosteriors (yay!) and accidentally mixed and matched some VCFs with understandably unexpected results.

[2018-02-09 16:47] chandrans commented on #3697
Yes, I can confirm it is still an issue.

[2018-02-09 17:09] droazen commented on #4383
@ldgauthier The easiest way to do this right now is to call `getMasterSequenceDictionary()` from the tool's `onTraversalStart()` method, and throw if it returns null.

[2018-02-09 17:13] droazen commented on #4383
I'll also mention that as part of https://github.com/broadinstitute/gatk/issues/4341 we plan to give tools more control over the arguments inherited from `GATKTool`, including selectively disabling and redefining engine arguments, so once a mechanism is in place for that `CalculateGenotypePosteriors` could make `--sequence-dictionary` required. Currently this ability only exists for a few argument

[2018-02-09 19:49] ldgauthier commented on #4331
Any volunteers?  Anyone forced to volunteer?

[2018-02-09 20:14] takutosato commented on #4334
I tried `java -Xmx8g`, and got `Runtime.totalMemory()=5783945216.` The physical memory was 32GB.

[2018-02-09 20:15] droazen commented on #4334
@takutosato To clarify, it ran out of memory with `-Xmx8g` as well?

[2018-02-09 20:17] takutosato commented on #4334
Yup

[2018-02-09 20:29] chandrans commented on #4349
Hey David. This will be a tool again in the next release? Users have been asking about generating VCF index, and I have pointed them to IGV or tabix or samtools. I think this has been disabled in the latest point release.

[2018-02-09 20:32] droazen commented on #4349
@chandrans `IndexFeatureFile` has been enabled and runnable in all of the 4.x releases so far. It was only disabled temporarily in one of the betas.

[2018-02-09 20:32] samuelklee commented on #4004
After further thought and some discussion with @sooheelee, I think a more general purpose tool to subset counts in the CNV pipeline (or perhaps even all locatable collections, although that might give users a bit too much freedom) would be useful.

[2018-02-09 20:38] droazen commented on #4349
(It's been re-enabled since August 2017, by the way! This is the PR that re-enabled it: https://github.com/broadinstitute/gatk/pull/3425)

[2018-02-09 20:57] chandrans commented on #4349
Yes, you are right. Sorry, I must have tested with a beta version and thought it was disabled. It does work in 4.0.1.1 :) I will have to let users know.

[2018-02-09 23:00] sooheelee commented on #4366
I've passed the word along. Thank you.

[2018-02-09 23:00] #4366 closed

[2018-02-10 00:23] cmnbroad opened #4387 "Default read filters are not included in tool doc"
This worked until we kebabified. The Freemarker template looks for the hardcoded string "readFilter", but the doc system populates the Freemarker map using the display name self-reported by the (ReadFilter) plugin, which is in turn derived from the standard argument name for read filters. These matched when the arg was "readFilter". But after kebabification, its now "read-filter". We should probab

[2018-02-10 17:03] SHuang-Broad opened #4388 "Need strategy for reporting STR expansion (SV)"
Frequently we find our pipeline detecting STR expansions whose size >50, i.e. in the SV domain, but we cannot fully assemble the expanded allele, as judged by PacBio calls.
We need a strategy on how to reliably report
* what is found and
* how likely it is that we have assembled the full allele, or only part of the expansion (lower bound estimate).

[2018-02-11 11:03] wujh2017 opened #4389 "gcnvkernel/tasks/inference_task_base.py"
Hi
      I wanna call germline CNVs using GATK4,but now have a problem when i was runing newest DetermineGermlineContigPloidy.here is err info.

**>>> import gcnvkernel
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/NfsDir/UserDir/wujh/Biosoft/Anaconda3/lib/python3.5/site-packages/gcnvkernel/__init__.py", line 5, in <module>
    from .tasks.inference_task_bas

[2018-02-11 12:37] samuelklee commented on #4389
@wujh2017 Did you set up the appropriate conda environment as described in the README?

[2018-02-11 19:09] riyuebao opened #4390 "[--dbsnp] option removed in GATK 4.0.1.2 after 4.0.0.0?"
Hello - I was running the exact command with GATK-Mutect2 4.0.0.0 and then switched to 4.0.1.2; an error message was returned:

[code]

The exact command works with 4.0.0.0:
[code]

I was not able to find relevant info from version history; Just wanted to confirm with you if this is the case. Thanks!

[2018-02-12 13:44] davidbenjamin commented on #4390
@riyuebao That's right, we removed `-dbsnp`.  The best practice now is to pass in gnomAD as the `germline-resource`.  BTW, we also removed the `-cosmic` input some time ago.

[2018-02-12 13:45] droazen commented on #4390
@davidbenjamin That should really have been in the release notes! Which PR made that change?

[2018-02-12 14:21] LeeTL1220 opened #4391 "M2 WDL defaults to nonsensical oncotator docker image"
This used to work fine.  The default oncotator docker image should be:

"broadinstitute/oncotator:1.9.6.1"

No optional WDL parameters should be specified in such a way as to make it fail automatically.  Then it is not actually optional.

@davidbenjamin

[2018-02-12 15:45] erarroji opened #4392 "Trobule with best practices"
Hi

I'am new with all NGS tools, I tried to follow best practices workflow for my exome reads from tumor samples: I align with bwa mem, sort with samtools, mark duplicates and recalibrated bases with GATK 4 and finally call variants with Mutect 2. Although the software run successfully I noticed that the mark duplicates metrics only have a 0.3% of duplicates, which I double check with samtools fla

[2018-02-12 16:43] davidbenjamin commented on #4390
That was in PR #4139.

[2018-02-12 17:03] droazen commented on #4390
Ok, thanks -- I'll add a note to the release notes retroactively to try to cut down on user surprise.

[2018-02-12 18:43] PedroBarbosa opened #4393 "Error running HaplotypeCallerSpark in GVCF mode"
Hello,

I'm using the latest docker image to test GATK4 pipeline (v 4.0.1.2) and I'm struggling to get it done. Apparently it has to do with the task manager service, please find attached the full log of one of my runs.
[65670_gatk_hc.log](https://github.com/broadinstitute/gatk/files/1717363/65670_gatk_hc.log)

Best,
Pedro

[2018-02-12 19:21] droazen commented on #4392
@erarroji Can you give us more information about exactly which GATK4 tools you are running in your pipeline? Some GATK4 tools (such as `MarkDuplicatesSpark` and `HaplotypeCallerSpark`) are still marked as `beta` and may not always give correct output. You should use the non-beta versions of these tools instead (eg., `MarkDuplicates` and `HaplotypeCaller`).

You can see which tools are marked as `b

[2018-02-12 19:29] sooheelee commented on #4392
@erarroji, please post your GATK/Picard questions to the GATK forum at https://gatkforums.broadinstitute.org/gatk/discussions.

To answer your question, see:
https://software.broadinstitute.org/gatk/blog?id=7264

[2018-02-12 19:29] #4392 closed

[2018-02-12 20:22] erarroji commented on #4392
Hi

I already post the question on GATK forum, also my fraction of duplicates is 0.000384 which I double check with samtools flagstat calculating from the output values.

[2018-02-12 21:15] samuelklee commented on #4371
CRAMs for 20 normals are in gs: //broad-dsde-methods/testdata/aneuploidy_samples_panel.  These are all from the same project (G100345) so it will be interesting to see if there are any batch effects that show up in the GQs.

[2018-02-12 21:17] droazen commented on #4331
@ldgauthier Sorry, it may be a week or two before we'll have bandwidth to assign someone on our side to this. Let me know if that's a problem for you.

[2018-02-13 01:01] mbabadi commented on #4374
This is fixed in PR #4335.

[2018-02-13 01:02] mbabadi commented on #4373
Done in PR #4396.

[2018-02-13 01:02] #4373 closed

[2018-02-13 01:02] mbabadi commented on #4336
PR #4396.

[2018-02-13 01:03] mbabadi commented on #4211
PR #4335.

[2018-02-13 01:03] #4211 closed

[2018-02-13 01:03] mbabadi commented on #4057
PR #4335.

[2018-02-13 01:03] #4057 closed

[2018-02-13 01:07] mbabadi commented on #4389
@wujh2017 thank you for trying out this beta tool! As @samuelklee mentioned above, your issue is most likely due to not having the proper python conda env (most likely, you have a python 2.x in your system environment).

Also, I would like to add that the default parameters for running the Germline CNV calling pipeline are currently being fine-tuned separately for WES and WGS data. The default par

[2018-02-13 01:09] #4389 closed

[2018-02-13 01:26] chandrans commented on #4361
Thanks David. Will let you know when they get back.

[2018-02-13 01:46] mbabadi opened #4397 "Re-organization of gCNV WDL output for more efficient post-processing"
Since `PostprocessGermlineCNVCalls` processes individual samples, it makes sense to reorganize gCNV calls into separate tarballs for each sample in the _COHORT_ WDL (v.s. one tarball containing calls for all samples in the shard), i.e. let's do it like:

   shard_0_model.tar.gz
   shard_0_calls_sample_0.tar.gz
   shard_0_calls_sample_1.tar.gz
   shard_0_calls_sample_2.tar.gz
   ...
   shard_1_mode

[2018-02-13 01:54] #4336 closed

[2018-02-13 07:32] nyl2002 opened #4398 "New germline CNV and SV methods for new Ehlers-Danlos research announced today"
I would like to make recommendations for how to best use GATK4's new CNV, SV and maybe CNN capabilities to the research project about Hypermobile Ehlers-Danlos Syndrome, that was announced today.
https://www.ehlers-danlos.com/ehlers-danlos-society-receives-transformational-gift-accelerate-genomic-research-hypermobile-eds/

I think that hEDS could an interesting applications for the new tools. It i

[2018-02-13 14:50] samuelklee opened #4399 "Allow zero eigensamples to be used in DenoiseReadCounts."
In case one just wants to normalize against the interval medians.

[2018-02-13 18:38] jonn-smith opened #4400 "Funcotator - COSMIC data for overlapping mutations should list protein changes"
Currently the COSMIC_overlapping_mutations field produces only a count, rather than a count for each protein change.

It should look like this:

p.L858R(1489)| p.L858Q(1)| p.L858K(1)

[2018-02-13 18:47] chandrans commented on #3066
Another user on forum has reported this: https://gatkforums.broadinstitute.org/gatk/discussion/11386/gatk4-0-0-0-hcspark-step-run-on-spark-cluster-unable-to-find-success-file

[2018-02-13 18:53] takutosato opened #4402 "Mutect trim alleles first, then annotate"
We trim the alleles first then annotate the variants. This may not be desirable.

[2018-02-13 19:11] samuelklee opened #4403 "Add short names for standard arguments to gCNV tools."
At least -I and -O, to be consistent with ModelSegments pipeline.  I think our general rule for the CNV tools is that we do not introduce any CNV-specific short names, but we can use the standard ones already available.

[2018-02-13 19:30] jonn-smith opened #4404 "Funcotator - ncbiBuildName is not properly annotated for IGRs"
Currently for IGRs `ncbiBuildName` is not properly annotated to records.

This is because in order to annotate, there must be a `GencodeGtfFeature` from which to read the `ncbiBuildName` and there is no such feature for IGRs.

This field should be passed to the constructor for `GencodeFuncotationFactory` and used for all funcotations created by that factory.  The `ncbiBuildName` field may be able

[2018-02-13 19:34] jonn-smith opened #4405 "Funcotator - GeneTranscriptType should be properly mapped to VariantClassification"
Currently for non-protein_coding `GencodeGtfFeature`s the `GeneTranscriptType` field is being used to create a `VariantClassification`, however the mapping is course and defaults to `RNA` for almost all cases.

GeneTranscriptType should be properly mapped to VariantClassification so that values such as `pseudogene` and `artifact` have correct `VariantClassification` values.  This will likely requi

[2018-02-13 21:30] jonn-smith opened #4407 "Funcotator - ReferenceContext is rendered with too many bases for INDELs"
For INDELs, ReferenceContext is rendered with too many bases.

This is because of how the VCF format stores INDELs (vs the MAF format).

The logic for creating the ReferenceContext base string needs to be updated to account for the extra bases in the VCF format.

[2018-02-13 21:32] jonn-smith opened #4408 "Funcotator - Add Gencode's GeneTranscriptType as an annotation field in GencodeFuncotation"
Add the `GencodeGtfFeature.GeneTranscriptType` as an annotation field inside the `GencodeFuncotation`.

This will add more information on the variants.

[2018-02-13 22:11] droazen opened #4409 "Docker build script should not run "gradle installAll""
The current docker build script runs `gradle installAll` in addition to running `localJar`. This causes the `gatk` script in our docker image to prefer running with the unpackaged set of jars, instead of the fully packaged jar. This, in turn, can cause us to run out of file handles in certain tools, since we need to open all of the jars for our dependencies individually at once.

We should just ru

[2018-02-13 22:25] jonn-smith opened #4410 "Funcotator - annotations without variant classification generated by new VariantClassification logic"
The `GencodeFuncotationFactory` is producing empty `VariantClassification`s.  It should never do this.

[2018-02-14 14:04] dariober commented on #4252
Not sure if this should be a separate tickets... It appears that `SelectVariants` duplicates the INFO/AF tag in the header, this results in an invalid vcf. At least according to some tools like [rtg](https://github.com/RealTimeGenomics/rtg-tools). This is with gatk 4.0.1.0.

Example:

* Input has correct header:

[code]

* Run SelectVariants. Header has now two entries for INFO/AF

[code]

* rtg c

[2018-02-14 14:57] thw17 commented on #4312
Hi,

Any updates on this? I'm running into the same error with v4.0.1.2

Thanks!

[2018-02-14 15:00] cmnbroad commented on #4252
This is one of a cluster of problems with htsjdk's header handling that will be fixed by https://github.com/samtools/htsjdk/pull/835. IIRC, this particular one happens when the input file has an AF line that differs from the standard one used by htsjdk. In this case, the description differs, so htsjdk incorrectly roundtrips both. I believe if the input file contained the exact line used by htsjdk,

[2018-02-14 15:23] samuelklee commented on #4371
Built a PoN with those normals.  Some tuning of parameters was required to get reasonable results. After discussion with @mbabadi, we decided that the current model has a little too much freedom and can probably be made simpler (negative binomial -> Poisson).  This should result in more robust results and decrease the amount of tuning needed.

Also note that normal sample 8007540251 has something

[2018-02-14 15:23] dariober commented on #4252
@cmnbroad thanks for the additional info. Some more detail from my side in case others stumble upon the same problem...

* My input file comes from gnomad (`gs://gnomad-public/release/2.0.2/vcf/genomes/gnomad.genomes.r2.0.2.sites.chr18.vcf.bgz`). I editied it only to turn chromosome "18" into "chr18"

* bcftools handles the duplicate INFO correctly and it fixes it! In case someone find it useful t

[2018-02-14 15:51] droazen commented on #4312
@thw17 I have a patch for this issue -- I am still testing it internally, but it should make it into the next GATK release.

[2018-02-14 15:59] droazen opened #4412 "HaplotypeCaller -contamination argument does not affect AD, but should"
The `-contamination` argument in `HaplotypeCaller` currently affects the PLs, but not AD, which seems bizarre. @ldgauthier agrees that it should affect AD as well. This is an issue in both GATK3 and GATK4.

[2018-02-14 17:29] jhl667 opened #4413 "funcotator and file locking"
Hi all,

Below error occurs trying to access Funcotator data source directory installed on lustre file system.  We have a non-lustre mounted fs for cases like this, but I thought it was worth bringing up.

[code]

[2018-02-14 17:38] thw17 commented on #4312
Thanks, @droazen!

[2018-02-14 18:45] LeeTL1220 commented on #4391
@davidbenjamin Can this issue be closed?

[2018-02-14 18:45] LeeTL1220 commented on #4355
@davidbenjamin Can this be closed?

[2018-02-14 18:47] lbergelson commented on #4409
Is this a problem in docker? We control the image so it should have plenty of file handles available.

[2018-02-14 19:30] davidbenjamin commented on #4355
Closed by #4360.

[2018-02-14 19:30] #4355 closed

[2018-02-14 19:31] davidbenjamin commented on #4391
Closed by #4394.

[2018-02-14 19:31] #4391 closed

[2018-02-15 14:11] #3983 closed

[2018-02-15 15:51] tomwhite commented on #4376
Using git bisect I found the commit that caused the performance regression: 8a366c7ba570c61338f7109b86c3284b80d5cf47.

If I revert this, then both BQSR and HC both take the expected amount of time running on an exome (~15 min, ~10 min, respectively).

[2018-02-15 16:07] lbeltrame commented on #4300
I can add that my (rather empirical) tests on 3.8 vs 4.0 show a noticeable increase in runtime (currently around 4-5 hours for an Agilent OneSeq enrichment on a non-AVX capable CPU). I can explain it in part with the lack of downsampling (as mentioned in the last comments of the above GH ticket), but it's still far more than what I used to see with 3.8.

Unlike the original reporter, however, I di

[2018-02-15 16:58] droazen commented on #4300
There was a confirmed performance regression in `BaseRecalibratorSpark` just before the 4.0 release: https://github.com/broadinstitute/gatk/issues/4376. I suspect that's what's responsible for the results reported above.

Until this is patched (most likely in the next GATK release), I'd recommend running the regular `BaseRecalibrator` instead of the spark version.

[2018-02-15 17:00] droazen commented on #4376
@tomwhite Very glad to hear that the cause of the regression is the same for both BQSR and HC! Could you test whether https://github.com/broadinstitute/gatk/pull/4314 resolves the issue as well (as opposed to an actual revert of https://github.com/broadinstitute/gatk/commit/8a366c7ba570c61338f7109b86c3284b80d5cf47)

[2018-02-15 17:03] droazen commented on #4409
There's no reason to even risk it becoming a problem in the future -- let's just include the fully-packaged jars in the docker image (since that is our standard binary distribution format anyway).

[2018-02-15 17:55] jonn-smith commented on #4413
@jhl667 I'm looking into this.

It looks like I neglected to set the sqlite connection to read only mode when connecting to the db file.  I'm going to update it to do so.

I'm not sure this applies when a read-only connection is created, but it looks like sqlite has some issues with NFS / distributed file systems:
- https://stackoverflow.com/questions/9907429/locking-sqlite-file-on-nfs-filesystem-

[2018-02-15 21:47] fnothaft commented on #4376
@tomwhite OOC, do you have any comment as to why bumping the ADAM version caused a performance regression? I'm not aware of any changes we've made in ADAM that would have impacted either BQSR or HC.

[2018-02-15 22:10] fnothaft commented on #4376
IIRC, the main commit in ADAM that would effect BQSR or HC was https://github.com/bigdatagenomics/adam/commit/1eed8e8e464f8f92a6e87afc1d334e751423e810#diff-abb5cd690409453a589fa8aadbfd7151 which _improved_ the performance of extracting regions from a 2 bit file. I run GATK4 HC pretty regularly with this change and haven't seen performance issues on datasets ranging in size from small targeted data

[2018-02-16 01:09] LeeTL1220 opened #4417 "Somatic CNV WDL does not work with cromwell 30"
The changes to make it work on tumor-only introduced an issue that did not occur in cromwell 29.

Thanks to @jsotobroad for the fix.

To fix:

Line 199 becomes:
[code]

Line 228 becomes:

[code]

Insert at line 329:
[code]

Line 356 becomes:

[code]

[2018-02-16 01:11] LeeTL1220 opened #4418 "Upgrade automatic WDL tests to use cromwell 30"
There are too many WDL conventions that work in cromwell 29 and not in 30.  Therefore, time to upgrade.

[2018-02-16 04:19] bbimber commented on #616
Thanks, this largely worked.  However, would it be possible to also get the contents as validationDataLocation, which is

/humgen/gsa-hpprojects/GATK/data/Validation_Data/

[2018-02-16 05:14] bbimber commented on #616
@jamesemery : i have run all integration tests, and I think this is a complete list of the remaining files I can hopefully get:

/private/gatk-tools-private/src/test/resources/withSymbolic.b37.vcf
/private/gatk-tools-private/src/test/resources/PhaseByTransmission/PhaseByTransmission.IntegrationTest.TP.vcf
/private/gatk-tools-private/src/test/resources/yri.trio.gatk_glftrio.intersection.annotated.f

[2018-02-16 15:21] tomwhite commented on #4153
@davidbenjamin thanks for the report. (And sorry for the slow reply, I was out at the time you reported it.) I agree with the optimisation you suggest for checking overlaps for SAMs.

For the `samRecordOverlaps`, I think that check predates the use of `TraversalParameters`. The correct fix is probably to remove the `if` clause since unmapped records are handled earlier in the method.

[2018-02-16 15:23] davidbenjamin commented on #4153
@tomwhite Thanks for the answer, and don't worry because David Roazen let me know you would be away for a while!

[2018-02-16 15:31] samuelklee commented on #3960
Duped in #4418.

[2018-02-16 15:31] #3960 closed

[2018-02-16 16:12] jonn-smith opened #4420 "Funcotator - Transcript position is being computed incorrectly in GencodeFuncotationFactory"
The `transcriptPosition` annotation is being computed incorrectly in the `GencodeFuncotationFactory`.  This erroneous logic must be replaced with logic that is correct for the definition of the field as found here:

https://wiki.nci.nih.gov/display/TCGA/Mutation+Annotation+Format+(MAF)+Specification

[2018-02-16 16:58] tomwhite commented on #4376
@droazen I ran #4314 and it did not solve the problem. When I reverted the ADAM patch from the #4314 branch I got the normal performance.

@fnothaft I wish I knew. @lbergelson said he saw more logs being produced. Another (untested) theory is that the Kryo registrations changed somehow. GATK only uses the 2bit code from ADAM, so it is surprising that it is having such an effect. I'm not sure how t

[2018-02-16 17:51] fnothaft commented on #4376
Hi @tomwhite! The serializer registrations in ADAM shouldn't effect any GATK serialization, unless you're serializing classes from ADAM (such as `org.bdgenomics.format.avro.AlignmentRecord`); additionally, we haven't seen any performance issues with serialization in ADAM 0.23.0 outside of the GATK. We actually made a number of patches to eliminate logging in 0.23.0 (relative to 0.22.0), so I'd dou

[2018-02-16 18:12] sooheelee opened #4421 "m2 gatk4 oncotated maf output includes rejected mutations"
Lee, just letting you know I've tagged you in a forum question.

---
The oncotated maf output includes many rejected mutations (using the configuration from the public spaces). This is bad practice. The unfiltered VCF (or preferably a tsv) should have these sites but we should not be annotating them or putting them in final outputs.

This Issue was generated from your [forums]
[forums]: https://ga

[2018-02-16 18:16] sooheelee commented on #4421
Lee has answered as had I.

[2018-02-16 18:16] #4421 closed

[2018-02-16 19:07] #4417 closed

[2018-02-16 19:07] #4418 closed

[2018-02-16 19:09] jamesemery commented on #616
@bbimber I think I uploaded them all though `/private/gatk-tools-private/src/test/resources/yri.trio.gatk_glftrio.intersection.annotated.filtered.chr1.vcf` doesn't exist in the gatk3 repo as named. I grabbed each of the versions that followed the naming convention for you though.

[2018-02-16 19:18] LeeTL1220 opened #4422 "M2 Oncotator WDL needs to be able to filter variants in the VCF before rendering the MAF"
Many users do not want mutations filtered in the VCF to show up in the MAF file.

Two things:

- Update the default M2 WDL to use `broadinstitute/oncotator:1.9.7.0` docker image.

- Add an optional flag to prune filtered mutations to the Oncotator task.  If this is set to True, add the following to the oncotator command: `--collapse-filter-cols  --prune-filter-cols`

This is unnecessary for the CN

[2018-02-16 19:24] LeeTL1220 commented on #4422
I think most cancer analysts will want this turned on by default.

[2018-02-16 19:33] LeeTL1220 commented on #4422
Though making this the default would affect @brigranger and @jnktsj.  Note that old behavior would be retained.

[2018-02-16 22:32] vdauwera opened #4425 "Automate building and pushing user docs to the website"
Build command is:

./gradlew gatkDoc -PphpDoc

Will update this issue with the location for pushing the docs to the website shortly.

[2018-02-16 22:33] vdauwera commented on #3520
@droazen @lbergelson This is the thing I was complaining about recently, I think you asked me to put in an issue. It's already here :)

[2018-02-17 00:46] bbimber commented on #616
@jamesemery - Thanks.  In the code, that file is referenced both in VariantEvalIntegrationTest.testSelect1(), and also in CombineVariantsIntegrationTest.uniqueSNPs().  If those pass, it must exist somewhere?

[2018-02-19 16:56] ameynert commented on #4346
Just to report I have observed this behaviour with version 4.0.1.2 as well.

[2018-02-19 20:49] bbimber commented on #616
@jamesemery - i will also look into whether this file is somehow created by subsetting another during tests.  in the meantime, would it be possible to also get these?  i'm pretty confident this is the final list:

gsa-hpprojects\GATK\data\Comparisons\Validated\HapMap\3.3\genotypes_r27_nr.b37_fwd.vcf

and the following are in privateTestDir:

overlapTest.bed
PhaseByTransmission/PhaseByTransmission.

[2018-02-19 22:30] bbimber opened #4426 "GATK4 FeatureInput vs. GATK3 RodBinding default names"
In GATK3, when a tool required a VCF/ROD file as an argument, it typically used RodBinding.  For example, VariantEval.evals.  When arguments are parsed, if no name is provided in the path (such as 'foo' in foo:/path/to/myVCF.vcf), then the argument name gets used as the RodBinding name.  This happens in ArgumentTypeDescriptor ~line 328.

In GATK, FeatureInput handles the analogous situation ~line

[2018-02-20 13:01] cmnbroad commented on #3807
This was fixed in https://github.com/broadinstitute/gatk/pull/4093. The ":+1" is no longer necessary.

[2018-02-20 13:01] #3807 closed

[2018-02-20 14:27] cmnbroad commented on #3520
The complexity of this output is a result of the fact that the framework allows tools to compose arbitrarily complex filter expressions using `and`, `not` and `or`. If we ignored (or disabled) that complexity, we could just display the count for each individual filter that is non-zero, without considering it's context, and it would always make sense. For the example above you'd see something reada

[2018-02-20 17:12] droazen commented on #4376
@tomwhite Can you check whether https://github.com/broadinstitute/gatk/pull/4314 has an effect? If not, we may need to revert the ADAM upgrade for now.

[2018-02-20 17:23] chandrans opened #4427 "CollectRnaSeqMetrics --IGNORE_SEQUENCE should not be required argument"
@chandrans commented on [Tue Feb 20 2018](https://github.com/broadinstitute/gsaweb/issues/89)

## Feature request

### Tool(s) involved
CollectRnaSeqMetrics

### Description
In Picard standalone version 2.16.0, --IGNORE_SEQUENCE is not required, but in GATK4 version, it is required and fails with an error if not provided. This should be an optional argument.

This Issue was generated from your [fo

[2018-02-20 18:19] droazen commented on #4376
@tomwhite Ignore my previous message, sorry -- I see that you commented above that you tested https://github.com/broadinstitute/gatk/pull/4314 and it had no effect. I've opened https://github.com/broadinstitute/gatk/pull/4428 to revert the ADAM upgrade for now until we understand the underlying cause of the performance regression.

@fnothaft It seems to me that the serializer registrations in ADAM

[2018-02-20 18:28] droazen commented on #3520
@cmnbroad How about we detect the common case of filters composed using only AND, and use simplified output in that case, and revert back to the complex output when filters are composed in more complex ways? That would resolve the problem in practice, since (as far as I know) all of the filters we actually use are composed using AND.

[2018-02-20 19:03] cmnbroad commented on #4427
The `--IGNORE_SEQUENCE` field has type `Set`, but omits the `optional` attribute (so it defaults to false). Since the field is initialized to an empty collection, the legacy Picard parser treats it as optional (i.e., as having been provided a value). The Barclay parser treats the empty collection as if it had not been provided. Its not obvious to me which is better, but adding "optional=true" to t

[2018-02-20 19:07] cmnbroad commented on #3520
Yeah, we can do that.

[2018-02-20 19:13] droazen commented on #4425
By "automate" here we mean: make this a standard step in the release process

[2018-02-20 19:35] lbergelson commented on #4346
the fix still isn't merged

[2018-02-20 19:40] droazen commented on #4367
@cmnbroad Could you get a PR in for this by Friday, if possible? I'd like to include it in the next point release.

[2018-02-20 19:49] cmnbroad commented on #4367
I'll have something shortly.

[2018-02-20 19:59] chandrans commented on #4427
That works for me Chris.

[2018-02-20 20:44] fnothaft commented on #4376
Hi @droazen! Again, I'm skeptical that it would be a serialization change as we have only made one change to serializer registration for htsjdk classes since 0.20.0:

[code]

Additionally, the [Kryo version used in ADAM has been unchanged since 0.20.0](https://github.com/bigdatagenomics/adam/commit/295fb5cf7bf1f089e82a1624e2056053e817b5f3). Since we do not shuffle `SAMRecord`s, we do not register

[2018-02-20 21:17] fnothaft commented on #4376
I would like to reiterate that the one code path in ADAM that is

1. changed between 0.20.0 and 0.23.0 and
2. that is used in both the GATK BQSR and HC engines

is the two bit file parsing and extraction engine. The main commit that changed in that code path was https://github.com/bigdatagenomics/adam/commit/1eed8e8e464f8f92a6e87afc1d334e751423e810, which reverts cleanly on ADAM trunk. There are a

[2018-02-20 21:46] #4346 closed

[2018-02-20 21:51] droazen commented on #4426
@bbimber Yes, this was a deliberate change, as it seemed better to provide each `FeatureInput` with a unique default name in the case of an argument of type `List<FeatureInput>`. However, I don't think that any code in GATK4 actually relies on the fact that the default name is equal to the path, so we might possibly be persuaded to change the default back if you can make a strong case for it and i

[2018-02-20 22:55] fnothaft commented on #4376
I'd also note that in the example command that @tomwhite is running uses just 4GB of memory on the driver while using a broadcast join strategy, which I believe is the default strategy used by BQSR. The [GZIP'ed dbSnp build 138 VCF in the hg18 GATK bundle](ftp://ftp.broadinstitute.org/bundle/hg18/) is ~1.4GB, and the hg18 2bit file is probably going to be ballpark 1GB of data. That's a lot of data

[2018-02-20 23:36] heuermh commented on #4376
I've been looking at 2bit performance today, comparing ADAM release version 0.20.0 to release version 0.23.0 and to git HEAD (0.24.0-SNAPSHOT), in various use cases, and do not see any performance differences.

@tomwhite `loadReferenceFile` in ADAM only supports local 2bit files, what happens in between the file in `gs://` cloud storage to when you load it via ADAM APIs?

[2018-02-21 12:53] chandrans opened #4433 "Picard tools report 0 for exit code even if they fail"
I think this user report sums it up nicely.

----
User Report
----

In my BASH scripts I often use "$?" to monitor the exit status of a process and normally stop if there is an error. However, I am using the latest version of GATK (4.0.0.0) and some tools return 0 exit status even if they fail. Instead, they display the following message to STDOUT:

    Tool returned:
    1

Though inconvenient fo

[2018-02-21 13:24] cmnbroad commented on #4433
Yes, the return value for Picard tools are not propagated properly when run through GATK. We'll try to get the fix in for the next release. Closing as a dup of https://github.com/broadinstitute/gatk/issues/4329.

[2018-02-21 13:24] #4433 closed

[2018-02-21 13:44] chandrans commented on #4433
Thanks Chris. Did not realize this was a duplicate.

[2018-02-21 15:55] lbergelson commented on #4346
@ameynert The fix just went in. It will be in the next release.

[2018-02-21 17:19] Vzzarr opened #4434 "error: unmappable character for encoding ASCII"
When using the command `./gradlew bundle` to build the GATK project downloaded from GitHub I receive this error:

[code]
Can you please "rewrite" the name _Gonçalo_? It is always cause of exceptions when building the GATK project.

[2018-02-21 17:25] droazen commented on #4434
@Vzzarr I just tried `./gradlew bundle` on the latest master and it succeeded. Could you please try the following:

1. Make sure that your git clone of the GATK repository is up-to-date by running `git checkout master` followed by `git pull --ff-only`.

2. Do a clean build: `./gradlew clean bundle`

Let us know if you still have problems building the GATK.

[2018-02-21 17:26] jacobrh91 opened #4435 "Async I/O java-option flags are ignored"
Users are supposed to enable/disable async I/O options by passing java option flags to the gatk launch shell script:

`
./gatk-4.0.1.2/gatk --java-options "-Dsamjdk.use_async_io_read_samtools=true -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=true" <Tool and its flags>
`

It appears that no matter how these flags are passed, and even if one hard codes the variables

[2018-02-21 17:35] lbergelson commented on #4434
We've definitely seen similar problems before with accented characters.  Might be system dependent since I can't reproduce the issue...  What OS are you building on?

[2018-02-21 17:46] Vzzarr commented on #4434
@droazen I followed your instructions, but same error, I'm sorry

@lbergelson
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

Anyway I remember that I faced this issue some months ago and I resolved it adding to .basrc this line
`export JAVA_OPTS=-Dfile.encoding=UTF8`, but now for some reason I don't know why when I use `./gradlew bundle` is not used this ja

[2018-02-21 17:50] droazen commented on #4435
@jacobrh91 Thanks for the report! I believe this is the result of our (still-incomplete) transition to using a GATK configuration file for certain toolkit-wide settings. Could you please try making a copy of `src/main/resources/org/broadinstitute/hellbender/utils/config/GATKConfig.properties`, editing the `samjdk.use_async_io_read_samtools` line in that file to have a value of `true` rather than `

[2018-02-21 17:52] droazen commented on #4435
@jonn-smith Can you please chime in here as well to tell us whether it's currently possible to override a single system property setting in Owner on the command line, or is `--gatk-config-file` currently the only way?

[2018-02-21 18:07] lbergelson commented on #4434
Hmn, that class is actually in picard.  We'd have to change it there.

[2018-02-21 18:15] jonn-smith opened #4436 "Configuration file overrides system properties, is missing from bundled GATK binary distribution"
Parsing the GATK config file currently overrides any command-line specified config options for system-level parameters.  Options explicitly specified on the command-line should override what is in the config file.

The `GATKConfig.properties` file is missing from the packaged binary release (as created by`gradle bundle`).  Gradle must be updated to include it.

[2018-02-21 21:51] bbimber commented on #4426
I can see why you'd change this; however, it breaks this particular legacy tool.  VariantEval uses those labels to populate columns in the reports is creates.  In GATK3, if there is no user-supplied label on in the argument, it will simply use the argument name, which ends up being either eval, comp or dbsnp.  Those strings end up in most reports that are created.  Switching these to the filepath

[2018-02-21 22:29] bbimber commented on #4426
Also - you asked about workarounds.  The attached is not pretty, but it is a minimal way to let tools like VariantEval provide their old behavior.  It essentially adds a method in FeatureInput to check whether the name matches the default value it would use.  Upstream code can call FeautreInput.isUserSuppliedName() and act accordingly.  Rather than use the scheme I do here with string matching, we

[2018-02-21 22:38] bbimber commented on #4426
One other related bit of information:

From what i can see, there's two different patterns in GATK4.  For example, VariantWalker has the user provide a String drivingVariantFile, which is later initialized as:

drivingVariantsFeatureInput = new FeatureInput<>(drivingVariantFile, "drivingVariantFile");

The only reason I can see not to declare this as a FeatureInput in the arugment is so the custom

[2018-02-21 23:11] apeltzer commented on #4158
Unfortunately, that doesn't resolve the issue. I'll see whether I can put some logs together to get you a better overview.

[2018-02-22 15:24] jonn-smith commented on #4435
Currently the code for the config file parsing will override values passed in on the command-line, so that explains one reason this is happening.

The fix should be pretty straightforward.

Opened #4436

[2018-02-22 16:02] chandrans opened #4439 "Option for CollectHsMetrics to not merge adjacent intervals"
## Feature request

### Tool(s) involved
CollectHsMetrics and perhaps all Picard tools

### Description
When running on multiple intervals that are adjacent, the tool merges the intervals. Users would like an option to not have them merged.

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/11439/gatk4-collecthsmetrics-how-to-avoid-the-over

[2018-02-22 17:08] bbimber opened #4440 "Creating a dummy FeatureInput in GATK4?"
VariantEval compares input VCF(s) to comparison tracks(s).  One can execute the tool without providing comparison tracks.  In GATK3, when no comps are provided, the tool creates a dummy RODBinding, not backed by a file.  This is passed through the downstream code in the tool.  In GATK4, RODBinding has become FeatureInput.  Is there a way to replicate this dummy FeatureInput behavior in GATK4?  I d

[2018-02-22 20:19] eitanbanks commented on #4412
@ldgauthier I believe that we used to adjust the ADs and then it confused the hell out of people.  They could see those bases in the reads so complained that the ADs were wrong.  FWIW I don't think that the PLs and ADs need to "match" -- the user is asking us to take contamination into account when calculating the likelihoods, but that doesn't mean that the bases aren't present (nor that those bas

[2018-02-22 20:24] samuelklee commented on #4341
Note #4439, which concerns a Picard tool that might also need options for interval merging exposed.  Just something to be aware of---I'm guessing that it's probably a bit ambitious to have identical options for all interval inputs to both Picard and GATK tools?

[2018-02-22 20:32] chandrans commented on #3426
I don't think this is still an issue? https://github.com/broadinstitute/gatk/pull/4038

[2018-02-22 21:00] jamesemery opened #4441 "Spark custom partitioning of mates doesn't handle secondary or supplementary reads"
When we ingest a queryname sorted bam in spark using `ReadsSparkSource.putPairsInSamePartition()`, we shift reads between partitions in an attempt to keep reads together with their mates. Unfortunately the code currently makes the assumption that there are only two mates in a pair and thus only shuffles around at most one read per partition. This assumption is not entirely correct, as if there are

[2018-02-22 21:12] ldgauthier commented on #4412
Fair point.  We don't drop 1 read out of every thousand in a exome pileup because they're base quality 30.

[2018-02-22 21:47] droazen opened #4443 "StreamingPythonScriptExecutor: encapsulate handshake process within a single method (for both Python and Java)"

[2018-02-22 21:52] droazen opened #4444 "StreamingPythonScriptExecutor: explore use of a 2nd FIFO for synchronization (instead of relying on the Python prompt)"
Use of the second FIFO should be encapsulated behind an easy-to-use API on the Python side, perhaps with methods such as "writeBatchOutput" that would both write a batch's worth of output and signal to Java that the batch is done using the second FIFO.

[2018-02-22 23:49] samuelklee opened #4446 "Ploidy model for DetermineGermlineContigPloidy needs to check that intervals used in case mode are identical."

[2018-02-23 03:42] bbimber opened #4447 "GATK3 RodWalker vs. GATK4 LocusWalker/VariantWalker"
I am looking into porting VariantEval to GATK4.  In GATK3, this used RodWalker, which basically iterated all covered sites, driven by a ROD file.  A VCF is typically a pretty sparse file, so you end up with large stretches of non-covered positions of the genome.  In GATK3, RodWalker / AlignmentContext explicitly tracked getSkippedBases(), which seems designed to allow tools to track stretches of R

[2018-02-23 10:39] AxVE opened #4448 "Multithread / multicore"
Is there a way to specify the number of threads or cores to use ? Specifically for HaplotypeCaller ?
In GATK3, we had -nt and -nct (more of less reliable for what I read) but it doesn't seems to be here anymore.

[2018-02-23 11:29] magicDGS commented on #4448
For the new GATK framework the multi-thread support is through Spark (see https://github.com/broadinstitute/gatk/issues/2345 for more details).

[2018-02-23 13:02] AxVE commented on #4448
Ok , thanks for the info ^^

[2018-02-23 15:12] jacobrh91 commented on #4435
Passing in the properties file did work (with the --gatk-config-file option)

However, of the four tools I tested (MarkDuplicates, BaseRecalibrator, ApplyBQSR, and HaplotypeCaller) all of the tools accepted the --gatk-config-file option except for MarkDuplicates, which complains that it is not a recognized option.

Perhaps this should be turned into a separate issue?

Thanks

[2018-02-23 15:40] AxVE commented on #4448
So it seems we can't set multithreading for non-spark tools ?

[2018-02-23 15:59] lbergelson commented on #4448
Yes, that's true in general.  The -nt / -ntc flags options were never very good in gatk3.  They usually scaled very poorly with number of cores, and were the cause of a lot of complexity and bugs.  We decided not to try to roll our own map reduce framework for gatk4, but use an existing much better one, ie spark.

We recommend multiprocess parallelism with an external job runner like [cromwell](ht

[2018-02-23 16:09] AxVE commented on #4448
Thanks for the information.
For info, I asked because I'm currently benchmarking SGE cluster vs Spark usage.

[2018-02-23 16:09] #4448 closed

[2018-02-23 16:18] eitanbanks commented on #4412
Not sure that's right.  Does it include bases from MQ0 reads?

[2018-02-23 17:34] bbimber commented on #4447
In the way VariantEval uses this, another way to think about this problem is to determine the difference between the theoretically requested intervals (either the size of the reference genome, or limited by -L), and the # of sites actually iterated.  Can code in a Walker easily figure that out?  It seems like TraversalParameters.getIntervalsForTraversal(), which is a list of intervals, would provi

[2018-02-23 17:39] bbimber opened #4449 "VariantWalker doesnt respect -L?"
Unless I'm misreading the code, doesnt VariantWalker ignore any restrictions the user supplies using -L?  In VariantWalkerBase.traverse(), it doesnt seem to factor in intervalsForTraversal.

Would creating/adding some kind of VariantIntervalFilter that is constructed with intervalsForTraversal and added to the stream/forEach be the right solution?

[2018-02-23 17:44] lbergelson commented on #4447
@bbimber There's no principled reason why it doesn't have a getSkippedBases() call.  It just wasn't implemented because we didn't know if there was demand for it.  You're the second person who wants it though, so we should probably add it.  In the meantime it's very easy to do it yourself by saving the last variant you saw in a field.

[2018-02-23 17:47] droazen commented on #4449
@bbimber `VariantWalker` definitely respects `-L`. Only variant records that overlaps the `-L` intervals get passed to `apply()`. The `intervalsForTraversal` get set on the driving variants input in `VariantWalker.onStartup()`

[2018-02-23 17:47] #4449 closed

[2018-02-23 17:54] bbimber commented on #4447
Alright.  Are there parallelization implications if I try to stash this in a field?

[2018-02-23 17:56] bbimber commented on #4449
yes, you're right.  i was misinterpreting something in the VariantEval output.

[2018-02-23 18:09] lbergelson commented on #4447
No problems. The walkers have no built in parallelism so there's no problem with using state.  It makes it harder to adapt to spark, but that's probably not a big deal.

[2018-02-23 18:22] jamesemery opened #4450 "VariantAnnotator, do further evaluation of incorrect math added to AnnotationUtils"
There were a number of methods that got ported in VariantAnnotator to make the RankSumTest output match the gatk3 output when computed on variants based on the pileup. Most of this code is buggy and in many cases simply wrong. We should reevaluate this code and fix it to do the correct thing and write stronger tests for the changed behavior in VariantAnnotator.

[2018-02-23 20:09] jamesemery opened #4452 "VariantAnnotator, RankSumAnnotation for pileup data should not compute the stratified pileup over Indels"
In keeping concordance with gatk3, when computing the RankSumAnnotation for pileups when the likelihoods map is not available we attempt to match the bases of the reads to the allele in the variant context. This is problematic if the variant is not a snp. For most other annotations we explicitly only compute the annotation for SNPs in this case, but in order to mimic gatk3 behavior it will still a

[2018-02-23 20:32] #4329 closed

[2018-02-23 20:35] bbimber commented on #4447
alright.  in this situation, I am pretty sure that even though GATK3 VariantEval tracked this value using getSkippedBases(), I'm pretty sure it can be inferred using the total size of intervals requested (either user-supplied or the size of genome).  At least so far I can find a situation where this isnt accurate.  This saves needing to stash the value, should it ever get some kind of parallelizat

[2018-02-23 20:38] bbimber opened #4453 "Appropriate Differences in Dictionaries?"
I noticed that in the GATK3 test data, the dictionary built into the test file noGenotypes.vcf and human_g1k_v37.dict do not line up.  They're close, but the VCF's header dictionary has hs37d5 and NC_007605.  On both GATK3 and GATK4 this seems to be allowed.  Should it?

[2018-02-23 21:00] chandrans commented on #4427
BTW Chris, is this okay here? I was going to move it to Picard repo, but realized you are okay taking this on. Thanks

[2018-02-23 21:14] jamesemery opened #4454 "Docker nightly builds seem to have stopped"
https://hub.docker.com/r/broadinstitute/gatk-nightly/tags/ The last build in the repository seems to be from the correct time, but there are no new tags since the 13th. We should figure out what is happening and make sure the builds are being uploaded.

[2018-02-23 21:41] cmnbroad commented on #4427
This one is OK since even though its a Picard tool, the issue is specific to GATK.

[2018-02-23 23:28] cmnbroad commented on #4367
Reopening as a placeholder since we really need t do this in Picard as well.

[2018-02-24 01:06] bbimber opened #4456 "VariantWalker if DrivingVariants has duplicates per locus?"
I'm trying to figure out the best way to replicate GATK3 behavior in GATK4.  The GATK4 VariantWalker iterates all variants from VCF(s), calling apply() once per variant.  If the input VCFs has duplicates at a given location, apply() is called multiple times for the same locus.  In GATK3, VariantEval iterates each locus, and generates a list of variants at that site.  I'm trying to figure out the m

[2018-02-24 09:47] wujh2017 commented on #4389
@samuelklee
        Thanks for your reply. I have solved the problem by setting up  gatk environment(running the command conda env create -n gatk -f gatkcondaenv.yml ).
        But now i have another problem  like this :
**python exited with 1
Command Line: python /tmp/wujh/cohort_denoising_calling.2811237809986304051.py --ploidy_calls_path=DetermineGermlineContigPloidy/test-calls/ --output_calls_

[2018-02-24 10:13] wujh2017 opened #4457 "GermlineCNVCaller"
Hi
## I have a problem when i was runing GermlineCNVCaller of GATK4 beta.The detail as followed.
**
Command Line: python /tmp/wujh/cohort_denoising_calling.7794651839449939395.py --ploidy_calls_path=DetermineGermlineContigPloidy30/change30-calls/ --output_calls_path=GermlineCNVCaller30/S30_cohort_run-calls --modeling_interval_list=/tmp/wujh/intervals7463528925479894950.tsv --output_model_path=Germ

[2018-02-24 13:59] samuelklee commented on #4457
Hi @wujh2017,

Note that the numbers in change30-model/mu_mean_bias_j_lowerbound__.tsv indicate the mean bias per *contig*, not per *sample*.

It looks like you are providing only 4 samples to GermlineCNVCaller, even though you provided 30 samples to DetermineGermlineContigPloidy.  Are these 4 samples included in those 30?  Typically, you would just provide all 30 samples (along with their ploidy

[2018-02-24 16:09] jjfarrell opened #4458 "StructuralVariationDiscoveryPipelineSpark: Invalid interval exception"
When running  StructuralVariationDiscoveryPipelineSpark (GATK 4.0.1.1) on a hadoop cluster, the following exception occurs. The pipeline has been running fine on other cram files.

**Caused by: java.lang.IllegalArgumentException: Invalid interval. Contig:chrUn_JTFH01000312v1_decoy start:0 end:0**

 Below is the stack and other details.

The pipeline looks like it is running through all the contigs

[2018-02-25 19:32] chandrans commented on #4427
Yep, got it :)

[2018-02-26 01:30] wujh2017 commented on #4457
@samuelklee
I have realised my mistake and changed it .everything is ok now,thank you.

[2018-02-26 04:16] davidbenjamin commented on #4412
I'm for keeping all the bases in the AD because what the `-contamination` argument does is very strict.  The adjusted alt AD would be a conservative lower bound and in this case I feel the raw AD would be more informative.  But why not compromise and annotate the variant with the number of reads dropped by `-contamination`?

[2018-02-26 04:18] #4390 closed

[2018-02-26 04:28] davidbenjamin commented on #4325
@cxfustc We have no plans for now to Sparkify Mutect2 because it is trivially parallelizable.  In our wdl we simply scatter over disjoint intervals and merge the resulting vcfs.  Is there an argument in favor of Spark over this approach?

[2018-02-26 11:20] Vzzarr commented on #3066
I report even my experience which is similar, I hope it might be useful for debugging:

[code]

As you can see in my case I executed HaplotypeCallerSpark and I declared the output file in normal File System, not HDFS (I hope it's not a problem, because of pipeline requirements). And so I faced with this exception:

[code]

Moreover while executing this tool in local mode with the same input sample

[2018-02-26 14:38] marchoeppner opened #4459 "conda issue? /bin/env python - too many levels of symbolic links"
Hi,
I recently started getting error messages when running a Nextflow pipeline for WGS analysis. I am using GATK 4.0.1.2 and was wondering whether:

/bin/env python - too many levels of symbolic links

may have to do with a broken conda environment (which GATK seems to use)? This happens for tools such as GenomicsDBImport. If I run the job in question outside of Nextflow, it seems to start just fi

[2018-02-26 14:52] cwhelan commented on #4458
Hi @jjfarrell, thanks for trying out the experimental GATK-SV tools.

It looks like you hit a bug in the tool. If you don't mind, it would be great to figure out how to reproduce the issue. Could you send us the alignment that caused the issue so that we can try to fix the problem? We'd need the alignments of assembled contig `asm010450:tig00000` from your contig sam file. (ie `grep asm010450:tig0

[2018-02-26 15:22] cmnbroad commented on #4459
Hi @marchoeppner - a few questions. It does sounds like a bad conda or python environment. Is the workflow running from within the GATK conda env when you see this (you would have had to have manually created it using the gatkcondaenv.yml file shipped with GATK4). It would be helpful to see the command line that led to this message, and the context in which it appears. Although GATK4 requires the

[2018-02-26 15:31] SHuang-Broad commented on #4458
I'm able to create a dummy test data that reproduces the same error messages.
On it to fix now.

[2018-02-26 15:46] jonn-smith commented on #4435
@jacobrh91 Yeah - can you submit that as a separate issue?

[2018-02-26 15:50] cmnbroad commented on #4435
Unlike the other 3 tools, MarkDuplicates isn't a native GATK tool, its a Picard tool, so it won't recognize the standard GATK options. Not sure if we can/should to try to do something to minimize the confusion around that.

[2018-02-26 16:26] SHuang-Broad commented on #4458
Found the problem.
Essentially an edge case bug that wasn't tested in the unit tests:
For this strand-switch event, the `POS` was&mdash;expectedly&mdash;inferred to be a location 1 base before the left boundary of affected reference region; the left boundary in this case turns out to be `chrUn_JTFH01000312v1_decoy:1`.
Just need to add guards for these edge cases following the VCF specs.

[2018-02-26 16:38] skwalker opened #4460 "SelectVariants doesn't work with file of IDs anymore"
In GATK4 (specifically 4.0.1.2), you can no longer give SelectVariants a file of variant IDs to keep. There isn't any error message, but the output VCF is empty. (It works in GATK3)

[2018-02-26 16:38] tomwhite commented on #4376
@fnothaft I tried reverting 1eed8e8 and the performance was back to normal! So it would be worth reverting in ADAM for the next release if possible.

[2018-02-26 16:47] cmnbroad commented on #4034
This was fixed in https://github.com/broadinstitute/gatk/pull/4094.

[2018-02-26 16:55] cmnbroad commented on #4460
@skwalker Which argument did you use to specify the file ? In GATK4, you need to specify a file that ends in either ".list" or ".args". Otherwise the value will be taken as a literal.

[2018-02-26 17:47] LeeTL1220 opened #4461 "Spark-ify RevertSam"
`RevertSam` is an easy tool to parallelize and it is *very* slow.  Can we make it a Spark tool?

There is going to be more demand to convert bams from hg19 to hg38 and `RevertSam` is part of that process.

[2018-02-26 18:27] bbimber commented on #4456
Yes, I'd also assume that. Thanks, I'll check that out.

[2018-02-26 18:27] #4456 closed

[2018-02-26 18:50] lbergelson commented on #4461
That seems very doable.

[2018-02-26 19:29] #4376 closed

[2018-02-26 19:42] jamesemery opened #4462 "VariantAnnotator, extract a common interface between readsLikelihoods and UnfilledReadsLikelihoods."
As part of the implementation of VariantAnnotator, to avoid significant changes to the annotation interfaces a subclass of ReadLikelihoods was made to support partial data that was backed up by read pileups. Unfortunately since functionality is entangled with its superclass, this subclass is going to be subject to issues as more likelihoods functionality is added. A common interface between the tw

[2018-02-26 21:00] jamesemery commented on #4454
Upon further investigating, the builds are indeed there. Dockerhub is deprecating their build security scan feature, and in the meantime it only allows one scan of an image a day. Because we tag each image with a different name they show up in the nightly build repository as being unscanned and thus get binned at the bottom of the page (after scrolling through everything since the beginning of tim

[2018-02-26 23:39] #51 closed

[2018-02-27 08:52] dariober commented on #4363
For the record, the conversion from '7972545' to '7.97254e+06' happens when the vcf file is passed through `bcftools`.

[2018-02-27 10:52] tomwhite commented on #4301
I might be missing something, but this looks like it iterates over assembly regions, rather than loading them all at once. `Utils.stream` converts an iterator to a stream, but even that doesn't load them all into memory as it basically creates a one-shot `Iterable` that just returns the passed in `Iterator` (this is what `() -> iterator` does).

[2018-02-27 15:36] SHuang-Broad commented on #4332
closed by #4385

[2018-02-27 15:36] #4332 closed

[2018-02-27 17:15] lbergelson commented on #891
Closing since google reads are no longer a thing.

[2018-02-27 17:15] #891 closed

[2018-02-27 17:21] lbergelson commented on #1206
The readstore api has been turned off at google and GA4GH is moving to use hts-get instead, so closing this one.

[2018-02-27 17:21] #1206 closed

[2018-02-27 18:53] #4435 closed

[2018-02-27 18:53] #4436 closed

[2018-02-27 20:28] mbabadi opened #4464 "Write python unit tests for Viterbi-based segment quality calculation"

[2018-02-28 00:05] lucidtronix opened #4465 "Remove PyVCF, biopython dependencies"
maybe we can keep pysam?

[2018-02-28 08:40] sachalau opened #4467 "GarbageCollector error in GenotypeGVCFs after GenomicsDBImport after HaplotypeCaller"
Hello,

I am using the latest gatk4 from bioconda (4.0.2.0-0).

I have genotyped 40 bacterial samples with HaplotypeCaller and -ERC BP_RESOLUTION. I have then merged the gvcfs files in a genomic db using GenomicsDBImport.

However, when I try genotyping this genomics db, the genotyper starts but hangs rather rapidly like so :

[code]
In between the last ProgressMeter and the Shutting down of the e

[2018-02-28 13:49] cmnbroad commented on #4465
@lucidtronix Whats the motivation for wanting to keep it ? I think we really want to avoid it if at all possible, but if there is a reason its necessary let us know and we can discuss.

[2018-02-28 14:22] samuelklee commented on #4457
@wujh2017 Great!  Let us know if you have any more feedback.  Please be aware that both DetermineGermlineContigPloidy and GermlineCNVCaller are still in beta.  There are some parameters that may need to be tuned appropriately for your data.

[2018-02-28 14:22] #4457 closed

[2018-02-28 15:02] davidecarlson opened #4470 "Include non-variant sites in output of genotypeGVCFs for GATK 4?"
Hi GATK devs,

In version 3.X of GATK, it was possible to include non-variant positions in the output vcf file produced from genotypeGVCFs using the "--includeNonVariantSites " flag.  This flag appears to have been removed with the switch to GATK 4.

After examining the tool documentation, I don't see any equivalent option for genotypeGVCFs that would output non-variant positions in the vcf file.

[2018-02-28 16:51] chandrans commented on #4470
Hi Dave. There are plans to do this in https://github.com/broadinstitute/gatk/issues/2865

[2018-02-28 17:07] davidecarlson commented on #4470
Thanks!  I'll close this ticket and follow #2865.
Cheers,
Dave

[2018-02-28 17:07] #4470 closed

[2018-02-28 17:41] lbergelson commented on #4467
@Cashalow The GC error indicates that you are running out of memory.  How much physical memory does your machine have, and how much are you allocating with `-Xmx`?

[2018-03-01 06:42] vdauwera commented on #3932
@cmnbroad Sorry if we've already discussed how we were going to address this -- do we have a path forward?

[2018-03-01 11:09] Cashalow commented on #4467
okay thanks a lot, I have tried with more resources than the standard which was 8Go I think. However I was wondering whether you knew what were the main parameters that influence the amount of Ram need by GenotypeGVCFs. For this particular example I only used 50 of them for instance. Do you know whether  the -ERC BP_RESOLUTION instead of -ERC GVCF of haplotype caller will cause GenotypeGVCF to con

[2018-03-01 15:53] alrafaykhan opened #4475 "Cannot find '.git' directory"
Issue while Building GATK4

sudo   ./gradlew bundle
Starting a Gradle Daemon, 1 incompatible and 1 stopped Daemons could not be reused, use --status for details

FAILURE: Build failed with an exception.

* Where:
Build file '/home/rafay/gatk-4.0.2.0/build.gradle' line: 289

* What went wrong:
A problem occurred evaluating root project 'gatk'.

* Try:
Run with --stacktrace option to get the stack t

[2018-03-01 16:46] cmnbroad commented on #4475
@alrafaykhan Did you clone (this) repository with git, and if so, is the root of that clone the location from which you're running ./gradlew ? I'm not sure how that happened, but it seems like you have  build.gradle, but not the rest of the repo. You also can download a [zip file with GATK already built](https://github.com/broadinstitute/gatk/releases) if you just want to run it.

[2018-03-01 17:55] droazen commented on #4475
@alrafaykhan I'm guessing that you downloaded the source code zip instead of actually cloning our git repository. You need to clone the repository to build GATK.

[2018-03-01 18:05] cmnbroad commented on #3932
Well, my preference would be to move forward with https://github.com/broadinstitute/picard/issues/1120. Then this issue reduces to just the jar name (well, once the Picard tool doc is updated), which is trivial. Barring that, this PR could be resurrected and completed.

[2018-03-01 19:12] davidbenjamin commented on #4402
Fixed by PR #4466.

[2018-03-01 19:12] #4402 closed

[2018-03-01 19:12] davidbenjamin commented on #4363
Fixed in PR #4466.

[2018-03-01 19:12] #4363 closed

[2018-03-01 19:13] davidbenjamin commented on #4011
@eitanbanks Fixed in #4466.

[2018-03-01 19:13] #4011 closed

[2018-03-01 19:13] davidbenjamin commented on #3889
Fixed in #4466.

[2018-03-01 19:13] #3889 closed

[2018-03-01 19:14] davidbenjamin commented on #3514
@sooheelee Done in PR #4466 after verifying that it doesn't hurt sensitivity on hg19.

[2018-03-01 19:14] #3514 closed

[2018-03-01 21:32] droazen opened #4478 "Does GCS NIO support appending to existing files?"
A question for @jean-philippe-martin from @kcibul and @geoffjentry

[2018-03-02 04:18] alrafaykhan commented on #4475
Yes i have downloaded source code (zip) from https://github.com/broadinstitute/gatk/archive/4.0.2.0.zip

[2018-03-02 10:20] AxVE commented on #4434
Hi,
I have encounter the same problem on our cluster for GATK and some other tools.
To solve this , you can try :

[2018-03-02 12:22] Vzzarr opened #4479 "BQSRPipelineSpark different Execution Times"
I don't know if it is an issue or I am doing something wrong, but I report my experience in case might be useful for GATK developers:

I took some Performance Analysis for the tool BQSRPipelineSpark (when GATK 4.0 was still in Beta, for understanding there was still `gatk-launch` as command to execute the tool), processing a Whole Exome Sequencing Genome of about 14 GB (obviously after applying Fa

[2018-03-02 14:33] cmnbroad opened #4480 "Fix FeatureManager feature discovery"
FeatureManager dynamically discovers all `FeatureInput` arguments in a tool by accepting a (pre-populated) CommandLineProgram object, which it then passes to static methods in Barclay. Those methods perform the same `@Argument`/`@ArgumentCollection` discovery already implemented by the parser, but using separate, out-of-date code paths that currently don't discover `@PositionalArguments` or plugin

[2018-03-02 14:57] droazen commented on #4480
This ties into the URI class design meeting we're having next week -- I'd say wait until then before starting any refactor of this part of the code.

[2018-03-02 15:00] #4475 closed

[2018-03-02 15:12] droazen commented on #4479
Possibly you are running into the Spark performance regression described in https://github.com/broadinstitute/gatk/issues/4376. This was patched in the latest release (4.0.2.0) -- could you try running with that release and see if the issue is resolved?

[2018-03-02 16:27] sooheelee opened #4481 "Minor: Consider more conventional metadata header formatting of CNV outputs"
Just some thoughts for @samuelklee.

For example, CollectFragmentCounts produces the following hybrid-type `@RG` line:

![screenshot 2018-02-22 15 05 48](https://user-images.githubusercontent.com/11543866/36908820-66b90938-1e0a-11e8-8830-793ff3f71e96.png)

[code]
Official format specifications are at https://samtools.github.io/hts-specs/. Let me briefly describe the  #choices.

---
If we are to fo

[2018-03-02 17:01] samuelklee opened #4482 "Check that HDF5 warnings are caught during CNV TSV/HDF5 reading."
@thebkaufman1995 encountered the following warning when trying to use TSV count files in the gCNV pipeline:

[code]

My guess is this is because we first try to open counts files as HDF5 and then fall back to TSV (catching the relevant exception).  Perhaps slightly different versions of the HDF5 library result in these warnings being emitted.

[2018-03-02 17:10] samuelklee commented on #4481
Thanks for these suggestions, @sooheelee.  Note that there's already an issue filed to add `@PG` tags here: https://github.com/broadinstitute/gatk/issues/4117  As for the `@RG` tag, I was following the example of the SV team, which I saw introduced a custom RG ID (although this may only be used for tagging intermediate files---not sure?)  Although not ideal, I think passing the sequence dictionary

[2018-03-02 17:10] #4481 closed

[2018-03-02 17:23] coreywischmeyer commented on #2689
I've just run into this issue, is it okay to ignore these warnings? I'm new to GATK so it's not clear to me what a combination operation is, and if it has effect on the output.

[2018-03-02 17:37] Vzzarr commented on #4479
@droazen great! I faced this problem because I am using a self deployed Docker Swarm and so I was using a GATK version of few weeks ago. Sorry for opening an useful issue.

For completeness, I used a VM with double of resources and it took 36,92 minutes, as predictable.

[2018-03-02 17:37] #4479 closed

[2018-03-02 17:55] droazen commented on #4479
@Vzzarr Was the 36,92 minute run with version `4.0.2.0`?

[2018-03-02 18:03] Vzzarr commented on #4479
@droazen Yes, I simply re-cloned the GATK GitHub repository and executed `./gradlew bundle` as always. I used a 16 cores with 110 GB RAM VM

[2018-03-02 18:05] droazen commented on #4479
:+1: great, glad to hear the fix worked for you!

[2018-03-02 18:35] #4312 closed

[2018-03-02 18:37] droazen opened #4483 "StandardCallerArgumentCollection should encapsulate loading of the contamination file"
Currently, `StandardCallerArgumentCollection`, which contains the `-contamination-file` argument, requires that the contamination file be loaded externally, and its contents then passed back in to the argument collection via `setSampleContamination()`. This is rather poor design, and an invitation for bugs. We should refactor so that `StandardCallerArgumentCollection` handles the loading of the co

[2018-03-02 19:04] sooheelee commented on #4481
I should have checked to see if a related issue ticket existed. Glad these descriptions can be of use.

[2018-03-02 20:10] droazen opened #4484 "Remove hardcoded system properties from gatk frontend script that collide with those in the GATK config file"
We should rely on the GATK config file for the default values for these system properties, rather than hardcoding them into the `gatk` frontend script.

[2018-03-02 20:11] droazen commented on #4484
For @jonn-smith

[2018-03-02 20:11] droazen opened #4485 "Package example GATK config file in the startup dir of the GATK docker image"

[2018-03-02 20:11] droazen commented on #4485
For @jonn-smith

[2018-03-02 20:13] droazen commented on #4425
@vdauwera We'll need the command to actually upload the docs before we can make this a standard step in our release process.

[2018-03-02 20:21] b-kaufman opened #4486 "Clearer exception messages for ploidy priors in DetermineGermlineContigPloidy"
Currently if the number of headers do not match the number of rows it manifests as:`AssertionError: Some contigs do not have ploidy priors`. It would be good if the error message could more explicitly state how the ploidy prior file is malformed. In the event where it's actually the case it might also be worth explicitly stating which contig was found not to have a ploidy prior.

[2018-03-02 21:35] chandrans opened #4487 "Djava.io.tmpdir and TMP_DIR need to be set ?"
A user originally reported a RuntimeIOException: Attempt to add record to closed writer in SplitNCigarReads. It seems setting TMP_DIR helps even though user had Djava.io.tmpdir set. Is this expected? The user post below should help as well.

----
User Report
----

Hi @Sheila and @gerzs,
I figured out the issue (at least for me). It stems from where SplitNCigarReads is writing the temporary files.

[2018-03-05 02:48] kgururaj commented on #2689
Yes, as long as you are using the tool to combine gVCF files for the purpose described here: https://gatkforums.broadinstitute.org/gatk/discussion/10061/using-genomicsdbimport-to-consolidate-gvcfs-for-input-to-genotypegvcfs-in-gatk4

[2018-03-05 03:13] coreywischmeyer commented on #2689
Thanks for answering my question!

[2018-03-05 08:36] Cashalow commented on #4467
Hello again !

I have tried with many different setups, allowing for more RAM (23Go) and with -ERC GVCF instead of -ERC BP_RESOLUTION but I can never GenotypeGVCF my dataset of 50 microbial genomes.

I was looking for a bit of documentation and I found this related problem but old problem that should be fixed : https://gatkforums.broadinstitute.org/gatk/discussion/5585/genotypegvcfs-running-out-of

[2018-03-05 10:40] lelqz commented on #4179
by deguging, the command ConvertHeaderlessHadoopBamShardToBam currupts the bam。I use ReplaceSamHeader  to convert Headerless shard bam to bam. It does work.

[2018-03-05 10:49] lelqz opened #4488 "HaplotypeCallerSpark lose a lot of variable sites and the result jitter"
version: gatk 4.0.2.1
I use the pipeline :BwaAndMarkDuplicatesPipelineSpark-》BQSRPipelineSpark-》HaplotypeCallerSpark，and I get the bad result。by testing，HaplotypeCallerSpark lose a lot of variable sites and HaplotypeCallerSpark 'result jitter to the same input bam。

[2018-03-05 10:58] lelqz commented on #4231
I got the the same issue。

[2018-03-05 14:49] LeeTL1220 opened #4489 "Recognize structured comment for locatable columns in xsv locatable files"
Currently, the only way to specify locatable columns for a locatable xsv file is through a config file (and only a sibling config file if tribble compatibility is required).

In the future, we should have structured comments that specify the names of the locatable columns (i.e. contig, start, end).

For example:
[code]

These comments should be parsed and the specified columns used.  If the struct

[2018-03-05 15:09] SHuang-Broad commented on #4458
@jjfarrell If possible, could you pull from the latest master branch of GATK and test the updated SV pipeline on your data? Thanks!

[2018-03-05 15:49] ldgauthier commented on #4467
@Cashalow Can you include the full command line? 50 human genomes (ploidy 2) would need less than 7GB memory in my experience, even for highly multi-allelic indel sites.  I would expect ploidy 1 calls (as most users run microbial genomes) would require even less, but we have some diploid-specific optimizations.  Are you using the `new-qual` argument?  That QUAL calculation algorithm is less comput

[2018-03-05 15:54] Cashalow commented on #4467
Thanks for your help ! I was not using the `new-qual` argument. Here are the different command I used:

[code]

You don't think using CombineGVCFs or GenomicDBImport will make any change then ? I will try now using `new-qual`

[2018-03-05 16:29] ldgauthier commented on #4467
It's possible that GenomicsDB was also optimized for diploids and thusly slower for other ploidies because a lot of the code was ported from GATK.  I think `new-qual` is more likely to help, but you can certainly try CombineGVCFs.

I don't have a lot of good benchmarks, honestly, but maybe @lbergelson does.  GATK3 GenotypeGVCFs for 20,000 human samples took 113.54 hours for about 1.9Mbp, but that

[2018-03-05 16:52] jonn-smith opened #4490 "Update Owner to latest version / new Maven release"
Update the Owner version with the latest release from Maven.

[2018-03-05 17:10] bbimber commented on #616
@jamesemery - sorry to keep bothering you on this, but is there any chance you could upload the files above?  I have GATK4 VariantEval passing using all the GATK3 tests, except for the handful of ones depending on these files.  Thanks.

[2018-03-05 17:16] droazen opened #4491 "Benchmark level 2 compression with latest GKL, consider making it the default"

[2018-03-05 17:47] droazen commented on #2009
Closing -- we've removed support for the legacy Google Genomics API.

[2018-03-05 17:47] #2009 closed

[2018-03-05 17:52] droazen opened #4492 "Evaluate using object composition / composite uploads on GCS to stitch together Spark outputs"

[2018-03-05 17:53] droazen commented on #4492
This might allow us to avoid the expensive final concatenation for outputs in Spark.

[2018-03-05 18:27] jamesemery commented on #4454
It appears that the webUI has been updated to no longer show the scanned images first due to complaints. This seems to have resolved itself. Closing the ticket

[2018-03-05 18:27] #4454 closed

[2018-03-05 18:55] bbimber commented on #616
Also - I just opened #4495 to start the process of merging this.  VariantEval is a pretty sprawling tool, so I thought it would be easier to try one PR with just those changes outside the varianteval package, and once these are worked out then I'll make another PR with VariantEval itself.

[2018-03-05 19:58] jamesemery commented on #616
@bbimber I have uploaded the files you asked for, though again I'm not finding certain files in private, namely these ones:
NA12878.HiSeq.WGS.b37_decoy.indel.recalibrated.vcf
Mills_and_1000G_gold_standard.indels.b37.sites.vcf

for the first group of files there are a number of files with the b37_decoy filename but mostly they have a different naming convention. I hope this was helpful.

[2018-03-05 20:35] #4399 closed

[2018-03-05 22:25] bbimber commented on #616
thank you.  and those two unaccounted for files are actually in validationDataLocation, not private as I originally wrote.  That seems to be; /humgen/gsa-hpprojects/GATK/data/Validation_Data

[2018-03-06 03:23] jjfarrell commented on #4458
Hi @SHuang-Broad,
I just ran the GATK 2.0.2.1 version on the cram triggering the exception.  It ran fine with this new version.
Thanks for the quick turnaround on this edge case!

[2018-03-06 15:42] droazen commented on #4488
@lelqz Thanks for the report. `HaplotypeCallerSpark` is still in beta status, and has many known issues with its output. It should be used for evaluation purposes only. For now you should use the regular `HaplotypeCaller` in all cases where you care about the quality of the results.

[2018-03-06 18:48] samuelklee opened #4499 "Allow zero eigensamples in CreateReadCountPanelOfNormals."
See #4174, we can probably just put in a single zero eigenvalue/vector as we do there.

[2018-03-06 18:48] samuelklee commented on #4499
Also note a typo in the message output.

[2018-03-06 19:21] SHuang-Broad commented on #4458
Thanks for using our pipeline and reporting the issue @jjfarrell !

[2018-03-06 19:21] #4458 closed

[2018-03-06 19:29] jamesemery commented on #616
@bbimber Just uploaded the missing files from /humgen/gsa-hpprojects/GATK/data/Validation_Data. Hopefully that is everything.

[2018-03-06 21:02] takutosato opened #4500 "Update the strand artifact filter"
The new model must

- [ ] Work for high depth low allele fraction site
- [ ] Handle the cases where both ref and alt reads are strand biased, not just alt reads
- [ ] Beat the model based on Fisher's exact test

[2018-03-07 10:07] ptranvan commented on #3269
Multi intervals working now ?

[2018-03-07 10:07] dariober commented on #4363
Sorry to be a pain... I'm still getting this problem with 4.0.2.1, which according to the tag [description](https://github.com/broadinstitute/gatk/releases/tag/4.0.2.1) should have this issue fixed.

[code]

[2018-03-07 12:53] stefandiederich opened #4504 "CollectAllelicCounts - Badly formed genome unclippedLoc: Parameters to GenomeLocParser"
Hi

I used CollectAllelicCounts with a bed file for the `-I` parameter and got the following error message:

`A USER ERROR has occurred: Badly formed genome unclippedLoc: Parameters to GenomeLocParser are incorrect:The stop position 29430911 is less than start 29430912 in contig chr2`

The only entry in my bed file dealing with this position is the following:

`chr2	 29430911	29430911	ENSE00001695

[2018-03-07 13:51] sooheelee commented on #4504
@stefandiederich, I think this is a problem with how your BED file is being interpreted. In general, with GATK, it's best to use 1-based coordinates intervals, e.g. that of a [Picard-style interval_list](https://gatkforums.broadinstitute.org/gatk/discussion/1319/collected-faqs-about-interval-lists). BED is 0-based. See https://www.biostars.org/p/84686/ for a clear illustration of the differences.

[2018-03-07 13:56] sooheelee commented on #4504
Going forward, be sure to post your GATK/Picard questions to the GATK forum at https://gatkforums.broadinstitute.org/gatk.

[2018-03-07 14:12] stefandiederich commented on #4504
@sooheelee Thanks for your quick response. Changing the file extension or using a picard-style interval list solves the problem. Have not thought about the 0 based bed file and will post the issues in GATK forum next time, I' m sorry.

[2018-03-07 14:12] #4504 closed

[2018-03-07 14:20] sooheelee commented on #4504
No worries. Glad your issue is solved.

[2018-03-07 14:46] davidbenjamin commented on #4363
@dariober Does the vcf header coming out of Mutect2 i.e. before any other tools are run say that MFRL is integer type?

[2018-03-07 15:14] dariober commented on #4363
Hi- The header reports `##FORMAT=<ID=MFRL,Number=R,Type=Float,Description="median fragment length">`

There is an example vcf file, `in.vcf`, [here](https://github.com/dariober/bioinformatics-cafe/tree/master/fixMFRLforMutect/test_data) which I used to hack together a script to fix an input vcf file (see also [test.md](https://github.com/dariober/bioinformatics-cafe/blob/master/fixMFRLforMutect/te

[2018-03-07 15:32] droazen commented on #3269
Not yet @ptranvan. @kgururaj and his team have a patch coming soon to add multi-interval support to this tool, so there's a good chance it will make it into a GATK release this month.

[2018-03-07 16:48] davidbenjamin commented on #4363
@dariober The fix is in `Mutect2` itself because that's where the vcf header line for `MFRL` is created.  If you're using an unfiltered vcf from an old release and using the 4.0.2.1 only for `FilterMutectCalls` the problem will remain.

[2018-03-07 17:08] jjfarrell opened #4506 "CreateHadoopBamSplittingIndex on cram?"
Should the CreateHadoopBamSplittingIndex tool also work on a cram?  I am getting this error below which suggests not. What are the benefits of a SplittingIndex for a spark job? On average-how long should it take a spark job to get the splits for a 30x bam or cram?

[code]

[2018-03-07 17:09] ldgauthier opened #4507 "Reference requirements for intervals could be more clear"
I _believe_ that the user error text didn't get updated when the `--sequence-dictionary` argument got added.

It would be great to mention that argument in GATKTool::initializeIntervals(), which currently says `"We require a sequence dictionary from a reference, a source of reads, or a source of variants to process intervals.  " +
                        "Since reference and reads files generally

[2018-03-07 17:11] ldgauthier commented on #4331
Nalini pinged me about this again.  Any idea when someone will have the time?

[2018-03-07 17:52] lbergelson commented on #4506
@jjfarrell  You don't need splitting index for cram.  The index works around a bam specific problem which makes it hard to find good split points in the file.  Cram is designed in a way that makes it easier to find the split points so the index is unnecessary.

I don't have good numbers for how long it takes to find the split points for bam.  It depends on your filesystem.  If you have a low laten

[2018-03-07 18:04] ldgauthier opened #4508 "Add a file to the GenomicsDB directory with the GATK version used to create it"
We can do this in the GenomicsDBImport walker -- it doesn't have to be in GenomicsDB.  Not every version is backward compatible, so when there are cryptic errors it would be nice to know what version was used to create the GDB.

[2018-03-07 18:15] jjfarrell commented on #4506
Thanks for the explanation!

[2018-03-07 18:17] lbergelson commented on #4506
We're working on speeding up the splitting on cloud filesystems, but it's going to take a while before we have a good solution other than the splitting index.

[2018-03-07 18:26] droazen commented on #4331
We're a little short on time right now with the end of the quarter coming up, unfortunately. I wonder if @kgururaj or a member of his team would have time to set up a GATK branch built against the fork that you would then be able to evaluate.

[2018-03-07 20:42] dariober commented on #4363
@davidbenjamin Ahh, thanks for the clarification, it makes sense now.

[2018-03-07 20:51] jjfarrell commented on #4506
On my system

[code]

[2018-03-07 21:33] lbergelson commented on #4506
@jjfarrell Huh.  I expected that sort of annoying delay from splitting on a cloud system but not on a hadoop one.  Does running with splitting index avoid the delay?

[2018-03-08 00:29] samuelklee commented on #4371
Just some notes before I forget:

Using these test samples, I made some tweaks to the ploidy model that made it more robust to incorrect ploidy calls and added a simple modeling of mosaicism:

[code]

Briefly, the model includes 1) per-contig bias (normalized to unit mean for identifiability), 2) per-sample depth, 3) per-sample probability of mosaicism, 4) per-sample-and-contig mosaicism factor `f

[2018-03-08 07:16] magicDGS commented on #4340
Another thing that just come to my mind is to rely on [SLF4J](https://www.slf4j.org/) for logging - downstream projects can configure which logger they want to use, and they can have their own ways of setting logging verbosity. If the logging system from HTSJDK wants to be maintain, it can also add a simple implementation of SLF4J with the verbosity levels that are in the current implementation.

[2018-03-08 07:29] lelqz commented on #4488
@droazen Thanks. I use HaplotypeCaller and get the good results. my pipeline is :BwaAndMarkDuplicatesPipelineSpark-》BQSRPipelineSpark-》HaplotypeCaller.

[2018-03-08 08:06] lelqz commented on #4231
@wangdy12 .I get the same issue: when use HaplotypeCallerSpark on  a cluster, It lose  a lot of variable sites and the result jitter to the same input bam. and running on local mode, the result is good.
        But I fix the code according to your way. It does not work and get the same issue.

[2018-03-08 08:27] wangdy12 commented on #4231
You'd better verify the consistency of the results step by step, then you can find which step's result become diffierent, finally fix it.
For example, you want to see if the `JavaRDD<Shard<GATKRead>> readShards`results are always same. You can add debug info in `callVariantsWithHaplotypeCaller` just like this:

[code]

[code]

Run twice and compare the differences, do this step by step, you will f

[2018-03-08 14:21] ldgauthier commented on #2689
Part of this arises from the fact that DS and HaplotypeScore were miscategorized when the StandardAnnotation group was made.  I don't believe these have ever been output by HaplotypeCaller and they're not even included in GATK4.

The other part is that MLEAC, MLEAF, and InbreedingCoeff never get combined by any tool -- they get recalculated by GenotypeGVCFs.

I like the suggestion by @lbergelson t

[2018-03-08 14:23] ldgauthier commented on #4371
@samuelklee does that mean you would recommend including some mosaic samples in the PoN or do you want to see if Mehrtash's tuning improves the situation?

[2018-03-08 14:36] samuelklee commented on #4371
I think @mbabadi may first want to run with a larger and more diverse PoN to see if that resolves the issues I saw running in case mode.  We will typically use more than 20 samples, and the ones I used were all from the same project.  If not, then some more tweaking may be required.

We may also want to consider using more than just the total count per contig, to address some of the concerns about

[2018-03-08 16:51] daquang opened #4511 "Keras model for variant calling?"
Hi, I'm interested in your keras model for variant calling. Is there anyway I can download it to study it?

[2018-03-08 17:16] droazen commented on #4331
I'll ask @kgururaj next week about this @ldgauthier. If his team doesn't have time, we'll assign someone from the engine team to spend a day this month getting a branch set up for evaluation purposes.

[2018-03-08 18:48] chandrans opened #4512 "GenotypeGVCFs takes a long time on small interval"
## Bug Report

### Affected tool(s)
GenotypeGVCFs

### Affected version(s)
4.0.2.0

### Description
After running GenomicsDBImport which takes a short time, GenotypeGVCFs takes a really long time to genotype a short interval. It should not take so long.

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/11471/performance-troubleshooting-tip

[2018-03-08 18:51] chandrans commented on #4512
@lbergelson @droazen If you guys can assign someone to this or want to look into it yourself, I can send you the file location and commands.

[2018-03-08 18:59] droazen commented on #4512
@chandrans Someone will have to take a look in a profiler to see what's going on with these particular samples. Can you add a *runnable* test case that reproduces the issue here (and confirm yourself that you can reproduce it).

[2018-03-08 19:44] chandrans commented on #4512
Hey David. Yes, I have a test case described in https://github.com/broadinstitute/dsde-docs/issues/2985 that has files and commands that reproduce this. I reproduced it myself last night with 4.0.2.0. I Hope that is okay. If you need me to try 4.0.2.1 I can.

[2018-03-08 19:46] droazen commented on #4512
Great, thanks. @jonn-smith will have a look within the next few weeks.

[2018-03-08 21:06] ldgauthier commented on #4331
Great, thanks!

[2018-03-08 21:15] ldgauthier commented on #4512
In the meantime, the user can try using the `-new-qual` argument.  "A few hundred samples" is a lot of samples and the classic QUAL calculation algorithm doesn't scale as well as the new one.  GenotypeGVCFs will scale to "at least a few thousand samples" as the user desires because we've run 20K in production, but we did it with the `-new-qual` argument: https://github.com/gatk-workflows/gatk4-ger

[2018-03-08 21:38] andrew-niaid opened #4513 "gatk sets TMP_DIR globally readable/writable for any user"
gatk silently sets TMP_DIR globally readable/writable for all users. This is problematic for admins trying to maintain a secure multi-user environment. It would be better (imho) if gatk tests if TMP_DIR is writeable and errors out when it is not instead of just globally making it writeable by all users.

src/main/java/org/broadinstitute/hellbender/cmdline/CommandLineProgram.java

        for (fina

[2018-03-08 21:46] lbergelson commented on #4513
Oh, interesting.  That's a real problem.  We inherited that code from picard and I don't think anyone ever paid attention to it.  I'm assuming it's in there because someone encountered a tmp dir they couldn't write to but could set permissions on at some point, which seems weird.

At most we should be setting it for owner only I think.

[2018-03-08 22:21] lbergelson commented on #4513
@andrew-niaid Would changing the setting to only make it read/writeable by the owner of the gatk process be sufficient for you?  I'm afraid changing the behavior to error on a non-writable tmpdir would cause people's pipelines to start failing.

[2018-03-08 23:06] andrew-niaid commented on #4513
@lbergelson I think that would be fine. Even now, if gatk is given a TMP_DIR that it can't write to and can't change the permissions on, it fails with the error:

htsjdk.samtools.SAMException: Exception creating temporary directory.

[2018-03-09 02:15] lelqz commented on #4231
@wangdy12 thanks.I have tested and your fix is effective. By Calling HaplotypeCallerSpark I can get the good results on an cluster. The GATK version is 4.0.2.1-2.

[2018-03-09 02:33] lelqz commented on #4488
@droazen . I have fixed the issue according Mr wangdy12 ' ways, I tested  and the results is good .  please reference A GATK4.0 Spark bug about HaplotypeCallerSpark and How to fix #4231 .

[2018-03-09 06:29] magicDGS commented on #4513
Maybe I can fix on https://github.com/broadinstitute/gatk/pull/4469 - @lbergelson, wanna have a look there?

[2018-03-09 08:58] cristinaluengoagullo opened #4514 "GATK4 GenomicsDB error with GenomicsDB versions 0.9.0 and 0.9.2"
Hi,

I don't know if it's a bug, but whenever I try to do a GenomicsDBImport I get an error, no matter which file I use. The command I run is (using GATK 4.0):

gatk GenomicsDBImport -V AD0616.10.g.vcf.gz --genomicsdb-workspace-path gdbworkspace-gatk -L 10

And the error I get is:

Using GATK jar /apps/GATK/4.0/gatk-package-4.0.0.0-local.jar
Running:
java -Dsamjdk.use_async_io_read_samtools=false

[2018-03-09 10:22] Tintest opened #4515 "GATK4 BaseRecalibratorSpark , Executor heartbeat timed out after X ms"
Hello, i'm trying to run GATK4 BaseRecalibratorSpark in local in a nextflow pipeline, but I got every time the same error with this command :

**gatk-launch BaseRecalibratorSpark --spark-runner LOCAL --spark-master local[23] -R $indexbit -I ${input_bam} --known-sites ${params.dbsnpAll} -L ${params.targetBed} -O ${output_name}-recalibration_report.grp**

Here is the full error output, basically, th

[2018-03-09 13:46] jjfarrell commented on #4511
Here is a blog regarding the Deep CNN model used for variant filtering....

https://gatkforums.broadinstitute.org/gatk/discussion/10996/deep-learning-in-gatk4

[2018-03-09 13:55] Vzzarr opened #4516 "Unpredicted execution time on 32 cores VM"
I report these execution times (which seem to be quite strange) hoping that might be useful.

Executing BwaAndMarkDuplicatesPipelineSpark on a VM, with a 14,4 GB sample in input (using GATK v4.0.2.0-4-gb59d863-SNAPSHOT) takes the here reported execution times:

- 8 cores 258.23 minutes
- 16 cores 129.29 minutes
- 32 cores 143.52 minutes

passing from an 8 cores VM to a 16 cores there is a executio

[2018-03-09 14:29] daquang commented on #4511
Thanks for the response. I actually already read the blog (you can see my comment at the bottom of the blog). But I felt the blog didn’t really give me a lot of info that I wanted. I really would like the keras model’s raw .h5 file weights, and the source code of the training process.

[2018-03-09 14:44] ldgauthier commented on #4514
Hi Christina (@cristinaluengoagullo ),

The GenomicsDBImport in version 4.0.0.0 has a few bugs that you may or may not encounter, but I'd recommend you run GATK 4.0.1.0 or later.

That's admittedly a very cryptic error message.  We're working on doing a better job wrapping the GenomicsDB errors into readable GATK User Errors.  In the meantime, I have a few ideas.  Do you have any unusual annotatio

[2018-03-09 14:59] ldgauthier commented on #4511
@daquang -- Sam (@lucidtronix ) has already merged the code to run the model inference for his simpler 1D model architecture.  I think src/main/resources/org/broadinstitute/hellbender/tools/walkers/vqsr/cnn_1d_annotations.hd5 is what you're looking for.  He currently has a PR in review (https://github.com/broadinstitute/gatk/pull/4245) to add the more sophisticated 2D model and a GATK walker to do

[2018-03-09 16:05] lbergelson commented on #4516
Interesting.  At some point we do expect to see diminishing returns when adding more cores, because the parts that parellelize poorly will start to dominate, but I would hope that it's with more than 16 cores...

One thing we've seen is that performance can be harmed by using to many cores / executor.  We've seen problems due to lock contention within spark on executors that have more than ~8 core

[2018-03-10 08:55] jrandall opened #4518 "`__pthread_tpp_change_priority` error in GenotypeGVCFs (GATK 4.0.0.0)"
About 3% of our GATK 4.0.0.0 GenotypeGVCFs runs (with a GenomicsDB as input) are failing with a `__pthread_tpp_change_priority` error and exiting with status -6.

The stderr of such a run ends like this:
[code]

Stdout from the same run:
[code]

[2018-03-10 08:57] jrandall commented on #4518
Repeating the GenotypeGVCFs run on exactly the same input data results in success, so it appears to be a nondeterministic error.

[2018-03-10 16:09] jjfarrell commented on #4506
FlagStatSpark was also run on the bam file without the splitting index. There was no delay just a slightly longer run of 2.5 min.  Both had the same results.  The 30-40 minute delay is only found when reading crams.  @lbergelson Is there a  fix for this long delay for processing a cram?

[2018-03-10 16:22] samuelklee opened #4519 "Consider adding CollectReadCounts and further evaluate count-collection strategies."
In the process of unifying CalculateTargetCoverage / SparkGenomeReadCounts for the rewrite of the CNV pipeline, we decided to experiment with switching over to fragment-based counts due to a request from CGA.  For each fragment, CollectFragmentCounts adds a count to *the bin that overlaps with the fragment center*.  We filter to properly-paired, first-of-pair reads in order to have well formed fra

[2018-03-10 20:34] mbabadi commented on #4519
Thank you for looking into this and sharing the analysis. I am confident that there is _a lot_ to be gained from a decent coverage collection strategy. As I mentioned before, I have seen Genome STRiP cleanly resolving cases that are essentially impossible to resolve from our raw data. We must:

(1) Include genome mappability analysis tracks as a filtering strategy w/ or w/o MQ-based filtering. We

[2018-03-12 00:35] jason-weirather opened #4521 "Funcotator hg38 data source not working; configuration files contains reference to files not present"
From ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/funcotator/ the file `gencode/hg38/gencode.config` makes reference to `gencode.v27.pc_transcripts.fasta`

[code]

which is not present in the directory.

[code]

Downloading the pc_transcript.fasta from gencode does not fix the errors thrown when trying to use the reference.  The error message is a fairly uninformative null pointer excep

[2018-03-12 07:28] cristinaluengoagullo commented on #4514
Hi @ldgauthier,

Thanks for the fast reply. After updating GATK to the latest version and using GenomicsDB 0.9.2, the command works. However, now I get the previous error when I try to run this command:

gatk GenotypeGVCFs -R hsapiens.hs37d5.fasta -V gendb://gdbworkspace -O multi-germline-genotyped.vcf.gz

Here's the vidmap filethat was generated with th GenomicsDBImport command:

{
  "fields":[

[2018-03-12 13:35] cmnbroad commented on #4506
@lbergelson @jjfarrell I'm not sure how much of the difference this accounts for, but the cram splitter iterates through all of the cram containers using htsjdk's CramContainerIterator, which decodes and materializes all SAMRecords in each container it sees. The bam (probabilistic) splitter only materializes a few records around each putative split boundary. And decoding cram is inherently slower

[2018-03-12 14:24] jjfarrell commented on #4506
@cmnbroad @lbergelson  For Spark tools, shouldn't the cram-splitter be using Hadoop-Bam and not  htsjdk's CramContainerIterator?  That would probably explain the 30-40 minute extra time for cram splits  versus bam splits.

[2018-03-12 14:27] cmnbroad commented on #4506
@jjfarrell Yes, but Hadoop-Bam in turn uses htsjdk.

[2018-03-12 14:35] ldgauthier commented on #4514
Looking at the header and vidmap, everything looks like it matches up.  Does it take long to import your data?  I would suggest totally deleting your workspace directory and starting over while taking care to use the latest GATK for the GenomicsDBImport and GenotypeGVCFs steps.  There was a change in the vidmap format in GATK 4.0.1.0 (i.e. between the version for your first import attempt and the

[2018-03-12 14:43] #4441 closed

[2018-03-12 14:56] droazen commented on #4518
@kgururaj Could you and your team look into this one?

[2018-03-12 15:16] jonn-smith commented on #4521
@jason-weirather I see the error in the config file - this is definitely a bug in the data source release.  There will need to be another data sources release to fix this and another data sources bug.  I expect that this will be released by end of week.

I will run through some additional tests on hg38 data to see if I can duplicate the null pointer exception.

[2018-03-12 16:39] chandrans opened #4525 "CombineGVCFs java.lang.IllegalArgumentException: Unexpected base in allele bases '*AACC'"
## Bug Report

### Affected tool(s)
CombineGVCFs

### Affected version(s)
4.0.2.0

### Description
CombineGVCFs fails with an IllegalArgumentException when trying to combine GVCFs. However, when trying to combine a different subset of the GVCFs, it fails with a ClassCastException. The GVCFs all validate with ValidateVariants and were produced with GATK4 HaplotypeCaller.

#### Steps to reproduce
De

[2018-03-12 16:41] droazen commented on #4514
@kgururaj Could we get your thoughts on this one?

[2018-03-12 16:49] cristinaluengoagullo commented on #4514
I tried removing the workspace I had and running GenomicsDBImport and GenotypeGVCFs with the same GATK version (4.0.2.1 and GenomicsDB version 0.9.2), and unfortunately I still get the same error when I run the GenotypeGVCFs command (he GenomicsDBImport command finishes correctly). I will check the instructions to share data and generate a smaller example with random data that can resproduce the e

[2018-03-12 17:23] droazen commented on #4331
Update on this: @kgururaj will try to provide us with a GATK branch that uses the GenomicsDB fork this week, and ask Gans's team for help if he's not able to build it himself.

[2018-03-12 18:21] mbabadi commented on #4519
(1) I am studying GMS mappability scores. To the best of my knowledge, it is the only such analysis that considers both paired-end reads and base calling error rate characteristic of Illumina machines. We could feed the GMS score as a feature file to the coverage collector tool for filtering.

(2) I am also working on the "optimal strategy" for different SV types.

(3) @samuelklee, do we get the s

[2018-03-12 20:28] lbergelson opened #4526 "TribbleException should be converted to UserException"
The following exception was thrown, which looks a lot like a user exception:

[code]

It looks like we intended to catch and convert to user exception in:
`at org.broadinstitute.hellbender.tools.genomicsdb.GenomicsDBImport.getHeaderFromPath(GenomicsDBImport.java:355)` but we weren't expecting a `TribbleException`

[code]

[2018-03-12 23:05] samuelklee commented on #4519
After discussion with @mwalker174 @mbabadi @SHuang-Broad I think we can stick with the CollectReadCounts strategy for now, perhaps treating soft clips a little more carefully as @mwalker174 suggested.  I am currently re-running the CHM-SV cohort at 250bp with CollectReadCounts and will also run a version with a tweak for soft clips so we can compare.

@mbabadi Can we also look at some of the GS ev

[2018-03-13 15:05] samuelklee commented on #4519
IGV screenshot of the above event, sorted by start position, viewed as pairs, no MQ threshold:
![igv_panel](https://user-images.githubusercontent.com/11076296/37350119-5be7fdf0-26ae-11e8-8d59-75dff586a1c4.png)

[2018-03-13 18:10] SHuang-Broad commented on #4519
I'm not sure if the whole range as indicated by the outter boundaries of the outteies pairs is duplicated.

I'm suspecting it is the "left region" that is duplicated and inserted at the "right region", because when looking at the coverage in between the region appear to be linked by the outties,  they don't seem to be elevated. In addition, there doesn't appear to be any clipped read in the "right

[2018-03-13 18:19] SHuang-Broad commented on #4519
A pacbio call set would be good for verifying if what I suspected is correct or not @samuelklee  @mwalker174

[2018-03-14 01:35] samuelklee commented on #4519
Hmm, looks like we lose events 1 and 3 with CollectReadCounts at 250bp using analogous ModelSegments parameters.  However, I experimented with tweaking the segmentation to work on the copy ratios (rather than the log2 copy ratios), which seems to recover them.

Although part of the goal of having evaluations backed by SV truth sets is to tune such parameters/methods, I'm beginning to think that SV

[2018-03-14 16:09] jjfarrell commented on #4506
@cmnbroad @lbergelson   The cram index looks like it has all the info required to generate the splits without using the CramContainerIterator to look at the cram file directly.

Could using the crai index for splits be a potential solution to the glacially slow cram split generation?

CRAM index

A CRAM index is a gzipped tab delimited file containing the following columns:
1. Sequence id
2. Align

[2018-03-14 18:12] chandrans commented on #4514
@cristinaluengoagullo Hi Cristina. I just tried running your files, and I did not get any error. I used version 4.0.2.0 and ran the command in your command.txt file

[2018-03-14 18:39] cristinaluengoagullo commented on #4514
Hi @chandrans, thanks for the reply! Could you try with GATK 4.0.2.1 please? It's the version that gives me the errors.
Thanks again,

Cristina.

[2018-03-14 21:22] chandrans commented on #4514
Hi Cristina @cristinaluengoagullo Tried with 4.0.2.1 and had no issue either.

[2018-03-15 03:33] lbergelson commented on #4515
@Tintest Sorry for the slow reply.  I'm not sure exactly what the issue is.  I've never seen this exact error before.

I have two guesses, one is that there's something really weird going on in spark that's causing that null pointer exception which is killing the heartbeat.  I'm not sure how to debug that without your access to your input data

The other theory which I think is more likely, is tha

[2018-03-15 08:28] Tintest commented on #4515
Thank you @lbergelson for your answer.

The memory I'm using is specified by nextflow, but I could also force it to Java.

My machine got 64 go of memory and 24 cores. 2go by cores is ok but more could be problematic. Maybe I will try on a more powerful one and I will tell you how is it going.

Does the Spark strategy more memory ? I've seen memory usage peaks around 60 go before crash with the sp

[2018-03-16 15:38] jjfarrell opened #4531 "StructuralVariationDiscoveryPipelineSpark is generating too much logging info"
When running StructuralVariationDiscoveryPipelineSpark,  we found the local storage on our Hadoop Datanodes filling up. The pipeline was generating 2 GB of output and filling up the /var storage on the datanodes. The job would then fail.

Is there a way to turnoff this extensive logging info for this pipeline and make less extensive logging the default?

Here is an example of one of the files.....

[2018-03-16 17:47] lbergelson opened #4532 "improve error message during build when ToolProvider is unavailable"
build.gradle finds the tool provider with the following line:

[code]
ToolPrivider.getSystemToolClassLoader() returns null on jre and certain other java installations.  This causes a confusing null pointer exceptions.

We should have a better error message when this happens.

[2018-03-16 17:57] cwhelan commented on #4531
Hi @jjfarrell

We took a look through our code and libraries we're depending on and the only place we could find any logging message that would produce those lines in any related repo we could find is in the `TestBAM` example tool from the Hadoop-BAM library. Is there any chance you ran that tool on one of your files (one with 76bp reads), perhaps after installing Hadoop-BAM and following the exam

[2018-03-16 18:37] SHuang-Broad commented on #4531
Also, could you provide at what level is the logging configured @jjfarrell ?

[2018-03-16 18:45] jjfarrell commented on #4531
Yes, I did run that Hadoop-Bam test in the midst of runs of the StructuralVariationDiscoveryPipelineSpark. When I was notified of the issue, I assumed it was those jobs and not the TestBAM runs.

There was a 30-40 minute delay of GATK Spark jobs reading crams relative to bams that I was looking into (https://github.com/broadinstitute/gatk/issues/4506).

[2018-03-16 18:45] #4531 closed

[2018-03-16 20:03] cmnbroad commented on #4532
I was just adding the prerequisite checker for the large resources so I'll fix this while I'm at it.

[2018-03-18 19:10] kgururaj commented on #4518
We aren't using any multi-threading inside  the GenomicsDB jar. If there is a way to reproduce this, we can take a look.

[2018-03-19 13:01] cmnbroad opened #4533 "CNNVariantWriteTensors needs a full Java front-end"
CNNVariantWriteTensors currently has a thin Java front end that is an argument pass-through to Python. This should be rewritten with I/O done in Java and minimal Python dependency.

[2018-03-19 13:06] cmnbroad opened #4534 "CNNVariantTrain needs a full Java front-end"
CNNVariantTrain currently has a thin Java front end that is an argument pass-through to Python. If possible, this should be rewritten with I/O done in Java and the minimal Python dependency.

[2018-03-19 13:08] cmnbroad opened #4535 "FilterVariantTranches should be written entirely in Java"
FilterVariantTranches currently has a thin Java layer that is a pass-through to Python, but can be written entirely in Java.

[2018-03-19 13:31] cmnbroad opened #4536 "CNNVariantScore needs 2d test with overlapping reads"
CNNVariantScore has a 2d integration test but the vcf and bam inputs have no overlapping genomic territory, so no reads data is ever transmitted to the python code

[2018-03-19 13:35] cmnbroad opened #4537 "CNNPipelineIntegration tests needs expected results validation"
The CNNPipelineIntegration tests for CNNVariantWriteTensors, CNNVariantTrain and FilterVariantTranches executes tool code, but does no expected results validation.

[2018-03-19 13:40] cmnbroad opened #4538 "vqsr_cnn python package needs a more detailed code review"
A pass should be done first to add type hints and PEP-8 conformance.

[2018-03-19 13:46] cmnbroad opened #4539 "vqsr_cnn python resources"
The CNN tools currently use the FilterVariantTranches class to locate class-relative python resources, but FilterVariantTranches is the one CNN tool that doesn't need a Python dependency. If the individual (CNNVariantWriteTensors and CNNVariantTrain) tools still load python files as resources after https://github.com/broadinstitute/gatk/issues/4533 and https://github.com/broadinstitute/gatk/issues

[2018-03-19 13:59] cmnbroad opened #4540 "CNNScoreVariants changes"
Minor things that should be fixed in CNNScoreVariants:
- the header should include the lines returned from getDefaultToolVCFHeaderLines
- the code currently (unnecessarily?) adds standard VQSR header lines via addVQSRStandardHeaderLines
- we should consider writing the reads data as separate lines in the FIFO for the 2d case to eliminate the need to create and then parse very long lines in python

[2018-03-19 16:45] tomwhite commented on #4506
@jjfarrell I agree that it would make a lot more sense to use the .crai file. That's something we could certainly do in Hadoop-BAM or the new code.

@cmnbroad does CramContainerIterator materialize each record? I was under the impression that it was just finding boundaries - but the slow runtime suggests it may not.

[2018-03-19 18:09] fnothaft commented on #4506
We've already got code that does this for BAM indices; even if CRAIs have a different API, they should be able to reuse the split calculation code.

[2018-03-19 18:13] droazen opened #4541 "Implement a way to specify combine operations per-field in GenomicsDB"

[2018-03-19 18:50] cmnbroad commented on #4506
@tomwhite I just took a look and I did overstate the case when I said CramContainerIterator materializes SAMRecords. It stops short of doing that, but it does crack each container open and iterate through and decompress each data block in each slice in each container as it goes along. Its not clear to me how much this affects the difference in split calc time vs. bam.

[2018-03-19 19:47] jean-philippe-martin commented on #4478
GCS NIO doesn't currently support appending to existing files. If you try, you will see this error:

[code]

As you can see in [CloudStorageFileSystemProvider.java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/contrib/nio/CloudStorageFileSystemProvider.java#L351), the list of supported open options

[2018-03-19 19:47] #4478 closed

[2018-03-19 23:03] sooheelee commented on #3708
Any news on this @droazen? We have interested folks, e.g. https://gatkforums.broadinstitute.org/gatk/discussion/11600/gatk-4-support-on-aws.

[2018-03-20 14:08] droazen commented on #3708
@sooheelee We evaluated the S3 plugin, but found that it always localizes the entire file, which defeats the purpose of NIO. We are currently assessing how difficult it would be to patch the existing plugin. Issue is here: https://github.com/Upplication/Amazon-S3-FileSystem-NIO2/issues/103

[2018-03-20 17:49] lbergelson opened #4543 "investigate and possibly replace IOUtils.absolutePath"
`IOUtils.absolutePath` is a weird old function ported from GATK3.  It claims to do some cross between finding the absolute path and the canonical path, but it's unclear if this is still necessary or we can use one of the builtin methods now.

[2018-03-20 18:07] lbergelson opened #4544 "Users reporting unreasonable memory usage in GenotypeGVCFs"
Several people are reporting unreasonable memory usage in GenotypeGVCFs.
See https://gatkforums.broadinstitute.org/gatk/discussion/11634/genotypegvcfs-resource-problems#latest
and https://github.com/broadinstitute/gatk/issues/4467.

We should investigate what's going on, probably we're loading to many lines into memory at once somehow.  It's possible it's related to running on a base pair resoluti

[2018-03-20 18:08] droazen commented on #4544
related to https://github.com/broadinstitute/gatk/issues/4512 possibly?

[2018-03-20 18:19] lbergelson commented on #4544
Yes, very possible.

[2018-03-20 18:38] mwalker174 commented on #4273
@lbergelson Any updates on this? Still an issue in 4.0.1.2 and I need do some runs on DataProc.

[2018-03-20 18:55] cmnbroad commented on #4347
Fixed via #4505.

[2018-03-20 18:55] #4347 closed

[2018-03-20 18:56] cmnbroad commented on #4351
Closed via #4347 .

[2018-03-20 18:56] #4351 closed

[2018-03-21 14:43] #4526 closed

[2018-03-21 18:06] droazen opened #4549 "Check in an installer script (ideally with Java frontend) for funcotator datasources"
We should have an installer script checked in to the repo for downloading the Funcotator datasources. Ideally the script would have a trivial Java frontend in the form of a simple GATK tool, to make it more discoverable by users.

[2018-03-21 19:00] jonn-smith commented on #4521
@jason-weirather There is a new set of data sources available in the data sources area (v1.1).  I still haven't tested very thoroughly, but it should have all required files for hg38.

I'm planning to test this further later this week / early next week.

[2018-03-21 19:01] jonn-smith opened #4550 "ArgumentsBuilder needs to be refactored."
As discovered in one of the recent `Funcotator` PRs, `ArgumentsBuilder` needs to be refactored.

[2018-03-21 19:09] droazen commented on #4550
@jonn-smith Can you be more specific? If we come back to this ticket in 3 months, we won't remember exactly how it needs to be refactored.

[2018-03-21 20:17] lbergelson commented on #4550
Sorry, I asked for this ticket.  We should remove the old functionality to convert picard style arguments -> gatk style.  We should also add more convenience overloads for things like Path, String, enum values, and numbers.  There's currently some weirdness with having differently named methods for different input values as well which should just be handled with overloads.

[2018-03-21 20:51] daquang commented on #4511
Thanks, I found the weights and loaded the 1D model. Would it also be possible to get the original training script that generated this model?

[2018-03-21 21:41] #3922 closed

[2018-03-21 21:41] #4022 closed

[2018-03-21 21:41] #4420 closed

[2018-03-21 21:55] mbabadi opened #4551 "Continue investigation of count collection strategies."
Pursuing issue #4519, I have tried to evaluate the performance of `CollectFragmentCounts` (the current coverage collection tool for somatic and germline CNV caller) on synthetic dataset.

**Methodology**: [SVGen](https://github.com/WGLab/SVGen) was used to generate a set of random canonical SVs (deletion, tandem duplication, inversion, balanced translocation, unbalanced translocation) on chr22 of

[2018-03-21 22:01] mbabadi commented on #4551
@LeeTL1220 @ldgauthier @cwhelan @mwalker174 @SHuang-Broad might find this analysis of interest.

[2018-03-21 22:46] mwalker174 commented on #4551
Very interesting! @mbabadi What were your settings in IGV (under View->Prefs->Alignments) for MQ threshold, filter secondary/supplementary alignments? Could MQ maybe explain the random dropouts in the inversions cast?

[2018-03-21 22:57] samuelklee commented on #4551
Interesting!  Thanks for generating these.  I am already convinced by #4519 we should at least switch over to a ‘CollectReadCounts’ strategy for initial evaluations.  A few comments:

-I’m guessing that the equal insert size and uniform sampling is enhancing many of these artifacts to a level that we probably don’t see in the real world.  Can we take a look at some real-world examples?

-Same goes

[2018-03-21 23:16] mbabadi commented on #4551
@samuelklee Valentin wrote it:
https://github.com/broadinstitute/gatk-protected/blob/1.0.0.0-alpha1.2/src/main/java/org/broadinstitute/hellbender/tools/exome/CalculateTargetBaseCallCoverage.java
We dropped it once we got rid of the XHMM port.

While automated evaluations are definitely the way to go (eventually), there is real value in understanding the interaction between BWA and our coverage col

[2018-03-21 23:17] samuelklee commented on #4551
Also, just to provide some context to all tagged: certain users of the old CNV pipeline expressed somewhat vague concerns with the non-fragment-based coverage collection strategies—which also differed across WES and WGS, to boot—-but didn’t offer any compelling demonstrations that fragment-based strategies were better.

For the new version of the pipelines, the main priority was to pick a single s

[2018-03-21 23:29] samuelklee commented on #4551
Ah, that’s right, @mbabadi, thanks for reminding me.  We can always quickly reimplement such a strategy as a FeatureWalker (preferably in a dev branch) and add it to the bake-off.

Tasks aimed towards getting the first round of automatic evaluations in place comprise the majority of our goals this quarter, so let’s get them done.  Once they’re in place, we’ll be able to experiment more freely and

[2018-03-22 00:15] samuelklee commented on #4551
One more question: did you examine events shorter than the fragment size?

[2018-03-22 02:51] jason-weirather commented on #4521
Thanks @jonn-smith, I really appreciate your work in supporting hg38. In case its helpful, I gave your files a go was met with a pretty abrupt error and exit.  ... testing on 4.0.2.1

[code]

[2018-03-22 03:21] jaideepjoshi commented on #3936
Hey AxVE:
I am running into the same issues. Were you able to get these tools to work with maprfs ? Thanks

[2018-03-22 08:37] AxVE commented on #3936
Hi @jaideepjoshi ,
I was able to get it work with maprfs but using its hdfs path (maprfs is compatible with it). The weird things is: for a path `maprfs:///username/file`, it will be `hdfs://spark01:7222/user/username/file`.
For example:
```./gatkRun.sh CountVariantsSpark -V hdfs://spark01:7222/user/axverdier/data/phalstedii/PLHAL710.710-20180213-1113.vcf```

gatkRun.sh is just a script to run gat

[2018-03-22 13:39] sooheelee opened #4552 "Feature request for CreateSomaticPanelOfNormals to allow changing number of coincident samples"
Currently, CreateSomaticPanelOfNormals uses variant sites in two samples as the basis for inclusion in the panel of normals. Researcher on forum requests that this parameter be adjustable @davidbenjamin @takutosato.

---
Hi @shlee, able to vary the minimum support level (i.e. files that support a certain site) would be of great importance for us.

This Issue was generated from your [forums]
[forum

[2018-03-22 13:51] samuelklee opened #4553 "Allow storage of counts to be optional in CreateReadCountPanelOfNormals."
This can cut down the size of the PoN.  However, see #4554.

[2018-03-22 13:52] samuelklee opened #4554 "Allow PoN to be source of read counts."
However, see #4553.

[2018-03-22 15:18] ldgauthier commented on #4511
We've been having some problems with the test server,
 but the PR should get merged soon: (https://github.com/broadinstitute/gatk/pull/4245/).

[2018-03-22 15:19] sooheelee opened #4555 "Does GATK4 Mutect2 support Force Calling?"
Question from Broadie on Mutect2 to follow up on for @davidbenjamin and @takutosato.

---
Hi,
Does GATK4 Mutect2 support Force Calling? If yes, could you let me know how to do it? Thanks a lot!

Thanks,
Chunyang

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/11658/does-gatk4-mutect2-support-force-calling/p1

[2018-03-22 15:20] sooheelee commented on #4555
I have tentatively followed up.

[2018-03-22 15:40] sooheelee commented on #4555
@davidbenjamin gave an answer on SLACK which I have recapitulated on the forum. Waiting to hear why researcher needs this mode.

[2018-03-22 15:45] sooheelee commented on #3708
Thanks for the status @droazen.

[2018-03-22 16:25] magicDGS commented on #3708
@droazen - maybe for the patch of the upplication implementation it might be worthy to have a look to [epam/htsjdk-s3-plugin `S3SeekableStream`](https://github.com/epam/htsjdk-s3-plugin/blob/master/S3HtsjdkPlugin/src/main/java/com/epam/cmbi/s3/S3SeekableStream.java). I will suggest that at the original issue.

[2018-03-22 16:34] lbergelson commented on #3936
As an update here, we're currently planning an upgrade to the library that we use to read bams into spark.  As part of that upgrade we're going to try to fix the issue that requires 2 separate filesystem plugins for some things to work.  That should enable people with hdfs file system plugins to work with gatk without a matching NIO plugin.  There's no definite timeline, but hopefully within the n

[2018-03-22 16:52] droazen opened #4556 "Blacklist the Picard NIO dependency in build.gradle"
The latest Picard release introduces a dependency on the Google Cloud NIO library that conflicts with GATK's dependency. We are going to have to blacklist the Picard NIO dependency for now.

Longer term, we might want to consider having both projects depend upon a build of htsjdk that comes with the NIO plugin.

[2018-03-22 16:56] cmnbroad opened #4557 "Add a build rule to force resolution of the version of google-cloud-nio"
This will prevent any accidental collision with the version on which Picard depends.

[2018-03-22 16:57] cmnbroad commented on #4557
dup of https://github.com/broadinstitute/gatk/issues/4556

[2018-03-22 16:57] #4557 closed

[2018-03-22 17:10] mbabadi opened #4558 "Read filtering based on MQ is not a substitute for "mappability" filtering"
As a step toward productionizing gCNV, I explore the idea of aggressive filtering of reads (or targets, or bins) based on known annotations, such as genome mappability, complexity, SINEs, LINEs, repeats, etc.

This post is about mappability filtering, and in particular, for WGS samples. Let us consider coverage data collected by `CollectFragmentCounts` (default tool args: well-formed paired, FR or

[2018-03-22 18:00] aderzelle opened #4559 "Is the NeuralNetInference usable?"
Hello,
I wish to try the deep learning search but what are we supposed to feed the program with the option "a" ?
`--architecture,-a:String      Neural Net architecture and weights hd5 file  Required`

By hd5 file, do you mean hdf5 file?

Thanks a lot.

Alessandro

[2018-03-22 18:22] jonn-smith commented on #4521
OK - I'll start digging into this now.

[2018-03-22 19:38] lbergelson commented on #4556
The problem seems to be fixed in picard with @cmnbroad's change to the cloud configuration.  Thew pom for 2.18.1+ looks like it won't include nio.

[2018-03-22 19:39] lbergelson commented on #4556
It's a good idea to force our version anyway though.

[2018-03-22 19:56] jonn-smith commented on #4521
Alright, I've at least found (and fixed) a bug that was causing the error message to be so vague.

I may have found the error you're running into as well, if so it should be fixed pretty quickly.

[2018-03-22 19:58] SHuang-Broad commented on #4111
Updated plan

----------
## Small improvements in new interpretation tool

  - [ ] Output bam instead of sam for assembly alignments
  - [ ] Instead of creating directory, new interpretation tool writes files (behavior consistent with current interpretation tool)
  - [ ] Prefix with sample name for output files' names
  - [ ] Add `INSLEN` annotation when there's `INSSEQ`
  - [ ] Clarify the bounda

[2018-03-22 20:13] sooheelee opened #4561 "HaplotypeCaller consult for Laura"
For @ldgauthier, upon her return from the Montreal workshop. We would like to know if this is expected behavior from HaplotypeCaller.

Researcher has uploaded read-level data to our FTP site. I've recapitulated their results with GATK4 in a dsde-docs issue ticket at https://github.com/broadinstitute/dsde-docs/issues/3008. Data may be private so please follow up in the dsde-docs repo.

- original f

[2018-03-22 21:50] jonn-smith commented on #4521
@jason-weirather OK, I found the problem.  It was _another_ issue with the data sources.

I've fixed it in my local copy - we'll have to release another version tomorrow.

I have also made a few logging upgrades so you'll get more information about errors.

I'm opening the PR for this now.

[2018-03-23 04:21] #4519 closed

[2018-03-23 12:15] magicDGS commented on #3900
@cmnbroad - any advance on this? It looks like soon the uber-jar will include a lot of large files ( #4530 and https://github.com/broadinstitute/gatk/pull/4245) that are not directly related with the engine, and thus jar files for downstream projects will be huge.

I would like to have a way to select a maven artifact with the core engine (maybe including Spark) - although it will be nice also to

[2018-03-23 12:17] cmnbroad commented on #4559
Hi @aderzelle. Thanks for your interest in NeuralNetInference. The tool currently has pre-beta`Experimental` status, so for now it should be used for evaluation purposes only. We expect to be releasing another version of GATK, probably within the next week, that will include an updated version of the tool that will include a default architecture file, along with some additional tools for things li

[2018-03-23 12:32] magicDGS opened #4565 "jfrog repository does not have any snapshot artifact"
I have a project that depends on `4.alpha.2-183-ge1e71d7-SNAPSHOT` (I am planning to update it, that's why I look at it), and I discovered that the jfrog repository the folder is empty: https://broadinstitute.jfrog.io/broadinstitute/libs-snapshot/org/broadinstitute/gatk/4.alpha.2-183-ge1e71d7-SNAPSHOT/

When looking at the jfrog repository, it looks like no SNAPSHOT jar file is present. As an exam

[2018-03-23 14:00] jonn-smith commented on #4485
Fixed by #4445.

[2018-03-23 14:00] #4485 closed

[2018-03-23 14:41] lucidtronix commented on #4559
There is an hd5 (hdf5) file [here](https://github.com/broadinstitute/gatk/blob/master/src/main/resources/org/broadinstitute/hellbender/tools/walkers/vqsr/cnn_1d_annotations.hd5) that you can give to the -a argument. As @cmnbroad mentioned the tool name and the argument structure will change in the upcoming PR.

[2018-03-23 15:07] lbergelson commented on #3900
@magicDGS That's a good point.  It's really nasty to package those large files into the main jar.

[2018-03-23 16:21] mbabadi commented on #4551
**Update:**

Here's how the coverage looks like using `CollectReadCounts` (w/ and w/o MQ > 30 filter) vs. `CollectFragmentCounts`. The lines are offset by +10 and +20 for better visibility.

Summary: marked improvement in all cases, however, the error modes are different. `CollectFragmentCounts` tends to underestimate the size of SV regions and uniformly leads to coverage depletion near the breakp

[2018-03-23 16:26] mbabadi commented on #4551
Also, MQ filtering results in stochastic coverage dropout. It is likely that low MQ regions significantly overlap across samples, in which case, downstream CNV can learn such biases and correct the coverage. Will test this in validations.

[2018-03-23 16:29] droazen opened #4567 "Reduce size of artifactory snapshots by eliminating waste"
Currently when we publish an artifactory snapshot, we upload both the maven jars (~50 MB) plus the fully-packaged jars (~500 MB). We only need the maven jars! By eliminating the packaged jars, we can reduce our artifact size by an order of magnitude.

Once this is done, we should talk to @davidbernick about increasing the artifact expiration time from the current 60 days to something longer.

[2018-03-23 16:35] cmnbroad commented on #4565
@magicDGS We talked with our ops people and it looks like we periodically purge anything older than 60 days, so this snapshot is gone. We're going to try to streamline what we upload, which will then allow us to extend the retention time for these things. Hopefully you can rebuild what you need.

[2018-03-23 16:36] #4565 closed

[2018-03-23 16:38] droazen opened #4568 "BQSR: restore the ability to run with custom covariates"
This ability was removed during the GATK4 port of BQSR, but it is now needed by @takutosato.

[2018-03-23 17:11] magicDGS commented on #4565
It is ok, @cmnbroad - I think that for snapshots, I will use https://jitpack.io/, which builds on demand the commits that are needed. Thanks for looking into this!

[2018-03-23 19:16] jonn-smith opened #4570 "Names are not filled into VariantContext when they are created."
The name for the `variantContext` (as accessed by `getSource()`) is never populated properly.  It needs to be populated in the codec.

This field should be populated when the codec is created in `FeatureDataSource::getCodecForFeatureInput`.

[2018-03-23 20:52] sooheelee opened #4572 "CombineGVCFs incorrectly parses last GVCF block consisting of HLA contig"
Data is sensitive and bug is recapitulated in https://github.com/broadinstitute/dsde-docs/issues/3026.

CombineGVCFs gives the following error message:
[code]
Here are the dictionary lines for two consecutive HLA-DRB1 contigs:
[code]
Notice the `LN` lengths match up. It appears that our tool is mistaking contig information.

[2018-03-23 20:53] sooheelee commented on #4572
I will assign to @droazen to delegate.

[2018-03-23 20:55] droazen commented on #4572
@cmnbroad Could you have a look at this one when you get a chance?

[2018-03-23 20:57] sooheelee commented on #4572
Original post on forum: https://gatkforums.broadinstitute.org/gatk/discussion/comment/47226#Comment_47226

[2018-03-23 21:26] #4552 closed

[2018-03-23 23:53] lima1 opened #4573 "Mutect2 - emit germline sites"
This has been asked a few times (e.g. https://gatkforums.broadinstitute.org/gatk/discussion/10251/is-it-possible-for-gatk4-beta3-mutect2-to-output-germline-variants-also), but would it be possible to add a flag to M2 so that it keeps germline sites? Currently there are filters hardcoded in M2 when matched normals are provided.

Thanks for all the awesome work in GATK4. @davidbenjamin

[2018-03-24 12:06] samuelklee commented on #4558
A few comments to add on to what we discussed in person:

I think the coverage distribution is indeed the correct summary statistic to model for this problem.  Total coverage just doesn't provide enough information, but subsampling bins or fitting a per-bin bias model is overkill.

However, I think a straightforward, self-contained modeling or masking approach (which need not rely on a mappability

[2018-03-24 12:17] samuelklee commented on #4558
A few more plots.  These show the histograms across all contigs for various samples.  The filtered data looks quite straightforward (and I've purposely chosen samples that exhibit a few interesting quirks due to mosaicism, etc.):

![xx](https://user-images.githubusercontent.com/11076296/37863841-85289b80-2f3b-11e8-83ce-f3d37a8f69cd.png)
![xy](https://user-images.githubusercontent.com/11076296/3786

[2018-03-24 12:59] samuelklee commented on #4558
Also, I think that being able to express joint contig-contig ploidy priors will help immensely.  That is, rather than giving X a prior that evenly weights CN = 1 and CN = 2 and Y a separate prior that evenly weights CN = 0 and CN = 1, we'd want to be able to specify that the combinations XX and XY should be evenly weighted (otherwise we are equally likely to get X and XXY).

[2018-03-24 13:17] wangyugui opened #4574 "Mutect2 alway output "." to VCF QUAL when tumor only mode"
Hi.

Mutect2 alway output "." to VCF QUAL when tumor only mode

Should we assign a qual value for it?

[code]

[2018-03-24 13:26] wangyugui commented on #4574
`--use-new-qual-calculator true` does NOT work too.

[2018-03-24 13:59] wangyugui commented on #4574
Can we change some param of HaplotypeCaller to make it more sensitive , so the vcf result of HaplotypeCaller will be more close to that of Mutect2 tumor-only mode?

[2018-03-24 19:15] mbabadi commented on #4558
Thanks for sharing your analysis.

What is your criterion for choosing the main peak? I have seen quite a few WGS samples, which before mappability filtering, have their coverage peak at 0, and/or the median count is significantly away from the main peak (due to the abundance of low mappability bins with small counts).

Also, the second peak of chrX coverage in XY samples that you show above is no

[2018-03-24 19:39] mbabadi commented on #4558
Just to clarify -- your proposed approach is certainly useful for filtering large germline events, etc, and must be part of the solution (for more robustness). What I'm saying here is that some elementary filtering gives us great mileage, both in terms of our ease of mind in determining the hard-filtering region in the ploidy tool, and for reducing false calls.

[2018-03-24 20:22] cbao-bi commented on #4555
Thanks @sooheelee!
I posted the reason in the GATK forum. Please feel free to let me know if you have any questions.

"Say that we have some known variants (e.g. VCF file from GATK4 mutect2) in sample A and want to force them to call mutations in sample B. The key is to determine the genotype of sample B by the intervals of these variants. In the research of cancer evolution, it is important to fi

[2018-03-24 20:44] samuelklee commented on #4558
Thanks for kicking those off!  A few more comments:

Just to summarize so far---I am arguing that we probably don't need mappability filtering for ploidy calling, as naive bin filtering suffices to clean up the relevant histograms.  And, as you showed, we can hopefully rely on per-bin bias modeling to at least partially account for mappability in gCNV calling (and we certainly wouldn't want to fil

[2018-03-25 00:26] davidbenjamin commented on #4555
@sooheelee [Commenting on the forum discussion] `--alleles`, `--genotyping-mode`, and `--consensus` are inherited from a common parent class of Mutect2 and HaplotypeCaller and are inactive in GATK 4 Mutect2.  I should fix this misleading situation.

@cbao-bi's use case is important and the work-around that I gave on the forum is not satisfactory.  I'm convinced that it's worth doing it right.  Let

[2018-03-25 00:30] davidbenjamin commented on #4573
Based on community interest we did this in PR #4522.  Although it has been merged into master we haven't put out a new tagged release since then, so it's not yet in the gatk4 docker.

[2018-03-25 08:42] wangyugui opened #4575 "multiple samples support or GVCF support for mutect2 tumor-only mode"
Hi.

We need multiple samples support or GVCF support for mutect2 tumor-only mode.

so we can diff the ./. and 0/0 in multiple normal samples.

There is neither multiple samples support nor GVCF support in version 4.0.2.1.

Best Regards

[2018-03-25 16:51] lima1 commented on #4573
Fantastic, thanks a lot!

[2018-03-25 16:51] #4573 closed

[2018-03-25 17:36] cbao-bi commented on #4555
Thanks @davidbenjamin and @sooheelee ! Please keep me updated.

[2018-03-26 10:19] aderzelle commented on #4559
Thanks for your replies, I will give it a try.

[2018-03-26 12:10] wangyugui opened #4576 "which option to tuning sensitivity of HaplotypeCaller/GATK 4.0.2.1"
Hi.

GATK HaplotypeCaller -stand-call-conf 0 report 21 var on chrM, but Mutect2 tumor-only mode report 57 var on chrM.
and GATK HaplotypeCaller -stand-call-conf 10 report 21 var on chrM too.

Which option can be used to tuning sensitivity of HaplotypeCaller/GATK 4.0.2.1?

The sample is NA12891 of BaseSpace HiSeqX Nextera data.

Best Regards

[2018-03-26 12:25] #4345 closed

[2018-03-26 12:44] cmnbroad commented on #4572
@sooheelee I can see the original forum post, but I get a 404 when I click on the link at the top of this ticket (https://github.com/broadinstitute/dsde-docs/issues/3026).

[2018-03-26 13:21] cmnbroad opened #4577 "IOUtils writeTempResource/writeTempResourceFromPath should mark files for deletion"
The methods currently leave this to the caller, but this can and should be done automatically.

[2018-03-26 13:35] wangyugui commented on #4576
In the above example,most of var found in HaplotypeCaller's result are also found in Mutect2 tumor-only mode.  but there is one exception .

rs2001031(chrM:8860) is found in HaplotypeCaller's result, but not found in the result of Mutect2 tumor-only mode. and there is no complex var near chrM:8860 in the result of Mutect2 tumor-only mode too.

[2018-03-26 14:34] ldgauthier commented on #4576
HaplotypeCaller run using the default ploidy of 2 is not suited to mitochondrial variant calling.  Variants at or below 10% allele fraction may not trigger assembly of the active region.

Some users have reported improved HaplotypeCaller MT calling results by using higher ploidies (up to 100).

[2018-03-26 14:48] ldgauthier commented on #4574
This is expected behavior.  Github issues are for bug reports.  Please post questions to the GATK forum: https://gatkforums.broadinstitute.org/gatk/

[2018-03-26 14:48] #4574 closed

[2018-03-26 14:48] #4576 closed

[2018-03-26 14:53] wangyugui commented on #4576
@ldgauthier

Is there a param to tuning this 'Variants at or below 10% allele fraction may not trigger assembly of the active region.'?

[2018-03-26 15:10] sooheelee commented on #4572
We need to ask @vdauwera to give you permission to view the dsde-docs repo.

[2018-03-26 15:12] wangyugui commented on #4576
In other region, -stand-call-conf 0/10  works well in my test.

[2018-03-26 15:16] sooheelee commented on #4551
Thanks, @samuelklee for keeping me updated.

[2018-03-26 15:20] wangyugui opened #4578 "IndexOutOfBoundsException of Mutect2/GATK 4.0.2.1"
Hi.

IndexOutOfBoundsException of Mutect2/GATK 4.0.2.1.

[code]

but it works well on some other chr/region too.

[2018-03-26 16:08] ldgauthier commented on #4576
No.  You can try calling at higher ploidy, but we do not support mitochondrial variant calling with HaplotypeCaller.

[2018-03-26 16:11] LeeTL1220 opened #4579 "AnnotatedIntervalCodec has not been tested with NIO"
Though no use cases exist (yet) for NIO, testing should be added to make sure that the `AnnotatedIntervalCodec` will work using NIO.  In theory, this should work out-of-the-box, but this must be confirmed.

[2018-03-26 16:14] LeeTL1220 opened #4580 "XsvLocatableTableCodec and AnnotatedIntervalCodec should inherit from the same abstract class"
Currently, `AnnotatedIntervalCodec` has an attribute that is an instance of `XsvLocatableTableCodec`.  There should be an abstract class that both classes inherit common code.

[2018-03-26 16:25] #2555 closed

[2018-03-26 16:25] #4186 closed

[2018-03-26 17:26] jonn-smith opened #4581 "Funcotator - Need to create funcotator config file as an alternative to CLI options"
Currently `Funcotator` uses many command-line options for configuration.  This is inefficient and potentially confusing.

`Funcotator` should be modified to take in a configuration file (using `Owner`) that can configure all of the CLI options for the tool.

[2018-03-26 17:38] jonn-smith commented on #3749
If it's easier we should just detect when this happens and add a warning annotation to these records.

[2018-03-26 17:41] jonn-smith commented on #3849
Review code in `Oncotator` and see if it can be ported.

[2018-03-26 17:57] jonn-smith commented on #4400
Need to investigate if `COSMIC` has transcript information to make these annotations correct.

At a minimum can just duplicate `Oncotator` functionality here.

[2018-03-26 18:08] jonn-smith commented on #4413
Need to test the fix for this on a distributed file system.

[2018-03-26 18:16] jonn-smith opened #4582 "Funcotator - review and finalize data sources release numbers / versioning"
Need to look at how to version the releases of data sources and individual data sources.

This is exemplified with the dbSNP `common` vs dbSNP `All` problem.

[2018-03-26 18:18] jonn-smith opened #4583 "Funcotator - VCFOutputRenderer needs to be reviewed with new changes from MAF"
The `MafOutputRenderer` changed how some funcotation fields are accessed.

Need to make VCF output consistent with the code in MAF output, and need to make sure it's consistent to the VCF format.

Specifically, `VCFOutputRenderer` should use the funcotation map that is now created internally to go through and render the annotations.

Specifically use `Funcotation::getFieldNames` and `Funcotation::

[2018-03-26 18:24] jonn-smith opened #4585 "Funcotator - Check BEST_EFFECT / CANONICAL vs Oncotator to investigate differences"
There seem to be differences between `Funcotator` and `Oncotator` in the way they order transcripts with effects.

Need to verify that `Funcotator` is doing the right thing.

[2018-03-26 18:29] jonn-smith opened #4586 "Funcotator - Need Performance Upgrades"
Funcotator can be slow.

Need to profile it and make it fast all the time.

[2018-03-26 19:00] jonn-smith opened #4587 "Funcotator - Need to update M2 WDL to allow for all options to be passed in for Funcotator"
Need to review and fix the WDL for M2 to include the flags for hg38 and all other input options.

[2018-03-26 19:09] samuelklee commented on #4371
Motivated by some of the discussion and work by @mbabadi in #4558, I quickly revisited the revision of the ploidy model.  The key difference is now we use the per-contig coverage *histogram* (rather than just the per-contig total coverage).  This histogram conveys a lot more information, and with some naive filtering provides some relatively easy peaks to fit (see more discussion in #4558).  I thi

[2018-03-26 19:17] samuelklee commented on #4371
For the record, here is the (uncommented and raw) code for the prototype model:

[code]

We can probably tidy this up in several ways, but it works.  Some of the priors can probably be cleaned up---especially note the awkward bounded prior for the additive mosaic factor `f_js`.  Also note that I used list comprehension because of the differing number of ploidy states across contig sets, which resu

[2018-03-26 19:29] #4567 closed

[2018-03-26 19:39] mbabadi commented on #4371
Looks great!

One quick note: I don't get the idea behind `Poisson` -- shouldn't we simply use negative binomials w/ modeled `mu_sj` and `alpha_sj`, evaluated at observed counts (`tt.arange(min_count, max_count + 1)`), and weighted with number bins for each count (occurrences)?

Another quick note: what I had in mind was _either_ modeling `mu_sj` at quantized ploidy states, _or_ let the ploidy sta

[2018-03-26 19:47] sooheelee commented on #4572
In the meanwhile, I've SLACKed you the location of the data @cmnbroad.

[2018-03-26 19:54] mbabadi commented on #4371
A technical note: as an alternative to equal-sized binning of the coverage distribution, we could use a non-uniform binning strategy that utilizes the available number of bins to represent the variations in the CDF in the most accurate way. Here's what I had written earlier:
[code]
Here, `get_counts_summary` returns a tuple of `(abscissa, occurrences)`. The summary is interpreted as follows: there

[2018-03-26 20:51] samuelklee commented on #4371
The `Poisson` arises because we want to our model to generate the *occurrences*, assuming that each *count bin* provides equal weight---rather than the counts themselves.  As usual, modeling each bin as Poisson is close enough to modeling all bins as multinomial for our purposes.  If we directly use the NB likelihood and simply weight the count likelihood by occurrences, then a few occurrences in

[2018-03-26 21:15] Neato-Nick commented on #4544
Jumping on to report I've also been having issues using GATK 4 genotyping. CombineGVCFs (v4.0.1.1) runs fine no matter how many samples I use, but GenotypeGVCFs chokes at some limit. I iteratively subsetted my sample list to see at what point it begins to choke. I used line count of the final vcf file as an approximation of how far the genotyper got. Even at the 110 samples, though, CombineGVCFs r

[2018-03-27 09:57] aderzelle opened #4591 "CNN error python module"
Hello,

when running the cnn I have this error :
File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'get_metric_dict'

As I know you are working on another version, I am not totally sure if it is appropriate to report this issue for the current version. You can ignore it I can wait for the other version release.

Thanks a lot

[2018-03-27 12:16] cmnbroad commented on #4591
@aderzelle The CNN tool requires some Python packages - you may not have the correct set of dependencies. There are instructions [here](https://github.com/broadinstitute/gatk#requirements) on how to establish the required environment via the Conda package manager. See the 3rd bullet point in the "Optional but recommended" section. Hope that helps.

[2018-03-27 13:02] ldgauthier commented on #4371
Beautiful results @samuelklee -- and some of that data was really squirrely too!

I think continuing with the current round of evaluations makes sense.  Those unusual sex genotype samples are pretty rare so spot checking should be fine. I'm excited about having a robust set of learning parameters so we can get this tool to users.  We can work on catching the tricky and interesting but rare cases a

[2018-03-27 13:03] cmnbroad commented on #4532
Fixed via #4530.

[2018-03-27 13:03] #4532 closed

[2018-03-27 13:17] ldgauthier opened #4592 "GenomicsDBImport needs better error messages for parallel import"
I had a dumb permissions issue that had me spinning my wheels for a while because of some very terse logging.  With the 5 reader threads we use in production I get:
`A USER ERROR has occurred: Couldn't read file. Error was: Failure while waiting for FeatureReader to initialize  with exception: com.google.cloud.storage.StorageException: All 20 retries failed. Waited a total of 1918000 ms between at

[2018-03-27 13:59] ldgauthier commented on #4561
We were still making changes to the assembly in versions 3.2 and 3.3.  For example: https://github.com/broadinstitute/gsa-unstable/pull/582  Nothing is popping out at me as being the breaking change after 3.3 though.

I think the problem is that there are too many haplotypes in that region.  There are at least 8 plausible variants, which makes for ~256 haplotypes.  We pick the "best" 128 to evalua

[2018-03-27 15:17] jonn-smith opened #4594 "Funcotator - COSMIC data source should produce annotations without GENCODE data sources (with a warning)"
Currently COSMIC data sources require that GENCODE funcotations have been created prior to creating funcotations from COSMIC.

It should be changed so that it's OK to make annotations without GENCODE, but with a warning to the user that only annotations with good Genome Positions can be used.

[2018-03-27 15:44] jnktsj opened #4596 "Need an escape character in the Filter task in the M2 WDL"
Hi, I found a tiny bug in the `Filter` task that runs `FilterMutectCalls`. It appears that the line 713 of the M2 WDL needs an `\` at the end.

https://github.com/broadinstitute/gatk/blob/b5720472fe025270e410379885cd58fed7b20b77/scripts/mutect2_wdl/mutect2.wdl#L713-L714

[2018-03-27 15:56] cmnbroad opened #4597 "TableCodec doesn't correctly handle hg38 intervals correctly"
SimpleInterval has a constructor that parses an interval String, but without access to a SequenceDictionary its not possible to correctly interpret intervals with contig names such as those used in hg38. It looks like the only non-test consumer of this method is TableCodec.

For example:

- `HLA-A*01:01:01:01` is interpreted as `HLA-A*01:01:01:1-1`, but `HLA-A*01:01:01` doesn't exist
- `HLA-A*01:0

[2018-03-27 16:28] cmnbroad commented on #4539
Also, it might be a good idea to separate the various CNN tool files and resources from the VQSR package.

[2018-03-27 16:35] droazen commented on #4249
This is done -- I've provided the GKL team with a representative assortment of bams via email, including whole genomes and exomes, binned and unbinned qual scores, and a super-deep panel bam.

[2018-03-27 16:35] #4249 closed

[2018-03-27 16:36] kgururaj commented on #4592
This error seems to be associated with the FeatureReader that reads VCFs off the GCS - any thoughts about how GenomicsDB should deal with this?

[2018-03-27 16:55] droazen commented on #4592
@kgururaj I think we just need to check the catch blocks in `GenomicsDBImport.getFeatureReadersInParallel()`, and get them to propagate the underlying exceptions properly (instead of just the top-level exception), so that we don't lose useful error messages like this.

[2018-03-27 18:04] Neato-Nick commented on #4544
UPDATE: I solved the issue on my end. A collaborator was having the same issue with their haploid data, but not their diploid. The problems I described above were for haploid data. He added "--new-qual" to his GenotypeGVCFs command and that solved the issue. It did for me as well! Using the same combined GVCF file as I was before, genotyping finished in less than half a minute after adding the new

[2018-03-27 18:08] droazen commented on #4544
This is interesting. @davidbenjamin, can you think of a reason why `--new-qual` would use much less memory for non-diploid data vs. old qual?

[2018-03-27 18:28] droazen opened #4598 "Provide a WDL that can efficiently run SortSamSpark on a ~100 GB genome"
Provide @eitanbanks with a WDL that can efficiently run `SortSamSpark` on a normal-size (~100GB genome) on a single large compute instance. It should make whatever resource requests are necessary, including multiple local SSDs stitched together into a RAID or virtual filesystem, sufficient memory, and use an appropriate number of cores to balance memory usage against performance.

For @jamesemery

[2018-03-27 19:15] ldgauthier commented on #4511
@daquang The Java model training tool was just merged in.  We'll probably cut a release soon, but you can build from master if you just can't wait.

[2018-03-27 19:15] #4511 closed

[2018-03-27 19:17] jonn-smith opened #4599 "Funcotator - refContext is incorrect in some cases"
The refContext annotation is not always correct.

This needs to be investigated, specifically for indels, but in general it should be reviewed.

[2018-03-27 19:18] jonn-smith opened #4600 "Funcotator - GC Content is not always correct"
The GC Content annotation is not always correct.

This needs to be investigated, specifically for indels, but in general it should be reviewed.

[2018-03-27 23:09] SHuang-Broad commented on #4382
closed by #4562

[2018-03-27 23:09] #4382 closed

[2018-03-28 12:12] magicDGS opened #4603 "GATK versioning scheme for downstream projects"
I would like to start a new project to extend the engine of GATK (mostly walker types, e.g. https://github.com/broadinstitute/gatk/issues/1198 and common utilities), and thus I require to have an idea of how the versioning scheme is related to the public API if at all.

This will allow me to say that the extensions works with GATK between 4.0.0.0 and 4.1.0.0, for example, and to know when some wor

[2018-03-28 13:19] ldgauthier commented on #3688
I did a really rough benchmarking of the new mode on my local machine.  There were ~80,000 samples and ~40,000 variants.  Master finished in 139.6 minutes and the new branch finished in 44.74.  Significant speedup!  At a glance the variants and INFO field attributes look like they match, but I'm running a more thorough comparison now.

There's something weird about the logging though.  Master outp

[2018-03-28 13:45] cmnbroad commented on #4572
Thanks @sooheelee. The code is definitely not correctly reconciling the accumulated variants/blocks that are remaining when traversal ends. I have a fix that resolves it, at least for this case, but this needs some more analysis and I'm going to have to write some additional tests to be sure that its correct.

[2018-03-28 13:50] sooheelee commented on #4572
Great to hear there is a fix so soon @cmnbroad. Let me know if I can help out with creating test data.

[2018-03-28 13:54] sooheelee commented on #4572
Fyi @cmnbroad, the researcher has clarified that this error occurs for other primary assembly contigs, e.g. chr1. See their clarification [here](https://gatkforums.broadinstitute.org/gatk/discussion/comment/47226#Comment_47226).

[2018-03-28 13:57] ldgauthier commented on #3688
@kgururaj There does seem to be a significant discrepancy in the INFO field depth (DP) for about a quarter of the sites.  Example below (left is original, right is new sites-only mode):
[code]
GenotypeGVCFs from the original jar agrees with the version on the left from the same jar, which isn't a big surprise.  My intuition leads me to believe that this could be something like excluding no-call si

[2018-03-28 14:00] 13am opened #4604 "VariantAnnotator cmd line arg parsing error"
Passing a .ped file to the VariantAnnotator tool does not work:

Result:  A USER ERROR has occurred: **p** is not a recognized option

Result: A USER ERROR has occurred: **ped** is not a recognized option

Above, "gatk4" is an alias of "/Library/Java/JavaVirtualMachines/jdk1.8.0_162.jdk/Contents/Home/bin/java -jar ~/lib/gatk/gatk-4.0.3.0/gatk-package-4.0.3.0-local.jar"

[2018-03-28 14:22] cmnbroad commented on #4604
@jamesemery I think this is because the annotation plugin, which has the pedigree arg, hasn't been integrated with the tools yet (second part of https://github.com/broadinstitute/gatk/issues/3287) ?

[2018-03-28 14:34] jamesemery commented on #4604
@cmnbroad That is correct. Once upon a time it was waiting on the VariantAnnotator to be integrated before advancing on it but now its being held in place by newtons first law. I will take a look at updating the branch.

[2018-03-28 15:51] wangyugui commented on #4578
Hi.

Same Error on 4.0.3.0
[code]

[2018-03-28 15:55] droazen commented on #4578
@davidbenjamin Could you have a look at this one when you get a chance? Looks like it might be a bug in `Mutect2Engine.isActive()`

[2018-03-28 16:14] #4357 closed

[2018-03-28 16:19] droazen commented on #4603
@magicDGS The GATK versioning scheme is not related to the API -- it is targeted at end users rather than projects using GATK as a library. Here's a slide that explains it:

<img width="824" alt="gatk_versioning" src="https://user-images.githubusercontent.com/798637/38042254-e5bb85a4-3281-11e8-8d83-017bb6b73fda.png">

As the slide mentions, we have given some thought to supplementing the main vers

[2018-03-28 16:20] davidbenjamin commented on #4578
@wangyugui This could happen if your germline resource doesn't have an allele frequency (AF) INFO field on the X chromosome, at least for some variants.    Without AF the germline resource doesn't do anything, and you might as well just run M2 without the germline resource when this is the case.  By the way, what resource are you using?  It doesn't look like gnomAD, which is the best option.  I th

[2018-03-28 16:30] chandrans commented on #4561
Thank you Laura and Valentin for looking into this. @ldgauthier @vruano

[2018-03-28 16:32] davidbenjamin commented on #4544
@droazen I don't have a good reason.  For ploidy greater than 2, sure, but I would expect old qual's brute force approach to do okay on haploids.  I will say that for non-diploids it goes to `GeneralPloidyExactAFCalculator`, which is a class that nobody paid attention to and contains a lot of spooky code.

[2018-03-28 16:35] droazen commented on #4544
In that case it's likely that there is a bug specific to the old-qual code path in GATK4, that was not present in GATK3.

[2018-03-28 16:39] davidbenjamin commented on #4575
@wangyugui Could you explain your use case a bit further?

[2018-03-28 16:45] davidbenjamin commented on #4555
@cbao-bi It's in code review: PR #4601.

[2018-03-28 17:02] davidbenjamin commented on #4327
@sooheelee As an initial attempt to address this without too much refactoring, what about a two-step process where the user runs M2 with all samples eg `-I normal.bam -I tumor1.bam -I tumor2.bam -tumor sample1 -tumor sample2` (this would require a small code change to specify `-tumor` more than once) and then uses the common set of variants in GGA mode (PR #4601) on each sample individually?

[2018-03-28 17:04] davidbenjamin opened #4606 "Bamout mode in M2 wdl sometimes fails"
See the discussion on the forum: [https://gatkforums.broadinstitute.org/gatk/discussion/comment/46907#Comment_46907](url)

After scattering the merged bamouts we need to sort before indexing.

[2018-03-28 17:10] lbergelson commented on #4249
Should we link to them here?  It would be nice to be able to find them again.

[2018-03-28 19:04] mwalker174 commented on #4273
I was able to work around the issue by changing the default value in GATKConfig.java and rebuilding.

[2018-03-28 20:45] jonn-smith opened #4609 "Funcotator should support segment annotations."
Funcotator currently does not support annotating `.seg` files.

This functionality should be added and should be mutually exclusive to `VCF` annotations.

The segment annotation process should create a `gene_list` file and a new `.seg` file.

[2018-03-28 21:04] chandrans commented on #2865
We have at least 4 users who are excited for this to go in.

[2018-03-29 01:15] kshakir opened #4610 "Push gatkbase tags to GCR"
For the various GATK docker images, the larger `4.x.y.z` tags are available in GCR but the smaller `gatkbase-a.b.c` tags are only available in [docker hub](https://hub.docker.com/r/broadinstitute/gatk/tags/).

[code]

The smaller "base" images are 1/5th of the size of the larger images while still containing a number of useful utilities for GATK based workflows.

[2018-03-29 06:56] magicDGS commented on #4603
Thanks @droazen - the main idea of the `gatk-extra` project that I have in mind is to add common utilities (as walkers or utilities for pairs of `GATKRead` based on HTSJDK) that I will use in other projects and I will port to the GATK if I see that it might be useful for other projects based on GATK4. But of course, if they can get merged into GATK there is no need to build the features as a new l

[2018-03-29 07:38] wangyugui commented on #4575
for example,
the var of sample Normal_A:
chr1   100   T    A  1/1
chr1   110    T   T   0/0(not ouputted in vcf)

the var of samlpe Normal_B:
chr1   100   T    T  ./. (not coveraged, not outputed in vcf too)
chr1   110   T    A   1/1

[2018-03-29 07:45] wangyugui commented on #4578
yes. there is no INFO/AF. but there is a INFO/CAF info
This is a dbsnp(common) vcf file.

[2018-03-29 10:49] wangyugui commented on #4578
The same command works well on MT, but failed on X;
Is there any other reason too?

[2018-03-29 13:03] ldgauthier commented on #3688
Darn, I forgot about that.  I was hoping to not have to touch the genotypes at all, as you implemented it.  Let me look at some more data and see if there's anything we can do. There are a couple different flavors of depth and maybe the sum over the INFO field does make more sense.

[2018-03-29 13:26] AxVE opened #4612 "BwaSpark and bam order"
Hi, a small question (and maybe issue here).

Does BwaSpark require the input bam to be queryname sorted ?

I have a pipeline doing `.fastq -> FastqToSam -> .bam ->  BwaSpark -> Some other stuffs` and FastqToSam take time (40min) relative to the entire pipeline (2h).
I tried to speed-up it by creating a unsorted bam using -SO unsorted. It's faster but BwaSpark crashes.

There is no indication in B

[2018-03-29 13:40] #4599 closed

[2018-03-29 13:41] #4600 closed

[2018-03-29 15:31] davidbenjamin commented on #4578
@wangyugui I think that I'm against supporting INFO/CAF, first because trying to support non-standard annotations could get messy, and secondly because we want people to use gnomAD.  If you really want to use dbSNP you could always do something like:
[code]
But again, we do not recommend this!  In fact, we would probably name the `--germline-resource` argument `--gnomad` if it weren't for people u

[2018-03-29 16:24] droazen commented on #3688
Sounds like the fix here might kill some/all of our performance gains from implementing this feature... :(

[2018-03-29 16:34] droazen commented on #4603
@magicDGS My preference would be to make an effort to try to get the features you want into the GATK proper, so that more developers can take advantage of them. Let's start with making another attempt at getting your `SlidingWindowWalker` class merged, and see how that goes. If it turns out that certain changes you require can't be merged for whatever reason, then we can work with you to agree on

[2018-03-29 16:45] droazen commented on #4610
This was an oversight on our part that we'll fix. You should also note, however, that we have a branch coming soon that will *significantly* reduce the size of the main GATK docker image (by several GB).

[2018-03-29 17:10] kgururaj commented on #3688
* The performance should be fine - TileDB/GenomicsDB stores each field in a separate file (columnar storage) and so adding MIN_DP file to the list of queried fields (~5-10 INFO fields) should be fine.
* One possible source of performance improvement - I was querying the PL field in the sites only query (not producing it in the output VariantContext objects). I think it can be dropped from the quer

[2018-03-29 19:59] lbergelson opened #4614 "make newQual the default for GenotypeGVCFs"
People don't know to use  new qual with GenotypeGVCFs so they're wasting a lot of time running the less efficient old qual.  There are also people encountering bugs in old qual (see https://github.com/broadinstitute/gatk/issues/4544) We should consider making new qual the default and deprecating old qual.

@ldgauthier @davidbenjamin  Thoughts?

[2018-03-29 23:16] wangyugui commented on #4578
sed 's/CAF/AF/g' dbsnp.vcf > dbsnp_for_m2.vcf does NOT work.
because CAF is diff from AF in format, not just name.

[2018-03-30 01:01] davidbenjamin commented on #4578
Ah, I see -- it seems like the difference is that the CAF includes the reference allele while AF doesn't.  Is that right?  So you would have `AF=0.1` and `CAF=0.9,0.1`.  I have to imagine there is some sort of bash trickery you could do.  For example, if every site has at least one alt allele, and therefore CAF always has a comma, you could delete everything from the `=` (exclusive) until the `,`

[2018-03-30 01:55] wangyugui commented on #4578
with these fix, it works now

[code]

please fix these case if possible.
1)no INFO/AF in vcf record
2)AF=. in VCF record

[2018-03-30 08:21] wangyugui opened #4617 "reproduction problem of HaplotypeCaller when different interval split"
Hi.

The VCF output file of HaplotypeCaller is not same when different interval split.

It seems that smaller region will product more var into vcf file.
split1:chr unit
     5,089,533 var in vcf
split2: gatk4.SplitIntervals.sh(500 unit)
   5,142,322 var in vcf

fastq files
     HiSeqX-PCR-free-v2.5-NA12878 70x from BaseSpace.

gatk version:4.0.3.0

By the way, there are some many diff site just i

[2018-03-30 12:20] lbergelson opened #4618 "Investigate performance regression in ApplyBQSR"
Our Jenkins tests are reporting a major performance regression in ApplyBQSR. We should figure out what's going on.

[2018-03-30 13:07] sooheelee commented on #4617
Please post the exact command you ran @wangyugui. Also, we ask that these types of reports first go through the forum at https://gatkforums.broadinstitute.org/gatk/discussions. Thanks for reporting.

[2018-03-30 13:38] ldgauthier commented on #4614
The other issue is that making newQual the default is going to introduce batch effects.  @vdauwera  Can correct me if I'm wrong, but the party line used to be "use the same version for all of your samples or we're not responsible".  I do want to do it, I just don't know how we make it as obvious as possible.  Would this justify a minor release?  Or we could put one of those scary red warnings in t

[2018-03-30 15:02] wangyugui commented on #4617
[code]

[2018-03-30 15:19] bshifaw opened #4619 "Error when using IntervalListTools in gatk4"
### Affected tool(s)
IntervalListTools

### Affected version(s)
GATK 4.0.3.0

### Description
I’ve been getting the following error when executing IntervalListTools in gatk4

`SECOND_LIST must be null when ACTION is CONCAT, found []. Please put all the inputs in INPUT for this ACTION.`

I can replicate the error when manually executing the command on gatk4 docker but the same command works fine on

[2018-03-30 15:25] droazen commented on #4614
@davidbenjamin I do think we should throw this switch soon, perhaps even for the next release, provided we keep the old code path intact for now. There are two things that could affect the exact timing of the PR:

1. I have a major `HaplotypeCaller` testing branch still in flight that I'd prefer to get merged before we throw the switch. I'd expect this to hit master sometime next week.

2. There h

[2018-03-30 16:46] ldgauthier commented on #3688
I reran the data with the new branch, but forgot to enable the sites-only mode.  :-(  I'm going to do it right this time and I'll get you results (and possibly an associated thumbs up or thumbs down) soon @kgururaj .

[2018-03-30 16:50] ldgauthier commented on #3688
BTW, we could actually get a more accurate DP estimate by using the INFO field instead of the FORMAT DP (so we wouldn't have to touch the genotypes at all), but I'm still thinking through the implementation details.  It would introduce batch effects, but it would be an improvement in results and rescue your performance optimization.

[2018-03-30 20:17] ldgauthier commented on #3688
New version looks good!  My results show identical data in the first 8 columns (sites-only) of the VCF from master and from the latest gatk-3688 branch commit.  The log says the new version ran in 39.61 minutes, which is much, much better than the 139.75 minutes for master.  I give it a :+1: for meeting the requirements in this issue.

I'm still getting very coarse logging, though:
[code]
@droazen

[2018-03-30 21:08] lucidtronix commented on #4225
Finished, [2D CNN inference](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/vqsr/CNNScoreVariants.java) and training merged, many new issues spawned.:
- [X] A cool(?) name CNNScoreVariants
- [x] Model training script (in Python, eventually in Java)
- [x] Pretrained model for WGS
- [x] Pretrained model for WEx (still being validated and

[2018-03-30 21:08] #4225 closed

[2018-04-01 19:16] chandrans commented on #4525
A second user has reported it as well. https://gatkforums.broadinstitute.org/gatk/discussion/11693/combine-gvcfs-error

[2018-04-02 12:17] cmnbroad commented on #4619
It looks like this was an issue in Picard that was fixed in https://github.com/broadinstitute/picard/pull/972. It should be fixed in GATK the next time we pull in a new version of Picard.

[2018-04-02 14:09] jamesnemesh commented on #2092
Is there any planned release date for this functionality?

[2018-04-02 15:08] droazen commented on #4525
@cmnbroad Could you please have a look at this one when you get a chance, since you're already in this tool at the moment for https://github.com/broadinstitute/gatk/issues/4572? We've been asked to prioritize this ticket. Thanks!

[2018-04-02 16:01] cmnbroad commented on #4525
@chandrans I don't have access to dsde-docs so I can't see the ticket/test files (we asked @vdauwera to give me access last week for a different issue, but I don't have it yet).

[2018-04-02 17:20] cbao-bi commented on #4555
@davidbenjamin Thank you! I would like to follow up.

[2018-04-02 18:08] cmnbroad commented on #2092
@jamesnemesh As I mentioned in the gitter room, we plan to put some more effort into this in the coming quarter, but there is no target release date established at this point.