[2020-12-21 23:00] TnakaNY commented on #6857
I am facing same problem when I tried to merge Mutect2 vcf files (from several patients) to one. I tried to use bcftools merge, but I got a same error. I used Mutect2 of GATK4.1.9.0.

From when does Mutect2 have this error?

I am thinking of downgrade GATK tools such as 4.1.7.0 or older version.
Does anyone have information? Which GATK4 Mutect2 version should I try?

[2020-12-21 23:27] TnakaNY commented on #6931
Hi pbrennan13 and all,
I have same error in merging Mutect2.vcf files to one by using bcftools merge function.

I am beginner for editing vcf files.

How did you change all 'A' and '1' -> '.' of Mutect2 vcf files?
Could you show me or write brief command here?

It would be great help for those who are beginner.

[2020-12-22 17:19] cmnbroad commented on #6930
I don't t have time to do a deep dive on this before I leave for the holidays, but I looked briefly don't see any obvious solution that leverages the existing annotation framework. Maybe @jamesemery has some thoughts ?

[2020-12-23 00:29] bbimber opened #7013 "Spark VariantWalkers?"
Hello -

We have a tool build over VariantEval (https://bimberlab.github.io/DISCVRSeq/toolDoc/com_github_discvrseq_walkers_variantqc_VariantQC.html), which is not fast to run. It should be parallelizable, and I am assuming that making a spark version is the way one is supposed to do this. I see VariantWalkerSpark in your github and two example subclasses, but I dont see any real VariantWalkers usi

[2020-12-23 03:20] lbergelson commented on #7013
@bbimber No, we don't currently have any real examples of spark VariantWalkers unfortunately.  I actually think you're the first person to be interested in one.  All of our expensive variant operations (particularly GenomicsDBImport and GenotypeGvcfs) are parallelized by splitting the input file into ranges and processing those independently right now.

[2020-12-23 03:39] bbimber commented on #7013
OK. Our pipelines currently all use gatk like you say. Our upstream code splits an operation (set of processing steps) into intervals and scatter/gathers across our slurm cluster. Other code then merges the output, which is usually a vcf.

VariantQC (which is basically a fancy variant eval), cannot currently be split so easily, since it aggregates data across the genome. Another option I've toyed

[2020-12-23 13:59] cwhelan commented on #6463
This doesn't seem really related to the other stuff I've been doing with the phasing code, but I've been taking a look since I've been working in that area. After some testing I can confirm that this does seem to be an error in the phasing algorithm logic that occurs when the first variant in the set of called variants is homozygous alt, as @tfenne suggests. I'll try to come up with a fix and eith

[2020-12-23 19:31] bbimber commented on #7013
If it helps, this is a dummy walker that illustrates the kind of parallelization I'm exploring whether I can implement. The main sticking point I think exists relates to different threads interacting with FeatureManager and the feature reading code:

I would appreciate any thoughts on how to approach this in GATK.

[code]

[2020-12-28 15:41] bbimber commented on #7005
Hello - I realize people are probably out for stretches over christmas/new years, but we'd really like to try to dig into this issue. Does anyone have comments at least on the GenomicsDBLibLoader errors?

[2020-12-28 20:01] PlatonB opened #7014 "bwa-mem2 in ReadsPipelineSpark"
## Feature request

### Tool(s) or class(es) involved
ReadsPipelineSpark

### Description
[Bwa-mem2](https://github.com/bwa-mem2/bwa-mem2) is a more modern and faster algorithm than the classic bwa-mem. I propose to designate bwa-mem2 as the default aligner.

[2020-12-29 16:30] gabeng opened #7015 "Newer versions of Mutect2 miss low-AF variants"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- [x] 4.1.1.0..4.1.9.0

### Description
I am evaluating Mutect2 variant calling performance in GiaB mixtures (target capture, no UMI, 2000x avg coverage). In particular, I am comparing 4.0.12.0 against 4.1.9.0 with default parameters. Below, I am providing data from a representative sample.
4.1.9.0 misses variants th

[2020-12-30 23:44] twood1 commented on #6651
Was this issue ever resolved, or was the problem clearly identified? I am currently experiencing this error, but any help would be appreciated.

[2020-12-31 18:53] jonn-smith commented on #6651
@twood1 This is still an open issue, but I know where in the code it's happening and what is going on.  I just haven't had time to debug it.  For now a workaround is to remove the variant causing the failure from your file.  You can find this by looking at the variants that Funcotator outputs - the variant after the final output entry will be the one causing this failure.

[2020-12-31 19:27] twood1 commented on #6651
@jonn-smith Thanks for the prompt response jonn - is the code for the surrounding issue(s) open source? If so, could you point me towards the file?

[2020-12-31 19:32] jonn-smith commented on #6651
@twood1 No prob.  Yup - it's all open source, but this particular part of the code may be a bit tricky to debug (which is why I haven't gotten to it yet).

The issue is happening in `org.broadinstitute.hellbender.tools.funcotator.ProteinChangeInfo` but the problem is upstream of that when I'm extracting the sequence information from the reference to create the protein change strings.

Feel free to

[2020-12-31 21:05] twood1 commented on #6651
So the issue you are describing is essentially completely independent from input parameters/options, minus the reference fasta and the input VCF. Is that correct?

[2021-01-04 08:05] jingchen-0927 opened #7016 "[Mutect2] the Alter Frequency[AF] is bigger than expected"
## Bug Report
Hello,  I have a question about Mutect2 in GATK4(version 4.1.9.0). I wonder that the AF result is not exact.

### Affected version(s)
GATK4 version 4.1.9.0

### Description
I got the result for the below site:
chr17   41244376        .       T       C       .       .       AS_SB_TABLE=575,531|23,21;DP=1192;ECNT=1;MBQ=30,30;MFRL=242,275;MMQ=60,60;MPOS=37;POPAF=7.30;TLOD=69.90      GT:

[2021-01-04 14:40] bbimber commented on #7005
Hello - I thought I'd write again to see if by chance anyone was back from the holidays. Again, I'm happy to do more legwork on our side, but would appreciate if anyone had thoughts on the GenomicsDBLibLoader error posted above.  Thanks.

[2021-01-04 14:47] bbimber commented on #6620
I would appreciate if anyone could comment on the probable bug we're seeing with GenomicsDB input / GenotypeGVCFs and --force-outout-intervals, here: #7005 ; however, we can probably close this issue.

[2021-01-04 14:47] #6620 closed

[2021-01-04 17:25] nalinigans commented on #7005
Yes, Windows is not supported by GenomicsDB. This is mentioned obliquely in the requirements for gatk too -
[code]

[2021-01-04 17:53] bbimber commented on #7005
@nalinigans OK, thanks. I'll try to get docker going w/ intellij.

to the original question/bug: is there anything inherent about GenotypeGVCFs with GenomicsDB as the source vs. a gVCF as the source that one would expect to change how GATK determines the reference allele? I have not actually run this yet, but if I'm correct on the problem this probably should repo it (an addition to GenotypeGVCFsI

[2021-01-04 19:19] droazen commented on #6954
@ldgauthier Should this one be closed?

[2021-01-04 19:20] droazen commented on #6938
@ldgauthier Any update on this one?

[2021-01-04 19:22] droazen commented on #6926
Closing as resolved.

[2021-01-04 19:22] #6926 closed

[2021-01-04 19:23] droazen commented on #6913
@gbrandt6 Did this one get resolved on the forum?

[2021-01-04 19:24] droazen commented on #6907
@paulstretenowich Could you open this issue in the Picard repository instead (https://github.com/broadinstitute/picard)? `CollectOxoGMetrics` is a Picard tool.

[2021-01-04 19:24] #6907 closed

[2021-01-04 19:26] jonn-smith commented on #6651
Correct - though it also depends on the Gencode data source which is tied to the reference.

It really pulls the protein change info from the gencode transcript sequence, which is at the core of the issue.

[2021-01-04 19:26] droazen commented on #6906
@giacuong171 We don't currently support Spark 3.0 -- the latest supported version of Spark in GATK is 2.4.5.

We hope to add support for Spark 3 within the next few months.

[2021-01-04 19:26] #6906 closed

[2021-01-04 19:43] droazen commented on #7015
@davidbenjamin @fleharty ^^^

[2021-01-04 19:44] droazen commented on #7012
@nalinigans @mlathara ^^

[2021-01-04 19:46] droazen commented on #7008
@aliveben2k Are you still encountering this error?

[2021-01-04 19:50] jamesemery opened #7017 "Change IOUtils.createTempFile() to be more robust to all side outputs."
As per the discussion on #6780 our temp file code calls out to `createTempFileInDirectory()` which itself has a list of hard-coded index extensions that it appends to the file. This seems brittle and could leak tmp files onto disk if we don't diligently update that method with all new side outputs.

We should change this method to create a tmp directory that is in its entirety marked as `deleteOnE

[2021-01-04 20:46] cmnbroad commented on #6649
We've been seeing this again on travis recently (both @asmirnov and @yfarjoun have encountered it lately) so reopening since they look identical to this.

[2021-01-04 20:59] bbimber commented on #7005
@nalinigans OK, I have been able to repro this using GATK's existing test data. It's not quite what I originally thought, but I created a test to illustrate it. It might be easier to show on this PR: #7018

[2021-01-04 21:00] gbrandt6 commented on #6913
There are no posts regarding this issue, haven't heard from the user.

[2021-01-04 21:55] nalinigans commented on #7012
@ccastane9,  looks like a memory issue. Some questions -

1. What are the sizes of the book-keeping files in your GenomicsDB workspace? Try running `find  /ECA3_GenomicsDB_260 -name __book_keeping.tdb.gz -ls`.
2. Is /ECA3_GenomicsDB_260 on NFS or another shared Posix FS? Can you try running GenotypeGVCFs with `--genomicsdb-shared-posixfs-optimizations` turned on?
3. What does your hardware configu

[2021-01-04 22:02] jamesemery commented on #6930
Hey @bbimber I will have to think on this. The most simple solution might be to add a feature context side input for the annotation in question but looking at how that code is threaded in the variant callers it would take a little bit of work to add it to those tools and probably introduce some complicated questions, (like for example: what is the correct featurecontext to send to annotate a varia

[2021-01-04 22:17] bbimber commented on #6930
Sure, it's a fair point that we could write this genotype-compare operation as a standalone tool. It's convenient to make it work via VariantAnnotator so that we can do it concurrently with other annotation tasks, instead of needed two passes through the VCF. I primarily ask b/c this is a downgrade from GATK3, where the equivalent of FeatureContext was passed.

Would it be reasonable for the Featu

[2021-01-04 23:00] bbimber commented on #6930
@jamesemery What about supporting an initialize() method on VariantAnnotation? This is GATK3-like, and would be non-disruptive to existing code, since the interfaces could have a default no-op implementation?

    /**
     * Provides an opportunity to set up context
     */
    public void initialize(VariantAnnotatorEngine engine) {

    }

Then we could address whether any context is appropriate

[2021-01-05 00:15] niyomiw commented on #6913
Hi,

Sorry I never got around to post this on the forum. I had to put it in the back burner for a little bit because I never figured out what the issue was. I will post it soon when I get a chance.

Thank you for checking in. I really appreciate it.

Best,

Niyomi House

PhD Candidate

Florida Museum of Natural History

1659 Museum Road

University of Florida

Gainesville, FL 32611-7800

Phone: 90

[2021-01-05 03:11] aliveben2k commented on #7008
Yes, this happened repeatedly. Now I use GenomicsDBImport instead of CombineGVCFs, and it seems no problem. However, it is much slower than CombineGVCFs when import samples into GenomicsDB even using batch and consolidate arguments in our server.

[2021-01-05 03:21] aliveben2k commented on #7008
BTW, if I use output files of CombineGVCFs as input files of GenotypeGVCFs, and split chromosome sequence into small pieces (1,000,000 bp) such as:
gatk --java-options "-Xmx16g -XX:ParallelGCThreads=2" GenotypeGVCFs -R REF.fasta -V combined_vcf_Chr01.g.vcf -O output_Chr01_1.vcf **-L Chr01:1-1000000** -all-sites
if there is no variant site, the output file will only contain header lines. No non-var

[2021-01-05 20:10] bhanugandham opened #7023 "**bug report** Concordance tooldocs incorrectly showing -R as optional"
Concordance tools requires a reference files as input but the [toolsdocs](https://gatk.broadinstitute.org/hc/en-us/articles/360051307691-Concordance) incorrectly shows -R as optional.

[2021-01-05 20:10] gbrandt6 opened #7024 "Leftover PHP Code in ToolDocs"
## Documentation request

### Description
This involves the Tool Docs pages. When sharing the link to a tool docs page, the link description shows the PHP code from the old website.

For example,
**SelectVariants**
_include '../../../../common/include/common.php'; include_once '../../../config.php'; $module = modules::GATK; $name = docSN::toolDocs; printHeader($module, $name, topSN::guide); ..._

[2021-01-05 20:14] droazen commented on #7023
@bhanugandham What error do you get when running the tool without a reference? It looks to me like the tool does not actually use the reference at all.

[2021-01-05 20:14] droazen commented on #7024
@cmnbroad Any insight into what might be causing this one? Is this a problem with our documentation templates?

[2021-01-05 20:27] bhanugandham commented on #7023
As accurately suggested by David Roazen, Concordance tool does not require an input reference file. UNLESS, the input vcfs do not have sequence dictionaries in the header. In that case the tool should throw a UserException.

[2021-01-05 20:42] cmnbroad commented on #7024
@gbrandt6 Can you be more specific about how you're creating the link and where you see this text.

[2021-01-05 20:50] gbrandt6 commented on #7024
@cmnbroad yes, it is visible when sharing a link through Slack. It might be in other places as well, but that is where I have seen it. If you send one of the Tool Docs pages in a channel or conversation, the text is visible in the preview/link description.

[2021-01-05 20:58] cmnbroad commented on #7024
Got it thanks. I'll take a look.

[2021-01-05 21:45] cmnbroad commented on #6649
Attached is a log file from a travis job (https://travis-ci.com/github/broadinstitute/gatk/builds/212021574) where this happened again, with the core dump file contents embedded in the log text.

[log.txt](https://github.com/broadinstitute/gatk/files/5772739/log.txt)

The java stack indicates that the seg fault originated in a call to `jni_GetByteArrayElements` made from GKL `com.intel.gkl.pairhmm

[2021-01-05 22:11] mepowers commented on #6649
@SnehalA have you seen this error before?  @KMannth?

[2021-01-05 22:47] Kmannth commented on #6649
We have run the GATK Units test a few times and we don't have any reports of this issue but our  testing has been on Centos 7.x no quite apples to apples to Ubunta and Java 11.

What is a GATK git tag that this issue has been seen on?
How many different version of JAVA is Travis testing with?
Has this only been seen with Java 11 or others as well?

[2021-01-06 05:01] davidbenjamin commented on #7016
AF is not calculated as AD/DP.  Rather, it is the mean posterior cell fraction conditioned on the variant existing.  The true AF is always unknown — the stochastic estimate AD/DP is merely the read fraction.

[2021-01-06 05:01] #7016 closed

[2021-01-06 07:04] jingchen-0927 commented on #7016
Dear David, thanks for your reply.
I could not get the idea of  "it is the mean posterior cell fraction conditioned on the variant existing" . Could you describe it in more detail ? Or could you offer me the explaination by web or document?  My email is jingchen_r@163.com. Thanks again.

[2021-01-06 13:48] cmnbroad commented on #6649
@kmannth It happened on current master (commit 60e1aa234) yesterday, but I don't think it matters since its been happening on numerous builds going back to at least August. Rerunning the job usually resolves it, though sometimes it takes 2 or 3 tries.

Travis runs with Java 8 and Java 11. AFAIK every time we've seen this its been on Java 11.

[2021-01-06 17:39] droazen opened #7027 "Print currently-supported Spark version on GATK startup"

[2021-01-06 17:40] droazen commented on #6671
@Abby3017 We are hoping to add support for Spark 3.x within the next few months. The currently-supported Spark version as of GATK 4.1.9.0 is `2.4.5`. I agree that it would be helpful to make the supported Spark version easier to discover -- I've opened a ticket to modify GATK to print the Spark version on startup: https://github.com/broadinstitute/gatk/issues/7027

[2021-01-06 17:42] droazen commented on #6671
@lbergelson There is currently an intermittent segfault in the GKL on travis in Java 11 that might pose an obstacle for this ticket:

https://github.com/broadinstitute/gatk/issues/6649
https://github.com/Intel-HLS/GKL/issues/133

[2021-01-06 21:38] lbergelson commented on #6671
Yes, this is not ideal.  It's weird that this just started.  I wonder what's changed in the environment.

[2021-01-06 22:38] ccastane9 commented on #7012
@nalinigans, to answer your questions as best as I can (sorry, I'm a bit of a novice)
1. the size of the book keeping file is:  20,779,823bytes (~21Mb)
2. I believe it is a shared Posix FS; Running this option created a similar error except this time there was: "cannot load book-keeping: Reading MBR failed" (output below)
3. available memory ~89Gb
4. I am running -Xmx16g java option

Newest output

[2021-01-07 17:26] bbimber opened #7030 "Scatter/gather VariantEval (tool that doesnt create VCFs)?"
As I've posted in other issues, my makes a tool called VariantQC, which internally uses VariantEval to create various QC data about VCFs, and then turns that into an HTML report. Our data is becoming too large to practically process using VariantQC/VariantEval. We run most GATK tools scatter/gather on our cluster, with each tool executing over defined intervals. We have a final job that merges the

[2021-01-07 17:27] #7013 closed

[2021-01-07 17:27] #4447 closed

[2021-01-07 19:16] nalinigans commented on #7012
Your -Xmx option seems to be rather small. Can you try 32G or 48G? Also, if you can share the following files from the GenomicsDB array `/ECA3_GenomicsDB_260/3`  -  `__array_schema.tdb` and any one `__book_keeping.tdb.gz` from one of the directories under /ECA3_GenomicsDB_260/3), that would be helpful for debugging.

[2021-01-07 20:08] #7027 closed

[2021-01-08 07:51] Ning-310 opened #7031 "BaseRecalibrator：A USER ERROR has occurred: Number of read groups must be >= 1, but is 0"
### Instructions
gatk --java-options "-Xmx12G -Djava.io.tmpdir=/data/nws/WES/1align_out/200919_A00682_0446_AHCVMJDSXY/tmp -DGATK_STACKTRACE_ON_USER_EXCEPTION=true" BaseRecalibrator -R /data/nws/WES/reference/Homo_sapiens_assembly38.fasta -I /data/nws/WES/1align_out/200919_A00682_0446_AHCVMJDSXY/Set12-3_L1_361361.sorted.marked.bam -O recal_data.table  --known-sites /data/nws/WES/reference/dbsnp_146

[2021-01-08 08:50] legendre-adrien opened #7032 "Mutect2: free(): invalid size"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
gatk:4.1.4.1
### Description
Hello, I have an issue when i run Mutect2. Indeed it's seems to be a RAM issue (you will find 2 different log behind). To be aware of the context, I am using Mutect2 in production and in the new version which I use, approximately 1% of my Mutect2 failed. I first try to understand the log

[2021-01-09 21:59] ccastane9 commented on #7012
Hopefully I have attached the files correctly, I also tried increasing the -Xmx option but received the same error. Thanks again for all of your help!
[__array_schema.zip](https://github.com/broadinstitute/gatk/files/5791887/__array_schema.zip)

[__book_keeping.tdb.zip](https://github.com/broadinstitute/gatk/files/5791889/__book_keeping.tdb.zip)

[2021-01-11 14:10] cmnbroad commented on #7024
@gbrandt6 The online docs have a `meta` tag with a `description` attribute that contains the php code:

`<meta name="description" content="include '../../../../common/include/common.php';     include_once '../../../config.php';     $module = modules::GATK;     $name =..." /><meta property="og:image" content="https://theme.zdassets.com/theme_assets/2378360/ceb967563bfc35b9ab52ba13c0f5c4d870dff930.p

[2021-01-11 19:06] cmnbroad commented on #7030
We discussed this a bit today. I think we'd be open to taking these changes, including a standalone merge tool, assuming it can be done cleanly and with good test coverage for the new code. The existing implementation of `StratificationManager`, which is pretty much old school GATK3 code, relies heavily `Object` and type casts, etc.; I'd certainly encourage you to consider addressing the issues in

[2021-01-11 19:21] droazen commented on #7031
@Ning-310 Can you check your `Set12-3_L1_361361.sorted.marked.bam` and confirm that all reads are assigned to a read group? Also, can you try running with the latest GATK release (4.1.9.0), and see if the issue persists?

[2021-01-11 19:37] droazen commented on #7014
@tedsharpe How much effort do you think it would be to adapt the current BWA bindings to bwa-mem2?

[2021-01-11 20:58] ldgauthier commented on #6998
What I've used in the past to solve this problem is
-select 'vc.hasGenotypes() && vc.getCalledChrCount(vc.getAltAlleleWithHighestAlleleCount())/(1.0*vc.getCalledChrCount()) > 0.1'

This may effectively be a dupe of https://github.com/samtools/htsjdk/issues/423

[2021-01-11 21:04] #6825 closed

[2021-01-11 21:09] nalinigans commented on #7012
Thanks. I am seeing a Z_DATA_ERROR with the `Error: (gzip_handle_error) Error encountered during inflate with /home/vagrant/__book_keeping.tdb: Z_DATA_ERROR`, are you seeing anything like that with either GenomicsDBImport or when querying using GenotypeGVCFs?

[2021-01-11 21:12] tedsharpe commented on #7014
It looks like the API has little changed.  Probably not too hard.

[2021-01-12 00:12] nalinigans commented on #7012
Thanks, we have reproduced the issue with your files.

Did you see any errors logged during the GenomicsDBImport phase? What OS are you running on? Will you be able to help by re-running GenomicsDBImport with a debug version of the libtiledbgenomicsdb.so and `./gatk --java-options "-Dgenomicsdb.library.path=/path/to/libtiledbgenomicsdb.so" GenomicsDBImport`? If so, will build and share a debug ver

[2021-01-12 03:08] ccastane9 commented on #7012
Hi, I do not recall seeing any of those errors during the GenomicsSBImport phase nor can I find any errors readily logged, although I can recreate the database for Chromosome 3 and tell you for sure if I find any errors logged. I am running GenomicsDBImport on a Linux v3.10.0-1127.19.1.el7.x86_64 amd64 server - and yes, I can rerun a debugged version.

[2021-01-12 03:26] nalinigans commented on #7012
@ccastane9, what favor of Linux is your server running on?

[2021-01-12 03:42] ccastane9 commented on #7012
@nalinigans scientific Linux 7.9

[2021-01-12 16:19] #6849 closed

[2021-01-12 18:11] nh13 opened #7034 "Expose HaplotypeCaller `READ_QUALITY_FILTER_THRESHOLD` on the command line"
Would it be possible to expose the [`READ_QUALITY_FILTER_THRESHOLD`](https://github.com/broadinstitute/gatk/blob/9d5727df8db3a475b1ba5f9bff6bc92a322f5633/src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/HaplotypeCallerEngine.java#L729) on the command line for 4.9.0.1?  I know on the latest branch we have [`--mapping-quality-threshold`](https://github.com/broadinstitute/gat

[2021-01-12 18:30] jamesemery commented on #7034
@nh13 Thank you for your question. I agree that it is particularly onerous to lower the mapping quality currently since there are two seperate arguments `--mapping-quality-threshold` and '--minimum-mapping-quality' that are separate. In order to lower the threshold they must BOTH be set otherwise nothing will change and low MQ reads will not be handled. This is necessary due to the order in which

[2021-01-12 18:47] jamesemery commented on #7034
It should also be noted that the current behavior of the HaplotypeCaller on low base quality reads could be better. Specifically in the PairHMM there is code that explicitly caps the base qualities for every base in every read to be at most the reads Mapping Quality. Empirically this doesn't seem to sufficiently penalize low MQ reads in the HMM scores which is part of the reason for the hard cutto

[2021-01-12 19:17] vdauwera commented on #7024
The php code should no longer be necessary, we used it as part of the page structure on the old website, but the new website uses a different system. So I believe this is legacy crud that can be removed. Just need to check the github->zendesk push system to make sure the crud isn't somehow important to the process. Happy to consult.

[2021-01-12 19:35] droazen commented on #7024
@gbrandt6 Since this is not a GATK issue, but a problem in the github -> zendesk push system external to GATK, can this be closed?

[2021-01-12 19:40] vdauwera commented on #7024
@droazen I believe the raw templates containing the php code (which should be removed) are in the GATK repo so this can't be closed quite yet.

[2021-01-12 19:54] #6963 closed

[2021-01-12 20:02] nh13 commented on #7034
@jamesemery totally get the technical limitation for command line parsing. I think the renaming you suggests helps, and in the documentation for both command line options they should mention each other, and describe where in the calling process they're applied (eg. prior to generating candidate haplotypes, and after haplotype generation but before final genotyping).  I think it's valid to have to

[2021-01-12 20:29] #7001 closed

[2021-01-12 21:11] seahearman opened #7035 "MarkDuplicatesSpark throw an error"
## Bug Report
when I run the MarkDuplicatesSpark, it throws me an error: basically it shows the spark engine stopped when run this function.
the part of the error log is here:
`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/rnaseq_pipeline_app/Apps/GATK/gatk-4.1.9.0/gatk-package-4.1.9.0-local.jar) to method

[2021-01-13 14:59] ccastane9 commented on #7012
@nalinigans here is what errors I received during the GenomicsDBImport phase (in bold):

21:10:42.963 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/data1/_software/gatk-4.1.8.1/gatk-package-4.1.8.1-local.jar!/com/intel/gkl/native/libgkl_compression.so
Jan 11, 2021 9:10:43 PM shaded.cloud_nio.com.google.auth.oauth2.ComputeEngineCredentials runningOnComputeEngine
INFO: Fai

[2021-01-13 20:54] GATKSupportTeam opened #7037 "GenomicsDBImport java.lang.IndexOutOfBoundsException"
## Bug Report
### Version Information
GenomicsDBImport 4.1.9.0

### Summary
A user posted on the forum with an error from GenomicsDBImport. @nalinigans @mlathara Can you determine what is causing this java.lang.IndexOutOfBoundsException?

This request was created from a contribution made by vivekruhela on January 12, 2021 19:16 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/

[2021-01-13 22:00] bbimber commented on #7030
OK, once the VariantEvalEngine PR is wrapped up I will tackle this.

[2021-01-13 22:00] #7030 closed

[2021-01-13 22:11] bbimber opened #7038 "Picard MergeVcfs isnt the same as GATK3 CombineVariants"
Hello,

There was at least one prior conversation about migrating or not migrating GATK3 CombineVariants to GATK4. My understanding is that there was a decision in GATK not to migrate CombineVariants, and instead push people to use Picard MergeVcfs. As you know, Picard MergeVcfs is somewhat similar; however, it doesnt merge genotypes. That is a pretty big difference in function.

CombineVariants i

[2021-01-13 23:43] mlathara commented on #7037
Not completely sure, but this part of the log
[code]
suggests that something is wrong with the bed file they are using (is it empty?) or perhaps the sequence dictionary. Looks like the tool thinks there are no intervals being imported (total size of intervals imported is 0)

[2021-01-13 23:51] nalinigans commented on #7012
Hi, you have probably deleted out the previous comment with the `No space left on device` error, but was wondering if you could check if you have enough space, import to a new workspace and turn on `--genomicsdb-shared-posixfs-optimizations` with GenomicsDBImport?

[2021-01-14 12:48] vivekruhela commented on #7037
@mlathara : The bed file is not empty. Here is the screenshot of bed file:

![Screenshot_2021-01-14_18-15-35](https://user-images.githubusercontent.com/13174913/104592638-85827500-5694-11eb-955e-de6813bacec8.png)

The sequence dictionary is also not empty. Here is the screenshot of `.dict` file.

![Screenshot_2021-01-14_18-17-12](https://user-images.githubusercontent.com/13174913/104592784-bcf1218

[2021-01-14 16:29] droazen commented on #7037
@vivekruhela The contig names in the sequence dictionary and in the bed file are not compatible. The bed file is using the chr1, chr2, etc. naming scheme, while the sequence dictionary uses 1, 2, etc. They appear to be from different references.

[2021-01-14 17:28] ccastane9 commented on #7012
Yes, the "no space left on device" was temporary and has been fixed - I'm creating a new workspace with the --genomicsdb-shared-posixfs-optimizations turned on.

[2021-01-14 18:14] vivekruhela commented on #7037
As I have mentioned in the question itself, I downloaded the hg38 target intervals from gatk resources and then used UCSC liftover utility to convert it into hg19 based coordinates. Similarly, I have downloaded the hg19 fasta file and dict from the same gatk resources. So if I remove `chr` from chromosome name in the bed file, hopefully, that should work. (If you have any better ideas, please let

[2021-01-14 19:11] lconde-ucl opened #7040 "Funcotator to annotate VCF files with structural variants"
Hi,

I was wondering if it's possible to use funcotator to annotate a VCF with structural variants. I'm trying to use funcotator (GATK 4.1.9.0) to annotate a VCF from manta but it fails with the first variant (SVTYPE=DEL):

[code]

I've seen that FuncotateSegments works for segment files with CNVs, but I was wondering if there is (or there are plans to add) support for VCF files with SVs.

Thanks

[2021-01-14 19:32] bbimber commented on #6930
@jamesemery sorry to bug on this topic, but I'm hoping to make a push early this year to fully migrate my lab off GATK3 . I looked more closely at the specific annotations we need to migrate. I decided that I will implement our walker, 'DiscvrVariantAnnotator', which is basically a light wrapper around VariantAnnotation. This will make it easier to spike in custom annotations. In that walker, I wi

[2021-01-15 04:36] vivekruhela commented on #7037
I tried removing `chr` in the bed file, and I am getting the same error.

[2021-01-15 04:58] mlathara commented on #7037
Not sure this will work, but you could also try omitting the `--sequence-dictionary` argument and letting the tool construct one from the vcf headers. Also, when you removed the `chr` from the bed file does the tool output still indicate 0 bp from the intervals? Something like:

[code]

[2021-01-15 06:15] vivekruhela commented on #7037
1. After removing `chr` the tool output still indicates 0 bp from the interval.
2. I tried omitting the `--sequence-dictionary` argument but the tool output still indicates 0 bp from the interval.
3. If I check my command by which I generated the vcf files. I used the following mutext2 (in tumor only mode) command for normal samples:
` $gatk Mutect2 --native-pair-hmm-threads 8 -R /refs/ucsc.hg19.f

[2021-01-15 06:37] mlathara commented on #7037
Can you confirm that the contigs in the vcf headers have the same chromosome notation as your bed file? That is, they have the 'chr' prefix assuming you have the same prefix in your bed (or don't have the prefix if you're using the bed file without the prefix)

[2021-01-15 06:46] vivekruhela commented on #7037
The contigs in the vcf headers also contain `chr` and have same notwation as your bed file. Here is the screenshot of the vcf file.
![Screenshot_2021-01-15_12-14-31](https://user-images.githubusercontent.com/13174913/104690967-65ea5b80-572b-11eb-81ab-92cc46535496.png)

[2021-01-15 07:16] mlathara commented on #7037
Just as a test, what happens if you replace the bed file with an actual interval? For instance, `-L chr1`

[2021-01-15 07:23] vivekruhela commented on #7037
As you suggested, I replace bed file with `-L chr1` and I am getting an error message shown below:

`A USER ERROR has occurred: Bad input: GenomicsDBImport does not support GVCFs with MNPs. MNP found at chr1:818499 in VCF /home/akansha/vivekruhela/PON/SRR1566827.vcf.gz`

Here is the screenshot:

![Screenshot_2021-01-15_12-52-59](https://user-images.githubusercontent.com/13174913/104694058-a1d3ef80

[2021-01-15 13:16] Akazhiel commented on #6170
Hi!

I've stumbled upon the same error, on running Mutect2, the `.stats` is not generated and sometimes `FilterMutectCalls` will complain the file is missing and sometimes not. I find this quite a weird behaviour.

The commands I use to run Mutect2 and FilterMutectCalls are the following:

[code]

[code]

Best regards!

[2021-01-15 15:37] K-zhangfengwei opened #7042 "an error of filtered SNP"
I want to filter SNP, but encountered this error. Can anyone help me resolve this error.

thanks .
zhang.

`##### ERROR ------------------------------------------------------------------------------------------
##### ERROR A USER ERROR has occurred (version 3.8-1-0-gf15c1c3ef):
##### ERROR
##### ERROR This means that one or more arguments or inputs in your command are incorrect.
##### ERROR The er

[2021-01-15 16:37] mlathara commented on #7037
@vivekruhela as the error there suggests, MNPs aren't completely supported. If you want to filter them out, you could try using something like `SelectVariants` with `--select-type-to-exclude` ([link ](https://gatk.broadinstitute.org/hc/en-us/articles/360051305531-SelectVariants#--select-type-to-exclude)) before ingesting using `GenomicsDBImport`.

As for your interval issue, it may helpful to refe

[2021-01-16 00:01] nalinigans commented on #7012
Did you reproduce the issue after using `--genomicsdb-shared-posixfs-optimizations` with GenomicsDBImport?

[2021-01-16 12:52] vivekruhela commented on #7037
@mlathara As suggested, I removed all MNPs from normal vcf files and changed the bed file formated and it worked. But it is not going beyond chromosome 1. Here are the stack trace:

    15:44:02.495 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/home/akansha/vivekruhela/gatk-4.1.9.0/gatk-package-4.1.9.0-local.jar!/com/intel/gkl/native/libgkl_compression.so
    Jan 16, 202

[2021-01-18 03:21] ccastane9 commented on #7012
@nalinigans I did, and the import was a success and I saw no errors pop up - however I still cannot call variants. Below is the output for the GenomicsImport and then the same errors when I tried to call variants.

**GenomicsImport output**
11:28:17.308 INFO  IntervalArgumentCollection - Processing 121351753 bp from intervals
11:28:17.574 INFO  GenomicsDBImport - Done initializing engine
11:28:18.

[2021-01-18 05:39] mlathara commented on #7037
@vivekruhela The `GenomicsDBImport` tool doesn't accurately report back progress, so the fact that progress meter only refers to chr1 doesn't necessarily mean it only imported that. You should be able to check by listing the folders under the workspace directory and perhaps checking their sizes (something like `du -sh *` from the workspace folder may work).

As for `CreateSomaticPanelOfNormals` yo

[2021-01-18 05:46] vivekruhela commented on #7037
@mlathara Thanks a lot for making my day. Although I already checked all the directories in the `pon_db` directory, it contained a directory for all chromosomes. Still, I was not sure whether it processed all chromosomes properly or not. That's why I ask. Thanks for the clarification that `genomeDBImport` does not accurately report back progress.

By adding `gendb://` in `CreateSometicPanelOfNorma

[2021-01-18 17:30] nalinigans commented on #7012
@ccastane9, it looks like we are hitting the limits of zlib memory-wise. I had asked before, but as a workaround for now, can you split the intervals to GenomicsDBImport - see `https://gatk.broadinstitute.org/hc/en-us/articles/360035531852-Intervals-and-interval-lists`? Splitting the chromosome into 2 or 3 roughly equal regions may help.

[2021-01-18 18:49] ccastane9 commented on #7012
@nalinigans, would this be an appropriate interval command? The chromosome is roughly 121Mb, so I plan on using 3 intervals to GenomicsDBImport. Or do I need to add commas

/data1/_software/gatk-4.1.8.1/gatk --java-options "-Xmx16g" GenomicsDBImport --reference /data1/EquCab/_ECA30/Equus_caballus.EquCab3.0.dna_sm.toplevel.fa/ \
 -V /data1/EquCab/gVCF_public/xxxx.3.g.vcf.gz
 -L chr3:1-40450000
--ge

[2021-01-18 22:29] mlathara commented on #7012
@ccastane9 The command you show is on the right track. Couple of things:
- Since you are apparently using whole genome you'll want to figure out areas of the reference genome that have consecutive `N`s and start/end your intervals there (as stated in the link @nalinigans posted)
- You have the `chr` prefix in your intervals but that may or may not be needed based on what your reference and vcfs ex

[2021-01-19 03:15] ccastane9 commented on #7012
@mlathara thank you so much for the clarification, I will try to break this chromosome into multiple intervals for the GenomicsDBImport and once more try to call variants.

Again, truly appreciate all of the help!

[2021-01-20 13:55] ccastane9 commented on #7012
@nalinigans @mlathara it seems that breaking into intervals during the GenomicsDBImport is solving the problem and allowing me to joint call variants.

Thanks for all of the help in this!

[2021-01-20 16:09] ccastane9 commented on #7012
Actually, it seems it will let me call variants for part 1 of my chromosome, although I seem to get empty files for part 2 and part 3 databases when trying to joint call the variants in those intervals. In my script for using GenotypeGVCFs function I also specified the intervals which match those used during the GenomicsImportDB function. The program itself (GenotypeGVCFs) does seem to be running

[2021-01-21 17:14] cmnbroad opened #7047 "Support 64 bit ints in WDL generator when its supported in cromwell"
Depends on https://github.com/broadinstitute/cromwell/pull/6151

[2021-01-22 02:26] yurivict opened #7048 "Do LFS files need to be present when JAR is built?"
When LFS files are fetched the total size of the  directory grows to ~11GB, but the JAR file still remains at ~314MB.

What is the purpose of LFS files? Do they have to be present when package is built?

Could you please write a section in README about this to eliminate confusion?

[2021-01-22 02:28] yurivict commented on #7048
Sorry. there's actually some explanation already in README.

[2021-01-22 02:28] #7048 closed

[2021-01-22 20:21] jonn-smith opened #7051 "Latest Funcotator DataSources Gencode hg19 has unexpected order for transcript segments"
The 1.7 release of the data sources has a lifted over hg19 version of Gencode.

In this version contrary to other releases, the individual elements of each transcript seem to be represented in numerical order, rather than the order in which they appear in the transcript at transcription time.  For `+` strand transcripts, this doesn't matter, but for `-` strand transcripts, the ordering of the exon

[2021-01-22 21:23] GATKSupportTeam commented on #7051
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/87559'>Zendesk ticket #87559</a>)</i>

[2021-01-24 05:27] Ning-310 opened #7052 "How to improve the running speed of GATK4? How to set the number of threads for BaseRecalibrator, ApplyBQSR and Mutect2?"
How to improve the running speed of GATK4? How to set the number of threads for BaseRecalibrator, ApplyBQSR and Mutect2?

[2021-01-25 15:06] cmnbroad commented on #7038
@droazen Thoughts on this ?

[2021-01-25 16:03] droazen commented on #6649
When this is resolved, we'll need to re-enable the test disabled in https://github.com/broadinstitute/gatk/pull/7044

[2021-01-26 15:52] cwhelan commented on #6463
This should now be fixed via https://github.com/broadinstitute/gatk/pull/7019

[2021-01-26 15:52] #6463 closed

[2021-01-26 15:53] cwhelan commented on #6845
This should be fixed by https://github.com/broadinstitute/gatk/pull/7019

[2021-01-26 15:53] #6845 closed

[2021-01-26 16:57] GATKSupportTeam opened #7054 "IndexFeatureFile Error to Run Funcotator with Mouse Ensembl GTF"
## Description
A user wants to run Funcotator with a mouse sample but has an issue running IndexFeatureFile. The GencodeGTF parser is specific to human data. Funcotator could be useful for users with non-human data if there is a workaround for these errors.

### GATK Information
GATK 4.1.9.0
gatk IndexFeatureFile -I gencode.vM25.annotation.gtf
This request was created from a contribution made by T

[2021-01-26 18:38] droazen commented on #7054
@jonn-smith Any insight into this one?

[2021-01-26 18:43] jonn-smith commented on #7054
Yeah - there is a limited set of allowed values for `GeneTranscriptType` and the one in this particular Mouse transcript (`IG_D_pseudogene`) is not among them.  The values for `GeneTranscriptType` were modeled off the human Gencode files, but the GTF spec allows for arbitrary values in that field.  I talked with @jamesemery about this and it ultimately comes down to my want for Funcotator to fail

[2021-01-26 19:15] nh13 commented on #6845
Thanks @cwhelan !!!

[2021-01-26 21:13] #6714 closed

[2021-01-26 21:13] #7034 closed

[2021-01-27 11:57] DanielAmsel commented on #5777
After changing the transcript selection mode, it works fine.

Side-fact: The documentation says that the version of the ID is ignored (e.g. NM_123.4 would be treated as NM_123)
Anyhow, a version number has to be there. Providing a file with only NM_123 instead of NM_123.4 does not work.

From my side, the issue can be closed.
@fpbarthel How about you?

Kind regards,
Daniel

[2021-01-27 16:01] jonn-smith opened #7057 ""Native" strand sequence output for Funcotator"
Because of the initial use cases for Funcotator everything is reported on the + strand (eg. upstream / downstream bases, sequences, etc.).

We should add a flag that would change the output to be native to the strand on which the gene is located.  For + strand genes the output would not change, but any bases reported for genes on the - strand would be reverse-complemented.

[2021-01-28 13:25] Akazhiel opened #7059 "Mutect2 error when running inside a pipeline in parallel with intervals"
Upon running Mutect2 using the germline and pon provided by gatk inside a pipeline while running in parallel. If I use an intervals BED file I get the following error:

[code]

Which doesn't happen when running it without the intervals file.

I am using the latest version of GATK4 available in conda.

[2021-01-28 19:13] #5896 closed

[2021-01-28 19:13] #6901 closed

[2021-01-28 19:16] DonFreed commented on #6901
Thanks!

[2021-01-28 20:20] ldgauthier opened #7060 "CalibrateDragstrModel throws an exception on a cram"
I ran CalibrateDragstrModel on one of the NYGC 1000G crams (which should be Functionally Equivalent with ours) and got the error: `A reference must be supplied that includes the reference sequence for chr12` I did pass a reference to the tool, but couldn't get it to run until I set the samjdk.reference_fasta black magic (at @droazen 's suggestion) in the java invocation.

Huge stack trace:
java.la

[2021-01-28 20:20] ldgauthier commented on #7060
Hopefully @droazen or @jamesemery would be willing to work on a patch in Valentin's absence?

[2021-01-28 20:21] jamesemery commented on #7060
@vruano

[2021-01-28 21:30] droazen commented on #7060
Yes, @jamesemery and myself will get a patch for this in time for the 4.2 release. Since it works when you pass `-Dsamjdk.reference_fasta`, it's almost certainly just a wiring issue in the tool where the reference is not being propagated to htsjdk correctly.

[2021-01-29 02:00] #6965 closed

[2021-01-30 15:28] AlijahArcher commented on #7052
Have you read through official docs on the GATK website?  https://gatk.broadinstitute.org/hc/en-us/articles/360035889611-How-can-I-make-GATK-tools-run-faster-

My team has had great success with the scatter-gather parallelism approach (https://gatk.broadinstitute.org/hc/en-us/articles/360035532012)

[2021-01-30 16:33] AlijahArcher opened #7064 "[Feature Request] Mutect2/HaplotypeCaller "--skip-assembly" option"
## Feature request

### Tool(s) or class(es) involved
Mutect/HaplotypeCaller

### Description

**(Background)**
I've spent a lot of time working with Mutect2 in the past year (I've built a whole workflow centered around this tool).  But, while I recognize that the internal reassembly feature leads to "best-in-class" results in terms of calling variants, for my purposes it generally just creates he

[2021-01-30 20:00] AlijahArcher commented on #7006
This is a problem with your `R` environment -- you need to install the `gplots` package (amongst a few others, if you don't already have them)

From  https://gatk.broadinstitute.org/hc/en-us/articles/360035889531-What-are-the-requirements-for-running-GATK-
[code]

Here's a quick article on installing packages in R if you're unfamiliar (https://www.r-bloggers.com/2010/11/installing-r-packages/).  N

[2021-01-31 23:29] fleharty commented on #7052
@Ning-310
The vast majority of our tools are single threaded since GATK 4, and we instead use a scatter-gather framework for parallelism.

@AlijahArcher thank you for pointing out the resources above.

[2021-01-31 23:29] #7052 closed

[2021-02-01 16:03] vruano commented on #7060
I guess we can disable running it in parallel if that fix it for now. Slower but it might not make much of a difference in practice as running the whole pipeline in the cloud takes a while anyway.

[2021-02-01 16:48] davidbenjamin commented on #7064
@AlijahArcher We will need to clarify exactly what you intend by skipping the assembly.  Here are some possibilities, with my initial thoughts:

* "skip assembly" = "trust the alignments completely and use them directly for variant calling": if your aligner is good this is reasonable though not ideal.  If this is what you want you might as well use samtools for variant calling.
* "skip assembly" =

[2021-02-01 18:24] AlijahArcher commented on #7064
@davidbenjamin Thanks for taking the time to look into this and focusing the conversation further.  You bring up good points, I think options #1 and #3 are the most appealing, so I'll lean into those:

Yeah, I recognize that this puts us closer in theory to the realms of a positional-based variant caller; however, I'm quite invested in the pre-/post- processing implementations I've got built aroun

[2021-02-01 23:39] BJWiley233 commented on #6931
@TnakaNY  may be not the best way but I gunzipped all the files, used
`sed -i 's/##INFO=<ID=AS_FilterStatus,Number=A/##INFO=<ID=AS_FilterStatus,Number=1/'`,
then bgzipped and indexed again.

[2021-02-01 23:45] TnakaNY commented on #6931
Hi,
Thank you for suggestions.
Please let me try it.
Best,
AT

2021年2月1日(月) 18:40 BJWiley23 <notifications@github.com>:

[2021-02-02 18:07] #7060 closed

[2021-02-03 20:59] #7051 closed

[2021-02-04 12:26] michaelgatzen opened #7068 "SelectVariants adds duplicate header lines if description is different"
This is part of a problem already mentioned in #4252, but creating a separate issue for clarity.

`SelectVariants` adds `AF`, `AC`, `AN` and `DP` INFO fields to the VCF header. Due to an issue in htsjdk https://github.com/samtools/htsjdk/issues/929 a duplicate header line is inserted when the original header contains the same key but a different description. This results in invalid VCF files.

[2021-02-04 20:32] GATKSupportTeam opened #7070 "Performance issue with SelectVariants from GenomicsDB stored in GCS"
This request was created from a contribution made by Lucas Taniguti on February 01, 2021 22:41 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360076845511-How-do-I-SelectVariants-from-GenomicsDB-stored-in-GCS-#community\_comment\_360014183291](https://gatk.broadinstitute.org/hc/en-us/community/posts/360076845511-How-do-I-SelectVariants-from-GenomicsDB-stored-in-GCS-#communit

[2021-02-04 20:53] davidbenjamin commented on #7064
`findBestPaths` extracts haplotype sequences from the assembly graph, so if you have assembly you have to have `findBestPaths`.  This is not exactly where original alignments vanish since presumably the variant haplotypes contain the right bases.  Rather, it is later, when we align the assembled haplotypes to the reference with the Smith-Waterman algorithm, that a variant may be represented in a w

[2021-02-04 21:54] AlijahArcher commented on #7064
I see.  Yes, I think this is closer to the issue at hand --  for instance, we'll have variants that are called, then when we go back to the original alignments there will be no indication of alternate observations at the loci which the variants were called (and vice versa, we'll have original alignments that suggest a variant, but won't get called).  In the worst cases scenarios, the haplotype ali

[2021-02-04 22:10] AlijahArcher commented on #7064
Admittedly, I think I was being led to believe that the original reads themselves were being realigned somewhere in this process (I think I got this notion from the case study in the Chipster Tutorials video from last year (https://youtu.be/U85HP37IYSo?t=558)).  These new insights help me understand my own case study on the GATK forums (linked on my previous comment) too.

[2021-02-05 17:23] gbrandt6 commented on #7024
We were looking into where the php code is coming from and it looks like it is in the template files when the docs are built by gradle. @vdauwera found the code in the generic.template.html. It looks like we should be able to solve the issue without changing every single tool doc.

![](https://files.slack.com/files-pri/T0166C33N6A-F01LESQPQ8L/screen_shot_2021-01-28_at_4.26.20_pm.png)

[2021-02-08 14:15] cmnbroad commented on #6475
Fix is next version of htsjdk https://github.com/samtools/htsjdk/pull/1533. GATK test to verify this is in https://github.com/broadinstitute/gatk/pull/7066.

[2021-02-08 19:31] droazen commented on #7042
@K-zhangfengwei It looks like you're running GATK 3.x. This repository is for GATK 4.x and above -- can you try re-running with the latest release?

[2021-02-08 19:31] #7042 closed

[2021-02-08 19:31] fleharty commented on #7059
@Akazhiel It looks like the problem is with your gnomad vcf.

Caused by: htsjdk.tribble.TribbleException$MalformedFeatureFile: Unable to parse header with error: /media/AGROS/hg19/af-only-gnomad.raw.sites.vcf.gz (Device or resource busy), for input source: /media/AGROS/hg19/af-only-gnomad.raw.sites.vcf.gz

Can you verify that `/media/AGROS/hg19/af-only-gnomad.raw.sites.vcf.gz` is not actually busy

[2021-02-08 19:32] droazen commented on #7037
Closing as resolved

[2021-02-08 19:32] #7037 closed

[2021-02-08 19:35] droazen commented on #7035
@seahearman This kind of error usually indicates that you are using a newer version of Java than we support (we support Java 8). What version of Java are you running, and if it's newer than 8 can you try running with 8 and see if the error goes away?

[2021-02-08 21:36] cmnbroad commented on #7038
@bbimber We discussed this internally today. The concerns about porting this tool go back pretty far in the GATK4 timeline (see https://github.com/broadinstitute/gatk/issues/17). AFAIK there isn't reason you can't port it and use it in your own toolset though.

[2021-02-08 22:00] bbimber commented on #7038
@cmnbroad OK, thanks for the reply. I will plan to port to DISCVRseq, making some minor changes but leaving a lot as-is. I'll rename it MergeVcfsAndGenotypes but include mention of GATK3 and CombineVariants in my description of it.

[2021-02-09 13:47] #7038 closed

[2021-02-09 15:31] cmnbroad commented on #4252
In reviewing https://github.com/broadinstitute/gatk/pull/7069, I noticed another issue, which is that AC, AF, AN, DP header lines are all added to the output header automatically, whether they exist in the input or not. (Prior to #7068, there was code that added them conditionally based on the value of `setFilteredGenotypesToNocall` by calling `GATKVariantContextUtils.addChromosomeCountsToHeader`,

[2021-02-09 16:56] gbrandt6 commented on #7070
The user has posted an update with the jstack logs and they can be downloaded here (https://gatk.broadinstitute.org/hc/en-us/community/posts/360076845511/comments/360014258071)
They also provided info that when they run GenomicsDBImport for the two samples in the same command, GenotypeGVCFs completes in 14 minutes. But if they import one sample at a time (using --genomicsdb-update-workspace-path)

[2021-02-10 20:03] #6475 closed

[2021-02-11 13:13] jjfarrell opened #7076 "HaplotypeCaller: CRAMException: Attempt to unmapped with non zero alignment start (0) or span (150)"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
gatk-package-4.1.9.0-33-g31df35b-SNAPSHOT-local.jar

### Description

When run on the 30x 1000 genomes samples, I am getting this error. Not an issue on other crams we have.

[code]
#### Steps to reproduce
`gatk  HaplotypeCaller   -L chr22  -R /restricted/projectnb/casa/ref/GRCh38_full_analysis_set_plus_decoy

[2021-02-11 13:53] jjfarrell commented on #7076
I found this related issue in picard: [https://github.com/broadinstitute/picard/issues/1624]

I reindexed the cram with samtools 1.10  and it worked fined.

[2021-02-12 18:43] droazen opened #7077 "Docker build appears to be incompatible with ssh-based gatk clones"
If I clone GATK with the ssh URL (`git@github.com:broadinstitute/gatk.git`), and then run a `docker build` command from the root of that clone, I get ssh authentication errors at the `git lfs pull` step:

[code]

If I do the same thing from a GATK clone created using the https URL (`https://github.com/broadinstitute/gatk.git`), I get no lfs error.

This also raises the larger question of whether w

[2021-02-12 21:26] GATKSupportTeam opened #7080 "Picard FilterSamReads exit codes writing to stdout"
This request was created from a contribution made by rcorbett on February 03, 2021 23:47 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360076905711-filterSamReads-stdout-format-error](https://gatk.broadinstitute.org/hc/en-us/community/posts/360076905711-filterSamReads-stdout-format-error)

\--

Hi there, I am seeing some differences between the /dev/stdout and -O output.bam

[2021-02-15 13:32] PietroDR opened #7081 "Encoding of GenotypeGVCFs' output file on a system with french locale"
## Bug Report

### Affected tool(s) or class(es)
gatk GenotypeGVCFs

### Affected version(s)
- [X] Latest public release version [GATK 4.1.9.0]
- [ ] Latest master branch as of [date of test?]

### Description
Files generated by 'gatk GenotypeGVCFs' with french locale in February (Février in french) August (Août) or December (Décembre) have ISO-8859-1 encoding instead of UTF-8 encoding.

Indeed, t

[2021-02-16 13:44] cmnbroad commented on #7081
@PietroDR The VCF v4.3 spec prescribes UTF-8 character encoding, but pre-v4.3, no VCF character encoding was prescribed by the spec AFAIK. GATK writes out VCF v4.2 files and it uses ISO-8859-1 to do so.

[2021-02-16 13:54] cmnbroad commented on #7076
@jjfarrell Thanks for the update. This error message indicates an invalid index file - older versions of GATK/HTSJDK didn't report these. Reindexing is the correct remedy.

[2021-02-16 13:54] #7076 closed

[2021-02-16 22:46] #7068 closed

[2021-02-18 14:02] legendre-adrien commented on #7032
Hello,
Nothing urgent, but do you have any update about this issue ?
Best regards,

[2021-02-18 21:43] ahaessly opened #7085 "new dangling head recovery leads to array index out of bounds"
## Bug Report

### Affected tool(s) or class(es)
Mutect2, HaplotypeCaller
./gatk Mutect2 -I scripts/microbial/mtb/samples/D1CLVACXX.1.Solexa-125092.aligned.bam -R scripts/microbial/mtb/Mycobacterium_tuberculosis_H37Rv.fasta -O test.vcf --num-matching-bases-in-dangling-end-to-recover 1 --max-reads-per-alignment-start 75

### Affected version(s)
Latest master branch as of 2/18/21

### Description
ja

[2021-02-18 22:21] gevro commented on #5690
I'm getting the same issue on GATK 4.1.9.0 Has this been fixed?

[2021-02-18 23:18] gevro commented on #5690
@sahuno and @flexray - have either of you found a work-around for this? FilterAlignmentArtifacts does not have a --smith-waterman option to switch to JAVA.

[2021-02-18 23:39] droazen commented on #5690
@gevro Could you try running with the latest GATK master branch, and report whether the error still occurs?

[2021-02-18 23:43] gevro commented on #5690
Is there a docker for this on gcr.io?  Because I am using terra, so it requires a docker.

[2021-02-19 00:05] gevro commented on #5690
@droazen - note also that a simple fix would be to add --smith-waterman as an option for FilterAlignmentArtifacts. Right now it is hard-coded in FilterAlignmentArtifacts, but that would at least allow a work-around using --smith-waterman JAVA

[2021-02-19 04:21] gevro commented on #5690
Also, I suspect that for Terra another workaround might be to request a different machine type that does not support AVX:

https://cromwell.readthedocs.io/en/stable/RuntimeAttributes/

[code]

https://cloud.google.com/compute/docs/regions-zones/#available

Would appreciate any guidance on this in the meantime. Thanks!

[2021-02-19 14:05] gevro commented on #5690
I found a workaround for Terra. I just tried various cpuPlatform settings in the runtime parameters for the FilterAlignmentArtifacts task and for some reason this works:
cpuPlatform: "Intel Sandy Bridge"

[2021-02-19 17:54] droazen commented on #5690
@gevro There is a docker image snapshot of the latest master available in the [broadinstitute/gatk-nightly](https://hub.docker.com/r/broadinstitute/gatk-nightly) repository on dockerhub. The latest snapshot is `broadinstitute/gatk-nightly:2021-02-18-4.1.9.0-68-gae06fb734-NIGHTLY-SNAPSHOT`. Even though you found a workaround, it would be helpful for us to know whether this issue is resolved by the

[2021-02-19 17:56] droazen opened #7087 "FilterAlignmentArtifacts should allow the Java SmithWaterman implementation to be selected via an argument"
To allow users to work around issues like https://github.com/broadinstitute/gatk/issues/5690

[2021-02-19 19:15] #7085 closed

[2021-02-19 20:56] droazen opened #7088 "GenericTsvReader.py and CreateCosmicGene.tsv have embedded licenses"
Can these be removed? They appear to date from the Oncotator era...

[2021-02-19 21:24] #7005 closed

[2021-02-19 21:32] bbimber opened #7089 "GenomicsDBImport Creating Workspace Where REF is Inappropriately N?"
@nalinigans @droazen @mlathara I posted a while ago about an odd difference between data aggregated using CombineGVCFs and data aggregated using GenomicsDBImport. We created a minimal repro case to illustrate it. The basic idea is this:

- Run either CombineGVCFs or GenomicsDBImport on a set of gVCFs
- Run SelectVariants on the output

The data processed using GenomicsDBImport will contain a bunch

[2021-02-20 23:00] Ning-310 opened #7090 "Funcotator"
Using GATK jar /usr/local/gatk-4.1.3.0/gatk-package-4.1.3.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /usr/local/gatk-4.1.3.0/gatk-package-4.1.3.0-local.jar Funcotator -R /data/nws/WES/reference/Homo_sapiens_assembly38.fasta -V /data/nws/WES/GenomicsDBIm

[2021-02-21 01:48] gevro commented on #5690
I will try to test it next time I have a chance. I don't have the pipeline and data up anymore on Terra. But the default Terra pipeline for Mutect2 FilterAlignmentArtifacts with the default Terra cpu platform should reproduce the issue on GATK 4.1.9.0.

[2021-02-21 10:20] guandailu opened #7091 "Errors in SplitNCigarReads"
Error type 1:

        gatk --java-options "-Xmx32G -XX:ParallelGCThreads=8 -Djava.io.tmpdir=/tmp" SplitNCigarReads --spark-runner LOCAL -I 10_mkdup/SAMD00025146_mkdup.bam -R Gallus_gallus.GRCg6a.dna.toplevel.fa -L chicken_chr.list -O 11_cigar/SAMD00025146_cigar.bam --create-output-bam-index true --max-reads-in-memory 5000

00:01:27.347 INFO  NativeLibraryLoader - Loading libgkl_compression.so fro

[2021-02-22 13:15] guandailu opened #7092 "BaseRecalibrator: cigar is completely soft-clipped"
gatk --java-options "-Xmx8G -XX:ParallelGCThreads=16 -Djava.io.tmpdir=/group/zhougrp2/dguan/tmp" BaseRecalibrator --spark-runner LOCAL -I 11_cigar/SAMN06242676_cigar.bam --known-sites /group/zhougrp2/dguan/00_ref/gallus_gallus.vcf.gz -L /group/zhougrp2/dguan/00_ref/chicken_chr.list -O 12_bqsr/SAMN06242676_bqsr.table -R /group/zhougrp2/dguan/00_ref/Gallus_gallus.GRCg6a.dna.toplevel.fa --tmp-dir /gr

[2021-02-22 15:41] droazen commented on #7090
@Ning-310 I believe this was fixed in a later release. Can you please try running `Funcotator` with the latest GATK release (4.2.0.0), and see if the problem persists?

[2021-02-22 16:46] alanhoyle commented on #6289
I am seeing this same error with gatk 4.1.9.0.  At the very least, it would be nice if Funcotator caught the error and printed a warning, omitted the problematic variant, and continued instead of crashing  and leaving truncated output.  the VCF I'm annotating is WGS with 150+ samples, and it's crashing on a variant on chr9.

[2021-02-22 17:00] jonn-smith commented on #6289
@alanhoyle This is on the todo list for this quarter - there are a variety of similar issues with the protein change string that should all be resolved together.

[2021-02-22 17:50] mlathara commented on #7089
@bbimber I have to do a bit more digging here, but one thing I noted was that the reference you provide has some soft-masked regions. If I convert that reference to all upper case, the REF base is actually populated correctly. I still have to dig into why that is the case, but wanted to let you about this potential workaround in case you want to use it.

I'll update this with more as I find it...

[2021-02-22 17:55] bbimber commented on #7089
@mlathara that's interesting - i never honestly never paid attention to soft-masking or case but this is a very good point.

Does GATK interpret lowercase/soft-masking information in other parts of the product? I see HaplotypeCaller and a few tools support "--dont-use-soft-clipped-bases"; however, this seems to be opt-in (i.e. default is to include them).

[2021-02-22 19:11] droazen commented on #6722
Done!

[2021-02-22 19:11] #6722 closed

[2021-02-22 19:14] droazen commented on #7031
Possible dupe of #6242

[2021-02-22 19:24] droazen commented on #6811
This one was fixed

[2021-02-22 19:24] #6811 closed

[2021-02-22 19:28] droazen opened #7093 "Check whether outstanding GKL tickets are still valid in 4.2"

[2021-02-22 19:30] droazen commented on #6707
Closing as resolved

[2021-02-22 19:30] #6707 closed

[2021-02-22 19:37] droazen commented on #7092
@davidbenjamin Could this be related to recent changes in the Cigar parsing code?

[2021-02-22 19:41] droazen commented on #7091
@guandailu This error implies that something happened to the output file during the run -- was it moved during the run, or was the containing directory renamed? Can you replicate this error if you run again with the latest release (4.2.0.0).

[2021-02-22 19:58] droazen opened #7094 "Auto-generated WDLs don't have localization_optional turned on"
The tool-specific WDLs we generate in https://github.com/broadinstitute/gatk-tool-wdls don't have the `localization_optional` parameter turned on for args that support cloud access (ie., arguments of type GATKPath), and so always localize.

[2021-02-22 20:05] alanhoyle commented on #6289
Thank you.  The line(s) that are causing the problem for me begin as follows:
[code]

This seems to be an interesting position.

[2021-02-22 20:06] jonn-smith commented on #6289
Thanks for the test case!  From what I've seen in the past this issue happens with indels, so this makes sense to me.

[2021-02-22 21:29] GATKSupportTeam opened #7095 "Mutect2 interval list -XL naming issue"
This request was created from a contribution made by G E on February 16, 2021 22:43 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360077207472-Bug-Badly-formed-genome-unclippedLoc](https://gatk.broadinstitute.org/hc/en-us/community/posts/360077207472-Bug-Badly-formed-genome-unclippedLoc)

\--

Hi,

I'm getting this error:

A USER ERROR has occurred: Badly formed genome uncl

[2021-02-22 22:19] GATKSupportTeam opened #7096 "AnalyzeCovariates no option for second recalibration table"
This request was created from a contribution made by ISmolicz on February 17, 2021 12:03 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360077098031-Error-when-trying-to-generate-the-second-recalibration-table-for-AnalyzeCovariates](https://gatk.broadinstitute.org/hc/en-us/community/posts/360077098031-Error-when-trying-to-generate-the-second-recalibration-table-for-AnalyzeCo

[2021-02-22 23:14] alanhoyle commented on #6289
After a good deal of editing, this is an almost minimal complete VCF that throws the error (GRCh38):
[code]

The actual error I'm getting is this:

[code]

[2021-02-23 14:26] alanhoyle opened #7097 "Funcotator: Catch true variant problems and report all at end"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description
When running Funcotator on a large VCF, it can take several hours to complete, but each variant row is handled separately, row 1 and row 5 million are equally likely to have problems.  Currently, a sufficiently malformed variant row causes it to crash and leave partial output.

It would be much friendlier if the tr

[2021-02-23 18:46] gbrandt6 commented on #7080
I tried the FilterSamReads command using the Picard jar file and the output bam file to stdout had no issues
Command:
`java -jar ~/picard/build/libs/picard.jar FilterSamReads -I subsampled.bam -O /dev/stdout --READ_LIST_FILE read_names.txt --FILTER excludeReadList --VALIDATION_STRINGENCY SILENT --QUIET > picard_stdoutbam.bam`
Log:
[code]
Checking the file:
`gunzip -c -d -f picard_stdoutbam.bam | h

[2021-02-23 19:35] droazen commented on #5690
@gevro To amend my previous comment: it was brought to my attention that the docker image snapshot I linked to above does not actually come with the newer GKL release that might fix your issue. Sorry for the miscommunication! We're working on building a test GATK image that does contain the newer GKL release, and once we have that I'll post a link to it here.

[2021-02-24 02:03] woaishiye opened #7099 "I got different result on InDel extract from vcf"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-02-24 02:06] #7099 closed

[2021-02-24 02:50] woaishiye opened #7100 "I got different results on InDel extraction by using vcftools and GATK-SelectVariants"
### Affected tool(s) or class(es)
GATK
VCFTOOLS
### Affected version(s)
GATK-v4.1.1.0
VCFTOOLS-v0.1.15
### Description
I used vcftools (remove-indels and keep-only-indels) and gatk-selectvariants to extract SNPs and InDels from a gatk-GenotypeGVCFs generated original vcf file, but I got different results. The number of SNPs extracted by these two softwares was the same, but the number of InDels ex

[2021-02-24 17:30] andrew-uzilov-s4 commented on #4439
I second the request for this, and I opened up the same request under the Picard GitHub project: https://github.com/broadinstitute/picard/issues/1647

Notably, this request was implemented in the recently-released Picard 2.24.0 for IntervalListTools specifically: https://github.com/broadinstitute/picard/pull/1608

[2021-02-24 19:52] droazen opened #7102 "Authenticate with dockerhub when running tests on travis"
To avoid quota issues when pulling down the base image during tests

[2021-02-25 14:31] davidbenjamin commented on #7092
@droazen It's possible.  @guandailu Are you able to share a minimal set of inputs that reproduces the error?

[2021-02-25 15:24] davidbenjamin commented on #7064
Since the problem seems to be representation I'm going to close this issue, but I encourage you to continue submitting specific cases as we might eventually want to improve upon our Smith Waterman haplotype alignments.

[2021-02-25 15:24] #7064 closed

[2021-02-25 15:25] AlijahArcher commented on #7064
Sounds good, thanks again @davidbenjamin

[2021-02-25 16:25] jamesemery opened #7107 "Add an option to DRAGEN-GATK to output PL arrays an not the prior arrays"
DRAGEN-GATK uses dragSTR and some flat priors for SNPs for genotyping. Some consumers of the GVCFs produced by DRAGEN might not want to use the priors and instead rely on their own population priors and thus we should provide the option easily to not include those values. This would also provide a compressibility and storage cost benefit since we are in essence reporting several copies of the PL a

[2021-02-25 16:28] jamesemery opened #7108 "Investigate errors seen in the DRAGEN-GATK GVCF outputs"
There are reports that the GT fields in the DRAGEN-GATK gvcf mode outputs have some issues that are causing problems for some projects looking to use those outputs. Evidently among them are reports that some sites are reporting negative GQ fields for some variants and there are also reports the the PL arrays might not always be getting reported for every variant at some sites. We should look into

[2021-02-26 09:57] genomika-2020 opened #7110 "IlluminaBasecallsToFastq. Documentation request"
## Documentation request

### Tool
IlluminaBasecallsToFastq

### gatk version
 4.1.9.0

### Description
 Hi,
The IlluminaBasecallsToFastq tool is great, but its documentation is quite misleading. In my opinion the following things should be clarified:

1.  It would be nice to know just from the beginning that the ` ExtractIlluminaBarcodes` tool must be used to prepare  `_barcode.txt` files (if the

[2021-02-26 13:39] michaelgatzen opened #7111 "SelectVariants cannot filter variant types for GVCFs (VariantTypesVariantFilter)"
When running `gatk SelectVariants -V ... --select-type SNP -O ...` on GVCFs the output is empty, since every GVCF VariantContext is assigned the type `MIXED` in HTSJDK, due to its symbolic alternate allele (e.g. `<NON_REF>,A`).

[2021-02-26 13:49] michaelgatzen commented on #7111
Is this expected? If not, how should we address that? I could think of copying the type determination code from HTSJDK into VariantTypesVariantFilter and accounting for this case, which would fix the problem for this filter. However I could also imagine that always assigning MIXED to every GVCF variant isn't very helpful in other situations, but making a change in HTSJDK's VariantContext would pro

[2021-02-26 17:23] mlathara commented on #7089
I can't speak to the other GATK tools, but some follow up on the issue here. GenomicsDB currently only checks against upper case versions of the alleles and so returns `N` when we get a lower case `g` back from the reference. Question for @droazen/@bbimber/whoever else wants to weigh in - what should we return here? I'm not quite sure what makes the most sense in this case:
- Return the upper case

[2021-02-26 17:25] vruano commented on #6269
It seems that this issues is again relevant considering recent discussion including @eitanbanks and @jamesemery.

Now in DRAGEN mode we use posteriors to determine QUAL and  GT as does DRAGEN. However this is not so by default, and can be activated independently using the argument  ```--use-posteriors-to-calculate-qual``` and ```--genotype-assignment-method  USE_POSTERIOR_PROBABILITIES``` respecti

[2021-02-26 17:33] vruano commented on #7108
Need a dataset to reproduce the issue and fix it.

[2021-02-26 18:07] bbimber commented on #7089
@mlathara OK, at least we have an answer. I can see the logic in what GenomicsDB is doing, but I would also say that a difference in behavior when using a combined gVCF as a data source as compared to a genomicsdb workspace as a source should absolutely not happen. There might be an argument for a user option to handle soft-clip interpretation; however, the defaults and behavior should be identica

[2021-02-26 18:14] droazen commented on #7111
I agree that this behavior seems non-helpful -- perhaps `SelectVariants` needs a special GVCF-aware mode. I'd consult with @ldgauthier to see what she thinks would be best here.

[2021-02-28 14:26] Ning-310 opened #7114 "FilterMutectCalls: Error initializing feature reader"
Using GATK jar /usr/local/gatk-4.1.3.0/gatk-package-4.1.3.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /usr/local/gatk-4.1.3.0/gatk-package-4.1.3.0-local.jar FilterMutectCalls -R /data/nws/WES/reference/Homo_sapiens_assembly38.fasta -V /data/nws/WES/Genom

[2021-03-01 16:29] brendanreardon commented on #4083
Does functotator support structural variants now? It is not clear from the documentation or this Github issue. Cheers!

[2021-03-01 16:37] PedroRaposo opened #7116 "gCNV cohort model for WGS"
Hello,

I was wondering if there is a generic WGS cohort model to be used for the gCNV detection already built.
This is because I do not have a cohort myself, only my WGS case samples.

I believe the data from the [tutorial](https://gatk.broadinstitute.org/hc/en-us/articles/360035531152) provided was based of the 1000 Genome Project [files](http://ftp.1000genomes.ebi.ac.uk/vol1/ftp/phase3/integrat

[2021-03-01 22:06] kachulis commented on #7100
@woaishiye some of the sites that vcftools outputs as indels but SelectVariants does not are excluded because SelectVariants considers them mixed sites of both SNPs and INDELs (chr1:37 for example).  However other sites, like chr1:61, seem to be highlighting an issue with how the spanning deletion allele (*) is treated in htsjdk.

[2021-03-01 22:17] kachulis commented on #7111
I think something somewhat similar is happening in #7100, related to the treatment of spanning deletions in htsjdk (discussed a few year ago here: samtools/htsjdk#806).  So if there is interest is improving some of the variant typing in htsjdk might be useful to try to resurrect that conversation.

[2021-03-02 14:33] pkolakow commented on #6733
This issue has been fixed here https://github.com/Intel-HLS/GKL/pull/142. The patch for this bug will come out with the next release.

[2021-03-02 18:58] eitanbanks commented on #6269
Oh, wait.  So the default is NOT to assign the GT based on the posteriors but rather based on the likelihoods?  Ok, then I'm happy with that!

I would like to request a few changes to the fields we emit now for variant positions:

1. we have a way to turn off the emission of the GP and PG tags and just have the PLs.  Or maybe the default should be that we don't emit them and there's a flag used to

[2021-03-02 19:11] vruano commented on #6269
PL based genotyping is the  default for "vanilla" GATK, but the default for DRAGEN-GATK (with --dragen-mode on) is to use the posteriors.

[2021-03-02 19:25] eitanbanks commented on #6269
I see.  Is there **anything** population-based in the priors used by the dragen mode?  I'm thinking that if there isn't then we should consider them to be likelihoods still and not posteriors.

[2021-03-02 19:26] jamesemery commented on #6269
It is the default if you invoke the "--dragen-mode" argument which sets it. It could be uncoupled however.

To add a few questions to your comments @eitanbanks and @ldgauthier:
1. If we are excluding the GP and PG tags and only emitting the GLs should in that case we select the genotype based on the posteriors (it also computes the QUAL score for the variant based on the posteriors) should we not

[2021-03-03 09:29] yaotianran commented on #5690
My current workaround is to downgrade GATK to 4.1.3.0

[2021-03-03 19:37] vruano commented on #6269
Their SNP priors are based on a point estimate of 1/1000 of being variant 0/1 or 1/1 and the 10^-3 is split between 0/1 1/1 with a 2:1 ratio. This is perhaps based on an empirical observation that the "average" human variant sites have a 2:1 het to hom-var ratio or simply to implement a flat prior between these two genotypes as there are two way to be a het and only one to be a hom-var. This is in

[2021-03-04 00:35] nh13 opened #7123 "Haplotypecaller: There is no variation present."
I am getting the following exception when I set `--minimum-mapping-quality` to 60 (but not 50).

[code]

[code]

<details>
<summary>test.sam</summary>

[code]
</details>

[2021-03-04 00:51] nh13 opened #7124 "Minimum mapping quality behaves strangely with overlapping read pairs"
I was investigating an issue where the depth is reported lower than expected at a given site.  The default value of `--minimum-mapping-quality` is `20`, so I tried `1`, `20,` and `60`.  Both values `1` and `60` give _higher_ depth (`INFO.DP`) than `20`, which is very counter-intuitive.  The read pairs are overlapping, so I tried the `--do-not-correct-overlapping-quality` option, which caused this

[2021-03-04 16:22] didillysquat opened #7128 "ApplyBQSR output bai file missing the .bam part of the extension"
## Bug Report

### Affected tool(s) or class(es)
ApplyBQSR

### Affected version(s)
4.2.0.0 and 4.1.9.0

### Description
The filename of the .bai file produced as default by ApplyBQSR does not include the .bam part of the extension.
Rather it only contains the base name with the .bai extension.

In other GATK tools, for example MarkDuplicatesSpark, the expected extensions are returned:
*.bam and *

[2021-03-07 15:58] fgvieira opened #7132 "VariantFiltration BCF input and output"
## Feature request

### Tool(s) or class(es) involved
`GATK VariantFiltration`

### Description
As of GATK v4.2.0.0, `VariantFiltration` only accepts `.vcf` or `.vcf.gz` files as input or output. Would it be possible to also support `.bcf` files?

Thanks,

[2021-03-08 18:00] robby81 opened #7134 "gatk IndexFeatureFile for gencode.v37.annotation.REORDERED.gtf does not work"
## Bug Report

Dear developers,

I tried to update the GENCODE database and used the getGencode.sh scripts to get the data. However, I was not able to index the feature-file: Do you have any idea why that happens and how to get it done?

Code:
/home/robby/Tools/NGS/gatk-4.2.0.0/gatk IndexFeatureFile -I /home/robby/Tools/NGS/gatk-master4_2_src/scripts/funcotator/data_sources/gencode/hg19/gencode.v3

[2021-03-08 19:17] droazen commented on #7128
@didillysquat Both extensions are valid. I believe that all non-Spark GATK tools that write a BAM use the `.bai` extension rather than the `.bam.bai`. However, I wasn't aware that the GATK Spark tools were following the opposite convention -- I agree that that seems like something that should be fixed for consistency's sake.

[2021-03-08 19:21] droazen commented on #7124
@davidbenjamin Can you comment on this interaction between `--minimum-mapping-quality` and `--do-not-correct-overlapping-quality`?

[2021-03-08 19:27] droazen commented on #7111
@ldgauthier Would you mind weighing in here on what you think the `SelectVariants` behavior with GVCFs should be? Should we add in a special mode that is aware of the NON_REF allele?

[2021-03-08 19:32] droazen commented on #7114
@Ning-310 The error you're getting here ("Did not inflate expected amount") implies that your input file is likely corrupt. Can you try running the tool `PrintBGZFBlockInformation` to validate the compressed blocks in your `.vcf.gz`?

[2021-03-08 19:45] lbergelson commented on #7132
H @fgvieira there are some problems with our implementation of bcf that make it inadvisable to use it right now in GATK.  We would like to fix it, and there has been substantial recent interest in using bcf, but we don't have a timeline fo when it will be available right now.

[2021-03-08 20:01] jamesemery commented on #7124
@nh13. This is certainly unexpected behavior but there are a few things to unpack about what you have reported. Based on what you say its likely that you have a lot of reads that happen to overlap. When mates overlap each-other we have a base quality adjustment step where we will halve the BQs for the overlapping bases in both reads and if they disagree about any given base we 0 out both of their

[2021-03-09 10:30] qindan2008 opened #7135 "Funcotator keep running without error but no results"
Hi,
I tried to use Funcotator to annotate a vcf file. The vcf file had  just 10 records. The program kept running without errors  but no results got.

**The command I used:**

/technology/software_tools/gatk-4.2.0.0/gatk  Funcotator \
--variant P01.mutect2.somatic.filterMutectCalls.indels.vcf.gz \
--reference /technology/dependent_resource/genome/hsa/ensembl/GRCh37.p13_GATK/genome.fa \
--ref-versi

[2021-03-09 19:31] jamesemery opened #7137 "Haplotype.trim() might silently be throwing away haplotypes if the stars align"
I have found a rather amusing edge case in the haplotype trimming code where by dumb unluck we we threw away all the haplotypes in an assembly region. At this site we have discovered variants from the haplotypes that look like this:
[code]
And by chance that last variant (which happens to be supported by all haplotypes present) falls outside of our active region in the padding then we try to draw

[2021-03-09 20:57] bbimber commented on #6929
@droazen I've finally been able to move ahead on this and have a question on what to expect for plugins that define arguments. I have two plugins that each share an argument. I created an ArgumentCollection class to define that argument, and then added this @ArgumentCollection to each plugin. Something like:

[code]

When I run VariantAnnotator with both plugins, I get an error from within Barclay

[2021-03-09 22:57] nh13 commented on #7124
@jamesemery you can see from my log above I am using `4.2.0.0`, and a test case (hg19 SAM file) is attached above if you're interested in looking.   I did play around with the `--mapping-quality-threshold-for-genotyping` option but it didn't seem to have an effect, but I am not 100% certain what I exactly did.

[2021-03-10 08:42] nickhir opened #7139 "ApplyBQSRSpark. java.io.IOException: Bad file descriptor"
## Bug Report

### Affected tool(s) or class(es)
ApplyBQSRSpark

### Affected version(s)
gatk-4.1.9.0

### Description
After roughly 1h of running ApplyBQSRSpark on my WGS BAM, it throws the error `java.io.IOException: Bad file descriptor`.
I then used `samtools quickcheck` to validate the integrity of my BAM file and everything seems fine. The BAM file is coordinate sorted and the duplicates are

[2021-03-12 04:27] yurivict opened #7143 "4.2.0.0: 'gatk --version' prints v1.0-SNAPSHOT"
[code]

[2021-03-12 13:06] nickhir commented on #7139
*Update*
I restarted the process and now everything works as intended. I have no Idea what went wrong.

[2021-03-12 13:06] #7139 closed

[2021-03-12 18:51] lbergelson commented on #7143
🤦

[2021-03-13 00:10] vruano opened #7144 "HC uses filtered (bad) reads in genotype (FORMAT) annotation even when these are not use to compute PL, GT, QUAL."
HaplotypeCaller discard reads in active regions that do not pass a small set QC criteria. These reads are then not used for assembly nor to calculate the likelihoods that we use for GT and QUAL  and other call quality annotations. However these reads are incorporated back into the data that is passed down to vcf record annotators.

This might be ok under some circumstances but arguably most user w

[2021-03-15 16:19] lbergelson commented on #7139
@nickhir Sounds like some temporary filesystem glitch.  Glad it's working now.

[2021-03-15 16:43] jonn-smith commented on #7134
Hi!  This issue is a duplicate of #7054 - under the hood a few changes need to be made to support arbitrary `FeatureTag`s.
 As gencode is updated they seem to be adding more `FeatureTag`s, which Funcotator doesn't expect.  The fix is relatively straight-forward, but requires several other changes as well.  Unfortunately there isn't a good workaround right now.

As a side-note, the `getGencode.sh`

[2021-03-15 18:09] droazen commented on #7143
@yurivict How did you install GATK 4.2? If you download the official release (https://github.com/broadinstitute/gatk/releases/download/4.2.0.0/gatk-4.2.0.0.zip), it prints 4.2.0.0 as it should:

[code]

[2021-03-15 18:14] droazen commented on #7144
@jamesemery Thoughts on this?

[2021-03-15 18:20] yurivict commented on #7143
I've built from sources.

[2021-03-15 18:20] #7132 closed

[2021-03-15 18:23] droazen commented on #7110
@genomika-2020 Could you please re-file this request in the Picard repo: https://github.com/broadinstitute/picard ? `IlluminaBasecallsToFastq` is a Picard tool. Thanks!

[2021-03-15 18:23] #7110 closed

[2021-03-15 18:24] jonn-smith commented on #7135
Hi @qindan2008 - is this the full log file that is produced, or is there more to it?  If there is more to the log file can you post it?  Would you mind posting one or two of your variants as well?  They can be simplified - I only the need position and alleles.

Also, did you happen to make any modifications to the data sources?  If you enabled gnomAD, Funcotator will try to read the gnomAD data so

[2021-03-15 18:26] droazen commented on #7111
Another likely related ticket: https://github.com/broadinstitute/gatk/issues/7111

[2021-03-15 18:35] droazen commented on #6837
@KevinCLydon Reassigning this one to you, as discussed.

[2021-03-15 20:02] kishorikonwar commented on #6837
@jonn-smith I am working on this ticket and was looking for the script "compareTwoReferenceDictionaries.tar.gz" you uploaded on the ticket. Looks like this is not the actual file but it gives a soft link with a path on your laptop. Could you point me to the script? Thanks Kishori

[2021-03-15 20:06] droazen commented on #7143
@yurivict When building the GATK from source, in order for the build system to correctly generate the version number, you need to build within a full git clone of the GATK repository, not just a tarball of the source code. This is because the version is calculated using git tags.

[2021-03-15 20:11] LeeTL1220 commented on #6837
What is the requirement here exactly?

Is it to generate a liftover chain file from two arbitrary references and then do the liftover of the VCF?
Would this handle big changes, such as hg19 to hg38?  Or only for lifting over similar references, such as b37 to hg19?

[2021-03-15 20:17] yurivict commented on #7143
I build as part of the FreeBSD package build. Package builders can never build from git clones because git clones don't preserve fingerprints and fingerprints are needed to maintain security (repeatability of builds).

Could you please consider adding an alternative way of determining of version through a build option?

Packages on all OSes would benefit from this.

Thank you.

[2021-03-15 20:38] droazen commented on #7143
@yurivict This is already possible -- you can manually override the version number during build using the `versionOverride` system property (eg., `-DversionOverride=4.2.0.0`). Please try that and let us know if it works for you.

[2021-03-15 20:52] droazen commented on #6837
I think the idea is to just generate the liftover file between two arbitrary references, not to actually do the liftover.

[2021-03-15 20:55] droazen commented on #6837
And yes, ideally it should handle things like hg19 -> hg38, but I'll defer to @jonn-smith on how feasible that is.

If the liftover aspect of the ticket is too difficult, it would be fine to have an initial version of the tool that just prints the differences between two references, and then we can add the liftover capability later.

[2021-03-15 21:15] yurivict commented on #7143
Adding ```-DversionOverride=4.2.0.0``` to gradle arguments doesn't change the behavior.

[2021-03-15 21:29] droazen commented on #7143
@yurivict Sorry to hear that that option didn't work for you -- we'll test it out on our end to see if it works for us. In the meantime, as a temporary workaround you can change the version number *after* building by editing the `Implementation-Version` attribute in the `META-INF/MANIFEST.MF` file inside the GATK jar.

[2021-03-15 21:40] jonn-smith commented on #6837
@kishorikonwar Ah!  My bad.  I'll post it in a sec.

@LeeTL1220 @droazen My initial goal was to compare several "equivalent" genome FASTA files and produce two things:

1. A table like [the one I made here](https://gatk.broadinstitute.org/hc/en-us/articles/360035890711#comparison) which has all the contigs that are the same and different between all input references
2. For all contigs that differ,

[2021-03-16 08:20] asortiz commented on #7092
I have the same problem. Did you fix the error?

[2021-03-16 08:24] lubocoix opened #7147 "gatk GenotypeGVCFs"
I have already get ".g.vcf " through "gatk Haplotype Caller" but when I used the code "./gatk GenotypeGVCFs -R /Users/lubo/sorgum/GCF_000003195.3_Sorghum_bicolor_NCBIv3_genomic.fna.
-V /Users/lubo/sorgum/propinquum_variation.g.vcf
 -O /Users/lubo/sorgum/propinquum.vcf" to generate the output file "propinquum.vcf" ,A USER ERROR has occurred: The list of input alleles must contain <NON_REF> as an al

[2021-03-16 14:57] jonn-smith commented on #6837
@kishorikonwar I had checked in the script a while ago, so that sim link just points to the version in GATK:

https://github.com/broadinstitute/gatk/blob/master/scripts/funcotator/testing/compareTwoReferenceDictionaries.sh
This only does the sequence dictionary check - not the base-level check, and it's not very sophistocated.

More recently I wrote a script for doing the nucleotide diffs in pytho

[2021-03-16 15:49] jamesemery commented on #7144
Just checked and this is not new behavior. I was afraid this would be an unintended consequence of the DRAGEN branch but that doesn't seem to be the case. Looking a little closer into the code I actually think the only difference this makes is explicitly for the contamination and nothing else. There are a few layers where we filter reads before the annotations are called (filtered by QC before act

[2021-03-16 16:12] jonn-smith commented on #6837
@kishorikonwar It's worth noting that there are some instructions on how to create a chain file / liftover file from UCSC here:

http://genomewiki.ucsc.edu/index.php/LiftOver_Howto

[2021-03-16 16:34] kishorikonwar commented on #6837
@jonn-smith  Thank you. I will be looking at the ucsc. I also found the following tool that implments the ucsc liftover file creation....the logic seems simple.
https://github.com/konstantint/pyliftover

[2021-03-16 17:05] lbergelson commented on #7132
@fgvieira We actually now have someone working on bcf2 support in htsjdk, so hopefully this will be possible in the not too distant future.

[2021-03-16 17:49] jonn-smith commented on #6837
@kishorikonwar No problem.  One quick note - I'm not sure that `pyliftover` actually creates the `chain` files to do the liftover.  It looks like it can only retrieve and apply chain file liftovers to a given set of coordinates / VCFs (as opposed to creating the chain file which specifies the differences between references).

It's worth checking out for how to do the liftover once the chain file h

[2021-03-16 18:21] fgvieira commented on #7132
That'd be great!
thanks,

[2021-03-16 21:11] guandailu commented on #7091
These errors have been fixed

[2021-03-16 21:12] guandailu commented on #7092
Running https://github.com/tseemann/samclip before this step can fix it

[2021-03-17 04:12] bolton-lab commented on #5918
I am getting this error using the af only gnomad file with a 5GB cram file.  I have given my node 64GB of ram and ran with `--java-options -Xmx64g` and same heap error.  Running 4.2.0.0 version.

[2021-03-17 04:38] bolton-lab commented on #5918
I am also getting this hanging issue at `INFO  ProgressMeter -        Current Locus  Elapsed Minutes        Loci Processed      Loci/Minute` with 128GB of RAM on node and to -Xmx.  Version 4.2.0.0 and 3.6

[2021-03-17 14:02] davidbenjamin commented on #5918
@bolton-lab What are your GATK commands and what resource files are you using?

[2021-03-17 20:37] lbergelson commented on #6317
Initial signed url support exists as of https://github.com/broadinstitute/gatk/pull/6526 but there are some caveats that may prevent production use.

* Some methods in the Path api weren't implemented yet, the noticeable exception is the method used when finding sister paths such as the .bai.  This means that indexes must be manually specified or you'll hit a UnimplementedFeatureException.

* Ther

[2021-03-18 21:36] ahaessly opened #7152 "CalibrateDragstrModel fails with a non zero alignment start or span"
## Bug Report

### Affected tool(s) or class(es)
CalibrateDragstrModel

### Affected version(s)
Custom build: us.gcr.io/broad-dsde-methods/broad-gatk-snapshots/dragen_final_test_v2

### Description
An exception occurs on some AoU crams when running CalibrateDragstrModel
We have tried reindexing the cram.
This data is not public but @ahaessly can be a resource to help with debugging and testing.

h

[2021-03-19 01:50] vruano opened #7153 "BUG: AllelesLikelihoods.addEvidence(X, 0.0) can result in new evidence X be given arbitrary likelihoods."
### Instructions

## Bug Report
### Affected tool(s) or class(es)
- tools: HaplotypeCaller  perhaps Mutec.
- classes: AlleleLikelihoods

### Affected version(s)
- [ X] Latest public release version [version?]
- [ X] Latest master branch as of [date of test?]

### Description
Right before calling annotators HC engine adds filtered reads as additional evidence in the AlleleLikelihoods instance that

[2021-03-19 01:52] vruano commented on #7144
Actually there is a bug associated with this reported iin https://github.com/broadinstitute/gatk/issues/7153. Once fixed the AD, DP should not be affected by those "bad" reads.

[2021-03-19 04:39] vruano commented on #7153
@ldgauthier  should be aware of this. This bug may not only affect AD or DP all this time but also other annotation that make their decision on whether to consider a read or not based on the informativeness. e.g
 SB test does.

[2021-03-19 04:40] vruano commented on #7153
Have a PR to fix it #7154

[2021-03-20 03:07] humblescientist opened #7155 "DepthOfCoverage --intervals example required"
## Feature request

### Tool(s) or class(es) involved
DepthOfCoverage --intervals parameter

### Description
Please supply an example of how intervals should be used. I just want to run DepthOfCoverage over the entire reference sequence (imho this should be the default and make --include optional), but cant work out how to do this.

I tried

DepthOfCoverage other_parameters --intervals 1-30000
Dep

[2021-03-21 07:00] DarioS opened #7156 "MuTect2 is Thread-Hungry"
Our H.P.C. administrator noted that

Can MuTect2 be redesigned to be more computationally efficient and spend less time switching threads?

[2021-03-21 14:49] fleharty commented on #7156
@DarioS
In general we don't see this kind of behavior.  Can you provide the names of these threads and the command line you are using the run M2?

One possibility is that you are running in a JVM configured with a small amount of RAM.

Consider running the JVM with -Xms2G -Xmx5G, this should be sufficient for most M2 runs.  I typically run with lower amounts of RAM for a single core, but there may

[2021-03-22 00:00] DarioS commented on #7156
The command I used is `gatk --java-options "-Xms8g -Xmx8g" Mutect2 -R ${ref} -I ${bam} -L ${interval} --max-mnp-distance 0 -O ${vcf} --native-pair-hmm-threads 1 >>${logdir}/${index}.oe 2>&1`. The interval file contains one interval and there are 3200 in total across the human reference genome are being processed by a driver script using Open MPI.

[code]

The H.P.C. administrator and I don't know

[2021-03-22 00:13] fgvieira opened #7157 "Extra customization for SplitIntervals"
## Feature request

### Tool(s) or class(es) involved
SplitIntervals

### Description
It would be nice to have extra options to customize the output filenames of `SplitIntervals`, just like `bash` command `split`:
- custom prefix, instead of just the output directory
- define length of numeric suffixes (right now is 4): `--numeric-suffixes=1`
- custom suffix: `--additional-suffix`

[2021-03-22 13:06] cmnbroad commented on #7152
@ahaessly This error message indicates a corrupt .crai index file - you should see the same message if you try to read the file with any other GATK tool. Regenerating the index should fix it. Also, let me know if you happen to know what software/version created the index.

[2021-03-22 15:01] droazen commented on #7152
@cmnbroad According to the report, they've already tried reindexing (that was my first suggestion as well...)

[2021-03-22 15:14] jamesemery commented on #7152
@ahaessly It looks like you are still running on a somewhat old snapshot of the DRAGEN code. It might be worth updating to master and re-running since we fixed some other errors related to this tool since 4.2 that you might want anyway.

[2021-03-22 15:41] ahaessly commented on #7152
Is this in the gatk repo or a different repo?

On Mon, Mar 22, 2021 at 11:14 AM jamesemery ***@***.***>
wrote:

[2021-03-22 16:04] kishorikonwar commented on #6837
@jonn-smith @LeeTL1220 @droazen  Thanks for sharing the information above, and  I looked at it. It seems to me that once we have a chain file for one reference and another reference, the remaining steps are straightforward. I also noticed the following Picard utility [Picard LiftoverVcf]( https://broadinstitute.github.io/picard/command-line-overview.html#LiftoverVcf ) that can Lift over a VCF file

[2021-03-22 16:45] jamesemery commented on #7152
@ahaessly The particular fix I have in mind actually went in before 4.2.0.0 which is explicitly fixing another (and possibly unrelated bug) with crams and that tool. I would suggest using broadinstitute/gatk:4.2.0.0 as your docker image, i'm not sure if it will fix this bug but it should fix another one you might hit.

[2021-03-22 18:10] droazen commented on #7156
@DarioS I wonder if you're looking at the JVM garbage collector threads -- by default, Java uses a multi-threaded garbage collector. You can control the number of threads it uses via the `-XX:ParallelGCThreads=N` argument, where N is the number of garbage collector threads. To pass this option into GATK, use the `--java-options` argument. Eg., `./gatk --java-options '-XX:ParallelGCThreads=4'`

[2021-03-22 18:26] droazen commented on #7147
@lubocoix Are you running `HaplotypeCaller` with the `-ERC GVCF` argument?

[2021-03-22 18:27] droazen commented on #7144
Duplicate of https://github.com/broadinstitute/gatk/issues/7153

[2021-03-22 18:36] jamesemery commented on #7155
Normally for most tools in order to traverse the entire reference you simply would not specify anything for --intervals (or -L which is equivalent) but currently DepthOfCoverage requires intervals be specified. The reason for this is that for several of the outputs of DepthOfCoverage we output rows where each row is one of the user supplied intervals which don't exist in the case where no interval

[2021-03-22 18:36] #7155 closed

[2021-03-23 03:14] vruano commented on #7144
Is not a duplicate IMO. Regardless of the bug, make sense to pass down those filtered reads to annotators?

[2021-03-23 14:06] cmnbroad commented on #7152
Oh, I missed that they had already tried reindexing. @ahaessly can you find out what tool and what version was used to reindex this file ?  We've had several reports of this error message in the last month or two, but reindexing has usually fixed it. I had been assuming that the corrupt index files were created by older versions of GATK/Picard tools, but it would super helpful to know if current v

[2021-03-23 14:45] mwalker174 commented on #7116
There is one available as a part of GATK-SV. These built using high-coverage 1000GP samples recently generated at NYGC. You can find the contig ploidy model and gcnv model here:

https://github.com/broadinstitute/gatk-sv/blob/master/input_values/ref_panel_1kg_v2.json

and preprocessed intervals file here:

https://github.com/broadinstitute/gatk-sv/blob/master/input_values/resources_hg38.json#L39

[2021-03-23 14:47] ahaessly commented on #7152
Thanks for all the help. Using the 4.2.0.0 docker resolved the problem!

On Tue, Mar 23, 2021 at 10:06 AM Chris Norman ***@***.***>
wrote:

[2021-03-23 14:47] #7152 closed

[2021-03-24 12:18] sheucke opened #7158 "no annotation warning with Funcotator"
vcf file:

##fileformat=VCFv4.2
##FORMAT=<ID=GT,Number=1,Type=String,Description="Genotype">
##FORMAT=<ID=AD,Number=G,Type=Integer,Description="Allelic Depths of REF and ALT(s) in the order listed">
##FORMAT=<ID=DP,Number=1,Type=Integer,Description="Read Depth">
#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	TUMOR	NORMAL
2	220439700	.	G	GCT	.	.	.	GT:AD:DP	0/1:21,72:93	0/0:51,0:51
3	52437426	.	GCCCA

[2021-03-24 15:03] LeeTL1220 opened #7159 "Create tool for producing genomic regions (as a BED file)"
## Feature request

### Tool(s) or class(es) involved
This is a request for a new tool
`GencodeRegionsAsBED`

### Description
Given a GENCODE gtf, create a BED file with the region of the genes.  Each row is a gene.

Suggestion:  This can be implemented as a `FeatureWalker<GencodeGtfFeature>`

### Requirements

- [P0] Union all basic, coding transcripts to determine region
- [P0] Include option to

[2021-03-24 16:41] LeeTL1220 commented on #6837
As per discussion with Kishori, he is going to work on a different [issue](https://github.com/broadinstitute/gatk/issues/7159), since it is more inline with his work.  He can come back to this if nobody has picked it up.

[2021-03-24 17:24] droazen commented on #6837
Re-assigning to @KevinCLydon

[2021-03-24 20:56] fgvieira opened #7161 "Metrics differ between MarkDuplicatesSpark and EstimateLibraryComplexity"
## Bug Report

### Affected tool(s) or class(es)
`GATK MarkDuplicatesSpark`
`GATK EstimateLibraryComplexity`

### Affected version(s)
- [x] Latest public release version 4.2.0.0

### Description
The metrics from `GATK MarkDuplicatesSpark` and `GATK EstimateLibraryComplexity` do not match, even though those from `GATK MarkDuplicatesSpark` are the same as `Picard MarkDuplicatesWithMateCigar`.

####

[2021-03-25 09:06] michael-weinstein opened #7162 "FilterAlignmentArtifacts Segfaulting"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-03-25 18:10] michael-weinstein commented on #7162
Update: I did some more cutting on the VCF and I can reproducibly cause a segfault with only these 4 variants in the VCF.  I am attaching the associated VCF and log files here.  The other files should remain the same as above.
[in2510-8.orientationFilter.vcf.txt](https://github.com/broadinstitute/gatk/files/6206926/in2510-8.orientationFilter.vcf.txt)
[hs_err_pid1358.log](https://github.com/broadin

[2021-03-27 18:40] BJWiley233 commented on #3564
For the tool `LeftAlignAndTrimVariants` when you use the `--split-multi-allelics` option you will get two lines (if there was 2 alt alleles) that have the GT being `0/1/.` and `0/./1` which is not valid VCF file.  If you have 1 ref and 1 alt per line from splitting the multiallelic you need to have only diploid in the VCF for GT.  This should be a priority to fix this because it's wrong.

[2021-03-27 23:35] fgvieira commented on #5854
I am having a similar issue with GATK `4.1.4.1` that persists after updating to `4.2.0.0`:
[code]

[2021-03-30 06:40] kvn95ss opened #7169 "VariantRecalibrator to take genomicsDB folder as input"
## Feature request

### Tool(s) or class(es) involved
VariantRecalibrator

### Description
Currently VariantRecalibrator only accepts vcf as input. Previously when performing Joint Genoptying using GenotypeGVCFs, the outputs were vcf hence this behavior made sense.

Now that we have GenomicsDB import (which is quite fast) we still have to use GenotypeGVCFs to extract a vcf for Variant Recalibrator

[2021-03-30 16:45] jonn-smith opened #7172 "Must Investigate failing Spark Dataproc tests and re-enable them"
The spark dataproc tests seem to be failing, likely due to some dependencies changing on the backend outside of our control.

I have disabled these tests temporarily while we sort out the issue.

The failing tests are:

`DataprocIntegrationTest.markDuplicatesSparkOnDataproc`
`DataprocIntegrationTest.printReadSparkOnDataproc`

Once this is fixed, these tests should be re-enabled.

[2021-03-31 14:33] ldgauthier commented on #7108
Addressed by #7120 and #7148

[2021-03-31 14:33] #7108 closed

[2021-03-31 14:35] #7116 closed

[2021-03-31 14:43] #7169 closed

[2021-03-31 15:47] xmzhuo commented on #6651
I have similar issue but without throw any error message.
The annotation stop at chr11 34357581. The output also truncated after this position.

chr11   34357581        .       C       CGGGACGTACAGCTCGACTCTGAAGACGCTGGAGGACTTGACCTTGGACTCCGGGT        .
PASS    DP=208;ECNT=2;NLOD=8.8;N_ART_LOD=-1.486;POP_AF=2.5e-06;P_CONTAM=2.202e-10;P_GERMLINE=-51.18;TLOD=11.12
GT:AD:AF:F1R2:F2R1:MBQ:MFRL:MMQ:MPOS:O

[2021-03-31 15:51] jonn-smith commented on #6651
@xmzhuo Interesting.  Is this `hg19` or `hg38` data?  I can add this to our tests.

For everyone else - thanks for your patience.  I'm starting to work on this issue this week so we should have a fix relatively soon (1-2 weeks).

[2021-03-31 16:21] xmzhuo commented on #6651
Hg38

On Wed, Mar 31, 2021, 11:51 Jonn Smith ***@***.***> wrote:

[2021-03-31 20:45] jonn-smith opened #7176 "Funcotator has small errors with non-left-aligned insertions"
When giving Funcotator non-left-aligned insertions, the cDNA change string seems to be incorrect:

[code]
vs
[code]

[2021-03-31 21:58] itaibeno opened #7177 "CalculateContamination bug report"
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_

/gatk/src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/CalculateContamination.java
/gatk/src/main/java/org/broadinstitute/hellbender/tools/walkers/contamination/ContaminationModel.java

### Affected version(s)
- [x] Latest public release version - v4.2.0.0 (also detected on previous v

[2021-04-01 14:03] robby81 commented on #7134
Dear jonn-smith,

I saw you made the pull request to solve the issue...is there a way I could test it?
Thanks, Cheers.

[2021-04-01 15:12] jonn-smith commented on #7134
@robby81 - sure - you can clone the GATK git repo, checkout the branch in the PR (`jts_gencode_parser_update_7054`), build the GATK (`./gradlew clean installDist`), and then rerun the indexing tool:

`/home/robby/Tools/NGS/gatk_clone/gatk IndexFeatureFile -I /home/robby/Tools/NGS/gatk-master4_2_src/scripts/funcotator/data_sources/gencode/hg19/gencode.v37lift37.annotation.REORDERED.gtf`

[2021-04-02 00:33] jonn-smith commented on #7134
@robby81 If you're willing to wait until tomorrow, I should be merging that PR into the main branch sometime then.

[2021-04-02 09:12] robby81 commented on #7134
will wait, thank you. Then I only have to clone the master branch,yes?

[2021-04-02 13:52] jonn-smith commented on #7134
Correct.  You should see when it gets merged by this issue being closed out.

[2021-04-03 00:41] #7054 closed

[2021-04-05 13:29] jjfarrell opened #7182 "CalibrateDragstrModel java.lang.IllegalArgumentException: Start cannot exceed end."
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_
 CalibrateDragstrModel
### Affected version(s)
- [ ] Latest public release version [gatk/4.2.0.0]

### Description

gatk 4.2.0.0  CalibrateDragstrModel  produces the following stacktrace....

[code]

#### Steps to reproduce

This is test script (test.sh) that is used.
[code]
The script runs the ComposeSTRTab

[2021-04-05 18:11] jonn-smith commented on #7134
Fixed by #7166

[2021-04-05 18:11] #7134 closed

[2021-04-06 13:04] meganshand commented on #5690
@droazen Do you know if this issue has been resolved? Is the newer GKL release now included in GATK?

[2021-04-06 16:44] lbergelson commented on #5690
I have a new build of the GKL that I need to test and then integrate into a new gatk.  It's not available yet though.

[2021-04-07 04:05] vruano opened #7185 "Why we use MIN_DP"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-04-07 19:20] ldgauthier commented on #6954
Closed as dupe of the superior #6952

[2021-04-07 20:30] #6774 closed

[2021-04-08 03:12] RWilton opened #7187 "HaplotypeCaller: Java invalid pointer in native Smith-Waterman implementation"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
- [x] Latest public release version [4.2.0.0]

### Description
HaplotypeCaller fails with the following java error:

```*** Error in `java': munmap_chunk(): invalid pointer: 0x00007f1da5980f00 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7f3e4)[0x7f1daaec73e4]
/var/tmp/rwilton/libgkl_smithwaterman1425

[2021-04-08 15:03] jonn-smith commented on #7158
@sheucke Bassed on your VCF filename it looks like it was created with the b37 reference.  Try re-running Funcotator with the b37 reference or the hg19 reference.  The reference you're using with this call to Funcotator (`human_g1k_v37.fasta`) is slightly different than b37 (it doesn't contain the `NC_007605` contig - the Epstein-Barr virus) and has larger differences when compared to hg19 (contig

[2021-04-08 15:12] jonn-smith commented on #6777
Actually, the right place to put this is in the `AminoAcid` enum itself.

[2021-04-08 18:01] vruano opened #7189 "Investigate out of memory error in CalibrateDragstrModel"
## Bug Report

Originally reported by @ldgauthier via slack.

### Affected tool(s) or class(es)
CalibrateDragstrModel

### Affected version(s)
- [X ] Latest public release version [4.2.0.0]

### Description
An out-of-memory exception when running the aforementioned tool in at least one of many samples. Location where the error occur does not seem to be always the same but it was fixable by increas

[2021-04-09 17:23] droazen commented on #7187
@RWilton There is a new version of the Intel GKL that we hope will resolve this issue -- we are in the process of moving GATK to it, and hope that it will be included in the next GATK release. @lbergelson and/or @Kmannth may have further details.

[2021-04-09 18:41] #6777 closed

[2021-04-12 13:20] cmnbroad commented on #7189
@vruano @ldgauthier Running this tool in parallel on a CRAM will consume large amounts of memory, since the code necessarily uses a separate reader per thread (see comments [here](https://github.com/broadinstitute/gatk/pull/7063#discussion_r568162015) in the PR where CRAM was enabled). If you want to run in parallel, I'd try reducing the number of threads in the thread pool.

[2021-04-12 18:25] droazen commented on #7182
@vruano Could you look into this one?

[2021-04-12 18:27] droazen commented on #7177
@davidbenjamin Could you comment on this one?

[2021-04-12 18:30] droazen commented on #7162
@takutosato @davidbenjamin Could one you comment on this one?

[2021-04-12 19:12] jamesemery commented on #7161
@fgvieira thanks for writing in. The purpose of `MarkDuplicatesSpark` is to be a parallelization accelerated version of the Picard MarkDuplicates tool that produces identical outputs. To that end it is expected that the metrics match between `MarkDuplicatesWithMateCigar` and `MarkDuplicatesSpark` and I'm happy to see that they do agree.

Now as to why it mismatches `EstimateLibraryComplexity` that

[2021-04-12 19:12] #7161 closed

[2021-04-12 19:20] michael-weinstein commented on #7162
Please let me know if there is anything I can do for further information.

[2021-04-13 07:14] wonderful1 opened #7199 "java.lang.IllegalArgumentException: Sequence [VC HC @ chr4_GL000008v2_random:7168-7691 Q. of type=SYMBOLIC alleles=[T*, <NON_REF>] attr={END=7691} GT=[[NA12878 T*/T* GQ 0 DP 0 PL 0,0,0 {MIN_DP=0}]] filters= added out of order currentReferenceIndex: 25, referenceIndex:37"
### Instructions

hi， i was running gatk HaplotypeCallerSpark ，and got a problem like: java.lang.IllegalArgumentException: Sequence [VC HC @ chr4_GL000008v2_random:7168-7691 Q. of type=SYMBOLIC alleles=[T*, <NON_REF>] attr={END=7691} GT=[[NA12878 T*/T* GQ 0 DP 0 PL 0,0,0 {MIN_DP=0}]] filters= added out of order currentReferenceIndex: 25, referenceIndex:37

[code]
The contents of  random.bed:
[code

[2021-04-13 13:53] vruano commented on #7189
@cmnbroad is correct, reducing parallelism from cram in a test run from 8 to 4 threads allowed the run to progress normally.
Since there is a task to remove this adhoc parallelism for a spark alternative I guess that is the way to go from this point on. #6876

However that actually would not solve the mem consumption issues as spark to work effectively would require several java-vm one per thread

[2021-04-13 16:30] vruano commented on #7189
Also ironically this tool does not need to look into the read sequences nor the reference, only the mapping information matters so is a bit frustrating that you paid the price of the whole sandwich when you only want the slice of salami.

[2021-04-14 10:12] lindenb opened #7202 "[bug report] GermlineCNVCaller (gatk 4.2.0.0) "H5DreadVL_str: failed to read variable length strings at ncsa.hdf.hdf5lib.H5.H5DreadVL""
## Bug Report

### Affected tool(s) or class(es)

GermlineCNVCaller

### Affected version(s)

- [x] Latest public release version gatk 4.2.0.0
- [ ] Latest master branch as of [date of test?]

### Description

The same set of hdf5 works fine with another annotated_intervals.tsv

the stack trace:
[code]

with annotated_intervals.tsv

[code]

#### Steps to reproduce

[code]

[2021-04-14 16:05] vruano commented on #7182
We have run this tools successfully with a number of crams and bam at this point so we will need access to the data to reproduce the issue on our end. Would that be possible @jjfarrell?

[2021-04-16 22:55] jjfarrell commented on #7182
@vruano Yes, I located a cram that I can upload that produces the error.  Where should I transfer it to?

[2021-04-17 16:18] yl-h opened #7211 "LeftAlignAndTrimVariants --split-multi-allelics fails at multiallelic records with FORMAT field AF"
## Bug Report

### Affected tool(s) or class(es)
LeftAlignAndTrimVariants --split-multi-allelics

### Affected version(s)
Tested on versions 4.1.8.0, 4.1.9.0 and 4.2.0.0.

### Description
GATK LeftAlignAndTrimVariants with option --split-multi-allelics crashes on multiallelic records on the versions tested. This does not occur with version 4.1.4.1 where the program manages to process and output th

[2021-04-17 19:37] jjfarrell commented on #7182
@vruano The HGDP crams also seem to trigger this error.

 ftp:/­/­ftp.­1000genomes.­ebi.­ac.­uk/­vol1/­ftp/­data_collections/­HGDP/­data/­Brahui/­HGDP00001/­alignment/­HGDP00001.­alt_bwamem_GRCh38DH.­20181023.­Brahui.­cram

[code]

[2021-04-19 12:17] jjfarrell commented on #7182
@vruano There are two pipelines that produce crams that generate this error and one pipeline that does not.  The two pipelines that get this error both include indel realignment step while the other does not.  Could the indel realignment step be the source of the  problematic reads being encountered?

[2021-04-19 17:56] #6929 closed

[2021-04-19 18:00] bbimber opened #7213 "Best way to handle plugins that share an argument?"
Plugins can define their own arguments, such as VariantAnnotation classes. We have a number of cases where multiple plugins share arguments. In other words, plugins A and B both require argument X. If either A or B is used, this argument is required. They cannot have independent values for argument X. Is there any way to accommodate this?

I created an ArgumentCollection class to define that argum

[2021-04-20 08:27] kuangtianhui opened #7214 "unparsable vcf record with allele +"
The Genome Analysis Toolkit (GATK) v4.2.0.0

When I run gatk IndexFeatureFile --input ./merged_flt_c1.imputed.vcf, I got an error as below:

A USER ERROR has occurred: Error while trying to create index for ./merged_flt_c1.imputed.vcf. Error was: htsjdk.tribble.TribbleException: The provided VCF file is malformed at approximately line number 343338: unparsable vcf record with allele -

I run this

[2021-04-20 10:39] Echopei opened #7215 "CreateSomaticPanelOfNormals germlineAF error"
## Bug Report

### Affected tool(s) or class(es)
CreateSomaticPanelOfNormals

### Affected version(s)
latest version
HTSJDK Version: 2.23.0
Picard Version: 2.23.3

### description
for example,
when compute germlineAF in pos  22:46731791
CreateSomaticPanelOfNormals  return germlineAF  2.462e-05 rather than 0.34.
I think maybe it is error.
![image](https://user-images.githubusercontent.com/10030002/

[2021-04-20 16:31] kghimire09 opened #7216 "contig-ploidy priors"
Hello,
I am using DetermineGermlineContigPloidy to call copy number variants. I have a cohort of samples that I am using to generate a model. For the cohort more -contig-ploidy-priors is required argument. How do I generate this file for my data?
Any suggestions?

[2021-04-20 17:26] fleharty commented on #7215
@davidbenjamin David could you take a look at this?

[2021-04-20 17:54] cmnbroad commented on #7213
Barclay doesn't have any way to recognize those args as being the same. However, the Pedigree annotation classes already have this problem - its the reason that `pedigreeFile` and `founderIDs` were lifted into `GATKAnnotationPluginDescriptor`, and are not included in the individual annotations - `GATKAnnotationPluginDescriptor` distributes them to the annotation classes as necessary. Its not ideal

[2021-04-20 18:10] bbimber commented on #7213
@cmnbroad OK, that's what I was afraid of. Has your group given thought to how barclay might attempt to de-convolute "identical" arguments defined across diverse plugins like this?

Anyway, I can try to follow the pattern of pedigree. I was trying to avoid special-casing these arguments, but I am already making my own PluginDescriptor anyway. My use-case is effectively to have a VariantAnnotator t

[2021-04-20 19:47] ldgauthier commented on #7185
A user brought this up recently, and I think it's a good point.  I wouldn't want to change the default behavior, but I would be open to adding a new argument to GenotypeGVCFs to use median instead of min.  What do you think @droazen ?  Or maybe this is a question for @vdauwera and @eitanbanks as GATK product owners.

[2021-04-21 03:21] Han-Cao opened #7218 "GenomicsDBImport crash without error reported in log file"
GenomicsDBImport
Latest public release version [4.2.0.0]

I am running  GenomicsDBImport on 5X WGS of ~1000 human samples, which is parallelized for each chromosome with batch size = 400. The code I use is as following:

<pre>gatk --java-options "-Xmx80G -Xms80G" GenomicsDBImport \
--genomicsdb-workspace-path "${outpath}/chr${region}" \
-L $region \
--sample-name-map $sample_map \
-R /scratch/PI/b

[2021-04-21 14:33] ldgauthier commented on #7216
Github is for error reports.  For questions about tool usage, please use the GATK forum: https://gatk.broadinstitute.org/hc/en-us/community/topics

[2021-04-21 14:33] #7216 closed

[2021-04-21 14:35] ldgauthier commented on #7214
This is a user error, not a GATK bug. For questions about tool usage, please use the GATK forum: https://gatk.broadinstitute.org/hc/en-us/community/topics

[2021-04-21 14:35] #7214 closed

[2021-04-21 15:26] droazen commented on #7185
@ldgauthier defer to you on this, but agree that it seems confusing/misleading, especially in the case of large ref blocks with highly variable depth

[2021-04-21 15:32] vdauwera commented on #7185
Agree with adding an option to use median -- we can change the default behavior in GATK 5 ;)

[2021-04-21 19:14] TedBrookings opened #7222 "Regression in GenomicsDBImport progressMeter"
## Bug Report

### Affected tool(s) or class(es)
_GenomicsDBImport_

### Affected version(s)
- 4.2.0.0
- after git revision 2b949f0dda49f495ce8fc7e3b8528cbc534e4819

### Description
_Progress meter does not accurately describe genomic locus being processed._

#### Steps to reproduce
_Run GenomicsDBImport (e.g. using -L to subset to a specific genomic locus)_

#### Expected behavior
_Progress meter

[2021-04-21 19:20] TedBrookings commented on #7222
@mlathara If you could take a look at this, it would be helpful. It looks like you changed
`progressMeter.update(intervals.get(0))` in logMessageOnBatchCompletion()  to `progressMeter.update(null)`
Presumably there was a problem with intervals being empty?

[2021-04-21 20:12] mlathara commented on #7222
Hi,

So, the progressMeter for GenomicsDBImport never accurately showed the locus being processed. Previously, the progressMeter would just always show the first interval being imported. As you imply, I changed to null to support some workflows where intervals may be empty.

All of which to say, this isn't a regression but a known issue. The bulk of the lifting by the import tool is done in native

[2021-04-21 22:57] TedBrookings commented on #7222
@droazen I think this is out of my depth now. From my perspective the user's issue is addressed (there isn't a bug in processing).

[2021-04-23 04:40] LiShuhang-gif opened #7225 "error messages about "tranches" when I'm running VariantRecalibrator"
Hi,
I've got some error messages about "tranches" when I'm running VariantRecalibrator. Here is my command lines:
[code]
The mission ended quickly.When I look at the log file, I find the following error message:
[code]
Any suggestions for me? Look forward to your reply. Thanks ever so much.

[2021-04-24 07:58] kuangtianhui opened #7228 "WARNING: BAM index and WARN IndexUtils - Feature file"
When I run gatk BaseRecalibrator, I got two WARNING. The detail was shown as below. I want to know what causes this situation and how to solve this warning? Thank you very much!
WARNING 1:
WARNING: BAM index file /home/kth/Mydata/Bam/7-99.sorted.markdup.bai is older than BAM /home/wangh/kth/Mydata/NAM/NAM_7/Bam/7-99.sorted.markdup.bam
03:30:10.633 INFO  FeatureManager - Using codec VCFCodec to rea

[2021-04-24 08:31] kuangtianhui commented on #7228
By the way The Genome Analysis Toolkit (GATK) v4.2.0.0

[2021-04-24 11:02] pd410668 opened #7229 "Failed to detect whether we are running on Google Compute Engine: gatk4 4.2.0.0"
When I am trying to run gatk HallotypeCaller I got error below. Can someone give me some advices?

INFO: Failed to detect whether we are running on Google Compute Engine.
12:55:36.413 INFO  HaplotypeCaller - ------------------------------------------------------------
12:55:36.413 INFO  HaplotypeCaller - The Genome Analysis Toolkit (GATK) v4.2.0.0
12:55:36.414 INFO  HaplotypeCaller - For support a

[2021-04-26 03:55] yfarjoun opened #7230 "Ambiguity codes incorrectly defined"
https://github.com/broadinstitute/gatk/blob/73e2cd143549760b3f88d3a6562f1fe101ae26b6/src/main/python/org/broadinstitute/hellbender/vqsr_cnn/vqsr_cnn/defines.py#L20-L23

There seems to be a mistake with respect to https://www.bioinformatics.org/sms/iupac.html for example Y should be C or T, but is defined as C or G....

@lucidtronix

not sure what the effect of this will be since IUPAC codes are ra

[2021-04-26 05:40] iichelhadi commented on #6248
running against the same issue! Has anyone found a solution?

[2021-04-26 17:08] gbrandt6 commented on #7218
@Han-Cao, are you the same user who posted on the GATK Forum as well? https://gatk.broadinstitute.org/hc/en-us/community/posts/360077628671-GenomicsDBImport-output-unmapped-in-ProgressMeter-and-running-very-slow-with-WGS-data-of-large-sample-size
If so, has this issue then been resolved?

[2021-04-26 19:10] GATKSupportTeam opened #7232 "Look into adaptive pruning in GATK 4.2.0.0"
This request was created from a contribution made by Nabeel Ahmed on April 07, 2021 09:13 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360077647812-Why-do-a-clear-expected-variant-not-show-up-in-the-Mutect2-vcf-file](https://gatk.broadinstitute.org/hc/en-us/community/posts/360077647812-Why-do-a-clear-expected-variant-not-show-up-in-the-Mutect2-vcf-file)

\--

I am running

[2021-04-27 16:54] stefandiederich opened #7234 "GermlineCNVCaller - python exited with 139"
Hi,

I tried to build a gCNV model and got the error `python exited with 139` but can#t figure out what is the cause of this error. Can you please help me with that error message? I attended the whole command and output here

[code]

Thanks for any help.
Stefan

[2021-04-28 08:59] Han-Cao commented on #7218
@gbrandt6 Yes, I am the same user. I have reduced the batch size and it can correctly run. But it runs slower compared to larger batch size.

[2021-04-28 17:32] ldgauthier commented on #7234
We admittedly don't do a great job propagating the python logging back through java.

@asmirnov239 do you have any suggestions for debugging?

[2021-04-28 17:45] ldgauthier commented on #7225
Can you share more of the log?  It would also be helpful to rerun after adding `--java-options '-DGATK_STACKTRACE_ON_USER_EXCEPTION=true'` between `gatk` and `VariantRecalibrator`.  I'm guessing this fails quickly.

[2021-04-28 18:03] jamesemery opened #7235 "Reevaluate the GenotypeQuality score calculation for USE_POSTERIOR_PROBABILITIES mode"
During the discussion in fixing a bug in the GenotypeQuality score  #7120 it came to light that when using posteriors for genotyping that the calculation in getGQLog10FromPosteriors() for computing the GQ is doing something a little different from the other codepath for calculating the GQ score. Specifically it is calculating the GQ as the difference in score between the first (selected) genotype

[2021-04-28 18:06] asmirnov239 commented on #7234
@stefandiederich Could you try using count files in TSV format (instead of HDF5) and see if that works? `CollectReadCounts` tool has an option to output TSV files.

If it doesn't, I would need some more information about the inputs to see what's going on.

Thanks!

[2021-04-29 07:50] stefandiederich commented on #7234
@ldgauthier @asmirnov239
Thanks for your quick reply! In the meantime I investigated a little more by coping the temp dir before the Software exited and started the python command by its own. With that I got the error ``Segmentation fault (core dumped)``. With googling that I got to the point, that it might be some sort of memory problem. The server has 512 GB and I did not see mor than 10 percent

[2021-04-29 22:58] nabeel-bioinfo commented on #7232
Thank you for taking a look into this. I followed recommendation of  @gbrandt6 and reduced the --pruning-lod-threshold but this call is still unable to make it to the output of Mutect2. I tried different thresholds from 1.3, 0.7, 0.5 and even 0.1 but it did not lead to any difference in detecting this call.

[2021-04-30 15:05] asmirnov239 commented on #7234
@stefandiederich
Great, did the jobs finish?
For the reference we usually scatter in blocks of size 12500 for which we usually end up needing 16GB of RAM.

We do not support running on gCNV on GPUs, although in theory the underlying library Theano that we use supports it, although there might be some CUDA/Theano incompatibility issues with newest versions of CUDA.

[2021-04-30 17:43] mwalker174 commented on #7234
What environment are you running in? I would highly suggest using the GATK docker if you aren't already, and also increasing the number of shards (~10000-20000 intervals per shard as @asmirnov239 suggested).

[2021-05-03 12:00] stefandiederich commented on #7234
The server we are using has 64 cores an 512GB RAM. But the joub did not finish up to now. So I will stop that now and usre more scatters like @mwalker174 @asmirnov239 suggested.

Bests
Stefan

[2021-05-03 18:09] droazen commented on #7102
This is done

[2021-05-03 18:09] #7102 closed

[2021-05-03 18:13] droazen commented on #6671
Blocked waiting for the GKL upgrade PR

[2021-05-03 18:21] droazen commented on #7229
@pd410668 This is just an informational message, and nothing to worry about. It's not an error. It looks like the `HaplotypeCaller` otherwise completed normally.

[2021-05-03 18:21] #7229 closed

[2021-05-03 18:26] droazen commented on #7228
@kuangtianhui It looks like the bam index on `/home/wangh/kth/Mydata/NAM/NAM_7/Bam/7-99.sorted.markdup.bam` is older than the bam itself. This may indicate that the index is out-of-date with respect to the bam. I recommend that you reindex the bam using `samtools index`

The warning about the missing sequence dictionary is not a big deal, and you can safely process the VCF without a sequence dicti

[2021-05-03 18:30] droazen commented on #7222
@mlathara I think we should either:

- Keep track of the "furthest" locus processed so far across all threads, and output that in progress meter

- Or, if that's too difficult, it's probably best to suppress the progress meter output completely, and just output the current batch numbers

[2021-05-03 18:32] droazen commented on #7218
Closing as resolved

[2021-05-03 18:32] #7218 closed

[2021-05-04 16:52] itaibeno commented on #7177
@davidbenjamin I'm looking on this implementation again and I'd be more than happy to share and discuss if needed. Can we follow up?

[2021-05-05 01:27] davidbenjamin commented on #7177
@itaibeno @droazen PR #7003 greatly improves the error bars estimate when the contamination is small or zero.  I think that it addresses all the concerns mentioned above.  It just needs a review. . .

[2021-05-05 01:47] fleharty commented on #7177
@davidbenjamin Sorry, I'll take a look at your response to my comments in the morning.

[2021-05-05 02:49] davidbenjamin commented on #7215
@Echopei could you explain why you think this value of AF is wrong?

[2021-05-05 02:52] davidbenjamin commented on #7162
@michael-weinstein This looks like an issue in our accelerated Pair-HMM implementation from Intel. PR #7105 is in code review and will offer a work-around once merged.

[2021-05-05 05:43] mlathara commented on #7222
@droazen I think suppressing progress meter is the way to go. It won't be particularly easy to surface the locus information, and I also think that would be misleading.

For instance, say a user is importing 3 intervals (for simplicity, chr 1, 2 and 3) in parallel. The progress meter will immediately start showing that the import process is at chr3 suggesting that it is roughly 2/3 of the way thro

[2021-05-05 15:10] bbimber commented on #7038
In case anyone comes across this issue, we ported GATK3 CombineVariants under the name MergeVariantsAndGenotypes (it's basically the same tool), here:

https://bimberlab.github.io/DISCVRSeq/toolDoc/com_github_discvrseq_walkers_MergeVcfsAndGenotypes.html

[2021-05-05 15:42] droazen commented on #7222
@mlathara You've convinced me -- let's just get rid of the progress meter output then :) But as a compromise, when we print the current batch number, we should ideally give a bit more information, such as the sample names in the current batch. Since this is only printed once per batch, it shouldn't be too spammy.

[2021-05-06 01:57] Echopei commented on #7215
pos:46731791   this value of AF should be 0.34,but createSomaticPanelOfNormals return 2.462e-05.
I think 46731782 deletion overrides 46731791,so createSomaticPanelOfNormals  return 2.462e-05. but it's wrong.

[2021-05-06 02:02] davidbenjamin commented on #7215
What is the VCF in the screenshot?  How are you running `CreateSomaticPanelOfNormals`?

[2021-05-06 07:54] Echopei commented on #7215
vcf  file just includes pos: 46731791, and 46731791 in bed region.

java -jar  gatk-package-unspecified-SNAPSHOT-local.jar GenomicsDBImport  -R human.fa -L xx.bed --genomicsdb-workspace-path xxx/pon_db $(ls *.vcf.gz | awk '{print "-V "$0" "}')

java -jar  gatk-package-unspecified-SNAPSHOT-local.jar CreateSomaticPanelOfNormals -R human.fa -V gendb:///xxx/pon_db --germline-resourceb  xx.vcf.gz  -O m

[2021-05-06 10:25] Echopei commented on #7215
You can try any vcf file.
When the command "tabix xxx.vcf chr:pos-pos" returns multiple lines, and germlineAF  of this pos is wrong because CreateSomaticPanelOfNormals returns first AF value rather than AF of the actual position.

[2021-05-06 12:54] davidbenjamin commented on #7215
Is the VCF in your screenshot a germline resource file, such as gnomAD?  Could you also post the output of `CreateSomaticPanelOfNormals` at these same sites?  What samples went into the `ls *.vcf.gz` input in `GenomicDBImport`?  How many samples did you use?  How did you run `Mutect2` to generate these?

Also, just to be safe, a command like `ls *.vcf.gz` could easily introduce some stray VCFs tha

[2021-05-06 20:01] itaibeno commented on #7177
@davidbenjamin, @fleharty  agree with the implementation of PR #7003.
I'm running that version comparing to samples previously reported 0 contamination and 0 std error.
will update here.

One concern on the math Eq37 - Eq.42 calculate std (chi).
the math not taking into account the sample size (n) i.e number of homs.
note that we are starting with GetPileupSummaries output ~5k loci ,
filterSitesBy

[2021-05-10 13:44] ldgauthier commented on #7185
@vruano can you take on adding the arg and alternate behavior?  Should be pretty quick.

[2021-05-10 16:43] michaelgatzen opened #7246 "DepthOfCoverage -gene-list not combinable with partition type other than sample"
Came up here: https://gatk.broadinstitute.org/hc/en-us/community/posts/360077985132--DepthOfCoverage-with-gene-list-and-readgroup-as-partition-type-options?page=1#community_comment_360015424872

When providing a gene list to DepthOfCoverage and using a partition type other than `sample` this exception is thrown: "Unable to find appropriate stream for partition = sample, aggregation = gene, file ty

[2021-05-10 16:55] michaelgatzen commented on #7246
Proposal: throw UserException with a better error message

[2021-05-10 19:27] genomika-2020 opened #7247 "FilterAlignmentArtifacts error"
## Bug Report

### Tool
FilterAlignmentArtifacts

### Affected version(s)
4.2.0.0 and 4.1.9.0, run from local jar locally or docker

### Description
FilterAlignmentArtifacts crushes repetitively in the same position of the input vcf `m2.vcf.gz` (chrX:63457865).  But, it finishes task successfully when only the last variant from the output file is present in the input vcf file.
I cut the input vcf

[2021-05-11 07:54] heixiong1990 commented on #6846
I read the "gatk_qual.pdf" file and there is a question. Does the QUAL only relate to allele depth? I didn't see any formula that takes into account MQ and BQ. Does this hide in P(reads | g) or not.

[2021-05-11 12:53] davidbenjamin commented on #6846
That's right.  QUAL is an algorithm for going from P(reads | genotype) to
P(variant allele exists | all reads in all samples).  The genotype
likelihoods, which account for BQ and to a lesser extent MQ, are computed
inside HaplotypeCaller.

On Tue, May 11, 2021 at 3:55 AM heixiong1990 ***@***.***>
wrote:

[2021-05-12 09:46] stefandiederich opened #7249 "ASEReadCounter: More then one variant context at position"
Hi,

I am using `GATK ASEReadCounter` from GATK 4.2.0.0 and encounter the error

`A USER ERROR has occurred: More then one variant context at position: chrX:2774793`

As I googled, that means that there are 2 different entries with the same genomic coordinate in my VCF file.
But by doing a `grep  -P 'chrX\t2774793' 16-98_WGS.vcf | cut -f1-5` for my vcf file I only get one line:

`chrX    2774793 .

[2021-05-12 11:39] TearsWillFall opened #7250 "[Bug Report] CNNScoreVariants AttributeError: module 'keras.backend' has no attribute 'clear_session'"
## Bug Report

### Affected tool(s) or class(es)

CNNScoreVariants

### Affected version(s)
- [x] Latest master branch as of [12/05/2021]. Same issue for an older master branch in v4.1.9.

### Description

**Issue with vqsr_cnn package in Conda environment.
AttributeError: module 'keras.backend' has no attribute 'clear_session'**

  10:46:04.904 INFO  NativeLibraryLoader - Loading libgkl_compressi

[2021-05-12 12:12] TearsWillFall commented on #7250
A fix I found for this issue is to modify `start_session_get_args_and_model` function in models.py from this:

[code]

To this:

[code]

[2021-05-13 16:31] myourshaw opened #7254 "Picard 2.25.0 bug causes IlluminaBasecallsToSam to fail demultiplexing barcoded reads"
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_
Picard IlluminaBasecallsToSam and IlluminaBasecallsToFastq

### Affected version(s)
- [X] Latest public release version [4.2.0.0]
- [ ] Latest master branch as of [date of test?]

### Description
_Describe the problem below. Provide **screenshots** , **stacktrace** , **logs** where appropriate._
"This bug ha

[2021-05-14 14:03] ldgauthier commented on #7040
Hi Lucia,

Funcotator or FuncotateSegments support for SVs in VCFs is on our roadmap, but not top priority.  I took a crack at FuncotateSegments on VCFs a few months ago and it wasn't entirely trivial.  Development for Funcotator is on hold right now, but we may get back to it at the end of the summer.  Sorry I don't have good news for you.

-Laura

[2021-05-14 14:03] #7040 closed

[2021-05-14 17:52] jamesemery commented on #7254
This should be fixed in the next release as we are now on Picard 2.25.4 in master via #7255

[2021-05-14 17:52] #7254 closed

[2021-05-17 16:40] GATKSupportTeam commented on #7246
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/150218'>Zendesk ticket #150218</a>)</i>

[2021-05-17 16:43] gbrandt6 commented on #7246
The user also would like to obtain the gene_statistics and gene_summary files for the -partition-type readgroup. It would be a nice addition to DepthofCoverage to be able to handle gene summary files for all partition types. Link to comment [here](https://gatk.broadinstitute.org/hc/en-us/community/posts/360077985132/comments/360015479192).

[2021-05-18 07:22] kelepiradam commented on #7234
This problem is about the skylake and later cpu incompatibility with one of the ML libraries used by the python environment. The only solution is to fall back to 4.1.7.0 docker image and use that for gCNV. This problem still persists and there is even one issue that I opened sometime ago for 4.1.9.0.

[2021-05-19 00:31] LN908 opened #7258 "DenoiseReadCounts crashes in somatic CNV workflow"
Hello, I made a PoN with my samples and created an hdf5 PoN. This was made using

##Preprocess
``
gatk PreprocessIntervals -R ref/hs37d5.fa  --bin-length 10000 --padding 0 -O preprocessed_intervals.interval_list
``

##annotate
``
gatk AnnotateIntervals -R ref/hs37d5.fa -L preprocessed_intervals.interval_list --interval-merging-rule OVERLAPPING_ONLY -O annotated_intervals.tsv
``

##PoN
``
gatk --ja

[2021-05-19 08:27] nickhir opened #7259 "ApplyVQSR Variant not filtered although all AS_FilterStatus failed."
Hello,

I am using ApplyVQSR (GATK 4.2.0.0) and I noticed that some of my variants still have `PASS` in their FILTER field, although all AS_FilterStatus in the INFO field say they did not pass the filtering.

Here are some variant sites, so you know what I mean:

[code]

As you see, I am using allele-specific annotations for filtering. I read in the documentations, that if one allele passes, the w

[2021-05-19 18:10] itaibeno commented on #7177
@davidbenjamin can we sync on this (meet/zoom)? want to update I compared the new vs. old versions.

[2021-05-20 14:46] jonn-smith opened #7265 "Funcotator protein predictions seem to be wrong for some variants"
Funcotator is producing erroneous protein predictions for some variants.

A few include the following from `HG38` using `funcotator_dataSources.v1.6.20190124g.tar.gz`:

[code]

[2021-05-21 00:32] michael-weinstein commented on #7247
Greetings,

This looks very similar to this case: https://github.com/broadinstitute/gatk/issues/7162

If so, this may be a duplicate issue.

[2021-05-21 10:13] phdstudent-oje opened #7266 "gatk PostprocessGermlineCNVCalls error"
## Bug Report

### Affected tool(s) or class(es)
"gatk PostprocessGermlineCNVCalls"

### Affected version(s)
- docker (broadinstitute/gatk, 4.1.9.0 version)

### Description
#### Steps to reproduce

This is my command line.
gatk PostprocessGermlineCNVCalls \
--calls-shard-path CALLS_01 \
--model-shard-path MODEL_01 \
--allosomal-contig chrX  \
--allosomal-contig chrY \
--autosomal-ref-copy-number

[2021-05-21 13:39] jonn-smith commented on #7265
This may be a v1.6 datasources issue.

[2021-05-21 20:38] migbro opened #7269 "Varying Mutect2 results based on apt and samtools over time"
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_
Mutect2
### Affected version(s)
- [ ] 4.1.1.0

### Description
_Describe the problem below. Provide **screenshots** , **stacktrace** , **logs** where appropriate._
We have run mutect2 on the same sample using the same input crams, references, and intervals. The only discernible difference is the docker image

[2021-05-24 07:48] vruano commented on #7185
Ok.

[2021-05-24 18:25] droazen commented on #7269
@migbro Are you just running `Mutect2`, or are you running a pipeline consisting of multiple tools? If the latter, which specific tools are you running?

Also, you are running a very old release of GATK. Some of these old releases are known to have some rare sources of non-determinism in `Mutect2` which could cause results to vary slightly across runs. We recommend upgrading to the latest release

[2021-05-24 18:34] droazen commented on #7259
@nickhir I notice that your `--truth-sensitivity-filter-level` is 97, and the `AS_FilterStatus` at these sites assigns the alleles to the `VQSRTrancheSNP97.00to98.00` tranche. What happens if you run with a `--truth-sensitivity-filter-level` of 99 instead?

[2021-05-24 18:35] migbro commented on #7269
Hi @droazen , thanks for your quick response! Depending on what you mean for "multiple tools," I'd say just Mutect2. I say this because we are running this as part of a cwl workflow, so Mutect2 is running on its own instance (virtual machine) with that specified docker image. All of the surrounding tools have produced the expected outputs when queried except for Mutect2. That's a good point about

[2021-05-24 18:36] droazen commented on #7250
@TearsWillFall To help us diagnose this issue, could you please try running the same `CNNScoreVariants` command in our official 4.2 docker image in dockerhub (https://hub.docker.com/r/broadinstitute/gatk/), and report whether you get the same error?

[2021-05-25 08:51] nickhir commented on #7259
Hello,
I forgot to report back here. I figured out what my problem was:
I ran ApplyVQSR twice on my dataset. The first time with a sensitivity threshold of 99% and the second time with 97% (on the data which resulted from the 99% threshold run). When I use 97% right away everything worked.

However, I am still a little confused, why "updating" the sensitivity threshold results in my observed outpu

[2021-05-25 08:51] #7259 closed

[2021-05-25 15:36] jonn-smith commented on #7265
We also need to identify exactly what the issue is so we can report it properly.

Most likely it's that the wrong version of gencode somehow got into the hg38 area for this release.

[2021-05-25 20:15] mwalker174 commented on #7266
@phdstudent-oje Can you please post the command you used to run `GermlineCNVCaller`?

[2021-05-26 14:12] Ben-Habermeyer opened #7276 "FilterMutectCalls when using --alleles yields java.lang.IllegalArgumentException: log10 p: Values must be non-infinite and non-NAN"
## Bug Report
This is more of a question than an outright bug report. Is it expected that `FilterMutectCalls` should work on a VCF produced by `Mutect2` run with the `--alleles` option? i.e. there exist homref calls in the mutect2 VCF?

When using the `--alleles` option to force calls at specific loci, an exception is raised on FilterMutectCalls. This issue was reported https://github.com/broadins

[2021-05-26 14:48] fleharty commented on #7276
@davidbenjamin Could you take a look at this?

[2021-05-27 10:20] TearsWillFall commented on #7250
Just to confirm and clarify. The same command works fine on a 4.2.0 docker image built on Singularity.
However, it doesn't seem to work, when I either:

A) Download the zip/tar and build the conda environment as per Requirements section instructions using `conda env create -f gatkcondaenv.yml `
B) Clone the master repo build gatk and use `./gradlew localDevCondaEnv` to build the conda env.

In bot

[2021-05-29 19:12] yingchen69 commented on #7091
Hi,

Would you please share how you fixed the issue? I use gatk 4.2.0.0 and have exactly the same error.

Thanks a lot!

Ying

[2021-05-30 18:48] #7091 closed

[2021-05-31 02:17] vladsaveliev opened #7280 "ApplyVQSR overwrites SB field"
## Bug Report

### Affected tool(s) or class(es)
ApplyVQSR

### Affected version(s)
- [ ] GATK version: 4.1.9.0

### Description
Running `ApplyVQSR` on a VCF with a pre-existing SB field makes it overwrite it with an incorrect header: (`##INFO=<ID=SB,Number=.,Type=Integer,Description="">` vs `##INFO=<ID=SB,Number=1,Type=Float,Description="Strand Bias">`, even though the `INFO` value stays `SB=5,2,

[2021-05-31 18:44] luyoutao opened #7281 "Mutect2 long run time for small BAM after engine shutdown"
Dear GATK4 deveopers,

Thanks for developing this software. I'm trying to call SNVs from a BAM file using Mutect2. The BAM file is fairly small (~30MB), containing ~400,000 75bp paired-end reads mapped to mouse mitochondrial genome.

 Below is the command and the log:
[code]

From the log, we see that Mutect2 finished in 40 minutes. In the meanwhile the `g.vcf`, `g.vcf.idx` and `g.vcf.stats` files

[2021-06-01 04:55] #7281 closed

[2021-06-01 14:44] Ben-Habermeyer commented on #7276
Any insight on this?

[2021-06-01 21:28] GATKSupportTeam opened #7285 "The depth of SNV/InDels calculated by Mutect2 in GATK4.2.0.0 is much lower than 4.1.9.0"
This is a follow up from a discussion from the GATK Office Hours meeting. The user has not found that the --dont-use-soft-clip-bases parameter is the culprit of this difference. The user is sending in a bug report.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360078111952-The-depth-of-SNV-InDels-calculated-by-Mutect2-in-GATK4-2-0-0-is-much-lower-than-real-sequencing-depth-why-]

[2021-06-02 07:28] vruano commented on #7137
Perhaps create a haplotype pre-trim method that return the first possible trimming right flank position that would not result in the lost of the haplotype.
Get the max across al haplotypes and do the trimming using that instead of the (padded?) active region's end.

[2021-06-02 07:35] vruano commented on #7137
If you think of it, ideally we should not be losing any haplotype to this. Perhaps is rare that this happens to all of them but it might not be that rare that it happens to just some resulting in lost sensitivity that goes unnoticed.

[2021-06-02 17:35] bbimber opened #7287 "Can A Walker Subclass Hide an Inherited Argument or Give It A Default?"
My lab has a variety of custom walkers. Many subclass MultiVariantWalkerGroupedOnStart, which is a useful iteration pattern. We tend to scatter/gather on our cluster, where each job is given an interval set. When doing this, handling variant spanning those borders is critical. We just had an issue around this, which stems from MultiVariantWalkerGroupedOnStart and the fact that ignoreIntervalsOutsi

[2021-06-02 18:33] gbrandt6 commented on #7285
The user sent in an update, they found that the argument --min-base-quality-score 25 was the culprit. Because of the default Mutect2 argument --pcr-snv-qual 40, it looks like the base qualities were adjusted to 20 and many were getting filtered out. There still isn't a great explanation though for why this changed with GATK 4.2.0.0 given the [updates](https://github.com/broadinstitute/gatk/release

[2021-06-02 20:46] cmnbroad commented on #7287
There is a pattern for abstracting these out, and even hiding them, but its intrusive and probably way overkill for this (see for example how `getSequenceDictionaryValidationArgumentCollection` is used). Also see `customCommandLineValidation` which can similarly be used for command line arg validation. Another option is to use a subclass constructor that resets the defaults, and logs a warning if

[2021-06-03 15:49] bbimber commented on #7287
Yeah, I thought about just stomping over it and adding a warning. I'll look into these options.

[2021-06-03 15:49] #7287 closed

[2021-06-04 10:16] arumds commented on #6950
I am having the same issue. I have the whole chromsome13 `-L chr13` instead of intervals. How do i overcome the issue in this case?

[2021-06-04 19:16] lindenb opened #7289 "4.2.0.0 : HC java.lang.IllegalStateException: Padded span must contain active span"
## Bug Report

### Affected tool(s) or class(es)

HC  java.lang.IllegalStateException: Padded span must contain active span

### Affected version(s)
- [X] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description

[code]

#### Steps to reproduce

see attachement.

[code]

#### Expected behavior

no exception

#### Actual behavior

[code]

[2021-06-05 02:53] vruano opened #7290 "Why AD of unseen alleles is set to 0, should it rather be "."
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-06-05 13:08] biozzq opened #7291 "genotype is ./. but with many high quality reads"
Dear all,

According to the best practice of SNP calling (gvcf->combine gvcf->genotype), I found that the genotype is ./. but with the supporting of many high quality reads. In my mind, the genotype of these sites should be 0/0. The version I used is 4.2.0.
![image](https://user-images.githubusercontent.com/15704257/120892516-4fdd2900-c641-11eb-8d59-deb72c6dbcfc.png)

sincerely,
Zheng zhuqing

[2021-06-06 02:53] jun3234 opened #7292 "How to add new sample to the existing VCF files?"
Hi, GATK contributors

Thank you for the great software!

I had looked  for the answer several days.

Question:
Several samples are new sequenced and `g.vcf` was called using `GATK` with `-ERC GVCF` models.
I want to add this new sample variants into the existing VCF file (no g.vcf avaliable) that downloaded from other researchers.
I have tested some commands like `CombineGVCFs`, `MergeVcfs` but a

[2021-06-06 03:57] vruano commented on #7291
The GT field is decided based on the content on PL not AD. PL=0,0,0 so there is no confidence on any GT vs the others.

PL=0,0,0 probrably is cause by a hom-ref site in that sample at that site with ALT list ```<NON-REF>``` that nontheless  had many pileup reads that did not support the reference (e.g. contained apparent SNP or softclips right before or after or a deletion/insertion at that point)

[2021-06-06 04:02] vruano commented on #7292
Can you gain access to the original gvcfs for those samples? if not I don't think there is a standard way to do such a thing in GATK following best practices. Perhaps there is some  general VCF merging tool that would do the trick sort-of but it won't be the same as if you had run that sample with the rest thru the single sample + joint-genotyping pipeline.

[2021-06-06 04:11] vruano commented on #7292
Btw please post these tech questions in the [GATK community forum](http://gatk.broadinstitute.org/hc/en-us/community) .... my understanding is that github issues are not the place to ask how to use the tools or interpret result but it is rather for development purposes.

Let me know here when you do and I will repost my reply there. Thanks.

[2021-06-06 04:13] vruano commented on #7291
Btw please post these tech questions in the [GATK community forum](https://gatk.broadinstitute.org/hc/en-us/community/topics) .... my understanding is that github issues are not the place to ask how to use the tools or interpret result but it is rather for development purposes.

Let me know here when you do and I will repost my reply there. Thanks.

[2021-06-06 04:25] jun3234 commented on #7292
OK, I bookmark this website.
Thank you again.

[2021-06-06 09:23] #7292 closed

[2021-06-07 16:42] amithasandur opened #7294 "Feature request for GATK cnv_somatic_pair workflow"
## Feature request

### Tool involved - GATK cnv_somatic_pair_workflow
Link to main wdl - https://dockstore.org/workflows/github.com/broadinstitute/gatk/cnv_somatic_pair_workflow:4.2.0.0?tab=files

### Description
Requesting for addition of a new feature called the `IndexFeatureFile` to be added as initial step in the `Funcotate_Segment` task of the `cnv_somatic_pair_workflow` wdl

**Detailed desc

[2021-06-07 18:24] droazen commented on #7291
Closing as resolved

[2021-06-07 18:24] #7291 closed

[2021-06-07 18:25] droazen commented on #7290
@ldgauthier your thoughts?

[2021-06-07 18:26] jamesemery commented on #7289
Hello @lindenb.

I think I found what is going on here and its a bug on our part that we didn't provide a better error for this issue. In the bed file you uploaded this is the offending interval:
`GL000223.1  178912  180554`
Unfortunately this is the length of that interval in the hg37 decoy sequence dictionary is as follows:
`@SQ     SN:GL000223.1   LN:180455`
So it seems the issue here is that s

[2021-06-07 18:32] droazen commented on #7182
@vruano Was this fixed in your PR https://github.com/broadinstitute/gatk/pull/7212? Can this be closed?

[2021-06-07 18:54] lindenb commented on #7289
@jamesemery  Oh I see ! My bad , sorry, I messed-up something when  the boundaries of the exons where extended by 100bp. Thank you for your time !

[2021-06-07 18:54] #7289 closed

[2021-06-07 19:07] itaibeno commented on #7177
@davidbenjamin comparing [better error bars for samples with small contamination](https://github.com/broadinstitute/gatk/pull/7003) version to master 4.2.0.0

- running on large set of probably considered as a small panel with high read depth.
percent of observations with all compared variables equal 88%,  values unequal 12%

We can conclude that over all the Zero contamination remains Zero contam

[2021-06-08 23:03] GATKSupportTeam opened #7297 "H5F5 Library Error running DenoiseReadCounts on arm64 processor"
A user gets an issue with the HDF5 library when running DenoiseReadCounts on an arm64 processor. We would like to create a fallback solution for this tool, since in this case the tool is not working with HDF5 files.

This request was created from a contribution made by dbpiero on June 01, 2021 10:22 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360078197412-Error-running-De

[2021-06-08 23:21] GATKSupportTeam opened #7298 "FilterMutectCalls in 4.2.0.0 has an error with AS_UNIQ_ALT_READ_COUNT annotation format"
It looks like this is a bug with 4.2.0.0 because the same Mutect2 output has no issues with FilterMutectCalls 4.1.6.0.

This request was created from a contribution made by Qihan Long on June 04, 2021 03:21 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360078236332-The-output-of-Mutect2-cannot-be-accepted-by-FilterMutectCalls-in-GATK-4-2-0-0](https://gatk.broadinstitute.org

[2021-06-09 14:58] jamesemery opened #7300 "Audit GenomeLocParser overloads for validation arguments."
In the work on #7295 it became clear that there are a lot of overlapping overloads of the `createGenomeLoc()` method that has already caused some confusion since some overloads will skip the reference validation step. Somebody should audit all of the uses of `GenomeLocParser` and evaluate where validation is and isn't appropriate (possibly if you want an unvalidated genomeLoc use a SimpleInterval?

[2021-06-09 15:21] lbergelson commented on #7143
Hi @yurivict I tested this on my machine and it works for me.  Do you see a message saying the version was overridden?
[code]

[2021-06-09 16:22] gbrandt6 commented on #7285
Another update, there is no major difference in the AD for GATK 4.1.9.0 and 4.2.0.0 when removing the --min-base-quality-score 25 argument. This output matches the expected output. I have recommended that the user proceed with using the default read filters, however, we have still not found any update to GATK 4.2.0.0 that overtly caused the change.

[2021-06-09 19:34] vruano commented on #7182
If you want a proper test using the empirical data that cause the report, you cannot close otherwise the new code does exactly check for the offending condition and so it should be now fixed.

[2021-06-10 16:52] GATKSupportTeam opened #7304 "VariantEval IndexOutOfBoundsException on X Chromosome"
VariantEval currently throws an IndexOutOfBoundsException for data on the X chromosome. It looks like this comes up because of an underlying assumption that the data is diploid. It would help out users if we could make some sort of workaround possible with this tool.

This request was created from a contribution made by Samantha Zarate on May 28, 2021 14:24 UTC.

Link: [https://gatk.broadinstitute

[2021-06-11 12:43] zoldrax commented on #7199
I have the same error with HaplotypeCallerSpark gatk-4.2.0.0 without interval (-L) parameter:
gatk HaplotypeCallerSpark -R ucsc.hg19.fasta -I CHH43_recal.bam -O CHH43_raw.vcf.gz
But when I add -L CHH43.bed parameter the process finished correctly, without errors. Not Spark version of HaplotypeCaller ends correctly in all cases.
[HCSpark.log](https://github.com/broadinstitute/gatk/files/6638429/HCS

[2021-06-11 19:25] #2924 closed

[2021-06-11 19:25] fleharty commented on #7285
@gbrandt6 Not sure what the cause is here, but looking into it.

[2021-06-13 20:33] desmodus1984 opened #7311 "CombineGVCFs error"
----

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_
CombineGVCFs

### Affected version(s)
- [ ] Latest public release version [version?] Yes
- [ ] Latest master branch as of [date of test?]  singularity.

### Description
_Describe the problem below. Provide **screenshots** , **stacktrace** , **logs** where appropriate._
I am trying to combine GVCFs for joint-calllings

[2021-06-14 08:38] vruano opened #7312 "makeLikelihoods should not use -Infinity as very unlikely but rather the mapping quality of the read."
I bumped into an error in a PR of mine due to a recent update in master. While I should make the code of the PR more robust I think that the approach take to compose approximate likehoods in ```VariantAnnotator.makeLikelihoods``` can and should be improved.

Currently uses -Infility as "unlikely" lk (I would say rather "impossible" lk) and 0 as "likely" based on whether the read pileup does not ma

[2021-06-14 08:52] KSchtz opened #7313 "or mutect"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2021-06-14 14:56] #7313 closed

[2021-06-14 22:14] gbrandt6 commented on #7298
The user found another issue with Mutect2 in GATK 4.2.0.0: the AS_MQ annotation contains a comma and cannot be parsed by other tools. I have recommended that the user work around this by leaving out this annotation but we should continue to look at a fix for these issues in GATK 4.2.0.0

[2021-06-15 02:17] chunyangbao opened #7314 "ASEReadCounter outputs only header"
I am using ASEReadCounter to call allelic read counts on 1000 genome reference. But, I found ASEReadCounter generatd only header in output file. Here I enclosed my command and stderr log. Please help me to check it. Thank you!

If you are seeing an error, please provide(REQUIRED) :
a) GATK version used: 4.1.8.1
b) Exact command used:

java -Xmx8000m -Djava.io.tmpdir=/broad/hptmp/cbao \
 -jar ${pat

[2021-06-15 10:14] vruano commented on #7189
A fix for this issue has already been merged.

[2021-06-15 10:14] #7189 closed

[2021-06-15 10:15] vruano commented on #7153
Fix has been merged.

[2021-06-15 10:15] #7153 closed

[2021-06-15 11:39] shiyi-pan opened #7315 "input VCF file format of GenotypeGVCFs is wrong"
Hi, I want to use HaplotypeCaller and  GenotypeGVCFs to  call SNPs and meet a problem and my GATK version is v3.3-0-g37228af . Here is my script and I have 427 sample：

$JAVA -Xmx8g -jar $GATK -T HaplotypeCaller -R Chr06.fa -I $NOW/${RIL}.final.bam -ERC GVCF -o $NOW/${RIL}.raw.g.vcf  --genotyping_mode DISCOVERY -variant_index_type LINEAR -variant_index_parameter 128000 -nct 24
$JAVA -Xmx4g -jar $G

[2021-06-15 17:56] jamesemery commented on #7300
As it turns out some of the `createGenomeLoc()` instances are being used by the GermlineCNVPipeline tests (evidently in ValidateVariants) and will fail if genome validation is enabled. This should be investigated.

[2021-06-16 10:43] xiucz commented on #7038
It is really a great job!   THANK YOU @bbimber . I have been waiting for the porting for many years! 😭

[2021-06-16 16:23] bbimber commented on #7038
Glad it's useful.

[2021-06-16 16:36] GATKSupportTeam opened #7318 "Mutect2 --genotype-germline-sites remove experimental label"
As discussed at the GATK Office Hours meeting, the --genotype-germline-sites should no longer be labeled as experimental.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360077847071-Mutect-genotype-germline-sites-status](https://gatk.broadinstitute.org/hc/en-us/community/posts/360077847071-Mutect-genotype-germline-sites-status)

\--

If not an error, choose a category for your qu

[2021-06-18 03:07] vruano commented on #5233
A solution was merged

[2021-06-18 03:07] #5233 closed

[2021-06-18 03:09] vruano opened #7321 "Test Microbe's variant recapture using pile-up regenotyping in Malaria data."
Interesting to see whether it recovers real vairants.

[2021-06-18 03:16] bbimber opened #7322 "Next minor GATK release?"
Hello,

Do you have an estimate on when you might be releasing the next minor GATK release? I'm hoping to pick up the GenomicsDB update (https://github.com/broadinstitute/gatk/commit/8796404cab594b716d43755f61fd405c92208141). I realize we could build our own, but for one of our projects we release a public dataset with documentation on the tools, and it's nicer to use official releases. Thanks.

[2021-06-18 09:38] gokalpcelik opened #7323 "gatk 4 SplitNCigarReads is not splitting reads."
Hi.

I opened a topic on GATK forums similarly however the issue is pretty big I guess. SplitNCigarReads functionality is probably lost during progress. 3.8-1 splits all N cigars properly however 4.1.9.0 and 4.2.0.0 cannot produce the same output. 4.x output looks as if reads are not split but just softclipped after N cigar directionally from left to right.

![image](https://user-images.githubuser

[2021-06-21 05:47] chochangwoo1023 opened #7324 "In case of shut down while updating gvcf file to GenomicDB"
## Feature request

### Tool(s) or class(es) involved
GenomicsDBImport(v4.1.8.1)

### Description
Hello, I was construct to genomicdb using GenomicDBImport and import gvcf file for update genomicdb(Command).

 but since my server was shut down, during GenomicDBImport process, process is broke down. After I tried to GenomicDBImport same command for overwrite genomicdb and encounter to error message

[2021-06-21 14:33] droazen commented on #7322
Hi @bbimber, our next release is imminent -- we're just waiting on 1-2 final PRs to be merged. I can safely say it will go out this week.

[2021-06-21 14:33] #7322 closed

[2021-06-21 18:16] GATKSupportTeam opened #7327 "ASEReadCounter check for no genotype info"
We have determined that a sites-only VCF causes ASEReadCounter to only output a header. There are warnings in the stack trace but it is not clear that the tool found no genotypes in the file. We can look into adding a check in ASEReadCounter to exit out if the VCF has no genotype fields. The documentation for this tool should also be more specific.

This request was created from a contribution mad

[2021-06-21 18:19] droazen commented on #7324
@chochangwoo1023 We recommend recreating the GenomicsDB from scratch in this case, since it may have been corrupted when your server shut down.

[2021-06-21 18:19] #7324 closed

[2021-06-21 19:07] jamesemery commented on #7323
Hey @gokalpcelik thanks for writing in. So there are a few important differences that could be confounding the results you see for SplitNCigarReads between GATK3 and GATK4. The big one is that in GATK 4 the reads get soft clipped instead of hard clipped and the subsequent splits for the reads are marked as Supplementary reads (which does not seem to have been the case in GATK3). Can you check that

[2021-06-21 20:57] gokalpcelik commented on #7323
Thanks @jamesemery

The issue seems to be solved on my end. Sorry but this was my misunderstanding of the improvements made to the tool itself.

https://gatk.broadinstitute.org/hc/en-us/community/posts/1260803956870-SplitNCigarReads-does-not-seem-to-split-reads-properly-as-it-was-before-3-8-1-?page=1#community_comment_4402553149467

BTW the bam file created after splitting by 4.2.0.0 is still not

[2021-06-21 20:57] #7323 closed

[2021-06-22 17:58] fleharty commented on #7318
@GATKSupportTeam There is no plan to remove this argument, and yes we should change this from being experimental.

[2021-06-22 17:59] fleharty commented on #7318
@davidbenjamin When you get back can you take a look at removing the experimental flag from the M2 docs?

[2021-06-22 18:09] fleharty commented on #7298
@davidbenjamin Could you take a look into this, sounds like an easy fix.

[2021-06-22 21:15] jamesemery commented on #7327
The issue was that the user supplied a sites-only vcf. AESReadCounter only evaluates results at het sites which don't exist in sites-only outputs. Fixed by #7326

[2021-06-22 21:15] #7327 closed

[2021-06-22 21:16] jamesemery commented on #7314
This has been fixed. Duplicate of #7327.

[2021-06-22 21:16] #7314 closed

[2021-06-23 15:25] gbrandt6 commented on #7327
Thank you @jamesemery, looks good!

[2021-06-25 14:16] #5942 closed

[2021-06-29 17:34] WanessaMGoes opened #7332 "My output is empty"
I performed a DepthOfCoverage analysis using the latest version of GATK (4.2.0) within the docker environment. I have provided only the required arguments and files, as shown in the line below:
gatk DepthOfCoverage -R assembly-Pacbio.genome.fasta -O Coverage_Pacbio -I Alignment_sorted_Pacbio.bam -L scaffolds-Pacbio-Chr-sizes.interval_list

The execution came to an end and apparently without a prob

[2021-06-30 09:00] dantefff opened #7333 "Java11 support"
## Feature request

### Description
Now that java8 support has been dropped on some major linux distributions, I think would be nice to have official java11 support in GATK. I know that I can compile in java11, but the only reference I could find (from 2019) says it is an experimental support only.

[2021-06-30 15:45] jjfarrell opened #7334 "ReblockGVCF exception"
----

## Bug Report

### Affected tool(s) or class(es)
ReblockGVCF

### Affected version(s)
4.2.0.0

### Description
When running ReblockGVCF the following exception occurs:

`java.lang.IllegalArgumentException: cannot add a genotype with GQ=-1 because it's not within bounds [0,20)
`

#### Steps to reproduce

Using a gVCF created with 4.2.0.0 HaplotypeCaller...

`gatk ReblockGVCF -R /restricted/pr

[2021-06-30 17:47] #7228 closed

[2021-06-30 18:01] lbergelson commented on #7333
Hi @dantefff.  We're planning on officially moving GATK to use java 11 by default in the relatively near future.  I don't have an exact timeline.  It's definitely annoying to not have it work out of the box on most linux systems and it's something we want to do soon.  I have had very limited bandwidth lately and updating to 11 has been a casualty of that.  Now that the world is rebooting things sh

[2021-06-30 20:59] dantefff commented on #7333
Hi @lbergelson ,
Compile it from sources is not a major issue for me. Can I understand for your words that current master branch from github is reasonably tested in Java11?
Best regards

[2021-07-01 13:58] jonn-smith commented on #4897
Duplicate of #3703

[2021-07-01 14:20] jonn-smith commented on #6574
Possibly related to #5143

[2021-07-01 15:14] droazen commented on #6440
Note that the tool doc links in this ticket are out-of-date. The current tool docs can be found at:

https://gatk.broadinstitute.org/hc/en-us/sections/360012354372-4-2-0-0-Current

[2021-07-01 19:19] #6440 closed

[2021-07-07 08:32] dantefff opened #7338 "Java11 problem with log4j2"
## Bug Report

### Affected tool(s) or class(es)
Any tool that uses log4j2 and is compiled in java11

### Affected version(s)
- [ X ] Latest master branch as of 20210707

### Description
Runing almost everything (anything that makes use of log4j2) I get an UnsuportedOperationException. For example:

[code]

#### Steps to reproduce
Compile master with java11 and run
`gatk CheckIlluminaDirectory --h

[2021-07-07 08:38] dantefff commented on #7333
Java11 compiled versions will crash with UnsupportedOperationException. I created a new issue and a pull request for this: #7338

[2021-07-07 18:46] #7088 closed

[2021-07-07 19:29] haileypfox commented on #5458
All instances of PrintWriter have been removed from Funcotator. @lbergelson @jonn-smith

[2021-07-08 11:44] gokalpcelik commented on #7333
openjdk-8 can still be found on many major distributions albeit it is not the default one to be installed. Just check the package manager for openjdk-8 tags.
If not check adoptopenjdk repos to install one from there. Or use the docker image.

[2021-07-08 13:22] dantefff commented on #7333
That's true now, but it is matter of months not being.

[2021-07-08 15:03] brepley commented on #5527
I would also find this feature helpful in terms of streamlining a pipeline I am working on. Any updates on this feature request?

[2021-07-08 15:23] lbergelson commented on #7338
Huh.  Our tests should be catching this.  Looks like we have a failure in our test pipeline somewhere.

[2021-07-08 16:04] GATKSupportTeam opened #7341 "No current way to use SelectVariants to remove spanning deletions"
This request was created from a contribution made by Matt Johnson on July 05, 2021 21:23 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360067819992-SelectVariants-v4-1-6-0-doesn-t-select-the-variants-as-expected-#community\_comment\_4403173344411](https://gatk.broadinstitute.org/hc/en-us/community/posts/360067819992-SelectVariants-v4-1-6-0-doesn-t-select-the-variants-as-exp

[2021-07-08 16:22] gbrandt6 commented on #7341
@jonn-smith tested a workaround using JEXL expressions to filter out spanning deletions but it was not working. This seems like a bug because spanning deletions can cause downstream issues.

[2021-07-08 16:37] lbergelson commented on #7338
@dantefff Ugh... our tests don't catch this because it's a problem in the shading process where we package everything in our jar.  Our tests don't use he shaded jar because it takes a long time to build and we've never seen an error like this before.  Similarly, when I run my own tests locally I usually don't build the shaded jar for speed reasons and haven't noticed this error.  I guess we need t

[2021-07-08 17:18] dantefff commented on #7338
Thank you for your software!

[2021-07-09 14:44] VincentGardeux opened #7344 ""Annotation will not be calculated" warning is spammed?"
## Feature request

### Tool(s) or class(es) involved
HaplotypeCaller of GATK v4.2.0.0

### Description
Hi, I'm using GATK to call variants in Aedes Aegypti samples.
My output is spammed with WARNINGs (see below). I wondered:
1. If this was an issue, i.e. my samples have bad QC/Coverage? Or is it something expected? In particular, there is one sample that seems to generates much more warnings than

[2021-07-12 18:13] lbergelson opened #7346 "Add test of Java 11 shadow jar."
We had a breakage in our java 11 support which went undetected by tests because it only happened when we actually packaged the jar and that isn't done in our java 11 tests.

See #7339  #7338

We should add a simple test to make sure something like this doesn't happen again.

[2021-07-12 18:14] #7338 closed

[2021-07-12 19:10] droazen commented on #5458
@haileypfox @jonn-smith Is there a PR that fixes this for Funcotator? Was it merged already?

[2021-07-12 21:26] haileypfox commented on #5458
@droazen When I looked through Funcotator, all of the PrintWriters had already been removed. I am not sure when this happened though, but someone else must have already gone through and replaced them.

[2021-07-13 17:57] GATKSupportTeam opened #7348 "GenotypeGVCFs ArrayIndexOutOfBoundsException Error"
This request was created from a contribution made by Alon Ziv on July 07, 2021 12:21 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4403256366107--java-lang-ArrayIndexOutOfBoundsException-32772-while-running-GenotypeGVCFs](https://gatk.broadinstitute.org/hc/en-us/community/posts/4403256366107--java-lang-ArrayIndexOutOfBoundsException-32772-while-running-GenotypeGVCFs)

\--

[2021-07-15 09:09] VGDEC opened #7350 "Mutect2 Mitochondria Mode clarifications regarding heteroplasmy"
### Affected tool(s) or class(es)
Mutect2 mitochondria mode

### Affected version(s)
- Gatk 4.2.0.0

### Description
1) I wanted to clarify that does the AF parameter under the FORMAT column in output vcf after running the mutect2 with mitochondria mode can be considered as representation of heteroplasmy levels?
2) If point 1. is true, then question is that does it provide the genotypes on the bas

[2021-07-15 13:54] meganshand commented on #7350
1. AF in the FORMAT column can be used to represent heteroplasmy levels.
2. Currently the genotype is always reported as het (0/1). There is a request to change this but it hasn't been implemented yet: https://github.com/broadinstitute/gatk/issues/6257 If you'd like to fix this feel free to make a PR and I'd be happy to review it.
3. Mitochondria mode in Mutect alone does not automatically shift t

[2021-07-16 13:23] philiptombleson commented on #7249
Hi Stefan, how's it going.
Did you get anywhere with this one?
I'm getting a similar error but there's only one line with this genomic coordinate in my vcf.

A USER ERROR has occurred: More then one variant context at position: X:523104

All the best
Phil

[2021-07-16 16:22] droazen commented on #5683
Re-assigning to @haileypfox

[2021-07-16 16:22] droazen commented on #5783
Re-assigning to @haileypfox

[2021-07-16 16:23] droazen commented on #6574
Re-assigning to @haileypfox

[2021-07-16 17:29] bolton-lab opened #7353 "Syntax error on mutect2.wdl"
Although womtool-65.jar indicates syntax is correct for https://github.com/broadinstitute/gatk/blob/master/scripts/mutect2_wdl/mutect2.wdl however there are two external sources that say the syntax is incorrect for [line 1036](https://github.com/broadinstitute/gatk/blob/master/scripts/mutect2_wdl/mutect2.wdl#L1036).  Both the VS Code WDL plugin by Broad indicates this is incorrect syntax (see imag

[2021-07-16 17:44] fleharty commented on #7353
@bolton-lab
Hmm, weird.  I'm using IntelliJ with WinStanley 0.5, and I don't get any complaints from that.

![Screen Shot 2021-07-16 at 1 42 32 PM](https://user-images.githubusercontent.com/10714381/125988030-a8d856c6-c081-4e5f-8c16-9cf9f63febba.png)

If you hover your mouse over the red squiggly line, does it tell you more about what it is complaining about?

[2021-07-16 18:20] bolton-lab commented on #7353
Aha it says this:

`Expected Array[Any] instead of File?; command placeholder has 'sep' option for non-Array expression`

That makes sense now.  In the `funcotate` task under inputs you have this:

[code]

So `transcript_selection_list` needs to be an array if you are going to use:
`~{default="" sep=" --transcript-list " transcript_selection_list}`

[2021-07-16 19:18] #7222 closed

[2021-07-19 17:26] jamesemery opened #7356 "Add hardclip segments option to SplitNCigarReads tool"
Currently the GATK4 version of SplitNCigarReads softclips the overlapping segments of the reads across the split segments. This is a departure from the original GAKT3 behavior which hardclipped the edges. A few discussions have happened where this has confused users since running HaplotypeCaller/Mutect on the results can often result in confusing indels when they try to align the soft-clipped segm

[2021-07-19 18:13] droazen commented on #7350
@meganshand Can this one be closed as answered?

[2021-07-19 18:25] droazen commented on #7334
@ldgauthier Any insight into this error? Does this tool actually need to handle negative GQs?

[2021-07-19 18:28] droazen commented on #7333
Closing as dupe of https://github.com/broadinstitute/gatk/issues/6671. Java 11 support is definitely on our roadmap for this year!

[2021-07-19 18:28] #7333 closed

[2021-07-19 18:32] droazen commented on #7332
@WanessaMGoes It looks like most/all of your reads are getting filtered out by GATK's `WellformedReadFilter`:

[code]

Could you try running `ValidateSamFile` on your bam, and paste the result here?

[2021-07-19 18:33] droazen commented on #7332
@jonn-smith Could you comment on whether GATK's `WellformedReadFilter` would have issues with PacBio reads?

[2021-07-19 18:45] #7350 closed

[2021-07-19 21:46] #7344 closed

[2021-07-20 17:02] #5679 closed

[2021-07-20 21:20] GATKSupportTeam commented on #7356
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/140808'>Zendesk ticket #140808</a>)</i>

[2021-07-21 20:15] GATKSupportTeam opened #7362 "Request created from: Mutect2 PoN - GenomicsDBImport creates empty DB"
This user is receiving an empty output file when running GenomicsDBImport. The user ran ValidateVariants on the input files which was successful.

This request was created from a contribution made by Enrico Cocchi on July 14, 2021 10:31 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4403568031515-Mutect2-PoN-GenomicsDBImport-creates-empty-DB](https://gatk.broadinstitute.org/

[2021-07-23 07:54] smeeta commented on #2199
Please need help :

I ran the script for VQSR

gatk-4.2.0.0/gatk VariantRecalibrator\
    -V variants_sitesonly.vcf.gz\
  	-trust-all-polymorphic\
    -tranche 100.0 -tranche 99.95 -tranche 99.9 -tranche 99.5 -tranche 99.0 -tranche 97.0 -tranche 96.0 -tranche 95.0 -tranche 94.0 -tranche 93.5 -tranche 93.0 -tranche 92.0 -tranche 91.0 -tranche 90.0\
    -an FS -an ReadPosRankSum -an MQRankSum -an QD

[2021-07-25 21:26] ajaarma commented on #7311
I guess you need to create a tabix index of corresponding gvcf file created after the HaplotypeCaller step.
$ tabix -p vcf <in.g.vcf.gz>

[2021-07-26 09:40] MMengrui opened #7367 "Ref_depth didnot match"
### Description

hi
I met the problem:
This is the bam file:
![image](https://user-images.githubusercontent.com/49903097/126967843-659767f9-5234-4d54-8a11-05631c1eb408.png)

but the vcf showed:
![image](https://user-images.githubusercontent.com/49903097/126967949-dc737504-2787-448f-b648-5ef19769f158.png)

The reference depth didnot match to the bam file.

I want to know why this happens

[2021-07-26 16:01] jamesemery opened #7368 "Capture excessive log output regressions in the test suite"
In light of the recent #7357 and #7358 it has become clear that we are blind changes that cause the logging outputs for GATK to become unusable because we are spitting endless warnings to stdout. I think we should change our integration tests to capture the log output for each of our tests and assert that none of them balloon beyond some reasonable threshold that would capture these problems (perh

[2021-07-26 16:35] nalinigans commented on #7362
@mlathara , can you also take a look? A sample vcf has been added in the forum - https://gatk.broadinstitute.org/hc/en-us/community/posts/4403568031515/comments/4404163777435

[2021-07-26 18:50] nalinigans commented on #7362
Just updated the forum post with a solution. Basically, when running GenomicsDBImport on an uncompressed/unindexed vcf, threw the following exception -

[code]

After compressing/indexing [the test file](https://drive.google.com/file/d/1VtV81cvmDMVov-vzEobagsO1DOwvIiB9/view?usp=sharing) provided in the forum post, was able to successfully run GenomicsDBImport as well as SelectVariants.

[2021-07-27 17:32] jonn-smith opened #7372 "Remove slow java constructs from Funcotator code"
Recently @haileypfox found a very nice speedup for Funcotator by replacing a `String.Format` call.  The rest of the Funcotator code should be reviewed for other slow Java constructs such as:

- Calls to `String.Format`
- Streaming operators (instead of for loops)

This is not an exhaustive list.

[2021-07-27 20:22] #6574 closed

[2021-07-27 23:24] haileypfox commented on #5683
I have been unable to reproduce this error. I have tried a few different things but none of them have resulted in this null pointer exception.

[2021-07-27 23:45] fpbarthel commented on #5683
Thanks for looking into this @haileypfox, as I submitted this bug report in Feb 2019 using GATK 4.1.0.0 I have since used a workaround (add an additional compression step after outputting uncompressed, eg. https://github.com/fpbarthel/GLASS/blob/333d5d01477e49bb2cf87be459d4161d4cde4483/snakemake/mutect2-post.smk#L188-L206).

Did you use 4.1.0.0 to test this? Perhaps this was since fixed?

[2021-07-28 02:27] daisyyr commented on #6651
Hi, everyone~ Is this problem solved now? It seems that I've encounted similiar problems. I'm using GATK4.2 and hg38 data.

`11:43:25.661 ERROR GencodeFuncotationFactory - Problem creating a GencodeFuncotation on transcript ENST00000441716.2 for variant: chr6:167976552-167976594(ACAGTGGGGGTCATTCCCCCTGCAGTGTGTTGGGAGGAGGAGG* -> A): Variant overlaps transcript but is not completely contained within i

[2021-07-28 02:28] daisyyr commented on #6651
Hi, everyone~ Is this problem solved now? It seems that I've encounted similiar problems. I'm using GATK4.2 and hg38 data.

11:43:25.661 ERROR GencodeFuncotationFactory - Problem creating a GencodeFuncotation on transcript ENST00000441716.2 for variant: chr6:167976552-167976594(ACAGTGGGGGTCATTCCCCCTGCAGTGTGTTGGGAGGAGGAGG* -> A): Variant overlaps transcript but is not completely contained within it

[2021-07-28 07:41] QiAnXinCodeSafe opened #7376 "Double-Checked Locking"
https://github.com/broadinstitute/gatk/blob/b4cba377e0aff179dbff615783506913e7fe3aa4/src/main/java/org/broadinstitute/hellbender/tools/funcotator/dataSources/xsv/LocatableXsvFuncotationFactory.java#L245-L247

Double-Checked Locking is widely cited and used as an efficient method for implementing lazy initialization in a multithreaded environment.
Unfortunately, it will not work reliably in a platf

[2021-07-28 08:05] QiAnXinCodeSafe opened #7377 "Unreleased Resource: Streams"
https://github.com/broadinstitute/gatk/blob/b4cba377e0aff179dbff615783506913e7fe3aa4/src/main/java/org/broadinstitute/hellbender/tools/LocalAssembler.java#L1272

The program can potentially fail to release a system resource.

[2021-07-28 14:36] haileypfox commented on #5683
@fpbarthel I did use 4.1.0.0 to test this as well as 4.0.9.0. I think that it must have been fixed, but I am glad that you were able to find a workaround. Let us know if this error occurs again though.

[2021-07-28 15:05] gbrandt6 commented on #6651
@daisyyr Thanks for posting your example here, this issue is still open so it has not been fixed yet.

[2021-07-28 18:03] gbrandt6 commented on #7356
Someone from my team is going to give this issue a try, we'll post any updates here.

[2021-07-28 20:41] bolton-lab commented on #7353
Just reiterate this line [here](https://github.com/broadinstitute/gatk/blob/master/scripts/funcotator_wdl/funcotator.wdl#L119) needs be to `Array[File]? transcript_selection_list` and not `File? transcript_selection_list` because up above in the [workflow inputs](https://github.com/broadinstitute/gatk/blob/master/scripts/funcotator_wdl/funcotator.wdl#L49) it is an array.

[2021-07-28 22:42] jjfarrell opened #7380 "VariantRecalibrator exception: Gaussian mean vector does not have the same size as the list of annotations"
## Bug Report

### Affected tool(s) or class(es)
VariantRecalibrator

### Affected version(s)
GATK 4.2.0.0

### Description

When running VariantRecalibrator on a joint-called gVCF with 2000 samples, the following  java.lang.IllegalStateException occurs: **Gaussian mean vector does not have the same size as the list of annotations**

[code]

#### Steps to reproduce
 gatk --java-options -Xms100g

[2021-07-29 03:37] bolton-lab commented on #7353
Same issue goes for mutect2.wdl

[2021-07-30 15:28] GATKSupportTeam opened #7383 "Request created from: No results of CollectvariantCallingMetrics"
This request was created from a contribution made by FranBC on July 23, 2021 18:59 UTC.
This user is receiveing a NullPointerException error when running CollectvariantCallingMetrics and has verified that the vcf headers match the reference. The user uploaded their file to the GATK FTP server as "CollectVariantCallingMetrics_dbsnp155_FranBC2.tar.gz"

Link: [https://gatk.broadinstitute.org/hc/en-us

[2021-07-30 20:35] #7182 closed

[2021-08-02 12:40] robby81 opened #7385 "IndexFeatureFile using GencodeGtfCodec fails for GENCODE v38"
As stated in the title. I tried the new gatk version 4.2.1.0 to update the GENCODE data for Funcotator.

Log:
/home/robby/Tools/NGS/gatk-4.2.1.0/gatk IndexFeatureFile -I /home/robby/Tools/NGS/gencode/hg19/gencode.v38lift37.annotation.REORDERED.gtf
Using GATK jar /home/robby/Tools/NGS/gatk-4.2.1.0/gatk-package-4.2.1.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.us

[2021-08-02 12:41] robby81 commented on #7385
I used
gatk-4.2.1.0-src/gatk-4.2.1.0/scripts/funcotator/data_sources/getGencode.sh
to get v38 data.

[2021-08-02 12:59] cmnbroad commented on #2199
@smeeta The command line syntax you're using is incorrect. Instead of this:

`-resource:mills,known=false,training=true,truth=true,prior=12:Mills_and_1000G_gold_standard.indels.hg38.vcf.gz`

use

`-resource:mills,known=false,training=true,truth=true,prior=12 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz`

Note that I changed the last ":" to a space, right before the file name.

This repo is for

[2021-08-02 18:08] droazen commented on #7385
@jonn-smith Could you comment on this one? The tool output clearly states that we don't support this version of Gencode, and that errors may occur:

[code]

Do we claim to support 38 anywhere? (eg., in documentation, etc.)

[2021-08-02 18:15] droazen commented on #7380
@ldgauthier Happen to recognize or have any insight into this error?

[2021-08-02 18:17] droazen commented on #7377
Reviewed this and confirmed it's not an issue -- closing.

[2021-08-02 18:17] #7377 closed

[2021-08-02 18:23] droazen commented on #7376
@jonn-smith When you get a chance, would you mind quickly reviewing this `LocatableXsvFuncotationFactory` class for thread safety? The issue identified above could be legit

[2021-08-02 18:29] droazen commented on #7362
We were unable to reproduce this issue after testing with the user-uploaded data. Closing for now.

[2021-08-02 18:29] #7362 closed

[2021-08-02 18:31] droazen commented on #7334
We believe that in GATK 4.2.1 we've fixed the underlying issue where HaplotypeCaller could in rare cases emit negative GQs. Recommend updating to that version and re-testing.

[2021-08-02 18:31] #7334 closed

[2021-08-02 18:34] jamesemery commented on #7367
Hello @MMengrui. I see that it appears the depth might not be reflective of the depth in the bam before running HaplotypeCaller (I can only assume based on the annotations that is the tool you ran). There are a lot of details that go into the AD annotation for depth that can change the annotation and lead to confusing results. Before computing the AD annotation for example we realign reads to thei

[2021-08-02 18:34] #7367 closed

[2021-08-03 13:45] jonn-smith commented on #7376
I don't think we've made any guarantees about the thread safety of Funcotator or the associated datasource classes.

Also, this account seems to be a bot and I can't access its listed home page…

I can audit the class at some point.

[2021-08-03 16:23] ldgauthier opened #7390 "Update allele subsetting to support genotype posteriors"
In AlleleSubsettingUtils there are some great convenience methods.  However, they almost all rely on PLs.  With the new DRAGEN-GATK genotyping models, we would love to take advantage of the posteriors.

The extra complication is that the definition of "GP" changed between VCF 4.2 and 4.3 -- GATK is on 4.2 and DRAGEN proper is on 4.3, so they have different ideas about whether the values are Phred-

[2021-08-03 16:41] jonn-smith commented on #7385
@robby81 - you did all the right things to create a new gencode datasource for Funcotator.  Though I should add that the script to download the latest gencode

However, currently we do not support Gencode v38.  This is a technical limitation that I would like to remove in the near future and is exemplified by the error you've encountered (Gencode having arbitrary fields in it - the parser needs to

[2021-08-03 17:58] GATKSupportTeam opened #7391 "Mutect2 genotype-germline-sites filtering discrepancy"
A user found an issue when running --genotype-germline-sites with Mutect2 and found that the clustered events and haplotype filters were causing false negative results.

This request was created from a contribution made by TA on July 26, 2021 18:24 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/4404184803227-Mutect2-genotype-germline-sites-filtering-discrepancy-](https://gat

[2021-08-03 20:58] samuelklee opened #7392 "Possible bug in ExcessHet p-value calculation?"
Waiting on @meganshand  to confirm, but I think the factor of 2 in the denominator of https://github.com/broadinstitute/gatk/blob/796af9fc584929956fda5016d5ab90afd672b822/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/ExcessHet.java#L196 should not be there.

I've tested a few cases from Table 1 in Wigginton et al. (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC1199378/, upon w

[2021-08-03 21:54] samuelklee commented on #7392
testing slack integration

[2021-08-04 01:31] samuelklee commented on #7392
OK, @meganshand pointed me to the original Wigginton R implementation at http://csg.sph.umich.edu/abecasis/Exact/snp_hwe.r and the Hail implementation at https://github.com/hail-is/hail/blob/main/hail/src/main/scala/is/hail/stats/LeveneHaldane.scala, further mentioning that the latter may have been used for checking test values.

Note that the documentation in ExcessHet indicates that a one-sided

[2021-08-04 10:58] asntech commented on #6857
Is this issue fixed yet? @TnakaNY I am using `GATK v4.1.7.0` and still getting the error `wrong number of fields in AS_FilterStatus?` while merging Mutect2 VCF files from multiple donors using the `bcftools merge`.

[2021-08-04 22:37] #5683 closed

[2021-08-06 18:11] samuelklee commented on #4371
Hi @cccnrc, glad you found this discussion interesting and apologies for the very late reply. Unfortunately, there hasn't been much movement on this front, as I think we decided that the current model sufficed.

I think we are moving in a direction so that we can obviate the need for a separate step to fit global (e.g., depth) and per-contig (e.g., contig ploidy) parameters for each sample. Recall

[2021-08-06 21:27] samuelklee commented on #5633
I’ve also revisited this work for MalariaGEN, additionally including further cleanup of the canonical part of the WDLs (mostly low hanging fruit like adding structs, which help a lot for cutting down parameter cruft on Terra).

For ease of iteration, this work broke things up into 3 pushes of a button: 1) data collection, 2) preclustering (done in a relatively modular way, so you can swap in whate

[2021-08-06 21:28] samuelklee commented on #4782
#6525 is still open and I don't know the plans for it.

[2021-08-08 04:22] ag2s20150909 commented on #7376
https://codesafe.qianxin.com/#/home

[2021-08-09 17:00] MDPostel commented on #6357
Hello -- has this issue been solved? I am getting the same error ("gatk java.lang.ArrayIndexOutOfBoundsException: Index 3 out of bounds for length 3"). Additionally, it looks like 0/0s in my g.VCFs are being converted to ./. for some reason. Not sure if this is related. Thanks in advance.

[2021-08-09 21:21] mdayii opened #7397 "ModuleNotFoundError: No module named 'gatktool'"
Dear all,

I installed the latest version of gatk as follows;

download the latest version of gatk (https://github.com/broadinstitute/gatk/releases)

followed this (https://gatk.broadinstitute.org/hc/en-us/articles/360035889851--How-to-Install-and-use-Conda-for-GATK4) (conda env create -n gatk4 -f gatkcondaenv.yml)

installation was completed as below;

Pip subprocess output:
Processing ./gatkPyth

[2021-08-09 21:57] freeseek opened #7398 "MergeBamAlignment needlessly requires input BAMs to be sorted by queryname"
Generate a toy fastq dataset:
[code]

Install bwa and GATK resources:
[code]

Run FastqToSam with the `-SORT_ORDER "unsorted"` option:
[code]
Notice the option `-SORT_ORDER "unsorted"` which prevents the tool from resorting the reads which can add both computational and storage requirements.

Aligned the data with bwa:
[code]

Merge unmapped and aligned BAMs:
[code]

This produces the error:
[code

[2021-08-09 22:38] cmnbroad commented on #7397
@mdayii The most likely reason for this is that you're not running gatk from within the shell that has the conda env activated. One test you might try is to start `python` from the same shell where you activated the conda env, and see if the command `import gatktool` succeeds.

[2021-08-09 23:04] gbrandt6 commented on #7383
I went through the bug report (CollectVariantCallingMetrics_dbsnp155_FranBC2.tar.gz) and found that there were some contigs in the dbsnp file that were not present in the hg38 reference dictionary. However, it was pretty tricky to problem solve without knowing which contig caused the issue. All I had to go off of was the progress meter with the last contig read. If there is a better error message

[2021-08-10 08:56] mdayii commented on #7397
Thank you for fast reply.

@python from the same shell where you activated the conda env, and see if the command import gatktool succeeds.

Yes, this works well.

but when I run the command below and submit the job to HPC ;

conda activate gatk4 ; gatk CNNScoreVariants -V 21002.HaplotypeCaller.output.g.vcf.gz  -R hg19.fa -O annotated.vcf

same error happened.

another point is that when I run the

[2021-08-10 12:54] cmnbroad commented on #7397
@mdayii I'd suggest that you search the gatk [forum](https://gatk.broadinstitute.org/hc/en-us/community/topics) for similar topics, or post this issue there, to see if anyone there can help with the config.

[2021-08-10 21:05] cmnbroad opened #7401 "Python Exceptions during async batch write are not propagated"
@kcibul reports that if the CNNScoreVariants python code throws an exception during async batch processing, the GATK tool hangs (specifically, it was happening when GATK was sending a . for a missing annotation, and the python code was trying to interpret that as a number and blowing up).

It looks like this happens because `StreamingPythonScriptExecutor::waitForPreviousBatchCompletion` waits for

[2021-08-10 21:09] droazen commented on #7401
@kcibul See the potential fix in the branches @cmnbroad linked to above -- it would help us to know whether they resolve your issue.

[2021-08-10 23:26] gbrandt6 commented on #7383
I deleted my previous comment because I did recreate their issue and I was not able to find a contig in the DBSNP VCF that was not present in the fasta sequence dictionary. Would you be able to add a better error message for this case @lbergelson so that we can troubleshoot and find the culprit?

[2021-08-11 16:49] samuelklee opened #7403 "intermittent ArrayIndexOutOfBoundsException in CalibrateDragstrModelIntegrationTest.testDragstrModelInferenceFailingOverToDefaults?"
Not sure what's going on here, but thought I'd document. See https://storage.googleapis.com/hellbender-test-logs/build_reports/master_35408.2/tests/test/classes/org.broadinstitute.hellbender.tools.dragstr.CalibrateDragstrModelIntegrationTest.html#testDragstrModelInferenceFailingOverToDefaults[0](1,%20false)

[2021-08-11 17:41] jamesemery commented on #7403
Oh boy this smacks of being a race condition. More interesting is the fact that its failing specifically when threads = 1 and cram is off? I'm not sure if its also failing elsewhere on other runs though. It looks like its failing when it tries to add a new                     `final ReadsPathDataSource result = new ReadsPathDataSource(readArguments.getReadPaths(), factory);` to the datasource pool

[2021-08-12 14:18] GATKSupportTeam opened #7406 "Request created from: MarkDuplicatesSpark consumes enormous amount of RAM"
This user is receiving a memory allocation error when running MarkDuplicatesSpark. The user has tried limiting the number of executors and raising and lowering the memory allocations but continues to get the same error.

This request was created from a contribution made by Udi L on August 04, 2021 07:27 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360058452072-MarkDuplicat