[2018-06-18 18:56] chandrans commented on #4487
@jamesemery Hey James. Is it possible to add an error message stating that the user need to set --TMP_DIR to a bigger disk? Another user posted  "It would be nice some warning about low disk space instead of crashing after running for so many hours."

[2018-06-18 20:33] jonn-smith opened #4906 "Funcotator should cache annotations for multi-allelic variants that are not allele-dependent"
For multi-allelic variants, funcotator should cache all the annotations that are not allele-dependent.  This will give a minor speed improvement because it will not have to mechanically create the new annotations from scratch for each allele.

[2018-06-18 20:35] jonn-smith opened #4907 "Funcotator should add an annotation for whether a given ref allele is different from the actual reference sequence."
Occasionally Funcotator detects that a given reference allele is different from the underlying reference genome.  In these cases a new funcotation should be added to the variant that details the nature of the difference between the given reference allele and the reference genome content.

[2018-06-19 15:06] lbergelson opened #4908 "add kohlk to the AUTHORS file"
@kohlk just had their first PR merged.  We should add them to the AUTHORS file.

Typically we list people as

[code]

@kohlk You don't have any contact information listed on your github, would you like to be added and if so how should list you?

[2018-06-19 15:57] kohlk commented on #4908
I would love to be added and intend on contributing however I can!

Kohl Kinning kohlkinning@gmail.com

[2018-06-19 16:00] kohlk commented on #4908
I am logged in to an old account, that's why I've got no info! I'll henceforth be contribution from @kohlkopf. The contact information is the same. I need to deactivate this ratty old account.

[2018-06-19 17:07] davidbenjamin commented on #4284
@mwalker174 I stumbled on this by accident.

[2018-06-19 17:13] davidbenjamin commented on #3426
@chandrans is correct.

[2018-06-19 17:13] #3426 closed

[2018-06-19 17:21] davidbenjamin commented on #641
@droazen Close this in light of #4166?

[2018-06-19 17:40] LeeTL1220 opened #4912 "Funcotator should be able to handle more than one pair in an input somatic VCF"
## Feature request

### Tool(s) or class(es) involved
Funcotator

### Description
Currently, if you attempt to specify more than one pair in an input VCF, there is no agreed protocol for such a thing.  As a result, if Funcotator ever determines that there is more than one pair in an input VCF, it will fail.  Please note that the current implementation is unlikely to find more than one pair in the

[2018-06-19 18:35] mwalker174 commented on #4284
Thank you @ThomasHickman and @davidbenjamin. Fixed via #4911

[2018-06-19 18:36] #4284 closed

[2018-06-19 18:51] mwalker174 commented on #4725
Hello @abdohlman, apologies for the late response.

A heartbeat timeout usually means one of the executors is crashing. If you are able to inspect the error logs from each worker node, you may find which one it was and why. It is likely that one or more are running out of memory.

[2018-06-19 18:55] jonn-smith opened #4913 "Funcotator's XsvTableFeature is removing extra columns when startcol = endcol"
When startcol=endcol in `LocatableXsv` data sources, the `XsvTableFeature` still removes the endcol, when it really should ignore it.

This can be solved by making the `locationColumnRemoveIndiciesInOrder` be unique.

[2018-06-19 18:57] jonn-smith commented on #4913
Actually a conditional build of the list, checking if start==end should be sufficient.

[2018-06-19 21:20] #4913 closed

[2018-06-19 21:35] #4039 closed

[2018-06-20 01:17] LeeTL1220 opened #4918 "Transcript list (userRequestedTranscripts) is acting as a filter, when it should be for prioritizing transcripts during selection."
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] Latest master branch as of [June 19, 2018]

#### Expected behavior
The transcript list should define transcript priority.  In other words, among transcripts that overlap a variant, any that appear on the transcript list should be given highest priority (above the EFFECT or CANONICAL selection)

#### Actual b

[2018-06-20 01:28] LeeTL1220 commented on #4918
And need to add tests?

[2018-06-20 14:14] #4866 closed

[2018-06-20 14:22] davidbenjamin opened #4919 "leftAlignIndel only works for reads with one indel"
`AlignmentUtils.leftAlignIndel` doesn't modify the CIGAR string if it contains more than one indel.

[2018-06-20 16:24] davidbenjamin opened #4920 "Unnecessary argument in ReadLikelihoods.normalizeLikelihoods"
`bestToZero` is always `false` except in unit tests.  Can we eliminate it and the code paths for when it is `true`?  @vruano can you think of a reason to keep this argument?

[2018-06-20 16:41] chandrans opened #4921 "java.lang.NumberFormatException when trying to perform VariantFiltration"
For some reason, this user is getting an error in 4.0.5.1 when this was supposed to have been fixed in GATK3.

----
User Report
----
I'm trying to get a set of robust variants to use to recalibrate quality scores. I called variants using gatk4, and then tried to perform VariantFiltration:

gatk-4.0.5.1/gatk VariantFiltration -R data/genome.fasta -V variants/6753_12-15-2015_first_pass_filtered.vcf

[2018-06-20 16:41] chandrans commented on #4921
Note, this was fixed in GATK here: https://github.com/broadinstitute/gsa-unstable/pull/1598

[2018-06-20 17:02] cmnbroad commented on #4921
@chandrans The GATK3 issue is closed, but it looks like the fix was abandoned before being merged. I haven;t tried this, but from the comments I would surmise that using floating point values in the JEXL expressions for annotations that are floats will would work around the issue.

[2018-06-20 18:00] ldgauthier commented on #4921
The user commented that adding ".0" for floats did work.  We already have this documented: https://software.broadinstitute.org/gatk/documentation/article.php?id=1255  I pointed the user to the documentation, but I'm leaning towards calling this a "won't fix".

[2018-06-20 18:02] jonn-smith commented on #4918
Yeah - I just looked.  You're correct.

[2018-06-20 18:52] TedBrookings opened #4922 "Create GATK tool to train classifier for filtering BreakpointEvidence"
## Feature request

### Tool(s) or class(es) involved
_FindBreakpointEvidenceSpark_, _StructuralVariationDiscoveryPipelineSpark_, when using _XGBoostEvidenceFilter.java_

### Description
The SV pipeline filters BreakpointEvidence based on BreakpointDensityFilter, or optionally XGBoostEvidenceFilter. The XGBoostEvidenceFilter uses a saved classifier model trained with Python code external to the GA

[2018-06-20 20:13] davidbenjamin opened #4923 "Mutect2 fails to filter when normal has lots of low-quality bases"
Sometimes the normal artifact likelihood is insufficient to filter when the normal has a large number of reads with low base quality supporting the variant.  We should implement a backup filter that catches this case.

[2018-06-20 20:16] davidbenjamin opened #4924 "Reduce false negatives from Mutect2 read position filter"
Two undesirable things it does:

* It measures distance from end of the trimmed-to-assembly-region read, not the original read
* It measures the minimum distance from both ends so, for example, a variant that occurs near the 3' end and near the 5' end is filtered.

[2018-06-20 20:23] davidbenjamin opened #4925 "Override Mutect2 artifact in normal filter if tumor AF is much greater than normal"
eg 30 alt reads in tumor, 1 alt read in normal should not be filtered.

[2018-06-20 20:47] ajshultz commented on #3269
Hello,
Any update to the timeline here? It looks like there is only some lasts tests to be run? I am eagerly awaiting multi-interval support for a project I am working on. Thank you for all of your hard work!

[2018-06-20 21:10] chandrans commented on #4921
Thanks Chris and Laura.

[2018-06-20 21:10] #4921 closed

[2018-06-20 21:17] droazen commented on #3269
Should not be much longer @ajshultz -- https://github.com/broadinstitute/gatk/pull/4645 just needs a final review pass, so it's likely to make the next GATK release.

[2018-06-20 21:34] droazen commented on #641
@davidbenjamin Yes, this one can be closed

[2018-06-20 21:34] #641 closed

[2018-06-21 15:59] cmnbroad opened #4928 "Consider changing FilterVariantTranches to remove previous filters for the current key"
We should consider changing FilterVariantTranches to remove the header lines and filter strings for the given key, if they already exist. Otherwise, a second run with the same key but different tranches would leave overlapping tranche strings.

[2018-06-21 18:55] jonn-smith opened #4929 "Funcotator's LocatableXsv datasources contain multiple hits for the same location"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_ _LocatableXsvFuncotationFactory_

### Affected version(s)
- [x] Latest master branch as of [date of test?]

### Description
The datasources (clinvar_hgmd in particular) contain multiple/overlapping entries for the same location.  This causes too many funcotations to be added to a single variant for a single LocatableXsv data source.

##

[2018-06-21 19:04] jonn-smith opened #4930 "Funcotator's LocatableXsv datasources only annotate the first hit in their data"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_
_LocatableXsvFuncotationFactory_

### Description
When multiple entries overlap in LocatableXsv datasources, only the first is added to the output as annotations.

All hits should be added as annotations.

Must determine how to put them into fields so that they are parseable.

[2018-06-21 19:27] davidbenjamin opened #4932 "Inaccurate javadoc in FragmentUtils method"
The javadoc above `FragmentUtils.adjustQualsOfOverlappingPairedFragments` says that it may return a merged strandless read.  This is false -- in fact it is a `void` method that modifies the paired reads in-place.

[2018-06-21 19:28] davidbenjamin opened #4933 "Mutect deals with overlapping pairs twice"
`SomaticGenotypingEngine` and `FragmentUtils.adjustQualsOfOverlappingPairedFragments` both do stuff, unaware of each other.

[2018-06-21 19:40] LeeTL1220 opened #4935 "When Funcotator is run in the mutect2.wdl, it should output MAF, not VCF (by default)"
## Feature request

### Tool(s) or class(es) involved
Funcotator (and M2)

### Description
The mutect2 WDL files run Funcotator with MAF output.  This happens when Funcotator is turned on.

[2018-06-21 19:41] LeeTL1220 commented on #4935
Do some testing on complete M2 runs.

[2018-06-21 20:51] #4929 closed

[2018-06-21 20:52] jonn-smith commented on #4930
@LeeTL1220 I don't think this needs to be a beta blocker - the vast majority of the time this will not happen anyway.

When it does occur, from what I've seen a lot of the data are the same (as in the case of `clinvar_hgmd` - the HGMD IDs are different but the other fields are identical).

[2018-06-21 21:10] LeeTL1220 commented on #4930
Feel free to remove label then.

On Thu, Jun 21, 2018, 16:52 Jonn Smith <notifications@github.com> wrote:

[2018-06-22 13:14] LeeTL1220 opened #4937 "MAFOutputRenderer produces an empty file when the input VCF has no variants to render."
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] Latest master branch as of [June 22, 2018]

### Description
If there are no variants in the input VCF that are rendered in the MAF, the MAF file is blank.  It should contain a header.  This will cause problems in downstream tools expecting a valid MAF.

#### Expected behavior
A MAF that is empty except for a

[2018-06-22 16:42] droazen opened #4938 "Evaluate py4j"
Hail apparently uses https://www.py4j.org/ cross the Python/Java boundary in their codebase. We should have a look at it and see whether it could help GATK use cases in any way.

[2018-06-22 18:17] evcon131 opened #4939 "Mutect2 and haplotypecaller require UCSC chromosome names"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller Mutect2

### Affected version(s)
GATK 4.0.4.0
6/20/18
### Description
When running either mutect2 or haplotypecaller on a custom genome, the returned VCFs will be empty if the chromosome names are in the ensembl format.
#### Steps to reproduce
 For example if the reference fasta looks like this
[code]
and the mutect2 call looks like

[2018-06-22 19:44] munrosa commented on #3697
Has there been any progress on this bug? I have a similar issue that is not identical, but may be related. I'm running two different tissue samples from the same individual and a snp is missed in one, but found in the other. This screen grab shows the original bams that went into HaplotypeCaller and the bamout results for each sample from HaplotypeCaller. I tried dropping the -L from my call and t

[2018-06-22 19:48] droazen commented on #3697
@ldgauthier/@davidbenjamin Would either of you like to comment on this one? This is a long-standing issue with our assembly-based callers, and it's not clear to me that there's an obvious solution.

[2018-06-22 21:02] #4918 closed

[2018-06-24 03:40] davidbenjamin commented on #3697
In @meganshand's work on mitochondria we found that adjusting `-min-pruning` to be commensurate with the expected error rate per locus (eg minPruning = depth / 500 or something like that) rescued some false negatives and fixed the issue of interval- and padding-dependent calls.  In her case, the sheer complexity of the assembly graph caused two undesirable things: 1) the true variant was missing f

[2018-06-24 13:13] Genetics2-tokyo commented on #4891
Hi
Where is the fastaalternatereferencemaker in GATK4.0?

[2018-06-25 00:46] davidbenjamin opened #4942 "Consider threading before first unique kmer"
Just splitting off a chunk of @vruano's ideas in #264 here:

We start threading at the first unique kmer of each read (sequence). There are at least two problems with this.  First, since we track unique kmers as we go the resulting graph may depend on the order in which reads were threaded.  Second, we are throwing away information at the beginning of the read before the first unique (and existing

[2018-06-25 17:03] munrosa commented on #3697
I tried several things, the only thing that has made the call was -forceActive.
For -minPruning HaplotypeCaller would only accept integer values, I tested 0,1,2,3, and none of these worked.
I also tried setting -dontTrimActiveRegions  and --allowNonUniqueKmersInRef (separately, not simultaneously) neither helped with grabbing the het call.

Based on the fact that forceActive allows the call to be

[2018-06-25 18:36] ldgauthier opened #4943 "Debug state is not properly passed to the EventMap in HaplotypeCaller"
~The AssemblyResultSet in AssemblyBasedCallerUtils.assembleReads is sup posed to output some stats about the active region (debugDump), but it never appears in the log.~

Also debug state is not properly passed to the EventMap.

[2018-06-25 19:21] ldgauthier commented on #4943
Ohhh, I need to lower the logger output level from the command line.  I thought I remembered that there were two args for effective HC debugging and that's the second one.

But the EventMap thing is still true.

[2018-06-26 14:56] davidbenjamin opened #4946 "ClippingOp methods need to be camel-cased"
Some methods in `ClippingOp` are named:  `applyWRITE_NS`, `applyWRITE_Q0S`, `applyHARDCLIP_BASES`, `applyREVERT_SOFTCLIPPED_BASES`, and `applySOFTCLIP_BASES`.

[2018-06-26 16:57] LeeTL1220 opened #4948 "Cromwell v33 released. Supports intelligent file localization, so we should merge forked WDLs"
## Feature request

### Tool(s) or class(es) involved
M2, at least

### Description
With Cromwell v33, we should be able to merge the mutect2.wdl and mutect_nio.wdl into one WDL.  There will need to be WDL modifications, for sure.

https://github.com/broadinstitute/cromwell/releases

[2018-06-26 17:18] LeeTL1220 commented on #4359
Make sure that this is supported in #4581

- Add a CLI flag `--exclude-field-name` which can be specified multiple times.
For example `... --exclude-field-name Clinvar_bar --exclude-field-name Clinvar_foo ...`

We will specify the column names with the full field name:  `<datasourcename>_<fieldname>`

For now, we specify via an `exclude`.  If nothing is specified, then show everything.

- Make sur

[2018-06-26 18:22] LeeTL1220 commented on #4413
Tried w/ 11 simultaneous funcotator runs all exactly the same except for output file name and had no issue.

[2018-06-26 18:32] davidbenjamin commented on #4948
@LeeTL1220 When will Firecloud support Cromwell v33?  We can't release an unforked M2 WDL until then.

[2018-06-26 19:15] LeeTL1220 commented on #4413
Local Broad internal NFS

[2018-06-26 19:15] LeeTL1220 commented on #4413
If I get a chance I will up it to 50 or so

[2018-06-26 21:15] SHuang-Broad opened #4951 "Funny (but possible) alignments may fool SV type inference code"
## Bug Report

### Affected tool(s) or class(es)
SV type inference pipeline

### Affected version(s)
- [x] Latest public release version
- [x] Latest master branch as of 2018-06-26

### Description
Though we've never seen this case with `bwa mem`, it is theoretically possible&mdash;and happened in an experimental (mis-) run of another aligner&mdash; that a query sequence generates two alignment re

[2018-06-26 21:29] LeeTL1220 opened #4952 "Funcotator can select more than one transcript, even when CANONICAL or BEST_EFFECT is chosen."
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] Latest master branch as of [June 26, 2018]

### Description
This happens when there are transcripts with different gene names that overlap a variant.  Error is in `createFuncotationsOnVariant` ...

#### Expected behavior
One transcript is selected.

#### Actual behavior
One transcript per overlapping gene na

[2018-06-27 15:03] LeeTL1220 commented on #4413
I am having trouble getting compute for more than 15 simultaneous runs, but 15 seems to work fine on NFS.

[2018-06-27 17:02] LeeTL1220 commented on #4792
This is causing an issue in our project with green team, due to ExAC.  I will design a fix.  @jonn-smith

[2018-06-27 17:03] davidbenjamin commented on #4919
Note: this has the "learn GATK" label because it is self-contained, but it is not easy.

[2018-06-27 17:05] LeeTL1220 opened #4957 "Funcotator querying multiallelic in a datasource will cause entire multiallelic string to be returned, but not easy to match which allele was queried."
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] Latest master branch as of [June 27, 2018]

### Description
If you query a variant that has a multialllic in a VCF Funcotation Factory, you cannot be sure (in the case of fields with Type of A or R) which value matches the queried allele.

#### Expected behavior
The returned Funcotation would only match the

[2018-06-27 17:14] davidbenjamin commented on #4614
@ldgauthier Actually, I'm confused about this epsilon.  It seems like `AFCalculationResults::isPolymorphic()` gets called with `STANDARD_CONFIDENCE_FOR_CALLING` as the threshold.  @skwalker do you have an example of where this occurs that I could debug?

[2018-06-27 17:20] jonn-smith commented on #4792
@LeeTL1220 sounds good.  Your ideal output format seems like what we should be doing.

To be clear, though, `ANNOTATION1=4;ANNOTATION2=Foo;ANNOTATION3=Car` would be funcotations in the Funcotation field?

[2018-06-27 17:29] LeeTL1220 commented on #4792
@jonn-smith Yes

[2018-06-27 17:30] LeeTL1220 commented on #4957
See #4792 also

[2018-06-27 18:06] davidbenjamin opened #4958 "Obsolete hard-coded default base quals for overlapping mates"
Every overlapping read pair in HaplotypeCaller and Mutect2
 goes through `FragmentUtils.adjustQualsOfOverlappingPairedFragments`, which has the following *hard-coded* logic:

[code]

This makes sense -- we modify the quals to reflect that sequencing errors are independent but PCR errors are not.  However, `HALF_OF_DEFAULT_PCR_ERROR_QUAL` is 20, so if we start out with high-quality UMI reads we bas

[2018-06-27 18:55] yfarjoun commented on #4958
first of all, this looks like a nice easter-egg to find! congrats!

I agree with you that this is a real problem. I don't understand the logic, why **HALF**  of PCR_ERROR_QUAL? if that's really 20, then it's way too low!!

I also object to the second part (when the bases disagree.) imagine that one base is A@Q2 and the other is T@Q60...why would you put both bases to Q0 in that case?

I think that

[2018-06-27 19:00] takutosato opened #4959 "Annotate strand artifact before throwing out overlapping reads"
Mutect throws away one read in an overlapping read pair before annotating variants. As @madduran found out, when we have only a few alt reads the strand counts may appear more biased than it really is. In other words strand-related annotations (StrandBySample and StrandArtifact) should be read-based, not fragment-based.

The solution is to annotate these two annotations before Mutect throws away o

[2018-06-27 19:20] davidbenjamin commented on #4958
The intent of this code is that downstream code will not do anything special to avoid over-counting
 overlapping mates, so that assigning half of the PCR qual effectively gives the full PCR qual for the fragment.  Of course, this assumption is wrong in the case of M2.

Good point.

Are you suggesting something like there are binary indicators for PCR error, read 1 sequencing error, read 2 sequenci

[2018-06-27 20:19] yfarjoun commented on #4958
Yes. We should expect that PCR error shouldn't affect the base-quality, so two high quality, disagreeing bases are an indication of a PCR error, while one low-quality base, and one high quality base that have differing qualities looks more like a sequencing error. We might be able to obtain a data-driven model for that using the overlapping bases themselves (over monomorphic sites).

The only prob

[2018-06-28 09:01] magicDGS commented on #4958
Time ago, I added a method to fix the qualities of overlapping mates in the same way as `samtools` because I needed it for other reasons:

https://github.com/broadinstitute/gatk/blob/8d929ed89984137fc00009b322074f7a0908d2a5/src/main/java/org/broadinstitute/hellbender/utils/pileup/ReadPileup.java#L310-L349

Maybe you can have a look to it as a starting point. Although I am not sure about which one

[2018-06-28 16:30] ldgauthier commented on #4614
Since we're comparing the GVCF mode results, `STANDARD_CONFIDENCE_FOR_CALLING` is set to zero.

I was debugging with `java -jar $GATKjar HaplotypeCaller -ERC GVCF -I /seq/picard_aggregation/C1710/G01-GEA-96-HI/v1/G01-GEA-96-HI.bam -R $b37 -O homRefDiff.vcf -L 17:79612606 -new-qual -ip 300`

[2018-06-28 20:05] jamesemery opened #4965 "Fix failing gatk-nightly builds"
Apparently there have been some issues lately with the gatk-nighly builds failing to upload. This appears to have been the case for the past month as the dockerhub repo doesn't show any images newer than 3 months ago.

[2018-06-29 16:23] davidbenjamin commented on #4614
I'm about to give you a PR for this.  It cleaned up the output for that bam as expected.

[2018-06-29 18:49] dustnnbones opened #4968 "spark job failing under a cluster-yarn mode"
dqdw

[2018-06-29 18:52] #4968 closed

[2018-06-29 19:07] ldgauthier commented on #4614
One last thing I wanted to do was to compare the allele-specific QUAL values between the old model and the new.  Not that we have any hard filters for AS_QD, but I want to know how it changes.  Maybe @skwalker can take a look based on the data we already have?

[2018-06-29 19:36] munrosa commented on #3697
I'm going to add to my previous comment, when I used -forceActive alone I picked up that het call I was missing BUT I lost another obvious het call that was getting called when I wasn't using -forceActive. If I use -forceActive and -dontTrimActiveRegions I can pick up both calls. It's still very troubling that these obvious calls are getting missed or not depending on these options...

[2018-06-29 20:19] #4586 closed

[2018-06-29 23:14] SHuang-Broad commented on #2702
closing because we'll tackle filtering problem later

[2018-06-29 23:14] #2702 closed

[2018-06-30 01:27] LeeTL1220 opened #4972 "VcfFuncotationFactory may return erroneous funcotations in the case where the backing data contains duplicate (or equivalent) alleles on multiple lines"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] Latest master branch as of [June 29, 2018]

### Description
This is an edge case.  And probably extremely rare.

#### Steps to reproduce
Have a VCF datasource with two lines that are identical position, ref, and alt, but different INFO field data.

#### Expected behavior
Need to make a decision:
- Merge the

[2018-06-30 01:28] LeeTL1220 commented on #4972
Roughly Line 208 in VcfFuncotationFactory...

[2018-07-01 01:50] davidbenjamin commented on #3697
@munrosa I wouldn't mind taking a look.  Could you provide your bam restricted to 1000 bases on each side of the variant?

[2018-07-01 23:59] chandrans opened #4973 "GenotypeGVCFs hangs in 4.0.5.1"
----
User Report
----

We are also experiencing a problem wherein GATK 4.0.5.1 GenotypeGVCFs processes hang for many hours.

The last thing our processes logged was the same as reported here:
[code]

This particular job ran for about 3m before outputting this line, then stayed running (but apparently doing nothing) for 8 hours before we killed it.

It is one of 1996 jobs that all did pretty much e

[2018-07-02 00:00] chandrans commented on #4973
@droazen @lbergelson A user has posted some more findings about this issue in the following posts after this first one.

[2018-07-02 12:30] cmnbroad commented on #4387
We should fix this - the current behavior is misleading and causing (understandable) confusion https://gatkforums.broadinstitute.org/gatk/discussion/12285/about-read-filters.

[2018-07-02 14:10] LeeTL1220 opened #4974 "Refactor VcfFuncotationFactoryCache to go into any funcotation factory that does not need Gencode/Transcript Funcotations"
## Feature request

### Tool(s) or class(es) involved
Funcotator

### Description

Currently, there is a Caching mechanism in VcfFuncotationFactory.  This could be refactored into a separate component and shared with other funcotation factories.  Not all funcotation factories would benefit from this cache, but certainly LocatableXsvFuncotationFactory would.  If the refactoring is to put the cache

[2018-07-02 14:42] sooheelee opened #4975 "New qual parameter errors GenotypeGVCFs in v4.0.5.0."
Researcher reports error in GenotypeGVCFs that uses a GenomicsDB database using v4.0.5.0. Removing `new qual` param OR using v4.0.4.0 allows the command to run without error.

I saw a similar error with v4.0.5.1 when I tried to add `new qual` to a workshop hands-on tutorial GenotypeGVCFs step using a GenomicsDB database.

---
Hi,

I am trying to process locally 260 WES gvcf through joint discovery

[2018-07-02 14:43] sooheelee commented on #4975
Assigning to @droazen to delegate.

[2018-07-02 14:44] sooheelee commented on #4975
Tagging @davidbenjamin, because I think he will be interested.

[2018-07-02 14:53] LeeTL1220 opened #4976 "GATK should have a tool (and backing method) that correctly splits multiallelic VariantContexts"
## Feature request

### Tool(s) or class(es) involved
Many....

### Description
Currently, it is very difficult to split a multiallelic VariantContexts.  There are components in GATK that do pieces of this operation, but no unified method and tool.

This issue is to create a method (for calling from any GATK tool) that will split the VariantContexts.  As well as an example tool that we can use to

[2018-07-02 15:38] V-Z commented on #4544
I can confirm this issue (4.0.5.2). With 16 tetraploid samples (CombineGVCFs outputs 420 MB file) GenotypeGVCFs stucks on the beginning and later crashes (32 GB RAM is not enough).

[2018-07-02 15:53] LukeGoodsell commented on #3104
Hi @magicDGS, thanks for tackling this. I would also like to be able to use IndelRealigner with GATK4. Where are you at with the porting so far? The last update to the PR is sooheelee providing you with some test data in March.

[2018-07-02 16:17] magicDGS commented on #3104
Sorry for all the interested people, but I had lately some deadlines unrelated with software development that took most of my time. Now I will have time to come back to other projects, and I would implement the port and tests with @sooheelee data this/next week. I hope that it works for you.

[2018-07-02 17:12] droazen commented on #4975
@davidbenjamin Can you think of any changes that went in between `4.0.4.0` and `4.0.5.0` that could have caused this? The major changes to newQual between those two releases were in https://github.com/broadinstitute/gatk/pull/4801, I believe.

[2018-07-02 17:29] jonn-smith opened #4978 "Funcotator should warn users about non-compliant data sources"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description

If a user creates a data source for the `hg19` reference and erroneously uses `b37` contig names, Funcotator will not produce annotations.  This is correct behavior.

In this case, Funcotator should detect that the data source is not `hg19-compliant` and issue a warning to the user.  This can be done by checking t

[2018-07-02 18:06] serge2016 commented on #3104
@magicDGS, thanks! We'll be waiting!

[2018-07-02 18:18] Neato-Nick commented on #4544
@V-Z did enabling the `new-qual` option resolve your issue?

[2018-07-02 19:10] V-Z commented on #4544
@Neato-Nick No, it's very same.

[2018-07-02 20:14] ldgauthier commented on #4976
This would go a lot of the way towards solving #4795

[2018-07-02 20:32] lbergelson commented on #4544
@V-Z Huh, that might be a different issue then.  @davidbenjamin Any thoughts?

[2018-07-02 20:37] V-Z commented on #4544
@lbergelson  Might be, but otherwise the description in the original post fits well to my problem.

[2018-07-02 20:41] lbergelson commented on #4544
@V-Z The massive memory use without `--new-qual` is almost certainly the same problem.  The solution should be to use  --new-qual`. The `IllegalArgumentException` I haven't seen before though.  I suspect it's a different bug, or there's something weird about your input data that violates some assumption we make.

[2018-07-02 20:51] V-Z commented on #4544
Weird. I don't aim to hijack the issue, but how to verify such possibility? I have been using GATK 3.8 and I can process my data there...

[2018-07-02 20:53] droazen commented on #4544
@V-Z The error you encountered is a regression in `new-qual` that was introduced in `4.0.5.0`. You can track this issue here: https://github.com/broadinstitute/gatk/issues/4975

For the purposes of this ticket, you might want to do a test with GATK 4.0.4.0 and `new-qual`, and see if that works.

[2018-07-02 20:57] V-Z commented on #4975
I see same problem in `4.0.5.2`:

    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /home/vojta/bin/gatk/gatk-package-4.0.5.2-local.jar GenotypeGVCFs -O rad34test.comb2.raw.g.vcf.gz -R ../../../jic_reference/alygenomes.fasta -V rad34test.comb2.raw.vcf.gz --new-qual
    22:45:47.05

[2018-07-02 21:19] V-Z commented on #4544
@droazen `4.0.4.0` with `new-equal` works as expected, `4.0.5+` doesn't.

[2018-07-03 14:25] davidbenjamin commented on #4975
@droazen I think I see how #4801 could introduce a rounding error that creates an extremely small positive log10 probability, which triggers the error.  The old code was
[code]

and the new code to handle spanning deletion is
[code]
where `nonVariantLog10Posteriors` includes but the hom ref posterior *and* the posteriors of ref / span del het genotypes.  So instead of A, where A is the log 10 hom

[2018-07-03 14:47] davidbenjamin commented on #4925
Closed by #4966.

[2018-07-03 14:47] #4925 closed

[2018-07-03 14:47] davidbenjamin commented on #4923
Closed by #4966.

[2018-07-03 14:47] #4923 closed

[2018-07-03 14:50] droazen commented on #4975
@davidbenjamin The error is not specific to GenomicsDB. @V-Z got the same error with a VCF as input (see https://github.com/broadinstitute/gatk/issues/4544#issuecomment-401904928), so that should make it slightly easier to replicate.

[2018-07-03 15:30] davidbenjamin opened #4979 "BaseQualityRankSumTest for indels not documented"
`BaseQualityRankSumTest` gets the base qualities of read at the variant position and perform a rank sum test.  Reads that are uninformative are skipped.  For SNPs, this means that the annotation uses the base quality at the SNP position.  So far, so good.

Indels are surprising.  Lets say we have a deletion ATTTCCCGGG -> A, where the position of A is 10.  If we have a read that starts with ATTTCCC

[2018-07-03 15:35] davidbenjamin commented on #4544
@V-Z Would you mind sharing your GVCF, or just the offending chunk, with me so I can debug?  I'm pretty sure it's a finite precision error and have a simple fix in mind but I would like to confirm on real data.

[2018-07-03 16:40] V-Z commented on #4544
@davidbenjamin Sure, I'm sending it.

[2018-07-03 18:22] davidbenjamin commented on #4544
Thanks @V-Z.  I also just noticed that it's not a reference that I'm familiar with (I work on human cancer; Arabidopsis doesn't come up all that often).  Could you send me the reference fasta or tell me where to download it?

[2018-07-03 18:24] davidbenjamin commented on #4544
By the way, @V-Z I see something called Arabidopsis_thaliana_TAIR10.fasta on the Broad server, but I have no idea if that's the same as yours.

[2018-07-03 18:48] munrosa commented on #3697
@davidbenjamin I've got a munrosa_bams_bugreport.tar.gz (2.1 MB) ready for you -- I'm trying to upload to the ftp side via the instructions [here](https://gatkforums.broadinstitute.org/gatk/discussion/1894/how-do-i-submit-a-detailed-bug-report), but I haven't been able to get access this morning due to the 20 user limit. Is there any other way I can send it over to you? I'd prefer not to post here

[2018-07-03 18:55] davidbenjamin commented on #4544
@V-Z Thanks very much for your help!  The change I had in mind fixes the issue.  @droazen I will submit the PR now.

[2018-07-03 19:23] munrosa commented on #3697
Nevermind, I was just able to get through and upload the tar.gz.

[2018-07-03 19:38] davidbenjamin commented on #3697
@munrosa I logged into that ftp server and couldn't see anything.  Those instructions are really old and who knows if they still work.  It's only 2 MB, so could you just email to davidben@broadinstitute.org?

[2018-07-03 20:04] ldgauthier commented on #4976
I just stumbled across a het-non-ref (e.g. `1/2`) splitting approach.  There's a caller that represents overlapping ALT alleles with two sites, one with `1|.` and the other `.|1`.  I don't love this, but there's not going to be an elegant solution.  I also have no idea what to do with the PLs in that scenario.

[2018-07-03 20:20] davidbenjamin commented on #3697
Thanks for the data @munrosa!  The first thing that jumps out is the enormous amount of soft clipping in all of your bams.   Do you have any idea what it's from?  By default, HaplotypeCaller keeps soft-clipped bases because they could be evidence for large indels, but here it seems they are just noise.  You could try the `--dont-use-soft-clipped-bases` argument, which excludes soft clips from asse

[2018-07-03 22:38] AidanQuinn commented on #4891
It's a very useful tool, would be great to have included in GATK4!

[2018-07-05 11:20] munrosa commented on #3697
Thanks for looking into this @davidbenjamin. I followed the best practices using bwa mem, mark duplicates etc., to create these input bams for HaplotypeCaller. This is Novaseq 2 x 150 data, I ran Fastqc on the reads and everything looks really good, the only thing I can find that might explain the soft-clipping is that there's some Nextera adapter read through on a small percentage of the reads. I

[2018-07-05 16:33] jamesemery opened #4983 "Split travis integration tests into two jobs to reduce test runtime"
Currently the travis CI integration test task is the longest running task, which currently clocks in uncomfortably close to 70 minute hard limit on task runtime. One solution to this would be to split off a second job encompassing some of the longest running integration tests, namely a `VariantCallingIntegrationTests` tag. If we wanted to split the integration tests further then we could also cons

[2018-07-05 18:48] LeeTL1220 opened #4985 "`dbSNP_Val_Status` is incorrect when rendering MAF files."
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] Latest master branch as of [July 5, 2018]

### Description
`dbSNP_Val_Status` is incorrect when rendering MAF files.  Perhaps an aliasing step is necessary?  Or misconfigured?

#### Steps to reproduce
Take any M2 VCF and funcotate with the default datasources.

#### Expected behavior
`dbSNP_Val_Status` shoul

[2018-07-05 19:15] yfarjoun opened #4986 "Please upgrade NIO to a version that has prefetching baked-in."
This will enable other project (read: picard) to also have prefetching, which will unblock https://github.com/broadinstitute/picard/issues/1175.

[2018-07-06 07:55] jiyongkun commented on #2865
I need this option as well!

[2018-07-06 14:09] sooheelee opened #4987 "GATK4 VariantAnnotator does not handle PED file that GATK3 can"
Researcher reports that GATK4 VariantAnnotator errors with a PED file that works fine with CalculateGenotypePosteriors. The same VariantAnnotator command and PED file work fine in GATK3.

---
Hi @shlee ,

We have ped files. And it worked fine for CalculateGenotypePosteriors too. But not with VariantAnnotator.

So we downraded to GATK3 with same files on same parameters in order to finish that part

[2018-07-06 14:11] sooheelee commented on #4987
I see that this tool is actively being ported. Assigning @droazen. On a side note, VariantAnnotator does not show up in the forum tool docs but lists fine with `gatk X --help`. Let me know if this latter is something I can fix.

[2018-07-06 15:12] #4983 closed

[2018-07-06 17:35] droazen commented on #4716
Fixed in https://github.com/broadinstitute/gatk/pull/4645

[2018-07-06 17:35] #4716 closed

[2018-07-06 17:36] droazen commented on #3688
Implemented in https://github.com/broadinstitute/gatk/pull/4645

[2018-07-06 17:36] #3688 closed

[2018-07-06 17:36] droazen commented on #2687
Implemented in https://github.com/broadinstitute/gatk/pull/4645

[2018-07-06 17:36] #2687 closed

[2018-07-06 17:38] droazen commented on #3269
Implemented in https://github.com/broadinstitute/gatk/pull/4645

[2018-07-06 17:38] #3269 closed

[2018-07-06 17:40] droazen commented on #3689
This is a dupe of https://github.com/broadinstitute/gatk/issues/4541, I believe -- closing.

[2018-07-06 17:40] #3689 closed

[2018-07-06 17:43] vdauwera commented on #4632
Hi @Yyx2626, I'm Geraldine, you may remember me from the Beijing training. It was great visiting your team! I'm sorry it took me so long to follow up on this discussion, and I want to thank you again for reaching out to us about integrating the tool that you developed into GATK. We are certainly very interested in providing this enhancement to the research community, and we are now ready to talk a

[2018-07-06 18:12] ldgauthier commented on #3689
Agreed.  #4541 is a better description of the desired behavior.

[2018-07-06 18:30] droazen commented on #4975
Fixed in https://github.com/broadinstitute/gatk/pull/4980

[2018-07-06 18:30] #4975 closed

[2018-07-06 18:45] droazen commented on #617
Closing in favor of https://github.com/broadinstitute/gatk/issues/19

[2018-07-06 18:45] #617 closed

[2018-07-06 20:58] droazen commented on #4976
Assigning to @jamesemery to implement. This tool should be a `VariantWalker`

[2018-07-06 21:38] jamesemery opened #4989 "Figure out why the travis tests are running slower in the new configuration"
When we refactored the docker image to no longer contain the source directory we found that the changes had the side effect of causing the tests inside of the docker image to execute more slowly (~10 minutes per docker test). We solved this problem by further splitting the tests up but this is only a temporary solution. It is worth figuring out what about this gradle configuration is slow to save

[2018-07-06 21:40] #3930 closed

[2018-07-06 21:43] jamesemery opened #4990 "Split more travis integration tests into the "variant calling" job"
We recently created the "variantcalling" task in the travis CI test suite to reduce the runtime of our integration tests. Once we refactored the docker image we found that the the integration tests are still taking an uncomfortable amount of time to run (upwards of 57 minutes). Short of resolving the issue more permanently (#4989) we can temporarily fix the solution by just splitting off more of t

[2018-07-09 12:52] cmnbroad commented on #4794
Closing via https://github.com/broadinstitute/gatk/pull/4800.

[2018-07-09 12:52] #4794 closed

[2018-07-09 13:56] cmnbroad commented on #4987
It looks like this is happening because the `GATKAnnotationPluginDescriptor` only propagates pedigree arguments to annotations that derive from the `PedigreeAnnotation` class. In the forum post comments, the one report that includes an input command line specifies the `PossibleDeNovo` annotation, which isn't part of the`PedigreeAnnotation` hierarchy.  So it doesn't get properly populated. I assume

[2018-07-09 15:58] lbergelson commented on #4908
This was closed by https://github.com/broadinstitute/gatk/pull/4910

[2018-07-09 15:58] #4908 closed

[2018-07-09 16:40] droazen commented on #4986
Upgrading directly to the latest `google-cloud-java` is blocked by https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453, but we could update our fork to include the built-in prefetching.

[2018-07-09 17:14] jamesemery commented on #4987
Furthermore, upon looking it appears that PossibleDeNovo isn't actually currently being used anywhere, not even in `CalculateGenotypePosteriors` so perhaps we should remove the class instead, or mark it as deprecated?

[2018-07-09 17:46] ldgauthier commented on #4987
In the (proposed) pipeline it was run separately with VariantAnnotator.  It could probably be rolled into CalculateGenotypePosteriors. Admittedly even four years later we still don't use it in production.

[2018-07-09 18:59] ryfa5051 commented on #4891
Would love to have this in GATK4, hopefully with an option for keeping the fasta headers to the name after the whitespace and not the default 1, 2, 3, etc. This would make it ideal for moving that data to Sequencher or any other assembly by name program.

[2018-07-10 17:21] #4990 closed

[2018-07-10 20:01] vdauwera opened #4994 "User gets StackOverflowError when using Multi-interval in GenomicsDBImport with GATK 4.0.6.0"
@kgururaj We got this issue report in the forum, could you please look into it? Thanks!

https://gatkforums.broadinstitute.org/gatk/discussion/12388/how-to-use-multi-interval-in-genomicsdbimport-with-gatk-4-0-6-0

----

I used the GenomicsDBImport with a interval list file and got a error like below.
So what is the correct way to use Multi-interval in GenomicsDBImport?

gatk version: 4.0.6.0

Runn

[2018-07-10 20:12] droazen commented on #4994
It looks like there's a method in GenomicsDB (`ImportConfig.isThereChromosomeIntervalIntersection()`) that uses recursion unnecessarily. With a large enough interval list Java could run out of stack trace, since it makes one recursive call per interval. I'd suggest converting the method to use iteration as a quick fix. @kgururaj can you comment?

We should find out how many intervals are in the us

[2018-07-10 20:14] droazen commented on #4994
It also looks like the method in question is O(n^2) when it could be O(n log n) if it sorted the interval list first...

[2018-07-10 21:47] cmnbroad opened #4995 "Add a Python package version runtime check"
We should add a runtime check, probably at the ScriptExecutor level, to verify that the version of the python package we're running matches the version of GATK. Otherwise subtle failure modes could ensue when a user upgrades GATK but does not re-establish the conda env.

[2018-07-10 22:30] lucidtronix commented on #4995
Definitely! This has caught me a couple times already.

[2018-07-11 09:24] Yyx2626 commented on #4632
Dear Geraldine and David,

Sorry for my delayed reply. I am busy with graduation in recent days, and will work on visa application for the further postdoc position at Harvard Medical School.

Thank you for the interests in our tool, MosaicHunter. The option you suggest looks great. Do you mean that I should establish the GATK 4 developing environment and develop the MosaicHunterFilter tool? I may

[2018-07-11 09:41] vdauwera commented on #4632
Congratulations on your graduation! And good luck with your application, I know from personal experience it is a hassle, but it’s worth it!

Yes, that is what we are proposing. @davidbenjamin can give you some more guidance to get you started.

Thank you!

[2018-07-11 14:03] prasundutta87 opened #5000 "-new-qual error issue"
So how has the -new-qual error modified? I have used gatk 4.0.4.0 for all my analysis. How badly should I have to re-analyse with the new version of GATK? Is it really important?

__(edited to remove distracting boilerplate text - lbergelson)__

[2018-07-11 17:08] lbergelson opened #5001 "Code coverage down by 20%"
Somehow our code coverage has dropped by 20% since the changes to shrink the docker image.  I'm not sure if the issue is that we're not running a chunk of our tests or if we're not reporting coverage for some of them, but either way there is a problem.

[2018-07-11 17:12] lbergelson opened #5002 "Maven-central badge displaying out of date version"
It's showing 4.0.5.2 instead of 4.0.6.0.

We're using https://github.com/jirutka/maven-badges but it looks like they migrated to a new version 5 days ago at https://github.com/softwaremill/maven-badges.  Maybe updating to the new version will fix the issue.

[2018-07-11 17:19] lbergelson commented on #5002
Hmn, service URL is the same so there's nothing to change.  I'll file an issue there...

[2018-07-11 17:22] lbergelson commented on #5002
Opened an issue https://github.com/softwaremill/maven-badges/issues/5.  We'll have to see what they say.

[2018-07-11 19:42] lbergelson opened #5003 "gcloud dataproc commands are broken in gcloud 208.0.0"
There is an issue in with gcloud 208.0.0 that prevents the `gcloud dataproc` commands from functioning.  We should temporarily pin our version to 207.0.0 instead until the problem can be addressed by google.

[code]

We have to remember to unpin it afterward the problem is fixed.

[2018-07-11 19:42] lbergelson commented on #5003
This is causing tests to fail in master.

[2018-07-11 21:29] lbergelson commented on #5003
Google released a hotfix which fixed the problem.

[2018-07-11 21:29] #5003 closed

[2018-07-11 21:32] lbergelson commented on #2121
This was closed by https://github.com/broadinstitute/gatk/pull/4308

[2018-07-11 21:32] #2121 closed

[2018-07-11 21:39] lbergelson commented on #5000
@davidbenjamin This sounds like a question for you.

[2018-07-11 21:45] lbergelson commented on #4939
@evcon131 Just to clarify, what does the header in the bam say?  When you say "consistent in style" I assume you mean the bam header matches the reference?  I.e. if your bam is using contigs `1, 2, 3, etc` then your reference should match and if it's `chr1, chr2, chr3, etc` then the reference should match that.

If the bam is `1, 2, 3` and the reference is `chr1, chr2, chr3` we should really be th

[2018-07-11 21:53] lbergelson commented on #4828
@jean-philippe-martin has added support for requester pays to gcloud.
 See https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3406

I've set up a new fork of the project at https://github.com/broadinstitute/google-cloud-java.  I have a branch https://github.com/broadinstitute/google-cloud-java/tree/lb_update_pom_to_publish_to_orgbroad which I believe should make the changes necessary to

[2018-07-11 21:57] lbergelson commented on #4820
I believe we've fixed the duplicate key issues so I'm going to close this.  Feel free to reopen if it's still happening.

[2018-07-11 21:57] #4820 closed

[2018-07-11 21:58] lbergelson commented on #4819
@magicDGS We should do this, it seems useful.  I haven't had any bandwidth to take a look at it yet though.

[2018-07-11 22:03] lbergelson commented on #4754
I believe this has been fixed by https://github.com/broadinstitute/gatk/pull/4645

[2018-07-11 22:03] #4754 closed

[2018-07-11 22:06] lbergelson commented on #4685
@vdauwera Ping

[2018-07-11 22:07] lbergelson commented on #4618
We looked at this and it seems to be a problem with the tests, not the tool.

[2018-07-11 22:08] #4618 closed

[2018-07-11 22:09] lbergelson commented on #4669
I believe this has been resolved.  Closing.

[2018-07-11 22:09] #4669 closed

[2018-07-11 22:14] lbergelson commented on #4612
@AxVE Sorry, I totally missed this ticket.  BWA-Spark requires a paired-ended file to be queryname sorted or grouped.  It sounds like it's missing that check upfront.

We've improved SortReadFileSpark now.  It's now called SortSamSpark and can sort into query-name order.

Doing the fastq -> sam as part of the spark pipeline would be a great addition, but we currently don't have a great way to read

[2018-07-11 22:16] lbergelson commented on #4604
@jamesemery Is this issue resolved now?

[2018-07-11 22:17] lbergelson commented on #4559
Closing this since it seems like it's been resolved.  Feel free to reopen if you have additional questions.

[2018-07-11 22:17] #4559 closed

[2018-07-11 22:21] lbergelson commented on #4543
this was done in https://github.com/broadinstitute/gatk/pull/4711

[2018-07-11 22:21] #4543 closed

[2018-07-11 22:22] lbergelson commented on #4535
closed by https://github.com/broadinstitute/gatk/pull/4800

[2018-07-11 22:22] #4535 closed

[2018-07-11 22:35] lbergelson commented on #4166
This was done in #4266

[2018-07-11 22:35] #4166 closed

[2018-07-11 22:37] lbergelson commented on #4112
This should have been resolved when #4131 was.  Please reopen if it isn't.

[2018-07-11 22:37] #4112 closed

[2018-07-11 22:40] lbergelson commented on #4013
The newest release of gatk supports multiple intervals in GenomicsDBImport.  There's a known issue https://github.com/broadinstitute/gatk/issues/4994 which prevents the use of large interval lists.  It should be be fixed in the next release.

[2018-07-12 01:19] davidbenjamin commented on #5000
@prasundutta87 Since 4.0.4.0 the changes to new qual are: 1) some sites with QUAL = 0 were genotyped instead of being put in reference confidence blocks in GVCF mode and 2) spanning deletions no longer count towards variant quality.  Also, while doing 2) I introduced a bug in 4.0.5.0, which was quickly fixed.

Of these, 1) has no effect once you run `GenotypeGVCFs` and 2) is an edge case.  I would

[2018-07-12 01:33] davidbenjamin opened #5006 "Extract method for streaming a vcf"
The following idiom occurs about 25 times in this repo, mainly in integration tests:
[code]
We should extract a method, perhaps `Utils.streamVcf(final File vcf)`, to replace this unwieldy construct.

[2018-07-12 08:18] prasundutta87 commented on #5000
Thanks a lot David. It's a relief then. Anyway, is it possible to get a document to know more about -new-qual and how is it different from the old QUAL algorithm? I was using it because I was advised it being calculated faster than the old QUAL. But I would like to know what is the actual difference. I did not find a suitable document in the GATK website and was pointed to an issue post in GitHub

[2018-07-12 15:28] AxVE commented on #4612
@lbergelson No problem. I expected the BWA to have this restriction.

Nice for the SortSamSpark. I'll try this as soon we get a more recent version of GATK in our servers.

That's sad about fastq -> sam but it's true fasta is not the most practical format for Spark.
We (me and my team) wonder why you don't use parquets for inputs. Is it to keep a more accustomed format which can be used outside sp

[2018-07-12 15:41] davidbenjamin commented on #5000
@prasundutta87 Uh oh, putting the new qual docs in the repo must have slipped my mind.  I just submitted a PR for this, where you can see a pdf describing the new model: https://github.com/broadinstitute/gatk/pull/5008

Thank you for pointing this out.

[2018-07-12 17:50] cvalenci opened #5009 "GenotypeGVCFs error log10LikelihoodsOfAC are bad"
Hi, I am working with WES data with 130 samples. I've been following GATK4 best practices and also using the GRCh38 reference from the GATK bundle. I've been able to pre-process all the samples and to use Haplotypecaller for the 130 samples, then I proceed to merge all into a single gVCF file to then perform a join-call of SNPs and INdels. However, I got the following error message when using "Gen

[2018-07-12 19:11] ldgauthier commented on #5009
Sorry for the bug @cvalenci.  That looks like something we've seen before and recently fixed (#4980). Can you try 4.0.6.0: https://github.com/broadinstitute/gatk/releases/tag/4.0.6.0 ?

[2018-07-12 19:32] cvalenci commented on #5009
HI, thank you for the quick response. Sure, I will try the new version. Does it mean that I need to re-run everything from Haplotypecaller again in all the samples or can I take my "Multi.g.VCF" generated with  GATK 4.0.5.2 and do the Joint-Call with GATK 4.0.6.0?

[2018-07-12 19:43] ldgauthier commented on #5009
Nothing in the GVCF output should change with this bug fix, so just running GenotypeGVCFs with 4.0.6.0 will be fine.  (David has more details in #5000)

[2018-07-12 19:44] ldgauthier commented on #5009
I'm confident this should solve your issue, but please reopen if that's not the case.

[2018-07-12 19:44] #5009 closed

[2018-07-12 19:48] jamesemery commented on #5001
To clarify, the tests are being run. It appears to be a bug in how we have configured the jacocoTestReport job that gets executed inside the docker image which seems to result some missing xml files that codeCoverage uses to build its reports. Since we have our integration and cloud tests outside of the docker image the coverage didn't drop to zero. I am looking into reconfiguring the jacocoTestRe

[2018-07-12 20:09] prasundutta87 commented on #5000
Thanks a lot David. Will let you know if I have any doubts.

[2018-07-12 21:19] evcon131 commented on #4939
So I mean the bam header is contig 1 2 3 like this:@SQ SN:1 LN:122678785

@SQ SN:10 LN:69331447
@SQ SN:11 LN:74389097
@SQ SN:12 LN:72498081
and the reference is 10 11 12, heres the first line of the reference:

NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN

When I used these files it didn't work
On Wed, Jul 11, 2018 at 3:45 PM Louis Bergelson <notifications@github.com>
wrote:

[2018-07-13 15:04] cmnbroad opened #5010 "Port HaplotypeCaller dropped reads tracking for bamout"
GATK3 HaplotypeCaller has a facility for tracking reads that are dropped during processing for one reason or another (such as failing realignment) but this wasn't ported to GATK4. See https://github.com/broadinstitute/gsa-unstable/issues/1152 and https://github.com/broadinstitute/gsa-unstable/pull/1257.

[2018-07-13 20:46] jamesemery commented on #4976
@LeeTL1220 Having started to implement this. I have a number of design questions that would be informed by your usecases.

Firstly, is there a reason to preserve symbolic alleles? It seems as though spanning deletions could/should be dropped as in most cases there is another variant context representing that deletion elsewhere in your file? Should there be validation around dropping spanning delet

[2018-07-14 05:17] spullara commented on #2092
As a workaround for this failing HTJSDK I'm using bcftools to convert to compressed vcf and then reading those files. Expensive but works.

[2018-07-14 14:09] jamesnemesh commented on #2092
@spullara That can be dangerous, as if you use the latest BCFTools it encodes your VCF to a higher version number than HTSJDK supports.   I'm not comfortable with that one way trip, considering I can't guarantee which version of bcftools a user is going to touch a VCF/BCF with.

[2018-07-15 15:48] magicDGS opened #5012 "Set locale in BaseTest"
### Affected class(es)
All test classes in GATK (and downstream projects) extending `BaseTest`

### Affected version(s)
- [x] Latest public release version
- [x] Latest master branch

### Description
The GATK toolkit assumes `US` locale (set in a `Main` static method), which in turn produces all the test files using the `US` locale; if the test suite is run in a different locale, it might fail une

[2018-07-15 15:52] magicDGS opened #5013 "Move BaseTest static initialization to BeforeSuite method"
Could it be possible to set all these properties and configurations in a method annotated with `@BeforeSuite`?

https://github.com/broadinstitute/gatk/blob/3c960c9d7174785a82d272fe9cd33076ae7ed271/src/main/java/org/broadinstitute/hellbender/utils/test/BaseTest.java#L35-L42

Downstream toolkits using the testing framework provided by GATK (and thus, extending `BaseTest`) might benefit for that chan

[2018-07-15 15:53] magicDGS commented on #5013
This is also related with #5012 (where the locale should be set)

[2018-07-15 15:56] magicDGS opened #5014 "Move Main static initialization to a method"
Could it be possible to move the locale setup and picard-parser config to the first method in `mainEntry` (or another place that can be overrided and/or picked by the tests/downstream toolkits)?

https://github.com/broadinstitute/gatk/blob/51273676b20d25cacf238d1c0429ebc79b321a85/src/main/java/org/broadinstitute/hellbender/Main.java#L38-L50

[2018-07-15 15:57] magicDGS commented on #5014
Otherwise, a possibility is to move to an static method that can be called by downstream `Main` classes, to be sure that the static initialization is done in the same way as GATK. In this case, this should also being documented.

[2018-07-15 16:00] magicDGS commented on #5014
Sorry, again confounded by static-blocks and inheritance (dup of my own issue https://github.com/broadinstitute/gatk/issues/3483)

[2018-07-15 16:00] #5014 closed

[2018-07-15 16:02] magicDGS commented on #5013
Although I was again wrong by static-blocks and inheritance (see https://github.com/broadinstitute/gatk/issues/3483), I think that in the case of the tests is better to make overridable this config - thus, I keep it open.

[2018-07-15 20:08] fnothaft commented on #4612
In ADAM, we have well maintained Hadoop InputFormats for both normal and interleaved FASTQ. Additionally, we wrap these InputFormats in Spark-friendly APIs (exposed in Scala, Java, Python, and R) that add validation and standard transformations. GATK already has a dependency on ADAM, so...

[2018-07-16 12:54] LeeTL1220 commented on #4976
@jamesemery Set up a meeting and we can go into more detail.

[2018-07-16 15:47] #4807 closed

[2018-07-16 15:47] #4935 closed

[2018-07-16 15:47] #4937 closed

[2018-07-16 15:47] #4952 closed

[2018-07-16 16:08] LeeTL1220 opened #5016 "Set default to use the `FilterByOrientationBias` tool in the WDL"
### Affected tool(s) or class(es)
M2

### Affected version(s)
Latest master branch as of [July 16,2018]

### Description
Set the mutect2.wdl and mutect2_nio.wdl to run `FilterByOrientationBias` by default.  Default artifact modes should be `["G/T", "C/T"]`

[2018-07-16 16:09] LeeTL1220 commented on #5016
Requested by @chipstewart2

[2018-07-16 18:05] skwalker commented on #4614
@ldgauthier is this what you're looking for? (I only did sites where the values are different between the old model and the new)

![qd_differences](https://user-images.githubusercontent.com/4933056/42774995-426cfc3a-8901-11e8-953f-65ef0ad55870.png)
![qual_differences](https://user-images.githubusercontent.com/4933056/42774997-427949cc-8901-11e8-96d7-d0e7e8899fd7.png)

[2018-07-17 14:00] lbergelson commented on #4612
@fnothaft  That sounds good.  We should add support through those.

[2018-07-17 14:16] lbergelson opened #5020 "support loading FASTQ directly in BwaSpark"
It would be useful to many people if we could load FASTQ directly in BwaSpark instead of requiring uBam.

Potential options for doing so are:

1. Use existing ADAM support for FASTQ

2. Add support to disq

[2018-07-17 14:17] lbergelson commented on #4612
#5020

[2018-07-17 14:20] lbergelson commented on #4612
Ack, turns out we already had a ticket.  https://github.com/broadinstitute/gatk/issues/4086  You know we have to many tickets when I open duplicates of my own tickets without realizing it.

[2018-07-17 14:20] lbergelson commented on #5020
Woops, duplicate of https://github.com/broadinstitute/gatk/issues/4086

[2018-07-17 14:20] #5020 closed

[2018-07-17 14:21] lbergelson commented on #4086
We could also support FASTQ through ADAM's input formats which support it already.

[2018-07-17 15:17] samuelklee opened #5022 "Restore reshape R dependency and add test."
See https://gatkforums.broadinstitute.org/gatk/discussion/12078/gatk-4-4-docker-image-missing-dependancies

Looks like I inadvertently removed this in the great purge of #3935.  We should add a test to AnalyzeCovariates to cover plotting as well.

[2018-07-17 16:38] samuelklee commented on #5022
Actually, is the reshape dependency even required for AnalyzeCovariates?  If not, we should just remove the import statement from BQSR.R.  In any case, we should still add a test to cover plotting.

@droazen can you delegate this?

[2018-07-17 16:43] jakevc commented on #4691
This issue still occurs for me with both of the above solutions:

[code]

and with
[code]

[2018-07-18 03:21] EvanTheB opened #5024 "Memory usage spike GenotypeGVCF 4.0.4.0 vs 4.0.6.0"
I updated from 4.0.4.0 to 4.0.6.0 and noticed either a memory bug or spike in GenotypeGVCF.

Based on https://github.com/EvanTheB/gatk4-germline-snps-indels/blob/master/joint-discovery-gatk4.simple.wdl:

[code]

And a SGE hard memory limit of 40G (GenotypeGVCFs has -Xmx8g).
On gatk 4.0.4.0 I see peak memory usage of 15.7G, while with gatk 4.0.6.0 I get:

[code]

It seems unlikely to be just a perf

[2018-07-18 06:00] EvanTheB commented on #2850
Is the crai index still not supported? I am having trouble with HaplotypeCaller and Cram

https://gatkforums.broadinstitute.org/gatk/discussion/11988/cram-vs-bam-difference-in-output-of-haplotypecaller#latest

[2018-07-18 13:42] LeeTL1220 opened #5025 "M2 WDL will fail FilterByOrientationBias if artifact_modes is defined as empty and run_orientation_bias_filter is true"
## Bug Report

### Affected tool(s) or class(es)
M2 WDL

### Description
If you pass an empty array for artifact_modes (i.e. artifact_modes = []) to the `FilterByOrientationBias` task when `run_orientation_bias_filter` is true, it will create an erroneous command line.

#### Expected behavior
The orientation bias filter should not run, or should not do anything.

#### Actual behavior
UNCONFIRMED:

[2018-07-18 14:07] magicDGS commented on #3104
Sorry, I had several personal appointments and stuff to do the last weeks. I will inform you as soon as I can come back to the work on IndelRealignment

[2018-07-18 15:13] #5001 closed

[2018-07-18 17:39] samuelklee opened #5029 "Test report URL is not accurate for testOnPackagedReleaseJar."
These get put into tests/testOnPackagedReleaseJar rather than tests/test.

[2018-07-18 17:57] davidbenjamin commented on #4924
Closed by #4956.

[2018-07-18 17:57] #4924 closed

[2018-07-18 17:57] davidbenjamin commented on #4892
Closed by #4998.

[2018-07-18 17:57] #4892 closed

[2018-07-18 18:12] davidbenjamin commented on #4689
Fixed at some point in the last few months, probably by #4809.

[2018-07-18 18:12] #4689 closed

[2018-07-18 19:36] cmnbroad opened #5034 "MendelianViolation class needs to be refactored"
The MendelianViolation class, as ported from GATK3, is used both to get mendelian violation state for a single variant/set of samples, as well as an accumulator for counting violations for multiple variants. It contains two isViolation methods, one of which clobbers the cumulative state without warning. The class should be refactored to make the two usage patterns distinct and less prone to accide

[2018-07-18 20:43] samuelklee commented on #4250
With the exception of the HMM package, all of our R dependencies are available through the conda R or bioconda channels; the HMM package is available only through a user's custom channel.

However, the HMM package is only used to generate truth for testing the Java HMM code by @vruano (which is currently unused, but we thought was worth keeping around).  I'm sure we could easily rewrite the tests

[2018-07-18 20:52] #5016 closed

[2018-07-18 20:52] #5025 closed

[2018-07-19 00:56] EvanTheB commented on #5024
@cmnbroad apologies, I intended to upload the log from the same shard, the stderr is re-uploaded here. All shards of 4.0.6.0 failed, while all shards of 4.0.4.0 succeeded.

[gengvcferr.txt](https://github.com/broadinstitute/gatk/files/2207790/gengvcferr.txt)

[2018-07-19 06:44] wenjuanZHU2018 opened #5035 "Understanding -nct and -nt"
-nt 8 means you use 8 cores
-nct 8 means you use 8 threads within a single core

In this website, https://gatkforums.broadinstitute.org/gatk/discussion/9283/understanding-nct-and-nt
Geraldine_VdAuwera who belongs to GATK team said it is correct.  However, I think the meaning of -nct and -nt had been mixed.

-nt 8 should mean  that  we 8 threads within a single core
-nct 8 should mean that we use 8

[2018-07-19 06:47] wenjuanZHU2018 commented on #5035
by the way, GATK send the confirmation email to me. However, I cannot open that website link after trying many times. It always tell me that Site was not found.  It is very strange.

[2018-07-19 08:00] magicDGS commented on #5035
@wenjuanZHU2018 - I think that this should be asked on the GATK forum. This repository contains GATK from version 4 onwards, which does not support anymore parallelization using those arguments.

[2018-07-19 13:18] meganshand opened #5036 "Error in PalindromeArtifactClipReadTransformer"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- [ ] Latest public release version [version?]
- [x] Latest master branch as of 7/18/18

### Description
When running Mutect yesterday on Mitochondrial data I got the following error:
[code]

#### Steps to reproduce
These are the arguments I used (the input bam is on the file system):

[code]

I tried it with and wit

[2018-07-19 15:17] #5006 closed

[2018-07-19 15:42] meganshand commented on #5036
The fact that it's circular means that there are reads and bases right up against the edge of the contig and often have soft clips that extend beyond the contig. So it looks a bit like this:

<img width="945" alt="screen shot 2018-07-19 at 11 37 45 am" src="https://user-images.githubusercontent.com/13020550/42953344-3ba4f544-8b48-11e8-9250-db75e56c2069.png">

So yes, circular means it's probably t

[2018-07-19 15:50] LeeTL1220 opened #5037 "Somatic CNV output files cannot be read by IGV"
## Feature request

### Tool(s) or class(es) involved
Somatic CNV

### Description
The output of the Somatic CNV tools cannot be read by IGV.  Previous CNV versions generated  readable output seg files.

Two possible solutions:
- Solicit support from IGV.  This may be hard, since the extension is the same.
- Provide a conversion tool.
- Change the output format itself.

[2018-07-19 15:54] #4957 closed

[2018-07-19 16:12] samuelklee commented on #5037
Already some discussion in #2853 and we've met with Helga from the IGV team.  Do you want allele-fraction and credible-interval plotting as well, or just copy-ratio mean as before?

[2018-07-19 16:12] jamesemery commented on #5029
Hey @samuelklee. That is true, the default location for a gradle test output is tests/#taskname#. I'm not sure what the problem is however. If you look at the gradle test logs there is a line pointing to where the reports live: " Test report will be written to  https://storage.googleapis.com/hellbender-test-logs/build_reports/master_20802.3/tests/test/index.html." Those links seem to work on the l

[2018-07-19 16:23] samuelklee commented on #5029
Whoops, you're right!  I think I got confused because I was looking at a build where the test report did not get generated and I missed the bit about renaming files in the build.  Mea culpa!

[2018-07-19 16:23] #5029 closed

[2018-07-19 18:16] #4946 closed

[2018-07-19 20:16] cmnbroad commented on #5024
Thanks @EvanTheB. @kgururaj can you take a look at once ? thx.

[2018-07-19 20:16] SHuang-Broad commented on #3446
I'm reviving this discussion, since we have seen more data now compared to only CHM and NA12878.

What do you guys think? Should we still do it?

[2018-07-19 20:31] SHuang-Broad commented on #3225
@cwhelan
while I'm going over our tickets, is this done already? Or someone is handling this?

[2018-07-20 02:00] wenjuanZHU2018 commented on #5035
@magicDGS  Thanks for your reply. I would like to ask GATK forum on gatk official website.  However, the confirmation email GATK send to me cannot be opened.  Therefore, I cannot post a question on GATK official website.  That is very strange.

[2018-07-20 03:31] bbimber opened #5039 "Equivalent to SampleUtils.getSamplesFromCommandLineInput()"
I'm working to migrate GATK3's VariantEval to GATK4.  This includes this code ~line 319:

        // Load the sample list, using an intermediate tree set to sort the samples
        final Set<String> allSampleNames = SampleUtils.getSamplesFromCommandLineInput(vcfSamples);
        sampleNamesForEvaluation.addAll(new TreeSet<String>(SampleUtils.getSamplesFromCommandLineInput(vcfSamples, SAMPLE_EXPRE

[2018-07-20 04:20] SHuang-Broad commented on #1866
ping again....

[2018-07-20 04:24] SHuang-Broad commented on #1890
Hey Ted, I'm going though our tickets, are they all in `FindBreakpointEvidenceSparkArgumentCollection` now? If so, should I close this?

[2018-07-20 13:09] cmnbroad commented on #5039
@bbimber The GATK4 command line parser will [automatically](https://github.com/broadinstitute/barclay/blob/94172297c32447a0f2bf5c057fa7b70177144228/src/main/java/org/broadinstitute/barclay/argparser/CommandLineArgumentParser.java#L725) do the file expansion part of this for any argument with any value that ends in ".list" or ".args". So by the time the tool sees the values, they will already have

[2018-07-20 13:09] #5039 closed

[2018-07-20 13:36] cwhelan commented on #3225
We turned off gathering evidence from non-primary contigs back in #4438 . Closing this.

[2018-07-20 13:36] #3225 closed

[2018-07-20 13:48] tedsharpe commented on #1866
this is a) done, and b) superfluous now that we have Ted B.'s classifier

[2018-07-20 13:48] #1866 closed

[2018-07-20 13:49] tedsharpe commented on #1890
Let's leave it open as a reminder to take a final sweep through the code before we go live.

[2018-07-20 17:15] TedBrookings opened #5041 "Improve feature design for XGBoostEvidenceFilter.java"
## Feature request

### Tool(s) or class(es) involved
_StructuralVariationDiscoveryPipelineSpark, XGBoostEvidenceFilter.java_

### Description
Currently there are two unresolved large structural decisions about features for the XGBoostEvidenceFilter classifier. At the moment these decisions are switched by static member booleans, however that results in bad software engineering with one active cod

[2018-07-20 19:03] LeeTL1220 commented on #4985
dbSNP has multiple lines for variants that have the same interval, ref, and alt.

[2018-07-20 23:27] kgururaj commented on #5024
To be honest, I don't have a clear idea of why this is happening. I tried running a query with 1000 samples using the same GenomicsDB jar that GATK uses and the memory consumption stayed below 1 GB.

Some suggestions/questions:
* If you were importing/querying multiple intervals at once, I would expect #4994 to be relevant. But your script shows a single interval being imported/queried.
* Would it

[2018-07-22 03:20] #5036 closed

[2018-07-22 23:40] EvanTheB commented on #5024
From the stack trace I had assumed the error was likely related to loading the dbsnp vcf. From: gs://broad-references/hg38/v0/

I have attached a 1Mbase subset of my gvcf and a script that reliably reproduces the error for me.

[script.txt](https://github.com/broadinstitute/gatk/files/2217511/script.txt)
[NA12878.hg38.g.vcf.gz](https://github.com/broadinstitute/gatk/files/2217512/NA12878.hg38.g.vc

[2018-07-23 14:30] komalsrathi opened #5045 "GenomicsDBImport: A fatal error has been detected by the Java Runtime Environment"
Hi,

I am using GATK `version gatk4-4.0.6.0-0` as part of the bcbio-nextgen pipeline for RNA-seq variant calling. There is one step in the pipeline i.e. `gatk GenomicsDBImport` that's been failing consistently no matter how less or many resources in terms of memory and cores I provide. I have tried to run the command as part of the pipeline and in stand-alone mode (like below) and both produce the

[2018-07-23 15:42] liliu1986 commented on #3066
Hi folks, is there any update on resolving this issue? I still have encountered this in gatk-4.0.6.0

[2018-07-23 16:57] LeeTL1220 commented on #4972
Raised priority due to relation ship with #4985

[2018-07-23 17:55] LeeTL1220 commented on #5037
@samuelklee I would want all, but copy-ratio being the most important.

[2018-07-23 18:10] samuelklee commented on #5037
As discussed elsewhere, all IGV does is ignore the column headers and take the last column, see https://software.broadinstitute.org/software/igv/SEG

Let's have ModelSegments output two LegacySegmentCollection files with CBS-style column headers, one for CR_50 (*.cr.igv.seg) and the other for MAF_50 (*af.igv.seg).  Methods can be added to ModeledSegmentCollection to create these LegacySegmentColle

[2018-07-23 18:37] #4951 closed

[2018-07-23 18:38] kgururaj commented on #5024
Assuming the single VCF attached is being imported.

Memory consumed by:
* GenomicsDBImport: 1.2 GB
* SelectVariants: 1.4 GB
* GenotypeGVCFs: 2 GB

[2018-07-23 19:05] LeeTL1220 commented on #5037
Do you mean " Methods can be added to ModeledSegmentCollection to create these LegacySegmentCollections" or "Methods can be added to ModelSegments to create these LegacySegmentCollections" ?

[2018-07-23 19:17] samuelklee commented on #5037
We can either add `to*LegacySegmentCollection` methods to ModeledSegmentCollection or add static utility methods to ModelSegments.  No real preference here as the coupling is minimal.

[2018-07-23 20:53] danilovkiri commented on #2865
Me too!

[2018-07-24 00:40] EvanTheB commented on #5024
@kgururaj are you using the script I provided? Otherwise it must be something site specific here.

[2018-07-24 05:09] kgururaj commented on #5024
Yes, using the same script

[2018-07-24 12:38] cmnbroad commented on #5045
@kgururaj Can you take a look at this one.

[2018-07-24 13:49] TedBrookings commented on #5041
Unused code paths have been removed from master and placed in a new branch: tb_sv_save_classifier_feature_strategies. They can be switched in with git cherry-pick. The issue is still not resolved.

[2018-07-24 15:32] kgururaj commented on #5045
These kind of errors are typically seen when the field description in the VCF header is incorrect. For example, describing the field length to be a fixed integer when the field is really variable length.

I would recommend closely scanning the VCF header for inconsistencies first.

[2018-07-24 15:49] ldgauthier commented on #4691
@jakevc I don't think this is a software bug. If you post on the forum (https://gatkforums.broadinstitute.org/gatk/) someone can help you figure out your unexpected output.

[2018-07-24 15:59] ldgauthier commented on #5045
Is there some sort of less manual shortcut, like trying to convert to BCF?

[2018-07-24 16:52] ldgauthier commented on #4614
That looks reasonable.  Is this just for biallelics?  My concern is that the values for biallelics won't have the same distribution as the (per-allele) values for multiallelics.  That's going to involve some agonizing parsing in R unfortunately.

[2018-07-24 16:53] komalsrathi commented on #5045
Hi,

Not sure if it is applicable but I just ran vcf-validator on the input gvcf file (also not sure if you can run vcf-validator on a gvcf):

[code]

Here are the first few lines from the logs:

[code]

I grepped the first and last positions from the above gist:

[code]

Here is the header of the gvcf file:
[header.txt](https://github.com/broadinstitute/gatk/files/2224573/header.txt)

[2018-07-24 17:23] kgururaj commented on #5045
That is definitely an issue, but I'm not sure if that's causing the crash. Would you take a look at fields similar to the following as well?

ac_adj_exac_amr,Number=1,Type=Float

[2018-07-24 17:51] chapmanb commented on #5045
Komal -- thanks for raising this issue and providing so much detail.

Karthik -- Thanks for the debugging and pointers on this, I hadn't thought from the core dump to be looking at the annotation fields so this is a really helpful lead. What we can do in bcbio is avoid adding any of these until after running the joint calling so they all get on the final joint VCF rather than the gVCFs. This shoul

[2018-07-24 18:00] komalsrathi commented on #5045
@kgururaj

So I found out that there are other fields that are also throwing a similar error with `vcf-validator`:

Below you will find this: `INFO tag [an_adj_exac_oth=16,16] expected different number of values (1)`

[code]

In this case, `an_adj_exac_oth` has > 1 values and only 1 is allowed:

[code]

[2018-07-24 18:13] kgururaj commented on #5045
Yep, that will definitely cause a crash - variable length fields need a length value stored while fixed length fields don't.

I can add checks for this scenario in GenomicsDB. Please let me know if the following make sense:
Header says that the field F is a fixed length = N. In the data section, if
* length(F) < N  - pad with missing values, no error message continue
* length(F) > N - error, throw

[2018-07-24 18:19] kgururaj commented on #5045
@chapmanb
_What we can do in bcbio is avoid adding any of these until after running the joint calling so they all get on the final joint VCF rather than the gVCFs._

I think that would be the right way to go (irrespective of the inconsistencies in the headers). My understanding as a layman (I'm not a bioinformatician) is that many of these annotation fields are (population/group) statistics. By st

[2018-07-24 18:32] #5037 closed

[2018-07-24 18:37] LeeTL1220 opened #5050 "Erroneous splice site variant can be generated when preceding base in a VCF is in the splice site region."
Please note:  There is a chance that this has been misdiagnosed.

## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
Latest master branch as of [June 2018]

### Description
We believe that we have discovered a variant discovered by @alyssamacbeth and TAG that exhibits the following erroneous behavior.

Imagine we have a splice site at positions `chrDummy 1-4`, wit

[2018-07-24 18:46] chapmanb commented on #5045
Karthik;
Thanks for this, I've done that in bcbio so hopefully will avoid the issue going forward. Feel free to close here unless you want to try and trace down further what is happening. Thanks again for the pointer that led us to the underlying issue.

[2018-07-24 21:24] SHuang-Broad opened #5051 "PrintReadsSpark gives "htsjdk.samtools.SAMFormatException: Invalid GZIP header" error with WGS bam and interval file"
## Bug Report

### Affected tool(s) or class(es)
`PrintReadsSpark`

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description

I first encountered this type of error in a prototype tool I'm writing, so to dig further about what's happening, I run our simplest Spark tool&mdash;`PrintReadsSpark`.

`PrintReadsSpark` report

[2018-07-24 21:44] SHuang-Broad commented on #5051
I should mention this is on Dataproc, but that's where we do most of Spark work, assumed.

[2018-07-24 22:04] cmnbroad commented on #5051
@SHuang-Broad Strange. So, were the intervals exactly the same (set of intervals) in scenario 1 and 2, just once in a .bed file ? Also, can you try repeating scenario 1 (the one that fails), but include `--bam-partition-size 209715200` and see if that affects the results.

[2018-07-25 00:04] SHuang-Broad commented on #5051
Thanks for the quick rely, Chris!
Yes, the intervals are exactly the same in all scenarios.

[2018-07-25 00:05] SHuang-Broad commented on #5051
I'll try that tomorrow and let you know the result.

[2018-07-25 08:09] RyanBio opened #5052 "FilterMutectCalls generates different results for multiallelic"
## Bug Report

### Affected tool(s) or class(es)
FilterMutectCalls

### Description
I split multiallelic to multiple lines through bcftools norm, the FilterMutectCalls generate different results with the same command. Some examples
multiallelic in one line:

     chr1    156842471       .       CTT     C,CT,CTTT,CTTTT .       clustered_events;multiallelic
     chr2    234580453       .       ATT

[2018-07-25 10:06] Tintest opened #5053 "[Errno 12] Cannot allocate memory : GermlineCNVCaller"
## Bug Report

### Affected tool(s) or class(es)
GermlineCNVCaller

### Affected version(s)
- GATK4  4.0.5.1

### Description
I'm trying to do a germline CNV calling with 387 exomes samples (I know it's a lot). The CollectReadCounts and DetermineGermlineContigPloidy were successfull. But for the GermlineCNVCaller I got what I think is a Python "cannot allocate memory" error. I tried to specify to

[2018-07-25 12:26] samuelklee opened #5054 "Add improvements to gCNV WDL, including scattering case samples in chunks."
@asmirnov239 and @mwalker174 should include any other useful additions they've made to their versions of the WDL.

[2018-07-25 12:51] Tintest commented on #5053
Hi @samuelklee,

Thank your for your prompt answer. Maybe, I will have to consider, indeed to launch the CNV caller for every batch.

What do you mean by scatter gCNV runs across the exome ? How would you do it ?

Thank you.

[2018-07-25 13:17] samuelklee commented on #5053
See the ScatterIntervals and related tasks in the gCNV WDLs at the link above.  The idea is to performs multiple runs of gCNV in shards of >10,000 intervals each across the exome.  These shards can be specified by passing the set of intervals for each shard via the -L argument to GermlineCNVCaller.  The gCNV model is independently fit in each shard, using the global depth and contig-level ploidy p

[2018-07-25 14:20] sooheelee commented on #5053
Hi @Tintest,

If you need some guidance in interpreting the WDL pipeline script that @samuelklee linked, please let me know.

[2018-07-25 15:16] tomwhite commented on #3066
Does the problem go away if you use an output path with the 'hdfs://' scheme? E.g. _hdfs://namenode:8020/user/yaron/output.bam_ (where _namenode_ is the hostname of the namenode).

There are two libraries being used internally for accessing the filesystem - the Hadoop filesystem API, and the NIO API - and they have slightly different behaviour if no scheme is provided. So to avoid problems it's be

[2018-07-25 15:51] SHuang-Broad commented on #5051
Update:

Trying the parameter suggested by @cmnbroad gives the same error.
Using `CreateHadoopBamSplittingIndex` to create a splitting index and bam index, then running `PrintReadsSpark` with `--read-index PATH_TO_SPLITTING_INDEX` gives two (caused possibly the same underlying problem) errors

[code]

[2018-07-26 01:59] komalsrathi commented on #5045
Closing here as this was fixed: https://github.com/bcbio/bcbio-nextgen/issues/2453

[2018-07-26 12:30] cmnbroad commented on #5045
@kgururaj @ldgauthier Can/should we add defensive code to detect this, as @kgururaj proposed above? Maybe throw with a message identifying the name of the field and the issue ?

[2018-07-27 13:56] davidbenjamin opened #5058 "Filter M2 variants that occur on same haplotype as other filtered variants"
Many of our false positives have this pattern.

@takutosato I will use the two-pass framework from your orientation bias PR for this.  The first pass will calculate a `Set<String>` of haplotype PID tags of filtered variants.

[2018-07-27 13:58] LeeTL1220 opened #5059 "ValidateBasicSomaticShortMutations will validate variants with reads in the validation normal"
## Bug Report

### Tool(s) or class(es) involved
`ValidateBasicSomaticShortMutations`

### Description
The first fix should simply count the number of supporting alt reads in the normal.  For now, if the variant has more than 2 reads supporting the alt in the normal, we will flag as not validating.  We may change the strategy later to account for possible tumor-in-normal contamination.

[2018-07-27 14:01] davidbenjamin opened #5060 "M2 getting thrown off by clipped read stubs"
Suppose the reference haplotype is
TAAGC. . . . TAAGG. . . .

and an alt haplotype (SNV at the last G shown) is
TAAGC. . . TAAG**C**. . .

Suppose further that we have a read ending in the first TAAGC that has been hard-clipped (to fit the assembly region) to just a 5-base TAAGC stub.

Pair-HMM is fully Bayesian and computes the total likelihood of *all* possible alignments of a read to each haplo

[2018-07-27 14:21] LeeTL1220 commented on #5059
For now, the tool will just supply the count and not make any decision as to whether the variant validated.

[2018-07-27 15:22] LeeTL1220 opened #5061 "GATKProtectedVariantContextUtils.chooseAlleleForRead(...) will not recognize equivalent alleles"
## Bug Report

### Affected tool(s) or class(es)
GATKProtectedVariantContextUtils.chooseAlleleForRead(...)

### Affected version(s)
Latest master branch as of [July 27, 2018]

### Description
This method has no facility for recognizing equivalent alleles in a read.  For example:

Let's say we have a pileup with a single base insertion (of 'T') after an 'A' in a poly-T.
In IGV, the reads will all s

[2018-07-27 16:11] chandrans opened #5064 "VariantStorageManagerException exception : status == TILEDB_OK"
Using 4.0.4.0 and got the following rather unhelpful error from a ImportGenomicsDB. I suspect it might be a variant in one of my VCFs being imported causing an issue but the error message doesn't even hint at which file it was working on.

[code]
SNIP
[code]

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/12458/variantstoragemanagerexcep

[2018-07-27 16:14] chandrans commented on #5064
Hey Chris. Tagging you for some triage help. User has reported "Figured it out, this is what you get when you run out of disk space. Please could this error message be made more helpful please?" Is there anything you can do? A better error message would help, but not sure who to assign this to.

[2018-07-27 16:47] #5022 closed

[2018-07-27 17:54] cmnbroad commented on #5064
@kgururaj Can you take a look and see if we can issue a more informative error message.

[2018-07-27 18:40] cmnbroad opened #5065 "StreamingPythonExecutor testStderrOutput unit test fails intermittently on Travis"
The StreamingPythonExecutor unit test `testStderrOutput` fails intermittently on Travis. We should try flushing stderr to eliminate the race condition, or else just remove the test.

[2018-07-27 18:56] kgururaj commented on #5064
Error reporting was improved in https://github.com/broadinstitute/gatk/pull/4645. It should at least print out - "file could not be opened etc"

[2018-07-27 19:53] skwalker commented on #4614
@ldgauthier: That was both biallelics and multiallelics, if you separate by color you don't see much of a difference for QUAL and QD:
![qual_differences](https://user-images.githubusercontent.com/4933056/43343550-9e352ca2-91b4-11e8-93fe-b057e62ac117.png)
![qd_differences](https://user-images.githubusercontent.com/4933056/43343541-9911cc08-91b4-11e8-9d61-eb9532e1f324.png)

But there's definitely so

[2018-07-27 22:49] cmnbroad opened #5066 "GenomicsDBImport should issue a warning when a large number of intervals is used"
When a large number of intervals is specified at import time, a large number of arrays are created, which can lead to exhausting available open file handles. In addition, my informal tests indicate that querying a workspace created from an import that used a large number of intervals is pretty slow. @kgururaj suggests we might want issue a warning at a threshold of 100 intervals. See discussion in

[2018-07-28 19:21] mwalker174 commented on #5054
I think we should do this in 2 PRs. First @asmirnov239 can first add his modification to run multiple samples in case mode. I can do a subsequent PR for "double-chunking" intervals to avoid PAPI/quota errors for high-resolution WGS.

[2018-07-29 02:58] asmirnov239 commented on #5054
Yes I agree, I will also work on  #4397 in the same PR

[2018-07-29 04:12] davidbenjamin opened #5068 "Kmerize whole fragments if mates overlap"
When a read overlaps its mate, we could squeeze out some extra sensitivity by kmerizing the fragment.  For example:
[code]
The kmer `CAAGTTGGC` exists in neither read alone.  As k increases so does the number of rescued kmers and with it the sensitivity of assembly.

[2018-07-30 13:42] tomwhite commented on #4661
I've just seen this error too when running `genome_reads-pipeline_hdfs.sh` from https://github.com/broadinstitute/gatk/tree/master/scripts/spark_eval.

It's odd that we get an `ArrayIndexOutOfBoundsException` even though there's a `ensureCapacity` call in the previous block...

[2018-07-30 13:46] #5060 closed

[2018-07-30 13:57] tomwhite commented on #4661
It could be a synchronization issue. E.g. if thread A is asking for an alleleCount of 3 and and thread B an alleleCount of 4, then thread A could grow the array to 3 after thread B grows it to 4 (meaning the array is grown to size 4 but then set back to size 3), but before thread B reads position 4. This read will then fail.

BTW I was seeing quite a lot of task failures, around 10%.

[2018-07-30 14:02] tomwhite commented on #4661
Also here's the stacktrace I got:

[code]

[2018-07-30 15:37] davidbenjamin opened #5069 "M2 should rely less on mapping quality filter"
The mapping quality filter causes a lot of false negatives and if we got better at recognizing mapping artifacts by other means (note that part but not all of this ticket is just coming up with best practices for FilterAlignmentArtifacts) we could perhaps relax the mapping quality filter.

For example, here's an artifact that we filter *only* with the mapping quality filter even though it's very o

[2018-07-30 16:05] sanjeevksh commented on #4544
I have also experienced the same issue i.e. GenotypeGVCFs not proceeding further after initial few hundred lines (242 lines to be precise). I'm running 384 potato samples (242 diploid, 138 tetraploid and 4 hexaploid) on chromosome-by-chromosome basis. After adding '-new-qual' option run completed for the whole chromosome (dummy chromosome 0) taking 7654 lines. My query is whether using '-new-qual'

[2018-07-30 18:08] Neato-Nick commented on #4544
Fyi - just having the warning about inbreeding coefficient doesn't mean you
need to throw out the whole variant. You just won't have the inbreeding
coefficient for that variant.

On Mon, Jul 30, 2018, 12:05 PM sanjeevksh <notifications@github.com> wrote:

[2018-07-30 18:15] sanjeevksh commented on #4544
Thank you so much @Neato-Nick for your feedback, highly useful indeed! I was just worried that all these locations with warning signs are getting bypassed which as per your feedback should not be the case.
Regards,
Sanjeev

[2018-07-30 18:56] davidbenjamin commented on #4544
@sanjeevksh `new-qual` is a final fix for the deficiencies of the old model.  You should use it.

[2018-07-30 19:07] sanjeevksh commented on #4544
Thanks @davidbenjamin, that's really great to hear! With -new-qual option added, the GenotypeGVCFs runs completed very swiftly.
Regards,
Sanjeev

[2018-07-30 20:24] cmnbroad commented on #4994
The stack overflow issue should now be fixed, but the original forum user reported having around 11k intervals, which I think is still probably too many to use at once. See https://github.com/broadinstitute/gatk/issues/5066.

[2018-07-31 02:09] EvanTheB commented on #5024
I tried running gatk version 4.0.7.0 with the environment variable: 'TILEDB_DISABLE_FILE_LOCKING=YES' to see if that would fix the issue, but I still get the same error. I am not sure that the patch that enable that was actually in the 4.0.7.0 release.

[2018-07-31 09:34] anowlcalledjosh opened #5072 "LeftAlignIndels example is invalid"
## Documentation request

### Tool(s) or class(es) involved

LeftAlignIndels

### Description

The example for LeftAlignIndels uses a parameter `-O` which doesn't exist for the tool - the parameter listed in the documentation is `--OUTPUT`. Either the example should be updated to use `--OUTPUT`, or the tool should be changed to accept `-O`.

[2018-07-31 15:07] sanjeevksh commented on #4544
My GenotypeGVCFs run for a single chromosome returned the following completion statement:
18:54:40.516 INFO  ProgressMeter - Traversal complete. Processed 606308 total variants in 75.2 minutes.

However, there are only 46814 variant rows (excluding 52 header rows) in the corresponding vcf file. Does the above figure of 606308 correspond to a multiple of 'variants x number of samples'?

Also, there

[2018-07-31 15:38] davidbenjamin commented on #4544
606308 is not 'variants x number of samples'.  Rather, it is just 'variants'.  However, keep in mind that most of the input "variants" that comprise these 606308 are GVCF reference confidence blocks that do not end up in the output.

To be more precise, each input GVCF has a mix of variants and reference confidence blocks, which don't necessarily overlap from sample to sample.  The GATK engine tur

[2018-07-31 15:52] Neato-Nick commented on #4544
Your best bet is to just start analyzing your data with this VCF. Doesn't
sound like your output log file showed any truly problematic errors. Things
like VCF Tools or vcfR (if you're familiar with R or want to start learning
it) give you some basic stats about your vcf file very quickly. This will
alleviate many of your concerns

On Tue, Jul 31, 2018, 11:10 AM sanjeevksh <notifications@github.com

[2018-07-31 19:17] sanjeevksh commented on #4544
Thanks @davidbenjamin for a very detailed explanation, this helps a lot!

Thanks @Neato-Nick, yes that's the plan - I am just waiting for all runs to finish. There was some pressing need to clarify the 10 sample issue. I have done vcf filtering in the past and plan to do so by applying hard flitering using FilterVcf/VariantFiltration/SelectVariants. I was not aware of vcfR package, thanks for dire

[2018-07-31 19:51] cmnbroad commented on #5072
Yes, for consistency the `@Argument` annotation for OUTPUT should probably use the standard fullName and shortName constants (StandardArgumentDefinitions.OUTPUT_LONG_NAME) used by the other tools (though it will break compatibility).

[2018-08-01 12:31] Tintest commented on #5053
Hi,

Thanks @sooheelee for your offer, but I tried to do something "exotic" but maybe a bit too ambitious...

And I got another "problem" ! :)

## Bug Report

### Affected tool(s) or class(es)
GermlineCNVCaller

### Affected version(s)
- GATK4  4.0.5.1

### Description
Related to my previous error and the advices you gave me, I decided to split my data not per segments or batch but per chromosomes

[2018-08-01 12:38] samuelklee commented on #5053
@Tintest, I think this is might be a case of ‘Y’ vs ‘chrY’.  Can you try to use the latter for the ‘allosomal-contig’ argument (and double check your BED file, as well)?

[2018-08-01 13:06] Tintest commented on #5053
Indeed @samuelklee, I had to specify ```chrY``` instead of ```Y```. Such a silly mistake...
Sorry for bothering you for this ...

Thank you !

[2018-08-01 14:42] hsiaoyi0504 opened #5075 "[feature request and question] downsample to coverage"
## Feature request and Question

Original question was posted in GATK forum, but it seems to me that the question should be posted here to ask the developer team

### Tool(s) or class(es) involved
PrintReads

### Description

In GATK4, printReads doesn't have an option to do downsample to coverage anymore. Is there any reason for that ? Or is there any update suggestions to do the same thing but m

[2018-08-01 14:50] hsiaoyi0504 commented on #5075
Just make a mistake that submit an issue without filling in the detail. I have edited and re-opened it again.

[2018-08-01 15:10] #4182 closed

[2018-08-02 01:55] SHuang-Broad opened #5077 "Expand integration test cases in StructuralVariationDiscoveryPipelineSparkIntegrationTest"
It's been long trailing what kind of variants we can handle.

[2018-08-02 14:57] ldgauthier commented on #5066
@kgururaj As I start to think about upgrading exome joint calling to use GenomicsDBImport the 100 interval threshold seems like it might be problematic.  I've been working with WGS data, so I don't have much intuition for benchmarking with missing data.  Is there any performance downside to running over larger intervals that include missing data?  For example, if we want to scatter the exome 50 wa

[2018-08-02 15:08] ldgauthier opened #5079 "Improve handling of clipped read "stubs" in HC"
Effectively implement #5057 for HaplotypeCaller.  Shortie reads with few bases inside the active region can have very biased likelihoods as David explains in #5060

This is probably less significant in HC for diploids than in M2 for somatic or MT.

[2018-08-02 15:27] davidbenjamin commented on #5079
I can do this but first, since it seems like a nice way to learn about the GATK engine, I'll open it up to @TedBrookings @MartonKN @takutosato @meganshand @sjfleming @madduran @dalessioluca.

[2018-08-02 15:31] #5059 closed

[2018-08-02 16:10] #4920 closed

[2018-08-03 08:48] yuntwang commented on #4361
Can I know the result?

I compare  the version GATK(4.0.2.1)  with the version GATK(3.8) in the HaplotypeCaller.

And found the GATK4 is slower than GATK3.8.

[2018-08-03 15:06] SHuang-Broad opened #5083 "GATKSparkTool should have `createSAMWriter(...)` and `createVCFWriter(...)`"
## Feature request

### Tool(s) or class(es) involved

`GATKSparkTool`

### Description

`GATKTool` currently has them (and unfortunately takes `File` as input).

It would great if some refactoring can happen so that methods provide common utilities (such as these) can be merged in a single base class.

[2018-08-03 15:54] davidbenjamin opened #5085 "Force mates to share haplotypes in Mutect2 somatic likelihoods model"
The model currently gives each read an independent latent variable indicating which haplotype it was derived from.  This latent variable should be a property of fragments, not reads.

[2018-08-03 15:57] davidbenjamin opened #5086 "Mutect2 should learn its lod threshold"

[2018-08-03 16:46] jjfarrell commented on #2865
I also need this option.

[2018-08-03 19:44] kachulis opened #5087 "Tabix fails in UpdateVCFSequenceDictionary when outputting .vcf.gz file"
## Bug Report

### Affected tool(s) or class(es)
UpdateVCFSequenceDictionary

### Affected version(s)
- \[x] Latest master branch as of 8/3/18

### Description
I am running UpdateVCFSequenceDictionary on a vcf which should have a hg38 header but which (for unrelated unpleasant reasons) instead has a hg19 header. Using an hg38 dictionary as source dict to try to fix the header.   If I ask to output

[2018-08-03 20:07] ldgauthier commented on #4614
@davidbenjamin there are a couple discrepancies I'd like you to look into so we understand what's going on.  There's a multi-allelic SNP at 1:148004722 where the AS_QD for the T goes from 30.83 with the old model to 0.49 with your new model.  The genotype with that allele called is pretty high quality: `0/2:8,0,98:106:31:2688,2712,3038,0,326,31` so something in that high 20s low 30s range seems mo

[2018-08-04 19:01] chandrans commented on #2116
Hey Megan @meganshand Is this related to the issue here: https://gatkforums.broadinstitute.org/gatk/discussion/comment/50915#Comment_50915 Should I get a test case from them?

[2018-08-05 02:50] davidbenjamin opened #5088 "Proposed M2 tumor in normal notes don't know about new M2 options"
The proposed method involves three steps as currently written but could take only two steps if the ``--genotype-germline-sites` option were used.

[2018-08-05 02:55] davidbenjamin opened #5089 "Evaluate utility of COSMIC database for Mutect2"
We need to see how many variants from COSMIC a typical tumor contains, and of these what is the precision.  If there are a decent number with high confidence we could use it as follows:

* Get high-confidence somatic sites for a tumor-in-normal tool.  For such a tool we can't rely on the normal artifact filter and so a bit of extra help would be nice.
* Get training data for deep learning, perhaps

[2018-08-05 03:07] davidbenjamin commented on #5052
@RyanBio `FilterMutectCalls` is designed to be used directly with the output of `Mutect2` and I don't foresee ever recommending that users split an M2 vcf line before filtering.  I agree with you that these artifacts are related to the homopolymer and that "multiallelic" is not fully satisfactory.  A more precise thing to do would be to raise the prior rate of polymerase slippage when we see sever

[2018-08-05 03:07] #5052 closed

[2018-08-05 03:08] #5000 closed

[2018-08-06 03:08] kgururaj commented on #5066
* _Large number of open file handles_: this was an issue in TileDB which got fixed as part of the restructuring that @nalinigans did for supporting HDFS/S3/GCS  (#5017). I was too lazy to fix this again. If it's going to take some time for PR #5017 to be merged, I can submit a separate fix for this.  This would fix any crashes/termination issues.
* _Performance of a single import process with a la

[2018-08-06 13:11] meganshand commented on #2116
@chandrans I'm not sure if this is related or not, but I would love to get a test case from them. That's an unhelpful error message at the very least.

[2018-08-06 17:56] cmnbroad commented on #5066
One admittedly completely degenerate case I tried: I imported a single gvcf that contained a single site that spanned a single locus, with a single sample, and specified 1000 small intervals, none of which overlapped the variant. The import takes a few minutes, but running SelectVariants on that workspace, with no intervals specified, takes about 30 minutes to return the empty vcf.

If I do the sa

[2018-08-07 08:09] yuntwang opened #5090 "gatk4 runtime is slower than gatk3.8"
Hi,
I use the gatk4.0.2.1 to detect variant and the command line:
time gatk-4.0.2.1/gatk --java-options "-XX:ParallelGCThreads=5  -Xmx30G" HaplotypeCaller --input rice.RGAP7.R01.dedup.bam --output rice.RGAP7.1.0.g.vcf --reference ref.genome.fa --native-pair-hmm-threads --emit-ref-confidence GVCF --indel-size-to-eliminate-in-ref-model 50 --sample-ploidy 2 --intervals rice.RGAP7.chr_allocation.1.lis

[2018-08-07 13:13] cmnbroad commented on #5087
@kachulis Thanks for the report. The fix will be slightly complicated by the fact that there is also a (GATK-tool) level arg called `masterSequenceDictionary`. So in the override, we'll want to validate/resolve that argument against the others as well.

If you need a short term workaround, you can try disabling on-they-fly indexing (`--create-output-variant-index false`, and then index the output

[2018-08-07 17:44] skwalker commented on #4614
Hi @davidbenjamin ,

Here's the combined VCFs from running GenotypeGVCFs on just the first site (1:148004722) with and without the new qual argument:
[code]
and the results I  get (slightly different from above):

CHROM | POS | ALT | REF | QUAL.old | QUAL.new | QD.old | QD.new | AS_QD.old | AS_QD.new
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
1 | 148004722 | G,T | C | 6968.13 | 6986 | 13.72 |

[2018-08-07 19:55] davidbenjamin commented on #4614
The too-high `AS_QD = 25.36` in both cases is coming from a line in new qual where if finite numerical precision leads to a log probability greater than 0, we set the allele-specific qual to be infinite.  Then in the `AS_QD` code, this infinity is replace by 30 + jitter = 25.36, as Laura suspected.
 That can't be to hard to fix.

I still need to figure out the second case where new qual's AS_QD se

[2018-08-08 08:04] zhangjianruwang commented on #4987
so how to produce denovo mutations with GATK4.0  ?

[2018-08-08 14:43] kachulis commented on #5087
Thanks @cmnbroad for the workaround

[2018-08-08 15:08] lbergelson opened #5094 "GATK failing in FireCloud with google ExecutionException (caused by UnknownHostException)"
We're seeing a high rate of failures running BQSR pipelines in production with `ExecutionException`s.

The root cause seems to be an `UnknownHostException` thrown in the google storage api client.

[code]

[2018-08-08 18:02] magicDGS commented on #5094
Is this also related with the emails that we are receiving from Jenkins (e.g., https://gatk-jenkins.broadinstitute.org/job/GATK-BQSR/1359/)?

[2018-08-08 18:10] lbergelson commented on #5094
@magicDGS I don't think so.  Those tests have been failing forever.  I think someone finally fixed the bug that was causing the email notifications to not happen.  They're useless and annoying though, so I disabled that test...  We haven't fixed it in years, so we're unlikely to do so now...

[2018-08-08 18:11] magicDGS commented on #5094
Ok, thanks for the feedback @lbergelson!

[2018-08-08 18:20] ldgauthier commented on #5094
I've also seen UnknownHostException: metadata, which seems like it's probably related.  My favorite part about that exception is `This is likely because code is not running on Google Compute Engine.`

[code]

[2018-08-09 15:39] davidbenjamin opened #5095 "Use wdl built in size method instead of SumFloats tasks in M2 wdl"
This can be done once Firecloud supports WDL 1.0

[2018-08-09 17:15] davidbenjamin opened #5096 "Improve Mutect2 AFs"
Currently Mutect2 emits an AF by treating the likelihoods matrix as an unnormalized posterior probability for each read.  Instead, it should use the actual posteriors computed from within the somatic likelihoods model.  This will probably improve estimates for low-AF alleles, which are currently inflated.

@meganshand Note that what I told you wasn't quite right.

[2018-08-09 18:39] chapmanb commented on #3564
David;
Thanks for this, I'd definitely be keen to clean it up and get diploid GT outputs from MuTect2, since this is still bugging a lot of folks. I'm happy to do this in post-processing but don't know a tool that then resolves these correctly. bcftools splits them apart correctly but keeps the triploid representation so would need something custom to fix that. Do you have any recommendations for

[2018-08-09 19:39] davidbenjamin commented on #3564
I have no idea about tools, but I could imagine putting all the multiallelic information necessary for filtering in an INFO field so that after splitting each line still remembers everything it needs for `FilterMutectCalls`, or at least adding an option to do so.

I could definitely be convinced to do this within the next 2-3 months if it bothers enough people.

[2018-08-09 20:52] chandrans commented on #2116
Thanks Megan. I asked them for a test case and will report in a different thread if I find something that could be improved/fixed.

[2018-08-09 20:59] SHuang-Broad commented on #4388
When reviewing the "false positive" `DUP` calls we make, it is frequently the case that the expansion length we infer is several copies shorted than the length by nearby PacBio calls, indicating the assembler we use is collapsing the expansion.
This could be the same behavior that @tedsharpe has observed.
In this case, we can report lower bound estimate and possibly use the SNP allele fraction to

[2018-08-10 14:37] cmnbroad opened #5098 "Change travis WDL test jobs to always retain the cromwell logs"
When WDL tests fail on travis it can be hard to determine the cause of the failure. We should either always retain the cromwell workflow logs, maybe in a gcs bucket, or have some easy way to opt-in for retention to make it easier to diagnose.

[2018-08-10 16:25] droazen commented on #5094
See https://github.com/broadinstitute/gatk/issues/4888, which is an older report for the same issue. As mentioned there, I think we should patch our fork of `google-cloud-java` to do a channel reopen on `UnknownHostException` for now as a quick fix. @jean-philippe-martin is eventually going to add an official configuration mechanism for clients of `google-cloud-java` to customize which errors shou

[2018-08-10 16:42] lbergelson commented on #5090
I think the gatk4 HaplotypeCaller is also significantly faster when running with the `--new-quals`
argument.

[2018-08-10 19:57] samuelklee commented on #3915
After looking more at the data from an hg38 NovaSeq run by @kcibul, I think a better strategy would be to use the normal allelic counts as a prior on whether a site is homozygous, rather than hard filtering on these sites (and pulling down corresponding counts from the tumor---this strategy was held over from GetHetCoverage/AllelicCapSeg).  The main reason is that the normal will typically be sequ

[2018-08-10 21:20] cmnbroad opened #5100 "Improve gatktool Python exception propagation"
The `gatktool` Python code installs a system exception handler to catch unhandled Python exceptions, and sends a negative ack to the `StreamingProcessController` when it sees one. The controller then grabs the stdout/stderr contents; writes it to the log/journal file; and throws a java exception.

However, there is a shutdown race condition where occasionally the GATK process will get the negative

[2018-08-13 16:47] jjfarrell opened #5101 "CNNScoreVariant CNN_1D=-16.118 for all sites"
#Bug Report

### Affected tool(s) or class(es)
CNNScoreVariant

### Affected version(s)
4.0.7.0

### Description
For 1,297,033 variant sites, the  CNN_1D=-16.118.

#### Steps to reproduce
/run_cnn.sh adsp-5k.hg38.GATK.aws-batch_SNP_INDEL.chr22.4794samples.g.vcf.gz
Using GATK jar /share/pkg/gatk/4.0.7.0/install/bin/gatk-package-4.0.7.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools

[2018-08-13 20:51] #1263 closed

[2018-08-13 20:51] #4799 closed

[2018-08-13 21:07] #4707 closed

[2018-08-14 00:04] #5066 closed

[2018-08-14 14:14] droazen commented on #4762
Closing -- this was done in #5099

[2018-08-14 14:14] #4762 closed

[2018-08-14 14:35] tomwhite opened #5103 "Known sites optimization on Spark"
Loading the known sites file (e.g. dbsnp_138.hg18.vcf) takes around 6 minutes in the Spark pipeline using `KnownSitesCache`. This ticket is to see if we can improve this.

[2018-08-14 14:42] tomwhite commented on #5103
`KnownSitesCache` loads a VCF file and turns it into an in-memory `IntervalsSkipList`, which is shared by all tasks in the same VM. The Spark job stage that uses `KnownSitesCache` in BQSR takes 6 minutes to load the file into memory, but then the stage takes another 4 minutes to complete (total 10 minutes, stage name `treeAggregate at BaseRecalibratorSparkFn.java:39`).

Another approach is to uses

[2018-08-14 14:45] tomwhite commented on #5103
I wondered how much of the time was due to parsing the VCF file. To test this, I used Kryo to serialize the `IntervalsSkipList` to a binary blob, then tried loading the binary blob directly. This reduced the load time from around 6 minutes to 4.7 minutes - so some speed improvement, but not a lot. See https://github.com/broadinstitute/gatk/tree/tw_known_sites_perf_kryo

[2018-08-14 14:46] tomwhite commented on #5103
cc @lbergelson @droazen

[2018-08-14 15:04] droazen commented on #5094
Reopening -- @ldgauthier reports that this error still occurs even after the patch in https://github.com/broadinstitute/gatk/pull/5099. With that patch, we are now retrying on `UnknownHostException`, but the retries are all failing:

[code]

[2018-08-14 15:11] droazen commented on #5094
@jean-philippe-martin Can you comment on this error with your thoughts? Despite now doing a channel reopen on `UnknownHostException` in our fork of the NIO library, all reopens are failing, which implies that this error can't be recovered from via a simple retry. Could there be something wrong in our authentication setup?

[2018-08-14 15:40] droazen commented on #5094
More info from @ldgauthier:

[code]

So it seems like the error is nondeterministic, but can't be recovered from within the same VM instance / process.

[2018-08-14 15:41] cmnbroad commented on #5103
@tomwhite In your `--files` branch, you might try enabling feature caching on the `FeatureDataSource` (assuming your sequential queries are forward-only, increasing). Without that it will execute a separate index query for each `query(interval)` to find the overlaps. If you pass a non-zero `queryLookaheadBases` value to the FeatureDataSource constructor, it will use lookahead and the feature cache

[2018-08-14 15:43] davidbenjamin commented on #4932
Perhaps this was closed by mistake.

[2018-08-14 15:47] lbergelson commented on #4932
@davidbenjamin It was closed by #5104.

[2018-08-14 15:47] #4932 closed

[2018-08-14 15:48] kvinter1 commented on #4932
Fixed by https://github.com/broadinstitute/gatk/pull/5104#pullrequestreview-146111705

[2018-08-14 15:51] lbergelson commented on #4932
It's useful to put something like  `fixes #5104` in the commit message.  That way it automatically closes the issue and shows a link from the PR to the Issue.

[2018-08-14 15:59] kvinter1 commented on #4932
Yep, sorry. Just learned that as you were closing it.

On Tue, Aug 14, 2018 at 11:51 AM, Louis Bergelson <notifications@github.com>
wrote:

[2018-08-14 16:07] davidbenjamin commented on #4932
Ah, got it.  By the way, @kvinter1 thanks for being the first person to take on a "learn GATK" issue!

[2018-08-14 16:30] tomwhite commented on #5103
@cmnbroad good idea! Reads going into BQSR are not coordinate-sorted since MarkDuplicates sorts by queryname, so it wouldn't improve anything as things stand (and would probably make things worse). However, HaplotypeCallerSpark sorts reads by coordinate - so we could move that sort to be before BQSR to benefit from the caching you suggested.

[2018-08-14 16:46] cwhelan commented on #5094
@ldgauthier 's error sounds like what I saw before when trying to run the joint genotyping pipeline. When I spoke about it with @ruchim she said that based on some experiments she did and conversations with the production team she thought it was a symptom VM's running under PAPI; Slack excerpt:

[code]

So we decided that there's an effective limit of about 17 hours for VMs managed by PAPI at whic

[2018-08-14 19:59] jjfarrell commented on #5101
@lucidtronix

Thanks for the explanation. Here are a few lines with the FILTER and INFO fields. Let me know if you need a larger subset.  I would guess that since DP is the total depth for 5000 subjects instead of just 1 that would likely be the culprit. Maybe average depth across samples could be used for a replacement variable when there are multiple samples.

[code]

[2018-08-14 20:19] SHuang-Broad opened #5111 "Bundle the whole HG19 and HG38 reference in git lfs for tests"
## Feature request

### Tool(s) or class(es) involved

SV pipeline, Funcotator, etc.

### Description

In trying to build test data for SV, time and time again we face the problem of not being able to find actual desired events on the two chromosomes 20 and 21, hence end up having to painfully perform all kinds of coordinate hacks in order to have enough test coverage.

It seems that the Funcotato

[2018-08-15 04:17] ksw9 commented on #3429
Hi,
I am encountering a similar issue in gatk-4.0.7.0, in which I find that the GenomicsDBImport combines gVCFs but leaves the majority of variants out of the final merged VCF. I called variants with DeepVariant I am not sure if the format is the problem as it was above. The header is below. Is there a fix for this or a temporary workaround?

Thank you!
[code]

[2018-08-15 04:22] ksw9 opened #5113 "GenomicsDBImport and GenotypeGVCFs produce a joint VCF missing the majority of calls"
Hi,
I am encountering an issue similar to what was described earlier (#3429)  in gatk-4.0.7.0, in which I find that the GenomicsDBImport combines gVCFs but leaves the majority of variants out of the final merged VCF. I called variants with DeepVariant I am not sure if the format is the problem as it was above. The header is below. Is there a fix for this or a temporary workaround?

Thank you!

##f

[2018-08-15 05:42] marchoeppner commented on #2865
Same...

[2018-08-15 13:43] droazen commented on #5113
@ksw9 Can you check whether this is still an issue with the latest release (4.0.8.0)? That release introduced a new version of GenomicsDB. If it is still an issue in 4.0.8.0, can you provide a shareable test case to replicate the issue?

@kgururaj Could you comment on this one as well?

[2018-08-15 13:49] LeeTL1220 opened #5114 "Need an IGV-compatible seg file to be produced alongside the copy ratio calls."
## Feature request

### Tool(s) or class(es) involved
CallCopyRatioSegments

### Description
Produce an IGV compatible seg file alongside the calls.

[2018-08-15 13:50] LeeTL1220 commented on #5114
Don't forget to expose the file in the WDL.

[2018-08-15 14:39] jonn-smith commented on #4006
This (or something similar) is also a problem in `XsvLocatableTableCodec`.

[2018-08-15 15:30] LeeTL1220 commented on #4413
@jonn-smith Any objection if I close this?

[2018-08-15 16:08] jonn-smith commented on #4413
@droazen No objection here.  It may be that my changing the db access to read only fixed the issue.

[2018-08-15 16:56] ruchim commented on #5094
@cwhelan @droazen we should co-ordinate trying to re-run Chris's workflow on a PAPI v2 backend.

[2018-08-15 16:58] droazen commented on #5094
@ruchim Agreed -- feel free to grab some free time on our calendars.

[2018-08-15 18:02] kgururaj commented on #5113
@ksw9  can you run the vcf validator tool suggested by @komalsrathi in #5045 [here](https://github.com/broadinstitute/gatk/issues/5045#issuecomment-407476343)? The issue is primarily caused by mismatch in the field description in the VCF header and the data lines.

@droazen can you comment on the [fix/check that I suggested here](https://github.com/broadinstitute/gatk/issues/5045#issuecomment-4075

[2018-08-15 18:06] jamesemery commented on #4965
So update: the builds have been broken as a result of the new mechanism for constructing smaller docker images. Namely no longer is the gatk clone and dockerfile sufficient to construct the docker image which has resulted in dockerhubs automated builds feature failing to construct the image successfully. Since there are a number of dependencies that our build has (notably things like java) and the

[2018-08-15 18:09] sanjeevksh commented on #4544
Hi @Neato-Nick @davidbenjamin

Apologies for posting this message here. I have posted this message few days before at the regular GATK forum and also using the direct inbox option but have got no response so maybe something wrong with my account.

The issue is - I have done variant calling on 384 potato samples following, mostly, GATK best   ##practices and have applied hard filters to select SNPs

[2018-08-15 18:11] davidbenjamin commented on #5058
Closed by #5092.

[2018-08-15 18:11] #5058 closed

[2018-08-15 18:32] kgururaj commented on #5113
Do you agree with the actions for both the conditions listed in the comment?

[2018-08-15 18:50] droazen commented on #5113
I'm not sure about the padding aspect of the proposal...would client code need to be aware of the padding, or would it be purely internal to GenomicsDB?

[2018-08-15 18:54] lbergelson commented on #4544
@sanjeevksh This is a good place for bug reports, would you mind moving this report to a new issue as suggested?  Thank you.

[2018-08-15 18:57] kgururaj commented on #5113
Let's take the SB field as an example - the header says it's a fixed length field of 4 integers. What should happen if one of the data lines only contains 2 integers?

Similarly, let's say the AD field (length R) in a specific line contains fewer elements than the total number of alleles (alt+1). What should happen?

This is irrespective of the internals of TileDB/GenomicsDB - should I report an e

[2018-08-15 19:00] kgururaj commented on #5113
The other scenario is what happens if the SB field in a line contains 6 integers?

[2018-08-15 19:13] #5050 closed

[2018-08-16 00:01] #4972 closed

[2018-08-16 00:01] #4985 closed

[2018-08-16 06:09] magicDGS commented on #5111
Now that htsjdk has support for indexed block-compressed FASTA, maybe the best approach is to add support also in GATK to allow this test resource to be smaller (and at the same time, check integration with other tools).

@droazen - is there any plan to include support for bgzip FASTA in GATK soon? I can take that as a small project if you are interested, but I should plan it somehow to be sure ab

[2018-08-16 14:17] droazen commented on #5111
@magicDGS @lbergelson has a branch coming soon that adds GATK support for `fasta.gz`, I believe. We definitely plan to check in the references in compressed form, as they are ~4x smaller!

[2018-08-16 16:58] #4819 closed

[2018-08-16 17:02] #5065 closed

[2018-08-16 19:46] #1481 closed

[2018-08-16 19:46] #3567 closed

[2018-08-16 19:53] AgaricX commented on #4891
This is an essential tool for people examining regions with both variant and invariant sites - basically anyone studying evolution.  Please add this to 4.0.

[2018-08-16 20:01] ldgauthier commented on #5113
I'd rather be rigorous and error out.  If we pad the missing values there could still be other repercussions downstream.

[2018-08-16 21:01] LeeTL1220 commented on #4609
What to do about the FeatureInputs?  The list will be quite long for some datasources and we are likely going to discard the data anyway. Note that the feature lookup is in the engine, not part of the datasources.

[2018-08-17 04:42] ksw9 commented on #5113
Dear all, thank you for the quick reply! Yes, I tried this on the latest release (4.0.8.0), and it is still an issue. vcf-validator validates the input VCFs, however, in the output VCF, I get errors associated with the field descriptions for the VAF annotation (which I believe may be specific to DeepVariant), a few of which are pasted below:

The header tag 'reference' not present. (Not required b

[2018-08-17 20:10] meganshand commented on #3184
@davidbenjamin This seems to now be a problem for `PalindromeArtifactClipReadTransformer` as well. In cases where there are soft clips you can miscalculate the `adaptorBoundary`. For mitochondria this causes edge case problems if you're on the end of the contig. I suppose for that specific case it could be fixed in `PalindromeArtifactClipReadTransformer` directly, but it makes more sense  to happe

[2018-08-20 23:41] kgururaj commented on #5113
I could retrieve the data correctly.

I "faked" the reference genome  - could you point me to reference fasta you are using?

[2018-08-21 13:43] tomwhite commented on #5103
I can report that this worked well - the BQSR stage came down in time from 10 min to 4.7 min - a very significant improvement. I'm going to look at doing something similar with the reference.

[2018-08-21 19:49] chandrans opened #5126 "PrintReadsSpark log4j error"
Hello!

When I try running gatk 4.0.7.0 on spark 2.2 Microsoft Azure hdinsight cluster (using data from here https://gatkforums.broadinstitute.org/gatk/discussion/6484/how-to-generate-an-unmapped-bam-from-fastq-or-aligned-bam#optionA) I get "java.lang.NoClassDefFoundError: org/apache/logging/log4j/core/appender/AbstractAppender" error like the one below.

The thing that gatk-package-4.0.7.0-spark.

[2018-08-21 19:50] chandrans commented on #5126
@tomwhite Hi Tom. I think you can help here? The user has posted some extra information in the thread you might find useful.

[2018-08-21 19:52] ksw9 commented on #5113
Thanks for checking this - I'm attaching the zipped reference fasta.
Best,
[H37Rv.fa.zip](https://github.com/broadinstitute/gatk/files/2307820/H37Rv.fa.zip)

[2018-08-22 13:37] samuelklee commented on #3915
Sure, here you go:

![kristian](https://user-images.githubusercontent.com/11076296/44466656-cde5f780-a5ee-11e8-970d-7a7b22fdad1d.png)
![tcga](https://user-images.githubusercontent.com/11076296/44466660-d0485180-a5ee-11e8-9b86-a8687a2a1502.png)

[2018-08-22 14:18] #4006 closed

[2018-08-22 15:14] ldgauthier commented on #4371
Great news!  I'm looking forward to seeing your detailed results tomorrow.

This can be low priority unless it's a dramatic improvement over what's in the current Talkowski Lab pipeline.  (I remember when we met with Ryan and Harrison a while ago that their approach wasn't as sophisticated, but it seems to get the job done.)  I'll talk to Harrison about it tomorrow.

[2018-08-22 15:20] janrehker commented on #2865
This feature would help me obliterate a horrible, horrible hack in my pipeline, thus replacing it with a solution of delight and beauty.
+1

[2018-08-22 16:00] jonn-smith commented on #4380
Create a checksum to validate individual data sources based on the size of the data source files and some other meta attributes.  Calculate the checksum for each data source in each data source package (somatic/germline).  Store these checksums in the GATK jar and validate the data sources at runtime.

Default to an exception if the checksums do not match.

Have a command-line option to reduce the

[2018-08-22 16:01] jonn-smith commented on #4549
For initial 1.0 release, just have a tool that will download the zipped data source package specified by the user from the bucket/ftp site.

[2018-08-22 17:10] droazen opened #5128 "Remove Funcotator hardcoded version"
Currently `Funcotator` is the only GATK tool that specifies its own version by overriding `getVersion()`. However, it doesn't actually use this version number for anything (even the datasource version check does not use it). We should just remove it, and use the GATK version as the Funcotator version.

[2018-08-22 18:30] droazen commented on #4685
We've fixed the `3.8-1` tag in the `broadgsa/gatk` repo -- closing!

[2018-08-22 18:30] #4685 closed

[2018-08-23 15:53] chapmanb opened #5130 "String index out of range in ReferenceBases.annotate when calling variants at ends of chromosomes using MuTect2"
## Bug Report

### Affected tool(s) or class(es)

MuTect2 for the test case, but any caller using the Reference Bases annotation and calling bases near the end of chromosomes.

### Affected version(s)

This occurs with the latest release (4.0.8.1) and not with the previous (4.0.7.0). It appears to be related to the addition of the Orientation Bias filter (#4895) and assessing sequence context:

ht

[2018-08-24 14:52] davidecarlson commented on #4891
I would love to have this in GATK4 as well!

[2018-08-24 16:37] jamesemery opened #5133 "Investigate why some files have incorrect counts in CountReadsSpark"
In doing MarkDuplicatesTesting I have encountered a number of large files output by MarkDuplicatesSpark that appear to have gained reads (890615361 total -> 890615487 total) when counting the reads using CountReadsSpark. Unfortunately it appears that CountReadsSpark is miscounting the reads in these files as its count disagrees with both the tool itself and normal CountReads. This doesn't apparent

[2018-08-24 16:38] jamesemery commented on #5133
To clarify, it fails not just for CountReadsSpark, for other GATKSparkTools that call `readsRDD.count()` also seem to have this problem.

[2018-08-24 16:50] ksw9 commented on #5113
Yes, it runs for me as well, but, for me, output 37 variant sites. I have a true VCF for these files and the majority of known variants are missing. i.e. site 1977. For instance:
zcat CDC1551_clean_mutated_1.fasta_1_1.bwa_deep.g.vcf.gz | grep 1977

I'm worried that one of the annotations is unexpected by GATK and is inadvertently filtering out many true variants. Thanks for looking into this.

[2018-08-24 18:29] droazen commented on #5133
@tomwhite We'd like your help in determining whether this is a problem in Hadoop-BAM (and if so, whether it's fixed in Disq).

[2018-08-24 19:43] TepoltC commented on #4891
I'd also love to see this feature in v4 - as has been stated above, it's a great tool for a lot of evolutionary work.

[2018-08-24 20:00] droazen commented on #5094
This was resolved by a patch to PAPIv1 just released by Google (see https://partnerissuetracker.corp.google.com/issues/112704449). Closing!

[2018-08-24 20:00] #5094 closed

[2018-08-24 20:02] droazen commented on #3765
Closing -- this was done in https://github.com/broadinstitute/gatk/pull/4469

[2018-08-24 20:02] #3765 closed

[2018-08-24 20:03] droazen commented on #3591
Fixed in `google-cloud-java` 0.59.0

[2018-08-24 20:18] droazen opened #5136 "Print google-cloud-nio version on startup"
Like we do for Picard and htsjdk. Will require us to store the google-cloud-java version in the jar manifest.

[2018-08-24 20:30] jamesemery commented on #5133
Update: I have looked as far back as gatk4.0 and found the same issue, so it likely isn't a recent Hadoop-BAM issue (like the new split guessing).

[2018-08-24 20:38] droazen commented on #5130
@davidbenjamin A Mutect bug/possible regression for you to look at when you return

[2018-08-24 21:05] #3500 closed

[2018-08-24 21:05] #3591 closed

[2018-08-24 21:05] #4986 closed

[2018-08-25 18:45] kgururaj commented on #5113
I see - can you run the tool SelectVariants instead of GenotypeGVCFs and check whether you get all the lines in the input gVCFs (I got them). If SelectVariants' output is correct, then GenomicsDB is functioning as expected.

[2018-08-27 09:05] tomwhite commented on #5133
@jamesemery can you share a file that you're seeing the issue with please?

[2018-08-27 16:25] SHuang-Broad opened #5139 "Bump test coverage for SV utils package"
We've been implementing new features but the coverage in the `sv.utils` package has been non-pretty.

Some of the classes like  `ExternalCommandlineProgramModule.java` and `GATKSVVCFConstants.java` are OK (`ExternalCommandlineProgramModule` exists for historical reason, when we had SGA as the assembler; `GATKSVVCFConstants` is mostly holding String literals), but other classes are doing actual wor

[2018-08-27 17:35] #4766 closed

[2018-08-28 15:36] #4378 closed

[2018-08-28 17:13] jonn-smith commented on #4317
This overlaps with #3841, so may only need MNP/SNP tests.

[2018-08-28 17:14] jonn-smith commented on #4317
Get GT from oncotator runs for the new standard somatic test dataset (hg38 trio), then run in Funcotator to compare.

[2018-08-28 17:18] jonn-smith commented on #4359
Put exclusion list into OutputRenderer at construction time, then check on `write`.

[2018-08-28 17:39] jonn-smith commented on #4344
Do an oncotator run, get a few of each `variantClassification` and make that the ground truth.

[2018-08-28 17:45] #4413 closed

[2018-08-28 17:48] jonn-smith commented on #4668
Create new comparators and toggle between the two.

[2018-08-28 17:50] jonn-smith commented on #4693
Need to add for MAF in the `\t` case.

[2018-08-28 17:57] jonn-smith commented on #4712
@chatchawit Is this still an issue?

[2018-08-28 18:04] jonn-smith opened #5141 "Funcotator - update WDL to include exclude annotations"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description
When the argument to exclude a set of annotations in output is implemented, this must be added as an option in the Funcotator/M2 `WDL`.

[2018-08-28 18:25] droazen commented on #4804
@jonn-smith I think you should close this issue in favor of https://github.com/broadinstitute/gatk/issues/4307, since https://github.com/broadinstitute/gatk/issues/4307 is a strict superset of this issue.

[2018-08-28 20:45] jonn-smith commented on #4804
OK - will do.

[2018-08-28 20:45] #4804 closed

[2018-08-28 20:45] jonn-smith commented on #4307
From #4084:

Funcotator must be able to handle indels that span exon start boundaries.

For example, in hg19 the following variant is not handled properly:

chr5:71622537-71622538 CA->C

The current workaround is to throw a FuncotatorUtils.TranscriptCodingSequenceException for the transcript causing this problem in Gencode.

[2018-08-28 22:18] sbamin commented on #5130
I am getting the similar error (gatk 4.0.8.1), and in my case, it does not help even if I trim end by 1-base. Does trimming one base also apply to length of an entire chromosome if I am supplying `-L 1:1-100000`?

[code]

[2018-08-28 23:52] chapmanb commented on #5130
Samir;
I'm not entirely sure about the fix, but based on where I think it's coming from you'll want to work around the problem by avoiding at least 10bp towards the start/end of a chromosome. That's the amount of sequence context it's filling around the variant. Hope this helps for your problem case.

[2018-08-29 02:31] chatchawit commented on #4712
Hi John,

The last time (a couple months ago) I were not able to run the Funcotator with my data. I've already switched to Oncotator and almost finish the project.

Best,

Chatchawit A.

________________________________
From: Jonn Smith <notifications@github.com>
Sent: Wednesday, August 29, 2018 12:57 AM
To: broadinstitute/gatk
Cc: Chatchawit Aporntewan; Mention
Subject: Re: [broadinstitute/gatk]

[2018-08-29 14:20] cmnbroad opened #5143 "Audit Funcotator FeatureCache access patterns"
I ran the full test suite using a [branch](https://github.com/broadinstitute/gatk/tree/cn_check_cache_thrash) that throws if a tool ever tries to query the FeatureCache using a query interval that is earlier than, but on the same contig as, the one currently cached. Several tests [failed](https://travis-ci.org/broadinstitute/gatk/builds/422089722), including a few of the Funcotator ones:

Funcotat

[2018-08-29 14:35] #4712 closed

[2018-08-29 14:53] jprnz opened #5145 "UnsatisfiedLinkError when running StructuralVariationDiscoveryPipelineSpark"
### Bug Report
When running the StructuralVariationDiscoveryPipelineSpark, I am getting the following error:

[code]

I am running version 4.0.8.1 of GATK using openjdk version 1.8.0_212.
The command I am using is:

[code]

Thanks for taking a look!

[2018-08-29 14:55] droazen commented on #5130
@takutosato Could you please have a look at this one when you get a chance? It might be related to your recently-merged PR https://github.com/broadinstitute/gatk/pull/4895

[2018-08-29 14:59] droazen commented on #5143
Interesting, thanks for doing this experiment. It's already clear to me that Funcotator will need a different caching strategy for https://github.com/broadinstitute/gatk/issues/4771 -- I was going to implement one after merging your reads caching PR. Re-assigning this ticket to myself.

[2018-08-29 15:01] droazen commented on #5143
I'll add that we do already know that the existing caching strategy massively improves Funcotator performance (by about an order of magnitude!) due to an evaluation that @lbergelson did.

[2018-08-29 15:34] takutosato commented on #5130
I'm on it

[2018-08-29 16:14] jonn-smith commented on #4344
This should be done in the soon-to-be-merged `FuncotatorEngine` as a unit test.

[2018-08-29 16:27] jonn-smith commented on #4582
#4692 should be fixed in conjunction with this.

[2018-08-29 16:27] jonn-smith commented on #4692
#4582 should be fixed in conjunction with this.

[2018-08-29 16:28] ksw9 commented on #5113
Hi,
Do you mean run SelectVariants on the output of gatk GenomicsDBImport?
I tried that. My GT calls are converted into nocalls for some reason. For example, a known variant site:

NC_000962.3     1977    .       A       G,<NON_REF>     .       .       .       GT:AD:GQ:PL:VAF ./.:0,92,0:46:48,50,0,990,990,990:1.00,0.00     ./.:0,90,0:46:47,49,0,990,990,990:1.00,0.00

I think this may be contributi

[2018-08-29 17:13] kgururaj commented on #5113
Nope, that's expected behavior - SelectVariants uses a flag that disables GT field printing.

If you see all the expected lines in the output of SelectVariants (barring the GT field), then the data is stored and imported from GenomicsDB correctly.

[2018-08-29 17:33] ksw9 commented on #5113
Okay, so that means that GenotypeGVCFs then is the issue, correct? Because the output of this call is a truncated set of variants which appear in my gVCFs.

[2018-08-29 17:35] cwhelan commented on #5145
@tedsharpe Do you have any thoughts on how to address this?

[2018-08-29 17:37] kgururaj commented on #5113
GenotypeGVCFs is beyond my expertise - so I can't say anything

Returning to @droazen.

Summary: GenomicsDB stores and returns (using SelectVariants) all the variants as expected. @ksw9  has some questions about the output of GenotypeGVCFs.

[2018-08-29 19:44] cmnbroad opened #5148 "Audit Mutect2/HC FeatureCache access patterns"
I ran the full test suite using a [branch](https://github.com/broadinstitute/gatk/tree/cn_check_cache_thrash) that throws if a tool ever tries to query the FeatureCache using a query interval that is earlier than, but on the same contig as, the one currently cached. Several tests failed, including a few of the Mutect2/HC ones:

Mutect2IntegrationTest.testContaminationFilter
Mutect2IntegrationTest.

[2018-08-29 19:50] ldgauthier commented on #5113
@ksw9 can you share the missing variants, i.e. those are are in the GenomicsDB output and not in the GenotypeGVCFs output?  I suspect that they're borderline in quality and aren't making the QUAL cutoff.  The fact that the PL[0] of the variant at NC_000962.3:1977 is only 48 means that the confidence that this size is not homozygous reference is pretty low.  This is just the likelihood, so when Gen

[2018-08-29 19:50] sbamin commented on #5130
Hi Brad,

 Thanks for a temporary fix. It works with GATK v 4.0.8.1, though I skipped trimming start coordinates, and only trimmed end by 10bp.

[2018-08-30 15:12] tedsharpe commented on #5145
It appears that the linux version of the packaged libfml was compiled with a different version of gcc than the one on jprnz's machine.  (We compile so that we have the right version for a Google dataproc cluster.)
I think the best thing to do would be to download git@github.com:broadinstitute/gatk-fermilite-jni.git, and follow the instructions in the last paragraph of the readme for doing a local

[2018-08-30 18:08] kvinter1 commented on #944
See pull request: https://github.com/broadinstitute/gatk/pull/5122

[2018-08-30 18:08] #944 closed

[2018-08-30 19:28] jonn-smith commented on #4582
We determined that dbSNP should have the `all` data.

Individual data sources will be versioned as well as the Broad-provided packages.

Broad-packaged data sources will be semantic versioned (see https://semver.org/) with the `patch` version corresponding to the date of release and any `decorators` on the data.

A decorator is an arbitrary string that adds information to the version.  For instanc

[2018-08-30 19:41] #1525 closed

[2018-08-30 20:47] #3896 closed

[2018-08-30 21:39] takutosato commented on #5130
@chapmanb, @sbamin, thank you for reporting the error.

I fixed the bug by padding the reference bases with N's when we reach the end of the chromosome, with the variant base in the middle

But in retrospect, I'm pretty sure @davidbenjamin would rather slide the center and get real bases (i.e. variant need not be in the center). So I'll write that version tomorrow.

PR is #5151

[2018-08-31 01:18] chapmanb commented on #5130
Takuto -- thanks so much for working on this, I appreciate the quick fix.

[2018-08-31 12:40] sbamin commented on #5130
Thanks @takutosato for quick fix and love the openness of the code. Now, I understand what's happening inside gatk commands. Much appreciated.

[2018-08-31 12:59] jprnz commented on #5145
@tedsharpe this seems like a reasonable short-term fix.

[2018-08-31 17:43] #4582 closed

[2018-08-31 17:43] #4692 closed

[2018-09-03 07:26] lecook commented on #4891
This would be amazing to have in GATK 4. Super useful!

[2018-09-03 20:40] lbi-usp commented on #4891
Count me as another who would like to have it on GATK 4

[2018-09-04 08:28] tomwhite opened #5152 "Use Dataproc 1.3 (Spark 2.3.0) for Spark eval scripts"
Test the scripts running on Dataproc 1.3. See https://github.com/broadinstitute/gatk/pull/5125#issuecomment-417345290 for background.

[2018-09-04 15:13] droazen commented on #2865
May be able to use the existing `MultiVariantWalkerGroupedOnStart` traversal

[2018-09-04 15:13] droazen commented on #2865
Re-assigning to @cmnbroad

[2018-09-04 17:38] vruano opened #5153 "Improvements to the Insert-Size Distribution framework for SV."
As noted by @tedsharpe in the corresponding pull request #4827 there is stuff that can be done to improve the current code:

This is difficult to review because there isn't any client code: I don't know how this is going to be used. I suspect I'd have a lot of "YAGNI" comments if I knew.
For example, you are basing all your implementations on Apache's AbstractIntegerDistribution. That class, it se

[2018-09-04 19:46] SHuang-Broad opened #5154 "Change how SVInterval 's are used in sv.discovery package"
Turns out I've been self-consistently using SVIntervals as BED intervals, which is the wrong interpretation according to its methods `toBEDInterval(...)` and `toSimpleInterval(...)`.

Note to self to update the interpretation in package `sv.discovery`

[2018-09-04 19:51] droazen commented on #5154
Have you considered merging `SVInterval` with `SimpleInterval`? What's the rationale for keeping them separate?

[2018-09-04 19:53] droazen commented on #5154
Also, this comment at the top of `SVInterval` is pretty scary: "**Some** methods assume that the interval is half-open"

[2018-09-04 19:54] SHuang-Broad commented on #5154
I believe the intention was to have a lightweight object as light as possible (note it only holds three `int`s)?
Am I right, @tedsharpe ?

I'm working improving the documentation a bit.

[2018-09-04 20:06] tedsharpe commented on #5154
Yes.  We shuffle gazillions of them in Spark operations.

[2018-09-04 20:08] droazen commented on #5154
I wonder if we could factor out a common base interface to cut down on code duplication, and ensure a more consistent API across `SimpleInterval` and `SVInterval`?

[2018-09-04 20:36] droazen commented on #5154
Hmmm....as an alternate proposal, what if we implemented a custom serializer for `SimpleInterval` that does the contig name -> index and index -> contig name conversion transparently at serialization/deserialization time? Would that address the performance issue with shuffles and allow us all to share the same interval class?

[2018-09-04 21:16] tedsharpe commented on #5154
SVIntervals are comparable, and provide the same total order as coordinate-sorted BAMs.  They can encode any contiguous stretch of bases on the reference, or strand-sensitively on its reverse complement.  They can encode 0-length intervals (i.e., locations) to indicate things like the precise, unambiguous location of an insert between two reference bases.  They're super light-weight, and cache fri

[2018-09-05 05:59] ahwanpandey opened #5158 "Mutect2 [Version:4.0.2.1] missing DP in the FORMAT column"
I am using Mutect2 [Version:4.0.2.1] and I don't see the DP values in the FORMAT column.

[code]

I have seen this issue in other places as well and it says that it was fixed a while back
https://github.com/broadinstitute/gatk-protected/issues/872

Another from your forums:
https://gatkforums.broadinstitute.org/gatk/discussion/9859/dp-is-missing-from-the-mutect2-gatk-4-beta

And looking at the Mut

[2018-09-05 19:42] cwhelan opened #5160 "Make CombineGVCFs and GenomicsDBImport properly compute AD over overlapping deletions"
When https://github.com/broadinstitute/gatk/pull/4963 is merged, HaplotypeCaller will produce more spanning deletions, and in some instances will produce spanning deletion alleles for deletions that are overlapped by other deletions. In those instances, CombineGVCFs and GenomicsDBImport do not properly compute the genotype FORMAT AD and DP tags for sites overlapped by the deletions.

For example,

[2018-09-05 20:45] sooheelee commented on #3487
Testing branch `ck_3487_port_LeftAlignAndTrimVariants`, which ports LeftAlignAndTrimVariants from GATK3 to GATK4.

[code]

[2018-09-05 21:28] sooheelee commented on #3487
Now run with `--maxIndelSize >= 250`.
[code]

md5
[code]
Retains same number of records as original.
[code]

[2018-09-05 21:48] sooheelee commented on #3487
So here are the improvements to the tool:
- Does not silently drop variants with max indel size >200. Keeps them but does not left-align nor trim them. Setting `--maxIndelSize` appropriately allows processing these.

Small quips that remain from before:
- Stdout still says `0 variants left aligned`. A count of variants that were left-aligned-and-trimmed would be helpful.
- Stdout still only lists

[2018-09-05 21:53] sooheelee commented on #3487
Just a quick test of `--splitMultiallelics` looks good:
[code]

[2018-09-06 02:45] cwhelan commented on #2960
Fixed via https://github.com/broadinstitute/gatk/pull/4963

[2018-09-06 02:45] #2960 closed

[2018-09-06 02:49] SHuang-Broad commented on #5077
github closed this automatically via #5116 , but that PR only partially solved the problem.
reopening.

[2018-09-06 18:10] sooheelee commented on #3487
Testing updated branch with improved messaging.
[code]
Multiple changes to messages in stdout. Includes # total records, number of records that were trimmed, # variant records skipped due to ref allele being too long and finally the max-indel-length value that needs to be set to include these in the leftalignandtrim. This is an improvement to previous stdout messaging.

Upping max-indel-length
[co

[2018-09-06 19:56] sooheelee commented on #3487
I am happy with the port and the improvements to the tool by @kachulis. Many thanks.

[2018-09-06 19:56] #3487 closed

[2018-09-06 20:21] droazen opened #5163 "Check whether CombineGVCFs and GenomicsDBImport handle the case of multiple banding schemes correctly"
Now that we're changing the default GVCF banding scheme for the first time ever, this might become a more common issue, where different input GVCFs have different banding schemes. We should check whether `CombineGVCFs` and `GenomicsDBImport` handle this case correctly.

[2018-09-06 21:48] droazen commented on #5130
Fixed in https://github.com/broadinstitute/gatk/pull/5151

[2018-09-06 21:48] #5130 closed

[2018-09-07 09:37] lytze commented on #4343
I also encountered this issue with space characters in the path to the GVCFs. Replacing the spaces with `-` solved the problem.

[2018-09-07 19:13] jamesemery opened #5167 "Add Remove-Duplicates and ProgramGroup arguments to MarkDuplicatesSpark"
In the process of removing MarkDuplicatesGATK, I noticed that there were some low hanging fruit features that could be implemented in MarkDuplicatesSpark. Removal of duplicated reads and amending of the program grouping code are both easy features to port to MarkDuplicatesSpark that are currently missing.

[2018-09-07 19:18] jamesemery commented on #5133
Based on testing performed on google cloud, this problem seems to have resolved itself after we updated to the newest googleCloudJava package in this #5135. Something fixed by switching off of our ancient fork must have been responsible for the file being misread by spark. I suggest we close this issue as it appears to be resolved unless @droazen you want to do a post-mortem to figure out what the

[2018-09-07 19:20] lbergelson commented on #5133
I really want to know what caused this... it seems super dangerous to me.

[2018-09-09 02:11] oldmikeyang opened #5169 "MarkDuplicatesSpark NPE when input is missing ReadGroup"
## Bug Report

### Affected tool(s) or class(es)
MarkDuplicatesSpark

### Affected version(s)
- [ ] Latest public release version [version?]
4.0.8.1
- [ ] Latest master branch as of [date of test?]
Sep 10, 2018

### Description
18/09/08 10:32:49 INFO scheduler.TaskSetManager: Starting task 0.0 in stage 6.0 (TID 515, localhost, executor 1, partition 0, NODE_LOCAL, 5270 bytes)
18/09/08 10:32:49 INFO

[2018-09-10 13:56] ldgauthier opened #5171 "HaplotypeCaller should use realigned reads for ref conf calc in flanking regions"
At some positions (such as 20:10001430 in src/test/resources/org/broadinstitute/hellbender/tools/haplotypecaller/expected.testGVCFMode.gatk4.g.vcf) reads with mismatches or indels in the BWA-aligned pileup get realigned during local assembly (where they will get evaluated as variants in the active region).  However, the flanking regions adjacent to the active region are evaluated using the origina

[2018-09-10 14:02] lbergelson commented on #5169
@oldmikeyang Thank you for reporting and then following up.  I'm going to reopen this because we should not be crashing with an NPE.  We should provide a useful error message in this common error case.

[2018-09-10 15:44] #4896 closed

[2018-09-10 16:32] droazen commented on #5133
Agreed -- let's do a bit more digging before closing this. If we don't understand the underlying cause, we'll be in constant danger of re-introducing this bug. At the very least, I'd like @tomwhite to be able to reproduce this and have a look.

[2018-09-10 17:15] samuelklee opened #5174 "Upgrade picard version and gCNV WDLs after scatter-by-interval is added to IntervalListTools."
See https://github.com/broadinstitute/picard/pull/1208.

[2018-09-10 17:17] samuelklee commented on #4482
Closed by #5082.

[2018-09-10 17:17] #4482 closed

[2018-09-10 21:14] #4549 closed

[2018-09-11 11:56] avneeshbt commented on #4891
Please count me also. It is very useful tool. My whole pipeline is with GATK4, so it would be best to have this tool too.

[2018-09-11 17:48] jonn-smith commented on #4400
From Lee:

he COSMIC datasource in oncotator simply finds all overlapping records and counts the protein change ("Mutation AA") values.  Like a histogram of all overlapping records. (edited)

`mutation_AAs = collections.Counter([entry['Mutation AA'] for entry in overlapping_cosmic_entries])`

[2018-09-11 17:48] jonn-smith commented on #4400
Looks like COSMIC should contain all the needed info to create this annotation properly.  Will adjust LOE for this issue.

[2018-09-12 12:44] 13am commented on #2865
+1

[2018-09-12 17:57] jonn-smith commented on #4400
@LeeTL1220 Should the default funcotation here be an empty string, or "0"?  Currently it's the latter, but with this update it seems that with this change we should switch to empty string.

[2018-09-12 18:44] jonn-smith opened #5178 "One ProgressBar to rule them all. One ProgressBar class hierarchy to bind them."
## Feature request

### Tool(s) or class(es) involved
_org.broadinstitute.hellbender.engine.ProgressMeter_
_org.broadinstitute.hellbender.utils.nio.NioFileCopierWithProgressMeter_

### Description
One `ProgressBar` to rule them all.  One `ProgressBar` class hierarchy to bind them.

Progress bars/meters should be consolidated into a single class hierarchy, with threaded updates that are triggered b

[2018-09-12 18:47] jonn-smith opened #5179 "ProgressMeter should include an estimated time remaining/estimated completion time."
## Feature request

### Tool(s) or class(es) involved
_org.broadinstitute.hellbender.engine.ProgressMeter_

### Description
`ProgressMeter` does not currently let the user know how much longer to expect a tool to run on its data.

This can be computed by keeping a tally of the number of entries complete, how long they take, and how many there are in total.

The expected remaining time should then

[2018-09-12 18:48] droazen commented on #5179
It's not always possible to know in advance how many records there are total (think streaming data from the cloud)

[2018-09-12 19:04] jonn-smith commented on #5179
Good point.

In the cases when you're running a tool on a data set with a knowable number of records, it would be useful to have this feedback.

[2018-09-12 19:56] lbergelson opened #5180 "audit use of ReferenceSequenceFile and replace with ReferenceUtils.loadFastaDictionary()"
There are a lot of sites where a `ReferenceSequenceFile` is created only to load a sequence dictionary from it.  These should be replaced with calls to `ReferenceUtils.loadFastaDictionary()`

There may be updates that can be made to `ReferenceUtils` that make use of new methods in `ReferenceSequenceFileFactory`

[2018-09-13 07:55] rasmushenningsson opened #5183 "Change "##Mutect Version=x.y" to "##MutectVersion=x.y""
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- [x] Latest public release version [2.1]
- [x] Latest master branch as of [2018-09-13]

### Description
The VCF header line
"##Mutect Version=x.y"
causes problems for some VCF readers. Each header line is required to be a key-value pair and a space character is not expected in the key. (The VCF specification is not

[2018-09-13 14:35] #5169 closed

[2018-09-13 15:32] #4400 closed

[2018-09-13 16:26] davidbenjamin commented on #5183
Thanks for spotting this, @rasmushenningsson!

[2018-09-13 16:37] davidbenjamin commented on #5158
Thanks, @ahwanpandey!

[2018-09-13 16:40] davidbenjamin commented on #5096
Another useful thing would be to emit not just a point estimate of AF but also the full Dirichlet (Beta for biallelic sites) posterior on AF.

[2018-09-13 18:15] jonn-smith opened #5186 "Funcotator should include the ID field of a VCF data source when creating annotations"
## Feature request

### Tool(s) or class(es) involved
_Funcotator, VcfFuncotationFactory_

### Description
When using a VCF file as a data source, `Funcotator` should include the `ID` column as a separate funcotation.  The specific use case is for CLINVAR, but should apply to all VCF data sources.

The annotation can be added as `<NAME>_ID` in the VCF data source's output annotations.

This featur

[2018-09-13 18:22] jonn-smith opened #5187 "Funcotator should create a cDNA annotation for Intronic Splice Sites"
## Feature request

### Tool(s) or class(es) involved
_Funcotator,GencodeFuncotationFactory_

### Description
When annotating a variant and the `VariantClassification` is `SPLICE_SITE, INTRON`, Funcotator should include a non-empty `cDNA` annotation.

This `cDNA` annotation should include the number of bases that the start of the variant is away from the exon, as well as the reference and alternat

[2018-09-13 19:40] droazen opened #5189 "Picard tools run through GATK interpret ":" character as a tag delimiter"
[code]

See https://gatkforums.broadinstitute.org/gatk/discussion/comment/51988#Comment_51988

[2018-09-13 19:40] droazen commented on #5189
@cmnbroad Can you think of an easy fix for this?

[2018-09-13 19:43] chandrans commented on #5189
Thanks David and Chris.

[2018-09-13 20:05] #4204 closed

[2018-09-14 00:14] cmnbroad commented on #5189
It looks like they're using a strange hybrid of Picard and Barclay syntax. If they just use pure Barclay syntax  with no "=" (`--RUN_DATE 2011-04-30T01:00:00+0100`) when running the Picard tool from gatk, the error message should go away.

The only part I don't understand is that they say the hybrid syntax works if they leave out `RUN_DATE`. I wouldn't expect that - I'll have to look into it.

[2018-09-14 17:15] jamesemery commented on #4598
This task has been subsumed by MarkDuplicatesSpark work

[2018-09-14 17:15] #4598 closed

[2018-09-14 17:18] jamesemery commented on #3705
This task has been completed with recent updates to the tie-breaking code, to continue tracking MarkDuplicatesSpark tie out see this branch: #4675

[2018-09-14 17:18] #3705 closed

[2018-09-14 18:39] #5002 closed, assigned to lbergelson

[2018-09-15 09:30] oldmikeyang commented on #4515
I got the same problem during init the reference

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/tmp/hadoop-test/nm-local-dir/usercache/test/filecache/10/__spark_libs__432295722740457932.zip/slf4j-log4j12-1.7.16.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/opt/hadoop-2.8.4/share/hadoop/common/lib/slf4j-log4j12-1.7.10.

[2018-09-15 10:31] oldmikeyang commented on #4515
Add increase both the driver and executor memory to 12G, the problem go way.

[2018-09-17 14:00] #5183 closed

[2018-09-17 14:01] #5158 closed

[2018-09-17 18:45] droazen commented on #4290
@davidbenjamin This is the issue I was talking about -- the relevant code is in `MannWhitneyU`:

[code]

Where `testStatU` is a double. This has caused issues like the one reported in https://github.com/broadinstitute/gatk/pull/5190. I'm wondering whether the class can be refactored to not use a double as a key.

[2018-09-17 18:52] cmnbroad opened #5195 "CRAMs generated by GATK don't always have M5/UR attributes in the sequence dictionary"
See https://github.com/samtools/htslib/issues/769#issuecomment-422041279. These are requried by the CRAM spec, but htsjdk-generated files will only have them if they appear in the input/source dictionary from which the CRAM was generated. The fix should be in htsjdk see https://github.com/samtools/htsjdk/issues/506.

[2018-09-17 19:54] sooheelee commented on #1572
Was the `--disable-flush-to-zero` CLI option merged at some point? Can someone please point to the PR? Thank you.

[2018-09-17 20:16] droazen commented on #1572
@sooheelee No, I don't believe that this option was ever implemented.

[2018-09-17 20:57] sooheelee commented on #1572
I have a researcher interested in understanding the WARN:
[code]
at <https://gatkforums.broadinstitute.org/gatk/discussion/11433/haplotypecaller-warnings-depthpersamplehc#latest>. I'd like to be able to enumerate more on the matter. I see these parameters for HaplotypeCaller that seem to be related (please correct me if I am mistaken):
[code]
and
[code]
where the former is `false` and the latter i

[2018-09-17 21:19] droazen commented on #1572
@sooheelee "Flush to zero" or FTZ is a CPU flag that causes extremely small floating-point values to be treated as 0. Enabling this flag improves performance and consistency across PairHMM implementations, without causing precision loss of any significance.

[2018-09-18 15:35] frank-y-liu commented on #4290
I quickly looked at the nature of Mann-Whitney test. Seems to me the current implementation is correct algorithmic-wise. @droazen , I guess your concern is that using double as the key to the look-up function in `map` is too fragile?

[2018-09-18 15:39] droazen commented on #4290
@frank-y-liu Yes, I think it's not only fragile, but the direct cause of the error you're seeing. @davidbenjamin has agreed to attempt a refactor of the class when he has some free time.

[2018-09-20 16:18] jamesemery commented on #5133
@tomwhite has discovered the source of this bug and opened a PR in disq: https://github.com/disq-bio/disq/pull/34. It looks like it was related to gvcf block boundaries being multiples of the split guessing default.

[2018-09-20 19:17] droazen opened #5198 "Write tests for all functionality in the CRAM spec"

[2018-09-20 19:19] droazen opened #5199 "CRAM Joel Sabbatical 4Q 2018 Epic"

[2018-09-20 19:22] droazen opened #5200 "Study CRAM spec in preparation for 4Q Epic"
CRAM spec is here: https://github.com/samtools/hts-specs

[2018-09-20 19:24] droazen opened #5201 "Do a refactoring pass on existing htsjdk CRAM code"

[2018-09-20 19:24] droazen opened #5202 "Deal with CRAM bug backlog in htsjdk"

[2018-09-20 19:25] droazen opened #5203 "Identify unimplemented/missing features from the CRAM spec in htsjdk"

[2018-09-20 19:27] droazen opened #5204 "Improve unit test coverage for existing CRAM classes"

[2018-09-20 19:29] droazen opened #5205 "Improve performance of htsjdk CRAM code"

[2018-09-20 19:29] droazen commented on #5205
Reading performance is particularly important

[2018-09-20 19:31] droazen opened #5206 "Implement unimplemented/missing features from the CRAM spec in htsjdk"

[2018-09-20 19:33] droazen opened #5207 "Study htslib CRAM implementation"
There may be features that aren't in the spec

[2018-09-20 19:37] droazen opened #5208 "Benchmark bam conversion vs. reading directly from crams in single-sample pipeline"

[2018-09-20 19:37] droazen commented on #5208
We want to know whether it's faster to convert upfront from cram to bam, and then read from bam in all of our tools, or skip the conversion and read directly from cram at every step in the pipeline.

[2018-09-20 19:41] droazen opened #5209 "Audit CRAM code in htsjdk for Path/NIO support"
We want to use Path everywhere in the CRAM code to support NIO (both reading and writing).

[2018-09-20 20:02] droazen opened #5210 "First-class support for CRAI indices in htsjdk"

[2018-09-20 20:05] droazen opened #5211 "Ensure CRAM test data in HTSJDK is valid and up-to-date"

[2018-09-21 09:33] rvosa commented on #4891
I would also like to have this, thanks.

[2018-09-21 15:14] droazen commented on #5111
Now that the `fasta.gz` support has been merged, this ticket is unblocked. As a first step, we need to select exactly which references go in.

HG38 is easy -- I'd suggest we just use the official copy in the Broad filesystem at `/seq/references/Homo_sapiens_assembly38/v0/Homo_sapiens_assembly38.fasta`, and make our compressed version from that.

HG19 is more complicated, since we need to choose be

[2018-09-21 15:50] SHuang-Broad commented on #5111
I'm OK with the HG38 only, considering that we are developing and evaluating against HG38, unless other SV team members have different opinions.
Also, it's OK to remove those HLA stuff, since we don't evaluate SV calls on them, AND they can reck __havoc__ for constructor `SimpleInterval(String)`.

[2018-09-21 15:56] droazen commented on #5111
I think we'll definitely want to keep the HLA contigs, as they are great for finding bugs in our parsing code :)

[2018-09-21 15:59] SHuang-Broad commented on #5111
Even better!

[2018-09-21 16:44] jonn-smith commented on #5111
We ultimately need both an "hg19" reference and HG38.

For "hg19" I'm fine with B37 - it is almost completely equivalent with respect to the sequence (only with different contig names).

[2018-09-21 16:45] jonn-smith commented on #5111
FYI, for me getting a B37 reference checked in is currently a higher priority.

[2018-09-21 17:40] sooheelee commented on #5111
The full GRCh38 analysis set allows us to test allosomal contig contexts, e.g. as presented by DetermineGermlineContigPloidy.

[2018-09-21 17:41] lbergelson commented on #5111
I'm opposed to including 2 entire references since it will raise our git lfs files to somewhere around 5gb.  This is a significant drag on downloading / building / testing gatk and should be avoided if possible.  I understand that I may be overruled here, but keeping the test files to a reasonable size was and should remain an important goal of gatk4.

It looks like there may be some options to sl

[2018-09-21 17:55] lbergelson commented on #5111
A rough estimate of reduction from compressing uncompressed vcf and fasta files in our test data is that we'll go from ~2.8G in the large folder currently -> 2.1G.  We may not want to compress everything, since we probably want tests on uncompressed files as well, but it would be a good thing to look into.

[2018-09-21 18:04] lbergelson opened #5212 "Fix maven release and perform manual release of 4.0.9.0"
The changes in #5112 introduced several problems that have prevented us from performing a maven release of 4.0.9.0.  I believe that the two issues are:

1.  The sources jar is misspelled as `source` jar
2.  The generated pom files are missing project level information.

We should:

- [x]  Manually fix the files and peform a release of 4.0.9.0.
- [ ] Patch the build.gradle so that it's correct for

[2018-09-21 18:08] lbergelson opened #5213 "do not skip push builds if the pr build has a merge conflict"
Skipping the push builds that was introduced in #5156 has caused an unintended side effect when there is a merge conflict.  In this case the pr build cant run, so no build is run but it reports a pass.  This is unhelpful.

We should investigate how we can detect if there is a merge conflict and run the push builds in that case.

[2018-09-21 18:27] droazen commented on #5111
@lbergelson We can't, unfortunately -- in order to write good Funcotator tests we need b37/hg19 as well.

[2018-09-21 18:48] jonn-smith commented on #5111
I've created a regression test corpus for Funcotator that exercises all of the variant classifications that it can produce, but to do so I pulled from data sets that I had already been annotating.  As such, it spans more than the chromosomes that are checked in as references for Funcotator tests already.  These are also `HG19` variants, because Oncotator can't do `HG38` and I needed ground truth.

[2018-09-24 14:57] sooheelee commented on #4369
We have [a researcher reporting that even when running locally, they are getting messages related to the GCS](https://gatkforums.broadinstitute.org/gatk/discussion/13015/failed-to-detect-whether-we-are-running-on-google-compute-engine#latest), which they find puzzling.

plus what looks like an error stacktrace in the middle of the stdout. Is this intentional?

[2018-09-24 16:28] jean-philippe-martin commented on #4369
This error message is related to GATK's ability to load files on Google buckets ("gcs://bucket/file.bam"). This ability is enabled even when running locally (this aspect is intentional, because it's useful to be able to run a local GATK instance to process remote data without having to fire up a VM).

As the bucket-reading code ("NIO") initializes, it looks for credentials to use. Those can be set

[2018-09-24 17:13] sooheelee commented on #2464
Looks like CombineVariants will not be ported. Some of the reasoning behind not porting CombineVariants is discussed [here](https://github.com/broadinstitute/gatk/issues/16) and [here](https://github.com/broadinstitute/gatk/issues/17).

[2018-09-24 17:13] #2464 closed

[2018-09-24 19:56] hsiaoyi0504 commented on #5075
Is there any update of this ?

[2018-09-24 22:11] lbergelson commented on #4369
It would be good if this didn't print a stack trace, and if the warning was less strident.  It's confusing to get a stack trace about something on google when you're running something entirely local.

[2018-09-25 06:39] vruano opened #5217 "gCNV WGS cohort germline WDL run outputs vcf files with names that do not correspond to the actual sample inside the file."
I used the very last version of the WDL using the last master commit for the docker and the name of the output files seem to be a random permutation of the actual sample names. The name inside the file (i.e. the one listed in the #CHROM line) seems to be correct.

A previous run using a earlier version of the WDL (probably the one just before the last update) and the latest official gatk docker di

[2018-09-25 07:25] marchoeppner opened #5218 "CRAM Support in MarkDuplicates"
GATK Version: 4.0.9.0

The issue:
The previously available "beta" tool MarkDuplicatesGATK introduced reliable support for CRAM formatted files into the GATK tool chain.

Since that was removed again, I noticed that the default/picard-derived MarkDuplicates does not work reliably on CRAM formatted files. I am getting:

java.lang.IllegalStateException: A valid CRAM reference was not supplied and one

[2018-09-25 09:12] tomwhite commented on #3993
We have Disq now, see #5138.

[2018-09-25 09:12] #3993 closed

[2018-09-25 09:14] tomwhite commented on #3395
Closing this as we have more Spark speed improvements now (see e.g. #5127). We can open new issues to track further Spark peformance improvements.

[2018-09-25 09:14] #3395 closed

[2018-09-25 09:17] tomwhite commented on #3019
This can happen when there is not enough memory, see https://github.com/EsotericSoftware/kryo/issues/448. I'm closing this now, but please re-open if you see it again or have more information about how to reproduce it.

[2018-09-25 09:17] #3019 closed

[2018-09-25 09:20] tomwhite commented on #2732
The Kryo exception looks like a memory issue, see https://github.com/EsotericSoftware/kryo/issues/448. Closing now, but please reopen if you see it again.

[2018-09-25 09:20] #2732 closed

[2018-09-25 09:22] tomwhite commented on #2280
Not needed now we use Diqs to read from NIO in Spark.

[2018-09-25 09:22] #2280 closed

[2018-09-25 09:28] #1409 closed

[2018-09-25 11:31] samuelklee commented on #5217
Thanks for catching this, @vruano.  @asmirnov239 and I will take a look.

[2018-09-25 11:50] samuelklee commented on #5217
@vruano could you point us to the run results, either here or on Slack?

[2018-09-25 12:00] samuelklee commented on #5217
@asmirnov239 I just noticed you changed the call output in the GermlineCNVCaller tasks from a single tar containing all samples to an array of tars (one for each sample): `Array[File] gcnv_call_tars = glob("*-gcnv-calls.tar.gz")`.  Could this be the cause?  Also, wouldn't this be an issue in case mode, as well?

[2018-09-25 14:15] sooheelee commented on #4369
Thanks for the explanation @jean-philippe-martin. It would be great if we could make the messaging less alarming. The researcher who reported this is seasoned in bioinformatics.

[2018-09-25 14:33] vruano commented on #5217
The FireCloud Job is here https://portal.firecloud.org/#workspaces/broad-firecloud-dsde/dsde-methods-sv-dev/monitor/ecdb3b72-7b4b-4612-9c87-1c0124f62708

[2018-09-25 14:44] vruano commented on #5217
The folder containing all the outputs (scripts and staged inputs) in the cloud is in https://console.cloud.google.com/storage/browser/fc-6da0ee01-0ec0-4606-b918-216fe3f7f098/ecdb3b72-7b4b-4612-9c87-1c0124f62708?pli=1

You should be able to browse down to each tasks sub-folder.

[2018-09-25 15:10] lbergelson opened #5220 "prevent google cloud stacktrace on local runs"
A user reports getting the following unhelpful stack trace when running a local job.

[code]

From @jean-philippe-martin

We should tone down the error message if possible.

[2018-09-25 15:13] lbergelson commented on #4369
Opening #5220 to deal with the stacktrace issue.

[2018-09-25 15:31] tomwhite commented on #3823
@LeeTL1220 sorry for the long delay, but I think I've found the problem and got a fix, see #5222. Please let me know what you think.

[2018-09-25 16:39] samuelklee commented on #5217
Thanks, @vruano, but I think you'll have to give me access to the FC workspace and bucket.

I've opened a branch sl_revert_glob that I think will fix the issue.  I'll test it out on FC and let you know how it goes.

[2018-09-25 17:11] jonn-smith commented on #4307
Can oncotator handle this?

[2018-09-25 17:13] jonn-smith commented on #4317
Test with HLA / alternate contigs.

[2018-09-25 17:14] jonn-smith commented on #3841
Also create some on alternate/HLA contigs.

[2018-09-25 17:17] vruano commented on #5217
I see what I can do about the perm issue, but is probably not up to me.

[2018-09-25 17:38] vruano commented on #5217
@cwhelan could you give andrei and sam access to the FC dsde-methods-sv-dev workspace  can investigate the bug. I and Steve had tried without success.

[2018-09-25 17:40] jonn-smith commented on #3841
These fields need to be tested between Oncotator and Funcotator:
- cdna change
- codon change
- protein change
- gene name
- variant classification
- strand
- genome change

[2018-09-25 17:42] jonn-smith opened #5223 "Funcotator Indels need test cases for HG38"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description

Need to add more indel test cases for HG38 for completeness.

The set of test cases should be:

{3' and 5' UTRs, exons, introns, intronic and exonic splice sites, 3' and 5' flanks}
x
lengths in bases of {1,2,3,5} (maybe a subset of these, TBD)
x
{PIK3CA, MUC16 transcripts}
X
{insertion, deletion}
x
{hg38}

[2018-09-25 17:42] jonn-smith commented on #5223
Similar to #3841

[2018-09-25 17:43] samuelklee commented on #5217
Thanks, we have access now.  I'm pretty sure that sl_revert_glob will fix the error.  I've rebased my dev branch sl_filter (which includes the filtering steps Jack mentioned in the BSV meeting today) onto sl_revert and am testing cohort mode on FC now.  I'll try to test scattered-case mode as well later today if that succeeds.

As @asmirnov239 points out, this revert leaves #4397 unresolved, so we

[2018-09-25 17:43] jonn-smith commented on #3841
A similar ticket has been opened for HG38 (#5223)

[2018-09-25 17:56] jonn-smith commented on #5223
These fields need to be tested:
- cdna change
- codon change
- protein change
- gene name
- variant classification
- strand
- annotation transcript
- genome change

[2018-09-25 21:11] lbergelson commented on #5212
I've performed a release of 4.0.9.0 using the poms generated with https://github.com/broadinstitute/gatk/pull/5224 and a bit of manual work.

[2018-09-25 21:15] lbergelson commented on #5213
Some information on how to do this here: https://developer.github.com/v3/git/#checking-mergeability-of-pull-requests

[2018-09-25 21:49] lbergelson commented on #5220
I've reported the problem [here](https://github.com/googleapis/google-auth-library-java/issues/198).  It seems like a very easy fix.

[2018-09-26 01:29] #5212 closed

[2018-09-26 17:18] davidbenjamin opened #5227 "Cite deTiN and ContEst in M2 docs"
both mutect.pdf and javadoc

[2018-09-26 18:41] #5227 closed

[2018-09-26 21:54] droazen commented on #5218
@marchoeppner `MarkDuplicatesGATK` was removed because it had fallen out-of-date with respect to the version in Picard, and as an unmaintained tool was in our view not safe for use, and was causing confusion for our users. The loss of CRAM support is an unfortunate side effect of its removal.

We've been doing a lot of work on our parallel version of `MarkDuplicates`, however, which is called `Mar

[2018-09-27 05:26] #5218 closed

[2018-09-27 15:05] #5217 closed

[2018-09-27 18:13] sooheelee opened #5230 "Exception in SplitNCigarReads"
@jamesemery, researcher has uploaded data to </humgen/gsa-scr1/pub/incoming/Exception_in_SplitNCigarReads.tgz> and has clarified a few other details within the forum thread, e.g. running ValidateSamFile `IGNORE=MISSING_TAG_NM IGNORE=MATE_NOT_FOUND` allows for validation.

Thanks for looking into this.

---

Hello,

I am getting the following exception when running SplitNCigarReads on RNA-Seq data

[2018-09-27 18:42] droazen opened #5232 "Funcotator labels indels that introduce a stop codon as NONSENSE"
Funcotator labels indels that introduce a stop codon as NONSENSE. This differs from the Oncotator behavior, which distinguished between point mutations that introduce a stop codon (NONSENSE) vs. non-point mutations that introduce a stop codon (these get labeled as STOP_CODON_INS, etc.).

Is this something we should fix? @LeeTL1220

[2018-09-27 18:48] vruano opened #5233 "Disable WellformedReadFilter in CNV WDLs."
Profiling using JBuilder remotely on gsa5 (with a large load from other programs) seem to show that close to or over 50% of the CPU effort is dedicated to filter "bad" reads.

<img width="1006" alt="screen shot 2018-09-27 at 2 37 59 pm" src="https://user-images.githubusercontent.com/791104/46167159-09fe1f00-c263-11e8-8ea0-02621146659b.png">

To reproduce you may run (or better make your copy and r

[2018-09-27 19:05] vruano commented on #5233
The problem seems to be that some of the "deep" filters inherited from ReadWalker require to look into the read-base/qualities (just to compare their lenghts) which seems to be quite costly to decode and some of the read-attributes when this particular tool does not need to look into those fields.

It seems to me that we could override these check with a more lightweight alternative.

<img width="

[2018-09-27 19:19] samuelklee commented on #5233
Thanks for looking into this, @vruano.  We've not optimized CollectReadCounts for runtime or experimented with how the filters might affect performance (the latter would be easier with the FC-based evaluation in place).  Can you first try to use `disable-read-filter` on the offending filters to see if that affects runtime or the resulting counts?

[2018-09-27 21:58] vruano commented on #5233
From the output:

[code]

From this it seems that ```WellformedReadFilter``` never filters a read by itself and that is the one that eventually results in the sequence decoding.

[2018-09-28 03:42] vruano commented on #5233
A single sample run was 32 vs 52 minutes without and with the WellformedReadFilter.  About the output, I made the mistake of generating hdf5 and they are not easy to compare. but at least they have the same size and the number of filtered reads is the same so there is nothing to make me think that these should be any difference.

[2018-09-28 04:17] vdauwera opened #5234 "Add new stratifications to separate infrastructure-related and convenience arguments in tool docs"
## Documentation system request

Currently, the tooldoc generation system does not separate arguments that relate to deployment decisions like compute platform (eg `--gcs-project-for-requester-pays`) from the ones that modify the analytical or processing behavior of the tools. This adds to the cognitive burden involved in sorting through all the options available for a given tool. We'd like to hav

[2018-09-28 04:27] vdauwera opened #5235 "Enable SelectVariants to drop specific annotation fields when subsetting a callset"
## Feature request

### Tool involved: SelectVariants

### Description
When subsetting a few samples from a large callset, many annotation fields become irrelevant clutter. These can be removed post-hoc but it would be great to be able to just remove them during the subsetting operation. The syntax for specifying what to drop could be similar to the syntax for selecting fields to extract using Var

[2018-09-28 10:17] marchoeppner opened #5236 "SplitIntervals not accurately splitting intervals"
GATK version: 4.0.9.0

The issue: I wanted to use the built-in Tool SplitIntervals to partition the WGS calling intervals (GATK bundle). These are in interval_list format

A simple line count (excluding the headers) shows vast differences (much fewer intervals across all the splits than were in the original interval list), which seems to suggest a problem.

[2018-09-28 10:26] #5236 closed

[2018-09-28 17:12] lbergelson opened #5238 "Add tfenne and jakevc to AUTHORS file"
We have several recent contributors who haven't been added to our AUTHORS file.  We should correct this.

@tfenne Are you contributing as yourself or as Fulcrom Genomics?
Does this look right?
[code]

@jakevc How would you like to appear in the AUTHORS file?

Is this correct?
[code]

[2018-09-28 19:53] LeeTL1220 commented on #4857
One such possible future requirement would be to support rendering VCFs with separate INFO annotations per funcotation field (as Oncotator does now).

[2018-09-28 20:44] lbergelson commented on #4518
Here's some reports of similar errors:

https://sourceware.org/ml/libc-help/2008-05/msg00072.html
https://stackoverflow.com/questions/36221574/random-error-on-mutex-lock

It seems like most commonly this error is caused by forgetting to initialize a `pthread_mutexattr_t`

Although the second answer on this thread claims that it might be due to using the default mutex type instead of a recursive mu

[2018-09-28 22:27] jonn-smith opened #5240 "Investigate VCFOutputRenderer to see if it can be made to behave more like MafOutputRenderer"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _MafOutputRenderer_, _VcfOutputRenderer_

### Description
For VCFs, we render each funcotation separately, then concatenate strings. This approach has the drawback of being less flexible in terms of ordering the fields (and setting up aliases), but that has not mattered yet. Regardless, it means that all string operations (e.g. ex

[2018-09-29 00:09] #4359 closed

[2018-09-29 00:09] #4693 closed

[2018-10-01 03:43] kescull commented on #4891
I'd also like to see this tool in GATK4. I'm just starting out in the area, but I think it will be useful for our proteogenomics-based work.

[2018-10-01 16:54] jonn-smith opened #5243 "Fix cancer_gene_census test data source in the funcotator test datasources in large"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_

### Affected version(s)
- [X] Latest master branch as of [20181001]

### Description
There appears to be an extra folder in the funcotator test datasources in `large`:

`large/funcotator/funcotator_dataSources/cancer_gene_census/hg19/hg38`
`large/funcotator/funcotator_dataSources/cancer_gene_census/hg38/hg38`

This should be removed.

[2018-10-01 17:37] #5100 closed

[2018-10-01 19:17] #5238 closed

[2018-10-01 19:21] sooheelee opened #5244 "HaplotypeCaller/GenotypeGVCFs: use population priors calculated on-the-fly from cohort"
## Feature request
Request comes directly from researcher on the GATK forum. Researcher requests algorithmic improvements to allow use of population priors calculated on-the-fly simultaneously with genotyping.

### Tool(s) or class(es) involved
Genotyping

### Description
Please see the discussion thread linked below.

---
Hi again @blueskypy. Sounds like you'd like a new feature in the short-vari

[2018-10-01 20:38] sooheelee opened #5245 "VariantAnnotator missing DocumentedFeature tag and therefore missing from online documentation"
I can take care of this and have @cmnbroad review.

[2018-10-01 21:17] lbergelson opened #5246 "Include Tabix in gatk base image"
This would be useful for the SV team and should be a very minimal addition to jar size.

[2018-10-01 23:07] sooheelee commented on #19
A researcher is asking about the status of the ports for FindCoveredIntervals, DiagnoseTargets, and DepthOfCoverage at https://gatkforums.broadinstitute.org/gatk/discussion/12950/. In addition, they have some suggestions for features for DiagnoseTargets. I've recapitulated below:

---

This is a GATK3 issue, but I hope that GATK4 will  incorporate the following suggestion. And while we are on the

[2018-10-02 12:56] samuelklee commented on #19
Could some combination of `CollectReadCounts` and the `FilterIntervals` tool I am working on in my latest branch suffice to replicate the functionality of `FindCoveredIntervals`?  Here is the current doc for `FilterIntervals`

[code]

Optional parameters not shown can filter based on count threshold.  However, note that coverage would be defined the same was as in `CollectReadCounts` (a read contr

[2018-10-02 14:32] #5246 closed

[2018-10-02 17:55] ldgauthier opened #5250 "Add ability to specify AS-annotation combine operations"
This should be possible in the FeatureDataSource using code similar to https://github.com/Intel-HLS/GenomicsDB/blob/master/src/main/java/com/intel/genomicsdb/importer/extensions/VidMapExtensions.java#L69

We don't have a use case for this right now, so I'm calling it low priority.  I started a draft at ldg_addAScombineOp but it needs tests.

[2018-10-02 18:48] #5243 closed

[2018-10-02 18:48] lbergelson commented on #5243
This was my fault, sorry about that.

[2018-10-02 19:43] jonn-smith commented on #5243
No worries.

[2018-10-02 20:01] jamesemery commented on #5230
Hi @mozack, I see on the forum you have a minimal bam file that reproduces the issue? Looking at the stack trace it looks like a bug related to some property of the splice site misaligning with the read in a damaging way. I would love to take a look and see if I can fix the issue on your file.

[2018-10-02 20:03] sooheelee commented on #5230
@jamesemery, the bug report, i.e. test data from the researcher, is at `/humgen/gsa-scr1/pub/incoming/Exception_in_SplitNCigarReads.tgz`, as stated above.

[2018-10-03 01:12] LeeTL1220 opened #5253 "Add excluded fields parameter to funcotator.wdl"
## Feature request

### Tool(s) or class(es) involved
Funcotator

### Description
For funcotator.wdl, please add the excluded field parameter as was done in #5242 for mutect2.wdl and mutect2_nio.wdl.

[2018-10-03 01:13] #5141 closed

[2018-10-03 15:06] blueskypie commented on #5244
Thanks @sooheelee ! I think "use population priors calculated on-the-fly from cohort" can greatly improve the genotyping accuracy, just as the [refinement ](https://gatkforums.broadinstitute.org/gatk/discussion/11074/genotype-refinement-workflow-for-germline-short-variants) step does. I think it make sense to do that in HC because most users probably won't run the refinement step.

[2018-10-03 15:15] sooheelee commented on #5244
No problem @blueskypie. I just want to let you know that it may be some time before our developers are able to get to this. I hope you will check-in periodically.

[2018-10-03 15:39] ggittu commented on #4488
@lelqz Is the fixed version in GATK 4.0.9.0?

[2018-10-03 15:40] blueskypie commented on #5244
I suspect this [issue ](https://gatkforums.broadinstitute.org/gatk/discussion/10304/allele-balance-filtering) could be due to using the flat prior. I wonder if the team can do a comparison on those type of calling before and after implementing this ticket.

[2018-10-03 15:44] droazen commented on #4231
@jamesemery @jonn-smith @tomwhite You guys should have a look at this proposed fix as part of your 4Q work on `HaplotypeCallerSpark`

[2018-10-03 15:46] droazen commented on #4488
@ggittu No, but we have plans to assign someone to work on `HaplotypeCallerSpark` this quarter. As part of this work, we'll consider the patch proposed by @lelqz

[2018-10-03 15:53] ggittu commented on #4488
@droazen That would be great, we are looking forward to it. And meanwhile, If I need to include the patch proposed by @lelqz what can I do? Is there any build that include that patch ?

[2018-10-03 15:56] droazen commented on #4488
@ggittu We don't have such a build -- you could ask @lelqz if he has a fork/branch with his patch applied.

[2018-10-03 16:01] ggittu commented on #4488
@droazen Thank you , and I appreciate your attention! Can we expect something by end of this month? Meanwhile, I will wait for @lelqz for a branch with the applied patch.

[2018-10-03 16:03] droazen commented on #4488
@ggittu Most likely not this month -- the effort to get `HaplotypeCallerSpark` out of beta will be starting up in November, and will be led by @jonn-smith, @jamesemery, and @tomwhite. It would be a good idea to remind one of them about this proposed patch via a github mention around November 1.

[2018-10-03 17:40] lbergelson commented on #5220
They've patched the warning message to be an info message instead, but I think it will still show a stacktrace since info is our standard level.

[2018-10-03 18:52] #4661 closed

[2018-10-03 19:10] cmnbroad opened #5255 "Intel Conda environment needs a continuous integration test"
We ship an Intel conda environment that uses the Intel optimized tensorflow implementation for those with AVX-enabled hardware, but the environment requires AVX, so there are no tests since we can't assume we have AVX hardware on Travis. We need to provision some kind of continuous test that ensures that the CNN tools continue to work in this environment as we upgrade our dependencies for things l

[2018-10-03 20:00] #4747 closed

[2018-10-03 21:49] lbergelson opened #5258 "GatkSparkTool doesn't support fasta.gz"
`GatkSparkTool` doesn't propagate the '.gzi' file when passing fasta files around.  This means it can't read fasta.gz files.  We should fix this and add tests for fasta.gz.

Fasta support was recently introduced here: https://github.com/broadinstitute/gatk/pull/5127

[2018-10-03 21:53] droazen commented on #5258
@tomwhite take note

[2018-10-04 16:51] jonn-smith opened #5259 "Funcotator / Clinical Pipeline should move from ExAC to gnomAD"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description
Currently the data sources for the clinical pipeline work contain ExAC.  This must be updated to use gnomAD.

The change will require a new release of the data sources which must be connected to the data source downloader tool.

Additionally, these new data sources must be validated in four ways:
- By visually insp

[2018-10-04 19:57] vdauwera opened #5260 "Improve SelectVariants rsID matching"
## Feature request

### Tool(s) or class(es) involved
SelectVariants (all versions -- tested most recently with 4.0.9.0)

### Description
SelectVariants has an option for excluding specific sites by rsID, `--exclude-ids`. Currently the matching is done by exact string matching. The limitation is that if I have a site with two rsIDs (as appears in the 1000 Genomes dataset), I can't filter against j

[2018-10-04 20:34] droazen commented on #2015
Closing -- BROADCAST has been removed.

[2018-10-04 20:34] #2015 closed

[2018-10-04 20:35] droazen commented on #4491
Level 2 compression has been made the default -- closing.

[2018-10-04 20:35] #4491 closed

[2018-10-04 20:36] droazen opened #5261 "Implement automated performance benchmarks (in Jenkins or similar)"

[2018-10-04 20:38] droazen opened #5262 "Assemble licensing information necessary to open-source GATK3"

[2018-10-04 20:42] droazen opened #5263 "Improve performance of HaplotypeCallerSpark"

[2018-10-04 20:46] droazen opened #5264 "Do further profiling/optimization of HaplotypeCallerEngine"
Whatever further performance improvements we can get out of `HaplotypeCallerEngine` will benefit both `HaplotypeCaller` and `HaplotypeCallerSpark` (see https://github.com/broadinstitute/gatk/issues/5263)

[2018-10-04 20:47] droazen commented on #5103
@tomwhite Did https://github.com/broadinstitute/gatk/pull/5127 satisfy this ticket, or is there more to do?

[2018-10-04 20:48] droazen opened #5265 "Make HaplotypeCallerSpark output match HaplotypeCaller output as closely as possible"

[2018-10-04 20:49] droazen commented on #1799
This was done -- next step is https://github.com/broadinstitute/gatk/issues/5264

[2018-10-04 20:49] #1799 closed

[2018-10-04 20:49] droazen commented on #1800
This was done -- next step is https://github.com/broadinstitute/gatk/issues/5264

[2018-10-04 20:49] #1800 closed

[2018-10-04 20:58] droazen opened #5266 "HTSJDK 3.0: Create a Reader interface"

[2018-10-04 20:59] droazen opened #5267 "HTSJDK 3.0: Create a Read interface"

[2018-10-04 20:59] droazen opened #5268 "HTSJDK 3.0: Implement one working implementation of the Reader and Read interfaces"

[2018-10-04 21:00] droazen opened #5269 "HTSJDK 3.0: Allow for signed URI support in design of new interfaces"

[2018-10-04 21:03] droazen opened #5270 "Requirements gathering for CRAMv4 support in HTSJDK"

[2018-10-04 21:03] magicDGS commented on #5267
I have already a design, waiting for the review of the CIGAR part...

[2018-10-04 21:11] droazen opened #5271 "Hook up new Disq library to GATK, replacing Hadoop-BAM"

[2018-10-04 21:12] droazen opened #5272 "Implement ability to create and merge bai and tbi indices in a distributed fashion"
This functionality should probably live in HTSJDK.

[2018-10-04 21:14] droazen opened #5273 "SBI (splitting) index support in GATK"

[2018-10-04 21:15] droazen opened #5274 "Disq: write support for BAM and VCF (over NIO or equally good alternative)"

[2018-10-04 21:16] droazen opened #5275 "Benchmark Disq-enabled GATK Spark tools vs. pre-Disq versions"

[2018-10-04 21:18] droazen commented on #2679
This was done -- closing

[2018-10-04 21:18] #2679 closed

[2018-10-04 21:19] droazen opened #5276 "Add better tests for the Spark "walker" classes"

[2018-10-04 21:19] droazen opened #5277 "Migrate to genomicsdb.org fork of GenomicsDB"

[2018-10-04 21:20] droazen opened #5278 "Propose any necessary vcf spec changes (eg., local allele indices) needed to interoperate with new sparse variant format from Hail team"

[2018-10-04 21:21] droazen opened #5279 "Benchmark alternate JDKs such as OpenJ9, which show promise of an across-the-board 10-20% speedup"

[2018-10-04 21:29] droazen commented on #1640
This was done -- closing.

[2018-10-04 21:29] #1640 closed

[2018-10-04 21:31] droazen commented on #1880
This was done -- closing.

[2018-10-04 21:31] #1880 closed

[2018-10-04 21:34] droazen commented on #3413
Closing -- we addressed this by migrating to compression level 2 as the default.

[2018-10-04 21:34] #3413 closed

[2018-10-04 21:34] droazen commented on #3800
Closing -- this was done.

[2018-10-04 21:34] #3800 closed

[2018-10-04 21:37] droazen commented on #4224
@lbergelson Is this still an issue in the latest HTSJDK?

[2018-10-04 21:40] droazen commented on #4316
@cmnbroad Is this done?

[2018-10-04 21:40] droazen commented on #4331
We did this -- closing.

[2018-10-04 21:40] #4331 closed

[2018-10-04 21:42] droazen commented on #4541
This is done -- closing.

[2018-10-04 21:42] #4541 closed

[2018-10-04 21:47] droazen commented on #2281
Closing as obsolete

[2018-10-04 21:47] #2281 closed

[2018-10-04 21:48] droazen commented on #2476
Closing -- superseded by other projects.

[2018-10-04 21:48] #2476 closed

[2018-10-04 21:49] droazen commented on #3491
Closing as obsolete.

[2018-10-04 21:49] #3491 closed

[2018-10-04 21:53] #2482 closed

[2018-10-05 00:45] LeeTL1220 opened #5280 "CombineSegmentBreakpoints ignores the number of probes/targets and hets in segments"
## Bug Report

### Affected tool(s) or class(es)
`combine_tracks.wdl`, `CombineSegmentBreakpoints`

### Affected version(s)
- [x] Latest master branch as of October 4, 2018

### Description
`CombineSegmentBreakpoints` does not have any notion of the num probes or num het columns.  As a result, it cannot update those values as the segments are broken into pieces.
This will get more complicated if b

[2018-10-05 01:11] LeeTL1220 opened #5281 "combine_tracks.wdl repeats conversions that are already done in the main GATK CNV wdl"
## Feature request

### Tool(s) or class(es) involved
`combine_tracks.wdl` and `aggregate_combined_tracks.wdl`

### Description
At the very least, get rid of the calls IGVConvertNormal and IGVConvertTumor, since the outputs here are already outputs of the CNV pair workflow (`called_copy_ratio_legacy_segments_normal` and `called_copy_ratio_legacy_segments_tumor`)

This has not already been implemen

[2018-10-05 02:44] oldmikeyang commented on #4675
I have compare the result of MarkDuplicates and MarkDuplicatesSpark.
the same input SAM file and the default parameter, the MarkDuplicatesSpark have more data marked as duplicated.
Can you give me any suggest how to debug it, why the Spark version have more data marked?

READ_PAIR_DUPLICATES
**11933661 (MarkDuplicates)
11974162 (MarkDuplicatesSpark)**

Here is the metric file
MarkDuplicatesSpark

[2018-10-05 06:59] leoqiang commented on #4891
I would also like to have it in GATK4.

[2018-10-05 12:00] cmnbroad commented on #4316
Yes, now that we have TwoPassVariantWalker, we're using that for CNN (in https://github.com/broadinstitute/gatk/pull/5175 which should go in soon).

[2018-10-05 12:00] #4316 closed

[2018-10-05 13:38] droazen commented on #3491
@lbergelson Assigning to you, in that case

[2018-10-05 13:47] droazen commented on #3491
Also renamed this ticket to be less scary and more precise, since we know it's a 2-minute pause in the NIO library. It clearly doesn't always happen, though, as I don't think I've ever seen it.

[2018-10-05 14:17] ldgauthier commented on #4258
Closed via #5129

[2018-10-05 14:17] #4258 closed

[2018-10-05 14:20] ldgauthier commented on #2712
I think this is just expected numerical fluctuation within tolerance -- the no-call is a 0,0,0 and the 0,0,1 is very nearly the same.

[2018-10-05 14:20] #2712 closed

[2018-10-05 14:26] droazen opened #5282 "Support SAM v1.6 in GATK"
Requires https://github.com/samtools/htsjdk/issues/1186

[2018-10-05 14:39] jamesemery commented on #4675
Hello, @oldmikeyang I'm in the middle of doing a tie out for MarkDuplicatesSpark right now. I just recently fixed (and it will hopefully be released soon) some counting issues involving the metrics collection (it was over-counting the number of duplicate pairs marked compared to picard) I suspect it is likely that the actual bam output is correct. I will have a branch soon that I would ask you to

[2018-10-05 14:50] ldgauthier commented on #2917
After looking at this again (years later), I don't think this is a real thing.  Whether they occur in the same sample or not, variants get represented based on the SW alignment of the assembled haplotype to the reference haplotype.  The S1 GGAGTC allele will get aligned to the reference as a  G->GT insertion.  When it's genotyped against the reads from the other haplotype it probably used to exhib

[2018-10-05 14:50] #2917 closed

[2018-10-05 14:57] davidbenjamin commented on #5096
Closed by #5231.

[2018-10-05 14:57] #5096 closed

[2018-10-05 14:57] cmnbroad commented on #5189
Closing this since it works using the correct syntax. Feel free to reopen if I'm missing something.

[2018-10-05 14:57] #5189 closed

[2018-10-05 14:58] ldgauthier commented on #2508
As I set about updating the exome joint calling workflow over the next few days this is probably worth revisiting.

[2018-10-05 15:03] LeeTL1220 opened #5283 "combine_tracks.wdl should do the pre-processing for input to GISTIC2"
## Feature request

### Tool(s) or class(es) involved
combine_tracks.wdl

### Description
In order for outputs from GATK CNV to be usable by GISTIC2, we need to have a conversion step.  Here is mostly un-tested WDL that should work:

[code]

Sorry about the heredoc python

[2018-10-05 15:39] ldgauthier commented on #3528
There are only 19 reads out of 116 with the 1bp insertion here, which is not representative of a good diploid call.  But the real problem is that the indel is _very_ close to the end of the reads and there's not enough data to be sure that the rest of the read supports the reference.  There's a slim possibility it might get called if you add a smaller kmer size (`--kmer-size 5`), but otherwise the

[2018-10-05 15:39] #3528 closed

[2018-10-05 15:53] jean-philippe-martin commented on #3491
This seems to happen in the cloud auth layers, which I don't control.

One potential workaround would be to add a command-line option to disable GCS support. This would only help the original reporter if they don't use GCS paths, of course. Is this something we think may be worth doing at all?

[2018-10-05 16:00] droazen commented on #3491
@jean-philippe-martin It's not clear to me how widespread this issue is, or what conditions trigger it -- @lbergelson care to comment?

[2018-10-05 16:58] lbergelson commented on #3491
I think it triggers in certain situations where a firewall is blocking the connection.  If the internet is simply unreachable it doesn't happen, so I don't know what the exact error case is.  It happened consistently for people inside Intel's firewall or vpn.

An option to disable gcs support isn't a bad idea, it's kind of a hack though, it would be better if we could understand and avoid triggeri

[2018-10-05 17:52] LeeTL1220 opened #5284 "combine_tracks.wdl: Issue with PrototypeACSConversion"
## Bug Report

### Affected tool(s) or class(es)
combine_tracks.wdl

### Description
PrototypeACSConversion has a bug when `model_segments_seg_pd['MINOR_ALLELE_FRACTION_POSTERIOR_90'` is NaN

On line:
[code]

[code]