[2016-04-28 18:49] cmnbroad commented on #1787
It just needs to be reviewed. https://github.com/samtools/htsjdk/pull/552.

[2016-04-28 20:20] #1767 closed

[2016-04-28 20:27] tedsharpe commented on #1767
The method override idea works fine for getting the necessary registrations done for some given Spark executable, but doesn't address the problem of how to unit test, since we can have only one SparkContext for all unit tests, and can't customize the registrations.
Best practice might be to use a class annotation to designate a default serializer for each class that needs Kryo serialization, and t

[2016-04-29 13:12] akiezun opened #1788 "Spin off new project(s) for native pairhmm"
started as discussion in https://github.com/broadinstitute/gatk/pull/1748 - see the thread there

[2016-04-29 13:26] droazen commented on #1788
As per the linked discussion, we are going to try to get access to a hosted PPC service that we can run automated tests on. If we're successful in setting up PPC automated tests, then the two native PairHmm implementations could live in the same repo -- if not, then we might prefer two separate repos.

[2016-04-29 14:00] akiezun commented on #1557
no, indel qualities are not in the bam. I only compared non-indel qualities in the analyses above.

[2016-04-29 14:49] #1784 closed

[2016-04-29 14:49] #1780 closed

[2016-04-29 16:06] droazen commented on #1693
Let's definitely try to get this working before our next release, so that we can have a sane binary distribution with 2 packaged jars (shadowJar and sparkJar), plus a launcher.

[2016-04-29 16:22] lbergelson commented on #1693
I don't think it's much different to have a zip file with 2 jars in it vs a zip file with a directory tree.  This will add an additional layer of complexity to testing.  I.e. do we test the packaged jars, now our unit tests run with a different configuration than the other tests, etc..

What we probably really want is some sort of executable archive that wraps whatever we put in it into a single r

[2016-04-29 16:27] droazen commented on #1693
The executable archive you're imagining would be a platform-dependent thing. A use case we care about is GATK users being able to freely copy a particular GATK jar across different machines and architectures and have it work transparently, as we recently discussed with @vdauwera. I still think we should plan on having a packaged jar + launcher unless you can come up with a more specific proposal f

[2016-04-29 17:44] lbergelson opened #1791 "automate detection of "snapshot" status of build"
Currently every release is a "snapshot" unless you manually change a flag in the build script.  It should automatically detect "snapshot status" from the version.

[2016-04-29 19:52] akiezun opened #1793 "add detection of build status of protected"
it'll be scary to merge stuff to public for the fear of breaking protected. we should know the status, at least for the master branch, like htsjdk reports status of picard and gatk4

[2016-04-29 20:30] lbergelson commented on #1793
related to #1758

[2016-04-29 20:31] akiezun commented on #1793
maybe it's just a dup of #1758

[2016-05-02 14:51] akiezun opened #1797 "experiment with getCigarLength instead of numCigarElements in GATK read."
experiment with getCigarLength instead of numCigarElements in GATK read. May be faster

came up in #1796

[2016-05-02 14:59] gspowley commented on #1771
@akiezun @droazen @lbergelson Found the issue with FTZ being cleared. The FTZ setting only applies to the thread where FTZ is set. When running tests in gradle/testng, each test is run in a new thread. However, the pairHMM native library is only loaded for the first HaplotypeCaller test, since code in `VectorLoglessPairHMM.java` prevents the library from being loaded more than once in the same JVM

[2016-05-02 19:37] akiezun commented on #1607
The GATK3 v3.5-0-g36282e4 commandlines and numbers:

running on gsa6 (has AVX)

GVCF mode
[code]

VCF mode
[code]

[2016-05-02 19:45] akiezun commented on #1607
Update 20160502
GATK4 Version:09f6b60-SNAPSHOT
commit 09f6b602a175a729e07d710d112e878332876390ESC

running on gsa6

GVCF mode
[code]

VCF mode
[code]

Summary so far:

1. GATK4 wins on GVCF mode by almost 2x over gatk3.5
2. GATK4 does not yet win on the VCF mode (in particular 'user' time is actually longer) - possibly due to lack of downsampling

[2016-05-02 20:30] akiezun opened #1799 "Beat GATK3 performance (CPU and memory) of HaplotypeCaller (VCF mode)"
The GATK3 v3.5-0-g36282e4 commandlines and numbers:

running on gsa5 (has AVX)

VCF mode on 32GB of ram

[code]

Note:The VCF mode is not what production is running so it's lower priority than GVCF

[2016-05-02 20:31] akiezun commented on #1799
Update 20160502
GATK4 Version:09f6b60-SNAPSHOT
commit 09f6b602a175a729e07d710d112e878332876390ESC

running on gsa5

VCF mode
[code]

[2016-05-02 20:33] akiezun opened #1800 "Beat GATK3 performance (CPU and memory) of HaplotypeCaller (GVCF mode)"
The GATK3 v3.5-0-g36282e4 commandlines and numbers:

running on gsa5 (has AVX)

GVCF mode on 32GB of ram

[code]

GVCF mode on 10GB of ram

[code]

[2016-05-02 20:36] akiezun commented on #1607
closing this in favor of https://github.com/broadinstitute/gatk/issues/1800 and https://github.com/broadinstitute/gatk/issues/1799 (GVCF is much higher priority because that's what we run in production)

[2016-05-02 20:39] akiezun commented on #1800
Update 20160502
GATK4 Version:09f6b60-SNAPSHOT
commit 09f6b602a175a729e07d710d112e878332876390ESC

running on gsa5
GVCF mode 32GB ram

[code]

GVCF mode 10GB of ram
[code]

OK, i'm declaring victory on GVCF

[2016-05-02 21:07] droazen commented on #1800
Should we try to make it even better than 2x? Also, we need to test on a larger scale once downsampling is hooked up to make sure these results hold up.

[2016-05-02 21:07] droazen commented on #1799
Let's revisit this later this week after HC downsampling is in.

[2016-05-02 21:26] droazen opened #1801 "Create a gatk-native-bindings github repository with JNI interfaces for native code"
Initial version should consist of:

* A superinterface called `NativeLibrary` that has `getLibraryPath()` and `isSupported()` methods.

* A `PairHmmBinding` interface (name open to negotiation!) that extends `NativeLibrary` and has signatures for `jniComputeLikelihoods()` and other PairHmm JNI methods.

Once created, we need to publish a jar on maven for this repository.

[2016-05-02 21:26] droazen commented on #1801
@akiezun Could you take this one?

[2016-05-03 04:06] akiezun opened #1802 "Test filtering in gradle stopped working"
this used to work (just 2 weeks ago when https://github.com/broadinstitute/gatk/pull/1719 was merged)
[code]

now i get:
[code]

very annoying

[2016-05-03 14:23] akiezun commented on #1801
I'll close this as a dup of #1788 - it's all aiming to do the same thing so let's use that ticket.

[2016-05-03 14:26] akiezun commented on #1788
To summarize current state of discussions - we're going to have 3 repos, as originally planned (1 for the interfaces and 2 for Intel and IBM implementations, respectively). There will be a bit code duplication but many other aspects (some technical, some organizational) are massively simplified by such architecture.

@droazen @lbergelson @gspowley @paolonarvaez @frank-y-liu @t-ogasawara  - please

[2016-05-03 14:38] akiezun commented on #1770
@addibiase-01 can you guys submit a pull request?

[2016-05-03 14:40] akiezun commented on #1800
agreed. but i'll close this as the goal has been achieved. we'll retest once downsampling is in (and I'll keep updating the ticket when I have improvements)

[2016-05-03 14:42] akiezun commented on #1718
Moving this past alpha2 - requires substantial development in htsjdk

[2016-05-03 14:43] akiezun commented on #1407
I'll unmark the milestone until we decide that this the way to do it.

[2016-05-03 14:46] akiezun commented on #1557
@eitanbanks @yfarjoun what's the decision on how to proceed? Code is available and impact on speed measured. M2 and HC analyses are going to be another ticket I think.

[2016-05-03 14:46] #1557 closed

[2016-05-03 14:57] droazen commented on #1557
Why was this closed? Did we decide not to remove BAQ?

[2016-05-03 14:59] droazen commented on #1801
Re-opening -- it's good to have this spun out as a separate subtask with a specification for the interface, since this can be done quickly, while the rest of https://github.com/broadinstitute/gatk/issues/1788 will potentially take weeks.

[2016-05-03 15:02] lbergelson commented on #1802
@akiezun You probably need `'` around them.  Differences in shells on different machines.

[2016-05-03 15:22] lbergelson commented on #1802
Hmn, or maybe not.  I'm having trouble with it too

[2016-05-03 15:42] akiezun commented on #1557
M2 and HC analyses will be tracked in Palantir I think. Dev work is done.

[2016-05-03 15:49] akiezun commented on #1801
whetever, man. To me it's the same work item. Will keep both if you like it that way

[2016-05-03 15:54] droazen commented on #1801
My philosophy is it will encourage us to do this piece ASAP, instead of waiting on the creation of the IBM/Intel repos. This ticket also has the interface specification which might be forgotten if this is closed.

[2016-05-03 19:55] akiezun commented on #1557
this is now tracked here: https://github.com/broadinstitute/palantir/issues/324

[2016-05-03 20:49] akiezun commented on #1801
repo exists now  https://github.com/broadinstitute/gatk-native-bindings
will be made public shortly - i requested broad IT to switch to public

Pull req is here: https://github.com/broadinstitute/gatk-native-bindings/pull/1

[2016-05-03 20:49] akiezun commented on #1801
done

[2016-05-03 20:49] #1801 closed

[2016-05-03 20:52] akiezun commented on #1788
ok, native repo is done https://github.com/broadinstitute/gatk-native-bindings
we're still hashing out the interfaces and it will be a bit before we have created the artifacts at maven central.

[2016-05-03 20:55] akiezun commented on #1788
My understanding is that the Intel implementation will be hosted at https://github.com/Intel-HLS/ and uploaded to maven central (from where GATK will pick it up) - @paolonarvaez @gspowley is that correct?

@frank-y-liu @t-ogasawara do you prefer to host your code at your own github organization or elsewhere?

[2016-05-04 01:54] #1741 closed

[2016-05-04 23:53] SHuang-Broad opened #1805 "Why SGA, the currently used assembler for SV pipeline, generates slightly diff results on different runs."
SGA, when run with exactly the same parameters on the same machine,
yields slightly different results
- "SNP" between the contigs, or
- slightly different assembled contig lengths

[2016-05-05 03:27] t-ogasawara commented on #1788
I suppose that you are going to try to set up the automated tests on PPC. If the test environment is set up, the native libraries can live in the same repo.
@droazen @akiezun Did you not get access a PPC service?

It is useful to keep the source files under a single tree (with the common and cpu-specific parts as I explained) from the view point of maintenance and another porting.

[2016-05-05 03:30] akiezun commented on #1788
source trees for the C code will live in 2 separate repositories - one for AVX/Intel and one for PPC/IBM codes. We should indeed be able to set up automated tests on PPC, with @frank-y-liu 's help probably

[2016-05-05 03:55] t-ogasawara commented on #1788
It is not clear for me what 2 separate repos can improve. Could you elaborate on that?

[2016-05-05 14:36] akiezun commented on #1802
it works now. Louis thinks it was cause by the same bug as https://github.com/broadinstitute/gatk/pull/1804

[2016-05-05 14:36] #1802 closed

[2016-05-05 16:09] akiezun commented on #1788
Separate repos for each native implementation will allow the native-code providers to be much more nimble and will free the Broad from maintenance of native code - this is much better placed with experts on AVX and Power etc. We are experts on genomics but others are experts on native-code optimizations. With separate repos, IBM and Intel (and others else in the future) can keep on innovating and

[2016-05-06 03:58] t-ogasawara commented on #1788
@akiezun Thank you for your explanation. I understand the benefits (and priorities). I agree.

[2016-05-06 13:44] droazen commented on #1203
This is blocked until we can make reference broadcast work with cram inputs.

[2016-05-06 13:44] droazen commented on #1203
Specifically, it is blocked by https://github.com/broadinstitute/gatk/issues/1443

[2016-05-06 13:47] droazen commented on #1443
Blocking ticket has changed from https://github.com/broadinstitute/gatk/issues/1580 to https://github.com/broadinstitute/gatk/issues/1718. If we don't want to wait until https://github.com/broadinstitute/gatk/issues/1718 is done, and it's easy (~1 day of work) to do the fix in htsjdk that will enable 2bit to work for cram, we might want to do that for now.

[2016-05-07 14:08] akiezun opened #1807 "Experiment with Spark shuffle/storage fraction"
parameters in Spark version 1.5.1 deprecated for version 1.6.1.
spark.shuffle.memoryFraction
spark.storage.memoryFraction
spark.storage.unrollFraction

In Spark version 1.6.1 +, the new parameters are:
spark.memory.fraction
spark.memory.storageFraction

[2016-05-09 14:08] akiezun opened #1808 "create automated test environment on Power systems at http://osuosl.org/"
To test GATK on IBM's power systems we need to run an automated test suite off-travis (they do not have power support). We have an account at http://osuosl.org/ - @droazen has an account.

Ideally, this would run on all pushes to all branches (+ add a badge to our repo) but we can start with a nightly build of master

[2016-05-09 14:19] droazen commented on #1808
Correction: we do not have an account -- we WILL have one within a week if our application is accepted :)

[2016-05-09 14:25] akiezun opened #1809 "Investigate different compression settings for shuffle"
Experiment with different algorithms and settings for compression of shuffle files (ie not only algorithm but buffer sizes, file sizes etc). Use MarkDuplicatesSpark as the pipeline and run on broad cluster and cloud cluster. Remember to try "no compression" too.

[2016-05-09 14:31] akiezun opened #1810 "experiment with shuffle file consolidation"
use MarkDuplicatesSpark on broad and cloud clusters and try flipping `spark.shuffle.consolidateFiles`

[2016-05-09 14:34] akiezun opened #1811 "experiment with RDD caching in MarkDuplicatesSpark"
as it is now, we read the data twice in MarkDuplicatesSpark because we filter it using predicate `p` and `!p`. We could cache the RDD but it's not clear if it's faster than just re-reading.

[2016-05-09 14:35] akiezun commented on #1657
This ticket is too broad. Replacing with:
https://github.com/broadinstitute/gatk/issues/1809
https://github.com/broadinstitute/gatk/issues/1675
https://github.com/broadinstitute/gatk/issues/1807
https://github.com/broadinstitute/gatk/issues/1810
https://github.com/broadinstitute/gatk/issues/1811

[2016-05-09 14:41] akiezun commented on #1657
reopening as epic

[2016-05-09 14:43] droazen commented on #1659
Moving to a future milestone, since for alpha-2 we're going to focus on TileDB (#1647)

[2016-05-10 15:32] #1239 closed

[2016-05-10 17:40] akiezun commented on #1517
Also note that https://github.com/ytchen0323/cloud-scale-bwamem exists - it may be at some point to experiment with it.

[2016-05-11 03:21] akiezun opened #1812 "Native SmithWaterman"
https://github.com/mengyao/complete-striped-smith-waterman-library
I've successfully built and run it on linux and mac. Need to investigate performance and usability for us

see also #1629

[2016-05-11 17:53] akiezun commented on #1812
ugh, made some progress but got stuck because that code requires that penalties are less than 256 and match/mismatch are below 128. Or default values are match 200, mismatch -150, open -260, extend -11

work in progress is in branch ak_native_smithwaterman_sse

@gspowley FYI

[2016-05-11 17:53] akiezun commented on #1812
removing milestone - may not happen

[2016-05-11 17:55] akiezun commented on #1812
this is on hold until we figure out if/how to make progress

[2016-05-11 18:34] akiezun commented on #1812
I wonder if there's a way to rescale the parameters to get the same results. We don't care about the actual score at all only about the cigar really.

[2016-05-11 18:36] droazen commented on #1812
Is this library in maven?

[2016-05-11 18:36] akiezun commented on #1812
no

[2016-05-11 18:36] droazen commented on #1812
And has Intel looked at it and declared it sane?

[2016-05-11 18:37] akiezun commented on #1812
yes

[2016-05-11 18:57] gspowley commented on #1812
I tried using this library too, and tried scaling the parameters. It didn't give exactly the same results.

Another difference I noticed, the `SWPairwiseAlignment.OverhangStrategy.INDEL` and `SWPairwiseAlignment.OverhangStrategy.LEADING_INDEL` overhang strategies in GATK Smith-Waterman produce different results than the SSW library.

[2016-05-12 03:20] akiezun commented on #1800
update with @gspowley code from https://github.com/broadinstitute/gatk/pull/1813)
on gsa5 (has 48 CPUs and 126GB of RAM total) - not sure how many cores this run took though

Wallclock time is better but (understandably) total time is higher. If we have spare CPUs in production, this is fine.

using 32GB of RAM
[code]

using 10GB of RAM
[code]

[2016-05-12 03:24] akiezun commented on #1799
update with OpenMP code from @gspowley (#1813)

running on gsa5

You can get a wallclock speedup but it costs in total time (fine if you have idle CPUs anyway)
[code]

[2016-05-12 08:08] tushu1232 opened #1815 "./gatk-launch CountVariantsSpark --variant not reading gz vcf"
11:05:38.056 INFO  CountVariantsSpark - Shutting down engine
[May 12, 2016 11:05:38 AM AST] org.broadinstitute.hellbender.tools.spark.pipelines.CountVariantsSpark done. Elapsed time: 0.08 minutes.
Runtime.totalMemory()=3114270720
htsjdk.tribble.TribbleException: Input stream does not contain a BCF encoded file; BCF magic header info not found, at record 0 with position 0:
	at htsjdk.variant.bcf2.B

[2016-05-12 13:29] akiezun commented on #1815
This is a known limitation - blocked by https://github.com/broadinstitute/gatk/issues/1650
Will be resolved soon, when the new version of hadoop-bam is created

[2016-05-12 16:24] akiezun commented on #1800
I did a quick scalability ministudy - this seems to scale well up to 12 cores and then diminishes due to Amdahl's law I think that's fine. There is no diminished runtime due to OMP overhead when on 1 core. Note that our cluster on which I wan these was not empty (a few of the 48 cores were in use) and do this is just a ballpark estimate of scalability, in particular 24 was worse than 12 probably d

[2016-05-12 16:51] cmnbroad commented on #1443
FWIW, given https://github.com/samtools/htsjdk/pull/599, we now have the option of writing and supplying an implementation of the CRAMReferenceSource interface for 2bit references directly to htsjdk, and the dependency would not necessarily have to live in htsjdk.

[2016-05-12 18:38] akiezun commented on #1799
Similar to VCF (#1800) the new OpenMP code scales nicely to 12 cores and does not suffer when run on 1 CPU. Beyond 12 cores we hit Amdahl's law limit and/or interference from other jobs on the node - that does not bother me much.

From this, I conclude that OpenMP is good for the VCF mode too.

All runs were on gsa5 (48 CPUs)

limited to 1 OMP thread, 32GB
[code]

limited to 2 OMP threads, 32GB
[c

[2016-05-12 18:38] droazen commented on #1443
@cmnbroad Could you create a new alpha-2 ticket for this task (or rename this ticket to be something like "implement CRAMReferenceSource for 2bit")?

[2016-05-12 19:10] akiezun opened #1816 "set up Mac builds/tests on Travis"
can we set up travis on the Mac? If we support the Mac we should test it automatically.

@lbergelson is it doable/hard?

[2016-05-12 19:43] akiezun commented on #1816
I would like to build and test the whole thing unless it's a major hassle

[2016-05-12 20:37] droazen commented on #1816
Yes please!

[2016-05-12 20:38] lbergelson commented on #1816
a moderate hassle.  Shouldn't be so bad because they have modern osx and we can use brew.

[2016-05-13 12:52] cmnbroad commented on #1443
Once we have the 2bit ref implementation of CRAMReferenceSource we'll also need to update Hadoop-BAM to use it.

[2016-05-13 13:18] tomwhite commented on #1696
It doesn't look like we can easily take advantage of async IO at the moment (see https://github.com/HadoopGenomics/Hadoop-BAM/pull/94 and https://github.com/samtools/htsjdk/pull/576), so closing this.

[2016-05-13 13:18] #1696 closed

[2016-05-13 18:39] droazen opened #1819 "Ensure that multi-threaded AVX PairHMM falls back to single-threaded mode when OpenMP is not available or is the wrong version"
What is the current behavior when OpenMP is not available or is the wrong version on a Linux system? If the answer is "it blows up with a gross error", then let's patch the code so that it gracefully falls back to the single-threaded version, as on a Mac.

[2016-05-13 18:40] droazen commented on #1819
For @gspowley

[2016-05-13 18:44] gspowley commented on #1819
Right, there's not a graceful fallback if OpenMP is not supported at this point. I'll start looking into it.

[2016-05-13 18:46] akiezun commented on #1819
@droazen do you want this for compile time or run time? Both can fail.

[2016-05-13 18:52] droazen commented on #1819
@akiezun I'm mainly concerned with having a graceful fallback at runtime, though it would also be good if the GATK could be made to compile on Linux when OpenMP is not present / is the wrong version. The latter is a temporary issue, however, pending the move to a separate repository for the native code.

[2016-05-13 18:53] droazen commented on #1788
@akiezun Who is going to physically move the code? Can we re-assign this ticket, or should it stay assigned to you?

[2016-05-13 18:54] akiezun commented on #1788
@gspowley can you help with this?

[2016-05-13 18:56] droazen commented on #1788
Marking as `PRIORITY_HIGH` so that we do this sooner rather than later, and don't have to temporarily make the GATK build system into more of a Frankenstein monster than it already is.

[2016-05-13 18:59] gspowley commented on #1788
@akiezun @droazen Yes, I can own the ticket for moving the code to the Intel native library. This effort has been accelerated so we can provide the Intel deflator in the native library. PairHMM will follow soon after.

[2016-05-14 00:32] akiezun opened #1820 "reading data from GCS fails on travis"
see disabled tests like  `testBQSRBucket(BQSRTest params)` in `BaseRecalibratorSparkIntegrationTest.java` - they fail to read data from buckets

[2016-05-14 00:40] akiezun commented on #1812
@gspowley can I assign this to you to investigate and follow up? Even if not all OverhangStrategies are supported this is still valuable if it speeds up haplotype caller. I'm removing the point estimate for now too - it may require a reimplementation, though it would be preferable of course if we could use that existing code (it's MIT licensed so it's all good).

[2016-05-14 01:23] gspowley commented on #1812
@akiezun Yes, you can assign to me and we'll investigate and follow up. I agree the OverhangStrategy support is not a big deal, just wanted to point out the difference.

[2016-05-14 02:50] #1793 closed

[2016-05-14 02:51] akiezun commented on #1758
I think this is urgent. We must know if protected is broken by public as soon as possible

[2016-05-17 20:29] droazen commented on #1819
The OpenMP stuff is causing problems for us already when the correct versions of the libraries are not present. We are going to back it out in master until this ticket (adding a fallback when OpenMP can't be loaded on Linux) is done.

[2016-05-17 20:32] akiezun commented on #1819
either fallback to 1 core or a (maybe preferably) statically linked version of OMP libraries so that people can run it on machines that do not have the same exact layout of dynamic OMP libraries as the machine on which the so file was made.

[2016-05-17 22:29] droazen opened #1830 "Turn off sputnik"
I know attempts have been made, but it still appears to be on, and spamming us with millions of warnings about default encodings.

[2016-05-17 22:29] droazen commented on #1830
For @akiezun

[2016-05-17 22:31] akiezun commented on #1830
Millions? You must be writing a lot more code than others.

On Tuesday, May 17, 2016, droazen <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-05-18 02:21] akiezun commented on #1830
fixed by #1831

[2016-05-18 02:21] #1830 closed

[2016-05-18 02:26] akiezun opened #1832 "rename packages from hellbender to gatk"
has to be done at some point, probably better sooner than later.

@droazen any thoughts on preferred timing?

[2016-05-18 05:28] magicDGS commented on #1752
Closed by #1774.

[2016-05-18 05:29] #1752 closed

[2016-05-18 05:33] magicDGS commented on #1464
I think that this could be closed.

[2016-05-18 13:22] gspowley commented on #1819
I'd prefer to fix this in the native library. Is that ok? We're focusing on bringing up the native library now.

[2016-05-18 13:28] akiezun commented on #1819
yes that's fine

[2016-05-18 13:32] akiezun commented on #1830
btw we may be able to try this again sometime: https://github.com/TouK/sputnik-ci/issues/11

[2016-05-18 14:55] droazen commented on #1464
Right you are -- closing

[2016-05-18 14:55] #1464 closed

[2016-05-18 18:36] akiezun commented on #1797
fixed by #1818

[2016-05-18 18:36] #1797 closed

[2016-05-18 18:38] akiezun commented on #1056
this one is done

[2016-05-18 18:38] #1056 closed

[2016-05-18 18:57] akiezun commented on #1606
I'm closing this - it's too vague. The only action planned here is potential integration of https://github.com/samtools/htsjdk/pull/576

[2016-05-18 18:57] #1606 closed

[2016-05-18 18:58] akiezun opened #1837 "test asynchronous BAM reading"
this ticket tracks the gatk side of samtools/htsjdk#576

[2016-05-18 18:59] akiezun commented on #1606
replaced with https://github.com/broadinstitute/gatk/issues/1837

[2016-05-18 19:01] akiezun commented on #1646
this ticket itself is just to hook up and run

[2016-05-18 19:02] akiezun commented on #1608
blocked on #15

[2016-05-18 21:09] droazen opened #1838 "Publish jbwa to Broad artifactory"
Artifact should contain builds of the library for both Mac and Linux

[2016-05-18 21:11] akiezun opened #1839 "CountReadsSpark fails on local"
latest master 4353d54fd2d64ea1b4c8429986f83eb873a4d687

`/gatk-launch CountReadsSpark -I src/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam`

[code]

we should make it not fail or fail more gracefully

[2016-05-18 21:15] akiezun commented on #1839
hmm, something is messed up with my spark install on the laptop. `spark-shell` fails with the same error

[2016-05-18 21:18] akiezun commented on #1839
fixed by running `export SPARK_LOCAL_IP=127.0.0.1` before gatk or spark
as recommended here: http://stackoverflow.com/questions/29906686/failed-to-bind-to-spark-master-using-a-remote-cluster-with-two-workers

weird, i did not have to do it before.

closing, not sure if we can help in any way

[2016-05-18 21:18] #1839 closed

[2016-05-18 21:23] akiezun commented on #1532
this is done. I retested on latest master 4353d54fd2d64ea1b4c8429986f83eb873a4d687 and there's no performance problem when using intervals for subsetting.

[2016-05-18 21:23] #1532 closed

[2016-05-18 21:38] akiezun commented on #1610
i'll grab it back to turn into a wiki

[2016-05-19 13:30] #1506 closed

[2016-05-19 13:30] akiezun commented on #1650
@tomwhite this is now done, right?

[2016-05-19 13:32] tomwhite commented on #1650
Yes

[2016-05-19 13:32] #1650 closed

[2016-05-19 13:32] akiezun commented on #1815
@tushu1232 can you retry on the latest master? It should work now

[2016-05-19 15:47] akiezun opened #1841 "unmappable character for encoding ASCII in @magicDGS name"
[code]

affected files: IntervalOverlappingIterator.java:17, LocusWalker.java:27, ExampleLocusWalker.java:22

@magicDGS can you fix this?

[2016-05-19 17:04] magicDGS commented on #1841
Sure, I've just push the PR.

[2016-05-19 19:32] akiezun opened #1843 "bogus test in BaseRecalibratorIntegrationTest"
BaseRecalibratorIntegrationTest
```{new BQSRTest(GRCh37Ref_chr2021, trickyBam_chr20, dbSNPb37_chr20, "-indelBQSR ", getResourceDir() + "expected.CEUTrio.HiSeq.WGS.b37.ch20.4379150-4379157.recal.txt")},```

the bam file and the vcf file have no overlap which makes this test less useful than it should be

[2016-05-20 05:18] magicDGS commented on #1841
Should this be closed now?

[2016-05-20 11:20] akiezun commented on #1841
Yes

On Friday, May 20, 2016, Daniel Gómez-Sánchez <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-05-20 14:19] akiezun commented on #1610
wiki is done https://github.com/broadinstitute/gatk/wiki/How-to-set-up-and-use-cloud-dev-environment
original page is here: https://broadinstitute.atlassian.net/wiki/display/DO/GATK+Dev+in+a+Docker+In+a+Cloud

[2016-05-20 14:19] #1610 closed

[2016-05-20 16:44] ronlevine commented on #1552
@droazen I was planning to start this one next. It pertains to any tool that subsets alleles.

[2016-05-20 19:57] droazen opened #1848 "Move NativeUtils class to gatk-native-bindings once it's available via maven"
Once https://github.com/broadinstitute/gatk-native-bindings is on maven and a formal dependency of the GATK, move the `NativeUtils` class there. This class (as of https://github.com/broadinstitute/gatk/pull/1847) contains a method to extract and load native libraries from the classpath that will be needed by implementors of our `NativeLibrary` interface.

[2016-05-21 03:39] akiezun commented on #1841
hmm, @magicDGS there are some more files (in tests, which is why we missed them before):
ExampleLocusWalkerIntegrationTest.java
IntervalOverlappingIteratorUnitTest.java

can you fix those and verify by running
[code]

(right now it finds 5 hits and 2 are not fixed)
[code]

[2016-05-21 05:11] #1838 closed

[2016-05-23 08:07] magicDGS commented on #1841
Sorry for the inconvenience. I've just done a PR for the tests (#1850).

[2016-05-23 11:03] #1841 closed

[2016-05-23 15:40] tushu1232 commented on #1815
Thanks Adam the file seems to be reading the zipped vcf file.
Thanks

Tushar B Pathare
High Performance Computing (HPC) Administrator
General Parallel File System
Scientific Computing
Bioinformatics Division
Research

Sidra Medical and Research Centre
Sidra OPC Building
PO Box 26999  |  Doha, Qatar
Near QNCC,5th Floor
Office 4003 3333 ext 37443 | M +974 74793547
tpathare@sidra.org<mailto:tpathare@

[2016-05-23 15:48] akiezun commented on #1815
I'm closing then. @tushu1232 says it works now.

[2016-05-23 15:48] #1815 closed

[2016-05-23 21:10] droazen commented on #1832
@akiezun Let's do it towards the end of alpha-2, after all of the heavy-duty branches are in.

[2016-05-25 02:56] #1029 closed

[2016-05-25 21:21] SHuang-Broad opened #1856 "Fix error(s) in InfiniteRandomMatingPopulationModel"
The problem was ported from GATK 3 ([here](https://github.com/broadinstitute/gsa-unstable/pull/1369) and [here](https://github.com/broadinstitute/gsa-unstable/issues/1368)), and seems like more error(s) are introduced.

Essentially, the fields`cachePloidyCapacity` and `cacheAlleleCountCapacity` are mixed, and fixing should be easy.

[2016-05-26 03:18] akiezun opened #1857 "Improve performance of JBWA native code"
(added here for easier tracking)

In bwajni.c
- [ ] lift `(*env)->GetArrayLength(env,baseArray)` out of loops
- [ ] pass pointers directly not wrapped in classes, eg. BwaIndex could be passed as a pointer
- [ ] cache all fieldIDs, methodIDs and classes
- [ ] pass in data directly without the ShortRead
- [ ] batch multiple calls to align (1 read)
- [ ] pass in a struct for the native code to fill r

[2016-05-26 03:42] vruano opened #1858 "Fix sum(AD) > DP"
Issue spotted in GATK3 and fixed by pull-request https://github.com/broadinstitute/gsa-unstable/pull/1377. Original issue: https://github.com/broadinstitute/gsa-unstable/issues/1340

Needs to be ported to GATK4 as part of a larger fix involving the refactoring of AFCalculators (Issue TBA).

[2016-05-26 03:45] vruano commented on #1858
@davidbenjamin I think that this issue will be addressed by the AFCalculator refactoring one way or another (e.g. by lifting up the max-alt-allele restrictions or simply avoid adding the NON-REF allele before calling the AFCalculator).

[2016-05-26 03:47] vruano commented on #1858
I have assigned it to you as you going to do start work on the AFCalculator but feel free to unassign yourself.

[2016-05-26 03:57] davidbenjamin commented on #1858
@vruano That makes sense.

[2016-05-27 02:04] akiezun commented on #1810
this option no longer exists: https://issues.apache.org/jira/browse/SPARK-9808

[2016-05-27 02:04] #1810 closed

[2016-05-27 02:06] akiezun commented on #1809
resolved by https://github.com/broadinstitute/gatk/pull/1861
snappy+512k blocks is the winner. On an SSD, no compression works very well too. But snappy+512k is a good default setting for HDD and SSD

[2016-05-27 02:06] #1809 closed

[2016-05-27 02:26] akiezun commented on #1807
I see no difference when using `spark.memory.storageFraction=0.1` vs `spark.memory.storageFraction=0.5` (default)

[2016-05-27 02:26] #1807 closed

[2016-05-27 11:26] magicDGS commented on #1581
Done!

[2016-05-27 18:08] meganshand opened #1864 "SplitNCigarReads should be able to take -L as an argument"

[2016-05-27 18:13] meganshand opened #1865 "SplitNCigarReads attempts to write reads out of order"
The output bam from SplitNCigarReads should be coordinate sorted, but when we have a read pair with one mapped read and one unmapped read, they can get out of order. It doesn't output the incorrect bam, but when the reads attempt to get written HTSJDK throws a an IllegalArgumentException for the out of order reads.

[2016-05-27 18:25] droazen commented on #1864
It doesn't take `-L` currently because it's implemented as a raw Picard-style `CommandLineProgram` instead of as a `GATKTool`

[2016-05-27 18:30] meganshand commented on #1864
So it probably should be implemented as a GATKTool, right?

[2016-05-27 18:31] droazen commented on #1864
I would say so, yes :)

[2016-05-27 18:32] meganshand commented on #1864
Actually, should it use the ReadWalker?

[2016-05-27 18:50] droazen commented on #1864
It should probably be a `ReadWalker`, yes -- but if it can't be one for some reason, it is possible to extend `GATKTool` directly.

[2016-05-27 18:57] tedsharpe opened #1866 "Need to use template size evidence in FindBreakpointEvidenceSpark"
It's currently turned off (see TODO in ReadClassifier) because evidence of this type is so copious that it swamps everything else.  We'll need to figure out a means of de-weighting it or something.

[2016-05-27 19:20] vdauwera commented on #1864
Btw the GATK3 version of SNCR doesn't generate a valid bam file according to ValidateSAMFile. Would be lovely to fix that here (and backport the fix if possible).

v4 issue is here: https://github.com/broadinstitute/gatk/issues/1394

[2016-05-27 19:40] meganshand commented on #1864
That's exactly what I came here to do! I checked if Picard's FixMateInformation would fix it but it doesn't look that simple.

[2016-05-27 19:55] vdauwera commented on #1864
Ah, wonderful :)

Yeah I think we had tested FixMate at the time but no joy.

[2016-05-27 20:14] SHuang-Broad commented on #1857
@akiezun , the first item in the list, is it assuming that the input sequences are all the same length?
For contigs assembled in the SV pipeline, this is not the case (just to be sure).

[2016-05-27 20:16] akiezun commented on #1857
good point @SHuang-Broad

[2016-05-29 01:55] #1684 closed

[2016-05-29 01:55] davidbenjamin commented on #1686
Closed by PR #1855.

[2016-05-29 01:55] #1686 closed

[2016-05-29 02:03] SHuang-Broad commented on #1856
Close as fixed by #1855

[2016-05-29 02:03] #1856 closed

[2016-05-29 02:24] davidbenjamin opened #1868 "Reconsider subsetting haplotypes before genotyping"
While working on a GATK-3 bug, broadinstitute/gsa-unstable#855, @SHuang-Broad noticed that the natural place to avoid an explosion of genotypes (i.e. the size of the GLs vector) for a large number of alleles is right after computing haplotype likelihoods.  In GATK-4 this is in `HaplotypeCallerEngine::callRegion` after the line `final ReadLikelihoods<Haplotype> readLikelihoods =
likelihoodCalculati

[2016-05-29 02:26] davidbenjamin commented on #1868
It's also worth clarifying just how must subsetting we're talking about -- the bug @SHuang-Broad is dealing with involves culling a really big number of alleles to something more moderate and I think the comment in the code might be talking about more draconian subsetting.

[2016-05-29 02:39] davidbenjamin opened #1869 "Invent a spiffier Pair-HMM that can handle LCRs"
While @ldgauthier was presenting LobSTR, an STR indel caller, @fleharty and I were discussing how their probabilistic model was in some sense trying to convey a gap opening penalty and a gap continuation penalty for PCR slippage and related errors.  This sort of suggests that one could go whole hog and build this into an enhanced pair-HMM that is aware of multiple error modes.

[2016-05-31 09:00] yuruoxin opened #1870 "build gatk4 failed"
git clone https://github.com/lindenb/jbwa

and make, error message is:

ksw.c:29:23: fatal error: emmintrin.h: No such file or directory
#include <emmintrin.h>
^
compilation terminated.
make[1]: *** [ksw.o] Error 1
make[1]: Leaving directory `/home/dlspark/gatk/lib/jbwa/bwa-8e2da1e407972170d1a660286f07a3a3a71ee6fb'
make: *** [bwa-8e2da1e407972170d1a660286f07a3a3a71ee6fb/libbwa.a] Error 2

[2016-05-31 13:59] droazen commented on #1870
@yuruoxin The latest master branch version of GATK4 does not clone and build `jbwa` from source -- instead, it pulls down a pre-compiled version from maven. Can you update your GATK4 clone to the latest master and try again?

[2016-06-01 15:45] akiezun opened #1873 "use snappy and 512k blocks"
using snappy and 512k blocks improves performance of MarkDuplicatesSpark by >10% but the problem is that it fails to work on our in-house cluster (works fine on dataproc on google cloud)

The PRs to look at are https://github.com/broadinstitute/gatk/pull/1861 and https://github.com/broadinstitute/gatk/issues/1872

[2016-06-01 16:11] SHuang-Broad commented on #1868
To be fair, @vruano suggested the solution and I am simply writing code to try to make the allele-trimming work.

[2016-06-01 17:08] akiezun commented on #1770
not an alpha-2 priority

[2016-06-01 17:10] akiezun commented on #1873
note: this may remain unresolved for alpha-2 because it depends on some setting that may be difficult or impossible to fix

[2016-06-01 17:10] akiezun commented on #1603
not an alpha-2 priority for me

[2016-06-01 17:14] akiezun commented on #1203
Unmarking as alpha-2. I doubt this will rise enough priority. This is a cleanup task really because the default is BROADCAST already. @cmnbroad @droazen feel free to mark back as alpha-2 if #1443 is closed in time.

[2016-06-01 17:41] akiezun commented on #1517
this is done by #1750

[2016-06-01 17:41] #1517 closed

[2016-06-01 17:48] akiezun commented on #1210
what's the action plan for this? How about the following subgoals for alpha-2:
- [ ] move picard to a specific tagged version of htsjdk from maven https://github.com/broadinstitute/picard/pull/542
- [ ] picard moves to using gradle
- [ ] picard release numbers and schedule get decoupled from htsjdk ones

[2016-06-01 17:50] droazen commented on #1210
All of the items above are being implemented as we speak by @jacarey (see https://github.com/broadinstitute/picard/issues/545) -- whether we can do more than this for alpha-2 remains to be seen.

[2016-06-01 17:54] akiezun commented on #1816
this is blocked by https://github.com/travis-ci/travis-ci/issues/2316

[2016-06-01 17:54] akiezun commented on #1816
unchecking as alpha-2 because there's no timeline on https://github.com/travis-ci/travis-ci/issues/2316

[2016-06-01 17:56] akiezun commented on #1012
this is closed

[2016-06-01 17:56] #1012 closed

[2016-06-01 18:26] akiezun commented on #1609
@lbergelson let's chat with @davidbernick and figure out how to set this up (we need spark ones too)

[2016-06-01 18:34] akiezun commented on #1811
note: Lucy is looking at this

[2016-06-01 20:47] jacarey commented on #1210
I will have a PR for moving picard to gradle shortly.

[2016-06-01 21:49] SHuang-Broad commented on #1811
The local assembly step currently in SV pipeline also uses RDD cacheing (`validateAndSaveResults` of `RunSGAViaProcessBuilderOnSpark.java`), so this would help.
Thanks, @akiezun and Lucy

[2016-06-02 13:26] jacarey commented on #1210
https://github.com/broadinstitute/picard/pull/554

[2016-06-02 20:02] chutianwen opened #1876 "IllegalArgumentException problem when running some programs"
I have tested several program functions by GATK4, some of them work pretty well. GATK4 does a great job to organize all steps by different tools like BWA, samtools, picard. Besides, it seems that there is also some optimization inside. Like "cleanSam" step, GATK4 cuts the time half compared to the one using Picard. (From 8 mins to 4 mins on same data)

However, the problem about GATK4 is that some

[2016-06-02 20:16] droazen commented on #1644
This one is not happening for alpha-2 -- removing milestone.

[2016-06-02 20:26] droazen commented on #1558
Turns out this may already have been done -- @samuelklee do you have a branch in protected that implements this?

[2016-06-02 20:28] akiezun commented on #1558
https://github.com/broadinstitute/gatk-protected/tree/sl_het_coverage_spark ?

[2016-06-03 02:28] samuelklee commented on #1558
Actually, I think this is it: https://github.com/broadinstitute/gatk/compare/sl_het_pulldown_spark

I did take a crack at Spark-ifying the het pulldown in this (ancient) branch, but I can't claim that I knew what I was doing---if I remember correctly, I just tried to adapt some code Adam had in https://github.com/broadinstitute/gatk/tree/ak_coverage_spark.  I don't think I ever implemented proper

[2016-06-03 03:06] SHuang-Broad opened #1877 "Investigate why RunSGAViaProcessBuilderOnSpark runs extremely slow with large number of files"
Reading the same number of files by `JavaSparkContext.wholeTextFiles` and counting the number of lines in each file takes approximately 20 min. But running locally assembly on these files takes more than 24 hours, which based on experience is way too much longer than expected.

In addition, running the same program on ~10 files takes ~5 min.

Need to see if there's a way to debug this performance

[2016-06-03 13:45] cwhelan commented on #1877
A couple of things we can try:

Make sure that the temp directories created by RunSGAViaProcessBuilderOnSpark are actually being created on the /tmp filesystem. Maybe there's some Spark configuration that is overriding that?

Try removing the assembly part and just running writeToLocal() on the text files dataset. Then we can see if something's getting stuck in the assembly process or if it's a fi

[2016-06-03 14:51] ldgauthier commented on #1869
FWIW Yossi got more detailed slides from Melissa here: http://www.broadinstitute.org/~gymrek/GSAStutterNoise_mgymrek.pdf

[2016-06-03 20:21] lbergelson commented on #1865
@meganshand I think this should be a trivial fix.  Try changing the call to `ReadUtils.createCommonSAMWriter` on line 120 so that presorted = false.

[2016-06-05 03:25] SHuang-Broad commented on #1877
For @cwhelan and who are interested, testing without modifying logic (but added printf debugging logs)
seems to suggest that running assembly on 5,000 FASTQ files with sizes less than 280KB takes ~8 hours, on 4 executors (8 cores each), meaning approximately 3~4 minutes for each, which is not too bad.

[2016-06-06 01:55] SHuang-Broad commented on #1877
Another update: when test run on 10,000 files using 4 executors, one strange observation is that only one executor is doing the work, leading to low efficiency. Not sure exactly why this is the case.
http://dataflow01.broadinstitute.org:18088/history/application_1464285223085_0152/executors/

[2016-06-06 13:43] cwhelan commented on #1877
Could it be that wholeTextFiles is reading everything into one partition,
and we might need to force a repartition first?

On Sun, Jun 5, 2016 at 9:55 PM, Steve Huang <notifications@github.com>
wrote:

[2016-06-06 14:52] cwhelan commented on #1755
Could this be related to having sliced objects in the gsutils buckets but not using a code path that goes through a native CRC implementation? I ask because I noticed that when I try to download the file

    gs://hellbender/test/resources/benchmark/CEUTrio.HiSeq.WEx.b37.NA12892.readnamesort.bam

with gsutil, I get this error:

[code]

Could the GATK command path be computing all of the CRC hashes

[2016-06-06 15:44] magicDGS opened #1879 "Inconsistent constructor arguments ordering in LocusIteratorByState"
As @droazen point out in #1833, constructors for `LocusIteratorByState` have different arguments ordering. It should be fixed eventually.

[2016-06-06 16:17] akiezun opened #1880 "Add support for command line arguments for annotations"
eg, `AS_InbreedingCoeff` needs a set of founders. Currently there's no way to provide it on the commandline and pass to the annotation. In gatk3, annotations had an initialize method. In gatk4, we initialize all annotations at creation. RankSum annotations have a similar problem with the --dither parameter.

[2016-06-06 16:29] akiezun opened #1881 "implement non-raw annotations in AS_* classes"
the allele-specific annotation only support the 'raw' mode now. this should be expanded to the normal mode too (ie annotation of vcf files, not gvcfs).

[2016-06-06 16:43] akiezun opened #1882 "remove code redundancy AS_ReadPosRankSumTest vs ReadPosRankSumTest"
there's some highly redundant code in those classes

[2016-06-06 17:37] magicDGS opened #1883 "Allow other gVCF banding schemes, not only based on GQ"
Genomic VCFs (gVCFs) are quite useful for represent the whole genome including information for no-variation blocks. It saves space, allow to combine different datasets after calling and are normal VCF for be able to work with other tools.

Current implementation only allows to band by GQ, which requires called genotypes and qualities for them. I'm interested in experiment with other kind of bands,

[2016-06-06 21:59] tedsharpe opened #1884 "Consider joins in FindBreakpointEvidenceSpark"
Perhaps it would be possible to orient ourselves toward intervals early on, and use joins to gather info on each interval rather than the current architecture of ad hoc collects and broadcasts.  This is motivated by Chris' comment: "I wonder if it would be possible to speed things up by leaving some of these things as RDDs and then doing things like join operations between them."

[2016-06-07 04:16] SHuang-Broad commented on #1877
@cwhelan , you are right! With forced repartition and ~40K files, [this](http://dataflow03.broadinstitute.org:8088/proxy/application_1464285223085_0196/stages/stage?id=2&attempt=0) shows results for one test run.

Just noticed there's another function

[code]
will give it a try tomorrow.

[2016-06-07 09:01] magicDGS opened #1885 "Arguments for ReadFilters in tools which require reads"
Tools which require reads usually have a `makeReadFilter` method (like `ReadWalker` or `LocusWalker`), and the optional `@Argument(fullName = "disable_all_read_filters")`. It could be interesting to have an argument collection for this to maintain consistency.

In addition, I think that it will be useful to provide a way to allow the user of the tool to set concrete `ReadFilter`s on demand.

[2016-06-07 09:10] magicDGS opened #1886 "Retrieving transformed reads from source"
It could be nice to provide a way to return the reads from source already transformed by one or several `ReadTransformer`. It will be helpful for fixing misencoded qualities or use BAQ quality transformation for API users without iterate over the reads including the transformer. Another interesting feature that could be included once this is implemented is an optional argument in `ReadInputArgumen

[2016-06-07 12:14] cmnbroad commented on #1885
This work is underway (https://github.com/broadinstitute/gatk/issues/589) and a PR will be available soon.

[2016-06-07 12:18] cmnbroad commented on #1885
Closing as dup of #589.

[2016-06-07 12:18] #1885 closed

[2016-06-07 13:01] magicDGS commented on #1885
Sorry @cmnbroad, I didn't realize.

[2016-06-07 13:46] akiezun commented on #1687
@tomwhite any update on this?

[2016-06-07 13:48] akiezun commented on #1651
@tomwhite do you have an update on this? The HadoopBAM PRs are resolved now

[2016-06-07 13:50] akiezun commented on #1629
@gspowley is this issue done or is more work planned here?

[2016-06-07 13:51] akiezun commented on #1771
@gspowley can this be closed now?

[2016-06-07 13:52] akiezun commented on #1645
@lbergelson can this be closed or what else needs to be done here?

[2016-06-07 13:54] akiezun commented on #1524
@lbergelson is this still an issue? We're on Kryo 3.0.3 now

[2016-06-07 13:54] akiezun commented on #1427
i'll grab this

[2016-06-07 13:57] akiezun commented on #1788
this ticket is done. https://github.com/broadinstitute/gatk-native-bindings is the set of interfaces and IntelGKL is the library that contains the Intel native code. Our build scripts are updated. GKL will move to maven central but that's not a gatk work item.

[2016-06-07 13:57] #1788 closed

[2016-06-07 13:57] akiezun commented on #1753
@lbergelson this is done, correct?

[2016-06-07 13:58] akiezun commented on #1683
I think this is done. @cmnbroad are you doing any work for it? I did some in #1425.

[2016-06-07 13:59] droazen commented on #1645
This is being handled in a different way, and will be closed shortly.

[2016-06-07 14:01] droazen commented on #1753
Yes, this one is done

[2016-06-07 14:01] #1753 closed

[2016-06-07 14:03] droazen commented on #1683
This is not done -- what's missing is the option to "optionally blow up", and hooking this check up to bam indices as well.

[2016-06-07 14:35] droazen commented on #1771
If we close it, we'll have to add another ticket for setting FTZ in `main`

[2016-06-07 14:36] akiezun commented on #1771
Fine either way, as long as it's clear what remains to be done

[2016-06-07 14:40] gspowley commented on #1771
Right, we need to set FTZ in `main`. We will add code to GKL to set and check FTZ from Java.

[2016-06-07 14:50] gspowley commented on #1629
This issue can be closed. We do plan to add native Smith-Waterman to GKL, after compression and pairHMM are solid. We could track that work under #1812, or close both and reopen an issue when native Smith-Waterman is available in GKL.

[2016-06-07 14:57] droazen commented on #1629
Closing in favor of https://github.com/broadinstitute/gatk/issues/1812

[2016-06-07 14:57] #1629 closed

[2016-06-07 15:14] lbergelson commented on #1645
Yeah, this is being delegated to intel eventually, and until then david  has a plan to put them in a jar on artifactory.

[2016-06-07 15:14] lbergelson commented on #1753
This is done.

[2016-06-07 15:57] lbergelson commented on #1876
@chutianwen Thanks for reporting this.  I'm pretty sure the issue is with your hdfs paths.  You say that you're not running on a cluster, which makes me suspect you also don't have hdfs configured.  Let me know if that isn't the case and your files are on hdfs.

Try using file paths instead of the hdfs ones you're using.

If you checked out the git-lfs files then the following command should work

[2016-06-07 16:08] lbergelson commented on #1524
It's still an issue unfortunately.  The changes we need are merged, but 3.0.3 was released nearly a year ago.  I asked for an official new release https://github.com/EsotericSoftware/kryo/issues/431, we'll see if they respond.  We could build our own version and publish it, but that seems like an unfortunate thing to have to do and I assume cloudera wouldn't incorporate it in their distribution.

[2016-06-07 17:45] tedsharpe opened #1887 "Bust up gcs.BucketUtils"
Seems a shame to have every Spark application depend on GCS code, just to have access to HDFS.  Maybe we could bust this into two pieces: separate out a spark.utils.HDFSUtils that knows nothing about GCS but can handle "file:" and "hdfs:" URLs, leaving the original gcs.BucketUtils that handles only "gcs:" URLs, and delegates non-gcs URLs to HDFSUtils.

[2016-06-07 18:06] lbergelson commented on #1887
Is this to avoid having to pass AuthHolder around?  We're going to remove most of the gcs path handling stuff once #1547 is finished which should hopefully be within the next week or two.  (depends on google publishing something)

[2016-06-07 18:13] tedsharpe commented on #1887
Well, there's that, but there's also the unnecessary dependency on (what I imagine is) a large jar of Google code, and the cognitive dissonance of using something in the gcs package called *Bucket*Utils to do HDFS work.

[2016-06-07 18:38] lbergelson commented on #1887
Unfortunately we'll still have the dependency unless we also cut out our ability to read from the google reference store.  (which we might not care about anymore...)  It would be good to at least rename BucketUtils.  Maybe FilesSystemUtils or something like that.

[2016-06-07 18:50] tedsharpe commented on #1887
I suppose that's true (about always having the dependency) if we want GCS capability in all tools that do I/O (which is all tools, I imagine).  I guess I was imagining that there might be a set of Spark-only tools that could have a skinnier dependency tree if we decided to segregate them.
Calling it FileSystemUtils or IOUtils or extending the standard URL resolution framework would ease the cognit

[2016-06-07 19:35] tedsharpe opened #1889 "In FindBreakpointEvidenceSpark, KmerCleaner is ugly and seems redundant"
We're trying to chop out huge pile-ups, and genomically ubiquitous kmers, and high frequency kmers in the read set, and then we yet again eliminate kmers that appear in numerous intervals.  Can't we do something simpler that cleans up the drek more efficiently?

[2016-06-07 19:41] tedsharpe opened #1890 "FindBreakpointEvidenceSpark has a significant number of hard-coded static parameters"
They appear to have been pulled out of a hat.  And they need to be optimized.

[2016-06-07 20:18] tedsharpe commented on #1866
Per Chris W.:  We might want to consider a) ignoring small zish scores, and b) weighting pieces of evidence more highly if they agree with other pieces of evidence w/r/t their mate mapping position for discordant pairs or their SA tag locations for split reads.

[2016-06-07 20:22] droazen commented on #1812
It's likely there will eventually be a native SW implementation in intel-gkl. From @gspowley: "We do plan to add native Smith-Waterman to GKL, after compression and pairHMM are solid."

[2016-06-08 04:14] davidbenjamin opened #1891 "Remove extraneous methods from AFCalculator"
`AFCalculator` has a couple of methods that don't belong: `reduceScope()`, which is called *before* the AF calculation to reduce its computational burden, and `subsetAlleles()`, which is called *after* the calculation to eliminate alleles that don't exist in called genotypes (in conformance with the dubious VCF spec).

These methods are chronologically distinct from the rest of `AFCalculator` and

[2016-06-08 04:15] davidbenjamin commented on #1697
Note: issue #1891 is a prerequisite.

[2016-06-08 11:24] tomwhite commented on #1651
@akiezun I started looking at this, but I have a question about the sequence dictionary. I've added intervals tests to CountVariantsSparkIntegrationTest, but I get

[code]

Any thoughts about how to specify the sequence dictionary when the only input is a VCF (count_variants.vcf in this test)?

[2016-06-08 11:25] tomwhite commented on #1687
@akiezun no, I haven't had time to look at this yet.

[2016-06-08 11:26] tomwhite commented on #1651
See https://github.com/broadinstitute/gatk/commit/6fe684622d5365861fe3655430b42c273f9ada2b

[2016-06-08 15:46] droazen opened #1893 "Port combine/reduce functionality for allele-specific annotations"
Our goal is to have the combination step for allele-specific annotations handled by TileDB, but we should still port this code to GATK4 for the following reasons:

-We can likely simplify the code greatly, reducing it down to the three cases of List concatenation, sum, and contingency table combination, making it easier for Intel to replicate in TileDB.

-It will be good to have a non-TileDB way t

[2016-06-08 16:10] akiezun commented on #1651
this is related to https://github.com/broadinstitute/gatk/issues/1310

[2016-06-08 16:13] akiezun commented on #1651
@tomwhite does this work on non-indexed files? or do they need to be tribble or tabix indexed?

[2016-06-08 17:43] ronlevine opened #1895 "Add integration test using -maxNumPLValues for GenotypeGVCFs"
Port https://github.com/broadinstitute/gsa-unstable/pull/1403.

[2016-06-08 19:32] akiezun opened #1896 "CountVariants bogus error message when file missing and -L is used"
[code]

blows up with a message

[code]

which makes no sense because `fred` does not even exist

[2016-06-08 19:38] droazen commented on #1896
Well if it doesn't exist, then there's no sequence dictionary available, right? :)

[2016-06-08 19:43] akiezun commented on #1896
true. the question is though, will the restriction of providing an existing input file  `be removed in the future`?

[2016-06-08 19:45] droazen commented on #1896
Maybe it will -- having input files causes a lot of hassle/bugs! We'd be better off without them.

[2016-06-08 19:47] akiezun commented on #1896
it's not so much the input files themselves, maybe it's that we have to do something different for each of them.

[2016-06-08 20:29] vdauwera commented on #1896
The parser does seem to have questionable priorities in what to complain about first -- but I like the idea of doing away with input files. We could just put all the data inside GATK,  and require that users commit their data into the codebase in order to run analyses on it. That way the data would go through code review first which would catch all possible issues. /insanetrolllogic

[2016-06-08 20:29] akiezun opened #1898 "move TSV from protected to public"

[2016-06-08 20:30] akiezun opened #1899 "Move FeatureWalker from protected to public"

[2016-06-08 20:31] akiezun commented on #1898
fixed by #1888

[2016-06-08 20:31] #1898 closed

[2016-06-08 20:31] akiezun commented on #1899
fixed by #1888

[2016-06-08 20:31] #1899 closed

[2016-06-08 20:34] akiezun commented on #1837
the analysis part of this is done. see analyses in https://github.com/samtools/htsjdk/pull/576

closing this ticket. will open a new one if we decide to put async reading in

[2016-06-08 20:34] #1837 closed

[2016-06-08 20:36] akiezun commented on #1896
hmm. user data is problematic. Let's use our data and just output the same correct results for everyone, everytime.

[2016-06-08 20:37] vdauwera commented on #1896
It would be the best way to ensure reproducibility

[2016-06-09 09:06] tomwhite commented on #1426
Fixed in https://github.com/samtools/htsjdk/pull/458.

[2016-06-09 09:06] #1426 closed

[2016-06-09 09:55] tomwhite commented on #1651
@akiezun the Hadoop-BAM part uses tabix files to filter which splits are needed, but it will still work (although potentially much slower) if no tabix files are provided.

[2016-06-09 13:53] meganshand commented on #1865
You're right! I've made this change in #1853 and it seems to be working.

[2016-06-09 13:56] lbergelson commented on #1865
I suspect it will also make things substantially slower.  It will end up doing essentially a full sort of the bam file I believe.  Since we really only need local sorting to fix the problem this is a bit overkill.  If this is a bottleneck we can likely improve it, but it would be more work than just flipping the single flag.

[2016-06-09 15:55] davidbenjamin opened #1902 "Learn Smith-Waterman parameters"
The gap-opening and gap-continuation parameters of Smith-Waterman realignment depend on PCA slippage and other stuff that depends on the sequencing platform and sample prep.  In other words, they are not global parameters (_note: Smith-Waterman is often used to determine sequence similarity between individuals or species in which case its parameters are constants of the population.  But a read dif

[2016-06-09 18:18] akiezun commented on #1401
is this done?

[2016-06-09 18:20] akiezun commented on #1402
needs @davidbernick to help

[2016-06-09 18:22] akiezun commented on #1594
needs @davidbernick

[2016-06-09 18:24] akiezun commented on #1758
needs @davidbernick

[2016-06-09 18:32] akiezun commented on #1609
i will send the right commandlines and accepted times to @davidbernick

[2016-06-09 18:38] akiezun commented on #1257
@tomwhite can you help here?

[2016-06-09 18:40] akiezun commented on #1401
i will send the rigght commandlines to @davidbernick

[2016-06-09 18:42] akiezun commented on #1447
@LeeTL1220 what is this about? What is the problem and what should be done?

[2016-06-09 18:43] akiezun commented on #1451
@tomwhite can you take this?

[2016-06-09 18:45] akiezun commented on #1554
we're not going to build native stuff anymore

[2016-06-09 18:45] #1554 closed

[2016-06-09 18:53] droazen opened #1903 "Load inteldeflater from intel-gkl, hook up to new htsjdk interface"

[2016-06-09 18:53] akiezun commented on #1692
this will be fixed by loading from the classpath #1903. keeping this ticket open so that we confirm that the problem is fixed.

[2016-06-09 18:57] akiezun commented on #1639
to clarify - there're no strict correctness requirement here. Just make it run on spark and produce some output.

[2016-06-09 19:16] akiezun opened #1904 "hook up BWA to ReadsPipelineSpark"

[2016-06-09 19:17] akiezun opened #1905 "hook up HaplotypeCallerSpark to ReadsPipelineSpark"
blocked by #1639

[2016-06-09 19:18] akiezun commented on #1646
closing - replaced  by #1904 and #1905

[2016-06-09 19:18] #1646 closed

[2016-06-09 19:27] lbergelson commented on #1447
I think this was originally to move these lines to gatk public shadow jar as well to ward off future badness.  I don't remember the exact sequence of horrors that necessitated this, but it's possible they've already moved into gatk public without notice when MLLIB came in.

[2016-06-10 03:06] akiezun commented on #1725
Requirements (consistent with picard)
`./gatk-launch CountReads` <- prints error message, usage help, exit code 1
`./gatk-launch CountReads --help` <- no error message, usage help, exit code 1
`./gatk-launch CountReads fred` <- prints error message, usage help, exit code 1
`./gatk-launch CountReads -I src/test/resources/large/expected.NA12878.RNAseq.splitNcigarReads.bam` <- exit code 0

[2016-06-10 03:23] akiezun commented on #1680
blocked by #1903

[2016-06-10 03:25] akiezun commented on #1903
blocked by htsjdk release

[2016-06-10 04:51] davidbenjamin opened #1907 "Redundant representations of genotypes"
In the genotyping code, we represent and iterate over all possible genotypes with a given number of alleles and ploidy in two different ways.  The first is simply an `alleleCounts` array of type `int[numAlleles]`, where `alleleCounts[n]` is the number of times allele `n` appears in the (unphased) genotype.  This is implemented in the nested `SumIterator` class in `GeneralPloidyExactAFCalculator`.

[2016-06-10 13:52] SHuang-Broad commented on #1877
By using 5 executors, 24 cores on each when no one else seem to be using the local cluster, [this](http://dataflow01.broadinstitute.org:18088/history/application_1464285223085_0420/jobs/) is the time it takes to run on the 44188 small FASTQ files, without capturing the stdout and stderr of SGA processes.

Note that this time the RDD caching is done differently than the way it is done in code livin

[2016-06-10 14:47] SHuang-Broad opened #1908 "Replace step-by-step call to SGA modules by a single shell wrapper script"
Currently the call out to SGA modules are launched step by step via Process Builder. May be too slow. Now that we have an experience of how it may run on Spark, replace with a single wrapper script make improve runtime.

[2016-06-10 14:54] SHuang-Broad commented on #1811
One note that might be useful (or known already to the team): simply calling `cache()` doesn't cause any action. It seems that one might need to force the computation to be done on the RDD (e.g. `count()`), for caching to work, if the predicate depends on the results of computation. (ref last comment in #1877)

[2016-06-10 15:24] lbergelson commented on #1896
Now that github doesn't charge us for large file storage this suggestion is totally reasonable.

[2016-06-10 15:45] lbergelson commented on #1725
I think something with --help should exit code 0...

[2016-06-10 15:52] lbergelson commented on #1877
@SHuang-Broad Could you explain what happens with and without the count?

Spark is deliberately lazy... i.e. without the count you would expect nothing to be computed until success.isEmpty() is called.  (Note that success is a different RDD than results, so calling success.isEmpty() and then success.map(..).saveAsTextFile(..) will probably result in success being re-filtered from results twice.  Y

[2016-06-10 16:05] akiezun commented on #1725
what about no args and `--version`?

[2016-06-10 16:06] akiezun commented on #1725
just looked as samtools - no args gives 1, --help gives 0, and --version gives 0

[2016-06-10 16:40] magicDGS opened #1909 "User exception for Pileup output PrintStream"
If an invalid path is given to `Pileup`, the exception is not informative for the final user: `A USER ERROR has occurred: Invalid command line: Argument output has a bad value: /some/invalid/path. Problem constructing PrintStream from the string '/some/invalid/path'.`.

Although #121 should correct this issue, in the meanwhile it could be better to use `File` in the argument and generate the strea

[2016-06-10 16:45] lbergelson commented on #1725
That sounds right to me.  Anything that's explicitly asking for information and then exiting should be 0.  No args is usually an error state.

[2016-06-10 17:27] akiezun opened #1910 "port OverclippedReadFilter from GATK3.x"
the task is to port OverclippedReadFilter and OverclippedReadFilterUnitTest from https://github.com/broadinstitute/gsa-unstable/

[2016-06-10 17:38] akiezun commented on #1725
I agree.

[2016-06-10 18:48] cwhelan commented on #1910
This would be useful for @tedsharpe and I

[2016-06-10 19:05] droazen opened #1911 "Make ReadCoordinateComparator match bam file order"
The fact that `ReadCoordinateComparator` does not exactly match the ordering of htsjdk's `SAMRecordCoordinateComparator` has been the cause of a few bugs. It sorts all unmapped reads after mapped reads, whereas `SAMRecordCoordinateComparator` sorts unmapped reads that are assigned the positions of their mapped mates with their mapped mates.

The issue is that the `GATKRead` interface does not allo

[2016-06-13 16:45] lbergelson opened #1913 "Put expected outputs for benchmark data online somewhere"
Gatk performance work, do we have output files included in our data bucket?  We need to add those so people can compare.

[2016-06-13 16:53] SHuang-Broad commented on #1877
@lbergelson , as we discussed, I made the mistake of not using the returned RDD when calling `cache()`, after I fixed it, [here](http://dataflow01.broadinstitute.org:18088/history/application_1464285223085_0460/jobs/) is the runtime, running the following code:

[code]

Thanks!

[2016-06-13 17:07] SHuang-Broad commented on #1877
Closed by #1912

[2016-06-13 17:07] #1877 closed

[2016-06-13 17:30] akiezun commented on #1870
closing this. @yuruoxin please reopen if you still see it on master

[2016-06-13 17:30] #1870 closed

[2016-06-13 17:31] akiezun commented on #1635
done

[2016-06-13 17:31] #1635 closed

[2016-06-13 20:02] yhcheng opened #1914 "jbwa updates"
Please update jbwa with the current github version. A patch for PPC64 is merged with jbwa now. Thanks!

[2016-06-14 14:08] droazen commented on #1536
This one is done

[2016-06-14 14:08] #1536 closed

[2016-06-14 15:10] tomwhite opened #1916 "BWA-MEM UnsatisfiedLinkError"
I got the following error when running on a cluster (Centos 6.6). The file _/lib64/libz.so.1_ is symlinked to version 1.2.3, which is too low (<1.2.3.3). When I rebuilt jbwa locally it worked fine.

[code]

[2016-06-14 17:36] droazen commented on #1909
Done in https://github.com/broadinstitute/gatk/pull/1917 -- closing

[2016-06-14 17:36] #1909 closed

[2016-06-14 20:27] meganshand commented on #1865
Since the simple fix is merged for now, can we close this ticket and open a new one if the speed ends up being a problem?

[2016-06-15 15:12] lbergelson commented on #1865
👍

[2016-06-15 19:17] #1865 closed

[2016-06-16 14:00] akiezun commented on #1910
for @jamesemery

[2016-06-16 14:50] LeeTL1220 opened #1920 "``Pileup`` hangs on WGS bam file"
Command line from a gatk-protected jar file:

[code]

Uses `'org.broadinstitute:gatk:4.alpha.1-104-g213595d-20160606.150121-2'`

[2016-06-16 15:20] meganshand commented on #1394
After talking about it with @yfarjoun, one possible solution would be to have each new split read point in an unbroken circle so that each read follows this rule: "RNEXT: Reference sequence name of the primary alignment of the NEXT read in the template. For the last read, the next read is the first read in the template." (From the SAM Spec) Where we are now thinking of a template as having more th

[2016-06-17 14:40] akiezun commented on #1873
@tomwhite can you help me with this? It seems like this may be an issue with CDH - are you able to run snappy on CHD 5.7? For example, set this when running MarkDuplicatesSpark
[code]

Assigning to @tomwhite for advice/help

[2016-06-17 15:13] davidbernick commented on #1758
sorry i just got this as i filtered stuff wrong in email. actions?

[2016-06-17 15:17] akiezun commented on #1758
definitely - needs action to set up jenkins to run build and run gatk-protected on every push to gatk master. assigning to @davidbernick to help

[2016-06-17 15:34] davidbernick commented on #1758
Okay - We discussed this in person last week, right? It was a tertiary item compared to the other two items but still important, right?

[2016-06-17 15:34] davidbernick commented on #1758
Also -- which jenkins server does your team use?

[2016-06-17 15:52] akiezun commented on #1609
Let's start with those 4. You need to fetch and build GATK by clone and `./gradlew clean installAll` and get the data from the location I indicated here. For accepted times, let's first run it a few times and we'll see.

Assigning to @davidbernick

Non-spark Commandline for BaseRecalibrator (you may want to copy the input files onto a local drive)

[code]

Non-spark Commandline for ApplyBQSR  (you

[2016-06-17 15:53] magicDGS commented on #1920
@LeeTL1220, I believe that it is because of huge coverage issues. Do you have any log? Does the output file contain something? I expect that the time for processing huge covered data will be slow because of the implementation. I'm sure that things will be better when downsampling is implemented.

[2016-06-17 15:54] akiezun commented on #1920
or was it NFS slowness. NFS is the worst.

On Fri, Jun 17, 2016 at 11:53 AM, Daniel Gómez-Sánchez <
notifications@github.com> wrote:

[2016-06-17 15:57] akiezun commented on #1402
This is redundant with https://github.com/broadinstitute/gatk/issues/1609 because https://github.com/broadinstitute/gatk/issues/1609 will run spark tools on hdfs for performance. Closing this one.

[2016-06-17 15:57] #1402 closed

[2016-06-17 16:04] akiezun commented on #1594
will be taken care of in https://github.com/broadinstitute/gatk/issues/1609
closing this one

[2016-06-17 16:04] #1594 closed

[2016-06-17 16:32] akiezun opened #1922 "spark validation tests fail"
the tests written by David A a while back have not been run or updated and they fail (we now compare more stringently so maybe that's why)

The ticket is to figure out why and fix if possible. Depends on code changes in https://github.com/broadinstitute/gatk/pull/1921

[2016-06-17 16:35] akiezun commented on #1401
this is blocked until https://github.com/broadinstitute/gatk/pull/1921 is in and https://github.com/broadinstitute/gatk/pull/1922 is fixed

[2016-06-17 16:40] akiezun commented on #1922
I run like this:
[code]

And it fails like this:
[code]

[2016-06-17 16:45] lbergelson commented on #1758
@davidbernick https://gatk-jenkins.broadinstitute.org/

[2016-06-17 18:58] akiezun commented on #1904
hmm, BQSR on spark wants 2bit reference and bwa wants a fasta reference.

[2016-06-17 19:02] droazen commented on #1904
Oh dear -- can provide both for now in the interests of getting it running, but we need to fix this...

[2016-06-17 21:24] #1864 closed

[2016-06-18 04:45] SHuang-Broad commented on #1639
@droazen @akiezun How is the progress on this? I am working on a fix for GATK 3 in `HaplotypeCallerGenotypingEngine` [here](https://github.com/broadinstitute/gsa-unstable/pull/1395), and seems some related code has been ported but the HaplotypeCallerGenotypingEngine part hasn't been. So I need to report correctly in the [Google doc](https://docs.google.com/document/d/1DjEHw57k5h0i8MZRGYPlQA3InvURK

[2016-06-18 11:49] droazen commented on #1639
@SHuang-Broad `HaplotypeCaller` is fully ported (as a walker), including `HaplotypeCallerGenotypingEngine` -- you are just looking in the wrong repository. Look in https://github.com/broadinstitute/gatk-protected

[2016-06-18 20:49] SHuang-Broad commented on #1639
Thanks @droazen.

[2016-06-20 15:11] cwhelan opened #1925 "See if we can get rid of split read alignment breakpoint uncertainty in FindBreakpointEvidence"
We might be able to compute the microhomology/microsinertion length based on the two cigars and nail it down to an exact breakpoint or range specific to that clip.

[2016-06-20 15:32] droazen commented on #1916
@tomwhite How do you suggest that we address this issue, given that we're trying to move to depending on pre-built versions of libraries? Static linkage?

[2016-06-20 16:43] davidbernick commented on #1609
Any # of CPUs to use?

[2016-06-20 17:58] akiezun commented on #1609
you mean, for spark? Up to you - we'll only be comparing results between runs on your setup anyway. For my experiments I used 10 nodes of 16 CPUs each and stuff runs in <10-15 minutes then. If you go for fewer cores, it'll simply take longer - not a big deal here because the requirement is that those run overnight

[2016-06-20 18:07] davidbernick commented on #1609
Actually i mean for the Non-Spark machines -- how many CPUs should be available for the job?

[2016-06-20 18:19] cmnbroad opened #1926 "BwaSpark serializes the whole GATKSparkTool"
It looks like the mapPartitions call in BwaSpark results in a larger serialized object graph than the other Spark tools. I discovered this by accident when I added a non-serializeable read filter object to the ReadInput argument collection in GATK Spark tool, which caused the BwaSparkIntegrationTest to fail. All other tests passed.

It can be reproduced it by just adding an instance of anything th

[2016-06-20 18:25] davidbernick commented on #1609
@akiezun this will sound dumb because you'd assume i have access to the internal infrastructure but i've been All Cloud since I got here. Are these files at these locations on the Isilon or do they reside elsewhere?

[code]

[2016-06-20 19:41] #1910 closed

[2016-06-20 20:52] akiezun commented on #1609
/dsde/working/akiezun/data/ is on the broad nfs

[2016-06-20 20:53] akiezun commented on #1609
about non-spark number of machines and their kinds - please consult with Jose to use the same exact kinds as production uses.

[2016-06-21 10:29] tomwhite commented on #1916
Static linking is probably the way to go here.

[2016-06-21 13:56] akiezun commented on #1914
thanks @yhcheng - I think you should work with the developer of jbwa to create a packaged, pre-compiled binary (on all platforms supported) and put it on maven central so that gatk (and others) will be able to reference it. We will not be able to build it on all the platforms (we made 1 snapshot on linux+mac to unblock ourselves but the real solution is for jbwa to be hosted on maven central and h

[2016-06-21 14:13] droazen commented on #1914
Yes, agreed @akiezun -- and as mentioned at group meeting this week, we can meet with you guys to provide guidance in setting this up in a way that GATK can easily use after we meet our June deadlines.

[2016-06-21 15:20] droazen commented on #1581
Closing -- this is done

[2016-06-21 15:20] #1581 closed

[2016-06-21 15:27] droazen commented on #1449
Call this one done

[2016-06-21 15:27] #1449 closed

[2016-06-21 15:29] droazen commented on #1309
This one is no longer valid, since we've added `-L unmapped` support and the original error message has been removed.

[2016-06-21 15:29] #1309 closed

[2016-06-21 17:02] SHuang-Broad commented on #1857
It would be great if the jbwa also exposes a `bwa index` option, as we might need to map reads back to the assembled contigs (there will be many of them) for the genotyping step in SV pipeline, which in turn requires the contigs themselves to be indexed.

[2016-06-21 17:25] akiezun opened #1928 "CLI: specifying list based arguments should replace, not add to, the defaults"
when an argument has a List type and a default eg

[code]

then specifying that argument on the commandline should just use the provided values and not add the provided values to the defaults (as it does currently)

came up in review of https://github.com/broadinstitute/gatk-protected/pull/554

[2016-06-21 17:30] lbergelson commented on #1928
duplicate (but probably clearer wording) of #175

[2016-06-21 17:32] akiezun commented on #1928
feel free to close one of them

[2016-06-21 17:53] akiezun commented on #1641
done in https://github.com/broadinstitute/gatk/pull/1840 and https://github.com/broadinstitute/gatk-protected/pull/554

[2016-06-21 17:53] #1641 closed

[2016-06-21 18:46] droazen commented on #1456
Re-assigning to @jamesemery

[2016-06-21 18:57] droazen commented on #1926
For @jamesemery -- this would be a good one for learning about Spark serialization

[2016-06-21 19:59] davidbernick commented on #1609
@akiezun which java version?

[2016-06-21 20:02] akiezun commented on #1609
oracle java8

[2016-06-21 20:28] lbergelson commented on #15
Initial port of GenotypeGVCFs completed by https://github.com/broadinstitute/gatk-protected/pull/553/

[2016-06-21 20:28] #15 closed

[2016-06-21 20:58] jamesemery opened #1930 "Deflater not found on spark with gatk-launch"
When I tried to run the latest build of the spark gatk I got the following error message on both dataproc and the onprem cluster.
`File Not Found: [/Users/emeryj/IdeaProjects/gatk/build/libIntelDeflater.so]`

Making the following changes to gatk-launch seems to fix it.
[code]

[2016-06-21 20:59] jamesemery commented on #1930
@akiezun can you look at this?

[2016-06-21 23:51] jean-philippe-martin commented on #1755
Did we change the name of the files since the initial bug was filed? Because my earlier comment talks about downloading to my desktop in 2.5min, but retrying now it takes about an hour! The file is 34.56 GiB. I guess that's what I get for moving to a different office.

Assuming this time is correct, I see that NIO (when multithreaded) matches gsutil performance. Output below.

gsutil:
[code]

NIO

[2016-06-22 03:13] akiezun commented on #1608
first measurement after code in master (file is a wide gvcf with 10k samples and 1k lines : 258M)
GATK3
real	0m31.092s
user	0m46.361s

GATK4
real	0m46.806s
user	0m55.150s

[2016-06-22 03:51] davidbernick commented on #1609
@akiezun to run this command, what files do I actually need localized?
[code]

For instance, I don't need just these files:
[code]

I need the matching fai file, too. What else?

[2016-06-22 03:55] akiezun commented on #1609
probably nothing else but just in case, copy
/dsde/working/akiezun/data/CEUTrio.HiSeq.WEx.b37.NA12892.ba*

/dsde/working/akiezun/data/dbsnp_138.b37.excluding_sites_after_129.vc*

Adam

On Tue, Jun 21, 2016 at 11:51 PM, David Bernick <notifications@github.com>
wrote:

[2016-06-22 04:40] akiezun commented on #1608
after more aggressive caching of log10 values (a615f8d9c8)
GATK4
real	0m37.982s
user	0m46.861s

[2016-06-22 12:06] droazen commented on #1608
@lbergelson What input(s) were you using where you saw an order-of-magnitude speedup vs. GATK3?

[2016-06-22 12:09] droazen commented on #1609
@davidbernick You need the companion indices for each of those inputs (the `bai`, `idx`, and `fai` files for  the bam, vcf, and fasta respectively), as well as the `dict` file for the fasta.

[2016-06-22 13:32] lbergelson commented on #1608
I was using a long thin file.

[2016-06-22 14:52] akiezun commented on #1608
Running with the log10 cache on a non-bp file, 10k samples, 1k lines: 186M

GATK3.5
real	0m26.499s
user	0m42.367s

GATK4
real	0m33.999s
user	0m41.278s

[2016-06-22 15:13] davidbernick commented on #1609
Running the ApplyBQSR command from above. I get this error:
[code]
This is the commandline:
[code]

[2016-06-22 15:19] droazen commented on #1609
@davidbernick You are missing the file argument for the `-bqsr` option.

[2016-06-22 15:22] davidbernick commented on #1609
No, i have it --
[code]
after the out.bam...

[2016-06-22 15:23] droazen commented on #1609
@davidbernick I mean that the `-bqsr` argument takes a file. Eg., `-bqsr recal_file`

[2016-06-22 15:32] akiezun commented on #1608
small loop code lifting

GATK4 bp file
real	0m35.082s
user	0m43.495s

GATK4 no-bp file
real	0m31.129s
user	0m40.782s

[2016-06-22 15:34] droazen commented on #1608
@akiezun Try playing with different values of `VariantWalker.FEATURE_CACHE_LOOKAHEAD` and see if that has an effect.

[2016-06-22 15:36] davidbernick commented on #1609
that worked, thanks. I had a typo in the variable "recaFile" vs "recalFile".

how does this group want to proceed with alerting on failures? email? hipchat? slack? carrier pigeon? and who should be on the list?

[2016-06-22 15:43] droazen commented on #1609
@davidbernick My vote would be for a github badge showing current status on master + email alerts on failure. Core dev team of myself, @lbergelson, and @akiezun should be fine for now as long as we can easily add additional recipients.

[2016-06-22 16:40] samuelklee opened #1934 "Allow GatherBqsrReports to accept a .list file as input"
Port of https://github.com/broadinstitute/gsa-unstable/pull/1412

[2016-06-22 17:21] akiezun commented on #1608
sharing GenotypeLikelihoodCalculators
GATK4 bp file
real	0m31.917s
user	0m41.398s

GATK4 no-bp file
real	0m26.793s
user	0m36.451s

[2016-06-22 17:22] akiezun commented on #1608
@droazen i doubt it will help - most work is in the math + vcf decoding (we could move the latter to a different thread eventually i think)

[2016-06-22 17:46] davidbernick commented on #1609
https://gatk-jenkins.broadinstitute.org/view/Performance/ -- running non-spark tests over and over while I build the spark tests. I'll run about 5 times (take about 2 hours each in parallel) so we can get an average. I've constrained each test to 1 CPU at a time.

[2016-06-22 18:24] akiezun commented on #1608
more code lifting out of loops
GATK4 bp file
real	0m32.947s
user	0m41.479s

GATK4 no-bp file
real	0m26.206s
user	0m35.763s

[2016-06-22 19:54] akiezun commented on #1427
this will continue. moving to alpha-3

[2016-06-22 23:17] jean-philippe-martin commented on #1755
I tried from a GCE instance and got **6m12s** for the gsutil copy, and **5m21s** for the NIO code.

So we know that using the NIO code would match the gsutil performance (in this case, about 100MB/s).

As to the original question of how this translates to Spark performance, well, this test just fails to prove that GCS/NIO are too slow; more investigation is needed.

The cluster we're using has 10

[2016-06-23 00:08] pgrosu commented on #1755
It all depends on the network you are running from, as noted in the following discussion:

https://github.com/googlegenomics/utils-java/issues/9#issuecomment-60502722

So the closer you are to the data such as through GCE, and launching a GCE instance from a [relatively similar zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) such as (`us-east1-b`, `us-east1-c`, `us-east1-d

[2016-06-23 01:41] akiezun commented on #1680
assigning to @gspowley - this is part of transitioning to the use of Intel GKL

[2016-06-23 01:41] akiezun commented on #1903
@gspowley is already on it - see pull #1935

[2016-06-23 01:43] akiezun commented on #1930
the way this will be solved is going to change when we move to using intel gkl. assigning to @gspowley because he's already done most of the work here.

[2016-06-23 01:58] akiezun commented on #1609
@davidbernick this is great. Can you describe somewhere how to add new commandlines to this? Eventally, we'll want to have at least 10 commandlines that we run regularly. Eventually, I'd like to post the link to the perf stats on the README (+a badge and email alerts to devs when things fail)

[2016-06-23 15:07] davidbernick commented on #1609
What mechanism is being used to put files into HDFS in dataproc?

[2016-06-23 15:33] davidbernick commented on #1609
Or, importantly, can the `./gatk-launch ReadsPipelineSpark` take gs:// paths instead of hdfs paths?

[2016-06-23 15:36] droazen commented on #1609
We don't currently have an easy way to put files into HDFS on dataproc -- `gs://` should work provided you specify an `--apiKey` in your `gatk-launch` command.

[2016-06-23 17:13] akiezun commented on #1609
I just used gustil and then hdfs dfs

Running from Gs buckets is super slow so let's use hdfs for this test. We
use hdfs for development

On Thursday, June 23, 2016, droazen <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-06-23 17:19] droazen commented on #1609
@akiezun But do you know of an *automated* way of putting the files into hdfs on dataproc?

[2016-06-23 17:37] akiezun commented on #1609
Can't you just script gsutil followed by hdfs dfs?

On Thursday, June 23, 2016, droazen <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-06-23 18:20] droazen commented on #1609
@akiezun Isn't the problem though that you'd have to actually log in to the dataproc instances to do this? How would you auto-discover the machines to log in to?

[2016-06-23 18:20] davidbernick commented on #1609
Exactly -- i can figure it out but i have to write some stuff around it. Just didn't know if something already existed.

[2016-06-23 19:49] chandrans commented on #1382
Hi Ron. Can I close this and let users know SelectVariants works with non-diploids in the latest nightly?

[2016-06-23 20:08] ronlevine commented on #1382
This is for GATK4. SelectVariants works with non-diploids in the latest nightly because https://github.com/broadinstitute/gsa-unstable/issues/1122 is closed.

[2016-06-24 16:13] cwhelan opened #1942 "Add the ability to change BWA parameters in the BWA native API"
For the SV project, we would like to be able to change BWA's alignment parameters to tune them for the problem of aligning assembled contigs to the reference. In particular, we'd like to be able to set these parameters:

`-B9 -O16 -E1`

This will require adding some way to pass parameters to BWA instance creation to jBWA.

[2016-06-24 17:52] davidbernick commented on #1609
@droazen where are you getting your APIKey from?

[2016-06-24 18:36] davidbernick commented on #1609
Ok -- caveat for all -- objects in bucket that are accessed via simple API Key need to have: User:allUsers:reader ACL permissions. if you need more complex access control, we'll have to support the "secretFile" attribute in `gcloud dataproc` -- not just the apiKey.

[2016-06-24 18:41] SHuang-Broad commented on #1942
Did an update, see [this](https://github.com/SHuang-Broad/jbwa/tree/sh_update_mem_opt)

[2016-06-24 18:49] SHuang-Broad commented on #1942
To test if it gives the same output:
1. clone bwa
2. append `bwamem-lite` to Makefile on line 13
3. use the attached hacking for `example.c` (original code doesn't take parameters)
[example.c.zip](https://github.com/broadinstitute/gatk/files/332338/example.c.zip)
4. make bwa
5. run `./bwamem-lite -B9 -O16 -E1 <path_to_indexed_ref> <path_to_SE_reads>`; capture stdout if desired
6. go to the branch

[2016-06-24 19:09] jamesemery commented on #1926
@cmnbroad So I checked the out this issue after the recent refactor and it appears that it might have already been fixed. When I add a non-serializable object to the BwaSpark class it still seems to pass the BwaSparkIntegrationTest. Let me know if this still seems to be an issue.

[2016-06-24 19:37] davidbernick commented on #1609
All 4 of the above tests are running consistently in Jenkins. Will keep an eye on them for avg time.

[2016-06-24 19:44] akiezun commented on #1609
can you add all 4 to
https://gatk-jenkins.broadinstitute.org/view/Performance/ (i only see 2).

also, can you write up instructions on how to add more? (we need to be able
to add more without bothering devops)

On Fri, Jun 24, 2016 at 3:37 PM, David Bernick <notifications@github.com>
wrote:

[2016-06-24 19:55] akiezun opened #1943 "customizable labels in progress monitor"
current monitor always says "Records Processed   Records/Minute"
this is less good than
"Reads Processed   Reads/Minute"
"Assembly Regions Processed   Assembly Regions/Minute"

[2016-06-25 01:46] davidbernick commented on #1609
Added.

I'll write instructions on how to add more next week. Essentially you just make a "new item" in Jenkins and make it a "copy" instead of a blank project. You'd base it on either the "-spark-" jobs or the other kind of jobs and just alter the commandline.

It's at a point now, though, where if I have to, I can reproduce them in a few minutes so it's not a bother in the long term to have me d

[2016-06-25 13:14] SHuang-Broad commented on #1942
Now the PR is in the original repo.
@droazen , should we build/publish another "artifactory" based on this?
Not an emergency but just an FYI.

[2016-06-26 00:50] SHuang-Broad opened #1945 "Documentation and parameter name for AFCalculatorProvider disagree"
For abstract method

[code]

which is the intended? should the parameter name be changed or the other way?

[2016-06-26 23:19] akiezun commented on #1945
What's the discrepancy?

On Saturday, June 25, 2016, Steve Huang <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-06-27 02:04] SHuang-Broad commented on #1945
The documentation says "including the reference", but name of the parameter reads "maximumAltAlleles" . This is confusing to me.

[2016-06-27 13:08] gspowley opened #1946 "Connect HaplotypeCaller args to PairHMM"
- Create `PairHMMNativeArguments` in HaplotypeCaller and pass to `VectorLoglessPairHMM` in `PairHMM.java`.
- Supply GATK temp directory in `VectorLoglessPairHMM.java`. Currently passing `null`, which uses the system temp directory.

[code]

[2016-06-27 13:17] cmnbroad commented on #1926
@jamesemery I'm not surprised - I thought the refactoring might solve this when I saw the changes.

[2016-06-27 13:17] #1926 closed

[2016-06-27 15:11] droazen commented on #1675
Re-assigning to @jamesemery

[2016-06-27 15:12] droazen commented on #1689
Reassigning to @jamesemery

[2016-06-27 15:12] droazen commented on #1718
Reassigning to @jamesemery

[2016-06-27 15:13] droazen commented on #995
Reassigning to @jamesemery

[2016-06-27 15:13] droazen commented on #1558
Reassigning to @jamesemery

[2016-06-27 15:18] droazen opened #1948 "Develop strategies for profiling spark tools, and write up a wiki with findings"

[2016-06-27 15:19] droazen commented on #1948
One thing to look at is https://github.com/intel-hadoop/PAT/tree/master/PAT

[2016-06-27 15:21] droazen commented on #995
Relates to https://github.com/broadinstitute/gatk/issues/1675 and https://github.com/broadinstitute/gatk/issues/1689

[2016-06-27 15:22] droazen commented on #1643
Adding @jamesemery as a co-assignee along with @cmnbroad. @jamesemery feel free to port one or more metrics to spark once @cmnbroad's framework is fully merged, if you have the time/inclination or need a break from your other spark tickets.

[2016-06-27 15:27] droazen commented on #1948
Goal is by the end of summer to present to the rest of the team and share whatever knowledge you've gained on Spark profiling.

[2016-06-27 18:01] davidbernick commented on #1609
Also, it's set up that if any job takes 5% longer than the above times, it will "fail" the job and send email.

[2016-06-27 21:58] AriesLL opened #1949 "GATK4 ReadsPipelineSpark A USER ERROR: The input .bam file contains reads with no platform information"
Hi,
While I test a new data set from fastq using bwamem, samtools and gatk4, I use the following scripts:

% step1: bwa mem

% step2: sort by queryname

% step3: gatk4 ReadsPipelineSpark

ReadsPipelineSpark \
-I HCC1954.readnamesort.bam \
-R /benchmark/human_g1k_v37.2bit \
-O HCC1954.bam \
--knownSites /benchmark/dbsnp_138.b37.excluding_sites_after_129.vcf \
--shardedOutput false \
--emit_original

[2016-06-28 16:09] tomwhite commented on #1873
I can reproduce this on a cluster running CDH 5.7.0. It's the same as this report:

https://community.cloudera.com/t5/Advanced-Analytics-Apache-Spark/Override-libraries-for-spark/m-p/32146

Despite the conversation being marked as "solved" I'm not sure what the resolution was. This error seems to occur if snappy is loaded multiple times:

http://mail-archives.apache.org/mod_mbox/incubator-kafka-us

[2016-06-28 17:08] vruano opened #1950 "Port GATK3 PR https://github.com/broadinstitute/gsa-unstable/pull/1389 "Changes to use the median rather than the second best likelihood for the NON_REF allele""
Create a PR in gatk to port the change once it has been merged into GATK3.
https://github.com/broadinstitute/gsa-unstable/pull/1389

[2016-06-29 03:41] SHuang-Broad commented on #1942
Should we close this now, or wait until an "artifactory" is ready?

[2016-06-29 10:34] tomwhite commented on #1873
Adding the following helps debug where snappy is being loaded from

[code]

And gives

[code]

If I add a later version of snappy as an extra JAR on the command line using

[code]

then it works. And I only get one `Loaded org.xerial.snappy.SnappyNative` and the one from `__JVM_DefineClass__` doesn't appear:

[code]

If I try to add  snappy-java-1.1.2.jar as a dependency and include it in the spar

[2016-06-29 10:34] tomwhite commented on #1873
So adding `spark.driver.extraClassPath` is a workaround. Not sure of a better fix at the moment.

[2016-06-29 11:45] tomwhite commented on #1417
@akiezun I created a fix for https://github.com/HadoopGenomics/Hadoop-BAM/issues/79 in https://github.com/HadoopGenomics/Hadoop-BAM/pull/99, which should fix this. Can you take a look?

[2016-06-29 11:46] tomwhite commented on #1451
I'm afraid I can't reproduce this as I don't have NFS on the cluster I'm using.

[2016-06-29 17:51] akiezun commented on #1609
thanks @davidbernick - i do see them fail sometimes on the email send step, which is sad

[2016-06-29 17:56] davidbernick commented on #1609
Actually -- I'm just waiting for BITS to give me credentials so i can do it

[2016-06-29 18:52] davidbernick commented on #1609
@akiezun (that's why i haven't closed it -- waiting on my email credentials so i can fiinish that up)

[2016-06-30 08:59] dbwiddis commented on #1816
osx builds on java 8 work again if you specify:
[code]

[2016-06-30 15:28] akiezun opened #1955 "./gradlew install - turn off javadoc checks"
javadoc checks in `./gradlew install` should be turned off for now because it's just cluttering the output.

[2016-06-30 16:14] #1651 closed

[2016-06-30 16:52] akiezun commented on #1608
(we're not beating the perf yet, only matching)

[2016-06-30 16:55] akiezun commented on #1905
@droazen spilling over to alpha-3 right?

[2016-06-30 17:08] davidbernick commented on #1609
Now email alerting will work.

@akiezun I'm all done with this if you are. I'm not sure what your organization does for "closing" so it's up to you. Flag me down in real life for a 30 minute overview on how to replicate this stuff for future tests.

[2016-06-30 17:13] droazen commented on #1905
yep

[2016-06-30 20:17] akiezun opened #1960 "MarkDuplicatesSpark fails on because of missing inteldeflater"
[code]

related to https://github.com/broadinstitute/gatk/issues/1903

[2016-06-30 20:18] akiezun commented on #1903
@gspowley do you have a timeline on this? We need it in alpha-2 (tomorrow).

[2016-06-30 20:22] akiezun commented on #1609
I added a paragraph to the README. Please review and then i'll close this ticket

[2016-06-30 20:36] akiezun commented on #1401
spilling over

[2016-06-30 20:39] akiezun commented on #1210
@droazen if I see correctly, there's nothing more do to from the gatk side in this milestone, right?

[2016-06-30 21:16] cmnbroad commented on #1299
Removing this from alpha-2 since it involves a CRAM spec change (we might even want to close it since it will probably be a while).

[2016-06-30 21:40] cmnbroad commented on #1787
Just verified this. Adam's CountReads example above down in the 4 second range now with the new htsjdk.

[2016-06-30 21:40] #1787 closed

[2016-06-30 22:35] cmnbroad commented on #1673
https://github.com/broadinstitute/gatk/pull/1962 reenabled the test; fix was pulled inf rom htsjdk in https://github.com/broadinstitute/gatk/pull/1958.

[2016-06-30 22:35] #1673 closed

[2016-07-01 01:59] #1609 closed

[2016-07-01 03:53] akiezun commented on #1903
I'll grab this - I have a solution in branch ak_use_intelDeflaterFactory

[2016-07-01 14:32] cwhelan opened #1965 "Explore whether there's a way to parse the SGA assembly graph for additional assembled contigs"
It's possible that the SGA assemble algorithm will not emit contigs for the alt breakpoint in heterozygous sites, since it might decide to emit two separate contigs for the two sides of the breakpoint in that case. If that's true, the information should still be present in the assembly graph. This ticket is to a) examine the .asqg files produced in the local assemblies to see if breakpoint edges e

[2016-07-01 14:33] cwhelan commented on #1965
Does our use of the -x param for SGA assemble (to not trim dangling paths) help with this?

[2016-07-01 14:38] cwhelan opened #1966 "Figure out a way to share BwaIndex between tasks on the same executor"
In AlignContigsAndCallBreakpointsSpark, we were able to take care of localizing the reference once per executor, but I'm hesitant to put a BwaIndex in a static initializer for fear that it won't ever get freed. The JNI memory should be reclaimed when the executor JVM exits but it's possible that the executor could be reused for other tasks in the same application ahead of time. This issue is to se

[2016-07-01 14:43] cwhelan opened #1967 "use getExecutorCores to guide parallelism in AlignContigsAndCallBreakpointsSpark"
We currently repartition the data into a fixed number of assemblies per partition. Once getExecutorCores is implemented in https://github.com/broadinstitute/gatk/pull/1947, we could make sure that we don't reduce the number of partitions to less than the number of cores.

[2016-07-01 14:43] SHuang-Broad commented on #1965
Do we have a handful of know het sites for such? Another parameter that may influence the trimming is the `-l, --min-branch-length=LEN[150]` option in `sga assemble`.

[2016-07-01 15:35] #1257 closed

[2016-07-01 16:11] tedsharpe commented on #1967
You can use `defaultParallelism()` in the JavaSparkContext for this.  In my experimentation, this is always equal to the total number of executor threads.  (Except for a brief race condition where it gives the wrong answer for the first few seconds of the lifetime of the JavaSparkContext.  Nice, eh?)

[2016-07-01 17:21] cwhelan commented on #1967
Ah, nice. Closing this then.

[2016-07-01 17:22] #1967 closed

[2016-07-01 18:01] akiezun opened #1969 "Re-enable IntelDeflater on Spark"
in htsjdk 2.5.0, the deflater factory needs to be set up by hand. Hadoop-BAM needs to be updated to allow this and when it is (https://github.com/HadoopGenomics/Hadoop-BAM/issues/109), gatk should use the API to specify the IntelDeflater

[2016-07-01 18:09] akiezun commented on #1725
New requirements then:
[code]

[2016-07-01 18:56] #1903 closed

[2016-07-01 19:01] gspowley commented on #1654
Closed via #1964 and #1935

[2016-07-01 19:01] #1654 closed

[2016-07-01 19:17] davidbernick commented on #1960
I'm running gatk-launch which generates this commandline. Will that be fixed so I can run gatk-launch with spark jobs?

[2016-07-01 19:41] droazen commented on #1819
@gspowley is this fixed now?

[2016-07-01 19:43] droazen commented on #1758
Is this one done, or still a TODO?

[2016-07-01 19:44] gspowley commented on #1819
It's not fixed yet. The current release of GKL (0.1.1) only has single-threaded AVX PairHMM.

[2016-07-01 19:44] droazen commented on #1692
@akiezun Is this one fixed now?

[2016-07-01 19:44] droazen commented on #1819
Ok, moving to alpha-3 then

[2016-07-01 19:45] droazen commented on #1680
@akiezun Is this one fixed?

[2016-07-01 19:46] droazen commented on #1661
This is an ongoing effort

[2016-07-01 19:47] droazen commented on #1645
Closing -- this should be fixed now

[2016-07-01 19:47] #1645 closed

[2016-07-01 19:47] lbergelson commented on #1680
This should be magically included in the gkl.

[2016-07-01 19:48] droazen commented on #1680
Ok, closing then

[2016-07-01 19:48] #1680 closed

[2016-07-01 19:52] lbergelson commented on #1758
still todo

[2016-07-01 20:00] droazen commented on #1930
@gspowley Is this one done?

[2016-07-01 20:04] droazen commented on #1930
Also, how does this relate to https://github.com/broadinstitute/gatk/issues/1969

[2016-07-01 20:23] gspowley commented on #1930
This `File Not Found` issue should be resolved with #1964. However, IntelDeflater will not be used on Spark, which is captured in #1969.

[2016-07-04 16:11] tomwhite commented on #1409
I think the core of this work belongs in Hadoop-BAM, along with the code to merge sharded BAM files. I'll leave this open for the GATK integration.

Opened https://github.com/HadoopGenomics/Hadoop-BAM/issues/110.

[2016-07-05 12:26] ldgauthier commented on #1697
In the course of investigating https://github.com/broadinstitute/gsa-unstable/issues/1409 a few things came up that I want to document for when it's time to test the new model:
- Throw away the spanning deletions alleles!  They shouldn't affect the QUAL anymore since we won't be using the independent alleles approximation, but I don't want them mucking with the site type and choice of prior (SNP v

[2016-07-05 14:17] tomwhite opened #1974 "Investigate running WDL Spark workflows using Cromwell"
I wrote a minimal MarkDuplicates workflow here as a starting point for discussion:

https://github.com/tomwhite/gatk-spark-workflows

[2016-07-05 14:24] tomwhite commented on #1974
@droazen, @akiezun, @lbergelson FYI

[2016-07-05 15:00] droazen commented on #1974
@tomwhite Definitely worth exploring -- do you want to do a PR against GATK to get this merged into the main repo?

[2016-07-05 15:19] tomwhite commented on #1974
I could certainly do that, but I wasn't sure whether WDL files belong in this repo, or whether there are any plans to write WDL files for the best practice pipeline and host elsewhere.

Also, as I mentioned in the link, this just uses the local backend for Cromwell. It would be worth exploring other options for this in the future, such as Cromwell running as a service on a CDH cluster.

[2016-07-05 17:46] cwhelan commented on #1965
I believe this inversion is heterozygous:

X:14729540-14731320

I'll look for others.

[2016-07-05 18:44] lbergelson commented on #1876
@chutianwen I haven't heard any response for a while so I'm going to close this.  Please reopen if you still are having trouble.

[2016-07-05 18:44] #1876 closed

[2016-07-05 20:54] droazen opened #1976 "Document read-specific semantics of Locatable methods in GATKRead"
From @akiezun: It would perhaps be useful for `GATKRead` to explicitly list methods from `Locatable` and explain how the semantics are interpreted, eg the fact that `getStart()` for unmapped reads that are assigned a nominal position returns 0. Otherwise, it's left sort of unspecified and that's bad.

[2016-07-05 21:01] akiezun commented on #1904
another issue concerns readgroups - we need to make sure that the input unmapped bam file has read group info. Also, current BwaSpark drops read group info

[2016-07-06 02:36] akiezun commented on #1873
thanks @tomwhite. can you make a pull request? The file to change is `gatk-launch`

[2016-07-06 03:36] akiezun commented on #1692
it is fixed!

[2016-07-06 03:36] #1692 closed

[2016-07-06 14:15] akiezun commented on #1417
yes, though not today

[2016-07-06 14:25] #1725 closed

[2016-07-06 17:01] lbergelson commented on #1524
Kryo 4.0.0 is released including the changes we need.  Now we need to figure out how to get that into our clusters.

[2016-07-06 18:02] #1642 closed

[2016-07-06 18:02] #1911 closed

[2016-07-06 18:33] akiezun commented on #1904
we need to keep track of what `GATKReads` correspond to which `ShortReads` and the `Strings` returned from jbwa.  One way may be to extend `ShortRead` with a data slot to keep the back pointer to the original `GATKRead` (the jni layer would ignore it and copying 64 bits per read is not a big deal) and then copy the auxiliary data (like read groups etc) back from the `GATKRead` to the newly created

[2016-07-06 20:37] akiezun opened #1980 "BwaSpark - need to account for multiple alignments returned by bwa"
a call to jbwa `BwaMem.align2` may return a String that corresponds to multiple SAMRecords (as per comment in bwamem.h (https://github.com/lh3/bwa/blob/5961611c358e480110793bbf241523a3cfac049b/bwamem.h)

[code]

currently, the code assumes that the string will result in 1 `SAMRecord` because it calls SAMLineParser.parseLine

The task here is to create a test case that exhibits this problem and the

[2016-07-07 16:51] ronlevine opened #1982 "Throw an exception for invalid Picard interval"
Port https://github.com/broadinstitute/gsa-unstable/pull/1432

[2016-07-07 20:35] akiezun opened #1983 "ExampleReadWalkerWithVariants blows up"
[code]

blows up

[code]

[2016-07-08 13:39] magicDGS opened #1985 "Using GATK as a dependency blows up after gkl is included"
Using the latest `master` version of GATK4 as dependency in gradle (using [jitpack](https://jitpack.io/)) to build a shadow jar generetes the following error when a custom walker run using `java -jar shadowJar.jar CustomTool`, but also with public tools. Only if `--use_jdk_deflater true` is provided, it works.

The log is the following (there is no other log):

[code]

To fix it, I tried by exclud

[2016-07-08 14:06] akiezun commented on #1985
@gspowley can you have a look at this?

[2016-07-08 14:09] droazen commented on #1985
If the GKL can't be loaded on a particular platform/architecture, it should fall back to the Java implementations transparently and without error. If it's not doing so, that's a bug.

[2016-07-08 14:16] gspowley commented on #1985
@magicDGS can you please attach /Users/daniel/workspaces/gatk4test/hs_err_pid31197.log to this issue?

[2016-07-08 15:24] magicDGS commented on #1985
I removed that one, but this is from another run (with the whole dependency): [hs_err_pid32046.log](https://github.com/broadinstitute/gatk/files/354563/hs_err_pid32046.txt)

[2016-07-08 15:46] lbergelson commented on #1985
@magicDGS This is probably unrelated to the error, but we publish builds to our [artifactory](https://artifactory.broadinstitute.org/artifactory/webapp/browserepo.html?2) on every commit to master.  It might be easier to use those than to use jitpack.

[2016-07-08 15:54] gspowley commented on #1985
Thanks @magicDGS. I see the segfault is happening during PairHMM initialization when GKL is loaded. We have a Mac with the exact same OS version, but haven't been able to reproduce the error yet.

Let's rule out any HW differences. Can you please post the results of this command?
[code]

[2016-07-08 15:59] magicDGS commented on #1985
@gspowley, it also blows up without initialize PairHMM... I can do another test without that to send you the log.

And here it's the result from `sysctl -a | grep machdep.cpu.*features`:

[code]

[2016-07-08 16:01] magicDGS commented on #1985
@lbergelson, is there  the `master` branch of GATK in the artifactory?

[2016-07-08 16:15] jamesemery commented on #1394
After a discussion with @lbergelson and @meganshand I have decided to implement the tool under the assumption that the input file is in query sorted order. This is because things become significantly more complicated if the sets of paired reads are not read in together by the tool. It is my understanding that this is a reasonable requirement given the RNA pipeline that this tool would be a part of

[2016-07-08 16:16] gspowley commented on #1985
Thanks @magicDGS. It looks like the issue is your CPU doesn't support AVX. We decided not to support CPUs without AVX, but we should fallback to Java if AVX is not supported. We'll make a new release of GKL to resolve this issue.

[2016-07-08 16:21] magicDGS commented on #1985
Thank you very much, @gspowley. If it could not be used without AVX, I'm fine. The only problem is that I would like to be able to use the GATK framework for my program, and I need it to run in any computer.

I will appreciate if you let me know when it is solved. Thank you in advance.

[2016-07-08 16:24] meganshand commented on #1394
@vdauwera How do you think users would feel about having to sort their bams by query name before using this tool? We don't use this tool in our production pipeline and so having it be query name sorted isn't directly applicable (yet). It's unclear to me if people generally MarkDuplicates before this step, but if so and MarkDuplicates can output a query name sorted bam then this requirement doesn't

[2016-07-08 16:30] lbergelson commented on #1985
@magicDGS There isn't a specific master branch, but each push to master gets it's own artifact with a name like 4.alpha.1-208-g702c9e3-SNAPSHOT.   You can search for the short commit hash of the build you want and use that artifact.

you'll need to add the artifactory repository to your build file

[code]

There seems to be some bug right now where it hasn't uploaded the last 2 commits to master,

[2016-07-08 16:49] droazen commented on #1985
:+1: on `master-SNAPSHOT` (in addition to versioned snapshots, not as a replacement for them)

[2016-07-08 16:57] vdauwera commented on #1394
@meganshand Yes, this comes right after mark dups so wouldn't be a problem to require query and sort. Might want to check whether there is any sorting requirement in the next step(s) in the pipeline, though, and whether we need this tool to output in a different sort order.

[2016-07-08 17:23] meganshand commented on #1394
Officially the next step might be IndelRealigner? But more practically BQSR or HaplotypeCaller. We talked about adding an argument so the user could specify what order they'd like as output. @jamesemery Could you include that?

[2016-07-08 20:23] yfarjoun commented on #1394
You can look for discussion on hts-spec github.

not sure that indel-realigner will manage to work with a >2 segmented
template....

On Fri, Jul 8, 2016 at 12:57 PM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-07-08 20:35] droazen opened #1986 "Try out Intel PAT on dataproc"

[2016-07-08 21:56] lbergelson commented on #1394
Will a modern RNA pipeline include indel realigner?

[2016-07-08 23:49] meganshand commented on #1394
Most likely not. We've validated that we don't need it for DNA, it's hard to imagine that would be different for RNA.

[2016-07-09 02:48] vdauwera commented on #1394
The RNA recommendation was already to drop indel realignment before we looked at dropping it for DNA. So hipster...

[2016-07-09 09:16] magicDGS commented on #1985
Thanks @lbergelson, I will have a look to include the artifactory in my reporitories instead of jitpack. And I also like the idea of a master-SNAPSHOT.

[2016-07-11 08:11] magicDGS commented on #1985
@droazen, @lbergelson, should I open a ticket regarding this?

[2016-07-11 14:38] droazen opened #1987 "Create gradle target that creates distribution-ready GATK archive with launcher script, spark and standard jars, etc."

[2016-07-11 14:39] droazen commented on #1985
@magicDGS Sure, go ahead

[2016-07-11 14:55] vdauwera commented on #1987
Also include the README please. Thanks!

[2016-07-11 15:11] droazen opened #1988 "Create Spark partitioner that can efficiently load records for overlapping genomic regions"
We have a somewhat urgent need for a Spark partitioner (or something similar) that can handle loading of records for regions that overlap. For example, we'd like to be able to have a partition with all reads in `1:900-2100`, and a separate partition with reads in `1:1900-3100`, and some reads in the overlapping regions would appear in both partitions.

Such a partitioner is needed for several curr

[2016-07-11 15:12] droazen commented on #1988
@tomwhite Would you be able to work on this as your primary GATK ticket for alpha-3?

[2016-07-11 15:13] droazen commented on #1558
Blocked by https://github.com/broadinstitute/gatk/issues/1988

[2016-07-11 15:13] droazen commented on #1558
This ticket should be fairly simple once https://github.com/broadinstitute/gatk/issues/1988 is implemented.

[2016-07-11 15:17] akiezun commented on #1770
no action i guess

[2016-07-11 15:17] #1770 closed

[2016-07-11 15:18] akiezun commented on #1709
no action planned for now

[2016-07-11 15:18] #1709 closed

[2016-07-11 15:18] droazen opened #1989 "Create VariantsSparkSink that works similarly to ReadsSparkSink"
We need a way to write sharded vcf/variant data on Spark, with the option of assembling the shards into a single output file, like we have for reads. This implies a need for a `VariantsSparkSink` that works like `ReadsSparkSink`

[2016-07-11 15:19] droazen commented on #1989
Needed for https://github.com/broadinstitute/gatk/issues/1639, among other things.

[2016-07-11 15:20] akiezun commented on #1811
assigning to @gspowley as our Intel contact and proxy for Lucy and Eric's work

[2016-07-11 15:29] droazen commented on #1974
@tomwhite We host our internal WDLs for the best practices pipeline in the dsde-pipelines repository, and we're starting to put public versions in the public repo https://github.com/broadinstitute/wdl. @vdauwera recommends that we put any WDLs we write for GATK4 in https://github.com/broadinstitute/wdl, but within a directory that clearly marks them as experimental/unsupported.

[2016-07-11 15:30] droazen commented on #1974
This would be good to do for alpha-3 as well, since we want to make sure there are no issues with GATK spark tools + WDL.

[2016-07-11 15:45] droazen opened #1990 "Package precompiled HDF5 as hdf5-java-bindings, and pull it down via maven"
This will greatly simplify setup for gatk-protected.

[2016-07-11 15:45] droazen commented on #1990
Should contain versions for both Mac and Linux, and implement the `NativeLibrary` interface from `gatk-native-bindings`

[2016-07-11 15:45] droazen commented on #1990
For @akiezun and alpha-3

[2016-07-11 17:35] gspowley commented on #1985
This issue is resolved in GKL 0.1.2.
@droazen do you want a new PR that only changes the GKL version?

[2016-07-11 18:30] droazen commented on #1985
@gspowley Yes, let's bump our GKL version to get the fix.

[2016-07-11 18:31] droazen commented on #246
For @akiezun and alpha-3

[2016-07-11 22:09] lbergelson opened #1993 "Continuous snapshots failing"
For an unknown reason master snapshots are failing.  They're trying to upload with the version "unspecified-SNAPSHOT".

I don't know why they're not setting the version properly.

The last good build was
f3cd74 [travis-log](https://travis-ci.org/broadinstitute/gatk/jobs/143069453)
the next build has nothing suspicious in it as far as I can tell
69a0f89 [travis-log](https://travis-ci.org/broadinsti

[2016-07-12 02:16] droazen commented on #1993
@lbergelson Let's just have travis run `git fetch --unshallow` after doing its clone -- this should fix it.

[2016-07-12 08:42] magicDGS opened #1995 "Snapshot for master"
It will be nice to have in the Broad Institute artifactory a `master-SNAPSHOT` in addition to the commit-specific SNAPSHOT to use in developmental projects which use the latest commit.

[2016-07-12 08:57] magicDGS commented on #1985
Closing because #1991 solves the issue

[2016-07-12 08:57] #1985 closed

[2016-07-12 15:03] droazen commented on #1930
@gspowley Should this be closed as resolved?

[2016-07-12 15:23] gspowley commented on #1930
Yes, this should be resolved now.

[2016-07-12 16:56] tomwhite commented on #1988
@droazen yes.

Can you point me in the direction of the code for this please, @lbergelson?

[2016-07-13 14:02] #1993 closed

[2016-07-13 16:27] droazen commented on #1930
Closing -- this is fixed

[2016-07-13 16:27] #1930 closed

[2016-07-13 19:42] #1310 closed

[2016-07-13 19:43] droazen opened #1999 "VariantWalker should prefer the sequence dictionary from the driving variants only if an actual dictionary is present"
As of https://github.com/broadinstitute/gatk/pull/1424, `VariantWalker` prefers the sequence dictionary from the driving variants in `getBestAvailableSequenceDictionary()` over other sequence dictionaries, as it should. However, if the driving variants input does not have a declared sequence dictionary, but does have an index file, we end up creating an incomplete sequence dictionary from the inde

[2016-07-13 20:05] tedsharpe opened #2000 "New logical name feature in TaggedInputFileArgument breaks hdfs urls that contain port numbers."
Trying to use an url of the form hdfs://server:port/path/to/file as an input to a spark program.  This used to work.  Now we're confused by the possibility that we're declaring a logical name.

[2016-07-13 20:10] droazen commented on #2000
I'll work on a quick fix for this, as it's a fairly serious regression.

[2016-07-13 20:17] akiezun commented on #2000
maybe we could use a different character than `:` to separate logical names. Maybe `+` (?) Or hardwire a bunch of protocols like `hdfs`, `file`, `gs`, etc?

[2016-07-13 20:18] akiezun commented on #2000
good idea too

[2016-07-13 20:21] droazen commented on #2000
I think that won't actually work @lbergelson, since we also have to handle the colon for the port numbers.

[2016-07-13 20:22] droazen commented on #2000
According to https://tools.ietf.org/html/rfc3986#section-2, there are many disallowed characters in URIs that we could use as a delimiter for logical name, like |. This would be a syntax change vs. GATK3, however.

[2016-07-13 20:22] akiezun commented on #2000
but the logical name is always first so it can't be confused with anything else

[2016-07-13 20:22] akiezun commented on #2000
syntax is already different `-I:tumor bam` vs `-I tumor:bam`

[2016-07-13 20:24] droazen commented on #2000
yes, that's true

[2016-07-13 20:32] lbergelson commented on #2000
@droazen Maybe I'm misunderstanding, but we'd just split up until a uri specifier?

[2016-07-13 20:36] droazen commented on #2000
@lbergelson The regex you used in the TileDB branch would ignore the colon for the scheme, but split on the colon for the port number (if there is one), wouldn't it?

[2016-07-13 21:06] lbergelson commented on #2000
Might be time to abandon regex and write a few lines of logic...

[2016-07-13 21:08] droazen commented on #2000
I'll have a fix by tomorrow

[2016-07-13 21:16] droazen commented on #2000
This is more serious than just URIs with port numbers, by the way -- I'm pretty sure all URIs are broken on spark right now.

[2016-07-13 21:22] tedsharpe commented on #2000
Yes.  That's true.  All Spark URIs.  I didn't provide an accurate description of the problem.

[2016-07-13 21:25] SHuang-Broad opened #2001 "Update `AlignContigsAndCallBreakpointsSpark` with jBWA's para changing capacity"
The updated jBWA code allows changing scoring parameters for `bwa mem`.
Specifically, the `BwaMem` class now has a method `updateScoringParameters()`.

This ticket is to remind the SV group to update, accordingly, the class `AlignContigsAndCallBreakpointsSpark` and `ContigAligner.java`.

Closes #1942 .

[2016-07-13 21:26] SHuang-Broad commented on #1942
Closed by #2001

[2016-07-13 21:26] #1942 closed

[2016-07-14 02:54] akiezun opened #2003 "TaggedInputFileArgument needs to be Serializable - or gatk-protected fails"
really strange that public tests on spark dont catch this

[code]

[2016-07-14 03:28] akiezun commented on #2003
actually, this was a bug in SparkGenomeReadCounts in gatk-protected - it was using closures not optimally and ended up pulling the whole SparkGenomeReadCounts through serialization. Fixed by making it not serialize the whole class:
https://github.com/broadinstitute/gatk-protected/pull/610/commits/283a519efc99b117a846e7c8cf02110f5406b3cb

[2016-07-14 03:28] #2003 closed

[2016-07-14 20:22] droazen commented on #2000
We are going to temporarily revert the problematic change until a definitive fix can be developed (https://github.com/broadinstitute/gatk/pull/2007).

[2016-07-15 16:10] ronlevine opened #2008 "Throw an exception for invalid Picard intervals"
Port https://github.com/broadinstitute/gsa-unstable/pull/1432/.

[2016-07-15 19:34] droazen opened #2009 "Migrate from the v1beta2 Google Genomics API to the v1 API"
Request from Google. Migration instructions are here: http://googlegenomics.readthedocs.io/en/latest/migrating_v1beta2_to_v1.html

[2016-07-18 16:48] lbergelson opened #2012 "create wiki page with spark performance information"
Many people are doing performance work on spark, but we're not collecting that data in a single place so people are reinventing the wheel.

We should try to collect at least some spark best practice information in a single place.

[2016-07-18 17:00] droazen commented on #2012
Assigning to @akiezun to gather his past performance results into one place.

[2016-07-18 17:20] jamesemery commented on #1675
[Broadcast data presentation.pdf](https://github.com/broadinstitute/gatk/files/369684/Broadcast.data.presentation.pdf)

Here is a link to the presentation I gave on the broadcasting profiling data that I collected. The big takeaways are:

- Broadcasting is relatively time efficient and appears to scale linearly with filesize
- Reference broadcasting takes longer and is much more variable compared

[2016-07-18 17:26] droazen commented on #1675
Closing this as resolved

[2016-07-18 17:26] #1675 closed

[2016-07-18 17:58] droazen opened #2014 "Explore more efficient ways of getting inputs into HDFS"
@cwhelan mentioned at @jamesemery's presentation last week that there are more efficient options available for getting data into HDFS. It's worth exploring these.

[2016-07-18 17:59] droazen commented on #2014
Should be no more than a 1-day investigation

[2016-07-18 18:05] droazen opened #2015 "Profile the new GCS NIO reader against broadcast for side inputs"
With the new GCS NIO reader, it may well be preferable to access large side inputs directly in GCS buckets rather than broadcasting them. This would reduce our memory usage dramatically relative to broadcast, and if the performance is the same or better it seems like the way to go.

[2016-07-18 18:06] droazen commented on #2015
For @jamesemery -- should consult with @jean-philippe-martin as you do this.

[2016-07-18 19:09] cwhelan commented on #2014
I was just suggesting trying out 'hadoop distcp' as an import method.

[2016-07-19 15:23] akiezun commented on #1557
Some timings using a 30GB exome file on recent built from 20160718

User time of BaseRecalibrator in seconds and two different relative scalings:
[code]

in other words GATK4 with no BAQ is 177% faster than GATK4 with BAQ and 279% faster than GATK3.5

[2016-07-19 16:58] ronlevine opened #2017 "Remove spanning deletions if the deletion was removed"
Port https://github.com/broadinstitute/gsa-unstable/pull/1417.

[2016-07-19 17:56] cwhelan opened #2018 "Investigate the use of fermi-lite for local assembly"
Heng has created a library for local assembly:

https://github.com/lh3/fermi-lite

We should see if this would be appropriate for GATK-SV's local assembly step.

[2016-07-19 18:24] akiezun commented on #1257
notes: using name node in the URI helps
 hdfs://<HOST>:<RPC_PORT>/<PATH>

also important is having companion .dict and .fai files for the reference file

[2016-07-19 19:01] davidbenjamin opened #2019 "Genotype likelihoods ignore combinatorial factor"
`HaplotypeCaller` works with unphased genotypes.  The unphased genotype A/B represent the phased genotpyes A/B _and_ B/A, for a combinatorial factor of 2, in contrast to A/A, which has a combinatorial factor of 1.  It does not appear that the genotype likelihoods emitted by `GenotypeLikelihoodCalculator` account for this.  That is, the genotype likelihoods for heterozygous diploid genotypes are to

[2016-07-19 19:12] droazen opened #2020 "A fasta with a missing dict/fai can trigger a NullPointerException on Spark"
Reported by Intel. Should be a `UserException` instead.

[code]

[code]

[2016-07-19 19:35] jamesemery opened #2022 "Fix issues with ClippingOp"
While working on #1394 I noticed that there are some issues with clipping op that need decisions to be made about how they work. Specifically, if you perform a Softclip operation on a read where you tell it to Softclip the entire read it will silently shorten the clip to include everything but the last base of the read in the following code from ClippingOp.java:

`if ((stop + 1 - start) == readCop

[2016-07-19 20:09] #1891 closed

[2016-07-20 15:44] ronlevine commented on #2017
Need to port `GenotypeGVCFs` before testing the proposed changes in `GenotypingEngine.java`.

[2016-07-20 17:50] droazen opened #2025 "Write a developer wiki documenting how to use the new spark metrics framework"

[2016-07-20 17:50] droazen commented on #2025
For @cmnbroad

[2016-07-20 19:08] droazen commented on #1689
Would be good to know if there's an equivalent feature for `gcloud`

[2016-07-20 20:28] lbergelson opened #2026 "SplitNCigarReads fails with NoClassDefFoundError"
SplitNCigarReads is failing due to incompatibilities between htsjdk's version of snappy and Spark's version.

Temporary solution is to add system property 'disable.snappy' to force htsjdk to fallback to pure java.  Longer term solution likely involves patches to htsjdk and possibly snappy itself.

[code]

[2016-07-20 20:34] akiezun opened #2027 "make bigger correct input for bwaspark"
for bwaspark reads must be paired or you get `[mem_sam_pe] paired reads have different names`. Our only paired data is tiny "CEUTrio.HiSeq.WGS.b37.NA12878.20.21.tiny.queryname.noMD.bam"

this ticket is about creating a bigger dataset of correctly paired reads

[2016-07-20 21:08] droazen opened #2029 "Develop spark metrics framework"

[2016-07-20 21:09] droazen commented on #2029
Closing -- done in https://github.com/broadinstitute/gatk/pull/1959

[2016-07-20 21:09] #2029 closed

[2016-07-20 21:10] #1512 closed

[2016-07-20 21:12] lbergelson commented on #1689
There is.  Gatk-launch should be handling --files for both yarn and dataproc.  I think James found some bug with gatk-launch and multiple files passed in, can't remember exactly what it was but it should be a simple fix.

[2016-07-20 21:14] droazen commented on #2020
Assigning to @jamesemery, if you find yourself in need of a quick spark ticket

[2016-07-20 21:53] #2026 closed

[2016-07-20 21:56] lbergelson commented on #2027
is gs://hellbender/test/resources/benchmark/CEUTrio.HiSeq.WEx.b37.NA12892.readnamesort.bam not paired properly?

[2016-07-21 14:02] droazen opened #2030 "Implement unit tests for PairHMM in gatk-native-bindings"

[2016-07-21 14:17] jamesemery commented on #2014
I have found that 'hadoop distcp' scales linearly with the size of file. Its runtime seems not to change as I scale the number of machines from 10 to 100. Furthermore, I have found that taken in concert with performance findings from #1675 that for large file sizes it is actually more efficient to first load a bam file into HDFS first using 'hadoop distcp' in order to run the spark BQSR.

Breakdow

[2016-07-21 14:59] cwhelan opened #2031 "Try skipping/ignoring contigs that are below a given length"
The assembly output sometimes includes a bunch of small contigs, including unassembled reads (ie contigs of length 151). We should investigate ignoring these small contigs since they probably are not much help in identifying breakpoints.

[2016-07-21 15:22] droazen commented on #2020
As part of this, should determine whether this affects non-Spark tools as well (and/or reference inputs not in HDFS).

[2016-07-21 15:25] SHuang-Broad commented on #2031
Would this be useful: In the graph, if the these extremely short contigs are orphans/islands (not overlapping with any other contigs), we can probably safely ignore them, as these would suggest, even if they generate a chimera, the signal could be poorly-supported.

In this regard, I think fermi-lite has a very-nice feature that's desirable: for the final graph it outputs, the number of reads used

[2016-07-21 18:03] akiezun commented on #1427
closing this - i think PCA and TSV is enough for now

[2016-07-21 18:03] #1427 closed

[2016-07-21 18:03] akiezun commented on #1990
https://github.com/broadinstitute/hdf5-java-bindings/pull/3

[2016-07-21 18:28] akiezun commented on #1608
@droazen what do you want to do here? We're matching the performance but not beating it at this point. We can either keep this open and continue to investigate or close as 'matching not beating'

[2016-07-21 18:30] droazen commented on #1608
@akiezun Keep it open as an alpha-3 ticket, but un-assign yourself. We'll continue to work on improving performance in the next quarter.

[2016-07-21 18:31] akiezun commented on #1608
ok. i'll copy the files that i'm using so that you can use them as well

[2016-07-22 11:55] magicDGS opened #2033 "Test infrastructure for framework users"
I'm using GATK4 as a framework to implement my own tools, and it will be nice to have a way of perform integration tests using `IntegrationTestSpec`. Nevertheless, it requires the extension of the `CommandLineProgramTest` to run the command, and thus it is extending `BaseTest`.

The issues that this infrastructure generates when trying to use this test classes are the following:

* `BaseTest` load

[2016-07-22 13:29] ldgauthier commented on #2019
I've gone around in circles for a while on this issue and I'm need more convincing.

First off, SOAPsnp has the same equations we do, lacking the 2x factor on het genotypes: http://genome.cshlp.org/content/19/6/1124.full#sec-14

Secondly, to think about comparing likelihoods (which I get in trouble with sometimes because I was raised frequentist, so I may be going off in the wrong direction), as t

[2016-07-22 13:44] lh3 commented on #2019
I guess these are two separate issues: a factor of 2 and binomial coefficient. I am not sure I understand the argument for the factor of 2. In the derivation, where does this 2 come in? Binomial coefficient is the more tricky part. You can derive the formula in two ways, one with binorm coef and the other not. You will end up with the same result as the binorm coef is canceled out.

[2016-07-22 14:19] davidbenjamin commented on #2019
To put it another way, what we call `genotypeLikelihoods[n]` is the quantity Prob(reads | genotype n), where n is calculated as if it were a phased genotype (as far as I can tell).  Since we call *unphased* genotypes, we really need Prob(reads | unphased genotype) = Sum_{phased genotypes consistent with this unphased genotype} P(read | phased genotype) = combinatorial factor * P(reads | phased gen

[2016-07-22 14:21] magicDGS opened #2034 "Overlapping read-pairs handling"
While using `CheckPileup` to check the output of samtools mpileup for overlapping reads I found that the internal `ReadPileup` it is different when there are overlapping read-pairs. The latest version of samtools set one of the base pair qualities to 0 and the other to the sum of both qualities, generating a different result.

Thus, when I use a `ReadPileup` that is filtered by quality for get the

[2016-07-22 14:28] davidbenjamin commented on #2019
True, but because they consider only calling of single-sample diploid SNPs they can absorb the combinatorial factor in their very simple prior.  I'm not saying they *do* this (they don't really justify their priors), but I'm saying that in principle they could.  And for all I know maybe we do the same in the exact model.  In the new AF model, however, the most natural place for this factor is in t

[2016-07-22 14:39] lh3 commented on #2019
In derivation, we always use unphased genotypes. If you derive the equation using phased genotypes to start with, I believe the factor of 2 will appear at the beginning but will be canceled out in the end. You will get the same equation.

As to soapsnp, you can move a factor of 2 between likelihood and prior. For SNP calling, the result will be the same. However, if you do that, the likelihood you

[2016-07-22 14:43] akiezun commented on #1608
I copied my data files to `/dsde/working/akiezun/data/GenotypeGVCFs/`
they are short and wide (~9k samples)

[2016-07-22 14:52] akiezun commented on #2012
why don't people just search the tickets and look for 'performance' ? I guess we can make a wiki with 'best practices' but the code already incorporates the best practices as we know them

[2016-07-22 14:52] akiezun commented on #1990
packaging it done. I dont know how to do maven. Assigning to @droazen

[2016-07-22 16:35] akiezun opened #2036 "PairHMM : don't pass base indel qualities to native code"
we dont' use indel base qualities so we're passing 2 massive arrays that are always filled with `DEFAULT_INSERTION_DELETION_QUAL=45

[2016-07-22 17:00] akiezun commented on #2030
such tests mostly exist in VectorPairHMMUnitTest that @gspowley wrote. I think we could just move them there and add a simple java implementation of `computeLikelihoods` that is pretty much a copy of code from `LoglessPairHMM`

[2016-07-22 17:48] akiezun commented on #2030
hmm, to avoid *massive* code duplication, a lot of the PairHMM would need to move to gatk-native-bindings (most of PairHMMModel etc). We could duplicate code but that's just asking for trouble later on.

@droazen what do you want to do?

[2016-07-22 17:48] akiezun commented on #2030
assign to @droazen to decide

[2016-07-22 20:07] cwhelan opened #2037 "SAMSequenceDictionary for 2bit references is not in a good order"
When using a 2bit reference, the sequence dictionary appears to be in an arbitrary order. When used to sort VCF files, this produces very strangely sorted variants. It would be nice if there was some way to associate reference index files (ie .fasta.fai) with a 2bit reference, or some other solution for getting a useable sequence dictionary when using 2bit references.

[2016-07-22 20:32] droazen commented on #1990
Done -- `1.0.0-hdf5_2.11.0` released to central. Back to @akiezun to finish up this ticket.

[2016-07-22 20:56] akiezun opened #2038 "BwaSpark fails silently to align any reads"
checkout the ak_bwa_nothing branch
run `./gatk-launch BwaSpark -I src/test/resources/org/broadinstitute/hellbender/tools/spark/bwa/BwaSpark/testBWA.bam -R src/test/resources/large/human_g1k_v37.20.21.fasta -O foo.bam`

see foo.bam - it only has a header. I expected 10 reads

[2016-07-22 21:14] akiezun opened #2039 "BwaSpark blows up on some reads"
[code]

I'm trying to isolate an offending read

[2016-07-22 21:35] SHuang-Broad commented on #2038
unaligned bam `testBWA.bam` isn't there?

[2016-07-23 00:21] pgrosu commented on #2019
Maybe I'm simplifying things too much, but can't the equation in the paper be just rewritten as follows and thus the 2 will get eliminated?

![haploid](https://cloud.githubusercontent.com/assets/6555937/17074490/c72614e0-5049-11e6-856c-243901521a41.png)

[2016-07-25 13:06] jamesemery commented on #1986
In order to get it running though you will need to install the following things on each machine using apt-get: gawk, sysstat, and perf-tools-unstable. Additionally as root, you will have to set the /proc/sys/kernel/perf_event_paranoid variable from 1 to 0. For these tasks it might be possible to automate these steps by updating the system image that is used to setup dataproc clusters.

In order to

[2016-07-25 17:10] vruano opened #2040 "GenotypeGVCFs bug when calculating the QUAL column in multi-allelics."
Port changes in https://github.com/broadinstitute/gsa-unstable/pull/1442 once it has been merged into gsa-unstable/master.

[2016-07-25 19:37] meganshand opened #2043 "Argument to include Supplementary Alignments in HaplotypeCaller"
Once #2021 is merged the resulting bam files will have supplementary alignments that we want HaplotypeCaller to include. We'll also need to run HaplotypeCaller with --dontUseSoftClippedBases since the soft clipped bases are now being represented in the supplementary alignments.

Until this argument is made the new version of SplitNCigarReads is not recommended.

[2016-07-25 19:44] meganshand commented on #1394
@vdauwera The latest game plan for this ticket (which is being addressed in #2021) is to have SplitNCigarReads create a supplementary alignment from each split and soft clip the bases that align elsewhere. This allows the bam to be more usable by other tools (like BQSR) since the logic to handle supplementary reads already exists. This means that we need an additional argument to HaplotypeCaller s

[2016-07-25 20:10] vdauwera commented on #2043
Are they not already? Or is this different between GATK3 and GATK4? Bit of relevant discussion happening right now over here: https://github.com/broadinstitute/dsde-docs/issues/1092#issuecomment-234985659

[2016-07-25 20:13] jean-philippe-martin opened #2044 "dependency conflict with gcloud-java-nio"
### Background: jar dependency hell

Getting GATK to compile with the gcloud-java-nio dependency is already a little bit of a struggle because of conflicting versions of the com.google.protobuf class (see #2013). Running it on Dataproc results in a version conflict somewhere else, probably linked to the jars that are automatically included on Dataproc.

Getting gcloud-java-nio to work on vanilla S

[2016-07-25 20:15] vdauwera commented on #1394
Commented in #2043 -- it seems that in GATK3 supplementary alignments are already used by HC. Is that not the case in 4?

Technically GATK4 is alpha and therefore completely unsupported, so there is no strict obligation to document this. However I would recommend a conservative approach of not merging the branch with the changes until any changes that it depends on are implemented and merged. Is t

[2016-07-25 20:18] meganshand commented on #2043
Hmm, I don't have access to dsde-docs. I thought by default haplotypeCaller doesn't use supplementary reads in GATK3? If I'm wrong about that assumption, then I don't see any reason why it would be different in GATK4.

[2016-07-25 20:38] vdauwera commented on #2043
I just added you so you should have access now.

[2016-07-25 20:55] meganshand commented on #2043
@vdauwera Thanks, this is great for RNA! We won't have to change anything and this ticket is done.

[2016-07-25 20:55] #2043 closed

[2016-07-25 20:59] meganshand commented on #1394
To reiterate here from #2043, HaplotypeCaller already looks at supplementary reads, so the new SplitNCigarReads should work out of the box, if the user includes --dontUseSoftClippedBases.

[2016-07-25 21:00] meganshand commented on #1394
Sorry, I meant if the user includes --dontUseSoftClippedBases in HaplotypeCaller.

[2016-07-25 21:19] pgrosu commented on #2044
@jean-philippe-martin I can see the shaded Jar in the following repository:

https://oss.sonatype.org/#nexus-search;quick~gcloud-java-nio

You can even download it from the following link:

https://oss.sonatype.org/service/local/repositories/snapshots/content/com/google/cloud/gcloud-java-nio/0.2.7-SNAPSHOT/gcloud-java-nio-0.2.7-20160722.195539-2-shaded.jar

Hope it helps,
~p

[2016-07-25 23:11] jean-philippe-martin commented on #2044
Indeed, I stand corrected! So we can do what I was describing but directly using Maven (or Gradle), no need to compile anything custom. I tried it and it seems work. Great!

[2016-07-25 23:51] pgrosu commented on #2044
Super duper - glad it helped :)  No problemo, Bioinformatics/CS is always most fun as a team - feel free to ping the list anytime on anything :)

Cheers,
~p

[2016-07-26 00:23] jean-philippe-martin commented on #1755
So anyways, given than it takes *6min* to download the file, the time to download + run on HDFS would be *7.15min*, vs the listed time of  *7.5min* to run directly on GCS. That doesn't sound so bad, does it?

[2016-07-26 00:51] pgrosu commented on #1755
Not bad, but why can't the BAM be split as multiple objects in the same bucket where the directory is the name of the BAM.  I was having this discussion with Dion at the following thread:

https://github.com/googlegenomics/utils-java/issues/62#issuecomment-220444203

You can have a folder in the GS location be the name of the BAM, and even sort them like a distributed B-tree.  This way you can eve

[2016-07-26 17:15] vruano commented on #2040
Has been merged into gatk3 master.

[2016-07-26 19:57] akiezun commented on #1990
done!

[2016-07-26 19:57] #1990 closed

[2016-07-26 20:03] akiezun commented on #2038
it's fixed now

[2016-07-26 20:19] lbergelson opened #2048 "add Collections.nCopies serializer"
Currently (as of https://github.com/broadinstitute/gatk/pull/2016) we're using JavaSerializer for collections created by `Collections.nCopies()`, it would be better to use a kryo native serializer.  One exists [here](https://www.codatlas.com/github.com/apache/giraph/trunk/giraph-core/src/main/java/org/apache/giraph/writable/kryo/serializers/CollectionsNCopiesSerializer.java?line=1), we should eith

[2016-07-27 09:07] magicDGS commented on #1879
@droazen, I will address this in #2041. As you suggested this when I implemented `LocusWalker`, I would like to have some idea about why `DownsamplingMethod` is used as a parameter in the constructor. I think that this is misleading, because independently of the method for downsampling the one that is used by `SamplePartitioner` is  a `ReservoirDownsampler` (if downsampling is performed), so API u

[2016-07-27 15:46] droazen commented on #1812
@gspowley Do you guys have a timeline for when this might be implemented? The SV developers have a need for an efficient SmithWaterman implementation, so this would benefit more than just the `HaplotypeCaller`

[2016-07-27 15:59] akiezun opened #2050 "BwaSpark - Race condition in parsing sam records"
in `BwaSparkEngine` the method `alignWithBwa` is like this

[code]

note that the parser is distributed by broadcast and thus shared by all tasks in an executor. That's a race condition because the parser is mutable (eg the `fields` field in the coded that gets mutated for each decode call). https://github.com/broadinstitute/gatk/issues/2039 may be caused by this bug

[2016-07-27 16:04] gspowley commented on #1812
We have a few things in GKL in flight right now. Let's meet and discuss priorities so we can set a timeline that meets your needs.

[2016-07-27 16:18] davidbenjamin commented on #2019
@pgrosu Yes, that's correct.  My point is that *in the code* the factor of 2 in the numerator of your expression appears to be missing.  If I have read the code of `GenotypeLikelihoodsCalculator::genotypeLikelihoods` correctly it behaves as follows (calculations are in log space but I have translated to real space; also it divides by ploidy at the end of the calculation instead of per read, but th

[2016-07-27 16:22] droazen commented on #1812
Ok, we can discuss at the next Monday meeting.

[2016-07-27 16:32] droazen opened #2051 "TileDB beta Epic"
This epic is to track work on TileDB for alpha-3. We should spawn new tickets with point estimates within it.

[2016-07-27 16:34] droazen opened #2052 "Work with Intel to create a TileDB write API"
A Java API for loading both vcfs stored as files (single and multi-sample) and streams of `VariantContext` objects into TileDB.

[2016-07-27 16:39] droazen commented on #2052
@lbergelson Feel free to break this down into smaller tickets and add them to the TileDB epic (https://github.com/broadinstitute/gatk/issues/2051)

[2016-07-27 16:43] droazen commented on #2051
@lbergelson Please add any TileDB issues for alpha-3 to this epic.

[2016-07-27 17:34] akiezun commented on #2039
I suspect this was caused by the race condition in #2050
will close now - reopen if seen after #2053 is merged

[2016-07-27 17:34] #2039 closed

[2016-07-27 17:39] akiezun opened #2054 "BwaSpark too verbose logging coming from jbwa"
when you run BwaSpark, a lot of logging info is produced, like this:

[code]

this should be reduced or removed or controllable somehow

[2016-07-27 17:48] jamesemery opened #2055 "ClippingOP incorrectly changes reference start position when softclipping reads with N in cigar strings"
I have discovered that when I run `ClippingOP.apply(SOFTCLIP_BASES, read)` for a read with the cigar string `1S3N2M10N1M4H` with clippingOP.start = 12 & clippingOP.stop = 12 it will correctly softclip the read to have `1S3N2M1S4H` as its new cigar string. Unfortunately this new read will have incremented the starting position for the new read by 3, (ex. startPosition=1000 -> startPostion=1003). Th

[2016-07-27 18:25] pgrosu commented on #2054
Hi Adam,

That is the verbosity level that is performed by `bwa`.  So since [BWASpark](https://github.com/broadinstitute/gatk/blob/c9807a1a94a60b69e8184c1fcf3083516bb0a78b/src/main/java/org/broadinstitute/hellbender/tools/spark/bwa/BwaSpark.java#L47) launches `BwaSparkEngine` as follows:

[code]

and launches the alignment as follows:

[code]

That in turn calls the `align()` method within [BwaSpa

[2016-07-27 18:50] vruano commented on #2019
I think @davidbenjamin is correct, that class does not produce unphased likelihoods but phased one. That is per se not a problem if they are handled appropriatelly down stream.

For example i think the Exact AF calculator does handle them as phased likelihoods. However many if not most of other usages may be wrong, for example the VCF output itself. The spec doesnt say whether the PL are phased or

[2016-07-27 19:18] #2050 closed

[2016-07-27 19:28] droazen opened #2056 "Fix BCF2Codec for use with TileDB"
`BCF2Codec` is out-of-date, and the way it's being used in TileDB is possibly unsafe as a result.

[2016-07-27 20:17] akiezun commented on #2054
Thanks @pgrosu - I added a setter for verbosity to jbwa, see https://github.com/lindenb/jbwa/pull/12

[2016-07-27 20:25] pgrosu commented on #2054
@akiezun All roads lead to Rome :)

[2016-07-28 05:51] davidbenjamin commented on #1907
Closed by PR #1918.  Based on Valentin's advice we now use `GenotypeAlleleCounts` everywhere.

[2016-07-28 05:51] #1907 closed

[2016-07-28 13:55] ldgauthier commented on #2019
Oops, I did not read the initial issue carefully enough -- sorry.

I thought I'd checked some easy SNP PLs by hand a long time ago, but maybe not.  Anyway, I agree with Valentin that most of the time the differences in haplotype likelihoods are drastic enough that the 2X factor won't make a big difference.  :+1: to the rename and new method.

[2016-07-28 16:00] akiezun opened #2058 "GATKRead - investigate caching of query values"
some queries like `isPaired` or `isUnmapped` are called over and over on GATKReads and definitely have impact on performance, eg see #2032. It may make sense to cache those values - the risk is that reads are mutable and so caches need to be invalidated and that cached valued (even booleans) add overhead to memory footprint and shuffle footprint.

This ticket is to implement caching of those frequ

[2016-07-28 16:16] akiezun commented on #246
The tool is ported - see the `ak_contest_v2` branch (note that it will not compile if rebased because it depends on a reverted PR that introduced symbolic names for read inputs).

What remains to be done is tests. I'm not going to be able to work on this so I'll un-assign.

[2016-07-28 16:18] akiezun commented on #2027
@lbergelson that may work but it requires an indexed fasta that we have not provided (bwa index is the command one needs to run - it creates I think 9 files, some as big as 3GB).

I'll close this for now. I sent a bigger file to our Intel collaborators.

[2016-07-28 16:18] #2027 closed

[2016-07-28 16:37] akiezun commented on #1417
@tomwhite  So I'm running on the latest gatk which uses hadoop-bam 7.6.0 (which i think includes those fixes) and I still get this error. I'm running on a dataproc cluster and my exact commandline is:
[code]

the file `/home/akiezun/gatk/src/test/resources/org/broadinstitute/hellbender/tools/valid.bam` does exit locally on the master node.

Can you reproduce it too? What do you get?

[2016-07-28 17:24] ronlevine opened #2059 "Ignore spanning deletions in Rank Sum tests"
Port https://github.com/broadinstitute/gsa-unstable/pull/1445

[2016-07-28 17:59] droazen opened #2060 "Turn off BAQ by default in BQSR"
A recent palantir investigation showed that disabling BAQ has only a very miniscule effect on variant calls, while providing a 77% performance boost. We should disable it by default in GATK4 (unless @vdauwera objects).

[2016-07-28 18:04] eitanbanks commented on #2060
Do it!

[2016-07-28 18:32] akiezun commented on #2060
do you want to flip the default value of the `skipBAQ` flag or flip the flag itself, rename to `useBAQ`?

[2016-07-28 18:33] akiezun commented on #2060
flipping the default for `skipBAQ` will be

[2016-07-28 18:41] akiezun commented on #2060
keeping the old flag and flipping the default will make sure that old scripts still work. But having a flag that defaults to true is non conventional.

[2016-07-28 19:05] droazen commented on #2025
Closing -- this is done.

[2016-07-28 19:05] #2025 closed

[2016-07-28 19:06] akiezun commented on #2038
I'll look into this

[2016-07-28 19:07] droazen commented on #2056
@cmnbroad tells me that he's already started this one -- @lbergelson you should sync up with him on this ticket.

[2016-07-28 19:11] droazen opened #2062 "VQSR alpha-3 Epic"
This epic is to track work on porting and validating VQSR for alpha-3. Feel free to add related tickets to the epic.

[2016-07-28 19:14] droazen commented on #52
We should do the most straightforward port possible, since this tool will likely be eventually replaced.

[2016-07-28 19:15] droazen commented on #47
Most straightforward port possible. Should probably rename this tool to `ApplyVQSR` for consistency with `ApplyBQSR`

[2016-07-28 19:16] droazen opened #2063 "Port VQSR tests, slimming down as necessary to achieve reasonable runtime"

[2016-07-28 19:17] droazen commented on #2063
Alternatively, if we can't slim down the test data without harming the legitimacy of the tests, we can explore running the VQSR tests in parallel in travis (as a separate test group).

[2016-07-28 19:18] droazen commented on #2063
We also have to audit the data to identify private data, and replace or sanitize.

[2016-07-28 19:21] droazen opened #2064 "Profile GATK4 VQSR after it's ported, make whatever performance improvements we can"
Goal is to be at least 10% faster than GATK3, and use less memory.

[2016-07-28 19:23] droazen opened #2065 "Work with palantir and/or short variants team to validate GATK4 version of VQSR"

[2016-07-28 19:42] samuelklee commented on #2062
Not sure if this is outside the scope of a simple port, but I think it would be great if the fitting of a `GaussianMixtureModel` was made a little bit more generic and extracted.  Right now the method `maximizeGaussian` takes in `List<VariantDatum>`, but it should be trivial to refactor it to take in a `double[]` or `List<Double>`.  Fitting a GMM could be more generally useful for other methods, a

[2016-07-28 19:50] akiezun commented on #2062
I'd definitely advise against combining the port with improvements to the code or the algorithm - I tried it and it was a very bumpy ride. The code is a mix of vqsr-specific and non-specific general-math parts and does not follow any particular notation or textbook. If you want to improve it after the port, that's fine but I think it needs to be separated.

[2016-07-28 20:00] samuelklee commented on #2062
OK---I'll volunteer if no one else is champing at the bit!  It's possible that we might want to do some GMM stuff for tumor heterogeneity.

[2016-07-28 20:25] droazen commented on #2062
The task here is to simply move the code while changing as little as possible, and then validate that. Once that's done, we can do whatever refactoring/changes we want to VQSR, or replace it completely.

[2016-07-28 20:28] #1647 closed

[2016-07-28 22:32] droazen commented on #2060
I say flip it to `enableBAQ`

[2016-07-28 22:52] vdauwera commented on #2060
+1 to enableBAQ

[2016-07-29 16:57] akiezun commented on #2038
OK, I know what this is - all reads get filtered out but Spark tools currently do not report any filtering statistics. I'm going to unassign myself because i won't be able to work on it now

[2016-07-29 16:57] akiezun commented on #2038
@droazen FYI

[2016-07-29 18:12] #2060 closed

[2016-07-29 18:15] akiezun commented on #1417
assigning to @droazen for dispatch

[2016-07-29 20:57] cmnbroad opened #2068 "Image hosting placeholder issue"
This issue is just a container for any images or files we want to host on the GATK wiki.

![metrics 001](https://cloud.githubusercontent.com/assets/10062863/17263120/35e92a26-55ad-11e6-8da7-4fcbe50a0674.jpg)

[2016-07-29 20:57] #2068 closed

[2016-07-29 21:50] #2044 closed

[2016-08-01 13:20] droazen opened #2069 "HaplotypeCaller alpha-3 Epic"

[2016-08-01 13:22] #1607 closed

[2016-08-01 13:23] droazen commented on #1800
Re-opening for alpha-3, since we will attempt to make additional performance improvements this quarter.

[2016-08-01 13:30] droazen opened #2070 "GenotypeGVCFs beta Epic"
This Epic is to track GenotypeGVCFs work for alpha-3

[2016-08-01 13:32] droazen opened #2071 "Validate GenotypeGVCFs walker for production use (with palantir and/or short variants team help)"

[2016-08-01 14:42] droazen commented on #1779
Closing as dupe of https://github.com/broadinstitute/gatk/issues/1987

[2016-08-01 14:42] #1779 closed

[2016-08-01 14:45] droazen commented on #1572
Solution is to set FTZ in main(), as discussed in https://github.com/broadinstitute/gatk/issues/1771

[2016-08-01 14:46] droazen commented on #1771
Closing this one, since we have https://github.com/broadinstitute/gatk/issues/1572 to track the remaining work of setting FTZ in main()

[2016-08-01 14:46] #1771 closed

[2016-08-01 14:50] droazen commented on #1547
This is done -- closing

[2016-08-01 14:50] #1547 closed

[2016-08-01 16:48] magicDGS commented on #1812
Probably useful for this: https://github.com/ekg/ssw

[2016-08-01 21:07] SHuang-Broad opened #2072 "Create JNI (experimental) for fermi-lite as the assembler in SV pipeline"
Limited manual eyeballing seem to suggest it's worth a try, and go large scale for more testing.

[2016-08-02 00:59] pgrosu commented on #2019
@davidbenjamin, et al.  I have two recommendations:

1) Though I prefer to work symbolically and through proofs, it might be nice to first expand on the validation by proof in the JavaDoc - including for the specific function's header - and anywhere else where necessary across the GATK code, just for sanity's sake, and for tying things together neatly and properly.  This process of always going th

[2016-08-02 02:49] lh3 commented on #2019
@pgrosu I think your derivation is wrong. The correct one is the following. Let
[code]
The genotype likelihood is (in math `<h1,h2>=<h2,h1>` typically denotes an unordered pair):
[code]
If `h1==h2`, we get the GL of a hom: `P(r|<h1,h1>)=P(r|h1)`. If `h1!=h2`, we get the GL of a het: `P(r|<h1,h2>)=[P(r|h1)+P(r|h2)]/2`, which in my understanding is what the source code is doing according to @davidbe

[2016-08-02 13:34] lh3 commented on #2072
Let me know if you want more methods exposed, or need any help in general.

[2016-08-02 16:26] SHuang-Broad commented on #2072
Yep. Thanks @lh3 !

[2016-08-03 03:26] zainryan opened #2073 "Support spark2.0.0"
Last week, spark 2.0.0 is formally released. However, when I tested gatk4 on spark2.0.0, I found they were incompatible.

It seems that the interface isn't match. The error log looks like below.

Exception in thread "main" java.lang.NoSuchMethodError: scala.collection.Seq.aggregate(Ljava/lang/Object;Lscala/Function2;Lscala/Function2;)Ljava/lang/Object;
    at org.bdgenomics.adam.models.Nonoverlapp

[2016-08-03 03:31] SHuang-Broad commented on #2072
Updated with [this](https://github.com/SHuang-Broad/JNIFermiLite).

@cwhelan would you mind taking a brief look and see what improvements can be made to the interface?
@lbergelson I also added you as a contributor so later if we decide to make use of fermi-lite in the SV pipeline, you'll be in control.

Thanks!

[2016-08-03 14:40] droazen commented on #2073
@tomwhite Could you have a look?

[2016-08-03 18:22] droazen opened #2074 "Implement bi-directional conversion utilities fasta <-> 2bit, and test on-the-fly conversion as a solution to the "multi-reference" issue in ReadsPipelineSpark"
Let's see how expensive on-the-fly conversion between fasta and 2bit formats is. If it's cheap, we can solve the current multi-reference issues in `ReadsPipelineSpark` by just converting as needed, allowing the user to supply a reference in either format.

[2016-08-03 18:22] droazen commented on #2074
For @jamesemery and alpha-3

[2016-08-03 18:23] droazen commented on #1718
Untagging for alpha-3, since we're going to try https://github.com/broadinstitute/gatk/issues/2074 first as a cheaper alternative. Keeping this as an `alpha3-candidate`

[2016-08-03 18:25] droazen commented on #2074
Note that these conversion methods may already exist, so we may just need to call into them.

[2016-08-03 19:14] #2055 closed

[2016-08-03 19:53] jamesemery opened #2075 "Make SplitNCigarReads produce valid BAM files with overhang clipping"
As I discovered when making the fix in PR #2021 bam files will fail validation if overhang clipping is used when running SplitNCigarRead because the mate reference start position might be changed. The tool can be refactored to perform a second walker pass over the reads in order to identify locations where this will be a problem by checking for sites where the primary read gets clipped by Overhang

[2016-08-03 19:57] lbergelson opened #2076 "Add ability to specify htsjdk version on command line"
We should be able to specify the version of htjskd to build against by setting a system property when building.

i.e. ./gradlew test -Dhtsjdk.version=2.5.1.whatever.SNAPSHOT

[2016-08-03 19:57] lbergelson commented on #2076
necessary for https://github.com/samtools/htsjdk/issues/655

[2016-08-03 21:32] #2076 closed

[2016-08-10 15:54] magicDGS opened #2080 "IndexFeatureFile support for tabix index apart of VCF"
After my contribution to htsjdk to encapsulate the tabix format in the feature codecs (https://github.com/samtools/htsjdk/pull/669), `IndexFactory.createTabixIndex(final File inputFile, final FeatureCodec<FEATURE_TYPE, SOURCE_TYPE> codec, final SAMSequenceDictionary sequenceDictionary)` could be used for index block-compressed feature files of whatever type which implements the `FeatureCodec.getTa

[2016-08-10 16:32] magicDGS opened #2081 "Invalid Genomic Location for VariantWalker with indexed files without dictionary when providing other sources"
If a `VariantWalker` driving variant is indexed with tribble but does not have an sequence dictionary in the header, the dictionary is loaded from the index. Nevertheless, this is a truncated dictionary because the end coordinate for each chromosome is the last variant in that contig.

Thus, even if a proper interval for the genome is provided (regarding the reference sequence), the program throw

[2016-08-10 16:51] magicDGS opened #2082 "Request: GATK4 should warn on potentially misencoded base qualities for read sources"

[2016-08-10 17:40] lbergelson opened #2083 "investigate SparkContext.addFile()"
`JavaSparkContext.addFile` seems to be a runtime version of --files.  According to this [documentation](https://spark.apache.org/docs/1.6.0/api/java/org/apache/spark/SparkContext.html#addFile(java.lang.String)) it is used in concert with `SparkFIles.get()` on the node to lookup the downloaded file location.

It may be possible to persist these files (and those passed with `--files`) by setting 'sp

[2016-08-11 11:59] cmnbroad commented on #2081
Closing as a dup of https://github.com/broadinstitute/gatk/issues/1999.

[2016-08-11 11:59] #2081 closed

[2016-08-11 14:06] magicDGS commented on #2081
Sorry, I haven't seen it.

[2016-08-11 16:59] ronlevine opened #2086 "Throw an exception if the BQSR input covariants file is not found"
Port https://github.com/broadinstitute/gsa-unstable/pull/1441.

[2016-08-11 19:46] lbergelson opened #2087 "Integrate GenomicsDB load VCFs java interface"
An initial very basic java interface to allow loading vcfs into GenomicsDB from GATK.
This is expected as a first step towards greater write support for genomics db.

Could possibly require json files, but ideally could create them itself.

one possible example interface:

[code]

[2016-08-11 19:51] droazen commented on #2087
Adding to TileDB epic

[2016-08-11 20:02] lbergelson opened #2088 "Integrate GenomicsDB VariantContextWriter interface"
GenomicsDB will eventually support streaming writes of variant contexts.
example potential api usage:

[code]

[2016-08-15 10:51] ronlevine opened #2089 "Remove -1 length once a corrected version of the exome interval list is released."
Follow up to https://github.com/broadinstitute/gatk/pull/2010.
Remove the following code from `IntervalUtils. intervalFileToList()` when a new exome, correctly converted interval list (with no -1 length intervals) is released :

[code]

Remove corresponding test `IntervalUtilsUnitTest.testIntervalFileToListNegativeOneLength`.

[2016-08-15 19:54] droazen opened #2092 "Add support for VCF 4.3 and BCF 2.2 to htsjdk"
htsjdk does not support the latest VCF/BCF specs, and it's starting to hurt us (see, eg., https://github.com/broadinstitute/gatk/issues/2056). Let's fix this.

The changes to the spec from 4.2 -> 4.3 can be seen by cloning https://github.com/samtools/hts-specs and running:

    latexdiff VCFv4.2.tex VCFv4.3.tex  > diff.tex
    pdflatex diff.tex

and then examining `diff.pdf` (note that you must ha

[2016-08-15 19:56] droazen commented on #2092
For @jamesemery

[2016-08-15 19:59] droazen commented on #2056
Will be addressed by @jamesemery as part of https://github.com/broadinstitute/gatk/issues/2092

[2016-08-16 09:46] magicDGS opened #2093 "CreateSequenceDictionary generates a compress dict file that can't be used in other GATK tools"
If I generate a sequence dictionary with the `CreateSequenceDictionary` tool with GATK4 command line (`./gatk-launch CreateSequenceDictionary -R reference.fasta -O reference.dict`), the generated dictionary is compressed (`cat` points out that is a binary file), and while using it in tools that calls `getReferenceDictionary()` with a provided reference the dictionary is null.

[2016-08-16 16:29] #1693 closed

[2016-08-16 17:45] #2020 closed

[2016-08-16 18:23] lbergelson commented on #1914
closed by #2078

[2016-08-16 18:23] #1914 closed

[2016-08-17 15:00] #1999 closed

[2016-08-17 15:49] #1987 closed

[2016-08-17 18:55] ronlevine opened #2099 "Remove -stand_emit_conf argument"
Port https://github.com/broadinstitute/gsa-unstable/pull/1454.

[2016-08-18 20:48] cmnbroad opened #2102 "Add createGVCFWriter method(s) similar to the createVCFWriter ones, and hook up to HaplotypeCaller"
and change HaplotypeCallerEngine.makeVCFWriter() (in gatk-protected) to use these instead of creating the writers manually. From @droazen: GATK3 uses the semi-unofficial file extension .g.vcf for GVCFs. There should also probably be a way to explicitly request GVCF output even when the file extension is .vcf

[2016-08-19 20:25] lbergelson commented on #2054
So it turns out that the changes that Adam made are not sufficient to set the verbosity properly.  In order to instantiate a BwaMem object we need to create the index object, which causes verbose output.  I believe the solution is to make set_verbosity static and call it before doing any jbwa operations.

[2016-08-22 14:33] tomwhite commented on #2073
I've created a branch for testing here: https://github.com/broadinstitute/gatk/tree/tw_spark2.

Note that we can't upgrade until the CDH cluster is upgraded to Spark 2. Also, ADAM format support is disabled until ADAM works with Spark 2 (slated for ADAM 0.20.0: https://github.com/bigdatagenomics/adam/issues/1021)

[2016-08-22 20:21] davidbenjamin opened #2107 "Get rid of PerReadAlleleLikelihoodMap in favor of ReadLikelihoods<Allele>"
Comments to this effect can be found in GATK3, where various methods that return `PerReadAlleleLikelihoodMap` are annotated `@Deprecated`.

[2016-08-22 20:23] davidbenjamin commented on #2107
whoops, duplicated of #1467

[2016-08-22 20:23] #2107 closed

[2016-08-22 20:25] davidbenjamin commented on #1467
@droazen If this is in fact worth doing I would like to take it because `PerReadAlleleLikelihoodMap` pollutes a lot of Mutect2 code.

[2016-08-22 20:26] droazen commented on #1467
@davidbenjamin it's yours if you want it!

[2016-08-23 03:02] yhcheng opened #2109 "Put expected outputs for benchmark data online and include it in the benchmark documents"
https://github.com/broadinstitute/gatk/issues/1913

[2016-08-23 08:56] tomwhite opened #2110 "GCS provider ID must be specified even if not using GCS"
The presence of gcloud-java-nio on the classpath prevents other providers being used if the GCS provider ID has not been specified (e.g. by setting `GOOGLE_APPLICATION_CREDENTIALS`).

Here's an example test case: https://github.com/broadinstitute/gatk/commit/8b217f82352ceb55d21d7a5236e879818910d9c9

and the stacktrace:

[code]

[2016-08-23 09:01] tomwhite commented on #2110
@jean-philippe-martin do you think it would be possible to fix this? The workaround is to set `GOOGLE_APPLICATION_CREDENTIALS`, but it would be preferable to have gcloud-java-nio fail when a `gs://` path is specified and the credentials are not set, rather than when the filesystem providers are loaded.

[2016-08-23 15:31] ronlevine commented on #2059
Merged #2104.

[2016-08-23 15:31] #2059 closed

[2016-08-23 15:35] tomwhite commented on #1988
Here's the work I've done so far to implement an overlaps partitioner: https://github.com/broadinstitute/gatk/compare/tw_overlap_partitioner.

The idea is to coalesce neighbouring partitions so that the task processing them can see (but not process) reads from neighbouring partitions. E.g. the task processing partition _i_ can see reads from partition _i-1_ and partition _i+1_. This is done using

[2016-08-23 15:48] fnothaft commented on #2073
Hi @tomwhite; thanks for pinging this upstream on https://github.com/bigdatagenomics/adam/issues/1093. As per my comment there, I believe that it's only the various RDD transforms in ADAM that are impacted by the Spark 2.0.0 shift. I believe that the issue that was reported here is a Scala 2.10 vs. 2.11 issue. The GATK build points at [ADAM 0.18.0 built for Scala 2.10](https://github.com/broadinst

[2016-08-23 17:39] jean-philippe-martin commented on #2110
Intriguing. Thanks for the good example.

To get around this it looks like we need to update NIO to allow it to be in a special "broken" state where the CloudStorageFileSystemProvider allows itself to be constructed even without credentials, failing later when we ask it to do anything.

I think this is possible, but the change would have to be in gcloud-java-nio itself. The additional state is a b

[2016-08-24 02:35] ronlevine commented on #1382
Closing because https://github.com/broadinstitute/gatk/pull/1845 was merged.

[2016-08-24 02:35] #1382 closed

[2016-08-24 08:23] tomwhite commented on #2110
Thanks @jean-philippe-martin.

[2016-08-24 08:38] tomwhite commented on #2073
Thanks for the suggestion @fnothaft. Unfortunately, switching to Scala 2.11 didn't help as I still get a compile error due to the logging change in Spark 2:

[code]

I get that with `org.bdgenomics.adam:adam-core_2.11:0.19.0` too.

[2016-08-24 14:03] cmnbroad opened #2112 "VCF output header lines should be consistent"
We should provide a way for tools to generate standardized VCF header metadata lines. Most tools start with the lines from the input header, but after that there is a variation since each tool has custom code. We should rationalize how these are created/updated, for at least:

- ##contig: Some tools use the ones from the input directly, even if a specific reference is provided on the command line,

[2016-08-24 18:57] achevali opened #2113 "Failure on SparkGenomeReadCounts (addProbabilisticSplits)"
Attempting to get wgs coverage with 10000 bp bin size on
/seq/picard_aggregation/D4491/HCC1143/v1/HCC1143.bam
produces the following stacktrace (see first line for command line)
[code]

[2016-08-24 20:57] droazen opened #2114 "Implement MultiVariantWalker for VQSR"
We need to support multiple variant inputs in VQSR for the sake of scatter-gather parallelism. In practice these inputs will be strictly non-overlapping, but we should implement a general `MultiVariantWalker` traversal in the engine rather than a VQSR-specific solution.

[2016-08-25 16:43] jean-philippe-martin commented on #2110
@tomwhite the fix is in. We only have to use the workaround until the next gcloud-java release (0.2.8, probably).

[2016-08-25 17:15] #1394 closed

[2016-08-25 17:15] #2075 closed

[2016-08-25 17:33] jamesemery opened #2115 "Add API support for SA tags"
The SA tag field for reads is becoming more relevant with the introduction of alternate contigs into references which make use of chimeric alignments to denote reads aligned to an alternate contig. The SA tag, which is necessary to distinguish secondary alignments, is defined in the SAMSpec as follows:

`Other canonical alignments in a chimeric alignment, formatted as a semicolon-delimited
list: (

[2016-08-25 17:54] jamesemery opened #2116 "The new SplitNCigarReads doesn't handle existing supplementary reads correctly"
The new version of SplitNCigarReads now sets reads that are split from one original read to be supplementary to each other. Unfortunately, the tool does not respect any existing supplementary reads as being supplementary to each other. Currently the tool clobbers any existing SA tag and sets one read from each read group as primary which is undesirable as it corresponds to loosing information from

[2016-08-25 17:54] jamesemery commented on #2116
Blocked by #2115

[2016-08-25 18:04] jamesemery opened #2117 "Make the TwoPassReadsWalker accept all types of input files"
The twoPassReadsWalker currently only iterates twice through the reads as intended for BAM files. If given a text SAM file as input it will fail to iterate through the file a second time. This has to do with the SAMTextReader not using a seekable stream for the SAM file in htsjdk, which proves to be complicated to fix given the current api implementation there. A workaround for this is to reinitia

[2016-08-25 19:33] achevali commented on #2113
ValidateSamFile shows no errors with the bam.

[2016-08-25 20:03] lbergelson commented on #2113
It's possible that this is our first example of the much theorized and never before seen splitting failure.  Or it could be something much more mundane like an htsjdk bug.

[2016-08-25 21:59] lbergelson opened #2119 "reading a headerless sam file fails"
Trying to read a headerless sam file fails with:

[code]

It fails because of some problems in `AnySAMInputFormat`.

[2016-08-25 22:01] lbergelson opened #2120 "BwaSpark filters reads incorrectly"
BwaSpark is using WELLFORMED as it's read filter.  This includes a number of checks that the reads validate against the header.  However, most unaligned sam files are likely to have no or incomplete headers.  This causes many reads to be unexpectedly filtered.

We should define a better filter criteria BwaSpark.

[2016-08-25 22:03] lbergelson opened #2121 "BwaSpark does inappropriate validation of bam sequence dictionary against reference"
Since it's realigning the bam, it shouldn't validate that the file to be aligned already matches the header.  This makes it impossible to realign to a different reference or align a headerless file.

This can currently be worked around using `--disableSequenceDictionaryValidation`

[2016-08-26 17:09] cwhelan opened #2123 "Better error message for AlignAssembledContigsSpark if run with wrong BWA index version"
If you run AlignAssembledContigsSpark with an incorrect BWA index version (ie. one that was generated with BWA index 0.7.12 or previous), you get executor logs that trace back to an "IOException: File system is closed" error, which is very misleading. I believe that this happens because Spark retries the tasks multiple times after they have failed, and in the subsequent tries the filesystem is in

[2016-08-26 17:10] davidbenjamin commented on #1697
@ldgauthier I don't recall whether we've discussed this but the new model does handle mixed sites very naturally by assigning separate indel/SNP pseudocountsto indel/SNP alleles in the Dirichlet prior on allele frequencies.

[2016-08-26 17:12] davidbenjamin commented on #1697
@vdauwera The new qual is now merged into GATK4.  The old one is still there for now and is used by default.  You can turn on the new one with the `-newQual` argument in `HaplotypeCaller` and `GenotypeGVCFs`.  I'll open the ticket to back-port and self-assign it now.

[2016-08-26 17:14] vdauwera commented on #1697
Wonderful, thanks @davidbenjamin !

[2016-08-26 17:22] davidbenjamin commented on #1697
Note: new AFCalculator added in PR #2098, but this issue can't be considered closed until the old model has been eradicated.

[2016-08-26 18:43] lbergelson commented on #2123
Is there an easy way to tell what version the index was created with?

It seems like detecting a bad index should happen at the jbwa level instead of GATK itself?

[2016-08-26 19:09] lbergelson opened #2125 "Remove GenomeLocParser from BaseTest"
BaseTest instantiates a GenomeLocParser that uses one of our test references.  This causes BaseTest to be unusable by external projects that don't have the file included.  We should either package the reference file in the jar or we should remove the GenomeLocParser from BaseTest and instantiate it in the classes that actually use it.

[2016-08-26 19:56] ronlevine commented on #1552
Closing since #1852 is merged.

[2016-08-26 19:56] ronlevine commented on #1552
Closing since #1852 is merged.

[2016-08-26 19:56] #1552 closed

[2016-08-26 20:58] ldgauthier commented on #1697
:+1: to eliminating the confusion of the mixed sites prior.

Is the `-newQual` the only commandline change that's needed to run the new model?  I got a little distracted by the prnm comment in the PR review.

[2016-08-26 22:58] davidbenjamin commented on #1697
Yes, just `-newQual`, though `pnrm` would have been more elegant.

[2016-08-29 15:53] lbergelson opened #2127 "keep gatk startup time under 1 second"
It seems like it's taking perceptibly longer time to start the gatk.  This was an annoyance with GATK3 and we should see if there's anything we can do for gatk4 to avoid it.

`time gatk-launch PrintReads --help` reports ~1.2 seconds to run.

There's no significant overhead from gatk-launch, so all the time is in our own loading process.  It's probably time spent searching the class path like it wa

[2016-08-29 16:42] cmnbroad opened #2128 "Change createVCFWriter to use determineOutputTypeFromFile in htsjdk"
GATKVariantContextUtils.createVCFWriter attempts to determine the output vcf type based on the file extension provided by the user, and defaults to vcf if the extension isn't a recognized type. There is code in VariantContextWriterBuilder (determineOutputTypeFromFile) in htsjdk that attempts to do the same mapping, but isn't public. We should expose that in htsjdk and use it in GATKVariantConextUt

[2016-08-29 16:46] SHuang-Broad commented on #2123
A quick look at the code results in the following finding:

The error message : `"SA-BWT inconsistency: seq_len is not the same."` is generated in function `bwt_restore_sa()` defined in `bwt.c`, and resulted in an `abort()` call.
`bwt_restore_sa()` itself was called in `bwa_idx_load_bwt()` defined in `bwa.c`, when trying to restore the suffix array from a  file with extension ".sa". This function

[2016-08-29 19:28] lbergelson commented on #2123
@SHuang-Broad Two other potential options:
1.  Potentially modify bwa's xassert so that it instead of calling abort() directly, it has a function pointer that by default points to abort() but our JNI code instead points it to a new method which will throw a java exception instead.
2.  Patch BWA to do something similar during the jbwa build process.  (gross...)

[2016-08-29 22:50] vdauwera opened #2129 "Sanity-check version in GVCFs before joint genotyping?"
A user rightly [points out](http://gatkforums.broadinstitute.org/gatk/discussion/comment/32631#Comment_32631) that different versions of HaplotypeCaller may produce GVCFs that are not directly compatible, causing weirdness when you joint-genotype them with GenotypeGVCFs.

Obviously this is primarily a data management problem (user should control what's in their pipeline) -- but it would be good to

[2016-08-29 22:50] vdauwera commented on #2129
@yfarjoun I believe you always have opinions about validation, wdyt?

[2016-08-29 23:26] SHuang-Broad commented on #2123
@lbergelson , 1 is not impossible, but it could turn out to be a bigger-than-expected project, because the bwa code, as I understand it, is accumulated through the years. For this specify error message we saw, the abort call is actually made by some low level code in bwa that once modified could throw away many other parts as well.

[2016-08-30 03:10] yfarjoun commented on #2129
Nice idea. I think that GATK version of HC should be the same or else: warning.

In-fact, the headers can be further compared, to check for bands being equal for example.

[2016-08-30 03:10] yfarjoun commented on #2129
annotations all the same..

[2016-08-30 03:12] lbergelson commented on #2123
@SHuang-Broad We'd like to have all of those abort conditions throw exceptions instead of crashing though.  Seems like if we could intercept the abort call it would help us in many situations, not just the 1 bad index.

[2016-08-30 03:44] vdauwera commented on #2129
Yeah I was thinking of same annotations too.

[2016-08-30 14:05] cmnbroad opened #2130 "Remove duplicate AdvancedOption/HiddenOption annotation implementations"
The package org.broadinstitute.hellbender.utils.commandline contains annotation classes called AdvancedOption and HiddenOption that are duplicates of Advanced and Hidden in org.broadinstitute.hellbender.commandline. All usages of these should be updated and this entire package should be removed.

Also, it looks like Hidden is not integrated with the command line parser.

[2016-08-30 15:54] tomwhite commented on #2110
Great! Thanks for addressing this so quickly @jean-philippe-martin.

[2016-08-30 16:33] jean-philippe-martin commented on #2110
You're most welcome @tomwhite ! It looks like 0.2.8 is out now, let me know how it works for you!

[2016-08-30 16:33] #2110 closed

[2016-08-31 15:35] melissachang commented on #2009
Hi, we (Google) are still seeing v1beta2 requests from Broad.

genomics.referencesets.search
genomics.references.search
genomics.references.bases.list

https://github.com/broadinstitute/gatk/search?utf8=%E2%9C%93&q=v1beta2

Can this issue be reopened?

[2016-08-31 16:28] lbergelson commented on #1948
This wiki article is an outcome of this ticket:  https://github.com/broadinstitute/gatk/wiki/Running-Intel-PAT-on-Dataproc

[2016-08-31 16:37] lbergelson commented on #1948
James figured out how to use PAT which seems like a good solution to our profiling problems.  See #1986 and the wiki.

[2016-08-31 16:37] lbergelson commented on #1986
A wiki entry describing how to do this in more detail is here: https://github.com/broadinstitute/gatk/wiki/Running-Intel-PAT-on-Dataproc

[2016-08-31 16:37] #1986 closed

[2016-08-31 16:38] #1948 closed

[2016-08-31 16:43] #2117 closed

[2016-08-31 18:31] cwhelan opened #2134 "Determine the cause of very slow / failing intervals"
The worst offender right now is interval 13913 in the current data set:

13913   Y:16691826-16692366     hdfs://svdev-1-m:8020/user/cwhelan/outs_tws_kill_promiscuous_kmers/NA12878_PCR-_30X/fastq/assembly13913.fastq

This is the one that takes a long time in SGA correction and filtering, only to have SGA filter all of the reads and therefore blow up.

Is suspicious in that it's on the Y for NA12878

[2016-08-31 18:51] cwhelan opened #2135 "Don't call on non-chromosomal contigs in hg19"
We currently are processing 207 intervals on GL contigs and one on NC_007605. I don't have a lot of confidence in calling events on those contigs, and think we should probably exclude them from breakpoint evidence searches (but I think it's still a good idea to pull reads from them for assemblies).

[2016-08-31 18:58] tedsharpe commented on #2135
This is easily accomplished by adding these intervals to the kill list.  I will do so.

[2016-08-31 19:05] tedsharpe commented on #2134
The region consists of an Alu, followed by a poly-A, followed by a piece of a LINE (L1P3).  It seems quite hopeless, so I'll try to figure out a way to exclude it.

[2016-08-31 19:31] tedsharpe commented on #2135
Done.

[2016-08-31 19:31] #2135 closed

[2016-09-01 22:03] SHuang-Broad opened #2138 "Serialization of AlleleList class and its subclasses"

[2016-09-02 02:28] #2138 closed

[2016-09-02 10:27] magicDGS opened #2139 "Request: Allow API user to include packages for codecs"
`FeatureManager.CODEC_PACKAGES` contains only htsjdk and hellbender codecs, but other users could develop their own codecs, and an static method for add a codec package will be interesing from the API user point of view.

[2016-09-02 11:28] magicDGS opened #2140 "Request: Packaging of common processing tools for input files"
When working with custom codecs, the input require to be indexed by `IndexFeatureFile`. This require to pack this tool into the software that is implemented, but the package where it is sited is outside any other.

I propose to do not include any tool in `org.broadinstitute.hellbender.tools` to allow the API user to include specific bundled tools in their software, as `IndexFeatureFile` or `Create

[2016-09-02 13:01] cmnbroad commented on #365
Closed via https://github.com/broadinstitute/gatk/pull/2046.

[2016-09-02 13:01] #365 closed

[2016-09-02 17:05] jean-philippe-martin commented on #2009
ReferenceAPISource talks to Genomics API v1beta2, and if nothing else ReferenceAPISourceUnitTest will exercise this code.

https://github.com/broadinstitute/gatk/search?utf8=%E2%9C%93&q=ReferenceAPISource&type=Code

[2016-09-02 19:50] achevali opened #2141 "Revert to naive allele fraction if optimization fails to converge"

[2016-09-02 19:50] #2141 closed

[2016-09-02 23:01] cmnbroad opened #2142 "Replace CollectInsertSizeMetrics custom readFilter arguments with standard read filter args"
InsertSizeMetricsArgumentCollection has several custom command line arguments that control read filters. Now that there is a standard mechanism for read filter arguments, these custom args should be removed and replaced with tool default read filters that are controlled by standard read filter arguments.

[2016-09-02 23:03] cmnbroad opened #2143 "Add a --getDefaultReadFilters command line arg"
that prints the default read filters that are used for a tool.

[2016-09-02 23:11] cmnbroad opened #2144 "FeatureInput always treats the first token as a name even when it specifies a k/v pair"
If you mistakenly leave out the name for a FeatureInput, but specify k/v pairs, the first key is never defined, i.e.:

  --resource known=true,prior=10.0:....

winds up having the name "known=true", and the known key isn't defined.

[2016-09-06 14:18] cmnbroad commented on #2143
Ideally, this should also show the default values of the default read filter's arguments.

[2016-09-06 17:36] samuelklee opened #2145 "Allow Utils.regularReadableUserFile to take multiple files."

[2016-09-06 20:12] SHuang-Broad opened #2146 "Figure out how to set verbosity level for all executors, only once"

[2016-09-06 21:04] ronlevine opened #2147 "Make ReadPosRankSumTest.isUsableRead() account for deletions"
Port https://github.com/broadinstitute/gsa-unstable/pull/1467

[2016-09-06 22:13] lbergelson commented on #2145
Ack, I didn't realize we had this already.  I recently added `IOUtils.assertFileIsReadable` which is a slight variant of this.  Could whoever does this unify these two?  Honestly, boh names are a bit verbose.  Maybe `Utils.canRead()` would be a better name?

[2016-09-06 22:15] lbergelson opened #2148 "getDefaultReadFilters should be overridden in SplitNCigarReads not TwoPassReadWalker"
`getDefaultReadFilters` is overridden in `TwoPassReadWalker` but that override should be moved to `SplitNCigarReads` since it's really specific to SplitNCigarReads.

[2016-09-06 22:40] cmnbroad commented on #2148
Also at the same time the override of makeReadFilter in SplitNCigarReads should be removed (unless it doesn't want the default treatment), since its the base class implementation of makeReadFilter that does the enabling/disabling/merging of user specified read filters.

[2016-09-07 13:57] cmnbroad commented on #2148
@lbergelson I took this since I was making a PR that had changes here anyway.

[2016-09-07 15:28] cmnbroad opened #2150 "Establish uniform rules for applying filters in pipelines and multiple collectors"
The existing pipelines and multiple collectors are not consistent in how the user's filter requests are merged and propagated to different stages of the pipeline. The BQSR pipeline for instance first retrieves the initial RDD via getReads, which honor's the user's filter requests, but subsequently manually applies the BQSR-specific filter, which might re-enable a filter that was disabled by the us

[2016-09-07 15:31] magicDGS commented on #2143
I will also would like to have a way to know which filters could be applied, with a similar option as this one. I guess that this will be nice for all kind of plugging. And a definition not only contained in the class name.

[2016-09-07 15:57] SHuang-Broad opened #2151 "Port fix #1456 from GATK3 to 4"
For VariantFiltration

[2016-09-07 18:21] lbergelson opened #2152 "Add ReadFilter support to FeatureWalker"
FeatureWalker doesn't have support for command line driven read filters, but CalculateTargetBaseCallCoverage makes use of read filters.

It might be worth moving all of the read filter machinery into GatkTool.  There's a lot of repeated code, and if we add it to FeatureWalker than I think VariantWalker is the only walker type that's missing read filter support.

[2016-09-08 15:37] magicDGS commented on #2033
Related with #2125

[2016-09-08 15:38] magicDGS commented on #2082
PR https://github.com/broadinstitute/gatk/pull/2084

[2016-09-08 16:03] heuermh commented on #2073
Per https://github.com/bigdatagenomics/adam/pull/1123 we're planning on releasing separate Spark 1.x and Spark 2.x artifacts with the next ADAM version (0.20.0).

E.g.
[code]

[2016-09-08 16:06] magicDGS opened #2155 "Request: Allow custom packages for Annotations in VariantAnnotatorEngine"

[2016-09-08 16:46] magicDGS commented on #1920
If this was a coverage issue, downsampling argument is implemented in #2154. If not, should this be still open or this is a real issue? I'm interested because I'll use this part of the code in my work.

[2016-09-08 17:58] lbergelson opened #2157 "Fix ties in AlleleSubsettingUtils.calculateMostLikelyAlleles"
Currently AlleleSubsettingUtils.calculateMostLikelyAlleles can subset to 0 alt alleles in the case that the their are two alleles with equal likelihoods.  This should be fixed so that it chooses as many of the top alleles as it can.

[2016-09-08 17:59] lbergelson commented on #2157
This is blocking updating gatk-protected with a new gatk

[2016-09-08 18:11] lbergelson opened #2158 "Add tests for AlleleSubsettingUtils"
There is no `AlleleSubsettingUtilsUnitTest`.  Tests for `subsetAlleles` live `GATKVariantContextUtilsUnitTest` and there are no tests for `calculateMostLikelyAlleles`.

[2016-09-09 15:53] lbergelson opened #2159 "Move tests for ReadWalker out of PrintReadsIntegrationTest and into ReadWalkerUnitTest"
There are tests for basic `ReadWalke`r functionality that live in` PrintReadsIntegrationTest`.  These should move into their own `ReadWalkerUnitTest`

[2016-09-09 16:06] #2033 closed

[2016-09-09 19:02] #2093 closed

[2016-09-10 16:01] magicDGS opened #2160 "Plugin for read transformers"
After merging #2085, a pluging for `ReadTransformer` should be added using the pluging framework. The arguments should include if it is going to be applied before or after filtering.

[2016-09-12 14:03] cmnbroad commented on #2114
When the MultiVariantWalker is integrated with VQSR, we need to make sure to update the code that populates the output header to match the way GATK3 did it with multiple inputs (mostly affects ApplyVQSR).

[2016-09-12 14:09] gspowley commented on #1819
The first step of resolving this issue is merged into GKL. The approach is described in https://github.com/Intel-HLS/GKL/pull/25.

**Next steps**
- [ ] Resolve #1946
- [ ] Resolve https://github.com/Intel-HLS/GKL/issues/26

[2016-09-12 14:12] tomwhite opened #2161 "Add option for sharding VCF output to VariantsSparkSink"
Sharding permits more efficient reads and writes. This is similar to ReadsSparkSink, which can produce sharded BAMs.

[2016-09-12 17:24] tomwhite commented on #1989
Fixed in #2103

[2016-09-12 17:24] #1989 closed

[2016-09-13 16:44] #2080 closed

[2016-09-14 15:10] cmnbroad opened #2165 "PrimaryAlignmentReadFilter doesn't filter supplementary reads"
PrimaryAlignmentReadFilter filters out secondary alignments, but not supplementary alignments (this is what GATK3 does as well). This doesn't match the SAM spec (though it does match the language used by htsjdk); is redundant given that in GATK4 we have a NotSecondaryAlignmentReadFilter for use with InsertSizeMetricsCollector; and is likely confusing.

Proposed change is to visit the usages of the

[2016-09-14 15:19] cmnbroad commented on #2165
Related to GATK3 discussion https://github.com/broadinstitute/gsa-unstable/issues/1472.

[2016-09-14 18:05] cmnbroad commented on #52
Closed via https://github.com/broadinstitute/gatk/pull/2094.

[2016-09-14 18:05] #52 closed

[2016-09-14 18:05] cmnbroad commented on #47
Closed via https://github.com/broadinstitute/gatk/pull/2094.

[2016-09-14 18:10] #47 closed

[2016-09-14 19:47] samuelklee opened #2166 "Duplicate method lnToLog10 in MathUtils."
Duplicates logToLog10.

[2016-09-15 16:22] magicDGS commented on #2165
I know the usage in the `Pileup`, because I added it when I ported it: I've just tried to mimic the samtools mpileup default filter flags. In samtools, the help of mpileup said regarding the filters:
[code]
Thus I guess that in the `Pileup` the usage is correct.

[2016-09-15 21:07] huangk3 commented on #2038
Hi @akiezun How did you get the unaligned bam from fastq? I tried FastqToSam, but got the error:
"In paired mode, read name 1 (HWI-D00377:30:H8EJDADXX:1:2209:8491:93586) does not match read name 2 (HWI-D00377:30:H8EJDADXX:1:2104:20024:30303)". Do you know how to get rid of that error?

[2016-09-16 20:05] huangk3 opened #2171 "Unable to load bwa index error when running BwaSpark under version alpha.2-45-ga30af5a"
Below are the contents of my reference folder. The index is there, but I don't know why the tool can't recognize it. Please help, thanks!
kh3@rgcaahauva08091 ~/Resources/genome_b37 $> ls -l genome.*
-rw-rw---- 1 kh3 kh3  784809415 Sep 16 10:16 genome.2bit
-rw-rw---- 1 kh3 kh3 3168829906 Feb  4  2014 genome.fa
-rw-r----- 1 kh3 kh3     106669 Sep 16 11:32 genome.fa.amb
-rw-r----- 1 kh3 kh3       327

[2016-09-16 20:46] lbergelson commented on #2171
Hi @huangk3.  This is a known bug.  The spark pipeline uses a 2bit reference but bwa needs a fasta reference.  There's a branch in pr #1981 that adds a `bwa_reference` parameter as a work around.  The test are failing but to the best of my knowledge it's the tests that are wrong and not the code.  I need to update the tests in that branch and get it merged in, but if you want to play around it wit

[2016-09-16 20:51] lbergelson commented on #2171
Actually, on further consideration, I think I've given you the wrong advice.  Try just directly using a fasta instead of a 2bit in the --reference parameter.  I think the two bit is only necessary for the complete reads pipeline.

[2016-09-16 21:06] huangk3 commented on #2171
Hi @lbergelson Thanks for the quick response! I just used the fasta as reference, and it still doesn't work. The log only says "null".
Using GATK wrapper script /home/kh3/Softwares/gatk/build/install/gatk/bin/gatk
Running:
    /home/kh3/Softwares/gatk/build/install/gatk/bin/gatk BwaSpark -I /home/kh3/data/Illumina/GATK4/Platinum/TEST/test.spark.bam -R /home/kh3/Resources/genome_b37/genome.fa --dis

[2016-09-16 21:46] lbergelson commented on #2171
Hmn, that might be due to bad default filters.  Could you try with `--disableAllReadFilters`?

[2016-09-16 21:58] lbergelson opened #2172 "Create ExampleAssemblyRegionWalker"
GATK public doesn't have any example of an `AssemblyRegionWalker` and no integration tests.

This makes it easy to accidentally break the haplotype caller without realizing it.  We should have an ExampleAssemblyRegionWalker and integration tests for it to prevent this.

[2016-09-16 22:26] lbergelson opened #2175 "Move read filter plugin initialization to GATKTool"
There's lots of duplicate code for initializing read filters in different walker types.  (and at least one bug so far #2173)).  It seems like almost every walker type including feature and variant walkers may want to be able to filter their reads.  We should consolidate the read filter code in GATKTool and add support to FeatureWalker and VariantWalker for filtering their side inputs.

[2016-09-16 22:29] fleharty commented on #1233
Addresses #1233

[2016-09-17 16:13] huangk3 commented on #2171
Hi @lbergelson  I added **--disableAllReadFilters**, the log still says "null".

Using GATK wrapper script /home/kh3/Softwares/gatk/build/install/gatk/bin/gatk
Running:
    /home/kh3/Softwares/gatk/build/install/gatk/bin/gatk BwaSpark -I /home/kh3/data/Illumina/GATK4/Platinum/TEST/test.spark.bam -R /home/kh3/Resources/genome_b37/genome.fa --disableAllReadFilters --disableSequenceDictionaryValidati

[2016-09-19 10:02] magicDGS opened #2176 "Question: could it be possible to change the logging to sfl4j?"
As explain in the documentation. for logging GATK is using `org.apache.logging.log4j.Logger`.

Nevertheless, because I would like to use GATK4 as a framework, I think that API users could benefit from using [SLF4J](http://www.slf4j.org/) as a plugin system for allow users to decide which system use.

Because it exists a wrapper for log4j, I think that this could be done easily without changing any

[2016-09-19 11:11] magicDGS opened #2177 "Request: improvements in CreateSequenceDictionary"
`CreateSequenceDictionary` have several things that could be improved:
- The ouptut is necessary, but a default value could be created within the tool. Because the framework reads the sequence dictionary from the same path and a default extension (**.dict**), it would be nice to allow the creation without specifying the output file and create it according to the convention.
- An option to create t

[2016-09-19 16:31] lbergelson commented on #2113
@tomwhite I believe this is an issue with the bam guessing.  I think it should be easy to fix by adding an additional catch for the `IndexOutofBoundsException`.

[2016-09-19 16:38] lbergelson commented on #2130
advanced isn't integrated either

[2016-09-19 18:04] lbergelson commented on #2171
@huangk3 Hmn.  I'm not sure what's going on then.  I'd have to take some time to look into it. Unfortunately, this is my last week before I head out for several weeks off and I don't know if I'll be able to get to it before I leave.

BWA support is still very experimental and it seems like we have quite a few existing issues with it.  We're going to be putting a lot of effort in to the spark tools

[2016-09-19 19:11] lbergelson opened #2178 "create unit test AlelleSubsettingUtils.calculateLikelihoodSums"
We don't have any test that check the correctness of `AlelleSubsettingUtils.calculateLikelihoodSums` and we probably should.  (it's tested indirectly in protected, but that's not really ideal.)

[2016-09-19 20:31] #2157 closed

[2016-09-19 22:07] lbergelson opened #2180 "get Jenkins nodes back online"
Our jenkins worker nodes are dead with out of disk space errors.  We need to either clean stuff off of them or give them more space.

We should determine what's eating their disk space as well so we can prevent this in the future.  We may need to do some clean up after some of our tests.

[2016-09-19 22:08] lbergelson commented on #2180
@davidbernick Could you look into this?

[2016-09-19 22:25] #2172 closed

[2016-09-19 22:41] davidbernick commented on #2180
Will do. Will also set alerts to know in the future. Will let you know
what's up later tonight or tomorrow.
On Mon, Sep 19, 2016 at 6:08 PM Louis Bergelson <notifications@github.com>
wrote:

--
David Bernick
Broad Institute
Director of Technical Operations (DevOps/Security)

[2016-09-19 23:10] davidbernick commented on #2180
FWIW, it's the jenkins master itself, not the nodes:

[code]

[2016-09-19 23:20] davidbernick commented on #2180
@lbergelson it's keeping the total history of all jobs.

We can get a bigger disk in the not too distant future, but for right now, for:
GATK-PrintReads
picard-on-htsjdk-master

Can we get rid of all but, say, last few jobs? That's sort of the way lots of people use Jenkins because it builds up over time. Can we limit jobs to # of jobs to keep or days (pick one)?

In the future we can bump it up b

[2016-09-20 14:33] lbergelson commented on #2180
@davidbernick Thanks for looking into this.

1. It looks like we have a big 200G called /app disk but we're only writing to the root for some reason.  Can we write there instead?

2.  👍  to removing most of the old jobs.  It would be nice if we could save the job status logs but delete the artifacts and temp files.  If that's hard to do though it's fine to just rotate out the old ones.  Can we kee