[2017-07-14 21:29] jean-philippe-martin commented on #3253
@droazen I'll put together my version and you can have a look. I'm making it always attempt a retry on retriable exceptions, so we don't have to worry about errors that would result in a reopen in `CloudStorageReadChannel`.

[2017-07-14 21:40] droazen commented on #3253
But could any of the errors that result in a re-open in `CloudStorageReadChannel` succeed in `CloudStorageFileSystemProvider` if we retry when we encounter them?

[2017-07-14 21:49] jean-philippe-martin commented on #3253
I doubt it but I can change the code to retry in those circumstances so we're super aggressive. That means that there we'd be retrying 40 times instead of 20, for an error that is not marked as retriable (so that normally wouldn't be retried at all).

[2017-07-14 22:08] jean-philippe-martin commented on #3253
OK it's up at #2239, please have a look. I've updated the code to retry when reopens are indicated (since the two don't overlap I take back that line about it retrying 40 times). This means that it'll be close to the level of aggressive that you tested with.

[2017-07-17 14:43] droazen opened #3272 "reduce"

[2017-07-17 14:43] droazen opened #3273 "specific"

[2017-07-17 14:43] droazen opened #3274 "Engine-4.0 Annotation Epic"
This epic will track tickets related to work in the annotation engine for the 4.0 release.

[2017-07-17 14:44] #3273 closed

[2017-07-17 14:44] #3272 closed

[2017-07-17 14:45] droazen commented on #1893
Adding to annotation epic https://github.com/broadinstitute/gatk/issues/3274

[2017-07-17 14:46] droazen commented on #51
Adding to annotation epic #3274

[2017-07-17 14:49] droazen commented on #2864
Adding to annotation epic #3274

[2017-07-17 14:50] droazen commented on #2155
Adding to annotation epic #3274

[2017-07-17 14:50] droazen commented on #2489
Adding to annotation epic #3274

[2017-07-17 14:50] droazen commented on #2497
Adding to annotation epic #3274

[2017-07-17 14:51] droazen commented on #2493
Adding to annotation epic #3274

[2017-07-17 14:51] droazen commented on #2798
Adding to annotation epic #3274

[2017-07-17 14:53] droazen opened #3275 "Create framework for intelligent comparison of annotation values (with tolerance) in the test suite"
We need a framework for easily comparing annotation values in test suite outputs (actual vs. expected), with a per-annotation configurable tolerance before failure. Exact-match comparisons are too brittle for our needs.

[2017-07-17 14:53] droazen commented on #3275
Adding to annotation epic #3274

[2017-07-17 14:55] droazen opened #3276 "Funcotator epic"
This epic is to track tickets related to the port of the Oncotator tool

[2017-07-17 14:56] droazen opened #3277 "Add tribble codec (read support) for GENCODE files to htsjdk"
We'll need to support both hg38 and hg19 inputs.

[2017-07-17 14:57] droazen opened #3278 "Funcotator - Need reader for COSMIC data."
Needed by Funcotator.

[2017-07-17 14:58] droazen opened #3279 "Add tribble codec (read support) for ClinVar inputs to htsjdk"
Needed by Oncotator

[2017-07-17 14:59] droazen opened #3280 "Add MAF support (both read and write) to htsjdk"
Needed by Oncotator

[2017-07-17 15:00] droazen opened #3281 "Pick new name for port of Oncotator tool"
Since "Oncotator" is no longer strictly appropriate.

[2017-07-17 15:03] droazen opened #3282 "Design a scheme for storing (potentially per-transcript) functional annotations in the VCF INFO field"
Can look at what other similar tools have done:

* SnpEff
* Annovar
* VEP (Variant Effect Predictor).

SnpEff in particular already has a scheme for annotating the VCF INFO field with info from all transcripts.

[2017-07-17 15:06] droazen opened #3283 "Prototype non-Spark bare-bones version of Oncotator"
Once we have support for the necessary formats (https://github.com/broadinstitute/gatk/issues/3277, https://github.com/broadinstitute/gatk/issues/3278, https://github.com/broadinstitute/gatk/issues/3279), implement a simple, non-Spark prototype functional annotator just to check that everything is working. Ie., implement something approximating the "main loop" of the Oncotator tool:

[code]

[2017-07-17 15:07] droazen opened #3284 "Design Mutation abstraction for use by Oncotator"
Seems like we'll need one...

[2017-07-17 15:09] droazen opened #3285 "Sparkified Oncotator prototype"
After we have the non-Spark prototype in https://github.com/broadinstitute/gatk/issues/3283, write a Spark version that partitions the input data in a sensible and scalable way (this ticket itself might need to spawn many sub-tickets).

[2017-07-17 15:48] lbergelson opened #3286 "Create haplotype caller reassembly plugin for IGV"
Create a plugin for IGV that allows it to display the reads as haplotype caller has assembled them.  This would be extremely useful for analysts who are doing manual review and would mostly obviate the need for bamOut.

Jim Robinson seems interested in this so we may be able to get help from IGV to do the integration https://github.com/igvteam/igv/issues/428.

[2017-07-17 15:51] droazen opened #3287 "Make annotations a barclay plugin"

[2017-07-17 15:53] droazen commented on #3287
Including support for arguments in annotation classes (eg., `founderIDs` in `InbreedingCoeff`)

[2017-07-17 16:14] LeeTL1220 opened #3288 "Make sure that FilterByOrientationBias is calculating its FDR Threshold from filtered variants."
Currently, the OB Filter is run on the pre-filtered VCF.  This causes it to treat all variants as if unfiltered, which is problematic, since hte FDR guarantee should be on filtered variants.

[2017-07-17 18:09] #3288 closed

[2017-07-17 18:13] sooheelee opened #3291 "FilterByOrientationBias gives random failures"
Out of 11 runs on exactly the same data, FilterByOrientationBias fails 6 times and succeeds 5 times. Assigning @LeeTL1220, given prior interaction with user.

- User reports this error in: https://gatkforums.broadinstitute.org/gatk/discussion/comment/40412#Comment_40412
- My recapitulation is in: https://github.com/broadinstitute/dsde-docs/issues/2294

Data is at `/humgen/gsa-scr1/pub/incoming/byo

[2017-07-17 18:42] sooheelee commented on #3291
As an aside, the stdout is toooooooo loooooooooong.

[2017-07-17 19:22] davidbenjamin commented on #3014
It seems that removing useless soft clips might be easier and more fruitful than keeping good soft clips.  A very common pattern triggering active regions is a soft clip consisting entirely of base quality 2.  This occurs, as Ted and Mark pointed out, when a read gets out of sync and every base after a certain point is bad.  Unlike high-quality soft clips, this is in no way evidence of an indel.

[2017-07-17 19:33] fleharty commented on #3014
Ignoring BQ2 soft clips for the purpose of active region determination seems reasonable to me.

[2017-07-17 20:23] droazen opened #3292 "Bundle annotation-related arguments into an ArgumentCollection"
Currently tools using the annotation engine are manually defining arguments to control which annotations should be enabled/disabled. See `HaplotypeCallerArgumentCollection` `annotationsToUse`/`annotationGroupsToUse` for an example. We should bundle these into a reusable argument collection, like we did for read filters, as part of the task of making annotations a barclay plugin.

[2017-07-17 20:51] droazen commented on #2851
This is done (was presented at last methods meeting)

[2017-07-17 20:51] #2851 closed

[2017-07-17 20:57] droazen commented on #2820
@lbergelson Can we close this one?

[2017-07-17 20:58] droazen commented on #2817
Re-assigning to @jamesemery

[2017-07-17 20:59] droazen commented on #2799
Re-assigning to @jamesemery

[2017-07-17 21:00] lbergelson commented on #2820
Yes. This is done and they've been using it for the 11k.

[2017-07-17 21:00] #2820 closed

[2017-07-17 21:02] droazen commented on #2538
For @jamesemery

[2017-07-17 21:14] droazen opened #3293 "Refactor/improve allele-specific annotation reduce interface"
**After** we've ported reduce support for allele-specific annotations in https://github.com/broadinstitute/gatk/issues/1893 (and not as we're porting!), we should refactor the relevant interfaces to clean them up a bit.

[2017-07-17 21:17] droazen opened #3294 "Disable non-docker unit/integration tests"
Once we do https://github.com/broadinstitute/gatk/issues/2817, we can disable the non-docker unit and integration tests in travis, saving a huge amount of time and resources. (We should keep the instance of the tests that run on the Oracle JDK, however).

[2017-07-17 21:17] droazen commented on #3294
Must be done after https://github.com/broadinstitute/gatk/issues/2817

[2017-07-17 21:46] vruano commented on #3242
Merged.

[2017-07-17 21:46] #3242 closed

[2017-07-18 01:00] LeeTL1220 opened #3296 "M2 VCFs do not validate"
Using VCFTools to validate:
[code]

I get a massive amount of messages:
[code]

Sure enough, the header does not match the values for those fields (in the header number="A"), so the validation errors are correct.  Not sure what is the deal with FOXOG, but that may not be a big deal.

[2017-07-18 06:22] hliang commented on #3186
Just found the log4j errors could be fixed by editing `gatk-launch` and set `spark.driver.userClassPathFirst` to `false` (was `true` by default). Not sure if that would have any unexpected effect though.

[2017-07-18 10:23] magicDGS commented on #3280
If this will be implemented as a tribble codec, it may be worthy to check the general writing support for tribble that I've submit to htsjdk: https://github.com/samtools/htsjdk/pull/822

[2017-07-18 14:17] magicDGS commented on #3287
I was looking into this because it is useful for me, and I have found that there is going to be redundancy between the `VariantAnnotatorEngine`code and the plugin. Here a couple of suggestions after trying to implement something in this regard time ago:

* Remove/deprecate the private class `AnnotationManager` in favor of the plugin. The current code is performing reflection operations by itself,

[2017-07-18 14:19] magicDGS commented on #2155
It will be useful if this is added to the configuration system (#2368 and #3081).

[2017-07-18 14:23] magicDGS commented on #3292
It will be very useful to have an abstract class for the plugin arguments (as I did for the read filters plugin in #2355) to be able for downstream projects to change default values or hide arguments to the final user.

[2017-07-18 14:29] droazen commented on #3194
Re-assigned to @jamesemery

[2017-07-18 14:47] droazen commented on #3191
Re-assigning to @jamesemery

[2017-07-18 15:02] sooheelee opened #3297 "Decimals in periods vs commas possibly erring tools for international users"
User has reported default settings in other countries cause tools to error because of the switch between commas and periods.  The tools themselves generate the data with the commas that then error downstream tools. User reports a workaround solution of adding `-Duser.language=en -Duser.country=US` to commands but this is cumbersome.

Should our tools should be internationally compatible?

---
Hi @

[2017-07-18 15:28] sooheelee commented on #3297
Not sure who this type of issue would go to. Assigning to @droazen for further dispatching.

[2017-07-18 16:08] davidbenjamin opened #3298 "Mutect misses some long indels"
Sometimes the signature of a long indel in a bam (before reassembly, that is) is long soft clips at the end of reads.  If these soft clips are long and high quality we need to recognize them as compelling evidence of variation in Mutect's active region determination.  Currently all soft clips are weighted about as heavily as SNVs, which is too little in the case of long soft clips.

[2017-07-18 16:45] vdauwera commented on #3297
Language should probably be set to English by gatk launch

[2017-07-18 18:24] cmnbroad commented on #3297
We recently made a change that should prevent this from happening (we set the locale to English/US before we run the tool), so I wouldn't expect to see this in recent builds. I think that change was in for beta 1; I think the first thing we should do is verify which GATK build/version this occurs in (I can't tell from the forum post).

[2017-07-18 19:07] lbergelson commented on #2817
I think the easiest way to do this is to mount a host directory into the docker where it will write it's output.

ex: ``` docker -v $( pwd )/build/reports:/build/reports ...```

[2017-07-18 19:52] davidbenjamin opened #3300 "Mutect annotations are too messy"
A lot of Mutect annotations are of the form ref_value,alt_value, and then we filter based on the difference between the alt and ref value.  Some of these could just as well be alt-only annotations and we could filter on just the alt value.  For example, median mapping quality -- if the alt reads are poorly mapped, we shouldn't trust them regardless of how well-mapped the ref reads are.

Additional

[2017-07-18 21:48] sooheelee opened #3301 "PlotSegmentedCopyRatios says run is successful without actually generating plots"
User is @wleeidt and they outline their case in <https://gatkforums.broadinstitute.org/gatk/discussion/comment/40530#Comment_40530>.

**I can generate plots** with their data and so presumably they are missing some component for the tool to generate plots. Whatever these dependencies, the tool should not emit a `SUCCESS` for the run when plots are absent. User instead gets a `plotting_dump.rda` fi

[2017-07-19 04:12] samuelklee commented on #2858
Can someone explain this pseudoinverse business to me?  We calculate standardize the counts to give a matrix C, calculate the SVD to get the left-singular matrix U and the pseudoinverse of C, but then perform *another* SVD on U to get the pseudoinverse of U.  Why do we need these pseudoinverses?  @LeeTL1220 @davidbenjamin?

[2017-07-19 07:56] cattlepotato opened #3303 "BQSRPipelineSpark can't run under joinStrategy in broadcast model"
I tried to process data with BQSRPipelineSpark( the latest released gatk4 beta version), but the job always failed at middle of processing.
I use ERR000589, the bam file size is 1.3G.
knownSites uses dbsnp_138.hg19.vcf, and the data size is 10G.
reference is ucsc.hg19.2bit, data size is 0.8G .
it was running on spark2.0, and there are 4 worker in total. Each node has 16 physical cores and 64G data

[2017-07-19 13:36] davidbenjamin commented on #3012
Actually, this turns out to be an edge case.  Not closing, but removing from the epic.

[2017-07-19 15:06] samuelklee commented on #2858
The memory footprint used by ReadCountCollectionUtils.parse is extremely large compared to the size of the file.  I suspect there may be memory leaks in TableReader.

Speed is also an issue; pandas is 4x faster (taking ~10s on my desktop) on a 300bp-bin WGS read-count file with ~11.5 million rows if all columns are read, and 10x faster if the Target name field (which is pretty much useless) is ign

[2017-07-19 15:08] cmnbroad opened #3306 "Failure using samtools-generated .idx/.dict when reference has ambiguity code ".""
This issue is for tracking https://github.com/samtools/samtools/issues/704.

The samtools-generated .idx and .dict entries for a reference sequence that contains a "." have different lengths (the .dict appears to not count the "."), and the MD5s are different. This causes GATK to throw:

and causes failures when reading a CRAM file using that reference. It works fine if the .dict is regenerated us

[2017-07-19 15:23] tomwhite opened #3308 "Document sort order requirements for Spark tools"
Some Spark tools have certain requirements for how the input reads are sorted, and these should be documented.

The sort order of the output should be defined too. In particular, for sharded output we need to decide what sort order means - presumably global (total) sort order.

[2017-07-19 15:24] tomwhite commented on #3308
Related issues: https://github.com/broadinstitute/gatk/issues/1260, https://github.com/broadinstitute/gatk/issues/929

[2017-07-19 15:33] sooheelee commented on #3301
User replies the missing element was the Rscript packages and once this was installed they were able to plot.

So the error message needs to point to the repo's Rscript and the dependent R packages it installs.

As of this writing, here is what the error message should say:

[2017-07-19 18:16] LeeTL1220 opened #3309 "FilterByOrientationBias summary table always lists that there were no variants filtered, even though there were in the VCF"
For example:
[code]

Not high priority.

Just stems from the VariantContext now being filtered as well as the genotype.  Fix can be placed in ``OrientationBiasUtils.getGenotypeStream``

[2017-07-19 18:19] LeeTL1220 commented on #3301
@samuelklee should delegate it.

[2017-07-19 18:33] davidbenjamin opened #3310 "Merge GATKProtectedMathUtils into MathUtils"

[2017-07-19 18:33] davidbenjamin opened #3311 "Redundant implementations of dotProduct()"
We have more than one.

[2017-07-19 18:42] vruano commented on #2858
TableReader is dumb-dumb one record at a time so it shouldn't suffer from memory leaks.

In contrast the  parser() method uses a incremental "buffer" that accumulates the counts until the end when the actual returned table is created... The reason for this is to keep the ReadCountsCollection class constant.

So at some point you need at least twice the amount of memory as compare to a solution tha

[2017-07-19 18:51] samuelklee commented on #2858
You might be right---and I think it's worse, in that the ReadCountCollection argument validation (for uniqueness of targets, etc.) also adds to the overhead.

[2017-07-19 19:06] vruano commented on #2858
By default we aim for correctness over efficiency... for what you saying about the target being useless it sounds that perhaps you should consider to generalize the ReadCountCollection so that in some sub implementations targets are implicit based on their index in the collection and so for those tools that don't care about target-names this operation would go much faster.

So RCC could be an inte

[2017-07-19 19:07] cmnbroad commented on #2885
I randomly came across this ticket - this is happening because the GroupBy enum in CalculateTargetCoverage [overrides toString](https://github.com/broadinstitute/gatk/blob/b58baa5ff8d69e69ae4ac28c863a4126529cf094/src/main/java/org/broadinstitute/hellbender/tools/exome/CalculateTargetCoverage.java#L675) for some reason, and returns a lower cased string. Sending to @davidbenjamin for routing since h

[2017-07-19 19:18] vruano commented on #2858
As for TableReader.... we could make it a bit more efficient by reusing DataLine instances. Currently it creates one per each input line, but same instance could be reused loading each new line data onto it before calling ```createRecord```.

We are delegating to a external library to parse the lines into String[] arrays (one element per cell) .... we could save on that by implementing it ourselve

[2017-07-19 20:06] cmnbroad opened #3312 "Need a unified mechanism for referencing the application name in various outputs"
Currently, we recommend the use of gatk-launch, but we're inconsistent about how we display the app name in output, including in command lines embedded in output files. We alternatively use 'gatk', gatk-launch', or '':

Note there is no app name listed in the last line above, due to [this](https://github.com/broadinstitute/gatk/blob/33d316f0e8e35572bb60c83a144297c8557bb37d/src/main/java/org/broadi

[2017-07-19 20:10] sooheelee opened #3313 "(How to) Call somatic copy number variants using GATK4 CNV"
I'm not familiar with ACNV nor GetBayesianHetCoverage, so I need to consult a dev on this question.

---

@shlee. I have a question about the PoN. You mentioned previously that it's recommended to have at least 10 normal samples to generate the PoN. What if I only have 2 normal samples? Is that going to affect the accuracy of the whole CNV analysis? I plotted the minor allele frequency using `Plot

[2017-07-19 20:11] sooheelee commented on #3313
Could either @LeeTL1220 or @samuelklee look into this or delegate onwards?

[2017-07-19 20:30] sooheelee commented on #3291
The fix has been merged. Have notified the user.

[2017-07-19 20:30] #3291 closed

[2017-07-19 22:55] droazen commented on #3168
Re-assigning to @jamesemery

[2017-07-20 08:41] magicDGS commented on #3312
First and second lines in are printed by the wrapper script, no? In that case, it shouldn't be a problem to downstream projects unless the use the same wrapper script.

Regarding the last one, I think that it is already customizable by overriding the method that you pointed out (I'm using it in my toolkit, and I guess that it works.

[2017-07-20 12:26] cmnbroad commented on #3154
Fix is merged in htsjdk now https://github.com/samtools/htsjdk/pull/889. I'll keep this  open until we update GATK with a new htsjdk.

[2017-07-20 18:46] droazen opened #3315 "Expose BucketUtils.NIO_MAX_REOPENS as an engine-level argument"
This constant controls both the maximum number of retries and the maximum number of reopens the GCS NIO library will perform in the face of transient errors. It's currently hardcoded, but should be exposed as an engine argument.

[2017-07-20 18:48] lbergelson commented on #2231
@droazen People continue to encounter errors trying to use shuffle, see https://github.com/broadinstitute/dsde-docs/issues/2318.  I repeat my recommendation to remove it.

[2017-07-20 19:07] #2685 closed

[2017-07-20 19:07] #2749 closed

[2017-07-20 19:07] #3120 closed

[2017-07-20 19:07] #3253 closed

[2017-07-20 19:10] droazen commented on #3118
Re-opening this one, since the "craft test case" part of this ticket has not yet been done -- we've just moved to an updated snapshot.

[2017-07-20 19:57] takutosato commented on #2982
#3134

[2017-07-20 19:57] #2982 closed

[2017-07-20 21:32] meganshand opened #3316 "Error in BaseRecalibrator while using NIO"
I got the following error and log file from BaseRecalibrator:

[code]

I ran the same command again from my computer (not in the cloud) still using the NIO paths and it ran successfully. I've also seen it run successfully when running the same pipeline in the cloud. The only thing I think I've changed is the disk size I'm asking for. I'm in the process of validating the input bam right now.

[2017-07-20 21:37] droazen commented on #3316
@meganshand Does this happen deterministically on the same shard? Can you try a run with `--cloudPrefetchBuffer 0 --cloudIndexPrefetchBuffer 0`, and another run with `--use_jdk_deflater --use_jdk_inflater`, and see if either of those make a difference?

[2017-07-20 21:52] lbergelson commented on #3316
That's not what I wanted to hear... Silent scary data corruption it is!

[2017-07-20 22:00] vdauwera commented on #2231
Please make this option hidden if it's only being kept for testing purposes (and document clearly that that is the case). Users should not have access to options that are not expected to have value.

[2017-07-21 02:39] davidbenjamin opened #3317 "Gauss-Legendre integration error"
We use Gauss-Legendre integration in the strand bias model.  The number of subdivisions increases with the read count and for very deep coverage this can cause a stack overflow because, unfortunately, Apache Commons has a very questionable recursive implementation.

The short-term fix is to cap the number of subdivisions.  The long-term fix is to write some sort of simple adaptive 1D and 2D quadra

[2017-07-21 02:40] davidbenjamin opened #3318 "Implement 1D and 2D adaptive quadrature"
Integrals are part of life and Apache Commons' methods are lacking.

[2017-07-21 03:06] mbabadi commented on #3318
I suggest making composite quadratures by stacking multiple copies of low-order quadratures. Also, note that high-order Gaussian quadratures only provide reliable error guarantees for smooth integrands. Composite quadratures with the same number of grid points often give better estimates than a high-order quadrature with the same number of points.

[2017-07-21 03:08] mbabadi commented on #3317
See my comment on issue #3318

[2017-07-21 03:43] samuelklee commented on #2858
First cut at a rewrite seems to be working fine and is much, much leaner.

Building a small PoN with 4 simulated normals with 5M bins each, CombineReadCounts took ~1 min, CreatePanelOfNormals (with no QC) took ~4.5 minutes (although ~1 minute of this is writing target weights, which I haven't added to the new version yet) and generated a 2.7GB PoN, and NormalizeSomaticReadCounts took ~8 minutes (~

[2017-07-21 04:28] samuelklee opened #3319 "Investigate deep denoising of coverage data."

[2017-07-21 13:25] meganshand commented on #3316
Also when I validated the bam I got no errors.

I'll try rerunning this BQSR step a bunch of times to see if I can get the error again and see if it happens on the same shard.

[2017-07-21 13:29] meganshand commented on #3316
@pshapiro4broad FYI, this is the error that I showed you yesterday.

[2017-07-21 13:42] ronlevine opened #3320 "Improve error message when Genotype PL and PP do not have 3 items when calculatePosteriorGLs"
Port https://github.com/broadinstitute/gsa-unstable/pull/1614.

[2017-07-21 14:13] ronlevine opened #3321 "Make FamilyLikelihoods work for non-diploid genotypes"

[2017-07-21 14:35] SHuang-Broad opened #3322 "Investigate re-alignment at satellite sites in SV"
The alignment we currently get from naively calling into `bwa mem` produces significantly overlapping alignments both on their reference span and read consumption. Hopefully realignment (with `SWPairwiseAlignment`?) could make this easier. Deciding which part of reference and (long) read to align against might be tricky.

[2017-07-21 15:16] meganshand commented on #3316
I reran the BQSR step 5 times. One has succeeded, 3 are still running and I got a new yet similar error message on a different shard this time:

[code]

[2017-07-21 15:17] meganshand commented on #3316
Oh, I just realized I also changed from copying in whole dbsnp vcf to streaming it with NIO. Could this be from uncompressing a vcf.gz file rather than the bam? If so I can easily switch back to copying in dbsnp.

[2017-07-21 15:31] droazen commented on #3316
@meganshand The stack trace shows that it's happening in the bam reading, not the vcf reading.

Did you examine `gs://broad-gotc-dev-cromwell-execution/PairedEndSingleSampleWorkflow/66442def-ad3f-4c6c-960e-17578f6b382c/call-SortAndFixSampleBam/CHMI_CHMI3_WGS2.aligned.duplicate_marked.sorted.bam` to see if there are any errors? Can you do `samtools view` on this file and GATK `PrintReads` without c

[2017-07-21 15:47] sooheelee commented on #1524
What is the status of resolving this bug? Is it fixed in GATK4.beta.2?

[2017-07-21 15:48] droazen commented on #3316
I'll add, as a supplement to the above: for the first test case, `samjdk.use_async_io_write_samtools` should be disabled in every GATK/Picard tool in the WDL. The syntax for disabling it in GATK4 with gatk-launch is given above, for Picard and GATK3 it's just -Dsamjdk.use_async_io_write_samtools=false

[2017-07-21 15:49] droazen commented on #1524
Not fixed yet, targeted for 4.0 general release.

[2017-07-21 15:53] sooheelee commented on #1524
Ok. Thanks for that.

[2017-07-21 16:14] lbergelson commented on #3316
@droazen I don't understand how async write could cause this since it's an inflation issue. If the input bam was valid then I don't see how having async write on could make a difference.

[2017-07-21 16:15] droazen commented on #3316
It's not necessarily an inflation issue @lbergelson -- we still need to hear back on `gs://broad-gotc-dev-cromwell-execution/PairedEndSingleSampleWorkflow/66442def-ad3f-4c6c-960e-17578f6b382c/call-SortAndFixSampleBam/CHMI_CHMI3_WGS2.aligned.duplicate_marked.sorted.bam`

[2017-07-21 16:16] lbergelson commented on #3316
This seems like it could be related to https://github.com/broadinstitute/gatk/issues/2686 and possibly even https://github.com/broadinstitute/gatk/issues/2516

[2017-07-21 16:19] droazen commented on #3316
Possibly, but it could also be an issue with deflation writing incorrect size metadata.

[2017-07-21 16:29] lbergelson commented on #3316
@droazen Didn't she validate the input bam though?

[2017-07-21 16:33] droazen commented on #3316
@lbergelson You may recall that we've encountered malformed block-compressed input that validates and can be read without error, and yet appears to have fewer records than it should.

[2017-07-21 16:35] lbergelson commented on #3316
That's a good point... I do recall that...

[2017-07-21 16:56] vruano opened #3324 "SATagBuilder Api to manage SA:Z:* tags could be improved."
I have to deal with this component recently and I found the design rather awkward.... In general between GATK and htsjdk we don't seem to have a proper support for managing and querying Supplementary alignment information from read alignment records:

Some of the things that I think smell:

1. Querying: implemented in htsjdk consists in forging artificial SAMRecords that contain only the alignment

[2017-07-21 17:28] jonn-smith commented on #3277
@lbergelson suggested looking at the IGV Tribble codec for Gencode:
https://github.com/igvteam/igv/blob/8b4fa74fc51d20f91c467f123f6e8b8bf23698e5/src/org/broad/igv/feature/tribble/GFFCodec.java

I'll start by checking this out.

[2017-07-21 17:32] lbergelson commented on #3277
It looks like there's an hg37 lift over of the hg38 data that uses the same format so that should suffice hopefully.

[2017-07-21 17:38] davidbenjamin opened #3325 "Make Mutect command line arguments consistent with rest of GATK"
Some are camel case already, some are python-style underscored arguments, and none are in the new standard format of #2596.  Note that this requires carefully changing our wdls!!!  @LeeTL1220 and @vdauwera this is easy enough to do, but any considerations on timing relative to releases or other logistical thoughts?

I notice that this inconsistency is shared with HaplotypeCaller. . .

[2017-07-21 17:39] cwhelan commented on #3324
A couple of months ago I made an attempt to factor SATagBuilder out to a
public place and change its API to be a little more friendly to different
downstream uses, but I found some unexpected behavior in how it was parsing
SA tags that made me give up for fear of breaking the tools that already
rely on it. Within the SV tools, I'm currently working on a branch in which
I've written some code to pa

[2017-07-21 17:54] droazen commented on #3325
@davidbenjamin This proposal conflicts with https://github.com/broadinstitute/gatk/issues/2596

[2017-07-21 18:24] davidbenjamin commented on #3325
@droazen Thanks for pointing that out.  I'll convert the issue to "make sure M2 is not a renegade of command line arguments."

[2017-07-21 19:04] lbergelson commented on #3324
I think @jamesemery was the original author, so he may be able to contribute explanations for why it's implemented the way it is.

[2017-07-21 19:59] vruano commented on #3324
Sure @cwhelan. Can you be more concrete as to what was "wrong" with it?

[2017-07-21 20:00] vruano commented on #3324
We can talk about it in person on Monday, perhaps is better, and post it here after.

[2017-07-21 21:16] vdauwera commented on #3317
Got another user reporting this problem -- this seems to be especially relevant for amplicon datasets where deep coverage is widespread.

[2017-07-21 23:15] davidbenjamin commented on #3317
@vdauwera This is a big deal.  I'll put in a quick fix tomorrow evening.

[2017-07-21 23:38] vdauwera commented on #3317
Awesome thank you @davidbenjamin

[2017-07-22 16:53] cmnbroad commented on #2885
Loos good to me.

[2017-07-22 19:23] vdauwera opened #3334 "M2 WDL (as all analysis WDLs really) should use gatk-launch instead of calling the jar directly"
Currently the M2 WDL needs to be given the path to a GATK4 jar and calls the jar directly in the commands. This should be amended to use gatk-launch instead (per @droazen).

@davidbenjamin @LeeTL1220

[2017-07-23 01:56] davidbenjamin commented on #2885
Closed by #3314.

[2017-07-23 01:56] #2885 closed

[2017-07-23 03:35] davidbenjamin opened #3336 "Document local assembly in Mutect 2"

[2017-07-23 03:36] davidbenjamin opened #3337 "Document splitting haplotypes into alleles in Mutect 2"

[2017-07-23 03:37] davidbenjamin opened #3338 "Document Pair-HMM alignment in Mutect 2"

[2017-07-23 03:37] davidbenjamin opened #3339 "Document Mutect 2 annotations"

[2017-07-23 03:39] davidbenjamin opened #3340 "Mutect 2 documentation"
We have been responsible about documenting new features.  We should now document everything else.  @vdauwera @chandrans @sooheelee

[2017-07-24 13:43] LeeTL1220 opened #3341 "M2 WDL should take the comments from the FC WDL"
comment block in the FC WDL is a good description, though not exactly the same as the GATK M2 WDL.
Also, the input parameters are re-ordered in a way that makes sense.
[code]

[2017-07-24 14:35] meganshand commented on #3316
@danxmoran This is the bug you're seeing too. I haven't gotten a chance to try any of the suggestions above yet, but I'm hoping to start this afternoon. Also, just for completeness I saw a new error message today that I think Dan saw too (this time from PrintReads):

[code]

[2017-07-24 14:37] danxmoran commented on #3316
Yup, that's the error (we hit it in ApplyBQSR).

[2017-07-24 14:48] droazen opened #3342 "GenomicsDB does not support non-diploid data"
As discussed in https://github.com/broadinstitute/dsde-docs/issues/2303, `GenomicsDB` does not yet support non-diploid data. We should remedy this!

[2017-07-24 14:49] droazen commented on #3342
For @kgururaj and @kdatta

[2017-07-24 14:59] droazen commented on #3334
Yes, bypassing `gatk-launch` causes a number of important system properties (such as htsjdk settings) to not get set. This should be easy to fix, as `gatk-launch` is in the standard docker image in `/gatk`

[2017-07-24 15:14] LeeTL1220 opened #3343 "M2 WDL does not override oncotator for the case and control samples."
When oncotator tries to infer this, it can be incorrect.  Since the WDL knows the correct answer, it should pass this into Oncotator.

[2017-07-24 15:19] LeeTL1220 opened #3344 "FilterByOrientationBias is not aggressive enough when two artifact modes are specified and one has a suppression factor of 0.0"
In this case, the FDR threshold is not honored.  The explanation of this is complex, but essentially has to do with the Benjamini-Hochberg procedure not playing well with suppression factor when extended to more than one artifact mode.

The definition of ``FilterByOrientationBias`` will have to be changes from "guaranteeing less than 1% FDR over all mutations" to "guaranteeing less than 1% FDR in

[2017-07-24 15:21] vdauwera commented on #3334
So at the risk of sounding thick, what exact path do I use in my command when I'm calling the docker? Imagine I'm a six year old who doesn't understand what is the internal structure of the GATK docker image or what "gatk-launch is in the standard docker image in /gatk" means. Note that right now to call the jar I use /root/gatk.jar

[2017-07-24 16:15] droazen opened #3345 "GenomicsDB should preserve phasing information in the GT field"

[2017-07-24 16:15] droazen commented on #3345
For @kgururaj and @kdatta

[2017-07-24 16:21] droazen opened #3346 "GenomicsDB: implement a way to combine different arrays"
Would be massively helpful for further subdividing work on a cluster (eg., for each interval, import multiple batches simultaneously in different processes, then merge at the end).

[2017-07-24 16:22] droazen commented on #3346
For @kgururaj and @kdatta

[2017-07-24 17:16] droazen commented on #3334
@vdauwera Within the docker image, just `cd /gatk`, then run `./gatk-launch ToolName etc.`

[2017-07-24 17:18] droazen commented on #3334
You can also invoke the `gatk-launch` script by absolute pathname: `/gatk/gatk-launch ToolName etc.`

[2017-07-24 17:59] droazen opened #3348 "Coveralls github badge should not update until build is complete"
Currently it's getting updated during an active build, so we see things like "coverage 10%", then "coverage 50%", then "coverage 80%", etc.

[2017-07-24 18:53] LeeTL1220 opened #3349 "Have SparkGenomeReadCounts produce a HDF5 for coverage in addition to the tsv and make it readable during PoN creation."
This would probably yield a non-trivial increase in speed, since much of the time spent is I/O.

[2017-07-24 18:54] LeeTL1220 commented on #3349
Keep default to be current behavior.  Add a flag to produce a HDF5 equivalent file.

@samuelklee

[2017-07-24 18:56] meganshand commented on #3316
Ok, I know @danxmoran also kicked off jobs trying those three options @droazen mentioned above, but I at least tried the first option and got this error message:

[code]

[2017-07-24 19:05] davidbenjamin commented on #3011
Closed by #3304.

[2017-07-24 19:05] #3011 closed

[2017-07-24 19:05] davidbenjamin commented on #3014
Closed by #3304.

[2017-07-24 19:05] #3014 closed

[2017-07-24 19:06] davidbenjamin commented on #3317
Closed by #3335.

[2017-07-24 19:06] #3317 closed

[2017-07-24 19:07] samuelklee commented on #3349
Thanks for taking care of this.  Be sure to take a look at the HDF5RandomizedSVDReadCountPanelOfNormals.IntervalHelper class in my sl_create_pon branch.  I changed the way intervals are written to HDF5 to be faster and more space efficient by using a double matrix.  Still a little hacky IMO, but since we can't write integer matrices it'll do for now.

[2017-07-24 20:33] lbergelson commented on #3349
@samuelklee Why can't we right integer matrices?  Is that a missing feature in the hdf5 wrapper we built or is it fundamental to hdf5?

[2017-07-24 20:46] meganshand commented on #3316
For the second option I get the following error message (cloud prefetch buffer = 0):

[code]

Also anecdotally it seems to happen less often.

[2017-07-24 20:48] droazen commented on #3316
@meganshand There is a fix for the "All reopens failed" issue in the latest gatk4/master.

[2017-07-24 20:48] meganshand commented on #3316
And with the third option (using jdk inflater/deflator) the first error I found is:

[code]

[2017-07-24 20:49] meganshand commented on #3316
Ok so it seems using the cloud prefetch buffer = 0 option I got a different (known) bug and since the other 4 of my runs are still running, maybe that is what's broken?

[2017-07-24 20:51] droazen commented on #3316
@meganshand I think we need to re-run option 2 with latest gatk4/master to be sure that the "all reopens failed" error is not masking other errors. I really hope option 2 (the NIO prefetcher) is the culprit, though, as it would be by far the easiest to fix.

[2017-07-24 22:50] vdauwera commented on #3342
@kgururaj and @kdatta Here's some GVCF data for a trio of samples, each called to haploid (ploidy 1) and tetraploid (4) genotypes. I included the reference (just chromosome 20) and the intervals list. This is data from one of our workshop tutorials so many of the intervals in the list I used don't have any data (so lots of no-calls) but there should be enough usable calls for testing purposes. Let

[2017-07-24 23:18] kdatta commented on #3342
@vdauwera, awesome, thank you. No problem with the attachment, I was able to download it fine.

[2017-07-25 00:48] LeeTL1220 commented on #2697
Already done.

[2017-07-25 00:48] #2697 closed

[2017-07-25 01:42] davidbenjamin commented on #2952
Closed by #3326.

[2017-07-25 01:42] #2952 closed

[2017-07-25 02:58] samuelklee commented on #2858
I created a panel of normals from 90 WGS samples with 250bp (~11.5M) bins, which took **~57 minutes** total and produced an **11GB PoN** (which includes all of the input read counts).  The run can be found in /dsde/working/slee/wgs-pon-test/tieout/no-gc.  It completed successfully with **-Xmx32G**.  The runtime breakdown was as follows:

- ~45 minutes simply from reading of the 90 TSV read-count f

[2017-07-25 03:18] samuelklee commented on #3349
I believe it's missing in the wrapper, although I'm not sure why?

If we revisit the wrapper code, there is some chunking functionality I've introduced in my branch for #2858 that we should perhaps also add.  The writing of string matrices is also a bit awkward and could be improved.

[2017-07-25 12:04] samuelklee opened #3356 "Expose more optional parameters for CreatePanelOfNormals in CNV WDL."

[2017-07-25 13:28] meganshand commented on #3316
I reran option 2 with latest gatk4/master. I ran the BaseRecalibrator step (scattered about 20 ways) 10 times each. All 10 runs failed. I haven't checked all of the error messages yet, but I did see a couple with a new error message about the dbsnp vcf, which I was also streaming with NIO. I'm going to change that back to localizing the dbsnp vcf to see if those go away. Here's that message:

[cod

[2017-07-25 13:44] LeeTL1220 commented on #3344
I have a real example that is close to the below fake example:

Say you have:
- 1000 OxoG mode variants and suppression of 1.0 (lots of artifacts)
- 40 FFPE mode variants with suppression of 0.0 (no artifacts).
- 100 variants that are not in any artifact mode.
- FDR Threshold 0.01

In this fake example (where I don't show the p-values, which is an important piece of this) up cutting:
- none of the

[2017-07-25 13:50] meganshand commented on #3316
I kicked off the runs now localizing the dbsnp file. Of the 10 runs that had failed before, 5 of them had the dbsnp error and the other 5 had that expected non-negative error.

[2017-07-25 14:13] #3309 closed

[2017-07-25 14:13] #3343 closed

[2017-07-25 14:13] #3344 closed

[2017-07-25 14:17] sooheelee opened #3357 "SparkGenomeReadCounts - NumberFormatException"
CNV workflows are unable to handle GRCh38 alternate and decoy contig names. This acts as an unintended safeguard against users including these contigs in a CNV analysis, which _they should not do for somatic analyses_.

However, in principle, this inability to process data for a contig, albeit an alternate contig, is a bug that should be fixed. This may be relevant to someone's research as I expla

[2017-07-25 15:37] droazen commented on #3316
@meganshand Have we tried any runs with option 3 yet?

[2017-07-25 15:51] meganshand commented on #3316
Yes, I ran it 5 times (using the older version not latest master). Of those 5, 3 failed. One of the failures was: `java.lang.RuntimeException: java.util.concurrent.ExecutionException: com.google.cloud.storage.StorageException: All reopens failed`. The other two were both the non-negative error message:

[code]

[2017-07-25 16:18] droazen commented on #2516
We are suddenly seeing this error again at scale: https://github.com/broadinstitute/gatk/issues/3316

[2017-07-25 17:24] samuelklee commented on #3357
SparkGenomeReadCounts has some code to get rid of some of the non-autosomal chromosomes:

    private static final Set<String> NONAUTOSOMALCONTIGS = new HashSet<>(Arrays.asList("X", "Y", "MT", "M", "x", "y",
            "m", "chrX", "chrY", "chrMT", "chrM", "chrm"));

    protected static final String DROP_NON_AUTOSOMES_SHORT_NAME = "keepxy";
    protected static final String DROP_NON_AUTOSOMES_LO

[2017-07-25 17:54] vruano commented on #3357
Looking at the stack trace, the error takes place in a low-level BAM input reading component in a dependency library.... It seems that is trying to read as a number portions of the contig name for a read record in the input... which makes very little sense....

My guess is that either it is a bug entirely contained in that library (is the name seqdoop?), say it does not tolerate those contig names

[2017-07-25 18:02] vruano commented on #3357
@samuelklee, that is very hackish indeed, and very reference version/species dependent.

Tools should not discard hard-wired contig names or intervals like that but rather the user must provide the appropriate -L or -XL list.

A half-way possibility here is to provide a default set of excluded chromosomes depending on what reference is being used which must be verified on run-time as supposed to m

[2017-07-25 18:05] vruano commented on #3357
In contrast, I think excluded chromosomes should be announced in INFO messages (perhaps WARN messages).

[2017-07-25 18:12] lbergelson opened #3360 "teach hadoop bam the horrors of hg38 contig names"
spark things are falling over when they encounter the new hg38 contig names that include `:` and `-`

We need to update hadoop bam to understand these since they are an unfortunate fact of life.

[code]

[2017-07-25 18:15] lbergelson commented on #3360
@tomwhite Could you take this one on?

[2017-07-25 18:16] lbergelson commented on #3357
Ah, yes, the garbage contig names strike again! It looks like hadoop-bam hasn't been patched to know about the horrors of hg38 contig names.  #3360

[2017-07-25 18:49] samuelklee commented on #3349
@LeeTL1220 reminds me that there is also some code for reading/writing intervals that I introduced that probably belongs in the wrapper as well.

[2017-07-25 18:51] #3294 closed

[2017-07-25 18:53] jamesemery commented on #3294
Closed by this pull request https://github.com/broadinstitute/gatk/pull/3353.

[2017-07-25 18:53] #2817 closed

[2017-07-25 18:53] jamesemery commented on #2817
Closed by this pull request https://github.com/broadinstitute/gatk/pull/3353.

[2017-07-25 20:30] #3194 closed

[2017-07-25 21:41] davidbenjamin commented on #3258
Closed by #3263.

[2017-07-25 21:41] #3258 closed

[2017-07-26 07:58] tomwhite commented on #3360
@lbergelson is there a spec for the names somewhere? I'm wondering if there is some kind of escape sequence that is used. Can you also upload a file that causes the error?

[2017-07-26 14:04] lbergelson commented on #3360
@tomwhite Sorry!  I wasn't thinking, we keep hitting this issue in different places and I was assuming you had seen it before. The issue is that there was no spec for contig names, and when they made hg38 they allowed contig names like `HLA:1-3:52-*:6+` which are terrible because they are ambiguous with the format for specifying intervals.  Everyone in the world who wrote software that parses cont

[2017-07-26 14:11] tomwhite commented on #3360
@lbergelson no, I hadn't seen it, but your explanation makes sense. Do you know if htsjdk has addressed this issue? It would be good to share code if possible.

[2017-07-26 14:13] lbergelson commented on #3360
We've definitely addressed it somewhere... but I'm not sure off the top of my head if it's in  in htsjdk or in gatk.  I will try to find the code while I'm trying to find an hg38 bam...

[2017-07-26 14:40] SHuang-Broad commented on #3360
I've been using the following regular expression for hg 38 contig names

[code]

[2017-07-26 15:25] droazen commented on #3230
@eitanbanks Can this be closed given the changes in https://github.com/broadinstitute/gatk/pull/3255?

[2017-07-26 15:33] #3230 closed

[2017-07-26 21:13] lbergelson commented on #3349
@samuelklee Should we make some tickets to update the wrapper?

[2017-07-26 21:47] davidbenjamin commented on #3261
Closed by #3264.

[2017-07-26 21:47] #3261 closed

[2017-07-26 21:48] davidbenjamin commented on #3087
Closed by #3264.

[2017-07-26 21:48] #3087 closed

[2017-07-26 23:31] lima1 opened #3362 "CollectSequencingArtifactMetrics: NullPointer exception without reference"
I think CollectSequencingArtifactMetrics requires a reference, but the documentation lists it as optional.  Without reference, I get an instant crash. I also get NullPointer exceptions when proving --DB_SNP.

[code]

[2017-07-27 00:48] lbergelson commented on #3362
@lima1 Does this same problem occur in the picard version of collect sequencing metrics?  We're going to be replacing our version of this tool with the original picard version soon, so hopefully that will resolve these problems.

[2017-07-27 02:48] samuelklee commented on #3349
Yes, let me know if they should go in this repo or the wrapper repo.

[2017-07-27 04:07] davidbenjamin commented on #3089
Next: talk to Julian.

[2017-07-27 05:33] davidbenjamin opened #3364 "Give CalculateContamination a matched normal mode"

[2017-07-27 05:35] davidbenjamin opened #3365 "Fix the average AF in CalculateContamination"
as pointed out by @takutosato

[2017-07-27 05:38] davidbenjamin opened #3366 "CalculateContamination throws away too many sites"
It's too conservative about possible loss of heterozygosity.  Instead of comparing the smoothed heterozygosity to a theoretical amount, perhaps we could rank all sites by their smoothed heterozygosity and remove outliers?

[2017-07-27 15:18] samuelklee opened #3367 "Clear up keep duplicates confusion in CNV tools."
For whatever reason, we currently recommend keeping duplicates.  However, SparkGenomeReadCounts has a filter that removes them anyway, even if arguments specifying that they should be kept are passed to the command line.  This is different from the behavior of CalculateTargetCoverage.

In my opinion, we should not be keeping duplicates, so @asmirnov239's new coverage collection tool should filter

[2017-07-27 15:37] mwalker174 commented on #2219
This also happens when there are more reducers than reads such that at least one reducer writes an empty split bam.

[2017-07-27 16:12] ldgauthier opened #3368 "HaplotypeCaller phasing only has 90% sensitivity to adjacent SNPs"
Emma, a summer student in the MacArthur lab, did an analysis of the HaplotypeCaller phasing from GATK3.4 (which I believe is unchanged since then) using the gnomAD exomes and genomes.

![image](https://user-images.githubusercontent.com/6578548/28680329-07ba3976-72c4-11e7-8069-e6fa0e1a94aa.png)

The goal of that feature is to provide enough information to change the representation of adjacent SNPs

[2017-07-27 16:26] samuelklee commented on #2858
With HDF5 read-count file input enabled by #3349, a WGS PoN with 39 samples x ~1M bins (i.e., 3kb) took <1 minute to build.  Thanks @LeeTL1220!

[2017-07-27 16:31] LeeTL1220 commented on #2858
No problem.  What was original timing, roughly?

On Jul 27, 2017 12:26 PM, "samuelklee" <notifications@github.com> wrote:

With HDF5 read-count file input enabled by #3349
<https://github.com/broadinstitute/gatk/issues/3349>, a WGS PoN with 39
samples x ~1M bins (i.e., 3kb) took <1 minute to build. Thanks @LeeTL1220
<https://github.com/leetl1220>!

—
You are receiving this because you were mention

[2017-07-27 16:32] LeeTL1220 commented on #2858
Sorry did not see previous comment

[2017-07-27 16:33] samuelklee commented on #2858
Note the bin sizes are different from that comment.

[2017-07-27 16:46] droazen commented on #3316
@meganshand We think we may have identified the underlying problem -- a single typecast from long -> int in the `google-cloud-java` library. We are testing now to see if it actually resolves the errors.

[2017-07-27 17:15] LeeTL1220 commented on #2858
@samuelklee I certainly agree about focusing on CBS alternative.

[2017-07-27 18:06] droazen commented on #3316
Prospective fix is here: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2283

Going to build a new snapshot/docker image with this change now

[2017-07-27 18:21] ronlevine commented on #3338
@davidbenjamin I am doing something similar for HaplotypeCaller. When do you expect to have a pull request? I can add my notes.

[2017-07-27 18:33] davidbenjamin commented on #3338
@ronlevine I haven't started, but start to PR would be a few days to a week.  However, if you're doing the same thing my efforts might be totally extraneous.  It depends what exactly you're doing but Pair-HMM is the same for HC and M2.

[2017-07-27 18:41] epiercehoffman commented on #3368
Thanks Laura for adding the ticket! Quick correction-- the largest distance between a pair of heterozygous variants in the same phase group (same PID) that I observed was 219 bp. That was in a phase group with multiple heterozygous variants.

[2017-07-27 19:06] ronlevine commented on #3338
@davidbenjamin It's more developer centric and would complement your document. I plan to explain the Pair HMM from a HIGH level and point to places in the code that pertain to the algorithm.

[2017-07-27 19:13] samuelklee opened #3372 "Increase copy-ratio slice-sampling range in ACNV."
Increase range changed in https://github.com/broadinstitute/gatk-protected/pull/1001 even more, probably to square of value as suggested by @asmirnov239.  See discussion starting at https://gatkforums.broadinstitute.org/gatk/discussion/comment/40588#Comment_40588.

[2017-07-27 19:14] samuelklee commented on #3313
User was not using matched tumor/normal for GetBayesianHetCoverage.

[2017-07-27 19:14] #3313 closed

[2017-07-27 19:39] davidbenjamin commented on #3338
Okay, then I'll proceed and probably have a PR in a week.

[2017-07-28 08:09] tomwhite commented on #1671
This will also require some work in Hadoop-BAM for Spark support, but that can be a separate issue.

[2017-07-28 09:09] tomwhite commented on #2738
I've started work on this in https://github.com/broadinstitute/gatk/tree/tw_hc_gvcf and https://github.com/HadoopGenomics/Hadoop-BAM/pull/137. See also discussion in https://github.com/HadoopGenomics/Hadoop-BAM/issues/134

[2017-07-28 09:42] #1531 closed

[2017-07-28 11:46] tomwhite commented on #2219
@droazen @mwalker174 I've verified that this is due to writing an empty split BAM. I've opened https://github.com/HadoopGenomics/Hadoop-BAM/issues/138 and https://github.com/HadoopGenomics/Hadoop-BAM/pull/139 to fix the problem.

[2017-07-28 14:58] samuelklee commented on #2746
Another library that just popped up on my radar---and this one is actually in Java!

http://www.amidsttoolbox.com/
https://arxiv.org/abs/1704.01427
https://arxiv.org/abs/1604.07990

The approach is quite different from the other libraries we have been considering; here, the focus seems to be on streaming/parallel data and inference via message passing.  I think our models can be expressed in their

[2017-07-28 16:37] ronlevine commented on #3188
Closing since #3190 is merged.

[2017-07-28 16:37] #3188 closed

[2017-07-28 17:04] #3372 closed

[2017-07-28 18:16] davidbenjamin commented on #3089
Done.  Julian agrees that BWA is worth trying, and confirmed that CGA is using BLAT C++ bindings with out of the box settings.

[2017-07-28 18:16] #3089 closed

[2017-07-28 18:44] davidbenjamin opened #3380 "wdl for making M2 pon"

[2017-07-28 19:11] davidbenjamin opened #3381 "Docs for running M2 autoval"

[2017-07-28 19:23] davidbenjamin opened #3382 "Get public samples for M2 PoN"
ICE, Agilent, wgs

[2017-07-28 19:57] davidbenjamin commented on #3382
Soo Hee might know about 1000 Genomes samples, Laura might know about trios, Palantir people might know about NA12878, Lee knows about HCC[0-9]*

[2017-07-29 01:18] ronlevine commented on #3161
Closing since https://github.com/broadinstitute/gatk/pull/3162 is closed. BaseRecalibratorSparkSharded's Report PrintStream is already closed via a try-with-repources.

[2017-07-29 01:18] #3161 closed

[2017-07-30 01:51] davidbenjamin opened #3384 "Emit error bars in CalculateContamination"
As already derived in the docs.

[2017-07-31 13:58] davidbenjamin commented on #3380
Closed by #3386.

[2017-07-31 13:58] #3380 closed

[2017-07-31 14:02] davidbenjamin opened #3387 "Make Mutect2 multi-sample wdl work in Firecloud"
Instead of a single tsv with columns for the bam, bam index, and sample name, we need to input separate lists for the bams and bam indices and then zip the lists in the wdl.  This willr equire changing a lot of things that use this as a subworkflow.  Note that due to recent changes in the wdl the sample names no longer need to be input.

[2017-07-31 14:06] davidbenjamin commented on #3387
Idea: perhaps we could obviate the bam index file input by creating a wdl task that creates a list of indices from a list of bams by looking for neighboring bai files.

[2017-07-31 14:13] vdauwera commented on #3387
If I understand your idea correctly, I don't think that's going to work well in the FireCloud context.

There are plans to get Cromwell to handle secondary files like bam index automatically next quarter, so I would recommend not putting a lot of effort into working around current limitations.

[2017-07-31 14:15] vdauwera commented on #3387
By the way, why do you need to make the multisample WDL work in FC? There we can just apply the single-pair WDL to a set of pairs. Unless I misunderstand what the multi sample WDL does.

[2017-07-31 14:17] davidbenjamin commented on #3387
Nice.

We weren't going to, but the pon creation wdl calls the multi sample wdl and we want *that* to run in FC (I think).

[2017-07-31 14:34] vdauwera commented on #3387
Ah yes we do need to have a PON creation WDL in FireCloud.

[2017-07-31 15:57] chandrans commented on #3137
That is a good question Soo Hee. I myself don't set the argument unless I get an error. If I do get an error, I just set is to 100G which is outrageous, but I don't know how much is appropriate. If anyone else has suggestions, I would be interested in the answer too.

[2017-07-31 16:31] vdauwera commented on #3137
I'm not crazy about the idea of specifying this in the example commands in general. It will depend a lot on what data and use case a user is going through at any given time. I would much prefer leaving specific recommendations to our pipeline scripts, where we can use whatever the prod pipeline uses, and say "given this use case and example data, this is what works, ymmv".

So I would actually adv

[2017-07-31 17:26] #3168 closed

[2017-07-31 17:57] lbergelson commented on #3102
@david-wb Is your s3 plugin available as an open source plugin that others could use?  We had another question about s3 support in gatk and I thought you might have some insight about it.

[2017-07-31 18:38] danxmoran opened #3389 "GKL v0.5.2 is known to hang / fail to load on CentOS - should upgrade to 0.5.3"
We got a bug report (broadinstitute/picard#886) in Picard about the Intel inflater / deflater causing CLPs to hang on CentOS. I wasn't able to replicate the hang on our on-prem CentOS server, but I did see the GKL consistently failing to load there. The problem was a known bug in GKL v0.5.2, fixed in v0.5.3: Intel-HLS/GKL#33. Bumping the version got the library to load for me on CentOS.

[2017-07-31 19:51] ldgauthier commented on #3368
Oops, thanks for correcting and clarifying @epiercehoffman !

[2017-07-31 19:55] ldgauthier commented on #2746
@samuelklee Sounds like a perfect application and a lot simpler than my fix.  Hopefully your rapid prototype will be faster too.

[2017-07-31 20:10] #3048 closed

[2017-07-31 20:24] david-wb commented on #3102
Hi Louis,

Our simple s3 nio library is not currently open source, but we would be willing to make it so after testing it properly. We found that to get the s3 nio library work with GATK, a few minor changes need to be made the in the GATK source. This is especially true for the spark tools because, on AWS EMR Spark clusters, s3 uris can be treated exactly as if they are HDFS uris. Therefore, it w

[2017-07-31 20:27] lbergelson opened #3391 "add new contributor byoo to AUTHORS file"
@byoo You recently made your first contribution to gatk (thank you!) and so we'd like to add you to our authors file.  I don't know how to refer to you though.
We typically list people as   `Full Name <email>` but I don't know either of those for you.

Would you like to be added, and if so, how should we refer to you.

[2017-07-31 20:39] lbergelson commented on #3102
Hi David,

Thanks for the reply.  I'm sorry to hear that you had to put things on hold.  A lot of the spark tools are not refined to the point they need to be for productive use.  We hope to fix a lot of the spark issues towards the end of the summer or beginning of fall, so maybe we can revisit this then.

I'm curious what changes you ended up making to gatk.  We've had to do quite a lot of work

[2017-07-31 21:43] davidbenjamin commented on #3384
Closed by #3385

[2017-07-31 21:43] #3384 closed

[2017-07-31 21:43] davidbenjamin commented on #3365
Closed by #3385

[2017-07-31 21:43] #3365 closed

[2017-07-31 21:48] david-wb commented on #3102
Sure thing. I can find out which changes I needed to make in gatk  to get certain tools to work, like `PrintReads` and `MarkDuplicates`, though they were certainly not exhaustive. We will also see about open sourcing our s3 nio library which is basically a rewrite of https://github.com/Upplication/Amazon-S3-FileSystem-NIO2 with changes for handling s3 endpoints.

[2017-07-31 22:14] byoo commented on #3391
Louis, thank you very much for the acknowledgement!
You may list me as Byunggil Yoo <byunggil.yoo@gmail.com>

On Mon, Jul 31, 2017 at 3:27 PM, Louis Bergelson <notifications@github.com>
wrote:

[2017-07-31 23:02] davidbenjamin commented on #3381
Closed by #3379.

[2017-07-31 23:02] #3381 closed

[2017-08-01 01:33] davidbenjamin commented on #3300
Blocked: waiting for CGA folks to respond with their opinion on changes to OxoG vcf fields.

[2017-08-01 14:20] droazen commented on #3137
@vdauwera There are some tools that have very specific requirements with regards to `-Xmx`, however. For example, `GenomicsDBImport` requires that you size your `-Xmx` value significantly **smaller** than the total amount of free memory on the machine, in order to leave enough room for the native heap. If you don't do this, you will get truly horrific and cryptic messages when the native code cras

[2017-08-01 14:28] vdauwera commented on #3137
Ah well, that definitely sounds like something that needs to be documented, indeed!

I just don't want to end up having to do it systematically and making up numbers that don't really mean anything.

[2017-08-01 14:41] sooheelee commented on #3137
Do the WDL scripts in the repo reflect some rough proportionate setting for `-Xmx`?

[2017-08-01 14:44] droazen commented on #3137
@vdauwera Agreed, it should be selective -- only for tools that have unusual memory requirements.

[2017-08-01 15:06] droazen opened #3393 "Spark Epic"
This epic will contain important Spark-related tickets. @lbergelson and @tomwhite will be collaborating on these.

[2017-08-01 15:14] sooheelee commented on #3313
Thanks for following up with the user Sam.

[2017-08-01 15:15] droazen commented on #1657
Closing -- this epic is complete.

[2017-08-01 15:15] #1657 closed

[2017-08-01 15:19] droazen opened #3395 "Benchmark ReadsPipelineSpark against running its component Spark tools individually"

[2017-08-01 15:20] lbergelson commented on #110
Closing because this is now tracked by https://github.com/broadinstitute/barclay/issues/23 in barclay.

[2017-08-01 15:20] #110 closed

[2017-08-01 15:23] droazen commented on #2298
Or, alternatively, keep the cluster-based tests in jenkins, but make the jenkins tests more visible on github.

[2017-08-01 15:25] droazen commented on #2793
This is believed to be fixed now that we've moved to a newer `google-cloud-java` snapshot, but we still need tests to prove that it is.

[2017-08-01 15:28] droazen commented on #3389
Thanks @danxmoran -- we've opened a PR to move to the newer GKL.

[2017-08-01 15:30] lbergelson commented on #2119
I think this is fixed but we need to test it.

[2017-08-01 15:36] droazen commented on #3393
@lbergelson Main goals of this epic:

* Hook up `BWASpark` and `HaplotypeCallerSpark` to `ReadsPipelineSpark`
* Benchmark `ReadsPipelineSpark` against running the tools individually
* Better/more visible cluster-based testing for Spark (possibly on travis)
* Fix the most serious/embarrassing Spark bugs

[2017-08-01 15:51] droazen commented on #2481
We're going to try using the `gcs-connector` first so that we don't have to implement lots of additional custom NIO-based sharding code. See https://github.com/broadinstitute/gatk/issues/3125. If that doesn't work out, we'll revisit this ticket.

[2017-08-01 15:59] #1049 closed

[2017-08-01 15:59] droazen commented on #1049
Closing -- we've refactored the README to make it more readable.

[2017-08-01 16:01] droazen commented on #3393
@lbergelson Feel free to radically prune the list of tickets in this epic -- I've added everything potentially serious here for your consideration, but obviously we can't do everything here for 4.0. As long as the final list of tickets furthers the 5 goals laid out in https://github.com/broadinstitute/gatk/issues/3393#issuecomment-319408334, we're good.

[2017-08-01 16:13] #3391 closed

[2017-08-01 18:11] droazen commented on #3389
Resolved by https://github.com/broadinstitute/gatk/pull/3392

[2017-08-01 18:11] #3389 closed

[2017-08-01 18:31] droazen commented on #2516
Resolved by https://github.com/broadinstitute/gatk/pull/3373 and https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2283

[2017-08-01 18:31] #2516 closed

[2017-08-01 18:32] droazen commented on #3316
Resolved by #3373 and GoogleCloudPlatform/google-cloud-java#2283

[2017-08-01 18:32] #3316 closed

[2017-08-01 18:44] jamesemery opened #3396 "Use travis build stages to upload gatk nightly builds after the build succeeds"
The current method of polling the travis build status for master is prone to race condition issues. Since there is really no systematic reason we don't want to run all the tests with every nightly build we should use new travis features to upload the tests.

[2017-08-01 18:55] chandrans commented on #3297
Thanks Chris. Just asked user to clarify. Must be using an alpha build I suspect.

[2017-08-01 18:59] psendil commented on #2382
Seeing same issue, I'm running this from master node

-->  ./gatk-launch PrintReadsSpark -I hdfs://gatk/input.bam -O hdfs://gatk/output.bam

getting following error:
***********************************************************************

A USER ERROR has occurred: Failed to read bam header from hdfs://gatk/input.bam
 Caused by:java.net.UnknownHostException: gatk

*********************************

[2017-08-02 00:56] davidbenjamin commented on #3382
Waiting to hear about 1) our existing ICE pon's samples 2) ExAC samples

[2017-08-02 08:17] serge2016 commented on #3104
As I understand, there are two ways:
1) Update all guides that include tools not ported to GATK4 so users could use GATK4 to get the results as they did earlier.
2) Add all tools from GATK3.6 to GATK4

Otherwise non official forks will appear..

For now could you please add all tools to GATK4?

[2017-08-02 10:02] magicDGS commented on #3104
That example data from the tutorial is good @sooheelee, but maybe it could be reduced in size to avoid adding it to the large file directory? It will be nice to include that example in the `RealignerTargetCreator` PR (#3112)...

[2017-08-02 17:42] SHuang-Broad commented on #2196
Upon further thinking, this seem to require a re-alignment step, to get the annotations correctly:

* if the aligner gives the cigar as `43M4I7M52H` (or its reverse), then the `4I` element could be used for extracting this small insertion, but
* if the aligner decides to output `43M63H`, the two alignments then wouldn't have any overlap on the read, hence by our current logic it would emit an acco

[2017-08-02 18:19] #3396 closed

[2017-08-02 21:52] #3173 closed

[2017-08-02 21:59] #3191 closed

[2017-08-02 21:59] #3160 closed

[2017-08-03 00:20] #2849 closed

[2017-08-03 15:16] ldgauthier opened #3404 "SelectVariants doesn't update GQ when using --removeUnusedAlternates"
This was also a GATK3 issue: https://github.com/broadinstitute/gsa-unstable/issues/1624

GQ should be updated to reflect the subset PLs.

[2017-08-04 12:22] samuelklee commented on #2984
@LeeTL1220 asked me to summarize some PyMC3 and PyStan benchmarks.  Let T = number of targets, N = number of samples, and M = number of ADVI iterations.  From the notebooks posted above:

PyMC3, T = 500, N = 100, M = 2000: 45 seconds on my laptop single-core CPU (including Theano graph compilation)
PyStan, T = 500, N = 100, M = 2000: 45 seconds compilation + 4.5 minutes on my laptop single-core CP

[2017-08-04 12:59] ldgauthier opened #3407 "Many test VCFs are invalid"
Lots of the test input VCFs (and some expected test VCFs) are invalid: GQs that don't match their PLs (which should get fixed by the time I'm done with #3404 ), the wrong number of PLs for the alleles in the VC (src/test/resources/org/broadinstitute/hellbender/tools/walkers/variantutils/SelectVariants/vcfexample.loseAlleleInSelection.vcf) and probably more issues too. It's hard to be confident our

[2017-08-04 13:06] ldgauthier commented on #3407
Apparently it's not in the spec, but I believe that genotypes shouldn't have GQs if they don't have PLs.

[2017-08-04 14:44] lbergelson commented on #2705
@cattlepotato Since we haven't heard anything back in a while I'm hoping that Mark's suggestions helped.  I'm going to close this.  Feel free to reopen if you have more information or the suggestions did not help.

[2017-08-04 14:44] #2705 closed

[2017-08-04 16:11] danking opened #3411 "GenomicsDB instances must always have the same absolute file path"
It has recently come to our (Hail team's) attention that GenomicsDB instances [cannot be moved from the creation location](https://github.com/Intel-HLS/GenomicsDB/issues/135).

Either GenomicsDB will need to generalize to work on instances stored at absolute paths differing from their creation location, or GATK will need to provide the absolute path of the creation location so that Hail can constr

[2017-08-04 16:15] vdauwera commented on #3411
Ouch, I didn't know about this limitation. Thanks for bringing this up, @danking.

@droazen were you aware of this? Any plans on the current roadmap to deal with this?

[2017-08-04 16:18] droazen commented on #3411
@kgururaj @kdatta Can you comment? Would this limitation be easy to remove?

[2017-08-04 17:19] kdatta commented on #3411
We had already planned to remove this limitation. The limitation comes from using an older version of TileDB in GenomicsDB. The latest version of TileDB has an API called array_move() to do this correctly which we will expose in GenomicsDB.

[2017-08-04 17:27] lbergelson commented on #3411
Ideally this would work without calling into any special api..
ex: I copy a workspace somewhere and then refer to that workspace and everything is computed relative to the workspace.  Having to use a special tiledbmv tool to copy files is going to be quiet painful I think.

[2017-08-04 17:49] vdauwera commented on #3411
I second @lbergelson's comment -- requiring the use of a special tool to move the data would be a really hard sell to users.

[2017-08-04 18:19] kdatta commented on #3411
I see. Once created, the full path to the GenomicsDB array is hard-coded into the schema. This is the reason we suggest that if you are copying to a different machine follow the full path of workspace where it was originally created. Merely copying to a different location will break the reads. An utility array move or copy command will enable you to move an array to any location.

The other way to

[2017-08-04 18:26] cseed commented on #3411
@kdatta The issue here is that machines are ephemeral and arrays are going to be moved as a matter of course.  GATK is going to produce arrays for dataset shards on ephemeral machines/clusters, deliver them to us in e.g. object storage (This is the correct model, right?  @droazen @lbergelson) which we will again copy to machines of an ephemeral cluster to analyze.

[2017-08-04 18:29] droazen commented on #3411
Yes, I think that's right @cseed. @kdatta why does the absolute path need to be hardcoded into the schema? Is there a technical reason why relative paths would not work?

[2017-08-04 18:30] lbergelson commented on #3411
It's never made sense to me that the full path to the array has to be hard coded into anything.  It seems like you should be able to compute the path to the array given a full path to the workspace, which is what we provide at runtime.

@cseed That matches my expectations.  It's actually less of a problem for something like our production environment which can probably be arranged to keep these th

[2017-08-04 18:44] kdatta commented on #3411
@droazen the reason for hardcoding the full path is to handle grouping of arrays. In TileDB manages arrays hierarchically. A workspace can contain arrays or groups of arrays. Groups can have different arrays with same name. When you read from an existing array or update it with a given workspace path, you need to figure out which array in the the group you are referring to, hence the full path. Mo

[2017-08-04 18:49] droazen commented on #3411
@kdatta Why not use some kind of globally-unique identifier for the arrays if name collision is an issue (such as a hash or UUID)? Would that solve the problem?

[2017-08-04 18:52] kdatta commented on #3411
@lbergelson actually many databases do such hardcoded directory management and provide tools to migrate data to other locations. The reason is they want to maintain writeahead logs, updates and other temporary files per database or table or array. We also followed the method in TileDB. Other storage formats like HDF5 are completely self-contained and stores everything in one file. Each method come

[2017-08-04 19:12] cseed commented on #3411
I'm not sure we have a "production environment".  Our users at Broad run Hail on a variety of systems from laptops to the Broad Spark cluster to GCP.  In most of the environments, at the privilege level we normally run, we can't control the absolute location of files.  As @vdauwera notes, this will be even more onerous for external users who want to run GATK => Hail.

[2017-08-04 19:26] lbergelson opened #3412 "ArrayIndexOutOfBounds using GenotypeGVCFs when reading from a GenomicsDB"
We've seen 2 instances of this error now:
[code]

It seems to happen in rare cases when reading from a genomicsDB instance with GenotypeGVCFs.  The array that is going out of bounds is one that maps ID values to BCF2Types.  The valid values for BCF2Types are 0,1,2,3,5,7 as defined in the [bcf spec section 6.3.3](https://samtools.github.io/hts-specs/VCFv4.3.pdf)  It seems likely that this is either

[2017-08-04 19:27] droazen commented on #3412
@kgururaj @kdatta Any insight into this one?

[2017-08-04 19:29] lbergelson commented on #3412
It's possible this is some issue in the htsjdk or htslib bcf codec as well, so we should look in that end of it as well.

[2017-08-04 19:47] droazen opened #3413 "Intel deflater doesn't always perform well on smaller data at compression level 1"
We've been showing people the plots below on deflater/inflater performance to argue that using compression level 1 always make sense, since in our tests it results in only a slightly larger file, but much better performance:

![image](https://user-images.githubusercontent.com/798637/28984196-bd03b976-792a-11e7-8a2d-8aa63cdc2aba.png)

![image](https://user-images.githubusercontent.com/798637/289842

[2017-08-04 19:48] droazen commented on #3413
@erniebrau @pnvaidya Would you be able to take this on in George's absence?

[2017-08-04 20:04] tfenne commented on #3413
@droazen It occurs to me that one other axis that might be worth looking at is quality score quantization.  I think the BAMs I was looking at were ones that had [unrecalibrated] full range quality scores, not ones that had been quantized to ~8 or fewer values.  I wonder if the test files used above were all HiSeq-X whether that could have made a difference.

[2017-08-04 20:20] jamesemery opened #3414 "Remove test resources from the docker image"
Right now the docker image is too large. It appears that the if the build_docker.sh script its set to run the tests, then it is uploading the test resources into the docker and removing them, resulting in multiple layers which uses unneeded space. We need to remove the resources files from the docker.

[2017-08-04 20:23] droazen commented on #3413
@tfenne Yeah, that's a good point -- definitely something to look at this time around.

[2017-08-04 21:22] kdatta commented on #3411
@droazen actually removing the hard-coded path in TileDB might be the best option long term. I will check over the weekend what's the complexity of this work and how soon we can turn this around.

[2017-08-04 21:23] erniebrau commented on #3413
I will coordinate with @pnvaidya to take a look at this. Let's discuss a bit more on Monday.

[2017-08-05 00:39] kgururaj commented on #3412
Would it be possible to obtain input files which triggered this bug? Or a core dump file as described here https://github.com/Intel-HLS/GenomicsDB/wiki/Bug-report?

[2017-08-07 12:17] cmnbroad opened #3415 "HTSJDK 4.0 epic"

[2017-08-07 13:09] cmnbroad commented on #2601
Note the fix for this (https://github.com/samtools/htsjdk/pull/835) also fixes https://github.com/samtools/htsjdk/issues/934, so we should try to get it in.

[2017-08-07 14:53] jonn-smith commented on #3282
SnpEff has a document with a reasonable spec for annotations:

http://snpeff.sourceforge.net/VCFannotationformat_v1.0.pdf

[2017-08-07 15:51] lbergelson opened #3417 "update to a current htsjdk snapshot"
update htsjdk to a current snapshot and fix the test failures

[2017-08-07 18:06] bbimber commented on #616
Posting at the suggetion of shlee.  There's discussion about what parts of VariantEval will be ported to GATK4 or whether Picard's partially overlapping tool CollectVariantCallingMetrics will take this over.  I want to at least make you aware that we've developed a tool we're calling VariantQC, which is built in GATK3 and runs VariantEval internally to generate data stratified in various ways to m

[2017-08-07 19:26] droazen commented on #616
@bbimber We're not opposed to the idea of porting `VariantEval` if it's useful to the community -- the problem is finding time to do so with all of the other GATK4-related projects going on right now, particularly with a viable alternative tool in Picard. However, if someone (such as yourself) were to submit a pull request with a straightforward 1:1 port of the tool from GATK3 with the absolute mi

[2017-08-07 19:51] bbimber commented on #616
Alright - I'll see how much time people have here (@melissayan - any interest?)

Has anyone on your side done investigation or put thought into merging the tools beyond the little on this thread?  I'm not wholly opposed to slimming it down if we can preserve the tiny bit of it we need (stratifications/VariantEvaluator modules), though I'm worried the scope of what that would take pretty rapidly in

[2017-08-07 20:01] droazen commented on #616
There aren't any plans to add the module functionality from `VariantEval` to the Picard tool. It would almost certainly be easier to do a straightforward port of `VariantEval` to GATK4 than to try to perform major surgery on `CollectVariantCallingMetrics` in Picard.

[2017-08-08 07:02] milkcookie opened #3419 "call snp output problem"
Hi all:
    I have a problem about HaplotypeCaller output, if I hava only one sample to call snp, How to output all the sites even its genotype is 0/0? which arguments I should add?
Thanks
Hansong
FAFU

[2017-08-08 18:35] skwalker opened #3420 "Improve HC Sensitivity with UG"
When we run HaplotypeCaller, we often miss out on variants due to the assembly graph only being able to find the reference haplotype (especially when there are repeats in the reference such that we have to use a really big kmer size to try to find variant haplotypes). It would be nice if there was an argument we had that would enable us to use UnifiedGenotyper to find variants in these cases. Unfo

[2017-08-08 18:40] jonn-smith commented on #3281
We have found a new, more appropriate, name.

[2017-08-08 18:40] #3281 closed

[2017-08-08 19:09] vdauwera commented on #3281
Care to share the new name?

[2017-08-08 20:00] chandrans commented on #3340
@davidbenjamin Hi David. Happy to help as soon as I get caught up on the forum and a few other things. However, I think we are waiting for Mutect2 to be out of beta status to focus our full efforts on documenting it.

[2017-08-08 20:20] #2666 closed

[2017-08-08 20:20] #3166 closed

[2017-08-08 20:28] davidbenjamin commented on #3340
@chandrans Don't worry, this ticket is not meant to imply any responsibility for the comms team.  I was looping you in because the docs we produce will hopefully be useful to you.

[2017-08-09 00:44] bbimber commented on #616
Alright, @melissayan will give a straight port a try.

[2017-08-09 00:53] samuelklee commented on #2858
I've implemented the Gaussian-kernel binary-segmentation algorithm from this paper: https://hal.inria.fr/hal-01413230/document  This method uses a low-rank approximation to the kernel to obtain an approximate segmentation in linear complexity in time and space.  In practice, performance is actually quite impressive!

The implementation is relatively straightforward, clocking in at ~100 lines of py

[2017-08-09 01:09] LeeTL1220 commented on #2858
@samuelklee This looks really good and the paper is a great find.  I am unclear on a couple of things.
- How accurate was CBS on the 700k points?  100 ground-truth segments became how many in CBS?
- I'm a little unclear on how we would derive a segment mean for this approach.  If I am missing something obvious, then I'd ask:  How were the "segment means" in this approach vs. CBS?
- Would it be eas

[2017-08-09 02:07] mbabadi commented on #2858
@samuelklee this looks awesome!
- What variant of the algorithm did you implement? the paper lists several.
- I haven't read the paper in detail yet, but is it possible to choose a conservatively large number of possible break points and then filter bad break points, possibly based on the rapid decline of the change point probability? i.e. does the algorithm naturally produce change point probabil

[2017-08-09 03:13] samuelklee commented on #2858
The 700k came from a real WGS sample (as opposed to the simulated data with 100 segments and 1M points), so there is no ground truth there.  I was just trying to get an idea of real-world runtime for CBS.

When I run CBS on the simulated data, the results are pretty much the same (both miss a changepoint where the adjacent segment means are close by chance;  the runtime is also ~1.2 minutes in bot

[2017-08-09 13:00] droazen commented on #616
Great to hear! If you need any help during the porting process, just comment here and we'll respond.

[2017-08-09 13:07] #2475 closed

[2017-08-09 13:17] cmnbroad commented on #2213
Closing via https://github.com/broadinstitute/picard/pull/897 (formerly known as https://github.com/broadinstitute/picard/pull/817).

[2017-08-09 13:17] #2213 closed

[2017-08-09 13:18] droazen commented on #2213
Woohoo!

[2017-08-09 15:31] davidbenjamin commented on #3300
Closed by #3351

[2017-08-09 15:31] #3300 closed

[2017-08-09 16:32] droazen opened #3423 "Publish nightly docker snapshots"
In a separate dockerhub repository such as `gatk-nightly`, not the main `gatk` dockerhub repository.

[2017-08-09 16:32] droazen commented on #3423
For @emeryj

[2017-08-09 16:33] droazen commented on #3423
If dockerhub does not allow automated deletion of old images, we may need to explore alternatives.

[2017-08-09 17:07] samuelklee commented on #2858
I naively cythonized part of my python implementation to use memoryviews, resulting in a **~60x** speedup!

### **The simulated data with 100 segments and 1M points ran in 1.3 seconds!!**

## **THIS IS BANANAS!!!**

[2017-08-09 19:10] mbabadi commented on #2858
WOW! this is unacceptably too fast!

[2017-08-09 22:32] #3224 closed

[2017-08-09 22:33] SHuang-Broad commented on #3224
closed by #3361

[2017-08-09 23:12] vdauwera opened #3426 "Document that GGA mode is not supported"
Following https://gatkforums.broadinstitute.org/gatk/discussion/10049/genotype-given-alleles-mode-not-work-in-gatk4-beta

Since GGA mode (`--genotyping_mode GENOTYPE_GIVEN_ALLELES `) is definitely not supported at the present time, we should either put a note in the corresponding argument's doc string, make it `@Hidden`, or possibly both.

[2017-08-10 02:52] SHuang-Broad commented on #2698
closed by #2701

[2017-08-10 02:52] #2698 closed

[2017-08-10 14:51] blueskypie opened #3428 "GATK4 Spark with cromwell Spark backend"
Hi,
I have a question on how to use GATK4 Spark with cromwell Spark backend. I posted [here](https://gatkforums.broadinstitute.org/wdl/discussion/10124/gatk4-spark-with-wdl#latest) on the Broad WDL forum. Could someone help?

Appreciated!

[2017-08-10 15:00] vdauwera opened #3429 "GenotypeGVCFs run on GenomicsDB produces empty VCF"
We have received two independent reports of this problem. The latest by Brad Chapman, posted [here](https://gatkforums.broadinstitute.org/gatk/discussion/comment/41338#Comment_41338) includes a reproducible test case. Files are here: https://s3.amazonaws.com/chapmanb/testcases/gatk4_genotypegvcfs.tar.gz

#### Steps to reproduce:

Running an import, and then a GenotypeGVCFs and SelectVariants to te

[2017-08-10 15:07] vdauwera commented on #3428
We'll get you an answer in the forum, please don't cross-post to github as that just generates noise that slows us down.

[2017-08-10 15:07] #3428 closed

[2017-08-10 15:08] blueskypie commented on #3428
sorry and thanks!

[2017-08-10 15:36] #3417 closed

[2017-08-10 20:15] #3414 closed

[2017-08-10 21:10] SHuang-Broad opened #3431 "Follow up with necessary tests for cpx SV PR series"

[2017-08-11 14:20] chandrans commented on #2849
Thanks Chris! This will help us in our Mutect2 tutorial :)

[2017-08-11 16:30] lbergelson commented on #3404
@ldgauthier Is this complete?

[2017-08-11 16:52] lbergelson opened #3434 "Special Case MQ annotation in Haplotype caller"
apply the same special case fix for converting RAW_MQ -> MQ that we made to GenotypeGVCFs to haplotype caller.

[2017-08-11 17:04] lbergelson opened #3435 "Add new contributor Don Freed to AUTHORS"
@DonFreed,  Thank you for your first contribution!  We'd like to add you to our AUTHORS file.
Typically we add people in the form:
[code]

How would you like to appear?

[2017-08-11 17:18] lbergelson commented on #3429
It's weird, it looks like all the format attributes after MCL are getting dropped from sites with an alt allele. That would explain why there are no genotypes. If a site has no PLs I think we don't demit it.
 @kgururaj do you have any insight into why that's happening?

[2017-08-11 17:20] lbergelson commented on #3429
Also, @vdauwera thank Brad Chapman for this excellent test case.  No one ever sends us such complete data to reproduce. It even has a run script that demonstrates the problem!

[2017-08-11 17:46] davidbenjamin opened #3436 "wdls for generating m2 resources"
sites-only gnomAD and common SNPs for contamination

[2017-08-11 17:47] davidbenjamin commented on #3325
We'll wait to see what style HaplotypeCaller switches to.

[2017-08-11 18:17] droazen commented on #3325
@davidbenjamin If you have an opinion on what style GATK should standardize on, please comment on https://github.com/broadinstitute/gatk/issues/2596!

[2017-08-11 19:19] davidbenjamin commented on #2596
If this is up for voting, camel case makes more sense to me because this will involve command lines with a lot of dashes.

[2017-08-11 19:41] lbergelson opened #3437 "fix spark performance regression on jenkins"
We see a massive (18x) slowdown of our spark performance tests on jenkins.  The failures started on July 20th.

The last good build was of a21447f.  Which leaves one of:
 - 4c697e06ea33c9179840c81c843658442c82a951:  Move to google-cloud-java snapshot with more robust retries, and set …
 - 1bc0bbfc5a2240e85fd4b9f9010673c7242552a0 Filter Mutect2 artifacts that arise from apparent-duplicate reads

as

[2017-08-11 23:45] DonFreed commented on #3435
[code]
^^ would be great. Thanks!

[2017-08-14 15:13] #3251 closed

[2017-08-14 16:13] lbergelson commented on #3429
@kdatta @kgururaj

[2017-08-14 18:14] #3435 closed

[2017-08-14 18:29] lbergelson opened #3439 "add option to ignore platform check"
Currently we require that bams have a platform (`@PL`) specified in the header.  It would be convenient if there was a mechanism to bypass that check because rewriting the header of a bam is to add it is an expensive operation.

[2017-08-14 18:34] lbergelson commented on #3439
@frank-y-liu I opened the issue we talked about here.

[2017-08-14 18:36] cmnbroad opened #3440 "TableCodec isn't properly indexable due to buffering done by OpenCSV reader."
TableCodec has traditionally taken advantage of a quirk of the htsjdk implementation of tabix indexing, where the input stream being indexed was closed and then reopened in between reading of the header and subsequent feature indexing. That quirk had several failure modes (see https://github.com/samtools/htsjdk/issues/393 and https://github.com/samtools/htsjdk/issues/943). These are fixed in https

[2017-08-14 21:22] dpmccabe opened #3442 "TargetCoverageSexGenotyper fails for bad samples"
The TargetCoverageSexGenotyper can sometimes fail to calculate genotype LLs for low-quality (low-coverage) samples. The exception below can be reproduced trivially: just pass it a raw coverage matrix containing a single sample that has all only zeroes in its counts column. In practice, I've recently encountered several samples that somehow passed upstream QC but failed to genotype due to extensive

[2017-08-14 21:47] lbergelson opened #3444 "fail travis build if before_install / install blocks fail"
We should figure out how to fail the travis build if the before_install or install blocks fail.  We have confusing test failures when earlier stages fail, it would be better to error early.

[2017-08-15 14:32] tomwhite commented on #3437
I can confirm this too. When I reverted https://github.com/broadinstitute/gatk/commit/4c697e06ea33c9179840c81c843658442c82a951 the problem disappeared, so that seems to be the culprit.

This is definitely a GCS issue, as I don't see the problem when running with HDFS inputs.

More details: for ReadsPipelineSpark, the first job has the following stages when running OK:
* Stage ID 0, mapToPair at Ma

[2017-08-15 14:56] tomwhite commented on #3437
It looks like the problem is that the GCS behaviour of [Files.list](https://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#list-java.nio.file.Path-) has changed for a regular file - it used to return the file itself (even though it's not a directory), but now it returns nothing. The fix is to add a case to check if the path is a regular file here: https://github.com/broadinstitute/gatk

[2017-08-15 14:57] droazen commented on #3437
@tomwhite Nice catch -- possibly a side effect of the fix in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2124?

[2017-08-15 15:10] lbergelson commented on #3437
Yes, nice find indeed!

[2017-08-15 15:30] samuelklee commented on #2858
After more experimentation, one issue I was running into with the ApproxKernSeg method was failure on small and "epidemic" events.  This is because 1) the segment cost function used in that paper is extensive (growing with the number of points in a segment), and 2) binary segmentation is a global, greedy algorithm.  These both cause long events to be preferred over short events, and thus the first

[2017-08-15 16:19] ldgauthier commented on #3404
Closed via #3409

[2017-08-15 16:19] #3404 closed

[2017-08-15 17:58] erniebrau commented on #1572
@droazen I cannot reproduce this issue. I've tried doing what you say in [your comment above](https://github.com/broadinstitute/gatk/issues/1572#issuecomment-195429038) but the results of running Java and (FTZ-enabled) AVX versions of HC are identical. I also tried running analogous experiments using several different BAM files in the repo but, again, got identical results when comparing Java vs A

[2017-08-15 18:40] jonn-smith commented on #3079
Some info on Spark configurations:

https://stackoverflow.com/questions/29441316/specifying-an-external-configuration-file-for-apache-spark

[2017-08-15 18:49] jonn-smith commented on #3079
Here's another one with our exact problem (solved largely by putting the config onto HDFS).

http://progexc.blogspot.com/2014/12/spark-configuration-mess-solved.html

[2017-08-15 19:14] vruano opened #3446 "SvCigarUtils should be merged into CigarUtils."
IMO there is no need to have two helper classes... it seems that SvCigarUtils methods could be useful for anyone.

[2017-08-15 20:55] droazen opened #3448 "Patch O(n^2) algorithm in VCFHeader.addMetadataLineLookupEntry()"
`VCFHeader.addMetadataLineLookupEntry()` is showing up in profiles of, eg., the 20k gnomAD run as around ~15% of total runtime of 16-hour jobs. This is due to a O(n^2) algorithm that @cmnbroad identified. We should prioritize a fix for this in htsjdk.

[2017-08-15 20:56] droazen commented on #3448
@cmnbroad Could you please make this your highest priority when you get back? Thanks!

[2017-08-15 21:40] samuelklee opened #3449 "PadTargets should throw a more informative exception if given overlapping intervals."

[2017-08-15 21:41] samuelklee commented on #3449
Although we may not need PadTargets much longer if we use built-in -L and padding options for the new coverage collection.

[2017-08-16 10:32] tomwhite commented on #3360
@SHuang-Broad thanks for the regex. Where have you been using the regex? I couldn't find it in htsjdk or GATK, and in fact neither of these seem to have tests for hg38-style contig/chromosome names. Ideally htsjdk would have code for this so that both Hadoop-BAM and GATK could call it directly.

[2017-08-16 15:26] jonn-smith commented on #3282
After getting comments, it looks like the format we're going to use is adding the annotations in the info field, grouping by allele, then transcript.  The specifics of annotation name and delimiters can be debated later (and easily changed).

For example (newlines added for readability):

22  21807795  . G C,A . . DP=1000;ECNT=40;IN_PON;NLOD=59.66,68.06;N_ART_LOD=8.88,1.93;TLOD=16.45,36.72;TLOD_FW

[2017-08-16 17:22] SHuang-Broad commented on #3446
Those utilities are relatively more specific for the SV group (in particular for discovery step given aligned locally-assembled contigs or other types of long reads), IMO we should wait until there's need from other groups/domains.

[2017-08-16 18:32] mwalker174 opened #3454 "Option to report when reads fail the WellformedReadFilter"
There should be an option to inform the user when reads do not pass the WellFormedReadFilter. This could be by logging the number of reads failing this filter or exploding (user-specified). Ideally, it would also report which part of the filter they failed.

There are a lot of simple "gotchas" that can cause reads to fail, like not adding read groups with sample names. To a lay user, this could be

[2017-08-16 18:43] kdatta commented on #3429
@lbergelson @droazen I ran GenotypeGVCF in the debugger with the options as shown above and found that GenomicsDBFeatureReader iterator is returning the VCF records correctly. They match the output of the GenomicsDB standalone reader. The reason they are not printed to the output file is because vcfwriter.write() is not called with the VCF records. I think this might be a bug in the GenotypeGVCFs

[2017-08-16 19:21] lbergelson commented on #3429
@kdatta Do the returned records have PLs?

[2017-08-16 20:26] lbergelson commented on #3429
@kdatta I see records coming out of genomics db that seem invalid to me.  All of the records that have alt alleles other than <NON_REF> are missing the PL's and all the genotype attributes that aren't MCL.

[2017-08-16 20:28] lbergelson commented on #3429
Although it's always possible there's a bug in the htsjdk bcf codec causing the issue...

[2017-08-16 21:16] kdatta commented on #3429
Yes, all the records have PL values. For example, the PL values at 101 position as seen in the debugger are:
chrM:101-149 Q. of type=SYMBOLIC alleles=[G*, <NON_REF>] attr={END=149}
genotypes = {LazyGenotypesContext@3249}  size = 2
 0 = {FastGenotype@3259} "[Test1 ./. GQ 99 DP 1114 PL 0,120,1800 {MIN_DP=975}]"
 1 = {FastGenotype@3260} "[Test2 ./. GQ 99 DP 1114 PL 0,120,1800 {MIN_DP=975}]"

The obje

[2017-08-16 21:16] cmnbroad commented on #3448
Tests passed, PR is reviewed and merged into htsjdk.

[2017-08-16 21:41] SHuang-Broad commented on #3360
@tomwhite I haven't tested them because I am using them for looking at some structural variant VCF files generated from BAM files aligned to GRCh38. The regex is from eyeballing those 3000 lines of headers :tired_face:

If you would like such tests, I can provide one quickly, just tell me the preferred format, and preferably where to in htsjdk.

[2017-08-16 22:00] lbergelson commented on #3429
That doesn't have any alt alleles that are not <NON_REF>.  I only see the problem in the alleles that have real alts.  What do you see for position 150?  I see

[VC null @ chrM:150 Q. of type=MIXED alleles=[T*, <NON_REF>, C] attr={DP=2168, ExcessHet=3.0102999210357666, MQ0=0, RAW_MQ=7804800.0} GT=htsjdk.variant.bcf2.BCF2Codec$LazyData@2d119405
with genotypes:
genotypes = {LazyGenotypesContext@2969

[2017-08-16 22:01] lbergelson commented on #3429
I'm running  `gatk-launch SelectVariants -R hg19.fa -V gendb://test_genomicsdb -O extract.vcf.gz` with the data supplied by the user.

[2017-08-17 00:07] kdatta commented on #3429
Yup, see the same thing. Fields after MCL for positions with alt alleles that are not <NON_REF> are getting dropped. Need more debugging to do.

[2017-08-17 18:39] vruano commented on #3446
I'm afraid that they might just get duplicated eventually... people won't into SvBlah for exiting helping methods unless you work in SV and even so, it would not occur to me to look for SvBlah... is just happen to pop up while I was solving a conflict in a rebase of a branch of mine.

[2017-08-17 18:41] vruano commented on #3446
If I'm looking to do something with cigar I look into Cigar* or CigarUtil* classes; I think that is what the average GATK developer would tend to do.

[2017-08-17 19:30] SHuang-Broad commented on #1534
I'm no longer experiencing this.

[2017-08-17 22:59] SHuang-Broad opened #3458 "Provide a tool for outputting possible pathogen injection site on (human) host"
@mwalker174's idea (my interpretation, might be slightly off):
SV pipeline performs local assembly at active regions where seemingly a structural variant is present. Pathogen integration into (human) host generates similar signal and it makes sense for the SV pipeline to help identify such sites.
A tool for extracting the locally assembled contigs and their alignments (if any) that potentially use

[2017-08-17 23:08] vruano opened #3459 "BwaMemAlignmentUtils.applyAlignments produces invalid SAMRecords."
It seems that it fails to hard-clip the bases array if the cigar has hard-clips.

[code]

[2017-08-17 23:11] vruano commented on #3459
How to reproduce:

Modify the code in ```AlignmentIntervalUnitTest.testConstructionFromSAMRecord``` to perform a validation of the read returned by ```applyAlignment```:

[code]

[2017-08-17 23:12] vruano commented on #3459
I guess the current ```BwaMemAlignmentUtilsTest``` has a coverage deficit.

[2017-08-18 13:20] LeeTL1220 opened #3460 "CNV Panel WDL workflow input should no longer ingest tsv tables to parse bam file names."
Generally, it is easier on users (and people doing deployment) to have multiple files that list the bam and index files in corresponding order.

So two files, rather than one:
[code]
and
[code]

For example, changing the input parameters to:

[code]

and further down in that file:

[code]

[2017-08-18 16:45] vruano commented on #3459
It seems to occur if and only if the record is mapped against the negative strand.

[2017-08-18 18:39] cwhelan opened #3462 "SV pipeline fails on NA12878 b37 bam with "observedValue must be non-negative" in IntHistogram"
Running on the hg19/b37 NA12878 bam file, I'm getting the following exception in stage 0:

[code]

[2017-08-18 18:39] cwhelan commented on #3462
@tedsharpe can you take a look?

[2017-08-18 21:06] #2801 closed

[2017-08-18 21:06] #3060 closed

[2017-08-18 21:10] lbergelson commented on #3442
@mbabadi This looks like one for you.

[2017-08-19 16:54] SHuang-Broad commented on #3360
@tomwhite , since this is becoming used by others, I went back and checked the regex, turns out that it is no catching all the contigs in the headers, so here is the updated one:
[code]
There are 3366 different contigs in the bam/vcf files I "tested" this with, and this catches all of them.

[2017-08-21 07:52] hh1985 opened #3465 "GATK4 & Spark local memory error"
Hi,
 I recently used GATK4 Spark local version for somatic variant call.  The machine has 40 cores and 160g mem.  I tried 20 and 10 cores for each tumor/normal pair in the BQSR step (BaseRecalibratorSpark)  and the two samples are processed at the same time.  However, the pipeline frequently failes (errors like outofmemory, cannot allocate a page) unless I use 4 cores for each sample. I think the

[2017-08-21 08:34] magicDGS commented on #3360
My two cents: because the symbols used for interval definition (`:` and `-`) are allowed in the specifications, I guess that the regexp should account for whatever kind of contig names and not only for the case of hg38. I use to work with non-model organisms and this is an issue frequently found too...

[2017-08-21 09:22] magicDGS commented on #3446
I agree with @vruano, because the `SvCigarUtils` contains generic methods to work with cigars and not specifically with SVs; for developers using GATK as a library, these methods may be useful for other cases and it is more difficult to find them with the SV prefix...

[2017-08-21 09:46] magicDGS commented on #3454
For reporting the number of reads that fails each of the filters, the composed filter could be changed by a `CountingReadFilter`; using the `getSummaryLine()` method will provide the number of reads failing each of the components. Developers could have in their tools a field with the `WellFormedReadFilter` and call a new method for reporting the summary, to log a warning/debug line.

For exploding

[2017-08-21 10:04] magicDGS commented on #2596
I'm with @davidbenjamin that a camel-case looks clearer, because there are very long names in the GATK-framework that may involve a lot of dashes.

Even if the bash-completion will help on this, for downstream projects it can be a nightmare to change this. For instance, I'm not planning to add the bash-completion generation to my toolkit, and I personally find difficult to read long arguments with

[2017-08-21 13:01] cmnbroad commented on #3454
@magicDGS I think the context for this issue is the Pathogen sequence detection tools, which are Spark tools. `CountingReadFilter` isn't inherently reducible, and shouldn't be used in a Spark tool.

Also, I can't say love the idea of using a filter as a control flow mechanism; but I don't have a better idea (maybe a separate tool as @mwalker174 mentioned above ?).

One other note. As things curren

[2017-08-21 13:35] chapmanb opened #3466 "IllegalArgumentException during clipping: contig must be non-null and not equal to *, and start must be >= 1"
We're running into an error with GATK 4.0beta3 on some read pairs that appears related to processing clipping on a read. The BAM file itself gets processed fine on GATK 3.8 and the problematic read appears okay on a manual inspection. This is a self-contained reproducible test case that demonstrates the issue:

https://s3.amazonaws.com/chapmanb/testcases/gatk_cigar_error.tar.gz

The error is:
[cod

[2017-08-21 13:46] vdauwera commented on #2596
My worry about camel case is that it trips up people a lot, especially those whose native language doesn't have a concept of case (like Chinese).

Maybe long arguments with lots of dashes need to be refactored to have fewer... can you give some examples?

[2017-08-21 14:38] lbergelson commented on #2596
@magicDGS I'm curious, why not add the bash completion to your toolkit?

[2017-08-21 14:46] tomwhite opened #3468 "Failure with missing host and port in --knownSites for HDFS on GCP"
Stacktrace is below. It looks like the default port (8020) is not being picked up.
[code]

[2017-08-21 16:55] magicDGS commented on #2596
@vdauwera, I don't have a concrete example at this moment, but generally self-explanatory arguments are used in GATK. That's something that I personally like, but with dashes will become longer and, from my point of view,  less readable.

@lbergelson, my toolkit still uses the syntax of `java - jar Toolkit.jar` instead of a master-script... so completion code won't work. That's the main reason of

[2017-08-21 17:22] SHuang-Broad commented on #2703
__The series of PRs waiting line is following the chart below__

![cpxsvflowchart](https://user-images.githubusercontent.com/16310888/29530831-968c631e-8673-11e7-98c2-765827941f91.png)

[2017-08-21 17:59] jsotobroad commented on #3413
Compression Level|MD avg runtime|MD output size|SortBam avg runtime|SortBam output size
---|---|---|---|---
1|4.658 hours|155.15 GB|3.47 hours|96.39 GB
2|4.94 hours|88.14 GB|3.633 hours|67.44 GB
5|6.658 hours|83.2 GB|4.996 hours|59.53 GB

This data was calculated by running the same workflow 6 times for each compression level over a 30X WGS data

[2017-08-21 18:05] droazen commented on #3413
@tfenne Did you do any testing with compression level 2 + the Intel Deflater? @jsotobroad 's latest results suggest that it may offer the best speed/size tradeoff, with the current version of the GKL at least.

[2017-08-21 18:05] lbergelson commented on #2596
Oh, that's a good point.  I wonder if there's a way we can get it to work for java -jar ToolkitName.

[2017-08-21 19:41] SHuang-Broad commented on #3462
I believe this is now closed by #3463

[2017-08-21 19:41] #3462 closed

[2017-08-21 20:11] tfenne commented on #3413
@droazen I didn't really look at runtime scientifically, so I can't comment on that.  I pasted this table and explanation into the picard issue, but I think it had already been closed at that point, so I'm not sure how many people saw it:

Compression Level | Intel Deflater File Size | Intel Deflater % of JDK l=5 | JDK Deflater File Size | JDK Delfater % of JDK l=5
---|------------|----------|----

[2017-08-21 20:19] lbergelson opened #3471 "add mechanism for VariantWalkers to override FEATURE_CACHE_LOOKAHEAD"
Currently all VariantWalkers use `100_000` as the feature cache look-ahead settings.   This works well for most, but is likely causing memory issues for GenotypeGVCFs.

[2017-08-21 20:23] #2799 closed

[2017-08-21 20:24] jamesemery commented on #2799
Resolved by #3299

[2017-08-21 21:48] #3282 closed

[2017-08-22 00:36] SHuang-Broad opened #3473 "Improve long read alignment filtering tool"
Now that #3432 is in, which provides a minimal solution to #3221, we need to improve up on the tool and decide how to deal with long reads that map to canonical and non-canonical chromosomes at the same time.

[2017-08-22 00:37] SHuang-Broad commented on #3221
Closed by #3432

[2017-08-22 00:37] #3221 closed

[2017-08-22 14:11] magicDGS commented on #2596
@vdauwera, examples of long arguments from the `StandardArgumentDefinitions`:

* `--disable-tool-default-read-filters`
* `--disable-sequence-dictionary-validation`
* `--add-output-sam-program-record`
* `--add-output-vcf-command-line`

This arguments are long anyway, but from my point of view it is more readable in the camel-case format; in addition, for the two last I have a question: is the upper

[2017-08-22 15:34] lbergelson commented on #3465
Hi @hh1985

Memory tuning is pretty tricky and can depend on a lot of things.  How is your cluster configured  Are you using YARN?  Are you running in client or cluster mode?

I'm assuming you're running with YARN.  Mesos should also work but I don't have any experience configuring it.

BQSR should run safely with 4g of memory per core. (It should really work with much less I think, but 4 should d

[2017-08-22 15:42] lbergelson commented on #3465
It just occured to me that you probably meant you were running with `--sparkMaster local[4]` not, on a local cluster (vs a cluster in the cloud).  In that case disregard my previous advice.  Running a single process spark isn't going to scale well to 40 cores whatever you do, you'd be better off installing spark locally on your machine and running it as a single node cluster than running in the lo

[2017-08-22 15:54] magicDGS commented on #3471
Agreed! And also with default value stored in the configuration file.

[2017-08-22 19:19] samuelklee commented on #2858
I've explored some more refinements to the method and have settled on the following procedure:

Assume we have _N_ data points:
![1](https://user-images.githubusercontent.com/11076296/29580954-bea24562-8745-11e7-9c8c-d68504ba31da.png)
To find segments, we:
1) Select _C<sub>max</sub>_, the maximum number of changepoints to discover.  In practice, _C<sub>max</sub> = 100_ per chromosome should more t

[2017-08-22 19:33] samuelklee commented on #2858
@LeeTL1220 I have a fast python implementation of the above.  It'll take a little bit of additional code to make it output segment files.  I can do that and start running some validation data, or I can just go ahead and start coding up the Java implementation, depending on how long you think it'll take to put together some validation runs up through DenoiseReadCounts.

Do we want to improve the Re

[2017-08-22 20:08] SHuang-Broad opened #3477 "Remove reference to `PipelineOptions` SV package"
Seems there will be nil change we ever need that any more.

[2017-08-22 20:10] davidbenjamin commented on #2858
@samuelklee The idea of the caller was to just to be similar to ReCapSeg.  I would support throwing it out in favor of anything you want.

[2017-08-22 20:27] samuelklee commented on #2858
@davidbenjamin I thought you had implemented something a little more sophisticated initially, but then reverted to the ReCapSeg caller for some reason?

Anything that is relatively simple to implement yet sufficiently more principled than the ReCapSeg caller would be reasonable for this rewrite.  Thought you might've had something that fit the bill originally, but maybe I'm remembering wrong.  If

[2017-08-22 21:20] sooheelee commented on #2858
This all looks rather exciting. Especially the bananas bit.

[2017-08-22 21:29] hh1985 commented on #3465
@lbergelson Thanks a lot for your suggestion!

[2017-08-22 22:42] jsotobroad opened #3481 "NIO transiently truncating file possibly"
I ran 408 invocations of an nio using command for BQSR using gatk4 and got 2 failures that looked pretty similar.  Is there something I might be doing wrong?  The two failures were also on different shards.

I cant remember exactly when I built this jar but it was after this commit - https://github.com/broadinstitute/gatk/commit/4df1d16518cbd3a05a45a070d682446878ec4eaa less than a week ago.  If yo

[2017-08-23 00:32] kgururaj commented on #3429
The issue is that the field length descriptors are incorrect in the VCF header. MMQ and MCL field lengths are set to A in the header; however, in the data the length is equal to the total number of alleles (A+1). The field lengths should be set to R in the header as per the VCF spec.

The mismatch in length descriptors messes up buffer offsets in the query phase of GenomicsDB.

[2017-08-23 09:13] magicDGS opened #3483 "Set locale to US in Main is not applied to downstream projects Main classes"
Because in `Main`the call to `Utils.forceJVMLocaleToUSEnglish()` is done in an static block, this is not applied to downstream projects. I wonder if this call can be moved to `Main.mainEntry`, to assess extending classes apply the same locale.

[2017-08-23 09:22] magicDGS commented on #2139
This requires also a finer control for the codecs, once the configuration-code is implemented, to ignore default packages, and include/exclude single classes.

[2017-08-23 09:26] magicDGS commented on #1710
This is ancient and I do not require it anymore. Closing.

[2017-08-23 09:26] #1710 closed

[2017-08-23 09:32] magicDGS opened #3484 "Implement pre/post ReadTransformer code in GATKSparkTool"
In a similar way that it is done in `GATKTool`.

[2017-08-23 09:32] magicDGS commented on #1886
Done in https://github.com/broadinstitute/gatk/commit/12c7a2d3ba35370f6cde5c973003aff8e942ae0f for GATKTool. For the spark tools, closing in favor of https://github.com/broadinstitute/gatk/issues/3484

[2017-08-23 09:32] #1886 closed

[2017-08-23 14:02] #3423 closed

[2017-08-23 14:43] sooheelee opened #3487 "Port LeftAlignAndTrimVariants and improve stdout messaging..."
...because it does the following:
- makes it appear no variants were left-aligned when in fact many were left-aligned.
- In addition, because the tool emits an INFO message for sites that it skips (due to reference allele being too long), it appears doubly confusing as if the tool skips sites that could use left-alignment and only these types of skipped sites are present.
- Finally, for my file, i

[2017-08-23 14:52] sooheelee commented on #3487
## Test data

I've created a snippet of my `zeta` and also generated the output of the following command. The data are derived from gnomAD and so it can be used for a test case. Again, zeta is the output of a Picard LiftoverVcf command and requires GRCh38 as the reference.

[zeta_snippet_shlee.zip](https://github.com/broadinstitute/gatk/files/1245839/zeta_snippet_shlee.zip)

[code]

[2017-08-23 15:55] mwalker174 opened #3488 "BWA output BAM fails to load in Spark"
I'm pretty sure this is a hadoop-bam issue, but I'm finding that any BAM produced by bwa (VN 0.7.16a-r1181) will not load in Spark. The BAM loads successfully in ValidateSamFile (although it throws errors because there are no RGs).

Attempting to load from local disk gives the following error:

`htsjdk.samtools.SAMFormatException: Does not seem like a BAM file
	at org.seqdoop.hadoop_bam.BAMSplitGu

[2017-08-23 16:17] lbergelson opened #3489 "expose DEFAULT_FEATURE_CACHE_LOOKAHEAD as a configurable option"

[2017-08-23 16:22] lbergelson commented on #3488
@mwalker174 Many gatk tools require our bams to have readgroups.  We should probably update our bwa tools to add readgroups, although fixing hadoop-bam to give a more useful error message would be good as well.

[2017-08-23 16:22] lbergelson commented on #3488
@tomwhite Any thoughts on this?

[2017-08-23 16:24] lbergelson commented on #3483
@magicDGS Doesn't the static block run when a subclass of Main is loaded as well?

[2017-08-23 16:26] chapmanb commented on #3429
Karthik, Kushal, Louis and Geraldine;
Thanks for all the help debugging this and Karthik thanks for identifying the underlying problem. If I fix the header than calling does work correctly. Brilliant.

I submitted a PR (#3490), which should fix this issue. In digging it looks like this intersects with other ongoing work with MuTect2 so I tried to reference that as well so it's coordinated. Thank y

[2017-08-23 16:29] lbergelson commented on #3429
Thanks everyone for working this out.  Is there any chance we can detect this problem on load and fail rather than silently giving bad output?

[2017-08-23 16:49] lbergelson commented on #3487
@sooheelee `LeftAlignIndels` is a different tool than `LeftAlignAndTrimVariants`, they both exist in gatk3.  Gatk4 has a port of `LeftAlignIndels` but not `LeftAlignAndTrimVariants`. There's definitely a bug in reporting the number of aligned variants in gatk3, but gatk4 doesn't report anything like that.

Do you want a port of `LeftAlignAndTrimVariants` to gatk4?  We could potentially do that at

[2017-08-23 17:13] sooheelee commented on #3487
@lbergelson I was just adding a third point to the list. I didn't realize these were different tools so thanks for the clarification.

I think since Picard LiftoverVcf doesn't leftalign/trim, and GATK4-Mutect2 requires exactly identical allele representations in the resource to use the allele frequency in its calculations, and we are trying to nudge people to switch to GRCh38 over b37, we should p

[2017-08-23 17:24] chandrans opened #3491 "Confirmed 4.beta.2 vs. 4.beta.3 performance regression"
User has reported longer runtimes in GATK4 beta3 release compared to GATK4 beta 2 release. It sounds like this is not expected. Her runtimes are below. The first post in the forum thread has her original report.

| Tool                                              | 4.beta.2   | 4.beta.3    |
| ------------------------------------- | -----------:| -----------:|
| BaseRecalibrator

[2017-08-23 18:45] mbabadi opened #3492 "Non-informative error message when the reference dictionary (.dict) file is missing"
Ran into this problem when the reference `.dict` file was not properly copied to the VM. The stderr reads:
[code]
I am using the docker image `broadinstitute/gatk:4.beta.3`. Here's the command line:
[code]

No NIO, no GCS -- everything is localized on the VM HDD at this stage.

[2017-08-23 19:35] jamesemery opened #3493 "gatk-nightly dockerhub images have an unspecified version on their jars."
The docker images on https://hub.docker.com/r/broadinstitute/gatk-nightly/ have the wrong version number on their jars due to docker performing a shallow clone, these need to be corrected.

[2017-08-23 20:00] lbergelson commented on #1639
I'm going to close this one, since we do in fact have a version of HaplotypeCallerSpark thats been merged since  294363819bcdb2d2021486525ca6eb648479df31.  It has a lot of issues, but it's definitely there.

[2017-08-23 20:00] #1639 closed

[2017-08-23 20:27] lbergelson commented on #3491
A quick run off between 4.beta.2 BaseRecalibrator and 4.beta.3 doesn't show any difference to me.  It must be either some difference in the user's command line, their data, or possibly a change in their environment over time.  I'm going to request that they upload example commandline and test files that reproduce the problem.

[2017-08-23 20:30] droazen commented on #3491
It could just be natural variability in the user's runtime environment, but it's worth doing some longer-running tests to be sure.

[2017-08-23 20:48] chandrans commented on #3491
Great. Thank you both. Louis, I can request the user upload data and get back to you guys on here. Thanks for looking into this.

[2017-08-23 20:49] lbergelson commented on #3491
I just asked them.

[2017-08-23 20:50] chandrans commented on #3491
Ah, I see that. Thanks Louis.

[2017-08-24 08:16] magicDGS commented on #3483
I haven't test it by myself (all my computers have the default locale to US-En), but regarding  https://github.com/broadinstitute/gatk/pull/3447#discussion_r134548399, it looks like it won't work.

[2017-08-24 09:12] tomwhite commented on #3488
Looking at the error it seems to be failing because the file doesn't have a BGZF magic number. Can you post the first few bytes of the file (via hexdump or similar)?

[2017-08-24 12:38] cmnbroad commented on #3483
@magicDGS I'm still missing why this wouldn't work for downstream projects (as long as they load Main or some Main-derived class). I think the owner config issue is different; for locale, we need to always force US. Can you verify this, or maybe provide more details about what case doesn't work ?

[2017-08-24 13:00] magicDGS commented on #3483
I'm always confused with static-block initializers, and I just wondered in the config PR if the static block in `Main` it is correctly setting everything in sub-classes. I understood that this won't work in Main-derived classes; if that's not the case, feel free to close this PR...

[2017-08-24 15:40] jonn-smith opened #3497 "Refine oncotator prototype"

[2017-08-24 15:41] mwalker174 commented on #3488
Looks like there's just the header:
$ hexdump -c -n 16 COAD-WGS-Nonhost-TP.trinity_unmapped.bam
0000000   @   S   Q  \t   S   N   :   T   R   I   N   I   T   Y   _   D
0000010

[2017-08-24 15:54] droazen opened #3498 "Add section to README with instructions on how to set up bash completion"

[2017-08-24 15:56] droazen opened #3499 "Package bash completion file in GATK release zip"
Requires adding one line to `task bundle` in `build.gradle` to package the necessary file into the zip produced by `./gradlew bundle`

[2017-08-24 16:05] droazen commented on #3481
@jean-philippe-martin Any thoughts on this?

[2017-08-24 16:07] droazen commented on #3315
This was done in https://github.com/broadinstitute/gatk/pull/3328 -- closing.

[2017-08-24 16:07] #3315 closed

[2017-08-24 16:11] droazen opened #3500 "Update to next google-cloud-java release once it's out"
Our patches to `google-cloud-java` in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2281 and https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2283 to fix the transient NIO errors have now been merged into master, and will be part of their next release (which will be the release after `0.22.0`).

We should update to the next release as soon as it's out, to remove our ex

[2017-08-24 16:26] jean-philippe-martin commented on #3481
It looks like something went wrong with an earlier step (either a bug or some other condition), causing this step to see a truncated file. This will need some investigation. The first thing I'd suggest is to add more logging so we can visually make sure that each step finished correctly, and perhaps log the output file size every time.

[2017-08-24 16:52] #3493 closed

[2017-08-24 17:12] kgururaj commented on #2686
Was this issue resolved?

[2017-08-24 18:50] droazen opened #3501 "Prototype a PythonScriptExecutor, and assess maintainability of an example tool that calls into a Python machine-learning library"
Implement a `PythonScriptExecutor` that is similar to the existing `RScriptExecutor` (invokes Python with a given set of arguments). Then ask the CNV team to prototype an example tool or two that use `PythonScriptExecutor` to call into a Python machine-learning library, and do an assessment of maintainability, etc.

`PythonScriptExecutor` will come with an attached set of conditions for its use, i

[2017-08-24 18:53] droazen commented on #3501
@cmnbroad has volunteered to implement `PythonScriptExecutor` (should be quick), plus an example tool. Then he'll turn things over to @samuelklee and the CNV team to implement a prototype ML tool, after which we'll do the evaluation outlined above and decide whether this is the right path to go down.

[2017-08-24 19:07] jamesemery opened #3502 "Add engine support for calling ReferenceContext.setWindow() by default."
In the GATK currently, if you need to grab extra bases of the reference around the walkers current feature then tool authors will need to call ReferenceContext.setWindow() sometime within their apply method. It should be possible to make this an argument that gets automatically handled by the engine before apply() is called with a settable default value, taking the onus away from tool authors.

[2017-08-24 19:20] droazen opened #3503 "Incorporate gatk-launch into the Java GATK"
With the addition of the Owner configuration mechanism to GATK, we're going to need to fold (most of) `gatk-launch` into Java, so that the Spark settings can be loaded from Owner before `spark-submit` or `gcloud` are invoked.

Note that we'll still need to have a thin GATK launcher script for the sake of the tab completion, which requires that we invoke GATK using a unique command name.

[2017-08-24 19:20] droazen commented on #3503
For either @jonn-smith or @cmnbroad (you guys decide among yourselves who should take this on)

[2017-08-24 19:24] heuermh commented on #3360
If anyone wants to learn more about the horrors of HLA (and MHC more generally) naming, ping me elsewhere, probably best at https://github.com/nmdp-bioinformatics/genotype-list.

[2017-08-24 19:29] jean-philippe-martin commented on #2686
@kgururaj I don't think so. While we see a lot fewer transient errors with the latest version, recent issue #3481 reports a similar truncation symptom.

[2017-08-24 19:51] cmnbroad opened #3505 "Upgrade to a released htsjdk."
We're currently on a snapshot.

[2017-08-24 20:14] SHuang-Broad commented on #3446
There are assumptions in the code that is restrictive (e.g. most of them would fail in face of `N` or `P` right now). So if anyone decides to move (or use) `SvCigarUtils`, be careful.

[2017-08-24 20:39] sooheelee opened #3506 "Mutect2 generates untrimmed REF alleles"
For @davidbenjamin.

I am using the beta.3 stable jar. The data was generated in the Cloud using the WDL script commands from the repo and tool defaults. @vdauwera can share the workspace with you so you can see the actual workflow and download the callsets.

Here are the five calls with untrimmed REF allele representations from my WES callset:
[code]

I select these from the callset with
[code]

[2017-08-24 21:01] SHuang-Broad opened #3508 "Add `MATEID` annotation to BND records"
Right now it is not available (even after #3457).
Though the VCF spec doesn't seem to specify if it is mandated, it makes it easier for parsing and making sense of the event.

Note that this is different from `PARID`, which, unlike BND that symbols novel adjacency, symbols
"novel" disruptions.

[2017-08-24 21:01] cmnbroad commented on #2201
In looking at his further, the container header contains a stream offset, and each slice header also contains a global record counter. Both of these need to be updated. Its not clear if its possible to repair these without re-encoding the entire container stream, but if so that should probably be done in a method exposed by htsjdk.

[2017-08-25 09:01] tomwhite commented on #3488
Not sure that's a valid BAM file...

[2017-08-25 13:42] sooheelee opened #3510 "CreateSomaticPanelOfNormals (i) counts same sample twice, (ii) misses a site and (iii) does not take a list of vcfs"
I bring the first point up given the safeguards our previous workflow had in place. In GATK3, CombineVariants checks that all the sample names are unique. You have to add `--genotypemergeoption UNIQUIFY` to allow use of the same normal sample.

In GATK4, CreateSomaticPanelOfNormals allows input of the same sample twice and thereby counts the same evidence in the PoN it generates. Granted, I am doi

[2017-08-25 14:13] tomwhite commented on #3468
I've created (and tested) a fix in jsr203-hadoop: https://github.com/damiencarol/jsr203-hadoop/pull/32

[2017-08-25 14:18] samuelklee commented on #3349
I've noticed that HDFUtils.writeIntervals seems a bit more memory intensive than it should be.  I'm getting OOM errors for bin sizes of 250bp with -Xmx12G, which seems like it should be more than enough.  Let's remember to investigate before merging.

[2017-08-25 14:23] samuelklee commented on #3367
@mbabadi I know for the hg38 runs you are using CalculateTargetCoverage, but in case you used SparkGenomeReadCounts for any other WGS runs you're looking at, here's another thing to be aware of when considering the duplicates issue.

I'm also running into frequent errors when running SparkGenomeReadCounts for the WGS CNV validation that seem to be related to hadoop bam or binning errors.  Let's mo

[2017-08-25 14:25] samuelklee commented on #3492
Is this the same issue as #2922?

[2017-08-25 14:38] #1454 closed

[2017-08-25 14:52] chandrans commented on #3491
User came back and confirmed there is a 2 minute difference, but did not upload data. I just asked again with instructions to upload.

[2017-08-25 14:57] sooheelee commented on #3510
Forgot to mention I am using GATK4.beta.3.

[2017-08-25 15:46] mwalker174 commented on #3488
Looks like this is my fault... I didn't realize BWA produces SAM output and the non-spark tool was correcting my mistake automatically (by checking for a magic number). Can we make the error message more informative like: "BAM file must start with BGZF magic number"?

It would be great to detect whether it's SAM or BAM by checking the file contents, as in non-spark tools that use htsjdk, rather th

[2017-08-25 18:58] sooheelee opened #3514 "Mutect2 should disable the MateOnSameContigOrNoMappedMateReadFilter by default"
@vdauwera we should modify the M2 WDLs.
@davidbenjamin this will improve your sensitivity.

Currently Mutect2 uses the MateOnSameContigOrNoMappedMateReadFilter filter that filters out any paired read whose mate maps to a different contig. This filter, if I recall correctly, used to be the hidden filter in HaplotypeCaller code that could not be turned off. It necessitated that I remove 0x1 flags in

[2017-08-25 19:27] droazen opened #3516 "AssemblyRegion traversal loads too many reads at once"
It loads all reads for each shard at a time, but it could be lazier and load only 1-2 assembly regions' worth of reads.

[2017-08-25 19:28] droazen opened #3517 "Add a mode to AssemblyRegion traversal that creates one shard per user interval"

[2017-08-25 19:30] droazen opened #3518 "AssemblyRegion traversal needs to serve up empty pileup objects to the activity profile for uncovered loci"
To mimic GATK 3.x behavior

[2017-08-25 19:38] cmnbroad opened #3520 "Make ReadFilter summary output readable"
Composed read filter summary output is unreadable when there are many (or even few!) read filters, as used for example by Mutect2 (see https://github.com/broadinstitute/gatk/issues/3514). We should format the output better somehow:

[code]

[2017-08-25 19:39] vruano opened #3521 "SvCigarUtils.getNumClippedBases does not handle empty cigar (e.g. from unmapped reads)"
Fails with an ArrayIndexOutOfBoundException.

The fix is trivial.

This might affect other similar methods in that class

[2017-08-25 20:17] chapmanb commented on #3429
The GATK VCF header issue causing the underlying problem was fixed in #3351, so a new release of GATK4 should work correctly and avoid losing variants during GenomicsDB import/output for joint calling. I agree with Louis that failing with an error would be better than the current silent failures in case of any future issues.

Thank you all again for the help debugging this.

[2017-08-25 21:39] mbabadi commented on #3501
@droazen ideally, the executor must be able to fire up one (or more) python kernels and keep it (them) alive as long as the user decides to keep it (or the GATK session terminates). Here's an example why this is desirable: the compilation of a complicated theano computational graph can take a significant portion of the total computation time. The compiled graph is a function of data dimensions, wh

[2017-08-26 00:14] #1950 closed

[2017-08-26 00:14] #2848 closed

[2017-08-26 00:14] #3233 closed

[2017-08-26 00:14] #3516 closed

[2017-08-26 00:14] #3517 closed

[2017-08-26 00:14] #3518 closed

[2017-08-26 00:20] #3498 closed

[2017-08-26 00:22] #3499 closed

[2017-08-26 01:46] droazen opened #3523 "HaplotypeCallerSpark needs to migrate to AssemblyRegionIterator"
`AssemblyRegionIterator` has replaced the old `AssemblyRegion.createFromReadShard()`, but `HaplotypeCallerSpark` is still using the latter. It should be migrated to `AssemblyRegionIterator`.

`AssemblyRegionIterator` holds many fewer reads in memory at a time, and also has a number of fixes that make the traversal more consistent with GATK3.x, such as its handling of uncovered loci. These fixes ha

[2017-08-26 01:46] droazen commented on #3523
For @lbergelson and @tomwhite and the 4.0 Spark epic.

[2017-08-26 03:36] droazen commented on #1640
We've handed the `4.beta.4` release off to palantir for evaluation (specifically, @skwalker and @meganshand will be doing the evaluation).

[2017-08-26 21:53] sooheelee commented on #3514
In addition, we should be able to supply the GRCh38.fasta.alt file to our tools so GATK can intelligently handle the ALT contigs. That is, the program will know that reads mapped to chr1 or chr1_xyz_ALT are in fact on the same molecular chromosome (contig).

[2017-08-27 02:39] vdauwera commented on #3514
Making the callers ALT aware is a valid feature request -- but it's a big one. You'll want to open a separate issue ticket for that.

[2017-08-27 13:50] cmnbroad commented on #3492
This is caused by a bug in the MissingReferenceDictFile constructor. The code paths were different when #2922 was found, but the fix for this will fix both.

[2017-08-27 17:17] lbergelson commented on #3491
User is reporting a nearly exact 2 minute pause at tool startup.  Seems very suspicious, possibly some sort of gcs operation trying and timing out?

[code]

[2017-08-28 01:23] cwhelan commented on #1534
I'm still getting this error.

On Thu, Aug 17, 2017 at 3:30 PM, Steve Huang <notifications@github.com>
wrote:

[2017-08-28 01:27] cwhelan commented on #1534
If you set the environment variable `SPARK_LOCAL_IP="127.0.0.1"` , as suggested by this SO post: https://stackoverflow.com/questions/34601554/mac-spark-shell-error-initializing-sparkcontext, the error goes away, so I think it's related to some change in the localhost network configuration our VPN sets up.

[2017-08-28 10:35] magicDGS commented on #3520
`CountingVariantFilter` has the same problem.

[2017-08-28 15:53] mbabadi commented on #3501
@cmnbroad @droazen if we ended up doing it the "ambitious" way, these projects might be useful:
http://jyni.org/
https://github.com/bcdev/jpy

[2017-08-28 20:13] chandrans opened #3528 "HaplotypeCaller misses indel at end of amplicon reads"
## Bug Report

### Affected tool(s)
HaplotypeCaller

### Affected version(s)
latest GATK4

### Description
HaplotypeCaller misses calls at the ends of reads that UnifedGenotyper picks up in amplicon data. For example, UnifiedGenotyper calls the indel at the ends of the reads, but HaplotypeCaller does not.
<img width="1440" alt="screen shot 2017-08-28 at 4 11 27 pm" src="https://user-images.githubu

[2017-08-28 21:07] SHuang-Broad commented on #3508
Will be handled in #3457 now that changes are requested and the fix is not that large.

[2017-08-28 21:10] SHuang-Broad opened #3529 "More principled way for classifying SS BND -- InvDup"
Currently in the prototyping PRs the criteria is arbitrarily set such that overlap on reference between two alignments, after overlap-on-read removal, takes more than half of the smaller alignment block's reference span.

[2017-08-28 22:53] vruano commented on #3521
After talking to @SHuang-Broad seems that this might be kind of expected. The exception thrown however shows lack of checking the assumptions made by the method. Lets put this **on hold** as this code might be updated in the near future.

[2017-08-29 09:43] magicDGS commented on #3104
@sooheelee, I was coming back to the port this week and I found run the tutorial that you provide me, and the port of `RealignerTargetCreator` (#3112) is providing the same result. Nevertheless, I cannot add the test data to the resources because the reference used is huge (3GB). The **7156_snippet.bam** is of a good size to include it, but it requires the whole reference because some pairs are ma

[2017-08-29 10:50] magicDGS opened #3532 "GKL failures in MacOS"
## System

* GATK4 a1eee32e84c21c2f265d248c5f47789ae0ba2b37
* Mac OS X 10.11.6 x86_64
* machdep.cpu.features: FPU VME DE PSE TSC MSR PAE MCE CX8 APIC SEP MTRR PGE MCA CMOV PAT PSE36 CLFSH DS ACPI MMX FXSR SSE SSE2 SS HTT TM PBE SSE3 DTES64 MON DSCPL VMX SMX EST TM2 SSSE3 CX16 TPR PDCM SSE4.1 SSE4.2 POPCNT
* machdep.cpu.extfeatures: SYSCALL XD EM64T LAHF RDTSCP TSCI
* java version "1.8.0_60"
* Java

[2017-08-29 12:09] cmnbroad commented on #3532
@erniebrau Can you take a look ?

[2017-08-29 12:23] #3492 closed

[2017-08-29 12:26] cmnbroad commented on #3528
Assigning to @lbergelson for further triage.

[2017-08-29 14:43] tomwhite commented on #2251
Fixed in #3106

[2017-08-29 14:43] #2251 closed

[2017-08-29 16:35] skwalker opened #3534 "Output vcf index not generated in HaplotypeCaller"
GATK4 Hapltotype Caller does not generate a vcf.idx, even though the default for createOutputVariantIndex is true. Explicitly setting it to true still does not generate a VCF index.

[2017-08-29 16:57] cmnbroad commented on #3534
We need to fix this at the same time as part of https://github.com/broadinstitute/gatk/issues/2102.

[2017-08-29 17:08] jamesemery opened #3535 "Forward port GATK3 PR #1610"
Recently there was a change to the way that rankSumTest annotations are encoded in the gatk on this branch since starting my work on the AlleleSpecificAnnotaitons:
broadinstitute/gsa-unstable/pull/1610
This needs to be forward ported in order to ensure that the new gatk4 annotations match the GATK3 annotations.

[2017-08-29 20:47] chandrans commented on #3491
Hey Louis. Thanks for helping. She just came back and gave exact commands and some more information, basically it only occurs on the cloud and not on her local machine. I think she cannot upload her data

[2017-08-30 14:18] erniebrau commented on #3532
Yes, we will take a look.

[2017-08-30 14:32] erniebrau commented on #3532
@magicDGS Does it fail in the same way when using GKL 0.5.3-0.5.8?

[2017-08-30 15:39] magicDGS commented on #3532
@erniebrau, the mesage and log file corresponds to the latest master (GKL 0.5.8); for the GKL 0.5.3 the error message is the following:

[code]

And the log file: [hs_err_pid20586.log.txt](https://github.com/broadinstitute/gatk/files/1264191/hs_err_pid20586.log.txt)

Let me know if you need more information.

[2017-08-30 20:23] davidbenjamin commented on #3338
Closed by #3433.

[2017-08-30 20:23] #3338 closed

[2017-08-31 13:03] tomwhite commented on #3437
@lbergelson I've created a PR in #3539 that fixes this.

[2017-08-31 20:50] #1882 closed

[2017-09-01 15:55] tomwhite commented on #3437
@lbergelson do any of the Jenkins jobs need reenabling? I see gatk-perf-test-spark-markeddupe and gatk-perf-test-spark-readpipeline are disabled - or were they disabled for another reason?

[2017-09-01 15:59] lbergelson commented on #3437
@tomwhite Yes, they need to be re-enabled, they were disabled because of this issue.

[2017-09-01 17:15] sooheelee opened #3540 "Want an engine feature to convert XT tagged base qualities to two"
Base qualities of two (`#`) are handled specially by BWA and our tools and are typically used to indicate adapter sequence. See reply to jhess in <https://gatkforums.broadinstitute.org/gatk/discussion/comment/35120#Comment_35120>:

Currently, there is no easy way to convert base qualities to two. The only instances I am aware of is (i) for SamToFastq, which then unaligns the reads and (ii) MergeBa

[2017-09-01 20:00] lbergelson commented on #3437
Hmn, sparktests on jenkins are still failing.  We may have declared victory too early.

[2017-09-01 21:43] skwalker commented on #1640
For the most part, things look pretty good. There's 29 sites where the calls for GATK3 and GATK4 don't match (out of over 27k sites). I've attached some info about these sites and some screenshots from IGV. There's 3 really high qual sites that GATK3 has but GATK4 misses -- and I can't really tell why GATK4 HC doesn't call them.

[differentsites_gatk3_gatk4.xlsx](https://github.com/broadinstitute/

[2017-09-03 07:26] vruano opened #3541 "Would be better that IntervalsSkipList.getOverlapping would accept a Locatable rather than a SimpleInterval."
I can see the reassurance of knowing that the input Locatable is constant and with a non-null contig... yet as a result we are often creating redundant simpleIntervals instances when our objects of interest are some other type of Locatable.

[2017-09-05 09:03] tomwhite commented on #3437
Both gatk-perf-test-spark-markeddupe and gatk-perf-test-spark-readpipeline have been passing for the last few days, so I'll close this now.

[2017-09-05 09:03] #3437 closed

[2017-09-05 13:58] ldgauthier commented on #1640
The MUC* genes are slippery mofos (both figuratively and literally because they encode proteins for mucus!) with a lot of repetitive sequence that maps reasonably well to multiple places (see the self-chain track: https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position=chr3%3A195511664-195511896&hgs

[2017-09-05 14:00] ldgauthier commented on #1640
Also were the no-calls in GATK3 [0,0,0] PLs?  That's a symptom of funky assembly too.

[2017-09-05 18:32] SHuang-Broad commented on #3459
@vruano should merge #3461 and close this?

[2017-09-05 19:07] MartonKN opened #3543 "Create new tool for binning for coverage collection"

[2017-09-05 21:29] jamesemery opened #3544 "Add allele specific annotation support to genotypeGVCFs"
Currently GenotypeGVCFs only supports one allele specific annotation. Once the allele specific annotations port is finalized (#3527) then the functionality needs to be added to genotypeGVCFs. In order to be sure that the annotations are working properly, they should be tested against the gatk3 version of genotypeGVCFs allele specific annotations.

[2017-09-06 14:46] LeeTL1220 opened #3548 "AllelicCountCollector infers the wrong alternate allele from the pileups"
If you run this on position 20:10022820 in `src/test/resources/large/mutect/dream_synthetic_bams/tumor.bam` you will get the wrong alt (you get C, but should be T).

Proposed solution:  Use findLast() (or reverse b1 and b2 in the compare statement to get this to sort in descending order).

[code]

[2017-09-06 15:17] samuelklee commented on #3548
Whoops, I think this one is on me.  Thanks for catching it.  Will issue a bugfix shortly.

[2017-09-06 15:34] LeeTL1220 opened #3549 "FeatureInput cannot be used to define the intervals"
For example, I have a tool that takes in a VCF as a FeatureInput.  I would like to run on the intervals defined by the VCF.  Currently, I would have to use -L and specify the VCF (effectively specifying it twice), which is ugly.

@lbergelson

[2017-09-06 15:38] lbergelson commented on #3549
We might be able to do something clever here with an IntervalArgumentCollection that contains a FeatureInput.  It would require some changes to gatktool I think, but this is a pretty reasonable request so maybe it's worth it.

[2017-09-06 18:31] sooheelee commented on #3514
Ok.

[2017-09-06 19:00] cmnbroad opened #3552 "GermlineCNVCaller and tests only work when run from gradle."
The code is dependent on the nd4j dtype system property being set to "double" by gradle. Otherwise the tests (and the tool itself) fail when run from intellij or from the command line. The nd4j unit tests have the same issue.

Its easy enough to set the dtype programmatically, though I'm not sure where the best place to do that is.

[2017-09-06 19:03] cmnbroad commented on #3552
@mbabadi Can you take a look - I know the tool is beta but as it stands its a bit painful to figure out whats happening when the tests fail.

[2017-09-06 19:13] lbergelson commented on #3552
seems like a good candidate to be moved into the config files...

[2017-09-06 20:34] lbergelson opened #3553 "Why is pair_hmm_implementation hidden?"
I noticed that the PairHMM implementation argument is hidden in `LikelihoodEngineArgumentCollection` for some reason.  Shouldn't it be exposed as an advanced argument people can choose what pair hmm they want?

It's also present in the `UnifiedArgumentCollection`, but it's never used from there.

[code]

It seems like we should remove it from the `UnifiedArgumentCollection` and make it either a no

[2017-09-07 08:47] #2571 closed

[2017-09-07 08:47] #2572 closed

[2017-09-07 11:03] #2738 closed

[2017-09-07 12:16] cmnbroad commented on #3501
@samuelklee @mbabadi @lucidtronix This is merged in and should get you started. Please give it a try and let me know if we need to do anything more in terms of staging of scripts, or other functionality.

[2017-09-07 12:48] samuelklee commented on #3501
Awesome, thanks!  We'll give it a try and let you guys know.

[2017-09-07 13:03] samuelklee opened #3554 "Speed up CNV plotting for WGS."
I'd be in favor of rewriting these scripts in python.  In any case, we should try to avoid issues such as #3301.

[2017-09-07 13:06] samuelklee commented on #3554
PlotSegmentedCopyRatio for 250bp bins takes ~15 minutes.  (However, with #2858, plotting is now the slowest step in the pipeline!)

[2017-09-07 13:24] samuelklee commented on #2858
Java implementation of segmentation is now in the sl_wgs_segmentation dev branch, with a few simple unit tests.  I'll expand on these and add tests for denoising in the future, but for now we have a working revised pipeline up through segmentation.

The CLI is simply named ModelSegments (since my thinking is that it could eventually replace ACNV).  I ran it on some old denoised exomes.  Runtime is

[2017-09-07 13:24] cmnbroad commented on #3501
Reopening since only step 1 is done.

[2017-09-07 14:05] samuelklee commented on #2858
The WGS 250bp CBS run just finished after ~65 min.  It found 9201 segments!

[2017-09-07 14:29] skwalker commented on #1640
@ldgauthier when I do the same interval list minus the self-chain and repeat-master intervals I see only 3 sites where GATK3 and GATK4 differ, compared to 29 before. And the sites have pretty low QUALs so I'm guessing it's okay. Did we expect the way assembly was happening to change between GATK3 and GATK4?

Called in GATK4, missing from GATK3:
`11	48387668	.	C	G	78.77	.	CONC_ST=FP,TN	GT:AD:DP:GQ:

[2017-09-07 15:32] cmnbroad opened #3555 "Picard interval list files with .list extension can't be used with -L"
This Barclay [feature](https://github.com/broadinstitute/barclay/issues/25) automatically expands the contents of a file ending in ".list" whenever the target argument is a collection. This precludes the use of Picard interval list files ending in ".list" with -L in GATK, since they contain a sam header. The raw sam header lines wind up getting added as interval strings, which then fails parsing:

[2017-09-07 15:39] cmnbroad commented on #3555
@sooheelee This is what I mentioned in slack.

[2017-09-07 15:55] magicDGS commented on #3555
I've already suggested in https://github.com/broadinstitute/barclay/pull/28#discussion_r98629000), when the feature was implemented, that this can be an issue in downstream projects. Maybe it is still not late to change the extension to ".arg_list" to be sure that it is what the user requested.

[2017-09-07 21:14] jamesemery opened #3558 "Fix Travis WDL tests silently failing"
It appears for at least the last 6 days that our travis tests for the the CNV and M2 WDLs have been failing generating the following error messages:

`[2017-09-07 10:05:53,75] [warn] BackendPreparationActor_for_0b561ba3:CNVSomaticPanelWorkflow.PadTargets:-1:1 [0b561ba3]: Docker lookup failed:
java.lang.Exception: Docker image broadinstitute/gatk:80d8662d760f451045957080813d3963a1b68cc5 not found

[2017-09-08 12:45] cmnbroad commented on #3558
Also, we should find out why the travis builds have been appearing to succeed even when these tests fail.

[2017-09-08 14:32] cmnbroad opened #3559 "Remove dependence on old Travis image"
Travis rolled out updated images that caused our builds to start failing. It looks like some of the WDL tests had been failing for a [while](https://github.com/broadinstitute/gatk/issues/3558), but that wasn't causing the **builds** to fail until the new Travis images were rolled out, at which point we started running out of space logging the errors.

We're temporarily requesting to use the old Tr

[2017-09-08 16:57] davidbenjamin opened #3561 "Use Dijkstra's algorithm for finding best haplotypes from assembly graph"
@vruano has pointed out that our method of finding the best haplotype paths in an assembly graph is equivalent to Dijkstra's algorithm for finding the shortest path in a directed graph, and that the latter is a much simpler implementation.  [ Do I understand this correctly?].

We could simplify a bunch of code without changing the output of any tools by switching the implementation to Dijkstra's a

[2017-09-08 17:43] vruano commented on #3561
Dijkstra origina algorithm is about finding the single shortest route (or one of the in case of a tie), here we need the one that finds the K-shortest routes which is described [here](https://en.wikipedia.org/wiki/K_shortest_path_routing).

Is this one implanted in Jgraph? In that case, yes we could....

Otherwise if we have to implement the it from scratch... then there is no guaranteed the code

[2017-09-08 17:51] davidbenjamin commented on #3561
jgrapht has an implementation for a single source to all other vertices.  I think apache does the same.

[2017-09-08 17:51] vruano commented on #3561
However, the current algorithm and the k-dijkstra still would show the same problems in terms of doing a suboptimal selection of haplotypes in terms of their coverage of plausible variation.

I had implemented an alternative that fixed that issue... but I couldn't find the code ... perhaps just in my local machine (backups) need to find it.

In any case the idea is quite simple.... we simply simul

[2017-09-08 17:54] vruano commented on #3561
Here we rather need an algorithm that find the k-best paths from one vertice to another vertice. What you are describing sounds more like 1-best path from one vertice to any other vertice.

[2017-09-08 18:45] vruano opened #3562 "BwaMemIntegrationTest takes too long (3-4 minutes)."
Need to use a smaller reference so that it takes less time. Such a reference shall have more than on contig.

It could totally be made up (fasta created on the flight)

[2017-09-08 21:09] cmnbroad commented on #3559
https://github.com/travis-ci/travis-ci/issues/8375

[2017-09-09 21:04] samuelklee commented on #2858
Bringing the panel, pair, and copy-ratio WDLs up to date.  Made some changes to how defaults are represented and some other stylistic changes; we'll need to bring the germline and allele-fraction WDLs in line at at some point.

[2017-09-11 13:34] cmnbroad commented on #3448
Closing via https://github.com/samtools/htsjdk/pull/968/ and https://github.com/broadinstitute/gatk/pull/3504.

[2017-09-11 13:34] #3448 closed

[2017-09-11 13:55] samuelklee commented on #2858
Somatic WDLs should be up to date (they're passing on Travis, at least) and ready for running validations @LeeTL1220.

[2017-09-11 14:17] davidbenjamin commented on #2596
@vdauwera For those of us on the m2 team our preference for camel case is less important than having the go-ahead for *something*.  Is `--lowercase-with-dashes-as-separators` definitely going to be our standard?  If so, we'll conform ASAP.

[2017-09-11 14:18] samuelklee commented on #2963
Closed in #3408.

[2017-09-11 14:18] #2963 closed

[2017-09-11 14:38] davidbenjamin commented on #3339
Closed by PR #3560

[2017-09-11 14:38] #3339 closed

[2017-09-11 15:08] lbergelson commented on #3558
@LeeTL1220 Can you look into this.  It seems like the wdl tests may be failing to run and saying they passed anyway.

[2017-09-11 15:32] chapmanb opened #3564 "MuTect2 producing triploid calls with `--ploidy 2`"
I'm running into an issue with the latest MuTect2 (also it also goes back as far as beta4, I haven't tested prior to that), where triploid calls get produced. Here's an example output where the normal is diploid `0/0` and the tumor is triploid `0/1/2`:
[code]
This happens both if I explictly specify `--ploidy 2` or leave it at the default.

Here is a reproducible test case:

wget https://s3.amazon

[2017-09-11 18:50] jamesemery commented on #3558
After discussion with @LeeTL1220 this seems to be a known issue with Cromwell returning a null pointer exception (https://github.com/broadinstitute/cromwell/issues/2538). It has been confirmed that the tests are indeed succeeding despite returning a stack trace upon failing to find the docker image uploaded to Dockerhub.

[2017-09-11 18:53] #3558 closed

[2017-09-11 18:55] ldgauthier commented on #3564
@chapmanb How would you want a somatic multi-allelic call to be represented?  Triploid does seem a little weird when you put it like that, but the other calls aren't really truly diploid.

[2017-09-11 18:58] vdauwera commented on #2596
Thanks @magicDGS for the examples and sorry for the response lag. I find those are quite readable and would consider the camelcase version worse.

Let's move ahead with `--lowercase-with-dashes-as-separators` as planned, as it's ultimately the least worst option. Formats should all be lowercased as well, so `sam`, `vcf` and so on.

[2017-09-11 19:09] davidbenjamin commented on #2596
@vdauwera Thanks for the guidance.  We'll get to work.  @takutosato, you were also wondering about this.  Here's our answer.

[2017-09-11 19:11] davidbenjamin commented on #3325
Geraldine has confirmed that the GATK is moving to the style of #2596.  This ticket is ready to proceed.

[2017-09-11 19:12] lbergelson commented on #3491
With the help of @erniebrau we've reproduced this and gotten a useful stack trace:

[code]

I'm still not sure what condition triggers it, but at least we know where it's happening now.

[2017-09-11 19:22] LeeTL1220 opened #3566 "CNV OncotateSegments does not expose bootDiskInGb runtime parameter"
This is often needed since the docker image is big.

Expose this parameter with a 20GB value

[2017-09-11 19:49] #453 closed

[2017-09-11 19:59] #3320 closed

[2017-09-11 20:17] vruano commented on #3562
Solution merged.

[2017-09-11 20:17] #3562 closed

[2017-09-11 20:24] vruano opened #3567 "Create a separate artifact for gatk test framework classes."
The main jar contains some test related classes.

This seems to be due to dependencies from gate-public to gatk-protected when the latter was around (no longer the case) and is maintained in case some gatk user code's depend on them as well.

IMO there should not be any such a test code in main jar and if it probes to be usefull for some, then we should provide a separate artifact (a test jar add-

[2017-09-11 20:43] samuelklee commented on #2858
Whoops, just a heads up @LeeTL1220---I tried to change how task-level defaults are expressed in the somatic WDLs, but I'm not sure if this works properly.  For example, if I have `Int? mem = 4` defined in a task named SomeTask in SomeWorkflow, it appears that setting SomeWorkflow.SomeTask.mem in the json doesn't actually change this value.

Not sure if this is intended Cromwell/WDL behavior, but I

[2017-09-12 08:17] magicDGS commented on #2596
@vdauwera, thank you for taking into consideration my comments. One last comment is that the ReadFilter/tool names will be in camel case anyway, because their names come from a class. A mixture of lower/upper case in the command line will be unavoidable anyway.

Finally, I would like to ask for including a way in `Main` to remove the forcing behavior of the syntax, to be sure that downstream proje

[2017-09-12 08:20] magicDGS commented on #3532
Any progress on this, @erniebrau? I would like to update to the latest master my downstream project... Thanks in advance!

[2017-09-12 08:26] magicDGS commented on #3567
I think that this is a duplicate of https://github.com/broadinstitute/gatk/issues/1481

[2017-09-12 08:38] magicDGS commented on #3483
Closing as I think that this is wrong.

[2017-09-12 08:38] #3483 closed

[2017-09-12 13:12] samuelklee commented on #2858
@LeeTL1220 I've restored the defaults.

[2017-09-12 13:27] chapmanb commented on #3564
Thanks much for the help with this. That's a good question as representing multiple low frequency somatic variants at the same position doesn't have a great fit with VCF. You're right, these are essentially a pool so could have an arbitrarily large number of calls, but reflecting that as ploidy ends up being a little problematic for downstream processing.

If I got to pick, I'd suggest normalizing

[2017-09-12 16:38] davidbenjamin opened #3568 "Polish M2 wdl using new cromwell"
There are a few changes possible since Cromwell 27.  For example, there must be a way to get rid of the `ProcessOptionalArguments` task.  Also, explicit input of the tumor and normal sample names is no longer necessary.

[2017-09-12 18:05] LeeTL1220 commented on #3568
@jsotobroad @meganshand Note this....

[2017-09-12 20:33] vruano opened #3569 "BucketUtils does not make use of FileSystemProviders.installedProviders()"
It seems that you can find out what FileSystem corresponds to what URI/URL by using the return of FileSystemProviders.installedProviders. Instead BucketUtils has hard-wired scheme names and has many conditional (isCould... isHadoop) for operations that can be done by using the appropriate FileSystem implementation that in turn can be resolved looking at that list.

I guess that there are extant ut

[2017-09-12 21:08] samuelklee opened #3570 "Add option to run somatic pair workflow without a PoN but with GC correction."
This will be easier once the new binning is in.

[2017-09-12 21:43] lbergelson commented on #3569
BucketUtils was a solution before we had Filesystem providers.  It's stuck around as a parallel set of code because we couldn't trust the providers at first.  In the long run it should be removed and replaced entirely by `Files`  operations.  We need to test that all the functionality exists / works as expected though, and it hasn't been a high priority to do so.  Particularly, I'm not sure we hav

[2017-09-13 05:10] samuelklee opened #3572 "No space left on device M2 WDL Travis failure."
Seems to be intermittent: https://travis-ci.org/broadinstitute/gatk/jobs/274887535

[2017-09-13 10:54] cmnbroad commented on #3572
@samuelklee Your branch is pretty far behind master, and is using the new travis image introduced last week, which has less space than the previous one (see https://github.com/broadinstitute/gatk/issues/3559). You need rebase onto current master to pick up https://github.com/broadinstitute/gatk/pull/3557.

[2017-09-13 11:15] samuelklee commented on #3572
Was wondering if that might have something to do with it.  Thanks!

[2017-09-13 11:15] #3572 closed

[2017-09-13 14:35] erniebrau commented on #3532
@magicDGS Not yet. Apologies for the long delay. We've had some other urgent issues and features we're working on. I will make some time to look at this this week. I might be asking you some more questions about this during the debug process, since we do not currently have a machine (non-AVX Mac) where we can reproduce the issue.

[2017-09-13 14:59] samuelklee commented on #3554
Actually, just ran a WGS sample with 250bp bins that took ~4 hours to plot...pretty ridiculous!  The R code is neither efficient nor well written, so I'm inclined to completely rewrite plotting in python (for ACNV, as well).

[2017-09-13 15:07] magicDGS commented on #3532
Thanks for the update, @erniebrau - I would answer every question as soon as I read it. Thank you for doing this!

[2017-09-13 15:42] tomwhite opened #3573 "Create Jenkins job to run ReadsPipelineSpark on exome data"
Set up a recurring (nightly) job that runs ReadsPipelineSpark using the settings in https://github.com/broadinstitute/gatk/blob/tw_spark_end_to_end/scripts/spark_eval/exome_reads-pipeline_gcs.sh

This takes about 30 mins on a 10 node cluster.

[2017-09-13 15:45] tomwhite commented on #3573
@davidbernick I was going to tackle this by cloning https://gatk-jenkins.broadinstitute.org/job/gatk-perf-test-spark-readpipeline and adjusting some of the parameters. Are there any issues or gotchas I should know about? /cc @lbergelson

[2017-09-13 16:12] SHuang-Broad opened #3574 "Update sv pipeline scripts for dataproc timed self-termination"
Currently possible only if using `gcloud beta create ...`. Need to wait until out of beta phase.
Work is already done in branch `sh_dataproc_timeout`.

[2017-09-13 18:32] lbergelson opened #3578 "make our travis test results stored in gcs expire after some amount of time"
They currently pile up forever and are fairly large.  It seems like we can set them to disappear automatically after some number of days if we use lifecycle rules on the bucket https://cloud.google.com/storage/docs/lifecycle.

[2017-09-13 19:19] jamesemery commented on #3578
It looks like it shouldn't be to difficult but it would necessitate either moving the bucket they are located in or asking people to clear out the hellbender bucket of other things because it appears the lifecycle features can only be applied on a per-bucket basis.

[2017-09-13 19:26] lbergelson commented on #3578
definitely easiest to move the logs I think, the hellbender bucket unfortunately has become hardcoded into a bunch of tests and might be a pain to move

[2017-09-13 19:57] SHuang-Broad commented on #3508
closed by #3457

[2017-09-13 19:57] #3508 closed

[2017-09-13 20:12] davidbernick commented on #3573
That's fine -- just make sure it launches with :
Build after other projects are built - to gatk-perf test. That's the one that sets up the environment and builds latests dockers. So that needs to happen first then all the other tests downstream after. A clone should capture that but just double check.

[2017-09-14 10:51] tomwhite commented on #3573
@davidbernick thanks!

I noticed that the existing jobs are now failing with a GCS error (see https://gatk-jenkins.broadinstitute.org/job/gatk-perf-test-spark-markeddupe/436/console):

[code]

There has been a change to the GCS library (https://github.com/broadinstitute/gatk/commit/b47838c9a5fa172ed6669ed4872b04d91c962a85), but when I ran a GCS pipeline manually on my machine it worked fine, even

[2017-09-15 12:23] cmnbroad commented on #2165
Closed via https://github.com/broadinstitute/gatk/pull/3195.

[2017-09-15 12:23] #2165 closed

[2017-09-15 15:59] #3574 closed

[2017-09-15 19:00] LeeTL1220 opened #3583 "Output QC numbers into text files when running GATK CNV"
ReCapSeg would output text files that contained only the value for
- preQC
- postQC
- number of segments

In other words, three values ==> three text files.

This way someone trying to QC inside an execution manager can see QC metrics in a table of annotations/attributes.

The WDL must also be changed to output the files.

[2017-09-18 13:44] jamesemery commented on #3578
Resolved by this commit: https://github.com/broadinstitute/gatk/commit/c063348274cce3da724a06d789cd1b8edcd9f893
See gs://hellbender-test-logs/ for the new source of test logs.

[2017-09-18 13:44] #3578 closed

[2017-09-18 14:26] erniebrau commented on #3532
@magicDGS Can you please compile (with a simple `g++ avx-all.cpp`) and run the short program below on the affected Mac and report  back the output? This is basically the code being executed by GKL to determine if AVX is supported.

Code to compile and run (zipped): [code.zip](https://github.com/broadinstitute/gatk/files/1310975/code.zip)

[2017-09-18 15:00] #3277 closed

[2017-09-18 18:00] lbergelson commented on #3578
@jamesemery 👍

[2017-09-18 18:04] skwalker commented on #1640
I ran it with:
[code]

[2017-09-18 19:18] #2532 closed

[2017-09-18 20:01] droazen opened #3587 "Add argument to log to file that captures logging output from all dependencies"
We had a first attempt at this in https://github.com/broadinstitute/gatk/pull/2751, but this did not capture all logging output (from Spark, C code, etc.) to the log file. What we need to do is capture all of stdout and stderr, and write that to a file, taking care to interleave them properly

[2017-09-19 01:28] davidbenjamin commented on #3564
@chandrans @chapmanb @ldgauthier The `-ploidy` argument is one of several arguments inherited from `AssemblyRegionWalker` that apply only to `HaplotypeCaller` and do nothing in `Mutect2`.  (We should refactor this once the engine team's workload lightens enough to review lower-priority things like this.)  The `GT` field emitted by Mutect is just the concatenation of all called alleles -- 0/1, 0/1/

[2017-09-19 09:18] magicDGS commented on #3532
The output for running the `a.out` is:

[code]

Thanks for looking at this @erniebrau - let me know if you need something else...

[2017-09-19 12:46] LeeTL1220 commented on #3564
I don't think that M2 should be spewing out a concatenation of all alleles,
since that does imply ploidy via the VCF spec.  Multiallelics on multiple
lines violates the spec too, right?

On Mon, Sep 18, 2017 at 9:28 PM, David Benjamin <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2017-09-19 14:02] chapmanb commented on #3564
David and Lee;
Thanks for the thoughts and heads up on ploidy. I normally only set this for mitochondrial and chrX/Y but it's not a big deal to have diploid calls throughout. Avoiding representing minor variants in the ploidy field would be helpful for downstream processing.

Having multiple alleles on a single line per allele is within spec (1.6.1 in the 4.3 spec: "It is permitted to have multipl

[2017-09-19 18:44] lbergelson opened #3591 "jenkins spark tests failing with 404"
The jenkins spark tests are failing with the following error:

This seems to have been introduced in https://github.com/broadinstitute/gatk/pull/3576

[code]

[2017-09-19 18:44] lbergelson commented on #3591
@davidbernick I opened this issue to track the problem.

[2017-09-19 18:52] erniebrau commented on #3532
@magicDGS We have an idea of what the problem is. If we're right, it will be fixed in the next GKL release, which should happen sometime tomorrow. I will then create a GATK branch that uses the new GKL release for you to test (and to ultimately merge into master).

If we're wrong about what is causing the problem, we will have to continue to debug. Sorry about the slowness of this process. Like I

[2017-09-19 19:39] lbergelson commented on #3591
@mwalker174 Is encountering the same problem in the wild.  He's reporting that it goes away if you specify the environment variables HELLBENDER_TEST_PROJECT and HELLBENDER_JSON_SERVICE_ACCOUNT_KEY

he's seeing the warning message:
[code]
 which **should** only appear during tests, so something is strange.

[2017-09-19 20:07] lbergelson commented on #3591
As far as I can tell, getting that error message means that BaseTest is being loaded at runtime, and running it's static initializer block which calls `SparkContextFactory.enableTestSparkContext();`

[2017-09-20 06:12] vruano opened #3593 "Seems that the scripts/sv/manage_sv_cluster.sh might is broken:"
Go the following:

[code]
Not sure the first error message about the "hashes" means perhaps that is the cause though.

Assigned to @TedBrookings because I think this is you beast.

[2017-09-20 10:11] magicDGS commented on #3532
Thanks @erniebrau! Looking forward to test the next release of GKL.

[2017-09-20 11:01] TedBrookings commented on #3593
The git hash refers to the commit of GATK you have checked out in your branch as opposed to the commit of GATK that has been built in Java (and will be run on the cluster). I will clarify the error message: it means that you need to rebuild GATK to match your changes to the repository.

The malformed object name is a different story, and seems like a bug. I will try to figure that out.

[2017-09-20 15:34] skwalker commented on #1640
memory / timing differences [gatk3_gatk4.xlsx](https://github.com/broadinstitute/gatk/files/1318287/Copy.of.gatk3_gatk4.xlsx)

[2017-09-20 15:45] cmnbroad commented on #3591
I think the message isn't coming from BaseTest, its coming from SparkContextFactory:

	at org.broadinstitute.hellbender.engine.spark.SparkContextFactory.getGcsHadoopAdapterTestProperties(SparkContextFactory.java:68)
	at org.broadinstitute.hellbender.engine.spark.SparkContextFactory.<clinit>(SparkContextFactory.java:59)
	at org.broadinstitute.hellbender.engine.spark.SparkCommandLineArgumentCollecti

[2017-09-20 16:11] droazen commented on #3591
@cmnbroad @lbergelson Looks like `SparkContextFactory.DEFAULT_TEST_PROPERTIES` is currently initialized statically at class-loading time, resulting in a call to `getGcsHadoopAdapterTestProperties()` even when we're not running the test suite.

[2017-09-20 17:36] droazen opened #3596 "Bash completion should probably not be sensitive to @DocumentedFeature"
Currently tools not marked as `@DocumentedFeature` don't auto-complete in bash, which seems wrong. We should ideally allow the auto-completion to work with all runnable tools, not just those annotated as `@DocumentedFeature`

[2017-09-20 17:52] cmnbroad commented on #3596
I'm not sure I see the value of this separation - it seems like a bunch of work without much benefit. In practice I don't think the result would be any different once everything is correctly annotated with DocumentedFeature. It would require changes in both Barclay and GATK, with Barclay delegating back to the GATK to allow it to filter out things like example tools.

[2017-09-20 18:14] droazen commented on #3591
@jean-philippe-martin Can you comment on this one? It looks like `google-cloud-java` recently bumped their `google-auth-library-credentials` and `google-auth-library-oauth2-http` dependencies to `0.8.0` -- was there some change that would require us to modify our authentication-related code in GATK, and/or the permissions setup in our Google Cloud project, that could explain the error:

[code]

[2017-09-20 18:15] droazen commented on #3596
If a tool exists and is runnable, but is not documented, it should be accessible via tab-completion. Otherwise people can't depend on tab-completion to give a complete list of all tools that can be run.

[2017-09-20 18:25] droazen commented on #2599
Re-assigning to @jamesemery

[2017-09-20 18:25] mwalker174 commented on #3591
I was just talking with @vruano. The error might come from improper permissions/roles being set up on the cluster by default.

[2017-09-20 18:28] lbergelson commented on #3591
It's weird that it worked before though if roles aren't set up right.  It seems like security issues shouldn't be solved by asking people to upgrade their client software so that it can deny them permission.

[2017-09-20 18:30] droazen commented on #3591
It seems plausible to me, though, that the Google auth library may have been patched to perform checks that it wasn't performing previously. Maybe our project permissions have always been mis-configured :)

[2017-09-20 18:31] droazen commented on #3596
If it's a difficult/non-trivial change, though, then it may not be worth fixing. I thought it would be a simple change.

[2017-09-20 19:12] #3593 closed

[2017-09-20 20:56] jean-philippe-martin commented on #3591
Sorry guys I have no special insight on this. Do you have a command line so I can try to reproduce locally?

[2017-09-20 21:41] vruano commented on #3360
Is there a work-around?

[2017-09-20 21:46] vruano commented on #3360
I guess that ':' that should be considered the one that separates the contig from the position is the last one, the start and stop can be worked out from there.

[2017-09-20 22:48] mwalker174 commented on #3591
So this seems to only happen when trying to access a bucket from a job on dataproc. For example, the following throws the error:

./gatk-launch PathSeqFilterSpark -I gs://bucket/in.bam -O gs://bucket/out.bam -- --sparkRunner GCS --cluster my-cluster

but the following does not:
./gatk-launch PathSeqFilterSpark -I hdfs://bams/in.bam -O hdfs://bams/out.bam -- --sparkRunner GCS --cluster my-cluster

[2017-09-21 02:10] LeeTL1220 commented on #2867
Don;t think this is ever going to happen.

[2017-09-21 02:10] #2867 closed

[2017-09-21 02:31] #3548 closed

[2017-09-21 04:25] jean-philippe-martin commented on #3591
OK so just following along; the problem appears related to the Google Cloud Storage Connector and it's configuration. When running on Cloud we need to ask for the `https://www.googleapis.com/auth/devstorage.read_write` scope, as described in [the install docs](https://github.com/GoogleCloudPlatform/bigdata-interop/blob/master/gcs/INSTALL.md). But you're right that `https://www.googleapis.com/auth/

[2017-09-21 10:06] magicDGS commented on #3596
Apart of the amount of work in both Barclay and GATK, I think that this shouldn't be implemented for 2 reasons:

* After #3486, some tools are hidden from the command line (and they will be most likely undocumented too). If the bash-completion works with undocumented tools that are hidden from the command line, there will appear anyway after pressing tab-tab. If that tools are treated in a differe

[2017-09-21 10:39] magicDGS commented on #3360
If a whole contig with a name containing `:` is specified, then the last one does not separate the contig from the positions.

My suggestion is crosscheck both the whole `String` provided and the sub-string before the `:` - I am not sure how to deal with cases where both are present (and if this even possible), but otherwise is kind of easy: if all the `String` is present, the "interval" is the wh

[2017-09-21 13:41] ldgauthier opened #3599 "AllelicCNV dependency missing on some linux systems?"
We had a little bit of trouble with AllelicCNV at the Finland workshop last week.  Apologies that this isn't the most complete bug report, but the hands-on portion of the workshop moved pretty fast.

Soo Hee took a picture of the error with her phone:
![image](https://user-images.githubusercontent.com/6578548/30697898-6dff7e24-9eae-11e7-8ec3-d876483fec1a.png)
The rest of the relevant line is "unde

[2017-09-21 13:54] LeeTL1220 commented on #3599
Five dollars says someone forgot a backslash at the end of a bash command.

On Sep 21, 2017 09:42, "ldgauthier" <notifications@github.com> wrote:

[2017-09-21 13:58] LeeTL1220 commented on #3599
Whoops!  I should read entire bug report first, before making comments.

[2017-09-21 14:01] samuelklee commented on #3599
ACNV uses Spark MLlib's kernel density estimation to find the posterior mode from MCMC samples.  I'm guessing the offending dependency comes from this import statement in `org.apache.spark.mllib.stat.KernelDensity`: `import com.github.fommil.netlib.BLAS.{getInstance => blas}`  @lbergelson Any ideas?

[2017-09-21 18:12] chandrans commented on #3528
@lbergelson Hey Louis. The user just asked about this. Is this something you guys are willing to look into? I guess it would be nice to let the user know if this is something that will be fixed in the general release or the next beta release or never.

[2017-09-21 19:26] cmnbroad commented on #3555
After some discussion, we're planning to change the built-in extension used by Barclay for automatic expansion from ".list" to  ".args".

[2017-09-21 20:17] lbergelson commented on #3591
this may be related to #3491, although that one predates this by quite a bit

[2017-09-21 20:17] jamesemery commented on #3591
Apparently related, just running IndexFeatureFile on my machine results in several stack traces:
`Sep 21, 2017 4:10:53 PM shaded.cloud_nio.com.google.auth.oauth2.ComputeEngineCredentials runningOnComputeEngine
WARNING: Failed to detect whether we are running on Google Compute Engine.
java.net.ConnectException: Host is down (connect failed)
	at java.net.PlainSocketImpl.socketConnect(Native Method)

[2017-09-21 20:42] droazen commented on #3591
@mwalker174 @lbergelson @jean-philippe-martin I was able to fix the 404 error by building a custom version of the lastest master of `google-cloud-java` with the following patch:

[code]

So it's likely the `google.auth.version` bump that introduced the error -- in particular, the change described in https://github.com/google/google-auth-library-java/releases/tag/v0.7.1 and implemented in https://g

[2017-09-21 21:03] droazen commented on #3591
I've updated https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453 with this result -- we'll see what they say.

[2017-09-22 08:12] sooheelee commented on #3555
Thanks for letting me know Chris. I'm on vacay and just viewing the email thread that starts with mention of my name and not the whole github thread. If I can help out with something specific, do let me know.

Sent from an iPhone and typed with my thumbs.

[2017-09-22 13:07] samuelklee opened #3601 "Update instructions for installing R packages in README.md."
The script is no longer located at scripts/install_R_packages.R, so we should update the readme accordingly.

[2017-09-22 13:47] magicDGS commented on #3555
I added a PR to Barclay (https://github.com/broadinstitute/barclay/pull/95) to both change the extension and to switch off the behaviour if need it. That may solve other errors in the future too, if other downstream project want to use the extension for other purposes.

[2017-09-22 14:53] lbergelson commented on #3601
Oops, that's my fault.

[2017-09-22 15:31] #3601 closed

[2017-09-22 16:14] LeeTL1220 opened #3603 "Allele-to-Allele determination of variant type"
The variant context functions such as `isSNP()` are not very useful in the context of a genotype or determination of one allele to another.

Therefore, we should add a function that can determine the variant type (using the same constants as used in VariantContext) from Allele-to-allele transformations.

[2017-09-22 16:18] ldgauthier commented on #3599
@LeeTL1220 I will take that $5 in cash or check.

[2017-09-22 16:25] ldgauthier commented on #1640
The gVCF with intervals cases are pretty horrific.  Is there anything different about intervals in the engine that might be responsible @lbergelson ?  Would that tool-dependent look-ahead have an effect here?

[2017-09-22 16:32] LeeTL1220 commented on #3599
Ugh....  That's what I get for trying to answer emails on a vacation day....

On Fri, Sep 22, 2017 at 12:18 PM, ldgauthier <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2017-09-24 10:05] chapmanb opened #3605 "Java core dump in ApplyBQSR Spark due to GKL deflater"
I'm running into a consistent core dump in GATK 4 beta 5 (GKL 0.5.8) related to deflation with the Intel Genomics Library. This occurs on a AWS m4.4xlarge machine running Ubuntu 16.04 and consistently core dumps and provides this stack trace:

https://gist.github.com/chapmanb/006c1c9abeb21e9baf244d17d7ae1003

Running ApplyBQSR:
[code]
Adding `--use_jdk_deflater` to the ApplyBQSR command line avoid

[2017-09-25 13:47] droazen commented on #1640
Looking into that issue now @ldgauthier...

[2017-09-25 13:55] droazen commented on #3605
@gspowley @erniebrau @pnvaidya Could one of you please have a look at this issue?

[2017-09-25 15:12] davidbernick commented on #3573
This is related to a known issue with GCS. #3591 When that's fixed, the spark tests will work again.

[2017-09-25 15:25] tomwhite commented on #3573
Thanks @davidbernick. When the tests are working again I'll create a new job for this issue.

[2017-09-25 15:27] lbergelson commented on #1791
Closing this, I no longer think it's a good idea.

[2017-09-25 15:27] #1791 closed

[2017-09-25 16:06] erniebrau commented on #3532
@magicDGS Just want to keep you up-to-date. The release is taking a bit longer than expected. I'll let you know when it's out so you can test it out.

[2017-09-25 16:39] cwhelan opened #3607 "SV pipeline run on NA12878 hg19 has a very slow laggard assembly task"
When running the current version of the SV pipeline against the NA12878_PCR-_30X bam file aligned to hg19/b37, stage 10 is held up by a single assembly task that takes much longer than the others. Unfortunately I don't have exact timings yet, and haven't identified the assembly issue that's causing  the problem, but I wanted to log this as an issue so we don't forget about it. It's possible that o

[2017-09-25 17:18] lbergelson commented on #3541
I think we discovered at some point that IntervalSkipList has worse performance than htsjdk `OverlapDetector`.  We should probably be deprecating and removing it.

[2017-09-25 17:18] lbergelson opened #3608 "deprecate and remove IntervalSkipList"
I believe we discovered that `IntervalSkipList` had worse performance than htsjdk's `OverlapDetector`.  It's probably best to remove IntervalSkipList in this case and prefer the htsjdk version.

[2017-09-25 18:06] lbergelson commented on #3528
@chandrans Does gatk3 haplotype caller call this?

[2017-09-25 18:29] droazen commented on #3411
Co-assigning to @jamesemery to ensure this gets done next quarter.

[2017-09-25 18:30] droazen commented on #3342
This was done in https://github.com/broadinstitute/gatk/pull/3575 -- closing!

[2017-09-25 18:30] #3342 closed

[2017-09-25 18:32] droazen opened #3609 "Implement tests for new GenomicsDB support for non-diploid genotypes and phasing information"
https://github.com/broadinstitute/gatk/pull/3575 added GenomicsDB support for non-diploid genotypes and also for preserving phasing information in genotypes. We still need to craft tests to prove that this functionality works as intended, however.

[2017-09-25 18:33] droazen commented on #3609
For @jamesemery

[2017-09-25 18:43] jamesemery opened #3610 "Add the ability for downstream projects to customize which packages to search for Annotation classes"
Currently when a `VariantAnnotatorEngine` object is instantiated it searches in the package `org.broadinstitute.hellbender.tools.walkers.annotator` and creates an object for every Annotation object it finds. This should be generalized using OWNER so that other projects are able to specify other packages to search in.

[2017-09-25 18:56] droazen commented on #3610
Co-assigning to @jonn-smith, since it's likely to be implemented using the new OWNER configuration facility.

[2017-09-25 19:23] droazen commented on #3596
Closing, since there is universal opposition to this proposal.

[2017-09-25 19:23] #3596 closed

[2017-09-25 20:31] droazen commented on #3500
Re-opening

[2017-09-25 20:32] droazen commented on #3500
Blocked by https://github.com/broadinstitute/gatk/issues/3591

[2017-09-25 21:21] lbergelson opened #3612 "can we remove the SGA code?"
@SHuang-Broad We still have these SGA tests that always skip.  Has the need for that been replaced by Fermilite and BWA?  Can we delete that code / remove those tests?

[2017-09-26 00:47] SHuang-Broad commented on #3612
I am OK with removing it, since our pipeline seems to have been stabilized without it for almost 6 months now. What do you think @cwhelan @tedsharpe ?

[2017-09-26 08:52] magicDGS commented on #3610
Dup of https://github.com/broadinstitute/gatk/issues/2155?

[2017-09-26 09:50] #3360 closed

[2017-09-26 11:33] tedsharpe commented on #3612
I'm fine with it.
If the skipped tests are the primary irritant let's just delete them.

[2017-09-26 12:36] cwhelan commented on #3612
Yes I think we can get rid of these.

[2017-09-26 14:14] #2599 closed

[2017-09-26 16:18] lbergelson commented on #3610
@magicDGS Yes, thank you, closing this as a duplicate.

[2017-09-26 16:18] #3610 closed

[2017-09-26 18:15] davidbenjamin commented on #3336
Closed by #3363.

[2017-09-26 18:15] #3336 closed

[2017-09-27 00:03] gspowley commented on #3605
@chapmanb We were able to reproduce a failure with your command line. This looks like an issue related to JNI and garbage collection that is exposed by setting `-Xmx46965m` and `-XX:+UseSerialGC`, but it needs further debugging.

To confirm, can you please try running without specifying these javaOptions? Something like this:
[code]

FYI, we see better performance from Spark when using an SSD for

[2017-09-27 08:19] magicDGS commented on #3532
Thanks @erniebrau - with GKL 0.7 I do not experience any failure anymore!

[2017-09-27 08:19] #3532 closed

[2017-09-27 13:55] cmnbroad commented on #3154
@Sooheelee This should be fixed and I'd like to close it - can you verify that it works for your case when you get a chance ?

[2017-09-27 14:56] jamesemery opened #3618 "Mutect2 should have a standard argument group"
I noticed that in the `M2ArgumentCollection` there is a hardcoded list of annotations to include, namely `"Coverage", "DepthPerAlleleBySample", "TandemRepeat", "OxoGReadCounts", "ReadPosition", "BaseQuality", "MappingQuality", "FragmentLength", "StrandArtifact"` and no annotation groups specified. This means that currently if the user specifies any new annotations with the -A argument all of the a

[2017-09-27 14:56] jamesemery commented on #3618
@davidbenjamin

[2017-09-27 15:02] lbergelson opened #3619 "Add test for DataProvider failures"
Picard added a test that runs all the data providers and makes sure they don't error out and cause skipped tests.  Maybe we should add a similar test.  see https://github.com/broadinstitute/picard/pull/931

[2017-09-27 15:25] davidbenjamin commented on #3618
@jamesemery @droazen this is a good idea.

[2017-09-27 16:12] tomwhite commented on #3573
See https://gatk-jenkins.broadinstitute.org/job/gatk-perf-test-spark-readpipeline-exome/

[2017-09-27 18:08] LeeTL1220 opened #3623 "AnnotatePairOrientation needs more testing before it can be taken out of experimental status"
From the comments in the code:

[code]
We can raise the priority if this tool gains traction.  That seems unlikely since this is still a bit of a niche tool.

[2017-09-27 18:32] jamesemery opened #3624 "GATK4 has no way to remove the standard annotation group"
In the GATK3 and some of our documentation we refer to the ability to specify "-G none" on the command line in order to remove the default annotation groups from the tool, we currently don't support this.

[2017-09-27 18:56] #3559 closed

[2017-09-27 19:05] droazen commented on #1880
Would probably be solved by https://github.com/broadinstitute/gatk/issues/3287

[2017-09-27 19:05] droazen commented on #2542
Would probably be solved by https://github.com/broadinstitute/gatk/issues/3287

[2017-09-27 19:21] davidbenjamin commented on #3337
Closed by #3577.

[2017-09-27 19:21] #3337 closed

[2017-09-27 19:22] davidbenjamin commented on #3340
We did it!

[2017-09-27 19:22] #3340 closed

[2017-09-27 19:27] cmnbroad opened #3625 "Remove download of picard.jar from .travis.yml and update Mutect2 WDL"
Once https://github.com/broadinstitute/gatk/pull/3620/ is in, we should be able to remove the download of picard.jar from .travis.yml, and change the M2 WDL to no longer depend having access to it. Workflow calls to picard tools can be replaced with calls to the same tools in GATK, although the argument syntax will have to change from picard style to Barclay style ("I=..." to "-I ...").

[2017-09-27 19:31] cmnbroad opened #3626 "Consolidate the Picard and GATK Program groups"
Picard and GATK have separate program groups, some of which overlap, i.e., both have a SAM/BAM group, a VCF group, etc. Also, Picard has an "Alpha" program group. Once https://github.com/broadinstitute/gatk/pull/3620/ goes in, these all show up on the command line as different groups.

We need to decide how we want these organized in GATK (the Picard tools don't follow all of the same conventions

[2017-09-27 19:38] cmnbroad opened #3627 "Generate unified GATK/Picard doc and tab completion script"
Once https://github.com/broadinstitute/gatk/pull/3620/ is in, we should add/update the gradle tasks for gatkDoc and gatkTabComplete to generate unified (GATK and Picard) doc and tab completion script.

[2017-09-28 13:06] #3573 closed

[2017-09-28 13:40] erniebrau commented on #3532
Excellent! 👍

[2017-09-28 15:21] chandrans opened #3631 "GATK 3.7 and GATK 4 beta2"
User reporting major time differences between 3.7 HaplotypeCaller and GATK4 latest beta release.

----
User Report
----

Dear team,

I am using GATK 4 Beta2 for testing HaplotypeCaller for our NGS workflow.

The command which I used is:

_time -p /gpfs/software/genomics/GATK/4b.2/gatk/gatk-launch HaplotypeCaller \
--reference /gpfs/data_jrnas1/ref_data/Hsapiens/hs37d5/hs37d5.fa \
--input NA12892.r

[2017-09-28 15:23] chandrans commented on #3631
@droazen @lbergelson Hi. Another case of user reporting differences in runtime but this is between 3 and 4.

[2017-09-28 15:41] #3123 closed

[2017-09-28 15:41] #3292 closed

[2017-09-28 15:41] #3618 closed

[2017-09-28 15:50] lbergelson commented on #3631
@chandrans Hmn, I don't really know what's happening.  We wouldn't expect gatk4 haplotype caller to be that much slower.

It looks like they're running beta2 which is kind of old as well.  Can you ask them what exact version they're using?

Can you ask if they have the log (stdout + stderr) for the gatk4 non-spark run?  I can't tell what pairhmm they're actually running with and the logs would hel

[2017-09-28 18:02] erniebrau commented on #3631
Don't mean to derail the conversation, but I just wanted to chime in about this:

This doesn't sound right. We have informally tested how the performance of PHMM changes with this parameter, and we've observed roughly linear performance improvement as you increase the value of `nativePairHmmThreads`, up to the number of physical cores in the system.

These performance tests were done a few months

[2017-09-28 18:05] lbergelson commented on #3631
@erniebrau That's the performance of the pairhmm, but not the entire haplotype caller, there's definitely diminishing returns at some point.  I could be a bit off on the core count before it starts leveling out.

[2017-09-28 18:42] erniebrau commented on #3631
@lbergelson Good point. In this context, it's definitely not going to make up for the 30-hour difference in runtimes. Apologies for derailing :-)

[2017-09-28 19:39] chandrans commented on #3528
I am pretty sure GATK3 HC did not call this. But, I am checking now. I put this in GATK4 because I know it will not be fixed in GATK3. I can let the user know this is not high priority for now? We will get to bugs after the main release?

[2017-09-28 19:52] lbergelson commented on #3528
Yeah, we'd obviously like to fix any bugs, and having the test case will be really useful.  We might be able to get to it before the release, but it won't be for a little bit.

[2017-09-28 21:13] cmnbroad opened #3632 "Migrate remaining Picard class duplicates to the corresponding Picard classes"
- utils.artifacts.Transition can be removed and replaced with picard.analysis.artifacts.transition class (once the Picard one is made public)
- utils.read.SamComparison can be removed and replaced with picard.sam.util.SamComparison once https://github.com/broadinstitute/picard/pull/913 is merged

[2017-09-28 21:15] cmnbroad opened #3633 "Make CompareBaseQualities into a GATKTool"
Once thats done, the only remaining PicardCommandLineProgram derived tools in GATK will be MarkDuplicates and EstimateLibraryComplexity.

[2017-09-28 22:20] lbergelson commented on #2868
Closing this since the error should no longer occur since htsjdk updated it's snappy version which was included in #3588

[2017-09-28 22:20] #2868 closed

[2017-09-29 14:16] #3078 closed

[2017-09-29 15:09] davidbenjamin commented on #3256
Done with normal-in-normal.  Looks good so far!

[2017-09-29 18:09] LeeTL1220 opened #3641 "Make PileupSummary support indels"
This is a useful class when strictly dealing with pileups.  However, it only supports point mutations.  Extend to indels....

[2017-09-29 18:28] samuelklee commented on #2858
The new pipeline is in a complete state.  Nearly all tools and scripts were rewritten, many from scratch.  I've tried to minimize interaction with old `tools/exome` code (notably, `ReadCountCollection` and `SegmentUtils`).  There are still some improvements that can be made from this point on, but we should be ready to go for validation.  Some notes:

WDL:
- I've moved the old pipeline to `somatic

[2017-09-29 20:33] lbergelson commented on #3465
Closing this ticket since there hasn't been any discussion in a while.  Hopefully the problem is resolved.

[2017-09-29 20:33] #3465 closed

[2017-09-29 20:35] lbergelson commented on #1905
this was closed by #3452

[2017-09-29 20:35] #1905 closed

[2017-09-29 20:39] lbergelson commented on #2171
Closing this since there hasn't been any response in a long time.  Feel free to re-open if there are updates.

[2017-09-29 20:39] #2171 closed

[2017-09-29 20:42] lbergelson commented on #1491
@cwhelan It seems like this is resolved, closing it unless you think there's something we should do here.  Fixing yarn to give a sane error message when executors die is outside of our scope I think :/

[2017-09-29 20:42] #1491 closed

[2017-10-01 08:32] vruano opened #3642 "manage_sv_pipeline.sh output directory naming issues with a detached checkout"
The code that composes the result output folder depends on ```git batch --contains HASH``` to pick up a line with a standard branch name (e.g. ```    joe_doe_bugfix```)

However this is not neceserely the case if the current checkout is not attach to a local branch... for example when one does ```git fetch; git checkout origin/master```. In that case a typical git-batch line that gets picked up is

[2017-10-02 01:06] chandrans commented on #3631
@lbergelson Hi Louis. Thanks for the tips. I only can confirm she has tried GATK4-beta5 so far. I asked her the other questions and will get back to you when she responds.

[2017-10-02 11:24] sooheelee opened #3644 "GATK Docker should include non-root user account"
To allow for those without root privileges, e.g. working off a hosted server, to use the container. This came up during the Helsinki workshop and also at <https://gatkforums.broadinstitute.org/gatk/discussion/comment/42547>.

[2017-10-02 11:27] sooheelee opened #3645 "GATK Docker should provide versioning info with "cat Dockerfile""
So users don't have to root around for program versions. Instead, they can have these listed. See `@Tiffany_at_Broad`'s comments at <https://gatkforums.broadinstitute.org/gatk/discussion/comment/42547> for details for how this works for the GOTC Docker.

[2017-10-02 13:12] sooheelee commented on #2858
Yes, I'd like to test out the new tools in the workflow. All of these changes seem major and I'm excited to see how the workflow performs.

[2017-10-02 13:28] sooheelee commented on #3154
Just back from workshop/vacay. I will take a look.

[2017-10-02 14:02] LeeTL1220 commented on #3645
@droazen @lbergelson I'm not really sure how to do this.  It's easy in SVN, but not in git.  We would need to insert the version info in the labels of the dockerfile when we cut a release -- the release version (e.g. 4.beta.4) not the git hash.  How is GotC doing it?

[2017-10-02 14:07] LeeTL1220 commented on #3645
@sooheelee I am not sure that modifying the Dockerfile is the way to go.  Especially since our list is a lot shorter than GotC.  For most users, the GATK version is all that is important.  Everything else is derived from that.  We've removed our WDL usage of `samtools` and soon GATK will wrap `picard` and again the version of picard being wrapped will be 1:1 to the version of GATK.

[2017-10-02 14:52] magicDGS opened #3646 "ReadFilter arguments not in documentation"
After https://github.com/broadinstitute/barclay/commit/78b17117c264df3a39a1e29a3bf34f323b900eab, ReadFilters are documented without the arguments inside of them, even if they can be instantiated. This is Barclay bug, but it should be solved to have a complete documentation.

[2017-10-02 14:56] SHuang-Broad opened #3647 "better inserted sequence mapping annotation [SV]"
Right now, in master pipeline we have one `INSERTED_SEQUENCE` AND `INSDERTED_SEQUENCE_MAPPINGS` annotation each, with the 2nd annotation taking possibly multiple values whereas the 1st only 1 value. We need to improve this.
A possible solution is to have one annotation with paired multiple entries as suggested by @cwhelan . The goal is to make transforming symb alt allele records to BND records ea

[2017-10-02 15:00] sooheelee commented on #3154
Hmm, looks like I deleted the CRAM `/humgen/gsa-hpprojects/dev/shlee/1kg_GRCh38_exome/cram/HG02759.alt_bwamem_GRCh38DH.20150826.GWD.exome.cram`. (I was a high storage cost offender and asked to clean up.) Luckily, I have another CRAM available that I left for testing purposes. I can recapitulate the error with this other CRAM using the old `gatk-4.alpha.2-1134-ga9d9d91-SNAPSHOT` jar.

[code]

Give

[2017-10-02 15:02] #3154 closed

[2017-10-02 15:19] sooheelee commented on #3154
All good:
[code]

[2017-10-02 15:58] bbimber commented on #2300
I've created a third party JAR that depends on GATK4 (4.beta.2).  I believe I just hit a similar issue; however, what's odd is that it seems intermittent (though i have n=2 on this tool so far):

[October 2, 2017 6:10:01 AM PDT] com.github.discvrseq.walkers.BackportLiftedVcf done. Elapsed time: 6.27 minutes.
Runtime.totalMemory()=45813334016
Exception in thread "main" java.lang.NoClassDefFoundErro

[2017-10-02 16:04] bbimber opened #3648 "Request: provide some guidance on various perf-modulating options"
GATK4 has a number of options that presumably alter performance in different ways under different conditions, including and probably not limited to: Intel Deflater/Inflater, snappy, and HTSJDK's various USE_ASYNC_XXXXX_READ params.  I can appreciate there is probably not a one-size fits all answer, but would it be possible to provide some type of general guidance on what's available, and when one

[2017-10-02 17:36] chandrans opened #3649 "Check for google-cloud-sdk compatibility with GATK in launcher"
## Feature request

### Tool(s) involved
GATK4 launcher

### Description

Add check in the launcher to make sure the google-cloud-sdk is compatible with GATK4.

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/10342/cant-run-any-gatk4-tools-on-gcs-dataproc/p1

[2017-10-02 17:41] chandrans commented on #3528
Thanks Louis. Will let user know.

[2017-10-02 18:43] lbergelson commented on #2300
@bbimber This issue is caused by an incompatibility between the version of snappy htsjdk uses and the versions that the rest of the world use.  The workaround was to add the system property`-Dsnappy.disable=true` which is set automatically by gatk-launch.  However, we just fixed the underlying problem in htsjdk and upgraded to use new version of snappy there, so it's a better idea to update to a n

[2017-10-02 18:54] bbimber commented on #2300
Great - i was hoping there might be this kind of a solution.  I will try this out.

[2017-10-02 19:04] bbimber commented on #2300
in case someone else reads this, i think you mean:

url "https://broadinstitute.jfrog.io/broadinstitute/libs-snapshot/"

or at least that's what's successful on my machine.

[2017-10-02 19:05] lbergelson commented on #3649
There's currently no check that the version of `gcloud` that's installed is compatible with the version of gatk-launch, the task here is to:
1. determine which versions of gcloud are compatible with us
2. add a check and a helpful warning if the system gcloud is out of date in a way which will cause problems

[2017-10-02 19:06] lbergelson commented on #3648
This is a good idea.

[2017-10-02 19:54] davidbenjamin commented on #3364
Closed by #3638.

[2017-10-02 19:54] #3364 closed

[2017-10-02 19:55] davidbenjamin commented on #3366
Closed by #3638.

[2017-10-02 19:55] #3366 closed

[2017-10-02 19:56] lbergelson commented on #2300
@bbimber Ack!  Sorry. The url changed at some point, and I copied an old version and updated it by hand and obviously messed it up.

[2017-10-02 20:09] lbergelson commented on #3644
@sooheelee I'm not sure I understand this issue.  Is someone running the gatk docker image and then having people use that as a shared server?  If they are, then it seems like it's their responsibility to control ssh access to the server, set up permissions, etc.  That's outside of the scope of what we can do.  If someone is running docker and starting up their own instance of the gatk container,

[2017-10-02 21:17] lbergelson opened #3650 "bam.parts directories should be deleted"
It seems like GCS has implemented the concept of folders, which means we're now leaving empty `.bam.parts` directories around.  We should delete them during the shard merge process.

[2017-10-03 05:51] Masber opened #3651 "log4j Error"
Hi,

I am having the error below when I try to run PrintReadsSpark using an external spark cluster.

[code]
I can run command using the spark-shell but somehow GATK4 fails.

Any idea?

thank you very much