[2018-04-02 18:09] cmnbroad commented on #2092
BTW, the branch that has the work done thus far (which is now pretty far behind master) is https://github.com/cmnbroad/htsjdk/commits/cn_vcf_43.

[2018-04-02 18:22] chandrans commented on #4525
Oh. I will slack you Chris.

[2018-04-03 09:04] AxVE commented on #4612
Hello,
If the query-sort is necessary for BWA, could it be possible to other sorts than positions with SortReadFileSpark ? This way, we could do `FastqToSam -SO unsorted [...]` then `SortReadFileSpark -SO queryname [...]`.
My goal is to use as much as possible Spark and to use as less as possible the server directly.

[2018-04-03 16:36] jonn-smith commented on #3956
The actual code for the funcotation factories is all set up for this.

The required update is that `GencodeFuncotationFactory` needs to be refactored to take in the name of the data source.  Right now it's assumed that it can only be `Gencode`.

[2018-04-03 16:57] jonn-smith commented on #3971
This seems to already be fixed.

[2018-04-03 16:57] #3971 closed

[2018-04-03 17:17] jonn-smith commented on #4358
This has since been fixed in another update.

[2018-04-03 17:17] #4358 closed

[2018-04-03 17:19] jonn-smith commented on #4407
Fixed by #4605

[2018-04-03 17:19] #4407 closed

[2018-04-03 17:51] igordot opened #4625 "FilterMutectCalls difference between 4.0.2.1 and 4.0.3.0"
I tried running `FilterMutectCalls` on a VCF generated with `Mutect2` for matched tumor-normal samples. With 4.0.2.1, I get some variants that are labeled `PASS` as would be expected, but with 4.0.3.0, I get 0. That does not seem right.

[2018-04-03 18:08] jonn-smith commented on #3896
This is output renderer specific.

For MAF this should work fine, but VCF needs to be reinvestigated.

[2018-04-03 19:37] cbao-bi commented on #4555
Cool! Thanks @davidbenjamin. I like the wdl because I can use the vcf from M2 and do not need to generate interval list (Interval list is required in M1 pipeline). Hope to get the docker soon.

[2018-04-03 19:52] sooheelee commented on #4555
Great to hear this is already under review. Amazing @davidbenjamin.

[2018-04-03 20:28] vruano commented on #4561
@ldgauthier do you still have the full image for the raw graph around? Is it possible for you to post it without make it blow up the screen (I guess there might be a markdown option to chose the disply size.

[2018-04-04 12:00] chapmanb opened #4626 "Spark Docker support: avoid need for looking up username in /etc/passwd"
Hi all;
I'm running into an issue when running GATK Spark based tools inside of Docker containers. Spark tries to look up the current username as part of initialization:

https://github.com/jaceklaskowski/mastering-apache-spark-book/blob/master/spark-sparkcontext-creating-instance-internals.adoc#-utilsgetcurrentusername

while fails in Docker container where the user ID is not present in `/etc/pas

[2018-04-04 14:56] ldgauthier commented on #4561
Yep, that looks like exactly what happens.
![image](https://user-images.githubusercontent.com/6578548/38315491-99590130-37f6-11e8-8ee3-22f274cd7db0.png)
(If that's not enough context, I can email you the .dot files -- github won't let me attach them)

I've never understood what it means when the whole branch has weight 1/1 with dashed arrow, like for the rightmost path.  Is that just to show that

[2018-04-04 16:28] droazen commented on #4626
@chapmanb We haven't encountered this issue before, since we always run as `root` in our docker containers, which is conveniently always present in `/etc/passwd`. Is sudoing to root an option for you, or do you need to run as another user within your container? Are you using the official GATK docker image from `https://hub.docker.com/r/broadinstitute/gatk/`, or your own?

[2018-04-04 16:39] #4556 closed

[2018-04-04 16:39] #4619 closed

[2018-04-04 16:54] #4365 closed

[2018-04-04 18:22] #4578 closed, assigned to davidbenjamin

[2018-04-04 18:24] davidbenjamin commented on #4578
PR #4607, which ought to fix this, has been merged.

[2018-04-04 18:29] #4606 closed

[2018-04-04 19:30] chapmanb commented on #4626
Thanks much for this. Unfortunately running as root isn't an option since external CWL runners (like bunny, Toil, cwltool and hopefully Cromwell soon) make the decisions about the username to use and will try to mirror the runner with the external user to match user permissions on the output files. Also people trust it more when you're not trying to run as root (hence, not wanting to mess with `/e

[2018-04-05 20:08] droazen commented on #4626
@chapmanb Do you have any control over the `docker run` command? If you do, you could mount `/etc/passwd`/`/etc/shadow` as external resources into the container (as described here, for example: `https://stackoverflow.com/questions/33013444/can-not-add-new-user-in-docker-container-with-mounted-etc-passwd-and-etc-shado`) . This seems slightly less awful than the workarounds you linked to above.

It

[2018-04-06 11:29] tomwhite commented on #4626
@chapmanb As far as I know Spark (and Hadoop) needs the user name to submit a job. Can you set the `SPARK_USER` environment variable to the user you would like to use (even if it is not in /etc/passwd)? You should be able to pass it to Docker with the `-e` option. (I haven't tried this to see if it works.)

[2018-04-06 13:51] chandrans opened #4628 "Allow VariantFiltration "unfilter" variants"
## Feature request

### Tool(s) involved
VariantFiltration

### Description
A user mentioned it would be nice if VariantFiltration could PASS variants that were filtered previously, for example from MuTect2. Right now, it seems the tool can only remove all filters or none. It would be nice if VariantFiltration could turn off a given filter based on some JEXL expression.

----

This Issue was gener

[2018-04-06 15:33] gspowley commented on #3413
The original reason for this issue was to investigate why BAM files compressed with GKL level 1 DEFLATE compression are larger than BAM files compressed with JDK level 5 DEFLATE compression.  Stating the obvious, level 1 compressed files are expected to be larger file than level 5 compressed files. However, GKL level 1 and 2 trade compression ratio for compression speed, so we ran some experiments

[2018-04-06 16:56] chandrans commented on #4544
Another user reported back with some information in the same thread.

`The memory overrun does seem to depend on the inclusion of non-diploid samples in the cohort (haploid males in my case). I have now separately analyzed the 37 diploid females in the dataset. The script ran successfully with the following specs`

`...ncpus=1:mem=12g...
gatk CombineGVCFs...
gatk --java-options "-Xmx8g" GenotypeGV

[2018-04-06 19:13] #4499 closed

[2018-04-06 19:15] lbergelson commented on #3413
@gspowley Thank you for the analysis.  Could you upload the raw data table here too?  It's a bit hard to make direct comparisons from the plot.

[2018-04-06 19:34] gspowley commented on #3413
Sure, here's the raw data: [compression-study.csv.txt](https://github.com/broadinstitute/gatk/files/1885354/compression-study.csv.txt)

[2018-04-06 19:40] droazen commented on #4610
Done -- the latest base image is up at `us.gcr.io/broad-gatk/gatk:gatkbase-1.2.3`

[2018-04-06 19:40] #4610 closed

[2018-04-06 19:54] droazen commented on #4367
Closing -- this was done.

[2018-04-06 19:54] #4367 closed

[2018-04-06 19:57] droazen commented on #4425
@vdauwera Still waiting on you to provide us with the right upload command before we can close out this ticket.

[2018-04-06 19:58] droazen commented on #4409
This was fixed

[2018-04-06 19:58] #4409 closed

[2018-04-06 20:15] mbabadi opened #4629 "Python tools do not show log messages unless --verbosity DEBUG"
... and this leads some users to believe that GATK has frozen (I've seen several such complaints on the forum).

I use python `logger` to log INFO/WARN/DEBUG to `stdout` in `gcnvkernel`. At the moment, I do not pass GATK's log verbosity level to `gcnvkernel` (provisions for doing this is already in place -- it's just a one-liner fix to enable it).

A simple strategy is to pipe python's stdout to J

[2018-04-06 20:17] droazen commented on #4629
@mbabadi Note that the GATK log output now goes to stderr, not stdout, to enable pipelining for select tools.

[2018-04-06 20:23] droazen opened #4630 "Implement long-running regression tests for variant-calling tools (including automated plotting of results over time)"
* Should be runnable on-demand using a convenient mechanism (eg., reviewer types a command on a github PR)

* Should be robust enough to provide confidence that a substantial change to a stable variant-calling tool is safe to merge.

* Should cover performance as well as correctness.

* Output may be a report that a human has to read (do not need automated pass/fail).

* Implement for `HaplotypeCa

[2018-04-06 21:08] #4521 closed

[2018-04-06 21:24] mbabadi commented on #4629
@droazen I understand that -- the issue is that `ScriptExecutor` does not print either stdout or stderr from the external process unless debug is enabled (cf. `ScriptExecutor.java` ln. 92):

[code]

[2018-04-06 22:00] skwalker opened #4631 "Jexl Support for Extended Attributes Doesn't Work with Lists"
use case: can't use VariantFiltration to filter elements of the `SA_POST_PROB` list, unless you do weird jexl string parsing: `SA_POST_PROB.split(",").1 < 0.20`

[2018-04-07 00:31] Yyx2626 opened #4632 "suggest to merge MosaicHunter into GATK"
Hello. I am Adam Yongxin Ye, a PhD candidate in Peking University, supervised by Prof Liping Wei.

We have developed MosaicHunter, a bioinformatic tool that can identify postzygotic single-nucleotide mosaicisms (with allele fraction deviated from homozygous 0, 1 and heterozygous 0.5) in bulk sequencing data of a single sample without matched control. After I had the recent lectures on GATK4 tutori

[2018-04-07 10:15] jleinenbach commented on #2865
Whatshap needs this option.

[2018-04-08 10:29] huangzhibo opened #4633 "CombineGVCFs: java.lang.ClassCastException"
When the gvcf was merged by "bcftools concat", the following error will be happen.

more info:
https://gatkforums.broadinstitute.org/gatk/discussion/10817/gatk-runtime-error-on-genotypegvcfs-java-lang-double-cannot-be-cast-to-java-lang-integer

**java.lang.ClassCastException: java.lang.Double cannot be cast to java.lang.Integer**
	at java.lang.Integer.compareTo(Integer.java:52)
	at java.util.Compa

[2018-04-09 10:42] kelepiradam commented on #3697
Are there any updates on this issue? (I wish to drop using locus based callers to overcome this problem)

[2018-04-09 12:51] cmnbroad commented on #4633
This happens when merging variant contexts that have a floating point attribute, i.e. MQRankSum, and some sites have the integer value "0". The same issue occurs in GATK 3.

[2018-04-09 14:38] sooheelee commented on #4632
Hi, @Yyx2626.

I am Soo Hee and I work with the GATK Communications team. I think our developers will be keen to check out your tool, MosaicHunter. Thank you for offering to contribute your algorithm to GATK.

We will be in touch.

@davidbenjamin @ldgauthier, please take note.

[2018-04-09 14:45] sooheelee commented on #3697
Hello, @kelepiradam (SkyWarrior).

First, thanks for all your contributions to the GATK forum. The Communications team appreciates you.

When you say:

in regards to HaplotypeCaller/Mutect2, do you mean that the issue above is a reason to stop using these tools?

[2018-04-09 14:53] jonn-smith commented on #4090
Closed at some point.  Likely as part of #4089

[2018-04-09 14:53] #4090 closed

[2018-04-09 14:54] jonn-smith commented on #4410
Fixed as part of #4472

[2018-04-09 14:54] #4410 closed

[2018-04-09 15:09] lbergelson commented on #4633
@cmnbroad It would be good if we could fix this....

[2018-04-09 15:18] jonn-smith opened #4634 "Funcotator - Must implement t_alt_count / t_ref_count, alt_count/ref_count"
Somehow the annotations for  t_alt_count / t_ref_count and alt_count/ref_count are missing.

They need to be implemented.

The way to properly do this is to pull them out of the genotyped samples, but you must know which is ref and which is alt.  This information is primarily in the VCF header, then by sample name (variations on "matched reference" / "alternate").  This is the priority in which th

[2018-04-09 15:26] jjfarrell opened #4635 "StructuralVariationDiscoveryPipelineSpark Stage 7 Hang"
GATK  SV pipeline typically run sucessfully in 1 hour 20 minutes for a 30x WGS crams. However, there will be some crams that get stuck at stage 7 with little progress. These never finish and  need to be killed. Any suggestions for this?

Below is some stage info....

Stage 7

collect at FindBreakpointEvidenceSpark.java:738 +details

org.apache.spark.api.java.AbstractJavaRDDLike.collect(JavaRDDLike

[2018-04-09 15:30] jamesemery opened #4636 "Add Support To ReadsSparkSink to specify parts directory"
Currently there is no way to specify where the bam parts get written to before being combined into a single sorted bam. Being able to specify this directory is important for supporting google compute engine LOCAL disks which currently can't be stitched into a logical volume.

[2018-04-09 15:55] kelepiradam commented on #3697
Sorry that sentence was not clear at all. I meant I am using an additional locus based caller in order not to miss those variants missed by haplotypecaller padding issue. I want to drop that duct tape solution from my workflows completely.

[2018-04-09 16:10] chandrans opened #4637 "VariantFiltration - log4j:WARN"
User is running VariantFiltration and gets

`log4j:WARN No appenders could be found for logger (org.apache.commons.jexl2.JexlEngine).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

Tagging Chris, as he already helped a bit.

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadins

[2018-04-09 18:38] sooheelee commented on #3697
Ah, so `locus based caller` = `pileup caller` that calls SNVs. Thanks for the clarification. What I am hearing is that you want a more holistic solution from GATK assembly callers so that you do not need to additionally call with a SNP/SNV pileup caller. Those of us on the Communications Team are keen to ensure our developers hear about your needs, given the developers make the decisions on tool f

[2018-04-09 19:52] davidbenjamin commented on #4625
@igordot When you get no PASS variants are you filtering `Mutect2` calls from 4.0.3.0?  What is your command line?  Could you paste a few vcf lines of variants that were PASS in 4.0.2.1 but filtered in 4.0.3.0?  Which filter(s) tends to be most responsible for PASSes getting filtered?

[2018-04-09 19:55] davidbenjamin commented on #4596
Thanks @jnktsj.  I will fix this today.

[2018-04-09 20:00] jnktsj commented on #4596
@davidbenjamin I also found there are two `preemptible_attempts = preemptible_attempts` lines in line 181 and 187. Having these lines wouldn't cause an error, but I just wanted to let you know.
https://github.com/broadinstitute/gatk/blob/b5720472fe025270e410379885cd58fed7b20b77/scripts/mutect2_wdl/mutect2.wdl#L181-L187

[2018-04-09 20:04] #4325 closed

[2018-04-09 20:06] davidbenjamin commented on #4255
@magicDGS is correct; the inputs need to be indexed.

[2018-04-09 20:06] #4255 closed

[2018-04-09 20:09] davidbenjamin commented on #3974
@jamesemery Looks like this has been done.  Re-open if I'm wrong.

[2018-04-09 20:09] #3974 closed

[2018-04-09 20:12] igordot commented on #4625
I actually cross-posted this issue on GATK forums (the actual commands and variants are there also): https://gatkforums.broadinstitute.org/gatk/discussion/11752/filtermutectcalls-change-between-4-0-2-1-and-4-0-3-0

In the meantime, I noticed something else. The variants that were `PASS` with 4.0.2.1 are not labeled as `PASS` with 4.0.3.0, but also not tagged with any failed filters. If I filter fo

[2018-04-09 20:28] sooheelee opened #4640 "Update ModelSegments documentation to describe param table values"
ModelSegments produces the following results files:

1. hcc1143_T_clean.modelBegin.seg
2. hcc1143_T_clean.modelFinal.seg
3. hcc1143_T_clean.cr.seg
4. hcc1143_T_clean.modelBegin.af.param
5. hcc1143_T_clean.modelBegin.cr.param
6. hcc1143_T_clean.modelFinal.af.param
7. hcc1143_T_clean.modelFinal.cr.param

For the `.param` tables, the current documentation does not describe the table rows. The table c

[2018-04-09 20:33] droazen commented on #4325
@davidbenjamin It's actually worth exploring, I think -- with a Spark implementation it is much easier for end-users running the GATK directly to run with multiple cores. Multi-process interval-based parallelism is only trivial when using a pipeline runner.

There is already a beta `HaplotypeCallerSpark` implementation -- it would probably be pretty easy to adapt it to call into a `Mutect2Engine`

[2018-04-09 21:05] jamesemery opened #4641 "Progress Meter should be made Asynchronous"
I have noticed that running print reads with a stringent filter which I expect to only return a handful of reads results in the progress meter never printing any progress. This makes it look like the gatk has hung despite the fact it is chugging away and filtering every read it passes over. This should be updated to include an indication of how many reads have been filtered. Additionally, it shoul

[2018-04-10 11:26] samuelklee opened #4642 "Unexpected behavior for --validation-type-to-exclude argument in ValidateVariants."
Reposting from the Slack channel:

When I run ValidateVariants on an *invalid* VCF without providing a reference or any "--validation-type-to-exclude" arguments, I don't get any validation errors.  However, if I add "--validation-type-to-exclude REF", then I get validation errors as expected.

Even when I get validation errors in the second case, the error message seems to terminate abruptly: `A U

[2018-04-10 12:31] chandrans commented on #4625
@igordot Alright, it seems this is a case of PASS turning into . in 4.0.3.0. David @davidbenjamin if you could confirm, that would be great. Also, it would be nice to get PASS back into the FILTER column instead of .

[2018-04-10 12:51] ldgauthier commented on #4641
+1 from me too. This is a problem with tools that read from genomics DB
when run on large sample sets.

On Mon, Apr 9, 2018, 5:06 PM jamesemery <notifications@github.com> wrote:

[2018-04-10 14:33] davidbenjamin commented on #4596
Thanks @jnktsj, I will fix that, too.

[2018-04-10 14:34] plmanselmo commented on #2696
Has this topic been resolved yet?

[2018-04-10 14:34] chapmanb commented on #4626
David, thanks for the CWL suggestion. As far as I know most CWL runners don't attempt to edit or mount the internal container `/etc/passwd` unfortunately. They do try to match with the external user outside of Docker to avoid file permission issues. Does Cromwell deal with this problem? We're actively looking to make more use of Cromwell for CWL runs. If we could make that happen that would resolv

[2018-04-10 14:42] sooheelee commented on #4641
There is a summary at the end of the standard out on how many reads are filtered.

[2018-04-10 14:53] cwhelan commented on #4635
Hi @jjfarrell,

It's hard to know what might be going wrong in these files. Can you describe how you are running `StructuralVariationDiscoveryPipelineSpark` -- on a local Spark cluster, on GCS dataproc, or in Spark local mode? Can you provide the command line?

Is there anything you can identify as being different about the failing files, maybe from other WGS metrics: higher coverage, high duplica

[2018-04-10 14:53] davidbenjamin commented on #4625
@igordot @chandrans The fix is almost in.

[2018-04-10 14:55] sooheelee commented on #3697
If you will benchmark this @kelepiradam, that would be awesome.

[2018-04-10 15:09] davidbenjamin commented on #4614
Update: the 1000 (okay, 856 to be precise) exomes test passed without a hiccup.  After David R's big HC test PR goes in I will address this.

[2018-04-10 15:24] chandrans commented on #4625
Thanks David. I think we can close this.

[2018-04-10 15:24] #4625 closed

[2018-04-10 15:32] tedsharpe commented on #4635
I agree with all Chris has said, and think that it's very likely that you're running out of memory on the executors.  You might try cutting back on --num-executors, and bumping up --executor-memory.
If you can figure out your adapter sequence, you can specify that as --adaptor-sequence, and sometimes that helps with this stage.
We're laying down asphalt, and you're driving on the hot pavement just

[2018-04-10 16:44] jaideepjoshi commented on #3936
Thanks @AxVE. Works.

[2018-04-10 18:02] #4596 closed

[2018-04-10 19:52] davidbenjamin commented on #4614
They didn't exist -- there were 856 bams in the list.

[2018-04-10 19:59] sooheelee commented on #4614
Another option to consider is to force people to choose one or the other qual model with conscious thought by making the parameter default null.

[2018-04-10 20:58] #3995 closed

[2018-04-10 21:36] lbergelson commented on #4614
I'm against making people think if the right answer is "use newQual"

[2018-04-11 14:02] davidbenjamin opened #4647 "Emit MNPs as single event in Mutect2"
In order to make Funcotator's life easier, among other reasons, M2 should emit MNPs as eg `AT -> CG` and not as two separate SNVs.  That is, of course, if the two substitutions are in fact in phase.

This probably involves going into `EventMapper`.

@LeeTL1220 @jonn-smith I expect this not to take very long.

@ldgauthier Is this relevant to HaplotypeCaller?

[2018-04-11 14:09] ldgauthier commented on #4647
The MacArthur lab has dealt with this by using our PID/PGT tags and post processing.  If we did it for them it would probably be appreciated.

Full disclosure: we don't have 100% sensitivity to adjacent phased SNPs with PID/PGT because the phasing heuristic requires cis-phase variants to be on ALL the same haplotypes, which breaks down occasionally in messy regions and some other scenarios.

[2018-04-11 14:13] jonn-smith commented on #4647
Works for me.  It will be completely transparent to Funcotator - it already handles MNPs.

[2018-04-11 14:34] cwhelan opened #4648 "Error in StructuralVariationDiscoveryPipelineSpark: invalid interval in CpxVariantInterpreter"
Several of our HGSV snapshot samples are failing with current master due to an exception in `CpxVariantInterpreter`. For example, sample HG00732 fails with this stacktrace:

[code]

[2018-04-11 14:34] cwhelan commented on #4648
@SHuang-Broad any thoughts?

[2018-04-11 14:41] sooheelee commented on #4614
Could be a temporary solution, as folks segway to newQual.

[2018-04-11 15:24] droazen commented on #4614
@davidbenjamin Out of curiosity, how were the 856 outputs evaluated? Did you check concordance against GATK3.x? If so, which fields were included in the concordance check? Did you keep track of runtimes? (I'd be curious to know if any particular inputs were outliers in overall runtime).

Also, would you mind pasting the full `HaplotypeCaller` command you ran with here? (including `-Xmx`, etc.). Th

[2018-04-11 15:40] davidbenjamin commented on #4647
Here's my proposed solution.  We break haplotypes into variant alleles in `EventMapper`, which loops over all the CIGAR elements of the haplotype versus the reference.  The code for SNPs and MNPs is lines 125 - 144 of EventMap.java, which I translate into pseudocode below:
[code]
I propose adding an optional parameter `treat-mnps-as-single-event`, to be hooked up to any `AssemblyRegionWalker`, tha

[2018-04-11 15:48] sooheelee commented on #4647
Will this feature allow for a cutoff to discount potential low-level sequencing artifacts that generate haplotypes that don't make sense?

[2018-04-11 16:16] cwhelan commented on #4648
HG00731 fails with a similar error:

[code]

[2018-04-11 16:28] ldgauthier commented on #4614
@droazen are you worried that the Palantir HC 3v4 evaluation didn't include enough samples?

GATK 3.6(?) GVCFs for comparison are here: /seq/tng/methodsdev/data/sample_vcf/<project>/Exome/Homo_sapiens_assembly19/<sample>.<date>_<time>.vcf.gz  I can't remember if they use the old, crappy rank sum representation that I abandoned.

It would probably be relatively quick to re-run @skwalker 's comparis

[2018-04-11 16:52] davidbenjamin commented on #4647
@sooheelee I don't see, at least not immediately, how artifacts would be more of a risk than they are already.  If anything I could see this making it a bit harder for false positives to get by.

[2018-04-11 18:12] ldgauthier commented on #4614
@davidbenjamin did you use /seq/references/Homo_sapiens_assembly19/v1/variant_calling/exome_calling_regions.v1.interval_list for your calling intervals?  I'm seeing some discrepancies in really high QUAL variants.  And your genotypes don't have DP for some reason.

[2018-04-11 18:33] davidbenjamin commented on #4614
@ldgauthier I used /seq/references/Homo_sapiens_assembly19/v1/variant_calling/exome_evaluation_regions.v1.interval_list.

@droazen My command line was
[code]

Here's a histogram of total runtime in minutes minus pairHMM time minus Smith-Waterman time:
![times](https://user-images.githubusercontent.com/8438890/38636048-2a4e2d34-3d95-11e8-9988-68d4e705aa21.png)

[2018-04-11 18:48] davidbenjamin commented on #4614
@ldgauthier I have no idea about the DP.  All I did was build master and run with new-qual!

[2018-04-11 19:11] ldgauthier commented on #4614
The DP discrepancy is on me: I forgot that it's in its own special group with the ClippingRankSum annotation.  So the appropriate annotation args are actually `-G StandardAnnotation -G AS_StandardAnnotation -G StandardHCAnnotation`, but that's not a reason to rerun the data.

[2018-04-11 19:27] ldgauthier commented on #4614
For my HaplotypeCaller runs CHMI_CHMI3_Next1 took 2.71 CPU-hours, the mean over the largest callset was 11.8 CPU-hours and the median was 4.8 CPU-hours, so I probably have a long tail like David's.  Although that's from a superset of David's samples.

[2018-04-11 20:33] cwhelan opened #4649 "Error in StructuralVariationDiscoveryPipelineSpark: UnhandledCaseSeen in CpxVariantInterpreter"
When run with the current master build against our snapshot HG00514 sample, the experimental variant interpretation pipeline fails with the following exception:

[code]

[2018-04-11 20:34] cwhelan commented on #4649
@SHuang-Broad any thoughts on this one?

[2018-04-12 12:55] magicDGS opened #4651 "GATKTool inconsistencies for implementations"
I found some edge cases when implemented a new walker based on GATKTool that should  be considered in the base class to avoid some mistakes by developers. They should either being correctly handled or documented as not-applicable for some walkers:

- [ ] If a tool/walker overrides getPluginDescriptors to remove the `GATKReadFilterPluginDescriptor`, the method `makeReadFilter` will not return a fil

[2018-04-12 14:52] jonn-smith opened #4654 "Funcotator - Update documentation"
Documentation for Funcotator needs to be updated to be consistent with current functionality.

[2018-04-12 15:10] davidbenjamin commented on #4614
@droazen Here are the five slowest bams according to non-pairHMM and non-Smith Waterman time.  With the exception of one these are *also* the five slowest according to total HaplotypeCaller time.

| bam | time, excluding pair HMM and Smith-Waterman, in minutes | total HC time (minutes)|
| -- | -- | -- |
|/seq/picard_aggregation/C1468/09C82222/v1/09C82222.bam|269|505|
|/seq/picard_aggregation/C1710

[2018-04-12 19:53] ldgauthier commented on #4614
That's not an entirely fair comparison because DEASD_0384_001 is on fargo.  @davidbenjamin can you run a `readlink -f` on your paths and take the slowest over the on prem (if there are any left)?

[2018-04-12 20:25] yoshim7910 opened #4657 "Bug report:HaplotypeCaller haploid GVCF format error?"
I prepared a clean Bam file following GATK Best Practice and used GATK4 HaplotypeCaller to create a gvcf with ploidy1 option:

'''
gatk-4.0.2.1/gatk HaplotypeCaller --native-pair-hmm-threads 24 -I KU_filtered_sorted_mdup.bam -O HC.KU.raw.snps.indels.g.vcf -R ref.fasta -ploidy 1 --emit-ref-confidence GVCF
'''

When I validated the gvcf, ValidateVariants threw errors at the end:

'''
<br />11:27:55.

[2018-04-12 23:16] cmnbroad commented on #4657
Hi @yoshim7910- can you post the full path name of the location where the input variant file was ? It looks like it probably contains a character that isn't legal in a URI.

[2018-04-12 23:55] yoshim7910 commented on #4657
Hi @cmnbroad - Here is the location and full command used:

'/home/yoshi/GATK/gatk-4.0.2.1/gatk' ValidateVariants -R '/media/yoshi/My Book/Aet_v4.0_ChrSeqSplit/Aet_v4.0_ChrSeqSplit.fasta' -V '/media/yoshi/My Book/Aet_v4.0_ChrSeqSplit/HC.KU-2103.raw.snps.indels.g.vcf' -gvcf

Many thanks

[2018-04-13 01:06] yoshim7910 commented on #4657
Hi @cmnbroad - I removed a space in the path and re-ran ValidateVariants. It went through throwing no errors. Many thanks.

[2018-04-13 01:06] #4657 closed

[2018-04-13 09:31] davidbenjamin commented on #1869
Modeling PCR stutter is better done with Valentin's approach, or in BQSR, or with deep learning.  Making pairHMM fancier is not the answer.

[2018-04-13 09:31] #1869 closed

[2018-04-13 09:39] davidbenjamin commented on #2945
Finally ready to close for two further reasons:

* After David R taught me how to use the profiler I was surprised to see that assembly in M2 is twice as expensive as pairHMM, so post-assembly optimizations aren't so valuable.
* Any issue of spurious or wasteful haplotypes could be addressed more elegantly using a string graph for assembly.

[2018-04-13 09:39] #2945 closed

[2018-04-13 12:14] cmnbroad commented on #4343
Also reported in #4567 due to a space character.

[2018-04-13 15:24] droazen commented on #4614
I imagine that @skwalker's scripts could be adapted for the task -- I'll try to set up a meeting with her next week to discuss.

[2018-04-13 15:29] droazen commented on #2960
@cwhelan mentioned that he plans to take a stab at fixing this, so I've added him as a tentative co-assignee. He'll send it back to us if the fix proves too hairy.

[2018-04-13 15:33] cwhelan commented on #2960
It would be nice if the fix also worked for genotype-given-alleles mode in the case where you are given a spanning deletion and a SNP to genotype in the input alleles. I will try to make sure that works.

HC GGA mode will, I guess, not really return the right result if the input alleles include only the SNP but not it's spanning deletion.

[2018-04-13 16:15] cmnbroad opened #4658 "VariantAnnotatorEngine improvements/optimizations"
VariantAnnotatorEngine currently takes a list of FeatureInputs, and creates a FeatureDataSource from scratch for each expression, causing it to reparse the entire header for each resource for each expression. FeatureManager already has the required headers.

Also, I think all of the comments @magicDGS made in [here](https://github.com/broadinstitute/gatk/issues/3287#issuecomment-316077922) should

[2018-04-13 16:58] droazen commented on #2584
One very simple way to do this would be for `GenotypeGVCFs` to simply invoke `CombineGVCFs` directly upon initialization when multiple inputs are specified. We should consider doing this as a quick way of restoring this functionality, as several users have requested this.

[2018-04-13 17:18] droazen commented on #3287
@jamesemery Can you hand off your branch for the last piece of this ticket to @cmnbroad?

[2018-04-13 17:19] sooheelee commented on #2584
Yes, one such user's request is at https://gatkforums.broadinstitute.org/gatk/discussion/comment/47849#Comment_47849.

[2018-04-13 22:55] cmnbroad commented on #4651
@magicDGS My take on these: I think the read filter plugin descriptor shouldn't be removed, since it also does filter merging, header propagation, etc. which need to be done even if you want to disable user command line control. (Also, if you remove it I would expect you'd get an NPE). So I would say that we should update the doc to say that you shouldn't remove it from the list, and should overri

[2018-04-15 11:27] magicDGS opened #4659 "Proposal: update gradle to 4.6"
This can improve some build configurations for GATK (ony noted the ones in 4.6, but not previos ones):

* `failFast` property for test tasks. This would be useful for PRs
* Declare reasons for dependency resolution rules and constraint dependencies. This could be useful for explaining why some dependencies are not the latest (e.g., protobuf).
* Allow options in the command line. This could be nice

[2018-04-15 21:55] jjfarrell commented on #4635
Thanks for the suggestions! The SV jobs are all running fine with no hanging after increasing the memory.  The commandline below completed on 100 30x crams without any issues.

[code]

[2018-04-15 23:53] jjfarrell commented on #4626
Would Singularity a possible solution to this issue? It deals with the root issue to run container images on HPCC.  There are tools to pull a docker image to a singularity image.

https://singularity.lbl.gov/about
https://github.com/singularityware/singularity

[2018-04-16 06:38] magicDGS opened #4660 "Main.getClassList does not allow to include single picard tools"
For downstream projects, there is a way to bundle single class files into the toolkit by adding them to the `Main.getClassList`; nevertheless, this only allows to include classes extending the `org.broadinstitute.hellbender.cmdline.CommandLineProgram`. For including a tool from picard, the only way is to add a whole package where `picard.cmdline.CommandLineProgram` extensions are located.

Either

[2018-04-16 06:39] magicDGS commented on #4660
The option of a common class would be useful also to get rid of the decorator around picard tools (`PicardCommandLineProgramExecutor`)

[2018-04-16 07:25] magicDGS commented on #4101
I would like to have this feature for a new project that will rely on the built-in walkers of GATK. The main problem that I am facing is while grabbing the info from the METAINF file.

For fixing this, I have a proposal:

* Create a new interface with the single method to print the startup message
* Create a base-class with the current code in GATK, which can be extended to override some parts of

[2018-04-16 14:42] chapmanb opened #4661 "GenotypeLikelihoodCalculators ArrayIndexOutOfBoundsException with HaplotypeCallerSpark"
I'm running in intermittent issues when running HaplotypeCallerSpark with GATK 4.0.3.0 and was hoping to generate ideas to debug further. The underlying error is an index error when calculating likelihoods:
[code]
I've been unable to generate a reproducible test case. Re-running on the same machine (Amazon m4.4xlarge instances with 16 cores and 64Gb of memory) works. I've seen the error on two dif

[2018-04-16 15:19] chapmanb commented on #4626
Thanks for the thoughts. Singularity is definitely awesome and I'm hoping to support it as an alternative choice to Docker for local HPC clusters where we won't require equivalent root permissions to run. So it helps avoid some of the potential external permission errors by creating a potentially cleaner path to running. Unfortunately it doesn't deal with the underlying issue of needing to map use

[2018-04-17 05:55] bluesea2017 opened #4662 "Mutect2 gatk-4.0.2.1 results are not same with gatk 3"
Hi,
  We used mutect2 gatk-4.0.2.1 and compared results the older results, theare are 16 samples then the filter  results are different with older more than 90%.

 where are differences between with the two versions?

Thank you !

[2018-04-17 08:08] flinz commented on #4578
Can confirm that this fixed the same issue for me.

[2018-04-17 13:52] cmnbroad commented on #4660
@magicDGS We already plan to add the common CommandLineProgram interface as described in (broadinstitute/barclay#127). I think that makes a lot more sense than adding more new methods for this. The existing PR for it is out of date though, since there is more and more common functionality that could be pushed up into the common base (beta/experimental decoration, tool registry, etc.).

[2018-04-17 13:59] magicDGS commented on #4660
I agree with the common functionality, but the PR aims to set the less constraints as possible for the custom implementations. Let me know here or in https://github.com/broadinstitute/barclay/issues/127 the functionality to be common in the base class, and I can work on an updated PR for it.

[2018-04-17 14:17] chandrans opened #4665 "Error in Mutect2"
A couple of users have reported errors with --disable-tool-default-read-filters. Is this expected? This user says the tool runs without that flag.

----
User Report
----

I just encountered this error in Mutect2:

Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx4g -jar /

[2018-04-17 15:17] lbergelson commented on #4659
Any reason not to go straight 4.6?

[2018-04-17 19:40] chandrans opened #4667 "Allow GenomicsDBImport to store previous database"
I think this user sums it up nicely:

"Unless I am missing something, the current set up in GATK 4.0 is not ideal for routine sequencing. First, I need to combine all animals every time a new batch of data is added (rather than adding a batch to existing database). Second, if I decide to use combineGVCFs in GATK 4.0, I have to run it twice, first to combine the new cohort, then to combine the new

[2018-04-17 19:42] #3771 closed

[2018-04-17 20:14] jonn-smith opened #4668 "Funcotator should ignore transcript versions from data sources"
Currently funcotator does not ignore transcript versions when matching data sources on TRANSCRIPT_ID.  It should do this.

The fix should be in the XSV parser.

[2018-04-18 00:50] davidbenjamin commented on #4578
@flinz Thanks for confirming!

[2018-04-18 07:32] Leornardzhou opened #4669 "Execution of "git lfs pull --include src/main/resources/large" failed with exit code: 1"
""""
 gatk]# ./gradlew
Downloading https://services.gradle.org/distributions/gradle-3.1-bin.zip
............................................
Download https://repo1.maven.org/maven2/commons-codec/commons-codec/1.6/commons-codec-1.6.jar
Executing: git lfs pull --include src/main/resources/large

FAILURE: Build failed with an exception.

* Where:
Build file '/data/md1/zhouyajun/biotools/gatk/gatk/bui

[2018-04-18 08:37] magicDGS commented on #4669
Do you have the [build requirements](https://github.com/broadinstitute/gatk#requirements) installed? Concretely, [git lfs](https://git-lfs.github.com/) might not be there and thus the command is failing. This is just a guess...

[2018-04-18 12:04] cmnbroad commented on #4669
If you just want to install (as opposed to build), you can download a [release .zip or .tar](https://github.com/broadinstitute/gatk/releases) directly.

If you want to build, then as @magicDGS suggested, you need to have git-lfs installed. If you already have that, I would try manually running the command `git lfs pull --include src/main/resources/large` from the root of the repo clone and see if

[2018-04-18 12:57] droazen commented on #4665
@chandrans I agree with @cmnbroad. In GATK4 we allow users the freedom to disable all built-in read filters via `--disable-tool-default-read-filters`, however users should really know what they're doing when they run with that option. Most tools require reads to be well-formed (and therefore the `WellformedReadFilter`), and `Mutect2` definitely requires the `MappedReadFilter` in order to function

[2018-04-18 12:57] droazen commented on #4665
Closing -- works as intended.

[2018-04-18 12:57] #4665 closed

[2018-04-18 13:23] cmnbroad opened #4672 "CombineGVCFs --break-bands-at-multiples-of can generate invalid intermediate intervals"
This happens whenever the start position of an interval for which intermediate bands must be created is less than the value `of break-bands-at-multiples-of`. For example, an input reference block record with a `start` position (say 1) that is less than the value of `of break-bands-at-multiples-of` (say 10000) would result in the invalid intermediate band interval:
[code]
This doesn't happen in GAT

[2018-04-18 14:30] chandrans commented on #4665
Okay. Thanks. I will refer user to this thread. I also saw you made the flag an advanced argument, so hopefully that will help.

[2018-04-18 14:45] lbergelson commented on #4659
Heh, no problem, it's easy to make a mistake like that.  I have [a branch](https://github.com/broadinstitute/gatk/tree/lb_update_to_gradle_4.6) that I've working to get 4.6 on.  Gradle 4+ changes the log output and it interacts badly with travis.  I've been trying to figure out the solution, but I keep running into different dumb typos and things so it's going slowly.  I think it's pretty close no

[2018-04-18 18:25] jjfarrell commented on #4626
@chapmanb  Singularity's default configuration has a line "config passwd = yes" and that will create a user entry in the /etc/passwd automatically. So it I understand the issue, spark would automatically   find the user running the container in the /etc/passwd file.

[2018-04-18 18:50] jamesemery opened #4675 "Tie Out MarkDuplicatesSpark Compared to Picard Mark Duplicates Output"
MarkDuplicates Spark output needs to tested against the version of picard they use in production to ensure that it produces identical output and is reasonably robust to pathological files. This requires that the following issues have been resolved:
#3705
#3706

[2018-04-18 18:56] tedsharpe commented on #4635
Great news.  Hope you turn up some interesting SVs.  I'll close the issue for now.

[2018-04-18 18:56] #4635 closed

[2018-04-18 19:38] chapmanb commented on #4626
Wow, brilliant, thanks for the heads up on this feature. That sounds perfect and would definitely sort us out on systems using Singularity. Thanks again for letting me know this will be much less painful with that approach.

[2018-04-19 02:09] cxfustc commented on #4325
Thank you for replying!
I have parallelized the GATK4 Mutect2 using thread pools in Java. I tested the parallelized GATK4 Mutect2 using a WGS data with control. The result came out that, about 0.6% variants were different from the original results. I found that the difference was caused by the random number generator in ReservoirDownsampler. The order of the input intervals after parallelism were

[2018-04-19 02:48] Leornardzhou commented on #4669
THX all!
The problem is that I did not install "git lfs"  @magicDGS

[2018-04-19 05:54] magicDGS commented on #4669
Nice that it worked out, @Leornardzhou!

[2018-04-19 12:09] stefandiederich opened #4679 "Error in gcnv kernel of DetermineGermlineContigPloidy"
Dear Sir or Madame,

I am testing the germline CNV tools (GATK version 4.0.3.0). I know it is still in beta but maybe you can tell me what this error is about.

[code]

I also know that I should post errors in the GATK forum, but when I do this I get the following error message :
``` { "Code": 403, "Exception": "You need the Garden.Community.Manage permission to do that.", "Class": "Gdn_UserExcept

[2018-04-19 12:28] samuelklee commented on #4679
Hi @stefandiederich,

My guess is that you may have created your GATK conda environment with an older version of the GATK that did not include the changes to the `PloidyModelWriter`.  Can you try creating a new conda environment with 4.0.3.0 and re-running?

@vdauwera @sooheelee @chandrans Any idea what the forum error message is about?

[2018-04-19 12:37] stefandiederich commented on #4679
Hi @samuelklee
yes you are right, I did not recreate the conda environment when updating to 4.0.3.0. I'll try that and give you a feedback. Do you know the state of developement of the germline CNV best practise or a short manual?

[2018-04-19 13:32] stefandiederich commented on #4679
Hi @samuelklee
I updated my conda environment and it worked now.
Sorry again for posting the error in github and not in the gatk forum, hopefully next time it will work.

Thanks again
Stefan

[2018-04-19 13:33] sooheelee commented on #4679
As our forum gets updates from Vanilla, sometimes we get new and unexpected glitches. These are typically ironed out fairly quickly. @tmm211 is handling Vanilla forum issues these days. Sorry for your error @stefandiederich.

[2018-04-19 15:25] samuelklee commented on #4679
@stefandiederich We are finalizing some hyperparameter optimizations and will have some results and recommendations to share within ~1 month.  You may find some preliminary recommendations for WES in this forum thread: https://gatkforums.broadinstitute.org/gatk/discussion/11711/germlinecnvcaller-interval-merging-rule-error

Once our optimizations are finalized, @vdauwera and her team will put toge

[2018-04-19 15:25] #4679 closed

[2018-04-19 15:28] sooheelee opened #4683 "ModelSegments number-of-smoothing-iterations-per-fit option either is misnamed or does not work as name implies"
Discovered in v4.0.1.1, recapitulates in v4.0.3.0. ModelSegments `--number-of-smoothing-iterations-per-fit` option default is 0 and accepts any integer I give it.

![screenshot 2018-04-19 09 54 13](https://user-images.githubusercontent.com/11543866/38995751-9c85f3d2-43b7-11e8-84be-4793da9c123f.png)

However, the number of smoothing iterations changes only when the parameter is set to one. It does

[2018-04-19 15:35] samuelklee commented on #4683
@sooheelee Are you sure that smoothing doesn't always converge before we can see different behavior for your test data?  How many iterations of smoothing do you get when you set this parameter to 0, and how many do you get when you set it to 1?  (It might be helpful to post a condensed version of the stdout.)

This parameter is not meant to be a boolean.  If it is set to N > 0, then at most N smoo

[2018-04-19 15:42] droazen commented on #4626
@chapmanb I would file an issue in the cromwell repo and see if they could add a similar feature to auto-populate `/etc/passwd` within the docker container.

[2018-04-19 16:05] davidbenjamin commented on #4614
@ldgauthier Just checked; they're all on fargo.

[2018-04-19 16:51] sooheelee commented on #4683
@samuelklee, if set to 0, 2, 5 or 25 we get:
[code]

If set to 1, we get:
[code]

[2018-04-19 16:57] samuelklee commented on #4683
Yes, that seems to be working as intended.  You'll see that in your first log, the following lines indicate that convergence has been reached after 2 iterations:

`
09:40:44.924 INFO  MultidimensionalModeller - Smoothing iteration: 2
09:40:44.924 INFO  MultidimensionalModeller - Number of segments before smoothing iteration: 398
09:40:44.924 INFO  MultidimensionalModeller - Number of segments afte

[2018-04-19 18:36] samuelklee commented on #4683
@sooheelee By the way, can we avoid using "ACNV"?  Let's just call this tool ModelSegments to distinguish it from the old GATK CNV -> GATK ACNV pipeline.

[2018-04-19 18:37] samuelklee commented on #4683
Oops, accidentally closed.  But let me know if you think action needs to be taken.  We can expand the documentation to further explain the intended behavior, if you like.  If not, feel free to re-close.

[2018-04-19 20:05] sooheelee commented on #4683
So behavior when disabled (parameter set to 0) and when set to 2 or above gives the same results for my data where smoothing iterations you say plateau at two iterations. When set to 1, the smoothing iterations increase to seven and this is the only other alternative result one can expect for this data. It is somewhat counter-intuitive. But given @samuelklee says this is the expected behavior for

[2018-04-19 20:06] sooheelee commented on #4683
I actually didn't (consciously) add that `ACNV` label! Huh, must have been an accidental button push as I was moving my laptop around.

[2018-04-19 20:08] #4683 closed

[2018-04-19 20:40] tmm211 commented on #4679
@stefandiederich a patch went out to fix this at 10 AM this morning. Can you confirm you are no longer having trouble posting?

[2018-04-19 20:54] #4648 closed

[2018-04-19 22:30] cmnbroad commented on #4101
@magicDGS  I'd much prefer to keep this as simple as possible. It should be fairly easy to introduce a shim layer between the GATK walker classes and your tool classes that overrides whatever methods you'd like to customize. We can certainly consider changing the way the CommandLineProgram methods are factored if that helps.

[2018-04-20 05:43] stefandiederich commented on #4679
Good morning :-)
@samuelklee
Thanks for the link to the preliminary parameter. I will try them!

@tmm211
Just tested the posting function on gatk main page. The error seems to be solved. Thank you!

[2018-04-20 06:35] magicDGS commented on #4101
@cmnbroad - I am not concern about the methods, because they are perfectly configurable, and actually this issue is not that important for some of my projects (e.g., `ReadTools`), which does not use the base walker clases from GATK. Nevertheless, I guess that what @droazen is suggesting is quite important and I appreciate the interest for making better the downstream toolkits integration.

Here, a

[2018-04-20 12:53] SHuang-Broad opened #4684 "Port SV call set eval bash scripts to java tool(s)"
As the scripts evolve to be more and more complicated,
it is time to plan a transition from scripts to a Java tool in GATK.

Following the structure that is set up by the scripts in PR #4406 ,
the 1st stage development could be:

1. parse and check the call sets emitted by callers; basically this is to make sure the tool won't be "surprised" by the call sets' "features" (bash scripts do this)
2. s

[2018-04-20 13:30] cmnbroad commented on #4572
The fix for this issue is merged, but there are a couple of PRs for related issues (https://github.com/broadinstitute/gatk/pull/4680 and https://github.com/broadinstitute/gatk/pull/4681) that should be merged before we do a release.

[2018-04-20 17:40] mmokrejs opened #4685 "Please fix the broken 3.8-1 release with wrong pom.xml"
Hi,
  first of all, I find it very awkward that after 3.8 release there is 3.8-1. Why the dash instead of a dot, as usual? It only complicates automated package downloads which in general work with numbers separated by dots. You just mix together two schemes. Is that really necessary?

  Anyway, the pom.xml is broken:

[code]

[code]

Please make a new release, preferably 3.8.2 which unpacks as us

[2018-04-20 17:50] droazen commented on #4685
@mmokrejs The 3.8-1 pom is not broken -- I just checked out and built it myself without error.

It looks to me like you are building from an unclean working tree with an unresolved merge conflict, since there are conflict markers in your copy of the pom:

[code]

You should ensure that you have a clean checkout of `3.8-1` by running `git checkout -f 3.8-1` in your clone.

[2018-04-20 18:01] mmokrejs commented on #4685
But I used your tar.gz file from github. There are about 12 pom.xml  broken in the same way.

``
$ sha1sum -b /usr/portage/distfiles/gatk-3.8-1.tar.gz
a47f211d1a34ccd52cf2b60a564e8cf348b9b618 */usr/portage/distfiles/gatk-3.8-1.tar.gz
[code]

[2018-04-20 18:05] mmokrejs commented on #4685
Actually I still have in xterm buffer the source:

[code]

[2018-04-20 18:05] droazen commented on #4685
@mmokrejs You need to actually `git clone` the gatk repo -- building directly from the `.tar.gz` is not supported.

[2018-04-20 18:33] mmokrejs commented on #4685
@droazen No way, the broken merge is comitted to the git tree, please check yourself. Probably all pom.xml files are affected.

[2018-04-20 18:49] droazen commented on #4685
@mmokrejs Had a look just now, and it appears that the `3.8-1` tag in the `broadgsa/gatk` repo is pointing at the wrong commit. It should be pointing at the latest commit on master (`41147a655594c2aae6e2cad8462bd1648570b32b`, which has the correct versions of the poms), and *not* at `1b984c10417b8d480a1d26ad9683437c0a45e77a`, which is indeed broken.

I'll ask someone to fix the tag, but for now yo

[2018-04-20 18:56] mmokrejs opened #4686 "gatk-3.8: rm: missing operand"
Hi,
  doring compilation of 3.8 sources I get

[code]

I have no idea whether it breaks something downstream but provided building fails for me later with

[code]

it could be the cause.

[2018-04-20 18:57] mmokrejs commented on #4686
Full build.log.txt is here
[build.log.txt](https://github.com/broadinstitute/gatk/files/1933298/build.log.txt)

[2018-04-20 19:00] droazen commented on #4686
@mmokrejs Please try running `mvn clean`, and then repeating the build.

[2018-04-20 19:07] mmokrejs commented on #4686
Will try. Meanwhile let me say that with 3.8-1 as of commit `41147a655594c2aae6e2cad8462bd1648570b32b` there is still the

[code]
but building succeeds (without `mvn clean`).

[2018-04-20 19:14] mmokrejs commented on #4686
`mvn clean` did not help although I do see its output logged properly. Let's ignore the `external-example` build issue as it is not present in 3.8-1 (as I managed to build it now). I care therefore only about the `rm: missing operand` message.

[2018-04-20 19:27] mmokrejs commented on #4686
OK, but would you mind using `rm -f` in future?

[2018-04-20 20:18] mmokrejs opened #4687 "Execution of "git lfs pull --include src/main/resources/large" failed with exit code: 2"
Hi,
  I am trying to build from gatk-4 master sources. I received this error code `2` admitedly when I had no git-lfs installed. Now it is installed and in my PATH, but the error still occurs. Can't you capture the real error message?

[code]

[code]

Did I `chdir` into the proper directory?

[2018-04-20 20:43] droazen commented on #4687
It looks like the underlying error is "No default remote / No remotes defined". What does `git remote show origin` output? If it doesn't show the URL of this repo under "Fetch URL" and "Push URL", then your git clone was not created correctly. In this case, you should re-clone the repo using a command like `git clone https://github.com/broadinstitute/gatk.git gatk`

[2018-04-20 21:00] mmokrejs commented on #4687
[code]

Hmm, here is the full log, actually I see some shared library errors at the top. Grr, I have `ncurses-6` library only. Why doesn't the build system die immediately upon an error? Anyway, this is exactly why Gentoo does not like executing zillions of evil jar files and other executables. As I said in the past, the step away from Apache ant build system is a very bad decision.

You can see i

[2018-04-20 21:08] droazen commented on #4687
@mmokrejs It appears that you are not cloning our repository using `git clone` before building. Instead, you are just running `git fetch`:

git fetch https://github.com/broadinstitute/gatk.git +HEAD:refs/git-r3/HEAD

You need to create a proper clone of our repository using the command `git clone https://github.com/broadinstitute/gatk.git gatk`, as I mentioned above.

[2018-04-20 21:14] mmokrejs commented on #4687
Thank you, I will need to study how to change the ebuild file so that it would do the `clone` command , which is supported: https://devmanual.gentoo.org/eclass-reference/git-r3.eclass/index.html . Thank you for your analysis. Seems this was an issue with the gatk-3.8 source tree.

[2018-04-20 21:16] droazen commented on #4687
Closing as resolved

[2018-04-20 21:16] #4687 closed

[2018-04-21 20:47] chandrans commented on #4343
And with ^ as well. https://gatkforums.broadinstitute.org/gatk/discussion/11848/gatk4-genotypegvcfs-does-not-support-caret-symbol-in-filenames

[2018-04-22 02:15] davidbenjamin opened #4689 "This variant definitely shouldn't pass M2 filtering"
From our normal-normal validation.  Some irrelevant annotations removed.

[code]

[2018-04-22 15:00] jason-weirather commented on #4521
Hi @jonn-smith I had some success getting outputs with this.  However ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/funcotator/ is no longer accessible.  The most recent version of I accessed on 3/19/2018 still contained at least one error.  I'm trying to correct them myself as I go using a more recent build of GATK but it would be helpful if the data files required by this program were

[2018-04-22 18:56] jonn-smith commented on #4521
@jason-weirather Interesting.  I have no trouble accessing the FTP site from outside the Broad.  What kind of error message are you getting?

There is a new version from 3/29 that has several fixes in it, in addition you'll need to make sure you have the latest GATK code (you may need to pull the source code rather than a release - I'm not sure when the last release was and some fixes required bot

[2018-04-22 20:16] jason-weirather commented on #4521
Thanks @jonn-smith for the quick reply.  I think it was a browser or network issue on my end blocking me from the ftp before.  I tried again and got the new file.

ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/funcotator/funcotator_dataSources.v1.2.20180329.tar.gz

This is working for me strait out of the box.  I am using the newest gatk by building the docker image.

Its not as many `__

[2018-04-23 00:26] jonn-smith commented on #4521
@jason-weirather No prob.

I'm glad it's working a little better.  Some of those `__UNKNOWN__`s are expected because there's no annotation source / value for them (like for `Center` and some of the other early annotations).  I'm not sure about some of the others, though.

FYI - I'll take a closer look tomorrow, but I put your data into Excel to line up the columns and it became misaligned which ma

[2018-04-23 02:00] chandrans commented on #4614
Hi everyone. I am wondering if using newQual in GenotypeGVCFs is okay if the user did not specify it in HaplotypeCaller?

[2018-04-23 14:01] wangyugui opened #4691 "[GenotypeGVCFs]FORMAT/AD is outputed as '0,0' when FORMAT/GT is 0/1 or 1/1"
Hi,

FORMAT/AD is outputed as '0,0' when FORMAT/GT is 0/1 or 1/1 in the output VCF file of GenotypeGVCFs.

FORMAT/AD is OK when FORMAT/GT is 0/0;

GATK version:4.0.3.0

VCF samples
[code]

[2018-04-23 14:04] wangyugui commented on #4691
command line:
[code]

[2018-04-23 16:27] ldgauthier commented on #4614
Totally fine.  The QUAL score in per-sample GVCFs gets ignored and recalculated in GenotypeGVCFs.

[2018-04-23 18:01] droazen opened #4692 "Funcotator: don't parse README.txt, use a manifest instead"

[2018-04-23 18:07] droazen opened #4693 "Funcotator: deal with delimiters in data for output formats"
Eg., need to escape or otherwise deal with `;`, `,`, `|`, etc. characters in datasource values when writing to VCF.

[2018-04-23 18:52] SZLux opened #4694 "PathSeq java.lang.IllegalStateException: unread block data (again)"
I have been trying to run the tutorial ( https://gatkforums.broadinstitute.org/gatk/discussion/10913/how-to-run-the-pathseq-pipeline ).

When running without the --spark-master the turoail runs smoothly. Bu twhen I try my spark master I get an error.

I downloaded SPARK 2.2.0 with hadoop 2.7.3
Java is 1.8.0_131
I set the java classpath (I think correctly)
I am aware of this thread: https://github.

[2018-04-23 20:03] droazen commented on #4662
@davidbenjamin Care to take this one?

[2018-04-23 20:25] davidbenjamin commented on #4662
@bluesea2017 How are you running M2 in GATK 3 and GATK 4 ie what are your command lines?

[2018-04-23 20:29] ldgauthier commented on #4691
This is behavior that GATK3 would exhibit because the Standard annotation group gets dropped when another group is specified. Is that also the case in GATK4 @jamesemery ?

Also note that allele-specific annotations won't be output by GenotypeGVCFs if there are no allele-specific annotations in the input GVCFs.  (https://gatkforums.broadinstitute.org/gatk/discussion/9622/allele-specific-annotation-

[2018-04-23 20:31] mwalker174 commented on #4694
Hello @SZLux,

This looks suspiciously like #3050. I suspect this isn't a PathSeq issue, but to be sure can you please try to run another GATK Spark tool such as CountReadsSpark? If that does not work, it's likely an issue with your configuration or Spark/Java versions being incompatible.

What kind of environment are you running in? My suspicion is you are running on a cluster and have the correc

[2018-04-23 21:02] SHuang-Broad commented on #3431
closed by #4330 sometime ago.

[2018-04-23 21:02] #3431 closed

[2018-04-23 21:06] SHuang-Broad commented on #3529
obsolete now as we switched to a different strategy: contigs that used to trigger InvDup calls are now classified as "incomplete" because the duplicated region could not be inferred reliably from the contig's alignments alone

[2018-04-23 21:06] #3529 closed

[2018-04-23 21:08] SHuang-Broad commented on #2405
fixed by #4322

[2018-04-23 21:08] #2405 closed

[2018-04-24 10:39] heliac2000 opened #4696 "[CNNScoreVariants] A timeout ocurred waiting for output from the remote Python command"
In GATK 4.0.3, add `tensorflow-gpu==1.4.0` to `gatkcondaenv.yml `and create a conda environment.

    $ conda env create -n gatk_gpu -f gatkcondaenv.yml

Activate this environment and execute GATK CNNScoreVariants(1D model).

    $ gatk-4.0.3.0/gatk --java-options '-Xmx8G -DGATK_STACKTRACE_ON_USER_EXCEPTION=true' CNNScoreVariants -V INPUT_VCF -R REF -O OUTPUT_VCF

Then, GATK outputs the following:

[2018-04-24 12:44] SZLux commented on #4694
Hi mwalker174. I tryed with  CountReadsSpark, same problem indeed.

I do not think it is a java version problem, as without the option --spark-master the software runs smoothly (I guess it uses an included spark and libraries set).

So this command runs:
CountReadsSpark --input test_sample.bam  --output output.readcount.txt --verbosity DEBUG

While this does not:
CountReadsSpark  --spark-master sp

[2018-04-24 15:59] SZLux commented on #4694
Hi mwalker174,
I tried both command lines.

As lbergelson predicted, the one with --spark-runner LOCAL produces the same error as before (see below, could you explain me why?), while the one with --spark-runner SPARK runs smoothly.

Is this option ok with running a master-workers system? Can I use this option safely with

I have now a different issue with PathSeqPipelineSpark? As I tried, the firs

[2018-04-24 16:48] SZLux opened #4699 "PathSeq org.broadinstitute.hellbender.exceptions.UserException$CouldNotReadInputFile: Couldn't read file."
Hi,
I run the PathSeqPipelineSpark on a SPARK HPC with a master and several workers.

I downloaded SPARK 2.2.0 with hadoop 2.7.3
Java is 1.8.0_131
I set the java classpath (I think correctly)

The command runs well without the --spark-master option, so the files are at the right place, but when I run the following command line:
`gatk PathSeqPipelineSpark --spark-master spark://XX.XX.XX.XX:7077 --i

[2018-04-24 17:09] buddej commented on #4343
Also an issue with `GenomicsDBImport` though I imagine that doesn't come as a surprise to anyone.

[2018-04-24 17:48] jamesemery opened #4700 "Update MarkDuplicatesSpark OpticalDuplicate code to match Picards"
Picard had its Optical duplicate finding code refactored recently, additionally it has been noticed as part of #4656 that we are currently not properly accounting for the read groups when we stratify reads in MarkDuplicatesSpark which will likely cause problems for bams with more than one read group. Additionally better test coverage for multiple read groups should be added to ensure we are handli

[2018-04-24 19:29] jamesemery opened #4701 "Fix inconsistent marking with coordinate sorted bams in ReadsSparkSource"
Currently there is a bug in MarkDuplicatesSpark where for non queryname sorted bams the index is incorrectly assumed to be sufficient for reads groups, which wis guaranteed to be adequate for queryname sorted bams. This means that under some circumstances reads can be inconsistently marked as duplicates when its mate is a non-duplicate if they were spread across multiple partitions.

There is a di

[2018-04-24 19:58] droazen opened #4702 "barclay fails to set collection arguments initialized with an immutable collection"
If you have a barclay `@Argument` field of type `List`, barclay will fail to set the field value properly when the argument is specified if the `List` is initialized using an immutable Collection, such as that returned by `Collections.emptyList()`. Example error:

[code]

[2018-04-24 19:59] droazen commented on #4702
For @cmnbroad

[2018-04-24 20:07] magicDGS commented on #4702
There's a solution here: https://github.com/broadinstitute/barclay/pull/102

[2018-04-25 01:26] #4672 closed

[2018-04-25 09:17] thedam opened #4705 "SelectVariants: s is not a recognized option"
Hi,
I'm running a command:
[code]
and I get error:
[code]
Tested on various input files.

[code]

Looks like it's a bug?

[2018-04-25 09:30] magicDGS commented on #4702
Also, some discussion about what to do with immutable collections in barclay is here: https://github.com/broadinstitute/barclay/issues/100

[2018-04-25 09:32] magicDGS commented on #4660
@cmnbroad - what is the timeframe for a common CLP class? Because in the meantime it would be nice to be able to add picard tools, and anyway the common CLP would require refactoring in `Main`. So is it too much problem if I add a temporary method to add single picard tools?

[2018-04-25 09:47] magicDGS commented on #4705
The `-selectType` argument now is `--select-type`, and that's what is failing. It is true that the error message is not that useful.

@cmnbroad - is this related with https://github.com/broadinstitute/barclay/issues/119, no?

[2018-04-25 09:57] heliac2000 commented on #4696
Thanks for your reply. I try `--enable-journal` option and the following message is repeated many times.

    Received from stderr: [>>> ]

    Sending: [vqsr_cnn.score_and_write_batch(args, model, tempFile, fifoFile, 2, 2, '')
    ]

I trace the python process that is piped-forked by CNNScoreVariants.

    write(2, ">>> ", 4)                     = -1 EPIPE (Broken pipe)
    --- SIGPIPE {si_signo=

[2018-04-25 10:13] #4705 closed

[2018-04-25 13:38] cmnbroad commented on #4525
Fixed via https://github.com/broadinstitute/gatk/pull/4680.

[2018-04-25 13:38] #4525 closed

[2018-04-25 13:38] cmnbroad commented on #4633
Fixed via https://github.com/broadinstitute/gatk/pull/4680.

[2018-04-25 13:38] #4633 closed

[2018-04-25 13:53] cmnbroad commented on #4705
@magicDGS Yes, because of clustering, in this case `-selectType` falls back to being treated as a cluster, which then fails on the first arg in the cluster, which is "s".

[2018-04-25 14:08] cmnbroad commented on #4696
@heliac2000 Thanks for the trace. I suspect that once the timeout initially occurs, the GATK process terminates, but the Python process is still trying to write back to it and gets the "broken pipe" return code. We already have plan to make the IPC/timeout more robust. In the meantime it would be interesting to see the last 50-100 lines of the journal file if it contains contains anything other th

[2018-04-25 15:46] mwalker174 commented on #4694
Hi @SZLux,

The --spark-runner LOCAL option is only valid if you want to launch the GATK from the same machine you want to run on, i.e. on your laptop or on the head node of a cluster you have logged into via ssh. We do not currently support --spark-runner LOCAL if you want to, say, launch from the head node and run on another node.

Your second issue is specific to PathSeq. Can you please open an

[2018-04-25 15:47] #4694 closed

[2018-04-25 16:37] SZLux commented on #4699
Thanks to a suggestion of mwalker174, I solved the issue. I had to specify, for each input and output file, the full path from the root. All the HPC nodes share the same hdfs, so it worked.

What leaves me a bit perplexed, is that the task took 5 minutes to run on a 16 cores nodes, and exactly the same to run on a master-worker setup with 5 workers and 16 cores each (the log cofirms that the tasks

[2018-04-25 19:07] davidbenjamin commented on #4632
@Yyx2626 This is an intriguing proposal.  We're fairly familiar with the paper by now but we still need to think more about how best to fit MosaicHunter into the GATK.  By the way, this is David Benjamin, current lead developer of Mutect2 (the original author is Kristian Cibulskis).  I occasionally hear from people using Mutect2 for mosaicism and it's definitely not a perfect fit.

[2018-04-25 20:16] jamesemery opened #4707 "Validate the tiebreaking code for MarkDuplicatesSpark"
There is some confusing code in MarkDuplicatesSpark for comparison, some of which will cause inherent differences with picard Mark Duplicates. Some time should be set aside to ensure it is all performing correctly and that the differences are justified during validation.

[2018-04-25 20:27] droazen commented on #4705
@cmnbroad Can we turn off clustering in barclay?

[2018-04-25 21:13] lbergelson opened #4709 "UserException.BadTmpDir has an out of date error message"
`UserException.BadTmpDir` has the error message:
 `"Failure working with the tmp directory %s. Override with -Djava.io.tmpdir=X on the command line to a bigger/better file system."`

This should be changed refer to either the  `--java-options` command or `--TMP_DIR`.

Also, it doesn't attach the casual exception.

[2018-04-26 09:07] magicDGS commented on #4709
I prefer to keep out of this user exceptions the arguments from the wrapper script due to downstream projects including tools from GATK (and using the `UserException` classes). Thus, I vote for refere to the `--TMP_DIR`

[2018-04-26 13:46] #3706 closed

[2018-04-26 15:40] skwalker commented on #4614
@ldgauthier I have some results for the two sets of gvcfs you sent me.

The GC results look good between :
![sensitivity_specificity_plot](https://user-images.githubusercontent.com/4933056/39314667-c83c0f94-4942-11e8-837e-bcc92ef51319.png)

The differences in annotations don't seem too bad:
![13_annotation_differences](https://user-images.githubusercontent.com/4933056/39314994-99728912-4943-11e8-8

[2018-04-26 16:30] cmnbroad commented on #4705
There doesn't appear to be a supported way to do this. There is a [PR](https://github.com/broadinstitute/barclay/pull/136) here that works though.

[2018-04-26 19:00] chandrans commented on #4300
I think this can be closed. Fixed by 4.0.2.0

[2018-04-26 19:00] #4300 closed

[2018-04-27 02:51] wangyugui commented on #4691
This problem is yet not fixed in gatk 4.0.4.0

[2018-04-27 12:28] chatchawit opened #4712 "java.lang.IllegalArgumentException: Invalid interval."
I've got this error.

java.lang.IllegalArgumentException: Invalid interval. Contig:ENST00000342066.7|ENSG00000187634.11|OTTHUMG00000040719.10|OTTHUMT00000276866.2|SAMD11-202|SAMD11|2551|protein_coding| start:0 end:0

I'm working on hg38. The VCF input file was produced from Mutect2.

First, I've the error "java.lang.NullPointerException". So I put only "gencode" folder in the data-source folder. T

[2018-04-27 14:44] lbergelson commented on #4712
Hi @chatchawit,

It's hard to tell what's going on from the information you provided.  Could you include the exact commandline that you're trying to run.  Also, the complete stack trace from both the original error and the new error message would be very helpful.

[2018-04-27 15:58] davidbenjamin opened #4713 "Explore fragment length distribution annotation / filter"
It seems reasonable to guess that mismapped reads might exhibit a different distribution of fragment lengths than correctly mapped reads.  The distribution of the latter is a physical property of the shearing process, while the former is not.

This issue entails an exploratory analysis of patterns, followed by the development of a filter if this approach seems promising.

[2018-04-27 16:57] lbergelson commented on #4713
The properly paired flag may be a good starting point?

[2018-04-27 17:00] davidbenjamin opened #4714 "Mutect2 should call active region when tumor and normal have different alts"
Currently any variation in the normal is considered inactive.

[2018-04-27 18:26] jonn-smith commented on #4712
@chatchawit Like Louis said, there have been quite a few updates.

The issue you're seeing is a data sources problem relating to HG38.  This has been fixed in the latest release of funcotator and the data sources.

If you grab the latest software and the latest data sources release this problem should go away.

Sorry for the inconvenience.

[2018-04-27 18:33] mwalker174 commented on #4699
Thanks for posting this in a new ticket @SZLux.

I'm not surprised that 1 vs 5 nodes did not make a difference on the tutorial files. The 5 minutes is likely overhead with setting up the Spark cluster (though that sounds a big long to me). I would expect you to see better scaling with larger microbe/host references and samples.

[2018-04-27 18:33] #4699 closed

[2018-04-27 18:33] tedsharpe commented on #4713
There's code in the SV pipeline that does exactly this:  it takes a pass on the BAM to determine fragment length statistics, and then takes another pass to determine bins that have significantly deviant statistics.  Seems to work pretty well.

[2018-04-27 19:28] ldgauthier commented on #4614
I think these look perfectly fine.  HC newQual gets a +1 from me.  By my accounts, there are about 20-30K variants per sample, so 7 discrepancies per sample is just noise.

I spot checked some of the specific differences in the spreadsheet to see what's going on there.  In a bunch of cases, GATK3 calls a genotyping including the non-ref allele, which is embarrassing, but the issue is fixed with ne

[2018-04-27 19:38] ldgauthier commented on #4691
@wangyugui can you please rerun at least a portion of your GVCFs using the HaplotypeCaller arguments in the document above?  The AD annotation is part of the HCStandardAnnotation group, which I believe is being dropped if it's not explicitly specified.

[2018-04-27 21:04] chandrans commented on #4667
I am not sure what you mean @lbergelson Louis? Who is the importer?

[2018-04-28 02:28] wangyugui commented on #4691
It works well if we add '-A DepthPerAlleleBySample -A DepthPerSampleHC'.

[2018-04-28 03:44] chatchawit commented on #4712
I've tried the latest GATK today. The error message changed. Please help. Thanks.

Using GATK jar /omics/chatchawit/gatk2/gatk-package-4.0.4.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /omics/chatchawit/gatk2/gatk-package-4.0.4.0-local.jar Funcotator -R

[2018-04-28 19:06] mwalker174 commented on #4369
I just ran into this issue. I get the same error using my account and a service account.

I can work around this by adding the following Java lines in runTool():

`
ctx.hadoopConfiguration().set("fs.gs.project.id", "<PROJECT>");
ctx.hadoopConfiguration().set("google.cloud.auth.service.account.json.keyfile", "<KEYFILE>");
`

[2018-04-29 14:30] cxfustc commented on #4325
Sorry for replying so late. I did not expect the reply for my question came so soon until I checked my GitHub today.
Yes, I am using the default parameters. I am not sure about the difference after FilterMutectCalls. I will deal with it next week after going back to work.
As for as I know, the default limit for downsampling is 50, so the theoretical maximum coverage is about 5000, assuming the len

[2018-04-30 15:49] droazen commented on #4614
@ldgauthier Are these results sufficient to convince you to use the GATK4 `HaplotypeCaller` in the upcoming exomes on the cloud pipeline? Is it worth setting up a meeting later this week to go over @skwalker 's results in further detail?

[2018-04-30 16:01] cwhelan opened #4716 "GenomicsDB Import/Select fails on record containing a spanning deletion allele"
Reading from GenomicsDB fails when a some records containing spanning deletion alleles are imported into a workspace. Not all records seem to cause this to fail; I haven't been able to figure out what specific properties of the records cause the error. Here's the contents (minus header) of a VCF file that causes the error:

[code]

Steps to reproduce:

[code]

Error:

[code]

This issue was discov

[2018-04-30 16:37] ldgauthier commented on #4272
No problem with the contaminated bam either.  GATK still honors the Xmx/Xms options if I don't use the launch script, right?  I ran `java -jar -Xmx4g -Xms4g $devHome/binaries/gatk.jar HaplotypeCaller -R $b37 -I /seq/picard_aggregation/G77546/1650NIH/v6/1650NIH.bam -L 20 -O chr20BacTest.vcf`

[2018-04-30 16:49] ldgauthier commented on #4691
Does the command `java -jar $GATKjar -T HaplotypeCaller -R $reference \
    -I mySample.bam \
    -o mySample.AS.g.vcf \
    -ERC GVCF \
    -G StandardAnnotation -G AS_StandardAnnotation -G StandardHCAnnotation` from the article also fix the issue?  Can this be closed?

[2018-04-30 17:11] wangyugui commented on #4691
'-G StandardAnnotation -G AS_StandardAnnotation -G StandardHCAnnotation' works too.

[2018-04-30 17:11] #4691 closed

[2018-04-30 17:25] droazen commented on #4716
@cwhelan @ldgauthier @kgururaj informs me that he's already fixed this in GenomicsDB, and will do a release soon. Once it's out, there will be a PR later this week to update GATK to the latest version.

[2018-04-30 18:39] droazen commented on #4272
@ldgauthier It does, but you should always run via the launch script and `--java-options`, since the script sets a number of important system properties, some of which affect performance.

Do you know whether the GATK3 HC is able to run on the same bams without running out of memory in 4G/2G/1G?

[2018-04-30 19:56] sooheelee opened #4717 "Discussion: CollectAllelicCounts and GetPileupSummaries results in VCF format"
This ticket opens a discussion between @samuelklee, @davidbenjamin and anyone else who is interested towards deciding if this is useful.

I think it would be useful for (i) the outputs of CollectAllelicCounts and GetPileupSummaries and other similar tools to be in VCF format and for (ii) downstream tools that take these results to then also take in VCF format. I think it's good to adhere to standa

[2018-04-30 20:01] TedBrookings opened #4718 "Long file names prevent cloning GATK on system with encrypted /home"
@droazen  Two .vcf files used for testing prevented cloning the GATK on my home laptop. Supposedly ecryptfs is okay up to 143 characters, but I think that might be _typical_ behavior rather than guaranteed safe. It seems like knocking 10-20 characters off the names should make them totally safe. I don't know how important it is for the files to have metadata in their names.

**length 142:**
src/te

[2018-04-30 21:50] #4709 closed

[2018-04-30 22:49] mbabadi opened #4719 "Multiple default values for optional parameters for different data types"
One issue with running gCNV properly and successfully (and perhaps other GATK tools that work with different data types) is that different data types requires running GATK using wildly different choice of several tool arguments.

For example -- running gCNV on WES and WGS requires very different choice of the following parameters:

    interval-psi-scale (WES: 0.002, WGS: 0.0005)
    std-log-mean-

[2018-04-30 22:50] mbabadi commented on #4719
@samuelklee @cmnbroad @lbergelson

[2018-05-01 01:30] LeeTL1220 opened #4722 "Make sure extraneous files are not in hte Funcotator datasources"
I did not use the official download of the Funcotator datasources (1.2), but I did find some extraneous files that should be removed.  Complete list is below:

[code]
`.DS_Store` and `.idea` should not be in the official download.

[2018-05-01 02:27] samuelklee commented on #4719
Thanks for bringing this up!  I actually think that I prefer option 1, although not ideal (since, as you say, it places more burden on the user).  The whole point of having generically parameterized models is that we can apply them to many data types.  To single out a few with hardcoded sets of defaults seems like a slippery slope to me.  (Of course, we should definitely provide defaults for typic

[2018-05-01 02:41] samuelklee commented on #4717
As I mentioned in our Slack chat, there is increasingly a need to standardize annotated-interval data (e.g., GC content, mappability) in the GATK.  If we decide to co-opt the VCF format to do so for these tools, we might as well do it GATK-wide.  The CNV data-collection/TSV classes are already designed in such a way that it should be easy to add VCF output.

However, I don't know if this is the ri

[2018-05-01 03:59] samuelklee commented on #4717
I tend to agree.  VCF is perhaps a special case of the format we actually need, so no point in shoehorning output that doesn’t fit just for the sake of standardization.  @sooheelee may feel more strongly otherwise.

[2018-05-01 11:51] TedBrookings commented on #4717
Standard disclaimer up front that I'm still a bit new and can't speak to
the needs of the GATK outside the small bits I've looked at.

The data I've wanted so far had all come from the UCSC genome browser,
which has a reasonable format and good documentation. My personal feeling
is there's little reason to reformat the data or choose a different format
for data we may create. For me the real probl

[2018-05-01 12:06] samuelklee commented on #4717
@TedBrookings which formats are you using, in particular?

In the CNV package, I've taken pains to unify how tabular data are represented in Java, depending on whether each record is Locatable or whether the collection of records can be associated with a sample name or sequence dictionary.  This allows us to represent records that extend Locatable with multidimensional numerical or non-numerical a

[2018-05-01 13:38] ldgauthier commented on #4272
I don't know.  Do you want me to run them in GATK3?

It's hard to find bams run with GATK3 HC that needed more than 4GB memory because Zamboni has a memory retry loop, so one would have to parse the java options out of the logs like looking for a needle in a haystack.  FWIW the Zamboni initial memory allocation is 3GB (https://github.com/broadinstitute/zamboni/blob/develop/Workflows/src/scala/org/

[2018-05-01 14:00] LeeTL1220 commented on #4719
I like option 2.

If one of the other options is specified, use the specified value.

For example, the following would use 0.1 for interval-psi-scale:

--set-defaults-for-data-type WES

--interval-psi-scale 0.1

On Mon, Apr 30, 2018 at 10:27 PM, samuelklee <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2018-05-01 14:17] cmnbroad commented on #4719
If the pattern is common, we could certainly explore adding some kind of "argset" support to Barclay. It would have the advantage of getting it integrated into the help and doc, though that could get complicated. Another possibility is a hybrid approach, where Barclay supports declarative argset definitions, but uses them for help interrogation only, with a command line argument that takes an args

[2018-05-01 14:26] TedBrookings commented on #4717
I'm still not very familiar with the way people have used extensions of
Locatable, or how indexing can be used to boost performance. The stuff I've
worked on is a bit of a corner case, and I didn't write much of the
infrastructure, I've been tacking on features.

For now I've just been keeping the gzipped text files from the UCSC
browser. They're tab delimited with two header lines, the first basi

[2018-05-01 15:54] sooheelee commented on #4717
Again, I feel strongly that the outputs of CollectAllelicCounts and GetPileupSummaries, being of similar data-type, be unified.

Also, it would be great if their formats adhered to one of those accepted by IGV listed at http://software.broadinstitute.org/software/igv/FileFormats, of which VCF is one.

If another format is preferred (it seems @samuelklee is opposed to VCF), then have one unified fo

[2018-05-01 18:26] mwalker174 commented on #4717
I'm more familiar with working with interval data files so I can't speak much to variant call formats except that VCF tends to be a bit wonky with interval data (such as SV calls) because, as @samuelklee mentioned, most of the fields are likely to be irrelevant and thus waste space.

I feel strongly that BED-like formats are the way to go for interval data, i.e.

#contig start end x1 x2 x3 x4 ...

[2018-05-01 19:09] shulik7 opened #4724 "Sample name is not recognized in "get_sample_ploidy_metadata" method when generating "segments" VCF file using PostprocessGermlineCNVCalls"
Hi,

I am trying to call germline CNVs for a set of samples. After running DetermineGermlineContigPloidy and GermlineCNVCaller, I am using PostprocessGermlineCNVCalls to generate the VCF files with CNV calls. The "interval" VCF files are generated successfully. But I got the following error message when segmenting contigs:

org.broadinstitute.hellbender.utils.python.PythonScriptExecutorException:

[2018-05-01 20:09] abdohlman opened #4725 "PathSeqPipelineSpark aborted due to stage failure"
PathSeq is failing on the input files I'm using and its difficult for me to interpret the error message.

What I'm seeing is,

1. ERROR LiveListenerBus: SparkListenerBus has already stopped!
2. Job aborted due to stage failure: Task 20 in stage 1.0 failed 1 times
3. WARN ShutdownHookManager: ShutdownHook '$anon$2' timeout
4. WARN ShutdownHookManager: ShutdownHook 'ClientFinalizer' timeout
5. ERROR

[2018-05-01 20:27] droazen commented on #4718
If you change PERCENT to PCT, get rid of `.calls`, and get rid of `.AT`, that should hopefully bring you under the limit without removing any useful information from the names :)

[2018-05-01 20:30] droazen opened #4726 "Sparkified Mutect2"
At some point in the next several quarters @davidbenjamin I'd recommend a collaboration between your team and the engine team on a `Mutect2Spark` tool. Most of the prerequisite infrastructure has already been implemented for `HaplotypeCallerSpark`, so it may be a much simpler task than you'd imagine!

[2018-05-01 20:39] mbabadi commented on #4724
Dear @shulik7, according to the error message, gcnvkernel is expecting ploidy calls at the following path: `/scratch/users/shulik7/test_GATK_CNV/Postprocess/../DetermineGermlineContigPloidy/model/test_run-calls/`.

Could you please assert that the above path is indeed the ploidy *calls* paths, and if so, whether it contains `test_sample_0` under one of `SAMPLE_x` subdirs? if the path is valid, ple

[2018-05-01 20:58] shulik7 commented on #4724
Hi @mbabadi ,
Yes, there are sub directories SAMPLE_0 to SAMPLE_39 under the path I provided.  I tried to use the absolute path and the problem resolved. Thanks for the suggestion!

[2018-05-01 21:05] wli1 commented on #3808
I got the same issue, the difference is huge. I start with same fastq file.

the output from Basespace somatic variant caller,
chr4	55594258	rs121913523	T	C	100	PASS	DP=2064;cosmic=1|COSM12706;phyloP=5.257;CSQT=1|KIT|NM_000222.2|missense_variant	GT:GQ:AD:DP:VF:NL:SB:NC	0/1:100:1636,428:2064:0.207:20:-100.0000:0.0005

The output from M2:
chr4 | 55594258 | . | T | C | . | . | DP=51;ECNT=2;POP_AF=5.0

[2018-05-01 21:46] lbergelson commented on #4718
It's a feature, we're so committed to open source that we don't allow it to be made private through encryption.

[2018-05-02 01:07] davidbenjamin commented on #3808
@wli1 Overlapping reads ought to account for at most a factor of 2, so it would have to be some other reason to go from 2064 to 51.  If you provide a snippet bam file (maybe stretching 500 bases on each side of the variant) I will gladly take a look.

[2018-05-02 05:54] heliac2000 opened #4727 "[CNNScoreVariants] ValueError('Error! Unknown code:', '\x00')"
Environment:

*   GATK 4.0.3.0
*   Python 2.7.14
*   Red Hat Enterprise Linux Server release 7.4 (Maipo)

I'm using GATK CNNScoreVariants 1D model(CPU mode) for hundreds of VCF files,  but the following error occurred in some of them.

    00:13:26.470 INFO  ProgressMeter - Traversal complete. Processed 4924627 total variants in 79.6 minutes.
    00:14:14.422 INFO  CNNScoreVariants - Shutting down

[2018-05-02 06:43] magicDGS commented on #4719
My 2 cents: actually the argset strategy would be nice also for plugins. For example, in ReadFilters it might allow to specify "recommended" filters but not necessary; and in the annotations to convert the groups to a argument set.

+1 to the argset for many use-cases and not only this one!

[2018-05-02 11:57] heliac2000 commented on #4727
Thanks for your quick response. I will try again with Python3 next week.

[2018-05-02 13:00] samuelklee opened #4728 "Scatter by contig in somatic CNV WDLs."

[2018-05-02 13:33] tomwhite opened #4729 "Support BCF files in Spark"
This should include .bcf, .g.bcf and .g.bcf.gz files.

[2018-05-02 13:41] tomwhite commented on #4729
Closing as https://github.com/broadinstitute/gatk/issues/4303 is the same

[2018-05-02 13:41] #4729 closed

[2018-05-02 14:41] samuelklee commented on #4728
Also, plotting can be subset by contig by passing the appropriate sequence dictionary.

[2018-05-02 15:17] droazen commented on #4726
@davidbenjamin Probably not this quarter, but I'll be sure to propose it as a project for next quarter.

[2018-05-02 15:46] jamesemery opened #4730 "MarkDuplicatesSpark should use orientation when grouping reads"
In evaluating MarkDuplicatesSpark against its Picard counterpart it appears the readPairs are not properly being stratified the same way in every case. Specifically we do not separate our readParis by orientation as is done in `markDuplicates.areComparableForDuplicates()` which can result in different results for the case where duplicate groups happen to have the same edges but different orientati

[2018-05-02 18:13] chandrans commented on #4726
Thanks for pursuing this D and D :)

[2018-05-02 19:35] mwalker174 commented on #4369
Also, I do not get the error with non-spark tools.

[2018-05-02 21:08] jonn-smith commented on #4717
Annotations in VCF are a nightmare due to format requirements.

I'd recommend against using VCF to store annotations unless it's absolutely necessary.

The mechanism to do so is too unwieldy - either you add annotations by name per allele as real annotations (i.e. accounted for in the header and then added to the INFO field as applicable with per-allele annotations separated by commas), or you add

[2018-05-02 21:26] melisakman commented on #2865
It would be great to have this option. +1 here!

[2018-05-03 05:13] chatchawit commented on #4712
I've checked the README file (see below). I think it's the latest one because I cannot see the newer version in the ftp site.

Funcotator was able to produce some output. So I tried Funcotator with the same VCF input but with only first 5 loci. The program terminated safely.

I hypothesized that the bug happened with only some records in the VCF file which was produced from Mutect2.

Please help.

[2018-05-03 05:32] jonn-smith commented on #4712
@chatchawit You're correct - you have the latest version.  I just wanted to double-check.

I think your intuition is correct about it only happening for certain variants.  Are you able to share your file somehow?  I can see where it's happening but having some variants that cause the issue would be helpful to debug.

[2018-05-03 06:02] chatchawit commented on #4712
I gave two lines that cause the error. By removing these lines,  the program was able to proceed to the next.

chr1  959248  .       A       AAGAT   .       .       DP=111;ECNT=4;POP_AF=0.016;P_GERMLINE=-8.838e-03;TLOD=3.19      GT:AD:AF:F1R2:F2R1:MBQ:MFRL:MMQ:MPOS:SA_MAP_AF:SA_POST_PROB     0/1:107,2:0.027:31,2:76,0:16:186,156:40:1:0.00,0.020,0.018:0.073,1.660e-03,0.925

chr1  1273803 .       G

[2018-05-03 09:37] romagnolid opened #4733 "Picard version doesn't print correctly when running a Picard tool from GATK"
I was wondering what version of Picard is bundled with GATK. I assume it's the latest available (2.18.4 at this time) but apparently there's no way to tell:
`$ gatk MergeSamFiles -version` output `Version:4.0.4.0`

[2018-05-03 10:06] magicDGS commented on #4733
When you run a tool, a message with the bundled versions should show in the log.

[2018-05-03 10:37] samuelklee commented on #4724
Thanks for bringing this issue to our attention, @shulik7.  @mbabadi, does it resolve if we pass a canonical path, rather than just an absolute path?

[2018-05-03 11:30] samuelklee opened #4734 "Add checks that number of matrix elements do not exceed max int in CreateReadCountPanelOfNormals."
Ran into this when trying to create a PoN with 100 samples x 100 bp bins = 1.27 * max int elements.

This currently causes issues when truncating outliers, at which point all elements are loaded into an array so that Percentiles can be naively computed, resulting in a `java.lang.NegativeArraySizeException`.

Solutions include: 1) simply throwing a message and failing early if the counts matrix is

[2018-05-03 11:44] samuelklee commented on #4728
@LeeTL1220 do you have any opinions on making the somatic CNV workflow scatter by contig?  This could allow WGS to complete even faster and could allow us to avoid issues such as #4734.  A few issues:

1) Do we want a single WDL that can optionally scatter, depending on WES vs. WGS?  It would be nicer to have just one workflow, but I haven't thought about how an optional scatter might look in WDL.

[2018-05-03 11:51] samuelklee commented on #4728
To add, just in case it wasn't clear, note that this is almost certainly overkill for most somatic applications.  However, if this is going to double as a more lightweight germline pipeline (as it is for the time being, as we are using some of the results to prototype SV integration), it might be worthwhile.

[2018-05-03 15:05] TedBrookings commented on #4718
Minor mystery solved. I somehow overlooked the corresponding .vcf.idx files, which were over or at the 144 byte limit, so the errors are less surprising. PR made.

[2018-05-03 15:15] sooheelee commented on #4728
Not for the v4.0.1.1 WDL. The sequence dictionary is fixed to that used by PreprocessIntervals.
Manually visualizing with custom sequence dictionaries outside the context of the WDL is possible I guess. Let me fix that phrase in the tutorial draft.

[2018-05-03 15:31] mbabadi commented on #4724
@samuelklee we have to use `.getCanonicalPath()` instead of `.getAbsolutePath()` when passing paths to Python. It looks like python does not like `foo/../../bar` too much.

[2018-05-03 15:31] droazen commented on #4369
@jean-philippe-martin Your thoughts on this one?

[2018-05-03 15:45] samuelklee commented on #4728
That's correct.  We could easily add an optional sequence-dictionary input for plotting in the WDL, if desired, but I decided to keep it simple for now.

[2018-05-03 16:29] jean-philippe-martin commented on #4369
Sounds like a bug in the [Cloud Storage Connector](https://cloud.google.com/dataproc/docs/concepts/connectors/cloud-storage)'s handling of default credentials.

[2018-05-03 16:31] lbergelson commented on #4369
They don't handle default credentials.  They need explicit credentials set via spark property like Mark is doing.

[2018-05-03 17:17] #4718 closed

[2018-05-03 17:44] jean-philippe-martin commented on #4369
I guess missing a feature is a kind of bug. Is there something we should do on our end?

[2018-05-03 18:08] sooheelee commented on #4717
First to clarify, GetPileupSummaries and CollectAllelicCounts tabulate ALT vs. REF counts at SNP sites. These tools do not consider anything larger than 1bp at a time and are basically akin to pileup callers. File size is a sacrifice that I would trade for easy parsing of the data, which the plethora of VCF tools available enable.

- If the unconventionality is the issue, then consider Heng's use

[2018-05-03 18:16] lbergelson commented on #4369
@jean-philippe-martin If the connector could configure itself with default credentials that would be amazing.

[2018-05-03 19:34] sooheelee commented on #4719
I attended a journal club some months ago where a paper stated most researchers use default settings of tools. The paper benchmarked tool with default settings and with tweaked parameters. I can dig up the paper if anyone is interested. So there is some expectation from the user community that the default parameters reflect some sweet spot for running the tool.

I highly support @cmnbroad's sugges

[2018-05-03 19:36] #4555 closed

[2018-05-03 19:47] sooheelee commented on #4327
What will the results looks like @davidbenjamin? A multi-sample VCF? For a variety of contexts outside a time course, being able to analyze multiple samples at once against the same normal control would be super useful.

[2018-05-03 19:53] #3645 closed

[2018-05-03 19:55] droazen commented on #4733
You can also find the Picard version for a given version of GATK by inspecting `build.gradle`, if you have the source checked out. But the easiest way is just to run any GATK tool, and check for "Picard version" in the log output.

Closing as resolved

[2018-05-03 19:57] sooheelee commented on #2853
We've had a preliminary discussion with IGV team, towards finding out what are some possible solutions and avenues to solutions.

[2018-05-03 19:58] droazen commented on #3645
@sooheelee The GATK version and the docker image version are identical. The Picard version is printed when any GATK tool is run.

[2018-05-03 20:04] sooheelee commented on #3645
The annoyance is having to run a command on data, with proper syntax, to find out the Picard version. It should b something we can pull up via `docker inspect`, `gatk --version` or other simple command that does not involve some tool. I just assume this will not be addressed so I closed it.

[2018-05-03 20:06] droazen commented on #3645
Well, we'd be potentially open to the idea of including additional info in the `gatk --version` output. Feel free to open a separate ticket to discuss.

[2018-05-04 01:05] jonn-smith commented on #4712
OK, great.  I'll run these and try to get to the bottom of this.

[2018-05-04 01:38] davidbenjamin commented on #4327
This proposal would yield several single-sample vcfs.  But I think a less-clunky single-pass version that emits a multi-sample vcf would be doable.  Which do you prefer?

[2018-05-04 11:55] samuelklee commented on #4717
I think it's best not to co-opt existing formats for storing *variant calls* and *mutations* if we want to store generic annotations.  Furthermore, many of the drawbacks of VCF (e.g, wasted space from repeated tags/unused fields) are really not worth dealing with if our data is strictly tabular and well structured.

I think if we can settle on a format internally that satisfies all of our needs, t

[2018-05-04 12:03] samuelklee opened #4737 "Somatic CNV case WDL needs to allocate space for PoN in DenoiseReadCounts task."
Currently only the counts file is included in the allocation.

[2018-05-04 12:05] samuelklee commented on #4737
@jsotobroad @meganshand do you guys have any conventions that you follow for this sort of disk-space allocation?  Any reason why this can't be more automated, eventually?

[2018-05-04 13:02] meganshand commented on #4737
What do you mean by more automated? It looks like you're allocating space based on the input file sizes and some padding, which is already more automated than the user adjusting disk size by hand. Do you mean that Cromwell should allocate space appropriately given the inputs? The issue is that you also need space for the outputs, which is harder to predict unless you have a sense of what the task

[2018-05-04 13:31] samuelklee commented on #4737
Automatic allocation based on inputs would be great.  Not sure if it's really possible in practice, though---I guess you would also have to make provisions for streaming inputs.

At the very least, if we ever automate the generation of WDL for tasks (based on some template/conventions given the command-line options for a tool), we should make sure this sort of allocation is part of it.

[2018-05-04 14:16] nealplatt commented on #2865
I'd love to see this option implemented.

[2018-05-04 19:25] lbergelson commented on #4369
Oh, heh, darn, I was hoping you were volunteering to add default credential support :)

[2018-05-04 19:48] lbergelson commented on #4369
Ah.  I was confused!   We already have an issue for it. https://github.com/GoogleCloudPlatform/bigdata-interop/issues/59

[2018-05-04 20:56] sooheelee commented on #4717
What I'd like to be able to do ultimately is for the CNV workflow to accept a Mutect2 callset for the allelic counts, which is in VCF format. This sort of thing would be more feasible if ModelSegments could take in the VCF format and not just the tsv output of CollectAllelicCounts.

[2018-05-04 21:05] samuelklee commented on #4717
That is a separate matter altogether from both 1) unifying the allele-count collection tools, and 2) standardizing the format of tabular data.  The most appropriate place for integration of Mutect2 SNV calls would be as input to the tumor-heterogeneity tool (along with the ModelSegments output) further downstream.  This is because it is unlikely that including the SNVs as input to ModelSegments wo

[2018-05-07 03:47] asmirnov239 opened #4738 "Calling ExAC with GATK gCNV"
With the GATK gCNV having great performance results on the first round of evaluations it is ready to be used to call on ExAC. The following things need to be done first:

- Set up gCNV workflow to run on SGE (since exome samples are stored on prem)

- Decide on target filtering strategy.

- Decide on the number of samples to use to learn the model (PoN)

- Get some truth data to do QC, for example

[2018-05-07 07:01] romagnolid commented on #4733
Sorry but it doesn't seem to be resolved.
[code]
And if I use `--version true`:
[code]

[2018-05-07 14:33] droazen commented on #4733
@romagnolid Yes, you're right -- the Picard version isn't printing correctly when running a Picard tool. If you run a GATK tool, such as `PrintReads`, it should print both the GATK and Picard versions correctly.

Re-opening, as we should really fix this.

[2018-05-07 14:33] droazen commented on #4733
@cmnbroad Could you have a look at this one? Should be a quick fix.

[2018-05-07 14:43] romagnolid commented on #4733
@cmnbroad ok, I see the difference, coincidentally I used only Picard tools as a test.
Running PrintReads as you suggested definitely displays the right version
`Picard Version: 2.18.2`
Thank you

[2018-05-07 15:07] lbergelson opened #4739 "missing transcript in hg19 gencode"
The hg19 gencode is missing the transcript `ENST00000515683.1`.   It appears in the gtf, but not in the fasta.  Using `funcotator_dataSources.v1.2.20180329`

[code]
[code]

The error is triggered somewhere near the position`4:60143686`

[2018-05-07 15:54] lbergelson commented on #4733
It's because of the way we package things, you only get a single version in the manifest.  There's a better way to add package level versions to the manifest that would be maintained when repacking the jars, but it doesn't work with picard because it assumes a package name convention which picard doesn't follow.  We could define version strings somewhere in the jar and look them up manually though

[2018-05-07 17:04] mwalker174 opened #4741 "Conda env create fails with FileNotFoundError"
README.md instructs developers to create the conda environment with the command:
[code]
This currently fails with the following message (at least on MacOS):
[code]
Moving gatkcondaenv.yml to the GATK root solves the issue. We can either change the yml location or modify the readme.

[2018-05-07 17:15] mwalker174 opened #4742 "pysam compile failure"
On OS X El Capitan 10.11.6, when creating the conda environment I get the following error:
[code]
This appears to have been an issue with pysam in the past: https://github.com/pysam-developers/pysam/issues/323

[2018-05-07 17:27] samuelklee commented on #4742
What is the timeline for removing pysam, pyvcf, etc. dependencies (#4465)?  I think we agreed to abide by certain rules when we started python development, but I don't know who is responsible for enforcing them...

[2018-05-07 17:52] mwalker174 opened #4743 "Matplotlib throws RunTime error when Python is not installed as a framework"
I'm receiving the following error on Mac OS X El Capitan when trying to run gcnv:
[code]
As it states, there is more information here: https://matplotlib.org/faq/osx_framework.html#osxframework-faq

I can resolve the issue by running `conda install -c anaconda python.app` and changing this line in `PythonExecutorBase.java`:
[code]
to
[code]

[2018-05-07 18:19] cmnbroad commented on #4741
@markw The error message above looks like the one I'd expect you'd get if you haven't built the python archive (`./gradlew createPythonPackageAchive`), as discussed in the Slack thread. I assume you get a different error message once you've done that (which was in turn resolved by your moving the .yml file). If thats right, can you update this ticket with that message/output, and the conda version

[2018-05-07 18:25] cmnbroad commented on #4742
I think removing pysam is dependent on writing Java front ends for the CNN tools that are currently just pass-through to python (https://github.com/broadinstitute/gatk/issues/4533, https://github.com/broadinstitute/gatk/issues/4534 and https://github.com/broadinstitute/gatk/issues/4535). @lucidtronix Do you have a timeframe for that work ?

[2018-05-07 18:26] cmnbroad commented on #4465
Also pysam. Depends on https://github.com/broadinstitute/gatk/issues/4533, https://github.com/broadinstitute/gatk/issues/4534 and https://github.com/broadinstitute/gatk/issues/4535.

[2018-05-07 18:53] mwalker174 commented on #4741
@cmnbroad Apologies that I didn't specify that I did run `./gradlew createPythonPackageArchive` first. You can see from the error that it's looking for the archive in `gatk/scripts/build/` (which doesn't exist) instead of `gatk/build`. It seems to be searching for `./build/gatkPythonPackageArchive.zip` relative to the scripts sub-directory rather than the root (also didn't mention I ran conda from

[2018-05-07 19:01] cmnbroad commented on #4741
Oh yeah, I see. I did upgrade to latests minconda and now I see the same issue. So something changed in conda.

[2018-05-07 21:43] sooheelee opened #4745 "(How to) Call somatic mutations using GATK4 Mutect2"
Question for @davidbenjamin and @takutosato.

---

Hi @shlee,
If I am running Mutect2 with same samples but different parameters, do I really need to repeat the step 5 CollectSequencingArtifactMetrics? It looks like it's not dependent on the previous filtering step but as you emphasized this on the tutorial I wanted to check.
Another question is do you have any documents for default parameters to

[2018-05-07 21:51] sooheelee commented on #4745
Are we interested in writing some definitive guide on how to tune the `af-of-alleles-not-in-resource` parameter for different contexts?

[2018-05-07 21:53] sooheelee commented on #4745
@chandrans it appears that other researchers asked the same question. Apologies for not asking your involvement first.

[2018-05-08 06:38] jonn-smith commented on #4739
This is an issue with the Gencode files chosen for the datasources.  The Fasta file we use currently is a subset of the total genes in Gencode, so this is an expected error (though it shouldn't be a user error).

We have 2 options:
1) changing the code to throw a warning and ignore variants in transcripts not in the Fasta.
2) Download a larger set of sequences from Gencode and make sure all transc

[2018-05-08 09:55] magicDGS commented on #4733
The problem is in https://github.com/broadinstitute/picard/blob/aa911f9440e70f59a32dddadd90e5a07c7764d87/src/main/java/picard/cmdline/CommandLineProgram.java#L267-L274, which is using barclays `CommandLineParser.getVersion`, which implementation uses the `this.callerOptions.getClass().getPackage().getImplementationVersion()` (see https://github.com/broadinstitute/barclay/blob/master/src/main/java/

[2018-05-08 11:52] LeeTL1220 commented on #4739
Option 2, for sure

On Tue, May 8, 2018, 02:38 Jonn Smith <notifications@github.com> wrote:

[2018-05-08 12:57] ldgauthier commented on #4738
For QC, there will also be xHMM calls for most of the samples that were also in v1.  Not as good as Genome STRiP/WGS but it should be a lot more samples.  I can work on finding that data.

With respect to the last bullet, does gCNV already have this capability or would it involve modifying the code as well?

[2018-05-08 13:06] sooheelee commented on #4738
I'm starting gCNV tutorial development so I have an interest in knowing how researchers are using the tool.

[2018-05-08 13:45] cwhelan opened #4746 "Make it easier to use native Hadoop libraries in GATK Spark tools running in local mode"
In some preliminary testing I've done it looks like using native Hadoop libraries can speed up tools running in Spark local mode. In private Spark tools under development (which travers a WGS BAM and then performing several shuffles) I have seen speedups of up to 40% (~ 46 minutes -> 26 minutes). An initial test of `MarkDuplicatesSpark` using a 30GB bam file gave me a 9% speedup (logs are below).

[2018-05-08 15:37] droazen commented on #4746
@lbergelson and @jamesemery: could you both chime in with your thoughts on how you want to proceed here?

[2018-05-08 15:38] cwhelan commented on #4746
One potential caveat I just noticed: it looks like the native libraries might introduce more multithreading which might not always be desired. In some test runs I'm seeing CPU usage spike very high (eg up to 3200% in `top`) even though I've specified `--spark-master local[8]`.

[2018-05-08 15:52] takutosato opened #4747 "Migrate VariantWalkerBase (and subclasses) to CountingVariantFilter"
Currently it uses `VariantFilterLibrary.ALLOW_ALL_VARIANTS`

[2018-05-08 16:05] droazen commented on #4747
Motivation here is to allow summary statistics for variant filtration to be printed at the end of the `VariantWalker` traversals.

[2018-05-08 17:28] lbergelson opened #4748 "GATKTool could output additional information during stack unwind"
I often find that when I get a stack trace it doesn't include sufficient information about the record that triggered it, or even where in the file it was.  It would be possible to have GATKTools track their position and most recently `applied` records and then output that information either as log messages during a crash, or by wrapping incoming exceptions.

I think it would probably be useful, bu

[2018-05-08 19:45] jamesemery commented on #4746
This looks promising, at a minimum we should try setting up the docker with hadoop native libraries so the performance gains can be extended to most use cases. This might also include adding some magic to the gatk launch script inside the docker to detect and run with the correct version of the hadoop libraries.

[2018-05-09 06:55] zzxzxzzxz commented on #4727
Hi. I encounter the same error with GATK4.0.4.0 and the python environment created by gatkcondaenv.yml

[code]

These are the vcf files I used.
http://w.csie.org/~r03944026/vcf/ok.vcf
http://w.csie.org/~r03944026/vcf/error.vcf

ok.vcf is able to be processed successfully, while error.vcf is not.
The only different between these two file is the position.

[2018-05-09 13:26] lucidtronix commented on #4727
I see that this is occurring in the mitochondrial chromosome.  The model was trained mostly with the autosomes and so scores on the mitochondrial DNA have not been extensively validated.  That said, this looks like a bug and we hope to have a fix in soon.

[2018-05-09 13:28] lucidtronix commented on #4727
& Thanks for the example VCFs that is a big help!

[2018-05-09 15:05] droazen commented on #4586
A large speedup has already been achieved in https://github.com/broadinstitute/gatk/pull/4740. According to @lbergelson:

[code]

[2018-05-09 17:04] lbergelson opened #4753 "GenomicsDB errors discovered in the wild"
@kgururaj @francesperry There's a thread on the GATK forum where people are reporting a number of issues running GenomicsDB.  There are a few different issues but they all seem to be edge cases with the file system.

1.  Report of the following error when trying to read from a GenomicsDB that is marked as read only.  Is there a reason that the workspace must be writeable in order to read it?  Can

[2018-05-09 18:15] asmirnov239 commented on #4738
@ldgauthier Concordance with XHMM would definitely be useful for validating calls on clusters for which we do not have WGS data.
We need to modify code for having a fixed common CNV regions, but that should be straightforward.

[2018-05-09 19:16] lbergelson opened #4754 ".so files not deleted from tmp dir on shutdown"
We have a report on the forum that libgkl.so and libgenomicsdb.so are not deleting themselves on shutdown.  We should fix that.

https://gatkforums.broadinstitute.org/gatk/discussion/comment/48537#Comment_48537

[2018-05-09 19:17] lbergelson opened #4755 "query.json files not deleted after query finishes"
According to a [forum report](https://gatkforums.broadinstitute.org/gatk/discussion/comment/48537#Comment_48537) the genomicsdb query.json files are not deleted from tmp.  These should be cleaned up when the query is finished and on shutdown in case of exceptions.

[2018-05-09 21:31] #4636 closed

[2018-05-09 21:32] #4701 closed

[2018-05-10 02:49] kgururaj commented on #4753
Yep, the new jar fetches and prints the TileDB error message

[2018-05-10 18:11] jamesemery opened #4759 "Fix logging for classes that use OpticalDuplciateFinder"
In order to better match changes between gatk and picard, the gatk has been set to rely on the picard version of the OpticalDuplicateFinder. Unfortunately this means we have to rely on the Picard Log interface which we don't have a good reason to get involved in the gatk. Furthermore, the logger isn't serializable so it might cause problems with spark.

[2018-05-10 18:17] ldgauthier opened #4760 "PosteriorProbabilitiesUtils bug?"
One of the example commands in CalculateGenotypePosteriors describes the usage of the `-supporting` argument and the `--num-reference-samples-if-no-call` argument at the same time:
[code]
Calculate the posterior genotypes of a callset, and impose that a variant *not seen* in the external panel is tantamount to being AC=0, AN=5008 within that panel

We don't have any tests that use both of these ar

[2018-05-10 18:19] ldgauthier commented on #4760
Maybe @davidbenjamin will serve as another set of eyes?  I have a small fleeting hope that I'm reading something wrong.

[2018-05-10 18:20] #4274 closed

[2018-05-10 19:05] davidbenjamin commented on #4760
@ldgauthier That's exactly what it looks like to me, too.

[2018-05-10 20:37] kgururaj commented on #4753
Consolidation in TileDB requires locking currently - hence, importing data on Lustre filesystems mounted with locking disabled will fail. See [this page](http://wiki.lustre.org/Mounting_a_Lustre_File_System_on_Client_Nodes) for enabling locks on Lustre filesystems (which is what we have been using internally).

[2018-05-10 20:46] ldgauthier commented on #4760
I touched it last so I will fix it.

[2018-05-10 20:56] kgururaj commented on #4755
If the JVM crashes, no matter what we do with respect to the query JSON files, there is a chance that the file will not be deleted. If the JVM exits cleanly, then the tmp file will be deleted. I don't think I can improve this any further.

[2018-05-11 00:28] EvanTheB opened #4761 "VariantRecalibrator htsjdk.tribble.TribbleException"
(https://github.com/samtools/htsjdk/issues/1115)
I am getting an error using gatk's VariantRecalibrator:

`htsjdk.tribble.TribbleException: Line 104: there aren't enough columns for line entrainScore=0.7203;HW=4.306476E-6 (we expected 9 tokens, and saw 1 ), for input source: file:///share/ScratchGeneral/evaben/cromwell/cromwell-executions/JointGenotyping/2ce78a09-433b-48eb-83d0-1fa1771d1181/call-S

[2018-05-11 06:25] EvanTheB commented on #4761
It looks like all the indexes are present:
1000G_omni2.5.b37.vcf
1000G_omni2.5.b37.vcf.idx
1000G_phase1.snps.high_confidence.b37.vcf
1000G_phase1.snps.high_confidence.b37.vcf.idx
dbsnp_138.b37.vcf
dbsnp_138.b37.vcf.idx
hapmap_3.3.b37.vcf
hapmap_3.3.b37.vcf.idx

Maybe the vcf files need a different format, bcf or vcf.gz? I think there is also a different index format iirc. I will trial those next w

[2018-05-11 14:19] lbergelson commented on #4755
@kgururaj Yeah, that's fair.  If it doesn't shut down cleanly there's not much that can be done.  Thanks for looking into it.  One thing we could consider is deleting the generated query.json file when we close the reader the created it, as well as marking it for deletion on exit.

[2018-05-11 15:46] chatchawit commented on #4712
Should I wait for a bug fix ? Can I do something to avoid the error? Thanks.

[2018-05-11 16:00] #4295 closed

[2018-05-11 16:09] jonn-smith commented on #4712
Unfortunately this is going to need a code fix.  I should be able to get to it by early next week.

[2018-05-11 16:32] lbergelson commented on #4761
@EvanTheB Thanks for moving over to the gatk tracker, I think it make more sense to start here and you'll get more eyes on it.  We can always push it back down to htsjdk if we determine that's definitely where the problem is.

I downloaded that vcf, I noticed that the actual download link for it is
ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/b37/1000G_omni2.5.b37.vcf **.gz** .

In zipp

[2018-05-11 16:41] droazen opened #4762 "Retry 502's in google-cloud-nio"
We've had a request to retry 502's in `google-cloud-nio`, so we'll likely have to patch our custom fork again. When we do so, we should move it to a more standard location (broadinstitute org instead of my personal account).

[2018-05-11 16:45] droazen opened #4763 "Resurrect --sites-only engine arg for VCF output"
We've had a request to restore the `--sites-only` engine argument that was present in GATK3. This should be trivial: add the argument to `GATKTool`, have `GATKTool.createVCFWriter()` check the argument and add `Options.DO_NOT_WRITE_GENOTYPES` if necessary.

[2018-05-14 01:19] EvanTheB commented on #4761
I 'bgzip'-ed and 'bcftools index -t'-ed my .vcf files, and re-ran VariantRecalibrator. (just with the vcf.gz and vcf.gz.tbi files present) And it seems to be working fine. TIL there seem to be a lot of different VCF index formats;
[code]
As well as the '.idx' files (what are those?) that are included on the broad ftp linked above. I couldn't find an explanation or comparison of these formats with

[2018-05-14 10:57] heliac2000 commented on #4727
Thanks zzxzxzzxz.

I insert a debug print to `score_and_write_batch()` function in `inference.py` and run CNNScoreVariants with `err.vcf`.
The following data is received by python process via fifo:

    'chrM\t16521\tC\t[T]\tGGGCCCATAACACTTGGGGGTAGCTAAAGTGAACTGTATCCGACATCTGGTTCCTACTTCAGGGCCATAAAGCCTAAATAGCCCACACGTTCCCCTTAAATAAGACATCACGATG\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\tAC=2;M

[2018-05-14 12:44] cmnbroad commented on #4727
@heliac2000 There is a PR (https://github.com/broadinstitute/gatk/pull/4751) in progress with a fix for this issue. Feel free to try that branch, which will probably solve your immediate problem.

[2018-05-14 14:07] heliac2000 commented on #4727
@cmnbroad Thanks! Very thanks!

[2018-05-14 17:53] jonn-smith commented on #4712
Quick update  - this bug occurs when handling alternate alleles (I believe of size > 1 base) in 5' UTRs.

I'm working on a fix now.

[2018-05-14 18:28] jonn-smith commented on #4739
@lbergelson @LeeTL1220 This may not be as straightforward as I thought - the `ALL` transcript files do not have the same metadata about where the UTRs are in the coding sequences, which means there would not be enough information to do the UTR annotations.

[2018-05-14 18:36] erniebrau commented on #4754
For GKL, it looks like we're cleaning up properly (see: [code here](https://github.com/Intel-HLS/GKL/blob/master/src/main/java/com/intel/gkl/NativeLibraryLoader.java#L65)). Might this be an issue of improper shutting down of GATK?

[2018-05-14 18:39] cmnbroad opened #4766 "Add profiling option to StreamingPythonExecutor"
Once https://github.com/broadinstitute/gatk/pull/4757 is in, it would be pretty easy to add an `@Advanced` or `@Hidden` tool argument that runs the Python code in (cProfile) profiling mode and writes the profile or summary stats to  a file.

[2018-05-14 18:47] lbergelson commented on #4754
@erniebrau Thanks for checking.  Must be incorrect shutdown then.

[2018-05-14 20:49] droazen opened #4768 "The combination of ReadsDownsamplingIterator + ReservoirDownsampler does not work correctly"
We usually use a `ReadsDownsamplingIterator` with a `PositionalDownsampler` that has a `ReservoirDownsampler` inside of it, which works as intended. If, however, you create a `ReadsDownsamplingIterator` with a raw `ReservoirDownsampler` directly, no items get downsampled. This is because the implementation of `ReservoirDownsampler.hasFinalizedItems()` violates the assumptions of the `ReadsDownsamp

[2018-05-14 22:25] cmnbroad commented on #4727
Fixed by #4751.

[2018-05-14 22:25] #4727 closed

[2018-05-15 14:25] #4700 closed

[2018-05-15 16:56] sooheelee commented on #4745
Thanks for following up with the researcher.

[2018-05-15 17:02] kgururaj commented on #4754
[Fixed now](https://github.com/Intel-HLS/GenomicsDB/blob/master/src/main/java/com/intel/genomicsdb/GenomicsDBLibLoader.java#L96)

[2018-05-15 17:05] jonn-smith commented on #4586
We should investigate tuning the caching parameter to increase speed further.

We still need to profile, increase speed further, and compare to Oncotator.

[2018-05-15 17:18] jonn-smith commented on #3841
The set of test cases should be:

{3' and 5' UTRs, exons, introns, intronic and exonic splice sites, 3' and 5' flanks}
x
lengths in bases of { 1,2,3,5,6,20}
x
{PIK3CA, MUC16 transcripts}
X
{insertion, deletion}
x
{hg19, hg38}

[2018-05-15 17:27] jonn-smith opened #4771 "Funcotator needs to handle 3' and 5' flanks"
Funcotator needs to be able to handle variants in the upstream and downstream flanks of a gene.

Right now because we walk over variants that match genes in Gencode, there will be no gene matches for upstream and downstream variants.

To do this we will need to update our features to match +/- the maximum of the padding for each en(5' or 3' padding).  This will also affect IGR processing.  We will

[2018-05-15 17:39] jonn-smith commented on #3849
This is similar to #4771.

Fixing this issue should also fix #4771.

[2018-05-15 17:42] jonn-smith commented on #4771
DO #3849 first and this one will go away.

[2018-05-15 17:45] jonn-smith commented on #3957
This is fixed as per @LeeTL1220 branch above.

[2018-05-15 17:45] #3957 closed

[2018-05-15 17:51] jonn-smith commented on #4359
This is related to #4583 - that issue must be done before this one is worked on.

[2018-05-15 18:00] jonn-smith opened #4772 "Funcotator should determine reference version based on the actual given reference sequence"
Cue off the `-R` flag to determine which reference to use.

[2018-05-15 18:02] jonn-smith commented on #4404
This should be fixed through the process of fixing #3849

[2018-05-15 18:46] jonn-smith commented on #4739
If the transcript doesn't occur in the FASTA then we should put `COULD_NOT_DETERMINE` as the VariantClassification.

[2018-05-15 19:51] droazen opened #4773 "GenomicsDB: add support for incremental updates"
According to @vdauwera, the most-requested GenomicsDB feature from GATK users is the ability to do incremental updates to an existing GenomicsDB.

[2018-05-15 20:50] jonn-smith commented on #4549
Look at the lanterna library for an interactive curses menu:

https://github.com/mabe02/lanterna

[2018-05-16 09:36] cristinaluengoagullo commented on #4753
Hi @kgururaj ,

Isn't there any way to disable locking in TileDB then?
Thanks!

Cristina.

[2018-05-16 15:40] lbergelson opened #4775 "MarkDuplicatesSpark UnsupportedOperationException"
jenkins tests caught a MarkDuplicatesBug that our existing tests didnt'

[code]

We recently added a broadcast of an immutable map which seems to be causing the problem.  We should add a dataproc test for markduplicates so that this sort of thing is regularly tested.

[2018-05-16 15:41] stevendavis commented on #3104
@stevekm I agree it would be beneficial to have the indel realignment tools in GATK 4.  It helps with reproducing results from existing pipelines and resolves any licensing issues.

Having said that, you may want to have a look at the GATK 3 source code.  RealignerTargetCreator and IndelRealigner are both in the public subfolder of the gatk-protected repo.

https://github.com/broadgsa/gatk-protect

[2018-05-16 16:23] jamesemery opened #4777 "MarkDuplicatesSpark metrics don't match with Picard"
It looks like picard metrics record at least one more field when the metrics get reported, namely the count of supplementary reads seen. The metrics code should be audited to ensure it matches with picard over the same files.

[2018-05-16 16:56] chatchawit commented on #4712
![image](https://user-images.githubusercontent.com/38786115/40131493-50819d2a-5964-11e8-9e95-3c834521f7b7.png)

I guess you've done something. How can I know that the bug has been fixed? How to download and install the new version? Please help. Thank you.

[2018-05-17 18:14] #4775 closed

[2018-05-17 19:43] droazen opened #4781 "ReadsContext class needs caching"
Now that we have important `VariantWalker` tools that use reads as a side input (such as @lucidtronix 's `CNNScoreVariants`), we need to add caching to `ReadsContext` for good performance on nearby reads queries during a traversal.

The caching should be modeled after the existing caching in `FeatureContext` as implemented in the `FeatureCache` class, but it should include the ability to cache "ar

[2018-05-17 19:44] droazen commented on #4781
For @cmnbroad (who has already started on the implementation, I believe)

[2018-05-17 19:48] #4763 closed

[2018-05-17 20:37] droazen commented on #4685
ping @vdauwera

[2018-05-17 21:58] droazen commented on #3669
This came up again recently. It looks like HTSJDK discovers the `crai` index correctly when it's in a bucket, but throws that information away in `SamReaderFactory.open()` when it calls `indexMaybe.asFile()`.

[2018-05-17 22:00] droazen commented on #3669
Might actually be a simple fix in HTSJDK...

[2018-05-18 11:07] Tintest opened #4782 "Singularity Germline CNV caller pipeline permission problem error"
Hello,

I'm trying to use the CNVGermline Pipeline with Nextflow and a GATK Singularity image pulled from your Docker image.

As you can see, I'm trying to run the DetermineGermlineContigPloidy with 57 samples, and I got a permission error within my Singularity container.

This error is directly related to Singularity permissions to create a directory ('/root/.theano/compiledir_Linux-4.10--generic

[2018-05-18 18:34] Tintest commented on #4782
@jmstover smartly outlined in his post on the [Singularity thread](https://github.com/singularityware/singularity/issues/1557#issuecomment-390244299) that having a tool asking for the ```/root``` directory should not be a normal behavior and might be hardcoded. That's why the command is successful when i'm using the container as root.

If you could change the ```/root``` directory with the ```/hom

[2018-05-18 18:39] #4730 closed

[2018-05-18 19:05] samuelklee commented on #4782
Thanks for bringing this to our attention, @Tintest.  I think that we may be able to address this by setting `base_compiledir` via `os.environ["THEANO_FLAGS"]` appropriately (see http://deeplearning.net/software/theano/library/config.html).  @mbabadi @cmnbroad any thoughts?

In any case, thanks for trying out the GermlineCNVCaller pipeline.  You may have to tune some parameters, depending on your

[2018-05-18 19:43] Tintest commented on #4782
Thank you for your links :)

I hoped you will be able to add the change in the next GATK version :)

If I can run this tool with singularity, I will be able to test a ton of different parameter !

[2018-05-18 20:23] LeeTL1220 opened #4786 "Can we simplify updates to the GENCODE version?"
This is for discussion... @jonn-smith @droazen

Currently, there seems to be a fair amount of code change in order to get Funcotator to work with a new gencode version.

For starters:
- the parser has to recognize the email address and version string
- the MAF output alias `MafOutputRendererConstants` needs to be updated.

Is there a way to have this be more seamless?

Ideally, we would have no ma

[2018-05-18 20:28] LeeTL1220 opened #4787 "Why is the GENCODE datasource responsible for producing the locatable info of a variant for MAF?"
For discussion....

See `MafOutputRendererConstants` for the MAF aliasing of chr, start, and end.  Why is this necessary?  Shouldn't the variant hold this info?

@jonn-smith

[2018-05-18 20:43] jonn-smith commented on #4712
@chatchawit I just merged the code into master, so it should be live now.

If you build the GATK from source you will get the latest update - do you need help doing this?

[2018-05-18 20:53] sooheelee commented on #4125
Do I need to run this Python package in the GATK4.0.4.0 Docker? I am getting a similar error with DetermineGermlineContigPloidy while running within the Docker on a Linux Compute Engine VM.
[code]

[2018-05-18 21:50] ttamho opened #4788 "HaplotypeCaller giving zero byte vcf output file with errorMessage: WARN IntelPairHmm - Flush-to-zero (FTZ) is enabled when running PairHMM"
Here is my command:
`gatk --java-options "-Xmx32g" HaplotypeCaller  \
  -R ucsc.hg19.fasta \
  -I ${result}/${outf}_recal_reads.bam \
  -O ${result}/${outf}.g.vcf.gz \
  -G StandardAnnotation \
  -G StandardHCAnnotation \
  -genotyping-mode DISCOVERY \
  -ERC GVCF \
  -bamout ${result}/${outf}_HCbamout.bam`

I suspect there could be issue of memory. Is there any other alternative causes?
The last

[2018-05-21 02:30] citscisean commented on #2865
I would love to see this as well.

[2018-05-21 04:33] wujh2017 opened #4790 "germline CNV"
I have got my result using 32 samples.but there is a problem that too many variants in the "sample_x_genotyped_segments.vcf" which i don't expect,it has 24987 vairants.So what happend and what should i do ?
it's my samples' problem or i just need to filter the vcf file ?
##FORMAT=<ID=CN,Number=1,Type=Integer,Description="Segment most-likely copy-number call">
##FORMAT=<ID=GT,Number=1,Type=Integer,

[2018-05-21 13:08] cmnbroad commented on #4782
@samuelklee os.environ would probably work, though it might be easier to set theano.config.base_compiledir directly so you don't have to worry about clobbering any other flags.

[2018-05-21 13:16] cmnbroad commented on #4125
@sooheelee The GATK Docker is preconfigured with the conda environment already established; I think what you're seeing is some other issue.

[2018-05-21 13:57] LeeTL1220 opened #4791 "Funcotator requires all GENCODE datasources (in the config) to be named "Gencode""
This is because the GencodeFuncotationFactory will force the datasource name (`getName()`) to return "Gencode".  However, some areas of the code (e.g. `Funcotator.java`) will query the name from the config file.  If these do not match, confusion ensues.  You will get IGRs for everything, since all queries into the datasource will yield no found features/transcripts.

[2018-05-21 14:57] droazen commented on #4791
beta blocker?

[2018-05-21 17:40] samuelklee commented on #4446
Reminder to self: this should be addressed in sl_ploidy_coverage_dist.

[2018-05-21 17:45] samuelklee commented on #3915
Perhaps add a mode to ModelSegments that takes in a VCF of genotyped hets for the case (rather than allelic counts for the case and optionally for the matched normal).  This would remove the responsibility for genotyping hets to an external tool, which could be better suited for handling cases like high purity LOH with no matched normal (in which case the naive genotyping done by ModelSegments is

[2018-05-21 17:46] samuelklee commented on #4287
@ruchim is there a status update on this?

[2018-05-21 18:10] samuelklee commented on #4222
@jsotobroad I'm going through and cleaning up issues.  Is there any rule of thumb I should follow when addressing this in the CNV WDLs?  Or should I just close this?

[2018-05-21 18:17] samuelklee commented on #4397
@asmirnov239 can I ask you to take care of this at some point?  Might make sense to address it before you get too far with #4738.

[2018-05-21 18:29] samuelklee commented on #3008
See model update in #4371 that should obviate this.  Should also handle this via -XL anyway.

[2018-05-21 18:29] #3008 closed

[2018-05-21 18:56] LeeTL1220 opened #4792 "How should Funcotator handle a single allele hit in a multiallelic for a VCF Datasource?"
Let's suppose we are querying a variant:  `3   100   G  A`

And we have a multiallelic in a VCF datasource:
`3  100  G  A,C  ANNOTATION1=4,5;ANNOTATION2=Foo;ANNOTATION3=Car,Truck`

Ideally, the annotated variant would be:
`3   100   G  A  ANNOTATION1=4;ANNOTATION2=Foo;ANNOTATION3=Car`

How should we handle this?  I am not sure of current Funcotator behavior, but it definitely is not doing the idea

[2018-05-21 19:05] samuelklee commented on #4737
I must've been looking at an old version of the WDL when I filed this...

[2018-05-21 19:05] #4737 closed

[2018-05-21 20:18] #4131 closed

[2018-05-22 02:28] zzxzxzzxz opened #4794 "[FilterVariantTranches] ValueError: fetch requires an index"
I am trying to use FilterVariantTranches in GATK 4.0.3.0 after running CNNScoreVariants

[code]

There are also index files in the directory

[code]

and I got the error

[code]

How can I fix this?  Thank you!

[2018-05-22 13:11] ldgauthier opened #4795 "Add allele-specific support to SelectVariants and VariantsToTable"
Allele-specific annotations are going into the production pipeline when we kick off exome reprocessing in a month or so.  Lots of projects subset samples (and I think we may even do it in production for people we really like), which will lead to subsetting alleles, which will lead to invalid AS-annotations since they're not going to be split at all.

Expected behavior is that any time alleles are

[2018-05-22 13:39] #2930 closed

[2018-05-22 13:42] LeeTL1220 opened #4797 "Funcotation should have no specific VCF or MAF code."
`serializeToVcfString` should not be be in the interface for Funcotation (see `Funcotation.java`).  That should be the job of the VCFOutputRenderer to sanitize any strings.  A Funcotation should not care whether it is being rendered to a VCF or MAF.  It's poor separation of concerns.

[2018-05-22 13:50] LeeTL1220 opened #4798 "A double query is being performed to smooth over the chr/non-chr b/w b37 and hg19 and GENCODE"
Every datasource is checked twice, once w/o "chr" and once with it.  This seems like overkill and inefficient.  Several solutions could be implemented:

- Detect which is relevant and only search those.
- Limit the searching to GENCODE only -- as opposed to all datasources.

[2018-05-22 14:15] Tintest commented on #4719
Please, make something like the solution 2 happen ! 👍

[2018-05-22 14:36] lucidtronix commented on #4742
Sorry, just saw this now.  We still don't have a simple solution for training models without pysam.  We can probably do something similar to what we do with inference, but I think the current priority is to improve inference throughput so it will probably be a little while before we get to re-writing the training code.  If people feel we should re-prioritize please let me know.
I have installed th

[2018-05-22 14:38] samuelklee commented on #4719
Just to clarify, I think argsets without the ability to override individual parameters would be fine.  Although it’s probably not difficult to implement, I think allowing overrides introduces unnecessary possibilities for error and confusion.  If you are a user that wants to just go with one of the provided argsets, fine; if you’re a user that wants to set all parameters individually, also fine.

[2018-05-22 16:58] mwalker174 commented on #4742
@lucidtronix Probably something's up with my configuration...
`
$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/Users/markw/anaconda/envs/py27/bin/../libexec/gcc/x86_64-apple-darwin11.4.2/4.8.5/lto-wrapper
Target: x86_64-apple-darwin11.4.2
Configured with: ./configure --prefix=/Users/ray/mc-x64-3.5/conda-bld/gcc-4.8_1477649012852/_b_env_placehold_placehold_placehold_placehold_p

[2018-05-22 17:08] mwalker174 commented on #4397
Yes for WGS with 250bp bins gives 10.8M intervals, which at 10k intervals per shard requires 1,000 tasks and cloud quotas start becoming a problem (I would prefer to run at 1k intervals per block). I'm currently working on running multiple blocks in one task basically by scattering the ScatterIntervals task by shard and then looping over an array of interval lists in GermlineCNVCallerCohortMode to

[2018-05-22 17:19] samuelklee commented on #4397
OK.  However, don't forget that the denoising model is fit independently in each block.  So introducing too many blocks could cause overfitting, in a sense.  Also, you want to make sure that you have enough bins in each block to learn the model.  10k seems safe, but I'd spot check results first if you want to go down to 1k.

[2018-05-22 19:11] #4647 closed

[2018-05-22 19:17] davidbenjamin commented on #4662
We can re-open this if we hear back from @bluesea2017.

[2018-05-22 19:17] #4662 closed

[2018-05-22 19:34] cmnbroad commented on #3669
Fix is a few lines of code in the increasingly abominable SamReaderFactory. PR is https://github.com/samtools/htsjdk/pull/1125.

[2018-05-22 19:39] jamesemery opened #4799 "CompareDuplicatesSpark throws an exception when a read is non-primary and a duplicate"
Despite both gatk and picard under some circumstances marking secondary and supplementary reads with their mates, the tool `CompareDuplicatesSpark` incorrectly throws an exception when encountering reads like this. The tool should be changed to either filter these reads from comparison or include them.

[2018-05-22 19:45] #4777 closed

[2018-05-22 22:03] lucidtronix commented on #4742
That would be my first guess too.  Let me know if it doesn't.

[2018-05-23 06:53] #4761 closed

[2018-05-23 13:19] LeeTL1220 opened #4802 "Use womtool to get errors faster in our WDL tests."
Before our cromwell/WDL tests even start to build the docker image, we could run womtool to validate the WDL.  This will catch some obvious errors in much less time.

[2018-05-23 14:39] chatchawit commented on #4712
@jonn-smith  I have sucessfully built GATK by these commands.

git clone https://github.com/broadinstitute/gatk
gradlew bundle

I've got this zip file in folder "build".
gatk-4.0.4.0-34-g2cc7abd-SNAPSHOT.zip

So I unzipped and used this to replace GATK-4.0.4.0 that I downloaded from https://github.com/broadinstitute/gatk/releases/download/4.0.4.0/gatk-4.0.4.0.zip.

I still found errors.

21:09:33.

[2018-05-23 14:47] davidbenjamin opened #4803 "Make FilterRealignmentArtifacts work for worse assemblies"
Currently `FilterRealignmentArtifacts` assumes that the original alignment was to a reference at least as good as hg19.  For example, when there is a unique realignment it doesn't check its location.  @magicDGS points out that this might not be the case for different organisms with worse reference assemblies.

[2018-05-23 14:59] lbergelson commented on #4802
👍

[2018-05-23 15:01] droazen commented on #4535
@lucidtronix Is this on your radar for this quarter? Engine team is happy to help with the conversion (we think it should be pretty easy) -- feel free to book some time on our calendar if you like.

[2018-05-23 15:10] lucidtronix commented on #4535
The PR is in: https://github.com/broadinstitute/gatk/pull/4800

[2018-05-23 15:15] lucidtronix commented on #4794
We are rewriting that tool in java to prevent issues like this.  You could pull that branch from here: https://github.com/broadinstitute/gatk/pull/4800.
Otherwise, I think pysam handles gzipped indexed vcfs better than plain text ones. So if you gzip your resource files with
`
bgzip -c hapmap_3.3.hg19.sites.vcf > hapmap_3.3.hg19.sites.vcf.gz
`
then index them with tabix:
`
tabix -p vcf hapmap_3.3.

[2018-05-23 15:26] droazen commented on #4535
@lucidtronix Sorry, saw that PR just after I posted the comment above :)  Thanks for doing it!

[2018-05-23 19:27] jonn-smith commented on #4712
@chatchawit Thanks.  From the stack trace it looks like another issue that I'm actually currently working on.  I'm not sure when it will be done, but I'm going through it as part of fixing #4739 (it's an aggravating bug that will require some refactoring).

[2018-05-23 20:59] jonn-smith opened #4804 "Funcotator can't handle variants that start outside an exon and end within an exon"
Funcotator must be able to handle indels that span exon start boundaries.

For example, in `hg19` the following variant is not handled properly:

chr5:71622537-71622538 CA->C

The current workaround is to throw a `FuncotatorUtils.TranscriptCodingSequenceException` for the transcript causing this problem in Gencode.

[2018-05-24 10:58] samuelklee opened #4806 "NIO version of CNV WDLs."

[2018-05-24 11:37] samuelklee commented on #2992
Some filters are implemented in the ModelSegments CreatePoN code (since these filters were directly ported from GATK CNV).  Other filters were implemented as external python scripts by @mbabadi for GPC2 validation.  We should extract and productionize if possible.  Ideally, the tool would take several coverage files (collected over identical bins) and filtering parameters as input, and output a fi

[2018-05-24 13:51] LeeTL1220 commented on #4806
@samuelklee @bshifaw Please correct me if I missed a conversation etc....

Are you sure you want to do this before we have a portable WDL-NIO solution?  Adding NIO for the CNV workflow provides wins:
- for the reference fasta.
- in cases where we are only using a small portion of the bam files.

But for the latter point, this is not a common use case, right?
As far as I knew, the CNV WDLs were nev

[2018-05-24 13:56] LeeTL1220 commented on #4806
Something is discussed in the style guide about NIO.

[2018-05-24 13:57] samuelklee commented on #4806
What is the timeline for portable WDL-NIO?

This would make things like performing preliminary analyses on subsets of contigs, etc. go a bit faster.  I agree that this is not a common use case, but since it's such a small amount of work, I don't see the harm.  Would be nice to be consistent with other Featured WDLs, if they're all using NIO as well (is this true?)

[2018-05-24 14:01] samuelklee commented on #4806
For example, I'm running some WGS tests on chr20-22.  The BAMs take ~1hr+ to localize but it only takes ~5 minutes to collect read/allelic counts.  Getting preempted adds a huge amount of unnecessary overhead.

[2018-05-24 14:03] LeeTL1220 opened #4807 "Enable running of Funcotator in the M2 WDL tests."
Change the json to enable running of funcotator and fix any errors that occur.

[2018-05-24 14:03] LeeTL1220 commented on #4807
Do not disable oncotator ....  IMHO

[2018-05-24 14:05] LeeTL1220 opened #4808 "Upgrade Oncotator version in the cromwell M2 WDL test json"
1.9.9.0

[2018-05-24 15:46] bshifaw commented on #4806
Sure, but i'm not familiar with what the supported files would be. Would this be any input, reference, and resources files in google bukcets?
Also, just glancing over the mutect2 nio looks like `File` is changed to `String` only in the task block, true?

[2018-05-24 15:52] samuelklee commented on #4806
Some of the files in the CNV workflows are not yet supported by NIO, so it won’t be as easy as changing File to String everywhere.  I think the ref and the BAMs are the most important ones to change, as Lee pointed out.

Let’s not worry too much about getting this in the next release or anything like that—-as soon as is convenient is fine.  But let’s decide on things like whether we need a copy in

[2018-05-24 16:54] LeeTL1220 opened #4810 "Funcotator rendering IGR variant classification multiple times"
- Appears in `VCFOutputRenderer`... not sure if this is an issue in the `MAFOutputRenderer`

I am not sure what the exact error is here, but how can I have multiple IGR funcotations for a single variant?   I believe that a single variant can be  IGR only or not IGR at all, even when looking at multiple transcripts.

Perhaps the error is that the variant is being queried by largest gene footprint a

[2018-05-24 18:41] LeeTL1220 opened #4811 "Need delimiter for transcript funcotations in ALL transcript mode (VCF output only)"
Currently, we should create FUNCOTATION INFO attributes that look as follows:

[code]

And let's say we hit 3 transcripts.... and we are in ALL mode, so we output all annotations.  The `FUNCOTATION` value should be (roughly) as follows:

[code]

And each allele is separated by comma as per standard VCF spec.

Important Note:  The description rendering must also be changed to eliminate the precedin

[2018-05-24 19:06] droazen commented on #4806
@samuelklee Let us know if you want a quick consult on converting your tools to NIO -- happy to help!

[2018-05-24 19:07] #4323 closed

[2018-05-24 19:19] samuelklee commented on #4806
Yup, this is tied in to the discussion of tabular data we touched on in https://github.com/broadinstitute/gatk/issues/4717.

CNV tabular data/files are represented as metadata (which is a SAM header that includes sample name and/or sequence dictionary) and records (which may or may not be locatable).  We can probably make do with just NIO support for locatable data, since these tend to be the larg

[2018-05-24 19:48] samuelklee commented on #4806
@LeeTL1220 Actually, since the coverage collection itself is comparable to the time it takes to localize the BAM, this probably also helps even when you're not just running on snippets.

Building a PoN on chr20-22 took ~2.5 hours without NIO (3/50 BAMs were preempted, some more than once), but it only took ~40 minutes with an NIO WDL I quickly whipped up (and 1/4 of that was because I was unlucky

[2018-05-24 20:07] jonn-smith opened #4812 "Funcotator COSMIC data source contains invalid protein position information"
Some of the data in the COSMIC database contain invalid protein position information.

For example, the protein position field here indicates a stop position before the start:
[code]

Specifically: **p.V308_P39insDKAKQRNV**

This is clearly a typo.  However, for the moment we are ignoring these data and throwing a warning, rather than attempting to fix them or include them.

[2018-05-25 12:30] sooheelee commented on #4806
FYI, next release of Cromwell is supposed to automatically interpret File types as Sting when given a gs:// bucket file.

Sent from an iPhone and typed with my thumbs.

[2018-05-25 12:35] LeeTL1220 commented on #4806
That would be really bad.  Are you sure?

On Fri, May 25, 2018, 08:30 sooheelee <notifications@github.com> wrote:

[2018-05-25 12:45] samuelklee commented on #4806
Actually, I'm noticing that while using NIO for the BAM for read/allelic-count collection is usually much more efficient, using NIO for the reference in other tasks can be much slower.  Perhaps the access patterns for the reference (hitting ~10^5-10^6 intervals or sites for WES PreprocessIntervals and WES/WGS CollectAllelicCounts, respectively) make localization a better strategy?  @droazen does t

[2018-05-25 13:18] LeeTL1220 commented on #4806
@sooheelee  I just confirmed that is *not* the case.  Have not confirmed the exact change yet.

[2018-05-25 13:52] sooheelee commented on #4806
There is a video recording of Chris L saying so. I’ll get the link to it in a bit.

Sent from an iPhone and typed with my thumbs.

[2018-05-25 15:07] cjllanwarne commented on #4806
There's a change in progress that will let you "opt in" to have Cromwell treat a specific `File` input as a `String` for the purposes of localization and as a `File` for the purposes of call caching. It'll probably look something like (but this isn't necessarily the final syntax final yet) this:
[code]

[2018-05-25 15:08] cjllanwarne commented on #4806
But this is still in progress so won't be in Cromwell 32 releasing today

[2018-05-25 15:17] sooheelee commented on #4806
Thanks @cjllanwarne for the clarification. @LeeTL1220, are you referring to the same feature or perhaps something else?

[2018-05-25 15:32] LeeTL1220 commented on #4806
I have talked with Chris about this before and his post captures what I
understood.  This is not what I gathered from your previous post. Happy
that plans have not changed.

On Fri, May 25, 2018, 11:17 sooheelee <notifications@github.com> wrote:

[2018-05-25 15:48] sooheelee commented on #4806
@LeeTL1220, Chris is also my source of information. Seems there's been a misunderstanding of what is meant by "automatic" in that we will have to opt-in to the feature.

[2018-05-25 15:52] VincentGardeux opened #4813 "Can ASEReadCounter be used for counting haplotypes/groups of SNPs?"
Hi there,

I am using ASEReadCounter and it works fine, but I did not find any other output than count tables.

I'd like to count by haplotypes, or simply to be able to merge several snp counts together (because I know they are in LD, or they come from the same haplotype)
If the tool could export read names per allele, instead of counts, I would be able to merge them together. But here I cannot me

[2018-05-25 15:55] #3086 closed

[2018-05-25 15:57] davidbenjamin commented on #4714
Absorbed into #3012.

[2018-05-25 15:57] #4714 closed

[2018-05-25 16:00] davidbenjamin commented on #3012
This is now a priority for the mitochondrial calling project, and probably for any high-depth calling because, as @meganshand has found, we lose *sensitivity* due to inactive regions.

[2018-05-25 16:04] davidbenjamin opened #4814 "deep"

[2018-05-25 16:05] davidbenjamin commented on #4814
Wrong button.

[2018-05-25 16:05] #4814 closed

[2018-05-25 16:06] davidbenjamin opened #4815 "Mutect3 Deep Learning Filter"

[2018-05-25 16:06] #3239 closed

[2018-05-25 16:26] LeeTL1220 commented on #4806
@sooheelee Yeah, but we (WDL authors) need to opt-in per parameter.  There are still files that we would want to localize even if a gs url is provided.

[2018-05-25 16:58] mwalker174 commented on #4397
I will try that as well. I just finished building a PoN at 250bp bin size with 1k intervals per block. This produces ~10k models and the PostprocessGermlineCNVCalls WDL task gets us the following error from Cromwell:

Who knew? So, we are also going to have to modify PostprocessGermlineCNVCalls and the case mode calling task to accept a tar archive containing all the models. @samuelklee @mbabadi L

[2018-05-25 17:48] davidbenjamin commented on #3012
Just kidding!  We lose sensitivity from `isActive()` when the depth is high but we found the true reason.

[2018-05-25 17:54] samuelklee commented on #4397
Oof, that's good to know as well.  Actually, can I ask why you are running at 1k intervals per block?  That seems a little on the thin side to me.  I think @mbabadi's example of ~200 samples x ~10000 bins is the typical use case we expected, either for WGS or WES.

[2018-05-25 18:01] davidbenjamin opened #4816 "Mutect isActive loses sensitivity when allele fraction is comparable to base error rate"
If you look at the approximation going from equation 34 to 35 in https://github.com/broadinstitute/gatk/blob/master/docs/mutect/mutect.pdf you will find that we replace f(1 - e) + (1 - f)e by just f(1 - e), where f is the allele fraction and e is the error rate.  When f is much bigger than e this is okay but when they are comparable (consider mitochondrial or cfDNA calling with f = 1% and base qua

[2018-05-25 19:04] mwalker174 commented on #4397
I was hoping it would train faster but I'm not sure that turns out to be the case.

[2018-05-25 19:13] samuelklee commented on #4397
Yes, I'm not sure I would expect that to be true.

My guess is that we continue to run long after suitable convergence with the current inference parameters (which we have not had a chance to optimize over for runtime).  I think we can probably afford to be less conservative.  @mbabadi do you have a better handle on this?

[2018-05-25 19:19] meganshand commented on #4816
@fleharty This might be of interest.

[2018-05-25 20:10] jamesemery opened #4818 "Refactor ReadsSparkSource to accommodate non-sorting bam output"
Currently `PrintReadsSpark` only supports coordinate sorted input files because `ReadsSparkSource` automatically sorts the output. This is not necessary as many spark tools are written in such a way that they won't affect the sorting order of the underlying read inputs. For these tools we should provide the ability to write the contents of the bam using the original partitioning order.

[2018-05-25 21:39] sooheelee commented on #4125
I'm able to install Conda, run the yml and activate it locally. I don't know what's up with the Docker either.

[2018-05-26 12:40] zzxzxzzxz commented on #4794
Thank you very much!!

[2018-05-28 08:59] magicDGS opened #4819 "Add jitpack.yml to build snapshots"
Using https://jitpack.io/#broadinstitute/gatk for building SNAPSHOTS (independent on your jfrog repository, which has a expired date for snapshots - https://github.com/broadinstitute/gatk/issues/4565) is not working any longer due to the requirement of git-lfs (e.g., https://jitpack.io/com/github/broadinstitute/gatk/4.0.4.0/build.log)

It will be nice to add a `jitpack.yml` file (see https://jitpa

[2018-05-28 13:02] Atahualkpa opened #4820 "BwaAndMarkDuplicatesPipelineSpark Duplicate Key -1 (GATK) v4.0.4.0"
Hi,
I use your software with docker swarm where is deploy spark and hadoop the configuration for docker image is this:
[code]
I have this configurations for docker-compose:
- Spark

[code]
- Hadoop:
[code]
the datanodes and namenode and spark master and workers are all working.
My hardware resources are:
16 core and 1Tb memory ssd and 56Gb ram for 3 machines.

 I have this problem when I launch th

[2018-05-28 17:57] rdocking opened #4821 "Malformed VCF headers in HaplotypeCallerSpark"
Hi there - I'm having some problems running `HaplotypeCallerSpark` on RNA-Seq data.

The tl;dr is that, on some occasions when `HaplotypeCallerSpark` runs out of memory, it finishes successfully, but writes out a VCF file without a proper header.

Example command syntax is:

[code]

When I run this command on a single chromosome with `-Xmx94349m`, the command completes successfully, but the result

[2018-05-28 21:14] lbergelson commented on #4821
@rdocking Very strange.  Did it produce any stack trace in the output? It sounds like maybe executors are dying and something isn't retrying correctly in some way.

[2018-05-28 22:47] rdocking commented on #4821
@lbergelson - I didn't see any stack trace in the output. Here are examples from similar samples:

[gatk_debug_60k.txt](https://github.com/broadinstitute/gatk/files/2046269/gatk_debug_60k.txt) - Runs properly
[gatk_debug_70k.txt](https://github.com/broadinstitute/gatk/files/2046270/gatk_debug_70k.txt) - Malformed output

[2018-05-29 16:48] jjfarrell opened #4822 "Creating Conda gatk env error"
I am getting the following error when creating the gatk environment with conda env create -n gatk -f scripts/gatkcondaenv.yml

NoPackagesFoundError: Package missing in current linux-64 channels:
  - intel-openmp 2018.0.0*

Below is the complete listing. Any suggestions?

.```
/gradlew createPythonPackageArchive
:createPythonPackageArchive UP-TO-DATE

BUILD SUCCESSFUL

Total time: 13.183 secs

 con

[2018-05-29 19:37] #4739 closed

[2018-05-29 20:57] mwalker174 opened #4824 "gCNV nan errors"
@samuelklee @asmirnov239 @mbabadi I tried to run a 30-sample cohort through gCNV on all canonical chromosomes with 250bp bins sharded in 10k-interval blocks, but PostprocessGermlineCNVCalls gave the following error:

[code]

After inspecting the output from shard 225, it seems that the model starts producing nan values after ~1600 warmup iterations (looking at the ELBO log). This shard corresponds

[2018-05-29 21:10] sooheelee opened #4825 "Ensure consistent output directory requirements in CNV tools."
The exception is:
[code]
Posting this as per @samuelklee's request.

[2018-05-29 21:42] sooheelee opened #4826 "GermlineCNVCaller stdout is uninformative and could summarize some of the verbose information"
All that you get is the recapitulated command and, e.g.:
[code]

Would be great to have a summary of useful information, e.g. (but not limited to):

- Total number of epochs (INFO level)
- ELBO value and SNR value etc for the final epochs (INFO level)
- Whether convergence was achieved or not (WARN if not)

Currently, the only way to get all three pieces of information is through setting `--verbos

[2018-05-29 21:44] sooheelee commented on #4826
Not sure who's attention to bring this to, so assigning @samuelklee to delegate.

[2018-05-29 22:12] cmnbroad commented on #4343
@vifehe Unfortunately this hasn't been addressed yet, although we aware aware its causing pain and do plan to fix it.

[2018-05-30 13:09] ldgauthier commented on #4614
Thanks for the plots @skwalker !  To clarify, this is the AS- vs non-AS- annotations from the same callset at biallelic sites, right?  I'm not surprised there are some differences, but it's hard to tell how significant they are at full alpha.  Can you turn down the alpha on the geom_point or add some contours?

[2018-05-30 13:48] ldgauthier commented on #4824
How did you guys generate the target list for hg38?  I've been having some problems with regions near the centromeres for SNPs and indels as well.  The centromeres.bed for hg38 from UCSC seems to include the computationally generated centromeres, but not the additional gross regions nearby that we excluded from b37.  Laurent was excluding a fair amount of territory beyond the "official" centromere

[2018-05-30 14:03] samuelklee commented on #4824
@mbabadi We should look into ways to be more robust against NaNs, but I think we should just go ahead and blacklist these regions.  This can be done from the outset of the pipeline via the `-XL` argument to PreprocessIntervals.  Does SV team have a canonical list we can start recommending?  Looks like http://cf.10xgenomics.com/supp/genome/GRCh38/sv_blacklist.bed may also be a good option.  Perhaps

[2018-05-30 14:17] skwalker commented on #4614
Yep, these are from the same callset. I've added some contours and lowered the alpha here
![baseqranksum](https://user-images.githubusercontent.com/4933056/40725876-82d2218a-63f2-11e8-979d-766f709f1847.png)
![inbreedingcoeff](https://user-images.githubusercontent.com/4933056/40725877-82e31b5c-63f2-11e8-80b6-434fa9a30b45.png)
![mqranksum](https://user-images.githubusercontent.com/4933056/40725878-8

[2018-05-30 15:43] davidbenjamin commented on #4614
#4801 addressed the spanning deletion issue with new qual, so I'm ready to go ahead and do this once a green light is given.  @droazen you wanted to wait for your HC tests branch to go in, right?

[2018-05-30 16:00] #3956 closed

[2018-05-30 16:06] mwalker174 commented on #4824
@samuelklee We aren't using any blacklists currently. I am less concerned about noisy calls because they usually don't line up well with read pair evidence. That said, I did not get nan errors with 1kbp bins - perhaps we could bump up the bin sizes in regions where this happens?

[2018-05-30 16:07] ldgauthier commented on #4614
...at which point we will write RELEASE NOTES with warnings about batch effects in BIG LETTERS!

[2018-05-30 16:11] cwhelan commented on #4824
@samuelklee In my experience the 10x blacklist is very very conservative and will likely exclude many regions of common copy number variation. I'd recommend something less restrictive for general use.

[2018-05-30 16:18] skwalker commented on #4614
Here are the rest of the plots... not quite what you were expecting..

![fs](https://user-images.githubusercontent.com/4933056/40733289-3a9b71a8-6403-11e8-945a-9ce6806904c5.png)
![mq](https://user-images.githubusercontent.com/4933056/40733290-3aa8b804-6403-11e8-8d41-6f9bae13b5bc.png)
![sor](https://user-images.githubusercontent.com/4933056/40733291-3ab70882-6403-11e8-8e2a-f7409a9bcf37.png)

[2018-05-30 16:22] mbabadi commented on #4826
@sooheelee, the computation engine `gcnvkernel` produces a lot of informative messages, however, they are not shown unless you run GATK with `--verbosity DEBUG`. I have filed an issue about it: #4629. @cmnbroad could you please take a look at the issue?

[2018-05-30 16:55] lucidtronix commented on #4822
I've had this issue on MacOS X and was able to install the environment successfully by removing the open-mp and mkl lines from the yaml:
[code]
Then you may need to remove the partially installed environment with:
[code]
Then hopefully you can run:
[code]
Hopefully, the tools will run without openmp and mkl, but I'm sure we are taking a performance hit so we should figure out what is the right cha

[2018-05-30 17:09] ldgauthier commented on #4614
Well.  That MQ plot is... special.  It's a known issue that there's some hinky (non-AS) MQ behavior in regions with uninformative reads (I made an approximation that doesn't hold as often as I'd hoped).  I'm working on a branch to fix it literally right now.  Also, (non-AS) MQ uses all the reads, whereas AS_MQ only uses the informative ones, so many sites will have slight differences and some site

[2018-05-30 17:56] mwalker174 commented on #4824
There were more nans in these other chunks, all of which overlap the UCSC centromeres regions:
[code]
I'm going to try again with centromeres blacklisted.

[2018-05-30 19:04] droazen commented on #4614
@davidbenjamin Yes, that's correct -- the HC testing branch is coming soon, and I think we should be able to get both that branch and the switch to newQual in for the next release (assuming that there are no outstanding objections from anyone else on the switch).

[2018-05-30 21:17] droazen opened #4828 "Support "Requester-Pays" billing in google-cloud-nio"

[2018-05-31 03:08] davidbenjamin commented on #4760
@ldgauthier You fixed this in #4793, didn't you?

[2018-05-31 03:23] davidbenjamin opened #4829 "Bamout aligns non-spanning reads to false deletions in STRs"
The following screenshot of a bamout is common in HaplotypeCaller and Mutect2:

![screen shot 2018-05-30 at 2 36 58 pm](https://user-images.githubusercontent.com/8438890/40759148-b860a5da-645e-11e8-8f94-21534ed9ab48.png)

Notice how all of the reads that appear to support a single-base deletion actually do not because they do not span the poly-T homopolymer.  This makes the bamout harder to interp

[2018-05-31 06:15] yfarjoun commented on #4829
I don't understand the reason for the 0.00001 preference for the alt
haplotype...the alignments are identical: all bases match. so why is there
a preference? is there a preference for a shorter haplotype somehow?

On Wed, May 30, 2018 at 11:23 PM, David Benjamin <notifications@github.com>
wrote:

[2018-05-31 13:33] ldgauthier commented on #4829
I found the data from yet another example of this behavior (see poorly aligned reads in the bamout -- somehow the big fat deletion is preferred over the reference):
![dlbcl-c_d_pair13 nkap x_119059262 frame_shift_del ctctcttcttggttaaaggatgcaaggg_-](https://user-images.githubusercontent.com/6578548/40785072-7fdff344-64b5-11e8-8539-78267b9a2950.png)

tumor exome:  /seq/picard_aggregation/C1637/c_D_p

[2018-05-31 13:36] ldgauthier commented on #4760
Yes!  closed via #4793

[2018-05-31 13:36] #4760 closed

[2018-05-31 14:23] davidbenjamin commented on #4829
The marginalization over all paths, not the the likeliest one, would make a small difference, but I'm not sure in which direction.  In fact, I would even guess it would tend to favor the reference over a deletion because there are more contributions from things like TTTTT -> TT(DELETE A T)TT(INSERT A T)T that don't actually change the bases but do contribute to the sum.  That is, if the reference

[2018-05-31 14:59] yfarjoun commented on #4829
is there a haplotype-based prior that uses the alignment of the haplotype
to the reference? A prior that depends on the alignment might be better
than a flat pro-reference prior

On Thu, May 31, 2018 at 9:34 AM, ldgauthier <notifications@github.com>
wrote:

[2018-05-31 15:07] jonn-smith commented on #4804
This is related to #4307

[2018-05-31 15:08] jonn-smith commented on #4307
This is related This is related to #4804

[2018-05-31 16:07] ldgauthier commented on #4614
Sarah dug up variants with big annotation differences for me and they confirm my hypothesis about dropping alleles in genotyping.

Raw data for ReadPosRankSum(1.330) vs AS_ReadPosRankSum(-13.4):
`9       36651842        .       C       A,T,<NON_REF>   .       .       AS_RAW_BaseQRankSum=|-10.500,1|-1.700,1|;AS_RAW_MQRankSum=|-0.600,1|0.100,1|;AS_RAW_ReadPosRankSum=|-13.400,1|1.300,1|;AS_SB_TABLE=4

[2018-05-31 16:12] jonn-smith opened #4831 "Funcotator support for Canis Familiaris"
It would be nice to be able to display support for arbitrary organisms as a way to showcase Funcotator's flexibility.

Canis Familiaris should be somewhat low-hanging fruit.

[2018-05-31 16:37] ldgauthier opened #4833 "Investigate AS_QD with new QUAL"

[2018-05-31 19:54] LeeTL1220 opened #4839 "Funcotator default values were using single static instances for default values."
This causes integration tests to fail.

[2018-05-31 20:04] LeeTL1220 commented on #4693
This is done for VCF only when #4838 is merged.

[2018-05-31 20:26] LeeTL1220 commented on #4791
@jonn-smith Didn't you already fix this?

[2018-05-31 21:26] jonn-smith commented on #4791
Yes - this was fixed in #3956

[2018-05-31 21:26] #4791 closed

[2018-05-31 22:10] sooheelee opened #4840 "PostprocessGermlineCNVCalls errors on chunk consisting of random and unplaced contigs."
Random and unplaced contigs are a part of the primary assembly. The tool also errors on decoy contigs but no other GRCh38 contig type. This ticket is to investigate why this error is happening for this subset of the data.

Error is
[code]

Let me know what data files we need to look into to figure out the cause of error so I can make them available.

[2018-06-01 09:43] magicDGS opened #4842 "TableCodec.HEADER_DELIMITER should be public to be use in writers"
If a tool is output a `TableFeature`, to keep in sync the `HEADER` marker, it should be public to being able to format the header. Another option is to add a method to `TableFeature` to get a header `String` to output.

[2018-06-01 13:57] #4741 closed

[2018-06-01 16:27] davidbenjamin commented on #4829
We could concoct one, but it might introduce more reference bias than a flat but modest epsilon nudge.

[2018-06-04 10:11] magicDGS opened #4849 "TwoPassReadWalker: allow different ways for traversal in each pass"
Different traversal options might optimize some pipelines and give flexibility to the API user to have more efficient tools. Some of the different traversal per-pass that I am interested are:
* Allow different filters applied in each pass. Example usage: collect some metric with all reads in the first pass, and use it for the second pass only on the filtered reads.
* Allow different transformers i

[2018-06-04 15:22] mwalker174 commented on #4824
Blacklisting centromeres resolved the NaN errors except for one block on chrY that roughly corresponds to region q11.23. I blacklisted that block and got no more errors.

[2018-06-04 15:32] samuelklee commented on #4824
My guess is that these regions have unusually high coverage, which is probably yielding NaN likelihoods.  @mwalker174 any way you can check this from your previous runs?

Our philosophy so far has been to keep the tools relatively agnostic by allowing generic blacklisting via `-XL` and pushing the responsibility to the users.

[2018-06-04 18:08] droazen commented on #4849
@magicDGS I like your idea of making `TwoPassReadWalker` more configurable, with the ability to specify different filters/transformers/intervals per-pass, provided that tools that don't need this level of configuration don't have to override any additional methods.

[2018-06-04 20:21] samuelklee commented on #4826
I think this is essentially a dupe of #4629, so I'm closing it.  @cmnbroad please do let us know when the issue's addressed, though!

[2018-06-04 20:21] #4826 closed

[2018-06-04 20:27] samuelklee commented on #4790
Hi @wujh2017,

You should filter your variants using the various quality scores described in the VCF header.  We find that simply filtering on QS is typically a good strategy.

Also, you might find it more helpful to post this sort of question in the GATK forums---other users might benefit from seeing the answer there.

[2018-06-04 20:27] #4790 closed

[2018-06-05 11:42] cmnbroad commented on #4826
@samuelklee @mbabadi I Haven't forgotten about this, though I'm not sure when I'll get to it.

[2018-06-05 14:50] LeeTL1220 opened #4850 "FuncotationMap.add(...) has to check for Gencode Funcotations explicitly"
Currently, the code in FuncotationMap.add(...) looks for gencode funcotations and throws an exception if it finds any.  It has to do this to keep the transcript map in a consistent state.  This issue is to design a solution around this hack.

[2018-06-05 14:51] LeeTL1220 commented on #4850
Currently, the required order of events is
-  `FuncotationMap.createFromGencodeFuncotations(...)`
- `.add(...)` for all of the other funcotations.

This is enforced by Funcotator.java, but should be enforced through another mechanism, so that developers do not get into trouble.

[2018-06-05 18:00] #4577 closed

[2018-06-05 18:17] droazen commented on #4828
@jean-philippe-martin It's looking like @Horneth won't have time to implement this in the short-term future -- since you mentioned that the change was fairly simple, would you be able to submit a PR yourself? We'd be happy to help review.

[2018-06-05 19:07] droazen commented on #4490
We need to wait on this until some bug fixes happen in owner. @jonn-smith has submitted pull requests that will fix the issues he encountered:

(lviggiano/owner#226)
(lviggiano/owner#227)

[2018-06-05 19:45] Horneth commented on #4828
A few thoughts on this:

One important thing to be aware of about RP is that specifying the billing project in the request to GCS incurs cost to the requester **even if the bucket does not have requester pays enabled**.
Because of that, I think NIO should only set the billing project if the caller explicitly asked for it. It would be the responsibility of the caller to either determine whether or

[2018-06-05 19:56] droazen commented on #4828
@Horneth Ideally we'd just check up-front whether the bucket has requester pays enabled, and specify the user's default project as the billing project if it is.

It would also be good, I think, if we included a toggle that allows the client to tell the library to throw and refuse to proceed if an attempt is made to access requester-pays data, so that users who don't want to incur GCS access charge

[2018-06-06 19:06] SHuang-Broad opened #4852 "Cannot read BED file stored in HDFS as interval list file"
## Bug Report

### Affected tool(s) or class(es)

All Spark tools that takes parameter `-L`

### Affected version(s)
- [x] Latest public release version [4.0.4.0]
- [x] Latest master branch as of [2018-06-30]

### Description

When running a Spark tool and passing in interval arguments via the standard `-L` argument, if the interval file (only BED file is tested) is stored in HDFS, we see errors l

[2018-06-07 01:37] davidbenjamin commented on #4829
@ldgauthier I made a branch that gives the nod to reference haplotype when the likelihood is uninformative (more precisely, when the reference likelihood is within the uninformative threshold -- it doesn't choose the reference in case of a tie between two non-ref haplotypes!) and ran it on a NA12878 exome and compared with master.  There are a few thousand differences in the whole exome, mainly `D

[2018-06-07 01:46] davidbenjamin opened #4855 "Several GenomeLoc methods are verbose"
They're harder to read than necessary.  `subtract` and `compareTo` are good examples.

[2018-06-07 03:07] davidbenjamin opened #4856 "Should GATK annotations be applied to original, untrimmed reads?"
The reads that go into HaplotypeCaller and Mutect2 annotations are trimmed to fit their assembly regions.  This definitely does questionable things to annotations involving read position.  Is it worth keeping track of the original reads for annotations?

[2018-06-07 13:11] ldgauthier commented on #4829
I love it!  Especially that second one where the 5bp deletion goes to no deletion with a low qual G at the read end.  (I'm assuming something similar happens in the last example, but I don't see a read in the bottom that looks like it could match the 6bp deletion in the top.) Submit a PR and I can review.

[2018-06-07 13:35] ldgauthier commented on #4614
The new model effectively increases QUAL scores by 20 (I wrote this up in the NewQualQC2 Palantir report), but the variants that are between the emission threshold and the equivalent emission threshold compared to the old model aren't great:
![image](https://user-images.githubusercontent.com/6578548/41057600-89681f4c-6995-11e8-8cc4-7da5091ee6d0.png)
Those few good values out in the tail are potent

[2018-06-07 13:38] ldgauthier commented on #4856
Ooh, this could be why ReadPosRankSum is our least informative annotation (as determined by some of the old random forest experiments).

[2018-06-07 13:46] davidbenjamin commented on #4856
Could be.  I would be very inclined to believe it especially if it's particularly uninformative for SNPs, since those would tend to have smaller assembly regions and hence more trimming.

I'm interested in dealing with this because we have an immediate need to make the M2 read position filter more powerful for FFPE data without hurting sensitivity.

[2018-06-07 13:51] davidbenjamin commented on #4614
This difference of 20 makes sense theoretically.  The old qual always has a heterozygosity prior of 1 in 1000, whereas new qual starts there but is willing to learn a different allele frequency.  Very hand-wavingly, a difference of 20 or so means that new qual has learned an allele frequency in the ballpark of 1 in 10 (since log_10 1/10 = log_10 1/1000 + 2 and 2 --> 20 in phred scale).  So basical

[2018-06-07 14:10] LeeTL1220 opened #4857 "GencodeFuncotation class will always have metadata (type, description) that is unknown."
### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [x] Latest master branch as of June 7, 2018

### Description
Currently, the metadata for `GencodeFuncotation` will always be default, unknown for all fields.  However, we know what each field is, so we could populate

This cannot be seen anywhere by a user, yet.  However, future requirements will probably cause the metadata to

[2018-06-07 14:18] ldgauthier commented on #4614
I'm missing something here. 10% allele frequency is really high in practice.  The AN varies pretty substantially because exome coverage is so uneven (and I think there are two different captures here), but the AF for most variants in this callset is less than 1 in 1000 (tail trimmed):
![image](https://user-images.githubusercontent.com/6578548/41105265-4cec30d4-6a3b-11e8-8138-633202ebe338.png)
Or m

[2018-06-07 14:21] ldgauthier commented on #4856
Given that Sam's 1D model still depends on ReadPosRankSum and his 2D model takes annotations plus the trimmed bamout regions, the CNN isn't getting the best read position info either. I think this would definitely be useful on the germline side.

[2018-06-07 14:22] ldgauthier commented on #2723
@lucidtronix can we close this in favor of the eval part of your CNN WDL?

[2018-06-07 14:46] LeeTL1220 commented on #4857
Expand the unit tests so that it checks for the values of the new metadata.

[2018-06-07 15:41] ldgauthier commented on #4614
There are also some discrepancies Sarah saw that stem from hom ref calls that get annotated because they have an alt allele with a minuscule posterior probability that's still > 0 (where 0 is the emission threshold in GVCF mode).  This changes the results in some cases and will also break homRef blocks wherever there are any alt reads at all, which I don't want to do.

AFCalculationResults::isPoly

[2018-06-07 16:49] davidbenjamin commented on #4614
@ldgauthier In that case I'll have to come up with a better hand-waving explanation!

That seems reasonable.

[2018-06-07 18:21] #4852 closed

[2018-06-07 19:34] jamesemery opened #4859 "Make ReadsSparkSource Sorting configurable"
Currently ReadsSparkSource automatically sorts reads before writing them out according to the sort order of the header (or without sorting if the header sort order is unrecognized). There should be a way to avoid this for tools where the reads RDD ordering can be guarinteed at write time, or in which we don't want to change the sort ordering anyway like PrintReadsSpark.

[2018-06-07 19:55] jamesemery opened #4860 "Add an IntervalOverlapReadFilter"
Currently the best way to select a subset of reads overlapping an interval is to provide a list of -L reader interval arguments. Unfortunately, this requires that the bam be sorted and indexed, which can often be a pain point when trying to perform quick tests, as a sort is often slow and requires copying the bam a second time. To alleviate this, it would be nice to add a ReadFilter level interval

[2018-06-07 20:04] davidbenjamin commented on #4816
Closed by #4832.

[2018-06-07 20:04] #4816 closed

[2018-06-07 20:27] ldgauthier commented on #3714
closed via #3928 (a while ago)

[2018-06-07 20:27] #3714 closed

[2018-06-07 22:27] jonn-smith opened #4861 "Funcotator should produce an `error` transcript if a particular transcript was not able to be annotated due to an error"
In the error handling for `catch ( final FuncotatorUtils.TranscriptCodingSequenceException ex )` in `GencodeFuncotationFactory` we should add an `otherTranscript` to the output annotations with the transcript ID and an ERROR statement if an error occurred during processing.  This will make the user more likely to see it if there was a problem creating funcotations for a particular transcript.

[2018-06-07 23:30] droazen commented on #4685
@vdauwera monthly ping :)

[2018-06-08 13:21] LeeTL1220 opened #4863 "Funcotator support for MT protein change"
### Tool(s) or class(es) involved
Funcotator

### Description
- Funcotator needs to have an option to annotate protein change in mitochondria
- Important:  Note that mitochondria uses different codons.
https://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi#SG2
- Gencode v28 (at least) has transcripts.
- First version of this solution can be for mitochondria-only VCFs (most-likely from M2).
While

[2018-06-08 14:32] #3842 closed

[2018-06-08 14:32] #4808 closed

[2018-06-08 14:32] #4810 closed

[2018-06-08 14:32] #4811 closed

[2018-06-08 14:32] #4839 closed

[2018-06-08 15:54] davidbenjamin opened #4865 "Conditional code paths for ReadLikelihoods method that always returns true"
`ReadLikelihoods` has the following method:
[code]
The annotations engine has several code paths that could only be taken if this were to `return false`.  For example:
* In `DepthPerAlleleBySample`
[code]
* In `RankSumTest`
[code]
* There's also a bunch of code in all the `StrandBiasTest` implementations.

Can this method, and all the unused code paths, just be deleted? @droazen @ldgauthier

[2018-06-08 15:55] davidbenjamin opened #4866 "Two unused classes"
`DiploidGenotype` and `ProbabilityVector` are not used except in their own unit tests.  Delete?  @ldgauthier

[2018-06-08 15:58] droazen commented on #4865
@davidbenjamin I don't think it can be removed. That method (`ReadLikelihoods.hasFilledLikelihoods()`) is overridden in `UnfilledReadsLikelihoods` to return `false`. It was deliberately added by @jamesemery in his port of `VariantAnnotator`.

@jamesemery Can you comment?

[2018-06-08 16:35] davidbenjamin opened #4867 "Adaptive assembly graph pruning"
In high-depth calling (eg @meganshand's work with mitochondria) it is necessary to tweak the `min-pruning` argument.  If it is too low, base errors render the assembly graph nearly dense,  causing a loss of sensitivity when the assembly engine essentially chooses random haplotypes.  If it is too high, we also lose sensitivity because true variants are pruned.

Setting the command line argument dif

[2018-06-08 17:03] davidbenjamin opened #4868 "Somatic error correction for low allele fractions"
Read error correction tends to follow the basic strategy of 1) collect kmer counts 2) replace rare kmers with their closest non-rare match.  For germline calling where there is a huge gap between error rates and diploid het allele fractions this is sufficient.  Mutect, however, must contend with cases where counts alone do not discriminate perfectly between errors and real mutations.

Without comm

[2018-06-08 17:58] ldgauthier commented on #4866
I haven't seen those before and have no emotional investment.

On Fri, Jun 8, 2018 at 11:56 AM, David Benjamin <notifications@github.com>
wrote:

--
Laura Doyle Gauthier, Ph.D.
Group Leader, Germline Methods
Data Sciences Platform
gauthier@broadinstitute.org
Broad Institute of MIT & Harvard
320 Charles St.
Cambridge MA 0214

[2018-06-08 18:33] jamesemery opened #4869 "Add better error message when submitting an empty bam to spark"
Currently if you submit a bam with no reads to a spark tool AND it's header indicates that it is queryname sorted it will throw an unhelpful error message in the repartitioning code. This should be fixed somehow.

[2018-06-08 20:38] LeeTL1220 commented on #4634
Also, tumor_f, which should be the `AF` attribute in the FORMAT field.

[2018-06-08 20:49] LeeTL1220 opened #4871 "Does FuncotationMetadata need to support FORMAT fields in a VCF input/datasource?"
Related to #4634

There are FORMAT fields that are needed to render a MAF properly.  Currently, these are not extracted from an input VCF (nor datasource).

For example, our MAF requirements dictate `t_alt_count`, etc, which come from the format fields (and metadata about the samples).

This is probably unnecessary for datasources, but we should discuss.

[2018-06-08 20:54] LeeTL1220 commented on #4583
I think this is already done as part of #4872 ... @jonn-smith Can you confirm?

[2018-06-08 21:07] jamesemery commented on #4865
@droazen  That is correct. It was a necessary step to avoid having to make a class equality check on the likelihoods object itself. @davidbenjamin I am open to suggestions if you have an idea of how better to encapsulate the separation between these two likelihood objects.

[2018-06-11 09:50] af8 opened #4875 "Mutect2 not working in 4.0.5.0 ?"
[code]

while version 4.0.5.0 raises an error :

[code]

Thank you,
Anthony

[2018-06-11 12:43] cmnbroad commented on #4875
@af8 thanks for the report. It does look like we introduced a change that causes this bug. It should only affect command line help requests ("-h"); the tool itself should work ok.

[2018-06-11 15:35] tfenne commented on #4875
FWIW I'm having the exact same issue with HaplotypeCaller.  It's not quite limited to just requests for help (`-h`).  Any completely valid command line works.  Any incorrect command line that also triggers display of the help text also fails with the same error message.

[2018-06-11 15:49] cmnbroad commented on #4875
@tfenne Yeah, the invalid command issue makes makes sense. HC, GenotypeGVCFs, CombineGVCFs and VariantAnnotator will all have this same behavior.

[2018-06-11 16:48] droazen commented on #4875
We are going to cut a release now to push out the fix for this issue.

[2018-06-11 16:49] tfenne commented on #4875
Thanks @droazen!

[2018-06-11 17:52] jonn-smith commented on #4583
@LeeTL1220 actually I think this was actually addressed in #4838.

Either way, I think we can close this one.

[2018-06-11 17:52] #4583 closed

[2018-06-11 18:00] jamesemery commented on #4820
@Atahualkpa Could you try this again on V4.0.5.0? We have resolved a number of issues leading up to the release that might solve your problem. My next question? How is the input file sorted? And how is that recorded in your bam header? Secondly, are you sure that file is indeed sorted correctly?

[2018-06-11 18:22] LeeTL1220 opened #4880 "Spanning deletion (?) causes crash in Funcotator"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [x] Latest master branch as of June 11, 2018

### Description
Getting a stacktrace (from a spanning deletion)
[code]
#### Steps to reproduce
[code]
I can provide input files, but since I am both reporting and fixing this issue, I already have them.

This is high priority since it could affect a group using Funco

[2018-06-11 19:55] LeeTL1220 opened #4882 "What is driving the transcript error messages? Do we need to worry about these?"
[code]

If we do not need to worry about these, can we downgrade to a warning?

[2018-06-11 20:07] davidbenjamin commented on #4865
Thanks for indulging me on this.  To me it seems like `UnfilledReadsLikelihoods` diverges too much from `ReadsLikelihoods` to extend it.  In effect it's letting `ReadsLikelihoods` sometimes be a wrapper for something that is not a `ReadsLikelihoods`.

I haven't worked this out but I would hope that it's possible to construct a `ReadsLikelihoods` from a pileup.  I mean, the idea of pileup calling i

[2018-06-11 20:17] ldgauthier commented on #4614
As per a recent meatspace conversation @davidbenjamin said he would throw together a quick PR for the epsilon.  And maybe rerun the data?

[2018-06-11 20:23] #4829 closed

[2018-06-11 21:13] jonn-smith commented on #4882
This occurs when there is an issue with the coding sequence for a given transcript in Gencode.  It's a problem with the Gencode data itself.

I would prefer to keep as an error so the user is more likely to see it.

There is some work to be done here, though - the error message should also contain a description of an exception that was caught to produce this log statement.

[2018-06-11 22:22] #1260 closed

[2018-06-11 22:40] SHuang-Broad opened #4883 "SV breakpoints location off when surrounding homology are of different length, and SVLEN off when duplicated copies are of different length"
## Bug Report

### Affected tool(s) or class(es)
`org.broadinstitute.hellbender.tools.spark.sv.discovery.inference.BreakpointsInference`, hence affecting the location of breakpoint output by the SV discovery pipeline.

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description

Micro-homology around breakpoints affects w

[2018-06-12 02:05] davidbenjamin opened #4884 "Call indels in Mutect with just one or two reads"
Illumina sequencing produces indels bigger than several bases so rarely that just one read is strong evidence.  We would have to 1) modify Mutect's `isActive()` method and 2) tell the assembly engine not to prune these indels in order to call them.

[2018-06-12 02:13] davidbenjamin opened #4885 "Make Mutect smarter about variation in normal"
Mutect2 doesn't consider a pileup active when the normal has any variation, even if the tumor has different variation.

Also, the normal genotype is always assumed hom ref.

[2018-06-12 02:16] davidbenjamin opened #4886 "Assemble normal reads first in Mutect"
One could imagine assembling normal reads only, using very aggressive pruning, to find one or two normal haplotypes, then constructing the tumor assembly on this scaffold.

[2018-06-12 02:20] davidbenjamin opened #4887 "Mutect multi-sample calling"
That is, multiple samples of the same tumor in space or time, a tumor and a metastasis, a tumor and its cfDNA etc.

First we have to ask collaborators and the community what features they would like and what problems they want to solve.

[2018-06-12 03:55] davidbenjamin commented on #4865
Another point is that the code is already implicitly assigning likelihoods to reads in order to determine which allele each read supports.  A method to create a `ReadsLikelihoods` from a pileup would just make this explicit.

[2018-06-12 14:02] magicDGS commented on #4865
I have some code to do that in a test project  - if you are interested on it, I can submit a PR with my proposal. It will be nice for an idea that I have in mind, and if it is used also in GATK it would have more support (as a single developer, my reviews are not as good as in a team). Just let me know if you wanna port the code to some utility class!

[2018-06-12 14:49] droazen commented on #4541
@kgururaj Is this one still on your radar? It's mentioned in https://github.com/broadinstitute/gatk/pull/4645 as being targeted for the "next version" of the protobuf API, and @ldgauthier mentioned it to me as a feature she'd really love to have.

[2018-06-12 15:21] droazen opened #4888 "google-cloud-nio: retry on UnknownHostException and 502 bad getway"
We've had reports of two kinds of intermittent network errors when using NIO that are not currently caught by google-cloud-nio:

* `UnknownHostException`
* 502 Bad Gateway

We should patch the library to add these errors to the list of retryable/reopenable errors. We can start by patching the GATK fork of `google-cloud-java`, and then concurrently submit a PR against `google-cloud-java` proper.

[2018-06-12 15:27] lbergelson commented on #4888
Should we bring our fork up to date first?

[2018-06-12 15:28] jonn-smith commented on #4712
@chatchawit If you haven't already, try again with the latest release.  It should help.  There are also updated Data Sources in the usual place.

[2018-06-12 15:30] droazen commented on #4888
@lbergelson I'd prefer a targeted patch to the retry code in our fork as the lowest-risk option for now.

[2018-06-12 16:36] droazen commented on #4865
@jamesemery Can you weigh in with your thoughts? I seem to recall that there were a lot of nuances surrounding this issue (for example, consistency issues between `VariantAnnotator` and other annotation-producing tools).

[2018-06-12 16:59] kgururaj commented on #4541
Yep, next version

[2018-06-12 17:17] jonn-smith commented on #3896
This may be fixed with #4872

[2018-06-12 17:19] jonn-smith commented on #4586
We also need to profile on multiple machines and verify that `Funcotator` will run at the same speed on all of them.

[2018-06-12 18:06] davidbenjamin commented on #4327
We're going to do this, and have opened issue #4887.

[2018-06-12 18:06] #4327 closed

[2018-06-12 20:44] #4818 closed

[2018-06-12 22:03] jamesemery commented on #4865
@davidbenjamin That would work and is already more or less what we are doing for VariantAnnotator. The reason we went through trouble of making two classes in the first place was because the pileup was not entirely adequate without actually doing the assembly and genotyping as indels and a number of other effects cause problems that become expensive unless we are in a tool like haplotype caller.
C

[2018-06-13 00:09] chandrans opened #4891 "Port FastaAlternateReferenceMaker to GATK4"
@chandrans commented on [Wed Jan 17 2018](https://github.com/broadinstitute/dsde-docs/issues/2852)

Is FastaAlternateReferenceMaker going to be in GATK4?  I did not see any mention of it. I hope other users will request it if there is demand.

----
User Report
----

Where is the fastaalternatereferencemaker in GATK4.0?
I want to build a reference with mutation by fastaalternatereferencemaker, but

[2018-06-13 00:10] chandrans commented on #4891
6 people have requested this. I realize this is still low priority, but any chance someone would be willing to take this on?

[2018-06-13 14:57] #4696 closed

[2018-06-13 15:11] davidbenjamin opened #4892 "Transposon DNA damage read filter / transformer"
@yfarjoun and I recently discovered the following artifact in 30 FFPE samples:

The artifact occurs in DNA transposons with sequence 5'[S1][ITR][transposase][ITR'][S2]3', where S1 and S2 are arbitrary flanking sequence, ITR and ITR' are the inverted tandem repeat and its reverse complement (on the *same* strand).

The artifact occurs when FFPE damage in the ITR sequence disrupts base pairing, caus

[2018-06-13 15:15] davidbenjamin opened #4893 "FDR-based Mutect filtering"
In @takutosato's upcoming PR for the new orientation bias tool M2 filtering is going to become a two-pass variant walker in order to filter based on a desired false discovery rate (FDR).  We should emulate this for other M2 filters for which is is hard to set a posterior- or likelihood-based threshold.  For example, the tumor lod, normal artifact lod, strand bias, contamination, and germline filte

[2018-06-13 19:18] droazen opened #4896 "Retire the MarkDuplicatesGATK tool (for now)"
@jamesemery has found that he's been able to make `MarkDuplicatesSpark` call directly into Picard code for much core functionality. As a result, `MarkDuplicatesGATK` has gotten out-of-date relative to both the Spark version and the Picard version.

I think that we should remove `MarkDuplicatesGATK` for now, as it's likely just confusing users. Longer term, we should still discuss migrating develop

[2018-06-13 20:44] cmnbroad commented on #4221
Closed via https://github.com/broadinstitute/gatk/pull/4757 where the timeouts were removed altogether.

[2018-06-13 20:44] #4221 closed

[2018-06-13 20:45] cmnbroad commented on #4444
Closed via https://github.com/broadinstitute/gatk/pull/4757.

[2018-06-13 20:45] #4444 closed

[2018-06-13 20:46] cmnbroad commented on #4443
Closed via https://github.com/broadinstitute/gatk/pull/4757.

[2018-06-13 20:46] #4443 closed

[2018-06-13 22:07] #4880 closed

[2018-06-14 14:57] davidbenjamin commented on #2898
@samuelklee This tool no longer exists, right?

[2018-06-14 15:01] davidbenjamin commented on #1538
`TargetCollection` no longer exists.  I believe its uses were replaced by `OverlapDetector`.

[2018-06-14 15:01] #1538 closed

[2018-06-14 15:04] samuelklee commented on #2898
Yup, thanks!

[2018-06-14 15:04] #2898 closed

[2018-06-14 15:04] davidbenjamin commented on #17
@lbergelson Can we close this issue since we now use `MergeVcfs` in the picard package?  3 1/2 years is a long time to be high priority. . .

[2018-06-14 16:15] davidbenjamin commented on #1385
@ldgauthier @cdauwera Is there anything left to do before we can say that #4650 closed this?

[2018-06-14 16:37] davidbenjamin commented on #1437
@ldgauthier This optimization is in the old `DiploidExactAFCalculator`.  Can we close the issue?

[2018-06-14 18:11] kgururaj commented on #4753
Probably, I'll try to see if I can disable it with a runtime controllable flag

[2018-06-14 18:42] davidbenjamin commented on #2890
@lbergelson  I think it doesn't actually need to implement max and min at all because those are only used in unit tests.  Furthermore, the `kmerCounts` in `AssemblyResultSet` themselves are only used in such methods i.e. they don't need to be members at all.  You could delete `CountSet` entirely without replacing it.  And even if you keep it there it is definitely not crucial for performance and c

[2018-06-14 18:49] davidbenjamin commented on #2869
@lbergelson I think this was automatically moved from gatk-protected via ZenHub, but does it make any sense in this repo?

[2018-06-14 18:51] davidbenjamin commented on #2966
Somatic likelihoods model has cleaned this up.

[2018-06-14 18:51] #2966 closed

[2018-06-14 18:54] davidbenjamin commented on #2958
@vdauwera @ldgauthier Now that new qual is about to become the default can we close this one?

[2018-06-14 19:01] lbergelson commented on #2869
Nope

[2018-06-14 19:01] #2869 closed

[2018-06-14 19:22] lbergelson commented on #4896
That seems like the right choice, we should also remove the corresponding EstimateLibraryComplexityGATK

[2018-06-14 19:44] cristinaluengoagullo commented on #4753
Ok, thank you so much!

[2018-06-14 20:06] #4216 closed

[2018-06-14 20:12] davidbenjamin commented on #4575
@wangyugui We have decided to do this -- see #4887.

[2018-06-14 20:12] #4575 closed

[2018-06-14 20:28] droazen commented on #4888
After discussing with @cwhelan, the `UnknownHostException` has not yet been shown to actually be retryable -- ie., we've never had a run in the exact same environment that passed where previously we saw `UnknownHostException`. He's only been able to resolve the error by changing the runtime environment (cromwell -> non-cromwell), and in that case a retry in `google-cloud-java` wouldn't help.

[2018-06-15 01:51] LeeTL1220 opened #4897 "Create a MAFCodec for eliminating possible conflicts"
### Affected tool(s) or class(es)
Funcotator, but could be future tools as well.

### Affected version(s)
- [ ] Latest master branch as of [June 14, 2018]

### Description
Currently, if you want to read a MAF the GATK will use AnnotatedIntervalCodec.  This is fine in the majority of cases.  However, under the hood, it is using a configuration setup that has an aliasing scheme.  This alias scheme i

[2018-06-15 08:57] MigleSur opened #4898 "nv"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2018-06-15 11:53] cmnbroad commented on #4898
@MigleSur Looks like you created an issue using just the template. I'll close this out assuming it was created in error. If you do have an issue, feel free to re-open and edit to include the details. thx.

[2018-06-15 11:53] #4898 closed

[2018-06-15 12:58] ldgauthier commented on #2958
Let's close it.  You can do the honors.

[2018-06-15 12:59] ldgauthier commented on #1437
:+1:

[2018-06-15 13:01] #2958 closed

[2018-06-15 13:02] #1437 closed

[2018-06-15 14:19] jonn-smith commented on #4586
Turns out the caching fix is only a partial fix because of the discrepancies between b37 contig names, hg19 contig names, and the fact that the datasources are inconsistent between them.

[2018-06-15 20:18] cmnbroad opened #4901 "Inconsistent unmapped but placed query results"
When querying bams by interval, htsjdk only returns unmapped, placed reads if the read's start position overlaps the query interval, whereas the read's mapped mate is returned if any part of it overlaps the interval. Unclear if this has an affect on things like finding breakpoint evidence, but it can result in unintentionally splitting up pairs, and can give subtly inconsistent results such as whe

[2018-06-15 20:35] lbergelson commented on #4901
This seems really bad.

[2018-06-18 14:28] cmnbroad commented on #4901
@lbergelson Yeah, it would seem more rational to always keep them together. It would require some lookahead/state to use the same interval for both, since empirically there seems to be no ordering maintained between the reads in a pair.

[2018-06-18 15:15] samuelklee opened #4903 "Add support for allelic counts from indels to ModelSegments pipeline."
Suggested by Peter Du, who observed that HaplotypeCaller finds ~3400 snps (~7700 snps + indels) in a mouse exome, vs. ~2000 hets found by CollectAllelicCounts + naive genotyping.  See related issues #3915 and #4717.