[2019-11-04 18:25] lbergelson commented on #6242
https://gatkforums.broadinstitute.org/gatk/discussion/11546/gatk4-error-java-lang-illegalstateexception-the-covariates-table-is-missing-readgroup is a possible example of this error.

[2019-11-04 18:26] bhanugandham opened #6243 "Inaccurate Definition NON_REF in gvcf files"
The issue is that the vcf header NON_REF "Represents any possible alternative allele at this location" but it should instead be described "any allele that is neither the reference nor the observed alt alleles"

User Report:
Hi,
There is a bug in how you define <NON_REF> in gvcf files.

From your vcf header definition:
ALT=<ID=NON_REF,Description="Represents any possible alternative allele at this

[2019-11-04 18:27] bhanugandham commented on #6243
Hi @ldgauthier

As discussed during gatk office hrs, I created a issue ticket for this.

[2019-11-04 19:12] ldgauthier commented on #6239
I should have been more specific.  `--genotype-given-alleles` is HaplotypeCaller functionality, which is very similar if not outputting GVCFs.

If providing dbSNP is similar to something you might want to do, then I think this approach will work.  My concern was that if you were interested in a particular locus, but had never seen a variant there in any sample (i.e. didn't have an ALT allele to co

[2019-11-04 21:14] xysj1989 commented on #6235
@samuelklee The method you suggested, successfully solve my problems. I have tested 12 times and no more "theano-gof-compilelock" occurs. Thank you very much!

[2019-11-05 19:24] samuelklee commented on #5716
@mwalker174 Maybe a note here when you get the estimate for disk costs would be useful for posterity?

[2019-11-06 09:01] guoyuh opened #6248 "GATK4 Mutect2 error ：af-only-gnomad.raw.sites.hg19.vcf.gz has invalid uncompressedLength: -795051631,"
I have found an error when using GATK4 Mutect2 ,error as follow,thanks and waitting your reply
Using GATK jar /home/vip/biosoft/gatk/gatk-4.0.5.1/gatk-package-4.0.5.1-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx10g -jar /home/vip/biosoft/gatk/gatk-4.0.5.1/g

[2019-11-06 09:09] pigraul opened #6249 "How to get OREF info in VCF INFO filed."
How can I get "OREF" and "OALT" info  from GATK?  Need special parameters?

My script is below:
java -Xmx6g -Djava.io.tmpdir=./ -jar GenomeAnalysisTK.jar \
-T HaplotypeCaller \
-R b37.fasta \
-I EC46IOCV.final.bam \
-nct 8 \
--genotyping_mode DISCOVERY \
-stand_call_conf 30 \
--dbsnp dbsnp_137.b37.vcf \
-o EC46IOCV.GATK.var.vcf

I did not find it in VariantAnnotator either.

Many thanks,
Raulee

[2019-11-06 10:51] WimSpee commented on #6220
Ping @ldgauthier

[2019-11-06 14:56] samuelklee commented on #6226
Hmm, just noting that I only see this when running in my local conda environment, and not with the Docker. :man_shrugging:

[2019-11-06 14:58] samuelklee commented on #4824
At least partially addressed in #6245, we can reopen if there are other NaNs that we have to patch.

[2019-11-06 15:08] samuelklee commented on #5852
@mwalker174 @asmirnov239 decided not to tackle this yet.  There are a few options: 1) warn and/or filter out such contigs in PreprocessIntervals (not a fan of this), 2) filter in FilterIntervals, 3) warn/fail/filter a little earlier at DetermineGermlineContigPloidy (and also GermlineCNVCaller to be safe), 4) warn/filter at PostprocessGermlineCNVCalls, 5) fix the theano code to treat such contigs s

[2019-11-07 08:41] Fruit-loops opened #6254 "SelectVariant raise OutOfMemoryError"
## Bug Report

### Affected tool(s) or class(es)

The Genome Analysis Toolkit (GATK) v4.0.7.0

### Description

I ran the command line below and get an oom error. I've  got the same error when i set the heap memory larger using the param "--java-option Xmx24g" . This procedure only crashed when I tried to select INDEL. I've uploaded the vcf file for you to test.

command line:
[code]

log:
[code]

[2019-11-07 09:45] winni2k opened #6255 ""java.lang.IllegalArgumentException: log10 p: Values must be non-infinite and non-NAN" in v4.1.4.0"
## Bug Report

### Affected tool(s) or class(es)
GATK v4.1.4.0 using FilterMutectCalls

### Affected version(s)
- [x] Latest public release version `4.1.4.0` installed from conda release `gatk4-4.1.4.0-1`
- [ ] Latest master branch as of [date of test?]

### Description
This issue reports the same error that is reported in #6237, but on the latest release, and in a mitochondrial calling setting.

[2019-11-07 12:10] samuelklee opened #6256 "Modify the PythonScriptExecutor to allow environment variables."
See comments in #6244.

[2019-11-07 15:38] meganshand opened #6257 "Feature Request: Mitochondria pipeline should tag variants as heteroplasmic or homoplasm"
###  Feature request

### Tool(s) or class(es) involved
Mitochondria pipeline (Mutect2)

### Description
This is a user request from the forum:

Other mitochondria tools notate the difference between heteroplasmy and homoplasmy variant calls. This is based only on the estimated AF so should be simple to implement and add an additional annotation. It is allele specific, so would fit better in the F

[2019-11-07 15:40] meganshand opened #6258 "Feature Request: Make Mitochondria Pipeline more portable with string inputs for tool paths"
## Feature request

### Tool(s) or class(es) involved
Mitochondria WDL

### Description
User request from the forum:

If the mitochondria WDL had string inputs for all of the tool paths it would be more portable for those running with a local backend without docker.

[2019-11-07 19:49] mwalker174 commented on #5716
In the SV pipeline, for ~100 samples in case mode the cost breakdown was:

memory: $1.04
disk: $1.50
cpu: $4.59

It seems that we are over-provisioning for disk: amount of disk size used was < 5 GB (only ~$0.14 worth of disk) but the default is 150 gb. Therefore it doesn't seem that we would save much by streaming, but we should lower the default disk size in the WDL.

[2019-11-07 20:05] #6235 closed

[2019-11-07 20:55] samuelklee commented on #5716
As we just discussed at our gCNV meeting, this disk cost is for 2kbp bins.  So once 100bp bins are back on the table, we'll be at 20 x $0.14 = $2.80.  In the meantime, no reason not to recoup that ~$1.36!  Maybe even dump it into memory and decrease the number of shards accordingly?

For now, we should probably just set the appropriate runtime parameter in the clinical SV pipeline, but then at som

[2019-11-07 23:47] #4824 closed

[2019-11-07 23:47] #6226 closed

[2019-11-07 23:47] #6227 closed

[2019-11-08 00:55] SebastianHollizeck commented on #6202
Hey, just wondering if there has been any updates for my problem.

[2019-11-08 02:07] xiucz commented on #6123
Today, I found one more example in my tumor-only sample :
and Mutect2 result:
[code]
For indel type variants that called out by Mutect2 re-assemble bamout and no signals in the original bam, how much confidence do we have in ?  Can I filter this site out?

![111](https://user-images.githubusercontent.com/12706146/68443221-434ae180-020e-11ea-96a6-3f4ebc61c3e1.png)
![222](https://user-images.githubu

[2019-11-08 19:46] lbergelson commented on #6234
This is fixed by #6247

[2019-11-08 19:46] #6234 closed

[2019-11-08 21:22] #6161 closed

[2019-11-11 07:06] fanyucai1 opened #6259 "GATK 3.7 DepthOfCoverage"
hi doctor:

I run the command as follows:
java -Xmx40g -jar /software/gatk/3.7/GenomeAnalysisTK.jar -T DepthOfCoverage -allowPotentiallyMisencodedQuals --minBaseQuality 20 --minMappingQuality 20 -R /data/Database/hg19/ucsc.hg19.fasta -I 27_NC_T.sort.rmdup.recal.bam -o test -ct 150 -ct 200 -ct 250 -ct 500 -ct 1000 -ct 10000 -ct 50000 -L target.interval_list

The output as follows:
sample_id	total	m

[2019-11-11 15:02] davidbenjamin commented on #6239
Let me paraphrase to see if I understand:

*  `GenotypeGVCFs` gets an `--alleles` argument just like HC and M2.
*  Pass this `FeatureInput` to the `GenotypeGVCFsEngine` so that the output VC has genotypes for all given alleles.

I'm hardly familiar with `GenotypeGVCFs` but it looks like we need to modify `regenotypeVCs`, for example the line
[code]
We might also need to change something upstream i

[2019-11-11 17:11] bbimber commented on #6239
@davidbenjamin : my read of the code is that yes, we would need to alter traversal.  It is worth pointing out that GenotypeGVCFs already supports the "--includeNonVariantSites" argument, which is similar.  The difference between what I propose and --includeNonVariantSites is that this new option would only output a site if present in the provided whitelist file.

I briefly looked at the guts of tr

[2019-11-12 09:08] ccartermices opened #6260 "java.lang.IllegalArgumentException: Unexpected base in allele bases"
Hey there~ I have run the following command:

gatk HaplotypeCaller \
-R bbv18h27rm.fa \
-ERC GVCF \
--alleles db_raw_call_bbe_6largest.vcf \
-I bbe_off_xL3_68.concordant_withRG.bam \
-O test_call_off_xL3_68_allele_46samples.vcf.gz

and had some error:
[code]
How can i handle with this ? Thanks.

[2019-11-12 10:20] pavlemarinkovic opened #6261 "Using womtool 47 to graph the latest mutect2 wdls throws an exception"
## Bug Report

### Affected tool(s) or class(es)
_womtool-47, grpah_
or
_version 1.0 wdls_

### Description

I've been trying to graph mutect2 wdls using the latest womtool, but each time the tool throws an exception.

Command-line:
`java -jar womtool-47.jar graph mutect2.wdl`

Exception:
[code]

for multi sample:
[code]

for pon
[code]

Am I using womtool wrong, or is there a bug with it, or is t

[2019-11-12 17:27] jamesemery commented on #6260
Hey @ccartermices. Looking at that error message it appears that the genotype given alleles has tried to insert a '*' allele into an assembled haplotype. ("TTTTGAC*TTCGC" in the error message). I suspect this is because the code is missing a check to filter symbolic alleles out of GGA inputs. Can you check your input `db_raw_call_bbe_6largest.vcf` for `*` alleles? It should be possible to filter t

[2019-11-12 17:37] lbergelson commented on #6260
We should patch to give a better error message as well...

[2019-11-14 08:16] ccartermices commented on #6260
Thanks，if i want to make a filter on it, should i use which tool? VQSR?

[2019-11-18 20:02] vruano opened #6267 "Evaluation Bed for DRAGEN port into GATK"
Need to create a auto or semi automated mechanism to test and evaluate elements incorported from DRAGEN to GATK.  This is probably and ongoing task.

[2019-11-18 20:22] vruano opened #6268 "DRAGstr"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2019-11-18 20:23] jamesemery commented on #6268
I think you hit submit prematurely?

[2019-11-18 20:25] vruano commented on #6268
You are quick! Pressed finish by mistake.

[2019-11-18 20:30] vruano opened #6269 "GATKstr: output GT based on posteriors rather than likelihoods."
It he more correct thing to do (as supposed what we do know based on likelihoods alone) and DRAGstr depends on this feature.

Currently we choose  the alleles in the GT by taken the genotype that have the largest likelihood ignoring priors on genotypes (or allele frequencies) and the fact that unphase GT means that the het likelihood it supposed to be doubled (as part of the posterior calculation)

[2019-11-18 20:36] vruano opened #6270 "DRAGEN/DRAGstr emit first evaultion result however small."
Get some result out out the door. Far from an end product, just typical sensitivity, specificty, F1 (or alternatives) using current HaplotypeCaller and DRAGSstr improvements.

[2019-11-19 21:43] lindenb commented on #2092
what are the main differences with the 'new' bcf format ? how can I help ? what should be done ?

[2019-11-20 15:50] ldgauthier commented on #6269
If Dragen is single-sample then does it take a population allele frequency resource to calculate priors?

[2019-11-20 16:09] vruano commented on #6269
They have a single sample formula based on ther STR score recalibration which generates a table for GOP/GCP for the pairHMM and another for the prior of the indel het at STR all based on period and number of repeats.

[2019-11-20 16:12] vruano commented on #6269
Their argument is that a fix prior across all sites in not accurate enough and they figure out that one can use the charactersitcis of the STR to determined a more adecuate one... ... obviously a population based prior may be more accurate... that is fair point to make and perhaps should be added to the evaluation.
However I'm under the impression that DRAGEN's focus is on single sample self-conta

[2019-11-20 17:28] jupollet opened #6271 "No .stat file produce by Mutect2"
## Bug Report

### Affected tool(s) or class(es)
- Mutect2

### Affected version(s)
- Version:4.1.4.0 bioconda

### Description

vcf is produce but not .stat

#### Steps to reproduce

On cluster with SBTACH options (--constraint avx2 , 150Go de ram , 6 CPU):

`parallel -k --plus 'gatk Mutect2 -R /omaha-beach/jpollet/MYD88/data/ref/BALBcJ.fasta -I {} \
 -O {..}unf.vcf' \
::: *.md.bam `

-> same iss

[2019-11-20 19:45] fleharty commented on #6271
@jupollet
I'm unable to reproduce this bug.  Could you provide more details?

[2019-11-20 22:10] danielecook commented on #6230
Adding read-filter flags does not appear to fix this, as it should:

[code]

[2019-11-21 03:03] davidbenjamin commented on #6230
@colinhercus I was able to re-run your command successfully on the latest master branch (not in a release yet).  I believe PR #6240 fixed the issue.  @Rohit-Satyam @danielecook there's a good chance the errors you encountered are also fixed.  If not, please let me know.

[2019-11-21 09:19] danielecook commented on #6230
@davidbenjamin I'll give it a try today.

[2019-11-21 09:22] colinhercus commented on #6230
@davidbenjamin  Thanks for the update. It may be awhile before I try it.
I'll let you know if I have further problems

On Thu, 21 Nov 2019 at 11:03, David Benjamin <notifications@github.com>
wrote:

[2019-11-21 11:01] jupollet commented on #6271
What kind of other information? I lunch this command in the GenOuest Cluster inside a bioconda environment containing Version:4.1.4.0 of GATK and other tools. Bam were generated by bwa mem and sorted by samtools, read group were added with gatk AddOrReplaceReadGroups and duplicates remove by gatk MarkDuplicates, indexing new bam.

[2019-11-21 14:24] bshifaw opened #6275 "GenomicsDBImport not completing for mixed ploidy samples"
I was able to replicate the users error with GATK4.1.1.0 and the latest build on Nov21. The users data is on the FTP as livinlrg_Problem_Interval.

Running SelectVariants on the same data generates the same error as GenomicsDBImport

[code]
### User Question [(LINK)](https://gatkforums.broadinstitute.org/gatk/discussion/24446/genomicsdbimport-not-completing-for-mixed-ploidy-samples/p1)
----------

[2019-11-21 15:36] TedBrookings commented on #6275
I'm going to tag in our Genomics DB experts to take a look at this: @nalinigans @mlathara

[2019-11-21 15:50] TedBrookings commented on #6275
Link to user data:
https://slack-files.com/T0CMFS7GX-FQW79RU06-03e378d2e9

[2019-11-21 17:02] droazen commented on #6095
@takutosato It looks like you may have modified the `ReferenceBases` annotation in https://github.com/broadinstitute/gatk/pull/5151 to pad with N's -- mind commenting on this ticket? Thanks!

[2019-11-21 17:17] droazen commented on #6029
@ldgauthier Was your PR for this merged? Can we close this one?

[2019-11-21 17:17] droazen commented on #6024
This was done -- closing.

[2019-11-21 17:17] #6024 closed

[2019-11-21 17:20] droazen commented on #5940
@ldgauthier I think you did this one, right? Can it be closed?

[2019-11-21 20:22] ldgauthier commented on #5940
Yes!  Closed via #6079

[2019-11-21 20:22] #5940 closed

[2019-11-21 20:22] ldgauthier commented on #6029
Yes, #6079 took care of this.

[2019-11-21 20:22] #6029 closed

[2019-11-22 02:52] SebastianHollizeck commented on #6271
It might be something that has been discussed in this thread
https://gatkforums.broadinstitute.org/gatk/discussion/24595/mutect2-in-gatk-4-1-4-not-producing-stats-file

[2019-11-22 17:33] samuelklee opened #6279 "Optimize gCNV CPU and inference."
Note that some local experimentation shows that splitting the total number of threads between `MKL_NUM_THREADS` and `OMP_NUM_THREADS` yields a higher iteration rate than maxing out both.

[2019-11-23 20:06] vruano commented on #5434
Doing some additional refactoring and rebasing.

[2019-11-23 20:37] vruano commented on #5434
Tried to add that example/bug above but the bam is no longer available. A quick try with another NA12878 bam didn't reproduce the bug. So won't do it for now.

[2019-11-24 12:45] yfarjoun opened #6281 "if FASTEST_AVAILABLE is the recommended choise for --smith-watername, why isn't it the default?"
from `org.broadinstitute.barclay.argparser.Argument`:
[code]

[2019-11-25 15:37] droazen commented on #6281
@yfarjoun We don't have continuous tests for the native SmithWaterman (since we don't have the ability to request the necessary hardware in travis), and so we didn't feel comfortable making it the default for that reason.

[2019-11-26 00:53] jnoatak opened #6284 "Spark sharding methodology"
This might be a documentation request. I’m just wanting to know a bit more about how gatk spark tools shard bam files. How do you choose bins and prevent losing mate pairs when working with paired end data? Also, how do you avoid losing coverage at the edges of bins?

[2019-11-26 09:27] yfarjoun commented on #6281
is that the same for the pairHMM?

[2019-11-26 16:46] droazen commented on #6281
@yfarjoun The native PairHMM requires only AVX1, which is on pretty much all cloud CPUs at this point, so it can be (and is) tested in Travis. The native SmithWaterman requires AVX2, which is only on Skylake or newer CPUs -- and travis does not provide a way to request the required architectures, unfortunately.

[2019-11-26 16:46] droazen commented on #6281
Closing as answered

[2019-11-26 16:46] #6281 closed

[2019-11-26 20:55] mlathara commented on #6275
Thanks for the files. We've identified the issue as a bug in htslib - pretty straightforward fix. The mixed ploidy is not a problem in this case. But the confluence of multiploidy, number of samples and number of alternate alleles causes some locations in the combined gvcf to have very large arrays of FORMAT data.

That triggers an (unforeseen) overflow in htslib.

With Thanksgiving coming up, we

[2019-11-26 21:38] meganshand opened #6286 "Mitochondria WDL still has genotyping-mode argument that no longer exists"
## Bug Report

### Affected tool(s) or class(es)
Mitochondria WDL

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
Mitochondria WDL still has `--genotyping-mode` argument: https://github.com/broadinstitute/gatk/blob/master/scripts/mitochondria_m2_wdl/AlignAndCall.wdl#L420

This argument doesn't exist in GATK v

[2019-11-26 23:45] bhanugandham opened #6287 "FilterAlignmentArtifacts does not call GATKTool.getHeaderForSAMWriter() when creating the header for its bam writer in onTraversalStart()"
User report:

I am using GATK 4.1.4.0 and noticed the following : if Mutect2 is run with parameter --bam-output it makes a BAM file that contains :
@PG     ID:HalpotypeBAMWriter
(note the typo)
If then FilterAlignmentArtifacts is run with this file as input and BAM output is asked, it says
java.lang.IllegalArgumentException: Program record with group id HalpotypeBAMWriter already exists in SAMFile

[2019-11-27 14:49] droazen commented on #6287
@davidbenjamin The `getHeaderForSAMWriter()` method takes care of uniquifying PG IDs, which should resolve this issue

[2019-11-27 15:53] angelnmara commented on #5447
I have the seam problem with app engine and Mac OS
INFORMACIÓN: Failed to detect whether we are running on Google Compute Engine.
I init cloud, I am SU my IDE is Eclipse.
Run as - App Engine, I don't have a problem with ubuntu, just MAC

[2019-11-27 20:39] lbergelson commented on #6122
@droazen This is fixed now?

[2019-11-27 20:40] droazen commented on #6122
I believe this was fixed in GenomicsDB version 1.1.2

[2019-11-27 20:41] droazen commented on #6122
(according to https://github.com/broadinstitute/gatk/pull/6188)

[2019-11-27 20:59] #6122 closed

[2019-11-27 21:01] lbergelson commented on #6259
@fanyucai1 This question should go to the [GATK forums](https://gatkforums.broadinstitute.org/gatk/categories/gatk-support-forum)

[2019-11-27 21:01] #6259 closed

[2019-11-27 21:54] tmm211 opened #6289 "Funcotator logic bug"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [ ] v.4.1.3.0 using us.gcr.io/broad-gatk/gatk:4.1.3.0
- [ ] 11/22 failed in Terra

### Description
There is a bug in the logic with how Funcotator is handling this variant. It is a variant after
chr14:24655355
**Stacktrace**
<img width="1248" alt="Screen Shot 2019-11-27 at 4 37 31 PM" src="https://user-images.gi

[2019-11-28 03:08] xiucz opened #6291 "SelectVariants hangs while selecting INDEL type"
I think it is a BUG, so I report it here.

I am dealing with a vcf of 748k to seprate INDEL type. But it is hanging for two days...

[code]

[CS19005_mutect2.filtered.vcf.txt](https://github.com/broadinstitute/gatk/files/3899649/CS19005_mutect2.filtered.vcf.txt)

Xiucz

[2019-11-28 03:51] xiucz commented on #6291
I try gatk3.7, it works:
[code]

[2019-11-28 04:05] yuk12 opened #6292 "gatk 4.1.4.0: haplotypeCaller crashing"
Haplotype caller crashing with NULL pointer exception.
gatk version 4.1.4.0
Steps followed:
1. bwa alignment
2. Sorting
3. Mark duplicate
4. BaseRecalibrator
5. ApplyBQSR
6. HaplotypeCaller

Here is the haplotype caller log.

Using GATK jar /home/administrator/IGIB/gatk-4.1.4.0/gatk-package-4.1.4.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_sa

[2019-11-28 16:29] jupollet commented on #6271
They discuss that add more ram.
I try with 8 cpu and 500 Go of RAM, but still not working.

Error for one bam file:

[code]

[2019-12-01 03:32] MengZhang2019 opened #6293 "PathSeqPipelineSpark: ERROR DiskBlockObjectWriter: Uncaught exception while reverting partial writes to file"
Hello everyone,
When I use the PathSeqPipelineSpark to analyze my datasets, I meet the next issue:
ERROR DiskBlockObjectWriter: Uncaught exception while reverting partial writes to file /tmp/blockmgr-a212bfd7-e23c-4634-977e-979a86afe37f/34/temp_shuffle_f93ccbcf-1ccf-4ba9-a9e9-9b09345b533f
My command line just like this:
 gatk PathSeqPipelineSpark  \
   --input simulate_200_change.sam \
   --kmer-f

[2019-12-01 03:39] MengZhang2019 commented on #6293
And my server memory size is 300GB。

[2019-12-02 07:57] #6139 closed

[2019-12-02 16:52] jupollet commented on #6271
I verify with sacct SLURM command and the job have no problem with RAM memory, he run through the end but no produce .stat file and output only .vcf and .vcf.idx

[2019-12-02 17:22] fleharty commented on #6271
Jupollet,

This is a known issue and should be resolved by the most recent release
gatk4-4.1.4.1.  This was released last week, so you may need to just update.

If that doesn’t work, you may need to disable supplementary reads.

Thanks,

Mark

On Mon, Dec 2, 2019 at 10:52 AM jupollet <notifications@github.com> wrote:

[2019-12-02 18:02] kachulis opened #6294 "ReadPosRankSumTest with leading insertions"
For an insertion variant, if a read provides evidence for the variant through a leading insertion, the ReadPosRankSumTest will ignore that read in the calculation of the annotation.  This is because `ReadUtils.getReadCoordinateForReferenceCoordinate` will return `ReadUtils.CLIPPING_GOAL_NOT_REACHED` in this case, which will cause the read to be skipped for the purposes of the annotation.  As a res

[2019-12-03 08:49] jackycsie commented on #6292
Could you show your command ?

[2019-12-03 10:46] vodkatad opened #6296 "Documentation about the stats file generated by Mutect2"
## Documentation request
What's in the stats file generated by Mutect2?

### Tool(s) or class(es) involved
Mutect2/Mutect2Engine/MutectStats

### Description
What is the meaning of the number reported in the file/generated by
`
Arrays.asList(new MutectStats(CALLABLE_SITES_NAME, callableSites.getValue()));
`
?

(for reference about why the doubt has arisen: [gaktforum](https://gatkforums.broadinsti

[2019-12-03 14:21] jupollet commented on #6271
Hi,
I update GATK today.
After 158 minutes variant calling on the same bam files, I have another issue :

[code]

[2019-12-03 18:49] #6239 closed

[2019-12-03 19:22] cmnbroad commented on #6291
Looks like the input file is a tumor sample with a handful of sites that have lots of alternate alleles (12-16). This in turn causes `GenotypeLikelihoods.calculatePLIndexToAlleleIndices` (which was added  to SV in GATK3 so it would handle non-diploid) to create millions and millions of PL index lists. Interestingly, this code is also in GATK 3, and I get the same results (hanging for a long time)

[2019-12-03 19:30] ldgauthier commented on #6286
Does that mean we're missing variants?  Or is no one actually running this exact WDL version?

[2019-12-03 19:32] meganshand commented on #6286
No one is using the GGA argument as far as I know.

[2019-12-03 19:46] lucaspompeun opened #6298 "Why only java 8?"
Why the software only works on java8 and not in java11?
I don't know the explanation, but seems to be an interesting thing to know.
Thanks

[2019-12-03 20:31] cmnbroad opened #6299 "ReadGroupBlackListReadFilter doesn't filter reads when used from the command line"
ReadGroupBlackListReadFilter stores the read groups that should be excluded in a `map` that is separate from the `list` used to accumulate raw command line arguments, but the latter is never propagated to the former. Discovered while working on https://github.com/broadinstitute/gatk/issues/6242. Fix coming.

[2019-12-03 21:46] lbergelson commented on #6298
There are pretty significant incompatibilities between java 8 and 11 that make it hard to run the same code on both.  It affects a number of our dependencies which use features which were removed/altered from java 8 -> 11.  Unfortunately despite there being significant pain in switching to 11 there aren't particularly compelling new features after 8 so there isn't much incentive for developers to

[2019-12-03 21:46] #6298 closed

[2019-12-04 14:23] meganshand opened #6301 "Delete unused "shifted blacklist" input files from Mito WDL"
## Documentation request

### Tool(s) or class(es) involved
Mitochondria WDL

### Description
A long time ago we switched from filtering in the shifted reference to lifting over the unfiltered VCF back to the regular reference before the filtering step. However, we left the "shifted blacklist" files as inputs which is confusing and unnecessary. We should just delete those inputs.

[2019-12-04 14:31] meganshand commented on #5855
This is fixed by using the "localization_optional" option in WDL.

[2019-12-04 14:31] #5855 closed

[2019-12-04 15:37] lamz138138 commented on #4578
Hi @davidbenjamin

I meet a similar problem when running GATK-4.1.2.0, the weird thing is it finished successfully for some samples.

My command is:

`toolPath/gatk --java-options "-Xmx30G -Djava.io.tmpdir=./tmp" Mutect2 -I C150589TF.bam -I C150589NF.bam -normal C150589NF -R /path/to/reference/gatk/GRCh38.d1.vd1.fa --panel-of-normals /path/to/mutect2/pon/chr16.vcf.gz --germline-resource /path/to/g

[2019-12-04 20:23] droazen commented on #3520
@vdauwera has requested that we prioritize this

[2019-12-05 07:42] yuk12 commented on #6292
Hi, Thanks for the response.
Following is the list of commands we used after getting sam file from bwa-mem

gatk=gatk-4.1.4.0/gatk
human=/home/administrator/IGIB/samples/Homo_sapiens_assembly38.fasta
prefix=aligned

1. java -jar /home/administrator/IGIB/picard.jar  SortSam I=data_gatk/${prefix}.sam O=data_gatk/${prefix}.sort.sam SORT_ORDER=coordinate
2. java -jar /home/administrator/IGIB/picard.ja

[2019-12-05 07:57] jackycsie commented on #6292
I had related experience myself.
Then, when I start from "bwa alignment" this step.
I recommend you can follow command:
bwa mem -M -R "@RG\tID:NA12878\tSM:NA12878\tPL:Illumina" -t 80 human_g1k_v37_decoy.fasta NA12878_1.fastq.gz NA12878_2.fastq.gz

Sometime we don't have add this santense"@RG\tID:NA12878\tSM:NA12878\tPL:Illumina" final running will be stop.

Maybe you can try this method.
Thanks

[2019-12-05 11:15] yuk12 commented on #6292
Please provide the machine details: processor number, os, memory size, etc.

[2019-12-05 22:54] bhanugandham opened #6302 "Integer overflow error"
Issue: Integer overflow error caused Mutect2 v4.1.4.0 to generate a stats file with a negative number. Solution is to change the int data type to long.

User report:

Hello, I've just adapted my pipeline to the new filtering strategies, while looking at the files I noticed that for a WGS run I obtained a stats file with a negative number:
    [egrassi@occam biodiversa]>cat mutect/CRC1307LMO.vcf.gz

[2019-12-06 09:06] vodkatad commented on #6296
https://github.com/broadinstitute/gatk/issues/6302

[2019-12-06 09:06] #6296 closed

[2019-12-06 13:41] #6302 closed

[2019-12-06 19:16] #6287 closed

[2019-12-09 20:18] lbergelson opened #6307 "Xbyak: Error: Code is too big"
[Xbyack!](https://storage.googleapis.com/hellbender-test-logs/build_reports/master_28322.5/tests/test/classes/org.broadinstitute.hellbender.tools.walkers.vqsr.CNNVariantPipelineTest.html#testTrainingReadModel)
[code]

[2019-12-09 20:33] lbergelson commented on #6307
@cmnbroad Any idea what this is?  I've seen in at random twice now.

[2019-12-09 20:37] cmnbroad commented on #6307
@lbergelson Was this running on the GATK docker (or otherwise, in the gakt conda env ?). Sam also susggested it could be that it (the python code I mean) requires more memory [here](https://gatkforums.broadinstitute.org/gatk/discussion/comment/60905).

[2019-12-09 20:49] HarshpreetChandok opened #6308 "Documentation about mutect2 flags"
Hello All,
Is there a detailed manual or documentation available explaining all the flags/filters applied by Mutect2?
For example: bad_haplotype, germline_risk, str_contraction, and many more.
It would be good to understand the principle or rationale behind assigning flags to variants which would help us eventually customize and filter the variants required as per the analysis.

[2019-12-09 20:54] HarshpreetChandok commented on #6308
Hello All,
Is there a detailed manual or documentation available explaining all the flags/filters applied by Mutect2?
For example: bad_haplotype, germline_risk, str_contraction, and many more.
It would be good to understand the principle or rationale behind assigning flags to variants which would help us eventually customize and filter the variants required as per the analysis.

[2019-12-10 08:58] huangzhibo opened #6309 "QUAL is 0 for hom_ref sites"
## Bug Report

### Affected tool(s) or class(es)
GenotypeGVCFs

### Affected version(s)
GATK4.1.4.0

### Description
QUAL is 0 for hom_ref sites

#### Steps to reproduce
gatk GenotypeGVCFs -R hg38.fa -V test.g.vcf.gz -O out.vcf -stand-call-conf 0 -all-sites -L chr1:14619-14643

#### Expected behavior
gatk-4.0.12.0
[code]

#### Actual behavior
gatk-4.1.4.0
[code]

[2019-12-10 15:36] avalind opened #6310 "Mutect2 error when trying to create fragment with no read support"
## Bug Report

### Affected tool(s) or class(es)
_Mutect2_

### Affected version(s)
- GATK 4.1.4.1

### Description
When running Mutect2 (from GATK v4.1.4.1) using the following command:

`gatk Mutect2 -R [path to grch37-1kg.fa] -I testcase.bam -O pon.vcf`

 to create a PoN on NovaSeq WGS-data processed through the best practice pipeline (with the BQSR-steps run through the Spark-enabled tools, an

[2019-12-10 18:22] ldgauthier commented on #6309
It's not unlikely that there is something about these sites to make them not confidently reference.  For example, if no reads span a repetitive reference context then the algorithm cannot be confident that there is not indel at that location.  Evidence like soft clips can also reduce confidence in the reference.  Have you looked at the bamout in this region?

[2019-12-11 02:50] huangzhibo commented on #6309
The following is the reads of chr1: 14633 position in bqsr.bam seen through samtools tview. QUAL values are no longer as continuous as they were before gatk 4.1 version.

![image](https://user-images.githubusercontent.com/11796428/70585983-dbb6f600-1c00-11ea-97ba-b83a3d4ce03d.png)

---
another one：   chr1:13279
GVCF
[code]
VCF (from GenotypeGVCFs)
[code]
reads:  (no clipped reads)
![image](https:/

[2019-12-11 08:48] johnsCheng commented on #6310
here i change the gatk-4.1.4.1 to gatk-4.1.2.0，then Mutect can work，
I am not sure what the issue involved. But it keeps reporting the error 'need one or two reads to create fragment' before, however, what i input are totally paired reads after markduplication.

[2019-12-11 15:29] lbergelson commented on #6307
@cmnbroad It's in the docker tests.

[2019-12-11 18:49] lbergelson commented on #6212
@droazen I responded to your comments.  This is way to much code to deal with this trivial edge case, but now it's *Done Right™*

[2019-12-11 19:39] samuelklee commented on #6307
Just got this as well over in https://github.com/broadinstitute/gatk/pull/6313.

[2019-12-12 08:16] xiucz opened #6314 "[BUG?] GATK4.1.3.0 Mutect2 enable-all-annotations option error"
Hi,
 When I used the `enable-all-annotations` option to run Mutect2, it failed.
[code]
Error logs:
[code]

[2019-12-13 14:40] jamesemery opened #6316 "Port new fixes to Picard optical duplicate marking into MarkDuplicatesSpark."
When the changes from this https://github.com/broadinstitute/picard/pull/1442 go in and we update our picard dependency we should port the test and scaling factor from that branch.

[2019-12-13 16:08] droazen opened #6317 "Support signed URLs in GATK tools"
Requested by @davidbenjamin and @abaumann

We'll need to figure out what to do about "companion" files such as indices and sequence dictionaries when given a signed URL to the main file.

[2019-12-13 17:43] KevinCLydon commented on #6292
@yuk12 Would you be able to provide an input to HaplotypeCaller that results in this exception?

[2019-12-16 02:44] bhanugandham opened #6319 "CountBasesSpark doesn't work with -L opt"
User report:

I test this in 4.1.4.0 and 4.1.4.1

[code]

When run this cmd, it is OK, and get a right output base_count.txt.
But I want compute bases located in a interval file, so:
[code]

This cmd cannot run successfully, with some errors I find like this:

[code]
The interval.file is fine because I use it for the whole GATK pipeline.
The CountReadsSpark has the same error.

Please check this

[2019-12-16 02:45] bhanugandham commented on #6319
@droazen Created a issue ticket based on our discussion during the GATK office hrs.

[2019-12-16 04:22] illusional commented on #5299
Bumping this, is it possible for GATK4 tools to also accept `.bam.bai` (as well as the standard `^.bai` for backwards compatibility). Potentially a flag to output in this format too? Trying for consistency in our approach to indexed bam files, but GATK seems to be the major one that's not accepting our outputting this format.

[2019-12-16 04:49] xysj1989 opened #6320 "Germline CNV result visualization and further analysis."
Dear developer,

I have finished the pipeline of gCNV caller in GATK and get the VCF file for each samples. To make further analysis, are there any functions or codes from GATK which can:
(1) make segmentation and generate plots for results from  germline CNV caller, just like for somatic CNV caller? e.g.(https://software.broadinstitute.org/gatk/documentation/article?id=11682)?

(2) detect the LOH

[2019-12-16 08:59] mbrieuc opened #6321 "GenomicsDBImport doesn't complete"
We have WGS for more than 800 samples of cod. We are trying to genotype them with GATK, but we cannot get GenomicsDBImport to complete. It seems to run fine but we get the following message at the end of our slurm output file: "slurmstepd: error: Exceeded step memory limit at some point." We're running it one chromosome at a time.
We're running it with:
#SBATCH --mem-per-cpu=100G
#SBATCH --partiti

[2019-12-16 15:26] cmnbroad commented on #6307
@lucidtronix Any suggestions on this? I don't recall ever seeing this before, but we've hit it about 5 times in tests in the last week or so. It looks  like its coming from this [jit assembler](https://github.com/intel/caffe/blob/a3d5b022fe026e9092fc7abc7654b1162ab9940d/xbyak/xbyak.h#L229) code used by the intel-optimized tensorflow ?

[2019-12-16 15:48] droazen commented on #6310
@davidbenjamin I've assigned this one to @KevinCLydon just so he can get some experience debugging GATK -- he may consult you at some point on recommended solutions.

[2019-12-16 16:34] lbergelson commented on #5299
@illusional You can specify an alternate index path for bam files in most tools using the `--read-index` argument.

[2019-12-16 18:58] mlathara commented on #6321
Hello,

GenomicsDB developer here - I'm not super familiar with SLURM...can you tell if your job was actually terminated or was that just a warning of sorts? Also, can you use `saact` command to find the memory usage of the job? Do your logs tell you how many batches have made progress before you see the error above?

Also, is this difference intentional or...?

vs

Lastly, you could try reducing

[2019-12-16 19:29] droazen opened #6322 "Issue a warning in the genotyping engine if the PL arrays are going to be very large (due to many alleles / high ploidy)"
As requested by @bhanugandham

[2019-12-16 19:44] lbergelson commented on #6307
Similar discussion [here](https://github.com/Microsoft/CNTK/issues/2908
) indicates it might be an incompatibility between an old version of mkl-dnn and certain processors.  I'm not sure we use mkl-dnn, but there may be some similar issue in one of our dependent libraries.   We should check if there is a specific processor type that this is happening on.

[2019-12-16 21:24] droazen commented on #6322
On a related note, I filed the following ticket in HTSJDK against the method that calculates the length of the PL array: https://github.com/samtools/htsjdk/issues/1446

[2019-12-16 22:17] bhanugandham opened #6324 "Add to Readme MarkDuplicatesSpark syntax for specifying no. of cores on a local machine"
User Report:

Hi,

I'm trying to run gatk MarkDuplicatesSpark (v 4.1.4.1) locally, so not on a spark cluster, and provided the option  --conf 'spark.executor.cores=4'  to tell MarkDuplicatesSpark to use only 4 cores on the machine. However when I check the system load with e.g. top I see that all 44 cores of the system are used by MarkDuplicatesSpark. What am I doing wrong?

command:
gatk MarkDupl

[2019-12-17 14:35] ldgauthier commented on #6309
From what I can see of the pileup in that screenshot there don't appear to be enough alt reads to yield a QUAL of zero.  Now that I look at the GVCFs more closely, it appears that the sites that have RGQ less than 60 are getting QUAL=0.  It's possible that the site priors aren't being applied properly.  I'll take a look.

[2019-12-17 14:39] ldgauthier commented on #6309
This happens to coincide with the removal of the "old QUAL" model: https://github.com/broadinstitute/gatk/pull/6099/  If you run 4.0.12.0 with the -new-qual argument do you see the same disruptions in the QUAL scores?

[2019-12-17 15:43] cmnbroad opened #6325 "Intel-optimized tensorflow package specified in the conda env doesn't work on osx-64"
The tensorflow package specified in gatkcondaenv.yml.template is linux-64 specific. The anaconda page lists a separate artifact for osx-64, which means we either need a platform-independent way to specify the intel-optimized package, or we need a separate conda env for osx.

[2019-12-17 19:28] SHuang-Broad commented on #3458
Seemingly no longer necessary

[2019-12-17 19:28] #3458 closed

[2019-12-17 19:43] SHuang-Broad opened #6328 "Clean up SV interpretation code"
Note to self.
Task over the Christmas break.

[2019-12-17 19:56] SHuang-Broad commented on #4684
Evaluation is so complicated (as necessary, and correctly so), this ticket is no longer relevant.

[2019-12-17 19:56] #4684 closed

[2019-12-17 23:05] jberghout commented on #4155
I'm encountering the same bug. Linux OS. Brand new GATK install from github (17 Dec 2019).
Did you manage to figure anything out?

[2019-12-17 23:19] cmnbroad commented on #4155
@jberghout If you post your actual output we might be able to track down your variant of the problem (the error message in the original post looks to me somewhat like a corrupt gradle cache: error reading /vsc-hard-mounts/leuven-user/304/vsc30484/.gradle/caches/modules-2/files-2.1/org.spire-math/spire_2.11/0.11.0/998b1c1d841baf4fc5d1b119ea55f165f6684ef5/spire_2.11-0.11.0.jar; error in opening zip

[2019-12-17 23:32] jberghout commented on #4155
The concise message is:

[code]

And stacktrace flag output looks like:

[code]
I'm open to it being a lot of things. For context, I'm just setting up GATK on a new Linux virtual machine, so some dependencies may not exist.

[2019-12-18 02:27] cmnbroad commented on #4155
Oh, looks like you're using Java 11. Officially we still require Java 8 to build - I don't believe any of the javadoc tasks (javadoc, gatkDoc, and gatkTabComplete) will work on Java 11.

[2019-12-18 13:34] lbergelson commented on #4155
@cmnbroad They are supposed to work on 11. They do on my machine.

[2019-12-18 13:42] cmnbroad commented on #4155
@lbergelson Oh ok, good to know. @jberghout It looks like gradle can't find the `javadoc` app to run. Do you have a full JDK installed ?

[2019-12-18 17:43] cmnbroad commented on #6307
I can repro this running on a local docker, but only intermittently.

[2019-12-18 18:06] lbergelson commented on #6307
Interesting, I guess that rules out a system dependent bug though which was what I was imagining.

[2019-12-18 19:59] ldgauthier opened #6335 "Separate query intervals and output intervals"
To accurately represent spanning deletion alleles for deletions that span shard boundaries, the best solution is to have separate intervals for GenotypeGVCFs -- one set to query GenomicsDB and one set to output variants.  If the query intervals include a deletion that occurs upstream of the start of the output intervals, the output variants should still have the spanning deletion (*) allele.

[2019-12-18 20:52] ldgauthier commented on #6325
@bhanugandham I didn't see this in the conda setup article, but presumably it's a relatively common issue.

[2019-12-18 21:17] bhanugandham commented on #6325
good to know, thank you @ldgauthier

[2019-12-18 21:28] lbergelson commented on #6335
Do you want to include other alleles from upstream?  Currently I thought the behavior was that if you don't specify --only-output-calls-starting-in-intervals then you get all the calls from upstream which overlap the target region.  If you do set it you shouldn't get any.  Do you want to have it treat * specially?

[2019-12-18 21:31] droazen commented on #6307
When this is resolved, we'll need to re-enable the `CNNVariantPipelineTest.testTrainingReadModel()` test that was disabled in https://github.com/broadinstitute/gatk/pull/6331

[2019-12-18 22:12] #6299 closed

[2019-12-18 22:17] #6212 closed

[2019-12-19 13:22] podpearson commented on #6335
Hi, I think this issue was driven by our use case. We have a GenomicsDBImport/GenotypeGVCFs pipeline that for efficient parallelisation purposes we would like to run on adjacent 10kb intervals. The problem is that we are interested in correctly calling spanning deletions that span across the interval boundaries. Here is an example of the first two variants of an interval starting at Pf3D7_07_v3:14

[2019-12-19 18:48] fleharty opened #6336 "ArrayIndexOutOfBounds in CountNs Annotation for Mutect2"
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_

### Affected version(s)

This affects v4.1.0.0-2-gc176be2
The code has been changed then, but the buggy code appears to be unchanged.

### Description

M2 throws the following exception and provides the following stack trace.
java.lang.ArrayIndexOutOfBoundsException: 45
	at org.broadinstitute.hellbender.uti

[2019-12-20 16:32] podpearson commented on #6335
I thought we had managed to get round this problem by including an extra 500bp at the start of each interval when running GenotypeGVCFs, but then removing these with SelectVariants and a -L option. In GATK 3.8.0, running SelectVariants like this would only output variants starting in the interval specified, but in GATK 4 it also outputs variants starting before the interval but which contain delet

[2019-12-20 21:12] lbergelson commented on #6335
@podpearson Interesting, this looks like a bug to me.  When running with `--only-output-calls-starting-in-intervals` we *SHOULD* be querying all the variants that overlap the target sites, including spanning deletions upstream, and then only outputting the ones that actually start within the given interval, but using all the data.  It looks like something isn't working as intended because the outp

[2019-12-20 21:28] jamesemery opened #6338 "Investigate Potential Base Recovery Error In Reference Caching Code"
A user has reported an error in the following code, on inspection it seems the only way we could be seeing this ArrayIndexOutOfBounds exception is if the byte in the recovered base array is -2, which should absolutely not be the case. I am asking for more context in the hopes of figuring out what is going on but this seems to be related with Cache misses due to the traversal pattern for CombineGVC

[2019-12-20 21:44] lbergelson opened #6339 "enable --only-output-calls-starting-in-intervals for SelectVariants"
There isn't a good way to subset a vcf into disjoint chunks using gatk right now.  We should enable --only-output-calls-starting-in-intervals for SelectVariants.

Requested in #6335

[2019-12-20 21:48] lbergelson commented on #6339
I think we can generally enable this by pushing the option up to VariantWalker /  GATKTool and integrating it with the createVCFWriter method.

It can optionally return a writer wrapped in a decorator that only outputs sites within the given intervals.

We might want to rename the option in that case to something like "only-output-variants-starting-in-intervals" so it's clear that it only effects

[2019-12-20 22:59] #3520 closed

[2019-12-23 15:51] bhanugandham opened #6340 "CombineGVCFs v4.1.4.1 java.lang.ArrayIndexOutOfBoundsException"
User Report:

gatk --java-options "-Xmx6g" CombineGVCFs -R $ref -O all.g.vcf --variant gvcf.list
Using GATK jar /mnt/d/software_lin/gatk/gatk-package-4.1.4.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx6g -jar /mnt/d/software_lin/gatk/gatk-package-4.1.4.0-l

[2019-12-23 15:53] bhanugandham commented on #6340
@jamesemery

User shared log file and the first few lines of the GVCF file you requested in a zip file here: https://www.dropbox.com/s/p2smhpm5btsf2cq/jiehuang.zip?dl=0,

[2019-12-24 03:55] lbergelson opened #6341 "Failure Serializing Reference in HaplotypeCallerSpark"
A forum user reported an [issue](https://gatkforums.broadinstitute.org/gatk/discussion/comment/62040) with HaplotypeCallerSpark when run  in --spark-mode on a non-dataproc cluster.

[code]
He encounters the following error:

[code]

I can reproduce a similar error locally:

[code]
[code]

We seem to be attempting to serialize the fasta file reader which we should not be doing.  Our tests may not c

[2019-12-25 08:26] huangzhibo commented on #6309
I tried the --use-new-qual-calculator,-new-qual parameter and got the same result.

[2019-12-25 08:26] huangzhibo commented on #6309
@ldgauthier

[2020-01-01 21:08] daviesrob opened #6342 "Mutect2 occasionally writes nonsense / invalid values for MPOS info tag"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- [x] Latest public release version [4.1.4.1]
- [ ] Latest master branch as of [date of test?]

### Description
Mutect2 occasionally writes lines including INFO tag `MPOS=-2147483648`.  This doesn't look sensible for "median distance from end of read", and the specific value is disallowed in [section 1.3 of the VCF s

[2020-01-02 00:43] srikarchamala commented on #3564
David - Any luck with this issue?

[2020-01-02 14:11] ldgauthier commented on #6309
I'm going to need the reads to debug this.  @bhanugandham where's the latest article with the protocol for sharing data snippets?

[2020-01-02 14:49] davidbenjamin commented on #3564
@srikarchamala We haven't heard from enough people to make this a priority.  However, we are doing a big refactoring to make all of the Mutect2 annotations and filters inherently multiallelic so that splitting with external tools before or after FilterMutectCalls ought not to cause problems.

[2020-01-03 02:20] bklein345 opened #6344 "FilterAlignmentArtifacts Invalid Intervals and Segmentation Faults"
## Bug Report

### Affected tool(s) or class(es)
_FilterAlignmentArtifacts_

### Affected version(s)
- [x] Latest public release version [4.1.4.1]

### Description
FilterAlignmentArtifacts consistently errors out with segmentation faults or IllegalArgumentExceptions. I've attached the log files for each of these errors below.
[invalid_interval.log](https://github.com/broadinstitute/gatk/files/4017

[2020-01-03 03:43] shenkers opened #6345 "Funcotator - logic error for large deletions overlapping 5'UTR"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_

### Affected version(s)
- [x] Latest public release version [version v4.1.4.1]
- [ ] Latest master branch as of [date of test?]

### Description

Hi @jonn-smith , I saw you often address Funcotator related issues, so I thought this might be of interest to you.

I ran funcotator on a vcf created by mutect2 from RNA-seq data. The vcf inc

[2020-01-03 19:18] fleharty opened #6346 "Add engine level argument to selectively ignore soft-clipped bases due to adapter"
## Feature request

### Tool(s) or class(es) involved

Engine level argument

### Description

This is a new capability.  Presently tools like Mutect2 and HaplotypeCaller ignore
soft-clipping by default.  In some sequencing products that use long reads relative
to the insert size, the reads often contain some amount of adapter.  These reads
are typically soft-clipped by upstream tools like MergeBa

[2020-01-05 22:56] singletrips opened #6347 "What's the meaning of the column REF and ALT in the VCF (Variant Call Format) file?"
Is the REF allele is the allele in the reference genome, and the ALT allele is the allele in the sample we are studying?

[2020-01-06 03:48] munrosa commented on #5316
I'm seeing this type of problem with GATK 4.1.2 for a massive WGS sample (> 2 Billion reads)
Note that although the error log below says exome, this is a genome sample. I tried raising the ulimit to the same number this other user tried, but I still can get through BaseRecalibratorSpark. I've been trying for awhile to push this data through MarkDuplicatesSpark and finally gave up and switched back

[2020-01-06 15:40] kachulis opened #6348 "IndexFeatureFile fails with compressed vcf on GCS"
## Bug Report

### Affected tool(s) or class(es)
IndexFeatureFile

### Affected version(s)
- [x] Latest master branch as of [1/6/2020]

### Description
When running IndexFeatureFile on a compressed vcf stored on GCS, tool fails, error message:

[code]
  When running on an uncompressed vcf on GCS, the tool succeeds.

I've traced the issue to `SeekableStreamFactory.getStreamFor` in htsjdk, which get

[2020-01-06 15:59] droazen commented on #6346
@fleharty Not sure this makes sense as a GATK-wide argument -- maybe an argument to the `StandardCallerArgumentCollection` (or similar) instead?

[2020-01-06 16:04] fleharty commented on #6346
@droazen I think it's fine to be an argument to `StandardCallerArgumentCollection` instead.  The purpose is to work with tools that ingest bam files and realign reads, so HC and M2 (are there more)?

[2020-01-06 17:14] jonn-smith commented on #6345
Thanks for the report!

This is either the same as or related to issue #4307 - so it's on my/our radar.

[2020-01-06 18:27] droazen opened #6349 "Uninformative error when GATK doesn't have permission to check whether a GCS bucket is Requester Pays"
Currently, if the GATK doesn't have permission to check whether a GCS bucket is Requester Pays (which is a separate permission from access to the bucket itself!), we get a cryptic error message along the lines of:

[code]

This is the same error the gsutil client gives in the same situation:

[code]

Ideally we should detect this situation upfront in the GATK and emit a more informative error mess

[2020-01-06 18:29] shenkers commented on #6345
Alright, glad to hear. Do you take pull requests for this sort of thing? If you have a better idea of how/where the code needs to be changed, i would be happy to take a whack at fixing it.

[2020-01-06 18:56] fleharty commented on #6346
Once this option in implemented, it will be important to evaluate its impact on sensitivity and FPR in the Twist Somatic Exome.

[2020-01-07 01:51] kaboroevich commented on #6165
I _believe_ your issue is that you are assigning 600GB to execution of cromwell, but the error is with the call to **VariantRecalibrator** in one of the tasks not having enough memory. A few tasks call **VariantRecalibrator**, do you know which task failed? Can you post the java call from the STDERR file? For me, it was task **SNPsVariantRecalibrator** which was assigned only 3.5GB of memory by de

[2020-01-07 07:10] xingaulag commented on #6340
hi @bhanugandham ,

Have you had any idea to figure out this error? I'm also facing to it

[2020-01-07 12:03] Dagsbio opened #6350 "MarkDuplicatesSpark crash"
Hello, I am getting this error when running **gatk MarkDuplicatesSpark -I file.bam -O spark.bam** :

A USER ERROR has occurred: Failed to load reads from file.bam
 Caused by:Unsupported class file major version 55

Any solutions?

Thank you.

[2020-01-07 15:30] jamesemery commented on #6350
Hello @dagsbio and thank you for your question. It sounds like there was an issue with your bam file, possibly with the header version line.  We support up through bam v1.6. You can also try running ValidateSamFile on the bam. I would recommend however that you direct your questions/troubleshooting requests to the new gatk support forum here: https://gatk.broadinstitute.org/hc/en-us/community/topi

[2020-01-07 15:30] #6350 closed

[2020-01-07 16:24] #6111 closed

[2020-01-07 16:30] Dagsbio commented on #6350
Thank you, but I still got the error. Will post the full thing on that link you are sending though!

[2020-01-07 19:13] knoblett opened #6353 "Testing Git-Zen"
Ignore this ticket, testing function of new app<br><br><i>(created from <a href='https://broadinstitute.zendesk.com/agent/tickets/4212'>Zendesk ticket #4212</a>)<br>gz#4212</i>

[2020-01-07 19:14] knoblett commented on #6353
Test response

[2020-01-07 19:18] knoblett commented on #6353
Direct comment from Kate Noblett in <a href='https://broadinstitute.zendesk.com/agent/tickets/4212'>Zendesk ticket #4212</a>:

test comment from Zendesk

[2020-01-07 19:19] knoblett commented on #6353
Closing issue; test successful

[2020-01-07 19:19] #6353 closed

[2020-01-08 04:26] chen42 commented on #6340
I am encountering a similar error:
[code]

[2020-01-08 15:44] jamesemery opened #6357 "java.lang.ArrayIndexOutOfBoundsException in GenotypeGVCFs"
A user has encountered the following error when running GenotypeGVCFs on an input:
[code]
 Based on the stacktrace I suspect an invalid value has snuck its way into `genotypeIndexMapsByPloidy[]` from `getIndexesOfRelevantAlleles` and that is causing the error.  I suspect it will be necessary to look at the combined input in question to evaluate what is happening.

[2020-01-08 15:45] jamesemery commented on #6340
Thank you @chen42. Looking at the exception it looks like it is another issue with a seperate tool (GenotypeGVCFs as opposed to CombineGVCFs). This is clearly a seperate issue and I have created an issue to track it  #6357. It would be helpful to get a snippet of the beginning of your input bam `/lustre/haven/proj/UTHSC0013/Tristan_GATK//gvcf//merged//joint_called_gvcfs_chr7.vcf` in order evaluate

[2020-01-08 16:17] davidbenjamin commented on #6347
@singletrips Please see the bottom of p. 7 and top of p. 8 in this document: https://samtools.github.io/hts-specs/VCFv4.3.pdf

[2020-01-08 16:17] #6347 closed

[2020-01-08 16:22] davidbenjamin commented on #6310
Closed by #6327.

[2020-01-08 16:22] #6310 closed

[2020-01-08 16:26] davidbenjamin commented on #6308
@HarshpreetChandok

Here's our documentation: https://github.com/broadinstitute/gatk/blob/master/docs/mutect/mutect.pdf

And here's our preprint: https://www.biorxiv.org/content/10.1101/861054v1

[2020-01-08 16:26] #6308 closed

[2020-01-08 16:42] davidbenjamin commented on #6271
@jupollet What is the read depth like for this bam?  Is it human tumor-only calling?

[2020-01-08 16:48] davidbenjamin commented on #6261
@pavlemarinkovic womtool does not yet support WDL 1.0, which the M2 pipeline uses.  See this discussion: https://github.com/broadinstitute/cromwell/issues/4234.  However, the issue has been resolved in the cromwell repo: https://github.com/broadinstitute/cromwell/pull/5326, so it looks like the next release will fix it for you.

[2020-01-08 16:48] #6261 closed

[2020-01-08 16:51] davidbenjamin commented on #6255
@winni2k If this hasn't already been fixed then PR #6337 should resolve it once merged.

[2020-01-08 16:53] chen42 commented on #6340
@jamesemery You are right. I tried combineGVCFs first and it produced the java.lang.ArrayIndexOutOfBoundsException. I then tried the GenotypeGVCFs from GenomicsDBImport and got the same error again. I think I have since found out I did not index two of the g.vcf files and added those. When I tried it again, combineGVCFs works but GenotypeGVCFs on GenomicsDBImport still fail with the java.lang.Arra

[2020-01-08 16:58] davidbenjamin commented on #6248
@guoyuh Please try the most recent GATK release.  If the error persists we will debug.

[2020-01-08 17:03] davidbenjamin commented on #6230
Between #6240 and #6327 (additional edge cases) this ought to be fixed.

[2020-01-08 17:03] #6230 closed

[2020-01-08 17:09] davidbenjamin commented on #6214
@wangshun1121 The GATK, like much other software, orders samples alphabetically.  This is not a problem for FilterMutectCalls, the recommended tool for filtering the output of Mutect2.

[2020-01-08 17:09] #6214 closed

[2020-01-08 17:19] davidbenjamin commented on #6202
@SebastianHollizeck  I think #6337 fixes this.  Could you try re-running FilterMutectCalls using this jar: gs://broad-dsde-methods-davidben/gatk-builds/clustering.jar

[2020-01-08 17:33] ldgauthier commented on #6347
The spec doesn't define very many requirements with respect to those fields http://samtools.github.io/hts-specs/VCFv4.2.pdf

In GATK, except in the case of the Germline Copy Number tools, the reference allele is populated from the input reference genome.  For GCNV all REFs are Ns because they span large intervals and the ALT alleles are <DEL> or <DUP>.  In the single-sample SNP and indel case ALT

[2020-01-08 17:38] ldgauthier commented on #6320
The segments VCFs contain the event segmentation results for each sample.  Exact breakpoints are not given by this tool. Plots can be made using the denoised copy ratio TSV outputs.  Currently our germline workflow does not incorporate the B-allele frequency evidence required for LOH detection, although that's a future goal.

[2020-01-08 17:38] #6320 closed

[2020-01-08 17:47] davidbenjamin commented on #6058
@chadisaad What GATK version did you use?  I was not able to reproduce your error with GATK releases from August 2019 and December 2019.

[2020-01-08 17:53] davidbenjamin commented on #5965
@ahwanpandey Could you try the most recent GATK release?

[2020-01-08 17:56] davidbenjamin commented on #5918
We haven't heard back from these users on the forum, so I assume the problem went away upon using the correct resource file.

[2020-01-08 17:56] #5918 closed

[2020-01-08 17:59] davidbenjamin commented on #5871
This is not necessary.

[2020-01-08 17:59] #5871 closed

[2020-01-08 18:08] davidbenjamin commented on #5791
@tfenne I have a PR: #6358 that tries to make more sense of all the windows and padding in the GATK.  Could you try this jar: gs://broad-dsde-methods-davidben/gatk-builds/window.jar and see if the deletion gets its depth back?

[2020-01-08 18:11] davidbenjamin commented on #5737
#6053 duplicates this.

[2020-01-08 18:11] #5737 closed

[2020-01-08 18:47] davidbenjamin commented on #5654
@takutosato We don't need to do this.  The read orientation model is sufficiently well-validated.

[2020-01-08 18:47] #5654 closed

[2020-01-08 18:48] davidbenjamin commented on #5572
@KevinCLydon is your work going to handle this or render it moot?

[2020-01-08 18:50] davidbenjamin commented on #5493
Orientation bias filtering is now done within FilterMutectCalls.

[2020-01-08 18:50] #5493 closed

[2020-01-08 18:53] davidbenjamin commented on #5387
I intend to get rid of the band pass within a few months, so this is probably not worth doing.

[2020-01-08 19:02] davidbenjamin commented on #4942
@jamesemery's work threads every kmer.

[2020-01-08 19:02] #4942 closed

[2020-01-08 19:04] davidbenjamin commented on #4865
Closed by #6172.

[2020-01-08 19:04] #4865 closed

[2020-01-08 19:08] #4561 closed

[2020-01-08 19:10] davidbenjamin commented on #4462
Closed by #6172.

[2020-01-08 19:10] #4462 closed

[2020-01-08 19:11] davidbenjamin commented on #4452
Closed by #6172.

[2020-01-08 19:11] #4452 closed

[2020-01-08 19:16] davidbenjamin commented on #4073
We're overhauling assembly.

[2020-01-08 19:16] #4073 closed

[2020-01-08 19:24] davidbenjamin commented on #3553
It's hidden because the only implementations are the regular pair HMM and the random likelihoods one.  We don't actually use the latter of use (maybe we did in GATK 3?) and #6354 gets rid of it entirely.

[2020-01-08 19:24] #3553 closed

[2020-01-08 19:27] davidbenjamin commented on #3419
This is not

[2020-01-08 19:27] #3419 closed

[2020-01-08 19:31] davidbenjamin commented on #2954
Junction trees will fix this.  @jamesemery

[2020-01-08 19:31] #2954 closed

[2020-01-08 19:33] davidbenjamin commented on #2925
Junction trees are the answer.

[2020-01-08 19:33] #2925 closed

[2020-01-08 19:33] davidbenjamin commented on #2921
Junction trees.

[2020-01-08 19:33] #2921 closed

[2020-01-08 19:38] davidbenjamin commented on #2893
GATK4 currently does not have this issue.

[2020-01-08 19:38] #2893 closed

[2020-01-08 19:41] davidbenjamin commented on #2829
We have addressed these things.

[2020-01-08 19:41] #2829 closed

[2020-01-08 19:41] KevinCLydon commented on #5572
@davidbenjamin The changes I'm working on should address this.  I'll assign this issue to myself.

[2020-01-08 19:42] davidbenjamin commented on #2757
Insignificant differences no longer matter.

[2020-01-08 19:42] #2757 closed

[2020-01-08 19:43] #2676 closed

[2020-01-08 19:44] #2562 closed

[2020-01-08 19:51] davidbenjamin commented on #1868
@jamesemery's work reduces the number of haplotypes dramatically.

[2020-01-08 19:51] #1868 closed

[2020-01-08 19:53] droazen commented on #6340
@jamesemery @bhanugandham Since the initial error was in the codepath that's reading from the reference fasta, I think we need a copy of the reference being used (+ accompanying indices) to see if we can reproduce this error on our end.

[2020-01-08 19:55] davidbenjamin commented on #540
We don't seem to care about this.

[2020-01-08 19:55] #540 closed

[2020-01-08 19:58] jamesemery commented on #6340
@droazen `-R /mnt/d/data/gatk_bundle/hg38//Homo_sapiens_assembly38.fasta.gz` in the error from the first user. There could be some issue related to the gzipped index but that doesn't look like an unusual reference to me.

[2020-01-08 19:59] #6286 closed

[2020-01-08 21:00] droazen commented on #6179
Since we can't replicate this issue in newer versions of the GATK, I'm going to close this for now. Feel free to re-open if you encounter this again @ldgauthier

[2020-01-08 21:11] asmirnov239 opened #6362 "Output a more infromative out of memory error for GermlineCNVCaller"
Right now we get the following error message when we don't supply sufficient memory:

[code]

Ideally we would report out of memory message explicitly. Perhaps we can just catch that exception and output message that this error is likely due to insufficient memory. @cmnbroad Do you have any thoughts on this?

[2020-01-09 10:37] yfarjoun opened #6364 "Bug in genotypingEngine in the presence of two alleles that have ambiguous, but strong PLs"
When a variant has an ambiguity between two alleles (say in an STR, when the likelihood is hard-pressed to choose between two different alleles) the AF calculator tosses both alleles even though it is clear that the site isn't reference.

for example:
REF = A
ALT1=AC
ALT2=ACC
(diploid)
PL = (300,0,300,5,300,300)

So the likelihoods are pointing to a heterozygous site, with reference and one of the

[2020-01-09 15:51] lbergelson commented on #6362
That's not unique to out of memory errors, I think it's the result of the process being hit with a SIGKILL so there are other reasons it could happen.  A message that suggests that it might be a memory issue but doesn't hide the actual error would be helpful in pointing people in the right direction.

[2020-01-09 16:00] tfenne commented on #6339
Jumping in here to add that I'd very much like the opposite behavior in other tools.  My understanding is that HaplotypeCaller and GenotypeGVCFs interpret intervals the other way - only emitting variants that start within the `--intervals` given.  @yfarjoun pointed out to me that this is desirable when e.g. scatter/gathering WGS samples.  But it would be nice for capture data to be able to cause t

[2020-01-09 18:05] asmirnov239 commented on #6362
@lbergelson Right, that what I was thinking. It's a very commonly occurring issue for gCNV, so it would be a very useful message for users.

[2020-01-09 20:33] jamesemery opened #6365 "The ReadErrorCorrector doesn't actually correct any reads when its enabled in the HaplotypeCaller"
In doing some trials with the ReadErrorCorrector I have noticed that it apparently seems to have no impact on my results. Upon closer inspection I have found the offending lines. In `ReadErrorCorrector.correctRead(final GATKRead inputRead)` we compute the `correctedQuals` and `correctedBases` arrays and then neglect to add them to the copied read later. This needs to be fixed.
Other issues with th

[2020-01-09 21:22] lbergelson commented on #6339
@tfenne The gatk3 behavior when using intervals was that it only loaded data that started within the interval.  We change that in gatk4 so queries get all overlapping data.  This means that for GenoytpeGVCFs at least you should be getting all upstream deletions that overlap.  If that's *NOT* the case then it's a bug we should fix.  The side effect was getting duplicate calls in adjacent shards  wh

[2020-01-09 21:33] lbergelson commented on #6339
I did a bit of testing with the following variant and haplotype caller.
[code]

As far as I can tell you only get a result if the interval contains the entirety of the deletion.  We don't output any part of a leading deletion or of a deletion that continues off the edge of the interval.  This seems wrong.

[2020-01-09 21:41] cmnbroad commented on #6362
Yes, we can pretty easily detect this exit code and generate an error message suggesting it might be an OOM issue. I'll make a PR.

[2020-01-09 23:11] SebastianHollizeck commented on #6202
@davidbenjamin I tried and this time its a different error.
[code]

[2020-01-10 07:15] davidbenjamin commented on #6339
@lbergelson I am not familiar with the details.

[2020-01-10 14:55] #5678 closed

[2020-01-10 15:48] tfenne commented on #6339
@lbergelson I agree that your result is undesirable.  In fact, it's hard to imagine when you'd want it to work that way.  I think folks need to be able to specify:
1. "starts within" the interval so that scatter/gather can work and not generate redundant variants, since a variant can only start in one of a set of non-overlapping intervals
2. "overlaps with" so that when calling a subset of the gen

[2020-01-10 16:26] lbergelson commented on #6339
@tfenne I don't think the behavior i'm seeing at is by design, I think it's a result of a poor interaction between multiple systems in HaplotypeCaller that each make reasonable assumptions but end up removing the wrong things.

I'm happy to move from a boolean to an enum with 3 options although I suspect there won't be a ton of uses of the "CONTAINS" option.

In any case, adding this output filter

[2020-01-10 19:33] asmirnov239 commented on #6362
@cmnbroad Thanks!

[2020-01-10 19:38] marcopessoa commented on #6275
Has this been fixed in 4.1.4.1 or should I wait for the next release? Had the same issue with GenotypeGVCFs in 4.1.4.0 using a GenomicsDB database with five GVCFs with pooled samples (12 samples per pool).

[2020-01-11 13:00] ccartermices opened #6368 "Error in CombineGvcfs"
Hi! I have used HaplotypeCaller to get gvcfs of a sample called xl4_70. They are gvcfs of scf1-128, scf1280-18, scf180-25 ... (use parameter "-L" to help with the division). Then i used CombineGvcfs to combine these 7 gvcfs with a sample into a gvcfs, but i got an error:

 Using GATK jar /home/cc/gatk/gatk_dir/gatk/build/libs/gatk-package-4.1.3.0-25-g8d88f6e-SNAPSHOT-local.jar
Running:
    java -D

[2020-01-12 08:36] dror27 opened #6369 "Tensorflow dependency"
In scripts/gatkcondaenv.yml.template,  the following line produces an error upon the initial attempt to create the conda environment:

`anaconda::tensorflow=1.12.0=mkl_py36h69b6ba0_0`

It seems that the up to date dependency should be:

`anaconda::tensorflow=1.12.0=mkl_py36h2b2bbaf_0`

To replicate, perform a clean clone, with no conda environment created yet, and then:

`$ ./gradlew localDevConda

[2020-01-12 17:50] marcopessoa commented on #6275
Not fixed in 4.1.4.1. Same issue.

[2020-01-12 19:19] nalinigans commented on #6275
@marcopessoa, the fixes for this issue are not in master yet - here is the pending PR #6305. You could use the [genomicsdb_120_1](https://github.com/broadinstitute/gatk/tree/genomicsdb_120_1) branch to test out your scenario and post what you find to provide further validation for the changes in the PR. Thanks.

[2020-01-13 13:04] yfarjoun opened #6370 "deprecated useNewAFCalculator is not connected to anything...documentation should change"
During the deprecation of the useNewAFCalculator, the input argument was disconnected and AFAICT has no effect on the running of the code. The documentation of the argument should reflect this as it currently implies that setting it to false will use the old QUAL but it's not true.

    org/broadinstitute/hellbender/tools/walkers/genotyper/GenotypeCalculationArgumentCollection.java:55
[code]

[2020-01-13 13:05] yfarjoun commented on #6370
possibly, this argument should be removed entirely.

[2020-01-13 14:02] ldgauthier commented on #6369
This is a known issue.  See #6325

[2020-01-13 14:02] #6369 closed

[2020-01-13 16:48] dror27 commented on #6369
Sorry. my bad. Looks like my search for this one did not find the existing issue. Thanx

[2020-01-13 19:35] lincoln-harris commented on #6289
hey guys I'm seeing the same error

[2020-01-13 20:02] lbergelson opened #6371 "Intervals specified with .list should trim whitespace"
Using a .list file for intervals doesn't trim white space appropriately and causes interval parsing to fail with strange errors.

For example the following line ending in a space causes an error in an interval .list file:
"20:1-100 "

This fails with the following error:
[code]

[2020-01-13 20:50] knoblett opened #6372 "CollectGcBiasMetrics Array Index Out Of Bounds Exception"
User Report:
------------
Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360055990891-CollectGcBiasMetrics-Array-Index-Out-Of-Bounds-Exception](https://gatk.broadinstitute.org/hc/en-us/community/posts/360055990891-CollectGcBiasMetrics-Array-Index-Out-Of-Bounds-Exception)
------------

Hello,

When running CollectGcBiasMetrics on a moderately sized sam file (~500Mb), picard gives A

[2020-01-13 21:25] cmnbroad commented on #6307
@lucidtronix Based on the response we got from Intel, I tried upgrading to TF 1.15, but there are a cascade of downstream issues. The version of openssl we use conflicts (not sure what thats used for, but for now I removed the explicit dependency from the conda env); next was numpy, which I upgraded to 1.16; followed by what appear to be keras import issues. The branch with the 3 commits is [here]

[2020-01-13 21:29] droazen commented on #6370
@davidbenjamin  ^^

[2020-01-14 10:18] chadisaad commented on #6058
with last release, its fine. Bug resolved.

but still have this error : https://github.com/bcbio/bcbio-nextgen/issues/2829

I finished by doing like that : https://github.com/bcbio/bcbio-nextgen/commit/3ed523f04cbbbbf3ef19974d5a7585ed43af2c20

it happens with contrôle empty samples (zero variants)

[2020-01-14 10:43] marcopessoa commented on #6275
I downloaded and built genomicsdb_120_1 from source. I deleted my previous GenomicsDB database, and built a new one with the following options:

[code]

I then ran GenotypeGVCFs with the following options for one of the chromosomes:

[code]

It failed at the same region it was failing before, with this error message:

[code]

HaplotypeCaller ran without errors, so I don't know if I should generate

[2020-01-14 10:51] wuxiaopei0509 opened #6373 "where to download GATK3?"
Hi,
Where Can I download the GATK3 ,I want to use Realigner and IndelRealigner tools in GATK.However the GATK4 is not available.
Anyone who can tell me where to download the GATK3 version?
--
Thank you!--

[2020-01-14 13:45] kgururaj commented on #6275
Based on the messages you have provided. looks like you have built and run the GATK master branch. You should switch to the genomicsdb_120_1 branch (git checkout genomicsdb_120_1) and retry. You don't need to delete the imported workspace. You should see the version string 4.1.4.1-7-gdb054ab-SNAPSHOT in the GATK stdout.

[2020-01-14 16:13] cmnbroad commented on #6371
Oh, turns out we do trim it, but we [throw away](https://github.com/broadinstitute/gatk/blob/a000a87cd67f0d786d6824816f70e2c58acffaec/src/main/java/org/broadinstitute/hellbender/utils/IntervalUtils.java#L406) the result and use the raw input.

[2020-01-14 18:57] cmnbroad commented on #6373
@wuxiaopei0509 This repo is for bugs reports and feature requests. For general help, please use the GATK forum [here](https://gatk.broadinstitute.org/hc/en-us/community/topics). Thanks.

[2020-01-14 18:57] #6373 closed

[2020-01-14 19:18] marcopessoa commented on #6275
Apologies! Switched to the correct branch. I tested it with a troublesome region I identified in one of the chromosomes, using the following command:

[code]

Run info:

[code]

Run starts, a few variants are detected. Then It gets stuck in a region for about 30 minutes, and prints an out-of-memory error:

[code]

[code]

Changed heap size to 56 Gb and 128 Gb, and the problem persists.

[2020-01-14 19:35] lbergelson commented on #6368
This looks like a bug.  I'm not sure if the issue is in the HaplotypeCaller output or in the way CombineGvcfs is merging things.  Could you run ValidateVariants on each of the vcfs and let us know if they pass?

[2020-01-15 02:07] #6336 closed

[2020-01-16 13:32] kgururaj commented on #6275
It could be that the large number of genotypes being returned by GenomicsDB causes the GenotypeGVCFs to consume a really large amount of memory. I think @mlathara is working on a possible fix in #6377.
For now, can you try running SelectVariants instead of GenotypeGVCFs on the problem region? This will help determine if the issue is in GenomicsDB or when GenomicsDB data is processed by GenotypeGVC

[2020-01-16 15:50] vruano opened #6378 "Support for log-level TRACE."
I'm missing the possibility of tuning the logging to produce TRACE level log messages. As it is stands the users only can choose down to DEBUG.

It seems that this party due to the integration of several logging systems from old GATK, htjsdk and picard where DEBUG the lowest common  level.

It would be great to have the hability to produce TRACE level log messages allowing the user to have control

[2020-01-16 16:39] lbergelson commented on #6378
That seems like something we could reasonably add...  Maybe a minor htsjdk change to add it to the htsjdk would be the first step.

[2020-01-16 18:14] marcopessoa commented on #6275
I ran the following command:

[code]

`SelectVariants` also failed in the same problem region. It started running, got stuck for about 50 minutes and failed:

[code]

It might help to mention that I used the GATK 3.8 to rerun `HaplotypeCaller -ERC GVCF`, `CombineGVCFs` and `GenotypeGVCFs` for this interval in the same samples.

`HaplotypeCaller` warned that the largest number of PLs found was 2925

[2020-01-16 19:00] mlathara commented on #6275
@marcopessoa would you mind trying out a potential fix for us? If you could check out branch `genomicsdb_120_6275_fix` and build again. Then try your GenotypeGVCFs command line again.

The [current defaults](https://gatk.broadinstitute.org/hc/en-us/articles/360037594731-GenotypeGVCFs) for `--max-alternate-alleles` (6) and --max-genotype-count (1024) were not being passed down to GenomicsDB and thi

[2020-01-16 20:35] fleharty commented on #6346
Some offline discussions have led us to the conclusion that this is best handled by tools upstream.  Adapters should not be simply soft-clipped, so it shouldn't be the responsibility of M2 or HC to include logic to remove adapters.

[2020-01-16 20:35] #6346 closed

[2020-01-16 21:48] marcopessoa commented on #6275
I rebuilt the new branch and got the same `OutOfMemory` error with `genomicsdb_120_6275_fix`.

Should I still see v4.1.4.1-7-gdb054ab-SNAPSHOT for this fix?

Please let me know what data I should provide for you to reproduce this on your side. Thanks a lot for your help.

[2020-01-16 22:24] mlathara commented on #6275
You should see `v4.1.4.1-8-g828e2bf-SNAPSHOT` with the `genomicsdb_120_6275_fix`. Try doing a `git checkout genomicsdb_120_6275_fix` in your git repository and then building again with `./gradlew installDist`. Then run the test again.

[2020-01-17 00:49] marcopessoa commented on #6275
Finally managed to build the correct snapshot. It ran successfully in the problem region!

It also reported Sample/Callsets with too many genotypes in combined VCF.

I will keep testing it in other regions, but I can see now that `--max-alternate-alleles` and `--max-genotype-count` is being passed to `GenomicsDB`.

However, the current limit for genotype counts is set to 100000 (I could see that i

[2020-01-17 02:48] gudeqing opened #6379 "GatherBamFiles Indexing Bug"
Hi,
I am testing GatherBamFiles of gatk-4.1.4.1 and gatk-4.1.2.0:
when I set  '--CREATE_INDEX false', the command goes well and the resulted bam could be indexed by samtools, however, when I set '--CREATE_INDEX true', exception printed, such as "Exception in thread "BamIndexingThread" htsjdk.samtools.SAMException: Exception creating BAM index for record A00234:397:HTKTWDSXX:1:1266:22453:5807 2/2 1

[2020-01-17 12:08] shashank-bgp commented on #5947
Hi,
I am trying to generate vcf using GATK pipeline from bam file, but everytime, I am getting the following exception:
01:13:15.801 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/data1/ngs/programs/gatk-4.0.0.0/gatk-package-4.0.0.0-local.jar!/com/intel/gkl/native/libgkl_compression.so
01:13:16.075 INFO  HaplotypeCaller - --------------------------------------------------

[2020-01-17 15:18] lbergelson commented on #5947
@shashank-bgp Please open a new issue instead of asking questions in an unrelated one.  It looks like you're using an old version, I would try again with the newest release and see if the problem is fixed.  If not, open a new issue.

[2020-01-17 15:44] GATKSupportTeam opened #6380 "Test Ticket GitZen"
ignore, testing GitZen integration<br><br><i>(created from <a href='https://broadinstitute.zendesk.com/agent/tickets/4401'>Zendesk ticket #4401</a>)<br>gz#4401</i>

[2020-01-17 15:45] #6380 closed

[2020-01-17 15:49] lbergelson commented on #6379
@gudeqing Thanks for reporting. `GatherBamFiles` is a bit of a tricky tool and it's easy to do the wrong thing with it accidentally.  It's possible that there's an error in either how it was run or the input files but you definitely also could have discovered a bug. Samtools indexing it correctly would be point towards a bug, but I'd like you to check a few things first to be sure.

GatherBamFiles

[2020-01-17 16:14] lbergelson opened #6382 "Update links to old GATK forum and website"
We have a lot of links to the old forum in our source code and in code documentation. All the ones I've tested are redirecting to the new locations correctly but it would be good to test them and find any dead links.

There are constants in HelpConstants that should be update as well.

[2020-01-17 17:12] shashank-bgp opened #6384 "Java exception in GATK vcf call from bam file"
Hi,
I am trying to generate vcf using GATK pipeline from bam file, but everytime, I am getting the following exception:
01:13:15.801 INFO NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/data1/ngs/programs/gatk-4.0.0.0/gatk-package-4.0.0.0-local.jar!/com/intel/gkl/native/libgkl_compression.so
01:13:16.075 INFO HaplotypeCaller - ----------------------------------------------------

[2020-01-17 17:12] lbergelson commented on #6384
@shashank-bgp Thanks for opening this as new issue.  Could you try with the latest version of GATK?

[2020-01-17 17:14] shashank-bgp commented on #6384
I tried with java 11 and above version, but as far as i have read, GATK works particularly with Java 8 version. So it's difficult to say that this is a problem of version.

[2020-01-17 17:19] adamjorr opened #6385 "BQSR: Insertions at beginning of read not skipped when they overlap the beginning of known sites interval"
## Bug Report

### Affected tool(s) or class(es)
BaseRecalibrator, `BaseRecalibrationEngine.calculateKnownSites`

### Affected version(s)
- public release version [tested on >=4.1? no idea how to check]

### Description
When running BaseRecalibrator, if a read begins with an insertion and the KnownSites file contains an interval that begins at that position, the bases will not be skipped as GetRea

[2020-01-17 17:21] lbergelson commented on #6384
Not the newest version of java, the newest version of GATK.  Use java 8 and [Gatk 4.1.4.1](https://github.com/broadinstitute/gatk/releases/download/4.1.4.1/gatk-4.1.4.1.zip).

[2020-01-17 17:25] droazen opened #6386 "Nightly docker images have stopped publishing"
It looks like the travis cron task that publishes the nightly docker images hasn't run in several months.

[2020-01-17 17:26] droazen opened #6387 "Bring VariantAnnotator out of beta"
It's been a while since VariantAnnotator was ported to GATK4. We should bring it out of beta if there are no serious issues filed against it.

[2020-01-17 17:43] lbergelson commented on #6364
@ldgauthier This seems like a you type of question.

[2020-01-17 17:51] lbergelson commented on #6344
@bklein345 It looks like you're encountering 2 distinct bugs.

1.  There seems to be a nasty off by 1 error which needs to be fixed in the code.
@davidbenjamin This method has at least 1 bug (and I think 2). https://github.com/broadinstitute/gatk/blob/9bca5119e996886ee85ef6c890eba79ec5d6cfb1/src/main/java/org/broadinstitute/hellbender/tools/walkers/realignmentfilter/RealignmentEngine.java#L135-L13

[2020-01-17 17:53] shashank-bgp commented on #6384
@lbergelson , sure, i will try this.

[2020-01-17 17:56] lbergelson commented on #6386
again? bleh

[2020-01-17 17:58] vruano commented on #6364
If I may interject here ...

I would not throw any allele that **itself is plausible** which seems to be the case for both AC and ACC. In other words  it seems very harsh to "throw" alleles because there are viable alternative GTs that do not include them. These are two different tests.

Under what circumstances is the AF pressed to removed any allele.... does it do it by default? ... @davidbenjam

[2020-01-17 18:13] jamesemery commented on #6386
I checked, it looks like the cron job scheduling failed on the 2nd or 3rd of November last year. "Next job scheduled 3 months ago" being the message. I restarted the cron job and it is apparently working now. This is concerning since if this fails again we may not notice it for months again.

[2020-01-17 19:51] vruano opened #6390 "ProgressMeter force upon all GATKTools."
It is a requirement than a GATKTool must always make a traversal across the reference genome in order (at least within each chromosome).

progressMeter is not optional and is always about keeping track of what genome location the tool is in now.

Would make more sense to either: being able to opt out of a progressMeter and or being able to indicate progress on a different unit as supposed to genom

[2020-01-17 19:52] mlathara commented on #6275
Great to hear - my mistake on the hardcoded 100000. I was just try to make that the default, will get that fixed to hew to the argument passed in.

SelectVariants will still fail with this branch - we'll have to do something similar for that as well.

[2020-01-17 20:00] lbergelson commented on #6390
It would be good for progress meter to be more flexible.

[2020-01-17 20:06] lbergelson commented on #6390
What are you iterating that isn't by reference position?  Name sorted reads?

[2020-01-17 20:31] ldgauthier commented on #2993
@samuelklee do you want to keep this issue open?

[2020-01-17 20:34] ldgauthier commented on #4074
@cmnbroad is this still a problem?  Aside from the tensorflow issue (#6325), I had no GCNV Python issues on my mac.

[2020-01-17 20:40] ldgauthier commented on #6249
@pigraul What are OREF and OALT?

[2020-01-17 20:42] #6165 closed

[2020-01-17 20:48] ldgauthier commented on #5964
Looks like this was closed via #5837

[2020-01-17 20:48] #5964 closed

[2020-01-17 20:49] #5929 closed

[2020-01-17 20:50] ldgauthier commented on #5916
Closing due to lack of response from user

[2020-01-17 20:50] #5916 closed

[2020-01-17 20:55] taytayp opened #6391 "Add denoised copy ratio ylim option to PlotModeledSegments"
## Feature request

### Tool(s) or class(es) involved
gatk 4.1.4.0, PlotModeledSegments

### Description
In exploring the CNV pipeline discussed [here](https://gatkforums.broadinstitute.org/gatk/discussion/11683), I ran into an issue where some of my CNVs that were at much higher copy ratios (upwards of 20/2) were not being plotted, since it appears the R script for part of this tool only limits t

[2020-01-17 20:56] ldgauthier commented on #5885
@davidbenjamin after taking a look (now at https://github.com/broadinstitute/gatk/blob/3b72c2d9c74ae496d7d41a8eb341d0881974eb1c/src/main/java/org/broadinstitute/hellbender/tools/walkers/genotyper/afcalc/AlleleFrequencyCalculator.java#L72), I have to agree that this doesn't look right.  Rather than `(a.length() > 1 ? snpPseudocount : indelPseudocount)` shouldn't it be something like `(a.length() -

[2020-01-17 21:49] cmnbroad commented on #4074
If you were able to create the conda env on mac then I assume this is no longer an issue. Closing until/unless someone knows its still an issue.

[2020-01-17 21:49] #4074 closed

[2020-01-17 22:15] ldgauthier opened #6392 "Bring Concordance walker out of beta"
We use the Concordance tool in the GATK workshop hard filtering tutorial and it has a big scary red beta message in the log.  I don't see any open issues reported against it.  If there are no further features planned we can take the beta tag off.

[2020-01-18 01:13] vruano commented on #6390
In this particular tool is calculating a P x L matrix where each cell may take over a minute, each cell calculation requires to sample random position across the region in random order.

[2020-01-18 01:21] vruano commented on #6378
Why htsjdk has it own framework as supposed to just use at standard one. In fact why it even needs to log anything if it a service library it should not push its low level logging into the console of the app that its using it.

[2020-01-19 09:38] gudeqing commented on #6379
@lbergelson Hi, thank you for your kind reply. Following  is the report of ValidateSamFile:
Tool returned: 3
ERROR::RECORD_OUT_OF_ORDER:Record 86076959, Read name A00583:183:HLCWVDMXX:1:1114:30897:16579, The record is out of [coordinate] order, prior read name [ST-E00159:680:H57NGCCX2:6:2201:21765:57301], prior coodinates [22:51244173]
ERROR::MATE_NOT_FOUND:Read name ST-E00159:680:H57NGCCX2:6:2208

[2020-01-19 23:42] SebastianHollizeck opened #6393 "Docker does not supply the right R version for AnalyzeCovariates"
## Bug Report

### Affected tool(s) or class(es)
AnalyzeCovariates

### Affected version(s)
- [x] Latest public release version [v4.1.4.0] [hash:cec850f20311f0686fcf88510bc44e529590d78bec7076a603132115943c09e6]

### Description
AnalyzeCovariates fails with
[code]

when opening the docker container one can see installed version of R is 3.2.5

[code]

#### Steps to reproduce
Run any AnalyzeCovariate

[2020-01-20 02:21] yurivict opened #6395 "build.gradle requires a git-cloned repositiory, but this isn't necessary"
https://github.com/broadinstitute/gatk/blob/master/build.gradle#L156

Please make the above requirement optional, or remove it completely. Packages can only be built from tarballs, and this line is in the way.

[2020-01-21 13:46] samuelklee commented on #6391
Thanks for the suggestion @taytayp!  We could also just go ahead and expose this in PlotDenoisedCopyRatios as well and only output a single plot there.  I think it would be best to expose ylim parameters set to the current range by default (to preserve current behavior and so that comparison across samples remains easy), but perhaps we can consider a flag that plots the entire range.

Perhaps we c

[2020-01-21 16:18] EricDeveaud opened #6396 "numpy from gatkcondaenv.yml removed by biopython-1.70"
working to setup a singularity container for gatk-4.1.4.0

while preparing the gatk conda environment numpy-1.13.3 ins installed but biopython==1.70 requirement from the pip section of the gatkcondaenv.yml. removes it and install numpy-1.18.1

see relevant part of conda env create -n gatk -f gatk-4.1.4.0/gatkcondaenv.yml 2>&1 | tee log
NB full log is attached : [log.txt](https://github.com/broadin

[2020-01-21 16:23] davidbenjamin commented on #6370
I'm in favor of removing it entirely.

[2020-01-21 16:43] EricDeveaud commented on #6396
fixed it by forcing the installation of numpy in the pip section, in order to bypass biopython dependencies resolution that grabs the last numpy available.

patch is trivial

[code]

[2020-01-21 16:45] droazen commented on #6386
Fixed

[2020-01-21 16:45] #6386 closed

[2020-01-21 16:55] davidbenjamin commented on #6364
@vruano The AF calculator is not where the alleles are removed.  It calculates an honest probability that each exists.  For example, if we have two alts and PLs are `(999,0,999,0,999,999)` -- that is, it's definitely a het, and we have no clue which alt allele it is, then it correctly says that the posterior probability of each alt allele is 0.5.

Now, this probability of 0.5 is quite low for a re

[2020-01-21 16:58] davidbenjamin commented on #6364
@yfarjoun Personally I would vote for iterative removal with the current threshold, even though in cases of true ties like my example above it does end up being arbitrary.  Maybe we could consider lowering the threshold so that in such cases there is a bias toward keeping both alleles if they are similarly plausible.

[2020-01-21 17:00] droazen commented on #6096
@davidbenjamin Pinging you on this one -- any thoughts on how we could resolve this?

[2020-01-21 17:10] yfarjoun commented on #6364
I opted for the non iterative after discussing with Laura and agreeing that
it would be unfortunate to loose an allele due to the order of
plausibility... Which, at the low probability values that are present could
be affected easily by a single read.... Happy
To discuss more
On Tue, Jan 21, 2020 at 6:58 PM David Benjamin <notifications@github.com>
wrote:

[2020-01-21 17:11] droazen commented on #6390
@vruano You could extend `CommandLineProgram` rather than `GATKTool`

[2020-01-21 17:52] davidbenjamin commented on #6096
@droazen How hard would it be to have a plug-in framework for fragment-based likelihoods parallel to what we already have for read likelihoods?  It would be nice to specify all annotations with `-A`.  Barring that, it won't be hard to write some fragment-based likelihoods and hard-code them into M2 and HC, but it seems clumsy to do so.

[2020-01-21 17:53] davidbenjamin commented on #5885
Wow, that's really wrong.

[2020-01-21 18:22] droazen commented on #6096
@davidbenjamin If it's just a matter of adjusting what's passed in to the annotation framework, it shouldn't be that hard, but you probably have a better sense than I do of what needs to be done here.

[2020-01-21 18:26] SHuang-Broad opened #6400 "FileOutputCommitter gives gazillion info outputs when invoking `PrintReadsSpark`"
[code]
Repeated many times.

[2020-01-21 18:53] davidbenjamin commented on #6096
It ought to be totally parallel to the current framework, but with an `AlleleLikelihoods<Fragment, Allele>` replacing `AlleleLikelihoods<GATKRead, Allelle>`.  I don't see any other change to the interface.  It would be nice to do this without duplicating the class hierarchy of `INFO` and `FORMAT` annotations, however.

[2020-01-21 19:45] cmnbroad commented on #6396
Hm, another issue related to the Experimental training tool (which I think it is the only plae we still use a biopython dependency). Anyway, @EricDeveaud AFAICT this doesn't happen during our builds - we always wind up with numpy 1.13.3.  Do you know if this is somehow specific to to singularity ?

[2020-01-21 20:12] #6370 closed

[2020-01-21 20:12] #6392 closed

[2020-01-21 20:40] davidbenjamin commented on #6344
@lbergelson I agree with your point (i).  Point (ii) as well, but this doesn't make any difference because once we have the realignments we don't compare them to any reference -- neither the hg19  as in the original reads nor the hg38 of the BWA index.  Instead we check them amongst themselves for multi-mapping.

@bklein345 Where does your BWA mem index image come from?  The error `Contig:628 star

[2020-01-21 20:41] davidbenjamin commented on #6344
(That said, it's still a bug because it should work with any index image).

[2020-01-21 20:55] davidbenjamin commented on #6344
Okay, there's the bug fix PR.  @bklein345 the PR will close this ticket but please re-open if the error persists.  Here's a jar to test: gs://broad-dsde-methods-davidben/gatk-builds/realignment_patch.jar

[2020-01-21 21:00] davidbenjamin commented on #6314
@xiucz I found a few bugs in our `ReadUtils` methods to identify read coordinates corresponding to a reference position.  This needs to be fixed across the GATK.  I'm working on it now.

[2020-01-21 21:01] davidbenjamin commented on #6294
@kachulis i'm working on a related bug.  It makes sense to bring this into that effort.

[2020-01-21 21:05] davidbenjamin commented on #6260
I touch the GGA code more than anyone.  I should fix this.

[2020-01-21 21:12] jonn-smith commented on #6289
@tmm211 @lincoln-harris I'll put this back on my radar.  Thanks for your patience.

[2020-01-21 23:50] #6344 closed

[2020-01-22 03:20] davidbenjamin commented on #4803
I can't imagine having time for this.

[2020-01-22 03:20] #4803 closed

[2020-01-22 03:28] davidbenjamin commented on #4304
@droazen Can we close this and push the number of open issues a little further away from 1000?

[2020-01-22 03:30] davidbenjamin commented on #4265
It looks like this was closed by #5371.

[2020-01-22 03:30] #4265 closed

[2020-01-22 03:35] davidbenjamin commented on #3963
@ldgauthier Think we can close this one?

[2020-01-22 03:57] #3623 closed

[2020-01-22 03:59] #3564 closed

[2020-01-22 04:00] davidbenjamin commented on #3382
We have good public PoNs.

[2020-01-22 04:00] #3382 closed

[2020-01-22 04:02] davidbenjamin commented on #3321
@ldgauthier Do we actually care about calling trios of Mr. Potato Head's tetraploid family?

[2020-01-22 04:03] #3267 closed

[2020-01-22 04:04] davidbenjamin commented on #3205
@takutosato Do Megan and Sam still want this, or can we close?

[2020-01-22 04:07] davidbenjamin commented on #3024
James is working on this.

[2020-01-22 04:07] #3024 closed

[2020-01-22 04:07] davidbenjamin commented on #3090
This doesn't need to be an epic.

[2020-01-22 04:07] #3090 closed

[2020-01-22 04:12] davidbenjamin commented on #2934
Actually, it would be so hard to distinguish from germline homozygosity with sufficient likelihood to counterbalance the tiny prior probability of somatic variation that I'm closing again.

[2020-01-22 04:12] #2934 closed

[2020-01-22 04:13] davidbenjamin commented on #2916
@jamesemery is taking care of this.

[2020-01-22 04:13] #2916 closed

[2020-01-22 04:19] davidbenjamin commented on #2351
Moot.

[2020-01-22 04:19] #2351 closed

[2020-01-22 04:25] davidbenjamin commented on #1763
This code needs to be thoroughly revised.

[2020-01-22 04:25] #1763 closed

[2020-01-22 04:31] davidbenjamin commented on #671
Looks like this is no longer an issue.

[2020-01-22 04:31] #671 closed

[2020-01-22 04:33] #538 closed

[2020-01-22 04:35] davidbenjamin commented on #267
Dupe.

[2020-01-22 04:35] #267 closed

[2020-01-22 04:38] #64 closed

[2020-01-22 05:37] thierrygrange commented on #5869
Dear GATK staff

We are now forbidden access to any webpages starting with the address https://gatkforums.broadinstitute.org/gatk/discussion/ by cloudflare. We can still access pages starting with https://gatk.broadinstitute.org/hc/en-us/ . We are connecting from various computers and netwrk in France using Firefox but it seems that it is the server itself that is blocked by Cloudflare. Have you a

[2020-01-22 14:56] ldgauthier commented on #3963
There are still over 900 open issues and I'm not going to get to this anytime soon.  I'm in favor of closing it.

[2020-01-22 15:15] EricDeveaud commented on #6396
I guess not. singularity will be agnostic regarding the anaconda//python install

[2020-01-22 15:42] lbergelson commented on #5869
@thierrygrange Thanks for letting us know.  The comms team is working on getting it fixed.  You can follow [this thread](https://gatk.broadinstitute.org/hc/en-us/community/posts/360056211411-Known-issue-old-GATK-forum-inaccessible) for updates although probably the only update you care about is "it's working again."

[2020-01-22 15:43] vruano commented on #6390
I guess I could, but what is GATKTool contract... is it supposed to only perform reference driven analysis? I thought that is what a Walker is.

[2020-01-22 16:07] #3963 closed

[2020-01-22 16:14] droazen commented on #6390
Well, I guess that part of the contract for GATKTool is that GATK tools should report progress as they go. I agree that the ProgressMeter should be made more flexible and allow reporting of progress in terms of things other than genomic location.

[2020-01-22 16:15] lbergelson commented on #6390
@vruano You can do a hacky thing where you set the label to whatever you want and then when you update the progress meter create a SimpleInterval with a fake contig that includes the information you want.

[2020-01-22 16:16] lbergelson commented on #6390
We should fix it though.  All it uses the locatable for is essentially to call toString on it, so we could just make it take a string in update.

[2020-01-22 16:37] vruano commented on #6390
louises proposals seems simple and reasonable.... perhaps it should offer to provide a ```Function<R, String>``` to provide a alternative ```toString``` in case the tools natural record ```toString``` does not align well with progress reporting... or perhaps in that case the tool could use an alternative record object that is send to the progress meter instead.

[2020-01-22 16:56] xysj1989 opened #6407 "Worries about the results from GATK germline Copy Number Variation calling."
Dear developer,

We have finished the annotation of gCNV events identified by GATK Germline Copy Number Variation calling pipeline. And we got very exciting results to find several potential susceptibility genes with published literature evidence. But another cooperative team cannot find the same results or similar frequency from the same data, based on the combination algorithm of log R Ratio and

[2020-01-22 18:13] takutosato commented on #3205
I doubt it. Closing.

[2020-01-22 18:13] #3205 closed

[2020-01-22 19:48] takutosato commented on #6095
@tfenne @droazen I was able to reproduce the bug using a jar from last October, but it seems to be fixed in the latest release (4.1.4.1). @tfenne could you try using the most recent release?

[2020-01-22 19:52] lydiarck commented on #6289
I have the same error; let me know if it would be helpful to have my input files, logs, etc. I'm seeing it in version 4.1.4.0.

[2020-01-23 19:10] #2776 closed

[2020-01-23 19:43] ldgauthier commented on #6167
@tfenne I've been putting in some work cleaning up the gCNV VCFs and I have fixes for your requests 1-3.  For 4, do you know what you'd like in the VCF?  As you know, most of the events are going to have multiple targets, and each target has different coverage, so are you thinking mean?  Median?  I was also contemplating putting more info in the intervals VCF since things like target coverage make

[2020-01-23 20:00] #536 closed

[2020-01-23 20:00] #539 closed

[2020-01-23 20:05] davidbenjamin commented on #150
@droazen Do we still even need `LeftAlignIndels`?  It seems to duplicate behavior of `LeftAlignAndTrimVariants`, which does have an integration test.

[2020-01-23 21:24] droazen commented on #150
@davidbenjamin Well, `LeftAlignIndels` is a pretty limited tool, as it has the restriction that "This tool will left-align reads with one and only one indel". Can `LeftAlignAndTrimVariants` correctly left align reads with multiple indels?

[2020-01-24 01:50] davidbenjamin commented on #2337
gatk-protected and gatk public merged several years ago.

[2020-01-24 01:50] #2337 closed

[2020-01-24 01:58] davidbenjamin commented on #4726
I can't envision doing this.  We can re-open in case of a change of heart.

[2020-01-24 01:58] #4726 closed

[2020-01-24 02:21] davidbenjamin commented on #6379
@gudeqing We encountered what might be the same error while developing the Mutect2 pipeline.  Our solution was to sort the gathered bam file before indexing.  For example:

[code]

[2020-01-24 02:47] davidbenjamin commented on #150
Not yet but it will in a week.

[2020-01-27 01:37] SHuang-Broad opened #6418 "Expose `splitting-index-granularity` to all Spark tools outputting BAMs"
Currently only `ExtractAlignmentsWithStrangeCigarSpark` has such option, but several other Spark tools output bams (with accompanying sbi), and this is a feature that is nice to have.

Dealing with long read bams triggered this feature request.

[2020-01-27 09:25] yeroslaviz commented on #4822
This is not working. Is there another way to install the python pacakges for `CNNScoreVariants`?

I get this error:

[code]

[2020-01-27 13:50] cmnbroad commented on #4822
@yeroslaviz Are you trying to create the environment from a cloned github repo, or from a zip installation of GATK ? It looks like its from a repo, in which case you need to follow the instructions [here](https://github.com/broadinstitute/gatk#python). (gatkcondaenv.yml is generated from sources by a gradle task, so running gradle is required unless you're creating the env from an install).

[2020-01-27 16:11] #5885 closed

[2020-01-27 17:02] #6362 closed

[2020-01-27 17:18] #6387 closed

[2020-01-27 17:19] droazen commented on #6365
This is fixed

[2020-01-27 17:19] #6365 closed

[2020-01-27 18:24] GATKSupportTeam opened #6419 "Request created from: Mutect2 - Need one or two reads to construct a fragment"
This request was created from a contribution made by D B on January 17, 2020 14:43 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360056339072-Mutect2-Need-one-or-two-reads-to-construct-a-fragment

--

The command I used below is able to generate the .vcf output along with its index and stats file, but my snakemake run fails to complete due to exit status (3 instead of 0). I

[2020-01-27 18:26] bshifaw commented on #6419
Hi @davidbenjamin

Mind having a look at this ticket, a user is receiving the error above and office hours mentioned this might be an issue on our end.

[2020-01-27 19:02] davidbenjamin commented on #6419
@bshifaw I believe we fixed this in master in this PR: #6327, but we haven't released since then.  I'll close this ticket based on that assumption, but please re-open if I'm wrong.

[2020-01-27 19:02] #6419 closed

[2020-01-27 20:46] #6396 closed

[2020-01-28 13:52] GATKSupportTeam opened #6421 "Request created from: Missing variant in VCF from GenotypeGVCFs"
## Bug Report

#### Affected tool(s) or class(es)

GenotypeGVCFs

#### Affected version(s)

* GATK 4.1.4.1

#### Description
This request was created from a contribution made by James Abbott (Staff) on January 14, 2020 10:53 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360056098271-Missing-variant-in-VCF-from-GenotypeGVCFs

--

This looks like a similar issue to https://gat

[2020-01-28 14:13] bshifaw commented on #6421
The user originally used output generated from HC 3.7 but retested with output with the latest version of HC and received the same results from GenotypeGVCFS.
They have also used SelectVariants on GenomicsDB to check whether the variants is lost in the DB or VCF and have determined that it is indeed present in the DB and lost in the VCF.
The have provided a snippet of the GVCF to reproduce the res

[2020-01-28 21:14] ldgauthier commented on #6421
If I can get that SelectVariants output I'll take a look.  (The tar is just the individual samples.)

[2020-01-29 15:18] bshifaw commented on #6421
thanks @ldgauthier ,
The user just uploaded the output from SelectVariants, is this the correct file?
[http://www.compbio.dundee.ac.uk//user/jabbott/selected.vcf.gz](http://www.compbio.dundee.ac.uk//user/jabbott/selected.vcf.gz)

[2020-01-29 15:42] zvaksman opened #6424 "Trio calling with GATK, LowGQ"
I have a question on why would a trio call is not considered De novo?

I visually inspected the variant (and other variants that follow the same pattern) and from the bam file the variants are well supported (see below the vcf output) with a good number of reads supporting each genotype. The vast majority of the reads were very high qual and high mapping scores (almost all near 60).

Based on the

[2020-01-29 19:14] takutosato commented on #6095
Fixed as of Version 4.1.4.1

[2020-01-29 19:14] #6095 closed

[2020-01-29 20:37] #6260 closed

[2020-01-29 21:11] ldgauthier commented on #6421
David and I have continued this discussion on the forum.  TL;DR -- nothing we can do today, but I have a TODO on my list that should fix it.

[2020-01-29 21:15] ldgauthier commented on #6424
In the top examples, the posterior genotype probabilities for the second sample give it GQ0.  Presumably this is a parent and without a confident homRef call in the parent we don't call this variant de novo.  What is the CalculateGenotypePosteriors command you're using?

[2020-01-29 21:43] npatel22526 opened #6426 "Header is missing description for FILTER-PASS"
### Instructions

## Bug Report

### Affected tool(s) or class(es)
FilterMutectCalls

### Affected version(s)
- [ ] Latest public release version [4.1.4.1]

### Description
Header is missing description for "##FILTER=<ID=PASS" , it causes inaccurate parsing of VCF

#### Steps to reproduce
Run the FilterMutectCalls on any mutect2 VCF available

Thanks,
Nick

[2020-01-30 09:50] shashank-bgp commented on #6384
Thank you @lbergelson, i figured out to get correct output.

[2020-01-30 09:51] #6384 closed

[2020-01-30 10:03] amizeranschi opened #6428 "GenomicsDBImport fails with 2500 samples: OSError: [Errno 7] Argument list too long: '/bin/bash'"
Hello,

I'm running into issues with joint genotyping on 2500 (small) GVCF files. I'm running GATK4 from bcbio-nextgen on an SGE cluster and `GenomicsDBImport` runs into: `OSError: [Errno 7] Argument list too long: '/bin/bash'`.

I've checked bcbio's logs and it looks like GenomicsDBImport is being executed on all the 2500 samples simultaneously, with the option `--batch-size 50`, which doesn't se

[2020-01-30 13:07] zvaksman commented on #6424
Thanks for the reply, the command we are using is listed below. Yes it was a parent that was called LowGQ however, why would that be so? I inspected the variants manually and did a pileup (the mapping quality was very good (mostly 60), base qualities scores were 30+ for most. There are sufficient reads supporting each genotype. What would be the reason? I looked through the manual and explanations

[2020-01-30 14:13] ldgauthier commented on #6424
Depending on what the allele frequencies are in that supporting VCF, the prior on there being a variant could be very strong against homozygous reference calls.  We've found that the support resource doesn't have to be well population matched, but that was for overall accuracy.  There can be a small decrease in sensitivity.  Another option is to decrease the de novo mutation prior with `--de-novo-

[2020-01-30 15:22] ldgauthier commented on #6428
This should work if you try specifying the samples and paths with a sample map TSV file: column 1 as name, column 2 as path, no header.

[2020-01-30 19:55] davidbenjamin commented on #6248
We can re-open if the error remains in the current release.

[2020-01-30 19:55] #6248 closed

[2020-01-30 19:59] davidbenjamin commented on #5965
We can re-open if the error persists in the current release.

[2020-01-30 19:59] #5965 closed

[2020-01-31 05:41] amizeranschi commented on #6428
Thanks a lot for the suggested fix. This has now been implemented in bcbio-nextgen and it works perfectly.

[2020-01-31 05:41] #6428 closed

[2020-01-31 16:23] marcopessoa commented on #6275
Is the `--max-genotype-count` option fixed in any new branch (not hard coded at 100000)? I am kind of stuck in my project for now while `GenotypeGVCFs` doesn't work, and I would like to set a lower value to this option. Thanks!

[2020-01-31 18:44] ldgauthier commented on #5568
Looks like Nalini already took care of this a while ago.

[2020-01-31 18:44] #5568 closed

[2020-01-31 18:46] ldgauthier commented on #5569
I have a mildly crufty branch that can do this if we ever really need it.  @droazen do you want to keep this?  Given that we have several solutions that are projected to satisfy the 1M sample requirement, I don't think we'll have to resort to combining from multiple GDBs.

[2020-01-31 19:28] ldgauthier commented on #3247
This still isn't perfect, but it will suffice.  In the current master the arguments come out like:
[code]
which don't parse perfectly if you try to run them as a command, but at least all the information is there.  (false attributes are dropped, but will be interpreted correctly if omitted)

This isn't causing me any problems, so I'm going to close it.

[2020-01-31 19:28] #3247 closed

[2020-01-31 20:33] ldgauthier commented on #5410
It's been over a year and I don't feel so passionate about this anymore.

[2020-01-31 20:33] #5410 closed

[2020-01-31 20:36] ldgauthier commented on #4592
I don't feel strongly about this anymore, and now the error should be searchable from this ticket.

[2020-01-31 20:36] #4592 closed

[2020-01-31 20:37] ldgauthier commented on #3407
Let's be honest -- this is never going to happen.  The goal is to move towards non-exact-match integration tests anyway.

[2020-01-31 20:37] #3407 closed

[2020-01-31 20:50] ldgauthier commented on #6109
The problematic code disappeared at some point (maybe when Chris N. was working on non-variant output?), so this issue is a freebie.

[2020-01-31 20:50] #6109 closed

[2020-01-31 21:24] ldgauthier commented on #6151
Partial dupe of #6035
Downsampling in HaplotypeCaller is exceedingly rare.
James's work might enable expanding the active region size.
@davidbenjamin what has to happen to turn on #5831 for HaplotypeCaller?

[2020-01-31 21:26] ldgauthier commented on #6016
@xllbit GATK 3 is no longer supported

[2020-01-31 21:26] #6016 closed

[2020-02-01 03:50] SHuang-Broad opened #6433 "A question about read filtering"
So, I have a question that I believe some discussions are necessary, regarding read filtering.

The background that triggered this question is when I tried `PrintReads(Spark)` to filter out reads with `ReadFilterLibrary.GoodCigarReadFilter`. As it turns out, that one of the read (long read) have several alignment records, (unfortunately) the primary (i.e. 256 and 2048 flags not turned on) record i

[2020-02-03 02:31] nalinigans commented on #6275
@marcopessoa, not yet. We will work on this early this week.

[2020-02-03 04:48] kdmurray91 opened #6434 "Null pointer exception in FastaAlternateReferenceMaker"
## Bug Report

### Affected tool(s) or class(es)

FastaAlternateReferenceMaker

### Affected version(s)
- [x] Latest public release version 4.1.4.1
- [ ] Latest master branch as of [date of test?]

### Description

A null pointer exception in

#### Steps to reproduce

We called variants with HaplotypeCaller & use resulting VCF with FastaAlternateReferenceMaker. See command below, but only referenc

[2020-02-03 16:18] ldgauthier commented on #6013
This should be doable, if not in the integration test framework, then in the new testing framework @KevinCLydon is working on.

[2020-02-03 16:18] #6013 closed

[2020-02-03 16:56] lbergelson commented on #6434
@kdmurray91 Thanks for reporting this.  This is caused by a dumb oversight in the code.  I made a branch to fix it here: https://github.com/broadinstitute/gatk/pull/6435

I suspect you may have a different underlying error that was being hidden by this bug.  Please update if you have additional issues.

[2020-02-03 17:20] droazen commented on #6407
@mwalker174 @samuelklee  ^^^

[2020-02-03 17:22] droazen commented on #6400
@SHuang-Broad You can adjust the Spark verbosity, but unfortunately we don't know of a way to reduce the Spark log spam without losing the logging output we actually care about.

[2020-02-03 17:22] #6400 closed

[2020-02-03 17:29] #6243 closed

[2020-02-03 18:02] davidbenjamin commented on #6151
There is nothing preventing turning on #5831 for HaplotypeCaller.

[2020-02-03 21:10] jsalt commented on #6357
Hi, I am encountering a similar error attempting to run `GenotypeGVCFs` in `gatk v4.1.2.0`. It runs very briefly and writes a handful of variants from a single scaffold to the output file but then exits with `java.lang.ArrayIndexOutOfBoundsException` (see below). I have also tried adding the `-L` flag and an interval list, which performs similarly but outputs variants from a different scaffold. An

[2020-02-03 21:12] kdmurray91 commented on #6434
Great, thanks @lbergelson . Is there a nightly build of the .jar somewhere online? I'll post back with any additional errors if it seems as though I'm not the cause of them.

[2020-02-03 22:43] lbergelson commented on #6434
@kdmurray91 Our nightly builds are kind of janky at the moment.  I built one for you and uploaded it [here](https://storage.googleapis.com/hellbender-test-logs/tmp/gatk-4.1.4.1-57-ga78bf17-SNAPSHOT.zip) to test it.

I think this bug is fixed so I'm going to close this issue, feel free to reopen or open a new issue if you have further issues.

[2020-02-03 22:43] #6434 closed

[2020-02-03 22:56] mwalker174 commented on #6407
Thanks for your question, @xysj1989. You are right that it can be advantageous to use SNP data for CNV calling. In my experience, however, it is not of high importance in practice. Indeed we do use BAF in our structural variation pipeline, but only for the purpose identifying high-quality calls. We typically find that BAF support tends to be weak/noisy for all but the largest CNVs, so requiring SN

[2020-02-04 17:01] DeadlyDoll commented on #5900
i have the same problem, any progress? thanks

[2020-02-04 17:07] GATKSupportTeam opened #6440 "Typos in Tool Index docs"
Three very minor typos are present in these documents that break the code when copied-and-pasted as they are.

-----

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360056484652-Typos-in-docs

--

1.  [https://gatk.broadinstitute.org/hc/en-us/articles/360036726571-LeftAlignAndTrimVariants](/hc/en-us/articles/360036726571-LeftAlignAndTrimVariants)

the fifth code block on this page

[2020-02-04 17:15] fleharty commented on #5900
@DeadlyDoll @bhanugandham
I've not been able to generate this problem in any of my data.  Is there something unique about your data?

[2020-02-04 18:09] lbergelson commented on #6440
@GATKSupportTeam Would someone on the support team like to file a PR to resolve this?  It seems like a good intro PR for new members who haven't ever made one before.

[2020-02-04 18:14] ldgauthier commented on #6357
This would be a lot easier to debug if we got data to reproduce the error: https://gatk.broadinstitute.org/hc/en-us/articles/360035889671

[2020-02-04 20:24] bhanugandham commented on #6440
@derekca Would you wanna take this one?

[2020-02-04 22:42] bhanugandham commented on #5900
@hliu2016 and @DeadlyDoll

Can you please share a problematic subset of the bam so we can recreate this error on our end. Also please post the version of GATK you are using.

[2020-02-05 12:37] ldgauthier commented on #6021
This is going to be nearly impossible to debug without being able to reproduce it.  If I could get an input VCF, a commandline, and an example bad output VCF that would go a long way: https://gatk.broadinstitute.org/hc/en-us/articles/360035889671

[2020-02-05 12:40] ldgauthier commented on #5989
Never got more details from the reporting user. @purod if you can put together a bug report (https://gatk.broadinstitute.org/hc/en-us/articles/360035889671) we can reopen.

[2020-02-05 12:40] #5989 closed

[2020-02-05 12:43] ldgauthier commented on #5968
@wuuly you can report if you are you still interested in having this resolved.  If so, being able to reproduce the issue would be very helpful: https://gatk.broadinstitute.org/hc/en-us/articles/360035889671

[2020-02-05 12:43] #5968 closed

[2020-02-05 15:08] ahaessly commented on #6048
I ran across a weird case the other day that I wanted to document here.
`        final Set<VCFHeaderLine> headerInfo = new HashSet<>();
        headerInfo.addAll(getHeaderForVariants().getMetaDataInInputOrder());
        headerInfo.add(GATKVCFHeaderLines.getFilterLine(GATKVCFConstants.LOW_HET_FILTER_NAME));
        vcfWriter = createVCFWriter(new File(outputVcf));
        vcfWriter.writeHeader(new

[2020-02-06 01:40] aditisk commented on #6102
@lbergelson I am getting the same error as @wangshun1121 mentions above. I'm using version 4.1.4.0. I am assuming this version has the bug fix too like v4.1.3 that works for @wangshun1121  ?

Thanks.

[2020-02-06 15:20] #6426 closed

[2020-02-06 18:20] shandy79 commented on #6289
Also seeing this in 4.1.4.1.  Does anyone know what the latest previous version is that doesn't have this issue?

[2020-02-06 22:00] kachulis opened #6443 "Minimal/Inconsistent checking of variant order in vcf writing tools, particularly affecting SelectVariants"
## Bug Report

### Affected tool(s) or class(es)
particularly _SelectVariants_, but really anything that writes out a vcf.

### Affected version(s)
- [ ] Latest public release version [version?]
- [x] Latest master branch as of [2/6/2020]

### Description
There are minimal/inconsistent checks that variants added to vcfWriters are correctly ordered (an issue with htsjdk I think).  This leads to an

[2020-02-07 06:59] erika8181 commented on #6357
Hi, I encountered a similar error attempting to run GenotypeGVCFs in gatk v4.1.4.1.
It ran very briefly and writed few variants to the output file but then exited with java.lang.ArrayIndexOutOfBoundsException.

I solved the problem (I created a merged vcf) by performing bgzip (and tabix) of each gvcf file before running GenomicsDBImport and GenotypeGVCFs.
I don't know if it could be a solution als

[2020-02-07 14:01] travelanywhere commented on #5457
is this chain file  (b37->hg38) somewhere available?

[2020-02-07 14:35] davidbenjamin commented on #6433
It depends why it fails the filter.  One reason is consecutive indel elements, but consider for example:

ref:     ACGTTTA
read:  AC  TTTTA
cigar: 2M1D1I4M

Especially in long-read technologies with a lot of indel errors it seems draconian to throw out reads where this happens once.  And okay, I understand that an aligner could represent this as a G->T subsitution, but what about the same thing bu

[2020-02-07 14:37] #1920 closed

[2020-02-07 14:41] davidbenjamin commented on #2699
Looks to me like this has since moved to gatkbase.

[2020-02-07 14:41] #2699 closed

[2020-02-07 15:00] davidbenjamin commented on #3180
@droazen Doing my occasional issue-pruning -- does this issue need to stay up?

[2020-02-07 15:05] davidbenjamin commented on #4361
The wall-clock time of waiting for the user has exceeded 17,000 hours.

[2020-02-07 15:05] #4361 closed

[2020-02-07 15:12] davidbenjamin commented on #5434
Closed by #6055.

[2020-02-07 15:12] #5434 closed

[2020-02-07 15:26] davidbenjamin commented on #6001
Since M2 only has one full-time developer, I think the history of mutect2 pdfs on github and the GATK release notes will have to suffice.

[2020-02-07 15:26] #6001 closed

[2020-02-07 15:27] davidbenjamin commented on #5676
Closed by #6358.

[2020-02-07 15:27] #5676 closed

[2020-02-07 15:28] ldgauthier commented on #6443
@kachulis can you give an example where trimming changes the position?  This seems to violate some of the assumptions we've been making for the BQ joint calling work.

[2020-02-07 15:31] ldgauthier commented on #6357
Hi @erika8181 ,

I'm glad you were able to find a workaround.  Hopefully that will be helpful for the other users as well.  I've seen pretty strange things when files aren't indexed properly, so it was the tabix step in your solution that got me thinking.  Can you try running GATK IndexFeatureFile on your failing input (non-gzipped) vcfs and then importing?

[2020-02-07 16:04] davidbenjamin commented on #6058
@chadisaad The remaining error involves samples with no callable sites, which means not only that they are control samples but that M2 saw no sites with coverage of 10 or more reads.  Also, if it is a control sample with no variants, why run FilterMutectCalls on it?

If this error shows up for a case sample, feel free to open an issue in this repo.

[2020-02-07 16:04] #6058 closed

[2020-02-07 16:42] #5924 closed

[2020-02-07 16:58] davidbenjamin commented on #5923
Closed by #6394

[2020-02-07 16:58] #5923 closed

[2020-02-07 16:58] davidbenjamin commented on #5828
Closed by #6394

[2020-02-07 16:58] #5828 closed

[2020-02-07 17:22] kachulis commented on #6443
@ldgauthier this happens when the alleles have shared bases on the left.  For example
`chr1	17148447	.	GAAACAAAACA	GAAACAAAATA`
trims to
`chr1	17148456	.	C	T`
I think this most commonly arises when splitting alleles at multiallelic sites.  For example the site above came from splitting the multiallelic site
`chr1       17148447        .      GAAACAAAACA         GAAACAAAACAAAACAAAACA,GAAACAAAATA,G`

[2020-02-07 17:58] droazen commented on #3180
Yes, we can close this one.

[2020-02-07 17:58] #3180 closed

[2020-02-09 00:41] #150 closed

[2020-02-09 00:41] #4919 closed

[2020-02-09 03:41] davidbenjamin commented on #6291
@lbergelson This is failing on an M2 input.  I can fix this.

[2020-02-09 03:51] davidbenjamin commented on #6254
@Fruit-loops this happens for many-allelic sites.  SelectVariants historically assumed every input was a germline site with PL values (genotype likelihoods) for every possible combination of alleles and ploidy and generated an expensive cache of these indices.  For somatic sites this concept is meaningless and for many-allelic sites it's combinatorially expensive.  The PR mentioned above skips the

[2020-02-09 03:54] davidbenjamin commented on #6249
This is a dupe of a Biostars question: https://www.biostars.org/p/406695/ where the same user hasn't responded in 3 months.  The answer there suggested it was some sort of IonTorrent tag.

[2020-02-09 03:54] #6249 closed

[2020-02-09 04:03] davidbenjamin commented on #6050
@wangyugui What tool are you running?  What is the maximum depth of your sample?  How much RAM does your machine have?  How much RAM did you request in your Java command?

[2020-02-09 04:07] davidbenjamin commented on #5922
Closed by #6394.

[2020-02-09 04:07] #5922 closed

[2020-02-09 04:10] #5917 closed

[2020-02-09 04:12] davidbenjamin commented on #5906
@ambarishK Could you provide your WDL script and point us to which tasks were configured with a GATK docker, which steps run, and which steps fail?

[2020-02-09 04:20] #5600 closed

[2020-02-09 04:24] davidbenjamin commented on #5511
Closed by #5519.

[2020-02-09 04:24] #5511 closed

[2020-02-09 04:28] davidbenjamin commented on #5499
We're on a much newer gradle.

[2020-02-09 04:28] #5499 closed

[2020-02-09 04:34] davidbenjamin commented on #5213
@lbergelson Don't PR builds now run even when there's a merge conflict?

[2020-02-09 04:38] davidbenjamin commented on #5013
@lbergelson Is it worth keeping this open?

[2020-02-09 04:45] davidbenjamin commented on #4939
Most of our integration tests use the non-UCSC convention.  I would be shocked if that were the issue.  If anyone reading this has the issue, feel free to re-open or post on the GATK forum.

[2020-02-09 04:45] #4939 closed

[2020-02-09 05:31] #3844 closed

[2020-02-09 06:21] davidbenjamin commented on #3549
Not sufficiently worth it for anyone to care in the last 2+ years.

[2020-02-09 06:21] #3549 closed

[2020-02-09 06:26] davidbenjamin commented on #2889
Closed by #6406.

[2020-02-09 06:26] #2889 closed

[2020-02-09 06:29] #2549 closed

[2020-02-09 06:31] ambarishK commented on #5906
@davidbenjamin I resolved the issue after passing on proper docker string value into runtime block of WDL script. There is no error now.

In case of any requirement I will communicate you.

Thank you so much.

[2020-02-09 06:33] davidbenjamin commented on #2498
We have since changed our SW parameters to be less biased to favor indels over SNPs.

[2020-02-09 06:34] davidbenjamin commented on #2470
Same as #5178.

[2020-02-09 06:34] #2470 closed

[2020-02-09 06:37] davidbenjamin commented on #2471
Absorbed by #4341.

[2020-02-09 06:37] #2471 closed

[2020-02-09 06:44] davidbenjamin commented on #264
We have junction trees now.

[2020-02-09 06:44] #264 closed

[2020-02-09 07:07] davidbenjamin commented on #5906
Thank you!

[2020-02-09 07:07] #5906 closed

[2020-02-09 10:13] wangyugui commented on #6050
The command was 'java  -jar gatk/gatk-package-4.1.2.0-local.jar'.  It should output the help message.
The server has 256G memory.

there should be a bug of linux kernel or java jvm or gatk of some version.

Let's close it before I can reproduce it.

[2020-02-09 10:13] #6050 closed

[2020-02-10 06:36] smlee17 commented on #1537
Hi, I am also facing the same issue, would you mind to share what type of external tools you used for the separation?

[2020-02-10 13:25] erika8181 commented on #6357
Hi,

according to your suggestion, I uploaded the gz file both for failing and successful input gvcf

[failed_variants.g.vcf.gz](https://github.com/broadinstitute/gatk/files/4180953/failed_variants.g.vcf.gz)
[successful_variants.g.vcf.gz](https://github.com/broadinstitute/gatk/files/4180957/successful_variants.g.vcf.gz)

Thanks

[2020-02-10 17:20] cmnbroad commented on #6241
Closing this since we can't seem to reproduce it without more info. @efr3m please feel free to reopen if you have more info or continue to see this.

[2020-02-10 17:20] #6241 closed

[2020-02-10 18:30] #6056 closed

[2020-02-10 21:06] #6254 closed

[2020-02-10 21:06] #6291 closed

[2020-02-10 21:40] lbergelson commented on #5013
Fine to close this, I think the only person who cared is unlikely to run into it again.

[2020-02-10 21:40] #5013 closed

[2020-02-10 21:41] lbergelson commented on #5213
Do they?  I wouldn't think they could.  How does it resolve the conflict?

[2020-02-10 21:54] #6371 closed

[2020-02-10 23:00] lbergelson commented on #6395
@yurivict We can make this change, but where are you getting the tarball from?  The tarballs that github publishes automatically are insufficient to build gatk.  You have to resolve the runtime resources from git-lfs and I'm not sure how you're doing that without using git.  If you're going to prebuild a special tarball on your own, just put a fake git directory with the appropriate tag for the ve

[2020-02-10 23:02] lbergelson commented on #6379
@davidbenjamin Why does this happen with the mutect pipeline?  How are we generating out of order sam files?

[2020-02-10 23:10] lbergelson commented on #6379
Oh... I know how it might happen.  It's the same issue we're having with variants (https://github.com/broadinstitute/gatk/issues/6339) with how we select all overlapping reads, not just the ones that start in the region.

i.e. the following reads, positions only:
10-100
11-30
25-45
50-70
60-100

If we subset with PrintReads -L 1-49 and -L 50-100 we get
bam 1
10-100
11-30
25-45

bam2
10-100
50-70
6

[2020-02-10 23:25] yurivict commented on #6395
I get tarballs from github, and then download dependencies and generate the intermediate tarball internally. We never clone git repositories as you might think due to security issues.

[2020-02-11 01:58] davidbenjamin commented on #5213
@lbergelson It's dawning on me that I completely misunderstood this ticket.  Is the idea that a push build simply builds your (in general unrebased) commit, while a PR build intends to build the repo as would be upon merging?  And is the PR build the Travis build that instantly reports passing when we issue PRs?

[2020-02-11 02:06] davidbenjamin commented on #6379
@lbergelson In the M2 pipeline it comes up when we merge the bamouts from adjacent scatters.  The padded assembly intervals overlap at the boundaries.

[2020-02-11 02:27] lbergelson commented on #5213
You're partially correct.  A push build builds exactly the branch as pushed, while the PR build essentially merges the branch into master and builds that, so it's what you would get on merging.  Since the only result we really care about is what happens when we merge to master, we try to skip the push builds by instantly passing them and only building the PRs.

I think there's an issue though when

[2020-02-11 02:28] lbergelson commented on #6395
Do you manually download the files in src/main/resources/large from git-lfs, you need those in order to perform the build.  I'm not sure a good way to get those without using git.  You could of course pull them and then tar them though.

[2020-02-11 02:31] yurivict commented on #6395
gradle builds the dependency cache archive while online, and then builds a package using this archive while offline.

[2020-02-11 02:35] lbergelson commented on #6395
What I'm saying is that the tarball that github auto-publishes is missing important files that are managed by git-lfs.  So you need to fetch those somehow.  They're not gradle dependencies and gradle doesn't know how to localize them without using git-lfs which relies on the git directory.  If you have a mechanism for localizing those (and for setting the version manually)  then it would be possib

[2020-02-11 02:36] lbergelson commented on #6395
I pushed a branch `lb_make_git_optional` which lets you skip the git check by specifying `-DversionOverride=whateveryourversionnumberis` as part of the build, play with that and tell me if it's working for your use case.

[2020-02-11 04:30] davidbenjamin commented on #6020
I verified that this is still an issue on Terra.  Note that the the command is a bit different in tensorflow 2.0:

[code]

[2020-02-11 04:38] davidbenjamin commented on #6020
@lucidtronix Does the GATK docker have Intel tensorflow?  Do Terra notebooks run with a gatk docker image ie is this an issue for this repo?

[2020-02-11 04:54] yurivict commented on #6395
I see, thanks for pointing this out.

We need to run
[code]
to retrieve and archive the files.

[2020-02-11 15:43] adrlar commented on #6342
I am having an issue with the same bug, where these `MPOS=-2147483648` fields are causing an error in downstream analysis. If anyone has any update or a workaround I'd appreciate it.

[2020-02-11 17:02] lbergelson commented on #6395
Cool, if the that branch works for you then I'll open a PR.

[2020-02-11 17:02] lbergelson commented on #6395
Remember to set the correct version when you build, otherwise people will give us very confusing bug reports :)

[2020-02-12 01:40] DrJCampbell commented on #6342
I'm also having a problem with this bug breaking downstream analysis. Using bcftools to index the vcf containing `MPOS=-2147483648` converts it to `MPOS=.`.

[2020-02-12 17:30] davidbenjamin commented on #6395
@lbergelson It seems like the line in question could just be deleted, but it's beyond me to know whether there are unintended consequences.

[2020-02-12 17:34] davidbenjamin commented on #6345
@shenkers Yes, the GATK team is always willing to review PRs from external contributors!

[2020-02-12 18:30] lbergelson commented on #6395
@davidbenjamin The check for a git repo is important for most use cases because we want to set the appropriate version number which is derived from the git repo.  If people build it without a version or with an incorrect version things get very confusing when there are bugs or issues.

[2020-02-12 21:01] yurivict commented on #6395
```The check for a git repo is important ```

Packages are not built from the git repo. They are built from tarballs that github creates in this case.

[2020-02-13 18:44] nalinigans commented on #6275
@marcopessoa, I was hoping to get PR #6305 into the release this week, but it is still ongoing. Meanwhile, please use the [genomicsdb_120_1 branch](https://github.com/broadinstitute/gatk/tree/genomicsdb_120_1) where you can specify --max-genotype-count with the GenotypeGCFs/GnarlyGenotyper tools and --genomicsdb-max-genotype-count with the SelectVariants tool to be passed on to GenomicsDB. I will

[2020-02-14 16:32] SHuang-Broad opened #6455 "CreateHadoopBamSplittingIndex should not have the default WellFormedReadFilter"
Creating an index should not bring the bonus of read filters.

[2020-02-14 16:33] #6455 closed

[2020-02-15 04:11] nalinigans opened #6456 "Hook arguments from SelectVariants/GenotypeGVCFs/GnarlyGenotyper to GenomicsDB Export Configuration"
## Feature request

### Tool(s) or class(es) involved
SelectVariants/GenotypeGVCFs/GnarlyGenotyper

### Description
GenomicsDBExportConfiguration allows for the following to be configured - currently they are mostly hardcoded - `produceGTField`, `produceGTWithMinPLValueForSpanningDeletions`, `setSitesOnlyQuery`,  `maxDiploidAltAllelesThatCanBeGenotyped` and `maxGenotypeCount`. Most of this functio

[2020-02-16 04:01] #3672 closed

[2020-02-16 11:05] thierrygrange commented on #5527
I found this feature request highly interesting. This feature would indeed be very useful. It does not seems it has been implemented yet. Is there a chance it will be one day? I am joining to Soo Hee Lee to support her Feature Request.

[2020-02-19 03:17] #5561 closed

[2020-02-19 06:00] DarioS opened #6459 "Indel Realignment and Alignment Metadata"
In the news file of a structural variant software I use, I read

Could such issues perhaps be resolved in an update to GATK?

[2020-02-19 17:14] asgerjakobsen opened #6460 "Merging phased indels"
We are performing somatic variant calling in tumour-only mode where we call variants with both Mutect2 (GATK version 4.1.2.0) and Vardict-java. We have noticed that Mutect2 calls adjacent phased indels as two separate variants, whereas Vardict calls these as a single variant. We have tried increasing the value of the `--max-mnp-distance`  option, and this merges `SNP-SNP` combinations into an MNP

[2020-02-19 19:36] droazen commented on #6460
@davidbenjamin ^^

[2020-02-19 20:12] davidbenjamin commented on #6395
Closed by #6450.

[2020-02-19 20:12] #6395 closed

[2020-02-19 21:03] #5677 closed

[2020-02-19 21:06] ldgauthier commented on #385
I'm closing this, but we can reopen if there's a test case.

[2020-02-19 21:06] #385 closed

[2020-02-19 21:09] ldgauthier commented on #165
This was done in #3254

[2020-02-19 21:09] #165 closed

[2020-02-19 21:10] ldgauthier commented on #302
Closing because we now have a `OVERLAPPING_ONLY`(#3254) and because we haven't found a use case for this in almost five years.

[2020-02-19 21:10] #302 closed

[2020-02-19 21:46] ldgauthier commented on #6459
Those sound like issues with the IndelRealigner tool from GATK3, which is
not part of our pipeline anymore. Is this still a problem with 4.1.4.1?

On Wed, Feb 19, 2020, 1:00 AM Dario Strbenac <notifications@github.com>
wrote:

[2020-02-21 05:00] DarioS commented on #6459
Indeed, this is no longer a problem with GATK4.

[2020-02-21 05:00] #6459 closed

[2020-02-21 17:18] tfenne opened #6463 "HaplotypeCaller emitting incorrect phasing when genotyping hom-het-het"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller when emitting physical phasing.

### Affected version(s)
- [x] Latest public release version [4.1.4.1]
- [ ] Latest master branch as of [n/a]

### Description
When there are three SNPs in close proximity with the first having a homozygous-alt genotype and the other two being hets that are in trans, the GATK incorrectly outputs genoty

[2020-02-21 23:43] neuro2019 opened #6466 "JAVA doc error"
Execution failed for task ':gatkDoc'.

### Affected tool(s) or class(es)
GATK

### Affected version(s)
4.1.4.1
### Description
when trying to compile with .gradlew bundle get the error above

* What went wrong:
Execution failed for task ':gatkDoc'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecu

[2020-02-22 16:48] cmnbroad commented on #6466
@neuro2019 Its a bit hard to tell what the issue is without seeing the rest of the console output.  Did you clone the GATK repo ? What JDK/version are you using ? Or if you post the rest of the console output maybe we can tell more about whats failing.

[2020-02-24 02:32] Mentors4EDU opened #6467 "gcnvkernel module not found after setting up environment"
### Bug Report

Hi, after installing the conda environment and running `conda activate gatk` without errors, I seem to still have a problem importing the gcnvkernel module. Is there a way I can install it through pip or what is something I may have done wrong? I already went over the README and standard documentation, and don't think I missed a step.

### Affected tool(s) or class(es)
gvnvkernel,

[2020-02-24 12:55] AlexanderDilthey opened #6468 "Mutect2: Incorrectly computed allelic depths and likely false-positive calls"
I am running Mutect2 on Illumina amplicon data and observe that the computed allelic depths don't correspond to what I see in IGV or via samtools mpileup. Importantly, this seems to strongly affect the underlying likelihood calculations.

For example, Mutect2 reports:

[code]

IGV gives me for the tumor BAM:

[code]

... and for the normal BAM:

[code]

So a) it seems that reported allelic depths

[2020-02-24 13:30] cmnbroad commented on #6467
@Mentors4EDU This issue has been fixed for the next release, but see [this comment](https://github.com/broadinstitute/gatk/issues/6396#issuecomment-576770330) for a short term fix. Feel free to reopen this ticket if you still have an issue or questions.

[2020-02-24 13:30] #6467 closed

[2020-02-24 14:21] ldgauthier commented on #6424
I'm going to close this, but feel free to reopen if you're still having issues @zvaksman

[2020-02-24 14:21] #6424 closed

[2020-02-24 14:22] #6407 closed

[2020-02-24 14:28] ldgauthier commented on #1572
@droazen do we still care about this?  Given that we've been moving to non-exact match integration tests and fuzzy comparisons in production, maybe this isn't worth the effort.

[2020-02-24 14:33] ldgauthier commented on #1883
@magicDGS after I did some refactoring for Mutect2 mitochondria GVCF output, this should be pretty easily doable by overriding the GVCFBlockCombiner.  Can we close this?

[2020-02-24 14:52] zvaksman commented on #6424
Thanks

On Mon, Feb 24, 2020 at 9:21 AM ldgauthier <notifications@github.com> wrote:

[2020-02-24 15:35] neuro2019 commented on #6466
Did you clone the GATK repo ?
**Yes**
What JDK/version are you using ?
**openjdk version "11.0.6"**

Execution failed for task ':gatkDoc'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':gatkDoc'.
        at org.gradle.api.internal.tasks.execution.Execut

[2020-02-24 16:34] ldgauthier commented on #1896
This is fixed in 4.1.4.1.

[2020-02-24 16:34] #1896 closed

[2020-02-24 16:39] ldgauthier commented on #2019
@davidbenjamin after letting this percolate for a few years, are you convinced by Heng's argument?

[2020-02-24 16:44] ldgauthier commented on #1913
There are clonable, reproducible workflows and expected outputs in the featured workspace: https://app.terra.bio/#workspaces/help-gatk/GATK4-Germline-Preprocessing-VariantCalling-JointCalling/data Admittedly the data is downsampled, but I think this is enough to compare results.  @lbergelson you can reopen if you disagree.

[2020-02-24 16:44] #1913 closed

[2020-02-24 17:26] ldgauthier commented on #2290
So I've encountered users that supply VariantRecalibrator with multiple inputs (which I didn't know it could do), and I have a branch with a new test for that, but I've never seen anyone use the `--aggregate` argument.  That argument has weird behavior in that, since those are not "driving variants", sites that appear in that file that do not appear in the input aren't used.  @droazen what do I ha

[2020-02-24 17:35] ldgauthier commented on #1135
I'm going to close this because A) that tool is in the Picard codebase, not GATK, and B) in production we use `samtools index` to index crams anyway.

[2020-02-24 17:35] #1135 closed

[2020-02-24 17:36] ldgauthier commented on #1955
@lbergelson does anyone who's still at the Broad care?

[2020-02-24 17:38] ldgauthier commented on #1816
@droazen is this of interest for @KevinCLydon or is Travis so brittle we don't want to touch it?

[2020-02-24 17:41] ldgauthier commented on #2233
I've done a bunch of cleanup to get rid of extraneous annotation header lines and GVCF block definitions, but I don't want to mess with the sequence dictionary.  The contig lines should be a small percentage of the total data. This is only an issue if you're running `less` on VCFs, which you really shouldn't be doing.  Either `grep ^[^#]` or use a real tool.

[2020-02-24 17:41] #2233 closed

[2020-02-24 18:01] lbergelson commented on #1955
It would be nice but it's 0 priority.

[2020-02-24 18:03] lbergelson commented on #1135
@ldgauthier With the changes to the cram code coming htsjdk we should would like to be able to index cram natively.  I think this actually might be newly relevant for the first time in a long time.
@cmnbroad what's the new status of indexing cram in java?

[2020-02-24 18:12] ldgauthier commented on #2236
No one has touched this in three years.

[2020-02-24 18:12] #2236 closed

[2020-02-24 18:20] ldgauthier commented on #2221
This was, in fact, a problem, even in the latest version.  If dupes are specified, I'm just going to clean 'em up.

[2020-02-24 18:25] ldgauthier commented on #1292
@cmnbroad  it's actually not entirely obvious how to do this as `minValue` is implemented in Barclay today because `minValue` is inclusive.  Should the minValue in this case be some positive epsilon?

[2020-02-24 18:38] ldgauthier commented on #5590
In production we can run a whole single-sample genome in 10GB of Java memory (-Xmx10g).  I wouldn't expect chr1 to take too much longer than chr2.

[2020-02-24 18:38] #5590 closed

[2020-02-24 18:48] ldgauthier commented on #2102
This seems to have already been refactored at some point.

[2020-02-24 18:48] #2102 closed

[2020-02-24 18:50] ldgauthier commented on #5582
This going to be incredibly hard to fix since JEXL is involved. Sorry @jemunro but this is going to be a "wontfix" on our end as well.

[2020-02-24 18:50] #5582 closed

[2020-02-24 18:52] ldgauthier commented on #5517
We can reopen this if we hear from any users running on BGI data.

[2020-02-24 18:52] #5517 closed

[2020-02-24 18:58] ldgauthier commented on #5517
Actually it looks like Yossi has a PR for this: https://github.com/samtools/htsjdk/pull/1427

[2020-02-24 19:26] droazen commented on #1816
@lbergelson Is this still worth doing?

[2020-02-24 19:30] droazen commented on #2290
@ldgauthier If you can certify that none of our production pipelines use `--aggregate`, and that you don't know of any users who rely on it, and that the intended functionality provided by the argument doesn't fill an important use case, then +1 to removing it

[2020-02-24 20:24] ldgauthier commented on #1955
Sorry, Adam.  We all want things.

[2020-02-24 20:24] #1955 closed

[2020-02-24 20:32] cmnbroad commented on #1292
@ldguthier Yes, a small epsilon would be the way to go. I'll take this, as I just tested it and I noticed a formatting error in the Barclay code. But I'm planning to do a Barclay release in the next week or so anyway.

[2020-02-24 20:38] cmnbroad commented on #1135
htsjdk can generate .crai (disq does so already, though the new code fixes a lot of bugs and has a lot more tests). On index read it still converts to bai though. Anyway I'll make a corresponding Picard ticket.

[2020-02-24 21:51] tmm211 commented on #6468
Discussing on the forum: https://gatk.broadinstitute.org/hc/en-us/community/posts/360057710791-Mutect2-Incorrectly-computed-allelic-depths-and-likely-false-positive-calls

[2020-02-25 03:19] davidbenjamin commented on #2019
I wish I were.  The `AlleleFrequencyCalculator` accounts for this when it computes posteriors and multiplies by the combinatorial factor.  Nonetheless, I don't agree that the likelihoods of phased and unphased genotypes are the same and only the priors are different.  As I see it, the unphased genotype likelihood is
P(reads | unphased h1,h2) = P (reads | either maternal h1, paternal h2 OR maternal

[2020-02-25 06:11] davidbenjamin commented on #779
@lbergelson is this still an issue?

[2020-02-25 06:13] #5426 closed

[2020-02-25 06:15] lh3 commented on #2019
The following equation is wrong:

= P (reads | either maternal h1, paternal h2) + P(reads | maternal h2, paternal h1)

You can't apply plus to replace "OR" in conditions. The following is mathematically correct: "P (either maternal h1, paternal h2 OR maternal h2, paternal h1 | reads)
= P (either maternal h1, paternal h2 | reads) + P(maternal h2, paternal h1 | reads)"

[2020-02-25 06:31] davidbenjamin commented on #2019
Okay, I see my error now:

It is fine to marginalize over all phased genotypes consistent with het by saying:

 P(reads | unphased genotype g) = sum(phased genotype g' consistent with unphased genotype g) P(g' | g) P (reads | g')

_However_, I have been implicitly setting P(g' | g) = 1, which is obviously incorrect.  So it looks like 1) the GATK has both the correct likelihood in the PLs and the c

[2020-02-25 06:31] #2019 closed

[2020-02-25 06:34] lh3 commented on #2019
Just for future readers, my derivation in your style looks something like:
[code]
where
[code]

[2020-02-25 14:12] cmnbroad commented on #6348
Closed via https://github.com/broadinstitute/gatk/pull/6462 (actually via htsjdk https://github.com/broadinstitute/gatk/pull/6367) and https://github.com/broadinstitute/gatk/pull/6367.

[2020-02-25 14:12] #6348 closed

[2020-02-25 14:47] davidbenjamin commented on #4788
@droazen Should we triage this?

[2020-02-25 14:50] davidbenjamin commented on #4544
TL;DR new qual (which is now default) fixes it.

[2020-02-25 14:50] #4544 closed

[2020-02-25 14:52] davidbenjamin commented on #4467
New qual fixes this.  Closing since new qual has since become the only qual.

[2020-02-25 14:52] #4467 closed

[2020-02-25 14:53] davidbenjamin commented on #3066
Haven't heard from the users about this proposed solution in 1 1/2 years.

[2020-02-25 14:53] #3066 closed

[2020-02-25 14:57] #1385 closed

[2020-02-25 15:04] davidbenjamin commented on #4512
New qual.

[2020-02-25 15:04] #4512 closed

[2020-02-25 15:17] davidbenjamin commented on #4973
No activity since 2018; no files to reproduce posted here or on the forum; closing.  For posterity one forum user suggested that specifying `—TMP-DIR` fixes the issue.  Quite possible that new qual also silently fixed it.

[2020-02-25 15:17] #4973 closed

[2020-02-25 15:19] davidbenjamin commented on #4518
@droazen Has this been fixed since 4.0.0.0?

[2020-02-25 15:22] #4514 closed

[2020-02-25 15:25] ldgauthier commented on #4518
I don't remember an explicit fix, but I haven't seen seen that error in a long time and it hasn't come up in production.  We can reopen if it pops up again.

[2020-02-25 15:25] #4518 closed

[2020-02-25 15:36] droazen commented on #4788
@davidbenjamin The message "Flush-to-zero (FTZ) is enabled when running PairHMM" is completely normal and not a sign of any problem. The ticket does not have enough detail for us to determine why the output file was empty.

[2020-02-25 16:05] #1550 closed

[2020-02-25 16:09] davidbenjamin commented on #4788
In that case, let's close it.  It's almost two years old.

[2020-02-25 16:09] #4788 closed

[2020-02-25 16:14] davidbenjamin commented on #4197
This doesn't seem to occur in GATK 4.1.4.1.

[2020-02-25 16:14] #4197 closed

[2020-02-25 16:42] ldgauthier commented on #5618
Now that there's been some refactoring of this code, it might be relatively straightforward to rewire the GVCFBlockCombiner to take in likelihood data from the pileup without creating a VariantContext, then pass the combined data to a VC and then to the writer.

[2020-02-25 19:50] #2537 closed

[2020-02-25 19:50] #6031 closed

[2020-02-26 21:24] bw2 commented on #6065
I'm not sure at this point.
Is it possible the issue would also occur if the bam passes ValidateSamFile, and the intervals file is sorted, but the 2 have different contig orderings?

[2020-02-27 05:17] shengzha commented on #6242
Is the issue fixed? I ran into the same error and after checking out GATK from GitHub and with  the latest build (commit 031c40773d2aefd289005319d6880dbeb3c1dec9, gatk-4.1.4.1-83-g031c407-SNAPSHOT), the problem persisted.

[2020-02-27 14:12] cmnbroad commented on #6242
@shengzha Not yet, though I am working on it (this ticket will transition to the closed state when a fix has been merged). In the meantime if you have a small test case that illustrates the problem, please add it here, as that would help ensure the fix addresses the specific issue you're seeing. Thanks.

[2020-02-27 14:14] cmnbroad commented on #6242
@shengzha Not yet, though I am working on it (this ticket will transition to the closed state when a fix has been merged). In the meantime if you have a small test case that illustrates the problem, please add it here, as that would help ensure the fix addresses the specific issue you're seeing. Thanks.

[2020-02-27 14:55] shengzha commented on #6242
@cmnbroad Thank you so much for the reply. I don't have a small test case for you, but I can provide some other information.
It is RNA seq data and passes validation check (`java -jar picard.jar ValidateSamFile I=S3_2.unmapped.split.bam MODE=SUMMARY`).
BaseRecalibrator cmd:
`gatk BaseRecalibrator -R Homo_sapiens_assembly38.fasta -I S3_2.unmapped.split.bam --use-original-qualities -O S3_2.unmapped.

[2020-02-27 14:56] shengzha commented on #6242
@cmnbroad And here is the output of BaseRecalibrator. [S3_2.unmapped.recal_data.csv.zip](https://github.com/broadinstitute/gatk/files/4262176/S3_2.unmapped.recal_data.csv.zip)

[2020-02-27 15:36] shengzha commented on #6242
@cmnbroad Thanks, I didn't notice that. I will check and get back to you later.

[2020-02-27 16:49] ldgauthier commented on #5659
This is quite stale.  No other reports.

[2020-02-27 16:49] #5659 closed

[2020-02-27 16:51] #5624 closed

[2020-02-27 16:52] ldgauthier commented on #5531
@davidbenjamin some recent work @vruano has been doing for the DragSTR model might be helpful here, if you're still interested in doing htis.

[2020-02-27 16:54] ldgauthier commented on #5481
@droazen are we supporting these Beta Spark tools?

[2020-02-27 17:01] ldgauthier commented on #5345
I only know of one time we needed this since this issue was opened and the shell script was just fine.  For posterity, the script is at scripts/funcotator/testing/compareTwoReferenceDictionaries.sh

[2020-02-27 17:01] #5345 closed

[2020-02-27 17:31] droazen commented on #5481
@ldgauthier They are use-at-your-own-risk, though in general we try to help users with problems. However, in this case the report is so old, and `ReadsPipelineSpark` has changed so much since then, that it's unclear whether this is still an issue with the current version.

[2020-02-27 17:40] davidbenjamin commented on #5427
The DREAM SMC-RNA does not pertain to SNv and indel calling.  Rather, it's only for fusion and isoform prediction.

[2020-02-27 17:40] #5427 closed

[2020-02-27 17:40] #1288 closed

[2020-02-27 17:40] #1289 closed

[2020-02-27 17:40] ldgauthier commented on #5339
Integration tests look okay (there's a Python one that says to skip if it's in docker):
- org.broadinstitute.hellbender.utils.python.StreamingPythonExecutorIntegrationTest#testRequirePythonEnvironment
Unit tests:
- org.broadinstitute.hellbender.utils.pairhmm.VectorPairHMMUnitTest#testLikelihoodsFromHaplotypes
- org.broadinstitute.hellbender.utils.io.IOUtilsUnitTest#testUnsuccessfulCanReadFileCheck

[2020-02-27 17:45] davidbenjamin commented on #3020
Pileup-based error correction achieves this goal.

[2020-02-27 17:45] #3020 closed

[2020-02-27 17:46] #2980 closed

[2020-02-27 17:48] ldgauthier commented on #5342
This has been done (see above.)

[2020-02-27 17:48] #5342 closed

[2020-02-27 17:50] ldgauthier commented on #5323
This was effectively done in #5416

[2020-02-27 17:50] #5323 closed

[2020-02-27 17:53] ldgauthier commented on #5064
There have been a lot of GDB improvements since then.  If this is still an issue in the latest GATK we can reopen, but there's no test data here.

[2020-02-27 17:53] #5064 closed

[2020-02-27 17:55] ldgauthier commented on #5024
This issue has gone stale.  @EvanTheB you can reopen if this is still a problem.

[2020-02-27 17:55] #5024 closed

[2020-02-27 18:48] shengzha commented on #6242
The root cause might be irrelevant but I am still posting it in case someone is in a similar situation. I was running the GATK workflow https://github.com/gatk-workflows/gatk4-rnaseq-germline-snps-indels on a local machine and it turned out that STAR alignment
[code]
was not working fine because `--readFilesCommand "gunzip -c"` is not supported locally.
https://groups.google.com/forum/#!topic/rna-

[2020-02-27 19:51] davidbenjamin commented on #4580
There has been no activity on this for two years, and the two classes already inherit from different superclasses, and the current "has a" implementation avoids code duplication nicely.

[2020-02-27 19:51] #4580 closed

[2020-02-27 20:39] ldgauthier commented on #5481
Okay, I'm going to close and you can reopen if it's an issue in the latest version @qinqian

[2020-02-27 20:39] #5481 closed

[2020-02-28 20:34] neuro2019 commented on #6466
Any updates @cmnbroad

[2020-02-28 20:45] lbergelson commented on #5339
@ldgauthier It actually looks like the PairHMM one might be a bug.  It should be skipping the subset of ones that aren't loadable, but it seems like it think's it's succesfully loading the library but then failing when it actually tries to compute it.

[2020-02-28 21:00] cmnbroad commented on #6466
@neuro2019 Well, the gatkDoc task relies on running the javadoc process with a custom doclet. I'm not sure why its not working for you, but a few suggestions to try. You can try running `javadoc` from the command line to make sure you have the executable. Also, it looks like you're trying to run from within`/usr/bin`. Not sure if thats deliberate, but do other gradle tasks succeed there, i.e., doe

[2020-02-28 21:04] lbergelson commented on #6466
Interesting.  gatkdoc works for me using open jdk 11.0.3.   I wonder if I have some funny setting.

[2020-02-28 21:05] lbergelson commented on #6466
Is it possible you have only a jre installed instead of a full jdk?

[2020-02-28 21:52] anoronh4 commented on #4427
i just tried your gatk docker version 4.1.4.1 and found that IGNORE_SEQUENCE is still required, as the new changes have not yet been approved. in the meantime, is there anything i can put in the parameter to make it work for the time being? empty quotes, for example? exact syntax would be helpful.

[2020-02-28 21:55] neuro2019 commented on #6466
Yes, ./gradlew shadowJar did work.

I have the full JDK installed. I checked.

./gradlew javadoc FAILED

[2020-02-28 22:20] cmnbroad commented on #4427
@anoronh4 You can try using the value "null", which resets the collection empty (assuming you're using the tool on the docker through gatk, as opposed to Picard directly, it would be `--IGNORE_SEQUENCE null`).

[2020-02-28 22:27] cmnbroad commented on #4427
Closing this while I'm at it, since Michael fixed the underlying issue in Picard, and that Picard version has now been pulled into GATK and will surface in the next GATK release.

[2020-02-28 22:27] #4427 closed

[2020-02-28 22:32] cmnbroad commented on #6466
@neuro2019So that narrows it down to the "javadoc"  executable, which it looks like it can't find `Caused by: java.io.IOException: Cannot run program "javadoc" (in directory "/usr/bin/gatk"): error=2, No such file or directory`.  Is "javadoc" on your path and you're able to run it directly ? If so maybe try running gradle with `-d` ? You'll get reams of output which you can zip up and include here

[2020-02-28 22:56] neuro2019 commented on #6466
Thanks. Here it is
[outJavadocFail.gz](https://github.com/broadinstitute/gatk/files/4269462/outJavadocFail.gz)

[2020-02-29 21:12] carbocation opened #6473 "Mutect2 (GATK 4.1.5.0) emitting MNPs despite max-mnp-distance 0"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- [x] Latest public release version 4.1.5.0

### Description

#### Steps to reproduce
It seems that Mutect2 is emitting MNPs despite `--max-mnp-distance 0`

1. Calling in tumor-only mode to prep PON:
[code]

2. GenomicsDB creation for PON step:
[code]

#### Expected behavior
I would expect no MNPs if Mutect2 is run i

[2020-03-01 03:40] davidbenjamin commented on #6473
Hi James, that definitely shouldn't be happening.  Any chance I could get access to that cram file or a 10 kB chunk around chr1:1914706 for debugging?

[2020-03-01 04:05] davidbenjamin commented on #6130
Closed by #6403.

[2020-03-01 04:05] #6130 closed

[2020-03-02 06:38] bw2 opened #6475 "-L loci.interval_list -L UNMAPPED causes java.nio.channels.ClosedChannelException near the end"
### Affected tool(s) or class(es)
gatk PrintReads

### Affected version(s)
v4.1.4.1

### Description
Command like
[code]
crashes near the end with this error:
[code]

#### Steps to reproduce
It looks to me like running with the two -L args (`-L loci.interval_list -L UNMAPPED`) causes this.
Removing either one of them prevents the error, so my current work-around is to run
PrintReads separately - o

[2020-03-02 13:38] cboursnell opened #6476 "Somatic MNP called even though one base mutated in the normal"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
Tested in 4.1.2 up to and including 4.1.5

### Description
Here's an IGV screenshot of a variant I found. One of the bases in the MNP is already a variant in the normal.
https://drive.google.com/file/d/1YwfXH4LQQmhZ3wdi9HD1n6m3Up684DV5/view?usp=sharing

#### Steps to reproduce
My Mutect2 command was:

`gatk Mutect2
-

[2020-03-02 17:15] #4868 closed

[2020-03-02 17:31] tmm211 commented on #6255
[Another user](https://gatk.broadinstitute.org/hc/en-us/community/posts/360057968772-FilterMutectCalls-Error-java-lang-IllegalArgumentException-log10-p-Values-must-be-non-infinite-and-non-NAN) reported seeing this same issue for 4.1.4.1.

[2020-03-02 18:39] KevinCLydon commented on #6357
@erika8181 That failed variants file seems to actually be a VCF, not a GVCF.  Is that the file you intended to upload?

[2020-03-02 19:27] samuelklee commented on #2993
Some discussion worth archiving, but we can probably close.

[2020-03-02 19:27] #2993 closed

[2020-03-03 12:23] #4550 closed

[2020-03-03 13:41] cmnbroad opened #6480 "Upgrade numpy in the conda environment"
We are currently using numpy 1.13.1, but that version is old and has incompatibilities with gcc on some platforms (see [this forum post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360056743551-Problem-Installing-GATK-python-environment-SOLUTION-POSTED-?page=1#community_comment_360009536172)).

[2020-03-03 16:04] samuelklee commented on #4114
Let's just go directly to #4116.  We may need to come up with some annotations or representations for (possibly multimodal) sample-level and segment-level quantities.

[2020-03-03 16:04] #4114 closed

[2020-03-03 16:05] samuelklee commented on #3319
Let's call this a dupe of #4116.

[2020-03-03 16:05] #3319 closed

[2020-03-03 18:32] lbergelson commented on #6475
I can reproduce this locally.  It's possible it's already with the major cram changes in the upcoming version of htsjdk, but I haven't tested that yet.

[2020-03-03 21:04] #6418 closed

[2020-03-03 21:33] cmnbroad commented on #6466
@neuro2019 This output looks a bit different than what you originally reported, not sure if its the same issue or not. But in this case it almost looks somewhat like the failure is actually happening after the javadoc process completes.

What is the content of `build/docs/gatkDoc` after attempting to run the task ? Do you have a `build/tmp/gatkDoc` folder, and if so does it contain a `build/tmp/ga

[2020-03-03 23:19] neuro2019 commented on #6466
Thanks for your time Chris.
So, build/doc/gatkDoc had a .css file. Also there was a build/tmp/gatkDoc folder with a javadoc.options file.

I then installed the jdk version 8 (I had version 11) and tried running gradlew again.
This time it worked !!

I guess it is a version issue? I wish I had a better perspective but I am not a JAVA person.

[2020-03-05 03:38] davidbenjamin commented on #5500
Not important.

[2020-03-05 03:38] #5500 closed

[2020-03-05 04:52] davidbenjamin commented on #6255
We can reopen if anyone reports the issue in 4.1.5.0.

[2020-03-05 04:52] #6255 closed

[2020-03-05 16:09] davidbenjamin commented on #4855
This doesn't matter enough.

[2020-03-05 16:09] #4855 closed

[2020-03-05 16:23] mishaploid opened #6487 "GenomicsDBImport extremely inefficient output"
## Bug Report

### Affected tool(s) or class(es)
GenomicsDBImport

### Affected version(s)
- [ ] Public release version 4.1.4.1

### Description
Running GenomicsDBImport on an HPC cluster using SLURM, admin mentioned that the jobs are writing inefficiently to shared storage  (@spikebike will follow up with HPC specifics and logs).

#### Steps to reproduce
[code]

#### Expected behavior
My understa

[2020-03-05 16:36] ldgauthier commented on #6487
The Hail team noticed this as well.  I think Cotton told me that GDB appeared to be writing 3X more data than he expected.

@nalinigans how hard would this be to optimize?

[2020-03-05 17:02] #5662 closed

[2020-03-05 17:16] davidbenjamin commented on #6202
@SebastianHollizeck Are you able to share the unfiltered VCF and .vcf.stats file from Mutect2 that caused this error?

[2020-03-05 17:17] davidbenjamin commented on #6202
@SebastianHollizeck Never mind; I see you already shared it in the forum thread.

[2020-03-05 17:19] davidbenjamin commented on #6255
Hi Tiffany,

That's fine because the fix wasn't until 4.1.5.0.

On Mon, Mar 2, 2020 at 12:31 PM Tiffany Miller <notifications@github.com>
wrote:

[2020-03-05 18:05] spikebike commented on #6487
Just to provide some concrete logs as to exactly what is happening.  I'm using systemtap on a NFS server to track exactly what is going on during these runs.

For one second (the first column), for one run, for one file:
`
1583360232 192.168.6.75:58626 nfsd.proc4.write 290,245760 /BaseQRankSum.tdb
1583360232 192.168.6.75:58626 nfsd.proc4.write 546,245760 /BaseQRankSum.tdb
1583360232 192.168.6.75:5

[2020-03-05 19:08] #6180 closed

[2020-03-05 19:30] nalinigans commented on #6487
@mishaploid, I am assuming the 295 to be single sample vcfs. What do the `data/processed/scattered_intervals/0004-scattered.intervals` look like? Are the intervals very small? Have you tried larger intervals?

@spikebike, thanks for the systemtap output. We do have large internal buffers to help with this type of usage, but will revisit the code to figure out the behavior you are seeing. We do hav

[2020-03-05 19:42] mishaploid commented on #6487
Thanks for the quick reply @nalinigans! The 295 does refer to individual sample vcfs. The intervals are small at about 2.6 Mb each (example file below). I was originally running by chromosome, but the amount of time to complete GenomicsDBImport was intractable.

Example interval file:
[code]

[2020-03-05 19:56] ldgauthier commented on #6487
@nalinigans the particular Hail experiment I'm thinking of was importing three single-sample VCFs, although it was many versions ago (just after the fix for the absolute path requirement.)

[2020-03-05 20:46] spikebike commented on #6487
@spikebike Sure, we would be happy to run any code you suggest.  Maybe your internal buffers are only for reads?  Definitely seeing not only tiny writes, but tiny writes that overwrite previous writes.  Only 1/40th or so of the writes are ending up in the final files.  SSDs don't particularly care about sequential vs random writes, but our spinning disks do.  The users workload was resulting in 12

[2020-03-05 20:50] jonn-smith opened #6488 "ENSEMBL GTF files have variable formats which Funcotator does not expect"
Some of the GTF files from ENSEMBL do not follow the format that the current `EnsemblGtfCodec` expects.  This will cause Funcotator to fail on those files.

A complete description (courtesy of ENSEMBL themselves) of their GTF format is as follows (and it differs from what is expected in the code):

[code]

[2020-03-06 14:58] Rohit-Satyam commented on #6230
In reference to your reply, I wish to inform you the problem still stands.

        at org.broadinstitute.hellbender.utils.Utils.validateArg(Utils.java:725)
        at org.broadinstitute.hellbender.utils.read.Fragment.create(Fragment.java:36)
        at java.util.stream.ReferencePipeline$3$1.accept(ReferencePipeline.java:193)
        at java.util.ArrayList$ArrayListSpliterator.forEachRemaining(Arr

[2020-03-06 15:24] davidbenjamin commented on #6230
@Rohit-Satyam The bottom of your stack trace says you are running the 4.1.4.0 release, which came out before the fixes mentioned above.   I expect the issue will be resolved if you run the most recent 4.1.5.0 release.  Please let me know if if does not.

[2020-03-06 16:49] tmm211 commented on #6255
All good! The user said the issue went away with 4.1.5.0

[2020-03-06 17:56] Rohit-Satyam commented on #6230
Oh!!
I thought GATK on conda was maintained by GATK. My bad. Just learned from this [blog](https://gatkforums.broadinstitute.org/gatk/discussion/11361/installing-gatk4-via-conda). I will install it separately.

[2020-03-06 18:21] Rohit-Satyam commented on #6230
Seems someone updated it already in conda here https://anaconda.org/bioconda/gatk4

[2020-03-06 20:19] mwalker174 opened #6489 "Base docker build fails due to missing caTools R package"
Command:
[code]
Error:
[code]
I came up with this temporary workaround in `install_R_packages.R`:
[code]
which at least builds successfully.

[2020-03-08 04:35] davidbenjamin commented on #6230
I'm glad it's working now, but a PS since you asked about `-independent-mates`: several months ago we made Mutect2 force paired reads to share the latent random variable indicating which haplotype they are derived from in the somatic genotyping model.  This is correct because paired reads come from the same molecule of DNA.  `-independent-mates` disables this and tells Mutect2 to forget about pair

[2020-03-09 13:38] cboursnell commented on #6476
After searching some more I found that this isn't a rare occurrence. Over 200 of the MNP variants in called by mutect2 in one patient had one of the bases called as a variant in the germline by the haplotypecaller.

[2020-03-09 14:59] fleharty commented on #6476
@cboursnell
Could you provide a bam and the bam-out subset to include this variant and 150 bp on each side?

I suspect that when you look at the bam out, you might see that this in fact is an MNV that looks like an SNV in IGV due to alignment issues.

[2020-03-09 16:29] droazen commented on #3958
This is done!

[2020-03-09 16:29] #3958 closed

[2020-03-09 16:29] droazen commented on #5453
Done!

[2020-03-09 16:29] #5453 closed

[2020-03-09 16:30] droazen commented on #5453
(Closed by #6477)

[2020-03-09 17:25] jamesemery opened #6490 "HaplotypeCaller might be producing bogus reads with deletions at their alignment start during realignment to best haplotype step."
Two users have reported similar errors on the forums:
https://gatk.broadinstitute.org/hc/en-us/community/posts/360057963511-HaplotypeCaller-error-Read-is-malformed-read-starts-with-deletion
https://gatk.broadinstitute.org/hc/en-us/community/posts/360058147791-read-starts-with-deletion-Cigar-4D150M

When examining the stacktrace, it appears the error is happening at the end of time when we are fill

[2020-03-09 19:58] lbergelson commented on #167
This was closed by #6465

[2020-03-09 19:58] #167 closed

[2020-03-09 20:44] jamesemery opened #6491 "Lingering Improvements to DepthOfCoverage tool beta version"
Given the pending merging of #5913 and the issue #19 there are still a number of improvements that need to be made to the DepthOfCoverage for it to be considered a non-beta tool. In the future we may want to pull each of these issues into its own ticket but for now this list will live on in one place. Here is a compiled list of some of the things we would want to fix so that we don't forget:
- [ ]

[2020-03-10 05:31] hsiaoyi0504 commented on #6489
+1 for meeting the same issue.

[2020-03-10 11:28] #6314 closed

[2020-03-10 11:28] #6342 closed

[2020-03-10 11:28] #5492 closed

[2020-03-10 11:28] #6294 closed

[2020-03-10 11:43] davidbenjamin commented on #6490
There's a `leftAlignAlindels` in `realignReadsToTheirBestHaplotype`, and `leftAlignIndels` ends with `consolidateCigar`.  I'm pretty sure that in one of my recent PRs I rewrote `consolidateCigar` with a `CigarBuilder`, which automatically shaves leading deletions, but it seems like I must have lost that last improvement (to `consolidateCigar`, that is) during the final rebase.

[2020-03-10 21:25] GATKSupportTeam opened #6493 "PathseqPipelineSpark stops with error message regarding com.esotericsoftware.kryo.KryoException: Buffer underflow."
This request was created from a contribution made by Min-Hwan Sohn on March 05, 2020 01:00 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360057956031-PathseqPipelineSpark-stop-with-error-message-regarding-com-esotericsoftware-kryo-KryoException-Buffer-underflow-

--

Hi GATK team.

I recently used PathseqPipelineSpark embedded in GATK v4.1.4.1 (installed from anaconda) to id

[2020-03-11 02:15] jemunro opened #6495 "HaplotypeCaller doesn't detect alternate alleles with 1 bp intervals"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
4.1.5.0

### Description
HaplotypeCaller doesn't detect alternate alleles when 1 bp intervals are provided. With v4.1.4.1 on the same inputs, 361 sites with alternate alleles are detected. When no intervals are provided to v4.1.5.0, the sites are also detected.

#### Steps to reproduce
[code]
Content of targe

[2020-03-11 02:34] jemunro commented on #5582
Would just enclosing the parsing code in a try/catch block not work? And then add a regex or something to corrected the capitalisation.

At any rate, for anyone else with this issue, my crude fix has been to do the following:
[code]

[2020-03-11 14:18] ldgauthier commented on #6495
Hi @jemunro,
Can you confirm that the genotypes for the sites output with alternate alleles have those alts called?  I've seen some discrepancies in the past with how we treat alleles that were discovered but genotyped as homozygous reference versus reference blocks.

[2020-03-11 15:19] xysj1989 commented on #6407
Hello @mwalker174 ,

Thank you very much for your reply. We also find the same situation that smaller CNV size may not include enough SNP for BAF segmentation. It could be the reason that other SNP-based CNV callers show poorly sensitivity.

Now, we are going to use test GATK gCNV call in Whole Exon Sequencing data. We hope to get the same exciting results like whole genome sequencing.

Best regar

[2020-03-11 15:53] biosinodx commented on #6490
I got the same problem with GATK v 4.15.0, and for all my samples, I receive an error message like the following:

A USER ERROR has occurred: Read ST-E00318:149:HVLGNCCXX:7:1101:20791:63349 chr1:38902419-38902480 is malformed: read starts with deletion. Cigar: 3D59M91H. Although the SAM spec technically permits such reads, this is often indicative of malformed files.

This is the bam file (aligned

[2020-03-11 16:13] jamesemery opened #6496 "Make DepthOfCoverage not require a reference"
The version of DepthOfCoverage about to go in #5913 requires a reference in order to count bases. This is not strictly necessary and should probably be removed.

[2020-03-11 16:17] cboursnell commented on #6476
I have uploaded the bam files for the region
normal bam
[https://drive.google.com/open?id=1z0HcTzSoWXfiTw_FXs0m-nh7ORSFoAFl](url)
tumour bam
[https://drive.google.com/open?id=1sBN3-QBuE6sxhnya1bLLJG600RIth9TH](url)
mutect2 bamout tumour bam
[https://drive.google.com/open?id=1fjkteAPlSAmykHFO2DKUIjqMN8SgGCi8](url)

It doesn't look like there are any alignment issues. It is a very cleanly aligned re

[2020-03-11 16:31] davidbenjamin commented on #6202
@SebastianHollizeck I believe the bug is not in `FilterMutectCalls` but upstream in `LearnReadOrientationModel` in the edge case of 3-base contexts that have no data in some of the samples.  It's strange because we have an integration test for this already, and I would appreciate getting your input files to `LearnReadOrientationModel` for debugging.

I think the following quick fix will work: unta

[2020-03-12 03:52] jemunro commented on #6495
Hi @ldgauthier ,

I can confirm that the alt alleles are genotyped as '1' using v4.1.4.1, see output below.
[code]

Looking for the corresponding first site using the v4.1.5.0 output gives the following:
[code]

Also note that adding `--interval-padding 25` to v4.1.5.0 seems to return the correct output:
[code]

[2020-03-12 13:54] jshleap commented on #5316
Any solutions for this? I am testing a pipeline in an HPC cluster and I am running with this issue (too many open files) but in mutect2:
[code]

[2020-03-12 14:02] ldgauthier commented on #6495
That definitely looks like a bug to me.  I can poke around, but it will go much faster if you can upload a little snippet of the bam you're calling on to our FTP server: https://gatk.broadinstitute.org/hc/en-us/articles/360035889671

[2020-03-12 14:29] lbergelson commented on #5316
It seems very likely that we have a file handle leak in our spark code somewhere.  Raising the ulimit might help but it's not a great solution.  We'll have to hunt down the place that things aren't being closed.

[2020-03-12 14:38] lbergelson commented on #5316
Hmn... I didn't read this history carefully before responding.  It looks like disq has been tested to not have any obvious file leaks, and @jshleap is seeing the problem in mutect2.

Mutect shouldn't be opening a lot of file handles, so I even if we're not closing them I wouldn't imagine it's really doing anything critically wrong.  I would check your file handle limits and see if there's either a

[2020-03-12 14:55] jshleap commented on #5316
Apologies on the poor report. There are no other users in these compute nodes (I am the tester) and for all intents and purposes the ulimit is pretty high (hard limit of 8192 max files). I am using GATK version 4.1.4.1, although it might be the one that has been optimised for IBM power9 systems by @ruzhuchen. Currently I am waiting for the sys admin to increase the max files further, but I believe

[2020-03-12 16:01] ruzhuchen commented on #5316
Hi Jose,
Your system ulimit setting is too low. Please do this with root at
/etc/security/limits.conf
* soft memlock unlimited
* hard memlock unlimited
* hard nofile 20480
* soft nofile 20480
* hard nproc 40960
* soft nproc 40960
* soft stack unlimited
* hard stack unlimited

Ruzhu
-------------------------------------------
Ruzhu Chen, PhD (845) 433-8426(T/L 293-8426)
Email: ruzhuchen@us.ibm.com,

[2020-03-12 16:09] jshleap commented on #5316
Thank @ruzhuchen for this info, but I think those limits are really high, and most distributed computing would not allow this. I can ask for my sys admin to set my ulimits this high, but I doubt that they will be open to do it for all users. I think that there is still a resource leak in mutect.

[2020-03-12 16:17] ruzhuchen commented on #5316
Hi Jose,
This ulimit parameters are standard for HPC cluster. It's for "Summit"
cluster at Oakridge National Lab.

Best,
Ruzhu
-------------------------------------------
Ruzhu Chen, PhD (845) 433-8426(T/L 293-8426)
Email: ruzhuchen@us.ibm.com, Mobile: (845) 337-7238
Sr. Technical Solution Architect, HPC / Genomics & Life Sciences
IBM Systems, 2455 South Road, Poughkeepsie, NY 12601

From:	Jose Se

[2020-03-12 20:16] ldgauthier opened #6500 "GenomicsDB should support multi-nucleotide representations"
We don't support converting adjacent SNPs into MNPs for GVCFs, but in some cases a haplotype will be described as adjacent insertions and deletions that lead to a multinucleotide reference allele with an alternate allele longer than one base as in #6473  Whereas a lot of my concerns about MNPs in GVCFs arise from scenarios where the variants are phased in trans, these alternate bases should always

[2020-03-13 01:36] jemunro commented on #6495
@ldgauthier I've uploaded the snippet to the FTP server in a file named 'gatk_issue_6495.tar.gz', let me know if you have any issues.

[2020-03-13 03:23] aushev commented on #3828
No updates for this issue?
These warnings are pretty annoying and useless because they don't give any info about the location of the variant that causes warning.

[2020-03-13 03:59] aushev opened #6501 "Misleading error message about multi-sample when no read groups are present"
HaplotypeCaller checks for `samplesList.numberOfSamples() != 1`. The idea was probably about detecting cases with `> 1`, but when no `@RG` present in the BAM file (i.e. `== 0`), it throws the same error. Obviously, such files are not multi-sample, so ideally HaplotypeCaller should just treat them normally without any error. If it's not possible, at least make more informative error message indicat

[2020-03-13 20:39] davidbenjamin commented on #6473
I know why this is happening.  It's an easy fix but I can't do it until #6498 is merged since they touch the same code.  #6498 has already gone through a round of code review, so this should not be a long wait.

[2020-03-15 23:40] #6488 closed

[2020-03-16 01:14] lbergelson commented on #6501
Thanks for the report.  That is confusing.  We'll fix that.

[2020-03-16 13:37] samuelklee opened #6502 "Update CNV WDLs to WDL 1.0."

[2020-03-16 15:07] ldgauthier opened #6505 "Outdated gatkforums links"
At least one place in the repo still references the old forum links: scripts/cnv_wdl/germline/cnv_germline_cohort_workflow.wdl

An IntelliJ "Find in Path" should work well.

[2020-03-16 15:16] lbergelson commented on #6505
We have another related ticket as well #6382

[2020-03-16 15:31] ldgauthier commented on #6502
Are these `NUM_INTERVALS=${dollar}(grep -v '@' ${interval_list} | wc -l)` shenanigans in ScatterIntervals solved in WDL 1.0?

[2020-03-16 15:37] ldgauthier commented on #6495
Great, I will try to take a look this week.

[2020-03-16 15:41] ldgauthier commented on #6505
I think it's fair to call this a dupe then.  I'll move my notes to the older issue.

[2020-03-16 15:41] #6505 closed

[2020-03-16 15:41] ldgauthier commented on #6382
At least one place in the repo still references the old forum links: scripts/cnv_wdl/germline/cnv_germline_cohort_workflow.wdl

An IntelliJ "Find in Path" should work well.

[2020-03-16 15:45] ldgauthier commented on #6501
@lbergelson am I reading the spec wrong?  I thought `@RG` was required?

[2020-03-16 15:47] samuelklee commented on #6502
If you're talking about the need for `dollar`, I'm not sure---looks like there are other instances of this hack in other WDLs, some of which have purportedly been updated to 1.0.

I don't think we would need this hack (in the gCNV WDLs, at least) if it weren't for the bash-related shenanigans in that task, which are required due to the wonky output style of IntervalListTools, though...

[2020-03-16 15:48] lbergelson commented on #6501
Oh, I meant we should fix the error message so it accurately tells you what's wrong.

[2020-03-16 16:02] ldgauthier commented on #6502
We can certainly modify IntervalListTools to make the behavior more intuitive (e.g. add a new mode for `INTERVAL_COUNT_WITH_OVREFLOW`), but I'm not sure I understand the issue.  We're just trying to avoid calling the GATK command if the scatter is going to be a noop?

The GATK SplitIntervals has slightly different behavior that's helpful in some cases.

[2020-03-16 16:04] ldgauthier commented on #6501
Got it.  Then I guess I'm arguing against @aushev's expected behavior that

[2020-03-16 16:06] ldgauthier commented on #6502
From https://github.com/gatk-workflows/gatk4-germline-cnvs/pull/2
`PreprocessIntervals` doesn't need a sequence dictionary arg if it has a reference fasta

[2020-03-16 16:44] samuelklee commented on #6502
We already added the functionality needed for the gCNV workflow to IntervalListTools in https://github.com/broadinstitute/picard/pull/1208.  The issue is that it outputs each scattered interval list to a separate directory if the number of scatters is greater than 1, but it just outputs to a file if we don't need to scatter.  Not sure the reason for this design, but it makes things difficult from

[2020-03-16 16:58] samuelklee commented on #6502
Actually note https://github.com/broadinstitute/picard/pull/1208#issuecomment-419471734 concerning the naming scheme of the output directories.

[2020-03-16 19:32] aushev commented on #6501
Laura if you don't mind - is `@RG` really necessary for HaplotypeCaller's work? I understand that it is defined in the specs but is it critical for the functioning, if we assume that each sample is one library?
In my case, I was following a pipeline involving `STAR` mapping -> `MarkDuplicates` -> `SplitNCigarReads` -> `HaplotypeCaller`. As I understand, normally I should have added `@RG`s at the m

[2020-03-16 19:54] ldgauthier commented on #6495
It looks like https://github.com/broadinstitute/gatk/pull/6358 caused a regression.  I'm going to try to figure it out, but we might have to enlist @davidbenjamin

[2020-03-16 20:47] ldgauthier commented on #6495
It's this line here that's causing problems https://github.com/broadinstitute/gatk/blob/9f459ff7432f5e9809191a9fed6edcd02f215593/src/main/java/org/broadinstitute/hellbender/tools/walkers/haplotypecaller/AssemblyRegionTrimmer.java#L188
Because the specified intervals are just 1bp, the intersection yields a 1bp interval, which might be fine, but all the reads are being throw away later on because th

[2020-03-16 21:29] davidbenjamin commented on #6495
@ldgauthier Since this is most likely my fault, should it also be my responsibility?  I'm not so incapacitated by school closings that I can't fix bugs.

[2020-03-17 05:31] davidbenjamin commented on #6495
@ldgauthier I'm about to submit a bug fix PR.  In the line you found the `.intersect(region)` should be `.intersect(region.getPaddedSpan())`.  The intersection is to avoid a bug where the requested trimmed padded region is bigger than the original padded region, but `intersect(region)` causes it to lie within the original unpadded region, which is unnecessary and probably harmful to sensitivity (t

[2020-03-17 15:22] phpeters commented on #6490
Hej,
thanks for working on this issue!
I just wanted to mention that this seems to be a problem on both sides of the alignment. I got the error with the HaplotypeCaller of GATK 4.15.0:
A USER ERROR has occurred: Read read1 is malformed: read ends with deletion. Cigar: 7H62M6I1D.

The entries in the bam file looks like this:

read1	163	2	19326229	60	68M7S	=	19326528	374	AGAGGATGGAGGCCACCGAGACCACAAC

[2020-03-17 16:41] #6490 closed

[2020-03-17 16:48] davidbenjamin commented on #6490
@phpeters I expect that the fix in #6498 corrected both leading and trailing deletions, but please let us know if it did not.

[2020-03-17 18:05] biosinodx commented on #6490
Thanks a lot for taking care of this. I met different error this time. I
git clone it from the master. version info: The Genome Analysis Toolkit
(GATK) v4.1.5.0-16-gf1aea57-SNAPSHOT.

I ran four samples. All return the same problem when just started the
haplotypecaller. Here is the error message.
[March 17, 2020 1:54:08 PM EDT]
org.broadinstitute.hellbender.tools.walkers.haplotypecaller.HaplotypeC

[2020-03-17 19:49] ldgauthier commented on #6339
One of our collaborators ran into this with ApplyVQSR as well.  A deletion that happens to span a shard boundary gets output in each shard.  So that's a +1 for engine-level argument, or else ApplyVQSR also needs a fix.

[2020-03-18 01:45] #6495 closed

[2020-03-18 02:01] vmadhira opened #6509 "FASTQ file format for Paired-FASTQ-to-unmapped-BAM pipeline"
I am using zipped FASTQ files stored on GCP as inputs for "Paired FASTQ to unmapped BAM" tool in "Sequence-Format-Conversion" workspace and getting an error since I have to provide unzipped FASTQ files.
Is it possible to modify this tool to allow inputting both zipped and unzipped FASTQ files.

[2020-03-18 05:45] davidbenjamin commented on #6490
@biosinodx Are you able to share a small chunk of the bam that exhibits the error for debugging?

[2020-03-18 15:02] lbergelson commented on #6509
@vmadhira  Looking at the documentation for FastqToSam it looks like it should accept FASTQ files that are zipped or unzipped.
FastqToSam is actually a picard tool, not a GATK tool, we just package it with GATK.   I can't tell from your report if the issue is a problem with the tool itself or with the WDL workflow you're running.    If you think there's a bug in the tool you should report it in th

[2020-03-18 20:12] ldgauthier commented on #6501
I really don't want to assume that the data is correct because in the event that a user does try to run GVCF mode on a multi-sample bam without an @RG header line then their results are going to be terrible.  It's unlikely, but it would be very bad and potentially not obvious to debug.

[2020-03-18 21:04] aushev commented on #6501
got it, thanks for explaining!
Well then - as a feature request for future versions - do you think it would be possible to add the check to other units like MarkDuplicates or SplitNCigarReads so that they give a warning when there's no `@RG` in the file?

[2020-03-18 21:21] mwalker174 commented on #6502
Resolved via #6506

[2020-03-19 19:14] ldgauthier opened #6511 "SplitNCigarReads should check @RG"
SplitNCigarReads allows bams with no `@RG` header line, which end up failing in HaplotypeCaller.  Since `@RG` is required in the bam spec, we should at least warn if not fail.

[2020-03-19 20:50] ldgauthier commented on #6501
I opened #6511 for SplitNCigarReads and https://github.com/broadinstitute/picard/issues/1488 for MarkDuplicates.  They should both be easy to address once we decide on warning or error.

[2020-03-19 20:59] aushev commented on #6501
Sounds good, thank you!

[2020-03-20 00:21] samuelklee opened #6513 "ConcurrentModificationException causes HaplotypeCallerSparkIntegrationTest.testVCFModeIsConcordantWithGATK3_8Results failure."
Saw this over in https://travis-ci.com/github/broadinstitute/gatk/jobs/300147500.  Note I am also mucking around with native dependencies in the base, but this seems like it might be intermittent since I didn't see it in previous commits:

[code]

[2020-03-20 01:15] davidbenjamin commented on #4578
@lamz138138 Was your panel of normals created by `CreateSomaticPanelOfNormals`?  Any reason not to use our best practices germline resource gs://gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz?

If you wish to dig into this, you could find the last line of the output Mutect2 vcf (it ought to produce output before it crashes, and the last line will be the last successfully emitted site)

[2020-03-20 12:31] kgururaj commented on #6500
Hello Laura, one question. You stated that the above alt allele should be treated as a deletion. Just wanted to check with you a boolean condition to determine if an alt allele is a deletion (not including symbolic allele handling for simplicity):
[code]
The second predicate in the OR expression is for the case described above. Do you think this condition is correct?

[2020-03-20 13:32] samuelklee commented on #6513
Got another one in the same branch at https://travis-ci.com/github/broadinstitute/gatk/jobs/300319727, this time in HaplotypeCallerSparkIntegrationTest.testNonStrictVCFModeIsConsistentWithPastResults

@lbergelson this branch already updates the base image to 18.04, but I haven't yet made any updates to travis.yml as you do in https://github.com/broadinstitute/gatk/tree/lb_update_docker_ubuntu.  Th

[2020-03-20 16:30] #6502 closed

[2020-03-20 16:55] samuelklee commented on #4130
Not sure if this has been address, but comfortable calling it a dupe of #5098.

[2020-03-20 16:55] #4130 closed

[2020-03-20 17:48] samuelklee commented on #6513
Hmm, I am also getting intermittent build errors like the following much more often:

[code]

[2020-03-20 18:31] ldgauthier commented on #6501
From discussion over in the Picard repo, I've realized that I read the spec wrong.  In that case, I'm willing to let HaplotypeCaller "power through" after emitting a warning if there is no read group header.

[2020-03-20 18:31] #6511 closed

[2020-03-21 01:54] SHuang-Broad opened #6515 "Spark tools no longer accepting args like `--driver-memory`"
## Bug Report

### Affected tool(s) or class(es)
All Spark tools

### Affected version(s)
- [ ] Latest public release version [version?]
- [x] Latest master branch as of [2020-03-20]

### Description
Complains that the `driver-memory` is not a recognized argument.
Does not recognize these arg too
https://github.com/broadinstitute/gatk/blob/00f1e43402d9c8c195de383248099399f261e2cc/gatk#L425

#### S

[2020-03-21 12:23] longqh3 commented on #6473
Hi, I have also encountered this issue during the PoN creating process. I'm wondering when will the fix online. Many thanks!

[2020-03-21 17:40] samuelklee commented on #6513
Also intermittent segfaults in the Java 11 tests:

[code]

[2020-03-22 01:10] davidbenjamin commented on #6473
@longqh3 It's just waiting for code review on #6510.

[2020-03-23 10:25] nalcala opened #6516 "Mutect2 error getNumTandemRepeatUnits String index out of range"
## Bug Report

### Affected tool(s) or class(es)
Mutect2, multi-sample (2 samples) in Tumor-only mode

### Affected version(s)
- version 4.1.5.0, works fine on 4.1.4.1 and 4.1.4.0

### Description
Among my cohort of ~100 samples, mutect2 calling using reference genome hg38+alt+decoy (e.g. as provided in the gatk bundle) fails for one sample at a very specific location (chrUn_KI270748v1:61595-61748

[2020-03-23 14:47] lbergelson commented on #6501
I thought this was one of the things we enforced in gatk despite knowing it's not in the spec?  We might need to update a bunch of stuff if we allow for no readgroups.  Things like bqsr covariates might start getting weird nulls.

[2020-03-23 14:50] lbergelson commented on #6515
@SHuang-Broad Did you specify a non-local spark master?  You need that to enable driver-memory.

[2020-03-23 14:51] lbergelson commented on #6515
Sorry, `--spark-runner`, not spark master is what needs to be set.  That's what the launch script uses to determine if it should use gcloud, spark-submit, or gatk to launch the job.  gatk only recognizes arguments for the local excutor.

[2020-03-23 16:08] jamesemery commented on #6491
@KevinCLydon

[2020-03-23 17:05] tmm211 opened #6519 "Introduce proper argument for TILEDB_DISABLE_FILE_LOCKING in GenomicsDBImport"
## Feature request

### Tool(s) or class(es) involved
GenomicsDBImport

### Description
Users get confused by this error message: `A USER ERROR has occurred: Couldn't create GenomicsDBFeatureReader`
`Caused by: java.io.IOException: GenomicsDB JNI Error: VariantQueryProcessorException : Could not open array 1$1$249250621 at workspace: ...
TileDB error message : [TileDB::BookKeeping] Error: Cannot l

[2020-03-23 17:06] GATKSupportTeam commented on #6519
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/4782'>Zendesk ticket #4782</a>)</i>

[2020-03-23 19:19] cmnbroad commented on #6513
I also just got this ConcurrentModificationException in HaplotypeCallerSparkIntegrationTest locally when running tests on one of my branches (this time in `testNonStrictVCFModeIsConsistentWithPastResults`, but the rest of the stack looks the same).  I also vaguely recall seeing once before on travis on a branch where all I did was try to update miniconda to a newer version. My local branch doesn't

[2020-03-23 20:28] samuelklee commented on #6513
Great, thanks for noting that!  I might just have to ignore them for now...

The segfault seems to be more pernicious and occurs at a higher rate---I only saw tests passing once.  I suspect it has something to do with the upgrade to 18.04 + Scala 2.12 + Java 11, but I'm not sure...

[2020-03-23 21:11] #19 closed

[2020-03-23 23:09] mlathara commented on #6500
@ldgauthier we talked about this during the GATK office hours meeting today, and it was suggested that something like this might be an appropriate boolean condition for checking whether an alt allele is a deletion:

[code]

where `mismatch_base_count` is a function that counts the number of bases that don't match between the REF and ALT. Does that sound good to you?

[2020-03-24 02:22] YutingHeSema4 opened #6521 "Expected variants not called by GATK 4.1.5.0 HaplotypeCaller"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected [Version 4.1.5.0](https://github.com/broadinstitute/gatk/tree/4.1.5.0)
- [GATK 4.1.5.0 ] public release version

### Description
1. miscalled known germline MSH2 c.942+3A>T in sample1 (bam file in the zip file attached)
2. miscalled known germline DICER1 c.4206+9G>T in sample2 (bam file in the zip file attached)

#### S

[2020-03-24 13:18] samuelklee opened #6522 "Intermittent failure of GenomicsDBImportIntegrationTest.testWriteToAndQueryFromGCS"
Intermittent failure at https://travis-ci.com/github/broadinstitute/gatk/jobs/297047618

[code]

[2020-03-24 15:17] droazen commented on #6500
@mlathara We were actually trying to craft a boolean expression to detect MNPs, not deletions. The one we came up with was: ref and alt are the same length, the length is > 1, and the number of mismatching bases is > 1. The last condition (mismatching bases > 1) is necessary to rule out padded SNPs.

[2020-03-24 16:08] mlathara commented on #6500
@droazen Right - so the reason the pseudo code is formulated as something to detect deletions is because Laura had mentioned in the original ticket (and in the meeting we had last week) that she thought we could handle this case like it was a deletion.  Quoting from her ticket:

So, yes the second part of the OR expression (we dropped length > 1, since that will be the case if number of mismatchin

[2020-03-24 17:21] kgururaj commented on #6500
One more question for @ldgauthier

does this mean that these MNPs should produce spanning deletions at subsequent positions?

[2020-03-24 20:07] ldgauthier commented on #6500
Good point. Yes, a sample with a MNP should get a symbolic allele in it's genotype for any variants overlapping the MNP reference allele.  The * allele is definitely specifically in the VCF 4.2 spec as resulting from a deletion, so I think we'll have to do something else, which is a bummer.  I'm not feeling very creative at the moment.  @droazen @lbergelson any ideas?

[2020-03-25 18:51] SHuang-Broad commented on #6515
Nope.
I was indeed running in local mode (on a GCE VM) a Spark tool that I just wrote over the weekend.
I was able to do it via `--conf` in the end.

So it seems that I misunderstood the Readme.
In order to provided these arguments, I also need to specify a non-local `--spark--runner`?

Below is how I was able to make more efficient use of the memory the VM has:

[code]

[2020-03-26 17:36] YutingHeSema4 commented on #6521
Quick update: the bug persisted using the most recent GATK v4.1.6.0.