[2017-10-03 13:14] cmnbroad commented on #3154
@sooheelee Thanks for digging that up and doing that verification.

[2017-10-03 13:14] chapmanb commented on #3605
George -- thanks much for debugging and identifying the underlying problem. I can confirm that we're able to avoid the error by removing `-XX:+UseSerialGC` and moving back to parallel GC. We'd initially introduced the serial GC usage to avoid problems when running multiple HaplotypeCaller commands simultaneously on a single machine but by letting the Spark implementation take care of parallelizing

[2017-10-03 16:37] vruano commented on #3642
Just it case, I want to add that "origin/master)" kind of outcome is just a possibility ... sometimes you may get a line like ```* (HEAD detached at 18ed19)``` and then it would be ```18ed19)```. So please refrain of trying to handle the detached ```origin/whatever``` case and rather provide a solution that works with any "garbage" that the ```git batch --contains HASH``` command may come out with

[2017-10-03 18:16] LeeTL1220 opened #3656 "Create utility to do segment breakpoint union"
This is useful for evaluating segment concordance with ground truth data.

Essentially, the tool works as follows:

- Suppose we have two segment files:

[code]

[code]

Result would be:
[code]

[2017-10-03 18:30] sooheelee commented on #3644
At the Helsinki workshop someone explained to me they couldn't use Dockers on their servers because folks don't typically have root access. I cannot say I understand the details, but I can get you in touch with someone who does if this is something you want to follow up on.

[2017-10-03 20:13] chandrans commented on #3534
But the good news is IndexFeatureFile works now ? We have not had any users report this, but I just tried it, and got no errors :)

[2017-10-03 20:56] sooheelee commented on #3645
At the least we should allow easy identification of the GATK, Picard and Java program versions listable from the image OR in the Docker repo for each release.

[2017-10-03 23:16] cmnbroad commented on #3534
@chandrans Yes, IndexFeatureFile should work now.

[2017-10-04 03:12] vdauwera opened #3657 "Conditional logic in CNV workflows should use explicit arguments"
The conditional logic (wgs vs exome, T/N vs T-only) should not be based on the presence or absence of file inputs. This should instead be done using an explicit switch, eg a “mode” argument. Otherwise people are going to run into all sorts of trouble.

[2017-10-04 03:19] vdauwera opened #3658 "Tools in CNV workflows should accept standard interval list formats"
Encountered this problem in CNV tools but it may occur elsewhere. All GATK tools should use engine capabilities to accept the major standard interval list formats (including "GATK style" and "Picard style" as documented [here](https://software.broadinstitute.org/gatk/documentation/article?id=1319)). Requiring a specific interval format is a huge and unnecessary pain in the neck for end users...

[2017-10-04 03:47] samuelklee commented on #3658
Already on our radar, see #3246.  This is already being partly addressed by #3597 (which should be merged shortly) and hopefully @asmirnov239's tool will be under review shortly.  It then remains to port over the GC annotation code.

[2017-10-04 04:20] vdauwera commented on #3658
Ah, fantastic, that's good to hear. Thanks!

[2017-10-04 04:20] #3658 closed

[2017-10-04 04:24] samuelklee commented on #3657
Just to make sure I understand the issue---will this cause technical problems in the Firecloud environment, or is it more of a style issue?

If the latter, one reason I prefer the use of optional file inputs to trigger tool-level "modes" when possible is that it propagates more naturally from the tool level.  For example, let's consider a tool that can operate in either tumor-only or matched-pair

[2017-10-04 04:54] vdauwera commented on #3657
It's not a technical problem but it's more than a question of style. It's a user experience problem. Happy to go into detail at some point (just not now). I hear you on the internal wiring rationale; but I think we should explore whether it's possible to fix that, potentially through changes to WDL itself. Clearly the language isn't allowing you to do what you need as an author and what I need as

[2017-10-04 09:33] chapmanb opened #3659 "HaplotypeCallerSpark, SparkgenomeReadCounts fail reference name lookup"
I'm running HaplotypeCallerSpark with GATK4 beta 5 and running into an issue where it complains about a reference name lookup, reporting that a strange reference name is not found:
[code]
This happens with HaplotypeCallerSpark independent of the number of cores or memory requested but works fine with HaplotypeCaller using the same BED and BAM inputs. The BED file has a number of regions on chr15,

[2017-10-04 13:37] ldgauthier commented on #3154
So at this point are we free to run GATK tools on CRAMs without reverting to BAMs first?

[2017-10-04 13:43] sooheelee commented on #3154
No problem Chris. I'm going to assume we can run on CRAMs any tool that takes a BAM. I will be testing this and if I find otherwise, I'll let the team know.

[2017-10-04 14:28] cmnbroad commented on #3154
@ldgauthier @sooheelee AFAIK, this was the main blocking issue. One caveat though - last week we  replaced all of the copies of the Picard tools in GATK with the ACTUAL tools from the Picard jar. The GATK copies were mostly CRAM enabled and tested, but I think the Picard ones have various mixed states wrt read/write capabilities for CRAM.

[2017-10-04 14:34] samuelklee commented on #3657
Would definitely be good to make changes to WDL if needed---let's discuss more in person?

[2017-10-04 14:48] #3543 closed

[2017-10-04 14:50] samuelklee opened #3660 "Add CollectReadCounts tool."

[2017-10-04 14:52] samuelklee opened #3661 "Update CNV WDLs to use PreprocessIntervals and CollectReadCounts."
@MartonKN, this will be a good introduction to writing WDL.  @asmirnov239 and I can give you some pointers to start on this after he finishes #3660.

[2017-10-04 15:08] vdauwera commented on #3657
Scheduling that might be tricky on my end -- I'm working from home until next week then heading out to Europe & South Africa until the end of the month. I'll be onsite tomorrow morning (giving the MPG primer at 8:30) but I won't stick around very long. If you're available then we can definitely chat; otherwise I might recommend you get the conversation going with redteam and I'll provide air suppo

[2017-10-05 11:28] tomwhite opened #3664 "SamAssertionUtils silently failing"
Since the Picard changes in #3620, SamAssertionUtils has been failing silently. See e.g. the Standard error tab for https://storage.googleapis.com/hellbender-test-logs/build_reports/13120.7/tests/test/classes/org.broadinstitute.hellbender.tools.spark.pipelines.ReadsPipelineSparkIntegrationTest.html:

[code]

[2017-10-05 11:42] tomwhite commented on #3664
@cmnbroad any thoughts about what is happening here - something to do with case (input vs INPUT)?

[2017-10-05 12:24] cmnbroad commented on #3664
@tomwhite Yeah - I know what it is. PR coming.

[2017-10-05 15:10] droazen commented on #2746
Closing -- this was made obsolete by the `PythonScriptExecutor`

[2017-10-05 15:10] #2746 closed

[2017-10-05 15:15] #2622 closed

[2017-10-05 19:09] sooheelee opened #3669 "CRAM index inaccessible if CRAM is from cloud but works locally"
For a PrintReads command that requires accessing the index, e.g. when specifying `-L` intervals, running locally works but running on `gs://` CRAM fails even if index is explicitly specified.

## Local run (server)
A command that accesses a local CRAM runs fine.

[code]

## Cloud CRAM
Running just PrintReads without `-L` intervals succeeds.
[code]
[code]

Adding in `-L` causes the command to error

[2017-10-05 19:42] lbergelson opened #3670 "add import header line when using GenomicsDBImport"
We currently don't capture any information about how the file was imported when writing in genomics db.  We should add a header line that captures GenomicsDBImport was invoked.

[2017-10-06 16:47] lbergelson opened #3672 "investigate potential bug in AlleleSubsettingUtilsUnitTest"
Yossi noticed that the result alleles in some of the `AlleleSubsettingUtilsUnitTest.makeUpdatePLsSACsAndADData` tests seem to be incorrect given the PLs and names

https://github.com/broadinstitute/gatk/blob/e919f85b1b9c34a1239c4a3e87db4e1678e58aaf/src/test/java/org/broadinstitute/hellbender/tools/walkers/genotyper/AlleleSubsettingUtilsUnitTest.java#L151-L156

After further inspection it looks lik

[2017-10-06 17:42] ldgauthier commented on #3154
Supposing I wanted to re-run HaplotypeCaller from the CRAM, is that a tool that's been tested with CRAM?

[2017-10-06 17:44] lbergelson commented on #3672
@yfarjoun I'm giving this one to you so you can backport the changes you made to picard.

[2017-10-06 17:49] sooheelee commented on #3154
Related issue <https://github.com/broadinstitute/gatk/issues/3669> from testing CRAM usage.

[2017-10-06 18:13] cmnbroad commented on #3154
I doubt much CRAM testing has been done with HaplotypeCaller, and I don't see any integration tests for it using CRAM. FWIW, since we have a CRAM version of the BAM we use for those tests, I did just try running them on the CRAM and they passed. As SooHee mentioned though, you'll have issues if the reference you use is in a GCS bucket, or if you specify intervals and the CRAM (and it's index) are

[2017-10-06 18:38] SHuang-Broad commented on #3612
closed by #3613

[2017-10-06 18:38] #3612 closed

[2017-10-06 18:54] sooheelee commented on #3154
Yes, I have also just tested HaplotypeCaller on a CRAM and it seems to run fine locally.
[code]
gives
[code]

[2017-10-06 20:16] lbergelson commented on #3651
@Masber That looks like #2622, which I believe we fixed with #3652.  Would you mind rerunning with the latest master version of gatk and checking if you still see the problem?

[2017-10-06 20:38] lbergelson opened #3677 "GenomicsDB should handle all VCFHeaderLine types"
Currently GenomicsDB's `GenomicsDBImporter.generateVidMapFromMergedHeader` only includes specific subclasses of `VCFHeaderLine`.  It's missing support for `VCFHeaderLine` and `SimpleVCFHeaderLine`.  These header lines should be handled and propagated to the output.

[2017-10-06 20:45] lbergelson commented on #3677
@kgururaj Feature request for you here.

[2017-10-06 20:46] lbergelson commented on #3670
This is more difficult than I thought it would be.  GenomicsDB currently captures specific subtypes of VCFHeaderLine, and ignores the rest of them.  Specifically, instances of VCFSimpleHeaderLine, and direct instantiations of VCFHeaderLine get dropped from the stored header.  We will require changes to genomics db to make progress here.  #3677

[2017-10-06 20:47] lbergelson commented on #3670
I have a branch with a test that should pass once #3677 is fixed https://github.com/broadinstitute/gatk/tree/lb_add_header_line_to_genomicsdbimport

[2017-10-07 05:43] samuelklee commented on #2858
The HCC1143 WES sample from the tutorial data runs in < 1.5 minutes and looks pretty good!

Copy-ratio only (using a PoN with 40 samples):
![hcc1143_t_clean no-ac modeled](https://user-images.githubusercontent.com/11076296/31305145-a37fb9b6-ab00-11e7-8cec-fabe7aab6ff2.png)

Matched-normal mode, allele-fraction only:
![hcc1143_t_clean matched-normal no-cr modeled](https://user-images.githubusercont

[2017-10-07 11:56] sooheelee commented on #2858
Thanks @samuelklee!

[2017-10-07 14:37] samuelklee commented on #2858
TCGA WGS at 250bp (~8.5M copy ratios after filtering from denoising and ~5.5M allelic counts) took ~27 minutes to run in matched-normal mode.  Results look very reasonable.  You can see the result at /dsde/working/slee/CNV-1.5_TCGA_WGS/TCGA-05-4389-01A-01D-1931-08.matched-normal.modeled.png

[2017-10-09 00:52] samuelklee opened #3678 "CollectAllelicCounts out of memory on WGS."
Attempted to collect pileups at ~5M sites using -Xmx48G, which seems like it should be enough.  Looks like an ArrayList doubling in htsjdk is ultimately to blame, but I haven't looked into whether this might originate with an issue with the LocusWalker implementation or elsewhere in the engine:

    Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
        at java.util.Arrays.

[2017-10-09 00:56] samuelklee commented on #3678
Actually, this might have been a cromwell issue, looks like I unintentionally passed -Xmx4g...

[2017-10-09 00:56] #3678 closed

[2017-10-09 13:13] samuelklee commented on #2968
Closed in #3203.

[2017-10-09 13:13] #2968 closed

[2017-10-09 17:10] samuelklee opened #3679 "SparkGenomeReadCounts fails on WGS sample."
I've run into this error in the past as well.  As far as I can tell, the SparkGenomeReadCounts code is not trying to do anything too funky, so I wonder if this could be a more general htsjdk/engine issue.  But I could be wrong.  @droazen could you assign someone to help me look into it?  Thanks!

    org.apache.spark.SparkException: Job aborted due to stage failure: Task 137 in stage 0.0 failed 1

[2017-10-10 00:21] Masber commented on #3651
Hi @laserson,

seems ok now, I am getting an org.apache.spark.rpc.RpcTimeoutException but I think this is due to my ignorance of using Spark.

I will close this ticket, thank you very much for your help!

[2017-10-10 00:21] #3651 closed

[2017-10-10 04:23] sooheelee commented on #2858
Here's a first pass draft of the figure for the ASHG poster. For the good/bad PoN illustration at bottom, I use figures I had originally generated with what is now the older workflow.

---

![somatic_cnv](https://user-images.githubusercontent.com/11543866/31369243-16131c50-ad51-11e7-95de-edd6e28e9ee7.png)

[2017-10-10 12:24] cmnbroad commented on #3679
Dup of https://github.com/broadinstitute/gatk/issues/3659/.

[2017-10-10 12:24] #3679 closed

[2017-10-10 12:25] cmnbroad commented on #3659
Also happened in SparkGenomeReadCounts (see #3679).

[2017-10-10 16:47] lbergelson opened #3682 "GenomicsDBImport scrambles sample names"
There was a critical bug in `GenomicsDBImport` which permuted the sample names of the data in the output GenomicsDB.

This was caused by a mismatch in the sorting of the sample names when files were written to the database, and when the callset.json was written.

The problem only occurred when:
 1. the input vcfs (or more likely the sample name mapping file) were not lexicographically sorted
 2. '

[2017-10-10 16:47] #3682 closed

[2017-10-10 17:52] droazen commented on #3659
@tomwhite Could you please have a look at this one? Thanks!

[2017-10-10 17:56] chapmanb commented on #3659
Chris and Tom;
Thanks much for looking at this, and confirming that it's not something I'm doing wrong. I have a reproducible test case I could share but I can't seem to reduce the BAM file to a smaller size and still show the problem. Do you have enough to work off of, or is it useful to share this? It's a 19Gb BAM and small BED file and associated scripts and I could put on S3 if it's helpful.

[2017-10-10 19:35] samuelklee commented on #2927
Haven't run into this again, closing for now.

[2017-10-10 19:35] #2927 closed

[2017-10-10 19:36] samuelklee commented on #2924
#3590 should provide some options for this.

[2017-10-10 19:38] samuelklee commented on #2840
This is addressed by #2858, closing.

[2017-10-10 19:38] #2840 closed

[2017-10-10 19:40] samuelklee commented on #2831
Don't think the hardcoded value really causes any issues, closing.

[2017-10-10 19:40] #2831 closed

[2017-10-10 19:41] samuelklee commented on #2834
Obviated by #2858.

[2017-10-10 19:41] #2834 closed

[2017-10-10 19:45] samuelklee commented on #2856
I think without a matched normal, there is not much you can do for high purity samples in LOH regions.  Flipping the binomial test to filter against the null hypothesis of hom (rather than a null of f = 0.5, as in GetHetCoverage) seems to work well otherwise.  Expanding the allele-fraction model to include hom sites is an option, but then you would be guided by the prior.  Closing for now.

[2017-10-10 19:45] #2856 closed

[2017-10-10 19:46] samuelklee commented on #2900
Duplicates are still disallowed in #2858.  Unless there is a strong argument for allowing them, closing this.

[2017-10-10 19:46] #2900 closed

[2017-10-10 19:47] samuelklee commented on #2901
Addressed in #2858, closing.

[2017-10-10 19:47] #2901 closed

[2017-10-10 19:48] samuelklee commented on #2892
We're taking a different approach for common CNVs, closing.

[2017-10-10 19:48] #2892 closed

[2017-10-10 19:49] samuelklee commented on #2861
I think this was basically addressed by #2968.

[2017-10-10 19:49] #2861 closed

[2017-10-10 19:53] samuelklee commented on #3449
Addressed by #3597.

[2017-10-10 19:53] #3449 closed

[2017-10-10 19:55] samuelklee commented on #2899
No QC in #2858, better QC in gCNV.  Closing.

[2017-10-10 19:55] #2899 closed

[2017-10-10 20:45] samuelklee commented on #3583
Let's discuss.  In the new pipeline, I currently have median absolute deviation after standardization and denoising output as text files during the plotting step, as before.  But I think it actually makes more sense to output them after DenoiseReadCounts.

We also can't output the number of segments until after the ModelSegments step.  However, I would rather not bake this sort of thing into the j

[2017-10-10 20:46] samuelklee commented on #2989
Obviated by #2858.

[2017-10-10 20:46] #2989 closed

[2017-10-10 20:50] samuelklee commented on #3679
@asmirnov239 See above for the failing BAM I mentioned.

[2017-10-10 20:51] samuelklee commented on #3356
Addressed in #2858.

[2017-10-10 20:56] samuelklee commented on #2937
We still need an improved allele-fraction model, but with #3590 we don't need it for segmentation.  Closing.

[2017-10-10 20:56] #2937 closed

[2017-10-10 20:57] samuelklee commented on #2935
Obviated by #2858 (and the real issue was always poor segmentation from CBS, not insufficient GC-bias correction).

[2017-10-10 20:57] #2935 closed

[2017-10-10 20:58] samuelklee commented on #2922
Fixed in #3524.

[2017-10-10 20:58] #2922 closed

[2017-10-10 21:00] samuelklee commented on #2903
I do not think we are continuing Firehose support at this point.

[2017-10-10 21:00] #2903 closed

[2017-10-10 21:01] samuelklee commented on #2886
Addressed in #2858.

[2017-10-10 21:09] samuelklee commented on #2863
Obviated by #2968.

[2017-10-10 21:09] #2863 closed

[2017-10-10 21:50] samuelklee commented on #3017
Actually, I think this is intended behavior, according to the current tests.  If there is no targets file, the tool will attempt to get target names from the read-count file and then fail if they are missing.

[2017-10-10 21:50] #3017 closed

[2017-10-10 22:02] samuelklee commented on #2860
Subsampling seems to be the way to go, see #2858.  For the record, I did try to implement caching, but this results in excessive cache checking.  In general, I think a better solution is to structure code so that expensive global quantities are not unnecessarily recomputed locally.

At some point, this sort of undesirable recomputation snuck in during a refactoring of the allele-fraction likelihoo

[2017-10-10 22:02] #2860 closed

[2017-10-10 22:04] samuelklee commented on #2859
In #2858 I give each `LocatableCollection` a method to create an `OverlapDetector` when necessary, which does the trick.  The new pipeline has no dependence on either `ReadCountCollection` or `TargetCollection`.

[2017-10-10 22:04] #2859 closed

[2017-10-10 22:05] samuelklee commented on #2836
Addressed in #2858.

[2017-10-10 22:06] samuelklee commented on #2832
This can be done trivially via `-L / -XL`.  What the blacklist should actually be is another issue...

[2017-10-10 22:06] #2832 closed

[2017-10-10 22:08] samuelklee commented on #2862
Better sample name validation is done on the java side of plotting in #2858, but otherwise I don't really see a way around hardcoding column names in the R code that isn't more trouble than it's worth.

[2017-10-10 22:08] #2862 closed

[2017-10-10 22:17] samuelklee commented on #2877
Obviated by #2858.

[2017-10-10 22:17] #2877 closed

[2017-10-10 22:17] samuelklee commented on #2936
Obviated by #2858.

[2017-10-10 22:17] #2936 closed

[2017-10-10 22:19] samuelklee commented on #3185
#2858 doesn't use R CBS for segmentation, so this won't be a problem.

[2017-10-10 22:19] #3185 closed

[2017-10-11 06:22] Sun-shan opened #3686 "Container exited with a non-zero exit code 50"
Hi,
when I test the gatk4 command, I encountered some issues, how can I fix it ?

bash-4.2$ ./gatk-launch PrintReadsSpark -I /gatk4/output.bam -O /gatk4/output_2.bam -- --sparkRunner SPARK --sparkMaster yarn-client
Using GATK jar /opt/Software/gatk/build/libs/gatk-package-4.beta.5-70-gdc3237e-SNAPSHOT-spark.jar
Running:
    spark-submit --master yarn-client --conf spark.driver.userClassPathFirst=t

[2017-10-11 06:28] Sun-shan commented on #3686
**The input file  :**
bash-4.2$ hdfs dfs -ls /gatk4
Found 2 items
-rw-r--r--   3 hdfs supergroup      62934 2017-10-11 13:38 /gatk4/output.bam
drwxr-xr-x   - hdfs supergroup          0 2017-10-11 14:19 /gatk4/output_2.bam.parts

**The spark-submit:**

bash-4.2$ spark-submit
Usage: spark-submit [options] <app jar | python file> [app arguments]
Usage: spark-submit --kill [submission ID] --master [sp

[2017-10-11 14:50] samuelklee commented on #2944
R CBS issue, obviated by #2858.

[2017-10-11 14:50] #2944 closed

[2017-10-11 14:51] samuelklee commented on #2943
Closed in #3408.

[2017-10-11 14:51] #2943 closed

[2017-10-11 14:53] samuelklee commented on #2866
See #3246.

[2017-10-11 14:53] #2866 closed

[2017-10-11 14:55] samuelklee commented on #1038
Dupe of #3660.

[2017-10-11 14:55] #1038 closed

[2017-10-11 14:56] samuelklee commented on #2830
Calling this a dupe of #3319.

[2017-10-11 14:56] #2830 closed

[2017-10-11 17:48] vruano opened #3687 "SparkCommandLineArgumentCollection does not support "=" in the values of spark configuration variables"
Despite that spark supports equals signs in their configuration values the current code in this class does not as it splits the name=value string in all "=" present resulting in an bad-argument value exception.

[2017-10-11 19:46] ldgauthier opened #3688 ""sites-only" query for GenomicsDB"
In order for the variant calling pipeline to be able to scale to process the 68K genomes in the next version of gnomAD and beyond, we need to limit the amount of genotype data we localize.  For the filtering portion of the pipeline we could greatly improve performance using a "sites-only" query from GenomicsDB.  The result could be in BCF format (as I believe it is now) and should include the firs

[2017-10-11 19:47] ldgauthier commented on #3688
@kgururaj Hopefully this will be relatively easy.  We're going to need this for 68K callset we promised in the next quarter.

[2017-10-11 20:06] ldgauthier opened #3689 "Expose vid_mapping_file JSON in GenomicsDB"
In order to produce the 68K WGS callset, we need to add new INFO annotations (relevant combine operations for these already exist.)  However, there's no easy way to specify how to combine them without manually editing that file. It would be great if there was a way to do that in the GATK tool args for GenomicsDBImport.

[2017-10-11 20:42] kuanlinhuang commented on #2907
Related to this when would the best practices for this analysis be released:
https://software.broadinstitute.org/gatk/best-practices/

[2017-10-12 00:52] Sun-shan commented on #3686
@tomwhite
Are there any suggestions?

[2017-10-12 13:50] tomwhite commented on #3686
It looks like you are using Spark 1.6 - you should be using Spark 2.0 or 2.2.

[2017-10-12 15:19] Sun-shan commented on #3686
I am using cloudera hadoop, with spark 2.2.0_cloudera1,does the gatk4 support the cloudera version spark? If so, how can execute the command?

[2017-10-13 02:10] Sun-shan commented on #3686
In the GATK4 website, it says:
"Running a Spark tool on a cluster requires Spark to have been installed from http://spark.apache.org/, since gatk-launch invokes the spark-submit tool behind-the-scenes."

when I use spark-submit ,it may invoke the  spark version 1.6.0, so I usually use spark2-submit to invoke the spark 2.2.0, and with the GATK4 command， how can I invoke the spark2.2.0 ？

@tomwhite

[2017-10-13 10:02] tomwhite commented on #3659
I wonder if this is happening because it's using the sequence dictionary from the reads, rather than from the reference. Is there some way you could compare the two?

I think we would need the BAM to get any further with this one, so yes it would be useful to share.

[2017-10-13 10:06] tomwhite commented on #3686
You need to include the argument `--sparkSubmitCommand spark2-submit` in your `gatk-launch` command. E.g.

[code]

[2017-10-13 10:19] Sun-shan commented on #3686
Yes , when I add the argument --sparkSubmitCommand spark2-submit, the former errors seem to disappear, but there seems to have a new error:

A USER ERROR has occurred: Couldn't write file /gatk4/output_3.bam because writing failed with exception /gatk4/output_3.bam.parts/_SUCCESS: Unable to find _SUCCESS file

-------------------------error

bash-4.2$ ./gatk-launch PrintReadsSpark -I /gatk4/output

[2017-10-13 11:50] tomwhite commented on #3686
Does the _SUCCESS file exist?

You may have to specify the full output path as `hdfs:///gatk4/output_3.bam`, or `hdfs://<namenode>:8020/gatk4/output_3.bam`.

[2017-10-13 13:54] chapmanb commented on #3659
Tom;
I believe the BAM and reference sequence dictionaries are the same. The 2bit is generated from the hg38 fasta reference used for alignment. Definitely happy to dig more if you think of other potential issues.

Here is a reproducible example with a regions file, small bash script and the large 18Gb input BAM that causes the problem:
[code]
Then edit `run.sh` to point at your local hg38 2bit re

[2017-10-13 19:08] lucidtronix opened #3692 "Load a conda environment from GATK"
The Python scripts called by the PythonScriptExecutor will require python dependencies which can be managed within a conda environment.  Is there a way to load the appropriate conda environment from GATK so that users and unit tests can run the PythonScriptExecutor without worrying about wrangling python libraries. @samuelklee @mbabadi @cmnbroad Any ideas?

[2017-10-13 19:50] droazen commented on #3692
@cmnbroad Could you look into our options here, when you get a chance?

[2017-10-13 20:16] #3664 closed

[2017-10-14 00:15] #2887 closed

[2017-10-15 13:47] Sun-shan commented on #3686
Thank you , when I change the file path, it seems to work !

[2017-10-16 15:07] magicDGS commented on #2478
This is solved already, no?

[2017-10-16 15:08] magicDGS commented on #1636
This can be closed as Picard is pull-out as a dependency, no @droazen?

[2017-10-16 15:09] magicDGS commented on #2206
Can be closed, @droazen?

[2017-10-16 15:37] cmnbroad commented on #2478
Yeah - closed via #3620.

[2017-10-16 15:37] #2478 closed

[2017-10-16 15:38] cmnbroad commented on #2206
Yeah completed by #3620.

[2017-10-16 15:38] #2206 closed

[2017-10-16 16:48] chandrans opened #3697 "HaplotypeCaller missing SNP calls with different -ip values"
## Bug Report

### Affected tool(s)
HaplotypeCaller

### Affected version(s)
GATK4.beta5

### Description
HaplotypeCaller does not make some calls depending on the padding size around the interval of interest. The variant calls should not be dependent on the interval size. For example,with -ip 50, I get 7 variant calls.  But with -ip 150, I get only 2 variant calls. It seems to be an issue with th

[2017-10-16 17:34] cmnbroad commented on #3689
Per discussion with @kgururaj, the proposal is to have GenomicsDB expose/document the existing protocol buffers already used internally, along with protobuf-based constructors for both GenomicsDBImporter and GenomicsDBFeatureReader.

[2017-10-16 17:40] cmnbroad commented on #3688
Per discussion with @kgururaj, this will probably take the form of a flag that suppresses materializing the genotype data. Also see the protobuf-based enhancements described [here](https://github.com/broadinstitute/gatk/issues/3689).

[2017-10-16 18:56] droazen opened #3698 "Provide a way of streaming data in/out of PythonScriptExecutor"
We want tasks such as parsing VCF files to be done in Java, rather than in Python, so that we can leverage all the work we do in htsjdk even in tools that call into a `PythonScriptExecutor`. This implies that we need an easy/efficient means of streaming data in and out of the child Python process. Perhaps a "popen()"-like approach would be good here (or a named FIFO, or protocol buffers...lots of

[2017-10-16 18:57] droazen commented on #3698
For @cmnbroad. It shouldn't be too hard to implement some simple mechanism here.

Needed for @lucidtronix 's work on the next-generation VQSR.

[2017-10-16 21:22] droazen opened #3700 "Docker build script should set -Drelease=true when building to prevent SNAPSHOT from appearing in the GATK version number"

[2017-10-16 21:23] droazen commented on #3700
Quick one for @jamesemery

[2017-10-17 16:11] droazen commented on #3505
This is done

[2017-10-17 16:11] #3505 closed

[2017-10-17 16:17] droazen commented on #3429
Closing -- this was fixed in https://github.com/broadinstitute/gatk/pull/3490

[2017-10-17 16:17] #3429 closed

[2017-10-17 16:20] droazen commented on #3202
This was done -- the name chosen was `GatherVcfsCloud`

[2017-10-17 16:20] #3202 closed

[2017-10-17 16:22] droazen commented on #3117
Closing -- not a bug in the Intel inflater/deflater.

[2017-10-17 16:22] #3117 closed

[2017-10-17 16:27] droazen commented on #2745
Done

[2017-10-17 16:27] #2745 closed

[2017-10-17 17:14] droazen commented on #2479
@cmnbroad Can this one be closed as done?

[2017-10-17 17:18] droazen commented on #2037
This is fixed in https://github.com/bigdatagenomics/adam/pull/1508, but that project needs to do a release in order for us to get the fix.

[2017-10-17 17:27] mbabadi commented on #3698
Our current mode of communication in gCNV is disk I/O. In my estimate, I/O is _not_ going to take a significant amount of time relatively. The overall structure is as follows: (java) pre-processing and filtering counts and writing processed counts to disk, (python) reading the processed counts, making CNV calls, writing model parameters and CNV posteriors to disk, (back to java) loading python res

[2017-10-17 17:27] droazen commented on #1694
Closing in favor of https://github.com/broadinstitute/gatk/issues/3503

[2017-10-17 17:27] #1694 closed

[2017-10-17 17:30] droazen commented on #182
This was done

[2017-10-17 17:30] #182 closed

[2017-10-17 17:38] cmnbroad commented on #2745
@droazen - Seems like we should still make this (GatherVcfsCloud) a GATKTool at some point - right now its a CommandLineProgram.

[2017-10-17 17:43] cmnbroad commented on #2479
Yeah. Closed via #3620.

[2017-10-17 17:43] #2479 closed

[2017-10-17 17:58] bbimber commented on #616
hi guys,

we've finally had some time to look over this.  A few initial questions:

1) Is there a great for RefMetadataTracker?  For example, in VariantEval, it is used like:

//context = RefMetadataTracker
nProcessedLoci += context.getSkippedBases() + (referenceContext == null ? 0 : 1);

In GATK3, many walkers also tested for tracker!=null.  Are there general rules on what is or isnt @Nullable on

[2017-10-17 18:03] jonn-smith opened #3703 "Add MAF read support to htsjdk"

[2017-10-17 18:12] droazen commented on #3698
@mbabadi Ah, well file-based I/O would be the simplest option of all, of course, and should definitely be considered as a candidate solution to this ticket, particularly if you've already tried it and found the performance penalty to be minimal for your use case (@cmnbroad take note).

The division of labor you describe between Java and Python sounds great, by the way -- exactly the sort of approa

[2017-10-17 18:29] droazen commented on #2745
Right, but this was was to make it a "GATK tool" (as opposed to a Picard tool), not necessarily a "`GATKTool`" (the class).

[2017-10-17 18:43] droazen opened #3704 "Add support for reading multiple bams on Spark to ReadsSparkSource"
Lack of this capability is preventing us (in many cases) from working with cancer data on Spark.

[2017-10-17 18:55] droazen commented on #3627
@cmnbroad This one is done, right?

[2017-10-17 18:59] droazen opened #3705 "Update MarkDuplicatesGATK/MarkDuplicatesSpark to incorporate recent Picard development"

[2017-10-17 19:01] droazen opened #3706 "Use Spark to speed up the MarkDuplicates and SortSam steps in the single-sample pipeline"

[2017-10-17 19:03] droazen commented on #3706
Depends on https://github.com/broadinstitute/gatk/issues/3705

[2017-10-17 19:08] droazen opened #3707 "Full support for allele-specific annotations in GenomicsDB"

[2017-10-17 19:15] droazen opened #3708 "Test GATK4 with the existing S3 NIO plugin and get basic S3 read support working"
There is an existing NIO filesystem provider for Amazon S3 that has been used successfully with GATK4 by at least one user (with some minor tweaks to the engine). We should add the S3 plugin as a dependency, add basic tests for read support, and make whatever changes are needed to get it working.

[2017-10-17 19:18] droazen opened #3709 "Add GCS support for fasta and interval files via NIO"

[2017-10-17 19:19] bbimber commented on #616
Another question: is there a way to get the test data used for GATK3 and VariantEval?  Even if they're not small enough to reasonably check in, it would be at least useful to use that integration test as a way to validate it's working as expected in GATK4.

[2017-10-17 19:19] droazen commented on #1648
Replaced by the more specific https://github.com/broadinstitute/gatk/issues/3709

[2017-10-17 19:19] #1648 closed

[2017-10-17 19:27] cmnbroad commented on #3627
Closed via #3683.

[2017-10-17 19:27] #3627 closed

[2017-10-17 19:33] droazen commented on #1397
Duplicate of https://github.com/broadinstitute/gatk/issues/1016

[2017-10-17 19:33] #1397 closed

[2017-10-17 19:37] droazen commented on #1468
Relates to https://github.com/broadinstitute/gatk/issues/3287

[2017-10-17 19:42] jean-philippe-martin commented on #3709
This issue could use a description. Support for reading? Writing? In Spark or outside of Spark?

[2017-10-17 19:43] droazen commented on #3709
Let's make it easy: read support only, and in walkers only.

[2017-10-17 19:44] droazen commented on #3709
Basically the walker arguments -I and -V already support GCS, but the arguments -R and -L don't, so this ticket is to enable GCS support for the -R and -L arguments in walkers.

[2017-10-17 19:45] droazen commented on #1608
This was done as part of the GenotypeGVCFs tie-out -- closing.

[2017-10-17 19:45] #1608 closed

[2017-10-17 19:47] droazen commented on #1636
Closing as duplicate of https://github.com/broadinstitute/gatk/issues/3705

[2017-10-17 19:47] #1636 closed

[2017-10-17 19:51] droazen commented on #1732
Depends on https://github.com/broadinstitute/gatk/issues/3275

[2017-10-17 19:54] droazen commented on #1751
Closing -- I tested just now, and this is fixed.

[2017-10-17 19:54] #1751 closed

[2017-10-17 19:56] droazen commented on #1820
Closing -- this is a duplicate of https://github.com/broadinstitute/gatk/issues/2481

[2017-10-17 19:56] #1820 closed

[2017-10-17 19:58] droazen commented on #1873
@lbergelson Are you interested in exploring this proposal as part of your performance work on `MarkDuplicatesSpark` this quarter (https://github.com/broadinstitute/gatk/issues/3706)? If not, feel free to remove from the 4.0 milestone.

[2017-10-17 20:00] lbergelson commented on #1873
@droazen I can look into this.  I suspect the situation may have evolved since we last looked at it.

[2017-10-17 20:00] droazen commented on #1468
Closing -- duplicate of https://github.com/broadinstitute/gatk/issues/1880

[2017-10-17 20:00] #1468 closed

[2017-10-17 20:08] droazen commented on #1969
@lbergelson might be useful towards https://github.com/broadinstitute/gatk/issues/3706

[2017-10-17 20:12] droazen commented on #1983
Closing as invalid -- this was a problem with the `example_variants.vcf` file, which is now removed.

[2017-10-17 20:12] #1983 closed

[2017-10-17 20:14] droazen commented on #2037
According to the ADAM people, a release is imminent within the next few weeks.

[2017-10-17 20:15] droazen commented on #2088
Closing -- this was done via the `GenomicsDBImport` tool.

[2017-10-17 20:15] #2088 closed

[2017-10-17 20:22] droazen commented on #2139
Should be resolved by https://github.com/broadinstitute/gatk/pull/3447

[2017-10-17 20:28] droazen commented on #2219
This should be fixed in Hadoop-BAM 7.9.0, which we're currently on ( @tomwhite correct me if I'm wrong). Closing.

[2017-10-17 20:28] #2219 closed

[2017-10-17 20:35] droazen commented on #2349
@tomwhite Is this one resolved?

[2017-10-17 20:38] jean-philippe-martin commented on #2312
Is this bug still open? I thought the code in IOUtils worked consistently now.

[2017-10-17 20:40] droazen commented on #2442
@lbergelson Will probably be needed for https://github.com/broadinstitute/gatk/issues/3706

[2017-10-17 20:41] droazen commented on #2474
Closing -- this was done with the help of comms.

[2017-10-17 20:41] #2474 closed

[2017-10-17 20:56] droazen commented on #2638
This was done by @jamesemery when he added `VariantContextTestUtils.assertVariantContextsAreEqualAlleleOrderIndependent()`

[2017-10-17 20:56] #2638 closed

[2017-10-17 21:04] droazen commented on #2768
Closing this epic as 100% complete.

[2017-10-17 21:04] #2768 closed

[2017-10-17 21:10] droazen commented on #3018
Closing as fixed by https://github.com/broadinstitute/gatk/pull/3122, unless we hear otherwise from the user.

[2017-10-17 21:10] #3018 closed

[2017-10-17 21:14] droazen commented on #3079
Closing -- we are past the design phase on this one.

[2017-10-17 21:14] #3079 closed

[2017-10-17 21:26] lbergelson commented on #2312
IOUtils works.  It's still painful that we *need* IOUtils though, since it means that code that's written to use Paths, but not aware of IOUtils doesn't work cleanly.

[2017-10-17 21:39] lbergelson commented on #3412
I think these went away when we re-ran with more memory.

[2017-10-17 21:55] lbergelson opened #3710 "Nightly Cron job failing because of excessive log output"
Travis is terminating our cron job because there is too much log output.
It seems to be thousands of repetitions of:

[code]

Possibly related to our recent inclusion of picard in our doc output?

See: https://travis-ci.org/broadinstitute/gatk/jobs/289240692

[2017-10-17 21:55] lbergelson commented on #3710
@cmnbroad @jamesemery I'm not sure if this should be addressed in travis or in barclay, maybe you can rocks paper scissors for it?

[2017-10-17 22:02] cmnbroad commented on #3710
I'll take it. The tab completion task is printing out too many warnings for all of the new instance of unresolvable backtrace variables due to Picard. I'll do....something with it.

[2017-10-18 11:05] Sun-shan commented on #3686
Hi， @tomwhite
when I executed this command, I encountered some error:
/gatk-launch BQSRPipelineSpark --knownSites /data/NfsDir/PublicDir/1000g/1000G_phase1.indels.hg19.vcf --knownSites /data/NfsDir/PublicDir/1000g/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf --knownSites /data/NfsDir/PublicDir/dbsnp/dbsnp_138.hg19.vcf -I 1983.align.reorder.sorted.makrdup.bam -O 1983.align.reorder.sorted.mak

[2017-10-18 13:54] magicDGS commented on #616
@bbimber - here some answers:

* The `LocusWalker` in the GATK4 framework provides the traversal over each locus, and provides the information for the reference (`ReferenceContext`) and the pileup (`AlignmentContext`). I guess that this is similar to a rod-walker in the previous framework if a  `FeatureInput` is present (accessed by the `FeatureContext`)
* The apply function params are never null,

[2017-10-18 14:18] ldgauthier opened #3714 "PossibleDeNovo annotation outputs warning even when not requested"
The pedigree-checking warning for the PossibleDeNovo annotation is always output because it happens in the constructor, and in GATK4 all the InfoFieldAnnotations get instantiated.  It's a little weird to have this warning even when the annotation is not requested.  But if this is the cost we pay for getting rid of the PluginManager I will gladly deal with it.

[2017-10-18 15:05] magicDGS commented on #2139
@droazen - That won't be solved by the current #3447, because there is no way of fine-tune the codecs: I require to being able to add/remove concrete classes, and exclude codecs from a concrete package. An example is a custom codec implementation for some feature, to provide extra-validation for the downstream toolkit. This would be even more useful if HTSJDK is moving to an interface-based librar

[2017-10-18 16:38] droazen commented on #2139
This ticket is just to make the codec packages configurable, which would be resolved by https://github.com/broadinstitute/gatk/pull/3447. If you need more fine-grained control than this, we could discuss as part of a separate ticket.

[2017-10-18 18:51] bbimber commented on #616
Thanks, that's a start.  If anyone on the GATK team has thoughts about the other two questions about GenomeLocParser or getting test data, I'd appreciate it.

Based on Daniel's reply: In the GATK3 VariantEval, the walker is counting traversed loci by checking AlignmentContext.getSkippedBases(), and then adding 1 if referenceContext is non-null.  From his reply, does this mean it now calls apply()

[2017-10-18 18:54] cmnbroad commented on #3710
The number of backtrace messages emitted definitely went up with the addition of the Picard sources, but the number I see when I run the gatkTabComplete task locally is dramatically lower than the number emitted when the cron job runs it. The main difference I can see is the cron job is using openjdk, whereas I'm not; the number of times the message is emitted is definitely sensitive to the order

[2017-10-19 09:16] magicDGS commented on #616
@bbimber, you can configure the `LocusWalker` to traverse every locus even if it is empty and thus the `getSkippedBases()` is unnecessary. Another option is to track the previous `AlignmentContext` and compare the location with the current one, to check how many bases have been skipped....

[2017-10-19 14:44] cwhelan opened #3717 ""Partition boundaries are not coordinate sorted" error when running SV tool in local mode on a full BAM with external evidence"
Running in local mode on a large GCE instance when using external evidence (it looks like any attempt to use external evidence will trigger this) results in the following error:

[code]

[2017-10-19 14:46] cwhelan commented on #3717
Command line was:

[code]

[2017-10-19 15:03] cwhelan commented on #3717
I added some logging to show the partition boundaries and highlight the one the tripped the error:

[code]

It looks like this might be triggered by several partitions in an area of very high depth that have overlapping boundaries?

[2017-10-19 15:04] cwhelan commented on #3717
@tedsharpe any ideas about what might be going on here?

[2017-10-19 15:12] cwhelan commented on #3717
Hypothesis: the `lastStart` field in `PartitionBounds` is based on the `lastLocation` from `PartitionStatistics`, which is based on finding the unclipped end of the last read in the partition. So it's really an end, not a start, and therefore not guaranteed to be sorted ahead of start positions in the next partition. Not sure why this isn't failing for us when run in spark cluster mode, though.

[2017-10-19 16:06] #1893 closed

[2017-10-19 16:06] #3535 closed

[2017-10-19 18:07] lucidtronix commented on #3698
@TedBrookings FYI

[2017-10-19 18:53] #3717 closed

[2017-10-19 21:30] vruano opened #3723 "Update bwamem-jni dependency to 1.0.3"
Fixes memory leaks due to failure to free C side resources when an index is closed.

[2017-10-20 11:13] Sun-shan commented on #3686
Is there anything I can do to find what'wrong?
@tomwhite

[2017-10-20 13:25] cmnbroad commented on #3710
Reopening since even though this change fixed the immediate problem and the last cron job appears to have succeeded, its still generating 22497 "backtrace" messages, which is about 22400 more than I see when running the task standalone. Minimally we need to change Barclay to suppress the "backtrace" message that is specific to Throwable.

[2017-10-20 14:37] Vzzarr opened #3724 "com.github.fommil.netlib:all:jar:1.1.2"
I am starting a Maven Project in which I would like to import your library; so I added this [dependency](http://search.maven.org/#artifactdetails%7Corg.broadinstitute%7Cgatk%7C4.beta.2%7C) to my pom.xml
[code]
When I execute `mvn clear install` in my folder project, I receive this error:
[code]
and it seems that the problem is the dependency by com.github.fommil.netlib/all, indeed according to the

[2017-10-20 15:34] chapmanb opened #3725 "GATK4.beta.6 HaplotypeCallerSpark does not output bgzipped VCFs"
I was testing the latest beta.6 release and ran into an issue that HaplotypeCallerSpark no longer outputs bgzipped VCF outputs. Specifying `--output outfile.vcf.gz` produces a plain unzipped VCF. This worked in the beta.5 release so appears to be due to recent changes. Here is a small self-contained test case that reproduces the issue:

https://s3.amazonaws.com/chapmanb/testcases/gatk/gatk4_spark_

[2017-10-20 18:57] samuelklee opened #3730 "Possible issue with symbolic link in Dockerfile."
Paraphrasing an email from Chunyang Bao:

Will double check this when I get a chance, but perhaps it will be immediately obvious to @lbergelson.

[2017-10-20 19:30] #3723 closed

[2017-10-23 14:58] magicDGS opened #3732 "Test suite failing locally in non-AVX machines"
I tried to run the whole test suite with `./gradlew clean test`, and several tests are failing with `org.broadinstitute.hellbender.exceptions.UserException$HardwareFeatureException: Machine does not support AVX PairHMM`:

* `HaplotypeCallerIntegrationTest`
* `HaplotypeCallerSparkIntegrationTest`
* `ReadsPipelineSparkIntegrationTest`

Because there are already several tests skipped if the support i

[2017-10-23 15:53] chandrans opened #3734 "VCF header: FLOAT vs INTEGER causing issues"
It seems a lot of users use bcftools on their VCFs, and it sometimes converts floats to integers. For example MQ=31.0 to MQ=31. This change causes GATK tools to error. Is it possible to relax this validation?

----
User Report
----

Hi,

Every time I had this message, this was due to bcftools which can change some float values to an integer representation : (e.g : before bcftools : MQ=31.0; after

[2017-10-23 16:06] jsotobroad opened #3735 "Transient GCS Permission Errors when using 4.beta.6"
We've been using 4.beta.6 to generate new callsets because it has the GenomicsDBImport batching fix and it seems to have introduced transient Auth errors that production was not seeing before.  This happens a maybe one shard at every task level and when rerun usually succeeds but as you can imagine is pretty annoying.  This happens across multiple tools (GenomicsDBImport, GatherVcfs)

Sometimes we

[2017-10-23 16:17] snovod commented on #3735
I have seen this 4 times in the last week or so.

e2cd74d3-33b9-47de-98ce-0bdd22729fa0
gs://broad-jg-dev-11k-call-set/JointGenotyping/e2cd74d3-33b9-47de-98ce-0bdd22729fa0/call-ImportGVCFs/shard-179/ImportGVCFs-179-stderr.log

94b9b228-852b-40ab-8791-16edd4a229c1
gs://broad-jg-dev-11k-call-set/JointGenotyping/94b9b228-852b-40ab-8791-16edd4a229c1/call-ImportGVCFs/shard-684/ImportGVCFs-684-stderr.log

[2017-10-23 16:50] gspowley commented on #3605
Thanks for the feedback Brad. We'll continue to look into the core dump to make sure it doesn't cause issues in the future.

[2017-10-23 16:53] gspowley commented on #1811
Closing since Lucy and Eric are no longer looking at this issue.

[2017-10-23 16:53] #1811 closed

[2017-10-23 17:22] gspowley commented on #2562
Thanks @davidbenjamin for the feedback and sorry for the slow response. We have been working on improving PairHMM by adding AVX-512 (#3615) and FPGA (#2725) implementations.

We are also adding AVX2 (#3701) and AVX-512 (future PR) Smith-Waterman, which will improve the performance of Mutect2.

We have the data above and will provide benchmarking results of your Mutect2 command with these improveme

[2017-10-23 17:26] gspowley commented on #2577
Closing this issue. Based on the discussion above, the most common vector size of 3 would not benefit from a native implementation.

[2017-10-23 17:26] #2577 closed

[2017-10-23 17:36] chapmanb opened #3736 "GenomicsDBImport segfaults during batch import"
Hi all;
I'm running to a segfault issue with GATK4 beta6 when running GenomicsDBImport on some batches. This is a small self contained test case that demonstrates the problem:

https://s3.amazonaws.com/chapmanb/testcases/gatk/gatk4_genomicsdb_segfault.tar.gz

When running:
[code]
It appears to segfault in jniImportBatch:
[code]
The same command works without the NA24385.vcf.gz sample but it wasn't

[2017-10-23 17:50] droazen commented on #3736
@kgururaj Could you look into this one?

[2017-10-23 17:56] droazen commented on #3735
@jean-philippe-martin Could you please have a look at this one? I'd say this is higher priority than https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453

[2017-10-23 18:16] chapmanb commented on #3736
Thanks so much for looking at this. I was digging into it a bit more after submitting the issue and noticed one difference between the NA24385 sample and the others was the presence of dbSNP membership and the `DB` INFO flag. We used HaplotypeCallerSpark to generate the NA24385 VCF, which does not support dbSNP, but the others used standard HaplotypeCaller, which does. I'm not sure if this is a tr

[2017-10-23 20:00] jean-philippe-martin commented on #3735
This looks like the auth service saw some transient error and instead of replying with a 503 (service temporarily unavailable), it replied with a 403 (forbidden). A walkaround would be to retry on those. The side effect will be that if we genuinely do not have access, it'll take a bit longer to report it.

[2017-10-23 20:15] LeeTL1220 opened #3738 "SimpleAnnotatedGenomicRegion refactoring to use Tribble"
- Additionally, we should create a LocatableCollection class rather than using List<SimpleAnnotatedGenomicRegion>

We can probably reuse the SimpleAnnotatedGenomicRegion static parsing methods, but these should be moved to a new class.

[2017-10-23 23:04] gspowley commented on #3069
@erniebrau was this issue resolved?

[2017-10-24 08:25] magicDGS opened #3740 "Tests failing locally due to missing R package"
Some tests are failing in my local computer due to a missing R package Concretely, test classes with this problem are:

* `AllelicCNVIntegrationTest`
* `PerformSegmentationIntegrationTest`
* `SNPSegmenterUnitTest`
* `PlotACNVResultsIntegrationTest`
* `PlotSegmentedCopyRatioIntegrationTest`
* `HMMUnitTest`
* `SegmenterUnitTest`

Is there any way to skip/ignore this tests when running locally and de

[2017-10-24 12:56] LeeTL1220 commented on #3738
The ultimate goal is to be able to do concordance analyses across VCF TSV (SEG, MAF) etc.

To do this, we will need to have a Tribble codec for segment files.

[2017-10-24 13:18] erniebrau commented on #3732
@droazen @gspowley What did we end up deciding regarding this issue in the meeting? Do we want to skip on non-AVX or fall back to Java?

[2017-10-24 13:32] cmnbroad opened #3741 "VariantWalker always loads driving variants feature input twice"
This results in the creation of two FeatureReaders (including GenomicsDBFeatureReaders if the input is GenomicsDB), with cached headers, even if the tool never queries the input directly. It looks like the majority of VariantWalkers don't require this; with the two exceptions of CalculateGenotypePosteriors and VariantFiltration.

It should be possible to let the tool itself decide if it needs to q

[2017-10-24 13:36] samuelklee commented on #3740
The packages required by these tests are installed by scripts/docker/gatkbase/install_R_packages.R.

Perhaps we should update the readme, which seems to indicate that the R dependencies are only used for plotting.

[2017-10-24 13:51] magicDGS commented on #3740
So a couple of questions:
* Should an external developer always install the R dependencies before running `./gradlew clean install`?
* If the R dependencies are needed for testing and the rest of the code, may be worthy to install them if not present in the gradle script or should be specified that the dependencies are missing... Is there an easy way to do that?

[2017-10-24 14:05] samuelklee commented on #3740
Not sure if we have settled on a strategy for checking dependencies, but the issue will be relevant for our imminent python dependencies as well.

[2017-10-24 14:19] snovod commented on #3735
Of the three Joint Callings workflow I resubmitted yesterday 2 failed with this error.

[2017-10-24 15:21] lbergelson commented on #3735
@jean-philippe-martin Do you know what google service is responsible for this?  It sounds like a bug that should be fixed on google's end if it's misreporting errors.  It's also strange that it just started happening, possibly just recently introduced.

[2017-10-24 15:40] cwhelan commented on #3735
I don't know if it's the same issue but we have recently started seeing random 403 errors running dataproc jobs that appear to be internal to GCS dataproc services:

[code]

For us the job keeps running on the dataproc cluster but the error crashes the client program that submitted the job.

[2017-10-24 15:56] jean-philippe-martin commented on #3735
@cwhelan yes that would be consistent with a bug in the auth service.

@snovod if you're feeling ambitious you can try running a version that includes PR#3739 and let me know whether this fixes it or, if not, share a stack trace?

[2017-10-24 16:50] lbergelson commented on #3724
Hi @Vzzarr ,

Thank you for reporting this.  I've never heard of this happening before, but I suspect the difference is that you are using maven and we've only ever used gradle.  @magicDGS @LeeTL1220 You both build downstream projects, have you ever seen this?

From what I can tell `com.github.fommil.netlib.all` is a POM only dependency, but it's not annotated as such in our generated POM.  Gradle

[2017-10-24 17:10] #3544 closed

[2017-10-24 21:41] jean-philippe-martin commented on #3735
For what it's worth, [this completely different thread about Drive](https://github.com/ncw/rclone/issues/20) also shows an issue where a transient issue (rate limit exceeded) results in a 403 error. This strengthens our argument that we need to retry on 403s.

[2017-10-24 21:47] lbergelson opened #3744 "VcfUtils.getSortedSampleSet doesn't respect it's GenotypeMergeType argument"

[2017-10-25 13:05] magicDGS commented on #3632
https://github.com/broadinstitute/gatk/pull/3620 is already merged, which makes `Transition` public. So only `SamComparison` is left...

[2017-10-25 14:34] samuelklee commented on #3659
What is the status of this bug?  The rate of failure in SparkGenomeReadCounts is non-negligible, so this is  becoming an issue for testing the new CNV WGS pipeline.

[2017-10-25 17:55] lbergelson commented on #3724
@Vzzarr I believe this is fixed in the most recent master now.  Could you try building with the version published to our [artifactory](
https://broadinstitute.jfrog.io/broadinstitute/webapp/#/artifacts/browse/tree/General/libs-snapshot-local/org/broadinstitute/gatk/4.beta.6-18-g2ee7724-SNAPSHOT/gatk-4.beta.6-18-g2ee7724-20171025.162137-1.jar) to confirm that the fix works?

[2017-10-25 17:59] jean-philippe-martin commented on #3735
@jsotobroad if my theory that this is a misreported 503 is correct, then the kind of bucket is going to play a role. If you need to send many requests a second, consider using a **multi-regional** storage bucket if you don't already. This may reduce the frequency of this problem.

[2017-10-25 18:20] lbergelson commented on #3725
@chapmanb Thanks for the report.  That's unexpected.  Hopefully it was something simple that we can fix quickly.

[2017-10-25 18:38] lbergelson commented on #3734
@chandrans I briefly looked into this, and it looks like this is likely a problem with the gatk3 implementation of median which is very brittle to type issues.  I don't think gatk4 suffers from this problem.  It's up to @vdauwera I guess if we want to fix it in gatk3, but I'm going to close the issue here.  Feel free to reopen if someone encounters it in gatk4.  I suspect that changing the header

[2017-10-25 18:38] #3734 closed

[2017-10-25 19:04] lbergelson commented on #3686
@Sun-shan It sounds like you're running out of heap space on the driver.  What are you setting  `--driver-memory` as?

[2017-10-25 19:11] lbergelson commented on #3730
@samuelklee  I think it's right for what we're doing.  We mount the test data as `/testdata` and then create a symlink from src/test/resources to /testdata to provide it to the test files.  It seems to work.

I'm not clear what they get more of the other way around.  More tests?  Are they using our create docker script? Or our travis file? Or something else?  I think we might just be able to just

[2017-10-25 19:46] samuelklee commented on #3730
OK, thanks for taking a look---I haven't had a chance to yet.  I've sent him a link to this issue in case he wants to provide more detail, otherwise we can close for now.

[2017-10-25 19:46] #3730 closed

[2017-10-25 19:59] ldgauthier opened #3745 "Uninformative warning from GenomicsDB when PLs are dropped"
When running a prototype tool similar to GenotypeGVCFs on gs://broad-jg-dev-11k-call-set/ImportVcfs/b617fc44-4d01-4f0c-ab1c-21df9943f6ec/call-ImportGVCFs/shard-0/attempt-3/genomicsdb.tar I saw the following warning:
`Column 2713622024 has too many alleles in the combined VCF record : 72 : current limit : 50. Fields, such as  PL, with length equal to the number of genotypes will NOT be added for th

[2017-10-25 20:18] chandrans commented on #3734
Oh Thanks Louis. Great to hear it is not an issue in GATK4. I was thinking it is an issue in GATK4 as well as GATK3. No need to fix in GATK3.

[2017-10-26 10:33] Vzzarr commented on #3724
Hi @lbergelson and thanks for considering my issue,

I'm sorry but I'm not familiar to artifactory dependency, if necessary I'll deepen about it; so I just inserted this dependency in the project's pom.xml
[code]
as reported in the [artifact repository](https://broadinstitute.jfrog.io/broadinstitute/webapp/#/artifacts/browse/tree/General/libs-snapshot-local/org/broadinstitute/gatk/4.beta.6-18-g2ee

[2017-10-26 13:53] erniebrau commented on #3069
@gspowley Yes. The warnings are now handled by Java. This was resolved in #3513.

[2017-10-26 13:59] gspowley commented on #3069
Thanks @erniebrau, closing this issue.

[2017-10-26 13:59] #3069 closed

[2017-10-26 15:05] lbergelson commented on #3724
@Vzzarr Ah, sorry, I should have explained.  It's a different repository from maven central, so you'll have to add an extra repository resolution block to your pom.

[code]

I think this should work, but I'm very much a maven novice, so you may have to tweak something. This will ask it to resolve artifacts from the Broad Institute's artifactory which includes our gatk snapshots.

If you're not att

[2017-10-26 15:54] jonn-smith opened #3749 "Funcotator trouble with indels spanning splice sites (frameshifts and in-frame)"
When having a deletion that spans from before a splice site to after a splice site, Funcotator does not properly render Codon Change or Protein Change.

For frame shifts, this is because Funcotator determines if a variant is a frame shift by looking at the number of bases inserted / deleted - if that number is evenly divisble by 3 it is in-frame.  Deleted bases beyond the splice site should not be

[2017-10-26 18:23] Vzzarr commented on #3724
@lbergelson I used Maven because it's what they taught me at the university to download Spark dependencies, so I'm a novice too; I'm sorry to bothering you with new errors (I promise that tomorrow I see how to do it with Gradle and stop bothering you), but adding even the repository to the pom.xml generated this error:
[code]

[2017-10-26 18:43] lbergelson commented on #3724
@Vzzarr Don't worry, these things are complicated and take time to learn!  You can use whatever you want, I just know more gradle than maven so it's easier for me to help with that.

I'm having trouble reproducing the error you're having.  Is your project on github? Or at a minimum could you paste your pom file here?

In the meantime, could you try cloning https://github.com/lbergelson/gatk-downst

[2017-10-27 10:05] Vzzarr commented on #3724
I just created a Maven Project with Eclipse and modified the pom.xml as reported [here](https://pastebin.com/kwi7gSRk)
[code]

[2017-10-27 15:01] jsotobroad commented on #3735
Interesting, will bring the **multi-regional** bucket to the team, thanks for looking at this

[2017-10-27 16:06] tomwhite commented on #3659
@chapmanb thanks for providing a test case to reproduce this. I've been travelling and haven't had a chance to look at it yet, but I will soon.

[2017-10-27 18:35] lbergelson commented on #3724
I think there's some sort of permissions issue here.  I tried building while not connected to our internal network and ran into a similar issue.  I don't exactly understand how our artifactory serves as a mirror of central, but it seems like it may not be mirroring correctly to people outside of our network.

@davidbernick it seems like external people can resolve the artifacts we host in libs-sna

[2017-10-28 10:12] magicDGS commented on #3724
My software is correctly pulling correctly the artifacts in https://broadinstitute.jfrog.io/broadinstitute/libs-snapshot/, and I am not at Broad...

[2017-10-30 15:10] lbergelson commented on #3724
@magicdgs Do you get all your dependencies from there, or only gatk?  I assumed you had multiple repos configured so that it first resolves from central and then from artifactory.  I'm not sure how to configure that sanely in maven, although I'm sure it's doable to someone who is less ignorant of maven then me.

[2017-10-30 15:35] magicDGS commented on #3724
@lbergelson  - In gradle, I first resolve with maven central and then with your artifactory:

[code]

In the case of maven, for several repositories this should be done following [this](https://maven.apache.org/guides/mini/guide-multiple-repositories.html). I think that the configuration for the repositories should look like this (if I remember correctly):

[code]

[2017-10-30 15:36] lbergelson commented on #3724
Oh, I didn't realize you could just specify multiple different repos in maven like that as well.  That makes total sense.  @Vzzarr I would try that.

[2017-10-30 15:55] jonn-smith opened #3753 "Funcotator INDEL annotations have inconsistencies"
Funcotator currently has issues with insertions and deletions.

It seems that it is not consistently handling the `Codon Change` and `Protein Change` annotations.  There seem to be issues when an insertion appears in-frame between two codons and when an insertion appears within a codon.  There are also issues with deletions.

Must investigate and standardize the `Codon Change` and `Protein Change`

[2017-10-30 15:56] lbergelson opened #3754 "Check if gatk4 thinks hg19 sequence dictionary is compatible with hg38"
I have a suspicion that we might determine hg19 and hg38 are compatible because of the change in `chr` naming and a shared contig `M`.  We should check this...

[2017-10-30 16:27] pnvaidya commented on #3413
We have updated to a newer version of compression engine in GKL. Could you test with the latest GATK/GKL? and report if the problem still exists.

[2017-10-30 17:40] #2796 closed

[2017-10-30 17:44] vdauwera commented on #2796
Woohoo thanks for this

[2017-10-30 17:48] sooheelee commented on #2796
Thank you.

[2017-10-30 20:59] jonn-smith opened #3756 "Create a path-based line reader"
We need a file reader that is based on the `java.nio.path` interface that can read lines from a `Path` object.  This should wrap `files.lines` and return an `Iterator<String>`.

[2017-10-30 21:02] jonn-smith opened #3757 "Need simple parser for non-locatable files"
We need a parser that can read in non-Locatable files.

These files will be *sv formatted (e.g. tsv / csv / etc.).

This should be based off of the simple `Path` reader in #3756

[2017-10-30 21:04] jonn-smith opened #3758 "Determine if Sqlite (or other formatted intermediate layer) is needed for Funcotator *sv files"
Need to determine if a separate database / indexing layer is needed for *sv annotation files (e.g. csv files) for Funcotator.

This will primarily be determined on if these *sv files will be too big to fit into memory comfortably (if so, we need the db / indexing, if not we don't).

[2017-10-30 21:09] jonn-smith opened #3759 "Create a unit test to compare various String.split methods in the GATK"
There are several methods that perform the `String.split` operation in the GATK, two of which claim to be faster than the base Java's `String.split`.

Make a unit test to compare the performance of the baseline Java `String.split`, HTSJDK's `ParsingUtils::split` and GATK3's `Utils::split`.

[2017-10-30 21:48] jonn-smith opened #3760 "Need Tribble codec for non-Locatable data sources"
`Tribble` codecs can only read data from `Locatable` data sources (those with contig + start + end position).  Recently we have found a need for reading in files that do not have locatable data (e.g. tabular data that has a `Gene Name` and a set of attributes, but no start/stop location).

Tribble should be updated to have a baseline `Interface` that is generic (and not necessarily `Locatable`).

[2017-10-30 22:10] sooheelee commented on #3137
@droazen, can you help us out and list the tools that have this unusual memory requirement? I'm back from ASHG and visiting family and am just now turning my attention to GATK4 documentation.

[2017-10-31 08:30] magicDGS commented on #3760
@jonn-smith - I think that it is a good idea to have a codec interface for non-locatables, but `Tribble` is designed for working with indexed data sources __by coordinate__ (the same as `Tabix`). I think that the proposal that you are making here for HTSJDK should be a different implementation, without messing up with the tribble code. Otherwise, tribble will lose the sense of working with coordin

[2017-10-31 10:02] magicDGS commented on #3756
I think that this does not require a line reader. It could be done by simply use `Files.lines(path).iterator()` for the `Path`. Maybe it could be included directly in the utils class (e.g., Utils.lineIterator(Path)`).

[2017-10-31 10:05] magicDGS commented on #3757
Cannot this use directly `TableReader`? Maybe it should include a `Path` constructor and being refactored a bit...

Another option could be the picard `BasicInputParser`, `TabbedInputParser` or `TabbedTextFileWithHeaderParser`...

[2017-10-31 10:13] tfenne commented on #3286
Yes please!  I'd also find this incredibly useful.  @lbergelson any thoughts on how hard it would be to generate a separate build artifact for the local reassembly code that didn't have too many dependencies?

[2017-10-31 10:30] magicDGS opened #3762 "Move AbstractMarkDuplicatesTester to test sources"
It is not necessary to be packed in the testing framework, because it is specific for a single tool...

[2017-10-31 11:32] samuelklee opened #3763 "HDF5Library uses incorrect logger."
Results in a warning message.

[2017-10-31 15:16] lbergelson commented on #3763
@samuelklee Is it something in our code or in the hdf5 java or native code that we wrap?  What's the error?

[2017-10-31 15:28] sooheelee opened #3764 "Mode for recognizing ALT contigs as contiguous with corresponding primary assembly contig"
## Feature Request

**Some background**
- GRCh38 contains ALT contigs that represent alternate haplotypes to corresponding regions in the primary assembly. We use ALT contigs to represent those haplotypes that are difficult to represent variants against in the VCF. The primary assembly does NOT necessarily reflect the most common haplotype. So it is possible for an alternate contig to be rather co

[2017-10-31 15:43] cmnbroad commented on #3692
@lucidtronix @mbabadi Update on this: There is a branch [here](https://github.com/broadinstitute/gatk/commits/cn_python_environment) that updates the docker image that we build on travis to include a full anaconda installation. That may be overkill in the long run but for now gives us a base environment for running integration tests on Travis. The environment managers I've looked at (conda and vir

[2017-10-31 15:54] droazen commented on #3757
This particular reader will be specialized for the needs of the funcotator tool, so it will likely be its own thing (but built on top of a more primitive reader).

[2017-10-31 16:18] tomwhite commented on #3659
I've managed to reproduce and diagnose the issue: it's a bug in Hadoop-BAM where the chunks aren't always being aligned to read boundaries when intervals are specified. This causes the reference name index to be values that are too big, since the record fields are nonsense, due to the misalignment. I've got a fix that I'll post soon.

[2017-10-31 16:20] magicDGS opened #3765 "CommandLineProgram TMP_DIR should support java.nio.Path"
Currently, it is constraint to be a `File`. With the change in https://github.com/samtools/htsjdk/pull/910, it can be a list of `String`: the method body can use `IOUtils` to convert to a `java.nio.Path` and set the java property.

[2017-10-31 17:43] Vzzarr commented on #3724
I deleted ~/.m2/repository/ folder and his content, used this [pom.xml](https://pastebin.com/mV1qGTzv)
[code]
executed `mvn clean install -U` and finally obtained the `BUILD SUCCESS`
Thanks everybody for your support

[2017-10-31 17:45] lbergelson commented on #3724
Hooray!  Sorry this was so painful.  Closing this ticket, feel free to open a new one if you run into other issues.

[2017-10-31 17:45] lbergelson commented on #3724
Fixed by #3742

[2017-10-31 17:45] #3724 closed

[2017-10-31 18:44] samuelklee commented on #3763
I think it's simply that HDF5Library uses `org.apache.log4j.LogManager` rather than `org.apache.logging.log4j.LogManager`.

[2017-10-31 18:53] droazen commented on #3735
@jsotobroad Prospective fix is up at https://github.com/broadinstitute/gatk/pull/3766. @jsotobroad Could you try this branch out and see if it resolves the 403 issue?

[2017-10-31 20:01] samuelklee commented on #3763
Here's the warning that pops up:

    log4j:WARN No appenders could be found for logger (org.broadinstitute.hdf5.HDF5Library).
    log4j:WARN Please initialize the log4j system properly.
    log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

[2017-10-31 20:04] lbergelson commented on #3763
Ah, thanks, that sounds like an easy fix then.

[2017-10-31 21:25] sooheelee opened #3768 "Document provenance of GRCh38 resource files in GATK bundle"
Folks occasionally but consistently ask for this information on the forum and our current answer is that we provide these files as is. For the new GATK4 documentation, which we plan on releasing on January 9th alongside the new GATK4, I think we should aim to be more transparent.

### Those involved in the creation of the GRCh38 resource files, could you kindly provide READMEs to place alongside t

[2017-10-31 21:49] sooheelee opened #3769 "Will your workflow be ready for the Jan 9 release?"
Hi folks. @chandrans and I have laid out some plans towards updating GATK4 docs for the January 9 release. Our approach is to prioritize documentation around stable Best Practice Workflows. On the docket currently is the single stable workflow--germline SNP and indel calling from DNA data. We will of course update tool docs (excluding Spark and BWA tools) and supporting tutorials. Even for tools w

[2017-11-01 11:53] chapmanb commented on #3659
Tom -- brilliant, thanks so much for digging and identifying the underlying problem. Excited to keep pushing forward with spark genotyping testing once it's fixed.

[2017-11-01 12:26] magicDGS opened #3771 "Remove TargetsToolsTestUtils/SimpleIntervalTestFactory"
The methods in `TargetsToolsTestUtils` (renamed in #3475 to `SimpleIntervalTestFactory`) are better suited to be static methods in `IntervalUtils` taking a dictionary as a parameter.

[2017-11-01 15:41] davidbenjamin commented on #3769
@sooheelee Mutect has been ready for a while.  We will make more big changes in the next few months but we will always maintain it in a production-ready state.

[2017-11-01 16:21] jonn-smith commented on #3769
@sooheelee A version of Funcotator will be ready for the Jan 9 release.  I'm not yet 100% certain which functionalities will be included in it.  Also, it will likely need to be marked as a beta tool.

[2017-11-01 17:02] tomwhite commented on #3659
@chapmanb I've looked at this more, and the underlying issue is that the Hadoop-BAM code for finding input splits at BAM record boundaries is not working correctly for some BAM files. I think we can fix this by having stronger checks, and that's what I am working on now.

In the meantime, as a workaround you could try running `CreateHadoopBamSplittingIndex` to create a BAM splitting index. This mi

[2017-11-01 17:04] lbergelson opened #3772 "fix R dependency link"
It seems like another R dependency has moved.
`http://cran.r-project.org/src/contrib/data.table_1.10.4-2.tar.gz` -> `https://cran.r-project.org/src/contrib/Archive/data.table/data.table_1.10.4-2.tar.gz`

We'll need to update our `installRscripts`.  We should seriously consider just hosting these files ourselves somewhere.

[2017-11-01 17:32] tomwhite commented on #3659
BTW here is the Hadoop-BAM fix: https://github.com/HadoopGenomics/Hadoop-BAM/pull/164.

[2017-11-01 17:44] sooheelee commented on #3769
@davidbenjamin For those workflows deemed ready, the forum should feature a `(How to)` tutorial to enable deeper understanding and an example usecase. Do you feel the current hands-on Mutect2 tutorial I wrote for the Helsinki workshop is adequate for a BETA (How to) tutorial (to match the BETA release of the workflow)? The plan then would be to transcribe this tutorial (with some tweaking) into a

[2017-11-01 17:46] tomwhite commented on #3659
@chapmanb I forgot to say that with the fix I can run your test command successfully. Without the fix I was getting the same error that you got.

If you want to try out the fix you will have to build Hadoop-BAM, see https://github.com/broadinstitute/gatk/wiki/Build-GATK-with-a-locally-built-htsjdk-or-Hadoop-BAM. When building GATK, do something like:

[code]

For the record, here is the command I

[2017-11-01 17:48] sooheelee commented on #3769
Thanks @jonn-smith. Is Funcotator ready for us to document now or in the next month? Meaning, is it usable by users now? Otherwise, we can release an `alpha` tutorial initially to get folks to use it.

[2017-11-01 17:53] sooheelee commented on #3769
@davidbenjamin and @mbabadi Just wanted to remind you here that any Mutect2/FilterMutectCalls and gCNV resource files we provide (those you have given me at one point) need to have READMEs to accompany them to trace provenance, similar to what I've outlined in #3768 for GRCh38 resource files.

[2017-11-01 18:44] jonn-smith commented on #3769
@sooheelee It isn't ready yet - I'm still debugging some of the core functionality.

[2017-11-01 19:08] droazen opened #3773 "Tool arguments that are GCS-enabled should be clearly marked in the help output"
This could be accomplished fairly easily/automatically by introducing a marker class for GCS-enabled inputs/outputs, and so relates to https://github.com/broadinstitute/gatk/issues/958

[2017-11-01 19:16] sooheelee commented on #2597
@vdauwera We this happen? If so, Sheila and I will need to know the new arguments for the GATK4 documentation that we are planning to work on for the next three weeks.

[2017-11-01 19:17] droazen commented on #2597
This is not the ticket I was talking about @sooheelee -- the ticket you want is https://github.com/broadinstitute/gatk/issues/2596

[2017-11-01 19:17] sooheelee commented on #2596
@vdauwera Will this happen? If so, Sheila and I will need to know the new arguments for the GATK4 documentation that we are planning to work on for the next three weeks.

[2017-11-01 19:18] sooheelee commented on #2597
Ok thanks!

[2017-11-01 19:20] droazen commented on #2596
@magicDGS raises a good point that things like read filter names are necessarily going to be camel-cased. Does this change anyone's opinion on this topic?

[2017-11-01 19:51] #2125 closed

[2017-11-01 19:51] #3029 closed

[2017-11-01 20:13] vdauwera commented on #2596
Not mine -- toolnames are also still going to be camel-case

[2017-11-01 20:21] davidbenjamin commented on #3769
@sooheelee Your Helsinki M2 tutorial is definitely enough.

And I can have resource READMEs ready by January 9.

[2017-11-01 21:01] sooheelee opened #3774 "Write up Funcotator alpha tutorial for forum"
I am available to help in this process @jonn-smith. Just to give you an idea of the evolution of tutorials, here are some example tutorials that focus on somatic CNV calling.

- Alpha tutorial that Lee wrote:
 <https://gatkforums.broadinstitute.org/gatk/discussion/7387/description-and-examples-of-the-steps-in-the-acnv-case-workflow>
- A demo-like tutorial that Sam Lee planned and developed (also M

[2017-11-01 21:01] sooheelee commented on #3769
@jonn-smith In your absence, you've been volunteered to draft the alpha (How to) tutorial for Functotator. I opened a new issue ticket for you regarding this work:

https://github.com/broadinstitute/gatk/issues/3774

[2017-11-01 21:25] sooheelee commented on #1669
Let me know if and how we can help in this @cmnbroad.

[2017-11-01 21:41] sooheelee commented on #3774
Ah, also here are the current Oncotator related docs:

- https://gatkforums.broadinstitute.org/gatk/discussion/comment/43617#Comment_43617
- https://gatkforums.broadinstitute.org/gatk/discussion/4154/howto-install-and-run-oncotator-for-the-first-time

[2017-11-01 23:15] samuelklee commented on #3769
@sooheelee I think we should be able to hit Jan 9 for what I've been calling the "ModelSegments" pipeline, in terms of getting the new code merged into master.  It will be ready to go for WGS.

However, it's hard to say whether or not we'll have completed internal evaluations of this pipeline by then.  These will be necessary to identify good default values for parameters that will affect sensitiv

[2017-11-02 10:26] magicDGS commented on #2596
I would like to point out that my opinion is still the same: I prefer camel-case instead of kebab-case; anyway, the only requirement for me is to be able to turn off the requirement in downstream projects...

[2017-11-02 15:04] davidbenjamin commented on #3568
Closed by #3584.

[2017-11-02 15:04] #3568 closed

[2017-11-02 15:04] davidbenjamin commented on #3325
Closed by #3584.

[2017-11-02 15:04] #3325 closed

[2017-11-02 15:16] jonn-smith commented on #3769
@sooheelee That's reasonable.  I saw the ticket.  Sounds good.

[2017-11-02 18:33] davidbenjamin commented on #3256
@LeeTL1220 @takutosato Results look very nice.  I have tried to subject the tool to very bad conditions, namely an extremely CNV-active HCC1143 under various models of contamination.  Here's what we have:

**HCC1143 tumor contaminated with varying amounts of NA12878 and 4.5% other stuff**

| fraction NA12878| total contamination | estimate |
| ----- | ------ | ----- |
| 0 | 0.045 | 0.045 |
| 0.005

[2017-11-02 18:36] davidbenjamin commented on #3256
Long story short, our accuracy on a horrible tumor with at least three contaminants is a bit better than ContEst's on normals with a single contaminant.

Note that as contamination gets really high our estimate starts to flatten out, which does not surprise me.  I could put in logic to handle this case, but for now I'm content to be able to say that something is > 12%.

I also think that restricti

[2017-11-02 18:37] davidbenjamin commented on #3256
Done for now.

[2017-11-02 18:37] #3256 closed

[2017-11-02 18:47] jonn-smith opened #3780 "Add Transcript Selection (by effect) to Funcotator"
Add a flag to Funcotator that will select the main transcript for each annotation based on the worst effect of that transcript.

[2017-11-02 18:48] jonn-smith opened #3781 "Add Transcript Selection (user override) to Funcotator"
Add the ability for a user to specify which transcript they want to be the main transcript for annotations in Funcotator.

[2017-11-02 18:49] jonn-smith opened #3782 "Add the `other transcripts` annotation to Funcotator"
Add the `Other Transcripts` annotation to Funcotator.

[2017-11-02 18:51] jonn-smith opened #3783 "Funcotator: Add user input for default annotation values on command-line/config file."
Add the ability (either as command-line options or config file options) for a user to specify default values for certain annotations (i.e. `Center`).

[2017-11-02 18:52] jonn-smith opened #3784 "Funcotator: Add Reference Context annotations"
Need two annotations for Reference Context:

10bases - the 10 bases on either side of a variant of the form:
    <10 bases><variant_bases><10 bases>

gc_content - the GC Content as calculated in Oncotator.

[2017-11-02 18:55] jonn-smith opened #3785 "Funcotator needs a tool to create new simple delimited data sources."
Need to create a tool that allows a user to import / create a simple delimited data source (i.e. from a given CSV / TSV file).

See how Oncotator structured its config files for insights on how to do this.

It may be possible to simply reuse that config file format.

[2017-11-02 18:57] jonn-smith opened #3786 "Funcotator: Add datasource and annotation for UniProt as a data source (IDs ONLY)"
Add in the data source and annotation field for UniProt and SwissProt IDs so that users can cross-reference manually.

[2017-11-02 18:58] jonn-smith opened #3787 "Funcotator: Add in Entrez Gene ID annotation"
Add in Entrez Gene ID annotation field to output.

[2017-11-02 19:54] cwhelan commented on #3769
@sooheelee We plan to have internal pilots running by then but haven't discussed releasing to the public in an beta or full release yet. We will have some unsupported WDL pipelines and light documentation available for external users, and we can provide benchmarking stats courtesy of our collaborators. It's probably safer to tag the tool as 'alpha' or 'beta' for the January release, though. We sho

[2017-11-02 19:54] davidbenjamin opened #3788 "Huge -L seems to take longer than it should"
I'm running SelectVariants with an interval list L of 600,000 loci and an excluded interval list XL of 160 loci.  Based on restricting L and XL it seems that the runtime scales as |L|x|XL|, which comes out to over an hour.  The runtime does not depend at all on the size of the vcf in the -V argument.  That is, once traversal begins it's basically instantaneous, but processing the intervals takes f

[2017-11-02 20:15] #3772 closed

[2017-11-02 20:18] droazen commented on #3788
To make sure I understand, are you saying that it took over an hour for traversal to even start in this case?

[2017-11-02 20:24] sooheelee commented on #1669
Turns out categorization is on the Comms team--I misunderstood. @cmnbroad you are only on the hook for labels and other engineering feats.

[2017-11-02 20:42] sooheelee commented on #3769
Thanks for the update @cwhelan and thanks for prepping the initial documentation. If you are considering any `(How to) tutorials`, then perhaps you might find of interest some factors I've outlined in <https://github.com/broadinstitute/gatk/issues/3774> (for John).

@mwalker174, I'm sorry to have overlooked Path-Seq. Geraldine mentioned she is working on some docs for you. Will your workflow be re

[2017-11-02 21:04] lbergelson commented on #3788
@davidbenjamin Could you upload your interval files somewhere so we can reproduce this.

[2017-11-03 00:45] davidbenjamin commented on #3788
@droazen That's right -- the whole thing is over an hour but traversal itself is a few seconds.

[2017-11-03 01:00] davidbenjamin commented on #3788
@lbergelson @cmnbroad @droazen I investigated further and to my surprise the excluded intervals are a red herring.  The time is linear in |L| and I just assumed it was linear in |XL| as well, but the command took an hour *without* any `-XL` at all.  So the issue is just that processing a large interval list seems to take longer than it ought to.  Here's the full command, with paths:

[code]

The o

[2017-11-03 11:10] tomwhite commented on #3686
I wrote up some suggestions for memory settings here: https://github.com/broadinstitute/gatk/wiki/Troubleshooting-Spark

[2017-11-03 11:13] tomwhite commented on #3395
See https://github.com/broadinstitute/gatk/wiki/Spark-Evaluation-Results

[2017-11-03 12:24] tomwhite commented on #3725
The change is because we started using VariantsSparkSink to write VCFs on the cluster, rather than writing them in a single thread from the driver (which doesn't scale).

VariantsSparkSink only supports .bgz extensions currently, not .gz. So if you change the output extension to .bgz it will work.

Gzip is not splittable so if possible we'd avoid outputting it at all. Hail for example will not loa

[2017-11-03 12:55] chapmanb commented on #3725
Tom -- thanks so much for looking at this. My preference would be 2, writing bgzipped output to the .gz file. `vcf.gz` is pretty widely used to mean bgzipped (then tabixed). I personally never use plain gzip for this. It would be cool if we actually used a different extension for the two to not confuse ourselves but dealing with it the way people expect is also important. Thanks again.

[2017-11-03 12:59] tomwhite commented on #3725
Thanks Brad. Here's a PR that implements 2: #3791

[2017-11-03 14:13] #3725 closed

[2017-11-03 14:17] lbergelson opened #3792 "unify checks for zipped extensions"
We currently have code that checks if a file should be zipped based on it's extension all over the place, and it's not consistent.  Some use `.gz` only, some accept `.bgz.` or `.gzip` as well.   We should factor a out a single method in htsjdk and use it everywhere.

[2017-11-03 14:27] Sun-shan commented on #3686
thank you very much! @tomwhite  @lbergelson

[2017-11-03 14:43] cmnbroad commented on #3788
The problem appears to be [here](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/utils/IntervalUtils.java#L403-L410). This is called once for each input interval, with setTwo growing by 1 each time.  Lots of time spent in the addAll(setTwo) on line 408.

[2017-11-03 15:05] davidbenjamin commented on #3788
If I understand correctly, are you saying that if the input intervals are A, B, C, D, the pseudocode for `loadIntervals` in case of `IntervalSetRule.UNION` is:

[code]
  which scales quadratically.

[2017-11-03 15:32] droazen commented on #3788
@davidbenjamin Could you run JProfiler on your test case and post the CPU profile here? Profiling beats manual code inspection any day of the week ;)

[2017-11-03 15:43] cmnbroad commented on #3788
I have a local test case using a modified version of @davidbenjamin 's interval list (cut down to 175000 intervals) and can see thats where the time is going. I'll run it and save the profile - it just takes forever to run.

[2017-11-03 15:55] cmnbroad commented on #3788
<img width="1225" alt="screen shot 2017-11-03 at 11 53 14 am" src="https://user-images.githubusercontent.com/10062863/32383235-d2670822-c08d-11e7-9b0e-b3a4ebbeb90f.png">
<img width="1228" alt="screen shot 2017-11-03 at 11 53 55 am" src="https://user-images.githubusercontent.com/10062863/32383247-dd9f2152-c08d-11e7-85ab-d8d18bc41f3f.png">

[2017-11-03 16:16] droazen commented on #3788
@cmnbroad Ok, great -- would you have time to submit a quick patch against `IntervalUtils`?

[2017-11-03 16:47] droazen opened #3793 "Patch build_docker.sh -p option to push to GCR in addition to dockerhub"
As discussed internally, we should publish our docker image to GCR in addition to dockerhub, so that dockerhub won't get clobbered by our production users.

The GCR repo to use will be provided by @hjfbynara. Once we have it, we should patch `build_docker.sh -p` to push there as well, and update our "How to release GATK" wiki article appropriately.

[2017-11-03 18:04] cmnbroad commented on #3788
Sure.

[2017-11-03 18:25] droazen commented on #3395
These initial results suggest that the savings from a pure-Spark pipeline are in the 15-30% range. @tomwhite Do you attribute these savings mostly to avoiding writing/reading intermediate outputs?

[2017-11-03 18:30] droazen commented on #3395
Also, once we've confirmed these results, we'll want to compare the total core hours of the Spark pipeline against the core hours of an equivalent non-Spark pipeline, to see if the savings provided by a pure-Spark pipeline actually make it cheaper than a non-Spark pipeline.

[2017-11-03 18:36] droazen commented on #3792
There already is such a method in htsjdk, isn't there? `AbstractFeatureReader.hasBlockCompressedExtension()`

[2017-11-03 19:09] lbergelson commented on #3792
@droazen Yes, but it's not consistently used even in htsjdk, and it should probably be moved to IOUtil instead of AbstractFeatureReader.

[2017-11-03 19:15] droazen commented on #3792
So the method we want exists, we just need to use it consistently and perhaps rename it. Rewording this ticket to reflect that.

[2017-11-03 19:19] hjfbynara commented on #3793
created the google group (gatk-release@broadinstitute.org), populated it and transferred ownership to the team.  Created the google project: broad-gatk enabled container registry. Made Geraldine and David Owners.   Added gatk-release google group as Editors

Could someone test out pushing to GCR:

docker pull broadinstitute/gatk:<someTAG>

gcloud docker -- push us.gcr.io/broad-gatk/gatk:<someTAG>

[2017-11-03 20:02] droazen commented on #3793
@hjfbynara I'll try this out now and let you know how it goes

[2017-11-03 20:30] droazen commented on #3793
@hjfbynara I was able to push a copy of the latest GATK4 docker image (4.beta.6) into the new GCR repo.

I assume that this is sufficient to alleviate the current crisis for now. I'll update our release script early next week so that future releases will also get published to the GCR repo.

[2017-11-06 11:31] tomwhite commented on #3019
I don't know how to reproduce this. Is it still happening, or can you share an input file with me?

[2017-11-06 11:32] tomwhite commented on #3013
I originally reported this, so not sure why it is assigned to me!

[2017-11-06 11:35] tomwhite commented on #2349
I haven't seen it failing recently. Have you @cmnbroad?

[2017-11-06 14:05] cmnbroad commented on #2349
I haven't seen this in a while either, though I almost never run the whole test suite locally any more. I just tried it and these tests passed, so I'll close this for now, and re-open if it resurfaces.

[2017-11-06 14:05] #2349 closed

[2017-11-06 14:09] tomwhite commented on #2349
Thanks Chris.

[2017-11-06 14:11] tomwhite commented on #1904
This is being done in #3666

[2017-11-06 17:15] jonn-smith opened #3796 "Replace all calls to String.split with Utils.split"
`Utils.split` was found to be much faster (2x) than `String.split` (see #3759).

We need to go through and replace all calls to `String.split` with calls to our `Utils.split`.

Additionally, we need to find a way to have the compiler throw a warning when any call to `String.split` occurs.  This will prevent developers from using this method in the future and cause this change to proliferate.

[2017-11-06 17:29] jonn-smith commented on #3796
Looks like this page may have a hint on the code to use in the "proliferation test":

https://stackoverflow.com/questions/930289/how-can-i-find-all-the-methods-that-call-a-given-method-in-java

[2017-11-06 18:28] jean-philippe-martin commented on #2422
GCS output works now for PrintReads. Next step is to switch all the other walkers to use the Path overload, too.

[2017-11-06 18:57] droazen commented on #3013
Whoops, sorry about that @tomwhite  :)

[2017-11-06 19:03] droazen commented on #3732
@magicDGS We are likely going to address this by splitting off a separate travis matrix entry that systematically tries to test every implementation of the PairHMM, and skips tests for implementations not supported by the hardware.

[2017-11-06 19:18] jean-philippe-martin commented on #2422
For what it's worth, this works but I should improve the error message. If you don't have the right permissions, currently you get an error that's something like this:

[code]

This is both
- confusing: it makes it look like the path is wrong even though the code actually tried the correct path
- improvable: it'd be nice if we gave the reason there was an error (403 Forbidden: user jpmartin doesn'

[2017-11-06 20:14] cmnbroad opened #3797 "Command lines contain fully-expanded lists when displayed, no matter how long"
If you specify an input argument that is a file that is auto-expanded by Barclay, the entire contents of the expanded list is included wherever command lines are displayed, such as on the command line and in output files (PG records, etc.).

[2017-11-06 21:11] jamesemery opened #3798 "Remove the necessity for SUDO on the build_docker.sh script"
The script is dangerous in its current state because it uses rm -Rf ${dir} arguments which can result in unwanted deletion if something goes wrong with the input arguments. We should either fix those arguments or remove the necessity for the script to be run with root permissions altogether to avoid any future problems that might arise and make the script safer for users. Additionally, the whole s

[2017-11-06 21:12] #3700 closed

[2017-11-06 21:12] sooheelee opened #3799 "If CG tag is present in SAM record, use as CIGAR string"
For compatibility with long reads, if we will become interested in supporting their features down the road. Otherwise, please take this ticket as informational.

New aligner by Heng Li, Minimap2, has option to emit `CG` tag containing full CIGAR string for long reads that would have >65535 CIGAR operations. This is for BAM compatibility. My understanding is that in such cases, the CIGAR field woul

[2017-11-06 21:16] #3735 closed

[2017-11-06 21:18] droazen opened #3800 "Revert 403 GCS retry patch once Google fixes the underlying service"
We should revert the change in https://github.com/broadinstitute/gatk/pull/3766 to retry 403s on GCS as soon as Google patches its service to return the correct status code (503) instead of 403. We can do this via a straight-up:
 `git revert e11d7b9410e0fcecf2d98c5ac55ce05fad21ee17`

[2017-11-06 21:19] droazen commented on #3800
For @jean-philippe-martin

[2017-11-06 21:33] droazen commented on #3799
@sooheelee This should be handled automatically by the htsjdk API rather than the GATK. Eg., `getCigar()` on a `SAMRecord` should automatically check `CG` as necessary.

[2017-11-06 21:35] droazen commented on #3797
Uh-oh...we should definitely fix this :)

[2017-11-06 22:27] sooheelee commented on #3799
@droazen you are saying this is already something htsjdk handles correctly?

Apologies for posting to the incorrect repo. You are entirely correct and I jumped the gun. Can I leave this up for sometime for others to be informed?

[2017-11-07 15:51] cmnbroad commented on #3788
The fix here is to stop Barclay from auto-expanding files with a ".list" extension (the extension will be changed to ".args"). With this change, for the common case of a .list file, the interval merging code will see a single (file) value, which it will load directly, rather than the already expanded list of interval strings. Loading the file directly results in a single call to mergeListsBySetOpe

[2017-11-07 21:29] sooheelee opened #3807 "Reversion of compatibility with GRCh38 HLA contigs?"
I came across some notes I made 20170901, while developing the Helsinki Mutect2 tutorial, to report a particular bug, that I am just now getting around to. Here is the command I ended up using to solve the problem:
[code]

Notice the protection tag `:1+` that I add to the last interval. If I do not add this, I get the following error:
[code]
This error persists even if I provide a dictionary/ref t

[2017-11-08 02:52] jhl667 opened #3808 "Mutect2 read depth estimates"
In looking at Mutect2 for clinical applications, one thing that always seems to come up has to do with the big difference between the ref/alt coverage denoted in the VCF file and what is seen in IGV.  For clinical reporting, many labs will provide mutant allele depths, along with the VAF estimate.  I understand the purpose of downsampling at stages of the m2 workflow, and I also understand this ne

[2017-11-08 12:04] magicDGS commented on #3797
I think that this is a nice feature (at least for me) and not a bug. For example, if in GATK someone runs a tool with `-RF read_filters.args`, then the pipeline cannot be reproduced in a different dataset unless the file is accessible.

I can understand that it could be also nice to preserve the `-RF read_filters.args` to be able to modify the file an re-run the tool with different parameters, but

[2017-11-08 13:26] sooheelee opened #3809 "Add documentedfeature tag to annotation modules and make content consistent"
E.g. SOR annotation does not show up in GATK4 versioned docs currently. Code at
 <https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/StrandOddsRatio.java> needs `@DocumentedFeature` tag at top.

[2017-11-08 13:33] magicDGS commented on #3809
I think that no `VariantAnnotation` is documented yet, because there is no even a plugin. It will be nice to have them anyway...

[2017-11-08 13:40] sooheelee commented on #2596
If we are to meet the documentation deadline you set for us @vdauwera (Jan 9), then we need to get to updating documents soon. We are waiting for the changes this issue ticket will bring about before getting started. Can you let us know when this will be implemented (if at all) so we can plan accordingly? Or can we push back the documentation deadline? Thanks.

[2017-11-08 13:43] sooheelee commented on #3809
Hey @magicDGS, since I'm on the forum documentation side of things, I'm not familiar with a plugin. Is this something @cmnbroad typically takes care of?

[2017-11-08 13:53] cmnbroad commented on #3809
@magicDGS is correct that no annotations are tagged as `@DocumentedFeature` yet, but thats just because nobody has done it. The plugin (which I think @jamesemery is planning to implement soon), is a completely separate issue - the `@DocumentedFeature` annotations can be added either way.

[2017-11-08 13:54] magicDGS commented on #3809
I think that the annotation plugin is assigned to @jamesemery here: https://github.com/broadinstitute/gatk/issues/3287

But of course it can be documented before it is a plugin. I just wanted to point out that all of them should be annotated properly...

[2017-11-08 13:56] cmnbroad commented on #3797
We need to put some hard upper limit on the number of entries included in the output. The issue that brought this to my attention was an intervals list with 600,000+ entries.

[2017-11-08 14:33] davidbenjamin commented on #2596
@sooheelee It's already implemented in Mutect (code, documentation, and wdl).

[2017-11-08 14:42] sooheelee commented on #3809
I'll ask @jamesemery to explain to me what he is doing fits in with what we need to do on the documntation side.

Is there anything else besides the `@DocumentedFeature` that I should be adding to each annotation document to annotate properly?

[2017-11-08 14:43] sooheelee commented on #3809
Also, I'll remove the annotation epic label.

[2017-11-08 15:08] #3656 closed

[2017-11-08 15:08] #3603 closed

[2017-11-08 15:57] vdauwera commented on #2596
I’d like to get the dev team involved — but will start a push over the weekend. Maybe you can make a list of the tools that we should tackle in priority?

[2017-11-08 16:35] cmnbroad commented on #3809
@sooheelee You'll need to add new string constants for the group name and group summary for annotations to HelpConstants.java, and then use them in each `@DocumentedFeature`, along with a summary specific to each annotation. Take a look at how [read filters](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/engine/filters/ReadFilterLibrary.java#L32) are

[2017-11-08 16:40] jamesemery opened #3811 "Factor out a generalized VCF comparison utility for test code"
In the test suite for `GenotypeGVCFs` and `CombineGVCFs` there is some nearly duplicated code related to comparing VCF files intelligently when there exists an expectation that certain fields in the file will vary between runs. Similar functionality exists in for sam file comparison with `org.broadinstitute.hellbender.utils.test.SamAssertionUtils`. Factoring the VCF comparison tests out into a `VC

[2017-11-08 16:41] lbergelson commented on #3603
@LeeTL1220 Is this not necessary anymore or did you add a function somewhere?

[2017-11-08 18:16] LeeTL1220 commented on #3603
I built it and forgot to close the issue

On Nov 8, 2017 11:41, "Louis Bergelson" <notifications@github.com> wrote:

@LeeTL1220 <https://github.com/leetl1220> Is this not necessary anymore or
did you add a function somewhere?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/broadinstitute/gatk/issues/3603#issuecomment-3428766

[2017-11-08 19:00] davidbenjamin commented on #3808
@jhl667 The ref/alt coverage in an M2 vcf may differ from that of IGV for the following reasons:

* Downsampling.  This one ought to occur only at extremely high depths.  By default M2 downsamples to 50 reads per alignment start, so if reads are 100 bp long downsampling only kicks in at coverage of 5000 and above.  Usually such large coverage indicates a poorly-mappable region, but in targeted seq

[2017-11-08 19:41] sooheelee commented on #3287
Hey @jamesemery, I just want to clarify whether I would then be able to use HaplotypeCaller annotations with Mutect2 (run on a single sample) using, e.g. `--annotation`, `--annotationGroup` and `--annotationsToExclude` options. I have a vague recollection this doesn't work and we were going to clarify in the documentation.

[2017-11-08 22:24] takutosato opened #3813 "Edge case in hardclipping a read"
We have a problematic read that goes in as cigar `14S45M92S` (or something similar) and turns `137H14S` when clipped by `ReadClipper.hardClipLowQualEnds` `(AssemblyBasedCallerUtils::L73)`. This is because the first 137 are base quality 2. M2 (and HC) fails later on because we miscalculate the start position as -4. This only occurs when a specific interval file is used. When run with `-L chrM`, the

[2017-11-08 22:51] SHuang-Broad commented on #3192
closed by the complex sv pr series

[2017-11-08 22:51] #3192 closed

[2017-11-08 22:53] SHuang-Broad commented on #3477
now all gone

[2017-11-08 22:53] #3477 closed

[2017-11-09 01:07] sooheelee commented on #2596
Sheila and I have agreed the germline SNP and indel calling tools and supporting tools are the top priority @vdauwera. Then Mutect (thank you @davidbenjamin). Then anything that is in production-worthy status.

[2017-11-09 12:07] sooheelee commented on #2596
Based on @davidbenjamin's changes, I gather you all have agreed that this is kebab-case conversion is going to happen. If so, then our users also need fair warning so they too can plan time to adjust their scripts, etc. Also, I know we are in the habit of first warning parameters will be deprecated in the documentation before removing it. So, may I suggest a transition time where both conventions

[2017-11-09 12:29] vdauwera commented on #2596
Doing a transition period is not practical — and anyway this is beta software, one of the caveats is that everything can change. We can post in the blog about it but that’s all the warning they get.

[2017-11-09 12:30] vdauwera commented on #2596
After the current workshop, there are no events until mid December, at which point it should be done or we’re in bad shape.

So let’s just buckle down and do it. I’ll do a first pass over the weekend.

[2017-11-09 17:19] eitanbanks opened #3814 "Bug in GenomicsDB import with renamed duplicate samples in the same batch"
It looks like we've found a bug in GenomicsDB.

We had a project with 26 replicates (same sample in there twice) among another ~1000 samples.  Therefore we uniquified the names in the sample map that’s input to TileDB for those 26 samples (i.e. converted them to project.sample instead of just sample) -- but obviously the names in the gvcfs remained unaltered.

When we look at the output VCF from G

[2017-11-09 17:23] droazen opened #3815 "GenomicsDBImport should throw by default if the target GenomicsDB already exists, not continue silently"
@lbergelson reports that `GenomicsDBImport` by default will continue silently when the target GenomicsDB already exists, instead of throwing, resulting in a corrupt GenomicsDB. The default should be to throw.

[2017-11-09 17:27] droazen commented on #3814
@kgururaj Could you & your team please make this and https://github.com/broadinstitute/gatk/issues/3815 your highest priorities? We'll add more information here as we discover it.

[2017-11-09 17:33] droazen commented on #3814
@lbergelson has been able to replicate the bug using a simple test case, so this is confirmed.

[2017-11-09 19:18] droazen commented on #3814
Looking at the code in both GATK's `GenomicsDBImport` and the GenomicsDB library itself, I don't think the sample name map was ever intended as a mechanism to rename samples. It was just added as a way to avoid the up-front download of all the VCF headers.

However, using it to rename samples is a pretty natural thing for clients to do. At a minimum, we need to throw if a rename is attempted until

[2017-11-09 19:34] samuelklee commented on #2951
Addressed in #3716 and #3775 for classes in the copynumber package.

[2017-11-09 19:34] #2951 closed

[2017-11-09 19:47] droazen opened #3816 "gatk-launch --list output should go to stdout, not stderr"
gatk-launch --list output currently goes to stderr. It should go to stdout instead to make it easier to grep for tools.

Reported by @sooheelee

[2017-11-09 20:46] SHuang-Broad commented on #3431
now that tool is up and running.
Need to provide tests for stability and this needs to be DONE BEFORE the prototyping tool hooked up into master

[2017-11-09 22:38] samuelklee commented on #3660
Basic fragment-based collection tool added in #3775.

[2017-11-09 22:38] #3660 closed

[2017-11-09 22:38] samuelklee opened #3821 "Add CollectBinnedReadCounts tool."

[2017-11-09 22:40] samuelklee commented on #3554
Closed in #3729.

[2017-11-09 22:40] #3554 closed

[2017-11-09 22:42] #2984 closed

[2017-11-09 22:43] samuelklee commented on #2964
Closed by #3775 and #3597.

[2017-11-09 22:43] #2964 closed

[2017-11-09 22:44] samuelklee commented on #2939
I think interactive plots are the way to go, if we ever get around to this.

[2017-11-09 22:44] #2939 closed

[2017-11-09 22:45] samuelklee commented on #2957
Closed by #3729.

[2017-11-09 22:45] #2957 closed

[2017-11-09 22:47] samuelklee commented on #2886
Closed in #3729.

[2017-11-09 22:47] #2886 closed

[2017-11-09 23:09] samuelklee commented on #2836
Addressed by #3716.

[2017-11-09 23:09] #2836 closed

[2017-11-10 01:15] kgururaj commented on #3814
A few points:
1. When we wrote the Java interface, the 'agreement' was that the sample names would be unique and consistent within the VCF headers. Hence, the assert statement in the Java code. We pretty much expected this issue to crop up.
1. Having said that, the sample name in the VCF header is ignored completely if checks are disabled (which are disabled by default). This includes the assert s

[2017-11-10 19:26] bbimber commented on #616
Hello,

I think we're pretty close on porting this.  However, i wanted to ask again if I could get access to the test data used in GATK3 VariantEvalWalkerUnitTest and VariantEvalIntegrationTest.  We dont need to port those files to GATK4 unless some of them already exist; however, having these files would help confirm the ported tool is behaving exactly as GATK3.

Second, I am hoping to confirm a

[2017-11-10 20:28] bbimber commented on #616
Also, in GATK3, PluginManager was used to lookup plugin w/ Reflection, such as:

new PluginManager<RequiredStratification>(RequiredStratification.class).getPlugins())

Is there a similar concept in GATK4?

[2017-11-11 16:55] magicDGS commented on #616
@bbimber - using the `FeatureContext` to get the overlapping BED/VCF records should do the job (for the first message, second part).

Regarding the `PluginManager`, I am not familiar with the GATK3's concept. If you are talking about the plugins like  `ReadFilter`s, you can retrieve them by using: `getCommandLineParser().getPluginDescriptor(RequiredStratification.class)`. This will get the plugin

[2017-11-11 18:55] sooheelee opened #3822 "Forum user question on Spark configurations"
User would like to know if we have guidelines to provide. It would be nice to have a timeframe to tell our users or some generic guidelines in setting parameters.

---
I find really interesting the Flagstat [chart](https://software.broadinstitute.org/gatk/resources/img_tutorials/tutorial_10060_figures/wes_increase_executors_chart.png "chart") and the relative [table](https://software.broadinstitut

[2017-11-13 14:30] LeeTL1220 opened #3823 "LocusWalkerSpark not determining the correct number of RDDs to process"
On branch `ll_CollectAllelicCountsSpark`, I have created a CLI called:  `CollectAllelicCountsSpark` ...  This tool will have the exact same functionality as `CollectAllelicCounts`, to the point where I can re-use the integration tests.

However, the integration tests fail.  When I dig deeper in `CollectAllelicCountsSpark`, I see that only 8 RDDs (correct amount: 11) are being passed to processAlig

[2017-11-13 19:02] bbimber commented on #616
@magicDGS - thanks again for the help on this.  yes, GATKReadFilterPluginDescriptor seems somewhat like the same concept as GATK3's PluginManager.  Some of the not-yet-ported tools like VariantAnnotator used the plugin idea more heavily as well, so perhaps that'll get built out more when those are ported?  I will work with that and perhaps try to pull out an AbstractPluginDescriptor.

@droazen - i

[2017-11-13 22:03] samuelklee opened #3825 "Make and evaluate simple changes to ReCapSegCaller."
Some preliminary evaluation of the new ModelSegments pipeline on CRSP samples has revealed some weaknesses of the ReCapSeg caller (which is simply ported from the old pipeline) to me.

I think there are a lot of confusing things going on:

1) For determining copy-neutral segments, all segments with log2 mean below some threshold are used (rather than absolute log2).  There is a comment that this i

[2017-11-13 22:11] samuelklee opened #3826 "CNV TODOs before release."
Legacy pipeline (note, the following should only be done after final ModelSegments PR is in):
- [x] Delete prototype tools. (#3887) (SL, PR issued by 12/1)
- ~~Add deprecated/legacy tag to legacy pipeline tools. (SL, PR issued by 12/1 EDIT: need further input from @vdauwera )~~
- ~~Update docs/arguments (w/ Comms, see #3853).  This will follow deletion of prototype tools. (all, PR issued by 12/15)

[2017-11-14 13:45] #3710 closed

[2017-11-14 14:01] cmnbroad commented on #3555
This is fixed by the Barclay upgrade in https://github.com/broadinstitute/gatk/pull/3804, but we really should add an explicit integration test that uses a Picard interval list with a .list extension that includes a header (i.e., src/test/resources/small_unmerged_picard_intervals.list, but this is only used in a unit test).

[2017-11-14 15:00] droazen commented on #3814
@lbergelson Can you provide @kgururaj with your simple test case that replicates this issue?

[2017-11-14 16:23] chandrans opened #3828 "Switch to OneShotLogger for logging this message"
## Feature request

### Tool(s) involved
VariantFiltration

### Description
The tool throws a bunch of WARN messages when an annotation is missing a value. For example, when the RankSum annotations are not present in homozygous sites, the tool prints out a bunch of WARN messages that fill up the user's log file. Can this problematic WARN message be moved to be OneShotLogger?

This Issue was genera

[2017-11-14 16:45] jsotobroad opened #3829 "Cant output to /dev/null, fails closing index"
GATK version - Version: 4.beta.6-SNAPSHOT (using us.gcr.io/broad-gatk/gatk:4.beta.6 docker images)

command:
[code]
exception:
[code]

I *think* this is expected to work, if not then feel free to close.

[2017-11-14 18:09] droazen opened #3830 "GATK4 AssemblyRegion traversal does not include reads with deletions in pileups used for isActive() checks"
This is a difference vs. GATK3, which did include reads with deletions in the isActive pileups for both HaplotypeCaller and Mutect2 ( @davidbenjamin take note ).

The fix is trivial -- I'll have a patch submitted later today.

[2017-11-14 18:43] #3607 closed

[2017-11-14 19:24] sooheelee opened #3834 "HaplotypeCaller hard clips and base quality (BQ) trims inconsistently"
Inconsistencies applies to GATK 4.beta.6 (observed by forum user) and 3.7 (recapitulated by @sooheelee). The inconsistency is namely in the form of BQ-clipping, e.g. from `AAFFFKKKKKKKKKKKKKKKKKKK` to `AAF55!!5!!!5!!!55!!5!!!!` for read and a supplementary read of the mate that is highlighted in red:

<img width="1281" alt="screenshot 2017-11-14 14 00 00" src="https://user-images.githubusercontent

[2017-11-14 19:30] sooheelee commented on #3834
Despite possible not-best practices, it is alarming that this base-quality clipping action is occurring for reads that HaplotypeCaller sees (reads pass engine filtering), that it is undocumented, and that it seems to inconsistently alternate between assigning ! and 5 scores.

Should note that the users who reported this inconsistency also have proposed code changes to fix the inconsistency such th

[2017-11-14 20:13] sooheelee commented on #3809
## SOP

[1] Add feature tag and define elements to all annotation modules in <https://github.com/broadinstitute/gatk/tree/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator>. E.g. the tag looks thus:
[code]
- group name variable
- group summary variable
- summary

[2] Add variables to HelpConstants.java at <https://github.com/broadinstitute/gatk/blob/master/src/main/java/or

[2017-11-14 20:15] sooheelee commented on #3809
- 43 annotation modules under gatk/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/
- and 14 additional allele-specific modules under gatk/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/allelespecific/
- gives 57 pieces of code to tag.

[2017-11-14 22:13] jsotobroad opened #3837 "VariantRecalibrator weird behavior on non indexed input"
Im running VariantRecalibrator in Indel mode with this command
[code]
when the input vcf `one_sample_test.sites_only.vcf.gz` doesnt have an index, the recalibration stops at some seemingly random spot in chr2.  The input vcf has information across the whole genome.
[code]

When running the same command after creating an index for the input vcf `one_sample_test.sites_only.vcf.gz` I get what I expec

[2017-11-14 22:17] cmnbroad commented on #3809
@sooheelee Not everything listed above should get a DocumentedFeature tag. For example, Annotation is a base interface; AnnotationUtils are utilities; RankSumTest is a base class for other rank sum-based annotations (none of these should be tagged). There may be others. In general, things that are interfaces, abstract classes, or utility classes should probably be skipped. If in doubt, feel free t

[2017-11-14 22:21] sooheelee commented on #3809
Thanks for this clarification. I'll check off the ones that obviously need the tag as I tag them and we'll be left with those that are in doubt.

[2017-11-14 22:30] sooheelee commented on #3809
Unlike the read filters, the annotation modules appear to have more information at top in our forum docs:

![screenshot 2017-11-14 17 29 27](https://user-images.githubusercontent.com/11543866/32808537-592c0bba-c961-11e7-8381-9a4cc57eea6f.png)
![screenshot 2017-11-14 17 29 14](https://user-images.githubusercontent.com/11543866/32808539-5c26da52-c961-11e7-98af-1d2a1b68d947.png)

Do I need to add the

[2017-11-14 22:37] sooheelee commented on #3809
It seems to me the `Header definition line` encompasses the information given by the `VCF Field` so this latter is redundant.

It would definitely be useful to categorize INFO (cohort) versus FORMAT (SAMPLE) level annotations. I'm not clear on the significance of the `Type` nor `Category` fields.

[2017-11-14 22:47] sooheelee commented on #3809
CN confirms these elements were pulled out with code in gatk3 but this code was not ported to gatk4. Discussion would be great on what we actually want and should involve @vdauwera.

[2017-11-14 22:53] sooheelee commented on #3809
Since Geraldine is away till the end of the week, and we are under the Nov 23 deadline for review, I will proceed with changes. I think it useful for me to go through the motions and see what other discussion items turn up.

[2017-11-15 00:58] sooheelee commented on #3809
Alright, I think I've tagged the documents that need tagging. I've touched 39 documents in total according to the commit history for the pull request.

[2017-11-15 01:00] sooheelee commented on #3809
This will go through travis checks then review by @cmnbroad.

[2017-11-15 01:37] cmnbroad commented on #3837
That is weird. I'll take a look.

[2017-11-15 13:22] samuelklee commented on #3825
Wrote a SimpleCopyRatioCaller that is still relatively naive, but I think a bit more sensible than ReCapSegCaller.  It does the following:

1) use the non-log2 mean copy ratio to determine copy-neutral segments (those within 1 +/- x, where x is an exposed parameter),
2) weight segments by length for determining the mean and standard deviation of the non-log2 copy ratio in copy-neutral segments,
3)

[2017-11-15 13:54] sooheelee commented on #3809
Checks failed because missing `import org.broadinstitute.barclay.help.DocumentedFeature;` at top.

[2017-11-15 14:22] ldgauthier opened #3839 "GenomicsDB outputs AD header line that doesn't match HTSJDK"
GenomicsDB appears to be adding a headerline:
`##FORMAT=<ID=AD,Number=R,Type=Integer,Description="AD">`
while the htsjdk version used by GATK is:
`##FORMAT=<ID=AD,Number=R,Type=Integer,Description="Allelic depths for the ref and alt alleles in the order listed">`

The consequence is that the final callset has two AD header lines.  This has caused some confusion as Cotton refines the Hail VDS forma

[2017-11-15 15:52] #3830 closed

[2017-11-15 16:20] cmnbroad commented on #3839
Some things consider: htsjdk has code that [normalizes/standardizes](https://github.com/samtools/htsjdk/blob/fbba5364e1809de071bc479f30e4e2c8b17f5bbe/src/main/java/htsjdk/variant/vcf/VCFStandardHeaderLines.java#L150-L203) select known header lines. One of these is AD. So in this particular case, when it reads in a header containing this:

    `##FORMAT=<ID=AD,Number=R,Type=Integer,Description="AD"

[2017-11-15 16:40] sooheelee commented on #3809
Just set up IntelliJ for a clean master branch and fetched my branch with changes. Going through now and importing both the above and the HelpConstants.

[2017-11-15 18:37] cmnbroad commented on #3837
@jsotobroad Where can I find the one_sample_test.sites_only.vcf.gz file ?

[2017-11-15 19:20] sooheelee commented on #3809
Had to
[code]
Before being able to push my branch. Changes are now in and I will go through them to make sure they appear consistent.

[2017-11-15 19:37] sooheelee commented on #3809
- [ ] Not sure if UniqueAltReadCount.java's acronym is actually UNIQ_ALT_READ_COUNT.
- [ ] Not clear what VariantOverlapAnnotator.java does and whether it actually should be tagged.

[2017-11-15 19:49] sooheelee commented on #3809
Build with `./gradlew clean gatkDoc` gives the annotations modules in the doc:
<img width="1056" alt="screenshot 2017-11-15 14 46 03" src="https://user-images.githubusercontent.com/11543866/32856838-fe302274-ca13-11e7-8d5e-e3036c466583.png">

This needs review for content. @vdauwera is this something Sheila reviews for me or something you can review given some discussion items should involve you?

[2017-11-15 19:50] lbergelson opened #3840 "PrintVariantsSpark crashes with serialization issues"
PrintVariantsSpark crashes on dataproc with serialization issues.

Ex:

[code]

[2017-11-15 19:52] sooheelee commented on #3809
Clicking through these now tagged docs, I see that their detailed descriptors range in detail and some have authors listed. E.g.:

<img width="1050" alt="screenshot 2017-11-15 14 51 41" src="https://user-images.githubusercontent.com/11543866/32857034-952c9810-ca14-11e7-828d-17daa9526837.png">

[2017-11-15 20:03] sooheelee commented on #3809
- I changed some capitalization depending on what a google search brought up for terms. But I only did so for the summary and did not touch the rest of the doc.

[2017-11-15 20:15] jonn-smith opened #3841 "Funcotator Indels need more test cases"
Need to add more test cases in Funcotator for indels to ensure that all corner cases are being met.

[2017-11-15 20:18] jonn-smith opened #3842 "Add tests for Funcotator indel protein change strings consistency with MAF and VCF"
The `Protein Change` strings that `Funcotator` produces need to be reviewed for consistency and correctness across MAF and VCF.

The reported positions should be the first position of a protein anomaly/change, but for some indels this is not the case (they are off by 1).

In all current cases (commented out and labeled), this is a non-issue because they are positions where the amino acid is repeat

[2017-11-15 21:43] #3793 closed

[2017-11-15 21:52] jhl667 commented on #3808
@davidbenjamin

- Downsampling is definitely a concern for us, but as you have suggested, I have utilized this parameter to not limit ourselves to 50 reads per alignment start.  After running a range of values, I landed on 500 as not being too much of a burden computationally, but still allowing us to fully digest alignments at each start site in a given region.  For us, I have estimated a value o

[2017-11-15 22:11] droazen commented on #3808
Do the missing reads have deletions spanning the locus? There was a bug we recently patched that might be related to this (https://github.com/broadinstitute/gatk/issues/3830). Can you try again with the latest GATK master branch?

[2017-11-15 23:08] vdauwera commented on #3809
Based on the screenshot above, it looks like we're missing "VCF Field" (whether it's INFO/site or FORMAT/genotype level), "Type" (eg ActiveRegionBasedAnnotation) and "Header definition line" ie how the annotation is represented and defined in the header. Those need to be extracted programmatically by the doc system. Everything below that is just plain text content that we can add "manually".

The

[2017-11-15 23:09] vdauwera commented on #3809
Would also be good to annotate which annotator (curr M2, HC and VA) has access to each annotation module.

[2017-11-15 23:46] sooheelee commented on #3809
Having tagged annotation modules to show up in the tool docs, I'm noticing other missing elements.

### In v3 docs, but in v4 docs:
- ABSENT: Engine Parameters, aka CommandLineGATK (this needs addition)
- seemingly TRUNCATED: Diagnostics and QC Tools section currently only has 3 tools; looks like other tools have been dispersed
- ABSENT: Resource File Codecs (likely intentional)
- ABSENT: Referenc

[2017-11-16 00:46] sooheelee commented on #3809
SamPileupCodec and TableCodec are in gatk4 though. So do we mean to document these? Looks like @magicDGS is the author on the former. Do we want these to show up in the documentation?

[2017-11-16 04:49] davidbenjamin commented on #3808
@jhl667 That's definitely worth trying.  Otherwise, there's nothing obvious from the vcf.  If you make a mini bam around that call, eg

[code]
I could step through it in the IDE and hopefully figure things out.

[2017-11-16 04:58] Masber opened #3844 "GATK4 haplotypecaller on FPGAs"
Dear GATK team,

Is it possible to run haplotypecaller using FPGA cards on GATK4?

thank you

[2017-11-16 05:22] vdauwera commented on #3809
No we don’t need to document codecs.

[2017-11-16 06:53] vladsaveliev opened #3845 "HaplotypeCaller exception: contig must be non-null and not equal to *, and start must be >= 1"
I'm using HaplotypeCaller (`gatk-package-4.beta.5`) to analyse the control medulloblastoma sample from the ICGC benchmark https://www.nature.com/articles/ncomms10001. Reads are aligned to `GRCh37` (from the Broad bundle, without decoy sequences) using `bwa mem`. Analysis is performed within the [bcbio-nextgen](https://github.com/chapmanb/bcbio-nextgen), which splits input into chunks by chromosome

[2017-11-16 14:22] ldgauthier commented on #3837
Do any of the GATK4 tools still index on-the-fly?

[2017-11-16 19:36] vruano commented on #3829
If IndexingVariantContextWriter is mean to create a index alongside /dev/null (... /dev/null.idx?) it isn't surprising that it does not work although the error message could be more informative. Is there a way to ask SelectVariants not to create an index and in that case you still have an exception?

[2017-11-16 19:43] vruano commented on #3829
Indeed adding ```--createOutputVariantIndex false``` there is exception any longer.
Probrably the actual base cause is that the user does not have permission to create a file under /dev

Ideally instead of ``` Unable to close index for /dev/null``` the error message should be something like ``` Unable to create index file /dev/null.idx for the output; not enough permissions```.

[2017-11-16 19:52] cmnbroad commented on #3837
@jsotobroad Can you tell me where I can find the input file ? thx.

@ldgauthier If you mean indexing inputs, I don't think any of the GATK 4 tools do that.

[2017-11-16 20:00] sooheelee opened #3847 "Add documentedfeature tag to tools missing in gatkDoc but present in --list"
In <https://github.com/broadinstitute/dsde-docs/issues/2639> we agreed to tag all tools, regardless of status (alpha, deprecated, test tools), so long as straightforward to do so, with the documentedfeature tag. This allows the javaDoc portion of the tooldoc to show up in our forum (gatkDoc).

### Tools missing from gatkDocs that show up in `--list`that we need documentation to show up for this ye

[2017-11-16 20:57] jamesemery opened #3848 ""--disableToolDefaultReadFilters" argument on the command line might have unexpected behavior with optional arguments"
This is an edge case in the GATKReadFilterPluginDescriptor code when a tool specifies an annotation with an optional argument (eg. `ReadLengthReadFilter` with `--minReadLength = 5`) that disabling that default value with the command line argument `--disableToolDefaultReadFilters` then reenabling it with the arguments `--readFilter ReadLength` will result in the tool using minReadLength=5 instead o

[2017-11-16 20:59] jonn-smith opened #3849 "Funcotator "other transcripts" annotations for IGRs is broken"
Currently `Funcotator` annotates IGR "other transcripts" entries as "IGR_ANNOTATION".  This must be fixed to be correct.

The correct format is:

<UPSTREAM GENE NAME>(<# Bases away> upstream) : <DOWNSTREAM GENE NAME>(<# bases away> downstream)

[2017-11-16 21:14] droazen commented on #3837
@ldgauthier Indexing inputs on the fly is prone to race conditions, so we decided early on to only index outputs on-the-fly.

[2017-11-16 21:41] sooheelee commented on #3847
@vdauwera two pull requests that just tag the docs are ready for your review:

- https://github.com/broadinstitute/gatk/pull/3850
- https://github.com/broadinstitute/picard/pull/978

[2017-11-17 13:39] magicDGS commented on #3828
Agree with that, but also it will be nice to be able to configure it if used outside the AnnotationEngine - the same for other usages of OneShotLogger...

[2017-11-17 15:31] chandrans commented on #3822
Let's talk about this at the meeting at 3:30

[2017-11-17 15:44] gspowley commented on #3605
This issue is related to https://github.com/Intel-HLS/GKL/issues/81

[2017-11-17 15:51] sooheelee commented on #3799
Heng says he has pull requests in htsjdk that are pending. Also mentions that @droazen and @lbergelson may want to reimplement it.

[2017-11-17 18:18] vruano opened #3852 "SVIntervalTree.isUpstreamOf seems to do the opposite to what the name implies."
As it is now

```x.isUpstreamOf(y)```

is true iff ```y``` has a larger contig index or it comes later in the same contig (```y.start >= x.end``` {open end interval}).

It seems that the name of this method seems to be misleading as the natural interpretation of the line of code above is that ```x``` is in upstream of/from ```y```.

In the end this is a matter of opinion though, what do you think?

[2017-11-17 18:25] ldgauthier commented on #3839
I'm all in favor of htsjdk fixes.  I can help review the PR if that will speed things along.

While I gave AD as an example (and it does have its own unusual behavior), the real issue is that GenomicsDB is modifying all the FORMAT and INFO annotations in the input header. I would like GenomicsDB to be able to pass the annotation definitions in the header without modification.

[2017-11-17 21:01] tedsharpe commented on #3852
I'm probably being dense, but I don't understand the issue.  I'm thinking of the genome as a stream.  The headwaters are at the 5' end of chromosome 1, and the stream's outlet is at the 3' end of the last chromosome.  So, in this analogy, x *is* upstream of y if y has a larger contig index or starts later than x ends.  Is there some other metaphor that I'm overlooking that leads to confusion?
http

[2017-11-17 21:38] vruano commented on #3852
Oops I guess I was the dense here... my under-diagnosed dyslexia :P

[2017-11-17 21:38] #3852 closed

[2017-11-17 22:26] sooheelee opened #3853 "All hands on deck: tool doc updates"
Thank you everyone for your contributions towards this documentation effort.
Instructions from @vdauwera ~~to follow~~ at [this Google doc](https://docs.google.com/a/broadinstitute.org/document/d/1r1AV4yWP4_vNmniUDR5LojihuggMDI2OnEpfRiYyvdk/edit?usp=sharing)
Favorite tool doc examples from @vdauwera NOW in her SOP doc.
Spreadsheet from @sooheelee ~~to be~~ posted [here](https://docs.google.com/a/b

[2017-11-20 13:18] #3816 closed

[2017-11-20 15:54] #1812 closed

[2017-11-20 16:52] jonn-smith opened #3857 "Funcotator - Benchmark it and compare to Oncotator"

[2017-11-20 18:55] jonn-smith opened #3859 "Funcotator - implement GC content annotation."
Need to implement the GC content annotation.

This is calculated by taking the region consisting of a window 200 bases to either side of a variant locus and calculating the percentage of bases in that window that are G or C.

[2017-11-20 19:43] samuelklee commented on #3859
Note that there is an AnnotateIntervals tool in the CNV pipeline (awaiting review in sl_denoising) that will output a TSV with column headers CONTIG, START, END, and  GC_CONTENT.  It takes -L, which can do the padding for you.

If this doesn't exactly fit the bill for you, then it's probably best if you roll your own implementation rather than modify or refactor that code---should be easy enough.

[2017-11-20 20:21] droazen commented on #3840
@tomwhite When you get a chance, could you have a look at this?

[2017-11-20 20:22] jonn-smith commented on #3859
Interesting.  I'll take a quick look at it.

[2017-11-20 20:28] samuelklee commented on #3859
Actually, oops---I forgot that we enforce no padding via -L, since we have a separate tool in the pipeline, PreprocessIntervals, that is responsible for the padding; i.e., PreprocessIntervals -> AnnotateIntervals -> ... is at the beginning of our pipelines.

[2017-11-20 20:31] jonn-smith opened #3860 "Nucleotide.java and BaseUtils.java duplicate functionality"
There are a lot of duplicated data structures and functionalities in `Nucleotide.java` and `BaseUtils.java`.  These two should be merged together such that the `base` data structures and methods are deduplicated.

[2017-11-20 21:00] chandrans commented on #3844
@Masber Hi. We have a GATK forum where you can post questions. gatkforums.broadinstitute.org/categories/ask-the-team

[2017-11-20 21:24] lbergelson opened #3861 "add large scale test for sampleMap renaming"

[2017-11-20 21:27] droazen commented on #3840
Note that there is a disabled test in `DataprocIntegrationTest` that should be re-enabled once this is fixed. (The test was introduced in https://github.com/broadinstitute/gatk/pull/3767).

[2017-11-20 21:45] lbergelson opened #3862 "gatk jenkins is inaccessible"
If I try to navigate to https://gatk-jenkins.broadinstitute.org/ I get:

[code]

[2017-11-20 21:45] lbergelson commented on #3862
@davidbernick gatk-jenkins seems to be inaccessible right now.  Any chance you could take a look at it?

[2017-11-20 23:15] samuelklee opened #3864 "Throw exceptions for invalid optional input combinations rather than warnings."

[2017-11-20 23:38] sooheelee commented on #3853
I've tentatively categorized the tools and they are listed in speadsheet format at:
### https://docs.google.com/a/broadinstitute.org/spreadsheets/d/19SvP6DHyXewm8Cd47WsM3NUku_czP2rkh4L_6fd-Nac/edit?usp=sharing

- [1]   GATK4 and Picard tool categories are up for discussion. They are meant to be functional and will  be used at  <https://software.broadinstitute.org/gatk/documentation/tooldocs/curren

[2017-11-21 15:24] sooheelee commented on #3853
@vdauwera The tools are categorized and listed in the Google Spreadsheet above. It is waiting for you to assign tech leads to tools for documentation.

One thing that @chandrans brought to my attention is that for BaseRecalibrator one of the parameters (`-bqsr`) actually causes an error. One can no longer generate the 2nd recalibration table with correction on the fly and instead must use the reca

[2017-11-21 15:43] sooheelee commented on #3137
This is left to the developers who will update the tool docs.

[2017-11-21 16:12] sooheelee commented on #3809
This issue is resolved excepting the "make content consistent" bit. This latter aim will be addressed in <https://github.com/broadinstitute/gatk/issues/3853>.

[2017-11-21 16:12] #3809 closed

[2017-11-21 16:12] sooheelee commented on #3847
These are merged.

[2017-11-21 16:12] #3847 closed

[2017-11-21 17:49] sooheelee commented on #2596
<https://github.com/broadinstitute/gatk/issues/3853> is dependent on this issue.

[2017-11-21 18:26] sooheelee commented on #2596
Actually, have used <https://github.com/broadinstitute/gatk/issues/3853> to enlist developer's hands with changing camel to snake case. So #3853 will resolve this issue (#2596).

[2017-11-21 18:38] sooheelee commented on #3853
Geraldine says she is busy catching up this week so I think it best if tech leads assign the tools to members of their teams @droazen @cwhelan @samuelklee @ldgauthier @vruano @yfarjoun @LeeTL1220.

[2017-11-21 18:49] sooheelee commented on #3853
If we can agree on tool categorization sooner than later, this gives @cmnbroad time to engineer any changes that need engineering.

[2017-11-21 18:54] samuelklee commented on #3853
Any chance we could break off legacy CNV tools into their own group?  There are *many* more of them than there will be in the new pipelines---and many of them are experimental, deprecated, unsupported, or for validation only---that I think it makes sense to hide them and perhaps be less stringent about their documentation requirements.  Anything we can do to reduce the support burden before releas

[2017-11-21 19:22] davidbernick commented on #3862
It's up now. Looks like it might have been down for a month! I'll set up an alert on it (we are not actively monitoring non-Prod machines).

[2017-11-21 20:28] davidbernick commented on #3862
I think it's okay now.

[2017-11-21 20:28] #3862 closed

[2017-11-21 21:12] sooheelee commented on #3768
Just tagging @vdauwera and @hensonc.

[2017-11-21 21:49] sooheelee commented on #3853
I just learned that KEBAB case is different from SNAKE case @cmnbroad. To be clear, Geraldine wants KEBAB case that uses hyphens, and not SNAKE case, which uses underscores.

[2017-11-21 22:03] vruano commented on #3853
Since we are going to change many of those argument names (camel-back to kebab-case) I think we should take this opportunity to use constants to specify argument names in the code and use them in our test code so further changes in argument names don't break tests.

Take as an example [CombineReadCounts](https://github.com/broadinstitute/gatk/blob/3ec7399a54ccf89d2b323b2be71b8b7e4931174c/src/main/

[2017-11-21 22:16] sooheelee commented on #3853
@samuelklee Because our repo is open-source, even if we hide them from the docs, users end up asking questions on them. So no to hiding any tool that is in the repo.

- More importantly, it is good to have documentation for our own selves for these tools that we use internally or legacy tools. Once a developer leaves, this is all that typically remains for the rest of us that may have to answer fo

[2017-11-21 22:17] sooheelee commented on #2596
@vdauwera Developers are asking for specifics on the KEBAB convention. Is there a document that outlines the rules, e.g. POSIX conventions?

[2017-11-21 22:52] samuelklee commented on #3853
Fair points.  I agree that legacy tools/versions that are part of a canonical or relatively widely used pipeline should have good documentation.

However, there are many of the CNV tools that are basically prototypes---they have never been part of a pipeline, have no tutorial materials, and the chances that any external users have actually used them are probably extremely low.  The sooner they are

[2017-11-21 22:59] vdauwera commented on #3853
#### Hiding / deprecating tools and their docs

@samuelklee To add to @sooheelee's answer, if there are any tools that you definitely want gone and already have a replacement for, I would encourage you to kill them off (ie delete from the code) before the 4.0 launch. While we're still in beta we can remove anything at the drop of a hat.  Once 4.0 is out, we'll have a deprecation policy (exact deta

[2017-11-21 23:07] vdauwera commented on #3853
#### Guidelines for converting arguments to kebab case

We're not following an external spec doc, so here some guidelines to follow instead. Keep in mind that the main thing we're going for here is readability and consistency across tools, not absolute purity, so feel free to raise discussion on any cases where you feel the guidelines should be relaxed. Some things are more negotiable than others.

[2017-11-21 23:10] vdauwera commented on #3853
#### Using constants for argument names

Sounds like a fantastic idea -- I encourage everyone to follow @vruano's lead on this one.

[2017-11-21 23:11] samuelklee commented on #3853
OK, great---I'll issue some PRs to delete some of the prototype tools soon and update the spreadsheet.  A non-CNV specific Deprecated program group seems reasonable to me if there is enough demand.  If this is the only way to delineate the legacy CNV + ACNV pipeline from the new pipeline, I'm OK with it---but we should probably make the situation clear at any workshops, presentations, etc. between

[2017-11-22 03:10] davidbenjamin commented on #3808
@jhl667 Thanks for the example file and I think I have the answer.  The majority of read pairs in these data are overlapping at the variant; that is, both the forward and reverse strand reads cover it.  Mutect, correctly, doesn't count a single fragment as two independent pieces of evidence, so it discards one of the reads before making and annotating the variant call.

The coverage of 820 is, the

[2017-11-22 05:03] jhl667 commented on #3808
@davidbenjamin You know what, I was just having this conversation about counting pairs vs directional reads with a colleague about an unrelated project!  This must be the issue, since it is something that exists across all samples.  Definitely a reasonable way to count, in fact I prefer it over the example from the other variant caller I gave.  In our process, this would happen even more often sin

[2017-11-22 05:03] #3808 closed

[2017-11-22 09:24] magicDGS commented on #3853
I propose to still hide from the command line and docs the example walkers. They are meant only for developers, to show how to use some kind of walkers and have a running tool for integration tests. Having then in the command line will generate software users to run them instead of use them for developmental purposes...

In addition, I think that this is a good moment to also generate a sub-module

[2017-11-22 14:37] cmnbroad commented on #3853
A couple of comments:

- If we're going to add a generic "Deprecated" program group, it should be added in Picard rather than GATK, so it can be used by both. If its defined in GATK, Picard can't use it, and deprecated Picard tools won't be grouped with deprecated GATK tools (we currently have this situation with the SAM/BAM group and the VCF group - the Picard tools are grouped separately from th

[2017-11-22 17:06] ldgauthier commented on #3769
@sooheelee Where would I find the proposed documentation for the germline SNP & INDEL joint calling best practices?  I have a sneaking suspicion that they're not up to date with what we actually do, esp. hard filtering on ExcessHet.  And if it is up to date, then the InbreedingCoeff docs should be updated.

[2017-11-22 20:10] #16 closed

[2017-11-22 21:26] ldgauthier commented on #3853
To clarify the build process noted above "view local index in browser" means open the index.html file at gatk/build/docs/gatkdoc/

[2017-11-22 22:12] #3534 closed

[2017-11-24 16:56] P4sm opened #3870 "Is the GATK resource bundle data outdated?"
The version of dbSNP at the research bundle is 138 for hg19 (updated 8.12.2013), but the latest dbSNP version is 150: [https://www.ncbi.nlm.nih.gov/projects/SNP/snp_summary.cgi?view+summary=view+summary&build_id=150](url) . Is it going to affect my results much if I use 138 instead of 150?

[2017-11-27 18:39] tedsharpe opened #3874 "SV pipeline tries to create illegal interval"
running wgs1 with current code in master, we get the following stack trace:

Caused by: java.lang.IllegalArgumentException: Invalid interval. Contig:chrUn_JTFH01001938v1_decoy start:0 end:0
	at org.broadinstitute.hellbender.utils.Utils.validateArg(Utils.java:686)
	at org.broadinstitute.hellbender.utils.SimpleInterval.validatePositions(SimpleInterval.java:60)
	at org.broadinstitute.hellbender.utils

[2017-11-27 18:40] jamesemery opened #3875 "FilterByOrientationBias reuses the '-A' argument for '--artifactModes'"
It seems that the tool `FilterByOrientationBias` has the argument `--artifactModes` which has the command line abbreviation `-A`. Unfortunately this abbreviation collides with the enshrined `-A` abbreviation for `--annotation` for tools that deal with variants. I would propose we change the argument to `-AM` to avoid naming collisions. If we want to make this change, we should probably do it soon

[2017-11-27 18:41] jamesemery commented on #3875
@LeeTL1220

[2017-11-27 18:42] cwhelan commented on #3874
@SHuang-Broad could this be related to the changes you made in #3571 ?

[2017-11-27 19:30] sooheelee opened #3878 "How to run the entire pipeline (using even Spark tools) from Java?"
What is the best Sparkified way to recapitulate our germline Best Practices workflow? Is there one pipeline that encompasses all steps from BWA alignment to HaplotypeCaller calling?

Please see forum thread as I have answered the user question tentatively.

---
Hi @shlee ,
I am really sorry for the delay but I was busy in the last weeks.

Anyway I will try to be clearer with this picture:

![](htt

[2017-11-27 19:32] sooheelee commented on #3878
Tagging @tedsharpe as I know you have worked on these pipelines.

[2017-11-27 19:43] tedsharpe commented on #3878
I think maybe ReadsPipelineSpark runs this entire pipeline as a single tool.  There has been some recent work to go from an unaligned BAM through all these steps, but I think maybe that's not yet merged.  I think the current tool goes from an aligned BAM.  More authoritative info will have to come from the engine team, I'm afraid.

[2017-11-27 19:50] sooheelee commented on #3878
Thanks Ted. I will ask @lbergelson then since he is in charge of Spark tools.

[2017-11-27 20:01] sooheelee commented on #3853
We need standard arguments to show up in the documentation for both Picard and GATK. Can @droazen or  @cmnbroad please let me know this is happening?

[2017-11-27 21:12] cmnbroad commented on #3853
The standard arguments for each tool are listed with that tool's arguments (if you look at the doc for a particular tool, you'll see an "Optional Common Arguments" heading, with the shared, common arguments listed there).

The GATK4  doc system doesn't generate a separate page for these like GATK3 did, and I think doing so would be of questionable value, since there are several classes of tools, e

[2017-11-27 21:29] #2797 closed

[2017-11-27 21:42] #3756 closed

[2017-11-27 22:29] sooheelee commented on #3853
@cmnbroad

Sounds like we don't want separate documents for standard arguments and this was decided some time ago by @droazen and @vdauwera. So am I correctly hearing that these can be removed from the list?

[2017-11-27 22:55] sooheelee commented on #3853
Tally of tools (excludes filters/annotations) :
[code]

Per category:

category (14) | number of tools (221)
-- | --
Reference | 6
Base Calling | 7
Diagnostics and Quality   Control | 49
Contamination | 7
Intervals Manipulation | 11
Read Data Manipulation | 46
Alignment, Duplicate flagging and BQSR | 16
Short Variant Discovery | 8
Short Variant Filtering | 7
Short Variant Manipulation | 17
Short V

[2017-11-27 23:03] sooheelee commented on #3853
## Call for any objections/changes to the classification scheme
As we need to start implementing the functional organization.
This will change Picard tool organization @yfarjoun.

[2017-11-28 01:06] #3875 closed

[2017-11-28 04:52] yfarjoun commented on #3853
I'm not sure I agree with the "short variant filtering" and "short variant
manipulation" and "Short Variant Evaluation and Refinement" definitions.
For example FixVcfHeader has nothing to do with "short variants" and
everything to do with VCF. you could put a SV into a VCF and then fix its
header with the tool. similarly you could filter a vcf that has "large"
variants in it...also, "count variant

[2017-11-28 08:12] jiadong324 opened #3881 "get read depth per base using source code"
I am trying to use GATK source code to get read depth at a base, what should I do?

As far as I know, there is a simpleInterval class I can use to pass the genome region I want to inspect. But I don't know where should I pass the simpleInterval and get the read depth.

Thanks!

[2017-11-28 13:55] samuelklee commented on #3853
Some of the CNV tools are miscategorized: GetHetCoverage + tools in the "Intervals Manipulation" category.  The latter should probably be considered CNV-specific because they either use the target-file format (which is only used in the legacy CNV + ACNV pipeline) or perform a task that is specific to the CNV pipeline and probably not of general interest (PreprocessIntervals).

[2017-11-28 14:59] droazen commented on #1880
@jamesemery @ldgauthier suggests that the annotations that accept founder IDs should take a pedigree (.ped) file as an argument, and use the ped file to generate the founder IDs itself, instead of requiring the user to create a file with the founder IDs manually.

[2017-11-28 15:18] droazen opened #3883 "AssemblyRegionWalker doesn't respect ReadTransformer settings"
`AssemblyRegionWalker` doesn't call `getTransformedReadStream()` from `GATKTool`, and therefore doesn't respect `ReadTransformer` settings. This should be fixed to be consistent with `ReadWalker` and `LocusWalker`

[2017-11-28 15:23] cwhelan commented on #3874
@SHuang-Broad I'm going to try to take a crack at fixing this because it's breaking the main pipeline. Let me know if you're also working on it.

[2017-11-28 16:05] samuelklee opened #3884 "Eliminate one of redundant SimpleAnnotatedGenomicRegion and AnnotatedInterval classes."

[2017-11-28 16:07] cwhelan commented on #3874
Here's a little assemblies.sam file that reproduces the problem when run through `DiscoverVariantsFromContigAlignmentsSAMSpark`

[2017-11-28 16:45] lbergelson commented on #3881
It's not exactly clear what you're trying to do here.  Are you trying to write a new tool that just gets the per base read depth?  If that's what you want to do you would start by implementing a new `LocusWalker`.  In the `apply` method you implement you can check `alignmentContext.size()` to get the pileup depth at each locus.

[2017-11-28 18:03] jonn-smith commented on #3758
For now we'll use tribble to index the locatable *SV sources.  For gene name / transcript ID indexed files, we will use simple maps (key -> annotation list) for now.

Down the road we may explore methods to speed this up, maybe with a database.

[2017-11-28 18:03] #3758 closed

[2017-11-28 18:24] #3153 closed

[2017-11-28 18:24] #3246 closed

[2017-11-28 18:24] #3349 closed

[2017-11-28 18:24] #3356 closed

[2017-11-28 18:24] #3570 closed

[2017-11-28 18:58] cwhelan commented on #3874
Here's a debugging report so far:

A small unit test that reproduces the error if added to `NovelAdjacencyReferenceLocationsUnitTest`:

[code]

In versions of the code prior to #3752  (I think) this set of alignments was being filtered out by the method `isNotSimpleTranslocation` in the `parseOneContig` method of `ChimericAlignment`. Now that check's logic has changed and `isLikelySimpleTranslocat

[2017-11-28 21:35] sooheelee commented on #3853
@yfarjoun Geraldine has promised to followup on the categorization discussion.
@samuelklee Remember that the Best Practice Workflows and related documentation will guide folks to which tools to use for each workflow. The tool docs section is meant to categorize based on function and is purposefully workflow-agnostic.

[2017-11-28 21:45] samuelklee commented on #3853
That's fine, but my point is that these tools will almost certainly be used *only* in the CNV workflows due to their limited function (or reliance on CNV-specific file formats).  Workflow-agnostic categorization is great for general tools that might be shared by several workflows, but I think it's somewhat misleading here.

Essentially, this is the opposite of the issue that @yfarjoun pointed out

[2017-11-28 22:43] lbergelson commented on #3870
@P4sm That's a good question, but you should ask it at the [gatk forums](https://gatkforums.broadinstitute.org/gatk/) instead of here.

This issue tracker is only for gatk4 development and bug reports.   The forum is intended for more general questions like this.  Someone there should be able to help you.

[2017-11-28 22:43] #3870 closed

[2017-11-29 06:38] SHuang-Broad commented on #3874
@cwhelan and @tedsharpe .
Somehow this slipped through my attention yesterday when I was scanning through tickets and PRs. I apologize for the delay.

I've identified where the problem is, and is about to issue the fixing PR in a minute.

Basically, the problem is that this particular assembly contig (more specifically, the last two mappings to the same alt reference "chromosome") should be filter

[2017-11-29 18:39] #3874 closed

[2017-11-29 21:17] samuelklee commented on #3826
@vdauwera We will try to have some preliminary slides/evaluations for you for both of the new pipelines, if you'd like to include them in your retreat talk---nothing too technical or detailed, mostly for marketing purposes.  Let us know when you'd need things finalized by.

[2017-11-29 21:23] samuelklee opened #3887 "Delete old CNV tools."
These can almost definitely go:
CalculatePulldownPhasePosteriors
PerformAlleleFractionSegmentation
PerformCopyRatioSegmentation
PerformJointSegmentation
XHMMSegmentCaller
XHMMSegmentGenotyper

@mbabadi will touch base with Monkol, but we think these can go:
TargetCoverageSexGenotyper
GermlineCNVCaller

Not sure about these germline validation tools, let me know:
ConvertGSVariantsToSegments
Evaluat

[2017-11-29 21:26] samuelklee commented on #3887
@mbabadi @MartonKN @asmirnov239 Here's the list of tools for deletion.  Go ahead and assign yourselves to others for docs duty, starting with our own.

[2017-11-29 22:10] sooheelee commented on #3853
@vdauwera @ldgauthier, could either or both of you help your fellow developers out with what you consider an A+ tool doc? @mwalker174 and others have asked for this. It would help those new to GATK tool documentation immensely.

[2017-11-29 22:27] skwalker opened #3888 "null pointer exception in haplotype caller in genotype given alleles mode"
as part of the GATK4 HC [tieout](https://github.com/broadinstitute/gatk/issues/1640), I seem to be getting a null pointer exception when running in GENOTYPE_GIVEN_ALLELES mode.

[gatk4.NexPond-359781.l.allele.txt](https://github.com/broadinstitute/gatk/files/1515774/gatk4.NexPond-359781.l.allele.txt)

@droazen

[2017-11-29 23:53] sooheelee commented on #3853
@ldgauthier says [CalculateGenotypePosteriors](https://software.broadinstitute.org/gatk/documentation/tooldocs/current/org_broadinstitute_gatk_tools_walkers_variantutils_CalculateGenotypePosteriors.php) is solid and [VariantsToTable](https://software.broadinstitute.org/gatk/documentation/tooldocs/current/org_broadinstitute_gatk_tools_walkers_variantutils_VariantsToTable.php) and, again, [SelectVar

[2017-11-30 01:40] yfarjoun commented on #3853
(my emphasis)

what abotu Piacrd tools? I don't think it is appropriate for them to have `gatk` in the commandline...can this be clarified please?

[2017-11-30 10:04] slw287r opened #3889 "GATK4beta6 CalculateContamination gives >100% results"
Note that matched sample is also supplied (-matched)

The following QQ plot shows the contamination results of both GATK3.8 and GATK4beta6

![gatk34](https://user-images.githubusercontent.com/4134899/33425113-b726b62c-d5f8-11e7-860e-bef2de1de2c6.png)

[2017-11-30 10:13] SHuang-Broad opened #3890 "merge prototyping SV breakpoint and type inference tool into SV spark pipeline"
First with a flag in the tool that allows user to choose which code path to use, the existing version or the prototyping version.

But the test coverage is still low and should be improved.

[2017-11-30 13:31] cmnbroad commented on #3692
@lucidtronix @mbabadi @samuelklee I think the best solution would be to establish a single, common Python environment, with a single set of dependencies, that all GATK Python tools depend on. We would establish a single docker image that has all of these dependencies pip installed, and could also include a conda env for the GATK environment for users who don't want to use the docker image.

If we

[2017-11-30 14:18] sooheelee commented on #3853
@yfarjoun Any Picard tool involved in the Best Practices, as defined by those tools in the WDL scripts at <https://github.com/gatk-workflows>, should (also) have a command that uses the `gatk` script to launch the tool. This is what Geraldine conveyed previously and I tentatively made a list of such tools in the second spreadsheet `picard-tools-by-interest`, under [A]. All other Picard tools can k

[2017-11-30 14:45] samuelklee commented on #3692
This sounds good to start.  I think a common environment will make things much easier for users as well.  We may get into a scenario where we are forced to manage environments in the future, but we can punt until then.

Would be great if we can get this up and running on Travis as soon as possible, as I have some gCNV WDL tests that are a bit of a pain to run locally.

[2017-11-30 15:25] yfarjoun commented on #3853
hmmm. I doubt it will go down well with the maintainers of PICARD to have
"gatk" written as an example of how to use the tool....I think that this
isn't a good solution, and I don't think that it will pass review in the
picard reository...I do not feel comfortable opening a PR that does this...

On Thu, Nov 30, 2017 at 9:18 AM, sooheelee <notifications@github.com> wrote:

[2017-11-30 15:29] lbergelson commented on #3889
@davidbenjamin Could you take a look at this or pass it to whoever is the best person?

[2017-11-30 15:53] davidbenjamin commented on #3889
@slw287r @lbergelson Contamination estimation has two distinct goals: 1) QC to flag a bam if contamination is too high.  If contamination is > 10% or even 5% the bam is pretty useless for most somatic variant calling and so we're not really concerned about getting the exact value.  2) If the contamination is low, get a precise value in order to know which low variant allele fraction calls should b

[2017-11-30 16:24] SHuang-Broad opened #3894 "Homology annotation gone in prototyping SV breakpoint and type inference tool"
Because of the de-overlapping step
[here](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/spark/sv/discovery/prototype/AssemblyContigAlignmentSignatureClassifier.java#L107)

The reason was to remove overlaps on the read between two alignments so that inverted duplications are not accidentally called and the inverted duplicated region is minimal.

[2017-11-30 17:52] jonn-smith opened #3895 "Funcotator - Must preserve other VCF fields / annotations"
Funcotator currently is only preserving the "FORMAT" field from given annoations in a VCF file when producing VCF output.

It must preserve all existing columns in the VCF when creating funcotations on a VCF file.

[2017-11-30 17:57] jonn-smith opened #3896 "Funcotator - Multialleleic variants have merged funcotations only on the last allele"
When given a multiallelic variant, funcotator is currently correctly producing Gencode annotations.  However any additional annotations from CSV/TSV/other files are only added to the last allele, as opposed to all of them that match.

[2017-11-30 19:18] jonn-smith commented on #3896
One way would be to associate each funcotation to each ref/allele pair and merge those pair lists together to form the actual funcotations.

[2017-11-30 19:35] jonn-smith opened #3898 "Funcotator - Create a new Codec for Locatable XSV files"
This codec should check for the existence of a config file next to the specified file which will inform the parser of the columns from which to parse the `contig`, `start`, and `end` locations from columns.

[2017-11-30 20:08] sooheelee opened #3899 "Can we have environmental variable + symlink in Docker please?"
I have the following instruction in a handson tutorial:
[code]

@vdauwera says:
[code]
My reply:
[code]
@vdauwera requests:
[code]

Could we have both an environmental variable and a symlink that invokes the launch script in the Docker from any location? Thanks.

[2017-12-01 00:36] sooheelee commented on #3853
I hope @vdauwera's visit at the Methods meeting addressed concerns @yfarjoun.

[2017-12-01 01:07] slw287r commented on #3889
thanks a lot.

[2017-12-01 01:48] yfarjoun commented on #3853
It did, thanks!

On Thu, Nov 30, 2017 at 7:36 PM, sooheelee <notifications@github.com> wrote:

[2017-12-01 10:37] magicDGS opened #3900 "Generate different artifacts/modules for different project components"
The current GATK framework is increasing in size and functionality a lot (engine, CNV, different tools, etc.). For example, the gCNV code from #3838, will include a full python framework to be use in conjunction with the GATK CNV code. In gatk3, different artifacts were generated to allow custom picking of the correct dependencies. With gradle, a composite build can be done to assemble together ev

[2017-12-01 10:43] magicDGS commented on #3646
Fixed in https://github.com/broadinstitute/barclay/pull/98 and https://github.com/broadinstitute/gatk/pull/3804

[2017-12-01 10:43] #3646 closed

[2017-12-01 12:54] samuelklee commented on #3887
@mbabadi Can you let me know about the validation tools today?

[2017-12-01 13:26] jiadong324 commented on #3881
@lbergelson Thanks for your answer. I am implementing some algorithm for research purpose. And per base read depth is a value I want to use. I've already figure out a way to calculate.

[2017-12-01 14:00] samuelklee opened #3902 "Delete unused CNV test resources."
See #3905.

[2017-12-01 14:08] cmnbroad commented on #3900
@magicDGS I agree there would be some value in having finer grained artifacts - I would probably propose something somewhere in between what we have now and what you propose. But I suspect its not something that can happen for the initial release, which is approaching pretty quickly. Others may have a different opinion.

[2017-12-01 15:43] samuelklee opened #3904 "Rename FASTA test files?"
Are some of the FASTA test files misnamed?  For example, src/test/resources/large/human_g1k_v37.20.21.fasta seems to only include chr20, but the associated dict and fai include chr21 as well.  Is this intentional?

[2017-12-01 15:44] cmnbroad commented on #3692
@lucidtronix Does the above outlined proposal for establishing a common environment work for you ? I think there are a bunch of other dependencies we need to include for one or the other of the tools, but I think this lists the common ones (plus Theano/Tensorflow).

[2017-12-01 15:47] samuelklee commented on #3692
@mbabadi Can you comment on which version of mkl-service we'll need to remove that Theano warning in gCNV?

[2017-12-01 16:20] samuelklee opened #3905 "Cleanup unused test files."
The following one-liner (which I Googled, so I cannot vouch that this is the best way to do things) revealed 245Mb of files that are unused in master:

    for ff in `find src/test/resources -name "*"`; do file=`basename $ff`; git grep -l $file >/dev/null; rcode=$?; if [[ $rcode -ne 0 ]]; then echo $ff; fi; done

Note I didn't search in all branches, but I figure we can always recommit those files

[2017-12-01 16:39] cmnbroad commented on #3692
The other issue we need to resolve is the one @samuelklee mentioned [here](https://github.com/broadinstitute/gatk/pull/3838#issuecomment-348073948), which is how to install/distribute our own Python packages (i.e., gCNV kernel and CNN-vqsr). Assuming the common environment doesn't change frequently, it can probably be baked right into the base docker image, but since we want the Python code to liv

[2017-12-01 16:45] lbergelson commented on #3904
seriously?  that seems really wrong. we have a ton of tests that rely on that file too...

[2017-12-01 16:46] lbergelson commented on #3904
My copy has 20 and 21.  They're just `20` and `21`, not `chr20` and `chr21`, maybe that messed up your search?

[2017-12-01 16:58] samuelklee commented on #3904
I’m an idiot.  You’re correct.

[2017-12-01 16:58] #3904 closed

[2017-12-01 17:20] jonn-smith opened #3906 "Funncotator - Need some built-in / packaged test datasources"
Need to add in test data sources to the test resources for Funcotator.

[2017-12-01 19:07] samuelklee commented on #3905
Hmm, I think we'll also have to check for files that are duplicated in our resources.

[2017-12-01 19:28] droazen commented on #3905
@samuelklee This is a very dangerous/misleading check! Most of the files in your list are actually in use in the test suite, and their presence is inferred from the path to the file(s) they are associated with. For example, vcf index files are loading indirectly by our readers, using the path to the vcf to infer the path to the index.

[2017-12-01 19:32] samuelklee commented on #3905
Yup, I mentioned index files above.  And of course tests should still pass after deletion...

[2017-12-01 19:34] droazen commented on #3905
It's not just index files -- many paths to test files are constructed programmatically rather than hardcoded into the source. And some files are used by out-of-band tests, such as our jenkins tests.

[2017-12-01 19:36] samuelklee commented on #3905
Ah OK...well definitely don't delete those, then!

[2017-12-01 19:40] droazen commented on #3905
Closing -- 99% of the files in the list above are actually in use (and I don't want people deleting test data using this approach, as it's not a reliable way of checking for usage of files).

[2017-12-01 19:40] #3905 closed

[2017-12-01 19:52] samuelklee commented on #3905
163 / 643 of them were CNV test files that I deleted in #3907, which is a shade bit more than 1%... only a small fraction of these are loaded dynamically, which tests will catch (and they have already, now that I check).

I will concede that it is likely that most of the remaining files are index files, etc., but I do see a few more bams, etc. that could stand deletion.

I'm curious as to what the

[2017-12-01 20:30] jonn-smith commented on #3786
PR #3897 added a parser for this and similar data sources.

The data Source itself was added as part of the test suite in the PR for issue #3906.

[2017-12-01 20:31] jonn-smith commented on #3787
PR #3897 added a parser for this and similar data sources.

The data Source itself was added as part of the test suite in PR #3908.

[2017-12-01 20:41] lbergelson commented on #3881
@jiadong324 👍

[2017-12-01 20:41] #3881 closed

[2017-12-03 21:26] jjfarrell opened #3909 "SparkGenomeReadCounts Error on bai file check"
The following command generates an error.  Other spark programs work when specifying hdfs://scc/user/farrell/adsp/bams/SRR990385.bam as the input. It seems to be having a problem with testing for the presence of the SRR990385.bai file which is present.  I tried running the command with hdfs://scc:**8020**/user/farrell/adsp/bams/SRR990385.bam and that works.

`/share/pkg/gatk/4.beta.5/install/bin/g

[2017-12-04 17:10] mbabadi commented on #3887
@samuelklee just wrote to Monkol.

[2017-12-04 17:24] sooheelee commented on #3853
Geraldine posted an SOP to <https://docs.google.com/a/broadinstitute.org/document/d/1r1AV4yWP4_vNmniUDR5LojihuggMDI2OnEpfRiYyvdk/edit?usp=sharing>.

[2017-12-04 17:32] #3887 closed

[2017-12-04 17:35] sooheelee commented on #3853
Just a reminder tech leads  @droazen @cwhelan @samuelklee @ldgauthier @vruano @yfarjoun @LeeTL1220 @cmnbroad , that the tool doc updates need to be done, reviewed and merged as soon as possible. Please assign your people tools to update if you haven't already and let us know the status of the changes in the STATUS column of [the spreadsheet](https://docs.google.com/a/broadinstitute.org/spreadsheet

[2017-12-04 17:55] samuelklee commented on #3853
@sooheelee Some updates from CNV:

I told my team to hold off on doc updates until we can finalize tool deletions.  The first round of CNV tool deletions was just merged in #3903.

Another round may be coming, pending discussions with @vdauwera and @LeeTL1220.  This could potentially remove the entire old somatic workflow.  If so, then the tools that we'd need to update for release would be:

Prep

[2017-12-04 18:01] samuelklee commented on #3853
Also, note that 10 tools were deleted in #3903 and 17 could potentially be deleted in the next round, so *everybody's* quota should go down accordingly.

[2017-12-04 18:54] cwhelan commented on #3853
I moved the tool ParallelCopyGCSDirectoryIntoHDFSSpark to the `other` category since it's just a data movement utility that's not really tied to any pipeline. Hope that's OK.

[2017-12-04 18:57] cwhelan commented on #3853
Does anyone have thoughts about or examples of what a command line example for a spark tool should look like? In particular I'm wondering what we should put for the Spark-cluster specific parameters that come after the `--` separator, like `sparkRunner`, etc.

[2017-12-04 19:08] droazen commented on #3853
I don't think we can rename the Spark cluster arguments @cwhelan -- most of these "pass through" to the underlying `spark-submit`/`gcloud` command.

[2017-12-04 19:11] cwhelan commented on #3853
@droazen No, wasn't suggesting renaming the args themselves, I just was wondering what kind of example values we should pass in the usage example. For example, is it OK to pretend your usage example is running on a dataproc cluster, eg `-- --sparkRunner GCS --cluster my-dataproc-cluster`.

[2017-12-04 20:10] mwalker174 commented on #3853
@sooheelee I have a suggestion regarding categories. Can we change "Contamination" to "Metagenomics" and perhaps move the "CalculateContamination" tool to the "Diagnostics and Quality Control" category?

IMO, contamination has a connotation of introducing foreign matter unintentionally. Strictly speaking, PathSeq is not just for detecting sample contaminants but also endogenous organisms in variou

[2017-12-04 20:50] sooheelee commented on #3853
@samuelklee Thank you for reducing the tool count. It is now 211 (~10.5 per developer assuming 20 able bodies) and could soon be 194 (~10 per developer). I appreciate you keeping us posted and hope to hear back soon about the other tools.

@cwhelan Thanks for moving the tool to the `other` category. I definitely mis-categorized that one. As for spark parameter examples, yours looks good and compli

[2017-12-04 20:56] sooheelee commented on #3853
@mwalker174 Thank you for your suggestion. I will take it and incorporate it now into the spreadsheet. `Metagenomics` certainly has a more positive connotation to it than `Contamination`. If anyone objects, please let us know here (@davidbenjamin?).

[2017-12-04 21:25] sooheelee commented on #3853
@yfarjoun I have renamed three categories:

short variant filtering --> variant filtering
short variant manipulation --> VCF manipulation
Short Variant Evaluation and Refinement --> Variant Evaluation and Refinement

I also switched the category ordering of the last two, which the forum will reflect (asterisked switched):
...
Short Variant Discovery
Variant Filtering
Variant Evaluation and Refinem

[2017-12-04 21:28] sooheelee commented on #3853
Picard LiftoverVcf and RemoveNearbyIndels are not best described by `VCF Manipulation`but rather could be fit under `Variant Evaluation and Refinement` but I will leave them as is.

[2017-12-04 21:38] sooheelee commented on #3853
Looks like someone added a new 15th category: RNA-specific Tools.
Two tools under this category are:

- ASEReadCounter
- SplitNCigarReads

@vdauwera fyi is this okay with you?

[2017-12-04 22:11] sooheelee commented on #3853
Based on Geraldine's suggestion created new category `Coverage Analysis`.

Since ASEReadCounter fits under this category, alongside:
[code]

I have deleted the RNA-specific Tools category and moved SplitNCigarReads back to `Read Data Manipulation`.

[2017-12-04 22:16] vdauwera commented on #3853
@cwhelan Good question about the spark arguments. Can you please post a command showing how you typically use spark args, and we can discuss how to make that as generic as possible?

[2017-12-04 23:43] samuelklee commented on #3853
@sooheelee We've decided to delete the old tools.  I will issue a PR soon.  Hopefully this lightens the load on everyone a bit!

Incidentally, I would be fine with adding the tools `CollectFragmentCounts` and `CollectAllelicCounts` to the `CoverageAnalysis` category, as they are performing relatively generic tasks that fall in that category.  (with the caveat that the output formats contain column

[2017-12-05 01:39] davidbenjamin commented on #3853
@sooheelee I like this idea from @mwalker174.

[2017-12-05 05:02] #3902 closed

[2017-12-05 14:27] yfarjoun commented on #3853
Could you help us test our changes? how do I know that the documentation efforts worked? please inform picard and gatk efforts...

[2017-12-05 14:55] yfarjoun commented on #3853
Another question:

In picard it is customary to have a `@author` line, but it seems weird to have that show up in the actual documentation....there seem to be several options:

1. Put the `@author` comment in a separate comment that doesn't get used in the docs (how?)
2. Make the doc scripts strip out `@author` lines (can you do that?)
3. Leave the `@author` lines in the documentation (seems odd)

[2017-12-05 15:36] sooheelee commented on #3853
I'm at the GATK workshop all day and can get to this this evening.

[2017-12-05 15:40] samuelklee opened #3915 "Refactor het genotyping code in ModelSegments."

[2017-12-05 15:58] yfarjoun commented on #3853
`Reference` doesn't seem to be a class that implements `CommandLineProgramGroup` in Picard. given the group effort involved I suggest that adding these groups will be done centrally.

[2017-12-05 16:01] samuelklee opened #3916 "Add a few more tests to ModelSegments pipeline."
Namely MultidimensionalKernelSegmenterUnitTest and ModelSegmentsIntegrationTest.  Note that the Cromwell tests already essentially serve as integration tests and that the pipeline has already been through several preliminary evaluations without any issues.

[2017-12-05 16:06] davidbenjamin commented on #3915
@samuelklee These are good goals.

[2017-12-05 16:14] samuelklee commented on #3566
@LeeTL1220 We'll need to add Oncotator back to the ModelSegments at some point, correct?

[2017-12-05 16:15] cmnbroad commented on #3853
I don't think the `@author` tags will show up in the doc; they generally don't show up in javadoc, and our doc system doesn't include them in the generated doc.`@author` tags are a bit sketchy to begin with, because they're block tags, so the extend all the way to the start of the next tag. But since they're stripped out, putting such a tag at the start of the javadoc can result in everything afte

[2017-12-05 16:18] LeeTL1220 commented on #3566
@samuelklee Yes, ASAP, we cannot support our internal TAG use cases without it.

[2017-12-05 16:23] samuelklee commented on #3566
OK.  The only issue I see is converting from ModelSegments output back to the old column headers.  I'd rather not have Java code for this if we can take care of it on the Oncotator side.  Or perhaps even just a bash one-liner in the WDL.

[2017-12-05 16:27] samuelklee commented on #3763
@lbergelson I forgot about this low hanging fruit.  Any chance that you can take care of it?

[2017-12-05 16:27] cwhelan commented on #3853
@vdauwera when running spark tools through the gatk-launch-soon-to-be-just-gatk script, you use a `--` to separate arguments to the specific tool you're running from arguments that describe what sort of Spark setup you're trying to submit the job to. The most important of these is probably `sparkRunner`, which says what type of spark cluster you're using: `LOCAL` indicates that you want to simulat

[2017-12-05 17:10] LeeTL1220 commented on #3566
@samuelklee Fine by me

[2017-12-05 18:55] sooheelee commented on #3853
@samuelklee, thanks for the update and suggestion. I moved CollectAllelicCounts to the `Coverage Analysis` category. CollectFragmentCounts isn't on the list currently so I added it to the same. I hope I'm not missing a bunch of other new tools given I missed this one.

@yfarjoun
- You are now in charge of deciding whether we should include authorship in code. What the Comms team wants is for autho

[2017-12-05 19:04] yfarjoun commented on #3853
I just pushed a branch:
https://github.com/broadinstitute/picard/tree/yf_documentation_update we
can use that for initial testing.

On Tue, Dec 5, 2017 at 1:56 PM, sooheelee <notifications@github.com> wrote:

[2017-12-05 20:16] cmnbroad commented on #3853
@vdauwera @sooheelee I just noticed a [PR](https://github.com/broadinstitute/gatk/pull/3917/files) that has a command line usage example embedded in the "usageExample" field of the CommandLineProgramProperties annotation. I'm not sure if this was part of the SOP (I didn't see it mentioned), but that field is [not integrated](https://github.com/broadinstitute/barclay/issues/10) into either doc or c

[2017-12-05 20:40] jonn-smith opened #3919 "Funcotator - Refactor Funcotation class to use a HashMap for each field"
It would be better if in addition to / instead of the getter/setter scheme that exists with current `Funcotation` classes we used a `HashMap` to be able to directly get each field by name.  This would allow for more programmatic manipulation of `Funcotation` objects.

[2017-12-05 20:47] jonn-smith opened #3920 "Funcotator should only use `Basic` transcripts"
Funcotator should only create annotations of GENCODE transcripts with the basic tag by default.

[2017-12-05 20:49] jonn-smith commented on #3920
Funcotator should only create annotations of GENCODE transcripts with the `basic` tag by default.

[2017-12-05 22:59] sooheelee commented on #3853
Here is an example of an authorship that does not show up in our docs. IT MUST BE AT THE END OF THE JAVADOC PORTION. Remember @cmnbroad said that otherwise it cuts off the document abruptly. That is, anything that follows the ` * @author Tim Fennell` is omitted from display.

[code]

[2017-12-06 00:26] jonn-smith opened #3922 "Funcotator - Create a MAF Output renderer"
To create output to MAF files, a MAF output renderer must be created in Funcotator.

[2017-12-06 00:38] vruano commented on #3853
Picard docs must reflect Picards command line syntax or their syntax as how it gets exposed thru GATK? I.e.  ```INPUT=XXX``` or ```-I|--INPUT XXX```?

[2017-12-06 02:06] yfarjoun commented on #3853
@vruano: my current understanding is that we will use the "legacy" format in picard, and have the website or some other black magic fix it up. (i.e. INPUT=XXX

[2017-12-06 03:41] sooheelee commented on #3853
It would be nice to have a few Picard tools that we feature in BPWs (e.g. MarkDuplicates) show both syntaxes:

1. java -jar picard.jar ValidateSamFile I=reads.bam MODE=SUMMARY
2. gatk ValidateSamFile -I reads.bam -MODE=SUMMARY

I assume MODE gets one dash and not two, but really I don't know. So having such examples scattered throughout the tool chest for most often used tools would be great.

[2017-12-06 04:46] #3890 closed

[2017-12-06 04:50] sooheelee commented on #3853
I've added a fourth tab 'categories_summaries' to the spreadsheet.

The categories and their summaries are tabulated. @cmnbroad is starting a PR to implement these categories as program groups and in the HelpConstants.

I've written summaries to my own liking and these are up for discussion.
![doc_cat_figure](https://user-images.githubusercontent.com/11543866/33645080-fed91bfa-da16-11e7-8b3a-1a95f

[2017-12-06 13:42] yfarjoun commented on #3853
I think that it would be fine to have both legacy and modern styles in the
examples, but I think having gatk in the picard docs will not pass review.

On Tue, Dec 5, 2017 at 10:41 PM, sooheelee <notifications@github.com> wrote:

[2017-12-06 15:07] jamesemery commented on #3609
In implementing these tests, I have run into https://github.com/samtools/htsjdk/issues/1044, which is waiting on to unblock https://github.com/samtools/htsjdk/pull/1048.

[2017-12-06 15:10] sooheelee commented on #3853
@yfarjoun Do you mean TRAVIS tests or human-review?

[2017-12-06 15:34] sooheelee commented on #3853
@yfarjoun I've built docs from your branch to see what the changes look like. Here's the PicardDoc bundle I've zipped for you: [picarddoc_yossi_test.zip](https://github.com/broadinstitute/gatk/files/1535680/picarddoc_yossi_test.zip). View the rest by loading `index.html` into a browser. Here is one of the tool docs where you can see your changes:
<img width="1099" alt="screenshot 2017-12-06 10 18

[2017-12-06 15:52] sooheelee commented on #3853
Finally, @yfarjoun, to format example commands, which CrossCheckFingerprints doc is currently lacking, here is an example from HaplotypeCaller.

## [A] CSS-transformed forum
<img width="1103" alt="screenshot 2017-12-06 10 48 33" src="https://user-images.githubusercontent.com/11543866/33670531-593c9e08-da73-11e7-87e9-0ecf1a46a63d.png">

## [B] gatkdoc/picarddoc view on browser
<img width="1103" alt

[2017-12-06 17:11] sooheelee commented on #3853
@yfarjoun Since gatkDocs uses the javaDoc portion of the code to generate content, _including the example command_. It cannot pull the example command from elsewhere as @cmnbroad notes above.

[2017-12-06 17:51] vdauwera commented on #3605
I'm assuming that the recent GKL update addresses this, so am closing based on the girl scout principle (find it broken? fix it), but feel free to reopen.

https://github.com/broadinstitute/gatk/pull/3865

[2017-12-06 17:51] #3605 closed

[2017-12-06 17:57] lbergelson opened #3926 "fix the fact that we have 2 similar classes both called ReferenceFileSource"

[2017-12-06 18:03] vruano commented on #3853
I guess we need to do some work on the doclet code, abstract out example code and use templates to transform it into the appropriate format/syntax depending what project is generating the documentation.

Alternatively and only if documentation html is well formed (xhtml like) then in theory we could use XSLT transformation style sheets to convert embedded code example encoded with xml/xhtml into t

[2017-12-06 18:11] ldgauthier opened #3927 "makeGenotypeCall not called correctly in FamilyLikelihoods.java"
The first argument should be ploidy, which is not necessarily equivalent to the number of alleles. This is effectively okay since family likelihoods are only calculated for diploid biallelics, but CGP may handle multi-allelics in the future.

Also discovered that org.broadinstitute.hellbender.tools.walkers.variantutils.CalculateGenotypePosteriorsIntegrationTest.gestFamilyPriorsMixedPloidy has been

[2017-12-06 18:12] sooheelee commented on #3061
I still feel strongly about not using outputs of SplitIntervals with any reassembly caller as these will expand active regions beyond the intervals given. It is thus possible to end up with calls that depend on identical reads. That is, read evidence is being counted twice for different calls and/or we end up with duplicate calls.

[2017-12-06 18:15] sooheelee commented on #3061
@davidbenjamin

[2017-12-06 18:25] sooheelee commented on #3853
Thanks for taking this on @vruano.

[2017-12-06 19:06] lbergelson commented on #2990
This is done already.

[2017-12-06 19:06] #2990 closed

[2017-12-06 19:08] lbergelson commented on #2965
They now take about the same time, we avoid paying the cost of R installation but pay a cost to build the docker instead.

[2017-12-06 19:08] #2965 closed

[2017-12-06 19:12] lbergelson commented on #2719
This was accomplished by mounting the large test files into the docker image at runtime.

[2017-12-06 19:12] #2719 closed

[2017-12-06 19:18] sooheelee commented on #3769
There are none as of yet @ldgauthier. What we do have are WDL-ized pipelines that we will follow at https://github.com/gatk-workflows.

[2017-12-06 19:31] lbergelson opened #3929 "Shrink the docker image"
Our docker image is too big.  Make it smaller.

![image](https://user-images.githubusercontent.com/4700332/33681285-15ff286c-da92-11e7-8389-da2171a3a862.png)

relates too #2720

[2017-12-06 19:32] droazen commented on #3929
In particular, we should not package the full clone of our repo in the docker image (and instead mount it externally during tests).

[2017-12-06 19:34] sooheelee commented on #3769
I just spot-checked the gatk-workflows script for "excesshet" and came up empty so the scripts I'm thinking of are elsewhere and I have asked for this location. In the meanwhile, can I leave updating the InbreedingCoeff docs to you @ldgauthier?

[2017-12-06 19:46] jamesemery opened #3930 "Refactor the docker image to correspond to the minimum necessary for user execution"
Right now our docker image is much larger than it needs to be. This is at least in part because it contains our entire git clone as well as the packaged jars. This is not necessary and could potentially come with it shrinking our docker image substantially.

This change would involve a major refactoring of how we execute our tests through gralde inside the docker image, as removing the test depend

[2017-12-06 21:31] vruano opened #3932 "Picard to GATK command example conversion."
GATK exposes Picard tools thru its command line interface. The usage syntax is different between these two tool kits and so picard code examples in javadocs don't make that much sense when displayed in GATK's own docs.

For now code examples embeded in the Picard repo should stick to picard syntax as a matter of principle. So the solution is to transform those snippets on-the-fly when we generate

[2017-12-06 21:55] vruano commented on #3853
I created a separated issue about this https://github.com/broadinstitute/gatk/issues/3932

[2017-12-06 21:56] droazen commented on #3929
Closing -- dupe of https://github.com/broadinstitute/gatk/issues/3930

[2017-12-06 21:56] #3929 closed

[2017-12-06 23:18] cmnbroad commented on #3932
@vruano If you implement this, you shouldn't have to do any reflection. Just override `addCustomBindings` instead. By that point, the DownWorkUnit property map will already be populated with all of the information about the command line args that was generated by the parser, including names, with dashes and all (you'll have to inspect the map to see the structure - drill down to args, there are "n

[2017-12-07 12:52] AxVE opened #3933 "Spark and deploy-mode"
Hi,
Currently, using spark tools, we can set the runner and master using --sparkRunner and sparkMaster.
However, there is not similar parameter to set the deploy-mode so we have to manually set it using --conf.
For example , the following parameters are currently used in the command-line to run on a yarn+cluster spark environment :
`--sparkRunner SPARK --sparkMaster yarn --conf 'spark.submit.deplo

[2017-12-07 16:17] #3798 closed

[2017-12-07 16:22] lbergelson commented on #3933
@AxVE Have you tried using `--deploy-mode client`?  That's the standard spark-submit option to set deploy-mode, we should passing any unknown spark options directly on to spark submit when using `--sparkRunner SPARK`.

It looks like it won't work when using `--sparkRunner GCS` because it's not in our table of things we translate for GCS, so we should that.

[2017-12-07 16:34] sooheelee commented on #3853
If your PR is ready for review, please copy-paste url to PR like @vruano did for Picard MergeVcfs in the spreadsheet AND/OR tag @sooheelee so I can find it easily.

[2017-12-07 17:30] AxVE commented on #3933
@lbergelson In fact, `--deploy-mode cluster` is the first things I tried. It does not matter where I put it nor if I set either to cluster or client, I always got the following error :

Actually, I just re-checked and i'm not sure my solution `--conf 'spark.submit.deployMode=cluster'` works well. I'm currently testing it.

My current command is:

I need the `-Dmapr.library.flatclass` because our s

[2017-12-07 17:45] AxVE opened #3936 "Spark and mapr"
Hi,
Our spark installation use a mapr filesystem ( hdfs compatible ).
GATK spark tools does not seems to recognize it.
When running the following command:

I got the following error!

As standalone solution, I have to set paths thourgh hdfs which is tricky:

Could it be possible for gatk spark tools to manage maprfs ?

[2017-12-07 19:09] lbergelson commented on #3933
I think the issue might be that you need a ` -- ` between the gatk options on the left, and the spark specific options on the right.  This is a confusing artifact of hour our arg parsing works and the fact thatthe gatk-launch script needs a way of finding the spark options but doesn't have access to our java parser.  (we're planning on fixing that in the near future, but no good time line)

Could

[2017-12-07 19:32] lbergelson commented on #3936
This seems like a consequence of the fact that we use `java.nio.file.Path`for a lot of things in gatk.  This requires a custom `java.nio.file.spi.FileSystemProvider` to be available for each type of path you want to be able to resolve.  Spark native uses `org.apache.hadoop.fs.Path` for a lot of things.  It's seems likely that that maprfs provides a hadoop file system plugin, which many spark appli

[2017-12-07 19:37] lbergelson commented on #3936
I also saw  [something in this thread](https://community.mapr.com/thread/19247-javaioioexception-no-filesystem-for-scheme-maprfs):

If it starts with "maprfs://", it will fail.
Just in case.

I don't think that's the problem you're having, but it might be an additional problem.

[2017-12-07 20:23] vruano commented on #3932
@cmnbroad thanks... that only would work if the example is located in the javadoc on that tool that implement that class. However it is possible that some tool documentation contains examples of other tools command since that tool and the current tool are closely related?

[2017-12-07 20:25] vruano commented on #3932
I guess it is reasonable to require all examples to make no reference to any other tool except the current one.

[2017-12-07 20:43] davidbenjamin commented on #3061
@sooheelee Do we have a known case in GATK4?  I thought we had some code to avoid it but when I recently looked I couldn't find it.  So perhaps it was a figment of my imagination, in which case it's certainly an issue.

[2017-12-07 21:01] ldgauthier commented on #3061
I'm pretty sure we've done this in the exome production pipeline forever, though not with SplitIntervals.  HaplotypeCaller (and presumably MuTect) will only output calls in the specified region, no matter how much territory goes into the active region.  If a small interval gets split, it will likely have the same active region for both calls.

[2017-12-07 21:13] sooheelee commented on #3853
Just to be clear folks, we are using `gatk` directly, not `./gatk` in the example commands. And if you can, for those of you yet to make your updates, please use compressed file examples. Those of you who've already put in changes, thank you and Comms can tidy those bits later.
[code]

[2017-12-08 10:17] AxVE commented on #3933
Hi,
I tried your commands (and many adaptions / changements) but I always get the same problem:
If the command line includes `--`, I get the JNI linkage error as if the spark related parameters were not parsed.
I tried many things, as:

It's a non-exhaustive list, I tried a lot of configurations similar to these ones.

[2017-12-08 10:45] AxVE commented on #3936
I have developed a tool to write on maprfs using Hadoop libraries for our owns projects. But it's not really tested yet  and the reader is not done. I prefer to wait it to be complete and to be sure it works perfectly. Btw, it's in scala. I link a file to give you an idea, keep in mind it's not clean and complete.

I tried with `maprfs:/` and `maprfs://`but still was getting an error. But it's not

[2017-12-08 16:09] #3759 closed

[2017-12-08 17:02] lbergelson commented on #3933
Interesting.  Sorry this is causing so much trouble.  From one of your above comments I wasn't clear if the solution using `--conf 'spark.submit.deployMode=cluster'` work correctly or not.

Is it possible that it's correct behavior for it to fail with the linkage error?  According to the [mapr doc](https://maprdocs.mapr.com/52/DevelopmentGuide/c-loading-mapr-native-library.html) that command cause

[2017-12-08 18:06] sooheelee commented on #3853
## Mutect2 Filters list is currently absent from docs

@vdauwera I think these need an explanation somewhere, perhaps the tool docs, much like the Read Filters and Variant Annotations. What say you?

![screenshot 2017-12-08 13 03 22](https://user-images.githubusercontent.com/11543866/33778788-3504d1b2-dc18-11e7-86e4-a7f91709ed0e.png)

[2017-12-08 18:08] vdauwera commented on #3853
Those should show up in the M2 tool doc -- or FilterMutectCalls, whatever tool actually takes those args

[2017-12-08 18:27] mbabadi opened #3938 "CollectFragmentCount requires a new feature: different fragment assignment policies"
The midpoint policy is most useful for WGS data where the coverage is _a priori_ uniform, save for biases. For targetted seq data (WES, gene panels), this policy leads to loss of fragments that are captured by baits at their left and right endpoints: the midpoint of such fragments can lie outside of the capture region. In the absence a better model, the most consistent policy is to find the set of

[2017-12-08 18:27] sooheelee commented on #3853
Yes, they show up in FilterMutectCalls. Thanks for that pointer.

[2017-12-08 19:30] jamesemery opened #3939 "ExcessHet Annotation doesn't support a pedigree file"
With InbreedingCoefficient getting its pedigree file support in the annotation arguments branch, we should also add the pedigree file in as a valid argument for ExcessHet which needs it in order to match GATK3 behavior

[2017-12-08 20:32] samuelklee opened #3940 "Modify ModelSegments pair WDL to handle tumor only."
For TAG team after release.  This will mostly involve checking that cost-optimizations don't break.  Should add corresponding WDL tests.

[2017-12-09 23:46] vruano commented on #3932
Got a PR on a solution.

[2017-12-11 10:01] AxVE commented on #3933
In fact, setting the deploy-mode works with manual jobs as we get logs in our Hadoop monitor ( the tool to monitor the jobs on the spark cluster ) and directly on our console if deploy-mode is not set / set to client. Both `--deploy-mode` and `--conf 'spark.submit.deployMode=cluster'`.

But with GATK, logs appear directly on my console and not in the Hadoop monitor even if we set with   `--conf 's

[2017-12-11 13:01] AxVE commented on #3933
Hi,
Copying and running the `spark-submit` command run by gatk-launch, I found out the parameter `spark.driver.userClassPathFirst` is set to true, and if I set to false it runs well (well, my job has an error but because of my data ^^).
Here, my command which works:

I didn't find out how to override `spark.driver.userClassPathFirst` to false in the gatk-launch command, it seems to be ignored or r

[2017-12-11 15:59] sooheelee commented on #3644
I am told Docker now allows nonroot usage.

[2017-12-11 15:59] #3644 closed

[2017-12-11 15:59] sooheelee commented on #3799
Will close this as it's been up a month and parties should be informed.

[2017-12-11 15:59] #3799 closed

[2017-12-11 16:22] sooheelee commented on #3030
FilterByOrientation now takes in the Picard metrics (tested with GATK4.beta.6) and my original question has been addressed.

[2017-12-11 16:22] #3030 closed

[2017-12-11 16:27] sooheelee commented on #3297
Seems this is addressed.

[2017-12-11 16:27] #3297 closed

[2017-12-11 16:51] sooheelee commented on #3137
So far, there is a mix of adding or not adding the -Xmx params and I have been leaving this up to the developers. Going forward I should remind the developers to only specify this if needed.

[2017-12-11 18:08] droazen commented on #3899
Reassigning to @jamesemery

[2017-12-11 18:53] sooheelee commented on #3644
Fyi, here's info on Singularity: http://singularity.lbl.gov/
Which [Nextflow](https://www.nextflow.io/) can use. Nextflow also uses Docker.

[2017-12-11 21:34] jamesemery opened #3944 "ReferenceBases assumes that the ReferenceContext has its Window set to 10"
The Annotation ReferenceBases currently crashes with an `ArrayIndexOutOfBoundsException` unless the ReferenceContext has had its window set to 10, `Line 44 final String localBases = allBases.substring(basesToDiscardInFront, basesToDiscardInFront + 2 * NUM_BASES_ON_EITHER_SIDE);` appears to be the culprit, as basesToDiscardInFront doesn't account for bases in the back. Unfortunately it is dangerous

[2017-12-11 23:19] #3156 closed

[2017-12-11 23:20] sooheelee commented on #2904
This is moot given the Somatic CNV workflow has completely changed.

[2017-12-11 23:20] #2904 closed

[2017-12-11 23:21] sooheelee commented on #2857
Am I still needed on this one given the workflow has completely changed?

[2017-12-11 23:23] sooheelee commented on #2815
This was done to some extent. Docs are being updated now in https://github.com/broadinstitute/gatk/pull/3937.

[2017-12-11 23:23] #2815 closed

[2017-12-11 23:25] sooheelee commented on #1669
This is being finalized via efforts in https://github.com/broadinstitute/gatk/issues/3853 and https://github.com/broadinstitute/dsde-docs/issues/2639. Whether the new categorization schema is better, well, no one has complained so far.

[2017-12-12 00:51] sooheelee commented on #3853
@vdauwera We need to also generate docs for [Picard metrics](http://broadinstitute.github.io/picard/picard-metric-definitions.html). I think we can classify them separately like we do `Read Filters` and `Variant Annotations`. E.g. `Picard Metrics`.

@cmnbroad Does Barclay pull these in as well?

[2017-12-12 02:08] cmnbroad commented on #3853
@sooheelee If you add `@DocumentedFeature` to them, and assign them a groupName, groupSummary and summary, the top-level class javadoc will show up in the doc output. But since they don't have command line arguments, I think it would require additional dev work to make the fields level doc show up like it did in the old picard doc.

[2017-12-12 03:08] samuelklee commented on #2857
@sooheelee Sorry, you weren't meant to be assigned to this.  The doc this issue refers to is the white paper on CNV methods.  Much of that will need to be rewritten for the new workflows.

[2017-12-12 14:26] magicDGS opened #3945 "Cannot access pull request for Owner configuration"
I would like to have a look to #3447 and review it because it is quite important for downstream projects. But GitHub just show a fancy unicorn saying that "This page is taking way too long to load".

I wonder if this is a problem only for me, and if something can be done to be able to review before accepting it. Do you have any idea of why this is happening? @droazen or @jonn-smith, could you help

[2017-12-12 14:40] lbergelson commented on #3945
It's a problem for all of us.  We broke github with to many reviews.

[2017-12-12 15:02] magicDGS commented on #3853
@cmnbroad - Cannot be done annotating them as `@Argument` as a temporary solution? Then, a custom template for the metric group can be used...

[2017-12-12 15:13] magicDGS commented on #3945
Thanks @lbergelson - so what's the plan there?

[2017-12-12 15:26] sooheelee commented on #3853
Since I have your attention on the matter, let me test what this looks like.

[2017-12-12 15:50] droazen commented on #3945
We've filed a ticket with github support -- however, the branch has been cleared to merge in its current state, as it's had more than enough reviews. We can file tickets to improve/refactor once it's in master.

[2017-12-12 15:56] #3126 closed

[2017-12-12 16:15] sooheelee opened #3947 "Doc generation for explanations of metrics"
Continues discussion in https://github.com/broadinstitute/gatk/issues/3853.
We need to generate GATK forum docs for [Picard metrics](http://broadinstitute.github.io/picard/picard-metric-definitions.html). We will classify the group as a utility, like we do `Read Filters` and `Variant Annotations`. Given GATK also has some metrics collection tools, the group name should be generic e.g. `Metrics`.

[2017-12-12 16:15] sooheelee commented on #3853
@cmnbroad @magicDGS, I've moved the discussion to https://github.com/broadinstitute/gatk/issues/3947.

[2017-12-12 16:23] sooheelee commented on #3947
@magicDGS What do you mean by a custom template?