[2016-09-20 14:34] lbergelson commented on #2180
Jenkins seems to have gone down completely or me now.  I assume it's related?

[2016-09-20 14:36] davidbernick commented on #2180
It's related. We started doing the work now to fix this. I'll let you know when it's back. pretty soon.

[2016-09-20 14:50] davidbernick commented on #2180
Should be good and resolved. Let me know and close it up.

[2016-09-20 19:21] fleharty commented on #1233
closed via #2174

[2016-09-20 19:21] #1233 closed

[2016-09-20 22:14] #2148 closed

[2016-09-20 22:15] cmnbroad commented on #2142
Fixed via https://github.com/broadinstitute/gatk/pull/2149.

[2016-09-20 22:15] #2142 closed

[2016-09-21 01:54] davidbenjamin commented on #2040
@droazen This would be easy for me to do in Louis's absence.

[2016-09-21 17:10] tomwhite commented on #2113
@lbergelson I've created a fix for this here: https://github.com/HadoopGenomics/Hadoop-BAM/compare/master...tomwhite:bam-split-guesser-fix.

@achevali are you able to test the fix? There are instructions on how to run against a locally built Hadoop-BAM here: https://github.com/broadinstitute/gatk/wiki/Build-GATK-with-a-locally-built-htsjdk-or-Hadoop-BAM.

[2016-09-22 18:33] droazen commented on #2040
Thanks @davidbenjamin -- re-assigning to you!

[2016-09-22 19:53] #2180 closed

[2016-09-22 19:55] davidbernick opened #2183 "Spark nightly tests failing"
Spark tests in Jenkins are failing nightly. They've been failing since August 29th.

This command:
[code]
Fails with:
[code]

[2016-09-22 20:13] droazen commented on #2183
@tomwhite @tedsharpe @cwhelan Any of you guys have any insight into this, or have seen similar errors?

[2016-09-23 03:23] tedsharpe commented on #2183
Yeah. Seem to recall that it had something to do with a version bump on the VM. Chris had to lock our cluster onto an older image.

[2016-09-23 18:03] jean-philippe-martin commented on #2183
I get the same error when I try to run CountReads on dataproc. I get this even if using an older version of our code (all the way back to 2016-6-30, then I get a different error).

[2016-09-23 18:12] tedsharpe commented on #2183
Dataproc bumped the default version of Spark, and that's what leads to this error.  You need to pin Spark version 1.0 in your cluster creation as a work around.  Ask Chris Whelan @cwhelan for details.

[2016-09-23 18:34] davidbernick commented on #2183
Boo :(

[2016-09-23 18:36] davidbernick commented on #2183
I'll change --image-version to 1.0 and see if that works.

[2016-09-23 22:12] cmnbroad commented on #2063
Closing via #2164.

[2016-09-23 22:12] #2063 closed

[2016-09-26 14:42] tomwhite commented on #1988
I was mistaken about this not being faster - I was using a counting function that Spark can optimise by pulling onto the map side so that the records don't go through the shuffle. I changed this to simply dump the processed reads so they have to go through the shuffle, and I got the following timings when processing a 121GB BAM file.

* With shuffle: 27 min
* No shuffle (two scans over input): 24.

[2016-09-27 16:09] sooheelee commented on #2171
@huangk3 When you replaced the 2-bit reference with the fasta reference, did you also have matched index files (amb, ann, bwt, pac and sa ) within the same directory as the fasta reference? I believe these index files, and also the `.fai` index file, all need to be regenerated for the specific reference file.

[2016-09-27 17:29] droazen commented on #2183
@davidbernick Did it work?

[2016-09-28 16:56] tomwhite opened #2192 "Investigate partitioning the reference as an alternative to broadcast"
The idea is to partition the reference in the same way as reads, then do a `zipPartitions` to join them together. Then only the relevant part of the reference is sent to each executor, which should reduce memory usage.

[2016-09-28 17:07] jean-philippe-martin commented on #1988
For what it's worth, if we go forward with NIO then we'll need the splitting index and then we should be able to offer this functionality for little additional effort (since we'd be writing a partitioner anyways to work with the splitting index).
The naive (least-work) approach would read each partition independently so we wouldn't save on reads (but we'd still save from not having to go through a

[2016-09-28 18:07] ronlevine commented on #2008
Close via #2010 .

[2016-09-28 18:07] #2008 closed

[2016-09-29 13:35] ronlevine commented on #1895
@droazen Should this be a gatk-protected ticket instead?

[2016-09-29 13:38] ronlevine commented on #2017
@droazen Should this be a gatk-protected ticket instead since it depends on GenotypeGVCFs?

[2016-09-29 14:41] droazen commented on #1895
@ronlevine Yes, it should.

[2016-09-29 15:28] ronlevine commented on #2086
`AnalyzeCovariants` is the only place where the BQSR input covariants file is used. `AnalyzeCovariants#checkInputReportFile` throws `UserException.BadArgumentValue` if the file is not found. So, closing.

[2016-09-29 15:28] #2086 closed

[2016-09-29 15:32] ronlevine commented on #1895
Issue moved to [broadinstitute/gatk-protected #724](https://github.com/broadinstitute/gatk-protected/issues/724) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-29 15:32] #1895 closed

[2016-09-29 15:33] ronlevine commented on #2017
Issue moved to [broadinstitute/gatk-protected #725](https://github.com/broadinstitute/gatk-protected/issues/725) via [**ZenHub**](https://www.zenhub.com/)

[2016-09-29 15:33] #2017 closed

[2016-09-29 15:56] ronlevine opened #2193 "Remove spanning deletions if the deletion was removed"
@ronlevine commented on [Thu Sep 29 2016](https://github.com/broadinstitute/gatk-protected/issues/725)

@ronlevine commented on [Tue Jul 19 2016](https://github.com/broadinstitute/gatk/issues/2017)

Port https://github.com/broadinstitute/gsa-unstable/pull/1417.

---

@ronlevine commented on [Wed Jul 20 2016](https://github.com/broadinstitute/gatk/issues/2017#issuecomment-233990695)

Need to port `

[2016-09-29 17:05] jean-philippe-martin commented on #2192
It'll be interesting to compare this to the Genomics Reference API approach, which can also send only the relevant part of the reference but does it on request instead of up front (unless we add prefetching).

[2016-10-04 16:43] droazen commented on #2175
Assigning to @cmnbroad to make this happen for this quarter.

[2016-10-04 16:50] droazen commented on #2175
Should also include an update to gatk-protected to make the tools there use the new API in a more consistent way.

[2016-10-04 18:55] SHuang-Broad opened #2196 "Insertion and homology at the same time"
Currently in the inversion calling stage of the SV pipeline, it is assumed that insertion and homology around identified breakpoints don't co-exist. But in theory it is possible.

Take an example of an inversion identified by a 5-to-3 contig.
The contig is made from
1. reference sequence __ref1__ `CACTGCCACTGGTCCTTCAACAGATTGATTCTAATTAGCCAATCAAAGACAA`
2. homology on reference __H__ `GGATCCA`
3. rev

[2016-10-05 17:13] huangk3 commented on #2171
HI @sooheelee I did try using BWA to index the 2-bit reference, but it doesn't work as well. @lbergelson Do you think the reference loading issue can be fixed soon? like this month?

[2016-10-05 18:22] sooheelee commented on #2171
It's not likely that the reference loading issue will be fixed this month @huangk3. I'm answering in @lbergelson stead as he's out for a few weeks. This is on the team's radar so there is some chance that it could be but we are unable to say for sure.

[2016-10-06 15:55] chandrans opened #2197 "Make GATK tool to sort non-VCF reference-ordered files"
## Feature request

### Tool(s) involved
New tool for generating properly sorted non-VCF reference-ordered files (i.e. refseq).

### Description
There was a script that did this for refseq files, but it was deprecated. Users have asked for the script, but it is best to make a new tool to do this instead of providing an external script.

----

This Issue was generated from your [forums]
[forums]: h

[2016-10-06 18:28] droazen opened #2198 "Add an easy way to create composite read filters"
It would be convenient to have a method that provides an easy way to compose `ReadFilters` from a `List<ReadFilter>`. Eg., it would do something like:

[code]

[2016-10-07 19:17] huangk3 opened #2199 "Error when running VariantRecalibrator"
Hi,

I ran into this issue when running VariantRecalibrator in GATK4. I used the same command as recommended in the GATK3 best practice, but seems the command can't recognize the track information of the resources:

**java -jar ~/Softwares/gatk/build/libs/gatk-package-4.alpha.2-49-g491f7f2-SNAPSHOT-local.jar VariantRecalibrator \
    -R ~/Resources/genome_b38/genome.fa \
    -V ${op}/DUKE_6954540_

[2016-10-07 19:23] cmnbroad commented on #2199
@huangk3 The syntax is slightly different for GATK4. Try this (note the ":"):

--resource hapmap,known=false,training=true,truth=true,prior=15.0:~/Resources/genome_b38/hapmap_3.3.b38.vcf.gz \

[2016-10-07 19:57] cmnbroad commented on #1661
There is an htsjdk PR for this here: https://github.com/samtools/htsjdk/pull/720.

[2016-10-07 20:10] huangk3 commented on #2199
Hi @cmnbroad Thanks for the quick response. I tried your suggestion, but still get the error :

**A USER ERROR has occurred: Couldn't read file ~/data/Illumina/GATK4/TEST/~/Resources/genome_b38/hapmap_3.3.b38.vcf.gz. Error was: It doesn't exist.**

Seems the ":" was converted to my current working directory.

[2016-10-07 20:46] cmnbroad commented on #2199
I think you're not getting shell expansion of the "~" because its embedded now. Try expanding that manually it the command.

[2016-10-07 20:56] huangk3 commented on #2199
Hi @cmnbroad That works, thanks a lot and have a nice weekend!

[2016-10-07 21:12] cmnbroad commented on #692
Unclear to me if this is a dup of https://github.com/broadinstitute/gatk/issues/2114 or not (2114 presents one variant at a time, as opposed to all variants that start at the same position).

[2016-10-07 21:40] cmnbroad opened #2200 "FeatureInputs with logical names thwart shell expansion of ~"
Because the filename doesn't occur at the beginning of a word when you use a logical name:

--arg aname:~/dir1/...

the ~ doesn't get expanded by the shell, so the command fails, and the resulting error message is confusing because we call file.getAbsolutePath() on the file object to create the exception, which prepends the current directory onto the (unexpanded, nonexistent) filename (see https:/

[2016-10-07 21:41] #2199 closed

[2016-10-11 14:03] cmnbroad opened #2201 "CRAM container offsets should be updated when merging parts"
This is a change that needs to be done in Hadoop-BAM in SAMFileMerger. https://github.com/HadoopGenomics/Hadoop-BAM/issues/118.

[2016-10-11 15:47] davidbenjamin commented on #2040
Closed by PR #2184.

[2016-10-11 15:47] #2040 closed

[2016-10-11 17:44] takutosato opened #2202 "HaplotypeCaller/Mutect2: vcf header missing the sequence dictionary"

[2016-10-11 17:49] droazen commented on #2202
@cmnbroad Could you have a quick look at this one? The problem is that the output vcf for HaplotypeCaller/Mutect2 is missing a sequence dictionary in the header, even though the input bam(s) have a full dictionary.

First place to check is `HaplotypeCallerEngine.makeVCFWriter()` in gatk-protected (and the equivalent method for Mutect2), to make sure the reads dictionary is getting propagated to th

[2016-10-11 17:49] droazen commented on #2202
(moderately urgent, by the way)

[2016-10-11 17:57] chandrans opened #2203 "MuTect2 should fail on BAMs with multiple samples"
## Bug Report
### Affected tool(s)

MuTect2
### Affected version(s)

version 3.6
### Description

A user reported that when he input a BAM file that has multiple sample names to MuTect2, the tool mseems to run fine but outputs an empty VCF. Because MuTect2 cannot run on multiple samples, there should be an error message that lets the user know he/she cannot have multiple samples in the BAM file.
#

[2016-10-11 18:01] droazen commented on #2183
@davidbernick Does it work with the 1.0 image? It would be good to get these nightly tests working again.

[2016-10-11 18:59] ronlevine commented on #1982
Closing, duplicate of https://github.com/broadinstitute/gatk/issues/2008.

[2016-10-11 18:59] #1982 closed

[2016-10-11 19:08] cmnbroad commented on #2202
Looks like we're just not propagating the reads dictionary to the header. PR is [here](https://github.com/broadinstitute/gatk-protected/pull/740).

[2016-10-11 19:17] davidbernick commented on #2183
They've been working as far as I know. Or at least I haven't gotten any
failure messages. That's why I closed the ticket.
On Tue, Oct 11, 2016 at 12:01 PM droazen <notifications@github.com> wrote:

--
David Bernick
Broad Institute
Director of Technical Operations (DevOps/Security)

[2016-10-11 20:45] droazen commented on #2183
Closing this as resolved

[2016-10-11 20:45] #2183 closed

[2016-10-11 20:51] droazen commented on #2202
Closing, fixed in https://github.com/broadinstitute/gatk-protected/pull/740

[2016-10-11 20:51] #2202 closed

[2016-10-12 10:08] magicDGS commented on #2140
Another idea is to allow to include class names into the instanceMain method.

[2016-10-13 19:42] droazen opened #2206 "Create an independent arg parser + documentation system shared between GATK4 and Picard"

[2016-10-13 19:44] droazen opened #2207 "Pick a name for the arg parser + docs github project"
May not want "gatk" in the name, given that this project will be shared across GATK and Picard.

[2016-10-13 19:45] droazen commented on #2207
@vdauwera Suggestions?

[2016-10-13 19:45] droazen opened #2208 "Move existing GATK4 arg parser + tests as-is to new repo"

[2016-10-13 19:46] droazen commented on #2208
We'll need a simple build system + README + documented release procedure.

[2016-10-13 19:46] droazen opened #2209 "Port GATKDocs system + tests from GATK3 to new arg parser project"

[2016-10-13 19:47] droazen commented on #2209
Should be covered by tests as well.

[2016-10-13 19:49] droazen opened #2210 "Make GATK4 depend on new arg parser project via maven, and delete copy of arg parser in the GATK4 repo"

[2016-10-13 19:51] droazen opened #2211 "Hook up GATKDocs system to GATK4 via a build target that builds documentation"

[2016-10-13 19:53] droazen opened #2212 "Copy Picard arg parser to arg parser repo as-is, and create mechanism to select it"
We likely want the mechanism to be a properties file loaded from the classpath, so that we can build jars that use the Picard arg parser by default.

[2016-10-13 19:53] droazen commented on #2212
The only change I hope we have to make in the copied version of the Picard arg parser is to rename `Option` to `Argument`

[2016-10-13 19:55] droazen opened #2213 "Make Picard depend on arg parser repo via maven, and create non-default build target to build jar that uses the old arg parsing system"

[2016-10-13 19:56] droazen commented on #2213
Will need to do the `Option` -> `Argument` migration in the Picard codebase as part of this.

[2016-10-13 20:14] droazen commented on #2175
As part of this, should hook up to the `ReadsContext` in variant tools using a `ReadFilteringIterator`

[2016-10-13 20:29] davidbenjamin opened #2214 "HaplotypeCaller failing or ploidy != 2"
This is due to`GATKVAriantContextUtils::makeGenotypeCall` using `GenotypeLikelihoods.getAlleles`, which throws an error because you have to explicitly tell `GenotypeLikelihoods` to initialize ploidies != 2.  We can fix this by explicitly initializing but it seems that `GenotypeLikelihoodCalculators` has the same functionality but more robust.

[2016-10-14 15:14] vdauwera commented on #2207
Hm... `gammadoc` as a stand-in for `gatkdoc`? I know it's not just docs though... `commutils` for common/communication utilities? `paradoc` for parser and docs? But what if we expend to include other things...

[2016-10-14 15:33] cmnbroad commented on #2207
gammautils
userutils
uiutils
spockdoc

[2016-10-14 16:31] vdauwera commented on #2207
I grok spockdoc. Why is there no vulcan salute emoji on github? Sad!

Hmm, user/ui utils is a good connection to make. I was thinking from there, youtils but there are already github projects with that name.

Utilosaur or utilosaurus? Everyone loves dinosaurs.

multatuli -- An obscure dutch literary reference.

[2016-10-16 05:57] #2214 closed

[2016-10-17 08:08] binarier opened #2216 "BaseRecalibratorSpark failed on "Task not serializable" exception with option joinStrategy SHUFFLE"
**gatk failed on yarn cluster with --joinStrategy SHUFFLE option
here's the call stack, shows some context can't be serialized**

[October 17, 2016 4:03:47 PM CST] org.broadinstitute.hellbender.tools.spark.BaseRecalibratorSpark done. Elapsed time: 5.08 minutes.
Runtime.totalMemory()=8109686784
org.apache.spark.SparkException: Task not serializable
        at org.apache.spark.util.ClosureCleaner$.e

[2016-10-17 11:06] tomwhite opened #2217 "Walker-Spark Convergence"
One of the benefits of the work in #1988 and #1558 is that the APIs for Walker and Spark tools are getting closer. For example, this branch shows how to create a Spark equivalents for each Walker class: https://github.com/broadinstitute/gatk/compare/tw_spark_walkers.

It is worth investigating whether the Spark and Walker code could be made to converge even more.

[2016-10-17 11:19] tomwhite commented on #2217
Here's a prototype showing one way of doing this: https://github.com/broadinstitute/gatk/commit/3cf7f9078b6aedcb87a4ca77c2aa8e84e7e5fe99.

The idea is that `GATKTool` has a `-spark` flag, so you can run a tool in Spark mode. The parallel `GATKSparkTool` hierarchy would disappear, and tool writers would optionally be able to support Spark as an alternative to the regular walker, by providing the re

[2016-10-17 14:02] cmnbroad commented on #2217
I definitely like the idea of moving in this direction, and it will become more compelling as we extend the GATKSparkTool hierarchy, which is currently pretty flat and doesn't mirror the GATKTool hierarchy.

I think we should also consider using some of the concepts from the metrics refactoring, which introduces a layer that separates the implementation of the processing logic from the containing

[2016-10-17 14:07] cmnbroad commented on #2217
The existing Spark interface for metrics collectors is described [here](https://github.com/broadinstitute/gatk/blob/fc66240a1a382ad803b7f83ead612f65957a644e/src/main/java/org/broadinstitute/hellbender/tools/spark/pipelines/metrics/MetricsCollectorSpark.java). [Here](https://github.com/broadinstitute/gatk/blob/414cedf60d2041636f772658a6d04f470affb0f4/src/main/java/org/broadinstitute/hellbender/tool

[2016-10-17 14:47] droazen commented on #2217
@tomwhite I think the general goal of unifying the Spark/non-Spark tool hierarchies is worthwhile, but I don't like the idea of all tools having `if (sparkArgs.useSpark) {} else {}` boilerplate. If we do this, we should have separate abstract methods that get called automatically in the Spark/non-Spark cases.

I also think we should wait to perform this refactoring until later in the quarter, afte

[2016-10-18 10:43] tomwhite commented on #2217
@droazen the `if (sparkArgs.useSpark) {} else {}` could definitely be improved - probably by using the technique @cmnbroad described for metrics.

[2016-10-18 19:21] mwalker174 opened #2219 "PrintReadsSpark throws error "Invalid splitting BAM index" on writing BAM"
I've run into an error using a certain BAM file I created for testing. Possibly relevant: I also tried running it through PrintReads - all reads were filtered out by the WellFormedReadFilter because they do not have read groups or base qualities.

[test_pathseq_unmapped.bam.zip](https://github.com/broadinstitute/gatk/files/537153/test_pathseq_unmapped.bam.zip)

[2016-10-18 20:06] droazen commented on #2219
@mwalker174 If the reads in your bam are failing `WellFormedReadFilter`, then the GATK (generally speaking) can't handle them. Reads must pass at least that filter in order to be usable by GATK. Are you able to modify the bam to add read groups, etc., to allow the bam to pass the filter? If not, it is theoretically possible to disable `WellFormedReadFilter`, but I don't recommend it...

[2016-10-18 20:07] droazen commented on #2219
@tomwhite Can you comment on the "Invalid splitting BAM index: should contain at least 1 offset" error? Is this what we get when trying to write an empty bam (because all the reads have been filtered)? If so, we should probably fix this.

[2016-10-18 20:20] mwalker174 commented on #2219
@droazen Yes I will just modify the BAM so it will pass the filter.

[2016-10-20 15:17] tomwhite commented on #2073
I now have a working PR here: https://github.com/broadinstitute/gatk/pull/2220

One data point: I ran MarkDuplicates on a cluster and with Spark 2 it ran in 6.32 minutes, compared to 11.14 minutes on the same cluster. Quite an improvement!

[2016-10-20 17:24] chandrans opened #2221 "VariantRecalibrator should throw an error when an annotation is specified twice"
## Feature request
### Tool(s) involved

VariantRecalibrator
### Description

A user reported he gets an `##### ERROR MESSAGE: No data found.` from VariantRecalibrator when running with -an MQ twice. There should be a check for this and an error message letting the user know he/she has specified the same annotation twice.

[Original Forum Post](http://gatkforums.broadinstitute.org/gatk/discussion/

[2016-10-20 17:29] droazen commented on #2221
Has this bug been replicated in GATK4?

[2016-10-20 18:54] droazen opened #2222 "Write a tool to add a sequence dictionary to a VCF"
The tool should take a VCF plus a source of a sequence dictionary (eg., a fasta reference, a bam, a `.dict` file, or another VCF that already has a dictionary), and add the sequence dictionary to the VCF.

[2016-10-20 18:54] droazen commented on #2222
For @cmnbroad and alpha-4.

[2016-10-20 18:55] droazen opened #2223 "Require that VCF inputs to the GATK have a sequence dictionary"
Depends on #2222, which should be done first.

The error message should point users to the tool that allows them to add a sequence dictionary to their VCF.

[2016-10-21 12:21] magicDGS opened #2225 "Request: parseArgs catch CommandLineException thrown by customCommandLineValidation"
While using a custom tool that validates arguments (e.g., certain range for an `Integer` parameter), a way of handling it is override `CommandLineProgram.customCommandLineValidation()` and return an String with the error found.

Nevertheless, if parsing the arguments throws a `UserException.CommandLineException`, the error is printed with a concrete format (`printDecoratedUserExceptionMessage`) af

[2016-10-22 05:11] mbabadi opened #2230 "GATK spark/dataproc launcher is broken on the latest Google Cloud SDK"
It works with Cloud SDK v117 but it is broken on v131 (latest). The argument style of Cloud SDK has changed (again!). They will drop more legacy argument styles after March 2017.

[2016-10-22 05:12] mbabadi commented on #2230
@lbergelson

[2016-10-22 05:15] mbabadi commented on #2230
Here's an example. The launcher produces the following gcloud call:

`gcloud dataproc jobs submit spark --cluster mb-germline-1 --project broad-dsde-dev --properties yarn.scheduler.maximum-allocation-vcores=16 --properties yarn.nodemanager.resource.cpu-vcores=16 --prope
rties yarn.scheduler.capacity.resource-calculator=org.apache.hadoop.yarn.util.resource.DominantResourceCalculator --properties sp

[2016-10-24 14:50] droazen commented on #2230
Hi @mbabadi, this is a known issue that will be solved by https://github.com/broadinstitute/gatk/pull/2220 (currently blocked for technical reasons). For now, please use the 1.0 image when running on dataproc (settable when you first spin up a cluster).

[2016-10-24 14:52] droazen commented on #2230
Ignore my previous comment -- thought this was a different issue on first reading :)

[2016-10-24 15:44] chandrans commented on #2221
No. Can I use /humgen/gsa-hpprojects/GATK/gatk4/gatk4-latest/gatk-protected.jar to test it?

[2016-10-24 15:54] droazen commented on #2221
As discussed in person, you should build the latest master rather than using that jar.

[2016-10-24 17:04] cmnbroad commented on #2207
The name with the most votes is "barclay".

[2016-10-24 17:15] droazen commented on #2207
(after the great http://memory-alpha.wikia.com/wiki/Reginald_Barclay, of course :)

Closing as resolved!

[2016-10-24 17:15] #2207 closed

[2016-10-24 17:17] vdauwera commented on #2207
Wait there was a vote?

[2016-10-24 17:23] droazen commented on #2207
Yes, at our group meeting today

[2016-10-24 18:20] lbergelson commented on #2207
Sadly, Picargs was defeated in honorable democratic combat.

[2016-10-24 20:44] vdauwera commented on #2207
(sad that I didn't get invited to vote...)

Glad to hear that Picargs didn't survive.

[2016-10-24 21:12] lbergelson commented on #2207
HoloDoc didn't make it either :(

[2016-10-24 21:17] #2140 closed

[2016-10-24 21:39] vdauwera commented on #2207
Whaaat I would have voted for holodoc

[2016-10-24 21:42] lbergelson commented on #2230
@mbabadi I don't see anything that changed in the release notes for gcloud sdk.  I wonder what's going on.  Could you include the gatk-launch command you put in to generate this?

[2016-10-24 21:54] lbergelson commented on #1949
@AriesLL I think we missed this issue when it was first posted, sorry!

I would add the read group when doing BWA mem like you suggest.  If you've already aligned the file you can manually edit the header and use `samtools reheader` with the edited header file to replace the header in a bam file.

See [this page on read groups] for an example of all the data that tends to be put into Broad read gr

[2016-10-24 21:55] lbergelson commented on #1949
I'm going to close this, let me know if that doesn't answer you're question.  (and sorry for the extremely slow response...)

[2016-10-24 21:55] #1949 closed

[2016-10-24 21:58] vdauwera commented on #1949
FYI an easier way than reheadering the bam file, if there's only one or a subset of read group components missing, is to use Picard AddOrReplaceReadGroup.

[2016-10-24 22:03] lbergelson commented on #1949
Ah, good point.  Forgot about that.

[2016-10-24 22:19] lbergelson commented on #2216
@binarier Thanks for reporting this.  Does it work for you with `--joinStrategy BROADCAST`?  `SHUFFLE` and `BROADCAST` were two competing attempts at fast joining, but it turns out broadcast is better.

[2016-10-24 22:21] lbergelson opened #2231 "remove JoinStrategy SHUFFLE"
Shuffle lost the race.  It's slow and buggy (see #2216).  We should remove it.

[2016-10-25 16:29] #2225 closed

[2016-10-25 16:47] lbergelson commented on #2231
@droazen Any objections to this?

[2016-10-25 16:49] droazen commented on #2231
No, but it should wait until after Tom's code is merged and fully profiled, as it may end up replacing both join strategies.

[2016-10-26 23:11] vdauwera opened #2233 "Implement a --minimal_header option"
## Feature request
### Tool(s) involved

Engine
### Description

An ENUM with several levels of minimalism. Main use case: keeping down the lines of SQ.

As put by @eitanbanks

Simplest way to do this imho (and I would advocate making it the default GATK behavior): write to VCF header SQ lines representing only the contigs for which we have calls.

More discussion needed to define exactly what opt

[2016-10-27 16:48] droazen commented on #2223
To clarify this one:

-If VCF(s) are the only tool input(s) (ie., no reference or reads are available), we should require that they all have sequence dictionaries in their headers, and throw if they don't. But if a reference or reads are available, we should use their dictionary and not require the VCF(s) to have one.

-We should also add a `GATKTool`-level `--sequenceDictionary` argument that all

[2016-10-28 14:54] vdauwera opened #2236 "Document which tools support piping"
This should be specified in each tool doc (in javadoc) and state whether the user can pipe input through stdin and/or output through stdout.

[2016-10-28 19:57] cmnbroad commented on #2065
There is a [branch here](https://github.com/broadinstitute/gatk/pull/2182) that contains a temporary command line argument which forces VQSR to use the same initial random number generator condition as gatk3, so that it will produce the same results as gatk3 on the same inputs. However, once [this PR](https://github.com/broadinstitute/gatk/pull/2235) goes in, GATK4 will be out of sync with GATK3 e

[2016-10-28 20:13] ldgauthier commented on #1700
It seems that Octopus (successor to Platypus) actually does this: https://github.com/luntergroup/octopus/blob/master/doc/manuals/user/octopus-user-manual.pdf  See Troubleshooting > Behavior > Why doesn't octopus report genotype likelihoods?

Interestingly their Troubleshooting section also implies they have our same problem with reproducibility over shifted intervals (see "A call changes when a di

[2016-10-28 20:51] #1467 closed

[2016-10-28 21:40] vdauwera opened #2238 "Improve how pairs of overlapping mates are handled by ReadUtils"
Stems from https://github.com/broadinstitute/gsa-unstable/issues/1406. Unless something changed in the port from GATK3 to GATK4, this is how pairs of overlapping mates are handled by ReadUtils when a tool seeks to determine adaptor boundaries:

<img src="http://cd8ba0b44a15c10065fd-24461f391e20b7336331d5789078af53.r23.cf1.rackcdn.com/gatk.vanillaforums.com/FileUpload/41/48ae8ddb4ba74d5a02310b75135

[2016-10-31 14:52] cmnbroad commented on #2114
Closed via https://github.com/broadinstitute/gatk/pull/2182.

[2016-10-31 14:52] #2114 closed

[2016-10-31 14:56] cmnbroad opened #2240 "Remove VQSR gatk3Compatibility argument when VQSR qualification is complete"
A temporary gatk3Compatibility argument was introduced in [this branch](https://github.com/broadinstitute/gatk/pull/2182) branch to help with https://github.com/broadinstitute/gatk/issues/2065. When #2065 is closed, this argument should be removed.

[2016-11-01 21:02] magicDGS commented on #1879
Closed by #2154

[2016-11-01 21:02] #1879 closed

[2016-11-01 21:03] magicDGS commented on #2034
Closed by #2154

[2016-11-01 21:03] #2034 closed

[2016-11-02 12:43] magicDGS opened #2245 "FragmentCollection.create from a multi-sample ReadPileup throws an exception"
While using the implemented `ReadPileup.fixOverlaps()` with an input file for a `LocusWalker` which includes multiple samples, it throws the following exception:

[code]

This is because the `FragmentCollection.create` assumes ordered reads, but the iterator over a `ReadPileup` iterates over samples instead of position.

[2016-11-02 20:51] droazen opened #2250 "SparkSharder: assess performance impact of different levels of shard padding, come up with sane default"
It seems like the default shard padding of 1000 used by clients of the new `SparkSharder` is likely to be larger than we need, and reducing it could have a big effect on performance (particularly now that we overestimate the read extent of each partition by roughly the amount of padding). Let's profile and see what the performance impact of decreasing the shard padding is on real data, and come up

[2016-11-02 20:52] droazen commented on #2250
For @tomwhite and alpha-4.

[2016-11-02 20:54] droazen opened #2251 "SparkSharder: ensure robustness in the face of areas of high coverage"
We need to make sure the `SparkSharder` can handle coverage spikes. We should profile to see how it performs in regions of high coverage, and potentially come up with a partition-level downsampling strategy that could discard partitions with extraneous coverage.

[2016-11-02 20:54] droazen commented on #2251
For @tomwhite

[2016-11-02 20:55] droazen opened #2252 "SparkSharder: ensure performance does not degrade with large interval lists"
We should test with a large interval list, like a whole-exome interval list, and make sure performance doesn't get killed.

[2016-11-02 20:55] droazen commented on #2252
For @tomwhite

[2016-11-02 20:56] droazen opened #2253 "SparkSharder: add test with long reads (eg., 10,000 bases), and ensure user-friendly message is thrown"

[2016-11-02 20:59] droazen opened #2254 "JoinStrategy.OVERLAPS_PARTITIONER interacts poorly with ReferenceWindowFunction"
We probably can't remove `ReferenceWindowFunction`, as it's being used by tools in gatk-protected. How can we guarantee that `JoinStrategy.OVERLAPS_PARTITIONER` will provide at least as much reference context as requested by the configured `ReferenceWindowFunction`?

[2016-11-03 13:54] davidbenjamin commented on #2203
@chandrans Could you move this issue to gatk-protected and give it the Mutect2 label?

[2016-11-03 14:07] davidbenjamin commented on #1697
Status update: the new qual is finished, backported, and validated in both GATK4 and the backport.  In a validation of a subset of ExAC data (many samples) and 1kg data (low coverage) it finds all variants found with the old qual and saves many manifestly true multiallelics.

I'm going to close this and open a new issue to delete the old qual.

[2016-11-03 14:09] #1697 closed

[2016-11-03 14:17] ldgauthier commented on #1697
Woohoo!

[2016-11-03 14:25] davidbenjamin opened #2255 "Eliminate the old ExactAFCalculator QUAL score"
First, question: what must we do to convince ourselves to pull the plug on the old QUAL?  In every test so far, the new model performs equally well on biallelics and better on multiallelics.  We will eliminate about 6000 lines of code, many future bugs, and GATK workshop slides that nobody wants to present.

Assuming that we are soon convinced, the ticket is pretty simple: delete every implementat

[2016-11-03 14:44] vdauwera commented on #2255
I support ripping out every old crappy thing that we're sure we're not going to want to use in GATK4.  I would however suggest that this one NOT get back ported to 3.x -- just leave things there as a museum of horrors.

[2016-11-03 14:57] davidbenjamin commented on #2255
For various reasons that backport would be too awful to contemplate even if we wanted to backport.  The question remains for GATK4 whether we want to preserve the old qual in case there's some edge case where it performs better.  I consider this highly unlikely but others might disagree.

[2016-11-03 15:10] vdauwera commented on #2255
Ah, I thought that might be the case, to be honest.

My vote is for ripping out the old. If for whatever reason you find an edge case where the new doesn't perform as well, then in my view that just means the new can be improved.

Ultimately it seems to me that @ldgauthier is the one with the most experience in this space and should make the call.

[2016-11-03 15:14] davidbenjamin commented on #2255
@droazen Should this wait for the `HaplotypeCaller` port's completion?  What about `VQSR`?

[2016-11-03 15:54] ldgauthier commented on #2255
@davidbenjamin Just to confirm, you mean not backporting the removal/cleanup right?

[2016-11-03 16:14] magicDGS commented on #2176
As I commented in #2190 (and @tomwhite agrees), this could help on the serialization problems in Spark. In addition, it will be interesting from the point of view that I described in the original comment: more flexibility of GATK as a framework.

What do you think, @droazen?

[2016-11-03 16:18] davidbenjamin commented on #2255
Correct, I don't expect to backport any *more* code to GATK3 unless we find a bug in the new qual.  However, the new qual, including the recent numerical stability patch is fully backported.

[2016-11-03 17:37] tomwhite commented on #1988
Fixed in #2190.

[2016-11-03 17:37] #1988 closed

[2016-11-04 08:13] lh3 commented on #2255
I would say the proof is that we can do low-cov joint calling well with the new model. Although we are not doing such sequencing any more at Broad, some GATK users might do. Killing features should be taken with great caution.

[2016-11-04 11:53] vdauwera commented on #2255
We're going to release the new model in 3.7 and have users test-drive that for quite a bit before we move to release 4.0, so we should be able to get some feedback on performance in the wild before we need to make any final decisions.

[2016-11-04 13:53] davidbenjamin commented on #2255
@lh3 We agree about the low-cov joint calling and have already tested it on 191 low-coverage (roughly 3-4x) samples from 1kg.  The calls were identical except for one site with qual just above 30 that used to be just below, but this difference is basically arbitrary.  If we simply add 15 to the qual threshold (as we should, because the new qual is systematically more permissive due to learning a m

[2016-11-04 14:06] lh3 commented on #2255
Thanks. This sounds good to me!

[2016-11-04 16:21] vruano commented on #2255
I vote for remove and move on.

[2016-11-04 18:24] droazen commented on #2255
@davidbenjamin I think we should wait to rip out the old code until the GATK4 port of `HaplotypeCaller` has been tied-out against GATK3 by Palantir. This is scheduled to happen this month, so I would say early December would be a good time to kill the old code.

[2016-11-04 20:19] droazen commented on #2176
@lbergelson Opinion on this?

[2016-11-07 10:52] tomwhite commented on #1558
Fixed by #2190

[2016-11-07 10:52] #1558 closed

[2016-11-07 15:48] #2203 closed

[2016-11-07 15:48] chandrans commented on #2203
Issue moved to [broadinstitute/gatk-protected #761](https://github.com/broadinstitute/gatk-protected/issues/761) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-07 15:49] chandrans commented on #2203
Simple to do! There is a move function that let me move the issue right over and close this :)

[2016-11-07 23:59] lbergelson commented on #2176
@droazen I don't really have much of an opinion about the loggers.  I think we chose log4j2 pretty arbitrarily and because it seemed popular.  We don't have very complex logging needs so any logger pretty much satisfied our needs.

If there's a good reason to switch to SLF4J with a log4j backend that seems fine to me.  It makes sense to use the more general solution so that people can use whatever

[2016-11-08 08:16] magicDGS commented on #2176
I tried to do it, and I'm afraid that it won't be trivial as I expected: because it is a facade, there is not accesibility to `Logger.setLogLevel()` and this is required to set the verbosity level in the command line.

After explore a bit the code, it seems that [`LoggingUtils`](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/utils/LoggingUtils.java)

[2016-11-08 10:10] tomwhite commented on #2192
Closing this, as its roughly what we now have in `LocusWalkerSpark`. Reference bases are retrieved once for each shard (by the worker), rather than the whole reference being broadcast to each worker, or being retrieved for each read.

[2016-11-08 10:10] #2192 closed

[2016-11-08 17:11] lbergelson commented on #2176
@magicDGS That sounds like a solution that could work, but it does add complexity.

If it's going to be a more complicated change it seems like there have to be some concrete advantages, and I don't know enough about it to know what those are.   Could you describe some of the advantages of switching to SLF4J?  Are there specific features that you want to use that aren't available in the current lo

[2016-11-08 18:00] magicDGS commented on #2176
The advantage of using SLF4J is that it is a general facade, so it makes simpler to change for one logging system to other if the bound is implemented. For the most common logging systems (log4j, jul, JLC, etc.), there are this implementation and even no-op logging. One of the nice things from slf4j is that it allows to use the logging format set by the software to every library dependency, contro

[2016-11-09 23:02] gspowley commented on #1946
@droazen @lbergelson
We have a new version of GKL that resolves this issue and #1819 . I need to pass `PairHMMNativeArguments` from the HaplotypeCaller/MuTect2 command line to the GKL implementation.

I found the `pair_hmm_implementation` option in `UnifiedArgumentCollection` in gatk, but it looks like `HaplotypeCaller` uses `pair_hmm_implementation` in `LikelihoodEngineArgumentCollection` in gatk

[2016-11-14 12:11] tomwhite commented on #2073
Fixed in #2220.

[2016-11-14 15:51] cmnbroad commented on #2222
Closed via https://github.com/broadinstitute/gatk/pull/2234.

[2016-11-14 15:51] #2222 closed

[2016-11-14 22:39] lbergelson commented on #2073
@tomwhite I'm still seeing this issue on dataproc.  It looks like dataproc uses spark with scala 11.

[code]

If I rebuild gatk with spark 2.11 then it goes away.  I think we should update to spark 2.11 as the default since dataproc is our primary environment that we target.

[2016-11-14 22:51] lbergelson commented on #2230
@mbabadi Is this still an issue?

[2016-11-15 06:29] magicDGS commented on #64
Is this still open?

[2016-11-15 06:29] magicDGS commented on #64
I mean, something to work on...

[2016-11-15 13:29] ldgauthier commented on #55
@yfarjoun How do you feel about giving up on the NA12878 suite of tools in favor of the more general truth assessment walker we've talked about in the past?

[2016-11-15 13:45] fleharty commented on #55
I would vote that we transition to a more general truth assessment walker.

Mark

On Nov 15, 2016 8:34 AM, "ldgauthier" <notifications@github.com> wrote:

[2016-11-15 14:20] yfarjoun commented on #55
:+1:

On Tue, Nov 15, 2016 at 8:45 AM, Mark Fleharty <notifications@github.com>
wrote:

[2016-11-15 17:43] vdauwera opened #2265 "Port ASEReadCounter to GATK4 and make it ignore homozygous sites"
@chandrans commented on [Mon May 23 2016](https://github.com/broadinstitute/gsa-unstable/issues/1382)

## Feature request

A user has reported ASEReadCounter counts homozygous sites as having potential ASE. This should not be the case, as only heterozygous sites should be counted. The user should input a VCF sites file with only heterozygous sites, but sometimes that doesn't happen, so there shoul

[2016-11-15 17:45] vdauwera commented on #2265
For @meganshand

I'm assuming this tool can be open-sourced so I'm putting this in `gatk`, but feel free to move to protected if technically necessary.

[2016-11-15 18:54] davidbenjamin opened #2266 "CountSet::MyIterator doesn't work"
its `next` field never gets incremented anywhere.

[2016-11-15 19:36] ldgauthier opened #2267 "New truth assessment walker"
We want a new, more general truth assessment walker to replace AssessNA12878 and also be able to be run on the synthetic diploid truth data.

The walker should take in two VCFs, one of which is the truth (true positives only?) and one of which is the eval, and an optional confidence region describing territory where any eval calls not in truth are assumed to be false positives. Output could be a t

[2016-11-15 19:36] ldgauthier commented on #55
Closing this in favor of https://github.com/broadinstitute/gatk/issues/2267

[2016-11-15 19:36] #55 closed

[2016-11-16 17:38] #2073 closed

[2016-11-16 20:27] tushu1232 opened #2268 "GATK4 PrintReadsSpark failing on standalone cluster with 1 worker using spark1.6.2"
+ blaunch -no-wait -z hpcgenomicn24 /spark-1.6.2-bin-hadoop2.6//bin/spark-class org.apache.spark.deploy.worker.Worker spark://hpcgenomicn24:6311 -c 16
+ echo --conf spark.executor.memory=2g --conf spark.driver.memory=2g --conf spark.local.dir=/gpfs/ngsdata/sparkcache --class org.broadinstitute.hellbender.Main /gpfs/software/spark/gatk4onspark.jar PrintReadsSpark -I /gpfs/home/tpathare/gatk/src/tes

[2016-11-16 21:00] #2268 closed

[2016-11-16 21:48] lbergelson commented on #2268
@tushu1232 GATK4 now requires spark 2.0

[2016-11-17 15:59] heuermh commented on #2176
While a minor issue, moving to `slf4j-api` as the logging API and `slf4j-log4jxx` as the implementation would help with interoperability.

For example, I'm working on a proposal for a separate library for conversions between formats, and currently the API passes in a slf4j `Logger` and an enum similar to `ValidationStringency`.

[2016-11-17 17:58] droazen opened #2269 "Ensure full GATK command lines are added to BAM/VCF headers"
GATK3 had a feature that automatically added the full command line to BAM/VCF headers. We're going to need to port this code and hook up to our tools via the standardized output writer creation methods.

The VCF header lines look like this:

[code]

The BAM header lines look something like this (may have changed slightly in more recent versions):

[code]

We don't need to replicate the formatting

[2016-11-17 17:58] droazen commented on #2269
For @cmnbroad

[2016-11-17 19:19] ronlevine opened #2270 "Fix adapter boundary for positive strand"
Port https://github.com/broadinstitute/gsa-unstable/pull/1517

[2016-11-18 14:43] lbergelson commented on #2176
@magicDGS @heuermh It sounds like there are definite advantages to switching to SLF4j.  Our fear is that the switch will end up resulting in confusing class loading issues in different spark environments.  We're just beginning a round of spark performance testing and evaluation under a pretty tight deadline, and we don't want to introduce any surprises.

We'd be happy to look at a pull request, bu

[2016-11-18 14:44] lbergelson commented on #2176
The only real requirement we have for logging is the ability to control the verbosity of the logging from the command line.  We don't typically use any more advanced features.

[2016-11-18 18:30] LeeTL1220 opened #2274 "Collection arguments should replace the default value instead of appending"
[code]
Using ``... -A C/T -A G/A ....``

I would expect to see a list ``["C/T", "G/A"]``

but instead the artifactModes argument is populated as follows:
[code]

i.e. ``["C/A", "C/T", "G/A"]``

[2016-11-21 13:19] cmnbroad opened #2276 "VQSR sometimes outputs repeats of tranches"
GATK4 in some cases outputs the first and last tranches twice in its tranche file and this leads to an extra line in the output file as well. This was reported as part of the tieout, i.e. for this test case:

gatk-launch VariantRecalibrator \
 --variant /seq/dax/ExAc2/Exome/v2/sites_only_combined/chr1.sites_only.unfiltered.vcf.gz \
 --resource mills,known=false,training=true,truth=true,prior=12:/s

[2016-11-21 15:13] lucidtronix commented on #2276
I think the tranches arguments got truncated in the command line above.  Here is one that causes the issue:

gatk-launch VariantRecalibrator \
--variant /seq/dax/ExAc2/Exome/v2/sites_only_combined/chr1.sites_only.unfiltered.vcf.gz \
--resource mills,known=false,training=true,truth=true,prior=12:/seq/references/Homo_sapiens_assembly19/v1/variant_calling/vqsr_resources/WGS/v2/Mills_and_1000G_gold_st

[2016-11-21 15:49] droazen opened #2277 "Upgrade to Spark 2.0.2"
This release potentially fixes a bug that the SV team (specifically @SHuang-Broad) encountered.

[2016-11-21 16:10] ronlevine opened #2278 "Change default value of STANDARD_CONFIDENCE_FOR_CALLING to 10"
Port https://github.com/broadinstitute/gsa-unstable/pull/1511.

[2016-11-21 16:12] droazen commented on #2277
Note that we can't actually run on dataproc with 2.0.2 until Google creates an image with it. Looks like even the "preview" image doesn't have 2.0.2 yet.

[2016-11-21 19:29] droazen opened #2280 "Hook up NioBam.getReads() to ReadsSparkSource to enable use of NIO code on Spark"
Should be opt-in for now (default behavior in `ReadsSparkSource` should be the same as current behavior). Will probably only support traversals of the entire file for now.

[2016-11-21 19:29] droazen commented on #2280
For @tomwhite

[2016-11-21 19:32] droazen opened #2281 "Use Intel inflater in Hadoop-BAM once it's ready"
So that we can take advantage of the performance improvements when reading bams from Spark.

[2016-11-21 22:45] #2274 closed

[2016-11-22 13:49] cmnbroad commented on #2276
@lucidtronix The duplicate tranches are caused by a command line parser bug that appends the user-specified tranches with the default ones; any tranche that overlaps is output twice (and thats fixed in the build as of yesterday). However, you mentioned that you saw an extra line in the output file. I don't see any reason that the tranches should affect that, and I don't see it happening in my (sma

[2016-11-22 15:08] lucidtronix commented on #2276
I noticed an extra line in the final output vcf, the one produced by ApplyVQSR.  For example a command line like:

gatk-launch ApplyVQSR --variant /seq/dax/ExAc2/Exome/v2/sites_only_combined/chr1.sites_only.unfiltered.vcf.gz --ts_filter_level 99.0 -tranchesFile results/recal4_indel_exome.txt -recalFile results/recal4_indel_exome.vcf -mode INDEL -O results/exome_recalibrated4_indel.vcf

The output

[2016-11-23 15:53] #1908 closed

[2016-11-23 22:02] SHuang-Broad commented on #2277
Update:
The problem seemingly was caused by the logging part in Spark (thanks to Carlos H. Andrade Costa from IBM for pointing this out).

So a temporary solution that works for now is to add the following lines in the initialization script for spinning up the cluster to turn off logging,

[code]

assuming the cluster was created with

    --image-version preview

I test run the tool where I obser

[2016-11-23 22:04] SHuang-Broad commented on #2277
@droazen I think we could still leave this open and when Google updates the preview image on dataproc to 2.0.2, I'll go back and test it again without messing the logging level.

[2016-11-24 14:05] magicDGS opened #2284 "Port fix for CreateSequenceDictionary with large genomes"
Once the Picard PR is accepted (https://github.com/broadinstitute/picard/pull/687), port this to GATK will be important for allow user with larger genomes to create dictionaries in a proper way.

Note: it requires a version of HTSJDK that includes https://github.com/samtools/htsjdk/pull/744

[2016-11-27 16:04] #2266 closed

[2016-11-29 22:05] #1819 closed

[2016-11-30 13:52] cmnbroad commented on #2276
I see whats going on now - I had been assuming that the extra lines were variant records, but they're just extra filter metadata lines resulting from the bogus tranches. So, the actual fix for this was https://github.com/broadinstitute/gatk/pull/2275. I'm closing this ticket out and will add a separate PR with an integration test that uses multiple tranches so we don't regress.

[2016-11-30 13:52] #2276 closed

[2016-11-30 16:02] cmnbroad commented on #2065
Closing. Results from [PR](https://github.com/broadinstitute/palantir/pull/447) are [here](https://github.com/broadinstitute/palantir/tree/master/Analysis/vqsr_3_4_tie_out).

[2016-11-30 16:02] #2065 closed

[2016-11-30 16:04] cmnbroad commented on #2064
Closing. Perf results are [here](https://github.com/broadinstitute/palantir/tree/master/Analysis/vqsr_3_4_tie_out).

[2016-11-30 16:04] #2064 closed

[2016-11-30 16:41] droazen opened #2287 "Possible regression in merging bams on GCS in Spark"
@vdauwera reports that the following `ApplyBQSRSpark` command fails with an NIO-related error on dataproc:

[code]

[code]

[2016-11-30 16:43] droazen commented on #2287
One possible culprit is https://github.com/HadoopGenomics/Hadoop-BAM/pull/111, which introduced the `NIOFileUtil` class to Hadoop-BAM.

@tomwhite @jean-philippe-martin Could you comment with your thoughts on this?

[2016-11-30 17:44] jean-philippe-martin commented on #2287
Sorry, I won't be able to get to this until next week at the earliest.

[2016-11-30 21:13] tomwhite commented on #2287
I'm not sure why the `gs` provider doesn't get installed (I think JP was seeing this before), but in any case there's a workaround in GATK for it: https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/utils/gcs/BucketUtils.java#L380-L390

However, since the Hadoop-BAM code is doing the path lookups, it can't call that code directly (the dependency is the wr

[2016-11-30 21:45] vdauwera commented on #2287
There's no rush on my end, FYI.

[2016-12-01 03:34] vdauwera commented on #1688
Saw the recent https://github.com/samtools/htsjdk/pull/744 fix in htsjdk; I'm going to assume that it fixed whatever performance problems people have had previously linked to large genomes. If someone runs into new issues we'll create new ticket as appropriate.

[2016-12-01 03:34] #1688 closed

[2016-12-01 10:23] magicDGS commented on #1688
The htsjdk fix is not directly apply to any downstream project, but should be implemented as in https://github.com/broadinstitute/picard/pull/687. Nevertheless, I opened an issue about this (#2284) so I guess that anyway is fine to close this one.

[2016-12-01 14:46] droazen commented on #2287
Next week is fine guys, no worries! :)

Does the GS NIO provider currently support writing @jean-philippe-martin? This particular method is trying to write a merged bam file to a bucket. I'm wondering if it would work even if the `gs` provider were present...

[2016-12-01 15:52] droazen opened #2288 "Implement Spark correctness tests on gatk-jenkins separate from performance tests"
Currently we have Spark performance tests on gatk-jenkins which fail intermittently due to normal variance in runtimes. As a result, we don't always closely look into failures. We need Spark correctness tests in jenkins that are separate from the performance tests and that fail only when there's an actual regression -- and when these fail, it should always trigger a timely investigation by an engi

[2016-12-01 15:58] davidbernick commented on #2288
This is blocked, I believe, by the Spark tests not actually currently working. Once they're working (and I need action from the team for that) I can add Spark Sanity tests. I sent email about it but posting the error here.
Command:
[code]

Error:
[code]

[2016-12-01 16:02] droazen opened #2289 "Fix Spark tests on gatk-jenkins"
Spark tests on gatk-jenkins are currently failing:

Command:

[code]

[2016-12-01 16:04] droazen commented on #2288
@davidbernick Created https://github.com/broadinstitute/gatk/issues/2289 to track the task of getting the tests passing again.

[2016-12-01 17:30] jean-philippe-martin commented on #2287
@droazen yes, the GS NIO provider supports writing (though I've spent most of my focus on the reading side). You have to pick reading or writing when you open the file, you cannot do both on the same stream at the same time (I don't think that's the problem here).

What might be going on here is confusion between the NIO paths (they start with "gs://") and the GCS connector paths (they also start

[2016-12-01 21:29] cmnbroad opened #2290 "Need additional VQSR integration tests"
We should try to add tests for:

- mixed-mode (SNP and Indel)
- a test that uses more than one input file (this could be the same as the mixed mode test)
- a test that uses an aggregate input

[2016-12-02 16:31] lbergelson commented on #2289
I fixed these by update the dataproc image from 1.0 -> 1.1.

@davidbernick Is there a way to make that into a variable that's settable in one place and shared between every jenkins spark job?

[2016-12-02 16:31] #2289 closed

[2016-12-02 16:45] SHuang-Broad commented on #2277
Update:

Dataproc's preview image was just updated to use Spark 2.0.2.
The specific `CocurrentModificationException` is gone after this upgrade, but a new IO exception emerges, which might be related to the problem described [here](http://stackoverflow.com/questions/29781489/apache-spark-network-errors-between-executors).
Needs more testing.

[2016-12-02 17:50] droazen commented on #2288
@davidbernick https://github.com/broadinstitute/gatk/issues/2289 is resolved, so this ticket should now be unblocked.

[2016-12-02 19:35] chandrans opened #2291 "MuTect2 VCF should have sample names instead of "Tumor" and "Normal""
## Feature request

### Tool(s) involved

MuTect2

### Description

User would like MuTect2 VCF to have the sample names in the header instead of TUMOR and NORMAL. For example, if the normal sample name is Sample1 and the tumor sample name is Sample2, the VCF header should show those names.

This Issue was generated from your [forums]
[forums]: http://gatkforums.broadinstitute.org/gatk/discussion/

[2016-12-03 19:59] vdauwera commented on #2291
We need to put some more thought into what form this should take. How exactly do we want to encode this information?

Right now we have (a)

    #CHROM POS ID  REF ALT QUAL    FILTER  INFO    FORMAT  TUMOR   NORMAL

So would we want to change that to this? (b)

    #CHROM POS ID  REF ALT QUAL    FILTER  INFO    FORMAT  sample1   sample2

Or would we want to make it look like e.g. this for maximal

[2016-12-03 20:02] vdauwera commented on #2291
@davidbenjamin

[2016-12-05 14:53] meganshand opened #2292 "Fisher Exact Test Edge Case"
Fisher's Exact Test fails for the following two unit tests (that should be added to the data provider in `FisherExactTestUnitTest.java`):

[code]

R's implementation results in 1.0 for both of these tables, but the current GATK implementation results in 0.0 for both of them. They are examples of an edge case when the observed table is the only possibility given the marginal distributions (so the p

[2016-12-05 16:56] tomwhite commented on #2287
I checked in the spark JAR, and `META-INF/services/java.nio.file.spi.FileSystemProvider` contains

[code]

So it looks like the service loader file is being created correctly.

I tried to reproduce on GCS by running (essentially the same as @vdauwera's command.)

[code]

But I got another error earlier on. Any ideas what this could be? (I can see the input bam with `gsutil cp`)

[code]

[2016-12-05 17:24] tomwhite commented on #2287
@droazen helped me out with this. It was because I wasn't specifying the API key correctly.

[2016-12-05 21:56] chandrans opened #2295 "MuTect2 Outputs Odd Allele Frequencies"
## Bug Report

### Affected tool(s)
Mutect2

### Affected version(s)
3.6

### Description
The AF field of MuTect2 is unpredictable depending on the input interval. For example, if I run with `-L chr7:140452736-140453536`, I get this at one site:
`chr7	140453136	.	A	T	.	PASS	ECNT=1;HCNT=27;MAX_ED=.;MIN_ED=.;NLOD=239.30;TLOD=243.81	GT:AD:AF:ALT_F1R2:ALT_F2R1:FOXOG:QSS:REF_F1R2:REF_F2R1	0/1:1489,145:

[2016-12-05 21:57] vdauwera commented on #2295
@chandrans MuTect2 is in the gatk-protected repo, so I believe issues should go there rather than here.

[2016-12-05 21:58] #2295 closed

[2016-12-05 21:58] chandrans commented on #2295
Issue moved to [broadinstitute/gatk-protected #812](https://github.com/broadinstitute/gatk-protected/issues/812) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-05 22:36] jean-philippe-martin commented on #1755
I vote to close. As per my earlier remark, performance reading from GCS buckets (at least in the case highlighted in this ticket) is just fine. The root cause was that the comparison was forgetting about the 6min it takes to place the GCS file onto the cluster.

[2016-12-05 22:41] jean-philippe-martin commented on #2287
Spark hiding the GCS-NIO jar is a problem we indeed ran into before (see IOUtils.getPath). Given that this never worked, I wonder how we were outputting merged bams to GCS before?

[2016-12-05 22:46] droazen commented on #2287
@jean-philippe-martin Possibly we were using the GCS<->HDFS adapter previously, and something changed in the code to make us use NIO here instead?

[2016-12-05 22:57] pgrosu commented on #1755
@jean-philippe-martin Will files always be preemptively be placed on GCS, so this time-delta will not be experienced?

[2016-12-05 23:42] jean-philippe-martin commented on #2287
I concur, what it looks like we have here is code that switched (accidentally?) from the GCS adapter to GCS-NIO instead.

[2016-12-06 01:20] zhipan opened #2296 "bwaspark fails at the chunk boundary"
Running GATK4 BwaSpark encounter the following fatal error message:
`[M::mem_sam_pe] Paired reads have different names: "206B4ABXX100825:7:66:2632:21260", "206B4ABXX100825:7:66:2632:31752"`

Script:
`$GATK_LAUNCH BwaSpark -I $unsorted_bam_hdfs -O $sorted_bam_hdfs -t 10 --disableSequenceDictionaryValidation true -R $ref_hdfs -K 10000000 -- --sparkRunner SPARK --sparkMaster yarn --num-executors 1 --

[2016-12-06 11:54] tomwhite commented on #2287
Yes, Hadoop-BAM uses the NIO API to do file merging, whereas in GATK we were using the Hadoop APIs (and therefore the GCS<->HDFS adapter) to do it.

It looks like there are a couple of things needed in GCS-NIO to use the NIO API for this.
1. https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1450 so that we don't have to special-case `gs` URIs to remove everything except the scheme an

[2016-12-06 12:16] tomwhite commented on #2287
It would be helpful to have a failing unit test for this that runs on files in GCS.

[2016-12-06 19:04] droazen opened #2297 "Evaluate commons-configuration for use as an overridable master GATK configuration mechanism"
PRs like https://github.com/broadinstitute/gatk/pull/2156 make it clear that we need some master configuration mechanism in the GATK that can be overridden by clients/downstream projects.

One promising option is `commons-configuration` (https://commons.apache.org/proper/commons-configuration/userguide/user_guide.html) using properties files -- we should look into this to see whether it does what

[2016-12-06 19:04] droazen commented on #2297
@tomwhite Can you look at this and make a proposal?

[2016-12-06 19:09] droazen opened #2298 "Implement short-running dataproc regression tests on travis"
We need some short-running regression tests that run on dataproc in travis, to supplement the large-scale tests in gatk-jenkins.

[2016-12-06 19:33] droazen commented on #2287
@tomwhite Can we get a quick fix here while we wait for the NIO improvements you suggested? Perhaps we could create a separate copy of the bam merger in GATK4 that uses the old code path, and use that copy for now instead of Hadoop-BAM's?

[2016-12-07 08:46] tushu1232 opened #2299 "I am running sortsam and getting error Exception in thread "main" java.lang.NoClassDefFoundError: org/xerial/snappy/LoadSnappy"
[December 7, 2016 11:43:32 AM AST] Executing as root@hpc1 on Linux 2.6.32-358.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_66-b17; Version: Version:4.alpha.2-116-gdd7e19a-SNAPSHOT
11:43:32.131 INFO  SortSam - Defaults.BUFFER_SIZE : 131072
11:43:32.131 INFO  SortSam - Defaults.COMPRESSION_LEVEL : 5
11:43:32.131 INFO  SortSam - Defaults.CREATE_INDEX : false
11:43:32.131 INFO  SortSam -

[2016-12-07 08:47] tushu1232 opened #2300 "I am running sortsam and getting error Exception in thread "main" java.lang.NoClassDefFoundError: org/xerial/snappy/LoadSnappy"
[December 7, 2016 11:43:32 AM AST] Executing as root@hpc1 on Linux 2.6.32-358.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_66-b17; Version: Version:4.alpha.2-116-gdd7e19a-SNAPSHOT
11:43:32.131 INFO  SortSam - Defaults.BUFFER_SIZE : 131072
11:43:32.131 INFO  SortSam - Defaults.COMPRESSION_LEVEL : 5
11:43:32.131 INFO  SortSam - Defaults.CREATE_INDEX : false
11:43:32.131 INFO  SortSam -

[2016-12-07 14:54] lbergelson commented on #2300
@tushu1232 Could you include your command line that you used to launch gatk?  Are you using the `gatk-launch` wrapper?

[2016-12-07 14:56] lbergelson commented on #2300
I ask because it sounds very similar to #2026 which was fixed by adding  "-Dsnappy.disable=true" to the default jvm args in `gatk-launch` .

[2016-12-07 14:56] lbergelson commented on #2299
closing this because it's identical to #2300 and I started answering that one first...

[2016-12-07 14:56] #2299 closed

[2016-12-07 15:03] tushu1232 commented on #2299
Hello @lbergelson I am running using spark submit and not the gate-launch command.
this is the command I executed

software/spark/gatk4latest/gatk-launch SortSam --input BAM_BWA/SRR.sorted.bam --output hpcinfra/hadoop/test.bam --SORT_ORDER query name

[December 7, 2016 6:01:51 PM AST] Executing as root@hpc on Linux 2.6.32-358.el6.x86_64 amd64; Java HotSpot(TM) 64-Bit Server VM 1.8.0_66-b17; Versio

[2016-12-07 15:05] tushu1232 commented on #2300
I am executing the following command @lbergelson
software/spark/gatk4latest/gatk-launch SortSam --input BAM_BWA/SRR2.sorted.bam --output hpcinfra/hadoop/test.bam --SORT_ORDER queryname

[2016-12-07 19:59] lbergelson commented on #2292
@meganshand Would you be willing to patch this one?

[2016-12-07 20:53] meganshand commented on #2292
Yeah, I'll try to look at it on Friday.

[2016-12-07 22:18] lbergelson commented on #2292
No rush!  Just wondering if you could take a look.

[2016-12-08 05:57] zhipan commented on #2300
no... it is not related to #2026. it is a backward compatibility issue of snappy jar.

[2016-12-08 05:57] zhipan commented on #2296
Anyone?? I think this is a very serious bug... Thanks...

[2016-12-08 13:32] vdauwera commented on #2296
We will discuss this in the forum, thank you. If we need a work ticket for the dev team we will create one ourselves.

[2016-12-08 13:32] #2296 closed

[2016-12-08 17:01] frank-y-liu opened #2302 "commit 558160 fails on PowerPC"
Commit 558160ea5bfde8be3b6e4bdd5283c529fb905fca, which upgrades gkl to 0.3.1 fails on PowerPC. The reason is in gkl-0.3.1, the following code block in IntelGKLUtils.java:

        try {
            // try to extract from classpath
            String resourcePath = "native/" +  System.mapLibraryName(libFileName);
            URL inputUrl = IntelGKLUtils.class.getResource(resourcePath);

[2016-12-08 17:09] droazen opened #2303 "Add test covering --missingValuesInExpressionsShouldEvaluateAsFailing in VariantFiltration"
GATK3 has such a test, we should either port it or write a new one.

[2016-12-08 17:09] droazen commented on #2303
For @ronlevine

[2016-12-08 17:16] vdauwera commented on #2303
@SHuang-Broad should be involved in this

[2016-12-08 17:18] droazen commented on #2303
Added @SHuang-Broad as co-assignee.

[2016-12-08 17:25] tomwhite commented on #2287
@droazen That's probably the best way to do it, although I don't think we can be sure of a quick fix until we have a failing unit test for this on GCS. The turnaround time for manual testing is slow (for me at the moment). If someone could write such a test that would be very helpful.

[2016-12-08 18:31] gspowley commented on #2302
@frank-y-liu, Can you please post the exception from the crash? The `try/catch` block shown above is there to prevent this problem, but it may be catching the wrong exception type.

[2016-12-08 18:33] droazen commented on #2287
@tomwhite If you could put together a quick PR against GATK4 with a temporary copy of the bam merger that uses the old code path, I'd be happy to test it.

[2016-12-08 19:02] droazen opened #2304 "Add ability to manually specify bam indices in walkers"
Requested by @kcibul

[2016-12-08 19:27] lbergelson commented on #2277
this was is done by #2294

[2016-12-08 19:27] #2277 closed

[2016-12-08 21:04] frank-y-liu commented on #2302
@gspowley Here is the stdout when I ran the code on PPC:

[code]

[2016-12-08 21:23] gspowley commented on #2302
Right, the `try` block needs to catch the `java.lang.UnsatisfiedLinkError` exception. We'll fix that in the next GKL release.

As a workaround, you can try defining this environment variable: `export GKL_USE_LIB_PATH=1`

[2016-12-08 22:55] frank-y-liu commented on #2302
@gspowley Yes, defining the env. var. avoided crash. It just says unable to load GKL. thx!

[2016-12-09 01:09] droazen commented on #1210
This is resolved -- we are going to take in the Picard tools as a dependency, and refactor both projects to depend on a shared arg parsing/documentation system (https://github.com/broadinstitute/barclay).

[2016-12-09 01:09] #1210 closed

[2016-12-09 01:45] ronlevine commented on #2303
I created a test on the `rhl_test_vf_missing_expression_values` branch.

[2016-12-09 12:03] tomwhite commented on #2287
@droazen thanks. I've created https://github.com/broadinstitute/gatk/pull/2306 which reverts the commits that caused the problem on GCS. I've tested the above command (MarkDuplicatesSpark) on GCS and it works fine.

[2016-12-09 15:08] fleharty commented on #2233
@vdauwera Would this option only output SQ lines that are represented, or are there other things that could be removed?

[2016-12-09 15:17] vdauwera commented on #2233
Good question, there might have to be degrees of removal. There could be an EXTREME option that removes everything not required by the spec (technically annotation definitions are not required) and a REASONABLE option that just removes the SQ and anything else that we don't care much about (to be defined through discussion). Option names are negotiable of course.

[2016-12-09 15:47] fleharty commented on #2158
@lbergelson Is this issue done, I was looking for things to contribute to, and was going to add these tests, but it looks like they are already there.

[2016-12-09 15:57] fleharty commented on #2233
@vdauwera Would it be reasonable to implement --minimal_header REASONABLE that removes SQ that we don't use, and leave other options like EXTREME for later?

[2016-12-09 16:11] vdauwera commented on #2233
Absolutely, if you can write it in a way that makes it extensible, that seems perfectly... REASONABLE ;)

[2016-12-09 16:27] lbergelson commented on #2233
What's the plan to implement this?  We typically write the header before we know what the calls are going to be.

[2016-12-09 16:39] vdauwera commented on #2233
I think for SQ you could limit the lines you write out to the contigs that are covered in your intervals list, ignore the rest. So you can access that info as soon as you've parsed the command line. Or if you're running without an intervals list you could supply a seq dict file through a separate arg. But the former seems safer.

For other modes: EXTREME would hardcode what we consider required. T

[2016-12-09 17:01] fleharty commented on #2233
@lbergelson Since we write the header before we know the calls, I imagine this will be fairly difficult to implement, yes?  I certainly wouldn't want to make the calls, and then go back to the header and delete things that had already been written to disk.

[2016-12-09 17:13] vdauwera commented on #2233
*I don't think we need to rely on the calls to decide what should be in the header...*

[2016-12-09 19:03] fleharty commented on #2233
@vdauwera We may not have to rely on the calls, but we would definitely need to figure out the intervals (which I assume is done) before writing out the header.

[2016-12-09 19:10] vdauwera commented on #2233
Oh sure, that we do. I do think taking them from an intervals file is the right way to do it.

[2016-12-09 20:56] #2115 closed

[2016-12-09 23:28] jean-philippe-martin commented on #2287
I have pull requests in flight for both (1) and (2). They are #1469
<https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1469> and
#1470 <https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1470>.

Cheers,
JP

On Tue, Dec 6, 2016 at 3:54 AM, Tom White <notifications@github.com> wrote:

[2016-12-10 16:02] vdauwera opened #2308 "Port VariantFiltration/JEXL fix from GATK3"
See https://github.com/broadinstitute/gsa-unstable/pull/1533

Partial fix related to buggy htsjdk implementation of JEXL matching

[2016-12-12 03:23] davidbenjamin commented on #2267
@ldgauthier A very similar issue, broadinstitute/gatk-protected#795, is currently assigned to me as part of our quarterly goals and I'm doing it this week.  The Mutect version ought to be very similar to the HaplotypeCaller version.  I can't promise that it will be the Cadillac of concordance tools but it will be a good start.  Do you mind if I take this one?

[2016-12-12 09:46] magicDGS opened #2309 "Multi-sample ReadPileup could be more efficient"
In the previous version of GATK, a multi-sample pileup (already stratified by sample) was handled with a different class to be more efficient while performing operations by sample or re-splitting. This was done in a very complicated way, using [`PileupElementTracker`](https://github.com/broadgsa/gatk/blob/0b73e380436aaa5a41fb3aab97ab651207669f47/public/gatk-utils/src/main/java/org/broadinstitute/g

[2016-12-12 10:50] magicDGS opened #2310 "FeatureWalker intervals are ignored"
As an example, the following test is failing in [`ExampleFeatureWalkerIntegrationTest`](https://github.com/broadinstitute/gatk/blob/master/src/test/java/org/broadinstitute/hellbender/tools/examples/ExampleFeatureWalkerIntegrationTest.java):

[code]

Where `expected_ExampleFeatureWalkerIntegrationTestWithIntervals_output.txt` is just the first feature from the [`expected_ExampleFeatureWalkerIntegra

[2016-12-12 15:06] ldgauthier commented on #2267
Great!  I can't remember if I wrote up the design requirements somewhere, but they're simple.  The only non-obvious thing is to take a "high-confidence" interval list where we assume anything not in the truth is a false positive (as in NIST GiaB).  Might also be useful for DREAM, but I don't remember the details of how that truth data is represented.

[2016-12-12 21:49] magicDGS opened #2311 "Possible bug in ReadLikelihoods.bestAlleles methods?"
I'm using the `ReadLikelihoods` in a test and I'm setting the likelihoods to negative values. Nevertheless, when I'm trying to get the best alleles for each read using the `bestAlleles()` method, it turns out to return the allele where I haven't set any likelihood (by default, 0).

I think that the bug is in the private method [`searchBestAllele`](https://github.com/broadinstitute/gatk/blob/master

[2016-12-12 21:52] magicDGS commented on #2311
As you did the removal of PRALM (https://github.com/broadinstitute/gatk/pull/2185), could you help me with this, @davidbenjamin? Thank you very much!

[2016-12-13 00:12] lbergelson opened #2312 "Possible solution to loading gcs paths on spark"
So I have a potential solution the problem of having `FileSystemProviders` providers not load correctly on spark.

We can reflectively load the filesystem providers from the user class path in order to get around the fact that our classes aren't in the system class loader.  Here's an example program I wrote that can do it on the driver.

[code]

We'd have to add an initial action to GATKSparkTool

[2016-12-13 00:49] jean-philippe-martin commented on #2312
I'm not entirely sure this would work, but if it does then more power to us.

[2016-12-13 04:12] lbergelson commented on #2312
It does in this very simple test I ran on dataproc.

[2016-12-13 16:29] tushu1232 commented on #2300
Hello Team Any fixes on this issue.
So that we can test the BWASpark tool

[2016-12-13 22:24] #2292 closed

[2016-12-14 16:08] droazen opened #2313 "Fix performance issues in Hadoop-BAM with large interval lists"
@tomwhite found performance issues with large (eg., exome target) interval lists on Spark in the course of our quarterly Spark evaluation. Specifically this test case was very slow:

[code]

Where the bam was `gs://hellbender/q4_spark_eval/WGS-G94982-NA12878.bam` pre-staged into HDFS and the interval list was a localized copy of `gs://hellbender/q4_spark_eval/Broad.human.exome.b37.interval_list`

[2016-12-14 17:00] ronlevine commented on #2099
We actually want to remove the argument, not deprecate it.

[2016-12-14 17:49] magicDGS commented on #2302
It also fails in Mac OS X 10.11.6 x86_64. I'm trying to update my project to the latest version of GATK and this dependency throws the following error with some of my gradle tests and while running an uber-jar (using `--use_jdk_deflater false`):

[code]

Find attached the log: [hs_err_pid7088.log.txt](https://github.com/broadinstitute/gatk/files/652421/hs_err_pid7088.log.txt)

Should I open a diff

[2016-12-14 17:50] droazen commented on #2302
@magicDGS Yes, please open a new issue and assign to @gspowley

[2016-12-14 17:55] magicDGS opened #2315 "GKL fails in Mac"
## System
* Mac OS X 10.11.6 x86_64
* Java HotSpot(TM) 64-Bit Server VM 1.8.0_60-b27

## Problem
I'm trying to update my project ([ReadTools](https://github.com/magicDGS/ReadTools)) to the latest version of GATK and this dependency throws the following error with some of my gradle tests and while running an uber-jar (using `--use_jdk_deflater false`):

[code]

Find attached the log: [hs_err_pid708

[2016-12-14 17:56] magicDGS commented on #2315
I can't assign anyone, @droazen. Could you do it?

[2016-12-14 17:56] droazen commented on #2315
For @gspowley

[2016-12-14 17:57] magicDGS commented on #2315
More information: version 0.2.0 is working.

[2016-12-14 18:31] gspowley commented on #2315
@magicDGS, is this the same Mac as the one in #1985? Assuming yes, this crash happens because AVX is not supported. We had a check for AVX in GKL 0.2.0, but the call was removed by mistake in 0.3.0.

Sorry about that, we'll fix it in the next GKL release.

In the meantime, you can use the workaround from #2302 and define this environment variable: `export GKL_USE_LIB_PATH=1`

[2016-12-14 18:42] lbergelson opened #2316 "system properties not applied when running gatk-launch with jar explicitly specified"
If gatk-launch is run so that it invokes a local jar directly without the generated launch script, it fails to properly pass system properties.

This will cause confusing bugs and performance issues.  It was discovered in due to #2300.  This effects all users using our packaged jars available on the website since they don't include the gradle generated wrapper script.

[2016-12-14 18:45] lbergelson commented on #2300
@tushu1232 Sorry for the delay.  I'm looking into this.  I think you've hit a serious bug in the gatk-launch script.  Do you have $GATK_LOCAL_JAR set in your environment?

It looks like the case where a local jar is used instead of the wrapper script results in the environment variables not being properly defined, which means you end up hitting #2026.  If they were properly defined you should be s

[2016-12-14 18:47] droazen commented on #2316
@lbergelson Is this going to be an easy fix to `gatk-launch`, or is it non-trivial?

[2016-12-14 18:47] lbergelson commented on #2300
If you're interested in BWASpark tool I might wait a bit.  There are a lot of issues with it as it currently stands, it's one of the least tested tools we have.  We have someone working on a different more efficient implementation of the bwa bindings that may eventually be integrated into mainline gatk, so we've sort of stopped most development on BWASparkEngine until we're clear on the direction

[2016-12-14 18:51] lbergelson commented on #2316
@droazen It's not a hard fix but it's bad that we don't have any way of detecting it...  The way we set system properties is very gross and error prone.  We set them in 2 place in build.gradle AND in gatk-launch, and we have to be careful to duplicate the changes in build.gradle in gatk-protected (which I don't think we ever end up doing...)

[2016-12-14 19:00] droazen commented on #2316
We should definitely try to centralize setting of the system properties if possible (perhaps using a master config file) -- though I vote that we put in a quick fix for this first.

[2016-12-14 19:05] lbergelson commented on #2316
Is there a way to have java load a config file as system properties on startup?

[2016-12-14 19:07] droazen commented on #2316
Not sure, but we can look into that possibility.

[2016-12-14 19:11] lbergelson commented on #2316
I ask that because for htsjdk defaults they must be system properties and they're final and set statically on load so mucking about resetting system properties after the JVM started already is going to be a bit of a fiddly ordering nightmare.

[Stack overflow](http://stackoverflow.com/questions/6736235/set-java-system-properties-with-a-configuration-file) doesn't seem to think that it's possible t

[2016-12-14 19:13] droazen commented on #2316
Be that as it may, it would certainly be possible to have a file containing system properties that is used by both gradle and gatk-launch. This would probably be an improvement over the status quo.

[2016-12-14 19:14] lbergelson commented on #2316
Yes, that would be a definite improvement.

[2016-12-14 19:16] droazen opened #2317 "Create a central config file containing Java system properties used by both gradle and gatk-launch"

[2016-12-14 19:16] droazen commented on #2317
To guard against bugs like https://github.com/broadinstitute/gatk/issues/2316#

[2016-12-14 19:16] droazen commented on #2316
Created https://github.com/broadinstitute/gatk/issues/2317

[2016-12-14 19:38] magicDGS commented on #2315
It is th esame computer, @gspowley. In the meanwhile I will change the dependency to 0.2.0 in my software, because it is mostly used in this kind of system. Also with `--use_jdk_deflater true` it will work.

Thanks for the help!

[2016-12-14 19:47] lbergelson commented on #2315
@gspowley Would it be possible to add an osx build to the gkl test runs? Likewise, we need an osx run on our travis runs.

[2016-12-14 19:54] gspowley commented on #2315
We do test GKL on Mac/OSX, but not on a Mac without AVX...

[2016-12-14 20:08] lbergelson commented on #2315
Oh, good point.  I'm not sure that there is any way we could set up a cloud test for that without buying an old mac putting it in a datacenter somewhere ourself.

[2016-12-15 05:14] davidbenjamin commented on #2311
@magicDGS I'm on it.

[2016-12-15 05:41] davidbenjamin commented on #2311
@magicDGS I believe `searchBestAllele`'s behavior is correct.  A larger (i.e. more positive or less negative) likelihood (or rather, log-likelihood) is a better allele.  If you want to initialize some alleles to be better than the default, use a positive value.  If you want them to be worse than the default, use a negative value.  I'm not surprised that `PerReadAlleleLikelihoodMap` did something c

[2016-12-15 14:42] magicDGS commented on #2311
Ok, now I got it! Thanks @davidbenjamin! Just two short questions before closing:

* Could this fact be added to the javadoc (`ReadLikelihood`or `LikelihoodMatrix`)?
* If the more negative values are the less likely, why the construction without information sets everything to 0? I would like to have a way to set on construction the default value and/or this to be `Double.NEGATIVE_INFINITY`. My fee

[2016-12-15 19:44] jean-philippe-martin commented on #2312
That's a good sign. However the code above only checks the providers at the client. It'd be interesting to also check what happens at the workers. I wrote ExampleNioCheckFS for this purpose earlier, you can use it. It's only in a test branch of mine (since it's just test code) but it's pretty short. Looks like this:

[code]

[2016-12-15 20:30] lbergelson commented on #2312
@jean-philippe-martin You're right that this doesn't work on the executors.  We need a way of forcing it to run once on each executor.  I think we can do that either by putting it as a static initializer on something that will be initialized by the executors or running a mapPartitions first with a sufficient number of partitions that it will run once on each executor.  Both ways are kind of sketch

[2016-12-19 15:26] tomwhite commented on #2312
@lbergelson did you get to the bottom of why the `hdfs` provider is loaded, but the `gs` one isn't?

[2016-12-19 16:28] lbergelson commented on #2312
@tomwhite From what I saw the hdfs provider wasn't loaded (at least on my local cluster).  Only the default filesystem and the jar file system.

[2016-12-19 20:21] cmnbroad commented on #2210
Closed via https://github.com/broadinstitute/gatk/pull/2293.

[2016-12-19 20:21] #2210 closed

[2016-12-19 20:24] cmnbroad commented on #2208
Closed via https://github.com/broadinstitute/barclay/pull/1.

[2016-12-19 20:24] #2208 closed

[2016-12-19 20:26] cmnbroad commented on #2130
Closed via https://github.com/broadinstitute/gatk/pull/2293.

[2016-12-19 20:26] #2130 closed

[2016-12-21 19:18] droazen opened #2324 "CommandLineException/CommandLineException.BadArgumentValue should be a UserException (or treated as one)"
Providing a bad value for an argument is the definition of a "user exception" (an error that is the user's fault). If we can't make it a `UserException` directly because of the gatk/barclay split, then we should at least wrap these exceptions in `UserException` at the top level catch, and ensure that a full error message gets printed for the user for these exceptions.

Currently I think `CommandLi

[2016-12-21 22:30] magicDGS commented on #2324
The `CommandLineException` is not failing silently except it is thrown out of the command line parsing and/or in the tool `customCommandLineValidation()`. This handling part of the code is in `CommandLineProgram`:

[code]

I think that GATK should discourage the usage of `CommandLineException` outside the Barclay engine or `customCommandLineValidation()`, and no wrapping the exception to `UserExce

[2016-12-21 22:31] magicDGS commented on #2324
If there is any part of code which is throwing in GATK an `CommandLineException` outside `customCommandLineValidation()` I offer myself to create a PR to fix it for a proper `UserException`.

[2016-12-22 03:58] droazen commented on #2324
The problem is that the catch block in `CommandLineProgram` is calling both `commandLineParser.usage()` and `printDecoratedUserExceptionMessage()` -- it should only be calling `commandLineParser.usage()`, and letting the catch block in `Main.mainEntry()` call `printDecoratedUserExceptionMessage()`. Otherwise there are cases where a `CommandLineException` will be caught without printing any error m

[2016-12-22 04:01] vdauwera commented on #2324
Yes please, thank you!

[2016-12-22 10:40] magicDGS commented on #2324
Is this the only `CommandLineException` which should be an `UserException`? If not, how is going to work the development of new exceptions in Barclay. For instance, in https://github.com/broadinstitute/barclay/pull/11 there is a new exception that I made for values out of range, which extends `BadArgumentValue`.

I agree that this errors should be decoupled from the ones that are not, but in this

[2016-12-22 13:24] cmnbroad commented on #2324
The Barclay exception hierarchy as it currently stands isn't correct, and it needs to be fixed in a way thats consistent with the LegacyParser, which also isn't consistent in it's separation of internal vs user exceptions. I'll propose a fix for that, followed by a GATK PR to address the other issues in this thread. These won't be until after the holiday break though.

[2016-12-22 15:55] droazen commented on #2324
Unfortunately I don't think it's practical to try to enforce that "only the arg parser can throw `CommandLineException`" -- there's too much downstream code and too many tools that do so already, so it would be a bit painful to treat it as a bug.

Instead I think what we should do is:

* Make sure that barclay uses a separate exception class for internal errors that are not the user's fault. This

[2017-01-06 22:27] ronlevine opened #2332 "Update stand_call_conf doc string"
Port https://github.com/broadinstitute/gsa-unstable/pull/1542.

[2017-01-10 17:00] tomwhite commented on #2287
@jean-philippe-martin thanks for fixing the two GCS problems. I've filed another issue to do with walking the filesystem here: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1519. /cc @droazen @lbergelson

[2017-01-11 20:01] cmnbroad opened #2334 "Reject read inputs with no header"
We need to add a validation check to ensure that any read input file contains a header (since they're technically optional). There are code paths that assume that a header/sequence dictionary is always present (i.e., some of the SplitReads tests get NPEs if presented with one).

[2017-01-12 13:11] mbabadi opened #2337 "Custom Spark configuration in tests"
At the moment, all tests share a global Spark context. Once the test context is created, subsequent calls to `getTestSparkContext(Map<String, String> overridingProperties)` or `getSparkContext(...)` return the existing context and `overridingProperties` is ignored. This results in failure of integration tests of tools that need to override certain Spark configs (e.g. to register custom serializers

[2017-01-12 16:43] cmnbroad opened #2338 "Spark Walker base classes need ReadsContext/readFilter integration"
Minimally, VariantWalkerSpark, but we should also audit the other classes included in https://github.com/broadinstitute/gatk/pull/2256/files to see if readFilters are properly propagatd.

[2017-01-12 16:47] cmnbroad commented on #2175
Closed via #2218.

[2017-01-12 16:47] #2175 closed

[2017-01-12 17:47] cmnbroad commented on #2198
Closed via #2218.

[2017-01-12 17:47] #2198 closed

[2017-01-12 21:27] droazen commented on #2337
@tomwhite Thoughts on this?

[2017-01-12 21:32] lbergelson commented on #2337
@mbabadi You can directly register more classes by adding them in GATKRegistrator.  It doesn't fix the problem of needing custom configuration, but that's how we've been  dealing with custom serializers, just put them all in all the time.

[2017-01-13 07:09] mbabadi commented on #2337
@lbergelson but GATKRegistrator is in gatk repo (and not in gatk-protected) and gatk is imported as a maven artifact into gatk-protected. What is the easiest way to do this?

[2017-01-13 15:29] #2311 closed

[2017-01-13 15:34] davidbenjamin commented on #2311
@magicDGS I forgot about your question and apologize for the delay.  The thing to understand is that in GATK 4 the only use for this class (except for the artificial case of unit tests) is to be filled immediately after construction with likelihoods from `PairHMM`.  Therefore, the initialization is irrelevant to our purposes.

I am loathe to add anything to the javadoc because confusion only arise

[2017-01-13 15:36] #1703 closed

[2017-01-13 16:52] magicDGS commented on #2311
Thanks for your answer @davidbenjamin. I still think that a javadoc update may be useful. If GATK is used as a framework and the user does not know that they should fill in all the likelihoods for all the alleles and reads, even without knowing about `PerReadAlleleLikelihoodMap`, this may drive to errors in the code that may be solved with a implementation note in the documentation.

Thanks a lot

[2017-01-13 16:52] davidbenjamin commented on #2291
@vdauwera Going with b + d.  PR submitted:  broadinstitute/gatk-protected#858.

[2017-01-13 17:24] davidbenjamin commented on #1858
@vruano I think GATK 4 fixes this by extracting allele subsetting from genotyping and the qual score.  Is there a  particular bam and variant I can test on before closing this issue?

[2017-01-13 17:26] davidbenjamin commented on #2255
@vdauwera any feedback from GATK 3.7 users? @droazen how's the Palantir tie-out doing?

[2017-01-13 19:36] vdauwera commented on #2291
Great, that is the form I find most pleasing functionally and aesthetically!

[2017-01-13 19:36] #2291 closed

[2017-01-13 19:36] vdauwera commented on #2291
I've notified the user, btw.

[2017-01-13 19:41] vdauwera commented on #2255
Users have commented on speed increases (with happiness) but not yet on the new QUAL. Note that Dec-to-Jan tends to be a dead zone, so probably not many people have had the opportunity to look at it closely.

[2017-01-13 21:33] vruano commented on #1858
You mean that subsetting does not look back into the ReadLikelihoods object but only the VariantContext correct?, In that case this should not be a problem any more.

[2017-01-13 21:35] vruano commented on #1858
mmm... second thought... I think the problem is when we combine samples allele lists from different samples and the non-observed alleles get the counts from the NON-REF allele correct? how is the separation between subsetting and genotyping would fix that?

[2017-01-13 21:44] vruano commented on #1858
... looking at the associated commit I don't see changes that directly affect GenotypeGVCFs and CombineGVCFs so I guess that that was actually a no issue or was fixed somewhere else. If you are confident GATK4 don't have the issue reported then just close it.

[2017-01-13 23:39] ronlevine commented on #2193
Closed since #2326 was merged.

[2017-01-13 23:39] #2193 closed

[2017-01-14 00:28] ronlevine commented on #2147
Closing via #2318.

[2017-01-14 00:28] #2147 closed

[2017-01-15 00:41] davidbenjamin commented on #2291
@vdauwera -- just to be clear, this is only in GATK 4 M2, which is pre-release (but we're working as fast as we can).

[2017-01-15 00:44] davidbenjamin commented on #1858
I *think* it's fixed but I'm not confident enough to close the issue without actually running on a test case that used to have the problem in GATK 3.

[2017-01-15 03:14] vdauwera commented on #2291
Yep, that's great, thank you!

[2017-01-16 22:21] ronlevine commented on #2303
Closing since #2323 is merged.

[2017-01-16 22:21] #2303 closed

[2017-01-17 14:29] magicDGS opened #2345 "Question: multi-thread support in GATK4"
In the classic GATK, walkers had the option to be multi-thread in two different ways:

* `NanoSchedulable` for thread-safe `map()` calls.
* `TreeReducible` for thread-safe `map()` and `reduce()` calls.

Because now the new framework's walkers have only one `apply()` function, maybe the previous design is not applicable. Nevertheless, it will be useful to implement a way to allows a tool to apply t

[2017-01-17 15:44] droazen commented on #2345
In GATK4, the way to make a tool multithreaded is to implement it as a Spark tool. All Spark tools can be trivially parallelized across multiple threads using the local runner, and across a cluster using spark-submit or gcloud.

We wanted to avoid the complexities of implementing our own map/reduce framework, as was done in previous versions of the GATK, and instead rely on a standard, third-party

[2017-01-17 16:09] cmnbroad commented on #143
Barclay now has implementations for min/max and minRecommended/maxRecommended values for integer/float args (and these are integrated with the help doclet). Once GATK is upgraded to the next Barclay version, we can start using them. i.e., ApplyBQSRArgumentCollection. Also, there are a ton of places in gatk-protected where there is custom validation code that could be replaced with annotations.

[2017-01-17 17:36] magicDGS commented on #2345
I don't know too much about Spark, so maybe I have a stupid question: how can be run a Spark tool be run in multiple threads in a single computer? I mean, that requires some setup of the local computer, doesn't it?

[2017-01-17 17:36] magicDGS commented on #2345
And thank you very much for the quick answer, @droazen!

[2017-01-17 18:32] ronlevine commented on #2270
Closing since #2346 is merged.

[2017-01-17 18:32] #2270 closed

[2017-01-17 21:05] lbergelson commented on #2345
@magicDGS You can run a spark tool on a single computer with N threads by specifying `--sparkMaster 'local[N]'` where N is the number of threads you want to use.  If that number is big (>8ish) you might want to consider setting up a spark master and using yarn, which is a bit more complicated but not very difficult.  If that's the case let me know and I can point you to some resources.  For use on

[2017-01-17 21:13] magicDGS commented on #2345
Thanks @lbergelson. But that requires the gatk-launch script or just the shadow jar?

[2017-01-17 21:34] lbergelson commented on #2345
Ah, yes, that's kind of confusing actually...
The **shadow** jar includes a copy of spark and all of it's dependencies, so if you want to run spark tools locally you can use the shadow jar.  If you want to use an existing spark cluster, which may have slightly different versions of spark/spark's dependencies then you need to use the **spark** jar.  The spark jar doesn't include it's own copy of sp

[2017-01-17 21:36] SHuang-Broad opened #2347 "Handling other-chromosome mapping inserted sequence in INS calling"
Currently (at the time of this ticket opening) the way trans-locational structural variations are filtered has an artifact that overkills insertions where the inserted sequence is mapped to a chromosome other than the two flanking regions'.

Need to handle this correctly.

[2017-01-17 21:44] magicDGS commented on #2345
Thanks a lot for this explanation. For the moment I'm more interested in the toolkit that I'm implementing, which does not have a master script for running. It is good to know that if I implement a Spark tool it could run locally with a shadow jar. I will study a bit more about spark in the near future.

So just the last question, and I will close this: why there are some tools that have a Spark v

[2017-01-17 22:16] lbergelson commented on #2345
Well, you're welcome to use gatk-launch as a launch script if you'd like (and feel free to rename to whatever you like...)  A

There are a few reasons we have spark and non-spark versions of the tools.

1.   We wanted to port and validate certain tools as quickly as possible and doing a direct port from gatk3 -> gatk4 was easier than making them sparkified at the same time.

2.  There's a tradeoff

[2017-01-18 09:10] magicDGS commented on #2345
Thank you very much for the detailed answer, @lbergelson. I understand the point 1 and 3, but regarding 2: there is also a cost of running a Spark tool with 1 thread? I would love to use the framework for "sparkify" my tools, but I would like to be sure that there is no cost for running it locally without multi-thread...

[2017-01-18 16:27] droazen commented on #2345
We've found that, generally speaking, you do pay a penalty on single-core performance when becoming a Spark tool, but gain the ability to easily scale to multiple cores and get the job done quickly. This is why we've been maintaining both Spark and non-Spark versions of important tools. Whether this will be the case for your tools as well can only be determined by profiling.

If you extract the lo

[2017-01-18 17:43] ronlevine commented on #2332
Closing since #2341 is merged.

[2017-01-18 17:43] #2332 closed

[2017-01-18 22:03] cmnbroad opened #2349 "ExampleAssemblyRegionWalkerSparkIntegrationTest fails intermittently"
The Spark version of testExampleAssemblyRegionWalker fails reliably when I run all of the tests locally through Gradle. When I run the test by itself, either through Gradle or through IntelliJ, it always passes.

Most of the time when it fails, the test finishes, but the output doesn't match the expected output. The test appears to assume a single output part file; however when it fails there are

[2017-01-19 10:07] magicDGS commented on #2345
Thanks a lot for all your feedback about this @lbergelson and @droazen. From my side this could be close now, although it may be useful to have some of this information in the Wiki to avoid confusion.

Thank you very much again!

[2017-01-19 11:43] vdauwera commented on #2345
👍 to archiving this content on the wiki -- plenty of great information in here (I've been lurking)

[2017-01-20 14:39] LeeTL1220 opened #2351 "NPE when doing CollectArtifactSequencingMetrics"
From Broad VM:
[code]

[2017-01-22 07:54] tushu1232 commented on #2300
Hello Team,
Any update on this bug.Are there any fixes.

Thanks

[2017-01-22 13:15] davidbenjamin commented on #2291
closed in broadinstitute/gatk-protected#858

[2017-01-24 18:54] lbergelson commented on #2300
This bug has become part of a bigger effort to address how configure the gatk.  We're working on a general solution to avoid this sort of issue in the future.  We haven't addressed this specific subcase yet though.  For now the workaround I described above should work for you.  If it doesn't, let me know.

[2017-01-24 18:55] lbergelson commented on #2334
BWASpark requires the ability to read bams with no header.  We'll need to be able to disable this check in some.

[2017-01-25 20:10] LeeTL1220 opened #2356 "LocusWalker very slow when using a large interval file"
Included is a JProfiler screenshot of where it is spending all of its time.

As you can see below, it has not even run any of the ```LocusWalker.apply(...)``` code.
[code]

![oncobuntu_mk3](https://cloud.githubusercontent.com/assets/2152339/22307273/583f61a8-e310-11e6-87ef-e87eaba7cf93.png)

[2017-01-25 20:11] LeeTL1220 commented on #2356
A little more info about the interval file:
[code]

[2017-01-26 11:31] magicDGS opened #2357 "Disable default read filter with arguments blows up as a CommandLineException"
The following test class may fail with the error: "Values were supplied for (ReadLengthReadFilter) that is also disabled":

[code]

I don't know if this may be solved in GATK or in Barclay, but at least a workaround for this logging a warning instead of blowing up will be better than throwing, because that means that default filters with parameters cannot be disabled.

[2017-01-26 11:36] magicDGS opened #2358 "Allowed values for --disableReadFilter should only include default filters"
Because it does not make sense to disable a filter that is not enabled. The only withdraw is that if no default filter is provided, this argument does not have possible values.

If #2355 is accepted, at least the part for the argument collection, this could be solved on the construction for the plugin by providing a plugin argument collection without the `--disableReadFilter` argument.

[2017-01-26 12:30] magicDGS opened #2361 "--disableAllReadFilters should disable only defaults"
In the `ReadFilter` plugin, the `--disableAllReadFilters` option disable all read filters that are provided by the tool and by the user. From my point of view, it does not make sense to disable all the filters and provide some, but I think that the option may be a shortcut to disable all the provided ones and allow the user to set their own filters (or none, if they prefer it).

[2017-01-26 12:44] magicDGS opened #2362 "Request: read filter plugin method for get a list with default filters and CMD instances"
`GATKReadFilterPluginDescriptor.getAllInstances()` returns only the filters provided by the user, but I expect it to return the default ones.

I know that they are added to the merged filter in `getMergedReadFilter`, but this does not allow to retrieve it as a list. In addition, there is no way to access the default filters provided.

I suggest to move the code to merge into the same list the defa

[2017-01-26 12:47] magicDGS opened #2363 "Read filter descriptor isDisabledFilter method should honor --disableAllReadFilters"
Now if the user arguments provide the option `--disableAllReadFilters` and the `isDisableFilter` pass any of the default/user filters, it returns false. If some filter is required for the tool or a warning should be log, this does not allow to do it in the proper way.

I propose to honor this option in the current implementation.

[2017-01-26 15:53] droazen commented on #2356
The issue is definitely in htsjdk -- GATK is just calling `queryOverlapping()` a single time with all of the intervals, having first called `QueryInterval.optimizeIntervals()` on the interval list as required by the API.

[2017-01-26 20:25] droazen opened #2368 "Add a file-based configuration mechanism to GATK (with ability to override)"
Ideally using a standard mechanism like Apache `Configuration`

[2017-01-26 20:32] droazen commented on #2368
(This ticket is just to capture work already in progress)

[2017-01-26 20:34] droazen commented on #2368
Probably best to have a baked-in `gatk.properties`, and an `override.properties` that is looked for in known locations (eg., a package on the classpath, as well as the current working directory). The override logic could be captured in a method that can be overridden by downstream projects with more complex needs.

[2017-01-27 02:38] ronlevine opened #2370 "Set AD and DP to zero if no read coverage"
Port https://github.com/broadinstitute/gsa-unstable/pull/1551.

[2017-01-27 11:42] magicDGS commented on #2357
@droazen I think that this should have the label bug, and actually I think that is quite important because it does not allow to use properly the `--disableReadFiter` argument....

[2017-01-27 15:14] cmnbroad commented on #2362
@magicDGS A method like this should probably go into the base CommandLinePluginDescriptor class in Barclay first.

Having said that, I'm going to close this issue here, since I've recently added a new method in Barclay called [getDefaultInstances](https://github.com/broadinstitute/barclay/blob/976fafea23216cf0577b8e3fe635b115c7975a76/src/main/java/org/broadinstitute/barclay/argparser/CommandLinePl

[2017-01-27 15:14] #2362 closed

[2017-01-27 16:28] magicDGS commented on #2362
Sounds like a good idea, thanks! I will use a copy of the current plugin in my project til all these changes of the plugin descriptor are in (both Barclay and my proposals here).

[2017-01-30 10:08] magicDGS commented on #2362
@cmnbroad I have a question regarding `getDefaultInstances()`. Why the return type is a `List<Object>` and not a `List<T>`. That will make simpler for me using it, if not maybe we require the changes in my PR.

[2017-01-30 14:10] cmnbroad commented on #2144
This will be fixed in Barclay (https://github.com/broadinstitute/barclay/issues/29).

[2017-01-30 18:24] droazen opened #2375 "Hook up cloud prefetching to tribble and FeatureDataSource"
1. Wrap `SeekablePathStream` in the tribble feature readers with a `Function<SeekableByteChannel, SeekableByteChannel>`

2. Mirror what was done in https://github.com/broadinstitute/gatk/pull/2331 for `FeatureDataSource`: propagate cloud prefetching buffer sizes from `GATKTool` down to `FeatureDataSource`, create wrapper functions within `FeatureDataSource`, and pass down to htsjdk.

[2017-01-30 18:26] droazen commented on #2375
For @lbergelson, since @jean-philippe-martin is out this week.

[2017-01-30 19:19] takutosato commented on #2267
I inherited broadinstitute/gatk-protected#795 from @davidbenjamin.

[2017-01-30 23:21] cmnbroad commented on #2362
@magicDGS I made the return type "List<Object>" because the existing consumers that I know of (clp and docgen) have no explicit knowledge of the actual type used for any given plugin descriptor. The proper way to handle it would be to use the bounded type "List<? super T>"; if you just make it "List<T>", then casual consumers like the clp would get a compile error for this (its not covariant):

[2017-01-31 10:20] magicDGS commented on #2362
I open a https://github.com/broadinstitute/barclay/pull/32 for bound the `getDefaultInstances`. You can comment there other things that should be bounded and I will work on then. Thank you in advance!

[2017-01-31 18:14] #2324 closed

[2017-01-31 18:27] droazen opened #2377 "Allow sane combinations of enable/disable plugin arguments, disallow insane combinations"
We should audit the plugin system (and add tests) to ensure that crazy combinations of enable/disable arguments (like `--readFilter` and `--disableReadFilter`) are disallowed, while useful combinations are permitted. Here's my attempt at an initial proposal:

`--enable X --disable X`: crazy, should be an error

`--enable X --enable X`: error

`--disable X --disable X`: error

`--enable X when X is

[2017-01-31 18:27] droazen commented on #2377
For @cmnbroad. The current behavior may or may not be consistent with the above -- even if it is, we should add tests to ensure it stays that way.

[2017-01-31 21:35] droazen commented on #2269
@cmnbroad This is another one we should do sooner rather than later. I think all we need is a method in barclay to give you the full command line as a String (if there isn't such a method already), and a method in GATK4 to add the command line String to a BAM or VCF header along with tool + version number. Once we have that, we can determine how and where this method should be invoked.

[2017-01-31 22:22] cmnbroad commented on #2269
Ok. There is a method on the CLP called getCommandLine, but it reconstructs the command line from the actual values, so it includes all argument values, even defaults that were not specified.

[2017-02-01 00:51] droazen commented on #2269
@cmnbroad I think that might actually be better than just capturing the user's command line, so that the tool defaults not explicitly specified by the user can be recorded (in case they change over time).

[2017-02-01 10:32] magicDGS commented on #2377
This is the purpose of all my work here. The current behavior is the following (if already there, links point to the code):

- `--enable X --disable X` [throws `CommandLineException`](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/cmdline/GATKPlugin/GATKReadFilterPluginDescriptor.java#L208-L214) as expected. There is also a test covering this in [`Re

[2017-02-01 10:39] magicDGS commented on #2377
I want to point out a bug regarding the read plugin that I reported in #357 (and fix with in #2359): disable a default filter with arguments blows up as a `CommandLineException` as if the user provided the arguments for a disabled filter. This is quite important in this regard of insane combinations.

[2017-02-01 10:51] magicDGS commented on #2269
`CommandLineProgram` stores the information of the command line that @cmnbroad mention in the `defaultHeaders`. This may be useful.

Nevertheless, I found a problem regarding this String and I don't know if this is going to be an issue here or in Barclay. The String returned can't be reused to re-run the analysis, because it includes also mutex arguments that are not allowed. I try to copy the com

[2017-02-01 19:29] lbergelson opened #2380 "check that bqsr runs in the allowed memory with index caching on"
- [ ] Currently [BaseRecalibrator runs with 4g of memory](https://github.com/broadinstitute/dsde-pipelines/blob/master/genomes_in_the_cloud/single_sample/PairedSingleSampleWf.wdl#L535-L554) in the production pipeline.  We should check that it still does if we have bam index caching on.

- [ ]  Similarly, make sure [ApplyBQSR runs with 3g of memory](https://github.com/broadinstitute/dsde-pipelines/

[2017-02-01 23:29] SHuang-Broad opened #2382 "`ReadsSparkSource` cannot (seem to) read cram file on hdfs or gcs."
While trying to run a tool with a CRAM input located on a hdfs attached to a dataproc cluster, we are hit by an error message described below:

[code]

to reproduce this error,

[code]

========================

On the other hand, we see a similar error if the input is changed to the same file but stored in a google bucket (although the cited cause is different):

[code]

=========================

[2017-02-01 23:31] SHuang-Broad commented on #2382
poking the engine team @lbergelson @cmnbroad @droazen

[2017-02-02 11:15] magicDGS opened #2383 "Request: rename SplitReads argument names"
For some tools that I'm developing, I want to keep as much as possible the nomenclature for some common parameters in Picard/GATK to integrate my custom tools into a framework that is consistent regarding the argument names. Because of that, I'm having several issues with the `SplitReads`arguments while using splitting by these parameters in my toolkit:

- The current `SplitReads` argument names a

[2017-02-02 14:18] cmnbroad commented on #2382
Looks like the HDFS URI is getting prefixed. Will take a look.

[2017-02-02 14:55] magicDGS commented on #2377
I realized that the `--disable X --disable X` cannot blow up because the argument is a `Set`. Every repeated argument is hidden from the plugin. Either the signature should change to throw the exception or ignore that issue.

[2017-02-02 14:59] SHuang-Broad opened #2386 "Haplotype inferring tool for SV-vcf"
This would benefit evaluating/comparing different call sets.
Maybe borrow ideas from hap.py.
The first step is to parse our custom, but sill spec-conformant, VCF with various annotations, and may be go straight back to local assembly intermediate results.

[2017-02-02 15:24] cmnbroad commented on #2377
I don't see any reason that we need to make redundant disable be an error, since there is no harm in it. (We chose to throw for redundant **enable** because it has a small perf ramification; also, we can't just prune it out since if the redundant filter has args there will be ambiguity).

[2017-02-02 17:44] cmnbroad commented on #2382
@SHuang-Broad can you let me know which build this was. Thx.

[2017-02-02 22:14] SHuang-Broad commented on #2382
@cmnbroad , it's master.

[2017-02-03 16:11] cmnbroad opened #2390 "SelectVariants fails when sample_file is used with a .list file"
The collection list file feature implemented in broadinstitute/barclay#28 can break tools that already have a `Collection<Files>` argument that is used to manually from populate another collection, if the argument value supplied is a ".list" file.

The CLP feature checks to see if an argument value for a collection has a ".list" extension, and if so, populates the argument field with the contents

[2017-02-03 18:07] lbergelson commented on #2390
@cmnbroad I'm not sure I understand what's wrong here.  It seems like if someone was specifying a .list file for `--sample_file`, then they should understand that it has to point to a file full of filenames, not sample names.  Maybe select variants should change to take a list of sample names instead of files, and people can choose to provide a file with .list if they want to.

It seems better tha

[2017-02-03 19:33] cmnbroad commented on #2390
Yes, the CLP change suggestion wasn't a great one of several reasons, type erasure for one. SV can be changed with a small amount of code to take advantage of the new CLP feature and still retain  compatibility with it's previous command line syntax.

[2017-02-03 19:58] cmnbroad commented on #2390
@lbergelson @droazen Ah,  SV has two arguments for samples: "sample_name" takes sample names, and "sample_files" takes file containing samples, but it will take *any *file, regardless of extension. The whole thing is repeated with "exclude_samples".

We could eliminate the file-based arguments, but the result would only work with ".list" files. If we can break backward command line compatibility,

[2017-02-03 21:13] droazen commented on #2349
Disabling this test until the issue is fixed.

[2017-02-03 21:13] droazen commented on #2349
@tomwhite Can you have a look at this one?

[2017-02-06 11:53] tomwhite commented on #2349
The multiple output file problem is fixed in #2350.

The ConcurrentModificationException issue needs more investigation.

[2017-02-06 20:41] cmnbroad commented on #2382
This is happening because there are code path(s) in GATKSparkTool that retrieve the reference via getReferenceFile() (and call getAbsolutePath()). We could fix this specific case, but the upcoming URI class should provide a more general solution.

We should also add a test case that uses the hdfs mini cluster to test an actual tool (we have them for ReadsDataSource, but that bypasses the failing c

[2017-02-06 21:26] mwalker174 opened #2394 "Authentication to access private GCS buckets"
There currently is no way to access files in a GCS bucket that is not public. I will need this feature in the near future to analyze sensitive data.

Just discussed this with @lbergelson, and it sounds like this is something that is not a ton of work but has just been on the back-burner for a while.

[2017-02-06 21:35] lbergelson commented on #2394
@mwalker174 Would you mind posting the stack trace you had here as well?

[2017-02-06 21:45] mwalker174 commented on #2394
markw@WMC9F-819:~/IdeaProjects/gatk$ ./gatk-launch PrintReadsSpark -I gs://mw-pathseq-test/hs37d5cs.reads.sorted.bam -O hs37d5cs.reads.txt --apiKey XXXXXXXXXXXXXXXXXXXX --verbosity DEBUG -- --sparkRunner GCS --cluster mw-test --project broad-dsde-methods
Using GATK jar /Users/markw/IdeaProjects/gatk/build/libs/gatk-package-4.alpha.2-157-g7d7c5ec-SNAPSHOT-spark.jar
jar caching is disabled because G

[2017-02-06 21:45] droazen commented on #2394
@jean-philippe-martin Is this the case? I thought this was working..

[2017-02-06 21:50] lbergelson commented on #2390
My vote is just to remove the "sample_files" argument and let people use the `.list` file with "sample_names".

[2017-02-06 21:51] lbergelson commented on #2394
Hasn't this been broken for a long time?

[2017-02-06 21:55] droazen commented on #2394
Not sure, I'll let @jean-philippe-martin answer that.

[2017-02-06 22:01] lbergelson commented on #2394
I think now that we have the NIO plugin working we can probably replace everything that used AuthHolder with NIO.

[2017-02-06 22:19] jean-philippe-martin commented on #2394
My recollection is that this is a use case we never put any priority on so there's no test in the GATK suite for access to private files. There should be, of course. The feature is there and (at least locally) it worked when I tried it.

NIO does not use the API_KEY, it uses default credentials. Those are environment variables that are set by the `gcloud` command or pre-set for you in the case of

[2017-02-06 22:20] lbergelson commented on #2394
@jean-philippe-martin The bug is in a piece of code that ISN'T using NIO, but is using some old code from the dataflow days to access the bam.  I think that we can replace that code now that NIO is working and we should no longer need these special cases for GCS files.

[2017-02-07 17:28] lbergelson commented on #2375
This was done in https://github.com/samtools/htsjdk/pull/796 and https://github.com/broadinstitute/gatk/pull/2393

[2017-02-07 17:28] #2375 closed

[2017-02-07 20:27] cmnbroad opened #2395 "SamAssertionUtils.samsEqualStringent reverts to read by read comparison often"
SamAssertionUtils.samsEqualStringent tries to short-circuit file validation by first doing an md5 compare. Most of the time when we run the test suite (in the current tests 171 out of 193), the short-circuiting fails we do the more expensive read by read test.

All of these have one or more that fail md5 check (some are probably crams, which IIRC places the file name in the cram header):

MarkDupl

[2017-02-07 23:00] lbergelson opened #2397 "disabling a non-existent read filter gives a warning instead of an exception"
`--disableReadFilter` should throw if a value that is not a valid ReadFilter is given

[2017-02-07 23:00] lbergelson commented on #2377
@cmnbroad We seem to have a bit of a bug where you can disable a read filter that doesn't exist and get a warning instead of an error:

@droazen This is why that command line was working in the wdl.

`--disableReadFilter asdfasdf`  -> `Disabled filter (asdfasdf) is not enabled by this tool`

I opened #2397  to track it.

[2017-02-07 23:03] lbergelson commented on #2397
this is a counter proposal to #2358

[2017-02-07 23:05] mbabadi commented on #2397
I second this: we had a wrong filter name in our WDL scripts which wouldn't get disabled, leading to wrong results and apparently successful runs: https://github.com/broadinstitute/gatk-protected/issues/893

[2017-02-07 23:21] lbergelson opened #2398 "default read filters are excluded from the help output for --disableReadFilters"
Tool default ReadFilters are not included in the help output as possible values for either `--readFilter` or `--disableReadFilter`.

It makes some sense to not include default read filters in the list of read filters to enable, but we definitely need them in the list to disable.

[2017-02-07 23:40] cmnbroad commented on #2143
Closing this in favor of https://github.com/broadinstitute/gatk/issues/2143.

[2017-02-07 23:40] #2143 closed

[2017-02-08 06:15] magicDGS commented on #2398
I think that https://github.com/broadinstitute/gatk/pull/2360 fix it.

[2017-02-08 06:21] magicDGS commented on #2397
In #2358 I'm referring to the help. Actually, I also agree on this.

[2017-02-08 07:17] magicDGS commented on #2397
By the way, I can take this one. I'm planning to do a big PR with a workaround with some of the problems of the plugin that I found to discuss them there.

[2017-02-08 07:19] magicDGS commented on #2377
I will do a big PR with a commit for each of the issues that we found in the plugin, and including tests. Although the plugin interface is going to change in Barclay, I think that before that the PR should setup all the tests for the issues to ensura that the change does not broke anything. Any opinion on this, @cmnbroad, @droazen, @lbergelson?

[2017-02-08 13:32] cmnbroad commented on #2397
@magigDGS Yes, please include the fix for this in the PR with the other related changes.

[2017-02-08 13:36] cmnbroad commented on #2377
@magicDGS Yes, I think it would be much simpler if we had one PR with all of the fixes for the validation rules (and related help issues). The extensibility changes we've been discussing should be a separate PR.

[2017-02-08 16:01] cmnbroad commented on #2269
There is an existing method in GATKTool called getHeaderForSAMWriter that creates and populates the PG record, and it's called by GATKTool.createSAMWriter, so we already do this for BAMs that are created that way (which excludes the Picard tools). We should probably fix MarkDuplicates though.

HaplotypeCaller and Mutect2 use HaplotypBAMWriter/SAMFileDestination/HaplotypeBAMDestination, all of whic

[2017-02-08 16:42] magicDGS commented on #2398
This is kind of a duplicate of #2358

[2017-02-08 17:58] SHuang-Broad commented on #2382
@cmnbroad thanks for the update! This is not a urgent request, but just something nice to have as we might be dealing with more cram files, which will not be converted bams if we could read crams.

[2017-02-08 20:48] droazen opened #2400 "Add integration tests for GCS support in VariantWalkers"

[2017-02-08 20:48] droazen commented on #2400
Done

[2017-02-08 20:48] #2400 closed

[2017-02-09 10:07] magicDGS commented on #2315
Is there any progress on this?

[2017-02-09 15:37] lbergelson commented on #2315
A GKL update is coming very soon.  As far as I know it should address this problem.

[2017-02-09 16:03] gspowley commented on #2315
Right, we're waiting on an HTSJDK release before the next GKL release. After that, we'll add the new GKL to GATK.

[2017-02-09 18:15] mbabadi commented on #2230
@lbergelson, this is the command line that gatk-launch produces:

[code]

and this is the error:

[code]

I tried adding quotations here and there to no avail.

[2017-02-09 18:16] mbabadi commented on #2230
What is happening is that gcloud confuses some of the spark properties with its arguments. I bet somehow it has to do with missing quotations...

[2017-02-09 18:17] mbabadi commented on #2230
here's what I throw at gatk-launch:

[code]

[2017-02-09 18:26] vdauwera commented on #2230
Not sure if this is related, but @chandrans and I had some trouble with the dataproc launcher yesterday (didn't recognize some yarn argument). Changing the "image" setting in the cluster config solved it, afaiu.

[2017-02-09 18:34] lbergelson commented on #2230
Thanks @vdauwera, I'm pretty sure this is an unrelated bug with gatk-launch.

[2017-02-09 18:38] magicDGS commented on #2315
Thanks for the feedback!

[2017-02-10 14:32] vdauwera commented on #269
Hey all, @vruano / @davidbenjamin, is this on your radar at all? I heard rumblings about a rewrite of the assembly machinery; would that address this?

[2017-02-10 14:42] davidbenjamin commented on #269
@vdauwera not on my radar.

[2017-02-10 16:19] waltermblair commented on #2171
I'm pretty new at this - what then is the correct type of reference to supply for BwaSpark? The first command below passes a series of ref.fa reference files created by bwa, and the second passes the dict file created by picard

gatk BwaSpark -I hdfs/example.bam -O hdfs/GATK4test.bam -R hdfs/ref.fa -- --sparkRunner SPARK --sparkMaster <url>

gatk BwaSpark -I hdfs/example.bam -O hdfs/GATK4test.bam

[2017-02-10 17:39] droazen opened #2402 "Remove all code paths in engine (and tests) that use an explicit Google API key"
NIO uses the gcloud system authentication, so we shouldn't need this anymore.

[2017-02-10 17:45] vruano commented on #269
@vruano not in my radar either.... the rewrite of the assembly may fix some of these cases where there is actually some variation that we fail to detect (false negative) that would explain those soft clips. However I don't think that would fix all the cases.

[2017-02-10 17:50] vdauwera commented on #269
Ok, thanks for letting me know. We've been getting user complaints about this, FYI.

[2017-02-10 18:11] chlangley commented on #269
Hello:

Thanks for info.

I don’t suppose it is my role to militate/plead for the solid fix of the this omission.

But I must say that it would be appreciated and in its own way advance science.

Thanks for any consideration.

Cheers,
Chuck

[2017-02-10 18:18] vdauwera commented on #269
Hi Chuck, as always it's a prioritization problem. Our internal stakeholders haven't indicated that this is a significant problem for them (right @ldgauthier ?) so it's difficult for us to justify putting resources into it ahead of other work. But if we start getting a lot of demand from external users to address this (especially if there is a well-documented impact on a research use case), then w

[2017-02-11 05:21] chlangley commented on #269
Thanks for getting this cleared up.
OK, what next?  I'll check with colleagues who may be aware this 'feature'.  Perhaps the case can be made more clearly by a group of users, including visible labs working on human evolutionary genomics.

I don't know the CA genomics community well, but my shallow poling suggests most are happily unaware that SNPs near indels will often be assigned lower quality

[2017-02-12 21:17] ldgauthier commented on #269
This is probably affecting some of the GWAS studies but in subtle ways that
haven't popped up yet. I'm cc'ing Andrea in the hopes that he has some time
to think about the issue. I'd need some uninterrupted time to work out the
details and that's hard to come by at the moment.

On Feb 11, 2017 12:21 AM, "chlangley" <notifications@github.com> wrote:

[2017-02-12 21:52] SHuang-Broad opened #2405 "Homology computation for inversion might be off"
We might have a bug in computing the homology of inversions:

inversions may be called by contigs assembled across either the left or the right breakpoint.
Hence the representation for the homology might be RC of each other if the same inversion is called but by contigs assembled across the two breakpoints.
The following example shows the problem

[code]

We should fix this by using the convention

[2017-02-13 01:29] ldgauthier commented on #269
Hi Laura, hope you are enjoying your maternity leave!
Unfortunately i will not have time to look into this, since I’m writing up a paper.
cheers,

[2017-02-14 01:48] mbabadi commented on #2230
The problem is non-existent with the latest version of gcloud SDK (143.0.1). Closing the issue.

[2017-02-14 01:48] #2230 closed

[2017-02-14 18:00] lbergelson commented on #1995
This may not be working correctly yet.  It seems like it might be publishing snapshots from other pull requests as master.  Don't use this snapshot yet.

[2017-02-14 18:11] droazen commented on #1995
Let's be sure to delete the mis-labelled snapshots once we've resolved this.

[2017-02-14 20:04] droazen opened #2406 "Implement good tests for GCS NIO support in ReadWalkers"

[2017-02-14 20:49] droazen opened #2408 "Move NativeUtils.loadLibraryFromClasspath() to gatk-native-bindings, publish a new release, and make gatk-bwamem-jni and gatk-fermilite-jni implement NativeLibrary"

[2017-02-14 20:50] droazen commented on #2408
To ensure that our native libraries are all loaded in a consistent way.

For @lbergelson

[2017-02-14 20:54] lbergelson commented on #1995
It looks like the errant snapshot was one that I uploaded manually last week and forgot about.  This should be good.

[2017-02-14 20:54] #1995 closed

[2017-02-14 20:55] lbergelson commented on #1995
@magicDGS You should be able to use master-SNAPSHOT as a dependency from artifactory now.

[2017-02-15 11:22] magicDGS commented on #1995
Thanks @lbergelson.

There are some issues with the current implementation of the filter plugin and barclay that is preventing me to use the latest master, but once they are solved I will try it out and if I find any problem I will report it.

For me, as a solo developer, this is going to be amazing for keeping everything up-to-date without breaking compatibility before releases of my own software

[2017-02-15 15:48] #2406 closed

[2017-02-15 15:52] droazen opened #2409 "GCS NIO support for CRAM"
Now that we have good NIO support for reading BAMs from GCS via ReadWalkers, we should look at CRAM as well and evaluate what changes need to be made in htsjdk/GATK to allow NIO to work for CRAMs. It's a separate code path in `SAMReaderFactory`, so I suspect it will not work immediately (though I have not yet tested).

[2017-02-16 20:28] droazen opened #2410 "Add a GATKTool-level --sequenceDictionary argument that allows the user to provide a master sequence dictionary in the form of a .dict file"
We should also add a GATKTool-level `--sequenceDictionary` argument that allows the user to provide a master sequence dictionary in the form of a .dict file. When this argument is specified, the sequence dictionary from the .dict should be used as the master dictionary everywhere, and we should not require sequence dictionaries in VCF headers.

[2017-02-16 20:28] droazen commented on #2410
For @cmnbroad

[2017-02-16 20:29] droazen commented on #2223
Spun out https://github.com/broadinstitute/gatk/issues/2410 for the `--sequenceDictionary` task.

[2017-02-17 17:23] sooheelee opened #2412 "Feature request for SelectVariants to include more types to select upon"
### SelectVariants could expand on their types (INDEL, SNP, MIXED, MNP, SYMBOLIC, NO_VARIATION) to include more types as follows:

- whether insertion or deletion as requested by user shis [here](http://gatkforums.broadinstitute.org/gatk/discussion/8988/how-to-select-insertion-or-deletion-from-a-indels-vcf-file#latest)
- by star `*` allele as requested by user nkobmoo [here](http://gatkforums.broa

[2017-02-21 02:36] ronlevine opened #2413 "Total ploidy does not have to equal to the number of priors"
Port https://github.com/broadinstitute/gsa-unstable/pull/1557

[2017-02-21 12:30] tushu1232 commented on #2300
I came across a new parameter related to bwamemIndexImage.How does one generate this.
Thanks

[2017-02-21 15:10] tushu1232 opened #2414 "How to generate bwamemIndexImage"
Bwa Spark needs a required argument  bwamemIndexImage.How to generate it.
Are there any defined steps

[2017-02-21 20:24] droazen opened #2415 ""400 Bad Request: Token has been expired or revoked" when reading VCF via NIO"
@kcibul reports the following issue while trying to use `SelectVariants` to read a VCF from GCS using the latest master:

[code]

[2017-02-21 20:24] droazen commented on #2415
@jean-philippe-martin Any thoughts on what could be causing this?

[2017-02-21 20:41] jean-philippe-martin commented on #2415
Not yet. I need to reproduce the issue on my end and investigate.

[2017-02-21 21:20] ronlevine commented on #2413
Closed since #2416 is merged.

[2017-02-21 21:20] #2413 closed

[2017-02-21 22:01] jean-philippe-martin commented on #2415
I doubt this is the problem, but could you please confirm

 * Does the gsutil command work even when issued in the same terminal as the GATK command ?
 * If there is an index file (eg. .vcf.idx), could you please double-check that you can read it with gsutil as well?

In order to help me reproducing the issue,
 * Was this running from your desktop, or from a Google Compute (or Google Dataproc) ins

[2017-02-21 23:22] jean-philippe-martin commented on #2415
I wasn't able to reproduce this exact issue. However at least I can make the error message a bit more user-friendly (submitting #2417 for review). Crucially this will now give the name of the file we're having issues with (thus removing the uncertainty about whether it's the data or the index file we cannot access).

[2017-02-21 23:52] droazen commented on #2415
@kcibul Can you try re-running with a build of https://github.com/broadinstitute/gatk/pull/2417, and paste the (hopefully) more detailed error message here?

Can you also try with a few different files in different buckets, and see whether you get the same error in every case?

[2017-02-22 00:22] jean-philippe-martin commented on #2415
gsutil working is not a good predictor of gatk working. It's possible for default credentials to be wrong but gsutil credentials to be fine at the same time. Here is an example of how to get into this situation:

[code]

Please make sure to set up Google Cloud access as follows:
[code]

[2017-02-22 13:11] tomwhite opened #2418 "Support secondary and supplementary alignments when handling paired reads for queryname-sorted BAMs"
From @droazen on https://github.com/broadinstitute/gatk/pull/2350

[2017-02-22 15:04] kcibul commented on #2415
Thanks for the ideas -- I found a few more details out this morning.

I was trying to use a service account, rather than my personal account, using `gcloud auth activate-service-account`.  This works for gcloud and gsutil commands, but doesn't seem to work with ADC very well evidently.  Once I changed and used my personal account via `gcloud auth application-default login` GATK4 no longer gave tha

[2017-02-23 14:29] magicDGS commented on #2383
Although it is not completely solved because it is still clashing for the short names, I'm closing here since #2384 is merged and we discussed there that this is not going to happen.

[2017-02-23 14:29] #2383 closed

[2017-02-23 16:08] droazen opened #2420 "Allow Intel Inflater to be used with block-gzipped VCFs as well"
Requires some additional hook-up work in htsjdk, on top of the work we've already done for bams.

[2017-02-23 16:09] droazen commented on #2420
For @gspowley

[2017-02-23 16:09] droazen opened #2421 "Turn on Intel Inflater by default in GATK4"

[2017-02-23 16:10] droazen commented on #2421
For @gspowley

[2017-02-23 16:21] droazen opened #2422 "Get NIO writing working for both bams and vcfs in walkers"
Writing output via NIO is currently broken, as reported by @jean-philippe-martin:

[code]

Now that the read support is in good shape, let's get the writing end working -- should hopefully be an easy fix.

[2017-02-23 16:21] droazen commented on #2422
For @jean-philippe-martin

[2017-02-23 19:22] droazen opened #2424 "Run NIO benchmarks on single-core instances"
As discussed at methods meeting

[2017-02-23 19:28] droazen commented on #2424
Note that the single-core instances might have hyper-threading (we should find this out as part of this ticket).

[2017-02-23 19:28] droazen commented on #2424
For @jean-philippe-martin

[2017-02-23 21:36] lbergelson commented on #2414
Hi @tushu1232.  The index image is a new feature that's not fully exposed in a friendly.  It's the 5 indexes that bwa requires baked into a single file for easy distribution. ( .amb, .ann, .bwt, .pac, .sa )  We're going to add an official tool to generate it in the near future, but at present the only way to do so is to write a tool yourself that calls into org.broadinstitute.hellbender.utils.bwa.

[2017-02-23 22:31] jean-philippe-martin commented on #2424
The n1-standard-1 instance we'll be using has a single hyper-thread available to it from either a
2.6 GHz Intel Xeon E5 (Sandy Bridge), 2.5 GHz Intel Xeon E5 v2 (Ivy Bridge), 2.3 GHz Intel Xeon E5 v3 (Haswell), or 2.2 GHz Intel Xeon E5 v4 (Broadwell). [Source](https://cloud.google.com/compute/docs/machine-types)

[2017-02-24 00:01] jean-philippe-martin opened #2425 "Service account from a non-GCE VM"
@kcibul asks: how do I run using a service account from a non-GCE VM

[2017-02-24 00:01] jean-philippe-martin commented on #2415
Closing this one since it's answered. Filed #2425 for the new question.

[2017-02-24 00:01] #2415 closed

[2017-02-24 04:34] rtemanni commented on #2414
Hi @lbergelson, would it be possible to have the indeximage for hs37d5 and hs38DH available for download ?
Thanks in advance.

[2017-02-24 19:13] gspowley commented on #2420
@droazen  We have some questions about this. Example GATK commands that use block-gzipped VCFs will help. Let's discuss on Monday (2/27).

[2017-02-24 21:16] lbergelson commented on #2425
@jean-philippe-martin Travis runs the cloud tests using a service account on a non gcs machine.  (at least I assume it's not a gcs vm, I think they use amazon cloud although that could have changed...)  All we do to log in is:

[code]

@kcibul Where you connecting from the broad network?  I've had problems connecting to gcs from home because of IP  restrictions on the broad projects.  Maybe your g

[2017-02-24 22:16] lbergelson commented on #2414
@rtemanni That sounds like a good idea to host them.  Maybe we could include them in the GATKBundle in the future.  They're pretty large files though, and can be generated from the reference directly, so I'm not sure if it makes sense to download them or just create the index yourself from your own reference.  We will definitely consider it though.

[2017-02-26 19:37] ronlevine commented on #2238
Close since #1406 is merged.

[2017-02-26 19:37] #2238 closed

[2017-02-27 18:38] droazen opened #2426 "Determine whether spark.local.dir is automatically set to use the SSD on Google dataproc when one is available"

[2017-02-27 18:39] droazen commented on #2426
It turns out that using an SSD for spark.local.dir results in a massive speedup over using a conventional HDD for our tools. We should find out whether Google dataproc is smart enough to set spark.local.dir to an SSD when one is available

[2017-02-27 18:39] droazen commented on #2426
@jean-philippe-martin Could you look into this when you have time?

[2017-02-27 20:17] jean-philippe-martin commented on #2426
OK!

[2017-02-27 20:29] jean-philippe-martin commented on #1755
Latest results show that GCS buckets perform even better than fine. Closing this issue.

[2017-02-27 20:29] #1755 closed

[2017-02-27 21:03] lbergelson commented on #1755
@jean-philippe-martin This was refering to gs:// inputs in spark wasn't it?  I think we still have work to do on that don't we?

[2017-02-27 21:20] jean-philippe-martin commented on #1755
We do, but not on performance. The performance reading from GCS buckets is just fine, when we take into account the time it would otherwise take to copy the data over from the bucket.

[2017-02-28 00:16] jean-philippe-martin commented on #2425
@lbergson's instructions above are good, but somehow they did not work for me. I was able to follow the [application default credentials](https://developers.google.com/identity/protocols/application-default-credentials) instructions, though. Here are the steps I took:

 1. create a new service account on the Google Cloud web page and download the JSON key file.
 2. gcloud auth activate-service-acc

[2017-02-28 20:57] droazen opened #2428 "Identify which annotations change (excluding precision differences) in GATK4 vs. GATK3 GenotypeGVCFs"

[2017-02-28 20:59] droazen opened #2429 "Implement equivalent of GATK3 multi-variant traversal in GenotypeGVCFs"

[2017-03-01 00:57] jean-philippe-martin commented on #2426
It *looks like* it doesn't. I ran a job and looked at the "environment" tab in the Spark page for the job and didn't see "spark.local.dir" mentioned in the list of properties or the command line. Based on [the documentation](http://spark.apache.org/docs/latest/configuration.html), the setting must thus still be at its default value of "/tmp".

/tmp is on the HDD, the SSD one would have to be on /m

[2017-03-01 01:21] jean-philippe-martin commented on #2426
Confirmed via a custom program: spark.local.dir is unset.

[2017-03-01 01:21] #2426 closed

[2017-03-01 16:44] ronlevine opened #2430 "Make informative message for a missing read group in the covariates table"
From https://github.com/broadinstitute/dsde-docs/issues/1517.
For `ApplyBQSR`, if the input covariates table file for base quality score recalibration has a read group in the quality score (RecalTable1) or  covariates (RecalTable2) report that is not in read group report (RecalTable0),  give an informative error.

[2017-03-01 18:00] lbergelson commented on #2426
Interesting, that's somewhat disturbing news, I wonder if we're paying for ssd's without actually being able to use them...   It's also possible there's a different setting that's configuring the ssd's to be used for shuffle output.

We should investigate this further and 1) see if setting spark.local.dir makes a performance difference 2) ask the dataproc team about this.

[2017-03-01 18:18] jean-philippe-martin commented on #2426
Well we know they're not *completely* unused since I see a `spark` and `hadoop` folder on the SSD (complete with tmp subfolder).

[2017-03-01 19:33] ronlevine commented on #2430
Closing since #2431 is merged.

[2017-03-01 19:33] #2430 closed

[2017-03-01 21:48] lbergelson commented on #2426
Running a particular bam sort takes ~20minutes with hdd and 16 minutes with ssd.  So it's definitely being used somehow.  It looks like spark.local.dir is over ridden by the environment variable LOCAL_DIRS, and I don't see that set, but it's possible it's being set but not recorded correctly in the UI or something like that.  Someone will need to poke at a bit more to be more clear about what's ha

[2017-03-01 22:46] jean-philippe-martin commented on #2426
Ah, excellent point! LOCAL_DIRS is set! I see it's pointing to
`/mnt/1/hadoop/yarn/nm-local-dir/usercache/root/appcache/application_1488408043187_0001`
which is on the SSD, so the answer is that in fact Dataproc uses the SSD automatically. That's a relief!

[2017-03-02 03:22] chandrans opened #2432 "Enable PrintReads to exclude reads above a certain MQ threshold"
@chandrans commented on [Wed Sep 14 2016](https://github.com/broadinstitute/gsa-unstable/issues/1476)

## Feature request
### Tool(s) involved

PrintReads
### Description

Right now, we have a flag that outputs reads with a MQ greater than the set threshold. Users may want to only output reads that have a MQ below a certain threshold. There should be a flag (something like -maximumMappingQuality)

[2017-03-02 03:56] vdauwera commented on #269
@chlangley One thing we could potentially do to attract attention to this issue and solicit feedback from the community would be to feature it on the GATK blog. If you were to write a concise case study detailing the impact of the problem on your results, others may be motivated to look at their own results, and if it causes problems there, add their voices to yours. We're willing to bring this to

[2017-03-02 05:49] chlangley commented on #269
Yes.  That has potential.  Let me consider your suggestion.

[2017-03-02 09:39] magicDGS commented on #2432
This could be easily implemented in the `MappingQualityReadFilter` as a new parameter, and the syntax will be something like:

[code]

I can take this one.

[2017-03-02 14:30] lbergelson commented on #2426
👍 Thanks for investigating.

[2017-03-02 16:24] sooheelee opened #2434 "Feature request for Picard and GATK tools to rationalize GRCh37 versus hg19 nomenclature"
The benefit of this is that analysts would not have to convert back and forth between GRCh37 and hg19 format data, e.g. 1000 Genomes Project VCF resource file.

Components our tools would rationalize:

1. plus or minus chr at the beginning of contigs
2. MT == M
3. 2bp shift somewhere in the mitochondrial contig

See my March 1 comment at http://gatkforums.broadinstitute.org/gatk/discussion/comment

[2017-03-02 16:47] vdauwera commented on #2434
I understand where you're coming from but this is not the right thing to do, not least because it would introduce brittle special-casing. We enforce strict reference matching for good reasons -- I don't want to allow people to do the wrong thing just because it would be easier.

[2017-03-02 16:47] #2434 closed

[2017-03-02 16:52] sooheelee commented on #2434
I am doing this all the time--going back and forth between these references
with resource files. = (

On Thu, Mar 2, 2017 at 11:47 AM Geraldine Van der Auwera <
notifications@github.com> wrote:

[2017-03-03 20:06] jean-philippe-martin commented on #2424
Done. Full results are on the internal presentation slides. The summary table follows:

| speedup vs async on a 1-core machine | slice | whole | intervals |
|-------------|----------|---------|----------|
| vcf | 0.91| 1.40| 0.57|
| bam (exome)| 40.42| 1.06| 1.02|
| bam (wgs)| 111.18| 1.21| 0.99|

This table compares the execution time of a single machine running PrintReads or SelectVariants, gett

[2017-03-03 20:06] #2424 closed

[2017-03-03 21:35] lbergelson commented on #2424
Thanks JP.  This is really Interesting.

Unfortunately I think the vcf slice is the major motivating use case.  How
large was that vcf?  Do you think there's anything we can do to get some
speedup with NIO for small files when we only have 1 core?  I'm not totally
clear on how data transfer over a network interacts with thread waiting.
If we are receiving data over the internet does that need cpu

[2017-03-03 22:11] jean-philippe-martin commented on #2424
The VCF input I used is dbsnp_138.b37.excluding_sites_after_129.vcf, at 2.3 GB.
It takes 0.47min to copy over. The local computation itself is only a few seconds:
 0.04min on the 4-cpu machine,
 0.05min on the 1-cpu machine,
 0.07min on the 1-cpu machine when ASYNC is on.

Running with NIO takes:
 0.21min on the 4-cpu machine,
 0.59min on the 1-cpu machine,

A lot of the IO is done by the network

[2017-03-06 17:52] jean-philippe-martin opened #2436 "Better NIO retries"
When reading BAM or VCF files using the NIO code, sometimes it fails with a 503 "server unavailable" error. In this case we should retry instead of giving up.

[2017-03-06 18:20] kdatta opened #2437 "Update Protocol Buffer dependency to 3.0.0"
GATK4 depends on a beta release of Protocol Buffer 3.0.0, specifically "3.0.0-beta-1" because other versions break the tests depending on hadoop.dfs.minicluster.utils. Eventually, we must move up to a stable version of protocol buffers i.e. either .3.0.0 or higher.

[2017-03-06 18:45] droazen commented on #2437
@tomwhite Have time to look at this one? Not urgent at all.

[2017-03-06 18:48] lbergelson commented on #2437
I remember there being discussion about this when it was included.  It was added by @jean-philippe-martin, I think there was a conflict between the version of protobuffers used by hadoop and the version used by the NIO dependency and this was the only one that worked for both.  I could be misremembering though, and it's possible that since we're using the shaded NIO now that the proto buffer depen

[2017-03-06 18:59] droazen commented on #2437
@jean-philippe-martin Care to weigh in?

[2017-03-06 19:27] cmnbroad commented on #2377
Summary of the set of rules (implemented in @magicDGS branch):

Throw if:

- any filter is enabled or disabled by the user more than once
- any filter is enabled *and* disabled by the user
- a non-existent filter is disabled by the user
- a non-existent filter is enabled by the user
- arguments are provided for a filter that is also disabled (exception for the case where the argument is for a defa

[2017-03-06 19:35] jean-philippe-martin commented on #2424
After running new experiments:

For the vcf input, if we disable the caching (for the slice case) or reduce it (for the other two) then we get better results, to the point that NIO is faster than copy+local for the slice and whole cases.

[2017-03-06 19:39] droazen commented on #2425
@kcibul Does @jean-philippe-martin's suggestion above work for you, or are you still having authentication issues when running using a service account?

[2017-03-06 19:56] jean-philippe-martin commented on #2437
Louis is right. At the time I think I only had 3.0.0-beta-2 as the other option and that made Hadoop break, so I had to go with 3.0.0-beta-1. There may now be a more recent version of Hadoop we can switch to, perhaps, that depends on a more recent version of protobuf ?

[2017-03-06 20:03] lbergelson commented on #2437
It looks like hadoop is on version 2.5.0, and it doesn't look like either of the upcoming hadoop version, 2.8 or 3.0.0 is going to change it.  https://github.com/apache/hadoop/blob/release-2.8.0-RC1/hadoop-project/pom.xml

[2017-03-07 00:45] jean-philippe-martin commented on #1656
@droazen I think you have done this, haven't you?

[2017-03-07 18:45] cmnbroad opened #2438 "Throw when args are provided for a default read filter that is also disabled"
The GATKReadFilterPlugin throws if read filter arguments are provided for a filter that is also disabled by the user, but due to broadinstitute/barclay#23, this is overly aggressive since it also throws if the arguments were provided by the tool itself. #2401 includes a change so that we only warn for this case.

When broadinstitute/barclay#23 is fixed, we should revert to throw behavior when the

[2017-03-07 21:42] vruano opened #2439 "Allow TableReader implementation to process comment lines."
As noted by @mbabadi, it would be useful to allow TableReader extending classes to process comments present in the input.

[2017-03-08 16:16] droazen opened #2441 "Update google-cloud-java dependency to a snapshot containing newly added NIO API methods"
This will allow us to verify that the issues with NIO on Spark have been resolved, and hopefully allow us to finally close https://github.com/broadinstitute/gatk/issues/2287

[2017-03-08 16:16] droazen commented on #2441
For @jean-philippe-martin

[2017-03-08 17:48] droazen opened #2442 "Make ReadsSparkSource.putPairsInSamePartition() more robust"
`ReadsSparkSource.putPairsInSamePartition()` is currently rather naive -- it assumes that in queryname-sorted data, read pairs are always sorted with the first of pair first and the second of pair second, that there are no secondary or supplementary alignments, and that there are always two reads per fragment.

We should make this method more robust:

1. It should not assume that each pair is sort

[2017-03-08 17:48] droazen commented on #2442
For @tomwhite

[2017-03-08 17:49] droazen commented on #2418
Closing in favor of https://github.com/broadinstitute/gatk/issues/2442, which is a bit more specific and detailed about what needs to be done.

[2017-03-08 17:49] #2418 closed

[2017-03-08 18:02] #2432 closed

[2017-03-08 18:40] lbergelson opened #2443 "UserExceptions should explain how to see the stacktrace"

[2017-03-08 20:16] #2439 closed

[2017-03-08 20:27] SHuang-Broad commented on #2414
Did something [here](https://github.com/SHuang-Broad/bwamem-index-image) with a "shameless" copy of Ted's original code. It takes a very short time to create the image, so downloading the big image file (~5GB) might not worth it.

[2017-03-08 20:39] lbergelson commented on #2414
@SHuang-Broad Why not just add that as a gatktool?

[2017-03-08 20:44] SHuang-Broad commented on #2414
Laziness... I just did that project today for fun & practice. It shouldn't be difficult to do it in Java. I'll do it later.

[2017-03-08 21:27] jean-philippe-martin opened #2445 "Document -DSTACK_TRACE_ON_USEREXCEPTION better"
see #2417 for context.

[2017-03-08 21:48] lbergelson opened #2446 "fix invalid certificate for gatk-jenkins"
https://gatk-jenkins.broadinstitute.org/ is currently giving a warning when you try to visit it.  We need to fix it's certificate so that it doesn't give a scary warning.  It says it expired several days ago.

@davidbernick Could you look into this?

[2017-03-08 22:02] davidbernick commented on #2446
We started tracking it two days ago as DSPTO-166 -- one of my people will get on it.

[2017-03-08 22:37] jean-philippe-martin commented on #2445
It's currently documented in `README.md:240`. #2447 adds a mention at the top level.

@lbergelson, is this what you had in mind?

[2017-03-08 22:56] cmnbroad commented on #2443
@lbergelson I think most use cases for this would be for post-arg-parsing problems, so it would make sense to add an Advanced, common command line argument for it. Much easier to use, and as you say we could include instructions in the exception message itself for how to enable it.

[2017-03-09 08:05] magicDGS commented on #2443
Do you think that this is really necessary for a normal user? I mean, usually `UserException` should have a well-defined message String for point to the user what happened. If the stack traces are necessary, are for debugging and I think that the final user won't benefit for having an extra argument.

In addition, it is in the repository README, which made it discoverable for developers and it is

[2017-03-09 15:51] lbergelson commented on #2443
@cmnbroad 👍 to adding an advanced command line option for it.

@magicDGS Our goal is to make it unnecessary for normal users to ever need to see a stacktrace.  We're definitely not at the point yet where every UserException produces either a) the complete information necessary to debug, or even b) the correct information. We're trying to fix all those cases, but there's a lot of possible failure m

[2017-03-09 16:14] davidbernick commented on #2446
Done

[2017-03-09 16:14] #2446 closed

[2017-03-09 16:33] lbergelson commented on #2446
@davidbernick Thank you!

[2017-03-09 17:33] lbergelson opened #2449 "fix failing spark test on jenkins"
Our [spark tests on jenkins](https://gatk-jenkins.broadinstitute.org/view/Performance/) are failing with:
[code]

I'm not sure if it's a jenkins problem or a real regression but we need to investigate it either way.

[2017-03-09 17:36] lbergelson commented on #2449
The last passing build was on a672283.

[2017-03-09 17:48] jean-philippe-martin commented on #2445
Duplicate of #2443

[2017-03-09 17:48] #2445 closed

[2017-03-09 17:49] droazen commented on #2449
I think this might be an unintended consequence of @tomwhite 's changes in https://github.com/broadinstitute/gatk/pull/2350, merged yesterday. In that PR, `ReadSparkSource. getParallelReads()` was patched to call `getHeader()` before doing anything else. @tomwhite Can you have a look at this?

[2017-03-10 12:08] tomwhite commented on #2449
I've created a fix in #2450, but have not been able to run the pipeline that failed. @lbergelson, could you take a look?

[2017-03-10 17:34] chandrans commented on #2432
Thanks @magicDGS and @droazen. I will let the user know it is in GATK4

[2017-03-10 18:53] droazen commented on #2441
@jean-philippe-martin pinging you on this one

[2017-03-10 19:00] jean-philippe-martin commented on #2441
I see not all our NIO pull requests have made it in:
- https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1715
- https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1630
- https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1463

Would you like to proceed now anyways, or should we wait for one or more of those?

[2017-03-10 19:02] #2421 closed

[2017-03-10 19:07] droazen commented on #2441
How much longer do you think they'll be in review? If more than a few days, then perhaps we could move to a snapshot of a branch containing all of the unmerged changes? I think we likely need at least https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1630 for the Spark use case.

[2017-03-10 19:13] jean-philippe-martin commented on #2441
I've put a note on that PR, let's check back later today.

[2017-03-10 19:39] lbergelson opened #2451 "BwaMemIntegrationTest fails on gsa5"
BwaMemIntegrationTest fails on gsa5 and crashes the test suite.

Bwa produces ```[bwt_restore_sa] SA-BWT inconsistency: seq_len is not the same. Abort!``` and then exits which kills the test suite in a gross way.

@SHuang-Broad points out that this often indicates that the version of bwa that was used to generate the index has a difference from the version that is used to load the index.  It's unc

[2017-03-10 19:46] lbergelson commented on #2451
Closing this.  The issue was that git lfs files weren't checked out.

[2017-03-10 19:46] #2451 closed

[2017-03-10 23:35] jean-philippe-martin commented on #2441
That PR is in so we're good. I see there were [four alpha releases](https://mvnrepository.com/artifact/com.google.cloud/google-cloud) in February so the code may be soon available officially.

[2017-03-11 09:57] magicDGS opened #2454 "Request: update Barclay dependency"
Please, I would like to update my GATK dependency to the latest master. Nevertheless, the Barclay version included contains a bug that is solved in https://github.com/broadinstitute/barclay/commit/87c3fa228fa96d11b7177f8bfdfca4801c83a068, but a change in the usage method of Barclay before the fix to print hidden arguments broke the GATK command line class.

Could it be possible to update to the la

[2017-03-13 15:27] #2357 closed

[2017-03-13 15:27] #2358 closed

[2017-03-13 15:27] #2361 closed

[2017-03-13 15:27] #2397 closed

[2017-03-13 15:50] cmnbroad commented on #2398
Closed via #2401.

[2017-03-13 15:50] #2398 closed

[2017-03-13 15:52] cmnbroad commented on #2377
Closed via #2401.

[2017-03-13 15:52] #2377 closed

[2017-03-13 15:52] LeeTL1220 opened #2457 "Script to create a GATK base image for docker"
Then gatk-protected and gatk docker images can specify this one in ``USING``.

See gatk-protected scripts/docker for both a deployment script and a Dockerfile that (subset) can be used for a base image.

[2017-03-13 15:53] cmnbroad commented on #2211
Closed via #2327.

[2017-03-13 15:53] #2211 closed

[2017-03-13 15:56] cmnbroad commented on #2209
Closed via  https://github.com/broadinstitute/barclay/pull/17 and #2327.

[2017-03-13 15:56] #2209 closed

[2017-03-13 15:57] gspowley commented on #2302
Closed with #2423

[2017-03-13 15:57] #2302 closed

[2017-03-13 15:58] cmnbroad commented on #1661
Closed via https://github.com/samtools/htsjdk/pull/720.

[2017-03-13 15:58] #1661 closed

[2017-03-13 16:21] droazen opened #2458 "Profile SV tools"

[2017-03-13 16:21] droazen commented on #2458
This is a place for @tomwhite to put his profiling results on the SV tools

[2017-03-13 16:49] droazen opened #2459 "Add instructions on setting Google cloud credentials to README"

[2017-03-13 16:50] droazen commented on #2459
Including how to use default credentials with a service account

[2017-03-13 16:54] droazen opened #2460 "Make sure GenomicsDB tests test with both BCF and VCF"

[2017-03-13 20:33] jean-philippe-martin commented on #2441
The good news that that gcloud does offer snapshot versions. We can look at
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/pom.xml#L7
to see what it's called, and import that.

The bad news is that it looks like the AuthCredentials class isn't in gcloud anymore yet we still reference it, so we don't compile when using that version.

[2017-03-13 20:49] droazen commented on #2441
Was the class just renamed or something, or is there some replacement class we should be using?

[2017-03-13 20:55] droazen commented on #2298
@davidbernick Since you set up the jenkins tests for us, would you be able to help us out with this ticket? We've gotten weary of catching Spark regressions post-merge with jenkins, and want to set up fast dataproc-based tests in travis that run on every pull request, and just run simple Spark tools like PrintReadsSpark to try to catch at least the most basic kinds of breakage before a branch is m

[2017-03-13 21:08] lbergelson commented on #2441
From the release notes it looks like it's an easy substitution.  In a surprise twist though, it looks like the shading produced invalid package names, so we can't actually refer to the shaded auth class, shaded.cloud-nio.com.google.auth.Credentials.

[2017-03-13 21:19] droazen opened #2461 "Add section to README with instructions on how to generate GATK documentation."

[2017-03-13 21:20] droazen commented on #2461
For @cmnbroad

[2017-03-13 21:35] lbergelson commented on #2441
I opened a pr to fix that problem here: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1743

[2017-03-14 00:14] #2454 closed

[2017-03-14 08:02] magicDGS commented on #2363
Closed by #2401

[2017-03-14 08:02] #2363 closed

[2017-03-14 09:39] magicDGS commented on #2315
Thanks @gspowley! I test the current master and it's working perfectly!

[2017-03-14 13:45] gspowley commented on #2315
Great! Thanks for the feedback @magicDGS.

[2017-03-14 22:24] kdatta opened #2462 "Test input and golden outputs for GenomicsDB Importer test"
@droazen @lbergelson - Need test input gVCF files and golden output for the GenomicsDB importer test code

[2017-03-14 22:24] kdatta commented on #2462
@kgururaj

[2017-03-15 12:25] tomwhite opened #2463 "Fix reading of CRAM headers on GCS"
Currently CRAM files cannot be read from GCS since `ReadsSparkSource#getHeader()` does not set the reference, which is needed for reading CRAM.

To do this, provide a `SamReaderFactory` with a `referenceSequence()` set on it when you construct your `ReadsDataSource`. However, htsjdk does not support `Path` in this API, so that will need updating first.

[2017-03-15 13:52] #2449 closed

[2017-03-15 14:30] sooheelee opened #2464 "CombineVariants new feature to represent the ALT alleles according to a user-provided file"
This feature request stems from discussion at the end of <https://github.com/broadinstitute/gsa-unstable/issues/1547> for CombineVariants.

If the field as a whole (and its tools) does not have a deterministic logic in ordering ALT alleles in multiallelic VCF records of mixed types (@vdauwera says AFAIK there is no order), then I think it will be useful to have an option when combining sites of di

[2017-03-15 14:36] davidbernick commented on #2298
I haven't worked with Travis much -- so it'll be slower for me. I'd rather do this in Jenkins if that's ok. To do "fast" dataproc tests, I need a script that will run fast. For our current tests, I have:

1. Grab gatk and make a docker. That takes about 10 minutes. It needs to be a "fresh" docker to match the PR.

2.
[code]
That's what I currently launch for Spark Tests. If you give me something t

[2017-03-15 14:44] sooheelee commented on #2464
I should say that in the case of Beagle, because the tool ignores records that do not match, having the nonmatching record present in the same file should have no impact. The tool treats the site as a no call and overwrites the genotype with its imputed genotype.

Beagle requires diploid genotype calls.

So for the purposes of Beagle, any genotype call that would be split across two records due to

[2017-03-15 16:25] ronlevine opened #2465 "Add option to preserve case in the sequence file"
Port https://github.com/broadinstitute/gsa-unstable/pull/1566.

[2017-03-17 19:04] droazen opened #2466 "Change in GATK3 allele subsetting routine may have mistakenly not been ported to GATK4"
In GATK3 `GATKVariantContextUtils` line 852 we have:

[code]

The equivalent block of code in GATK4 is in `AlleleSubsettingUtils` line 71 (since `GATKVariantContextUtils.createGenotypesWithSubsettedLikelihoods()` was extracted to a separate class in GATK4 along with all allele subsetting routines).

[code]

Note that the GATK4 version of this line lacks the `(originalVC.getAttributeAsInt(VCFConsta

[2017-03-17 19:05] droazen commented on #2466
Assigning to @davidbenjamin to determine whether the change in question should be ported, and if it should, to make the change and add a unit test that fails without it.

[2017-03-17 19:05] droazen commented on #2466
@lbergelson take note

[2017-03-17 19:23] lbergelson commented on #2466
I have a test case that fails without it :)

[2017-03-17 19:25] droazen commented on #2466
Then feel free to submit the PR for this fix @lbergelson -- but I'd still like to get @davidbenjamin 's explicit thumbs up on it, since he made the change in GATK3.

[2017-03-17 19:33] davidbenjamin commented on #2466
Thumbs-up given.

[2017-03-17 19:34] droazen commented on #2466
Thanks @davidbenjamin -- @lbergelson You should have a look at https://github.com/broadinstitute/gsa-unstable/pull/1346 to see if other GenotypeGVCFs-related changes were made there that didn't make it to GATK4.

[2017-03-17 20:52] davidbernick commented on #1758
this is long-done isn't it?

[2017-03-17 20:53] davidbernick commented on #2288
This should be closed shouldnt it?

[2017-03-17 21:10] droazen commented on #2298
@davidbernick It needs to be done in travis, I'm afraid, otherwise it's not going to solve our problem of people not noticing regressions until after merge.

I'll craft a fast-running test case for you and post it here.

[2017-03-17 21:14] droazen commented on #1758
@davidbernick Not to my knowledge -- there is a "gatk-protected-on-gatk" project in jenkins, but it's never been run.

[2017-03-17 21:17] davidbernick commented on #2298
Well I just did a test for @LeeTL1220 that prevents merge until it passes the Jenkins test.

[2017-03-17 21:18] droazen commented on #2288
We don't yet have good regression tests for Spark that run on a cluster and are separate from the jenkins performance tests. https://github.com/broadinstitute/gatk/issues/2298 will satisfy part of the requirements for this ticket once it's done (by catching the most basic regressions before merge), but there's also a need for larger-scale correctness tests whose status is clearly visible on github

[2017-03-17 21:22] droazen commented on #2298
We'd prefer something tightly integrated with our main test suite in travis, and reserve jenkins for long-running/nightly tests. Having to deal with two CI environments for pull requests is too cumbersome.

[2017-03-17 21:28] davidbernick commented on #1758
so I just did an eval-gatk-protected suite that runs on every PR for lee. What tests do you want to run? The same ones we run on GATK nightly?

[2017-03-17 21:35] droazen commented on #1758
What we want here is something that runs the complete GATK protected test suite on every PR to GATK public, and for each run it should build GATK protected against a snapshot of GATK public built from the current branch, with a badge on github to report failures. In other words, we want the equivalent of the current "gatk-on-htsjdk-master" project in jenkins, but for GATK protected and GATK public

[2017-03-17 21:43] droazen commented on #2298
I'll add: I suspect that this could get done pretty quickly/painlessly if @lbergelson (our travis expert) and yourself (who has set up tests like this before many times) got together in a room and hashed it out. Recommend setting up a meeting with @lbergelson at a time that's convenient in the next week or two. I'll post command lines here by early next week.

[2017-03-18 11:39] davidbernick commented on #1758
THe only issue with running PRs on Jenkins is that I would prefer if an "admin" (via the comment section -- can be any Broad employee) actually activate the test. Why? Because essentially this enables someone to run arbitrary code on OUR environment. While it's fairly locked down, we want some sort of verification that, at first glance, the code doesn't look like it's going to hack us. Jenkins its

[2017-03-18 11:47] davidbernick commented on #1758
Also, do you want to run the "GATK protected test suite" against "GATK Public"? Explain the workflow you envision.

1. A PR comes in on GATK Public.
2. Job runs with the HEAD of GATK Public PR. (The commit hash)
3. Job grabs GATK Protected and...? that's where Im not sure what you want. "against a snapshot of GATK public built from the current branch"

Is GATK Protected regularly taken from a GATK

[2017-03-18 11:54] davidbernick commented on #2298
There are two issues with running this on Travis:
1. Spinning up Dataproc requires access to a bunch of secrets -- namely API Keys and Google Service accounts (usually in the form of a JSON). Travis allows for encrypted Secrets, so I'm okay with them existing there,  but they are ONLY available to PRs that originate from the repo (ie, no forked PRs have access to them). So doing this in Travis wou

[2017-03-18 12:15] chlangley commented on #269
Hello Geraldine:

I started to work on this a bit and found myself blocked.

At this point I have a simple question:  The GATK blog is separate from the forum (?).   When I am on the blog page I can’t seem to find a button to submit a new post.  I must be missing something or the route to blog posting is only via the forum?

Sorry to bother you with such mundane question.

Cheers,
Chuck

[2017-03-18 12:40] droazen commented on #1758
These downstream protected tests only need to run on each merge into master, not when a PR is opened, so that should address the security issue. (I misspoke earlier, sorry -- only the tests in https://github.com/broadinstitute/gatk/issues/2298 need to run for each PR). The goal is just to have a badge on github that lets us know whether protected is working with the current build of public/master

[2017-03-18 12:59] droazen commented on #2298
The tests would be very short-running, so each run should be cheap. Most of the runtime will be just spinning up the cluster. If someone malicious opened up a crazy number of PRs, he would at least quickly hit our travis quota limit which would slow him down considerably. We can look into whether other mechanisms exist on travis to deal with this sort of hypothetical situation.

We do ideally want

[2017-03-18 13:33] vdauwera commented on #269
Hi Chuck, the GATK blog is set up to only accept posts from admins or moderators on the forum (or my team). If you're willing to write something up, we would do it as a guest post, where I would post the text on your behalf (with clear attribution to you). If you'd like to share a draft with us the easiest way to do it is through a google doc.

[2017-03-18 14:54] chlangley commented on #269
Sounds good.

Thanks,
Chuck

[2017-03-20 14:27] droazen commented on #2062
This is done

[2017-03-20 14:27] #2062 closed

[2017-03-20 14:40] droazen commented on #2014
This is done

[2017-03-20 14:40] #2014 closed

[2017-03-20 14:43] droazen commented on #1689
This was done last summer

[2017-03-20 14:43] #1689 closed

[2017-03-20 14:44] droazen commented on #1656
This is done

[2017-03-20 14:44] #1656 closed

[2017-03-20 14:45] droazen commented on #1674
@cmnbroad Is this one satisfied by your merged PR https://github.com/broadinstitute/gatk/issues/2205 ?

[2017-03-20 14:47] droazen commented on #1643
This was done

[2017-03-20 14:47] #1643 closed

[2017-03-20 14:48] droazen commented on #1456
This one didn't work out -- closing.

[2017-03-20 14:48] #1456 closed

[2017-03-20 14:49] droazen commented on #1524
@lbergelson Are we using a version of Kryo with the fix?

[2017-03-20 14:51] droazen commented on #995
This was done

[2017-03-20 14:51] #995 closed

[2017-03-20 14:54] droazen opened #2469 "Migrate protected tools to gatk-launch"

[2017-03-20 14:55] droazen opened #2470 "Ensure all tools (public + protected) use a standard progress meter"

[2017-03-20 14:57] droazen opened #2471 "Migrate tools to GATKTool/walker/GATKSparkTool interfaces where possible"

[2017-03-20 14:58] droazen commented on #1002
Closing this one -- we now want to move away from `AuthHolder`

[2017-03-20 14:58] #1002 closed

[2017-03-20 14:59] droazen opened #2472 "Ensure that gradle build targets are consistent across public and protected"

[2017-03-20 15:01] droazen opened #2473 "Hook up new barclay universal argument tagging"
This feature is needed in particular by Mutect (and related tools in protected)

[2017-03-20 15:02] droazen opened #2474 "Update tool documentation to reflect GATK4 changes (with comms team)"

[2017-03-20 15:03] cmnbroad commented on #1674
Closed via #2205.

[2017-03-20 15:03] #1674 closed

[2017-03-20 15:04] droazen opened #2475 "Formalize release process across public and protected"

[2017-03-20 15:05] droazen opened #2476 "Implement a "sparse" version of VariantContext"

[2017-03-20 15:07] droazen commented on #2313
This one is done

[2017-03-20 15:07] #2313 closed

[2017-03-20 15:08] lbergelson commented on #2473
I still think that separate --normal and --tumor arguments are probably better than -b:tumor.

[2017-03-20 15:09] droazen commented on #2473
This feature is needed by many tools, not just somatic tools, so it makes sense to rely on the generalized tagging support we implemented in barclay.

[2017-03-20 15:12] droazen commented on #1458
Ticket is obsolete --- closing.

[2017-03-20 15:12] #1458 closed

[2017-03-20 15:13] droazen commented on #1296
Obsolete, closing

[2017-03-20 15:13] #1296 closed

[2017-03-20 15:14] droazen commented on #1340
Obsolete, closing

[2017-03-20 15:14] #1340 closed

[2017-03-20 15:15] droazen opened #2477 "Move picard to barclay"

[2017-03-20 15:16] droazen opened #2478 "Ingest Picard as a dependency, add mechanism to Main.java to execute both GATK and Picard CommandLinePrograms"

[2017-03-20 15:16] lbergelson commented on #1340
@droazen Are we going to port UserExceptions to picard?  It seems like a good idea...

[2017-03-20 15:17] droazen opened #2479 "Remove Picard ports once Picard becomes a GATK dependency, and forward-port any changes we want to preserve"

[2017-03-20 15:19] droazen commented on #1812
This is currently in development at Intel.

[2017-03-20 15:20] magicDGS commented on #2478
The mechanism for include picard CLPs (or other custom ones) is already implemented, `Main.getPackageList()` should return the package where the picard tools live, once #2477 is implemented.

[2017-03-20 15:20] droazen opened #2480 "Add ability to auto-generate WDL wrappers for tools using the barclay library"

[2017-03-20 15:20] droazen commented on #2480
Stretch goal for the 4.0 release this summer.

[2017-03-20 15:21] magicDGS commented on #1340
For me it looks like a good idea to move the `UserExceptions` to Barclay, even if it is not handled there. It will be easier also for the development of toolkits using Barclay without dependence in GATK/HTSJDK.

[2017-03-20 15:22] magicDGS commented on #1812
Just a question about this @droazen: it is going to be supported in any kind of computers? If not, it will be nice if there is a general native implementation for fallback in case that the native code is not available...

[2017-03-20 15:26] droazen opened #2481 "Get NIO working for Spark tools"

[2017-03-20 15:28] droazen opened #2482 "Write up a 1-year roadmap document for GATK4"

[2017-03-20 15:29] droazen commented on #2482
Requested by @LeeTL1220

[2017-03-20 15:35] lbergelson commented on #1340
Yeah, that seems like a good idea.  It's a really useful concept I think.

[2017-03-20 15:36] lbergelson commented on #1812
There will always be a java implementation to fallback to if your computer isn't supported.  The accelerated native code will just be faster on supported hardware.

[2017-03-20 15:40] droazen commented on #779
Could be solved with documentation for downstream projects

[2017-03-20 15:41] droazen commented on #265
Closing as obsolete

[2017-03-20 15:41] #265 closed

[2017-03-20 15:44] droazen commented on #592
Closing

[2017-03-20 15:44] #592 closed

[2017-03-20 15:44] droazen opened #2483 "Remove ADAM support"

[2017-03-20 15:45] droazen commented on #1254
Closing in favor of https://github.com/broadinstitute/gatk/issues/2483

[2017-03-20 15:45] #1254 closed

[2017-03-20 15:49] droazen commented on #1451
Assigning to @lbergelson to see if this is still an issue

[2017-03-20 15:50] droazen commented on #1727
Closing as obsolete

[2017-03-20 15:50] #1727 closed

[2017-03-20 15:50] droazen commented on #1728
Closing as obsolete

[2017-03-20 15:50] #1728 closed

[2017-03-20 15:51] droazen commented on #1534
@cwhelan @SHuang-Broad are either of you still experiencing this problem?

[2017-03-20 15:52] droazen commented on #1740
Closing -- I don't know of any problems resulting from this

[2017-03-20 15:54] droazen commented on #1922
Closing as obsolete

[2017-03-20 15:54] #1922 closed

[2017-03-20 15:55] droazen commented on #1928
This is done

[2017-03-20 15:55] #1928 closed

[2017-03-20 15:56] droazen commented on #1983
Let's see if this is still an issue for beta

[2017-03-20 15:58] droazen commented on #2120
@tedsharpe Would you have time to have a quick look at this to see if it's still an issue for the current version of `BwaSpark`?

[2017-03-20 15:59] lbergelson commented on #2120
this is the cause of #2038

[2017-03-20 15:59] droazen commented on #2038
@tedsharpe Can you have a quick look to see if this is still an issue with the current version of `BwaSpark`?

[2017-03-20 15:59] lbergelson commented on #2038
closing in favor of #2120

[2017-03-20 15:59] #2038 closed

[2017-03-20 16:05] lbergelson commented on #2120
I have a fix for this in lb_fixing_read_filter_for_bwa but I still need to write a test.

[2017-03-20 16:09] lbergelson commented on #2483
Since we haven't been maintaining it, we should remove support for reading ADAM format files.  If this is a valuable feature that the community actually wants then we could reconsider.

[2017-03-20 16:12] droazen opened #2484 "Possible memory leak in GATK4"
@cmnbroad reports that he's seeing out-of-memory errors when running the test suite locally. He says it could be a recently-introduced regression -- we should narrow it down to a single commit.

[2017-03-20 16:51] lbergelson commented on #2484
@tedsharpe This sounds related to the test hangs you were telling me about.

[2017-03-20 16:53] vdauwera opened #2485 "Port CombineSampleData to GATK4"
@vdauwera commented on [Fri Nov 06 2015](https://github.com/broadinstitute/gsa-unstable/issues/1208)

Following on https://github.com/broadinstitute/dsde-docs/issues/308

This walker enables combining callsets originating from the same sample, to avoid having to re-run the variant calling.

---

@vdauwera commented on [Fri Nov 06 2015](https://github.com/broadinstitute/gsa-unstable/issues/1208#iss

[2017-03-20 16:58] droazen opened #2486 "Explore whether we can use a mock for GCS"
Would be very helpful for projects like htsjdk that can't have a direct dependency on `google-cloud-java`!

[2017-03-20 17:01] droazen commented on #2486
For @jean-philippe-martin to explore when he has time (complete wishlist item, no urgency)

[2017-03-20 17:02] droazen opened #2487 "Update README to mention that we use zenhub (or migrate from zenhub to github's new equivalent)"

[2017-03-20 17:17] jean-philippe-martin commented on #2441
Good news: there's been a release since so we don't even need to rely on snapshot.
Pull Request #2488 does the update.

However I'm going to have to merge in @lbergelson's fix as well.

[2017-03-20 17:25] vdauwera opened #2489 "Annotation feature request: ability to annotate "set" wrt resource files"
## Feature request

Since CombineVariants will not be ported, we need equivalent functionality to its ability to annotate "set", ie which callset(s) a site is present in. Here is an excerpt from a tutorial that describes this functionality in action:

----

To find out which set each variant belongs to, we can use CombineVariants. CombineVariants has a way to annotate each site with which set the

[2017-03-20 17:28] tedsharpe opened #2490 "VariantsSparkSinkUnitTest hanging"
On my Mac, and on my Linux desktop machine at home, but not on Travis, I consistently fail to run unit tests.  The precise location of the failure varies somewhat, but it's always in this vicinity:

```Test: Test method testWritingToFileURL[0](~me/IdeaProjects/gatk/src/test/resources/Homo_sapiens_assembly19.dbsnp135.chr1_1M.exome_intervals.vcf, .vcf)(org.broadinstitute.hellbender.engine.spark.data

[2017-03-20 17:32] vdauwera commented on #2489
Would be awesome to implement this in a way that allows running the annotator again with a new resource callset and update the set annotation.

The one limitation of this approach I can think of, compared to the combineVariants functionality, is that it is callset-centric, ie it won't tell us what is present in the resources (and potentially common to multiple resources) but not in our input calls

[2017-03-20 18:01] droazen commented on #2490
Hmm, @cmnbroad is this similar to what you've been seeing lately?

[2017-03-20 18:11] tedsharpe commented on #2120
Sure.  I can take a look.  Seems like partly a matter of taste, however.  The only real requirement for a read that is to be aligned is that it have some sequence.  Shall we back the filter off to that bare minimum?

[2017-03-20 18:15] droazen commented on #2478
There are a few other pieces needed here besides that, like code to actually do the search using a `ClassFinder`, resolve the situation where both a GATK and a Picard tool have the same name, and code to actually execute a Picard `CommandLineProgram` in GATK.

[2017-03-20 18:16] droazen commented on #1812
Right, our policy with native code is always to have a Java fallback implementaiton.

[2017-03-20 18:39] cmnbroad commented on #2490
Yes, this looks very similar to what I'm seeing. The VariantSparkSinkUnitTests run fine on their own. When the whole test suite is run though, an OOM error is thrown when VariantSparkSinkUnitTests run:

java.lang.OutOfMemoryError: GC overhead limit exceeded
        at org.gradle.internal.remote.internal.hub.MethodInvocationSerializer$MethodInvocationReader.read(MethodInvocationSerializer.java:120)

[2017-03-20 18:51] lbergelson commented on #1812
*always*\*

[2017-03-20 19:22] #2099 closed

[2017-03-20 19:26] cmnbroad commented on #2484
Closing in favor if https://github.com/broadinstitute/gatk/issues/2490.

[2017-03-20 19:26] #2484 closed

[2017-03-20 19:26] droazen commented on #2484
Likely duplicate of https://github.com/broadinstitute/gatk/issues/2490

[2017-03-20 19:52] vruano opened #2492 "Genotype SV Indels"
Genotype long (SV) indels in GATK-SV.

[2017-03-20 19:53] lbergelson opened #2493 "figure out why some annotations don't implement Annotation and decide if they should"
Some annotation base classes don't implement the `Annotation` marker interface.  (i.e. `VariantAnnotation`) This was the case in gatk3 as well, but it's unclear why.  It may be a historical artifact rather than a design decision, in which case it should be corrected.  If it's important to have the marker interface then all the annotations should implement them.  If it isn't, then we should probabl

[2017-03-20 21:43] jean-philippe-martin commented on #2459
Submitted #2495 for review.

[2017-03-20 21:46] jean-philippe-martin opened #2496 "Uncomment getAuthenticatedGcs once possible"
See #2488 for context. In short, the internal pathways for authentication changed, breaking some tests. We're pushing forward anyways but need to remember to re-enable the code & tests once we can (should be the next release).

[2017-03-20 22:59] Blaok commented on #1657
We encountered similar issue and we solved it with this commit in adam-core: https://github.com/bigdatagenomics/adam/pull/1426 . Maybe you would want to have a look at it.

[2017-03-21 01:40] vdauwera opened #2497 "VariantAnnotator is ignorant of the filter status of VCs for resource expressions"
@ldgauthier commented on [Tue Sep 06 2016](https://github.com/broadinstitute/gsa-unstable/issues/1466)

## Feature request

Enable VariantAnnotator to annotate an input VCF using only PASSing VCs from the resource
### Tool(s) involved

VariantAnnotator  --resource:foo resource.vcf -E foo.AF
### Description

Right now a commandline using the above will apply the AF from resource.vcf to each matchin

[2017-03-21 01:41] vdauwera commented on #2497
Possibly related to https://github.com/broadinstitute/gatk/issues/2489

[2017-03-21 01:42] vdauwera opened #2498 "Smith-Waterman parameters do not represent multiple events robustly"
@ldgauthier commented on [Thu Nov 10 2016](https://github.com/broadinstitute/gsa-unstable/issues/1508)

## Bug Report

### Affected tool(s)
HaplotypeCaller

### Affected version(s)
- [x] Latest public release version -- at least back to 3.1
- [x] Latest development/master branch as of Nov. 10, 2016
### Description
Addition of a rare SNP to a common deletion changes the representation of the deleti

[2017-03-21 14:17] ronlevine opened #2499 "Update MuTect2 documentation about not computing obvious germline variants"
Port https://github.com/broadinstitute/gsa-unstable/pull/1568.

[2017-03-21 14:21] ronlevine commented on #2499
Issue moved to [broadinstitute/gatk-protected #944](https://github.com/broadinstitute/gatk-protected/issues/944) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-21 14:21] #2499 closed

[2017-03-21 14:39] cmnbroad commented on #2490
@gspowley Can you take a look. This problem started happening with https://github.com/broadinstitute/gatk/commit/dfa9cf1a420490285b7be7917082222a07e2b042. I can pretty reliably move back to the previous commit and it goes away. It always surfaces in the VariantSparkSinkUnitTests, but it seems to be the result of a cumulative effect since AFAICT it only happens when running the full test suite via

[2017-03-21 16:45] #2310 closed

[2017-03-21 17:00] ronlevine opened #2501 "Document how VTT orders samples in output table"
Port https://github.com/broadinstitute/gsa-unstable/pull/1569.

[2017-03-21 17:08] #2316 closed

[2017-03-21 17:35] gspowley commented on #2490
Thanks for the details @cmnbroad. I'm looking into it.

[2017-03-21 18:17] vruano opened #2502 "SV called variants.vcf ASSEMBLY_IDS and CONTIG_IDS uses % rather than , to separate elements."
VCF's standard is to use , to separate elements in INFO and FORMAT annotations.

The output of the SV variant caller instead of , uses % to separate elements.

[2017-03-21 18:19] cwhelan commented on #2502
@SHuang-Broad was there a reason you used '%'?

[2017-03-21 18:19] vruano commented on #2502
This seems to come from this constant in GATKSVVCFHeaderLines.java line 15.

    GATKSVVCFHeaderLines.FORMAT_FIELD_SEPARATOR= "%"

[2017-03-21 18:22] vruano commented on #2502
The constant name is rather deceptive as it would be strictly speaking ':' I guess it should be called something like FIELD_ELEMENT_SEPARATOR and I guess there is VCF Consants class constant for that anyway.

[2017-03-21 19:12] lbergelson commented on #2300
@tushu1232 We've addressed this bug and I believe it should work now correctly if you run gatk-launch with the package jars.   I'm going to close this issue, feel free to reopen if it isn't solved for you.

 As to your other question about bwaMemIndexImage, there's a current pull request with a tool to generate this index from a set of bwa indexes.  See https://github.com/broadinstitute/gatk/pull/

[2017-03-21 19:12] #2300 closed

[2017-03-21 19:22] tushu1232 opened #2503 "bwaspark fails to write aligned reads"
org.broadinstitute.hellbender.exceptions.GATKException: Unable to write aligned reads
	at org.broadinstitute.hellbender.tools.spark.bwa.BwaSpark.runTool(BwaSpark.java:52)
	at org.broadinstitute.hellbender.engine.spark.GATKSparkTool.runPipeline(GATKSparkTool.java:353)
	at org.broadinstitute.hellbender.engine.spark.SparkCommandLineProgram.doWork(SparkCommandLineProgram.java:38)
	at org.broadinstitut

[2017-03-21 19:22] tushu1232 commented on #2503
Caused by: java.io.IOException: Invalid splitting BAM index: should contain at least 1 offset and the file size

[2017-03-21 19:34] vruano opened #2504 "Tool to create a reduced input bam file with those reads that constitute the evidence of a set of given variants."
This or these tool would be use to use piece meal bam files that we can use for local (laptop/desktop) development and integration tests.

The input would be SV called variant VCF with and two intervals lists. The first one would indicate for what variants in input we want to gather the evidence reads and the second the supported reference interval in the output (anything outside that interval wil

[2017-03-21 19:38] vruano commented on #2504
This or these tool would be use to use piece meal bam files that we can use for local (laptop/desktop) development and integration tests.

The input would be SV called variant VCF with and two intervals lists. The first one would indicate for what variants in input we want to gather the evidence reads and the second the supported reference interval in the output (anything outside that interval wil

[2017-03-21 20:50] droazen commented on #2503
@tedsharpe Have you seen errors like this before with `BwaSpark`?

[2017-03-21 21:10] kdatta opened #2505 "Maintaining Headers and Callset Mapping (to internal TileDB row indexes) in GenomicsDB"
The key issue here is how to best maintain the mapping data structures for GenomicsDB. During the import, we create two mapping structures – a) merged header created from the INFO, FORMAT and FILTER fields of all the input gVCFs and b) a callset map containing the mapping between callset/sample ids to unique TileDB row indexes.

If we decide that GenomicsDB will internally maintain both a) and b),

[2017-03-21 21:14] jean-philippe-martin commented on #2459
Merged, closing issue.

[2017-03-21 21:14] #2459 closed

[2017-03-21 21:15] jean-philippe-martin commented on #2441
Merged, closing this bug. Next step: #2496

[2017-03-21 21:15] #2441 closed

[2017-03-21 21:16] jean-philippe-martin commented on #2436
Pull request #2506 addresses this issue.

[2017-03-21 21:18] jean-philippe-martin commented on #2425
It looks like this solved the customer's issue. These instructions are now included in the README. Closing this issue.

[2017-03-21 21:18] #2425 closed

[2017-03-21 21:33] vdauwera opened #2507 "ValidateVariants should validate counts of info-field annotation values"
@ldgauthier commented on [Thu Jul 16 2015](https://github.com/broadinstitute/gsa-unstable/issues/1053)

Currently ValidateVariants relies on genotypes to transitively check that each alt allele occurs in at least one sample and that the AC adds up. However, this can fail on sites-only files because there are no genotypes. We should use the definition of the info annotations in the header to check

[2017-03-21 21:34] vdauwera opened #2508 "Indels with QD < 1.0 still pass VQSR"
@ldgauthier commented on [Thu Mar 12 2015](https://github.com/broadinstitute/gsa-unstable/issues/868)

From Grace Tiao:

We found a large number of PASS frameshift indels that looked suspicious in our pan-cancer germline callset (~37k samples) that are driving the top genes in some of our case-control associations. These indels all have the following properties:
1. They are flagged as PASS by VQSR

[2017-03-21 21:46] lbergelson opened #2509 "ValidateVariants throws IllegalArgumentException if a reference isn't provided"
ValidateVariants give an `IllegalArgumentException` if a reference isn't provided.

It should be a `UserException`.  I don't know but I think there may be modes that don't require the reference, so it may need to give a smart error message.

[code]

[2017-03-21 22:10] lbergelson commented on #2503
That sounds like the sort of error we'd get if we tried to index an empty bam.  I wonder if it's the filter problem that Ted's PR is addressing.

[2017-03-21 22:10] lbergelson commented on #2503
Probably also a bug in the error message, because that's a really unhelpful message.

[2017-03-22 01:12] ronlevine commented on #2501
Closing since #2511 is merged.

[2017-03-22 01:12] #2501 closed

[2017-03-22 02:58] SHuang-Broad commented on #2504
Yep. I'll find time this week, but most likely after the Methods meeting.

[2017-03-22 03:06] SHuang-Broad commented on #2502
Nope, simply an ignorance of that part of the VCF spec, and the fact that `INSERTED_SEQUENCE_MAPPINGS` is using `,` for separating fields of a single mapping.

[2017-03-22 03:37] SHuang-Broad commented on #2502
ping @vruano for reviewing #2512 that fixes this issue

[2017-03-22 11:58] pfxuan commented on #1508
@akiezun  Here is a case study for your reference:
**Scalable Genomics Data Processing Pipeline with Alluxio, Mesos, and Minio**
https://alluxio.com/blog/scalable-genomics-data-processing-pipeline-with-alluxio-mesos-and-minio

[2017-03-22 14:05] tedsharpe commented on #2503
I've never seen it do anything else.

[2017-03-22 14:51] gspowley commented on #2490
I reproduced various out of memory errors in a Linux VM with 4G of RAM, both with the `IntelInflaterDeflaterIntegrationTest` enabled and disabled.

Most resulted in the kernel killing the Java process, like this one (from `dmesg`):
[code]

Some were caught by the JVM, like this one:
[code]

Here's my theory of what's happening. The `maxHeapSize` for test JVMs is set to 4G in `build.gradle`:
[code]

[2017-03-22 15:31] droazen commented on #2490
@cmnbroad @tedsharpe Do you guys have only 4 GB of physical memory on the machines where you saw the failures?

[2017-03-22 15:34] droazen commented on #2503
@tedsharpe And does your PR https://github.com/broadinstitute/gatk/pull/2494 fix this issue, to your knowledge?

[2017-03-22 15:38] droazen commented on #2505
@lbergelson Since you were the one who raised this issue at our weekly meeting, could you add your opinion on this topic here for the record? Thanks!

[2017-03-22 15:41] tedsharpe commented on #2490
16 on my Mac. 12 on my Linux desktop.  Nonetheless, I think @gspowley is probably onto something.

[2017-03-22 15:43] tedsharpe commented on #2503
It does not.  The code, AFAIK, was pre-broken, unrelated to the BWA work I was doing, and unaddressed by my efforts.

[2017-03-22 17:34] droazen commented on #200
Closing as obsolete

[2017-03-22 17:34] #200 closed

[2017-03-22 17:34] droazen commented on #203
Closing as obsolete

[2017-03-22 17:34] #203 closed

[2017-03-22 17:35] droazen commented on #204
Closing as obsolete

[2017-03-22 17:35] #204 closed

[2017-03-22 17:36] droazen commented on #182
Tagging as needed for the 4.0 release

[2017-03-22 17:39] droazen commented on #206
Closing as obsolete

[2017-03-22 17:39] #206 closed

[2017-03-22 17:39] droazen commented on #207
Closing as obsolete

[2017-03-22 17:39] #207 closed

[2017-03-22 17:40] droazen commented on #209
Closing as obsolete

[2017-03-22 17:40] #209 closed

[2017-03-22 17:40] droazen commented on #211
Closing as obsolete

[2017-03-22 17:40] #211 closed

[2017-03-22 17:44] droazen commented on #246
This is done thanks to @davidbenjamin !

[2017-03-22 17:44] #246 closed

[2017-03-22 17:46] droazen commented on #143
@cmnbroad Is this one done?

[2017-03-22 17:47] droazen commented on #251
Not happening -- closing

[2017-03-22 17:47] #251 closed

[2017-03-22 17:48] droazen commented on #175
This is long since done

[2017-03-22 17:48] #175 closed

[2017-03-22 17:50] droazen commented on #317
Closing -- we are not going to support zero-length intervals in GATK4.

[2017-03-22 17:50] #317 closed

[2017-03-22 17:50] droazen commented on #351
@lbergelson Can we close this?

[2017-03-22 17:51] droazen commented on #394
Closing as obsolete

[2017-03-22 17:51] #394 closed

[2017-03-22 17:52] droazen commented on #407
Closing as obsolete

[2017-03-22 17:52] #407 closed

[2017-03-22 17:54] droazen commented on #351
This is done -- closing

[2017-03-22 17:54] #351 closed

[2017-03-22 17:56] droazen commented on #692
This is done, thanks to @cmnbroad . We've decided not to implement a separate traversal for `GenotypeGVCFs` for now, as we've gotten it working with the standard GATK4 variant traversal.

[2017-03-22 17:56] #692 closed

[2017-03-22 17:57] droazen commented on #710
Closing as obsolete

[2017-03-22 17:57] #710 closed

[2017-03-22 17:57] droazen commented on #711
Closing as obsolete

[2017-03-22 17:57] #711 closed

[2017-03-22 17:57] droazen commented on #714
Closing as obsolete

[2017-03-22 17:57] #714 closed

[2017-03-22 17:57] droazen commented on #715
Closing as obsolete

[2017-03-22 17:57] #715 closed

[2017-03-22 17:57] droazen commented on #717
Closing as obsolete

[2017-03-22 17:57] #717 closed

[2017-03-22 17:57] droazen commented on #718
Closing as obsolete

[2017-03-22 17:57] #718 closed

[2017-03-22 17:58] droazen commented on #719
Closing as obsolete

[2017-03-22 17:58] #719 closed

[2017-03-22 17:58] droazen commented on #720
Closing as obsolete

[2017-03-22 17:58] #720 closed

[2017-03-22 17:58] droazen commented on #722
Closing as obsolete

[2017-03-22 17:58] #722 closed

[2017-03-22 17:58] droazen commented on #723
Closing as obsolete

[2017-03-22 17:58] #723 closed

[2017-03-22 17:59] droazen commented on #725
Closing as obsolete

[2017-03-22 17:59] #725 closed

[2017-03-22 17:59] droazen commented on #726
Closing as obsolete

[2017-03-22 17:59] #726 closed

[2017-03-22 17:59] droazen commented on #739
Targeting this one for the 4.0 release -- this is a problem we need to solve.

[2017-03-22 18:00] droazen commented on #817
We can already do this using `@ArgumentCollection` -- closing.

[2017-03-22 18:00] #817 closed

[2017-03-22 18:05] droazen commented on #963
This one is almost done -- assigning to @jean-philippe-martin to do the last remaining piece.

[2017-03-22 18:09] droazen commented on #1007
Closing as obsolete

[2017-03-22 18:09] #1007 closed

[2017-03-22 18:10] droazen commented on #1051
This is done.

[2017-03-22 18:10] #1051 closed

[2017-03-22 18:13] droazen commented on #1076
This is done!

[2017-03-22 18:13] #1076 closed

[2017-03-22 18:15] droazen commented on #1116
@cmnbroad Is this one still relevant?

[2017-03-22 18:15] droazen commented on #1128
@cmnbroad Is this one done?

[2017-03-22 18:16] droazen commented on #1133
Closing as obsolete

[2017-03-22 18:16] #1133 closed

[2017-03-22 18:16] droazen commented on #1149
Closing as obsolete

[2017-03-22 18:16] #1149 closed

[2017-03-22 18:17] droazen commented on #1148
@cmnbroad Is this still an issue?

[2017-03-22 18:19] droazen commented on #1216
Closing as obsolete

[2017-03-22 18:19] #1216 closed

[2017-03-22 18:19] droazen commented on #1217
Closing as obsolete

[2017-03-22 18:19] #1217 closed

[2017-03-22 18:19] droazen commented on #1218
Closing as obsolete

[2017-03-22 18:19] #1218 closed

[2017-03-22 18:19] droazen commented on #1219
Closing as obsolete

[2017-03-22 18:19] #1219 closed

[2017-03-22 18:19] droazen commented on #1220
Closing as obsolete

[2017-03-22 18:19] #1220 closed

[2017-03-22 18:19] droazen commented on #1221
Closing as obsolete

[2017-03-22 18:19] #1221 closed

[2017-03-22 18:20] droazen commented on #1222
Closing as obsolete

[2017-03-22 18:20] #1222 closed

[2017-03-22 18:20] droazen commented on #1223
Closing as obsolete

[2017-03-22 18:20] #1223 closed

[2017-03-22 18:20] droazen commented on #1224
Closing as obsolete

[2017-03-22 18:20] #1224 closed

[2017-03-22 18:20] droazen commented on #1225
Closing as obsolete

[2017-03-22 18:20] #1225 closed

[2017-03-22 18:20] droazen commented on #1227
Closing as obsolete

[2017-03-22 18:20] #1227 closed

[2017-03-22 18:20] droazen commented on #1229
Closing as obsolete

[2017-03-22 18:20] #1229 closed

[2017-03-22 18:20] droazen commented on #1230
Closing as obsolete

[2017-03-22 18:20] droazen commented on #1231
Closing as obsolete

[2017-03-22 18:20] #1231 closed

[2017-03-22 18:21] droazen commented on #1170
Closing as obsolete

[2017-03-22 18:21] #1170 closed

[2017-03-22 18:22] droazen commented on #1189
Not happening -- closing.

[2017-03-22 18:22] #1189 closed

[2017-03-22 18:23] droazen commented on #1203
SHUFFLE is useful to keep around for profiling purposes -- closing.

[2017-03-22 18:23] #1203 closed

[2017-03-22 18:24] droazen commented on #1204
Closing as obsolete

[2017-03-22 18:24] #1204 closed

[2017-03-22 18:24] droazen commented on #1205
Closing as obsolete

[2017-03-22 18:24] #1205 closed

[2017-03-22 18:26] droazen commented on #1272
Closing as obsolete

[2017-03-22 18:26] #1272 closed

[2017-03-22 18:27] droazen commented on #1273
Closing as duplicate of https://github.com/broadinstitute/gatk/issues/445

[2017-03-22 18:27] #1273 closed

[2017-03-22 18:29] lbergelson commented on #1148
I'm pretty sure this is still an issue, and I'm pretty sure it's one we're never going to solve in a general way.