[2022-05-06 16:32] bw2 opened #7838 "java.lang.ArrayIndexOutOfBoundsException when creating tabix index"
## Bug Report

### Affected tool(s) or class(es)
gatk SortVcf

### Affected version(s)
Mac OS X 10.16 x86_64; OpenJDK 64-Bit Server VM 1.8.0_322-b06; Deflater: Intel; Inflater: Intel; Provider GCS is available; Picard version: Version:4.1.4.1

### Description
SortVcf finishes sorting and writes out a VCF, but then fails with java.lang.ArrayIndexOutOfBoundsException when generating the tabix index.

[2022-05-09 08:55] krukanna commented on #7597
Hey, I've the same problem.
In version 4.1.3.0 and 4.1.4.0 the quality value appear. In the latest version 4.2.6.1 don't have QUAL value, only dot.

[code]

In latest version missing fields are QUAL, AD and RGQ is always truncated to 99 (if greater).

[2022-05-09 17:13] bbimber opened #7839 "biz.k11i:xgboost-predictor:0.3.0 is now ported to the h2oai repo and released to Maven Central?"
Hello,

We have a java tool that requires GATK and our docker build began to fail a day or two ago. From what I can tell, it seems like biz.k11i:xgboost-predictor is being ported to ai.h2o:xgboost-predictor and perhaps biz.k11i:xgboost-predictor is falling off the mavenCentral() repos? This is a quick attempt to diagnose this. Are you seeing any problems in your builds? Do you have an alternate ma

[2022-05-09 17:46] #7792 closed

[2022-05-10 02:13] davetang commented on #6857
I came across this problem when using `bcftools merge` on some Mutect2 VCFs and [as suggested](https://github.com/broadinstitute/gatk/issues/6857#issue-712317320), a quick fix is to change `AS_FilterStatus` in the VCF header. However I changed `Number` to `.`, which according to the [VCF spec](https://samtools.github.io/hts-specs/VCFv4.2.pdf):

Sharing my code below in case it is useful for others

[2022-05-10 13:06] ldgauthier opened #7840 "GenotypeGVCFs can't handle somatic GVCFs from DRAGEN 3.8.4"
## Bug Report

### Affected tool(s) or class(es)
GenotypeGVCFs

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
GenotypeGVCFs won't joint call DRAGEN mitochondrial data because of the DRAGEN somatic output format.

We should be able to use the DRAGEN SQ in place of Mutect2's TLOD (see line 279 in GenotypeGVCFs

[2022-05-10 13:07] ldgauthier commented on #7840
Replaces #7797

[2022-05-10 13:08] #7797 closed

[2022-05-10 15:09] tamuanand opened #7842 "Java version question for running GATK"
Hi

I had a question on Java version to use for GATK/PIcard.

https://gatk.broadinstitute.org/hc/en-us/articles/360035889531-What-are-the-requirements-for-running-GATK-
states that `the Java runtime version should be at 1.8 exactly`

As you might be aware, Java 1.8 has reached its end of life - https://endoflife.date/java

Given this , I tried running MarkDuplicates and some other tools using Amaz

[2022-05-10 19:00] lbergelson commented on #7839
@bbimber I believe we resolve it from jcenter. There were some issues around it because we removed jcenter resolution from our build at one point when it was slated to shut down.  Testing didn't see any issue because it was being silently mirrored through our artifactory instance and we didn't realize that.  Jcenter changed their plans from shutting down to going into indefinite read only mode, so

[2022-05-10 19:07] lbergelson commented on #7842
We test against 8 and 11 so I would expect either of those to work with out any weird issues.

I can't guarantee that 17 is without problems, but I think if you're running it and the output looks reasonable than there's nothing I know of that would cause subtle errors.  You'll definitely have issues with things like building the documentation, but I suspect that if something runs without crashing

[2022-05-10 19:24] lbergelson commented on #7838
@bw2 I agree, this is an unhelpful error.  We should fix it but it probably has to be done in htsjdk. (or picard since this is a picard tool we import).

I'm not 100% sure what the issue is, it seems like were somehow resolving an invalid bin in the index.  I would expect that that might happen using a very long chromosome, but 193,00,00 shouldn't be too large.  Are you using non-human data or som

[2022-05-10 19:54] tamuanand commented on #7842
Thanks @lbergelson  for your answer and explanation

**_Suggestion:_** It might be worthwhile to update the necessary pages with above info (about Java 8 and Java 11) so that it will help all.  I would suggest updating these pages

- _**Requirements section**_: https://github.com/broadinstitute/gatk#requirements
- https://gatk.broadinstitute.org/hc/en-us/articles/360035532332
- **_QuickStart secti

[2022-05-10 19:54] #7842 closed

[2022-05-10 20:05] TedBrookings commented on #7839
It can be removed. I'm working in a new branch and full training was required, thus the predictor-only package is not beneficial.

[2022-05-10 20:12] bbimber commented on #7839
@lbergelson Thanks for the quick reply. I just re-added jcenter and it's working. I'll keep an eye on changes in GATK, since it would be slighter nicer to be on the newer version (or remove if @TedBrookings  is correct).

[2022-05-10 20:12] #7839 closed

[2022-05-10 20:26] tamuanand commented on #7842
@lbergelson - Based on your answer, can I assume that GATK tools are supported on both Java 11 and Java 8

[2022-05-10 21:09] lbergelson commented on #7842
@tamuanand  I agree. It would be good to update those. Thanks for finding the various spots. It's slightly more complicated because we've hit a few issues with using gatk built on java 8 in a java 11 machine.  You sort of need to rebuild it using java 11 and a different scala if you want it to work flawlessly on 11.

We haven't pushed on it because I keep planning to move us off of 8 entirely to a

[2022-05-10 21:23] tamuanand commented on #7842
Thanks a lot @lbergelson

Quick question: What would be a reasonable guesstimate timeline from your end (and GATK developers) to move off completely from Java 8.

[2022-05-10 22:27] lbergelson commented on #7842
Every time someone has asked that for the last 2 years I've said 3 months.  So... it's not exactly a helpful answer.  Sorry!  I know it's super annoying to have to use ancient versions, and I would really like to be able to use the new java features in 17.  I don't know when we will be able to prioritize it though.

[2022-05-10 23:16] tamuanand commented on #7842
If I can suggest something here:

- instead of trying to move GATK from Java  8 to Java 11, probably better of to move to Java 17 or Java 18
- On Java 17/18,  choose Amazon corretto - https://aws.amazon.com/corretto/
- Why Corretto - Corretto is a distribution of Open JDK with patches included by Amazon **_that are not yet integrated in the corresponding OpenJDK update projects_**.
- Quarterly upd

[2022-05-11 00:18] lbergelson commented on #7842
Yes, I would like to move to 17 since it's the newest long term support release.  There are some changes between 8 and 17 though which will require additional work, particularly rewriting our documentation system.  I'm worried there are issue around restricted reflection which will be problematic or require rewriting to use SPI instead of direct reflection.  If it's working for you though thats' a

[2022-05-11 01:09] tamuanand commented on #7842
https://aws.amazon.com/corretto/faqs/#Licensing_and_Open_Source
- Corretto is released under the same open source license as OpenJDK, which is licensed under the GNU Public License version 2 with the Class Path Exception ([GPLv2 with CPE](https://openjdk.java.net/legal/gplv2+ce.html)). You can use Corretto as you would use OpenJDK.

[2022-05-11 12:00] DarioS opened #7847 "Incorrect AD values for Low VAF Samples"
I have three cell lines which all have the same deletion. I followed the HaplotypeCaller-CombineVCFs-GenotypeVCFs process. However, the final AD is incorrect for the two with low VAF. You can see below that one cell line has heaps of reads supporting the variant, but Fibro has two reads and Clone 4 only one read. However, the AD values are 43,0 and 32,0. The second value shouldn't be 0.

![image](

[2022-05-12 18:55] phylyc commented on #7532
I cleaned up the mutect2 wdl and added multi-sample support. I also optimized resource usage and exposed the memory parameters: https://github.com/phylyc/gatk4-somatic-snvs-indels

[2022-05-12 19:37] phylyc commented on #7809
Hi, regarding making --linked-de-bruijn-graph the default, I wanted to share that I had recently run mutect2 (gatkv4.2.6.1) on a larger cohort of samples with that option, some of which had variant calls from a previous mutect2 run (gatkv4.1.0.0) without this option. I noticed that plenty of known cancer drivers (e.g. KRAS p.G12C or PIK3CA p.E545* or BRAF p.V600E) that were present in a substantia

[2022-05-13 14:28] jkobject opened #7849 "mutect2 4.2.6.1 fails in gvcf mode"
## Bug Report

### Affected tool(s) or class(es)

mutect2

### Affected version(s)
- Latest public release version: 4.2.6.1

### Description

getting fail for all scatter task with the argument "--emit-ref-confidence GVCF", no fails without it.

error:
[code]

#### Steps to reproduce

running the same pipeline as described in previous issues: #7492

But I have added "--genotype-germline-sites true

[2022-05-13 18:31] igordot commented on #3104
There haven't been any comments here for about 3 years. Have there been any updates in a separate thread or offline? Is there any hope there may be any eventually?

[2022-05-14 07:33] serge2016 commented on #3104
+1

[2022-05-15 01:29] bw2 commented on #7838
Yes, this was human data. It might have been a long variant.

[2022-05-17 14:00] jkobject commented on #7849
this happens while running the command
[code]

[2022-05-18 04:45] kvn95ss commented on #7671
Hello, as indicated in our [community post over at GATK forum](https://gatk.broadinstitute.org/hc/en-us/community/posts/4430247943451-Is-it-possible-to-speed-up-SelectVariants-), we have moved over to ```bcftools``` for extracting samples.

The only quirk we have noticed is the incorrect INFO/DP values, where select variants would encode values on per-sample basis while bcftools would copy over th

[2022-05-18 04:45] #7671 closed

[2022-05-18 18:07] lbergelson commented on #7671
Wow... we should fix that.

[2022-05-18 19:00] LindoNkambule opened #7859 "GatherTranches fails due to what seems like an integer overflow"
## Bug Report

### Affected tool(s) or class(es)
GatherTranches

### Affected version(s)
Latest public release version 4.2.6.1

### Description
I ran `VariantRecalibrator` in scattered (using intervals) mode and now trying to gather the scattered tranches into a single file but somehow the number of novel variants is < 0. This is the exact error:
`Invalid tranche - no. variants is < 0 : known 9035

[2022-05-19 06:00] DarioS commented on #7825
I am also interested in

1. Rescue rare variants.
2. For variants that are not called in a sample, get the REF/ALT counts for them for downstream analysis.

and I didn't notice this issue and [opened my own](https://github.com/broadinstitute/gatk/issues/7847). However, isn't it Best Practice to use HaplotypeCaller for germline variants?

![image](https://user-images.githubusercontent.com/631218/16

[2022-05-19 14:25] ldgauthier commented on #7792
Derek wrote a blog post with details and justification: https://gatk.broadinstitute.org/hc/en-us/articles/6012243429531

[2022-05-19 14:25] #7729 closed

[2022-05-20 20:04] GATKSupportTeam opened #7865 "FilterFuncotations Error, ShouldNeverReachHereException, FuncotationMap"
This request was created from a contribution made by Joyce Anon on April 25, 2022 06:30 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/5573282748699-Error-ShouldNeverReachHereException-FuncotationMap-in-FilterFuncotations](https://gatk.broadinstitute.org/hc/en-us/community/posts/5573282748699-Error-ShouldNeverReachHereException-FuncotationMap-in-FilterFuncotations)

\--

Fil

[2022-05-22 05:39] MerlinAC commented on #6162
@SaraAlthubaiti
Hi, I encountered the similar question as you posted. Have you solved it? And what kind of the file provided in the a_valid_ploidy_model_dir?

[2022-05-22 09:26] Bowen1992 opened #7866 "GenotypeGVCFs stuck at Starting traversal for coulple of days!!!"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2022-05-23 19:26] droazen commented on #7866
@Bowen1992 Could you please try running with the latest GATK release (`4.2.6.1`) and reporting whether the issue persists?

[2022-05-23 19:31] droazen commented on #7865
@GATKSupportTeam Can you ask the user to provide an example `FUNCOTATION` attribute from their VCF? This error indicates that one or more of the FUNCOTATION attributes are malformed, so it would help to be able to inspect one.

[2022-05-23 19:34] droazen commented on #7859
@LindoNkambule For your dataset, do you expect an extremely large number of novel variants (on the order of 2 billion+)? How many total variants are in your dataset?

@ldgauthier Have you ever encountered an error like this?

[2022-05-23 19:36] gbrandt6 commented on #7865
Yes, I have asked the user to upload their data for testing.

[2022-05-23 19:37] droazen commented on #7849
@davidbenjamin / @ldgauthier, thoughts on this one?

[2022-05-23 19:40] droazen commented on #7847
@DarioS There were a couple of known issues with `GenotypeGVCFs` in 4.2.5 -- could you try running with the latest release (4.2.6.1) and see if you get the same result?

@ldgauthier Any further insight into this one?

[2022-05-23 20:13] droazen commented on #7859
(Never mind -- I see that there is already a proposed PR to fix this!)

[2022-05-24 01:29] Bowen1992 commented on #7866
I tried the latest GATK release and also reported errors.
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx50G -Djava.io.tmpdir=./tmp -jar /public/home/gaoshibin/software/GATK/gatk-4.2.6.1/gatk-package-4.2.6.1-local.jar GenotypeGVCFs -R /public/home/gaoshibin/B73_REF/Zea_

[2022-05-25 16:25] ashakru opened #7872 "Mutect2 error ComparableSamRecordIterator"
## Bug Report

### Affected tool(s) or class(es)
Mutect2 in tumour-normal mode

### Affected version(s)
- 4.2.6.1
- 4.2.0.0

### Description
Mutect2 crashes with an error:
[code]

#### Steps to reproduce
The error occurs when running a command:
[code]

#### Expected behavior
Mutect2 producing outputs

#### Actual behavior
Full log:
[Mutect2_error.txt](https://github.com/broadinstitute/gatk/files/8

[2022-05-25 16:43] lbergelson commented on #7671
I suspect in our case we're doing additional work fixing up annotations after subsetting which it sounds like bcftools just ignores.  If bcftools is essentially just cutting by column ten it's going to be hard to catch them.  There is probably a lot we can do to get much closer though.

[2022-05-25 16:48] kvn95ss commented on #7671
FYI, and this is mentioned in later comment on my linked GATK forum post as well, the only difference we could find was the discrepancy between INFO/DP and FORMAT/DP, rest of the values are identical.

[2022-05-26 04:44] rhysnewell opened #7873 "HaplotypeCaller inconsistent read filtering"
----

## Bug Report
Hi GATK team,

I've just been running some variant calling benchmarks on a set of bacterial isolates and I was trying to understand how GATK HaplotypeCaller chooses which reads to use in its analyses. From what I could tell within the code, HaplotypeCaller sets these default read filters:

*line ~336 `HaplotypeCallerEngine.java`*
[code]

And the `WellformedReadFilter` includes

[2022-05-26 18:18] LedaKatopodi commented on #5918
hello @davidbenjamin,

Could you point me to the location of your provided resource file for `GetPileupSummaries`?

I have been using the `[af-only-gnomad.hg38.vcf.gz](https://console.cloud.google.com/storage/browser/_details/gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz)` VCF file provided by GATK for my analyses.

For the `GetPileupSummaries` I had to modify the af-gnomad file, fol

[2022-05-26 19:44] droazen commented on #7873
@rhysnewell My guess is that you are seeing the effects of random downsampling. HaplotypeCaller downsamples high-depth sites using a reservoir downsampling algorithm. Try running HaplotypeCaller with the argument `--max-reads-per-alignment-start 0` to disable downsampling and let us know if that makes a difference.

[2022-05-26 22:25] rhysnewell commented on #7873
Oh nice, that seems to be the ticket. All reads are used when setting that parameter. May I ask what the logic behind performing the downsampling is? Isn't there a risk of removing valid alignments that contribute to low abundance variation events? This would maybe only really be a problem when you are analysing sequences from a population of cells/microbes, but maybe the reward is greater than th

[2022-05-27 00:40] droazen commented on #7873
@rhysnewell The default settings for the GATK downsampler are optimized for germline calling on typical (ie., Illumina) short reads data. The goal of the downsampler is to control memory usage at dubious sites where the aligner happens to place huge numbers of low-mapping-quality reads, without harming the quality of the variant calls in any meaningful way. By default, if there are more than 50 re

[2022-05-27 00:59] rhysnewell commented on #7873
Thanks for the explanation, I've generally not run into any memory issues with HaplotypeCaller so I think disabling it might be best in my case. I'll go ahead and close this issue now.

Just as a side note (and I'm not sure if you would be interested in this), but the reason I've been digging so deeply into HaplotypeCaller behaviour is that we've been working on a rust based reimplementation of th

[2022-05-27 00:59] #7873 closed

[2022-05-31 04:58] charliechen912ilovbash opened #7875 "allele frequency to define a heterozygous SNP by HaplotypeCaller"
Hi,
As title, by default, what is the threshold of allele frequency to define a heterozygous SNP by HaplotypeCaller in human genome?
Like 40%~60% ?
and what is the threshold of allele frequency to define a homozygous SNP
Like >80%?

Thanks

[2022-06-06 14:46] jkobject commented on #7849
Hello, Any updates on this?

[2022-06-06 19:18] jamesemery commented on #7875
Hi @charliechen912ilovbash. The HaplotypeCaller has no baked in hard-cuttoff for allele frequency. We genotype the SNPs according to all three possible models and select the best option based on the likelihoods and any priors. DRAGEN-GATK introduces FRD which behaves differently and computes another model that partially takes into account the divergence from neat diploid percentages (but it doesn'

[2022-06-06 19:18] #7875 closed

[2022-06-06 19:19] droazen commented on #7872
@ashakru Could you please check the first line in the headers for your BAM/SAM/CRAM file(s) and report what the SO (Sort Order) field is set to? The relevant line looks like this:

[code]

[2022-06-06 19:21] gbrandt6 commented on #7865
Yes, I got the data today.

[2022-06-06 19:48] cwhelan commented on #7838
I'm not sure if it'll fix or affect this issue, but I noticed this and want to note that @tedsharpe has an active pull request to fix issues with tabix index generation: https://github.com/broadinstitute/gatk/pull/7858

[2022-06-07 00:21] haochenz96 commented on #7825
Hi Dario-

I am trying to do variant calling (both somatic and germline) on targeted sequencing data of single tumor cells, and therefore my concerns for HaplotypeCaller are:
- the diploid assumption does not hold.
- VQSR is not feasible given the targeted sequencing data.

That's why I turned to Mutect2.

[2022-06-08 15:44] bbimber commented on #7674
@nalinigans Thanks for the help on this. I wanted to let you know that even with the standalone tool and improvements, we've basically given up on trying to aggregate whole genome GenomicsDB workspaces with more than ~1000 samples. We can get virtually all the chromosomes to consolidate, but the largest (chr 1) can go for 10 days and eventually dies. It's just too unwieldy to be practical.

My cur

[2022-06-08 15:53] ldgauthier opened #7884 "ReblockGVCF bug: first position on contig missing"
## Bug Report

### Affected tool(s) or class(es)
ReblockGVCF

### Affected version(s)
- [x] Latest public release version [4.2.6.1]
- [x] Latest master branch (probably)

### Description
First position on a contig can be missing if that position is low quality in the input GVCF

#### Steps to reproduce
Run Reblock GVCF with the following parameters: --floor-blocks true --gvcf-gq-bands 20 --gvcf-gq

[2022-06-08 15:53] ldgauthier commented on #7884
See also https://broadinstitute.atlassian.net/browse/PO-47848

[2022-06-08 21:19] kasia-te commented on #6857
I have the same problem  and I use `sed` to change the header line  before merging.
But could you consider changing the allele separator in this field to `,` and keep the `Number=A` in the header to allow for easy splitting of the field with `bcftools norm -m`, as in the examples below:
`Number=A` - split
[code]
`Number=.` - no split
[code]
Best,
Kasia

[2022-06-08 23:34] LeeTL1220 opened #7886 "Upgrade samtools in the GATK docker image to 1.10 (at least)"
## Feature request

### Tool(s) or class(es) involved
The docker image would need to be adjusted (gatkbase docker image).  line ~17 in `scripts/docker/gatkbase/Dockerfile`

### Description
Can you include a later version of samtools in the GATK image?  The current samtools version (1.7) does not support crams.
I believe that you would need to update gatkbase to make this change.

Additional sugges

[2022-06-10 12:54] Z-Zen opened #7890 "Make DepthOfCoverage multi-threaded"
## Feature request

### Tool(s) or class(es) involved
_Tool/class name(s), special parameters?_
[DepthOfCoverage](https://gatk.broadinstitute.org/hc/en-us/articles/360041851491-DepthOfCoverage-BETA-)

### Description

Are there plans to make DepthOfCoverage multi-threaded? If not, would it be possible to require such improvements?

----

[2022-06-10 19:38] #7732 closed

[2022-06-10 20:53] jkobject commented on #6857
Yes we made a workflow on Terra to debug this: https://dockstore.org/workflows/github.com/broadinstitute/depmap_omics/omics_mutect2:dev?tab=files
this is the fix_mutect2.wdl file I believe

[2022-06-12 05:58] 838239178 commented on #4694
i meet this issue with spark 3.2.1 when i ran my program on yarn with 2 node and 1 manager. only using --master local[1] works well

[2022-06-13 05:08] kvn95ss commented on #7890
It was a feature which we would have loved, but alas this isn't the case. We also relied on ```-ct``` to get percent of bases depending on their coverage (ex. 20x) which has now been dropped in GATK 4+ versions.

We came across another tool called [mosdepth](https://github.com/brentp/mosdepth). When compared to DepthOfCoverage -
- It uses multithreading (albeit only for deflation, so no performanc

[2022-06-13 14:26] Z-Zen commented on #7890
@kvn95ss Thank you for your reply!

I was puzzled by one of your sentences stating that `-ct` is not available in GATK4+. However, isn't the parameter `--summary-coverage-threshold` in GATK4  supposed to be its equivalent?

Thanks!

[2022-06-13 17:41] #7606 closed

[2022-06-13 17:52] davidbenjamin commented on #7731
@gudeqing I think you are referrring to the calls to `GetPileupSummaries`, where we have both `-L` and `-V` arguments with the same variable.  This is actually not redundant, though I admit it is clumsy.  This is a consequence of `GetPileupSummaries` being written as a GATK `LocusWalker`, which is necessary for optimal performance.

[2022-06-13 17:52] #7731 closed

[2022-06-13 18:17] LedaKatopodi commented on #5918
Hi @davidbenjamin,

Thank you very much for the reply, the additional information on how to best use `CalculateContamination` and `GetPileupSummaries`, and for confirming the location of the best practices file!

Best,
Leda

[2022-06-13 19:28] droazen commented on #7886
Assigning to @lbergelson

[2022-06-13 19:56] davidbenjamin commented on #7276
@Ben-Habermeyer We had a few PRs in late 2021 that may have fixed this.  If it's still occurring in the latest GATK version I would like to take a look at it.

[2022-06-13 20:12] Ben-Habermeyer commented on #7276
@davidbenjamin Thank you for getting back to me. I will upgrade to the latest version in the next few weeks and let you know how it turns out!

[2022-06-13 20:13] davidbenjamin commented on #7285
This has now been addressed on the forum.

[2022-06-13 20:25] davidbenjamin commented on #7849
@jkobject Do you see the error without `--genotype-germline-sites` and `--genotype-pon-sites`?

[2022-06-13 20:43] davidbenjamin commented on #7650
@jkobject Discrete genotypes are not meaningful in somatic calling and Mutect2 has long simply emitted 0/1 for all variants as a placeholder.  We're probably going to get rid of the GT entirely soon.

[2022-06-14 04:38] kvn95ss commented on #7890
@Z-Zen woah, it indeed is equivalent. I had come across a [post ](https://gatk.broadinstitute.org/hc/en-us/community/posts/360075081752--DepthOfCoverage-ct-not-working-in-GATK-4-1-8-1) where it was mentioned ```-ct``` is not supported. While the reply did ask the OP to read the document, there was no indication that the parameter has been replaced.

I tried it with latest gatk (4.2.6.1) with singl

[2022-06-14 07:58] nickhsmith opened #7898 "GenomicsDBImport [Documentation/Usage]"
## Documentation request
I am trying to follow the germline joint variant best practices and am confused by the steps/examples and how it would work using real WGS or WXS data in a parallelized setting.

### Tool(s) or class(es) involved
GenomicsDBImport v.4.2.6.1 (current)

### Description
As far as I understand it the joint germline variant calling process is like this (imagine 100 samples):
1.

[2022-06-14 19:21] jkobject commented on #7849
I am getting the same error...

it might be caused by something else?

[2022-06-14 21:53] natalie-23-gill commented on #6671
Upgrading to Spark 3.3 (switches to log4j 2.x) when it's released would be ideal since it would solve the security issue mentioned [here](https://gatk.broadinstitute.org/hc/en-us/community/posts/4592331786651-vulnerability-issue-for-gatk-package-4-2-5-0-local-jar)

[2022-06-15 20:25] GATKSupportTeam opened #7904 "Audit MuTect2 headers to describe fragment vs read annotations"
This request was created from a contribution made by Brian Wiley on March 18, 2022 22:33 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360073119131-MuTect2-annotations#community\_comment\_4797484535835](https://gatk.broadinstitute.org/hc/en-us/community/posts/360073119131-MuTect2-annotations#community_comment_4797484535835)

\--

394224746911, do you think it would be possi

[2022-06-16 18:24] mjohnsonngi commented on #7898
The output of GenomicsDBImport is a directory with a specific structure underneath. The required option here, https://gatk.broadinstitute.org/hc/en-us/articles/5358869876891-GenomicsDBImport#--genomicsdb-workspace-path, provides the "name" of this directory, but you really don't need to worry about the underlying structure. When you provide GenotypeGVCFs the variants, https://gatk.broadinstitute.o

[2022-06-16 20:11] nickhsmith commented on #7898
Sorry that's not quite my question. Once I generate 2 directories through genomic import using 2 intervals because it was faster to parallelize them in 2 separate processes. Can I combine or merge these directories before the genotypegvcf step? Or do I use gathervcfs after that to merge the 2 vcf files?

[2022-06-16 20:37] mjohnsonngi commented on #7898
In that case, I believe you want GatherVcfs after GenotypeGVCFs if the intervals don't overlap. We typically keep them separate, but I've used GatherVcfs in the past with a large number of samples.

[2022-06-17 05:52] Floating-Element commented on #6110
I have the same problem when I try BaseRecalibrator.
A USER ERROR has occurred: Can not read file://Users/....../file_name.vcf.tbi because no suitable codecs found

[2022-06-19 11:27] yeyun1999 commented on #7866
@Bowen1992 **I got the same error, do you have a solution now?**

Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx76800m -jar /home/zwc1988/miniconda3/envs/gatk/share/gatk4-4.2.6.1-0/gatk-package-4.2.6.1-local.jar GenotypeGVCFs -R data/ref/CL200105941_L02.fa -V gendb://r

[2022-06-19 21:49] jkobject commented on #7849
Hello @davidbenjamin,

Any news on this?

Can you reproduce on your end?

[2022-06-23 04:01] von1laughing opened #7914 "Unusual CPU Load Spikes for SplitNCigar"
## Bug Report

### Affected tool(s) or class(es)
    gatk SplitNCigarReads

### Affected version(s)
- gatk 4.2.6.1

### Description
I produced the bam files using STAR, and adjusted the MQ value to 60. I then used sambamba markdup to mark duplicate, then I proceeded to use SplitNCigarReads.

The CPU load for SplitNCigarReads was very high and at certain times can spike up to 2400%. I tried limitin

[2022-06-23 16:06] droazen opened #7916 "The Utils.concat() methods need unit tests"
The various overloads of `Utils.concat()` are not covered by unit tests.

[2022-06-24 21:13] #7697 closed

[2022-06-28 19:46] ddrichel opened #7921 "Mitect2: drop in SNV specificity/precision between v.4.1.8.1 and 4.1.9.0"
We noticed a strong drop in precision for SNVs (~10% for tumor-normal mode, ~20% in tumor-only mode) between releases 4.1.7.0 and 4.2.6.0.
With more testing using the HCC1395 somatic benchmark (https://pubmed.ncbi.nlm.nih.gov/34504347/) and sequencing data provided by the Somatic Mutation Working Group (Fudan university WES tumor-normal data set, 2 x 100x coverage), the drop in performance can be

[2022-06-29 01:19] jkobject commented on #6289
Hello, Having run it now on all our samples we still see this error.

It only happens on the WES (1800 samples) only in 13 of them. It does not happen for the WGS (600samples).

This is in GATK 4.2.6.1.

Let me know if you want us to share some example in a workspace.

[2022-06-29 09:17] schelhorn commented on #7921
From what I have heard from Dmitriy, this loss in Mutect2 precision between v.4.1.8.1. and v.4.1.9.0 seems to be perfectly reproducible using the HCC1395 somatic benchmark gold-standard from the [Sequencing Quality Control Phase II Consortium](https://pubmed.ncbi.nlm.nih.gov/?term=Somatic+Mutation+Working+Group+of+Sequencing+Quality+Control+Phase+II+Consortium%5BCorporate+Author%5D).

If true, the

[2022-06-29 16:50] droazen commented on #6837
Re-assigning to @orlicohen

[2022-06-30 18:37] jhl667 commented on #7921
Glad to see we're not the only one's noticing this.  We have been using 4.0.11.x for quite a while with success.  During a recent revalidation effort, we have been working with 4.2.x versions and missing quite a few calls we consider "truth", while making these calls with other variant callers.  We have since verified v4.1.8.0 is performing acceptably, so our data supports the issue occurring duri

[2022-06-30 18:40] #7916 closed

[2022-06-30 19:52] #7677 closed

[2022-06-30 20:37] schelhorn commented on #7921
Same here, @jhl667 - good to get additional confirmation. May I ask whether you used the same gold-standard call set or another one, and whether yours was WGS or WES?

I’m linking @droazen here as well since he acted as the release manager of the affected releases. I think it would be good to get clarity soon, since probably tens of thousands of clinical samples have been processed with the affect

[2022-06-30 21:01] jhl667 commented on #7921
@schelhorn We have a large clinical "truth" set we utilize during workflow validations.  We also utilize spike-in samples from SeraCare and perform dilutions using a couple of the common Coriell cell lines.  We noticed the Mutect2 calling inconsistency while validating a small targeted panel.

[2022-07-01 08:47] ddrichel commented on #7921
To clarify our experimental setup: for the benchmark we are using the latest release (v.1.2) somatic "ground truth" of the HCC1395 cell line from

[https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/seqc/Somatic_Mutation_WG/release/latest/](https://ftp-trace.ncbi.nlm.nih.gov/ReferenceSamples/seqc/Somatic_Mutation_WG/release/latest/)

It contains ~40k SNVs and ~2k INDELs in ~2.4Gb high-confidence

[2022-07-05 07:42] xiucz commented on #7921
I think this issue is very important to me. When I deal with the CAP data, GATK4.1.0.8's performance is much better than GATK4.2 ...

[2022-07-05 14:43] droazen commented on #7921
Thanks for the report! I am contacting the lead developer of Mutect2, who will reply here.

[2022-07-05 19:11] droazen commented on #7914
@von1laughing Can you try running `jstack` on the running GATK process when the CPU usage is ~2400%, and paste the output here? This will produce a dump of the Java threads. You'll need to provide jstack with the process ID (pid) of the running Java process.

[2022-07-05 19:15] droazen commented on #7898
@mlathara and/or @nalinigans , what are your current recommendations for parallelizing a GenomicsDB-based pipeline?

[2022-07-05 22:11] nalinigans commented on #7898
The only parallelism exposed by GenomicsDBImport is via `max-num-intervals-to-import-in-parallel` and that is at the granularity of threads in the same process. Not sure there is any parallelism in GenotypeGVCFs.
The granularity of parallelism that @nickhsmith seems to want is at the level of a node and @mjohnsonngi is correct. Assuming GenotypeGVCFs processes each position independently, run Geno

[2022-07-06 19:58] samuelklee opened #7928 "Move HDF5Utils out of copynumber package and expand unit tests."
The new annotation-based filtering tools make use of the utility methods in the HDF5Utils class for writing intervals, matrices, etc. to HDF5. This class currently lives in the copynumber package, so perhaps it should be moved somewhere more general. It would be nice to expand the unit tests as well. Currently, there is only a single, disabled test that checks for the ability to read/write very la

[2022-07-10 05:45] bbimber opened #7933 "IllegalStateException: Genotype has no likelihoods"
I think we're having a very similar issue as #7639, though we're using v4.2.6.1. We're running GenotypeGVCFs with a command similar to:
[code]

the exception is:
[code]

I thought this was fixed in the prior version. Is this a new error or a regression?

[2022-07-10 10:24] bbimber commented on #7933
FWIW, I repeated the same command this morning using GATK 4.2.6.0 and got the "No likelihood sum exceeded zero -- method was called for variant data with no variant information" error, which seems like the reason you released 4.2.6.1.

[2022-07-11 16:54] jonn-smith commented on #7761
It's worth noting that the "true" fix for this is to have distinct datasources for each reference.  In this case, two sets of datasources - one for B37 and one for HG19 - would be needed.

[2022-07-11 23:44] mschachter opened #7935 "[mutect2 workflow] variants_for_contamination_index is never used"
## Bug Report
Hi, we are using the dockstore version of the GATK variant calling pipeline that leverages mutect 2:
[github.com/broadinstitute/gatk/mutect2:4.1.8.1](https://dockstore.org/workflows/github.com/broadinstitute/gatk/mutect2:4.1.8.1)

We're processing human glioma data, and currently we are making it through much of the pipeline, but failing on `GetPileupSummaries`. There's a thread abou

[2022-07-12 14:09] jkobject commented on #6651
just to help with associating issues: here is the list of issues that seems to be talking about the same problem: #6651, #7523, #6345, #4307, #6546, #3749, #4804, #6289

[2022-07-12 14:15] jonn-smith commented on #6651
@jkobject This problem has to do with indels and predicted protein change sequences.  I'm starting a refactor of how the predicted protein changes get created.  When that's complete, this issue will be fixed.

In the meantime, can you post the stack trace and share the example workspace you mention in #6289 ?

[2022-07-12 17:44] jkobject commented on #6651
I can, this only happens on 10 of our 2000 samples (only in WES) none of our 600 WGS seems to have the same issue. It is always on some small contig (you can see here range is 544, but all cases are small ranges like this one).

Everything is the default mutect2 pipeline and params (e.g. [gs://genomics-public-data/resources/broad/hg38/v0/Homo_sapiens_assembly38.fasta](https://console.cloud.google.

[2022-07-12 17:46] jonn-smith commented on #6651
@jkobject OK, thanks!

[2022-07-12 19:25] AJDCiarla opened #7938 "IllegalStateException in GenotypeGVCFs after GenomicsDBImport - GATK 4.2.6.1"
### IllegalStateException in GenotypeGVCFs after GenomicsDBImport - GATK 4.2.6.1

Looks like there are similar issues occurring in #7639 and #7933. This is a follow up report from the GATK Forum.

**GATK Forum Post:** (https://gatk.broadinstitute.org/hc/en-us/community/posts/6972994559643-java-lang-IllegalStateException-in-GenotypeGVCFs-after-GenomicsDBImport-GATK-4-2-6-1)

----

## **Bug Report**

[2022-07-13 10:01] schelhorn commented on #7921
Hi @droazen and @davidbenjamin, could you please give us an estimate about when you will be able to look at this issue in more detail to identify the root cause? Thank you.

[2022-07-13 11:45] jkobject commented on #6651
my quickfix was to reduce the intervals to target regions of my WES (instead of using the full genome region) and give it to funcotator. Remark: The GATK mutect2 WDL does not give the default intervals to funcotator, only to mutect2.

[2022-07-13 14:50] jkobject commented on #6651
After running it on all my samples it actually only solved half of them... I will look into the try/catch fix

[2022-07-13 16:42] mwalker174 opened #7941 "Build a max memory estimation shell function into the Docker"
## Feature request

### Tool(s) or class(es) involved
Docker image

### Description
We've been using this function in the GATK-SV WDLs to estimate the appropriate `-XmX` Java parameter for GATK tools:
[code]
We've found this to be a reliable method because it uses the VM's actual memory rather than what was requested, which can be less than what is actually provided. This would be a generally usef

[2022-07-13 16:57] droazen commented on #7921
@davidbenjamin is away at the moment, but should be able to look into this issue when he returns next week

[2022-07-14 14:21] samuelklee commented on #7938
Just reiterating here what @lbergelson noted in office hours: looks like the offending check was added in https://github.com/broadinstitute/gatk/pull/7738, which ultimately affects both the ExcessHet and InbreedingCoeff annotations. @droazen reviewed that PR and might have more insight as to the desired behavior for those annotations when we are missing PLs due to GenomicsDB dropping them upstream

[2022-07-14 19:01] jamesemery opened #7944 "The HaplotypeCaller read filter status indicator should include the number of un-filtered reads for comparison"
I have noticed after looking at the HaplotypeCaller command line in some recent forum posts (https://gatk.broadinstitute.org/hc/en-us/community/posts/7293912288795-Haploytpe-caller-shows-me-that-0-read-s-were-filtered-by-MappingQualityAvailableReadFilter-etc) that the output of the filtering summary can be confusing if a lot of reads were processed. It can be very useful to know that a lot of read

[2022-07-16 07:00] DarioS opened #7948 "LearnReadOrientationModel is a Memory Hog"
I am doing somatic variant calling for whole genome sequencing. This tool could be improved to have reasonable RAM demands.

[code]

Fails after almost two hours.

[code]

The reason is that the RAM allowance was exceeded.

[code]

Normals about 30 times coverage, tumours about 60 times coverage, 26 patients in total. It should be made more efficient.

[2022-07-18 16:17] jamesemery opened #7949 "Create a Gcloud build script to build docker images."
We need to be able to build docker images for gatk remotely for people who cant run our current build script. For carrot we have already gotten the build working with GoogleCloudBuild using a command like this:
`gcloud builds submit --tag {whatever you want to tag the image and push it as} --timeout=24h --machine-type e2_highcpu_8`
This script should function like our current docker script, it sho

[2022-07-18 16:51] droazen commented on #7938
@AJDCiarla The user should try re-running `GenotypeGVCFs` with `--max-genotype-count` set to a value greater than 1024. This should prevent the PLs from getting dropped and avoid the downstream error. The user may also need to increase `--max-alternate-alleles` as well.

[2022-07-18 19:59] droazen commented on #7933
@bbimber Can you try running `GenotypeGVCFs` without the `--force-output-intervals` argument and report whether the same error occurs?

[2022-07-19 01:15] kray02 commented on #7933
replying for @bbimber : we made a smaller test case on 4.2.6.0, and get the error: "Genotype has no likelihoods:" ..., the error does not occur without --force-output-intervals.

[2022-07-19 15:18] biounix commented on #6721
Any update on that? The issue still persists in 4.2.6.1 two years later.

Thanks.

[2022-07-20 01:36] KPS-Malpe opened #7952 "No non variant sites"
I use GenomicsDBImport to generate a GenomicsDB workspace, the parameter --include-non-variant-sites of GenotypeGVCFs has no effect.No non-variant sites were obtained.And the number of folders under --genomicsdb-workspace-path is less than the number of lines in the bed file provided with the -L parameter.

[2022-07-21 13:15] dror27 opened #7955 "--assembly-complexity-reference-mode in AssemblyComplexity.java test missing"
Coverage analysis indicates that the new --assembly-complexity-reference-mode argument is not covered by tests.

[2022-07-21 13:32] dror27 opened #7956 "IOUtils.unzipToFolder test missinbg"
Codecov indicates that this new method is not covered by tests -- needs a test in IOUtilsUnitTes

[2022-07-21 13:33] dror27 opened #7957 "re-enable the tests for FlowBasedPairHMM"
Currently:

// TODO NOTE this test is disabled. That is because currently it is difficult to generate ArtificialFlowBasedReads from scratch...
@Test (enabled = false)

[2022-07-21 13:36] dror27 opened #7958 "FlowBasedReadUtils.getMarkDupReadEnd and similar methods lacking test coverage"
This method and a couple others in this class don't appear to have good test coverage,

[2022-07-21 18:25] jamesemery commented on #7543
To add to this ticket. In #7876 we have had to expand the JumboAnnotations to work in the HaplotypeCaller as well. Unfortunately this has created problems since there aren't evidences objects in the HC so we have had to change the erasure of the annotate() methods somewhat and some hacky code is now part of the `VariantAnnotatorEngine` which currently has some code in the `addInfoAnnotations()` me

[2022-07-21 19:54] skchronicles commented on #7038
@bbimber I just stumbled across this issue, and I have a quick question. How does this differ from GATK3 CombineVariants? Is it the same thing functionally? Does it produce the exact same output?

Thank you for the clarification,
@skchronicles

[2022-07-21 20:31] bbimber commented on #7038
@skchronicles, I have not exhaustively tested every possible scenario and fringe case, but in theory it should be effectively the same as GATK3 combine variants. Happy to answer any questions if you hit issues.

[2022-07-22 15:43] cwhelan commented on #6096
Can I ask what the current status of this bug is?

[2022-07-22 16:06] droazen commented on #6096
@davidbenjamin and/or @jamesemery, could you please comment?

[2022-07-22 20:58] maarten-k opened #7961 "ReblockGVCF fails by an exception:No shortest ALT at 4645646543 across alleles: [*]"
## Bug Report

### Affected tool(s) or class(es)
GATK ReblockGVCF

### Affected version(s)
-  4.2.5.0 and 4.2.6.1

### Description
I am running ReblockGVCF on GVCF's that are haplotyped on version 4.0.1.4.  About 1 out of 500 samples crash with the following error:
`ReblockGVCF fails by an exception:No shortest ALT at 464564654 across alleles: [*]`.

Complete error message:

[code]
redacted
[code]

[2022-07-24 00:56] bbimber commented on #7938
@droazen, like Karina posted in #7933, with our inputs this issue only occurs when using --force-output-intervals. I tried increasing --max-alternate-alleles to 2048 with no change.

I just got back from a vacation, but this week I will try to debug this more closely to see what is causing the issue.

Have you had any further discussions beyond what @samuelklee suggested above?

[2022-07-25 16:32] #7949 closed

[2022-07-25 19:44] droazen commented on #7961
@maarten-k Can you please check whether there's a `<NON_REF>` allele present at the locus it's complaining about (`464564654`), in addition to the `*` allele?

Also, could you try re-generating your GVCFs with a more recent version of `HaplotypeCaller`? `4.0.1.4` is quite old at this point...

[2022-07-25 19:49] droazen commented on #7952
@KPS-Malpe Can you check your original GVCFs (ie., the inputs to GenomicsDBImport) to make sure the non-variant locations you're interested in are actually covered by GVCF records?

[2022-07-26 01:52] KPS-Malpe commented on #7952
There are a total of 1115 samples, I tested one of non variant sites, and the site  can be seen in 33 GVCF. I tested using CombineGVCFs to generate cohort_all.g.vcf.gz, and then using the --include-non-variant-sites parameter of GenotypeGVCFs to get those non-variant sites. But the cycle is long, taking about six days.

[2022-07-26 13:11] cwhelan commented on #6096
After digging around a little I see that a `FragmentDepthPerAlleleBySample` annotator now exists which produces an `FAD` format annotation for fragment depth. Running this on @freeseek 's example, adding `-A FragmentDepthPerAlleleBySample`, gives

``
GT:AD:AF:DP:F1R2:F2R1:FAD:SB	0/1:6,21:0.808:27:3,6:0,8:3,16:2,4,12,9
``

With fragment allelic depths of 3 for the reference and 16 for the alt. This

[2022-07-26 16:58] bbimber commented on #7938
@droazen, I'm running a job using a JAR based on #7962 and it progressed beyond the previous failures.

[2022-07-27 02:34] KPS-Malpe commented on #7952
There are a total of 1115 samples, I tested one of non variant sites, and the site can be seen in 33 GVCF. I tested using CombineGVCFs to generate cohort_all.g.vcf.gz, and then using the --include-non-variant-sites parameter of GenotypeGVCFs to get those non-variant sites. But the cycle is long, taking about six days.

[2022-07-27 02:51] mlathara commented on #7952
@KPS-Malpe To start it would be useful to know what commandline you used, what version of GATK you're using, basic configuration info like that.  If you could include the output of the commands you ran that could also be pertinent.

It is interesting that not all the intervals you specified in your bed file show up in the Genomicsdb workspace. Along the lines of the question asked by @droazen, I p

[2022-07-27 02:55] KPS-Malpe commented on #7952
/opt/reseq_softwares/gatk-4.1.8.0/gatk GenomicsDBImport --java-options "-Xmx100g -Xms100g -DGATK_STACKTRACE_ON_USER_EXCEPTION=true" -R /mnt/nvme1/reference/Gallus_gallus/Ensembl_g6a/new_20220624/Gallus_gallus.GRCg6a.dna.toplevel.fa --sample-name-map samplelist -L chr33.bed --genomicsdb-workspace-path chr33.db

[2022-07-27 02:56] KPS-Malpe commented on #7952
/opt/reseq_softwares/gatk-4.1.8.0/gatk GenomicsDBImport --java-options "-Xmx100g -Xms100g -DGATK_STACKTRACE_ON_USER_EXCEPTION=true" -R /mnt/nvme1/reference/Gallus_gallus/Ensembl_g6a/new_20220624/Gallus_gallus.GRCg6a.dna.toplevel.fa --sample-name-map samplelist -L chr33.bed --genomicsdb-workspace-path chr33.db

[2022-07-27 03:14] KPS-Malpe commented on #7952
The command line I use is as  /opt/reseq_softwares/gatk-4.1.8.0/gatk GenomicsDBImport --java-options "-Xmx100g -Xms100g -DGATK_STACKTRACE_ON_USER_EXCEPTION=true" -R /mnt/nvme1/reference/Gallus_gallus/Ensembl_g6a/new_20220624/Gallus_gallus.GRCg6a.dna.toplevel.fa --sample-name-map samplelist -L chr33.bed --genomicsdb-workspace-path chr33.db.The output log file is as follows，Using GATK jar /mnt/nvme1

[2022-07-27 03:15] KPS-Malpe commented on #7952
#The command line I use is as  /opt/reseq_softwares/gatk-4.1.8.0/gatk GenomicsDBImport --java-options "-Xmx100g -Xms100g -DGATK_STACKTRACE_ON_USER_EXCEPTION=true" -R /mnt/nvme1/reference/Gallus_gallus/Ensembl_g6a/new_20220624/Gallus_gallus.GRCg6a.dna.toplevel.fa --sample-name-map samplelist -L chr33.bed --genomicsdb-workspace-path chr33.db.The output log file is as follows，Using GATK jar /mnt/nvme

[2022-07-27 03:24] KPS-Malpe commented on #7952
I use command as /opt/reseq_softwares/gatk-4.1.8.0/gatk SelectVariants --java-options "-Xmx100g -Xms100g -DGATK_STACKTRACE_ON_USER_EXCEPTION=true" -R /mnt/nvme1/reference/Gallus_gallus/Ensembl_g6a/Gallus_gallus.GRCg6a.dna.toplevel.fa -V gendb://chr33.db  -L 33  -O output.chr33.vcf,then I get the 109 sites.Should I get VCF for each db separately and then merge VCF, instead of merging gendb together

[2022-07-27 03:29] mlathara commented on #7952
No - you should use GenomicsDB as the input to GenotypeGVCFs. My suggestion to use SelectVariants was only a debugging step to check whether GenomicsDB included the expected input data.

Also, I misread your original post -- your GVCFs have literally 109 sites? And the interval list/bed file has 109 sites, not 109 regions? I would strongly recommend using a single interval in that case. Having a s

[2022-07-27 07:18] schelhorn commented on #7921
Hi @droazen, is there perhaps already any news on the matter? It’s been a month, and we are wondering about when this may be looked into. Thanks!

[2022-07-27 14:36] droazen commented on #7921
@schelhorn @davidbenjamin has been out for most of this past month, but he's promised to look into this report as soon as he can find the time. I anticipate an initial reply from him next week. Thanks for your patience.

I'll add that much of our recent development work on the somatic variation front has gone into a new ML-based tool we're calling "Mutect3" (but which may end up with a different n

[2022-07-27 15:21] Addy81 opened #7964 "SVLEN missing from gCNV output"
Hello,

I am running GermlineCNVCaller and PostprocessGermlineCNVCalls (GATK v4.2.5) for CNV analysis on our targeted capture.

My output segment vcfs have no SVLEN or SVTYPE values although those are described in their headers.

Info from header includes:
[code]
But the actual vcf output only has the END variable.

Example output:

[code]

Commands running are below:

[code]

Are there any option

[2022-07-27 20:42] maarten-k commented on #7961
Yes, there is 43 bases in front of this position a C,<NON_REF> where the REF is about 270 basepairs long.

Yes, I know this is an old version, but I am at the end of finalising a  15.000+ WGS callset. So switching is not an easy solution for me. However, I will test also this with the newest version.

[2022-07-28 13:26] samuelklee commented on #7724
Rebasing, squashing, and reorganizing files into new commits to prep for the PR, but here's a copy of the commit messages for posterity:
[commits-before-rebase.txt](https://github.com/broadinstitute/gatk/files/9210051/commits-before-rebase.txt)

[2022-07-28 18:41] GATKSupportTeam opened #7966 "GenotypeGVCFs --force-output-intervals bug"
Discussed in office hours. Seems to be a bug with --force-output-intervals in GenotypeGVCFs when using GenomicsDB.

----------

This request was created from a contribution made by Zane Swaydan on June 30, 2022 11:13 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/6972994559643-java-lang-IllegalStateException-in-GenotypeGVCFs-after-GenomicsDBImport-GATK-4-2-6-1](https://gatk.

[2022-07-28 18:48] AJDCiarla commented on #7938
We can close this, I have created a new ticket here #7966 for the --force-output-intervals bug. @droazen

[2022-07-31 15:57] bbimber opened #7968 "Extremely high (<250GB) memory usage from GenotypeGVCFs w/ moderate-sized GenomicsDb input"
I am running GATK GenotypeGVCFs, v4.2.6.1. I am trying to call Genotypes on a GenomicsDB workspace with about 500 WGS samples. Note, this is the macaque MMul10 genome, so it has 2,939 contigs (including unplaced). We've run commands like this quite a lot before, though we periodically do have issues like this. We can consolidate on this workspace prior to running this (using a standalone tool @nal

[2022-08-01 16:47] Ben-Habermeyer commented on #7276
@davidbenjamin going to upgrade to latest this week and test it out
FWIW with 4.1.1.0 this appears to be an issue for calls output from Mutect2 with very low DP.

E.g. the following VCF raises this exception for `FilterMutectCalls`
[code]

[2022-08-01 16:54] nalinigans commented on #7968
Joint genotyping runs on jvm and does require sufficient RAM to complete unlike `GenomicsDBImport`. We may need to balance the memory between jvm and native allocations. Can you run `SelectVariants` with this memory envelope?

[2022-08-01 18:54] bbimber commented on #7968
@nalinigans Yes, it's been surprising me quite a bit too. When you say 'can you run SelectVariants', do you mean simply trying to select from the source GenomicsDB workspace as a test to see if java has enough resources? I can try this.

[2022-08-01 19:53] tmelman commented on #7884
https://broadinstitute.atlassian.net/browse/PO-51350 shows the same outcome; the reblocked GVCF is missing the first variant of chromosome 12.

ReblockGVCF was run with the following options: `-do-qual-approx --floor-blocks -GQB 20 -GQB 30 -GQB 40`

[2022-08-02 04:26] davidbenjamin commented on #7921
@ddrichel @jhl667 @schelhorn @xiucz I have a theory that, depending on the answers to the following questions, I may pursue further.

1.  What are you using for a panel of normals in both WES and WGS?
2. What reference assembly are you using?
3. Were the new false positives present in the unfiltered Mutect2 VCF before version 4.1.9.0 (and then flagged by FilterMutectCalls) or absent entirely?

[2022-08-02 14:54] bbimber commented on #7933
Closing in favor of #7938

[2022-08-03 00:44] davidbenjamin commented on #7921
Thank you @ddrichel!  That's really helpful and seems to support my suspicion.

The most relevant changes to Mutect2 between versions 4.1.8.1 and 4.1.9.0 are #6520, #6696, and #6821, which have in common the property that they are bug fixes restoring sensitivity in edge cases.  I don't think that any of these are regressions because the job of Mutect2 is to output any candidate variant.  Filtering

[2022-08-05 01:42] baoxingsong opened #7976 "GenotypeGVCFs is reporting Buffer overflow errors"
### Affected tool(s) or class(es)
GenotypeGVCFs is reporting:
[code]

### Affected version(s)
[code]

### Description
Hi, I developed AnchorWave to call long indels(could be a couple of Mb). We are trying to connect the AnchorWave variant calling result with GATK to generate VCF files.

We generated whole genome alignments for 26 maize accession via AnchorWave. And we wrote out own code to generat

[2022-08-06 17:01] maarten-k commented on #7961
I can confirm this is not the case anymore with GATK 4.2.6.1. Minor correction from my side: The GATK version should be `4.1.4.0` where the issue occurred.

Can you advise for a workaround on this?  I can remove the problematic lines from the files with some basic command line tools, but if there is a more sophisticated way, please let me know.

[2022-08-06 19:09] jjfarrell commented on #7968
Does your pipeline reblock the gVCFs before merging into genomicsDB?  I found this helped quite a bit with memory issues.   The reblock decreases the size of the gVCF quite and the memory required for processing downstream.

[2022-08-06 20:51] bbimber commented on #7968
That's an interesting idea. The process of aggregating 2000 per sample gvcfs into workspaces (we can't get these to successfully combine into one workspace) is a lot of computation just by itself.

Is there a reblock that can be executed on the already combined genomics db workspace?

[2022-08-07 02:27] gudeqing commented on #6963
hi, can we ignore this kind of errors? how did you handle this problem?

[2022-08-08 19:13] gbrandt6 commented on #6963
@gudeqing if you're getting a similar error, go ahead and post on the [GATK forum](https://gatk.broadinstitute.org/hc/en-us/community/topics) so we can help you there.

[2022-08-08 22:41] bbimber commented on #7966
@droazen or anyone else from GATK: are you able to comment on the status of this bug, and any conversations that might be happening outside github? I posted earlier that #7962 (which is admittedly just a workaround), seems to side-step this exception. Do you foresee some other route to fix this?

[2022-08-09 03:52] xiucz opened #7980 "Alt allele depth in FORMAT column missed in GenotypeGVCFs output?"
- version
GATK4.2.6.1

Hi,
When I use the following command to genotype a single g vcf file,  the output **alt depth**(ref depth is ok) in the FORMAT column
are missing.

[code]
For example, `AD:DP 2,1013:1116`, `1116` is for the total depth(DP), and `2,1013` is for the ref depth, however, the **alt allele depth** is missing.  is this a bug? Or did I miss something?

[code]
Best,
xiucz

[2022-08-09 15:45] samuelklee commented on #7724
PR Punts:

- [ ] Profile and check whether interning of resource labels in the LabeledVariantAnnotationsWalker affects memory or runtime. Unfortunately, I can't remember why I added this, but maybe I had a good reason. See https://github.com/broadinstitute/gatk/pull/7954#discussion_r933375971.
- [ ] Consider writing allele-specific scores and/or different strategies for consolidating to a site-lev

[2022-08-09 15:48] jamesemery opened #7982 "Create a set of Carrot tests for FlowBasedGATK"
We already have a battery of carrot tests that we would like to run to evaluate the HaplotypeCaller. However those tests do not currently cover any of the new use cases in the FlowBasedGATK code. The ask here is that we should create and design a set of longer running, multi-sample evaluation code for the FlowBasedGATK on a reasonable set of non-sensitive input bams that we can call and then subse

[2022-08-09 20:38] bbimber commented on #7968
@nalinigans, to your question about SelectVariants: yes, it will run within the memory limits, but it is painfully slow. I ran a basic SelectVariants using the workspace with 500 samples. This workspace was processed with the standalone consolidate tool. It's running on an interval set that's only ~2m sites. The output is like this:

[code]

So you'll see it's progressing, but ~38 variants/min if

[2022-08-09 21:35] GATKSupportTeam opened #7983 "Investigate GATK error message with docker --network none"
This error message occurs when removing the network when running GATK in a docker container. GATK tools still run to completion, but the error message is disruptive.
[code]

This request was created from a contribution made by Pryce Turner on July 29, 2022 03:44 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360078378372--Could-not-determine-local-host-name-#community\_comme

[2022-08-10 02:53] yurivict opened #7984 "Fails with Gradle-7.5.1"
## Bug Report

### Affected tool(s) or class(es)
Build

### Affected version(s)
- [X] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description
[code]

#### Steps to reproduce
regular build

Version: 4.2.6.1
Java-17
FreeBSD 13.1

[2022-08-10 04:00] pryce-turner commented on #7983
Just wanted to highlight something from the thread that's hopefully salient: this issue does not occur when using Podman with exactly the same image/params.

[2022-08-10 18:51] nalinigans commented on #7968
@bbimber, not sure what is happening here - the total of the GenomicsDB timers is `0.113811361+0.8294423339999996+0.018747005+0.04312843799999999+0.029110260000000002+0.007382536+0.029079955999999997+0.006077208000000001+0.30639567500000026+0.016806184 seconds` which is minuscule compared to the 25 minutes. Any chance of running this with a java profiler to see where the time is being spent JVM(ga

[2022-08-10 18:56] bbimber commented on #7968
@nalinigans I've used jprofiler locally for profiling, but in this instance I'd need to execute that remotely on the cluster and save the result to a file for local inspection. is there a tool you'd recommend for this?

[2022-08-10 19:58] nalinigans commented on #7968
@droazen, @lbergelson, any pointers for remote java profiling for @bbimber?

[2022-08-10 22:00] bbimber opened #7986 "Funcotator / custom locatableXsv source and creating the index"
Hello - we're trying to run Funcotator with a custom data source, where that source is a locatableXsv (i.e. simple tab-delimited file with columns for contig, start, and end). I believe I understand how to make this TSV and the config file. The issue is that I dont see a way to create the index (i.e. tsv.idx), and GATK fails when I try to run against a data source without the index. Not that surpr

[2022-08-10 22:20] bbimber commented on #7968
@nalinigans on a related perf question: there are posts about workspaces with lots of small contigs being a problem. There are some recommendations out there about creating multiple workspaces where each has one contig or a subset of contigs. Can you say any more about where that overhead comes from?

Given we have an existing multi-contig workspace, and aggregating this many samples into a worksp

[2022-08-10 22:25] bbimber commented on #7968
@nalinigans I was looking over the contents of this workspace and thought I'd pass along a couple observations. This is focusing on chromosome 20. This workspace has 573 WGS samples. When I inspect the contents of 20$1$77137495, there is one sub-folder with a GUID-based name. This make sense b/c we previously ran the standalone consolidate tool on it. Within this folder, a lot of these .tdb files

[2022-08-10 23:29] mlathara commented on #7968
I've never used these, but https://github.com/jvm-profiling-tools could potentially be a source for java profilers. From reading a bit about hprof, it seems to add a lot of overhead and has questionable accuracy.

About workspaces with lots of contigs/smaller contigs -- the performance issue there is mostly during import. In your experiment above to subset the workspace, did the subsetted workspac

[2022-08-10 23:48] bbimber commented on #7968
@mlathara I'm not able to get this workspace to work at all for any of the permutations. GATK more or less dies with any operation that tries to use it.

Again, one difference is that this is the first time I've used the standalone consolidate tool from @nalinigans. I wonder if that has actually backfired from the perspective to reading this for GenotypeGVCFs or SelectVariants?

[2022-08-10 23:55] mlathara commented on #7968
OK -- got it. I wasn't sure if the below comment was implying any better performance.

Sounds like you were just saying it worked, which is expected. As I said, I wouldn't expect the query to work any faster with such a single contig.

I think some sort of profiling run, and trying ReBlockGVCFs on a few examples inputs are probably the best next steps.

[2022-08-11 00:06] bbimber commented on #7968
@mlathara Apologies, my comment was confusing. See replies below:

- I should have clarified when I said that my workspace where I simply removed the extra contigs "executes just fine for SelectVariants". The job start progressing (slowly) without extreme/overt errors.

- Regarding ReBlockGVCFs: the problem here is that I'm basically starting at step zero. It's not trivial to process >2000 gVCFs i

[2022-08-11 00:08] bbimber commented on #7968
To be clear: I really appreciate the help from the GATK and GenomicsDB teams. There has just been a lot of problem and issues trying to make GenomicsDB work for this dataset

[2022-08-11 01:14] nalinigans commented on #7968
Would it still be possible to try the profiler with this workspace for some insight?

[2022-08-11 14:38] bbimber commented on #7968
@nalinigans I will see how feasible that is on our cluster.

Another question: I'm still baffled at the sort of issues we keep having if GenomicsDB is really used that widely. One question: I have been viewing the aggregated workspace as a semi-permanent store (more like a database). Rather than that, do most users just make the workspace on-the-fly, use it immediately, and then discard? I was thi

[2022-08-11 20:59] mlathara commented on #7968
I'm not sure what proportion of users leverage the incremental import functionality...it wasn't available when GenomicsDBImport was first made available, but has been around for ~3 years now.

As for workspaces with whole chromosomes -- there is no requirement or performance benefits to using whole chromosomes. As you say, subsetting a chromosome to smaller regions will work and make the import an

[2022-08-11 22:37] bbimber commented on #7968
@mlathara One additional observation. I made a single-sample GenomicsDB workspace. I imported one gVCF, and using a single interval of ~7m BP. I then tried to run a basic SelectVariants on this. This is the log (note the timestamps):

[code]

You'll see it took nearly 10 minutes between when it first logs the 'starting traversal', and when it actually begins to traverse and report process. Is ther

[2022-08-11 23:43] mlathara commented on #7968
That is interesting -- for comparison @nalinigans had done some SelectVariants runs on our servers with ~500 samples, for an interval with 51M base pairs (these were WES though, fwiw) and the period between starting traversal and the first progressmeter output was ~1min. I'm not sure why your example would take so much longer. How large was this workspace? Can you share it?

And would it be any ea

[2022-08-12 15:48] orlicohen opened #7988 "Feature requests for CompareReferences and CheckReferenceCompatibility tools"
To-do's for CompareReferences and CheckReferenceCompatibility:

CompareReferences
* add functionality to run base-level comparison modes on specified sequences (not just detected mismatching sequences)
* add option to ignore case-level differences in FIND_SNPs mode
* squash contiguous SNPs in FIND_SNPS mode

CheckReferenceCompatibility
* change wording for missing MD5 compatibility status ('COMPAT

[2022-08-12 17:59] mlathara commented on #7968
I don't have much/any experience with `ReblockGVCF` but did want to note one piece of anecdotal evidence in it's favor -- I tried it on a 1000g gvcf that was 6.1G in size. It took about 55 mins and the resulting gvcf was 1.5G in size. That amount of reduction would certainly help reduce GenomicsDB import/query runtimes and memory requirements.

[2022-08-16 22:03] davidbenjamin opened #7991 "DocumentationGenerationIntegrationTest fails mysteriously"
This came up on PR #6351 after a rebase.  The branch passes all tests locally (verified on my laptop and on @cmnbroad's) but fails `DocumentationGenerationIntegrationTest.documentationSmokeTest` in the docker integration CI job on Java 8 but not Java 11.

The same test passed locally for me even after verifying Java 8 was enabled, refreshing the gradle project, rebasing again etc.

[2022-08-16 22:24] davidbenjamin commented on #7991
By modifying the test I was able to isolate the error in the `org.broadinstitute.hellbender.tools.walkers.variantutils` package, which is strange because the PR did not modify the javadoc for any class in that package.

The integration test runs `com.sun.tools.javadoc.Main.execute` and asserts that the output code is zero, which does not yield a useful error message.  In order to produce something

[2022-08-16 22:41] davidbenjamin commented on #7991
At the end of the stdout/stderr it reports 101 warnings and 1 error, so I think it's safe to say that these complaints about the `@VisibleForTesting` annotation are irrelevant.  If we further exclude:

* lines saying that a class was imported that follow a complaint about the class
* lines with only a timestamp and a `^` symbol

we obtain the following:

[code]

[2022-08-16 22:41] davidbenjamin commented on #7991
And there are only five warning involving the `variantutils` package:

[code]

None of them appear to differ from the other warnings.

[2022-08-16 22:59] davidbenjamin commented on #7991
Here is the equivalent output for the master branch:

[code]

[2022-08-19 12:29] bbimber commented on #7968
@mlathara and @nalinigans A couple quick updates:

- ReblockGVCFs reduced gVCF size by 5-8x as advertised. I re-ran this on our ~2000 gVCFs, which is possibly one of the main reasons for improvement below.
- This meant we needed to scrap all existing workspaces. As a side comment, the poor tools around manipulation of GenomicsDB workspaces is a pretty major disadvantage. Your guidance seems to sug

[2022-08-19 20:26] mlathara commented on #7968
Glad to hear you were able to make progress. We're open to suggestions around improving the tooling for this. For instance, you mentioned wanting to redo samples -- we already have support in GenomicsDB for querying by sample. We should be able to expose that at the GATK level. As long as you're okay with renaming the sample when you re-generate the gVCFs that should work.

Technically we could ex

[2022-08-20 11:48] bbimber commented on #7968
@mlathara Thanks for the reply. To add to that:

The use case around adding/removing/replacing samples can include any of:
- A workspace was created, and subsequently a sample failed QC for some reason that wasnt apparently at first
- A sample's gVCF data was generated with an older HaplotypeCaller version, and/or there is some new feature (like ReblockGVCFs) we want to take advantage of. In this

[2022-08-21 14:37] bbimber commented on #7968
Regarding GenomicsDbImport with intervals, here is a quick test. Again, the thing I'm trying to evaluate is whether it matters how I chunk the genome for GenomicsDBImport->GenotypeGVCFs. Downstream of this, I would pass the workspace to GenotypeGVCFs, with --only-output-calls-starting-in-intervals. I believe the concern is whether we have variants spanning the intervals of two jobs, and whether se

[2022-08-22 18:58] samuelklee commented on #7724
A few minor issues:

- [ ] Change `--resource <blah>` to `--resource:<blah>` in tool-level documentation.
- [ ] The VCF writer in VariantRecalibrator has a few conditionals to allow for VCF headers without contig lines, we could do the same for the writer in LabeledVariantAnnotationsWalker.

[2022-08-23 10:00] fo40225 commented on #4617
https://github.com/broadinstitute/gatk/blob/4.2.6.1/src/main/java/org/broadinstitute/hellbender/tools/walkers/annotator/QualByDepth.java#L79

The calculation formula of QD is qual / depth
When QD exceeds 35, QualByDepth will adjust QD to a random number of 30±3

https://github.com/broadinstitute/gatk/blob/4.2.6.1/src/main/java/org/broadinstitute/hellbender/utils/Utils.java#L52

Although GATK uses

[2022-08-24 07:29] schelhorn commented on #7921
Excellent, thank you @davidbenjamin and @ddrichel!

1. Since it has been three weeks, are there any news on whether the regenerated PoN works, and where from it is available?
2. Also, since there are likely many people (some of which have spoken up in the thread) who have been using the affected releases throughout the years, possibly affecting patients' diagnoses, does the Broad have a communicat

[2022-08-29 17:21] GATKSupportTeam opened #8005 "Request created from: Issue when running BaseRecalibrator"
This request was created from a contribution made by Duo Xie on August 20, 2022 16:16 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/8235601014427-Issue-when-running-BaseRecalibrator](https://gatk.broadinstitute.org/hc/en-us/community/posts/8235601014427-Issue-when-running-BaseRecalibrator)

\--

REQUIRED for all errors and issues:

a) GATK version used:v4.2.6.1 

b) Exact c

[2022-08-30 17:00] nalinigans commented on #7968
GenomicsDB does store the END as a separate attribute for the interval, so the information is present even if the GenomicsDB array region does not span that far. The other questions I will leave it to @droazen and/or @mlathara to answer. Hopefully, you are able to make progress.

[2022-08-30 17:02] nalinigans commented on #7976
Are you able to run `gatk SelectVariants` on the workspace?

[2022-08-30 17:09] nalinigans commented on #7976
How large is your machine, memory-wise? Can you reduce the `-Xmx100g` to something smaller, so the native GenomicsDB process does not get starved out?

[2022-08-30 19:41] williambrandler opened #8007 "discordant output between MarkDuplicates and MarkDuplicatesSpark"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2022-09-01 18:28] jhl667 commented on #7921
Hi, my apologies for not answering these questions sooner.  We are utilizing a panel of normals that was created in house from about 40 or so samples.  Reference assembly is still hg19.  In 4.1.9.0, we noticed multiple high confidence variants that were no longer being called using equivalent parameter sets.  So anyways, in our case we are dealing with a false negative problem.

[2022-09-06 16:35] FriederikeHanssen commented on #5299
This also is the case for `Markduplicates` with output `cram` and `cram.bai`

[2022-09-07 04:01] jigaoxiang commented on #7938
Hello, did you deal with this probelm, I also encounter this.

[2022-09-07 04:08] bbimber commented on #7938
The error comes from two annotations: InbreedingCoeff and ExcessHet. One solution is to add "-AX ExcessHet -AX InbreedingCoeff". It doesnt exactly solve the problem, but it avoids hitting the problem code.

[2022-09-07 04:20] jigaoxiang commented on #7938
Awesome! It is useful. Thank you very much!

[2022-09-09 13:34] regnveig opened #8017 "GATK BuildBamIndex creates index file in the current directory"
Dear colleagues,

I discovered a thing which seems invalid. `BuildBamIndex` creates index file in the current directory, not in the directory which contains bam file. I'm absolutely sure that it behaved as I expected in previous versions.

Example:

[code]

Expected output:

[code]

Observed:

[code]

**OS:** Ubuntu 22.04
**GATK version:** 4.2.6.1
**Environment:** miniconda3

Could you check that,

[2022-09-11 18:02] asalimih commented on #6598
I'm getting a similar error. any solutions?
[code]

[2022-09-12 09:38] Jolleboll commented on #6166
Hello, I'd like to add that I've been running GermlineCNVCaller for several days now, on a 256 core machine:

[code]

Should it take this long? Why? It is using 300 GB memory, and intermittently uses all of the 256 cores. 30 WGS samples, each sample's bam file is around 50 GB in size, so coverage is normal.

Grateful for help!

[2022-09-12 12:55] cmnbroad commented on #8017
Yes, this is probably a regression introduced in Picard https://github.com/broadinstitute/picard/pull/1787. Im transferring this to the Picard repo.

[2022-09-12 16:35] gbrandt6 commented on #6598
@asalimih it looks like you're using a different tool than the original post in this thread. Could you post on the GATK forum to get help from the GATK support team? https://gatk.broadinstitute.org/hc/en-us/community/topics

[2022-09-12 19:17] asmirnov239 commented on #6166
Hi @Jolleboll, that depends on number of intervals in your count matrix.

In general we ask to submit these types of questions to our community forum: https://gatk.broadinstitute.org/hc/en-us/community/topics. Please post your question there with the corresponding details about the number of intervals, and tool's standard output.
Thank you!

[2022-09-12 20:09] samuelklee commented on #6166
@Jolleboll I suspect that you may not be sharding runs of gCNV in cohort mode over the genome, which we typically recommend. Can you confirm whether this is the case? See e.g. https://gatk.broadinstitute.org/hc/en-us/articles/360035531152--How-to-Call-common-and-rare-germline-copy-number-variants

[2022-09-13 15:38] Jolleboll commented on #6166
Hello @asmirnov239 @samuelklee and thank you very much for replying so quickly!

It just finished minutes ago, it took six days. As you suspected, I did not split the intervals file into chunks, had no idea it was possible. The intervals were 1kb. Perhaps this explains it, though it was much much faster for the WES data

Thanks again!

[2022-09-14 12:03] dining-philosopher commented on #6857
Hello!

I wrote a script to circumvent this error:

[code]

[2022-09-14 13:42] jjfarrell commented on #7968
Here is a script I ran to run the import on 3500 unblocked gvcfs. The script imports one chromosome per workspace.  As the chromosomes get larger --more and more memory is needed.  chr4 through 22 ran fine. The chr3 (see log below) ends without an error BUT with the callset.json NOT being written out.   I could split the chr1-3 at the centromere to try it again. Any other suggestions?  Would incre

[2022-09-15 09:02] schelhorn commented on #7921
Hi @davidbenjamin,

may I ask whether there has been any progress on addressing the bug and/or generating the new PoN? Thank you.

[2022-09-16 08:45] wangshun1121 opened #8021 "Variant lost when interval expanded."
GATK version: gatk-4.2.3

I have two bam files: `Tumor.bam` is cfDNA data, and `Normal.bam` were reads from white blood cells.

There's a variant C to G at `chr7:116795782` (hg38), I can get this variant using following command:

[code]

and I can get the variant I want in `output.vcf`

[code]

Then, I add 4 exon regions next to the exon where my variant is in `interval_list.bed`:

[code]

and I u

[2022-09-19 19:17] droazen commented on #8007
@williambrandler The GATK Spark jar is for running GATK Spark tools on a Spark cluster -- it lacks the Spark classes that are provided by the cluster environment. To run Spark tools locally, you need to use the local jar, as you discovered.

As for the size difference you're seeing in the output, it could be explained by different compression settings between GATK and Picard. GATK defaults to comp

[2022-09-19 19:24] droazen commented on #7991
@cmnbroad Thoughts on this one?

[2022-09-19 19:28] droazen commented on #7984
@yurivict Unfortunately we only support the version of gradle bundled with the GATK repo, which is currently version `7.3.2`. We're happy to consider a PR to update us to a newer gradle, however (just need to modify the version in `gradle-wrapper.properties`)

We also don't currently support Java 17, though we have an open work-in-progress PR to update us to it, which we expect to get merged withi

[2022-09-19 19:28] #7984 closed

[2022-09-19 19:30] cmnbroad commented on #7984
The Java 17 branch includes an upgrade to gradle 7.5.1.

[2022-09-19 19:32] droazen commented on #7983
This appears to be a log4j issue that we don't have direct control over, unfortunately.

[2022-09-19 19:32] #7983 closed

[2022-09-19 19:35] cmnbroad commented on #7991
I suspect this is related to the jar configuration (3 separate uber- jars) that is unique to the docker CI tests. I'll debug and resolve this after #6351 is merged.

[2022-09-19 20:20] lbergelson commented on #8005
@AJDCiarla We suspect the issue might be related to the non-ascii character in the tmp file path.  `Łuksza_2022_Nature`

Could you ask them to try to use a temp folder / output folders that have only english characters?  We've run into various problems with java mishandling things that use non-ascii characters before and it seems like a good thing to try.

[2022-09-19 21:38] lbergelson commented on #7983
I opened a log4j issue.  Maybe someone will fix it in the future.  https://issues.apache.org/jira/browse/LOG4J2-3602

[2022-09-20 15:20] asalimih commented on #7676
I'm having a similar issue on gatk 4.2.6.1
[code]

[2022-09-20 16:25] jjfarrell commented on #7968
@bbimber @mlathara  Here is a pretty good article for optimizing the GenomicsDBImport [https://gatk.broadinstitute.org/hc/en-us/articles/360056138571-GDBI-usage-and-performance-guidelines]   There is some advice about handling many small contigs that may be useful.

To troubleshoot the  GenomicsDBImport high memory issue my script have, I reran the script on chr1  to narrow down the source of the

[2022-09-20 19:51] mlathara commented on #7968
@jjfarrell Glad you found that article useful!

In general, `--consolidate` will be memory and time intensive. It's not intuitive, but as you already figured out if `--consolidate` is enabled, we do it on the very last batch. If you only have on the order of a few hundred batches total, not having specified consolidate shouldn't affect read performance much.

The only other thing that would help s

[2022-09-22 05:54] xieduo7 commented on #8005
Hi @lbergelson  and @AJDCiarla ,

Thank you for your working!

I am the one who reported this bug and I had given it a try as @lbergelson suggested. I performed tests in two different scenarios:

1. Using full path without any non-ascii characters as tmp path and it succeeded:
[code]

2. Using full path with non-ascii characters in base directory as tmp path and it failed:
[code]
3. Change work di

[2022-09-22 16:31] GATKSupportTeam opened #8030 "Request created from: Monomorphic sites after GenotypeGVCFs --include-non-variant-sites"
This request was created from a contribution made by Diana Robledo on June 23, 2022 10:56 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/6808932798363-Monomorphic-sites-after-GenotypeGVCFs-include-non-variant-sites](https://gatk.broadinstitute.org/hc/en-us/community/posts/6808932798363-Monomorphic-sites-after-GenotypeGVCFs-include-non-variant-sites)

\--

Hello,

I am using

[2022-09-23 13:53] bbimber commented on #7968
@jjfarrell and @mlathara: thanks for running these tests and sorry I havent been able to do anything yet with our data. I'm under some grant deadlines until into Oct, but I do hope to add to this. A couple comments:

1) that broadly matches my experience

2) My sense is that we were caught between and rock and a hard place with GenomicsDb and GenotypeGVCFs. Our workflow until this summer involved

[2022-09-23 15:01] #7884 closed

[2022-09-23 15:40] bbimber commented on #7667
From my understanding, the tooling is relatively limited, but I'm not an official GATK representative. You might want to read some of the comments on this thread: https://github.com/broadinstitute/gatk/issues/7968

[2022-09-23 19:06] mwalker174 opened #8033 "Allow non-canonical SVTYPE values in SV tools"
Recently added SV tools including SVConcordance and SVCluster make use of VariantContext's `getStructuralVariantType()` method, which returns a `StructuralVariantType` enum. This causes the tools to crash with some VCFs, such as those produced by gatk-sv where some SVTYPE values are `CPX` or `CTX`, which are non-standard.

In practice, it will be useful allow these types to be ingested, which coul

[2022-09-24 14:57] mlathara commented on #7968
I do agree that if the source gVCFS are being remade often there isn't much use of keeping genomicsdb as a permanent store. If it is just a few samples here and there, we could add some tooling to ignore and/or rename samples which should save you a lot of compute. But as you say, with something like reblocking the whole store effectively needs to be remade.

[2022-09-25 17:20] takutosato commented on #7497
@LeeTL1220, did moving the jexl filtering up as you did in your branch above resolve your issue?

The only potential issues is that now you are applying the jexl filter on the variant context before subsetting any genotypes, but Jexls are only for INFO fields, right?

[2022-09-25 19:36] shashkat commented on #7297
I am also getting the same error upon using the CollectReadCounts command. Can someone please tell when will issues with m1 macs be solved?

[2022-09-26 15:42] takutosato commented on #7497
After talking with the engine team, it seems the jexl expression can refer to genotype fields. There might be some work on the jexl parser (which @lbergelson mentioned) that will eventually allow for a better solution, but for now the interim solution is to add a separate jexl argument (something like --select-info-expression) that applies only to INFO fields, and doing this filtering before unpac

[2022-09-26 22:49] Jigdor commented on #5113
@ksw9 has this issue been resolved?. I am using GenomicsDBImport and selectVariants (gatk/4.2.0.0) to combine gVCFs of 45 samples. At an individual sample gVCF, I see that none of the GTs are missing ("./.") but after I run GenomicsDBImport and then selectVariants, I see that all GTs in the combined gVCFs are set to "./.". Alternately, I tried using combinegVCF but I get the same "./." in the comb

[2022-09-27 13:10] kose-bioinfo opened #8037 "GermlineCNVCaller"
Dear team,

Can you please assist in interpreting the quality score for the following Dels? I'm trying to figure out what was filtered during the calling and post-processing process and whether further filtering would be prudent.

Many thanks,

![Screenshot 2022-09-27 at 14 10 25](https://user-images.githubusercontent.com/32903403/192534987-2d392d5f-9200-40f9-b77d-d5a14b3935dd.png)

[2022-09-27 14:45] droazen commented on #5113
@Jigdor The default for tools that read from GenomicsDB is to drop the genotypes. If you want to retain them, you need to run `SelectVariants`/`GenotypeGVCFs`/etc. with the `--call-genotypes` argument:

[code]

[2022-09-28 00:36] Jigdor commented on #5113
@droazen Thanks for your help. It works great with that argument in.

[2022-09-28 07:20] dror27 opened #8040 "AlignmentUtils.getBasesAndBaseQualitiesAlignedOneToOne inconsistent handling of SOFT_CLIP"
## Bug Report

getBasesAndBaseQualitiesAlignedOneToOne behaves differently, in respect to the existence of SOFT_CLIP, on reads that contains and do not contain INDELS (due to optimised code path)

When no INDELS present, it returns arrays of clipped length
When INDELS present, it returns arrays of unclipped length (with NUL bytes past actual unclipped content)

### Affected tool(s) or class(es)
Al

[2022-09-28 13:56] georgiiprovisor commented on #7667
Thanks, I come here from this thread.
It seems like I have to downgrade the pipeline to the older version with CombineGVCFs step, GenomicDBImport just can't do this stuff now :)

[2022-09-28 13:57] davidbenjamin commented on #8021
@wangshun1121 The allele fraction here is low enough that I'm not too surprised that a change in intervals affects it.  However, the TLOD is high enough that I wish it were called regardless of intervals.  I will take a look at your bams if I get the time to do so but most of my efforts are on the next version of Mutect and unfortunately that does mean some neglect of Mutect2.

[2022-10-03 11:13] ad2n15 opened #8043 "Mask duplicates"
Hi team,

GATK have a GRCh38 version that available in Resource bundle. It is not clear if this version have a masked duplicates.
Could you provide a GRCH38 version, ready to use, with masked duplicates? that can deal with this issue that affect on variants recall in these regions, such as CBS gene.

B.W

[2022-10-03 11:24] #8043 closed

[2022-10-11 15:57] felixm3 commented on #7811
I'm getting the same issue @cmnbroad @GATKSupportTeam .

Any recommendations on how to proceed please?

Thanks in advance.

[code]

[2022-10-11 16:57] cmnbroad commented on #7811
@felixm3 The bioconda environment doesn't actually configure the gatk conda environment (it installs gatk, but not the python dependencies required for CNNScoreVariants). You need to set up the gatk conda environment, as described  in the Python Dependencies section in the README.md file: https://github.com/broadinstitute/gatk#readme.

[2022-10-13 12:46] jjfarrell opened #8054 "ApplyVQSR exception"
## Bug Report

### Affected tool(s) or class(es)
 ApplyVQSR

### Affected version(s)
gatk-4.2.6.1

### Description

Getting the following  error. However, the chr6.raw.excessHet.vcf.gz does not contain that multiallelic variant site.  This variant is the nearest at that location but the error is for a variant at  chr6:26914009 with different alleles =[G*, GTGTA, GTGTATA, GTGTGTA] .

`chr6    26914

[2022-10-15 12:31] user-tq commented on #6242
I  have the same issues，but finaly I found that I made a mistake about
`bwa -R "@RG\tID:${x} \tPL:Illumina\tLB:${x}\tSM:${x}\tPG:bwa"`
There is a space after the ID.
in fact ,result of gatk BaseRecalibrator Contains the space.
but when gatk  ApplyBQSR read the table，
it will trim trailing spaces.
different names cause errors(I guess)

[2022-10-17 13:39] ldgauthier commented on #8054
HI @jjfarrell,

Can I get a `SelectVariants -L chr6:26914009 -ip 10` from /restricted/projectnb/kageproj/gatk/pVCF.vqsr/indels.recal  and chr6.raw.excessHet.vcf.gz?  That will make this much easier to debug.

[2022-10-18 00:38] williambrandler opened #8059 "gatk GetSampleName on cram files gives error but actually succeeds"
## Bug Report

### Affected tool(s) or class(es)
GetSampleName

### Affected version(s)
4.2.6.1

### Description
when running gatk GetSampleName on a cram file you get the following error:

however the command does work and it does output the sample name without requiring a reference genome

#### Steps to reproduce
gatk GetSampleName -I $input_cram_path -O GetSampleName.txt

#### Expected behavior

[2022-10-18 00:54] williambrandler commented on #8059
hang on, this is a user error

[2022-10-18 00:54] #8059 closed

[2022-10-18 15:45] biovia-rohit opened #8060 "CVE-2022-42889 in GATK 4.x ?"
There is a new vulnerability released https://nvd.nist.gov/vuln/detail/CVE-2022-42889#vulnCurrentDescriptionTitle and exploitable as documented in the NIST DB.

A quick scan of the GATK jar shows it ships Apache Commons 1.6 (class location in the jar: /org/apache/commons/text/lookup/)

Could you please confirm if the GATK is impacted by this issue and a plan to fix this?

Thanks

[2022-10-18 21:33] #7986 closed

[2022-10-19 06:35] schelhorn commented on #7921
Sorry for not letting this go, but this a severe bug with repercussions on clinical diagnostics that still has not been communicated to other users, nor fixed, for more than three months.

@droazen, is there anything else that we could do to hasten this along? Is there any workaround other than downgrading Mutect2 to the version from more than two years ago?

[2022-10-19 13:48] bbimber opened #8063 "Low-level general solution for --ignore-variants-starting-outside-interval?"
When running GATK with specific interval(s), the default behavior is to include any variant spanning those interval(s). When running scatter/gather jobs, this behavior is generally not what one wants, since this would result in variants spanning the job intervals getting included twice.

In a handful of GATK tools, there is support for something like --ignore-variants-starting-outside-interval, wh

[2022-10-22 18:56] #7961 closed

[2022-10-24 14:53] davidbenjamin commented on #7921
I am going to be able to identify samples for a new panel of normals this week, after which generating and validating the panel will take another few days.

[2022-10-24 19:10] droazen commented on #8063
@bbimber Yes, this is an excellent suggestion and would be very useful! We actually already do have an open PR that adds such a general argument for VariantWalkers, but it's been languishing for a while: https://github.com/broadinstitute/gatk/pull/6388

I'll see how difficult it would be to resurrect this old PR.

[2022-10-24 19:24] droazen commented on #8060
@biovia-rohit Thanks for reporting this! We'll look at our Apache Commons dependency and see if we can upgrade to a version not affected by this vulnerability.

[2022-10-25 15:15] #8060 closed

[2022-10-27 18:46] GATKSupportTeam opened #8076 "Request created from: JointGenotyping.ImportGvcfs terminates without an active exception"
This request was created from a contribution made by Elizabeth Lee on October 19, 2022 17:47 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/9761457082907-JointGenotyping-ImportGvcfs-terminates-without-an-active-exception](https://gatk.broadinstitute.org/hc/en-us/community/posts/9761457082907-JointGenotyping-ImportGvcfs-terminates-without-an-active-exception)

\--

JointGenot

[2022-10-27 19:27] Ben-Habermeyer commented on #7276
ok @davidbenjamin I got a chance to test with latest release `4.3.0.0` and the issue seems to be mostly resolved when running `--alleles` on our test samples. Additionally, `FilterMutectCalls` works on low DP variants.

For control samples, using the `--alleles` option results in an error due to the value of the stats `callable`.

Combination of this call:
[code]
and the stats file containing:
[co

[2022-10-28 18:13] antares58 commented on #8076
I discovered that one of the 345 input gvcfs failed VCF validation. When I removed that file and reran with no other changes, I did not get the "terminate called without an active exception" error. However, ImportGvcfs still fails; the failure seems to occur immediately after GenomicsDBImport logs success in importing all batches, in each shard. From all the Cromwell logs it looks like everything

[2022-10-29 10:05] carbocation opened #8080 "Is Mutect2 reporting variant allele fraction (AF) after adding a 1-read "prior" to the supporting allele depth (AD) values?"
## Documentation request

Mutect2 seems to compute allele fraction (AF) from the allele depth (AD) data *after adding a prior* (which seems to be that it adds 1 read to each of the alleles). However, as of at least GATK 4.2.5.0, Mutect2 produces a header that does not indicate that this is happening: (`##FORMAT=<ID=AF,Number=A,Type=Float,Description="Allele fractions of alternate alleles in the tu

[2022-10-31 08:37] 17863952296 opened #8081 "In the gvcf file, Does anyone know what this info means?"
In the g.vcf  file, I have the info format of many sample sites that looks like this :   0:0,0:0:99:0,384 (Information corresponding to the GT:AD:DP:GQ:PL). My question is that when 'AD=0 ,DP=0' happened, why GQ and PL exist value?
when it happened, if it will mean the sample covered this site , that if I compute the coverage, I will contain the site?

[2022-10-31 16:29] nalinigans commented on #8076
This is the issue that @antares58 is talking about, not sure where it is coming from -

[code]

[2022-10-31 19:42] dheiman commented on #7385
Has there been any progress on this? The [CPTAC NCI consortium](https://proteomics.cancer.gov/programs/cptac) is going with GENCODE 42; it would be great if it was more straightforward to update the GENCODE version in our local data source.

[2022-10-31 19:45] jonn-smith commented on #7385
@dheiman No updates yet.  I've been working on another project that is time-sensitive.  When that project is complete I'm planning on spending a couple of weeks fixing this and several other related funcotator issues.

To my chagrin, I do not have an estimate on when this time-sensitive project will be complete (I am working to get it done ASAP).

[2022-11-01 15:09] antares58 commented on #8076
I reran the workflow, this time allocating 200GB RAM to tmp in the slurm job, everything else exactly the same, and got the "terminate called without an active exception" failure again, so that error was not due to the gvcf that failed VCF validation as it was not included. This time, shard 9 succeeded in ImportGvcfs and also successfully completed GenotypeGVCFs. I have attached the top level stdo

[2022-11-04 20:42] gileshall commented on #4938
[Apache Thrift](https://github.com/apache/thrift) looks like a plausible alternative to py4j.  It might be possible to automate the generation of thrift wrappers.  But, at the heart of any of these systems is essentially an RPC mechanism, not a binary interface, and ill suited to high-frequency function calls.

[2022-11-06 16:38] schelhorn commented on #7921
Excellent news, thank you @davidbenjamin!

[2022-11-07 16:29] cmnbroad opened #8087 "Post Java 17 build/CI/log cleanup issues"
These are a bunch of random, mostly just annoying things that I repeatedly encountered during the Java 17 port that we should look into.

**Log Spam Issues:** (these result in lots of error log spam that make the logs super hard to scan when there is a failure):

- The WDL test logs are riddled with “localization by hard link failed” and "Docker not found" failures, which makes it hard to scan the

[2022-11-14 05:29] snakesch opened #8091 "Problem with gcnvkernel installation"
Hi,

I am on GATK v4.3.0.0 (CentOS) and would like to implement GermlineCNVCaller in my work. In an attempt to set up the conda environment (gcnvkernel) from zip using the command `conda env create -f gatkcondaenv.yml`, I got an error like this: `Found conflicts! Looking for incompatible packages.`

I also tried installing with tar, but I couldn't find gatkPythonPackageArchive.zip as required in t

[2022-11-14 16:51] antares58 commented on #8076
By doing the following, I was able to get a JointGenotyping result for my 343 samples:
    - increased the amount of memory allocated to the Java heap in ImportGvcfs to 50000m
    - modified the runtime attributes for all the joint genotyping tasks to match the format that Cromwell accepts for HPC environments (https://cromwell.readthedocs.io/en/stable/tutorials/HPCIntro/#specifying-the-runtime-at

[2022-11-14 20:39] ldgauthier commented on #8081
Is there any phasing info for sites that look like that, i.e. PID and PGT tags?  HaplotypeCaller will assign a lot of confidence to variants that are phased with variants that have good support.  It's also possible that reads used to assemble the haplotype graph aren't high enough quality to count towards the AD, and I believe the DP here is sum(AD).  (In contrast, the INFO DP for the site is base

[2022-11-15 03:17] 17863952296 commented on #8081
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    the following graph is one site info of final filtered gvcf file. I noticed in the red  GQ is 45(relatively high), but I find AD and DP is zero(0,0;0).

        besides, I also have another problem, why I find the site-261733 diappeared. I don't find it in the ref position.w

[2022-11-16 13:50] ryanjameskennedy opened #8097 "GermlineCNVCaller error when testing for nf-core modules"
## Bug Report

### Affected tool(s) or class(es)
[gcnvkernel metadata.py SampleReadDepthMetadata class](https://github.com/broadinstitute/gatk/blob/4e1741896bcd04d70493f94b082dd0d27023f14c/src/main/python/org/broadinstitute/hellbender/gcnvkernel/structs/metadata.py#L177)
[gcnvkernel metadata.py SampleMetadataCollection class](https://github.com/broadinstitute/gatk/blob/4e1741896bcd04d70493f94b082d

[2022-11-22 15:14] AJDCiarla commented on #8076
Hi @antares58 ,

We created this ticket for one of our users on the GATK forum, [Elizabeth Lee](https://gatk.broadinstitute.org/hc/en-us/community/posts/9761457082907-JointGenotyping-ImportGvcfs-terminates-without-an-active-exception).

In the interest of clarity, are you responding on her behalf? Are you the cluster admin? If you are not related to the original user, we will need to create a sepa

[2022-11-22 22:33] kew24 opened #8103 "ValidateVariants: Error reports last (not first) overlapping interval"
## Bug Report

### Affected tool(s) or class(es)

ValidateVariants: `--fail-gvcf-on-overlap` / `-no-overlaps`

### Affected version(s)
- [x] Latest public release version: 4.2.6.1
- [ ] ~Latest master branch as of~ [did not test, but affected file hasn't changed since August 2021]

### Description

If there are overlapping reference blocks when running ValidateVariants with the `-no-overlaps` opti

[2022-11-25 08:15] lindenb opened #8106 "haplotypecaller ArrayIndexOutOfBoundsException : org.broadinstitute.hellbender.tools.walkers.annotator.TandemRepeat.getNumTandemRepeatUnits"
### Instructions

## Bug Report

Hi GATK team , I'm afraid I found an exception in gatk HC related to  https://github.com/broadinstitute/gatk/issues/6516

### Affected tool(s) or class(es)

GATK HC v4.3.0.0

### Affected version(s)
- [X] Latest public release version [version?]
- [ ] Latest master branch as of [date of test?]

### Description

[code]

[2022-11-27 18:26] lindenb commented on #8106
and here is a minimal example:

[minimal.tar.gz](https://github.com/broadinstitute/gatk/files/10098930/minimal.tar.gz)

with

[code]

[code]

[2022-11-28 20:28] droazen commented on #8103
@kew24 Thanks for the bug report! Would you be satisfied if we just changed the text of the error message to read "The last overlapping interval is ...."?

[2022-11-28 20:51] kew24 commented on #8103
Thanks for the response, @droazen! Technically, yes, that would be satisfactory & accurate... and if that's easiest, I'm fine with that.

From a user perspective though, it might be beneficial to report the first occurrence of this error, as that's most likely where I would go back to do future testing & troubleshooting. That being said, all of the overlapping intervals are already outputted to st

[2022-11-29 09:59] NstVasileva commented on #8097
I had the same error on my files. I ran CollectReadCounts (without errors and next DetermineGermlineContigPloidy also without errors) for chr1 and chr6. I'm interested only in chr6, but GATKCNVCaller need 2 intervals at least and I haven't some target regions just whole chromosome 6. And when I run GATKCNVCaller in cohort mode it gave me this error.

[2022-11-29 15:52] cmnbroad opened #8107 "ModelSegments integration test failures on newer Java 11 releases"
See https://github.com/broadinstitute/gatk/actions/runs/3567534442/jobs/5995349354 for one example.

We originally saw these failures on the branch to move GATK to Java 17, but recently have started seeing the same failures on current PRs when running the tests on Java 11. It looks like this started happening when the CI env recently started resolving to Java 11.0.16.1., where these tests appear t

[2022-11-29 15:54] cmnbroad commented on #8107
@samuelklee this ModelSegments issue we saw on Java 17 is now happening on current PRs in CI. We have a temporary solution for a short term, but can you or someone take a look?

[2022-11-29 16:04] samuelklee commented on #8107
Thanks @cmnbroad, I’ll take a look today! Should hopefully just be a matter of updating expected results, but I see you mentioned some hints of Java 17 non-determinism in the linked PR. This seems worrisome, as the methods used by this tool should be deterministic and we saw no indications that they weren’t with Java 8… Will do some digging (if necessary), but if you have any examples, that would

[2022-11-29 16:47] cmnbroad commented on #8107
@samuelklee I think the issue may be that we currently run integration tests on both Java 8 on the docker and on Java 11 on CI (though I'm not 100% sure that these specific tests run on both). I was able to update the expected results on the Java 17 branch, but that branch only runs on one version of Java. So updating the expected results may just move the problem to Java 8. Not sure.

[2022-11-29 20:03] ScienceConnor opened #8112 "HaplotypeCaller fails "read must be flow based: 180652-BC94-0022826568 chr1:14585-14703" on Ultima provided samples"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
- [4.3.0.0 ] Latest public release version

### Description
I'm attempting to run HaplotypeCaller on Ultima flow based bams with the "--flow-mode STANDARD" and "--likelihood-calculation-engine FlowBasedHMM" arguments. However, I'm getting the following error "java.lang.IllegalArgumentException: read must be f

[2022-11-29 20:13] meganshand commented on #8112
@ScienceConnor Can you provide an example read? Does it have a flow matrix tag, for example `tp`? I believe this is what HaplotypeCaller is checking for.

[2022-11-29 20:13] samuelklee commented on #8107
@cmnbroad Ah, thanks for reminding me of that.

When will Java 8 be removed from the test suite? Looks like the numerical differences are big enough for some values that further relaxing the delta allowed for matching the expected result doesn't really make sense.

I just opened #8111 which just does a hacky runtime check of the Java version and checks against the appropriate set of expected resul

[2022-11-29 20:20] droazen commented on #8107
We can probably include the fix for this in the Java 17 branch, which is not that far from being merged, rather than trying to fix it now in the current hybrid Java 8/11 environment...

[2022-11-29 20:28] droazen commented on #8112
The `HaplotypeCaller` logic for determining whether a read is flow-based is as follows:

[code]

So the reads need to have either a "tp" (FLOW_MATRIX_TAG_NAME), "kr" (FLOW_MATRiX_OLD_TAG_KR), or "ti" (FLOW_MATRiX_OLD_TAG_TI) attribute in order to be considered flow-based.

[2022-11-29 20:31] ScienceConnor commented on #8112
Here is the first full read from a sample:
140797-BC90-0012194902  272     chr1    10534   0       3S86M   *       0       0       CGCAGTACCACCGAAATCTGTGCAGAGGAGAACGCAGCTCCGCCCTCGCGGTGCTCTCCGGGTCTGTGCTGAGGAGAACGCAACTCCGC    /98;9:99<9619==7;9;9;9;;9;6665=909;;99;719694709099;59;9;90999;9;9;99;9;99;9=909;<8786,9B       RG:Z:140797-BC90.bc8ea210-7829-498d-9c68-285d6ca99837.50m

Can the flow matrix t

[2022-11-30 02:46] JingChunSun opened #8114 "how to delete some GVCFs from GATK GenomicsDBImport?"
I have combined some GVCFs by GenomicsDBImport, and continuity added other samples. however, I find some mistakes with  previous samples, how to delete these samples from GATK GenomicsDBImport?

[2022-11-30 15:44] meganshand commented on #8112
`AddOrReplaceReadGroups` won't be able to add that tag since it's data on flow quality that should be reported by the sequencer. I've asked someone from Ultima to take a look and they will get back to you shortly.

[2022-11-30 16:05] maxim-h opened #8115 "Website color scheme"
## Documentation request

### Tool(s) or class(es) involved
_online documentation_

### Description
_First of all, thank you for a great tool with amazing documentation. The issue that I noticed recently is that all that great documentation on the website became almost impossible to read. The text is light grey on white and parameters are shown in pale blue on white. Surely I cannot be the only on

[2022-11-30 16:07] ilyasoifer commented on #8112
Hi @ScienceConnor - thanks for the feedback, this is Ilya from Ultima Genomics.
From what I see, this seems to me to be more of the output format issue rather than the issue with HaplotypeCaller per se.
Would you mind pinging me over ilya dot soifer at ultimagen dot com and I am happy to help you out.

[2022-11-30 16:48] droazen commented on #8115
@maxim-h Thanks for reporting this issue! When I visit the latest docs for that tool (`LiftoverVcf`), which are at https://gatk.broadinstitute.org/hc/en-us/articles/9570440033179-LiftoverVcf-Picard-, I don't see any light grey text. The text shows up as black on a white background:

<img width="862" alt="liftovervcf_docs" src="https://user-images.githubusercontent.com/798637/204858080-a851e3e8-70a

[2022-11-30 16:52] droazen commented on #8114
@mlathara @nalinigans Does GenomicsDB currently support deletion of samples?

[2022-11-30 17:45] AJDCiarla commented on #8115
@maxim-h Thank you again for bringing these issues to our attention!

I am on the GATK Team and oversee the GATK forum; I'm concerned about your troubles with signing into your account to create a new forum post. If you could answer some of the following questions, I hope to be able to help identify the origin of the issue.

When did you start having trouble signing into your GATK account?
What is

[2022-11-30 18:37] maxim-h commented on #8115
@droazen thank you for a quick reply.
You were right. I am using Mozilla Firefox 107.0.1 (64-bit). When I open the page in Chromium it shows properly contrasted text.

But looking even further into the issue I realized that I can fix the problem in Firefox by going to Settings > General > Fonts > Advanced and then **UN**checking the option "Allow pages to choose their own fonts, instead of your se

[2022-11-30 18:52] maxim-h commented on #8115
@AJDCiarla

Hello. So, to preface my answers it's also important to note that I am having these issues on Firefox. Now that I tried it in Chromium the Sign in link works.

`When did you start having trouble signing into your GATK account?`
The issue is actually not with my account. I cannot even get to the Sign-in screen that you show.
`What is the username/email address associated with your GATK

[2022-11-30 20:21] mlathara commented on #8114
It is not possible to delete samples from a GenomicsDB workspace.

It is possible to add some support where things like query tools like GenotypeGVCFs can optionally specify a list of samples that they want queried from the workspace.

[2022-11-30 21:20] AJDCiarla commented on #8115
@maxim-h Thank you for this follow-up information. Please note that if you have any pop-up blockers enabled or are browsing in "incognito" or "safe mode," you may encounter these problems. Please ensure you have disabled any blockers and are trying to sign in through a regular browser.

I hope this helps! Please let me know if this leads you to success.

Anthony