[2018-10-06 01:53] oldmikeyang commented on #4675
I just try the MarkDuplicatesSpark from local file system without the HDFS.
the application will failure. It said can't find the file, but the file is on the local file system.

ls -la /home/test/WGS_pipeline/TEST/output/spark_412.bowtie2.bam
-rw-rw-r--. 1 test test 4668988887 Oct  4 11:27 /home/test/WGS_pipeline/TEST/output/spark_412.bowtie2.bam

18/10/06 09:45:36 INFO spark.MapOutputTrackerMaste

[2018-10-06 02:14] oldmikeyang commented on #4675
I would like to try it.

By the way, I am running the whole SPARK version, MarkDuplicatesSpark + BQSRPipelineSpark + HaplotypeCallerSpark to get the vcf  file.
I found the output of the vcf is different with the GATK standard pipeline MarkDuplicates + BaseRecalibrator + ApplyBQSR + HaplotypeCaller.
The SPARK version is 3% less than the standard pipeline.
So I am debug where these difference come f

[2018-10-06 04:58] vruano opened #5288 "Get gCNV in case mode to run under 30 cents per sample in the dsde-sv-pipe benchmark."
The title says it.

We already found out that collect-read-counts can be twice as fast if we dissable the wellformed-read filter. #5233.

In addition each GermlineCNVCaller shard extracts from each case sample the relevant intervals probably without using an index becoming a rather slow operation. On top of that the python script takes .tsv files in so.. it seems to me that we would better served

[2018-10-06 05:34] vruano commented on #5288
Also looking into the python log output perhaps the minimum of 10 epochs for training is too hi as the numbers that are spit out seem to indicated that things are quite settle just a bunch of iteration (~4-5 or so).

[2018-10-08 07:32] NandiniBN commented on #3697
Hello,
 I have the same issue reported on the GATK forum last week : https://gatkforums.broadinstitute.org/gatk/discussion/13171/variant-not-being-called-by-hc-gatk-v3-7-0-gcfedb67
is there a solution for this ?

[2018-10-08 08:36] #3823 closed

[2018-10-08 10:10] tomwhite commented on #5103
Fixed in #5127

[2018-10-08 10:10] #5103 closed

[2018-10-08 10:16] tomwhite commented on #5271
Please review #5138

[2018-10-08 10:38] tomwhite commented on #5276
#5222 added `ExampleLocusWalkerSparkIntegrationTest.java`; #5289 adds more tests.

[2018-10-08 17:15] mozack opened #5293 "SplitNCigarReads - Exception when read is entirely an insertion"
## Bug Report

Hi @jamesemery  and @sooheelee ,

Thanks very much for looking into: https://github.com/broadinstitute/gatk/issues/5230

I am running into one additional error.  Reads that contain an insert spanning the full length of the read are causing an exception in SplitNCigarReads.

### Affected tool(s) or class(es)
SplitNCigarReads

### Affected version(s)
- Tested on 4.0.3.0 and also branc

[2018-10-09 15:52] jamesemery opened #5294 "Investigate using disq for NIO files over spark"
While working on the cost evaluation for MarkDuplicatesSpark I was unsuccessful in using NIO over local machines to stream input bams. It seemed that the VMs would fail to running out of heap space unless they were given very large memory pools 100GB+ for reading 60GB bams. We should figure out why this was happening and fix it so we exploit NIO for future tools/work.

[2018-10-09 17:36] ldgauthier commented on #2668
Closed via #4969 -- RAW_MQ changed to tuple instead of adding an additional annotation.

[2018-10-09 17:36] #2668 closed

[2018-10-09 18:39] droazen opened #5295 "Funcotator needs test coverage for "all transcripts" mode"
There's currently no test coverage for "all transcripts" mode in Funcotator, as far as I can discover, and the GTF files used for MUC16/PIK3CA tests don't even have multiple transcripts.

[2018-10-09 20:50] #5133 closed

[2018-10-09 20:59] #5284 closed

[2018-10-09 21:00] #5283 closed

[2018-10-10 15:59] jonn-smith opened #5297 "Funcotator reference context bases should be lowercase if they are not in regions that are expressed."
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _GencodeFuncotationFactory_

### Description
The `referenceContext` field of the `GencodeFuncotation` should render the bases slightly differently.

For bases that are not expressed (e.g. intronic/IGR bases), they should be lower case.  Expressed bases should be upper-case.

[2018-10-10 17:56] #5230 closed

[2018-10-10 18:40] magicDGS commented on #4224
@droazen - I believe that this is fixed: I did the `SeekableStream` part, and @cmnbroad did some stuff with the tribble/bgzip...

[2018-10-10 18:52] droazen commented on #4224
Thanks @magicDGS -- @cmnbroad , would you also be comfortable closing this one?

[2018-10-10 19:29] cmnbroad commented on #3837
I'm closing this one as well, since I think it was another manifestation of https://github.com/broadinstitute/gatk/issues/4224.

[2018-10-10 19:29] #3837 closed

[2018-10-10 20:15] ldgauthier commented on #3119
I'm going to close this until someone sees it again.  Test data is gone.

[2018-10-10 20:15] #3119 closed

[2018-10-10 20:28] jonn-smith commented on #4863
Codon table is here:

https://en.wikipedia.org/wiki/Vertebrate_mitochondrial_code

Note: there are implied changes / requirements for specific species, humans included.

[2018-10-10 21:12] magicDGS commented on #5279
Does it also mean to migrate to java 11, as it is supported? This will be important for development decisions of htsjdk3, as java 11 have the modularization feature that looks great for a library project.

[2018-10-10 21:16] magicDGS commented on #5269
What are the specific requirements for this? It will be nice to write them down in the htsjdk-next-beta and add here the specific issue (easier to track the progress).

[2018-10-10 21:19] magicDGS commented on #5267
The previos message was written a bit quick from my phone. The concrete PR is https://github.com/samtools/htsjdk-next-beta/pull/12

@lbergelson - would like to have a look to it, or do you prefer that I open another one with the interface on top of the CIGAR part? I prefer to go step by step, as it is clearer than adding too many classes to review at once...

[2018-10-11 09:13] marchoeppner opened #5299 "BAM versus CRAM index extention"
GATK Version 4.0.9.0

What is the issue:
When using the -OBI flag in e.g. ApplyBQSR, GATK uses an inconsistent pattern for adding index extensions

When using BAM format as output:
my_file.bam
my_file.bai

When using CRAM format as output:
my_file.cram
my_file.cram.bai

Since e.g. samtools uses the second pattern for both BAM and CRAM (well, actually they have .crai, but that is a different discss

[2018-10-11 14:59] #5293 closed

[2018-10-11 15:05] jamesemery commented on #5293
@mozack I'm not sure what aligner you are using that generates reads that don't actually align to the reference like that. I have elected to make the tool pass them through (or any reads that don't consume any reference bases eg. all softclips for example) into the output without attempting to clip or remove them. Let me know if this fixed the crash and if this behavior is desirable.

[2018-10-11 18:16] droazen commented on #5269
@magicDGS Good question! The main requirement is that the APIs need to allow you to *optionally* pass in URIs/Paths for all of the "companion files" for a particular input. For example, the `fai` and `dict` files for a fasta, or the `bai` file for a bam. When using signed URIs for authentication, these would all have separate signed URIs that would need to be provided explicitly.

Of course, there

[2018-10-11 18:18] droazen commented on #5279
@magicDGS We'd like to, but are currently prevented from migrating to Java 11 by our Spark dependency (see https://issues.igniterealtime.org/browse/SPARK-2017).

[2018-10-11 18:32] droazen opened #5300 "Possible race condition in GenomicsDBImport multi-interval mode."
@vdauwera reports getting this error when running `GenomicsDBImport` with a large interval list as the `-L` input:

[code]

Looking at the code that produces this error, this seems like a "should never happen" type of error that would likely only be produced by a race condition of some kind.

Full stderr log follows:

[code]

[2018-10-11 18:32] droazen commented on #5300
@kgururaj @nalinigans Any thoughts on this one?

[2018-10-11 18:43] cmnbroad commented on #4540
@ldgauthier @lucidtronix I'm updating this with proposed list of CNNScoreVariants issues I think need to be resolved before we can remove the `@Beta` tag (actually is currently marked `@Experimental`). Let em know what you think:

- https://github.com/broadinstitute/gatk/issues/4538 (Python factoring/PEP-8/code review)
- factor python args handling (minimally factor out the inference args)
- there

[2018-10-12 14:50] #5053 closed

[2018-10-14 05:51] nalinigans commented on #5300
Will let @kgururaj comment before looking at this code.

[2018-10-14 05:54] nalinigans commented on #5277
Have started testing snapshot releases from genomicsdb.org in nalini_new_genomicsdb_jar branch. Will wait for @kgururaj to finish his work and release a final jar from com.intel before finally moving gatk to the new fork.

[2018-10-15 16:38] lbergelson opened #5305 "regenerate google service account json"
Try regenerating a new service account json for hellbender.  GenomicsDB looks for certain keys in the service account file which aren't present in the file we have in travis.

Lets try regenerating it to see if it's a field that's now included in the key file.

[2018-10-15 17:07] droazen commented on #4994
Closing -- this was patched.

[2018-10-15 17:07] #4994 closed

[2018-10-15 17:15] droazen opened #5306 "google-cloud-nio: implement configurable retries/reopens"
The `google-cloud-nio` library should allow us to customize the errors that trigger a retry/reopen. Specifically, it should allow us to add additional http status codes to trigger a retry, as well as additional exception classes to trigger a reopen. It should be possible to either append to the existing defaults, or replace the defaults completely with your own values.

[2018-10-15 17:16] droazen commented on #5306
For @jean-philippe-martin

[2018-10-15 21:16] lbergelson commented on #5305
When this is done we should revoke the old key as well.

[2018-10-15 21:31] lbergelson commented on #5282
Support for 0 length arrays in sam: https://github.com/samtools/htsjdk/pull/1194

[2018-10-15 21:42] bhanugandham commented on #17
Users have shown interest in porting CombineVariants to GATK4. Features such as, combining vcfs with variants present in all or a fraction of samples exists in CombineVariants but not in MergeVcfs/SelectVariants. It would be helpful to look into this.

[2018-10-16 13:04] ldgauthier commented on #17
The behavior of the GATK3 CombineVariants was very inconsistent and the arguments weren't entirely clear.  I also suspect that some operations weren't possible with the arguments given. Rather than port that old broken version, I would advocate for an overhaul or rewrite.

@bhanugandham it's going to be a big project to collect requirements and expected behavior for this tool.  For example, what s

[2018-10-16 13:40] meganshand opened #5310 "Mitochondria Pipeline Tools"
## Feature request

The mitochondria pipeline should have new annotations and filters in Mutect2 and FilterMutectCalls. This is being addressed in #5193. An accompanying best practices WDL should also be developed and eventually be available in Firecloud.

I'll update here once the PR is merged and has been released.

[2018-10-16 13:41] meganshand commented on #5310
@SusieX I'll comment here with updates.

[2018-10-16 14:54] droazen commented on #17
I wonder if users mainly just want something that adds the "set" annotation, so that you can do things like `-select 'set == "Intersection"'` in `SelectVariants`...

[2018-10-16 16:26] droazen opened #5313 "Remove redundant references from test data now that we have full-sized references"
Now that we've added the complete B37 and HG38 references to our test data (https://github.com/broadinstitute/gatk/pull/5309), we should remove redundant snippets of these references to save space, and replace usages of the snippets with usages of the full-sized references.

[2018-10-16 16:27] #5111 closed, assigned to droazen

[2018-10-16 16:29] jonn-smith commented on #4307
Funcotator and Oncotator both produce the same results for `chr5:71622537-71622538 CA->C`.  They both seem to ignore the transcript that runs off the end of the boundary.

[2018-10-16 16:36] jonn-smith commented on #5187
In `GencodeFuncotationFactory::createIntronFuncotation`:

1) Get closest Exon
2) calculate offset to exon start (`exonOffset = closestExon.getStart() - variant.getStart()`)
3) Create cDNA string (`final String cDnaString = "c." + exonOffset + strandCorrectedRefAllele + ">" + strandCorrectedAltAllele`)

[2018-10-16 16:43] jonn-smith commented on #5186
Add to the bottom of `VcfFuncotationFactory::populateSupportedFieldNamesFromVcfFile`:

[code]

[2018-10-16 16:50] jonn-smith commented on #5295
The regression tests added as part of #4344 fulfill this requirement.

However, they need to be refactored to take advantage of the newly-included full `hg19` and `hg38` reference sequences.

[2018-10-16 16:52] jonn-smith commented on #4863
This should be straight-forward once the discussion above is resolved.

Just detect if the variant is on a known Mitochondrial contig.  If so, use the MT codon table, otherwise use the regular codon table.

[2018-10-16 17:21] jonn-smith commented on #4863
From Sarah Calvo:

[code]

[2018-10-16 17:34] jonn-smith commented on #5259
This will seemingly make the clinical pipeline data sources so large they are completely unusable.  Gnomad data for the whole genome is apparently **106Gb**, exome data is **16Gb** (this would be OK, but is at the upper limit) (http://gnomad.broadinstitute.org/downloads).

@LeeTL1220 - what are your thoughts?

[2018-10-16 18:07] jonn-smith commented on #5259
Sent an email to Niall and Alyssa asking about subsetting the gnomAD files.

[2018-10-16 18:16] jonn-smith commented on #5259
Also, the `gnomAD` files are made from `B37` data.  A liftover to `HG38` set exists as well.

[2018-10-16 18:34] #5305 closed

[2018-10-16 20:08] nh13 opened #5314 "Set the PS for phased variants."
@lbergelson @droazen I would grateful if GATK4 could output the standard `PS` tag for phased variants.  GATK4 currently outputs the non-standard `PID` and `PGT` tags.  Tools like `rtg-tools` leverage the `PS` tag, especially for complex, linked variants.  For example a SNP+DEL on one haplotype, where the DEL spans a SNP on the other.  It could be as easy as finding all the places where `HAPLOTYPE_

[2018-10-16 20:24] esamorodnitsky opened #5315 "AddCommentsToBam function does not handle colon in the -C flag"
## Bug Report

### Affected tool(s) or class(es)
AddCommentsToBam

### Affected version(s)
- [x] Latest public release version [version?] GATK-4.0.10.1

### Description
I was trying to run AddCommentsToBam and with the -C flag, it was crashing when I had a colon in the string, so I had to delete it.

#### Steps to reproduce
`gatk AddCommentsToBam -I=In.bam -O=Out.bam -C="Bad: comment"`
`gatk AddCo

[2018-10-17 11:47] stormalex opened #5316 "Got "Too many open files" when use BaseRecalibratorSpark"
I got exception use run BaseRecalibratorSpark:

My version is 4393c86 (after 4.0.10.1).
I have set `ulimit -n 4096` but still got this exception.

My command:
`./gatk BaseRecalibratorSpark --tmp-dir /dev/shm/gatktmp/ -I /home/data/WGS/F002/F002.sort.bam -O 1.grp --known-sites /home/data/ref/dbsnp_138.hg19.vcf --known-sites /home/data/ref/1000G_phase1.indels.hg19.sites.vcf --known-sites /home/data/

[2018-10-17 14:47] droazen commented on #5314
@ldgauthier Your thoughts on this request?

[2018-10-17 16:07] ldgauthier commented on #5314
This isn't high priority for us right now, but I would be happy to review a PR if you wanted to take a stab at a solution @nh13 .  None of our formal pipelines use the PID or PGT tags (unless Funcotator does something @jonn-smith ?) so a switch to PS wouldn't be a breaking change for us.

[2018-10-17 16:16] nh13 commented on #5314
@ldgauthier thank-you, I'll see how difficult it is.

[2018-10-17 16:31] lbergelson commented on #5316
Strange.  I suspect there must be some place where we're opening a reader repeatedly and not closing it.

If you increase ulimit to be even higher does that allow it to run?

[2018-10-17 16:40] lbergelson commented on #5315
@esamorodnitsky Thank you for reporting this issue.  I edited your report a little bit to be easier to read.  I hope you don't mind.

[2018-10-17 16:42] esamorodnitsky commented on #5315
@lbergelson Thanks for examining my issue. I don't mind you revising it.

[2018-10-17 16:44] jonn-smith commented on #5314
Those tags should be transparent to Funcotator.

[2018-10-17 16:46] lbergelson commented on #5315
@esamorodnitsky It looks like the behavior is a problem with the argument parser.  You're mixing the old style picard syntax of `C="Bad:Comment" with the newer posix style `-C "Bad:Comment"` which seems to be causing the problem.

If you remove the `=` sign in your command it should fix the issue.

[2018-10-17 16:46] lbergelson commented on #5315
@cmnbroad Is there a ticket for this weird parsing issue somewhere?

[2018-10-17 16:49] esamorodnitsky commented on #5315
@lbergelson I've been using the equals sign with other GATK tools and they weren't complaining. Should I not be using the equals sign for any of the GATK flags?

[2018-10-17 16:56] lbergelson commented on #5315
It usually works but it's not really supported and as you've discovered there's a bug with colons (and possibly other bugs, it's not tested that way).  The gatk accepts special modifiers to some arguments that are separated with colons and something about the parsing gets messed up when you have the equals sign in there as well.  The recommendation is to not use them at all.  Picard is going to mi

[2018-10-17 17:00] lbergelson commented on #5299
@marchoeppner I feel you're pain.  It's really annoying and causes all sorts of irritation to have different schemes for labelling the index.  I think unfortunately we may be stuck with the world where we have to expect both index schemes for bam.  I believe we've clamped down for cram and future formats and only excepting the `.cram.crai`  version.

(cram.bai is a different species of horrible th

[2018-10-17 19:45] jonn-smith commented on #5187
@LeeTL1220 what should we do in the case that a variant occurs in a transcript that has no exons?

[2018-10-17 19:45] droazen opened #5319 "Unify BucketUtils.deleteRecursively()/deleteOnExit() with IOUtils.deleteRecursivelyOnExit()"
The BucketUtils version is more general (supports Paths), so we should probably standardize on that.

[2018-10-17 19:45] droazen commented on #5319
@lbergelson If you're interested...

[2018-10-17 20:34] LeeTL1220 commented on #5187
@jonn-smith Does that happen in reality?  That sounds like it would be a bug in the transcript data.  If you detect that the transcript has no exons "NA"?

[2018-10-17 20:43] jonn-smith commented on #5187
@LeeTL1220 I don't think it should ever happen, but I want to be prepared.  The code has a path for that case so I want to make sure it's accounted for.

`"NA"` is fine.

[2018-10-17 21:16] cmnbroad commented on #5315
Well, this is the second case we've had where someone used hybrid syntax AND used a colon in the value (https://github.com/broadinstitute/gatk/issues/5189). The problem is that jopt accepts "=" with "-" as valid, so it works whenever there is no embedded ":". But when there is, the tag parser sees "C=Bad: comment" as the option name, and complains that there is no associated value for that option

[2018-10-17 22:55] fpbarthel commented on #4887
I am very interested in this feature. In my current workflow I am using `freebayes` (and in an older version simply `pileup`) to query mutation sites on a cohort level and would be very interested in a GATK naive approach.

[2018-10-18 01:30] stormalex commented on #5316
It works when i set ulimit to 1048576.
Thanks for your help.

[2018-10-18 10:49] Atahualkpa opened #5323 "Haplotype Caller Spark and non Spark"
Hi,
in the last months for my Master thesis project I've studied your tool, with this pipeline:

![ngs_pipeline_gatk](https://user-images.githubusercontent.com/10074137/47147968-ae5a0b00-d2cf-11e8-9fd6-15cd23fbcdcf.png)
in spark version, yes, I know is still in beta but I’ve found these problems when I compared the outputs from Haplotypecaller in spark and in not Spark versions. For comparing thes

[2018-10-18 13:21] ldgauthier commented on #4887
Since we're using Mutect2 for our mitochondrial variant calling pipeline that's in development, and we want to joint call mitochondria, I'm working on "somatic joint calling".  It won't have a joint likelihood model (yet?) the way that germline SNP and indel joint calling does, but it will be able to give you a "squared-off" matrix of calls for each sample at each site that's variant in any sample

[2018-10-18 17:41] davidbenjamin opened #5325 "GATKProtectedVariantContextUtils.chooseAlleleForRead mishandles read ends"
Reads that match the reference allele but end inside the `VariantContext` are sometimes counted as alt.

[2018-10-18 19:27] bhanugandham opened #5330 "Feature request: --nonDeterministicRandomSeed/--setRandomSeed in GATK Engine"
Feature request from a user
---
Is there a equivalent command in gatk version 4 for --nonDeterministicRandomSeed in gatk SelectVariants?
thank you!

This Issue was generated from your [forums]
[forums]: https://gatkforums.broadinstitute.org/gatk/discussion/13201/gatk-version-4/p1

[2018-10-18 19:28] bhanugandham commented on #5330
tagging @droazen and @ldgauthier to prioritize and delegate.

Please let me know if you want me to do this differently. Thanks

[2018-10-18 19:51] lbergelson commented on #5316
👍 It seems like there's some resource leak happening here though, you shouldn't have to set it so high.

[2018-10-18 19:55] jonn-smith commented on #4863
I actually will implement special case testing for each different genus that is listed on the wiki page for now.

[2018-10-18 21:00] droazen commented on #5330
@bhanugandham As discussed in person, for requests like this we need information on why the user wants the feature, what are the use cases that make it important and worth our time to implement, etc. -- otherwise we have no basis for prioritizing this issue, and it will just get added to the big pile of tickets and likely be forgotten.

[2018-10-18 21:02] bhanugandham commented on #17
I have asked the users who requested porting CombineVariants for specific features that do not exist in MergeVcfs and are useful to them.
I will post results from that here, that should help make a decision.

[2018-10-18 21:08] sooheelee commented on #2689
Any update? We have more users asking about the meaning of the WARN.
https://gatkforums.broadinstitute.org/gatk/discussion/13306/genotypegvcfs-warning-message/p1?new=1

[2018-10-18 22:30] jullee commented on #5310
I'm excited to see the best practices WDL...is there a rough draft?

[2018-10-19 13:11] meganshand commented on #5310
@jullee I should have a rough draft by next week. I'll provide a link here when I have it working. Thanks for your interest!

[2018-10-19 15:45] #5235 closed

[2018-10-19 18:30] jonn-smith opened #5333 "Funcotator does not account for all UTRs when checking for de novo starts' inframeness"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_, _GencodeFuncotationFactory::createUtrFuncotation_

### Affected version(s)
- [x] Latest public release version
- [x] Latest master branch as of [20181019]

### Description
When determining whether a variant in a 5' UTR is a `DE_NOVO_START_IN_FRAME` or `DE_NOVO_START_OUT_FRAME`, Funcotator only checks whether the new start codon is in f

[2018-10-22 05:10] gmagoon opened #5336 "HaplotypeCaller GGA mode crashes with certain spanning deletions"
Using GENOTYPE_GIVEN_ALLELES ("GGA") mode with HaplotypeCaller, I've encountered a couple instances of crashes that I've traced to spanning deletions (of the type considered in #4963).
One case involved the following in the `--alleles` input:
[code]
and it crashed with:
[code]
A second case involved `--alleles` input:
[code]
and crashed similarly, with:
[code]

Based on the discussion around #4963

[2018-10-22 05:30] gmagoon opened #5337 "HaplotypeCaller GGA mode crashes with certain spanning deletions"
Using HaplotypeCaller with `GENOTYPE_GIVEN_ALLELES` ("GGA") mode, I came across a couple of cases that crashed, and I traced them to spanning deletions (of the type considered in #4963).

The first case involved the following spanning deletion in the `--alleles` input:
[code]
and it crashed with:
[code]
The second case included the following `--alleles` input:
[code]
and it crashed similarly, with

[2018-10-22 12:32] cmnbroad opened #5338 "SAMReaderFactory interface/implementation"
Include codec registry, versioning/upgrade chain framework.

[2018-10-22 13:29] #2992 closed

[2018-10-22 13:29] #4558 closed

[2018-10-22 13:32] tomwhite commented on #4296
Since #5127 HaplotypeCallerSpark only accepts coordinate-sorted reads. Closing this one.

[2018-10-22 13:32] #4296 closed

[2018-10-22 13:33] tomwhite commented on #2312
@lbergelson can we close this now?

[2018-10-22 13:38] tomwhite commented on #5316
When we switch to Disq for reading BAM and VCF this should go away since we have tested that all streams are closed properly for that library. See #5138.

[2018-10-22 14:38] lbergelson commented on #2312
@tomwhite I think your solution is better for what we're doing, so closing this seems fine.  If we ever have to interact with code that's creating paths outside of our control we might have to revisit this.

[2018-10-22 14:38] #2312 closed

[2018-10-22 14:43] ldgauthier commented on #5336
@gmagoon I agree that it does look a lot like an off-by-one error.  The genotype validator is complaining about seeing a reference allele that just happens to be the same as the previous VC.

@cwhelan can you take a look when you get a chance?

[2018-10-22 14:53] gmagoon commented on #5337
sorry, this is duplicate of #5336
I posted twice due to confusion related to [recent github issues](https://status.github.com/messages)

[2018-10-22 14:53] #5337 closed

[2018-10-22 15:14] droazen commented on #5200
This is done!

[2018-10-22 15:14] #5200 closed

[2018-10-22 15:18] cwhelan commented on #5336
I've been taking a look this morning but am so far unable to reproduce the problem. I tried adding lines to the integration test file to mimic having a SNP at the last base of a spanning deletion as in the bug report:

[code]

But I'm not hitting this error.

@gmagoon any chance you could provide any more information that would help us reproduce this? The exact command line you're using might help

[2018-10-22 15:27] lbergelson opened #5339 "Fix tests that are currently being ignored by accident"
It looks like we're ignoring some tests by accident, probably due to bugs in their dataproviders.  We should fix that.

See: https://storage.googleapis.com/hellbender-test-logs/build_reports/master_22886.3/tests/test/index.html

[2018-10-22 15:45] lbergelson commented on #5338
[Utils] [ERROR] [Error] java.lang.IllegalArgumentException: Invalid interval. Contig:1 start:350001 end:300000
	at org.broadinstitute.hellbender.utils.Utils.validateArg(Utils.java:730)
	at org.broadinstitute.hellbender.utils.SimpleInterval.validatePositions(SimpleInterval.java:61)
	at org.broadinstitute.hellbender.utils.SimpleInterval.&lt;init&gt;(SimpleInterval.java:37)
	at org.broadinstitute.hel

[2018-10-22 15:46] lbergelson commented on #5339
One of the issues:

[Utils] [ERROR] [Error] java.lang.IllegalArgumentException: Invalid interval. Contig:1 start:350001 end:300000
	at org.broadinstitute.hellbender.utils.Utils.validateArg(Utils.java:730)
	at org.broadinstitute.hellbender.utils.SimpleInterval.validatePositions(SimpleInterval.java:61)
	at org.broadinstitute.hellbender.utils.SimpleInterval.&lt;init&gt;(SimpleInterval.java:37)
	at or

[2018-10-22 16:03] droazen opened #5340 "Add NIO test that accesses public GCS data while not being authenticated"
We need a test for this case, as https://github.com/disq-bio/disq/issues/47 suggests it might not be working

[2018-10-22 16:15] gmagoon commented on #5336
Good question @cwhelan
I tried with the following minimal alleles input, and it worked without error:
[code]
On the other hand, I confirmed that the case with the original, full `--alleles` input still crashes on the latest GATK, version 4.0.10.1.

I don't think there is anything particularly special about the command line I'm using, except maybe the `-L 22`:
`$HOME/gatk-4.0.10.1/gatk --java-optio

[2018-10-22 16:38] gmagoon commented on #5336
OK, I think I've narrowed down the problem. Curiously, it seems to be related to the inclusion of genotypes in the `--alleles` input. My original alleles input included a number of phased genotypes from 1000 Genomes Project. When I cut down the `--alleles` VCF input to just those two sites while retaining the genotypes (as follows) the crash is reproduced:
[code]

[2018-10-22 16:52] cwhelan commented on #5336
Good catch @gmagoon . As part of this fix we have code that replaced deletion alleles with star alleles in overlapping variants before genotyping; evidently if the input variants have preexisting genotypes the original alleles are still attached to the variants and are making it downstream through that filter. I'll try to get a fix in for this shortly. Thanks for your help in narrowing down the ca

[2018-10-22 17:32] bhanugandham opened #5342 "GATK v4.0.8.1 GenomicsDBImport Error (VariantStorageManagerException exception); File syncing error"
Command:
`java -Djava.io.tmpdir=/work/TMP \
-Xmx40g -jar ~/bin/gatk-4.0.8.1/gatk-package-4.0.8.1-local.jar \
GenomicsDBImport \
-V /work/Analysis/III_3P_RG_DupMark.raw.snps.indels.g.vcf \
-V /work/Analysis/IV_11N_RG_DupMark.raw.snps.indels.g.vcf \
-V /work/Analysis/IV_8N_RG_DupMark.raw.snps.indels.g.vcf \
-V /work/Analysis/IV_10P_RG_DupMark.raw.snps.indels.g.vcf \
-V /work/Analysis/IV_20P_RG_DupMa

[2018-10-22 17:34] bhanugandham commented on #5342
The user was running GenomicsDBImport on **NFS** when he encountered this issue.

[2018-10-22 18:49] jonn-smith opened #5343 "CANONICAL ordering should take into account 5' Flank"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _TranscriptSelectionMode::CanonicalGencodeFuncotationComparator

### Description
When comparing transcripts by `CanonicalGencodeFuncotationComparator`, the 5' Flank status of each should be compared very high in the comparison chain to avoid `MISSENSE` being trumped by `5_PRIME_FLANK` on another transcript.

This comparison can be

[2018-10-22 19:51] gmagoon commented on #5336
Great, thanks very much @cwhelan...that was fast!

[2018-10-22 21:03] munrosa commented on #3697
This is an update of where I am at with this issue. It turns out that using --forceActive and --dontTrimActiveRegions only worked for picking up some of the het SNP calls with HaplotypeCaller. A fun side effect was that some calls that were made with the 'vanilla' best practices HC options were now being missed with the forceActive/dontTrim options. So our clinical team decided to use samtools/bcf

[2018-10-23 12:38] ldgauthier commented on #3697
@davidbenjamin did you ever get data to reproduce this issue?

[2018-10-23 15:15] #5336 closed

[2018-10-23 15:36] jonn-smith opened #5345 "Need a tool to compare references"
## Feature request

### Tool(s) or class(es) involved
_ReferenceComparer_

### Description
We need a tool that will, given two reference sequences and dictionaries, create a comparison table between them.

A shell script already exists that does this (`compareTwoReferenceDictionaries.sh`), but it could be more complete.

Specifically, in addition to doing the comparison of the dictionaries, when s

[2018-10-23 15:39] jonn-smith opened #5346 "Refactor Funcotator scripts to take arguments, not internal configurations"
## Feature request

### Tool(s) or class(es) involved
_Funcotator scripts_

### Description
The scripts for Funcotator (`src/scripts/funcotator`) should all be refactored, if necessary, to allow for command-line arguments rather than internal configurations.

[2018-10-23 16:36] jonn-smith opened #5347 "Funcotator needs to have separate data sources for each supported reference."
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description
Currently Funcotator fuzzy-matches between `b37` and `hg19` to enable reuse of data sources compatible with `hg19`.

This was a mistake.

We need to refactor the data sources to have a separate set for `b37` and `hg19` and remove the fuzzy matching.

Bugs and confusion surrounding this fuzzy matching continue to bi

[2018-10-23 18:06] jonn-smith opened #5348 "Ensure Funcotator can support NIO for data sources (including for multi-file data sources)"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _DataSourceFuncotationFactory_

### Description
Funcotator should support NIO for data sources and data sources backing files.
In addition, the data source readers should be updated to support multiple backing files to support the `gnomAD` case (http://gnomad.broadinstitute.org/downloads).

[2018-10-23 18:35] jonn-smith commented on #5259
One potential plan:

- filter out any variants that do not `PASS`
- convert to TSV
- only keep the `AF/AF_*` fields
- use Exome data

[2018-10-23 20:15] jonn-smith opened #5349 "Factor out leading base from VCFs when dealing with variants in Funcotator"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_

### Description
Maybe in a future branch it would be a good idea to pull out the leading indel base into a separate field up-front, so that you don't have to continually do this sort of adjustment.

See `GencodeFuncotationFactory::createUtrFuncotation` and other places in `GencodeFuncotationFactory`.

Specifically anywhere where t

[2018-10-23 20:28] jonn-smith opened #5350 "Remove unnecessary data sources from tests."
## Feature request

### Tool(s) or class(es) involved
_Funcotator tests_

### Description
Now that the test data sources have been refactored, we need to go through and remove any extraneous data sources that are no longer necessary.

[2018-10-23 20:49] jonn-smith opened #5351 "Improve unit testing for getAlignedRefAllele"
## Feature request

### Tool(s) or class(es) involved
_FuncotatorUtilsUnitTest::provideDataForTestGetAlignedRefAllele_

### Description
Need to add test cases for the following:
- tests with Strand.NEGATIVE!!!!
- tests with alt allele longer/shorter than ref allele!

[2018-10-24 13:15] meganshand opened #5352 "Unused arguments in documentation for Mutect2"
## Documentation request

### Tool(s) or class(es) involved
Mutect2 and FilterMutectCalls

### Description
Because both `M2ArgumentCollection` and `M2FiltersArgumentCollection` extend `AssemblyBasedCallerArgumentCollection`, both `Mutect2` and `FilterMutectCalls` display all assembly and caller arguments in the documentation/help even if those arguments don't actually do anything. For example both

[2018-10-24 13:16] sarahcalvo commented on #4867
I would like to put in a plug to prioritize this issue -- so that I can use Mutect2 for calling variants in RNA-seq!  Looking for somatic (eg tissue-specific) variants in RNA data is an area of huge growing interest (as there's a ton of existing RNA-seq data), and Mutect2 would be perfect for this application now that we've shown how awesome it is for calling low variant-allele-fraction variants i

[2018-10-24 15:37] droazen commented on #5352
If only `HaplotypeCaller` uses `--contamination-fraction-to-filter`/`--contamination-fraction-per-sample-file`, then perhaps those arguments should be moved down into `HaplotypeCallerArgumentCollection`?

[2018-10-24 17:06] lbergelson opened #5353 "build_docker script should fail early if gcloud isn't authenticated"
Currently build_docker will run for a long time and then fail at the end if you are not authenticated to gcloud.  We should have an upfront test for it.

[2018-10-24 17:55] jonn-smith opened #5354 "Hook up StrandCorrectedAllele to all places in Funcotator where it is appropriate."
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _StrandCorrectedAllele_

### Description
Alleles are not specified as being corrected for strandedness.  A new type was introduced to fix this ambiguity - `StrandCorrectedAllele`.

This type, however, has not been used by anything in the codebase yet.

This must be connected to all places where alleles have been corrected for stra

[2018-10-24 18:16] jonn-smith commented on #4863
Must rebase on master after merging #5302

[2018-10-24 18:17] jonn-smith commented on #5333
Must rebase on master after merging #5302

[2018-10-24 18:28] jonn-smith commented on #5333
This may not actually be an issue.

It looks like funcotator is already doing the right thing.

[2018-10-24 18:29] gmagoon opened #5355 "HaplotypeCaller GGA mode crashes ("allele ... not in the variant context" exception) for alleles input including certain split multiallelic records and genotypes"
I came across a case where `--alleles` input containing a set of records involving a multiallelic STR locus split into two records and genotypes causes HaplotypeCaller (in `GENOTYPE_GIVEN_ALLELES` or "GGA" mode) to crash.

The `--alleles` input (originating from 1000 Genomes Phase 3 v5a call set) has the multiallelic STR split into a record associated with insertions and a record with a deletion,

[2018-10-24 19:12] #4344 closed

[2018-10-24 19:12] #5295 closed

[2018-10-24 21:11] jonn-smith opened #5356 "GencodeFuncotationFactoryUnitTest::testCreateFuncotations needs to be fixed for b37/hg19 compliance"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _GencodeFuncotationFactoryUnitTest::testCreateFuncotations_

### Description
The tests all assume `chr` is in contig names right now.  This is wrong for the universal b37 reference that was put into the test baseline.

However, our datasources are all hg19, so there is an evil mismatch.

The horror of b37 vs hg19 raises it's ugly

[2018-10-25 00:36] #5333 closed

[2018-10-25 01:46] #5187 closed

[2018-10-25 05:04] acesnik commented on #1385
Is there any plan to have CombineGVCFs handle MNPs? It seems like one could back out the per-base phasing from MNP annotations and then combine the GVCFs.

[2018-10-25 14:14] meganshand commented on #5310
The changes to Mutect are included in the 4.0.11.0 release.  A rough draft of the WDL is here: https://portal.firecloud.org/#methods/mt/MitochondrialCalling/8

When this is a complete pipeline (beyond the draft stage) there will be more information on the GATK forum.

[2018-10-25 14:14] #5310 closed

[2018-10-25 15:52] cwhelan commented on #5355
Hi @gmagoon, I'm taking a look at this but haven't been able to reproduce it so far. Is there any chance you could share a snippet of your `test.bam` file at one of the loci in question, or is it protected data?

[2018-10-25 16:43] gmagoon commented on #5355
Hi @cwhelan, In my testing, the issue doesn't seem to be sensitive to the choice of BAM (e.g. same crash occurs with a BAM that doesn't have any read coverage at this locus). If you haven't been able to reproduce the issue, I'm wondering if the critical factor may be some aspect of the particular genotypes in the `--alleles` VCF (e.g. I noticed one sample was `0|1` in one of the two records and `1

[2018-10-25 19:02] fpbarthel opened #5360 "combine_tracks WDL python loading column as float64 when expecting string"
I'm getting a type error here because L278 expects a string for `POSSIBLE_GERMLINE` but `pandas.read_csv` returns a `float64` for this column.
https://github.com/broadinstitute/gatk/blob/d4db277dfa1a9c13188644fd28616249061f8704/scripts/unsupported/combine_tracks_postprocessing_cnv/combine_tracks.wdl#L277-L278

[2018-10-25 20:51] jrobinso commented on #3286
Hey all,  I'm still interested in supporting this.   We don't really have a "plugin API",  I am in fact the API, but if you give me something usable I'll plug it in.   As this is marked "QuixoticDream" I don't think that's likely.   I'm closing the corresponding IGV issue,  too many open issues, but it doesn't mean I've lost interest.

[2018-10-25 20:59] lbergelson commented on #3286
I would still love to do this.  I haven't had a chance to work on it though.

[2018-10-25 22:55] sooheelee opened #5362 "VariantFiltration not filtering correctly"
We need to help users help themselves either with better checks in tools or with better documentation to avoid the discrepancies observed in this thread, whose answer is recapitulated below.

---
Hi @obigriffith,

I am using GATK v4.0.11.0 and I also see what you are seeing. I've been taking an Android App development course since January (in my free time of course), and I've learned that with mul

[2018-10-25 22:58] sooheelee commented on #5362
Assigning to @droazen to consider and delegate. Tagging @ldgauthier in case she is interested.

Tool should throw an exception if the filtering expression cannot be parsed unambiguously instead of running the half-baked expression without any warning.

[2018-10-25 23:01] sooheelee commented on #5362
To be clear, when I learned to use VariantFiltration 1.5 years ago, I was told to use the `&&` and `||` expressions and _no other formatting_. This may have been alright in GATK3 (I did not check), but it seems in GATK4 it is not.

[2018-10-25 23:02] sooheelee commented on #5362
Also assigning myself in case what we want is updated documentation only.

[2018-10-26 03:19] jonn-smith opened #5363 "Funcotator Need to review MT protein coding for special cases"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _FuncotatorUtils_

### Description
Need to solicit more info on partly coded stop codons as alluded to here: https://www.sciencedirect.com/science/article/pii/S0005272898001613

[2018-10-26 03:34] jonn-smith opened #5364 "Funcotator - determine if a contig is the mitochondrial contig by reference"
## Feature request

### Tool(s) or class(es) involved
_GencodeFuncotationFactory_

### Description
Currently the mitochondrial contig is determined using a simple string comparison by contig name.
This determination is then used to decode the mitochondrial protein sequence (which gets decoded differently than the normal gene sequences).

Make this more robust by detecting the mito contig based on

[2018-10-26 15:09] shengqh commented on #4782
I downloaded the most recently gatk docker file yesterday and I met this problem today. I am wondering if you have solved this request? Thank you so much.

/gatk/gatk-package-4.0.11.0-local.jar
singularity 2.5.0-dist

[2018-10-26 15:37] cwhelan commented on #5355
Thanks @gmagoon , that helped me figure out the cause of the problem (the samples not only needed to have genotypes but to have the right combination of alleles in their genotypes). The root cause of this issue was similar to https://github.com/broadinstitute/gatk/issues/5336 but cropped up at a different place. I'll prepare a pull request and get this fixed shortly.

[2018-10-26 16:28] gmagoon commented on #5355
Awesome, that's great @cwhelan . Out of curiosity, is there a particular reason that HaplotypeCaller GGA is considering the genotypes in the `--alleles` input? In other words, aside from this issue, would we expect to see different results with genotypes included vs. not included?

[2018-10-26 16:34] cwhelan commented on #5355
Short answer: No, it's not using any information from the genotypes at all. You should get the same results with or without genotypes.

Long technical answer: Both of these issues are related to the fact that when combining multiple possible variants at a site (i.e. variants with different alleles from the GGA `-alleles` input as well as any alleles detected in the input sample data), we often nee

[2018-10-26 16:41] gmagoon commented on #5355
I see, that makes sense...thanks very much @cwhelan

[2018-10-26 16:44] jonn-smith opened #5366 "Funcotator - alleles overruning transcripts produce no annotations."
## Bug Report

### Affected tool(s) or class(es)
_GencodeFuncotationFactory_

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
When a trouble transcript comes up for an allele pairl, `GencodeFuncotationFactory::createFuncotationsHelper` does not create a default annotation for the allele pair.  This will cause

[2018-10-26 16:58] #4863 closed

[2018-10-26 17:07] shengqh commented on #4782
@sooheelee

Here is my command:

[code]
Here is test.pbs:

[code]

Here is the error message and I think the python environment has been activated by Singularity. The task failed when it tried to create directory of '/root/.theano'.

[code]

[2018-10-26 17:36] jonn-smith commented on #4307
`GencodeFuncotationFactory::getContainingGtfSubfeature` contains a "fix" to get around this issue.

[2018-10-26 17:41] jonn-smith commented on #3749
This is related to #4307

[2018-10-26 17:42] jonn-smith commented on #4307
This is related to #3749

[2018-10-26 17:53] sooheelee commented on #4782
You can tell if the python environment is active because your bash prompt will be prefaced with `(gatk)` as you see here from my testing:
![screenshot 2018-10-26 13 52 19](https://user-images.githubusercontent.com/11543866/47583765-64ec6a00-d926-11e8-8f55-c60d1d5ffd3e.png)

[2018-10-26 19:33] droazen commented on #5160
@ldgauthier @cwhelan We might want to prioritize a fix for this bug, as we're currently producing callsets that suffer from this issue...

[2018-10-26 19:35] droazen commented on #5160
Tagging also @yfarjoun, who I was just discussing this issue with.

[2018-10-26 21:31] jmstover commented on #4782
@shengqh
Looking at it, it seems that `test.pbs` is basically a shell script. So at the top of that add:

[code]

Or... whatever it is you need to do to activate the environment.

[2018-10-26 21:39] shengqh commented on #4782
@jmstover Thank you for your recommendation. I added the following line in the beginning of test.pbs

[code]

However, running the following command still threw the same error.
[code]

[2018-10-26 22:12] jmstover commented on #4782
Are you building this from the docker `broadinstiture/gatk` image?

If so, I've found an error in it (@sooheelee )... the Docker Manifest has set:
[code]
... That's going to make some things not work if you're using it as a non-root user. If you are using that, try building from a Singularity definition file that looks like:

[code]
I'm still testing this since I don't know the gatk software at al

[2018-10-26 22:36] shengqh commented on #4782
@jmstover Yes, I pulled from broadinstiture/gatk.
[code]
I don't have root permission to build Singularity  image from definition file now. I may need to install a virtual machine first to test it. However, just like the activation of environment, I added the  export command in my test.pbs and it worked. :-)

[code]

[2018-10-26 22:43] jmstover commented on #4782
Good to hear. :+1:

[2018-10-27 11:41] magicDGS commented on #5267
Tracked by in htsjdk3 in https://github.com/samtools/htsjdk-next-beta/issues/1

[2018-10-27 11:43] magicDGS commented on #5266
Tracked by in htsjdk3 in https://github.com/samtools/htsjdk-next-beta/issues/29

[2018-10-27 11:52] magicDGS commented on #2601
I think that it will be much better to do it at the codec level for any kind of record. Tracked in htsjdk3 in https://github.com/samtools/htsjdk-next-beta/issues/30

[2018-10-27 11:54] magicDGS commented on #5269
Open https://github.com/samtools/htsjdk-next-beta/issues/31 to track in htsjdk3 project

[2018-10-27 12:02] magicDGS commented on #5338
I believe that it will be more useful to have a common reader-factory not only for SAM/BAM/CRAM but for any kind of record. I open in the htsjdk3 project https://github.com/samtools/htsjdk-next-beta/issues/32 to track this.

[2018-10-29 01:14] nalinigans commented on #5342
I have added extra checking and some debug code in the branch nalini_issue_5342 -https://github.com/broadinstitute/gatk/tree/nalini_issue_5342. @bhanugandham, would it be possible to run gatk from this branch to get more information?

Also, would it be possible to get information on what mount and other nfs options were used while mounting the drive?

If we are not able to pinpoint the issue, we c

[2018-10-29 07:43] SaintBacchus commented on #5323
Hi, I also meet this issue.

The  Specificity in `HaplotypeCallerSpark` was a bitter less than local mode in my test.

Do you known which configuration can improve the Specificity in `HaplotypeCallerSpark` ? @Atahualkpa

[2018-10-29 15:29] jonn-smith opened #5368 "Funcotator annotating already-funcotated VCF causes header troubles"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
When annotating a VCF, if the VCF already contains funcotations Funcotator will add a new funcotator line to the header.

This will cause the parser to fail because it will not be able to get the corr

[2018-10-29 16:09] sooheelee commented on #5362
Assigning @cmnbroad per his request.

[2018-10-29 17:18] sooheelee commented on #4782
Yes, glad you found a workaround. 👍🏽

[2018-10-29 17:49] droazen commented on #4290
@davidbenjamin Have you had a chance to think about this one yet? Do you think it will be possible to refactor so that doubles are not used as keys? @frank-y-liu was asking about this today.

[2018-10-29 18:00] MartonKN opened #5369 "build_docker.sh fails due to folders that have not been cleared up"
build_docker.sh creates unzippedJar and testsJar, but it does not remove them and it fails as a result in subsequent runs.

I ran ./build_socker.sh -e <GIT LOG HASH> and I got the error message
mv: rename ./build/bundle-files-collected to ./unzippedJar/bundle-files-collected: Directory not empty

Only after removing unzippedJar and testJar could I build the image again successfully.

[2018-10-29 18:01] droazen commented on #5323
@Atahualkpa Thanks for taking the time to share your results with us! We are indeed aware that `HaplotypeCallerSpark` produces output that is less sensitive and accurate than the output of the regular `HaplotypeCaller` -- this is why we've kept it marked as beta. We plan to work on `HaplotypeCallerSpark` soon to make it match the regular `HaplotypeCaller` more closely. You can track this effort he

[2018-10-29 18:34] ldgauthier commented on #5369
Does it work if you supply a staging directory as described in the readme: https://github.com/broadinstitute/gatk/blob/master/scripts/docker/README.md
`sudo bash build_docker.sh -e ${GITHUB_TAG} -d ${STAGING_DIR}`

[2018-10-29 18:35] #5355 closed

[2018-10-29 19:05] #1493 closed

[2018-10-29 19:06] davidbenjamin commented on #1493
Closed based on profiling with and without linked lists.

[2018-10-29 19:07] droazen commented on #5369
@MartonKN What Laura said -- you should always be running this script with a clean staging directory.

[2018-10-29 19:08] davidbenjamin commented on #5325
#5359 addresses the issue better.

[2018-10-29 19:08] #5325 closed

[2018-10-29 19:19] lucidtronix commented on #5369
That is good to know! Closing this because it was my bad instructions that led to the issue.

[2018-10-29 19:19] #5369 closed

[2018-10-29 19:35] cmnbroad commented on #4782
Although there is a workaround, ideally we'd remove the assumption from our docker that it can access the root user's home dir.

[2018-10-29 20:00] droazen opened #5370 "Funcotator does not always annotate multiallelic VCF records with both an insertion and deletion correctly"
With multiallelic VCF records such as Ref = ATA, Alt = A,ATAAT we don't always annotate correctly. In particular, we often use the length of the reference allele to compute overlaps. If the insertion were by itself, the ref allele length would be 1, but in multiallelic records with a deletion it can be > 1. This can lead to "false positive" overlaps.

[2018-10-29 20:01] davidbenjamin commented on #4290
I just pushed a branch that might fix this.

[2018-10-29 20:08] droazen commented on #5370
@jonn-smith @LeeTL1220 This is the issue we discussed in person just now.

[2018-10-30 02:30] sekang2 opened #5372 "HaplotypeCaller Error Message"
Hi,

I am using GATK version 4.0.3.0 using a shell script.  I am working with a haploid organism. I created a single sample BAM file by first aligning PE reads using HISAT2; samtools sort .SAM to .BAM files; then marked duplicate reads using picard.

I keep getting the error message:

A USER ERROR has occurred: Argument --emitRefConfidence has a bad value: Can only be used in single sample mode cu

[2018-10-30 03:10] sekang2 commented on #5372
I closed this thread because I thought I figured it out, but I haven't.

I'm looking at the sample1.md.bam header and this is what I see:

[code]

[2018-10-30 03:12] sekang2 commented on #5372
I thought I figured this out but I haven't. I'm looking at sample1.md.bam file header, but I can't figure it out.

[code]

[2018-10-30 04:38] #5372 closed

[2018-10-30 04:39] shengqh opened #5373 "How to combine gCNV result?"
## Feature request

I used gatk4 docker file to perform the germline CNV cohort analysis. I got the individual vcf file for each sample. But I cannot find the tool to combine the CNV, just like combining gvcf in SNV analysis. Is there any such tool that I missed? And, is there any visualization scripts I can use? Thank you so much.

[2018-10-30 12:10] samuelklee commented on #5373
Hi @shengqh, tools such as you describe are still under development.  We are also still working to tune hyperparameters in the main gCNV pipeline, so thanks for trying it out!  Please let us know if you encounter any issues.

[2018-10-30 17:58] #4587 closed

[2018-10-30 19:37] jonn-smith commented on #4307
For the following variants:

VEP seems to produce incorrect data:
'''
##fileformat=VCFv4.1
##VEP="v94" time="2018-10-30 19:13:50" cache="/nfs/public/release/ensweb-data/latest/tools/grch37/e94/vep/cache/homo_sapiens/94_GRCh37" db="homo_sapiens_core_94_37@hh-mysql-ens-grch37-web" 1000genomes="phase3" COSMIC="81" ClinVar="201706" ESP="20141103" HGMD-PUBLIC="20164" assembly="GRCh37.p13" dbSNP="150" g

[2018-10-30 19:56] jonn-smith opened #5375 "Transcript position is not quite correct"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_, _GencodeFuncotationFactory_

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
The transcript position in Funcotator is always being populated as a single integer value.  While this is correct for SNPs, it should be populated as a range - `<START_POS

[2018-10-30 20:13] jonn-smith commented on #5348
Must update `DataSourceUtils::assertPathFilePropertiesField` to allow for absolute paths / URI paths for the data sources supporting files.

[2018-10-30 20:15] jonn-smith commented on #5348
Must update `DataSourceType::assertConfigFilePropertiesAreValid` for each data type as well.

[2018-10-30 20:20] jonn-smith commented on #5348
Must check individual creation paths in `DataSourceUtils::createDataSourceFuncotationFactoriesForDataSources`

[2018-10-30 20:33] vruano opened #5376 "GermlineCNVCaller: Odd behavior of the log dumped ELBO values vs the real tracked ELBO values in tracker-tar"
The ELBO values reported in the log file are smoothed across sliding window average of the actual ELBO value. If one is too look at these smoothed values rather than the tracked tar file one, one would get a distort impression of how the ELBO converges.

The consistent underestimation of the log smoothed ELBO suggest a bug as to how it is calculated.

The example below is kind of mild ... I have s

[2018-10-30 20:37] vruano commented on #5376
To give a big more inside about the kinks observed in the plot... 1000 marks the end of the Epoch (that explains the king in the raw ELBO black line) and the running average window size is 500 so that probably explains the change in progression regime in the blue line at 500, 1000 and 1500.

[2018-10-31 01:18] JiguangPeng commented on #4125
@sooheelee ,I met the same problem, but not in the docker. have you fixed this?

[2018-10-31 12:45] cmnbroad commented on #4125
@JiguangPeng You shouldn't need to run this in the Docker, but if you don't, you need to manually activate the GATK conda environment as described earlier in this thread. Based on your command prompt, it looks like you may not have done that (the command prompt usually reflects the current conda environment). Directions for how to do it are [here](https://github.com/broadinstitute/gatk#python).

[2018-10-31 15:22] droazen commented on #4307
Note that this ticket also applies to variants that span between the UTR and flanking regions.

[2018-10-31 15:24] droazen opened #5379 "Move Funcotator integration test expected outputs out of large"
(So that the differences can be inspected during code review)

[2018-10-31 15:38] davidbenjamin commented on #4614
I have a branch that fixes the `AS_QD` for both of those sites.  @ldgauthier It *did* turn out to be numerical stability in log space.  @skwalker Could you re-run with `/dsde/working/davidben/new-qual-october-2018/new-qual-10-30-2018.jar`?

[2018-10-31 16:44] ldgauthier commented on #4614
Good news.  (Probably?)  How do we know there aren't any other numerical
instability issues lurking?

On Wed, Oct 31, 2018 at 11:46 AM David Benjamin <notifications@github.com>
wrote:

--
Laura Doyle Gauthier, Ph.D.
Associate Director, Germline Methods
Data Sciences Platform
gauthier@broadinstitute.org
Broad Institute of MIT & Harvard
320 Charles St.
Cambridge MA 0214

[2018-10-31 16:56] vruano opened #5382 "gCNV WDLs should clean up intermediate files and directories."
Due to the way the calling process is sharded upstream ... the current wdl expends 80-90% of the time copying files over ... so a job that takes around 1h only 10 minutes are expend in running the GATK Tool, the result is used to stage the input files.

For example if the genome intervals where shared into 600 ~ different batches this results in 3600 ~ files transferred one by one using their own

[2018-10-31 17:06] davidbenjamin commented on #4614
I have a good feeling about numerical instability from this point forward because:

* My terminology was lazy.  It's not really "numerical instability," which is a deep and frightening topic, but rather just plain old finite precision, which is not nearly so hydra-headed a problem.
* I learned the general rule for avoiding finite precision problems with a qual score, which is: always calculate pro

[2018-10-31 18:13] sooheelee opened #5383 "Document existence of mixed-ploidy and non-diploid support in GenomicsDB"
From a researcher in the field. Their data processing would be much simpler if GenomicsDB accepted non-diploid and mixed-ploidy cases. Currently, researcher is encountering challenges to a workaround that uses CombineGVCFs (a GATK3 tool).

---

As an update, looks like `GenomicsDBImport` only supports diploid data, so we cannot use it. Would really appreciate your help on this.

This Issue was gen

[2018-10-31 18:14] sooheelee commented on #5383
@droazen what do we do with such requests?

[2018-10-31 18:32] droazen commented on #5383
@sooheelee Bring it up at office hours, and if it's important we can consider it for inclusion in the goals for a future quarter.

[2018-10-31 18:32] sooheelee commented on #5383
Will do.

[2018-10-31 19:44] #5379 closed

[2018-10-31 21:31] #5375 closed

[2018-11-01 14:06] samuelklee commented on #5382
Yes, recall that @asmirnov239 tried to address #4397, but that led to #5217, so we reverted.  We can try to address this again correctly if it's low-hanging fruit (which it probably is) and if it'll bring the overall cost of the pipeline down significantly.  However, for the most part, I think bringing down costs in the gCNV step will have more impact.

Thanks for diagnosing and pointing out these

[2018-11-01 15:30] jmthibault79 commented on #5199
I'd like to add this to the epic, if possible -> https://github.com/samtools/htsjdk/issues/1218

[2018-11-02 10:48] sicotte opened #5385 "HaplotypeCaller in 4.0.11 in GENOTYPE_GIVEN_ALLELES does not report SNP alleles if overlapping an indel in the data."
Haplotype Caller still has some problems with GENOTYPE_GIVEN_ALLELES mode.(using the latest build 4.0.11, donwnloaded today)

Summary:
In this case I have a SNP position that I want the genotype reported on.
However, It overlaps an indel in the data..

More Details:
I have a list of variants I want called on a whole genome .. and I also want all novel variants.
1) Run Haplotype Caller in "discover

[2018-11-02 13:35] #4654 closed

[2018-11-02 17:14] droazen opened #5387 "Restore bandPassSigma argument in AssemblyRegionWalker"
We noticed today that there's no way in GATK4 to change the sigma of the band pass filter Gaussian kernel in `AssemblyRegionWalker`, even though `maxProbPropagationDistance` is settable. For consistency's sake, we should expose the band pass sigma via an arg as well.

[2018-11-02 17:15] droazen commented on #5387
Assigning to @jonn-smith to delegate.

[2018-11-02 17:37] ryfa5051 commented on #4891
How soon is the near future?

[2018-11-02 18:49] droazen commented on #4891
@ryfa5051 It's scheduled to be ported this quarter (so, either this month or next month).

[2018-11-02 18:57] sooheelee opened #5388 "GermlineCNVCaller `-XL` gives error "Intervals for read-count file do not contain all specified intervals""
## Bug Report

### Affected tool(s) or class(es)
GermlineCNVCaller

### Affected version(s)
v4.0.4.0 and v4.0.11.0 tested with same result

### Description
![screenshot 2018-11-02 14 50 17](https://user-images.githubusercontent.com/11543866/47934764-a8a71c80-deae-11e8-9f8f-c8a8b563d77a.png)

[code]

Command runs fine sans `-XL` parameter. The contents of `-XL` are simply:

![screenshot 2018-11-02

[2018-11-02 18:58] sooheelee commented on #5388
@samuelklee, I tested using v4.0.11.0 and see the same error with `-XL` so here is the bug report as promised.

[2018-11-02 19:49] jmthibault79 opened #5389 "README: R setup for running tests may need OS X update"
## Documentation request

### Description
I was unable to successfully follow the R setup instructions required to successfully run integration tests locally.  I don't know whether this is a problem specific to my system, or is a more general concern regarding initial setup on Mac OS X High Sierra 10.13.6.

#### R installation itself
Expected: `brew install R` would install R with all necessary co

[2018-11-02 20:08] samuelklee commented on #5388
Can you describe the inputs you are passing to `-L` and -XL`?  (I'm guessing the latter is just a BED file of centromeric regions, but how about the former?)

Is there any issue when you use `FilterIntervals` as is done in the WDL (i.e., running `FilterIntervals` with `-L` = the output of `PreprocessIntervals` and `-XL` = your blacklist, and then passing the corresponding interval list to the `-L`

[2018-11-02 20:28] sooheelee commented on #5362
@vdauwera Researcher who initially pointed out this issue says there are many forum docs showcasing the usage example that is buggy and suggests we clarify the non-buggy usage.

[2018-11-02 20:40] ldgauthier opened #5390 "SplitIntervals should give output ".interval_list" suffix"
SplitIntervals writes a Picard-style interval list with a SAMTextHeader sequence dictionary (i.e. header starting with `@`), but currently the output file extension is `.intervals` and Picard won't read in the file unless it has a `*.interval_list` extension.

[2018-11-02 21:16] sooheelee opened #5391 "Discussion question stemming from Mutect2 VCF handling"
On behalf of a number of researchers over the years, here is a question.

Should GATK tools accept every valid VCF, discern PASS vs. FILTERED status and also skip `.` annotation sites as if they did not exist?

See case presented by a researcher at https://gatkforums.broadinstitute.org/gatk/discussion/comment/53533.

[2018-11-02 21:17] sooheelee commented on #5391
Assigning @vdauwera and @droazen for discussion.

[2018-11-02 21:18] sooheelee commented on #5391
Tagging @davidbenjamin since Mutect2 is what brings up this question.

[2018-11-04 01:30] davidbenjamin commented on #5391
IMO we probably should accept any valid VCFs but I can't say it's a high priority to me when our provided resource file works and the user has zero reason not to use it.  I mean, if users want to shoot themselves in the foot, and the GATK's downward aim is buggy, that's kind of a feature, isn't it?

[2018-11-05 11:21] nurmians commented on #5391
@davidbenjamin I think that is a bit of a cop out. I would of been happy to use a provided resource but there was none to be found for hg38. I had to do a liftover for the gnomAD data and that introduced changes to the VCF that invoked this bug in <20% of my samples after hours of processing without any sensible error message to lead me onto what was the cause of the problem. I have wasted many da

[2018-11-05 14:30] sicotte commented on #5385
You understand the issue right.

I didn’t see that the C->T allele was actually represented as a
C(11T) -> (12T)

I guess there is a philosophical disagreement on wether the C->T should be reported separately or merged with
The other allele at the other position..

Today, I want the C->T separately .. but some other days I might not.

From: cwhelan [mailto:notifications@github.com]
Sent: Monday, N

[2018-11-05 14:52] cwhelan commented on #5385
I can definitely appreciate that in some cases downstream analysis might be made easier if the original representations of GGA mode alleles were preserved.

Internally, HaplotypeCaller has to convert all variants at a position to share the same reference context so that read alignments can be compared to all possible alternate alleles simultaneously, and it would be a complex and error-prone proce

[2018-11-05 14:52] #5385 closed

[2018-11-05 15:08] droazen commented on #5391
@davidbenjamin Perhaps we should just apply a variant filter upfront to the variants retrieved from the `--germline-resource` in `Mutect2Engine`? We already have a `PassesFiltersVariantFilter` that could be used...

[2018-11-05 15:47] davidbenjamin commented on #5391
@nurmians If we don't provide an hg38 resource then I would have to agree completely that my initial answer is a cop-out!  I think @droazen's idea ought to work.

[2018-11-05 16:56] droazen commented on #2480
Blocked by need for input/output annotations in barclay.

[2018-11-05 17:28] droazen commented on #5383
@sooheelee As discussed in person, `GenomicsDBImport` does support non-diploid data. Can you ask the user to try it?

[2018-11-05 17:28] sooheelee commented on #5383
For @vdauwera and @bhanugandham, our documentation is out of date.

[2018-11-05 17:56] sooheelee opened #5393 "Change to INFO: "WARN IntelPairHmm - Flush-to-zero (FTZ) is enabled when running PairHMM.""
Researchers are unnecessarily alarmed by this notification and this should an INFO not WARN. Putting in this request based on @droazen's request.

Stem from [this](https://gatkforums.broadinstitute.org/gatk/discussion/comment/53339#Comment_53339) and other researchers on the forum over time.

[2018-11-05 18:03] skwalker commented on #4614
@davidbenjamin I have to finish up some other work first, but then I will re run with your new jar

[2018-11-05 19:59] jjfarrell commented on #4506
There is a initial release of the faster and more accurate replacement for Hadoop-Bam at:

https://github.com/disq-bio/disq

It would be great to see faster reading of crams in spark GATK with this.  Any plans for testing this release?

[2018-11-05 20:07] lbergelson commented on #4506
@jjfarrell Yes, we're working on migrating to disq.  See https://github.com/broadinstitute/gatk/pull/5138

[2018-11-05 20:39] cmnbroad commented on #5362
It looks like in each of the cases that are failing, the filter expression references an attribute that isn't present in the variant, which the tool treats as "PASS" by default (this can be toggled using `--missing-values-evaluate-as-failing true`, in which case such variants with missing values will be filtered). The parentheses are confounding but not relevant - the failing case above that uses

[2018-11-05 20:55] obigriffith commented on #5362
@cmnbroad - that was not the issue I reported. I was having cases of variants that did have SOR or DP values but when I applied an SOR or DP filter that filter was not being applied correctly. This issue did go away when I separated into individual filter expression, whether or not I enclosed them in parentheses.

[2018-11-05 21:54] obigriffith commented on #5362
Ah! I see. This is indeed an unintuitive behavior. Especially in the case where a user is providing a compound expression with a series of filters separated by the OR operator. The user is expecting that any variant that meets any of the filter criteria will be marked for filtering. If I understand correctly, a variant could fail 4/5 filters, be NULL for 1/5 filter expressions and end up with a PA

[2018-11-06 14:19] ldgauthier commented on #5362
Rank sum annotations are often missing for common variants in small cohorts.  The rank sum statistic compares observations from the reference reads with the alternate reads and if all the samples are homVar and there are no reference reads, then the statistic can't be computed.  See https://gatkforums.broadinstitute.org/gatk/discussion/4732/statistical-methods-used-by-gatk-tools for more detail.

[2018-11-06 16:08] #5390 closed

[2018-11-06 16:45] ldgauthier commented on #5390
Thanks @lbergelson !

[2018-11-07 10:33] nalinigans commented on #4518
Changed to initializing pthread mutex with `PTHREAD_MUTEX_ERRORCHECK` in a debug snapshot genomicsdb build 1.0.0-20181106.031500-10.  Created branch nalini_issue_4518 -https://github.com/broadinstitute/gatk/tree/nalini_issue_4518 using this genomicsdb.jar.

The last call stack that could be gathered was -
[code]
@kgururaj, @droazen, would it be possible to use this branch and try gather more infor

[2018-11-07 16:11] lbergelson commented on #5393
@droazen These types of UI issues always bug me.  I opened a pr here: https://github.com/Intel-HLS/GKL/pulls.  Do we have any idea who is responsible for that repo now?

[2018-11-07 18:14] samuelklee commented on #5382
@vruano As pointed out by @sooheelee, the current WDL does not clean up the intermediate CALLS_* and MODEL_* directories.  This is fine for running on the cloud, but we should clean them up when running locally.  Can you take care of this as well?

[2018-11-07 18:16] samuelklee commented on #5288
@vruano BTW, are you using NIO for coverage collection?  See https://github.com/broadinstitute/gatk/issues/4806 and https://github.com/broadinstitute/gatk/pull/5015.

[2018-11-07 20:15] jamesemery opened #5396 "Build test Script to evaluate HaplotypeCallerSpark automatically against default mode"
We need to produce a script that will make it easy to evaluate what changes to the HalpotypeCallerSpark will result in the biggest performance impact. To that end we want to write wdls and associated scripts that will make it easier for us to evaluate what each incremental change to the tool will change about accuracy and runtime for the machine configurations we care about. We should probably als

[2018-11-07 20:49] bhanugandham commented on #5342
@nalinigans

I have asked the user for more info on the mount and nfs options. I will update this ticket when the user gets back to me.

Also would you like me to just run gatk from this branch on my system locally or do I need a special setup for this?

[2018-11-08 15:21] sooheelee commented on #5388
Yes, I see the same error when using FilterIntervals in the context of the WDL when supplying the BED file with the `-XL` param.

[2018-11-08 15:24] sooheelee commented on #5388
Thanks for clarifying the `-XL` intervals should match the bins! This is the problem as the BED file presents centromeric regions. I will think of a way to solve this for the tutorial.

[2018-11-08 15:30] sooheelee commented on #4806
@cjllanwarne, how do I opt-in per parameter? I am trying to run the v4.0.11.0 gCNV WDL using Cromwell v36 and even after changing `File` type to `String` type for the relevant BAM/BAI inputs, I am getting a file-type not recognized error.

[2018-11-08 15:47] samuelklee commented on #5388
Hmm, actually, I think there might be more to it.  The current FilterIntervals code also assumes that the annotated bins match the bins resolved from -L/-XL.  So if you pass -L/-XL to AnnotateIntervals, then you should be OK.  However, you might still get into trouble if your coverage bins don't match exactly (which might happen if -XL splits some bins).

Let me try and clean some of this up in a

[2018-11-08 16:21] droazen commented on #5393
Thanks @lbergelson. Looks like the repo hasn't been updated since March. Recommend pinging Paolo from Intel and asking who the current maintainer is.

[2018-11-08 20:37] jsotobroad opened #5398 "Allow MarkDuplicatesSpark to take in multiple inputs"
I tried running MarkDuplicatesSpark with multiple inputs like it is run in production and got this user error

[code]

For this to go into production it would need to have the ability to take in multiple inputs (I'm currently trying to make a "fast" version of the production germline pipeline and it would be great to have this tool included in that pipeline).

@jamesemery

[2018-11-08 22:56] kgururaj commented on #5300
Would it be possible to provide the interval list used?

[2018-11-08 23:02] kgururaj commented on #4753
FYI, if you set the environment variable  TILEDB_DISABLE_FILE_LOCKING=1 before running any GenomicsDB tool, it doesn't try to lock files on POSIX filesystems (Lustre, NFS, xfs, ext4 etc)

[2018-11-08 23:03] sooheelee commented on #4806
I spoke too soon. No matter how I define the type, whether String or File, I get the error:

[code]

I added the following parameter_meta field to the task:

![screenshot 2018-11-08 18 02 03](https://user-images.githubusercontent.com/11543866/48232693-7569ff00-e380-11e8-9dad-2eed3ca68118.png)

How to correct this @cjllanwarne?

[2018-11-09 13:40] samuelklee commented on #4806
@sooheelee I found that on FC, it was only necessary to make the File -> String change at the task level (i.e., in CollectCounts).  Not sure if this works due to the particular version of Cromwell on FC.  In any case, I don't think you should stress too much about getting NIO working on your VM.  Again, I'd expect the current non-NIO gCNV WDL to only take a few hours on FC, and then less than that

[2018-11-09 13:48] ldgauthier commented on #5300
I hit this error as well.  I'll email you my interval list, but my sample set is enormous and not manageable for testing.

[2018-11-09 15:59] jonn-smith opened #5399 "Enable funcotations on non-basic transcripts with a flag."
## Feature request

### Tool(s) or class(es) involved
_GencodeFuncotationFactory_, _Funcotator_, _FuncotatorEngine_

### Description
Currently `Funcotator` only annotates on `basic` transcripts.  We should add a flag that will allow it to create annotations on ANY transcript, not just the basic ones.

This is pretty straightforward - only filter by `basic` transcripts if the flag has not been set

[2018-11-09 16:12] lbergelson commented on #5398
@jsotobroad I'm curious why this is necessary, aren't the bams aggregated with MergeBamAlignments before it gets to MarkDuplicates?

[2018-11-09 16:13] sooheelee commented on #4806
I'm informed that I have access to the broad-firecloud-dsde billing account and it appears whatever error we encountered the other day was something transient.

[2018-11-09 18:35] droazen commented on #5399
@jonn-smith Lee mentioned that if we implement this, we should also change the comparators used in best effect/canonical modes to prefer basic over non-basic transcripts as the first comparison step.

[2018-11-09 18:50] lbergelson opened #5400 "scripts/dataproc-cluster-ui should be included in the bundle"
The dataproc-cluster-ui script should be included in the bundle but isn't.

[2018-11-09 19:36] droazen opened #5402 "Funcotator crashes on symbolic alleles"
`GencodeFuncotationFactory.createFuncotationsOnVariant()` (and possibly other places as well) needs to detect symbolic alleles and handle them appropriately. Should add a good test with, eg., the output of GCNV.

[2018-11-11 07:33] 2236529177 opened #5404 "is anyone to give a clear description about CollectAllelicCounts, is this need if not doing paired?"
Dear author,
Thanks for your great kindness for writing such a wonderful tool for CNV.
but I think the tutorial is a little not easy understand, you write two parts, one for Pon, one for modersegments, but if I want to use PON to analyse the CNV, the tutorial is bitty and often feel puzzled, which is a must step.

I have some concrete questions for help. I hope u can hele me if you are not that bu

[2018-11-11 07:44] 2236529177 commented on #5404
how can we understand this, though I know this fucntion has many possiboe inputs.
but some has only normal inputs, how is related to tunor? thanks a lot.
![image](https://user-images.githubusercontent.com/25199946/48310320-7d1be480-e5c8-11e8-9dde-4ed9ca45f804.png)

[2018-11-11 07:52] 2236529177 commented on #5404
I do not know where is the multimode. you said "However, in more typical cases, using the allele counts in tumor-only mode can work well. " do u mean by we should drop CollectReadCounts, and pON can use the result of CollectAllelicCounts, is that right?  waiting in urgent help ,thanks a lot.
![image](https://user-images.githubusercontent.com/25199946/48310385-5e6a1d80-e5c9-11e8-880d-97a04e2485a6.p

[2018-11-11 08:08] 2236529177 commented on #5404
one said this , another said that, really confused
![image](https://user-images.githubusercontent.com/25199946/48310557-f832ca00-e5cb-11e8-9c8d-38f19b12d014.png)
![image](https://user-images.githubusercontent.com/25199946/48310564-0b459a00-e5cc-11e8-9536-71a02f9be54d.png)

[2018-11-14 06:34] gmagoon commented on #4958
As a user of HaplotypeCaller, I've found that the GQs for homozygous genotypes can be significantly overestimated (by as much as a factor of two, on phred scale) in the presence of overlapping read pairs. The fragment gets double-counted (once for each read) in the genotype likelihood calculation, as HaplotypeCaller doesn't seem to apply anything like the `filterOverlappingReads` step used in Mute

[2018-11-14 16:45] gmagoon opened #5409 "Parent / child pairs in CalculateGenotypePosteriors"
It is not clear to me from the docs whether parent/child pairs are intended to be supported by `CalculateGenotypePosteriors`, but a quick glance at the [mention](https://github.com/broadinstitute/gatk/blob/67f0f0f2e59185b721398b17c24eba487a2ac76c/src/main/java/org/broadinstitute/hellbender/tools/walkers/variantutils/FamilyLikelihoods.java#L210)[s](https://github.com/broadinstitute/gatk/blob/67f0f0

[2018-11-14 16:52] ldgauthier opened #5410 "GATK interval_list parsing on wrong ref fails with unhelpful message"
In IntervalUtils, when Picard intervals are parsed and checked for validity, (line 359 `glParser.isValidGenomeLoc(interval.getContig(), interval.getStart(), interval.getEnd(), true)`), if the contig doesn't match the supplied reference (via -R) then the error produced is `has an invalid interval`.  The interval is perfectly valid, especially since the Picard interval_list has a corresponding seque

[2018-11-14 17:10] ldgauthier commented on #5409
CalculateGenotypePosteriors is only intended for trios.  This is noted (admittedly not too clearly) in the output section of the docs (`Per-site, per-trio joint likelihoods (JL) and joint posteriors (JL)` -- which needs a fix to be JP for posteriors) In GATK3, CalculateGenotypePosteriors shares some code with PhaseByTransmission (namely the FamilyLikelihoods.java), which does support parent-child

[2018-11-14 17:10] ldgauthier commented on #5409
@bhanugandham can you take a stab at a docs update?  I'm happy to review.

[2018-11-14 17:12] gmagoon commented on #5409
I think I figured out my problem. Looking more closely at the `FamilyLikelihoods.java` source code, I noticed some [indications](https://github.com/broadinstitute/gatk/blob/67f0f0f2e59185b721398b17c24eba487a2ac76c/src/main/java/org/broadinstitute/hellbender/tools/walkers/variantutils/FamilyLikelihoods.java#L67) that the analysis needed GTs. My initial input only contained PLs. Using the second app

[2018-11-14 17:36] gmagoon commented on #5409
Sorry, I was mistaken...I ran some further checks and the pairs info wasn't being taken into account with the input containing GTs.

Thanks for the explanation @ldgauthier .

[2018-11-14 18:46] jonn-smith opened #5411 "Funcotator should check for complex indels"
## Feature request

### Tool(s) or class(es) involved
_Funcotator_, _GencodeFuncotationFactory_

### Description
`GencodeFuncotationFactory` should check for complex INDEL and warn and skip them.

[2018-11-14 19:35] droazen commented on #5404
@samuelklee or @LeeTL1220, perhaps one of you could answer this?

[2018-11-14 19:55] droazen commented on #5398
@jsotobroad Ok, we can add this feature fairly easily to `MarkDuplicatesSpark` -- @jamesemery is working on it now.

[2018-11-14 20:16] #5402 closed

[2018-11-14 21:07] ldgauthier commented on #5300
I can actually replicate this with an interval list with two intervals:
[code]
throws
[code]

We typically run with `--reader-threads 5` in the pipeline, but if I change it to 1 I can get it to run.  That's not a longterm solution, but hopefully it's a good hint and it's a good enough workaround for me for the moment.

[2018-11-14 21:19] ldgauthier commented on #2689
This is actually becoming quite a problem in the new exome pipeline since there are so many exome intervals and these warnings get output once per query/interval.  The stderr is totally clogged with them and it's impossible to track the task with the GATK ProgressMeter.  @nalinigans I heard you're working on a GDB release -- can we add a quick and dirty logging patch?  One solution would be to mak

[2018-11-14 21:38] droazen commented on #5300
@kgururaj @nalinigans Just pinging you to make sure you notice @ldgauthier 's comment above where she reproduces this with just 2 intervals.

[2018-11-14 22:01] droazen commented on #5300
We were looking at this just now, and it seems like the problem might be this line in `GenomicsDBImport.getFeatureReadersInParallel()`:

[code]

Notice that it's unconditionally calling `intervals.get(0)` in every thread...it looks like this line didn't get updated when multi-interval support was added to the tool, and the multi-interval tests don't run with reader threads > 1.

[2018-11-14 23:11] bhanugandham commented on #5409
Hi @ldgauthier
I will look into this. What's the timeline? How soon do we need this?

[2018-11-15 06:19] nalinigans commented on #5300
Thanks @droazen and @ldgauthier. I am getting ready to make a release from GitHub/GenomicsDB. I will put in a fix for this issue as soon as the release is ready.

[2018-11-15 14:10] ldgauthier commented on #5409
The docs update should be a pretty quick fix, but since we have some
explanation here in this issue it's not super high priority.

On Wed, Nov 14, 2018 at 6:11 PM Bhanu Gandham <notifications@github.com>
wrote:

--
Laura Doyle Gauthier, Ph.D.
Associate Director, Germline Methods
Data Sciences Platform
gauthier@broadinstitute.org
Broad Institute of MIT & Harvard
320 Charles St.
Cambridge MA 0214

[2018-11-15 16:29] bhanugandham commented on #4637
Hi @cmnbroad

We have another user facing this same issue.
https://gatkforums.broadinstitute.org/gatk/discussion/15514/i-got-some-warn-when-i-run-variantfiltration/p1
Whats the solution for this? Does this effect effect results?

Regards
Bhanu

[2018-11-15 18:58] droazen opened #5417 "Funcotator flanks feature needs test cases for multiple genes and all transcripts mode"
The Funcotator flanks feature introduced in https://github.com/broadinstitute/gatk/pull/5403 still needs test cases for:

* multiple genes overlapping a variant
* all transcripts mode

[2018-11-15 19:17] samuelklee commented on #5373
@shengqh As usual, the GT field refers to the ALT alleles, which are always <DEL>,<DUP>.  So 1=<DEL> and 2=<DUP>.  CN gives the copy-number call; the maximum called copy number can be set as a tool parameter.

[2018-11-15 19:17] #5373 closed

[2018-11-15 19:19] samuelklee commented on #5360
@fpbarthel I would guess that using the appropriate Docker image would resolve this.  @LeeTL1220 any comment?

[2018-11-15 19:42] samuelklee commented on #3938
See #4551.

[2018-11-15 19:42] #3938 closed

[2018-11-15 20:13] #4771 closed

[2018-11-15 20:46] samuelklee commented on #5404
Hi @2236529177,

The GATK forum might be a better place for these types of questions, but I'll try to answer a few of them here:

Section 4.2 of the tutorial compares 1) denoising using a PoN containing multiple normal samples, and 2) denoising using a PoN containing only the matched normal.  Assuming that the samples contained in the panel of normals are representative of the systematic biases pr

[2018-11-15 20:48] #5404 closed

[2018-11-15 20:49] jonn-smith opened #5419 "Data Sources are bad right now."
FIX IT.

[2018-11-15 20:58] lbergelson opened #5420 "Tools that require python should be clearly identified"
We should identify which tools require python and annotate them in the tool list.  Something similar to how experimental / beta tools are identified.  This could be handled by an additional annotation and would be surfaced in the javadoc.

This probably requires a change to Barclay.

[2018-11-15 20:59] lbergelson commented on #5420
@vdauwera I think you had a good idea to identify which tools need python in the javadoc / help...

[2018-11-15 20:59] lbergelson commented on #5420
@bhanugandham  This might be a relatively simple thing for you to get started with.

[2018-11-15 21:04] lbergelson opened #5421 "Some tools oneLineDescription are too long"
Some tools (ex: GenotypeConcordance) have a description line that is so long that it wraps onto multiple lines in the tool list.  This looks bad.

We should either enforce a shorter line length, or make our help output multiline aware so it looks better.

<img width="1440" alt="screen shot 2018-11-15 at 3 58 57 pm" src="https://user-images.githubusercontent.com/4700332/48581533-19f3c000-e8f0-11e8-

[2018-11-15 21:05] lbergelson commented on #5419
![image](https://user-images.githubusercontent.com/4700332/48581572-368ff800-e8f0-11e8-91bc-9063e11ce497.png)

[2018-11-15 21:05] jonn-smith commented on #5419
![image](https://user-images.githubusercontent.com/11667487/48581611-4c9db880-e8f0-11e8-8cf4-48ae7adb4ad3.png)

[2018-11-15 23:11] bhanugandham commented on #5420
I will look into this @lbergelson

[2018-11-16 00:06] sooheelee commented on #4987
We have another researcher asking about this feature at <https://gatkforums.broadinstitute.org/gatk/discussion/14299/gatk4-variantannotator-de-novo-ped-workshop-1809#latest>. If annotating de novos will not be a feature, then please can we remove the option and/or update the error message to be more informative? Would appreciate it. Thank you.

[2018-11-16 15:44] cmnbroad commented on #4637
@bhanugandham This message itself is harmless and won't affect results, but I wouldn't expect a user to see it when running from a normal installation, and I'm not sure why it seems to be intermittent. I'll need to do some debugging.

[2018-11-16 18:41] nalinigans commented on #5342
@bhanugandham, just running the gatk from this branch should be sufficient, no special setup needed.
Any info from the user?

[2018-11-16 18:46] nalinigans commented on #5277
Waiting on https://github.com/broadinstitute/gatk/pull/5397 to be merged in.

[2018-11-16 20:15] LeeTL1220 commented on #5360
@fpbarthel This is an issue I have corrected in a branch but I have not merged the change yet.  If you can alter the WDL, for now, the below code snippet will fix this issue:
[code]

[2018-11-16 20:16] fpbarthel commented on #5360
Thanks @LeeTL1220 !

[2018-11-16 20:16] #5360 closed

[2018-11-16 20:55] davidbenjamin opened #5426 "Emit vcf of all assembled variants"
Many times the question comes up of whether variants are lost in HaplotypeCaller and Mutect2 because they are not assembled.  It seems like an easy and scalable way to answer this would be to emit an optional sites-only vcf of all variants in the `EventMap` before genotyping.  That way we could do internal validations about assembly much faster than currently. and user questions in this vein would

[2018-11-16 20:57] davidbenjamin opened #5427 "More DREAM challenges for Mutect2 evaluation"
We have the basic DREAM somatic challenge, but there's also an RNA challenge, and perhaps others.  If it's a similar format of bams, masks, and truth vcfs it would be really easy to set up a validation like the one we currently have on Firecloud.

[2018-11-16 21:09] ldgauthier commented on #5426
My first step is usually to run HC with the debug output on, which enumerate the EventMap, so this is a much more concise and readable alternative.

IIRC, the EventMap is post-pruning, right?  So this would be events that are assembled and survive pruning, but then don't have enough alt read evidence to get genotyped as variants?

[2018-11-16 21:11] jonn-smith opened #5428 "Funcotator data sources are swapped"
The somatic are labeled as germline and visa-versa.

The files themselves must be changed, as well as the data source downloader (to point to the new paths).

[2018-11-16 21:12] jonn-smith opened #5429 "Must add gnomad (disabled) to all data sources."
gnomAD must be added for both hg19 and hg38 to all data sources, but should be disabled by default.

[2018-11-16 21:14] #5419 closed

[2018-11-17 01:52] lincoln-harris opened #5431 "HaplotypeCaller amino acid output?"
Hi
I'm using HaplotypeCaller to do mutation calling in a large single-cell RNA-seq dataset. Im wondering if there is a way to get HaplotypeCaller to spit out _amino acid_ coordinates instead of _genome_? Can we maybe include a column such as 'Mutation.AA' that would contain entries like this?
<img width="151" alt="screen shot 2018-11-16 at 5 51 52 pm" src="https://user-images.githubusercontent.com

[2018-11-17 21:47] kgururaj commented on #4514
Is this still an issue?

[2018-11-17 22:48] davidbenjamin commented on #5426
That's right.

[2018-11-18 03:04] fpbarthel opened #5432 "CollectReadCounts weighted average across multiple nearby bins (feature request)"
Hi GATK team,

I'm interested in calling copy number from exome sequencing using larger (eg. 10kb) bins. Rather than treating each bin separate, I would be interesting in averaging read counts across multiple nearby bins within a specified window. Eg. average read counts from 10 adjacent exons (each separate bins) of a gene.

Would this be possible?

Thanks!
Floris

[2018-11-18 20:22] indraniel opened #5433 "RAW_MQ/sumSquaredMQs parsing error when running GenotypeGVCFs for JointGenotyping"
This issue affect version of GATK4 from version 4.0.10.1 and onwards, and is related to github feature/pull request [#4969: "Improve MQ calculation accuracy"](https://github.com/broadinstitute/gatk/pull/4969).

GVCFs with large `RAW_MQ` sum of sumSquaredMQs values end up with an error like:

[code]

The error happens when the sumSquaredMQs element value is greater than Java's. `Integer.MAX_VALUE`.

[2018-11-19 06:17] vruano opened #5434 "Bug in HaplotypeCaller: lack of consistency in the overlap criteria applied to reads to be considered for PL and AD/DP annotations."
### Instructions

Initially reported by a user on the [forum](https://gatkforums.broadinstitute.org/gatk/discussion/13680/variants-with-ad-0-0-and-dp-0#latest)... Aparently some variants with non-zero quals have 0 AD and DPs. Other annotations are also missing from the INFO columns.

After some debugging it turns out that the criteria to determine whether a read should be considered for a variant

[2018-11-19 13:49] fpbarthel commented on #5432
@samuelklee thanks for your response. The reason I propose this is that I've noticed that with WGS increasing the `--bin-length` parameter (to eg 10kb vs the recommended 1kb) to `PreprocessIntervals` dramatically increases the stability and decreases the noise for lower quality input (eg. FFPE) or lower coverage (eg. lowpass whole genomes). However, for exome sequencing there doesn't seem to be su

[2018-11-19 14:44] samuelklee commented on #5432
@fpbarthel In that case, I would not average the bins---I'd simply take the total integer count across them, which you can then use with the rest of the pipeline and should decrease the noise as you describe.  You can still use CollectReadCounts, but it will be up to you whether you want to 1) collect counts on manually merged bins, or 2) collect counts on the initial bins and manually sum the cou

[2018-11-19 15:23] fpbarthel commented on #5432
Thanks @samuelklee, that sounds like a pretty solid idea, to sum up read counts from targets in 10kb bins. Would it be necessary to apply some sort of weighting? Ie. I imagine that some 10kb bins may have only a single 100bp exon overlapping (ie in gene deserts) whereas another 10kb bin could have a dozen 500bp exons, and thus much higher read counts purely because of higher coverage.

[2018-11-19 15:50] bhanugandham commented on #5342
@nalinigans

I have not heard from the user yet. I have pinged the user again to send us their nfs info and I will keep you posted. I will have the results from testing the gatk branch you sent to me by the end of the day.

[2018-11-19 17:01] vruano commented on #5434
@ldgauthier what do you think would be the implications of fixing this by either keeping the  2bp ALLELE_EXTENSION overlap or remove it. I guess that most of the time the variant is supported by a healthy number of reads and the AD/DP is perhaps a couple of reads lower that is supposed based on the PL if anything.

It is more parsimonious to simply don't consider reads that don't overlap the varia

[2018-11-19 17:06] vruano commented on #5434
A third option is allow for the 2bp padding but conditional that there are at least a read or a few reads that actually overlap the variant so that no variant is supported exclusively for "ghost" reads (i.e. not counted in AD/DP).

[2018-11-19 17:20] sooheelee commented on #4631
@cmnbroad, just surfacing this. This request comes from one of our developers.

[2018-11-19 17:37] ldgauthier commented on #5431
That would be a lot of extra infrastructure for HaplotypeCaller, but can Funcotator do that out of the box @jonn-smith ?

[2018-11-19 17:47] jonn-smith commented on #5431
Yes - Funcotator supports this out of the box right now (including for MT chromosomes).

Funcotator is still a beta tool, but will be out of beta _very_ soon.

There is some documentation on the [forums](https://gatkforums.broadinstitute.org/dsde/discussion/11193/funcotator-information-and-tutorial/) as well as in the GATK Docs.  All the documentation needs to be updated, but none of it should be

[2018-11-19 17:47] lbergelson commented on #2686
Closing this because we can't reproduce.  This may have been fixed by the fix to the gzip bug.

[2018-11-19 17:47] #2686 closed

[2018-11-19 17:50] lbergelson commented on #4753
@kgururaj Is it possible to include information about the lock disabling in the lock error messages?

[2018-11-19 17:51] #4755 closed

[2018-11-19 17:53] lbergelson commented on #5064
Improved error message sounds like a good solution, thank you.

[2018-11-19 17:55] lbergelson commented on #5064
Reopening, this will be closed by a @nalinigans PR in the near future.

[2018-11-19 18:01] lincoln-harris commented on #5431
Excellent! Ill give Funcotator a try

[2018-11-19 18:01] #5431 closed

[2018-11-19 20:15] samuelklee commented on #5432
@fpbarthel The denoising methods in both the somatic and germline pipelines correct for bin-specific biases.  So no weighting of the raw counts should be necessary.

[2018-11-20 04:19] gmagoon opened #5436 "HaplotypeCaller homozygous call GQ is overreported in the presence of overlapping read pairs"
It seems that the genotype likelihood calculation used by HaplotypeCaller ends up double-counting fragment evidence when the variant is covered by both reads in a read pair. For a homozygous call, this leads to overestimated PL for the heterozygous genotype and ultimately a GQ that is too high for the given read data evidence. For example, for a biallelic variant in a diploid genome covered by a s

[2018-11-20 17:30] jamesemery opened #5437 "Make PositionalDownsampler reproducibly deterministic"
The work that @tomwhite has done in the HalpotypeCallerSpark has illuminated the fact that currently the downsampler is statefully dependent on the random generator underneath in terms of how it selects reads to be downsampled. This has become an issue since we would like to separate the process of assembly region construction and genotype calling across stages of the spark task. In order to do th

[2018-11-20 18:11] sooheelee commented on #5391
@rcmajovski We should have a forum doc that illustrates the steps in the WDL that prepares the af-only resource.

[2018-11-20 20:35] davidbenjamin commented on #5260
@MartonKN It looks like the relevant code is lines 713-5 of `SelectVariants`:
[code]
and in `VariantIDsVariantFilter`
[code]
This seems like it should do the right thing, except that `vc.getID()` is a `String`, *not* a `List<String>`.  @vdauwera can we assume that a `VariantContext` ID will not contain a semicolon, and therefore we can parse by splitting on `';'`?

[2018-11-21 09:52] #5276 closed

[2018-11-21 14:00] #616 closed

[2018-11-21 14:42] cmnbroad opened #5439 "Engine changes for VariantEval"
The GATK4 port of GATK3 VariantEval uses a MultiVariantWalker traversal, along with individual `FeatureInput` arguments for evals, knowns, comps, etc., which are all manually merged together as the walker's driving variants. The resulting variants are then manually processed in groups, by start position. Since the tool needs to know the origin of each variant (eval, comp, dbsnp, known, etc.), and

[2018-11-21 14:44] cmnbroad commented on #5439
The tool is currently marked `@BetaFeature` ince the proposed change will require changing the input arguments. Once this issue is resolved, the `@BetaFeature` tag should be removed.

[2018-11-21 14:54] cmnbroad commented on #4440
Closing as obsolete.

[2018-11-21 14:54] #4440 closed

[2018-11-21 14:57] cmnbroad commented on #4426
Closing as obsolete (partly resolved via https://github.com/broadinstitute/gatk/pull/4495 and partly replaced by https://github.com/broadinstitute/gatk/issues/5439)

[2018-11-21 14:57] #4426 closed

[2018-11-21 15:22] cmnbroad opened #5440 "VariantEval code style cleanup"
The varianteval package (VariantEval, evaluators/stratifiers and stratification manager) was ported directly from GATK3, and needs a code-style cleanup pass:

- rename variables with names in ALL_CAPS
- remove redundant type instantiation params in favor of <> operator
- add finals

[2018-11-21 15:28] cmnbroad opened #5441 "Refactor VariantEvalUtils"
`VariantEvalUtils` was ported directly from GATK3, and depends on `VariantEval` to discover various input argument values for stratifiers, etc.

An argument collection class should be factored out of VariantEval, with `@Argument`values for these values, and methods for retrieving them (each method in `VariantEvalUtils` that calls back to the walker should be moved into the arg collection class). T

[2018-11-21 19:29] #5391 closed

[2018-11-24 16:50] jjfarrell opened #5445 "Incorrect GQ Score = 0"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
GATK 3.7 and GATK 4.0.11.0
### Description

GATK Pipeline (HaplotypeCaller->gvcf-->importdb->GenotypeGVCF)is calling sites  with a GQ=0.  But these sites often have plenty of coverage and no obvious reason for such a low GQ score.   Often the GQ should be 99 as the DP >40.  This seems to be primarily an issue

[2018-11-25 01:19] bbimber opened #5446 "IntegrationTests for a walker that creates multiple outputs based on a user-supplied prefix?"
I didnt see an example, but I could have easily missed it: I am writing an integration test for a walker where the user supplies an output prefix, and the tool created three output files based on that prefix.  I want to write an integration test, ideally using IntegrationTestSpec in an intended form.  Are there any existing integration tests of tools that use this style argument, and/or is there a

[2018-11-26 12:46] tomwhite commented on #5437
I've posted a way of how this might be done here:

https://github.com/broadinstitute/gatk/compare/tw_deterministic_downsampler

(Note this is just an illustration of how it might work - ReservoirDownsampler should not be aware of position.)

[2018-11-26 13:20] cmnbroad commented on #5446
@bbimber I don't think `IntegrationTestSpec` has any provisions for this, and it has a number of other limitations around output files as well. We mostly only keep it around to make porting GATK3 test easier - I'd recommend writing new tests using `runCommandLine`, and checking results manually or delegating to the static assert* methods in `IntegrationTestSpec` for. Take a look at `HaplotypeCalle

[2018-11-26 15:07] ldgauthier commented on #5445
Hi @jjfarrell,
Unfortunately there are some shortcuts and approximations that happen in GVCF mode that do break down in a small number of cases.  I suspect your issue may be related to #5171.  I can take a look at this, but it could be a while.  What would speed things along is if you could share an IGV screenshot and GVCF snippet for cram 1 around the GQ0 call.

[2018-11-26 17:14] sooheelee opened #5447 "WARNING: Failed to detect whether we are running on Google Compute Engine."
Posting issue on @cmnbroad's request.

I see this stacktrace of a WARN for some GATK tools. The tools proceed to run successfully. For example, LearnReadOrientationModel gives this. I've been preparing for the GATK workshop and have been running a variety of tools.

For this particular message, I am running GATK v4.0.11.0 locally on my Mac laptop, in the 4.0.11.0 Docker. How can I deal with this W

[2018-11-26 17:17] sooheelee commented on #5447
Just tested this locally outside of the Docker. I do not see the WARN:
[code]

[2018-11-26 21:14] ldgauthier opened #5449 "GenomicsDB queries overlapping deletions cause core dump"
When a 16bp deletion such as
`chr7    65074861        .       CCAGTCCTACACCTCGT       C,<NON_REF>     54.52   .` is imported into GenomicsDB, a query at a position inside the deletion, such as position chr7:65074873, causes a core dump.

The CombineGVCFs output looks like:
[code]
Where the second genotype column with the `65074846_T_C` tag is for NA12891, which is the sample that has the deletion.

[2018-11-27 16:12] lbergelson commented on #5447
There was a change to auth library so this should now be an info level output.  I'm going to try to push for the stack trace to be emitted on debug output only.

[2018-11-27 16:13] lbergelson commented on #5447
We need to wait for google cloud dependency updates in order for the fix to be incorporated into gatk.

[2018-11-27 16:16] jjfarrell commented on #5445
Hi @ldgauthier

There seemed to be some soft-clipped reads in the cram alignment near that SNP so I tried running HaplotypeCaller in gVCF mode with the  --dont-use-soft-clipped-bases parameter. The gVCF records GQ looks much better for the sample. So it looks like the soft-clipped reads are triggering the GQ=0 issue here.

[code]
Here are the gVCF records near that samples homozygous ref SNP rs429

[2018-11-27 20:12] #3774 closed

[2018-11-27 20:16] jonn-smith opened #5453 "Funcotator - Add ensembl data source support"
Currently Funcotator only supports `Gencode` for transcript annotations.  We should expand this to support `Ensembl` as well.

This will involve making a parent class for both Gencode and Ensembl (`TranscriptDataSource`) and possibly a new tribble codec.  This will enable support for any Ensembl organism, such as _canis familiaris_.

Funcotator should then be changed to require a `TranscriptDataSo

[2018-11-27 21:38] jonn-smith commented on #5259
We will just read from `gnomAD` directly using the NIO updates for Funcotator data sources.

Should fix this at the same time as #5428 and #5429.

[2018-11-27 21:38] jonn-smith commented on #5428
Should fix this at the same time as #5259 and #5429.

[2018-11-27 21:38] jonn-smith commented on #5429
Should fix this at the same time as #5259 and #5428.

[2018-11-28 16:25] TedBrookings opened #5454 "Attribute getters should be migrated from GATKProtectedVariantContextUtils to VariantContext (HTSJDK)"
## Feature request

### Tool(s) or class(es) involved
_GATKProtectedVariantContextUtils_
_VariantContext_ (HTSJDK)

### Description
There are currently multiple attribute getters in GATKProtectedVariantContextUtils that properly belong in VariantContext and should be migrated. Some are nearly duplicates (with subtly different default/missing value handling) and some have no counterpart (getAttribu

[2018-11-28 19:01] davidbenjamin commented on #4614
@skwalker @ldgauthier should I submit a PR for this branch now?

[2018-11-28 19:01] ldgauthier commented on #4614
@skwalker can we get some density contours on those (at least the first two)?  It's hard to say how much of a discrepancy there is.

[2018-11-28 20:30] skwalker commented on #4614
![as_qd_differences](https://user-images.githubusercontent.com/4933056/49180387-7b6d5300-f322-11e8-8622-e17a1166871a.png)
![qd_differences](https://user-images.githubusercontent.com/4933056/49180389-7c05e980-f322-11e8-9cf0-eb33cf41d96e.png)
![qual_differences](https://user-images.githubusercontent.com/4933056/49180390-7c9e8000-f322-11e8-8bf9-554cc9e48017.png)

[2018-11-28 22:09] jonn-smith opened #5456 "Funcotator - Must be able to match B37 contigs from data sources with hg19 intervals."
With gnomAD support, we will need to be able to match an HG19 interval against the B37 data source.

This can be done by adding a field to the data source config files `dataAreB37` (or similar).

Then in the code, `DataSourceFuncotationFactory` sets that to an internal variable based on the config file and uses that setting to call either `getValues(mainSourceFileAsFeatureInput)` or `getValues(mai

[2018-11-28 22:10] jonn-smith opened #5457 "Funcotator - Must create new liftover of gnomAD for hg38."
Must create a new liftover of gnomAD for hg38.

Probably makes sense to make a chain file for b37->hg38 directly and a WDL to do this for future use.

[2018-11-28 22:54] lbergelson opened #5458 "Remove uses of PrintWriter"
`PrintWriter` explicitly doesn't throw IOExceptions when it fails to write.  This could cause silent corruption of output files. We should probably not use it because it's hard to remember to correctly check it's error status.

Some places that use it: MafOutputRenderer, MetricsUtils, others...

[2018-11-28 22:55] lbergelson commented on #5458
@jonn-smith

[2018-11-28 22:57] jonn-smith commented on #5458
Well, this issue definitely impacts `Funcotator`.  I'm going to add a `Funcotator` tag to this, but it should not be considered ONLY a `Funcotator` issue.

[2018-11-29 07:24] davidbenjamin opened #5459 "Optimize CigarUtils.calculateCigar"
In `CigarUtils.calculateCigar(final byte[] refSeq, final byte[] altSeq)` we have the following optimization to check for exact equality in order to avoid expensive Smith-Waterman alignment:

[code]

We could similarly optimize a broader class of alt haplotypes by ruling out indels and returning M-only Cigars.  To do this, line up the two sequences and see if there are a small number of non-contigu

[2018-11-29 14:06] ldgauthier commented on #5434
I would rather revert the 2bp padding by default.  I suspect it _was_ put in to increase sensitivity as you suggest, in cases where there are phased variants in close proximity.  If two reads supported the event during assembly, but then neither of them pass filterPoorlyMappingReads then that's pretty suspicious. As you suggested yesterday, I'm in favor of making it an option so that people with l

[2018-11-29 15:10] #5348 closed

[2018-11-29 16:03] lbergelson commented on #5459
@davidbenjamin Have you tried enabling hardware smith-waterman acceleration?  In my experience it took the time that smith waterman takes in haplotype caller from ~10% -> ~0%.

[2018-11-29 16:22] davidbenjamin commented on #5459
@lbergelson I haven't, but if this comes out to ~5 lines of code, would you object?

[2018-11-29 16:30] lbergelson commented on #5459
If it's in a critical haplotype caller hotspot you might want to actually write a for loop instead of the stream.  They're faster.

[2018-11-29 16:37] davidbenjamin commented on #5459
I know, having learned that lesson several times.  Given that this is O(# of haplotypes) [each haplotype vs ref] and not O(# of haplotypes^2) [i.e. every haplotype vs every haplotype] or O(# of reads) I'm not expecting it to matter, but I will definitely profile.

[2018-11-29 16:42] jjfarrell commented on #5171
With bwa mem and 150 bp reads, there appear to be  lots of soft-clipped reads triggering this situation.  As a result, there are many '0/0' and GQ=0 GT calls being generated in a joint-genotyped VCF.  Could the priority of issue be re-considered given that it is not such a rare case?

[2018-11-29 16:53] davidbenjamin commented on #1338
Closed by #5452.

[2018-11-29 16:53] #1338 closed

[2018-11-29 20:44] jonn-smith opened #5465 "Funcotator - turn config file names into enum"
`DataSourceUtils` contains string constants for fields in the config file (e.g. `CONFIG_FILE_FIELD_NAME_NAME`).

These should be rolled into an enum together.

This will facilitate file validation by enabling them to be iterated over automatically using the enum's built in methods.

[2018-11-30 16:15] jmthibault79 opened #5468 "Better error message when GCS credentials are required"
## Feature request / documentation request

### Tool(s) or class(es) involved
Reading files from non-public GCS paths

### Description
I did not have Application Default Credentials set up when I tried to read from a private bucket.  This failed, as expected.  Could we add a comment explaining that running `gcloud auth application-default login` is the necessary step to making this work?  I didn't

[2018-11-30 17:06] droazen commented on #5449
@nalinigans @kgururaj Could you please have a look at this one when you get a chance?

[2018-11-30 18:10] skwalker commented on #1858
@davidbenjamin I didn't come across this issue but I also did not test for it specifically.

[2018-11-30 20:05] davidbenjamin commented on #5260
Closed by #5464.

[2018-11-30 20:05] #5260 closed

[2018-11-30 20:06] davidbenjamin commented on #4943
Closed by #5455.

[2018-11-30 20:06] #4943 closed

[2018-11-30 20:47] ldgauthier commented on #5171
@jjfarrell in the case of soft-clips the solution is even more complicated.  During assembly the reads get un-soft-clipped.  If the soft-clipped sequence can't merge back to the reference (as in a scenario when the read is a split read at the edge of a big structural variant that we don't expect HaplotypeCaller to call), then the sequence that was originally soft-clipped doesn't get incorporated i

[2018-11-30 20:48] #5459 closed

[2018-11-30 20:52] davidbenjamin commented on #1858
That's good enough for me.  If it's still an issue we'll find out soon enough.

[2018-11-30 20:52] #1858 closed

[2018-11-30 22:04] MartonKN commented on #5079
Addressed in issue #5471

[2018-11-30 22:12] jean-philippe-martin commented on #5468
I agree this would make GATK easier to use. In fairness, these steps *are* described [in the documentation](https://github.com/broadinstitute/gatk/blob/master/README.md#gcs).

[2018-12-01 03:29] sooheelee opened #5472 "Picard tools called through GATK do not accept BED intervals"
@cmnbroad, [a researcher has pointed out](https://gatkforums.broadinstitute.org/gatk/discussion/1319/collected-faqs-about-interval-lists#latest) that although GATK accepts both types of intervals lists (Picard-style & BED), Picard tools called through the GATK errors with a BED intervals list. Is it possible to amend this behavior so any intervals list GATK accepts, Picard-called-through-GATK also

[2018-12-01 03:30] sooheelee commented on #5472
Also, let me know if you'd prefer to move this request/discussion to the Picard repo @cmnbroad.

[2018-12-02 23:33] davidbenjamin commented on #5436
@gmagoon You're right to raise the issue.  The tricky thing about it is that overlapping mates' bases *are* independent evidence as far as sequencing error is concerned, but are not independent as far as PCR error is concerned, so there are reasons to use fragments as the fundamental unit, but also reasons to use reads.  This is why a quick fix is probably not going to be satisfactory.  A few of u

[2018-12-02 23:40] davidbenjamin commented on #5313
I'll give this a try.

[2018-12-03 00:44] gmagoon commented on #5436
Thanks @davidbenjamin.

For what it is worth, here are some of my thoughts. From my perspective, it might helpful to separate the discussion into read likelihood calculation and the genotype likelihood calculation. As I understand it, sequencing error is directly relevant to the pairHMM read likelihood calculation. I guess the location where PCR error is most relevant (read likelihood vs genotype

[2018-12-03 04:36] davidbenjamin commented on #5075
@droazen The issue here is that `ReadWalker` doesn't have downsampling, right?  It seems like it would be straightforward to downsample the streamed reads in its `traverse` method.  Thoughts / am I missing something?

[2018-12-03 04:53] davidbenjamin commented on #5035
`-nt` is data threads, that is, threads on a single core.  This is not true CPU-level parallelism but can save significant time because different threads need not be delayed by each other's memory fetches and I/O.  That is, it is data parallelism but not processor parallelism.

`-nct` is CPU parallelism and means multiple cores.

I'm closing this issue, but feel free to re-open if I have not answe

[2018-12-03 04:53] #5035 closed

[2018-12-03 05:10] davidbenjamin commented on #3944
@takutosato did you fix this in #5151?

[2018-12-03 14:43] ldgauthier commented on #5101
Not at the moment.  The model as it exists now doesn't guarantee good results on multi-sample VCFs.  Sam ran the CNN on the very large gnomAD cohort (~20,000 samples) and got results that were comparable with VQSR and their random forest, but had some strange biases.  It would probably do a good job for small cohorts, but as the number of samples increases, the common variants take on tighter anno

[2018-12-03 14:49] takutosato commented on #3944
@davidbenjamin I think so, but I didn't test beyond the cases at the ends of chromosomes so it's possible that I didn't fix it completely.

I can come back to this after I review your adaptive pruning PR

[2018-12-03 14:55] jmthibault79 commented on #5468
Good point, thanks.  Not sure why I didn't look there.

[2018-12-03 15:06] #5072 closed

[2018-12-03 15:09] davidbenjamin commented on #3944
@takutosato To be clear, this issue is from a year ago, and I'm just confirming that we can close it.  This is not new bug behavior.  No action required on your part besides what you just said.

[2018-12-03 15:09] #3944 closed

[2018-12-03 15:32] jamesemery opened #5476 "HaplotypeCallerSpark Enable downsampling in the AssemblyRegionWalker"
After #5416 one of the lingering potential sources of difference between HaplotypeCallerSpark and HaplotypeCaller are in the downsampling, which could cost Spark both correctness and performance at pathological sites. This likely requires #5437 or some equivalent change to be implemented so we can save ourselves from materializing and shuffling all the reads in their AssemblyRegions.

[2018-12-03 19:08] kshakir commented on #3491
Here's a stack trace of the area I think the two minute wait may be occurring.

The below example fails-fast and prints out stack trace when there is no internet. I suspect that the slow-and-quiet alternative occurs when the connection to [google](https://github.com/googleapis/google-cloud-java/blob/v0.72.0/google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L

[2018-12-03 20:06] #5393 closed

[2018-12-03 20:47] droazen commented on #5075
@davidbenjamin We could easily add in `ReadWalker` downsampling, yes -- it would be simple to add alignment-start-based downsampling like GATK3 ReadWalkers had (and the GATK4 HaplotypeCaller currently has) using a `ReadsDownsamplingIterator` + a `PositionalDownsampler`.

[2018-12-03 21:55] lbergelson opened #5478 "Kebab case spark walker arguments"
A number of arguments in the SparkWalker classes were not kebab cased.  They should be made into kebab case.

[2018-12-03 21:56] lbergelson opened #5479 "LocusWalker --maxDepthPerSample should be kebabed"
The argument `maxDepthPerSample` in locus walker should be made kebab case.  The same problem exists in `LocusWalkerSpark`

[2018-12-04 08:51] qinqian opened #5481 "BwaSpark and ReadsPipelineSpark with spark master"
### Goal
Our team try to explore the usage of GATK Spark tool for our internal WES and WGS data.

## Bug Report

### Affected tool(s) or class(es)
BwaSpark and ReadsPipelineSpark

### Affected version(s)
- [ X ] Latest public release version [gatk 4.0.11.0]

### Description
For both tools, we encountered an issue when the driver shutdown the command as the screenshot. However, for the bwaspark, th

[2018-12-04 15:43] #5400 closed

[2018-12-04 17:17] vdauwera commented on #3174
dupe of https://github.com/broadinstitute/gatk/issues/5010

[2018-12-04 17:17] #3174 closed

[2018-12-04 17:48] yurivict opened #5483 "Fails to build with gradle-5"
See comments here: https://github.com/gradle/gradle/issues/7914#issuecomment-444189149

[2018-12-04 17:58] lbergelson commented on #5483
Hi @yurivict, gatk requires gradle 3.1.  We include the wrapper script so you can always just run `./gradlew` instead of using the system gradle and it will automatically resolve the correct version.

[2018-12-04 18:04] yurivict commented on #5483
It does build with ```gradle-4.6``` though.

[2018-12-04 18:06] lbergelson commented on #5483
We would be happy to accept a patch to move to a new version of gradle.   (We've wanted to do so for a long time but haven't gotten around to it... https://github.com/broadinstitute/gatk/issues/4659)

There's a partial upgraded version [here](https://github.com/broadinstitute/gatk/tree/lb_update_to_gradle_4.8) but it had some problem and I never got around to finishing it.

[2018-12-04 18:08] lbergelson commented on #5483
Our gradle script does a bunch of testing and packaging, so while build might work I think we had problems with getting all of tests to run correctly and the javadoc built right or something like that...  We definitely recommend you use the wrapper.  Is there a reason that the wrapper won't work for you?

[2018-12-04 18:09] yurivict commented on #5483
I'm a FreeBSD port maintainer, and only have resources to report problems, not to fix them.

[2018-12-04 18:11] lbergelson commented on #5483
Ah.  I see.  It's not clear to me what that problem is though.  You can have many version of gradle coexisting.  Gatk doesn't have to build with system gradle because it comes with the `./gradlew` wrapper which chooses the correct version to build it with.

[2018-12-04 18:35] lbergelson commented on #5483
I agree that it is a good security measure to use fixed signed dependencies for repeatable builds.

GATK depends on gradle 3.1.
download [here](https://services.gradle.org/distributions/gradle-3.1-bin.zip) [shaw256](https://services.gradle.org/distributions/gradle-3.1-bin.zip.sha256)

[2018-12-04 18:42] yurivict commented on #5483
It currently works with gradle-4.6, no need to go back to 3.1.

[2018-12-04 18:44] lbergelson commented on #5483
Sure, if it builds correctly, but it's not supported.

[2018-12-04 20:39] droazen commented on #5262
This is done -- I've sent the completed disclosure forms to our legal department. Closing!

[2018-12-04 20:39] #5262 closed

[2018-12-05 17:04] #2890 closed

[2018-12-05 22:33] jamesemery opened #5488 "Evaluate ReferenceConfidenceModel.calcNIndelInformativeReads() optimizations"
Based on my HaplotypeCaller GVCF performance evaluation, we are spending a significant amount of time in `ReferenceConfidenceModel.calcNIndelInformativeReads()', including upwards of 40% of the overall runtime on a bam under some conditions. To this end we have already done some performance work optimizing its constituent methods (#5469, #5470). Even with those changes it appears that the method c

[2018-12-05 23:21] #4867 closed

[2018-12-06 17:08] davidbenjamin commented on #5079
@MartonKN Note that if you write `closes #5079` in the PR you don't need to state that here because github automatically generates the cross-reference, as it did above for my comment.

[2018-12-06 20:11] #5174 closed

[2018-12-07 03:52] davidbenjamin opened #5492 "ReadPosRankSumTest doesn't work for two deletions with one base in between"
When `ReadPosRankSumTest.getReadPosition` encounters the second of two deletions with two bases in between it hits the following code:
[code]
which returns negative infinity.  Those with TCGA access can reproduce the issue by running on the TCGA exome pair ESCA-IG-A3YB-TP-NB at 15:34525804-34525810.

[2018-12-07 03:57] davidbenjamin commented on #5492
You can consider this fixed if it passes a simple unit test where you run `ReadPosRankSumTest.getReadPosition` on a few artificial read of the form <ref match><short deletion><short ref match of 1-5 or so bases><short deletion>.

[2018-12-07 13:58] ycl6 opened #5493 "Unable to disable command line in VCF header in FilterByOrientationBias"
## Bug Report

### Affected tool(s) or class(es)
FilterByOrientationBias

### Affected version(s)
gatk-4.0.11.0

### Description
Using `--add-output-vcf-command-line false` in `FilterByOrientationBias` didn't hide command line in the resulting VCF header

[2018-12-07 14:08] cmnbroad commented on #5493
Yeah, I think this is one of a number of tools that don't use `getDefaultToolVCFHeaderLines` to get the standard header lines, which honors this setting.

[2018-12-07 14:35] ldgauthier commented on #5434
So another inconsistency that arises from the support of non-overlapping reads is that the variants don't get annotated properly.  For example:
[code]
where the phased variant with no overlapping support is missing DP and the information for MQ because it has no reads from which to calculate those annotations.

[2018-12-07 17:18] #5456 closed

[2018-12-07 17:43] jonn-smith opened #5494 "Add bc to baseline docker image"
For the automated regression pipelines, I would like to add `bc` and possibly other programs to the docker image.

[2018-12-07 17:56] #5388 closed

[2018-12-08 07:16] yurivict opened #5499 "Build opens thousands of files and exceeds the file limit"
i386 build fails on FreeBSD: ```Too many open files```.

See the log: http://beefy11.nyi.freebsd.org/data/head-i386-default/p486731_s341608/logs/gatk-4.0.11.0.log

It seems that the build tools that you choose are broken, or something is broken in your build process.

[2018-12-09 05:11] #5079 closed

[2018-12-09 07:49] davidbenjamin opened #5500 "Non-flat prior in SomaticLikelihoodsEngine.alleleFractionsPosterior"
This uses a flat prior, which gives every allele one pseudocount and thus yields a non-sparse allele fractions array.  A sparse Dirichlet prior, which the code is already set up to handle, would be better.

[2018-12-09 07:52] davidbenjamin commented on #5352
Fixed for filtering in #5498.  `Mutect2` itself will be trickier because a lot of unused arguments are a result of `SomaticGenotypingEngine`'s inheritance.  This will involve significant refactoring, but the genotyping classes will make more sense.

[2018-12-10 14:28] tomwhite opened #5502 "Support -bamoutput in HaplotypeCallerSpark"

[2018-12-10 14:28] tomwhite opened #5503 "Support --activity-profile-out and --assembly-region-out in HaplotypeCallerSpark"

[2018-12-10 14:29] tomwhite opened #5504 "Support --sites-only-vcf-output in HaplotypeCallerSpark"

[2018-12-10 14:29] tomwhite opened #5505 "Support --create-output-bam-index in HaplotypeCallerSpark"

[2018-12-10 14:29] tomwhite opened #5506 "Support --create-output-variant-index in HaplotypeCallerSpark"

[2018-12-10 14:30] tomwhite opened #5507 "Investigate if GCVF blocks from HaplotypeCallerSpark can match HaplotypeCaller"

[2018-12-10 15:19] jamesemery commented on #5503
Of the outputs to HaplotypeCaller you have created issues for, my understanding is that this one in particular is mostly a debug tool. It may be helpful in our efforts to improve the spark version to implement this feature but its probably not a high priority.

[2018-12-10 15:23] tomwhite commented on #5503
Agreed. Also, given that it's difficult to get Spark to write to multiple output types at once, it would probably be easiest for these options to take the place of the final output, which would probably be OK since it's for debugging. Alternatively, there could be another tool for producing these outputs.

[2018-12-10 15:34] #5362 closed

[2018-12-10 15:34] cmnbroad commented on #4637
Closed via https://github.com/broadinstitute/gatk/pull/5422.

[2018-12-10 15:34] #4637 closed

[2018-12-10 17:58] kgururaj commented on #5449
I tried to reproduce this error, but failed. In fact, we have CI tests that exercise this case.

Could you describe the case in more detail? Perhaps I misunderstood

* VCF A (single sample VCF) has a long deletion and overlapping spanning deletions in subsequent lines
* It gets imported into GenomicsDB along with other files
* Querying a position that overlaps the long deletion causes a crash

[2018-12-10 18:00] MartonKN commented on #5079
Ok, thank you, David.

[2018-12-10 18:07] cmnbroad opened #5509 "Update JEXL recommendations in public documentation"
We should update any public docs that contain recommendations on how to write JEXL expressions to reflect the align with the doc changes made in https://github.com/broadinstitute/gatk/pull/5422. Specifically, we should recommend that multiple simple expressions be used in place of a single compound expression. Here are @sooheelee 's notes on what docs need to change:

Here are the documents we sho

[2018-12-10 20:17] ldgauthier commented on #5449
I verified that I can reproduce the issue with the latest version.  The allele-specific annotations seem to be key -- there's no crash if I exclude that argument. I will email you the GVCF.

[2018-12-10 20:32] bhanugandham commented on #5509
Assigning this to @rcmajovski

[2018-12-11 05:43] #4833 closed

[2018-12-11 12:58] rick-heig opened #5511 "Unit tests fail for class LeftAlignAndTrimVariantsUnitTest on master"
Hello.
I am not sure if this is a bug or simply a tool version problem but when running the tests with `./gradlew test` I get 18 failures with the `org.broadinstitute.hellbender.tools.walkers.variantutils.LeftAlignAndTrimVariantsUnitTest` class.

I wanted to make sure GATK was working right when compiled it from source to have a working base a I intend to try out some experimental modifications to

[2018-12-11 14:20] cmnbroad opened #5512 "Replace createVCFWriter(final File outFile) with Path overload."
Most tools that write vcf outs call `GATKTool.createVCFWriter(final File outFile)` because they use File arguments. Once https://github.com/broadinstitute/gatk/pull/5378 is merged, these calls should be replaced with calls to `GATKTool.createVCFWriter(final Path outFile)`.

It would be nice if during the same pass we:

- Replaced the type of the `File` arguments with the new `GATKUri` class.
- Int

[2018-12-11 14:30] cmnbroad commented on #5499
@yurivict I cant actually navigate to the build log you included, but since you seem to have previously [succeeded](https://github.com/broadinstitute/gatk/issues/5483) in building with gradle-4.6, which gradle version are you seeing this issue with ?  Do you know if its different in gradle 3.1 vs 4.x ?.

[2018-12-11 14:41] cmnbroad commented on #5511
@rick-heig I wouldn't expect to see those failures, so I think something is wrong. Are these the only tests in the entire suite that fail ? We pretty regularly run these tests on Ubuntu 16.04. Also please verify that you did install git-lfs and fetched the large files per the instructions in the README.md file ?

[2018-12-11 14:53] rick-heig commented on #5511
I get : `500032 tests completed, 20 failed, 1 skipped`

The 2 extra failed tests are spark related (I don't have a spark setup so I assume this is normal)
`ExampleAssemblyRegionWalkerSparkIntegrationTest. testExampleAssemblyRegionWalkerNonStrict`
`ExampleAssemblyRegionWalkerSparkIntegrationTest. testExampleAssemblyRegionWalkerStrict`
The skipped test is `testLikelihoodsFromHaplotypes[2](null, fals

[2018-12-11 15:10] meganshand opened #5513 "Mutect2 reports a SNP that should be included in a nearby MNP"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- [x] Latest public release version: 4.0.11.0
- [ ] Latest master branch as of [date of test?]

### Description
The output vcf for a few samples looks like this:

[code]

[code]

Note that site 152 is a T->C that is also captured in the MNP at site 151 CT->TC. In one case site 152 is filtered, but in the other it pas

[2018-12-11 15:44] klaricch commented on #5513
Here are the files for the two samples

614101:

gs://fc-c0ea1760-96cf-4b1a-9cc7-9938db0d25f4/WGSPD_Pato_USC_SCZ_Azores_WGS/G29747/WGS/614101/v1/614101.cram

gs://fc-secure-e76437bc-6309-4fcd-8444-b3dc9e1ecc12/6f86f480-d181-4347-9caf-25a0232bdeed/MitochondriaPipeline/2cb72ede-292b-48d7-bf2a-47f44c42300a/call-LiftoverAndCombineVcfs/output.final.vcf

https://storage.cloud.google.com/fc-secure-e76437

[2018-12-11 15:52] yurivict commented on #5499
The log in on IPv6.
I use gradle-4.6.

[2018-12-11 15:54] yurivict commented on #5499
[code]

[2018-12-11 15:57] yurivict commented on #5499
gradle people are also saying that you should upgrade to the latest version of gradle: https://github.com/gradle/gradle/issues/7973

[2018-12-11 16:20] #4675 closed

[2018-12-11 18:45] meganshand commented on #5513
We have access to data that should reproduce this issue, but can't post it here because it's not publicly shareable BAMs. Please let me know how I can share the data if someone decides to look at this issue. Thanks!

[2018-12-11 20:31] jonn-smith opened #5515 "Prefetching should be smarter to help with large files"
The prefetching code right now grabs one "block" at a time around the site of interest.

It would be beneficial to make the prefetching smarter so that it performs better when there are large files involved.

A couple of options:

* Slightly smarter (still simple):
  * keep 1 block before, current block, and one block ahead at all times

* Much smarter:
  * determine where the next position ( or n

[2018-12-12 03:01] davidbenjamin commented on #5513
Are we positive that there is a problem with this call?  It's certainly possible that some haplotypes carry both the C->T and T->C while some haplotypes only carry the latter.

[2018-12-12 12:55] rick-heig commented on #5511
Hello.
If I launch the tests by themselves with the following command they all pass
[code]

But when launching all the tests altogether I get
[code]

[2018-12-12 13:15] cmnbroad commented on #5511
@rick-heig Ah - thats super helpful - I think I see the problem. Is is possible for you try running the tests with [this branch](https://github.com/broadinstitute/gatk/tree/cn_left_align) ?

[2018-12-12 13:23] cmnbroad commented on #5511
@rick-heig Oh wait - I pushed that commit too fast. I'll let you know when there is a branch to try.

[2018-12-12 13:32] cmnbroad commented on #5511
@rick-heig Ok - if you can give [this branch](https://github.com/broadinstitute/gatk/tree/cn_left_align) a try.

[2018-12-12 15:04] ldgauthier commented on #5513
This is why I was so loathe to output MNPs for so long. I believe David is right - especially since in the first sample the SNP is phased with another SNP on the other side of the control region (which might be a little confusing to the first time MT analyst, but we put a pin in that), but not the other MNP position. The implication here is that there are three alleles: CT, TC and CC, but the repr

[2018-12-12 18:24] davidbenjamin commented on #3697
@kelepiradam @sooheelee @droazen I have diagnosed the problem in the original issue at the top of this page.  When we increase interval padding we introduce additional downstream reference sequence that is homologous to kmers with the variants that get dropped.  Thus the kmers with the variant never actually get threaded into the graph because we only start threading at unique kmers.  When you cha

[2018-12-12 18:38] jonn-smith opened #5517 "Must account for BGI sequence platform (and possibly others)"
Currently `ValidateSamFile` has a limited list of platforms which does not include `BGI`.

We should add `BGI` to the list of valid platforms, and we should review our list of supported platforms to make sure there are no others we are missing.

[2018-12-12 20:17] lbergelson commented on #5517
@yfarjoun Do you know if BGI's sequencing is compatible with our tools without any special treatment?

[2018-12-12 20:42] ldgauthier commented on #3412
I hit this same error attempting a 156K callset.  I'm rerunning with more memory and also downloading the GDB for debugging, which is 46GB.  :-/

[2018-12-12 22:32] yfarjoun commented on #5517
According to this paper https://www.nature.com/articles/s41467-018-03590-5

it is: "Each resulting qualified captured library with the SureSelect Human
All Exon kit (Aglient) was then loaded on *BGISEQ-5000 *sequencing
platforms, and we performed high-throughput sequencing for each captured
library. High-quality reads were aligned to the human reference genome
(GRCh37) using the Burrows-Wheeler Al

[2018-12-13 05:33] kelepiradam commented on #3697
Awesome news. Looking forward to test it.

[2018-12-13 09:32] rick-heig commented on #5511
Ok, this seems to solve it. I ran :
[code]

And got all the tests to succeed (except the two spark related ones as before).

[2018-12-13 13:14] cmnbroad commented on #5511
Ok, thanks for validating that. I'll make a PR for this change (the way those unit tests are written is a little sketchy so I may fix that at the same time).

I forgot about the spark failures - can you post the log output for those failures as well ?

Also, to answer your original question, you should generally always be able to work directly from head of master and all tests should pass, though

[2018-12-13 15:36] ldgauthier commented on #3697
These all sound like positive improvements.  Provided they don't affect performance by dramatically increasing the number of discovered haplotypes, I'm on board.  Hopefully this will go a long way towards removing the dependence of calling on the active region boundaries.

[2018-12-13 15:44] meganshand commented on #5513
Ah I see, I think you're both right: we have three alleles CT, TC and CC. The ADs don't really make sense to me though. For one sample we have:

sample | CT allele depth at site 151 | TC allele depth at site 151 | *T allele depth at site 152 | *C allele depth at site 152
---|---|---|---|---
sample 1 | 27 | 3242 | 250 | 25
sample 2 | 13 | 1792 | 0 | 1755

There isn't a huge drop in coverage between

[2018-12-13 15:57] droazen commented on #3697
That's great news @davidbenjamin -- I think this issue has been around as long as the `HaplotypeCaller` has been in existence, so I imagine that the GATK community will be very appreciative of a solution after all these years! @jamesemery @jonn-smith take note (https://github.com/broadinstitute/gatk/issues/3697#issuecomment-446691512)

[2018-12-13 16:30] davidbenjamin commented on #5513
When the engine "marginalizes" haplotype likelihoods into allele likelihoods it avoids double-counting of both the MNP at 151 and the SNP at 152.  That is, the CT->TC MNP haplotype is consistent at 152 with the T->C SNP, but it has a different start position and therefore is not marginalized into the evidence for the SNP.  So the fact that the DP in sample1 is much less at 152 than at 151 makes se

[2018-12-13 16:45] cwhelan commented on #5513
As the party responsible for recently re-writing `AssemblyBasedCallerGenotypingEngine.createAlleleMapper` feel free to loop me in to see if I introduced a bug for MNPs here, and help figure out how to fix it.

[2018-12-13 16:45] davidbenjamin commented on #4942
I evaluated an extremely naive prototype of this -- it just forced every read to begin threading at the read start -- on Mutect2 and it improves sensitivity and harms precision by small amounts.  I'm pretty sure we can get the precision back by instead starting threading a before at the first unique kmer but then threading *backwards* to the beginning of the read.  If we start threading forward at

[2018-12-13 16:48] davidbenjamin commented on #5513
I doubt it's your fault, but it could easily be mine for blithely giving M2 a GGA mode and figuring this kind of thing would just work out somehow.

[2018-12-13 16:55] cwhelan commented on #5513
If there is a bug (I haven't quite figured that out yet), it seems like it could also affect HaplotypeCaller in GGA mode if there are MNPs in the given alleles file.

[2018-12-13 17:13] davidbenjamin commented on #5513
Although HaplotypeCaller's GGA mode *overrides* discovered alleles, whereas Mutect2's GGA mode *adds* to them.

[2018-12-13 21:22] vruano commented on #5434
I guess that should be fixed as well. Do you have the command and data to reproduce... I can add the integration test for that.

[2018-12-14 15:02] ldgauthier commented on #5434
This is a different sample/locus, but same issue:
`java -jar $GATKjar HaplotypeCaller --emit-ref-confidence GVCF --gvcf-gq-bands 10 --gvcf-gq-bands 20 --gvcf-gq-bands 30 --gvcf-gq-bands 40 --gvcf-gq-bands 50 --gvcf-gq-bands 60 --gvcf-gq-bands 70 --gvcf-gq-bands 80 --gvcf-gq-bands 90 --contamination-fraction-to-filter 0.011583226666666667 -L gs://broad-gotc-dev-cromwell-execution/ExomeGermlineSingl

[2018-12-14 15:32] tfenne opened #5523 "What's the correct output for a SNP with a spanning MNP"
## Bug Report

We've run into a bit of a weird situation with HaplotypeCaller where what we appear to have is two hapolotypes within one individual where one haplotype carries a 3bp MNP (GGC->TGT) and the other haplotype carries only the second substitution (i.e. GGC -> GGT).

Here's an IGV snapshot of the region in question:

![mnp_and_snp](https://user-images.githubusercontent.com/1609210/500114

[2018-12-14 15:32] tfenne commented on #5523
cc @nh13 who's also been thinking about this a bunch.

[2018-12-14 15:46] bhandsaker commented on #5523
For what it's worth, my view when the * allele was proposed/added was that the spec should say "incompatible spanning allele", instead of "spanning deletion", but I didn't prevail.

-Bob

On 12/14/18 10:32 AM, Tim Fennell wrote:

[2018-12-14 16:03] cwhelan commented on #5523
I'm actually a little surprised that it's not emitting a 1/* at the second location (despite that perhaps not being compatible with the spec; I agree with @bhandsaker 's view of what `*` should mean) given the changes I made in https://github.com/broadinstitute/gatk/pull/4963 to support spanning deletions. Those changes were not made with MNPs in mind but reading the code I'm surprised the `*` all

[2018-12-14 16:18] tfenne commented on #5523
Thanks for the input @bhandsaker and @cwhelan.  The calls were made with version `4.0.10.0`.  I thought that was the latest - but it looks like we're a couple of minor versions behind.  I'll retry making those calls with the latest version and see if it persists.  Are the changes you're talking about in the latest release version or just on master?

[2018-12-14 16:22] cwhelan commented on #5523
The spanning deletion changes were in `4.0.9.0` so I must be mistaken about my expectation about how the code would work in this scenario. Once we figure out what the desired behavior is I can try to figure out how to make the changes if we do want to use the `*` allele.

[2018-12-14 17:52] nh13 commented on #5523
Why not just output one record?  Based on the haplotype assembly BAM I would have expected just this call:

[code]

[2018-12-14 22:16] ldgauthier commented on #5523
That representation would make the most sense, but the reason we don't do it right now is that the haplotypes are treated separately when we enumerate the variants, so the single SNP haplotype doesn't know about the MNP that contains the same SNP and the single SNP representation is carried through as if it's an independent event, which it isn't really.  This goes back to David's dream in #1700 of

[2018-12-14 23:04] cmnbroad commented on #5509
I believe this has been done now (https://dsp-comms.monday.com/boards/145112271/pulses/154019058), so I'm restoring the  link in the gakt docs for VariantFiltration.

[2018-12-17 04:11] sooheelee commented on #5509
This is done so I will close the ticket.

[2018-12-17 04:11] #5509 closed

[2018-12-17 04:53] sooheelee opened #5527 "Add SNP and INDEL modes to VariantFiltration similar to ApplyVQSR"
## Feature request
It would be great if VariantFiltration could hard filter with `-mode SNP` and `-mode INDEL` like ApplyVQSR. These modes do not currently exist in VariantFiltration.

Currently, the hard-filtering recommendation is to subset the VCF to separate SNPs-only and INDEL-only VCFs and then to hard-filter with VaraintFiltration using different thresholds for each type. When using SelectV

[2018-12-17 04:55] sooheelee commented on #5527
@droazen would this be possible? Thanks.

[2018-12-17 08:21] rick-heig commented on #5511
Hello.
Thank you for your answer.

Attached are the logs of the Spark failures.
[org.broadinstitute.hellbender.tools.examples.ExampleAssemblyRegionWalkerSparkIntegrationTest.html.zip](https://github.com/broadinstitute/gatk/files/2685031/org.broadinstitute.hellbender.tools.examples.ExampleAssemblyRegionWalkerSparkIntegrationTest.html.zip)

[2018-12-17 08:29] sooheelee opened #5529 "Request for clarification of code comment on type of alignment performed by Haplotypecaller (pairHMM)"
Researcher reports a discrepancy in code comments (two occasions) vs. what is actually implemented in the code. The concern is that pairHMM actually performs global alignment (Durbin Figure 4.2) but the code comments indicate local alignment and Durbin Figure 4.3.

---
Hello, thank you for your reply.
The algorithm is clear to me, from what I read of the code it is effectively the right of figure

[2018-12-17 08:30] sooheelee commented on #5529
Can you please help clarify @ldgauthier or @davidbenjamin? Many thanks.

[2018-12-17 08:35] sooheelee commented on #5529
Looks like the researcher is one step ahead and filed a pull request at https://github.com/broadinstitute/gatk/pull/5528.

[2018-12-17 16:10] sooheelee commented on #1537
Have since learned external tools can separate out mixed-type records into biallelic records.

[2018-12-17 16:10] #1537 closed

[2018-12-17 16:22] lbergelson opened #5530 "Create a new tool which creates all fasta auxiliary files"
We should have a single tool that produces all then necessary auxilliary files for a fasta or fasta.gz.

- [ ]  .fai
- [ ] .dict
- [ ] .gzi for fasta.gz

These can currently be produced with a mix of tools including samtools faidx, picard CreateSequenceDictionary and bgzip.

This could be accomplished by  #1545 or on it's own.

[2018-12-17 16:24] davidbenjamin commented on #3697
Looping in @kachulis.

[2018-12-17 17:04] davidbenjamin opened #5531 "Learn polymerase slippage / STR indel model parameters"
One of the most important filters in Mutect2 is the STR / polymerase slippage filter.  It has some hard-coded parameters of PCR slippage rates as a function of STR repeat unit and length.  We could probably increase indel sensitivity a lot (decrease filtered false negatives) by learning a model for each bam.

[2018-12-17 19:05] droazen opened #5532 "HaplotypeCallerIntegrationTest: migrate away from GATK3 concordance tests"
`HaplotypeCallerIntegrationTest` has two kinds of tests: exact-match tests against prior output to let us know when ANYTHING changes, and looser concordance tests against GATK3 output.

The exact-match tests should stay, and are not a problem now that we've implemented an `UPDATE_EXACT_MATCH_EXPECTED_OUTPUTS` toggle to update them all at once.

The GATK3 concordance tests, however, are past their

[2018-12-17 19:05] droazen commented on #5532
@davidbenjamin / @ldgauthier, interested in this one?

[2018-12-17 19:08] lbergelson opened #5533 "running gatk --version should print the version instead of UserException"
Running `gatk --version` produces a dump of all the available tools and then a user exception.
[code]
It should print the version instead.

[2018-12-17 19:24] bhanugandham commented on #5245
Hi @sooheelee

whats the timeline on this? We have a user unable to view the VariantAnnotator in the latest version. Thank you!

[2018-12-17 19:35] bhanugandham commented on #5245
Thank you @cmnbroad 👍

[2018-12-17 20:58] davidbenjamin opened #5534 "Scatter all bam walkers in M2 WDL"
Currently we scatter `Mutect2` itself but not `CalculateContamination` and `CollectF1R2Counts`.  These take a few hours and it would be nice for development to be able to lower wall clock time.

I propose running `CollectF1R2Counts` and `GetPileupSummaries` within the scattered `M2` task and then combining the scattered output tables.  This seems cleaner than having multiple independent scatters.

[2018-12-17 21:17] droazen commented on #5532
@davidbenjamin Of course you can! I might at some point solicit your opinion on what you think the truth set should be, however.

[2018-12-18 05:02] davidbenjamin commented on #4893
And probably the STR / polymerase slippage filter, too.

[2018-12-18 14:59] takutosato commented on #5534
Sounds good! I can work on it - should be a straightforward exercise in IO to concatenate the scattered output files (and sorting for `GetPileupSummaries`, I think)

[2018-12-18 15:32] cmnbroad commented on #5511
@tomwhite @jamesemery Any insight as to why these `ExampleAssemblyRegionWalkerSpark` tests might be failing ?

[2018-12-18 15:47] cmnbroad commented on #5255
Closing as obsolete, since we now have a single conda env which does have CI tests.

[2018-12-18 15:47] #5255 closed

[2018-12-18 16:10] tomwhite commented on #5511
It's not immediately obvious why the Spark tests are failing. It could be something to do with the Spark context which is shared between tests, and which may be picking up some state that is not cleared from one test to the next. The tests are passing on Travis, which also runs all of them.

Do they fail if you run them individually?

[2018-12-19 07:45] xiucz opened #5536 "Has anyone reported the new release 4.0.12.0 CalculateContamination's BUG?"
Hi,

 I report a bug here https://gatkforums.broadinstitute.org/gatk/discussion/23236/has-anyone-reported-the-new-release-4-0-12-0-calculatecontaminations-bug/p1?new=1.

[2018-12-19 21:07] davidbenjamin commented on #5534
@takutosato Alright, it's yours.  By the way, even though some or all of this could be done in bash, I think we should make proper GATK tools for merging.

[2018-12-20 11:51] rick-heig commented on #5511
Sorry for the delay, when running the tests individually I get :
[code]
So they seem to work when launched individually, like the other tests.
So it seem like there is a similar problem for these tests.

[2018-12-20 12:00] tomwhite commented on #5511
@rick-heig thanks for reporting back. It does look like it's a problem with Spark state then. I will see if I can reproduce the problem.

[2018-12-20 18:40] cmnbroad opened #5542 "MarkDuplicatesSparkArgumentCollection arguments are not always honored"
`MarkDuplicatesSpark`, `BwaAndMarkDuplicatesPipelineSpark` and `ReadsPipelineSpark` all include `MarkDuplicatesSparkArgumentCollection`, but `remove-all-duplicates` and `remove-sequencing-duplicates` are only honored by `MarkDuplicatesSpark`. These would be silently ignored if populated by a user for `BwaAndMarkDuplicatesPipelineSpark` or `ReadsPipelineSpark`.

[2018-12-20 19:59] kachulis opened #5543 "PairHMM related bug"
Coming from https://gatkforums.broadinstitute.org/gatk/discussion/9358/gatk-runtime-error-read-max-length-must-be-0-but-got-0-with-1000g-bam#latest.  There seems to be a bug somewhere in the implementation of pair hmm, which multiple users have run into.  The most recent user reported running Mutect2 on two different machines with the same inputs, and same versions of GATK.  One run was successful

[2018-12-21 16:01] Arhodes-Broad commented on #4987
Hello, we have another researcher asking about this error here: https://gatkforums.broadinstitute.org/gatk/discussion/comment/54993#Comment_54993

[2018-12-21 16:43] cmnbroad opened #5545 "ReadsPipelineSpark Jenkins test fails"
[code]

here’s the command line
bamIn=gs://broad-gatk-test-jenkins-robust/CEUTrio.HiSeq.WEx.b37.NA12892.readnamesort.bam
refIn=gs://broad-gatk-test-jenkins-robust/human_g1k_v37.fasta
bamOut=gs://broad-gatk-test-jenkins-write-robust/CEUTrio.HiSeq.WEx.b37.NA12892.readnamesort.bam.md.bqsr
knownIn=gs://broad-gatk-test-jenkins-robust/dbsnp_138.b37.excluding_sites_after_129.vcf
vcfOut=gs://broad-gatk-te

[2018-12-21 16:55] cmnbroad commented on #5545
@tomwhite I think this might have been from the first run of the jenkins tests since the disq change over. You should have access to the `broad-gatk-test-jenkins-robust` bucket now if you need it.

[2018-12-21 18:44] lbergelson commented on #5220
I'm closing this since it's identical to but harder to find than #5447

[2018-12-21 18:44] #5220 closed

[2018-12-21 18:51] lbergelson commented on #5447
This will be fixed once https://github.com/googleapis/google-auth-library-java/pull/214 is incorporated into gatk, but we're waiting on another release of the google auth library and then the nio library which might take a bit.

[2018-12-21 19:53] jjfarrell opened #5547 "gatk-4.0.12.0 CountReadsSpark fails reading cram"
## Bug Report

### Affected tool(s) or class(es)
CountReadsSpark

### Affected version(s)
gatk-4.0.12.0

### Description
Reading cram generates the following error when running CountReadsSpark on yarn.

[code]
#### Steps to reproduce
/gatk-4.0.12.0/gatk  CountReadsSpark --input /project/casa/gcad/adsp.cc/cram/A-ADC-AD010072-BL-NCR-11AD44210.hg38.realign.bqsr.cram  --reference file:///restricted/pr

[2018-12-21 20:01] cmnbroad commented on #5547
@jjfarrell The error message usually indicates that the reference supplied isn't the same (exact) same one that was used to create the cram. Can you try using `samtools view` on the same file/ref pair, and see if that works.

[2018-12-21 21:14] jjfarrell commented on #5547
I ran an earlier version of GATK 4 and it worked fine using the same
command line.

John

On Fri, Dec 21, 2018 at 3:02 PM Chris Norman <notifications@github.com>
wrote:

--
John Farrell, Ph.D.
Biomedical Genetics-Evans 218
Boston University Medical School
72 East Concord Street
Boston, MA

ph: 617-358-3562 (New Number)

[2018-12-21 22:09] jjfarrell commented on #5547
@cmnbroad @tomwhite

Here it works fine with the earlier 4.0.3.0 with the Hadoop-Bam library (except it is very slow). It counted 806177853 reads. The issue is probably related to the upgrade from Hadoop-BAM library to the newly-developed Disq library

[code]

[2018-12-23 20:34] vdauwera opened #5550 "Source the tab completion in the docker bash profile so it just works"
## Feature request

### Tool(s) or class(es) involved
gatk-completion.sh in docker container

### Description
When using the GATK docker for interactive work (eg in a workshop), currently we have to do `source gatk-completion.sh` to activate tab completion, or add something to that effect to the bash profile. Would be great to have that already set up in the docker by default (just like the gatk w

[2018-12-23 20:35] vdauwera commented on #5550
Would be really great if this could go out in 4.1...

[2018-12-24 17:43] tfenne commented on #5523
@cwhelan & @ldgauthier sorry for the delay on getting back this issue.  Firstly, I just grabbed the new release (4.0.12.0) and re-ran with that to generate both gVCF and VCF.  The VCF output still generates the 1/1 genotype unfortunately.  What's interesting though is that the gVCF is capturing the spanning allele!  So it looks like `GenotypeGVCFs` is causing the problem.

Here are the rows from t

[2018-12-25 04:14] indraniel commented on #5433
Looks like the work in [pull request 5435](https://github.com/broadinstitute/gatk/pull/5435) is related to this issue.

[2018-12-26 04:06] TedBrookings commented on #5433
Yes, I messed up the commit message and wrote that it "resolves issue 5433" instead of "resolves issue #5433". Without the hash I guess github assumes it's stupid meatbag language and ignores it. The bug should be fixed so I'm closing the issue manually. Sorry to leave this hanging the last month, and thanks for pointing it out.

[2018-12-26 04:06] #5433 closed

[2018-12-26 06:31] indraniel commented on #5433
No worries!  Thanks again for the fix!

[2018-12-27 03:13] #3561 closed

[2018-12-28 05:04] byoo opened #5553 "FilterMutectCalls (gatk 4.0.12.0) fails due to the probability value of NaN"
Hello,

I'd like to report a FilterMutectCalls error. It was run using mutect2.wdl with gatk 4.0.12.0.
FilterMutectCalls of gatk 4.0.10.1 succeeded using same input.
Please let me know if there is something else I can provide. Thank you.

[code]

[2018-12-31 04:18] davidbenjamin commented on #5553
@byoo Could you take the unfiltered vcf: `/gpfs/data/software/cromwell/log/cromwell-executions/Mutect2/0c2281d2-9d90-4ee3-88bb-f0bb015cdb7c/call-Filter/attempt-4/inputs/-356078842/Ameloblastoma_FFPE_P5-unfiltered.vcf.gz`, and restrict it to a small interval (at big as one chromosome and small as just the problematic site) surrounding the variant that causes the error?  If the stderr isn't enough t

[2018-12-31 04:20] davidbenjamin commented on #5536
Note: I followed up on this December 19.  The discussion continues on the GATK forum.

[2019-01-02 14:57] cmnbroad commented on #5547
@jjfarrell In addition to the switch to disq, GATK 4.0.12.0 also included an updated htsjdk that had CRAM changes. It would be helpful to know if CountReads (non-spark) from that same GATK version works on this file, since that would help narrow down whether its disq-related. Is it possible to run that and let us know the results ? Thx.

[2019-01-02 20:59] jjfarrell commented on #5547
@cmnbroad

The non-spark version  of CountReads runs fine......

[code]

[2019-01-02 21:46] #5128 closed

[2019-01-02 21:48] jonn-smith opened #5558 "Funcotator should be able to toggle between using and ignoring transcript ID version numbers."
Funcotator currently ignores transcript version numbers when doing internal comparisons.

There should be a flag to enable transcript ID version checking (but it should remain off by default).

[2019-01-03 02:34] SaintBacchus commented on #5265
@droazen is there any plan to do this work?

[2019-01-03 03:33] #5533 closed

[2019-01-03 16:33] #5088 closed

[2019-01-03 16:58] droazen commented on #5265
@SaintBacchus Yes, this work is in progress. The first step was to add a "strict" mode to `HaplotypeCallerSpark` that causes it to match the output of the regular `HaplotypeCaller` very closely (this was done in https://github.com/broadinstitute/gatk/pull/5416). The next step will be to improve the performance of the Spark version.

[2019-01-03 17:48] #4668 closed

[2019-01-03 20:15] jamesemery opened #5559 "Add support for cram inputs for RevertSamSpark"
When #5395 goes in, we should reenable cram inputs to the tool, as they were disabled due to some issues related to cram support on spark. Currently it is explicitly disabled by the tool but that could be reverted if we trust cram inputs again.

[2019-01-03 21:03] #5398 closed

[2019-01-04 13:36] #5550 closed

[2019-01-04 14:19] cmnbroad commented on #5547
@jjfarrell Thx for trying that. @tomwhite It seems this is likely a disq issue. Can you take a look?

[2019-01-04 14:50] MikeWLloyd commented on #5553
I've hit the same issue. I can't say for certain the files I'm using run cleanly, because I had been getting the error associated with 'AF=.' #5442.

[code]

[2019-01-04 15:00] davidbenjamin commented on #5553
@MikeWLloyd Could you provide the same data that I requested above from @byoo?  If the data are public you could also share the whole unfiltered vcf.

[2019-01-04 15:12] ldgauthier opened #5561 "Improve M2 ref conf compute performance"
The somatic likelihoods model becomes very expensive when evaluated at every reference position.  MT calling takes about 40 minutes in GVCF mode and 5 minutes without ref conf.  Ideas for optimization include:
- Reducing the convergence threshold for `alleleFractionsPosterior` method (my initial attempts here didn't make a big improvement)
- Using a simplified likelihoods model for reference sites

[2019-01-04 15:32] MikeWLloyd commented on #5553
Unfortunately, these data are not public so I can not share them.

My Mutect2 runs were already split by chr. I've run one chr within a docker container built from `docker pull broadinstitute/gatk`  using the command you provided above: `gatk FilterMutectCalls -V chr1.vcf -O temp.vcf`. That crashes out immediately (0.05 runtime) with the same error, and `temp.vcf` has the vcf header but nothing be

[2019-01-04 16:20] davidbenjamin commented on #5553
@MikeWLloyd Hmm, could you de-identifty your data by cutting out the header, contig, position, and allele fields and post the first few lines here?  For example:

[code]

This command yields the INFO and FORMAT fields alone.

[2019-01-04 16:35] byoo commented on #5553
Sorry for late response. Here's a variant  from my run causing the exception.

[code]

[2019-01-04 16:38] MikeWLloyd commented on #5553
Here are the first 100 lines.

[code]

[2019-01-04 16:42] #4461 closed

[2019-01-04 16:51] davidbenjamin commented on #5553
@byoo @MikeWLloyd Thanks very much!  I will fix this ASAP.

[2019-01-06 03:19] davidbenjamin commented on #5553
@byoo @MikeWLloyd I reproduced your errors and fixed them, at least on my laptop, in PR #5563.  Thank you for your help, and please don't hesitate to speak up if the bug remains for you once this PR goes in.

[2019-01-06 03:33] davidbenjamin commented on #3697
@munrosa Is there any chance we could use part of the data you shared as an integration test within the gatk repository?  The repo is public, but we would only need a few hundred bases of your data and could anonymize the sample name and anything else in the header.

We fully understand if this is not possible, and are very grateful for the help you have given already.

[2019-01-06 15:14] bounlu commented on #5553
I just got the same error:

[code]

[2019-01-06 15:49] davidbenjamin opened #5564 "Are our default SW parameters reasonable?"
We recently updated (PR #4858) the default Smith-Waterman parameters for realigning reads to their best haplotype.  Although there is no reason for the alignment of haplotypes to the reference to use the same parameters, it seems like we are similarly favoring indels too much.  There is a forum discussion to this effect:

https://gatkforums.broadinstitute.org/gatk/discussion/23230/gatk-haplotypeca

[2019-01-07 09:53] tomwhite commented on #5547
Disq uses different code for finding container offsets compared to Hadoop-BAM, so that might be where the problem is coming from. However, I need access to the file that it's failing with to diagnose the issue. @jjfarrell how can I get a copy?

[2019-01-07 11:35] tomwhite commented on #5511
When I run the whole test suite with `./gradlew test` ExampleAssemblyRegionWalkerSparkIntegrationTest passes (both its tests). So I'm not sure how to reproduce this, which makes it a bit tricky to fix.

BTW I'm using a later version of Java, not sure if this is relevant though.

[code]

[2019-01-07 13:14] rick-heig commented on #5511
It doesn't seem related to the version of java. I updated my version of java to
[code]

The issue remains the same, I pulled the latest commit on master and ran
[code]
The behavior is the same, the exact two same tests fail.

[2019-01-07 14:07] tomwhite commented on #5545
@davidbernick @cmnbroad Thanks for reporting this. It looks like there is a bug with writing sharded BAM output to GCS. I'm currently testing a fix in Disq, but in the meantime you could drop `--sharded-output true` as a workaround to see if that fixes the problem.

[2019-01-07 16:48] jjfarrell commented on #5547
@tomwhite

I found this 1000 genomes cram that also generates the error.  The test cram above would take a lot of paper work to make available.

[code]

Here is the error with this cram....

[code]

CountReads runs fine.....

[code]

[2019-01-07 17:08] #5553 closed

[2019-01-07 18:22] droazen commented on #5313
@davidbenjamin Ok, thanks for giving this a try!

[2019-01-07 18:23] cmnbroad commented on #5439
@bbimber I have branches where I've started the work for this ticket as well as https://github.com/broadinstitute/gatk/issues/5441. It may be hard to do them separately. They're not ready yet, and I hope to get back to it sometime this month, but just wanted you to know in case you're planning to spend any time on these.

[2019-01-08 09:56] tomwhite commented on #5545
Disq fix is https://github.com/disq-bio/disq/pull/73

[2019-01-08 14:42] tomwhite commented on #5547
@jjfarrell thank you for this! I've managed to reproduce the problem now. Next step is to figure out the underlying cause.

[2019-01-08 15:25] davidbernick commented on #5545
Where should I drop the switch?

[2019-01-08 20:05] droazen commented on #4965
@jamesemery We've been asked to re-prioritize fixing the nightly builds -- adding to this quarter's goals.

[2019-01-08 20:44] #4724 closed

[2019-01-09 09:59] tomwhite commented on #5511
@rick-heig thanks for trying again. I ran the tests on Ubuntu 18.04 (the previous attempts were on a Mac), and the Spark tests didn't fail for me there either...

[2019-01-09 12:16] tomwhite commented on #5547
@jjfarrell @cmnbroad I tracked the problem down to htsjdk, see https://github.com/samtools/htsjdk/pull/1255.

What seems to be happening is that `SeekableStream#available()` is returning a negative value due to int overflow, which `ReadableByteChannelImpl` is relying on to fill its byte buffer (from `AbstractIndexedFastaSequenceFile#getSubsequenceAt`). When it gets a negative value it returns earl

[2019-01-09 18:49] droazen commented on #5428
@jonn-smith Is this one fixed yet?

[2019-01-09 18:57] jjfarrell commented on #5547
@tomwhite

I tried rerunning the job using a bgzip reference  to work around the problem.  However, the same error is being generated (htsjdk.samtools.cram.CRAMException: Reference sequence MD5 mismatch for slice).

[code]

Just to verify, the non-spark version still runs fine with the compressed fasta....

[code]

[2019-01-09 19:50] jonn-smith commented on #5428
@droazen No.  It won't be fixed until the sources are released again, which is backed up by a couple of other things.

[2019-01-10 11:06] tomwhite commented on #5547
@jjfarrell @cmnbroad looks like I was wrong about fasta.gz as they do not work for CRAM references in Spark.

To get this to work htsjdk's `BlockCompressedIndexedFastaSequenceFile` will need changing to allow it to be constructed with a `SeekableStream`, then Disq will need updating to use that.

[2019-01-11 00:39] bhanugandham commented on #4387
Hi Chris,

We have a user enquiring about  an update on this issue. Do we have a timeline for this?

[2019-01-11 14:52] ldgauthier commented on #5330
Why is there anything random about SelectVariants?  This gives me a bad feeling in the pit of my stomach.

[2019-01-11 15:02] sooheelee commented on #5527
In my opinion, this feature has become pertinent for VariantFiltration because our callers now output spanning deletions starting with v4.0.9.0 (see https://github.com/broadinstitute/gatk/pull/4963). When we separate out SNP type and INDEL type variants, any associated spanning deletions are lost and _cannot be recovered_. This loss of information is undesirable and it would be great if we could h

[2019-01-11 15:02] ldgauthier opened #5568 "GDB feature request: silence buffer resize logging"
@nalinigans I have some very long-running jobs that I'm trying to track, but my stderr is choked with buffer resize outputs.  Would it be possible to turn those off by default or add a flag to turn them off?  It makes for huge log files and it's hard to track if the log is still being updated for jobs that run >24hrs.

[2019-01-11 15:12] ldgauthier opened #5569 "GDB feature request: ability to query across two GenomicsDB workspaces"
@nalinigans We have a use case that came up recently where we want to combine data across two cohorts that we've already imported.  Doing a new import of the combined sample set would be a lot more compute, and in this particular case I've had difficulty with an import of so many samples (~120K).  This doesn't have to be the same as an incremental add and doesn't necessarily have to support query

[2019-01-11 15:15] ldgauthier opened #5570 "GDB feature request: sample subsetting for queries"
@nalinigans I'm not aware of any existing functionality to subset samples in a GenomicsDB query, but that would be very helpful.  For the use case mentioned in #5569, some of the samples would ideally be excluded because they fail QC.  For sites that are called in very few samples, doing the subsetting during the query will give the most accurate INFO field data.  For example, if two samples have

[2019-01-11 16:16] droazen opened #5571 "Index files should have an integrity check built-in"
There should be a robust mechanism to check whether an index file is up-to-date with respect to the file it indexes (eg., UUIDs, hashes, etc.). Modification time alone is not sufficient, since files can get uploaded out-of-order in cloud environments.

[2019-01-11 16:16] droazen commented on #1683
Closing in favor of https://github.com/broadinstitute/gatk/issues/5571

[2019-01-11 16:16] #1683 closed

[2019-01-11 16:32] droazen commented on #3459
Closing this ancient issue, since as @tedsharpe mentioned it appears to fix a problem that can't occur in practice. Feel free to re-open if someone feels strongly that this patch should go in.

[2019-01-11 16:32] #3459 closed

[2019-01-11 17:07] sooheelee commented on #5409
@ldgauthier, [I've been assigned this doc update](https://dsp-comms.monday.com/boards/145112271/pulses/149558386). I'm wondering if you have in mind updates to a specific existing document, e.g. tool doc, or if we are to create a new tutorial on CalculateGenotypePosteriors. I had already created some preliminary content covering the tool as an extension of the Variant Discovery workshop hands-on t

[2019-01-11 17:18] quantumdot commented on #5342
Also seem to be experiencing this issue:

[code]

The filesystem is being mounted at boot time in /etc/fstab as follows:
[code]

[2019-01-11 17:45] ldgauthier commented on #5409
I didn't expect for this particular clarification to launch a tutorial.  I think the tool docs (i.e. javadoc) should be updated and a new note about pairs in the workflow docs (https://software.broadinstitute.org/gatk/documentation/article?id=11074), in the intro and probably at the section at the end about "family priors". Incidentally I'm seeing that the LaTeX at the end of that doc isn't coming

[2019-01-11 17:49] ldgauthier commented on #5342
Karthik had suggested setting the environment variable TILEDB_DISABLE_FILE_LOCKING=1 for NFS (see https://github.com/broadinstitute/gatk/issues/4753) -- maybe give that a shot?

[2019-01-11 18:04] sooheelee commented on #5409
Sure @ldgauthier, I can update the javadoc and [Article#11074](https://software.broadinstitute.org/gatk/documentation/article?id=11074). It might take me some time to figure out the LaTeX part. I remember @vdauwera mentioning this was something we will fix on the forum management side. Any help towards what needs to be fixed would be appreciated @vdauwera or I can contact Vanilla for help.

[2019-01-11 18:32] sooheelee commented on #5409
@vdauwera, fyi here is a link to our SLACK discussion about the LaTeX issue: https://broadinstitute.slack.com/archives/C33EBDEAX/p1540481072000100.

To quote:

First thing to check: is the formatting messed up on both the forum view and the doc website view? That will help narrow down the problem
We don’t want to use pictures of rendered equations

Then @bhanugandham confirms the issue is on both

[2019-01-11 20:24] jonn-smith opened #5572 "Our variant comparison in our test utils is bad"
We have two methods that compare variants for our tests:

`VariantContextTestUtils::assertEqualVariants` is doing string conversions to compare variants.  This is not so good.

`VariantContextTestUtils::assertVariantContextsAreEqual` may not do a complete comparison.

Either way, these should be combined into a single method and updated to be a complete comparison.

[2019-01-11 21:12] quantumdot commented on #5342
I tried setting that environment variable, but it did not resolve the issue. Please note that I have this filesystem mounted as `CIFS` not `NFS`.

[2019-01-11 23:57] nalinigans commented on #5342
Sync uses the system call fsync() to synchronize contents and not sure how CIFS is erroring out.

Please see my [previous comment](https://github.com/broadinstitute/gatk/issues/5342#issuecomment-433760934). Would it be possible to gather some more information using the gatk from [branch nalini_issue_5342](https://github.com/broadinstitute/gatk/tree/nalini_issue_5342)? This branch puts out addition

[2019-01-13 04:07] munrosa commented on #3697
@davidbenjamin I checked with our diagnostic lab director about which data can be put on the public repo (anonymized of course). The only file that cannot be used is the one labeled "Exome_NBPF16_SNP.bam", the other bam files I shared with you are from control samples and can be used in the integration test.

[2019-01-13 05:43] davidbenjamin commented on #3697
@munrosa Wonderful, thank you!!

[2019-01-14 15:25] #2787 closed

[2019-01-14 15:38] cmnbroad commented on #4387
I have a fix so it should be able to go into 4.1.

[2019-01-14 15:54] cmnbroad opened #5577 "Add default tool annotations to generated doc"
The generated online doc currently doesn't include the names of the default annotations or annotation sets used by various tools. The values are already propagated from the annotaion plugin to the freemarker map by Barclay; it should be easy to update the freemarker template to display these similar to the way we display default read filters.

[2019-01-14 15:55] cmnbroad commented on #5577
@bhanugandham Interested in taking this one on ? Its mostly presentation changes.

[2019-01-14 18:00] tomwhite commented on #5547
I've opened https://github.com/disq-bio/disq/issues/75 to track this.

[2019-01-14 18:48] #3471 closed

[2019-01-15 02:37] vdauwera commented on #5409
Given I won’t be able to address this in the immediate future, feel free to
use an image as a temporary workaround.
On Fri, Jan 11, 2019 at 1:32 PM sooheelee <notifications@github.com> wrote:

--
Geraldine A. Van der Auwera, PhD
Associate Director of Outreach and Communications
Data Sciences Platform
Broad Institute

[2019-01-15 03:12] bhanugandham commented on #4387
Thanks Chris.

[2019-01-15 15:37] sooheelee commented on #5409
Great, thanks @vdauwera. I'm haveing trouble placing images into the Monday.com issue ticket so will note my updates here.

Studying the LaTeX issue, it appears that three of the equations do not render correctly but five do. This is the case for the <https://software.broadinstitute.org/gatk/documentation/article?id=11074> view. For the forum view at <https://gatkforums.broadinstitute.org/gatk/dis

[2019-01-15 15:59] sooheelee commented on #5409
Here are the results of updating the LaTeX equations:
---
![screenshot 2019-01-15 10 56 05](https://user-images.githubusercontent.com/11543866/51192351-5aea5f80-18b4-11e9-9e4b-ef219d8dacb1.png)
---
![screenshot 2019-01-15 10 56 20](https://user-images.githubusercontent.com/11543866/51192374-676eb800-18b4-11e9-8b35-839e426fa9fc.png)
---

Now I will move on to clarifying content.

[2019-01-15 18:07] jamesemery commented on #5542
Hmm... thats a good point, maybe the bandage solution to this problem for now should be that we bump `remove-all-duplicates`to and `remove-sequencing-duplicates` to be arguments of `MarkDuplicatesSpark` and out of the argument collection so they don't cause any undue confusion.

[2019-01-15 21:33] sooheelee commented on #5409
Towards updates:

- CalculateGenotypePosteriors tooldoc (v4.0.12.0) commentable GoogleDoc: https://docs.google.com/document/d/1Ab8YGOCnTtT6Dapx8-wReDi-6E6NJ_FRbEOjWtll7hw/edit?usp=sharing
- Article#11074 commentable GoogleDoc:
https://docs.google.com/document/d/1si-XASjYRXpF7kCj1Ivw40-UOyOQ5uTYTDJx1JlQr6w/edit?usp=sharing

[2019-01-15 22:15] sooheelee commented on #5409
@ldgauthier, I made some comments in the linked GoogleDocs above towards updates and referenced you in a number of the comments. I hope you have a moment to review.

[2019-01-16 04:54] jemunro opened #5582 "Treat "NaN" and "nan" as equivalents (VariantFiltration)"
## Feature request

### Tool(s) or class(es) involved
VariantFiltration

### Description
While running variantFiltration, I have encountered the following error:
[code]
In an upstream stage I have passed my VCF through bcftools. Some digging led me to find that bcftools (view, norm, etc) will apparently convert fields such as "MQ=NaN" to "MQ=nan" when writing VCF.

This issue has been reported to

[2019-01-16 19:56] sooheelee commented on #5409
I have gone ahead and made some tracked changes to the tool doc. Waiting for @ldgauthier's  perspective on proposed changes to Article#11074.

[2019-01-16 21:07] #5319 closed

[2019-01-16 21:13] #4387 closed

[2019-01-16 21:24] #5529 closed, assigned to ldgauthier, davidbenjamin

[2019-01-16 21:42] #5045 closed

[2019-01-16 21:42] #5300 closed

[2019-01-17 16:34] lbergelson commented on #5582
This one's a bit of a pain since it's failing in java's built in number parsing.  I don't know why java decided that `NaN` was the only valid capitalization... it's not ideal... We' could fix it but it would mean preprocessing the vcf line and converting alternate capitalizations to `NaN` which might break someone else's capitalization.  (although I guess that's probably not a really big problem i

[2019-01-17 19:45] droazen commented on #5277
Done in https://github.com/broadinstitute/gatk/pull/5587

[2019-01-17 19:45] #5277 closed

[2019-01-18 16:20] samuelklee commented on #4728
Eh, closing this one.  Workflow is fast enough, so this would be more trouble than it's worth for typical numbers of samples.

[2019-01-18 16:20] #4728 closed

[2019-01-18 17:13] butlermgb commented on #5158
I am experience the same issue with Mutect2[4.0.3.0].

from header:
##FORMAT=<ID=DP,Number=1,Type=Integer,Description="Approximate read depth (reads with MQ=255 or with bad mates are filtered)">

variant call:
chr1    188219  .       G       A       .       .       DP=48;ECNT=2;NLOD=5.67;N_ART_LOD=-1.299e+00;POP_AF=2.500e-06;TLOD=3.16  GT:AD:AF:F1R2:F2R1:MBQ:MFRL:MMQ:MPOS:SA_MAP_AF:SA_POST_PROB

[2019-01-18 18:12] davidbenjamin commented on #5158
@butlermgb Using a release more recent than the the September 13 fix should resolve the issue.

[2019-01-22 08:38] xiaozhangzaq opened #5590 "copy read tensor model"
i copy the user trained cnn vqsr model(gatk4 cnn) (from other machine to this machine), can i directly use the model to score vcf

[2019-01-22 15:13] LeeTL1220 opened #5591 "Output MAD values (not just text files) in the Somatic CNV WDL"
## Feature request

### Tool(s) or class(es) involved
`PlotDenoisedCopyRatios`
`cnv_somatic_pair_workflow.wdl`

### Description
Currently, the output of the pair workflow only outputs files for the MAD values.  (e.g. `File standardized_MAD_tumor = PlotDenoisedCopyRatiosTumor.standardized_MAD`)
We should add outputs that are the actual data type (e.g. `Float standardized_MAD_tumor = read_float(Plot

[2019-01-22 19:52] jonn-smith opened #5592 "Funcotator needs to preserve filter status for VCF feature sources."
Right now Funcotator ignores the FILTER column for feature sources.

It should include this value in the resulting annotations.

[2019-01-22 21:44] sooheelee commented on #5409
Testing the tool behavior when given an incomplete PED file.

PED
<img width="847" alt="screenshot 2019-01-22 16 42 07" src="https://user-images.githubusercontent.com/11543866/51567234-b42e3200-1e64-11e9-942c-2934980dc04a.png">

Command
[code]

Results
<img width="842" alt="screenshot 2019-01-22 16 44 01" src="https://user-images.githubusercontent.com/11543866/51567337-ef306580-1e64-11e9-8ca6-051c

[2019-01-22 21:47] sooheelee commented on #5409
The information you requested @ldgauthier ^^.

[2019-01-23 01:07] xiaozhangzaq commented on #5590
Yes,if i want to use the model I trained on another machine, i should  train it again?
I have another question, i benchmark hg002 vcfs using default model and model I trained(use hg002 truth vcf and bed[HG002_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-22_v.3.3.2_highconf_triophased.vcf.gz]), but default model get better recall and precision. I want to know the default model  is t

[2019-01-23 01:10] xiaozhangzaq commented on #5590
Yes,So  if I want to use the model I trained on another machine, should  I train it again?
I have one more  question, I benchmark hg002 vcf using default model and model I trained(use hg002 truth vcf and bed[HG002_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-22_v.3.3.2_highconf_triophased.vcf.gz]), but default model gets better recall and precision. I want to know what the default

[2019-01-23 16:38] sooheelee commented on #5409
@gmagoon, please feel free to comment in the linked GoogleDocs the portions of the documentation that you found unclear. Thanks.

[2019-01-23 17:14] gmagoon commented on #5409
Thanks @sooheelee.
The aspect that warranted clarification from my perspective was which sort of relationships are considered when calculating the posteriors.
So maybe an addition like the italicized text below?:

[2019-01-23 18:10] #5494 closed

[2019-01-23 18:18] samuelklee commented on #5591
@LeeTL1220 do you need me to take care of this?  Also, what's the context---manual QC on FC?  Seems a bit extraneous for any automated QC, but I don't mind adding it.

[2019-01-23 19:37] jamesemery opened #5600 "Rename default true boolean arguments in GATKTool and GATKSparkTool"
Currently there are number of boolean arguments in GATKTool that are set by default to `true`. Unfortunately, the current syntax for changing that value on the command line is to write "--argument-name false" (eg. `--create-output-bam-index false`) which is confusing an counterintuitive. This format made more sense for arguments when the syntax in picard/gatk3 used to be "ARGUMENT=FALSE". I propos

[2019-01-23 19:56] LeeTL1220 commented on #5591
We had a case where a user thought that some (biologically-plausible)
events might be happening only in noisier samples -- yes, a manual QC.  And
having the MAD as a float would have been easier to extract from FC and
analyze.

On Wed, Jan 23, 2019 at 1:18 PM samuelklee <notifications@github.com> wrote:

--
Lee Lichtenstein
Broad Institute
105 Broadway, Room 526A
Cambridge, MA 02142
617 714 8632

[2019-01-23 19:57] lbergelson commented on #5600
Now is a good time to make a breaking change like that.  @droazen Your comments?

[2019-01-23 21:36] sooheelee commented on #5409
Thank you @gmagoon. This is in the new draft now and these updates should be reflected in the next release of GATK.

@ldgauthier, the PR containing the updates is at https://github.com/broadinstitute/gatk/pull/5601.

[2019-01-23 21:59] lbergelson commented on #5600
I think that's a good idea if it's a permanent change.

[2019-01-23 22:00] sooheelee commented on #5409
@ldgauthier, please let me know if it is okay to close this or if you would like to make further changes to either document. To summarize, we have updated the tooldoc and the visualization of the LaTeX equations in https://software.broadinstitute.org/gatk/documentation/article?id=11074. We have some suggestions for further updates to Article#11074 commented in the linked GoogleDoc above but will n

[2019-01-23 22:35] #2155 closed

[2019-01-24 00:09] lucidtronix commented on #5590
Hi @xiaozhangzaq , Yes you can use the default model to vqsr all single sample VCF files.  The default model was trained on a very large aggregation of data with truth resources from Genomes in a Bottle, SynDip, and Platinum Genomes.  We trained on the NA12878, NA24149, and NA24143 samples from Genomes in a Bottle.  You do not have to train the model again to use it on another machine.

[2019-01-24 05:08] nalinigans commented on #5342
@olavurmortensen, no  #5587 does not solve this issue. Currently, working on a release of GenomicsDB to help with this.

[2019-01-24 10:18] olavurmortensen commented on #5342
@nalinigans Sounds good. Any time frame on that release?

[2019-01-24 21:03] jonn-smith opened #5605 "Funcotator needs an allele-specific XSV Funcotation Factory for gnomAD speedup"
Funcotator needs a way to read in a locatable XSV but also have it match alleles before adding an annotation (in the same way that VCF data sources require matching alleles).

This would allow transformation of large VCF data sources (such as gnomAD) into more easily compressed and read XSV files.

After implementation this needs to be benchmarked for gnomAD 2.1 Alelle Frequency VCFs and if the XS

[2019-01-25 00:58] xiaozhangzaq commented on #5590
![chr1_error](https://user-images.githubusercontent.com/19809536/51717986-07c79800-207e-11e9-8cf7-197e4f91bb6c.png)
when i run CNNScoreVariants step, chr1 failed, but chr2-22 could run successfully( I use -L to run in parallel by chromosome). How much resources and time does this step(chr1) need?

[2019-01-25 15:12] #5592 closed

[2019-01-25 16:22] ldgauthier commented on #5409
Thanks for the equation fixes in the article.  I only just saw the google doc and made some comments.  I reviewed #5601 and have some comments there too.

[2019-01-25 18:20] jonn-smith opened #5606 "Remove Beta label from Funcotator and FuncotatorDataSourceDownloader"

[2019-01-25 19:44] #5457 closed

[2019-01-25 19:51] jonn-smith commented on #5259
To facilitate the download of gnomAD records, I removed all info annotations that had nothing to do with `allele frequency`, leaving behind only the fields that we would want to use for our use case.

The WDLs/jsons are now in the `funcotator/scripts/data_sources` directory (separate PR).

All variants were kept, even those that were filtered.

The network IO slows down Funcotator significantly, b

[2019-01-25 19:52] jonn-smith commented on #5429
Added to data sources as of version 1.6.20190124

[2019-01-28 15:05] af8 opened #5609 "CreateSomaticPanelOfNormals - Improve header content"
Hi,

`CreateSomaticPanelOfNormals` results in a VCF file whose header contains information only for one of all the samples used to create it.

* ##tumor_sample="..."
* ##GATKCommandLine="..."
* Possibly other commands like ##bcftools_concatCommand="..."

----
## Feature request

### Tool(s) or class(es) involved
_CreateSomaticPanelOfNormals_

### Description
Would it be possible to store in **##tu

[2019-01-28 16:07] droazen opened #5610 "Develop test(s) to ensure consistency between MarkDuplicatesSpark and MarkDuplicates"
Now that MarkDuplicatesSpark matches Picard MarkDuplicates, we should add tests to ensure that it stays that way.

[2019-01-28 16:57] jonn-smith opened #5611 "Final Funcotator Documentation Updates for 4.1"
Update docs for Funcotator.

Tool documentation and GencodeFuncotationFactory / GencodeFuncotation documents (to create a proper spec. for the gencode annotations).

[2019-01-28 17:43] #575 closed

[2019-01-28 17:44] #873 closed

[2019-01-28 21:51] #5259 closed

[2019-01-28 21:51] #5428 closed

[2019-01-28 21:51] #5429 closed

[2019-01-29 14:06] #4404 closed

[2019-01-29 17:28] jamesemery opened #5618 "Investigate ReferenceConfidenceModel VariantContext Creation"
In doing continued profiling of the HaplotypeCaller GVCF mode I have observed that somewhere in the range of 12% of our overall runtime (after i've made my other optimizations) is spent in `VariantContextBuilder.make()` upon further investigation I have noticed that we are currently building a VariantContext object for each pileup in `ReferenceConfidenceModel.calculateReferenceConfidence()`. This

[2019-01-29 19:59] sooheelee commented on #5409
I am getting to these now @ldgauthier. Apologies for the delay--I had a tire blowout Sunday evening while in Vermont and just returned to work today.

[2019-01-29 21:22] #4768 closed

[2019-01-29 21:31] #5611 closed

[2019-01-29 21:32] #5606 closed

[2019-01-29 22:08] #4891 closed

[2019-01-29 22:13] sooheelee commented on #5409
I've incorporated your feedback to #5601 @ldgauthier and the commit is undergoing tests. Please feel free to merge the PR if you accept the changes and have no further comments.

As for [Article#11074](https://software.broadinstitute.org/gatk/documentation/article?id=11074), given we have addressed the original issues (e.g. Latex), I am going to consider the additional recommendations as something

[2019-01-30 02:48] yodeng opened #5623 "Doubts on PreAdapterOrientationScorer"
Hi, GATK developers:

I just wonder that if absolute value should be used when calculating `baseScore` on <a href="https://github.com/broadinstitute/gatk/blob/67f0f0f2e59185b721398b17c24eba487a2ac76c/src/main/java/org/broadinstitute/hellbender/tools/exome/orientationbiasvariantfilter/PreAdapterOrientationScorer.java#L77" target="_blank">line 77 of PreAdapterOrientationScorer.java</a>. `MAX_BASE_SC

[2019-01-30 17:37] cmnbroad commented on #5101
Closing via https://github.com/broadinstitute/gatk/pull/5548 where we added a warning when the input VCF has multiple samples. @lucidtronix feel free to reopen if more is planned.

[2019-01-30 17:37] #5101 closed

[2019-01-30 17:39] cmnbroad commented on #4540
Closed via https://github.com/broadinstitute/gatk/pull/5548.

[2019-01-30 17:39] #4540 closed

[2019-01-30 17:39] cmnbroad commented on #4536
Closed via https://github.com/broadinstitute/gatk/pull/5548.

[2019-01-30 17:39] #4536 closed

[2019-01-30 19:23] sooheelee opened #5624 "Documentation request: Add MLEAC and MLEAF to Barclay as they do not show up in tool documentation"
## Documentation request

Add MLEAC and MLEAF to Barclay as they do not show up in tool documentation. Current GATK version is 4.1.0.0.

`MLEAC` and `MLEAF` annotations do not show up in [GATK forum tool documentation](https://software.broadinstitute.org/gatk/documentation/tooldocs/4.1.0.0/) under _Variant Annotations_. They are encoded by `MLE_ALLELE_COUNT_KEY` and `MLE_ALLELE_FREQUENCY_KEY` in t

[2019-01-30 20:07] cmnbroad commented on #5624
These appear to not be implemented as part of the Annotation framework (they're not `Annotation`-derived classes), so they can't just be tagged for doc. @ldgauthier do you know if that intentional or historical ?

[2019-01-30 20:23] ldgauthier commented on #5624
They get added as part of "genotyping" by the AFCalculator.  It happens during the QUAL calculation (which technically isn't an annotation), so it gets annotated during that calculation.  It may also need data we can't pass into the annotations as the InfoFieldAnnotation class is currently implemented, but I'm not 100% sure about that.

Also word on the street is that no one at the Broad uses thes

[2019-01-30 22:17] sooheelee commented on #5624
Would you say they are taking up unnecessary real estate? Would they be better off not being emitted by default?

From a documentation standpoint, our tools emit them so we should describe them in the docs somewhere as we do the other annotations. The docs describe a few other annotations that I have not ever even seen emitted.

[2019-01-30 22:24] sooheelee commented on #5383
Hey @bhanugandham @rcmajovski, what is the status of this documentation update? It would be great to be able to point users to this.

[2019-01-31 02:37] davidbenjamin commented on #4887
Closed by #5560.

[2019-01-31 02:37] #4887 closed

[2019-01-31 02:38] davidbenjamin commented on #5609
@af8 That seems reasonable.  I will add it to our to-do list.

[2019-01-31 02:43] davidbenjamin commented on #4614
Closed by #5484.

[2019-01-31 02:43] #4614 closed

[2019-01-31 13:41] samuelklee commented on #2997
This is done in gCNV and will be done in future models as well.

[2019-01-31 13:41] #2997 closed

[2019-01-31 13:44] samuelklee commented on #2908
I think we are probably OK with hard filters on counts for the foreseeable future.

[2019-01-31 13:44] #2908 closed

[2019-01-31 13:47] samuelklee commented on #5233
@vruano will you issue a PR disabling this filter in the tool or the WDL?  Probably the former is fine.

[2019-01-31 13:58] samuelklee commented on #4397
@asmirnov239 @mwalker174 @vruano I'm not sure if we have completely addressed this with what's been merged so far.  If any of you still has fixes that haven't been merged, please feel free to add a note here.

[2019-01-31 14:00] samuelklee commented on #4824
@mwalker174 can you go back and check whether high coverage was causing the NaNs?

[2019-01-31 14:03] samuelklee commented on #4170
@asmirnov239 has investigated clustering on Picard metrics, which he found to be informative.  However, we've decided to go with clustering on coverage on a subset of bins, since this will be more readily available than the Picard metrics.

[2019-01-31 14:03] #4170 closed

[2019-01-31 14:07] samuelklee commented on #4043
Future development will probably move to pyro, so this probably doesn't need to happen.  Since gCNV will probably be the only client of the HMM code, let's just consider it covered by tests that will be added in #4375.

[2019-01-31 14:07] #4043 closed

[2019-01-31 14:31] samuelklee commented on #5054
Sorry, guess this was a dupe of #4397.

[2019-01-31 14:31] #5054 closed

[2019-01-31 14:31] samuelklee commented on #4554
This might cause more headaches than it's worth.

[2019-01-31 14:31] #4554 closed

[2019-01-31 14:34] samuelklee commented on #2947
Let's consider this a dupe of #4551.

[2019-01-31 14:34] #2947 closed

[2019-01-31 14:37] samuelklee commented on #2881
We can revisit once #4122 and #4123 are in place.

[2019-01-31 14:37] #2881 closed

[2019-01-31 14:40] samuelklee commented on #2853
IGV compatible output was added in #5048 and #5115 and there are other issues open for CNV plotting improvements.

[2019-01-31 14:40] #2853 closed

[2019-01-31 14:43] samuelklee commented on #2894
This is ancient.

[2019-01-31 14:43] #2894 closed

[2019-01-31 14:44] samuelklee commented on #4222
I have devised a rigorous system of coin flips to determine the appropriate memory overhead for each task.

[2019-01-31 14:44] #4222 closed

[2019-01-31 14:45] samuelklee commented on #4194
Seems like this hasn't been an issue.

[2019-01-31 14:45] #4194 closed

[2019-01-31 14:46] samuelklee commented on #4042
Let's call this a dupe of #4123.

[2019-01-31 14:46] #4042 closed

[2019-01-31 14:50] samuelklee commented on #4642
@droazen @ldgauthier not sure who owns the VariantEvaluation tools, but perhaps one of you can delegate?

[2019-01-31 14:51] samuelklee commented on #4121
Let's just go directly to #4116.

[2019-01-31 14:51] #4121 closed

[2019-01-31 14:54] samuelklee commented on #4004
I think delegating this to individual tools via -L, as we currently do, is probably fine.  We still don't have the infrastructure to handle locatable CNV formats, in any case; see #4717.  A more general purpose tool to subset locatables might cause headaches if there are global properties that would be corrupted by subsetting.

[2019-01-31 14:54] #4004 closed

[2019-01-31 14:59] samuelklee commented on #3763
@lbergelson can you take care of this?

[2019-01-31 15:03] samuelklee commented on #3004
Dupe of #4116.

[2019-01-31 15:03] #3004 closed

[2019-01-31 15:06] samuelklee commented on #3163
This was an issue with the deprecated GATK CNV/ACNV version of the workflows.

[2019-01-31 15:06] #3163 closed

[2019-01-31 15:07] samuelklee commented on #2906
I think preclustering as in #4170 and related work handles this satisfactorily.  We can add QC post-gCNV via #4060.

[2019-01-31 15:07] #2906 closed

[2019-01-31 15:08] samuelklee commented on #2895
Dupe of #4060.

[2019-01-31 15:08] #2895 closed

[2019-01-31 15:12] samuelklee commented on #2896
Closing this.  Future implementations will probably use stochastic inference rather than caching.

[2019-01-31 15:12] #2896 closed

[2019-01-31 15:18] samuelklee commented on #4398
Thanks, @nyl2002---perhaps discussion could continue in the GATK forum?

[2019-01-31 15:18] #4398 closed

[2019-01-31 15:21] samuelklee commented on #3357
SparkGenomeReadCounts is now deprecated.

[2019-01-31 15:21] #3357 closed

[2019-01-31 15:40] samuelklee commented on #5382
Dupe of #4397, but changing the name to reflect the issue mentioned in the previous comment.

[2019-01-31 15:50] #5409 closed

[2019-01-31 15:50] samuelklee commented on #2977
Deprecated.

[2019-01-31 15:50] #2977 closed

[2019-01-31 15:51] samuelklee commented on #2828
Ancient.

[2019-01-31 15:51] #2828 closed

[2019-01-31 15:54] samuelklee commented on #2923
I think this should be contained in the WDL style guide.

[2019-01-31 15:54] #2923 closed

[2019-01-31 15:55] #2871 closed

[2019-01-31 15:56] samuelklee commented on #3821
@asmirnov239 I think we can probably reopen this in the future if we need.  You should definitely keep that branch around in case we need to use the tool for exploratory work, though.

[2019-01-31 15:56] #3821 closed

[2019-01-31 17:35] #2854 closed

[2019-01-31 17:59] samuelklee commented on #4903
I think this is still worth pursuing, but we need to do some legwork to set up good tests.

[2019-01-31 18:05] samuelklee commented on #3738
Encapsulated by #4717.

[2019-01-31 18:05] #3738 closed

[2019-01-31 22:34] samuelklee commented on #4464
I think this will be difficult and we don't have a python unit testing framework.  Let's try for some simple tests in #4375.

[2019-01-31 22:34] #4464 closed

[2019-01-31 22:37] samuelklee commented on #4115
Can be combined with germline tagging.  See comments in #5450.

[2019-01-31 22:52] samuelklee opened #5625 "Refactoring of ModelSegments Segmenter and Modeller backend classes."
There is some duplication of code to handle CR-only, AF-only, and CR+AF that could be eliminated with some refactoring.

[2019-01-31 22:58] samuelklee opened #5626 "Investigate minor improvements to allele-fraction segmentation."
There are a few heuristics in allele-fraction/joint segmentation, namely: 1) only the first het in each copy-ratio bin is used, and 2) copy-ratio bins with no hets are assigned AAF = 0.5.  We could instead perform a simple estimation of MAF in each bin using all of the hets, or something along those lines.  Alternatively, although kernel segmentation doesn't require it, we could also investigate w

[2019-02-01 12:36] marchoeppner opened #5627 "Add --version"
GATK currently has no way of reporting its version - so adding a "-v" or "--version" would be welcome.

[2019-02-01 12:49] cmnbroad commented on #5627
@marchoeppner `gatk --version` should do it. Does that not work for you ?

[2019-02-01 13:06] marchoeppner commented on #5627
Right, seems to be a recent update, Using the very latest release works. Thanks.

[2019-02-01 13:06] #5627 closed

[2019-02-01 15:01] lbergelson commented on #5627
Yes, this was a long standing issue, you previously had to run a `gatk PrintReads --version`.  It was fixed by https://github.com/broadinstitute/gatk/pull/5537.

[2019-02-01 16:06] LeeTL1220 opened #5629 "Add progress meter to CreateSomaticPanelOfNormals"
## Feature request

### Tool(s) or class(es) involved
M2 PoN Creation

### Description
There is no progress meter when running `CreateSomaticPanelOfNormals`.  This makes debugging harder and the tool could be accidentally identified as frozen.

### Proposed solution
`final Consumer<Locatable> progressUpdater,` as a parameter to the backend class.
The CLI ( `CreateSomaticPanelOfNormals`) can just p

[2019-02-01 18:15] samuelklee opened #5631 "Investigate NIO retry failures observed in CNV walkers."
The problem may not be specific to these CNV walkers.  A ModelSegments FC evaluation of a branch of 4.0.12.0 yielded several instances of the following exception in the CollectReadCounts and CollectAllelicCounts tools (multiple samples failing on one or more out of 3 total runs of these tools) when using NIO:

    at org.broadinstitute.hellbender.utils.nio.SeekableByteChannelPrefetcher.read(Seekab

[2019-02-01 18:56] samuelklee opened #5632 "Implement clustering subworkflow for CNV cohort/PoN batching."
@asmirnov239 and Jack Fu from the Talkowski lab are currently implementing this.  Subworkflow will first be used to precluster gCNV cohorts/cases, but could also be used for the ModelSegments workflow.

[2019-02-01 18:57] samuelklee opened #5633 "Implement gCNV mega workflow."
Will include clustering subworkflow #5632 and subdivision into batches for gCNV cohort/case workflows.

[2019-02-01 19:09] samuelklee commented on #4122
Evaluation THCA/STAD/LUAD TCGA WGS/WES CR concordance with SNP arrays was implemented on FC last summer and showed good performance.  For WES, comparisons against GATK CNV and CODEX showed comparable to highly improved performance, respectively, with minimal parameter tuning.  WGS comparisons were unavailable due to limitations of competing tools.

This evaluation will be expanded to include CR/MA

[2019-02-01 19:10] samuelklee commented on #4123
@asmirnov239 and Jack Fu are currently developing tests using Talkowski-SV truth that will ultimately cover #5633.  Should be adapted to fit into whatever framework arises from #4630.

[2019-02-01 19:18] droazen commented on #5631
@samuelklee Thanks for filing this. Now that 4.1 is out, we should be able to continue looking into this.

It's a long shot, but have you tried a run with 4.1.0.0 instead of 4.0.12.0?

[2019-02-01 19:23] droazen commented on #5631
@jean-philippe-martin, when you have a chance could you please take a look at the stack trace above and give your thoughts? Our NIO library dependency was not upgraded between 4.0.11.0 and 4.0.12.0 (it was last upgraded in 4.0.9.0), so it's not clear what it is about 4.0.12.0 that is leading to this higher failure rate.

We've already tried a custom build of 4.0.12.0 that included the version of h