[2016-01-14 14:22] akiezun commented on #1427
this is probably best done by @vruano when moving germline CNV code to public.

[2016-01-14 14:26] akiezun commented on #348
not sure but will know for alpha-1

[2016-01-14 14:31] ronlevine commented on #1382
Depends on https://github.com/samtools/htsjdk/issues/437

[2016-01-14 15:42] tomwhite commented on #1403
I posted a first attempt at this here: https://github.com/broadinstitute/gatk/pull/1432

[2016-01-15 18:17] cmnbroad commented on #1261
This requires an upgrade to Hadoop-BAM the next time its released in order to pick up [this commit](https://github.com/HadoopGenomics/Hadoop-BAM/commit/85222f0d56f5a4294ff8fdff84c87b74b99413fc), plus changes in GATK to pass the validation stringency through. I have the necessary changes to GATK, but can't commit them as is because they're intertwined with other changes necessary for https://github

[2016-01-15 18:45] cmnbroad commented on #1346
The CRAM part of this needs the fix in Hadoop-BAM PR https://github.com/HadoopGenomics/Hadoop-BAM/pull/50.

[2016-01-15 18:49] cmnbroad commented on #1247
I'm closing this because we're not going to do anything about compatibility with htsjdk 2.0.0. The remaining work we do need to track is in ticket https://github.com/broadinstitute/gatk/issues/1261.

[2016-01-15 18:49] #1247 closed

[2016-01-15 19:40] lbergelson opened #1436 "Can't write bams to /dev/null/ with spark"
Trying to write bam to dev null using PrintReadsSpark results in:

[code]

[2016-01-16 03:35] akiezun opened #1437 "forward port genotyper optimization from gatk3"
broadinstitute/gsa-unstable#1270

[2016-01-16 14:18] yfarjoun opened #1438 "parse strange contig names correctly in the commandline -L argument"
Charlotte recently stepped on a bug in GATK: It interprets -L argument that ends in the regex ':[0-9]*' as indicating a single site in the contig that precedes it and then barfs if it cannot find that contig in the dictionary. In hg38 we have contig names like 'HLA:01:01:01' and when used on the command-line (as in CreateRealignerTargets) it barfs as in the following workflow: https://picard.broad

[2016-01-18 11:38] tomwhite commented on #1326
@cmnbroad Java 7 has the java.nio.file API that is required by hadoop-jsr203, but Java 8 is required because htsjdk needs Java 8 now.

[2016-01-19 12:52] pasculorente commented on #1405
Hi,
did you mean getSpanningInterval(locations)?
What about
[code]
at the start of the function, and
[code]
at the beginning of the loop?

[2016-01-19 12:54] pasculorente commented on #1405
Hi,
did you mean getSpanningInterval(locations)?
What about
[code]
at the start of the function, and
[code]
at the beginning of the loop?

[2016-01-19 17:00] droazen commented on #1438
This will be tricky, as GATK4, unlike GATK3, does not require that a sequence dictionary be present (eg., tools can take just a vcf, for example). It is a bit crazy that these problematic characters are forbidden in the VCF spec but not the SAM spec...

[2016-01-19 21:33] #1324 closed

[2016-01-21 16:39] droazen opened #1440 "Write tests for Hadoop-BAM to build expertise in that codebase"
Test coverage on the Hadoop-BAM project is currently an abysmal 26% (https://github.com/HadoopGenomics/Hadoop-BAM/issues/51). Let's contribute some tests to both bring this number up and build our own expertise in that codebase.

[2016-01-22 12:43] tomwhite commented on #1399
I had a look at how close https://github.com/HadoopGenomics/Hadoop-BAM/pull/44 is to supporting genomic intervals in GATK. Some notes:
* There's a bug in the current PR (see comments there).
* It needs the ability to support multiple intervals (current PR only supports one) - we can do this as a follow-on if needed.
* There is a wider question about how to implement this efficiently. E.g. if there

[2016-01-22 14:36] droazen opened #1441 "Investigate whether there's a way to use java.nio.file.Path transparently with files in GCS buckets"
Investigate whether there's a way to use java.nio.file.Path transparently with files in GCS buckets. We already know we can do this for files in HDFS, as someone has implemented a Java NIO file system provider for HDFS (https://github.com/damiencarol/jsr203-hadoop) -- as long as we have this provider in our classpath, any method that accepts a java.nio.file.Path argument will automatically work wi

[2016-01-22 14:38] droazen commented on #1441
@jean-philippe-martin is going to look into the feasibility of this as a 20% project (it may already be done, in which case it would be a very short project :)

[2016-01-22 18:10] akiezun commented on #732
closed by ##917

[2016-01-22 18:10] #732 closed

[2016-01-22 19:57] cmnbroad opened #1443 "Can't use 2bit references with CRAM"
htsjdk doesn't accept 2bit reference files, so we can't use them as CRAM references. One possible fix is to change the htsjdk CRAM reference class to be an interface, and then provide a 2bit implementation from GATK. For Spark, Hadoop-BAM would need to know how to instantiate these as well.

[2016-01-22 23:37] geetduggal opened #1444 "Spark Standalone+Markduplicates results in empty BAM or 'Wrong FS' exception"
I am running into an issue with MarkDuplicatesSpark where it runs successfully in local mode, but if I run it in standalone mode with files on the file system or hdfs I get unexpected results.   It could be that I'm doing something very basic wrong here, so I'm pasting a bunch of contextual information in case it helps.  Thanks in advance!

[code]

And the stacktrace for the HDFS case (I'm running

[2016-01-25 16:38] vruano opened #1445 "Optional Arguments using java.lang.Optional."
Currently one can indicate if a program argument is optional by setting the Attribute annotation property ```optional``` to ```true```.

Then, it is up to the programmer to indicate a default value for the parameter explicitly initializing the corresponding field with such a default value.

It seems to me that we would gain versatility/expressibility if we use java.lang.Optional as the type of the

[2016-01-25 18:30] lbergelson commented on #1445
This seems like a good idea.  I have never liked the -1 magic values.  It's definitely a non-trivial refactoring effort though.

[2016-01-25 18:38] vruano commented on #1445
I guess initially it could coexist at the beginning with the current approach (which would be deprecated).

[2016-01-25 18:44] vdauwera commented on #1445
I harbor much hate for -1 magic values.

[2016-01-25 20:03] LeeTL1220 opened #1446 "Need to promote ``GATKProtectedMathUtils`` into GATK public"
This is a utility class that should probably go inside GATK public.  This should be merged into the appropriate class.

[2016-01-25 20:05] LeeTL1220 opened #1447 "Promote gradle build change that helps with certain spark config errors during build."
[code]

[2016-01-25 20:24] lbergelson opened #1448 "MarkDuplicatesSpark produces an empty bam file when run on a stand alone spark"
This was reported by @geetduggal in #1444.

If you run MarkDuplicatesSpark using a local standalone spark cluster it can run to completion, but produces an empty bam file that has only a header.

[code]

produces an empty bam

[2016-01-25 20:25] lbergelson commented on #1444
Hi @geetduggal.  Thanks for the very complete error report!   I'm sorry you're running into these errors.  We're aware of similar problems and fixing them is a very high priority.

It looks like you're running use the tagged alpha version.  I might try using the most version.  Pull request #1433  should hopefully fix the problem your seeing in your third example, which I believe is likely caused b

[2016-01-25 20:32] droazen commented on #1446
Part of https://github.com/broadinstitute/gatk/issues/1427

[2016-01-25 20:34] droazen commented on #1448
Duplicate of https://github.com/broadinstitute/gatk/issues/1444? :)

[2016-01-25 20:37] lbergelson commented on #1417
I was assuming that this would be fixed by #1433, but it only fixed the inverse of this problem.  It's possible now to load HDFS files from the local runner using the full namenode path

i.e.
`hdfs://dataflow01.broadinstitute.org/user/louisb/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam`,

Loading files with the sparkRunner and yarn-client is still failing.

We're getting a new error now though.

[code]

[2016-01-25 20:49] geetduggal commented on #1444
Thanks for your prompt response!  I'll let you know how it works with the most recent version on Github.

[2016-01-25 22:00] droazen opened #1449 "gatk-launch needs an easy way to pass jvm args like -Xmx through"

[2016-01-25 22:39] lbergelson commented on #1448
#1444 is several related issues.  This is more specific.  1444 depends on this.

[2016-01-26 19:35] lbergelson commented on #1448
So I've tracked this down to being a problem with line 193 in `ReadSparkSink`.

[code]

saveAsNewAPIHadoopFile is not writing any part files when `outputFile` (a `String`) is a relative path.  i.e. `test.bam`.

If you change it to a fully specified path  i.e. `/Users/louisb/Workspace/gatk/testoutput.bam` then it works as expected.

I discovered this by running the driver in the debugger which is p

[2016-01-27 00:18] geetduggal commented on #1448
I went ahead and made a build based on the branch associated with this issue and it looks like it worked for me on the test BAM discussed in https://github.com/broadinstitute/gatk/issues/1444.  Thanks for your prompt effort!

[2016-01-27 14:48] tomwhite commented on #1403
Fixed in #1432.

[2016-01-27 14:48] #1403 closed

[2016-01-27 17:31] lbergelson commented on #1417
We've been hit with a collective case of confusion.  Of course this is going to fail.  We're accessing a file on **local**.  This is not visible to the executors on the other nodes.  Thus the explosion.

[2016-01-27 18:21] droazen commented on #1417
Doh! Perhaps we could improve the error message in this case?

[2016-01-27 18:24] lbergelson commented on #1417
Yes. We desperately need to improve error messages for hadoop bam.

[2016-01-27 18:35] lbergelson opened #1451 "MarkDuplicates can't write to file:/// when using yarn"
Likely an analogous problem to #1417.

[code]
results in:
[code]

[2016-01-27 18:49] lbergelson commented on #1257
more recent versions of gatk have a different message now, which is also confusing:

[code]

[2016-01-27 18:58] lbergelson opened #1452 "Improve Hadoop-bam error message in createRecordReader"
Hadoop bam `AnySAMInputFormat.createRecordReader` throws `IllegalArgumentException` if it can't determine the format of a sam/bam file.  If this is caused by a nonexistant file it hides the `FileNotFoundException` which would be a more useful error message.

This cropped up in a case where a file local to one machine was being specified as an input a spark cluster with multiple nodes.  The file ex

[2016-01-27 19:03] droazen commented on #1452
Should this be filed against Hadoop-BAM rather than us?

[2016-01-27 19:18] lbergelson commented on #1452
Yes.  I'll file one there too.

[2016-01-27 20:11] lbergelson commented on #972
I've added a wiki page explaining how to debug a spark program on the cluster.

https://github.com/broadinstitute/gatk/wiki/Debugging-Spark

[2016-01-27 21:08] lbergelson opened #1453 "create gradle plugin that automatically configures sparkJar correctly"
A gradle plugin may be able to solve the problem of how people building extensions to gatk can create sparkJar's without a lot of confusing custom configuration.

People building projects on top of gatk would apply the plugin to their own build script, and it would automatically configure a sparkJar target.

[2016-01-27 22:06] lbergelson opened #1454 "automatically generate bash/zsh completions for gatk"
I'm continuously sad that my shell can't autocomplete GATK commands. It would be great if we could generate completion files for bash and zsh automatically.  This could piggyback on the upcoming documentation generation.

[2016-01-27 22:08] vdauwera commented on #1454
ooooooooooooh (drool)

[2016-01-27 22:44] lbergelson opened #1455 "spark tools with --shardedOutput should respect --numReducers"
It looks like the new `--numReducers` argument is not always used when writing non sharded output.  This seems counterintuitive to me.

For instance `PrintReadsSpark` seems to ignore `--numReducers`

[2016-01-27 22:45] lbergelson commented on #1455
@tomwhite It's possible that I'm misunderstanding this.  Is it intentional that it doesn't get propagated to non-shuffling tools that write output?

[2016-01-28 15:36] droazen commented on #1455
@tomwhite Could you comment on this? My impression from reviewing the PR in question was that this was intentional (that is, propagating `numReducers` to `writeReadsSingle()` and not `writeReadsSharded()`). This makes sense to me, since writing a single output file involves a reduce, whereas writing a sharded output file does not (unless you are re-partitioning to control the number of output shar

[2016-01-28 15:42] tomwhite commented on #1455
What @droazen says is correct. The `--numReducers` argument is not used when there is no shuffle. So `writeReadsSharded` should ignore it since it doesn't perform a shuffle (the output is already sharded either from the input partitioning, or from a shuffle in an earlier part of the the pipeline). Slightly counterintutively, `writeReadsSingle` does take the `--numReducers` argument since it does a

[2016-01-28 15:50] droazen commented on #1455
Thanks @tomwhite for the explanation -- closing this ticket as invalid.

[2016-01-28 15:50] #1455 closed

[2016-01-28 16:03] lbergelson commented on #1455
Thanks for the explanation.  I was interpreting it as "this will control the number of shards of output for anything that has output."

[2016-01-28 18:46] droazen opened #1456 "Add methods to SparkCommandLineProgram that let you query the amount of memory available per executor / per core"

[2016-01-28 18:46] droazen commented on #1456
Requested by @tedsharpe as part of his SV work.

[2016-01-28 18:47] droazen commented on #1456
@tomwhite Do you know an easy way to do this? Assigning to you for alpha-1.

[2016-01-28 20:30] droazen opened #1457 "Investigate whether our default validation stringency for reads should be STRICT rather than SILENT"
Currently our default reads validation stringency as defined in `GATKTool` is SILENT -- should it be STRICT, or is STRICT too impractical/annoying for read-world data?

Prompted by a discussion in https://github.com/broadinstitute/gatk/pull/1439

[2016-01-28 20:49] droazen commented on #1116
Can we address this at the htsjdk level?

[2016-01-28 20:56] droazen opened #1458 "Use consistent argument names across GATK and Picard tools"

[2016-01-28 20:56] droazen commented on #1458
Should be done before the official 4.0 release, but AFTER https://github.com/broadinstitute/gatk/issues/1210 is resolved

[2016-01-28 23:05] #1448 closed

[2016-01-29 15:11] lbergelson commented on #1444
@geetduggal Does the most recent master solve these issues for you?

[2016-01-29 15:13] akiezun commented on #1372
@lbergelson what's the status here?

[2016-01-29 15:28] lbergelson commented on #1372
I need to finish up the tests for this one.

[2016-01-29 15:31] lbergelson opened #1459 "Collection arguments should accept .list files like gatk3 does"
Gatk3 lets a file with a newline separated list of inputs be specified for arguments that accept collections.  This is often much easier for people writing scripts than specifying the argument multiple times.

This should be special cased in the argument parser.

[2016-01-29 17:22] tomwhite commented on #1399
Here's my GATK branch: https://github.com/broadinstitute/gatk/compare/tw_hadoop_bam_intervals. The test passes with the work I've done in Hadoop-BAM in https://github.com/tomwhite/Hadoop-BAM/compare/paired-reads-in-same-split...tomwhite:use-bai.

[2016-01-29 17:25] tomwhite commented on #1456
Do you want a way to retrieve the memory that has been set via `--executor-memory`? It would be good to understand the motivation behind this.

[2016-01-29 17:31] droazen commented on #1456
@tomwhite Yes, exactly, we want to retrieve the `--executor-memory` setting at runtime. I believe @tedsharpe wants to explore the possibility of having both a "low-memory" and a "high-memory" mode in his tool.

[2016-01-29 22:23] lbergelson commented on #1451
different exception on branch https://github.com/broadinstitute/gatk/tree/lb_refactor_to_reduce_ReadSparkSink_duplication

debugging seems to point to the `.` in `testoutput.bam` as the problem, but why that's causing a problem under yarn is mysterious.
[code]

[2016-01-30 15:31] tedsharpe commented on #1456
When performing an action on an RDD, things will be fast and efficient if the output of each task fits in the available memory, and poky slow if we start spilling to disk.  I could easily set the number of partitions on my input RDD to make sure that the output would fit in available memory, if only I knew how much memory was available.  That's what I want to know.

[2016-02-01 14:18] tomwhite commented on #1456
Thanks for the explanation. You can query the available memory (in MB) with `ctx.sc().executorMemory()`, where `ctx` is the `JavaSparkContext` passed into the `runTool` method.

[2016-02-01 15:54] droazen opened #1460 "Get walker BQSR tools in GATK4 to use less than 3.5Gb of RAM (request from production)"
There's been a request from production (https://broadinstitute.atlassian.net/browse/DSDEEPB-2789) to try to ensure that the walker BQSR tools in hellbender can run with less than 3.5 GB of RAM to get costs down.

[2016-02-01 18:25] akiezun commented on #1460
Needs clarification on:

- what exact data (we need a bam file or many)
- what exact commandline (ie how many splits?)
- how will the memory usage be measured?

@eitanbanks can you clarify or point us to someone who can?

[2016-02-01 18:31] eitanbanks commented on #1460
1) Any data.  I assume that the worst case is a deeply covered whole genome, right?
2) I assume the worst case would be no splits, right?  So in that case, no splits.
3) If it goes over 3Gb the jobs will fail...

[2016-02-01 18:37] akiezun commented on #1460
1) which exact file
2) ok
3) how exactly is the mem measured?

[2016-02-01 18:50] tedsharpe commented on #1456
Thanks, Tom.  But I'm afraid that that's only one piece of the puzzle.  For one thing, `ctx.sc().executorMemory()` doesn't give the right answer in local mode.  (Workaround:  `ctx.sc().getExecutorMemoryStatus()` does give a sensible answer in local mode, at the small cost of getting redundant info for each executor.)  However, to know how much is available for the execution of each task, one would

[2016-02-01 19:05] eitanbanks commented on #1460
EVERY file.  Test on whichever files you like (you have permission to use any files under /seq/picard_aggregation/ and shouldn't need me to tell you how to test things), but the goal is for it to never need more than 3.5Gb.
I assume mem is measured by heap but we should ask @kcibul for sure.

[2016-02-01 21:14] kcibul commented on #1460
Assuming we're talking non-spark... I think a goal of running with -Xmx3g would do (so heap).  Since the machines have 3.75gb total, I'd push for 3gb instead of 3.5gb of heap

[2016-02-01 21:36] akiezun commented on #1460
@eitanbanks I can't verify that it will *never* take more than 3.5G. So I need to know the acceptance criteria. But I'm happy also to make up my own acceptance criteria though at least until we hand it off to production. I'll run some 300GB files I have.

I'll use -Xmx3g as the measurement of heap and run with --XX:OnOutOfMemoryError

Note though that the Xmx option does NOT limit the actual amoun

[2016-02-02 02:16] eitanbanks commented on #1460
Why can't you know that it will never take more than 3.5G?
Let's put it this way: imagine you had a tool CountReads that reads in every read from a BAM and emits the total number.  Couldn't you say for sure that it would never take more than 3.5G?  Assuming you don't have any memory leaks, you know that you will only need to hold in memory 1 long (for the count), 1 read, plus some overhead for all

[2016-02-02 02:27] akiezun commented on #1460
but the size of the data structures depends on the data - eg, on the number of read groups, on size of context covariates etc.

[2016-02-02 02:32] eitanbanks commented on #1460
Fair enough.  So could you then give guidance on how much it would require as a function of number of read groups?  Since we're scrapping indels, the context covariate is just previous base.

[2016-02-02 02:47] geetduggal commented on #1444
Yes.  Thanks!

[2016-02-02 12:03] tomwhite commented on #1456
It's a bit messy, but the following will get the number of cores for the local runner, in case `spark.executor.cores` is not set:

[code]

Could that work?

[2016-02-02 12:31] tomwhite commented on #1451
Not sure about the mkdirs problem (does the directory already exist?), but the `Wrong FS` problem can be fixed by always getting the filesystem from the path, rather than just using the default filesystem. See https://github.com/broadinstitute/gatk/commit/b671a10f4552360580a79074d4d4229fdb425748 for a fix.

[2016-02-02 15:00] droazen commented on #1426
Re-assigning this one to @tomwhite, since he's almost out of tickets, and this is related to work he's already started.

[2016-02-02 15:24] magicDGS opened #1463 "How could I iterate locus by locus using the new framework?"
Hello, I'm trying to port some of tools that I was developing in GATK to the new framework, but I know that `LocusWalker` is not going to be implemented in the new framework.

Thus, I was thinking to use either the `ReadWalker` or the `IntervalWalker` to accomplish something similar to get a kind of a pileup for each position, but I do not know exactly how.

Could you help me in this issue?

[2016-02-02 15:31] akiezun commented on #1463
Can you describe more precisely what you want to accomplish? That is, can
you describe your tool and/or point us to the code?

On Tue, Feb 2, 2016 at 10:24 AM, Daniel Gómez-Sánchez <
notifications@github.com> wrote:

[2016-02-02 15:45] lbergelson commented on #1451
I've fixed the Wrong FS in #1461, but it just ends up changing the error to the second one I posted.

[2016-02-02 15:46] lbergelson commented on #1458
related to #133

[2016-02-02 15:51] lbergelson commented on #1347
I patched this in joptSimple in https://github.com/pholser/jopt-simple/pull/89.  This can be enabled by upgrading to the 5.0.1-beta build or waiting for a stable release.  Unclear on the time lines for stable release.  I suspect if we really need it we can ask for a 4.10 release and the maintainer would likely be willing to create one.

[2016-02-02 16:03] lbergelson commented on #1444
Going to mark this as closed then.  Thanks for your input.

[2016-02-02 16:03] #1444 closed

[2016-02-02 16:12] magicDGS commented on #1463
@akiezun sorry, I apologize for didn't describe it properly.

Basically, I need to obtain the base/deletion counts (and insertions after the position) from the reads that overlaps each position in the reference genome. Previously I did that with a `LocusWalker` like this:

[code]
I don't know exactly how could be done this using the `ReadWalker` (my first idea is to accumulate the reads in a queue

[2016-02-02 16:15] droazen commented on #1463
If there is sufficient demand, we could implement a `LocusWalker` class for GATK4, particularly as the key classes from GATK3 were recently ported as part of https://github.com/broadinstitute/gatk/pull/1442. Adding new walker types in GATK4 is much simpler than it was in GATK3, so this would actually be a fairly simple addition.

[2016-02-02 16:52] akiezun commented on #1463
I agree, +1. There are going to be a whole bunch of tools that are most easily expressed as locus walkers.

[2016-02-02 16:54] droazen commented on #1463
Alright, I'll create a ticket for this then.

[2016-02-02 16:56] droazen opened #1464 "Implement a LocusWalker traversal"
Since the key classes have now been ported, and since there is some demand for this (https://github.com/broadinstitute/gatk/issues/1463), let's implement a `LocusWalker` class like GATK3 had. This should actually be fairly easy to do now that `LocusIteratorByState` has been ported as part of https://github.com/broadinstitute/gatk/pull/1442

[2016-02-02 16:57] droazen commented on #1463
https://github.com/broadinstitute/gatk/issues/1464

[2016-02-02 19:25] lbergelson opened #1465 "fix useless test in GATKReportUnitTest"
The test `testSortingByColumn` doesn't actually test anything and likely never has.

It throws and silently swallows an exception, which masks the fact that it's creating an empty table to test, and doesn't work when the table isn't empty.

This has been inherited unchanged from Gatk3.

[2016-02-02 20:37] droazen commented on #1456
Seems like this is all sufficiently non-obvious as to justify adding `getExecutorCores()` and `getExecutorMemory()` methods at the `SparkCommandLineProgram` level that work reliably in all execution modes.

[2016-02-03 14:40] akiezun opened #1467 "see if PerReadAlleleLikelihoodMap can be / should be refactored out"
see https://github.com/broadinstitute/gsa-unstable/issues/831

this came up in review of https://github.com/broadinstitute/gatk/pull/890

[2016-02-03 15:14] #611 closed

[2016-02-03 16:56] akiezun opened #1468 "Add a mechanism to pass extra information to an annotation instance,"
We need a mechanism to pass extra information to an annotation instance. For example, InbreedingCoeff can take a set of samples (founders) and be computed on those only. Right now (after https://github.com/broadinstitute/gatk/pull/890 is merged) there's no way to set this. GATK3 had an `initialize` method which meant that annotation classes were no longer immutable (as they locally are)

[2016-02-03 17:23] tomwhite commented on #1426
I submitted https://github.com/samtools/htsjdk/pull/458 for the htsjdk side.

[2016-02-04 02:45] luoqi-git opened #1470 "AlignmentUtils.leftAlignIndel would remove a leading D without updating a read's start position"
If the first element of a read's cigar becomes a D after left adjustment, it would be removed by cleanUpCigar(), but the caller has no way to know about this and fails to adjust the read's start position accordingly. The end result, a misaligned read.

[2016-02-05 14:37] akiezun commented on #190
blocked by #619

[2016-02-05 15:11] akiezun commented on #1413
The plan is as follows
- [ ] copy 1 WGS file (NA12878) to local drive for speed:  /seq/picard_aggregation/G77386/NA12878/v1/NA12878.bam
- [ ] revert qualities to original using GATK4 RevertBaseQualityScores
- [ ] run GATK3 BaseRecalibrator on the bam non-split (measure time too)
- [ ] run GATK4 BaseRecalibrator on the bam non-split (measure time too)
- [ ] compare tables. If different: loop fix an

[2016-02-05 15:44] akiezun commented on #1460
My plan is as follows:
- [ ] copy 1 WGS file locally (133 GB) /seq/picard_aggregation/G77386/NA12878/v1/NA12878.bam
- [ ] revert qualities to original using GATK4 RevertBaseQualityScores
- [ ] run GATK3 BaseRecalibrator with -Xmx 10g no-split with time -v and check max memory
- [ ] run GATK4 BaseRecalibrator with -Xmx 10g no-split with time -v and check max memory
- [ ] run GATK3 BaseRecalibrator

[2016-02-05 15:48] akiezun commented on #190
this is not happening for alpha-1.

[2016-02-05 15:48] akiezun commented on #1082
blocked by review of #1410

[2016-02-05 17:45] eitanbanks commented on #1460
Actually, Adam, I don't care about the GATK3 numbers.  I just want to know whether GATK4 can do it.  I'm ready to move towards the future!

How many read groups are in that particular file?

[2016-02-05 17:46] eitanbanks commented on #1413
Yup, looks reasonable

[2016-02-05 18:15] akiezun commented on #1460
2 readgroups in /seq/picard_aggregation/G77386/NA12878/v1/NA12878.bam
I do want to see if/that there are differences in mem - even just for the satisfaction of it (or horror if it goes up)

I also have a 332G file with 16 readgroups: /humgen/gsa-hpprojects/NA12878Collection/bams/CEUTrio.HiSeq.WGS.b37.NA12878.bam

[2016-02-05 18:33] eitanbanks commented on #1460
Okay, let's see the results on both files then.  Thanks!

[2016-02-05 19:05] akiezun opened #1473 "RevertBaseQualityScores blowup"
running RevertBaseQualityScores from Version:4.alpha-70-g10d9ec1-SNAPSHOT on /seq/picard_aggregation/G77386/NA12878/v1/NA12878.bam

[code]

[2016-02-05 19:35] akiezun commented on #1473
here;s the killer read
[code]

[2016-02-05 20:28] akiezun commented on #1460
I peeked in the profiler - most of the memory is consumed by the BAQ tables

[2016-02-05 20:31] eitanbanks commented on #1460
Kill them

[2016-02-05 21:47] akiezun commented on #1460
as in: remove BAQ?
do we know how that impacts the results?

[2016-02-05 23:50] pgrosu commented on #1460
Hi Adam,

Thank you for this amazing work, and would like to suggest something small without disturbing the test-flow.  So unless I'm not mistaken, the class that is consuming the memory is [NestedIntegerArray.java](https://github.com/broadgsa/gatk/blob/master/public/gatk-utils/src/main/java/org/broadinstitute/gatk/utils/collections/NestedIntegerArray.java).  Why not try an experiment where you im

[2016-02-06 01:31] #348 closed

[2016-02-06 02:00] akiezun commented on #1460
thanks @pgrosu. Can you propose a PR? We'll be happy to review

[2016-02-06 02:08] #1473 closed

[2016-02-06 02:09] akiezun commented on #373
closed by #1474

[2016-02-06 02:09] #373 closed

[2016-02-06 02:10] akiezun commented on #1470
@luoqi-git can you provide an input file and the commandline or code to reproduce the problem?

[2016-02-06 03:05] droazen commented on #1460
@akiezun @pgrosu I'd be very hesitant to make such a radical change to the internals of the tool at the same instant we're trying to validate BQSR for production use (https://github.com/broadinstitute/gatk/issues/1413).

BAQ doesn't use `NestedIntegerArray`, anyway -- `NestedIntegerArray` is used for the recal tables themselves.

[2016-02-06 03:17] akiezun commented on #1460
proposing a PR is not the same as making the change.

[2016-02-06 03:25] droazen commented on #1460
@akiezun That's true, but the proposed change would not affect BAQ, which you said above was responsible for most of the memory usage. It would affect the covariates tables, which you said were not the problem. We shouldn't ask someone to spend time on something that doesn't solve our problem!

[2016-02-06 04:22] pgrosu commented on #1460
@droazen, @akiezun - Even though I looked at the code several times, I had a feeling I might have been off on something.  No worries, I can wait if you prefer.  But are you saying that the BAQ tables  are the following [line of code](https://github.com/broadinstitute/gatk/blob/63a31efa9c4c888144f701fc0ab0afbb36a6185c/src/main/java/org/broadinstitute/hellbender/utils/recalibration/BaseRecalibration

[2016-02-07 01:29] eitanbanks commented on #1460
@akiezun I believe that BAQ was only introduced into BQSR to handle indels... which we are dropping.

I think you should tie out to GATK3 with BAQ included, remove BAQ completely, and then it should be simple to show that the BAQ-less results are barely any different (esp. if we enable binning).

(@yfarjoun on cc)

[2016-02-08 23:11] luoqi-git commented on #1470
@akiezun it is a little hard to distill into a piece of executable code, but could be explained very easily: say you have a read with bases 'ACGT' mapped at position 100 of a reference sequence (AAACGT) with a cigar of 1M2D3M, and deletion could be left adjusted by one base, to a cigar of 2D4M (the read is still aligned to the reference correctly at this point); if you then drop the leading D in t

[2016-02-10 04:23] akiezun commented on #1460
current investigations show that the memory is in fact dominated by the BAQ tables and most of the memory churn is from BAQ - in fact almost all comes from 3 allocation sites in BAQ.

Notably, only about ~200MB of total memory is non temporary, ie it's conceivable that we could fit BaseRecalibrator in 1GB.

[2016-02-10 13:57] eitanbanks commented on #1460
@akiezun, that's fantastic!
I'd like to propose the following steps:
1. tie out GATK3 and GATK4 with BAQ
2. get a baseline run of GATK4 with BAQ and with binning
3. remove BAQ
4. tie out GATK4 without BAQ but with binning to 2 above
5. move GATK4 into production
What do you think?  It would be strategically smart to get this done soonish so our BioIT announcement has some legs to it.

[2016-02-10 13:59] eitanbanks commented on #1460
But step 4 above, the results aren't expected to be identical.  We just want to show (which I'm sure we'll do easily) that any differences are insignificant.  @yfarjoun has done this recently with the cloud/on-prem workflow and can show you his scripts.

[2016-02-10 15:19] cmnbroad commented on #1087
The missing NM tags are due to https://github.com/samtools/htsjdk/issues/455. PrintReadsSpark doesn't have this problem now because the tags are lost when going from BAM->CRAM, and the spark tools can't write CRAMs (yet). Once CRAM writing [is enabled](https://github.com/broadinstitute/gatk/tree/cn_spark_write_cram) the same problem happens on Spark.

[2016-02-10 16:38] akiezun commented on #1460
thanks - my plan was to show the matrix of quals vs quals (for the 2 versions being compared)

[2016-02-11 03:17] akiezun commented on #1413
status: BQSR tables differ but just a tiny bit
differences in observations are on the order of 10^-9 (relative differences)

First table:
QuantizedScore correlation 0.9999333
QuantizedScore: summary of relative differences:
[code]

Second table:
all values the same

Third table:
Observations: summary of distro of relative diffs
[code]

Errors: summary of distro of relative diffs
[code]

Fourth tab

[2016-02-11 03:18] eitanbanks commented on #1413
In other words: epsilon.  Looks good to me.

[2016-02-11 03:20] akiezun commented on #1413
ok, I bet it's due to some minute differences in filtering of reads. I'm not going to investigate unless someone objects

[2016-02-11 05:28] eitanbanks commented on #1413
No objections from me

[2016-02-11 18:33] vdauwera commented on #269
Bug. It creates inaccurate ref calls. Test case is available in https://github.com/broadinstitute/gsa-unstable/issues/1271

[2016-02-11 19:07] pgrosu commented on #269
Hi Geraldine,

Sorry to bother, but when I try to following this link, I get a 404 error:

https://github.com/broadinstitute/gsa-unstable/issues/1271

Thanks,
Paul

[2016-02-11 19:13] vdauwera commented on #269
Hi Paul, that means you don't have access to our internal repositories. Let me see if I can get you access.

[2016-02-11 19:13] pgrosu commented on #269
Thank you :)

[2016-02-11 19:36] vdauwera commented on #269
I added you as collaborator, you should have access now.

[2016-02-11 19:40] pgrosu commented on #269
Thank you Geraldine.

[2016-02-11 20:21] droazen commented on #1440
After writing tests, should present to the rest of the team to spread the knowledge :)

[2016-02-11 20:22] droazen commented on #1451
@lbergelson Is this one fixed yet?

[2016-02-11 20:38] lbergelson commented on #1451
Not yet.  This is still mysterious to me.

[2016-02-11 21:18] cmnbroad opened #1480 "Add output indexing on the fly for Spark tools"
Per discussion with @droazen, we'll do the Spark tool equivalent of https://github.com/broadinstitute/gatk/issues/365 (once the various branches with ReadsSparkSink refactorings are merged in).

[2016-02-11 21:26] cmnbroad commented on #121
There is a [branch/commit](https://github.com/broadinstitute/gatk/commit/2fb990dfeb7f5be20d6d09e184327d3872094f26) here with changes to centralize creation of the output VCFWriter for all (non-Spark) tools in order to centralize index creation, which is an incremental step in this direction.

[2016-02-11 21:43] lbergelson opened #1481 "publish utils.test classes in separate artifact"
Right now we publish test utils as part of the gatk artifact.  Since these are part of our main compilation unit it means we have several test libraries as compile dependencies instead of as test compile dependencies.

If we separate our test utils into a separate group we can avoid having downstream tools gain various test dependencies if they don't want them.  (i.e. TestNG, MiniDFSCluster).

[2016-02-11 22:42] vdauwera opened #1482 "Don't apply emit/call conf thresholds by default"
In GATK3, HaplotypeCaller and GenotypeGVCFs apply thresholds on QUAL that control what records are "emitted" (written to VCF) and "called" (not labeled with Low_Qual). Corresponding CLI args are emit_conf_threshold and call_conf_threshold.

Philosophically it is a Bad Idea to do this pre-filtering (especially the emit thresholding) because it blurs the boundaries between calling and filtering. We

[2016-02-12 02:01] vdauwera opened #1483 "Generalize --forceValidOutput to apply to all tools that write VCFs"
Requested by support team.

Follow-up to https://github.com/broadinstitute/dsde-docs/issues/526

`--forceValidOutput` is an argument to SelectVariants (in GATK3) that forces its walker to completely unpack the information in the VariantContext (which holds all the annotations) then re-pack it using the underlying HTSJDK functions, which are usually fully spec-compliant. This is useful when dealing

[2016-02-12 09:55] tomwhite commented on #1451
@lbergelson what are the steps to reproduce this?

[2016-02-12 23:13] akiezun opened #1484 "port ExcessHet annotation from GATK3"

[2016-02-12 23:14] akiezun commented on #1468
PossibleDeNovo is one of those annotations

[2016-02-13 01:25] akiezun opened #1485 "VariantAnnotation - enable overlapping with arbitrary feature source"
came up in review of https://github.com/broadinstitute/gatk/pull/890 - we dont support detection of overlap with arbitrary feature source, only DBSNP. This needs to be enabled and tested.

[2016-02-13 01:35] droazen commented on #1485
I actually think this does/should work in the current port -- can you try adding a test for it?

[2016-02-13 01:37] akiezun opened #1486 "Load a VCF in parallel in Spark"
We can use `SparkContext.textFile` "https://spark.apache.org/docs/1.5.0/api/java/org/apache/spark/SparkContext.html#textFile(java.lang.String,%20int)" and VCFCodec.decode to load the file (can be compressed) to an JavaRDD of VariantContexts. The codec needs to be set up with a header but that's easy - just read the first lines.

[2016-02-13 01:40] akiezun commented on #1485
well, the only place where `VariantOverlapAnnotator(final FeatureInput<VariantContext> dbSNP, final Map<FeatureInput<VariantContext>, String> overlaps)` is called with non-empty map is `initializeOverlapAnnotator` (used to be named `initializeDBs` and that only adds dbSNP AFAICT

[2016-02-13 01:41] akiezun commented on #1484
I'm happy to take this one - nice unit tests @meganshand. Will make my work so much easier

[2016-02-13 01:55] akiezun commented on #1470
`AlignmentUtils.leftAlignIndel' only returns the updated cigar and does not change the read's alignment. It does return 4M as you mention. I'm closing this - this is not a bug in AlignmentUtils.leftAlignIndel

[2016-02-13 01:55] #1470 closed

[2016-02-13 01:56] droazen commented on #1485
@akiezun You need to allow a set of comparison `FeatureInputs` (what GATK3 calls "compBindings") to be passed in at construction, in addition to the DBSNP `FeatureInput`. Then you need to modify your `initializeOverlapAnnotator()` method slightly to add entries for the non-DBSNP "comp" `FeatureInputs` as well, and it should just work, I think. Could you please do this + add a test? This feature is

[2016-02-13 01:58] akiezun commented on #1485
will do but let me merge in #890 first - i want to be done with it, it's been open since september

[2016-02-13 02:00] droazen commented on #1485
Would you mind doing it as part of https://github.com/broadinstitute/gatk/pull/890? It should be really easy (1 extra constructor arg + a few extra lines in `initializeOverlapAnnotator()`), and has implications for work I'm doing now.

[2016-02-13 02:09] akiezun commented on #1485
12 hours of hacking -> brain shutdown. Curing cancer has to wait for me to reboot it.

[2016-02-13 02:21] luoqi-git commented on #1470
Granted it is not AlignmentUtils.leftAlignIndel's problem alone. An API is a contract between the caller and the callee, this bug is a misunderstanding on this contract between the two parties. The caller doesn't expect the read start position needs to be changed, the callee has this information but unable to return to the caller with the current API form. The API needs updated so the callee can c

[2016-02-15 00:33] pgrosu commented on #1486
Hi Adam,

Maybe I'm thinking naively here - and I don't have access to a complete and proper Spark cluster for rigorous testing - but just as a simple test of loading a VCF via Spark, I took [PrintReadsSpark.java](https://github.com/broadinstitute/gatk/blob/030858bc08328200b9df287db2571b907189ec66/src/main/java/org/broadinstitute/hellbender/tools/spark/pipelines/PrintReadsSpark.java) and performed

[2016-02-15 16:20] cmnbroad commented on #365
This is done for non-Spark tools (Spark tools are covered by #1480). But per discussion with @droazen its on hold until we resolve the various different ways of getting a sequence dictionary. Code is in https://github.com/broadinstitute/gatk/commit/2fb990dfeb7f5be20d6d09e184327d3872094f26.

[2016-02-16 17:41] cwhelan opened #1491 "Intermittent errors when running on distributed Spark cluster"
When running jobs on our Spark cluster I start seeing error messages in the logs midway through the job, of the form:

[code]

java.nio.channels.ClosedChannelException

These are often followed by stacktraces like this:

[code]

And then warnings about lost tasks:

[code]

Then errors like this:

[code]

akka.remote.EndpointAssociationException: Association failed with [akka.tcp://sparkExecutor@da

[2016-02-16 17:42] cwhelan commented on #1491
Two possibly relevant discussions/issues:

http://stackoverflow.com/questions/29781489/apache-spark-network-errors-between-executors

https://issues.apache.org/jira/browse/SPARK-5085

[2016-02-16 22:19] gspowley opened #1492 "Gradle build for AVX PairHMM shared library"
The build.gradle code below builds the native shared library for AVX PairHMM using gcc and copies the .so file to the desired location. The jar task will archive the .so file in the GATK jar file.

[code]

The gradle gcc plugin expects to find the C++ source code in the default location shown below. We can use a different directory structure, if desired.
[code]

[2016-02-17 02:25] akiezun commented on #1492
@gspowley can you open a pull request with the native code and tests for it?

[2016-02-17 03:44] #1485 closed

[2016-02-17 17:10] lbergelson commented on #1491
I've seen this before but never figured out how to trigger it.  Do you consistently get these messages?

[2016-02-17 17:13] lbergelson commented on #1491
We've seen similar dissociation / lost executors when yarn containers exceed their maximum memory and are rudely killed.

My first glance thought is that it's likely related to the 1g block size.   Do they go away if you use smaller block sizes?

[2016-02-17 17:19] akiezun opened #1493 "eliminate misguided use of LinkedLists in the downsampling package"
came up in review of https://github.com/broadinstitute/gatk/pull/1442

as per @droazen 's request, assigning to him

[2016-02-17 18:26] akiezun opened #1494 "LocusIteratorByState does not handle unmapped reads"
come up in review of https://github.com/broadinstitute/gatk/pull/1442
see disabled test testUnmappedAndAllIReadsPassThrough in LocusIteratorByStateUnitTest

[2016-02-17 18:36] akiezun commented on #1494
i think the problem may be that GATKReads cannot be unmapped if they have a position. So a call to ReadStateManager.readStartsAtCurrentPosition will always return false for unmapped reads

for @droazen

[2016-02-17 18:38] akiezun opened #1495 "remove mentions of SAMRecordAlignmentState"
SAMRecordAlignmentState is some ancient name that does not exist even in GATK3. We should purge it from the comments

[2016-02-17 20:34] akiezun commented on #1486
ha, interesting. let me take this on

[2016-02-17 21:53] akiezun commented on #1486
done in #1496
thanks @pgrosu for pointing out that code!

[2016-02-18 01:16] akiezun commented on #1463
closing this as a dup of #1464

[2016-02-18 01:16] #1463 closed

[2016-02-18 01:18] akiezun commented on #1446
let's close this because it's covered by #1427

[2016-02-18 01:18] #1446 closed

[2016-02-18 01:42] akiezun commented on #1387
closing as part of https://github.com/broadinstitute/gatk/issues/1427

[2016-02-18 01:42] #1387 closed

[2016-02-18 01:43] akiezun commented on #1372
happy to review this when ready

[2016-02-18 02:52] #1313 closed

[2016-02-18 03:06] akiezun commented on #1121
closing, it's part of #1427

[2016-02-18 03:06] #1121 closed

[2016-02-18 03:18] akiezun commented on #1040
@gspowley , should we close this given #1492  ?

[2016-02-18 03:18] akiezun commented on #1040
yes, let's

[2016-02-18 03:21] akiezun commented on #861
part of #1427 , closing

[2016-02-18 03:21] #861 closed

[2016-02-18 03:22] akiezun commented on #644
GATKReadCoderUnitTest is no more.
closing this issue

[2016-02-18 03:22] #644 closed

[2016-02-18 03:32] akiezun commented on #616
@vdauwera @ldgauthier my understanding now is that VariantEval is to be phased out in favor of improving CollectVariantCallingMetrics. Yes?

[2016-02-18 03:35] akiezun commented on #317
let's close this. it's easy to reopen of this is ever an actual problem

[2016-02-18 03:39] vdauwera commented on #616
Yes, with the caveat that VariantEval offers a lot of capabilities that CollectVariantCallingMetrics does not, so the latter will need quite a lot of improvement in order to replace VE.

[2016-02-18 03:49] akiezun commented on #616
can you list here the capabilities we need? Here's what I got from @ldgauthier:

[code]

[2016-02-18 04:27] akiezun commented on #1123
it was coming from the adam project - log4j was picking up that config file because it was the first log4j.properties file it could find. Fixed by providing our own

[2016-02-18 15:24] gspowley commented on #1492
@akiezun #1504 is failing in Travis because Travis is using an older version of gcc (4.6.3). Can we setup Travis to use gcc 4.8 or newer?

[2016-02-18 15:30] lbergelson commented on #1492
@gspowley try changing the addons block in the .travis.yml to look like the following:

[code]

[2016-02-18 15:52] droazen commented on #1040
Re-opening -- the requirements for this ticket are not captured in the other ticket.

[2016-02-18 15:55] droazen commented on #317
Re-opening -- it is a problem, and we need to make a decision on it.

[2016-02-18 16:17] akiezun commented on #317
How is it a problem? What errors does it cause?

[2016-02-18 16:19] droazen commented on #317
It's a problem because we have to work with formats that support zero-length intervals (eg., BED). We need to talk this issue through and come to a clear decision.

[2016-02-18 17:09] #1081 closed

[2016-02-19 04:03] akiezun opened #1506 "reenable test in CountVariantsSparkIntegrationTest when HadoopGenomics/Hadoop-BAM#68 is done"
came up in review of https://github.com/broadinstitute/gatk/pull/1496
when HadoopGenomics/Hadoop-BAM#68 (block gzipped VCF not recognized as VCF) is fixed we need to reenable a test in CountVariantsSparkIntegrationTest

[2016-02-19 15:11] #1123 closed

[2016-02-19 19:50] akiezun opened #1508 "investigate using Isilon-as-HDFS for Spark"
From @tomwhite

"Isilon exposes a Hadoop filesystem interface which makes it possible
to use it as a source or sink for Spark. (There are some notes here:
http://www.cloudera.com/documentation/enterprise/latest/topics/cm_mc_isilon_service.html)

Note however that you lose the benefits of locality, so it won't be as
fast as HDFS. Definitely worth a try. Also, for a pipeline with
multiple steps, you

[2016-02-19 19:54] akiezun opened #1509 "implement parallel copy from NFS (or IFS) to HDFS"
A lot of data we have lives on NFS (or underlying IFS - Isilon FS). Copying files in and out is a bottleneck and a pain. This ticket for an implementation of a parallel copy of a BAM/CRAM file to HDFS (sharded or unsharded)

[2016-02-19 20:21] cwhelan opened #1510 "Update serializable objects to use lambda functions where appropriate after upgrading to Kryo 3.0+"
Versions of Kryo less than 3.0 can't serialize Java 8 lambda functions, forcing us in some cases to replace lambdas with full function class objects even when a lambda would be simpler and easier to read. See for example https://github.com/broadinstitute/gatk/pull/1489 . This ticket is to look through the codebase after an upgrade to Kryo 3.0+ takes place and to replace unnecessary function classe

[2016-02-19 21:25] lbergelson commented on #1405
@pasculorente Sorry no one replied before.  Thanks for the input.   You're always welcome to submit pull requests if you have solutions to an issue!  I think this is getting fixed already, but feel free to contribute if you feel like it.

[2016-02-19 21:27] #1346 closed

[2016-02-19 21:27] #1486 closed

[2016-02-19 21:30] cmnbroad commented on #1326
Closed via #1469.

[2016-02-19 21:30] #1326 closed

[2016-02-19 21:30] cmnbroad commented on #1175
Closed via #1469.

[2016-02-19 21:30] #1175 closed

[2016-02-19 21:31] cmnbroad commented on #1261
Closed via #1469.

[2016-02-19 21:31] #1261 closed

[2016-02-19 21:36] cmnbroad commented on #1259
Closed via #1469.

[2016-02-19 21:36] #1259 closed

[2016-02-19 22:07] cmnbroad commented on #1269
Closed via https://github.com/broadinstitute/gatk/pull/1479.

[2016-02-19 22:07] #1269 closed

[2016-02-20 03:58] akiezun opened #1512 "incorrect test CollectInsertSizeMetricsTest - not catching an incorrect BAM and CRAM files"
this bam file has no reads: `src/test/resources/org/broadinstitute/hellbender/tools/picard/analysis/CollectInsertSizeMetrics/insert_size_metrics_test.bam`

the cram file also has no reads ``src/test/resources/org/broadinstitute/hellbender/tools/picard/analysis/CollectInsertSizeMetrics/insert_size_metrics_test.cram`

but the corresponding sam file has 52 reads: `src/test/resources/org/broadinstitut

[2016-02-20 03:59] akiezun commented on #1512
@cmnbroad can you have a look? Not sure what went wrong with making the bam and cram files here

[2016-02-20 04:00] akiezun commented on #1512
thanks @SHuang-Broad for pointing out this problem to me

[2016-02-22 02:30] akiezun opened #1515 "SVs should have their own program group"
SVs should have their own program group and we should us that rather than the Spark group (the Spark group will go away because tool should be group by what they do rather then by how thew do it)

[2016-02-22 04:11] #1405 closed

[2016-02-23 01:46] #622 closed

[2016-02-23 16:29] tomwhite commented on #1409
I've sketched what this might look like at https://github.com/broadinstitute/gatk/compare/tw_sharded_bam_reader. I'd be happy for someone else to take this over.

A few notes about the status:
* Currently the Hadoop Path API is used. This should be changed to use the nio Path API (#1426)
* SamReader.PrimitiveSamReaderToSamReaderAdapter is not public so htsjdk will need a change to make this easier

[2016-02-23 20:06] akiezun commented on #1319
This may be a requirement for production. @eitanbanks, is it?

[2016-02-23 20:09] akiezun commented on #1413
md5 may be a requirement #1319 because production uses the `generate_md5` flag in gatk3

[2016-02-24 15:59] akiezun commented on #1413
ApplyBQSR (aka PrintReads) is done. Performance stats look very good.

user time, gatk4 is 37% better
GATK3 57555.36 seconds
GATK4 35718.76 seconds

and that's using less CPU: "Percent of CPU this job got"
GATK3 121%
GATK4 106%

Maximum resident set size (kbytes) - gatk4 uses 82% less memory
GATK3 84675872 kbytes
GATK4 14657904 kbytes

[2016-02-24 16:13] cwhelan commented on #1491
Yes, they did seem go away when I ran with a block size of 10m vs 1g.

It would be nice to get a memory-related error message here rather than just having the executors be killed.

[2016-02-24 16:16] lbergelson commented on #1491
It would be so much nicer.  It is a consistent cause of confusion and frustration.

[2016-02-24 16:19] droazen commented on #1413
That's awesome, but are you sure those memory numbers are right? GATK3 uses 84675872 kbytes = 84 GB?

[2016-02-24 16:35] akiezun commented on #1413
Don't know - that's whatever `time -v` outputs. I'm not sure what exactly it means.

[2016-02-24 16:42] akiezun commented on #1413
Tie-out status: gatk4 filters out 319 reads (compared to 0 in gatk3 ) - out of 953543105 total.
First read. I'm guessing it's the `61S90I` that triggers the filter.

[code]

[2016-02-24 16:55] akiezun opened #1517 "add a binding to native BWA-MEM"
we need a way to bind to a BWA-MEM library to align reads programmatically from within the GATK.

SVs need it and it would simplify the reads pipeline to have it start with a fasta.

Commandline behavior we need: `bwa mem -K 100000000 -p` (we may not care about multithreading)
* `-K` is undocumented - reading code shows it refers to `fixed_chunk_size` which then sets `actual_chunk_size` @lh3 can y

[2016-02-24 16:56] akiezun commented on #1517
@SHuang-Broad @cwhelan this is on your radar already right?

[2016-02-24 16:58] cwhelan commented on #1517
On our radar, yes. There is some question over whether we'd want to bind straight to BWA or to wrappers from the Snowtools library, but I think that direct BWA bindings would be helpful one way or the other at some point in the future.

[2016-02-24 16:59] akiezun commented on #1517
can one of you grab it then? up to you how you bind (raw or via snowtools)

[2016-02-24 18:24] lbergelson commented on #1315
Another user reported a very similar error while running:
[code]
[February 22, 2016 3:53:50 PM CST] org.broadinstitute.hellbender.tools.spark.transforms.markduplicates.MarkDuplicatesSpark done. Elapsed time: 19.84 minutes.
Runtime.totalMemory()=38586548224
java.lang.ClassCastException: htsjdk.samtools.SAMRecord cannot be cast to htsjdk.samtools.SAMRecord
	at org.broadinstitute.hellbender.utils.rea

[2016-02-24 18:52] lbergelson commented on #1315
@droazen I don't understand this problem.  I think I'm going to prevent it by having GATK-launch reject commands with spark-submit and local.  Does that seem sane to you?

[2016-02-24 19:12] lbergelson commented on #1517
Did dominar write java bindings for BWA for dataflow?  Maybe we could ask someone who was involved in that in case it already exists.

Also, it looks like the highly prolific @lindenb implemented java bindings a long time ago https://github.com/lindenb/jbwa.  I'm not sure how complete they are and the last update was in 2013, but he might be interested in updating them if there is demand.

It look

[2016-02-24 19:14] akiezun commented on #1486
performance point: on our cluster this gives ~900MB/second (on 60 spinning disks).

[2016-02-24 19:15] akiezun commented on #1517
btw to lower the JNI cost we may want to batch calls to bwa-mem. Need to measure performance and see

[2016-02-24 19:19] lindenb commented on #1517
jbwa was just a proof-of-concept and a pretext to learn JNI. The algorithm was built on the "simple" API for BWA, but the internal 'mem' algorithm is much more complicated and the last time (2013) I looked at it, it was not easy to use it as a library (e.g. too many things in the `main`). I remember people at http://cloudgene.uibk.ac.at/ used it.

[2016-02-24 19:27] akiezun commented on #1517
I heard that genomeStrip has a binding

[2016-02-24 19:31] lbergelson commented on #1517
@lindenb Thanks for the info.

[2016-02-24 19:32] droazen commented on #1315
I think it's sane to prevent this combination for now, but let's keep this ticket open to try to eventually understand what's going on. It almost sounds like we have two versions of the `SAMRecord` class for some reason -- could it possibly be a `serialVersionUID` issue?

[2016-02-24 19:40] lbergelson commented on #1315
It does seem that way.  I don't think it's `serialVersionUID`, that usually manifests as failures to deserialize rather than class cast problems.  I think it's likely an issue with 2 different class loaders loading that same class (based on discussion in #1386.)  Possibly something analogous to https://issues.apache.org/jira/browse/SPARK-1403, but on yarn.

[2016-02-24 19:41] lbergelson commented on #1315
Actually, scratch the yarn bit, we're not going through yarn at all.  But it feels like something similar happening.

[2016-02-24 19:58] cwhelan commented on #1517
There are bindings in GenomeSTRiP but I think they link to an old version of BWA and might need to be updated. I'll investigate them.

[2016-02-24 20:23] pgrosu commented on #1486
@akiezun Gladly :)  Sorry to reply so late as I am slowly catching up on repository posts :)

[2016-02-24 21:06] lbergelson commented on #1315
So after flailing about for a while, it seems like setting  `spark.executor.userClassPathFirst=false` (instead of the current and longstanding default of `=true`) fixes this issue with the local runner.  From my very limited tests it doesn't seem to have dire consequences. I assume we added that because it was necessary, but it's possible it was just to be symmetric with `spark.driver.userClassPat

[2016-02-24 21:16] vdauwera commented on #616
That looks about right to start with. We may need to add things later but this covers the major use cases.

[2016-02-24 21:23] #733 closed

[2016-02-24 22:27] lbergelson commented on #1451
@tomwhite Sorry! I missed your message.  This reproduces reliably on our cluster if you run the command I posted above on our current master branch.

[code]

You'll have to adapt it to your own file system or log into ours. Folders under /home/unix/ are visible to every node in our cluster.

[2016-02-24 22:29] SHuang-Broad commented on #1517
SnowTools recently updated so that "user" gets to choose among BWA-MEM and BLAT. I agree with Chris that direct binding with BWA and/or BLAT is probably better.

[2016-02-24 23:06] SHuang-Broad opened #1519 "Edge-case bug in Picard InsertSizeCollector"
Below is probably too specific but I am not sure if this is desired (unlikely IMO) or actually another edge-case bug.

Summary: `InsertSizeMetics.WIDTH_OF_99_PERCENT` potentially get larger than `InsertSizeMetrics.MAX_INSERT_SIZE - InserSizeMetrics.MIN_INSERT_SIZE`.

Details:
Using the non-empty bam file, fragment length values of valid reads (13 reads) are
{36,36,36,38,38,40,41,41,41,41,44,44,45}

[2016-02-25 02:49] SHuang-Broad commented on #1519
In fact I just realized Picard's way of collecting the width is actually biased. I'll present my argument tomorrow, and will upload an PDF if necessary.

[2016-02-25 03:13] eitanbanks commented on #1319
Best person to ask is @ktibbett, but in general this is an extremely useful option.

[2016-02-25 03:52] eitanbanks commented on #1413
This is great stuff.  Am curious about the memory too given David's question.  But very happy.

[2016-02-25 04:01] akiezun commented on #1413
I think it still needs to be run through an QA process independent from the dev team . There may be options, details etc that we don't do exactly how production does. Things coming to mind (there's surely much more):
- test splitting input in in many ways (the same exact way as production does)
- generation of md5 (we're not doing it yet)
- the PG tag in the header (we're not writing one yet)
- va

[2016-02-25 13:56] pfxuan commented on #1508
In this case, it may make sense to insert an in-memory cache layer between Spark and Isilon for holding those intermediate datasets. For example, if Alluxio (Tachyon) is used, the benefits of locality could still be preserved and the I/O pressure to network as well as to Isilon storage will be largely released. GATK pipeline would achieve memory speed data sharing across different computational st

[2016-02-25 14:06] pfxuan commented on #1509
Is NetApp-Hadoop-NFS-Connector useful for your problem? Also, the datasets pumped from NFS could be held at in-memory storage layer:
https://github.com/NetApp/NetApp-Hadoop-NFS-Connector
http://www.alluxio.org/

[2016-02-25 14:20] eitanbanks commented on #1413
I think that you should test the first thing (you don't need to scatter exactly the same way as prod in order to test; just make sure it works for you) and then do the middle 3 things (which all should be fairly easy).  I do not think that we need to do the last bullet other than what you are seeing on your test data (really, just addressing David's point above is enough).

[2016-02-25 20:17] lbergelson opened #1523 "Fix NPR when CountReadsSpark is run with no output file"
Running without an output file causes an NPR.  Needs a null check.
[code]

[code]

[2016-02-25 21:39] akiezun commented on #1413
Results are in: we have 0 differences out of 142779553658 recalibrated base qualities compared to GATK3

[2016-02-25 22:23] lbergelson opened #1524 "fix NegativeArraySizeException in ReadsSparkPipeline"
We have multiple reports of `NegativeArraySizeException` being thrown during kryo serialization while running `ReadsSparkPipeline`

an example
[code]
resulted in
[code]

[2016-02-25 22:25] lbergelson commented on #1524
According to collaborators this is caused by a bug running kryo on JDK8 and can be fixed either by:

1.  patching kryo
2.  a jvm argument of some sort (what argument that is? Unknown...)

I'll update this when I get more information.

[2016-02-26 04:15] vdauwera opened #1525 "Enable SelectVariants to drop sites with * allele as only ALT"
SelectVariants has a flag called `--excludeNonVariants` that causes it to drop sites for which no sample has a non-ref GT. Currently, if SelectVariants encounters a site where `*` is the only ALT (which can happen after subsetting), it will retain that site even if we use `--excludeNonVariants`. From a pure GATK perspective, the `*` allele is only used to signify there is a spanning deletion, so t

[2016-02-26 14:37] akiezun opened #1527 "SAM/BAM/CRAM writing tools need to add PR tag (optionally)"
this is required for production, to track provenance

[2016-02-26 14:38] akiezun commented on #1413
todos:
md5: https://github.com/broadinstitute/gatk/issues/1319
pg: https://github.com/broadinstitute/gatk/issues/1527
gatherbqsrreports: https://github.com/broadinstitute/gatk/issues/1372

[2016-02-26 16:54] lbergelson commented on #1524
Kryo issue tracking this here is here https://github.com/EsotericSoftware/kryo/issues/382

Temporary fix is to run with the following set:
[code]

[2016-02-26 18:22] #1319 closed

[2016-02-27 05:14] SHuang-Broad commented on #1519
Wrong understanding... closing.

[2016-02-27 05:14] #1519 closed

[2016-02-29 11:34] tomwhite opened #1531 "Use IntervalsSkipList in ReadSparkSource.samRecordOverlaps()"

[2016-02-29 12:36] tomwhite opened #1532 "Fix performance issues in interval subsetting in Spark and large interval lists"
See notes in #1516.

[2016-02-29 12:39] tomwhite commented on #1399
Fixed in #1516.

[2016-02-29 12:39] #1399 closed

[2016-02-29 16:18] droazen commented on #1532
Let's test with the exome interval list `ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/2.8/b37/Broad.human.exome.b37.interval_list.gz` (need to gunzip before using)

[2016-02-29 20:45] lbergelson opened #1534 "Errors in spark tests when connected to Broad VPN"
@SHuang-Broad reports having problems running spark tests when his machine is connected to the broad vpn

Errors seem to occur with any tests that start a spark context.  They all seem to be caused by `java.net.BindException`

[code]

[2016-02-29 20:45] lbergelson commented on #1534
I haven't been able to reproduce this on my machine.

[2016-02-29 21:00] cwhelan commented on #1534
This happens to me, too.

On Mon, Feb 29, 2016 at 3:45 PM, Louis Bergelson <notifications@github.com>
wrote:

[2016-02-29 21:06] lbergelson commented on #1534
Strange.  I wonder why it's different for me.

[2016-02-29 22:39] cmnbroad commented on #1483
This is essentially the same issue as https://github.com/broadinstitute/gatk/issues/1116, in which we aspired to find a more generalized solution.

Is the performance hit for doing automatically this really too much, if we only do it when writing to a newer version than the one we read ?

[2016-03-01 03:20] akiezun opened #1536 "change AFPriorProviderUnitTest to not compare doubles by equality"
AFPriorProviderUnitTest.java:37 compared doubles by strict equality which is not the right way. It should use the `TOLERANCE` (equal to `0.0001`) eg change
[code]

to
[code]

@frank-y-liu can you make this change and see it if fixed your problem? If yes, can you contribute a fix?

[2016-03-01 03:30] akiezun commented on #1460
Help from Intel on memory profiling: "Java virtual machine (JVM) provides very good memory usage information through various utilities. We could start with getting a GC log file and take a look at it. Following command line options will make the JVM dump its memory usage information whenever a GC happens:
-XX:+PrintFlagsFinal -XX:+PrintGCTimeStamps -XX:+PrintGCDateStamps -XX:+PrintGCDetails -Xlogg

[2016-03-01 11:30] tomwhite commented on #1411
Fixed in #1429.

[2016-03-01 11:30] #1411 closed

[2016-03-01 12:25] frank-y-liu commented on #1536
Sure I can. I am still trying to figure out what went wrong with other
tests. May have to wait till I can pass the other tests or I will have to
check in without passing all tests.

-Frank

On Monday, February 29, 2016, Adam Kiezun <notifications@github.com> wrote:

[2016-03-01 16:00] sooheelee opened #1537 "[feature request] When pulling INDELs, allow SelectVariants to pull indels from MIXED sites"
This bug was posted for [gsa-unstable](https://github.com/broadinstitute/gsa-unstable/issues/1302) also, and is being posted here again at David R's request.

In my opinion, this bug is a high priority. Also, it impedes me in my documentation work. So if there is a workaround that I can use in the meanwhile, please share with me so I can continue writing my tutorial for indel realignment.
#### How

[2016-03-01 16:04] vdauwera commented on #1537
Not a bug -- as you say you're requesting "indels only", so that's what you're getting. If you want mixed records too you need to specify them.

[2016-03-01 16:35] vruano opened #1538 "TargetCollection<T> should be renamed to LocatableCollection<L>"
This class was created to provided for a need to keep a sorted (by location) set of targets. However there is nothing in it that could not really be applied to any locatable in general.

As a matter of fact now I find myself in a situation in where I need the same functionality for a different subclass of Locatables, TargetCollection (and its implementations) have the functionality I need but usin

[2016-03-01 17:25] sooheelee commented on #1537
Is there a way to pull the indels only from the MIXED records?

Soo Hee Lee, Ph.D.
Science Technical Writer

On Tue, Mar 1, 2016 at 11:04 AM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-03-01 17:45] #1465 closed

[2016-03-01 18:43] akiezun commented on #1372
from @lbergelson
[code]

the problem is that these tables (gatk4_combined.tbl and gatk4.tbl ) are different (and they are also different in gatk3)

[2016-03-01 19:12] vdauwera commented on #1537
You mean keep the site and the info for the indel allele but get rid of the SNP allele? Not directly. This would be done automatically if you extracted a sample from a cohort and it only had the indel allele, *and* you specified you wanted to drop alleles that are not in your selected samples. But I can't think of a way to separate them agnostically of samples through GATK. What are you trying to

[2016-03-01 19:17] sooheelee commented on #1537
Creating an INDEL.vcf for RealignmentTargetCreator. My current solution is
just to include the MIXED sites. Found the mixed sites are only ~2% of
indels+mixed so I'm just going to include them even if they contain other
types of variants.

Soo Hee Lee, Ph.D.
Science Technical Writer

On Tue, Mar 1, 2016 at 2:12 PM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-03-01 21:45] sooheelee commented on #1537
### Feature request
I would like to be able to pull out the indel allele only from mixed records. I'm told this would take the form of a flag that would modify the -selectType behavior to additionally reach into mixed records and subset alleles. If this feature will be addressed, then it also needs to be backported to gsa-unstable.

Additionally, I would like to be able to pull out based on allele

[2016-03-02 15:45] #1523 closed

[2016-03-02 23:11] cmnbroad opened #1540 "MeanQualityByCycleSpark integration test fails on ADAM files with setHeaderStrict"
ReadsSparkSource uses SAMHeaderReader.readSAMHeaderFrom to get the header from the input file, but it returns a bogus header object when called on an ADAM file (its actually htsjdk which is happily returning the header). Subsequent setHeaderStrict calls fail when using this header. The testADAM method should be re-enabled when there is a resolution for this.

[2016-03-03 19:18] davidbenjamin commented on #1445
Sounds like a good idea to me, too.

[2016-03-03 20:50] lbergelson opened #1545 "Create unified IndexInput tool"
Create a single unified tool that can take a primary input, (bam, vcf, tabixable table, fasta) and write all the indexes/dictionaries that GATK requires to operate on that file.

[2016-03-03 21:19] droazen commented on #1270
This is done

[2016-03-03 21:19] #1270 closed

[2016-03-03 21:21] droazen commented on #1441
This ticket is done -- @jean-philippe-martin found an NIO file system provider for GCS within Google and is in the process of making it public.

[2016-03-03 21:22] droazen opened #1547 "Make Google NIO provider for GCS public and available via maven"
@jean-philippe-martin is working now to make the Google NIO provider for GCS that he found public.

[2016-03-03 21:23] #1441 closed

[2016-03-03 21:25] droazen commented on #734
This one is done

[2016-03-03 21:25] #734 closed

[2016-03-03 21:36] jean-philippe-martin commented on #1547
GCS NIO provider is public already, accessible at:
https://github.com/GoogleCloudPlatform/gcloud-java/tree/gcs-nio

I'm working on getting the [integration tests](https://github.com/jean-philippe-martin/gcloud-java/blob/integration-tests/gcloud-java-contrib/gcloud-java-nio/src/test/java/com/google/gcloud/storage/contrib/nio/ITGcsNio.java) and examples ready, and later on getting the NIO provider o

[2016-03-03 21:39] pgrosu commented on #1547
Very cool @jean-philippe-martin!

[2016-03-03 22:31] lbergelson opened #1548 "Make gathered BQSR tables identical to running without scatter gather"
Currently there are some differences if you scatter BQSR by chromosome and gather results than if you had run a single instance of BQSR.  This ticket is to understand and fix those differences modulo the rounding issue.

[2016-03-04 16:03] SHuang-Broad opened #1550 "Add new functionality in GATK4 to directly extract SamPairUtil.PairOrientation from GATKRead"
Currently such information can only be extracted indirectly via a conversion to SamRecord, which incurs unnecessary performance penalty:

[code]

[2016-03-04 16:05] SHuang-Broad commented on #1515
Should we close this, considering that there is one now? @cwhelan @tedsharpe

[2016-03-04 17:52] ronlevine opened #1552 "Subset Strand Allele Counts (SAC) intelligently"
Implement https://github.com/broadinstitute/gsa-unstable/issues/950

[2016-03-04 19:49] lbergelson commented on #1315
running with ` -verbose:class` shows 2 separate class loaders being used for each class.
[code]

[2016-03-04 19:49] #1315 closed

[2016-03-04 19:49] #1386 closed

[2016-03-04 22:47] lbergelson opened #1554 "add a clear error message if native code fails to build"
The build should give a clear error message explaining how to skip building the native code if it fails to build.

[2016-03-07 16:17] akiezun opened #1556 "investigate using Intel igzip-bam for compression/decompression"
this may go to htsjdk (maybe hadoop-bam too) and this issue is a placeholder

Intel's compression code https://software.intel.com/en-us/articles/igzip-a-high-performance-deflate-compressor-with-optimizations-for-genomic-data shows good speedup on reading/writing BAMs. We should investigate using it.

@paolonarvaez assigning to you - let me know if that's ok.

[2016-03-07 16:20] akiezun opened #1557 "remove BAQ from BQSR (and validate results)"
- [x] remove BAQ from code (provide a code path that skips BAQ)
- [x] run BaseRecalibrator skipping BAQ
- [x] run ApplyBQSR
- [x] compare base quals to a BAQ-full run
- [x] compare base quals after binning

[2016-03-07 16:33] akiezun opened #1558 "Make pileups in parallel on Spark"
We need a way to create pileups (alignment contexts) in parallel on Spark. Ie the input is a bam file and a vcf file. The engine should provide a way to create an RDD of `AlignmentContext`.

This functionality is important for tools that work on pileups (eg allelic copy number tools).

[2016-03-07 21:22] akiezun opened #1559 "Benchmark ReadsPipelineSpark on queryname sorted BAMs"
https://github.com/broadinstitute/gatk/issues/1411

1 shuffle was removed from MarkDuplicates - we should measure performance impact of that
- [x] make a querynamesorted file and copy to cluster
    `hdfs:///user/akiezun/data/CEUTrio.HiSeq.WEx.b37.NA12892.readnamesort.bam`
- [x] run new code on it, measure time
- [x] run legacy code (picard + gatk3) on coordinate sorted bam, pinned to 1 CPU, 7GB r

[2016-03-08 02:32] #1372 closed

[2016-03-08 02:43] akiezun opened #1560 "spark fails on 'invalid read'"
the invalid reads strikes back - i got this when running the ReadsPipelineSpark on qurynamesorted file `hdfs:///user/akiezun/data/CEUTrio.HiSeq.WEx.b37.NA12892.readnamesort.bam`:

[code]

[2016-03-08 02:44] akiezun commented on #1559
blocked by #1560

[2016-03-08 03:19] #1527 closed

[2016-03-08 14:20] #1087 closed

[2016-03-08 15:12] cwhelan commented on #1515
Sure, if it's done you can close this, just mention the pull request number
that contained the fix.

On Fri, Mar 4, 2016 at 11:05 AM, Steve Huang <notifications@github.com>
wrote:

[2016-03-08 16:24] cmnbroad opened #1562 "IntegrationTestSpec doesn't handle CRAM output"
There are a few problems with IntegrationTestSpec that surface when adding CRAM tests to the Reads/BQSRSparkPipelines:

- generated output filenames contain no sam extension, so outputs always are treated as .bam
- it doesn't have explicit knowledge of the reference file, which is needed to do proper  file comparisons through the SamAssertionUtils assertSamsEqual methods
- there is code that assum

[2016-03-08 20:37] lbergelson opened #1563 "spark tools should warn if a splitting index isn't being used"
Spark tools should output a warning if a splitting index isn't being used, as well as instructions on how to create one.

[2016-03-08 20:59] #1347 closed

[2016-03-08 21:44] cmnbroad commented on #1440
Update: @tomwhite and I have both added new tests recently, but we're still at about 38%.

[2016-03-09 17:33] akiezun commented on #1515
done in #1514

[2016-03-09 17:33] #1515 closed

[2016-03-09 17:37] akiezun commented on #1413
boom, this is done

[2016-03-09 17:37] #1413 closed

[2016-03-09 17:57] lbergelson commented on #1413
woo!

[2016-03-09 18:34] eitanbanks commented on #1413
Yay!
@akiezun @yfarjoun should we take this in now to GotC or wait until the BAQ stuff is purged?

[2016-03-09 21:30] #1560 closed

[2016-03-09 21:35] yfarjoun commented on #1413
Since this is not a scientific question, I defer to others!

[2016-03-10 13:57] droazen commented on #103
Done for alpha-1 purposes in https://github.com/broadinstitute/gatk/pull/1567 -- closing!

[2016-03-10 13:57] #103 closed

[2016-03-10 13:57] droazen commented on #18
Done for alpha-1 purposes in https://github.com/broadinstitute/gatk/pull/1567 -- closing!

[2016-03-10 13:57] #18 closed

[2016-03-10 13:58] droazen commented on #1409
This one will not be done for alpha-1 -- moving milestones

[2016-03-10 13:59] droazen commented on #1210
This thorny issue will not be resolved in alpha-1 -- we'll have to keep pushing on it in alpha-2 with the help of @vdauwera

[2016-03-10 14:00] droazen commented on #1440
This is an ongoing task that we'll want to continue in alpha-2

[2016-03-10 14:01] droazen commented on #166
As discussed with @lbergelson, this one will move to alpha-2

[2016-03-10 14:02] droazen commented on #1408
alpha-2

[2016-03-10 14:02] droazen commented on #1400
Will this be happening for alpha-1?

[2016-03-10 14:22] akiezun commented on #1400
@lukwam what's your estimate for the jenkins instance?

[2016-03-10 14:28] lukwam commented on #1400
I have been out the last couple of days but the estimate at the strategy
board should have been this week.
On Thu, Mar 10, 2016 at 09:23 Adam Kiezun <notifications@github.com> wrote:

--
Lukas Karlsson, Lead Architect, DevOps
Broad Institute of MIT and Harvard
75 Ames Street, 11129, Cambridge, Massachusetts 02142
karlsson@broadinstitute.org, +1.6177147142

[2016-03-10 20:05] akiezun opened #1568 "Test that providing a pre-created splitting index speeds up hadoop bam"
when https://github.com/broadinstitute/gatk/pull/1546 is merged we want to measure how much time is saved by pre-creating a splitting index

[2016-03-10 20:09] lbergelson opened #1569 "test performance of bam reading with a splitting index"
test to see if creating a splitting index for a bam file makes reading it in hadoop bam faster than not having one

[2016-03-10 20:11] #1569 closed, assigned to akiezun

[2016-03-10 20:12] akiezun commented on #1556
closing here in favor of https://github.com/samtools/htsjdk/pull/515

[2016-03-10 20:12] #1556 closed

[2016-03-10 20:59] lbergelson commented on #337
@droazen I think this one is irrelevant now that we are recommending using the gradle wrapper

[2016-03-10 20:59] #337 closed

[2016-03-10 21:13] droazen commented on #1188
This one is done

[2016-03-10 21:13] #1188 closed

[2016-03-10 21:20] droazen commented on #121
@cmnbroad If you have any ideas about how this should be done, feel free to suggest an approach

[2016-03-10 21:22] droazen commented on #1321
@cmnbroad if you have time, feel free to have a look

[2016-03-10 21:45] droazen commented on #1417
Updated the title of this ticket to clarify that the task is now just to improve the error message, not fix an actual bug.

[2016-03-10 22:45] lbergelson commented on #121
What happened with that branch?

[2016-03-11 03:15] akiezun commented on #1377
the setup for this seems like a huge ordeal. I'll shelve it for now

[2016-03-11 03:15] #1377 closed

[2016-03-11 03:46] eitanbanks commented on #1413
This is a good point.  I made a note to discuss with Kathleen.

[2016-03-11 05:18] akiezun opened #1570 "Create BAM splitting index in parallel"
writing the splitting index is very slow. It should be very parallelizable

[2016-03-11 05:46] akiezun commented on #1568
meh, on a 100GB file, using the pre-created splitting index speeds things up by maybe a few seconds (out of 1:40 min needed for FlagStatSpark). Closing as 'investigated' but i'm not impressed by the time savings.

[2016-03-11 05:46] #1568 closed

[2016-03-11 12:04] tomwhite commented on #1568
I think the idea behind having a splitting index is correctness (not having to use a heuristic approach to find record boundaries), rather than speed.

[2016-03-11 13:18] akiezun commented on #1568
I see, thank you for the clarification.

[2016-03-11 13:48] droazen commented on #1568
Yes, the whole motivation behind this effort was based on our belief that the split guessing in Hadoop BAM wasn't safe for production use, and so we wanted a more bulletproof mode of operation.

[2016-03-11 13:51] droazen commented on #121
It is blocked by another branch currently under review, I believe.

[2016-03-11 15:55] droazen opened #1572 "Using the native PairHMM in HaplotypeCaller can change the QUAL field vs. using the java LOGLESS_CACHING PairHMM"
Using the native PairHMM in the current version of the HaplotypeCaller can sometimes change the QUAL field in called variants. Eg.,

    $ diff hc.vcf hc_javahmm.vcf
    79c79
    < 20	10008221	.	T	C	3224.77	.	    AC=2;AF=1.00;AN=2;DP=80;FS=0.000;MLEAC=2;MLEAF=1.00;MQ=60.17;QD=27.78;SOR=0.850	GT:AD:DP:GQ:PL	1/1:0,80:80:99:3253,240,0
    ---

[2016-03-11 15:58] droazen commented on #1572
@gspowley any thoughts on this?

[2016-03-11 16:03] droazen commented on #1572
To reproduce, check out the `dr_runnable_haplotypecaller` branch, then run:

    ./gatk-launch HaplotypeCaller -R src/test/resources/large/human_g1k_v37.20.21.fasta -I src/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam -O hc_native.vcf

    ./gatk-launch HaplotypeCaller -R src/test/resources/large/human_g1k_v37.20.21.fasta -I src/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.

[2016-03-11 18:51] gspowley commented on #1572
@droazen Yes, this is because the native PairHMM is using single precision floating point and Flush To Zero (FTZ), while the Java PairHMM is using double precision and not using FTZ. I planned to address this when we integrate native PairHMM into HaplotypeCaller. It looks like the time is here.

For now, you can configure native PairHMM to use double precision and not use FTZ. With the diff below,

[2016-03-11 19:45] droazen commented on #1572
@gspowley Excellent, thanks for the detailed reply! I didn't realize that the `FTZ` issue hadn't yet been addressed.

I'll leave the native code as-is in my HC branch for now and let you address the issue as you see fit in a separate branch.

[2016-03-11 21:03] #1492 closed

[2016-03-11 21:30] cmnbroad commented on #1321
I can't reproduce this problem. CompareBaseQualities accepts positional arguments for the two inputs, and rejects -I..-I2 altogether (I don't get the CRAM reference error, it fails on the -I). I've added some integration tests that use 2 CRAMs and a mix of CRAM and BAM, and the reference seems to be accepted fine. Let me know if I'm missing something.

[2016-03-11 21:40] #1085 closed

[2016-03-11 21:40] #1226 closed

[2016-03-13 10:13] WinterLi1993 commented on #1102
HI,
   Do you have CREST's github link ? Can you send me ? Thank you very much !!

[2016-03-14 14:56] lbergelson commented on #1400
This is now up and running at [gatk-jenkins.broadinstitute.org](http://gatk-jenkins.broadinstitute.org) thanks to work by @mmonnar.

[2016-03-14 14:56] #1400 closed

[2016-03-14 16:43] lbergelson opened #1575 "VectorPairHMMUnitTest fails if the machine supports AVX but the library isn't built"
`VectorPairHMMUnitTest` checks `isAVXSupported()` and skips tests if it's not.  However, if AVX is supported on the machine, but the library isn't available it fails with

[code]

This should be fixed so that the tests are skipped instead.

[2016-03-14 18:23] droazen opened #1576 "Native PairHMM so/dylib doesn't get bundled in the shadow jar"

[2016-03-14 22:08] hammer commented on #1377
In the future y'all can just email me if you're interested in our use of Spark for genomics hammer@cloudera.com

[2016-03-14 23:07] #1484 closed

[2016-03-15 14:25] lbergelson opened #1578 "upgrade to gradle 2.12"
Gradle 2.12 just released which includes some improvements we've been waiting for.  It includes a "compileOnly" scope which should make some of our spark configuration unnecessary.  We should investigate if we can simplify the sparkJar setup using the new scope, and possible improve things for gatk-protected.

[2016-03-15 15:32] lbergelson opened #1579 "Investigate switching build to java component model"
Gradle is gradually transitioning to a new more flexible software model.  We use this new style model for our native code, but not for java.  We should investigate switching our java build to the new model. Some details are here https://docs.gradle.org/current/userguide/java_software.html.  It includes some interesting new features like a mechanism for explicitly declaring a public api for a proje

[2016-03-15 17:15] lbergelson opened #1580 "investigate whether gzipped fasta is smaller than 2-bit"
It's possible that 2-bit isn't gaining us much efficiency.  If we could read gzip fasta we might be able to use that instead for less complexity.

We might have to maintain it zipped in memory though, which could be complicated.

[2016-03-16 14:25] akiezun opened #1581 "Port Pileup"
it's a nice simple example of a locus walker

blocked by #1464

[2016-03-16 20:28] #358 closed

[2016-03-17 01:08] #1307 closed

[2016-03-17 01:39] akiezun commented on #1029
punting on this for alpha-1

[2016-03-17 02:28] akiezun commented on #1460
this is also nice for viewing those logs: http://gceasy.io/diamondGC

I'm running ApplyBQSR here on a file >100GB:

Here's the GATK4 plot: note that peak is 2.38GB
![image](https://cloud.githubusercontent.com/assets/1993519/13834462/ae6bffac-ebc5-11e5-80b3-7898022d1cea.png)

and same for GATK3 - peak was almost 18GB.
![image](https://cloud.githubusercontent.com/assets/1993519/13834527/276910ca-ebc

[2016-03-17 02:31] pgrosu commented on #1460
@akiezun That is awesome!

[2016-03-17 02:52] akiezun opened #1585 "Enable use of IntelDeflater when running GATK4"
using IntelDeflater speeds up writing of bams by at least 15% (latest igzip is even faster, though only at compression level 1). We must have a way to use it.

note: the htsjdk jar does not contain the .so file - it's only available in the zip file

[2016-03-17 03:44] yfarjoun commented on #1460
massive :+1:

On Wed, Mar 16, 2016 at 10:31 PM, Paul Grosu <notifications@github.com>
wrote:

[2016-03-17 04:13] akiezun commented on #1460
previous runs were with -Xmx 32GB (which is default on my massive machine). Rerunning GATK4 with -Xmx3G now

[2016-03-17 04:25] akiezun commented on #1585
Note: latest test on ApplyBQSR shows 25% speedup (no igzip, just standard inteldeflater)

[2016-03-17 12:54] magicDGS commented on #1581
I can implement it once #1526 is accepted, because I'll need it anyway.

[2016-03-17 12:57] akiezun commented on #1581
excellent, go for it Github won't let me assign to you but it's yours.

[2016-03-17 12:57] droazen commented on #1581
I'll review https://github.com/broadinstitute/gatk/pull/1526 later today.

[2016-03-17 13:11] akiezun commented on #1460
ok, so after setting -Xms and -Xmx to 3G, gatk4 can run applyBQSR of a 100GB file in peak head of 1.28GB

See heap after GC (check out the units on the y axis)
![image](https://cloud.githubusercontent.com/assets/1993519/13846713/7a3d4ace-ec1f-11e5-8ed0-5ef88f3f87a7.png)

Also, we're using IntelDeflater now and so this is 2x faster too even though we use less memory.

GATK3 with 32GB heap, unknown

[2016-03-17 14:21] vdauwera commented on #1382
When this is done, let user know in broadinstitute/dsde-docs#709

[2016-03-17 15:02] yfarjoun commented on #1460
I have to ask, the resulting table is the same, right?

On Thu, Mar 17, 2016 at 9:11 AM, Adam Kiezun <notifications@github.com>
wrote:

[2016-03-17 15:04] akiezun commented on #1460
last time i checked it was:
https://github.com/broadinstitute/gatk/issues/1413

On Thu, Mar 17, 2016 at 11:02 AM, Yossi Farjoun <notifications@github.com>
wrote:

[2016-03-17 15:05] yfarjoun commented on #1460
:+1:

On Thu, Mar 17, 2016 at 11:04 AM, Adam Kiezun <notifications@github.com>
wrote:

[2016-03-17 19:08] akiezun commented on #1460
BaseRecalibrator with 3GB heap (file size 100GB). This is a snapshot after ~1 hour of runtime. Check out the differences in the y axis here. GATK3 is clearly struggling while Hellbender is doing fine:

GATK3 heap profile after GC (each red triangle is a full GC)
![image](https://cloud.githubusercontent.com/assets/1993519/13857812/dce2bcb8-ec51-11e5-9fb2-9745e86c8e24.png)

GATK4 heap profile after

[2016-03-17 19:41] droazen commented on #1321
@akiezun Can you clarify -- is this bug invalid?

[2016-03-17 19:55] #1228 closed

[2016-03-17 19:57] cmnbroad commented on #1299
Moving to alpha-2 while we get the crai index code to work with multiref containers.

[2016-03-17 20:50] akiezun commented on #1517
it turns out that bwa is GPL so that's a no-no for us. @lh3 would you consider licensing it under ad different license for us? If not, we have to close this.

[2016-03-17 20:57] akiezun commented on #1460
update on running ApplyBQSR GATK4 with async IO (only writing). We totally pwn gatk3 here.

GATK3 with 32GB heap, unknown deflater, 55146.42 user time seconds (wall clock 13:24:10)
GATK4 with 32GB heap, JdkDeflater, 37011.46 user time seconds (wall clock 9:50:48)
GATK4 with 3GB heap, IntelDeflater, 27718.06 user time seconds (wall clock 8:02:37)
**GATK4 with 3GB heap, IntelDeflater+asyncIO, 30190.

[2016-03-17 21:51] akiezun commented on #1460
death by garbage. Cambridge, MA. GATK3 ApplyBQSR (aka PrintReads) when run with 3GB heap died a violent death, after 71 minutes of life. In it's final minutes, it was drowning in garbage, trying to full-GC itself out of it.

![image](https://cloud.githubusercontent.com/assets/1993519/13862127/93f3c1e4-ec67-11e5-8238-c7fb50f2183a.png)

[2016-03-17 22:06] lbergelson commented on #1460
[image: Inline image 1]

[2016-03-17 23:09] akiezun commented on #1377
thanks @hammer, let's follow up offline

[2016-03-18 00:20] akiezun commented on #1508
@pfxuan thanks for pointing this out - I'll investigate

[2016-03-18 02:08] akiezun commented on #1517
So, we can't link to a GPL library bind via JNI but we can (maybe) call via commandline or pipe or socket:
https://www.gnu.org/licenses/gpl-faq.html#MereAggregation

Thus, the GPL makes us write slow software.

[2016-03-18 02:15] akiezun commented on #1517
BTW, snowmanSV is also GPL - sorry @jwalabroad we can't link to your library

[2016-03-18 02:18] akiezun commented on #1517
can't use https://github.com/lindenb/jbwa either :( @lindenb

[2016-03-18 02:20] lh3 commented on #1517
There is an [Apache2 version of BWA](https://github.com/lh3/bwa/tree/Apache2). The `bwa index` is slower than the GPL'd bwa, but the rest is the same.

@lindenb For now, bwa-mem only exposes APIs for single-end mapping. That part of API stays the same (or almost the same). Your java binding should still work. There is a non-public version of bwa that also exposes paired-end mapping and more intern

[2016-03-18 02:26] akiezun commented on #1517
excellent, thanks @lh3. I'll look into whether we can link to the apache version. It would be super if we could.

[2016-03-18 02:29] lh3 commented on #1517
What functionality do you need? If the purpose is to call bwa-mem to explore alternative mappings, we are not far from that. If the purpose is to replace the `bwa mem` command line, there is a lot to do.

[2016-03-18 03:23] cwhelan commented on #1517
We've been talking about it using it to map assembled breakpoint contigs
back to the reference for SV discovery, although I'm sure there would be
other applications.

On Thu, Mar 17, 2016 at 10:29 PM, Heng Li <notifications@github.com> wrote:

[2016-03-18 03:42] akiezun commented on #1578
closed by https://github.com/broadinstitute/gatk/pull/1586

[2016-03-18 03:42] #1578 closed

[2016-03-18 03:52] akiezun opened #1592 "is sharded writing too slow?"
sharded writing feels slow - ~6 minutes for 30GB on 60 disks. I would hope for at least 20 MB/s so > 1GB/s on.

@akiezun to investigate - test with writing big rdds as sharded text files should be a good benchmark.

[2016-03-18 03:59] jwalabroad commented on #1517
Adam, what license do I need to change to then?

Heng, I have a non-command-line version of bwa-mem that I've been working on for on-the-fly BWA alignments and indexing in memory (jwalabroad/SnowTools -> BWAWrapper.cpp). I think that is what Chris is referring to?

[2016-03-18 04:07] akiezun commented on #1517
@jwalabroad we can't use GPL. I think we can use Apache, definitely we can use MIT. If you are binding bwa though (the GPL version) then your code must be GPL too. So you must use the Apache BWA if you want to change the license on your code.

[2016-03-18 07:15] lindenb commented on #1517
@akiezun my code is old and unmaintained :-) I'll try to have a look at it if I've got time.

[2016-03-18 12:00] lindenb commented on #1517
dear all,

FYI I've update my java binding for bwa 0.7.13 : https://github.com/lindenb/jbwa
I've added a travis-ci: build+test are passing : https://travis-ci.org/lindenb/jbwa/builds/116880388

[2016-03-18 13:36] akiezun opened #1593 "CompareBaseQualitiesSpark: unfriendly stack trace when reference file missing"
[code]

blows up with
[code]

we should present those as a simple message that the reference file is missing: `UserException.MissingReference`

[2016-03-18 13:43] droazen commented on #1321
@akiezun Perhaps you meant `CompareBaseQualitiesSpark` rather than `CompareBaseQualities`? The spark version takes `-I` and `-I2` args

[2016-03-18 13:43] akiezun commented on #1321
yes, the tool got renamed in the meantime. The commandline is:
[code]

the error is `A USER ERROR has occurred: A reference is required for CRAM input`

[2016-03-18 13:43] akiezun commented on #1321
back to @cmnbroad

[2016-03-18 13:52] akiezun commented on #1417
this is the same as #1452. The bug is in hadoop-bam - let's not put a bandaid for that here.

[2016-03-18 13:52] akiezun commented on #1452
let's close this - this is a dup of #1417.

[2016-03-18 13:52] #1452 closed

[2016-03-18 13:55] akiezun commented on #1417
opened https://github.com/HadoopGenomics/Hadoop-BAM/issues/79

blocked until that is fixed. not alpha-1

[2016-03-18 14:14] akiezun commented on #1460
update on BaseRecalibrator. On a 111GB file, and 3GB heap, both GATK3 and GATK4 finish.

wall clock time:
GATK3: Elapsed (wall clock) time (h:mm:ss or m:ss): 19:23:58
GATK4: Elapsed (wall clock) time (h:mm:ss or m:ss): 18:01:54

user time:
GATK3: User time (seconds): 141297.53
GATK4: User time (seconds): 68317.42

on memory, GATK4 deals with ease and could easily fit with 1GB I think, maybe 0.5 GB

[2016-03-18 14:14] #1460 closed

[2016-03-18 14:15] akiezun commented on #1460
@kcibul FYI - ripe low-hanging fruit here

[2016-03-18 14:15] droazen commented on #1460
@akiezun Can you open a ticket to add a continuous test in jenkins to ensure that BQSR will continue to run in < 3.5 GB?

[2016-03-18 14:16] akiezun commented on #1460
is jenkins operational?

[2016-03-18 14:16] droazen commented on #1460
@akiezun https://gatk-jenkins.broadinstitute.org/

[2016-03-18 14:18] akiezun commented on #1460
clearly, it's not working properly. @lbergelson what's the status?

[2016-03-18 14:18] droazen commented on #1460
@akiezun That should not stop you from opening that ticket :)

[2016-03-18 14:20] akiezun opened #1594 "add a continuous test in jenkins to ensure that BQSR will continue to run in < 3.5 GB"

[2016-03-18 14:20] akiezun commented on #1460
done https://github.com/broadinstitute/gatk/issues/1594

[2016-03-18 14:33] lbergelson commented on #1460
Jenkins itself is up and operational.  Tests on it are not yet functional.  I've been working with dev ops and people from the cromwell team to figure out the best way to dispatch jobs elastically.  I've set up a cromwell instance that we can send non-spark jobs to JES with right now.  That's one option, dev ops thinks we should try setting up a kubernetes swarm instead of using jes though.  There

[2016-03-18 17:39] #1575 closed

[2016-03-18 18:12] akiezun opened #1597 "bad read performance when asyncIO is on (which is by default)"
write performance is good on asyncIO but read is bad and I'm not sure why. Need to investigate. The test I'm using is BaseRecalibrator - i see a 3x speed difference which is terrible

[2016-03-18 19:30] akiezun commented on #1597
this is a bigger project - tribble async reading is very broken. we need to rewrite that part and maybe expose sync/async via factory methods.

[2016-03-18 19:31] akiezun commented on #1597
here's a tracktrace of the main thread when it's hanging
![image](https://cloud.githubusercontent.com/assets/1993519/13889734/83a5c334-ed1e-11e5-8a0b-181d153e097d.png)

[2016-03-18 19:32] droazen commented on #1597
Do we really need asynchronous I/O in tribble? Is there a tool whose runtime is dominated by tribble-related (synchronous) I/O? If not, I say let's just find a way to turn asynch on for bam reading/writing only rather than trying to fix tribble.

[2016-03-18 19:37] akiezun commented on #1597
agreed @droazen !

[2016-03-18 20:17] akiezun commented on #1597
Technically. the doc in Default says

[code]

so it's bogus that tribble even attempts multithreading

[2016-03-18 20:41] droazen commented on #1597
It's `LineReaderUtil` and `VariantContextWriterBuilder`. Looks like `Defaults.USE_ASYNC_IO ` has been hooked up to those since 2013/14.

Splitting the setting into `USE_SAM_ASYNC_IO` and `USE_TRIBBLE_ASYNC_IO`, or making asynch I/O an option on the reader/writer factories, would be safer options than removal (unless you're convinced that tribble asynch I/O is so broken that no one should ever use

[2016-03-18 20:43] akiezun commented on #1597
I'm wrting tests for it right now - to see how broken it is

[2016-03-19 04:08] akiezun commented on #1597
I have a fix here https://github.com/samtools/htsjdk/pull/528 - just remove asynch from tribble readers because it was terrible. @droazen can you review the htsjdk PR?

[2016-03-21 14:54] akiezun commented on #1400
@lbergelson the tests are not running on [gatk-jenkins.broadinstitute.org](url) so it's not usable yet. What remains to be done?

[2016-03-21 17:59] akiezun opened #1598 "NPE when file missing"
run this

[code]

and get this
[code]

this is bogus - I don't want any NPEs here

[2016-03-21 18:02] akiezun commented on #1598
It's even worse than that
[code]

still prints the NPE

[2016-03-21 18:05] lbergelson opened #1599 "gatk-launch doesn't propagate exit code from gatk"
gatk-launch doesn't capture and exit with the exit code that gatk returned with

[2016-03-21 18:27] lbergelson commented on #1599
This causes jenkins to be unable to report failures when they occur.

[2016-03-21 19:10] #1585 closed

[2016-03-21 20:13] #1598 closed

[2016-03-21 20:23] akiezun opened #1603 "investigate using pid_monitor for spark profiling"
https://github.com/jschaub30/pid_monitor

[2016-03-21 22:15] #1404 closed

[2016-03-21 23:32] #1599 closed

[2016-03-22 16:59] akiezun commented on #1597
I want this for alpha 1. @droazen can you review the new async proposal at https://github.com/samtools/htsjdk/pull/529?

[2016-03-22 17:04] droazen commented on #1597
@akiezun Review complete

[2016-03-22 17:06] akiezun opened #1606 "Investigate asynchronous reading and writing of reads and variants"
I want to establish how well the current async reading and writing of reads and variants works and in what circumstances it should be used.

Analysis here is a matrix:
 - reads vs variants
 - read vs write
 - for variants: wide vs narrow
 - for variants: compressed vs uncompressed
 - performance on multiple cores vs overhead when pinned to 1 core

[2016-03-22 17:07] akiezun opened #1607 "Beat GATK3 performance (CPU and memory) of HaplotypeCaller"
On a whole genome and exome, the goal is to beat GATK3 performance and memory usage

[2016-03-22 17:09] akiezun opened #1608 "Beat GATK3 performance (CPU and memory) of GenotypeGVCFs"
the goal is to beat GATK3 performance and memory usage of GenotypeGVCFs on realistic datasizes

[2016-03-22 17:11] akiezun opened #1609 "Automate performance testing (including Spark)"
the goal is to have automated performance tests for representative commandlines and datasizes - details of when to run them etc remain to be decided

[2016-03-22 17:13] akiezun opened #1610 "Establish a cloud dev environment"
The goal is to create a way to run, test and profile GATK tools in the cloud, the way that production runs them to optimize for production use

[2016-03-22 17:49] akiezun commented on #1239
important even if we delete BAQ (#1557) because we'll not actually remove the code for now until we have more confidence

[2016-03-22 18:00] lbergelson opened #1611 "Fix dataproc failures in broad-gatk-test"
Currently I'm unable to spin up a dataproc cluster succesfully in the broad-gatk-test project.  Talking with google about it here: https://groups.google.com/forum/#!topic/cloud-dataproc-discuss/Oi4VKt9RwdU

[2016-03-22 18:37] akiezun commented on #1196
closing as dup of #1559

[2016-03-22 18:37] #1196 closed

[2016-03-22 18:40] akiezun commented on #1509
unclear if this is needed given the cloud.

[2016-03-22 18:41] akiezun commented on #1508
unclear if we needs this given the cloud

[2016-03-22 18:44] akiezun commented on #1012
@SHuang-Broad is this now done by your new code?

[2016-03-22 19:53] pfxuan commented on #1508
FYI
**Unified Namespace and Tiered storage in Alluxio, San Jose (Strata + Hadoop World):**
http://conferences.oreilly.com/strata/hadoop-big-data-ca/public/schedule/detail/47651

[2016-03-22 20:37] akiezun opened #1613 "investigate use of Intel Data Analytics Acceleration Library"
https://software.intel.com/en-us/intel-daal

exact scope TBD

[2016-03-23 00:55] #1088 closed

[2016-03-23 03:30] akiezun commented on #1517
@cwhelan @SHuang-Broad we are ok using Apache2. Please use that version of bwa mem and make a note to that effect in code and in the pul request.

[2016-03-23 03:33] akiezun commented on #1517
@lindenb I'm not a lawyer but i think you must use GPL for your https://github.com/lindenb/jbwa library given that you're linking to the GPL version of bwa.

[2016-03-23 03:42] lh3 commented on #1517
@lindenb for mapping, the GPL and Apache2 versions are *exactly the same*. The only difference lies in indexing, which you are not using.

[2016-03-23 08:05] lindenb commented on #1517
@lh3 @akiezun and I'm not a lawyer too  :question:  Where should I add (or update) the license info MIT -> GPL ?  : for all the repository or only the sources having a jbwa  binding ? what would be the main license for the whole repo ? Thanks

[2016-03-23 13:23] cmnbroad commented on #1299
https://github.com/samtools/htsjdk/pull/538 implements CRAI writing, and also changes the default for cram index creation to CRAI. GATK would pick this up automatically. However, there is an existing bug in the .crai->.bai conversion code that I don't see a good solution for. We may want to reconsider changing the default in htsjdk and defer that until such a time as htsjdk gets native support for

[2016-03-24 13:37] akiezun commented on #1559
Legacy pipeline numbers and scripts are in gsa6 /dsde/working/akiezun/projects/readsPipelineBenchmarking

Full legacy pipeline, pinned to 1 CPU and 7GB, took 528 minutes

[2016-03-24 13:37] akiezun commented on #1559
this is done.

[2016-03-24 13:37] #1559 closed

[2016-03-24 14:11] tomwhite commented on #1559
@akiezun what was the time for the new code?

[2016-03-24 14:44] jsotobroad opened #1626 "BaseRecalibrator interpreting contig name to a file"
I was running BaseRecalibrator with an --interval of GL00207.1:1+ and received this error:

A USER ERROR has occurred: The file GL000207.1:1+ does not exist

It seems like if the contig name has a '.' in it, it thinks it should be looking for a file.  This worked for all other contigs that did not have a '.' in the name and it didn't complain about the Y or MT contigs that come before GL00207.1 in

[2016-03-24 14:49] droazen commented on #1626
I'll have a look at this

[2016-03-24 15:00] droazen commented on #1626
Replicated, working on a fix now

[2016-03-24 18:07] #1626 closed

[2016-03-24 18:08] droazen commented on #1626
@jsotobroad This is fixed in the latest master -- can you please re-try and let us know if all is well?

[2016-03-24 18:14] jsotobroad commented on #1626
will do, thanks!

On Thu, Mar 24, 2016 at 2:08 PM, droazen <notifications@github.com> wrote:

[2016-03-24 18:35] akiezun opened #1629 "investigate performance improvements to SmithWaterman"
`SWPairwiseAlignment.calculateMatrix` comes up on profiles. We need to investigate performance improvements to it

[2016-03-24 18:52] akiezun commented on #1597
@droazen @yfarjoun when is a htsjdk release expected?

[2016-03-24 23:00] yfarjoun commented on #1597
I think it would be goo to have a release soon...the main questio is should
it be before or after the new intelDeflator...

On Thu, Mar 24, 2016 at 2:52 PM, Adam Kiezun <notifications@github.com>
wrote:

[2016-03-25 01:22] akiezun commented on #1597
what are the decision criteria about that? how about some sanity check for the bams created - eg print reads on a 30GB file and then 'samtools view' to a samfile and compare MD5s (results in SAM format should be identical, down to a MD5) ?

[2016-03-25 01:31] akiezun commented on #1559
On our in house cluster, running cdh5.5.1 and using 60 executors, 1 core each and 7 GB per executor this took 19 minutes running master from a few days ago.

[2016-03-25 17:54] chandrans commented on #1382
Please also let user know from http://gatkforums.broadinstitute.org/gatk/discussion/7298/removealternates-not-working-on-haploid-vcfs
Thanks

[2016-03-25 18:14] jsotobroad opened #1631 "Small naming issue with help docs for BaseRecalibrator and ApplyBQSR"
The help docs for BaseRecalibrator and ApplyBQSR for some inputs have '(with -BQSR)' in the help text but the input for ApplyBQSR is actually -bqsr and will complain if you do -BQSR.  These should just be in lowercase as opposed to uppercase.

[2016-03-25 18:34] lbergelson commented on #1631
@jsotobroad Thanks for reporting this.

[2016-03-25 19:06] lbergelson opened #1632 "Fix outdated usage examples copied from GATK3"
Some tools have had usage examples ported from GATK3 that don't work in GATK4.  We should fix
these.

As well as fixing errors, it would be good to change the javadoc so it references parameters by the constant values instead of hardcoding them. (use `{@value StandardArgumentDefinitions#SOME_NAME}` )

These occur in at least the following tools, (found by `find in path -T`):
- [ ] ValidateVariants

[2016-03-25 19:14] #1321 closed

[2016-03-25 19:14] #1593 closed

[2016-03-25 19:43] #1631 closed

[2016-03-25 20:53] akiezun opened #1635 "migrate uses of GATKVariantContextUtils.findNumberOfRepetitions to TandemRepeatFinder"

[2016-03-26 01:25] yfarjoun opened #1636 "forward port new picard functionality--query-sorted mark duplicates"
see: https://github.com/broadinstitute/picard/pull/491

[2016-03-26 04:29] akiezun commented on #1636
This is blocked by #1210
(note though that MarkDuplicatesSpark already defaults to query-sorted input because it improves speed by 2x by doing only 1 shuffle).

[2016-03-26 04:49] yfarjoun commented on #1636
interesting, but the functionality should change then to mark the secondary
and supplementaries and unmapped mates..

On Sat, Mar 26, 2016 at 12:29 AM, Adam Kiezun <notifications@github.com>
wrote:

[2016-03-26 15:24] ronlevine commented on #1382
Will do. Most of the work is done. I need to add unit and integration tests to make sure any hidden diploid assumptions are uncovered.

[2016-03-26 21:42] akiezun opened #1638 "Errors in VariantFiltration - possibly due to (or exposed by) async tribble reading"
this happens on the branch for https://github.com/broadinstitute/gatk/pull/1630 (which uses async IO for tests to mimic non-test usage). This bug is either due to or exposed by asynchronous tribble reading.

more logs https://travis-ci.org/broadinstitute/gatk/jobs/118507152

test results
https://storage.googleapis.com/hellbender/test/build_reports/5109.2/tests/classes/org.broadinstitute.hellbender

[2016-03-28 14:39] droazen commented on #52
alpha-2

[2016-03-28 14:39] droazen commented on #47
alpha-2

[2016-03-28 14:42] droazen commented on #15
alpha-2

[2016-03-28 14:43] droazen commented on #1638
Let's disable async I/O until the htsjdk patch to selectively disable it for tribble propagates to us

[2016-03-28 14:46] droazen opened #1639 "Spark version of HaplotypeCaller"
Should call into the existing `HaplotypeCallerEngine` and share as much code as possible with the walker version

[2016-03-28 14:47] droazen opened #1640 "Fully validate HaplotypeCaller walker for production (with help of palantir and/or short variants team)"
Should be validated to the point where production would be willing to use it.

[2016-03-28 14:49] droazen opened #1641 "Port allele-specific annotations from GATK3"

[2016-03-28 14:50] droazen opened #1642 "HaplotypeCaller: hook up downsampling"
Let's use a different downsampling strategy than GATK3 for the `HaplotypeCaller` -- perhaps a `ReservoirDownsampler` whose size is proportional to the size of each region.

Need to make sure that whatever strategy we use allows us to deal with high-coverage regions without introducing calling artifacts / missed calls.

[2016-03-28 15:02] droazen opened #1643 "Port additional metrics to Spark"
For this quarter, let's port some additional Picard metrics that are used by production.

[2016-03-28 15:02] droazen commented on #1643
(This ticket should spawn additional sub-tickets)

[2016-03-28 15:12] droazen opened #1644 "Add ability to downsample reads in Spark at the Hadoop-BAM level."
We want to downsample pathological regions at the Hadoop-BAM level, before paying the cost of loading all the reads into an RDD. Probably we want something like a `ReservoirDownsampler` that downsamples on a per-alignment-start basis.

[2016-03-28 15:12] droazen opened #1645 "Build and package both .so and .dylib for native libraries"

[2016-03-28 15:14] droazen opened #1646 "ReadsPipelineSpark expanded and benchmarked: from BWA -> HaplotypeCaller"

[2016-03-28 15:15] droazen commented on #1646
Let's expand the existing `ReadsPipelineSpark` in both directions, so that it extends from `BWA` to the `HaplotypeCaller`

[2016-03-28 15:15] droazen commented on #1517
For alpha-2

[2016-03-28 15:18] droazen opened #1647 "Prototype TileDB integration (for CombineGVCFs and GenotypeGVCFs)"

[2016-03-28 15:18] droazen opened #1648 "Better GATK-wide support for HDFS and GCS (via Java NIO Path and htsjdk-level patches)"

[2016-03-28 15:19] droazen commented on #15
Depends on https://github.com/broadinstitute/gatk/issues/1647 and https://github.com/broadinstitute/gatk/issues/692

[2016-03-28 15:19] lbergelson commented on #1638
I'm seeing an error that I'm attributing to async until proven otherwise:

[code]

See https://gatk-jenkins.broadinstitute.org/job/GATK-BQSR/2/console.  I see it locally too.  Seems to be non-deterministic.

[2016-03-28 15:20] droazen commented on #692
alpha-2

[2016-03-28 15:20] droazen commented on #1648
Depends on https://github.com/broadinstitute/gatk/issues/958

[2016-03-28 15:26] droazen opened #1650 "Enable processing of blockgzipped VCFs on Spark"

[2016-03-28 15:26] droazen opened #1651 "Enable query-by-interval of VCFs (including blockgzipped VCFs) on Spark"

[2016-03-28 15:28] droazen opened #1652 "Create official Spark GATK APIs for common traversal patterns for tool builders"
Currently we have `GATKSparkTool` as a catch-all for all Spark tools. We should have `ReadSparkTool`, `VariantSparkTool`, etc., interfaces with well-defined APIs.

[2016-03-28 15:34] droazen commented on #1597
Resolved for now by https://github.com/broadinstitute/gatk/pull/1649.

[2016-03-28 15:34] #1597 closed

[2016-03-28 15:35] droazen opened #1653 "Re-activate async I/O for the samtools package only (not tribble) after next htsjdk release"
now that we're on htsjdk 2.2.1 we should switch to asyncIO for bams (not tribble)

- [x] switch to asyncIO for bams (build.gradle)
- [x] switch tests to use asyncIO for bams (build.gradle)
- [x] update readme to say that we're using async IO
- [x] update startup message to clarify which IO is sync/async

measure and report performance impact on (using JdkDeflater and IntelDeflater)
 - [x] PrintRea

[2016-03-28 15:36] droazen commented on #1401
alpha-2

[2016-03-28 15:37] droazen commented on #1524
alpha-2

[2016-03-28 15:41] droazen commented on #1639
For @lbergelson. The general plan for HaplotypeCaller work in Q2 is:

-I will work on validation/testing of the walker version
-Louis will take the Spark version
-Adam will work on further HC performance optimizations (potentially for both walker and spark)

[2016-03-28 16:00] droazen opened #1654 "Native libraries should be downloadable as dependencies via gradle"

[2016-03-28 16:51] lbergelson commented on #1648
Also depends on https://github.com/broadinstitute/gatk/issues/1547

[2016-03-28 17:11] gspowley opened #1655 "Add substring search to Smith-Waterman"
In the HaplotypeCaller test, about 80% of the Smith-Waterman calls result in a substring match to the reference without any indels. Add a substring search to SWPairwiseAlignment and avoid running the full Smith-Waterman for these cases.

[2016-03-28 18:49] droazen commented on #1580
For alpha-2 and @akiezun

[2016-03-28 18:53] droazen commented on #1548
@lbergelson Is this still an issue?

[2016-03-28 18:54] droazen opened #1656 "Finish testing GCS NIO provider, and add an example unit test for it to GATK4"

[2016-03-28 18:57] droazen commented on #1547
Remaining task here is to get the new NIO code merged into the master branch of https://github.com/GoogleCloudPlatform/gcloud-java

[2016-03-28 19:01] #1008 closed

[2016-03-28 19:02] akiezun commented on #1629
@paolonarvaez @gspowley FYI this is the ticket to track work on SW improvements.

[2016-03-28 19:02] droazen commented on #1040
This one is done

[2016-03-28 19:02] #1040 closed

[2016-03-28 19:08] droazen commented on #1330
@lbergelson Is this still worth doing?

[2016-03-28 19:11] akiezun commented on #1606
Apart from using htsjdk asyncIO, we should maybe look into running the prefetching (or reads and variants) asynchronously - maybe prefetching+filtering could in be done in a different thread and fed to the walker via a blocking queue.

[2016-03-28 19:11] droazen commented on #1449
@lbergelson Is the existing environment variable method of doing this sufficient, or should we work on a nicer way?

[2016-03-28 19:15] droazen commented on #1112
Closing -- dupe of https://github.com/broadinstitute/gatk/issues/1609

[2016-03-28 19:15] #1112 closed

[2016-03-28 19:17] gspowley commented on #1629
Oh, I didn't notice this issue and opened #1655 earlier today. We can close that one and track the work here.

[2016-03-28 19:20] gspowley commented on #1629
In the HaplotypeCaller test, about 80% of the Smith-Waterman calls result in a substring match to the reference without any indels. I'm working on adding a substring search to SWPairwiseAlignment to avoid running the full Smith-Waterman for these cases.

[2016-03-28 19:20] gspowley commented on #1655
Moving work to #1629.

[2016-03-28 19:20] #1655 closed

[2016-03-28 19:31] droazen commented on #1646
Requires https://github.com/broadinstitute/gatk/issues/1517 and https://github.com/broadinstitute/gatk/issues/1639

[2016-03-28 19:38] droazen commented on #1237
Task is to hook up metrics to the pipeline and benchmark them after they've been ported. https://github.com/broadinstitute/gatk/issues/1643 captures the actual porting work.

[2016-03-28 19:45] akiezun opened #1657 "investigate performance of ReadsPipelineSpark"
I'm running with a 35GB file (namesorted), 60 executors, 1 core each, 7 GB each, 277 reducers, and see unexpected issues
- [ ] GC times can go as 20% of execution time in stage2 (treeAggregate)
- [ ] task duration goes up to 6.7min (median 1.5 min) - this seems too long
- [ ] peak execution memory can go up to 263.9 GB (!) (median 988.8 MB)

this ticket is to track the analysis of those issues

my

[2016-03-28 19:51] akiezun opened #1658 "plotting of spark UI metrics to help understand performance"
spark UI offers multiple metrics for each task eg, GC time, duration, shuffle read/size, write time etc

We need a way to visualize those metrics to see correlations etc

[2016-03-28 20:37] droazen opened #1659 "Investigate/prototype potential variant store implementations"

[2016-03-28 20:52] droazen commented on #1659
@tomwhite I'm told you've done some work in the past with variant stores. Since we're now moving into working on the variant part of the pipeline, we'd like to assess our options for storing/accessing variants efficiently. Perhaps you could present some of your past work, and/or prototype some technologies you think are promising? We're going to look at TileDB (https://github.com/broadinstitute/ga

[2016-03-28 20:56] droazen opened #1660 "Tune the "recommendedNumReducers" for ReadsPipelineSpark"
`ReadsPipelineSpark` should override `GATKSparkTool.getRecommendedNumReducers()` to provide an appropriate default value for the `numReducers` argument. The default gives us one partition per 10MB of input, which may be too small for this pipeline (it was kept small on purpose due to memory issues, but perhaps these have been resolved?)

[2016-03-28 20:59] droazen commented on #1643
First task here is to examine the pipeline in https://github.com/broadinstitute/dsde-pipelines/blob/master/genomes_in_the_cloud/single_sample/PairedSingleSampleWf.wdl and determine which metrics used in production still need to be ported to Spark by us.

[2016-03-28 21:01] droazen commented on #1647
Task is just to evaluate and gain experience with TileDB -- nothing has to actually be implemented here.

[2016-03-28 21:05] droazen commented on #1443
Blocked by the investigation in https://github.com/broadinstitute/gatk/issues/1580 (we may switch to broadcasting gzipped fastas rather than 2bit files).

[2016-03-28 21:14] droazen commented on #395
Replaced by https://github.com/broadinstitute/gatk/issues/1643 (which will spawn a fresh list of the metrics to be ported)

[2016-03-28 21:14] #395 closed

[2016-03-28 21:15] droazen commented on #389
Replaced by #1643 (which will spawn a fresh list of the metrics to be ported)

[2016-03-28 21:15] #389 closed

[2016-03-28 21:25] droazen commented on #1658
alpha-2?

[2016-03-28 21:29] droazen opened #1661 "Implement at least one good roundtrip test bam -> cram -> bam in htsjdk"
Despite much development work in the past year to iron the bugs out of htsjdk's cram implementation, there is still a need for much better, more robust tests, as we keep running into new issues. In particular, we need roundtrip bam -> cram -> bam tests on non-trivially-sized inputs.

[2016-03-29 03:16] akiezun commented on #1557
BAQ skipping branch - https://github.com/broadinstitute/gatk/compare/ak_removeBAQ

[2016-03-29 03:52] akiezun commented on #1580
Note: block gzipped fasta can be indexed by samtools

[2016-03-29 04:00] akiezun opened #1665 "Spark BQSR seems to take too long"
treeAggregate takes 15mins on an exome (60 cores 7GB each) - this should be improvable

[2016-03-29 04:01] akiezun commented on #1658
probably not alpha-2

[2016-03-29 04:03] akiezun commented on #1657
Current timings:
![image](https://cloud.githubusercontent.com/assets/1993519/14097676/ac45c0fc-f541-11e5-81b0-c69f08248705.png)

[2016-03-29 04:04] akiezun commented on #1665
closing - will use #1657 for this

[2016-03-29 04:04] #1665 closed

[2016-03-29 04:04] akiezun commented on #1592
closing - will use #1657 for this

[2016-03-29 04:04] #1592 closed

[2016-03-29 04:09] akiezun commented on #1580
Homo_sapiens_assembly19.fasta             - 3140756381 bytes
Homo_sapiens_assembly19.fasta.block.gz - 870590559 bytes

[2016-03-29 04:23] akiezun commented on #1557
ongoing analysis in gsa6:/local/akiezun/gatk4_bqsr_tieout

[2016-03-29 09:17] tomwhite commented on #1650
This depends on https://github.com/HadoopGenomics/Hadoop-BAM/pull/70.

[2016-03-29 09:30] tomwhite commented on #1644
Could you use the built in [sample](http://spark.apache.org/docs/latest/api/java/org/apache/spark/api/java/JavaRDD.html#sample(boolean,%20double)) method?

[2016-03-29 09:41] tomwhite commented on #1659
@droazen sure. Probably best to talk about this in-person next week.

[2016-03-29 13:58] SHuang-Broad commented on #1012
@akiezun Yes, the tool is written and waiting for review. Please see #1566. It's not a complete rewrite (some filters not included yet, but adding them will be easy).

[2016-03-29 14:02] SHuang-Broad commented on #1517
I'm taking this now.

[2016-03-29 16:42] akiezun commented on #1657
observation - right in the middle of treeAggregate phase, everything stops and logs contain things like
[code]

so it's broadcasting stuff. But I dont know what - is it variants or is it the reference?

[2016-03-29 19:21] akiezun commented on #1056
Ongoing analyses in `gsa6:/local/akiezun/gatk4_bqsr_deleteIndels/gatk`
branch with indels removed `origin/ak_removeIndelsFromBQSR`

[2016-03-29 20:02] droazen opened #1666 "Standardize on system properties vs. environment variables"
We currently use a confusing mix of system properties and environment variables for settings not controlled by command-line arguments. We should choose one or the other.

[2016-03-29 20:25] lbergelson commented on #1611
This was fixed by the addition of the following firewall rule:

<img width="419" alt="screen shot 2016-03-29 at 3 00 11 pm" src="https://cloud.githubusercontent.com/assets/4700332/14122691/cda70254-f5ca-11e5-8342-afd119725d85.png">

[2016-03-29 20:28] #1611 closed

[2016-03-29 20:29] lbergelson commented on #1594
@akiezun Is our 30gb bam good enough for this?  Or do we need a full size one?

[2016-03-29 20:33] cmnbroad commented on #1562
Closing this based on discussion with @droazen.  We'll keep the code around for easy porting/migration of tests, otherwise we should minimize dependency on it.

[2016-03-29 20:33] #1562 closed

[2016-03-29 20:37] akiezun commented on #1594
it's fine. how long does it run?

On Tue, Mar 29, 2016 at 4:29 PM, Louis Bergelson <notifications@github.com>
wrote:

[2016-03-29 20:57] lbergelson commented on #1594
2-3 hours.

[2016-03-30 13:09] akiezun commented on #1407
Using a BloomFilter may be the way to go. For a 10^-3 probability of failure and 4 million entries we only need ~7MB of size with 10 hashfunctions

[2016-03-30 14:37] akiezun opened #1669 "organize tools list better"
right now you get this which is bogus on many levels (duplicated and confusing categories, confusing tool names etc). We need to put more order into this. @vdauwera can you help come up with a better scheme of how to organize tools?
Compare to the ADAM project (much much smaller scope of course but very clean UI: https://github.com/bigdatagenomics/adam)

[code]

[2016-03-30 15:03] lbergelson commented on #1407
A use for a bloom filter!?  So exciting!  I've been trying to find one.

[2016-03-30 15:23] ronlevine commented on #1382
Tests are finding a lot of *hidden" diploid assumptions. :-(
Hopefully I've uncovered the last of them ...

[2016-03-30 17:37] droazen opened #1671 "Enable -XL unmapped support"
`-L unmapped` support was enabled in https://github.com/broadinstitute/gatk/pull/1670, but `-XL unmapped` was left disabled. Enabling it should require only minor code changes to `IntervalUtils` and IntervalArgumentCollection`, but will require heavy-duty tests.

[2016-03-30 17:37] droazen commented on #1671
Assigning to @lbergelson -- feel free to re-assign if your alpha-2 plate is too full.

[2016-03-30 18:29] davidbenjamin opened #1672 "Inconsistent comments about low-weight chain pruning"
Some comments on low-weight chain pruning in `LowWeightChainPruner`, `BaseGraph`, and `ReadThreadingAssembler` state that chains in which *any* edge has low weight are pruned.  Other comments say chains in which *all* edges have low weight are pruned.  The latter is what the code actually does.

[2016-03-30 21:59] droazen opened #1673 "Cram query using .crai returns incorrect results"

[2016-03-30 22:23] droazen opened #1674 "Audit ReadsDataSource for bugs related to header merging and contig indices"
ReadsDataSource uses the headers for individual bams when instantiating the individual iterators for each bam, but uses the merged header everywhere else when multiple bams are present. We need to verify that there are no issues/bugs related to contig indices changing in the merged header. There shouldn't be, since we use contig names everywhere except `SamReaderQueryingIterator` (where you defini

[2016-03-30 22:29] droazen commented on #1674
As part of this, should also look at the way `ReadWalker` uses the merged header to parse the intervals for traversal, and ensure that there are no possible issues in a multi-bam context.

`reads.setTraversalBounds(intervalArgumentCollection.getTraversalParameters(getHeaderForReads().getSequenceDictionary()))`

[2016-03-30 22:56] #166 closed

[2016-03-31 02:56] akiezun commented on #1407
For a quick analysis, I made a serialized versions of DBSNP (13572728 variants from `dbsnp_135.b37.excluding_sites_after_129.vcf`), size of VCF on disk 2175071049 bytes (2.0G)

(all false postive probs are predicted, it'd be easy to measure it too). Map keys are contig names.

[code]

Variants from dbSNP cover 0.004 of the genome (15195436 bases of 3101804739) so if we want reasonable precision (n

[2016-03-31 03:20] akiezun commented on #1407
Code for the analysis in branch `https://github.com/broadinstitute/gatk/compare/ak_EncodeDBSNPasBloomFilters`

[2016-03-31 04:03] akiezun commented on #1657
More investigation - clicking "Thread Dump" in the Executors tab of the Spark GUI gives a hint as to what's happening when.

At the beginning, one of the dumps is like this
[code]

then there are dumps like this
[code]

and
[code]

[2016-03-31 13:43] akiezun commented on #1629
FYI: I took care of one of the slow and common cases, when CIGAR was computed for equal strings by unleashing the whole SW n^2 machinery. It's now a quick linear check: https://github.com/broadinstitute/gatk/pull/1624 but it's outside of SW itself, in CigarUtils

[2016-03-31 13:59] droazen opened #1675 "Determine how much of the total runtime the broadcast step takes up in the Spark BQSR"
We need to prove that the broadcast of the reference and variants takes up a non-trivial fraction of the runtime of the Spark BQSR before it's worthwhile to consider optimizations/extra complexity like https://github.com/broadinstitute/gatk/issues/1407. We also need to understand:

-how the cost of the broadcasts scale as you add more nodes
-how the cost of the broadcasts scale as vcf file size in

[2016-03-31 14:00] droazen commented on #1407
Very interesting, @akiezun, but aren't you forgetting something? We haven't yet shown that the cost of broadcasting the variants is anything more than a tiny fraction of the total runtime, and we haven't shown how that cost scales with the number of nodes and the size of the vcfs. It's pointless to spend tons of time optimizing something and adding extra complexity if it's not a substantial fracti

[2016-03-31 14:04] droazen commented on #1675
For alpha-2 and @akiezun

[2016-03-31 14:14] akiezun commented on #1407
sure, obviously determining that is part of this ticket.

[2016-03-31 14:57] droazen opened #1676 "Port gatk-launch to protected"

[2016-03-31 14:57] droazen commented on #1676
For @lbergelson

[2016-03-31 15:26] droazen commented on #1644
@tomwhite Well, the idea is to downsample **before** we pay the cost of holding all the reads in memory -- with `sample` I think you'd be downsampling after we've paid that cost. The `ReservoirDownsampler` in GATK4 is able to perform a fair elimination on a stream of items as they come in, without having to store all the items in memory at once, and guaranteeing that every item has an equal probab

[2016-03-31 15:32] droazen commented on #1672
@davidbenjamin Would you be able to contribute a patch to fix this?

[2016-03-31 15:38] akiezun commented on #1427
@droazen @vruano what's the plan there? Is the code stable enough to start moving pieces?
FeatureWalker and TargetWalker seem to be stable, as is the codecs package, SVD+PCA

[2016-03-31 15:40] droazen commented on #1427
@akiezun Let's do this after the HaplotypeCaller is merged/moved, and https://github.com/broadinstitute/gatk/issues/1676 is done.

[2016-03-31 15:40] davidbenjamin commented on #1672
Sure!

[2016-03-31 17:04] droazen commented on #1676
Moving to alpha-1, as we really need to have this done before the release. We also need to update the protected README with usage instructions for `gatk-launch`

[2016-04-01 20:29] droazen opened #1679 "Turn PG generation on by default in GATKTool"

[2016-04-01 20:48] droazen commented on #1464
This is still in code review -- moving to alpha-2

[2016-04-01 22:16] lbergelson opened #1680 "intelDeflator.so isn't packaged in spark or shadow jars"
The intel deflator should be packaged as part of our spark and shadow jars.

[2016-04-03 03:18] davidbenjamin opened #1682 "Bad calculation of the Posterior probability of AC > 0 in ExactAFCalculator"
See broadinstitute/gsa-unstable#1096 -- the same bug has been ported to GATK 4.

[2016-04-04 01:28] davidbenjamin commented on #1682
@droazen Is now an acceptable time to fix this here as well as gsa-unstable?  I don't want my mucking around to complicate the port of `HaplotypeCaller`.

[2016-04-05 02:55] akiezun commented on #1198
I'd vote to move to alpha-2 because #1528 is still in review and it's not critical for alpha-1

[2016-04-05 10:42] tomwhite commented on #1644
Downsampling doesn’t have to be to an exact level of coverage, it's just to avoid very high areas, so you might be able to do this on a Spark partition basis. Use mapPartitions to iterate through the reads in a partition, downsampling as you go (a bit like LocusIteratorByState does). If reads for a given alignment start cross a partition, then this would just mean you get up to 2C coverage at that

[2016-04-05 10:48] tomwhite commented on #1651
This depends on https://github.com/HadoopGenomics/Hadoop-BAM/issues/71 (PR in https://github.com/HadoopGenomics/Hadoop-BAM/pull/81).

[2016-04-05 15:23] droazen opened #1683 "Warn (and optionally blow up) when index on input file is out-of-date"
Can port the index-out-of-date detection code from GATK3. Unlike GATK3, however, we should not attempt to lock and/or re-generate out-of-date or missing indices on input files.

Requested by @eitanbanks

[2016-04-05 15:24] droazen commented on #1683
For @cmnbroad

[2016-04-05 15:32] droazen commented on #1198
Agreed @akiezun -- moving to alpha-2

[2016-04-05 15:37] droazen commented on #1644
@tomwhite If there are a million reads mapped to the same position, my hope was that we could avoid loading them into an RDD at all, if possible (ie., eliminate as they are first read in), rather than load them into an RDD and then downsample. This is why I proposed doing this at the Hadoop-BAM layer. Do you think this is possible?

[2016-04-05 15:51] lbergelson commented on #1451
Things to try:

Write to local file instead of nfs
Set spark.hadoop.fs.file.impl

[2016-04-05 16:22] droazen commented on #1676
Still happening for alpha-1 @lbergelson ?

[2016-04-05 16:32] davidbenjamin opened #1684 "Code duplication in InfiniteRandomMatingPopulationModel"
In `InfiniteRandomMatingPopulationModel` the methods `singleSampleLikelihoods`, `multiSampleHeterogeneousPloidyModelLikelihoods`, and `multiSampleHomogeneousPloidyModelLikelihoods` do almost exactly the same thing with almost identical code.  It does not appear that the assumptions of a single sample or homogeneous ploidy are used for any optimizations, unless you count not repeating the ploidy ge

[2016-04-05 16:49] droazen commented on #1684
@davidbenjamin I suspect you're looking at master -- please take a look at the branch `dr_runnable_haplotypecaller`, where this code is actually hooked up.

[2016-04-05 16:57] tomwhite commented on #1644
What I'm suggesting does not actually load the reads into the RDD. The RDD knows about input splits, and when you call mapPartitions it iterates through the reads in each split, which is the point at which the downsampling can be applied. So there's no point at which the million reads are held in memory. Does that make more sense?

[2016-04-05 17:37] davidbenjamin commented on #1684
@droazen I'm already on `dr_runnable_haplotypecaller`.  It's not that the code doesn't make sense, just that I don't see what is gained by splitting the method into three separate cases.

[2016-04-05 17:47] davidbenjamin opened #1686 "Incorrect class names and comments regarding HWE"
`InfiniteRandomMatingPopulationModel` is simpler than its name suggests.  The *only* assumption it makes is that samples have independent genotypes -- after all, the only thing it really does is delegate the calculation, independently for each sample, to `GenotypeLikelihoodCalculator`.  Any further assumptions are built into `GenotypeLikelihoodCalculator`.  In particular, it is the latter class th

[2016-04-05 17:50] davidbenjamin commented on #1672
Closed in PR #1678.

[2016-04-05 17:50] #1672 closed

[2016-04-05 19:49] ldgauthier commented on #1686
I agree that's a silly name and I'm in favor of renaming.  My seemingly arbitrary logic for that which I want to rename and that which I'd prefer remains the same is if I already know where things are.  ;)

I'm not sure I understand the way in which the GenotypeLikelihoodCalculator assumes Hardy-Weinberg equilibrium.  It does assume independent alleles, but that's also true in a lot of scenarios w

[2016-04-05 19:56] droazen commented on #1644
Discussed in person -- @tomwhite convinced us that his approach would work, provided that the maximum coverage we expect to encounter would not be distributed over too many partitions (eg., hundreds rather than tens of thousands). As part of this ticket, we should determine how many partitions 1 million reads would get distributed over given our default settings in GATK4.

[2016-04-05 20:25] droazen opened #1687 "Investigate using data frames for reads in Spark"

[2016-04-05 20:25] droazen commented on #1687
For shuffles

[2016-04-06 11:22] vdauwera opened #1688 "Make sure we can process large numbers of contigs efficiently"
GATK3 is very slow when processing references with large numbers of contigs, such as draft genomes. In the past this mostly affected microbial genomes so we didn't do anything about it, but now the Hg38 has a lot more contigs so we have to make sure that's not going to be a problem with GATK4.

To be clear, efficient processing of reference genomes with thousands of contigs is a must-have.

Effici

[2016-04-06 11:32] akiezun commented on #1688
Can you describe more precisely what you mean by "processing" here?

On Wednesday, April 6, 2016, Geraldine Van der Auwera <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-04-06 11:42] vdauwera commented on #1688
Reading in the contents and doing any sort of operation on them. I believe @droazen is aware of why this occurs in GATK3 -- he explained it to me a long time ago. At the time we put it down as a known limitation but after discussing some challenges associated with Hg38 with @ebanks it sounds like it's going to be important to avoid or mitigate the problem in GATK4.

[2016-04-06 15:52] akiezun commented on #1688
Do you have a dataset and a commandline that demonstrates the problem?

On Wed, Apr 6, 2016 at 7:42 AM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-04-06 15:59] vdauwera commented on #1688
Not currently but we can get one if needed.

[2016-04-06 16:02] akiezun commented on #1688
definitely needed if this issue is to be addressed

On Wed, Apr 6, 2016 at 11:59 AM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-04-06 16:07] vdauwera commented on #1688
OK, will try to put that together. Any chance you already have a sense of whether that could be an issue based on the system design?

[2016-04-06 16:26] akiezun commented on #1688
i prefer to measure, not guess

On Wed, Apr 6, 2016 at 12:07 PM, Geraldine Van der Auwera <
notifications@github.com> wrote:

[2016-04-06 16:50] vdauwera commented on #1688
![image](https://cloud.githubusercontent.com/assets/2748435/14325169/0ece3db6-fbf6-11e5-87fb-07f947348238.png)

[2016-04-06 16:52] vdauwera commented on #1683
Please be sure to make the blowing up optional (for super-strict stringency or something like that). When we move test files or tutorial data around the index often gets copied first (cause it's smaller) so we get out of date warnings. Would be really painful if that caused blowups systematically.

[2016-04-06 17:19] davidbenjamin commented on #1686
Good point.  So maybe the comment should be moved and rewritten in terms of independent alleles without making any grandiose claims about HWE?

[2016-04-06 18:00] ldgauthier commented on #1686
Sounds good.  With all due respect to @vruano I think the statements about the assumptions could be made a lot more general.  For example, we don't know that the samples all come from the same population, in which case HWE would not be expected.

[2016-04-07 14:00] lbergelson opened #1689 "Investigate spark-submit --files as a broadcast replacement"
figure out how spark-submit --files works:
- [x] does it send files like it promises **yes**
- [x] where does it put them?
  **I believe it puts them in the working directory of the executor.**
- [ ] does cache them between runs?
- [ ] how do updates to the files work if it caches them?

[2016-04-07 14:11] lbergelson opened #1690 "benchmark serial index creation on a bam file"
Find out how long it actually takes to index a bam file serially.  Do we need to do this in parallel?

[2016-04-07 21:54] #1576 closed

[2016-04-08 14:42] akiezun opened #1692 "IntelDeflater not used when gatk launched not from within gatk directory"
run from gatk directory
`./gatk-launch PrintReads -I src/test/resources/large/NA12878.RNAseq.bam -O tmp.bam`

you see `IntelDeflater`

now,  `cd ..`
`./gatk/gatk-launch PrintReads -I gatk/src/test/resources/large/NA12878.RNAseq.bam -O gatk/tmp.bam`

and you see `JdkDeflater`

[2016-04-08 14:59] droazen commented on #1692
`gatk-launch` is only designed to be used from within the gatk root directory -- perhaps it should error out if run from another location.

[2016-04-08 15:00] droazen commented on #1692
Also, we need a (separate) story for using `gatk-launch` with a fully-packaged jar.

[2016-04-08 15:01] akiezun commented on #1692
hmm, that's not good. I want to use `gatk-lanch` from anywhere

[2016-04-08 15:01] lbergelson commented on #1692
gatk-launch is intended to be invokable from anywhere, this is a bug

[2016-04-08 15:01] droazen opened #1693 "Allow gatk-launch to be used with a fully-packaged jar, outside of the github source tree"

[2016-04-08 15:02] droazen commented on #1692
@lbergelson It is? Doesn't it rely on relative paths?

[2016-04-08 15:06] droazen commented on #1693
@lbergelson Please close if this already works and I just don't realize it :)

[2016-04-08 15:09] lbergelson commented on #1692
No. I fixed that as far as I can tell.  I have it in my path and I can invoke it from anywhere.  The problem here is that inteldeflator is being specified through a hardcoded system property baked into the gradle launch scripts.   We can fix it in gatk-launch by overriding it, or we can fix it properly by having the loader look in the classpath in the right place for it.

[2016-04-08 15:09] droazen commented on #1693
Although, if it **does** work, we should document in the `README` how to use it with a packaged jar in arbitrary locations.

[2016-04-08 15:11] lbergelson commented on #1693
No option for this yet. It has an option to specify the location of the spark jar, but it expects the non-spark installation to be the source directory.  We can add it in.  How do you envision people setting this up?

[2016-04-08 15:15] droazen commented on #1693
How about: first check an environment variable for the location of the GATK jar, and if it's not set check the script's working directory for a jar? Whatever we do should be consistent across the spark and non-spark jars.

[2016-04-08 15:16] lbergelson commented on #1693
That's what we do for the spark jar, easy to extend it to work for a non-spark jar too.  What I mean though, is when someone downloads a packaged gatk, what do they get/ how do they install it?

[2016-04-08 15:17] lbergelson opened #1694 "write tests for gatk-launch itself"
GATK launch has a fairly complex set of error conditions it can handle.  Since it's in python it's very easy to break it without realizing.  We need tests for it.

[2016-04-08 15:19] droazen commented on #1693
We'll need to distribute it alongside the packaged jar on our download page. Perhaps both could be distributed within a downloadable `tar.gz` (we've done this in the past to bundle example code with the pre-built jars).

[2016-04-08 15:43] droazen opened #1696 "Investigate whether htsjdk async I/O could be used in spark at the Hadoop-BAM layer"

[2016-04-08 15:44] droazen commented on #1696
Assigning to @tomwhite for an opinion. If it seems possible, should consult with @akiezun on implementation details.

[2016-04-08 15:47] droazen commented on #1696
Cf. performance results in https://github.com/broadinstitute/gatk/pull/1695

[2016-04-08 17:49] davidbenjamin opened #1697 "Overhaul variant QUAL score calculation"
Heng's paper _"A statistical framework for SNP calling. . ."_ presents two methods for calculating a variant QUAL score.  The first and simpler approach finds a maximum likelihood allele fraction.  The second, which is implemented in the GATK, enumerates the likelihoods of all possible partitions of allele counts among the total ploidy of all samples.

The latter approach becomes nightmarish (in t

[2016-04-08 17:51] vdauwera commented on #1697
![image](https://cloud.githubusercontent.com/assets/2748435/14392742/ea36a19a-fd90-11e5-9cd6-0dc079f659c4.png)

[2016-04-08 17:52] davidbenjamin commented on #1682
From discussions with @vruano and @ldgauthier the issue is to replace the exact model, not to fix it.  See issue #1697.

[2016-04-08 17:52] #1682 closed

[2016-04-08 18:00] droazen commented on #1684
@davidbenjamin Fair enough, feel free to submit a patch any time after `dr_runnable_haplotypecaller` hits master.

[2016-04-08 18:02] #1653 closed

[2016-04-08 20:06] akiezun opened #1699 "async BAM writing errors"
hmm, async bam writing causes this:

[code]

[2016-04-08 20:12] lbergelson commented on #1699
Does it always cause that error or is it a non-deterministic failure?

[2016-04-08 20:15] akiezun commented on #1699
not always

[2016-04-08 20:35] akiezun commented on #1699
something i don't understand in `AbstractAsyncWriter` in htsjdk:
1. our main thread is writing records and then calls close():
2. let's say at this moment there are 276 records in the blocking queue.
3. now, when main thread calls `close()` the `isClosed` flag get turned off. But the queue is not empty so writer is not signalled and main thread calls `join()` to wait for the writer to die
4. meanw

[2016-04-08 20:47] akiezun commented on #1699
nevermind. Somehow i misread the loop code - it will keep going while there's stuff in the queue

[2016-04-08 21:39] vruano commented on #1697
There is some implementation for the MLE ratio test calculation in a branch of mine.

[2016-04-08 21:41] vruano commented on #1697
Not the ratio test but the MLE AF using EM. The ratio test is easy after you have that.

https://github.com/broadinstitute/gsa-unstable/tree/vrr_em_ml_af_and_qual_estimation

[2016-04-08 21:54] vdauwera commented on #1697
When this is done, please let me know so we can talk about back-porting to GATK3

[2016-04-10 01:27] davidbenjamin commented on #1697
@vruano That's great!  How close is it to a PR?  I can volunteer as code reviewer.

[2016-04-10 01:42] davidbenjamin opened #1700 "Call haplotypes in HaplotypeCaller?"
HaplotypeCaller expends massive effort to generate a set of local candidate haplotypes along with their read likelihoods.  After that, however, it throws away the haplotypes, using them *only* for their CIGAR strings from which individual and independent variants are extracted.

While this approach probably has some merits, it would be nice if HaplotypeCaller had a "haplotype" mode in which it gen

[2016-04-10 04:26] davidbenjamin commented on #1686
Actually, `GenotypeLikelihoodCalculator` shouldn't get *any* new comment, because only posterior probabilities, not likelihoods, contain prior assumptions on allele independence, HWE, etc.

[2016-04-11 20:53] akiezun commented on #1699
there's a fix for it in https://github.com/samtools/htsjdk/pull/565/files that has Tim's approval. Waiting for any objections for 1 day and will merge then.

[2016-04-11 20:56] akiezun commented on #1688
let's not put a milestone until we have a testcase

[2016-04-11 21:52] akiezun commented on #1690
do you mean bai or splitting? Using samtools or gatk or something else?

[2016-04-11 21:53] akiezun commented on #1675
one knob to try is `spark.broadcast.blockSize`

[2016-04-12 01:30] akiezun commented on #1675
Here’s one example executor from a recent run

This the the variants broadcast (4 seconds using 100MB blocks)
[code]

This the the reference broadcast (130 seconds using 100MB blocks)
[code]

[2016-04-12 01:40] akiezun commented on #1675
another executor:
```Reading broadcast variable 3 took 34917 ms```
```Reading broadcast variable 4 took 121334 ms```

and another one:
```Reading broadcast variable 3 took 35354 ms```
```Reading broadcast variable 4 took 76535 ms```

Changing `spark.broadcast.blockSize` to 400M may slow it down:
```Reading broadcast variable 3 took 16235 ms```
```Reading broadcast variable 4 took 140846 ms```

[2016-04-12 02:40] akiezun commented on #1675
conclusion - broadcast of the big data items (reference and reads) takes around 2-3 minutes per executor and it's not really influenced by broadcast block size. Also broadcast of reference takes longer than variants.

To me this means we should look for better savings elsewhere for now.

[2016-04-12 02:41] akiezun commented on #1407
postponed for now - broadcast is likely only 2-3 minutes total, see #1675

[2016-04-12 13:41] akiezun commented on #1407
#1675 says that it's 2-3 minutes per executor - which may be a big part of the task time. Keeping this open

[2016-04-12 13:56] droazen commented on #1675
Re-opening -- I don't think we've answered all of the important questions here -- in particular:

-what % of total wall-clock runtime does the broadcast step take up?
-how does this change (if at all) as you add/remove executors?
-how does this change if you increase the vcf file size?

These are critical questions that will have a huge influence on the decisions we make in Q2 with respect to Spar

[2016-04-12 14:00] droazen commented on #1675
In other words, saying that broadcast took X minutes is not meaningful unless it's framed as a fraction of total runtime, and we understand whether this is a fixed or variable cost.

[2016-04-12 15:39] akiezun commented on #1657
I ran with -Xprof sent to executors and here's an example profile for the worker thread
[code]

[2016-04-12 15:41] akiezun commented on #1657
We need to figure out who's doing the String interning `11.8%     0  +  9359    java.lang.String.intern` ? Is it htsjdk?

[2016-04-12 15:44] droazen commented on #1532
@cwhelan is seeing performance issues now with large interval lists + reads + spark. This might be a result of the way intervals are currently being sent to Hadoop-BAM in `ReadsSparkSource` (marshaled into a giant String, set as a Java system property, then re-parsed on the other end). @akiezun we might want to bump up the priority of this ticket.

[2016-04-12 15:46] akiezun opened #1702 "Investigate using IntelDeflater and compression level 1 in Spark"
IntelDeflater on compression level 1 is a huge win on non-spark. Can we use it on spark? This ticket will answer can we use it and if yes, then how fast is it on spark?

[2016-04-12 15:50] akiezun commented on #1532
@cwhelan what;s the commandline you're working with?

[2016-04-12 15:52] droazen commented on #1657
@akiezun The `SAMRecord` class in htsjdk uses interning -- I bet that's it. We can try to remove it, but there could be side effects (eg., client code might be relying on `==` equality for contig names).

[2016-04-12 16:02] akiezun commented on #1657
I need to profile this - does intern() save enough heap that the speed
penalty is justified?

If someone is relying on `==` for string comparing they are insane, I don't
think the API mentions that.

On Tue, Apr 12, 2016 at 11:52 AM, droazen <notifications@github.com> wrote:

[2016-04-12 16:06] droazen commented on #1657
@akiezun Nevertheless, I have absolutely seen htsjdk client code that relies on interning and `==` on Strings. Which is silly, since the first thing `String.equals()` does is:

        if (this == anObject) {
            return true;
        }

[2016-04-12 16:09] droazen commented on #1700
This sounds worthwhile to me -- if the methods gods @ldgauthier and @akiezun ever sign off on this as an actual project, feel free to add a milestone + assignee and remove the `QuixoticDream` :)

[2016-04-12 19:06] cwhelan commented on #1532
@akiezun The goal is to use a genome mask, like for example Heng's low complexity sequence mask, which has many small intervals from the reference to be masked out. To that end I've tried using both the -XL exclude regions arg and -L with a 'complement' version of the mask.

I was running on custom 10X tools in one of my branches but the problem exists with simpler tools like PrintReadsSpark.

For

[2016-04-12 19:11] akiezun commented on #1657
I did a quick sanity check in htsjdk PrintReadsExample with and without intern() in SAMRecord and SAMSequenceRecord and see no difference on bam of 12GB. So this excessive intern() time is either Spark-specific or not htsjdk-related.

[2016-04-12 19:13] akiezun commented on #1532
perfect. this is enough to get me started. thanks!

[2016-04-12 19:23] cmnbroad commented on #1657
The Spark code resets the record headers using setHeaderStrict, which always resolves reference names and indices, which in turn can result in interning. An easy one-line change to test that hypothesis would be to change htsjdk SAMRecord.setHeaderStrict to just forward to setHeader and compare the results.

[2016-04-12 19:25] akiezun commented on #1657
cool. but will hadoop-bam pick up my homemade htsjdk jar?

On Tue, Apr 12, 2016 at 3:23 PM, Chris Norman <notifications@github.com>
wrote:

[2016-04-12 19:29] cmnbroad commented on #1657
No (although you can build and integrate that locally as well - I do that quite a bit), but Hadoop-BAM doesn't use setHeaderStrict (yet!) so I don't think its necessary for this test. The calls I suspect are in GATK code.

[2016-04-12 19:36] cmnbroad commented on #1657
Actually, I think Hadoop-BAM *will* pick up the local htsjdk, since I've had problems in the past due to the fact that  Hadoop-BAM is built with an older version of htsjdk than GATK is, but it runs with the (usually newer) version provided by GATK. But either way for this test it shouldn't matter.

[2016-04-12 19:39] vdauwera commented on #1700
I support this as well.

[2016-04-12 19:47] akiezun commented on #1700
@ldgauthier is the TechLead for short variants and an expert on them. I support what she supports.

[2016-04-12 19:53] akiezun commented on #1702
spark-submit has this option
[code]

[2016-04-12 20:05] ldgauthier commented on #1700
As the Davids and I discussed this afternoon, this is on my hit list, but not for this quarter.

[2016-04-12 20:19] akiezun commented on #1532
it's not the set, it's the actual intersect:
![image](https://cloud.githubusercontent.com/assets/1993519/14474312/601eccca-00ca-11e6-9d61-7b417d677433.png)

[2016-04-12 20:25] akiezun commented on #1532
Should we move IntervalsSkipList etc down to htsjdk so that everyone picks it up, including us and Hadoop-BAM? @droazen @jean-philippe-martin @tomwhite wdyt?

The current code in Hadoop-bam does a linear scan over intervals: https://github.com/HadoopGenomics/Hadoop-BAM/blob/5f43540b49c8b9dd5b1d057bceada9f2980dde12/src/main/java/org/seqdoop/hadoop_bam/BAMRecordReader.java#L227

[2016-04-12 20:26] akiezun commented on #1532
I'm renaming the issue too

[2016-04-12 21:13] jean-philippe-martin commented on #1532
Sure, I'd love for IntervalsSkipList to be more broadly used! It looks like it would help there.

[2016-04-13 16:45] tomwhite commented on #1532
It would great to be able to use the skip list in BAMInputFormat. I agree that htsjdk sounds like the right home for it. I can do the Hadoop-BAM changes once it's in htsjdk.

[2016-04-13 17:06] davidbenjamin opened #1703 "Calculate variant QUAL as part of genotyping"
The variant QUAL score is inherently part of the same probabilistic model as genotype likelihoods and posterior probabilities.  The fact that these are in two separate parts of the code is an artifact of the soon-to-be-obsolete exact AF model.

[2016-04-13 19:16] lbergelson opened #1705 "Setup Jenkins job to run gatk and picard tests off of every htsjdk master build"
As discussed in our meeting we should have an automated job to build run picard and gatk against the most recent htsjdk master build.

- [x] picard
- [x] gatk4

[2016-04-13 20:56] akiezun commented on #1532
@tomwhite can you point us to how (in hadoop-bam) the index is used for querying? we're wondering how many reads the `BAMRecordReader.overlaps` iterates over?

[2016-04-13 22:23] lbergelson commented on #1705
picard tests are now running automatically

[2016-04-14 11:27] tomwhite commented on #1532
It doesn't iterate over the overlapping intervals, it just checks whether any overlap at all. I've created a branch that uses `OverlapDetector` here: https://github.com/tomwhite/Hadoop-BAM/tree/intervals-optimization, which you can use to check if the changes address the performance issues you were seeing.

It would be good if `OverlapDetector` could take a `Locatable` so we can pass in `SAMRecord

[2016-04-14 11:39] droazen commented on #1532
@tomwhite I believe that @akiezun is asking how the filtering done using the bam index in `BAMInputFormat` relates to the inefficient overlap check in `BAMRecordReader.overlaps(SAMRecord r, List<Locatable> intervals)`. Have we already subsetted down to the reads returned from the index query by the time we get to `overlaps()`?

[2016-04-14 11:45] tomwhite commented on #1532
Got it. The index is used to filter the input splits (by removing any that don't match, or trimming those that do match down to the minimum extent of the match). See https://github.com/HadoopGenomics/Hadoop-BAM/blob/master/src/main/java/org/seqdoop/hadoop_bam/BAMInputFormat.java#L288-L355

[2016-04-14 12:06] akiezun commented on #1532
I'm making improvements to the overlap detector api, suggestions welcome. I
should have a pr today

On Thursday, April 14, 2016, Tom White <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-04-14 15:54] akiezun commented on #1532
@tomwhite it's awesome. One test I did went from 1.10 minutes to 0.11 minutes (using 47726 intervals)! Thanks, let's put it in hadoop-bam

[2016-04-14 16:45] tomwhite commented on #1532
@akiezun great! Can you review the PR please? https://github.com/HadoopGenomics/Hadoop-BAM/pull/82

Also, any thoughts about unmapped reads - will `OverlapDetector` handle them?

[2016-04-14 16:51] akiezun commented on #1532
hmm, don't know about unmapped ones.

[2016-04-14 18:23] akiezun commented on #1657
here's one stacktrace for intern:
[code]

[2016-04-14 19:02] akiezun commented on #1702
I've managed to use IntelDeflater and level 1 on spark by adding stuff to gatk-launch:
[code]
and I have confirmed that they are used by seeing 'using igzip' on executors stdout files.

Results are pending

[2016-04-14 20:08] akiezun commented on #1702
Results are in but so far they are not an improvement for the end-to-end runtime. I'm doing exome wide MarkDuplicates over a 35GB file. Using 20 executors 6 cores each 18 gb each and 3539 reducers (1 per 10MB of output)

igzip takes  4.5 min on saveAsNewAPIHadoopFile at ReadsSparkSink.java:219
jdk deflater exactly the same time

profiles are different (example -Xprof exetutor dump of worker thread

[2016-04-14 20:36] akiezun commented on #1702
i'm closing this. I can't detect an improvement in runtime

[2016-04-14 20:44] akiezun commented on #1657
meh, removing interning does not change any runtimes: I tried it on MarkDuplicatesSpark.

[2016-04-14 20:48] akiezun commented on #1699
this is fixed

[2016-04-14 20:48] #1699 closed

[2016-04-15 03:16] akiezun commented on #1660
the number of reducers seems to be pretty irrelevant. I ran ReadsPipelineSpark on a 35GB file, with 60 executors, 1 CPU per exec, 7 GB per exec.

60    reducers -> 18 min first tree aggregate, > 12 mins on save, I killed it after that
270  reducers -> 13 mins first tree aggregate, 5.5 min save
1000 reducers  -> 11 min first tree aggregate, 5.0 min save
2000 reducers -> 11 min first tree aggregate,

[2016-04-15 03:16] #1660 closed

[2016-04-15 04:28] akiezun opened #1709 "investigate memory savings for SAMRecords"
some ideas for investigation - motivated by @pcostanza notes on htsjdk
- can we store byte[] not strings (2x difference)
- can we reuse mCIGAR strings without interning (almost all cigar strings are the same)
- can the Integers be replaced by ints? 2x difference in size
- is the linked list necessary?

[2016-04-15 10:10] magicDGS opened #1710 "Request: Easy access to FeatureInput<VariantContext> in GATKTool for walkers that traverse VariantContext"
In my case, as an API user, my main usage of GATK is for traverse `GATKRead` and `VariantContext`, so I would like to have in `GATKTool` a simpler way of access to the `FeatureInput<VariantContext>` instead of getting them from `FeatureManager features`.

It will be useful in the `VariantWalker` as a step to issue #692, to get all the variants provided by the user in the same walker.

My idea is m

[2016-04-15 13:32] akiezun commented on #1710
assigning to @droazen for an opinion

[2016-04-15 15:53] akiezun commented on #1675
i shrunk the sites vcf to 3pct of its size (tossing mot variants) and the runtime did not change

[2016-04-15 17:39] lbergelson opened #1711 "GATK_SKIP_NATIVE_BUILD=true doesn't work on POWER systems"
A user building GATK on a POWER system tried to set `GATK_SKIP_NATIVE_BUILD=true`, but it didn't prevent the build from failing.

[code]
the temporary workaround was the following change:
[code]

This is a bug and is likely to cause failures on other systems as well.

[2016-04-15 19:47] droazen opened #1713 "Implement a test that catches failures to register new annotations in GATKVCFHeaderLines"

[2016-04-15 19:48] droazen commented on #1713
If an annotation's header line isn't registered in `GATKVCFHeaderLines`, it can cause a NPE deep in htsjdk when we go to write the header.

[2016-04-15 19:48] akiezun commented on #1713
do you have a stacktrace?

[2016-04-15 19:48] droazen commented on #1713
Eg., for `ExcessHet` we needed a line like:

        addInfoLine(new VCFInfoHeaderLine(EXCESS_HET_KEY, 1, VCFHeaderLineType.Float, "Phred-scaled p-value for exact test of excess heterozygosity"));

[2016-04-15 19:49] droazen commented on #1713
Example stacktrace:

org.broadinstitute.hellbender.tools.walkers.haplotypecaller.HaplotypeCallerIntegrationTest.testGVCFModeIsConcordantWithGATK3Results FAILED
    java.lang.NullPointerException
        at htsjdk.variant.vcf.VCFHeader.removeVCFVersionLines(VCFHeader.java:268)
        at htsjdk.variant.vcf.VCFHeader.<init>(VCFHeader.java:115)
        at htsjdk.variant.vcf.VCFHeader.<init>(VCFHeader

[2016-04-15 19:50] droazen commented on #1713
(Note that I've fixed this for ExcessHet in the HC branch)

[2016-04-16 02:55] akiezun commented on #1675
i rerun with empty cluster and tiny vcf file. absolutely no difference in runtime for readspipeline. I think we should close this - any objections, @droazen ?

[2016-04-16 03:13] droazen commented on #1675
@akiezun You've tried decreasing the vcf size, but what about increasing it by ~10x? Does broadcast fall apart then? Also trying increasing # of executors by ~10x and see if broadcast gets much worse. And you need some stats showing broadcast as a % of total wall-clock runtime, instead of just as an absolute time.

[2016-04-16 03:19] akiezun commented on #1675
what would increasing vcf size show that we dont already know? Of course it will fail because i only allocated 7GB per executor so if vcf is 30GB it will fail to broadcast. I'm still not sure how to measure % of wallclock time.

[2016-04-16 03:34] droazen commented on #1675
Increasing the vcf size would give us a sense of how the broadcast scales with input size -- I don't think you have enough data points to draw any conclusions there yet. Also, you could increase the memory per executor to allow the larger broadcasts to work -- point is to figure out whether the network/bittorrent protocol is a bottleneck.

[2016-04-16 03:40] droazen commented on #1675
As for % of wallclock time...you know the broadcast times (as reported above) -- don't you know the wallclock time of each run too?

[2016-04-17 17:22] akiezun opened #1718 "Investigate using bgzipped and indexed fasta as alternative to broadcast"
the 2bit fasta isa bit of a pain to deal with. https://github.com/broadinstitute/gatk/issues/1580 shows that size-wise bgzip fasta is comparable.

This ticket is to:
- [ ] establish whether we can use a bgzipped+index fasta as a reference (htjdk support and speed)
- [ ] if it works for walkers, evaluate performance of distributing the reference+index to spark executors and using it as a replacemen

[2016-04-17 17:22] akiezun commented on #1580
closing this - the investigation is done. https://github.com/broadinstitute/gatk/issues/1718 will take over speed investivation

[2016-04-17 17:22] #1580 closed

[2016-04-18 19:58] akiezun commented on #1638
an attempted fix is in https://github.com/samtools/htsjdk/issues/577

[2016-04-18 20:37] akiezun opened #1723 "ReadsPipelineSpark fails on GCS"
annoyingly, spark UI and Hadoop UI claim the job succeeds.

see output here: https://console.cloud.google.com/dataproc/jobs/813fba95-8b19-4b4d-9cd1-b5bb94e4e52c?project=broad-dsde-dev&authuser=1&graph=GCE_CPU&duration=PT1H&tab=output
[code]

[2016-04-18 22:15] akiezun commented on #372
closing this. vqsr is being redone

[2016-04-18 22:15] #372 closed

[2016-04-18 22:20] akiezun commented on #776
closing this. i have not seen more than 2. please reopen if you have an example

[2016-04-18 22:20] #776 closed

[2016-04-18 22:41] akiezun opened #1725 "print tool help by default - save user time"
help should be printed by default not only after asking with `--help`

That is, typing this
[code]
should be exactly the same as
[code]

[2016-04-18 23:36] akiezun commented on #1215
It's true - FilterVCF is faster when filtering genotypes. Here I took 1 small vcf file with 2535 samples and 12632 lines (675M)

I'm closing this then. Unclear if we want to invest in speeding up VariantFiltration given that we're moving away from vcf files at some point.

[code]

[2016-04-18 23:36] #1215 closed

[2016-04-18 23:39] akiezun opened #1726 "VariantFiltration - add a way to filter by AlleleBalance computed on the fly"
FilterVCF offers such an option - AB is computed from ADs.

[2016-04-18 23:39] akiezun commented on #1215
One clarification - FilterVCF is not a subset of VariantFiltration, it offers one new option - filter on allele balance computed on the fly. I added https://github.com/broadinstitute/gatk/issues/1726

[2016-04-18 23:48] akiezun opened #1727 "FilterVcf blows up with NPE"
[code]

[code]

the bug is in `AlleleBalanceFilter` - it assumes that all genotypes have 2 AD fields and crashes and burns if they don't.

[2016-04-18 23:48] akiezun commented on #1727
blocked on #1210

[2016-04-18 23:58] akiezun opened #1728 "FilterVcf blows up with an IAE"
[code]

[code]

This file does have a sequence dictionary and the Picard original FilterVcf does not blows up on this file but does blow up if file has no sequence dictionary, eg
`java -jar ~/bin/picard-tools-2.0.1/picard.jar FilterVcf I=src/test/resources/empty.vcf O=a.vcf`

[code]

[2016-04-18 23:59] akiezun commented on #1728
blocked on #1210

[2016-04-19 02:59] SHuang-Broad commented on #1718
@akiezun, when you say "reference+index" do you mean `.fai` only or other index files like the ones required/generated by `bwa` like `.bwt` index files?

[2016-04-19 13:56] magicDGS opened #1730 "GenotypeAnnotations require GT, but some fields could be computed without that information"
When I'm trying to use some `GenotypeAnnotation`s, like `DepthPerAlleleBySample`, I found that the method does not return the AD field if the provided genotype (not the builder) is null or not called. But this annotation does not requires that the genotype is called for being computed (if some reads spans the variant, it does not need that the genotype is called to compute the depths).

I would li

[2016-04-19 13:57] akiezun commented on #1610
1. For spark - cloud dataproc works well
2. For non-spark, the simplest setup seems to create a master-only dataproc cluster because it comes with a bunch of software already pre-installed.

Maybe that's all we need.

[2016-04-19 14:09] ronlevine opened #1731 "SelectVariants and VariantFiltration not updating AC, AN and AF for --setFilteredGtToNocal"
Port https://github.com/broadinstitute/gsa-unstable/pull/1347.

[2016-04-19 14:15] akiezun commented on #1610
What's missing from the environment:
- samtools (massive pain to build, the install instructions are bogus and apt-get package is very old)

[2016-04-19 14:29] akiezun commented on #1690
30 GB file on NFS
time samtools index CEUTrio.HiSeq.WEx.b37.NA12892.bam
real	5m18.298s
user	5m5.198s

[2016-04-19 14:33] lbergelson commented on #1610
@akiezun Have you looked into spinning up a node and running one of the production dockers on it?  That way we'd have the exact production environment.  (although I assume there are different dockers for different tools)

[2016-04-19 15:35] #1690 closed

[2016-04-19 15:35] droazen opened #1732 "Concordance testing against GATK3 annotations for HaplotypeCaller (with a configurable tolerance before failure)"
The current port of the `HaplotypeCaller` in `dr_runnable_haplotypecaller` has several "fuzzy" integration tests, in addition to traditional "exact match" integration tests, that test that we're above a certain % of concordance with a known good set (currently, GATK 3 output) using selected parts of the records (eg., alleles, genotypes, start/end positions). We should try to expand this strategy t

[2016-04-19 15:46] ldgauthier commented on #1732
I have a dream...

[2016-04-19 17:35] droazen commented on #1638
@akiezun Why are you using tribble async I/O at all? Didn't we decide never to use that?

[2016-04-19 17:36] akiezun commented on #1638
We decided to not use it because of bugs. I wanted to fix the bugs. But the whole async tribble may be hopelessly broken beyond repair - see comments in samtools/htsjdk#577.

[2016-04-19 17:37] droazen commented on #1638
@akiezun We shouldn't waste time trying to fix it -- let's just add a prominent warning in htsjdk that it's not safe to use and move on.

[2016-04-19 17:37] akiezun commented on #1638
Anyway, closing this. It's not a GATK bug but a htsjdk bug

[2016-04-19 17:37] #1638 closed

[2016-04-19 17:39] droazen commented on #1725
Seems like a good idea -- @lbergelson do you agree?

[2016-04-19 17:42] droazen commented on #1728
@akiezun If you think the problem might extend beyond `FilterVcf`, and that our sequence dictionary detection might be broken in general in some way for vcfs, could you create a separate ticket to investigate, and assign to @cmnbroad?

[2016-04-19 17:44] droazen commented on #1718
@akiezun Since `2bit` format has a more compact in-memory representation than fasta (~4x smaller), you'd need to document the effects on Spark memory usage as well.

[2016-04-19 17:48] droazen commented on #1690
@akiezun Does this mean that we can close https://github.com/broadinstitute/gatk/issues/1570?

[2016-04-19 17:49] droazen commented on #1570
Should this be closed given the closure of https://github.com/broadinstitute/gatk/issues/1690?

[2016-04-19 18:20] #1713 closed

[2016-04-19 20:21] lbergelson commented on #1725
Sure.  Seems fine.

[2016-04-19 20:29] lbergelson commented on #1548
I think so unless someone has fixed it.

[2016-04-19 20:56] lbergelson commented on #1705
GATK tests are now running as well.  They may need additional work on robustness.  Initial versions were failing to checkout the correct htsjdk version and silently passing on master.  There should be a better way to verify this.

[2016-04-19 21:01] akiezun commented on #1705
can you include the URL here?

[2016-04-19 21:06] lbergelson commented on #1705
https://gatk-jenkins.broadinstitute.org/view/HTSJDK%20Release%20Tests/  has a display showing a pipeline view of 3 jobs, 1 builds htsjdk on its own, it then launches picard and gatk4 tests on that version of htsjdk

all 3 green means that they succeeded, but for now we should dig into the console output and verify that they look ok until we've run it enough times that we trust nothing new and funn

[2016-04-19 22:07] akiezun commented on #1728
depends on if it's limited to picard ports or no

[2016-04-19 22:09] akiezun commented on #1718
it would be a whole bunch of work though. htsjdk does not know about bgzipped fastas nor gzi index files. I'm looking for a way to estimate the benefits without doing the work yet. Suggestions welcome

[2016-04-19 22:10] akiezun commented on #1570
let's close until we have numbers in hand. I'm not sure I was correct when I opened the issue

[2016-04-19 22:10] #1570 closed

[2016-04-19 22:33] akiezun commented on #1702
Reopening. It was hard to see due to the in-house cluster being used by multiple people. On a private cluster on GSC, the difference is clear - MarkDuplicatesSpark goes from 7.4 minutes to 6.6-6.7 minutes.

[2016-04-20 03:29] akiezun commented on #1723
closing. this was due to #1734

[2016-04-20 03:29] #1723 closed

[2016-04-20 14:29] #1702 closed

[2016-04-20 14:58] vdauwera commented on #1725
I'm a little confused on this one. If the two are the same, what's the point of having `--help`?  What does "help" consist of? Basic usage or additional resources and detailed tool information like list of arguments?

[2016-04-20 15:09] akiezun commented on #1725
consists of nothing. it's just there for convention

[2016-04-20 15:10] lbergelson opened #1738 "add test to make sure intel deflator is loadable"
We need a test in travis that the deflator is loadable.  I recently broke it's extraction and nothing failed.  We need to prevent this from happening in the future.

[2016-04-20 15:14] akiezun opened #1739 "IntelDeflater misplaced after build and not used on gatk-launch"
after a clean build, build/libIntelDeflater.so is a directory (!) and not a file and running gatk does not use the IntelDeflater (plus prints out a (bogus) message) - `Java HotSpot(TM) 64-Bit Server VM warning: You have loaded library /local/akiezun/gatk4_bqsr_deleteIndels_v2/gatk/build/libIntelDeflater.so which might have disabled stack guard. The VM will try to fix the stack guard now.
It's high

[2016-04-20 15:15] akiezun commented on #1739
i guess https://github.com/broadinstitute/gatk/issues/1738 is the ticket

[2016-04-20 15:44] akiezun opened #1740 "is our test suite leaking threads in ProcessController?"
I find hundreds of those in jstack dump created towards the end of our test run. The wait has no timeout and so these threads never die

[code]

[2016-04-20 15:47] akiezun opened #1741 "async writer thread leak in test suite"
this guy never dies

[code]

[2016-04-20 15:49] droazen commented on #1725
Yeah, there are two kinds of people in the world: those who type "--help" first thing when running new software, and those who type nothing expecting help. We should help both kinds of people :)

[2016-04-20 16:24] lbergelson commented on #1725
What happens if someone wants to write a tool that takes no arguments?

[2016-04-20 16:26] droazen commented on #1725
We've never had a no-arg tool before, and I'm skeptical that we ever will...

[2016-04-20 16:45] akiezun commented on #1741
allocating stack trace
[code]

[2016-04-20 16:48] akiezun commented on #1741
it's because we only close the writer on `onTraversalSuccess`. This will be an issue for all tools

[2016-04-20 16:58] droazen commented on #1741
How could the writer be closed before the traversal is complete?

[2016-04-20 20:44] cmnbroad commented on #1643
WIP commit [here](https://github.com/broadinstitute/gatk/commit/45bac26ca158546afb3d36fd33195bce9f4f193d) with a proposed approach to factoring Spark metrics collectors so they work both as a standalone tool or on behalf of CollectMultipleMetricsSpark, which reuses a single RDD across multiple metrics tools.

[2016-04-20 22:03] akiezun commented on #1056
Ongoing analyses in gsa6:/local/akiezun/gatk4_bqsr_deleteIndels_v2
branch with indels removed origin/ak_removeIndelsFromBQSR_take2

The analysis is to run with and without indels and compare recalibrated quals with and without binning

[2016-04-20 22:10] akiezun commented on #1056
Update1:
Results are qual-by-qual identical on our test data src/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.bam

Update2: Results are qual-by-qual identical on a 30GB exome file
on gsa6 /local/akiezun/data/CEUTrio.HiSeq.WEx.b37.NA12892.bam

runtime of BaseRecalibrators (on the 30GB)
[code]

[code]

[2016-04-20 22:52] #1679 closed

[2016-04-20 23:56] vdauwera commented on #1725
Ah, fair enough. I also can't imagine a tool with zero inputs.

[2016-04-21 00:10] akiezun commented on #1740
holy smokes we have a `finalize()` method! It has to go.

[2016-04-21 02:03] droazen commented on #1740
Are you talking about `Object.finalize()`, or `BaseRecalibrationEngine.finalizeRecalibrationTables()`?

[2016-04-21 02:04] akiezun commented on #1740
Object.finalize()

[2016-04-21 13:01] akiezun opened #1749 "why is coveralls badge reporting 13%"
since a few weeks ago coveralls reports have become pretty useless ("increases coverage by  70%" or "decreased by 70%" etc) and the badge now shows 13% coverage. What's going on?

![image](https://cloud.githubusercontent.com/assets/1993519/14709629/a0dbf144-079f-11e6-9eb2-43de2f63d865.png)

[2016-04-21 14:07] akiezun commented on #1056
rerun on 30GB
[code]

[code]

[2016-04-21 14:08] droazen commented on #1056
what was the cause of the previous `ApplyBQSR` anomaly?

[2016-04-21 14:10] akiezun commented on #1056
how do i know? NFS or other people using gsa6 maybe

[2016-04-21 15:41] vruano opened #1751 "Only the first letter of unknown arguments is shown in the error."
When the user includes an unknown argument in a tool command line the error message only indicates the first letter of the unknown argument as supposed to the full name.

At the very least the message should read  "unknown argument STARTING with 'x'". However I would say that is far better if the whole argument name is output.

[2016-04-21 15:42] vruano commented on #1751
To be more exact here is an actual error message:
[code]

Ideally would be

[code]

[2016-04-21 15:48] lbergelson commented on #1751
I assume it was specified with a single `-`?  It interprets short options as single letters if it can't identify them, since it allows chaining of single letter short options i.e. `-tvf`.

[2016-04-21 16:00] lbergelson commented on #1749
Coveralls gets the coverage updates in pieces because travis does 2 separate builds. The main test build has something like 83% coverage and the CLOUD build only has 13% coverage.  Collectively they hit ~84%.
Coveralls reports the most recent builds, but if both of them haven't finished yet, or if one of them failed to report coverage it will only show the partial coverage.

I don't know how to fi

[2016-04-21 16:24] lbergelson commented on #1749
Seems like other people have the same issue with no resolution
https://github.com/lemurheavy/coveralls-public/issues/491
https://github.com/lemurheavy/coveralls-public/issues/156

[2016-04-21 16:32] lbergelson commented on #1749
Filed a feature request here:  https://github.com/lemurheavy/coveralls-public/issues/761

[2016-04-21 16:33] #1739 closed

[2016-04-21 16:34] #1738 closed

[2016-04-21 17:16] magicDGS opened #1752 "LocusIteratorByState only keeps reads from one of the samples (and not always the same)"
I was developing a `LocusWalker` (#1707)  when I found that if several BAM files are provided, the `LocusIteratorByState` (LIBS) returns only a `AlignmentContext` with associated `ReadPileup` with only one sample.

I realized that in the LIBS there is a commented exception thrown about that multi-sample is not supported. Because it is commented, the LIBS is providing an `AlignmentContext` for the

[2016-04-21 17:30] magicDGS commented on #1752
In addition, I would like to have an option in LIBS where reads with Ns could be added to the pileup (switched off by default, of course), similar to the `includeReadsWithDeletionAtLoci` option.

[2016-04-21 17:54] droazen commented on #1203
Remove `VariantShard` and `ReferenceShard` as well when we do this, if possible

[2016-04-21 18:13] lbergelson commented on #1752
I think this was originally not ported because it was more complex and unnecessary for the work we were doing at that moment, not any ideological opposition.  I think we'd be happy to have a multi-sample implementation if includes strong tests.

[2016-04-21 18:22] droazen opened #1753 "Publish snapshot to artifactory whenever master changes"
We're going to need this now that we're splitting the `HaplotypeCaller` codebase across public and protected, otherwise it will be a huge pain to develop.

[2016-04-21 18:22] droazen commented on #1753
For @lbergelson

[2016-04-21 18:31] droazen commented on #1752
Correct, this functionality was not ported only because we didn't have a use case for it and because it introduced a fair amount of extra complexity. We'd be open to a PR to add back multi-sample support, provided the code is well-tested and not too convoluted.

[2016-04-21 18:33] davidbenjamin opened #1754 "HashedListTargetCollection has unnatural contig order"
`HashedListTargetCollection` sorts targets by `IntervalUtils.LEXICOGRAPHICAL_ORDER_COMPARATOR` i.e. ASCII order.  Any tool that uses this class to store its targets outputs chromosomes in the order 1, 10, 11 . . . 19, 2, 20, 21, 22, 3 . . .

[2016-04-21 18:35] magicDGS commented on #1752
Thanks @lbergelson and @droazen.

Could it be possible to add a simple patch to add all the reads to the returned `AlignmentContext`, instead of just add the `ReadPileup` from just one covered sample?

I just made some small changes in my fork: https://github.com/magicDGS/gatk/tree/dgs_multi_sample_libs

If you agree I will do a PR, if not it will take me some time due to the complexity...

[2016-04-21 18:40] droazen commented on #1754
@vruano Care to comment on this?

[2016-04-21 19:34] akiezun commented on #1056
for comparison, GATK3 on same file
BaseRecalibrator 129.29 min

[2016-04-21 19:46] akiezun opened #1755 "Poor performance of reading from GS buckets"
Running on GCS (cluster created by dataproc), the GATK spark tools run much faster on HDFS than on files stored on GS

HDFS 1.15 minutes

[code]

GCS 7.50 minutes

[code]

@lbergelson @jean-philippe-martin is this a known thing? If this expected

[2016-04-21 20:08] jean-philippe-martin commented on #1755
It's not a surprise that a local disk is faster than a remote one, but the
magnitude of the difference is a lot more than I would expect. I remember
at the time using direct GCS access to get the best possible performance in
the bit I was working on, but I don't remember exactly how much of a
difference it made.

From my desktop it takes 2m25s to download the whole file, so the ~6min
difference se

[2016-04-21 20:12] droazen commented on #1755
@akiezun Can you determine whether you're using the HDFS -> GCS adapter in your test case? The adapter historically did have performance problems of this magnitude. As @jean-philippe-martin mentioned, we should benchmark the new NIO -> GCS support as well.

[2016-04-21 22:15] akiezun commented on #1755
how?

[2016-04-21 22:15] akiezun commented on #1755
how?

[2016-04-21 22:27] akiezun commented on #1203
what is our story for the cloud though? Google references are not 2bit and we require 2bit for BROADCAST?

[2016-04-21 22:53] droazen commented on #1203
We should currently be able to broadcast .2bit references stored in GCS buckets in the cloud. Whether it makes sense to do this vs. accessing the reference directly via GCS or the Google reference API is a topic for a future comparison.

[2016-04-21 23:07] droazen commented on #1755
It's not clear to me what code path you're going through when using a `gs://` URI for the input bam in your second test. `CountReadsSpark` calls `GATKSparkTool.getReads()` which calls `JavaSparkContext.newAPIHadoopFile()`, but the question is how Hadoop-BAM handles your `gs://` URI. In other parts of the GATK (eg., `ReferenceTwoBitSource`) we call into `BucketUtils.openFile()`, which handles GCS U

[2016-04-22 06:14] magicDGS commented on #1752
I added a simple patch to fix this undocumented behaviour. Nevertheless, I'm working in an abstraction to include multi-sample support instead of include all the reads without differentiation in the pileup.

[2016-04-22 15:24] lbergelson commented on #1705
Closing this.  Seems to be working.

[2016-04-22 15:24] #1705 closed

[2016-04-22 15:25] droazen opened #1758 "Run gatk-protected test suite on every push to gatk/master"
We're going to need this now that the `HaplotypeCaller` is split across repos...

[2016-04-22 16:10] droazen commented on #1705
Can you add a badge to htsjdk for these tests @lbergelson? One of our promises was that non-Broadies would be able to see the status of them.

[2016-04-22 17:46] lbergelson commented on #1705
Hmn.  I'm not sure how to get a single badge for all the tests.  I might need a picard badge and a gatk badge.

[2016-04-22 19:07] akiezun commented on #1610
ok, this is almost done. The steps for setting up non-spark have been provided by @Davidbernick and checked by me here: https://broadinstitute.atlassian.net/wiki/display/DO/GATK+Dev+in+a+Docker+In+a+Cloud

For spark, dataproc is the preferred option for now (very easy setup).

@lbergelson can you take over this issue and follow the docker steps as well as dataproc to confirm that it works for you.

[2016-04-22 19:50] droazen commented on #1705
Multiple badges should be fine, provided we include a clear label for each one.

[2016-04-22 19:59] droazen opened #1763 "Cap probabilities at 1.0 in ActivityProfile/BandPassActivityProfile, and enforce in ActivityProfileState"
The `BandPassActivityProfile` can sometimes generate probabilities that slightly exceed 1.0 when moving probability mass around. We should fix this by capping at 1.0, but first we must evaluate the effects of capping on the `HaplotypeCaller`.

[2016-04-22 22:44] lbergelson commented on #1711
The workaround was merged.  A more idiomatic gradle solution should ultimately be introduced.

[2016-04-22 22:44] #1711 closed

[2016-04-23 03:14] vruano commented on #1751
I could see why it happens, however I think we can do better.

[2016-04-25 14:19] akiezun commented on #1517
hi all, @lindenb has graciously agreed to use the Apache2 branch of bwa mem in his jni binding and so we are OK to use them. Thank you Pierre! https://github.com/lindenb/jbwa

[2016-04-25 17:14] tedsharpe opened #1767 "Need a way to override the KryoRegistrator in a GATKSparkTool."
Various tools will be serializing different things and need to be able to register these classes with Kryo.  Currently the only way to vary what is registered is to specify a conf argument on the command line with the class name of the registrator.
Maybe a new property in SparkCommandLineProgram?  GATKSparkTool will default it to GATKRegistrator, but subclasses can override as they require.  This

[2016-04-25 17:47] ronlevine commented on #1382
Adding tests to SelectVariantsIntegrationTest and GATKVariantContextUtilsUnitTest. I haven't uncovered any missed diploid assumptions ... :-)

[2016-04-25 18:04] droazen commented on #1767
@tedsharpe I thought you came up with a means of doing this involving static initializers?

[2016-04-25 18:11] frank-y-liu opened #1768 "Change number of spark cores caused MarkDuplicatesSparkIntegrationTest fai"
@akiezun @lbergelson Changed the Spark context configuration from "local[\*]" to "local[N]", where N is specified by a environmental variable. Ran gradle test with "--tests *SparkIntegration*". Out of 203 tests, one failed: " testBulkFragmentsNoDuplicates", the rest passed.  Here is the snippet of code change. Any suggestions?

[code]

Error messages:
[code]

[2016-04-25 18:38] tedsharpe commented on #1767
I did, but then I rethought it and decided that I think it's too fragile to do it that way:  You have to guarantee that all classes that might want to be registered are loaded and initialized before you instantiate the SparkConf.

The problem is that it varies among JVM implementations exactly when that (class loading and initialization) happens.  Some JVMs do the whole mess, chasing all reference

[2016-04-25 18:38] droazen opened #1769 "Safely parallelize the gatk and gatk-protected test suites"
Travis test suites runtimes have been creeping upwards in both gatk and gatk-protected, and have now reached painful levels. Let's parallelize the test suite in a safe way that won't require us to make all test classes thread-safe. In the past, we successfully parallelized by test class, with one process per test class, and aggregated the results at the end.

[2016-04-25 19:06] akiezun opened #1770 "enable IntelDeflater on mesos"
IntelDeflater on spark is not used on mesos because we use `--conf spark.yarn.dist.files=/home/users/akiezun/gatk/build/libIntelDeflater.so`

@addibiase-01 can you help us resolve this and have it run on Cray1?

[2016-04-25 19:12] lbergelson commented on #1769
@droazen Didn't we try this before and start getting intermittently failing tests?

[2016-04-25 19:13] akiezun commented on #1769
maybe it was FTZ ;)

[2016-04-25 19:15] akiezun commented on #1610
oh, @lbergelson , I did not realize we had `scripts/install_git_lfs.sh`. Does it make sense to update the Dockerfile to use that?

[2016-04-25 19:15] droazen commented on #1769
@lbergelson Back in the GATK3 days, we had a plan in Bamboo that could run the test suite in parallel, with one job per test class, and aggregate the results at the end. This ran in ~15 minutes instead of 2-3 hours, but was prone to intermittent cluster-related failures. I'm wondering if there is a way in travis to do the same thing (or something similar), but in a more reliable way.

[2016-04-25 19:17] lbergelson commented on #1767
@tedsharpe This sounds reasonable to me.

[2016-04-25 19:27] akiezun commented on #1557
ongoing analyses in gsa6:/local/akiezun/gatk4_bqsr_deleteBAQ/gatk

[2016-04-25 19:30] lbergelson commented on #1769
We can split the tests up into a bunch of build units, but we get rapidly diminishing returns since we spend minutes installing things and building the artifacts for every vm.  Travis doesn't have any notion of a build pipeline, so we can't say "build the artifact on 1 vm and then share it and run the tests on these 10 vms".  Since we have a hard limit of the number of VMs we can use at a time for

[2016-04-25 19:31] akiezun commented on #1557
update, on small data (our file in git lfs), results with and without baq (respectively, QRead1, QRead2) are small differences (i'm updating the compare tool to do binning), though most bases gain 1 qual.

[code]

[2016-04-25 20:05] droazen commented on #1769
Discussed in person with @lbergelson -- we decided to ask Broad IT to add more travis slots to our plan, and to use more jobs per build to bring test suite runtime down below 10 minutes.

[2016-04-25 20:06] droazen commented on #1769
Also, we should check that the maven dependencies are being cached properly per-branch (they don't seem to be at the moment)

[2016-04-25 20:07] droazen commented on #1769
An examination of the current test suite runtimes shows that the test suite could be split quite evenly along the utils/tools boundary.

[2016-04-25 20:09] droazen opened #1771 "Determine why FTZ gets unset during integration tests"
We recently determined that the FTZ setting gets cleared during integration tests for unknown reasons. We temporarily fixed this by explicitly turning FTZ on in every call to `jniComputeLikelihoods()` (https://github.com/broadinstitute/gatk/pull/1764), but this might be inefficient, and even if it isn't it would be good to understand what's going on.

Without the fix in https://github.com/broadins

[2016-04-25 20:10] droazen commented on #1771
For @gspowley. I can provide a means of reproducing this issue -- feel free to stop by my desk sometime and I'll show you.

[2016-04-25 20:16] lbergelson commented on #1610
Probably not.  It might be named less explicitly than it should be.  It's really `install_git_lfs_assuming_youre_on_travis.sh

[2016-04-25 20:21] droazen commented on #1771
@gspowley Steps to replicate:

1. Check out the `dr_runnable_haplotypecaller` branch (in this repo -- this would be too painful to reproduce with the version in gatk-protected).

2. Revert the change in https://github.com/broadinstitute/gatk/pull/1764

3. Run `HaplotypeCallerIntegrationTest`, watch it fail due to a mismatch on a single QUAL field (we've confirmed this is due to FTZ vs. no FTZ).

4

[2016-04-25 20:24] akiezun commented on #1557
The same small test file binned, ~ 0.2% of total quals change by 10 after binning (this is on the very small file)

[code]

[2016-04-25 20:36] frank-y-liu commented on #1768
Just realized that sparkArg also reads the same content. Fixed. Now I get all green when runing "--test \*SparkIntegration\*". Case closed.

[2016-04-25 20:41] droazen commented on #1557
@akiezun If you run `HaplotypeCaller` on the two outputs, do any of the calls change?

[2016-04-25 20:48] droazen commented on #1767
@tedsharpe Sure, open a PR with whatever approach you think is best, and we'll review. Using method overrides sounds like a pretty sane option.

[2016-04-25 21:05] akiezun commented on #1557
If only I had a HaplotypeCaller in gatk4.
(i doubt anything changed but this file it to trivial to matter. Am rerunning with 30GB exome)

[2016-04-25 21:20] droazen commented on #1557
@akiezun Oh, but you do! You do! https://github.com/broadinstitute/gatk-protected/pull/452

:)

[2016-04-26 00:14] eitanbanks commented on #1557
FWIW I don't even care if any of the calls change.  They would be marginal calls anyways.  These numbers are minuscule.
@yfarjoun what do you think?

[2016-04-26 01:28] akiezun commented on #1557
Let me at least run it on a 30GB file.

On Mon, Apr 25, 2016 at 8:14 PM, Eric Banks <notifications@github.com>
wrote:

[2016-04-26 03:05] akiezun commented on #1770
Pramod says that `--files` arg to spark-submit may be what we need.

[2016-04-26 03:07] akiezun commented on #1607
@droazen  let me know when this is unblocked.

[2016-04-26 19:24] cmnbroad commented on #1673
There were quite a few other failing cases for cram queries; the fixes and a boatload of new tests are in https://github.com/samtools/htsjdk/pull/552.

[2016-04-26 19:31] cmnbroad commented on #1299
I think we should put this on hold indefinitely; the bai index that is created by htsjdk directly is better than the one that results from conversion of a .crai (see https://github.com/samtools/htsjdk/issues/531) due to https://github.com/samtools/hts-specs/issues/146. We either need to wait for a new crai spec/version, or we need htsjdk to support use of .crai directly without conversion to .bai.

[2016-04-26 19:41] cmnbroad commented on #1643
@droazen If you get a chance take a look at the branch linked in the comment above (not for code review, just discussion of the approach), and/or we can discuss when I'm in later this week.

[2016-04-26 19:54] akiezun commented on #1557
Update on a 30GB exome file.

So, 11% of bases change quals by 11 or more (negative sign here means that quals "improved" when baq was off). Binned results follow, unbinned at the end

[code]

[code]

[code]

(skipping unbinned full results - too big to be useful here)

@eitanbanks @yfarjoun WDYT? running HC seems reasonable given 10% of bases changed by Q10 or more.

[2016-04-26 19:55] droazen commented on #1557
I think this qualifies as way more than a "minuscule" change, and we should definitely have a look at the effect on variant calling.

[2016-04-26 20:06] akiezun commented on #1557
this is becoming a more complex project - M2 variants may be impacted too.

BTW runtimes on the 30GB file
[code]

[code]

[2016-04-26 22:35] yfarjoun commented on #1557
yeah, this isn't miniscule...

On Tue, Apr 26, 2016 at 3:54 PM, Adam Kiezun <notifications@github.com>
wrote:

[2016-04-26 23:20] akiezun commented on #1557
@eitanbanks @yfarjoun how do you want to proceed? The runtime gains are very real but both M2 and HC results need to be examined.

[2016-04-26 23:29] akiezun commented on #1725
@lbergelson i can take this one if you want. let me know

[2016-04-27 02:24] #1768 closed

[2016-04-27 14:27] cmnbroad opened #1777 "Hadoop-BAM CRAMInputFormat is out of sync with BAMInputFormat features"
CRAMInputFormat doesn't support several of the new features in BAMInputFormat, specifically:
- interval filtering https://github.com/HadoopGenomics/Hadoop-BAM/pull/59
- keep read pairs together (should test queryname sorted CRAM in Hadoop-BAM) https://github.com/HadoopGenomics/Hadoop-BAM/pull/49
- we should also test this issue on CRAM  https://github.com/HadoopGenomics/Hadoop-BAM/pull/80

[2016-04-27 17:15] lbergelson opened #1779 "update dist commands to include gatk-launch and sparkJar"
Update the gradle distribution commands to include the sparkJar, gatk-launch, and settings.gradle in the zipped archive so we can have a single command to build a distributable zip.

[2016-04-27 17:19] lbergelson commented on #1676
closed by https://github.com/broadinstitute/gatk-protected/pull/457 and #1772

[2016-04-27 17:19] #1676 closed

[2016-04-27 17:58] akiezun commented on #365
When can this be merged? is there a PR? It's not in master

[2016-04-27 18:03] cmnbroad commented on #365
Its dependent on https://github.com/broadinstitute/gatk/pull/1424 and https://github.com/broadinstitute/gatk/pull/1425 getting resolved. When those are merged in, I'll rebase and resolve the branch against those, then make a PR.

[2016-04-27 18:40] cmnbroad commented on #1661
Test case list is kept at https://github.com/samtools/htsjdk/issues/592.

[2016-04-27 18:53] lbergelson opened #1780 "running PrintReadsSpark on dataproc fails because intel deflater not found"
[code]

fails with
[code]
Likely because of
[code]
in gatk-launch.  This likely needs special handling for dataproc.

[2016-04-27 18:57] akiezun commented on #1780
are you logged on on the cloud VM? `/Users/louisb/Workspace/gatk-protected/build/libIntelDeflater.so` seems like a Mac path not Linux

[2016-04-27 19:24] lbergelson commented on #1780
I think it's because we're trying to tell yarn to share a file from the local directory, but the local directory is MY local directory, not the local directory on dataproc.  I think we need to add some magic to copy it to the dataproc node and then use a correct path to it.

[2016-04-27 20:21] akiezun opened #1782 "Three very different names for similar tools"
For creating an "index" file corresponding to a data file, we have 3 tools, each with a completely different name form:
- BuildBamIndex
- IndexFeatureFile
- CreateHadoopBamSplittingIndex

we should pick "Build.." or "Create.." (using "index" as a verb is confusing)

@vdauwera thoughts?

[2016-04-27 20:29] akiezun opened #1783 "BuildBamIndex - scary exception on cram input"
`./gatk-launch BuildBamIndex -I src/test/resources/large/CEUTrio.HiSeq.WGS.b37.NA12878.20.21.cram`

blows up with a bogus exception

[code]

desired outcome: message that using files that are not in BAM format is not supported. No exception!

[2016-04-27 20:30] droazen commented on #1782
I think we've always intended to have a unified `IndexFile` tool that can index anything.

[2016-04-27 20:42] akiezun commented on #1780
This is a showstopper I think. I can't just blow up

[2016-04-27 20:52] lbergelson opened #1784 "extraJavaOptions should be provided to driver as well as the executors"
extraJavaOptions are provided only to the spark executors by gatk-launch, these same options should probably be set for the driver as well

[2016-04-28 02:02] lbergelson opened #1786 "NPR in AuthHolder if no apikey is specified"
AuthHolder has several constructors, some of which don't check for nulls in it's inputs and result in confusing NPRs when running on dataproc.

These should be consolidated so they all check inputs appropriately.

[2016-04-28 02:30] yfarjoun commented on #1557
Argh. This is the worst. I thought we don't use BAQ...so confused.

On Tue, Apr 26, 2016 at 7:21 PM, Adam Kiezun <notifications@github.com>
wrote:

[2016-04-28 03:13] akiezun commented on #1557
we definitely do and it's eating a whole lot of CPU cycles

[2016-04-28 03:31] akiezun opened #1787 "extremely slow CRAM processing of intervals"
CountReads

CRAM is 17x slower here! (in user time)

using interval list from `ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/2.8/b37/Broad.human.exome.b37.interval_list.gz`

[code]

[code]

[2016-04-28 05:26] eitanbanks commented on #1557
BAQ was put in to make the indel calibration more accurate.
I'm fine holding off on this PR until a more thorough analysis is made; there isn't a rush.  @yfarjoun should we do this in Palantir?

[2016-04-28 12:17] yfarjoun commented on #1557
what BQSR and PrintReads commandline did you use? in particular, did you
put in indel qualities into the bam?

On Thu, Apr 28, 2016 at 1:26 AM, Eric Banks <notifications@github.com>
wrote:

[2016-04-28 12:43] cmnbroad commented on #1787
The current  multi-interval iterator in the CRAM reader is pretty inefficient (to put it mildly) - I actually would have predicted that with that many intervals it would be much worse. I recently rewrote much of the query implementation - if you're so inclined it would be interesting to know if the branch in https://github.com/samtools/htsjdk/pull/552 has better perf (and this would be a great tes

[2016-04-28 15:18] droazen commented on #1641
Re-assigning to @akiezun, since he requested a few non-performance tickets to keep him from losing his sanity. This ticket should also encapsulate porting any other changes to the GATK3 annotation subsystem that have happened since the allele-specific support was added.

[2016-04-28 18:36] droazen commented on #1787
Even without any `-L` intervals, running `CountReads` on the cram is 3x slower than running it on the bam, so the performance problems are not confined to the interval-parsing code.

[2016-04-28 18:41] cmnbroad commented on #1787
Right; with my htsjdk branch, the example above goes from 17x to 2x, so the multi interval problem doesn't surprise me, and we have a fix in the pipeline. There is still something fundamentally slower about CRAM in the 2-3x range though that I need to look into.

[2016-04-28 18:46] akiezun commented on #1787
thanks for looking into it. how far is your fix from being ready?

On Thu, Apr 28, 2016 at 2:41 PM, Chris Norman <notifications@github.com>
wrote: