[2020-03-28 16:44] lindenb commented on #6490
Hi, I got the same problem wih **4.1.6.0** : https://gatk.broadinstitute.org/hc/en-us/community/posts/360060174372-Haplotype-Caller-4-1-6-0-java-lang-IllegalStateException-Smith-Waterman-alignment-failure-

[code]

[2020-03-29 10:47] lindenb commented on #6490
@davidbenjamin  here is a link to a minimal bam with the error: https://nextcloud-bird.univ-nantes.fr/index.php/s/CkFc66MsjCNLywr

[2020-03-29 20:58] riederd commented on #6490
Hi, I got this as well but with Mutect2 (gatk 4.1.6.0):

 java.lang.IllegalStateException: Smith-Waterman alignment failure. Cigar = 348M with reference length 348 but expecting reference length of 378 ref = CATACGCGTATACACACAATATAGGC
ATTGCATACGCGTATACACACAATATAGGCATTGCATACGCGTATACACACAATATAGGCATTGCATACGCGTATACACACAATATAGGCATTGCATACGCGTATACACACAATATAGGCATTGCATACGCGTATACACACAATATAGGCATTGCATACGCGTAT

[2020-03-30 09:24] riederd commented on #6490
BTW: if I use gatk-4.1.4.1 with the same input it works fine.

[2020-03-30 10:04] riederd opened #6529 "Mutect2 gatk 4.1.6.0: java.lang.IllegalStateException: Smith-Waterman alignment failure"
Hi,

I got a java.lang.IllegalStateException: Smith-Waterman alignment failure in Mutect2 (gatk 4.1.6.0).
When running the same input with the same options using gatk 4.1.4.1 the files get processed without error.

Here the exception output:
java.lang.IllegalStateException: Smith-Waterman alignment failure. Cigar = 348M with reference length 348 but expecting reference length of 378 ref = CATACGCG

[2020-03-30 12:01] nalcala commented on #6529
I am running into the same issue in about 10% of my samples (out of ~120)

[2020-03-30 16:51] lbergelson commented on #6500
We're going to redefine * as any spanning allele instead of just deletions.  I don't know if it will technically change in 4.2, but I think it's ok to use * for other overlapping upstream stuff.

[2020-03-30 17:04] lbergelson opened #6530 "Support multi-sample gvcf import in GenomicsDBImport"
GenomicsDBImport currently doesn't support multi-sample input vcfs.  We've had a number of usesr request the ability to import precombined multi-sample vcfs.

People may have old call-sets which they would like to combine with new data, and do not have access to the original single sample gvcfs needed to recombine them in GenomicsDBImport.

It would be good if we could import these directly into G

[2020-03-30 17:05] lbergelson commented on #6530
@bhanugandham This is the issue we talked about.

[2020-03-30 18:34] kgururaj commented on #6500
One more clarification question: Assume there is a sample which has both a deletion and an MNP as ALT alleles at a given position. For deletions, we use the min PL value to determine which ALT allele represents the spanning deletion in the subsequent positions. Should we combine the PL values of MNPs and deletions?

[2020-03-31 06:23] lindenb commented on #6529
Same problem. I posted a minimal bam here: https://nextcloud-bird.univ-nantes.fr/index.php/s/CkFc66MsjCNLywr

[2020-03-31 14:12] fleharty opened #6532 "Improve clustered_events filter in M2 to not trigger due to neighboring germline events"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-03-31 14:14] fleharty commented on #6532
I'm not sure if "bug" is the correct label, but that's what I'm going with.

[2020-03-31 16:47] davidbenjamin commented on #6490
Thank you @lindenb for the minimal bam.  I will fix it ASAP.

[2020-03-31 16:52] droazen opened #6533 "HaplotypeCaller and Mutect2 in 4.1.6.0 failing with Smith-Waterman cigar reference length mismatch"
As reported in this forum thread: https://gatk.broadinstitute.org/hc/en-us/community/posts/360060174372-Haplotype-Caller-4-1-6-0-java-lang-IllegalStateException-Smith-Waterman-alignment-failure-  as well as in the closed ticket  https://github.com/broadinstitute/gatk/issues/6490#issuecomment-605486643, there appears to be a regression in GATK 4.1.6.0 causing HaplotypeCaller/Mutect2 to fail with an

[2020-03-31 16:54] droazen commented on #6533
@davidbenjamin I've spun this off into a separate ticket. I think this might be serious/widespread enough that we'll want a 4.1.6.0 release once we have a working fix. I recommend that we manually do full-scale test runs of both HaplotypeCaller and Mutect2 to confirm that the issue is resolved rather than relying on the integration tests, which are not large-scale enough to catch edge cases like t

[2020-03-31 20:08] ldgauthier commented on #6500
It's not quite as logical to combine MNPs and deletions as it is to combine two deletions, but given that we only have one "symbolic" allele to represent both, I don't think there's any other choice.

[2020-04-01 06:23] davidbenjamin commented on #6533
It seems like the patch in 4.1.6 didn't go far enough and that exception needs to be replaced with a `continue` in all cases.  This seems to be occurring for haplotypes with long indels inside their assembly padding that don't have enough spanning sequence to resolve.  Since the variation is inside the padding, it seems safe to ignore.  Increasing padding resolves the issue, alhtough this is at th

[2020-04-03 14:31] samuelklee opened #6535 "Consider pushing non-GATK python dependencies into base."
As discussed briefly on Slack, this would encourage stability of these dependencies and would cut down on Travis build time.  (However, we might still want to test the build regularly.)

One possible approach would be to use a base yml containing the non-GATK python packages to establish the conda enviroment in the base Docker, and then separately add the lines to pip install the GATK python packa

[2020-04-03 20:56] tfenne opened #6538 "GATK fails to genotype insertion immediately following a deletion at hg19:chr1:68896832"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
- [x] Latest public release version [4.1.6.0]
- [ ] Latest master branch (not tested)

### Description
I have a sample that has a slightly complicated event in it that is getting miscalled.  The easiest way to see it is probably with an IGV screenshot:

![variant](https://user-images.githubusercontent.com/160

[2020-04-04 20:06] cristian2420 opened #6539 "HI,"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-04-04 20:06] #6539 closed

[2020-04-04 20:35] CristianJGC opened #6540 "Problem running ASEReadCounter with canonical chromosomes"
Hi,

I had used "ASEReadCounter" with the GRCh37 Genome on my samples and I got results even when I had this warning:
"IndexDictionaryUtils - Track sitesVCFFile doesn't have a sequence dictionary built in, skipping dictionary validation "

The problem is that now I'm using just the canonical chromosomes as a reference and I'm getting the same warning but the output file is empty. Could someone hel

[2020-04-05 01:51] davidbenjamin commented on #6533
That would work, but I see where I caused the regression upstream.  I chopped leading and trailing deletions from haplotype cigars, same as for read cigars, but for haplotypes we want to keep these deletions because the  start and end positions need to remain pegged to the reference start and end.

I have a fix + regression test branch, which is running on every M2 validation.

[2020-04-06 06:48] LakshmanTejaG commented on #6533
gatk 4.1.4.1 version working fine for
HaplotypeCaller  Smith-Waterman cigar reference length mismatch

[2020-04-06 16:17] cmnbroad opened #6541 "Remove guards that require a reference from CRAM code paths"
There are a number of GATK code paths that check to ensure that a reference is provided whenever a CRAM input is provided. Since htsjdk now accepts both embedded reference and reference-less (no reference compression) CRAMs, these checks  should be removed once we update htsjdk. The CRAM code will defer accessing the reference until one is actually required, and will fail gracefully in the case wh

[2020-04-08 14:33] droazen commented on #6533
@davidbenjamin How's the patch coming? Did the M2 validation tests pass on your branch? We'd be happy to give you a quick review once you post a PR.

[2020-04-08 18:42] shenkers commented on #6345
@davidbenjamin @jonn-smith , I created a pull request that addresses this issue #6546, I'm happy to make any changes, if you have comments/suggestions.

[2020-04-08 22:18] davidbenjamin commented on #6533
@droazen The PR is #6544.  James has reviewed and requested a few more tests.  It's working fine on validations including ~30 exomes and ~15 genomes.

[2020-04-10 16:17] kchaconv2 commented on #5900
Hi y'all

I've been trying to run GATK GenotypeGVCFs but I keep encounter this error. I've increase memory but it does not seems to be enough.
My script is
java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /gatk/gatk-package-4.0.6.0-local.jar GenotypeGVCFs -ploidy 1 -R /project/uma_jo

[2020-04-10 19:53] snaqvi1990 commented on #4813
Hi,

Wondering if you have found a solution to this issue? I am trying to do the same.

Thanks

[2020-04-13 10:11] splaisan opened #6547 "GenotypeGVCFs GATK v4.1.6.0 refuses '--use-new-qual-calculator true'"
When set, the # argument leads to a message saying it is not recognized (idem with shorter notation -new-qual).

* is this parameter obsolete with this version of GATK4 (4.1.6.0) and should it be removed from best practice?
* is it the current default behaviour and is not needed anymore?
* did I do something wrong?

many questions ! sorry :-)

[code]

[2020-04-13 10:15] splaisan commented on #6547
is this the answer? https://github.com/broadinstitute/gatk/issues/6370
the doc should then state it to avoid confusion.

[2020-04-13 16:32] lbergelson commented on #6547
@splaisan I believe that argument was removed and the documentation should have been updated.  Can you link to where you're seeing it recommended?

[2020-04-13 16:33] lbergelson commented on #6547
The old qual calculator has been completely removed so there's no need to specifically request the new one now.

[2020-04-13 17:30] mlathara opened #6548 "NullPointerException from GenotypeGVCFs"
This is based on some digging for a user query here: https://gatk.broadinstitute.org/hc/en-us/community/posts/360060283092-GenotypeGVCFs-java-lang-NullPointerException

The background here is that GenomicsDB added support for 64 bit INFO fields starting 4.1.5.0. When using bcf codec, GenomicsDB will pass a 64 bit type to GATK, which isn't supported by GATK. But instead of flagging that as a missin

[2020-04-13 17:52] splaisan commented on #6547
I was reading an old version of the tool page, a more recent one  (https://gatk.broadinstitute.org/hc/en-us/articles/360037594731-GenotypeGVCFs) gives it as deprecated but is not the page I found by searching google.

Thanks for confirming that it is obsolete

[2020-04-13 17:52] #6547 closed

[2020-04-13 18:51] lbergelson commented on #6547
The most recent is actually this one: [4.1.6.0](https://gatk.broadinstitute.org/hc/en-us/sections/360008481611-4-1-6-0). There's some problems with how the website displays the versions at the moment so it's hard to find.

[2020-04-13 20:20] jonn-smith opened #6549 "Funcotator WDL should allow for gnomAD exome and gnomAD genome to be enabled independently"
Currently in the WDLs there is a single boolean that determines whether funcotator will annotate with gnomAD.  If it is `true`, funcotator will annotate with both exome and genome annotations which can be filtered out later.

Instead, the funcotator WDL should have two separate booleans - one for exome and one for genome.  This will reduce the output file size and speed up the annotation process.

[2020-04-14 06:29] splaisan commented on #6547
Apparently when an argument has been depreciated, it is not mentionned in later versions anymore as seen from https://gatk.broadinstitute.org/hc/en-us/articles/360041417092-GenotypeGVCFs
So people who do not read the version page where it is announced will never know it (unless I missed it in my reading)
Sooooo many versions out there and indeed v4.1.6.0 not found by searching GenotypeGVCFs but on

[2020-04-14 10:56] fgvieira commented on #5852
I am also getting this error on chromosome 11:
[code]

Comparing with the other chromosomes, the only difference seems to be that the BED file only has a single interval in this chromosome:
[code]

and not sure option 5) is possible:
https://github.com/Theano/Theano/issues/4902

[2020-04-14 12:57] lbergelson commented on #6547
I reached out to our comms team and they fixed the ordering bug in the list of versions so 4.1.6.0 should at least be the first one on the page now.  They are aware that there are some issues with the doc being hard to find/search but there's limited developer resources to make changes to the website right now.  We're doing what we can to improve things!

So I think arguments that marked as *Depre

[2020-04-14 21:35] karenfeng opened #6550 "[Proposal] Force call alleles in GenotypeGVCFs"
## Feature request

Related to #6239.

I'd be interested in performing joint genotyping on a set of given alleles in order to avoid deflating rare variants (previously genotype given alleles, now force call filtered alleles). I'm particularly interested in regenotyping on all of the alleles in the input gVCF output by CombineGVCFs, but the proposal below has a broader scope to match the existing f

[2020-04-14 21:43] samuelklee commented on #6513
Just noting that I resolved the segfaults (which turned out to be unrelated to this issue), see https://github.com/broadinstitute/gatk/pull/5026#issuecomment-607596205

[2020-04-14 21:59] jonn-smith opened #6551 "Add human_g1k_v37.fasta as another b37 reference to Funcotator"
Currently we check for the Broad's B37 reference (`Homo_sapiens_19.fasta`) when annotating with hg19.  We should add the other B37 reference to be checked as well - `human_g1k_v37.fasta`.

This will involve adding the sequence dictionary for the new reference and augmenting the check in `FuncotatorUtils::isSequenceDictionaryUsingB37Reference` to check both sequence dictionaries against the one dri

[2020-04-15 11:45] Fazulur opened #6552 "GATK 4.1.6.0 haplotypecaller ArrayIndexOutOfBoundsException"
Dear GATK team,

I am getting errors with haplotyper of GATK 4.1.6.0 when i run gatk-variant pipeline from bcbio on one WGS sample. I am getting same error when i run using same version of GATK installed on my machine.

### Error log

[April 15, 2020 8:14:35 AM GMT] org.broadinstitute.hellbender.tools.walkers.haplotypecaller.HaplotypeCaller done. Elapsed time: 0.80 minutes.
Runtime.totalMemory()=4

[2020-04-15 15:47] droazen commented on #6552
@ldgauthier This error is occurring in the calculation of the `ExcessHet` annotation (a PL index goes out-of-bounds while we're trying to get the max likelihood in `GenotypeUtils.computeDiploidGenotypeCounts()`). I know this code has been touched somewhat recently as part of the work on the Gnarly pipeline -- any ideas as to what might be causing it?

[2020-04-15 16:00] jamesemery commented on #6533
We have asked the green team to run their pipeline tests on this branch to at least limit the risk of more full sample failures. It will probably be a few more days before we have those results. @gbggrant

[2020-04-15 18:40] jonn-smith opened #6553 "ValidateVariants should have a flag to validate based solely on VCF spec"
`ValidateVariants` performs several checks that go above and beyond what the VCF spec requires for VCF files (e.g. throwing an exception if a variant has an alt allele but has a genotype of hom ref [as found by this user](https://gatk.broadinstitute.org/hc/en-us/community/posts/360061452132-GATK4-RNAseq-short-variant-discovery-SNPs-Indels-)).

This is good - it helps catch logic errors in our and

[2020-04-16 11:39] Biojenifer commented on #6230
Which is the consequence of using --independent-mates? Could we get a higher rate of false positives then?

[2020-04-16 13:44] tmm211 commented on #6551
@jonn-smith can we also add this flag to the tool docs? I couldn't find it:
--force-b37-to-hg19-reference-contig-conversion

[2020-04-16 13:47] GATKSupportTeam commented on #6551
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/5211'>Zendesk ticket #5211</a>)</i>

[2020-04-16 18:40] samuelklee commented on #5852
Thanks for the report, @fgvieira. I’d probably just drop that interval manually if I were you.

Just to clarify for whoever ends up tackling this, by option 5 I meant changing the relevant theano code/calls in our gcnvkernel package to handle this case appropriately (as opposed to code in the theano package itself).  But again, if inferences are not reasonable, then we may want to filter upstream.

[2020-04-17 00:57] davidbenjamin commented on #6230
It's not biased toward more false positives or false negatives; it's just worse.

[2020-04-18 23:35] AlijahArcher opened #6555 "SplitIntervals output BED"
## Feature request

### Description
I am using Splitintervals in a couple of spots in my somatic variant calling workflow to set up scatter parallelization.  My problem is that some of my other tools require BEDs to operate correctly, and because GATK tools can use BED files as the interval (-L) parameter, I just default to using BED files.  To do this, I run SplitIntervals and then IntervalListTo

[2020-04-20 10:24] splaisan opened #6556 "display the legend on top of gatk_variants_recalibrate_snp.tranches.pdf instead of overlay"
The tranche plot legend box is hiding a big part of the plot.
Putting it on top using ggplot2 would be great.
I'd like to do it here but do not find the R code plotting this PDF
Thanks

[2020-04-20 13:35] D0g4 commented on #4578
I am having the same problem.
The last lines read as follow:
[code]
I downloaded the file from gnomAD repository ("All chromosomes VCF"), but had to do some changes, as follow:
1. Lifted over to hg19, by using [b37tohg19.chain](https://github.com/broadgsa/gatk/blob/master/public/chainFiles/b37tohg19.chain) by using:
[code]
2. Got rid of the [chrN_random tables](http://genome.ucsc.edu/FAQ/FAQdownlo

[2020-04-20 16:16] nalinigans commented on #6487
@spikebike, just started looking at this issue again. We are benchmarking operations with NFS and will put out an optimized library soon. But, GenomicsDB does use filesystem locking to allow for simultaneous reads/writes.

- Did you try `export TILEDB_DISABLE_FILE_LOCKING=1` ?
- Are you using the `--consolidate true` option with GenomicsDBImport explicitly? If yes, would it be possible to set that

[2020-04-21 14:01] ldgauthier commented on #6552
It's really hard to say without data to debug.  @Fazulur can you upload a piece of the bam that can reproduce the error?  https://gatk.broadinstitute.org/hc/en-us/articles/360035889671

[2020-04-21 14:17] ldgauthier commented on #6309
@huangzhibo if this is still a problem, can you submit some data to reproduce the issue: https://gatk.broadinstitute.org/hc/en-us/articles/360035889671

[2020-04-21 15:28] bbimber opened #6557 "Best Practice GenomicsDB workspace(s) with intervals/scatter-gather?"
Hello,

We're looking to switch our large-scale WGS/variant calling project to use GenomicsDB instead of CombineGVCFs to stage data prior to GenotypeGVCFs, primarily b/c it allows incremental addition of samples.  I'm wondering if you'd be willing to comment on this from the perspective of scatter/gather.  We process most GATK jobs using scatter/gather across a cluster by providing each job with a

[2020-04-21 15:57] bbimber opened #6558 "GenomicsDB, update-workspace and the backup recommendation?"
Hello,

To our thinking, one of the compelling reasons to use GenomicsDB over Combined gVCFs is that ability to incrementally append samples, and this is supported through --genomicsdb-update-workspace-path.  However, you docs state: "It is recommended that users backup existing genomicsdb workspaces before adding new samples using --genomicsdb-update-workspace-path. If the tool fails during incre

[2020-04-21 17:54] droazen commented on #6558
@nalinigans @mlathara Your thoughts on this?

[2020-04-21 17:59] ldgauthier commented on #6557
We keep our shards as tarred genomicsDB workspaces.  Cromwell helps manage all the references, though.  You can see our exome workflow here: https://github.com/gatk-workflows/gatk4-germline-snps-indels/blob/master/JointGenotyping.wdl. We don't have a pipeline with incremental addition of samples, so we don't have a ready made solution there.  Subjectively the json idea sounds pretty good, although

[2020-04-21 19:27] mlathara commented on #6558
GenomicsDB workspaces can be moved freely - i.e., there is nothing about the workspace name or path that cannot be changed after initial creation. This wasn't true in the past (way way back in the past) but is certainly true now. Just want to clarify that in case that wasn't clear.

I guess I see this as six of one, half a dozen of the other. Currently, the user can copy the initial workspace to a

[2020-04-21 19:54] nalinigans commented on #6558
This is not possible as new GenomicsDB workspace fragments are created for the incremental updates. During the actual finalization of the fragments, the array in the workspace is locked using Posix file locks for concurrency.

[2020-04-21 20:47] mlathara commented on #6558
As @nalinigans says, individual arrays/intervals in a GenomicsDB workspace will be consistent during incremental import. One caveat though, since each array is independently updated, different arrays/intervals will finish adding samples at different times while incremental import is in progress. So, querying a workspace that is being incrementally imported into isn't recommended.

[2020-04-21 21:28] bbimber commented on #6558
@mlathara Your last sentence about querying during incremental update is my point.  It seems like it might be nice if GenomicsDB at least did something to indicate an update was happening (maybe write a lock file in the workspace?).  If there was a standard pattern, other tools could at least be aware of this and deal with it appropriately.  at minimum a reader could log a warning or something.

I

[2020-04-21 21:30] bbimber commented on #6557
@ldgauthier in our case we're not necessarily doing one job/contig.  primary chromosomes are 1:1; however, we batch the unplaced contigs into sets of jobs to reduce the total job count.  therefore a slightly more formal scheme to map interval(s) -> workspace would make sense in our case.

[2020-04-21 22:34] mlathara commented on #6558
@bbimber File locking doesn't work on all the filesystems GenomicsDB supports (hdfs/cloud, for instance) and is a pain on others (NFS, for instance -- painful enough that we've sometimes had to recommend users disable the existing file locking). For that reason, I wouldn't want users to depend on file locking for correctness.

Unfortunately, I think the cleanest approach is for the user to ensure

[2020-04-22 07:48] Fazulur commented on #6552
Dear @ldgauthier,

I uploaded small bam file, command i used & error log to gatk ftp provided in the above link & fille name is
**gatk_snippetbam_arrayboundissue.tar.gz**

Please help me to resolve this issue.

Thanks In Advance
Fazulur Rehaman

[2020-04-22 14:26] ldgauthier commented on #6552
We really shouldn't be calculating HWE or excess heterozygosity on haploid contigs, and I can fix that.  Can you give me an example of a diploid failure @Fazulur ?

[2020-04-22 14:49] Fazulur commented on #6552
Dear  @ldgauthier,

Thanks a lot for your quick response. I am getting error only with chrY and not with any diploid ones.

Please let me know once you fix this issue wtih ChrY.

Thanks In Advance

[2020-04-22 15:32] jonn-smith opened #6564 "hg38 dbSNP has incorrect contig names"
The data source for dbSNP for hg38 has contig names numbered differently than our hg38 reference.

Specifically, the hg38 contigs in dbSnp for hg38 are named `1` ,`2`, `3`, ... `X`, but our reference is `chr1`, `chr2`, `chr3`... `chrX`

This manifests as no annotations for dbSNP being annotated on hg38 data.

**_This is an issue in dbSNP and not with funcotator._**  The raw data source in dbSNP ha

[2020-04-22 17:27] ldgauthier commented on #6564
I do already have a chain file for this if that's helpful: https://github.com/broadinstitute/palantir/blob/master/Resources/restorehg38contigNames.chain

[2020-04-22 20:19] #6552 closed

[2020-04-22 21:55] lbergelson commented on #6564
Which are the official hg38 names?

[2020-04-23 14:27] droazen commented on #6564
@lbergelson This was discussed recently in the methods slack channel. A lot of us were under the impression that with hg38 the world had standardized on the UCSC naming scheme (chr + N), but the reality is that even with hg38/GRCh38, UCSC continues to use the chr prefix, while NCBI and Ensembl don't.

[2020-04-23 14:38] #5748 closed

[2020-04-23 14:38] #6391 closed

[2020-04-23 17:31] jamesemery opened #6567 "Potential performance regression in HaplotypeCaller since 4.1.5.0"
In doing some performance evaluation work for some other HaplotypeCaller work I have noticed that there is apparently a performance regression on the order of perhaps 10-20% of runtime. Running locally I find that running over the same section of a WGS chromosome 15 on the current master 78a9ecd3123fdb77acf3dd7a73b0c12bf4602a1c vs the release 4.1.5.0 i get the following results:

Master:
real	12m1

[2020-04-23 18:25] droazen commented on #6567
@davidbenjamin Your thoughts on this?

[2020-04-23 22:40] droazen commented on #6533
Fixed by https://github.com/broadinstitute/gatk/pull/6544 -- closing.

[2020-04-23 22:40] #6533 closed

[2020-04-24 05:02] davidbenjamin commented on #6567
@droazen My mind immediately jumped to the assembly/genotyping windows PR, #6358, but that was in 4.1.5 and in any case I profiled that thoroughly.  Spending more time in pairHMM could only mean more haplotypes or longer haplotypes and I'm having trouble seeing which of my PRs since 4.1.5 would do that.  However, it doesn't look like any one else's PRs could be responsible.

@jamesemery is the reg

[2020-04-24 16:13] jamesemery commented on #6567
I ran a git bisect with this quick and dirty runtime experiment. This is the branch that popped out. Its worth noting that there was a fairly wide variance for results but even so this branch seemed perhaps moderately faster than master with runtimes in the range of:
real	10m55.401s
user	12m6.348s
sys	0m8.147s
as opposed to the 12 minute range from my first trials. I would have to dig further to d

[2020-04-27 17:29] lbergelson opened #6572 "Why do we have force-call-filtered-alleles AND --alleles?"
It seems like the argument `--force-call-filtered-alleles` is redundant with `--alleles`.   Unless I misunderstand it, it looks like force-call-filtered-alleles is just used to decide if we should look at the `--alleles` argument or not, which is only used in conjunction with force calling.  It seems redundant.  Couldn't we merge them into a single argument that takes an allele list?

[2020-04-27 17:40] davidbenjamin commented on #6572
@lbergelson `-alleles` specifies a VCF for force calling.  By default we don't force call filtered alleles from this VCF. `-force-call-filtered-alleles` says to force call every allele from that VCF.  You could merge the arguments by putting it on the user to manipulate the force-calling VCF, but I don't like the idea of extra files.

[2020-04-27 17:42] lbergelson commented on #6572
Aaah, I see.  That makes sense.  I misread.  Thank you.

[2020-04-27 17:42] #6572 closed

[2020-04-27 20:13] ldgauthier commented on #6550
Hi @karenfeng ,

As we discussed earlier today, if you submit a PR I'll review.  Personally I would push back on the users requesting this feature because A) singletons shouldn't be disappearing B) this mode won't change the math and C) the same effect may be achieved by setting `--stand-call-conf 0`

Also as @lbergelson pointed out, `--force-call-filtered-alleles` goes with `--alleles` so if you

[2020-04-28 04:17] NTNguyen13 opened #6573 "AssertionError: The optimization step for ELBO update returned a NaN while running DetermineGermlineContigPloidy"
----

## Bug Report
Hi, I'm trying the CNV detection pipeline from GATK: https://gatk.broadinstitute.org/hc/en-us/categories/360002310591
However, when running the Determine Germline Contig Ploidy step, I stumble upon this error. Please guide me to solve this problem

### Affected tool(s) or class(es)
[code]

### Affected version(s)
- GATK 4.1.6.1
### Description
Full error log:
[code]

Any help i

[2020-04-28 16:05] jonn-smith opened #6574 "Funcotator Speed Regression"
When originally released, Funcotator had blistering speed.  In the latest tests, this speed has dropped off to be a very small fraction of that original data processing rate.

We need to profile Funcotator to determine the source of the slowdown, and then we must remedy it.

In particular the hg38 acceptance testing dataset (`hg38_trio.vcf`) has slowed significantly.

[2020-04-28 17:12] fleharty opened #6575 "FuncotateSegments errors out on short segments"
## Bug Report

### Affected tool(s) or class(es)
_Tool/class name(s), special parameters?_

### Affected version(s)
- [x] Latest public release version 4.1.7.0

### Description

The following error message is output:

A USER ERROR has occurred: Bad input: Is the input a file of segment variant contexts? Variant context does not represent a copy number segment: [VC null @ 6:4130448-4130544 Q. of ty

[2020-04-28 20:14] lbergelson opened #6576 "Weird SmithWaterman alignment"
@d-cameron noticed a wierd bad alignment coming out of the GKL SmithWaterman implementation, but our java version produces the same thing.

The following test produces the alignment `11S1M` when it seems like it should be producing `6S6M`.  Running with different SWOverhangStrategys changes the results.

[code]
These are what get computed with the current implementation.
| Strategy   | Result |
|

[2020-04-28 20:16] lbergelson commented on #6576
@jamesemery @davidbenjamin Do either of you have thoughts about this?  It seems like a bug.

[2020-04-29 02:24] #2718 closed

[2020-04-29 04:50] d-cameron commented on #6576
As a user, I would expect soft clip to give 6S6M, and Ignore to give 6M (why is it being padded with M when those bases are not part of the alignment at all?). It's unclear what Indel/leading indel is meant to mean to the scoring strategy but they just do penalty-less padding of the start/end and just start respectively, then those results are consistent with my expectations.

Both JAligner and th

[2020-04-29 06:51] davidbenjamin commented on #6576
@lbergelson Without looking carefully enough into the code, I have a hunch that perhaps our Smith-Waterman code's idea of a softclip is an alt sequence that starts before the reference sequence but afterwards aligns to the start of the reference sequence.  That is, I wonder if the way we generate the SW matrix and backtrack allows for the case where we skip the first six bases of both the alt and

[2020-04-29 07:45] riederd opened #6578 "BaseRecalibratorSpark crash: too many open files"
Hi,

I'm trying to run BaseRecalibratorSpark (gatk-4.1.7.0) but I'm hitting a problem where the process carshe with a "too many open files" error.

Here is my command:

ulimit -n 4096
/usr/local/bioinf/gatk/gatk-4.1.7.0/gatk BaseRecalibratorSpark \
    --java-options '-Xmx64G' \
    --tmp-dir /local/scratch/rieder \
    -I Normal_fixed.bam \
    -R GRCh38.d1.vd1.fa \
    -L S07604514_Regions_merge

[2020-04-29 10:32] levinyi commented on #6564
still  watching...

[2020-04-29 15:09] lbergelson commented on #6578
Huh.  It sounds like there must be a file handle leak we didn't know about.  I wonder why you're seeing it now for the first time...
@cmnbroad Could changes to the Path/GATKPathSpecifier code possibly have any side effects of losing file handles somewhere?

[2020-04-29 15:14] riederd commented on #6578
...I didn't run the spark version for quite some time, and it might also depend on the size of the BAM file being processed.

[2020-04-29 15:15] lbergelson commented on #6578
I meant more "why anyone is seeing it now for the first time" not you specifically :)

Are you running a particularly giant bam file?

[2020-04-29 15:27] riederd commented on #6578
Not really it is "just" 50697M

[2020-04-29 15:28] lbergelson commented on #6578
That's big but not crazy.

[2020-04-29 15:29] riederd commented on #6578
its from WGS

[2020-04-29 17:33] lbergelson commented on #6576
The strategies are not documented well at all.  We should definitely improve that.
@davidbenjamin This seems like a bug to me, is it something we should prioritize to fix?  is the reason we don't see this in normal haplotype caller operation because we almost always have substantially larger reference than reads so it's very rare that the leading edge propagates well into the alignment and the ove

[2020-04-29 19:23] #6575 closed

[2020-04-30 10:06] fgvieira commented on #6167
Dear all,

I am a bit confused why GATK uses `[0,1,2]` for the `GT` files, even though VCF specifications clearly state that the `GT` field is `encoded as allele values separated by either of / or |`. They even say that for `diploid calls examples could be 0/1, 1 | 0, or 1/2, etc`.

As it is right now, if I read a VCF from GATK CNV germline pipeline through `bcftools`, the `GT` field is changed to

[2020-04-30 18:39] ldgauthier commented on #6167
@fgvieira would diploid no-call genotypes work in your pipeline?  The example in the VCF spec (http://samtools.github.io/hts-specs/VCFv4.2.pdf page 11) has no-call diploid genotypes, GQ=0 with copy number (CN) and copy number quality (CNQ) specified.  These aren't allelic calls so we can't say how many copies are on each haplotype. I think the haploid genotype calls were supposed to be for conveni

[2020-04-30 18:40] ldgauthier commented on #6573
@asmirnov239 you've looked into something like this before, right?

[2020-04-30 19:20] cwhelan commented on #6167
In the WGS SV pipeline, for deletions and duplications that the pipeline believes to be biallelic we do the following:

- ALT: `<DEL>`  or `<DUP>`
- SVTYPE: `DEL` or `DUP`
- GT: `0/0` or `0/1` or `1/1`

We currently report depth based copy number and quality for these variants in custom format fields `RD_CN` and `RD_GQ` if they are available; we could possibly move those values to the standard `CN

[2020-04-30 20:17] asmirnov239 commented on #6573
@NTNguyen13 Hi thank you for the bug report,

Could you see if your count files have chromosomes that have zero/low coverage? Did you use the FilterIntervals prior to using DetermineContigPloidy workflow?

Could you provide the standard output as well?

[2020-04-30 20:42] asmirnov239 commented on #6573
Also, could you provide the sample x per-contig-count matrix output by DetermineGermlineContigPloidy? It is a temporary output - it's easier to find if you provide `--tmp-dir /path/to/temp/dir` option in the tool command line invocation.

[2020-04-30 21:42] GATKSupportTeam commented on #6487
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/5153'>Zendesk ticket #5153</a>)</i>

[2020-05-01 02:31] NTNguyen13 commented on #6573
Yes, I have used `FilterIntervals` prior to using `DetermineContigPloidy` to create the `RB1.cohort.gc.filtered.interval_list` file. Here are the interval list file and the sample x coverage matrix
[RB1.cohort.gc.filtered.interval_list.txt](https://github.com/broadinstitute/gatk/files/4562241/RB1.cohort.gc.filtered.interval_list.txt)
[samples-by-coverage-per-contig6967710280691192984.xlsx](https:/

[2020-05-01 14:49] ldgauthier opened #6579 "Consolidate funcotator WDL code"
The Mutect2 WDL in the repo has a near copy of the funcotator WDL. In the interests of consolidation for easier testing and so on, Mutect2 should call Funcotator as an imported task or subworkflow.  Right now the Mutect2 version is in WDL 1.0 while the funcotator version is draft-3.

Also, Mutect2 is tested in Travis and in a Terra featured workspace, while the Funcotator version doesn't appear to

[2020-05-01 15:09] samuelklee commented on #6579
There may also be some duplicated code in the somatic CNV WDL, although note that the FuncotateSegments tool is called there instead.

I don’t know what the plan is for future development of FuncotateSegments, but one strategy we’ve discussed would be to convert seg files to VCF (either internally or with a separate tool), and then scrap this separate tool entirely.

In general, CNV locatable TSVs

[2020-05-01 23:22] MinS1 commented on #6293
Hi, Meng,
I also meet this issue, have you solve it?
Thank you

[2020-05-03 05:03] davidbenjamin commented on #6567
I have not had time to do any profiling, but I have looked at a lot of commits.  I think it's likely that my recent changes cause some haplotypes with leading indels to be kept when previously they may have been dropped.  It's hard to believe that this could cause a 10-20% slowdown via a commensurate increase in the number of haplotypes assembled.  However, haplotypes with leading indels would hav

[2020-05-04 05:08] hsiaoyi0504 opened #6580 "FilterMutectCalls seems to generate duplicate strand bias filters in the output vcf files"
## Bug Report

### Affected tool(s) or class(es)
FilterMutect Calls

### Affected version(s)
4.1.6.0

### Description
Originally post it in the [forum](https://gatk.broadinstitute.org/hc/en-us/community/posts/360061656311-Difference-between-and-strict-strand-strand-bias-in-vcf-files-generated-by-FilterMutectCalls). Now I suspect it's a bug in the output vcf files of the FilterMutectCalls.

#### St

[2020-05-04 08:48] fgvieira commented on #6167
I like @cwhelan suiggestions, where we'd have:
- ALT: `<DEL>` or `<DUP>` (`<CNV>` if not known)
- SVTYPE: `DEL` or `DUP` (`CNV` if not known)
- GT: `0/0` or `0/1` or `1/1` (`.` or `./.` if not known)

[2020-05-04 12:55] fleharty commented on #6580
@hsiaoyi0504 These are actually two separate, but very similar filters.  I agree that the descriptions are identical but their behavior is not.

The strict_strand filter is intended to be used on duplex sequencing.

@davidbenjamin Would you have a moment to chat about the best way to deal with these?

[2020-05-04 13:11] cmnbroad commented on #6578
Not sure if/how `GATKPathSpecifier` could cause this. @riederd Have you ever run this same command in a previous GATK version (ie., 4.1.6.0). It would be super helpful to know if 4.1.6.0 doesn't have this problem. Also, the only `GATKPathSpecifier` changes in 4.1.7.0 were for reference files.

I've long suspected that we have a file handle leak somewhere, since I encounter it when running tests lo

[2020-05-04 13:17] riederd commented on #6578
4.1.4.1 didn't have the problem, at least I do not remember to have seen it.
4.1.6.0 I didn't use much because of other issues with Mutect2

HTH

[2020-05-04 14:13] #5776 closed

[2020-05-04 14:13] #6307 closed

[2020-05-04 15:16] jonn-smith commented on #6579
This was a design decision that Lee wanted before including WDLs was encouraged (or maybe before it was possible).  The WDLs should be exactly identical (though I haven't checked recently).

Funcotator has a featured workspace and Beri linked it to docstore.  It has been tested as part of this and should be nearly trivial to get in.

I don't think FuncotateSegments has a separate WDL, though like

[2020-05-04 17:19] droazen opened #6581 "HaplotypeCaller should have (better) tests for multi-sample calling"
We need better test coverage for `HaplotypeCaller` run on multiple samples simultaneously.

[2020-05-04 21:10] davidbenjamin commented on #6580
@fleharty Addressed on the forum.  The filter was and is still turned off by default.  It shows up in the VCF header even when turned off, like other M2 filters.

[2020-05-04 21:10] #6580 closed

[2020-05-04 23:42] mishaploid commented on #6487
Hi @nalingans, sorry I missed your recent post. Just adding that I haven't tried `export TILEDB_DISABLE_FILE_LOCKING=1` and don't have the `--consolidate` flag specified so it should be using the defaults.

[2020-05-05 10:10] MengZhang2019 commented on #6293
Hello,
Actually, I didn't solve it completely.
When I change to another server, it can run 2.14GB's data well.
I think it's because the data is too large, and the server can't perform it normally.
If it's not necessary, you can choose other tools.

Best wish
Meng

[2020-05-05 16:12] droazen commented on #6293
@mwalker174 Any insight into this one?

[2020-05-05 16:16] frabanal commented on #6110
Having the same issue here, and I follow essentially the same steps with .csi and .idx indexing for bam and .g.vcf files, respectively.
@tfenne or anyone else, have you figured a workaround to worked with compressed VCF files properly indexed for large chromosomes (> 512 * 2^20)?

I would have to carry ~1000 uncompressed *.g.vcf to GenomicsDBImport and I simply don't have the disk-space for that m

[2020-05-06 10:52] splaisan opened #6585 "VQSR plot legend is masking part of the histogram"
Is there a script that can be tuned to stop putting the legend of VQSR plots on top of the plot?
It is masking important information as shown below.
When this is using ggplot2, the legend could be captured and plotted as a separate grid object next to the plot (for instance).

![example](https://i.imgur.com/53rbF0c.png)

[2020-05-06 14:06] ldgauthier commented on #6585
HI @splaisan ,

That's a known issue, but we never had a great solution before.  Your suggestion makes sense.  Would you care to open a PR to make the change: https://github.com/broadinstitute/gatk/blob/master/src/main/resources/org/broadinstitute/hellbender/tools/walkers/vqsr/plot_Tranches.R

[2020-05-06 14:24] splaisan commented on #6585
willing to give it a try but I need minimal info to do so

* can I add `library("ggplot2")` to the code or will this new library not be supported by the package?

* what value (are these defaults?) do

[code]

take for a command like this

Sorry but I do not know where to look in the java code for this

Thanks in advance

[2020-05-06 14:31] splaisan commented on #6585
alternatively, can we set `suppressLegend = ! is.na(args[4])` from the java command to get rid of the legend during ploting?

[2020-05-06 15:01] splaisan commented on #6585
this seems to work for me
* edited the par() on top
* edited the legend line
* added 0.05 to the column titles to not overlap

[-] and [+] below to spot the edits (the other commented lines where there already)

sorry but I am not familiar with PR, can you handle that for me please.

[code]

[2020-05-06 15:01] #6585 closed

[2020-05-06 15:27] mwalker174 commented on #6293
@MengZhang2019 I have not seen this kind of error before, but the first thing I would do is to set java heap limit using `--java-options "-Xmx280g"`.

Also, what kind of samples are these? PathSeq generally runs better when there are <10M microbial reads in the sample, and large microbe-rich samples can cause issues. Downsampling the bam and omitting `--filter-metrics` can be helpful in this case.

[2020-05-06 17:24] MinS1 commented on #6293
@mwalker174 Hi, I have set  java heap limit using --java-options "-Xmx280g", but it shows the same error like "ERROR DiskBlockObjectWriter: Uncaught exception while reverting partial writes to file......"
My running data are RNAseq data from brain bulk RNA. The size of the input bam file is 2.6G.

[2020-05-06 17:36] gbggrant opened #6586 "Bug in HaplotypeCaller 'evidence provided is not in sample'"
### Instructions

In one of the six samples that the DSP pipelines team ('lantern') uses for scientific testing, found bug in GATK 4.1.7.0's HaplotypeCaller.  'java.lang.IllegalArgumentException: evidence provided is not in sample'.  Full stack trace below.

This is found for Sample NA17-308, Shard 49.
https://cromwell.gotc-dev.broadinstitute.org/api/workflows/1/83938362-b9b5-49f3-a65d-715065d6eab

[2020-05-06 17:54] droazen commented on #6586
@vruano and @davidbenjamin , it looks like we have another `HaplotypeCaller` bug in the latest release (4.1.7.0). It seems that this wasn't caught prior to release due to the wrong version of the GATK docker image being run during full-scale testing. Would you be able to look into this when you have a chance? Thanks!

@vruano , it appears that you may have last touched this code in commit d9fd22f5

[2020-05-06 19:54] ldgauthier commented on #6586
Just as a note, we included that sample because it reportedly has ~25% contamination.  Not sure if the contamination downsampling comes into play at, but it is something that's distinctive about this bam.

[2020-05-06 22:19] GATKSupportTeam opened #6588 "GATK User Unable to replicate the spanning deletions documentation"
This request was created from a contribution made by Saurabh Parikh on April 27, 2020 01:53 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360061866552-Unable-to-replicate-the-spanning-deletions-documentation

--

Hello,

I am trying to understand GATKs behavior regarding spanning deletions. I went over the documentation page,  [spanning or overlapping deletions (\* allele)](

[2020-05-06 22:24] bhanugandham commented on #6588
As discussed, creating a issue ticket to investigate why the user is seeing inaccurate genotype calls for spanning deletion. Synthetic bam files have been uploaded to the server with the name parikh_spanning_deletions_data.zip. Included in the folder:
./bam_per_RG/ - Contains the synthetic bam and their index files for each sample
./commands.txt - The commands I used to generate the final files
./

[2020-05-07 04:24] davidbenjamin commented on #6586
I may have a lead.

The error occurs here (no insight so far, just looking up the line from the stack trace):
[code]
We get an error when `evidenceIndexBySampleIndex(sampleIndex)` yields a `Map` that for some reason doesn't contain a read that it should.  So let's investigate `evidenceIndexBySampleIndex()`.

This method returns the `evidenceIndexBySampleIndex.get(sampleIndex)` field  if it is not

[2020-05-07 05:02] davidbenjamin commented on #6586
Now, it seems like calling `contaminationDownsampling` right after `retainEvidence` could cause problems if both methods remove reads.

However, one might correctly point out that although the cache invalidation I mentioned is not handled systematically, the method `removeEvidenceByIndex` _does_ have some code to update the evidence by sample and the evidence index map.  It's possible that this co

[2020-05-07 12:15] MinS1 commented on #6293
Hi @MengZhang2019 Meng, Thank you
I also didn't solve this problem.
Do you have any tools recommend? I have tried other methods, but the running time was too long, they do not suit large sample data.

[2020-05-07 15:33] ldgauthier opened #6589 "MultiVariantWalker sequence dictionary cross-validation is miserable"
By default MultiVariantWalker checks all contigs for all VariantDataSources for compatibility with the reference.  On hg38 this is a not insignificant time for three samples, but for 200 samples it's excruciating.  I hooked up the SequenceDictionaryValidationArgumentCollection in a branch for development purposes, but I wouldn't want to do that in production.  How can we improve this?  Certainly w

[2020-05-07 16:40] droazen commented on #6589
@ldgauthier This is why the `--disable-sequence-dictionary-validation` argument exists in `GATKTool`. If you're confident in the compatibility of your inputs, and the checks are too expensive, you can run with that option and (optionally) perform some less strict validation of your own in your `onTraversalStart()` method.

[2020-05-07 16:42] droazen commented on #6589
(You can also permanently turn the validation off for your tool by overriding the `getSequenceDictionaryValidationArgumentCollection()` method)

[2020-05-07 18:38] ldgauthier commented on #6589
We used to call this `--unsafe`, but I feel like you've just put lipstick on the pig.

Usually you're more conservative than I am, so if you're okay with this then so am I.

[2020-05-07 18:38] #6589 closed

[2020-05-07 18:59] droazen commented on #6589
@ldgauthier If you feel that you need some validation, but less strict/expensive than the default, then I'd suggest turning off the default validation, writing your own scaled-down dictionary validation routine, and calling it from `onTraversalStart()` in your tool. Then if it seems like the scaled-down validation might be generally useful, we could hook it up to the `SequenceDictionaryValidationA

[2020-05-08 03:52] davidbenjamin commented on #6586
@gbggrant Could I have a path for the bam and a minimal command line to reproduce the error?

[2020-05-08 06:44] J-Moravec opened #6590 "Handling gzipped reference genome and associated cryptic errors -- possible UI improvement?"
GATK seems to not handle gzipped reference genomes and throws quite cryptic errors instead.

This is problem given that the readily available reference genome is gzipped (see [here](ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/) and its not obvious that gzipped files cannot be handled by GATK (samtools and picard seem to handl

[2020-05-08 15:18] gbggrant commented on #6586
@davidbenjamin
The bam is at:
gs://broad-gotc-dev-cromwell-execution/ExomeGermlineSingleSample/83938362-b9b5-49f3-a65d-715065d6eabd/call-UnmappedBamToAlignedBam/UnmappedBamToAlignedBam/caa978f3-a54e-4051-b673-e10610b734db/call-GatherBamFiles/NA17-308.bam

Here's the command line:
[code]

The metadata for the workflow is at:
https://cromwell.gotc-dev.broadinstitute.org/api/workflows/1/83938362-b9b5

[2020-05-08 15:37] lbergelson commented on #6590
@J-Moravec GATK and picard should both handle the same reference files.  It typically requires not a gzipped reference, but a bgzipped reference to enable random access ( as I think samtools does as well.). You will need several auxiliary files with the reference.  You need the .fai index as well as the .gzi index.

Could you post the stack trace you're receiving as well as additional information

[2020-05-08 17:15] mwalker174 commented on #6293
@MinS1 @MengZhang2019 Would it be possible for one of you to attach a full log file? Also are you sure there is sufficient disk available? I have a feeling this may relate to temp or memory swap storage.

[2020-05-08 17:22] samuelklee opened #6591 "Update gCNV mappability track."
See https://bismap.hoffmanlab.org/.  As of March 2020, some updates have been made to the single-read mappability track.  These are probably minor, but we should update the version of the track in our resource files and do appropriate sanity checks.  Note that a manual merging of overlapping intervals was performed for that version, but should no longer be necessary.

[2020-05-08 17:24] MinS1 commented on #6293
[pathseq.log](https://github.com/broadinstitute/gatk/files/4600548/pathseq.log)
@mwalker174 The attached file is the pathseq log file.
My operating environment is Linux and I am sure the disk is available. The command line I used like below shows:
nohup /group/LiuLab/User/Smin/software/gatk-4.1.4.1/gatk PathSeqPipelineSpark --input AN00493_ba41_42_22.bam --filter-bwa-image /group/LiuLab/User/Smin/

[2020-05-09 16:20] mwalker174 commented on #6293
@MinS1 It looks like this is the root cause:
[code]
It's likely the open file limit is set too low in the environment you're using (see [article](https://www.tecmint.com/increase-set-open-file-limits-in-linux/)). This would also explain why @MengZhang2019 was able run it successfully on a different server.

[2020-05-09 16:47] sekhwal opened #6592 "How to use pipeline to call SNP and INDEL"
I am looking to call single nucleotide polymorphism (SNP) and INDEL from my genome mapping results generated from HISAT pipeline. Please suggest process and command for that.

[2020-05-09 21:07] lbergelson commented on #6592
A lot of tutorials and information are available on our support [website](https://gatk.broadinstitute.org/hc/en-us). It includes best practice guides and a forum to ask questions.

[2020-05-09 21:07] #6592 closed

[2020-05-11 03:16] davidbenjamin commented on #6586
Thanks @gbggrant!  @droazen @ldgauthier I just pushed a branch that resolves the error by simplifying the evidence-to-index cache.

[2020-05-11 12:40] isidroc commented on #6516
Same error here, any news? Thanks

[2020-05-11 14:10] gubrins commented on #5912
Heys, I would like to know what happened with this, because I get the same problem.

[2020-05-11 21:53] tmm211 opened #6596 "How to go backwards from a multi-sample vcf to get raw files for joint calling"
# Feature request

### Tool(s) or class(es) involved
HaplotypeCaller, CombineGVCFs, GenotypeGVCFs

### Description
New capability to go backward from a multi-sample vcf generated by CombineGVCFs or GenotypeGVCFs to individual gvcfs so that a user can joint-call again with another cohort.
This request came about because a [user posted on the forum](https://gatk.broadinstitute.org/hc/en-us/community

[2020-05-12 01:08] #3446 closed

[2020-05-12 01:08] #3521 closed

[2020-05-12 05:12] J-Moravec commented on #6590
@lbergelson .fai and .dict index were downloaded/created using the Picard from the gzipped genome downloaded from genbank: [here](ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/)

Picard didn't throw any error and worked with the gzipped file without problem.

When I tried to run `gatk SplitNCigarReads` (and solved all the probl

[2020-05-12 15:56] #3276 closed

[2020-05-12 16:35] jonn-smith commented on #6579
This is related to #6000

[2020-05-12 20:49] GATKSupportTeam opened #6598 "Funcotator IllegalArgumentException"
This request was created from a contribution made by Jay Singh on May 09, 2020 12:47 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360062649991-java-lang-IllegalArgumentException-Invalid-interval-Contig-chr1-start-9-end-10464

--

Can you please provide
a) GATK version used - **gatk-4.1.7.0**
b) Exact GATK commands used

**./gatk Funcotator --variant /home/deepak/software\_l

[2020-05-12 20:50] bhanugandham commented on #6598
@jonn-smith the entire stack trace is provided in the forum thread.

[2020-05-12 21:24] bhanugandham opened #6599 "Equation editor service"
Equations in this tooldocs page are showing up as invalid v4.1.7.0:
https://gatk.broadinstitute.org/hc/en-us/articles/360042912091-AS-StrandOddsRatio
The same issue in versions 4.1.6.0, 4.1.5.0 pages too.
4.1.6.0:
https://gatk.broadinstitute.org/hc/en-us/articles/360041848851-AS-StrandOddsRatio
4.1.5.0:
https://gatk.broadinstitute.org/hc/en-us/articles/360040507111-AS-StrandOddsRatio

[2020-05-12 21:26] bhanugandham opened #6600 "incorrect links in tooldocs"
If you click the link for --read-index on this tooldocs page, it redirects to the tools index instead of jumping down to the explanation of the flag https://gatk.broadinstitute.org/hc/en-us/articles/360041416652-AnnotateIntervals

[2020-05-13 13:48] EricDeveaud opened #6601 "please provide singularity recipe"
Hello,

would it be possible to provide a singularity recipe

regards

Eric

[2020-05-13 21:30] MinS1 commented on #6293
Hi @mwalker174 Thank you. I re-runned pathseq pipline for different sample based on the same server and parameters. Some are success, some are failed with the same error like before. The size of the data are similar.
I have checked my current limit of open files:
$cat /proc/sys/fs/file-max
78369196
I think itis enough for running one sample. Finally, I didn't solve this problem.

[2020-05-14 01:46] xiucz opened #6603 "[Mutect2] How to emit only one alt allele,not multi-allele?"
Hi ,
The parameter `--max-alternate-alleles` seems no longer in the new version gatk4.1.7.0...How can I get only one alt allele in the vcf, or how to filter it?

Thank you,
Xiucz

[2020-05-14 05:19] JaeYJung commented on #3708
Is there any update for this issue? I'm asking as AWS moved to NIO v2 late 2018 and htslib supports direct S3 access.

[2020-05-14 15:12] javad30 opened #6604 "GATK error"
I am trying to do SNPs call using GATK but I am getting below error. Any idea how can I solve this error?

(base) glier_ubuntu@glierubuntu-Precision-7920-Tower:/media/glier_ubuntu/4TB/Javad_Final/7gatk/ScriptforSNP$ call_snps_gatk_firstpass.sh 6 '/media/glier_ubuntu/4TB/Javad_Final/5-trinity/Fastajavad_Trinity/Trinity.fasta' '/media/glier_ubuntu/4TB/Javad_Final/6bwa/2/filtered_merged.bam'
Using GA

[2020-05-14 15:16] lbergelson commented on #6604
@javad30 Hi, it looks like you're running a gatk built for java 8 with java 11.  Pre-built gatk jars only support java 8.  Could you install openjdk 8 and try again?

[2020-05-14 15:25] lbergelson commented on #3708
We haven't done any work on it ourselves, but there are a few different solutions mentioned here:

https://github.com/Upplication/Amazon-S3-FileSystem-NIO2/issues/103

The laserson lab fork might work.

We've also recently added beta support for reading directly from https paths, so if you get an S3 signed url you should be able to read from it.  (It's not totally robust yet but improvements are c

[2020-05-14 15:42] lbergelson commented on #6293
@MinS1 That's the system max files limit, but is it possible there's a lower per-user max?

[2020-05-15 00:13] javad30 commented on #6604
It did work. Thank you so much for your help.

[2020-05-15 14:59] DanielAmsel opened #6605 "Mutect2 IndexOutOfBoundException 4.1.7.0"
## Bug Report

### Affected tool(s) or class(es)
mutect2

### Affected version(s)
4.1.7.0

### Description
I several times now observed an IndexOutOfBoundException in Mutect2.
Seems to be file specific.
I run this in nextflow 19.10.0

I am open for hints.
Kind regards!

[code]

[2020-05-15 15:08] lbergelson commented on #6604
Yay!

[2020-05-15 15:08] #6604 closed

[2020-05-15 15:30] droazen commented on #6605
@davidbenjamin @takutosato A possible Mutect2 bug for you

[2020-05-15 22:19] bbimber commented on #6557
Hello,

We've been looking further at GenomicsDB workspaces.  Again, we're planning to create them scattered, with one job per interval.  Our workspaces would be somewhat long-lived.  So far as I can tell, the guts of a GenomicsDB workspace has one folder per contig anyway.  Is there a reasonable way to merge multiple workspaces together?  When working with Combined gVCFs files this merge operatio

[2020-05-16 13:53] DanielAmsel commented on #6605
Hi, so when I run the tool without the gnomAD reference, everything seems to work.
Let me know if I can be of help or if you have any hints for solving the problem.
Kind regards,
Daniel

[2020-05-17 01:11] davidbenjamin commented on #6605
@DanielAmsel Are you using an AF-only gnomAD VCF from the GATK best practices google bucket (gs://gatk-best-practices/somatic-b37/af-only-gnomad.raw.sites.vcf for hg19/b37 and gs://gatk-best-practices/somatic-hg38/af-only-gnomad.hg38.vcf.gz for hg38)?

[2020-05-17 14:46] DanielAmsel commented on #6605
Hi @davidbenjamin, thank you very much for clarification. I used a different VCF file (gnomad.genomes.r2.1.sites.INFO_ANNOTATIONS_FIXED.vcf.bgz)  in combination with the Broad hg19 genome: `ftp://ftp.broadinstitute.org/pub/seq/references/Homo_sapiens_assembly19.fasta`

Now everything works perfectly fine for me.
Thank you very much again!

[2020-05-17 14:46] #6605 closed

[2020-05-18 01:28] davidbenjamin commented on #6603
`FilterMutectCalls` has always and continues to filter multiallelics by default, except in mitochondria mode.  You may adjust this with the `max-alt-allele-count` argument.  `-max-alternate-alleles` is a `HaplotypeCaller` argument that appeared in `Mutect2` due to excess inheritance in the class hierarchy.  I don't believe it ever had any effect in `Mutect2`.

[2020-05-18 01:28] #6603 closed

[2020-05-18 09:09] xiucz commented on #6603
I see the `max-alt-allele-count` argument in `FilterMutectCalls ` now. But maybe it is used to filter the multiallele sites.

Sometimes, when I want to force call some cosmic hotspot sites in Mutect2 `GGA` mode,  this parameter may be helpful.

Thank you.

[2020-05-18 12:07] apfuentes commented on #5582
Hey @jemunro,

Thanks for sharing your fix. I tried it on my data but now I have this ERROR message:
[code]
Would not be enough to use this code instead?:
[code]

[2020-05-18 12:09] cmnbroad commented on #6325
Closed via https://github.com/broadinstitute/gatk/pull/5026.

[2020-05-18 12:09] #6325 closed

[2020-05-18 12:13] cmnbroad commented on #5839
Done long ago https://github.com/broadinstitute/gatk/pull/6305.

[2020-05-18 12:13] #5839 closed

[2020-05-18 12:19] cmnbroad commented on #4480
This will be fixed when https://github.com/broadinstitute/gatk/pull/4523 is merged.

[2020-05-18 12:20] davidbenjamin commented on #6603
We're moving in a direction where `FilterMutectCalls` can decide which alleles in a multiallelic site to keep, but because multiple alleles are such a strong signal for filtering I don't think we would want `Mutect2` to silently drop alleles, except those that are obvious sequencing errors as in the current case.  This `HaplotypeCaller` argument isn't anything principled; rather it keeps down comp

[2020-05-18 12:32] cmnbroad commented on #3669
This has been fixed for quite a while. Its the test PR that was controversial.

[2020-05-18 12:32] #3669 closed

[2020-05-18 13:38] ldgauthier commented on #6557
Hopefully @nalinigans or Melvin can answer this.  It may be the case that it's possible, but unsupported.

[2020-05-18 14:34] ldgauthier commented on #6601
Hi Eric,

The only parallelism implementations we support are local Spark and Google Cloud.  Our group has no experience with Singularity.  You may have some luck asking other users on the forum: https://gatk.broadinstitute.org/hc/en-us/community/topics

[2020-05-18 14:34] #6601 closed

[2020-05-18 15:14] lbergelson commented on #6601
@EricDeveaud  A singularity recipe would be great but we don't have anyone here with expertise to do it.  We're open to taking a pull request!

[2020-05-19 04:34] mlathara commented on #6557
Hi @bbimber

So regarding this first question:

You can try to pull together each of the contig folders under a single workspace. You just need a single copy of the callset.json, vidmap.json, vcfheader.vcf, and __tiledb_workspace.tdb in the merged workspace. As @ldgauthier suggests, it falls under the "probably works but unsupported umbrella".

I can't quite be sure, but the last part of your comm

[2020-05-19 06:41] bbimber commented on #6557
@mlathara Thanks for the reply.  The reason I'm very interested in this is scatter/gather, so in our use-case, the inputs would be identical.  Like you say, this would essentially be X jobs initiated with the same command, just different intervals. Merging all the resulting per-contig workspaces back into one workspace has a lot of logistical appeal, and the resulting folder would still be a valid

[2020-05-19 15:26] cmnbroad opened #6610 "Remaining GATKPath migration TODOs"
In addition to migrating the remaining tool input and output args, there are few miscellaneous packages, tools and utilities that need additional work:
- [ ] Rename `GATKPathSpecifier` to `GATKPath`
- [ ] Add `GATKPath` methods for isDirectory, isReadOnly, resolve sibling, resolve child
- [ ] Fix GenomicsDB URL handling/utils (move isGenomicsDB to GATKPathSpecifier)
- [ ] GATKSparkTool still uses

[2020-05-19 17:25] lbergelson commented on #6610
I think `isDirectory` is always going to be problematic since the notion of directories is not universal to all file systems.  Maybe `canContainSubpaths` or something like that more closely captures it.  Also, I would add `getExtension` and `getFilename` in addition since those are super common.

[2020-05-19 20:51] cmnbroad commented on #6610
`getExtension` and `getFilename` are included in https://github.com/broadinstitute/gatk/pull/6561 (as `getExtension` and `getBaseName`), so I left them out of this list.

[2020-05-20 10:04] DCarbonez commented on #5690
This issue also pops up during FilterAlignmentArtifacts in GATK 4.1.7.0 (experimental)

[code]

[2020-05-20 13:24] lbergelson commented on #5690
@DCarbonez Thanks for reporting.  A team from intel has recently started looking into some GKL issues.  I've forwarded your stack trace to them.  Is this a reproducible error?  Can you provide any additional information about your system that might help debug?

[2020-05-21 20:08] ldgauthier commented on #6596
I'm pretty sure that GATK 3.5 is from when we were still using the median of MQ scores rather than summing up the squared MQs and then taking the square root of the average when we're all done, as we do now.  In that case, those GVCFs aren't truly compatible with GATK 3.7 and beyond.

I would never want to output individual GVCFs made from a cohort GVCF because the per-sample annotations will be i

[2020-05-23 19:57] Neato-Nick opened #6615 "Tools shown with tab-complete but do not exist/are unavailable"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-05-24 20:21] lbergelson commented on #6615
Cool, someone is actually using the tab complete!  @Neato-Nick Thanks for reporting this.  It looks like it's picking up names of GenotypeAnnotations as program names for some reason...
@jonn-smith This looks like a you question...

[2020-05-26 08:27] MarleyCodes commented on #6516
Same error in HaplotypeCaller 4.1.7.0:

18:59:34.948 INFO  VectorLoglessPairHMM - Time spent in setup for JNI call : 1.514351728
18:59:34.948 INFO  PairHMM - Total compute time in PairHMM computeLogLikelihoods() : 887.7367702070001
18:59:34.948 INFO  SmithWatermanAligner - Total compute time in java Smith-Waterman : 2117.34 sec
18:59:34.948 INFO  HaplotypeCaller - Shutting down engine
[May 25, 202

[2020-05-26 12:26] cmnbroad commented on #6615
It looks like it picks up everything that is tagged for doc. The tab completion doclet just needs to filter based on the presence of the `CommandLineProgramProperties` annotation.

[2020-05-26 13:11] #6586 closed

[2020-05-26 13:34] cmnbroad commented on #6615
Ah, I just tried to fix this, and although the change itself is easy (in Barclay), it has an unfortunate side effect on the tab completion tests. The Barclay test class/argument container has an "extradocs" companion reference that is not a CLP. This change now filters that companion out when running the tab completion doclet. But that triggers a guard in docgen that throws if a class that is targ

[2020-05-26 14:14] jonn-smith commented on #6615
@cmnbroad That works for me.  Looks like you have already tracked down the source.

[2020-05-27 02:06] hsiaoyi0504 commented on #6529
I met the same error when trying to create vcf files for PoN.

[2020-05-27 02:28] NTNguyen13 commented on #6573
@asmirnov239 hi, is there any solution to this problem yet? Thank you

[2020-05-27 07:53] wdermauw opened #6616 "ERROR: Couldn't create GenomicsDBFeatureReader"
Hi

After creating a GenomicsDB with 36 gvcf withGenomicsDBimport, I used GEnotypeGVCF on the GenomicsDB folder but get the following error: "ERROR: Couldn't create GenomicsDBFeatureReader". See below for the complete output.

FYI, I don't get this error when importing only six samples in GenomicsDB and then running GenotypeGVCF.

FYI, also added "TILEDB_DISABLE_FILE_LOCKING=1" to environment (exp

[2020-05-27 14:46] droazen commented on #6616
@nalinigans @mlathara your thoughts on this issue?

@wdermauw Did you confirm prior to the failed `GenotypeGVCFs` run that the `ABchroneALL` directory existed in the working directory, was readable, non-empty, etc.? The error you are getting is a very generic I/O error, so it's difficult to diagnose the problem without a bit more information.

[2020-05-27 14:59] bbimber opened #6617 "DepthOfCoverage docs?"
It's great to see DepthOfCoverge ported to GATK4, but I noticed this line in the tool's doc: "Additionally, reads and bases can be filtered by mapping or base quality score."  I see that you can filter on base quality, but not mapping.  In GATK3, there was a -mmq argument, which doesnt seem to be in GATK4. Is there a different way to accomplish filtering on mapping quality (something with read fil

[2020-05-27 15:46] cmnbroad commented on #5559
It should be possible to do this now, though tests need to be added.

[2020-05-27 15:47] jamesemery commented on #6617
Hello @bbimber thank you for the response. I would recommend using the read filters (in your case `-rf MappingQualityReadFilter --minimum-mapping-quality ##` to achieve the same functionality as the `-mmq` argument from GATK3. When porting over the tool we tried to push as much functionality into from obscure arguments into the existing filtering framework as possible and `-mmq` was one of the one

[2020-05-27 16:05] asmirnov239 commented on #6573
@NTNguyen13 Yes, I just merged the PR that fixes it https://github.com/broadinstitute/gatk/pull/6613 so it will be available in the next release. Thank you again for bringing this up.

[2020-05-27 16:05] asmirnov239 commented on #6573
Closed by  #6613

[2020-05-27 16:05] #6573 closed

[2020-05-27 16:30] bbimber commented on #6617
OK.  Another thing: since in GATK4 it inherits from LocusWalkerByInterval, -L is now required.  the usage examples still say -L is optional.

Tangentially is there a shortcut way to say pass "all intervals in the genome" to GATK?  Can one pass the genome's DICT file or something like this?  Certainly it's not that hard to convert a .dict file to an interval list, but not automatic.

[2020-05-27 17:15] bbimber opened #6620 "GenomicsDB Scatter/Subsetting"
Hello - I'm not sure if you want me using issues for feedback, but i thought I'd pass this along.  In another thread we discussed how to possibly do scatter/gather processing of GenomicsDB workspaces. The general idea is that we want to have long-lived workspaces to which we will repeatedly add more samples. Executing this append would be a lot more convenient to do scattered over intervals. Since

[2020-05-27 17:36] droazen commented on #6620
@nalinigans @mlathara Is this an approach we could officially test and endorse? Do you foresee any technical issues with this approach with the current release of GenomicsDB?

[2020-05-27 17:42] mlathara commented on #6616
@wdermauw Can you paste the contents of `/data/xxxxxx/ABchroneALL/callset.json`. This error seems to suggest something is amiss with that...maybe one of the sample names was somehow mangled...

[code]

[2020-05-27 18:02] Neato-Nick commented on #6615
Yeah, it's really handy for when I can almost remember what a tool's name is but can't quite get there. It asks for more patience than what I'm used to w/tab-completes (takes 5-10 secs instead of instant return), but still much faster than `gatk -list` and digging for the right one

[2020-05-27 18:49] cmnbroad commented on #6610
Added `GATKPath.toHadoopPath` method to the list that returns a org.apache.hadoop.fs.Path.

[2020-05-27 23:09] bbimber opened #6621 "DepthOfCoverage logger"
Hello,

We've been using GATK4 DepthOfCoverage.  I noticed this:

log4j:WARN No appenders could be found for logger (org.broadinstitute.hellbender.tools.walkers.coverage.DepthOfCoverage).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

I noticed that DepthOfCoverage defines its own logger on line 84:

priv

[2020-05-28 03:52] mlathara commented on #6620
@bbimber question for you - what is the primary motivation for wanting to merge the scattered workspaces back into a single workspace here? I'm assuming the scatter is because you have a large enough dataset that you need multiple nodes to run the import in parallel. (side note: we're planning on enabling reading vcfs through native htslib in GenomicsDBImport which should drive down memory usage f

[2020-05-28 11:13] wdermauw commented on #6616
@mlathara @droazen
thank you for the quick reply...

i checked the callset.json and you are correct, sample names were somehow mingled...my sincere apologies

after the mapping/variant calling (using a pipeline), I noticed that two g.vcf.gz files had a space in their filename. I removed the space in the file name (X g.vcf.gz->X.g.vcf.gz) and continued with GenomicsDB, but apparently, GenomicsDb ex

[2020-05-28 13:07] bbimber commented on #6620
@mlathara Our primary use case involves calling variants on a constantly growing large dataset of WGS and WXS data. As you probably realize, the CombineGVCFs/GenomicsDBImport step is incredibly time consuming, and scatter/gather is pretty much essential to make these operations work in any halfway reasonable period of time. I have off-hand heard people from the broad mention large WXS datasets, an

[2020-05-28 14:55] samuelklee commented on #6621
Thanks for catching this, @bbimber! I've opened a PR to address it.

[2020-05-28 16:42] #6621 closed

[2020-05-28 17:35] droazen commented on #6616
Closing as resolved

[2020-05-28 17:35] #6616 closed

[2020-05-28 18:32] bbimber opened #6623 "Another DepthOfCoverage Comment"
One more DepthOfCoverage observation.  The GATK4 version let's one control the delimiter in the output, which seems like a useful idea.  However:

1) this isnt that big a deal, but why change the GATK3 default of tab to comma in GATK4?

2) The enum is named CSV and TABLE.  Why not rename 'TABLE' to 'TSV' to make it more clear? A comma-delimited table is still a table.  This is a beta tool now, and

[2020-05-29 07:16] a1043710306 commented on #5447
"D:\Program Files\Java\jdk1.8.0_121\bin\java.exe" -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:62530,suspend=y,server=n -XX:TieredStopAtLevel=1 -noverify -Dspring.output.ansi.enabled=always -Dcom.sun.management.jmxremote -Dspring.jmx.enabled=true -Dspring.liveBeansView.mbeanDomain -Dspring.application.admin.enabled=true -javaagent:C:\Users\Sweet\AppData\Local\JetBrains\IntelliJIdea2020.1\c

[2020-05-29 17:59] lbergelson commented on #5881
@jamesemery This seems to be striking everywhere now.  Any further thoughts?

[2020-05-29 20:46] lbergelson commented on #5881
Further investigation:

This seems to be cause by the fact that when reading part's files Hadoop does not order them by filename.  Instead they are ordered by whatever order the file system happens to return them in which is explicitly NOT sorted.

The root cause can be seen in `FileInputFormat.listStatus()` which calls `singleThreadedListStatus` in one of it's branches to get a list of input file

[2020-05-30 02:31] gaze-abyss opened #6627 "Cannot lock consolidation filelock; Cannot lock."
Hello,
When I use GenomicsDBImport and GenotypeGVCFs , I get the following error: Couldn't create GenomicsDBFeatureReader, I have no problem with running CombineGVCFs with CombineGVCFs.

I reference #6616 , but I think we have different errors, And I checked my environment variable, the parameter is displayed as ' declare -x TILEDB_DISABLE_FILE_LOCKING="1" '.

Hope you can give me some help, thank

[2020-05-31 18:40] gkanogiannis commented on #5582
Hi apfuentes,

jemunro has done a small typo, the correct is `sed 's/=nan\([;\t]\)/=NaN\1/g'`, but your solution also works ;)

[2020-06-01 16:12] zhpn1024 opened #6629 "Adding more samples into existing GenomicsDB"
For GVCFs, is there a way to add more samples in to an existing DB, so that we do not need to run GenomicsDBImport again for samples already imported?
Alternatively, is there a way to merge two or more existing GenomicsDBs?

[2020-06-01 18:10] mlathara commented on #6629
Sounds like you're asking about merging GenomicsDBs with different samples, as a different route to do incremental import. (as opposed to merging different workspaces with the same samples, but different genomic intervals)

No, this is not supported.

[2020-06-01 22:16] nalinigans commented on #6627
Would it be possible to explicitly set TILEDB_DISABLE_FILE_LOCKING=1 before trying `gatk GenotypeGVFs` from the command line and see if that helps? For example:
[code]

[2020-06-02 01:04] zhpn1024 commented on #6629
Yes, merging GenomicsDBs with different samples in the same region. I think it may be more efficient with parallel processing for large samples. Is it possible to add the function?

[2020-06-02 01:53] gaze-abyss commented on #6627
thank you for your reply，I tried this method, but it doesn't work. In fact, My environment setting is already: declare -x TILEDB_DISABLE_FILE_LOCKING="1".

[2020-06-02 02:49] nalinigans commented on #6627
For some reason, the environment variable is not getting passed to GenomicsDB at all. To help debug the issue, can you do the following and see if any consolidation lock is created at all?
[code]
Also, what type of Posix filesystem is your GenomicsDB workspace? Is it NFS or Lustre? How is file locking configured on the system?

[2020-06-02 02:56] mlathara commented on #6629
Can you elaborate on your use case where it makes more sense to parallelize over groups of samples rather than genomic intervals? If you're worried about the memory usage or open file handles during GenomicsDBImport due to large number of samples, you can alleviate this by using the `--batch-size` parameter. But I'm guessing you're asking about the query step instead?

Fwiw, there's been discussio

[2020-06-02 03:15] GATKSupportTeam opened #6630 "Create separate ValidateVariants validation that go beyond vcf specs"
This request was created from a contribution made by ABours on May 29, 2020 18:23 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360067695771-GenotypeGvcfs-has-formatting-issues-in-both-v4-1-6-0-as-v4-1-7-0

--

Hi,

I'm using v4.1.6.0 of GenotypeGvcfs to make a vcf, out of whole genome data from 19 samples (following your recommendations). When I run ValidateVariants to chec

[2020-06-02 03:18] bhanugandham commented on #6630
As discussed during GATK office hrs, we need to improve ValidateVariants message to say this is not a invalid vcf.
**Solution**: separate validation argument that goes beyond vcf specs.

[2020-06-02 03:25] GATKSupportTeam opened #6631 "variants processed metric not initialized properly"
This request was created from a contribution made by danilovkiri on May 07, 2020 15:54 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360062628652-GATK-4-1-7-0-VariantAnnotator-Processing-Speed-Drop

--

GATK 4.1.7.0 VariantAnnotator processing speed rapidly decreases over time. Running with single-sample VCF file obtained from GenotypeGVCFs. No other tools were executed duri

[2020-06-02 10:11] ericblanc20 commented on #6516
Same error here, affecting mutect2 (gatk 4.1.7.0) in normal-tumor pair mode.

Thanks

[2020-06-02 14:27] gaze-abyss commented on #6627
Thank you nalinigans.I want to confirm that 'genomicsdb_workspace’ is the result of GenomicsDBImport like

-[4.0K] chr22$1$50818468
|-[4.0K] __3d7b0c29-9d8b-4748-a08a-c1e0a9136cf647572466251520_1590412882146
||-[133K] AD.tdb
||-[ 54K] AD_var.tdb
||-[3.2M] ALT.tdb
||-[ 77K] ALT_var.tdb
||-[ 85K] BaseQRankSum.tdb
||-[192K] __book_keeping.tdb.gz
||-[4.1M] __coords.tdb
||-[1011K] DP_FORMAT.tdb
||-[114

[2020-06-02 16:17] zhpn1024 commented on #6629
I'll try the --batch-size option.
I also use genomic intervals, but only based on the large N gaps. Arbitrary intervals may have problems at interval junctions. There are still ~100M large intervals. So parallelize over groups of samples becomes a good choice.
I suppose importing GVCF data into GenomicsDB takes much more time than merging two or more DBs, which may only need copy operations. In ad

[2020-06-02 18:35] nalinigans commented on #6627
`.__consolidation_lock` is a hidden file... Can you please run the following commands and post the results?
[code]

[2020-06-03 02:13] gaze-abyss commented on #6627
Only the second of the three commands has a result:

[2020-06-04 21:59] ttbek opened #6639 "Unclear Documentation"
## Documentation request

### Tool(s) or class(es) involved
Almost all of them.

### Description
A sane argument format syntax.

Take -L, obviously you give it something like 1:1-5 right?  Wrong.  If you actually read the documentation, that isn't obvious at all, it says:
List[String]  []
Great... so what is that?  Yeah, it's the Java type or something right?  That's what you're putting in end use

[2020-06-05 17:05] lbergelson opened #6640 "Re-enable htsget tests once the server problems are fixed"
Some issues with the ga4gh htsget reference server have come up while the current htsget integration branch has been in development.  A a server update is causing the previously passing tests to begin to fail.  We need to re-enable them once the server is back on stable footing.

[2020-06-06 13:12] mwiewior opened #6642 "Too many open files when running PileupSpark on a WES sample"
Hello,
I'm trying to run SparkPileup from the most recent GATK 4.1.7 on a WES sample like this:

gatk PileupSpark --spark-runner SPARK --spark-master local[{threads}] --conf "spark.driver.memory=22g"  -I $DATA/NA12878.proper.wes.md.bam -R $DATA/Homo_sapiens_assembly18.fasta -O /tmp/gatk4s_{threads}.pileup'

mwiewior@Mareks-MacBook-Pro ~ % spark-submit --version
Welcome to
      ____              _

[2020-06-06 13:53] mwiewior commented on #6642
Mayby it is related to #6578 ? However, I tested versrions: 4.1.7, 4.1.6 4.1.5, 4.1.4.1 and the problem persists together with spark 2.4.3 and spark 2.4.5.

[2020-06-07 19:18] mwiewior commented on #6642
The proposed PR doesn't fix the problem completely. When running local[1] it fails with the same error(too many open files) after finishing ~400/555 partitions - without the fix it failed after ~25. When running in parallel(local[n], n>1) it starts hanging after processing around ~40 partitions.

[2020-06-08 02:15] knight2015 opened #6644 "NoClassDefFoundError: scala/Product$class"
I run the GATK MarkDuplicates in Spark mode and it throws an
**NoClassDefFoundError: scala/Product$class**. The GATK version is **4.1.7** and
**4.0.0**,the environment is: **spark-3.0.0**, **scala-2.12.11**

**GATK commands:**

[code]
**error logs:**

[code]

[2020-06-08 13:00] cmnbroad opened #6645 "Equations that are embedded in gatk doc should be statically generated"
A couple of places in the GATK doc rely on an external web service (http://latex.codecogs.com) to generate equation images. It would be more reliable to generate these statically and embed them in doc bundle. The process would need to work for both javadoc and gatkdoc.

[2020-06-08 15:27] lbergelson commented on #6644
@knight2015 I'm sorry to say we don't support spark 3.0.0 a the moment.  If you have access to a spark 2.4.x cluster I would try that.

[2020-06-08 15:46] droazen commented on #6631
@bhanugandham Based on our understanding of the code, we could not get the progress meter output we see here without there being actual variant records in the first 5 million bases of chr21. To debug this further, we'd need to inspect the user's actual `--variant` input (`barcode.raw21-22.vcf.gz`)

[2020-06-08 15:49] droazen commented on #6630
@bhanugandham To get around this issue, the user can run `ValidateVariants` with the `--validation-type-to-exclude ALLELES` argument.

[2020-06-08 15:49] droazen commented on #6630
Closing as resolved

[2020-06-08 15:49] #6630 closed

[2020-06-08 15:58] jamesemery commented on #6623
@bbimber Thank you for your comment. In response to 1 this is a minor oversight, you are welcome to submit a PR to change that default back if you think it is important.
As for 2, that was GATK3 logic (which I think was intending to reflect Rtable file formatting) to keep the names as they are. You are welcome to submit a PR changing that argument though there is reason to preserve continuity with

[2020-06-08 15:59] droazen commented on #6596
Closing based on @ldgauthier 's comment above that there's no way to go backwards from cohort to individual GVCFs without producing invalid annotations.

[2020-06-08 15:59] #6596 closed

[2020-06-08 16:00] jamesemery commented on #6617
@bbimber can you open another ticket for your comment about -L? That is a reasonable complaint about the tool usability that would be worth addressing and we should make another issue to track this.

[2020-06-08 16:00] #6617 closed

[2020-06-08 17:13] mlathara commented on #6620
Hi @bbimber -- just circling back here. We're considering if there's a useful addition to the tool that can be made here.

Can you state again what you see as the benefits of a merged workspace? Said another way, if there's enough data to require multiple/distributed workspaces for import, how are you using the workspaces such that a merged workspace makes more sense than a distributed one?

[2020-06-08 17:48] bbimber commented on #6623
Thanks - neither of these are really that big a problem

[2020-06-08 17:48] #6623 closed

[2020-06-08 17:51] bbimber opened #6648 "DepthOfCoverage now requires intervals, while GATK3 did not"
@jamesemery This is related to #6617.  We've been using GATK4 DepthOfCoverage, and noticed that since it inherits from LocusWalkerByInterval, -L is now required. To this point:

1) the usage examples still say -L is optional, at minimum this should be updated.

2) It would be nice if it was not required.  Perhaps if omitted, all intervals (inferred from genome) would be used?

3) Alternately, perh

[2020-06-08 17:59] bbimber commented on #6620
@mlathara :

1) I would argue there is value in leaving the ending data as a valid file format. In theory a growing number of tools will be able to interpret GenomicsDB data.  In contrast, if the end product is a random set of directories, there is basically no possibility any standard tools can operate on it, without custom work.

2) In principle, one could want to create and process a workspace

[2020-06-08 18:16] cmnbroad opened #6649 "Segmentation violation on travis on Java 11"
I hit this same segmentation violation issue on 4 separate branches on travis today (I believe in each case only the Java 11 unit test job failed - the rest of the matrix succeeded). It seems to be intermittent since, so far rerunning the job seems to make it go away.

[code]

Entire log is attached.
[java11segv.txt](https://github.com/broadinstitute/gatk/files/4747769/java11segv.txt)

[2020-06-08 18:18] mlathara commented on #6620
1. Why can't standard tools operate on the distributed workspaces? You could run `GenotypeGVCFs` on these workspaces in a distributed fashion and then concatenate the results together if you want. I think you were initially considering this route - and still think it would be more performant.

2. Again, you can process/query a whatever set of intervals you want -- in a distributed fashion, right?

[2020-06-08 18:29] samuelklee commented on #6649
Hmm, I thought I fixed this #5026?  Perhaps see https://github.com/broadinstitute/gatk/pull/5026#issuecomment-607596205 for hints?

[2020-06-08 19:06] mlathara commented on #6620
I should say the other reason I'm poking at this is because we are considering other ways to enable parallelized imports across nodes, which would write to a single workspace. You'd need a shared filesystem visible across all nodes, of course. That would remove the need to merge workspaces.

Since a lot of the discussion here has been around merging workspaces with different interval lists, I'm tr

[2020-06-08 20:24] cmnbroad commented on #6649
@samuelklee Yeah, you did [see this there](https://github.com/broadinstitute/gatk/issues/6513#issuecomment-602077546) (as well as the concurrent modification exception).

[2020-06-08 20:39] samuelklee commented on #6649
Right, I thought I resolved it by removing the use of the DataProvider in that PR. And I thought I removed the SkipException as well? Are your branches rebased (sorry, can’t check easily now)?

[2020-06-08 20:46] GATKSupportTeam opened #6650 "AnalyzeCovariates Rscript error"
This request was created from a contribution made by Lucas Kopecky Bobadilla on June 05, 2020 15:53 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360067974992-AnalyzeCovariates

--

 

Hello I am using the current 4.17 GATK version and I am trying to run AnalyzeCovariates. I ran the baserecalibrator to get the table file to run AnalyzeCovariates but I am getting this followi

[2020-06-08 20:47] bhanugandham commented on #6650
User solved this issue by changing the line 16 in the Rscript from:

data <- read.csv(args[1])
to
data <- read.csv(args[1], stringsAsFactors = TRUE)

Can we make this change in our code?

[2020-06-08 20:51] cmnbroad commented on #6649
Yeah, the branches are all rebased on current code, and one of the cases where I saw it this morning was right on master on travis. I'm not sure exactly which test/data provider change you think may have fixed it - could someone maybe have reintroduced it in the same place or elsewhere ?

[2020-06-08 20:54] bbimber commented on #6620
1) sure, different parallelization might change the thinking. As I pointed out in a different thread, if your recommendation is still to copy the workspace prior to merging/appending to it, then the distributed processing still means copying the original, and to my thinking copying each contig's folder into a new workspace, vs. copying each contig into the same workspace is basically the same over

[2020-06-08 21:15] samuelklee commented on #6649
I'm not sure how you're getting

`Gradle suite > Gradle test > org.broadinstitute.hellbender.utils.pairhmm.VectorPairHMMUnitTest > testLikelihoodsFromHaplotypesForAvailableImplementations SKIPPED`

from master---I thought I changed the SkipException to a warning in #5026?  I could be missing something, though.

See https://github.com/broadinstitute/gatk/pull/5026#issuecomment-607332088 and https:/

[2020-06-08 21:21] GATKSupportTeam opened #6651 "Funcotator Exception: String index out of range"
This request was created from a contribution made by Mark Godek on May 28, 2020 12:43 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360067471451-Funcotator-cannot-complete-funcotaion-for-variant-due-to-alternate-allele

--

I'm attempting to annotate germline variants after VQSR with Funcotator using GATK 4.1.4.1.

GATK command is:

gatk Funcotator \
-R ${REFERENCE\_GENOME}

[2020-06-08 22:50] bhanugandham commented on #6639
@ttbek I see you point and thank you for bringing this up. Based on your feedback we are going to create an article to better explain common GATK file types and input file formats. Sorry about the inconvenience and please continue to share your valuable feedback with us.

[2020-06-09 05:28] mlathara commented on #6620
We recommend backing up data just because it is the "cleanest" way to roll back. If backing up data is really such a pain point, you could skip doing that. Just back up the callset.json file, and don't turn on `--consolidate` when you're doing incremental import. If a failure happens, just roll back the callset.json and re-do the import. The downside is that the failed import will hang around and

[2020-06-09 06:14] knight2015 commented on #6644
@lbergelson Thanks for your answer, and by the way , is there any schedule for supporting spark 3.0.0 ?

[2020-06-09 07:28] zhpn1024 commented on #6519
I also encounter this error when most samples have been imported. I ran importing in batches '--batch-size 50 --consolidate '. The error occured at the last batch. Can I reuse some of the imported data files or have to rerun the whole importing again?

[2020-06-09 07:31] zhpn1024 commented on #6519
...
13:13:26.069 INFO  GenomicsDBImport - Done importing batch 21/22
13:13:26.069 INFO  GenomicsDBImport - Starting batch input file preload
13:13:27.440 INFO  GenomicsDBImport - Finished batch preload
13:13:27.440 INFO  GenomicsDBImport - Importing batch 22 with 22 samples
[TileDB::Buffer] Error: Cannot read from buffer; End of buffer reached.
[TileDB::BookKeeping] Error: Cannot load book-keeping

[2020-06-09 12:34] cmnbroad commented on #6649
Oh yeah, I see, that is strange.

[2020-06-09 12:39] cmnbroad commented on #2382
Fixed by several PRs, with a test in #6618.

[2020-06-09 12:39] #2382 closed

[2020-06-09 14:14] lbergelson commented on #6644
@knight2015 There's no specific schedule.  The hope is to switch to spark 3.0.0 soon after it's officially released but it depends on some other factors like google cloud dataproc supporting 3.0 images.  We're still essentially using the spark 1.x RDD API so as far as I can tell there isn't a ton of stuff coming that is going to be a big benefit to gatk in spark 3 (other than the official java 11+

[2020-06-09 14:14] #6644 closed

[2020-06-09 17:41] bbimber commented on #6620
@mlathara I think we're talking a bit in circles.  The main use case I foresee for a generic split/merge tool would be to allow parallelized processing.  I cant say there wouldnt be other uses I'm not seeing now (in the VCF world, SelectVariants is an extremely useful tool), but i dont have a specific use-case for GenomicsDB subsetting today beyond this.

I would point out this rapidly gets into s

[2020-06-09 19:31] mlathara commented on #6620
Agreed that it would be nice if we abstract away the manner in which import tasks get distributed across multiple nodes. At this point, we're not considering adding a tool that supports that. Sure, we could probably look at Spark or something, but it
a) is a heavier lift
b) would probably involve assumptions about user infrastructure

I'm reluctant to support generic split/merge because then we'd

[2020-06-09 20:04] bbimber commented on #6620
The proposal for a more officially support scatter/gather seems in theory OK to me.   I was not proposing GATK make a scheduler and was agreeing that is problematic/difficult for you to realistically do that. I would tend to strongly favor keeping those more separate

[2020-06-09 23:26] ttbek commented on #6639
Awesome!  I am a bit more concerned about uncommon GATK filetypes than common ones though.  In the sense that at least for common ones I will find an example somewhere if I Google long enough, maybe not for a more rare case.

I did find another (much smaller) documentation (article in this case) problem, should it be dealt with here or should I create a new issue?  There are cases on the site wher

[2020-06-11 14:19] marionamujal commented on #2199
I have a similar issue with BaseRecalibator; i get the error message below; when I run the script below.
A USER ERROR has occurred: Invalid argument 'UGTB015-pe.sorted.marked_duplicates.bam'.
***********************************************************************
org.broadinstitute.barclay.argparser.CommandLineException: Invalid argument 'UGTB015-pe.sorted.marked_duplicates.bam'.
        at org.br

[2020-06-11 19:39] wir963 opened #6655 "Support for UMIs in PathSeq"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-06-12 11:50] amizeranschi commented on #6548
Hi! It would be great to see this issue addressed, as the error message that is generated is quite cryptic.

[2020-06-12 19:43] asmirnov239 commented on #5852
Closed by #6559

[2020-06-12 19:43] #5852 closed

[2020-06-12 23:47] jimhavrilla opened #6656 "Using miniconda3, cannot create environment as instructed"
## Bug Report

### Affected tool(s) or class(es)
all tools, I would assume.

### Affected version(s)
- [x] Latest public release version [version 4.1.7.0]

### Description
[code]
#### Steps to reproduce
Install a fresh miniconda3 install on Linux.  Then run:
[code]

#### Expected behavior
The conda environment should just work.

#### Actual behavior
[code]
----

## Feature request

### Tool(s) or

[2020-06-13 00:02] jimhavrilla commented on #6656
##Update:

###A (broad institute forum post)[https://gatk.broadinstitute.org/hc/en-us/community/posts/360061666671/comments/360010377231] gave the solution:

####If you paste this text into the `gatkcondaenv.yaml file`:

[code]

It seems to successfully create the environment.

[2020-06-13 02:08] samuelklee commented on #6656
Hi @jimhavrilla, glad you found the forum post helpful! These updates were indeed made in a recent PR (#5026), but they haven’t been officially released yet.

[2020-06-13 02:08] #6656 closed

[2020-06-14 18:07] samuelklee opened #6657 "GnarlyGenotyperIntegrationTest.testUsingGenomicsDB skipped on Travis."
Not sure if intermittent:
`Gradle suite > Gradle test > org.broadinstitute.hellbender.tools.walkers.GnarlyGenotyperIntegrationTest > testUsingGenomicsDB[4]([Ljava.io.File;@4f23de76, src/test/resources/org/broadinstitute/hellbender/tools/walkers/GnarlyGenotyper/twoSampleAS.vcf, src/test/resources/org/broadinstitute/hellbender/tools/walkers/GnarlyGenotyper/twoSampleASDB.vcf, [20:1-2147483647], [], /

[2020-06-15 13:10] cmnbroad commented on #6615
I noticed that there is actually an old Barclay ticket for this issue, which we noticed...a while back. https://github.com/broadinstitute/barclay/issues/109.

[2020-06-15 18:04] droazen commented on #6657
@samuelklee Did you find that this was repeatable?

[2020-06-15 18:05] samuelklee commented on #6657
Haven’t seen it since.

[2020-06-15 18:27] mwalker174 commented on #6655
Thank you for your suggestion @wir963. This would certainly be a useful feature. If you are waiting for this capability, I think you could probably write a small pipeline to modify the current output:

1. Merge UMI read tags into the output PathSeq BAM (involves traversing the input BAM)
2. Filter duplicate UMI reads (perhaps retaining the one with the best alignment score)
3. Split BAM into paire

[2020-06-15 18:32] wir963 commented on #6655
Thanks for your suggestion @mwalker174. I'd definitely like to do this soon so I'll implement that suggestion and update this thread with any questions.

[2020-06-15 22:41] wir963 commented on #6655
Hey @mwalker174 ,

Do you have any suggestions about how to perform step 1? I naively tried to use picard's `MergeBamAlignment` using the PathSeq output BAM as the aligned bam and the PathSeq input BAM as the unmapped BAM but I get the following error message

`IllegalArgumentException: Do not use this function to merge dictionaries with different sequences in them. Sequences must be in the same o

[2020-06-16 13:59] ldgauthier opened #6659 "Add alternate/optional `sample-index` argument for PostProcessGermlineCNVCalls"
PostProcessGermlineCNVCalls is currently single-sample, using input calls and model for the whole cohort.  Specifying a sample index is not particularly user friendly.  Given that we already output calls as a directory of files, including a sample map could enable the user to specify a sample name rather than an index.  This would involve changes to GermlineCNVCaller as well.

Alternatively, exten

[2020-06-16 14:17] jonn-smith commented on #6651
The warnings the user is seeing are due to spanning deletion  alleles which are currently not annotated with Funcotator.  The bug here is what is causing the stack trace.

It's in the protein sequence prediction code and I suspect that it has to do with the position of the variant relative to the exon/transcript boundaries.

I have not been able to look at it yet, but thanks to the user posting th

[2020-06-16 15:15] samuelklee commented on #6659
We can add this as an option, but I think there are a few arguments against outright replacement (which may have led to this design decision in the first place):

1) I don't believe any CNV tools take in sample name as input at the GATK command line, by design. We instead take the BAM basename as the entity ID during the CollectCounts task; this ID is then passed along at the WDL level and is only

[2020-06-16 21:10] #6599 closed

[2020-06-16 23:06] wir963 commented on #6655
FYI I'm just using pysam and doing the merge manually and it's working. I'll keep you posted

[2020-06-17 03:42] GATKSupportTeam opened #6663 "4.1.7.0 VariantAnnotator Performance issue"
VariantAnnotator  v4.1.7.0 is taking  >300 mins to run and doesn't even run to completion while v3.8 takes only 10mins to run successfully. User has shared their vcf in this tar file: danilovk_11Jun2020_main.tar

This request was created from a contribution made by danilovkiri on May 07, 2020 15:54 UTC.

Link: https://gatk.broadinstitute.org/hc/en-us/community/posts/360062628652-GATK-4-1-7-0-Varia

[2020-06-17 03:43] bhanugandham commented on #6663
User has shared their vcf in this tar file: danilovk_11Jun2020_main.tar
Please let me know if you have any questions about the location of the tar file.

[2020-06-17 04:52] fdchevalier opened #6664 "[MergeVcfs] Unexpected behavior with path containing whitespace"
## Bug Report

### Affected tool(s) or class(es)
MergeVcfs (and potentially other Picard related tools)

### Affected version(s)
- Latest public release version [4.1.7.0]

Here is my java version in case:
[code]

### Description
When the upstream path of the current directory contains a whitespace **and** the VCFs are stored in a directory 2 level deeper, the VCF is not found. The bug does not hap

[2020-06-17 14:47] lbergelson commented on #6663
@bhanugandham Where is that file located?

[2020-06-17 14:49] #5559 closed

[2020-06-17 14:51] lbergelson opened #6665 "Allow reading crams without a reference"
We have explicit checks in the gatk to prevent reading crams without a reference.  This is no longer necessary because crams can contain embedded references which HTSJDK now understands.

We should be sure to check that they work with both non-spark and spark tools.

[2020-06-17 15:04] droazen commented on #6665
@lbergelson Given a cram input, it's pretty likely that a reference is going to be required. To determine that a reference is not actually needed would (I believe) require inspection of all slices in the file up-front, which seems expensive, particularly if there are multiple cram inputs. These checks happen very early on in the engine (right after arg parsing)...

[2020-06-17 15:16] droazen commented on #6663
My guess is that this could be an issue of traversing every location in the reference vs. traversing only locations covered by the variants...

[2020-06-17 16:20] lbergelson commented on #6665
@droazen The thought was that we would fail at the point we try to load bases which is usually very close to the start.  It moves the error back a bit which isn't great, but would allow for crams with embedded references.

[2020-06-17 16:58] droazen commented on #6665
@lbergelson But isn't this a per-slice/container setting? Eg., could you have a CRAM with a mix of embedded and non-embedded reference slices, and maybe you don't realize you need a reference until towards the very end of the file?

Is there a way to check the CRAM header or metadata up-front to determine definitively in advance whether a reference is needed, without having to check each individua

[2020-06-17 18:45] lbergelson commented on #6665
I don't know... @cmnbroad Is there a way to detect if a cram requires a reference without reading the whole cram?

[2020-06-17 23:05] bbimber opened #6667 "GenomicDB -> GenotypeGVFs -> NPE"
We created a GenomicsDB workspace using GenomicsDBImport, followed by 2 rounds of adding new samples using GenomicsDBImport.  We then ran GenotypeGVFs on it and received this NPE.  Is there any information or debugging you can suggest that would help diagnose this?

The command run was approximately this (filepaths have been simplified):

java -Xmx48g -Xms48g -Xss2m GenomeAnalysisTK4.jar GenotypeG

[2020-06-18 09:18] cai1991 commented on #6516
Same error in HaplotypeCaller 4.1.7.0:

10:05:48.875 INFO  VectorLoglessPairHMM - Time spent in setup for JNI call : 25.625500792
10:05:48.875 INFO  PairHMM - Total compute time in PairHMM computeLogLikelihoods() : 11358.883564452
10:05:48.876 INFO  SmithWatermanAligner - Total compute time in java Smith-Waterman : 3761.34 sec
10:05:48.876 INFO  HaplotypeCaller - Shutting down engine
[June 18, 202

[2020-06-18 15:01] droazen commented on #6667
@bbimber Can you try running `GenotypeGVCFs` with the `--genomicsdb-use-vcf-codec` argument and see if that resolves the NPE?

A second thing to try would be to see if the crash happens with the latest gatk/master, which was just updated to a newer version of the GenomicsDB library with many bug fixes.

[2020-06-18 15:05] droazen commented on #6548
@amizeranschi Have you tried running with the `--genomicsdb-use-vcf-codec` argument as a workaround?

[2020-06-18 15:06] droazen commented on #6667
@nalinigans @mlathara This appears to be the same issue as https://github.com/broadinstitute/gatk/issues/6548. Was this fixed in the latest GenomicsDB version that we just updated to in GATK, or do users still need to run with `--genomicsdb-use-vcf-codec` as a stopgap measure?

[2020-06-18 15:28] droazen commented on #6664
@cmnbroad This appears to be a URL encoding issue -- your thoughts on this?

[2020-06-18 16:52] mlathara commented on #6667
@droazen this behavior hasn't changed in the most recent release.

Short recap: this happens because bcf codec doesn't support the 64 bit values that GenomicsDB is returning. Running with `--genomicsdb-use-vcf-codec` will resolve it.

From our discussions in the office hours, I thought we had decided to change the behavior in htsjdk  so that it doesn't try to decode the type if it doesn't recogniz

[2020-06-18 17:44] bbimber commented on #6667
OK, thanks for the quick reply.

[2020-06-18 18:25] droazen commented on #6667
@mlathara Let's discuss our options at our next meeting...if the problem is common enough, and a proper fix is not coming in the short term, we might want to consider making the VCF codec the default despite the performance hit.

[2020-06-18 19:24] bhanugandham commented on #6663
@lbergelson the file is available in this folder /humgen/gsa-scr1/pub/incoming in gsa4

[2020-06-19 01:20] AleksandarBeatovic commented on #6650
Hello, could you please tell me where this R script is located? Thank you in advance!

[2020-06-19 15:47] amizeranschi commented on #6548
@droazen I didn't get a chance to do this yet. Once I do (most likely during next week), I will post here about any progress. However, as per @mlathara's message (https://github.com/broadinstitute/gatk/issues/6667#issuecomment-646167430), I do expect this to fix the issue. This potential fix has already been implemented by the bcbio_nextgen guys, so I'm going to be testing that precisely  (https:/

[2020-06-20 07:11] mlaylwar commented on #6473
I'm not sure whether this pertains to issue #6510 or #6473 but I am experiencing this issue, which I thought was solved. I have used version 4.1.7.0 haplotype caller, then when I use combineGVCFs I receive the error: A USER ERROR has occurred: Bad input: Combining gVCFs containing MNPs is not supported. Unknown contained a MNP at A1:684599

I didn't set any value for -max-mnp-dist as the docs say

[2020-06-21 20:08] hanalangoallen commented on #6473
I am also experiencing the same MNP issue with CombineGVCFs in versions 4.1.6 and 4.1.7.
I also didn't specify -max-mnp-dist 0 for HaplotypeCaller, I just used all default options.
Is there a last known GATK version without this MNP bug?
Thanks

[2020-06-22 09:12] hanalangoallen commented on #6639
I am one of the presumably many GATK users who has had the same issues as described above. An article would be great. But even more helpful would be if the "man" pages invoked by running GATK specified the format of the strings etc, and required file extensions, that the various arguments take.

[2020-06-22 13:55] joshua-gould opened #6669 "Use current billing project for requester pays buckets"
If --gcs-project-for-requester-pays is not specified, gatk should use the current billing project to access requester pays buckets.

[2020-06-22 14:05] cmnbroad commented on #6665
The reference-required bool is per-container. In theory, its possible for that value to vary across containers within a file, but I'm not aware of any case where that happens in practice. Also in theory, not all operations necessarily require a reference.

So the htsjdk code doesn't require a reference up front anymore, and doesn't throw until it absolutely needs one to proceed. I think the GATK g

[2020-06-22 14:05] cmnbroad commented on #6541
Duplicate of https://github.com/broadinstitute/gatk/issues/6665.

[2020-06-22 14:05] #6541 closed

[2020-06-22 14:07] cmnbroad commented on #6665
One thing we might want to consider is leaving the checks in when writing CRAMs though.

[2020-06-22 14:38] lbergelson commented on #6541
Woops, sorry!

[2020-06-22 14:57] droazen commented on #6669
@joshua-gould We deliberately require an explicit argument, as we want users to explicitly opt-in to requester pays before being charged. Sorry for the inconvenience!

[2020-06-22 14:57] #6669 closed

[2020-06-22 15:00] joshua-gould commented on #6669
I think this makes gatk less user-friendly and is in contrast with
Cromwell's behavior, which does use the current billing project by default.

On Mon, Jun 22, 2020 at 10:58 AM droazen <notifications@github.com> wrote:

[2020-06-22 15:18] mpetljak commented on #6669
I agree with Joshua: there are several places where the billing project currently needs to be specified in the command line and such manual modifications are not very user-friendly. Another way to perhaps address this is to make sure that an input argument, which specifies the billing project, also addresses the issue throughout the script, so that the user does not need to make any additional cha

[2020-06-22 17:43] zhen-fu opened #6670 "GenomicsDB does not recognize certain features in GVCF files."
I used HaplotypeCaller (-ERC GVCF) to generate a few hundred GVCF files (see a section below, Fig. 1
![Fig1](https://user-images.githubusercontent.com/15146751/85318178-27d2d500-b485-11ea-8efb-a92bdad2cc1d.png)
). Then I was trying to use GenomicsDBImport to generate the datastore to be further processed by GenotypeGVCFs:
`gatk --java-options "-Xmx10g -Xms10g" GenomicsDBImport \
       --genomicsd

[2020-06-22 17:47] droazen commented on #6669
We feel that users potentially getting unexpected bills for requester-pays usage would be even more user-unfriendly than having to explicitly opt-in to such charges via a command line argument.

If you're running GATK via a WDL, it seems like the billing project could be a single unified input parameter in the accompanying JSON which then gets passed to all individual tasks, which doesn't seem too

[2020-06-22 18:10] droazen commented on #6665
If we let HTSJDK fail, we'll need to wrap the error in a `UserException`

[2020-06-22 18:24] droazen commented on #6657
Closing for now -- @samuelklee feel free to reopen if you see this again.

[2020-06-22 18:24] #6657 closed

[2020-06-22 19:29] droazen opened #6671 "Update to Spark 3.0 and Java 11 (or 17)"

[2020-06-22 19:54] droazen commented on #6275
Closing as resolved

[2020-06-22 19:54] #6275 closed

[2020-06-22 19:56] droazen commented on #6158
@nalinigans Can this one be closed?

[2020-06-22 19:57] droazen commented on #6148
@lbergelson Did we resolve this one?

[2020-06-22 19:59] droazen commented on #6063
@jamesemery Would you say that this one has been addressed and can be closed?

[2020-06-22 20:00] droazen commented on #6053
Closing -- superseded by https://github.com/broadinstitute/gatk/issues/6671

[2020-06-22 20:00] #6053 closed

[2020-06-22 20:07] cmnbroad commented on #6664
Hm. Even though I totally expected to be able to reproduce this, I can't. I tried quite a few different combinations. I think this one captures what was reported, but it works:

[code]
The only way I can reproduce it is to delete one of the files so it *really* doesn't exist at the specified location:
[code]

@fdchevalier It you're still convinced its not working, can you post a matched set of com

[2020-06-22 20:18] mlathara commented on #6670
@zhen-fu Can you attach the full output of GenomicsDBImport (including the full stack trace for the error you see). Also, did you process/change these vcfs in anyway between generating them from HaplotypeCaller and trying to import into GenomicsDB?

[2020-06-22 20:54] nalinigans commented on #6158
@droazen, yes this one can be closed - changes in this [GenomicDB PR](https://github.com/GenomicsDB/GenomicsDB/pull/72). Thanks.

[2020-06-22 21:37] lbergelson commented on #6631
The progress meter is correct.  There just happened to be 5 million empty no calls at the start of the file which processed very fast.

[2020-06-22 21:37] #6631 closed

[2020-06-22 22:52] fdchevalier commented on #6664
Hi @cmnbroad

First, I apologize for not making a correct reproducible example. In my first post, I modified some of the information about the path and filenames but should have tested if this was still generating the error which it does not (even on my side). However, my few tests made today resulted in interesting observations.

## Traces

Below the command and trace produced from my real case.

[2020-06-23 13:40] samuelklee commented on #6649
Haven't seen this again, so I'm going to go ahead and close this. Not sure if this has to do with randomly getting older CPUs on Travis or something like that.

[2020-06-23 14:29] cmnbroad commented on #6615
Closing via broadinstitute/barclay#164 and https://github.com/broadinstitute/gatk/pull/4523.

[2020-06-23 14:29] #6615 closed

[2020-06-23 15:17] lbergelson commented on #6663
Closed by #6672

[2020-06-23 15:17] #6663 closed

[2020-06-23 15:20] lbergelson commented on #6663
To add some context, the test file was a file with a single no-call with basically no information at each position in the genome.  A very weird (but valid) input.  The problem was that we were regenerating the sequence dictionary on every site which is an expensive operation.  Caching the sequence dictionary at the beginning improved the speed by 2 orders of magnitude on this file.

There are prob

[2020-06-23 18:14] droazen opened #6673 "Remove EXPERIMENTAL_FPGA_LOGLESS_CACHING option from PairHMM after next GKL release"

[2020-06-23 18:15] droazen commented on #6673
Blocked on a new GKL release

[2020-06-23 18:17] droazen commented on #6673
@kmannth

[2020-06-24 03:00] DarioS opened #6674 "MuTect2 Should Error if Almost All Somatic Variants Supported by Few Reads"
After doing somatic variant calling, the AD shows that the alternate allele is supported by three to five reads out of typically about eighty reads for almost all of the variants and the patient has about 10 times less SNVs reported in their VCF than all of the other patients with the same disease. Could MuTect2 have a QC failure status output if almost all of the variants reported are close to th

[2020-06-24 16:20] droazen commented on #6519
Such an argument was added in https://github.com/broadinstitute/gatk/pull/6654 -- closing.

[2020-06-24 16:20] #6519 closed

[2020-06-24 16:25] droazen commented on #6667
We've decided to make the VCFCodec the default to address this issue (see https://github.com/broadinstitute/gatk/pull/6675).

[2020-06-24 16:41] lbergelson commented on #6674
@DarioS That sounds like an impure tumor sample.   Isn't that normal in a lot of cancer types?

[2020-06-24 17:15] fleharty commented on #6674
@DarioS Are you running contamination checks on this sample first?  Did that not fail your QC?

It's difficult for us to provide a failure QC metric like this because there are so many different cancer types, each with their own behaviors.  The fact that variants are all near their limit of detection is not necessarily a failure of M2 or even your sample necessarily.

Instead it sounds like maybe

[2020-06-24 19:43] #6650 closed

[2020-06-24 22:00] DarioS commented on #6674
We run contamination checks on the somatic VCF using the AMBER / COBALT / PURPLE pipeline. It does not flag contamination. [PURPLE](https://github.com/hartwigmedical/hmftools/tree/master/purity-ploidy-estimator) is a purity and ploidy estimator but often struggles with low purity samples and erroneously reports a samples such as this as purity 1.00 and ploidy 2.00. I wonder if such a sample could

[2020-06-25 04:14] zhen-fu commented on #6670
Hi there, sorry it was my mistake, there was one g.vcf file finished abnormally, that caused this error. After fixing this file, it is working gracefully. Thank you!

[2020-06-25 04:14] #6670 closed

[2020-06-25 13:43] lbergelson commented on #6670
Thanks for following up!

[2020-06-25 17:46] cccnrc commented on #4371
Hi guys I am very interested in this discussion.

It would be great to know:

1. what were the results?
2. is this contig-prior-probablity file you created available somehow?
3. are the data for the samples you tested the pipeline on available?

Thank you so much in advance!

[2020-06-26 09:03] fspeters1 commented on #6372
Hi, I am running into a similar problem and was wondering if you have found the solution for this? Thanks!

[2020-06-26 16:22] mwalker174 commented on #6148
I just built the base image locally and it installs samtools v1.7:
[code]
I'm not sure why then the latest gatk images are still on 0.9.19?

[2020-06-26 16:40] droazen commented on #6148
I believe this is fixed in the newest GATK base image, which will be included in the upcoming GATK 4.1.8.0 docker image.

[2020-06-26 16:46] droazen commented on #6548
Resolved by https://github.com/broadinstitute/gatk/pull/6675

[2020-06-26 16:46] #6548 closed

[2020-06-26 16:46] droazen commented on #6667
Resolved by https://github.com/broadinstitute/gatk/pull/6675

[2020-06-26 16:46] #6667 closed

[2020-06-26 17:06] samuelklee commented on #6148
I think the upgrade to samtools was simply a consequence of changing the base image from Ubuntu 16.04 -> 18.04 in #5026, since samtools is simply installed using apt-get. If we want to be more specific about which versions of samtools, bedtools, tabix, etc. are included in the Docker images, we may want to build these accordingly.

[2020-06-26 20:19] droazen commented on #6148
Fixed in https://github.com/broadinstitute/gatk/pull/5026 and GATK 4.1.8.0 -- closing.

[2020-06-26 20:19] #6148 closed

[2020-06-29 12:38] cmnbroad commented on #6372
I moved this ticket over to the Picard repo since this is a Picard tool. Closing in favor of https://github.com/broadinstitute/picard/issues/1532.

[2020-06-29 12:38] #6372 closed

[2020-06-29 12:39] cmnbroad commented on #6372
@fspeters1 I noticed that this ticket is in the wrong repository (it should be in Picard since its about a Picard tool), so you can post/follow the new ticket https://github.com/broadinstitute/picard/issues/1532 there.

[2020-06-29 13:39] cmnbroad commented on #2199
I just noticed that this email was sent directly to me, rather than being
posted to the github ticket.

Anyway, this looks like a completely different issue than what was reported
in the original ticket - in this case, the parser thinks that
'UGTB015-pe.sorted.marked_duplicates.bam' is a positional argument, which
indicates that the command line being executed is not properly formed. I
suspect the

[2020-06-29 16:18] #3632 closed

[2020-06-29 18:14] droazen commented on #6500
@nalinigans This one is done, isn't it? Can this ticket be closed?

[2020-06-29 18:19] droazen commented on #6382
@bhanugandham Is this something someone on the comms team could look at this quarter? The task is just to update the links in the javadoc, no actual coding necessary.

[2020-06-29 18:27] droazen commented on #6321
This should be resolved in GATK 4.1.8.0 with the new `--genomicsdb-shared-posixfs-optimizations` argument -- closing.

[2020-06-29 18:27] #6321 closed

[2020-06-29 18:35] droazen commented on #6158
Closing!

[2020-06-29 18:35] #6158 closed

[2020-06-29 20:11] nalinigans commented on #6500
Yes, this can be closed.

[2020-06-29 20:28] nalinigans commented on #6487
@mishaploid and @spikebike. 4.1.8.0 has a new option - `--genomicsdb-shared-posixfs-optimizations` for GenomicsDBImport that disable file locking and minimize writes to NFS. We are interested to know if this option helps your use case even as we continue making performance improvements. Thanks.

[2020-06-29 20:42] bshifaw opened #6680 "Funcotator Adjustable diskspace and Memory variables for Mutect2 workflow"
**Problem:**
Looking at the runtime block for the funcotator task in the Mutect2 WDL workflow, it doesn't look like `default_disk_space_gb` or `default_ram_mb` has any role in changing the VM resource settings. I don’t see them being used at all in the rest of the task block. The correct parameters to change to adjust the memory and disk space for this task are `small_task_mem` and `small_task_dis

[2020-06-29 20:45] bshifaw commented on #6680
Additional feedback from the user for the mutect2 workflow

[2020-06-29 20:52] droazen commented on #6500
Closing -- implemented in GATK 4.1.8.0

[2020-06-29 20:52] #6500 closed

[2020-06-29 21:18] cmnbroad commented on #6664
Thanks for the updates @fdchevalier. I see exactly what the issue is now; the presence of the .tbi file causes the code to go down a different path (through TabixFeatureReader), which in turn manifests the issue because it doesn't handle the spaces in the paths correctly. I'll create a ticket in htsjdk, where the bug is.

[2020-06-29 21:31] xie186 opened #6683 "GATK-HaplotypeCaller results generate records with read depth of zero?"
I tried to post it here: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360070036852-GATK-HaplotypeCaller-results-generate-records-with-read-depth-of-zero-](https://gatk.broadinstitute.org/hc/en-us/community/posts/360070036852-GATK-HaplotypeCaller-results-generate-records-with-read-depth-of-zero-)
But I didn't get any response.

### Affected tool(s) or class(es)

a) GATK version used: G

[2020-06-30 13:51] cmnbroad commented on #6664
Fix is in htsjdk, [here](https://github.com/samtools/htsjdk/pull/1487).

[2020-06-30 15:17] bhanugandham commented on #6382
@droazen @lbergelson Can you please share some examples of the links that are broken in the tooldocs. I would like to check why the redirect is not working before we change the links.

[2020-06-30 15:39] fdchevalier commented on #6664
Thank you for letting us know. Let me know if you want me to run a test on my case.

[2020-06-30 16:07] #6324 closed

[2020-06-30 18:46] #6683 closed

[2020-06-30 19:38] droazen commented on #6382
@bhanugandham It's unclear to me whether there are actually any broken links -- I think that this ticket is just a suggestion that someone should go through the links embedded in the GATK documentation and make sure that they're all redirecting properly. If you think that everything will redirect correctly without any intervention needed on our part, then feel free to close this ticket!

[2020-06-30 20:22] cmnbroad commented on #6382
@bhanugandham I just looked at a few at random by searching the source, and most seem to *redirect* ok, though some of the documents seem to be deprecated or out of date. Some do seem to be broken though, i.e., `LikelihoodRankSumTest` contains this broken link `http://www.broadinstitute.org/gatk/guide/article?id=473`.

[2020-06-30 20:26] cmnbroad commented on #6382
And another one, `https://www.broadinstitute.org/gatk/guide/tooldocs/org_broadinstitute_gatk_tools_walkers_annotator_RMSMappingQuality.php`, in `MappingQualityRankSumTest`.

[2020-07-01 01:14] jett-crowdis opened #6685 "Generating AllelicCNV like output from new GATK CNV pipeline (WGS)"
According to #2858, the new [GATK CNV pipeline](https://github.com/broadinstitute/gatk/tree/master/scripts/cnv_wdl/somatic) is intended to replace AllelicCNV (because it now segments jointly on total copy ratio and allelic fraction). We've found the segmentation to be great for WGS data, but the new workflow does not create the same outputs as AllelicCNV - in particular, AllelicCNV generated a *-s

[2020-07-01 03:28] davidbenjamin opened #6686 "-dont-use-soft-clipped-bases doesn't work"
Prior to assembly (in `AssemblyBasedCallerUtils.assembleReads`, we transform reads in several ways that are meant to be permanent (that is, we want to use them in both assembly and genotyping) within `finalizeRegion`.  (Additionally, we error reads within `ReadThreadingAssembler.runLocalAssembly`, but this is done on temporary copies of reads that are used for kmers and discarded).  These transfor

[2020-07-01 03:30] davidbenjamin commented on #6686
@ldgauthier @vruano Could I get your opinion on whether the changes to reads made in `finalizeRegion` are intended for pair-HMM and genotyping and not just assembly?  They certainly are in Mutect2, but I'm not sure about HaplotypeCaller.

[2020-07-01 13:07] samuelklee commented on #6685
We decided to remove the "conversion" to AllelicCapseg output from ModelSegments, since this was an ill defined procedure. The models used by AllelicCapseg and AllelicCNV/ModelSegments are simply different, so it's not possible to define a unique conversion between their model parameters. Compounding this, we also had difficulty finding up-to-date documentation about the models used by various ver

[2020-07-01 13:07] #6685 closed

[2020-07-01 13:15] samuelklee commented on #5804
Just for posterity:

jhess  1:55 PM
just to clarify: what is the logic behind approximating σ_(τ/min/maj) ≈ (post90 - post10)/2? (edited)
1:55
what is the scale factor of 1/2 for?
1:58
one other thing — how come σ_(min/maj) is the sum of the total CR segment’s variance (i.e. σ_τ) and the allelic segment’s variance?
2:00
this would imply that the allelic segments are actually a sum of the random va

[2020-07-01 13:29] wir963 opened #6687 "PathSeq Prealigned Host Filter"
## Bug Report

### Affected tool(s) or class(es)
PathSeq

### Affected version(s)
version 4.1.6.0

### Description
I am pre-aligning a paired-end RNA-seq dataset to the human host genome using STAR. I get a `Uniquely mapped reads %` of 83.24%. Next, I run PathSeqPipelineSpark using `--is-host-aligned true` and the default options. When I look at the filter-metrics file, I see `PRIMARY_READS` = 1,0

[2020-07-01 14:20] wir963 commented on #6687
After looking through the source code, I think it is relevant to add that this dataset uses 32 bp paired-end sequencing. I think the issue is that I am using the default `--host-min-identity 30` argument. Is the --host-min-identity for each mate or is it for both mates of a paired end read?

[2020-07-01 15:04] bhanugandham commented on #6382
Thank you for sharing @cmnbroad  I will look into this.

[2020-07-01 15:13] mwalker174 commented on #6687
Hi @wir963, the min identity is for a single mate, and I agree that this is probably why reads are failing to be filtered for 32-base reads. I would try lowering it to around 20 and see if that helps.

[2020-07-01 15:33] jett-crowdis commented on #6685
Thanks for this - I'll look into these additional scripts

[2020-07-01 16:23] lbergelson commented on #6382
I think it would be good to change to the new links so we don't have to rely on the redirects as well.

[2020-07-01 16:26] droazen commented on #6686
@davidbenjamin I believe that the `trim()` call in question has always been on the original region, going back to GATK 3.x. Here's the equivalent line from the GATK 3.x `HaplotypeCaller` (line 901 HaplotypeCaller.java):

[code]

And, as in GATK 4.x, the clipping code in GATK 3.x called `clone()` on each read prior to clipping. It's worth testing whether the equivalent argument in GATK 3.x (which w

[2020-07-01 16:34] droazen commented on #6686
@davidbenjamin Actually, digging a bit deeper into the code, doesn't `AssemblyBasedCallerUtils.finalizeRegion()` replace the reads in the original `AssemblyRegion` with the clipped reads when it calls:

[code]

And therefore the later call to `trim()` on the original region is actually seeing the clipped reads after all?

Have you checked your original hypothesis in a debugger?

[2020-07-01 16:35] wir963 commented on #6687
Hey @mwalker174,

Setting `--host-min-identity 20` lowered the `READS_AFTER_PREALIGNED_HOST_FILTER` to 131467, which is closer to what I expected (albeit still 12% of the reads) so thanks for the suggestion.

I'm still unsure why the preferred approach is to use this fairly arbitrary metric that doesn't incorporate both mates instead of leveraging the known alignments from STAR, which does. Given

[2020-07-01 17:27] bbimber opened #6688 "Debugging Suggestions on GenomicsDB Run?"
We are running GenomicsDBImport on a single chromosome with about 96 WGS gVCF samples as input.  It's being run on a slurm cluster, lustre filesystem.  Most of the scatter jobs finished, but the 4 largest have been sitting for nearly 5 days, and it's not clear whether they're doing anything, or what the problem is.  Can you suggest any debugging steps to try to troubleshoot what's going on with th

[2020-07-01 18:13] fleharty opened #6689 "VariantAnnotator throws exception on multiallelic variant"
## Bug Report

### Affected tool(s) or class(es)
VariantAnnotator

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description

Throws an exception on a legal variant.

java.lang.IllegalStateException: Allele in genotype G not in the variant context [G*, G, GT]
	at htsjdk.variant.variantcontext.VariantContext$Validation.v

[2020-07-01 19:06] jamesemery commented on #6686
I have empirically observed that in haplotype caller making modifications to the reads in the assemblyRegion.finalize() call (like adding annotations) results do percolate out to the genotyper. This applies to HaplotypeCaller though M2 might be doing something different that I am unaware of. Have we checked that the bug-report applies for both HaplotypeCaller and M2?

[2020-07-01 20:05] davidbenjamin commented on #6686
I have debugged with M2 exhaustively and I am as positive as can be (which is not 100% given current amounts of sleep).  I have not checked HaplotypeCaller but I trust James' observations.

Perhaps the difference comes from the extra layer of transformations in M2.  That is, we have in M2 `originalActiveRegion -> assemblyActiveRegion -> untrimmedAssemblyResult`, hence assembling the reads in `asse

[2020-07-01 20:46] mwalker174 commented on #6687
Yes PathSeq has generally been used with longer reads in the past and also with BWA. I suspect with the shorter reads, novel splice sites are getting missed by PathSeq. You could turn down the match threshold to 16 (half the read length) to help this further, or even hard-filter any aligned read, but you do risk losing some microbial reads at this length.

You're also right that in your case, usin

[2020-07-01 23:35] DCarbonez commented on #5690
Dear @lbergelson,

This error occurred during the wdl implementation of gatk4-somatic-snvs-indels (https://github.com/gatk-workflows/gatk4-somatic-snvs-indels/blob/master/mutect2.wdl). Each of these steps were run on a fresh cloud instance with 9 GB ram & 2 cpu. (default).

This is the underlying command:
[code]

As it failed repeatedly, it reran 19 times:

- 10 tries were preempted
- Twice, this

[2020-07-02 10:00] ashwini06 commented on #5447
I am problems running Mutect2 using gatk v4.1.8.0. Any suggestions?

[code]

$gatk --version
Using GATK jar /home/proj/bin/conda/envs/D_UMI_APJ/share/gatk4-4.1.8.0-0/gatk-package-4.1.8.0-local.jar
Running:
    java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /home/proj/bin/conda/envs

[2020-07-02 11:29] shafeeJan commented on #4155
I am also facing the same issue while running ./gradlew build

[2020-07-02 13:24] GATKSupportTeam commented on #6680
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/6079'>Zendesk ticket #6079</a>)</i>

[2020-07-02 14:00] Stikus opened #6690 "Multiple rsID in Haplotype Caller results"
Hello, thanks for great software.
After GATK  4.1.8.0 release we updated our internal Docker containers (from GATK v4.1.7.0) and noticed changes in Haplotype Caller results:

[check_against_37.woRandomLine.vcf.txt](https://github.com/broadinstitute/gatk/files/4864731/check_against_37.woRandomLine.vcf.txt)
[test_v37.haplotypecaller.woRandomLine.vcf.txt](https://github.com/broadinstitute/gatk/files/

[2020-07-02 15:56] lbergelson commented on #4155
@shafeeJan Are you also building with java 11?

[2020-07-02 16:13] shafeeJan commented on #4155
I am trying to build it with java 8

[2020-07-02 16:37] lbergelson commented on #4155
Could you share the result of `java -version` on your system?

[2020-07-02 16:55] droazen commented on #6690
@Stikus Yes, this is expected, and is mentioned in the release notes for 4.1.8.0:

* More flexible matching of dbSNP variants during variant annotation (#6626)
    * Add all dbsnp id's which match a particular variant to the variant's id, instead of just the first one found in the dbsnp vcf.
    * Be less brittle to variant normalization issues, and match differing variant representations of the s

[2020-07-02 16:56] shafeeJan commented on #4155
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-8u252-b09-1~18.04-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)

[2020-07-02 16:57] shafeeJan commented on #4155
I have shared my results about

[2020-07-02 17:42] lbergelson commented on #5447
Hi @ashwini06   Could you open this in a new issue instead of at the end of this unrelated one?

[2020-07-02 17:48] droazen commented on #6686
As part of our work on this ticket can we confirm our belief that it doesn't apply to `HaplotypeCaller`?

[2020-07-02 17:58] mwalker174 commented on #6687
@wir963 The [GATK forum](https://gatk.broadinstitute.org/hc/en-us/community/topics) is a good place for discussions like this.

[2020-07-02 18:02] fleharty opened #6692 "Add GenerateIGVSession to M2 WDL"
## Feature request

### Tool(s) or class(es) involved
scripts/mutect2_wdl/mutect2.wdl

### Description

I'd like to add a task to the M2 WDL that creates an IGV xml file.

The xml file should contain:
- Bam outs used to call if bam out is specified.  Otherwise include the original bams. (I think a discussion about this is warrented)
- Interval list
- Called Variants

This will make it much easier

[2020-07-02 18:04] fleharty commented on #6692
@takutosato @davidbenjamin
This is a fairly simple addition, either of you interested, or have any thoughts about how this should be done?

We have a task like this in the liquid biopsy pipeline already, it might be nice to refine it too.

[2020-07-02 18:22] fleharty opened #6693 "Funcotator appears to add extra tab at end of line"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
- [x] Latest public release version [version?]
- [x] Latest master branch as of [date of test?]

### Description
Funcotator appears to output an unnecessary extra tab at the end of each line.

The change appears to have happened between gatk 4.1.4.0 and 4.1.6.0.

#### Expected behavior
Output correct number of tab

[2020-07-02 18:23] fleharty commented on #6693
@jonn-smith If you get a sec, could you take a look at this?

[2020-07-02 19:46] Stikus commented on #6690
Thank you for fast answer, looks like I've not read well. :)

[2020-07-02 19:46] #6690 closed

[2020-07-02 21:10] jonn-smith commented on #6693
I'm guessing this is the MAF output then?

[2020-07-02 23:08] fleharty commented on #6693
@jonn-smith Yes, in the MAF

[2020-07-03 07:44] ashwini06 opened #6695 "Problems running Mutect2"
I have problems running gatk Mutect2.

### gatk version
- 4.1.8.0

#### command-line

`gatk Mutect2 -R /home/proj/stage/cancer/reference/GRCh37/genome/human_g1k_v37_decoy.fasta -L /home/proj/stage/cancer/reference/target_capture_bed/production/balsamic/gicfdna_3.1_hg1`

### Error
[code]

[2020-07-03 23:22] avalind commented on #6695
Does the mutect2 directory exist in your current dir?

[2020-07-04 01:20] lbergelson commented on #4155
Strange.  That looks fine.  Sorry to keep asking question, but a) what operating system are you using?  b) how did you install java?  Every java 8 jdk should come with javadoc.

[2020-07-04 01:21] lbergelson commented on #4155
What does `which javadoc` say?

[2020-07-06 07:35] ashwini06 commented on #6695
Mutect2 is in conda environment and my working directory is different from that path.

[2020-07-06 16:49] fleharty commented on #6695
@ashwini06 Could you post the entire command line you are using, some of it appears to have been cut off.

[2020-07-06 18:32] lbergelson commented on #5690
Thank you for the additional information!  Hopefully this will be helpful for the team tracking down these issues.  There's going to be a

[2020-07-06 18:34] lbergelson commented on #6688
@bbimber Can you describe the interval list for the ones that are failing? Is it a single chunk of chromosome or many small ones?

[2020-07-06 19:10] bbimber commented on #6688
They are all intact chromosomes. The ones still going are each one chromosome and happen to be the largest 4. Also, it isn't entirely clear if they are failing per se, just that they've been hanging for a week without anything obvious happening.

[2020-07-09 04:50] mlathara commented on #6688
@bbimber You probably won't want to restart at this point, but the latest release (https://github.com/broadinstitute/gatk/releases/tag/4.1.8.0) has some optimizations targeted towards shared posix filesystems -- a knob called `--genomicsdb-shared-posixfs-optimizations`. It also reduces the storage space requirements for the genomicsdb workspace substantially.

You could also try to check on the si

[2020-07-09 13:21] fleharty commented on #6674
@DarioS Sorry for the delay, have you tried CalculateContamination?

https://gatk.broadinstitute.org/hc/en-us/articles/360036888972-CalculateContamination

[2020-07-09 15:04] lbergelson commented on #6639
The idea of putting more help into the command line tools seems like a good one.  We don't really have global "man pages" maybe we should have some that are accessible directly through the CLI describing important concepts.

[2020-07-09 15:55] bhanugandham commented on #6382
I looked into this. Since Geraldine worked on the redirects, I would like to consult with her before we make any changes. Maybe there is an easy fix. I will email Geraldine but my guess is that this issue will have to wait until next month since G is on family leave until the end of July.

Please let me know if you have any questions or concerns about this.

[2020-07-09 16:23] mlathara commented on #6688
Another good point @nalinigans brought up when I chatted with her about this was the amount of memory you're allocating for Java here. Do you happen to know how much memory the nodes you're running these on have? The `-Xmx128g -Xms128g` parameters set memory for Java obviously, but we also need some memory for the native (C/C++) part of the code. If these nodes don't have much more than 128G, then

[2020-07-09 17:38] bbimber commented on #6688
@mlathara The nodes have considerably more (256 or so).  is there any rule or thumb or guidance on expected memory needs based on number of gVCFs and/or type of input (WES vs WGS)?

I do think you might be onto something though.  Out default cluster submission code takes our slurm job memory request, subtracts only a few GB and passes the remainder to -Xmx/Xms.  I will update to leave more buffer

[2020-07-09 18:18] mlathara commented on #6688
Offhand I don't have any rule of thumb for memory usage, unfortunately. One thing that can help to reduce memory pressure is to use the `--batch-size` parameter. Also, this doesn't help you now, but we're looking to enable a feature to reduce the memory usage by 5x or more. Works for local/posix files right now, but we need a little tinkering to make it work with Google cloud files.

Regarding log

[2020-07-09 19:54] bbimber commented on #6688
OK.  Giving the job more memory isnt really a problem.  Batch size is one thing we're interested in, i.e. how many WGS gVCFs can we practically combine at once, as compared to doing an iterative approach where we initialize a workspace with X gVCFs, and then keep appending new batches to it.

[2020-07-09 22:15] mlathara commented on #6688
The two main resources limiting how many gVCFs you can import at once will be memory and file handles.

I'm not sure if you mean incremental import or batch size when you mention the iterative approach. I assume the latter, but just want to clarify that there isn't any reason to break up the import using incremental import. The batch size parameter effectively does that, so you might as well impor

[2020-07-09 22:40] bbimber commented on #6688
OK, interesting.  This was not entirely clear from the docs.  Our cluster in theory is functioning again on monday and we will start these.

[2020-07-09 23:00] DarioS commented on #6674
Not yet. I am curious about the mathematical details of it. How does it distinguish no dominant clone from contamination or too many infiltrating immune cells? In the meantime, I wrote a small R script. Example output below. This is a sun-exposed skin cancer, hence the enormous mutation burden in whole genome sequencing data.

![image](https://user-images.githubusercontent.com/631218/87098600-08ac

[2020-07-10 05:30] davidbenjamin commented on #6674
That's actually not hard because subclonal populations are not correlated with the population allele frequencies in the germline resource, while contaminating variants are.  CalculateContamination's statistical model accounts for this.  Infiltrating immune cells have the same variants as the patients germline and thus also don't affect it.

[2020-07-10 05:31] davidbenjamin commented on #6674
@DarioS Why don't you share your entire Mutect2 pipeline.

[2020-07-10 06:00] DarioS commented on #6674
This stage of the analysis was processed by the university's core facility. Looking at the folders, I see contamination checking was done by them and the values are very small (except for CSCC_0012-P1).

[code]

The procedure done is

[2020-07-10 09:54] hsiaoyi0504 opened #6697 "GatherVcfs has a weird description about `--CREATE-INDEX` option."
## Documentation request

### Tool(s) or class(es) involved
GatherVcfs

### Description
https://gatk.broadinstitute.org/hc/en-us/articles/360045252512-GatherVcfs-Picard-
GatherVcfs has a weird description about `--CREATE-INDEX`  option.
It seems to me that the input and output of this tool are vcf files, but what documentation refers to is about a bam file output.

[2020-07-10 14:24] bhanugandham opened #6699 "Incorrect hyperlinks in tooldocs"
Incorrect hyperlinks from this tooldocs page: https://gatk.broadinstitute.org/hc/en-us/articles/360045680851--Tool-Documentation-Index

Examples:
[MappingQualityRankSumTest](https://gatk.broadinstitute.org/hc/en-us/articles/360045252192-MappingQuality)
[InbreedingCoeff](https://gatk.broadinstitute.org/hc/en-us/articles/360045682511-AS-InbreedingCoeff)
[GetPileupSummaries](https://gatk.broadinstitu

[2020-07-10 15:00] lbergelson commented on #6699
is this a duplicate of #6505?  If someone from comms could open a PR to fix the ones you've identified that would be helpful?  We don't necessarily know how to find the correct links.

[2020-07-10 15:10] bhanugandham commented on #6699
I don't think this is the same issue @lbergelson. #6505 is about links that are broken because they still point to the old forum. This particular issue is happening because some tools in the tool docs are pointing to a different tool.
For example: CountBasesSpark is pointing to CountBases

[2020-07-10 19:45] lbergelson commented on #6699
Oh, weird... I didn't understand what you meant.

[2020-07-13 13:43] cmnbroad commented on #6699
It looks to me like this issue is introduced by the doc publishing/transformation process. The docs as generated locally by gradle appear to be correct (if you run gatkDoc locally, the index has the correct relative links):
[code]
The (incorrect) links embedded in the published index
(see view-source:https://gatk.broadinstitute.org/hc/en-us/articles/360045680851--Tool-Documentation-Index) are abso

[2020-07-13 13:48] cmnbroad commented on #6699
@bhanugandham back to you - not sure who should handle this but it doesn't look to be gatk/build related.

[2020-07-13 13:54] bhanugandham commented on #6699
Thanks for looking into this @cmnbroad I see what you are saying. I will look into this.

[2020-07-13 16:47] tmm211 commented on #6289
@jonn-smith I am working with someone on a featured workspace for a paper that will likely highlight this issue. Any thoughts on when it will get prioritized?

[2020-07-13 16:49] jonn-smith commented on #6289
I'm going to review all the Funcotator issues in the next few weeks and start addressing them then.

[2020-07-13 18:12] jonn-smith commented on #6289
The example variant from the above Terra run is:

[code]

[2020-07-13 18:25] droazen commented on #6697
@hsiaoyi0504 Since this is a Picard tool, would you mind filing this ticket in the Picard repo:
https://github.com/broadinstitute/picard ?

[2020-07-13 18:25] #6697 closed

[2020-07-13 18:56] fleharty commented on #6695
@ashwini06 Following up on this to see if you are still experiencing problems.
If so, could you post the entire command line?

[2020-07-13 19:55] GATKSupportTeam opened #6701 "FilterVariantTranches error with version 4.1.8.0"
In GATK Office hours we found a change that contributed to this error message. The issue may be a bug or an issue with the data that is showing up with the more strict filters in the latest version.

This request was created from a contribution made by Igor Islanov on July 06, 2020 12:11 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360071204731-FilterVariantTranches-brakes

[2020-07-13 20:02] droazen commented on #6701
@ldgauthier Based on the git history, we think that this issue might have been introduced (or revealed, if it's a problem with the data rather than the tool!) by the changes in your PR https://github.com/broadinstitute/gatk/pull/6411, which went into GATK 4.1.5.0 -- specifically, the changes to `org.broadinstitute.hellbender.tools.walkers.vqsr.FilterVariantTranches.firstPassApply(FilterVariantTran

[2020-07-13 21:28] jensenrichardson commented on #6564
@lbergelson I've been reading through this thread as I've tried to get dbSNP to work with Funcotator using GRCh38. I saw this chain file mentioned, but I was unable to access it. Are you able to share it with the public in the meantime, while you work on the more permanent solution, or should I look at trying another method?

[2020-07-14 01:00] hsiaoyi0504 commented on #6697
Sorry, @droazen. I am confused. In Picard’s documentation, it doesn’t mention this part: https://broadinstitute.github.io/picard/command-line-overview.html#GatherVcfs. Therefore, I thought this issue belongs here. Would you mind explain a little bit more? Thank you.

[2020-07-14 08:46] ashwini06 commented on #6695
@fleharty : Thanks for the followup. Sorry I missed your previous reply. Yes, the problem with mutect2 still exists.

gatk4 exists in my conda environment path

[code]

Here is my full command-line

`gatk Mutect2 --reference /home/proj/stage/cancer/reference/GRCh37/genome/human_g1k_v37_decoy.fasta --input consensus/concatenated_ACC5611A1_XXXXXX_consensusalign_ds.bam --output mutect2/concatenated_A

[2020-07-14 12:06] cmnbroad commented on #6697
Hi @hsiaoyi0504 - it is a bit confusing, but the fix for this issue will require changes in the picard source, so the issue needs to live there. I'll transfer it over - thx for reporting it.

[2020-07-14 13:44] elbakrifz opened #6703 "RealignerTargetCreateur"
I WAS running this commande : java -jar /Users/mac/Downloads/gatk-4.1.8.0/gatk-package-4.1.8.0-local.jar  RealignerTargetCreator \                                                                                                                                                                            -R /Users/mac/Desktop/LmjFwholegenome_20070731_V5.2.fasta

[2020-07-14 13:46] elbakrifz commented on #6703
I got the gatk_3.8 without java file

[2020-07-14 13:49] jonn-smith commented on #6564
I have a candidate release of the Funcotator data sources which includes a fixed dbSNP that I'm testing now. I am hopeful it will be ready by the end of the week.

When it is ready you'll be able to grab it and run off the latest nightly build / master and this problem will be fixed.

[2020-07-14 14:01] jonn-smith commented on #6564
@jensenrichardson I put a copy of the file in the same google bucket as the funcotator data sources here:

`gs://broad-public-datasets/funcotator/restorehg38contigNames.chain`

It's public so you should have access.

[2020-07-14 14:14] cmnbroad commented on #6703
@elbakrifz RealignerTargetCreator is no longer included in GATK.

This repo is for tracking GATK bugs and feature requests. For questions and usage help, please see the forums at https://gatk.broadinstitute.org/hc.

[2020-07-14 14:14] #6703 closed

[2020-07-14 14:19] fleharty commented on #6695
@avalind This appears to be a different error from the one you were previously encountering.
The current error indicates that there is something wrong with your bam.  It appears that there is a mismatch to the size of your insert quality sizes and read size.

Is there a way that you can share your bam?

Also, are you sure that you intend to have insertion and deletion qualities, this is something

[2020-07-14 14:46] bhanugandham commented on #6699
We resolved this issue. Thank you for helping us find the bug @cmnbroad . Closing out this issue.

[2020-07-14 14:46] #6699 closed

[2020-07-14 15:23] ashwini06 commented on #6695
@fleharty : You can download the bam file using the shared link.

https://ki.box.com/s/b9fe0854eccclz85vvkktd2qfqquyq71

In my workflow, these bam files were generated using sentieon bwa-mem with the default options. Are there any suggestions on how to run mutect2 successfully on this bam file?

[2020-07-14 15:28] fleharty commented on #6695
@ashwini06

This bam appears to be malformed and it fails Picard ValidateSamFile.  I think you'll need to examine the earlier stages of your pipeline that produce your bam to ensure you get a correctly formed bam.  I'm going to close this ticket now since this doesn't appear to be an issue with Mutect2.

(base) wm462-624:Downloads fleharty$ java -jar $PICARD ValidateSamFile I=concatenated_ACC5611A

[2020-07-14 16:43] jonn-smith commented on #6693
OK - I found where it was happening.

This will be fixed along with the Funcotator Data Sources update.

[2020-07-14 23:16] madzayasodara opened #6704 "Haplotypecaller multithreading core use"
Hi I'm using Haplotypecaller with multithreads (-nct 4) and would like to know whether the threads run in one core or each thread should be given a core (so using SLURM -c 4). thank you

[2020-07-15 14:37] wir963 opened #6705 "Unexpected behavior from PathSeq Host Filter"
# Bug Report

### Affected tool(s) or class(es)
PathSeq

### Affected version(s)
- 4.1.6.0

### Description

I wanted to better understand the PathSeq pipeline (and in particular, the Host Filter step) so I simulated RNA-seq reads from three microbial genomes of interest (Salmonella eneterica subsp. enterica serovar Typhimurium str. SL1344, Salmonella eneterica subsp. enterica serovar Typhimurium

[2020-07-15 15:15] lbergelson commented on #6704
@madzayasodara This sort of question should be asked on the [GATK forums](https://gatk.broadinstitute.org/hc/en-us/community/topics).  This is for reporting bugs and documentation issues.   It also sounds like you're using gatk 3 which is no longer supported.  We recommend upgrading to gatk 4.1.8.0.

[2020-07-15 15:15] #6704 closed

[2020-07-15 15:43] mwalker174 commented on #6705
I wonder if this has to do with the base qualities simReads generates. Can you post some reads from both sets?

[2020-07-15 18:36] fleharty commented on #6693
@jonn-smith Great, thaks!

[2020-07-15 20:07] wir963 commented on #6705
@mwalker174

Here you go.

First 20 lines where simulate.sequencing.error=FALSE
[code]
First 20 lines where simulate.sequencing.error=TRUE
[code]

Let me know what you think.

Best, Welles

[2020-07-16 08:26] LvLH commented on #6242
Hi, I also encounted the trable.  And it looks like ApplyBQSR is failing is truelly caused by 0 reads after filtered in BQSR processing.  I solved my problem in BQSR to generate recal_table.
So  maybe my experience is helpful to you or others.
**Q**: "on the ApplyBQSR step with an error stating "The covariates table is missing ReadGroup xxx in RecalTable0"
**A**:  check up reads remained in BQSR,

[2020-07-16 13:42] jensenrichardson commented on #6564
@jonn-smith Thanks so much for the chain file! I was able to do the liftover successfully (it liftedover all of the variants in the database, except for the MT chromosome, but those aren't important to my analysis so I was okay with discarding them), but it still had no hits from dbSNP.

I think it was able to find the liftedover version because of this line in the log file:
`16:08:10.211 INFO  Da

[2020-07-16 17:22] jamesemery opened #6706 "Investigate issues in reads realignment results for DRAGEN-GATK"
This issue has come up during my work on #6634 and has resulted in the decision to introduce a new argument to GATK `--use-original-alignments-for-genotyping-overlap` in order to better match DRAGEN for concordance.

Reads in the GATK undergo a number of modifications before they are used for genotyping that I have listed down below. (Note: between each of these steps some reads get lost to variou

[2020-07-16 17:22] jamesemery opened #6707 "Investigate the impact of spanning event genotyping on indel false positives in DRAGEN-GATK"
This issue has come up during my work on #6634 and has resulted in the decision to add the `--disable-spanning-event-genotyping` argument in GATK.

The results from the GATK-DRAGEN ROC curves on synthetic diploid CHM samples looks like this:
![otherCH1_CHM13_WGS1_PAIR_indel](https://user-images.githubusercontent.com/16102845/87469757-c3211b00-c5e9-11ea-830f-f3db5f7b8aed.png)
![otherCH1_CHM13_WGS1_

[2020-07-17 13:30] pawel125 opened #6708 "Funcotator: java.lang.IllegalArgumentException: Unexpected value: lncRNA"
## Bug Report

### Affected tool(s) or class(es)
Funcotator

### Affected version(s)
gatk-4.1.8.0
funcotator_dataSources.v1.7.20200521s

### Description

I am trying to use Funcotator to annotate the variants that I have already detected. Unfortunatelly, after a few seconds Funcotator stops with the error:

I have no idea what is wrong and I did not find this error in the internet. Can it be a pro

[2020-07-17 17:27] lbergelson commented on #6708
It looks like a typo either in the datasource or in funcotator.  It's finding something labelled "lncRNA" but looking for "lincRNA".

[2020-07-17 17:52] #6664 closed

[2020-07-17 19:14] spromanos commented on #6319
Hi GATK team,

I tried running your PathSeq pipeline (broadinstitute/gatk:4.1.8.0) on my cohort and almost half of the samples failed the scoring step with this error message:

`20/07/17 09:38:35 INFO NewHadoopRDD: Input split: file:/cromwell_root/fc-6e61d4b2-bdc8-4abd-bb94-18d8fa11d9b6/7c1b0faa-e956-4289-9e2d-4fb8b9eff6ff/PathSeqPipeline/0ca5578f-70d3-498e-b7cc-23590f0ab31f/call-PathSeqAlign/MMRF

[2020-07-17 19:19] droazen commented on #6319
@spromanos Could you please open a new ticket for this issue instead of replying to this existing ticket?

[2020-07-17 19:22] spromanos opened #6709 "PathSeqScore fails with java.util.NoSuchElementException: next on empty iterator"
Hi GATK team,

I tried running your PathSeq pipeline (broadinstitute/gatk:4.1.8.0) on my cohort and almost half of the samples failed the scoring step with this error message:
`20/07/17 09:38:35 INFO NewHadoopRDD: Input split: file:/cromwell_root/fc-6e61d4b2-bdc8-4abd-bb94-18d8fa11d9b6/7c1b0faa-e956-4289-9e2d-4fb8b9eff6ff/PathSeqPipeline/0ca5578f-70d3-498e-b7cc-23590f0ab31f/call-PathSeqAlign/MMRF_

[2020-07-17 19:22] spromanos commented on #6319
Done! Thanks

[2020-07-17 19:32] droazen commented on #6709
@mwalker174 Any insight into this one?

[2020-07-17 19:59] lbergelson commented on #6709
Odd, it seems like we're getting a partition with no elements in it somehow.  I didn't think that was possible.  We're calling "iter.next()" without a check because we made the assumption that a partition always had at least 1 read in it.

@spromanos How are your bams sorted? By queryname?

[2020-07-17 20:34] spromanos commented on #6709
@lbergelson coordinate.

[2020-07-18 02:38] forg-yu commented on #6708
I am also troubled by this problem. My gatk version is 4.1.6.0 and Funcotator data source is funcotator_dataSources.v1.7.20200521s.

[2020-07-18 05:57] zahraj242 opened #6710 "Error running gatk seq-format-validation workflow"
Hi
I am using GATK 4.1.7.0, and have faced an issue running the seq-format-validation workflow. basically the process is ran but ends in failed state and the main output does not appear. I have attached here the exact command, stderr,validate-bam-inputs.json and validate-bam.wdl. The stdout just says 230.
I would be grateful for any help on how to solve the issue.
Best
zara

<img width="1280" alt=

[2020-07-19 10:58] Schahrjar commented on #6223
I encountered a similar error while using UniProt variants BED file, available here: [Uniprot FTP](ftp://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/genome_annotation_tracks/UP000005640_9606_beds/UP000005640_9606_variants.bed).

I indexed the BED file (using GATK IndexFeatureFile), but the problem not resolved.

Below is the config:
`name = UniProt
version = 2020_03
src_fil

[2020-07-19 13:41] slw287r commented on #5690
Hi @lbergelson,

We experienced the related issue in GATK 4.1.8 (it persisted since 4.1.5 or early version as far as we know) when running `FilterAlignmentArtifacts` in one of our cluster but not the other. We narrowed down the issue, using the CPU differences (the working one does not support AVX2), to `libgkl_smithwaterman.so`. Paths are shortened for clarity in the following commands.

[code]

[2020-07-19 20:03] pawel125 commented on #6708
@lbergelson should I modify the datasource then?

[2020-07-20 11:55] ashwini06 commented on #6695
@fleharty  I am trying to reproduce your error message using ValidateSamFile, but seems my input bam file is OK. Please find the attached screenshot

`$picard  ValidateSamFile --version`
`2.23.2`

<img width="719" alt="picard" src="https://user-images.githubusercontent.com/6302819/87935063-a88aee00-ca90-11ea-8bab-b16b9776097e.png">

[2020-07-20 13:54] wir963 commented on #6705
@mwalker174 does the above make sense to you? Does it help you understand why PathSeq filters out all the reads without sequencing errors (and quite a few of the reads with sequencing errors)?

[2020-07-20 15:46] wir963 commented on #6705
Okay thanks for getting back to me @mwalker174. Okay I guess that scenario is unlikely to occur when using real data. Is there some way to force GATK to use a particular PHRED style score?

The filtering of so many microbial reads (when we're simulating base read errors) is still worrisome to me because this is using 75 bp reads and we've got a lot of (paired) reads in the 30-40 bp range. Could yo

[2020-07-20 15:52] droazen opened #6711 "Add ability for the Funcotator datasource downloader tool to download datasources for JUST a single reference (eg., hg38 or b37)"

[2020-07-20 15:53] droazen commented on #6711
This would cut the total download size in ~half

[2020-07-20 16:13] jonn-smith commented on #6708
@pawel125 @forg-yu Please do not modify the datasources - they are well-formed and correct, just newer than (and incompatible with) the GATK version you're using.  See below for a quick solution.

This version of the Funcotator data sources is not supported yet. Datasources have to be released prior to merging code changes that support them.   I have been working on this data sources release for q

[2020-07-20 16:14] droazen commented on #6710
@zahraj242 Could you please post this on the GATK support forum (https://gatk.broadinstitute.org/hc/en-us/community/topics)? This github issue tracker is for bug reports and feature requests only.

[2020-07-20 16:20] #6708 closed

[2020-07-20 16:27] jonn-smith opened #6712 "Funcotator - Add Check for Data Sources version at startup."
Currently Funcotator will  not check the version of the datasources on startup. This will cause breaking changes to raise stack traces in Funcotator when new datasources are released.

Add a check for the version of the data sources so Funcotator will  not  open incompatible versions.

[2020-07-20 16:29] jonn-smith commented on #6712
A minimum  version check exists, but not a maximum version check.  The maximum version check must be added.

[2020-07-20 16:49] jonn-smith commented on #6708
I've created a new issue to make sure the error message for this is better in the future (#6712).  This will be included in 4.1.9.0.

[2020-07-20 17:59] fleharty commented on #6695
@avalind I got an e-mail saying that you ran picard and had no errors, but I don't see that comment here.

[2020-07-20 18:19] GATKSupportTeam opened #6714 "DepthofCoverage not producing _gene_statistics output"
We discussed this issue at the GATK office hours. First, the user ran with multiple bams and found this issue. They also ran with just one BAM input and the problem still existed.

This request was created from a contribution made by marta r on July 01, 2020 09:23 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360067324992-DepthofCoverage-GATK4-1-7-0-gene-list#community\_com

[2020-07-20 20:32] avalind commented on #6695
@fleharty I think you meant to tag @ashwini06 (the creator of this issue). I also received that email, maybe @ashwini06 deleted the comment shortly after posting it?

[2020-07-21 08:09] MWendorff opened #6715 "available resource bundle is lacking INFO fields for best practice VariantRecalibrator"
## Bug Report

### Affected tool(s) or class(es)
VariantRecalibrator
Resource Bundle

### Affected version(s)
Resource Bundle downloaded 21. July 2020 (ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/ OR https://console.cloud.google.com/storage/browser/genomics-public-data/resources/broad/hg38/v0;tab=objects?prefix=)

### Description
The available dataset lack information for FS, SOR etc.

[2020-07-21 10:33] pawel125 commented on #6708
I have tried out also this version and as I mentioned it also results in an error. Here is the full output:

Is it another typo?

[2020-07-21 14:02] cmnbroad commented on #5851
This was done by Sam L. as part of https://github.com/broadinstitute/gatk/pull/5026.

[2020-07-21 14:02] #5851 closed

[2020-07-21 14:09] cmnbroad commented on #4480
Fixed in https://github.com/broadinstitute/gatk/pull/4523.

[2020-07-21 14:09] #4480 closed

[2020-07-21 14:09] ashwini06 commented on #6695
@fleharty @avalind
Sorry, something happened with my previous message.
But what I wrote previously was that I couldn't reproduce the same error message using Picard ValidateSamFile.

I tried validating my bam file and I don't see any errors. Even the samtools flagstat option works fine on my bam file.
Please find the attached screenshots,

<img width="704" alt="picard" src="https://user-images.git

[2020-07-21 14:11] jonn-smith commented on #6708
@pawel125 This looks like a filesystem error - `I/O error in the advisory file locking logic (disk I/O error)`.  Are you using an NFS file system to store the datasources or some other kind of network-mounted drive?

To be clear - the first issue you had was **not** a typo.  The v1.7 data sources are not backwards compatible and the code changes haven't been merged yet.

[2020-07-21 14:30] pawel125 commented on #6708
Oh, yes, it is surely not a typo, it was just my mental shortcut because of the previous messages. I use the local storage on our computing cluster. I will try to download the files once again, maybe it will solve the problem.

[2020-07-21 14:35] jonn-smith commented on #6708
Just making sure 😛

I don't think you have to download them again, but I have seen SQLite do some strange things on NFS drives sometimes.  When I looked for the issue a [couple](https://stackoverflow.com/questions/29244788/error-disk-i-o-error-on-a-newly-created-database) [StackOverflow posts](https://stackoverflow.com/questions/41744631/sqlite-jdbc-error-sqlite-ioerr-lock) indicated it was a SQLi

[2020-07-21 17:08] nalinigans commented on #6688
@bbimber, could you make any progress?

[2020-07-21 18:40] #5838 closed

[2020-07-22 02:01] forg-yu commented on #6708
Thanks, funcotator_dataSources.v1.6.20190124s is works fine for me.  I think @lbergelson is right, the bug is caused by the different abbreviations of long non-coding RNA: 'lncRNA' in gencode.v34.annotation.REORDERED.gtf of v1.7.20200521, 'lincRNA' in gencode.v28.annotation.REORDERED.gtf of v1.6.20190124.

[2020-07-22 02:11] jonn-smith commented on #6708
@forg-yu Glad to hear you have it working!

You are correct about the difference between the Gencode versions long non-coding RNA tag.  In addition to this, there are several other tags used in Gencode v34 that were not present in v28.  The latest Funcotator code (not yet merged into master - pr #6660) has parser updates to allow for these new values, but the old code (GATK 4.1.8.1 and earlier) do

[2020-07-22 02:14] GuoYu-Peng opened #6719 "4.1.8.1 gzip tar file is broken?"
I download 4.1.8.1 release tar.gz file but can't unzip.
[code]
Here is Error:
[code]

[2020-07-22 02:17] jonn-smith commented on #6708
@forg-yu Also, moving over the old Gencode datasource is totally fine.  The datasources are a bundle, but are designed to be changed by the user.  My comment earlier was more to prevent you from doing a find/replace on `lincRNA`->`lncRNA` because other things had changed as well.

You'll probably want to move to the latest version when it's merged in, though, since it will contain Gencode v34 and

[2020-07-22 02:23] forg-yu commented on #6708
@jonn-smith, got it, thank you for your clarification.

[2020-07-22 08:29] pawel125 commented on #6708
@jonn-smith I still have the problem with SQLite and I have no idea how to store the data more locally than I do now, keeping the files in the file system. Our cluster uses Lustre, does it cause the problem?

[2020-07-22 14:19] mwalker174 commented on #6709
Another user has reported the same error running a PathSeq output BAM on `BwaSpark`.

[2020-07-22 14:28] jonn-smith commented on #6708
@pawel125 From what I've found there are several posts mentioning issues with Lustre and sqlite:

- https://stackoverflow.com/questions/58842374/sqlite-disk-i-o-error-with-multiple-readers-on-lustre-filesystem
- https://github.com/CGATOxford/CGATPipelines/issues/39
- https://lustre-discuss.lustre.narkive.com/IsGsPBGV/lustre-sqlite

I haven't looked into it, but maybe one of them can help.  If you

[2020-07-22 15:44] droazen commented on #6719
@GuoYu-Peng I am able to extract the `.tar.gz` (https://github.com/broadinstitute/gatk/archive/4.1.8.1.tar.gz) fine on my end. Make sure you got a complete download -- the file size should be 69,129,515 bytes.

Please note that the `.tar.gz` contains only the GATK source code. For a runnable GATK installation you should download the zip file instead (https://github.com/broadinstitute/gatk/releases

[2020-07-22 16:15] tedsharpe commented on #6708
I'm probably being pedantic, but a lincRNA is a subtype of lncRNA.  Specifically, a lincRNA is a long **intergenic** non-coding RNA.<sup>1</sup>

<sup>1</sup>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5889127/

[2020-07-22 16:36] jonn-smith commented on #6708
@tedsharpe Interesting.  That's good to know.  Both annotations are still in the code (to preserve reverse-compatibility), so we can now cover both kinds of ncRNAs.

[2020-07-22 16:47] lbergelson commented on #6709
This needs a fix in the spark loading code.  We need to explicitly account for empty shards when doing the shuffle of the first readname to the shard to the left it.

[2020-07-22 16:48] jhl667 opened #6720 "LearnReadOrientationModel gatkdoc does not exist"
LearnReadOrientationModel json file does not exist within gatkdoc release subfolder in v.4.1.8.1.  We are now utilizing these files to automatically create Galaxy tool wrappers, so it would be awesome to get this in for the next release.  Thanks much!

[2020-07-22 17:08] tedsharpe commented on #6709
I have a PR that fixes this.  It's on the branch tws_desparkify_svdiscovery, which is a big refactor on some SV code.  Someone could have a look and pull out just that bit of code to make a new, smaller PR.

[2020-07-22 17:14] cwhelan commented on #6709
I currently have it on my plate to review @tedsharpe 's PR -- I will try to prioritize that if it contains fixes that would be useful elsewhere.

[2020-07-22 17:15] lbergelson commented on #6709
I'm so happy to hear that someone else has already fixed this problem!

[2020-07-23 00:56] GuoYu-Peng commented on #6719
Ok, I was wrong download then.

[2020-07-23 03:50] slw287r opened #6721 "Default INFO filed discrepancies between version 4.1.5.0 and 4.1.8.0"
# Bug Report

### Affected tool(s) or class(es)
_Mutect2_

### Affected version(s)
- [ ] 4.1.5.0
- [x] 4.1.8.0

### Description

INFO | 4.1.5 | 4.1.8
-----|-------|-------
AS_SB_TABLE | ❌ | ✅
CONTQ | ✅ | ❌
ClippingRankSum | ✅ | ❌
DP | ✅ | ✅
ECNT | ✅ | ✅
GERMQ | ✅ | ❌
MBQ | ✅ | ✅
MFRL | ✅ | ✅
MMQ | ✅ | ✅
MPOS | ✅ | ✅
PON | ✅ | ✅
POPAF | ✅ | ✅
ROQ | ✅ | ❌
SEQQ | ✅ | ❌
STRANDQ | ✅ | ❌
TLOD | ✅ | ✅

W

[2020-07-23 06:52] pawel125 commented on #6708
@jonn-smith Thank you!

[2020-07-23 07:16] #6719 closed

[2020-07-23 13:36] samuelklee commented on #6167
We should apply the changes made to the segments VCF in #6352 to the intervals VCF to keep them consistent. See https://gatk.broadinstitute.org/hc/en-us/community/posts/360071515912-GATK4-1-6-0-gCNV-inconsistent-CNV-calls-in-intervals-and-segments-vcfs

[2020-07-23 13:39] ldgauthier commented on #6715
Note that the error message says "in the input callset", which refers to your -V ${inputfile}.  It means that for the sites in your callset that correspond with the sites in the training resources, your callset does not have any variants with FS.

[2020-07-23 13:39] #6715 closed

[2020-07-23 13:44] ldgauthier commented on #6701
I guess I missed the meeting where we discussed this, but if one VCF has a
C as the reference allele and another VCF has a T as the reference allele
at the same position, don't you think that's a problem @droazen?

On Mon, Jul 13, 2020 at 4:02 PM droazen <notifications@github.com> wrote:

--
Laura Doyle Gauthier, Ph.D. (she/her)
Associate Director, Germline Methods
Data Sciences Platform
gauthier@

[2020-07-23 15:15] droazen commented on #6701
@ldgauthier Certainly, if that's what's really in the VCFs. As mentioned in my earlier comment, the changes in 4.1.5.0 may just be revealing pre-existing problems in the data. It's unfortunate that the error message doesn't include the locus...

@GATKSupportTeam @bhanugandham I think the next step here is to tell the user that the error message is an additional check added in recent versions of GA

[2020-07-23 15:36] droazen commented on #6721
@fleharty Care to comment on this one?

[2020-07-23 15:42] ldgauthier commented on #6701
Bah, the other method that calls that method catches its exception and adds a locus.  I can make the change.

[2020-07-23 15:54] gbrandt6 commented on #6701
@ldgauthier could you elaborate a bit more on your last update? Does that change anything for the user?

I'll send the user an update that the problem they are seeing is a result from the additional check. Thank you all for looking into this.

[2020-07-23 15:59] ldgauthier commented on #6701
The fix I'm proposing will just give been info for debugging, it won't change the tool behavior at all.  Otherwise it might be hard for the user to find the position where the reference alleles allegedly don't agree.

[2020-07-23 15:59] droazen commented on #6701
@gbrandt6 The additional logging @ldgauthier is talking about adding would help the user locate the actual site(s) with the reference allele mismatch, but as discussed above this is likely a problem with their data rather than the tool. The user should check that all VCFs are using the same reference -- the fact that several VCFs lack sequence dictionaries make it likely that this is not the case.

[2020-07-23 17:36] droazen opened #6722 "Switch to Apache 2.0 license"

[2020-07-23 18:02] ldgauthier commented on #5568
I just ran GATK 4.1.7.0 with GDB 1.2.1 and I'm seeing these logging messages again.  Granted I've also built a few old jars lately, but after a clean build I'm still seeing it.  @nalinigans can you run the latest and confirm or deny?

[2020-07-23 18:04] droazen commented on #5568
@ldgauthier Did you try GATK 4.1.8.0 or later as well? 4.1.8 introduced a major new release of GenomicsDB.

[2020-07-23 18:06] droazen commented on #5568
@ldgauthier Also, try running with the prebuilt jars (https://github.com/broadinstitute/gatk/releases/download/4.1.8.1/gatk-4.1.8.1.zip) and/or the latest docker image to eliminate your local build environment as a variable.

[2020-07-23 21:21] nalinigans commented on #5568
I just tried with gatk 4.1.7.0 and 4.1.8.0 released zips and cannot reproduce the issue. I can only see buffer resize logging messages when I use a debug version of libtiledbgenomicsdb.so in my private builds.

That said, `gatk 4.1.7.0` picks up  `libtiledbgenomicsdb.so`  from the LD_LIBRARY_PATH, otherwise it extracts from the genomicsdb.jar. @ldgauthier, do you have an older version of the nativ

[2020-07-24 13:05] slw287r opened #6724 "Mutect2 missed mutation with AF of ~2.5%"
# Bug Report

### Affected tool(s) or class(es)
_Mutect2_

### Affected version(s)
- [x] 4.1.5.0 ~ 4.1.8.1

### Description
_Mutation with AF ~2.5% missed by Mutect2 paired-calling. It may be related to M2's active region selection module_

#### Steps to reproduce

* Default (both `--force_active` and `--alleles` are OFF) → **No call**
[code]

* With force_active ON → **Correct call**
[code]

* Wi

[2020-07-24 14:40] ldgauthier commented on #6659
I got through the debugging process with a long series of bash commands, so I guess that's good enough for now.

[2020-07-24 14:40] #6659 closed

[2020-07-24 14:46] fleharty commented on #6724
@slw287r Thanks for the detailed description.  This does look like a problem we would like to resolve.

@davidbenjamin Can you take a look into this?

[2020-07-26 14:36] jjfarrell opened #6725 "LiftoverVCF does not liftover INFO/END for SVs"
----

## Bug Report

### Affected tool(s) or class(es)
GATK LiftoverVcf

### Affected version(s)
gatk/4.1.7.0

### Description

The LiftoverVcf generates the following error. The error occurs with SVs where the INFO/END is not also lifted over. This results in INFO/END before the site start position which triggers the error.
[code]

#### Steps to reproduce

Download vcf from here:

ftp://ftp-trace

[2020-07-27 11:28] PlatonB commented on #1949
@lbergelson The problem is reproduced with such serious and supervised FASTQs as 1000 Genomes reads and some of the SRRs. Why can't it be implemented as a warning in ReadsPipelineSpark instead of a crash?

[2020-07-27 17:42] sahuno commented on #5690
Hello @lbergelson @mepowers

 `FilterAlignmentArtifacts` task fails with error  `munmap_chunk(): invalid pointer` when running mutect2 (WES Tumor-Normal) on Terra.
I've included log file and runtime paramaters that i used just in case.

used both latest gatk version- `4.1.8.1`  and previous version `4.1.8.0`

runtime_params; gatk version- `4.1.8.1`
`{ "boot_disk_size": 12, "command_mem": 15500, "c

[2020-07-27 17:50] fleharty commented on #6721
looking into this

[2020-07-27 18:09] cmnbroad commented on #6725
Closing and moving to Picard repo since its a Picard tool https://github.com/broadinstitute/picard/issues/1552.

[2020-07-27 18:09] #6725 closed

[2020-07-27 18:09] droazen commented on #6709
The proposed fix for this issue is under review in PR https://github.com/broadinstitute/gatk/pull/6652 -- should be part of the next GATK release.

[2020-07-27 18:10] droazen commented on #6680
@fleharty Reassigning to you, since this request involved the `Mutect2` WDL.

[2020-07-27 18:30] droazen commented on #6598
Here is the command line.

[code]

[2020-07-27 18:33] droazen commented on #6319
There is a potential fix for the "next on empty iterator" error in PR #6652 -- this should be part of the next GATK release, and may enable us to close this ticket.

[2020-07-27 18:33] #6720 closed

[2020-07-27 19:03] fleharty opened #6727 "CalculateContamation estimate of uncertainty in contamination is 0.0 when not enough sites are used"
## Bug Report

### Affected tool(s) or class(es)
CalculateContamination

### Affected version(s)
- [x] Latest public release version 4.1.8.1

### Description

There appears to be an error mode where if not a lot of sites are provided, the contamination estimation tool will estimate the error on contamination as 0.0.  We should change this to either error out if enough sites are not provided, or mo

[2020-07-27 19:16] fleharty opened #6728 "BQSR Quality Scores are noticeably different between versrions"
## Bug Report

No changes have been made to the BQSR code that calculates qualities, but there are differences in quality scores from version to version.  This is to understand why.

### Affected tool(s) or class(es)
BQSR

### Affected version(s)
- [x] Latest public release version

#### Steps to reproduce

Ran GATK 4.1.8 and 4.1.3 on the same bam, got different quality scores.

#### Expected beha

[2020-07-27 22:52] mepowers commented on #5690
@sahuno Thanks for the detailed report here.  As @lbergelson mentioned above, we're working on a new GKL release and will check if the issues above are resolved with the new release on Linux.  We don't currently have plans to test specifically in Terra, but @lbergelson may be able to help pull in the right folks to do so once we get the new GKL release out.

[2020-07-27 23:09] avalind commented on #6695
Bumping this since I ran into the same error as I was helping QC a colleagues data, running GATK 4.1.8.1 produces the following:

https://www.dropbox.com/s/2uleabl53dmg9y3/Screenshot%202020-07-28%2000.35.45.png

And this is on targeted capture data (Twist custom capture) ran through our core facility's sentieon pipeline, using the 'consensus' reads mapped to 1kg_grch37, using the raw reads works f

[2020-07-28 14:50] lbergelson commented on #6728
That's weird and disturbing...

[2020-07-29 14:35] fleharty commented on #6728
@lbergelson I looked at the changes between 4.1.8 and 4.1.3 and I can't find anything that I think should account for this.

The effect is quite small, single digit phred scale differences, but I'm alarmed there is any difference at all.

[2020-07-29 20:58] 108anup opened #6730 "ReadsPipelineSpark unable to resolve hdfs path."
## Bug Report

### Affected tool(s) or class(es)
ReadsPipelineSpark when running over a spark cluster

### Affected version(s)
- [x] Latest public release version [GATK v4.1.8.1]

### Description

#### Tools used:
latest docker image from broadinstitute/gatk
latest hadoop (3.3.0)
spark 2.3.1 without hadoop which is able to use the custom hadoop setup.

#### Steps to reproduce

**Script run:**
[cod

[2020-07-29 23:34] slzhao opened #6731 ""Extract our data sources" for Funcotator in MuTect2 wdl"
## Feature request

### Tool(s) or class(es) involved
MuTect2 wdl (mutect2.wdl), task Funcotate

### Description
May I know if it sounds like a good idea to add a option to skip the "Extract our data sources" part in mutect2.wdl. I am using mutect2.wdl in HPC system and all the data sources and gnomad for Funcotate were unzipped and ready to use. So there is no need to "Extract data sources" every

[2020-07-30 22:40] nh13 opened #6732 "HaplotypeCaller core dumps and JVM errors"
<removed>

[2020-07-30 22:41] nh13 opened #6733 "HaplotypeCaller core dumps and JVM errors"
Hey folks,

I have a test dataset that interestingly core-dumps or JVM errors with `--smith-waterman FASTEST_AVAILABLE` but not with `--smith-waterman JAVA`.  The only thing I can think of is somehow Intel's HMM has a length limitation, as I am using `--assembly-region-padding 1000` to GATK to call 100-1000bp indels (and it works!).  I cannot share the test BAM unfortunately.  What can I do to hel

[2020-07-30 22:41] #6732 closed

[2020-07-31 06:47] slw287r opened #6734 "Mutect2 calls soft-clips as INDELs b/t exons with short IVS in RNA-Seq data"
## Bug Report

### Affected tool(s) or class(es)
_Mutect2_

### Affected version(s)
- [x] version 4.1.5.0~4.1.8.1

### Description

`RNA-Seq data` → `STAR alignment` → `MarkDuplicates` → `SplitNCigarReads` → `Mutect2 tumor-only call` → `FilterMutectCalls`

* Variants called

#CHROM | 1
-------|----
POS | 891393
ID | .
REF | GCTGCAACGAAAAGGCCTGGATGTACTCACGGGACAGAGAACGCAACAGACAGCCTGGATGCCAGGCTCCCCCC

[2020-07-31 15:43] droazen commented on #6733
@nh13 As a first step I'd suggest filing a ticket against the GKL (https://github.com/Intel-HLS/GKL) so that Intel engineers can have a look (but leave this GATK ticket open so that we can track it here as well).

This will be difficult to debug without a test case that Intel can run to reproduce the issue on their end. Does the crash only occur with this one particular sample, or have you seen it

[2020-07-31 15:51] nh13 commented on #6733
Let me try to synthesize a BAM and see if that works. It fails on many different samples (~1000+).

[2020-07-31 17:26] droazen commented on #6733
@nh13 Great, that would help a lot. Could you also post your complete `HaplotypeCaller` command line?

[2020-08-02 05:43] nh13 commented on #6733
Fails with command:
[code]

Changing `--smith-waterman FASTEST_AVAILABLE` to `--smith-waterman JAVA` works just fine.

<details>
<summary>test.sam</summary>

[code]
</details>

[2020-08-02 05:46] nh13 commented on #6733
@droazen I posted the complete command line I used (the version is above).  I posted a test.sam that reproducibly fails on my machine (OSX).  And below is the log from my machine:

[code]

[2020-08-03 14:47] mepowers commented on #6733
@nh13 Thank you for documenting this.  Could you please open a ticket over under https://github.com/Intel-HLS/GKL/issues?  We're working on a new release and tracking issues over there.

[2020-08-03 14:56] cmnbroad commented on #6730
At a minimum, [this code](https://github.com/broadinstitute/gatk/blob/031ad205e5140add529c352c2c45076695b64198/src/main/java/org/broadinstitute/hellbender/engine/spark/GATKSparkTool.java#L692) in GATKSparkTool throws away the file system info. There are probably still other code paths that assume the reference is local.

[2020-08-03 15:06] nh13 commented on #6733
@mepowers already done (see linked issue above): https://github.com/Intel-HLS/GKL/issues/113

[2020-08-03 19:50] #6701 closed

[2020-08-03 21:01] GATKSupportTeam opened #6738 "HaplotypeCallerSpark ReadThreadingAssembler error"
As discussed in GATK office hours, this issue was reported by a user with HaplotypeCaller Spark. The entire stack trace is included below.

This request was created from a contribution made by stanedav on August 03, 2020 10:07 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360072104512-HaplotypeCallerSpark-error](https://gatk.broadinstitute.org/hc/en-us/community/posts/36007

[2020-08-04 13:47] cmnbroad commented on #6738
This looks like the same issue as https://github.com/broadinstitute/gatk/issues/6513.

[2020-08-04 15:10] cmnbroad commented on #5680
I think this is happening because were trying to serialize the class loader sun.misc.Launcher$AppClassLoader), which appears to be reached through the graph by way of via https://github.com/damiencarol/jsr203-hadoop/blob/master/src/main/java/hdfs/jsr203/HadoopFileSystem.java#L82. We probably need to short circuit that with a custom serializer for one of these:

Serialization trace:
    classes (su

[2020-08-05 13:11] kzukowski commented on #6473
The same situation here...
I am using ploidy (100) samples and the newest gatk 4.1.8.1. I was calling variants using HaplotypeCallerSpark on HPC.

gatk --java-options "-Xmx30g" CombineGVCFs \
--reference $path_ref/$assembly.fa \
--variant $path_calls/H1_1.spark.g.vcf.gz \
--variant $path_calls/H1_2.spark.g.vcf.gz \
--variant $path_calls/p33xLer_F2_1.g.spark.vcf.gz \
--variant $path_calls/p33xLer_F

[2020-08-05 14:50] droazen commented on #6473
Reopening this ticket, as it seems not to have been completely resolved by the patch in https://github.com/broadinstitute/gatk/pull/6510

[2020-08-05 14:51] droazen commented on #6473
@davidbenjamin Any thoughts as to why users would still be seeing this issue even with https://github.com/broadinstitute/gatk/pull/6510?

[2020-08-05 17:31] bbimber commented on #6688
We've now run into a secondary issue with GenomicsDB workspaces.  In the thread above we talked about problems with WGS import, and reducing batchSize seemed to help.  Separately, we created a GenomicsDB workspace with a few hundred exome samples - this import worked fine with default settings.

Next, we are using this workspace as input for GenotypeGVCFs.  However, the performance is much, much s

[2020-08-05 17:57] jamesemery commented on #6738
@gbrandt6 I think we have a fix for the user that should hopefully go in with the next release.

[2020-08-05 17:57] lbergelson commented on #6688
@bbimber There is a defrag operation that you can perform on the DB.  My understanding is that it's only necessary if you have >100ish input batches.

When you say similar size combine gVcfs do you mean similar size of the input data, or similar size of the stored database compared to the merged gvcf?  If you mean the later then that's expected because a genomicsdb will have much more data than an

[2020-08-05 17:59] nalinigans commented on #6688
Did  you use the `--consolidate` option with GenomicsDBImport? This option consolidates fragments to help with query performance later. Usually not needed for very small batch sizes.
Also, available from 4.1.7.0 is a `--genomicsdb-shared-posixfs-optimizations` option. Can you try GenotypeGVCFs with this knob turned on and let us know?

[2020-08-05 18:28] bbimber commented on #6688
@lbergelson yes, i meant the same number of WES samples as input (either merged into one gVCF or imported into one workspace), not size of data on the disk.

I did not use --consolidate because your docs seemed to recommend against it.  For WES, we performed the GenomicsDB import with default options, which I assume means no batching.  We are doing batching on our WGS data, but that is not complet

[2020-08-05 20:07] bshifaw commented on #6680
I'd also like to attach another change but to the mutect2 PON wdl(I can make another issue ticket if it makes things easier).
For the [CreatePanel task runtime block](https://github.com/broadinstitute/gatk/blob/79a4cda5e045a7f62cc7ed61d102fabc3637fafb/scripts/mutect2_wdl/mutect2_pon.wdl#L157) it would be helpful to have the memory argument adjustable from input json so that users would not need to

[2020-08-05 20:32] GATKSupportTeam opened #6742 "GenotypeGVCFs bcf codec error 'nps && nps*line->n_sample==n' failed"
Issue from the forum regarding GenotypeGVCFs. User is getting an error with the bcf codec. They are running 4.1.7.0, so I recommended updating to 4.1.8.1 for now to see if it is fixed.

This request was created from a contribution made by Brynjar Sigurðsson on August 04, 2020 09:49 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360072049511-Assertion-nps-nps-line-n-sample-n-

[2020-08-05 21:38] avalind commented on #6695
After more digging around it seems that in the case of partial alignment (i.e. hard clipped bases) the BD and BI tags that sentieon just copies from the consensus fastq aren't trimmed to the actual length of the aligned sequence, and thus are to long and it's this that causes problems.

As these are non-standard tags the SAM/BAM format specification doesn't say anything on whether their length mus

[2020-08-06 12:23] yl-h commented on #6721
I would also like to have the missing annotations (they are only in the header in 4.1.8.0 VCF outputs).

The problem seems to be related to the changes in commit 3021e69 (mitochondrial pipeline, #6399) as running FilterMutectCalls on the previous commit c918f85 emits the annotations CONTQ, GEMRQ, etc.

[2020-08-06 12:33] yl-h commented on #6476
I would like to add that this behaviour also occurs with nested SNVs that are in panel of normals.

Based on intersecting MNVs with PoN and quick testing (on 4.1.7.0) it seems that Mutect2 only checks if the first ALT base of an MNV is in normal or PoN - other positions are ignored.

[2020-08-06 15:37] droazen commented on #6721
@ahaessly Can you comment on whether your changes in https://github.com/broadinstitute/gatk/pull/6399 had the side effect of changing the default `Mutect2` annotations?

[2020-08-06 21:22] fpbarthel opened #6743 "GATK ClipReads metrics by read pair"
## Feature request

### Tool(s) or class(es) involved
`GATK ClipReads`
Does this belong in this issue tracker or is there an issue tracker for legacy Picard tools elsewhere?
https://gatk.broadinstitute.org/hc/en-us/articles/360037425771-ClipReads

### Description
I would be interested to see the metrics output from the tool `ClipReads` expanded to include summary metrics by read pair rather than b

[2020-08-07 17:22] #6513 closed

[2020-08-07 17:39] yl-h opened #6744 "CreateSomaticPanelOfNormals output PoN has much less variants in 4.1.8.0 than before"
## Bug Report

### Affected tool
CreateSomaticPanelOfNormals

### Affected version
Tested on version 4.1.8.0 (likely commit 3e921c6, GenomicsDB 1.3.0 #6654)

### Description
Panel of normals generated from version 4.1.8.0 has some ~28% less records (~52% less ALT alleles) than one created with 4.1.7.0 (tested at commit 9cc92e3) with all input data and arguments unchanged. The GenomicsDB version do

[2020-08-07 19:03] droazen commented on #6744
@nalinigans @mlathara and/or @fleharty care to comment on this one?

@yl-h What happens if you run `CreateSomaticPanelOfNormals` directly on the `Mutect2` output VCFs, as described in this article: https://gatk.broadinstitute.org/hc/en-us/articles/360035889791?id=11136

[2020-08-07 20:42] bbimber commented on #6688
One tangential question.  If we run GenotypeGVCFs with a GenomicsDB workspace as the input, can we scatter/gather across arbitrary intervals, or do we need to execute that with intact contigs?  I recall that operations like CombineGVCFs need to operate on intact contigs, since the gVCF blocks might span across a given interval otherwise.

[2020-08-07 20:53] lbergelson commented on #6688
You should be able to scatter on arbitrary intervals.  I thought you could do so with CombineGvcfs as well.  You need to specify the --only-output-calls-starting-in-intervals option though or you can get duplicate calls.

[2020-08-08 03:24] nalinigans commented on #6744
Most of the changes in GenomicsDB 1.3.0 was import and performance related. However, #6500 did add support for MNPs, not sure if that played a part here and the default streaming of data from GenomicsDB is now VCFCodec whereas it was BCFCodec before. @mlathara, can you think of anything else here?

[2020-08-10 16:49] lbergelson opened #6745 "GenomicsDB IO exception has very limited debugging information."
I got this error running tests once.  It's unclear what the problem was.  It's nice that it bubbles up as a java exception but it's hard to know what the underlying issue was.

[code]

[2020-08-10 16:50] lbergelson commented on #6745
@nalinigans I don't know if it's possible to attach more information to errors than this?  Can we include the C stacktrace?  That might be a lot of work...

[2020-08-10 17:12] joshwilding4444 commented on #6745
@lbergelson Were you running the entire test suite, or some smaller subset of the tests? What was the command you used to run the tests when you got this exception?

[2020-08-10 18:05] droazen commented on #6743
@fpbarthel Would you mind re-filing this issue in the Picard repo? (https://github.com/broadinstitute/picard) Thanks!

[2020-08-10 18:05] #6743 closed

[2020-08-10 18:06] droazen commented on #6738
Closing as resolved in https://github.com/broadinstitute/gatk/pull/6741

[2020-08-10 18:06] #6738 closed

[2020-08-10 18:07] droazen commented on #6734
@fleharty

[2020-08-10 18:13] jonn-smith commented on #6731
@slzhao This is definitely a reasonable thing to do.  Please feel free to issue a PR to do this.

That said, I have to give you a warning.  Some of the datasources rely on `sqlite3` and therefore have issues on some distributed filesystems (see this [post on Lustre/NFS errors](https://github.com/CGATOxford/CGATPipelines/issues/39)).  There are a few posts in the GATK forums about this as well.

So

[2020-08-10 18:13] droazen commented on #6730
Theory from @cmnbroad is below:

[code]

[2020-08-10 18:26] droazen commented on #6728
@fleharty We took a look at the PR history between 4.1.3.0 and 4.1.8.0, and @jamesemery found this PR (merged in 4.1.6.0) that changes the BQSR engine in significant ways:

https://github.com/broadinstitute/gatk/pull/6485

Could this explain the difference you're seeing?

[2020-08-10 18:29] cmnbroad commented on #6730
Just for clarity, the last suggestion above is for the fix to https://github.com/broadinstitute/gatk/issues/5680. The fix for this issue is separate, but fixing https://github.com/broadinstitute/gatk/issues/5680 will enable us to re-enable the tests, which is a prerequisite to fixing this issue.

[2020-08-10 22:23] mlathara commented on #6744
@yl-h One thing that might help narrow down where the issue is a bit...would it be possible to compare the size of the total vcfs between the 4.1.7.0 tool version and the versions where number of records+alleles decreases significantly?

Given the significant difference you see, I would expect that if the issue is with Mutect2, then the total size of the vcfs should also decrease significantly. If

[2020-08-11 07:44] kzukowski commented on #6473
I was rerun HaplotypeCallerSpark

gatk --java-options "-Xmx120g" HaplotypeCallerSpark \
--reference $path_ref/$assembly.fa \
--input $SCRATCHDIR/$sample.recal.bam \
--output $SCRATCHDIR/$sample.g.vcf.gz \
**--max-mnp-distance 0 \**
--emit-ref-confidence GVCF \
--sample-ploidy $ploidy \
--intervals $chromosome:1+ \
--native-pair-hmm-threads 12 \
-- \
--spark-master local[*]

and resulted with the s

[2020-08-11 07:54] kzukowski commented on #6473
Is this fix is only dedicated to the Mutect2 module and not extended for the HaplotypeCaller/HaplotypeCallerSpark/CombineGVCFs functions?

[2020-08-11 22:25] nalinigans commented on #6744
@yl-h I have created a new branch [genomicsdb_6744](https://github.com/broadinstitute/gatk/tree/genomicsdb_6744) that exposes GenomicsDBArgument Collection to CreateSomaticPanelOfNormals. Can you please run the following to help us narrow down the issues?

1. The default for GenomicsDB exports/queries changed from BCFCodec streaming in 4.1.7.0 to VCFCodec in 4.1.8.0. Run `gatk CreateSomaticPanelOf

[2020-08-12 14:14] jamesemery commented on #6714
hey @gbrandt6 can you confirm whether upgrading to GATK 4.1.8.0 fixed the users issues? We recently fixed an error where some of the DepthOfCoverage files were blank in 4.1.8.0 and I noticed that the user is on 4.1.7.0. Its possible that there are more issues lurking but I want to confirm that it wasn't fixed by #6609.

[2020-08-12 15:06] gbrandt6 commented on #6714
@jamesemery I haven't heard, so I'll check back in with the user.

[2020-08-12 17:08] droazen opened #6747 "Make GATK docker buildable via a simple "docker build", with no required extra arguments"
This change is necessary for the automatic building of GATK docker images in our large-scale testing framework.

[2020-08-12 18:09] yl-h commented on #6744
@nalinigans I tested (1) using your branch, i.e. running `CreateSomaticPanelOfNormal` as above but with `--genomicsdb-use-bcf-codec true` on the existing 4.1.8.0 GenomicsDBs built from 4.1.8.0 Mutect2 VCFs.

I got ~100% records and alleles compared to 4.1.7.0 with some change probably due to minor changes in Mutect2 between versions (allele overlap is about 99.6%).

As for using 4.1.7.0 M2 + genom

[2020-08-12 18:43] droazen commented on #6319
This is believed fixed in the now-merged PR https://github.com/broadinstitute/gatk/pull/6652

[2020-08-12 18:44] droazen commented on #6319
@lbergelson Can you confirm that this issue can now be closed as resolved?

[2020-08-12 19:17] nalinigans commented on #6744
Thanks @yl-h for following up. Would it be possible to include an example vcf line that is not showing up with VCFCodec? That will help us debug this issue further.

[2020-08-12 20:28] joshwilding4444 opened #6748 "Inconsistent behavior when running unit tests"
## Bug Report

### Affected tool(s) or class(es)
VcfFuncotationFactoryUnitTest
SimpleKeyXsvFuncotationFactoryUnitTest
SimpleTsvOutputRendererUnitTest
VcfOutputRendererUnitTest
VariantOverlapAnnotaterUnitTest

### Affected version(s)

- [x] Latest master branch as of August 12, 2020

### Description
When running the entire unit test suite using
[code]
where the environment variable TEST_TYPE=unit

[2020-08-13 01:13] SHuang-Broad commented on #1534
Now, when we are all working from home, this came back....

[2020-08-13 02:37] xiucz commented on #17
Please port CombineVariants. It is really really a good tool.

[2020-08-13 15:19] yl-h commented on #6744
Sure thing @nalinigans.

I compared the PoNs created with 4.1.7.0 and 4.1.8.0 using 4.1.7.0 M2 and genomicsDB with
[code]
giving
[code]
Actually, I just noticed that **all** of the missing records are multiallelic. Some of the retained records (0.8% of all 4.1.7.0 records) are also multiallelic, however.

[2020-08-14 11:20] PlatonB opened #6749 "Stdin support"
## Feature request

### Tool(s) or class(es) involved
CNNScoreVariants and perhaps other tools.

### Description
It would be nice to take stdout as the input. For example, when it is necessary to pass raw VCF from caller to CNNScoreVariants. In the current version, an error is produced.

[code]

[code]