[2020-08-14 16:25] Kmannth commented on #6733
@nh13  Do you see this both on Mac and Linux or just Mac?

[2020-08-14 16:38] nh13 commented on #6733
I have not tried it on a Linux machine, does it work on yours?

[2020-08-14 19:39] mepowers commented on #6733
@nh13 - @Kmannth and I met today and discussed this ticket.  As @droazen mentioned above, we're currently working on a new release, primarily bringing dependencies up to date and addressing a couple reported bugs related to processing SNPs and indels.  The current release of GKL was primarily tested on SNPs and indels, and not long reads.  We have a few open tickets surrounding long reads.  We pla

[2020-08-14 19:57] nh13 commented on #6733
@mepowers to clarify, this is not a “long read”, rather a short read with a long indel. For cases like this, I’d expect if the intel HMM fails, GATK should fall back to the Java one automatically. Or can you detect what’s “too long” and use the Java version?

[2020-08-14 19:58] nh13 commented on #6733
See the cigar: 70M18D65M16S. It’s a 151bp read, which is standard for illumina.

[2020-08-14 20:05] mepowers commented on #6733
@nh13 Thank you for clarifying.  As of today GKL does not auto-detect when there's a read that's "too long," ie a read length we haven't validated with GKL.  We should be able to build that into our pending release.  I agree we should also make sure that if the GKL pairHMM fails, the JAVA version is called instead.  @Kmannth  @droazen let's discuss this in our next sync.

[2020-08-14 20:18] nh13 commented on #6733
Thanks for considering the request and let me know if I can help.

[2020-08-14 22:08] nalinigans commented on #6744
@yl-h, thanks for the information.

I have been able to reproduce the dropped variant with VCFCodec using two separate gvcf samples with one overlapping multi-allelic interval e.g.
Sample 1:
[code]
and Sample 2:
[code]
Running SelectVariants after GenomicsDBImport with VCFCodec has these lines in the output
[code]
That is different from what we get from running SelectVariants with BCFCodec, the `A

[2020-08-15 11:20] ATPs commented on #5869
similar same error message with
`gatk   HaplotypeCallerSpark  -R ref.fa   -I input.GatherBamFiles.bam   -O output.g2.vcf.gz`

OpenJDK Runtime Environment (build 1.8.0_152-release-1056-b12)
gatk  4.1.8.1

[code]

[2020-08-15 14:00] ATPs opened #6750 "HaplotypeCallerSpark java.lang.StackOverflowError"
### Affected tool(s) or class(es)
HaplotypeCallerSpark

gatk  HaplotypeCallerSpark   -R GRCh38_full_analysis_set_plus_decoy_hla.fa   -I GatherBamFiles.bam   -O g.vcf.gz

The HaplotypeCaller works, but not HaplotypeCallerSpark.
Tried to use the docker  image, and different server; tried to build the newest gatk, same error message

### Affected version(s)
- [ x ] Latest public release version  4.1.

[2020-08-16 05:37] 1onic commented on #17
Please do!

[2020-08-17 16:17] nalinigans commented on #6744
FWIW htslib seems to handle `20:38245276` correctly. The '.' values are correctly inserted since the samples do not contain the corresponding ALT allele in the merged ALT allele list. Note that neither sample contains a <NON_REF> allele.
[code]
Discussing with @kgururaj, he mentions that the VCFCodec in htsjdk uses [AbstractVCFCodec:decodeInts](https://github.com/samtools/htsjdk/blob/master/src/ma

[2020-08-17 17:45] nalinigans commented on #6744
@lbergelson, should I open an issue with htsjdk/codecs?

[2020-08-17 18:41] ldgauthier commented on #17
I didn't want to port CombineVariants because it has some really insidious behavior when it comes to choosing attributes that differ between/among the variants being combined.  I did have to use it myself recently, so I appreciate its utility.  Someone suggested I use bcftools merge instead.  When I did I found that bcftools was at least two orders of magnitude faster and addressed my use case per

[2020-08-17 22:01] fleharty commented on #6473
@davidbenjamin Could you take a look at this when you get a chance?

[2020-08-18 04:36] stellaoh opened #6752 "HaplotypeCaller results"
Hi,

I executed HaplotypeCaller and GenomicDBimport (GATK version 4.1.4.1).

First Question.

In my haplotypeCaller results (sample names = 2016000051),

there is no variant on chr1:10363 as below.

However, when I merge all samples using GenomicDBImport & Genotyping,

I had this result.

How emit this result?

Second question.

In this vcf, what mean this star?

Third question.

I find the varian

[2020-08-18 05:07] kgururaj commented on #6744
Looks like these issues are known - see https://github.com/samtools/htsjdk/issues/340 , https://github.com/samtools/htsjdk/issues/961 and https://github.com/samtools/hts-specs/issues/232.

[2020-08-18 07:16] kgururaj commented on #6744
@yl-h just to confirm,  your input VCFs (input to GenomicsDBImport) don't have <NON_REF> allele (primarily for the multi allelic sites).

[2020-08-18 08:26] Redmar-van-den-Berg commented on #4252
Has there been any progress on this issue? I'm still running into problems using SelectVariant where it duplicates the DP field when the description differs, leading to invalid VCF files.
The lines from the VCF file
[code]
The gatk version
[code]

[2020-08-18 10:24] Hemantcnaik opened #6753 "What will be the Ideal Minimum base quality to count reads GATK ASEReadCounter"
Hello I am using GATK ASEReadCounter for this one of the option --min-base-quality 0 zero is defualt, any one suggestion value will be ideal. I have illumina smart-seq2 reads

[2020-08-18 11:41] yl-h commented on #6744
@kgururaj Correct, there are no <NON_REF> alleles in the VCFs given to GenomicsDBImport in our PoN pipeline, as expected for Mutect2.

[2020-08-18 14:44] DadongZ opened #6755 "picard generated interval_list: Badly formed genome unclippedLoc ... not valid for this input"
I am trying to run GATK (v4.1.8.0) BaseRecalibrator for my whole exome sequencing data. I generated the interval_list file using picard such that:

[code]
But when I feed the file into the GATK I got an error:

[code]
Some suggestions?

[2020-08-18 14:47] droazen commented on #6752
@stellaoh These questions are more appropriate for the GATK support forum (https://gatk.broadinstitute.org/hc/en-us/community/topics) than here. I suggest reposting these questions there. This github issue tracker is for bug reports.

[2020-08-18 14:47] #6752 closed

[2020-08-18 15:22] kgururaj commented on #6742
I suspect the issue is that some lines have a very large number of genotypes (due to some combination of a large number of alleles and ploidy). This causes all sorts of failures in the htslib library because of integer (32-bit) overflow of length fields.
A quick check would be to re-run GenotypeGVCFs with the argument --max-genotype-count=10 (small number that should succeed for 150K samples). If

[2020-08-18 15:42] jonn-smith opened #6756 "OSX Catalina Software Signing Compatibility"
Apple is going to turn on Software Signing with OSX Catalina very soon (sometime this fall or so).

While signing GATK will be fine, theoretically we have to sign all of the dynamic libraries that we leverage.

OpenJDK did a release a while ago with these security features on and it was a major fiasco.

We need to research what the signing requirements are and how they will affect the GATK release

[2020-08-18 15:50] joshwilding4444 commented on #6745
I apologize for the delay, but looking at the stack trace, I found that the problem seems to come from here: https://github.com/GenomicsDB/GenomicsDB/blob/master/src/main/java/org/genomicsdb/reader/GenomicsDBQueryStream.java

The constructor for GenomicsDBQueryStream, on line 209, calls the method jniGenomicsDBInit(). This method then throws an IOException. Perhaps if I do some testing of the C++

[2020-08-18 16:33] #6755 closed

[2020-08-18 16:42] droazen commented on #6744
@cmnbroad had the promising suggestion just now of adding an additional accessor to `VariantContext` that returns a List of potentially null objects for attributes. This would have the advantage of not breaking the existing API, and tools that need to worry about missing values within attributes can opt-in to the new accessor.

[2020-08-18 17:00] joshwilding4444 commented on #6745
Looking at the C++ code for the native method jniGenomicsDBInit(), located [here](https://github.com/GenomicsDB/GenomicsDB/blob/master/src/main/jni/src/genomicsdb_GenomicsDBQueryStream.cc), I found that the code throws a generic std::exception, but doesn't have any exception handling for anything more specific. I posted in the project for GenomicsDB to see what they have to say.

[2020-08-18 17:55] droazen commented on #6756
@jonn-smith @lbergelson All of the articles I've read on this topic so far imply that it will still be possible to run completely unsigned software, that the additional requirements only apply to signed software, and that CLI tools are unaffected. Eg.,

https://eclecticlight.co/2020/02/03/hardening-and-notarization-finally-arrive-in-catalina/
https://appletoolbox.com/everything-you-need-to-know-ab

[2020-08-18 20:56] droazen commented on #6744
@nalinigans After looking into this issue a bit more, I have some additional comments/questions:

1. The problematic method `AbstractVCFCodec.decodeInts()` is *only* called for the AD and PL attributes, as far as I can tell.

2. We don't expect AD or PL to contain '.''s in practice, and GATK can't handle this. For AD, 0 should be used instead.

3. Where are the '.''s in the AD attribute actually c

[2020-08-18 23:01] nalinigans commented on #6744
`0` seems to be a valid value for both `AD` and `PL` attributes, whereas `.` is a missing value. How will that be distinguished by the Codecs in htsjdk? See examples in https://gatk.broadinstitute.org/hc/en-us/articles/360035531692-VCF-Variant-Call-Format.

They are from the GenomicsDB query stream to CreateSomaticPanelOfNormals. FWIW : both `BCF2Codec`(drops all elements after encountering a miss

[2020-08-19 08:07] YangShi-PKU opened #6758 "Funcotator"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-08-19 16:00] droazen commented on #6744
@nalinigans For AD, I don't think we care about the distinction between '.' and 0. If AD is the only problematic field, and we're not seeing any issues with PL or any other field, then I'd advocate for a simple '.' -> 0 translation within GenomicsDB, if such a thing is possible. @ldgauthier do you agree?

[2020-08-19 16:31] ldgauthier commented on #6744
Sounds good to me.

[2020-08-19 17:06] kgururaj commented on #6744
Missing values will appear in all fields whose lengths are of type A, R or G (so PL  field also). I'm assuming that missing values in allele specific annotation fields are handled gracefullyby GATK.
As you likely gathered from the previous comments, the primary issue is that for multi-allelic sites a given sample may have only one allele - so, the PL, AD values corresponding to the "missing" allel

[2020-08-19 17:52] droazen commented on #6744
Why do you say "no <NON_REF> alleles exist" @kgururaj ? In a GVCF, NON_REF should always be present, including at multi-allelic sites.

[2020-08-19 17:59] droazen commented on #6744
And if the inputs here are VCFs and not GVCFs, then that is a problem. We've never supported combining regular VCFs using GenomicsDB, have we @ldgauthier ?

[2020-08-19 18:41] mlathara commented on #6744
So, the user is running the workflow as outlined [here](https://gatk.broadinstitute.org/hc/en-us/articles/360037058172-CreateSomaticPanelOfNormals-BETA-), which would mean they are using VCFs, not GVCFs, right?

Does that workflow need to be altered? It seems that Mutect2 does have a (beta) feature that would support [emitting GVCFs](https://gatk.broadinstitute.org/hc/en-us/articles/360037593851-M

[2020-08-19 18:43] kgururaj commented on #6744
David, can you take a quick look at the first comment in the issue by @yl-h ? Looks like the output of Mutect2 enters GenomicsDB.

[2020-08-19 18:55] nalinigans commented on #6744
Yes, @yl-h seems to have followed what was described in [CreateSomaticPanelOfNormals Tools Doc]( https://gatk.broadinstitute.org/hc/en-us/articles/360047219031-CreateSomaticPanelOfNormals-BETA-). Perhaps the documentation should be changed to include `-ERC=GVCF` as @mlathara suggests like in [consolidating GVCFs for joint calling](https://gatk.broadinstitute.org/hc/en-us/articles/360035889971--How

[2020-08-19 19:33] droazen commented on #6744
@nalinigans @mlathara @kgururaj Yes, we're having an internal discussion now about whether this panel creation workflow needs to be altered. I think the crux of the problem is that we're trying to combine VCFs in GenomicsDB, which is not something we've ever claimed to support. Tagging @fleharty and @ldgauthier

[2020-08-20 00:55] XLuyu opened #6760 "Funcotator codec problem"
## Bug Report

### Affected tool
Funcotator

### Affected version
4.1.7.1

### Description
In **Germline Pre-Packaged Data Sources**, **funcotator_dataSources.v1.6.20190124g/clinvar/hg38/clinvar_20180429_hg38.vcf** contains some lines with utf-8 encoding, like:
chr19   11129534        252330  T       TG      .       .       ALLELEID=246615;CLNDISDB=MedGen:C0020445,OMIM:143890,SNOMED_CT:397915002,S

[2020-08-20 04:24] davidbenjamin commented on #6744
The solution is definitely not to run Mutect2 in GVCF mode.  It's too different from VCF mode and has a big performance cost.

[2020-08-20 04:38] davidbenjamin commented on #6473
@kzukowski @hanalangoallen What are the reference and alt alleles at the positions where you are seeing these MNPs?

[2020-08-20 07:13] kzukowski commented on #6473
@davidbenjamin its poolseq so the line is ... long

for sample
--variant $path_calls/p33xLer_F2_1.g.spark.vcf.gz

1	560576	.	GAA	G,<NON_REF>	0.55	.	DP=37;MLEAC=0,0;MLEAF=0.00,0.00;RAW_MQandDP=133200,37	GT:AD:DP:GQ:PL:SB	0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/

[2020-08-20 16:57] droazen commented on #6744
@davidbenjamin In that case, I see two remaining options:

* Use a different tool to combine the VCFs that is explicitly designed for VCF data, such as `CombineVariants` or `bcftools merge`

* Modify the panel creation pipeline to explicitly use the BCF codec with GenomicsDB (this was the pre-4.1.8.0 behavior). This may have all kinds of hidden issues that we didn't know about before, however, due

[2020-08-20 18:02] lbergelson commented on #6744
@droazen I think the BCF code is broken here too.  The problem is fundamental to htsjdk.

CombineVariants almost certainly has the same or similar problems because it's fundamental to combining vcfs and the fact that htsjdk doesn't handle partially empty lists.  Bcftools likely has similar issues.  Or loading the correct output from bcftools will recreate the issuue.

What about fixing the combine

[2020-08-20 18:11] droazen commented on #6744
@lbergelson We're looking for a pragmatic fix that can go out in the next GATK release (this month!).

This is our only pipeline (that I know of!) that uses GenomicsDB in an unsupported way to combine VCFs rather than GVCFs. If this pipeline produced reasonable result with the flawed BCF codec behavior, then it might make sense to revert to that for now -- eg., maybe it doesn't rely on the annotat

[2020-08-21 21:54] nh13 opened #6762 "Gatk validate variants doesn't report an error on non-spec-compliant headers"
The `PS` tag should be type `Integer`, not `String` according to the spec, but no error is reported (for me)

[code]

Related: https://github.com/genome-in-a-bottle/giab_latest_release/issues/15

[2020-08-24 17:49] droazen commented on #6744
@nalinigans pointed out that even if we do switch this pipeline back to the BCF codec, it's still likely to encounter errors with 64-bit values due to some recent changes in GenomicsDB, which now throws an exception for these values instead of silently truncating them as it did in the past. So just switching to the BCF codec in the WDL might not be enough.

A couple of other options we discussed t

[2020-08-24 18:26] droazen commented on #6393
Closing -- we're now on R 3.6.2

[2020-08-24 18:26] #6393 closed

[2020-08-24 18:27] droazen commented on #6709
Closing -- the fix for this issue was merged in https://github.com/broadinstitute/gatk/pull/6652

[2020-08-24 18:27] #6709 closed

[2020-08-24 18:32] droazen commented on #6762
@nh13 The tool as it currently stands does not appear to do any validation on the VCF header. Agree that this is something the tool ought to do.

@ldgauthier I heard that you had a branch that improves this tool -- did you by any chance add header validation in that branch?

[2020-08-24 18:34] droazen commented on #6753
Closing -- moved to the forum

[2020-08-24 18:34] #6753 closed

[2020-08-24 18:48] droazen commented on #6749
@PlatonB I agree that this would be a nice feature. We're currently refactoring GATK to use a new type for tool inputs that may eventually enable us to support stdin as an input. @cmnbroad Can you comment on the feasibility of adding stdin support once the path migration is complete?

[2020-08-24 20:14] fleharty commented on #6744
@droazen
The option suggested by @ldgauthier is straight forward, but I'm uncomfortable releasing a fix the requires two versions of GATK.

I am up for making the change. suggested by @nalingans, but do we believe this is sufficient to resolve this issue?
I'm not confident in my ability to make this change with the other things I have on my plate in the time frame required here.  I will ask @david

[2020-08-24 20:31] droazen commented on #6744
@fleharty If you can come up with a way to handle genotypes with missing AD in the tool (that does not involve dropping them completely) I believe that would solve the problem, yes. The following code snippet from the tool shows the current behavior, where genotypes get filtered out if AD is missing:

[code]

AD will be missing completely if there were *any* missing values present after combinatio

[2020-08-24 22:06] cmnbroad commented on #6749
The GATKPath migration is a start, but there are other issues we'd need to address to make tools read from stdin as in the zcat example above (it tries to read *from* /dev/stdout, which definitely won't work, but presumably the intent was to read from stdin). For example, https://github.com/samtools/htsjdk/issues/1084.

Some tools can write to /dev/stdout now - I just tried it with PrintReads, whi

[2020-08-25 04:57] davidbenjamin commented on #6744
AD is very important because it's what the tool uses to decide if an allele is germline (and should be excluded from the panel) or an artifact (and should be kept in the panel).  If it's missing we could instead rely on the GERMQ annotation emitted by FilterMutectCalls or the AF from Mutect2, but would those be combined properly by GenomicsDB?

[2020-08-25 10:07] xiucz commented on #17
@ldgauthier
Hi, can you share the `bcftools merge` code for different callers' results here?  Thanks a lot.

[2020-08-25 16:59] nalinigans commented on #6744
@davidbenjamin,  looks like you may be able to use `AF` when `AD` is missing at least for `VCFCodec`. Check the output of SelectVariants for the issue from the above [comment](https://github.com/broadinstitute/gatk/issues/6744#issuecomment-674291742), looks like `AF` is being correctly handled by `VCFCodec`, whereas `BCFCodec` still suffers from all elements getting dropped after encountering the

[2020-08-25 19:21] gbrandt6 opened #6765 "leftalignindels: java.lang.IllegalArgumentException: the range cannot contain negative indices"
## Bug Report

### Affected tool(s) or class(es)
LeftAlignIndels

### Affected version(s)
- [Exists in version 4.1.7.0 and 4.1.8.1 ]
- [No issue in version 4.1.4.1 ]

### Description
LeftAlignIndels exits with a java IllegalArgumentException. This issue was discussed at the GATK Office Hours. A workaround is using an older GATK version (4.1.4.1), however it still persists in the current GATK versi

[2020-08-25 19:50] gbrandt6 opened #6766 "CombineGVCFs java.lang.NullPointerException"
## Bug Report

### Affected tool(s) or class(es)
CombineGVCFs

### Affected version(s)
- GATK 4.1.8.1 (Latest release as of 08/24/20)

### Description
User is running CombineGVCFs and getting a java error java.lang.NullPointerException
at org.broadinstitute.hellbender.tools.walkers.annotator.allelespecific.StrandBiasUtils.encode(StrandBiasUtils.java:52). This issue was discussed at the GATK Office

[2020-08-25 19:55] droazen commented on #6765
@davidbenjamin Since the error doesn't occur with GATK 4.1.4.1, it's possible that this is a side effect of the changes to `LeftAlignIndels` that went into GATK 4.1.5.0 in https://github.com/broadinstitute/gatk/pull/6427.

@gbrandt6 Could you or the user test whether the error occurs in GATK 4.1.5.0? If it does, that would definitely implicate https://github.com/broadinstitute/gatk/pull/6427 as th

[2020-08-25 20:02] gbrandt6 commented on #6765
Yes, this issue occurs in 4.1.5.0 so it looks like #6427 is the source.

[2020-08-26 05:22] Kmannth commented on #6733
@nh13 It was decided today would would work to make GLK defensive with this issue as a first step.

Right now:
smithwaterman_common.h:#define MAX_SEQ_LEN 1024
I think this may be part of the issue but '''-Xmx4g''' does not seem like alot of space.

[code]

 @droazen Is the seqence size being attempted "1000x2 + 2000 = 4000 " or or is more like "1000x2 + 151 = 2151"

[2020-08-26 09:16] audrysgp opened #6768 "**bug report** No .vcf.stats generated using Mutect2 (GATK v4.1.8.1)"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
- GATK v4.1.8.1

### Description
Hi,
I am new to GATK so I hope this is not something trivial I overlooked.

I called somatic variants using `Mutect2` (GATK v4.1.8.1) and wished to filter the results using `FilterMutectCalls`.  I am running GATK via a docker container as described here: https://gatk.broadinstitute.or

[2020-08-26 15:18] PlatonB commented on #6749
Sorry for my inattention. I fixed it.

[2020-08-26 15:34] fleharty commented on #6744
@nalinigans
David @davidbenjamin and I have discussed the option of using AF when AD is missing.  The change to the code should be relatively straight forward, so we are investigating whether or not this will work.

[2020-08-26 18:21] nh13 opened #6771 "Gatk leaving behind config files"
[code]

Anybody else seeing these files being created but not deleted.  I'm running thousands of samples via HaplotypeCaller/GenotypeGVCFs

[2020-08-26 19:00] droazen commented on #6733
@Kmannth With the `--assembly-region-padding 1000` argument alone, each region will be a maximum of 300 bases, with 1000 bases of padding on either side. So, 2300 bases maximum for the assembly region size. The reads themselves appear to be 151 bases in this case.

[2020-08-26 19:14] droazen commented on #6744
@fleharty Great, let us know whether it turns out to be viable!

As a fallback option, if AF doesn't work out, it might be possible to get a fix for *just* the AD behavior into HTSJDK within a few weeks. My reading of the code suggests that it could be relatively painless, especially if we don't care about the distinction between '.' and 0 for this annotation. A fix for PL, if it's needed, would b

[2020-08-26 19:16] lbergelson commented on #6771
Huh.  I don't know what is generating that.  Can you post the contents of one so we can try to figure out what it is?

[2020-08-26 19:29] #6319 closed

[2020-08-26 20:02] nh13 commented on #6771
[code]

Perhaps it's from a `DataSourceUtils`?

[2020-08-26 20:17] lbergelson commented on #6771
I didn't think HaplotypeCaller used that.  Are you funcotating things?

[2020-08-26 20:20] lbergelson commented on #6771
Ok, I found it.  It's `Resource.getResourceContentsAsFile` which is calling File.createTempFile instead of our version that cleans up.

[2020-08-26 20:21] lbergelson commented on #6771
For some reason I was misconfigured so my search for tmp_read_resource was failing originally.

[2020-08-26 21:02] nh13 commented on #6733
@droazen I think we'll want to set `--max-assembly-region-size` to something large too.  Does this "max" apply before or after padding?

[2020-08-27 06:15] xiucz commented on #4578
I am having the same problem...

[code]

and my command:
[code]

[2020-08-27 09:35] duanshumeng opened #6772 "MESSAGE: Writing failed because there is no space left on the disk or hard drive. Please make some space or specify a different location for writing output files"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-08-27 15:16] fleharty commented on #6744
@droazen
Ideally we would like to get AD to work properly in HTSJDK.  Is it the code in https://github.com/samtools/htsjdk/blob/master/src/main/java/htsjdk/variant/vcf/AbstractVCFCodec.java#L849 that needs to be modified?

[2020-08-27 15:21] droazen commented on #6744
@fleharty It's line 810 in that class (https://github.com/samtools/htsjdk/blob/f15bc9d2c0297a1bde6b89aa95cf2dc45dfc567f/src/main/java/htsjdk/variant/vcf/AbstractVCFCodec.java#L810). We need to switch from calling `decodeInts()` to calling a method that tolerates and preserves missing values. A decision will need to be made about whether, for AD specifically, missing values should be replaced with

[2020-08-27 18:26] lbergelson commented on #6772
@duanshumeng It seems like the error is pretty self explanatory.  You ran out of space on your hard drive.  I'm closing this because I'm not sure what the question is.  Make some room and try again?  If you think there's a bug feel free to re-open and clarify.

[2020-08-27 18:26] #6772 closed

[2020-08-27 19:22] Zepeng-Mu commented on #6292
Hi, I am getting similar errors but I can get output file. I wonder what this error message actually means? Thanks

[2020-08-27 19:58] droazen commented on #1816
This might be worth revisiting now that Travis support for OSX has improved. It would be nice to at least have continuous tests for the conda environment and GenomicsDB on OSX.

[2020-08-27 20:41] nh13 commented on #5651
@ldgauthier is this fixed with `--linked-de-bruijn-graph`?

[2020-08-27 20:49] jonn-smith opened #6774 "Funcotator: Problems with N bases in the reference and predicted protein sequence"
A user has identified an issue with variants near regions of the reference with `N` bases:

https://gatk.broadinstitute.org/hc/en-us/community/posts/360072168572-Funcotator-errors-?page=1#community_comment_360012539271

If Funcotator gets to a codon sequence with `N` bases in it, right now it throws an exception because it cannot decode the `N` bases into a valid amino acid.

Funcotator needs to b

[2020-08-27 21:28] KevinCLydon commented on #6292
@Zepeng-Mu Could create a forum post ([here](https://gatk.broadinstitute.org/hc/en-us/community/topics)) explaining what you tried and the specific error you saw?

[2020-08-28 00:16] Zepeng-Mu commented on #6292
Hi thanks for your quick response.
I created a post and it can be found here: https://gatk.broadinstitute.org/hc/en-us/community/posts/360072760032-HaplotypeCaller-NullPointerException-Error.
I saw some similar posts but it seems that there is no solution.
Thanks again.

[2020-08-28 12:06] fleharty commented on #5651
@nh13 @ldgauthier @davidbenjamin Yes, the new assembly modifications have been made.

[2020-08-28 17:43] droazen opened #6775 "Argument types should be more clearly separated from argument names in the help output"
The way argument types are specified in the GATK help output is apparently causing confusion for some users. Currently the argument type is separated from the argument name by a colon:

[code]

This is leading some users to think that they need to include a colon in their command line, or even the literal string "GATKPath". I suggest that we separate the type from the name using a space instead, w

[2020-08-28 18:37] cwhelan commented on #5651
I'll take a look at this after my current spanning deletion work is done, then, or if possible I'll look into incorporating it into that.

[2020-08-29 05:25] duanshumeng commented on #6772
Thank you very much！------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;Louis&amp;nbsp;Bergelson&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年8月28日(星期五) 凌晨2:26
收件人:&nbsp;&quot;broadinstitute/gatk&quot;<gatk@noreply.github.com&gt;;
抄送:&nbsp;&quot;duanshumeng&quot;<2315440517@qq.com&gt;;&quot;Mention&quot;<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [broadinstitute/gatk] MESS

[2020-08-30 15:06] briandiamondage-sema4 commented on #6521
Hi @droazen  -  is this something you can help us with?  It's been months and we've gotten no insights into it, but it continues to be a high priority for us to resolve.  Please let us know if there's anything else we can do to help, or others we can work with on it.

[2020-08-31 17:43] bhanugandham opened #6776 "Error in SplitNCigarReads v4.8.1.0"
A user reported seeing this error with SplitNCigarReads v4.8.1.0 -- "contig must be non-null and not equal to *, and start must be >= 1".
There was a similar issue ticket for the same exception a couple years back: https://github.com/broadinstitute/gatk/issues/3466

User bug report below:

This request was created from a contribution made by Giulia Corsi on August 19, 2020 15:26 UTC.

Link: [https

[2020-08-31 17:44] bhanugandham commented on #6776
We discussed this issue on the UL channel and decided this is a bug.

[2020-08-31 17:56] jonn-smith opened #6777 "Funcotator - Add redundant codons to DNA -> Protein table for IUPAC bases"
There are places in the genome where IUPAC bases can actually be decoded because the amino acid code is partially redundant.  Add this logic into getMitochondrialAminoAcidByCodon and getEukaryoticAminoAcidByCodon.

[2020-08-31 18:09] droazen commented on #6776
@bhanugandham Can the user provide a runnable test case that reproduces this issue? Once we have that, we can debug.

[2020-08-31 18:13] droazen commented on #6768
@fleharty @davidbenjamin

[2020-08-31 18:14] droazen commented on #6766
@ahaessly It looks like you might have been the last one to touch the relevant lines in `StrandBiasUtils` -- mind looking at this one to check whether your work on the MT pipeline might have triggered this? Thanks!

[2020-08-31 18:16] droazen commented on #6765
@davidbenjamin Can you let us know whether this is something you'll have a chance to look at, or should we assign it to someone else? It looks like your PR https://github.com/broadinstitute/gatk/pull/6427 is the culprit.

[2020-08-31 18:24] droazen commented on #6688
@bbimber Do you consider this issue resolved?

[2020-08-31 18:43] bhanugandham commented on #6776
I have asked the user for test data and will update this issue when they get back to me.

[2020-08-31 18:50] jamesemery commented on #6491
Update on the gene list format discussion: We recently in added GFF3 support in HTSJDK and one possible path forwards for supporting more general gene list formate for DoC would be to leverage the existing implementation that was included in #6602 to allow a second source of gene objects. This could be trivially implemented if we wanted to follow the same approach as #6602 where we simply farm the

[2020-08-31 20:23] #6747 closed

[2020-09-01 00:02] gbrandt6 opened #6783 "HaplotypeCaller improved error message: at AssemblyRegion.getReference"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller GVCF mode

### Affected version(s)
GATK 4.1.8.0

### Description
Discussed on the GATK forum: https://gatk.broadinstitute.org/hc/en-us/community/posts/360072760032-HaplotypeCaller-NullPointerException-Error

Command:
`gatk --java-options "-Xmx4g" HaplotypeCaller -R hg19.fa.gz -I test.bam -O test.g.vcf.gz -ERC GVCF`

#### Stack Trace

[2020-09-01 00:30] Zepeng-Mu commented on #6783
Hi, thanks for pointing this out.
I actually looked at the SAM file:
[code]
and my reference file:
[code]
So there is no contig in the SAM file itself that is not included in the reference. But I pre-filtered my SAM file using samtools, but there are some contigs in the header of SAM that does not exist in the reference. So it seems that this message comes from the header? I can also use the origi

[2020-09-01 01:09] lbergelson commented on #6783
@Zepeng-Mu You say the original mapping contained contigs not in your reference but you filtered it with samtools to remove those contigs?  I wonder if somehow some mappings to other contigs remain.  I opened a PR ( #6781 ) to improve the error message.  If you wanted to debug it further and ( have the time and inclination) you could build that commit and rerun with it to get the new error message

[2020-09-01 12:54] Zepeng-Mu commented on #6783
Hi, it is not likely that some mappings to other contigs still remain in the BAM file, as the command I used `samtools view test.bam| cut -f 3 | uniq` check the chromosome entry of all the mapped reads.

I actually tried removing the contigs in the header section, and now it works fine. The end of the run looks like:

22:45:30.976 INFO  HaplotypeCaller - 0 read(s) filtered by: MappingQualityReadFi

[2020-09-01 13:44] bbimber commented on #6688
@droazen yes, at least to a point we have this worked out.  we really needed something besides CombineGVCFs in order to scale, but GenomicsDB definitely is a new format and I hope the tool keeps getting fleshed out.

One final question: is there a way to check the integrity of a GenomicsDB instance?  With a VCF one could at least iterate it, or check that it's a valid (non-truncated) gzip file.

T

[2020-09-01 14:48] droazen commented on #6688
@nalinigans @mlathara Is there an integrity checker tool for GenomicsDB (or a programmatic way to check the integrity of a GenomicsDB instance)?

[2020-09-01 15:37] GATKSupportTeam commented on #6783
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/14162'>Zendesk ticket #14162</a>)</i>

[2020-09-01 15:40] lbergelson commented on #6783
@Zepeng-Mu Interesting.  Thank you for the follow up!  That helps clarify what's happening.

[2020-09-01 17:45] droazen opened #6786 "Clarify conda supported platforms in the README"
If we don't officially support our conda environment on certain platforms (like OS X), we should mention this in the README.

[2020-09-02 08:32] caijingtao1993 opened #6787 "Suppressed: java.io.IOException: No space left on device"
Dear sir：
       I marked the instructions used in PCR repeat as follows:
gatk MarkDuplicates -I Sample_sorted.bam -O Sample_sorted_markdup.bam -M Sample_markdup_metrics.txt
It will show that the storage of the device is insufficient, as shown below:
![image](https://user-images.githubusercontent.com/67781404/91958406-e2127280-ed39-11ea-915d-a2eee5c51fd1.png)

What method needs to be taken to solv

[2020-09-02 15:30] jonn-smith commented on #6777
This is actually going to be trivial thanks to the pre-made codon sequences on wikipedia:

![image](https://user-images.githubusercontent.com/11667487/92003975-a498ef80-ed0f-11ea-9865-5ef32684aef6.png)

[2020-09-02 16:55] davidbenjamin commented on #6768
@audrysgp It looks like your `samtools view` command removes reads from chr2 but leaves the record for chr2 in the bam header.  Then, when you run using the chr1 reference fasta, the GATK sees the discrepancy in sequence dictionaries and errors.

There is no need to use `samtools view` before running GATK tools.  Just run on the original bams and use the `-L` argument to specify an interval, in th

[2020-09-02 16:56] #6768 closed

[2020-09-02 17:16] davidbenjamin commented on #6765
@droazen I will be done with this in a few days.  I see what's going on in the debugger and know how to fix it.

[2020-09-02 19:12] joshwilding4444 commented on #6786
I would be happy to add that documentation. Which conda environments are supported?

[2020-09-02 19:43] lbergelson commented on #6786
It seems like only linux works at the moment.  We support osx and linux x64 for most things but it turns out that our conda environments don't currently build on osx.

[2020-09-02 21:52] elbakrifz opened #6789 "hard filtering error , gate-4.1.8.1"
I was running this following CML :
java -Xmx8G -jar /Users/mac/Downloads/gatk-4.1.8.1/gatk-package-4.1.8.1-local.jar  VariantFiltration \ -R /Users/mac/Desktop/LmjFwholegenome_20070731_V5.2.fasta \ -V /Users/mac/Desktop/NGS-/57variants.vcf \ -o /Users/mac/Desktop/NGS-/59varians_filt.vcf \ --filter-expression "QD < 2.0 || MQ > 50" \  --filter-name "hard_filtering_snp  and I get : A USER ERROR has o

[2020-09-02 23:46] elbakrifz commented on #6789
when I use this CML:
 java -Xmx8G -jar /Users/mac/Downloads/gatk-4.1.8.1/gatk-package-4.1.8.1-local.jar  VariantFiltration  -R /Users/mac/Desktop/LmjFwholegenome_20070731_V5.2.fasta  -V /Users/mac/Desktop/NGS-/42variants.vcf   -O /Users/mac/Desktop/NGS-/42varians_filt.vcf  --filter-expression "QD < 2.0 || MQ > 50"   --filter-name "hard_filtering_snp"

 I get : 	at java.lang.NumberFormatException.f

[2020-09-03 01:44] BaiqiFu opened #6790 "Error in CombineGVCFs v4.1.8.1"
CentOS Linux release 7.8.2003 (Core)
JAVA: openjdk/14.0.1
GATK: 4.1.8.1

---

I was running this following command:

intervals=$(echo "$(seq 1 22) X Y" | tr " " "\n" | sed 's/^/-L /' | xargs); ref_fasta="/data1/GenomicDatabases/Human/GATK/b37/human_g1k_v37_decoy.fasta"; gvcfs=$(find hapcall -maxdepth 1 -name "*_hapcall.g.vcf.gz" -type f | xargs ls | sed 's/^/-V /' | xargs); /data1/software/gatk/4.

[2020-09-03 15:13] droazen commented on #6790
This is a duplicate of https://github.com/broadinstitute/gatk/issues/6766, which we've confirmed is a bug and have assigned someone to work on a fix.

[2020-09-03 15:13] #6790 closed

[2020-09-03 15:14] droazen commented on #6766
Note that we got a second report for this error here: https://github.com/broadinstitute/gatk/issues/6790

[2020-09-03 16:51] #6786 closed

[2020-09-03 20:00] davidbenjamin commented on #6473
Hmm a GAA -> AAA isn't a MNP, it's a misrepresented SNP.  Definitely a bug on our part, but the issue seems to be that we're not trimming alleles when we should.  I'll need to think about this.

[2020-09-03 20:34] gbrandt6 opened #6793 "GenomicsDB Duplicate Sample Name Error"
## Bug Report

### Affected tool(s) or class(es)
GenomicsDBImport

### Affected version(s)
-4.1.8.1, 4.1.6.0

### Description
Two users are running GenomicsDBImport and getting a Duplicate Sample Name Error and both have reported that they do not have duplicate sample names in their map files. @nalinigans @mlathara does this look like a user issue or bug with GenomicsDBImport?

### First Example
P

[2020-09-03 23:01] mlathara commented on #6793
Hi,

@gbrandt6 can you let me know how to access the bug report files that the user pushed to [ftp](https://gatk.broadinstitute.org/hc/en-us/community/posts/360072797951/comments/360012763332)? Thanks!

[2020-09-04 17:52] R-obert opened #6794 "libgkl on ppc64le fails to load"
Hello,

I'm trying to use GATK4 (4.1.8.1) on an Ubuntu (16.04) machine. The machine is a "PowerLinux" machine and I'm guessing that the most relevant info for the following problem is that it is a ppc64le system. When I use HaplotypeCaller, I see the following messages on the screen:

[code]

Since the calculation takes quite long, I checked the WARN messages of the output above. Especially the la

[2020-09-04 19:41] dcrookston commented on #6794
Disclaimer: I'm a programmer with very little GATK experience.

The problem is that you've got AMD libraries on a PowerPC machine. I don't
know if GATK makes PowerPC libraries available natively, but you should be
able to get the source code and compile it yourself.

Note that this will not fix the problem of your machine architecture
lacking the AVX instruction set. That's a hardware issue. But i

[2020-09-04 21:43] montenegrina opened #6795 "Interpreting gatk Concordance output"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-09-05 07:11] R-obert commented on #6794
My knowledge about .so files, linkers and architectures is very limited but to me it sounds like the GKL library is part of the jar and GATK tries to load it from there. And reading [this](https://github.com/broadinstitute/gatk/issues/2302) thread it sounds like the GKL library of GATK should work on ppc. But maybe @gspowley can comment on this since he seems to be the expert? Because of the "no s

[2020-09-06 05:00] elbakrifz opened #6796 "AddOrReplaceReadGroups error"
I was running this cmd :
I get : java -jar /Users/mac/Downloads/picard-2.jar AddOrReplaceReadGroups                                                                                   I=/Users/mac/Desktop/NGS-/SRR6369642-pe.bam                                     O=/Users/mac/Desktop/NGS-/SRR6369642-pe-RG.bam                                  RGID=C7BDWACXX.5

[2020-09-07 23:16] elbakrifz opened #6797 "AddOrReplaceReadGroups error"
I was running : java -jar /Users/mac/Downloads/picard-2.jar AddOrReplaceReadGroups                                                                            I=/Users/mac/Desktop/NGS-/SRR6369642-pe.bam                                     O=/Users/mac/Desktop/NGS-/SRR6369642-pe-RG.bam                                  RGID=C7BDWACXX.5                                                                RG

[2020-09-08 06:15] R-obert commented on #6794
What [this](https://stackoverflow.com/a/45713118) user describes seems to be what is happening (or supposed to happen). GATK extracts the .so file to a tmp directory and then uses `System.load("/path/to/lib.so")` to load the library. Is it possible that something inside the GATK package was [not cross-compiled](https://github.com/xerial/snappy-java/issues/168#issuecomment-279928072)?

[2020-09-08 09:49] elbakrifz opened #6798 "IndelRealignement error"
I was running this command : java -Xmx4G -jar /Users/mac/Desktop/GenomeAnalysisTK-3.8-0-ge9d806836\ 4/GenomeAnalysisTK.jar \ -T IndelRealigner \ -R /Users/mac/Desktop/NGS-/TriTrypDB-47_LmajorLV39c5_Genome.fasta \ -I /Users/mac/Desktop/NGS-/marked_duplicates42-pe.bam \ -targetIntervals /Users/mac/Desktop/NGS-/42-pe-realigner.intervals \ -o /Users/mac/Desktop/NGS-/42-pe-idelsrealigner.bam

I get :IN

[2020-09-08 15:19] droazen commented on #6794
@R-obert Sorry, but the GKL library does not support PowerPC, only AMD64. The good news is that even with this warning the `HaplotypeCaller` will still run fine -- it will just fall back to using the slower Java implementations of algorithms like the PairHMM rather than the hardware-accelerated versions.

There was an effort a number of years ago by an IBM developer to make a PowerPC build of the

[2020-09-08 16:00] DadongZ commented on #6289
I got same error for gatk 4.1.8.0. Any solutions?

[2020-09-08 16:34] jonn-smith commented on #6289
This will be the next bug I look into.  It's part of a family of issues that all relate to how the predicted protein change is created.

[2020-09-08 17:25] bhanugandham commented on #6776
@droazen The user provided test data(problematic BAM file and its md5sum): https://drive.google.com/drive/folders/1a6q_c7xNlsFqG1B3TdrdVL51_QB5e7RD
The command they used:
`gatk SplitNCigarReads -R hg38_primary_refseq.fa -I SOD1P_A272C_rep2.Dedup.bam -O SOD1P_A272C_rep2.Split.bam`

Additional info: The original raw data is publicly available in the SRA: SRR5273292

[2020-09-08 17:26] GATKSupportTeam commented on #6776
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/9388'>Zendesk ticket #9388</a>)</i>

[2020-09-08 18:09] davidbenjamin commented on #6516
@droazen Confirmed.  There was no error when re-running on the user's data with the latest release.

[2020-09-08 18:09] #6516 closed

[2020-09-08 19:51] davidbenjamin commented on #6724
@slw287r I reproduced your issue and there is definitely something wrong with the active pileup likelihood calculation here.  I will fix it.

[2020-09-08 21:09] DonFreed opened #6801 "Typos in FragmentUtils.adjustQualsOfOverlappingPairedFragments"
## Bug Report

### Affected tool(s) or class(es)
org.broadinstitute.hellbender.utils.fragments.FragmentUtils

### Affected version(s)
- [x] Latest public release version 4.1.8.1
- [X] Latest master branch as of September 8th, 2020

### Description
At, https://github.com/broadinstitute/gatk/blob/12511551a3e273a1ad767253ccba9918d6eb45b9/src/main/java/org/broadinstitute/hellbender/utils/fragments/Fra

[2020-09-08 23:55] slw287r commented on #6724
Thanks a mil!

[2020-09-09 09:37] gcorsi commented on #6776
Thank you for looking into this. I have also uploaded  the reference sequence I used in the same google drive folder.
Note that the sample I uploaded is SOD1PP_rep2, not SOD1P_A272C_rep2 (they fail in the same way, anyway..).
The SRA file mentioned by Bhanu corresponds to SOD1PP_rep2.

[2020-09-09 16:42] #6794 closed

[2020-09-09 17:51] ahaessly commented on #6766
@gbrandt6 @bhanugandham do we have access to gvcfs that reproduce this problem? just want something real to test a fix with.

[2020-09-09 18:13] gbrandt6 commented on #6766
@ahaessly not yet, I'll reach out to the user and let you know when it is available

[2020-09-09 19:01] #2221 closed

[2020-09-09 19:54] cmnbroad opened #6803 "HtsgetReader integration tests are failing"
The  htsget.ga4gh.org appears to be down (tests get 404s, ping fails). This output is from my PR https://github.com/broadinstitute/gatk/pull/6799 that prints out the target URI:

[code]
Jermey (GA4GH dev) says:

But based on the output above, it looks like we actually target `https://htsget.ga4gh.org/read...`.

[2020-09-09 20:11] cmnbroad opened #6805 "Implement WDL test data generation for tools with mutex args."
The WDL auto-gen code includes code to generate a JSON input file with synthesized test data for every WDL, but the test generation code is not mutex-argument aware (the WDLs work fine on such tools; its just that we can't test such a tool using the autogenerated tests data).

When this is fixed, the hard-coded work-around for the mutex arg present in all Spark tools ((`output-shard-tmp-dir`) in `

[2020-09-09 22:46] fleharty commented on #6744
@davidbenjamin Has there been any progress on this?

[2020-09-10 17:37] davidbenjamin commented on #6724
@slw287r I found the error and have fixed it in a branch.  I will test it on a few genomes and then submit a PR.

[2020-09-10 20:34] mlathara commented on #6793
Haven't heard back from the users yet, but so far our investigation seems to indicate this is user error rather than a bug. One of the users did provide some files from their workspace as a bug report, and they indeed had a duplicate sample that they were [trying to import again](https://gatk.broadinstitute.org/hc/en-us/community/posts/360072797951/comments/360012763572).

The other user [has not

[2020-09-10 21:55] #6693 closed

[2020-09-10 22:57] gbrandt6 commented on #6793
Thanks for the update @mlathara. I have not seen a response yet from the second user so it looks like user error.

[2020-09-11 00:36] slw287r commented on #6724
That's cool! thanks

[2020-09-11 02:04] davidbenjamin commented on #6473
@kzukowski The fix in #6510 applied to both HaplotypeCaller/HaplotypeCallerSpark and Mutect2.  However, I am convinced that this is a different issue.  I know where in the code the problem happens, but I don't understand why it goes wrong and I will need a bam file to debug.

Can you share a small chunk of your bam (~1000 bases on either side of 1:560576) that gives the GAA and AAA alleles?

[2020-09-11 02:06] davidbenjamin commented on #6473
And @hanalangoallen and @mlaylwar what ref and alt alleles are you seeing when the error happens?  Are they also cases with redundant equal bases at the end of each allele that, if properly trimmed, would yield a SNP?

[2020-09-11 05:46] kzukowski commented on #6473
@davidbenjamin added
[gatk_issue_bams.tar.gz](https://github.com/broadinstitute/gatk/files/5206918/gatk_issue_bams.tar.gz)

[2020-09-11 08:46] AxVE opened #6808 "HaplotypeCaller parameter --sequence-dictionary is not taken account"
Hello,

It seems the parameter `--sequence-dictionary` does not change the dictionary looked by **HaplotypeCaller**.

[code]

I'm using the local gatk of version 4.1.7.0

[2020-09-11 14:16] droazen commented on #6808
@AxVE GATK always requires that a fasta file have an accompanying `.dict` file, even when the `--sequence-dictionary` argument is specified. You can create one with the `CreateSequenceDictionary` tool.

The `--sequence-dictionary` argument will cause the `HaplotypeCaller` to treat the supplied dictionary as the canonical dictionary for all contig name/length lookups, but it doesn't relax the requi

[2020-09-11 14:16] #6808 closed

[2020-09-11 14:20] AxVE commented on #6808
Oh ok !
I misunderstood, sorry about that.

Thanks

[2020-09-11 14:36] jamesemery commented on #6795
@montenegrina It looks like you might have forgotten to post a description for this issue? Since you haven't described any issues we can't take action on this ticket. If you have questions I would suggest you post them at our forums: https://gatk.broadinstitute.org/hc/en-us/community/topics

[2020-09-11 14:37] ldgauthier commented on #2290
#6570 addresses BOTH mode and multiple inputs

The only thing we aggregate in production is bams.  I can't find any post on the forum that mentions using the --aggregate arg, so I think we can take it out -- see #6809

[2020-09-11 14:46] #6795 closed

[2020-09-11 15:49] ldgauthier commented on #2519
@droazen @vruano can we say DragSTR closes this?

[2020-09-11 15:52] ldgauthier commented on #2290
I was wrong, there is a test for --aggregate because I broke it after I took out the arg.  :-D  In that case, let's leave the arg and this issue is resolved.

[2020-09-11 15:52] #2290 closed

[2020-09-11 18:01] jamesemery commented on #6787
You can also manually set the TMP directory in MarkDuplicates with the argument `--TMP_DIR <Directory>` this will allow intermediate files that are produced by the tool to be redirected to somewhere that does have sufficient space.

[2020-09-11 18:11] jamesemery opened #6811 "Picard engine level arguments don't show up in the GATK help output"
When accessing the help output for Picard tools (example MarkDuplicates) through the gatk launch script it seems that engine level Picard arguments are not showing up in the help output (example `--TMP_DIR`). The default behavior in picard itself is to hide those engine arguments from the help output behind a special help flag `--stdhelp` which adds all of those arguments back into the help output

[2020-09-11 18:18] droazen commented on #6811
It's also worth noting here that GATK has a `--tmp-dir` argument, while Picard has `--TMP_DIR`, and it's not clear how they interact when running Picard tools from within GATK.

[2020-09-11 18:26] jamesemery commented on #6811
@droazen As it turns out they interact poorly. If i try to run a picard tool with the argument `--tmp-dir` you get a failure for the argument being unrecognized where as if I run a GATK tool with `--TMP_DIR` it also fails.

[2020-09-11 18:44] droazen commented on #2519
@ldgauthier Yes, I would say so. Do you agree @vruano ?

[2020-09-12 05:08] vruano commented on #2519
Ok... let's close it, if any thing happen beyond DRAGstr will be a different issue.

[2020-09-12 05:08] #2519 closed

[2020-09-13 03:07] mldmort commented on #5807
Is this issue still open? I'm getting a similar error like this:
[code]

[2020-09-13 08:44] mldmort commented on #5807
Apparently this happens for me only when I use bed files as "--known-sites", and works well when I use vcf files instead.

[2020-09-14 15:54] droazen opened #6813 "Set up continuous tests for the conda environment on MacOS in Travis"
This would be the first step towards officially supporting the conda environment on MacOS.

[2020-09-14 18:12] droazen commented on #6801
@davidbenjamin @fleharty This seems like a simple mistake in the code for `FragmentUtils` (we're using the insertion qualities where we should be using the deletion qualities) -- can you confirm and open a PR to fix this if you agree?

[2020-09-14 18:17] droazen commented on #6798
@elbakrifz The error is telling you that the sequence dictionary for your bam file does not match the sequence dictionary for your reference -- are you using the right reference?

Also, you are running GATK 3, which we no longer officially support. This repository is for GATK 4 issues only.

[2020-09-14 18:17] #6798 closed

[2020-09-14 18:19] droazen commented on #6797
You should ask about this in the Picard repository (https://github.com/broadinstitute/picard), as this is a Picard tool.

[2020-09-14 18:19] #6797 closed

[2020-09-14 18:22] droazen commented on #6789
You should post these kinds of questions on our support forum (https://gatk.broadinstitute.org/hc/en-us/community/topics), rather than in our github issue tracker. Github issues are for bug reports only.

[2020-09-14 18:22] #6789 closed

[2020-09-14 18:23] droazen commented on #6787
Closing as resolved

[2020-09-14 18:23] #6787 closed

[2020-09-14 18:35] davidbenjamin commented on #6801
@droazen @DonFreed Confirmed that this is as much of a mistake as it appears.  I will open a PR.

[2020-09-14 18:38] cmnbroad commented on #6786
@samuelklee The conda env used to work on MacOS - do we know why it broke, or where the limitation is ?

[2020-09-14 18:44] samuelklee commented on #6786
@cmnbroad I called for volunteers on Slack to test out the new environment in #5026 on a Mac (since I don’t use one), but didn’t get any takers. I’m not sure if it’s a particular package causing the conflict, but I won’t be able to test on my end.

In general, I don’t think conda can guarantee cross-platform environments. So we may have to do some further tweaking to the YML or have a separate (an

[2020-09-14 20:13] tfenne opened #6817 "Deletion followed by insertion not called/geontyped correctly by HaplotypeCaller"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
- [x] Latest public release version [4.1.8.1]
- [ ] Latest master branch as of [date of test?]

### Description
I have a sample with a complex variant that could be modeled either as a 1bp deletion followed by a 2bp MNP, or more likely as a 3bp deletion followed by a 2bp insertion (or, if you will, the replac

[2020-09-14 20:19] droazen commented on #6817
@tfenne Can you try running with the latest master? I'm wondering if this is the same issue that was fixed recently in https://github.com/broadinstitute/gatk/pull/6696

[2020-09-14 21:32] tfenne commented on #6817
Thanks for the pointer @droazen - I missed that recent PR.  That does indeed seem to fix it.  With the latest from master I get (info removed for readability):

[code]

It does seem a little odd that the insertion is emitted as T>TAA when the anchoring T is removed in the phased deletion, but it is being called and that's great.

[2020-09-15 03:13] davidbenjamin commented on #6473
@kzukowski When you said you were using GATK 4.1.8.1, did you mean just for CombineVariants?  I ask because the root cause is the call `1 560576 . GAA AAA,<NON_REF>` in p33xLer_F2_2 that is output by HaplotypeCallerSpark, and in GATK 4.1.8.1 with your exact command line I was unable to reproduce the error.  If you have not yet done so, could you re-run from HaplotypeCallerSpark in GATK 4.1.8.1 and

[2020-09-15 08:32] kzukowski commented on #6473
@davidbenjamin yep, I mean just for CombineVariants. Actually I used 4.1.3.0-spark to calling. I reran it...

[2020-09-15 14:53] droazen commented on #6817
The representation leaves something to be desired, for sure, but like you said at least it's called now. Thanks for the fix @takutosato !

[2020-09-15 14:53] #6817 closed

[2020-09-15 16:52] wir963 opened #6818 "PathSeq microbe alignment parameters"
## Documentation request

### Tool(s) or class(es) involved
PathSeq v4.1.8.1

### Description
For the BWA microbe alignment, there are two parameters related to the minimum alignment score required: `--min-score-identity`, which is a function of the total read length, and `--bwa-score-threshold`, which is an absolute value. From the documentation, it is unclear how these two parameters work togeth

[2020-09-15 16:56] wir963 opened #6819 "PathSeq Host Alignment Parameters"
## Feature request

### Tool(s) or class(es) involved
PathSeq v4.1.8.1

### Description
There are two possible alignment metrics for the microbial alignment `--min-score-identity` and `--bwa-score-threshold`. However, there is only one possible alignment metric for the host alignment `--host-min-identity`. If a user wants to use `--min-score-identity`, which is a function of the read length, there

[2020-09-15 17:24] #6801 closed

[2020-09-15 18:11] DonFreed commented on #6801
Thanks for the quick fix!

[2020-09-16 01:48] woaishiye opened #6825 "Does the result of HaplotypeCaller can be affected by the the scaffold order and the lower or upper letters in the reference.fa file"
I wanted to detect variants with HaplotypeCaller（GATK version 4.1.1.0）, i run the program twice with two reference.fa, and i got so different results. The content of this two reference.fa is same and they are in the same version of soybean (Gmax_275_v2.0.fa). The differences of this two reference.fa are as below:
1.This two reference.fa were downloaded from different databases;
2.the order of scaf

[2020-09-16 05:45] kzukowski commented on #6473
@davidbenjamin looks that it works for CombineVariants now. However, I am getting a lot of random errors for HaplotypeCallerSpark (4.1.8.1):

after rerunning with the same parameters for some runs problems disappeared, for some doesn't, and I must rerun them once again. There was no this kind of issue when I was using 4.1.3.0 HaplotypeCallerSpark O_o

I am confused O_o for what version tools works

[2020-09-16 08:27] Rebbeca1985 opened #6826 "GATK3.8 GenotypeGVCFs MQ abnormal"
Hi
We use GATK3.8 GenotypeGVCFs to get 3k population vcf.
we checked the frequency of MQ and found that some sites with MQ higher than 60. Is it abnormal? The MQ peak from older version 3.3 was perfectly near 60 and few were higher than 60.
[GATK3.8.Total.MQ.pdf](https://github.com/broadinstitute/gatk/files/5230820/Total.MQ.pdf)
this file shows the MQ frequency resulted from GATK3.8

[GATA3.3.MQ.p

[2020-09-16 14:24] droazen commented on #6473
@kzukowski Try running with the regular `HaplotypeCaller` in 4.1.8.1 rather than `HaplotypeCallerSpark` (which is still a beta tool), and see if that works for you.

[2020-09-16 14:29] droazen commented on #6826
@Rebbeca1985 This github repository is for issues and bug reports related to GATK 4. GATK 3.x is no longer supported, though you can try asking about this on our support forum: https://gatk.broadinstitute.org/hc/en-us/community/topics

[2020-09-16 14:29] #6826 closed

[2020-09-16 15:02] davidbenjamin commented on #6473
It looks like the problem is solved as far as MNPs are concerned, so I will close this ticket.  If HaplotypeCaller has any new problems let's open a new github issue.

[2020-09-16 15:02] #6473 closed

[2020-09-17 12:54] bshifaw opened #6828 "Mitochondria WDL Requester Pays"
## Feature request

Mitochondria Pipeline

### Description
Many of the users on Terra that work with the GATK workflows get stuck working with requester-pays data. (e.g. [forum post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360067820111/comments/360011055131)). This request asks that the workflow include the requester pays option like the [pathseq](https://github.com/broadinstitute

[2020-09-17 13:01] bshifaw opened #6829 "CNV WDL Requester Pays"
## Feature request

Somatic/Germline CNV WDL

### Description
Many of the users on Terra that work with the GATK workflows get stuck working with requester-pays data. (e.g. [forum post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360067820111/comments/360011055131)). This request asks that the workflow include the requester pays option like the [pathseq](https://github.com/broadinstit

[2020-09-17 13:03] bshifaw opened #6830 "Mutect WDL Requester Pays"
## Feature request

Mutect WDL Requester Pays

### Description
Many of the users on Terra that work with the GATK workflows get stuck working with requester-pays data. (e.g. [forum post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360067820111/comments/360011055131)). This request asks that the workflow include the requester pays option like the [pathseq](https://github.com/broadinsti

[2020-09-17 13:05] bshifaw opened #6831 "Funcotator WDL Requester Pays"
## Feature request

### Tool Workflow
Funcotator WDL

### Description
Many of the users on Terra that work with the GATK workflows get stuck working with requester-pays data. (e.g. [forum post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360067820111/comments/360011055131)). This request asks that the workflow include the requester pays option like the [pathseq](https://github.com/bro

[2020-09-17 13:15] meganshand commented on #6828
I believe this is already implemented [here](https://github.com/broadinstitute/gatk/blob/master/scripts/mitochondria_m2_wdl/MitochondriaPipeline.wdl#L56). @bshifaw Is this argument not showing up in Terra?

[2020-09-17 13:40] #6828 closed

[2020-09-17 13:42] bshifaw commented on #6828
Oops, your right. Ticket closed.

[2020-09-17 14:17] samuelklee commented on #3763
@droazen @lbergelson any chance we can close this out?

[2020-09-17 14:19] samuelklee opened #6832 "Check HDF5 warnings emitted when reading CNV count files."
I thought we resolved these in e.g. #5082, but I see some messages are still appearing in e.g. https://gatk.broadinstitute.org/hc/en-us/community/posts/360073249712-Sample-does-not-have-a-positive-sample-median-when-running-DenoiseReadCounts-

[2020-09-17 16:57] droazen commented on #6830
@fleharty / @davidbenjamin  ^^^

[2020-09-17 16:59] samuelklee commented on #6829
Nope, not the CNV guy any more!

[2020-09-17 16:59] droazen commented on #6829
@mwalker174 ^^^

[2020-09-17 17:15] droazen commented on #6831
@jonn-smith ^^^

[2020-09-17 17:20] droazen commented on #3763
@samuelklee Sure, would you care to review https://github.com/broadinstitute/hdf5-java-bindings/pull/14 to see whether it fixes this issue?

[2020-09-17 18:22] droazen opened #6833 "-ERC BP_RESOLUTION mode in HaplotypeCaller needs an integration test"

[2020-09-17 18:40] jonn-smith commented on #6831
Interesting.  I'll check it out.

[2020-09-21 06:06] TatyanaLev opened #6836 "docker pull problem: manifest unknown"
I'm trying to get the container/image from spacecade7/tutorial_11682_11683/ to use the copy number alteration tutorial.
The following error comes up on both my macbook, and on a linux system.

$ docker pull spacecade7/tutorial_11682_11683
Using default tag: latest
Error response from daemon: manifest for spacecade7/tutorial_11682_11683:latest not found: manifest unknown: manifest unknown

[2020-09-21 13:08] cmnbroad commented on #6831
Sounds like we should probably add a param for this to the GATK generated WDLs too (@bshifaw ?). I can do that separately.

[2020-09-21 16:34] droazen commented on #6793
Closing as resolved

[2020-09-21 16:34] #6793 closed

[2020-09-21 17:35] jonn-smith opened #6837 "New Tool: Reference Comparator"
We need a tool to compare multiple references and  spit out a TSV (or similar) detailing what the differences are.  Additionally it should  be able to spit out a liftover file that will properly move a variant from one reference to another.

We should first compare the sequence dictionaries in the references to see if they have equal lengths and checksums  - the names may differ and we should trac

[2020-09-21 18:06] droazen commented on #6796
@elbakrifz This looks like https://github.com/Intel-HLS/GKL/issues/101, which is believed to be fixed in the upcoming release of the GKL. For now, you can tell Picard to use the Java deflater, rather than the Intel deflater, by specifying `USE_JDK_DEFLATER=true` and/or `USE_JDK_INFLATER=true`

[2020-09-21 18:09] droazen commented on #6830
Related to https://github.com/broadinstitute/gatk/issues/6831 as pointed out by @jonn-smith

[2020-09-21 18:13] droazen commented on #6836
@bhanugandham @gbrandt6 Do either of you recognize the docker image referenced above? Is it referenced in one of our official tutorials?

@TatyanaLev You might try using the official GATK docker images here instead: `broadinstitute/gatk:4.1.8.1`

[2020-09-21 18:16] droazen commented on #6825
@woaishiye Could you provide more detail on how the output VCFs differ when run with the two different references? Are the variant calls themselves different in some way, or are the records just in a different order?

[2020-09-21 18:21] droazen commented on #6748
@joshwilding4444 Were you able to get our test suite running, or are you still running into this? We've never seen this error before and are not sure of the cause. Are you running with Java 8, or a later version of Java?

[2020-09-21 18:37] droazen commented on #6766
@gbrandt6 Any update on this one?

[2020-09-21 18:55] cmnbroad commented on #6837
Good idea. Another use case for this would be to take a bam/cram and set of references, and see if there is a reference suitable for the bam/cram, which would super useful for finding the reference for an existing CRAM, and also for finding a suitable reference to use to do a bam->cram conversion (which comes up a lot when adding cram tests).

[2020-09-21 19:36] gbrandt6 commented on #6836
It looks like we recommend this docker image in one of our tutorials [(How to part I) Sensitively detect copy ratio alterations and allelic segments](https://gatk.broadinstitute.org/hc/en-us/articles/360035531092--How-to-part-I-Sensitively-detect-copy-ratio-alterations-and-allelic-segments) but I do not recognize the user that created it.

[2020-09-21 19:42] droazen commented on #6836
@gbggrant The tutorial might need to be updated to point to a different image, then, as this image may be gone.

Closing this issue so that the discussion can move to the forum.

[2020-09-21 19:42] #6836 closed

[2020-09-21 20:05] AlijahArcher opened #6839 "PrintReads --remove-mates or --update-flags option"
## Feature request

### Tool(s) or class(es) involved
GATK PrintReads

### Description
- Currently, this tool appears to consider reads independently of their mate, therefore if one partner is filtered and the other is not the SAM flags for the remaining read will be incorrect (indeed resulting BAMs from this tool fail GATK ValidateSamReads with error MATE_NOT_FOUND).
    - Here is a flagstat of o

[2020-09-21 20:06] AlijahArcher commented on #6839
Or give `GATK FilterSamReads` the ability to use ReadFilters, since it already seems to have the "Filter the whole read pair if one partner doesn't pass" mentality

[2020-09-21 23:03] gbrandt6 commented on #6766
No update from the user, sent them a reminder just now.

[2020-09-22 12:48] wir963 commented on #6818
@mwalker174 do you have any update on this? Am I confused in my understanding?

[2020-09-22 13:57] cmnbroad commented on #6775
Barclay PR for the command line part is https://github.com/broadinstitute/barclay/pull/172. We still need to update the GATK html templates to change the generated doc.

[2020-09-22 14:10] cmnbroad commented on #6775
Edit: looks like the html doc doesn't use the colon.

[2020-09-22 15:49] ahaessly commented on #6766
I'm assuming that one or more of the GVCF files that are being combined are missing the AS_SB_TABLE attribute. what is the correct behavior in this case? Do we sum up just the data that we have? Or since we are missing some data, do we mark this combined value as missing?

[2020-09-22 16:56] droazen commented on #6766
@ahaessly Maybe @ldgauthier has an opinion on what the behavior should be in that case?

[2020-09-22 19:55] gbrandt6 commented on #6202
A user wrote in with a similar issue in the GATK forum. Using FilterMutectCalls after Mutect2(successful), they got an error `java.lang.IllegalArgumentException: alpha must be greater than 0 but got NaN` Here is the post: https://gatk.broadinstitute.org/hc/en-us/community/posts/360073336352-Error-running-FilterMutectCalls-alpha-must-be-greater-than-0-but-got-NaN

@davidbenjamin do you know if thes

[2020-09-22 21:15] joshwilding4444 commented on #6748
I was able to get all the unit tests working after updating to the current master branch and making sure to use Java 8.

[2020-09-22 22:00] nh13 opened #6845 "Phased variants do not have the same phase set identifier"
I have four phased variants in close proximity that have the following pattern:

[code]

These four variants are wholly contained in a single set of reads.  There are of course other reads that partially span them.

The first variant is a deletion, while the remaining three are SNVs.
Examining the reads, there are two haplotypes since:
1. Alternate for the 1st and 3rd read
2. Alternate for the 2nd

[2020-09-22 22:01] nh13 commented on #6845
Expected this:

[code]

[2020-09-22 22:02] nh13 commented on #6845
Version: 4.1.8.1

Command:
[code]

[2020-09-22 22:33] droazen commented on #6748
@joshwilding4444 Glad to hear it! I'll close this ticket then.

[2020-09-22 22:33] #6748 closed

[2020-09-23 02:20] woaishiye commented on #6825
Thank you for your reply!
I got 80681 variant sites with one reference file, and i got 80703 variant sites with another reference file, i wanted to upload the original gatk-HaplotyperCaller(4.1.1.0) generated .vcf.gz file, but failed，so, here i just attach some examples of the difference between this two vcf file.
In one vcf, i got 1189144 and 1189216 variant sites on scaffold_21, but no this two

[2020-09-23 02:26] woaishiye commented on #6825
Thank you for your reply!
I got 80681 variant sites with one reference file, and i got 80703 variant sites with another reference file, i wanted to upload the original gatk-HaplotyperCaller(4.1.1.0) generated .vcf.gz file, but failed，so, here i just attach some examples of the difference between this two vcf file.
In one vcf, i got 1189144 and 1189216 variant sites on scaffold_21, but no this two

[2020-09-23 02:39] woaishiye commented on #6825
Thank you for your reply!
I got 80681 variant sites with one reference file, and i got 80703 variant sites with another reference file, i wanted to upload the original gatk-HaplotyperCaller(4.1.1.0) generated .vcf.gz file, but failed，so, here i just attach some examples of the difference between this two vcf file.
In one vcf, i got 1189144 and 1189216 variant sites on scaffold_21, but no this two

[2020-09-23 05:14] bhanugandham commented on #6837
This is great! Thanks for putting this together Jonn.

Could we also add the option to compare a vcf and a reference to see if the vcf was generated using that reference? Sometime users have vcfs from a previous study and don't know for sure if they are using the right ref. We see this often. Users want to use post-variantcalling tools and end up getting weird errors due to a wrong reference.

[2020-09-23 09:30] QuanLG opened #6846 "How is QUAL calculated?"
hello
         I can find "Difference between QUAL and GQ annotations in germline variant calling" on GATK web,but can't find how to calculate it.
        And I can find on **https://www.biostars.org/p/174075/**  QUAL **is related to** the amount of data available (=depth of coverage at the site) (because we are more confident when we have more observations to rely on), the quality of the mapping

[2020-09-23 17:32] droazen commented on #6775
A fix for this issue has been merged into Barclay, and should be part of the next GATK release.

[2020-09-23 18:56] droazen commented on #6766
@gbrandt6 While you're at it, would you mind asking the user to try running with GATK 4.1.6.0, and reporting back as to whether the same error occurs? The annotation changes for the MT pipeline went in in version 4.1.7.0, so this would help narrow things down a bit.

[2020-09-23 19:05] droazen commented on #6766
@ldgauthier @ahaessly and I could use your thoughts/intuition as to what might be going wrong here. The `NullPointerException` the user reported is in the `StrandBiasUtils.encode()` method below, and it implies that either the `perAlleleValues` for one of the alleles is itself null, or the `perAlleleValues` for one of the alleles contains a null `Integer`. In `computeSBAnnotation()` we have `perAl

[2020-09-24 02:31] davidbenjamin commented on #6846
@QuanLG Here is our documentation: https://github.com/broadinstitute/gatk/blob/master/docs/gatk_qual.pdf

[2020-09-24 02:31] #6846 closed

[2020-09-24 16:01] droazen commented on #6766
@ahaessly and I have figured out what's triggering this error, and are working on a patch. It should be part of the next GATK release.

[2020-09-27 03:26] QuanLG commented on #6846
Thanks

[2020-09-28 14:40] cmnbroad opened #6849 "FixCallSetSampleOrdering should be removed"
GenomicsDBImport also has to be changed since it depends on some code in FixCallsetSampleOrdering

[2020-09-28 20:58] gbrandt6 opened #6850 "FilterMutectCalls: alpha must be greater than 0 but got NaN"
## Bug Report

### Affected tool(s) or class(es)
FilterMutectCalls and possibly Mutect2

### Affected version(s)
GATK 4.1.7.0, still occurs in 4.1.8.1

### Description
User running Mutect2 in mitochondrial mode and ERC BP_RESOLUTION. Mutect2 is successful, however filter mutect calls has error message
`java.lang.IllegalArgumentException: alpha must be greater than 0 but got NaN`

Possible similar

[2020-09-28 21:01] GATKSupportTeam commented on #6850
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/25264'>Zendesk ticket #25264</a>)</i>

[2020-09-28 21:18] gbrandt6 opened #6851 "Mutect2 BAM contigs not in reference"
## Bug Report

### Affected tool(s) or class(es)
Mutect2

### Affected version(s)
4.1.8.1

### Description
A user is getting a java.lang.NullPointerException when running Mutect2. As discussed at GATK Office Hours 09/28/20, it seems to be an issue where the BAM contigs are not present in the reference sequence dictionary. We discussed an improvement with either the filter for this problem or the e

[2020-09-29 13:00] cwhelan opened #6853 "Running a single test through Gradle with `test.single` not working"
The README suggests that

But when I run `./gradlew test -Dtest.single=HaplotypeCallerIntegrationTest` or `./gradlew test -Dtest.single=org.broadinstitute.hellbender.tools.walkers.haplotypecaller.HaplotypeCallerIntegrationTest` gradle runs the entire integration test suite.

Running `./gradlew test --tests *HaplotypeCallerIntegrationTest` does produce the desired result of running just `HaplotypeC

[2020-09-29 17:22] GATKSupportTeam commented on #6851
<i>(related to <a href='https://broadinstitute.zendesk.com/agent/tickets/27168'>Zendesk ticket #27168</a>)</i>

[2020-09-29 21:45] RWilton opened #6854 "MappingQualityReadFilter minimum mapping quality is a no-op"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller / GenotypeGVCFs

### Affected version(s)
4.1.8.1

### Description
Identical variant calls are generated with and without a minimum MAPQ parameter for the ```MappingQualityReadFilter``` filter.

#### Steps to reproduce
[code]

#### Expected behavior
Reads with MAPQ less than the specified value should be filtered out.

#### Actual beh

[2020-09-29 22:54] uros-sipetic opened #6855 "VariantEval with dbSNP to work with full dbSNP"
## Feature request

### Tool(s) or class(es) involved
_GATK VariantEval_

### Description
Currently, if I provide a VCF to VariantEval together with a dbSNP file, but the input VCF does not variants on all chromosomes or contigs from the dbSNP, the tool will fail.
The current solution is to always check the input VCF for all chromosomes/contigs where mutations exist, and then filter the dbSNP file

[2020-09-30 14:58] droazen commented on #6854
@RWilton The `HaplotypeCaller` performs two separate filtering passes on the read mapping qualities:

The first is in the `MappingQualityReadFilter`, and occurs before the `HaplotypeCaller` even sees the reads. This filtering pass can be controlled via the `--minimum-mapping-quality` argument you're using (and I can confirm that this argument is hooked up and does work as intended).

The second pa

[2020-09-30 15:00] #6854 closed

[2020-09-30 16:33] jamesemery commented on #6854
@RWilton We are adding into a future version of haplotype caller an argument that will allow you to independently change the genotyper level mapping quality filter as well as the active region mapping quality filter (the one you have already found). This should allow you to look at lower quality reads but it should be noted that it is unlikely the Haplotype Caller will produce good results at site

[2020-09-30 16:49] RWilton commented on #6854
@droazen Thank you for the confirmation that HaplotypeCaller performs separate filtering passes on the read mapping qualities, and that the code on line 729 of HaplotypeCallerEngine.java (method ```filterNonPassingReads()``` ) is indeed executing subsequent to the ```MappingQualityReadFilter```.

May I suggest, however, that MAPQ values less than 20 might not necessarily lead to an increase in FP

[2020-09-30 20:33] jamesemery commented on #6854
@RWilton There is not particular code I can point to that specifically should fall over. We filter out low MQ reads in large part because they are very likely to cause false positives corresponding to sequence from other regions on the genome and the current behavior for adjusting genotyper confidences based on mapping quality (which is accomplished by lowering the Base Qualities based on the MQ p

[2020-09-30 22:17] DonFreed opened #6857 "AS_FilterStatus uses an incorrect number of fields for some records"
## Bug Report

### Affected tool
Mutect2

### Affected versions
- [x] Latest public release version 4.1.8.1
- [x] Latest master branch as of 9/20/2020

### Description
Mutect2’s header defines `AS_FilterStatus` as follows:
[code]

`AS_FilterStatus` uses the pipe character `|` for per-allele concatenation and a comma `,` for filter concatenation. This causes records to have an incorrect number of v

[2020-10-05 18:10] droazen commented on #6857
@ldgauthier It seems that we might be violating the VCF spec with the way values are delimited in the `AS_FilterStatus` annotation. How would you feel about correcting this?

[2020-10-05 18:14] droazen commented on #6851
@fleharty @davidbenjamin ^^^

[2020-10-05 18:17] droazen commented on #6850
@fleharty @davidbenjamin ^^^

[2020-10-05 18:19] droazen commented on #6845
@cwhelan Since you're looking at the phasing code in HC at the moment, would you have any insight into this issue?

[2020-10-05 18:26] #6796 closed

[2020-10-05 18:30] #6756 closed

[2020-10-05 18:36] nh13 commented on #6845
Shared with @cwhelan via email.  Thanks for looking at this!

[2020-10-05 22:36] gbrandt6 opened #6862 "Add LearnReadOrientationModel documentation to ToolDocs"
## Documentation request

### Tool(s) or class(es) involved
LearnReadOrientationModel

### Description
The tool LearnReadOrientationModel does not appear in the tool docs. We would like to update the documentation for this tool so that it is included with the other tool docs when GATK is updated and is more visible to users.

[2020-10-06 12:29] cmnbroad commented on #6862
This is a duplicate of https://github.com/broadinstitute/gatk/issues/6720, which has already been fixed in https://github.com/broadinstitute/gatk/pull/6726. The doc will appear in the next release.

[2020-10-06 12:29] #6862 closed

[2020-10-06 15:36] samuelklee opened #6863 "Consider exposing Smith-Waterman parameters."
Any objections to exposing SW parameters to the command line? This looks like something we will want to explore for malaria. I'm also not convinced that our current parameters have been justified and/or optimized in any documented way.

A few questions:

1) There are 3 sets of parameters used in various ways, a) haplotype-to-reference alignment, b) read-to-haplotype alignment, and c) dangling ends

[2020-10-06 16:02] ldgauthier commented on #6857
It looks like that's just what Don did in #6858

[2020-10-06 19:18] gbrandt6 commented on #6862
Thank you @cmnbroad

[2020-10-06 21:54] theisaacwong opened #6865 "CollectReadCounts java.lang.ArrayIndexOutOfBoundsException"
## Bug Report

### Affected tool(s) or class(es)
CollectReadCounts

### Affected version(s)
- [x] Latest public release version [4.1.8.1]
- [x] Latest master branch as of [10/6/2020]

### Description
GATK CollectReadCounts successfully processes some reads but then throws an ArrayIndexOutOfBoundsException in the middle of the file. Console output below. I was able to successfully run CollectReadCo

[2020-10-07 14:00] cmnbroad commented on #6865
@theisaacwong Thanks for reporting this. it might be hard to debug this without access to the input file. It looks like the issue might be with the cram file itself - do you know how the file was created (GATK, etc. ?)

[2020-10-07 15:40] mwalker174 commented on #6818
Hi @wir963, looking back on this I see that the documentation is a bit ambiguous. `--bwa-score-threshold` is applied first during the microbe alignment step and actually is actually passed directly to `bwa mem` as the `-T` parameter (see http://bio-bwa.sourceforge.net/bwa.shtml). `--min-score-identity` is, as you noted, a fractional value of the read length between 0 and 1 that is applied during t

[2020-10-07 15:49] mwalker174 commented on #6819
Thanks for your suggestion @wir963. The `--min-score-identity` and `--host-min-identity` parameters can be used to tune your desired specificity/sensitivity for microbe read detection. The default settings should guarantee that the identified microbial reads have better alignments to the microbe reference than host.

[2020-10-07 17:22] droazen commented on #6863
@samuelklee I support exposing these parameters via the command line, but I'd be opposed to any consolidation of parameters that changes the HaplotypeCaller output prior to the initial DRAGEN-GATK release in November, as the evaluations in that project are difficult enough as it is. If you want to do an evaluation to find the best set of SW parameters now, that's fine of course -- but we wouldn't

[2020-10-07 17:51] samuelklee commented on #6863
OK, thanks @droazen. I'll go ahead and expose all of them in a branch for now.

For my own education, perhaps @jamesemery or @vruano can comment---does turning on DRAGEN sidestep all or some subset of the code paths where the above 3 sets of parameters come into play?

For what it's worth, now that I'm looking at short variants in malaria as a "novice" HC/M2 user, the command line options are quit

[2020-10-07 20:26] ldgauthier commented on #6825
I have two questions for you @woaishiye:

1) Can you use the .dict file that goes with your references to verify that the MD5s for your contigs are the same between the two references?  (If you don't have a .dict file for some reason, you can use CreateSequenceDictionary in Picard/GATK)

2) Which reference was used to align the reads?  Is this the same input bam in the two cases?

[2020-10-07 20:48] ldgauthier commented on #6762
My branch only validates the lengths of some annotations of type list -- I didn't add any checks with respect to the spec.

[2020-10-08 11:56] #6775 closed

[2020-10-08 12:05] theisaacwong commented on #6865
The problem was indeed a corrupted cram file. Changing query intervals was seemingly able to skip over the problematic area and generate an output file.

[2020-10-08 12:05] #6865 closed

[2020-10-08 14:32] jamesemery commented on #6863
@samuelklee DRAGEN STRE model doesn't actually make any alterations to the smith waterman parameters or how they work, it just works by adjusting the indel gap penalties that are used for the PairHMM. At one point we were concerned about SW parameters being different with dragen but as it turns out the biggest visible effect of the SW parameters on the output (the alignment we perform after haplot

[2020-10-08 14:56] samuelklee commented on #6863
Great, thanks for those details @jamesemery.

It's certainly possible that unifying the parameters could indeed have a negative impact. However, as values for the current sets seem to have been chosen rather arbitrarily, I don't think we should be too wedded to them---if we have to stick to 3 distinct sets, perhaps we can still find some better values for each of them, or at least demonstrate some

[2020-10-08 15:03] jonn-smith opened #6873 "Funcotator Data Sources Manifest / Readme for User-created Datasources"
Funcotator's datasources README and / or Manifest files need to have an indicator that the user has created these datasources.

This indicator should disable the minimum / maximum version checks in the code for Broad-curated data sources.

[2020-10-08 15:38] #6766 closed

[2020-10-08 15:39] droazen commented on #6766
@gbrandt6 This was fixed in the PR https://github.com/broadinstitute/gatk/pull/6847, which will go out as part of GATK 4.1.9.0

[2020-10-08 15:55] gbrandt6 commented on #6766
Thank you for the update, @droazen

[2020-10-08 15:56] #6765 closed

[2020-10-08 16:55] Siadjeu opened #6875 "INFO: Failed to detect whether we are running on Google Compute Engine: gatk4 4.1.8.1"
I am trying to run  gatk4 4.1.8.1 and I went through this problem:

Oct 08, 2020 6:35:26 PM shaded.cloud_nio.com.google.auth.oauth2.ComputeEngineCredentials runningOnComputeEngine
INFO: Failed to detect whether we are running on Google Compute Engine.
18:35:26.515 INFO  MarkDuplicatesSpark - ------------------------------------------------------------
18:35:26.515 INFO  MarkDuplicatesSpark - The G

[2020-10-08 17:00] droazen commented on #6875
@Siadjeu It looks like you're running with Java 11, which is unsupported. Please try re-running with Java 8.

[2020-10-08 17:04] Siadjeu commented on #6875
@droazen ok thanks I will try to run it with java 8.

[2020-10-08 18:55] vruano opened #6876 "Transform java-stream parallelism into spark parallelism after PR #6634 has been merged"
### Affected tool(s) or class(es)
_EstimateDragstrParameters_

### Affected version(s)
- [ ] Latest public release version [version?]
- [X] Latest master branch as of [after PR 6634 has been merged in]

### Description

Look for usages of ```Utils.runInParallel```. Change those to use Spark instead.

There is a possibility of removing multi-threading all together if we change the way we decimate a

[2020-10-08 18:58] vruano opened #6877 "Extract feature and feature codec from DragstrLocus and DragstrLocusUtils classes after #6634 PR has been merged."
## Make a feature from DragsrLocus and a FeatureCode from DragstrLocusUtils.

### Tool(s) or class(es) involved
_ComposeSTRTableFile_, _EstimateDragstrLocus_

### Description
Seems that we should be able to do this and so reuse the same FeatureCodec framework for this kind of feature.:

[2020-10-09 01:22] #6744 closed

[2020-10-09 01:24] #3012 closed

[2020-10-09 01:24] #4885 closed

[2020-10-09 01:24] #6724 closed

[2020-10-09 02:31] samuelklee opened #6878 "Double check effect of zero fraction-coverage interval medians in somatic denoising."
Typically only happens in edge cases, e.g., building a PoN with a single sample or with many poorly covered intervals.  This can yield NaN values in the PoN, which HDF5 then writes as zeros.  Not sure if this ultimately has any impact or if the zeros wash out later.  Some discussion in https://github.com/broadinstitute/gatk/pull/6624

[2020-10-09 03:25] woaishiye commented on #6825
@ldgauthier  below are the answers for your questions:
1.yes, the MD5 values in the .dict files for every contig are the same
2.I run the alignment process twice with the same clean data set. First, i mapped the reads onto the first reference, and then, i mapped the clean reads onto the second reference, so in total, i got two bam files as the input for gatk. But the content of these two reference

[2020-10-09 03:30] samuelklee commented on #6878
For a single sample with uncovered intervals and the interval median filter disabled, it looks like the PoN builds successfully, but we get a `java.lang.IllegalArgumentException: Non-finite log2 copy ratio is not allowed.` in DenoiseReadCounts. Probably should fail earlier in CreateReadCountPanelOfNormals.

[2020-10-09 13:42] Siadjeu commented on #6875
@droazen I ran gatk4 with Java 8 and I am still encounter the same issue!

[2020-10-09 14:24] #6831 closed

[2020-10-09 18:46] #6829 closed

[2020-10-09 22:11] #6712 closed

[2020-10-11 00:03] DonFreed opened #6882 "finalizeRegion modifies read base qualities in place"
## Bug Report

### Affected class
AssemblyBasedCallerUtils

### Affected version(s)
- [x] Latest public release version 4.1.9.0
- [x] Latest master branch as of 10/10/2020

### Description
When adjusting the base quality of overlapping read pairs, the modifications are made in place. If the modified reads are later used in another active region, the results from the later active region will be cha

[2020-10-12 12:18] Siadjeu commented on #6875
@droazen here are the error messages with gatk4.1.8.1 and gatk4.1.4.1:

15:01:44.424 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/cm/shared/unil/software/8.3/GATK/4.1.4.1-GCCcore-8.3.0-Java-8/gatk-package-4.1.4.1-local.jar!/com/intel/gkl/native/libgkl_compression.so
Oct 09, 2020 3:01:45 PM shaded.cloud_nio.com.google.auth.oauth2.ComputeEngineCredentials runningOnCompute

[2020-10-13 13:31] yl-h commented on #6744
@davidbenjamin Thanks for the workaround in the 4.1.9.0 release!

I tested the updated `CreateSomaticPanelOfNormals` with `genomicsDBs` computed in 4.1.7.0 as above and it seems that the workaround recovers a lot of multiallelic variants that were already missing in 4.1.7.0.

Using the record and variant counts in 4.1.7.0 as 100% reference, I'm getting 57% more records (all multiallelic) or 142% m

[2020-10-13 13:55] ldgauthier commented on #6825
There are still too many variables here.  Do you know that the input bams are the same?  Are you using BWA-MEM?  My theory is that it's choosing different secondary alignments in MQ0 cases, preferring bases that are capital.  If you can show that the same reads going in produce different variants with your two different references then this will be a lot easier to debug.

[2020-10-13 15:02] davidbenjamin commented on #6744
@yl-h Thank you for the update!  Although we write tests for bug fixes, there is nothing so reassuring as hearing from users.  As you noted, the `FRACTION` and `BETA` annotations will require a more involved solution to compute properly, but fortunately they are experimental and not used in filtering.

[2020-10-13 16:44] samuelklee commented on #6863
I've found at least one optimization that may be invalid if SW parameters are changed (also noted by @yfarjoun https://github.com/broadinstitute/gatk/commit/4ccbaddc069539fa6e3ac2690469c1e0a4b03ccb#r31525284). I'm going to remove this for now, but will leave a TODO that it could be reintroduced if appropriate checks on the SW parameters are performed.

[2020-10-13 18:06] droazen commented on #6875
@Siadjeu Could you try running the latest 4.1.9.0 release and reporting whether you get the same error? We updated a number of our dependencies for that release, including the Google cloud NIO library that the error is coming from.

[2020-10-13 18:08] droazen commented on #6875
Also, can you tell us whether the tool runs to completion and produces an output file, despite the message about Google Compute Engine?

[2020-10-13 18:14] samuelklee commented on #6863
![IMG_9960](https://user-images.githubusercontent.com/11076296/95899038-ee88e280-0d5d-11eb-86bf-272687eb9ac0.jpg)

Decided to just sit down and go through the exercise of threading all of the parameter sets after biffing it once. Reproducing above; might be helpful for the reviewer if this goes in, but they may want to independently check it.

I would hope that we could do some refactoring to simp

[2020-10-14 10:14] Siadjeu commented on #6875
@droazen, yes despite the message about Google gatk4 runs well and I got an output file. Thanks for your support!

[2020-10-14 12:12] Siadjeu commented on #6875
@droazen I ran the latest version but the message about google is still there!

14:08:05.607 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/cm/shared/unil/software/8.3/GATK/4.1
.9.0-GCCcore-8.3.0-Java-8/gatk-package-4.1.9.0-local.jar!/com/intel/gkl/native/libgkl_compression.so
Oct 14, 2020 2:08:06 PM shaded.cloud_nio.com.google.auth.oauth2.ComputeEngineCredentials running

[2020-10-14 14:32] lbergelson commented on #6875
@Siadjeu Don't worry about the "Failed to detect" message.  It indicates some internal state in one of the google libraries but not an error we need to worry about.  Generally you shouldn't worry about INFO messages if everything else is going fine and they don't say something particular about what you're doing.  A WARNING or ERROR message would indicate a problem.  This should maybe be downgraded

[2020-10-14 15:03] Siadjeu commented on #6875
@lbergelson thanks for your comment and that is what I thought!

[2020-10-14 15:05] #6875 closed

[2020-10-14 15:46] yl-h commented on #6744
@davidbenjamin Sorry, I have a follow-up comment regarding the new sites in 4.1.9.0.

Around 79% of the new sites can be emitted by disabling the germline filter in 4.1.7.0. I had a look at the rest of records in `genomicsDB` using `SelectVariants` specifically in chromosome 1. Among those, ~27% have only one real ALT allele alongside a spanning deletion, with only one sample with positive/non-emp

[2020-10-14 18:00] droazen opened #6887 "Add the Dockstore integration app to the repo"
As requested by @bshifaw here: https://github.com/broadinstitute/gatk/pull/6770#issuecomment-708478858

[2020-10-14 22:02] tfenne commented on #5912
I would also really appreciate it if these log messages contained the locus/position that generated the warning.

[2020-10-14 23:03] tfenne opened #6889 "Super-weird non-determinism in HaplotypeCaller in GATK 4.1.4.1"
This is more of a question than an outright bug report.  I've observed something very strange today, that I cannot reproduce, and am looking for some help figuring out what's going on.

The long and the short of it is that I'm operating on a commercial platform where I've run the same job 4 times.  I can see logs and confirm that a) the exact same docker image is used for all four runs, b) the exa

[2020-10-15 14:47] droazen commented on #6889
@tfenne We've had a couple of instances of non-determinism in the HaplotypeCaller in the past (https://github.com/broadinstitute/gatk/pull/6195, https://github.com/broadinstitute/gatk/pull/6104), but these resulted only in *very* minor differences in the output, and were patched in version 4.1.4.0. "A hardware issue that intermittently affects only AVX operations" is theoretically possible I suppo

[2020-10-15 15:36] gbrandt6 commented on #5869
A similar error message has been reported on the forum [here](https://gatk.broadinstitute.org/hc/en-us/community/posts/360073781912-Error-when-running-HaplotypeCallerSparkinfinite).

GATK Version: 4.1.9.0

The command is: ```
gatk# ./gatk HaplotypeCallerSpark -I HG03934.final.bam \
-O HG03934.final.g.vcf \
-R Ref/GRCh38_full_analysis_set_plus_decoy_hla.fa --emit-ref-confidence GVCF \
-- \
--spark-

[2020-10-15 16:28] ldgauthier commented on #6889
@tfenne GIven that you're seeing this 25% of the time (in this small sample) at least it's common enough we can do some efficient investigation. Have you tried without the AVX accelerated PairHMM?  The Java LOGLESS_CACHING version is not hardware accelerated, so if you are having AVX issues, then I would expect that one to be successful 100% of the time.  (It is significantly slower.  By a lot.)

[2020-10-15 16:41] jamesemery opened #6890 "Fix FragmentUtils.adjustQualsOfOverlappingPairedFragments() to better handle indels"
Currently the code for `adjustQualsOfOverlappingPairedFragments()` operates by scanning over the bases and base qualities for two overlapping reads and adjusting the base qualities if there are discrepancies in the represented bases. Unfortunately this can lead to unexpected behavior if the reads have indels relative to one another, often arbitrarily throwing out most base qualities while leaving

[2020-10-15 17:26] droazen commented on #5912
@tfenne @gubrins @pkaleta @aushev I've opened a PR to improve these log messages here: https://github.com/broadinstitute/gatk/pull/6892

[2020-10-15 19:24] asmirnov239 opened #6893 "Add tests to GermlineCNVCallerIntegrationTest"
Create tests data for and write tests for `testCohortWithAnnotatedIntervals` and `testCohortWithInputModel` tests

[2020-10-15 19:43] tfenne commented on #5912
Thanks @droazen & @ldgauthier !

[2020-10-15 19:53] tfenne commented on #6889
Thanks @droazen & @ldgauthier.  I can certainly run a bunch more iterations of the same HC run on the same data.  I'm not super hopeful it will turn anything up though.  I can also try selecting a bunch of the different PairHMM implementations.  I can't share too much, but this issue turned up in a very high throughput (1000s of samples a day) clinical pipeline.  We're going back and looking for o

[2020-10-15 19:58] droazen commented on #6889
@tfenne I recommend asking that last question in the GKL repo: https://github.com/Intel-HLS/GKL -- I imagine that @mepowers or another member of her team could give you a more educated opinion than we could.

[2020-10-15 20:04] nh13 opened #6894 "Allele ordering changes across runs of GATK HaplotypeCaller"
I have a gVCF where the allele order of alleles not present in the genotype (`FORMAT/GT`) change when I run GATK multiple times.  The resultant allele-specific values (eg. `FORMAT/PL`) all match after normalizing the allele order.  This occurs for alleles that have the same allelic depth.  I haven't tried a larger run to see if I can reproduce (eg. run 100 times, see if I get a ~50/50 split of gVC

[2020-10-15 20:06] bbimber opened #6895 "GenomicsDB: workspace with 1117 WGS samples = ~5m files?"
We created a GenomicsDB workspace with 1117 WGS datasets. It was creating with batchSize=50, and created using 3 iterations of GenomicsDBImport (i.e. created it with some samples, and then did two rounds of appending samples to it).  There are 2473 contigs, since we are using the macaque MMul10 genome with unplaced contigs. It has 4,825,622 files and is ~7.4TB. I dont normally pay attention to fil

[2020-10-15 20:28] samuelklee commented on #6893
Might be a dupe of https://github.com/broadinstitute/gatk/issues/4375 (note the date...).

Continuing our discussion on Slack, we could add some tests on the simulated data that are suitably insensitive to numerical instability, but still check for whatever events may happen to be in the simulated data. I'm not sure if there's a record of the latter, as I would guess the data was generated with an

[2020-10-16 08:39] OgnjenMilicevic opened #6896 "GenotypeGVCFs stuck with high CPU usage"
I am using a parallelized version of GenomicDBImport + GenotypeGVCFs per chormosome on 110 g.vcf samples. Most executions passed without a problem with a low CPU usage an varying time (as expected), but I just noticed that chr20 GenotypeGVCFs execution is not writing anything to stderr for 24hours+, and CPU rate is 70+ cores with only 5-6GB RAM usage.

I am using cromwell to run it, and all the ot

[2020-10-16 08:43] OgnjenMilicevic commented on #6896
Last few entries:
17:59:25.486 WARN  InbreedingCoeff - Annotation will not be calculated, must provide at least 10 samples
17:59:25.486 WARN  InbreedingCoeff - Annotation will not be calculated, must provide at least 10 samples
17:59:25.489 WARN  InbreedingCoeff - Annotation will not be calculated, must provide at least 10 samples
Chromosome chr20 position 31052261 (TileDB column 2744081164) has t

[2020-10-16 11:31] praneetha92 opened #6897 "About Variants to table output"
Hi,
I am working on GATK VariantsToTable tool and my VCF file consists of 12 chromosomes but the output shows only one chromosome. Could you please help me out.
OS:-Ubuntu 20.04
GATK version:-4.1.9.0
Java:-open jdk version 11.0.8
Command:-gatk VariantsToTable -R '/home/india/Downloads/Reference.fasta' -V '/home/india/Downloads/Galaxy57-[Merged_file.vcf].vcf' -F CHROM -F POS -F REF -F ALT -GF AD -G

[2020-10-16 15:01] samuelklee commented on #2498
Consolidating with #5564

[2020-10-16 15:01] #2498 closed

[2020-10-16 15:14] samuelklee commented on #5564
Consolidated with #2498.

Now that #6885 is done, I'm going to kick off a Bayesian optimization (using the pipeline-optimizer from https://github.com/broadinstitute/gatk-evaluation/tree/master/pipeline-optimizer I presented on long ago) over all 3 sets of SW parameters using HaplotypeCaller -> vcfeval F1 on NA12878 chr22 (with F1 optimized on GQ and enabling decomposition of variants) as the targe

[2020-10-16 15:56] ldgauthier commented on #6897
Hi @praneetha92 ,

Where did this file come from?  GATK doesn't produce GLs anymore.  It looks like there are the wrong number of likelihoods for one of your genotypes.  Unfortunately our validation tool doesn't check this, but can you try vcf-validator?  You can find it here: https://vcftools.github.io/perl_module.html#vcf-validator

[2020-10-16 16:06] ldgauthier commented on #6896
Hi @OgnjenMilicevic ,

Is this the latest GATK version?  Highly multi-allelic sites are known to cause a slowdown in GenotypeGVCFs, but this was dramatically improved with the `-newQual` option, made default in 4.1.5.0.  110 whole genomes should be manageable, but excluding the low complexity regions could avoid some of the highly multi-allelic variants.

[2020-10-16 16:10] samuelklee commented on #5564
Now that I look at https://github.com/broadinstitute/gatk-evaluation/tree/master/pipeline-optimizer it will take a bit of work to get up to date (it was tied to a particular version of cromwell-tools and Advisor, which is python2-based, has not been actively maintained---exactly why I wanted to move to a more well supported solution...).

If it's not too much trouble, I'll try to get everything ru

[2020-10-16 16:28] OgnjenMilicevic commented on #6896
I forked GATK pipelines, and they use docker GATK 4.0.10.1.

I will try adding newqual and report, but I assume it will fix it :)

[2020-10-16 16:42] OgnjenMilicevic commented on #6896
Am I doing something wrong?
I am trying:
java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=true -Dsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -Xmx5g -jar /gatk/gatk-package-4.0.10.1-local.jar GenotypeGVCFs -R /cromwell-executions/WV1/0996bf87-1056-4bbc-b440-f7be97075b54/call-G1/shard-19/inputs/-701641790/Homo_sapiens_assembly38.fasta -V ge

[2020-10-16 16:55] jamesemery opened #6898 "Inconsistency between Locatable.overlaps() method and SimpleInterval.Overlaps() methods"
I have noticed in debugging an issue that there is an inconsistency in the overlaps methods in a somewhat pathological edge case that we should probably address somewhere in the future. In the case where a read (locatable) consumes no reference bases I see inconsistent behavior if the read is "aligned" to the last base in a simple interval. To demonstrate I have this read (which is all insertions)

[2020-10-16 17:20] ldgauthier commented on #6896
Sorry about that.  The arg is either `-new-qual` or `--use-new-qual-calculator`

[2020-10-16 18:57] droazen commented on #6894
@nh13 Thanks for the report -- can you tell us what version of GATK you're running? There were a few similar issues with unordered sets in HaplotypeCaller that were fixed around the time of 4.1.4.0...

[2020-10-16 19:02] lbergelson commented on #6898
0 length intervals strike again!

[2020-10-16 19:07] nalinigans commented on #6895
@bbimber, just a back of envelope calculation for the number of files in a GenomicsDB workspace would be
`(num_samples/batch_size)*(num_genomic_fields*2)*num_contigs*num_iterations` for the number of files you end up with.  For your case, assuming 20 genomic info fields, it would approximately be `(1117/50)*(20*2)*2473*3=6.5M` files which seems to be in the ballpark of what you are seeing.

If you

[2020-10-16 20:02] nh13 commented on #6894
`4.1.1.0` was the version

[2020-10-16 20:04] jamesemery commented on #6894
@nh13 Could you also provide us with what arguments you are running with to trigger this? Could you also give us an example of a site where this is happening? How frequently do you notice this non-determinism?

[2020-10-16 20:06] droazen commented on #6894
@nh13 Ah, that's quite old...can you try re-running with a version >= 4.1.4.0? As mentioned above, in 4.1.4.0 we fixed several sources of non-determinism in HaplotypeCaller:

* Fixed some sources of non-determinism in the HaplotypeCaller that in rare cases could cause the output to vary slightly given the same inputs (#6195) (#6104)

[2020-10-16 23:09] OgnjenMilicevic commented on #6896
Thanks, it truly solved it :)

Cheers!

[2020-10-16 23:09] #6896 closed

[2020-10-17 06:21] praneetha92 commented on #6897
Hi,
I got the VCF file from BCF tools merge in galaxy.

[2020-10-17 12:42] uros-sb commented on #6855
Also, it seems that if the input VCF and the dbSNP are not sorted in the same way, for example:
Input VCF

dbSNP

again, the comparison analysis will fail with the error

where the workaround is again to sort both the Input VCF and the dbSNP according to a specific dict, in order to make sure they are matching (if, for example, you don't how the input VCF and dbSNP were handled upstream), thus lea

[2020-10-17 12:44] uros-sipetic commented on #6855
Also, it seems that if the input VCF and the dbSNP are not sorted in the same way, for example:
Input VCF

dbSNP

again, the comparison analysis will fail with the error

where the workaround is again to sort both the Input VCF and the dbSNP according to a specific dict, in order to make sure they are matching (if, for example, you don't how the input VCF and dbSNP were handled upstream), thus lea

[2020-10-18 00:59] bbimber commented on #6895
Thanks for the replies. Are these C/C++ tools something one could run today on a genomics db workspace, even if there isnt a formal java wrapper?

[2020-10-19 13:31] cwhelan commented on #5651
I have a version of this working in the branch `cw_phase_star_allele`, but am holding off on making a PR until https://github.com/broadinstitute/gatk/pull/6859 can be merged to avoid conflicting changes to integration test files.

[2020-10-19 15:17] samuelklee commented on #5564
I ran a few Bayesian optimizations, mostly focusing on various subsets/ranges of the read-to-haplotype and haplotype-to-reference SW parameters. I also varied whether I used part/all of chr22 and chose either F1/sensitivity as the optimization target.

These experiments show that varying the SW parameters can definitely move the needle in terms of performance, even after variant normalization. For

[2020-10-19 16:03] samuelklee commented on #5564
One observation that illustrates the need for care when optimizing metrics: for a few of the F1 optimizations, the haplotype-to-reference parameter gets driven to its minimal value (1). Not 100% sure, but I'm guessing this might effectively boost precision by somehow cutting down on the complexity of proposed haplotypes---it depends on what the exact behavior of our SW algorithm is for negative sc

[2020-10-19 17:39] fleharty commented on #5564
@samuelklee Very interesting, what are the different colors?  Different samples?

[2020-10-19 17:48] samuelklee commented on #5564
@fleharty sorry, each curve is a different set of parameters run on the same sample, and I'm plotting all curves generated over the course of optimizing those parameters.

[2020-10-19 17:55] fleharty commented on #5564
@samuelklee How do these curves compare with the current default parameters?

[2020-10-19 18:01] samuelklee commented on #5564
You can probably eyeball it from the 4.1.8.1 results above. There are a few regions of parameter space where precision seems to improve at the expense of a bit of sensitivity. Again, this might not be optimal if we are going to filter afterwards.

I guess the main takeaway at this stage is that changing the parameters can result in non-negligible performance changes, probably beyond the level of s

[2020-10-19 23:24] uros-sipetic commented on #6855
OK I did some more testing, turns out I was wrong (the forum post was also misleading).
The problems in the comparison here are not between the Input VCF and the dbSNP, but between the dbSNP and the Reference FASTA file.

I.e. I was using the dbSNP file where the order of chromosomes was like this
`1,2,3...` (downloaded from BROAD)
But the Reference FASTA had the order of chromosomes like this
`1,

[2020-10-19 23:43] DonFreed opened #6901 "Possible bug in Mutect2Engine.java"
## Bug Report

### Affected tool
Mutect2

### Affected version(s)
- [x] Latest public release version 4.1.9.0
- [x] Latest master branch as of 10/19/2020

### Description
It looks like there may be a typo in Mutect2Engine.java that was introduced before the most recent release, https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/mutect/Mutec

[2020-10-20 06:58] #6897 closed

[2020-10-20 13:43] dalessioluca commented on #5564
It seems to me that producing some parallel coordinate plots is the way to go to gain some intuition about how the SW and filters parameters affect the Area under the curve of the precision/recall curve. I assume that, overall we have about 10 parameters and 2-3 metrics (AUC for SNP,  AUC for short Indel, AUC for long Indel). This is small enough that we should be able to gain intuition by looking

[2020-10-20 14:39] cwhelan commented on #6845
Debugging update: the issue in this case seems to be that HaplotypeCaller constructs an additional haplotype containing a fifth variant a little bit downstream of the four called variants. The fifth variant has low read support and is not called, but matches the reference base at all of the four called positions and so is out of phase with both of the possible phase sets suggested by the four call

[2020-10-20 16:21] droazen commented on #6887
This is done (thanks to @lbergelson !)

[2020-10-20 16:21] #6887 closed

[2020-10-20 18:08] droazen commented on #6895
@nalinigans I do think a `--consolidate-only` option for `GenomicsDBImport` would be valuable!

[2020-10-20 18:14] droazen commented on #6882
@davidbenjamin It seems like your PR https://github.com/broadinstitute/gatk/pull/6358 may have had the side effect of reverting the fix in https://github.com/broadinstitute/gatk/pull/4926 -- mind having a look when you get a chance?

[2020-10-20 18:27] droazen commented on #6745
This was fixed in #6852

[2020-10-20 18:27] #6745 closed

[2020-10-20 18:29] droazen commented on #6688
@bbimber Can this one be closed?

[2020-10-20 18:33] nalinigans commented on #6688
Just to add - GenomicsDB relies on the filesystem for integrity checks just like any other file on the filesystem. We could add integrity checks at a micro chunk-level, but that would be at the expense of performance.

[2020-10-20 18:38] bbimber commented on #6688
ok, thanks

[2020-10-20 18:38] #6688 closed

[2020-10-20 22:09] samuelklee commented on #5564
Hmm, guess I didn’t realize how important it was to subset to high-confidence regions. Most of the false positives above are coming from the low-confidence regions, so lower precision may actually indicate higher sensitivity to any real variants that may be there and missing in the truth set.

When optimizing parameters in the past, have we always just focused on the high confidence regions and ca

[2020-10-21 13:38] ldgauthier commented on #5564
To be perfectly clear, do you mean high/low confidence or high/low complexity?

[2020-10-21 14:03] samuelklee commented on #5564
Either is fine for the purposes of the point I’m trying to make, as I would guess there’s decent overlap. But to be precise, I have been stratifying the above runs on GIAB NA12878 HCR/LCR, which prompted the question.

[2020-10-21 18:05] ldgauthier commented on #5564
We don't ever look at calls outside the GiaB high confidence region, in which case there's no reason to spend compute there.  I believe that there are no truth set variants outside the high confidence region, so there's not a lot to be gained by looking at our calls there.  There are a variety of reasons sites are excluded from the high confidence regions.

We don't have different parameters for t

[2020-10-21 18:36] samuelklee commented on #5564
Do you mean in production? In the ~2.92Gbp of the WGS calling regions, I see all ~2.44Gbp of the GIAB HCR, as well as ~485Mbp / ~778Mbp of the GIAB LCR. Or did you mean in another context?

I'm kicking off runs with the CHM now. Hopefully, optimizations of sensitivity outside the CHM HCR will be more meaningful, since I see a decent amount of calls outside of it.

[2020-10-22 10:05] giacuong171 opened #6906 "Container exited with a non-zero exit code 13"
Hi,
when i test gatk4 MarkDuplicatesSpark command on yarn cluster, i encountered an issue "non zero exit code 13". How can i fix it ?

Here is my command and what i received from the terminal :
****
gatk MarkDuplicatesSpark -I hdfs://192.168.0.104:9000/user/jacky/NA12878.mapped.illumina.mosaik.CEU.exome.20110411.bam -O hdfs://192.168.0.104:9000/user/jacky/marked_dup.bam -M hdfs://192.168.0.104:900

[2020-10-22 13:27] ldgauthier commented on #5564
For evaluations, we don't look at calls outside the high confidence regions.  For production we deliver calls over the whole genome (except for Y in WGS, which is another story).

Even for CHM, I wouldn't optimize outside the high confidence regions.  For example, seg dupes are excluded from the high confidence regions.  There likely will be calls there, but there's no guarantee that even a real v

[2020-10-22 14:51] fleharty commented on #5564
@ldgauthier I'm in complete agreement, I don't think we should optimize outside the high confidence regions.

[2020-10-22 15:22] samuelklee commented on #5564
@takutosato had a good suggestion: to stratify to low-complexity regions in the high-confidence regions. Not sure how many variants are there, but will take a look.

More generally, I think that defining the appropriate loss function for optimization to set "default" parameter values obviously has no unique answer. The problem is also made a little more complicated by our current strategy of sensi

[2020-10-22 17:29] paulstretenowich opened #6907 "GATK 4.1.2.0 - CollectOxoGMetrics - GC overhead limit exceeded"
Hi,

I'm using CollectOxoGMetrics with GATK 4.1.2.0 and I'm having a `GC overhead limit exceeded` issue on some samples I have.
The command line used is:
`gatk --java-options "-XX:ParallelGCThreads=15 -Xmx60G"   CollectOxoGMetrics --VALIDATION_STRINGENCY=SILENT --INPUT=input.bam --OUTPUT=oxog_metrics.txt --REFERENCE_SEQUENCE=reference.fa --MAX_RECORDS_IN_RAM=1000000`

I tried first with `-XX:Paral

[2020-10-23 14:34] davidbenjamin commented on #5564
@samuelklee I would run these experiments with the `-linked-de-bruijn-graph` option, which will reduce the number of haplotypes in a more principled way.

[2020-10-23 15:19] samuelklee commented on #5564
Thanks @davidbenjamin, I can try that out. Any other parameters or modes that you feel might be gating any of these metrics/optimizations, which should be explored jointly with the SW parameters?

I guess the same question applies for `linked-de-bruijn-graph`, which is currently marked as experimental: what would be the procedure/criteria for changing the default behavior? Hopefully, we can answer

[2020-10-23 17:09] samuelklee commented on #5564
![weighted](https://user-images.githubusercontent.com/11076296/97032266-8ab9a300-152f-11eb-8d73-148ff99963be.png)

Here is the result of optimizing for sensitivity in the high-confidence, low-compexity region of chr22 in CHM, allowing haplotype-to-reference and read-to-haplotype (match, mismatch, gap open) to range over ([1, 20], [-20, -1], [-20, -1]) and fixing gap extend penalties to -1.

Compar

[2020-10-25 13:54] bbimber opened #6910 "Debug GenomicsDB / GenotypeGVCFs crash?"
Hello,

I am running GenotypeGVCFs using a GenomicsDB workspace with ~1200 WGS samples as input. We're running these jobs scattered on a slurm/lustre cluster, with each job given intervals. ~197/200 jobs finished, but several gave an odd error. I'm probably not giving you enough information to debug, but maybe this is enough to ask questions. the command is below:

[code]

The error is the followi

[2020-10-25 15:40] #6686 closed

[2020-10-26 00:59] Zepeng-Mu opened #6911 "ArrayIndexOutOfBoundsException: -87 in ValidateVariants"
Hi, I encountered the following error while running GATK.
It is hard for me to say what exactly is wrong, and extensive searching has not been helpul

Thanks in advance!

[code]

[2020-10-26 13:07] bharathramh opened #6912 "DRAGEN-GATK release?!!"
## Feature request

### DRAGEN-GATK release?!!
Hello GATK team,
- When will the DRAGEN-GATK version will be release officially? I have seen the online forum of Eric brans and Illumina head explaining GATK and DRAGEN about the open source version, a month back! I searched for DRAGEN-GATK update release in both the illumina website and GATK, couldn't find it? can anyone help me to get updated GATK..

[2020-10-26 15:52] niyomiw commented on #6766
I still got the same error with version 4.1.9.0.

11:30:50.248 WARN  GATKAnnotationPluginDescriptor - Redundant enabled annotation group (StandardAnnotation) is enabled for this tool by default
11:30:50.478 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/apps/gatk/4.1.9.0/gatk-package-4.1.9.0-local.jar!/com/intel/gkl/native/libgkl_compression.so
Oct 26, 2020 11:30:50 AM sh

[2020-10-26 16:24] niyomiw opened #6913 "CombineGVCFs java.lang.NullPointerException in v4.1.9.0"
Hi,

I have the same issue reported here https://github.com/broadinstitute/gatk/issues/6766 that relates to CombineGVCFs. It was supposed to be fixed with the new version 4.1.9.0, however. I still get the same error when I tried it with the current version.

Here is the error report

11:30:50.248 WARN  GATKAnnotationPluginDescriptor - Redundant enabled annotation group (StandardAnnotation) is enab

[2020-10-26 16:42] droazen commented on #6913
@niyomiw That's not a `NullPointerException` -- it's a `NumberFormatException`, and is different from the issue resolved in https://github.com/broadinstitute/gatk/issues/6766.

It's possible that one or more of your VCFs are malformed in some way. Could you try running `ValidateVariants` on the inputs?

[2020-10-26 16:42] droazen commented on #6766
@niyomiw That's not a `NullPointerException` -- it's a `NumberFormatException`, and is different from the issue reported in this ticket.

It's possible that one or more of your VCFs are malformed in some way. Could you try running `ValidateVariants` on the inputs?

[2020-10-26 17:36] niyomiw commented on #6913
Oh I'm so sorry about that. I ran ValidateVariants on a few samples (running the whole batch now). This is the error I get when I don't specify the --validate-GVCF or --validation-type-to-exclude ALLELES

The position in the gvcf

adPosRankSum=-0.312        GT:AD:DP:GQ:PL:SB       0/0:27,2,0:29:67:0,67,1051,81,1056,1070:13,14,1,1

When I exclude the Alleles, I get no errors for the samples I check

[2020-10-26 18:10] droazen commented on #6913
@niyomiw The error you're getting suggests that there might be a sample record in your GVCF for which the GQ value is completely missing (ie., not even a `.` to indicate a missing value). Can you check your VCF for such a record?

[2020-10-26 18:20] droazen commented on #6911
@Zepeng-Mu There seems to be an unsupported character in your reference fasta. Can you verify the integrity hash of your reference? Could you also try re-generating the fasta index using `samtools faidx`?

[2020-10-26 18:21] droazen commented on #6910
@nalinigans Mind having a look at this one when you get a chance? Looks like a segfault in GenomicsDB?

[2020-10-26 18:22] droazen commented on #6907
@paulstretenowich Can you try running with the latest release (4.1.9.0) and see if you get the same error?

[2020-10-26 18:26] droazen commented on #6855
@uros-sipetic The comparator depends on the ordering of the chromosomes imposed by the sequence dictionary in the header, so unfortunately this is not a check that can be relaxed.

[2020-10-26 18:26] #6855 closed

[2020-10-26 18:39] jamesemery commented on #6912
Hello @bharathramh thank you for your question. We just recently merged the bulk of the code for DRAGEN-GATK (#6634) which means that we are slated to release the DRAGEN-GATK for the next release of GATK. When that happens we will also be releasing an official wdl workflow to use all the new features together.

As for STR variants, one of the code improvements in the new genotyping engine is to be

[2020-10-26 18:39] #6912 closed

[2020-10-26 18:42] niyomiw commented on #6913
Found something weird  in the vcf

This is all the information for this position. Not sure what caused it. You think re-running the Haplotype caller might fix it?

[2020-10-26 18:47] nalinigans commented on #6910
This was a defect in one of the dependencies fixed in the later versions of GenomicsDB. Let me publish a jar with the new version and issue a PR. Thanks @bbimber.

[2020-10-26 19:02] nalinigans commented on #6910
@bbimber, can you please attach the core dump file if possible? Thanks.

[2020-10-26 19:03] droazen commented on #6910
Also, could you please post the version of GATK you're running @bbimber ?

[2020-10-26 19:38] paulstretenowich commented on #6907
Hi @droazen, I tried also with the latest version and I had the same issue. I tried over the week end with `-XX:ParallelGCThreads=20`, `-Xmx60G` and `--MAX_RECORDS_IN_RAM=400000` but it ended after 37h of run with `Exception in thread "main" java.lang.OutOfMemoryError: Java heap space: failed reallocation of scalar replaced objects`.
On more than 95% of the samples I have it's working and taking l

[2020-10-26 20:07] bbimber commented on #6910
v4.1.8.0

[2020-10-26 20:58] gbrandt6 commented on #6913
@niyomiw Please post this issue on the GATK forum: https://gatk.broadinstitute.org/hc/en-us/community/topics and we can help to get it resolved.

[2020-10-26 21:23] Zepeng-Mu commented on #6911
Hi, thanks for the quick reply! The reason is indeed in the fasta file. I unzipped it when running another program but then re-zipped using gzip instead of bgzip. The error message disappears when I used bgzip to compress my fasta file again.
Thanks again!

[2020-10-26 21:23] #6911 closed

[2020-10-26 21:24] nalinigans commented on #6910
One thing, v4.1.8.0 is backward compatible with all the workspaces generated by versions <4.1.8.0, not the other way around. For example, v4.1.7.0 cannot read a GenomicsDB workspace created by v4.1.8.0, but 4.1.8.0 can read a 4.1.7.0 workspace. So some questions -
1. Are the failures in the same set of nodes?
2.  Have all the "nodes" in the cluster been updated to running gatk v4.1.8.0.
3. Is it p

[2020-10-26 21:31] bbimber commented on #6910
See below:

1) Are the failures in the same set of nodes?

This job was split into 200 intervals and would have run across a lot of different nodes. One specific interval set is causing issues. That interval/job has failed 3 times, on different nodes with a similar error.

2) Have all the "nodes" in the cluster been updated to running gatk v4.1.8.0.

they all use the exact same JAR when they execu

[2020-10-27 00:18] GATKSupportTeam opened #6915 "VariantAnnotator returns NullPointerException"
Error Message from VariantAnnotator is  a NullPointerException. The user found the issue, but the error message could be improved. The issue involves the sample names from the VCF not existing in the BAM file.

This request was created from a contribution made by Wout Megchelenbrink on October 21, 2020 12:29 UTC.

Link: [https://gatk.broadinstitute.org/hc/en-us/community/posts/360073989631-Variant

[2020-10-27 04:43] Abby3017 commented on #6671
Hey, just want to know that does GATK 4.1.8.1 support spark 3.0.1 ?
If it doesn't support, do you guys have timeline to support Spark 3.x ?
One more suggestion, if you guys mention version of spark it support for each version would be helpful.
Thank you

[2020-10-27 06:21] nalinigans commented on #6910
The array schema is fine. What is puzzling is this line `# Problematic frame:
# C    [libtiledbgenomicsdb3086049122144672414.so+0x3e3a19]  ArraySchema::tile_num(void const*)   const+0x79
` in the error. This particular function is not invoked for sparse arrays and the array schema has this array correctly marked sparse. Would it be possible to include the full core dump, for instance /home/groups/

[2020-10-27 14:57] bbimber commented on #6910
@nalinigans good ideas - we'll try those. core dumps from the last several failures are attached.
[errors.zip](https://github.com/broadinstitute/gatk/files/5446127/errors.zip)

[2020-10-27 18:40] KevinCLydon opened #6916 "Add CARROT GitHub Action to support running CARROT tests from PRs"
To support running CARROT tests from PR comments, it's necessary that the [carrot-publish-github-action ](https://github.com/broadinstitute/carrot-publish-github-action) be integrated following the instructions in the README for that repo, so that PR comments will be processed by the GitHub action.  This also requires that secrets be set for the pubsub topic and SA key for sending the messages.

[2020-10-28 03:14] dmarkie opened #6919 "FindMendelianViolations default XPAR co-ordinates for b37 incorrect"
## Bug Report

### Affected tool(s) or class(es)
FindMendelianViolations

### Affected version(s)
Version:4.1.8.1 and several earlier versions

### Description
Using the gatk FindMendelianViolations --help command to obtain information about this tool produces the following for the default XPAR regions:
--PSEUDO_AUTOSOMAL_REGIONS:String
List of chr:start-end for pseudo-autosomal regions on the fem

[2020-10-28 13:39] #6916 closed

[2020-10-28 15:38] #6853 closed

[2020-10-28 16:40] droazen commented on #6919
@dmarkie Thanks for the bug report! Since the code for this tool actually lives in the Picard repository (https://github.com/broadinstitute/picard), would you mind filing this ticket there?

[2020-10-28 19:37] jamesemery opened #6922 "Explore switching more of our Docker infrastructure over to GCR"
Evidently docker is changing their policy around anonymous users pulling from all docker repos (regardless of the tier for the owner of the repository being pulled from). This might or might not affect us since it looks like travis is pulling from our GCR repo for builds but we should be mindful of workflows that might rely on pulling hundreds of docker images from docker-hub through anonymous web

[2020-10-28 22:24] bbimber commented on #6910
@nalinigans we were able to narrow this down to one contig, and it repros using SelectVariants on the workspace. do you want us to send that workspace to you?

[2020-10-28 22:37] bbimber commented on #6910
In the interest of time, here's a link to download a TAR.  it's 101GB, containing the single-contig workspace, two core dumps, and a sample command.

https://prime-seq.ohsu.edu/_webdav/Labs/Bimber/Collaborations/Public/%40files/genomicsDB.tar.gz

Please let me know when/if you get this so I can remove it.

[2020-10-29 03:52] YUANTTX opened #6923 "GATK"

[2020-10-29 09:53] ruslan-abasov opened #6924 "Records were not strictly sorted in dictionary order"
#6055  Bug Report

### Affected tool(s) or class(es)
PostprocessGermlineCNVCalls

### Affected version(s)
4.1.8.1

### Description
Process of calling copy number segments and consolidate sample results with PostprocessGermlineCNVCalls aborts with error : "Records were not strictly sorted in dictionary order."
I tried to detect germline copy number in cohort mode on 73 wgs samples by [this](https:/

[2020-10-29 13:19] samuelklee commented on #6924
Hi @ruslan-abasov,

The dictionary file you attached (hg19.dict.txt) is in an idiosyncratic order (chr10-19, chr1, chr20-22, etc.) as are the scattered interval lists. It appears that this dictionary may have been sorted using `bash sort` or a similar command at some point. Can you confirm that this is the exact same dictionary you provide to the PostprocessGermlineCNVCalls `--sequence-dictionary`

[2020-10-29 13:32] ruslan-abasov commented on #6924
Hi, @samuelklee ! Thanks for the quick response ! I confirm that I used the  same dictionary file except maybe CollectReadCounts step. How can i verify contigs order in *.hdf5 files?

[2020-10-29 13:52] samuelklee commented on #6924
You should be able to open them with a program like HDFView to reveal a directory-like structure; navigating to `locatable_metadata/sequence_dictionary` will give you the answer.

Now that I look at the history of code changes, it's possible that allowing the use of an inconsistent dictionary might have been introduced in https://github.com/broadinstitute/gatk/pull/6330. Previous to this, I believ

[2020-10-29 13:56] samuelklee commented on #6167
Stumbled back on this when looking at #6924. @ldgauthier @mwalker174 was the above comment addressed?

[2020-10-29 14:24] ruslan-abasov commented on #6924
Couldn't open hdf5 files.
![Screenshot_2020-10-29_17-20-17](https://user-images.githubusercontent.com/29140765/97586406-459fe000-1a0b-11eb-86cf-d70a28c55637.png)
 Running without the optional --sequence-dictionary argument also causes an error.
`17:00:00.556 INFO  NativeLibraryLoader - Loading libgkl_compression.so from jar:file:/home/lmbs02/bio/biosoft/gatk/gatk-4.1.9.0/gatk-package-4.1.9.0-local

[2020-10-29 14:31] samuelklee commented on #6924
Hmm, it looks like we could perform more checks upstream in GermlineCNVCaller as well. I think it might be possible to introduce inconsistencies there by using read counts and sharded interval lists with different dictionaries or contig orders. The canonical dictionary is taken from the first read count file, but the intervals pass through the `-L` machinery and I think any dictionary information,

[2020-10-29 14:35] alanhoyle opened #6926 "Funcotator with gnomAD enabled crashes with Bad Request"
## Bug Report

### Affected tool(s) or class(es)
_Funcotator_

### Affected version(s)
- [ ] Latest public release version GATK 4.1.9.0 with data version funcotator_dataSources.v1.7.20200521g

### Description

#### Steps to reproduce

I'm trying to run GATK Funcotator using the funcotator_dataSources.v1.7.20200521g data download.  The command line that I'm using is:
[code]

If I run that command l

[2020-10-29 14:53] samuelklee commented on #6924
Sorry, @ruslan-abasov, can you try another program, such as HDF Compass? (I vaguely remember a previous user also having trouble with hdfview, perhaps due to the specific version of Java used, but I can't find the post.)

[2020-10-29 14:56] samuelklee opened #6927 "Suggest HDF Compass instead of hdfview for viewing HDF5 files."
I think hdfview might be broken for e.g. some Ubuntu distributions. See context in #6924.

[2020-10-29 16:48] bbimber commented on #5439
@cmnbroad It's become very apparent that I need to improve the perf of VariantEval, in order to make our VariantQC work better on large WGS VCFs. I dont know where you stand on this, but I'd be willing to pick it up.

I have done virtually zero scoping, but I was also pondering an attempt at making it work w/ Spark.

[2020-10-29 16:51] samuelklee commented on #4341
Not sure if there's a more relevant open issue, but just making note of #6924 here.

[2020-10-29 16:56] bbimber opened #6929 "Implementing Custom VariantAnnotation classes in GATK4?"
Hello - in GATK3 we wrote a variety of custom VariantAnnotation classes, and created a GATK3 fork / custom JAR with those classes. We run VariantAnnotator using that. I am hoping you might comment on whether this plan seems reasonable:

I am going to try to implement this in our DISCVRseq package, which is a standalone package that depends on GATK4. I am currently expecting that I would need to be

[2020-10-29 18:05] bbimber opened #6930 "VariantAnnotation.annotate() not passed much context, as compared to GATK3?"
I'm looking into migrating custom GATK3 variant Info/GenotypeAnnotations to GATK4. The annotate() method in GATK3 was passed a sizable amount of context. This is greatly reduced in GATK4. I understand a desire to simplify, such as not passing the Walker. FeatureContext in particular would be helpful, is there another way to access that from VariantAnnotations?

Stepping back: the one scenario I wa

[2020-10-29 18:31] nalinigans commented on #6910
Thanks @bbimber, I have the file downloaded, please go ahead and remove it.

I have reproduced the seg fault - it is because of one faulty fragment - WGS_Sept_1117.gdb/QNVO02001147.1$1$28016/__58eb4600-9c95-425e-a585-4bb23b486577140340709598976_1596797671601. Not sure why, but it seems to be missing a number of files(e.g. `__coords.tdb`)  causing the fault. Things work fine if you move the fragmen

[2020-10-29 19:36] bbimber commented on #6910
Thanks. To those questions:

1) Yes, we updated after import. FWIW, when we do this, we always copy the original workspace to a working location and execute the update on this copy.

2) I'm sure we would. Is there something specific we should look for?

3) We dont generally have this level of detail on it would be pretty difficult to get that unless I'm asking for something fairly specific from th

[2020-10-29 20:48] nalinigans commented on #6910
Ah sorry, I just gave you the row_idx that the samples mapped to from the callset.json. Here is the sample_names file -
[sample_map.txt](https://github.com/broadinstitute/gatk/files/5461169/sample_map.txt)

For (2), I would grep for any `WARN` from GenomicsDBImport.

[2020-10-29 21:00] mlathara commented on #6910
@bbimber for each import, do you remember how many samples were used and what the batch size was?

[2020-10-29 21:34] bbimber commented on #6910
@kray02 can you comment on the batchSize and number of iterations

@mlathara In general, if an append job fails, our code deletes the working copy of the workspace, re-copies the original and starts over.

@nalinigans I will look for WARN. all the other intervals finished with GenotypeGVCFs, so this appears to be the only bad one.

[2020-10-30 05:19] kray02 commented on #6910
@mlathara  I don't have the exact logs for earlier imports, approximately:

first import was 100 samples, unknown batch size
+ 250 samples, batch size 50
+ 200 samples, batch size 50
+ 461 samples, batch size 30
+ 101 samples, batch size 21

[2020-10-30 07:55] ruslan-abasov commented on #6924
As expected, the hdf5 file has a different contigs order.
`
HDF5 "sample.counts.hdf5" {
GROUP "/locatable_metadata/" {
   DATASET "sequence_dictionary" {
      DATATYPE  H5T_STRING {
         STRSIZE H5T_VARIABLE;
         STRPAD H5T_STR_NULLTERM;
         CSET H5T_CSET_ASCII;
         CTYPE H5T_C_S1;
      }
      DATASPACE  SIMPLE { ( 1 ) / ( 1 ) }
      DATA {
      (0): "@HD	VN:1.6

[2020-10-30 12:55] pbrennan13 opened #6931 "GATK4.1.9 Mutect 2 Header Issue Leads to 'Invalid' VCF"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-10-30 13:51] michaelgatzen opened #6932 "Readme: Git LFS download size not accurate"
In the README, the full download size when downloading large files using Git LFS is reported to be 2 GB in one section and several hundred MB in another section, when it is actually ~4.81 GB in size.

![git_lfs](https://user-images.githubusercontent.com/52426291/97712898-5d38a080-1abf-11eb-8070-d71d63d5add1.png)

[2020-10-30 14:13] samuelklee commented on #6924
Thanks for confirming that @ruslan-abasov. Unfortunately, I would guess that the inconsistency was introduced in the GermlineCNVCaller step.

It’s possible that you could edit the files manually so that you don’t have to rerun all gCNV shards; for example, you could replace all dictionaries in the good shards (i.e., those that contain intervals that are correctly ordered with respect to either dic

[2020-10-30 15:33] mlathara commented on #6910
So - the reason I asked for batch size and number of samples was to figure out the number of "fragments" within the contig folder (each fragment is associated with a folder starting with "__" and then a long uuid type string). Each batch is associated with a fragment, so number of fragments should be:

unknown + 250/50 + 200/50 + ceiling(461/30) + ceiling(101/21) = unknown + 30

Where unknown is t

[2020-10-30 16:27] mlathara commented on #6910
The following list of fragments seem to be duplicated - i.e., for the two fragments listed on the same line, all the files from one fragment had the same md5sum as the corresponding file in the other fragment.

[code]
This is  in addition to the `__58eb4600-9c95-425e-a585-4bb23b486577140340709598976_1596797671601` fragment @nalinigans identified earlier. Seems to hint at some sort of append job cl

[2020-11-01 09:58] ruslan-abasov commented on #6924
Can I replace  dictionaries in *hdf5 files ? Will this avoid reruning GermlineCNVCaller step?
It's just that this step took quite a long time at my machine. About 42 hours for each shard.....
This is why it seems to me that reporting the error in the early stages would be more useful.

[2020-11-01 13:50] samuelklee commented on #6924
Hi @ruslan-abasov,

I believe your GermlineCNVCaller results should have inherited the correct dictionary from the count files. The issue is you created some GermlineCNVCaller shards (e.g., shard 4) with inappropriately ordered intervals (since these were instead ordered w.r.t. to the idiosyncratic dictionary you attached). However, I think if you just reshard and rerun GermlineCNVCaller for any s

[2020-11-02 14:43] cmnbroad commented on #5439
@bbimber Let me see if I can dig up the old branches where I started this work. I'm not sure what state they're in, and I'm sure they're very out of date wrt/master, but they're probably at least worth looking at.

I recall thinking that https://github.com/broadinstitute/gatk/issues/5441 would be quite a lot of work. Have you done any profiling to see where the performance issues actually are for

[2020-11-02 15:43] cmnbroad commented on #6929
@bbimber The `GATKAnnotationPluginDescriptor` uses the GATK config file to find packages that contain annotation classes, and will automatically discover annotation classes that are in packages listed there (see [this](https://github.com/broadinstitute/gatk/blob/f4996564f0abe02b6a202eaff402c2f3fa044633/src/main/java/org/broadinstitute/hellbender/cmdline/GATKPlugin/GATKAnnotationPluginDescriptor.ja

[2020-11-02 17:22] bbimber commented on #6929
@cmnbroad OK, so I see that I can supply a custom --gatk-config file on the command line, and I suppose I would also provide my other JAR on the classpath with my additional VariantAnnotation classes?  That is useful, but also a little unclean given I am already building our DISCVRseq JAR, which includes the GATK4 dependency. I'm still inclined to make our tool that extends GATK's VariantAnnotatio

[2020-11-02 17:30] droazen commented on #6929
@bbimber You also have the option of bundling your custom config file inside your DISCVRseq  jar -- that way you don't need to supply it on the command line

[2020-11-02 17:31] bbimber commented on #5439
@cmnbroad OK, thanks. I need to do more investigation, but my initial thoughts/investigation were two-fold:

1) Our main use-case if our VariantQC tool, which makes several instances of VariantEval in kind of a hacky way and calls apply() on them. Therefore refactoring a VariantEvalEngine out of VariantEval has value on this front, even if tricky.

2) From what I could tell, the worst perf is the

[2020-11-02 19:06] #6932 closed

[2020-11-02 19:10] droazen commented on #6930
@bbimber There are some annotations that open their own input files (eg., the annotations that take a pedigree file). You can take a look at those annotations to see what they do.

[2020-11-02 19:18] #6919 closed

[2020-11-02 19:21] droazen commented on #6906
@giacuong171 What versions of Java and Spark are you running?

[2020-11-02 19:51] bbimber commented on #6930
@droazen I saw PedigreeAnnotation.class was special-cased in GATKAnnotationPluginDescriptor, and GATKAnnotationPluginDescriptor is where the @Arguments are defined. I will look into others to see if I'm missing something. I was hoping the VariantAnnotation class could somehow provide an Argument or ArgumentCollection.

[2020-11-02 20:06] droazen commented on #6930
@bbimber I believe that you can have @Arguments directly in annotation classes, just as you can for read filters -- I think that the pedigree arguments were pushed into the descriptor only because they are shared across multiple annotations.

[2020-11-02 20:55] cmnbroad commented on #5439
Both sound right, but it would be comforting to know for sure that the proposed changes will actually fix the problem. I ran a profiler on some of the existing test cases, but they're not substantial enough to make the profiling results interesting.

My previous hacking branch is https://github.com/broadinstitute/gatk/tree/cn_variant_eval_walker. The changes were basically exploratory - I was real

[2020-11-02 21:02] bbimber commented on #6930
@droazen OK - I will try this. that will remove one block; however, I think for efficiency the VariantAnnotator would want the FeatureContext object, wouldnt it?  annotateContext() has the FeatureContext, but this doesnt get passed to VariantAnnotator.annotate()

[2020-11-02 21:02] bbimber commented on #5439
I will do my best to split apart. My initial reaction was actually that switching to MultiVariantWalkerGroupedOnStart was going to be the most discrete and separable fix, but i will see.

[2020-11-03 07:56] giacuong171 commented on #6906
@droazen  i'm running on Java version 1.8 and Spark version 3.0.1

[2020-11-03 16:46] droazen commented on #6922
The comms team is aware of the upcoming change, and is migrating production workflows that use dockerhub images over to GCR, as well as warning the larger community. Since travis is using GCR (according to the above), I don't think there's any action needed on our end, and this can be closed.

[2020-11-03 16:46] #6922 closed

[2020-11-04 06:35] DanielAmsel commented on #5777
@fpbarthel @jonn-smith
Is there any news on the IDH2 intron classification issue? I also encounter this with a hg19/b37 run. So far I am clueless here...

[2020-11-04 17:01] pbrennan13 opened #6938 "GenotypeGVCF AF change in 4.1.7 - 4.1.9"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-11-04 18:34] jonn-smith commented on #5777
@DanielAmsel - I haven't looked at this one in a while.

Can you provide a set of variants that are being annotated incorrectly?  If so, can you also post your command-line invocation?

If I can duplicate the issue with your dataset I can start to make some headway.

[2020-11-05 16:59] bbimber commented on #6910
@nalinigans we might be having a similar issue on this workspace, this time using that workspace for a GenomicsDbImport/append job, using --consolidate.

Can you let us know how you determined which fragments are expected to exist? We believe this is related to QNVO02002898.1$1$11848, since it always fails in the same place: batch 3 of 4 for this contig.

[2020-11-05 17:37] nalinigans commented on #6910
At the least, all the array fragments should have the file `__coords.tdb` in them. Also, @mlathara [did find duplicate fragments with the workspace](https://github.com/broadinstitute/gatk/issues/6910#issuecomment-719655291) you shared with us before. Can you do that check too?

Did your script have to cleanup/restart GenomicsDBImport at any point?

[2020-11-05 17:59] mlathara commented on #6910
Can you give a bit more information here? If I'm understanding correctly, it's not clear that the same issue is at play here. The original issue was that duplicate/incomplete fragments were causing queries to the workspace to fail.

In this latest instance, it seems you are appending additional samples to the existing workspace. Is that right? If so,
- are you seeing the same/similar error? That i

[2020-11-05 19:14] bbimber commented on #6910
The script copies the source workspace to a new location and executes the append/consolidate there. It did fail, but after failure it deletes the working copy and re-copies the original to that location. It's failed in the same contig/batch multiple times. Given this workspace has gone through multiple rounds of append and we did have errors during its creation, there is the possibility of an inco

[2020-11-05 19:28] bbimber commented on #6910
@mlathara also, to verify a question from earlier: is there anything within the workspace that lists what folders are expected to exist within each contig folder? there must be some kind of sample->fragment mapping being recorded somewhere?

[2020-11-05 19:32] mlathara commented on #6910
@bbimber mostly true and I don't want to discourage you cleaning up incomplete/duplicate fragments. But I don't think that is the root cause of your import failure. Duplicate/incomplete fragments should not cause errors during import (or at least, not till the consolidation phase after all the batches have been imported).

When you do an import (incremental or otherwise) and specify `--consolidate

[2020-11-05 19:33] bbimber commented on #6910
Two more things:

1) attached is the error log. There error is:

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fb23d5aba19, pid=147396, tid=140403504084736
#
# JRE version: Java(TM) SE Runtime Environment (8.0_60-b27) (build 1.8.0_60-b27)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (25.60-b23 mixed mode linux-amd64 )
# Problematic frame:
# C

[2020-11-05 19:44] nalinigans commented on #6910
This seg fault looks like the fragment is missing the `__coords.tdb` file again. Can you do a `cd <array_name>; find . -type d '!' -exec test -e "{}/__coords.tdb" ";" -print | grep "__"`? This should list the fragments that do not have the `__coords.tdb` file at least.

[2020-11-05 20:01] bbimber commented on #6910
@nalinigans I'm looking into this. This will fall out form the workspace-wide md5 comparison that's running.

One additional observation/question: on my source workspace, most contig folders have 38 items: 36 fragments and two additional files. Some of them have many more fragments, particularly in a subset of the unplaced contigs. Should every contig folder have an equal number of fragments in it

[2020-11-05 20:37] mlathara commented on #6910
Yes, all folders should have the same number of fragments unless different batch size parameters were used with different contig folders/workspaces. I talked a bit about expected number of fragments here: https://github.com/broadinstitute/gatk/issues/6910#issuecomment-719623951

[2020-11-05 20:54] bbimber commented on #6910
@mlathara The MD5 checking is going, but two conclusions:

1) there are three array folders lacking a __coords.tdb file.

2) I counted the total fragment folders per contig, and many contig folders have a widely different number of fragments. I think the expected/correct number is 36, or at least the primary contigs seem to have this. Is there any way to figure out what is supposed to exist, and p

[2020-11-05 21:05] bbimber commented on #6910
regarding inspecting these arrays, would one of the TileDB bindings, like R (https://docs.tiledb.com/main/solutions/tiledb-embedded/api-usage/array-metadata), be a way to extract information about what fragments should exist?

[2020-11-05 21:28] nalinigans commented on #6910
No, that won't work as that is something else altogether. We do have some experimental GenomicsDB-R bindings, but nothing that would output the array metadata. I can conjure up a tool to do that for you, what flavor of OS are you running on?

[2020-11-05 21:37] bbimber commented on #6910
our cluster is centos7, but i could work with whatever you're able to most efficiently create. we really appreciate the help here.

[2020-11-05 23:47] nalinigans commented on #6910
Please find the print_array_schema executable [here](https://github.com/GenomicsDB/GenomicsDB/releases/download/v1.3.1/print_array_schema). You may have to do a `chmod +x print_array_schema` after downloading.
[code]
This will print out all the information for the array, it does not know anything about the fragments. Look at the `Types` printed out by the tool. Each fragment should have `__book_ke

[2020-11-05 23:49] nalinigans commented on #6910
Fragment names are uniquely created everytime.

[2020-11-06 00:03] bbimber commented on #6910
@nalinigans Thanks - i have run the tool but I'm not entirely certain where I should focus. I understand what it's saying about the expected files within each fragment directory. So I could (and in the process of) counting the set of files per fragment. For our workspace, we expect 39 files/fragment. Checking the presence of those files is in the same lines as testing if  __coords.tdb exists.

The

[2020-11-06 00:21] mlathara commented on #6910
So here's what you should do to clean up your workspace:
- first, delete any fragment that doesn't have the full complement of 39 files that it is supposed to have
- next, if there are any duplicate fragments delete all but one. it doesn't matter which one you delete, the fragments have identical data (make sure this is the case by checking md5sums for ALL files in the duplicate fragments). As an

[2020-11-06 00:45] bbimber commented on #6910
@mlathara thanks, but one additional question. what occurs is --consolidate runs on a folder that contained additional, redundant/identical arrays? I ask b/c some of our jobs finished already on folders that I am fairly certain contained redundant arrays, but they completed w/o error.

[2020-11-06 00:49] mlathara commented on #6910
If consolidate ran without issues, that array/contig folder didn't have any fragments that were incomplete. And yes, the duplicates were consolidated down so everything should be fine.

I should add, my last bullet about sanity checks regarding number of fragments does not apply to consolidated arrays. Those will, of course, only have a single fragment.

[2020-11-06 02:10] yangyxt commented on #3429
I'm using GATK 4.1.8.1. And I found a similar error when trying to use GenotypeGVCFs to consolidate genotyping variants on chrX. It does not give any error message. It silently fails. BTW, I'm dealing with WES data.

This is the code I used:
# For GenomicDBImport, I randomly select 50 samples from our history samples(using the same probe set) along with the current batch.
time ${gatk} --java-optio

[2020-11-06 12:10] ertanyilmaz38 opened #6941 "How to use all core on GATK tools?"
Hello, I use GATK tools quite often in my daily work life. I use quite a lot of sample data every time I use it. The fact that GATK tools use a single core causes analysis processes to take quite a long time. Although I command --java-options "-Xmx32G -XX:ParallelGCThreads=8" to GATK tools, GATK tools slow down the process by using only one thread instead of using 8 threads. How can I get GATK too

[2020-11-06 16:42] fleharty commented on #6941
The option  -XX:ParallelGCThreads=8 will not increase the number of threads GATK uses.  That increases the number of threads available to the JVM garbage collector, and this will not speed up your jobs.

I suggest taking a look at the GATK forums, the following two articles are good starting points for running your jobs in parallel.

Pipelining GATK with WDL and Cromwell
https://gatk.broadinstitut

[2020-11-07 00:22] alanhoyle commented on #6926
As an aside, I downloaded the gnomAD VCFs locally using gsutil, modified the `gnomAD_exome.config` to refer to them and it works:

[code]

[2020-11-08 14:37] bbimber commented on #6910
Based on the thread above, we identified and removed any fragments (there were 3 total) that lacked all the expected files. The primary chromosome jobs had been running fine, but most are eventually hitting this 'bad_alloc' error. Does this suggest a memory issue?  There is not much else information printed. One example log is below. Note: these jobs are run on a slurm cluster with the following j

[2020-11-09 19:07] #6941 closed

[2020-11-09 19:13] droazen commented on #6938
@ldgauthier Do you know anything about the change described above (from 0 to `.` for the AF annotation)?

[2020-11-09 19:23] droazen commented on #6926
@alanhoyle Can you tell us whether the 400 Bad Request error is repeatable -- did you see it more than once? Oftentimes when accessing cloud data we encounter transient errors like this that go away on their own.

[2020-11-09 19:31] droazen commented on #6463
@cwhelan Do your existing phasing PRs have any bearing on this ticket?

[2020-11-09 19:34] bbimber commented on #6910
While most jobs have been failing with an error like the above, chr8 gave the following. Does this also suggest a memory  issue, based on Z_MEM_ERROR: https://zlib.net/manual.html?

07 Nov 2020 08:34:25,100 DEBUG:     08:34:24.941 INFO  GenomicsDBImport - Done importing batch 3/4
07 Nov 2020 08:34:29,847 DEBUG:     08:34:29.847 INFO  GenomicsDBImport - Importing batch 4 with 33 samples
08 Nov 2020

[2020-11-09 19:45] nalinigans commented on #6910
@bbimber, yes they are both memory issues - the GenomicsDBImport native layer is getting memory starved! You mention `-Xmx104g -Xms104g -Xss2m` with `24` left for the native layer. Is it possible to allocate more memory to the native layer by reducing -Xmx -Xms options? Also, what is the exact gatk command? Are you also doing a consolidate as part of this command?

[2020-11-09 20:43] alanhoyle commented on #6926
It happened multiple times over the course of a couple days.  Since I
downloaded the full gnomad exome data locally, I haven't tested again.

--
  -  Alan Hoyle  -  alan@alanhoyle.com  -  http://www.alanhoyle.com/  -

On Mon, Nov 9, 2020 at 2:23 PM droazen <notifications@github.com> wrote:

[2020-11-09 21:00] jonn-smith commented on #6926
OK, sounds good. Something may have changed out from underneath us as far as the gnomAD data goes.  We'll look into it.

[2020-11-09 21:37] bbimber commented on #6910
Yes, that is easy to do. The guidance on how much memory to leave wasnt clear on the docs. Is there a rule of thumb on how much we should leave? We can do whatever makes sense.

the command is something like:

[code]

[2020-11-09 21:57] bhanugandham opened #6946 "Track GATK Usage Metrics"
1. We need a script to take snapshots of the [GATK total downloads page](https://somsubhra.com/github-release-stats/?username=broadinstitute&repository=gatk) every month and report the number of times each release was downloaded.
2. We should change the GATK download link on [this page of the GATK website](https://gatk.broadinstitute.org/hc/en-us)  and have it point at a script that records the IP

[2020-11-09 21:59] bhanugandham commented on #6946
@droazen please let me know if there is more info required. As discussed on the call we should also brainstorm ideas for best ways to store this information.

[2020-11-09 22:20] nalinigans commented on #6910
Thanks @bbimber. Can you run the command without the `--consolidate` option? We will be working on a `--consolidate-only` option for `gatk GenomicsDBImport` soon, but can provide you a standalone tool to perform only the consolidation later today. Is that OK?

[2020-11-10 02:15] woaishiye opened #6948 "Exception in thread "Thread-1" htsjdk.samtools.util.RuntimeIOException: java.nio.file.NoSuchFileException: Rlib.7359270660945146060"
### Instructions
GATK version: 4.1.1.0-VariantRecalibrator-ApplyVQSR

I am using VariantRecalibrator and ApplyVQSR to do VQSR for my variant set, and below is my complete scripts:
java -Xmx3990m -Djava.io.tmpdir=/gss1/home/ldl20190322/a_haoxiaoshuai/JavaTmpDir -jar /gss1/home/ldl20190322/a_haoxiaoshuai/z_software/gatk/gatk-4.1.1.0/gatk-package-4.1.1.0-local.jar VariantRecalibrator -R Gmax_275_v2.0

[2020-11-10 04:42] nalinigans commented on #6910
Please find the standalone consolidation tool [here](https://github.com/GenomicsDB/GenomicsDB/releases/download/v1.3.1/consolidate_genomicsdb_array). The usage is `consolidate_genomicsdb_array <genomicsdb_workspace_path> <array_name>`, for example `./consolidate_genomicsdb_array ~/my_ws/ "20\$1\$63025520"`

[2020-11-10 16:21] ldgauthier commented on #6938
@pbrennan13 is there a typo in your example output?  The AF in both outputs looks fine to me.

[2020-11-10 16:26] pbrennan13 commented on #6938
I don't think so. The 4.1.6 example shows 0/2:33,0,35:0.515,0 ("0.515,0" being the AF), while the 4.1.7 example shows 0/2:33,0,35:0.515,. ("0.515,." being the AF)

This substitution of '0' for '.' is what is causing the issue.

Thank you for your help.

[2020-11-10 17:06] djb17 opened #6950 "GenomicsDBImport disk quota exceeded error"
----

## Bug Report

### Affected tool(s) or class(es)
GenomicsDBImport

### Affected version(s)
- [X] Latest public release version [4.1.9.0]
- [ ] Latest master branch as of [date of test?]

### Description
[TileDB::FileSystem] Error: (write_to_file) Cannot write to file; File opening error; path=/storage/home/data/gendb/chr13/.__7a3cf8dc-ea9d-4bf9-9e33-c87b91d94b0546913384130304_1605025432087/R

[2020-11-10 21:17] ldgauthier opened #6952 "Revert GGVCFs PGT correction in light of better PGT/PID definition"
There is a point where GenotypeGVCFs corrects PGTs of 0|1 or 1|0 for homozygous variant events, but they do contain different haplotypes in some cases.  Revert this "correction" so we don't lose/falsify haplotype information.

As discussed in #6937:
Under the model assumed by this code, the phaseGT in the code and PGT format field on each genotype can be interpreted as being an indicator of which

[2020-11-10 21:21] ldgauthier opened #6954 "Clarify PGT defintion"
Update the PGT FORMAT header as discussed in #6937:

PGT format field on each genotype can be interpreted as being an indicator of which of the two phased haplotypes in the sample contains the site-specific alternate allele at the site

See also #6220 and #6952

[2020-11-10 21:23] DanielAmsel commented on #5777
@jonn-smith - sorry for the late response, I was checking if I could find an error on my side.

Currently I receive this result for an IDH2 R172 mutation. Interestingly, the dbSNP id is leading to the right variant.
[code]

It seems that it does not matter if I choose hg19 oder 38.

I used `funcotator_dataSources.v1.7.20200521s` as reference.
The call for hg38 was (I slightly shortened it for read

[2020-11-10 21:24] ldgauthier commented on #6938
Sorry, I was looking at allele frequency in the INFO field, not allele fraction in the FORMAT field.  Are these Mutect2 GVCFs?

[2020-11-10 21:25] pbrennan13 commented on #6938
Nope. These are from HaplotypeCaller.

[2020-11-11 02:58] jonn-smith commented on #6926
I have tested this with a fresh `gcloud` client and have not been able to reproduce the error.

I did find an article from someone else who got the `400: invalid_grant` error: https://blog.timekit.io/google-oauth-invalid-grant-nightmare-and-how-to-fix-it-9f4efaf1da35

The long and short of it is that it's an authentication issue.  Can you verify that the authentication you're using on the terminal

[2020-11-12 23:34] gbrandt6 commented on #6701
A user reported this same issue and the error message does not give any location information in GATK 4.1.9.0 with VariantRecalibrator.
[Link to the forum post](https://gatk.broadinstitute.org/hc/en-us/community/posts/360074618292-New-version-of-GATK-leads-to-VariantRecalibrator-error-?page=1#community_comment_360013419291).
Here is the message:
[code]

[2020-11-13 00:01] mlathara commented on #6950
Are you sure that there is enough space? Could you run something like:

[code]
And check that available space is in line with your expectations? Also, is there any user specific quota being enforced on your system?

Not completely sure, but another possibility is that you have too many (fairly small) intervals in your `chr13.bed` file. Unless you are specifically trying to exclude intervals not in

[2020-11-13 15:35] ldgauthier opened #6956 "IntervalUtils::loadIntervals gives bad error on missing .interval_list file"
A Picard-style .interval_list file is a feature file, but FeatureManager.isFeatureFile also checks its existence, which means a feature file path that is missing gets (unsuccessfully) parsed as an interval string literal and throws a misleading exception:
org.broadinstitute.hellbender.exceptions.UserException$MalformedGenomeLoc: Badly formed genome unclippedLoc: Query interval "missing_file.interv

[2020-11-13 17:00] ldgauthier opened #6957 "Bad sequence dictionaries in gCNV test data"
Now that there's more rigorous sequence dictionary validation a bunch of dictionaries don't jive with the reference, especially files of the form src/test/resources/org/broadinstitute/hellbender/tools/copynumber/gcnv-postprocess/shard_0-calls/interval_list.tsv

[2020-11-13 17:18] samuelklee commented on #6957
Aren't those consistent with the count files in src/test/resources/org/broadinstitute/hellbender/tools/copynumber/gcnv-sim-data/?

See some possibly related discussion in https://github.com/broadinstitute/gatk/issues/6924

However, it's possible that test data needs resyncing more generally, including the model/call files used in the WDL tests.

[2020-11-13 18:33] ldgauthier commented on #6957
Those dictionaries in the counts are the same, so they agree with the calls and the model shards, but they don't agree with the reference. I have seen no reference where chromosome 1 is smaller than chromosome 2.

[2020-11-13 18:51] samuelklee commented on #6957
These are count files with simulated counts according to the gCNV model, and are used as the primary inputs to generate the rest of the test files downstream. The dictionary is fictional and immaterial, so long as it is carried forward consistently from the count files to downstream outputs---you could pretend that we started with simulated BAMs that were all aligned w.r.t. this fictional referenc

[2020-11-13 18:58] samuelklee commented on #6957
Just to provide additional context, all of the machinery in the AbstractRecordCollection classes for reading/writing CNV input/output TSVs was meant to make passing metadata (dictionaries, sample names, etc.) from tool to tool as automatic and consistent as possible. This avoids having to re-provide sample names, dictionaries, etc. at each tool/step---which often led to dictionary inconsistencies,

[2020-11-13 21:40] ldgauthier commented on #6957
This is very useful test data, but the fact that the sequence dictionary doesn't match any known reference precludes it from being used with some other tools.  If it's easier to construct a fake reference that goes with these, then we could do that.

[2020-11-13 22:35] samuelklee commented on #6957
If that's the case, it might indeed be worth switching dictionaries/contigs to something real. You can probably shift the interval starts/ends as well, if you need them to overlap in some way with other test data, but I'd keep the split by contig and the bin sizes the same.

[2020-11-13 23:21] samuelklee commented on #6957
Hmm, now that I look at the code, I confused myself at some point about whether PostprocessGermlineCNVCalls allows overriding of the dictionary---ignore all the rigmarole about point 4 on the other issue, I think there actually isn't any code change we need to revert. (Guess this is what happens when looking at code/issues across the appropriate combination of paternity leave, weekends, and Friday

[2020-11-15 05:12] cheche0717 commented on #5912
hello , I met the same problem! I am a fresh . So I don't understand what above metioned .  I would like to know what happened with this . Looking forward everybody's reply ! Thanks very much!!!

Here is my command

`gatk HaplotypeCaller -R /home/variation/202011/input/NCTC11134/fasta/N.far_NCTC11134.fa  --emit-ref-confidence GVCF -I CD142.sorted.markdup.bam -O CD142.g.vcf`

here is reported error

[2020-11-15 05:20] cheche0717 commented on #5912
Could you help me with the same problem ? Thank you very much ! I would like to know what happened with this and how i do next step . i am a fresh .

[2020-11-15 06:33] cheche0717 commented on #4691
hello , i met the warning message:
`DepthPerSampleHC - Annotation will not be calculated, genotype is not called or alleleLikelihoodMap is null`
 `WARN:StrandBiasBySample - Annotation will not be calculated, genotype is not called or alleleLikelihoodMap is null`

could you help me ? i just am a fresh . So i don't know what should i do next step and why it reported some warning messages.
Thank you

[2020-11-15 17:53] djb17 commented on #6950
I double checked the scratch space so I'm not sure if that was the issue unless the server is incorrectly displaying the storage information.

My `.bed` file had around 4,400 so I'm not sure if that would count as many, but I do observe a large number of files that are generated in the path I specify with `--genomicsdb-workspace-path` before `GenomicsDBImport` crashes.

What I was intending to do

[2020-11-15 19:08] moldach opened #6960 "VariantFiltration not working on HaplotypeCaller output"
## Bug Report

### Affected tool(s) or class(es)

`VariantFiltration` not working on `HaplotypeCaller` VCF.

### Affected version(s)

### Description

Where a line of the VCF file looks like:

[code]
The following filter is applied:

[code]

However, the same record remains in the output file, despite it's `MQ=30.51`?

[2020-11-15 19:13] moldach commented on #6960
[Documentation could also use updating](https://gatk.broadinstitute.org/hc/en-us/articles/360036834871-VariantFiltration) as it recommends:

* `--filterExpression`
* `--filterName`

When the new params are actually named:

* `--filter-expression`
* `--filter-name`

[2020-11-15 20:49] moldach commented on #6960
Found out you need to use `grep -E '^#|PASS'` in order to subset those that passed; however, this was [from a blog](https://evodify.com/gatk-in-non-model-organism/) and not the link to the official documentation above.

[2020-11-16 17:51] #6776 closed

[2020-11-16 19:02] alanhoyle commented on #6926
I was able to download the  gnomAD VCFs with a gsutil cp command within a
couple hours of the remote funcotator failures.

--
Alan Hoyle - alan@alanhoyle.com - alanhoyle.com
------------------------------
*From:* Jonn Smith <notifications@github.com>
*Sent:* Tuesday, November 10, 2020 9:59:06 PM
*To:* broadinstitute/gatk <gatk@noreply.github.com>
*Cc:* Alan Hoyle <alan@alanhoyle.com>; Mention <men

[2020-11-16 23:47] karenfeng opened #6962 "Limit number of alternate alleles when merging variant contexts"
## Feature request

### Tool(s) or class(es) involved

[ReferenceConfidenceVariantContextMerger](https://github.com/broadinstitute/gatk/blob/master/src/main/java/org/broadinstitute/hellbender/tools/walkers/ReferenceConfidenceVariantContextMerger.java)

### Description

In the case that VariantContexts with too many alternate alleles are passed to the joint genotyper, the genotype calculator used i

[2020-11-17 16:18] gbrandt6 opened #6963 "VariantRecalibrator Reference alleles not same position error message"
## Bug Report

### Affected tool(s) or class(es)
VariantRecalibrator

### Affected version(s)
-All versions after 4.1.4.1, including 4.1.9.0

### Description
A user on the forum reported an error message that does not give position information when reporting an allele problem in the reference. A similar issue in FilterVariantTranches was previously discussed at #6701 however the fix only changed F

[2020-11-17 16:49] ldgauthier commented on #6960
@moldach You'll note that the documentation link you provided was from 4.0.5.1, which reflects the correct arguments for that version.  The documentation for the latest version is correct: https://gatk.broadinstitute.org/hc/en-us/articles/360050815032-VariantFiltration

I would not expect your example variant to be filtered since our filters are designed to filter OUT variants, so the filter "my_f

[2020-11-17 16:49] #6960 closed

[2020-11-17 16:59] ldgauthier commented on #5912
@cheche0717 there hasn't been a release since the warnings were updated, but you can build a new jar yourself off of the master branch in the github repository or use the nightly Docker: https://hub.docker.com/r/broadinstitute/gatk-nightly

[2020-11-17 17:55] ldgauthier commented on #6938
Can you share the HaplotypeCaller commandline?

[2020-11-17 18:05] pbrennan13 commented on #6938
Just to clarify, the issue described was not in the gVCF produced by HaplotypeCaller. The issue appears to be introduced during the GenotypeGVCF step.

Below is our HaplotypeCaller Command:

gatk HaplotypeCaller -I {input_bam} -O {output_gvcf} -R {ref} \
--pair-hmm-implementation AVX_LOGLESS_CACHING --emit-ref-confidence GVCF --max-reads-per-alignment-start 0 \
--dbsnp {dbsnp} -L {region}  \
-A Al

[2020-11-17 18:07] ldgauthier commented on #3429
@yangyxt are your X calls all diploid?

If you look inside the genomicsdb workspace directory there should be subdirectories with names like `chrX$6737480$13895201` for the intervals they cover.  Do you see anything starting with chrX?

[2020-11-17 18:58] fleharty opened #6965 "Make sure Mutect2 Whitepaper is up to date on filter names"
## Documentation request

### Tool(s) or class(es) involved

In the document `docs/mutect/mutect.pdf` there are many references to filter names that have either changed or used shorthand names.  We should update the documentation to reflect the actual filter names used in Mutect2.

Some examples:
"fragment_length" in the document refers to "fragment" filter.
"duplicate_evidence" as "duplicates"
"b

[2020-11-17 20:28] ldgauthier commented on #6962
Hi @karenfeng ,

Sorry about the problem, but I really like your suggestion.  What would you want the expected behavior to be?  The site is dropped entirely and a warning is written to the log?  Would it be acceptable if the PLs were dropped, but the rest of the variant was retained?

[2020-11-17 20:36] karenfeng commented on #6962
Thanks for the quick response @ldgauthier! I think either behavior makes sense; the former is consistent with the genotyping engine, so I have a slight preference in that direction.

[2020-11-17 20:44] droazen commented on #5912
Reopening since https://github.com/broadinstitute/gatk/pull/6891 is not yet merged

[2020-11-18 09:03] zhangxiaojian-zxj commented on #6616
i have meet the same question .  l want to know how to cue this question ? my sincere apologies

[2020-11-18 09:03] zhangxiaojian-zxj commented on #6616
i have meet the same question . l want to know how to cue this question ? my sincere apologies

[2020-11-18 19:53] davidbenjamin commented on #6931
@pbrennan13 after #6858 goes in I can apply a similar fix to the other annotations.  Are you sure that `AS_MQ` and `AS_ReadPosRankSum` are problematic?  They seem to be correctly described as length-A lists of floats.

[2020-11-18 19:58] davidbenjamin commented on #6202
@gbrandt6 This is a different issue.  It looks similar but it occurs in a different part of filtering.

[2020-11-18 20:00] davidbenjamin commented on #6850
@gbrandt6 I will need all the inputs to FilterMutectCalls to debug this.

[2020-11-18 20:05] gbrandt6 commented on #6850
I have just asked the user for a bug report and will let you know when it is available.

[2020-11-18 20:12] davidbenjamin commented on #6830
Closed by #6879.

[2020-11-18 20:12] #6830 closed

[2020-11-18 20:56] ldgauthier commented on #6927
GATK forum docs mentioning hdfview are:
https://gatk.broadinstitute.org/hc/en-us/articles/360035531712-HDF5-format
https://gatk.broadinstitute.org/hc/en-us/articles/360035889651-Are-there-any-Broad-specific-instructions-for-using-GATK-

Maybe @gbrandt6 can take care of those?

[2020-11-19 14:49] ldgauthier commented on #6825
@woaishiye are you able to provide the information above?

[2020-11-19 14:51] ldgauthier commented on #6813
I might have a working MacOS conda environment, but I haven't run all the python tools.  Resolving packages got a lot harder (maybe impossible) after Sam integrated the R dependencies, so my environment branches off the old one.

[2020-11-19 15:06] #5912 closed

[2020-11-19 15:07] samuelklee commented on #6813
I’d suggest starting with unpinning all of the “non-core” ML dependencies and seeing if that yields a workable environment. Then we can either try to resolve versions between the MacOS and Linux environments or accept differences in these dependencies. We might want to change tack if the core dependencies can’t be lined up, though.

[2020-11-19 17:42] bbimber commented on #5439
@cmnbroad I started down this road. i wanted to make sure i follow your reasoning on some of this. I think you propose to change the tool arguments such that each input VCF is tagged by name (like -V:eval vcf1.vcf.gz -V:comp vcf2.vcf.gz), instead of different argument names. This is paired with a change to set the 'source' on each VariantContext to match the name of the source feature context. Unl

[2020-11-19 19:43] fleharty opened #6972 "Mutect2 doesn't filter germline events with alternative representations in gnomad"
#6329  Bug Report

### Affected tool(s) or class(es)
Mutect2 / FilterMutectCalls

### Affected version(s)
- [x] Latest public release version [version?]

### Description

Variants with alternative representations in gnomad are not recognized as being the same as called variants in some cases.  This results in variants that are called and not filtered, but they should be filtered by "germline".

As

[2020-11-19 22:04] ldgauthier commented on #6962
Skipping does look like it would be consistent with what's going to happen downstream anyways.  Do you have some data I can use for testing?

[2020-11-19 22:17] karenfeng commented on #6962
I can't pin down a public dataset with this many real alternate alleles, but in my unit testing with fake alternate alleles `(T, TT, ..., n*T)` I found that the merger encountered an OOM when the number of alternate alleles was 2000. I'm not sure where the exact cutoff is though.

[2020-11-19 23:14] gbrandt6 commented on #6927
@ldgauthier I'll reach out to user education to get those articles updated

[2020-11-20 06:38] davidbenjamin commented on #6727
@fleharty I have a branch that ought to fix this.  Do you have data that reproduce the error?

[2020-11-20 09:15] DanielAmsel commented on #5777
Dear @jonn-smith ,
could you please contact me via eMail for the test-data : Daniel.Amsel@patho.med.uni-giessen.de

I tried another annotation tool and it successfully annotated this mutation as exonic.

[2020-11-20 22:42] ManavalanG commented on #6021
Just wanted to note that, unlike vcf spec 4.2, "Space characters are allowed in values" [as per spec 4.3](https://samtools.github.io/hts-specs/VCFv4.3.pdf).

[2020-11-21 09:34] DanielAmsel commented on #5777
Dear @jonn-smith ,
please find the test data here : https://github.com/DanielAmsel/Funcotator-TestSet-IDH2

With Annovar, the annotation of the R172 mutation in IDH2 worked as exonic.

[2020-11-23 15:46] cmnbroad commented on #5439
@bbimber Yes, I think this is along the lines of what I was previously thinking.

[2020-11-23 19:16] droazen commented on #6948
@woaishiye Could you try running with the most recent GATK release and see if the issue still persists? This issue with the temp file deletion shutdown hook was believed to be fixed a number of releases ago.

[2020-11-23 19:20] droazen commented on #6564
Closing -- this was fixed in GATK 4.1.9.0.

[2020-11-23 19:20] #6564 closed

[2020-11-23 20:17] mlathara commented on #6950
@droazen I think this can be closed since @djb17 indicated that he was able to import without error after merging intervals.

@djb17 if you absolutely need your analysis to reflect only the intervals your specify in your bed file, then you can either pre-process the gvcf files (VariantFiltration or bcftools or the like) to only leave those intervals in there or maybe specify the intervals argument

[2020-11-24 04:17] zaneChou1 opened #6978 "Update numpy\scipy\pymc3 python package"
## Update numpy\scipy\pymc3 python package

### Tool(s) or class(es) involved

python\gcnvkernel
python\vqsr_cnn

### Description
 want to use the newer numpy 1.19.4, but I found that gatk uses conda-force to install the older numpy 1.17.5, and it is not allowed to upgrade numpy because of scipy version restrictions. And scipy cannot be upgraded because of the version limitation of pymc3.

I think

[2020-11-24 11:12] cboursnell commented on #6476
Any ideas on this? I'm still including a hacky cludge in my filters to remove these variants

[2020-11-24 14:16] samuelklee commented on #6978
Hi @zaneChou1,

Thanks for filing the issue---I'm actually working on this at the moment.

The gCNV python code requires some updating, since the APIs for inference changed after the pymc3 version we use (which is the primary reason we stuck with it). Because the changes required go beyond those in the PR you opened, I'll go ahead and close it, but thanks for making the effort to help us keep thin

[2020-11-24 15:02] #6322 closed

[2020-11-24 15:54] bbimber commented on #6910
@nalinigans the set of jobs was ultimately able to work. While our issues with duplication and bad fragments are most likely our fault, any future improvements to GenomicsDbImport to detect and/or fix these would be useful. Thanks for all your help on this front.

[2020-11-24 15:54] #6910 closed

[2020-11-24 15:54] bbimber commented on #6895
Thanks for all your help here.

[2020-11-24 15:54] #6895 closed

[2020-11-24 15:55] #6558 closed

[2020-11-24 15:55] #6557 closed

[2020-11-24 16:25] droazen commented on #6950
Closing as resolved

[2020-11-24 16:25] #6950 closed

[2020-11-24 20:33] #6882 closed

[2020-11-24 21:12] #6915 closed

[2020-11-25 11:18] berguner commented on #6931
We also experienced problems with the wrong number attribute for the `AS_SB_TABLE` and `AS_FilterStatus` annotations.

Besides the number attribute, `AS_SB_TABLE` has a non-standard field separation; it uses `|` to separate alleles and comma to separate values for each allele. AFAIK, the common practice is using the comma as the primary delimiter to separate alleles and other delimiters would be u

[2020-11-25 16:03] samanthahv commented on #6289
Another user reported having the same issue with gatk 4.1.7.0

[2020-11-25 18:32] genomika-2020 opened #6981 "autosomal-coverage argument does not work in FilterMutectCalls (gatk version 4.1.9.0)"
Autosomal coverage argument is not recognized by the FilterMutectCall (gatk 4.1.9.0), but is described in tool website documentation.
[code]
What would be a better option: to omit this argument or to use earlier version of gatk for mitochondrial variant filtering?

Best,
Kasia

[2020-11-28 08:31] zaneChou1 commented on #6978
@samuelklee Thank you for updating the gCNV python code.

I also want to participate in this work, and I have also updated some gCNV python packages locally.
If there is any need, I am happy to complete it.

[2020-11-28 12:37] samuelklee commented on #6978
@zaneChou1 I’ve reopened your PR, so you can push your additional changes there if you like and I can take a look.

[2020-11-30 17:07] ldgauthier commented on #4691
@cheche0717 If you post on the forum (https://gatkforums.broadinstitute.org/gatk/) someone can help explain the warnings.

[2020-11-30 17:12] ldgauthier commented on #6021
While 4.3 support is on our roadmap, GATK doesn't currently support anything more recent than 4.2.

[2020-11-30 19:43] ldgauthier commented on #6952
But do drop phasing for hom ref sites so users aren't confused.

[2020-12-01 14:34] cmnbroad opened #6984 "outputIndex argument behavior in generated WDL"
Originally reported as https://github.com/broadinstitute/gatk-tool-wdls/issues/1. Tracking this here until we figure out the governance and permissions for the [gatk-tool-wdls](https://github.com/broadinstitute/gatk-tool-wdls/) repo:

For example in CombineGVCFs.wdl one can see indexOutput as optional input argument:

[code]
(first of all, outputIndex is not required, since it's a String?....but t

[2020-12-01 15:21] cmnbroad commented on #6984
The WDL *input* parameter for any tool argument that is the name of a file that is *created* by the tool has WDL type `String` because if the input parameter were typed as `File`, cromwell would attempt to localize the (most likely non-existent) file at the start of the task. However, in the output block, the parameter has to have type `File` for the reverse reason; if it were `String`, it wouldn'

[2020-12-01 18:26] ldgauthier commented on #6938
It's weird that the AF originally came out as `0` not `0.0` or anything with more precision.  I bet it's a parsing issue because there's no decimal.  I'm pretty sure I know where to look.  Although htsjdk will pretty-print a zero double as `0.00`, so I'm leaning toward making a change in the AlleleFraction annotation code as well.

[2020-12-02 00:52] yfarjoun commented on #6984
seems like it should be easy to have a GATK tool called GetFileIndexName that will return the name in a way that can be used in scripting...so that the task could look something like

[code]

[2020-12-02 16:18] ldgauthier commented on #6938
@pbrennan13 can you get me this same site from proband_mother_duo.HC.g.vcf.gz ?  Were the samples combined using CombineGVCFs?

[2020-12-03 09:29] chaoyanggu opened #6988 "cannot view the vcf files of the official website"
hi, I downloaded the hg38 database from the following URL two months ago, which contains some known sites of vcf files such as snp and indel;
https://gatk.broadinstitute.org/hc/en-us/articles/360035890811；GATK resource bundle
 But now I found that the contents of these vcf files cannot be viewed. I think the vcf files should  be viewed under normal circumstances; now I want to restart download the

[2020-12-03 13:51] pbrennan13 commented on #6938
Yep! I used CombingGVCFs.

Here is the command I used:
gatk CombineGVCFs --variant proband.HC.g.vcf.gz --variant mother.HC.g.vcf.gz -R hs38DH.fa --dbsnp dbsnp151_common.hg38.vcf.gz -O proband_mother_duo.HC.g.vcf.gz

Here is the site:
chr4    83598622        .       AT      ATT,ATTT,A,<NON_REF>    .       .       BaseQRankSum=1.26;ClippingRankSum=0.074;DP=145;ExcessHet=3.01;GQ_MEAN=625.00;Likelihoo

[2020-12-03 16:07] ldgauthier commented on #6988
The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).

[2020-12-03 16:07] #6988 closed

[2020-12-07 12:49] ihkupallero opened #6990 "SelectVariants fails with no errors"
I am running Gatk SelectVariant with -L and -ip options to filter out variants that are not inside my bed defined region +- interval padding. I am running gatk version 4.1.0.0 and for some of my task fails and returns rc 1 but there is no clear error message on any logs.

Task seems to end prematurely but I can not find out why. Also output file is generated but it only has variants from chr 1 eve

[2020-12-07 22:14] gbrandt6 opened #6992 "HaplotypeCaller or htsjdk improved error message for long contigs"
## Bug Report

### Affected tool(s) or class(es)
HaplotypeCaller

### Affected version(s)
No version information yet, [here is the forum link](https://gatk.broadinstitute.org/hc/en-us/community/posts/360075181171-HaplotypeCaller-Shutting-down-engine-Encountering-a-large-genome) for information.

### Description
A user wrote into the forum with an error message while HaplotypeCaller was creating th

[2020-12-08 16:11] jonn-smith commented on #5777
@DanielAmsel @fpbarthel
An update on this - for some test data Daniel sent me, Funcotator is choosing transcript `ENST00000559482.1`.  For this transcript there are several exons that are not expressed, leading to `intron` annotations. This is in `CANONICAL` transcript selection mode.

For example, the locus `chr15:90631830` is intronic in that transcript:

![image](https://user-images.githubuserc

[2020-12-10 02:02] samuelklee opened #6994 "Possibly inaccurate warning about mismatching parameter configs in PostprocessGermlineCNVCalls."
PostprocessGermlineCNVCalls performs a check of the denoising/calling hyperparameter configs used to generate the model in GermlineCNVCaller cohort mode against those used to generate the case-mode result passed to PostprocessGermlineCNVCalls. However, although some of these hyperparameters are not exposed in case mode (since they have no effect on the sample-level parameters inferred in case mode

[2020-12-10 17:03] samuelklee opened #6995 "Disk space variables inconsistently exposed in gCNV WDLs."
For example, contig-ploidy disk space is exposed only in case mode. Variable names are somewhat inconsistent, too (`disk_space_*` vs. `disk_space_gb_*`).

[2020-12-10 17:19] hurleyLi commented on #2092
Hi all, just want to follow up with this issue. Does GATK officially support v4.3 yet? Thanks

[2020-12-11 07:20] woaishiye commented on #6825
@ldgauthier  I can not make sure that the input bam files are the same, because they are too big (42.33Gb for one bam), and i can not think of good method to make a complete comparison between the two bams.
yes, i used the BWA-MEM to map my clean reads onto the reference.

Because the differences mainly shows up in the scaffold results, which have no impact on my study, i just need the chromosome

[2020-12-11 17:36] cwhelan commented on #5651
Fixed via https://github.com/broadinstitute/gatk/pull/6937

[2020-12-11 17:36] #5651 closed

[2020-12-14 14:13] Mathieu179 opened #6996 "FilterMutectCalls "Duplicate key" error"
### Instructions

The github issue tracker is for bug reports, feature requests, and API documentation requests. General questions about how to use the GATK, how to interpret the output, etc. should be asked on the [official support forum](http://gatkforums.broadinstitute.org/gatk).
- Search the existing github issues to see if your issue (or something similar) has already been reported.  If the i

[2020-12-14 16:35] cmnbroad commented on #6990
@pupgen I can't see anything obvious from the log, but some of the log messages seem to not be in the order I would expect.
The GATK version you're running is almost 2 years old, and there have been quite a few releases since then. Can you reproduce this behavior with GATK 4.1.9 ? If so, can you include a log from that ?

[2020-12-14 16:58] cmnbroad opened #6997 "AlleleFrequencyQC needs cleanup"
The AlleleFrequencyQC tool subclasses VariantEval, but doesn't provide it's own tool annotations, so it inherits VariantEval's `@BetaFeature` status and command line description. It also appears to directly clobber several of the command line argument values provided by the user, including the name of the output file.

It should have its own `@CommandLineProgramProperties` and `@BetaFeature/@Exper

[2020-12-14 19:33] cmnbroad commented on #2092
@hurleyLi It is supported for read, but not write, which means that GATK will still write out v4.2 file.

[2020-12-14 20:12] takutosato opened #6998 "SelectVariants fails on multi-allelic variants"
## Bug Report

### Affected tool(s) or class(es)
SelectVariants

### Affected version(s)
- [ ] Latest public release version [version?]
- [x] Latest master branch as of Dec 14, 2020

### Description
I believe SelectVariants doesn't handle multi-allelic sites, which have more than one value per INFO field. The problem seems to be in coercing values like 0.00022456 and 2.496e-05 (note the decimal an

[2020-12-15 10:18] hkarakurt opened #7000 "Missing values as points in BaseQRankSum, MQRankSum and ReadPosRankSum"
Hello everyone,
We had a WES data and we used GATK best practices after BWA-Mem and Picard. But in the final file we have "." for some metrics. I could not find any information about this problem. They are not 0, NA or Null, there is only a point.
We have them for BaseQRankSum, MQRankSum and ReadPosRankSum metrics.
For example:

Chrom | Pos | Ref | Alt | Qual | BaseQRankSum | DP | FS | MQ | MQRank

[2020-12-15 13:44] U201412486 opened #7001 "java.lang.NullPointerException when running MarkDuplicatesSpark with "--read-name-regex null""
Hi,
  I run the code below to to skip optical duplicate detection during marking duplicate.
`java -Dsamjdk.use_async_io_read_samtools=false -Dsamjdk.use_async_io_write_samtools=trueDsamjdk.use_async_io_write_tribble=false -Dsamjdk.compression_level=2 -jar /gatk-4.1.8.0/gatk-package-4.1.8.0-local.jar MarkDuplicatesSpark --spark-master local[28] --conf spark.local.dir=/datatmp/ -I ./A.sort.bam -O ./

[2020-12-15 15:13] jamesemery commented on #7001
@U201412486 Thanks for reporting this! It looks like the issue was the `--read-name-regex null` not working with spark. I have a patch to fix it but in the meantime you should be able to run without nulling out the regex and it should fail gracefully and simply ignore counting OpticalDuplicates for reads that don't conform to the default regex.

[2020-12-15 17:24] Mathieu179 commented on #6996
The mistake disappears when I only use one normal tissue at a time. Do I have to fuse my normal tissues before the Mutect2 analysis?

[2020-12-15 23:27] asmirnov239 commented on #6893
As discussed in #6866, we also need to generate some degenerate artificial data for which the inference does not converge to test for the inference restart.

[2020-12-16 01:30] U201412486 commented on #7001
@jamesemery Thanks for you reply.
  I did not get your idea. I can run without nulling out the regex successfully.Will it ignore counting OpticalDuplicates without nulling out the regex ?

[2020-12-16 15:39] jamesemery commented on #7001
@U201412486 Unfortunately it will still try to call OpticalDuplicates in that case correct (unless the regex doesn't apply to the reads correctly). Optical duplicate marking does not change the regular duplicate marking behavior and primarily gets included in the metrics so it should be possible to simply ignore the outputs. If you really want no reported Optical Duplicates you could also set the

[2020-12-16 22:09] bbimber opened #7005 "Ambiguous REF reported when using GenotypeGVCFs/--force-output with GenomicsDB as input, but not a gVCF"
Hello,

We are using GenotypeGVCFs (GATK version v4.1.8.0) to genotype either WGS or WXS data that have been stored in a GenomicDB workspace. We also use the --force-output argument to force GATK to output genotypes from a whitelist of sites. We ran into a problem where GenotypeGVCFs + --force-output + GenomicDB reports 'N' as the reference genotype for any site not present in the source workspace

[2020-12-17 01:39] U201412486 commented on #7001
@jamesemery That is to say,I can add the parameter of "--duplicate-tagging-policy"  to mark the  optical duplicate. Then I can select the bam file without the  optical duplicate.Is this right?
  Thanks for your reply.

[2020-12-17 09:59] ertanyilmaz38 opened #7006 "AnalyzeCovariates Error "gplots""
/home/detagen/Desktop/programlar/gatk-4.1.8.1/gatk AnalyzeCovariates --before-report-file /home/detagen/Desktop/pipeline/playground//BACKUP/FMF-248_Backup/before.recal.FMF-248.table --after-report-file /home/detagen/Desktop/pipeline/playground//BACKUP/FMF-248_Backup/after.recal.FMF-248.table --plots-report-file /home/detagen/Desktop/pipeline/playground//NECESSARY/FMF-248/AnalyzeCovariates.FMF-248.

[2020-12-17 13:23] jaspez commented on #6714
Dear all,

I’m trying to use the DepthOfCoverage tool with GATK 4.1.9.0. I used the "-gene-list" option but I have a problem obtaining the "_gene_statistics" output. I found this issue and [marta r issue](https://gatk.broadinstitute.org/hc/en-us/community/posts/360067324992-DepthofCoverage-GATK4-1-7-0-gene-list). I thought this problem was solved after GATK 4.1.8.0.

I hope you can help me, thanks

[2020-12-17 13:31] bbimber commented on #7005
A few other observatons/comments:

- There is a second issue: QUAL is 'inf' on those sites where it reports N as the REF.

- When comparing the situation where the input is GenomicsDB vs. a combined gVCF, I think I was told GenomicsDB does some of the aggregation of the fly (in contrast to a combined gVCF, where this aggregation was done by CombineGVCFs ahead of time)? Could that codepath be the p

[2020-12-17 13:46] bbimber commented on #7005
Also, FeatureDataSource.getGenomicsDBFeatureReader requires the reference, but it's never used, apparently:

https://github.com/broadinstitute/gatk/blob/bc0994c180312cdca7afbe45b410b2c6fc312043/src/main/java/org/broadinstitute/hellbender/engine/FeatureDataSource.java#L387

Should something related to GenomicsDBFeatureReader be getting the reference? FeatureData source has an error if it's not prov

[2020-12-17 17:40] genomicsguy commented on #6938
Just wondering if this issue has been resolved? Is it an issue in how the commands are being run?

[2020-12-17 23:32] IdoBar opened #7007 "GenotypeGVCFs stuck at "Initializing engine" step"
## Bug Report
GenotypeGVCFs stuck indefinitely at "Initializing engine" step

### Affected tool(s) or class(es)
gatk GenotypeGVCFs
### Affected version(s)
GATK v4.1.4.1 (installed in a `conda` convironment from the bioconda channel), on a RHEL server 7.6 (Maipo).

### Description
Following the recommended pipeline of HaplotypeCaller, GenomicsDBImport and then GenotypeGVCFs, the last command hangs

[2020-12-18 04:11] aliveben2k opened #7008 "GenotypeGVCFs returns a fatal error."
## Bug Report
When I use output files of CombineGVCFs to run GenotypeGVCFs, it seems no problem at beginning. However,  several hours later, it suddenly shot down. The fatal error occur.

### Affected tool(s) or class(es)
GenotypeGVCFs, only use arguments: -R, -V, -O, -all-sites

### Affected version(s)
GATK4 v4.1.9.0

### Description
#
# A fatal error has been detected by the Java Runtime Environ

[2020-12-18 13:12] IdoBar commented on #7007
Issue solved after updating to the recent version and using the `--genomicsdb-shared-posixfs-optimizations true` flag.

[2020-12-18 13:12] #7007 closed

[2020-12-18 15:07] cwhelan commented on #2031
This is outdated; closing.

[2020-12-18 15:07] #2031 closed

[2020-12-18 16:45] hurrialice opened #7009 "PreprocessIntervals contig start position error?"
Hi,

I have a question about the start position of GATK PreprocessIntervals tool

[code]

But looking at the output file  -

[code]
why does it start at `10001` instead of 1?

The problem also exists for other contigs -
[code]

Thanks for clarification!

[code]

[2020-12-18 16:56] hurrialice commented on #7009
sorry, just realized the `N`s are masked! Thanks!

[2020-12-18 16:56] #7009 closed

[2020-12-18 17:08] gbrandt6 commented on #6714
Hi @jaspez, could you post on the [GATK forum](https://gatk.broadinstitute.org/hc/en-us/community/topics) with more details so we can look into this? The other user was able to solve the problem with GATK 4.1.8.0.

[2020-12-19 20:41] julianhess opened #7011 "Funcotator requires GT field in somatic VCF to output alt/ref counts, but this is unnecessary"
Funcotator will only write alt/ref counts to a MAF inferred from the AD field if the genotype (GT) field is also present in the somatic VCF:

https://github.com/broadinstitute/gatk/blob/febd7cbbd1fc2a631fa9d7dcde52383e3134e88c/src/main/java/org/broadinstitute/hellbender/tools/funcotator/mafOutput/CustomMafFuncotationCreator.java#L74-L76

However, requiring that the GT field be present is unnecessa

[2020-12-19 22:40] julianhess commented on #7011
Nevermind, this is more complicated than I thought and would necessitate re-implementing a lot of functionality in the htsjdk `Variant` class.

[2020-12-19 22:40] #7011 closed

[2020-12-21 16:37] jaspez commented on #6714
Hi @gbrandt6, this is the [post ](https://gatk.broadinstitute.org/hc/en-us/community/posts/360075744271-DepthOfCoverage-in-GATK4-1-9-0-with-gene-list-option) on the GATK forum.

Thanks!

[2020-12-21 18:58] bbimber commented on #7005
One final thing: i'm happy to try to debug this, and was going to write a test case based on the existing GenomicsDB integration tests. However, when I try to run any integration test involving genomicsdb, I get an exception like the following. I am on windows, so perhaps this is the issue?

09:03:37.460 FATAL GenomicsDBLibLoader -
java.io.FileNotFoundException: File /tiledbgenomicsdb.dll was not

[2020-12-21 20:35] ccastane9 opened #7012 "Error: Cannot read from buffer; Error: cannot load book-keeping"
Hello,
I have been using he GenotypeGVCFs function to call variants on roughly 300 whole genome sequenced individuals. I have not run into any issue when calling variants for these same individuals using the majority of chromosomes, however when I use the same script for chromosomes 1, 2 and 3 of the species I get the error "Couldn't create GenomicsDBFeatureReader" as in issue #6616 although I bel

[2020-12-21 22:57] bbimber commented on #6930
@droazen @cmnbroad Thanks this is helpful. Having @Arguments in the plugin helps.

There is one blocker I'm not seeing a way around. In GATK3 the VariantAnnotation and GenotypeAnnotation classes were passed the GATK3 equivalent of FeatureContext. My use case is annotating genoype concordance between the VCF being annotated and another VCF. Within annotate(), I think I would like to call something